Repository redpanda-data/redpanda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @emaxerrno, @redpanda-data/k8s, @redpanda-data/devprod, @benpope, @michael-redpanda, @twmb, @r-vasquez, @gene-redpanda, @Deflaimun, @mmaslankaprv, @redpanda-data/documentation

iceberg: fix decimal type json writer
  src/v/iceberg/datatypes_json.cc
Owners: none

`rptest`: deflake `si_utils` assertion functions
  tests/rptest/utils/si_utils.py
Owners: none

`rptest`: remove unused variable and extra assert statement
  tests/rptest/utils/si_utils.py
Owners: none

datalake/verifier: add ability to override max offset to check
  tests/rptest/tests/datalake/datalake_verifier.py
Owners: none

datalake/tests: test with transactions
  tests/rptest/tests/datalake/transactions_test.py
  tests/rptest/transactions/verifiers/compacted_verifier.py
Owners: none

dt: cloud_storage_props_warn_test
  tests/rptest/tests/cloud_storage_props_warn_test.py
Owners: none

c/tt: Print a warning when topic SI mode is not FULL
  src/v/cluster/topic_table.cc
Owners: none

tests: added iceberg verifiers to random_node_operations_test
  tests/rptest/tests/random_node_operations_test.py
Owners: none

tests: always enable tiered storage in random_node_operations_test
  tests/rptest/tests/random_node_operations_test.py
Owners: none

redpanda: remove datalake bazel build defines
  src/v/datalake/BUILD
  src/v/redpanda/BUILD
  src/v/redpanda/application.cc
Owners: none

chore: removed arrow library dependency
  install-dependencies.sh
  licenses/third_party.md
  src/v/datalake/CMakeLists.txt
  src/v/datalake/arrow_translator.cc
  src/v/datalake/arrow_translator.h
  src/v/datalake/arrow_writer.cc
  src/v/datalake/arrow_writer.h
  src/v/datalake/batching_parquet_writer.cc
  src/v/datalake/batching_parquet_writer.h
  src/v/datalake/errors.h
  src/v/datalake/tests/CMakeLists.txt
  src/v/datalake/tests/arrow_writer_test.cc
  src/v/datalake/tests/batching_parquet_writer_test.cc
  src/v/datalake/tests/gtest_record_multiplexer_test.cc
  src/v/datalake/tests/parquet_writer_test.cc
  src/v/datalake/tests/translation_task_test.cc
  ubsan_suppressions.txt
Owners: @redpanda-data/devprod, @emaxerrno

ducktape: applied formatting to bash scripts
  tests/docker/ducktape-deps/ocsf-server
Owners: @redpanda-data/devprod

c/migrations/frontend: check license on migration create
  src/v/cluster/data_migration_frontend.cc
  src/v/cluster/data_migration_frontend.h
Owners: none

c/migrations/frontend: only remember the local instance of components
  src/v/cluster/data_migration_frontend.cc
  src/v/cluster/data_migration_frontend.h
Owners: none

tests/migrations: check behaviour when there's no enterprise license
  tests/rptest/tests/data_migrations_api_test.py
Owners: none

partition_allocator: Move memory check out of check_limits
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/cluster/scheduling/partition_allocator.h
Owners: none

partition_allocator: Don't use binding for topic_memory_per_partition
  src/v/cluster/controller.cc
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/cluster/scheduling/partition_allocator.h
Owners: none

memory_groups: Introduce reserve for partitions
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/resource_mgmt/memory_groups.cc
  src/v/resource_mgmt/memory_groups.h
  src/v/resource_mgmt/tests/memory_groups_test.cc
Owners: @redpanda-data/documentation

`storage`: check for `may_have_tombstones` in `self_compact_segment`
  src/v/storage/segment_utils.cc
Owners: none

`rptest`: add `wait_for_latest_value_map()` to `kgo`
  tests/rptest/services/kgo_verifier_services.py
Owners: none

`storage`: add `_segment_cleanly_compacted` to `probe`
  src/v/storage/disk_log_impl.cc
  src/v/storage/probe.cc
  src/v/storage/probe.h
  src/v/storage/segment_utils.cc
  src/v/storage/segment_utils.h
Owners: none

`tests`: bump `kgo-verifier` version and support new features
  tests/docker/ducktape-deps/kgo-verifier
  tests/rptest/services/kgo_verifier_services.py
Owners: @redpanda-data/devprod

`storage`: add `_num_rounds_window_compaction` to `probe`
  src/v/storage/disk_log_impl.cc
  src/v/storage/probe.cc
  src/v/storage/probe.h
Owners: none

`storage`: add `_segments_marked_tombstone_free` to `probe`
  src/v/storage/probe.cc
  src/v/storage/probe.h
  src/v/storage/segment_deduplication_utils.cc
  src/v/storage/segment_utils.cc
Owners: none

`rptest`: add `_wait_for_file_on_nodes()` to `KgoVerifierProducer`
  tests/rptest/services/kgo_verifier_services.py
Owners: none

`rptest`: use `delete.retention.ms` in `KafkaCliTools.create_topic()`
  tests/rptest/clients/kafka_cli_tools.py
Owners: none

`rptest`: add `log_compaction_test.py`
  tests/rptest/tests/log_compaction_test.py
Owners: none

bazel: Updated seastar ref
  MODULE.bazel.lock
  bazel/repositories.bzl
Owners: none

c/partition_recovery_manager: avoid oversized allocations when logging
  src/v/cluster/partition_recovery_manager.cc
Owners: none

iobuf: update the allocator schedule
  src/v/bytes/details/io_allocation_size.h
  src/v/bytes/tests/iobuf_tests.cc
Owners: none

update kafkatest version to match with 0.12
  tests/setup.py
Owners: none

tests/setup: update ducktape to 0.12
  tests/setup.py
Owners: none

.github/CODEOWNERS:

#
# docs, prose, legal
#
licenses           @emaxerrno

#
# cloud
#
/src/go/k8s   @redpanda-data/k8s

#
# build
#
/.clang-format             @redpanda-data/devprod
/.clang-tidy               @redpanda-data/devprod
/.clang_complete           @redpanda-data/devprod
/.github                   @redpanda-data/devprod
/.gitignore                @redpanda-data/devprod
/.gitorderfile             @redpanda-data/devprod
/.style.yapf               @redpanda-data/devprod
/build.sh                  @redpanda-data/devprod
/cmake                     @redpanda-data/devprod        @benpope
/install-dependencies.sh   @redpanda-data/devprod
/.yapfignore               @redpanda-data/devprod

#
# crypto
#
/src/v/crypto              @michael-redpanda

#
# rpk
#
/src/go/rpk        @twmb @r-vasquez @gene-redpanda @Deflaimun
# There are now two copies goreleaser.yaml in the interim `rpk connect` arch
# Adding devprod to code owners to review any changes (e.g. they should stay in sync)
/src/go/.goreleaser.yaml @twmb @r-vasquez @gene-redpanda @Deflaimun @redpanda-data/devprod
/src/go/.goreleaser_rpk_connect.yaml @twmb @r-vasquez @gene-redpanda @Deflaimun @redpanda-data/devprod

#
# testing
#
/tests/docker                       @redpanda-data/devprod
/tests/run.sh                       @redpanda-data/devprod
/src/consistency-testing            @mmaslankaprv
/tests/java/tx-verifier             @mmaslankaprv

#
# automatically tag docs team for configuration changes
#
/src/v/config/configuration.cc                      @redpanda-data/documentation
/src/v/config/configuration.h                       @redpanda-data/documentation
/src/v/config/node_config.cc                        @redpanda-data/documentation
/src/v/config/node_config.h                         @redpanda-data/documentation
/src/v/kafka/client/configuration.cc                @redpanda-data/documentation
/src/v/kafka/client/configuration.h                 @redpanda-data/documentation
/src/v/pandaproxy/api/api-doc                       @redpanda-data/documentation
/src/v/pandaproxy/rest/configuration.cc             @redpanda-data/documentation
/src/v/pandaproxy/rest/configuration.h              @redpanda-data/documentation
/src/v/pandaproxy/schema_registry/configuration.cc  @redpanda-data/documentation
/src/v/pandaproxy/schema_registry/configuration.h   @redpanda-data/documentation
/src/v/redpanda/admin/api-doc                       @redpanda-data/documentation
