Repository redpanda-data/redpanda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @emaxerrno, @redpanda-data/k8s, @redpanda-data/devprod, @benpope, @michael-redpanda, @twmb, @r-vasquez, @gene-redpanda, @Deflaimun, @mmaslankaprv, @redpanda-data/documentation

tests/migrations: creatie/complete timestamps
  tests/rptest/tests/data_migrations_api_test.py
Owners: none

cluster: Avoid oversized alloc in partition_manager
  src/v/cluster/cloud_metadata/tests/cluster_recovery_backend_test.cc
  src/v/cluster/partition_manager.h
  src/v/model/BUILD
  src/v/model/ktp.h
  src/v/transform/rpc/tests/transform_rpc_test.cc
Owners: none

ssx: Remove async clear workaround
  src/v/cluster/partition_manager.cc
  src/v/ssx/BUILD
  src/v/ssx/async-clear.h
  src/v/storage/log_manager.cc
Owners: none

storage: Store logs in chunked_hash_map
  src/v/storage/log_manager.cc
  src/v/storage/log_manager.h
Owners: none

`tests`: bump `kgo-verifier` version and support new features
  tests/docker/ducktape-deps/kgo-verifier
  tests/rptest/services/kgo_verifier_services.py
Owners: @redpanda-data/devprod

rpc: don't wait for the obsolete feature on start
  src/v/redpanda/application.cc
  src/v/rpc/rpc_server.cc
  src/v/rpc/rpc_server.h
  src/v/rpc/test/rpc_gen_cycling_test.cc
Owners: none

feat/tests: use new features to retire older ones
  src/v/features/tests/feature_table_test.cc
Owners: none

redpanda/admin/server: don't check license feature
  src/v/cluster/feature_manager.cc
  src/v/redpanda/admin/server.cc
Owners: none

feature_table: remove unused feature flags
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
Owners: none

c/node_status_backend: don't check retired feature
  src/v/cluster/node_status_backend.cc
Owners: none

c/rm_stm: remove feature::transaction_ga check
  src/v/cluster/rm_stm.cc
Owners: none

c/tx_gateway_frontend: remove dead code
  src/v/cluster/tx_gateway_frontend.h
Owners: none

raft: don't check retired feature
  src/v/raft/consensus.cc
  src/v/raft/group_manager.cc
Owners: none

c/topics_frontend: do not check retired feature
  src/v/cluster/topics_frontend.cc
Owners: none

c/ephemeral_credential_FE: don't check old feature
  src/v/cluster/ephemeral_credential_frontend.cc
  src/v/cluster/tests/ephemeral_credential_test.cc
Owners: none

c/members_manager: do not check retired feature
  src/v/cluster/members_manager.cc
Owners: none

k/server: do not check feature::kafka_gssapi
  src/v/kafka/server/server.cc
Owners: none

c/controller_backend: do not check old feature
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
  src/v/cluster/feature_manager.cc
Owners: none

k/server: do not check feature::node_isolation
  src/v/kafka/server/BUILD
  src/v/kafka/server/handlers/details/isolated_node_utils.h
  src/v/kafka/server/handlers/metadata.cc
Owners: none

c/controller: do not check old feature
  src/v/cluster/controller.cc
Owners: none

archival: consistent log size probes across replicas
  src/v/cluster/BUILD
  src/v/cluster/archival/archival_metadata_stm.cc
  src/v/cluster/archival/archival_metadata_stm.h
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/ntp_archiver_service.h
  src/v/cluster/archival/stm_subscriptions.h
  tests/rptest/tests/usage_test.py
Owners: none

datalake: added catalog_factory class
  src/v/datalake/coordinator/BUILD
  src/v/datalake/coordinator/catalog_factory.cc
  src/v/datalake/coordinator/catalog_factory.h
  src/v/datalake/coordinator/coordinator_manager.cc
  src/v/datalake/coordinator/coordinator_manager.h
  src/v/datalake/datalake_manager.cc
  src/v/datalake/datalake_manager.h
  src/v/datalake/fwd.h
  src/v/redpanda/application.cc
Owners: none

tests: test redpanda connection to polaris catalog
  tests/rptest/tests/polaris_catalog_smoke_test.py
Owners: none

tests/polaris: added ability to setup polaris catalog with tls
  tests/rptest/services/polaris_catalog.py
  tests/rptest/services/templates/polaris-server.yml
Owners: none

config: added missing rest catalog properties
  src/v/config/configuration.cc
  src/v/config/configuration.h
Owners: @redpanda-data/documentation

tests: update polaris version to latest rc
  tests/docker/ducktape-deps/polaris
  tests/rptest/services/polaris_catalog.py
  tests/rptest/services/templates/polaris-server.yml
Owners: @redpanda-data/devprod

iceberg/rest: added tls support to iceberg rest catalog factory
  src/v/datalake/coordinator/catalog_factory.cc
Owners: none

tests: added redpanda connect service
  tests/rptest/services/redpanda_connect.py
Owners: none

tests: added a very basic test for redpanda connect service
  tests/rptest/tests/redpanda_connect_test.py
Owners: none

config: introduce iceberg_delete cluster config property
  src/v/config/configuration.cc
  src/v/config/configuration.h
Owners: @redpanda-data/documentation

k/alter_configs: add handling for iceberg_delete topic property
  src/v/cluster/topic_table.cc
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/kafka/server/handlers/alter_configs.cc
  src/v/kafka/server/handlers/incremental_alter_configs.cc
  src/v/kafka/server/tests/alter_config_test.cc
  tools/offline_log_viewer/controller.py
Owners: none

cluster: add iceberg_delete topic property
  src/v/cloud_storage/tests/topic_manifest_test.cc
  src/v/cluster/topic_properties.cc
  src/v/cluster/topic_properties.h
  src/v/compat/cluster_generator.h
  tools/offline_log_viewer/controller.py
Owners: none

datalake/config: switch iceberg_enabled to iceberg_mode
  src/v/cloud_storage/tests/topic_manifest_test.cc
  src/v/cluster/cluster_utils.cc
  src/v/cluster/tests/topic_properties_generator.h
  src/v/cluster/topic_configuration.cc
  src/v/cluster/topic_properties.cc
  src/v/cluster/topic_properties.h
  src/v/cluster/topic_table.cc
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/compat/cluster_generator.h
  src/v/compat/cluster_json.h
  src/v/datalake/datalake_manager.cc
  src/v/datalake/tests/fixture.h
  src/v/datalake/translation/tests/state_machine_test.cc
  src/v/kafka/server/handlers/alter_configs.cc
  src/v/kafka/server/handlers/configs/config_response_utils.cc
  src/v/kafka/server/handlers/configs/config_utils.h
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/handlers/incremental_alter_configs.cc
  src/v/kafka/server/handlers/topics/types.cc
  src/v/kafka/server/handlers/topics/types.h
  src/v/kafka/server/handlers/topics/validators.h
  src/v/kafka/server/tests/alter_config_test.cc
  src/v/redpanda/admin/api-doc/debug.json
  src/v/redpanda/admin/debug.cc
  src/v/storage/ntp_config.h
  src/v/storage/types.cc
  tests/rptest/clients/types.py
  tests/rptest/tests/datalake/datalake_e2e_test.py
  tests/rptest/tests/datalake/datalake_services.py
  tests/rptest/tests/datalake/rest_catalog_connection_test.py
  tests/rptest/tests/describe_topics_test.py
  tools/offline_log_viewer/controller.py
Owners: @redpanda-data/documentation

k/create_topics: added handling for iceberg_delete property
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/handlers/topics/types.cc
  src/v/kafka/server/handlers/topics/types.h
Owners: none

k/describe_configs: add handling for iceberg_delete topic config
  src/v/kafka/server/handlers/configs/config_response_utils.cc
  tests/rptest/tests/describe_topics_test.py
Owners: none

topic/properties: introduce iceberg_mode enum
  src/v/model/metadata.h
  src/v/model/model.cc
Owners: none

cloud_storage: Make cloud_storage_fixture a friend of cache
  src/v/cloud_storage/cache_service.h
Owners: none

rpk: modify CTA in license warning
  src/go/rpk/pkg/adminapi/admin.go
  src/go/rpk/pkg/adminapi/admin_test.go
Owners: @twmb, @r-vasquez, @gene-redpanda, @Deflaimun

rpk: add CTA to rpk cluster license info
  src/go/rpk/pkg/cli/cluster/license/BUILD
  src/go/rpk/pkg/cli/cluster/license/info.go
Owners: @twmb, @r-vasquez, @gene-redpanda, @Deflaimun

rpk: avoid repeating warning for trial licenses
  src/go/rpk/pkg/cli/cluster/license/info.go
Owners: @twmb, @r-vasquez, @gene-redpanda, @Deflaimun

.github/CODEOWNERS:

#
# docs, prose, legal
#
licenses           @emaxerrno

#
# cloud
#
/src/go/k8s   @redpanda-data/k8s

#
# build
#
/.clang-format             @redpanda-data/devprod
/.clang-tidy               @redpanda-data/devprod
/.clang_complete           @redpanda-data/devprod
/.github                   @redpanda-data/devprod
/.gitignore                @redpanda-data/devprod
/.gitorderfile             @redpanda-data/devprod
/.style.yapf               @redpanda-data/devprod
/build.sh                  @redpanda-data/devprod
/cmake                     @redpanda-data/devprod        @benpope
/install-dependencies.sh   @redpanda-data/devprod
/.yapfignore               @redpanda-data/devprod

#
# crypto
#
/src/v/crypto              @michael-redpanda

#
# rpk
#
/src/go/rpk        @twmb @r-vasquez @gene-redpanda @Deflaimun
# There are now two copies goreleaser.yaml in the interim `rpk connect` arch
# Adding devprod to code owners to review any changes (e.g. they should stay in sync)
/src/go/.goreleaser.yaml @twmb @r-vasquez @gene-redpanda @Deflaimun @redpanda-data/devprod
/src/go/.goreleaser_rpk_connect.yaml @twmb @r-vasquez @gene-redpanda @Deflaimun @redpanda-data/devprod

#
# testing
#
/tests/docker                       @redpanda-data/devprod
/tests/run.sh                       @redpanda-data/devprod
/src/consistency-testing            @mmaslankaprv
/tests/java/tx-verifier             @mmaslankaprv

#
# automatically tag docs team for configuration changes
#
/src/v/config/configuration.cc                      @redpanda-data/documentation
/src/v/config/configuration.h                       @redpanda-data/documentation
/src/v/config/node_config.cc                        @redpanda-data/documentation
/src/v/config/node_config.h                         @redpanda-data/documentation
/src/v/kafka/client/configuration.cc                @redpanda-data/documentation
/src/v/kafka/client/configuration.h                 @redpanda-data/documentation
/src/v/pandaproxy/api/api-doc                       @redpanda-data/documentation
/src/v/pandaproxy/rest/configuration.cc             @redpanda-data/documentation
/src/v/pandaproxy/rest/configuration.h              @redpanda-data/documentation
/src/v/pandaproxy/schema_registry/configuration.cc  @redpanda-data/documentation
/src/v/pandaproxy/schema_registry/configuration.h   @redpanda-data/documentation
/src/v/redpanda/admin/api-doc                       @redpanda-data/documentation
