Repository redpanda-data/redpanda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @emaxerrno, @redpanda-data/k8s, @redpanda-data/devprod, @benpope, @michael-redpanda, @twmb, @r-vasquez, @gene-redpanda, @Deflaimun, @mmaslankaprv, @redpanda-data/documentation

.github/CODEOWNERS:

#
# docs, prose, legal
#
licenses           @emaxerrno

#
# cloud
#
/src/go/k8s   @redpanda-data/k8s

#
# build
#
/.clang-format             @redpanda-data/devprod
/.clang-tidy               @redpanda-data/devprod
/.clang_complete           @redpanda-data/devprod
/.github                   @redpanda-data/devprod
/.gitignore                @redpanda-data/devprod
/.gitorderfile             @redpanda-data/devprod
/.style.yapf               @redpanda-data/devprod
/build.sh                  @redpanda-data/devprod
/cmake                     @redpanda-data/devprod        @benpope
/install-dependencies.sh   @redpanda-data/devprod
/.yapfignore               @redpanda-data/devprod

#
# crypto
#
/src/v/crypto              @michael-redpanda

#
# rpk
#
/src/go/rpk        @twmb @r-vasquez @gene-redpanda @Deflaimun
# There are now two copies goreleaser.yaml in the interim `rpk connect` arch
# Adding devprod to code owners to review any changes (e.g. they should stay in sync)
/src/go/.goreleaser.yaml @twmb @r-vasquez @gene-redpanda @Deflaimun @redpanda-data/devprod
/src/go/.goreleaser_rpk_connect.yaml @twmb @r-vasquez @gene-redpanda @Deflaimun @redpanda-data/devprod

#
# testing
#
/tests/docker                       @redpanda-data/devprod
/tests/run.sh                       @redpanda-data/devprod
/src/consistency-testing            @mmaslankaprv
/tests/java/tx-verifier             @mmaslankaprv

#
# automatically tag docs team for configuration changes
#
/src/v/config/configuration.cc                      @redpanda-data/documentation
/src/v/config/configuration.h                       @redpanda-data/documentation
/src/v/config/node_config.cc                        @redpanda-data/documentation
/src/v/config/node_config.h                         @redpanda-data/documentation
/src/v/kafka/client/configuration.cc                @redpanda-data/documentation
/src/v/kafka/client/configuration.h                 @redpanda-data/documentation
/src/v/pandaproxy/api/api-doc                       @redpanda-data/documentation
/src/v/pandaproxy/rest/configuration.cc             @redpanda-data/documentation
/src/v/pandaproxy/rest/configuration.h              @redpanda-data/documentation
/src/v/pandaproxy/schema_registry/configuration.cc  @redpanda-data/documentation
/src/v/pandaproxy/schema_registry/configuration.h   @redpanda-data/documentation
/src/v/redpanda/admin/api-doc                       @redpanda-data/documentation

sr/test: refactor avro verbose compat test
  src/v/pandaproxy/schema_registry/test/compatibility_avro.cc
Owners: none

sr/test: add more tests for avro non-default field
  src/v/pandaproxy/schema_registry/test/compatibility_avro.cc
Owners: none

tests: add reasoning for skip fips mode
  tests/rptest/utils/mode_checks.py
Owners: none

c/leader_balancer: sort stats by shard
  src/v/cluster/scheduling/leader_balancer_constraints.cc
Owners: none

c/leader_balancer: implement and use even_node_load_constraint
  src/v/cluster/scheduling/leader_balancer_constraints.cc
  src/v/cluster/scheduling/leader_balancer_constraints.h
  src/v/cluster/scheduling/leader_balancer_random.h
Owners: none

c/leader_balancer/ut: fix copy_cluster_index helper
  src/v/cluster/tests/leader_balancer_test_utils.h
Owners: none

tests: increase wait_for_racks timeout in leadership_transfer_test
  tests/rptest/tests/leadership_transfer_test.py
Owners: none

c/leader_balancer: add even shard load/uneven node load utest
  src/v/cluster/tests/leader_balancer_constraints_test.cc
Owners: none

cluster: exclude internal topics from `check_cluster_limits`
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/cluster/scheduling/partition_allocator.h
  src/v/cluster/tests/partition_allocator_tests.cc
Owners: none

cluster: extract `allocation_node::is_internal_topic`
  src/v/cluster/scheduling/allocation_node.cc
  src/v/cluster/scheduling/allocation_node.h
Owners: none

archival: calculate time based retention from first addressable segment
  src/v/cluster/archival/retention_calculator.cc
Owners: none

[CORE-8081] rptest: fix config_profile_verify_test null handling
  tests/rptest/redpanda_cloud_tests/config_profile_verify_test.py
Owners: none

cluster: report cluster as unhealthy if data disk is degraded
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_types.cc
  src/v/cluster/health_monitor_types.h
  src/v/redpanda/admin/api-doc/cluster.json
  src/v/redpanda/admin/server.cc
  tests/rptest/tests/cluster_health_overview_test.py
Owners: @redpanda-data/documentation

rpk: add --format to rpk topic describe
  src/go/rpk/pkg/cli/topic/BUILD
  src/go/rpk/pkg/cli/topic/describe.go
  src/go/rpk/pkg/cli/topic/describe_test.go
  src/go/rpk/pkg/config/format.go
Owners: @twmb, @r-vasquez, @gene-redpanda, @Deflaimun

cloud_storage_clients/abs_client: use item filter in list_objects
  src/v/cloud_storage_clients/abs_client.cc
Owners: none

rptest: paramterize test_clusters_share_bucket
  tests/rptest/tests/remote_label_test.py
Owners: none

c/leader_balancer: implement and use even_node_load_constraint
  src/v/cluster/scheduling/leader_balancer_constraints.cc
  src/v/cluster/scheduling/leader_balancer_constraints.h
  src/v/cluster/scheduling/leader_balancer_random.h
Owners: none

c/leader_balancer: add even shard load/uneven node load utest
  src/v/cluster/tests/leader_balancer_constraints_test.cc
Owners: none

tests: increase wait_for_racks timeout in leadership_transfer_test
  tests/rptest/tests/leadership_transfer_test.py
Owners: none

c/leader_balancer/ut: fix copy_cluster_index helper
  src/v/cluster/tests/leader_balancer_test_utils.h
Owners: none

c/leader_balancer: sort stats by shard
  src/v/cluster/scheduling/leader_balancer_constraints.cc
Owners: none

High priority alerts detection
  tests/rptest/redpanda_cloud_tests/observe_test.py
Owners: none

feature_table: retire serde_raft_configuration feature
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/group_configuration.cc
Owners: none

raft: update configuration to version 7 when possible
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
Owners: none

feature: introduced a feature for symmetic reconfiguration cancel
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
Owners: none

raft: added new strategy to make reconfiguration symetric
  src/v/raft/group_configuration.cc
  src/v/raft/group_configuration.h
  src/v/raft/tests/configuration_serialization_test.cc
  src/v/raft/tests/group_configuration_tests.cc
Owners: none

tests: enable datalake in random node operation tests
  tests/rptest/tests/random_node_operations_test.py
  tests/rptest/utils/node_operations.py
Owners: none

datalake: added assertion validating that the memory reservation was set
  src/v/datalake/datalake_manager.cc
Owners: none

cluster: consider shard0 reserve in check_cluster_limits
  src/v/cluster/scheduling/partition_allocator.cc
Owners: none

bazel: Update protobuf to v29.0
  MODULE.bazel
  MODULE.bazel.lock
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/redpanda/application.cc
Owners: none

config: iceberg_enabled should not be enterprise
  src/v/config/configuration.cc
  src/v/config/configuration.h
Owners: @redpanda-data/documentation

transform-sdk/rust: bump latest versions
  src/transform-sdk/rust/Cargo.lock
  src/transform-sdk/rust/Cargo.toml
Owners: none

bazel: add debug symbols by default for sanitizer builds
  .bazelrc
Owners: none

transform-sdk/js: bump quickjs version
  src/transform-sdk/js/CMakeLists.txt
Owners: none

gha/transform-sdk: deploy sr module
  .github/workflows/transform-sdk-release.yml
Owners: @redpanda-data/devprod

transform-sdk/js: add package-lock.json
  src/transform-sdk/js/sr-module/package-lock.json
Owners: none

transform-sdk/js: fix asan violation
  src/transform-sdk/js/js_vm.cc
Owners: none

bazel: add transform-sdk cpp + js SDKs
  MODULE.bazel
  MODULE.bazel.lock
  bazel/repositories.bzl
  bazel/thirdparty/quickjs.BUILD
  src/transform-sdk/cpp/BUILD
  src/transform-sdk/js/BUILD
  src/transform-sdk/js/CMakeLists.txt
Owners: none

transform-sdk/cpp: update quickjs
  src/transform-sdk/js/CMakeLists.txt
Owners: none

raft/recovery: log line with more context
  src/v/raft/recovery_stm.cc
Owners: none
