Repository redpanda-data/redpanda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @emaxerrno, @redpanda-data/k8s, @redpanda-data/devprod, @benpope, @michael-redpanda, @twmb, @r-vasquez, @gene-redpanda, @Deflaimun, @mmaslankaprv, @redpanda-data/documentation

storage: track cache disk metrics separately
  src/v/storage/node.cc
  src/v/storage/probe.cc
  src/v/storage/probe.h
  tests/rptest/tests/node_metrics_test.py
  tests/rptest/utils/node_metrics.py
Owners: none

kafka: backfill kafka client fixture tests
  src/v/kafka/client/test/BUILD
  src/v/kafka/client/test/consumer_group.cc
  src/v/kafka/client/test/retry.cc
  src/v/pandaproxy/test/BUILD
  src/v/redpanda/tests/BUILD
  src/v/redpanda/tests/fixture.h
Owners: none

kafka: make fixture tests exlusive
  src/v/kafka/client/test/BUILD
Owners: none

rptest: organize imports
  tests/rptest/tests/node_metrics_test.py
  tests/rptest/utils/node_metrics.py
Owners: none

rptest: cache metrics test with custom mountpoint
  tests/docker/docker-compose.yml
  tests/rptest/tests/node_metrics_test.py
Owners: @redpanda-data/devprod

`storage`: add `tombstones_removed` to `probe`
  src/v/storage/probe.cc
  src/v/storage/probe.h
  src/v/storage/segment_deduplication_utils.cc
  src/v/storage/segment_utils.cc
Owners: none

audit: clamp audit client max parallelism
  src/v/security/audit/audit_log_manager.cc
  tests/rptest/tests/audit_log_test.py
Owners: none

audit: clamp audit client max parallelism
  src/v/security/audit/audit_log_manager.cc
  tests/rptest/tests/audit_log_test.py
Owners: none

rpk: bugfix - filter in list-mount
  src/go/rpk/pkg/cli/cluster/storage/cancel-mount.go
  src/go/rpk/pkg/cli/cluster/storage/list-mount.go
  src/go/rpk/pkg/cli/cluster/storage/mount.go
  src/go/rpk/pkg/cli/cluster/storage/unmount.go
Owners: @twmb, @r-vasquez, @gene-redpanda, @Deflaimun

parquet: add zstd compression
  src/v/serde/parquet/BUILD
  src/v/serde/parquet/CMakeLists.txt
  src/v/serde/parquet/column_writer.cc
  src/v/serde/parquet/column_writer.h
  src/v/serde/parquet/tests/generate_file.cc
  src/v/serde/parquet/writer.cc
  src/v/serde/parquet/writer.h
Owners: none

storage: track cache disk metrics separately
  src/v/storage/node.cc
  src/v/storage/probe.cc
  src/v/storage/probe.h
  tests/rptest/tests/node_metrics_test.py
  tests/rptest/utils/node_metrics.py
Owners: none

rptest: organize imports
  tests/rptest/tests/node_metrics_test.py
  tests/rptest/utils/node_metrics.py
Owners: none

storage: fix log line grammar
  src/v/storage/disk_log_impl.cc
Owners: none

cluster: log degraded condition details in storage space alert
  src/v/cluster/node/local_monitor.cc
Owners: none

kafka: add server bazel tests
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/list_offsets_test.cc
  src/v/kafka/server/tests/metadata_test.cc
  src/v/kafka/server/tests/produce_consume_test.cc
  src/v/kafka/server/tests/quota_manager_test.cc
  src/v/kafka/server/tests/topic_properties_helpers.h
Owners: none

ducktape: public API migration
  tests/rptest/redpanda_cloud_tests/high_throughput_test.py
  tests/rptest/redpanda_cloud_tests/omb_validation_test.py
  tests/rptest/services/provider_clients/rpcloud_client.py
  tests/rptest/services/redpanda.py
  tests/rptest/services/redpanda_cloud.py
Owners: none

ct: Add request_balancer component
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/core/BUILD
  src/v/cloud_topics/request_balancer/BUILD
  src/v/cloud_topics/request_balancer/README.md
  src/v/cloud_topics/request_balancer/tests/BUILD
  src/v/cloud_topics/request_balancer/tests/write_request_balancer_test.cc
  src/v/cloud_topics/request_balancer/write_request_balancer.cc
  src/v/cloud_topics/request_balancer/write_request_balancer.h
Owners: none

ct: Add 'evictor' component
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/core/BUILD
  src/v/cloud_topics/evictor/BUILD
  src/v/cloud_topics/evictor/evictor.cc
  src/v/cloud_topics/evictor/evictor.h
  src/v/cloud_topics/evictor/tests/BUILD
  src/v/cloud_topics/evictor/tests/evictor_test.cc
Owners: none

ct: Add core::write_pipeline component
  src/v/cloud_topics/core/BUILD
  src/v/cloud_topics/core/README.md
  src/v/cloud_topics/core/event_filter.h
  src/v/cloud_topics/core/pipeline_stage.h
  src/v/cloud_topics/core/tests/BUILD
  src/v/cloud_topics/core/tests/event_filter_test.cc
  src/v/cloud_topics/core/tests/write_pipeline_test.cc
  src/v/cloud_topics/core/write_pipeline.cc
  src/v/cloud_topics/core/write_pipeline.h
  src/v/cloud_topics/core/write_request.cc
  src/v/cloud_topics/core/write_request.h
Owners: none

ct: Add 'throttler' component
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/core/BUILD
  src/v/cloud_topics/throttler/BUILD
  src/v/cloud_topics/throttler/tests/BUILD
  src/v/cloud_topics/throttler/tests/throttler_test.cc
  src/v/cloud_topics/throttler/throttler.cc
  src/v/cloud_topics/throttler/throttler.h
Owners: none

ct: Use 'write_pipeline' in 'batcher'
  src/v/cloud_topics/batcher/BUILD
  src/v/cloud_topics/batcher/batcher.cc
  src/v/cloud_topics/batcher/batcher.h
  src/v/cloud_topics/batcher/tests/BUILD
  src/v/cloud_topics/batcher/tests/batcher_test.cc
Owners: none

k/client: test fixture public visibility (bazel)
  src/v/kafka/client/test/BUILD
Owners: none

datalake: manage protobuf descriptor lifetimes correctly
  src/v/datalake/record_schema_resolver.cc
  src/v/datalake/record_schema_resolver.h
  src/v/datalake/record_translator.cc
Owners: none

pandaproxy: add documentation to descriptor function
  src/v/pandaproxy/schema_registry/protobuf.h
Owners: none

datalake/writer: refactored the way parquet writers are structured
  src/v/datalake/BUILD
  src/v/datalake/CMakeLists.txt
  src/v/datalake/batching_parquet_writer.cc
  src/v/datalake/batching_parquet_writer.h
  src/v/datalake/data_writer_interface.cc
  src/v/datalake/data_writer_interface.h
  src/v/datalake/local_parquet_file_writer.cc
  src/v/datalake/local_parquet_file_writer.h
  src/v/datalake/partitioning_writer.cc
  src/v/datalake/partitioning_writer.h
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/CMakeLists.txt
  src/v/datalake/tests/batching_parquet_writer_test.cc
  src/v/datalake/tests/gtest_record_multiplexer_test.cc
  src/v/datalake/tests/local_parquet_file_writer_test.cc
  src/v/datalake/tests/partitioning_writer_test.cc
  src/v/datalake/tests/test_data_writer.h
  src/v/datalake/tests/translation_task_test.cc
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation_task.cc
  src/v/datalake/translation_task.h
Owners: none

datalake: renamed parquet_writer.h to arrow_writer.h
  src/v/datalake/CMakeLists.txt
  src/v/datalake/arrow_writer.cc
  src/v/datalake/arrow_writer.h
  src/v/datalake/batching_parquet_writer.h
  src/v/datalake/tests/parquet_writer_test.cc
Owners: none

license: Reduced evaluation period to 30 days
  src/v/features/feature_table.cc
  tests/rptest/tests/rpk_cluster_test.py
Owners: none

gh: Updated PR template for v24.3.x backports
  .github/pull_request_template.md
Owners: @redpanda-data/devprod

dt/license: fix expected license response in fips
  tests/rptest/tests/rpk_cluster_test.py
Owners: none

kafka/server: Remove throughput_throttling v1
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/snc_quota_manager.cc
  src/v/kafka/server/snc_quota_manager.h
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/CMakeLists.txt
  src/v/kafka/server/tests/produce_consume_test.cc
  src/v/kafka/server/tests/snc_quota_manager_test.cc
  tests/rptest/tests/throughput_limits_snc_test.py
Owners: @redpanda-data/documentation

utils: Remove bottomless_token_bucket
  src/v/kafka/server/BUILD
  src/v/utils/BUILD
  src/v/utils/CMakeLists.txt
  src/v/utils/bottomless_token_bucket.cc
  src/v/utils/bottomless_token_bucket.h
  src/v/utils/tests/BUILD
  src/v/utils/tests/CMakeLists.txt
  src/v/utils/tests/bottomless_token_bucket_test.cc
  src/v/utils/tests/moving_average_test.cc
Owners: none

iceberg: add rest_client::catalog_client::drop_table method
  src/v/iceberg/rest_client/catalog_client.cc
  src/v/iceberg/rest_client/catalog_client.h
Owners: none

iceberg: implement rest_catalog::drop_table method
  src/v/iceberg/rest_catalog.cc
Owners: none

iceberg: add catalog::drop_table method
  src/v/iceberg/catalog.h
  src/v/iceberg/filesystem_catalog.cc
  src/v/iceberg/filesystem_catalog.h
  src/v/iceberg/rest_catalog.cc
  src/v/iceberg/rest_catalog.h
Owners: none

license: Reduced evaluation period to 30 days
  src/v/features/feature_table.cc
  tests/rptest/tests/rpk_cluster_test.py
Owners: none

bazel: add crypto unit test key_tests
  src/v/crypto/tests/BUILD
Owners: @michael-redpanda

[rptest] Auto-retry in RedpandaInstaller._avail_for_download
  tests/rptest/services/redpanda_installer.py
Owners: none

datalake: renamed parquet_writer.h to arrow_writer.h
  src/v/datalake/CMakeLists.txt
  src/v/datalake/arrow_writer.cc
  src/v/datalake/arrow_writer.h
  src/v/datalake/batching_parquet_writer.h
  src/v/datalake/tests/parquet_writer_test.cc
Owners: none

datalake/writer: refactored the way parquet writers are structured
  src/v/datalake/BUILD
  src/v/datalake/CMakeLists.txt
  src/v/datalake/batching_parquet_writer.cc
  src/v/datalake/batching_parquet_writer.h
  src/v/datalake/data_writer_interface.cc
  src/v/datalake/data_writer_interface.h
  src/v/datalake/local_parquet_file_writer.cc
  src/v/datalake/local_parquet_file_writer.h
  src/v/datalake/partitioning_writer.cc
  src/v/datalake/partitioning_writer.h
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/CMakeLists.txt
  src/v/datalake/tests/batching_parquet_writer_test.cc
  src/v/datalake/tests/gtest_record_multiplexer_test.cc
  src/v/datalake/tests/local_parquet_file_writer_test.cc
  src/v/datalake/tests/partitioning_writer_test.cc
  src/v/datalake/tests/test_data_writer.h
  src/v/datalake/tests/translation_task_test.cc
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation_task.cc
  src/v/datalake/translation_task.h
Owners: none

[rptest] More verbose _async_download_on_node_unlocked
  tests/rptest/services/redpanda_installer.py
Owners: none

.github/CODEOWNERS:

#
# docs, prose, legal
#
licenses           @emaxerrno

#
# cloud
#
/src/go/k8s   @redpanda-data/k8s

#
# build
#
/.clang-format             @redpanda-data/devprod
/.clang-tidy               @redpanda-data/devprod
/.clang_complete           @redpanda-data/devprod
/.github                   @redpanda-data/devprod
/.gitignore                @redpanda-data/devprod
/.gitorderfile             @redpanda-data/devprod
/.style.yapf               @redpanda-data/devprod
/build.sh                  @redpanda-data/devprod
/cmake                     @redpanda-data/devprod        @benpope
/install-dependencies.sh   @redpanda-data/devprod
/.yapfignore               @redpanda-data/devprod

#
# crypto
#
/src/v/crypto              @michael-redpanda

#
# rpk
#
/src/go/rpk        @twmb @r-vasquez @gene-redpanda @Deflaimun
# There are now two copies goreleaser.yaml in the interim `rpk connect` arch
# Adding devprod to code owners to review any changes (e.g. they should stay in sync)
/src/go/.goreleaser.yaml @twmb @r-vasquez @gene-redpanda @Deflaimun @redpanda-data/devprod
/src/go/.goreleaser_rpk_connect.yaml @twmb @r-vasquez @gene-redpanda @Deflaimun @redpanda-data/devprod

#
# testing
#
/tests/docker                       @redpanda-data/devprod
/tests/run.sh                       @redpanda-data/devprod
/src/consistency-testing            @mmaslankaprv
/tests/java/tx-verifier             @mmaslankaprv

#
# automatically tag docs team for configuration changes
#
/src/v/config/configuration.cc                      @redpanda-data/documentation
/src/v/config/configuration.h                       @redpanda-data/documentation
/src/v/config/node_config.cc                        @redpanda-data/documentation
/src/v/config/node_config.h                         @redpanda-data/documentation
/src/v/kafka/client/configuration.cc                @redpanda-data/documentation
/src/v/kafka/client/configuration.h                 @redpanda-data/documentation
/src/v/pandaproxy/api/api-doc                       @redpanda-data/documentation
/src/v/pandaproxy/rest/configuration.cc             @redpanda-data/documentation
/src/v/pandaproxy/rest/configuration.h              @redpanda-data/documentation
/src/v/pandaproxy/schema_registry/configuration.cc  @redpanda-data/documentation
/src/v/pandaproxy/schema_registry/configuration.h   @redpanda-data/documentation
/src/v/redpanda/admin/api-doc                       @redpanda-data/documentation
