Repository redpanda-data/redpanda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @emaxerrno, @redpanda-data/k8s, @redpanda-data/devprod, @benpope, @michael-redpanda, @twmb, @r-vasquez, @gene-redpanda, @Deflaimun, @mmaslankaprv, @redpanda-data/documentation

datalake: correctly get null keys/values from record
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
  src/v/datalake/record_schema_resolver.cc
  src/v/datalake/record_schema_resolver.h
  src/v/datalake/record_translator.cc
  src/v/datalake/record_translator.h
  src/v/model/record.h
Owners: none

datalake: drop invalid records
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
Owners: none

datalake: move value field out of system struct
  src/v/datalake/record_translator.cc
  src/v/datalake/tests/gtest_record_multiplexer_test.cc
Owners: none

crypto/tests: bazelize ossl context service tests
  src/v/crypto/tests/BUILD
  src/v/crypto/tests/ossl_context_service_test.cc
  src/v/crypto/tests/ossl_context_service_test_base.h
Owners: @michael-redpanda

rpk debug: move shared code to common
  src/go/rpk/pkg/adminapi/admin.go
  src/go/rpk/pkg/cli/debug/bundle/BUILD
  src/go/rpk/pkg/cli/debug/bundle/bundle.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_k8s_linux.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_linux.go
  src/go/rpk/pkg/cli/debug/common/BUILD
  src/go/rpk/pkg/cli/debug/common/common.go
Owners: @twmb, @r-vasquez, @gene-redpanda, @Deflaimun

rpk: add `rpk debug remote bundle`
  MODULE.bazel
  src/go/rpk/go.mod
  src/go/rpk/pkg/cli/debug/BUILD
  src/go/rpk/pkg/cli/debug/bundle/bundle.go
  src/go/rpk/pkg/cli/debug/common/BUILD
  src/go/rpk/pkg/cli/debug/common/common.go
  src/go/rpk/pkg/cli/debug/common/common_test.go
  src/go/rpk/pkg/cli/debug/debug.go
  src/go/rpk/pkg/cli/debug/remotebundle/BUILD
  src/go/rpk/pkg/cli/debug/remotebundle/cancel.go
  src/go/rpk/pkg/cli/debug/remotebundle/download.go
  src/go/rpk/pkg/cli/debug/remotebundle/remote.go
  src/go/rpk/pkg/cli/debug/remotebundle/start.go
  src/go/rpk/pkg/cli/debug/remotebundle/status.go
  tests/rptest/clients/rpk.py
  tests/rptest/tests/rpk_cluster_test.py
  tests/rptest/tests/rpk_debug_bundle_test.py
Owners: @twmb, @r-vasquez, @gene-redpanda, @Deflaimun

Revert "s/log: removed the line informing user about outstanding locks"
  src/v/storage/disk_log_impl.cc
Owners: none

storage/tests: added stress fiber to concurrent prefix truncate test
  src/v/storage/tests/storage_e2e_test.cc
Owners: none

s/log: fixed race condition between appends and prefix truncation
  src/v/storage/disk_log_impl.cc
Owners: none

storage/tests: added stress fiber to concurrent prefix truncate test
  src/v/storage/tests/storage_e2e_test.cc
Owners: none

Revert "s/log: removed the line informing user about outstanding locks"
  src/v/storage/disk_log_impl.cc
Owners: none

s/log: fixed race condition between appends and prefix truncation
  src/v/storage/disk_log_impl.cc
Owners: none

datalake/metrics: add per partition lag metrics for translation
  src/v/cluster/partition_probe.cc
  src/v/cluster/partition_probe.h
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
Owners: none

datalake/coordinator: include last_committed_offset in get_last_offsets response.
  src/v/datalake/coordinator/coordinator.cc
  src/v/datalake/coordinator/coordinator.h
  src/v/datalake/coordinator/frontend.cc
  src/v/datalake/coordinator/tests/coordinator_test.cc
  src/v/datalake/coordinator/tests/state_machine_test.cc
  src/v/datalake/coordinator/types.h
Owners: none

datalake/metrics: add a metric for iceberg commit lag.
  src/v/cluster/partition_probe.cc
  src/v/cluster/partition_probe.h
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
Owners: none

datalake/metrics: add ducktape test
  tests/rptest/tests/datalake/datalake_e2e_test.py
Owners: none

scrubber: log with job exits due to abort
  src/v/cluster/archival/scrubber.cc
Owners: none

rpk: add err message of CreateACL response
  src/go/rpk/pkg/cli/security/acl/create.go
  tests/rptest/tests/acls_test.py
Owners: @twmb, @r-vasquez, @gene-redpanda, @Deflaimun

rpk: decode adminapi error message in role creation
  src/go/rpk/pkg/adminapi/admin.go
  src/go/rpk/pkg/cli/security/role/create.go
Owners: @twmb, @r-vasquez, @gene-redpanda, @Deflaimun

datalake/metrics: add per partition lag metrics for translation
  src/v/cluster/partition_probe.cc
  src/v/cluster/partition_probe.h
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
Owners: none

datalake/coordinator: include last_committed_offset in get_last_offsets response.
  src/v/datalake/coordinator/coordinator.cc
  src/v/datalake/coordinator/coordinator.h
  src/v/datalake/coordinator/frontend.cc
  src/v/datalake/coordinator/tests/coordinator_test.cc
  src/v/datalake/coordinator/tests/state_machine_test.cc
  src/v/datalake/coordinator/types.h
Owners: none

datalake/metrics: add ducktape test
  tests/rptest/tests/datalake/datalake_e2e_test.py
Owners: none

datalake/metrics: add a metric for iceberg commit lag.
  src/v/cluster/partition_probe.cc
  src/v/cluster/partition_probe.h
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
Owners: none

tests/docker: increase cargo retry from 3 to 6 in rp-storage-tool
  tests/docker/ducktape-deps/rp-storage-tool
Owners: @redpanda-data/devprod

tests/docker: verbose rp-storage-tool
  tests/docker/ducktape-deps/rp-storage-tool
Owners: @redpanda-data/devprod

tests/docker: fix captialization warn on docker build
  tests/docker/Dockerfile
Owners: @redpanda-data/devprod

tests/docker: update base image to latest ubuntu jammy
  tests/docker/Dockerfile
Owners: @redpanda-data/devprod

tests/docker: increase cargo retry from 3 to 6 in client-swarm
  tests/docker/ducktape-deps/client-swarm
Owners: @redpanda-data/devprod

tests/docker: verbose client-swarm
  tests/docker/ducktape-deps/client-swarm
Owners: @redpanda-data/devprod

rm_stm: remove always true assert on transaction_ga feature
  src/v/cluster/rm_stm.cc
Owners: none

c/balancer_planner: check if topic exists in node count map
  src/v/cluster/partition_balancer_planner.cc
Owners: none

cmake: remove duplicate arguments as these are implict for bench
  src/v/iceberg/tests/CMakeLists.txt
Owners: none

cmake: remove duplicate arguments as these are implict for bench
  src/v/iceberg/tests/CMakeLists.txt
Owners: none

bazel: add target for fuzzing testing
  .bazelrc
  bazel/test.bzl
Owners: none

bytes: bazelize iobuf_fuzz
  src/v/bytes/tests/BUILD
  src/v/bytes/tests/iobuf_fuzz.cc
Owners: none

c/topic_table: additional logging
  src/v/cluster/topic_table.cc
Owners: none

dt/redpanda: increase expect_fail timeout to 40s
  tests/rptest/services/redpanda.py
Owners: none

rptest/s: apache iceberg rest catalog with fs mode on gcp
  tests/java/iceberg-rest-catalog/build.gradle
  tests/rptest/services/apache_iceberg_catalog.py
Owners: none

tests/gtest_raft_rpunit: monitor_test_fixture honour leadership changes
  src/v/raft/tests/BUILD
  src/v/raft/tests/raft_fixture.h
  src/v/raft/tests/replication_monitor_tests.cc
Owners: none

raft/tests/replication_monitor: rename confusing identifiers
  src/v/raft/tests/replication_monitor_tests.cc
Owners: none

.github/CODEOWNERS:

#
# docs, prose, legal
#
licenses           @emaxerrno

#
# cloud
#
/src/go/k8s   @redpanda-data/k8s

#
# build
#
/.clang-format             @redpanda-data/devprod
/.clang-tidy               @redpanda-data/devprod
/.clang_complete           @redpanda-data/devprod
/.github                   @redpanda-data/devprod
/.gitignore                @redpanda-data/devprod
/.gitorderfile             @redpanda-data/devprod
/.style.yapf               @redpanda-data/devprod
/build.sh                  @redpanda-data/devprod
/cmake                     @redpanda-data/devprod        @benpope
/install-dependencies.sh   @redpanda-data/devprod
/.yapfignore               @redpanda-data/devprod

#
# crypto
#
/src/v/crypto              @michael-redpanda

#
# rpk
#
/src/go/rpk        @twmb @r-vasquez @gene-redpanda @Deflaimun
# There are now two copies goreleaser.yaml in the interim `rpk connect` arch
# Adding devprod to code owners to review any changes (e.g. they should stay in sync)
/src/go/.goreleaser.yaml @twmb @r-vasquez @gene-redpanda @Deflaimun @redpanda-data/devprod
/src/go/.goreleaser_rpk_connect.yaml @twmb @r-vasquez @gene-redpanda @Deflaimun @redpanda-data/devprod

#
# testing
#
/tests/docker                       @redpanda-data/devprod
/tests/run.sh                       @redpanda-data/devprod
/src/consistency-testing            @mmaslankaprv
/tests/java/tx-verifier             @mmaslankaprv

#
# automatically tag docs team for configuration changes
#
/src/v/config/configuration.cc                      @redpanda-data/documentation
/src/v/config/configuration.h                       @redpanda-data/documentation
/src/v/config/node_config.cc                        @redpanda-data/documentation
/src/v/config/node_config.h                         @redpanda-data/documentation
/src/v/kafka/client/configuration.cc                @redpanda-data/documentation
/src/v/kafka/client/configuration.h                 @redpanda-data/documentation
/src/v/pandaproxy/api/api-doc                       @redpanda-data/documentation
/src/v/pandaproxy/rest/configuration.cc             @redpanda-data/documentation
/src/v/pandaproxy/rest/configuration.h              @redpanda-data/documentation
/src/v/pandaproxy/schema_registry/configuration.cc  @redpanda-data/documentation
/src/v/pandaproxy/schema_registry/configuration.h   @redpanda-data/documentation
/src/v/redpanda/admin/api-doc                       @redpanda-data/documentation
