Repository redpanda-data/redpanda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @emaxerrno, @redpanda-data/k8s, @redpanda-data/devprod, @benpope, @michael-redpanda, @twmb, @r-vasquez, @gene-redpanda, @Deflaimun, @mmaslankaprv, @redpanda-data/documentation

`cloud_storage`: move `list_result` to `io_result`
  src/v/cloud_io/BUILD
  src/v/cloud_io/io_result.h
  src/v/cloud_io/remote.h
  src/v/cloud_storage/inventory/tests/common.h
  src/v/cloud_storage/inventory/tests/fetch_report_tests.cc
  src/v/cloud_storage/inventory/tests/inv_svc_tests.cc
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/cloud_storage/types.h
  src/v/cloud_storage_clients/client.h
  src/v/cluster/self_test/cloudcheck.cc
  src/v/cluster/self_test/cloudcheck.h
Owners: none

bzl/openssl-fips: Add gen_dir and fipsmodule_so
  bazel/thirdparty/openssl-fips.BUILD
Owners: none

crypto/test/bzl: Introduce common dependency targets for ossl tests
  src/v/crypto/tests/BUILD
Owners: @michael-redpanda

crypto/tests: bazelize crypto_bench[_fips]
  src/v/crypto/tests/BUILD
  src/v/crypto/tests/CMakeLists.txt
  src/v/crypto/tests/crypto_bench.cc
Owners: @michael-redpanda

crypto: Move ssh_utils.h to public headers (bazel)
  src/v/crypto/BUILD
Owners: @michael-redpanda

thirdparty/openssl: Add types.h
  src/v/thirdparty/openssl/BUILD
  src/v/thirdparty/openssl/types.h
Owners: none

rptest: Disable fips in one of the upgrade tests
  tests/rptest/tests/alter_topic_configuration_test.py
Owners: none

cloud_storage: Allow remote_segment concurrency
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/tests/cloud_storage_fixture.h
  src/v/cloud_storage/tests/remote_segment_test.cc
Owners: none

cloud_storage: Make cloud_storage_fixture a friend of cache
  src/v/cloud_storage/cache_service.h
Owners: none

cloud_storage: Allow remote_segment concurrency
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/tests/cloud_storage_fixture.h
  src/v/cloud_storage/tests/remote_segment_test.cc
Owners: none

cloud_storage: Make cloud_storage_fixture a friend of cache
  src/v/cloud_storage/cache_service.h
Owners: none

datalake: introduce table_creator
  src/v/datalake/BUILD
  src/v/datalake/CMakeLists.txt
  src/v/datalake/catalog_schema_manager.cc
  src/v/datalake/catalog_schema_manager.h
  src/v/datalake/fwd.h
  src/v/datalake/table_creator.cc
  src/v/datalake/table_creator.h
Owners: none

datalake: track topic lifecycle states in coordinator
  src/v/datalake/coordinator/BUILD
  src/v/datalake/coordinator/coordinator.cc
  src/v/datalake/coordinator/coordinator.h
  src/v/datalake/coordinator/coordinator_manager.cc
  src/v/datalake/coordinator/coordinator_manager.h
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/datalake/coordinator/state.cc
  src/v/datalake/coordinator/state.h
  src/v/datalake/coordinator/state_machine.cc
  src/v/datalake/coordinator/state_update.cc
  src/v/datalake/coordinator/state_update.h
  src/v/datalake/coordinator/tests/BUILD
  src/v/datalake/coordinator/tests/coordinator_test.cc
  src/v/datalake/coordinator/tests/state_machine_test.cc
  src/v/redpanda/application.cc
Owners: none

cluster: introduce topic purge domains
  src/v/cluster/archival/purger.cc
  src/v/cluster/service.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/redpanda/admin/server.cc
Owners: none

datalake: introduce type_resolver::resolve_identifier
  src/v/datalake/record_schema_resolver.cc
  src/v/datalake/record_schema_resolver.h
Owners: none

c/topic_table: create iceberg tombstones based on topic config
  src/v/cluster/topic_table.cc
  src/v/cluster/topics_frontend.cc
Owners: none

datalake: drop iceberg tables on topic deletion
  src/v/datalake/coordinator/coordinator.cc
  src/v/datalake/coordinator/coordinator.h
  src/v/datalake/coordinator/coordinator_manager.cc
  src/v/datalake/coordinator/coordinator_manager.h
  src/v/datalake/coordinator/file_committer.h
  src/v/datalake/coordinator/frontend.cc
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/datalake/coordinator/iceberg_file_committer.h
  src/v/datalake/coordinator/tests/coordinator_test.cc
  src/v/datalake/coordinator/tests/state_test_utils.h
  src/v/datalake/coordinator/types.cc
  src/v/datalake/coordinator/types.h
  src/v/redpanda/application.cc
Owners: none

datalake: add topic revision to coordinator state and requests
  src/v/datalake/coordinator/coordinator.cc
  src/v/datalake/coordinator/coordinator.h
  src/v/datalake/coordinator/frontend.cc
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/datalake/coordinator/state.cc
  src/v/datalake/coordinator/state.h
  src/v/datalake/coordinator/state_update.cc
  src/v/datalake/coordinator/state_update.h
  src/v/datalake/coordinator/tests/coordinator_test.cc
  src/v/datalake/coordinator/tests/state_machine_test.cc
  src/v/datalake/coordinator/tests/state_test_utils.h
  src/v/datalake/coordinator/tests/state_update_test.cc
  src/v/datalake/coordinator/types.cc
  src/v/datalake/coordinator/types.h
  src/v/datalake/tests/fixture.h
  src/v/datalake/translation/partition_translator.cc
Owners: none

cluster: add a set of iceberg topic tombstones to topic_table
  src/v/cluster/controller_snapshot.cc
  src/v/cluster/controller_snapshot.h
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/cluster/types.h
Owners: none

s/ntp_config: add topic revision field
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cluster/archival/archival_metadata_stm.cc
  src/v/cluster/archival/archiver_operations_impl.cc
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/tests/archival_metadata_stm_test.cc
  src/v/cluster/controller_backend.cc
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_recovery_manager.cc
  src/v/cluster/topic_configuration.cc
  src/v/cluster/topic_configuration.h
  src/v/storage/ntp_config.h
  src/v/storage/types.cc
Owners: none

datalake: use s3_impostor in fixture utests
  src/v/cluster/archival/tests/archival_service_fixture.h
  src/v/cluster/tests/cluster_test_fixture.h
  src/v/datalake/tests/fixture.h
Owners: none

datalake: split out schema_manager::ensure_table_schema
  src/v/datalake/catalog_schema_manager.cc
  src/v/datalake/catalog_schema_manager.h
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/tests/catalog_schema_manager_test.cc
Owners: none

datalake: add coordinator::frontend::ensure_table_exists method
  src/v/datalake/coordinator/BUILD
  src/v/datalake/coordinator/coordinator.cc
  src/v/datalake/coordinator/coordinator.h
  src/v/datalake/coordinator/frontend.cc
  src/v/datalake/coordinator/frontend.h
  src/v/datalake/coordinator/rpc.json
  src/v/datalake/coordinator/service.cc
  src/v/datalake/coordinator/service.h
  src/v/datalake/coordinator/state.cc
  src/v/datalake/coordinator/state.h
  src/v/datalake/coordinator/state_machine.cc
  src/v/datalake/coordinator/state_update.cc
  src/v/datalake/coordinator/state_update.h
  src/v/datalake/coordinator/types.cc
  src/v/datalake/coordinator/types.h
Owners: none

datalake: actually ensure table in coordinator::ensure_table_exists
  src/v/datalake/coordinator/BUILD
  src/v/datalake/coordinator/CMakeLists.txt
  src/v/datalake/coordinator/coordinator.cc
  src/v/datalake/coordinator/coordinator.h
  src/v/datalake/coordinator/coordinator_manager.cc
  src/v/datalake/coordinator/coordinator_manager.h
  src/v/datalake/coordinator/frontend.cc
  src/v/datalake/coordinator/tests/BUILD
  src/v/datalake/coordinator/tests/coordinator_test.cc
  src/v/datalake/coordinator/tests/state_machine_test.cc
  src/v/datalake/coordinator/tests/state_test_utils.h
  src/v/datalake/coordinator/types.cc
  src/v/datalake/coordinator/types.h
  src/v/datalake/translation/BUILD
  src/v/redpanda/application.cc
Owners: none

tests: add datalake topic lifecycle test
  tests/rptest/tests/datalake/datalake_e2e_test.py
  tests/rptest/tests/datalake/datalake_services.py
Owners: none

tests: start redpanda in DatalakeServices
  tests/rptest/tests/datalake/compaction_gaps_test.py
  tests/rptest/tests/datalake/coordinator_retention_test.py
  tests/rptest/tests/datalake/datalake_e2e_test.py
  tests/rptest/tests/datalake/datalake_services.py
Owners: none

datalake: add coordinator stm topic lifecycle transitions utest
  src/v/datalake/coordinator/tests/state_update_test.cc
Owners: none

datalake: return correct errc for add_files in case of revision mismatch
  src/v/datalake/coordinator/coordinator.cc
Owners: none

datalake: call ensure_table_exists from record_multiplexer
  src/v/datalake/BUILD
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/datalake/coordinator/iceberg_file_committer.h
  src/v/datalake/coordinator/state_update.cc
  src/v/datalake/coordinator/tests/coordinator_test.cc
  src/v/datalake/coordinator/tests/iceberg_file_committer_test.cc
  src/v/datalake/coordinator/tests/state_machine_test.cc
  src/v/datalake/coordinator/tests/state_update_test.cc
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/gtest_record_multiplexer_test.cc
  src/v/datalake/tests/record_multiplexer_test.cc
  src/v/datalake/tests/translation_task_test.cc
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
  src/v/datalake/translation_task.cc
  src/v/datalake/translation_task.h
Owners: none

datalake: check that topic revision is constant after loading table
  src/v/datalake/coordinator/iceberg_file_committer.cc
Owners: none

[rptest] unbreak Azure T4/T5 tests
  tests/rptest/clients/kubectl.py
  tests/rptest/services/cloud_broker.py
Owners: none

feature_manager: Ignore the trial license while verifying upgrade
  src/v/cluster/feature_manager.cc
  src/v/features/feature_table.h
  tests/rptest/tests/alter_topic_configuration_test.py
  tests/rptest/tests/partition_movement_test.py
  tests/rptest/tests/random_node_operations_test.py
  tests/rptest/tests/read_replica_e2e_test.py
  tests/rptest/tests/self_test_test.py
  tests/rptest/tests/upgrade_test.py
  tests/rptest/tests/workload_upgrade_runner_test.py
Owners: none

dt/license: Test block upgrades w/ trial license
  tests/rptest/tests/license_enforcement_test.py
Owners: none

`cloud`: add `precondition_failed` handling in io and client layer
  src/v/cloud_io/io_result.cc
  src/v/cloud_io/io_result.h
  src/v/cloud_io/remote.cc
  src/v/cloud_storage/download_exception.cc
  src/v/cloud_storage_clients/abs_client.cc
  src/v/cloud_storage_clients/abs_error.cc
  src/v/cloud_storage_clients/abs_error.h
  src/v/cloud_storage_clients/s3_client.cc
  src/v/cloud_storage_clients/s3_error.cc
  src/v/cloud_storage_clients/s3_error.h
  src/v/cloud_storage_clients/types.h
  src/v/cloud_topics/batcher/batcher.cc
  src/v/cloud_topics/reader/placeholder_extent.cc
  src/v/cluster/archival/archiver_operations_impl.cc
  src/v/cluster/self_test/cloudcheck.cc
  src/v/datalake/cloud_data_io.cc
  src/v/iceberg/metadata_io.h
Owners: none

`docker`: upgrade minIO version
  tests/docker/docker-compose.yml
Owners: @redpanda-data/devprod

`csc`: refactor `find()` code in `parse_head_error_response`
  src/v/cloud_storage_clients/s3_client.cc
Owners: none

`cloud_storage`: add helper functions to `request_headers`
  src/v/cloud_storage/types.h
Owners: none

`cloud`: add `header_map_t` related arguments to remote functions
  src/v/cloud_io/remote.cc
  src/v/cloud_io/remote.h
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage_clients/abs_client.cc
  src/v/cloud_storage_clients/abs_client.h
  src/v/cloud_storage_clients/client.h
  src/v/cloud_storage_clients/s3_client.cc
  src/v/cloud_storage_clients/s3_client.h
  src/v/cloud_topics/batcher/tests/remote_mock.h
  src/v/cloud_topics/reader/tests/mocks.h
Owners: none

`cluster`: add conditional requests test to `cloudcheck` self-test
  src/v/cluster/self_test/cloudcheck.cc
  src/v/cluster/self_test/cloudcheck.h
  tests/rptest/tests/self_test_test.py
Owners: none

`cloud`: add `request_headers`/`header_map_t`
  src/v/cloud_io/remote.h
  src/v/cloud_storage/types.h
  src/v/cloud_storage_clients/BUILD
  src/v/cloud_storage_clients/types.h
Owners: none

.github/CODEOWNERS:

#
# docs, prose, legal
#
licenses           @emaxerrno

#
# cloud
#
/src/go/k8s   @redpanda-data/k8s

#
# build
#
/.clang-format             @redpanda-data/devprod
/.clang-tidy               @redpanda-data/devprod
/.clang_complete           @redpanda-data/devprod
/.github                   @redpanda-data/devprod
/.gitignore                @redpanda-data/devprod
/.gitorderfile             @redpanda-data/devprod
/.style.yapf               @redpanda-data/devprod
/build.sh                  @redpanda-data/devprod
/cmake                     @redpanda-data/devprod        @benpope
/install-dependencies.sh   @redpanda-data/devprod
/.yapfignore               @redpanda-data/devprod

#
# crypto
#
/src/v/crypto              @michael-redpanda

#
# rpk
#
/src/go/rpk        @twmb @r-vasquez @gene-redpanda @Deflaimun
# There are now two copies goreleaser.yaml in the interim `rpk connect` arch
# Adding devprod to code owners to review any changes (e.g. they should stay in sync)
/src/go/.goreleaser.yaml @twmb @r-vasquez @gene-redpanda @Deflaimun @redpanda-data/devprod
/src/go/.goreleaser_rpk_connect.yaml @twmb @r-vasquez @gene-redpanda @Deflaimun @redpanda-data/devprod

#
# testing
#
/tests/docker                       @redpanda-data/devprod
/tests/run.sh                       @redpanda-data/devprod
/src/consistency-testing            @mmaslankaprv
/tests/java/tx-verifier             @mmaslankaprv

#
# automatically tag docs team for configuration changes
#
/src/v/config/configuration.cc                      @redpanda-data/documentation
/src/v/config/configuration.h                       @redpanda-data/documentation
/src/v/config/node_config.cc                        @redpanda-data/documentation
/src/v/config/node_config.h                         @redpanda-data/documentation
/src/v/kafka/client/configuration.cc                @redpanda-data/documentation
/src/v/kafka/client/configuration.h                 @redpanda-data/documentation
/src/v/pandaproxy/api/api-doc                       @redpanda-data/documentation
/src/v/pandaproxy/rest/configuration.cc             @redpanda-data/documentation
/src/v/pandaproxy/rest/configuration.h              @redpanda-data/documentation
/src/v/pandaproxy/schema_registry/configuration.cc  @redpanda-data/documentation
/src/v/pandaproxy/schema_registry/configuration.h   @redpanda-data/documentation
/src/v/redpanda/admin/api-doc                       @redpanda-data/documentation
