Repository redpanda-data/redpanda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @emaxerrno, @redpanda-data/k8s, @redpanda-data/devprod, @benpope, @michael-redpanda, @twmb, @r-vasquez, @gene-redpanda, @Deflaimun, @mmaslankaprv, @redpanda-data/documentation

parquet/metadata: use chunked_vector everywhere
  src/v/serde/parquet/metadata.h
  src/v/serde/parquet/tests/generate_metadata.cc
Owners: none

parquet/metadata: fix subtle schema path encoding issue
  src/v/serde/parquet/metadata.cc
Owners: none

parquet: initial test infra for parquet files
  src/v/serde/parquet/tests/BUILD
  src/v/serde/parquet/tests/generate_file.cc
  src/v/test_utils/go/parquet_verifier/BUILD
  src/v/test_utils/go/parquet_verifier/main.go
Owners: none

parquet/column_writer: don't write levels when max is zero
  src/v/serde/parquet/column_writer.cc
Owners: none

parquet/schema: also index the path of the schema for fast lookup
  src/v/serde/parquet/schema.cc
  src/v/serde/parquet/schema.h
  src/v/serde/parquet/tests/schema_test.cc
Owners: none

thrift: add strongly typed field_id
  src/v/serde/parquet/metadata.cc
  src/v/serde/thrift/BUILD
  src/v/serde/thrift/compact.cc
  src/v/serde/thrift/compact.h
  src/v/serde/thrift/tests/compact_test.cc
Owners: none

parquet: add method to copy a value
  src/v/serde/parquet/value.cc
  src/v/serde/parquet/value.h
Owners: none

parquet/metadata: adjust unused metadata
  src/v/serde/parquet/metadata.cc
  src/v/serde/parquet/metadata.h
  src/v/serde/parquet/tests/generate_metadata.cc
  src/v/test_utils/go/parquet_metadata_verifier/main.go
Owners: none

thrift: correct long form field_id
  src/v/serde/thrift/compact.cc
  src/v/serde/thrift/compact.h
  src/v/serde/thrift/tests/compact_test.cc
Owners: none

raft/consensus: catch ss::condition_variable_timed_out not timed_out_error
  src/v/raft/consensus.cc
Owners: none

rptest: fix retention value in `archive_retention_test`
  tests/rptest/tests/archive_retention_test.py
Owners: none

kafka/server: Implement sanctions during topic create
  src/v/cluster/topics_frontend.cc
  src/v/kafka/server/tests/create_topics_test.cc
Owners: none

cloud_storage: throw exception not a pointer
  src/v/cloud_storage/cache_service.cc
Owners: none

test_utils: extract make_throwing_stream as a test_util
  src/v/test_utils/BUILD
  src/v/test_utils/iostream.h
  src/v/utils/tests/BUILD
  src/v/utils/tests/input_stream_fanout_test.cc
Owners: none

cst/cache: Test current exception handling during put
  src/v/cloud_storage/tests/cache_test.cc
  src/v/utils/tests/BUILD
Owners: none

cst/cache: Extract tmp_filepath variable
  src/v/cloud_storage/cache_service.cc
Owners: none

cst/cache: Refactor error handling during put
  src/v/cloud_storage/cache_service.cc
Owners: none

cst/cache: Remove tmp file on put failure
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/tests/cache_test.cc
Owners: none

cloud_storage: throw exception not a pointer
  src/v/cloud_storage/cache_service.cc
Owners: none

test_utils: extract make_throwing_stream as a test_util
  src/v/test_utils/iostream.h
  src/v/utils/tests/input_stream_fanout_test.cc
Owners: none

cst/cache: Test current exception handling during put
  src/v/cloud_storage/tests/cache_test.cc
Owners: none

cst/cache: Extract tmp_filepath variable
  src/v/cloud_storage/cache_service.cc
Owners: none

cst/cache: Refactor error handling during put
  src/v/cloud_storage/cache_service.cc
Owners: none

cst/cache: Remove tmp file on put failure
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/tests/cache_test.cc
Owners: none

debug-bundle: Added error code for developer mode
  src/v/debug_bundle/error.cc
  src/v/debug_bundle/error.h
  src/v/redpanda/admin/debug_bundle.cc
Owners: none

c/topics: Implement schema ID validation sanctions (topic create)
  src/v/cluster/topic_configuration.h
  src/v/cluster/topics_frontend.cc
  src/v/cluster/types.h
  src/v/kafka/server/tests/create_topics_test.cc
Owners: none

debug_bundle: restrict usage in developer_mode to prevent crashes
  src/v/debug_bundle/debug_bundle_service.cc
  src/v/debug_bundle/debug_bundle_service.h
  src/v/debug_bundle/tests/debug_bundle_service_test.cc
Owners: none

parquet: cleanup column map
  src/v/serde/parquet/writer.cc
Owners: none

parquet: add randomized testing
  src/v/serde/parquet/BUILD
  src/v/serde/parquet/tests/BUILD
  src/v/serde/parquet/tests/generate_file.cc
  src/v/test_utils/go/parquet_verifier/main.go
Owners: none

rpk connect: show rpk help text with --help/-h
  src/go/rpk/pkg/cli/connect/connect.go
Owners: @twmb, @r-vasquez, @gene-redpanda, @Deflaimun

parquet: remove redundant field for path vs name.
  src/v/serde/parquet/flattened_schema.cc
  src/v/serde/parquet/schema.cc
  src/v/serde/parquet/schema.h
  src/v/serde/parquet/shredder.cc
  src/v/serde/parquet/tests/generate_file.cc
  src/v/serde/parquet/tests/generate_metadata.cc
  src/v/serde/parquet/tests/schema_test.cc
  src/v/serde/parquet/tests/shredder_test.cc
  src/v/serde/parquet/writer.cc
Owners: none

rptest: reduce cache eviction throttling for space leak test
  tests/rptest/tests/test_si_cache_space_leak.py
Owners: none

config: renamed iceberg rest catalog properties
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/datalake/coordinator/catalog_factory.cc
  tests/rptest/tests/cluster_config_test.py
  tests/rptest/tests/datalake/rest_catalog_connection_test.py
Owners: @redpanda-data/documentation

c/partition: expose interface to query the latest offset from the cloud
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
Owners: none

r/consensus: fixed some typos in comments
  src/v/raft/consensus.cc
Owners: none

c/backend: discard local replica state if cloud state is more up to date
  src/v/cluster/controller_backend.cc
Owners: none

tests: added test validating if the most recent cloud state if favored
  tests/rptest/tests/partition_force_reconfiguration_test.py
Owners: none

`net`: use `vlog()` macro in `transport.cc` logging
  src/v/net/transport.cc
Owners: none

cloud_storage_client: accept templatized logger
  src/v/cloud_storage_clients/util.cc
  src/v/cloud_storage_clients/util.h
Owners: none

cloud_io: add missing error handling to `remote::download_object`
  src/v/cloud_storage/remote.cc
Owners: none

.github/CODEOWNERS:

#
# docs, prose, legal
#
licenses           @emaxerrno

#
# cloud
#
/src/go/k8s   @redpanda-data/k8s

#
# build
#
/.clang-format             @redpanda-data/devprod
/.clang-tidy               @redpanda-data/devprod
/.clang_complete           @redpanda-data/devprod
/.github                   @redpanda-data/devprod
/.gitignore                @redpanda-data/devprod
/.gitorderfile             @redpanda-data/devprod
/.style.yapf               @redpanda-data/devprod
/build.sh                  @redpanda-data/devprod
/cmake                     @redpanda-data/devprod        @benpope
/install-dependencies.sh   @redpanda-data/devprod
/.yapfignore               @redpanda-data/devprod

#
# crypto
#
/src/v/crypto              @michael-redpanda

#
# rpk
#
/src/go/rpk        @twmb @r-vasquez @gene-redpanda @Deflaimun
# There are now two copies goreleaser.yaml in the interim `rpk connect` arch
# Adding devprod to code owners to review any changes (e.g. they should stay in sync)
/src/go/.goreleaser.yaml @twmb @r-vasquez @gene-redpanda @Deflaimun @redpanda-data/devprod
/src/go/.goreleaser_rpk_connect.yaml @twmb @r-vasquez @gene-redpanda @Deflaimun @redpanda-data/devprod

#
# testing
#
/tests/docker                       @redpanda-data/devprod
/tests/run.sh                       @redpanda-data/devprod
/src/consistency-testing            @mmaslankaprv
/tests/java/tx-verifier             @mmaslankaprv

#
# automatically tag docs team for configuration changes
#
/src/v/config/configuration.cc                      @redpanda-data/documentation
/src/v/config/configuration.h                       @redpanda-data/documentation
/src/v/config/node_config.cc                        @redpanda-data/documentation
/src/v/config/node_config.h                         @redpanda-data/documentation
/src/v/kafka/client/configuration.cc                @redpanda-data/documentation
/src/v/kafka/client/configuration.h                 @redpanda-data/documentation
/src/v/pandaproxy/api/api-doc                       @redpanda-data/documentation
/src/v/pandaproxy/rest/configuration.cc             @redpanda-data/documentation
/src/v/pandaproxy/rest/configuration.h              @redpanda-data/documentation
/src/v/pandaproxy/schema_registry/configuration.cc  @redpanda-data/documentation
/src/v/pandaproxy/schema_registry/configuration.h   @redpanda-data/documentation
/src/v/redpanda/admin/api-doc                       @redpanda-data/documentation
