Repository redpanda-data/redpanda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @emaxerrno, @redpanda-data/k8s, @redpanda-data/devprod, @benpope, @michael-redpanda, @twmb, @r-vasquez, @gene-redpanda, @Deflaimun, @mmaslankaprv, @redpanda-data/documentation

.github/CODEOWNERS:

#
# docs, prose, legal
#
licenses           @emaxerrno

#
# cloud
#
/src/go/k8s   @redpanda-data/k8s

#
# build
#
/.clang-format             @redpanda-data/devprod
/.clang-tidy               @redpanda-data/devprod
/.clang_complete           @redpanda-data/devprod
/.github                   @redpanda-data/devprod
/.gitignore                @redpanda-data/devprod
/.gitorderfile             @redpanda-data/devprod
/.style.yapf               @redpanda-data/devprod
/build.sh                  @redpanda-data/devprod
/cmake                     @redpanda-data/devprod        @benpope
/install-dependencies.sh   @redpanda-data/devprod
/.yapfignore               @redpanda-data/devprod

#
# crypto
#
/src/v/crypto              @michael-redpanda

#
# rpk
#
/src/go/rpk        @twmb @r-vasquez @gene-redpanda @Deflaimun
# There are now two copies goreleaser.yaml in the interim `rpk connect` arch
# Adding devprod to code owners to review any changes (e.g. they should stay in sync)
/src/go/.goreleaser.yaml @twmb @r-vasquez @gene-redpanda @Deflaimun @redpanda-data/devprod
/src/go/.goreleaser_rpk_connect.yaml @twmb @r-vasquez @gene-redpanda @Deflaimun @redpanda-data/devprod

#
# testing
#
/tests/docker                       @redpanda-data/devprod
/tests/run.sh                       @redpanda-data/devprod
/src/consistency-testing            @mmaslankaprv
/tests/java/tx-verifier             @mmaslankaprv

#
# automatically tag docs team for configuration changes
#
/src/v/config/configuration.cc                      @redpanda-data/documentation
/src/v/config/configuration.h                       @redpanda-data/documentation
/src/v/config/node_config.cc                        @redpanda-data/documentation
/src/v/config/node_config.h                         @redpanda-data/documentation
/src/v/kafka/client/configuration.cc                @redpanda-data/documentation
/src/v/kafka/client/configuration.h                 @redpanda-data/documentation
/src/v/pandaproxy/api/api-doc                       @redpanda-data/documentation
/src/v/pandaproxy/rest/configuration.cc             @redpanda-data/documentation
/src/v/pandaproxy/rest/configuration.h              @redpanda-data/documentation
/src/v/pandaproxy/schema_registry/configuration.cc  @redpanda-data/documentation
/src/v/pandaproxy/schema_registry/configuration.h   @redpanda-data/documentation
/src/v/redpanda/admin/api-doc                       @redpanda-data/documentation

ssx: Remove async clear workaround
  src/v/cluster/partition_manager.cc
  src/v/ssx/BUILD
  src/v/ssx/async-clear.h
  src/v/storage/log_manager.cc
Owners: none

build: added missing parts to build translation pieces with bazel
  src/v/datalake/BUILD
  src/v/datalake/coordinator/BUILD
  src/v/datalake/translation/BUILD
Owners: none

iceberg: move from_uri from manifest_io to metadata_io
  src/v/iceberg/manifest_io.cc
  src/v/iceberg/manifest_io.h
  src/v/iceberg/metadata_io.h
Owners: none

c/rm_stm: remove feature::transaction_ga check
  src/v/cluster/rm_stm.cc
Owners: none

iceberg: lift to_uri to metadata_io
  src/v/iceberg/manifest_io.cc
  src/v/iceberg/manifest_io.h
  src/v/iceberg/metadata_io.h
  src/v/iceberg/table_io.cc
  src/v/iceberg/table_io.h
  src/v/iceberg/tests/rest_catalog_test.cc
  src/v/iceberg/tests/uri_test.cc
  src/v/iceberg/uri.h
Owners: none

rpc: don't wait for the obsolete feature on start
  src/v/redpanda/application.cc
  src/v/rpc/rpc_server.cc
  src/v/rpc/rpc_server.h
  src/v/rpc/test/rpc_gen_cycling_test.cc
Owners: none

c/node_status_backend: don't check retired feature
  src/v/cluster/node_status_backend.cc
Owners: none

k/server: do not check feature::kafka_gssapi
  src/v/kafka/server/server.cc
Owners: none

k/server: do not check feature::node_isolation
  src/v/kafka/server/BUILD
  src/v/kafka/server/handlers/details/isolated_node_utils.h
  src/v/kafka/server/handlers/metadata.cc
Owners: none

Revert "tests: added ability to run ducktape datalake tests with serde parquet"
  tests/rptest/services/redpanda.py
  tests/rptest/tests/datalake/datalake_e2e_test.py
  tests/rptest/tests/datalake/rest_catalog_connection_test.py
Owners: none

c/controller_backend: do not check old feature
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
  src/v/cluster/feature_manager.cc
Owners: none

iceberg/tests: use correct bucket name
  src/v/iceberg/tests/merge_append_action_test.cc
  src/v/iceberg/tests/metadata_query_test.cc
Owners: none

raft: don't check retired feature
  src/v/raft/consensus.cc
  src/v/raft/group_manager.cc
Owners: none

c/tx_gateway_frontend: remove dead code
  src/v/cluster/tx_gateway_frontend.h
Owners: none

datalake: use serde parquet writer as a default
  src/v/datalake/translation/partition_translator.cc
Owners: none

c/members_manager: do not check retired feature
  src/v/cluster/members_manager.cc
Owners: none

iceberg: remove unused method manifest_io::uri_base
  src/v/iceberg/manifest_io.cc
  src/v/iceberg/manifest_io.h
Owners: none

[rptest] support operator V2 in HTT
  tests/rptest/redpanda_cloud_tests/high_throughput_test.py
Owners: none

rptest: skip assert-unreachable logger in log_level-test
  tests/rptest/tests/log_level_test.py
Owners: none

cluster: Avoid oversized alloc in partition_manager
  src/v/cluster/cloud_metadata/tests/cluster_recovery_backend_test.cc
  src/v/cluster/partition_manager.h
  src/v/model/BUILD
  src/v/model/ktp.h
  src/v/transform/rpc/tests/transform_rpc_test.cc
Owners: none

c/ephemeral_credential_FE: don't check old feature
  src/v/cluster/ephemeral_credential_frontend.cc
  src/v/cluster/tests/ephemeral_credential_test.cc
Owners: none

feature_table: remove unused feature flags
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
Owners: none

iceberg: azure uri scheme support
  src/v/cloud_io/BUILD
  src/v/cloud_io/provider.h
  src/v/cloud_io/remote.cc
  src/v/cloud_io/remote.h
  src/v/iceberg/BUILD
  src/v/iceberg/metadata_io.h
  src/v/iceberg/tests/BUILD
  src/v/iceberg/tests/CMakeLists.txt
  src/v/iceberg/tests/uri_bench.cc
  src/v/iceberg/tests/uri_test.cc
  src/v/iceberg/uri.cc
  src/v/iceberg/uri.h
Owners: none

feat/tests: use new features to retire older ones
  src/v/features/tests/feature_table_test.cc
Owners: none

config: added missing rest catalog properties
  src/v/config/configuration.cc
  src/v/config/configuration.h
Owners: @redpanda-data/documentation

tests/polaris: added ability to setup polaris catalog with tls
  tests/rptest/services/polaris_catalog.py
  tests/rptest/services/templates/polaris-server.yml
Owners: none

datalake/configs: remove datalake_translation_interval_ms
  src/v/cloud_storage/tests/topic_manifest_test.cc
  src/v/cluster/topic_configuration.cc
  src/v/cluster/topic_properties.cc
  src/v/cluster/topic_properties.h
  src/v/cluster/topic_table.cc
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/compat/cluster_generator.h
  src/v/compat/cluster_json.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/datalake/datalake_manager.cc
  src/v/datalake/datalake_manager.h
  src/v/datalake/tests/fixture.h
  src/v/datalake/tests/translator_test.cc
  src/v/kafka/server/handlers/alter_configs.cc
  src/v/kafka/server/handlers/configs/config_response_utils.cc
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/handlers/incremental_alter_configs.cc
  src/v/kafka/server/handlers/topics/types.cc
  src/v/kafka/server/handlers/topics/types.h
  src/v/kafka/server/tests/alter_config_test.cc
  src/v/storage/ntp_config.h
  src/v/storage/types.cc
  tests/rptest/clients/types.py
  tests/rptest/tests/datalake/datalake_services.py
  tests/rptest/tests/datalake/rest_catalog_connection_test.py
  tests/rptest/tests/describe_topics_test.py
  tests/rptest/tests/polaris_catalog_smoke_test.py
  tools/offline_log_viewer/controller.py
Owners: @redpanda-data/documentation

topic/properties: introduce iceberg_mode enum
  src/v/model/metadata.h
  src/v/model/model.cc
Owners: none

datalake: add missing bazel dep
  src/v/datalake/BUILD
Owners: none

tests: update polaris version to latest rc
  tests/docker/ducktape-deps/polaris
  tests/rptest/services/polaris_catalog.py
  tests/rptest/services/templates/polaris-server.yml
Owners: @redpanda-data/devprod

tests: test redpanda connection to polaris catalog
  tests/rptest/tests/polaris_catalog_smoke_test.py
Owners: none

datalake/tests: bump coordinator snapshot timeout
  tests/rptest/tests/datalake/coordinator_retention_test.py
Owners: none

cluster: add iceberg_delete topic property
  src/v/cloud_storage/tests/topic_manifest_test.cc
  src/v/cluster/topic_properties.cc
  src/v/cluster/topic_properties.h
  src/v/compat/cluster_generator.h
  tools/offline_log_viewer/controller.py
Owners: none

rpk: modify CTA in license warning
  src/go/rpk/pkg/adminapi/admin.go
  src/go/rpk/pkg/adminapi/admin_test.go
Owners: @twmb, @r-vasquez, @gene-redpanda, @Deflaimun

config: introduce iceberg_delete cluster config property
  src/v/config/configuration.cc
  src/v/config/configuration.h
Owners: @redpanda-data/documentation

datalake/translation: use record translator based on iceberg mode
  src/v/datalake/BUILD
  src/v/datalake/datalake_manager.cc
  src/v/datalake/datalake_manager.h
  src/v/datalake/tests/fixture.h
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
Owners: none

datalake: added catalog_factory class
  src/v/datalake/coordinator/BUILD
  src/v/datalake/coordinator/catalog_factory.cc
  src/v/datalake/coordinator/catalog_factory.h
  src/v/datalake/coordinator/coordinator_manager.cc
  src/v/datalake/coordinator/coordinator_manager.h
  src/v/datalake/datalake_manager.cc
  src/v/datalake/datalake_manager.h
  src/v/datalake/fwd.h
  src/v/redpanda/application.cc
Owners: none

schema_registry: Add cache metrics
  src/v/pandaproxy/schema_registry/store.h
Owners: none

rpk: add CTA to rpk cluster license info
  src/go/rpk/pkg/cli/cluster/license/BUILD
  src/go/rpk/pkg/cli/cluster/license/info.go
Owners: @twmb, @r-vasquez, @gene-redpanda, @Deflaimun

iceberg/rest: added tls support to iceberg rest catalog factory
  src/v/datalake/coordinator/catalog_factory.cc
Owners: none
