Repository redpanda-data/redpanda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @emaxerrno, @redpanda-data/k8s, @redpanda-data/devprod, @benpope, @michael-redpanda, @twmb, @r-vasquez, @gene-redpanda, @Deflaimun, @mmaslankaprv, @redpanda-data/documentation

.github/CODEOWNERS:

#
# docs, prose, legal
#
licenses           @emaxerrno

#
# cloud
#
/src/go/k8s   @redpanda-data/k8s

#
# build
#
/.clang-format             @redpanda-data/devprod
/.clang-tidy               @redpanda-data/devprod
/.clang_complete           @redpanda-data/devprod
/.github                   @redpanda-data/devprod
/.gitignore                @redpanda-data/devprod
/.gitorderfile             @redpanda-data/devprod
/.style.yapf               @redpanda-data/devprod
/build.sh                  @redpanda-data/devprod
/cmake                     @redpanda-data/devprod        @benpope
/install-dependencies.sh   @redpanda-data/devprod
/.yapfignore               @redpanda-data/devprod

#
# crypto
#
/src/v/crypto              @michael-redpanda

#
# rpk
#
/src/go/rpk        @twmb @r-vasquez @gene-redpanda @Deflaimun
# There are now two copies goreleaser.yaml in the interim `rpk connect` arch
# Adding devprod to code owners to review any changes (e.g. they should stay in sync)
/src/go/.goreleaser.yaml @twmb @r-vasquez @gene-redpanda @Deflaimun @redpanda-data/devprod
/src/go/.goreleaser_rpk_connect.yaml @twmb @r-vasquez @gene-redpanda @Deflaimun @redpanda-data/devprod

#
# testing
#
/tests/docker                       @redpanda-data/devprod
/tests/run.sh                       @redpanda-data/devprod
/src/consistency-testing            @mmaslankaprv
/tests/java/tx-verifier             @mmaslankaprv

#
# automatically tag docs team for configuration changes
#
/src/v/config/configuration.cc                      @redpanda-data/documentation
/src/v/config/configuration.h                       @redpanda-data/documentation
/src/v/config/node_config.cc                        @redpanda-data/documentation
/src/v/config/node_config.h                         @redpanda-data/documentation
/src/v/kafka/client/configuration.cc                @redpanda-data/documentation
/src/v/kafka/client/configuration.h                 @redpanda-data/documentation
/src/v/pandaproxy/api/api-doc                       @redpanda-data/documentation
/src/v/pandaproxy/rest/configuration.cc             @redpanda-data/documentation
/src/v/pandaproxy/rest/configuration.h              @redpanda-data/documentation
/src/v/pandaproxy/schema_registry/configuration.cc  @redpanda-data/documentation
/src/v/pandaproxy/schema_registry/configuration.h   @redpanda-data/documentation
/src/v/redpanda/admin/api-doc                       @redpanda-data/documentation

cloud_io: custom scheme for gcs which is required for iceberg
  src/v/cloud_io/remote.cc
Owners: none

reflection: bazelize async_adl_test
  src/v/reflection/test/BUILD
  src/v/reflection/test/async_adl_test.cc
Owners: none

datalake: add topic revision to coordinator state and requests
  src/v/datalake/coordinator/coordinator.cc
  src/v/datalake/coordinator/coordinator.h
  src/v/datalake/coordinator/frontend.cc
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/datalake/coordinator/state.cc
  src/v/datalake/coordinator/state.h
  src/v/datalake/coordinator/state_update.cc
  src/v/datalake/coordinator/state_update.h
  src/v/datalake/coordinator/tests/coordinator_test.cc
  src/v/datalake/coordinator/tests/state_machine_test.cc
  src/v/datalake/coordinator/tests/state_test_utils.h
  src/v/datalake/coordinator/tests/state_update_test.cc
  src/v/datalake/coordinator/types.cc
  src/v/datalake/coordinator/types.h
  src/v/datalake/tests/fixture.h
  src/v/datalake/translation/partition_translator.cc
Owners: none

datalake: track topic lifecycle states in coordinator
  src/v/datalake/coordinator/BUILD
  src/v/datalake/coordinator/coordinator.cc
  src/v/datalake/coordinator/coordinator.h
  src/v/datalake/coordinator/coordinator_manager.cc
  src/v/datalake/coordinator/coordinator_manager.h
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/datalake/coordinator/state.cc
  src/v/datalake/coordinator/state.h
  src/v/datalake/coordinator/state_machine.cc
  src/v/datalake/coordinator/state_update.cc
  src/v/datalake/coordinator/state_update.h
  src/v/datalake/coordinator/tests/BUILD
  src/v/datalake/coordinator/tests/coordinator_test.cc
  src/v/datalake/coordinator/tests/state_machine_test.cc
  src/v/redpanda/application.cc
Owners: none

rptest/datalake: run tests on gcp
  tests/rptest/tests/datalake/utils.py
Owners: none

datalake: use s3_impostor in fixture utests
  src/v/cluster/archival/tests/archival_service_fixture.h
  src/v/cluster/tests/cluster_test_fixture.h
  src/v/datalake/tests/fixture.h
Owners: none

tests: add datalake topic lifecycle test
  tests/rptest/tests/datalake/datalake_e2e_test.py
  tests/rptest/tests/datalake/datalake_services.py
Owners: none

rptest/datalake: run basic e2e w/ non-fs apache catalog
  tests/rptest/tests/datalake/datalake_e2e_test.py
Owners: none

tests: start redpanda in DatalakeServices
  tests/rptest/tests/datalake/compaction_gaps_test.py
  tests/rptest/tests/datalake/coordinator_retention_test.py
  tests/rptest/tests/datalake/datalake_e2e_test.py
  tests/rptest/tests/datalake/datalake_services.py
Owners: none

rptest/c: add gcp support to cloud_storage context
  tests/rptest/context/cloud_storage.py
Owners: none

cloud_storage: Make cloud_storage_fixture a friend of cache
  src/v/cloud_storage/cache_service.h
Owners: none

reflection: bazelize collections_interop test
  src/v/reflection/test/BUILD
  src/v/reflection/test/collections_interop.cc
Owners: none

datalake: add coordinator stm topic lifecycle transitions utest
  src/v/datalake/coordinator/tests/state_update_test.cc
Owners: none

datalake: introduce table_creator
  src/v/datalake/BUILD
  src/v/datalake/CMakeLists.txt
  src/v/datalake/catalog_schema_manager.cc
  src/v/datalake/catalog_schema_manager.h
  src/v/datalake/fwd.h
  src/v/datalake/table_creator.cc
  src/v/datalake/table_creator.h
Owners: none

datalake: check that topic revision is constant after loading table
  src/v/datalake/coordinator/iceberg_file_committer.cc
Owners: none

rptest/s: gcp support for trino
  tests/rptest/services/trino_service.py
Owners: none

ducktape: fix download of redpanda-data/ocsf-schema
  tests/docker/ducktape-deps/ocsf-server
Owners: @redpanda-data/devprod

datalake: return correct errc for add_files in case of revision mismatch
  src/v/datalake/coordinator/coordinator.cc
Owners: none

reflection: remove unused headers
  src/v/reflection/absl/btree_map.h
  src/v/reflection/absl/flat_hash_map.h
  src/v/reflection/absl/node_hash_map.h
  src/v/reflection/std/map.h
  src/v/reflection/std/unordered_map.h
  src/v/reflection/std/vector.h
Owners: none

datalake: add coordinator::frontend::ensure_table_exists method
  src/v/datalake/coordinator/BUILD
  src/v/datalake/coordinator/coordinator.cc
  src/v/datalake/coordinator/coordinator.h
  src/v/datalake/coordinator/frontend.cc
  src/v/datalake/coordinator/frontend.h
  src/v/datalake/coordinator/rpc.json
  src/v/datalake/coordinator/service.cc
  src/v/datalake/coordinator/service.h
  src/v/datalake/coordinator/state.cc
  src/v/datalake/coordinator/state.h
  src/v/datalake/coordinator/state_machine.cc
  src/v/datalake/coordinator/state_update.cc
  src/v/datalake/coordinator/state_update.h
  src/v/datalake/coordinator/types.cc
  src/v/datalake/coordinator/types.h
Owners: none

datalake: call ensure_table_exists from record_multiplexer
  src/v/datalake/BUILD
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/datalake/coordinator/iceberg_file_committer.h
  src/v/datalake/coordinator/state_update.cc
  src/v/datalake/coordinator/tests/coordinator_test.cc
  src/v/datalake/coordinator/tests/iceberg_file_committer_test.cc
  src/v/datalake/coordinator/tests/state_machine_test.cc
  src/v/datalake/coordinator/tests/state_update_test.cc
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/gtest_record_multiplexer_test.cc
  src/v/datalake/tests/record_multiplexer_test.cc
  src/v/datalake/tests/translation_task_test.cc
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
  src/v/datalake/translation_task.cc
  src/v/datalake/translation_task.h
Owners: none

ducktape: follow-up fix download of redpanda-data/ocsf-schema
  tests/docker/ducktape-deps/ocsf-server
Owners: @redpanda-data/devprod

r/tests: fixed race condition leading to segfault
  src/v/raft/tests/raft_fixture.cc
Owners: none

iceberg/table_io: add method to delete all table metadata
  src/v/iceberg/table_io.cc
  src/v/iceberg/table_io.h
Owners: none

s/log: fixed race condition between appends and prefix truncation
  src/v/storage/disk_log_impl.cc
Owners: none

iceberg: add simple drop_table support for filesystem_catalog
  src/v/iceberg/filesystem_catalog.cc
Owners: none

Revert "s/log: removed the line informing user about outstanding locks"
  src/v/storage/disk_log_impl.cc
Owners: none

k/test: Addition for dry create_topics dry run
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/create_topics_test.cc
Owners: none

rpk: decode adminapi error message in role creation
  src/go/rpk/pkg/adminapi/admin.go
  src/go/rpk/pkg/cli/security/role/create.go
Owners: @twmb, @r-vasquez, @gene-redpanda, @Deflaimun

storage/tests: added stress fiber to concurrent prefix truncate test
  src/v/storage/tests/storage_e2e_test.cc
Owners: none

rpk: add `rpk debug remote bundle`
  MODULE.bazel
  src/go/rpk/go.mod
  src/go/rpk/pkg/cli/debug/BUILD
  src/go/rpk/pkg/cli/debug/bundle/bundle.go
  src/go/rpk/pkg/cli/debug/common/BUILD
  src/go/rpk/pkg/cli/debug/common/common.go
  src/go/rpk/pkg/cli/debug/common/common_test.go
  src/go/rpk/pkg/cli/debug/debug.go
  src/go/rpk/pkg/cli/debug/remotebundle/BUILD
  src/go/rpk/pkg/cli/debug/remotebundle/cancel.go
  src/go/rpk/pkg/cli/debug/remotebundle/download.go
  src/go/rpk/pkg/cli/debug/remotebundle/remote.go
  src/go/rpk/pkg/cli/debug/remotebundle/start.go
  src/go/rpk/pkg/cli/debug/remotebundle/status.go
  tests/rptest/clients/rpk.py
  tests/rptest/tests/rpk_cluster_test.py
  tests/rptest/tests/rpk_debug_bundle_test.py
Owners: @twmb, @r-vasquez, @gene-redpanda, @Deflaimun

rpk: add err message of CreateACL response
  src/go/rpk/pkg/cli/security/acl/create.go
  tests/rptest/tests/acls_test.py
Owners: @twmb, @r-vasquez, @gene-redpanda, @Deflaimun

datalake: correctly get null keys/values from record
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
  src/v/datalake/record_schema_resolver.cc
  src/v/datalake/record_schema_resolver.h
  src/v/datalake/record_translator.cc
  src/v/datalake/record_translator.h
  src/v/model/record.h
Owners: none

serde: bazelize serde/bench
  src/v/serde/test/BUILD
  src/v/serde/test/bench.cc
Owners: none

datalake: move value field out of system struct
  src/v/datalake/record_translator.cc
  src/v/datalake/tests/gtest_record_multiplexer_test.cc
Owners: none

iceberg: add drop_table utest for filesystem_catalog
  src/v/iceberg/tests/filesystem_catalog_test.cc
Owners: none

`storage`: add `chunked_compaction_reducer`
  src/v/storage/compaction_reducers.cc
  src/v/storage/compaction_reducers.h
Owners: none

rpk debug: move shared code to common
  src/go/rpk/pkg/adminapi/admin.go
  src/go/rpk/pkg/cli/debug/bundle/BUILD
  src/go/rpk/pkg/cli/debug/bundle/bundle.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_k8s_linux.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_linux.go
  src/go/rpk/pkg/cli/debug/common/BUILD
  src/go/rpk/pkg/cli/debug/common/common.go
Owners: @twmb, @r-vasquez, @gene-redpanda, @Deflaimun

d/coordinator: fixed possible iterator generation mismatch
  src/v/datalake/coordinator/coordinator.cc
Owners: none

tests/datalake: run topic lifecycle test with filesystem catalog
  tests/rptest/tests/datalake/datalake_e2e_test.py
Owners: none
