Repository redpanda-data/redpanda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @emaxerrno, @redpanda-data/k8s, @redpanda-data/devprod, @benpope, @michael-redpanda, @twmb, @r-vasquez, @gene-redpanda, @Deflaimun, @mmaslankaprv, @redpanda-data/documentation

.github/CODEOWNERS:

#
# docs, prose, legal
#
licenses           @emaxerrno

#
# cloud
#
/src/go/k8s   @redpanda-data/k8s

#
# build
#
/.clang-format             @redpanda-data/devprod
/.clang-tidy               @redpanda-data/devprod
/.clang_complete           @redpanda-data/devprod
/.github                   @redpanda-data/devprod
/.gitignore                @redpanda-data/devprod
/.gitorderfile             @redpanda-data/devprod
/.style.yapf               @redpanda-data/devprod
/build.sh                  @redpanda-data/devprod
/cmake                     @redpanda-data/devprod        @benpope
/install-dependencies.sh   @redpanda-data/devprod
/.yapfignore               @redpanda-data/devprod

#
# crypto
#
/src/v/crypto              @michael-redpanda

#
# rpk
#
/src/go/rpk        @twmb @r-vasquez @gene-redpanda @Deflaimun
# There are now two copies goreleaser.yaml in the interim `rpk connect` arch
# Adding devprod to code owners to review any changes (e.g. they should stay in sync)
/src/go/.goreleaser.yaml @twmb @r-vasquez @gene-redpanda @Deflaimun @redpanda-data/devprod
/src/go/.goreleaser_rpk_connect.yaml @twmb @r-vasquez @gene-redpanda @Deflaimun @redpanda-data/devprod

#
# testing
#
/tests/docker                       @redpanda-data/devprod
/tests/run.sh                       @redpanda-data/devprod
/src/consistency-testing            @mmaslankaprv
/tests/java/tx-verifier             @mmaslankaprv

#
# automatically tag docs team for configuration changes
#
/src/v/config/configuration.cc                      @redpanda-data/documentation
/src/v/config/configuration.h                       @redpanda-data/documentation
/src/v/config/node_config.cc                        @redpanda-data/documentation
/src/v/config/node_config.h                         @redpanda-data/documentation
/src/v/kafka/client/configuration.cc                @redpanda-data/documentation
/src/v/kafka/client/configuration.h                 @redpanda-data/documentation
/src/v/pandaproxy/api/api-doc                       @redpanda-data/documentation
/src/v/pandaproxy/rest/configuration.cc             @redpanda-data/documentation
/src/v/pandaproxy/rest/configuration.h              @redpanda-data/documentation
/src/v/pandaproxy/schema_registry/configuration.cc  @redpanda-data/documentation
/src/v/pandaproxy/schema_registry/configuration.h   @redpanda-data/documentation
/src/v/redpanda/admin/api-doc                       @redpanda-data/documentation

schema_registry/avro: move collect_schema to util.h
  src/v/pandaproxy/BUILD
  src/v/pandaproxy/schema_registry/CMakeLists.txt
  src/v/pandaproxy/schema_registry/avro.cc
  src/v/pandaproxy/schema_registry/util.cc
  src/v/pandaproxy/schema_registry/util.h
Owners: none

schema_registry/util: collect_schema overlad, collected_schema::get
  src/v/pandaproxy/schema_registry/util.cc
  src/v/pandaproxy/schema_registry/util.h
Owners: none

tests/controller_availability: increase timeout
  tests/rptest/tests/controller_availability_test.py
Owners: none

schema_registry/json: move to_json_pointer, conversion jsoncons->rapidjson
  src/v/pandaproxy/schema_registry/json.cc
Owners: none

schema_registry/json: prepare document_context to store external schemas
  src/v/pandaproxy/schema_registry/json.cc
Owners: none

schema_registry/json: add the support to resolve external references
  src/v/pandaproxy/schema_registry/json.cc
Owners: none

schema_registry/json: convert parse_json to coroutine
  src/v/pandaproxy/schema_registry/json.cc
Owners: none

schema_registry/json: move parse_json to jsoncons-only
  src/v/pandaproxy/schema_registry/json.cc
Owners: none

schema_registry/json: remaning work
  src/v/pandaproxy/schema_registry/json.cc
  src/v/pandaproxy/schema_registry/test/test_json_schema.cc
Owners: none

schema_registry/json: parse_json extract external schemas
  src/v/pandaproxy/schema_registry/json.cc
Owners: none

schema_registry/json collect_bundled_schemas_and_fix_refs improvement
  src/v/pandaproxy/schema_registry/json.cc
Owners: none

auditing: construct metrics probe during service construction
  src/v/security/audit/audit_log_manager.cc
  src/v/security/audit/audit_log_manager.h
Owners: none

auditing: construct metrics probe during service construction
  src/v/security/audit/audit_log_manager.cc
  src/v/security/audit/audit_log_manager.h
Owners: none

dt: disable pkcs12 test in fips mode
  tests/rptest/tests/pkcs12_test.py
Owners: none

dt: simplify pkcs12 test
  tests/rptest/tests/pkcs12_test.py
Owners: none

bazel/toolchain: Make lldb more useful
  bazel/toolchain/Dockerfile.llvm
Owners: none

config: renamed filesystem catalog type to `object_storage`
  src/v/config/configuration.cc
  src/v/config/convert.h
  src/v/config/types.h
  src/v/datalake/coordinator/catalog_factory.cc
Owners: @redpanda-data/documentation

c/tm_stm: refactored error handling when expiring transactions
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
Owners: none

c/rm_gateway: improved log messages on dispatch errors
  src/v/cluster/rm_partition_frontend.cc
Owners: none

datalake/tests: added parquet values conversion tests
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/datalake_parquet_tests.cc
Owners: none

datalake/parquet: added iceberg value to serde::parquet:value conversion
  src/v/datalake/BUILD
  src/v/datalake/CMakeLists.txt
  src/v/datalake/values_parquet.cc
  src/v/datalake/values_parquet.h
Owners: none

datalake/tests/services: fix credential management in CDT
  tests/rptest/services/apache_iceberg_catalog.py
  tests/rptest/services/spark_service.py
  tests/rptest/services/trino_service.py
  tests/rptest/tests/datalake/datalake_services.py
  tests/rptest/tests/datalake/iceberg_rest_catalog.py
Owners: none

datalake/tests: increase wait time for trino/spark
  tests/rptest/services/spark_service.py
  tests/rptest/services/trino_service.py
Owners: none

iceberg-rest-catalog/deps: remove core-site.xml from the packaged jar
  tests/java/iceberg-rest-catalog/src/main/resources/core-site.xml
Owners: none

datalake/tests: limit datalake tests to ec2 + s3
  tests/rptest/tests/datalake/datalake_e2e_test.py
  tests/rptest/tests/datalake/iceberg_rest_catalog_smoke_test.py
  tests/rptest/tests/datalake/rest_catalog_connection_test.py
  tests/rptest/tests/datalake/spark_sql_server_smoke_test.py
  tests/rptest/tests/datalake/trino_smoke_test.py
  tests/rptest/tests/datalake/utils.py
  tests/rptest/tests/polaris_catalog_smoke_test.py
Owners: none

kafka/server/tests: Fix comment
  src/v/kafka/server/tests/create_partition_test.cc
Owners: none

rptest: wait for 3 replicas before verifying config
  tests/rptest/tests/write_caching_test.py
Owners: none

rpk: bump dataplane to v1alpha2
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/transform/delete.go
  src/go/rpk/pkg/cli/transform/deploy.go
  src/go/rpk/pkg/cli/transform/list.go
  src/go/rpk/pkg/publicapi/transform.go
Owners: @twmb, @r-vasquez, @gene-redpanda, @Deflaimun

rpk/makefile: download golangcilint with recommended method
  src/go/rpk/Makefile
Owners: @twmb, @r-vasquez, @gene-redpanda, @Deflaimun

datalake/tests: deflake test_redpanda_connection_to_rest_catalog
  tests/rptest/tests/datalake/rest_catalog_connection_test.py
Owners: none

rpk: add public API support to mount/unmount
  src/go/rpk/pkg/cli/cluster/storage/BUILD
  src/go/rpk/pkg/cli/cluster/storage/cancel-mount.go
  src/go/rpk/pkg/cli/cluster/storage/list-mount.go
  src/go/rpk/pkg/cli/cluster/storage/list-mountable.go
  src/go/rpk/pkg/cli/cluster/storage/mount.go
  src/go/rpk/pkg/cli/cluster/storage/status-mount.go
  src/go/rpk/pkg/cli/cluster/storage/storage.go
  src/go/rpk/pkg/cli/cluster/storage/unmount.go
  src/go/rpk/pkg/cli/transform/BUILD
  src/go/rpk/pkg/publicapi/BUILD
  src/go/rpk/pkg/publicapi/dataplane.go
Owners: @twmb, @r-vasquez, @gene-redpanda, @Deflaimun

audit: clamp audit client max parallelism
  src/v/security/audit/audit_log_manager.cc
  tests/rptest/tests/audit_log_test.py
Owners: none

c/tests: avoid ubsan signed integer overflow
  src/v/cluster/tests/rm_stm_test_fixture.h
Owners: none

storage: remove unused get_disk_metrics method
  src/v/storage/probe.h
Owners: none

storage: rename node_probe::_disk member to _data_disk
  src/v/storage/node.cc
  src/v/storage/probe.cc
  src/v/storage/probe.h
Owners: none

cluster/types: Allow an error_message in topic_result
  src/v/cluster/types.h
Owners: none

cluster: Refactor topics_frontend::validate_topic_configuration
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
Owners: none

kafka/server: Map the error_message in topic_result
  src/v/kafka/server/handlers/configs/config_utils.h
  src/v/kafka/server/handlers/create_partitions.cc
  src/v/kafka/server/handlers/topics/types.h
Owners: none

kafka/server: Propagate error message for invalid topic name
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
  src/v/kafka/server/tests/create_topics_test.cc
Owners: none

kafka/server: Propagate error message when sanctioned
  src/v/cluster/topics_frontend.cc
  src/v/kafka/server/tests/alter_config_test.cc
  src/v/kafka/server/tests/create_partition_test.cc
  src/v/kafka/server/tests/create_topics_test.cc
Owners: none
