Repository redpanda-data/redpanda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @emaxerrno, @redpanda-data/k8s, @redpanda-data/devprod, @benpope, @michael-redpanda, @twmb, @r-vasquez, @gene-redpanda, @Deflaimun, @mmaslankaprv, @redpanda-data/documentation

goreleaser: move quill log files out of dist dir
  src/go/.goreleaser.yaml
Owners: @twmb, @r-vasquez, @gene-redpanda, @Deflaimun, @redpanda-data/devprod

cdt: fix spark-iceberg-dependencies location
  tests/docker/Dockerfile
  tests/docker/ducktape-deps/spark
Owners: @redpanda-data/devprod

configuration: renamed endpoint validator as its logic is generic
  src/v/config/configuration.cc
  src/v/config/validators.cc
  src/v/config/validators.h
Owners: @redpanda-data/documentation

iceberg/bazel: adjusted visibility of iceberg::rest_catalog module
  src/v/iceberg/BUILD
Owners: none

iceberg: support -1 indicating no current snapshot id
  src/v/iceberg/manifest_entry.h
  src/v/iceberg/merge_append_action.cc
Owners: none

tests/migrations: ignore errors when consuming, as the topic may be not there
  tests/rptest/tests/data_migrations_api_test.py
Owners: none

ducktape/java: download java22 for arm64 arch correctly
  tests/docker/ducktape-deps/java-dev-tools
Owners: @redpanda-data/devprod

base: rate-limited vlog helper
  src/v/base/vlog.h
Owners: none

cloud_storage: throw exception not a pointer
  src/v/cloud_storage/cache_service.cc
Owners: none

c/errors: add more migrations error codes
  src/v/cluster/errc.h
  src/v/cluster/errors.cc
  src/v/kafka/server/errors.h
Owners: none

admin/server: handle new migrations errors
  src/v/redpanda/admin/server.cc
Owners: none

test_utils: extract make_throwing_stream as a test_util
  src/v/test_utils/BUILD
  src/v/test_utils/iostream.h
  src/v/utils/tests/BUILD
  src/v/utils/tests/input_stream_fanout_test.cc
Owners: none

c/migrations: use distinct error codes
  src/v/cluster/data_migration_frontend.cc
  src/v/cluster/data_migration_table.cc
  src/v/cluster/data_migration_table.h
Owners: none

tests/migrations: test distinct error reporting
  src/v/cluster/tests/data_migration_table_test.cc
  tests/rptest/tests/data_migrations_api_test.py
Owners: none

treewide: remove uses of foreign_data_t
  src/v/bytes/iobuf.cc
  src/v/bytes/iobuf.h
  src/v/kafka/server/handlers/fetch.h
  src/v/model/record.h
  src/v/model/record_batch_reader.cc
  src/v/raft/replicate_batcher.cc
Owners: none

bazel: fix aarch64 linux builds
  MODULE.bazel
  MODULE.bazel.lock
  bazel/thirdparty/libpciaccess.BUILD
  bazel/thirdparty/requirements.txt
Owners: none

configuration: added iceberg catalog type property
  src/v/config/convert.h
  src/v/config/property.h
  src/v/config/rjson_serialization.cc
  src/v/config/rjson_serialization.h
  src/v/config/types.h
Owners: none

iceberg: adjusted iceberg catalog client package visibility
  src/v/iceberg/rest_client/BUILD
Owners: none

configuration: added properties to configure iceberg catalog
  src/v/config/configuration.cc
  src/v/config/configuration.h
  tests/rptest/tests/cluster_config_test.py
Owners: @redpanda-data/documentation

datalake: pass iceberg catalog pointer to coordinator manager
  src/v/datalake/coordinator/coordinator_manager.cc
  src/v/datalake/coordinator/coordinator_manager.h
  src/v/redpanda/BUILD
  src/v/redpanda/application.cc
Owners: none

ducktape: added pandas and arrow dependencies to ducktape
  tests/setup.py
Owners: none

iceberg/rc: always lowercase token type when parsing it
  src/v/iceberg/rest_client/BUILD
  src/v/iceberg/rest_client/json.cc
Owners: none

datalake/c: introduced catalog factory
  src/v/datalake/coordinator/BUILD
  src/v/datalake/coordinator/CMakeLists.txt
  src/v/datalake/coordinator/catalog_factory.cc
  src/v/datalake/coordinator/catalog_factory.h
Owners: none

clang-tidy: always error on the same checks as rp:static-analysis
  .clang-tidy
Owners: @redpanda-data/devprod

cst/cache: Extract tmp_filepath variable
  src/v/cloud_storage/cache_service.cc
Owners: none

cst/cache: Test current exception handling during put
  src/v/cloud_storage/tests/BUILD
  src/v/cloud_storage/tests/cache_test.cc
  src/v/utils/tests/BUILD
Owners: none

cst/cache: Refactor error handling during put
  src/v/cloud_storage/cache_service.cc
Owners: none

cmake: make checks cover at least the same set as task rp:static-analysis
  src/v/CMakeLists.txt
Owners: none

clang-tidy: make WarningsAsErrors match cmake clang tidy config
  .clang-tidy
  src/v/CMakeLists.txt
Owners: @redpanda-data/devprod

bazel: trigger build
  BUILD
Owners: none

`kafka`: add `hide_disabled_tristate()`
  src/v/kafka/server/handlers/configs/config_response_utils.cc
Owners: none

`kafka`: add `delete.retention.ms` to topic config handler
  src/v/cluster/metadata_cache.cc
  src/v/cluster/metadata_cache.h
  src/v/cluster/topic_table.cc
  src/v/cluster/types.h
  src/v/kafka/server/handlers/alter_configs.cc
  src/v/kafka/server/handlers/configs/config_response_utils.cc
  src/v/kafka/server/handlers/configs/config_utils.h
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/handlers/incremental_alter_configs.cc
  src/v/kafka/server/handlers/topics/types.cc
  src/v/kafka/server/handlers/topics/types.h
  src/v/kafka/server/handlers/topics/validators.h
  src/v/kafka/server/tests/alter_config_test.cc
  tests/rptest/clients/kafka_cli_tools.py
  tests/rptest/clients/types.py
  tests/rptest/tests/alter_topic_configuration_test.py
  tests/rptest/tests/describe_topics_test.py
Owners: none

metrics: Add list of enterprise features to call-home POST
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/metrics_reporter.h
  tests/rptest/tests/metrics_reporter_test.py
Owners: none

tests: add an always-passing empty test
  tests/rptest/utils/empty_test.py
Owners: none

tests: add empty test to chaos suite
  tests/rptest/test_suite_chaos.yml
Owners: none

`config`: add `tombstone_retention_ms` to cluster properties
  src/v/cluster/metadata_cache.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/validators.cc
  src/v/config/validators.h
  src/v/kafka/server/handlers/configs/config_response_utils.cc
  src/v/kafka/server/handlers/incremental_alter_configs.cc
  src/v/kafka/server/handlers/topics/types.cc
  src/v/kafka/server/tests/alter_config_test.cc
  src/v/redpanda/admin/server.cc
  src/v/storage/ntp_config.h
  tests/rptest/tests/cluster_config_test.py
  tests/rptest/tests/describe_topics_test.py
Owners: @redpanda-data/documentation

`rptest`: add `delete_retention_ms_test.py`
  tests/rptest/tests/delete_retention_ms_test.py
Owners: none

base: nolint unused ss alias
  src/v/base/seastarx.h
Owners: none

ct/tests: avoid double move from chunk
  src/v/cloud_topics/batcher/tests/aggregator_test.cc
Owners: none

ct/tests: fix test logic to match description
  src/v/cloud_topics/batcher/tests/aggregator_test.cc
Owners: none

.github/CODEOWNERS:

#
# docs, prose, legal
#
licenses           @emaxerrno

#
# cloud
#
/src/go/k8s   @redpanda-data/k8s

#
# build
#
/.clang-format             @redpanda-data/devprod
/.clang-tidy               @redpanda-data/devprod
/.clang_complete           @redpanda-data/devprod
/.github                   @redpanda-data/devprod
/.gitignore                @redpanda-data/devprod
/.gitorderfile             @redpanda-data/devprod
/.style.yapf               @redpanda-data/devprod
/build.sh                  @redpanda-data/devprod
/cmake                     @redpanda-data/devprod        @benpope
/install-dependencies.sh   @redpanda-data/devprod
/.yapfignore               @redpanda-data/devprod

#
# crypto
#
/src/v/crypto              @michael-redpanda

#
# rpk
#
/src/go/rpk        @twmb @r-vasquez @gene-redpanda @Deflaimun
# There are now two copies goreleaser.yaml in the interim `rpk connect` arch
# Adding devprod to code owners to review any changes (e.g. they should stay in sync)
/src/go/.goreleaser.yaml @twmb @r-vasquez @gene-redpanda @Deflaimun @redpanda-data/devprod
/src/go/.goreleaser_rpk_connect.yaml @twmb @r-vasquez @gene-redpanda @Deflaimun @redpanda-data/devprod

#
# testing
#
/tests/docker                       @redpanda-data/devprod
/tests/run.sh                       @redpanda-data/devprod
/src/consistency-testing            @mmaslankaprv
/tests/java/tx-verifier             @mmaslankaprv

#
# automatically tag docs team for configuration changes
#
/src/v/config/configuration.cc                      @redpanda-data/documentation
/src/v/config/configuration.h                       @redpanda-data/documentation
/src/v/config/node_config.cc                        @redpanda-data/documentation
/src/v/config/node_config.h                         @redpanda-data/documentation
/src/v/kafka/client/configuration.cc                @redpanda-data/documentation
/src/v/kafka/client/configuration.h                 @redpanda-data/documentation
/src/v/pandaproxy/api/api-doc                       @redpanda-data/documentation
/src/v/pandaproxy/rest/configuration.cc             @redpanda-data/documentation
/src/v/pandaproxy/rest/configuration.h              @redpanda-data/documentation
/src/v/pandaproxy/schema_registry/configuration.cc  @redpanda-data/documentation
/src/v/pandaproxy/schema_registry/configuration.h   @redpanda-data/documentation
/src/v/redpanda/admin/api-doc                       @redpanda-data/documentation
