Repository redpanda-data/redpanda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @emaxerrno, @redpanda-data/k8s, @redpanda-data/devprod, @benpope, @michael-redpanda, @twmb, @r-vasquez, @gene-redpanda, @Deflaimun, @mmaslankaprv, @redpanda-data/documentation

.github/CODEOWNERS:

#
# docs, prose, legal
#
licenses           @emaxerrno

#
# cloud
#
/src/go/k8s   @redpanda-data/k8s

#
# build
#
/.clang-format             @redpanda-data/devprod
/.clang-tidy               @redpanda-data/devprod
/.clang_complete           @redpanda-data/devprod
/.github                   @redpanda-data/devprod
/.gitignore                @redpanda-data/devprod
/.gitorderfile             @redpanda-data/devprod
/.style.yapf               @redpanda-data/devprod
/build.sh                  @redpanda-data/devprod
/cmake                     @redpanda-data/devprod        @benpope
/install-dependencies.sh   @redpanda-data/devprod
/.yapfignore               @redpanda-data/devprod

#
# crypto
#
/src/v/crypto              @michael-redpanda

#
# rpk
#
/src/go/rpk        @twmb @r-vasquez @gene-redpanda @Deflaimun
# There are now two copies goreleaser.yaml in the interim `rpk connect` arch
# Adding devprod to code owners to review any changes (e.g. they should stay in sync)
/src/go/.goreleaser.yaml @twmb @r-vasquez @gene-redpanda @Deflaimun @redpanda-data/devprod
/src/go/.goreleaser_rpk_connect.yaml @twmb @r-vasquez @gene-redpanda @Deflaimun @redpanda-data/devprod

#
# testing
#
/tests/docker                       @redpanda-data/devprod
/tests/run.sh                       @redpanda-data/devprod
/src/consistency-testing            @mmaslankaprv
/tests/java/tx-verifier             @mmaslankaprv

#
# automatically tag docs team for configuration changes
#
/src/v/config/configuration.cc                      @redpanda-data/documentation
/src/v/config/configuration.h                       @redpanda-data/documentation
/src/v/config/node_config.cc                        @redpanda-data/documentation
/src/v/config/node_config.h                         @redpanda-data/documentation
/src/v/kafka/client/configuration.cc                @redpanda-data/documentation
/src/v/kafka/client/configuration.h                 @redpanda-data/documentation
/src/v/pandaproxy/api/api-doc                       @redpanda-data/documentation
/src/v/pandaproxy/rest/configuration.cc             @redpanda-data/documentation
/src/v/pandaproxy/rest/configuration.h              @redpanda-data/documentation
/src/v/pandaproxy/schema_registry/configuration.cc  @redpanda-data/documentation
/src/v/pandaproxy/schema_registry/configuration.h   @redpanda-data/documentation
/src/v/redpanda/admin/api-doc                       @redpanda-data/documentation

datalake/config: switch iceberg_enabled to iceberg_mode
  src/v/cloud_storage/tests/topic_manifest_test.cc
  src/v/cluster/cluster_utils.cc
  src/v/cluster/tests/topic_properties_generator.h
  src/v/cluster/topic_configuration.cc
  src/v/cluster/topic_properties.cc
  src/v/cluster/topic_properties.h
  src/v/cluster/topic_table.cc
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/compat/cluster_generator.h
  src/v/compat/cluster_json.h
  src/v/datalake/datalake_manager.cc
  src/v/datalake/tests/fixture.h
  src/v/datalake/translation/tests/state_machine_test.cc
  src/v/kafka/server/handlers/alter_configs.cc
  src/v/kafka/server/handlers/configs/config_response_utils.cc
  src/v/kafka/server/handlers/configs/config_utils.h
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/handlers/incremental_alter_configs.cc
  src/v/kafka/server/handlers/topics/types.cc
  src/v/kafka/server/handlers/topics/types.h
  src/v/kafka/server/handlers/topics/validators.h
  src/v/kafka/server/tests/alter_config_test.cc
  src/v/redpanda/admin/api-doc/debug.json
  src/v/redpanda/admin/debug.cc
  src/v/storage/ntp_config.h
  src/v/storage/types.cc
  tests/rptest/clients/types.py
  tests/rptest/tests/datalake/datalake_e2e_test.py
  tests/rptest/tests/datalake/datalake_services.py
  tests/rptest/tests/datalake/rest_catalog_connection_test.py
  tests/rptest/tests/describe_topics_test.py
  tests/rptest/tests/polaris_catalog_smoke_test.py
  tools/offline_log_viewer/controller.py
Owners: @redpanda-data/documentation

k/alter_configs: add handling for iceberg_delete topic property
  src/v/cluster/topic_table.cc
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/kafka/server/handlers/alter_configs.cc
  src/v/kafka/server/handlers/incremental_alter_configs.cc
  src/v/kafka/server/tests/alter_config_test.cc
  tools/offline_log_viewer/controller.py
Owners: none

schema_registry: Add cache metrics
  src/v/pandaproxy/schema_registry/store.h
Owners: none

k/create_topics: added handling for iceberg_delete property
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/handlers/topics/types.cc
  src/v/kafka/server/handlers/topics/types.h
Owners: none

k/describe_configs: add handling for iceberg_delete topic config
  src/v/kafka/server/handlers/configs/config_response_utils.cc
  tests/rptest/tests/describe_topics_test.py
Owners: none

pandaproxy: Do not aggregate operation for request_latency
  src/v/pandaproxy/probe.cc
Owners: none

bazel: Update hwloc to 2.11.2
  MODULE.bazel.lock
  bazel/repositories.bzl
Owners: none

datalake/translation: prevent offset gaps and stuck translation
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
Owners: none

rpk: avoid repeating warning for trial licenses
  src/go/rpk/pkg/cli/cluster/license/info.go
Owners: @twmb, @r-vasquez, @gene-redpanda, @Deflaimun

rptest: Disable fips in one of the upgrade tests
  tests/rptest/tests/alter_topic_configuration_test.py
Owners: none

k/data: Add CMakeLists for record_batcher test
  src/v/kafka/data/CMakeLists.txt
  src/v/kafka/data/test/CMakeLists.txt
Owners: none

admin: Switch license strings
  src/v/redpanda/admin/BUILD
  src/v/redpanda/admin/security.cc
  src/v/redpanda/admin/server.cc
  src/v/redpanda/admin/server.h
Owners: none

s/tests: added test validating concurrent operations
  src/v/storage/tests/storage_e2e_test.cc
Owners: none

ducktape: Centralise has_license_nag
  tests/rptest/services/redpanda.py
  tests/rptest/tests/audit_log_test.py
  tests/rptest/tests/rbac_test.py
  tests/rptest/tests/rbac_upgrade_test.py
  tests/rptest/tests/redpanda_kerberos_test.py
  tests/rptest/tests/redpanda_oauth_test.py
  tests/rptest/tests/redpanda_startup_test.py
  tests/rptest/tests/schema_registry_test.py
  tests/rptest/tests/workload_license.py
Owners: none

kafka: Switch license strings
  src/v/kafka/server/BUILD
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/server.cc
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/alter_config_test.cc
  src/v/kafka/server/tests/create_partition_test.cc
  src/v/kafka/server/tests/create_topics_test.cc
  tests/rptest/tests/rbac_test.py
Owners: none

s/ntp_config: add topic revision field
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cluster/archival/archival_metadata_stm.cc
  src/v/cluster/archival/archiver_operations_impl.cc
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/tests/archival_metadata_stm_test.cc
  src/v/cluster/controller_backend.cc
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_recovery_manager.cc
  src/v/cluster/topic_configuration.cc
  src/v/cluster/topic_configuration.h
  src/v/storage/ntp_config.h
  src/v/storage/types.cc
Owners: none

raft: add bazel tests
  src/v/datalake/coordinator/tests/BUILD
  src/v/datalake/translation/tests/BUILD
  src/v/raft/tests/BUILD
  src/v/raft/tests/append_entries_test.cc
  src/v/raft/tests/basic_raft_fixture_test.cc
  src/v/raft/tests/configuration_serialization_test.cc
  src/v/raft/tests/foreign_entry_test.cc
  src/v/raft/tests/mux_state_machine_test.cc
  src/v/raft/tests/persisted_stm_test.cc
  src/v/raft/tests/raft_reconfiguration_test.cc
  src/v/raft/tests/replication_monitor_tests.cc
  src/v/raft/tests/type_serialization_tests.cc
  src/v/test_utils/BUILD
  src/v/test_utils/rpc.h
  src/v/utils/BUILD
Owners: none

config/property: Switch license strings
  src/v/config/BUILD
  src/v/config/property.h
Owners: none

cluster: introduce topic purge domains
  src/v/cluster/archival/purger.cc
  src/v/cluster/service.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/redpanda/admin/server.cc
Owners: none

c/feature_manager: Switch license strings
  src/v/cluster/BUILD
  src/v/cluster/feature_manager.cc
  tests/rptest/services/redpanda.py
Owners: none

cluster: Switch license strings
  src/v/cluster/partition_balancer_backend.cc
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/cluster/security_frontend.cc
  src/v/cluster/shard_balancer.cc
  src/v/cluster/topics_frontend.cc
Owners: none

tests: added a very basic test for redpanda connect service
  tests/rptest/tests/redpanda_connect_test.py
Owners: none

datalake/tests: add a reproducer for gaps with compaction
  tests/rptest/tests/datalake/compaction_gaps_test.py
  tests/rptest/tests/datalake/datalake_services.py
  tests/rptest/tests/datalake/query_engine_base.py
Owners: none

s/log: removed the line informing user about outstanding locks
  src/v/storage/disk_log_impl.cc
Owners: none

features: Introduce enterprise_feature_messages
  src/v/features/BUILD
  src/v/features/enterprise_feature_messages.h
Owners: none

rptest: tolerate redpanda not running during when using bg failure injector
  tests/rptest/services/redpanda.py
  tests/rptest/utils/node_operations.py
Owners: none

s/disk_log_impl: added log entry when creating log appender
  src/v/storage/disk_log_impl.cc
Owners: none

cluster: add a set of iceberg topic tombstones to topic_table
  src/v/cluster/controller_snapshot.cc
  src/v/cluster/controller_snapshot.h
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/cluster/types.h
Owners: none

tests: added redpanda connect service
  tests/rptest/services/redpanda_connect.py
Owners: none

s/log: fixed race condition in append and truncate prefix
  src/v/storage/disk_log_appender.cc
  src/v/storage/disk_log_impl.cc
Owners: none

raft/tests: fix a race condition in raft_fixture
  src/v/raft/tests/raft_fixture.cc
Owners: none

c/topic_table: create iceberg tombstones based on topic config
  src/v/cluster/topic_table.cc
  src/v/cluster/topics_frontend.cc
Owners: none

rptest/s: support spark on gcp
  tests/docker/ducktape-deps/spark
  tests/java/spark-iceberg-dependencies/pom.xml
  tests/rptest/services/spark_service.py
Owners: @redpanda-data/devprod

datalake: drop iceberg tables on topic deletion
  src/v/datalake/coordinator/coordinator.cc
  src/v/datalake/coordinator/coordinator.h
  src/v/datalake/coordinator/coordinator_manager.cc
  src/v/datalake/coordinator/coordinator_manager.h
  src/v/datalake/coordinator/file_committer.h
  src/v/datalake/coordinator/frontend.cc
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/datalake/coordinator/iceberg_file_committer.h
  src/v/datalake/coordinator/tests/coordinator_test.cc
  src/v/datalake/coordinator/tests/state_test_utils.h
  src/v/datalake/coordinator/types.cc
  src/v/datalake/coordinator/types.h
  src/v/redpanda/application.cc
Owners: none

rptest/s: gcp support for iceberg rest catalog
  tests/rptest/services/apache_iceberg_catalog.py
Owners: none

cloud_storage: Allow remote_segment concurrency
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/tests/cloud_storage_fixture.h
  src/v/cloud_storage/tests/remote_segment_test.cc
Owners: none

reflection: bazelize arity_test
  src/v/reflection/test/BUILD
Owners: none

datalake: actually ensure table in coordinator::ensure_table_exists
  src/v/datalake/coordinator/BUILD
  src/v/datalake/coordinator/CMakeLists.txt
  src/v/datalake/coordinator/coordinator.cc
  src/v/datalake/coordinator/coordinator.h
  src/v/datalake/coordinator/coordinator_manager.cc
  src/v/datalake/coordinator/coordinator_manager.h
  src/v/datalake/coordinator/frontend.cc
  src/v/datalake/coordinator/tests/BUILD
  src/v/datalake/coordinator/tests/coordinator_test.cc
  src/v/datalake/coordinator/tests/state_machine_test.cc
  src/v/datalake/coordinator/tests/state_test_utils.h
  src/v/datalake/coordinator/types.cc
  src/v/datalake/coordinator/types.h
  src/v/datalake/translation/BUILD
  src/v/redpanda/application.cc
Owners: none

datalake: split out schema_manager::ensure_table_schema
  src/v/datalake/catalog_schema_manager.cc
  src/v/datalake/catalog_schema_manager.h
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/tests/catalog_schema_manager_test.cc
Owners: none

datalake: introduce type_resolver::resolve_identifier
  src/v/datalake/record_schema_resolver.cc
  src/v/datalake/record_schema_resolver.h
Owners: none
