Repository redpanda-data/redpanda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @emaxerrno, @redpanda-data/k8s, @redpanda-data/devprod, @benpope, @michael-redpanda, @twmb, @r-vasquez, @gene-redpanda, @Deflaimun, @mmaslankaprv, @redpanda-data/documentation

.github/CODEOWNERS:

#
# docs, prose, legal
#
licenses           @emaxerrno

#
# cloud
#
/src/go/k8s   @redpanda-data/k8s

#
# build
#
/.clang-format             @redpanda-data/devprod
/.clang-tidy               @redpanda-data/devprod
/.clang_complete           @redpanda-data/devprod
/.github                   @redpanda-data/devprod
/.gitignore                @redpanda-data/devprod
/.gitorderfile             @redpanda-data/devprod
/.style.yapf               @redpanda-data/devprod
/build.sh                  @redpanda-data/devprod
/cmake                     @redpanda-data/devprod        @benpope
/install-dependencies.sh   @redpanda-data/devprod
/.yapfignore               @redpanda-data/devprod

#
# crypto
#
/src/v/crypto              @michael-redpanda

#
# rpk
#
/src/go/rpk        @twmb @r-vasquez @gene-redpanda @Deflaimun
# There are now two copies goreleaser.yaml in the interim `rpk connect` arch
# Adding devprod to code owners to review any changes (e.g. they should stay in sync)
/src/go/.goreleaser.yaml @twmb @r-vasquez @gene-redpanda @Deflaimun @redpanda-data/devprod
/src/go/.goreleaser_rpk_connect.yaml @twmb @r-vasquez @gene-redpanda @Deflaimun @redpanda-data/devprod

#
# testing
#
/tests/docker                       @redpanda-data/devprod
/tests/run.sh                       @redpanda-data/devprod
/src/consistency-testing            @mmaslankaprv
/tests/java/tx-verifier             @mmaslankaprv

#
# automatically tag docs team for configuration changes
#
/src/v/config/configuration.cc                      @redpanda-data/documentation
/src/v/config/configuration.h                       @redpanda-data/documentation
/src/v/config/node_config.cc                        @redpanda-data/documentation
/src/v/config/node_config.h                         @redpanda-data/documentation
/src/v/kafka/client/configuration.cc                @redpanda-data/documentation
/src/v/kafka/client/configuration.h                 @redpanda-data/documentation
/src/v/pandaproxy/api/api-doc                       @redpanda-data/documentation
/src/v/pandaproxy/rest/configuration.cc             @redpanda-data/documentation
/src/v/pandaproxy/rest/configuration.h              @redpanda-data/documentation
/src/v/pandaproxy/schema_registry/configuration.cc  @redpanda-data/documentation
/src/v/pandaproxy/schema_registry/configuration.h   @redpanda-data/documentation
/src/v/redpanda/admin/api-doc                       @redpanda-data/documentation

storage/tests: added stress fiber to concurrent prefix truncate test
  src/v/storage/tests/storage_e2e_test.cc
Owners: none

datalake: move value field out of system struct
  src/v/datalake/record_translator.cc
  src/v/datalake/tests/gtest_record_multiplexer_test.cc
Owners: none

datalake: correctly get null keys/values from record
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
  src/v/datalake/record_schema_resolver.cc
  src/v/datalake/record_schema_resolver.h
  src/v/datalake/record_translator.cc
  src/v/datalake/record_translator.h
  src/v/model/record.h
Owners: none

datalake: drop invalid records
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
Owners: none

rptest/s: support spark on gcp
  tests/docker/ducktape-deps/spark
  tests/java/spark-iceberg-dependencies/pom.xml
  tests/rptest/services/spark_service.py
Owners: @redpanda-data/devprod

rptest/datalake: run basic e2e w/ non-fs apache catalog
  tests/rptest/tests/datalake/datalake_e2e_test.py
Owners: none

rptest/datalake: run tests on gcp
  tests/rptest/tests/datalake/utils.py
Owners: none

rptest/c: add gcp support to cloud_storage context
  tests/rptest/context/cloud_storage.py
Owners: none

cloud_io: custom scheme for gcs which is required for iceberg
  src/v/cloud_io/remote.cc
Owners: none

rptest/s: gcp support for trino
  tests/rptest/services/trino_service.py
Owners: none

rptest/s: gcp support for iceberg rest catalog
  tests/rptest/services/apache_iceberg_catalog.py
Owners: none

d/coordinator: fixed possible iterator generation mismatch
  src/v/datalake/coordinator/coordinator.cc
Owners: none

`storage`: add `_num_rounds_window_compaction` to `probe`
  src/v/storage/disk_log_impl.cc
  src/v/storage/probe.cc
  src/v/storage/probe.h
Owners: none

`storage`: add `_segments_marked_tombstone_free` to `probe`
  src/v/storage/probe.cc
  src/v/storage/probe.h
  src/v/storage/segment_deduplication_utils.cc
  src/v/storage/segment_utils.cc
Owners: none

`storage`: add `_segment_cleanly_compacted` to `probe`
  src/v/storage/disk_log_impl.cc
  src/v/storage/probe.cc
  src/v/storage/probe.h
  src/v/storage/segment_utils.cc
  src/v/storage/segment_utils.h
Owners: none

`tests`: bump `kgo-verifier` version and support new features
  tests/docker/ducktape-deps/kgo-verifier
  tests/rptest/services/kgo_verifier_services.py
Owners: @redpanda-data/devprod

`rptest`: add `wait_for_latest_value_map()` to `kgo`
  tests/rptest/services/kgo_verifier_services.py
Owners: none

`rptest`: use `delete.retention.ms` in `KafkaCliTools.create_topic()`
  tests/rptest/clients/kafka_cli_tools.py
Owners: none

rpk: add err message of CreateACL response
  src/go/rpk/pkg/cli/security/acl/create.go
  tests/rptest/tests/acls_test.py
Owners: @twmb, @r-vasquez, @gene-redpanda, @Deflaimun

rpk: decode adminapi error message in role creation
  src/go/rpk/pkg/adminapi/admin.go
  src/go/rpk/pkg/cli/security/role/create.go
Owners: @twmb, @r-vasquez, @gene-redpanda, @Deflaimun

rpc: don't wait for the obsolete feature on start
  src/v/redpanda/application.cc
  src/v/rpc/rpc_server.cc
  src/v/rpc/rpc_server.h
  src/v/rpc/test/rpc_gen_cycling_test.cc
Owners: none

feat/tests: use new features to retire older ones
  src/v/features/tests/feature_table_test.cc
Owners: none

redpanda/admin/server: don't check license feature
  src/v/cluster/feature_manager.cc
  src/v/redpanda/admin/server.cc
Owners: none

c/topics_frontend: do not check retired feature
  src/v/cluster/topics_frontend.cc
Owners: none

raft: don't check retired feature
  src/v/raft/consensus.cc
  src/v/raft/group_manager.cc
Owners: none

c/controller: do not check old feature
  src/v/cluster/controller.cc
Owners: none

c/rm_stm: remove feature::transaction_ga check
  src/v/cluster/rm_stm.cc
Owners: none

c/ephemeral_credential_FE: don't check old feature
  src/v/cluster/ephemeral_credential_frontend.cc
  src/v/cluster/tests/ephemeral_credential_test.cc
Owners: none

c/tx_gateway_frontend: remove dead code
  src/v/cluster/tx_gateway_frontend.h
Owners: none

c/members_manager: do not check retired feature
  src/v/cluster/members_manager.cc
Owners: none

k/server: do not check feature::kafka_gssapi
  src/v/kafka/server/server.cc
Owners: none

c/node_status_backend: don't check retired feature
  src/v/cluster/node_status_backend.cc
Owners: none

c/controller_backend: do not check old feature
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
Owners: none

k/server: do not check feature::node_isolation
  src/v/kafka/server/BUILD
  src/v/kafka/server/handlers/details/isolated_node_utils.h
  src/v/kafka/server/handlers/metadata.cc
Owners: none

`storage`: remove unnecessary `if()`
  src/v/storage/disk_log_impl.cc
Owners: none

archival: log stopping for adjacent segment merger
  src/v/cluster/archival/adjacent_segment_merger.cc
Owners: none

scrubber: add stopped message
  src/v/cluster/archival/scrubber.cc
Owners: none

`storage`: reset compaction window start offset when offset map isn't built
  src/v/storage/disk_log_impl.cc
Owners: none

`storage`: add `TestFailToIndexOneSegmentResetWindow`
  src/v/storage/tests/compaction_e2e_test.cc
Owners: none

scrubber: add ntp to name
  src/v/cluster/archival/scrubber.cc
Owners: none
