Repository redpanda-data/redpanda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @emaxerrno, @redpanda-data/k8s, @redpanda-data/devprod, @benpope, @michael-redpanda, @twmb, @r-vasquez, @gene-redpanda, @Deflaimun, @mmaslankaprv, @redpanda-data/documentation

.github/CODEOWNERS:

#
# docs, prose, legal
#
licenses           @emaxerrno

#
# cloud
#
/src/go/k8s   @redpanda-data/k8s

#
# build
#
/.clang-format             @redpanda-data/devprod
/.clang-tidy               @redpanda-data/devprod
/.clang_complete           @redpanda-data/devprod
/.github                   @redpanda-data/devprod
/.gitignore                @redpanda-data/devprod
/.gitorderfile             @redpanda-data/devprod
/.style.yapf               @redpanda-data/devprod
/build.sh                  @redpanda-data/devprod
/cmake                     @redpanda-data/devprod        @benpope
/install-dependencies.sh   @redpanda-data/devprod
/.yapfignore               @redpanda-data/devprod

#
# crypto
#
/src/v/crypto              @michael-redpanda

#
# rpk
#
/src/go/rpk        @twmb @r-vasquez @gene-redpanda @Deflaimun
# There are now two copies goreleaser.yaml in the interim `rpk connect` arch
# Adding devprod to code owners to review any changes (e.g. they should stay in sync)
/src/go/.goreleaser.yaml @twmb @r-vasquez @gene-redpanda @Deflaimun @redpanda-data/devprod
/src/go/.goreleaser_rpk_connect.yaml @twmb @r-vasquez @gene-redpanda @Deflaimun @redpanda-data/devprod

#
# testing
#
/tests/docker                       @redpanda-data/devprod
/tests/run.sh                       @redpanda-data/devprod
/src/consistency-testing            @mmaslankaprv
/tests/java/tx-verifier             @mmaslankaprv

#
# automatically tag docs team for configuration changes
#
/src/v/config/configuration.cc                      @redpanda-data/documentation
/src/v/config/configuration.h                       @redpanda-data/documentation
/src/v/config/node_config.cc                        @redpanda-data/documentation
/src/v/config/node_config.h                         @redpanda-data/documentation
/src/v/kafka/client/configuration.cc                @redpanda-data/documentation
/src/v/kafka/client/configuration.h                 @redpanda-data/documentation
/src/v/pandaproxy/api/api-doc                       @redpanda-data/documentation
/src/v/pandaproxy/rest/configuration.cc             @redpanda-data/documentation
/src/v/pandaproxy/rest/configuration.h              @redpanda-data/documentation
/src/v/pandaproxy/schema_registry/configuration.cc  @redpanda-data/documentation
/src/v/pandaproxy/schema_registry/configuration.h   @redpanda-data/documentation
/src/v/redpanda/admin/api-doc                       @redpanda-data/documentation

`rptest`: add `log_compaction_test.py`
  tests/rptest/tests/log_compaction_test.py
Owners: none

datalake: make purging table idempotent
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/datalake/coordinator/tests/iceberg_file_committer_test.cc
Owners: none

c/topic_table: additional logging
  src/v/cluster/topic_table.cc
Owners: none

rpk: clearer doc text on mechanism flag
  src/go/rpk/pkg/cli/security/user/update.go
Owners: @twmb, @r-vasquez, @gene-redpanda, @Deflaimun

storage: bazelize produce_consume_test
  src/v/storage/tests/BUILD
Owners: none

storage: bazelize offset_translator_state_test
  src/v/storage/tests/BUILD
Owners: none

feature_table: Add v25.1 version
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/features/tests/feature_table_test.cc
Owners: none

tests/migrations: add scale test, fix allow lists
  tests/rptest/scale_tests/data_migrations_test.py
  tests/rptest/tests/data_migrations.py
  tests/rptest/tests/data_migrations_api_test.py
Owners: none

tests/migrations: longer timeout for scale tests
  tests/rptest/scale_tests/data_migrations_test.py
  tests/rptest/tests/data_migrations.py
Owners: none

dt/redpanda: increase expect_fail timeout to 40s
  tests/rptest/services/redpanda.py
Owners: none

rptest: make target_min_capacity_wanted more deterministic
  tests/rptest/clients/kafka_cli_tools.py
  tests/rptest/tests/full_disk_test.py
Owners: none

rptest: refactor target_min_capacity_wanted
  tests/rptest/tests/full_disk_test.py
Owners: none

rptest: Enable scrubber only if not explicitly disabled
  tests/rptest/services/redpanda.py
Owners: none

dt/rbac_upgrade: pin upgraded version to 24.1
  tests/rptest/tests/rbac_upgrade_test.py
Owners: none

`rptest`: add `_wait_for_file_on_nodes()` to `KgoVerifierProducer`
  tests/rptest/services/kgo_verifier_services.py
Owners: none

storage: bazelize offset_translator_tests
  src/v/storage/tests/BUILD
  src/v/storage/tests/offset_translator_tests.cc
Owners: none

utils: move tmpbuf_file to test_utils
  src/v/storage/tests/compaction_index_format_tests.cc
  src/v/storage/tests/offset_index_utils_tests.cc
  src/v/test_utils/tmpbuf_file.h
Owners: none

storage: bazelize offset_index_utils_tests
  src/v/storage/tests/BUILD
  src/v/storage/tests/offset_index_utils_tests.cc
  src/v/test_utils/BUILD
Owners: none

storage: bazelize offset_to_filepos_test
  src/v/storage/tests/BUILD
  src/v/test_utils/BUILD
Owners: none

archival: consistent log size probes across replicas
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/ntp_archiver_service.h
  src/v/cluster/archival/probe.cc
  src/v/cluster/archival/probe.h
  tests/rptest/tests/usage_test.py
Owners: none

parquet: introduce stats metadata
  src/v/serde/parquet/column_writer.cc
  src/v/serde/parquet/metadata.cc
  src/v/serde/parquet/metadata.h
  src/v/serde/parquet/tests/generate_metadata.cc
  src/v/test_utils/go/parquet_metadata_verifier/main.go
Owners: none

thrift: add support for serializing iobuf binary value
  src/v/serde/thrift/compact.cc
  src/v/serde/thrift/compact.h
  src/v/serde/thrift/tests/compact_test.cc
Owners: none

iobuf: add spaceship operator
  src/v/bytes/iobuf.cc
  src/v/bytes/iobuf.h
  src/v/bytes/tests/iobuf_tests.cc
Owners: none

parquet: support column orders
  src/v/serde/parquet/metadata.cc
  src/v/serde/parquet/metadata.h
  src/v/serde/parquet/tests/generate_metadata.cc
  src/v/test_utils/go/parquet_metadata_verifier/main.go
Owners: none

ct: add snapshotting
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/CMakeLists.txt
  src/v/cloud_topics/dl_snapshot.cc
  src/v/cloud_topics/dl_snapshot.h
  src/v/cloud_topics/dl_stm/BUILD
  src/v/cloud_topics/dl_stm/dl_stm.cc
  src/v/cloud_topics/dl_stm/dl_stm_api.cc
  src/v/cloud_topics/dl_stm/dl_stm_api.h
  src/v/cloud_topics/dl_stm/dl_stm_commands.h
  src/v/cloud_topics/dl_stm/dl_stm_state.cc
  src/v/cloud_topics/dl_stm/dl_stm_state.h
  src/v/cloud_topics/dl_stm/tests/BUILD
  src/v/cloud_topics/dl_stm/tests/dl_stm_state_test.cc
  src/v/cloud_topics/dl_stm/tests/dl_stm_test.cc
  src/v/cloud_topics/types.cc
  src/v/cloud_topics/types.h
  src/v/cluster/partition.cc
Owners: none

ct: use replicated_apply for push_overlay
  src/v/cloud_topics/dl_stm/dl_stm_api.cc
Owners: none

archival: consistent log size probes across replicas
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/archival/probe.cc
  src/v/archival/probe.h
  tests/rptest/tests/usage_test.py
Owners: none

c/controller_backend: allow `shutdown_partition` to fail on app shutdown
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
Owners: none

config: Remove reference to kafka_throughput_throttling_v2
  src/v/config/configuration.cc
Owners: @redpanda-data/documentation

datalake: differentiate between transient schema registry errors
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_schema_resolver.cc
  src/v/datalake/tests/record_schema_resolver_test.cc
Owners: none

sec: bazelize role_sore_bench
  src/v/security/tests/BUILD
Owners: none

schema: make registry return nullopt when missing schema
  src/v/datalake/record_schema_resolver.cc
  src/v/datalake/tests/record_generator.cc
  src/v/pandaproxy/schema_registry/schema_getter.h
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/schema/registry.cc
  src/v/schema/registry.h
  src/v/schema/tests/fake_registry.cc
  src/v/schema/tests/fake_registry.h
Owners: none

datalake: avoid throwing in schema_registry
  src/v/datalake/BUILD
  src/v/datalake/record_schema_resolver.cc
  src/v/datalake/schema_registry.cc
  src/v/datalake/schema_registry.h
Owners: none

rptest/s: access catalog_url through a property to ensure we get valid value
  tests/rptest/services/apache_iceberg_catalog.py
Owners: none

dt/config_test: Add OIDC_ALLOW_LIST
  tests/rptest/services/redpanda.py
  tests/rptest/tests/cluster_config_test.py
Owners: none

rptest/s: azure support for iceberg catalog
  tests/java/iceberg-rest-catalog/build.gradle
  tests/rptest/services/apache_iceberg_catalog.py
  tests/setup.py
Owners: none

cst/cache: debug log during cleanup
  src/v/cloud_storage/cache_service.cc
Owners: none

rptest/s: use cloud_storage in spark service
  tests/rptest/services/spark_service.py
  tests/rptest/tests/datalake/datalake_services.py
  tests/rptest/tests/datalake/spark_sql_server_smoke_test.py
Owners: none

iceberg: create namespace on create_table not found error
  src/v/iceberg/rest_catalog.cc
  tests/rptest/tests/datalake/rest_catalog_connection_test.py
Owners: none

dt: Allow selecting key type for certificates in DT tests
  tests/rptest/services/tls.py
  tests/rptest/tests/tls_version_test.py
Owners: none
