Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

`kafka`: extract `__consumer_offsets` topic configuration
  src/v/cluster/controller.cc
  src/v/cluster/members_table.cc
  src/v/cluster/members_table.h
  src/v/kafka/server/BUILD
  src/v/kafka/server/group_initializer.cc
  src/v/kafka/server/group_initializer.h
Labels: area/redpanda

`kafka`: auto-create internal topics with their intended configs
  src/v/kafka/server/handlers/metadata.cc
  src/v/kafka/server/tests/metadata_test.cc
Labels: area/redpanda

`rptest`: cover metadata-driven internal topic auto-creation
  tests/rptest/tests/internal_topic_protection_test.py
Labels: none

`kafka`: extract `__consumer_offsets` topic configuration
  src/v/cluster/controller.cc
  src/v/cluster/members_table.cc
  src/v/cluster/members_table.h
  src/v/kafka/server/BUILD
  src/v/kafka/server/group_initializer.cc
  src/v/kafka/server/group_initializer.h
Labels: area/redpanda

security: add scram_credential_cache
  src/v/security/BUILD
  src/v/security/scram_credential_cache.cc
  src/v/security/scram_credential_cache.h
  src/v/security/tests/BUILD
  src/v/security/tests/scram_credential_cache_test.cc
Labels: area/redpanda

security: memoize scram password validation
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/security/scram_authenticator.cc
  src/v/security/scram_authenticator.h
  src/v/security/tests/BUILD
  src/v/security/tests/scram_credential_bench.cc
  src/v/security/tests/scram_credential_cache_test.cc
Labels: area/redpanda

crypto: add secure_erase
  src/v/crypto/crypto.cc
  src/v/crypto/crypto.h
  src/v/crypto/tests/BUILD
  src/v/crypto/tests/secure_erase_tests.cc
Labels: area/redpanda

security: zeroize scram credential cache entries
  src/v/security/scram_authenticator.cc
  src/v/security/scram_credential_cache.cc
  src/v/security/scram_credential_cache.h
  src/v/security/tests/scram_credential_cache_test.cc
Labels: area/redpanda

security: flush scram credential cache on disable
  src/v/security/scram_authenticator.cc
  src/v/security/scram_authenticator.h
  src/v/security/scram_credential_cache.cc
  src/v/security/scram_credential_cache.h
  src/v/security/tests/BUILD
  src/v/security/tests/scram_credential_cache_test.cc
Labels: area/redpanda

rpk: resolve produce schemas in the topic's schema-registry context
  src/go/rpk/pkg/cli/topic/produce.go
Labels: area/rpk

rpk: resolve consume schemas in the topic's schema-registry context
  src/go/rpk/pkg/cli/topic/consume.go
Labels: area/rpk

rpk: add schema-registry context resolution helpers
  src/go/rpk/pkg/cli/topic/BUILD
  src/go/rpk/pkg/cli/topic/schema_context.go
  src/go/rpk/pkg/cli/topic/schema_context_test.go
Labels: area/rpk

rpk: ducktape coverage for schema-registry context produce/consume
  tests/rptest/clients/rpk.py
  tests/rptest/tests/rpk_registry_test.py
Labels: none

cloud_topics: stop data plane before the service container
  src/v/cloud_topics/app.cc
Labels: area/redpanda

datalake/coordinator: yield between snapshot copy and serialize
  src/v/datalake/coordinator/state_machine.cc
Labels: area/redpanda

datalake/coordinator: yield between snapshot copy and serialize
  src/v/datalake/coordinator/state_machine.cc
Labels: area/redpanda

datalake/coordinator: yield between snapshot copy and serialize
  src/v/datalake/coordinator/state_machine.cc
Labels: area/redpanda

`test_utils`: add reactor stall probe
  src/v/test_utils/BUILD
  src/v/test_utils/reactor_stall_probe.h
  src/v/test_utils/tests/BUILD
  src/v/test_utils/tests/reactor_stall_probe_test.cc
Labels: area/redpanda

serde: write fixed envelopes contiguously
  src/v/bytes/iobuf.h
  src/v/bytes/tests/iobuf_tests.cc
  src/v/serde/BUILD
  src/v/serde/rw/bool_class.h
  src/v/serde/rw/enum.h
  src/v/serde/rw/envelope.h
  src/v/serde/rw/fixed.h
  src/v/serde/rw/named_type.h
  src/v/serde/rw/rw.h
  src/v/serde/rw/scalar.h
  src/v/serde/rw/tags.h
  src/v/serde/test/serde_test.cc
Labels: area/redpanda

raft: refresh election timer on recovery-path append_entries
  src/v/raft/consensus.cc
Labels: area/redpanda

ct_stress: final check as eventually, not finally
  tests/antithesis/ct_stress/workload/check.go
  tests/antithesis/ct_stress/workload/ctc.go
  tests/antithesis/ct_stress/workload/main.go
  tests/antithesis/ct_stress/workload/setup.go
Labels: none

ct_stress: bound partition reads with a retry policy
  tests/antithesis/ct_stress/workload/check.go
  tests/antithesis/ct_stress/workload/ctc.go
Labels: none

ct_stress: bound TCP retransmissions to detect dead connections fast
  tests/antithesis/ct_stress/docker-compose.yaml.j2
Labels: none

ct_stress: verify record contents, not just offsets
  tests/antithesis/ct_stress/workload/check.go
  tests/antithesis/ct_stress/workload/commands.go
  tests/antithesis/ct_stress/workload/main.go
  tests/antithesis/ct_stress/workload/record.go
Labels: none

ct_stress: add compacted cloud topic workload
  tests/antithesis/ct_stress/scripts/bootstrap.yaml.j2
  tests/antithesis/ct_stress/workload/commands.go
  tests/antithesis/ct_stress/workload/ctc.go
  tests/antithesis/ct_stress/workload/main.go
Labels: none

ct_stres: cleanup
  tests/antithesis/ct_stress/workload/check.go
  tests/antithesis/ct_stress/workload/commands.go
  tests/antithesis/ct_stress/workload/ctc.go
  tests/antithesis/ct_stress/workload/flip.go
  tests/antithesis/ct_stress/workload/main.go
  tests/antithesis/ct_stress/workload/metrics.go
  tests/antithesis/ct_stress/workload/move.go
  tests/antithesis/ct_stress/workload/record.go
  tests/antithesis/ct_stress/workload/topics.go
Labels: none

ct stress
  .gitignore
  tests/antithesis/ct_stress/bootstrap.yaml.j2
  tests/antithesis/ct_stress/docker-compose.yaml.j2
  tests/antithesis/ct_stress/scripts/minio-init.sh
  tests/antithesis/ct_stress/test.yml
  tests/antithesis/ct_stress/workload/Dockerfile
  tests/antithesis/ct_stress/workload/check.go
  tests/antithesis/ct_stress/workload/commands.go
  tests/antithesis/ct_stress/workload/go.mod
  tests/antithesis/ct_stress/workload/go.sum
  tests/antithesis/ct_stress/workload/main.go
  tests/antithesis/ct_stress/workload/metrics.go
  tests/antithesis/ct_stress/workload/move.go
  tests/antithesis/ct_stress/workload/setup.go
  tools/antithesis/at_common.py
  tools/antithesis/template_deps/redpanda.Dockerfile.j2
  tools/antithesis/template_test_package.py
Labels: none

ct_stress: scope Antithesis faults from the manifest
  tests/antithesis/ct_stress/test.yml
  tools/antithesis/at_common.py
  tools/antithesis/template_test_package.py
Labels: none

ct_stress: flag franz-go producer data-loss detection
  tests/antithesis/ct_stress/workload/commands.go
Labels: none

ct_stress: skew ctc key writes with a zipf distribution
  tests/antithesis/cloud_cluster_stress/ct/ctc.go
Labels: none

tests/antithesis: restructure into environments and test templates
  .gitignore
  tests/antithesis/cloud_cluster_stress/ct/Dockerfile
  tests/antithesis/cloud_cluster_stress/ct/check.go
  tests/antithesis/cloud_cluster_stress/ct/commands.go
  tests/antithesis/cloud_cluster_stress/ct/ctc.go
  tests/antithesis/cloud_cluster_stress/ct/flip.go
  tests/antithesis/cloud_cluster_stress/ct/go.mod
  tests/antithesis/cloud_cluster_stress/ct/go.sum
  tests/antithesis/cloud_cluster_stress/ct/main.go
  tests/antithesis/cloud_cluster_stress/ct/metrics.go
  tests/antithesis/cloud_cluster_stress/ct/move.go
  tests/antithesis/cloud_cluster_stress/ct/record.go
  tests/antithesis/cloud_cluster_stress/ct/setup.go
  tests/antithesis/cloud_cluster_stress/ct/topics.go
  tests/antithesis/cloud_cluster_stress/docker-compose.yaml.j2
  tests/antithesis/cloud_cluster_stress/scripts/bootstrap.yaml.j2
  tests/antithesis/cloud_cluster_stress/scripts/minio-init.sh
  tests/antithesis/cloud_cluster_stress/scripts/redpanda-entrypoint.sh
  tests/antithesis/cloud_cluster_stress/test.yml
  tools/antithesis/template_test_package.py
Labels: none

ct_stress: cap compaction key-map memory to avoid OOM
  tests/antithesis/cloud_cluster_stress/scripts/bootstrap.yaml.j2
Labels: none

ct_stress: stage bootstrap config off read-only bind mount
  tests/antithesis/ct_stress/docker-compose.yaml.j2
  tests/antithesis/ct_stress/scripts/bootstrap.yaml.j2
  tests/antithesis/ct_stress/scripts/redpanda-entrypoint.sh
  tests/antithesis/ct_stress/test.yml
  tools/antithesis/template_test_package.py
Labels: none

ct_stress: persistence & crash
  tests/antithesis/ct_stress/docker-compose.yaml.j2
  tests/antithesis/ct_stress/test.yml
Labels: none

tmp: disable pid eviction
  src/v/cluster/rm_stm.cc
Labels: area/redpanda

ct_stress: move ctc
  tests/antithesis/ct_stress/workload/commands.go
  tests/antithesis/ct_stress/workload/flip.go
  tests/antithesis/ct_stress/workload/main.go
  tests/antithesis/ct_stress/workload/move.go
  tests/antithesis/ct_stress/workload/topics.go
Labels: none

ct_stress: hold ctc reads against acked writes
  tests/antithesis/ct_stress/workload/check.go
  tests/antithesis/ct_stress/workload/ctc.go
  tests/antithesis/ct_stress/workload/go.mod
  tests/antithesis/ct_stress/workload/go.sum
  tests/antithesis/ct_stress/workload/main.go
  tests/antithesis/ct_stress/workload/setup.go
Labels: none

ct_stress: tsv2
  tests/antithesis/ct_stress/scripts/bootstrap.yaml.j2
  tests/antithesis/ct_stress/workload/Dockerfile
  tests/antithesis/ct_stress/workload/commands.go
  tests/antithesis/ct_stress/workload/go.mod
  tests/antithesis/ct_stress/workload/main.go
  tests/antithesis/ct_stress/workload/metrics.go
Labels: none

ct_stress: take the topic as a parameter in range reads
  tests/antithesis/ct_stress/workload/check.go
Labels: none

ct_stress: flip
  tests/antithesis/ct_stress/scripts/bootstrap.yaml.j2
  tests/antithesis/ct_stress/workload/commands.go
  tests/antithesis/ct_stress/workload/flip.go
  tests/antithesis/ct_stress/workload/main.go
Labels: none
