Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

datalake: fix iceberg primitive value translation
  src/v/datalake/record_schema_resolver.cc
  src/v/datalake/record_schema_resolver.h
  tests/rptest/tests/datalake/datalake_e2e_test.py
Labels: area/redpanda

rptest/cluster_health_overview: check health overview eventual & stable
  tests/rptest/tests/cluster_health_overview_test.py
Labels: none

rptest/util: decorator for check functions to check multiple times
  tests/rptest/util.py
Labels: none

rptest/cluster_health_overview: check health overview eventual & stable
  tests/rptest/tests/cluster_health_overview_test.py
Labels: none

rptest/util: decorator for check functions to check multiple times
  tests/rptest/util.py
Labels: none

rptest: collect usage stats only from started nodes
  tests/rptest/services/redpanda.py
Labels: none

cluster: Add mirror_topic property to topic config
  src/v/cluster/data_migration_backend.cc
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/cluster/topic_configuration.cc
  src/v/cluster/topic_configuration.h
  src/v/compat/cluster_compat.h
  src/v/compat/cluster_generator.h
  src/v/compat/cluster_json.h
  src/v/compat/json.h
  src/v/model/fundamental.h
  src/v/model/model.cc
  tools/offline_log_viewer/controller.py
Labels: area/redpanda

tests/ducktape: deflake offset_for_leader_epoch test
  tests/rptest/tests/offset_for_leader_epoch_test.py
Labels: none

Adding retries within _wait_cluster_ready_replicas
  tests/rptest/redpanda_cloud_tests/high_throughput_test.py
Labels: none

cluster.py: always do crash checks
  tests/rptest/services/cluster.py
  tests/rptest/services/redpanda.py
Labels: none

m/record: added very basic defensive check to prevent crashes
  src/v/model/record_utils.cc
  src/v/model/tests/record_batch_test.cc
Labels: area/redpanda

m/record: added very basic defensive check to prevent crashes
  src/v/model/record_utils.cc
  src/v/model/tests/record_batch_test.cc
Labels: area/redpanda

m/record: added very basic defensive check to prevent crashes
  src/v/model/record_utils.cc
  src/v/model/tests/record_batch_test.cc
Labels: area/redpanda

rptest: disable TS in delayed iceberg enabling
  tests/rptest/tests/datalake/datalake_e2e_test.py
Labels: none

dl/catalog_factory: remove unnecessary cast
  src/v/datalake/coordinator/catalog_factory.cc
Labels: area/redpanda

dl/catalog_client: pass an abort source
  src/v/datalake/coordinator/catalog_factory.cc
  src/v/datalake/coordinator/catalog_factory.h
  src/v/datalake/coordinator/coordinator_manager.cc
  src/v/datalake/coordinator/coordinator_manager.h
  src/v/datalake/datalake_manager.cc
Labels: area/redpanda

dt: Actually set resource limits in OMB MPT
  tests/rptest/scale_tests/many_partitions_test.py
Labels: none

http: Merge stop and shutdown_and_stop
  src/v/http/client.h
  src/v/iceberg/rest_client/catalog_client.cc
  src/v/iceberg/rest_client/tests/catalog_client_tests.cc
  src/v/iceberg/tests/rest_catalog_test.cc
Labels: area/redpanda

http: Remove 'fail_outstanding_futures'
  src/v/http/client.cc
  src/v/http/client.h
Labels: area/redpanda

http: Add doc-comment for the shutdown/stop
  src/v/http/client.h
Labels: area/redpanda

http: Merge shutdown and shutdown_now
  src/v/cloud_storage_clients/abs_client.cc
  src/v/cloud_storage_clients/s3_client.cc
  src/v/http/client.cc
  src/v/http/client.h
Labels: area/redpanda

http: Fix 'with_client' template
  src/v/http/client.h
Labels: area/redpanda

rpk: Add --upload-url for remote-bundle
  src/go/rpk/pkg/cli/debug/bundle/BUILD
  src/go/rpk/pkg/cli/debug/bundle/bundle.go
  src/go/rpk/pkg/cli/debug/common/BUILD
  src/go/rpk/pkg/cli/debug/common/common.go
  src/go/rpk/pkg/cli/debug/remotebundle/download.go
Labels: area/rpk

rpk: Add --upload-url for remote-bundle
  src/go/rpk/pkg/cli/debug/bundle/BUILD
  src/go/rpk/pkg/cli/debug/bundle/bundle.go
  src/go/rpk/pkg/cli/debug/common/BUILD
  src/go/rpk/pkg/cli/debug/common/common.go
  src/go/rpk/pkg/cli/debug/remotebundle/download.go
Labels: area/rpk

http: Invoke wait_input_shutdown in stop
  src/v/cloud_storage_clients/abs_client.cc
  src/v/http/client.cc
  src/v/http/client.h
Labels: area/redpanda

ducktape: Respect rpk timeout in rpk
  tests/rptest/clients/rpk.py
  tests/rptest/tests/rpk_acl_test.py
Labels: none

cl: fixup manager _links key
  src/v/cluster_link/manager.h
Labels: area/redpanda

cl: Added remote_cluster_connection and factory
  src/v/cluster_link/BUILD
  src/v/cluster_link/manager.h
Labels: area/redpanda

cl/tests: Added source_cluster
  src/v/cluster_link/tests/BUILD
  src/v/cluster_link/tests/source_cluster.cc
  src/v/cluster_link/tests/source_cluster.h
Labels: area/redpanda

cl/tests: Added a test_utils class
  src/v/cluster_link/tests/BUILD
  src/v/cluster_link/tests/test_utils.cc
  src/v/cluster_link/tests/test_utils.h
Labels: area/redpanda

kafka: Added metadata_cache_info abstract class
  src/v/kafka/server/handlers/configs/config_response_utils.cc
  src/v/kafka/server/handlers/configs/config_response_utils.h
Labels: area/redpanda

`kafka`: use `chunked_vector` in `describe_groups_handler::handle`
  src/v/kafka/server/server.cc
Labels: area/redpanda

`kafka`: use `chunked_vector` in `describe_groups_handler::handle`
  src/v/kafka/server/server.cc
Labels: area/redpanda

asdf
  src/v/serde/test/bench.cc
Labels: area/redpanda

iceberg: encode partition field names to comply with Avro spec
  src/v/iceberg/schema_avro.cc
  src/v/iceberg/tests/schema_avro_test.cc
Labels: area/redpanda

csc: client_pool::acquire_with_timeout
  src/v/cloud_storage_clients/BUILD
  src/v/cloud_storage_clients/client_pool.cc
  src/v/cloud_storage_clients/client_pool.h
  src/v/cloud_storage_clients/tests/BUILD
  src/v/cloud_storage_clients/tests/client_pool_test.cc
Labels: area/redpanda

ssx/tests: Test that ssx::watchdog accepts a negative timeout
  src/v/ssx/tests/watchdog_test.cc
Labels: area/redpanda

csc: Add an optional timeout to client_pool::acquire
  src/v/cloud_io/remote.cc
  src/v/cloud_storage_clients/client_pool.cc
  src/v/cloud_storage_clients/client_pool.h
  src/v/cloud_storage_clients/tests/client_pool_test.cc
Labels: area/redpanda

dt/e2e_si: Traffic shaping test
  tests/rptest/tests/e2e_shadow_indexing_test.py
  tests/rptest/utils/cluster_topology.py
Labels: none

cio/remote: Use acquire_with_timeout for client leases
  src/v/cloud_io/BUILD
  src/v/cloud_io/remote.cc
Labels: area/redpanda
