Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

dl/coordinator: commit pending files in bounded chunks
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/datalake/coordinator/coordinator.cc
  src/v/datalake/coordinator/coordinator_manager.cc
  src/v/datalake/coordinator/file_committer.h
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/datalake/coordinator/iceberg_file_committer.h
  src/v/datalake/coordinator/tests/coordinator_test.cc
  src/v/datalake/coordinator/tests/iceberg_file_committer_test.cc
  src/v/datalake/coordinator/tests/state_test_utils.h
Labels: area/redpanda

dl/coordinator: add topic_state::copy_bounded()
  src/v/datalake/coordinator/BUILD
  src/v/datalake/coordinator/state.cc
  src/v/datalake/coordinator/state.h
  src/v/datalake/coordinator/tests/state_update_test.cc
Labels: area/redpanda

dl/tests: add coordinator backpressure ducktape test
  tests/rptest/tests/datalake/coordinator_backpressure_test.py
  tools/type-checking/type-check-strictness.json
Labels: none

dl/coordinator: shed load when a coordinator has too many pending files
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/datalake/coordinator/coordinator.cc
  src/v/datalake/coordinator/coordinator.h
  src/v/datalake/coordinator/coordinator_manager.cc
  src/v/datalake/coordinator/frontend.cc
  src/v/datalake/coordinator/tests/coordinator_test.cc
  src/v/datalake/coordinator/tests/state_machine_test.cc
Labels: area/redpanda

dl/translation: back off translation under coordinator backpressure
  src/v/datalake/coordinator/types.cc
  src/v/datalake/coordinator/types.h
  src/v/datalake/translation/deps.cc
  src/v/datalake/translation/deps.h
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/tests/partition_translator_tests.cc
  src/v/datalake/translation/translation_probe.cc
  src/v/datalake/translation/translation_probe.h
Labels: area/redpanda

dl/coordinator: add probe for backpressure rejections
  src/v/datalake/coordinator/BUILD
  src/v/datalake/coordinator/coordinator.cc
  src/v/datalake/coordinator/coordinator.h
  src/v/datalake/coordinator/coordinator_probe.cc
  src/v/datalake/coordinator/coordinator_probe.h
Labels: area/redpanda

dl/coordinator: add probe for backpressure rejections
  src/v/datalake/coordinator/BUILD
  src/v/datalake/coordinator/coordinator.cc
  src/v/datalake/coordinator/coordinator.h
  src/v/datalake/coordinator/coordinator_probe.cc
  src/v/datalake/coordinator/coordinator_probe.h
Labels: area/redpanda

dl/coordinator: shed load when a coordinator has too many pending files
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/datalake/coordinator/coordinator.cc
  src/v/datalake/coordinator/coordinator.h
  src/v/datalake/coordinator/coordinator_manager.cc
  src/v/datalake/coordinator/frontend.cc
  src/v/datalake/coordinator/tests/coordinator_test.cc
  src/v/datalake/coordinator/tests/state_machine_test.cc
Labels: area/redpanda

dl/translation: back off translation under coordinator backpressure
  src/v/datalake/coordinator/types.cc
  src/v/datalake/coordinator/types.h
  src/v/datalake/translation/deps.cc
  src/v/datalake/translation/deps.h
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/tests/partition_translator_tests.cc
  src/v/datalake/translation/translation_probe.cc
  src/v/datalake/translation/translation_probe.h
Labels: area/redpanda

dl/tests: add coordinator backpressure ducktape test
  tests/rptest/tests/datalake/coordinator_backpressure_test.py
  tools/type-checking/type-check-strictness.json
Labels: none

`config`: deprecate `delete_retention_ms` cluster alias for `log_retention_ms`
  src/v/config/configuration.cc
  tests/rptest/tests/cluster_config_test.py
  tests/rptest/tests/e2e_shadow_indexing_test.py
  tests/rptest/tests/partition_movement_test.py
  tests/rptest/tests/retention_policy_test.py
Labels: area/redpanda

dl/translation/tests: de-flake test_happy_path timing
  src/v/datalake/translation/tests/fair_scheduling_policy_tests.cc
Labels: area/redpanda

dl/translation/tests: de-flake test_happy_path timing
  src/v/datalake/translation/tests/fair_scheduling_policy_tests.cc
Labels: area/redpanda

dl/translation/tests: de-flake test_happy_path timing
  src/v/datalake/translation/tests/fair_scheduling_policy_tests.cc
Labels: area/redpanda

DNM: Try letting brokers go down gracefully
  tests/rptest/scale_tests/cloud_topics_cold_read_scale_test.py
Labels: none

ct/l1/meta: Fix double future::get_exception
  src/v/cloud_topics/level_one/metastore/partition_validator.cc
Labels: area/redpanda

ssx: replace ignore_shutdown_exceptions coroutine with continuations
  src/v/ssx/future-util.h
Labels: area/redpanda

ct/l1/metastore: hold gate across stm::sync()
  src/v/cloud_topics/level_one/metastore/lsm/stm.cc
Labels: area/redpanda

ct/l1/metastore: remove stm::raft() accessor
  src/v/cloud_topics/level_one/domain/BUILD
  src/v/cloud_topics/level_one/domain/db_domain_manager.cc
  src/v/cloud_topics/level_one/domain/db_domain_manager.h
  src/v/cloud_topics/level_one/domain/domain_supervisor.cc
  src/v/cloud_topics/level_one/domain/tests/db_domain_manager_test.cc
  src/v/cloud_topics/level_one/metastore/lsm/BUILD
  src/v/cloud_topics/level_one/metastore/lsm/replicated_db.cc
  src/v/cloud_topics/level_one/metastore/lsm/replicated_db.h
  src/v/cloud_topics/level_one/metastore/lsm/stm.h
  src/v/cloud_topics/level_one/metastore/lsm/tests/replicated_db_test.cc
Labels: area/redpanda

ssx: merge gate release and exception filter in spawn_with_gate_then
  src/v/ssx/future-util.h
Labels: area/redpanda

config: add O_DIRECT hint to config read failures
  src/v/cluster/config_manager.cc
  src/v/redpanda/application.cc
  src/v/utils/BUILD
  src/v/utils/file_io.cc
  src/v/utils/file_io.h
Labels: area/redpanda

WIP: more test needed
  src/go/rpk/pkg/cli/shadow/update.go
  src/go/rpk/pkg/cli/shadow/update_test.go
Labels: area/rpk

dummy commit
  dummy.txt
Labels: none

ssx: add ignore_shutdown_exceptions microbenchmarks
  src/v/ssx/tests/BUILD
  src/v/ssx/tests/future_util_bench.cc
Labels: area/redpanda

ssx: replace ignore_shutdown_exceptions coroutine
  src/v/ssx/future-util.h
Labels: area/redpanda

ssx: merge spawn_with_gate_then continuations
  src/v/ssx/future-util.h
Labels: area/redpanda

storage: broadcast cluster UUID availability to all waiters
  src/v/storage/api.h
Labels: area/redpanda

metrics: expose cluster identity via cluster_info gauge
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/redpanda/application_bootstrap.cc
Labels: area/redpanda

metrics/test: verify cluster_info identity metric
  tests/rptest/tests/metrics_test.py
Labels: none

`kafka`: fix `OffsetForLeaderEpoch` for term outside cloud coverage
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cluster/archival/tests/BUILD
  src/v/cluster/archival/tests/ntp_archiver_test.cc
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/kafka/data/replicated_partition.cc
Labels: area/redpanda

`kafka`: consolidate read-replica handling in `get_leader_epoch_last_offset`
  src/v/kafka/data/replicated_partition.cc
Labels: area/redpanda

`cloud_storage`: add `async_manifest_view::highest_term()`
  src/v/cloud_storage/async_manifest_view.cc
  src/v/cloud_storage/async_manifest_view.h
  src/v/cloud_storage/tests/async_manifest_view_test.cc
Labels: area/redpanda

`cloud_storage`: add `async_manifest_view::highest_term()`
  src/v/cloud_storage/async_manifest_view.cc
  src/v/cloud_storage/async_manifest_view.h
  src/v/cloud_storage/tests/async_manifest_view_test.cc
Labels: area/redpanda

`kafka`: fix `OffsetForLeaderEpoch` for term outside cloud coverage
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cluster/archival/tests/BUILD
  src/v/cluster/archival/tests/ntp_archiver_test.cc
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/kafka/data/replicated_partition.cc
Labels: area/redpanda

`kafka`: consolidate read-replica handling in `get_leader_epoch_last_offset`
  src/v/kafka/data/replicated_partition.cc
Labels: area/redpanda

raft: skip leader updates after follower flush
  src/v/raft/consensus.cc
Labels: area/redpanda

model: decode record batch headers in one pass
  src/v/model/record.cc
  src/v/model/record.h
Labels: area/redpanda

storage: skip compaction work for regular appends
  src/v/storage/segment.cc
Labels: area/redpanda

model: hash record batch headers in one pass
  src/v/model/record_utils.cc
Labels: area/redpanda

storage: skip unnecessary offset translator checkpoint tasks
  src/v/storage/disk_log_impl.cc
  src/v/storage/offset_translator.cc
  src/v/storage/offset_translator.h
Labels: area/redpanda

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']
