Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

rpc/transport: retain memory semaphore units in queued request entry
  src/v/rpc/test/rpc_gen_cycling_test.cc
  src/v/rpc/transport.cc
  src/v/rpc/transport.h
Labels: area/redpanda

security/audit: report misconfigured auth from client init
  src/v/security/audit/client.cc
Labels: area/redpanda

config: Lower default fallocate step
  src/v/config/configuration.cc
Labels: area/redpanda

rpk: move sql debug bundle metrics under a metrics/ subtree
  src/go/rpk/pkg/cli/sql/debug/bundle/collect.go
Labels: area/rpk

rpk: collect kubernetes resources in the sql debug bundle
  src/go/rpk/pkg/cli/sql/debug/bundle/BUILD
  src/go/rpk/pkg/cli/sql/debug/bundle/bundle.go
  src/go/rpk/pkg/cli/sql/debug/bundle/collect.go
  src/go/rpk/pkg/cli/sql/debug/bundle/collect_k8s.go
Labels: area/rpk

rpk: parallelize sql debug bundle node collection
  src/go/rpk/pkg/cli/sql/debug/bundle/collect.go
Labels: area/rpk

rpk: collect sql debug bundle recent queries per node
  src/go/rpk/pkg/cli/sql/debug/bundle/collect.go
Labels: area/rpk

rpk: make sql debug bundle metrics sampling configurable
  src/go/rpk/pkg/cli/sql/debug/bundle/bundle.go
  src/go/rpk/pkg/cli/sql/debug/bundle/collect.go
Labels: area/rpk

rpk: collect sql debug bundle CPU profiles by default
  src/go/rpk/pkg/cli/sql/debug/bundle/bundle.go
Labels: area/rpk

docs: Move coding guidelines from the cupboard into redpanda
  CLAUDE.md
  docs/writing-high-performance-coroutine-code.md
  docs/writing-scalable-and-high-performance-code.md
Labels: area/docs

Revert "build/deps: upgrade c-ares to 1.34.7 (CVE-2026-33630)"
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

cluster: enable fast partition movement for tiered_v2 topics
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
Labels: area/redpanda

cluster: extract learner move retention target helper
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
Labels: area/redpanda

tests/scaling_up: cover fast node addition for tiered_v2
  tests/rptest/tests/scaling_up_test.py
Labels: none

tests/scaling_up: use real reconciliation interval config keys
  tests/rptest/tests/scaling_up_test.py
Labels: none

Revert "build/deps: upgrade c-ares to 1.34.7 (CVE-2026-33630)"
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

Revert "build/deps: upgrade c-ares to 1.34.7 (CVE-2026-33630)"
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

Revert "build/deps: upgrade c-ares to 1.34.7 (CVE-2026-33630)"
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

Revert "build/deps: upgrade c-ares to 1.34.7 (CVE-2026-33630)"
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

Revert "build/deps: upgrade c-ares to 1.34.7 (CVE-2026-33630)"
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

cluster_link: run incremental SR tail syncs between full syncs
  src/v/cluster_link/BUILD
  src/v/cluster_link/schema_registry_sync/BUILD
  src/v/cluster_link/schema_registry_sync/mirroring_task.cc
  src/v/cluster_link/schema_registry_sync/mirroring_task.h
  src/v/cluster_link/schema_registry_sync/tests/BUILD
  src/v/cluster_link/schema_registry_sync/tests/mirroring_task_test.cc
  src/v/cluster_link/schema_registry_sync/tests/sr_sync_test_fixtures.h
  src/v/cluster_link/service.cc
  src/v/cluster_link/service.h
Labels: area/redpanda

cluster_link: tail the source _schemas topic for SR sync
  src/v/cluster_link/schema_registry_sync/BUILD
  src/v/cluster_link/schema_registry_sync/schemas_topic_tail_reader.cc
  src/v/cluster_link/schema_registry_sync/schemas_topic_tail_reader.h
  src/v/cluster_link/schema_registry_sync/source_reader.h
  src/v/cluster_link/schema_registry_sync/tail_reader.h
  src/v/cluster_link/schema_registry_sync/tests/BUILD
  src/v/cluster_link/schema_registry_sync/tests/http_source_reader_test.cc
  src/v/cluster_link/schema_registry_sync/tests/schemas_topic_tail_reader_test.cc
  src/v/cluster_link/utils.h
  src/v/pandaproxy/schema_registry/types.h
Labels: area/redpanda

cluster_link: e2e-test SR-sync tail propagation
  tests/rptest/tests/cluster_linking_schema_registry_sync_test.py
Labels: none

cluster_link: keep SR source counters current between full syncs
  src/v/cluster_link/schema_registry_sync/mirroring_task.cc
  src/v/cluster_link/schema_registry_sync/mirroring_task.h
  src/v/cluster_link/schema_registry_sync/tests/mirroring_task_test.cc
  tests/rptest/tests/cluster_linking_schema_registry_sync_test.py
Labels: area/redpanda

cluster_link: count soft-deleted SR versions on the destination side
  src/v/cluster_link/schema_registry_sync/mirroring_task.cc
  src/v/cluster_link/schema_registry_sync/tests/mirroring_task_test.cc
  tests/rptest/tests/cluster_linking_schema_registry_sync_test.py
Labels: area/redpanda

net/test: add DNS resolution liveness test
  src/v/net/tests/BUILD
  src/v/net/tests/dns_liveness_test.cc
Labels: area/redpanda

net/test: extract mock DNS server into a shared helper
  src/v/net/tests/BUILD
  src/v/net/tests/dns_liveness_test.cc
  src/v/net/tests/dns_test_utils.h
Labels: area/redpanda

ssx: add timed get_units to mutex
  src/v/ssx/mutex.h
Labels: area/redpanda

net: bound DNS lookups and replace the resolver on timeout
  src/v/net/dns.cc
  src/v/net/dns.h
Labels: area/redpanda

net/test: cover resolver replacement after a lost lookup
  src/v/net/tests/BUILD
  src/v/net/tests/dns_recovery_test.cc
Labels: area/redpanda

net: bound the DNS phase of dial by the connect deadline
  src/v/net/tests/dns_recovery_test.cc
  src/v/net/transport.cc
Labels: area/redpanda

kafka/server/tests: reset every config the gc probe test sets
  src/v/kafka/server/tests/quota_manager_test.cc
Labels: area/redpanda

kafka/server/tests: wait for quota updates instead of sleeping
  src/v/kafka/server/tests/quota_manager_test.cc
Labels: area/redpanda

kafka/server/tests: stop the gc probe test racing its own expiry
  src/v/kafka/server/tests/quota_manager_test.cc
Labels: area/redpanda

kafka/server/tests: re-record deficits when retrying throttle checks
  src/v/kafka/server/tests/quota_manager_test.cc
Labels: area/redpanda

bazel: fetch pip wheels via the Bazel downloader
  MODULE.bazel
Labels: none

raft: never move follower commit index backwards
  src/v/raft/consensus.cc
Labels: area/redpanda

raft: re-apply leader commit index after a follower flush
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/tests/basic_raft_fixture_test.cc
Labels: area/redpanda

lsm/db: reclaim table_cache index entries for main-queue evictions
  src/v/lsm/db/BUILD
  src/v/lsm/db/table_cache.cc
Labels: area/redpanda

utils: fix unbounded chunked_kv_cache index growth
  src/v/utils/chunked_kv_cache.h
  src/v/utils/tests/chunked_kv_cache_test.cc
Labels: area/redpanda

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']
