Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

kvstore: fail fast on flush fiber exceptions
  src/v/storage/kvstore.cc
Labels: area/redpanda

archival: don't let spillover consume the whole STM manifest
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/ntp_archiver_service.h
  src/v/cluster/archival/tests/BUILD
  src/v/cluster/archival/tests/spillover_tail_test.cc
Labels: area/redpanda

cloud_storage: sample cstore hints by position in frame
  src/v/cloud_storage/segment_meta_cstore.cc
  src/v/cloud_storage/tests/segment_meta_cstore_test.cc
  src/v/utils/delta_for.h
Labels: area/redpanda

cloud_storage: regression test for hint sampling under churn
  src/v/cloud_storage/segment_meta_cstore.cc
  src/v/cloud_storage/segment_meta_cstore.h
  src/v/cloud_storage/tests/segment_meta_cstore_test.cc
Labels: area/redpanda

`storage`: make offset translator truncation checkpoint crash-safe
  src/v/storage/disk_log_impl.cc
  src/v/storage/offset_translator.cc
  src/v/storage/offset_translator.h
  src/v/storage/offset_translator_state.cc
  src/v/storage/offset_translator_state.h
  src/v/storage/tests/offset_translator_tests.cc
Labels: area/redpanda

rpk/kgo-verifier: bump franz-go modules
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  tests/go/kgo-verifier/go.mod
  tests/go/kgo-verifier/go.sum
Labels: area/rpk

redpanda: wire UDS listener lifecycle into startup
  src/v/redpanda/BUILD
  src/v/redpanda/application.cc
  src/v/redpanda/application_services.cc
  src/v/redpanda/application_start.cc
Labels: area/redpanda

config: add unix_path to broker_authn_endpoint
  src/v/config/broker_authn_endpoint.cc
  src/v/config/broker_authn_endpoint.h
  src/v/config/node_config.cc
  src/v/config/node_config.h
  src/v/config/tests/BUILD
  src/v/config/tests/broker_authn_endpoint_test.cc
  src/v/config/tests/validator_tests.cc
Labels: area/redpanda

net: add uds_path helpers for AF_UNIX listener lifecycle
  src/v/net/BUILD
  src/v/net/uds_path.cc
  src/v/net/uds_path.h
Labels: area/redpanda

kafka: resolve non-advertised UDS listener in metadata
  src/v/kafka/server/handlers/metadata.cc
Labels: area/redpanda

docs: add RFC for unix domain socket Kafka listener
  docs/rfcs/20260417_uds_kafka_listener.md
Labels: area/docs

rpk: add UDS dialer for unix:// seed brokers
  src/go/rpk/pkg/kafka/BUILD
  src/go/rpk/pkg/kafka/client_franz.go
  src/go/rpk/pkg/kafka/uds_dialer.go
  src/go/rpk/pkg/kafka/uds_dialer_test.go
Labels: area/rpk

net/tests: add UDS listener test and socket microbenchmarks
  src/v/net/tests/BUILD
  src/v/net/tests/uds_bench_common.hh
  src/v/net/tests/uds_concurrency_bench.cc
  src/v/net/tests/uds_connect_bench.cc
  src/v/net/tests/uds_listener_test.cc
  src/v/net/tests/uds_rtt_bench.cc
  src/v/net/tests/uds_sustained_bench.cc
  src/v/net/tests/uds_throughput_bench.cc
Labels: area/redpanda

rpk/benchmark: add consume command, async produce, and fixed volume
  src/go/rpk/go.mod
  src/go/rpk/pkg/cli/benchmark/BUILD
  src/go/rpk/pkg/cli/benchmark/benchmark.go
  src/go/rpk/pkg/cli/benchmark/consume.go
  src/go/rpk/pkg/cli/benchmark/produce.go
Labels: area/rpk

rptest: add UDS-vs-TCP rpk benchmark perf test
  tests/rptest/perf/rpk_uds_benchmark_test.py
  tests/rptest/services/rpk_benchmark_service.py
Labels: none

build/deps: upgrade c-ares to 1.34.7 (CVE-2026-33630)
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

build/deps: upgrade c-ares to 1.34.7 (CVE-2026-33630)
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

build/deps: upgrade c-ares to 1.34.7 (CVE-2026-33630)
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

build/deps: upgrade c-ares to 1.34.7 (CVE-2026-33630)
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

`storage`: cover translator truncation checkpoint loss and races
  src/v/storage/tests/BUILD
  src/v/storage/tests/offset_translator_race_test.cc
Labels: area/redpanda

`raft`: add offset translator consistency churn test
  src/v/raft/tests/BUILD
  src/v/raft/tests/ot_consistency_test.cc
Labels: area/redpanda

ct: Fix seen/apply window divergence
  src/v/cloud_topics/frontend/frontend.cc
  src/v/cloud_topics/level_zero/stm/ctp_stm.cc
  src/v/cloud_topics/level_zero/stm/tests/ctp_stm_test.cc
  src/v/cloud_topics/level_zero/stm/types.h
Labels: area/redpanda

`storage`: maybe process batch in offset translator when an append fails
  src/v/raft/tests/BUILD
  src/v/raft/tests/ot_consistency_test.cc
  src/v/storage/disk_log_appender.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/tests/BUILD
  src/v/storage/tests/offset_translator_race_test.cc
Labels: area/redpanda

`storage`: promote append failure log line to `WARN`
  src/v/storage/disk_log_appender.cc
Labels: area/redpanda

`storage`: mark compaction index as incomplete when a batch's index update fails
  src/v/storage/segment.cc
  src/v/storage/segment.h
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

`storage`: stop using SUCCEED() as a log line in `issue_8091`
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

k/s/group_metadata: encode ConsumerGroup* values as serde
  src/v/kafka/server/BUILD
  src/v/kafka/server/group_metadata.cc
  src/v/kafka/server/group_metadata.h
Labels: area/redpanda

k/s/tests: round-trip ConsumerGroup* values through serde
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/group_metadata_serialization_test.cc
  src/v/kafka/server/tests/kafka_oracle/GroupRecordVectors.java
Labels: area/redpanda

kafka/protocol: emit one C++ definition per generated struct
  src/v/kafka/protocol/schemata/generator.py
Labels: area/redpanda

kafka/protocol: generate nullable singular struct fields
  src/v/kafka/protocol/schemata/generator.py
Labels: area/redpanda

kafka/protocol: drop copy_tags helper in field_parser_test
  src/v/kafka/protocol/tests/field_parser_test.cc
Labels: area/redpanda

kafka: add gated stub handlers for keys 68/69
  src/v/kafka/server/BUILD
  src/v/kafka/server/handlers/api_versions.cc
  src/v/kafka/server/handlers/api_versions.h
  src/v/kafka/server/handlers/consumer_group_describe.cc
  src/v/kafka/server/handlers/consumer_group_describe.h
  src/v/kafka/server/handlers/consumer_group_heartbeat.cc
  src/v/kafka/server/handlers/consumer_group_heartbeat.h
  src/v/kafka/server/handlers/details/consumer_group_protocol.h
  src/v/kafka/server/handlers/handlers.h
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/api_versions_test.cc
Labels: area/redpanda

kafka/client: return false for unknown error codes
  src/v/kafka/client/errors.h
Labels: area/redpanda

kafka: add wire round-trip tests for keys 68/69
  src/v/kafka/protocol/tests/BUILD
  src/v/kafka/protocol/tests/consumer_group_heartbeat_test.cc
Labels: area/redpanda

kafka: add ConsumerGroupHeartbeat/Describe wire types (keys 68/69)
  src/v/kafka/client/BUILD
  src/v/kafka/client/api_types.h
  src/v/kafka/protocol/api_key_table.h
  src/v/kafka/protocol/consumer_group_describe.h
  src/v/kafka/protocol/consumer_group_heartbeat.h
  src/v/kafka/protocol/messages.h
  src/v/kafka/protocol/schemata/consumer_group_describe_request.json
  src/v/kafka/protocol/schemata/consumer_group_describe_response.json
  src/v/kafka/protocol/schemata/consumer_group_heartbeat_request.json
  src/v/kafka/protocol/schemata/consumer_group_heartbeat_response.json
  src/v/kafka/protocol/schemata/generator.bzl
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/protocol/tests/protocol_test.cc
  src/v/security/audit/BUILD
  src/v/security/audit/schemas/utils.cc
Labels: area/redpanda

kafka: add the KIP-848 error codes
  src/v/kafka/client/errors.h
  src/v/kafka/protocol/errors.cc
  src/v/kafka/protocol/errors.h
  src/v/pandaproxy/error.cc
Labels: area/redpanda

storage: remove unneeded vassert in batch_header_from_disk_buf
  src/v/storage/record_batch_utils.cc
Labels: area/redpanda

dl/coordinator: track pending file and byte totals in STM state
  src/v/datalake/coordinator/BUILD
  src/v/datalake/coordinator/state.cc
  src/v/datalake/coordinator/state.h
  src/v/datalake/coordinator/state_machine.cc
  src/v/datalake/coordinator/state_update.cc
  src/v/datalake/coordinator/tests/BUILD
  src/v/datalake/coordinator/tests/iceberg_file_committer_test.cc
  src/v/datalake/coordinator/tests/state_machine_test.cc
  src/v/datalake/coordinator/tests/state_update_test.cc
Labels: area/redpanda

datalake: plumb parquet column stats into iceberg manifest entries
  src/v/datalake/BUILD
  src/v/datalake/base_types.h
  src/v/datalake/coordinator/BUILD
  src/v/datalake/coordinator/data_file.h
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/datalake/coordinator/tests/iceberg_file_committer_test.cc
  src/v/datalake/data_writer_interface.h
  src/v/datalake/local_parquet_file_writer.cc
  src/v/datalake/serde_parquet_writer.cc
  src/v/datalake/serde_parquet_writer.h
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/serde_parquet_writer_test.cc
  src/v/datalake/tests/test_data_writer.h
  src/v/datalake/translation_task.cc
  src/v/serde/parquet/BUILD
  src/v/serde/parquet/column_writer.cc
  src/v/serde/parquet/column_writer.h
  src/v/serde/parquet/writer.cc
  src/v/serde/parquet/writer.h
Labels: area/redpanda

dl/coordinator: estimate in-memory footprint of pending files
  src/v/datalake/base_types.h
  src/v/datalake/coordinator/data_file.h
  src/v/datalake/coordinator/tests/BUILD
  src/v/datalake/coordinator/tests/data_file_test.cc
  src/v/datalake/coordinator/translated_offset_range.h
Labels: area/redpanda

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']
