Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

datalake: clean up files after translation error
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
  src/v/datalake/tests/gtest_record_multiplexer_test.cc
  src/v/datalake/tests/record_multiplexer_bench.cc
  src/v/datalake/tests/record_multiplexer_test.cc
  src/v/datalake/tests/translation_task_test.cc
  src/v/datalake/translation_task.cc
Labels: area/redpanda

datalake: clean up files after translation error
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
  src/v/datalake/tests/gtest_record_multiplexer_test.cc
  src/v/datalake/tests/record_multiplexer_bench.cc
  src/v/datalake/tests/record_multiplexer_test.cc
  src/v/datalake/tests/translation_task_test.cc
  src/v/datalake/translation_task.cc
Labels: area/redpanda

rptest: add "assert-ref-snapshot-id" to log allow list
  tests/rptest/services/redpanda.py
Labels: none

rptest: add "assert-ref-snapshot-id" to log allow list
  tests/rptest/services/redpanda.py
Labels: none

`raft`: replace `std::vector<>` with `chunked_vector<>` in `service.h`
  src/v/raft/service.h
Labels: area/redpanda

`raft`: replace `std::vector<>` with `chunked_vector<>` in `service.h`
  src/v/raft/service.h
Labels: area/redpanda

DisablingPartitionsTest::test_disable: deflake hwm
  tests/rptest/tests/recovery_mode_test.py
Labels: none

rpk: allow directory to be used for bundle -o
  src/go/rpk/pkg/cli/debug/bundle/bundle_linux.go
  src/go/rpk/pkg/cli/debug/remotebundle/download.go
Labels: area/rpk

c/sloth_mail: Readme
  src/v/cluster/sloth_mail/README.md
Labels: area/redpanda

utils/variant: refactor to expose generic map-and-reassemble
  src/v/utils/variant.h
Labels: area/redpanda

c/sloth_mail/tests: configuration and mock shipper
  src/v/cluster/sloth_mail/tests/BUILD
  src/v/cluster/sloth_mail/tests/config.h
  src/v/cluster/sloth_mail/tests/kinds.h
Labels: area/redpanda

c/sloth_mail: types and backend generic implementation
  src/v/cluster/sloth_mail/impl/BUILD
  src/v/cluster/sloth_mail/impl/backend_decl.h
  src/v/cluster/sloth_mail/impl/backend_impl.h
  src/v/cluster/sloth_mail/impl/types.h
Labels: area/redpanda

c/sloth_mail: serde support
  src/v/cluster/sloth_mail/impl/types.h
  src/v/cluster/sloth_mail/tests/BUILD
  src/v/cluster/sloth_mail/tests/serde_test.cc
Labels: area/redpanda

c/sloth_mail: frontend
  src/v/cluster/sloth_mail/BUILD
  src/v/cluster/sloth_mail/frontend.h
Labels: area/redpanda

c/sloth_mail: configuration of backend and types for the app
  src/v/cluster/sloth_mail/BUILD
  src/v/cluster/sloth_mail/backend.cc
  src/v/cluster/sloth_mail/backend.h
  src/v/cluster/sloth_mail/config.h
  src/v/cluster/sloth_mail/kinds.h
Labels: area/redpanda

c/sloth_mail/tests: backend fixture and tests
  src/v/cluster/sloth_mail/tests/BUILD
  src/v/cluster/sloth_mail/tests/backend_fixture.cc
  src/v/cluster/sloth_mail/tests/backend_fixture.h
  src/v/cluster/sloth_mail/tests/backend_test.cc
Labels: area/redpanda

raft: error logs for unexpected exceptions
  src/v/raft/state_machine_base.h
  src/v/raft/state_machine_manager.cc
  src/v/raft/state_machine_manager.h
Labels: area/redpanda

gh/workflows: fix workflow name
  .github/workflows/cloud-installpack-bk-trigger.yml
Labels: area/build

gh/workflows: trigger installpack bump when needed
  .github/workflows/cloud-installpack-bk-trigger.yml
Labels: area/build

bzl: Update OpenSSL to 3.0.18
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

kafka/server: use truncating logger for `log_request`
  src/v/kafka/server/handlers/handler.h
Labels: area/redpanda

kafka/server: use truncating logger for `log_request`
  src/v/kafka/server/handlers/handler.h
Labels: area/redpanda

added the ability to get current logger levels
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/redpanda/admin/config/config.go
Labels: area/rpk

pandaproxy: relax client lock from mutex to rwlock
  src/v/pandaproxy/kafka_client_cache.cc
  src/v/pandaproxy/kafka_client_cache.h
  src/v/pandaproxy/test/kafka_client_cache.cc
  src/v/pandaproxy/types.h
Labels: area/redpanda

pandaproxy: fix log line of post_topics_name
  src/v/pandaproxy/rest/handlers.cc
Labels: area/redpanda

pandaproxy: relax client lock from mutex to rwlock
  src/v/pandaproxy/kafka_client_cache.cc
  src/v/pandaproxy/kafka_client_cache.h
  src/v/pandaproxy/test/kafka_client_cache.cc
  src/v/pandaproxy/types.h
Labels: area/redpanda

pandaproxy: fix log line of post_topics_name
  src/v/pandaproxy/rest/handlers.cc
Labels: area/redpanda

pandaproxy: relax client lock from mutex to rwlock
  src/v/pandaproxy/kafka_client_cache.cc
  src/v/pandaproxy/kafka_client_cache.h
  src/v/pandaproxy/test/kafka_client_cache.cc
  src/v/pandaproxy/types.h
Labels: area/redpanda

pandaproxy: fix log line of post_topics_name
  src/v/pandaproxy/rest/handlers.cc
Labels: area/redpanda

added json/yaml formatter to rpk group list
  src/go/rpk/pkg/cli/group/group.go
Labels: area/rpk

config: introduce encapsulation for sasl_mechanisms logic
  src/v/cluster/feature_manager.cc
  src/v/config/BUILD
  src/v/config/configuration.cc
  src/v/config/sasl_mechanisms.cc
  src/v/config/sasl_mechanisms.h
  src/v/config/validators.cc
  src/v/kafka/server/server.cc
  src/v/security/oidc_service.cc
Labels: area/redpanda

config: add sasl_mechanisms_overrides config
  src/v/cluster/controller.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/sasl_mechanisms.cc
  src/v/config/sasl_mechanisms.h
  src/v/config/validators.cc
  src/v/config/validators.h
  src/v/kafka/server/server.cc
  src/v/redpanda/admin/security.cc
  src/v/security/oidc_service.cc
  src/v/security/oidc_service.h
  tests/rptest/services/redpanda.py
  tests/rptest/tests/enterprise_features_license_test.py
  tests/rptest/tests/scram_test.py
  tests/rptest/tests/security_report_test.py
Labels: area/redpanda

k/group: replaced use of std::vector with chunked_vector
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
Labels: area/redpanda

k/group: replaced use of std::vector with chunked_vector
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
Labels: area/redpanda

dt/quotas: enable write caching
  tests/rptest/tests/cluster_quota_test.py
Labels: none

dt/quotas: more robust test_client_quota_metrics
  tests/rptest/tests/cluster_quota_test.py
Labels: none

dt/quotas: reduce default quota size
  tests/rptest/tests/cluster_quota_test.py
Labels: none

dt/quotas: more robust test_throttling_ms_enforcement_is_per_connection
  tests/rptest/tests/cluster_quota_test.py
Labels: none

dt/quotas: tolerate slower produce requests
  tests/rptest/tests/cluster_quota_test.py
Labels: none

dt/quotas: tolerate slower produce requests
  tests/rptest/tests/cluster_quota_test.py
Labels: none

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']
