Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

kafka/server: cache ktp in op_context::response_placeholder
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/fetch.h
Labels: area/redpanda

kafka/server: track response memory units in op_context
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/fetch.h
Labels: area/redpanda

kafka/server: add response memory units to op_context::response_placeholder::set
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/fetch.h
Labels: area/redpanda

kafka/server: change bytes_left calculation in fill_fetch_responses
  src/v/kafka/server/handlers/fetch.cc
Labels: area/redpanda

kafka/server: add test for fetch response memory units
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/fetch_test.cc
Labels: area/redpanda

kafka/server: use cached ktp in fill_fetch_responses
  src/v/kafka/server/handlers/fetch.cc
Labels: area/redpanda

c/producer_state: fix missing placeholder in log line
  src/v/cluster/producer_state.cc
Labels: area/redpanda

c/producer_state: fix missing placeholder in log line
  src/v/cluster/producer_state.cc
Labels: area/redpanda

c/producer_state: fix missing placeholder in log line
  src/v/cluster/producer_state.cc
Labels: area/redpanda

cloud_io: Add notification mechanism to cloud_io::remote
  src/v/cloud_io/BUILD
  src/v/cloud_io/remote.cc
  src/v/cloud_io/remote.h
Labels: area/redpanda

cloud_io: Add unit tests for remote::subscribe
  src/v/cloud_io/tests/BUILD
  src/v/cloud_io/tests/remote_test.cc
Labels: area/redpanda

ts: Use cloud_io notifications in cloud_storage
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/cloud_storage/tests/remote_test.cc
  src/v/cluster/archival/upload_housekeeping_service.cc
Labels: area/redpanda

dt/admin: update urllib3
  tests/rptest/services/admin.py
Labels: none

dt/admin: update urllib3
  tests/rptest/services/admin.py
Labels: none

`datalake`: avoid use of disengaged optional
  src/v/datalake/translation/deps.cc
Labels: area/redpanda

`storage`: check `index_entry` before dereferencing
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda

`storage`: check `index_entry` before dereferencing
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda

`datalake`: avoid use of disengaged optional
  src/v/datalake/translation/deps.cc
Labels: area/redpanda

`setup.py`: pin `pydantic` version to `2.11.0`
  tests/setup.py
Labels: none

`setup.py`: pin `pydantic` version to `2.11.0`
  tests/setup.py
Labels: none

`admin`: add strict weak ordering guarantees to `NaN` handling
  src/v/redpanda/admin/aip_ordering.cc
Labels: area/redpanda

cloud_storage/tests: reproduce retention bug
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
Labels: area/redpanda

cloud_storage: do not reset override during spillover
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cluster/archival/tests/archival_metadata_stm_test.cc
Labels: area/redpanda

iceberg: log spec and schema when failing to resolve
  src/v/iceberg/catalog.cc
Labels: area/redpanda

added json/yaml formatting to rpk group describe command
  src/go/rpk/pkg/cli/group/describe.go
Labels: area/rpk

cloud_storage/tests: reproduce retention bug
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
Labels: area/redpanda

cloud_storage: do not reset override during spillover
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cluster/archival/tests/archival_metadata_stm_test.cc
Labels: area/redpanda

cloud_storage/tests: reproduce retention bug
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
Labels: area/redpanda

cloud_storage: do not reset override during spillover
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cluster/archival/tests/archival_metadata_stm_test.cc
Labels: area/redpanda

topic_table_probe: clarify failure when node_id is not set
  src/v/cluster/topic_table_probe.cc
Labels: area/redpanda

ts: Add hydration failsafe
  src/v/cloud_storage/remote_segment.cc
Labels: area/redpanda

RNOT: Split into smoke and fuzz test suites
  tests/rptest/fuzz/random_node_operations_fuzz.py
  tests/rptest/test_suite_ec2.yml
  tests/rptest/test_suite_fuzz.yml
  tests/rptest/tests/random_node_operations_test.py
Labels: none

CT disabled in RNOT due to:
  tests/rptest/tests/random_node_operations_test.py
Labels: none

`setup.py`: pin pydantic version to `2.11.0`
  tests/setup.py
Labels: none

ct: Optimize base_pipeline::subscribe
  src/v/cloud_topics/level_zero/pipeline/base_pipeline.h
  src/v/cloud_topics/level_zero/pipeline/event_filter.h
  src/v/cloud_topics/level_zero/pipeline/read_pipeline.cc
  src/v/cloud_topics/level_zero/pipeline/read_pipeline.h
  src/v/cloud_topics/level_zero/pipeline/write_pipeline.cc
  src/v/cloud_topics/level_zero/pipeline/write_pipeline.h
Labels: area/redpanda

ct: Estimate backlog size in ctp_stm
  src/v/cloud_topics/level_zero/stm/ctp_stm.cc
  src/v/cloud_topics/level_zero/stm/ctp_stm.h
  src/v/cloud_topics/level_zero/stm/tests/ctp_stm_test.cc
Labels: area/redpanda

ct: Use backlog size metric in reconciler
  src/v/cloud_topics/reconciler/reconciler.cc
  src/v/cloud_topics/reconciler/reconciliation_source.cc
  src/v/cloud_topics/reconciler/reconciliation_source.h
  src/v/cloud_topics/reconciler/tests/reconciler_metrics_test.cc
  src/v/cloud_topics/reconciler/tests/test_utils.h
Labels: area/redpanda

ct: Add backlog size metric
  src/v/cloud_topics/reconciler/reconciler_probe.cc
  src/v/cloud_topics/reconciler/reconciler_probe.h
Labels: area/redpanda

cloud_storage/tests: reproduce retention bug
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
Labels: area/redpanda

cloud_storage: do not reset override during spillover
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cluster/archival/tests/archival_metadata_stm_test.cc
Labels: area/redpanda
