Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

dt/ct/l0_gc: Fix flaky point-in-time status assertions
  tests/rptest/tests/cloud_topics/l0_gc_test.py
Labels: none

dt/ct/l0_gc: Fix produce_some timeout in CDT
  tests/rptest/tests/cloud_topics/l0_gc_test.py
Labels: none

ct/l1: make it harder to omit fields from debug rows
  src/v/cloud_topics/level_one/metastore/lsm/debug_serde.cc
Labels: area/redpanda

ct/l1: set num_extents in debug rows
  proto/redpanda/core/admin/internal/cloud_topics/v1/metastore.proto
  src/v/cloud_topics/level_one/metastore/lsm/debug_reader.cc
  src/v/cloud_topics/level_one/metastore/lsm/debug_serde.cc
  src/v/cloud_topics/level_one/metastore/lsm/tests/debug_reader_test.cc
  src/v/cloud_topics/level_one/metastore/lsm/tests/debug_writer_test.cc
  tests/rptest/clients/admin/proto/redpanda/core/admin/internal/cloud_topics/v1/metastore_pb2.py
  tests/rptest/clients/admin/proto/redpanda/core/admin/internal/cloud_topics/v1/metastore_pb2.pyi
Labels: area/redpanda

pb: expose field count in messages
  bazel/pbgen/main.go
  src/v/serde/protobuf/tests/goldens/codegen_test.proto.h
  src/v/serde/protobuf/tests/goldens/test_messages_edition2023.proto.h
Labels: area/redpanda

rpk: update console version to v3.7.0
  src/go/rpk/pkg/cli/container/containerutil/common.go
Labels: area/rpk

bazel: update seastar to 617d3c42
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

cluster/namespaced_cache: stop eviction loop when no entries are evictable
  src/v/cluster/namespaced_cache.h
Labels: area/redpanda

cluster/namespaced_cache: stop eviction loop when no entries are evictable
  src/v/cluster/namespaced_cache.h
Labels: area/redpanda

cluster/rm_stm: preserve open transaction producers in local snapshots
  src/v/cluster/rm_stm.cc
  src/v/cluster/tests/rm_stm_test_fixture.h
  src/v/cluster/tests/rm_stm_tests.cc
Labels: area/redpanda

`rptest`: fail ducktape tests on `Too long queue accumulated`
  tests/rptest/services/utils.py
Labels: none

`cluster`: reduce `parallel_for_each()` batch size to 512
  src/v/cluster/controller_api.cc
Labels: area/redpanda

`ct/l0`: hold gate in `next_page()`
  src/v/cloud_topics/level_zero/gc/level_zero_gc.cc
Labels: area/redpanda

rptest: avoid large alloc in abs cloud validation tests
  tests/rptest/tests/cluster_config_test.py
Labels: none

rptest/datalake/verifier: fix consumer close race with poll thread
  tests/rptest/tests/datalake/datalake_verifier.py
Labels: none

`cluster`: reduce `parallel_for_each()` batch size to 512
  src/v/cluster/controller_api.cc
Labels: area/redpanda

DO NOT COMMIT kafka/server: add oncore assert to response destructor
  src/v/kafka/server/response.h
Labels: area/redpanda

`ct`: wake up `reconciler` loop on cluster config changes
  src/v/cloud_topics/reconciler/reconciler.cc
  src/v/cloud_topics/reconciler/reconciler.h
Labels: area/redpanda

`ct`: add `reconciliation_source::compaction_lag_remaining()`
  src/v/cloud_topics/reconciler/BUILD
  src/v/cloud_topics/reconciler/reconciliation_source.cc
  src/v/cloud_topics/reconciler/reconciliation_source.h
  src/v/cloud_topics/reconciler/tests/test_utils.h
Labels: area/redpanda

`ct`: respect `compaction_lag_remaining()` in the `reconciler`
  src/v/cloud_topics/reconciler/reconciler.cc
Labels: area/redpanda

`ct`: add `ReconcilerTest::CompactionLag*` tests
  src/v/cloud_topics/reconciler/tests/reconciler_test.cc
Labels: area/redpanda

`rptest`: add `EndToEndCloudTopicsCompactionLagTest`
  tests/rptest/tests/cloud_topics/e2e_test.py
Labels: none

kafka/data/rpc: Add unit tests for backpressure mechanisms
  src/v/kafka/data/rpc/test/BUILD
  src/v/kafka/data/rpc/test/deps.cc
  src/v/kafka/data/rpc/test/deps.h
  src/v/kafka/data/rpc/test/kafka_data_rpc_test.cc
Labels: area/redpanda

s/audit: Add exponential backoff to audit client retry loop
  src/v/security/audit/client.cc
  src/v/security/audit/client.h
Labels: area/redpanda

k/d/rpc: Fix a long standing bug in retry_with_backoff
  src/v/kafka/data/rpc/client.cc
  src/v/transform/rpc/client.cc
Labels: area/redpanda

kafka/data/rpc: Fail produce requests under memory pressure
  src/v/kafka/data/rpc/BUILD
  src/v/kafka/data/rpc/service.cc
  src/v/kafka/data/rpc/service.h
  src/v/redpanda/application_rpc.cc
Labels: area/redpanda

`cluster`: add list of `removed_properties`
  src/v/cluster/config_manager.cc
Labels: area/redpanda

`cluster`: add free function `is_deprecated_property()`
  src/v/cluster/config_manager.cc
Labels: area/redpanda

`cluster`: purge `deprecated_property`s in config parsing paths
  src/v/cluster/config_manager.cc
Labels: area/redpanda

`rptest`: add tests for removed cluster configs
  tests/rptest/tests/cluster_config_test.py
Labels: none

cloud_topics/gc: extract dependency interfaces to namespace scope
  src/v/cloud_topics/level_zero/gc/BUILD
  src/v/cloud_topics/level_zero/gc/level_zero_gc.cc
  src/v/cloud_topics/level_zero/gc/level_zero_gc.h
  src/v/cloud_topics/level_zero/gc/level_zero_gc_types.h
  src/v/cloud_topics/level_zero/gc/tests/level_zero_gc_mt_test.cc
  src/v/cloud_topics/level_zero/gc/tests/level_zero_gc_tests.cc
  src/v/redpanda/admin/services/internal/BUILD
  src/v/redpanda/admin/services/internal/level_zero.cc
Labels: area/redpanda

cloud_topics/gc: sleep precisely when no GC progress is possible
  src/v/cloud_topics/level_zero/gc/level_zero_gc.cc
  src/v/cloud_topics/level_zero/gc/level_zero_gc.h
  src/v/cloud_topics/level_zero/gc/level_zero_gc_types.h
Labels: area/redpanda

ct/l0/gc/probe: Add list_requests_total
  src/v/cloud_topics/level_zero/gc/level_zero_gc.cc
  src/v/cloud_topics/level_zero/gc/level_zero_gc_probe.cc
  src/v/cloud_topics/level_zero/gc/level_zero_gc_probe.h
Labels: area/redpanda

cloud_topics/gc: templatize level_zero_gc with Clock parameter
  src/v/cloud_topics/app.h
  src/v/cloud_topics/level_zero/gc/level_zero_gc.cc
  src/v/cloud_topics/level_zero/gc/level_zero_gc.h
Labels: area/redpanda

cloud_topics/gc: deterministic backoff tests with manual_clock
  src/v/cloud_topics/level_zero/gc/tests/BUILD
  src/v/cloud_topics/level_zero/gc/tests/level_zero_gc_tests.cc
Labels: area/redpanda

ct/l0/gc: Add jitter to backoffs
  src/v/cloud_topics/level_zero/gc/BUILD
  src/v/cloud_topics/level_zero/gc/level_zero_gc.cc
  src/v/cloud_topics/level_zero/gc/level_zero_gc.h
  src/v/cloud_topics/level_zero/gc/tests/level_zero_gc_tests.cc
Labels: area/redpanda

`rptest`: add `test_unknown_value_can_be_removed`
  tests/rptest/tests/cluster_config_test.py
Labels: none

`redpanda`: don't error on unknown property removal in... ... `admin_server::patch_cluster_config_handler()`
  src/v/redpanda/admin/server.cc
Labels: area/redpanda

`rptest`: wait longer for valid offsets file to appear
  tests/rptest/services/kgo_verifier_services.py
Labels: none

`rptest`: add logging to `consumer_offsets_test`
  tests/rptest/transactions/consumer_offsets_test.py
Labels: none
