Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

k/s/handlers: fix memory estimation for metadata api
  src/v/kafka/server/handlers/metadata.cc
Labels: area/redpanda

archival: remove upload retry limit for segments
  src/v/cluster/archival/ntp_archiver_service.cc
Labels: area/redpanda

schema_registry: Synchronize swagger with docs
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/api/api-doc/schema_registry_definitions.def.json
  src/v/pandaproxy/api/api-doc/schema_registry_header.json
Labels: area/redpanda

`storage`: bump compaction log lines to `INFO`
  src/v/storage/disk_log_impl.cc
  src/v/storage/segment_utils.cc
Labels: area/redpanda

`storage`: pass `abort_source` to `log::start()`
  src/v/datalake/translation/tests/translated_log_offset_test.cc
  src/v/raft/consensus.cc
  src/v/raft/tests/failure_injectable_log.cc
  src/v/raft/tests/failure_injectable_log.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/log.h
  src/v/storage/tests/compaction_fuzz_test.cc
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

`storage`: pass `abort_source` to `log::start()`
  src/v/cluster/archival/tests/ntp_archiver_test.cc
  src/v/datalake/translation/tests/translated_log_offset_test.cc
  src/v/raft/consensus.cc
  src/v/raft/tests/failure_injectable_log.cc
  src/v/raft/tests/failure_injectable_log.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/log.h
  src/v/storage/tests/compaction_fuzz_test.cc
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

tests/kgo: handle errors when polling for verifier status
  tests/rptest/services/kgo_verifier_services.py
Labels: none

tests: upgrade kgo-verifier with startup race condition fix
  tests/docker/ducktape-deps/kgo-verifier
Labels: none

DNM: try to repro metadata inconsistency
  src/v/cluster/archival/ntp_archiver_service.cc
  tests/rptest/tests/leadership_transfer_test.py
Labels: area/redpanda

cluster: doc for partition::get_term(model::offset)
  src/v/cluster/partition.h
Labels: area/redpanda

cluster: stubs for leader epoch for offset
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/kafka/data/cloud_topic_partition.cc
  src/v/kafka/data/cloud_topic_partition.h
  src/v/kafka/data/partition_proxy.h
  src/v/kafka/data/replicated_partition.cc
  src/v/kafka/data/replicated_partition.h
  src/v/kafka/data/rpc/test/deps.h
Labels: area/redpanda

test_utils: silence avoid-do-while for macros
  src/v/test_utils/async.h
Labels: area/redpanda

cloud_storage/tests: allow to produce with new term each segment
  src/v/cloud_storage/tests/produce_utils.h
Labels: area/redpanda

cloud_storage/tests: leader epoch e2e test setup
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
Labels: area/redpanda

model: split out model::compression
  src/v/cloud_storage/BUILD
  src/v/cloud_storage/tests/BUILD
  src/v/cluster/BUILD
  src/v/cluster/archival/tests/BUILD
  src/v/cluster/tests/BUILD
  src/v/compat/tests/BUILD
  src/v/compression/BUILD
  src/v/config/BUILD
  src/v/datalake/tests/BUILD
  src/v/kafka/protocol/BUILD
  src/v/kafka/server/BUILD
  src/v/kafka/server/tests/BUILD
  src/v/model/BUILD
  src/v/model/compression.cc
  src/v/model/compression.h
  src/v/model/model.cc
  src/v/model/tests/BUILD
  src/v/storage/BUILD
  src/v/wasm/BUILD
Labels: area/redpanda

model: modernize with consteval
  src/v/kafka/server/kafka_probe.h
  src/v/kafka/server/tests/produce_consume_test.cc
  src/v/model/compression.h
  src/v/model/tests/lexical_cast_tests.cc
Labels: area/redpanda

`storage`: bump window compaction log lines to `INFO`
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda

`storage`: bump chunked sliding window compaction log line to `INFO`
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda

cluster_link/task: correctly change task interval while task running
  src/v/cluster_link/task.cc
Labels: area/redpanda

r/stm_manager: added watchdog logging an error when stm did not stop
  src/v/raft/BUILD
  src/v/raft/state_machine_manager.cc
  src/v/raft/state_machine_manager.h
Labels: area/redpanda

rpk: fix concurrent map writes in proto serde encodefn
  src/go/rpk/pkg/serde/proto.go
  src/go/rpk/pkg/serde/proto_test.go
Labels: area/rpk

`storage`: pass `abort_source` to `maybe_create_contiguous_segment_set()`
  src/v/storage/segment_set.cc
  src/v/storage/segment_set.h
  src/v/storage/tests/segment_set_test.cc
Labels: area/redpanda

`storage`: call `abort_source::check()` during recovery
  src/v/storage/segment_set.cc
Labels: area/redpanda

Revert "tests: run direct consumer tests in ci"
  tests/rptest/services/direct_consumer_verifier.py
  tests/rptest/test_suite_all.yml
  tests/rptest/test_suite_quick.yml
Labels: none

cluster: leader epoch for offset
  src/v/cloud_storage/async_manifest_view.cc
  src/v/cloud_storage/async_manifest_view.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cloud_storage/tests/BUILD
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cloud_storage/tests/read_replica_test.cc
  src/v/cluster/partition.cc
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/replicated_partition_test.cc
Labels: area/redpanda

storage: log more info when requesting eviction
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda

`storage`: add `storage::probe::_public_metrics`
  src/v/storage/disk_log_impl.cc
  src/v/storage/probe.cc
  src/v/storage/probe.h
Labels: area/redpanda

dl/coordinator: track kafka bytes processed for committed requests
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/datalake/coordinator/state_update.cc
  src/v/datalake/coordinator/state_update.h
  src/v/datalake/coordinator/tests/state_test_utils.h
  src/v/datalake/coordinator/tests/state_update_test.cc
Labels: area/redpanda

dl/coordinator: track per topic total kafka bytes translated
  src/v/datalake/coordinator/state.cc
  src/v/datalake/coordinator/state.h
  src/v/datalake/coordinator/state_update.cc
  src/v/datalake/coordinator/tests/BUILD
  src/v/datalake/coordinator/tests/state_machine_test.cc
  src/v/datalake/coordinator/tests/state_test_utils.cc
Labels: area/redpanda

dl/coordinator: types for get per coordinator usage
  src/v/datalake/coordinator/types.cc
  src/v/datalake/coordinator/types.h
Labels: area/redpanda

dl/iceberg/mux: track the total kafka bytes read
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
Labels: area/redpanda

dl/coordinator/fe: track kafka bytes processed in coordinator
  src/v/datalake/coordinator/coordinator.cc
  src/v/datalake/coordinator/translated_offset_range.cc
  src/v/datalake/coordinator/translated_offset_range.h
  src/v/datalake/tests/gtest_record_multiplexer_test.cc
  src/v/datalake/translation_task.cc
Labels: area/redpanda

dl/coordinator: add get_usage utility
  src/v/datalake/coordinator/coordinator.cc
  src/v/datalake/coordinator/coordinator.h
Labels: area/redpanda

dl/coordinator/fe: impl for get_usage_stats
  src/v/datalake/coordinator/frontend.cc
  src/v/datalake/coordinator/frontend.h
  src/v/datalake/coordinator/rpc.json
  src/v/datalake/coordinator/service.cc
  src/v/datalake/coordinator/service.h
Labels: area/redpanda

kafka/server: add datalake_usage_api
  src/v/kafka/CMakeLists.txt
  src/v/kafka/server/BUILD
  src/v/kafka/server/datalake_usage_api.cc
  src/v/kafka/server/datalake_usage_api.h
Labels: area/redpanda

kafka/usage: wire up dl usage API into manager
  src/v/datalake/BUILD
  src/v/datalake/CMakeLists.txt
  src/v/datalake/datalake_usage_aggregator.cc
  src/v/datalake/datalake_usage_aggregator.h
  src/v/kafka/server/BUILD
  src/v/kafka/server/fwd.h
  src/v/kafka/server/usage_aggregator.cc
  src/v/kafka/server/usage_aggregator.h
  src/v/kafka/server/usage_manager.cc
  src/v/kafka/server/usage_manager.h
  src/v/redpanda/BUILD
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
Labels: area/redpanda

dl/usage: add an implementation for datalake_usage_api
  src/v/datalake/BUILD
  src/v/datalake/datalake_usage_aggregator.cc
  src/v/datalake/datalake_usage_aggregator.h
  src/v/redpanda/application.cc
Labels: area/redpanda

dl/tests: add iceberg usage test
  tests/rptest/tests/datalake/datalake_usage_test.py
Labels: none

dl/tests: add topic name to err message
  tests/rptest/tests/datalake/datalake_services.py
Labels: none

kafka/usage: datalake usage definitions in REST api
  src/v/redpanda/admin/api-doc/usage.json
  src/v/redpanda/admin/usage.cc
Labels: area/redpanda

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']
