Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

ts: Take deadline into account in remote_segment
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
Labels: area/redpanda

ts: Take deadline into account in remote_segment
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
Labels: area/redpanda

ct: Check deadline in remote_partition reader
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_segment.cc
Labels: area/redpanda

ts: Add deadline test
  src/v/cloud_storage/tests/remote_partition_test.cc
Labels: area/redpanda

moon: add workspace and toolchain configuration
  .gitignore
  .moon/toolchain.yml
  .moon/workspace.yml
  .prototools
Labels: none

moon: add root project with orchestration tasks
  moon.yml
Labels: none

docs: add moonrepo development workflow
  README.md
Labels: none

moon: add rpk project for Go CLI
  src/go/rpk/moon.yml
Labels: area/rpk

moon: add bootstrap script for developer environment
  scripts/bootstrap.sh
Labels: none

moon: add rp project for C++ bazel builds
  src/v/moon.yml
Labels: area/redpanda

ts: Add deadline test
  src/v/cloud_storage/tests/remote_partition_test.cc
Labels: area/redpanda

ci: add moon-rpk workflow for Go CLI
  .github/workflows/moon-rpk.yml
Labels: area/build

ci: add moon-rp workflow for C++ builds
  .github/workflows/moon-rp.yml
Labels: area/build

DisablingPartitionsTest::test_disable: deflake hwm
  tests/rptest/tests/recovery_mode_test.py
Labels: none

wip
  src/v/bytes/details/io_iterator_consumer.h
  src/v/bytes/iobuf_parser.h
  src/v/serde/envelope_for_each_field.h
  src/v/serde/read_header.h
  src/v/serde/rw/envelope.h
  src/v/serde/rw/rw.h
  src/v/serde/rw/scalar.h
  src/v/serde/rw/tags.h
  src/v/serde/rw/vector.h
Labels: area/redpanda

more remove
  src/v/serde/envelope_for_each_field.h
  src/v/serde/rw/envelope.h
  src/v/serde/rw/scalar.h
  src/v/serde/rw/vector.h
Labels: area/redpanda

ct/l0/stm: add more logging for debugging
  src/v/cloud_topics/frontend/frontend.cc
  src/v/cloud_topics/level_zero/stm/BUILD
  src/v/cloud_topics/level_zero/stm/ctp_stm.cc
  src/v/cloud_topics/level_zero/stm/ctp_stm.h
  src/v/cloud_topics/level_zero/stm/ctp_stm_api.cc
  src/v/cloud_topics/level_zero/stm/ctp_stm_state.cc
  src/v/cloud_topics/level_zero/stm/ctp_stm_state.h
  src/v/cloud_topics/level_zero/stm/tests/ctp_stm_state_test.cc
  src/v/cloud_topics/level_zero/stm/tests/ctp_stm_test.cc
  src/v/cloud_topics/level_zero/stm/types.h
Labels: area/redpanda

ct: add really noisy logging for every epoch produced to a CTP
  src/v/cloud_topics/frontend/frontend.cc
Labels: area/redpanda

security/oidc: wrap jwt in lw_shared_ptr
  src/v/security/oidc_authenticator.cc
  src/v/security/oidc_authenticator.h
  src/v/security/tests/jwt_test.cc
  src/v/security/tests/oidc_authenticator_bench.cc
Labels: area/redpanda

security: add group_range for lazy group evaluation
  src/v/security/BUILD
  src/v/security/group_range.cc
  src/v/security/group_range.h
Labels: area/redpanda

security: use group_range for lazy group evaluation
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/connection_context.h
  src/v/redpanda/admin/services/security.cc
  src/v/security/authorizer.cc
  src/v/security/authorizer.h
  src/v/security/oidc_authenticator.cc
  src/v/security/oidc_authenticator.h
  src/v/security/oidc_principal_mapping_applicator.cc
  src/v/security/oidc_principal_mapping_applicator.h
  src/v/security/request_auth.h
  src/v/security/sasl_authentication.h
  src/v/security/tests/BUILD
  src/v/security/tests/authorizer_test.cc
  src/v/security/tests/jwt_test.cc
Labels: area/redpanda

sr/schema_registry: add protovalidate as well-known type
  MODULE.bazel
  MODULE.bazel.lock
  src/v/pandaproxy/schema_registry/BUILD
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda

bazel: update seastar to 4073a7c0e56b
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

storage: add split_writes and writes_completed appender metrics
  src/v/storage/log_manager_probe.cc
  src/v/storage/segment_appender.cc
  src/v/storage/segment_appender.h
Labels: area/redpanda

sr/schema_registry: add protovalidate as well-known type
  MODULE.bazel
  MODULE.bazel.lock
  src/v/pandaproxy/BUILD
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda

tests: updated kafka tools
  tests/docker/ducktape-deps/kafka-tools
  tests/rptest/clients/kafka_cli_tools.py
Labels: none

tests: updated librdkafka
  tests/setup.py
Labels: none

`config`: add `log_compaction_max_priority_wait_ms`
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

`storage`: handle priority in `housekeeping_scan()`
  src/v/storage/log_manager.cc
  src/v/storage/log_manager.h
Labels: area/redpanda

`storage`: abstract out `do_housekeeping()`
  src/v/storage/BUILD
  src/v/storage/log_manager.cc
  src/v/storage/log_manager.h
Labels: area/redpanda

deps: update libxml2 from 2.14.5 to 2.14.6
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

deps: update libxml2 from 2.14.5 to 2.14.6
  bazel/repositories.bzl
Labels: none

fix: update bazel lock
  MODULE.bazel.lock
Labels: none

tests/dt: deflake WriteCachingFailureInjectionE2ETest.test_crash_all
  tests/rptest/tests/write_caching_fi_e2e_test.py
Labels: none

Add update-seastar-sha skill command
  .claude/commands/update-seastar-sha.md
Labels: none

Add bazel mod tidy step, simplify changelog command
  .claude/commands/update-seastar-sha.md
Labels: none

ct: Add footer to the L0 object
  src/v/cloud_topics/level_zero/common/BUILD
  src/v/cloud_topics/level_zero/common/object.cc
  src/v/cloud_topics/level_zero/common/object.h
  src/v/cloud_topics/level_zero/common/tests/object_test.cc
Labels: area/redpanda

ct: Log tidp in the frontend_reader
  src/v/cloud_topics/level_zero/frontend_reader/level_zero_reader.cc
Labels: area/redpanda

ct: Remove dependency on cloud storage cache
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/app.cc
  src/v/cloud_topics/data_plane_api.h
  src/v/cloud_topics/data_plane_impl.cc
  src/v/cloud_topics/data_plane_impl.h
  src/v/cloud_topics/frontend/tests/frontend_test.cc
  src/v/cloud_topics/tests/BUILD
  src/v/cloud_topics/tests/end_to_end_test.cc
Labels: area/redpanda

ct: Update batch_cache
  src/v/cloud_topics/batch_cache/batch_cache.cc
  src/v/cloud_topics/batch_cache/batch_cache.h
  src/v/cloud_topics/batch_cache/probe.cc
  src/v/cloud_topics/batch_cache/probe.h
Labels: area/redpanda

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']
