Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

clang_tidy: Introduce redpanda_optional_checks
  bazel/clang_tidy/plugins/BUILD
  bazel/clang_tidy/plugins/redpanda_optional_check.cc
  bazel/clang_tidy/plugins/redpanda_optional_check.h
  bazel/clang_tidy/plugins/redpanda_tidy_module.cc
Labels: none

WIP: start wiring fix files into bazel aspect & wrapper
  bazel/clang_tidy/clang_tidy.bzl
  bazel/clang_tidy/clang_tidy.py
Labels: none

tools: proxy script for clang-apply-replacements
  tools/clang-apply-replacements
Labels: none

DNM: Disable optional checks temporarily pending #28663
  .clang-tidy
Labels: none

wip
  tests/rptest/transactions/tx_atomic_produce_consume_test.py
Labels: none

partition_balancer: report quorum loss moves as...
  src/v/cluster/partition_balancer_planner.cc
Labels: area/redpanda

partition_balancer: report quorum loss moves as...
  src/v/cluster/partition_balancer_planner.cc
Labels: area/redpanda

partition_balancer: report quorum loss moves as...
  src/v/cluster/partition_balancer_planner.cc
Labels: area/redpanda

Update trino
  tests/docker/ducktape-deps/trino
Labels: none

CORE-14561: bump REST catalog start timeout
  tests/rptest/services/apache_iceberg_catalog.py
Labels: none

CORE-14561: bump REST catalog start timeout
  tests/rptest/services/apache_iceberg_catalog.py
Labels: none

offset_for_leader_epoch_test.py: disallow epoch=-1
  tests/rptest/tests/offset_for_leader_epoch_test.py
Labels: none

offset_for_leader_epoch_test.py: disallow epoch=-1
  tests/rptest/tests/offset_for_leader_epoch_test.py
Labels: none

offset_for_leader_epoch_test.py: disallow epoch=-1
  tests/rptest/tests/offset_for_leader_epoch_test.py
Labels: none

dev cluste arm
  MODULE.bazel
  bazel/thirdparty/BUILD
  bazel/thirdparty/grafana.BUILD
  bazel/thirdparty/prometheus.BUILD
  tools/BUILD
Labels: none

security/audit: Fix stuck misconfigured state
  src/v/security/audit/audit_log_manager.cc
Labels: area/redpanda

dt: add logging error in audit log allow list
  tests/rptest/services/redpanda.py
Labels: none

dt: add logging error in audit log allow list
  tests/rptest/services/redpanda.py
Labels: none

security/audit: Fix stuck misconfigured state
  src/v/security/audit/audit_log_manager.cc
Labels: area/redpanda

ruff check wip
  .github/workflows/lint-python.yml
  .github/workflows/pre-commit-ruff-check.yml
  .pre-commit-config.yaml
  .ruff.toml
Labels: area/build

no op
  src/v/storage/segment_reader.cc
Labels: area/redpanda

rptest: add schemaregistry as extra for for kafka
  tests/setup.py
Labels: none

bazel: update openssl version to 3.5.4
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

dl/coordinator: reset state
  src/v/datalake/coordinator/coordinator.cc
  src/v/datalake/coordinator/coordinator.h
  src/v/datalake/coordinator/frontend.cc
  src/v/datalake/coordinator/frontend.h
  src/v/datalake/coordinator/rpc.json
  src/v/datalake/coordinator/service.cc
  src/v/datalake/coordinator/service.h
  src/v/datalake/coordinator/state_machine.cc
  src/v/datalake/coordinator/state_update.cc
  src/v/datalake/coordinator/state_update.h
  src/v/datalake/coordinator/types.h
Labels: area/redpanda

reset pb
  proto/redpanda/core/admin/internal/datalake/v1/datalake.proto
Labels: none

reset admin
  src/v/redpanda/admin/services/datalake/datalake.cc
  src/v/redpanda/admin/services/datalake/datalake.h
Labels: area/redpanda

dt/rp: Filter debug-bundle from storage usage post-check
  tests/rptest/services/redpanda.py
Labels: none

dt/rp: Filter compaction.compaction_index files in storage usage post check
  tests/rptest/services/redpanda.py
Labels: none

cluster: fix topic label aggregation on restart
  src/v/cluster/topic_metrics_watcher.cc
  tests/rptest/tests/topic_label_aggregation_test.py
Labels: area/redpanda

asdf
  tools/docker/bazel.dockerfile
Labels: none

config: add auto decommission configuration
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

partition_balancer_*: implement auto decommission
  src/v/cluster/controller.cc
  src/v/cluster/partition_balancer_backend.cc
  src/v/cluster/partition_balancer_backend.h
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/partition_balancer_planner.h
Labels: area/redpanda

auto_decommission_test: add an auto decom smoke...
  tests/rptest/tests/auto_decommission_test.py
Labels: none

dt/rp: Filter .cannotrecover files from storage usage post-check
  tests/rptest/services/redpanda.py
Labels: none

c/tests/decommissioning: increase timeout to moderate
  src/v/cluster/tests/BUILD
Labels: area/redpanda

Fix tls_version test
  tests/rptest/tests/tls_version_test.py
Labels: none

Add crypto mem lsan_suppression
  lsan_suppressions.txt
Labels: none

storage: fix abandoned exceptional future in test
  src/v/storage/tests/storage_e2e_fixture_test.cc
Labels: area/redpanda

test: increase produce timeout
  src/v/kafka/server/tests/produce_consume_utils.cc
Labels: area/redpanda

bazel: update openssl-fips version to 3.1.2
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']
