Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

security: include username in SCRAM authentication failure logs
  src/v/security/scram_authenticator.cc
Labels: area/redpanda

rpk: add maintenance node status to cluster health
  src/go/rpk/pkg/cli/cluster/health.go
Labels: area/rpk

group/tx: add test for dangling transactions after snapshot + compaction
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/group_tx_compaction_test.cc
Labels: area/redpanda

group/tx/stm: limit local snapshot to max_removable_local_log_offset
  src/v/kafka/server/group_tx_tracker_stm.cc
  src/v/kafka/server/group_tx_tracker_stm.h
Labels: area/redpanda

config/tx: have reasonable defaults for idempotency/tx configurations.
  src/v/config/configuration.cc
Labels: area/redpanda

c/tx_gateway_frontend: hold tm_stm gate in with() and with_free()
  src/v/cluster/tx_gateway_frontend.cc
Labels: area/redpanda

dt: Fix matrix for read replica e2e test
  tests/rptest/tests/read_replica_e2e_test.py
Labels: none

ct/reconciler: parallelize LRO updates
  src/v/cloud_topics/reconciler/reconciler.cc
Labels: area/redpanda

config/tests: Convert config_store_test to gtest
  src/v/config/tests/BUILD
  src/v/config/tests/config_store_test.cc
Labels: area/redpanda

admin: Surface pending restart properties in config_status
  src/v/redpanda/admin/api-doc/cluster_config.json
  src/v/redpanda/admin/server.cc
Labels: area/redpanda

config/prop: Introduce pending value mechanism
  src/v/config/base_property.h
  src/v/config/bounded_property.h
  src/v/config/config_store.h
  src/v/config/property.h
  src/v/config/tests/config_store_test.cc
  src/v/config/tests/enterprise_property_test.cc
Labels: area/redpanda

config/store: Introduce use_pending for JSON serialization
  src/v/config/base_property.h
  src/v/config/config_store.h
  src/v/config/property.h
  src/v/config/tests/config_store_test.cc
Labels: area/redpanda

c/config_mgr: Wire up pending values for needs_restart props
  src/v/cluster/config_manager.cc
  src/v/cluster/config_manager.h
  src/v/cluster/controller.cc
  src/v/config/config_store.h
Labels: area/redpanda

dt/datalake: Use expect_restart for iceberg toggle
  tests/rptest/tests/datalake/blocked_catalog_test.py
Labels: none

admin: Introduce include_pending query param for get_cluster_config
  src/v/redpanda/admin/api-doc/cluster_config.json
  src/v/redpanda/admin/server.cc
  tests/rptest/services/admin.py
  tests/rptest/tests/cluster_config_test.py
Labels: area/redpanda

bazel: format with clang-22
  tools/BUILD
  tools/clang-tool.sh
Labels: none

git: Ignore clang-format-22 commit
  .git-blame-ignore-revs
Labels: none

rpk: update console version to v3.7.1
  src/go/rpk/pkg/cli/container/containerutil/common.go
Labels: area/rpk

csc/util: Fix boundary parsing with trailing Content-Type params
  src/v/cloud_storage_clients/tests/util_test.cc
  src/v/cloud_storage_clients/util.cc
Labels: area/redpanda

bazel: Update seastar pointer
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

kafka/tests: add test demonstrating ListOffsets leader epoch bug
  tests/rptest/tests/list_offsets_epoch_test.py
  tools/type-checking/type-check-strictness.json
Labels: none

kafka/tests: add end-to-end seek and re-consume regression test
  tests/rptest/tests/list_offsets_epoch_test.py
Labels: none

kafka/list_offsets: return correct leader epoch for all return paths
  src/v/kafka/data/cloud_topic_partition.cc
  src/v/kafka/data/cloud_topic_partition.h
  src/v/kafka/data/cloud_topic_read_replica.cc
  src/v/kafka/data/cloud_topic_read_replica.h
  src/v/kafka/data/partition_proxy.h
  src/v/kafka/data/replicated_partition.cc
  src/v/kafka/data/replicated_partition.h
  src/v/kafka/data/rpc/test/deps.h
  src/v/kafka/server/handlers/list_offsets.cc
  tests/rptest/tests/list_offsets_epoch_test.py
Labels: area/redpanda

kafka/tests: prove offset commits are unaffected by epoch ordering
  tests/rptest/tests/list_offsets_epoch_test.py
Labels: none

test: dummy change to test /install-pack slash command
  tests/rptest/README.md
Labels: none

go: bump Go projects to 1.26.2
  MODULE.bazel
  bazel/thirdparty/go.work
  src/go/rpk/go.mod
  src/v/test_utils/go/go.mod
Labels: area/rpk, area/redpanda

rpk: add disk space info to broker list
  buf.gen.yaml
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/redpanda/admin/brokers/list.go
Labels: area/rpk

rptest: add timequery test for cloud topics
  tests/rptest/tests/timequery_test.py
Labels: none

csc/util: Fix multipart delimiter matching and raise delete log level
  src/v/cloud_storage_clients/tests/util_test.cc
  src/v/cloud_storage_clients/util.cc
Labels: area/redpanda

wip
  bazel/thirdparty/requirements.in
  bazel/thirdparty/requirements.txt
  tools/BUILD
  tools/dev_cluster.py
Labels: none

`kafka`: always handle exceptions in `fetch_ntps()`
  src/v/kafka/server/handlers/fetch.cc
Labels: area/redpanda

`kafka`: add `fetch_multi_partition_with_mixed_failures`
  src/v/cluster/log_eviction_stm.h
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/fetch_test.cc
Labels: area/redpanda

`cluster`: catch exceptions in `sync_kafka_start_offset_override()`
  src/v/cluster/partition.cc
Labels: area/redpanda

`kafka`: always handle exceptions in `fetch_ntps()`
  src/v/kafka/server/handlers/fetch.cc
Labels: area/redpanda

`kafka`: add `fetch_multi_partition_with_mixed_failures`
  src/v/cluster/log_eviction_stm.h
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/fetch_test.cc
Labels: area/redpanda

`cluster`: catch exceptions in `sync_kafka_start_offset_override()`
  src/v/cluster/partition.cc
Labels: area/redpanda

cloud_storage: Add metric for batch delete partial failures
  src/v/cloud_io/remote.cc
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote_probe.cc
  src/v/cloud_storage/remote_probe.h
Labels: area/redpanda

`ct/l1`: support seeking by indexed timestamp in L1 objects
  src/v/cloud_topics/frontend/frontend.cc
  src/v/cloud_topics/level_one/common/object.cc
  src/v/cloud_topics/level_one/common/object.h
  src/v/cloud_topics/level_one/compaction/source.cc
  src/v/cloud_topics/level_one/frontend_reader/level_one_reader.cc
  src/v/cloud_topics/log_reader_config.h
Labels: area/redpanda

`ct/l1`: fix crash on timestamp search of empty index
  src/v/cloud_topics/level_one/common/object.cc
  src/v/cloud_topics/level_one/common/tests/object_test.cc
Labels: area/redpanda

csc/abs: Omit x-ms-version from batch delete sub-requests
  src/v/cloud_roles/apply_abs_oauth_credentials.cc
  src/v/cloud_roles/tests/credential_tests.cc
  src/v/cloud_storage_clients/tests/abs_client_test.cc
Labels: area/redpanda
