Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

cl: Remove unnecessary copy
  src/v/cluster_link/manager.cc
Labels: area/redpanda

cl: Remove unnecessary copy
  src/v/cluster_link/manager.cc
Labels: area/redpanda

cluster/cl: Batch failover link commands
  src/v/cluster/cluster_link/frontend.cc
  src/v/cluster/cluster_link/table.cc
  src/v/cluster/cluster_link/table.h
  src/v/cluster/cluster_link/tests/table_test.cc
  src/v/cluster_link/model/types.h
Labels: area/redpanda

tests: Increase bazel timeout in iobuf_mt_test
  src/v/bytes/tests/BUILD
Labels: area/redpanda

bazel: use c-ares from the BCR
  MODULE.bazel
  MODULE.bazel.lock
  bazel/repositories.bzl
  bazel/thirdparty/c-ares.BUILD
  bazel/thirdparty/seastar.BUILD
  src/v/kafka/client/BUILD
  src/v/kafka/client/broker.cc
  src/v/thirdparty/c-ares/BUILD
  src/v/thirdparty/c-ares/ares.h
Labels: area/redpanda

test: print node name in log line
  tests/rptest/tests/cluster_features_test.py
Labels: none

bazel: use libxml2 from the BCR
  MODULE.bazel
  MODULE.bazel.lock
  bazel/repositories.bzl
  bazel/thirdparty/libxml2.BUILD
  src/v/cloud_storage_clients/BUILD
  src/v/cloud_storage_clients/xml_sax_parser.h
  src/v/test_utils/BUILD
  src/v/test_utils/boost_result_redirect.cc
  src/v/thirdparty/libxml2/BUILD
  src/v/thirdparty/libxml2/parser.h
  src/v/thirdparty/libxml2/xmlwriter.h
Labels: area/redpanda

`misc`: skip death tests
  src/v/compression/tests/lz4_buf_tests.cc
  src/v/storage/mvlog/tests/file_test.cc
  src/v/test_utils/tests/test_utils_test.cc
Labels: area/redpanda

cloud_storage_clients: record self-config failure in crash tracker
  src/v/cloud_storage_clients/BUILD
  src/v/cloud_storage_clients/client_pool.cc
  tests/rptest/tests/crash_loop_checks_test.py
Labels: area/redpanda

tests: Avoid possible out of bound in MTT
  tests/rptest/scale_tests/many_topics_test.py
Labels: none

cloud_storage_clients: rework client tracking in the client pool
  src/v/cloud_storage_clients/client_pool.cc
  src/v/cloud_storage_clients/client_pool.h
Labels: area/redpanda

cloud_storage_clients: lazy client pool initialization
  src/v/cloud_storage_clients/client_pool.cc
  src/v/cloud_storage_clients/client_pool.h
Labels: area/redpanda

cloud_storage_clients: more descriptive counting methods
  src/v/cloud_io/remote.cc
  src/v/cloud_storage_clients/client_pool.cc
  src/v/cloud_storage_clients/client_pool.h
  src/v/cloud_storage_clients/tests/s3_client_test.cc
Labels: area/redpanda

cloud_storage_clients: rename http_client_ptr to client_ptr
  src/v/cloud_storage_clients/client_pool.cc
  src/v/cloud_storage_clients/client_pool.h
Labels: area/redpanda

cloud_storage_clients: rename _pool to _idle_list
  src/v/cloud_storage_clients/client_pool.cc
  src/v/cloud_storage_clients/client_pool.h
Labels: area/redpanda

cloud_storage_clients: introduce upstream registry
  src/v/cloud_io/tests/scoped_remote.cc
  src/v/cloud_io/tests/scoped_remote.h
  src/v/cloud_storage/tests/cloud_storage_fixture.h
  src/v/cloud_storage/tests/remote_test.cc
  src/v/cloud_storage/tests/topic_mount_handler_test.cc
  src/v/cloud_storage_clients/BUILD
  src/v/cloud_storage_clients/abs_client.cc
  src/v/cloud_storage_clients/abs_client.h
  src/v/cloud_storage_clients/bucket_params.cc
  src/v/cloud_storage_clients/bucket_params.h
  src/v/cloud_storage_clients/client.h
  src/v/cloud_storage_clients/client_pool.cc
  src/v/cloud_storage_clients/client_pool.h
  src/v/cloud_storage_clients/credential_manager.cc
  src/v/cloud_storage_clients/credential_manager.h
  src/v/cloud_storage_clients/s3_client.cc
  src/v/cloud_storage_clients/s3_client.h
  src/v/cloud_storage_clients/tests/client_pool_builder.h
  src/v/cloud_storage_clients/tests/client_pool_mt_test.cc
  src/v/cloud_storage_clients/tests/client_pool_test.cc
  src/v/cloud_storage_clients/tests/s3_client_test.cc
  src/v/cloud_storage_clients/upstream.cc
  src/v/cloud_storage_clients/upstream.h
  src/v/cloud_storage_clients/upstream_registry.cc
  src/v/cloud_storage_clients/upstream_registry.h
  src/v/cluster/archival/tests/archival_metadata_stm_gtest.cc
  src/v/cluster/archival/tests/archival_metadata_stm_test.cc
  src/v/cluster/archival/tests/service_fixture.cc
  src/v/cluster/archival/tests/service_fixture.h
  src/v/http/client.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
Labels: area/redpanda

cloud_storage_clients: distinguish bucket_name (DSN) from plain_bucket_name
  src/v/cloud_io/remote.cc
  src/v/cloud_io/tests/s3_imposter.h
  src/v/cloud_storage_clients/BUILD
  src/v/cloud_storage_clients/abs_client.cc
  src/v/cloud_storage_clients/abs_client.h
  src/v/cloud_storage_clients/bucket_params.cc
  src/v/cloud_storage_clients/bucket_params.h
  src/v/cloud_storage_clients/client.h
  src/v/cloud_storage_clients/s3_client.cc
  src/v/cloud_storage_clients/s3_client.h
  src/v/cloud_storage_clients/tests/client_pool_test.cc
  src/v/cloud_storage_clients/tests/s3_client_test.cc
  src/v/model/fundamental.h
Labels: area/redpanda

dt/crash_loop: Add credentials timeout to cloud client misconfig test log allowlist
  tests/rptest/tests/crash_loop_checks_test.py
Labels: none

r/persisted_stm: do not load local snapshot if it is from 'future'
  src/v/raft/persisted_stm.cc
Labels: area/redpanda

archival_stm_test: fixed the test not to create a future local snapshot
  src/v/cluster/archival/tests/archival_metadata_stm_test.cc
Labels: area/redpanda

r/persisted_stm: do not load local snapshot if it is from 'future'
  src/v/raft/persisted_stm.cc
Labels: area/redpanda

archival_stm_test: fixed the test not to create a future local snapshot
  src/v/cluster/archival/tests/archival_metadata_stm_test.cc
Labels: area/redpanda

test: update allow log list
  tests/rptest/tests/topic_creation_test.py
Labels: none

tests: use statistical model for pass criteria
  tests/ducktape-common-retry.yml
  tests/ducktape-merge-retry.yml
  tests/ducktape-pr-retry.yml
Labels: none

tests: use statistical model for pass criteria
  tests/ducktape-common-retry.yml
  tests/ducktape-merge-retry.yml
  tests/ducktape-pr-retry.yml
Labels: none

cluster: Add table_utils
  src/v/cluster/BUILD
  src/v/cluster/cluster_link/table_utils.cc
  src/v/cluster/cluster_link/table_utils.h
  src/v/cluster_link/model/types.h
Labels: area/redpanda

sl: Update logs for debug
  src/v/cluster_link/link_status_reconciler.cc
  src/v/cluster_link/replication/mux_remote_consumer.cc
Labels: area/redpanda

shadow_link: Have cluster link table hold shared_ptr
  src/v/cluster/BUILD
  src/v/cluster/cluster_link/frontend.cc
  src/v/cluster/cluster_link/frontend.h
  src/v/cluster/cluster_link/table.cc
  src/v/cluster/cluster_link/table.h
  src/v/cluster/cluster_link/tests/BUILD
  src/v/cluster/cluster_link/tests/frontend_validation_test.cc
  src/v/cluster/cluster_link/tests/table_test.cc
  src/v/cluster/cluster_link/tests/utils.cc
  src/v/cluster/cluster_link/tests/utils.h
  src/v/cluster_link/deps.h
  src/v/cluster_link/group_mirroring_task.cc
  src/v/cluster_link/link.cc
  src/v/cluster_link/link.h
  src/v/cluster_link/link_probe.cc
  src/v/cluster_link/link_status_reconciler.cc
  src/v/cluster_link/manager.cc
  src/v/cluster_link/manager.h
  src/v/cluster_link/model/types.cc
  src/v/cluster_link/model/types.h
  src/v/cluster_link/security_migrator.cc
  src/v/cluster_link/service.cc
  src/v/cluster_link/service.h
  src/v/cluster_link/source_topic_syncer.cc
  src/v/cluster_link/tests/deps.cc
  src/v/cluster_link/tests/deps.h
  src/v/cluster_link/tests/link_test.cc
  src/v/cluster_link/tests/source_topic_syncer_test.cc
  src/v/cluster_link/tests/topic_properties_syncer_test.cc
  src/v/cluster_link/tests/topic_reconciler_test.cc
  src/v/cluster_link/topic_reconciler.cc
  src/v/redpanda/admin/services/shadow_link/converter.cc
  src/v/redpanda/admin/services/shadow_link/converter.h
  src/v/redpanda/admin/services/shadow_link/shadow_link.cc
  src/v/redpanda/admin/services/shadow_link/tests/converter_test.cc
Labels: area/redpanda

`ssx`: assert `ss::engine_is_ready()` in `sharded_thread_worker::start()`
  src/v/ssx/thread_worker.h
Labels: area/redpanda

option 1: Bubble Tea.
  MODULE.bazel
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/shadow/create.go
  src/go/rpk/pkg/cli/shadow/delete.go
  src/go/rpk/pkg/cli/shadow/shadow.go
  src/go/rpk/pkg/cli/shadow/update.go
  src/go/rpk/pkg/out/BUILD
  src/go/rpk/pkg/out/spinner.go
  src/go/rpk/pkg/out/spinner_test.go
Labels: area/rpk

option 2: briandowns/spinner pkg
  MODULE.bazel
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/shadow/create.go
  src/go/rpk/pkg/cli/shadow/delete.go
  src/go/rpk/pkg/cli/shadow/update.go
  src/go/rpk/pkg/out/BUILD
  src/go/rpk/pkg/out/spinner.go
Labels: area/rpk

wi
  src/v/cloud_storage_clients/abs_client.cc
  src/v/cloud_storage_clients/client_pool.cc
  src/v/cloud_storage_clients/configuration.cc
  src/v/cloud_storage_clients/s3_client.cc
  src/v/cloud_storage_clients/upstream.cc
  src/v/cloud_storage_clients/upstream_registry.cc
  src/v/http/client.cc
  src/v/http/client.h
Labels: area/redpanda

http: log response headers
  src/v/http/client.cc
  src/v/http/client.h
Labels: area/redpanda

http: use one source of truth for header done
  src/v/http/client.cc
  src/v/http/client.h
Labels: area/redpanda

`rptest`: sort after appending `HEAD` in `upgrade_path_to_head()`
  tests/rptest/services/redpanda_installer.py
Labels: none

dt: allowlist ASan stacktraces in signal crash tests
  tests/rptest/tests/crash_loop_checks_test.py
Labels: none

dt: allowlist ASan stacktraces in signal crash tests
  tests/rptest/tests/crash_loop_checks_test.py
Labels: none

bazel: Switch omb download to vectorized-public
  MODULE.bazel
Labels: none

pgo: Skip warmup in OMB training
  tools/pgo_bolt/omb_config/workload.yaml
Labels: none

pgo: Fix workload/driver names
  tools/pgo_bolt/omb_config/driver.yaml
  tools/pgo_bolt/omb_config/workload.yaml
Labels: none
