Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

tests/node_ops: tolerate ongoing chaos testing in decommission progress check
  tests/rptest/tests/shadow_linking_rnot_test.py
  tests/rptest/utils/node_operations.py
Labels: none

tests/node_ops: tolerate ongoing chaos testing in decommission progress check
  tests/rptest/tests/shadow_linking_rnot_test.py
  tests/rptest/utils/node_operations.py
Labels: none

tests/node_ops: tolerate ongoing chaos testing in decommission progress check
  tests/rptest/tests/shadow_linking_rnot_test.py
  tests/rptest/utils/node_operations.py
Labels: none

bazel: Apply Wno-backend-plugin to abseil crc_x86_arm_combined.cc
  .bazelrc
Labels: none

security/audit: make the kafka-client sink leader-independent
  src/v/security/audit/client.cc
Labels: area/redpanda

tests/audit_log: pin leaderless-controller behavior for both sinks
  tests/rptest/tests/audit_log_test.py
Labels: none

k/s/tests: deflake the offset_store producer lock test
  src/v/kafka/server/tests/offset_store_test.cc
Labels: area/redpanda

storage: bump segment_concatenation_test timeout
  src/v/storage/tests/BUILD
Labels: area/redpanda

kafka/client/test: deflake data_queue blocking push test
  src/v/kafka/client/direct_consumer/tests/data_queue_test.cc
Labels: area/redpanda

Clarify that BadLogLines regexes are unanchored
  tests/rptest/services/redpanda.py
Labels: none

Disable BadLogLines for memory diagnostics
  tests/rptest/services/redpanda.py
Labels: none

rptest: add self-test for OOM crash reporting
  tests/rptest/services/admin.py
  tests/rptest/tests/services_self_test.py
Labels: none

admin: add oom crash type to /trigger_crash
  src/v/redpanda/admin/api-doc/debug.json
  src/v/redpanda/admin/debug.cc
Labels: area/redpanda

storage: bump segment_concatenation_test timeout
  src/v/storage/tests/BUILD
Labels: area/redpanda

storage: bump segment_concatenation_test timeout
  src/v/storage/tests/BUILD
Labels: area/redpanda

storage: bump segment_concatenation_test timeout
  src/v/storage/tests/BUILD
Labels: area/redpanda

kafka/client/test: deflake data_queue blocking push test
  src/v/kafka/client/direct_consumer/tests/data_queue_test.cc
Labels: area/redpanda

rpk: add stretch cluster grafana dashboard behind --cluster-type flag
  src/go/rpk/pkg/cli/generate/BUILD
  src/go/rpk/pkg/cli/generate/grafana-dashboards/Redpanda-Stretch-Cluster-Dashboard.json.gz
  src/go/rpk/pkg/cli/generate/grafana.go
  src/go/rpk/pkg/cli/generate/grafana_test.go
Labels: area/rpk

rpk: compose --cluster-type with --dashboard instead of conflicting
  src/go/rpk/pkg/cli/generate/grafana.go
  src/go/rpk/pkg/cli/generate/grafana_test.go
Labels: area/rpk

rpk/registry: document print flag exclusivity in help text
  src/go/rpk/pkg/cli/registry/schema/get.go
Labels: area/rpk

sr: log the real cause behind /schemas/ids 403s
  src/v/pandaproxy/schema_registry/authorization.cc
Labels: area/redpanda

storage: kill broker process if log_reader detects a corrupt segment
  src/v/config/node_config.cc
  src/v/config/node_config.h
  src/v/storage/exceptions.h
  src/v/storage/log_reader.cc
  src/v/storage/log_reader.h
  src/v/storage/segment_utils.cc
  src/v/storage/types.h
Labels: area/redpanda

storage: test detection of corrupt segments on read
  src/v/storage/tests/BUILD
  src/v/storage/tests/log_reader_gap_test.cc
Labels: area/redpanda

cl/test: retry shadow link create on unavailable
  tests/rptest/tests/cluster_linking_e2e_test.py
  tests/rptest/tests/cluster_linking_test_base.py
Labels: none

kafka: rate limit follower fetch offset validation logs
  src/v/kafka/data/BUILD
  src/v/kafka/data/replicated_partition.cc
Labels: area/redpanda

raft: track per-follower nudge deadline
  src/v/raft/follower_states.cc
  src/v/raft/follower_states.h
Labels: area/redpanda

rptest: cover follower fetch catch-up wait and nudge
  tests/rptest/tests/follower_fetching_test.py
Labels: none

cluster: count follower fetch catch-up waits
  src/v/cluster/partition_probe.cc
  src/v/cluster/partition_probe.h
  src/v/kafka/server/handlers/fetch.cc
Labels: area/redpanda

kafka: wait for follower catch-up before returning offset_not_available
  src/v/kafka/server/handlers/fetch.cc
Labels: area/redpanda

config: add kafka_fetch_follower_catchup_wait_ms
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

raft: add consensus::nudge_follower
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/probe.cc
  src/v/raft/probe.h
  src/v/raft/tests/basic_raft_fixture_test.cc
Labels: area/redpanda

kafka: nudge preferred replica on fetch referral
  src/v/kafka/server/handlers/fetch.cc
Labels: area/redpanda

config: add raft_follower_nudge_debounce_ms
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

kafka: rate limit follower fetch offset validation logs
  src/v/kafka/data/BUILD
  src/v/kafka/data/replicated_partition.cc
Labels: area/redpanda

config: add kafka_fetch_follower_catchup_wait_ms
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

kafka: wait for follower catch-up before returning offset_not_available
  src/v/kafka/server/handlers/fetch.cc
Labels: area/redpanda

cluster: add metrics for follower fetch catch-up waits
  src/v/cluster/partition_probe.cc
  src/v/cluster/partition_probe.h
  src/v/kafka/server/handlers/fetch.cc
Labels: area/redpanda

kafka: nudge preferred replica on fetch referral
  src/v/kafka/server/handlers/fetch.cc
Labels: area/redpanda

raft: add consensus::nudge_follower
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/follower_states.cc
  src/v/raft/follower_states.h
  src/v/raft/probe.cc
  src/v/raft/probe.h
  src/v/raft/tests/basic_raft_fixture_test.cc
Labels: area/redpanda

config: add raft_follower_nudge_debounce_ms
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda
