Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

Revert "x/sdk/js: Add object exports to module_builder"
  src/transform-sdk/js/js_vm.cc
  src/transform-sdk/js/js_vm.h
Labels: area/wasm

Revert "x/sdk/js: Introduce object_builder"
  src/transform-sdk/js/js_vm.cc
  src/transform-sdk/js/js_vm.h
Labels: area/wasm

iceberg: fix decimal type json writer
  src/v/iceberg/datatypes_json.cc
Labels: area/redpanda

`rptest`: deflake `si_utils` assertion functions
  tests/rptest/utils/si_utils.py
Labels: none

`rptest`: remove unused variable and extra assert statement
  tests/rptest/utils/si_utils.py
Labels: none

datalake/verifier: add ability to override max offset to check
  tests/rptest/tests/datalake/datalake_verifier.py
Labels: none

datalake/tests: test with transactions
  tests/rptest/tests/datalake/transactions_test.py
  tests/rptest/transactions/verifiers/compacted_verifier.py
Labels: none

dt: cloud_storage_props_warn_test
  tests/rptest/tests/cloud_storage_props_warn_test.py
Labels: none

c/tt: Print a warning when topic SI mode is not FULL
  src/v/cluster/topic_table.cc
Labels: area/redpanda

tests: added iceberg verifiers to random_node_operations_test
  tests/rptest/tests/random_node_operations_test.py
Labels: none

tests: always enable tiered storage in random_node_operations_test
  tests/rptest/tests/random_node_operations_test.py
Labels: none

redpanda: remove datalake bazel build defines
  src/v/datalake/BUILD
  src/v/redpanda/BUILD
  src/v/redpanda/application.cc
Labels: area/redpanda

chore: removed arrow library dependency
  install-dependencies.sh
  licenses/third_party.md
  src/v/datalake/CMakeLists.txt
  src/v/datalake/arrow_translator.cc
  src/v/datalake/arrow_translator.h
  src/v/datalake/arrow_writer.cc
  src/v/datalake/arrow_writer.h
  src/v/datalake/batching_parquet_writer.cc
  src/v/datalake/batching_parquet_writer.h
  src/v/datalake/errors.h
  src/v/datalake/tests/CMakeLists.txt
  src/v/datalake/tests/arrow_writer_test.cc
  src/v/datalake/tests/batching_parquet_writer_test.cc
  src/v/datalake/tests/gtest_record_multiplexer_test.cc
  src/v/datalake/tests/parquet_writer_test.cc
  src/v/datalake/tests/translation_task_test.cc
  ubsan_suppressions.txt
Labels: area/redpanda

ducktape: applied formatting to bash scripts
  tests/docker/ducktape-deps/ocsf-server
Labels: none

c/migrations/frontend: check license on migration create
  src/v/cluster/data_migration_frontend.cc
  src/v/cluster/data_migration_frontend.h
Labels: area/redpanda

c/migrations/frontend: only remember the local instance of components
  src/v/cluster/data_migration_frontend.cc
  src/v/cluster/data_migration_frontend.h
Labels: area/redpanda

tests/migrations: check behaviour when there's no enterprise license
  tests/rptest/tests/data_migrations_api_test.py
Labels: none

partition_allocator: Move memory check out of check_limits
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/cluster/scheduling/partition_allocator.h
Labels: area/redpanda

partition_allocator: Don't use binding for topic_memory_per_partition
  src/v/cluster/controller.cc
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/cluster/scheduling/partition_allocator.h
Labels: area/redpanda

memory_groups: Introduce reserve for partitions
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/resource_mgmt/memory_groups.cc
  src/v/resource_mgmt/memory_groups.h
  src/v/resource_mgmt/tests/memory_groups_test.cc
Labels: area/redpanda

`storage`: check for `may_have_tombstones` in `self_compact_segment`
  src/v/storage/segment_utils.cc
Labels: area/redpanda

`rptest`: add `wait_for_latest_value_map()` to `kgo`
  tests/rptest/services/kgo_verifier_services.py
Labels: none

`storage`: add `_segment_cleanly_compacted` to `probe`
  src/v/storage/disk_log_impl.cc
  src/v/storage/probe.cc
  src/v/storage/probe.h
  src/v/storage/segment_utils.cc
  src/v/storage/segment_utils.h
Labels: area/redpanda

`tests`: bump `kgo-verifier` version and support new features
  tests/docker/ducktape-deps/kgo-verifier
  tests/rptest/services/kgo_verifier_services.py
Labels: none

`storage`: add `_num_rounds_window_compaction` to `probe`
  src/v/storage/disk_log_impl.cc
  src/v/storage/probe.cc
  src/v/storage/probe.h
Labels: area/redpanda

`storage`: add `_segments_marked_tombstone_free` to `probe`
  src/v/storage/probe.cc
  src/v/storage/probe.h
  src/v/storage/segment_deduplication_utils.cc
  src/v/storage/segment_utils.cc
Labels: area/redpanda

`rptest`: add `_wait_for_file_on_nodes()` to `KgoVerifierProducer`
  tests/rptest/services/kgo_verifier_services.py
Labels: none

`rptest`: use `delete.retention.ms` in `KafkaCliTools.create_topic()`
  tests/rptest/clients/kafka_cli_tools.py
Labels: none

`rptest`: add `log_compaction_test.py`
  tests/rptest/tests/log_compaction_test.py
Labels: none

bazel: Updated seastar ref
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

c/partition_recovery_manager: avoid oversized allocations when logging
  src/v/cluster/partition_recovery_manager.cc
Labels: area/redpanda

iobuf: update the allocator schedule
  src/v/bytes/details/io_allocation_size.h
  src/v/bytes/tests/iobuf_tests.cc
Labels: area/redpanda

update kafkatest version to match with 0.12
  tests/setup.py
Labels: none

tests/setup: update ducktape to 0.12
  tests/setup.py
Labels: none

datalake/tests: move counter stream utility to DatalakeServices
  tests/rptest/tests/datalake/datalake_services.py
  tests/rptest/tests/datalake/datalake_verifier_test.py
Labels: none

datalake/tests: utility to scrape stream metrics
  tests/rptest/services/redpanda_connect.py
  tests/rptest/tests/datalake/datalake_verifier_test.py
  tests/rptest/tests/datalake/simple_connect_test.py
  tests/rptest/tests/redpanda_connect_test.py
Labels: none

datalake/verifier/tests: reduce the frequency of a chatty log line
  tests/rptest/tests/datalake/datalake_verifier.py
Labels: none

datalake/tests: verification test with cross core movements
  tests/rptest/tests/datalake/partition_movement_test.py
Labels: none

debug
  tests/rptest/tests/datalake/partition_movement_test.py
Labels: none

datalake: fix translation metric when caught up
  src/v/datalake/translation/partition_translator.cc
Labels: area/redpanda
