Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

Add macOS platform support for Rust cross-compilation
  MODULE.bazel
Labels: none

Add final status report for macOS cross-compilation
  docs/MACOS_CROSS_COMPILATION_FINAL_STATUS.md
Labels: area/docs

Update MODULE.bazel.lock after platform changes
  MODULE.bazel.lock
Labels: none

WIP: Fix LLVM build script and add platform definitions
  .bazelrc
  MACOS_CROSS_COMPILATION_WORK.md
  MODULE.bazel.lock
  bazel/platforms/BUILD
  bazel/toolchain/build-macos-toolchain.sh
  bazel/toolchain/macos_cross_toolchain.bzl
  bazel/toolchain/setup-macos-toolchain.sh
Labels: none

Add toolchain research and structured approach
  TOOLCHAIN_RESEARCH.md
Labels: none

Prepare toolchain configuration template
  MACOS_CROSS_COMPILATION_WORK.md
  bazel/toolchain/MACOS_TOOLCHAIN_CONFIG.bzl
Labels: none

EXPERIMENT: Remove macOS from Rust supported_platform_triples
  MODULE.bazel
Labels: none

Add macOS toolchain configuration with local LLVM
  MACOS_CROSS_COMPILATION_WORK.md
  MODULE.bazel
  MODULE.bazel.lock
Labels: none

Document toolchain registration attempt - still targeting macOS
  MACOS_CROSS_COMPILATION_WORK.md
  MODULE.bazel.lock
Labels: none

WORKING: Fix platform targeting with explicit --platforms flag
  .bazelrc
Labels: none

Document the solution
  SOLUTION.md
Labels: none

Restore macOS to Rust platform triples
  MODULE.bazel
  MODULE.bazel.lock
Labels: none

Fix C++ stdlib config: use libc++ for compilation
  .bazelrc
  MODULE.bazel
  MODULE.bazel.lock
  bazel/platforms/BUILD
Labels: none

Add LLVM toolchain lib path for libc++ linking
  .bazelrc
  MODULE.bazel
  MODULE.bazel.lock
Labels: none

Fix exec tool builds: only apply -stdlib=libc++ to target builds
  .bazelrc
Labels: none

WIP: Investigating C++ stdlib linking for cross-compilation
  .bazelrc
Labels: none

Add Linux libc++ libraries for cross-compilation
  MODULE.bazel
Labels: none

SUCCESS: Fix C++ stdlib linking with Linux libc++ libraries
  .bazelrc
  MODULE.bazel.lock
Labels: none

Add Linux libc++ cross-compilation to build-macos-toolchain.sh
  bazel/toolchain/build-macos-toolchain.sh
Labels: none

Fix exec tool compilation: disable C++ modules for LLVM 20+
  .bazelrc
Labels: none

Fix base64 RPATH error for cross-compilation
  bazel/thirdparty/base64.BUILD
Labels: none

Fix exec tool linking: remove global -stdlib=libc++ linkopt
  .bazelrc
Labels: none

Fix stdlib: make libc++ target-specific for cross-compilation
  MODULE.bazel
Labels: none

Complete fix: separate compile and link stdlib flags
  MODULE.bazel
Labels: none

Add stdlib config to macos_toolchain for Linux targets
  MODULE.bazel
Labels: none

Add builtin-libc++ for macOS exec tools in macos_toolchain
  MODULE.bazel
Labels: none

Fix protobuf generator config mismatch
  bazel/pbgen/pbgen.bzl
Labels: none

Fix liburing and zlib build failures for darwin exec
  .bazelrc
  MODULE.bazel
  MODULE.bazel.lock
  bazel/patches/liburing_linux_only.patch
  bazel/patches/zlib_static_darwin.patch
Labels: none

Add BUILD file for patches directory
  bazel/patches/BUILD
Labels: none

WIP: Sysroot discovery and zlib fix
  MODULE.bazel
  bazel/patches/liburing_linux_only.patch
Labels: none

WIP: liburing macOS echo -e fix in progress
  MODULE.bazel.bak
  bazel/patches/BUILD
  bazel/patches/liburing_macos_echo_fix.patch
  bazel/patches/liburing_use_sysroot.patch
Labels: none

Add comprehensive resume document for session continuation
  RESUME_MACOS_CROSS_FINAL_PUSH.md
Labels: none

Apply zlib patch and update liburing configuration
  MODULE.bazel.tmp3
  bazel/patches/BUILD
  bazel/patches/liburing_macos_build_fix.patch
  bazel/patches/liburing_macos_echo_fix.patch
  bazel/patches/liburing_static_linking.patch
Labels: none

Progress: Agent strategy implementation in progress
  MODULE.bazel
  bazel/patches/liburing_macos_echo_fix.patch
Labels: none

Platform constraints attempt - lessons learned
  MODULE.bazel
  bazel/patches/BUILD
  bazel/thirdparty/base64.BUILD
  bazel/thirdparty/c-ares.BUILD
  bazel/thirdparty/openssl.BUILD
  bazel/thirdparty/ragel.BUILD
Labels: none

liburing: Add macOS compatibility patches
  MODULE.bazel
  bazel/patches/BUILD
  bazel/patches/liburing_macos_build_fix.patch
  bazel/patches/liburing_macos_echo_fix.patch
Labels: none

ci: simplify claude code review workflow
  .github/workflows/claude-code-review.yml
Labels: area/build

kafka/client: replace circular buffer with chunked equivalent
  src/v/kafka/client/BUILD
  src/v/kafka/client/produce_batcher.h
Labels: area/redpanda

kafka/client: replace circular buffer with chunked equivalent
  src/v/kafka/client/BUILD
  src/v/kafka/client/produce_batcher.h
Labels: area/redpanda

bazel: Suppress protobuf deprecation warnings
  .bazelrc
Labels: none

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']
