Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

bazel: update seastar to 827aed4e (testing fork)
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

`cloud_storage_clients`: add regression test cases
  src/v/cloud_storage_clients/tests/s3_client_test.cc
Labels: area/redpanda

`utils`: add `xml`
  src/v/utils/BUILD
  src/v/utils/xml.cc
  src/v/utils/xml.h
Labels: area/redpanda

`cloud_storage_clients`: use `xml` utilities
  src/v/cloud_storage_clients/BUILD
  src/v/cloud_storage_clients/abs_client.cc
  src/v/cloud_storage_clients/s3_client.cc
Labels: area/redpanda

`cloud_storage_clients`: remove dead code
  src/v/cloud_storage_clients/util.cc
  src/v/cloud_storage_clients/util.h
Labels: area/redpanda

`cloud_roles`: use `xml` utilities
  src/v/cloud_roles/BUILD
  src/v/cloud_roles/aws_sts_refresh_impl.cc
Labels: area/redpanda

`utils`: add `xml`
  src/v/utils/BUILD
  src/v/utils/xml.cc
  src/v/utils/xml.h
Labels: area/redpanda

`cloud_roles`: use `xml` utilities
  src/v/cloud_roles/BUILD
  src/v/cloud_roles/aws_sts_refresh_impl.cc
Labels: area/redpanda

`cloud_storage_clients`: use `xml` utilities
  src/v/cloud_storage_clients/BUILD
  src/v/cloud_storage_clients/abs_client.cc
  src/v/cloud_storage_clients/s3_client.cc
Labels: area/redpanda

`cloud_storage_clients`: add regression test cases
  src/v/cloud_storage_clients/tests/s3_client_test.cc
Labels: area/redpanda

`cloud_storage_clients`: remove dead code
  src/v/cloud_storage_clients/util.cc
  src/v/cloud_storage_clients/util.h
Labels: area/redpanda

bazel: ban boost::property_tree::get<ss::sstring>
  bazel/build.bzl
  bazel/internal.bzl
  bazel/test.bzl
  src/v/base/BUILD
  src/v/base/ptree_ban.h
Labels: area/redpanda

csc & cloud_io: add lease_class enum and transfer_details field
  src/v/cloud_io/transfer_details.h
  src/v/cloud_storage_clients/types.h
Labels: area/redpanda

config: add cloud_storage_max_capped_pool_pct
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

build/deps: upgrade libxml2 to v2.15.3 (CVE-2026-6732)
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

build/deps: upgrade libxml2 to v2.15.3 (CVE-2026-6732)
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

security/acl: use chunked_vector for acl_store::acls() return type
  src/v/security/acl.cc
  src/v/security/acl_store.h
  src/v/security/authorizer.cc
  src/v/security/authorizer.h
  src/v/security/tests/authorizer_test.cc
Labels: area/redpanda

cluster/commands: introduce copy_cmd and controller_command::copy
  src/v/cluster/commands.h
Labels: area/redpanda

security/acl: use chunked_vector for remove_bindings and delete path
  src/v/cluster/commands.h
  src/v/cluster/security_frontend.cc
  src/v/cluster/security_frontend.h
  src/v/cluster/security_manager.cc
  src/v/cluster/service.cc
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/kafka/server/handlers/delete_acls.cc
  src/v/kafka/server/request_context.h
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/security/acl.cc
  src/v/security/acl_store.h
  src/v/security/audit/audit_log_manager.h
  src/v/security/audit/schemas/application_activity.h
  src/v/security/audit/schemas/utils.h
  src/v/security/authorizer.cc
  src/v/security/authorizer.h
  src/v/security/tests/authorizer_test.cc
Labels: area/redpanda

security/acl: use chunked_vector for add_bindings and create path
  src/v/cluster/cloud_metadata/cluster_recovery_backend.cc
  src/v/cluster/security_frontend.cc
  src/v/cluster/security_frontend.h
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/cluster_link/BUILD
  src/v/cluster_link/deps.cc
  src/v/cluster_link/deps.h
  src/v/cluster_link/security_migrator.cc
  src/v/cluster_link/tests/BUILD
  src/v/cluster_link/tests/deps.h
  src/v/kafka/client/test/BUILD
  src/v/kafka/client/test/metadata.cc
  src/v/kafka/server/server.cc
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/alter_user_scram_credentials_test.cc
  src/v/kafka/server/tests/consumer_groups_test.cc
  src/v/kafka/server/tests/describe_user_scram_credentials_test.cc
  src/v/kafka/server/tests/fetch_plan_bench.cc
  src/v/kafka/server/tests/metadata_test.cc
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/service.cc
  src/v/security/acl_store.h
  src/v/security/authorizer.cc
  src/v/security/authorizer.h
  src/v/security/tests/BUILD
  src/v/security/tests/authorizer_test.cc
  src/v/security/tests/role_store_bench.cc
Labels: area/redpanda

cluster_link/security_migrator: use chunked_vector for entries buffer
  src/v/cluster_link/security_migrator.cc
Labels: area/redpanda

security/acl: use chunked_vector for remove_bindings outer container
  src/v/security/acl.cc
  src/v/security/acl_store.h
  src/v/security/authorizer.cc
  src/v/security/authorizer.h
Labels: area/redpanda

cluster/tests: roundtrip create_acls_reply with populated results
  src/v/cluster/tests/serialization_rt_test.cc
Labels: area/redpanda

security/acl: use chunked_vector for create_acls errc result chain
  src/v/cluster/security_frontend.cc
  src/v/cluster/security_frontend.h
  src/v/cluster/service.cc
  src/v/cluster/types.h
  src/v/cluster_link/deps.cc
  src/v/cluster_link/deps.h
  src/v/cluster_link/tests/deps.h
  src/v/kafka/client/test/metadata.cc
  src/v/kafka/server/tests/alter_user_scram_credentials_test.cc
  src/v/kafka/server/tests/describe_user_scram_credentials_test.cc
  src/v/kafka/server/tests/metadata_test.cc
Labels: area/redpanda

tests: Remove DCV DT support
  tests/rptest/direct_consumer_tests/__init__.py
  tests/rptest/direct_consumer_tests/direct_consumer_test.py
  tests/rptest/services/direct_consumer_verifier.py
  tests/rptest/test_suite_all.yml
  tests/rptest/test_suite_quick.yml
  tools/dt
  tools/type-checking/type-check-strictness.json
Labels: none

security: reject userinfo in oidc URLs
  src/v/security/config_rcl.cc
  src/v/security/tests/url_test.cc
Labels: area/redpanda

security/oidc: route discovery and JWKS through oidc_http_proxy_url
  src/v/cluster/controller.cc
  src/v/security/oidc_service.cc
  src/v/security/oidc_service.h
Labels: area/redpanda

config: add oidc_http_proxy_url cluster config
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/validators.cc
  src/v/config/validators.h
  src/v/redpanda/admin/server.cc
Labels: area/redpanda

dt/oidc: add OIDC-via-proxy end-to-end tests
  tests/docker/Dockerfile
  tests/docker/ducktape-deps/mitmproxy
  tests/rptest/services/mitmproxy.py
  tests/rptest/tests/redpanda_oauth_proxy_test.py
  tools/type-checking/type-check-strictness.json
Labels: none

net: add optional CONNECT-proxy support to base_transport
  src/v/net/tests/BUILD
  src/v/net/tests/connect_authority_test.cc
  src/v/net/tests/connect_response_parser_test.cc
  src/v/net/transport.cc
  src/v/net/transport.h
Labels: area/redpanda

tests: Remove DCV DT support
  tests/rptest/direct_consumer_tests/__init__.py
  tests/rptest/direct_consumer_tests/direct_consumer_test.py
  tests/rptest/services/direct_consumer_verifier.py
  tests/rptest/test_suite_all.yml
  tests/rptest/test_suite_quick.yml
  tools/type-checking/type-check-strictness.json
Labels: none

bazel: route flaky upstream deps through vectorized-public s3 mirror
  .bazelrc
  bazel/dependency-mirroring.md
  bazel_downloader.cfg
Labels: none

rpk/debug/bundle: dedup admin addresses across host forms
  src/go/rpk/pkg/cli/debug/bundle/bundle_k8s_linux.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_test.go
Labels: area/rpk

csc/pool: Implement lease_class::capped budget
  src/v/cloud_storage_clients/BUILD
  src/v/cloud_storage_clients/client_pool.cc
  src/v/cloud_storage_clients/client_pool.h
  src/v/cloud_storage_clients/tests/BUILD
  src/v/cloud_storage_clients/tests/client_pool_mt_test.cc
  src/v/cloud_storage_clients/tests/client_pool_test.cc
Labels: area/redpanda

csc/probe: add capped_lease_duration and capped_budget metrics
  src/v/cloud_storage_clients/client_pool.cc
  src/v/cloud_storage_clients/client_pool.h
  src/v/cloud_storage_clients/client_probe.cc
  src/v/cloud_storage_clients/client_probe.h
Labels: area/redpanda

cloud_io: pass lease_class from transfer_details to client_pool
  src/v/cloud_io/remote.cc
Labels: area/redpanda

ct/l1: tag L1 cold-read as capped lease class
  src/v/cloud_topics/level_one/common/file_io.cc
Labels: area/redpanda

cloud_storage: tag segment hydration downloads as capped
  src/v/cloud_storage/remote.cc
Labels: area/redpanda

rptest: smoke test for client-pool segregation wiring
  tests/rptest/tests/cloud_topics/client_pool_segregation_test.py
Labels: none

dcv: Remove DCV
  BUILD
  bazel/packaging/BUILD
  src/v/kafka/client/direct_consumer/verifier/BUILD
  src/v/kafka/client/direct_consumer/verifier/application.cc
  src/v/kafka/client/direct_consumer/verifier/application.h
  src/v/kafka/client/direct_consumer/verifier/main.cc
  src/v/kafka/client/direct_consumer/verifier/proto/BUILD
  src/v/kafka/client/direct_consumer/verifier/proto/verifier.proto
Labels: area/redpanda

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']
