Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

rptest: do not compare disk_free_bytes with cache_disk_free bytes
  tests/rptest/tests/node_metrics_test.py
Labels: none

model: methods to get optional key/value from header
  src/v/model/record.h
Labels: area/redpanda

rptest/s: enable logging for spark
  tests/java/spark-iceberg-dependencies/pom.xml
Labels: none

ssx: bazelize sharded_ptr_test
  src/v/ssx/tests/BUILD
Labels: area/redpanda

serde: refactor enum
  src/v/serde/rw/enum.h
Labels: area/redpanda

ssx: bazelize event_test
  src/v/ssx/tests/BUILD
Labels: area/redpanda

ssx: bazelize sleep_abortable_test
  src/v/ssx/tests/BUILD
Labels: area/redpanda

serde/parquet: add method to flush row group
  src/v/serde/parquet/writer.cc
  src/v/serde/parquet/writer.h
Labels: area/redpanda

test: provide more time for deletions to occur
  tests/rptest/tests/topic_delete_test.py
Labels: none

rptest/s: use abfss (secure) scheme for iceberg catalog
  tests/rptest/services/apache_iceberg_catalog.py
Labels: none

ssx: bazelize single_sharded_test
  src/v/ssx/tests/BUILD
Labels: area/redpanda

serde: bazelize serde_test
  src/v/serde/test/BUILD
  src/v/serde/test/serde_test.cc
Labels: area/redpanda

c/migrations: create migration cmds w/timestamps
  src/v/cluster/data_migration_frontend.cc
Labels: area/redpanda

rpc: Change max internal rpc connection count limit
  src/v/config/configuration.cc
Labels: area/redpanda

cluster: split make_allocation_request code paths
  src/v/cluster/topics_frontend.cc
Labels: area/redpanda

iceberg: add basic retries for metadata io
  src/v/iceberg/metadata_io.h
Labels: area/redpanda

test: log more detail about undeleted files
  tests/rptest/tests/topic_delete_test.py
Labels: none

bazel/version: remove version.cc as a runfile
  src/v/version/expand_with_stamp_vars.bzl
Labels: area/redpanda

serde/parquet: add stats for the current row group memory usage
  src/v/serde/parquet/column_writer.cc
  src/v/serde/parquet/column_writer.h
  src/v/serde/parquet/tests/generate_file.cc
  src/v/serde/parquet/writer.cc
  src/v/serde/parquet/writer.h
Labels: area/redpanda

cluster: refactor topics_frontend
  src/v/cluster/topics_frontend.cc
Labels: area/redpanda

ssx: update cpu count for abourt_source_test
  src/v/ssx/tests/BUILD
Labels: area/redpanda

c/migrations: log migration cre/upd cmds in full
  src/v/cluster/data_migration_table.cc
Labels: area/redpanda

ssx: bazelize watchdog_test
  src/v/ssx/tests/BUILD
Labels: area/redpanda

ssx: bazelize sformat_bench
  src/v/ssx/tests/BUILD
  src/v/ssx/tests/sformat_bench.cc
Labels: area/redpanda

thirdparty: upgrade core golang deps
  src/transform-sdk/tests/go.mod
  src/transform-sdk/tests/go.sum
  src/v/test_utils/go/go.mod
  src/v/test_utils/go/go.sum
Labels: area/redpanda, area/wasm

bazel: extend bazel rules
  bazel/test.bzl
Labels: none

ssx: bazelize async_algorithm_test
  src/v/ssx/tests/BUILD
  src/v/ssx/tests/async_algorithm_test.cc
Labels: area/redpanda

admin/migrations: output create/complete time
  src/v/redpanda/admin/api-doc/migration.def.json
  src/v/redpanda/admin/migrations.cc
Labels: area/redpanda

cluster: introduce simple_allocation_request code path
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/cluster/scheduling/partition_allocator.h
  src/v/cluster/scheduling/types.cc
  src/v/cluster/scheduling/types.h
  src/v/cluster/tests/partition_allocator_fixture.h
  src/v/cluster/tests/partition_allocator_tests.cc
Labels: area/redpanda

ssx: bazelise thread_worker_bench
  src/v/ssx/tests/BUILD
Labels: area/redpanda

tests/migrations: creatie/complete timestamps
  tests/rptest/tests/data_migrations_api_test.py
Labels: none

c/migrations: add op time to migrations and cmds
  src/v/cluster/data_migration_types.cc
  src/v/cluster/data_migration_types.h
Labels: area/redpanda

c/migrations: save migration create/complete time
  src/v/cluster/data_migration_table.cc
Labels: area/redpanda

ssx: bazelize task_local_ptr_test
  src/v/ssx/tests/BUILD
Labels: area/redpanda

test: improve timeout error message
  tests/rptest/tests/topic_delete_test.py
Labels: none

CONTRIBUTING.md: allow longer commit subject lines (such as this one)
  CONTRIBUTING.md
Labels: none

iceberg/rest_client: stream JSON
  src/v/iceberg/rest_client/BUILD
  src/v/iceberg/rest_client/catalog_client.cc
Labels: area/redpanda

c/controller: do not check old feature
  src/v/cluster/controller.cc
Labels: area/redpanda

tests/migrations: make params JSON-friendly
  tests/rptest/tests/data_migrations_api_test.py
Labels: none

storage: Store logs in chunked_hash_map
  src/v/storage/log_manager.cc
  src/v/storage/log_manager.h
Labels: area/redpanda
