Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

security: expose whether a request_auth_result was checked
  src/v/security/request_auth.h
Labels: area/redpanda

kafka: create the schema registry topic as a tiered topic
  src/v/kafka/server/handlers/topics/types.cc
Labels: area/redpanda

k/s: don't expire an offset staged by an open transaction
  src/v/kafka/server/group.cc
  src/v/kafka/server/tests/group_test.cc
  src/v/kafka/server/tests/offset_store_test.cc
Labels: area/redpanda

k/s: order a transactional offset commit by its commit batch
  src/v/kafka/server/group.cc
  src/v/kafka/server/tests/group_tx_compaction_test.cc
Labels: area/redpanda

tests: make the llvm-symbolizer shim a static binary
  tests/docker/ducktape-deps/tool-pkgs
Labels: none

cluster_link: negotiate API versions against the broker dispatched to
  src/v/cluster_link/BUILD
  src/v/cluster_link/service.cc
  src/v/cluster_link/source_topic_syncer.cc
  src/v/cluster_link/utils.h
Labels: area/redpanda

gha: backport — push branches directly instead of via a bot fork
  .github/workflows/backport-command.yml
  .github/workflows/scripts/backport-command/create_pr.sh
  .github/workflows/scripts/backport-command/pr_details.sh
Labels: area/build

bazel/seastar: shuffle task queue in non-release builds
  bazel/thirdparty/seastar.BUILD
Labels: none

kafka/server: fix quota_manager gc use-after-free at shutdown
  src/v/kafka/server/quota_manager.cc
Labels: area/redpanda

kafka/server/tests: stop leaking the throttle cap into later tests
  src/v/kafka/server/tests/quota_manager_test.cc
Labels: area/redpanda

serde/parquet: remove per-child yields in shredder push loops
  src/v/serde/parquet/shredder.cc
Labels: area/redpanda

iceberg: fast-path primitive value to conversion
  src/v/iceberg/conversion/values_parquet.cc
Labels: area/redpanda

pandaproxy/rest: return table identity for pre-translation iceberg topics
  src/v/pandaproxy/rest/iceberg_handlers.cc
  tests/rptest/tests/datalake/iceberg_translation_state_test.py
Labels: area/redpanda

`kafka`: validate consume offsets and report the log start
  src/v/cluster/errc.h
  src/v/cluster/errors.cc
  src/v/kafka/data/rpc/serde.cc
  src/v/kafka/data/rpc/serde.h
  src/v/kafka/data/rpc/service.cc
  src/v/kafka/data/rpc/test/deps.h
  src/v/kafka/server/errors.h
Labels: area/redpanda

datalake: add parquet_write_config and plumb through writer factory chain
  src/v/datalake/BUILD
  src/v/datalake/data_writer_interface.h
  src/v/datalake/local_parquet_file_writer.cc
  src/v/datalake/local_parquet_file_writer.h
  src/v/datalake/parquet_write_config.cc
  src/v/datalake/parquet_write_config.h
  src/v/datalake/partitioning_writer.cc
  src/v/datalake/partitioning_writer.h
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/serde_parquet_writer.cc
  src/v/datalake/serde_parquet_writer.h
  src/v/datalake/tests/local_parquet_file_writer_test.cc
  src/v/datalake/tests/partitioning_writer_test.cc
  src/v/datalake/tests/serde_parquet_writer_test.cc
  src/v/datalake/tests/test_data_writer.h
Labels: area/redpanda

sr: enforce deferred authz after the handler completes
  src/v/pandaproxy/schema_registry/auth.cc
  src/v/pandaproxy/schema_registry/auth.h
  src/v/pandaproxy/schema_registry/authorization.cc
  src/v/pandaproxy/schema_registry/authorization.h
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/handlers.h
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/test/BUILD
  src/v/pandaproxy/schema_registry/test/deferred_auth.cc
Labels: area/redpanda

dt/sr: let the ACL authz test base size the cluster
  tests/rptest/tests/schema_registry_test.py
Labels: none

security: log instead of throwing when the auth result is unchecked
  src/v/security/request_auth.cc
  src/v/security/request_auth.h
  src/v/security/tests/BUILD
  src/v/security/tests/request_auth_test.cc
Labels: area/redpanda

sr: log the real cause behind /schemas/ids 403s
  src/v/pandaproxy/schema_registry/authorization.cc
Labels: area/redpanda

dt/sr: cover deferred authz failures before the check
  tests/rptest/tests/schema_registry_test.py
Labels: none

rpk shadow: support role sync for Redpanda Cloud links
  buf.gen.yaml
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/shadow/config.go
  src/go/rpk/pkg/cli/shadow/create.go
  src/go/rpk/pkg/cli/shadow/create_test.go
  src/go/rpk/pkg/cli/shadow/describe.go
  src/go/rpk/pkg/cli/shadow/mapper.go
  src/go/rpk/pkg/cli/shadow/mapper_test.go
  src/go/rpk/pkg/cli/shadow/update.go
Labels: area/rpk

`schema_registry`: replay `_schemas` from the earliest surviving offset
  src/v/pandaproxy/schema_registry/BUILD
  src/v/pandaproxy/schema_registry/kafka_client_transport.cc
  src/v/pandaproxy/schema_registry/kafka_client_transport.h
  src/v/pandaproxy/schema_registry/rpc_transport.cc
  src/v/pandaproxy/schema_registry/rpc_transport.h
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/seq_writer.h
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/test/BUILD
  src/v/pandaproxy/schema_registry/test/rpc_transport_test.cc
  src/v/pandaproxy/schema_registry/test/truncated_replay.cc
  src/v/pandaproxy/schema_registry/test/utils.h
  src/v/pandaproxy/schema_registry/transport.h
Labels: area/redpanda

rptest/consumer_group_test: widen api-version probe timeout in large group test
  tests/rptest/tests/consumer_group_test.py
Labels: none

rptest/datalake: test Iceberg column stats in manifest
  tests/rptest/tests/datalake/datalake_e2e_test.py
Labels: none

datalake: plumb parquet column stats into iceberg manifest entries
  src/v/datalake/BUILD
  src/v/datalake/base_types.h
  src/v/datalake/coordinator/BUILD
  src/v/datalake/coordinator/data_file.h
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/datalake/coordinator/tests/iceberg_file_committer_test.cc
  src/v/datalake/data_writer_interface.h
  src/v/datalake/local_parquet_file_writer.cc
  src/v/datalake/serde_parquet_writer.cc
  src/v/datalake/serde_parquet_writer.h
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/serde_parquet_writer_test.cc
  src/v/datalake/tests/test_data_writer.h
  src/v/datalake/translation_task.cc
  src/v/serde/parquet/BUILD
  src/v/serde/parquet/column_writer.cc
  src/v/serde/parquet/column_writer.h
  src/v/serde/parquet/writer.cc
  src/v/serde/parquet/writer.h
Labels: area/redpanda

dl/coordinator: track pending file and byte totals in STM state
  src/v/datalake/coordinator/BUILD
  src/v/datalake/coordinator/state.cc
  src/v/datalake/coordinator/state.h
  src/v/datalake/coordinator/state_machine.cc
  src/v/datalake/coordinator/state_update.cc
  src/v/datalake/coordinator/tests/BUILD
  src/v/datalake/coordinator/tests/iceberg_file_committer_test.cc
  src/v/datalake/coordinator/tests/state_machine_test.cc
  src/v/datalake/coordinator/tests/state_update_test.cc
Labels: area/redpanda

dl/coordinator: estimate in-memory footprint of pending files
  src/v/datalake/base_types.h
  src/v/datalake/coordinator/data_file.h
  src/v/datalake/coordinator/tests/BUILD
  src/v/datalake/coordinator/tests/data_file_test.cc
  src/v/datalake/coordinator/translated_offset_range.h
Labels: area/redpanda

dl/coordinator: shed load by pending memory, not just count
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/datalake/coordinator/coordinator.cc
  src/v/datalake/coordinator/coordinator.h
  src/v/datalake/coordinator/coordinator_manager.cc
  src/v/datalake/coordinator/tests/coordinator_test.cc
  src/v/datalake/coordinator/tests/state_machine_test.cc
  tests/rptest/tests/datalake/coordinator_backpressure_test.py
Labels: area/redpanda

serde/parquet: account stats collector memory in the writer
  src/v/serde/parquet/column_stats_collector.h
  src/v/serde/parquet/column_writer.cc
  src/v/serde/parquet/tests/column_stats_collector_test.cc
  src/v/serde/parquet/tests/writer_test.cc
Labels: area/redpanda

serde/parquet: estimate idle writer memory
  src/v/serde/parquet/column_writer.cc
  src/v/serde/parquet/column_writer.h
  src/v/serde/parquet/tests/BUILD
  src/v/serde/parquet/tests/writer_test.cc
  src/v/serde/parquet/writer.cc
  src/v/serde/parquet/writer.h
Labels: area/redpanda

datalake: reserve writer memory by leaf-column count
  src/v/datalake/BUILD
  src/v/datalake/local_parquet_file_writer.cc
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/local_parquet_file_writer_test.cc
  src/v/datalake/translation/deps.cc
Labels: area/redpanda

dl/coordinator: chunk commits by pending memory, not just count
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/datalake/coordinator/coordinator_manager.cc
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/datalake/coordinator/iceberg_file_committer.h
  src/v/datalake/coordinator/state.cc
  src/v/datalake/coordinator/state.h
  src/v/datalake/coordinator/tests/iceberg_file_committer_test.cc
  src/v/datalake/coordinator/tests/state_update_test.cc
Labels: area/redpanda

datalake: remove redundant copy of stats bounds
  src/v/datalake/serde_parquet_writer.cc
Labels: area/redpanda

chore: bump twmb/avro to v1.8.0
  src/go/rpk/go.mod
  src/go/rpk/go.sum
Labels: area/rpk

hashing/xx: Add support for XXH3_64
  src/v/hashing/tests/xx_tests.cc
  src/v/hashing/xx.h
Labels: area/redpanda

k/s: cache the subscription-metadata hash per topic
  src/v/kafka/server/BUILD
  src/v/kafka/server/subscription_metadata_hash_cache.cc
  src/v/kafka/server/subscription_metadata_hash_cache.h
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/subscription_metadata_hash_cache_test.cc
Labels: area/redpanda

k/s/tests: pin the subscription-metadata hash with golden values
  src/v/kafka/server/tests/subscription_metadata_hash_test.cc
Labels: area/redpanda

k/s/tests: benchmark the subscription-metadata hash
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/subscription_metadata_hash_bench.cc
Labels: area/redpanda

k/s: add a deterministic subscription-metadata hash
  src/v/hashing/xx.h
  src/v/kafka/server/BUILD
  src/v/kafka/server/subscription_metadata_hash.cc
  src/v/kafka/server/subscription_metadata_hash.h
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/subscription_metadata_hash_test.cc
Labels: area/redpanda

security: log instead of throwing when the auth result is unchecked
  src/v/security/request_auth.cc
  src/v/security/request_auth.h
  src/v/security/tests/BUILD
  src/v/security/tests/request_auth_test.cc
Labels: area/redpanda
