Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

rptest: cover follower fetch catch-up wait and nudge
  tests/rptest/tests/follower_fetching_test.py
Labels: none

bazel: point the sysroot pin at the Ubuntu 24.04 tarballs
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

bazel/toolchain: build the sysroot from Ubuntu 24.04
  bazel/toolchain/Dockerfile.sysroot
  bazel/toolchain/README.md
  bazel/toolchain/check-sysroot.sh
Labels: none

tests: make the llvm-symbolizer shim a static binary
  tests/docker/ducktape-deps/tool-pkgs
Labels: none

DO NOT MERGE: carry the 24.04 sysroot tarballs in-tree
  .bazelrc
  bazel/toolchain/sysroot-dist/sysroot-ubuntu-24.04-aarch64-2026-08-13.tar.zst
  bazel/toolchain/sysroot-dist/sysroot-ubuntu-24.04-x86_64-2026-08-13.tar.zst
Labels: none

storage: put the replay reason and position in the segment name
  src/v/storage/log_replayer.h
  src/v/storage/recovery_report.h
  src/v/storage/segment_set.cc
  src/v/storage/tests/log_manager_test.cc
Labels: area/redpanda

storage: count dropped segments by position in the log
  src/v/storage/BUILD
  src/v/storage/recovery_report.h
  src/v/storage/segment_set.cc
  src/v/storage/segment_set.h
  src/v/storage/tests/log_manager_test.cc
Labels: area/redpanda

storage: gauge quarantined segments by position in the log
  src/v/storage/BUILD
  src/v/storage/log_manager.cc
  src/v/storage/log_manager_probe.cc
  src/v/storage/log_manager_probe.h
  src/v/storage/segment_set.cc
  src/v/storage/tests/BUILD
  src/v/storage/tests/log_manager_test.cc
Labels: area/redpanda

storage: clean up the indices of an unrecoverable segment
  src/v/storage/log_manager.cc
  src/v/storage/tests/log_manager_test.cc
Labels: area/redpanda

storage: name why segment replay stopped
  src/v/storage/log_replayer.cc
  src/v/storage/log_replayer.h
  src/v/storage/tests/log_replayer_test.cc
Labels: area/redpanda

storage: log unrecoverable segments with more context
  src/v/storage/BUILD
  src/v/storage/segment_set.cc
Labels: area/redpanda

storage: extract a fixture for the log manager tests
  src/v/storage/tests/log_manager_test.cc
Labels: area/redpanda

dl/translation: fix busy loop under coordinator backpressure
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
  src/v/datalake/translation/tests/partition_translator_tests.cc
  tests/rptest/tests/datalake/coordinator_backpressure_test.py
Labels: area/redpanda

dl/translation: fix busy loop under coordinator backpressure
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
  src/v/datalake/translation/tests/partition_translator_tests.cc
  tests/rptest/tests/datalake/coordinator_backpressure_test.py
Labels: area/redpanda

dl/translation: fix busy loop under coordinator backpressure
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
  src/v/datalake/translation/tests/partition_translator_tests.cc
  tests/rptest/tests/datalake/coordinator_backpressure_test.py
Labels: area/redpanda

cluster: extract learner move retention target helper
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
Labels: area/redpanda

cluster: enable fast partition movement for tiered_v2 topics
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
Labels: area/redpanda

tests/scaling_up: cover fast node addition for tiered_v2
  tests/rptest/tests/scaling_up_test.py
Labels: none

security/audit: skip audit topic creation when the topic exists
  src/v/security/audit/BUILD
  src/v/security/audit/client.cc
  src/v/security/audit/client.h
Labels: area/redpanda

tests/audit_log: cover both sides of the create-skip contract
  tests/rptest/tests/audit_log_test.py
Labels: none

tests/audit_log: pin leaderless-controller behavior for both sinks
  tests/rptest/tests/audit_log_test.py
Labels: none

security/audit: make the kafka-client sink leader-independent
  src/v/security/audit/client.cc
Labels: area/redpanda

tests/audit_log: pin leaderless-controller behavior for both sinks
  tests/rptest/tests/audit_log_test.py
Labels: none

security/audit: skip audit topic creation when the topic exists
  src/v/security/audit/client.cc
  src/v/security/audit/client.h
Labels: area/redpanda

tests/audit_log: pin leaderless-controller behavior for both sinks
  tests/rptest/tests/audit_log_test.py
Labels: none

tests/audit_log: cover both sides of the create-skip contract
  tests/rptest/tests/audit_log_test.py
Labels: none

security/audit: make the kafka-client sink leader-independent
  src/v/security/audit/client.cc
Labels: area/redpanda

security/audit: make the kafka-client sink leader-independent
  src/v/security/audit/client.cc
Labels: area/redpanda

tests/audit_log: cover both sides of the create-skip contract
  tests/rptest/tests/audit_log_test.py
Labels: none

security/audit: skip audit topic creation when the topic exists
  src/v/security/audit/client.cc
  src/v/security/audit/client.h
Labels: area/redpanda

tests/scaling_up: use real reconciliation interval config keys
  tests/rptest/tests/scaling_up_test.py
Labels: none

rpk: consolidate plugin version validation on pkg
  src/go/rpk/pkg/cli/ai/client_test.go
  src/go/rpk/pkg/cli/ai/install.go
  src/go/rpk/pkg/cli/check/BUILD
  src/go/rpk/pkg/cli/check/install.go
  src/go/rpk/pkg/cli/check/install_test.go
  src/go/rpk/pkg/cli/connect/install.go
  src/go/rpk/pkg/cli/k8s/install.go
  src/go/rpk/pkg/cli/k8s/install_test.go
  src/go/rpk/pkg/redpanda/version.go
  src/go/rpk/pkg/redpanda/version_test.go
Labels: area/rpk

pandaproxy: run REST proxy in a dedicated scheduling group
  src/v/pandaproxy/rest/BUILD
  src/v/pandaproxy/rest/proxy.cc
  src/v/pandaproxy/server.cc
  src/v/pandaproxy/server.h
  tests/rptest/tests/pandaproxy_test.py
Labels: area/redpanda

kafka/server: add the consumer-group assignor interface
  src/v/kafka/server/BUILD
  src/v/kafka/server/consumer_group_assignor.cc
  src/v/kafka/server/consumer_group_assignor.h
Labels: area/redpanda

security: expose whether a request_auth_result was checked
  src/v/security/request_auth.h
Labels: area/redpanda

sr: enforce deferred authz after the handler completes
  src/v/pandaproxy/schema_registry/auth.cc
  src/v/pandaproxy/schema_registry/auth.h
  src/v/pandaproxy/schema_registry/authorization.cc
  src/v/pandaproxy/schema_registry/authorization.h
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/handlers.h
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/test/BUILD
  src/v/pandaproxy/schema_registry/test/deferred_auth.cc
Labels: area/redpanda

dt/sr: let the ACL authz test base size the cluster
  tests/rptest/tests/schema_registry_test.py
Labels: none

security: log instead of throwing when the auth result is unchecked
  src/v/security/request_auth.cc
  src/v/security/request_auth.h
  src/v/security/tests/BUILD
  src/v/security/tests/request_auth_test.cc
Labels: area/redpanda

dt/sr: cover deferred authz failures before the check
  tests/rptest/tests/schema_registry_test.py
Labels: none

sr: log the real cause behind /schemas/ids 403s
  src/v/pandaproxy/schema_registry/authorization.cc
Labels: area/redpanda
