Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

ct/scale: add fd-reuse arm to MPT cloud_topics test
  tests/rptest/scale_tests/many_partitions_test.py
Labels: none

clang_format
  src/v/cloud_io/cache_service.cc
Labels: area/redpanda

ct/l0: poison producer queue successors on pre-raft failure
  src/v/cloud_topics/frontend/frontend.cc
  src/v/cloud_topics/level_zero/common/producer_queue.cc
  src/v/cloud_topics/level_zero/common/producer_queue.h
  src/v/cloud_topics/level_zero/common/tests/producer_queue_test.cc
Labels: area/redpanda

ct/l1: decouple reader IO from client connection abort
  src/v/cloud_topics/level_one/frontend_reader/level_one_reader.cc
  src/v/cloud_topics/level_one/frontend_reader/level_one_reader.h
  src/v/cloud_topics/level_one/frontend_reader/tests/l1_reader_cache_test.cc
Labels: area/redpanda

ct/scale: drop fd-reuse arm from MPT cloud_topics test
  tests/rptest/scale_tests/many_partitions_test.py
Labels: none

ct/scale: set MPT cloud_topics fetch concurrency to 4
  tests/rptest/scale_tests/many_partitions_test.py
Labels: none

cloud_topics: add cold-read stage to high_throughput_test
  tests/rptest/redpanda_cloud_tests/high_throughput_test.py
Labels: none

cloud_topics: add produce-under-cold-read scale test
  tests/rptest/scale_tests/cloud_topics_cold_read_scale_test.py
  tests/rptest/services/kgo_verifier_services.py
Labels: none

kafka/group_manager: fix consumer group lag inflated by log truncation
  src/v/kafka/server/group_manager.cc
  tests/rptest/tests/consumer_group_test.py
Labels: area/redpanda

cluster/health: add log_start_offset to partition_status
  src/v/cluster/controller.h
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
  src/v/cluster/health_monitor_types.cc
  src/v/cluster/health_monitor_types.h
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/redpanda/BUILD
  src/v/redpanda/application_start.cc
Labels: area/redpanda

build: regenerate MODULE.bazel.lock for krb5 1.22.2 on v26.1.x
  MODULE.bazel.lock
Labels: none

ct/scale: raise fetch concurrency for cloud_topics MPT variants
  tests/rptest/scale_tests/many_partitions_test.py
Labels: none

cloud_storage_clients: log retryable multipart upload errors at warn
  src/v/cloud_storage_clients/multipart_upload.cc
Labels: area/redpanda

kafka: move kafka offset logic from replicated_partition to cluster
  src/v/cluster/BUILD
  src/v/cluster/partition_kafka_offsets.cc
  src/v/cluster/partition_kafka_offsets.h
  src/v/kafka/data/replicated_partition.cc
  src/v/kafka/data/replicated_partition.h
Labels: area/redpanda

kafka: move kafka offset logic from replicated_partition to cluster
  src/v/cluster/BUILD
  src/v/cluster/partition_kafka_offsets.cc
  src/v/cluster/partition_kafka_offsets.h
  src/v/kafka/data/replicated_partition.cc
  src/v/kafka/data/replicated_partition.h
Labels: area/redpanda

kafka/group_manager: fix consumer group lag inflated by log truncation
  src/v/kafka/server/group_manager.cc
  tests/rptest/tests/consumer_group_test.py
Labels: area/redpanda

cluster/health: add log_start_offset to partition_status
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_types.cc
  src/v/cluster/health_monitor_types.h
  src/v/cluster/tests/serialization_rt_test.cc
Labels: area/redpanda

kafka/group_manager: fix consumer group lag inflated by log truncation
  src/v/kafka/server/group_manager.cc
  tests/rptest/tests/consumer_group_test.py
Labels: area/redpanda

cluster/health: add log_start_offset to partition_status
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_types.cc
  src/v/cluster/health_monitor_types.h
  src/v/cluster/tests/serialization_rt_test.cc
Labels: area/redpanda

build: regenerate MODULE.bazel.lock for v26.1.x
  MODULE.bazel.lock
Labels: none

build/deps: fix krb5 1.22.2 build in sandboxed environments
  MODULE.bazel.lock
  bazel/repositories.bzl
  bazel/thirdparty/0003-Fix-build-when-KRB5_DNS_LOOKUP-isnt-defined.patch
Labels: none

build/deps: upgrade krb5 to 1.22.2
  bazel/repositories.bzl
  bazel/thirdparty/0001-Fix-two-unlikely-memory-leaks.patch
Labels: none

build/deps: upgrade krb5 to 1.22.2
  bazel/repositories.bzl
  bazel/thirdparty/0001-Fix-two-unlikely-memory-leaks.patch
  bazel/thirdparty/0003-Fix-build-when-KRB5_DNS_LOOKUP-isnt-defined.patch
Labels: none

build: regenerate MODULE.bazel.lock for v25.3.x
  MODULE.bazel.lock
Labels: none

`cluster`: remove shard aggregation for `max_offset` and `under_replicated_replicas`
  src/v/cluster/partition_probe.cc
Labels: area/redpanda

`cluster`: remove `shard` aggregation for `leader_id` and `under_replicated_replicas`
  src/v/cluster/partition_probe.cc
Labels: area/redpanda

rpk: don't require --partition when using %p in topic produce
  src/go/rpk/pkg/cli/topic/BUILD
  src/go/rpk/pkg/cli/topic/produce.go
  src/go/rpk/pkg/cli/topic/produce_test.go
Labels: area/rpk

dl/coodrinator: avoid reactor stall with many pending files
  src/v/datalake/coordinator/iceberg_file_committer.cc
Labels: area/redpanda

dl/coodrinator: avoid reactor stall with many pending files
  src/v/datalake/coordinator/iceberg_file_committer.cc
Labels: area/redpanda

dl/coodrinator: avoid reactor stall with many pending files
  src/v/datalake/coordinator/iceberg_file_committer.cc
Labels: area/redpanda

throttled_raft0_test: add learner cancellation...
  tests/rptest/tests/throttled_raft0_test.py
Labels: none

configuration/raft0: allow raft0 throttling
  src/v/cluster/controller.cc
  src/v/cluster/raft0_utils.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

members_backend: cancel raft0 learner on decom
  src/v/cluster/members_backend.cc
  src/v/cluster/members_backend.h
Labels: area/redpanda

members_backend: cancel raft0 learner on decom
  src/v/cluster/members_backend.cc
  src/v/cluster/members_backend.h
Labels: area/redpanda

configuration/raft0: allow raft0 throttling
  src/v/cluster/controller.cc
  src/v/cluster/raft0_utils.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

members_backend: cancel raft0 learner on decom
  src/v/cluster/members_backend.cc
  src/v/cluster/members_backend.h
Labels: area/redpanda

configuration/raft0: allow raft0 throttling
  src/v/cluster/controller.cc
  src/v/cluster/raft0_utils.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

metrics: enable seastar prometheus aggregation-cardinality warning
  MODULE.bazel.lock
  bazel/repositories.bzl
  bazel/thirdparty/seastar.BUILD
  src/v/redpanda/admin/server.cc
Labels: area/redpanda

raft: refresh election timer on recovery-path append_entries
  src/v/raft/consensus.cc
Labels: area/redpanda

rpk: add --regex flag to 'rpk topic alter-config'
  src/go/rpk/pkg/cli/topic/config.go
  src/go/rpk/pkg/cli/topic/config_test.go
Labels: area/rpk
