Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

rpk: add --skip-cluster flag to 'rpk version'
  src/go/rpk/pkg/cli/version/versioncmd/BUILD
  src/go/rpk/pkg/cli/version/versioncmd/versioncmd.go
Labels: area/rpk

rpk: show a spinner with elapsed time for self-test --watch
  src/go/rpk/pkg/cli/cluster/selftest/selftest_test.go
  src/go/rpk/pkg/cli/cluster/selftest/start.go
Labels: area/rpk

kafka/server: report when fetch allocation exceeds available units
  src/v/kafka/server/fetch_memory_units.cc
  src/v/kafka/server/fetch_memory_units.h
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/tests/fetch_memory_units_test.cc
Labels: area/redpanda

kafka/server: cap obligatory read to one batch when over-committed
  src/v/kafka/server/handlers/fetch.cc
Labels: area/redpanda

model/tests: add decompression cost microbenchmark
  src/v/model/tests/BUILD
  src/v/model/tests/decompression_bench.cc
Labels: area/redpanda

ssx: add with_abort
  src/v/ssx/future-util.h
  src/v/ssx/tests/future_util.cc
Labels: area/redpanda

cluster/health: add log_start_offset to partition_status
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_types.cc
  src/v/cluster/health_monitor_types.h
  src/v/cluster/tests/serialization_rt_test.cc
Labels: area/redpanda

kafka/group_manager: fix consumer group lag inflated by log truncation
  src/v/kafka/server/group_manager.cc
  tests/rptest/tests/consumer_group_test.py
Labels: area/redpanda

kafka: move kafka offset logic from replicated_partition to cluster
  src/v/cluster/BUILD
  src/v/cluster/partition_kafka_offsets.cc
  src/v/cluster/partition_kafka_offsets.h
  src/v/kafka/data/replicated_partition.cc
  src/v/kafka/data/replicated_partition.h
Labels: area/redpanda

kafka/group_manager: fix consumer group lag inflated by log truncation
  src/v/kafka/server/consumer_group_lag_metrics_frontend.cc
  src/v/kafka/server/consumer_group_lag_metrics_rpc_types.h
  src/v/kafka/server/group_manager.cc
  tests/rptest/tests/consumer_group_test.py
Labels: area/redpanda

throttled_raft0_test: add learner cancellation...
  tests/rptest/tests/throttled_raft0_test.py
Labels: none

throttled_raft0_test: add learner cancellation...
  tests/rptest/tests/throttled_raft0_test.py
Labels: none

cloud_topics: abort in-flight multipart uploads on shutdown
  src/v/cloud_io/remote.cc
  src/v/cloud_io/remote.h
  src/v/cloud_storage_clients/multipart_upload.cc
  src/v/cloud_storage_clients/multipart_upload.h
  src/v/cloud_storage_clients/tests/multipart_upload_test.cc
  src/v/cloud_topics/level_one/common/file_io.cc
Labels: area/redpanda

`rptest`: lower cloud topics leveling interval in RNOT
  tests/rptest/tests/random_node_operations_smoke_test.py
Labels: none

`rptest`: add cloud topics leveling scale test
  tests/rptest/scale_tests/cloud_topics_compaction_scale_test.py
  tests/rptest/scale_tests/cloud_topics_maintenance_scale_test.py
  tests/rptest/test_suite_gcp_temporary.yml
Labels: none

`rptest`: leveling test follow ups
  tests/rptest/tests/cloud_topics/e2e_test.py
  tests/rptest/tests/cloud_topics/leveling_stress_test.py
  tests/rptest/tests/cloud_topics/utils.py
Labels: none

`transform`: prevent de-reference of `nullptr` at startup
  src/v/transform/api.cc
Labels: area/redpanda

`transform`: prevent de-reference of `nullptr` at startup
  src/v/transform/api.cc
Labels: area/redpanda

go: bump go version to 1.25.7
  MODULE.bazel
  MODULE.bazel.lock
  bazel/clang_tidy/clang_tidy.bzl
  bazel/thirdparty/go.work
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/transform/buildpack/buildpack.go
  src/v/test_utils/go/go.mod
Labels: area/rpk, area/redpanda

[v25.3.x] rpk: bump golangci-lint to v2 for go 1.25 compatibility
  .github/workflows/lint-golang.yml
  src/go/rpk/.golangci.yml
Labels: area/build, area/rpk

bazel: update seastar to b6f66c6f
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

`ct/l0`: fix divide-by-zero in write scheduler
  src/v/cloud_topics/level_zero/write_request_scheduler/write_request_scheduler.cc
Labels: area/redpanda

json: make the schema walk keyword-aware
  src/v/pandaproxy/schema_registry/json.cc
  src/v/pandaproxy/schema_registry/test/test_json_schema.cc
Labels: area/redpanda

json: make the schema walk keyword-aware
  src/v/pandaproxy/schema_registry/json.cc
  src/v/pandaproxy/schema_registry/test/test_json_schema.cc
Labels: area/redpanda

json: make the schema walk keyword-aware
  src/v/pandaproxy/schema_registry/json.cc
  src/v/pandaproxy/schema_registry/test/test_json_schema.cc
Labels: area/redpanda

cl: Fix cluster link liveness issue
  src/v/cluster_link/replication/partition_replicator.cc
  src/v/cluster_link/replication/partition_replicator.h
  src/v/cluster_link/replication/tests/partition_replicator_tests.cc
Labels: area/redpanda

datalake: Fix deleted namespace race for REST_HADOOP catalog
  tests/rptest/tests/datalake/datalake_table_name_test.py
Labels: none

cluster/health: use kafka high watermark in partition_status
  src/v/cluster/health_monitor_backend.cc
  tests/rptest/tests/consumer_group_test.py
  tests/rptest/tests/read_replica_e2e_test.py
Labels: area/redpanda

dt/kgo: surface worker crashes as descriptive errors
  tests/rptest/services/kgo_verifier_services.py
Labels: none

admin/controller: force raft0 reconfiguration api
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/redpanda/admin/partition.cc
Labels: area/redpanda

admin/controller: expose raft0 cancel_reconfig
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/redpanda/admin/partition.cc
  src/v/redpanda/admin/server.cc
Labels: area/redpanda

rptest: cover raft0 reconfiguration cancel and force
  tests/rptest/services/admin.py
  tests/rptest/tests/throttled_raft0_test.py
Labels: none

raft: hold gate across cancel/force
  src/v/raft/consensus.cc
Labels: area/redpanda

cluster/health: use kafka high watermark in partition_status
  src/v/cluster/health_monitor_backend.cc
  tests/rptest/tests/consumer_group_test.py
  tests/rptest/tests/read_replica_e2e_test.py
Labels: area/redpanda

syschecks/rpk: enforce minimum memory requirement as fatal
  src/go/rpk/pkg/tuners/redpanda_checkers.go
  src/v/syschecks/syschecks.cc
Labels: area/rpk, area/redpanda

kafka: quiet cluster_action probe in OffsetForLeaderEpoch
  src/v/kafka/server/handlers/offset_for_leader_epoch.cc
Labels: area/redpanda

kafka: skip audit events for broker-internal authz probes
  src/v/kafka/server/handlers/offset_for_leader_epoch.cc
  src/v/kafka/server/server.cc
Labels: area/redpanda

`config`: add `enable_development_metrics`
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/rpc/rpc_compiler.py
  src/v/rpc/rpc_server.cc
  src/v/rpc/types.h
  tests/rptest/tests/development_metrics_test.py
Labels: area/redpanda

kafka: chunk describe ACLs response grouping map
  src/v/kafka/server/handlers/describe_acls.cc
Labels: area/redpanda

rptest: cover describe ACLs response at scale
  tests/rptest/tests/describe_acls_scale_test.py
Labels: none

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']
