Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

Revert "c/a/archiver: Start offset_index upload in the background"
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/ntp_archiver_service.h
  src/v/cluster/archival/tests/ntp_archiver_reupload_test.cc
  src/v/cluster/archival/tests/ntp_archiver_test.cc
  src/v/cluster/archival/tests/service_fixture.h
Labels: area/redpanda

archival: Fix off by one
  src/v/cluster/archival/segment_reupload.cc
Labels: area/redpanda

app: Add service shutdown control mechanism
  src/v/redpanda/BUILD
  src/v/redpanda/application.h
Labels: area/redpanda

rpk: bump make's golangci-lint version
  src/go/rpk/Makefile
Labels: area/rpk

rpk/linter: add error-string for the out package
  src/go/rpk/.golangci.yml
  src/go/rpk/pkg/cli/cloud/mcp/mcp.go
  src/go/rpk/pkg/cli/cluster/config/reset.go
  src/go/rpk/pkg/cli/group/offset_delete.go
  src/go/rpk/pkg/cli/redpanda/start.go
  src/go/rpk/pkg/cli/redpanda/start_test.go
  src/go/rpk/pkg/cli/transform/init.go
  src/go/rpk/pkg/cloud/providers.go
  src/go/rpk/pkg/cloud/providers_test.go
  src/go/rpk/pkg/redpanda/launcher.go
  src/go/rpk/pkg/redpanda/paths.go
  src/go/rpk/pkg/system/filesystem/fs_darwin.go
  src/go/rpk/pkg/system/grub.go
  src/go/rpk/pkg/system/memory_darwin.go
  src/go/rpk/pkg/system/runtime_options.go
  src/go/rpk/pkg/tuners/cpu/tuner.go
  src/go/rpk/pkg/tuners/disk/block_device.go
  src/go/rpk/pkg/tuners/disk/block_devices.go
  src/go/rpk/pkg/tuners/disk_scheduler_tuner.go
  src/go/rpk/pkg/tuners/iotune/data.go
  src/go/rpk/pkg/tuners/iotune/io_tune.go
  src/go/rpk/pkg/tuners/irq/balance_service.go
  src/go/rpk/pkg/tuners/irq/cpu_masks.go
  src/go/rpk/pkg/tuners/network/nics.go
  src/go/rpk/pkg/tuners/thp.go
  src/go/rpk/pkg/tuners/thp_test.go
Labels: area/rpk

rpk security acl list: no longer return `null` on empty matches
  src/go/rpk/pkg/cli/security/acl/list.go
  tests/rptest/tests/rpk_acl_test.py
Labels: area/rpk

rpk: add missing mcp command help text
  src/go/rpk/pkg/cli/cloud/mcp/mcp.go
Labels: area/rpk

rpk profile create: fix --from-cloud flag
  src/go/rpk/pkg/cli/profile/BUILD
  src/go/rpk/pkg/cli/profile/create.go
  src/go/rpk/pkg/cli/profile/create_test.go
Labels: area/rpk

cloud_storage: hold gate in remote
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/cloud_storage/tests/remote_test.cc
  src/v/cloud_storage/tests/s3_imposter.h
Labels: area/redpanda

bazel: support flaky attribute on tests
  bazel/test.bzl
Labels: none

ct/l1: expose domains in metastore interface
  src/v/cloud_topics/level_one/metastore/metastore.h
  src/v/cloud_topics/level_one/metastore/simple_metastore.cc
  src/v/cloud_topics/level_one/metastore/simple_metastore.h
  src/v/cloud_topics/level_one/metastore/tests/simple_metastore_test.cc
Labels: area/redpanda

`rptest`: bump timeout for flakey test with `ABS`
  tests/rptest/tests/retention_policy_test.py
Labels: none

dt/util: Introduce wait_until_with_progress_check
  tests/rptest/util.py
Labels: none

rptest: update polaris client
  tests/setup.py
Labels: none

c/a: Re-foreground segment uploads
  src/v/cluster/archival/ntp_archiver_service.cc
Labels: area/redpanda

Adding improvements to iceberg on cloud tests
  tests/rptest/context/databricks.py
  tests/rptest/redpanda_cloud_tests/iceberg_catalogs_test.py
  tests/rptest/services/databricks_workspace.py
  tests/rptest/services/datalake/query_engine/databricks_sql.py
  tests/rptest/services/datalake/util/__init__.py
  tests/rptest/services/datalake/util/table_verifier.py
Labels: none

treewide: remove small/large fragment_vector
  src/v/container/fragmented_vector.h
  src/v/kafka/client/fetcher.cc
  src/v/kafka/client/topic_cache.cc
  src/v/kafka/client/topic_cache.h
  src/v/kafka/protocol/fetch.h
  src/v/kafka/protocol/offset_fetch.h
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/server/group.cc
  src/v/kafka/server/handlers/metadata.cc
Labels: area/redpanda

treewide: remove small/large fragment_vector
  src/v/container/fragmented_vector.h
  src/v/kafka/client/fetcher.cc
  src/v/kafka/client/topic_cache.cc
  src/v/kafka/client/topic_cache.h
  src/v/kafka/protocol/fetch.h
  src/v/kafka/protocol/offset_fetch.h
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/server/group.cc
  src/v/kafka/server/handlers/metadata.cc
Labels: area/redpanda

bazel: Alias debug to sanitizer build config
  .bazelrc
Labels: none

archival: Fix high reupload rate
  src/v/cluster/archival/ntp_archiver_service.cc
Labels: area/redpanda

dt: add missing schema registry flags to acl list
  tests/rptest/clients/rpk.py
Labels: none

t/kgo: upgrade kgo to fix race condition between start and status check
  tests/docker/ducktape-deps/kgo-verifier
Labels: none

sr: Moved SR ephemeral credential to security
  src/v/pandaproxy/schema_registry/service.cc
  src/v/security/acl.h
Labels: area/redpanda

audit: Do not audit ephemeral users
  src/v/kafka/server/request_context.h
  src/v/security/audit/audit_log_manager.cc
  tests/rptest/tests/audit_log_test.py
Labels: area/redpanda

audit: Set user type based on principal type
  src/v/security/audit/audit_log_manager.cc
  src/v/security/scram_authenticator.cc
Labels: area/redpanda

rptest: add recovery test case after full truncation
  tests/rptest/tests/topic_recovery_test.py
Labels: none

cloud_storage: reproduce offset rollback on read replica after truncate
  src/v/cloud_storage/tests/read_replica_test.cc
Labels: area/redpanda

`storage`: pass `seg->size_before()` as `segment_size` hint to `appender`
  src/v/storage/disk_log_impl.cc
  src/v/storage/segment_utils.cc
Labels: area/redpanda

dt: always await user creation in tests
  tests/rptest/services/redpanda.py
  tests/rptest/tests/cluster_config_test.py
  tests/rptest/tests/pandaproxy_test.py
  tests/rptest/tests/schema_registry_test.py
Labels: none

dt/admin: helper to await user exists
  tests/rptest/services/admin.py
Labels: none

dt/si: Dial timeouts way down in fast uploads mode
  tests/rptest/services/redpanda.py
Labels: none

dt/util: Introduce wait_until_with_progress_check
  tests/rptest/util.py
Labels: none

dt/archive: Use progress oriented wait for spillover uploads
  tests/rptest/tests/archive_retention_test.py
Labels: none

dt/archive: Use progress oriented wait for spillover uploads
  tests/rptest/tests/archive_retention_test.py
Labels: none

dt/util: Introduce wait_until_with_progress_check
  tests/rptest/util.py
Labels: none

dt/si: Dial timeouts way down in fast uploads mode
  tests/rptest/services/redpanda.py
Labels: none

`storage`: pass `seg->size_before()` as `segment_size` hint to `appender`
  src/v/storage/disk_log_impl.cc
  src/v/storage/segment_utils.cc
Labels: area/redpanda

k/s/handlers: fix memory estimation for metadata api
  src/v/kafka/server/handlers/metadata.cc
Labels: area/redpanda

k/s/handlers: fix memory estimation for metadata api
  src/v/kafka/server/handlers/metadata.cc
Labels: area/redpanda

k/s/handlers: fix memory estimation for metadata api
  src/v/kafka/server/handlers/metadata.cc
Labels: area/redpanda

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']
