Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

storage/compaction: clamp tombstone remove offset to snapshot offset
  src/v/storage/log_manager.cc
Labels: area/redpanda

archival: minor tweak to warning log
  src/v/cluster/archival/ntp_archiver_service.cc
Labels: area/redpanda

Adding libssl & libcrypto to lsan_suppressions.txt.
  lsan_suppressions.txt
Labels: none

debug expiration
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/rm_stm_test_fixture.h
Labels: area/redpanda

Fix incorrect name for `leader_balancer_node_mute_timeout`
  src/v/config/configuration.cc
Labels: area/redpanda

rptest: re-enable RedpandaOIDCTlsTest
  tests/rptest/test_suite_quick.yml
Labels: none

Adding libssl & libcrypto to lsan_suppressions.txt.
  lsan_suppressions.txt
Labels: none

rptest: Adding strace and tail in RedpandaService to debug shutdown timeout.
  tests/docker/ducktape-deps/base-tools
  tests/rptest/services/redpanda.py
Labels: none

rptest: Adding core dump check to RedpandaService.
  tests/rptest/services/redpanda.py
Labels: none

tx/rm_stm: do not compute lso at shutdown
  src/v/cluster/rm_stm.cc
Labels: area/redpanda

tx/rm_stm: misc comment edits
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
Labels: area/redpanda

tx/rm_stm: do not compute LSO when reset is in progress
  src/v/cluster/rm_stm.cc
Labels: area/redpanda

tx/rm_stm: avoid a dangling rvalue reference from function arg
  src/v/cluster/rm_stm.cc
Labels: area/redpanda

tx/rm_stm/tests: add a test for monotonicity of lso
  src/v/cluster/tests/rm_stm_tests.cc
Labels: area/redpanda

rptest: Run strace earlier.
  tests/rptest/services/redpanda.py
Labels: none

cloud_topics/l0: use share() instead of copy() for cache writes
  src/v/cloud_topics/level_zero/reader/materialized_extent.cc
Labels: area/redpanda

cloud_topics/l0: estimate memory by unique object count
  src/v/cloud_topics/level_zero/read_fanout/BUILD
  src/v/cloud_topics/level_zero/read_fanout/read_fanout.cc
Labels: area/redpanda

fixup! rptest: Adding core dump check to RedpandaService.
  tests/rptest/services/redpanda.py
Labels: none

rptest: Make RedpandaService wait for coredump before checking shutdown.
  tests/rptest/services/redpanda.py
Labels: none

tx/rm_stm: avoid overlfow in timeout.
  src/v/cluster/tests/rm_stm_test_fixture.h
  src/v/cluster/tests/rm_stm_tests.cc
Labels: area/redpanda

tx/rm_stm: disable test_lso_bound_by_open_tx
  src/v/cluster/rm_stm.cc
  src/v/cluster/tests/rm_stm_tests.cc
Labels: area/redpanda

maybe fix
  src/v/cluster/producer_state.cc
  src/v/cluster/producer_state.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/rm_stm_tests.cc
Labels: area/redpanda

wip
  tests/rptest/services/redpanda.py
Labels: none

copilot: Advise to use requests with an explicit timeout
  .github/copilot-instructions.md
Labels: area/build

Revert "raft: defer commit index notifications until log truncation"
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
Labels: area/redpanda

rptest: Adding 'verbosity=1' to ASAN/LSAN_OPTIONS.
  tests/rptest/services/redpanda.py
Labels: none

rptest: Get rid of core dump checking; revert back to original stop_node.
  tests/rptest/services/redpanda.py
Labels: none

rptest: Update stop_node to wait for Shutdown complete log message first before pid check.
  tests/rptest/services/redpanda.py
Labels: none

rptest: Adding _log_process_status
  tests/rptest/services/redpanda.py
Labels: none

Extend pid shutdown wait time
  tests/rptest/services/redpanda.py
Labels: none

Adding logging while waiting for rp stop.
  tests/rptest/services/redpanda.py
Labels: none

Improve logging
  tests/rptest/services/redpanda.py
Labels: none

rptest: Disable core dumping in RedpandaOIDCTestBase
  tests/rptest/tests/redpanda_oauth_test.py
Labels: none

Revert "Adding libssl & libcrypto to lsan_suppressions.txt."
  lsan_suppressions.txt
Labels: none

rptest: Improve logging of RedpandaService shutdown.
  tests/rptest/services/redpanda.py
Labels: none

tests/dm: allow larger time drift when validating migration timing
  tests/rptest/tests/data_migrations_api_test.py
Labels: none

[CORE-14506] rptest: limit duck_db test to S3
  tests/rptest/tests/datalake/datalake_dlq_test.py
Labels: none

rptest: Disable core dumping in RedpandaOIDCTestBase
  tests/rptest/tests/redpanda_oauth_test.py
Labels: none

rptest: Move shutdown log monitor earlier.
  tests/rptest/services/redpanda.py
Labels: none

rptest: Move shutdown log monitor earlier.
  tests/rptest/services/redpanda.py
Labels: none
