Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

encryption: add dek_refill helper for sentinel refill
  src/v/encryption/dek_refill.cc
  src/v/encryption/dek_refill.h
Labels: area/redpanda

cloud_topics/l1: refill DEK sentinels in L1 reader
  src/v/cloud_topics/level_one/frontend_reader/BUILD
  src/v/cloud_topics/level_one/frontend_reader/level_one_reader.cc
  src/v/cloud_topics/level_one/frontend_reader/level_one_reader.h
Labels: area/redpanda

encryption/tests: add unit tests for annotation parser, service, refill, bench
  src/v/encryption/tests/dek_refill_test.cc
  src/v/encryption/tests/encrypt_bench.cc
  src/v/encryption/tests/encryption_service_test.cc
  src/v/encryption/tests/schema_annotation_parser_test.cc
Labels: area/redpanda

encryption: add sharded encryption_service
  src/v/encryption/encryption_service.cc
  src/v/encryption/encryption_service.h
Labels: area/redpanda

encryption/tests: add end-to-end integration test
  src/v/encryption/tests/encryption_integration_test.cc
Labels: area/redpanda

MODULE.bazel: single_version_override for rules_cc
  MODULE.bazel
  MODULE.bazel.lock
Labels: none

update lockfile
  MODULE.bazel.lock
Labels: none

model/transform: add transform_mode enum
  src/v/model/tests/transform_test.cc
  src/v/model/transform.cc
  src/v/model/transform.h
Labels: area/redpanda

wasm: add request_metadata parameter to engine::transform()
  src/v/transform/tests/test_fixture.cc
  src/v/transform/tests/test_fixture.h
  src/v/wasm/BUILD
  src/v/wasm/cache.cc
  src/v/wasm/engine.h
  src/v/wasm/request_metadata.h
  src/v/wasm/tests/wasm_cache_test.cc
  src/v/wasm/wasmtime.cc
Labels: area/redpanda

wasm: implement read_batch_metadata host function (ABI v3)
  src/v/wasm/transform_module.cc
  src/v/wasm/transform_module.h
  src/v/wasm/wasmtime.cc
Labels: area/redpanda

transform/api: expose produce-path engine acquisition
  src/v/transform/api.cc
  src/v/transform/api.h
Labels: area/redpanda

transform: wire up metrics for produce-path engines
  src/v/transform/api.cc
  src/v/transform/api.h
  src/v/transform/produce_path_executor.cc
Labels: area/redpanda

transform/sdk: add Metadata() API to Go SDK (ABI v3)
  src/transform-sdk/go/transform/abi.go
  src/transform-sdk/go/transform/doc.go
  src/transform-sdk/go/transform/processor.go
  src/transform-sdk/go/transform/sdk.go
  src/transform-sdk/go/transform/stub_abi.go
Labels: area/wasm

kafka/produce: skip metadata capture when transforms are disabled
  src/v/kafka/server/handlers/produce.cc
Labels: area/redpanda

dt/x: add ducktape test for produce-path transforms
  src/transform-sdk/go/transform/internal/testdata/CMakeLists.txt
  src/transform-sdk/go/transform/internal/testdata/fanout/BUILD
  src/transform-sdk/go/transform/internal/testdata/fanout/transform.go
  src/transform-sdk/go/transform/internal/testdata/metadata_stamper/BUILD
  src/transform-sdk/go/transform/internal/testdata/metadata_stamper/transform.go
  src/transform-sdk/go/transform/internal/testdata/schema_validator/BUILD
  src/transform-sdk/go/transform/internal/testdata/schema_validator/transform.go
  tests/docker/ducktape-deps/tinygo-wasi-transforms
  tests/rptest/tests/data_transforms_produce_path_test.py
Labels: area/wasm

kafka/produce: capture request metadata for produce-path transforms
  src/v/kafka/server/handlers/produce.cc
  src/v/transform/produce_path_executor.cc
  src/v/transform/produce_path_executor.h
Labels: area/redpanda

wasm: store request_metadata in batch_transform_context
  src/v/wasm/transform_module.cc
  src/v/wasm/transform_module.h
  src/v/wasm/wasmtime.cc
Labels: area/redpanda

cluster/plugin_frontend: allow empty output_topics for produce-path transforms
  src/v/cluster/plugin_frontend.cc
Labels: area/redpanda

transform/sdk: add Metadata() API to Rust SDK (ABI v3)
  src/transform-sdk/rust/core-sys/src/abi.rs
  src/transform-sdk/rust/core-sys/src/lib.rs
  src/transform-sdk/rust/core-sys/src/stub_abi.rs
  src/transform-sdk/rust/core-types/src/lib.rs
Labels: area/wasm

transform: write fan-out batches to output topics via RPC client
  src/v/transform/api.cc
  src/v/transform/api.h
  src/v/transform/produce_path_executor.cc
Labels: area/redpanda

transform: extract produce_path_executor with engine pooling
  src/v/transform/BUILD
  src/v/transform/api.cc
  src/v/transform/api.h
  src/v/transform/produce_path_executor.cc
  src/v/transform/produce_path_executor.h
Labels: area/redpanda

transform: eagerly start produce-path engines at deploy time
  src/v/transform/api.cc
  src/v/transform/produce_path_executor.cc
  src/v/transform/produce_path_executor.h
  src/v/transform/transform_manager.cc
  src/v/transform/transform_manager.h
Labels: area/redpanda

kafka/produce: intercept produce path for WASM transforms
  src/v/kafka/server/BUILD
  src/v/kafka/server/app.cc
  src/v/kafka/server/app.h
  src/v/kafka/server/handlers/produce.cc
  src/v/kafka/server/handlers/tests/BUILD
  src/v/kafka/server/handlers/tests/produce_transform_test.cc
  src/v/kafka/server/server.cc
  src/v/kafka/server/server.h
  src/v/redpanda/application.h
  src/v/redpanda/application_services.cc
  src/v/redpanda/tests/fixture.cc
Labels: area/redpanda

transform: gate produce-path mode behind cluster config flag
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/model/tests/transform_test.cc
  src/v/model/transform.h
  src/v/transform/api.cc
Labels: area/redpanda

dt/x: remove DataTransformsRpcUpgradeTest
  tests/rptest/tests/data_transforms_test.py
Labels: none

transform/manager: add produce-path transform lookup
  src/v/transform/BUILD
  src/v/transform/tests/transform_manager_test.cc
  src/v/transform/transform_manager.cc
  src/v/transform/transform_manager.h
Labels: area/redpanda

kafka/produce: return INVALID_RECORD when transform rejects a record
  src/v/kafka/server/handlers/produce.cc
Labels: area/redpanda

transform: evict cached produce-path engines on delete/redeploy
  src/v/transform/api.cc
  src/v/transform/transform_manager.cc
  src/v/transform/transform_manager.h
Labels: area/redpanda

kafka/produce: add unit tests for fan-out batch split and filtering
  src/v/kafka/server/handlers/tests/produce_transform_test.cc
Labels: area/redpanda

transform/api: add deploy-time validation for produce-path transforms
  src/v/transform/api.cc
Labels: area/redpanda

transform: best-effort fan-out writes with error metric
  src/v/transform/produce_path_executor.cc
  src/v/transform/produce_path_executor.h
  src/v/wasm/transform_probe.cc
  src/v/wasm/transform_probe.h
Labels: area/redpanda

transform: return std::expected from executor instead of throwing
  src/v/kafka/server/handlers/produce.cc
  src/v/transform/produce_path_executor.cc
  src/v/transform/produce_path_executor.h
Labels: area/redpanda

transform: allow output topics for produce-path transforms
  src/v/transform/api.cc
  src/v/transform/api.h
  src/v/transform/produce_path_executor.h
Labels: area/redpanda

transform: reject record-count changes for idempotent producers
  src/v/kafka/server/handlers/produce.cc
  src/v/kafka/server/handlers/tests/produce_transform_test.cc
  src/v/transform/produce_path_executor.cc
  src/v/transform/produce_path_executor.h
Labels: area/redpanda

transform: honor compression_mode for produce-path output
  src/v/kafka/server/handlers/tests/produce_transform_test.cc
  src/v/transform/BUILD
  src/v/transform/api.cc
  src/v/transform/api.h
  src/v/transform/produce_path_executor.cc
  src/v/transform/produce_path_executor.h
Labels: area/redpanda

transform: route produce-path records to declared output topics
  src/v/kafka/server/handlers/produce.cc
  src/v/transform/produce_path_executor.cc
Labels: area/redpanda

kafka/produce: skip request metadata build when unused
  src/v/kafka/server/handlers/produce.cc
  src/v/transform/api.cc
  src/v/transform/api.h
  src/v/transform/transform_manager.h
Labels: area/redpanda

DNM: produce path wasm demos
  produce_path_wasm/demos/principal-stamping/.gitignore
  produce_path_wasm/demos/principal-stamping/BUILD
  produce_path_wasm/demos/principal-stamping/DEMO.md
  produce_path_wasm/demos/principal-stamping/README.md
  produce_path_wasm/demos/principal-stamping/go.mod
  produce_path_wasm/demos/principal-stamping/transform.go
  produce_path_wasm/demos/principal-stamping/transform.yaml
  produce_path_wasm/demos/schema-validation/.gitignore
  produce_path_wasm/demos/schema-validation/BUILD
  produce_path_wasm/demos/schema-validation/DEMO.md
  produce_path_wasm/demos/schema-validation/README.md
  produce_path_wasm/demos/schema-validation/avro/BUILD
  produce_path_wasm/demos/schema-validation/avro/example.go
  produce_path_wasm/demos/schema-validation/avro/schema.avsc
  produce_path_wasm/demos/schema-validation/go.mod
  produce_path_wasm/demos/schema-validation/transform.go
  produce_path_wasm/demos/schema-validation/transform.yaml
  produce_path_wasm/demos/tenant-region/.gitignore
  produce_path_wasm/demos/tenant-region/BUILD
  produce_path_wasm/demos/tenant-region/DEMO.md
  produce_path_wasm/demos/tenant-region/go.mod
  produce_path_wasm/demos/tenant-region/transform.go
  produce_path_wasm/demos/tenant-region/transform.yaml
Labels: none

kafka/produce: map engine_unavailable to request_timed_out
  src/v/kafka/server/handlers/produce.cc
Labels: area/redpanda

transform-sdk/go: expose listener_name metadata key
  src/transform-sdk/go/transform/sdk.go
Labels: area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']
