Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

ct: Fix seen/apply window divergence
  src/v/cloud_topics/frontend/frontend.cc
  src/v/cloud_topics/level_zero/stm/ctp_stm.cc
  src/v/cloud_topics/level_zero/stm/tests/ctp_stm_test.cc
  src/v/cloud_topics/level_zero/stm/types.h
Labels: area/redpanda

rpk: structured command status (experimental/beta) via annotations
  src/go/rpk/pkg/cli/cmdstatus/cmdstatus.go
  src/go/rpk/pkg/cli/cmdstatus/cmdstatus_test.go
  src/go/rpk/pkg/cli/printtree.go
  src/go/rpk/pkg/cli/printtree_test.go
  src/go/rpk/pkg/cli/root.go
Labels: area/rpk

rpk: align cmdstatus statuses with documented maturity stages
  src/go/rpk/pkg/cli/cmdstatus/cmdstatus.go
  src/go/rpk/pkg/cli/cmdstatus/cmdstatus_test.go
Labels: area/rpk

ct/l0: deflake read_merge_test
  src/v/cloud_topics/level_zero/common/level_zero_probe.h
  src/v/cloud_topics/level_zero/read_merge/read_merge.h
  src/v/cloud_topics/level_zero/read_merge/tests/BUILD
  src/v/cloud_topics/level_zero/read_merge/tests/read_merge_test.cc
Labels: area/redpanda

cloud_io: serialize concurrent throughput updates
  src/v/cloud_io/BUILD
  src/v/cloud_io/io_resources.cc
  src/v/cloud_io/io_resources.h
Labels: area/redpanda

cloud_io: apply throughput percent on each recompute
  src/v/cloud_io/io_resources.cc
Labels: area/redpanda

tools/antithesis: add manifest-driven test packaging
  tools/antithesis/template_deps/redpanda.Dockerfile.j2
  tools/antithesis/template_test_package.py
Labels: none

tests/antithesis/ct: add the cloud topics stress workload
  .gitignore
  tests/antithesis/cloud_cluster_stress/ct/Dockerfile
  tests/antithesis/cloud_cluster_stress/ct/commands.go
  tests/antithesis/cloud_cluster_stress/ct/go.mod
  tests/antithesis/cloud_cluster_stress/ct/go.sum
  tests/antithesis/cloud_cluster_stress/ct/main.go
  tests/antithesis/cloud_cluster_stress/ct/setup.go
  tests/antithesis/cloud_cluster_stress/ct/topics.go
Labels: none

tests/antithesis: add the cloud cluster stress environment
  tests/antithesis/cloud_cluster_stress/docker-compose.yaml.j2
  tests/antithesis/cloud_cluster_stress/scripts/bootstrap.yaml.j2
  tests/antithesis/cloud_cluster_stress/scripts/minio-init.sh
  tests/antithesis/cloud_cluster_stress/scripts/redpanda-entrypoint.sh
  tests/antithesis/cloud_cluster_stress/test.yml
Labels: none

tests/antithesis/ct: produce and range-check a cloud topic
  tests/antithesis/cloud_cluster_stress/ct/check.go
  tests/antithesis/cloud_cluster_stress/ct/commands.go
  tests/antithesis/cloud_cluster_stress/ct/main.go
  tests/antithesis/cloud_cluster_stress/ct/record.go
Labels: none

tests/antithesis/ct: add a compacted cloud topic workload
  tests/antithesis/cloud_cluster_stress/ct/commands.go
  tests/antithesis/cloud_cluster_stress/ct/ctc.go
  tests/antithesis/cloud_cluster_stress/ct/main.go
  tests/antithesis/cloud_cluster_stress/ct/topics.go
  tests/antithesis/cloud_cluster_stress/scripts/bootstrap.yaml.j2
Labels: none

tests/antithesis/ct: check completeness after faults stop
  tests/antithesis/cloud_cluster_stress/ct/check.go
  tests/antithesis/cloud_cluster_stress/ct/main.go
Labels: none

tests/antithesis/ct: move partition replicas under load
  tests/antithesis/cloud_cluster_stress/ct/main.go
  tests/antithesis/cloud_cluster_stress/ct/move.go
Labels: none

tests/antithesis/ct: flip storage modes under load
  tests/antithesis/cloud_cluster_stress/ct/flip.go
  tests/antithesis/cloud_cluster_stress/ct/main.go
Labels: none

tests/antithesis/ct: assert cloud topics IO is exercised
  tests/antithesis/cloud_cluster_stress/ct/main.go
  tests/antithesis/cloud_cluster_stress/ct/metrics.go
Labels: none

tmp: disable pid eviction
  src/v/cluster/rm_stm.cc
Labels: area/redpanda

DNM: CORE-16997 A/B control
  README.md
Labels: none

DNM: CORE-16997 A/B minimal
  README.md
Labels: none

DNM: CORE-16997 A/B minimal-wl
  README.md
Labels: none

`rptest`: add `TimeQueryParityTest`
  tests/rptest/tests/timequery_parity_test.py
Labels: none

DNM: CORE-16997 A/B arm D (minimal + tightened whitelist)
  README.md
Labels: none

tests/rptest: wait for target HWM to settle after shadow-link failover
  tests/rptest/tests/cluster_linking_e2e_test.py
Labels: none

`cloud_storage`: make segment index timestamp seeks non-monotonic safe
  src/v/cloud_storage/offset_index.cc
  src/v/cloud_storage/offset_index.h
  src/v/cloud_storage/remote_segment_index.cc
  src/v/cloud_storage/remote_segment_index.h
  src/v/cloud_storage/tests/remote_segment_index_test.cc
Labels: area/redpanda

`cluster`: only discard local timequery hits when cloud retains a prefix
  src/v/cluster/partition.cc
Labels: area/redpanda

bazel: Remove avro bazel patch hacks
  MODULE.bazel.lock
  bazel/repositories.bzl
  bazel/thirdparty/avro-fmt-const.patch
  bazel/thirdparty/avro-libcxx-includes.patch
  bazel/thirdparty/avro-snappy-includes.patch
Labels: none

storage: mark snapshot writer/reader closed regardless of close outcome
  src/v/storage/snapshot.cc
  src/v/storage/tests/BUILD
  src/v/storage/tests/snapshot_test.cc
Labels: area/redpanda

bazel: define an empty ci-remote-cache config
  .bazelrc
Labels: none

kafka/client: authenticate under the reconnect mutex
  src/v/kafka/client/broker.cc
  src/v/kafka/client/broker.h
  src/v/kafka/client/test/BUILD
  src/v/kafka/client/test/cluster_test.cc
Labels: area/redpanda

storage/tests: add coverage-guided segment_appender fuzzer
  src/v/storage/tests/BUILD
  src/v/storage/tests/segment_appender_fuzz.cc
Labels: area/redpanda

bazel: define an empty ci-remote-cache config
  .bazelrc
Labels: none

bazel: define an empty ci-remote-cache config
  .bazelrc
Labels: none

bazel: define an empty ci-remote-cache config
  .bazelrc
Labels: none

`cloud_storage`: add tiered storage timequery cost test
  src/v/cloud_storage/tests/BUILD
  src/v/cloud_storage/tests/timequery_cost_test.cc
Labels: area/redpanda

`cloud_storage`: use running maximum timestamp in `remote_segment_index`
  src/v/cloud_storage/offset_index.cc
  src/v/cloud_storage/offset_index.h
  src/v/cloud_storage/remote_segment_index.cc
  src/v/cloud_storage/remote_segment_index.h
  src/v/cloud_storage/tests/remote_segment_index_test.cc
  src/v/model/record.h
Labels: area/redpanda

`cluster`: only discard local timequery hits when cloud retains a prefix
  src/v/cluster/partition.cc
Labels: area/redpanda

tests/node_ops: tolerate ongoing chaos testing in decommission progress check
  tests/rptest/tests/shadow_linking_rnot_test.py
  tests/rptest/utils/node_operations.py
Labels: none

rpk/connect: don't cap version segments at two digits in VersionFromString
  src/go/rpk/pkg/redpanda/version.go
  src/go/rpk/pkg/redpanda/version_test.go
Labels: area/rpk

kafka/client: authenticate under the reconnect mutex
  src/v/kafka/client/broker.cc
  src/v/kafka/client/broker.h
  src/v/kafka/client/test/BUILD
  src/v/kafka/client/test/cluster_test.cc
Labels: area/redpanda

rpk/redpanda: return an error instead of ignoring Atoi failures in VersionFromString
  src/go/rpk/pkg/redpanda/version.go
  src/go/rpk/pkg/redpanda/version_test.go
Labels: area/rpk

bytes: simplify check_equals(...) in iobuf fuzz test
  src/v/bytes/tests/iobuf_fuzz.cc
Labels: area/redpanda

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']
