Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

rnot with reconciler
  tests/rptest/tests/random_node_operations_test.py
Labels: none

WIP: safe partition recovery
  src/v/cluster/controller_backend.cc
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/raft/consensus_utils.cc
  src/v/raft/consensus_utils.h
  src/v/raft/group_manager.cc
  src/v/raft/group_manager.h
Labels: area/redpanda

logging
  src/v/cluster_link/group_mirroring_task.cc
Labels: area/redpanda

docs: apply backticks to .proto
  proto/redpanda/core/admin/v2/shadow_link.proto
Labels: none

docs: apply style guide
  proto/redpanda/core/admin/v2/shadow_link.proto
  tests/rptest/clients/admin/proto/redpanda/core/admin/v2/shadow_link_pb2.py
  tests/rptest/clients/admin/proto/redpanda/core/admin/v2/shadow_link_pb2.pyi
Labels: none

test: enable cloud topics reconciler
  tests/rptest/tests/random_node_operations_smoke_test.py
Labels: none

wip
  src/v/cluster/topics_frontend.cc
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/kafka/server/handlers/configs/config_response_utils.cc
  src/v/kafka/server/handlers/create_topics.cc
Labels: area/redpanda

`ssx`: support different `Rate` types in `rate_limited_function`
  src/v/ssx/rate_limited_function.h
  src/v/ssx/tests/BUILD
  src/v/ssx/tests/rate_limited_function_test.cc
Labels: area/redpanda

chunked_vector: Satisfy random_access_iterator concepts
  src/v/container/chunked_vector.h
  src/v/container/tests/chunked_vector_test.cc
Labels: area/redpanda

rpk: Remove deprecated cmd from help text
  src/go/rpk/pkg/cli/redpanda/config.go
Labels: area/rpk

rpk: Remove deprecated cmd from help text
  src/go/rpk/pkg/cli/redpanda/config.go
Labels: area/rpk

datalake: log when can not parse proto descriptor
  src/v/datalake/record_schema_resolver.cc
Labels: area/redpanda

`config`: add `storage_segment_size_refresh_rate_ms`
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

wip
  src/v/cloud_topics/frontend/frontend.cc
  src/v/cloud_topics/level_one/frontend_reader/reader.cc
Labels: area/redpanda

test: enable cloud topics reconciler
  tests/rptest/tests/random_node_operations_smoke_test.py
Labels: none

x
  src/v/cloud_topics/level_one/frontend_reader/reader.cc
Labels: area/redpanda

`storage`: add `segment_size_histogram` related members to `log_manager`
  src/v/storage/BUILD
  src/v/storage/log_manager.cc
  src/v/storage/log_manager.h
Labels: area/redpanda

`storage`: add `segment_size` metric to `log_manager_probe`
  src/v/storage/log_manager.cc
  src/v/storage/log_manager_probe.cc
  src/v/storage/log_manager_probe.h
Labels: area/redpanda

`rptest`: add `log_segment_size_test`
  tests/rptest/tests/log_segment_size_test.py
Labels: none

`storage`: add `log_manager_segment_size_histogram` fixture tests
  src/v/storage/tests/common.h
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

dt: Update kcl 0.17.0
  tests/docker/ducktape-deps/kcl
  tests/rptest/clients/kcl.py
Labels: none

wip
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/datalake/catalog_schema_manager.cc
  src/v/datalake/catalog_schema_manager.h
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/catalog_schema_manager_test.cc
  src/v/iceberg/BUILD
  src/v/iceberg/compatibility.cc
  src/v/iceberg/compatibility.h
  src/v/iceberg/partition.cc
Labels: area/redpanda

cl: Added prefix_trimmer task
  src/v/cluster_link/BUILD
  src/v/cluster_link/prefix_trimmer.cc
  src/v/cluster_link/prefix_trimmer.h
Labels: area/redpanda

k/d/rpc: Add delete_records to local service
  src/v/cluster_link/tests/deps.h
  src/v/kafka/data/rpc/deps.cc
  src/v/kafka/data/rpc/deps.h
  src/v/kafka/data/rpc/service.cc
  src/v/kafka/data/rpc/service.h
  src/v/kafka/data/rpc/test/deps.h
  src/v/transform/rpc/deps.cc
  src/v/transform/rpc/deps.h
  src/v/transform/rpc/tests/transform_rpc_test.cc
Labels: area/redpanda

cl: Wire prefix_trimmer task into service
  src/v/cluster_link/BUILD
  src/v/cluster_link/service.cc
Labels: area/redpanda

k/d/rpc: Add RPC for delete_offsets
  src/v/kafka/data/rpc/rpc.json
  src/v/kafka/data/rpc/service.cc
  src/v/kafka/data/rpc/service.h
Labels: area/redpanda

cl/model: Add prefix trimming config
  src/v/cluster_link/model/types.cc
  src/v/cluster_link/model/types.h
Labels: area/redpanda

k/d/rpc: Add delete_offsets to client
  src/v/kafka/data/rpc/BUILD
  src/v/kafka/data/rpc/client.cc
  src/v/kafka/data/rpc/client.h
  src/v/kafka/data/rpc/test/deps.h
  src/v/kafka/data/rpc/test/kafka_data_rpc_test.cc
Labels: area/redpanda

cl: Wire in kafka data rpc client
  src/v/cluster_link/BUILD
  src/v/cluster_link/service.cc
  src/v/cluster_link/service.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
Labels: area/redpanda

k/d/r: Add delete_offsets serde messages
  src/v/kafka/data/rpc/BUILD
  src/v/kafka/data/rpc/serde.cc
  src/v/kafka/data/rpc/serde.h
Labels: area/redpanda

cl: Wire kafka data rpc client into manager
  src/v/cluster_link/deps.cc
  src/v/cluster_link/deps.h
  src/v/cluster_link/manager.cc
  src/v/cluster_link/manager.h
  src/v/cluster_link/service.cc
  src/v/cluster_link/tests/deps.cc
  src/v/cluster_link/tests/deps.h
  src/v/cluster_link/tests/link_test.cc
Labels: area/redpanda

cl: Wire in task notification of leadership changes
  src/v/cluster_link/link.cc
  src/v/cluster_link/link.h
Labels: area/redpanda

cl: Add method to task to handle partition leadership changes
  src/v/cluster_link/task.cc
  src/v/cluster_link/task.h
Labels: area/redpanda

admin/sl: Add support for new prefix trimming options
  src/v/redpanda/admin/services/shadow_link/converter.cc
Labels: area/redpanda

proto: Added PartitionPrefixTrimmingOptions
  proto/redpanda/core/admin/v2/shadow_link.proto
  tests/rptest/clients/admin/proto/redpanda/core/admin/v2/shadow_link_pb2.py
  tests/rptest/clients/admin/proto/redpanda/core/admin/v2/shadow_link_pb2.pyi
Labels: none

k/d/rpc: Returning log start offset
  src/v/kafka/data/rpc/serde.cc
  src/v/kafka/data/rpc/serde.h
  src/v/kafka/data/rpc/service.cc
Labels: area/redpanda

cl: Wire kafka RPC accessor into link
  src/v/cluster_link/link.cc
  src/v/cluster_link/link.h
Labels: area/redpanda

dt: Add tests for prefix trimming
  tests/rptest/tests/cluster_linking_e2e_test.py
Labels: none

datalake: log registry error if any
  src/v/datalake/record_schema_resolver.cc
Labels: area/redpanda

vassert: mark vunreachable as unlikely
  src/v/base/vassert.h
Labels: area/redpanda

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']
