Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

`storage`: make `vectorized_storage_log_compacted_segment` a public metric
  src/v/storage/probe.cc
  tests/rptest/tests/compacted_term_rolled_recovery_test.py
  tests/rptest/tests/compatibility/java_compression_test.py
  tests/rptest/tests/controller_partition_invariants_test.py
  tests/rptest/tests/log_compaction_test.py
  tests/rptest/tests/topic_delete_test.py
  tests/rptest/transactions/compaction_e2e_test.py
Labels: area/redpanda

security/tests: move license test to gtest
  src/v/security/tests/BUILD
  src/v/security/tests/license_test.cc
Labels: area/redpanda

sec/tests: extract `get_test_license` helper
  src/v/features/tests/BUILD
  src/v/features/tests/feature_table_test.cc
  src/v/security/tests/BUILD
  src/v/security/tests/license_test.cc
  src/v/security/tests/license_utils.h
Labels: area/redpanda

sec/tests: improve CI env check
  src/v/security/tests/BUILD
  src/v/security/tests/license_utils.h
Labels: area/redpanda

features/test: convert feature_tabel_test to gtest
  src/v/features/tests/BUILD
  src/v/features/tests/feature_table_test.cc
Labels: area/redpanda

cm/tests: skip tests locally if no license
  src/v/cluster/cloud_metadata/tests/BUILD
  src/v/cluster/cloud_metadata/tests/cluster_metadata_utils.h
  src/v/cluster/cloud_metadata/tests/cluster_recovery_backend_test.cc
  src/v/cluster/cloud_metadata/tests/controller_snapshot_reconciliation_test.cc
Labels: area/redpanda

treewide/test: improve license skipping message
  src/v/features/tests/feature_table_test.cc
  src/v/security/tests/license_test.cc
  src/v/security/tests/license_utils.h
Labels: area/redpanda

raft/heartbeat_manager: race condition on _fstats
  src/v/raft/heartbeat_manager.cc
  src/v/raft/heartbeat_manager.h
Labels: area/redpanda

raft/heartbeat_manager: race condition on _fstats
  src/v/raft/heartbeat_manager.cc
  src/v/raft/heartbeat_manager.h
Labels: area/redpanda

raft/heartbeat_manager: race condition on _fstats
  src/v/raft/heartbeat_manager.cc
  src/v/raft/heartbeat_manager.h
Labels: area/redpanda

dl/tests: deflake iceberg usage test
  tests/rptest/tests/datalake/datalake_usage_test.py
Labels: none

rpk: group describe shows coordinator partition
  MODULE.bazel
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/group/BUILD
  src/go/rpk/pkg/cli/group/describe.go
  tests/rptest/clients/rpk.py
  tests/rptest/tests/consumer_group_test.py
  tests/rptest/tests/rpk_group_test.py
Labels: area/rpk

rpk: group describe shows coordinator partition
  MODULE.bazel
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/group/BUILD
  src/go/rpk/pkg/cli/group/describe.go
  tests/rptest/clients/rpk.py
  tests/rptest/tests/consumer_group_test.py
  tests/rptest/tests/rpk_group_test.py
Labels: area/rpk

wip
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/connection_context.h
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/request_context.h
  src/v/kafka/server/requests.cc
  src/v/net/server.cc
  tests/rptest/tests/random_node_operations_test.py
Labels: area/redpanda

c/leaders_table: wire in controller abort source
  src/v/cluster/controller.cc
  src/v/cluster/partition_leaders_table.cc
  src/v/cluster/partition_leaders_table.h
  src/v/cluster/tests/partition_leaders_table_test.cc
Labels: area/redpanda

datalake: do not set schema_id to -1 when creating schema
  src/v/datalake/catalog_schema_manager.cc
  src/v/iceberg/tests/merge_append_action_test.cc
Labels: area/redpanda

datalake/tests: throw if current schema is not in the list (invariant violation)
  src/v/datalake/tests/catalog_schema_manager_test.cc
Labels: area/redpanda

iceberg: introduce set_current_schema::last_added and remove schema::unassigned_id
  src/v/datalake/tests/catalog_schema_manager_test.cc
  src/v/iceberg/schema.h
  src/v/iceberg/table_update.h
  src/v/iceberg/table_update_applier.cc
  src/v/iceberg/update_schema_action.cc
Labels: area/redpanda

c/leaders_table: wire in controller abort source
  src/v/cluster/controller.cc
  src/v/cluster/partition_leaders_table.cc
  src/v/cluster/partition_leaders_table.h
  src/v/cluster/tests/partition_leaders_table_test.cc
Labels: area/redpanda

c/leaders_table: wire in controller abort source
  src/v/cluster/controller.cc
  src/v/cluster/partition_leaders_table.cc
  src/v/cluster/partition_leaders_table.h
  src/v/cluster/tests/partition_leaders_table_test.cc
Labels: area/redpanda

`storage`: bump chunked sliding window compaction log line to `INFO`
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda

`storage`: bump window compaction log lines to `INFO`
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda

cluster: rename latest_protobuf_value* types to reflect current semantics
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/metrics_reporter.h
  src/v/model/metadata.h
Labels: area/redpanda

cluster: remove unused version value on metrics_snapshot
  src/v/cluster/metrics_reporter.h
Labels: area/redpanda

config: rename historical artifact latest_protobuf_value to value_schema_latest
  src/v/config/configuration.cc
Labels: area/redpanda

cluster: remove unused version value on metrics_snapshot
  src/v/cluster/metrics_reporter.h
Labels: area/redpanda

config: rename historical artifact latest_protobuf_value to value_schema_latest
  src/v/config/configuration.cc
Labels: area/redpanda

cluster: rename latest_protobuf_value* types to reflect current semantics
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/metrics_reporter.h
  src/v/model/metadata.h
Labels: area/redpanda

tiered_storage_model_test: try to fix timeout
  tests/rptest/tests/tiered_storage_model_test.py
Labels: none

raft/basic_raft_fixture_test: deflake & hb fix
  src/v/raft/tests/basic_raft_fixture_test.cc
Labels: area/redpanda

raft/basic_raft_fixture_test: deflake & hb fix
  src/v/raft/tests/basic_raft_fixture_test.cc
Labels: area/redpanda

raft/basic_raft_fixture_test: deflake & hb fix
  src/v/raft/tests/basic_raft_fixture_test.cc
Labels: area/redpanda

raft/tests/raft_reconfiguration_test deflake leak
  src/v/raft/tests/raft_reconfiguration_test.cc
Labels: area/redpanda

raft/tests/raft_reconfiguration_test deflake leak
  src/v/raft/tests/raft_reconfiguration_test.cc
Labels: area/redpanda

raft/tests/raft_reconfiguration_test deflake leak
  src/v/raft/tests/raft_reconfiguration_test.cc
Labels: area/redpanda

dt/tests: deflake test_recovery_after_snapshot_is_delivered
  tests/rptest/tests/idempotency_test.py
Labels: none

iceberg: gcp auth mgr
  src/v/cloud_roles/refresh_credentials.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/convert.h
  src/v/config/types.cc
  src/v/config/types.h
  src/v/config/validators.cc
  src/v/datalake/coordinator/catalog_factory.cc
  src/v/datalake/credential_manager.cc
  src/v/iceberg/rest_client/catalog_client.cc
Labels: area/redpanda

cl: Add support for syncing topic properties
  src/v/cluster_link/source_topic_syncer.cc
  src/v/cluster_link/source_topic_syncer.h
  src/v/cluster_link/tests/BUILD
  src/v/cluster_link/tests/topic_properties_syncer_test.cc
Labels: area/redpanda

k/d/rpc: Allow setting RF when creating topic
  src/v/kafka/data/rpc/deps.cc
  src/v/kafka/data/rpc/deps.h
  src/v/kafka/data/rpc/test/deps.h
Labels: area/redpanda

k/d/rpc: Add create_partitions to topic_creator
  src/v/kafka/data/rpc/deps.cc
  src/v/kafka/data/rpc/deps.h
  src/v/kafka/data/rpc/test/deps.cc
  src/v/kafka/data/rpc/test/deps.h
Labels: area/redpanda

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']
