Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

d/coordinator: fixed possible iterator generation mismatch
  src/v/datalake/coordinator/coordinator.cc
Labels: area/redpanda

tests/datalake: run topic lifecycle test with filesystem catalog
  tests/rptest/tests/datalake/datalake_e2e_test.py
Labels: none

`model`: support `ss::stop_iteration` in `for_each_record_async()`
  src/v/model/record.h
Labels: area/redpanda

datalake: drop invalid records
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
Labels: area/redpanda

raft/tests: adjust memory requirements for raft reconfiguration test
  src/v/raft/tests/BUILD
Labels: area/redpanda

`storage`: add function `rewrite_segment_with_offset_map()`
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
Labels: area/redpanda

`storage`: add `linear_scan_of_segment_for_map()`
  src/v/storage/segment_deduplication_utils.cc
  src/v/storage/segment_deduplication_utils.h
Labels: area/redpanda

`storage`: add optional arg to `create_full_segment_reader()`
  src/v/storage/segment_utils.cc
  src/v/storage/segment_utils.h
Labels: area/redpanda

`storage`: make `key_offset_map::reset()` a `virtual` function
  src/v/storage/key_offset_map.cc
  src/v/storage/key_offset_map.h
Labels: area/redpanda

`storage:` add `zero_segments_indexed_exception`
  src/v/storage/exceptions.h
  src/v/storage/segment_deduplication_utils.cc
Labels: area/redpanda

rpk: parse --help for byoc plugin
  src/go/rpk/pkg/cli/cloud/byoc/byoc.go
Labels: area/rpk

c/controller: 2-phase controller_stm shutdown
  src/v/cluster/controller.cc
Labels: area/redpanda

tests: handle shutdown shortly after startup
  tests/rptest/tests/quick_terminate_test.py
Labels: none

raft/stm: log shutdown exceptions in apply()
  src/v/raft/state_machine.cc
Labels: area/redpanda

c/controller_stm: expose a method to stop apply loop by triggering _as
  src/v/cluster/controller_stm.cc
  src/v/cluster/controller_stm.h
  src/v/raft/state_machine.cc
  src/v/raft/state_machine.h
Labels: area/redpanda

r/consensus: always use serde serializtion for append entries requests
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/consensus_client_protocol.h
  src/v/raft/recovery_stm.cc
  src/v/raft/replicate_entries_stm.cc
  src/v/raft/rpc_client_protocol.cc
  src/v/raft/rpc_client_protocol.h
  src/v/raft/tests/raft_fixture.cc
  src/v/raft/tests/raft_fixture.h
Labels: area/redpanda

features: retire raft_append_entries_serde feature
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
Labels: area/redpanda

r/types: track batches size in append entries requests
  src/v/compat/raft_compat.h
  src/v/compat/raft_generator.h
  src/v/raft/consensus.cc
  src/v/raft/recovery_stm.cc
  src/v/raft/recovery_stm.h
  src/v/raft/replicate_batcher.cc
  src/v/raft/replicate_entries_stm.cc
  src/v/raft/replicate_entries_stm.h
  src/v/raft/service.h
  src/v/raft/tests/raft_fixture.cc
  src/v/raft/tests/type_serialization_tests.cc
  src/v/raft/types.cc
  src/v/raft/types.h
Labels: area/redpanda

raft: use buffered protocol in raft
  src/v/raft/group_manager.cc
  src/v/raft/group_manager.h
  src/v/raft/replicate_entries_stm.cc
  src/v/raft/tests/basic_raft_fixture_test.cc
  src/v/raft/tests/raft_fixture.cc
  src/v/raft/tests/raft_fixture.h
  src/v/raft/tests/simple_raft_fixture.h
  src/v/redpanda/application.cc
Labels: area/redpanda

r/client_protocol: do not use rvalue references in client protocol
  src/v/raft/buffered_protocol.cc
  src/v/raft/buffered_protocol.h
  src/v/raft/consensus_client_protocol.h
  src/v/raft/rpc_client_protocol.cc
  src/v/raft/rpc_client_protocol.h
  src/v/raft/tests/raft_fixture.cc
  src/v/raft/tests/raft_fixture.h
Labels: area/redpanda

raft: removed follower_queue
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/raft/BUILD
  src/v/raft/CMakeLists.txt
  src/v/raft/consensus.cc
  src/v/raft/follower_queue.cc
  src/v/raft/follower_queue.h
  src/v/raft/follower_stats.cc
  src/v/raft/follower_stats.h
Labels: area/redpanda

configuration: introduced properties controlling raft buffered protocol
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

tests: added slow follower test
  tests/rptest/tests/raft_slow_follower_test.py
Labels: none

c/tests: removed raft serializtion tests from cluster submodule
  src/v/cluster/tests/serialization_rt_test.cc
Labels: area/redpanda

raft: introduced buffered protocol
  src/v/raft/BUILD
  src/v/raft/CMakeLists.txt
  src/v/raft/buffered_protocol.cc
  src/v/raft/buffered_protocol.h
Labels: area/redpanda

c/controller_backend: allow `shutdown_partition` to fail on app shutdown
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
Labels: area/redpanda

c/controller_backend: allow `shutdown_partition` to fail on app shutdown
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
Labels: area/redpanda

cluster: Fix type mismatch in test
  src/v/cluster/tests/cluster_test_fixture.h
Labels: area/redpanda

cluster: Add cluster_test_fixture to bazel build
  src/v/cluster/tests/BUILD
Labels: area/redpanda

archival: Add archiver_manager_test to bazel
  src/v/cluster/archival/tests/BUILD
  src/v/cluster/archival/tests/archival_service_fixture.h
Labels: area/redpanda

config: Add 'log_segment_index_compression' config
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

tests: added missing timeout setting in partition reconfiguration test
  tests/rptest/tests/partition_force_reconfiguration_test.py
Labels: none

kgo: crash on data loss
  tests/docker/ducktape-deps/kgo-verifier
Labels: none

tests: wrapped querying high watermark with exception handler
  tests/rptest/transactions/tx_atomic_produce_consume_test.py
Labels: none

c/backend: do not use members table in controller backend
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
Labels: area/redpanda

r/group_configuration: remove trivial method creating initial config
  src/v/raft/group_manager.cc
  src/v/raft/group_manager.h
Labels: area/redpanda

c/members_manager: always use command based membership
  src/v/cluster/archival/tests/service_fixture.cc
  src/v/cluster/controller.cc
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
  src/v/cluster/members_backend.cc
  src/v/cluster/members_manager.cc
  src/v/cluster/members_manager.h
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/cluster/raft0_utils.h
  src/v/raft/consensus_utils.cc
  src/v/raft/consensus_utils.h
  src/v/raft/group_manager.cc
  src/v/raft/group_manager.h
  src/v/raft/tests/simple_raft_fixture.h
Labels: area/redpanda

tests: added missing timeout setting in partition reconfiguration test
  tests/rptest/tests/partition_force_reconfiguration_test.py
Labels: none

tests: added missing timeout setting in partition reconfiguration test
  tests/rptest/tests/partition_force_reconfiguration_test.py
Labels: none

tests: added escaping table names in queries
  tests/rptest/services/spark_service.py
  tests/rptest/services/trino_service.py
  tests/rptest/tests/datalake/datalake_services.py
  tests/rptest/tests/datalake/query_engine_base.py
Labels: none
