Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

rpk: fix typo in alter quotas and ACL example
  src/go/rpk/pkg/cli/cluster/quotas/alter.go
  src/go/rpk/pkg/cli/security/acl/list.go
Labels: area/rpk

rpk cluster config: install --all flag locally
  src/go/rpk/pkg/cli/cluster/config/config.go
  src/go/rpk/pkg/cli/cluster/config/edit.go
  src/go/rpk/pkg/cli/cluster/config/export.go
  src/go/rpk/pkg/cli/cluster/config/import.go
Labels: area/rpk

rpk: bump go dependencies
  MODULE.bazel
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/container/common/BUILD
  src/go/rpk/pkg/cli/container/common/client.go
  src/go/rpk/pkg/cli/container/common/common.go
  src/go/rpk/pkg/cli/container/common/test.go
Labels: area/rpk

bazel: bump all golang deps
  src/transform-sdk/tests/go.mod
  src/transform-sdk/tests/go.sum
Labels: area/wasm

bazel: bump rules_go
  MODULE.bazel
  MODULE.bazel.lock
Labels: none

bazel: remove src/transform-sdk/tests from bazel
  BUILD
  MODULE.bazel
  MODULE.bazel.lock
  bazel/thirdparty/go.work
  src/transform-sdk/tests/BUILD
Labels: area/wasm

rpk: bump go tools to fix broken build with go 1.25
  .github/workflows/rpk-build.yml
  src/go/rpk/go.mod
  src/go/rpk/go.sum
Labels: area/build, area/rpk

bazel: bump buildifier version
  MODULE.bazel
  MODULE.bazel.lock
Labels: none

bazel: Install parallel/cgroup-utils
  tools/docker/bazel.dockerfile
Labels: none

admin: Adjust redirect logic to allow subdomain matching
  src/v/redpanda/admin/server.cc
  tests/rptest/tests/leaders_redirect_test.py
Labels: area/redpanda

admin: Adjust redirect logic to allow subdomain matching
  src/v/redpanda/admin/server.cc
  tests/rptest/tests/leaders_redirect_test.py
Labels: area/redpanda

admin: Adjust redirect logic to allow subdomain matching
  src/v/redpanda/admin/server.cc
  tests/rptest/tests/leaders_redirect_test.py
Labels: area/redpanda

rpk debug bundle: avoid storing large files on memory
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/debug/bundle/bundle.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_k8s_linux.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_linux.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_test.go
Labels: area/rpk

`storage`: check for abort in `make_concatenated_segment()`
  src/v/storage/segment_utils.cc
Labels: area/redpanda

kafka/server: remove read size estimates in `simple_fetch_planner`
  src/v/kafka/server/handlers/fetch.cc
Labels: area/redpanda

kafka/server: remove fetch_metadata_cache
  src/v/kafka/server/BUILD
  src/v/kafka/server/fetch_metadata_cache.h
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/request_context.h
  src/v/kafka/server/server.h
  src/v/kafka/server/tests/fetch_plan_bench.cc
Labels: area/redpanda

kafka/protocol: non-zero default value for `PartitionMaxBytes`
  src/v/kafka/protocol/schemata/fetch_request.json
Labels: area/redpanda

raft/voter_priority_tracker: fix first leader nepo
  src/v/raft/voter_priority_tracker.h
  tests/rptest/tests/raft_availability_test.py
Labels: area/redpanda

wip test
  src/v/storage/tests/BUILD
  src/v/storage/tests/segment_appender_concurrent_read_write_test.cc
Labels: area/redpanda

kafka/server: improve partition fairness in fetch path
  src/v/kafka/server/handlers/fetch.cc
Labels: area/redpanda

dt: increase timeout in license check
  tests/rptest/tests/cluster_features_test.py
Labels: none

admin: require controller leadership before license idempotence check
  src/v/redpanda/admin/server.cc
Labels: area/redpanda

dt: check for license on all nodes
  tests/rptest/tests/cluster_features_test.py
Labels: none

schema_registry/api-doc: update schema docs
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/api/api-doc/schema_registry_definitions.def.json
Labels: area/redpanda

schema_registry/api-doc: update schema docs
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/api/api-doc/schema_registry_definitions.def.json
Labels: area/redpanda

schema_registry/api-doc: update schema docs
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/api/api-doc/schema_registry_definitions.def.json
Labels: area/redpanda

`storage`: advance target `segment`'s `generation_id()` during transfer
  src/v/storage/segment_utils.cc
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

datalake: Allow replacing dots in table names
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/validators.cc
  src/v/config/validators.h
  src/v/datalake/BUILD
  src/v/datalake/table_id_provider.cc
  src/v/datalake/table_id_provider.h
  src/v/datalake/tests/BUILD
  tests/rptest/tests/datalake/datalake_services.py
  tests/rptest/tests/datalake/datalake_table_name_test.py
Labels: area/redpanda

c/data-migrate/worker: rework management of works for the same NTP
  src/v/cluster/data_migration_worker.cc
  src/v/cluster/data_migration_worker.h
Labels: area/redpanda

c/data-migrate/worker: fix a race condition
  src/v/cluster/data_migration_worker.cc
Labels: area/redpanda

c/data-migrate/worker: avoid using potentially invalidated iterators
  src/v/cluster/data_migration_worker.cc
  src/v/cluster/data_migration_worker.h
Labels: area/redpanda

Fix the CMake build
  src/v/datalake/CMakeLists.txt
  src/v/datalake/tests/CMakeLists.txt
Labels: area/redpanda

datalake: Allow replacing dots in table names
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/validators.cc
  src/v/config/validators.h
  src/v/datalake/BUILD
  src/v/datalake/table_id_provider.cc
  src/v/datalake/table_id_provider.h
  src/v/datalake/tests/BUILD
  tests/rptest/tests/datalake/datalake_services.py
  tests/rptest/tests/datalake/datalake_table_name_test.py
Labels: area/redpanda

rpk cluster config: install --all flag locally
  src/go/rpk/pkg/cli/cluster/config/config.go
  src/go/rpk/pkg/cli/cluster/config/edit.go
  src/go/rpk/pkg/cli/cluster/config/export.go
  src/go/rpk/pkg/cli/cluster/config/import.go
Labels: area/rpk

rpk: bump go dependencies
  MODULE.bazel
  MODULE.bazel.lock
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/container/common/BUILD
  src/go/rpk/pkg/cli/container/common/client.go
  src/go/rpk/pkg/cli/container/common/common.go
  src/go/rpk/pkg/cli/container/common/test.go
Labels: area/rpk

rpk: bump go tools to fix broken build with go 1.25
  .github/workflows/rpk-build.yml
  src/go/rpk/go.mod
  src/go/rpk/go.sum
Labels: area/build, area/rpk

raft/c: avoid exceptional futures in linearizable barrier
  src/v/raft/consensus.cc
Labels: area/redpanda

raft/c: avoid exceptional futures in linearizable barrier
  src/v/raft/consensus.cc
Labels: area/redpanda

c/health: store partition statues in a map
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_types.cc
  src/v/cluster/health_monitor_types.h
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/partition_leaders_table.cc
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/cluster/tests/health_bench.cc
  src/v/cluster/tests/health_monitor_test.cc
  src/v/cluster/tests/partition_balancer_planner_test.cc
  src/v/cluster/topics_frontend.cc
  src/v/redpanda/admin/server.cc
Labels: area/redpanda

wip
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
  src/v/cluster/health_monitor_frontend.cc
  src/v/cluster/health_monitor_frontend.h
  src/v/cluster/health_monitor_types.cc
  src/v/cluster/health_monitor_types.h
  src/v/cluster/service.cc
  src/v/cluster/tests/BUILD
  src/v/cluster/tests/cluster_test_fixture.h
  src/v/cluster/tests/health_monitor_bench.cc
  src/v/cluster/tests/health_monitor_test.cc
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/compat/cluster_json.h
  src/v/compat/get_node_health_generator.h
Labels: area/redpanda
