Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

security: defer public key loading to after ossl init
  src/v/security/license.cc
Labels: area/redpanda

crypto/ossl: prevent openssl.cnf loading and fix CONF module init
  src/v/crypto/ossl_context_service.cc
  tests/rptest/tests/openssl_config_test.py
Labels: area/redpanda

redpanda: reorder ossl init startup sequence to before config loading
  src/v/kafka/client/test/fixture.h
  src/v/kafka/server/tests/topic_recreate_test.cc
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/redpanda/application_bootstrap.cc
  src/v/redpanda/tests/fixture.cc
  tests/rptest/tests/openssl_config_test.py
Labels: area/redpanda

security: defer public key loading to after ossl init
  src/v/security/license.cc
Labels: area/redpanda

crypto/ossl: prevent openssl.cnf loading and fix CONF module init
  src/v/crypto/ossl_context_service.cc
  tests/rptest/tests/openssl_config_test.py
Labels: area/redpanda

`cluster`: hold gate in `log_eviction_stm`
  src/v/cluster/log_eviction_stm.cc
Labels: area/redpanda

nix: add layered test suite, optimization tiers, and realistic PGO training
  flake.nix
  nix/README.md
  nix/pgo-train.nix
  nix/redpanda.nix
  nix/shell.nix
  nix/tests/checks/admin-checks.nix
  nix/tests/checks/kafka-checks.nix
  nix/tests/checks/proxy-checks.nix
  nix/tests/checks/resilience-checks.nix
  nix/tests/checks/rpk-checks.nix
  nix/tests/checks/schema-checks.nix
  nix/tests/constants.nix
  nix/tests/containers.nix
  nix/tests/default.nix
  nix/tests/lib.nix
  nix/tests/lifecycle.nix
  nix/tests/single-node.nix
  nix/tests/smoke.nix
Labels: none

Revert "c/rm_stm: hold locks when taking snapshots"
  src/v/cluster/rm_stm.cc
Labels: area/redpanda

backport: add AI-assisted conflict resolution
  .github/workflows/backport-command.yml
  .github/workflows/scripts/backport-command/ai_resolve.py
  .github/workflows/scripts/backport-command/create_pr.sh
  .github/workflows/scripts/backport-command/pr_details.sh
Labels: area/build

backport: guard setup-uv with continue-on-error
  .github/workflows/backport-command.yml
Labels: area/build

backport: simplify ai_resolve.py and shell cleanup
  .github/workflows/scripts/backport-command/ai_resolve.py
  .github/workflows/scripts/backport-command/create_pr.sh
  .github/workflows/scripts/backport-command/pr_details.sh
Labels: area/build

backport: use git log -p instead of git show for commit diff
  .github/workflows/scripts/backport-command/ai_resolve.py
Labels: area/build

backport: simplify ai_resolve.py and shell cleanup
  .github/workflows/scripts/backport-command/ai_resolve.py
  .github/workflows/scripts/backport-command/create_pr.sh
  .github/workflows/scripts/backport-command/pr_details.sh
Labels: area/build

backport: guard setup-uv with continue-on-error
  .github/workflows/backport-command.yml
Labels: area/build

backport: document non-obvious decisions in ai_resolve.py
  .github/workflows/scripts/backport-command/ai_resolve.py
Labels: area/build

backport: use git log -p instead of git show for commit diff
  .github/workflows/scripts/backport-command/ai_resolve.py
Labels: area/build

backport: add AI-assisted conflict resolution
  .github/workflows/backport-command.yml
  .github/workflows/scripts/backport-command/ai_resolve.py
  .github/workflows/scripts/backport-command/create_pr.sh
  .github/workflows/scripts/backport-command/pr_details.sh
Labels: area/build

backport: document non-obvious decisions in ai_resolve.py
  .github/workflows/scripts/backport-command/ai_resolve.py
  .github/workflows/scripts/backport-command/create_pr.sh
Labels: area/build

backport: fix ruff and shfmt lint failures
  .github/workflows/scripts/backport-command/ai_resolve.py
  .github/workflows/scripts/backport-command/create_pr.sh
Labels: area/build

backport: replace single-word difficulty with factual resolution comment
  .github/workflows/backport-command.yml
  .github/workflows/scripts/backport-command/ai_resolve.py
  .github/workflows/scripts/backport-command/create_pr.sh
  .github/workflows/scripts/backport-command/pr_details.sh
Labels: area/build

backport: fix ruff formatting
  .github/workflows/scripts/backport-command/ai_resolve.py
Labels: area/build

transform: port plugin admin API to gRPC admin v2
  proto/redpanda/core/admin/v2/BUILD
  proto/redpanda/core/admin/v2/plugin.proto
  proto/redpanda/core/admin/v2/plugin_debug.proto
  proto/redpanda/core/common/v1/BUILD
  proto/redpanda/core/common/v1/compression.proto
  src/v/redpanda/BUILD
  src/v/redpanda/admin/services/BUILD
  src/v/redpanda/admin/services/plugin.cc
  src/v/redpanda/admin/services/plugin.h
  src/v/redpanda/admin/services/plugin_debug.cc
  src/v/redpanda/admin/services/plugin_debug.h
  src/v/redpanda/application_admin.cc
  src/v/transform/api.cc
  src/v/transform/api.h
  tests/rptest/clients/admin/proto/redpanda/core/admin/v2/__init__.pyi
  tests/rptest/clients/admin/proto/redpanda/core/admin/v2/plugin_debug_pb2.py
  tests/rptest/clients/admin/proto/redpanda/core/admin/v2/plugin_debug_pb2.pyi
  tests/rptest/clients/admin/proto/redpanda/core/admin/v2/plugin_debug_pb2_connect.py
  tests/rptest/clients/admin/proto/redpanda/core/admin/v2/plugin_pb2.py
  tests/rptest/clients/admin/proto/redpanda/core/admin/v2/plugin_pb2.pyi
  tests/rptest/clients/admin/proto/redpanda/core/admin/v2/plugin_pb2_connect.py
  tests/rptest/clients/admin/proto/redpanda/core/common/v1/__init__.pyi
  tests/rptest/clients/admin/proto/redpanda/core/common/v1/compression_pb2.py
  tests/rptest/clients/admin/proto/redpanda/core/common/v1/compression_pb2.pyi
  tests/rptest/clients/admin/v2.py
  tests/rptest/tests/data_transforms_test.py
Labels: area/redpanda

backport: simplify ai_resolve.py per code review
  .github/workflows/scripts/backport-command/ai_resolve.py
Labels: area/build

backport: remove unused difficulty_rating and DIFFICULTY_OUT
  .github/workflows/backport-command.yml
  .github/workflows/scripts/backport-command/ai_resolve.py
  .github/workflows/scripts/backport-command/pr_details.sh
Labels: area/build

backport: fix model output validation and add local test
  .github/workflows/scripts/backport-command/ai_resolve.py
  .github/workflows/scripts/backport-command/test_ai_resolve.sh
Labels: area/build

claude: add lint-pr skill
  .claude/skills/lint-pr/SKILL.md
Labels: none

Update .github/workflows/scripts/backport-command/ai_resolve.py
  .github/workflows/scripts/backport-command/ai_resolve.py
Labels: area/build

kafka/data: remove _translator from replicated_partition
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/kafka/data/replicated_partition.cc
  src/v/kafka/data/replicated_partition.h
Labels: area/redpanda

storage: remove translating_reader
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/tests/remote_partition_fuzz_test.cc
  src/v/cloud_storage/tests/remote_partition_test.cc
  src/v/cloud_storage/tests/util.cc
  src/v/cloud_topics/frontend/frontend.cc
  src/v/cloud_topics/frontend/frontend.h
  src/v/cloud_topics/reconciler/reconciliation_source.cc
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/datalake/translation/deps.cc
  src/v/kafka/data/cloud_topic_partition.cc
  src/v/kafka/data/cloud_topic_partition.h
  src/v/kafka/data/cloud_topic_read_replica.cc
  src/v/kafka/data/cloud_topic_read_replica.h
  src/v/kafka/data/partition_proxy.h
  src/v/kafka/data/replicated_partition.cc
  src/v/kafka/data/replicated_partition.h
  src/v/kafka/data/rpc/service.cc
  src/v/kafka/data/rpc/test/deps.h
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/utils/txn_reader.cc
  src/v/kafka/utils/txn_reader.h
  src/v/storage/BUILD
  src/v/storage/translating_reader.h
  src/v/transform/api.cc
  src/v/transform/rpc/service.cc
Labels: area/redpanda

cluster: remove get_offset_translator_state from partition
  src/v/cloud_topics/frontend/frontend.cc
  src/v/cloud_topics/level_zero/frontend_reader/level_zero_reader.cc
  src/v/cloud_topics/tests/tailing_cache_race_test.cc
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/datalake/tests/fixture.h
  src/v/kafka/server/group_manager.cc
Labels: area/redpanda

build: add fuzztest-cov config for LLVM source coverage reports
  .bazelrc
Labels: none

build: add Google FuzzTest infrastructure
  .bazelrc
  MODULE.bazel
  MODULE.bazel.lock
  bazel/test.bzl
  fuzztest.bazelrc
  src/v/test_utils/BUILD
  src/v/test_utils/fuzztest_main.cc
Labels: area/redpanda

container/tests: add property-based tests for chunked_vector and chunked_hash_map
  .bazelrc
  src/v/container/tests/BUILD
  src/v/container/tests/chunked_pbt.cc
Labels: area/redpanda

kafka/protocol: reject oversized tagged fields during parsing
  src/v/kafka/protocol/flex_versions.cc
Labels: area/redpanda

kafka/protocol: reject oversized tagged fields during parsing
  src/v/kafka/protocol/flex_versions.cc
Labels: area/redpanda

[dnm] bazel: update seastar with error queue cleaning changes
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

thrift: add compact protocol decoder
  src/v/serde/thrift/BUILD
  src/v/serde/thrift/compact.cc
  src/v/serde/thrift/compact.h
  src/v/serde/thrift/tests/BUILD
  src/v/serde/thrift/tests/compact_test.cc
Labels: area/redpanda

parquet: add metadata decoding and schema reconstruction
  src/v/serde/parquet/BUILD
  src/v/serde/parquet/flattened_schema.cc
  src/v/serde/parquet/flattened_schema.h
  src/v/serde/parquet/metadata.cc
  src/v/serde/parquet/metadata.h
  src/v/serde/parquet/tests/BUILD
  src/v/serde/parquet/tests/flattened_schema_test.cc
  src/v/serde/parquet/tests/metadata_roundtrip_test.cc
Labels: area/redpanda

c/rm_stm: downgrade log level of skipping cleanup
  src/v/cluster/rm_stm.cc
Labels: area/redpanda

c/rm_stm: downgrade log level of skipping cleanup
  src/v/cluster/rm_stm.cc
Labels: area/redpanda
