Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

Adding test config
  src/go/rpk/pkg/cli/profile/BUILD
Labels: area/rpk

debug try2
  src/v/kafka/server/BUILD
  src/v/kafka/server/write_at_offset_stm.cc
  tests/rptest/tests/cluster_linking_test_base.py
Labels: area/redpanda

attempt one
  src/v/cluster_link/replication/link_replication_mgr.cc
  src/v/cluster_link/replication/link_replication_mgr.h
  src/v/cluster_link/replication/partition_replicator.cc
Labels: area/redpanda

test logs
  src/v/storage/disk_log_impl.cc
  src/v/storage/segment_utils.cc
Labels: area/redpanda

test
  src/v/raft/consensus.cc
Labels: area/redpanda

Revert "attempt one"
  src/v/cluster_link/replication/link_replication_mgr.cc
  src/v/cluster_link/replication/link_replication_mgr.h
  src/v/cluster_link/replication/partition_replicator.cc
Labels: area/redpanda

Revert "cl/replicator: make stop 2 step"
  src/v/cluster_link/replication/link_replication_mgr.cc
Labels: area/redpanda

Revert "cl/replicator: introduce initiate_shutdown"
  src/v/cluster_link/replication/partition_replicator.cc
  src/v/cluster_link/replication/partition_replicator.h
Labels: area/redpanda

cl/replicator: introduce initiate_shutdown
  src/v/cluster_link/replication/partition_replicator.cc
  src/v/cluster_link/replication/partition_replicator.h
Labels: area/redpanda

cl/link_mgr: rework replicator start/stop dispatch.
  src/v/cluster_link/replication/link_replication_mgr.cc
  src/v/cluster_link/replication/link_replication_mgr.h
  src/v/cluster_link/replication/partition_replicator.cc
Labels: area/redpanda

Revert "cl/link_mgr: relax replicator existence requirement in same term"
  src/v/cluster_link/replication/link_replication_mgr.cc
Labels: area/redpanda

defer updating snapshot offsets until log truncation
  src/v/raft/consensus.cc
Labels: area/redpanda

ts: Downgrade error to warn
  src/v/cluster/archival/ntp_archiver_service.cc
Labels: area/redpanda

ts: Fail housekeeping round on retention failure
  src/v/cluster/archival/ntp_archiver_service.cc
Labels: area/redpanda

ts: Fail housekeeping if we failed to GC
  src/v/cluster/archival/ntp_archiver_service.cc
Labels: area/redpanda

mpt: logging
  tests/rptest/scale_tests/many_partitions_test.py
Labels: none

ct: make L1 GC interval configurable
  src/v/cloud_topics/level_one/domain/BUILD
  src/v/cloud_topics/level_one/domain/domain_manager.cc
  src/v/cloud_topics/level_one/domain/domain_manager.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

ct/l0: use STM prefix logger in ctp_stm_api
  src/v/cloud_topics/level_zero/stm/BUILD
  src/v/cloud_topics/level_zero/stm/ctp_stm_api.cc
  src/v/cloud_topics/level_zero/stm/ctp_stm_api.h
  src/v/raft/persisted_stm.h
Labels: area/redpanda

ct/l1: rename frontend to leader_router
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/app.h
  src/v/cloud_topics/level_one/metastore/BUILD
  src/v/cloud_topics/level_one/metastore/leader_router.cc
  src/v/cloud_topics/level_one/metastore/leader_router.h
  src/v/cloud_topics/level_one/metastore/replicated_metastore.cc
  src/v/cloud_topics/level_one/metastore/service.cc
  src/v/redpanda/BUILD
Labels: area/redpanda

many_partitions_test: test case for cloud topics
  tests/rptest/scale_tests/many_partitions_test.py
  tests/rptest/utils/scale_parameters.py
Labels: none

ct/l1: add logging to leader router
  src/v/cloud_topics/level_one/metastore/leader_router.cc
Labels: area/redpanda

many_partitions_test: bump logging
  tests/rptest/scale_tests/many_partitions_test.py
  tests/rptest/services/kgo_repeater_service.py
Labels: none

ct: make reconciliation interval tunable property
  src/v/cloud_topics/reconciler/reconciler.cc
  src/v/cloud_topics/reconciler/reconciler.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

ct/l1: don't replicate on no-op set_start_offset
  src/v/cloud_topics/level_one/domain/domain_manager.cc
  src/v/cloud_topics/level_one/metastore/state_update.cc
  src/v/cloud_topics/level_one/metastore/state_update.h
Labels: area/redpanda

mpt: frequent GC
  tests/rptest/scale_tests/many_partitions_test.py
Labels: none

ct: demote some error logs to warning
  src/v/cloud_topics/level_one/frontend_reader/level_one_reader.cc
Labels: area/redpanda

ct/l1: rename frontend class to leader_router
  src/v/cloud_topics/app.cc
  src/v/cloud_topics/app.h
  src/v/cloud_topics/level_one/metastore/leader_router.cc
  src/v/cloud_topics/level_one/metastore/leader_router.h
  src/v/cloud_topics/level_one/metastore/replicated_metastore.cc
  src/v/cloud_topics/level_one/metastore/replicated_metastore.h
  src/v/cloud_topics/level_one/metastore/service.cc
  src/v/cloud_topics/level_one/metastore/service.h
  src/v/cloud_topics/level_one/metastore/tests/replicated_metastore_test.cc
  src/v/redpanda/application.cc
Labels: area/redpanda

ct: minor logging improvements
  src/v/cloud_topics/housekeeper/housekeeper.cc
  src/v/cloud_topics/level_one/metastore/BUILD
  src/v/cloud_topics/level_one/metastore/garbage_collector.cc
  src/v/cloud_topics/level_one/metastore/state_update.cc
  src/v/cloud_topics/reconciler/reconciler.cc
Labels: area/redpanda

ct: move shutdown to after partition shutdown
  src/v/redpanda/application.cc
Labels: area/redpanda

many_partitions_test: expand wait time for leadership balancing
  tests/rptest/scale_tests/many_partitions_test.py
Labels: none

ct: exception
  src/v/cloud_topics/reconciler/reconciler.cc
Labels: area/redpanda

tools/dev_cluster: disable grafana/prometheus by default
  tools/dev_cluster.py
Labels: none

kgo_repeater_services: bump start timeout
  tests/rptest/services/kgo_repeater_service.py
Labels: none

[UX-606] Cloud support on cluster connections list
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cluster/connections/connections_test.go
  src/go/rpk/pkg/cli/cluster/connections/list.go
  src/go/rpk/pkg/cli/cluster/connections/list_test.go
  src/go/rpk/pkg/cli/cluster/connections/types.go
  src/go/rpk/pkg/publicapi/dataplane.go
Labels: area/rpk

rm_stm: do not reinsert producer to active tx producers list if present
  src/v/cluster/rm_stm.cc
Labels: area/redpanda

rm_stm: do not reinsert producer to active tx producers list if present
  src/v/cluster/rm_stm.cc
Labels: area/redpanda

rptest: logging stop node timeout duration.
  tests/rptest/services/redpanda.py
Labels: none

stm: introduce tx_snapshot_offset() and last_snapshot_offset() utils
  src/v/raft/persisted_stm.h
  src/v/storage/types.cc
  src/v/storage/types.h
Labels: area/redpanda

compaction/tests: deflake log_compaction_test
  tests/rptest/tests/log_compaction_test.py
Labels: none

cluster/debug: plumb max_tombstone_removable_offset and snapshot offset
  src/v/cluster/cluster_utils.cc
  src/v/cluster/types.h
  src/v/redpanda/admin/api-doc/debug.json
  src/v/redpanda/admin/debug.cc
Labels: area/redpanda
