Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

build: replace discarded std::exchange results
  src/v/cloud_topics/level_zero/gc/tests/level_zero_gc_mt_test.cc
  src/v/cloud_topics/object_utils.cc
  src/v/transform/api.cc
  src/v/transform/logging/log_manager.cc
Labels: area/redpanda

gha: link triggering workflow run in installpack bump BK message
  .github/workflows/cloud-installpack-bk-trigger.yml
Labels: area/build

`features`: add `v26.3.1` to `release_versions`
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
Labels: area/redpanda

rpk: update console version to v3.9.0
  src/go/rpk/pkg/cli/container/common/common.go
Labels: area/rpk

tests/antithesis: add flip and move drivers to sl workload
  tests/antithesis/shadow_link_stress/sl/eventually.go
  tests/antithesis/shadow_link_stress/sl/flip.go
  tests/antithesis/shadow_link_stress/sl/flip_test.go
  tests/antithesis/shadow_link_stress/sl/main.go
  tests/antithesis/shadow_link_stress/sl/move.go
Labels: none

kafka: quiet cluster_action probe in OffsetForLeaderEpoch
  src/v/kafka/server/handlers/offset_for_leader_epoch.cc
Labels: area/redpanda

kafka: quiet cluster_action probe in OffsetForLeaderEpoch
  src/v/kafka/server/handlers/offset_for_leader_epoch.cc
Labels: area/redpanda

kafka: skip audit events for broker-internal authz probes
  src/v/kafka/server/handlers/offset_for_leader_epoch.cc
  src/v/kafka/server/server.cc
Labels: area/redpanda

kafka: skip audit events for broker-internal authz probes
  src/v/kafka/server/handlers/offset_for_leader_epoch.cc
  src/v/kafka/server/server.cc
Labels: area/redpanda

kafka: quiet cluster_action probe in OffsetForLeaderEpoch
  src/v/kafka/server/handlers/offset_for_leader_epoch.cc
Labels: area/redpanda

kafka: skip audit events for broker-internal authz probes
  src/v/kafka/server/handlers/offset_for_leader_epoch.cc
  src/v/kafka/server/server.cc
Labels: area/redpanda

cluster: carry partition_mode in partition_properties_stm
  src/v/cluster/partition_properties_stm.cc
  src/v/cluster/partition_properties_stm.h
  src/v/cluster/tests/partition_properties_stm_test.cc
Labels: area/redpanda

archival: clamp local-log trim while the manifest holds archived data
  src/v/cluster/archival/archival_metadata_stm.cc
  src/v/cluster/archival/archival_metadata_stm.h
  src/v/cluster/archival/tests/archival_metadata_stm_test.cc
Labels: area/redpanda

cloud_topics/stm: don't pin truncation on an idle ctp_stm
  src/v/cloud_topics/level_zero/stm/ctp_stm_state.cc
  src/v/cloud_topics/level_zero/stm/tests/ctp_stm_state_test.cc
Labels: area/redpanda

cloud_topics/stm: pre-install an idle ctp_stm on tiered-storage partitions
  src/v/cloud_topics/level_zero/stm/BUILD
  src/v/cloud_topics/level_zero/stm/ctp_stm.cc
  src/v/cloud_topics/level_zero/stm/ctp_stm_factory.cc
  src/v/cloud_topics/level_zero/stm/tests/ctp_stm_test.cc
Labels: area/redpanda

cluster: install the eviction STM on cloud-topic partitions
  src/v/cluster/log_eviction_stm.cc
Labels: area/redpanda

cloud_topics/stm: add explicit-log-offset advance_reconciled_offset overload
  src/v/cloud_topics/level_zero/stm/ctp_stm_api.cc
  src/v/cloud_topics/level_zero/stm/ctp_stm_api.h
Labels: area/redpanda

archival: create the archival STM on cloud-topic partitions
  src/v/cluster/archival/archival_metadata_stm.cc
Labels: area/redpanda

`rptest`: wait for the active version to settle between upgrade hops
  tests/rptest/services/admin.py
  tests/rptest/tests/compatibility/java_compression_test.py
  tests/rptest/tests/retention_policy_test.py
  tests/rptest/transactions/tx_upgrade_test.py
Labels: none

tests: compare with v26.2.x branch for pass criteria
  tests/ducktape-common-retry.yml
Labels: none

`rptest`: derive multi-hop finalization dynamically
  tests/rptest/tests/cluster_features_test.py
Labels: none

`rptest`: use `upgrade_path_to_head()` in SR test
  tests/rptest/tests/schema_registry_test.py
Labels: none

`rptest`: set tiered-cloud mixed-cluster expectations off the old release
  tests/rptest/tests/storage_mode_test.py
Labels: none

`rptest`: set shadow-link sync gating off the old release
  tests/rptest/tests/cluster_linking_unfinalized_upgrade_test.py
Labels: none

`rptest`: dispatch perturbation steps on the old release line
  tests/rptest/tests/cluster_features_test.py
Labels: none

cluster/partition: sync partition_mode on migration-feature activation
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
Labels: area/redpanda

storage: split ntp_config storage mode into topic_mode and partition_mode
  src/v/storage/ntp_config.h
Labels: area/redpanda

cluster/partition: sync partition_mode with the topic storage mode
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_manager.cc
Labels: area/redpanda

features: add the topic_mode_migration feature
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  tests/rptest/tests/cluster_features_test.py
Labels: area/redpanda

cluster/partition: feed partition_mode from partition_properties into ntp_config
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/raft/tests/failure_injectable_log.cc
  src/v/raft/tests/failure_injectable_log.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/log.h
Labels: area/redpanda

cluster: report cloud high watermark for a trimmed-local-log tiered partition
  src/v/cluster/partition_kafka_offsets.cc
Labels: area/redpanda

tests: migrating partition is served transparently as tiered storage
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
Labels: area/redpanda

rpk shadow: add --config-file to update
  src/go/rpk/pkg/cli/shadow/BUILD
  src/go/rpk/pkg/cli/shadow/update.go
  src/go/rpk/pkg/cli/shadow/update_test.go
  tests/rptest/clients/rpk.py
  tests/rptest/tests/rpk_shadow_link_test.py
Labels: area/rpk

rpk shadow: update replace the entire configuration
  src/go/rpk/pkg/cli/shadow/update.go
  src/go/rpk/pkg/cli/shadow/update_test.go
  tests/rptest/clients/rpk.py
  tests/rptest/tests/rpk_shadow_link_test.py
Labels: area/rpk

shadow_link: preserve PLAIN password on update
  src/v/redpanda/admin/services/shadow_link/converter.cc
  src/v/redpanda/admin/services/shadow_link/tests/converter_test.cc
Labels: area/redpanda

rpk: update console version to v3.9.0
  src/go/rpk/pkg/cli/container/containerutil/common.go
Labels: area/rpk

dt/rbac: lengthen bogus passwords in list_user_roles tests
  tests/rptest/tests/rbac_test.py
  tests/rptest/tests/rbac_test_v2.py
Labels: none

cloud_topics/l1: carry tiered-storage segment metadata in L1
  proto/redpanda/core/admin/internal/cloud_topics/v1/metastore.proto
  src/v/cloud_topics/level_one/common/BUILD
  src/v/cloud_topics/level_one/common/object_id.h
  src/v/cloud_topics/level_one/domain/db_domain_manager.cc
  src/v/cloud_topics/level_one/domain/simple_domain_manager.cc
  src/v/cloud_topics/level_one/metastore/lsm/debug_reader.cc
  src/v/cloud_topics/level_one/metastore/lsm/debug_serde.cc
  src/v/cloud_topics/level_one/metastore/lsm/tests/debug_reader_test.cc
  src/v/cloud_topics/level_one/metastore/lsm/values.h
  src/v/cloud_topics/level_one/metastore/metastore.h
  src/v/cloud_topics/level_one/metastore/replicated_metastore.cc
  src/v/cloud_topics/level_one/metastore/rpc_types.h
  src/v/cloud_topics/level_one/metastore/simple_metastore.cc
  src/v/cloud_topics/level_one/metastore/state.h
  src/v/cloud_topics/level_one/metastore/state_update.cc
  src/v/cloud_topics/level_one/metastore/state_update.h
  tests/rptest/clients/admin/proto/redpanda/core/admin/internal/cloud_topics/v1/metastore_pb2.py
  tests/rptest/clients/admin/proto/redpanda/core/admin/internal/cloud_topics/v1/metastore_pb2.pyi
Labels: area/redpanda

cloud_topics/l1: add a chunked data source
  src/v/cloud_topics/level_one/common/BUILD
  src/v/cloud_topics/level_one/common/chunk_data_source.h
  src/v/cloud_topics/level_one/common/tests/BUILD
  src/v/cloud_topics/level_one/common/tests/chunk_data_source_test.cc
Labels: area/redpanda

`bazel`: point at `39dfd216`
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']
