Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

tests/antithesis: add shadow_link_stress environment skeleton
  .gitignore
  tests/antithesis/shadow_link_stress/docker-compose.yaml.j2
  tests/antithesis/shadow_link_stress/scripts/bootstrap-source.yaml.j2
  tests/antithesis/shadow_link_stress/scripts/bootstrap-target.yaml.j2
  tests/antithesis/shadow_link_stress/scripts/minio-init.sh
  tests/antithesis/shadow_link_stress/scripts/redpanda-entrypoint.sh
  tests/antithesis/shadow_link_stress/test.yml
Labels: none

tests/antithesis: scaffold shadow-link workload binary
  tests/antithesis/shadow_link_stress/sl/cluster.go
  tests/antithesis/shadow_link_stress/sl/go.mod
  tests/antithesis/shadow_link_stress/sl/go.sum
  tests/antithesis/shadow_link_stress/sl/main.go
  tests/antithesis/shadow_link_stress/sl/main_test.go
  tests/antithesis/shadow_link_stress/sl/topics.go
Labels: none

tests/antithesis: add sl eventually check: drain to zero, byte-compare
  tests/antithesis/shadow_link_stress/sl/eventually.go
  tests/antithesis/shadow_link_stress/sl/eventually_test.go
  tests/antithesis/shadow_link_stress/sl/main.go
Labels: none

tests/antithesis: add per-cluster read helpers and setup to sl workload
  tests/antithesis/shadow_link_stress/sl/check.go
  tests/antithesis/shadow_link_stress/sl/go.mod
  tests/antithesis/shadow_link_stress/sl/go.sum
  tests/antithesis/shadow_link_stress/sl/main.go
  tests/antithesis/shadow_link_stress/sl/setup.go
Labels: none

tests/antithesis: add sl workload image for shadow_link_stress
  tests/antithesis/shadow_link_stress/sl/Dockerfile
Labels: none

tests/antithesis: retry link status probe in sl eventually check
  tests/antithesis/shadow_link_stress/sl/eventually.go
Labels: none

gha: set reaction-token for slash-commands
  .github/workflows/slash-commands.yml
Labels: area/build

`storage`: make `_schemas` deletion exempt
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/tests/BUILD
  src/v/storage/tests/log_retention_test.cc
Labels: area/redpanda

`model`: add key-only record parsing
  src/v/model/record.h
  src/v/model/record_utils.cc
  src/v/model/record_utils.h
  src/v/model/tests/BUILD
  src/v/model/tests/record_batch_test.cc
Labels: area/redpanda

`bazel`: update `rapidjson` to `a47f8d7379`
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

`kafka`: drain group gate on topic cleanup
  src/v/kafka/server/group_manager.cc
Labels: area/redpanda

`schema_registry`: cache reference lookups in `process_marked_schemas()`
  src/v/pandaproxy/schema_registry/sharded_store.cc
Labels: area/redpanda

`storage`: avoid record materialization in compaction read passes
  src/v/storage/compaction_reducers.cc
  src/v/storage/compaction_reducers.h
  src/v/storage/segment_deduplication_utils.cc
  src/v/storage/segment_utils.cc
  src/v/storage/segment_utils.h
  src/v/storage/tests/segment_deduplication_test.cc
Labels: area/redpanda

`rptest`: remove flakey `wait_all_segments()` condition
  tests/rptest/tests/controller_erase_test.py
Labels: none

`ct/l1`: hold back undersized tail ranges from leveling
  src/v/cloud_topics/level_one/maintenance/leveling/tests/leveling_reducer_test.cc
  src/v/cloud_topics/level_one/maintenance/tests/BUILD
  src/v/cloud_topics/level_one/maintenance/tests/log_info_collector_test.cc
  src/v/cloud_topics/level_one/metastore/leveling_range_builder.h
  src/v/cloud_topics/level_one/metastore/tests/leveling_range_builder_test.cc
  src/v/cloud_topics/level_one/metastore/tests/replicated_metastore_test.cc
  src/v/cloud_topics/level_one/metastore/tests/simple_metastore_test.cc
  tests/rptest/tests/cloud_topics/e2e_test.py
Labels: area/redpanda

`schema_registry`: parallelize recovery with deferred canonicalisation
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/storage.h
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/sharded_store.cc
  src/v/pandaproxy/schema_registry/types.h
Labels: area/redpanda

cluster_link/replication: don't leak future on make_sink failure
  src/v/cluster_link/replication/link_replication_mgr.cc
  src/v/cluster_link/replication/tests/BUILD
  src/v/cluster_link/replication/tests/link_replication_mgr_tests.cc
Labels: area/redpanda

`bazel`: point at `cde680a9`
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

`ct/l1`: avoid record materialization in compaction read passes
  src/v/cloud_topics/level_one/maintenance/compaction/BUILD
  src/v/cloud_topics/level_one/maintenance/compaction/compaction_filter.cc
  src/v/cloud_topics/level_one/maintenance/compaction/compaction_filter.h
  src/v/cloud_topics/level_one/maintenance/compaction/compaction_source.cc
Labels: area/redpanda

`schema_registry`: add recovery microbenchmark
  src/v/pandaproxy/schema_registry/test/BUILD
  src/v/pandaproxy/schema_registry/test/recovery_bench.cc
Labels: area/redpanda

schema_registry: load _schemas once across shards on startup
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/service.h
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda

schema_registry: simplify do_start now that it is single-flight
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/service.h
Labels: area/redpanda

`schema_registry`: log recovery phase timings
  src/v/pandaproxy/schema_registry/service.cc
Labels: area/redpanda

kafka/group_manager: drain group gate on delete
  src/v/kafka/server/group_manager.cc
Labels: area/redpanda

`ct/l1`: don't schedule leveling when compacting CTP
  src/v/cloud_topics/level_one/maintenance/log_info_collector.cc
  src/v/cloud_topics/level_one/maintenance/tests/log_info_collector_test.cc
  src/v/cloud_topics/level_one/maintenance/tests/worker_manager_test.cc
  src/v/cloud_topics/level_one/maintenance/worker.cc
  src/v/cloud_topics/level_one/maintenance/worker_manager.cc
Labels: area/redpanda

dt/tests: run one consumer per partition in test_group_lag_metrics
  tests/rptest/tests/consumer_group_test.py
Labels: none

dt/tests: diagnose stalled consumer on lag-metrics consume timeout
  tests/rptest/tests/consumer_group_test.py
Labels: none

`pandaproxy`: decode produce record payloads into chunked buffers
  src/v/pandaproxy/BUILD
  src/v/pandaproxy/json/iobuf.h
  src/v/pandaproxy/json/requests/produce.h
  src/v/pandaproxy/json/requests/test/BUILD
  src/v/pandaproxy/json/requests/test/produce.cc
Labels: area/redpanda

cloud_topics: make reconciler's local-read floor an exclusive bound
  src/v/cloud_topics/reconciler/reconciliation_source.cc
Labels: area/redpanda

`compaction`: add `is_latest_record_for_key()` offset/key overload
  src/v/compaction/utils.cc
  src/v/compaction/utils.h
Labels: area/redpanda

`schema_registry`: decode schema strings into chunked buffers
  src/v/pandaproxy/schema_registry/requests/post_subject_versions.h
  src/v/pandaproxy/schema_registry/requests/test/post_subject_versions.cc
  src/v/pandaproxy/schema_registry/storage.h
  src/v/pandaproxy/schema_registry/test/storage.cc
Labels: area/redpanda

storage: mark snapshot writer/reader closed regardless of close outcome
  src/v/storage/snapshot.cc
  src/v/storage/tests/BUILD
  src/v/storage/tests/snapshot_test.cc
Labels: area/redpanda

rpk/go tools: bump otel to v1.44.0 (snyk finding)
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  tests/go/sarama/produce_legacy_version_test/go.sum
  tests/go/sarama/produce_test/go.mod
  tests/go/sarama/produce_test/go.sum
Labels: area/rpk

`kafka`: prevent UB in `collect_mapper()` for `DescribeLogDirs`
  src/v/kafka/server/handlers/describe_log_dirs.cc
Labels: area/redpanda

schema_registry: add schema_registry_replay_on_startup
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/pandaproxy/schema_registry/BUILD
  src/v/pandaproxy/schema_registry/service.cc
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda

`rptest`: deflake `controller_erase_test` again
  tests/rptest/tests/controller_erase_test.py
Labels: none

rpk: add 'rpk sql debug bundle' for Redpanda SQL diagnostics
  src/go/rpk/pkg/cli/BUILD
  src/go/rpk/pkg/cli/root.go
  src/go/rpk/pkg/cli/sql/BUILD
  src/go/rpk/pkg/cli/sql/debug/BUILD
  src/go/rpk/pkg/cli/sql/debug/bundle/BUILD
  src/go/rpk/pkg/cli/sql/debug/bundle/bundle.go
  src/go/rpk/pkg/cli/sql/debug/bundle/client.go
  src/go/rpk/pkg/cli/sql/debug/bundle/collect.go
  src/go/rpk/pkg/cli/sql/debug/bundle/messages.go
  src/go/rpk/pkg/cli/sql/debug/debug.go
  src/go/rpk/pkg/cli/sql/sql.go
Labels: area/rpk

rpk: resolve produce schemas in the topic's schema-registry context
  src/go/rpk/pkg/cli/topic/produce.go
Labels: area/rpk

`json`: read `chunked_input_stream` directly from `iobuf` fragments
  src/v/json/chunked_input_stream.h
  src/v/pandaproxy/schema_registry/BUILD
  src/v/pandaproxy/schema_registry/json.cc
Labels: area/redpanda

`datalake`: pin record timestamps in multiplexer tests
  src/v/datalake/tests/gtest_record_multiplexer_test.cc
Labels: area/redpanda

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']
