Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

Revert "Adding libssl & libcrypto to lsan_suppressions.txt."
  lsan_suppressions.txt
Labels: none

Remove verbosity from ASAN/LSAN options. Remove unused.
  tests/docker/ducktape-deps/base-tools
  tests/rptest/services/redpanda.py
Labels: none

sr: Create acls on unknown topic error
  src/v/pandaproxy/schema_registry/service.cc
Labels: area/redpanda

c/partition_manager: fix misreported partition shutdown stage
  src/v/cluster/partition_manager.cc
Labels: area/redpanda

c/partition_manager: fix misreported partition shutdown stage
  src/v/cluster/partition_manager.cc
Labels: area/redpanda

rptest/services/admin_ops_fuzzer/produce: tolerate rpk error in execute
  tests/rptest/services/admin_ops_fuzzer.py
Labels: none

Updates
  tests/rptest/services/redpanda.py
Labels: none

Re-enable core dumps (for testing)
  tests/rptest/tests/redpanda_oauth_test.py
Labels: none

Separate deboucing into its own util decorator.
  tests/rptest/services/redpanda.py
  tests/rptest/util.py
Labels: none

Adding core dumping warning.
  tests/rptest/services/redpanda.py
Labels: none

shared_placement_scale_test: adjust threshold
  tests/rptest/scale_tests/shard_placement_scale_test.py
Labels: none

shared_placement_scale_test: adjust threshold
  tests/rptest/scale_tests/shard_placement_scale_test.py
Labels: none

c/partition: make sure that high watermark is offset translatable
  src/v/cluster/partition.cc
Labels: area/redpanda

rptest/services/admin_ops_fuzzer/produce: tolerate rpk error in execute
  tests/rptest/services/admin_ops_fuzzer.py
Labels: none

admin: Use chunked vector for lifecycle markers
  src/v/redpanda/admin/api-doc/shadow_indexing.json
Labels: area/redpanda

admin: Use chunked vector for lifecycle markers
  src/v/redpanda/admin/api-doc/shadow_indexing.json
Labels: area/redpanda

admin: Use chunked vector for lifecycle markers
  src/v/redpanda/admin/api-doc/shadow_indexing.json
Labels: area/redpanda

tests: upgrade pyiceberg
  tests/setup.py
Labels: none

cloud_io/cache: Prevent double counting of cache metrics
  src/v/cloud_storage/cache_service.cc
Labels: area/redpanda

cloud_io/cache: Prevent double counting of cache metrics
  src/v/cloud_storage/cache_service.cc
Labels: area/redpanda

http/client: coroutinize client::send
  src/v/http/client.cc
Labels: area/redpanda

http/client: wrap send/recv with dispatch_gate
  src/v/http/client.cc
Labels: area/redpanda

http/client: add tests showing UB race
  src/v/http/tests/http_client_test.cc
Labels: area/redpanda

http/client: wrap send/recv with dispatch_gate
  src/v/http/client.cc
Labels: area/redpanda

http/client: add tests showing UB race
  src/v/http/tests/http_client_test.cc
Labels: area/redpanda

http/client: coroutinize client::send
  src/v/http/client.cc
Labels: area/redpanda

gha: add trigger-snyk.yml
  .github/workflows/trigger-snyk.yml
Labels: area/build

gha: add trigger-snyk.yml
  .github/workflows/trigger-snyk.yml
Labels: area/build

sec/oidc: do not wait for EOF on OIDC requests
  src/v/security/oidc_service.cc
Labels: area/redpanda

sec/oidc: do not wait for EOF on OIDC requests
  src/v/security/oidc_service.cc
Labels: area/redpanda

bazel: Patch krb5-1.21.3 to address leak
  bazel/thirdparty/0001-Fix-two-unlikely-memory-leaks.patch
Labels: none

k/s/connection_context: Handle exception on input_shutdown
  src/v/kafka/server/connection_context.cc
Labels: area/redpanda

k/s/connection_context: Handle exception on input_shutdown
  src/v/kafka/server/connection_context.cc
Labels: area/redpanda

k/s/connection_context: Handle exception on input_shutdown
  src/v/kafka/server/connection_context.cc
Labels: area/redpanda

application: stop schema_registry clients before datalake subsystems
  src/v/pandaproxy/schema_registry/api.cc
  src/v/pandaproxy/schema_registry/api.h
  src/v/redpanda/application.cc
Labels: area/redpanda

lsan: Suppressing lsan for gss_add_cred_from
  lsan_suppressions.txt
Labels: none

sec/oidc: do not wait for EOF on OIDC requests
  src/v/security/oidc_service.cc
Labels: area/redpanda

rptest: Allow rpc error log line
  tests/rptest/tests/partition_movement_test.py
Labels: none

cluster: Adding roles from whole cluster recovery snapshot.
  src/v/cluster/cloud_metadata/cluster_recovery_backend.cc
  src/v/cluster/cloud_metadata/cluster_recovery_backend.h
  src/v/cluster/cloud_metadata/tests/controller_snapshot_reconciliation_test.cc
  src/v/cluster/cluster_recovery_reconciler.cc
  src/v/cluster/cluster_recovery_reconciler.h
  src/v/cluster/controller.cc
Labels: area/redpanda

cloud_metadata: Extending WCR unit tests for role recovery.
  src/v/cluster/cloud_metadata/tests/cluster_metadata_utils.h
  src/v/cluster/cloud_metadata/tests/cluster_recovery_backend_test.cc
  src/v/cluster/cloud_metadata/tests/controller_snapshot_reconciliation_test.cc
Labels: area/redpanda

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']
