Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

cloud_storage/tests/remote_partition_test: increase timeout
  src/v/cloud_storage/tests/BUILD
Labels: area/redpanda

rpk debug bundle: avoid storing large files on memory
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/debug/bundle/bundle.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_k8s_linux.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_linux.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_test.go
Labels: area/rpk

`storage`: raise failed to build offset map log level to `ERROR`
  src/v/storage/disk_log_impl.cc
  tests/rptest/services/redpanda.py
Labels: area/redpanda

rpk: fix cluster config status in dedicated cluster
  src/go/rpk/pkg/cli/cluster/config/set.go
  src/go/rpk/pkg/cli/cluster/config/status.go
Labels: area/rpk

rpk: fix cluster config status in dedicated cluster
  src/go/rpk/pkg/cli/cluster/config/set.go
  src/go/rpk/pkg/cli/cluster/config/status.go
Labels: area/rpk

bazel/packaging: allow specifying install path as a prefix
  bazel/packaging/BUILD
  bazel/packaging/packaging.bzl
Labels: none

sr/service: do not log shutdown exception with error severity
  src/v/pandaproxy/schema_registry/service.cc
Labels: area/redpanda

rpk cluster config: install --all flag locally
  src/go/rpk/pkg/cli/cluster/config/config.go
  src/go/rpk/pkg/cli/cluster/config/edit.go
  src/go/rpk/pkg/cli/cluster/config/export.go
  src/go/rpk/pkg/cli/cluster/config/import.go
Labels: area/rpk

rpk: bump go dependencies
  MODULE.bazel
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/container/common/BUILD
  src/go/rpk/pkg/cli/container/common/client.go
  src/go/rpk/pkg/cli/container/common/common.go
  src/go/rpk/pkg/cli/container/common/test.go
Labels: area/rpk

rpk: bump go tools to fix broken build with go 1.25
  .github/workflows/rpk-build.yml
  src/go/rpk/go.mod
  src/go/rpk/go.sum
Labels: area/build, area/rpk

`storage`: move location of `mark_segment_as_finished_self_compaction()`
  src/v/storage/segment_utils.cc
Labels: area/redpanda

dl/coordinator: pull out using_glue_catalog()
  src/v/datalake/coordinator/coordinator.cc
  src/v/datalake/coordinator/coordinator.h
Labels: area/redpanda

dl/coordinator: don't purge data when dropping Glue table
  src/v/datalake/coordinator/coordinator.cc
  src/v/datalake/coordinator/file_committer.h
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/datalake/coordinator/iceberg_file_committer.h
  src/v/datalake/coordinator/tests/coordinator_test.cc
  src/v/datalake/coordinator/tests/state_test_utils.h
Labels: area/redpanda

dl/coordinator: pull out using_glue_catalog()
  src/v/datalake/coordinator/coordinator.cc
  src/v/datalake/coordinator/coordinator.h
Labels: area/redpanda

dl/coordinator: don't purge data when dropping Glue table
  src/v/datalake/coordinator/coordinator.cc
  src/v/datalake/coordinator/file_committer.h
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/datalake/coordinator/iceberg_file_committer.h
  src/v/datalake/coordinator/tests/coordinator_test.cc
  src/v/datalake/coordinator/tests/state_test_utils.h
Labels: area/redpanda

rpk: add logger to SR client
  MODULE.bazel
  bazel/thirdparty/go.work
  src/go/rpk/go.mod
  src/go/rpk/pkg/schemaregistry/BUILD
  src/go/rpk/pkg/schemaregistry/client.go
  tests/rptest/tests/audit_log_test.py
  tests/rptest/tests/offset_retention_test.py
  tests/rptest/tests/rpk_acl_test.py
Labels: area/rpk

tests/data_migrations_api_test: rename topic and tests variables
  tests/rptest/tests/data_migrations_api_test.py
Labels: none

tests/data_migrations_api_test: deflake verification
  tests/rptest/tests/data_migrations_api_test.py
Labels: none

rpk: show user friendly warning when a protected topic is altered/deleted
  src/go/rpk/pkg/cli/topic/config.go
  src/go/rpk/pkg/cli/topic/delete.go
  src/go/rpk/pkg/cli/topic/utils.go
Labels: area/rpk

rpk: add --wait to remote-bundle start
  src/go/rpk/pkg/cli/debug/remotebundle/download.go
  src/go/rpk/pkg/cli/debug/remotebundle/start.go
Labels: area/rpk

tests/node_restart_probe_test: relax assumptions
  tests/rptest/tests/node_restart_probe_test.py
Labels: none

tmp xtra logging
  src/v/cluster/data_migration_frontend.cc
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/partition_leaders_table.h
  src/v/cluster/service.cc
Labels: area/redpanda

boost_rules: patch BOOST_NO_CXX98_FUNCTION_BASE
  MODULE.bazel
  bazel/thirdparty/boost_rules_function_base.patch
Labels: none

lint: replace yapf with ruff
  .github/workflows/lint-python.yml
  .gitignore
  .ruff.toml
  .style.yapf
  .yapfignore
Labels: area/build

github: update CODEOWNERS
  .github/CODEOWNERS
Labels: area/build

git: ignore ruff format switch
  .git-blame-ignore-revs
Labels: none

tools/format-py: switch to ruff
  tools/format-py
Labels: none

tools: Fix uv ruff version string
  tools/format-py
Labels: none

lint: replace yapf with ruff
  .github/workflows/lint-python.yml
  .gitignore
  .ruff.toml
  .style.yapf
  .yapfignore
Labels: area/build

git: ignore ruff format switch
  .git-blame-ignore-revs
Labels: none

tools: Fix uv ruff version string
  tools/format-py
Labels: none

github: update CODEOWNERS
  .github/CODEOWNERS
Labels: area/build

tools/format-py: switch to ruff
  tools/format-py
Labels: none

git: ignore ruff format switch
  .git-blame-ignore-revs
Labels: none

github: update CODEOWNERS
  .github/CODEOWNERS
Labels: area/build

tools/format-py: switch to ruff
  tools/format-py
Labels: none

tools: Fix uv ruff version string
  tools/format-py
Labels: none

bazel: gitignore the external workspace link
  .gitignore
Labels: none

lint: replace yapf with ruff
  .github/workflows/lint-python.yml
  .gitignore
  .ruff.toml
  .style.yapf
  .yapfignore
Labels: area/build

git: ignore ruff format switch
  .git-blame-ignore-revs
Labels: none
