Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

ct/l1: keep flushing metastore partitions past a failure
  src/v/cloud_topics/level_one/metastore/flush_loop.cc
  src/v/cloud_topics/level_one/metastore/replicated_metastore.cc
  src/v/cloud_topics/level_one/metastore/tests/BUILD
  src/v/cloud_topics/level_one/metastore/tests/replicated_metastore_test.cc
Labels: area/redpanda

`storage`: ignore segment timestamps when compaction lag is unset
  src/v/storage/segment.h
  src/v/storage/tests/segment_deduplication_test.cc
Labels: area/redpanda

`ct/l1`: ignore extent timestamps when compaction lag is unset
  src/v/cloud_topics/level_one/maintenance/compaction/compaction_source.cc
  src/v/cloud_topics/level_one/maintenance/compaction/tests/reducer_test.cc
Labels: area/redpanda

hashing/crc32c: back with abseil instead of google/crc32c
  src/v/hashing/BUILD
  src/v/hashing/crc32c.h
  src/v/hashing/tests/BUILD
  src/v/hashing/tests/crc_bench.cc
Labels: area/redpanda

`cloud_topics`: bump test timeout to `moderate`
  src/v/cloud_topics/tests/BUILD
Labels: area/redpanda

rpk/connect: don't cap version segments at two digits
  src/go/rpk/pkg/cli/connect/BUILD
  src/go/rpk/pkg/cli/connect/install.go
  src/go/rpk/pkg/cli/connect/install_test.go
Labels: area/rpk

rpk/connect: don't cap version segments at two digits
  src/go/rpk/pkg/cli/connect/BUILD
  src/go/rpk/pkg/cli/connect/install.go
  src/go/rpk/pkg/cli/connect/install_test.go
Labels: area/rpk

rpk/connect: don't cap version segments at two digits
  src/go/rpk/pkg/cli/connect/BUILD
  src/go/rpk/pkg/cli/connect/install.go
  src/go/rpk/pkg/cli/connect/install_test.go
Labels: area/rpk

`config`: mark dev-features flag usable_before_ready
  src/v/config/configuration.cc
Labels: area/redpanda

dl/translation: fix busy loop under coordinator backpressure
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
  src/v/datalake/translation/tests/partition_translator_tests.cc
  tests/rptest/tests/datalake/coordinator_backpressure_test.py
Labels: area/redpanda

dl/translation: fix busy loop under coordinator backpressure
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
  src/v/datalake/translation/tests/partition_translator_tests.cc
  tests/rptest/tests/datalake/coordinator_backpressure_test.py
Labels: area/redpanda

DNM: no-op build to check the remote downloader in CI
  MODULE.bazel
Labels: none

DNM: no-op build to check the remote downloader in CI
  MODULE.bazel
Labels: none

ct/l1: keep flushing metastore partitions past a failure
  src/v/cloud_topics/level_one/metastore/flush_loop.cc
  src/v/cloud_topics/level_one/metastore/replicated_metastore.cc
  src/v/cloud_topics/level_one/metastore/tests/BUILD
  src/v/cloud_topics/level_one/metastore/tests/replicated_metastore_test.cc
Labels: area/redpanda

ct/l1: let flushes skip recently flushed domains
  src/v/cloud_topics/level_one/domain/db_domain_manager.cc
  src/v/cloud_topics/level_one/domain/db_domain_manager.h
  src/v/cloud_topics/level_one/metastore/metastore.h
  src/v/cloud_topics/level_one/metastore/replicated_metastore.cc
  src/v/cloud_topics/level_one/metastore/replicated_metastore.h
  src/v/cloud_topics/level_one/metastore/rpc_types.h
  src/v/cloud_topics/level_one/metastore/simple_metastore.h
  src/v/cloud_topics/level_one/metastore/tests/BUILD
  src/v/cloud_topics/level_one/metastore/tests/replicated_metastore_test.cc
  src/v/cloud_topics/read_replica/snapshot_metastore.cc
  src/v/cloud_topics/read_replica/snapshot_metastore.h
Labels: area/redpanda

ct/l1: let flushes skip recently flushed domains
  src/v/cloud_topics/level_one/domain/db_domain_manager.cc
  src/v/cloud_topics/level_one/domain/db_domain_manager.h
  src/v/cloud_topics/level_one/metastore/metastore.h
  src/v/cloud_topics/level_one/metastore/replicated_metastore.cc
  src/v/cloud_topics/level_one/metastore/replicated_metastore.h
  src/v/cloud_topics/level_one/metastore/rpc_types.h
  src/v/cloud_topics/level_one/metastore/simple_metastore.h
  src/v/cloud_topics/level_one/metastore/tests/BUILD
  src/v/cloud_topics/level_one/metastore/tests/replicated_metastore_test.cc
  src/v/cloud_topics/read_replica/snapshot_metastore.cc
  src/v/cloud_topics/read_replica/snapshot_metastore.h
Labels: area/redpanda

ct/l1: keep flushing metastore partitions past a failure
  src/v/cloud_topics/level_one/metastore/flush_loop.cc
  src/v/cloud_topics/level_one/metastore/replicated_metastore.cc
  src/v/cloud_topics/level_one/metastore/tests/BUILD
  src/v/cloud_topics/level_one/metastore/tests/replicated_metastore_test.cc
Labels: area/redpanda

rpk: bump grpc and klauspost/compress past snyk highs
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cloud/mcp/mcp.go
  src/go/rpk/pkg/publicapi/aigateway.go
Labels: area/rpk

`storage`: ignore segment timestamps when compaction lag is unset
  src/v/storage/segment.h
  src/v/storage/tests/segment_deduplication_test.cc
Labels: area/redpanda

`ct/l1`: ignore extent timestamps when compaction lag is unset
  src/v/cloud_topics/level_one/maintenance/compaction/compaction_source.cc
  src/v/cloud_topics/level_one/maintenance/compaction/tests/reducer_test.cc
Labels: area/redpanda

`ct/l1`: ignore extent timestamps when compaction lag is unset
  src/v/cloud_topics/level_one/compaction/source.cc
  src/v/cloud_topics/level_one/compaction/tests/reducer_test.cc
Labels: area/redpanda

`storage`: ignore segment timestamps when compaction lag is unset
  src/v/storage/segment.h
  src/v/storage/tests/segment_deduplication_test.cc
Labels: area/redpanda

rptest/redpanda_cloud: retry broker metrics health check
  tests/rptest/services/redpanda_cloud.py
Labels: none

k/p/wire: add write overloads for optional<named_type<sstring>>
  src/v/kafka/protocol/wire.h
Labels: area/redpanda

k/p/wire: encode flex arrays from a const container
  src/v/kafka/protocol/wire.h
Labels: area/redpanda

rptest: propagate log_config to the shadow link source cluster
  tests/rptest/tests/cluster_linking_test_base.py
Labels: none

rptest: raise fetch read concurrency in the cluster linking scale test
  tests/rptest/scale_tests/cluster_linking_many_partitions_test.py
Labels: none

k/p/wire: bounds-check read_flex_bytes before allocating
  src/v/kafka/protocol/tests/wire_validation_test.cc
  src/v/kafka/protocol/wire.h
Labels: area/redpanda

k/s/group_metadata: add the KIP-848 ConsumerGroup* records
  src/v/kafka/server/group_metadata.cc
  src/v/kafka/server/group_metadata.h
  src/v/kafka/server/group_recovery_consumer.cc
  src/v/kafka/server/group_tx_tracker_stm.cc
Labels: area/redpanda

k/p/wire: take write_tags by const reference
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/protocol/tests/field_parser_test.cc
  src/v/kafka/protocol/wire.h
  src/v/kafka/server/protocol_utils.cc
Labels: area/redpanda

k/s/tests: tests for ConsumerGroup* record serde
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/group_metadata_serialization_test.cc
Labels: area/redpanda

k/s/group_metadata: fold the kv serializer bodies into templates
  src/v/kafka/server/group_metadata.cc
Labels: area/redpanda

k/s/tests: add the Kafka oracle behind the record vectors
  src/v/kafka/server/tests/kafka_oracle/GroupRecordVectors.java
Labels: area/redpanda

`ct/l1`: don't schedule compaction for fully pinned logs
  src/v/cloud_topics/level_one/maintenance/log_info_collector.cc
  src/v/cloud_topics/level_one/maintenance/tests/log_info_collector_test.cc
Labels: area/redpanda

`rptest`: exercise incremental compaction/leveling in RNOT
  tests/rptest/tests/random_node_operations_smoke_test.py
Labels: none

`ct/l1`: clamp the commit interval to the target object size
  src/v/cloud_topics/level_one/maintenance/compaction/tests/reducer_test.cc
  src/v/cloud_topics/level_one/maintenance/l1_object_sink.cc
  src/v/cloud_topics/level_one/maintenance/l1_object_sink.h
  src/v/cloud_topics/level_one/maintenance/leveling/tests/leveling_reducer_test.cc
  tests/rptest/tests/cloud_topics/compaction_stress_test.py
Labels: area/redpanda

`utils`: add a rate-limited log method to `prefix_logger`
  src/v/utils/prefix_logger.h
Labels: area/redpanda

security/audit: skip audit topic creation when the topic exists
  src/v/security/audit/BUILD
  src/v/security/audit/client.cc
  src/v/security/audit/client.h
Labels: area/redpanda

tests/audit_log: cover both sides of the create-skip contract
  tests/rptest/tests/audit_log_test.py
Labels: none

kvstore: fail fast on flush fiber exceptions
  src/v/storage/kvstore.cc
Labels: area/redpanda
