Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

utils: pass the eviction source to the evictor
  src/v/lsm/db/table_cache.cc
  src/v/utils/chunked_kv_cache.h
  src/v/utils/s3_fifo.h
  src/v/utils/tests/s3_fifo_test.cc
Labels: area/redpanda

rpk: add stretch cluster grafana dashboard as --dashboard operations-stretch
  src/go/rpk/pkg/cli/generate/BUILD
  src/go/rpk/pkg/cli/generate/grafana-dashboards/Redpanda-Stretch-Cluster-Dashboard.json.gz
  src/go/rpk/pkg/cli/generate/grafana.go
  src/go/rpk/pkg/cli/generate/grafana_test.go
Labels: area/rpk

rpc: log reconnect semaphore starvation above trace
  src/v/rpc/reconnect_transport.cc
Labels: area/redpanda

raft: count connection_timeout toward follower force-reconnect
  src/v/raft/heartbeat_manager.cc
Labels: area/redpanda

kafka/server/tests: reset every config the gc probe test sets
  src/v/kafka/server/tests/quota_manager_test.cc
Labels: area/redpanda

kafka/server/tests: stop leaking the throttle cap into later tests
  src/v/kafka/server/tests/quota_manager_test.cc
Labels: area/redpanda

kafka/server/tests: re-record deficits when retrying throttle checks
  src/v/kafka/server/tests/quota_manager_test.cc
Labels: area/redpanda

kafka/server/tests: wait for quota updates instead of sleeping
  src/v/kafka/server/tests/quota_manager_test.cc
Labels: area/redpanda

kafka/server/tests: stop the gc probe test racing its own expiry
  src/v/kafka/server/tests/quota_manager_test.cc
Labels: area/redpanda

build/deps: patch avro to support UUID on fixed(16)
  MODULE.bazel.lock
  bazel/repositories.bzl
  bazel/thirdparty/avro-uuid-fixed.patch
Labels: none

iceberg/avro: handle UUID logical type on fixed(16) columns
  src/v/iceberg/conversion/schema_avro.cc
  src/v/iceberg/conversion/tests/iceberg_avro_tests.cc
  src/v/iceberg/conversion/values_avro.cc
  src/v/serde/avro/tests/data_generator.cc
Labels: area/redpanda

lsm/db: test that the table_cache index stays bounded under churn
  src/v/lsm/db/tests/table_cache_test.cc
Labels: area/redpanda

iceberg: parallelize bin merges in pack_mlist_and_new_data
  src/v/iceberg/merge_append_action.cc
Labels: area/redpanda

datalake: parallelize partitioning_writer::finish()
  src/v/datalake/partitioning_writer.cc
Labels: area/redpanda

iceberg: parallelize manifest downloads during merge
  src/v/iceberg/BUILD
  src/v/iceberg/merge_append_action.cc
  src/v/iceberg/merge_append_action.h
Labels: area/redpanda

cluster_link: add a schema-id probe to the SR source reader
  src/v/cluster_link/schema_registry_sync/http_source_reader.cc
  src/v/cluster_link/schema_registry_sync/http_source_reader.h
  src/v/cluster_link/schema_registry_sync/source_reader.h
  src/v/cluster_link/schema_registry_sync/tests/http_source_reader_test.cc
  src/v/cluster_link/schema_registry_sync/tests/sr_sync_test_fixtures.h
  src/v/cluster_link/schema_registry_sync/unavailable_source_reader.cc
  src/v/cluster_link/schema_registry_sync/unavailable_source_reader.h
Labels: area/redpanda

cluster_link: add the schema-id probe to discovery
  src/v/cluster_link/schema_registry_sync/discovery.cc
  src/v/cluster_link/schema_registry_sync/discovery.h
  src/v/cluster_link/schema_registry_sync/http_source_reader.cc
  src/v/cluster_link/schema_registry_sync/mirroring_task.cc
  src/v/cluster_link/schema_registry_sync/source_reader.h
  src/v/cluster_link/schema_registry_sync/tests/discovery_test.cc
  src/v/cluster_link/schema_registry_sync/tests/http_source_reader_test.cc
Labels: area/redpanda

pandaproxy: carry the schema id on subject_version_deleted
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/types.h
  src/v/schema/tests/fake_registry.cc
Labels: area/redpanda

cluster_link: probe source schema ids in the HTTP tail sync
  src/v/cluster_link/schema_registry_sync/mirroring_task.cc
  src/v/cluster_link/schema_registry_sync/mirroring_task.h
  src/v/cluster_link/schema_registry_sync/tests/mirroring_task_test.cc
Labels: area/redpanda

cluster_link: HTTP tail sync for sources without a _schemas feed
  src/v/cluster_link/schema_registry_sync/BUILD
  src/v/cluster_link/schema_registry_sync/discovery.cc
  src/v/cluster_link/schema_registry_sync/discovery.h
  src/v/cluster_link/schema_registry_sync/mirroring_task.cc
  src/v/cluster_link/schema_registry_sync/mirroring_task.h
  src/v/cluster_link/schema_registry_sync/schemas_topic_tail_reader.cc
  src/v/cluster_link/schema_registry_sync/schemas_topic_tail_reader.h
  src/v/cluster_link/schema_registry_sync/tail_reader.h
  src/v/cluster_link/schema_registry_sync/tests/BUILD
  src/v/cluster_link/schema_registry_sync/tests/discovery_test.cc
  src/v/cluster_link/schema_registry_sync/tests/mirroring_task_test.cc
  src/v/cluster_link/schema_registry_sync/tests/sr_sync_test_fixtures.h
Labels: area/redpanda

security/audit: report misconfigured auth from client init
  src/v/security/audit/client.cc
Labels: area/redpanda

security/audit: report misconfigured auth from client init
  src/v/security/audit/client.cc
Labels: area/redpanda

security/audit: report misconfigured auth from client init
  src/v/security/audit/client.cc
Labels: area/redpanda

bazel/thirdparty: bump aiohttp off a yanked release
  MODULE.bazel.lock
  bazel/thirdparty/requirements.txt
Labels: none

cluster/partition: sync partition_storage_mode on feature activation
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
Labels: area/redpanda

cluster: carry partition_storage_mode in partition_properties_stm
  src/v/cluster/partition_properties_stm.cc
  src/v/cluster/partition_properties_stm.h
  src/v/cluster/tests/partition_properties_stm_test.cc
Labels: area/redpanda

features: add the topic_storage_mode_migration feature
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  tests/rptest/tests/cluster_features_test.py
Labels: area/redpanda

ssx: add a single-fiber reconciler
  src/v/ssx/BUILD
  src/v/ssx/reconciler.h
  src/v/ssx/tests/BUILD
  src/v/ssx/tests/reconciler_test.cc
Labels: area/redpanda

cluster/partition: feed partition_storage_mode into ntp_config
  src/v/cluster/BUILD
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/raft/tests/failure_injectable_log.cc
  src/v/raft/tests/failure_injectable_log.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/log.h
Labels: area/redpanda

storage: split ntp_config storage mode into topic and partition
  src/v/storage/ntp_config.h
  src/v/storage/tests/BUILD
  src/v/storage/tests/ntp_config_test.cc
Labels: area/redpanda

cluster/partition: sync partition_storage_mode with topic_storage_mode
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_manager.cc
Labels: area/redpanda

kafka/server: add the uniform assignor for homogeneous groups
  src/v/kafka/server/BUILD
  src/v/kafka/server/uniform_assignor.cc
  src/v/kafka/server/uniform_assignor.h
Labels: area/redpanda

kafka/server/tests: test homogeneous assignment
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/consumer_group_assignor_test.cc
Labels: area/redpanda

kafka/server/tests: benchmark homogeneous assignment
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/consumer_group_assignor_bench.cc
Labels: area/redpanda

`cluster`: reconcile without a fiber per ntp
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
Labels: area/redpanda

kafka/server: add consumer_group_stm
  src/v/kafka/server/BUILD
  src/v/kafka/server/consumer_group_stm.cc
  src/v/kafka/server/consumer_group_stm.h
  src/v/kafka/server/group_data_parser.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_metadata.h
  src/v/kafka/server/group_recovery_consumer.cc
  src/v/kafka/server/group_recovery_consumer.h
  src/v/kafka/server/group_tx_tracker_stm.cc
  src/v/kafka/server/group_tx_tracker_stm.h
Labels: area/redpanda

kafka/server: route consumer heartbeats to the group manager
  src/v/kafka/protocol/consumer_group_heartbeat.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
  src/v/kafka/server/group_router.cc
  src/v/kafka/server/group_router.h
  src/v/kafka/server/handlers/consumer_group_heartbeat.cc
Labels: area/redpanda

kafka/server/tests: cover the offset_store apply mutators
  src/v/kafka/server/tests/offset_store_test.cc
Labels: area/redpanda

kafka/server/tests: cover the consumer heartbeat classic-id refusal
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/consumer_groups_test.cc
Labels: area/redpanda

kafka/server: register consumer_group_stm on __consumer_offsets
  src/v/redpanda/application_start.cc
Labels: area/redpanda
