Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

rpk: add OAUTHBEARER SASL mechanism support
  src/go/rpk/pkg/adminapi/BUILD
  src/go/rpk/pkg/adminapi/admin.go
  src/go/rpk/pkg/adminapi/auth_test.go
  src/go/rpk/pkg/cli/debug/remotebundle/start.go
  src/go/rpk/pkg/config/params.go
  src/go/rpk/pkg/kafka/BUILD
  src/go/rpk/pkg/kafka/client_franz.go
  src/go/rpk/pkg/kafka/client_franz_test.go
  src/go/rpk/pkg/schemaregistry/BUILD
  src/go/rpk/pkg/schemaregistry/client.go
  src/go/rpk/pkg/schemaregistry/client_test.go
Labels: area/rpk

rpk: add OAUTHBEARER SASL mechanism support
  src/go/rpk/pkg/adminapi/BUILD
  src/go/rpk/pkg/adminapi/admin.go
  src/go/rpk/pkg/adminapi/auth_test.go
  src/go/rpk/pkg/cli/debug/remotebundle/start.go
  src/go/rpk/pkg/config/params.go
  src/go/rpk/pkg/kafka/BUILD
  src/go/rpk/pkg/kafka/client_franz.go
  src/go/rpk/pkg/kafka/client_franz_test.go
  src/go/rpk/pkg/schemaregistry/BUILD
  src/go/rpk/pkg/schemaregistry/client.go
  src/go/rpk/pkg/schemaregistry/client_test.go
Labels: area/rpk

cluster/metrics_reporter: report local and cloud topic counts
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/metrics_reporter.h
  src/v/cluster/topic_properties.cc
  src/v/cluster/topic_properties.h
  tests/rptest/tests/metrics_reporter_test.py
Labels: area/redpanda

rpk/out: add declarative Render abstraction + topic describe demo
  src/go/rpk/docs/superpowers/specs/2026-04-21-rpk-output-abstraction-design.md
  src/go/rpk/pkg/cli/topic/describe.go
  src/go/rpk/pkg/cli/topic/describe_test.go
  src/go/rpk/pkg/out/BUILD
  src/go/rpk/pkg/out/render.go
  src/go/rpk/pkg/out/render_test.go
Labels: area/rpk

rptest: fix traffic shaping test name and docstring
  tests/rptest/tests/e2e_shadow_indexing_test.py
Labels: none

rptest: minor fixes to pass typechecks
  tests/rptest/tests/e2e_shadow_indexing_test.py
Labels: none

rptest: simplify traffic shaping to block all outgoing HTTPS
  tests/rptest/tests/e2e_shadow_indexing_test.py
  tests/rptest/utils/cluster_topology.py
Labels: none

rptest: fix traffic shaping test name and docstring
  tests/rptest/tests/e2e_shadow_indexing_test.py
Labels: none

rptest: simplify traffic shaping to block all outgoing HTTPS
  tests/rptest/tests/e2e_shadow_indexing_test.py
  tests/rptest/utils/cluster_topology.py
Labels: none

rptest: minor fixes to pass typechecks
  tests/rptest/tests/e2e_shadow_indexing_test.py
Labels: none

iceberg: serialize null initial-default and write-default for optional fields
  src/v/iceberg/datatypes.h
  src/v/iceberg/datatypes_json.cc
  src/v/iceberg/tests/datatypes_json_test.cc
Labels: area/redpanda

factor out config query
  src/v/kafka/server/handlers/describe_log_dirs.cc
Labels: area/redpanda

kafka: unit test describe_partition helper
  src/v/kafka/server/BUILD
  src/v/kafka/server/handlers/describe_log_dirs.cc
  src/v/kafka/server/handlers/describe_log_dirs.h
  src/v/kafka/server/handlers/describe_log_dirs_test.cc
Labels: area/redpanda

kafka: borrow describe_log_dirs filter instead of copying
  src/v/kafka/server/handlers/describe_log_dirs.cc
Labels: area/redpanda

kafka: extract describe_log_dirs reducer and unit test it
  src/v/kafka/server/handlers/describe_log_dirs.cc
  src/v/kafka/server/handlers/describe_log_dirs.h
  src/v/kafka/server/handlers/describe_log_dirs_test.cc
Labels: area/redpanda

rpk: warn when role name is not RFC 1123-compliant
  src/go/rpk/pkg/cli/security/role/BUILD
  src/go/rpk/pkg/cli/security/role/create.go
  src/go/rpk/pkg/cli/security/role/validation.go
  src/go/rpk/pkg/cli/security/role/validation_test.go
Labels: area/rpk

kafka: introduce partition_proxy_source seam
  src/v/kafka/data/BUILD
  src/v/kafka/data/partition_manager_proxy_source.cc
  src/v/kafka/data/partition_manager_proxy_source.h
  src/v/kafka/data/partition_proxy_source.h
  src/v/kafka/server/BUILD
  src/v/kafka/server/handlers/describe_log_dirs.cc
Labels: area/redpanda

rpk: address review - inline IsDNS1123Subdomain, collapse warning
  src/go/rpk/pkg/cli/security/role/BUILD
  src/go/rpk/pkg/cli/security/role/create.go
  src/go/rpk/pkg/cli/security/role/validation.go
  src/go/rpk/pkg/cli/security/role/validation_test.go
Labels: area/rpk

kafka: extract partition_proxy fakes and test collect_mapper
  src/v/kafka/data/tests/BUILD
  src/v/kafka/data/tests/fake_partition_proxy_impl.h
  src/v/kafka/data/tests/fake_partition_proxy_source.h
  src/v/kafka/server/BUILD
  src/v/kafka/server/handlers/describe_log_dirs.cc
  src/v/kafka/server/handlers/describe_log_dirs.h
  src/v/kafka/server/handlers/describe_log_dirs_test.cc
Labels: area/redpanda

rpc: add run_handlers_in_scheduling_group codegen option
  src/v/rpc/rpc_compiler.py
Labels: area/redpanda

ct/l1/metastore: run requests on metastore scheduling group
  src/v/cloud_topics/level_one/metastore/BUILD
  src/v/cloud_topics/level_one/metastore/leader_router.cc
  src/v/cloud_topics/level_one/metastore/rpc.json
Labels: area/redpanda

`rptest`: speedup `data_stat`
  tests/rptest/services/redpanda.py
Labels: none

`rptest`: speedup `data_stat`
  tests/rptest/services/redpanda.py
Labels: none

tests/kgo: add AbortTransaction primitive
  tests/go/kgo-verifier/pkg/worker/transaction_stm.go
Labels: none

tests/kgo: recover from transient produce errors
  tests/go/kgo-verifier/pkg/worker/verifier/producer_worker.go
Labels: none

tests/kgo: use a stable TransactionalID across restarts
  tests/go/kgo-verifier/pkg/worker/verifier/producer_worker.go
Labels: none

tests/kgo: force InitProducerId before sampling HWM
  tests/go/kgo-verifier/pkg/worker/verifier/producer_worker.go
Labels: none

tests/kgo: handle transient unknown_topic_partition errors on startup
  tests/go/kgo-verifier/cmd/kgo-verifier/main.go
Labels: none

`ct`: add `source_probe` with per-partition lag metric
  src/v/cloud_topics/reconciler/BUILD
  src/v/cloud_topics/reconciler/reconciler.cc
  src/v/cloud_topics/reconciler/reconciliation_source.cc
  src/v/cloud_topics/reconciler/reconciliation_source.h
  src/v/cloud_topics/reconciler/source_probe.cc
  src/v/cloud_topics/reconciler/source_probe.h
Labels: area/redpanda

`ct`: add tests for `pending_offset_lag` metric
  src/v/cloud_topics/reconciler/tests/reconciler_metrics_test.cc
  src/v/cloud_topics/reconciler/tests/test_utils.h
Labels: area/redpanda

cluster/self_test: abort multipart upload on failure
  src/v/cluster/self_test/cloudcheck.cc
Labels: area/redpanda

ct/l1: add shard-local footer cache
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/app.cc
  src/v/cloud_topics/app.h
  src/v/cloud_topics/frontend/frontend.cc
  src/v/cloud_topics/level_one/frontend_reader/BUILD
  src/v/cloud_topics/level_one/frontend_reader/l1_footer_cache.cc
  src/v/cloud_topics/level_one/frontend_reader/l1_footer_cache.h
  src/v/cloud_topics/level_one/frontend_reader/level_one_reader.cc
  src/v/cloud_topics/level_one/frontend_reader/level_one_reader.h
  src/v/cloud_topics/level_one/frontend_reader/tests/BUILD
  src/v/cloud_topics/level_one/frontend_reader/tests/l1_reader_fixture.h
  src/v/cloud_topics/level_one/frontend_reader/tests/reader_test.cc
  src/v/cloud_topics/state_accessors.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/data/cloud_topic_read_replica.cc
  src/v/kafka/data/cloud_topic_read_replica.h
Labels: area/redpanda

tx/gateway: break out of retry loops early at shutdown
  src/v/cluster/tx_gateway_frontend.cc
Labels: area/redpanda

rpk/ai: address review nits
  src/go/rpk/pkg/cli/ai/ai.go
  src/go/rpk/pkg/cli/ai/hook.go
  src/go/rpk/pkg/cli/ai/hook_test.go
  src/go/rpk/pkg/cli/ai/upgrade.go
Labels: area/rpk

rpk/oauth: extract shared LoadCloudToken helper
  src/go/rpk/pkg/cli/cloud/byoc/install.go
  src/go/rpk/pkg/oauth/load.go
Labels: area/rpk

rpk/plugin: address Copilot review on RepoClient errors
  src/go/rpk/pkg/plugin/repo.go
  src/go/rpk/pkg/plugin/repo_test.go
Labels: area/rpk

rpk/plugin: extract shared RepoClient for managed-plugin manifests
  src/go/rpk/pkg/cli/ai/BUILD
  src/go/rpk/pkg/cli/ai/client.go
  src/go/rpk/pkg/cli/ai/client_test.go
  src/go/rpk/pkg/cli/ai/install.go
  src/go/rpk/pkg/cli/connect/BUILD
  src/go/rpk/pkg/cli/connect/client.go
  src/go/rpk/pkg/cli/connect/install.go
  src/go/rpk/pkg/plugin/BUILD
  src/go/rpk/pkg/plugin/repo.go
  src/go/rpk/pkg/plugin/repo_test.go
Labels: area/rpk

rpk/profile: cache AI Gateway URL on cloud cluster profile creation
  src/go/rpk/pkg/cli/profile/create.go
  src/go/rpk/pkg/config/rpk_yaml.go
  src/go/rpk/pkg/config/rpk_yaml_test.go
Labels: area/rpk

rpk/ai: hide rpai implementation detail from user-facing surfaces
  src/go/rpk/pkg/cli/ai/ai.go
  src/go/rpk/pkg/cli/ai/client.go
  src/go/rpk/pkg/cli/ai/hook.go
  src/go/rpk/pkg/cli/ai/hook_test.go
  src/go/rpk/pkg/cli/ai/install.go
  src/go/rpk/pkg/cli/ai/install_test.go
  src/go/rpk/pkg/cli/ai/uninstall.go
  src/go/rpk/pkg/cli/ai/upgrade.go
Labels: area/rpk

cloud_io/cache: assert shard 0 in trim/tracker hot paths
  src/v/cloud_io/cache_service.cc
Labels: area/redpanda
