Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

transform-sdk/cpp: update quickjs
  src/transform-sdk/js/CMakeLists.txt
Labels: area/wasm

raft/recovery: log line with more context
  src/v/raft/recovery_stm.cc
Labels: area/redpanda

raft/c: notify waiters on follower state reset
  src/v/raft/types.cc
Labels: area/redpanda

transform-sdk/js: run tests with debug info
  src/transform-sdk/js/CMakeLists.txt
  src/transform-sdk/js/CMakePresets.json
  src/transform-sdk/tests/test_util.go
Labels: area/wasm

transform-sdk/js: fix asan violations for assignment operators
  src/transform-sdk/cpp/BUILD
  src/transform-sdk/js/BUILD
  src/transform-sdk/js/js_vm.cc
Labels: area/wasm

features/snapshot: figure out state for features missing in snapshot
  src/v/features/feature_table_snapshot.cc
Labels: area/redpanda

features/table: improve comments
  src/v/cluster/feature_backend.h
  src/v/features/feature_table.h
Labels: area/redpanda

application: don't enable datalake services in recovery mode
  src/v/redpanda/application.cc
Labels: area/redpanda

tests/datalake: add test in recovery mode
  tests/rptest/tests/datalake/recovery_mode_test.py
Labels: none

tests/datalake: add test with disabled partitions
  tests/rptest/tests/datalake/recovery_mode_test.py
Labels: none

c/migrations/frontend: only remember the local instance of components
  src/v/cluster/data_migration_frontend.cc
  src/v/cluster/data_migration_frontend.h
Labels: area/redpanda

tests/migrations: check behaviour when there's no enterprise license
  tests/rptest/tests/data_migrations_api_test.py
Labels: none

c/migrations/frontend: check license on migration create
  src/v/cluster/data_migration_frontend.cc
  src/v/cluster/data_migration_frontend.h
Labels: area/redpanda

features/tests: create a constant for test version
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/features/tests/feature_table_test.cc
Labels: area/redpanda

features/test: check behavior on missing features in snapshot
  src/v/features/tests/feature_table_test.cc
Labels: area/redpanda

`rptest`: fix condition in `wait_for_translation_until_offset()`
  tests/rptest/tests/datalake/datalake_services.py
Labels: none

[CORE-8081] rptest: fix config_profile_verify_test null handling
  tests/rptest/redpanda_cloud_tests/config_profile_verify_test.py
Labels: none

[CORE-8081] rptest: fix config_profile_verify_test null handling
  tests/rptest/redpanda_cloud_tests/config_profile_verify_test.py
Labels: none

[CORE-8081] rptest: fix config_profile_verify_test null handling
  tests/rptest/redpanda_cloud_tests/config_profile_verify_test.py
Labels: none

rptest: paramterize test_clusters_share_bucket
  tests/rptest/tests/remote_label_test.py
Labels: none

cloud_storage_clients/abs_client: use item filter in list_objects
  src/v/cloud_storage_clients/abs_client.cc
Labels: area/redpanda

rptest: paramterize test_clusters_share_bucket
  tests/rptest/tests/remote_label_test.py
Labels: none

cloud_storage_clients/abs_client: use item filter in list_objects
  src/v/cloud_storage_clients/abs_client.cc
Labels: area/redpanda

WIP: datalake: retry translation if translated below HWM
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
Labels: area/redpanda

tests: enable datalake in random node operation tests
  tests/rptest/tests/random_node_operations_test.py
  tests/rptest/utils/node_operations.py
Labels: none

datalake: added assertion validating that the memory reservation was set
  src/v/datalake/datalake_manager.cc
Labels: area/redpanda

raft/recovery: log line with more context
  src/v/raft/recovery_stm.cc
Labels: area/redpanda

raft/c: notify waiters on follower state reset
  src/v/raft/types.cc
Labels: area/redpanda

raft/c: notify waiters on follower state reset
  src/v/raft/types.cc
Labels: area/redpanda

raft/recovery: log line with more context
  src/v/raft/recovery_stm.cc
Labels: area/redpanda

raft/recovery: log line with more context
  src/v/raft/recovery_stm.cc
Labels: area/redpanda

raft/c: notify waiters on follower state reset
  src/v/raft/types.cc
Labels: area/redpanda

`rptest`: adjust `num_segments_deleted()` condition
  tests/rptest/tests/archive_retention_test.py
Labels: none

cluster: consider shard0 reserve in check_cluster_limits
  src/v/cluster/scheduling/partition_allocator.cc
Labels: area/redpanda

cluster: consider shard0 reserve in check_cluster_limits
  src/v/cluster/scheduling/partition_allocator.cc
Labels: area/redpanda

Inverting logic for alerts priority
  tests/rptest/redpanda_cloud_tests/observe_test.py
Labels: none

iceberg: fix decimal type json writer
  src/v/iceberg/datatypes_json.cc
Labels: area/redpanda

fake out
  src/v/redpanda/application.cc
Labels: area/redpanda

Revert "x/sdk/js: Add SchemaFormat object export to SR module"
  src/transform-sdk/js/main.cc
  src/transform-sdk/js/schema_registry_example/src/index.ts
Labels: area/wasm

Revert "x/sdk/js: Minor cleanups in extract_schema"
  src/transform-sdk/js/main.cc
Labels: area/wasm
