Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

tools/antithesis: name runs and control findings history
  tests/antithesis/ct_stress/test.yml
  tools/antithesis/at_common.py
  tools/antithesis/template_test_package.py
Labels: none

cloud_topics/l1: carry tiered-storage segment metadata in L1
  proto/redpanda/core/admin/internal/cloud_topics/v1/metastore.proto
  src/v/cloud_topics/level_one/common/BUILD
  src/v/cloud_topics/level_one/common/object_id.h
  src/v/cloud_topics/level_one/domain/db_domain_manager.cc
  src/v/cloud_topics/level_one/domain/simple_domain_manager.cc
  src/v/cloud_topics/level_one/metastore/lsm/debug_reader.cc
  src/v/cloud_topics/level_one/metastore/lsm/debug_serde.cc
  src/v/cloud_topics/level_one/metastore/lsm/tests/debug_reader_test.cc
  src/v/cloud_topics/level_one/metastore/lsm/values.h
  src/v/cloud_topics/level_one/metastore/metastore.h
  src/v/cloud_topics/level_one/metastore/replicated_metastore.cc
  src/v/cloud_topics/level_one/metastore/rpc_types.h
  src/v/cloud_topics/level_one/metastore/simple_metastore.cc
  src/v/cloud_topics/level_one/metastore/state.h
  src/v/cloud_topics/level_one/metastore/state_update.cc
  src/v/cloud_topics/level_one/metastore/state_update.h
  src/v/cloud_topics/level_one/metastore/tests/BUILD
  src/v/cloud_topics/level_one/metastore/tests/imported_serde_test.cc
  tests/rptest/clients/admin/proto/redpanda/core/admin/internal/cloud_topics/v1/metastore_pb2.py
  tests/rptest/clients/admin/proto/redpanda/core/admin/internal/cloud_topics/v1/metastore_pb2.pyi
Labels: area/redpanda

cloud_topics/l1: add a per-partition migrating flag to the metastore
  proto/redpanda/core/admin/internal/cloud_topics/v1/metastore.proto
  src/v/cloud_topics/level_one/domain/db_domain_manager.cc
  src/v/cloud_topics/level_one/domain/db_domain_manager.h
  src/v/cloud_topics/level_one/domain/domain_manager.h
  src/v/cloud_topics/level_one/domain/simple_domain_manager.cc
  src/v/cloud_topics/level_one/domain/simple_domain_manager.h
  src/v/cloud_topics/level_one/metastore/BUILD
  src/v/cloud_topics/level_one/metastore/leader_router.cc
  src/v/cloud_topics/level_one/metastore/leader_router.h
  src/v/cloud_topics/level_one/metastore/leader_router_probe.cc
  src/v/cloud_topics/level_one/metastore/leader_router_probe.h
  src/v/cloud_topics/level_one/metastore/lsm/debug_reader.cc
  src/v/cloud_topics/level_one/metastore/lsm/debug_serde.cc
  src/v/cloud_topics/level_one/metastore/lsm/state_update.cc
  src/v/cloud_topics/level_one/metastore/lsm/state_update.h
  src/v/cloud_topics/level_one/metastore/lsm/tests/debug_reader_test.cc
  src/v/cloud_topics/level_one/metastore/lsm/values.h
  src/v/cloud_topics/level_one/metastore/metastore.h
  src/v/cloud_topics/level_one/metastore/replicated_metastore.cc
  src/v/cloud_topics/level_one/metastore/replicated_metastore.h
  src/v/cloud_topics/level_one/metastore/rpc.json
  src/v/cloud_topics/level_one/metastore/rpc_types.h
  src/v/cloud_topics/level_one/metastore/service.cc
  src/v/cloud_topics/level_one/metastore/service.h
  src/v/cloud_topics/level_one/metastore/simple_metastore.cc
  src/v/cloud_topics/level_one/metastore/simple_metastore.h
  src/v/cloud_topics/level_one/metastore/simple_stm.cc
  src/v/cloud_topics/level_one/metastore/state.cc
  src/v/cloud_topics/level_one/metastore/state.h
  src/v/cloud_topics/level_one/metastore/state_update.cc
  src/v/cloud_topics/level_one/metastore/state_update.h
  src/v/cloud_topics/level_one/metastore/tests/imported_serde_test.cc
  src/v/cloud_topics/level_one/metastore/tests/state_update_test.cc
  src/v/cloud_topics/read_replica/snapshot_metastore.cc
  src/v/cloud_topics/read_replica/snapshot_metastore.h
  tests/rptest/clients/admin/proto/redpanda/core/admin/internal/cloud_topics/v1/metastore_pb2.py
  tests/rptest/clients/admin/proto/redpanda/core/admin/internal/cloud_topics/v1/metastore_pb2.pyi
Labels: area/redpanda

cloud_storage: split offset_index into its own library
  src/v/cloud_storage/BUILD
  src/v/cloud_storage/offset_index.cc
  src/v/cloud_storage/offset_index.h
  src/v/cloud_storage/remote_segment_index.cc
  src/v/cloud_storage/remote_segment_index.h
Labels: area/redpanda

cloud_topics/l1: register imported segments through add_objects
  src/v/cloud_topics/level_one/metastore/BUILD
  src/v/cloud_topics/level_one/metastore/lsm/state_update.cc
  src/v/cloud_topics/level_one/metastore/metastore.h
  src/v/cloud_topics/level_one/metastore/partition_validator.cc
  src/v/cloud_topics/level_one/metastore/partition_validator.h
  src/v/cloud_topics/level_one/metastore/replicated_metastore.cc
  src/v/cloud_topics/level_one/metastore/simple_metastore.cc
  src/v/cloud_topics/level_one/metastore/simple_metastore.h
  src/v/cloud_topics/level_one/metastore/state_update.cc
  src/v/cloud_topics/level_one/metastore/tests/state_update_test.cc
  src/v/cloud_topics/read_replica/snapshot_metastore.cc
Labels: area/redpanda

cloud_topics/l1: add a chunked data source
  src/v/cloud_topics/level_one/common/BUILD
  src/v/cloud_topics/level_one/common/chunk_data_source.h
  src/v/cloud_topics/level_one/common/tests/BUILD
  src/v/cloud_topics/level_one/common/tests/chunk_data_source_test.cc
Labels: area/redpanda

cloud_topics/l1: read L1 objects through an open_object/object_handle abstraction
  src/v/cloud_topics/level_one/common/BUILD
  src/v/cloud_topics/level_one/common/abstract_io.cc
  src/v/cloud_topics/level_one/common/abstract_io.h
  src/v/cloud_topics/level_one/common/fake_io.cc
  src/v/cloud_topics/level_one/common/fake_io.h
  src/v/cloud_topics/level_one/common/file_io.cc
  src/v/cloud_topics/level_one/common/file_io.h
  src/v/cloud_topics/level_one/common/file_io_probe.cc
  src/v/cloud_topics/level_one/common/file_io_probe.h
  src/v/cloud_topics/level_one/common/object_handle.cc
  src/v/cloud_topics/level_one/common/object_handle.h
  src/v/cloud_topics/level_one/common/open_object.cc
  src/v/cloud_topics/level_one/common/open_object.h
  src/v/cloud_topics/level_one/common/tests/BUILD
  src/v/cloud_topics/level_one/common/tests/file_io_stream_test.cc
  src/v/cloud_topics/level_one/common/tests/open_object_test.cc
  src/v/cloud_topics/level_one/frontend_reader/BUILD
  src/v/cloud_topics/level_one/frontend_reader/level_one_reader.cc
  src/v/cloud_topics/level_one/frontend_reader/level_one_reader.h
  src/v/cloud_topics/level_one/frontend_reader/level_one_reader_probe.cc
  src/v/cloud_topics/level_one/frontend_reader/level_one_reader_probe.h
  src/v/cloud_topics/level_one/metastore/tests/BUILD
Labels: area/redpanda

kafka: relicense fetch read coalescing files under RCL
  src/v/kafka/server/fetch_memory_units.h
  src/v/kafka/server/fetch_read_coalescer.cc
  src/v/kafka/server/fetch_read_coalescer.h
Labels: area/redpanda

c/health_manager: retry rf bump on transient allocation errors
  src/v/cluster/health_manager.cc
Labels: area/redpanda

raft/buffered_protocol: fix shutdown race
  src/v/raft/buffered_protocol.cc
  src/v/raft/buffered_protocol.h
Labels: area/redpanda

raft/buffered_protocol: use abort source to close
  src/v/raft/buffered_protocol.cc
  src/v/raft/buffered_protocol.h
Labels: area/redpanda

Merge pull request #31136 from r-vasquez/more-snyk-go-bumps
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  tests/go/sarama/produce_legacy_version_test/go.sum
  tests/go/sarama/produce_test/go.mod
  tests/go/sarama/produce_test/go.sum
Labels: area/rpk

Merge pull request #31142 from redpanda-data/DEVPROD-4481
  .github/workflows/slash-commands.yml
Labels: area/build

Merge pull request #31129 from mnajda-redpanda/mnajda/confluent-sr-preflight-binary-check
  tests/rptest/services/confluent_schema_registry.py
Labels: none

Merge pull request #31112 from bartoszpiekny-redpanda/CORE-16860-consumer-mock-harness
  src/v/kafka/client/consumer.cc
  src/v/kafka/client/consumer.h
  src/v/kafka/client/fetch_session.cc
  src/v/kafka/client/fetch_session.h
  src/v/kafka/client/test/fetch_session.cc
  tests/rptest/tests/pandaproxy_test.py
Labels: area/redpanda

Merge pull request #31132 from nguyen-andrew/sl-sr-push-next-sync-before-shutdown
  tests/rptest/tests/cluster_linking_test_base.py
Labels: none

Merge pull request #31209 from mnajda-redpanda/mnajda/test-utils-assert-that-coro
  src/v/test_utils/test.h
  src/v/test_utils/tests/gtest_test.cc
Labels: area/redpanda

Merge pull request #31219 from WillemKauf/datalake-mux-test-hour-flake
  src/v/datalake/tests/gtest_record_multiplexer_test.cc
Labels: area/redpanda

Merge pull request #31152 from nvartolomei/nv/kafka-client-auth-race
  src/v/kafka/client/broker.cc
  src/v/kafka/client/broker.h
  src/v/kafka/client/test/BUILD
  src/v/kafka/client/test/cluster_test.cc
Labels: area/redpanda

Merge pull request #31159 from Lazin/ct/reconciler-exclusive-local-read-floor
  src/v/cloud_topics/reconciler/reconciliation_source.cc
Labels: area/redpanda

Merge pull request #31141 from WillemKauf/more_schema_registry_opts
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/test/BUILD
  src/v/pandaproxy/schema_registry/test/recovery_bench.cc
Labels: area/redpanda

Merge pull request #31131 from WillemKauf/worktree-sr-two-phase-recovery
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/storage.h
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/sharded_store.cc
  src/v/pandaproxy/schema_registry/types.h
Labels: area/redpanda

Merge pull request #31147 from nvartolomei/nv/pooled-client-fifo-test
  src/v/pandaproxy/schema_registry/rest_client/tests/pooled_client_test.cc
Labels: area/redpanda

Merge pull request #31094 from mnajda-redpanda/mnajda/sr-sync-auth-tls-tests
  tests/rptest/tests/cluster_linking_schema_registry_sync_test.py
Labels: none

Merge pull request #31173 from WillemKauf/describe_log_dirs_crash_fix
  src/v/kafka/server/handlers/describe_log_dirs.cc
Labels: area/redpanda

Merge pull request #31202 from andrwng/pool-util-probe
  src/v/cloud_storage_clients/client_pool.cc
  src/v/cloud_storage_clients/client_pool.h
  src/v/cloud_storage_clients/client_probe.cc
  src/v/cloud_storage_clients/client_probe.h
  src/v/cloud_storage_clients/tests/BUILD
  src/v/cloud_storage_clients/tests/client_pool_test.cc
Labels: area/redpanda

Merge pull request #31180 from nvartolomei/nv/snapshot-writer-close-assert
  src/v/storage/snapshot.cc
  src/v/storage/tests/BUILD
  src/v/storage/tests/snapshot_test.cc
Labels: area/redpanda

Merge pull request #31073 from nguyen-andrew/sarama-declare-kafka-4x
  tests/go/sarama/produce_test/main.go
  tests/rptest/tests/compatibility/sarama_produce_test.py
  tests/rptest/tests/compatibility/sarama_test.py
Labels: none

Merge pull request #31172 from WillemKauf/worktree-leveling-compaction-mutex
  src/v/cloud_topics/level_one/maintenance/log_info_collector.cc
  src/v/cloud_topics/level_one/maintenance/tests/log_info_collector_test.cc
  src/v/cloud_topics/level_one/maintenance/tests/worker_manager_test.cc
  src/v/cloud_topics/level_one/maintenance/worker.cc
  src/v/cloud_topics/level_one/maintenance/worker_manager.cc
Labels: area/redpanda

Merge pull request #31151 from nvartolomei/nv/dl-coordinator-deflake-drain-test
  src/v/datalake/coordinator/tests/coordinator_test.cc
Labels: area/redpanda

Merge pull request #31107 from WillemKauf/controller_erase_test_deflake
  tests/rptest/tests/controller_erase_test.py
Labels: none

Merge pull request #31137 from sjust-redpanda/sjust/sr-startup-race
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/pandaproxy/schema_registry/BUILD
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/service.h
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda

Merge pull request #31215 from WillemKauf/json-sink-staging
  src/v/json/chunked_buffer.h
  src/v/json/chunked_input_stream.h
  src/v/json/iobuf_writer.h
  src/v/pandaproxy/json/requests/produce.h
  src/v/pandaproxy/json/test/parse.cc
  src/v/pandaproxy/schema_registry/BUILD
  src/v/pandaproxy/schema_registry/json.cc
Labels: area/redpanda

Merge pull request #31130 from WillemKauf/schemas_disable_eviction
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/tests/BUILD
  src/v/storage/tests/log_retention_test.cc
Labels: area/redpanda

Merge pull request #31171 from joe-redpanda/joe/fix-group-delete-gate-crash
  src/v/kafka/server/group_manager.cc
Labels: area/redpanda

Merge pull request #31150 from mnajda-redpanda/mnajda/cluster-link-reconcile-sink-failure
  src/v/cluster_link/replication/link_replication_mgr.cc
  src/v/cluster_link/replication/tests/BUILD
  src/v/cluster_link/replication/tests/link_replication_mgr_tests.cc
Labels: area/redpanda

Merge pull request #31185 from WillemKauf/bump_seastar
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

Merge pull request #31018 from WillemKauf/compaction_reduce_reads
  src/v/cloud_topics/level_one/maintenance/compaction/BUILD
  src/v/cloud_topics/level_one/maintenance/compaction/compaction_filter.cc
  src/v/cloud_topics/level_one/maintenance/compaction/compaction_filter.h
  src/v/cloud_topics/level_one/maintenance/compaction/compaction_source.cc
  src/v/compaction/utils.cc
  src/v/compaction/utils.h
  src/v/model/record.h
  src/v/model/record_utils.cc
  src/v/model/record_utils.h
  src/v/model/tests/BUILD
  src/v/model/tests/record_batch_test.cc
  src/v/storage/compaction_reducers.cc
  src/v/storage/compaction_reducers.h
  src/v/storage/segment_deduplication_utils.cc
  src/v/storage/segment_utils.cc
  src/v/storage/segment_utils.h
  src/v/storage/tests/segment_deduplication_test.cc
Labels: area/redpanda

Merge pull request #31212 from WillemKauf/cloud_storage_update_desc
  src/v/config/configuration.cc
Labels: area/redpanda

Merge pull request #31146 from nvartolomei/nv/ssx-actor-tell-ordering
  src/v/ssx/actor.h
  src/v/ssx/tests/actor_test.cc
Labels: area/redpanda

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']
