Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

pandaproxy: merge internal and public metrics
  src/v/pandaproxy/probe.cc
  src/v/pandaproxy/probe.h
Labels: area/redpanda

admin: show leader id in /v1/cluster/partitions response
  src/v/redpanda/admin/server.cc
Labels: area/redpanda

archival: Disable cross-term compaction
  src/v/cluster/archival/segment_reupload.cc
  src/v/cluster/archival/segment_reupload.h
  src/v/cluster/archival/tests/ntp_archiver_reupload_test.cc
Labels: area/redpanda

bazel: upgrade to 8
  .bazelversion
  MODULE.bazel
  MODULE.bazel.lock
  bazel/internal.bzl
  bazel/thirdparty/Cargo.toml
Labels: none

raft/c: avoid exceptional futures in linearizable barrier
  src/v/raft/consensus.cc
Labels: area/redpanda

`rptest`: bump `kgo-verifier` version
  tests/docker/ducktape-deps/kgo-verifier
Labels: none

config: Added is_restricted() method to enterprise property
  src/v/config/property.h
  src/v/config/tests/enterprise_property_test.cc
Labels: area/redpanda

`rptest`: fix `random_node_operations_test` parameterization
  tests/rptest/tests/random_node_operations_test.py
Labels: none

datalake/translator: ensure cleanup of log reader in all cases
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
Labels: area/redpanda

storage: Fallback mechanism for index anomalizes
  src/v/storage/BUILD
  src/v/storage/index_state.cc
  src/v/storage/index_state.h
  src/v/storage/tests/BUILD
  src/v/storage/tests/index_state_test.cc
Labels: area/redpanda

datalake/metrics: miscellaneous improvements to lag metrics
  src/v/cluster/partition_probe.cc
  src/v/cluster/partition_probe.h
  src/v/datalake/coordinator/types.h
  tests/rptest/tests/datalake/datalake_e2e_test.py
Labels: area/redpanda

datalake/metrics: miscellaneous improvements to lag metrics
  src/v/cluster/partition_probe.cc
  src/v/cluster/partition_probe.h
  src/v/datalake/coordinator/types.h
  tests/rptest/tests/datalake/datalake_e2e_test.py
Labels: area/redpanda

datalake/translator: ensure cleanup of log reader in all cases
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
Labels: area/redpanda

r/buffered_protocol: removed double colons in metric names
  src/v/raft/buffered_protocol.cc
Labels: area/redpanda

r/buffered_protocol: added a missing call to setup metrics
  src/v/raft/buffered_protocol.cc
Labels: area/redpanda

r/buffered_protocol: removed append entries latency histogram
  src/v/raft/buffered_protocol.cc
Labels: area/redpanda

tests: added redpanda connect service
  tests/rptest/services/redpanda_connect.py
Labels: none

tests: added a very basic test for redpanda connect service
  tests/rptest/tests/redpanda_connect_test.py
Labels: none

pandaproxy: add max memory check for incoming requests
  src/v/pandaproxy/reply.h
  src/v/pandaproxy/rest/proxy.cc
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/server.cc
  src/v/pandaproxy/server.h
  tests/rptest/tests/pandaproxy_test.py
Labels: area/redpanda

kgo: crash on data loss
  tests/docker/ducktape-deps/kgo-verifier
Labels: none

WIP
  src/v/CMakeLists.txt
  src/v/config/node_config.h
  src/v/crash_tracker/BUILD
  src/v/crash_tracker/CMakeLists.txt
  src/v/crash_tracker/api.cc
  src/v/crash_tracker/api.h
  src/v/crash_tracker/logger.cc
  src/v/crash_tracker/logger.h
  src/v/crash_tracker/service.cc
  src/v/crash_tracker/service.h
  src/v/crash_tracker/types.h
  src/v/redpanda/BUILD
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
Labels: area/redpanda

fmt: remove formatter workaround for old fmt
  src/v/ssx/sformat.h
Labels: area/redpanda

kafka: Relaxed topic property enforcement when license invalid
  src/v/cluster/topics_frontend.cc
  src/v/kafka/server/tests/alter_config_test.cc
  src/v/kafka/server/tests/create_partition_test.cc
  src/v/kafka/server/tests/create_topics_test.cc
Labels: area/redpanda

dt: Test to verify relaxed tiered storage topic configs
  tests/rptest/tests/license_enforcement_test.py
Labels: none

tests/migrations: add scale test, fix allow lists
  tests/rptest/scale_tests/data_migrations_test.py
  tests/rptest/tests/data_migrations.py
  tests/rptest/tests/data_migrations_api_test.py
Labels: none

tests/migrations: longer timeout for scale tests
  tests/rptest/scale_tests/data_migrations_test.py
  tests/rptest/tests/data_migrations.py
Labels: none

kafka/client: replace std::vector with chunked vector
  src/v/kafka/client/client.cc
  src/v/kafka/client/client.h
  src/v/pandaproxy/json/requests/produce.h
Labels: area/redpanda

rpk remote debug bundle: job-id help text change
  src/go/rpk/pkg/cli/debug/remotebundle/start.go
Labels: area/rpk

tests/polaris: use curl to query polaris catalog health check
  tests/rptest/services/polaris_catalog.py
Labels: none

config: Add configuration for SASL/PLAIN
  src/v/config/configuration.cc
  src/v/config/validators.cc
Labels: area/redpanda

kafka: Wire up SASL/PLAIN
  src/v/kafka/server/server.cc
Labels: area/redpanda

security: Introduce plain_authenticator
  src/v/security/BUILD
  src/v/security/CMakeLists.txt
  src/v/security/plain_authenticator.cc
  src/v/security/plain_authenticator.h
Labels: area/redpanda

security: Improve validate_scram_credential
  src/v/security/scram_algorithm.h
  src/v/security/scram_authenticator.cc
Labels: area/redpanda

feature_manager: Refactor any_of from absl to std::ranges
  src/v/cluster/feature_manager.cc
Labels: area/redpanda

config: bazelize enterprise_property_test
  src/v/config/tests/BUILD
  src/v/config/tests/enterprise_property_test.cc
Labels: area/redpanda

config: bazelize bounded_property_test
  src/v/config/tests/BUILD
Labels: area/redpanda

config: bazelize enum_property_test
  src/v/config/tests/BUILD
Labels: area/redpanda

config: bazelize retention_property_test
  src/v/config/tests/BUILD
Labels: area/redpanda

config: bazelize config_store_test
  src/v/config/tests/BUILD
Labels: area/redpanda

config: bazelize socket_address_convert_test
  src/v/config/tests/BUILD
Labels: area/redpanda
