Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

wasm: expose listener_name in batch metadata ABI
  src/v/kafka/server/handlers/produce.cc
  src/v/wasm/request_metadata.h
  src/v/wasm/transform_module.cc
Labels: area/redpanda

transform-sdk/rust: expose listener_name metadata key
  src/transform-sdk/rust/core-sys/src/lib.rs
Labels: area/wasm

syschecks: warn instead of throw on low memory
  src/v/syschecks/syschecks.cc
  src/v/syschecks/syschecks.h
Labels: area/redpanda

tests: add ducktape tests for broker-side field-level encryption
  src/v/kafka/data/dek_refilling_reader.cc
  tests/rptest/tests/broker_encryption_test.py
Labels: area/redpanda

redpanda: reorder ossl init startup sequence to before config loading
  src/v/kafka/client/test/fixture.h
  src/v/kafka/server/tests/topic_recreate_test.cc
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/redpanda/tests/fixture.h
Labels: area/redpanda

cloud_io: apply throughput percent on each recompute
  src/v/cloud_io/io_resources.cc
Labels: area/redpanda

cloud_io: apply throughput percent on each recompute
  src/v/cloud_io/io_resources.cc
Labels: area/redpanda

cloud_io: serialize concurrent throughput updates
  src/v/cloud_io/BUILD
  src/v/cloud_io/io_resources.cc
  src/v/cloud_io/io_resources.h
Labels: area/redpanda

ct: Update pipeline to use actor model
  src/v/cloud_topics/level_zero/pipeline/BUILD
  src/v/cloud_topics/level_zero/pipeline/base_pipeline.h
  src/v/cloud_topics/level_zero/pipeline/event_filter.h
  src/v/cloud_topics/level_zero/pipeline/pipeline_actor.h
  src/v/cloud_topics/level_zero/pipeline/read_pipeline.cc
  src/v/cloud_topics/level_zero/pipeline/read_pipeline.h
  src/v/cloud_topics/level_zero/pipeline/tests/BUILD
  src/v/cloud_topics/level_zero/pipeline/tests/event_filter_test.cc
  src/v/cloud_topics/level_zero/pipeline/tests/pipeline_bench.cc
  src/v/cloud_topics/level_zero/pipeline/tests/read_pipeline_test.cc
  src/v/cloud_topics/level_zero/pipeline/write_pipeline.cc
  src/v/cloud_topics/level_zero/pipeline/write_pipeline.h
Labels: area/redpanda

schema_registry/json: resolve external JSON schema references
  src/v/pandaproxy/schema_registry/json.cc
Labels: area/redpanda

schema_registry/test: add JSON schema external reference tests
  src/v/pandaproxy/schema_registry/test/BUILD
  src/v/pandaproxy/schema_registry/test/json_schema_references.cc
Labels: area/redpanda

iceberg/json_schema: extend frontend to accept external schemas
  src/v/iceberg/conversion/json_schema/frontend.cc
  src/v/iceberg/conversion/json_schema/frontend.h
  src/v/iceberg/conversion/json_schema/ir.h
Labels: area/redpanda

datalake: pass external schemas through Iceberg pipeline
  src/v/datalake/record_schema_resolver.cc
  src/v/pandaproxy/schema_registry/json.cc
  src/v/pandaproxy/schema_registry/json.h
Labels: area/redpanda

datalake/test: add JSON schema external reference e2e test
  tests/rptest/tests/datalake/datalake_e2e_test.py
Labels: none

iceberg/json_schema: add external reference frontend tests
  src/v/iceberg/conversion/json_schema/tests/BUILD
  src/v/iceberg/conversion/json_schema/tests/frontend_test.cc
Labels: area/redpanda

ct: Upgrade all pipeline components
  src/v/cloud_topics/data_plane_impl.cc
  src/v/cloud_topics/level_zero/batcher/BUILD
  src/v/cloud_topics/level_zero/batcher/batcher.cc
  src/v/cloud_topics/level_zero/batcher/batcher.h
  src/v/cloud_topics/level_zero/batcher/tests/BUILD
  src/v/cloud_topics/level_zero/batcher/tests/batcher_test.cc
  src/v/cloud_topics/level_zero/pipeline/tests/BUILD
  src/v/cloud_topics/level_zero/read_fanout/BUILD
  src/v/cloud_topics/level_zero/read_fanout/read_fanout.cc
  src/v/cloud_topics/level_zero/read_fanout/read_fanout.h
  src/v/cloud_topics/level_zero/read_fanout/tests/BUILD
  src/v/cloud_topics/level_zero/read_fanout/tests/read_fanout_bench.cc
  src/v/cloud_topics/level_zero/read_fanout/tests/read_fanout_test.cc
  src/v/cloud_topics/level_zero/read_merge/BUILD
  src/v/cloud_topics/level_zero/read_merge/read_merge.cc
  src/v/cloud_topics/level_zero/read_merge/read_merge.h
  src/v/cloud_topics/level_zero/read_merge/tests/BUILD
  src/v/cloud_topics/level_zero/read_merge/tests/read_merge_bench.cc
  src/v/cloud_topics/level_zero/read_merge/tests/read_merge_test.cc
  src/v/cloud_topics/level_zero/read_request_scheduler/BUILD
  src/v/cloud_topics/level_zero/read_request_scheduler/read_request_scheduler.cc
  src/v/cloud_topics/level_zero/read_request_scheduler/read_request_scheduler.h
  src/v/cloud_topics/level_zero/read_request_scheduler/tests/BUILD
  src/v/cloud_topics/level_zero/read_request_scheduler/tests/read_request_scheduler_test.cc
  src/v/cloud_topics/level_zero/reader/BUILD
  src/v/cloud_topics/level_zero/reader/fetch_request_handler.cc
  src/v/cloud_topics/level_zero/reader/fetch_request_handler.h
  src/v/cloud_topics/level_zero/reader/tests/fetch_handler_test.cc
  src/v/cloud_topics/level_zero/tests/BUILD
  src/v/cloud_topics/level_zero/tests/l0_object_size_distribution_test.cc
  src/v/cloud_topics/level_zero/write_request_scheduler/BUILD
  src/v/cloud_topics/level_zero/write_request_scheduler/tests/BUILD
  src/v/cloud_topics/level_zero/write_request_scheduler/tests/write_request_scheduler_bench.cc
  src/v/cloud_topics/level_zero/write_request_scheduler/tests/write_request_scheduler_test.cc
  src/v/cloud_topics/level_zero/write_request_scheduler/write_request_scheduler.cc
  src/v/cloud_topics/level_zero/write_request_scheduler/write_request_scheduler.h
Labels: area/redpanda

ct/l1: remove unnecessary std::to_underlying in error formatting
  src/v/cloud_topics/level_one/frontend_reader/level_one_reader.cc
Labels: area/redpanda

kafka/produce: make no-transform path a single map lookup
  src/v/kafka/server/handlers/produce.cc
  src/v/transform/api.cc
  src/v/transform/api.h
  src/v/transform/produce_path_executor.cc
  src/v/transform/produce_path_executor.h
  src/v/transform/transform_manager.cc
  src/v/transform/transform_manager.h
Labels: area/redpanda

cloud_io: serialize concurrent throughput updates
  src/v/cloud_io/BUILD
  src/v/cloud_io/io_resources.cc
  src/v/cloud_io/io_resources.h
Labels: area/redpanda

build/deps: upgrade openssl to v3.0.20 (CVE-2026-31790)
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

iceberg: add delete-related snapshot summary fields
  src/v/iceberg/snapshot.h
  src/v/iceberg/snapshot_json.cc
Labels: area/redpanda

iceberg: extract shared manifest utilities from merge_append
  src/v/iceberg/BUILD
  src/v/iceberg/manifest_utils.cc
  src/v/iceberg/manifest_utils.h
  src/v/iceberg/merge_append_action.cc
  src/v/iceberg/merge_append_action.h
Labels: area/redpanda

iceberg: add row_delta_action for atomic data + delete commits
  src/v/iceberg/BUILD
  src/v/iceberg/row_delta_action.cc
  src/v/iceberg/row_delta_action.h
  src/v/iceberg/tests/BUILD
  src/v/iceberg/tests/row_delta_action_test.cc
Labels: area/redpanda

iceberg: add equality delete file writer
  src/v/iceberg/BUILD
  src/v/iceberg/equality_delete_file.cc
  src/v/iceberg/equality_delete_file.h
  src/v/iceberg/tests/BUILD
  src/v/iceberg/tests/equality_delete_file_test.cc
Labels: area/redpanda

datalake: extend translator interface for CDC support
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
  src/v/datalake/record_translator.cc
  src/v/datalake/record_translator.h
Labels: area/redpanda

iceberg: add row_delta to transaction API
  src/v/iceberg/BUILD
  src/v/iceberg/transaction.cc
  src/v/iceberg/transaction.h
Labels: area/redpanda

datalake: add debezium translator and iceberg mode
  src/v/cluster/metrics_reporter.cc
  src/v/datalake/BUILD
  src/v/datalake/coordinator/BUILD
  src/v/datalake/coordinator/coordinator.cc
  src/v/datalake/coordinator/data_file.h
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/datalake/datalake_manager.cc
  src/v/datalake/debezium_translator.cc
  src/v/datalake/debezium_translator.h
  src/v/datalake/partitioning_writer.cc
  src/v/datalake/partitioning_writer.h
  src/v/datalake/schema_identifier.h
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/debezium_translator_test.cc
  src/v/datalake/translation_task.cc
  src/v/iceberg/row_delta_action.cc
  src/v/model/metadata.h
  src/v/model/model.cc
Labels: area/redpanda

tests: add Debezium CDC end-to-end test
  tests/rptest/tests/datalake/debezium_cdc_e2e_test.py
Labels: none

tests: add PostgreSQL and Debezium Server test infrastructure
  tests/docker/Dockerfile
  tests/docker/ducktape-deps/debezium-server
  tests/docker/ducktape-deps/postgres
  tests/rptest/services/debezium_server_service.py
  tests/rptest/services/postgres_service.py
Labels: none

datalake: add cdc_key_value iceberg mode
  src/v/cluster/metrics_reporter.cc
  src/v/datalake/BUILD
  src/v/datalake/cdc_key_value_translator.cc
  src/v/datalake/cdc_key_value_translator.h
  src/v/datalake/datalake_manager.cc
  src/v/model/metadata.h
  src/v/model/model.cc
  tests/rptest/tests/datalake/cdc_key_value_test.py
Labels: area/redpanda

parquet: expose file_metadata from writer and improve stats
  src/v/serde/parquet/BUILD
  src/v/serde/parquet/column_writer.cc
  src/v/serde/parquet/column_writer.h
  src/v/serde/parquet/tests/writer_test.cc
  src/v/serde/parquet/writer.cc
  src/v/serde/parquet/writer.h
Labels: area/redpanda

parquet: add file_io abstraction and footer parsing
  src/v/serde/parquet/BUILD
  src/v/serde/parquet/file_io.cc
  src/v/serde/parquet/file_io.h
  src/v/serde/parquet/metadata.cc
  src/v/serde/parquet/metadata.h
  src/v/serde/parquet/reader.cc
  src/v/serde/parquet/tests/BUILD
  src/v/serde/parquet/tests/file_io_test.cc
  src/v/serde/parquet/tests/metadata_roundtrip_test.cc
Labels: area/redpanda

iceberg: add parquet reader with field-ID column matching
  src/v/iceberg/BUILD
  src/v/iceberg/parquet_reader.cc
  src/v/iceberg/parquet_reader.h
  src/v/iceberg/tests/BUILD
  src/v/iceberg/tests/parquet_reader_test.cc
  src/v/serde/parquet/BUILD
Labels: area/redpanda

iceberg: add position delete filtering in parquet reader
  src/v/iceberg/parquet_reader.cc
  src/v/iceberg/parquet_reader.h
  src/v/iceberg/tests/parquet_reader_test.cc
Labels: area/redpanda

parquet: add record assembler
  src/v/serde/parquet/BUILD
  src/v/serde/parquet/assembler.cc
  src/v/serde/parquet/assembler.h
  src/v/serde/parquet/tests/BUILD
  src/v/serde/parquet/tests/assembler_test.cc
Labels: area/redpanda

iceberg: add null fill for missing columns in parquet reader
  src/v/iceberg/parquet_reader.cc
  src/v/iceberg/tests/BUILD
  src/v/iceberg/tests/parquet_reader_test.cc
Labels: area/redpanda

iceberg: add type promotion in parquet reader
  src/v/iceberg/parquet_reader.cc
  src/v/iceberg/tests/parquet_reader_test.cc
Labels: area/redpanda

thrift: add compact protocol decoder
  src/v/serde/thrift/BUILD
  src/v/serde/thrift/compact.cc
  src/v/serde/thrift/compact.h
  src/v/serde/thrift/tests/BUILD
  src/v/serde/thrift/tests/compact_test.cc
Labels: area/redpanda

parquet: add data encoding and decoding primitives
  src/v/serde/parquet/BUILD
  src/v/serde/parquet/encoding.cc
  src/v/serde/parquet/encoding.h
  src/v/serde/parquet/flattened_schema.cc
  src/v/serde/parquet/metadata.cc
  src/v/serde/parquet/tests/encoding_test.cc
Labels: area/redpanda

parquet: add async file reader with column projection
  src/v/serde/parquet/BUILD
  src/v/serde/parquet/assembler.cc
  src/v/serde/parquet/reader.cc
  src/v/serde/parquet/reader.h
  src/v/serde/parquet/tests/BUILD
  src/v/serde/parquet/tests/reader_test.cc
Labels: area/redpanda
