Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

bazel: Update libxml2 2.14.5
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

rpk: Fix a bug in operation parsing
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  tests/rptest/tests/rpk_acl_test.py
Labels: area/rpk

c/utils: added helper to find node id in raft replica set
  src/v/cluster/cluster_utils.h
Labels: area/redpanda

c/backend: do not remove force reconfigured replica if it a learner
  src/v/cluster/controller_backend.cc
Labels: area/redpanda

tests: added test validating force recovery from local state
  tests/rptest/tests/partition_force_reconfiguration_test.py
Labels: none

fixup: remove cmake references, other review comments
  .github/copilot-instructions.md
Labels: area/build

initial copilot-instructions.md
  .github/copilot-instructions.md
Labels: area/build

fixup: copied from Nicolae instructions
  .github/copilot-instructions.md
Labels: area/build

fixup: remove cmake references, other review comments
  .github/copilot-instructions.md
Labels: area/build

initial copilot-instructions.md
  .github/copilot-instructions.md
Labels: area/build

fixup: copied from Nicolae instructions
  .github/copilot-instructions.md
Labels: area/build

cl: Add topic properties utilities
  src/v/cluster_link/utils/BUILD
  src/v/cluster_link/utils/topic_properties_utils.cc
  src/v/cluster_link/utils/topic_properties_utils.h
Labels: area/redpanda

k/s: Update schema ID validator to take key/val
  src/v/kafka/server/handlers/configs/config_utils.h
Labels: area/redpanda

k/d/rpc: Add create_partitions to topic_creator
  src/v/kafka/data/rpc/deps.cc
  src/v/kafka/data/rpc/deps.h
  src/v/kafka/data/rpc/test/deps.cc
  src/v/kafka/data/rpc/test/deps.h
Labels: area/redpanda

cl: Wire in topic_creator into manager
  src/v/cluster_link/link.cc
  src/v/cluster_link/link.h
  src/v/cluster_link/manager.cc
  src/v/cluster_link/manager.h
  src/v/cluster_link/service.cc
  src/v/cluster_link/service.h
  src/v/cluster_link/tests/deps.cc
  src/v/cluster_link/tests/link_test.cc
Labels: area/redpanda

cl/tests: Handle more topic properties
  src/v/cluster_link/tests/deps.h
Labels: area/redpanda

cl: Wire topic_reconciler into manager
  src/v/cluster_link/manager.cc
  src/v/cluster_link/manager.h
Labels: area/redpanda

cl: Introduce topic_reconciler
  src/v/cluster_link/BUILD
  src/v/cluster_link/tests/BUILD
  src/v/cluster_link/tests/deps.h
  src/v/cluster_link/tests/topic_reconciler_test.cc
  src/v/cluster_link/topic_reconciler.cc
  src/v/cluster_link/topic_reconciler.h
Labels: area/redpanda

cl/tests: Added fake_topic_creator to fixture
  src/v/cluster_link/tests/deps.cc
  src/v/cluster_link/tests/deps.h
Labels: area/redpanda

k/server: Add new method that returns topic_configuration
  src/v/kafka/server/handlers/topics/types.cc
  src/v/kafka/server/handlers/topics/types.h
Labels: area/redpanda

k/d/rpc: Allow setting RF when creating topic
  src/v/kafka/data/rpc/deps.cc
  src/v/kafka/data/rpc/deps.h
  src/v/kafka/data/rpc/test/deps.h
Labels: area/redpanda

c/utils: added helper to find node id in raft replica set
  src/v/cluster/cluster_utils.h
Labels: area/redpanda

tests: added test validating force recovery from local state
  tests/rptest/tests/partition_force_reconfiguration_test.py
Labels: none

c/backend: do not remove force reconfigured replica if it a learner
  src/v/cluster/controller_backend.cc
Labels: area/redpanda

archival: Make 'get_stream' reentrant
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/segment_reupload.cc
Labels: area/redpanda

tests: account for target reply bytes in delayed datalake enablement test
  tests/rptest/tests/datalake/datalake_e2e_test.py
Labels: none

DNM: use my Seastar fork
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

treewide: do not rely on co_return callling explicit ctors
  src/v/cloud_storage_clients/s3_client.cc
  src/v/cloud_topics/frontend/frontend.cc
  src/v/cluster/ephemeral_credential_service.cc
  src/v/cluster/self_test/cloudcheck.cc
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster_link/tests/deps.h
  src/v/datalake/coordinator/frontend.cc
  src/v/iceberg/conversion/values_protobuf.cc
  src/v/iceberg/rest_catalog.cc
  src/v/kafka/data/rpc/test/deps.h
  src/v/kafka/protocol/flex_versions.cc
  src/v/kafka/server/group.cc
  src/v/kafka/server/group_manager.cc
  src/v/net/tls.cc
  src/v/raft/types.cc
Labels: area/redpanda

rptest: bump protobuf to non yanked version
  tests/setup.py
Labels: none

Revert "dt/direct_consumer: Use progress oriented wait"
  tests/rptest/direct_consumer_tests/direct_consumer_test.py
Labels: none

admin service: add some extra logging to find headless svc
  src/v/redpanda/admin/server.cc
Labels: area/redpanda

admin service: add some extra logging to find headless svc
  src/v/redpanda/admin/server.cc
Labels: area/redpanda

config: Introduce cloud_storage_client_lease_timeout_ms
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

csc/client_pool: acquire_with_timeout takes a lowres_clock::duration
  src/v/cloud_io/remote.cc
  src/v/cloud_storage_clients/client_pool.cc
  src/v/cloud_storage_clients/client_pool.h
  src/v/cloud_storage_clients/tests/client_pool_test.cc
Labels: area/redpanda

csc/client_pool: Don't propagate deadline into client_pool::acquire
  src/v/cloud_storage_clients/client_pool.cc
  src/v/cloud_storage_clients/tests/client_pool_test.cc
Labels: area/redpanda

cloud_io: Wire up client_lease_timeout_ms
  src/v/cloud_io/remote.cc
  src/v/cloud_io/remote.h
  tests/rptest/tests/e2e_shadow_indexing_test.py
Labels: area/redpanda

csc/client_pool: Don't propagate deadline into client_pool::acquire
  src/v/cloud_storage_clients/client_pool.cc
  src/v/cloud_storage_clients/tests/client_pool_test.cc
Labels: area/redpanda

cloud_io: Wire up client_lease_timeout_ms
  src/v/cloud_io/remote.cc
  src/v/cloud_io/remote.h
  tests/rptest/tests/e2e_shadow_indexing_test.py
Labels: area/redpanda

config: Introduce cloud_storage_client_lease_timeout_ms
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

csc/client_pool: acquire_with_timeout takes a lowres_clock::duration
  src/v/cloud_io/remote.cc
  src/v/cloud_storage_clients/client_pool.cc
  src/v/cloud_storage_clients/client_pool.h
  src/v/cloud_storage_clients/tests/client_pool_test.cc
Labels: area/redpanda

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']
