Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

Revert "pandaproxy/sr: Add support for format query parameter"
  src/v/pandaproxy/schema_registry/error.cc
  src/v/pandaproxy/schema_registry/error.h
  src/v/pandaproxy/schema_registry/errors.h
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/types.cc
  src/v/pandaproxy/schema_registry/types.h
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda

rpk/transform/buildpack: upgrade tinygo
  src/go/rpk/pkg/cli/transform/buildpack/buildpack.go
  src/go/rpk/pkg/cli/transform/buildpack/url_test.go
Labels: area/rpk

rpk/transform/buildpack: upgrade tinygo
  src/go/rpk/pkg/cli/transform/buildpack/buildpack.go
Labels: area/rpk

config: mark that Iceberg REST props need restart
  src/v/config/configuration.cc
Labels: area/redpanda

ct: Fix event subscription
  src/v/cloud_topics/core/base_pipeline.h
Labels: area/redpanda

ct: Implement 'trigger_event' for the 'read_pipeline'
  src/v/cloud_topics/core/read_pipeline.cc
  src/v/cloud_topics/core/read_pipeline.h
Labels: area/redpanda

ct: Update read_pipelne interface
  src/v/cloud_topics/core/read_pipeline.cc
  src/v/cloud_topics/core/read_pipeline.h
Labels: area/redpanda

ct: Add cloud_topics/api.h
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/api.h
Labels: area/redpanda

ct: Update read_request
  src/v/cloud_topics/core/read_request.cc
  src/v/cloud_topics/core/read_request.h
Labels: area/redpanda

ct: Refactor read-path
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/CMakeLists.txt
  src/v/cloud_topics/L0_read_path/L0_fetch_handler.cc
  src/v/cloud_topics/L0_read_path/placeholder_extent_reader.cc
  src/v/cloud_topics/L0_read_path/tests/L0_fetch_handler_test.cc
  src/v/cloud_topics/core/BUILD
  src/v/cloud_topics/interfaces/BUILD
  src/v/cloud_topics/interfaces/README.md
  src/v/cloud_topics/interfaces/cluster_partition_manager.cc
  src/v/cloud_topics/interfaces/cluster_partition_manager.h
  src/v/cloud_topics/interfaces/tests/BUILD
  src/v/cloud_topics/interfaces/tests/cluster_partition_manager_test.cc
  src/v/cloud_topics/interfaces/tests/mocks.h
  src/v/cloud_topics/interfaces/tests/partition_data_generator.h
  src/v/cloud_topics/read_path/BUILD
  src/v/cloud_topics/read_path/README.md
  src/v/cloud_topics/read_path/fetch_request_handler.cc
  src/v/cloud_topics/read_path/fetch_request_handler.h
  src/v/cloud_topics/read_path/placeholder_extent.cc
  src/v/cloud_topics/read_path/placeholder_extent.h
  src/v/cloud_topics/read_path/placeholder_extent_reader.cc
  src/v/cloud_topics/read_path/placeholder_extent_reader.h
  src/v/cloud_topics/read_path/tests/BUILD
  src/v/cloud_topics/read_path/tests/fetch_handler_test.cc
  src/v/cloud_topics/read_path/tests/mocks.h
  src/v/cloud_topics/read_path/tests/placeholder_extent_fixture.cc
  src/v/cloud_topics/read_path/tests/placeholder_extent_fixture.h
  src/v/cloud_topics/read_path/tests/placeholder_extent_reader_test.cc
  src/v/cloud_topics/read_path/tests/placeholder_extent_test.cc
Labels: area/redpanda

ct: Refine :serializer deps
  src/v/cloud_topics/core/BUILD
Labels: area/redpanda

ct: Fix batcher_test
  src/v/cloud_topics/batcher/tests/batcher_test.cc
Labels: area/redpanda

ct: Use pimpl in cloud_topics/app
  src/v/cloud_topics/app.cc
  src/v/cloud_topics/app.h
Labels: area/redpanda

ct: Improve background loop of the batcher
  src/v/cloud_topics/batcher/batcher.cc
Labels: area/redpanda

ct: Add cloud_topics/app_impl
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/app_impl.cc
  src/v/cloud_topics/app_impl.h
Labels: area/redpanda

ct: Refactor write_pipeline
  src/v/cloud_topics/core/tests/pipeline_bench.cc
  src/v/cloud_topics/core/write_pipeline.cc
  src/v/cloud_topics/core/write_pipeline.h
Labels: area/redpanda

application: Initialize cloud_topics_api
  src/v/redpanda/BUILD
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
Labels: area/redpanda

c/archival: wakeup upload loop after flush
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/ntp_archiver_service.h
Labels: area/redpanda

http/debug: add end point for offset_for_leader_epoch
  src/v/redpanda/admin/api-doc/partition.json
Labels: area/redpanda

dt/tests/admin: add get_offset_for_leader_epoch
  tests/rptest/services/admin.py
Labels: none

kafka/debug: add handler for offset_for_leader_epoch
  src/v/redpanda/admin/BUILD
  src/v/redpanda/admin/partition.cc
  src/v/redpanda/admin/server.h
Labels: area/redpanda

dt/tests: add test for offset_for_leader_epoch
  tests/rptest/tests/partition_state_api_test.py
Labels: none

`storage`: output full `segment` in `WARN` log in `offset_to_filepos.cc`
  src/v/storage/offset_to_filepos.cc
Labels: area/redpanda

pt retry: adjust allowed drift to 50
  tests/ducktape-common-retry.yml
  tests/ducktape-pr-retry.yml
Labels: none

tests: change base in retry config
  tests/ducktape-common-retry.yml
Labels: none

pt retry: adjust allowed drift to 50
  tests/ducktape-common-retry.yml
  tests/ducktape-pr-retry.yml
Labels: none

tests: change base in retry config
  tests/ducktape-common-retry.yml
Labels: none

pt retry: adjust allowed drift to 50
  tests/ducktape-common-retry.yml
  tests/ducktape-pr-retry.yml
Labels: none

tests: change base in retry config
  tests/ducktape-common-retry.yml
Labels: none

test: update ducktape ref
  tests/setup.py
Labels: none

Add watchdogs to ntp-archiver, clent_pool and STM
  src/v/cloud_storage_clients/BUILD
  src/v/cloud_storage_clients/client_pool.cc
  src/v/cluster/BUILD
  src/v/cluster/archival/archival_metadata_stm.cc
  src/v/cluster/archival/ntp_archiver_service.cc
Labels: area/redpanda

treewide: Remove record_batch_reader::foreign_data_t
  src/v/kafka/client/client_fetch_batch_reader.cc
  src/v/kafka/utils/txn_reader.cc
  src/v/model/record_batch_reader.cc
  src/v/model/record_batch_reader.h
  src/v/raft/consensus_utils.h
  src/v/storage/log_reader.h
  src/v/storage/utils/transforming_reader.h
Labels: area/redpanda

rpk: add logger to SR client
  MODULE.bazel
  bazel/thirdparty/go.work
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/schemaregistry/BUILD
  src/go/rpk/pkg/schemaregistry/client.go
  tests/rptest/tests/audit_log_test.py
  tests/rptest/tests/offset_retention_test.py
  tests/rptest/tests/rpk_acl_test.py
Labels: area/rpk

rpk: decommission-status reports reallocation failure details
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/redpanda/admin/brokers/decommission-status.go
Labels: area/rpk

treewide: remove record_batch_reader::storage_t
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_topics/L0_read_path/placeholder_extent_reader.cc
  src/v/kafka/client/client_fetch_batch_reader.cc
  src/v/kafka/protocol/batch_reader.cc
  src/v/kafka/protocol/batch_reader.h
  src/v/kafka/utils/tests/txn_reader_test.cc
  src/v/kafka/utils/txn_reader.cc
  src/v/kafka/utils/txn_reader.h
  src/v/model/record_batch_reader.cc
  src/v/model/record_batch_reader.h
  src/v/raft/consensus_utils.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/log_reader.cc
  src/v/storage/log_reader.h
  src/v/storage/readers_cache.cc
  src/v/storage/utils/transforming_reader.h
Labels: area/redpanda

util: fix tracker test for abseil soo
  src/v/utils/tests/tracking_allocator_tests.cc
Labels: area/redpanda

ssx: add a logging_rwlock
  src/v/ssx/BUILD
  src/v/ssx/rwlock.h
  src/v/ssx/tests/BUILD
  src/v/ssx/tests/CMakeLists.txt
  src/v/ssx/tests/rwlock_test.cc
Labels: area/redpanda

storage: replace rwlock with logging_rwlock
  src/v/cluster/BUILD
  src/v/cluster/archival/archival_policy.cc
  src/v/cluster/archival/archival_policy.h
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/ntp_archiver_service.h
  src/v/cluster/archival/segment_reupload.cc
  src/v/storage/BUILD
  src/v/storage/disk_log_appender.cc
  src/v/storage/disk_log_appender.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/lock_manager.cc
  src/v/storage/lock_manager.h
  src/v/storage/segment.cc
  src/v/storage/segment.h
  src/v/storage/segment_utils.cc
  src/v/storage/segment_utils.h
Labels: area/redpanda

tests: do not use random group name
  tests/rptest/tests/describe_producers_test.py
Labels: none

tests: added more logging into describe producers test
  tests/rptest/tests/describe_producers_test.py
Labels: none
