Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

cluster: use chunked_vector when reporting reconciliation status
  src/v/cluster/controller_api.cc
  src/v/cluster/controller_api.h
  src/v/cluster/service.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
  src/v/cluster/types.h
  src/v/redpanda/admin/partition.cc
Labels: area/redpanda

cloud_storage/partition_manifest/serialize_json: option to omit segments
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
Labels: area/redpanda

cloud_storage/partition_manifest: make it printable
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
Labels: area/redpanda

controller: expose recovery state from controller_api
  src/v/cluster/controller.cc
  src/v/cluster/controller_api.cc
  src/v/cluster/controller_api.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
Labels: area/redpanda

controller: use recovery status when reporting move status
  src/v/cluster/controller_api.cc
  src/v/redpanda/admin/partition.cc
  src/v/redpanda/admin/server.cc
Labels: area/redpanda

tests/setup: update ducktape to 0.12
  tests/setup.py
Labels: none

update kafkatest version to match with 0.12
  tests/setup.py
Labels: none

storage: Reduce default read-ahead count
  src/v/cloud_storage/tests/remote_partition_fuzz_test.cc
  src/v/config/configuration.cc
Labels: area/redpanda

c/partition_recovery_manager: restore partition manifest logging
  src/v/cloud_storage/partition_manifest.cc
  src/v/cluster/partition_recovery_manager.cc
Labels: area/redpanda

base: Rename assert-unreachable logger to assert
  src/v/base/unreachable.h
Labels: area/redpanda

ducktape: updated minio
  tests/docker/docker-compose.yml
Labels: none

`rptest`: make check for `None` explicit
  tests/rptest/tests/datalake/datalake_services.py
Labels: none

rm_stm/tests: add a high concurrency test for producer eviction
  src/v/cluster/tests/rm_stm_test_fixture.h
  src/v/cluster/tests/rm_stm_tests.cc
  src/v/cluster/tests/tx_compaction_tests.cc
Labels: area/redpanda

feature: introduced a feature for symmetic reconfiguration cancel
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
Labels: area/redpanda

r/tests: refactored group configuration tests
  src/v/raft/tests/BUILD
  src/v/raft/tests/CMakeLists.txt
  src/v/raft/tests/group_configuration_tests.cc
Labels: area/redpanda

raft: added new strategy to make reconfiguration symetric
  src/v/raft/group_configuration.cc
  src/v/raft/group_configuration.h
  src/v/raft/tests/configuration_serialization_test.cc
  src/v/raft/tests/group_configuration_tests.cc
Labels: area/redpanda

raft: update configuration to version 7 when possible
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
Labels: area/redpanda

feature_table: retire serde_raft_configuration feature
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/group_configuration.cc
Labels: area/redpanda

[rptest] Fix "ContainerAlreadyExists" in test_recovery_mode
  tests/rptest/services/redpanda.py
  tests/rptest/tests/recovery_mode_test.py
Labels: none

[rptest] RedpandaInstaller async download rework
  tests/rptest/services/redpanda_installer.py
Labels: none

treewide: move `s3_fifo` into `src/v/utils`
  src/v/io/BUILD
  src/v/io/page.cc
  src/v/io/page.h
  src/v/io/page_cache.h
  src/v/io/pager.cc
  src/v/io/pager.h
  src/v/io/tests/BUILD
  src/v/io/tests/CMakeLists.txt
  src/v/utils/BUILD
  src/v/utils/s3_fifo.h
  src/v/utils/tests/BUILD
  src/v/utils/tests/CMakeLists.txt
  src/v/utils/tests/s3_fifo_test.cc
Labels: area/redpanda

utils: add chunked_kv_cache
  src/v/utils/BUILD
  src/v/utils/chunked_kv_cache.h
  src/v/utils/tests/BUILD
  src/v/utils/tests/CMakeLists.txt
  src/v/utils/tests/chunked_kv_cache_test.cc
Labels: area/redpanda

rpk: add well-known protobuf types to rpk
  .github/workflows/rpk-build.yml
  src/go/rpk/pkg/serde/BUILD
  src/go/rpk/pkg/serde/embed/BUILD
  src/go/rpk/pkg/serde/embed/embed.go
  src/go/rpk/pkg/serde/embed/embed_test.go
  src/go/rpk/pkg/serde/embed/protobuf/.clang-format
  src/go/rpk/pkg/serde/embed/protobuf/confluent/meta.proto
  src/go/rpk/pkg/serde/embed/protobuf/confluent/types/decimal.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/README.md
  src/go/rpk/pkg/serde/embed/protobuf/google/type/calendar_period.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/color.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/date.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/datetime.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/dayofweek.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/decimal.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/expr.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/fraction.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/interval.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/latlng.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/localized_text.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/money.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/month.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/phone_number.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/postal_address.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/quaternion.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/timeofday.proto
  src/go/rpk/pkg/serde/proto.go
  src/go/rpk/pkg/serde/proto_test.go
  src/v/pandaproxy/BUILD
  tests/rptest/tests/rpk_registry_test.py
Labels: area/build, area/rpk, area/redpanda

ducktape: updated minio
  tests/docker/docker-compose.yml
Labels: none

datalake/verifier: add ability to handle transactions with gaps
  tests/rptest/tests/datalake/datalake_verifier.py
Labels: none

datalake/tests: test with transactions
  tests/rptest/tests/datalake/transactions_test.py
  tests/rptest/transactions/verifiers/compacted_verifier.py
Labels: none

rm_stm: fix a race condition between async cleanup and reset
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
Labels: area/redpanda

`rptest`: make check for `None` explicit
  tests/rptest/tests/datalake/datalake_services.py
Labels: none

base: Rename assert-unreachable logger to assert
  src/v/base/unreachable.h
Labels: area/redpanda

gha: add permissions for jira_issue_manage to write issue
  .github/workflows/jira_issue_manage.yml
Labels: area/build

`storage`: log on clamped `segment.ms` value
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda

raft/tests/reconfiguration: allow more memory
  src/v/raft/tests/BUILD
  src/v/raft/tests/CMakeLists.txt
Labels: area/redpanda

raft/tests: added option to enable offset trannslation in tests
  src/v/raft/tests/raft_fixture.cc
  src/v/raft/tests/raft_fixture.h
Labels: area/redpanda

datalake/tests: enable offset translation in state machine test
  src/v/datalake/translation/tests/state_machine_test.cc
Labels: area/redpanda

translation_stm: reset highest translated offset on raft snapshot
  src/v/datalake/translation/state_machine.cc
Labels: area/redpanda

security: Extract validate_scram_credential
  src/v/security/request_auth.cc
  src/v/security/scram_authenticator.cc
  src/v/security/scram_authenticator.h
Labels: area/redpanda

producer_state_manager: make period configurable for testing
  src/v/cluster/producer_state_manager.cc
  src/v/cluster/producer_state_manager.h
Labels: area/redpanda

rm_stm/tests: add a high concurrency test for producer eviction
  src/v/cluster/tests/rm_stm_test_fixture.h
  src/v/cluster/tests/rm_stm_tests.cc
  src/v/cluster/tests/tx_compaction_tests.cc
Labels: area/redpanda

rm_stm: fix a race condition between async cleanup and reset
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
Labels: area/redpanda

tests: reduce logging in random_node_operations_test
  tests/rptest/tests/random_node_operations_test.py
Labels: none
