Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

k/d/rpc/client: Extend retry_with_backoff w/ RetryPolicy
  src/v/kafka/data/rpc/client.cc
Labels: area/redpanda

k/d/rpc: Hold the gate open during client retry loop
  src/v/kafka/data/rpc/client.cc
Labels: area/redpanda

k/d/rpc/client: Add retry_mitigating to consume
  src/v/kafka/data/rpc/client.cc
  src/v/kafka/data/rpc/client.h
Labels: area/redpanda

sr: Introduce rpc_transport
  src/v/pandaproxy/schema_registry/BUILD
  src/v/pandaproxy/schema_registry/fwd.h
  src/v/pandaproxy/schema_registry/rpc_transport.cc
  src/v/pandaproxy/schema_registry/rpc_transport.h
Labels: area/redpanda

config: Introduce schema_registry_use_rpc guard
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

chore: Clean up unused includes
  src/v/kafka/data/rpc/deps.cc
  src/v/kafka/data/rpc/deps.h
  src/v/kafka/data/rpc/serde.h
  src/v/kafka/data/rpc/service.cc
  src/v/kafka/data/rpc/service.h
  src/v/kafka/data/rpc/test/kafka_data_rpc_test.cc
  src/v/pandaproxy/schema_registry/api.cc
  src/v/pandaproxy/schema_registry/service.cc
Labels: area/redpanda

dt/sr: Stress test for RPC resilience to leadership transfers
  tests/rptest/tests/schema_registry_test.py
Labels: none

dt/sr: SchemaRegistryRpcTransportTest & friends
  tests/rptest/tests/schema_registry_test.py
Labels: none

dt: Enable RPC transport for relevant tests, pin the rest to KClient
  tests/rptest/tests/admin_api_auth_test.py
  tests/rptest/tests/audit_log_test.py
  tests/rptest/tests/cluster_linking_topic_syncing_test.py
  tests/rptest/tests/crl_test.py
  tests/rptest/tests/metrics_reporter_test.py
  tests/rptest/tests/redpanda_oauth_test.py
  tests/rptest/tests/rpk_registry_test.py
  tests/rptest/tests/schema_registry_test.py
  tests/rptest/tests/security_report_test.py
  tests/rptest/tests/tls_metrics_test.py
  tests/rptest/tests/tls_version_test.py
Labels: none

sr/api: Introduce transport variants (k/client vs k/d/rpc)
  src/v/pandaproxy/schema_registry/BUILD
  src/v/pandaproxy/schema_registry/api.cc
  src/v/pandaproxy/schema_registry/api.h
Labels: area/redpanda

sr/test: Add rpc_transport_test
  src/v/pandaproxy/schema_registry/test/BUILD
  src/v/pandaproxy/schema_registry/test/rpc_transport_test.cc
Labels: area/redpanda

sr: Wire k/d/rpc/client into pp/sr/api
  src/v/pandaproxy/schema_registry/BUILD
  src/v/pandaproxy/schema_registry/api.cc
  src/v/pandaproxy/schema_registry/api.h
  src/v/redpanda/application_runtime.cc
Labels: area/redpanda

rpk/serde: replace hamba/avro and linkedin/goavro with twmb/avro
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/serde/avro.go
  src/go/rpk/pkg/serde/serde.go
Labels: area/rpk

data-migration: fix use-after-free
  src/v/cluster/data_migration_backend.cc
  src/v/cluster/data_migration_backend.h
Labels: area/redpanda

Commit the Ralph stuff so I don't lose it. Do not merge!
  .ralph/.call_count
  .ralph/.circuit_breaker_history
  .ralph/.circuit_breaker_state
  .ralph/.exit_signals
  .ralph/.last_reset
  .ralph/.loop_start_sha
  .ralph/.ralph_session
  .ralph/.ralph_session_history
  .ralph/progress.json
  .ralph/status.json
  tests/rptest/tests/kip848_nextgen_consumer_group_test.py
Labels: none

claude: restructure CLAUDE.md using path-scoped rules
  .claude/rules/cpp.md
  .claude/rules/proto.md
  .claude/rules/python.md
  CLAUDE.md
Labels: none

claude: add architecture context and language-specific rules
  .claude/rules/cpp.md
  .claude/rules/go.md
  .claude/rules/python.md
  CLAUDE.md
Labels: none

ignore: test pipeline
  README.md
Labels: none

kafka/client: replace circular buffer with chunked equivalent
  src/v/kafka/client/BUILD
  src/v/kafka/client/produce_batcher.h
Labels: area/redpanda

raft/tests: add a reproducer for offset translation inconsistency
  src/v/raft/tests/BUILD
  src/v/raft/tests/compaction_recovery_test.cc
Labels: area/redpanda

raft: fix incorrect placement of incoming append_entries request.
  src/v/raft/consensus.cc
Labels: area/redpanda

kafka/tests: fix flaky unlicensed enterprise tests
  src/v/kafka/server/tests/create_topics_test.cc
  src/v/kafka/server/tests/topic_properties_helpers.h
Labels: area/redpanda

kafka/tests: align unlicensed_permit_if_config_disabled with other tests
  src/v/kafka/server/tests/create_topics_test.cc
Labels: area/redpanda

cluster/feature_manager: use insert_or_assign for version updates
  src/v/cluster/feature_manager.cc
Labels: area/redpanda

ct: inflight_write_token
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/inflight_write_token.h
Labels: area/redpanda

ct/l0/batcher: inflight write tracking
  src/v/cloud_topics/level_zero/batcher/BUILD
  src/v/cloud_topics/level_zero/batcher/batcher.cc
  src/v/cloud_topics/level_zero/batcher/batcher.h
  src/v/cloud_topics/level_zero/batcher/tests/batcher_test.cc
Labels: area/redpanda

ct/data_plane: inflight write tracking
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/data_plane_api.h
  src/v/cloud_topics/data_plane_impl.cc
  src/v/cloud_topics/frontend/tests/frontend_test.cc
Labels: area/redpanda

ct/fe: Add inflight tracking to write path
  src/v/cloud_topics/frontend/BUILD
  src/v/cloud_topics/frontend/frontend.cc
  src/v/cloud_topics/frontend/tests/BUILD
  src/v/cloud_topics/frontend/tests/frontend_test.cc
Labels: area/redpanda

c/epoch_svc: forced epoch update
  src/v/cluster/cluster_epoch_service.cc
  src/v/cluster/cluster_epoch_service.h
Labels: area/redpanda

ct/l0/gc: epoch_barrier_coordinator
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/level_zero/gc/BUILD
  src/v/cloud_topics/level_zero/gc/epoch_barrier_coordinator.cc
  src/v/cloud_topics/level_zero/gc/epoch_barrier_coordinator.h
Labels: area/redpanda

ct/l0/gc: epoch_barrier_rpc client/service
  src/v/cloud_topics/level_zero/gc/BUILD
  src/v/cloud_topics/level_zero/gc/rpc.json
  src/v/cloud_topics/level_zero/gc/rpc_types.h
  src/v/cloud_topics/level_zero/gc/service.cc
  src/v/cloud_topics/level_zero/gc/service.h
  src/v/redpanda/BUILD
  src/v/redpanda/application_rpc.cc
Labels: area/redpanda

ct/l0/gc: static make_epoch_source
  src/v/cloud_topics/level_zero/gc/level_zero_gc.cc
  src/v/cloud_topics/level_zero/gc/level_zero_gc.h
Labels: area/redpanda

ct/l0/stm: barrier epoch estimate
  src/v/cloud_topics/level_zero/stm/ctp_stm.cc
  src/v/cloud_topics/level_zero/stm/ctp_stm.h
  src/v/cloud_topics/level_zero/stm/ctp_stm_api.cc
  src/v/cloud_topics/level_zero/stm/ctp_stm_api.h
  src/v/cloud_topics/level_zero/stm/ctp_stm_state.cc
  src/v/cloud_topics/level_zero/stm/ctp_stm_state.h
  src/v/cloud_topics/level_zero/stm/tests/ctp_stm_state_test.cc
Labels: area/redpanda

ct/l0/gc: Reintroduce epoch_source::max_gc_eligible_epoch
  src/v/cloud_topics/level_zero/gc/level_zero_gc.cc
  src/v/cloud_topics/level_zero/gc/level_zero_gc.h
  src/v/cloud_topics/level_zero/gc/tests/level_zero_gc_tests.cc
Labels: area/redpanda

save game: draining
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/app.cc
  src/v/cloud_topics/level_zero/gc/BUILD
  src/v/cloud_topics/level_zero/gc/epoch_barrier_coordinator.cc
  src/v/cloud_topics/level_zero/gc/epoch_barrier_coordinator.h
Labels: area/redpanda

ct/app: Wire up and start epoch_barrier_manager
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/app.cc
  src/v/cloud_topics/app.h
Labels: area/redpanda

DNM: test fiddling
  tests/rptest/tests/cloud_topics/l0_gc_test.py
Labels: none

ct/l0/gc: max_gc_eligible_epoch -> max_barrier_candidate_epoch
  src/v/cloud_topics/level_zero/gc/level_zero_gc.cc
  src/v/cloud_topics/level_zero/gc/level_zero_gc.h
  src/v/cloud_topics/level_zero/gc/tests/level_zero_gc_tests.cc
  src/v/cluster/health_monitor_backend.cc
Labels: area/redpanda

ct/l0/gc: Plumb epoch_barrier_coordinator into the garbage collector
  src/v/cloud_topics/app.cc
  src/v/cloud_topics/level_zero/gc/BUILD
  src/v/cloud_topics/level_zero/gc/level_zero_gc.cc
  src/v/cloud_topics/level_zero/gc/level_zero_gc.h
Labels: area/redpanda

ct/app: Wire up and start epoch_barrier_coordinator
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/app.cc
  src/v/cloud_topics/app.h
Labels: area/redpanda
