Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

datalake: split out schema_manager::ensure_table_schema
  src/v/datalake/catalog_schema_manager.cc
  src/v/datalake/catalog_schema_manager.h
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/tests/catalog_schema_manager_test.cc
Labels: area/redpanda

datalake: introduce type_resolver::resolve_identifier
  src/v/datalake/record_schema_resolver.cc
  src/v/datalake/record_schema_resolver.h
Labels: area/redpanda

cloud_io: custom scheme for gcs which is required for iceberg
  src/v/cloud_io/remote.cc
Labels: area/redpanda

reflection: bazelize async_adl_test
  src/v/reflection/test/BUILD
  src/v/reflection/test/async_adl_test.cc
Labels: area/redpanda

datalake: add topic revision to coordinator state and requests
  src/v/datalake/coordinator/coordinator.cc
  src/v/datalake/coordinator/coordinator.h
  src/v/datalake/coordinator/frontend.cc
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/datalake/coordinator/state.cc
  src/v/datalake/coordinator/state.h
  src/v/datalake/coordinator/state_update.cc
  src/v/datalake/coordinator/state_update.h
  src/v/datalake/coordinator/tests/coordinator_test.cc
  src/v/datalake/coordinator/tests/state_machine_test.cc
  src/v/datalake/coordinator/tests/state_test_utils.h
  src/v/datalake/coordinator/tests/state_update_test.cc
  src/v/datalake/coordinator/types.cc
  src/v/datalake/coordinator/types.h
  src/v/datalake/tests/fixture.h
  src/v/datalake/translation/partition_translator.cc
Labels: area/redpanda

datalake: track topic lifecycle states in coordinator
  src/v/datalake/coordinator/BUILD
  src/v/datalake/coordinator/coordinator.cc
  src/v/datalake/coordinator/coordinator.h
  src/v/datalake/coordinator/coordinator_manager.cc
  src/v/datalake/coordinator/coordinator_manager.h
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/datalake/coordinator/state.cc
  src/v/datalake/coordinator/state.h
  src/v/datalake/coordinator/state_machine.cc
  src/v/datalake/coordinator/state_update.cc
  src/v/datalake/coordinator/state_update.h
  src/v/datalake/coordinator/tests/BUILD
  src/v/datalake/coordinator/tests/coordinator_test.cc
  src/v/datalake/coordinator/tests/state_machine_test.cc
  src/v/redpanda/application.cc
Labels: area/redpanda

rptest/datalake: run tests on gcp
  tests/rptest/tests/datalake/utils.py
Labels: none

datalake: use s3_impostor in fixture utests
  src/v/cluster/archival/tests/archival_service_fixture.h
  src/v/cluster/tests/cluster_test_fixture.h
  src/v/datalake/tests/fixture.h
Labels: area/redpanda

tests: add datalake topic lifecycle test
  tests/rptest/tests/datalake/datalake_e2e_test.py
  tests/rptest/tests/datalake/datalake_services.py
Labels: none

rptest/datalake: run basic e2e w/ non-fs apache catalog
  tests/rptest/tests/datalake/datalake_e2e_test.py
Labels: none

tests: start redpanda in DatalakeServices
  tests/rptest/tests/datalake/compaction_gaps_test.py
  tests/rptest/tests/datalake/coordinator_retention_test.py
  tests/rptest/tests/datalake/datalake_e2e_test.py
  tests/rptest/tests/datalake/datalake_services.py
Labels: none

rptest/c: add gcp support to cloud_storage context
  tests/rptest/context/cloud_storage.py
Labels: none

cloud_storage: Make cloud_storage_fixture a friend of cache
  src/v/cloud_storage/cache_service.h
Labels: area/redpanda

reflection: bazelize collections_interop test
  src/v/reflection/test/BUILD
  src/v/reflection/test/collections_interop.cc
Labels: area/redpanda

datalake: add coordinator stm topic lifecycle transitions utest
  src/v/datalake/coordinator/tests/state_update_test.cc
Labels: area/redpanda

datalake: introduce table_creator
  src/v/datalake/BUILD
  src/v/datalake/CMakeLists.txt
  src/v/datalake/catalog_schema_manager.cc
  src/v/datalake/catalog_schema_manager.h
  src/v/datalake/fwd.h
  src/v/datalake/table_creator.cc
  src/v/datalake/table_creator.h
Labels: area/redpanda

datalake: check that topic revision is constant after loading table
  src/v/datalake/coordinator/iceberg_file_committer.cc
Labels: area/redpanda

rptest/s: gcp support for trino
  tests/rptest/services/trino_service.py
Labels: none

ducktape: fix download of redpanda-data/ocsf-schema
  tests/docker/ducktape-deps/ocsf-server
Labels: none

datalake: return correct errc for add_files in case of revision mismatch
  src/v/datalake/coordinator/coordinator.cc
Labels: area/redpanda

reflection: remove unused headers
  src/v/reflection/absl/btree_map.h
  src/v/reflection/absl/flat_hash_map.h
  src/v/reflection/absl/node_hash_map.h
  src/v/reflection/std/map.h
  src/v/reflection/std/unordered_map.h
  src/v/reflection/std/vector.h
Labels: area/redpanda

datalake: add coordinator::frontend::ensure_table_exists method
  src/v/datalake/coordinator/BUILD
  src/v/datalake/coordinator/coordinator.cc
  src/v/datalake/coordinator/coordinator.h
  src/v/datalake/coordinator/frontend.cc
  src/v/datalake/coordinator/frontend.h
  src/v/datalake/coordinator/rpc.json
  src/v/datalake/coordinator/service.cc
  src/v/datalake/coordinator/service.h
  src/v/datalake/coordinator/state.cc
  src/v/datalake/coordinator/state.h
  src/v/datalake/coordinator/state_machine.cc
  src/v/datalake/coordinator/state_update.cc
  src/v/datalake/coordinator/state_update.h
  src/v/datalake/coordinator/types.cc
  src/v/datalake/coordinator/types.h
Labels: area/redpanda

datalake: call ensure_table_exists from record_multiplexer
  src/v/datalake/BUILD
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/datalake/coordinator/iceberg_file_committer.h
  src/v/datalake/coordinator/state_update.cc
  src/v/datalake/coordinator/tests/coordinator_test.cc
  src/v/datalake/coordinator/tests/iceberg_file_committer_test.cc
  src/v/datalake/coordinator/tests/state_machine_test.cc
  src/v/datalake/coordinator/tests/state_update_test.cc
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/gtest_record_multiplexer_test.cc
  src/v/datalake/tests/record_multiplexer_test.cc
  src/v/datalake/tests/translation_task_test.cc
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
  src/v/datalake/translation_task.cc
  src/v/datalake/translation_task.h
Labels: area/redpanda

ducktape: follow-up fix download of redpanda-data/ocsf-schema
  tests/docker/ducktape-deps/ocsf-server
Labels: none

r/tests: fixed race condition leading to segfault
  src/v/raft/tests/raft_fixture.cc
Labels: area/redpanda

iceberg/table_io: add method to delete all table metadata
  src/v/iceberg/table_io.cc
  src/v/iceberg/table_io.h
Labels: area/redpanda

s/log: fixed race condition between appends and prefix truncation
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda

iceberg: add simple drop_table support for filesystem_catalog
  src/v/iceberg/filesystem_catalog.cc
Labels: area/redpanda

Revert "s/log: removed the line informing user about outstanding locks"
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda

k/test: Addition for dry create_topics dry run
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/create_topics_test.cc
Labels: area/redpanda

rpk: decode adminapi error message in role creation
  src/go/rpk/pkg/adminapi/admin.go
  src/go/rpk/pkg/cli/security/role/create.go
Labels: area/rpk

storage/tests: added stress fiber to concurrent prefix truncate test
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

rpk: add `rpk debug remote bundle`
  MODULE.bazel
  src/go/rpk/go.mod
  src/go/rpk/pkg/cli/debug/BUILD
  src/go/rpk/pkg/cli/debug/bundle/bundle.go
  src/go/rpk/pkg/cli/debug/common/BUILD
  src/go/rpk/pkg/cli/debug/common/common.go
  src/go/rpk/pkg/cli/debug/common/common_test.go
  src/go/rpk/pkg/cli/debug/debug.go
  src/go/rpk/pkg/cli/debug/remotebundle/BUILD
  src/go/rpk/pkg/cli/debug/remotebundle/cancel.go
  src/go/rpk/pkg/cli/debug/remotebundle/download.go
  src/go/rpk/pkg/cli/debug/remotebundle/remote.go
  src/go/rpk/pkg/cli/debug/remotebundle/start.go
  src/go/rpk/pkg/cli/debug/remotebundle/status.go
  tests/rptest/clients/rpk.py
  tests/rptest/tests/rpk_cluster_test.py
  tests/rptest/tests/rpk_debug_bundle_test.py
Labels: area/rpk

rpk: add err message of CreateACL response
  src/go/rpk/pkg/cli/security/acl/create.go
  tests/rptest/tests/acls_test.py
Labels: area/rpk

datalake: correctly get null keys/values from record
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
  src/v/datalake/record_schema_resolver.cc
  src/v/datalake/record_schema_resolver.h
  src/v/datalake/record_translator.cc
  src/v/datalake/record_translator.h
  src/v/model/record.h
Labels: area/redpanda

serde: bazelize serde/bench
  src/v/serde/test/BUILD
  src/v/serde/test/bench.cc
Labels: area/redpanda

datalake: move value field out of system struct
  src/v/datalake/record_translator.cc
  src/v/datalake/tests/gtest_record_multiplexer_test.cc
Labels: area/redpanda

iceberg: add drop_table utest for filesystem_catalog
  src/v/iceberg/tests/filesystem_catalog_test.cc
Labels: area/redpanda

`storage`: add `chunked_compaction_reducer`
  src/v/storage/compaction_reducers.cc
  src/v/storage/compaction_reducers.h
Labels: area/redpanda

rpk debug: move shared code to common
  src/go/rpk/pkg/adminapi/admin.go
  src/go/rpk/pkg/cli/debug/bundle/BUILD
  src/go/rpk/pkg/cli/debug/bundle/bundle.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_k8s_linux.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_linux.go
  src/go/rpk/pkg/cli/debug/common/BUILD
  src/go/rpk/pkg/cli/debug/common/common.go
Labels: area/rpk
