Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

sr/avro: fix missing default compat check for null
  src/v/pandaproxy/schema_registry/avro.cc
  src/v/pandaproxy/schema_registry/test/compatibility_avro.cc
Labels: area/redpanda

sr/avro: fix missing default compat check for null
  src/v/pandaproxy/schema_registry/avro.cc
  src/v/pandaproxy/schema_registry/test/compatibility_avro.cc
Labels: area/redpanda

sr/test: refactor avro verbose compat test
  src/v/pandaproxy/schema_registry/test/compatibility_avro.cc
Labels: area/redpanda

sr/test: add more tests for avro non-default field
  src/v/pandaproxy/schema_registry/test/compatibility_avro.cc
Labels: area/redpanda

tests: add reasoning for skip fips mode
  tests/rptest/utils/mode_checks.py
Labels: none

c/leader_balancer: sort stats by shard
  src/v/cluster/scheduling/leader_balancer_constraints.cc
Labels: area/redpanda

c/leader_balancer: implement and use even_node_load_constraint
  src/v/cluster/scheduling/leader_balancer_constraints.cc
  src/v/cluster/scheduling/leader_balancer_constraints.h
  src/v/cluster/scheduling/leader_balancer_random.h
Labels: area/redpanda

c/leader_balancer/ut: fix copy_cluster_index helper
  src/v/cluster/tests/leader_balancer_test_utils.h
Labels: area/redpanda

tests: increase wait_for_racks timeout in leadership_transfer_test
  tests/rptest/tests/leadership_transfer_test.py
Labels: none

c/leader_balancer: add even shard load/uneven node load utest
  src/v/cluster/tests/leader_balancer_constraints_test.cc
Labels: area/redpanda

cluster: exclude internal topics from `check_cluster_limits`
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/cluster/scheduling/partition_allocator.h
  src/v/cluster/tests/partition_allocator_tests.cc
Labels: area/redpanda

cluster: extract `allocation_node::is_internal_topic`
  src/v/cluster/scheduling/allocation_node.cc
  src/v/cluster/scheduling/allocation_node.h
Labels: area/redpanda

archival: calculate time based retention from first addressable segment
  src/v/cluster/archival/retention_calculator.cc
Labels: area/redpanda

[CORE-8081] rptest: fix config_profile_verify_test null handling
  tests/rptest/redpanda_cloud_tests/config_profile_verify_test.py
Labels: none

cluster: report cluster as unhealthy if data disk is degraded
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_types.cc
  src/v/cluster/health_monitor_types.h
  src/v/redpanda/admin/api-doc/cluster.json
  src/v/redpanda/admin/server.cc
  tests/rptest/tests/cluster_health_overview_test.py
Labels: area/redpanda

rpk: add --format to rpk topic describe
  src/go/rpk/pkg/cli/topic/BUILD
  src/go/rpk/pkg/cli/topic/describe.go
  src/go/rpk/pkg/cli/topic/describe_test.go
  src/go/rpk/pkg/config/format.go
Labels: area/rpk

cloud_storage_clients/abs_client: use item filter in list_objects
  src/v/cloud_storage_clients/abs_client.cc
Labels: area/redpanda

rptest: paramterize test_clusters_share_bucket
  tests/rptest/tests/remote_label_test.py
Labels: none

c/leader_balancer: implement and use even_node_load_constraint
  src/v/cluster/scheduling/leader_balancer_constraints.cc
  src/v/cluster/scheduling/leader_balancer_constraints.h
  src/v/cluster/scheduling/leader_balancer_random.h
Labels: area/redpanda

c/leader_balancer: add even shard load/uneven node load utest
  src/v/cluster/tests/leader_balancer_constraints_test.cc
Labels: area/redpanda

tests: increase wait_for_racks timeout in leadership_transfer_test
  tests/rptest/tests/leadership_transfer_test.py
Labels: none

c/leader_balancer/ut: fix copy_cluster_index helper
  src/v/cluster/tests/leader_balancer_test_utils.h
Labels: area/redpanda

c/leader_balancer: sort stats by shard
  src/v/cluster/scheduling/leader_balancer_constraints.cc
Labels: area/redpanda

High priority alerts detection
  tests/rptest/redpanda_cloud_tests/observe_test.py
Labels: none

feature_table: retire serde_raft_configuration feature
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/group_configuration.cc
Labels: area/redpanda

raft: update configuration to version 7 when possible
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
Labels: area/redpanda

feature: introduced a feature for symmetic reconfiguration cancel
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
Labels: area/redpanda

raft: added new strategy to make reconfiguration symetric
  src/v/raft/group_configuration.cc
  src/v/raft/group_configuration.h
  src/v/raft/tests/configuration_serialization_test.cc
  src/v/raft/tests/group_configuration_tests.cc
Labels: area/redpanda

tests: enable datalake in random node operation tests
  tests/rptest/tests/random_node_operations_test.py
  tests/rptest/utils/node_operations.py
Labels: none

datalake: added assertion validating that the memory reservation was set
  src/v/datalake/datalake_manager.cc
Labels: area/redpanda

cluster: consider shard0 reserve in check_cluster_limits
  src/v/cluster/scheduling/partition_allocator.cc
Labels: area/redpanda

bazel: Update protobuf to v29.0
  MODULE.bazel
  MODULE.bazel.lock
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/redpanda/application.cc
Labels: area/redpanda

config: iceberg_enabled should not be enterprise
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

transform-sdk/rust: bump latest versions
  src/transform-sdk/rust/Cargo.lock
  src/transform-sdk/rust/Cargo.toml
Labels: area/wasm

bazel: add debug symbols by default for sanitizer builds
  .bazelrc
Labels: none

transform-sdk/js: bump quickjs version
  src/transform-sdk/js/CMakeLists.txt
Labels: area/wasm

gha/transform-sdk: deploy sr module
  .github/workflows/transform-sdk-release.yml
Labels: area/build

transform-sdk/js: add package-lock.json
  src/transform-sdk/js/sr-module/package-lock.json
Labels: area/wasm

transform-sdk/js: fix asan violation
  src/transform-sdk/js/js_vm.cc
Labels: area/wasm

bazel: add transform-sdk cpp + js SDKs
  MODULE.bazel
  MODULE.bazel.lock
  bazel/repositories.bzl
  bazel/thirdparty/quickjs.BUILD
  src/transform-sdk/cpp/BUILD
  src/transform-sdk/js/BUILD
  src/transform-sdk/js/CMakeLists.txt
Labels: area/wasm
