Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

raft/voter_priority_tracker: fix first leader nepo
  src/v/raft/voter_priority_tracker.h
  tests/rptest/tests/raft_availability_test.py
Labels: area/redpanda

raft/voter_priority_tracker: fix first leader nepo
  src/v/raft/voter_priority_tracker.h
  tests/rptest/tests/raft_availability_test.py
Labels: area/redpanda

archival: Emit fence in reset-scrubbing-metadata
  src/v/cluster/archival/ntp_archiver_service.cc
Labels: area/redpanda

archival: Emit rw-fence in apply_spillover
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/tests/ntp_archiver_test.cc
Labels: area/redpanda

iceberg/config: validate REST endpoint configuration
  src/v/config/validators.cc
  src/v/config/validators.h
  src/v/redpanda/admin/server.cc
  tests/rptest/tests/cluster_config_test.py
Labels: area/redpanda

iceberg/config: validate REST endpoint configuration
  src/v/config/validators.cc
  src/v/config/validators.h
  src/v/redpanda/admin/server.cc
  tests/rptest/tests/cluster_config_test.py
Labels: area/redpanda

dt/kerberos: permit allow_rc4 in config
  tests/rptest/services/kerberos.py
Labels: none

security/gssapi: Cleanup includes
  src/v/security/gssapi_authenticator.cc
  src/v/security/gssapi_authenticator.h
  src/v/security/gssapi_principal_mapper.h
  src/v/security/tests/BUILD
  src/v/security/tests/gssapi_principal_mapper_test.cc
Labels: area/redpanda

dt/kerberos: Refactor config templates
  tests/rptest/services/kerberos.py
Labels: none

security/gssapi: Warn if ssf is < 128
  src/v/security/gssapi_authenticator.cc
Labels: area/redpanda

Broken test
  tests/rptest/services/kerberos.py
  tests/rptest/tests/redpanda_kerberos_test.py
Labels: none

`storage`: fix `storage_e2e_test` includes & dependencies
  src/v/storage/tests/BUILD
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

ssx: Parameterize Container for parallel_transform
  src/v/ssx/BUILD
  src/v/ssx/future-util.h
  src/v/ssx/tests/BUILD
  src/v/ssx/tests/async_transforms.cc
Labels: area/redpanda

cluster: Parameterize Container for make_error_topic_results
  src/v/cluster/cluster_utils.h
Labels: area/redpanda

cluster: Use chunked_vector for topic prop update
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
  src/v/cluster/types.h
  src/v/compat/cluster_generator.h
Labels: area/redpanda

dt/scale: Added topic_id migration scale test
  tests/rptest/scale_tests/topic_id_migration.py
Labels: none

serde: Do not depend on future-util
  src/v/serde/BUILD
  src/v/serde/async.h
Labels: area/redpanda

`storage`: only search for one `segment` in `lock_manager::range_lock(const timequery_config& cfg)`
  src/v/storage/lock_manager.cc
Labels: area/redpanda

`cloud_storage`: fall back to main manifest search in `get_term_last_offset()`
  src/v/cloud_storage/async_manifest_view.cc
  src/v/cloud_storage/tests/async_manifest_view_test.cc
Labels: area/redpanda

`cloud_storage`: fall back to main manifest search in `get_term_last_offset()`
  src/v/cloud_storage/async_manifest_view.cc
  src/v/cloud_storage/tests/async_manifest_view_test.cc
Labels: area/redpanda

`cloud_storage`: fall back to main manifest search in `get_term_last_offset()`
  src/v/cloud_storage/async_manifest_view.cc
  src/v/cloud_storage/tests/async_manifest_view_test.cc
Labels: area/redpanda

rpk container: bump console version to 3.0
  src/go/rpk/pkg/cli/container/common/common.go
  src/go/rpk/pkg/cli/container/start.go
Labels: area/rpk

rpk container: bump console version to 3.0
  src/go/rpk/pkg/cli/container/common/common.go
  src/go/rpk/pkg/cli/container/start.go
Labels: area/rpk

rpk container: bump console version to 3.0
  src/go/rpk/pkg/cli/container/common/common.go
  src/go/rpk/pkg/cli/container/start.go
Labels: area/rpk

rpk: add support for Schema Registry ACLs
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/security/acl/BUILD
  src/go/rpk/pkg/cli/security/acl/acl.go
  src/go/rpk/pkg/cli/security/acl/common.go
  src/go/rpk/pkg/cli/security/acl/common_test.go
  src/go/rpk/pkg/cli/security/acl/create.go
  src/go/rpk/pkg/cli/security/acl/delete.go
  src/go/rpk/pkg/cli/security/acl/list.go
  tests/rptest/clients/rpk.py
  tests/rptest/tests/rpk_acl_test.py
Labels: area/rpk

`kafka`: `maybe_yield()` in `group_manager::list_groups`
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
  src/v/kafka/server/tests/group_tx_compaction_test.cc
Labels: area/redpanda

security: Add support for licensing format version 1
  src/v/security/license.cc
Labels: area/redpanda

security: Add utility function in license test
  src/v/security/tests/license_test.cc
Labels: area/redpanda

security: Add products entry in license
  src/v/security/license.cc
  src/v/security/license.h
  src/v/security/tests/license_test.cc
Labels: area/redpanda

security: Changed type of license entry
  src/v/features/feature_table.cc
  src/v/redpanda/admin/server.cc
  src/v/security/license.cc
  src/v/security/license.h
  src/v/security/tests/license_test.cc
Labels: area/redpanda

tests/rptest: Add tests to validate licensing format across versions
  tests/rptest/services/admin.py
  tests/rptest/tests/license_upgrade_test.py
Labels: none

security: Move static functions/variables to unamed namespaces
  src/v/security/license.cc
Labels: area/redpanda

security: Refactor code for parsing license json
  src/v/security/license.cc
Labels: area/redpanda

rp/admin: Update get license response
  src/v/redpanda/admin/api-doc/features.json
  src/v/redpanda/admin/server.cc
  tests/rptest/tests/cluster_features_test.py
  tests/rptest/utils/rpenv.py
Labels: area/redpanda

security: Enable support for arbitrary parameters in license
  src/v/security/license.cc
Labels: area/redpanda

rp/admin: Update licensing description
  src/v/redpanda/admin/api-doc/features.json
Labels: area/redpanda

dt: Enable Topic Id Migration Tests
  tests/rptest/scale_tests/topic_id_migration_test.py
  tests/rptest/tests/topic_id_migrator_test.py
Labels: none

cluster/metadata_cache: Expose get_name_by_id
  src/v/cluster/metadata_cache.h
Labels: area/redpanda

k/proto/errors: Add unknown_topic_id
  src/v/kafka/client/errors.h
  src/v/kafka/protocol/errors.cc
  src/v/kafka/protocol/errors.h
  src/v/pandaproxy/error.cc
Labels: area/redpanda

k/server/metadata: Add autocreate tests
  src/v/kafka/server/tests/metadata_test.cc
Labels: area/redpanda
