Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

iceberg: add column stats extraction from parquet metadata
  src/v/iceberg/conversion/BUILD
  src/v/iceberg/conversion/stats_parquet.cc
  src/v/iceberg/conversion/stats_parquet.h
  src/v/iceberg/conversion/tests/BUILD
  src/v/iceberg/conversion/tests/stats_parquet_test.cc
  src/v/serde/parquet/BUILD
Labels: area/redpanda

parquet: add metadata decoding and schema reconstruction
  src/v/serde/parquet/BUILD
  src/v/serde/parquet/flattened_schema.cc
  src/v/serde/parquet/flattened_schema.h
  src/v/serde/parquet/metadata.cc
  src/v/serde/parquet/metadata.h
  src/v/serde/parquet/tests/BUILD
  src/v/serde/parquet/tests/flattened_schema_test.cc
  src/v/serde/parquet/tests/metadata_roundtrip_test.cc
Labels: area/redpanda

parquet: add columnar batch types and column chunk decoder
  src/v/serde/parquet/BUILD
  src/v/serde/parquet/column_array.cc
  src/v/serde/parquet/column_array.h
  src/v/serde/parquet/column_chunk_reader.cc
  src/v/serde/parquet/column_chunk_reader.h
  src/v/serde/parquet/tests/BUILD
  src/v/serde/parquet/tests/column_array_test.cc
  src/v/serde/parquet/tests/column_chunk_reader_test.cc
Labels: area/redpanda

datalake: propagate parquet column stats to Iceberg manifests
  src/v/datalake/coordinator/data_file.h
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/datalake/coordinator/tests/iceberg_file_committer_test.cc
  src/v/datalake/data_writer_interface.h
  src/v/datalake/local_parquet_file_writer.cc
  src/v/datalake/serde_parquet_writer.cc
  src/v/datalake/serde_parquet_writer.h
  src/v/datalake/tests/local_parquet_file_writer_test.cc
  src/v/datalake/tests/serde_parquet_writer_test.cc
  src/v/datalake/translation_task.cc
  src/v/iceberg/BUILD
  src/v/iceberg/equality_delete_file.cc
Labels: area/redpanda

iceberg: convert equality deletes to position deletes in coordinator
  src/v/datalake/coordinator/BUILD
  src/v/datalake/coordinator/data_file.h
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/datalake/coordinator/iceberg_file_committer.h
  src/v/iceberg/manifest_io.cc
  src/v/iceberg/manifest_io.h
Labels: area/redpanda

iceberg: add position delete file writer
  src/v/iceberg/BUILD
  src/v/iceberg/position_delete_file.cc
  src/v/iceberg/position_delete_file.h
  src/v/iceberg/tests/BUILD
  src/v/iceberg/tests/position_delete_file_test.cc
Labels: area/redpanda

iceberg: add composable row operations for upsert support
  src/v/iceberg/BUILD
  src/v/iceberg/row_operations.cc
  src/v/iceberg/row_operations.h
  src/v/iceberg/tests/row_operations_test.cc
Labels: area/redpanda

datalake/tests: add E2E pipeline test infrastructure
  src/v/datalake/coordinator/BUILD
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/datalake_pipeline_test_fixture.cc
  src/v/datalake/tests/datalake_pipeline_test_fixture.h
  src/v/datalake/tests/e2e_test_utils.cc
  src/v/datalake/tests/e2e_test_utils.h
  src/v/datalake/tests/iceberg_table_reader.cc
  src/v/datalake/tests/iceberg_table_reader.h
  src/v/datalake/tests/record_batch_factory.h
  src/v/datalake/tests/test_data_writer.h
  src/v/datalake/tests/test_utils.cc
  src/v/datalake/tests/test_utils.h
Labels: area/redpanda

parquet: add value hashing for delete key lookup
  src/v/serde/parquet/BUILD
  src/v/serde/parquet/value.cc
  src/v/serde/parquet/value.h
Labels: area/redpanda

iceberg: add equality delete support to parquet reader
  src/v/iceberg/BUILD
  src/v/iceberg/parquet_reader.cc
  src/v/iceberg/parquet_reader.h
  src/v/iceberg/tests/parquet_reader_test.cc
Labels: area/redpanda

tests: add rapid toggle test cases for CDC delete semantics
  src/v/datalake/base_types.h
  src/v/datalake/datalake_manager.cc
  src/v/datalake/record_multiplexer.cc
  src/v/iceberg/conversion/BUILD
  src/v/iceberg/schema_avro.cc
  src/v/iceberg/values_avro.cc
  src/v/iceberg/values_bytes.cc
  src/v/iceberg/values_json.cc
  tests/rptest/tests/datalake/cdc_key_value_test.py
  tests/rptest/tests/datalake/debezium_cdc_e2e_test.py
Labels: area/redpanda

datalake: fix same-commit equality delete not applying to data
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/datalake/coordinator/iceberg_file_committer.h
  src/v/datalake/coordinator/tests/iceberg_file_committer_test.cc
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/tests/e2e_pipeline_test.cc
  src/v/iceberg/merge_append_action.h
  src/v/iceberg/row_operations.h
  src/v/serde/parquet/reader.cc
  tests/rptest/tests/datalake/cdc_key_value_test.py
Labels: area/redpanda

rpk: migrate from deprecated aws-sdk-go to v2
  MODULE.bazel
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cloud/aws/BUILD
  src/go/rpk/pkg/cloud/aws/aws.go
Labels: area/rpk

rpk: bump dependencies
  MODULE.bazel
  buf.gen.yaml
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/container/containerutil/test.go
  src/go/rpk/pkg/cli/generate/grafana.go
Labels: area/rpk

rpk: reconcile go.mod/go.sum after v26.1.x backport
  src/go/rpk/go.mod
  src/go/rpk/go.sum
Labels: area/rpk

dt/redpanda: Change internal scrub to progress-oriented wait
  tests/rptest/services/redpanda.py
  tests/rptest/util.py
Labels: none

c/archival: Add a bit of slack to scrubber_scheduler::should_scrub
  src/v/cluster/archival/scrubber_scheduler.h
  src/v/cluster/archival/tests/scrubber_scheduler_test.cc
Labels: area/redpanda

bazel/wasm: upgrade wasmtime from 32.0.0 to 42.0.2
  .bazelrc
  MODULE.bazel
  MODULE.bazel.lock
  bazel/thirdparty/Cargo.lock
  bazel/thirdparty/Cargo.toml
  bazel/thirdparty/wasmtime.BUILD
  src/v/wasm/wasmtime.cc
Labels: area/redpanda

parquet: add file_io abstraction and footer parsing
  src/v/serde/parquet/BUILD
  src/v/serde/parquet/file_io.cc
  src/v/serde/parquet/file_io.h
  src/v/serde/parquet/metadata.cc
  src/v/serde/parquet/metadata.h
  src/v/serde/parquet/reader.cc
  src/v/serde/parquet/tests/BUILD
  src/v/serde/parquet/tests/file_io_test.cc
  src/v/serde/parquet/tests/metadata_roundtrip_test.cc
Labels: area/redpanda

parquet: add async file reader with column projection
  src/v/serde/parquet/BUILD
  src/v/serde/parquet/assembler.cc
  src/v/serde/parquet/reader.cc
  src/v/serde/parquet/reader.h
  src/v/serde/parquet/tests/BUILD
  src/v/serde/parquet/tests/reader_test.cc
Labels: area/redpanda

parquet: add record assembler
  src/v/serde/parquet/BUILD
  src/v/serde/parquet/assembler.cc
  src/v/serde/parquet/assembler.h
  src/v/serde/parquet/tests/BUILD
  src/v/serde/parquet/tests/assembler_test.cc
Labels: area/redpanda

parquet: add metadata decoding and schema reconstruction
  src/v/serde/parquet/BUILD
  src/v/serde/parquet/flattened_schema.cc
  src/v/serde/parquet/flattened_schema.h
  src/v/serde/parquet/metadata.cc
  src/v/serde/parquet/metadata.h
  src/v/serde/parquet/tests/BUILD
  src/v/serde/parquet/tests/flattened_schema_test.cc
  src/v/serde/parquet/tests/metadata_roundtrip_test.cc
Labels: area/redpanda

parquet: add data encoding and decoding primitives
  src/v/serde/parquet/BUILD
  src/v/serde/parquet/encoding.cc
  src/v/serde/parquet/encoding.h
  src/v/serde/parquet/flattened_schema.cc
  src/v/serde/parquet/metadata.cc
  src/v/serde/parquet/tests/encoding_test.cc
Labels: area/redpanda

thrift: add compact protocol decoder
  src/v/serde/thrift/BUILD
  src/v/serde/thrift/compact.cc
  src/v/serde/thrift/compact.h
  src/v/serde/thrift/tests/BUILD
  src/v/serde/thrift/tests/compact_test.cc
Labels: area/redpanda

parquet: add columnar batch types and column chunk decoder
  src/v/serde/parquet/BUILD
  src/v/serde/parquet/column_array.cc
  src/v/serde/parquet/column_array.h
  src/v/serde/parquet/column_chunk_reader.cc
  src/v/serde/parquet/column_chunk_reader.h
  src/v/serde/parquet/tests/BUILD
  src/v/serde/parquet/tests/column_array_test.cc
  src/v/serde/parquet/tests/column_chunk_reader_test.cc
Labels: area/redpanda

iceberg: add parquet reader with field-ID column matching
  src/v/iceberg/BUILD
  src/v/iceberg/parquet_reader.cc
  src/v/iceberg/parquet_reader.h
  src/v/iceberg/tests/BUILD
  src/v/iceberg/tests/parquet_reader_test.cc
  src/v/serde/parquet/BUILD
Labels: area/redpanda

iceberg: add type promotion in parquet reader
  src/v/iceberg/parquet_reader.cc
  src/v/iceberg/tests/parquet_reader_test.cc
Labels: area/redpanda

iceberg: add null fill for missing columns in parquet reader
  src/v/iceberg/parquet_reader.cc
  src/v/iceberg/tests/BUILD
  src/v/iceberg/tests/parquet_reader_test.cc
Labels: area/redpanda

datalake/tests: add E2E pipeline test infrastructure
  src/v/datalake/coordinator/BUILD
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/datalake_pipeline_test_fixture.cc
  src/v/datalake/tests/datalake_pipeline_test_fixture.h
  src/v/datalake/tests/e2e_test_utils.cc
  src/v/datalake/tests/e2e_test_utils.h
  src/v/datalake/tests/iceberg_table_reader.cc
  src/v/datalake/tests/iceberg_table_reader.h
  src/v/datalake/tests/record_batch_factory.h
  src/v/datalake/tests/test_data_writer.h
  src/v/datalake/tests/test_utils.cc
  src/v/datalake/tests/test_utils.h
Labels: area/redpanda

`rptest`: regenerate protos
  tests/rptest/clients/admin/proto/redpanda/core/admin/internal/v1/__init__.pyi
  tests/rptest/clients/admin/proto/redpanda/core/admin/internal/v1/log_filter_pb2.py
  tests/rptest/clients/admin/proto/redpanda/core/admin/internal/v1/log_filter_pb2.pyi
  tests/rptest/clients/admin/proto/redpanda/core/admin/internal/v1/log_filter_pb2_connect.py
Labels: none

`base`: dispatch on callsite state for 3-way gating
  src/v/base/vlog.h
  src/v/cloud_storage_clients/util.cc
  src/v/kafka/server/connection_context.h
  src/v/kafka/server/group.h
  src/v/raft/logger.h
  src/v/utils/prefix_logger.h
  src/v/utils/retry_chain_node.h
  src/v/utils/truncating_logger.h
Labels: area/redpanda

proto/admin: add log filter AdminV2 endpoint
  proto/redpanda/core/admin/internal/v1/BUILD
  proto/redpanda/core/admin/internal/v1/log_filter.proto
  src/v/redpanda/admin/services/internal/BUILD
  src/v/redpanda/admin/services/internal/log_filter.cc
  src/v/redpanda/admin/services/internal/log_filter.h
Labels: area/redpanda

redpanda: wire up log filter service
  src/v/redpanda/BUILD
  src/v/redpanda/admin/services/internal/log_filter.cc
  src/v/redpanda/admin/services/internal/log_filter.h
  src/v/redpanda/application_admin.cc
Labels: area/redpanda

`base`: add per-callsite vlog filter gates
  src/v/base/BUILD
  src/v/base/tests/BUILD
  src/v/base/tests/vlog_filter_test.cc
  src/v/base/vlog.h
  src/v/base/vlog_callsite.cc
  src/v/base/vlog_callsite.h
  src/v/base/vlog_filter.h
Labels: area/redpanda

bazel: point at temporary seastar fork
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

sr/avro: unqualify named type references during sanitization
  src/v/pandaproxy/schema_registry/avro.cc
Labels: area/redpanda

sr/avro: add tests for named type reference normalization
  src/v/pandaproxy/schema_registry/test/sanitize_avro.cc
Labels: area/redpanda

sr/avro: unqualify named type references during sanitization
  src/v/pandaproxy/schema_registry/avro.cc
Labels: area/redpanda

sr/avro: add tests for named type reference normalization
  src/v/pandaproxy/schema_registry/test/sanitize_avro.cc
Labels: area/redpanda

sr/avro: add tests for named type reference normalization
  src/v/pandaproxy/schema_registry/test/sanitize_avro.cc
Labels: area/redpanda

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']
