Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

`storage`: add `TestFailToIndexOneSegmentResetWindow`
  src/v/storage/tests/compaction_e2e_test.cc
Labels: area/redpanda

scrubber: add ntp to name
  src/v/cluster/archival/scrubber.cc
Labels: area/redpanda

datalake: correctly get null keys/values from record
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
  src/v/datalake/record_schema_resolver.cc
  src/v/datalake/record_schema_resolver.h
  src/v/datalake/record_translator.cc
  src/v/datalake/record_translator.h
  src/v/model/record.h
Labels: area/redpanda

datalake: drop invalid records
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
Labels: area/redpanda

datalake: move value field out of system struct
  src/v/datalake/record_translator.cc
  src/v/datalake/tests/gtest_record_multiplexer_test.cc
Labels: area/redpanda

crypto/tests: bazelize ossl context service tests
  src/v/crypto/tests/BUILD
  src/v/crypto/tests/ossl_context_service_test.cc
  src/v/crypto/tests/ossl_context_service_test_base.h
Labels: area/redpanda

rpk debug: move shared code to common
  src/go/rpk/pkg/adminapi/admin.go
  src/go/rpk/pkg/cli/debug/bundle/BUILD
  src/go/rpk/pkg/cli/debug/bundle/bundle.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_k8s_linux.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_linux.go
  src/go/rpk/pkg/cli/debug/common/BUILD
  src/go/rpk/pkg/cli/debug/common/common.go
Labels: area/rpk

rpk: add `rpk debug remote bundle`
  MODULE.bazel
  src/go/rpk/go.mod
  src/go/rpk/pkg/cli/debug/BUILD
  src/go/rpk/pkg/cli/debug/bundle/bundle.go
  src/go/rpk/pkg/cli/debug/common/BUILD
  src/go/rpk/pkg/cli/debug/common/common.go
  src/go/rpk/pkg/cli/debug/common/common_test.go
  src/go/rpk/pkg/cli/debug/debug.go
  src/go/rpk/pkg/cli/debug/remotebundle/BUILD
  src/go/rpk/pkg/cli/debug/remotebundle/cancel.go
  src/go/rpk/pkg/cli/debug/remotebundle/download.go
  src/go/rpk/pkg/cli/debug/remotebundle/remote.go
  src/go/rpk/pkg/cli/debug/remotebundle/start.go
  src/go/rpk/pkg/cli/debug/remotebundle/status.go
  tests/rptest/clients/rpk.py
  tests/rptest/tests/rpk_cluster_test.py
  tests/rptest/tests/rpk_debug_bundle_test.py
Labels: area/rpk

Revert "s/log: removed the line informing user about outstanding locks"
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda

storage/tests: added stress fiber to concurrent prefix truncate test
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

s/log: fixed race condition between appends and prefix truncation
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda

storage/tests: added stress fiber to concurrent prefix truncate test
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

Revert "s/log: removed the line informing user about outstanding locks"
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda

s/log: fixed race condition between appends and prefix truncation
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda

datalake/metrics: add per partition lag metrics for translation
  src/v/cluster/partition_probe.cc
  src/v/cluster/partition_probe.h
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
Labels: area/redpanda

datalake/coordinator: include last_committed_offset in get_last_offsets response.
  src/v/datalake/coordinator/coordinator.cc
  src/v/datalake/coordinator/coordinator.h
  src/v/datalake/coordinator/frontend.cc
  src/v/datalake/coordinator/tests/coordinator_test.cc
  src/v/datalake/coordinator/tests/state_machine_test.cc
  src/v/datalake/coordinator/types.h
Labels: area/redpanda

datalake/metrics: add a metric for iceberg commit lag.
  src/v/cluster/partition_probe.cc
  src/v/cluster/partition_probe.h
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
Labels: area/redpanda

datalake/metrics: add ducktape test
  tests/rptest/tests/datalake/datalake_e2e_test.py
Labels: none

scrubber: log with job exits due to abort
  src/v/cluster/archival/scrubber.cc
Labels: area/redpanda

rpk: add err message of CreateACL response
  src/go/rpk/pkg/cli/security/acl/create.go
  tests/rptest/tests/acls_test.py
Labels: area/rpk

rpk: decode adminapi error message in role creation
  src/go/rpk/pkg/adminapi/admin.go
  src/go/rpk/pkg/cli/security/role/create.go
Labels: area/rpk

datalake/metrics: add per partition lag metrics for translation
  src/v/cluster/partition_probe.cc
  src/v/cluster/partition_probe.h
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
Labels: area/redpanda

datalake/coordinator: include last_committed_offset in get_last_offsets response.
  src/v/datalake/coordinator/coordinator.cc
  src/v/datalake/coordinator/coordinator.h
  src/v/datalake/coordinator/frontend.cc
  src/v/datalake/coordinator/tests/coordinator_test.cc
  src/v/datalake/coordinator/tests/state_machine_test.cc
  src/v/datalake/coordinator/types.h
Labels: area/redpanda

datalake/metrics: add ducktape test
  tests/rptest/tests/datalake/datalake_e2e_test.py
Labels: none

datalake/metrics: add a metric for iceberg commit lag.
  src/v/cluster/partition_probe.cc
  src/v/cluster/partition_probe.h
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
Labels: area/redpanda

tests/docker: increase cargo retry from 3 to 6 in rp-storage-tool
  tests/docker/ducktape-deps/rp-storage-tool
Labels: none

tests/docker: verbose rp-storage-tool
  tests/docker/ducktape-deps/rp-storage-tool
Labels: none

tests/docker: fix captialization warn on docker build
  tests/docker/Dockerfile
Labels: none

tests/docker: update base image to latest ubuntu jammy
  tests/docker/Dockerfile
Labels: none

tests/docker: increase cargo retry from 3 to 6 in client-swarm
  tests/docker/ducktape-deps/client-swarm
Labels: none

tests/docker: verbose client-swarm
  tests/docker/ducktape-deps/client-swarm
Labels: none

rm_stm: remove always true assert on transaction_ga feature
  src/v/cluster/rm_stm.cc
Labels: area/redpanda

c/balancer_planner: check if topic exists in node count map
  src/v/cluster/partition_balancer_planner.cc
Labels: area/redpanda

cmake: remove duplicate arguments as these are implict for bench
  src/v/iceberg/tests/CMakeLists.txt
Labels: area/redpanda

cmake: remove duplicate arguments as these are implict for bench
  src/v/iceberg/tests/CMakeLists.txt
Labels: area/redpanda

bazel: add target for fuzzing testing
  .bazelrc
  bazel/test.bzl
Labels: none

bytes: bazelize iobuf_fuzz
  src/v/bytes/tests/BUILD
  src/v/bytes/tests/iobuf_fuzz.cc
Labels: area/redpanda

c/topic_table: additional logging
  src/v/cluster/topic_table.cc
Labels: area/redpanda

dt/redpanda: increase expect_fail timeout to 40s
  tests/rptest/services/redpanda.py
Labels: none

rptest/s: apache iceberg rest catalog with fs mode on gcp
  tests/java/iceberg-rest-catalog/build.gradle
  tests/rptest/services/apache_iceberg_catalog.py
Labels: none
