Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

tools/format-py: switch to ruff
  tools/format-py
Labels: none

tools: Fix uv ruff version string
  tools/format-py
Labels: none

github: update CODEOWNERS
  .github/CODEOWNERS
Labels: area/build

transform-sdk/go: simplify conditional
  src/transform-sdk/go/transform/sr/serde.go
Labels: area/wasm

iceberg: define some snapshot summary metrics
  src/v/iceberg/snapshot.h
  src/v/iceberg/snapshot_json.cc
  src/v/iceberg/tests/snapshot_json_test.cc
Labels: area/redpanda

iceberg: account for snapshot summary metrics
  src/v/iceberg/merge_append_action.cc
  src/v/iceberg/tests/merge_append_action_test.cc
Labels: area/redpanda

iceberg: define some snapshot summary metrics
  src/v/iceberg/snapshot.h
  src/v/iceberg/snapshot_json.cc
  src/v/iceberg/tests/snapshot_json_test.cc
Labels: area/redpanda

iceberg: account for snapshot summary metrics
  src/v/iceberg/merge_append_action.cc
  src/v/iceberg/tests/merge_append_action_test.cc
Labels: area/redpanda

datalake: bump translation start to log start
  src/v/datalake/translation/deps.cc
  tests/rptest/tests/datalake/blocked_catalog_test.py
Labels: area/redpanda

datalake: bump translation start to log start
  src/v/datalake/translation/deps.cc
  tests/rptest/tests/datalake/blocked_catalog_test.py
Labels: area/redpanda

rptest/redpanda: report crash during startup ASAP
  tests/rptest/services/redpanda.py
Labels: none

ducktape/datalake: Add DLQ table coverage to table name test
  tests/rptest/tests/datalake/datalake_table_name_test.py
Labels: none

ducktape/datalake: Add DLQ table coverage to table name test
  tests/rptest/tests/datalake/datalake_table_name_test.py
Labels: none

ducktape/datalake: Add DLQ table coverage to table name test
  tests/rptest/tests/datalake/datalake_table_name_test.py
Labels: none

ducktape/datalake: Add DLQ table coverage to table name test
  tests/rptest/tests/datalake/datalake_table_name_test.py
Labels: none

Update kcl
  tests/docker/ducktape-deps/kcl
Labels: none

kafka fetch: make planning hierarchical
  src/v/kafka/server/fetch_metadata_cache.h
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/fetch.h
  src/v/kafka/server/tests/fetch_plan_bench.cc
Labels: area/redpanda

rpk: add dataplane mcp and proxying
  MODULE.bazel
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cloud/mcp/BUILD
  src/go/rpk/pkg/cli/cloud/mcp/mcp.go
  src/go/rpk/pkg/publicapi/BUILD
  src/go/rpk/pkg/publicapi/controlplane.go
  src/go/rpk/pkg/publicapi/dataplane.go
  src/go/rpk/pkg/publicapi/transform.go
Labels: area/rpk

config: Add shadow_link_permitted_topics config
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

cluster/cl: Rename cluster_link_active
  src/v/cluster/cluster_link/frontend.cc
  src/v/cluster/cluster_link/frontend.h
Labels: area/redpanda

cluster/cl: Add cluster_link_active method
  src/v/cluster/cluster_link/frontend.cc
  src/v/cluster/cluster_link/frontend.h
  src/v/cluster/cluster_link/table.cc
  src/v/cluster/cluster_link/table.h
Labels: area/redpanda

k/s: Block topic creation while link active
  src/v/kafka/server/handlers/create_topics.cc
Labels: area/redpanda

k/s: Wire in cluster_link::frontend
  src/v/kafka/server/app.cc
  src/v/kafka/server/app.h
  src/v/kafka/server/server.cc
  src/v/kafka/server/server.h
  src/v/redpanda/application.cc
  src/v/redpanda/tests/fixture.cc
Labels: area/redpanda

dt: Added test for topic creation restrictions
  tests/rptest/tests/cluster_linking_e2e_test.py
Labels: none

datalake: add new metric for corrupted records
  src/v/datalake/translation/translation_probe.cc
  src/v/datalake/translation/translation_probe.h
Labels: area/redpanda

datalake: dlq corrupted records
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
  src/v/datalake/tests/gtest_record_multiplexer_test.cc
  src/v/model/record.h
Labels: area/redpanda

ignore: test pipeline
  tests/docker/ducktape-deps/addr2line
Labels: none

resource_mgmt: Add cloud topics
  src/v/resource_mgmt/memory_groups.cc
  src/v/resource_mgmt/memory_groups.h
  src/v/resource_mgmt/tests/memory_groups_test.cc
Labels: area/redpanda

ct: Use memory_groups to limit CT memory
  src/v/cloud_topics/level_zero/pipeline/BUILD
  src/v/cloud_topics/level_zero/pipeline/read_pipeline.cc
  src/v/cloud_topics/level_zero/pipeline/write_pipeline.cc
Labels: area/redpanda

c/archival: Improve size mismatch log
  src/v/cluster/archival/ntp_archiver_service.cc
Labels: area/redpanda

rpk: add --wait to remote-bundle start
  src/go/rpk/pkg/cli/debug/remotebundle/download.go
  src/go/rpk/pkg/cli/debug/remotebundle/start.go
Labels: area/rpk

dt/cluster_quota_test: format and fix linting errors
  tests/rptest/tests/cluster_quota_test.py
Labels: none

dt: increase log verbosity
  tests/rptest/tests/cluster_quota_test.py
Labels: none

WIP: use compat mode of mcp/protoc
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cloud/mcp/mcp.go
Labels: area/rpk

WIP: use compat mode of mcp/protoc
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cloud/mcp/mcp.go
Labels: area/rpk

c/archival: Minor clang-tidies
  src/v/cluster/archival/async_data_uploader.cc
Labels: area/redpanda

c/a/upload: Add segment_collector::make_segment_upload_stream
  src/v/cluster/archival/segment_reupload.cc
  src/v/cluster/archival/segment_reupload.h
  src/v/cluster/archival/tests/BUILD
  src/v/cluster/archival/tests/segment_reupload_fixture_test.cc
Labels: area/redpanda

s/test/utils: Add disk_log_builder::set_compaction_complete(index)
  src/v/storage/tests/utils/disk_log_builder.cc
  src/v/storage/tests/utils/disk_log_builder.h
Labels: area/redpanda

c/a/archiver: Add formatters for ntp_archiver result types
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/ntp_archiver_service.h
Labels: area/redpanda

c/a/tests: Add segment_collector_rpbench
  src/v/cluster/archival/tests/BUILD
  src/v/cluster/archival/tests/async_data_uploader_fixture.h
  src/v/cluster/archival/tests/segment_collector_bench.cc
Labels: area/redpanda

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']
