Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

k/proto/types: Change underlying type of uuid
  src/v/kafka/protocol/types.cc
  src/v/kafka/protocol/types.h
Labels: area/redpanda

k/server/metadata: Implement v12
  src/v/kafka/server/handlers/metadata.cc
  src/v/kafka/server/handlers/metadata.h
  src/v/kafka/server/tests/metadata_test.cc
  tests/rptest/tests/compatibility/sarama_produce_test.py
  tests/rptest/tests/compatibility/sarama_test.py
Labels: area/redpanda

thirdparty: update seastar to 0aed36eee620e
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

thirdparty: update seastar to 0aed36eee620e
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

tmp
  tests/rptest/services/spark_service.py
  tests/rptest/tests/datalake/datalake_verifier.py
Labels: none

kafka/server: Enable fetch_test
  src/v/kafka/server/tests/BUILD
Labels: area/redpanda

`storage`: deflake `compaction_e2e_test`
  src/v/storage/tests/compaction_e2e_test.cc
Labels: area/redpanda

`storage`: deflake `compaction_e2e_test`
  src/v/storage/tests/compaction_e2e_test.cc
Labels: area/redpanda

tests: compare with v25.2.x branch for pass criteria
  tests/ducktape-common-retry.yml
Labels: none

tests/rno: make time between the failures longer
  tests/rptest/tests/random_node_operations_test.py
Labels: none

tests/rno: decrease retention_local_trim_interval setting
  tests/rptest/tests/random_node_operations_test.py
Labels: none

tests/rno: make time between the failures longer
  tests/rptest/tests/random_node_operations_test.py
Labels: none

tests/rno: decrease retention_local_trim_interval setting
  tests/rptest/tests/random_node_operations_test.py
Labels: none

no op
  tests/rptest/services/redpanda.py
Labels: none

kafka: Introduce Fetch v12
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/fetch.h
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/fetch_test.cc
Labels: area/redpanda

cluster: Add equality for leader_term
  src/v/cluster/types.h
Labels: area/redpanda

cluster: Add namespace to do_until
  src/v/cluster/tests/cluster_test_fixture.h
Labels: area/redpanda

ts: Use scheduling group to do disk I/O
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
Labels: area/redpanda

rpk: add list command to config
  src/go/rpk/pkg/cli/cluster/config/BUILD
  src/go/rpk/pkg/cli/cluster/config/config.go
  src/go/rpk/pkg/cli/cluster/config/list.go
  src/go/rpk/pkg/cli/cluster/config/list_test.go
Labels: area/rpk

gitignore: add CLAUDE to gitignore
  .gitignore
Labels: none

test: add rpk ducktape test for list configs
  tests/rptest/clients/rpk.py
  tests/rptest/tests/cluster_config_test.py
Labels: none

rptest: remove test_create_or_delete_topics_while_busy
  tests/rptest/tests/e2e_shadow_indexing_test.py
Labels: none

rptest: remove test_create_or_delete_topics_while_busy
  tests/rptest/tests/e2e_shadow_indexing_test.py
Labels: none

rptest: remove test_create_or_delete_topics_while_busy
  tests/rptest/tests/e2e_shadow_indexing_test.py
Labels: none

rptest: remove test_create_or_delete_topics_while_busy
  tests/rptest/tests/e2e_shadow_indexing_test.py
Labels: none

tests/docker: update addr2line SHA
  tests/docker/ducktape-deps/addr2line
Labels: none

bazel: Update seastar
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

7777->777
  tests/rptest/tests/datalake/datalake_verifier.py
Labels: none

k/s: Make metadata::create_topic a co-routine
  src/v/kafka/server/handlers/metadata.cc
Labels: area/redpanda

k/s: Fix race condition in auto-create topic metadata handling
  src/v/kafka/server/handlers/metadata.cc
Labels: area/redpanda

k/s: Fix race condition in auto-create topic metadata handling
  src/v/kafka/server/handlers/metadata.cc
Labels: area/redpanda

k/s: Make metadata::create_topic a co-routine
  src/v/kafka/server/handlers/metadata.cc
Labels: area/redpanda

k/s: Make metadata::create_topic a co-routine
  src/v/kafka/server/handlers/metadata.cc
Labels: area/redpanda

k/s: Fix race condition in auto-create topic metadata handling
  src/v/kafka/server/handlers/metadata.cc
Labels: area/redpanda

cloud_storage: hold gate in remote
  src/v/cloud_io/tests/s3_imposter.h
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/cloud_storage/tests/remote_test.cc
Labels: area/redpanda

`http`: loop while `!_serializer.is_header_done()`
  src/v/http/client.cc
Labels: area/redpanda

`rptest`: remove temporary lines from `DEFAULT_LOG_ALLOW_LIST`
  tests/rptest/services/redpanda.py
Labels: none

rptest: various fixes to ManyTopicsTest
  tests/rptest/scale_tests/many_topics_test.py
  tests/rptest/scale_tests/topic_scale_profiles.py
Labels: none

rptest: re-enable ManyTopicsTest in CDT
  tests/rptest/test_suite_ec2.yml
Labels: none

dummy_test
  tests/rptest/tests/dummy_test.py
Labels: none

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']
