Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

wip
  src/v/cluster/partition_properties_stm.h
  src/v/datalake/translation/state_machine.h
  src/v/raft/persisted_stm.cc
  src/v/raft/persisted_stm.h
  src/v/raft/state_machine_base.cc
  src/v/raft/state_machine_base.h
  src/v/raft/state_machine_manager.cc
  src/v/raft/state_machine_manager.h
  src/v/raft/tests/BUILD
  src/v/raft/tests/persisted_stm_test.cc
Labels: area/redpanda

actual fix
  src/v/cluster/archival/archival_metadata_stm.cc
Labels: area/redpanda

tests/write_caching: use smaller batches in write caching test
  tests/rptest/tests/write_caching_fi_e2e_test.py
Labels: none

disable batch cache
  tests/rptest/tests/random_node_operations_test.py
Labels: none

archival: Add offset skipping
  src/v/cluster/archival/segment_reupload.cc
  src/v/cluster/archival/segment_reupload.h
Labels: area/redpanda

archival: Add test case for offset skipping
  src/v/cluster/archival/tests/segment_reupload_test.cc
Labels: area/redpanda

archival: Add method that extracts stream
  src/v/cluster/archival/segment_reupload.cc
  src/v/cluster/archival/segment_reupload.h
Labels: area/redpanda

archival: Add test that checks
  src/v/cluster/archival/tests/segment_reupload_test.cc
Labels: area/redpanda

dl/file_writer: disable write_behinds
  src/v/datalake/BUILD
  src/v/datalake/local_parquet_file_writer.cc
Labels: area/redpanda

archival: Remove dead code
  src/v/cluster/archival/archival_policy.cc
  src/v/cluster/archival/archival_policy.h
  src/v/cluster/archival/tests/BUILD
  src/v/cluster/archival/tests/CMakeLists.txt
  src/v/cluster/archival/tests/archival_policy_test.cc
  src/v/cluster/archival/tests/ntp_archiver_test.cc
Labels: area/redpanda

archival: New segment_collector mode
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/segment_reupload.cc
  src/v/cluster/archival/segment_reupload.h
  src/v/cluster/archival/tests/BUILD
  src/v/cluster/archival/tests/segment_reupload_test.cc
Labels: area/redpanda

archival: Swap segment collector implementation
  src/v/cluster/archival/archival_policy.cc
  src/v/cluster/archival/archival_policy.h
  src/v/cluster/archival/ntp_archiver_service.cc
Labels: area/redpanda

fixes (will squash back)
  src/v/cluster/archival/archival_policy.cc
  src/v/cluster/archival/segment_reupload.cc
  src/v/cluster/archival/segment_reupload.h
  src/v/cluster/archival/tests/BUILD
Labels: area/redpanda

archival/tests: Tag some fixture tests 'exclusive'
  src/v/cluster/archival/tests/BUILD
Labels: area/redpanda

rpk: update cloud protos
  src/go/rpk/go.mod
  src/go/rpk/go.sum
Labels: area/rpk

rpk: update dataplane proto version
  src/go/rpk/go.mod
  src/go/rpk/go.sum
Labels: area/rpk

wip
  src/v/storage/segment_set.cc
Labels: area/redpanda

dl/translation: move exception types to their own header
  src/v/datalake/translation/BUILD
  src/v/datalake/translation/deps.cc
  src/v/datalake/translation/deps.h
  src/v/datalake/translation/errors.h
  src/v/datalake/translation/partition_translator.cc
Labels: area/redpanda

dl/translation: move record_mux/translation_task to translation/
  src/v/datalake/BUILD
  src/v/datalake/CMakeLists.txt
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/CMakeLists.txt
  src/v/datalake/translation/BUILD
  src/v/datalake/translation/CMakeLists.txt
  src/v/datalake/translation/deps.cc
  src/v/datalake/translation/record_multiplexer.cc
  src/v/datalake/translation/record_multiplexer.h
  src/v/datalake/translation/tests/BUILD
  src/v/datalake/translation/tests/CMakeLists.txt
  src/v/datalake/translation/tests/gtest_record_multiplexer_test.cc
  src/v/datalake/translation/tests/record_multiplexer_bench.cc
  src/v/datalake/translation/tests/record_multiplexer_test.cc
  src/v/datalake/translation/tests/translation_task_test.cc
  src/v/datalake/translation/translation_task.cc
  src/v/datalake/translation/translation_task.h
Labels: area/redpanda

dl/translation: streamline error handling
  src/v/datalake/translation/deps.cc
  src/v/datalake/translation/deps.h
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
  src/v/datalake/translation/record_multiplexer.cc
  src/v/datalake/translation/record_multiplexer.h
  src/v/datalake/translation/tests/partition_translator_tests.cc
  src/v/datalake/translation/translation_task.cc
  src/v/datalake/translation/translation_task.h
Labels: area/redpanda

wip: remove finish_translation_requested logic
  src/v/datalake/datalake_manager.cc
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
  src/v/datalake/translation/scheduling.cc
  src/v/datalake/translation/scheduling.h
  src/v/datalake/translation/scheduling_policies.cc
  src/v/datalake/translation/scheduling_policies.h
  src/v/datalake/translation/tests/scheduler_fixture.cc
  src/v/datalake/translation/tests/scheduler_fixture.h
Labels: area/redpanda

wip
  src/v/storage/disk_log_impl.cc
  src/v/storage/segment_set.cc
Labels: area/redpanda

datalake: add metric for scratch space hard limit breaches
  src/v/datalake/datalake_manager.cc
  src/v/datalake/datalake_manager.h
  src/v/redpanda/application.cc
  src/v/resource_mgmt/storage.cc
  src/v/resource_mgmt/storage.h
  tests/rptest/tests/datalake/disk_budget_test.py
Labels: area/redpanda

Fix e2e test_consumer_interruption flakiness
  tests/rptest/services/verifiable_consumer.py
  tests/rptest/tests/end_to_end.py
  tests/rptest/tests/simple_e2e_test.py
Labels: none

cluster/partition: separate STM builder creation from partition start
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_manager.cc
Labels: area/redpanda

cluster/controller_backend: fix race when marking properties reconciled
  src/v/cluster/controller_backend.cc
Labels: area/redpanda

cluster/partition_manager: pass whole topic config to create_partition
  src/v/cluster/controller_backend.cc
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
Labels: area/redpanda

raft/state_machine_manager_builder: pass topic cfg to make_builder_for
  src/v/cluster/partition_manager.cc
  src/v/cluster/state_machine_registry.h
  src/v/raft/state_machine_manager.h
Labels: area/redpanda

cluster/archival_metadata_stm: avoid redundant copies in ctor
  src/v/archival/archival_metadata_stm.cc
Labels: area/redpanda

cluster/controller_backend/create_partiton: query topic tbl consistently
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
Labels: area/redpanda

STM factories: use topic cfg from params instead of querying topic table
  src/v/archival/archival_metadata_stm.cc
  src/v/cluster/rm_stm.cc
  src/v/transform/stm/transform_offsets_stm.cc
Labels: area/redpanda

STM factories: do not depend on topic table
  src/v/archival/archival_metadata_stm.cc
  src/v/archival/archival_metadata_stm.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/redpanda/application.cc
  src/v/transform/stm/include/transform/stm/transform_offsets_stm.h
  src/v/transform/stm/transform_offsets_stm.cc
Labels: area/redpanda

cluster/state_machine_registry: supply instance context to STM ctors
  src/v/archival/archival_metadata_stm.cc
  src/v/archival/archival_metadata_stm.h
  src/v/cluster/id_allocator_stm.cc
  src/v/cluster/id_allocator_stm.h
  src/v/cluster/log_eviction_stm.cc
  src/v/cluster/log_eviction_stm.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/state_machine_registry.h
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/kafka/server/group_tx_tracker_stm.cc
  src/v/kafka/server/group_tx_tracker_stm.h
  src/v/transform/stm/include/transform/stm/transform_offsets_stm.h
  src/v/transform/stm/transform_offsets_stm.cc
Labels: area/redpanda

cluster/archival: re-enable unit/fixture tests on arm and see what happens
  src/v/cluster/archival/tests/CMakeLists.txt
Labels: area/redpanda

tx/chaos: deflake TxSubscribeTest
  tests/rptest/chaos_tests/single_fault_test.py
Labels: none

r/tests: run raft tests in parallel
  src/v/raft/tests/BUILD
Labels: area/redpanda

rptest: harden tiered storage pause test
  tests/rptest/tests/tiered_storage_pause_test.py
Labels: none

tests: change retry config
  tests/ducktape-common-retry.yml
  tests/ducktape-merge-retry.yml
  tests/ducktape-pr-retry.yml
Labels: none

rptest: Fix scaling_up_test.py
  tests/rptest/tests/scaling_up_test.py
Labels: none

archival: Fix archival STM snapshot installation
  src/v/cluster/archival/archival_metadata_stm.cc
  src/v/cluster/archival/tests/archival_metadata_stm_test.cc
  src/v/cluster/partition_manager.cc
Labels: area/redpanda

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']
