Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

[rptest] improve asserts, Azure path in ConfigProfileVerify
  tests/rptest/redpanda_cloud_tests/config_profile_verify_test.py
Labels: none

cluster: reject writes only if data disk is degraded
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
  src/v/cluster/health_monitor_frontend.cc
  src/v/cluster/health_monitor_frontend.h
  src/v/cluster/metadata_cache.cc
  tests/rptest/tests/full_disk_test.py
Labels: area/redpanda

bazel/thirdparty: expose openssl executable
  bazel/thirdparty/openssl.BUILD
Labels: none

rpc: bazelize rpc_gen_cycling_test
  src/v/rpc/test/BUILD
  src/v/rpc/test/cycling_service.json
  src/v/rpc/test/echo_service.json
  src/v/rpc/test/echo_v2_service.json
  src/v/rpc/test/rpc_gen_cycling_test.cc
Labels: area/redpanda

rpc: add dependencies for redpanda_cc_rpc_library
  src/v/rpc/compiler.bzl
Labels: area/redpanda

bazel: add utility functions to generate certificates
  bazel/cert.bzl
Labels: none

[rptest] Debug KeyError nodeName
  tests/rptest/services/cloud_broker.py
Labels: none

gha: use setup-python v5
  .github/workflows/render-pr-body-release-notes.yml
Labels: area/build

partition_allocator: Make topic_memory_per_partition memory group aware
  src/v/cluster/BUILD
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/cluster/scheduling/topic_memory_per_partition_default.h
  src/v/cluster/tests/BUILD
  src/v/cluster/tests/partition_allocator_fixture.h
  src/v/cluster/tests/partition_allocator_tests.cc
  src/v/cluster/tests/partition_balancer_planner_fixture.h
  src/v/cluster/tests/topic_table_fixture.h
  src/v/config/BUILD
  src/v/config/configuration.cc
  tests/rptest/tests/resource_limits_test.py
Labels: area/redpanda

rpk: add well-known protobuf types to rpk
  src/go/rpk/pkg/serde/BUILD
  src/go/rpk/pkg/serde/embed/BUILD
  src/go/rpk/pkg/serde/embed/embed.go
  src/go/rpk/pkg/serde/embed/embed_test.go
  src/go/rpk/pkg/serde/embed/protobuf/.clang-format
  src/go/rpk/pkg/serde/embed/protobuf/confluent/meta.proto
  src/go/rpk/pkg/serde/embed/protobuf/confluent/types/decimal.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/README.md
  src/go/rpk/pkg/serde/embed/protobuf/google/type/calendar_period.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/color.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/date.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/datetime.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/dayofweek.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/decimal.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/expr.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/fraction.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/interval.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/latlng.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/localized_text.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/money.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/month.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/phone_number.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/postal_address.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/quaternion.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/timeofday.proto
  src/go/rpk/pkg/serde/proto.go
  src/go/rpk/pkg/serde/proto_test.go
  tests/rptest/tests/rpk_registry_test.py
Labels: area/rpk

Update README.md
  README.md
Labels: none

`storage`: move `storage_e2e_fixture` to its own header file
  src/v/storage/disk_log_impl.h
  src/v/storage/tests/storage_e2e_fixture.h
  src/v/storage/tests/storage_e2e_fixture_test.cc
Labels: area/redpanda

`storage`: fix race condition in `segment::release_appender_in_background()`
  src/v/storage/segment.cc
Labels: area/redpanda

`storage`: add `test_concurrent_segment_roll_and_close`
  src/v/storage/tests/storage_e2e_fixture_test.cc
Labels: area/redpanda

cluster: reject writes only if data disk is degraded
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
  src/v/cluster/health_monitor_frontend.cc
  src/v/cluster/health_monitor_frontend.h
  src/v/cluster/metadata_cache.cc
  tests/rptest/tests/full_disk_test.py
Labels: area/redpanda

cluster: reject writes only if data disk is degraded
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
  src/v/cluster/health_monitor_frontend.cc
  src/v/cluster/health_monitor_frontend.h
  src/v/cluster/metadata_cache.cc
  tests/rptest/tests/full_disk_test.py
Labels: area/redpanda

cluster: reject writes only if data disk is degraded
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
  src/v/cluster/health_monitor_frontend.cc
  src/v/cluster/health_monitor_frontend.h
  src/v/cluster/metadata_cache.cc
  tests/rptest/tests/full_disk_test.py
Labels: area/redpanda

bazel: patch protobuf warning
  MODULE.bazel
  bazel/thirdparty/protobuf_capture_warning.patch
Labels: none

gha: replace ubuntu-latest with ubuntu-22.04
  .github/workflows/backport-command.yml
  .github/workflows/backport-on-merge.yml
  .github/workflows/buildkite-slash-commands.yml
  .github/workflows/cloud-installpack-bk-trigger.yml
  .github/workflows/comment_added.yml
  .github/workflows/jira_issue_manage.yml
  .github/workflows/lint-cpp.yml
  .github/workflows/lint-golang.yml
  .github/workflows/lint-python.yml
  .github/workflows/lint-sh.yml
  .github/workflows/lint-yaml.yml
  .github/workflows/p.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/promote.yml
  .github/workflows/release-rp-storage-tool.yml
  .github/workflows/render-pr-body-release-notes.yml
  .github/workflows/rp-storage-tool-checks.yml
  .github/workflows/rpk-build.yml
  .github/workflows/slash-commands.yml
  .github/workflows/stale.yml
  .github/workflows/transform-sdk-build.yml
  .github/workflows/transform-sdk-release.yml
Labels: area/build

bazel: bump version
  .bazelversion
  MODULE.bazel.lock
Labels: none

crypto: use deleter after class is defined
  src/v/crypto/ossl_context_service.cc
Labels: area/redpanda

serde: correct feature check
  src/v/serde/serde_is_enum.h
Labels: area/redpanda

cloud_topics: remove unused variable
  src/v/cloud_topics/core/pipeline_stage.h
Labels: area/redpanda

cluster: use scoped enum
  src/v/cluster/tm_stm_types.cc
  src/v/cluster/tm_stm_types.h
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/tx_protocol_types.cc
  src/v/cluster/tx_protocol_types.h
Labels: area/redpanda

build: upgrade to c++23
  .bazelrc
  CMakeLists.txt
  MODULE.bazel
  MODULE.bazel.lock
Labels: none

tracking_allocator: support c++23
  src/v/utils/tests/tracking_allocator_tests.cc
  src/v/utils/tracking_allocator.h
Labels: area/redpanda

test: redirect boost test output under bazel
  bazel/test.bzl
  src/v/test_utils/BUILD
  src/v/test_utils/boost_result_redirect.cc
Labels: area/redpanda

producer_state_manager: make period configurable for testing
  src/v/cluster/producer_state_manager.cc
  src/v/cluster/producer_state_manager.h
Labels: area/redpanda

tests/migrations: add scale test, fix allow lists
  tests/rptest/scale_tests/data_migrations_test.py
  tests/rptest/tests/data_migrations.py
  tests/rptest/tests/data_migrations_api_test.py
Labels: none

tests/migrations: longer timeout for scale tests
  tests/rptest/scale_tests/data_migrations_test.py
  tests/rptest/tests/data_migrations.py
Labels: none

feature_table: retire serde_raft_configuration feature
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/group_configuration.cc
Labels: area/redpanda

raft: update configuration to version 7 when possible
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
Labels: area/redpanda

feature: introduced a feature for symmetic reconfiguration cancel
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
Labels: area/redpanda

raft: added new strategy to make reconfiguration symetric
  src/v/raft/group_configuration.cc
  src/v/raft/group_configuration.h
  src/v/raft/tests/configuration_serialization_test.cc
  src/v/raft/tests/group_configuration_tests.cc
Labels: area/redpanda

application: don't enable datalake services in recovery mode
  src/v/redpanda/application.cc
Labels: area/redpanda

tests/datalake: add test in recovery mode
  tests/rptest/tests/datalake/recovery_mode_test.py
Labels: none

tests/datalake: add test with disabled partitions
  tests/rptest/tests/datalake/recovery_mode_test.py
Labels: none

bazel: add mark_optimized build flag
  .bazelrc
  bazel/BUILD
Labels: none

bazel: add target for fuzzing testing
  .bazelrc
  bazel/test.bzl
Labels: none

bytes: bazelize iobuf_fuzz
  src/v/bytes/tests/BUILD
  src/v/bytes/tests/iobuf_fuzz.cc
Labels: area/redpanda

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']
