Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

sec: Don't block for update on OIDC service start
  src/v/security/oidc_service.cc
Labels: area/redpanda

sec: Don't block for update on OIDC service start
  src/v/security/oidc_service.cc
Labels: area/redpanda

cloud_storage_clients: add precondition_failed error code
  src/v/cloud_io/io_result.cc
  src/v/cloud_io/io_result.h
  src/v/cloud_io/remote.cc
  src/v/cloud_storage/download_exception.cc
  src/v/cloud_storage_clients/types.h
  src/v/cloud_topics/level_one/common/file_io.cc
  src/v/cloud_topics/level_zero/batcher/batcher.cc
  src/v/cloud_topics/level_zero/reader/materialized_extent.cc
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/self_test/cloudcheck.cc
  src/v/datalake/cloud_data_io.cc
  src/v/iceberg/metadata_io.h
  src/v/iceberg/table_io.cc
Labels: area/redpanda

cloud_storage_clients/s3: support return failed precondition
  src/v/cloud_storage_clients/s3_client.cc
Labels: area/redpanda

selftest: fix clang-tidy warnings in cloudcheck
  src/v/cluster/self_test/cloudcheck.cc
Labels: area/redpanda

cloud_io: support precondition headers
  src/v/cloud_io/remote.cc
  src/v/cloud_io/remote.h
  src/v/cloud_io/transfer_details.h
  src/v/cloud_storage_clients/abs_client.cc
  src/v/cloud_storage_clients/abs_client.h
  src/v/cloud_storage_clients/client.h
  src/v/cloud_storage_clients/s3_client.cc
  src/v/cloud_storage_clients/s3_client.h
  src/v/cloud_storage_clients/types.h
Labels: area/redpanda

cloud_storage_clients: move to using options
  src/v/cloud_io/remote.cc
  src/v/cloud_storage_clients/abs_client.cc
  src/v/cloud_storage_clients/abs_client.h
  src/v/cloud_storage_clients/client.h
  src/v/cloud_storage_clients/s3_client.cc
  src/v/cloud_storage_clients/s3_client.h
  src/v/cloud_storage_clients/tests/s3_client_test.cc
Labels: area/redpanda

rptest/self_test: add CAS test to list
  tests/rptest/tests/self_test_test.py
Labels: none

cloud_storage_clients/abs: detect failed precondition errors
  src/v/cloud_storage_clients/abs_client.cc
  src/v/cloud_storage_clients/abs_error.cc
  src/v/cloud_storage_clients/abs_error.h
Labels: area/redpanda

c/self_test: add support for compare and swap checks in cloudcheck
  src/v/cluster/self_test/cloudcheck.cc
  src/v/cluster/self_test/cloudcheck.h
Labels: area/redpanda

`cloud_storage`: reduce calls to `end()` in `adjacent_segment_merger`
  src/v/cluster/archival/adjacent_segment_merger.cc
Labels: area/redpanda

c/archival: extract scanner so it can be used in tests
  src/v/cluster/archival/adjacent_segment_merger.cc
  src/v/cluster/archival/adjacent_segment_merger.h
Labels: area/redpanda

c/archival: do not limit collector size for adj reupload
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/tests/ntp_archiver_reupload_test.cc
Labels: area/redpanda

schema_registry: merge swagger json
  bazel/BUILD
  bazel/split_swagger_json.py
  bazel/swagger.bzl
  src/v/pandaproxy/BUILD
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/api/api-doc/schema_registry_definitions.def.json
  src/v/pandaproxy/api/api-doc/schema_registry_header.json
  src/v/pandaproxy/schema_registry/authorization.cc
  src/v/pandaproxy/schema_registry/service.cc
Labels: area/redpanda

tests: introduce auto-generated swagger client
  .gitignore
  tests/rptest/clients/schema_registry/__init__.py
  tests/rptest/clients/schema_registry/generated/schema_registry_client/__init__.py
  tests/rptest/clients/schema_registry/generated/schema_registry_client/api/__init__.py
  tests/rptest/clients/schema_registry/generated/schema_registry_client/api/default_api.py
  tests/rptest/clients/schema_registry/generated/schema_registry_client/api_client.py
  tests/rptest/clients/schema_registry/generated/schema_registry_client/api_response.py
  tests/rptest/clients/schema_registry/generated/schema_registry_client/configuration.py
  tests/rptest/clients/schema_registry/generated/schema_registry_client/exceptions.py
  tests/rptest/clients/schema_registry/generated/schema_registry_client/models/__init__.py
  tests/rptest/clients/schema_registry/generated/schema_registry_client/models/error_body.py
  tests/rptest/clients/schema_registry/generated/schema_registry_client/models/get_compatibility.py
  tests/rptest/clients/schema_registry/generated/schema_registry_client/models/get_schemas_ids_id_versions200_response_inner.py
  tests/rptest/clients/schema_registry/generated/schema_registry_client/models/is_compatibile.py
  tests/rptest/clients/schema_registry/generated/schema_registry_client/models/mode.py
  tests/rptest/clients/schema_registry/generated/schema_registry_client/models/post_subject_versions200_response.py
  tests/rptest/clients/schema_registry/generated/schema_registry_client/models/put_compatibility.py
  tests/rptest/clients/schema_registry/generated/schema_registry_client/models/schema_def.py
  tests/rptest/clients/schema_registry/generated/schema_registry_client/models/schema_def_references_inner.py
  tests/rptest/clients/schema_registry/generated/schema_registry_client/models/security_acl.py
  tests/rptest/clients/schema_registry/generated/schema_registry_client/models/stored_schema.py
  tests/rptest/clients/schema_registry/generated/schema_registry_client/py.typed
  tests/rptest/clients/schema_registry/generated/schema_registry_client/rest.py
  tests/rptest/tests/schema_registry_test.py
  tests/setup.py
Labels: none

rpk: update console version to v3.3.1
  src/go/rpk/pkg/cli/container/common/common.go
Labels: area/rpk

kafka: make metadata return term 0 when missing info
  src/v/kafka/server/handlers/metadata.cc
Labels: area/redpanda

dnm
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

gdb: fixes
  tools/redpanda-gdb.py
Labels: none

.github/workflows: add missing permissions for oidc
  .github/workflows/trigger-snyk.yml
Labels: area/build

.github/workflows: add missing permissions for oidc
  .github/workflows/trigger-snyk.yml
Labels: area/build

gha: run trigger-snyk on change to workflow
  .github/workflows/trigger-snyk.yml
Labels: area/build

gha: run trigger-snyk on change to workflow
  .github/workflows/trigger-snyk.yml
Labels: area/build

test: update trino
  tests/docker/ducktape-deps/trino
Labels: none

ct: Expose api to acquire memory units
  src/v/cloud_topics/level_zero/pipeline/write_pipeline.h
Labels: area/redpanda

ct: Integrate batcher with cloud storage cache
  src/v/cloud_topics/data_plane_impl.cc
  src/v/cloud_topics/level_zero/batcher/BUILD
  src/v/cloud_topics/level_zero/batcher/batcher.cc
  src/v/cloud_topics/level_zero/batcher/batcher.h
  src/v/cloud_topics/level_zero/batcher/tests/BUILD
  src/v/cloud_topics/level_zero/batcher/tests/batcher_test.cc
  src/v/cloud_topics/level_zero/batcher/tests/remote_mock.h
Labels: area/redpanda

gha: use env instead of secret
  .github/workflows/trigger-snyk.yml
Labels: area/build

gha: use env instead of secret
  .github/workflows/trigger-snyk.yml
Labels: area/build

admin: Store decommission_status partitions in a chunked array
  src/v/redpanda/admin/api-doc/broker.json
Labels: area/redpanda

admin: Store decommission_status partitions in a chunked array
  src/v/redpanda/admin/api-doc/broker.json
Labels: area/redpanda

admin: Store decommission_status partitions in a chunked array
  src/v/redpanda/admin/api-doc/broker.json
Labels: area/redpanda

ct: minor logging improvements
  src/v/cloud_topics/reconciler/reconciler.cc
Labels: area/redpanda

many_partitions_test: test case for cloud topics
  tests/rptest/scale_tests/many_partitions_test.py
  tests/rptest/utils/scale_parameters.py
Labels: none

mpt: logging
  tests/rptest/scale_tests/many_partitions_test.py
Labels: none

ct: exception
  src/v/cloud_topics/reconciler/reconciler.cc
Labels: area/redpanda

many_partitions_test: expand wait time for leadership balancing
  tests/rptest/scale_tests/many_partitions_test.py
Labels: none

many_partitions_test: bump logging
  tests/rptest/scale_tests/many_partitions_test.py
  tests/rptest/services/kgo_repeater_service.py
Labels: none

mpt: frequent GC
  tests/rptest/scale_tests/many_partitions_test.py
Labels: none

kgo_repeater_services: bump start timeout
  tests/rptest/services/kgo_repeater_service.py
Labels: none

shard_placement_table: unchecked optional fix
  src/v/cluster/shard_placement_table.cc
Labels: area/redpanda

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']
