Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

Add epoch barrier detailed review doc
  EPOCH_BARRIER_DETAILED_REVIEW.md
Labels: none

NEEDS REVIEW: generated tests for new stuff.
  src/v/cloud_topics/level_zero/gc/tests/BUILD
  src/v/cloud_topics/level_zero/gc/tests/epoch_barrier_coordinator_mt_test.cc
  src/v/cloud_topics/level_zero/gc/tests/epoch_barrier_coordinator_test.cc
Labels: area/redpanda

ct/l0/gc: epoch_barrier_manager
  src/v/cloud_topics/level_zero/gc/BUILD
  src/v/cloud_topics/level_zero/gc/epoch_barrier_manager.cc
  src/v/cloud_topics/level_zero/gc/epoch_barrier_manager.h
Labels: area/redpanda

dummy
  src/v/cloud_topics/level_one/domain/tests/db_domain_manager_test.cc
Labels: area/redpanda

`storage`: make copy of `_segs` in `disk_log_impl::disk_usage()` unhappy path
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda

`storage`: make copy of `_segs` in `disk_log_impl::disk_usage()` unhappy path
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda

`ct/l1`: add `vassert` to `compaction_sink::flush()`
  src/v/cloud_topics/level_one/compaction/sink.cc
Labels: area/redpanda

dt/ct/l0_gc: tolerate failed produce in KgoVerifierProducer tests
  tests/rptest/tests/cloud_topics/l0_gc_test.py
Labels: none

dt/ct/l0_gc: Fix produce_some timeout in CDT
  tests/rptest/tests/cloud_topics/l0_gc_test.py
Labels: none

dt/ct/l0_gc: Fix flaky point-in-time status assertions
  tests/rptest/tests/cloud_topics/l0_gc_test.py
Labels: none

nix: add Nix Flakes build infrastructure
  .gitignore
  flake.lock
  flake.nix
  nix/MODULE.bazel.lock.nix
  nix/ada-static.nix
  nix/base64-static.nix
  nix/bazel-deps.nix
  nix/bazel-repo-cache.nix
  nix/bcr.nix
  nix/bench.nix
  nix/c-ares-static.nix
  nix/croaring-static.nix
  nix/entropy
  nix/extract-missing-deps.py
  nix/gen-bazel-deps.py
  nix/hwloc-static.nix
  nix/libxml2-static.nix
  nix/lksctp-static.nix
  nix/nixify-rules.nix
  nix/openssl-fips.nix
  nix/patch-module-bazel.py
  nix/patches/bazelrc-nix.patch
  nix/patches/expand-stamp-shell-env.patch
  nix/patches/krb5-ld-library-path.patch
  nix/patches/pbgen-shell-env.patch
  nix/patches/rules_buf-nix-no-download.patch
  nix/redpanda-image.nix
  nix/redpanda.nix
  nix/repanda-spawn-strategy-local
  nix/rpk-image.nix
  nix/rpk.nix
  nix/shell.nix
  nix/test-images.nix
  nix/xxhash-static.nix
Labels: none

nix: add documentation
  nix/README.md
  nix/STATUS.md
  nix/nix-bazel-module-precacher-design.md
  nix/rules-python-local-toolchain-patch.md
Labels: none

nix: default OCI images to non-cached build
  flake.nix
Labels: none

nix: document cached vs non-cached build paths in README
  nix/README.md
Labels: none

health_monitor_backend: dangling reference fix
  src/v/cluster/health_monitor_backend.cc
Labels: area/redpanda

health_monitor_backend: dangling reference fix
  src/v/cluster/health_monitor_backend.cc
Labels: area/redpanda

build: add --host_linkopt -fuse-ld=lld to system-clang config
  .bazelrc
Labels: none

build/krb5: add LD_LIBRARY_PATH for configure test binaries
  bazel/thirdparty/krb5.BUILD
Labels: none

build/version: fix expand_with_stamp_vars interpreter handling
  src/v/version/expand_with_stamp_vars.bzl
Labels: area/redpanda

health_monitor_backend: dangling reference fix
  src/v/cluster/health_monitor_backend.cc
Labels: area/redpanda

health_monitor_backend: dangling reference fix
  src/v/cluster/health_monitor_backend.cc
Labels: area/redpanda

nix: shrink patches after upstreaming direct fixes
  nix/patches/bazelrc-nix.patch
  nix/patches/expand-stamp-shell-env.patch
  nix/patches/krb5-ld-library-path.patch
  nix/redpanda.nix
Labels: none

bazel/patches: add macOS compatibility patches for liburing and zlib
  bazel/patches/BUILD
  bazel/patches/liburing_macos_build_fix.patch
  bazel/patches/liburing_macos_echo_fix.patch
  bazel/patches/zlib_static_darwin.patch
Labels: none

bazel/thirdparty: fix foreign_cc targets for macOS→Linux cross-compilation
  bazel/pbgen/pbgen.bzl
  bazel/thirdparty/base64.BUILD
  bazel/thirdparty/c-ares.BUILD
  bazel/thirdparty/hwloc.BUILD
  bazel/thirdparty/libxml2.BUILD
  bazel/thirdparty/openssl.BUILD
  bazel/thirdparty/ragel.BUILD
Labels: none

bazel: add hermetic LLVM 20 toolchain for macOS→Linux cross-compilation
  MODULE.bazel
  MODULE.bazel.lock
  bazel/toolchain/README.md
  bazel/toolchain/build-macos-toolchain.sh
  bazel/toolchain/setup-macos-toolchain.sh
Labels: none

bazel: add macOS→Linux cross-compilation build configs and CI
  .bazelrc
  .github/workflows/build-macos.yml
Labels: area/build

bazel/platforms: add macOS exec and Linux target platform definitions
  bazel/platforms/BUILD
Labels: none

docs: add macOS cross-compilation guide, tools, and README update
  README.md
  docs/BUILDING_ON_MACOS.md
  tools/macos/Brewfile
  tools/macos/README.md
  tools/macos/docker-build.sh
Labels: area/docs

bazel/thirdparty/krb5: fix build for macOS→Linux cross-compilation
  bazel/repositories.bzl
  bazel/thirdparty/0002-autoconf-2.72-compat.patch
  bazel/thirdparty/krb5.BUILD
Labels: none

cluster: make leader balancer idle wake-up event-driven
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/cluster/scheduling/leader_balancer.h
  src/v/config/configuration.cc
Labels: area/redpanda

nix: fix output_base lock permissions for concurrent builds
  nix/redpanda.nix
Labels: none

tests: add test for leader balancer idle state
  tests/rptest/tests/leadership_transfer_test.py
Labels: none

ct: inflight_write_token
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/types.h
Labels: area/redpanda

build: drop try-import .bazelrc.nix from .bazelrc
  .bazelrc
Labels: none

ct/fe: Add inflight tracking to write path
  src/v/cloud_topics/frontend/frontend.cc
  src/v/cloud_topics/frontend/tests/frontend_test.cc
Labels: area/redpanda

ct/l0/batcher: inflight write tracking
  src/v/cloud_topics/level_zero/batcher/BUILD
  src/v/cloud_topics/level_zero/batcher/batcher.cc
  src/v/cloud_topics/level_zero/batcher/batcher.h
  src/v/cloud_topics/level_zero/batcher/tests/batcher_test.cc
Labels: area/redpanda

ct/data_plane: inflight write tracking
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/data_plane_api.h
  src/v/cloud_topics/data_plane_impl.cc
  src/v/cloud_topics/frontend/tests/frontend_test.cc
Labels: area/redpanda

build/version: use fail() for missing Python interpreter
  src/v/version/expand_with_stamp_vars.bzl
Labels: area/redpanda

c/epoch_svc: forced epoch update
  src/v/cluster/cluster_epoch_service.cc
  src/v/cluster/cluster_epoch_service.h
  src/v/cluster/tests/epoch_service_test.cc
Labels: area/redpanda

ct/l0/stm: barrier epoch estimate
  src/v/cloud_topics/level_zero/stm/ctp_stm.cc
  src/v/cloud_topics/level_zero/stm/ctp_stm.h
  src/v/cloud_topics/level_zero/stm/ctp_stm_api.cc
  src/v/cloud_topics/level_zero/stm/ctp_stm_api.h
  src/v/cloud_topics/level_zero/stm/ctp_stm_state.cc
  src/v/cloud_topics/level_zero/stm/ctp_stm_state.h
  src/v/cloud_topics/level_zero/stm/tests/ctp_stm_state_test.cc
Labels: area/redpanda

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']
