Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

dl/tests: verify all partition states are returned for iceberg topic
  tests/rptest/tests/datalake/iceberg_translation_state_test.py
Labels: none

cloud_storage: fix clang-format in remote_partition_test
  src/v/cloud_storage/tests/remote_partition_test.cc
Labels: area/redpanda

cloud_storage/tests: fix v25.2.x compat in regression test
  src/v/cloud_storage/tests/remote_partition_test.cc
Labels: area/redpanda

Testing
  tests/rptest/tests/topic_creation_test.py
Labels: none

Testing
  tests/rptest/tests/topic_creation_test.py
Labels: none

kafka: permit tiered->cloud/tiered_cloud storage mode transitions
  src/v/kafka/server/handlers/alter_configs.cc
  src/v/kafka/server/handlers/configs/config_utils.h
  src/v/kafka/server/handlers/incremental_alter_configs.cc
  src/v/kafka/server/tests/config_utils_test.cc
Labels: area/redpanda

cluster/archival_metadata_stm: record TS->CT migration seal
  src/v/cluster/archival/archival_metadata_stm.cc
  src/v/cluster/archival/archival_metadata_stm.h
  src/v/cluster/archival/tests/archival_metadata_stm_test.cc
Labels: area/redpanda

cluster/archival_metadata_stm: keep constraining truncation while sealed
  src/v/cluster/archival/archival_metadata_stm.cc
  src/v/cluster/archival/tests/archival_metadata_stm_test.cc
Labels: area/redpanda

cloud_topics/stm: don't pin truncation on an idle ctp_stm; pre-install it
  src/v/cloud_topics/level_zero/stm/BUILD
  src/v/cloud_topics/level_zero/stm/ctp_stm_factory.cc
  src/v/cloud_topics/level_zero/stm/ctp_stm_state.cc
  src/v/cloud_topics/level_zero/stm/tests/ctp_stm_state_test.cc
Labels: area/redpanda

cluster/partition: record the migration seal on tiered->cloud transition
  src/v/cloud_topics/app.cc
  src/v/cloud_topics/tests/BUILD
  src/v/cloud_topics/tests/ts_import_boundary_test.cc
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
Labels: area/redpanda

rpk: add rpk generate skill command
  src/go/rpk/pkg/cli/generate/BUILD
  src/go/rpk/pkg/cli/generate/generate.go
  src/go/rpk/pkg/cli/generate/skill.go
  src/go/rpk/pkg/cli/generate/skill_test.go
  src/go/rpk/pkg/out/out.go
Labels: area/rpk

`storage`: avoid re-compressing unchanged batches during compaction
  src/v/compaction/types.cc
  src/v/compaction/types.h
  src/v/storage/compaction_reducers.cc
  src/v/storage/compaction_reducers.h
  src/v/storage/tests/BUILD
  src/v/storage/tests/segment_deduplication_test.cc
Labels: area/redpanda

`compaction`: avoid re-compressing unchanged batches in filter
  src/v/cloud_topics/level_one/compaction/filter.cc
  src/v/cloud_topics/level_one/compaction/filter.h
  src/v/compaction/filter.cc
  src/v/compaction/filter.h
  src/v/compaction/tests/BUILD
  src/v/compaction/tests/reducer_test.cc
  src/v/compaction/tests/simple_reducer.h
Labels: area/redpanda

`storage`: avoid re-compressing unchanged batches during compaction
  src/v/compaction/types.cc
  src/v/compaction/types.h
  src/v/storage/compaction_reducers.cc
  src/v/storage/compaction_reducers.h
  src/v/storage/tests/BUILD
  src/v/storage/tests/segment_deduplication_test.cc
Labels: area/redpanda

`compaction`: avoid re-compressing unchanged batches in filter
  src/v/cloud_topics/level_one/compaction/filter.cc
  src/v/cloud_topics/level_one/compaction/filter.h
  src/v/compaction/filter.cc
  src/v/compaction/filter.h
  src/v/compaction/tests/BUILD
  src/v/compaction/tests/reducer_test.cc
  src/v/compaction/tests/simple_reducer.h
Labels: area/redpanda

add more benches
  src/v/datalake/tests/record_multiplexer_bench.cc
Labels: area/redpanda

DO NOT MERGE: CORE-16410 hang instrumentation (for_nodes watchdog + SIGALRM pre-dump + gdb native C-frame dump)
  tests/docker/Dockerfile
  tests/rptest/__init__.py
  tests/rptest/_dbg_hang.py
Labels: none

rptest: make ABSClient.create_bucket idempotent
  tests/rptest/archival/abs_client.py
Labels: none

rptest: make ABSClient.create_bucket idempotent
  tests/rptest/archival/abs_client.py
Labels: none

cloud_io/cache: fix ENOENT race in put and invalidate cleanup
  src/v/cloud_io/cache_service.cc
  src/v/cloud_io/tests/cache_test.cc
Labels: area/redpanda

cloud_io/cache: fix ENOENT race in put and invalidate cleanup
  src/v/cloud_io/cache_service.cc
  src/v/cloud_io/tests/cache_test.cc
Labels: area/redpanda

cloud_io/cache: fix ENOENT race in put and invalidate cleanup
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/tests/cache_test.cc
Labels: area/redpanda

cloud_topics: cache last footer on the L1 reader
  src/v/cloud_topics/level_one/frontend_reader/level_one_reader.cc
  src/v/cloud_topics/level_one/frontend_reader/level_one_reader.h
  src/v/cloud_topics/level_one/frontend_reader/level_one_reader_probe.cc
  src/v/cloud_topics/level_one/frontend_reader/level_one_reader_probe.h
Labels: area/redpanda

cloud_topics: add file_io_probe with L1 dedup counters
  src/v/cloud_topics/app.cc
  src/v/cloud_topics/app.h
  src/v/cloud_topics/level_one/common/BUILD
  src/v/cloud_topics/level_one/common/file_io.cc
  src/v/cloud_topics/level_one/common/file_io.h
  src/v/cloud_topics/level_one/common/file_io_probe.cc
  src/v/cloud_topics/level_one/common/file_io_probe.h
  src/v/cloud_topics/state_accessors.h
Labels: area/redpanda

cloud_topics: add file_io tests for L1 read merging
  src/v/cloud_topics/level_one/common/file_io.h
  src/v/cloud_topics/level_one/common/tests/BUILD
  src/v/cloud_topics/level_one/common/tests/file_io_test.cc
Labels: area/redpanda

cloud_topics: per-shard in-flight L1 cache dedup
  src/v/cloud_topics/level_one/common/BUILD
  src/v/cloud_topics/level_one/common/file_io.cc
  src/v/cloud_topics/level_one/common/file_io.h
  src/v/cloud_topics/read_replica/snapshot_manager.cc
Labels: area/redpanda

rpk: bound skill download and unpack memory
  src/go/rpk/pkg/cli/generate/skill.go
  src/go/rpk/pkg/cli/generate/skill_test.go
Labels: area/rpk

cluster: synthesize removed_at for deleted NTPs on bootstrap
  src/v/cluster/controller_backend.cc
Labels: area/redpanda

cluster: synthesize removed_at for deleted NTPs on bootstrap
  src/v/cluster/controller_backend.cc
Labels: area/redpanda

cluster: synthesize removed_at for deleted NTPs on bootstrap
  src/v/cluster/controller_backend.cc
Labels: area/redpanda

rpk: add high disk usage report on 'cluster health'
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cluster/health.go
Labels: area/rpk

ct/scale: Capture CT read-path debug logs in MPT verify-consume
  tests/rptest/scale_tests/many_partitions_test.py
Labels: none

ct/scale: Raise kafka/rpc loggers in MPT verify-consume
  tests/rptest/scale_tests/many_partitions_test.py
Labels: none

ct/l1: Retry thrown metastore errors in retry_metastore_op
  src/v/cloud_topics/level_one/metastore/BUILD
  src/v/cloud_topics/level_one/metastore/retry.h
  src/v/cloud_topics/level_one/metastore/tests/BUILD
  src/v/cloud_topics/level_one/metastore/tests/retry_test.cc
Labels: area/redpanda

ct/l1: Recover L1 reader from a dropped cached connection
  src/v/cloud_topics/level_one/common/fake_io.cc
  src/v/cloud_topics/level_one/common/fake_io.h
  src/v/cloud_topics/level_one/frontend_reader/level_one_reader.cc
  src/v/cloud_topics/level_one/frontend_reader/tests/l1_reader_cache_test.cc
Labels: area/redpanda

ct/l1: Record read-path stage on L1 reader exception
  src/v/cloud_topics/level_one/frontend_reader/level_one_reader.cc
  src/v/cloud_topics/level_one/frontend_reader/level_one_reader.h
Labels: area/redpanda

ct/l1: Time L1 metastore read-path latency
  src/v/cloud_topics/level_one/domain/db_domain_manager.cc
  src/v/cloud_topics/level_one/metastore/leader_router.cc
Labels: area/redpanda

kafka/data: add composite migrated_partition proxy for TS->CT reads
  src/v/kafka/data/BUILD
  src/v/kafka/data/migrated_partition.cc
  src/v/kafka/data/migrated_partition.h
  src/v/kafka/data/partition_proxy.cc
  src/v/kafka/data/tests/BUILD
  src/v/kafka/data/tests/migrated_partition_test.cc
Labels: area/redpanda

cluster: complete TS->CT migration once pre-migration data is GC'd
  src/v/cloud_topics/tests/ts_import_boundary_test.cc
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
Labels: area/redpanda

cluster/archival: keep archiver for GC but suppress uploads while sealed
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/partition.cc
Labels: area/redpanda

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']
