Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

ct/l0/stm: Cache last_epoch_log_offset in ctp_stm
  src/v/cloud_topics/level_zero/stm/ctp_stm.cc
  src/v/cloud_topics/level_zero/stm/ctp_stm_state.h
Labels: area/redpanda

ct/l0/gc: Hoist epoch_source into a separate module
  src/v/cloud_topics/level_zero/gc/BUILD
  src/v/cloud_topics/level_zero/gc/epoch_source.cc
  src/v/cloud_topics/level_zero/gc/epoch_source.h
  src/v/cloud_topics/level_zero/gc/level_zero_gc.cc
  src/v/cloud_topics/level_zero/gc/level_zero_gc.h
Labels: area/redpanda

ct/l0/gc: Epoch barrier RPC service & associated types
  src/v/cloud_topics/level_zero/gc/BUILD
  src/v/cloud_topics/level_zero/gc/rpc.json
  src/v/cloud_topics/level_zero/gc/rpc_types.h
  src/v/cloud_topics/level_zero/gc/service.cc
  src/v/cloud_topics/level_zero/gc/service.h
  src/v/redpanda/BUILD
  src/v/redpanda/application_rpc.cc
Labels: area/redpanda

nix: replace patch files with inline sed and user.bazelrc settings
  nix/patches/bazelrc-nix.patch
  nix/patches/expand-stamp-shell-env.patch
  nix/patches/pbgen-shell-env.patch
  nix/redpanda.nix
Labels: none

rptest/datalake/verifier: skip assertions in stop() on wait() failure
  tests/rptest/tests/datalake/datalake_verifier.py
Labels: none

tests: Update greedy leader balancer unit tests
  src/v/cluster/tests/leader_balancer_greedy_test.cc
Labels: area/redpanda

cluster: Don't count internal topics in greedy leader balancer
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/cluster/scheduling/leader_balancer_greedy.cc
  src/v/cluster/scheduling/leader_balancer_greedy.h
Labels: area/redpanda

cluster: Improve greedy leader balancer
  src/v/cluster/scheduling/leader_balancer_greedy.cc
Labels: area/redpanda

tests: Add greedy balancer 4 shard tests
  tests/rptest/tests/leadership_transfer_test.py
Labels: none

nix: clarify use_default_shell_env comment after testing
  nix/redpanda.nix
Labels: none

rptest: fix cross-region bucket specification
  tests/rptest/tests/read_replica_e2e_test.py
Labels: none

ct/l0/gc/probe: Add list_requests_total
  src/v/cloud_topics/level_zero/gc/level_zero_gc.cc
  src/v/cloud_topics/level_zero/gc/level_zero_gc_probe.cc
  src/v/cloud_topics/level_zero/gc/level_zero_gc_probe.h
Labels: area/redpanda

ct/l1: reduce noise from topic purger retries
  src/v/cloud_topics/level_one/metastore/BUILD
  src/v/cloud_topics/level_one/metastore/replicated_metastore.cc
  src/v/cloud_topics/level_one/metastore/topic_purger.cc
Labels: area/redpanda

rpk/cloud/auth: add 'token' subcommand
  src/go/rpk/pkg/cli/cloud/auth/BUILD
  src/go/rpk/pkg/cli/cloud/auth/auth.go
  src/go/rpk/pkg/cli/cloud/auth/token.go
Labels: area/rpk

cloud_topics/gc: sleep precisely when no GC progress is possible
  src/v/cloud_topics/level_zero/gc/level_zero_gc.cc
  src/v/cloud_topics/level_zero/gc/level_zero_gc.h
  src/v/cloud_topics/level_zero/gc/tests/level_zero_gc_tests.cc
Labels: area/redpanda

cloud_storage_clients: remove TLS builder from client config
  src/v/cloud_storage_clients/configuration.cc
  src/v/cloud_storage_clients/configuration.h
Labels: area/redpanda

Remove `rpk security group` commands
  .gitignore
  src/go/rpk/pkg/cli/security/BUILD
  src/go/rpk/pkg/cli/security/group/BUILD
  src/go/rpk/pkg/cli/security/group/assign.go
  src/go/rpk/pkg/cli/security/group/describe.go
  src/go/rpk/pkg/cli/security/group/group.go
  src/go/rpk/pkg/cli/security/group/group_test.go
  src/go/rpk/pkg/cli/security/group/list.go
  src/go/rpk/pkg/cli/security/group/unassign.go
  src/go/rpk/pkg/cli/security/security.go
Labels: area/rpk

net: add ENODATA to is_reconnect_error
  src/v/net/connection.cc
  src/v/net/tests/BUILD
  src/v/net/tests/reconnect_error_test.cc
Labels: area/redpanda

property fail
  src/v/cloud_io/io_resources.h
  src/v/cluster/config_manager.cc
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/metrics_reporter.h
  src/v/config/BUILD
  src/v/config/base_property.h
  src/v/config/bounded_property.h
  src/v/config/config_store.h
  src/v/config/configuration.cc
  src/v/config/node_config.cc
  src/v/config/node_config.h
  src/v/config/property.h
  src/v/config/sasl_mechanisms.cc
  src/v/config/tests/bounded_property_test.cc
  src/v/config/tests/config_store_test.cc
  src/v/config/tests/enterprise_property_test.cc
  src/v/config/tests/enum_property_test.cc
  src/v/config/tests/retention_property_test.cc
  src/v/config/tests/throughput_control_group_test.cc
  src/v/datalake/record_translator.cc
  src/v/features/tests/enterprise_features_test.cc
  src/v/json/BUILD
  src/v/kafka/client/BUILD
  src/v/kafka/client/configuration.cc
  src/v/kafka/client/configuration.h
  src/v/pandaproxy/rest/configuration.cc
  src/v/pandaproxy/schema_registry/configuration.cc
  src/v/pandaproxy/server.h
  src/v/raft/recovery_memory_quota.cc
  src/v/redpanda/admin/server.cc
  src/v/security/oidc_service.h
Labels: area/redpanda

ct: Fix ctp_stm test
  src/v/cloud_topics/level_zero/stm/tests/ctp_stm_test.cc
Labels: area/redpanda

rpk benchmark: add explicit produce mode
  src/go/rpk/pkg/cli/benchmark/benchmark.go
Labels: area/rpk

pre-commit: Add golangci-lint check
  .pre-commit-config.yaml
Labels: none

rpk benchmark: add fetch mode
  src/go/rpk/pkg/cli/benchmark/BUILD
  src/go/rpk/pkg/cli/benchmark/benchmark.go
  src/go/rpk/pkg/cli/benchmark/fetch.go
  tests/rptest/perf/rpk_benchmark_test.py
  tests/rptest/services/rpk_benchmark_service.py
  tests/rptest/tests/rpk_benchmark_service_test.py
Labels: area/rpk

rpk benchmark: refactor produce mode wiring
  src/go/rpk/pkg/cli/benchmark/BUILD
  src/go/rpk/pkg/cli/benchmark/benchmark.go
  src/go/rpk/pkg/cli/benchmark/produce.go
  tests/rptest/perf/rpk_benchmark_test.py
  tests/rptest/services/rpk_benchmark_service.py
  tests/rptest/tests/rpk_benchmark_service_test.py
Labels: area/rpk

k/fetch: Add fetch_response_dropped_bytes metric
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/kafka_probe.h
Labels: area/redpanda

rptest: fix cross-region read replica test for AWS/CDT
  tests/rptest/tests/read_replica_e2e_test.py
Labels: none

rptest: refactor SISettings.load_context bypass
  tests/rptest/services/redpanda.py
Labels: none

ct/l1/tests: hook validate_metastore into end-of-test checks
  tests/rptest/services/cluster.py
Labels: none

ct/l1/metastore: add get_all_terms() to state_reader
  src/v/cloud_topics/level_one/metastore/lsm/state_reader.cc
  src/v/cloud_topics/level_one/metastore/lsm/state_reader.h
  src/v/cloud_topics/level_one/metastore/lsm/tests/state_reader_test.cc
Labels: area/redpanda

ct/l1/tests: add validate_metastore() to RedpandaService
  tests/rptest/clients/admin/proto/redpanda/core/admin/internal/cloud_topics/v1/metastore_pb2.py
  tests/rptest/clients/admin/proto/redpanda/core/admin/internal/cloud_topics/v1/metastore_pb2.pyi
  tests/rptest/clients/admin/proto/redpanda/core/admin/internal/cloud_topics/v1/metastore_pb2_connect.py
  tests/rptest/services/redpanda.py
Labels: none

ct/l1/admin: wire ValidatePartition and ListCloudTopics RPC handlers
  src/v/redpanda/admin/services/internal/BUILD
  src/v/redpanda/admin/services/internal/metastore.cc
  src/v/redpanda/admin/services/internal/metastore.h
  src/v/redpanda/application_admin.cc
Labels: area/redpanda

ct/l1/domain: add validate_partition to domain_manager
  src/v/cloud_topics/level_one/domain/BUILD
  src/v/cloud_topics/level_one/domain/db_domain_manager.cc
  src/v/cloud_topics/level_one/domain/db_domain_manager.h
  src/v/cloud_topics/level_one/domain/domain_manager.h
  src/v/cloud_topics/level_one/domain/simple_domain_manager.cc
  src/v/cloud_topics/level_one/domain/simple_domain_manager.h
Labels: area/redpanda

ct/l1/metastore: add ValidatePartition and ListCloudTopics proto schema
  proto/redpanda/core/admin/internal/cloud_topics/v1/metastore.proto
Labels: none

ct/l1/metastore: add partition_validator
  src/v/cloud_topics/level_one/metastore/BUILD
  src/v/cloud_topics/level_one/metastore/partition_validator.cc
  src/v/cloud_topics/level_one/metastore/partition_validator.h
  src/v/cloud_topics/level_one/metastore/tests/BUILD
  src/v/cloud_topics/level_one/metastore/tests/partition_validator_test.cc
Labels: area/redpanda

ct/l1/tests: add validator integration test
  tests/rptest/tests/cloud_topics/debug_rows_test.py
Labels: none

[UX-984] Forward group principals to the dataplane
  src/go/rpk/pkg/cli/security/role/BUILD
  src/go/rpk/pkg/cli/security/role/assign.go
  src/go/rpk/pkg/cli/security/role/role.go
  src/go/rpk/pkg/cli/security/role/role_test.go
  src/go/rpk/pkg/cli/security/role/unassign.go
Labels: area/rpk

ct/l1: fix prefix truncation race in partition_validator
  src/v/cloud_topics/level_one/metastore/partition_validator.cc
  src/v/cloud_topics/level_one/metastore/tests/partition_validator_test.cc
Labels: area/redpanda

dt/ct/l0_gc: Consolidate remaining tests
  tests/rptest/tests/cloud_topics/l0_gc_test.py
Labels: none

dt/ct/l0_gc: Nuke some existing tests
  tests/rptest/tests/cloud_topics/l0_gc_test.py
Labels: none

dt/ct/l0_gc: Wrap kgo producer/consumers in try/finally
  tests/rptest/tests/cloud_topics/l0_gc_test.py
Labels: none
