Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

`kafka`: yield while building `list-all-topics` response
  src/v/kafka/server/handlers/metadata.cc
Labels: area/redpanda

`security`: add `authorizer` benchmark
  src/v/security/tests/BUILD
  src/v/security/tests/authorizer_bench.cc
Labels: area/redpanda

`security`: add probe type for heterogeneous ACL lookups
  src/v/security/acl.cc
  src/v/security/acl_store.h
Labels: area/redpanda

`security`: scan small prefix ranges, enumerate large ones
  src/v/security/acl.cc
  src/v/security/tests/authorizer_test.cc
Labels: area/redpanda

ct/l1: decouple reader IO from client connection abort
  src/v/cloud_topics/level_one/frontend_reader/level_one_reader.cc
  src/v/cloud_topics/level_one/frontend_reader/level_one_reader.h
  src/v/cloud_topics/level_one/frontend_reader/tests/l1_reader_cache_test.cc
Labels: area/redpanda

ct/l1: instrument reader-cache miss reasons
  src/v/cloud_topics/level_one/frontend_reader/l1_reader_cache.cc
  src/v/cloud_topics/level_one/frontend_reader/l1_reader_cache.h
  tests/rptest/scale_tests/many_partitions_test.py
Labels: area/redpanda

ct/l1: fix reader-cache miss-reason metric name collision
  src/v/cloud_topics/level_one/frontend_reader/l1_reader_cache.cc
  src/v/cloud_topics/level_one/frontend_reader/l1_reader_cache.h
  tests/rptest/scale_tests/many_partitions_test.py
Labels: area/redpanda

cluster_link/replication: don't floor prefix truncation at resume offset
  src/v/cluster_link/replication/partition_replicator.cc
  src/v/cluster_link/replication/partition_replicator.h
  src/v/cluster_link/replication/tests/partition_replicator_tests.cc
Labels: area/redpanda

raft: snapshot replica set into inline storage in replicate_entries_stm
  src/v/raft/replicate_entries_stm.cc
Labels: area/redpanda

cluster: merge do_idempotent_replicate into idempotent_replicate
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
Labels: area/redpanda

cluster: inline idempotent dispatch into rm_stm::do_replicate
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
Labels: area/redpanda

raft: move batches into leader self-append when there are no followers
  src/v/raft/replicate_entries_stm.cc
  src/v/raft/replicate_entries_stm.h
Labels: area/redpanda

raft: reuse the first item's batch vector when flushing the batcher
  src/v/raft/replicate_batcher.cc
Labels: area/redpanda

storage: avoid coroutine frame in segment::append fast path
  src/v/storage/segment.cc
  src/v/storage/segment.h
Labels: area/redpanda

kafka: template iterate_over_records to drop the noncopyable_function
  src/v/kafka/server/handlers/produce_validation.cc
Labels: area/redpanda

storage: skip when_all in do_append when there is no compaction index
  src/v/storage/segment.cc
Labels: area/redpanda

cluster: keep rm_stm staging enqueued promise off the heap
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
Labels: area/redpanda

cluster: avoid stages_with_units coroutine frame in replicate fast path
  src/v/cluster/partition.cc
Labels: area/redpanda

raft: hold the replicate gate once instead of per stage
  src/v/raft/consensus.cc
Labels: area/redpanda

raft: avoid coroutine frame in replicate_batcher caching fast path
  src/v/raft/replicate_batcher.cc
  src/v/raft/replicate_batcher.h
Labels: area/redpanda

ct: expose reconciliation + batch-cache progress as public metrics
  src/v/cloud_topics/batch_cache/BUILD
  src/v/cloud_topics/batch_cache/probe.cc
  src/v/cloud_topics/batch_cache/probe.h
  src/v/cloud_topics/reconciler/reconciler_probe.cc
  src/v/cloud_topics/reconciler/reconciler_probe.h
  tests/rptest/scale_tests/many_partitions_test.py
Labels: area/redpanda

rpk: add root '--print-tree' flag
  src/go/rpk/pkg/cli/BUILD
  src/go/rpk/pkg/cli/printtree.go
  src/go/rpk/pkg/cli/printtree_test.go
  src/go/rpk/pkg/cli/root.go
Labels: area/rpk

ct/reconciler: don't skip a source when the LSO is unavailable
  src/v/cloud_topics/reconciler/reconciliation_source.cc
Labels: area/redpanda

ct/reconciler: expose LSO-HWM gap + unavailable-LSO count
  src/v/cloud_topics/reconciler/reconciler.cc
  src/v/cloud_topics/reconciler/reconciler_probe.cc
  src/v/cloud_topics/reconciler/reconciler_probe.h
  src/v/cloud_topics/reconciler/reconciliation_source.cc
  src/v/cloud_topics/reconciler/reconciliation_source.h
  tests/rptest/scale_tests/many_partitions_test.py
Labels: area/redpanda

build/deps: upgrade openssl to 3.5.7
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

rpk: report active mode when 'redpanda mode' runs without an argument
  src/go/rpk/pkg/cli/redpanda/mode.go
  src/go/rpk/pkg/cli/redpanda/mode_test.go
  src/go/rpk/pkg/config/config.go
  src/go/rpk/pkg/config/config_test.go
Labels: area/rpk

rpk: add --watch flag to 'rpk cluster self-test start'
  src/go/rpk/pkg/cli/cluster/selftest/selftest_test.go
  src/go/rpk/pkg/cli/cluster/selftest/start.go
Labels: area/rpk

cloud_topics: instrument no-object EOS and reconciler corrections
  src/v/cloud_topics/level_one/frontend_reader/l1_reader_cache.cc
  src/v/cloud_topics/level_one/frontend_reader/l1_reader_cache.h
  src/v/cloud_topics/level_one/frontend_reader/level_one_reader.cc
  src/v/cloud_topics/level_one/frontend_reader/level_one_reader.h
  src/v/cloud_topics/reconciler/reconciler_probe.cc
  tests/rptest/scale_tests/many_partitions_test.py
Labels: area/redpanda

cloud_topics: instrument the reconciliation gap (read + metastore)
  src/v/cloud_topics/level_one/frontend_reader/l1_reader_cache.cc
  src/v/cloud_topics/level_one/frontend_reader/l1_reader_cache.h
  src/v/cloud_topics/level_one/frontend_reader/level_one_reader.cc
  src/v/cloud_topics/level_one/frontend_reader/level_one_reader.h
  src/v/cloud_topics/level_one/metastore/lsm/replicated_db.cc
  src/v/cloud_topics/level_one/metastore/lsm/stm.cc
  tests/rptest/scale_tests/many_partitions_test.py
Labels: area/redpanda

ct/scale: bump fetch_max_read_concurrency in MPT cloud_topics
  tests/rptest/scale_tests/many_partitions_test.py
Labels: none

Update src/go/rpk/pkg/cli/redpanda/mode.go
  src/go/rpk/pkg/cli/redpanda/mode.go
Labels: area/rpk

cloud_topics: add per-phase L1 read timing metrics
  src/v/cloud_topics/level_one/frontend_reader/level_one_reader.cc
  src/v/cloud_topics/level_one/frontend_reader/level_one_reader_probe.cc
  src/v/cloud_topics/level_one/frontend_reader/level_one_reader_probe.h
Labels: area/redpanda

ct/scale: sample per-phase L1 read timing in MPT
  tests/rptest/scale_tests/many_partitions_test.py
Labels: none

ct/scale: bump fetch_max_read_concurrency in MPT cloud_topics
  tests/rptest/scale_tests/many_partitions_test.py
Labels: none

ct/scale: move L1 phase sampler to the hung consume
  tests/rptest/scale_tests/many_partitions_test.py
Labels: none

ct/scale: parametrize MPT cloud_topics over fetch_max_read_concurrency
  tests/rptest/scale_tests/many_partitions_test.py
Labels: none

ct/scale: crank the cloud cache in MPT cloud_topics
  tests/rptest/scale_tests/many_partitions_test.py
Labels: none

ct/scale: crank the L1 reader cache in MPT cloud_topics
  tests/rptest/scale_tests/many_partitions_test.py
Labels: none

cloud_topics: expose L1 reader-cache and file_io metrics publicly
  src/v/cloud_topics/level_one/common/file_io_probe.cc
  src/v/cloud_topics/level_one/common/file_io_probe.h
  src/v/cloud_topics/level_one/frontend_reader/BUILD
  src/v/cloud_topics/level_one/frontend_reader/l1_reader_cache.cc
  src/v/cloud_topics/level_one/frontend_reader/l1_reader_cache.h
  src/v/cloud_topics/level_one/frontend_reader/tests/l1_reader_cache_test.cc
Labels: area/redpanda

ct/scale: sample L1 reader-cache + file_io metrics in MPT
  tests/rptest/scale_tests/many_partitions_test.py
Labels: none

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']
