Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

s/log: offset_range_size reports whether bounds fall w/in a batch
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/log.h
Labels: area/redpanda

s/log: base_offset_lower_bound
  src/v/raft/tests/failure_injectable_log.cc
  src/v/raft/tests/failure_injectable_log.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/log.h
Labels: area/redpanda

c/a/upload: Introduce v2 segment_collector_modes
  src/v/cluster/archival/segment_reupload.cc
  src/v/cluster/archival/segment_reupload.h
Labels: area/redpanda

c/a/upload: Add timestamps to reconciliation_result
  src/v/cluster/archival/async_data_uploader.h
Labels: area/redpanda

c/a/upload: async_data_uploder reports error in offsets in batch
  src/v/cluster/archival/async_data_uploader.cc
  src/v/cluster/archival/types.h
Labels: area/redpanda

add skip check to upload stream
  src/v/cluster/archival/segment_reupload.cc
Labels: area/redpanda

c/a/segment_collector: Stream operator for segment_collector_mode
  src/v/cluster/archival/segment_reupload.cc
  src/v/cluster/archival/segment_reupload.h
Labels: area/redpanda

c/a/upload: In skip_offset_range s/begin_offset/start_offset
  src/v/cluster/archival/segment_reupload.cc
  src/v/cluster/archival/segment_reupload.h
  src/v/cluster/archival/tests/segment_reupload_fixture_test.cc
Labels: area/redpanda

s/log: Stop size-based offset range size calculation if reached target
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda

c/a/upload: Add destructive segment_upload::get_meta
  src/v/cluster/archival/async_data_uploader.h
Labels: area/redpanda

c/a/upload: Fail gracefully if requested range exceeds partition::lso
  src/v/cluster/archival/async_data_uploader.cc
Labels: area/redpanda

c/a/upload: segment_collector::make_segment_upload_candidate
  src/v/cluster/archival/segment_reupload.cc
  src/v/cluster/archival/segment_reupload.h
Labels: area/redpanda

c/a/upload: Improve candidate_upload formatter
  src/v/cluster/archival/segment_reupload.cc
Labels: area/redpanda

c/a/upload: collect_segments returns bool
  src/v/cluster/archival/archival_policy.cc
  src/v/cluster/archival/segment_reupload.cc
  src/v/cluster/archival/segment_reupload.h
  src/v/cluster/archival/tests/segment_reupload_fixture_test.cc
Labels: area/redpanda

c/a/uplaod: vlog cleanup
  src/v/cluster/archival/segment_reupload.cc
Labels: area/redpanda

c/a/upload: Add v2 collection routines
  src/v/cluster/archival/segment_reupload.cc
  src/v/cluster/archival/segment_reupload.h
Labels: area/redpanda

c/a/policy: Reset upload timer only on success
  src/v/cluster/archival/archival_policy.cc
Labels: area/redpanda

c/a/upload: upload_size_jitter to compute upload target size
  src/v/cluster/archival/segment_reupload.cc
Labels: area/redpanda

config: Introduce cloud_storage_segment_upload_mode
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/convert.h
  src/v/config/property.h
  src/v/config/rjson_serialization.cc
  src/v/config/rjson_serialization.h
  src/v/model/metadata.h
Labels: area/redpanda

c/a/upload: Accept v2 modes in segment_collector
  src/v/cluster/archival/segment_reupload.cc
  src/v/cluster/archival/tests/segment_reupload_fixture_test.cc
Labels: area/redpanda

debug/bundle: forward kubernetes env vars to rpk
  src/v/debug_bundle/debug_bundle_service.cc
  src/v/debug_bundle/debug_bundle_service.h
  src/v/redpanda/admin/debug_bundle.cc
  tests/rptest/tests/debug_bundle_test.py
Labels: area/redpanda

.gitignore: ignore bazel_cc_flags.json file
  .gitignore
Labels: none

spawn_with_gate_and_monitor
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
Labels: area/redpanda

net/dns: reduce dns lookup time to 4s
  src/v/http/client.cc
  src/v/net/dns.cc
  src/v/net/dns.h
Labels: area/redpanda

maybe fix
  src/v/raft/buffered_protocol.cc
Labels: area/redpanda

raft/heartbeat_manager: timeout memory leak fix
  src/v/raft/heartbeat_manager.cc
  src/v/raft/heartbeat_manager.h
Labels: area/redpanda

raft/heartbeat_manager: timeout memory leak fix
  src/v/raft/heartbeat_manager.cc
  src/v/raft/heartbeat_manager.h
Labels: area/redpanda

raft/heartbeat_manager: timeout memory leak fix
  src/v/raft/heartbeat_manager.cc
  src/v/raft/heartbeat_manager.h
Labels: area/redpanda

c/cloudchecks: increase default timeout to 10s
  src/go/rpk/pkg/cli/cluster/selftest/start.go
  src/v/cluster/self_test_rpc_types.h
  tests/rptest/tests/self_test_test.py
Labels: area/rpk, area/redpanda

c/cloudchecks: increase default timeout to 10s
  src/go/rpk/pkg/cli/cluster/selftest/start.go
  src/v/cluster/self_test_rpc_types.h
  tests/rptest/tests/self_test_test.py
Labels: area/rpk, area/redpanda

csc: Improve lease timeout logs in client_pool
  src/v/cloud_storage_clients/client_pool.cc
Labels: area/redpanda

cs: Use configurable timeouts for downloads in remote seg/part
  src/v/cloud_storage/cache_service.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_segment.cc
  src/v/config/configuration.cc
Labels: area/redpanda

csc: Improve lease timeout logs in client_pool
  src/v/cloud_storage_clients/client_pool.cc
Labels: area/redpanda

cs: Use configurable timeouts for downloads in remote seg/part
  src/v/cloud_storage/cache_service.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_segment.cc
  src/v/config/configuration.cc
Labels: area/redpanda

cluster/security_frontend: Minor bug fix
  src/v/cluster/security_frontend.cc
Labels: area/redpanda

cluster/security_frontend: Minor bug fix
  src/v/cluster/security_frontend.cc
Labels: area/redpanda

cluster/security_frontend: Minor bug fix
  src/v/cluster/security_frontend.cc
Labels: area/redpanda

bazel: update to libxml2 v2.14.4
  bazel/repositories.bzl
Labels: none

cloud_metadata: add group offsets upload fallback
  src/v/cluster/cloud_metadata/uploader.cc
Labels: area/redpanda

dt/wcr: add e2e test for offset upload failures
  tests/rptest/tests/consumer_group_recovery_test.py
Labels: none
