Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

rpk/debug: scaffold cloud-topics metastore command tree
  src/go/rpk/pkg/cli/debug/BUILD
  src/go/rpk/pkg/cli/debug/cloudtopics/BUILD
  src/go/rpk/pkg/cli/debug/cloudtopics/cloudtopics.go
  src/go/rpk/pkg/cli/debug/cloudtopics/metastore/BUILD
  src/go/rpk/pkg/cli/debug/cloudtopics/metastore/metastore.go
Labels: area/rpk

rpk/debug/cloudtopics/metastore: parse --partition/--level flags
  src/go/rpk/pkg/cli/debug/cloudtopics/metastore/BUILD
  src/go/rpk/pkg/cli/debug/cloudtopics/metastore/flags.go
  src/go/rpk/pkg/cli/debug/cloudtopics/metastore/flags_test.go
Labels: area/rpk

rpk/debug/cloudtopics/metastore: generate bindings for MetastoreService
  .github/workflows/rpk-build.yml
  buf.gen.metastore.yaml
  src/go/rpk/Makefile
  src/go/rpk/pkg/cli/debug/cloudtopics/metastore/internal/cloudtopicsv1/BUILD
  src/go/rpk/pkg/cli/debug/cloudtopics/metastore/internal/cloudtopicsv1/cloudtopicsv1connect/BUILD
  src/go/rpk/pkg/cli/debug/cloudtopics/metastore/internal/cloudtopicsv1/cloudtopicsv1connect/metastore.connect.go
  src/go/rpk/pkg/cli/debug/cloudtopics/metastore/internal/cloudtopicsv1/doc.go
  src/go/rpk/pkg/cli/debug/cloudtopics/metastore/internal/cloudtopicsv1/metastore.pb.go
Labels: area/build, area/rpk

rpk/debug/cloudtopics/metastore: add admin transport and stats broadcast
  src/go/rpk/pkg/cli/debug/cloudtopics/metastore/BUILD
  src/go/rpk/pkg/cli/debug/cloudtopics/metastore/transport.go
Labels: area/rpk

rpk/debug/cloudtopics/metastore: implement files subcommand
  src/go/rpk/pkg/cli/debug/cloudtopics/metastore/BUILD
  src/go/rpk/pkg/cli/debug/cloudtopics/metastore/files.go
  src/go/rpk/pkg/cli/debug/cloudtopics/metastore/files_test.go
  src/go/rpk/pkg/cli/debug/cloudtopics/metastore/metastore.go
Labels: area/rpk

rptest: add rpk cloud-topics metastore integration test
  tests/rptest/clients/rpk.py
  tests/rptest/tests/cloud_topics/rpk_metastore_test.py
Labels: none

rpk/debug/cloudtopics/metastore: implement layout subcommand
  src/go/rpk/pkg/cli/debug/cloudtopics/metastore/BUILD
  src/go/rpk/pkg/cli/debug/cloudtopics/metastore/layout.go
  src/go/rpk/pkg/cli/debug/cloudtopics/metastore/layout_test.go
  src/go/rpk/pkg/cli/debug/cloudtopics/metastore/metastore.go
Labels: area/rpk

cloud_io: prototype fd-reuse cache for hot cache files
  src/v/cloud_io/BUILD
  src/v/cloud_io/cache_service.cc
  src/v/cloud_io/cache_service.h
  src/v/cloud_io/tests/cache_test.cc
Labels: area/redpanda

kafka/group_manager: fix consumer group lag inflated by log truncation
  src/v/kafka/server/group_manager.cc
  tests/rptest/tests/consumer_group_test.py
Labels: area/redpanda

cluster/health: add log_start_offset to partition_status
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_types.cc
  src/v/cluster/health_monitor_types.h
  src/v/cluster/tests/serialization_rt_test.cc
Labels: area/redpanda

kafka: move kafka offset logic from replicated_partition to cluster
  src/v/cluster/BUILD
  src/v/cluster/partition_kafka_offsets.cc
  src/v/cluster/partition_kafka_offsets.h
  src/v/kafka/data/replicated_partition.cc
  src/v/kafka/data/replicated_partition.h
Labels: area/redpanda

kafka: add fetch_busy_latency_us metric
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/fetch.h
  src/v/kafka/server/kafka_probe.h
  src/v/kafka/server/request_context.h
Labels: area/redpanda

ci: upgrade actions/download-artifact to v8
  .github/workflows/transform-sdk-build.yml
Labels: area/build

ci: upgrade actions/labeler to v6
  .github/workflows/pr-labeler.yml
Labels: area/build

ci: upgrade docker/build-push-action to v7
  .github/workflows/type-check-python.yaml
Labels: area/build

ci: upgrade astral-sh/setup-uv to v8.2.0
  .github/workflows/check-ducktape-protos.yml
  .github/workflows/publish-apache-polaris-python-client.yml
Labels: area/build

ci: upgrade docker/setup-buildx-action to v4
  .github/workflows/type-check-python.yaml
Labels: area/build

ci: upgrade actions/github-script to v8
  .github/workflows/close-backport-issues.yml
  .github/workflows/transform-sdk-release.yml
Labels: area/build

ci: upgrade aws-actions/aws-secretsmanager-get-secrets to v3
  .github/workflows/backport-command.yml
  .github/workflows/backport-on-merge.yml
  .github/workflows/buf.yml
  .github/workflows/buildkite-slash-commands.yml
  .github/workflows/cloud-installpack-bk-trigger.yml
  .github/workflows/dispatch-docs-updates.yml
  .github/workflows/promote.yml
  .github/workflows/slash-commands.yml
  .github/workflows/transform-sdk-release.yml
  .github/workflows/trigger-snyk.yml
Labels: area/build

ci: upgrade actions/upload-artifact to v7
  .github/workflows/transform-sdk-build.yml
Labels: area/build

ci: upgrade actions/setup-python to v6
  .github/workflows/publish-apache-polaris-python-client.yml
  .github/workflows/render-pr-body-release-notes.yml
Labels: area/build

ci: upgrade golangci/golangci-lint-action to v9
  .github/workflows/lint-bazel-pkg-tool.yml
  .github/workflows/transform-sdk-build.yml
Labels: area/build

ci: upgrade actions/setup-go to v6
  .github/workflows/lint-bazel-pkg-tool.yml
  .github/workflows/rpk-build.yml
  .github/workflows/transform-sdk-build.yml
  .github/workflows/transform-sdk-release.yml
Labels: area/build

ci: upgrade bazel-contrib/setup-bazel to 0.19.0
  .github/workflows/check-ducktape-protos.yml
  .github/workflows/lint-bazel-dependency-graph.yml
  .github/workflows/lint-cpp.yml
Labels: area/build

ci: upgrade goreleaser/goreleaser-action to v7
  .github/workflows/lint-golang.yml
Labels: area/build

ci: upgrade actions/stale to v10
  .github/workflows/stale.yml
Labels: area/build

ci: upgrade astral-sh/ruff-action to v4.0.0
  .github/workflows/lint-python.yml
Labels: area/build

ci: upgrade actions/checkout to v6
  .github/workflows/check-ducktape-protos.yml
Labels: area/build

ci: upgrade actions/setup-node to v6
  .github/workflows/transform-sdk-build.yml
  .github/workflows/transform-sdk-release.yml
Labels: area/build

ci: upgrade aws-actions/configure-aws-credentials to v6
  .github/workflows/backport-command.yml
  .github/workflows/backport-on-merge.yml
  .github/workflows/buf.yml
  .github/workflows/buildkite-slash-commands.yml
  .github/workflows/cloud-installpack-bk-trigger.yml
  .github/workflows/dispatch-docs-updates.yml
  .github/workflows/promote.yml
  .github/workflows/release-rp-storage-tool.yml
  .github/workflows/slash-commands.yml
  .github/workflows/transform-sdk-release.yml
  .github/workflows/trigger-snyk.yml
Labels: area/build

ci: upgrade peter-evans/create-or-update-comment to v5
  .github/workflows/backport-command.yml
  .github/workflows/buildkite-slash-commands.yml
Labels: area/build

ci: upgrade peter-evans/repository-dispatch to v4
  .github/workflows/dispatch-docs-updates.yml
Labels: area/build

ci: replace archived actions-rs with dtolnay/rust-toolchain
  .github/workflows/rp-storage-tool-checks.yml
Labels: area/build

ci: upgrade peter-evans/slash-command-dispatch to v5
  .github/workflows/slash-commands.yml
Labels: area/build

transform: test reproducing stuck multi-output processor
  src/v/transform/tests/test_fixture.cc
  src/v/transform/tests/test_fixture.h
  src/v/transform/tests/transform_processor_test.cc
Labels: area/redpanda

`transform`: abort siblings when producer loop fails
  src/v/transform/BUILD
  src/v/transform/tests/test_fixture.cc
  src/v/transform/tests/test_fixture.h
  src/v/transform/tests/transform_processor_test.cc
  src/v/transform/transform_processor.cc
  src/v/transform/transform_processor.h
Labels: area/redpanda

`transform`: abort siblings when producer loop fails
  src/v/transform/BUILD
  src/v/transform/tests/test_fixture.cc
  src/v/transform/tests/test_fixture.h
  src/v/transform/tests/transform_processor_test.cc
  src/v/transform/transform_processor.cc
  src/v/transform/transform_processor.h
Labels: area/redpanda

transform: test reproducing stuck multi-output processor
  src/v/transform/tests/test_fixture.cc
  src/v/transform/tests/test_fixture.h
  src/v/transform/tests/transform_processor_test.cc
Labels: area/redpanda

cloud_io: gate the fd-reuse cache behind a config flag (default off)
  src/v/cloud_io/cache_service.cc
  src/v/cloud_io/tests/cache_test.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/utils/chunked_kv_cache.h
Labels: area/redpanda

cloud_io: scope fd-reuse to immutable-object reads via reuse_fd
  src/v/cloud_io/basic_cache_service_api.h
  src/v/cloud_io/cache_service.cc
  src/v/cloud_io/cache_service.h
  src/v/cloud_io/tests/cache_test.cc
  src/v/cloud_topics/level_one/common/file_io.cc
  src/v/cloud_topics/level_zero/reader/tests/mocks.h
Labels: area/redpanda
