Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

bytes: add comparison operator test to iobuf fuzz test
  src/v/bytes/tests/iobuf_fuzz.cc
Labels: area/redpanda

bytes: add small fragement append op to iobuf fuzz test
  src/v/bytes/tests/iobuf_fuzz.cc
Labels: area/redpanda

bazel: make UB errors fatal in fuzz tests
  bazel/test.bzl
Labels: none

bytes: modify libFuzzer parameters to iobuf fuzz test
  src/v/bytes/tests/BUILD
Labels: area/redpanda

config: refresh iceberg_enabled docstring
  src/v/config/configuration.cc
Labels: area/redpanda

storage: mark snapshot writer/reader closed regardless of close outcome
  src/v/storage/snapshot.cc
  src/v/storage/tests/BUILD
  src/v/storage/tests/snapshot_test.cc
Labels: area/redpanda

raft/tests: cover election timer refresh on rejected append entries
  src/v/raft/tests/basic_raft_fixture_test.cc
Labels: area/redpanda

raft: fix election timer starvation during stalled recovery
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/follower_states.cc
  src/v/raft/follower_states.h
  src/v/raft/heartbeat_manager.cc
  src/v/raft/tests/basic_raft_fixture_test.cc
Labels: area/redpanda

raft/tests: make service heartbeat timeout configurable
  src/v/raft/tests/raft_fixture_base.cc
  src/v/raft/tests/raft_fixture_base.h
Labels: area/redpanda

raft: learn follower term from fabricated busy heartbeat replies
  src/v/raft/consensus.cc
  src/v/raft/service.h
  src/v/raft/tests/basic_raft_fixture_test.cc
Labels: area/redpanda

rpk/connect: don't cap version segments at two digits in VersionFromString
  src/go/rpk/pkg/redpanda/version.go
  src/go/rpk/pkg/redpanda/version_test.go
Labels: area/rpk

rpk/redpanda: return an error instead of ignoring Atoi failures in VersionFromString
  src/go/rpk/pkg/redpanda/version.go
  src/go/rpk/pkg/redpanda/version_test.go
Labels: area/rpk

rpk/connect: don't cap version segments at two digits in VersionFromString
  src/go/rpk/pkg/redpanda/version.go
  src/go/rpk/pkg/redpanda/version_test.go
Labels: area/rpk

rpk/redpanda: return an error instead of ignoring Atoi failures in VersionFromString
  src/go/rpk/pkg/redpanda/version.go
  src/go/rpk/pkg/redpanda/version_test.go
Labels: area/rpk

config: add `cloud_storage_prefetch_segments_max` property
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

cloud_storage: add non-blocking try_get_segment_units method
  src/v/cloud_storage/materialized_resources.cc
  src/v/cloud_storage/materialized_resources.h
Labels: area/redpanda

rpk/connect: don't cap version segments at two digits in VersionFromString
  src/go/rpk/pkg/redpanda/version.go
  src/go/rpk/pkg/redpanda/version_test.go
Labels: area/rpk

rpk/redpanda: return an error instead of ignoring Atoi failures in VersionFromString
  src/go/rpk/pkg/redpanda/version.go
  src/go/rpk/pkg/redpanda/version_test.go
Labels: area/rpk

cloud_storage: fix race condition in index hydration fallback
  src/v/cloud_storage/remote_segment.cc
Labels: area/redpanda

cloud_storage: implement cross-segment prefetch for small segments
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/tests/BUILD
  src/v/cloud_storage/tests/remote_partition_test.cc
Labels: area/redpanda

kafka/server: cap fetch memory allocation at max message size limit
  src/v/kafka/server/fetch_memory_units.cc
  src/v/kafka/server/fetch_memory_units.h
  src/v/kafka/server/server.cc
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/fetch_memory_units_test.cc
Labels: area/redpanda

rpk: add load-factor dashboard to generate grafana-dashboard
  src/go/rpk/pkg/cli/generate/BUILD
  src/go/rpk/pkg/cli/generate/grafana-dashboards/Redpanda-Load-Factor-Dashboard.json.gz
  src/go/rpk/pkg/cli/generate/grafana.go
Labels: area/rpk

`cloud_storage`: stop hydrating segments a timequery cannot match
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/tests/timequery_cost_test.cc
Labels: area/redpanda

`storage`: bound uploaded segment timestamps by data batches only
  src/v/cluster/archival/adjacent_segment_run.cc
  src/v/storage/disk_log_impl.cc
  src/v/storage/offset_to_filepos.cc
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

`storage`: add local timequery cost benchmark
  src/v/storage/tests/BUILD
  src/v/storage/tests/timequery_bench.cc
Labels: area/redpanda

`storage`: stamp the right timestamp before the index monotonicity check
  src/v/storage/segment_index.cc
  src/v/storage/tests/timequery_test.cc
Labels: area/redpanda

`storage`: track max running timestamp in `index_state`
  src/v/storage/disk_log_impl.cc
  src/v/storage/index_state.cc
  src/v/storage/index_state.h
  src/v/storage/offset_to_filepos.cc
  src/v/storage/segment_index.h
  src/v/storage/tests/index_state_test.cc
  src/v/storage/tests/storage_e2e_test.cc
  src/v/storage/tests/timequery_bench.cc
  src/v/storage/tests/timequery_test.cc
Labels: area/redpanda

rpk: add load-factor dashboard to generate grafana-dashboard
  src/go/rpk/pkg/cli/generate/BUILD
  src/go/rpk/pkg/cli/generate/grafana-dashboards/Redpanda-Load-Factor-Dashboard.json.gz
  src/go/rpk/pkg/cli/generate/grafana.go
Labels: area/rpk

chore: bump franz-go to 1.21.6
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  tests/go/kgo-verifier/go.mod
  tests/go/kgo-verifier/go.sum
Labels: area/rpk

security: expose whether a request_auth_result was checked
  src/v/security/request_auth.h
Labels: area/redpanda

bazel/packaging: bake rpath at link time instead of patching
  bazel/packaging/BUILD
  bazel/packaging/packaging.bzl
  bazel/thirdparty/seastar.BUILD
  src/v/redpanda/BUILD
  src/v/rp_util/BUILD
Labels: area/redpanda

bazel/packaging: bake rpath into foreign_cc binaries too
  bazel/packaging/BUILD
  bazel/packaging/packaging.bzl
  bazel/thirdparty/hwloc.BUILD
  bazel/thirdparty/openssl.BUILD
Labels: none

k/s/tests: deflake fetch_memory_units cross-shard test
  src/v/kafka/server/tests/fetch_memory_units_test.cc
Labels: area/redpanda

kafka: create the consumer offsets topic as a local topic
  src/v/kafka/server/group_initializer.cc
Labels: area/redpanda

metrics: remove one-shot IMDS connect probe
  src/v/metrics/instance_type_detector.cc
Labels: area/redpanda

bazel: add a ci-remote-cache config to cut CI download volume
  .bazelrc
Labels: none

sr: enforce deferred authz after the handler completes
  src/v/pandaproxy/schema_registry/auth.cc
  src/v/pandaproxy/schema_registry/auth.h
  src/v/pandaproxy/schema_registry/authorization.cc
  src/v/pandaproxy/schema_registry/authorization.h
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/handlers.h
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/test/BUILD
  src/v/pandaproxy/schema_registry/test/deferred_auth.cc
Labels: area/redpanda

dt/sr: cover deferred authz failures before the check
  tests/rptest/tests/schema_registry_test.py
Labels: none

dt/sr: let the ACL authz test base size the cluster
  tests/rptest/tests/schema_registry_test.py
Labels: none

security: log instead of throwing when the auth result is unchecked
  src/v/security/request_auth.cc
  src/v/security/request_auth.h
  src/v/security/tests/BUILD
  src/v/security/tests/request_auth_test.cc
Labels: area/redpanda
