Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

rptest: Removing inapplicable fields in backport of RPKACLInput in rpk.py
  tests/rptest/clients/rpk.py
Labels: none

rptest: Extend controller snapshot recover test for roles
  tests/rptest/clients/rpk.py
  tests/rptest/tests/cluster_recovery_test.py
Labels: none

rptest: Fix timequery test
  tests/rptest/tests/timequery_test.py
Labels: none

rptest: Fix timequery test
  tests/rptest/tests/timequery_test.py
Labels: none

rptest: Fix timequery test
  tests/rptest/tests/timequery_test.py
Labels: none

rptest: Enable fast uploads in datalake test
  tests/rptest/tests/datalake/delayed_translation_test.py
Labels: none

kafka/server: add early response condtion to fetch handler
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/fetch.h
Labels: area/redpanda

rptest: add fetch test for early response condition
  tests/rptest/tests/fetch_test.py
Labels: none

rptest: add consumeRateAvg metric to OMB service
  tests/rptest/services/openmessaging_benchmark.py
  tests/rptest/services/openmessaging_benchmark_configs.py
Labels: none

http: add url_decode utility
  src/v/http/utils.cc
  src/v/http/utils.h
Labels: area/redpanda

cloud_storage: fix request signing with special chars
  src/v/cloud_roles/signature.cc
  src/v/cloud_storage_clients/s3_client.cc
Labels: area/redpanda

cloud_storage: fix request signing with special chars
  src/v/cloud_roles/signature.cc
  src/v/cloud_storage/tests/topic_recovery_service_test.cc
  src/v/cloud_storage_clients/abs_client.cc
  src/v/cloud_storage_clients/s3_client.cc
Labels: area/redpanda

Ensure endpoints have summaries and descriptions in OpenAPI
  proto/redpanda/core/admin/v2/broker.proto
  proto/redpanda/core/admin/v2/cluster.proto
  proto/redpanda/core/admin/v2/shadow_link.proto
Labels: none

Fix generated summary and description for ListBrokers
  proto/redpanda/core/admin/v2/broker.proto
Labels: none

[CORE-13995] iceberg/filesystem_catalog: check version hint before writing table
  src/v/iceberg/filesystem_catalog.cc
Labels: area/redpanda

[CORE-13995] iceberg/filesystem_catalog: check version hint before writing table
  src/v/iceberg/filesystem_catalog.cc
Labels: area/redpanda

dt/dl: Flatten schema_evolution_test parameter matrices
  tests/rptest/tests/datalake/schema_evolution_test.py
Labels: none

dt/dl: Collapse test_old_schema_writer into test_schema_evolution
  tests/rptest/tests/datalake/schema_evolution_test.py
Labels: none

dt/dl: Pare down query engine x catalog type params
  tests/rptest/tests/datalake/schema_evolution_test.py
Labels: none

dt/dl: Improve logging in schema_evolution_test.py
  tests/rptest/tests/datalake/schema_evolution_test.py
Labels: none

`cloud_storage`: tweak `segment_meta_cstore_test` parameters
  src/v/cloud_storage/tests/BUILD
  src/v/cloud_storage/tests/segment_meta_cstore_test.cc
Labels: area/redpanda

`storage`: remove superfluous logging in `probe`
  src/v/storage/disk_log_appender.cc
  src/v/storage/probe.cc
  src/v/storage/probe.h
Labels: area/redpanda

`storage`: check for closed segment in `disk_log_appender`
  src/v/storage/disk_log_appender.cc
Labels: area/redpanda

`storage`: prevent race between `truncate_prefix()` and `close()/remove()`... ...in `disk_log_impl`
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda

`storage`: prevent race between `disk_log_appender` and `remove_prefix_full_segments()`
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
Labels: area/redpanda

`storage`: add `append_single_batch_coro`
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

`storage`: add `truncate_prefix_append_and_close`
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

`cloud_storage_clients`: fix partial `xml_sax_parser` reads
  src/v/cloud_storage_clients/client.h
  src/v/cloud_storage_clients/xml_sax_parser.cc
  src/v/cloud_storage_clients/xml_sax_parser.h
Labels: area/redpanda

many_topics_test: unsafe decom flakey fix
  tests/rptest/scale_tests/many_topics_test.py
Labels: none

many_topics_test: unsafe decom flakey fix
  tests/rptest/scale_tests/many_topics_test.py
Labels: none

many_topics_test: unsafe decom flakey fix
  tests/rptest/scale_tests/many_topics_test.py
Labels: none

bazel: enable absl integration for googletest
  .bazelrc
  src/v/test_utils/BUILD
  src/v/test_utils/gtest_main.cc
Labels: area/redpanda

protobuf/test: use public API to get test flag value
  src/v/serde/protobuf/tests/parser_test.cc
Labels: area/redpanda

gtest: give stacktraces on sigill
  src/v/test_utils/BUILD
  src/v/test_utils/gtest_main.cc
Labels: area/redpanda

bazel: use absl in googletest
  .bazelrc
  src/v/serde/protobuf/tests/parser_test.cc
Labels: area/redpanda

rpk: warn the user when the cluster is likely a cloud cluster but rpk profile is not properly configured
  src/go/rpk/pkg/cli/cluster/config/edit.go
  src/go/rpk/pkg/cli/cluster/config/export.go
  src/go/rpk/pkg/cli/cluster/config/import.go
  src/go/rpk/pkg/cli/cluster/config/lint.go
  src/go/rpk/pkg/cli/cluster/config/set.go
  src/go/rpk/pkg/cli/cluster/config/status.go
  src/go/rpk/pkg/config/config.go
  src/go/rpk/pkg/config/config_test.go
Labels: area/rpk

rp/tests/fixture: bubble up port busy exception
  src/v/redpanda/tests/fixture.h
Labels: area/redpanda

tree: Create net:types package
  src/v/cloud_storage_clients/BUILD
  src/v/cloud_storage_clients/tests/BUILD
  src/v/cluster/BUILD
  src/v/cluster/archival/tests/BUILD
  src/v/datalake/BUILD
  src/v/iceberg/rest_client/BUILD
  src/v/kafka/server/BUILD
  src/v/net/BUILD
  src/v/rpc/BUILD
  src/v/security/BUILD
  src/v/security/audit/BUILD
  src/v/transform/rpc/tests/BUILD
Labels: area/redpanda

kafka: Change exception thrown upon invalid buffer size
  src/v/kafka/protocol/BUILD
  src/v/kafka/protocol/flex_versions.cc
Labels: area/redpanda

kafka: return partition error metadata if no term
  src/v/kafka/server/handlers/metadata.cc
Labels: area/redpanda

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']
