Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

storage: skip unnecessary batch cache reclaim wakeups
  src/v/storage/batch_cache.h
Labels: area/redpanda

storage: transfer fully flushable operations as a group
  src/v/storage/segment_appender.cc
Labels: area/redpanda

raft: avoid resetting steady follower state
  src/v/raft/consensus.cc
Labels: area/redpanda

rpk/ai: don't require a cloud cluster to run the ai plugin
  src/go/rpk/pkg/cli/ai/BUILD
  src/go/rpk/pkg/cli/ai/ai.go
  src/go/rpk/pkg/cli/ai/hook.go
  src/go/rpk/pkg/cli/ai/hook_test.go
Labels: area/rpk

`redpanda`: add `cluster_formation_timestamp` endpoint
  src/v/redpanda/admin/api-doc/cluster.json
  src/v/redpanda/admin/server.cc
  tests/rptest/services/admin.py
  tests/rptest/tests/controller_snapshot_test.py
Labels: area/redpanda

`cluster`: persist cluster formation timestamp
  src/v/cluster/bootstrap_backend.cc
  src/v/cluster/bootstrap_backend.h
  src/v/cluster/controller.cc
  src/v/cluster/controller_snapshot.h
  src/v/cluster/types.h
  src/v/storage/api.h
Labels: area/redpanda

cluster/commands: assert on unknown command type in deserialize
  src/v/cluster/commands.h
Labels: area/redpanda

cloud_topics/stm: test unknown ctp_stm command key is rejected
  src/v/cloud_topics/level_zero/stm/tests/ctp_stm_test.cc
Labels: area/redpanda

tests/rptest: check tiered_v2 create gate via the impl-default alias
  tests/rptest/tests/cluster_features_test.py
Labels: none

rptest/storage: annotate NodeStorage.partitions return type
  tests/rptest/services/storage.py
Labels: none

members_backend: log raft0 reconciliation updates at info
  src/v/cluster/members_backend.cc
Labels: area/redpanda

c/m_backend: filter updates that do not need raft0 update
  src/v/cluster/members_backend.cc
Labels: area/redpanda

members_backend: drop pending raft0 additions on decommission
  src/v/cluster/members_backend.cc
Labels: area/redpanda

members_backend: scan raft0 update queue instead of only its front
  src/v/cluster/members_backend.cc
  src/v/cluster/members_backend.h
Labels: area/redpanda

throttled_raft0_test: add raft0 membership operations harness
  tests/rptest/tests/throttled_raft0_test.py
Labels: none

`ct`: bump log level for `invalid_update`
  src/v/cloud_topics/level_one/domain/db_domain_manager.cc
Labels: area/redpanda

tests/rptest: use check_consistently retention test
  tests/rptest/tests/cloud_topics/retention_test.py
Labels: none

dt/ct/l0_gc: Fix flaky node-failure phase of resilience test
  tests/rptest/tests/cloud_topics/l0_gc_test.py
Labels: none

ct/housekeeper: skip retention for compact-only topics
  src/v/cloud_topics/housekeeper/housekeeper.cc
  src/v/cloud_topics/housekeeper/housekeeper.h
  src/v/cloud_topics/housekeeper/manager.cc
  src/v/cloud_topics/housekeeper/tests/housekeeper_test.cc
  tests/rptest/tests/cloud_topics/retention_test.py
Labels: area/redpanda

security: add validate_scram_credential benchmark
  src/v/security/tests/BUILD
  src/v/security/tests/scram_credential_bench.cc
Labels: area/redpanda

security: extract derive_stored_key from validate_password
  src/v/security/scram_algorithm.h
  src/v/security/tests/scram_algorithm_test.cc
Labels: area/redpanda

ct/l1: record fully-scanned empty ranges as cleaned
  src/v/cloud_topics/level_one/compaction/source.cc
  src/v/cloud_topics/level_one/compaction/tests/reducer_test.cc
Labels: area/redpanda

wip: add SR sync stop-hang repro test (baseline control for #31123)
  tests/rptest/tests/sr_sync_stop_hang_repro_test.py
Labels: none

cluster_link: stop the SR sync reader before joining its fibers
  src/v/cluster_link/schema_registry_sync/BUILD
  src/v/cluster_link/schema_registry_sync/http_source_reader.cc
  src/v/cluster_link/schema_registry_sync/http_source_reader.h
  src/v/cluster_link/schema_registry_sync/mirroring_task.cc
  src/v/cluster_link/schema_registry_sync/mirroring_task.h
  src/v/cluster_link/schema_registry_sync/tests/http_source_reader_test.cc
Labels: area/redpanda

cluster_link: stop links before draining shutdown queues
  src/v/cluster_link/link.cc
  src/v/cluster_link/link.h
  src/v/cluster_link/manager.cc
Labels: area/redpanda

wip: thread abort_source through SR sync destination write path (test commit)
  src/v/cluster_link/schema_registry_sync/BUILD
  src/v/cluster_link/schema_registry_sync/mirroring_task.cc
  src/v/cluster_link/schema_registry_sync/mirroring_task.h
  src/v/cluster_link/schema_registry_sync/reconciler.cc
  src/v/cluster_link/schema_registry_sync/reconciler.h
  src/v/cluster_link/schema_registry_sync/tests/BUILD
  src/v/cluster_link/schema_registry_sync/tests/mirroring_task_test.cc
  src/v/cluster_link/schema_registry_sync/tests/reconciler_test.cc
  src/v/cluster_link/schema_registry_sync/tests/sr_sync_test_fixtures.h
  src/v/cluster_link/tests/link_test.cc
  src/v/datalake/tests/record_schema_resolver_test.cc
  src/v/kafka/client/BUILD
  src/v/kafka/client/client.cc
  src/v/kafka/client/client.h
  src/v/kafka/client/client_fetch_batch_reader.cc
  src/v/kafka/client/client_fetch_batch_reader.h
  src/v/pandaproxy/schema_registry/BUILD
  src/v/pandaproxy/schema_registry/kafka_client_transport.cc
  src/v/pandaproxy/schema_registry/kafka_client_transport.h
  src/v/pandaproxy/schema_registry/rpc_transport.cc
  src/v/pandaproxy/schema_registry/rpc_transport.h
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/seq_writer.h
  src/v/pandaproxy/schema_registry/test/BUILD
  src/v/pandaproxy/schema_registry/test/rpc_transport_test.cc
  src/v/pandaproxy/schema_registry/test/seq_writer_abort.cc
  src/v/pandaproxy/schema_registry/test/utils.h
  src/v/pandaproxy/schema_registry/transport.h
  src/v/schema/BUILD
  src/v/schema/registry.cc
  src/v/schema/registry.h
  src/v/schema/tests/fake_registry.cc
  src/v/schema/tests/fake_registry.h
  src/v/utils/retry.h
  tests/rptest/tests/sr_sync_stop_hang_repro_test.py
Labels: area/redpanda

ct/l0: bound the read-pipeline memory wait by the request timeout
  src/v/cloud_topics/level_zero/pipeline/read_pipeline.cc
Labels: area/redpanda

cloud_storage_clients: drop timed-out requests from the admission queue
  src/v/cloud_storage_clients/client_pool.cc
  src/v/cloud_storage_clients/client_pool.h
Labels: area/redpanda

cloud_io: clamp client acquisition to the caller's deadline
  src/v/cloud_io/remote.cc
Labels: area/redpanda

ci: dispatch rpk docs generation on releases and RC tags
  .github/workflows/dispatch-docs-updates.yml
Labels: area/build

archival: frame-aligned spillover
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/ntp_archiver_service.h
  src/v/cluster/archival/tests/ntp_archiver_test.cc
  src/v/cluster/archival/tests/spillover_tail_test.cc
Labels: area/redpanda

cloud_storage: expose sealed cstore frame sizes
  src/v/cloud_storage/BUILD
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/segment_meta_cstore.cc
  src/v/cloud_storage/segment_meta_cstore.h
  src/v/cloud_storage/tests/segment_meta_cstore_test.cc
Labels: area/redpanda

deps: bump go to 1.26.5 in rpk and tools
  MODULE.bazel
  bazel/packaging/go.mod
  bazel/thirdparty/go.work
  src/go/rpk/go.mod
  src/v/test_utils/go/go.mod
  tools/go-comment-pbgen/go.mod
Labels: area/rpk, area/redpanda

wip: add SR sync stop-hang repro test (worst-case arm for deflake A/B)
  tests/rptest/tests/sr_sync_stop_hang_repro_test.py
  tools/type-checking/type-check-strictness.json
Labels: none

cloud_topics/stm: require applied evidence for below-max epoch fence
  src/v/cloud_topics/level_zero/stm/ctp_stm_state.cc
  src/v/cloud_topics/level_zero/stm/tests/ctp_stm_state_test.cc
  src/v/cloud_topics/level_zero/stm/tests/ctp_stm_test.cc
Labels: area/redpanda

cloud_topics/stm: test stale-epoch fence after failed bump replicate
  src/v/cloud_topics/level_zero/stm/tests/ctp_stm_test.cc
Labels: area/redpanda

admin/v2: refine IcebergService doc comments for API reference
  proto/redpanda/core/admin/v2/iceberg.proto
Labels: none

rpk/go tools: bump otel to v1.44.0 (snyk finding)
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  tests/go/sarama/produce_legacy_version_test/go.sum
  tests/go/sarama/produce_test/go.mod
  tests/go/sarama/produce_test/go.sum
Labels: area/rpk

cluster_link: integration-test SR-sync auth/TLS to the source
  tests/rptest/tests/cluster_linking_schema_registry_sync_test.py
Labels: none

ssx/tests: don't assert ordering of concurrently blocked tells
  src/v/ssx/tests/actor_test.cc
Labels: area/redpanda

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']
