Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

Merge pull request #31078 from Bixkog/sql-debug-bundle
  src/go/rpk/pkg/cli/BUILD
  src/go/rpk/pkg/cli/root.go
  src/go/rpk/pkg/cli/sql/BUILD
  src/go/rpk/pkg/cli/sql/debug/BUILD
  src/go/rpk/pkg/cli/sql/debug/bundle/BUILD
  src/go/rpk/pkg/cli/sql/debug/bundle/bundle.go
  src/go/rpk/pkg/cli/sql/debug/bundle/client.go
  src/go/rpk/pkg/cli/sql/debug/bundle/collect.go
  src/go/rpk/pkg/cli/sql/debug/bundle/messages.go
  src/go/rpk/pkg/cli/sql/debug/debug.go
  src/go/rpk/pkg/cli/sql/sql.go
Labels: area/rpk

Merge pull request #31197 from WillemKauf/leveling_tail_run_gate
  src/v/cloud_topics/level_one/maintenance/leveling/tests/leveling_reducer_test.cc
  src/v/cloud_topics/level_one/maintenance/tests/BUILD
  src/v/cloud_topics/level_one/maintenance/tests/log_info_collector_test.cc
  src/v/cloud_topics/level_one/metastore/leveling_range_builder.h
  src/v/cloud_topics/level_one/metastore/tests/leveling_range_builder_test.cc
  src/v/cloud_topics/level_one/metastore/tests/replicated_metastore_test.cc
  src/v/cloud_topics/level_one/metastore/tests/simple_metastore_test.cc
  tests/rptest/tests/cloud_topics/e2e_test.py
Labels: area/redpanda

Merge pull request #31199 from WillemKauf/controller_erase_deflake_again
  tests/rptest/tests/controller_erase_test.py
Labels: none

Merge pull request #31064 from bartoszpiekny-redpanda/CORE-16844-fix-offset_out_of_range-after-retention
  src/v/kafka/client/consumer.cc
  src/v/kafka/client/consumer.h
  src/v/kafka/client/fetch_session.cc
  src/v/kafka/client/fetch_session.h
  src/v/kafka/client/test/fetch_session.cc
  tests/rptest/tests/pandaproxy_test.py
Labels: area/redpanda

Merge pull request #31121 from andrwng/tsv2-describe-storage
  src/go/rpk/pkg/cli/topic/describe_storage.go
  src/v/kafka/data/cloud_topic_partition.cc
  tests/rptest/clients/rpk.py
  tests/rptest/tests/cloud_topics/describe_storage_test.py
Labels: area/rpk, area/redpanda

Merge pull request #31158 from nvartolomei/nv/deflake-datalake-partitioning-metrics
  tests/rptest/tests/datalake/custom_partitioning_test.py
Labels: none

Merge pull request #31221 from WillemKauf/group-shutdown-gate-double-close
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/consumer_groups_test.cc
Labels: area/redpanda

Merge pull request #31170 from sjust-redpanda/sjust/core-13976-2
  tests/rptest/tests/consumer_group_test.py
Labels: none

Merge pull request #31103 from WillemKauf/worktree-rapidjson-chunked-string-sink
  MODULE.bazel.lock
  bazel/repositories.bzl
  src/v/pandaproxy/BUILD
  src/v/pandaproxy/json/iobuf.h
  src/v/pandaproxy/json/requests/produce.h
  src/v/pandaproxy/json/requests/test/BUILD
  src/v/pandaproxy/json/requests/test/produce.cc
  src/v/pandaproxy/schema_registry/requests/post_subject_versions.h
  src/v/pandaproxy/schema_registry/requests/test/post_subject_versions.cc
  src/v/pandaproxy/schema_registry/storage.h
  src/v/pandaproxy/schema_registry/test/storage.cc
Labels: area/redpanda

Merge pull request #31227 from mnajda-redpanda/mnajda/improve-upgrade-wait-diagnostics
  tests/rptest/tests/redpanda_test.py
Labels: none

Merge pull request #31251 from mnajda-redpanda/mnajda/fix-flaky-test-large-group-count
  tests/rptest/tests/consumer_group_test.py
Labels: none

Merge pull request #31226 from nvartolomei/nv/datalake-coord-snapshot-yield
  src/v/datalake/coordinator/state_machine.cc
Labels: area/redpanda

Merge pull request #31089 from sjust-redpanda/sjust/rpk-produce-schema-context
  src/go/rpk/pkg/cli/topic/BUILD
  src/go/rpk/pkg/cli/topic/consume.go
  src/go/rpk/pkg/cli/topic/produce.go
  src/go/rpk/pkg/cli/topic/schema_context.go
  src/go/rpk/pkg/cli/topic/schema_context_test.go
  tests/rptest/clients/rpk.py
  tests/rptest/tests/rpk_registry_test.py
Labels: area/rpk

Merge pull request #31247 from redpanda-data/stephan/zstd-fragment-independent
  src/v/compaction/tests/filter_bench.cc
  src/v/compression/stream_zstd.cc
  src/v/compression/tests/zstd_tests.cc
Labels: area/redpanda

`kafka`: auto-create internal topics with their intended configs
  src/v/kafka/server/handlers/metadata.cc
  src/v/kafka/server/tests/metadata_test.cc
Labels: area/redpanda

`rptest`: cover metadata-driven internal topic auto-creation
  tests/rptest/tests/internal_topic_protection_test.py
Labels: none

cloud_topics/l1: add the imported tiered-storage reader and index types
  src/v/cloud_topics/level_one/common/BUILD
  src/v/cloud_topics/level_one/common/object.h
  src/v/cloud_topics/level_one/common/ts_object.cc
  src/v/cloud_topics/level_one/common/ts_object.h
  src/v/cloud_topics/level_one/common/ts_reader.cc
  src/v/cloud_topics/level_one/common/ts_reader.h
Labels: area/redpanda

cloud_topics/l1: serve imported tiered-storage segments
  src/v/cloud_topics/level_one/common/BUILD
  src/v/cloud_topics/level_one/common/abstract_io.h
  src/v/cloud_topics/level_one/common/fake_io.cc
  src/v/cloud_topics/level_one/common/fake_io.h
  src/v/cloud_topics/level_one/common/file_io.cc
  src/v/cloud_topics/level_one/common/file_io.h
  src/v/cloud_topics/level_one/common/file_io_probe.cc
  src/v/cloud_topics/level_one/common/file_io_probe.h
  src/v/cloud_topics/level_one/common/open_object.cc
  src/v/cloud_topics/level_one/common/tests/BUILD
  src/v/cloud_topics/level_one/common/tests/open_object_test.cc
  src/v/cloud_topics/level_one/frontend_reader/tests/BUILD
  src/v/cloud_topics/level_one/frontend_reader/tests/l1_reader_fixture.h
  src/v/cloud_topics/level_one/frontend_reader/tests/reader_imported_test.cc
  src/v/cloud_topics/level_one/metastore/tests/garbage_collector_test.cc
Labels: area/redpanda

cloud_topics/l1: delete an imported segment's tiered-storage objects
  src/v/cloud_topics/level_one/common/abstract_io.h
  src/v/cloud_topics/level_one/common/fake_io.cc
  src/v/cloud_topics/level_one/common/fake_io.h
  src/v/cloud_topics/level_one/common/file_io.cc
  src/v/cloud_topics/level_one/common/file_io.h
  src/v/cloud_topics/level_one/metastore/garbage_collector.cc
  src/v/cloud_topics/level_one/metastore/lsm/garbage_collector.cc
  src/v/cloud_topics/level_one/metastore/tests/garbage_collector_test.cc
Labels: area/redpanda

cl/test: pause SR sync before shadow link cluster shutdown
  tests/rptest/tests/cluster_linking_test_base.py
Labels: none

dt/tests: declare Kafka 3.6 and 4.2 in sarama compatibility tests
  tests/go/sarama/produce_test/main.go
  tests/rptest/tests/compatibility/sarama_produce_test.py
  tests/rptest/tests/compatibility/sarama_test.py
Labels: none

schema_registry: simplify do_start now that it is single-flight
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/service.h
Labels: area/redpanda

schema_registry: load _schemas once across shards on startup
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/service.h
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda

schema_registry: add schema_registry_replay_on_startup
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/pandaproxy/schema_registry/BUILD
  src/v/pandaproxy/schema_registry/service.cc
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda

rpk: fix describe-storage size output for tiered_cloud_topic
  src/go/rpk/pkg/cli/topic/describe_storage.go
  src/v/kafka/data/cloud_topic_partition.cc
  tests/rptest/clients/rpk.py
  tests/rptest/tests/cloud_topics/describe_storage_test.py
Labels: area/rpk, area/redpanda

throttled_raft0_test: wait for join to complete before throttling
  tests/rptest/tests/throttled_raft0_test.py
Labels: none

ssx/actor: document blocked tell() ordering as unspecified
  src/v/ssx/actor.h
Labels: area/redpanda

ssx/tests: don't assert ordering of concurrently blocked tells
  src/v/ssx/tests/actor_test.cc
Labels: area/redpanda

schema_registry/rest_client: make pooled_client fifo test deterministic
  src/v/pandaproxy/schema_registry/rest_client/tests/pooled_client_test.cc
Labels: area/redpanda

dl/coordinator: fix drain test flake under task shuffling
  src/v/datalake/coordinator/tests/coordinator_test.cc
Labels: area/redpanda

kafka/client: authenticate under the reconnect mutex
  src/v/kafka/client/broker.cc
  src/v/kafka/client/broker.h
  src/v/kafka/client/test/BUILD
  src/v/kafka/client/test/cluster_test.cc
Labels: area/redpanda

rptest/datalake: drop flaky translation metric assertions
  tests/rptest/tests/datalake/custom_partitioning_test.py
Labels: none

datalake/coordinator: yield between snapshot copy and serialize
  src/v/datalake/coordinator/state_machine.cc
Labels: area/redpanda

`json`: fix invalidated iterator use in `write_chunked_string()`
  src/v/json/iobuf_writer.h
  src/v/json/tests/json_serialization_test.cc
Labels: area/redpanda

`json`: fix invalidated iterator use in `write_chunked_string()`
  src/v/json/iobuf_writer.h
  src/v/json/tests/json_serialization_test.cc
Labels: area/redpanda

rpk/go tools: bump otel to v1.44.0 (snyk finding)
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  tests/go/sarama/produce_legacy_version_test/go.sum
  tests/go/sarama/produce_test/go.mod
  tests/go/sarama/produce_test/go.sum
Labels: area/rpk

`rptest`: bump `LATEST_RELEASED_MAJOR`
  tests/rptest/services/redpanda_installer.py
Labels: none

tests/antithesis: add sl produce and consume drivers
  tests/antithesis/shadow_link_stress/sl/consume.go
  tests/antithesis/shadow_link_stress/sl/main.go
  tests/antithesis/shadow_link_stress/sl/produce.go
Labels: none

tests/antithesis: create and probe the shadow link from the sl workload
  tests/antithesis/shadow_link_stress/sl/link.go
  tests/antithesis/shadow_link_stress/sl/link_test.go
  tests/antithesis/shadow_link_stress/sl/main.go
Labels: none

tests/antithesis: add topic-aware CRC record format for sl workload
  tests/antithesis/shadow_link_stress/sl/record.go
  tests/antithesis/shadow_link_stress/sl/record_test.go
Labels: none

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']
