Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

dt/si_e2e: Restore skipped ABS param in test_reset
  tests/rptest/tests/e2e_shadow_indexing_test.py
Labels: none

csc/batch_delete: Log subresponse errors even when content-id missing
  src/v/cloud_storage_clients/abs_client.cc
  src/v/cloud_storage_clients/s3_client.cc
Labels: area/redpanda

kafka/partition_proxy: add get_term(model::offset)
  src/v/kafka/data/cloud_topic_partition.cc
  src/v/kafka/data/cloud_topic_partition.h
  src/v/kafka/data/cloud_topic_read_replica.cc
  src/v/kafka/data/cloud_topic_read_replica.h
  src/v/kafka/data/partition_proxy.h
  src/v/kafka/data/replicated_partition.cc
  src/v/kafka/data/replicated_partition.h
  src/v/kafka/data/rpc/test/deps.h
Labels: area/redpanda

kafka/tests: add ducktape test for ListOffsets leader epoch
  tests/rptest/tests/list_offsets_epoch_test.py
  tools/type-checking/type-check-strictness.json
Labels: none

kafka/list_offsets: return correct leader epoch for all return paths
  src/v/kafka/server/handlers/list_offsets.cc
  src/v/kafka/server/tests/list_offsets_test.cc
Labels: area/redpanda

lsm: fix snapshot::get() skipping tombstones in SST files
  src/v/lsm/db/memtable.cc
  src/v/lsm/db/tests/BUILD
  src/v/lsm/db/tests/impl_test.cc
  src/v/lsm/lsm.cc
Labels: area/redpanda

cs/manifest: Fix scrubber false positive for replaced segments
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
Labels: area/redpanda

cs/test: Test scrubber false positive for compacted segments
  src/v/cloud_storage/tests/anomalies_detector_test.cc
Labels: area/redpanda

cs/test: Test scrubber false positive for compacted segments
  src/v/cloud_storage/tests/anomalies_detector_test.cc
Labels: area/redpanda

cs/manifest: Fix scrubber false positive for replaced segments
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
Labels: area/redpanda

cs/manifest: Fix scrubber false positive for replaced segments
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
Labels: area/redpanda

cs/test: Test scrubber false positive for compacted segments
  src/v/cloud_storage/tests/anomalies_detector_test.cc
Labels: area/redpanda

ct: inflight_write_token
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/types.h
Labels: area/redpanda

c/epoch_svc: forced epoch update
  src/v/cluster/cluster_epoch_service.cc
  src/v/cluster/cluster_epoch_service.h
  src/v/cluster/tests/epoch_service_test.cc
Labels: area/redpanda

ct/app: Add inflight_write_tracker
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/app.cc
  src/v/cloud_topics/app.h
Labels: area/redpanda

ct/l0/gc: Epoch barrier RPC service & associated types
  src/v/cloud_topics/level_zero/gc/BUILD
  src/v/cloud_topics/level_zero/gc/rpc.json
  src/v/cloud_topics/level_zero/gc/rpc_types.h
  src/v/cloud_topics/level_zero/gc/service.cc
  src/v/cloud_topics/level_zero/gc/service.h
  src/v/redpanda/BUILD
  src/v/redpanda/application_rpc.cc
Labels: area/redpanda

ct/l0/gc: epoch_barrier
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/level_zero/gc/BUILD
  src/v/cloud_topics/level_zero/gc/epoch_barrier.cc
  src/v/cloud_topics/level_zero/gc/epoch_barrier.h
Labels: area/redpanda

ct/fe: Add inflight tracking to write path
  src/v/cloud_topics/frontend/frontend.cc
  src/v/cloud_topics/frontend/tests/frontend_test.cc
Labels: area/redpanda

ct/l0/stm: Introduce advance_gc_epoch command
  src/v/cloud_topics/level_zero/stm/ctp_stm.cc
  src/v/cloud_topics/level_zero/stm/ctp_stm.h
  src/v/cloud_topics/level_zero/stm/ctp_stm_api.cc
  src/v/cloud_topics/level_zero/stm/ctp_stm_api.h
  src/v/cloud_topics/level_zero/stm/ctp_stm_commands.h
  src/v/cloud_topics/level_zero/stm/ctp_stm_state.cc
  src/v/cloud_topics/level_zero/stm/ctp_stm_state.h
  src/v/cloud_topics/level_zero/stm/tests/ctp_stm_state_test.cc
  src/v/cloud_topics/level_zero/stm/types.cc
  src/v/cloud_topics/level_zero/stm/types.h
Labels: area/redpanda

ct/data_plane: inflight write tracking
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/app.cc
  src/v/cloud_topics/data_plane_api.h
  src/v/cloud_topics/data_plane_impl.cc
  src/v/cloud_topics/data_plane_impl.h
  src/v/cloud_topics/frontend/tests/frontend_test.cc
Labels: area/redpanda

ct: Introduce inflight_write_tracker
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/inflight_write_tracker.cc
  src/v/cloud_topics/inflight_write_tracker.h
  src/v/cloud_topics/tests/BUILD
  src/v/cloud_topics/tests/inflight_write_tracker_test.cc
Labels: area/redpanda

ct/l0/gc/tests: Tests for epoch_barrier
  src/v/cloud_topics/level_zero/gc/tests/BUILD
  src/v/cloud_topics/level_zero/gc/tests/epoch_barrier_mt_test.cc
  src/v/cloud_topics/level_zero/gc/tests/epoch_barrier_test.cc
  src/v/cloud_topics/level_zero/gc/tests/epoch_barrier_test_utils.h
Labels: area/redpanda

config: Make epoch_barrier timing params configurable
  src/v/cloud_topics/level_zero/gc/BUILD
  src/v/cloud_topics/level_zero/gc/epoch_barrier.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

ct/app: Wire up and start epoch_barrier
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/app.cc
  src/v/cloud_topics/app.h
  src/v/cloud_topics/level_zero/gc/service.cc
  src/v/cloud_topics/level_zero/gc/service.h
  src/v/redpanda/application_rpc.cc
Labels: area/redpanda

c/tests/rm_stm: make sure apply_local_snapshot updates _apply watermark
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/BUILD
  src/v/cluster/tests/rm_stm_tests.cc
Labels: area/redpanda

c/rm_stm: update _apply_watermark on apply_local_snapshot
  src/v/cluster/rm_stm.cc
Labels: area/redpanda

`config`: drop `compaction_ctrl_max_shares` default
  src/v/config/configuration.cc
Labels: area/redpanda

parquet/writer: return file_metadata from close()
  src/v/serde/parquet/BUILD
  src/v/serde/parquet/writer.cc
  src/v/serde/parquet/writer.h
Labels: area/redpanda

iceberg/conversion: add extract_iceberg_stats from parquet metadata
  src/v/iceberg/conversion/BUILD
  src/v/iceberg/conversion/stats_parquet.cc
  src/v/iceberg/conversion/stats_parquet.h
  src/v/iceberg/conversion/tests/BUILD
  src/v/iceberg/conversion/tests/stats_parquet_test.cc
  src/v/serde/parquet/BUILD
Labels: area/redpanda

datalake: thread parquet file_metadata through writer layers
  src/v/datalake/BUILD
  src/v/datalake/base_types.h
  src/v/datalake/data_writer_interface.h
  src/v/datalake/local_parquet_file_writer.cc
  src/v/datalake/serde_parquet_writer.cc
  src/v/datalake/serde_parquet_writer.h
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/local_parquet_file_writer_test.cc
  src/v/datalake/tests/serde_parquet_writer_test.cc
  src/v/datalake/tests/test_data_writer.h
Labels: area/redpanda

datalake: propagate parquet column stats to Iceberg manifests
  src/v/datalake/BUILD
  src/v/datalake/coordinator/BUILD
  src/v/datalake/coordinator/data_file.h
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/datalake/translation_task.cc
Labels: area/redpanda

datalake: add test for column stats propagation to Iceberg manifests
  src/v/datalake/coordinator/tests/iceberg_file_committer_test.cc
Labels: area/redpanda

datalake: populate split_offsets in Iceberg data_file
  src/v/datalake/coordinator/data_file.h
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/datalake/coordinator/tests/iceberg_file_committer_test.cc
  src/v/datalake/translation_task.cc
Labels: area/redpanda

parquet/writer: truncate byte array column statistics
  src/v/serde/parquet/column_writer.cc
  src/v/serde/parquet/column_writer.h
  src/v/serde/parquet/tests/writer_test.cc
  src/v/serde/parquet/writer.cc
  src/v/serde/parquet/writer.h
Labels: area/redpanda

csc/abs: Omit x-ms-version from batch delete sub-requests
  src/v/cloud_roles/apply_abs_oauth_credentials.cc
  src/v/cloud_roles/tests/credential_tests.cc
  src/v/cloud_storage_clients/tests/abs_client_test.cc
Labels: area/redpanda

cloud_storage: Add metric for batch delete errors
  src/v/cloud_io/remote.cc
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote_probe.cc
  src/v/cloud_storage/remote_probe.h
Labels: area/redpanda

ct/reconciler: replace loop with per-topic scheduling
  src/v/cloud_topics/reconciler/reconciler.cc
  src/v/cloud_topics/reconciler/reconciler.h
  src/v/cloud_topics/reconciler/tests/reconciler_metrics_test.cc
  src/v/cloud_topics/reconciler/tests/reconciler_test.cc
  src/v/cloud_topics/tests/leader_epoch_test.cc
Labels: area/redpanda

nix: add Profile-Guided Optimization (PGO) build support
  flake.nix
  nix/README.md
  nix/pgo-train.nix
  nix/redpanda.nix
Labels: none

rpk: bump twmb/avro to v1.4.1
  src/go/rpk/go.mod
  src/go/rpk/go.sum
Labels: area/rpk

rpk: simplify avro reference walker and improve cycle detection
  src/go/rpk/pkg/serde/avro.go
Labels: area/rpk

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']
