Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

rptest/datalake: test Iceberg column stats in manifest
  tests/rptest/tests/datalake/datalake_e2e_test.py
Labels: none

datalake: reserve writer memory by leaf-column count
  src/v/datalake/BUILD
  src/v/datalake/local_parquet_file_writer.cc
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/local_parquet_file_writer_test.cc
  src/v/datalake/translation/deps.cc
Labels: area/redpanda

serde/parquet: estimate idle writer memory
  src/v/serde/parquet/column_writer.cc
  src/v/serde/parquet/column_writer.h
  src/v/serde/parquet/tests/BUILD
  src/v/serde/parquet/tests/writer_test.cc
  src/v/serde/parquet/writer.cc
  src/v/serde/parquet/writer.h
Labels: area/redpanda

datalake: remove redundant copy of stats bounds
  src/v/datalake/serde_parquet_writer.cc
Labels: area/redpanda

serde/parquet: account stats collector memory in the writer
  src/v/serde/parquet/column_stats_collector.h
  src/v/serde/parquet/column_writer.cc
  src/v/serde/parquet/tests/column_stats_collector_test.cc
  src/v/serde/parquet/tests/writer_test.cc
Labels: area/redpanda

dl/coordinator: chunk commits by pending memory, not just count
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/datalake/coordinator/coordinator_manager.cc
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/datalake/coordinator/iceberg_file_committer.h
  src/v/datalake/coordinator/state.cc
  src/v/datalake/coordinator/state.h
  src/v/datalake/coordinator/tests/iceberg_file_committer_test.cc
  src/v/datalake/coordinator/tests/state_update_test.cc
Labels: area/redpanda

dl/coordinator: shed load by pending memory, not just count
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/datalake/coordinator/coordinator.cc
  src/v/datalake/coordinator/coordinator.h
  src/v/datalake/coordinator/coordinator_manager.cc
  src/v/datalake/coordinator/tests/coordinator_test.cc
  src/v/datalake/coordinator/tests/state_machine_test.cc
  tests/rptest/tests/datalake/coordinator_backpressure_test.py
Labels: area/redpanda

rpk: bump grpc and klauspost/compress past snyk highs
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cloud/mcp/mcp.go
  src/go/rpk/pkg/publicapi/aigateway.go
Labels: area/rpk

deps: bump go to 1.26.5 in rpk and tools
  MODULE.bazel
  bazel/thirdparty/go.work
  src/go/rpk/go.mod
  src/v/test_utils/go/go.mod
  tools/go-comment-pbgen/go.mod
Labels: area/rpk, area/redpanda

deps: bump go to 1.26.5 in rpk and tools
  MODULE.bazel
  MODULE.bazel.lock
  bazel/thirdparty/go.work
  src/go/rpk/go.mod
  src/v/test_utils/go/go.mod
Labels: area/rpk, area/redpanda

ci: bump golangci-lint-action to v9 in lint-golang.yml
  .github/workflows/lint-golang.yml
Labels: area/build

bazel: update seastar to 085388fb07
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

bazel: update seastar to a083b5b341
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

bazel: update seastar to 5bf36c5071
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

`storage`: flush pending kvstore ops on stop instead of cancelling them
  src/v/storage/kvstore.cc
  src/v/storage/kvstore.h
  src/v/storage/tests/kvstore_fixture.h
  src/v/storage/tests/kvstore_test.cc
Labels: area/redpanda

metrics: add cluster_metrics_uuid label to cluster_info
  src/v/cluster/controller.h
  src/v/redpanda/application.cc
Labels: area/redpanda

build/deps: upgrade c-ares to 1.34.7 (CVE-2026-33630)
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

build/deps: upgrade c-ares to 1.34.7 (CVE-2026-33630)
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

build/deps: upgrade c-ares to 1.34.7 (CVE-2026-33630)
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

metrics/test: verify cluster_metrics_uuid label on cluster_info
  tests/rptest/tests/metrics_test.py
Labels: none

storage: exit kvstore flush fiber on shutdown
  src/v/storage/kvstore.cc
Labels: area/redpanda

rpk: build FIPS binary with native Go GOFIPS140
  .bazelrc
  MODULE.bazel
  src/go/.goreleaser.yaml
Labels: none

storage: exit kvstore flush fiber on shutdown
  src/v/storage/kvstore.cc
Labels: area/redpanda

rpk/kgo-verifier: bump franz-go modules
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  tests/go/kgo-verifier/go.mod
  tests/go/kgo-verifier/go.sum
Labels: area/rpk

kafka/client: serialize concurrent fetches on a consumer
  src/v/kafka/client/consumer.cc
  src/v/kafka/client/consumer.h
  src/v/kafka/client/test/consumer_group.cc
Labels: area/redpanda

kafka/client: refactor update_session_state ahead of a session reset
  src/v/kafka/client/fetch_session.cc
  src/v/kafka/client/fetch_session.h
Labels: area/redpanda

kafka/client: keep fetch session epoch initial when broker declines one
  src/v/kafka/client/fetch_session.cc
  src/v/kafka/client/fetch_session.h
  src/v/kafka/client/test/fetch_session_broker.cc
Labels: area/redpanda

tests/pandaproxy: cover concurrent fetches on one consumer instance
  tests/rptest/tests/pandaproxy_test.py
Labels: none

kafka/client: reset fetch session on response session id mismatch
  src/v/kafka/client/fetch_session.cc
  src/v/kafka/client/fetch_session.h
  src/v/kafka/client/test/BUILD
  src/v/kafka/client/test/fetch_session_broker.cc
Labels: area/redpanda

bazel: apply -Werror to all C/C++ compiles
  .bazelrc
  bazel/internal.bzl
Labels: none

bazel: suppress Wattribute-alias in external/
  .bazelrc
Labels: none

ct: do not demote the epoch fence write lock to read lock
  src/v/cloud_topics/frontend/frontend.cc
  src/v/cloud_topics/level_zero/stm/ctp_stm.cc
  src/v/cloud_topics/level_zero/stm/tests/ctp_stm_test.cc
Labels: area/redpanda

ct: track seen-window bumps as pending until observed in the log
  src/v/cloud_topics/level_zero/stm/ctp_stm.cc
  src/v/cloud_topics/level_zero/stm/ctp_stm.h
  src/v/cloud_topics/level_zero/stm/ctp_stm_state.cc
  src/v/cloud_topics/level_zero/stm/ctp_stm_state.h
  src/v/cloud_topics/level_zero/stm/tests/ctp_stm_state_test.cc
  src/v/cloud_topics/level_zero/stm/tests/ctp_stm_test.cc
Labels: area/redpanda

ct: recover from wedged seen-window bumps on fence timeout
  src/v/cloud_topics/level_zero/stm/ctp_stm.cc
  src/v/cloud_topics/level_zero/stm/ctp_stm.h
  src/v/cloud_topics/level_zero/stm/tests/ctp_stm_test.cc
Labels: area/redpanda

kafka/server: hoist group::stages into its own header
  src/v/kafka/server/BUILD
  src/v/kafka/server/group.h
  src/v/kafka/server/stages.h
Labels: area/redpanda

kafka/server: move group's inline offset helpers out of the header
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/tests/group_offset_commit_bench.cc
Labels: area/redpanda

kafka/server: add offset_store with the offset metadata types
  src/v/kafka/server/BUILD
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/offset_store.h
Labels: area/redpanda

wip
  src/v/iceberg/conversion/BUILD
  src/v/iceberg/conversion/tests/iceberg_protobuf_tests.cc
  src/v/iceberg/conversion/values_protobuf.cc
Labels: area/redpanda

storage: keep segment_set formatting bounded under fmt
  src/v/storage/segment_set.cc
  src/v/storage/segment_set.h
  src/v/storage/tests/BUILD
  src/v/storage/tests/segment_set_test.cc
Labels: area/redpanda

rptest: install the expired cert after startup
  tests/rptest/tests/tls_metrics_test.py
Labels: none
