Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

`ssx`: add `if constexpr` check around use of `yield_called()`
  src/v/cloud_topics/frontend/frontend.cc
  src/v/raft/heartbeat_manager.cc
  src/v/ssx/async_algorithm.h
Labels: area/redpanda

cs_clients/s3: Batch delete (multipart)
  src/v/cloud_storage_clients/BUILD
  src/v/cloud_storage_clients/s3_client.cc
  src/v/cloud_storage_clients/s3_client.h
Labels: area/redpanda

http/tests: Selectively override content_type in flexible function handler
  src/v/http/tests/utils.cc
  src/v/http/tests/utils.h
Labels: area/redpanda

s3_imposter: Wire content_type overrides through s3_imposter
  src/v/cloud_io/tests/s3_imposter.cc
  src/v/cloud_io/tests/s3_imposter.h
Labels: area/redpanda

s3_imposter: Add support for multipart batch delete
  src/v/cloud_io/tests/s3_imposter.cc
  src/v/cloud_io/tests/s3_imposter.h
Labels: area/redpanda

cloud_io: Enable batch deletes for GCS
  src/v/cloud_io/remote.cc
  src/v/cloud_storage/tests/remote_test.cc
  src/v/cloud_storage_clients/s3_client.cc
Labels: area/redpanda

cs_clients/tests: Add gcs_client_test
  src/v/cloud_storage_clients/tests/BUILD
  src/v/cloud_storage_clients/tests/gcs_client_test.cc
Labels: area/redpanda

try out GCP native style urls
  src/v/cloud_storage/tests/remote_test.cc
  src/v/cloud_storage_clients/s3_client.cc
Labels: area/redpanda

[DNM] some logging
  src/v/cloud_storage_clients/s3_client.cc
  tests/rptest/tests/cloud_topics/l0_gc_test.py
Labels: area/redpanda

test
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

strip useless headers
  src/v/cloud_io/tests/s3_imposter.cc
  src/v/cloud_storage_clients/s3_client.cc
Labels: area/redpanda

fancy extra client
  src/v/cloud_storage_clients/s3_client.cc
  src/v/cloud_storage_clients/s3_client.h
Labels: area/redpanda

rpk: update console version to v3.5.0
  src/go/rpk/pkg/cli/container/common/common.go
Labels: area/rpk

logging
  src/v/cloud_storage_clients/s3_client.cc
Labels: area/redpanda

No content (success) will have a line feed in the body
  src/v/cloud_storage_clients/tests/gcs_client_test.cc
  src/v/cloud_storage_clients/util.cc
Labels: area/redpanda

maybe we're ok with the old client
  src/v/cloud_storage_clients/s3_client.cc
Labels: area/redpanda

rpk: [SUP-31] Add basic Client Test cmd
  src/go/rpk/pkg/cli/debug/clienttest/clienttest.go
  src/go/rpk/pkg/cli/debug/debug.go
Labels: area/rpk

producer linger set to 0
  tests/go/kgo-verifier/pkg/worker/verifier/producer_worker.go
Labels: none

test
  tests/rptest/tests/crash_loop_checks_test.py
Labels: none

`ct/l1`: add `source::effective_retention_ms()`
  src/v/cloud_topics/reconciler/BUILD
  src/v/cloud_topics/reconciler/reconciliation_source.cc
  src/v/cloud_topics/reconciler/reconciliation_source.h
  src/v/cloud_topics/reconciler/tests/test_utils.h
Labels: area/redpanda

`ct/l1`: reconcile topics together based on time-based retention properties
  src/v/cloud_topics/reconciler/reconciler.cc
  src/v/cloud_topics/reconciler/reconciler.h
  src/v/cloud_topics/reconciler/tests/BUILD
Labels: area/redpanda

`ct/reconciler`: add `partition_sources_into_sets_test`
  src/v/cloud_topics/reconciler/tests/BUILD
  src/v/cloud_topics/reconciler/tests/partition_sources_into_sets_test.cc
  src/v/cloud_topics/reconciler/tests/test_utils.h
Labels: area/redpanda

c/topic_table: use chunked_hash_map for lifecycle markers
  src/v/cluster/archival/purger.cc
  src/v/cluster/controller_snapshot.h
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/redpanda/admin/server.cc
Labels: area/redpanda

c/topic_table: use chunked_hash_map for lifecycle markers
  src/v/cluster/archival/purger.cc
  src/v/cluster/controller_snapshot.h
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/redpanda/admin/server.cc
Labels: area/redpanda

container/fragmented_vector: add a constructor that copies from a range
  src/v/container/fragmented_vector.h
Labels: area/redpanda

`kafka`: fix `partition_response` for `LogAppendTime` topics
  src/v/kafka/server/handlers/produce.cc
Labels: area/redpanda

`kafka`: fix `partition_response` for `LogAppendTime` topics
  src/v/kafka/server/handlers/produce.cc
Labels: area/redpanda

`kafka`: add `test_produce_log_append_time_response`
  src/v/kafka/server/tests/produce_consume_test.cc
Labels: area/redpanda

`kafka`: add `test_produce_log_append_time_response`
  src/v/kafka/server/tests/produce_consume_test.cc
Labels: area/redpanda

rpk: use Go 1.24 native FIPS 140-3 support ENG-986
  .bazelrc
  MODULE.bazel
  bazel/BUILD
  src/go/rpk/cmd/rpk/BUILD
  src/go/rpk/pkg/cli/connect/BUILD
  src/go/rpk/pkg/cli/connect/client.go
  src/go/rpk/pkg/fips/BUILD
  src/go/rpk/pkg/fips/disabled.go
  src/go/rpk/pkg/fips/enabled.go
Labels: area/rpk

iceberg: improve iceberg_default_catalog_namespace description
  src/v/config/configuration.cc
Labels: area/redpanda

`ct/l1`: add `do_await_inflight_uploads()`
  src/v/cloud_topics/level_one/compaction/committer.cc
  src/v/cloud_topics/level_one/compaction/committer.h
Labels: area/redpanda

`ct/l1`: finalize job through the `committer`
  src/v/cloud_topics/level_one/compaction/committer.cc
  src/v/cloud_topics/level_one/compaction/committer.h
  src/v/cloud_topics/level_one/compaction/sink.cc
Labels: area/redpanda

`ct/l1`: make `compaction_sink::finalize()` very exception safe
  src/v/cloud_topics/level_one/compaction/sink.cc
Labels: area/redpanda

`ct/l1`: don't cancel active jobs in `committer::stop()`
  src/v/cloud_topics/level_one/compaction/committer.cc
  src/v/cloud_topics/level_one/compaction/committer.h
Labels: area/redpanda

`ct/l1`: add `_gate` to `compaction_job`
  src/v/cloud_topics/level_one/compaction/committer.cc
  src/v/cloud_topics/level_one/compaction/committer.h
Labels: area/redpanda

.github: update python version in render worflow
  .github/workflows/render-pr-body-release-notes.yml
Labels: area/build

.github: update python version in render worflow
  .github/workflows/render-pr-body-release-notes.yml
Labels: area/build

resource_mgmt: Remove memory_sampling FAQ link
  src/v/crash_tracker/tests/crash_reporter_oom_test.cc
  src/v/resource_mgmt/memory_sampling.cc
Labels: area/redpanda

resource_mgmt: Remove memory_sampling FAQ link
  src/v/crash_tracker/tests/crash_reporter_oom_test.cc
  src/v/resource_mgmt/memory_sampling.cc
Labels: area/redpanda
