Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

Revert "s/log: removed the line informing user about outstanding locks"
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda

s/log: fixed race condition between appends and prefix truncation
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda

storage/tests: added stress fiber to concurrent prefix truncate test
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

datalake: move value field out of system struct
  src/v/datalake/record_translator.cc
  src/v/datalake/tests/gtest_record_multiplexer_test.cc
Labels: area/redpanda

datalake: correctly get null keys/values from record
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
  src/v/datalake/record_schema_resolver.cc
  src/v/datalake/record_schema_resolver.h
  src/v/datalake/record_translator.cc
  src/v/datalake/record_translator.h
  src/v/model/record.h
Labels: area/redpanda

datalake: drop invalid records
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
Labels: area/redpanda

rptest/s: support spark on gcp
  tests/docker/ducktape-deps/spark
  tests/java/spark-iceberg-dependencies/pom.xml
  tests/rptest/services/spark_service.py
Labels: none

rptest/datalake: run basic e2e w/ non-fs apache catalog
  tests/rptest/tests/datalake/datalake_e2e_test.py
Labels: none

rptest/datalake: run tests on gcp
  tests/rptest/tests/datalake/utils.py
Labels: none

rptest/c: add gcp support to cloud_storage context
  tests/rptest/context/cloud_storage.py
Labels: none

cloud_io: custom scheme for gcs which is required for iceberg
  src/v/cloud_io/remote.cc
Labels: area/redpanda

rptest/s: gcp support for trino
  tests/rptest/services/trino_service.py
Labels: none

rptest/s: gcp support for iceberg rest catalog
  tests/rptest/services/apache_iceberg_catalog.py
Labels: none

d/coordinator: fixed possible iterator generation mismatch
  src/v/datalake/coordinator/coordinator.cc
Labels: area/redpanda

`storage`: add `_num_rounds_window_compaction` to `probe`
  src/v/storage/disk_log_impl.cc
  src/v/storage/probe.cc
  src/v/storage/probe.h
Labels: area/redpanda

`storage`: add `_segments_marked_tombstone_free` to `probe`
  src/v/storage/probe.cc
  src/v/storage/probe.h
  src/v/storage/segment_deduplication_utils.cc
  src/v/storage/segment_utils.cc
Labels: area/redpanda

`storage`: add `_segment_cleanly_compacted` to `probe`
  src/v/storage/disk_log_impl.cc
  src/v/storage/probe.cc
  src/v/storage/probe.h
  src/v/storage/segment_utils.cc
  src/v/storage/segment_utils.h
Labels: area/redpanda

`tests`: bump `kgo-verifier` version and support new features
  tests/docker/ducktape-deps/kgo-verifier
  tests/rptest/services/kgo_verifier_services.py
Labels: none

`rptest`: add `wait_for_latest_value_map()` to `kgo`
  tests/rptest/services/kgo_verifier_services.py
Labels: none

`rptest`: use `delete.retention.ms` in `KafkaCliTools.create_topic()`
  tests/rptest/clients/kafka_cli_tools.py
Labels: none

rpk: add err message of CreateACL response
  src/go/rpk/pkg/cli/security/acl/create.go
  tests/rptest/tests/acls_test.py
Labels: area/rpk

rpk: decode adminapi error message in role creation
  src/go/rpk/pkg/adminapi/admin.go
  src/go/rpk/pkg/cli/security/role/create.go
Labels: area/rpk

rpc: don't wait for the obsolete feature on start
  src/v/redpanda/application.cc
  src/v/rpc/rpc_server.cc
  src/v/rpc/rpc_server.h
  src/v/rpc/test/rpc_gen_cycling_test.cc
Labels: area/redpanda

feat/tests: use new features to retire older ones
  src/v/features/tests/feature_table_test.cc
Labels: area/redpanda

redpanda/admin/server: don't check license feature
  src/v/cluster/feature_manager.cc
  src/v/redpanda/admin/server.cc
Labels: area/redpanda

c/topics_frontend: do not check retired feature
  src/v/cluster/topics_frontend.cc
Labels: area/redpanda

raft: don't check retired feature
  src/v/raft/consensus.cc
  src/v/raft/group_manager.cc
Labels: area/redpanda

c/controller: do not check old feature
  src/v/cluster/controller.cc
Labels: area/redpanda

c/rm_stm: remove feature::transaction_ga check
  src/v/cluster/rm_stm.cc
Labels: area/redpanda

c/ephemeral_credential_FE: don't check old feature
  src/v/cluster/ephemeral_credential_frontend.cc
  src/v/cluster/tests/ephemeral_credential_test.cc
Labels: area/redpanda

c/tx_gateway_frontend: remove dead code
  src/v/cluster/tx_gateway_frontend.h
Labels: area/redpanda

c/members_manager: do not check retired feature
  src/v/cluster/members_manager.cc
Labels: area/redpanda

k/server: do not check feature::kafka_gssapi
  src/v/kafka/server/server.cc
Labels: area/redpanda

c/node_status_backend: don't check retired feature
  src/v/cluster/node_status_backend.cc
Labels: area/redpanda

c/controller_backend: do not check old feature
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
Labels: area/redpanda

k/server: do not check feature::node_isolation
  src/v/kafka/server/BUILD
  src/v/kafka/server/handlers/details/isolated_node_utils.h
  src/v/kafka/server/handlers/metadata.cc
Labels: area/redpanda

`storage`: remove unnecessary `if()`
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda

archival: log stopping for adjacent segment merger
  src/v/cluster/archival/adjacent_segment_merger.cc
Labels: area/redpanda

scrubber: add stopped message
  src/v/cluster/archival/scrubber.cc
Labels: area/redpanda

`storage`: reset compaction window start offset when offset map isn't built
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']
