Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

c/topics_frontend: do not check retired feature
  src/v/cluster/topics_frontend.cc
Labels: area/redpanda

redpanda/admin/server: don't check license feature
  src/v/cluster/feature_manager.cc
  src/v/redpanda/admin/server.cc
Labels: area/redpanda

ssx: Remove async clear workaround
  src/v/cluster/partition_manager.cc
  src/v/ssx/BUILD
  src/v/ssx/async-clear.h
  src/v/storage/log_manager.cc
Labels: area/redpanda

build: added missing parts to build translation pieces with bazel
  src/v/datalake/BUILD
  src/v/datalake/coordinator/BUILD
  src/v/datalake/translation/BUILD
Labels: area/redpanda

iceberg: move from_uri from manifest_io to metadata_io
  src/v/iceberg/manifest_io.cc
  src/v/iceberg/manifest_io.h
  src/v/iceberg/metadata_io.h
Labels: area/redpanda

c/rm_stm: remove feature::transaction_ga check
  src/v/cluster/rm_stm.cc
Labels: area/redpanda

iceberg: lift to_uri to metadata_io
  src/v/iceberg/manifest_io.cc
  src/v/iceberg/manifest_io.h
  src/v/iceberg/metadata_io.h
  src/v/iceberg/table_io.cc
  src/v/iceberg/table_io.h
  src/v/iceberg/tests/rest_catalog_test.cc
  src/v/iceberg/tests/uri_test.cc
  src/v/iceberg/uri.h
Labels: area/redpanda

rpc: don't wait for the obsolete feature on start
  src/v/redpanda/application.cc
  src/v/rpc/rpc_server.cc
  src/v/rpc/rpc_server.h
  src/v/rpc/test/rpc_gen_cycling_test.cc
Labels: area/redpanda

c/node_status_backend: don't check retired feature
  src/v/cluster/node_status_backend.cc
Labels: area/redpanda

k/server: do not check feature::kafka_gssapi
  src/v/kafka/server/server.cc
Labels: area/redpanda

k/server: do not check feature::node_isolation
  src/v/kafka/server/BUILD
  src/v/kafka/server/handlers/details/isolated_node_utils.h
  src/v/kafka/server/handlers/metadata.cc
Labels: area/redpanda

Revert "tests: added ability to run ducktape datalake tests with serde parquet"
  tests/rptest/services/redpanda.py
  tests/rptest/tests/datalake/datalake_e2e_test.py
  tests/rptest/tests/datalake/rest_catalog_connection_test.py
Labels: none

c/controller_backend: do not check old feature
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
  src/v/cluster/feature_manager.cc
Labels: area/redpanda

iceberg/tests: use correct bucket name
  src/v/iceberg/tests/merge_append_action_test.cc
  src/v/iceberg/tests/metadata_query_test.cc
Labels: area/redpanda

raft: don't check retired feature
  src/v/raft/consensus.cc
  src/v/raft/group_manager.cc
Labels: area/redpanda

c/tx_gateway_frontend: remove dead code
  src/v/cluster/tx_gateway_frontend.h
Labels: area/redpanda

datalake: use serde parquet writer as a default
  src/v/datalake/translation/partition_translator.cc
Labels: area/redpanda

c/members_manager: do not check retired feature
  src/v/cluster/members_manager.cc
Labels: area/redpanda

iceberg: remove unused method manifest_io::uri_base
  src/v/iceberg/manifest_io.cc
  src/v/iceberg/manifest_io.h
Labels: area/redpanda

[rptest] support operator V2 in HTT
  tests/rptest/redpanda_cloud_tests/high_throughput_test.py
Labels: none

rptest: skip assert-unreachable logger in log_level-test
  tests/rptest/tests/log_level_test.py
Labels: none

cluster: Avoid oversized alloc in partition_manager
  src/v/cluster/cloud_metadata/tests/cluster_recovery_backend_test.cc
  src/v/cluster/partition_manager.h
  src/v/model/BUILD
  src/v/model/ktp.h
  src/v/transform/rpc/tests/transform_rpc_test.cc
Labels: area/redpanda

c/ephemeral_credential_FE: don't check old feature
  src/v/cluster/ephemeral_credential_frontend.cc
  src/v/cluster/tests/ephemeral_credential_test.cc
Labels: area/redpanda

feature_table: remove unused feature flags
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
Labels: area/redpanda

iceberg: azure uri scheme support
  src/v/cloud_io/BUILD
  src/v/cloud_io/provider.h
  src/v/cloud_io/remote.cc
  src/v/cloud_io/remote.h
  src/v/iceberg/BUILD
  src/v/iceberg/metadata_io.h
  src/v/iceberg/tests/BUILD
  src/v/iceberg/tests/CMakeLists.txt
  src/v/iceberg/tests/uri_bench.cc
  src/v/iceberg/tests/uri_test.cc
  src/v/iceberg/uri.cc
  src/v/iceberg/uri.h
Labels: area/redpanda

feat/tests: use new features to retire older ones
  src/v/features/tests/feature_table_test.cc
Labels: area/redpanda

config: added missing rest catalog properties
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

tests/polaris: added ability to setup polaris catalog with tls
  tests/rptest/services/polaris_catalog.py
  tests/rptest/services/templates/polaris-server.yml
Labels: none

datalake/configs: remove datalake_translation_interval_ms
  src/v/cloud_storage/tests/topic_manifest_test.cc
  src/v/cluster/topic_configuration.cc
  src/v/cluster/topic_properties.cc
  src/v/cluster/topic_properties.h
  src/v/cluster/topic_table.cc
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/compat/cluster_generator.h
  src/v/compat/cluster_json.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/datalake/datalake_manager.cc
  src/v/datalake/datalake_manager.h
  src/v/datalake/tests/fixture.h
  src/v/datalake/tests/translator_test.cc
  src/v/kafka/server/handlers/alter_configs.cc
  src/v/kafka/server/handlers/configs/config_response_utils.cc
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/handlers/incremental_alter_configs.cc
  src/v/kafka/server/handlers/topics/types.cc
  src/v/kafka/server/handlers/topics/types.h
  src/v/kafka/server/tests/alter_config_test.cc
  src/v/storage/ntp_config.h
  src/v/storage/types.cc
  tests/rptest/clients/types.py
  tests/rptest/tests/datalake/datalake_services.py
  tests/rptest/tests/datalake/rest_catalog_connection_test.py
  tests/rptest/tests/describe_topics_test.py
  tests/rptest/tests/polaris_catalog_smoke_test.py
  tools/offline_log_viewer/controller.py
Labels: area/redpanda

topic/properties: introduce iceberg_mode enum
  src/v/model/metadata.h
  src/v/model/model.cc
Labels: area/redpanda

datalake: add missing bazel dep
  src/v/datalake/BUILD
Labels: area/redpanda

tests: update polaris version to latest rc
  tests/docker/ducktape-deps/polaris
  tests/rptest/services/polaris_catalog.py
  tests/rptest/services/templates/polaris-server.yml
Labels: none

tests: test redpanda connection to polaris catalog
  tests/rptest/tests/polaris_catalog_smoke_test.py
Labels: none

datalake/tests: bump coordinator snapshot timeout
  tests/rptest/tests/datalake/coordinator_retention_test.py
Labels: none

cluster: add iceberg_delete topic property
  src/v/cloud_storage/tests/topic_manifest_test.cc
  src/v/cluster/topic_properties.cc
  src/v/cluster/topic_properties.h
  src/v/compat/cluster_generator.h
  tools/offline_log_viewer/controller.py
Labels: area/redpanda

rpk: modify CTA in license warning
  src/go/rpk/pkg/adminapi/admin.go
  src/go/rpk/pkg/adminapi/admin_test.go
Labels: area/rpk

config: introduce iceberg_delete cluster config property
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

datalake/translation: use record translator based on iceberg mode
  src/v/datalake/BUILD
  src/v/datalake/datalake_manager.cc
  src/v/datalake/datalake_manager.h
  src/v/datalake/tests/fixture.h
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
Labels: area/redpanda

datalake: added catalog_factory class
  src/v/datalake/coordinator/BUILD
  src/v/datalake/coordinator/catalog_factory.cc
  src/v/datalake/coordinator/catalog_factory.h
  src/v/datalake/coordinator/coordinator_manager.cc
  src/v/datalake/coordinator/coordinator_manager.h
  src/v/datalake/datalake_manager.cc
  src/v/datalake/datalake_manager.h
  src/v/datalake/fwd.h
  src/v/redpanda/application.cc
Labels: area/redpanda

schema_registry: Add cache metrics
  src/v/pandaproxy/schema_registry/store.h
Labels: area/redpanda

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']
