Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

rptest: test cloud storage cache manual trim behavior
  tests/rptest/tests/cloud_storage_cache_test.py
Labels: none

admin: document query params for /v1/cloud_storage/cache/trim
  src/v/redpanda/admin/api-doc/shadow_indexing.json
Labels: area/redpanda

`storage`: fix race between `new_segment()` and `close()`
  src/v/storage/disk_log_impl.cc
  src/v/storage/tests/storage_e2e_fixture_test.cc
Labels: area/redpanda

`datalake`: add `compaction_test.py`
  tests/rptest/tests/datalake/compaction_test.py
Labels: none

cluster: Remove consistency check from the archival STM
  src/v/cluster/archival/archival_metadata_stm.cc
  src/v/cluster/archival/tests/archival_metadata_stm_gtest.cc
  src/v/cluster/errc.h
  src/v/cluster/errors.cc
  src/v/config/configuration.cc
  src/v/kafka/server/errors.h
Labels: area/redpanda

config: Deprecate cloud_storage_disable_metadata_consistency_checks
  src/v/config/configuration.h
Labels: area/redpanda

archival: Use RW-fence in housekeeping
  src/v/cluster/archival/adjacent_segment_merger.cc
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/ntp_archiver_service.h
Labels: area/redpanda

storage: Add compaction test
  src/v/storage/tests/BUILD
  src/v/storage/tests/CMakeLists.txt
  src/v/storage/tests/compaction_fuzz_test.cc
Labels: area/redpanda

archival: Use rw-fence in retention/GC code
  src/v/cluster/archival/ntp_archiver_service.cc
Labels: area/redpanda

`disk_log_builder`: add `apply_sliding_window_compact()`
  src/v/storage/tests/storage_e2e_test.cc
  src/v/storage/tests/utils/disk_log_builder.cc
  src/v/storage/tests/utils/disk_log_builder.h
Labels: area/redpanda

fetch: Switch to chunked_vector for shard_fetch.requests
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/fetch.h
Labels: area/redpanda

ntp_callbacks: Switch to chunked_hash_map
  src/v/cluster/ntp_callbacks.h
Labels: area/redpanda

tx/group/compaction: ignore tx_fence batches
  src/v/kafka/server/group_data_parser.h
  src/v/kafka/server/group_stm.cc
  src/v/kafka/server/group_tx_tracker_stm.cc
Labels: area/redpanda

group/tx: add a ducktape test for compactibility of consumer_offsets
  tests/rptest/transactions/consumer_offsets_test.py
Labels: none

fixup! update first ntp-archiver commit (log formatting changed)
  src/v/cluster/archival/ntp_archiver_service.cc
Labels: area/redpanda

fixup! update commit that enables rw-fence in housekeeping (log formatting)
  src/v/cluster/archival/ntp_archiver_service.cc
Labels: area/redpanda

archival: Add debug logging (temporary) to archival STM
  src/v/cluster/archival/archival_metadata_stm.cc
Labels: area/redpanda

compaction fuzz test changes
  src/v/storage/tests/compaction_fuzz_test.cc
Labels: area/redpanda

archival: Deduplicate archival STM commands
  src/v/cluster/archival/archival_metadata_stm.cc
Labels: area/redpanda

archival: Deduplicate archival STM commands
  src/v/cluster/archival/archival_metadata_stm.cc
Labels: area/redpanda

dl/manager: break concurrent translations semaphore
  src/v/datalake/datalake_manager.cc
Labels: area/redpanda

test https://github.com/redpanda-data/seastar/pull/164
  cmake/dependencies.cmake
Labels: area/build

rptest: support logger level overrides when running mixed version
  tests/rptest/services/redpanda.py
Labels: none

storage: Improve logging in 'offset_range_size'method
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda

archival: Use dumb pointer in async_data_uploader
  src/v/cluster/archival/archiver_operations_impl.cc
  src/v/cluster/archival/async_data_uploader.cc
  src/v/cluster/archival/async_data_uploader.h
  src/v/cluster/archival/tests/async_data_uploader_test.cc
Labels: area/redpanda

archiver: Implement upload based on async_data_uploader
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/ntp_archiver_service.h
Labels: area/redpanda

rptest: upgrade kgo-verifier with additional dataloss checks
  tests/docker/ducktape-deps/kgo-verifier
Labels: none

tests: made fast partition movement test a bit more tolerant
  tests/rptest/tests/scaling_up_test.py
Labels: none

datalake: refactor sm interface to decouple it from topics
  src/v/datalake/catalog_schema_manager.cc
  src/v/datalake/catalog_schema_manager.h
  src/v/datalake/coordinator/tests/iceberg_file_committer_test.cc
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/table_creator.cc
  src/v/datalake/tests/catalog_schema_manager_test.cc
Labels: area/redpanda

datalake: extract table id provider
  src/v/datalake/BUILD
  src/v/datalake/catalog_schema_manager.cc
  src/v/datalake/catalog_schema_manager.h
  src/v/datalake/coordinator/BUILD
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/datalake/coordinator/iceberg_file_committer.h
  src/v/datalake/coordinator/tests/BUILD
  src/v/datalake/coordinator/tests/iceberg_file_committer_test.cc
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
  src/v/datalake/table_creator.cc
  src/v/datalake/table_creator.h
  src/v/datalake/table_identifier_provider.h
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/catalog_schema_manager_test.cc
Labels: area/redpanda

datalake: extract method for updating mux result
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
Labels: area/redpanda

datalake: change mux::handle_invalid_record interface
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
Labels: area/redpanda

datalake: extract some mux logic in a separate function
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
Labels: area/redpanda

dt: e2e test crash tracker
  tests/rptest/services/redpanda.py
  tests/rptest/tests/crash_loop_checks_test.py
Labels: none

WIP
  src/v/CMakeLists.txt
  src/v/config/node_config.h
  src/v/crash_tracker/BUILD
  src/v/crash_tracker/CMakeLists.txt
  src/v/crash_tracker/limiter.cc
  src/v/crash_tracker/limiter.h
  src/v/crash_tracker/logger.cc
  src/v/crash_tracker/logger.h
  src/v/crash_tracker/prepared_writer.cc
  src/v/crash_tracker/prepared_writer.h
  src/v/crash_tracker/recorder.cc
  src/v/crash_tracker/recorder.h
  src/v/crash_tracker/service.cc
  src/v/crash_tracker/service.h
  src/v/crash_tracker/types.cc
  src/v/crash_tracker/types.h
  src/v/redpanda/BUILD
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  tests/rptest/remote_scripts/compute_storage.py
Labels: area/redpanda

datalake: lift table_id generation from table_creator
  src/v/datalake/BUILD
  src/v/datalake/coordinator/BUILD
  src/v/datalake/coordinator/coordinator.cc
  src/v/datalake/coordinator/coordinator.h
  src/v/datalake/coordinator/frontend.cc
  src/v/datalake/coordinator/tests/BUILD
  src/v/datalake/coordinator/tests/coordinator_test.cc
  src/v/datalake/coordinator/tests/state_machine_test.cc
  src/v/datalake/coordinator/tests/state_test_utils.h
  src/v/datalake/coordinator/types.h
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/table_creator.cc
  src/v/datalake/table_creator.h
  src/v/datalake/translation/partition_translator.cc
Labels: area/redpanda

iceberg: serde for table identifier
  src/v/datalake/coordinator/tests/iceberg_file_committer_test.cc
  src/v/datalake/tests/record_multiplexer_test.cc
  src/v/iceberg/BUILD
  src/v/iceberg/table_identifier.h
Labels: area/redpanda

redpanda: configurable sleep on crash loop
  src/v/config/node_config.cc
  src/v/config/node_config.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
Labels: area/redpanda

dt: test `crash_loop_sleep` config
  tests/rptest/services/redpanda.py
  tests/rptest/tests/crash_loop_checks_test.py
Labels: none

ignore: test pipeline
  src/v/CMakeLists.txt
Labels: area/redpanda
