Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

serde/protobuf: add protobuf data_generator
  src/v/serde/protobuf/CMakeLists.txt
  src/v/serde/protobuf/tests/BUILD
  src/v/serde/protobuf/tests/CMakeLists.txt
  src/v/serde/protobuf/tests/data_generator.cc
  src/v/serde/protobuf/tests/data_generator.h
Labels: area/redpanda

datalake: add protobuf support to record_generator
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/CMakeLists.txt
  src/v/datalake/tests/record_generator.cc
  src/v/datalake/tests/record_generator.h
Labels: area/redpanda

treewide: refactor avro data_generator
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/datalake_avro_tests.cc
  src/v/datalake/tests/record_generator.cc
  src/v/datalake/tests/record_generator.h
  src/v/serde/avro/tests/data_generator.cc
  src/v/serde/avro/tests/data_generator.h
  src/v/serde/avro/tests/parser_test.cc
Labels: area/redpanda

utils: move null_output_stream to utils
  src/v/storage/BUILD
  src/v/storage/offset_to_filepos.cc
  src/v/utils/BUILD
  src/v/utils/null_output_stream.h
Labels: area/redpanda

datalake: add record_multiplexer microbenchmark
  src/v/datalake/tests/CMakeLists.txt
  src/v/datalake/tests/record_multiplexer_bench.cc
Labels: area/redpanda

datalake: add test_serde_parquet_data_writer
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/test_data_writer.h
Labels: area/redpanda

archival: Use read-write fence in the ntp_archiver
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cloud_storage/tests/delete_records_e2e_test.cc
  src/v/cloud_storage/tests/produce_utils.h
  src/v/cloud_storage/tests/topic_namespace_override_recovery_test.cc
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/ntp_archiver_service.h
  src/v/cluster/archival/tests/ntp_archiver_test.cc
  src/v/cluster/archival/tests/service_fixture.cc
  src/v/cluster/cloud_metadata/tests/cluster_recovery_backend_test.cc
Labels: area/redpanda

cluster: Remove consistency check from the archival STM
  src/v/cluster/archival/archival_metadata_stm.cc
  src/v/config/configuration.cc
Labels: area/redpanda

config: Deprecate cloud_storage_disable_metadata_consistency_checks
  src/v/config/configuration.h
Labels: area/redpanda

iceberg: Introduce compatibility module
  src/v/iceberg/BUILD
  src/v/iceberg/CMakeLists.txt
  src/v/iceberg/compatibility.cc
  src/v/iceberg/compatibility.h
  src/v/iceberg/tests/BUILD
  src/v/iceberg/tests/CMakeLists.txt
  src/v/iceberg/tests/compatibility_test.cc
Labels: area/redpanda

datalake: Update catalog_schema_manager to support type promotion
  src/v/datalake/BUILD
  src/v/datalake/catalog_schema_manager.cc
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/catalog_schema_manager_test.cc
Labels: area/redpanda

archival: Convert assertion to exception
  src/v/cluster/archival/archival_policy.cc
Labels: area/redpanda

bazel: gitignore the external workspace link
  .gitignore
Labels: none

`datalake`: add `translation/utils.cc`
  src/v/datalake/translation/BUILD
  src/v/datalake/translation/CMakeLists.txt
  src/v/datalake/translation/tests/BUILD
  src/v/datalake/translation/tests/CMakeLists.txt
  src/v/datalake/translation/tests/state_machine_test.cc
  src/v/datalake/translation/tests/translated_log_offset_test.cc
  src/v/datalake/translation/utils.cc
  src/v/datalake/translation/utils.h
Labels: area/redpanda

`rptest`: make `datalake_verifier` compaction aware
  tests/rptest/tests/datalake/datalake_verifier.py
Labels: none

`datalake`: add `highest_translated_log_offset` to various objects
  src/v/datalake/translation/state_machine.cc
  src/v/datalake/translation/state_machine.h
  src/v/datalake/translation/types.h
Labels: area/redpanda

`rptest`: add `clean` parsing to `kgo_verifier_services::oneshot()`
  tests/rptest/services/kgo_verifier_services.py
Labels: none

`datalake`: plumb `highest_translated_log_offset` throughout
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/state_machine.cc
  src/v/datalake/translation/state_machine.h
  src/v/datalake/translation/tests/state_machine_test.cc
Labels: area/redpanda

`datalake`: add `compaction_test.py`
  tests/rptest/tests/datalake/compaction_test.py
Labels: none

bazel: add a compilation database generator in Golang
  BUILD
  bazel/compilation_database_generator/BUILD
  bazel/compilation_database_generator/main.go
Labels: none

[draft] test compaction with reconfiguration
  src/v/raft/tests/raft_fixture.cc
  src/v/raft/tests/raft_reconfiguration_test.cc
  src/v/storage/log_manager.cc
  tools/cmake_test.py
Labels: area/redpanda

dt/datalake: Basic integration test for schema evolution
  tests/rptest/tests/datalake/schema_evolution_test.py
Labels: none

bazel/compilation_database_generator: add -iquote src/v
  bazel/compilation_database_generator/main.go
Labels: none

ntp_callbacks: Switch to chunked_hash_map
  src/v/cluster/ntp_callbacks.h
Labels: area/redpanda

fetch: Switch to chunked_vector for shard_fetch.requests
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/fetch.h
Labels: area/redpanda

bazel/compilation_database_generator: remap compiler paths
  bazel/compilation_database_generator/main.go
Labels: none

bazel: remove hedron compilation database generator
  BUILD
  MODULE.bazel
  MODULE.bazel.lock
Labels: none

bazel: add target for fuzzing testing
  .bazelrc
  bazel/BUILD
  bazel/test.bzl
Labels: none

bytes: bazelize iobuf_fuzz
  src/v/bytes/tests/BUILD
  src/v/bytes/tests/iobuf_fuzz.cc
Labels: area/redpanda

bazel/cc_gen: remove tool compilation and add seastar
  bazel/compilation_database_generator/main.go
Labels: none

dt: Added test to exercise SASL/PLAIN using various clients
  tests/rptest/tests/scram_test.py
Labels: none

security/test: Added unit tests for plain authenticator
  src/v/security/tests/BUILD
  src/v/security/tests/CMakeLists.txt
  src/v/security/tests/plain_authenticator_test.cc
Labels: area/redpanda

dt: Permitted selection of SASL algorithm with kafka cli
  tests/rptest/clients/kafka_cli_tools.py
Labels: none

archival: Use RW-fence in housekeeping
  src/v/cluster/archival/adjacent_segment_merger.cc
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/ntp_archiver_service.h
Labels: area/redpanda

memory_groups: Add startup log of all memory group allocations
  src/v/redpanda/application.cc
  src/v/resource_mgmt/BUILD
  src/v/resource_mgmt/memory_groups.cc
  src/v/resource_mgmt/memory_groups.h
Labels: area/redpanda

dt/datalake: Basic integration test for schema evolution
  tests/rptest/tests/datalake/schema_evolution_test.py
Labels: none

rpk: update topic describe help text
  src/go/rpk/pkg/cli/topic/describe.go
Labels: area/rpk

rptest/s: always cleanup azurite containers to avoid slowdown
  tests/rptest/services/redpanda.py
Labels: none

tests: added validation of offset translator consistency in ducktape
  tests/rptest/tests/ot_consistency_test.py
  tests/rptest/utils/node_operations.py
Labels: none

tests: validate offset translator state in random_node_operations_test
  tests/rptest/tests/random_node_operations_test.py
Labels: none
