Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

rpk shadow: update replace the entire configuration
  src/go/rpk/pkg/cli/shadow/BUILD
  src/go/rpk/pkg/cli/shadow/update.go
  src/go/rpk/pkg/cli/shadow/update_test.go
  tests/rptest/clients/rpk.py
  tests/rptest/tests/rpk_shadow_link_test.py
Labels: area/rpk

shadow_link: add INPUT_ONLY field coverage test
  src/v/redpanda/admin/services/shadow_link/tests/BUILD
  src/v/redpanda/admin/services/shadow_link/tests/input_only_fields_test.cc
Labels: area/redpanda

rpk shadow: simplify update command flow
  src/go/rpk/pkg/cli/shadow/BUILD
  src/go/rpk/pkg/cli/shadow/create.go
  src/go/rpk/pkg/cli/shadow/delete.go
  src/go/rpk/pkg/cli/shadow/describe.go
  src/go/rpk/pkg/cli/shadow/list.go
  src/go/rpk/pkg/cli/shadow/shadow.go
  src/go/rpk/pkg/cli/shadow/update.go
Labels: area/rpk

cloud_topics: stop manifest upload loop on topic deletion
  src/v/cloud_topics/manager/manager.cc
Labels: area/redpanda

cloud_topics: read manifest config from topic table
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/topic_manifest_upload_manager.cc
Labels: area/redpanda

rpk: use pagination when listing secrets from cloud
  src/go/rpk/pkg/cli/security/secret/list.go
  src/go/rpk/pkg/cli/shadow/create.go
  src/go/rpk/pkg/publicapi/BUILD
  src/go/rpk/pkg/publicapi/dataplane.go
  src/go/rpk/pkg/publicapi/dataplane_test.go
Labels: area/rpk

rpk: use pagination when listing secrets from cloud
  src/go/rpk/pkg/cli/security/secret/list.go
  src/go/rpk/pkg/cli/shadow/create.go
  src/go/rpk/pkg/publicapi/BUILD
  src/go/rpk/pkg/publicapi/dataplane.go
  src/go/rpk/pkg/publicapi/dataplane_test.go
Labels: area/rpk

`security`: replace ACL store contents atomically
  src/v/security/acl.cc
  src/v/security/acl_store.h
  src/v/security/tests/authorizer_test.cc
Labels: area/redpanda

`cluster`: apply security snapshot state to each shard atomically
  src/v/cluster/security_manager.cc
  src/v/cluster/security_manager.h
  src/v/cluster/tests/BUILD
  src/v/cluster/tests/security_snapshot_apply_test.cc
Labels: area/redpanda

`security`: replace ACL store contents atomically
  src/v/security/acl.cc
  src/v/security/acl_store.h
  src/v/security/tests/authorizer_test.cc
Labels: area/redpanda

`cluster`: apply security snapshot state to each shard atomically
  src/v/cluster/security_manager.cc
  src/v/cluster/security_manager.h
  src/v/cluster/tests/BUILD
  src/v/cluster/tests/security_snapshot_apply_test.cc
Labels: area/redpanda

rpk/connect: don't cap version segments at two digits
  src/go/rpk/pkg/cli/connect/BUILD
  src/go/rpk/pkg/cli/connect/install.go
  src/go/rpk/pkg/cli/connect/install_test.go
Labels: area/rpk

tools/antithesis: line-buffer stdout for ordered stage headers
  tools/antithesis/at_common.py
Labels: none

tools/antithesis: push to the registry only on request
  tools/antithesis/at_common.py
  tools/antithesis/ducktape_test_package.py
  tools/antithesis/single_binary_test_package.py
Labels: none

tools/antithesis: default packaged tests to info logging
  tools/antithesis/single_binary_test_package.py
Labels: none

tools/antithesis: extend submit_test_run for run naming and history
  tools/antithesis/at_common.py
Labels: none

tools/antithesis: improve single_binary_test_package --help
  tools/antithesis/at_common.py
  tools/antithesis/single_binary_test_package.py
Labels: none

tools/antithesis: tag images by image ID and name submitted runs
  tools/antithesis/at_common.py
  tools/antithesis/ducktape_test_package.py
  tools/antithesis/single_binary_test_package.py
Labels: none

tools/antithesis: resolve target attributes with the build configuration
  tools/antithesis/single_binary_test_package.py
Labels: none

tools/antithesis: drop dynamic ducktape image names
  tools/antithesis/ducktape_test_package.py
Labels: none

tools/antithesis: force-recreate containers in the printed run command
  tools/antithesis/ducktape_test_package.py
Labels: none

tools/antithesis: share strict Jinja2 template rendering
  tools/antithesis/at_common.py
  tools/antithesis/ducktape_test_package.py
  tools/antithesis/single_binary_test_package.py
Labels: none

tools/antithesis: share Bazel packaging-build helpers and flags
  tools/antithesis/at_common.py
  tools/antithesis/ducktape_test_package.py
  tools/antithesis/single_binary_test_package.py
Labels: none

tools/antithesis: name single-binary packages bazel-target
  tools/antithesis/single_binary_deps/compose.yaml.j2
  tools/antithesis/single_binary_test_package.py
Labels: none

tools/antithesis: rename the test template dir to main
  tools/antithesis/bazel_target.py
Labels: none

tools/antithesis: print a runnable command for every driver
  tools/antithesis/single_binary_test_package.py
Labels: none

tools/antithesis: keep the config image stable across image rebuilds
  tools/antithesis/at_common.py
  tools/antithesis/ducktape_test_package.py
  tools/antithesis/single_binary_test_package.py
Labels: none

tools/antithesis: share the config-image build
  tools/antithesis/at_common.py
  tools/antithesis/ducktape_test_package.py
  tools/antithesis/single_binary_deps/config.Dockerfile
  tools/antithesis/single_binary_test_package.py
Labels: none

tools/antithesis: make the output user friendly
  tools/antithesis/at_common.py
  tools/antithesis/ducktape_test_package.py
  tools/antithesis/single_binary_test_package.py
Labels: none

tools/antithesis: require --duration with --submit
  tools/antithesis/at_common.py
  tools/antithesis/bazel_target.py
Labels: none

tools/antithesis: pin the bazel-target run fault posture
  tools/antithesis/bazel_target.py
Labels: none

tools/antithesis: rename single_binary_test_package to bazel_target
  tools/antithesis/at_common.py
  tools/antithesis/bazel_target.py
  tools/antithesis/bazel_target_deps/bazel-target.Dockerfile.j2
  tools/antithesis/bazel_target_deps/compose.yaml.j2
  tools/antithesis/bazel_target_deps/entrypoint.sh
  tools/antithesis/bazel_target_deps/singleton_driver.sh.j2
Labels: none

cloud_topics: read manifest config from topic table
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/topic_manifest_upload_manager.cc
Labels: area/redpanda

cloud_topics: stop manifest upload loop on topic deletion
  src/v/cloud_topics/manager/manager.cc
Labels: area/redpanda

cloud_topics: stop manifest upload loop on topic deletion
  src/v/cloud_topics/manager/manager.cc
Labels: area/redpanda

cloud_topics: read manifest config from topic table
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/topic_manifest_upload_manager.cc
Labels: area/redpanda

kafka/client/test: drop ordering assertion for concurrent dispatch
  src/v/kafka/client/test/cluster_test.cc
Labels: area/redpanda

hashing/tests: benchmark crc32c against abseil
  src/v/hashing/tests/BUILD
  src/v/hashing/tests/crc_bench.cc
Labels: area/redpanda

hashing/tests: pin crc32c values with rfc 3720 vectors
  src/v/hashing/tests/BUILD
  src/v/hashing/tests/crc32c_tests.cc
Labels: area/redpanda

ct/l1: let flushes skip recently flushed domains
  src/v/cloud_topics/level_one/domain/db_domain_manager.cc
  src/v/cloud_topics/level_one/domain/db_domain_manager.h
  src/v/cloud_topics/level_one/metastore/metastore.h
  src/v/cloud_topics/level_one/metastore/replicated_metastore.cc
  src/v/cloud_topics/level_one/metastore/replicated_metastore.h
  src/v/cloud_topics/level_one/metastore/rpc_types.h
  src/v/cloud_topics/level_one/metastore/simple_metastore.h
  src/v/cloud_topics/level_one/metastore/tests/BUILD
  src/v/cloud_topics/level_one/metastore/tests/replicated_metastore_test.cc
  src/v/cloud_topics/read_replica/snapshot_metastore.cc
  src/v/cloud_topics/read_replica/snapshot_metastore.h
Labels: area/redpanda
