Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

security: expose whether a request_auth_result was checked
  src/v/security/request_auth.h
Labels: area/redpanda

sr: enforce deferred authz after the handler completes
  src/v/pandaproxy/schema_registry/auth.cc
  src/v/pandaproxy/schema_registry/auth.h
  src/v/pandaproxy/schema_registry/authorization.cc
  src/v/pandaproxy/schema_registry/authorization.h
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/handlers.h
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/test/BUILD
  src/v/pandaproxy/schema_registry/test/deferred_auth.cc
Labels: area/redpanda

dt/sr: let the ACL authz test base size the cluster
  tests/rptest/tests/schema_registry_test.py
Labels: none

kafka/server: reject client-produced control batches
  src/v/cloud_topics/level_zero/stm/placeholder.cc
  src/v/kafka/server/handlers/produce_validation.cc
  src/v/kafka/server/tests/produce_invalid_batch_test.cc
Labels: area/redpanda

kafka/server: reject client-produced control batches
  src/v/cloud_topics/level_zero/stm/placeholder.cc
  src/v/kafka/server/handlers/produce_validation.cc
  src/v/kafka/server/tests/produce_invalid_batch_test.cc
Labels: area/redpanda

kafka/server: reject client-produced control batches
  src/v/cloud_topics/level_zero/stm/placeholder.cc
  src/v/kafka/server/handlers/produce_validation.cc
  src/v/kafka/server/tests/produce_invalid_batch_test.cc
Labels: area/redpanda

sr: log the real cause behind /schemas/ids 403s
  src/v/pandaproxy/schema_registry/authorization.cc
Labels: area/redpanda

dt/sr: cover deferred authz failures before the check
  tests/rptest/tests/schema_registry_test.py
Labels: none

kafka/server/tests: benchmark homogeneous assignment
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/consumer_group_assignor_bench.cc
Labels: area/redpanda

kafka/server: add the uniform assignor for homogeneous groups
  src/v/kafka/server/BUILD
  src/v/kafka/server/uniform_assignor.cc
  src/v/kafka/server/uniform_assignor.h
Labels: area/redpanda

kafka/server/tests: test homogeneous assignment
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/consumer_group_assignor_test.cc
Labels: area/redpanda

kafka/server: extend the uniform assignor to heterogeneous groups
  src/v/kafka/server/uniform_assignor.cc
Labels: area/redpanda

kafka/server/tests: benchmark heterogeneous assignment
  src/v/kafka/server/tests/consumer_group_assignor_bench.cc
Labels: area/redpanda

kafka/server/tests: test heterogeneous assignment
  src/v/kafka/server/tests/consumer_group_assignor_test.cc
Labels: area/redpanda

k/s: keep the last value for a duplicate partition in an offset commit
  src/v/kafka/server/group.cc
  src/v/kafka/server/tests/offset_store_test.cc
Labels: area/redpanda

utils/tests: add benchmarks for post-yield task scheduling
  src/v/utils/tests/coro_bench.cc
Labels: area/redpanda

bazel/seastar: schedule value and coroutine returns urgently
  bazel/repositories.bzl
  bazel/thirdparty/seastar-urgent-set-value.patch
Labels: none

rpk: expose the stretch cluster dashboard as --dashboard operations-stretch
  src/go/rpk/pkg/cli/generate/grafana.go
  src/go/rpk/pkg/cli/generate/grafana_test.go
Labels: area/rpk

docs: treat user-facing doc strings as documentation
  .claude/skills/doc-strings/SKILL.md
  .github/pull_request_template.md
  .github/workflows/doc-strings-review.yml
  CLAUDE.md
Labels: area/build

datalake: honor write.parquet.compression-codec table property
  src/v/datalake/BUILD
  src/v/datalake/parquet_write_config.cc
  src/v/datalake/parquet_write_config.h
  src/v/datalake/serde_parquet_writer.cc
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/parquet_write_config_test.cc
Labels: area/redpanda

datalake: honor per-column bloom filter table properties
  src/v/datalake/BUILD
  src/v/datalake/parquet_write_config.cc
  src/v/datalake/parquet_write_config.h
  src/v/datalake/serde_parquet_writer.cc
  src/v/datalake/serde_parquet_writer.h
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/parquet_write_config_test.cc
  src/v/datalake/tests/resolve_bloom_filter_columns_test.cc
  src/v/serde/parquet/BUILD
  src/v/serde/parquet/tests/BUILD
  src/v/serde/parquet/tests/writer_test.cc
  src/v/serde/parquet/writer.cc
  src/v/serde/parquet/writer.h
Labels: area/redpanda

DNM: point seastar at td-urgent-sched for a /microbench run
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

gha: backport — push branches directly instead of via a bot fork
  .github/workflows/backport-command.yml
  .github/workflows/scripts/backport-command/create_pr.sh
  .github/workflows/scripts/backport-command/pr_details.sh
Labels: area/build

utils: pass the eviction source to the evictor
  src/v/lsm/db/table_cache.cc
  src/v/utils/chunked_kv_cache.h
  src/v/utils/s3_fifo.h
  src/v/utils/tests/s3_fifo_test.cc
Labels: area/redpanda

lsm/db: reclaim table_cache index entries for main-queue evictions
  src/v/lsm/db/BUILD
  src/v/lsm/db/table_cache.cc
Labels: area/redpanda

utils: fix unbounded chunked_kv_cache index growth
  src/v/utils/chunked_kv_cache.h
  src/v/utils/tests/chunked_kv_cache_test.cc
Labels: area/redpanda

pandaproxy/rest: return table identity for pre-translation iceberg topics
  src/v/pandaproxy/rest/iceberg_handlers.cc
  tests/rptest/tests/datalake/iceberg_translation_state_test.py
Labels: area/redpanda

pandaproxy/rest: return table identity for pre-translation iceberg topics
  src/v/pandaproxy/rest/iceberg_handlers.cc
  tests/rptest/tests/datalake/iceberg_translation_state_test.py
Labels: area/redpanda

kafka/server: Pass a string view to to consensus::step_down
  src/v/kafka/server/offset_writer.cc
Labels: area/redpanda

iceberg/parquet: track nan_value_count through the stats pipeline
  src/v/datalake/base_types.h
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/datalake/coordinator/tests/iceberg_file_committer_test.cc
  src/v/datalake/serde_parquet_writer.cc
  src/v/serde/parquet/column_stats_collector.h
  src/v/serde/parquet/column_writer.cc
  src/v/serde/parquet/column_writer.h
  src/v/serde/parquet/tests/writer_test.cc
  src/v/serde/parquet/writer.cc
  src/v/serde/parquet/writer.h
Labels: area/redpanda

iceberg: populate contains_nan in manifest partition summaries
  src/v/iceberg/merge_append_action.cc
  src/v/iceberg/tests/merge_append_action_test.cc
Labels: area/redpanda

rptest: add a cheap OMB self test for the CDT smoke suite
  tests/rptest/services/openmessaging_benchmark_configs.py
  tests/rptest/tests/services_self_test.py
Labels: none

rptest: detect OMB start without requiring a warm-up phase
  tests/rptest/services/openmessaging_benchmark.py
Labels: none

tests: add a CDT smoke suite covering the ducktape image dependencies
  tests/rptest/test_suite_cdt_smoke.yml
Labels: none

rpk shadow: support role sync for Redpanda Cloud links
  buf.gen.yaml
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/shadow/config.go
  src/go/rpk/pkg/cli/shadow/create.go
  src/go/rpk/pkg/cli/shadow/create_test.go
  src/go/rpk/pkg/cli/shadow/describe.go
  src/go/rpk/pkg/cli/shadow/mapper.go
  src/go/rpk/pkg/cli/shadow/mapper_test.go
  src/go/rpk/pkg/cli/shadow/update.go
Labels: area/rpk

bazel: bump rules_python to 2.3.1
  MODULE.bazel
  MODULE.bazel.lock
Labels: none

bazel: cap the http downloader retry backoff
  .bazelrc
Labels: none

serde: reject scalar reads that start past the end of the scope
  src/v/serde/rw/scalar.h
  src/v/serde/test/serde_test.cc
Labels: area/redpanda

serde: bound container reserve() by the bytes on the wire
  src/v/serde/rw/map.h
  src/v/serde/rw/reservable.h
  src/v/serde/rw/set.h
  src/v/serde/rw/vector.h
Labels: area/redpanda

serde/test: fuzz the decode path, not just the round trip
  src/v/serde/test/BUILD
  src/v/serde/test/fuzz.cc
Labels: area/redpanda

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']
