Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

cl/tests: Added fake_topic_creator to fixture
  src/v/cluster_link/tests/deps.cc
  src/v/cluster_link/tests/deps.h
Labels: area/redpanda

cl: Wire in topic_creator into manager
  src/v/cluster_link/link.cc
  src/v/cluster_link/link.h
  src/v/cluster_link/manager.cc
  src/v/cluster_link/manager.h
  src/v/cluster_link/service.cc
  src/v/cluster_link/service.h
  src/v/cluster_link/tests/deps.cc
  src/v/cluster_link/tests/link_test.cc
Labels: area/redpanda

cl: Add topic properties utilities
  src/v/cluster_link/utils/BUILD
  src/v/cluster_link/utils/topic_properties_utils.cc
  src/v/cluster_link/utils/topic_properties_utils.h
Labels: area/redpanda

k/s: Update schema ID validator to take key/val
  src/v/kafka/server/handlers/configs/config_utils.h
Labels: area/redpanda

k/server: Add new method that returns topic_configuration
  src/v/kafka/server/handlers/topics/types.cc
  src/v/kafka/server/handlers/topics/types.h
Labels: area/redpanda

cl/tests: Handle more topic properties
  src/v/cluster_link/tests/deps.h
Labels: area/redpanda

cl: Wire topic_reconciler into manager
  src/v/cluster_link/manager.cc
  src/v/cluster_link/manager.h
Labels: area/redpanda

cl: Introduce topic_reconciler
  src/v/cluster_link/BUILD
  src/v/cluster_link/tests/BUILD
  src/v/cluster_link/tests/deps.h
  src/v/cluster_link/tests/topic_reconciler_test.cc
  src/v/cluster_link/topic_reconciler.cc
  src/v/cluster_link/topic_reconciler.h
Labels: area/redpanda

admin: Wire in shadow_link_service into admin API
  src/v/redpanda/BUILD
  src/v/redpanda/admin/services/shadow_link/BUILD
  src/v/redpanda/admin/services/shadow_link/shadow_link.cc
  src/v/redpanda/admin/services/shadow_link/shadow_link.h
  src/v/redpanda/application.cc
Labels: area/redpanda

proto/admin: Add shadow_link RPC service
  proto/redpanda/core/admin/BUILD
  proto/redpanda/core/admin/shadow_link.proto
Labels: none

pbgen: Exclude google apis from being included in codegen
  bazel/pbgen/main.go
Labels: none

bzl: Add googleapis for protobufs
  MODULE.bazel
  MODULE.bazel.lock
Labels: none

proto/admin: Added common proto library
  proto/redpanda/core/common/BUILD
  proto/redpanda/core/common/acl.proto
Labels: none

pbgen: Add missing return for variant visit
  bazel/pbgen/main.go
  src/v/serde/protobuf/tests/goldens/test_messages_edition2023.proto.h
Labels: area/redpanda

cl: Use explicit namespace for model::node_id
  src/v/cluster_link/service.h
Labels: area/redpanda

cl/errc: Added new error codes
  src/v/cluster_link/errc.cc
  src/v/cluster_link/errc.h
Labels: area/redpanda

cl: Added upsert_link to link_frontend
  src/v/cluster_link/deps.h
  src/v/cluster_link/service.cc
  src/v/cluster_link/tests/deps.h
Labels: area/redpanda

cl: Add error code mapper
  src/v/cluster_link/manager.cc
Labels: area/redpanda

cl: Add create_cluster_link to service
  src/v/cluster_link/BUILD
  src/v/cluster_link/manager.cc
  src/v/cluster_link/manager.h
  src/v/cluster_link/service.cc
  src/v/cluster_link/service.h
Labels: area/redpanda

utils: Added parse_address to unresolved_address
  src/v/utils/BUILD
  src/v/utils/unresolved_address.cc
  src/v/utils/unresolved_address.h
Labels: area/redpanda

admin/sl: Add converter
  src/v/redpanda/admin/services/shadow_link/BUILD
  src/v/redpanda/admin/services/shadow_link/converter.cc
  src/v/redpanda/admin/services/shadow_link/converter.h
Labels: area/redpanda

resource: Add cluster_link service group
  src/v/resource_mgmt/smp_groups.cc
  src/v/resource_mgmt/smp_groups.h
Labels: area/redpanda

proto: Minor updates to shadow link
  proto/redpanda/core/admin/shadow_link.proto
Labels: none

admin/sl: Add mechanism to go from metadata to resource
  src/v/redpanda/admin/services/shadow_link/converter.cc
  src/v/redpanda/admin/services/shadow_link/converter.h
Labels: area/redpanda

app: Wire in cluster_link service
  src/v/redpanda/BUILD
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  tools/dev_cluster.py
Labels: area/redpanda

cl: Add support for GetShadowLink
  src/v/cluster_link/manager.cc
  src/v/cluster_link/manager.h
  src/v/cluster_link/service.cc
  src/v/cluster_link/service.h
  src/v/redpanda/admin/services/shadow_link/shadow_link.cc
Labels: area/redpanda

admin/sl: Wire in cluster_link into shadow link services
  src/v/redpanda/admin/services/shadow_link/BUILD
  src/v/redpanda/admin/services/shadow_link/shadow_link.cc
  src/v/redpanda/admin/services/shadow_link/shadow_link.h
  src/v/redpanda/application.cc
Labels: area/redpanda

chunked_vector: fix move semantics of the range constructor
  src/v/container/chunked_vector.h
  src/v/container/tests/chunked_vector_test.cc
Labels: area/redpanda

chunked_vector: remove tautological overload
  src/v/container/chunked_vector.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_tx_tracker_stm.cc
Labels: area/redpanda

ct: Move level_zero_log_reader back to frontend
  src/v/cloud_topics/frontend/BUILD
  src/v/cloud_topics/frontend/frontend.cc
  src/v/cloud_topics/frontend/level_zero_log_reader.cc
  src/v/cloud_topics/frontend/level_zero_log_reader.h
  src/v/cloud_topics/level_zero/reader/BUILD
  src/v/kafka/data/BUILD
  src/v/kafka/data/cloud_topic_partition.cc
Labels: area/redpanda

Revert "Revert "ducktape: upgrade to python 3.11""
  .github/workflows/publish-apache-polaris-python-client.yml
  tests/docker/Dockerfile
  tests/docker/ducktape-deps/flink
  tests/docker/ducktape-deps/python-deps
  tests/rptest/archival/s3_client.py
  tests/rptest/clients/rpk.py
  tests/rptest/clients/types.py
  tests/rptest/e2e_tests/workloads/flink_consume_basic.py
  tests/rptest/e2e_tests/workloads/flink_produce_basic.py
  tests/rptest/e2e_tests/workloads/flink_table_transactions_basic.py
  tests/rptest/e2e_tests/workloads/flink_transactions_scale.py
  tests/rptest/e2e_tests/workloads/flink_transactions_topic_swarm.py
  tests/rptest/scale_tests/large_messages_test.py
  tests/rptest/scale_tests/tiered_storage_cache_stress_test.py
  tests/rptest/services/admin.py
  tests/rptest/services/catalog_service.py
  tests/rptest/services/chaos/workloads/service_base.py
  tests/rptest/services/flink.py
  tests/rptest/services/machinetype.py
  tests/rptest/services/serde_client.py
  tests/rptest/services/storage_failure_injection.py
  tests/rptest/tests/audit_log_test.py
  tests/rptest/tests/datalake/datalake_dlq_test.py
  tests/rptest/tests/datalake/query_engine_base.py
  tests/rptest/tests/datalake/schema_evolution_test.py
  tests/rptest/tests/datalake/schemas/data_types.py
  tests/rptest/tests/node_pool_migration_test.py
  tests/rptest/tests/polaris_catalog_smoke_test.py
  tests/rptest/tests/polaris_catalog_test.py
  tests/rptest/tests/random_node_operations_test.py
  tests/rptest/tests/schema_registry_test.py
  tests/rptest/tests/write_caching_test.py
  tests/rptest/transactions/verifiers/compacted_verifier.py
  tests/rptest/utils/schema_registry_utils.py
  tests/setup.py
Labels: area/build

tests/services/kgo_verifier: gentle stop to wait for acks
  tests/rptest/services/kgo_verifier_services.py
Labels: none

tests/data-migrate: shutdown KGo producer gently to pick up recent acks
  tests/rptest/tests/data_migrations_api_test.py
Labels: none

iceberg: check for table existence before dropping
  src/v/datalake/coordinator/iceberg_file_committer.cc
Labels: area/redpanda

iceberg: serialize empty 'partitions' as empty array
  src/v/iceberg/manifest_list_avro.cc
Labels: area/redpanda

iceberg: check for table existence before dropping
  src/v/datalake/coordinator/iceberg_file_committer.cc
Labels: area/redpanda

iceberg: serialize empty 'partitions' as empty array
  src/v/iceberg/manifest_list_avro.cc
Labels: area/redpanda

fix(UX-376): update debug bundle k8s time since parser to accept ISO8601 timestamps
  src/go/rpk/pkg/cli/debug/bundle/bundle_k8s_linux.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_test.go
Labels: area/rpk

fix(UX-376): update debug bundle k8s time since parser to accept ISO8601 timestamps
  src/go/rpk/pkg/cli/debug/bundle/bundle_k8s_linux.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_test.go
Labels: area/rpk

fix(UX-376): update debug bundle k8s time since parser to accept ISO8601 timestamps
  src/go/rpk/pkg/cli/debug/bundle/bundle_k8s_linux.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_test.go
Labels: area/rpk
