Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

rpk: UX-83 Update debug bundle metrics defaults
  src/go/rpk/pkg/cli/debug/common/common.go
  tests/rptest/tests/rpk_debug_bundle_test.py
Labels: area/rpk

bazel: Add target to generate link_commands.json
  .gitignore
  BUILD
  bazel/compilation_database_generator/BUILD
  bazel/compilation_database_generator/cc_linker_gen.py
Labels: none

raft/offset_monitor: stop permanently
  src/v/raft/offset_monitor.cc
  src/v/raft/offset_monitor.h
Labels: area/redpanda

cluster/partition: remove dead code
  src/v/cluster/partition.cc
Labels: area/redpanda

raft/test/offset_monitor_test: check behaviour after stop
  src/v/raft/tests/offset_monitor_test.cc
Labels: area/redpanda

raft/c: warn on struck truncation.
  src/v/raft/consensus.cc
Labels: area/redpanda

raft/c: warn on struck truncation.
  src/v/raft/consensus.cc
Labels: area/redpanda

raft/c: warn on struck truncation.
  src/v/raft/consensus.cc
Labels: area/redpanda

kafka/client: added test for make_copy utility
  src/v/kafka/client/test/BUILD
  src/v/kafka/client/test/utils_test.cc
Labels: area/redpanda

k/generator: do not use standard vectors for offset commit protocol
  src/v/cluster/cloud_metadata/tests/offsets_recovery_test.cc
  src/v/kafka/client/client.cc
  src/v/kafka/client/client.h
  src/v/kafka/client/consumer.cc
  src/v/kafka/client/consumer.h
  src/v/kafka/client/test/consumer_group.cc
  src/v/kafka/client/utils.h
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/server/handlers/txn_offset_commit.cc
  src/v/kafka/server/server.cc
  src/v/kafka/server/tests/consumer_groups_test.cc
  src/v/kafka/server/tests/group_tx_compaction_test.cc
  src/v/pandaproxy/json/requests/offset_commit.h
  src/v/pandaproxy/rest/handlers.cc
Labels: area/redpanda

storage: fix index state truncate overflow
  src/v/storage/index_state.cc
  src/v/storage/tests/index_state_test.cc
Labels: area/redpanda

storage: fix index state truncate overflow
  src/v/storage/index_state.cc
  src/v/storage/tests/index_state_test.cc
Labels: area/redpanda

storage: fix index state truncate overflow
  src/v/storage/segment_index.cc
Labels: area/redpanda

rp/admin/debug/get_producers_state: classify errors to choose HTTP code
  src/v/redpanda/admin/debug.cc
Labels: area/redpanda

tests/data_migrations: ensure there's no open transactions left
  tests/rptest/tests/data_migrations_api_test.py
Labels: none

c/rm_partition_frontend: lock partition for writes when beginning a tx
  src/v/cluster/rm_partition_frontend.cc
Labels: area/redpanda

tests/data_migration: refactor leader transfer thread class
  tests/rptest/tests/data_migrations_api_test.py
  tests/rptest/util.py
Labels: none

c/tx_errc: add code for disabled partition writes
  src/v/cluster/tx_errc.cc
  src/v/cluster/tx_errc.h
  src/v/cluster/tx_gateway_frontend.cc
  src/v/kafka/server/errors.h
Labels: area/redpanda

c/partition: expose hold_writes_enabled()
  src/v/cluster/partition.h
Labels: area/redpanda

c/rm_partition_frontend: refactor do_begin_tx: separate shard-local part
  src/v/cluster/rm_partition_frontend.cc
  src/v/cluster/rm_partition_frontend.h
Labels: area/redpanda

cio/remote: Wrap put_object and get_object calls w/ timeout
  src/v/cloud_io/remote.cc
Labels: area/redpanda

datalake: copy table properties into table_info
  src/v/datalake/catalog_schema_manager.cc
  src/v/datalake/catalog_schema_manager.h
  src/v/iceberg/BUILD
  src/v/iceberg/table_metadata.h
  src/v/iceberg/table_metadata_json.cc
  src/v/iceberg/tests/rest_catalog_test.cc
Labels: area/redpanda

iceberg: respect write.metadata.path
  src/v/iceberg/merge_append_action.cc
  src/v/iceberg/tests/merge_append_action_test.cc
Labels: area/redpanda

datalake: respect `write.data.path`
  src/v/datalake/datalake_manager.cc
  src/v/datalake/partitioning_writer.cc
  src/v/datalake/partitioning_writer.h
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/tests/translation_task_test.cc
  src/v/datalake/translation/deps.cc
  src/v/datalake/translation/deps.h
  src/v/datalake/translation_task.cc
  src/v/datalake/translation_task.h
Labels: area/redpanda

datalake: respect `write.data.path`
  src/v/datalake/datalake_manager.cc
  src/v/datalake/partitioning_writer.cc
  src/v/datalake/partitioning_writer.h
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/tests/translation_task_test.cc
  src/v/datalake/translation/deps.cc
  src/v/datalake/translation/deps.h
  src/v/datalake/translation_task.cc
  src/v/datalake/translation_task.h
Labels: area/redpanda

iceberg: respect write.metadata.path
  src/v/iceberg/merge_append_action.cc
  src/v/iceberg/tests/merge_append_action_test.cc
Labels: area/redpanda

datalake: copy table properties into table_info
  src/v/datalake/catalog_schema_manager.cc
  src/v/datalake/catalog_schema_manager.h
  src/v/iceberg/BUILD
  src/v/iceberg/table_metadata.h
  src/v/iceberg/table_metadata_json.cc
  src/v/iceberg/tests/rest_catalog_test.cc
Labels: area/redpanda

`storage`: call `reserve()` in `storage::range()`
  src/v/storage/lock_manager.cc
Labels: area/redpanda

`storage`: call `reserve()` in `storage::range()`
  src/v/storage/lock_manager.cc
Labels: area/redpanda

`storage`: call `reserve()` in `storage::range()`
  src/v/storage/lock_manager.cc
Labels: area/redpanda

schema_registry: Refactor: Extract auth from server
  src/v/pandaproxy/schema_registry/BUILD
  src/v/pandaproxy/schema_registry/auth.cc
  src/v/pandaproxy/schema_registry/auth.h
  src/v/pandaproxy/schema_registry/service.cc
Labels: area/redpanda

schema_registry/auth: Refactor: Extract handle_authz
  src/v/pandaproxy/schema_registry/auth.cc
Labels: area/redpanda

config: Introduce schema_registry_enable_authorization
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

schema_registry/auth: Introduce enterprise authz
  src/v/pandaproxy/schema_registry/BUILD
  src/v/pandaproxy/schema_registry/auth.cc
  src/v/pandaproxy/schema_registry/auth.h
  src/v/pandaproxy/schema_registry/authorization.cc
  src/v/pandaproxy/schema_registry/authorization.h
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/service.h
Labels: area/redpanda

schema_registry/auth: Enforce enterprise auth
  src/v/pandaproxy/schema_registry/auth.h
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/service.cc
Labels: area/redpanda

Update redpanda.py
  tests/rptest/services/redpanda.py
Labels: none

dt/tests: deflake TxUpgradeTest
  tests/rptest/transactions/tx_upgrade_test.py
Labels: none

tests/cluster_topology: do not account ssh traffic when shaping traffic
  tests/rptest/utils/cluster_topology.py
Labels: none

tests/cluster_topology: do not account ssh traffic when shaping traffic
  tests/rptest/utils/cluster_topology.py
Labels: none

dl/tests: deflake batching test
  tests/rptest/tests/datalake/batching_test.py
Labels: none
