Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

`storage`: add `v2` `segment` filename version
  src/v/storage/segment.cc
  src/v/storage/tests/BUILD
  src/v/storage/tests/fs_utils_test.cc
  src/v/storage/version.h
Labels: area/redpanda

`storage`: track per-segment term spans in `offset_tracker`
  src/v/cluster/archival/segment_reupload.cc
  src/v/cluster/archival/tests/async_data_uploader_fixture.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/log_reader.cc
  src/v/storage/segment.cc
  src/v/storage/segment.h
  src/v/storage/segment_set.cc
  src/v/storage/segment_utils.cc
  src/v/storage/tests/log_truncate_test.cc
  src/v/storage/tests/segment_offset_tracker_test.cc
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

archival: mark uploads from any compacted segment as compacted
  src/v/cluster/archival/segment_reupload.cc
Labels: area/redpanda

archival/tests: match local segments by offset and term, not file name
  src/v/cluster/archival/tests/service_fixture.cc
Labels: area/redpanda

storage: cache segment term spans in the index
  src/v/storage/index_state.cc
  src/v/storage/index_state.h
  src/v/storage/segment.cc
  src/v/storage/segment.h
  src/v/storage/segment_index.h
  src/v/storage/tests/index_state_test.cc
Labels: area/redpanda

rptest: adapt tests to multi-term segment naming and rolls
  tests/rptest/tests/archival_test.py
  tests/rptest/tests/cluster_features_test.py
  tests/rptest/tests/configuration_update_test.py
  tests/rptest/tests/controller_erase_test.py
  tests/rptest/tests/rpk_debug_bundle_test.py
  tests/rptest/tests/tombstone_removal_e2e_test.py
  tests/rptest/utils/si_utils.py
  tools/type-checking/type-check-strictness.json
Labels: none

rptest: tolerate segments shrinking under compute_storage.py
  tests/rptest/remote_scripts/compute_storage.py
Labels: none

archival: allow gaps when validating compacted segment uploads
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/ntp_archiver_service.h
  src/v/cluster/archival/tests/ntp_archiver_test.cc
Labels: area/redpanda

archival: split upload candidates at term-map boundaries
  src/v/cluster/archival/segment_reupload.cc
  src/v/cluster/archival/segment_reupload.h
  src/v/cluster/archival/tests/segment_reupload_test.cc
Labels: area/redpanda

offline_log_viewer: tolerate segments removed while reading a live node
  tools/offline_log_viewer/storage.py
Labels: none

storage: span raft terms in active segments and merge across terms
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/storage/disk_log_appender.cc
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/fs_utils.h
  src/v/storage/segment.cc
  src/v/storage/segment.h
  src/v/storage/segment_utils.cc
  src/v/storage/tests/compaction_e2e_test.cc
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

storage/tests: cover term map rebuild across recovery paths
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

storage: rebuild term spans from configuration batches at recovery
  src/v/raft/consensus_utils.cc
  src/v/raft/consensus_utils.h
  src/v/redpanda/application.cc
  src/v/storage/kvstore.cc
  src/v/storage/log_manager.cc
  src/v/storage/log_manager.h
  src/v/storage/log_replayer.cc
  src/v/storage/log_replayer.h
  src/v/storage/segment.cc
  src/v/storage/segment.h
  src/v/storage/segment_set.cc
  src/v/storage/segment_set.h
  src/v/storage/types.h
Labels: area/redpanda

storage/tests: cover multi-term segments end to end
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

`kgo-verifier`: truncate valid offsets when retries land at lower offsets
  tests/go/kgo-verifier/pkg/worker/verifier/offset_ranges.go
  tests/go/kgo-verifier/pkg/worker/verifier/producer_worker.go
Labels: none

rpk: add --regex flag to 'rpk topic alter-config'
  src/go/rpk/pkg/cli/topic/config.go
  src/go/rpk/pkg/cli/topic/config_test.go
Labels: area/rpk

rptest: harden get_version against slow SSH version reads
  tests/rptest/services/redpanda.py
Labels: none

storage/tests: fix 1-byte no-flush appender bench
  src/v/storage/tests/segment_appender_bench.cc
Labels: area/redpanda

s/tests: run the appender benchmark against a real file
  src/v/storage/tests/BUILD
  src/v/storage/tests/segment_appender_bench.cc
Labels: area/redpanda

rpk shadow: add --config-file to update
  src/go/rpk/pkg/cli/shadow/BUILD
  src/go/rpk/pkg/cli/shadow/update.go
  src/go/rpk/pkg/cli/shadow/update_test.go
  tests/rptest/clients/rpk.py
  tests/rptest/tests/rpk_shadow_link_test.py
Labels: area/rpk

tests: allow for consumer startup in __consumer_offsets wait
  tests/rptest/tests/consumer_group_test.py
  tests/rptest/tests/rpk_group_test.py
Labels: none

tests: raise the other timeouts covering consumer startup
  tests/rptest/clients/rpk.py
  tests/rptest/services/kafka_cli_consumer.py
Labels: none

bazel: Update seastar to 26.3 rebase
  bazel/thirdparty/seastar.BUILD
Labels: none

admin: adapt redirect headers to Seastar API
  src/v/redpanda/admin/server.cc
Labels: area/redpanda

seastar: qualify symbols removed from global namespace
  src/v/cluster/tests/partition_balancer_bench.cc
  src/v/kafka/server/tests/quota_manager_bench.cc
  src/v/utils/tests/coro_bench.cc
Labels: area/redpanda

seastar: replace exception pointer ostream formatting
  src/v/cloud_topics/tests/BUILD
  src/v/cloud_topics/tests/leader_epoch_test.cc
  src/v/crash_tracker/tests/BUILD
  src/v/crash_tracker/tests/report_generator.cc
  src/v/rp_util/BUILD
  src/v/rp_util/main.cc
  src/v/storage/tests/BUILD
  src/v/storage/tests/log_truncate_test.cc
Labels: area/redpanda

`ct/l1`: support metadata-only `compact_objects()` commits
  src/v/cloud_topics/level_one/domain/tests/db_domain_manager_test.cc
  src/v/cloud_topics/level_one/metastore/lsm/state_update.cc
  src/v/cloud_topics/level_one/metastore/state_update.cc
  src/v/cloud_topics/level_one/metastore/tests/state_update_test.cc
Labels: area/redpanda

`ct/l1`: add `commit_compaction_metadata()` to the metastore API
  src/v/cloud_topics/level_one/metastore/metastore.h
  src/v/cloud_topics/level_one/metastore/replicated_metastore.cc
  src/v/cloud_topics/level_one/metastore/replicated_metastore.h
  src/v/cloud_topics/level_one/metastore/simple_metastore.cc
  src/v/cloud_topics/level_one/metastore/simple_metastore.h
  src/v/cloud_topics/read_replica/snapshot_metastore.cc
  src/v/cloud_topics/read_replica/snapshot_metastore.h
Labels: area/redpanda

`ct/l1`: use `extent_metadata_reader` in `leveling_source`
  src/v/cloud_topics/level_one/maintenance/leveling/BUILD
  src/v/cloud_topics/level_one/maintenance/leveling/leveling_source.cc
  src/v/cloud_topics/level_one/maintenance/leveling/leveling_source.h
Labels: area/redpanda

`ct/l1`: add `cloud_topics_leveling_max_ranges_per_partition`
  src/v/cloud_topics/level_one/domain/db_domain_manager.cc
  src/v/cloud_topics/level_one/metastore/leveling_range_builder.h
  src/v/cloud_topics/level_one/metastore/simple_metastore.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

`admin`: use `stream_object` in usage response
  src/v/redpanda/admin/usage.cc
Labels: area/redpanda

bazel: align seastar source with 26.3 build
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

build/deps: backport Abseil Clang 23 lifetime fix
  MODULE.bazel
  bazel/thirdparty/abseil-clang-23-lifetime-capture.patch
Labels: none

build: remove dead code diagnosed by clang 23
  src/v/cloud_storage/remote.cc
  src/v/datalake/partition_key_path.cc
  src/v/iceberg/rest_client/tests/catalog_client_tests.cc
  src/v/iceberg/tests/rest_catalog_test.cc
  src/v/iceberg/values.cc
  src/v/kafka/client/test/test_config_utils.cc
  src/v/kafka/server/group_metadata.cc
  src/v/raft/buffered_protocol.cc
  src/v/raft/types.cc
  src/v/transform/rpc/client.cc
Labels: area/redpanda

cluster: validate climbing strategy from friend context
  src/v/cluster/scheduling/leader_balancer_random.h
Labels: area/redpanda

bazel: upgrade llvm toolchain to 23.1.0-rc2
  MODULE.bazel
Labels: none

build/deps: add missing Avro libc++ includes
  MODULE.bazel.lock
  bazel/repositories.bzl
  bazel/thirdparty/avro-libcxx-includes.patch
Labels: none

utils: keep stable iterators copyable with libc++
  src/v/utils/stable_iterator_adaptor.h
Labels: area/redpanda

clang-tidy: scope deprecated capture warning suppression
  bazel/clang_tidy/plugins/BUILD
Labels: none

build: give header templates inline linkage
  src/v/cluster/distributed_kv_stm_types.h
  src/v/container/tests/bench_utils.h
  src/v/raft/consensus_client_protocol.h
  src/v/raft/mux_state_machine.h
  src/v/ssx/async_algorithm.h
Labels: area/redpanda
