Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

kafka/server: apply offsets for every group id, not the owned ones
  src/v/kafka/server/consumer_group.cc
  src/v/kafka/server/consumer_group.h
  src/v/kafka/server/consumer_group_stm.cc
  src/v/kafka/server/consumer_group_stm.h
  src/v/kafka/server/tests/consumer_group_stm_test.cc
  src/v/kafka/server/tests/consumer_group_test.cc
Labels: area/redpanda

kafka/server: split the consumer group member into its record halves
  src/v/kafka/server/consumer_group.cc
  src/v/kafka/server/consumer_group.h
  src/v/kafka/server/tests/consumer_group_test.cc
Labels: area/redpanda

kafka/server/tests: add consumer_group unit tests
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/consumer_group_test.cc
Labels: area/redpanda

kafka/server/tests: cover the consumer group member halves
  src/v/kafka/server/tests/consumer_group_test.cc
Labels: area/redpanda

kafka/server/tests: add consumer_group_stm apply and recovery tests
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/consumer_group_stm_test.cc
Labels: area/redpanda

kafka/server: add the consumer_group type
  src/v/kafka/protocol/types.h
  src/v/kafka/server/BUILD
  src/v/kafka/server/consumer_group.cc
  src/v/kafka/server/consumer_group.h
Labels: area/redpanda

kafka: name the consumer group epochs
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/protocol/types.h
Labels: area/redpanda

kafka/server: give offset_store a serving and an applied role
  src/v/kafka/server/consumer_group.cc
  src/v/kafka/server/group.cc
  src/v/kafka/server/offset_store.h
  src/v/kafka/server/tests/offset_store_test.cc
Labels: area/redpanda

kafka/server: add apply-side transaction mutators to offset_store
  src/v/kafka/server/group.cc
  src/v/kafka/server/offset_store.h
Labels: area/redpanda

raft/tests: allow specifying ntp_config overrides in raft_fixture
  src/v/raft/tests/raft_fixture_base.cc
  src/v/raft/tests/raft_fixture_base.h
Labels: area/redpanda

cloud_topics: run ctp_stm's prefix-truncate fiber only for cloud modes
  src/v/cloud_topics/level_zero/stm/ctp_stm.cc
  src/v/cloud_topics/level_zero/stm/ctp_stm.h
  src/v/cloud_topics/level_zero/stm/tests/ctp_stm_test.cc
  src/v/cluster/partition.cc
Labels: area/redpanda

cloud_topics/stm: enable ctp_stm on local and tsv1 topics
  src/v/cloud_topics/level_zero/stm/BUILD
  src/v/cloud_topics/level_zero/stm/ctp_stm.cc
  src/v/cloud_topics/level_zero/stm/ctp_stm_factory.cc
  src/v/cloud_topics/level_zero/stm/tests/BUILD
  src/v/cloud_topics/level_zero/stm/tests/ctp_stm_test.cc
Labels: area/redpanda

cloud_topics/stm: add explicit-log-offset advance_reconciled_offset overload
  src/v/cloud_topics/level_zero/stm/ctp_stm_api.cc
  src/v/cloud_topics/level_zero/stm/ctp_stm_api.h
Labels: area/redpanda

cluster/storage: add migrated_from topic property
  src/v/cluster/tests/BUILD
  src/v/cluster/tests/topic_properties_test.cc
  src/v/cluster/tests/topic_table_test.cc
  src/v/cluster/topic_configuration.cc
  src/v/cluster/topic_properties.cc
  src/v/cluster/topic_properties.h
  src/v/cluster/topic_table.cc
  src/v/cluster/types.h
  src/v/kafka/server/handlers/alter_configs.cc
  src/v/storage/ntp_config.h
  src/v/storage/types.cc
Labels: area/redpanda

cluster: retain archival and log_eviction stms on migration
  src/v/cluster/archival/archival_metadata_stm.cc
  src/v/cluster/archival/tests/BUILD
  src/v/cluster/archival/tests/archival_metadata_stm_test.cc
  src/v/cluster/log_eviction_stm.cc
Labels: area/redpanda

cluster: run log_eviction_stm's fibers only for non-cloud modes
  src/v/cluster/BUILD
  src/v/cluster/log_eviction_stm.cc
  src/v/cluster/log_eviction_stm.h
  src/v/cluster/partition.cc
  src/v/cluster/tests/log_eviction_stm_test.cc
  src/v/kafka/server/tests/fetch_test.cc
Labels: area/redpanda

serde/json: don't count fraction leading zeros as significand digits
  src/v/serde/json/detail/numeric.cc
  src/v/serde/json/detail/tests/numeric_test.cc
Labels: area/redpanda

serde/json: preserve magnitude of long integer parts
  src/v/serde/json/detail/numeric.cc
  src/v/serde/json/detail/numeric.h
  src/v/serde/json/detail/strod.h
  src/v/serde/json/detail/tests/numeric_test.cc
Labels: area/redpanda

cluster_link: share the reconcile-stats fold across status paths
  src/v/cluster_link/schema_registry_sync/mirroring_task.cc
Labels: area/redpanda

tests: add tail-latency coverage for SR API sync
  tests/rptest/tests/cluster_linking_schema_registry_sync_test.py
Labels: none

cluster_link: classify SR probe hits by soft-delete state
  src/v/cluster_link/schema_registry_sync/discovery.cc
  src/v/cluster_link/schema_registry_sync/discovery.h
  src/v/cluster_link/schema_registry_sync/http_source_reader.cc
  src/v/cluster_link/schema_registry_sync/http_source_reader.h
  src/v/cluster_link/schema_registry_sync/mirroring_task.cc
  src/v/cluster_link/schema_registry_sync/source_reader.h
  src/v/cluster_link/schema_registry_sync/tests/discovery_test.cc
  src/v/cluster_link/schema_registry_sync/tests/http_source_reader_test.cc
  src/v/cluster_link/schema_registry_sync/tests/mirroring_task_test.cc
  src/v/cluster_link/schema_registry_sync/tests/sr_sync_test_fixtures.h
  src/v/cluster_link/schema_registry_sync/unavailable_source_reader.cc
  src/v/cluster_link/schema_registry_sync/unavailable_source_reader.h
  src/v/pandaproxy/schema_registry/rest_client/client.cc
  src/v/pandaproxy/schema_registry/rest_client/client.h
Labels: area/redpanda

cluster_link: refactor error handling in the HTTP source reader
  src/v/cluster_link/schema_registry_sync/http_source_reader.cc
Labels: area/redpanda

config: expose default, bounds, and enterprise data in the config schema
  src/v/config/base_property.h
  src/v/config/bounded_property.h
  src/v/config/property.h
  src/v/redpanda/admin/api-doc/cluster_config.json
  src/v/redpanda/admin/cluster_config_schema_util.cc
Labels: area/redpanda

rp_util: add a broker-scope config schema dump
  src/v/redpanda/admin/cluster_config_schema_util.cc
  src/v/redpanda/admin/cluster_config_schema_util.h
  src/v/rp_util/main.cc
Labels: area/redpanda

cluster_link: add producer_id_exhausted error code
  src/v/cluster_link/errc.cc
  src/v/cluster_link/errc.h
  src/v/redpanda/admin/services/shadow_link/err.cc
Labels: area/redpanda

cluster_link: add a producer ID barrier
  src/v/cluster_link/BUILD
  src/v/cluster_link/fwd.h
  src/v/cluster_link/producer_id_barrier.cc
  src/v/cluster_link/producer_id_barrier.h
  src/v/cluster_link/tests/BUILD
  src/v/cluster_link/tests/producer_id_barrier_test.cc
Labels: area/redpanda

cluster/cloud_metadata: expose get_cluster_highest_pid
  src/v/cluster/cloud_metadata/producer_id_recovery_manager.h
Labels: area/redpanda

cluster_link: fix misleading failover-readiness comment
  src/v/cluster_link/link_status_reconciler.cc
Labels: area/redpanda

cluster_link: gate failover promotion on the producer ID barrier
  src/v/cluster_link/BUILD
  src/v/cluster_link/link_status_reconciler.cc
  src/v/cluster_link/link_status_reconciler.h
  src/v/cluster_link/manager.cc
  src/v/cluster_link/manager.h
  src/v/cluster_link/service.cc
  src/v/cluster_link/service.h
  src/v/cluster_link/tests/BUILD
  src/v/cluster_link/tests/deps.cc
  src/v/cluster_link/tests/deps.h
  src/v/cluster_link/tests/link_status_reconciler_test.cc
  src/v/cluster_link/tests/link_test.cc
Labels: area/redpanda

rpk: update console version to v3.11.0
  src/go/rpk/pkg/cli/container/containerutil/common.go
Labels: area/rpk

config: document CPU cost of schema ID validation
  src/v/config/configuration.cc
Labels: area/redpanda

kafka/schemata: fix codegen for tagged struct fields outside arrays
  src/v/kafka/protocol/schemata/generator.py
Labels: area/redpanda

kafka/schemata: preserve known tags received below their tagged version
  src/v/kafka/protocol/schemata/generator.py
Labels: area/redpanda

kafka/schemata: fix codegen for tagged struct fields outside arrays
  src/v/kafka/protocol/schemata/generator.py
Labels: area/redpanda

DNM: CORE-16997 verify ci-remote-cache activation
  README.md
Labels: none

kafka: return term 0 for random metadata leader guess
  src/v/kafka/server/handlers/metadata.cc
Labels: area/redpanda

kafka/tests: cover random leader guess in metadata
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/metadata_test.cc
Labels: area/redpanda

rpk: parse ENA IRQ queue indexes
  src/go/rpk/pkg/tuners/network/nic.go
  src/go/rpk/pkg/tuners/network/nic_test.go
Labels: area/rpk

rptest/omb: update open-messaging benchmark
  tests/docker/ducktape-deps/omb
Labels: none

rpk: route NIC channel tuning through executor
  src/go/rpk/pkg/tuners/executors/commands/ethtool_set_channel_test.go
  src/go/rpk/pkg/tuners/net_tuners.go
Labels: area/rpk
