Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

cluster: carry partition_mode in partition_properties_stm
  src/v/cluster/partition_properties_stm.cc
  src/v/cluster/partition_properties_stm.h
  src/v/cluster/tests/partition_properties_stm_test.cc
Labels: area/redpanda

cluster: install the eviction STM on cloud-topic partitions
  src/v/cluster/log_eviction_stm.cc
Labels: area/redpanda

archival: create the archival STM on cloud-topic partitions
  src/v/cluster/archival/archival_metadata_stm.cc
Labels: area/redpanda

features: add the topic_mode_migration feature
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  tests/rptest/tests/cluster_features_test.py
Labels: area/redpanda

cloud_topics/stm: don't pin truncation on an idle ctp_stm
  src/v/cloud_topics/level_zero/stm/ctp_stm_state.cc
  src/v/cloud_topics/level_zero/stm/tests/ctp_stm_state_test.cc
Labels: area/redpanda

archival: clamp local-log trim while the manifest holds archived data
  src/v/cluster/archival/archival_metadata_stm.cc
  src/v/cluster/archival/archival_metadata_stm.h
  src/v/cluster/archival/tests/archival_metadata_stm_test.cc
Labels: area/redpanda

cloud_topics/stm: add explicit-log-offset advance_reconciled_offset overload
  src/v/cloud_topics/level_zero/stm/ctp_stm_api.cc
  src/v/cloud_topics/level_zero/stm/ctp_stm_api.h
Labels: area/redpanda

cloud_topics/stm: pre-install an idle ctp_stm on tiered-storage partitions
  src/v/cloud_topics/level_zero/stm/BUILD
  src/v/cloud_topics/level_zero/stm/ctp_stm.cc
  src/v/cloud_topics/level_zero/stm/ctp_stm_factory.cc
  src/v/cloud_topics/level_zero/stm/tests/ctp_stm_test.cc
Labels: area/redpanda

`bazel`: point at `39dfd216`
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

`admin`: use `stream_object` in usage response
  src/v/redpanda/admin/usage.cc
Labels: area/redpanda

cloud_topics: add audit report and failing reproducers
  audit/REPORT.md
  src/v/cloud_topics/frontend/tests/BUILD
  src/v/cloud_topics/frontend/tests/frontend_test.cc
  src/v/cloud_topics/level_one/common/tests/object_test.cc
  src/v/cloud_topics/level_one/metastore/lsm/tests/BUILD
  src/v/cloud_topics/level_one/metastore/lsm/tests/remove_topics_read_error_test.cc
  src/v/cloud_topics/level_one/metastore/tests/BUILD
  src/v/cloud_topics/level_one/metastore/tests/replicated_metastore_test.cc
  src/v/cloud_topics/level_zero/batcher/tests/batcher_test.cc
  src/v/cloud_topics/level_zero/common/BUILD
  src/v/cloud_topics/level_zero/gc/tests/level_zero_gc_tests.cc
  src/v/cloud_topics/level_zero/reader/tests/BUILD
  src/v/cloud_topics/level_zero/reader/tests/materialized_extent_test.cc
  src/v/cloud_topics/level_zero/stm/tests/BUILD
  src/v/cloud_topics/level_zero/stm/tests/ctp_stm_test.cc
  src/v/cloud_topics/level_zero/stm/tests/placeholder_test.cc
  src/v/cloud_topics/level_zero/stm/tests/placeholder_zero_record_test.cc
  src/v/cloud_topics/tests/BUILD
  src/v/cloud_topics/tests/delete_records_reconciler_test.cc
  src/v/cloud_topics/tests/end_to_end_test.cc
  tests/rptest/tests/cloud_topics/e2e_test.py
Labels: area/redpanda

tests/antithesis: exclude workload container from node_hang faults
  tests/antithesis/shadow_link_stress/test.yml
Labels: none

`admin`: use `stream_object` in usage response
  src/v/redpanda/admin/usage.cc
Labels: area/redpanda

`bazel`: point at `39dfd216`
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: none

dt/rbac: lengthen bogus passwords in list_user_roles tests
  tests/rptest/tests/rbac_test.py
  tests/rptest/tests/rbac_test_v2.py
Labels: none

dt/rbac: lengthen bogus passwords in list_user_roles tests
  tests/rptest/tests/rbac_test.py
  tests/rptest/tests/rbac_test_v2.py
Labels: none

DNM: no-op bazel change to test gRPC remote cache
  MODULE.bazel
Labels: none

tests: run libFuzzer's loop inside the seastar reactor
  .bazelrc
  bazel/BUILD
  bazel/test.bzl
  lsan_suppressions.txt
  src/v/security/tests/BUILD
  src/v/security/tests/acl_store_fuzz.cc
  src/v/test_utils/BUILD
  src/v/test_utils/seastar_fuzz.cc
  src/v/test_utils/seastar_fuzz.h
Labels: area/redpanda

tests: deflake role-sync scale membership checks
  tests/rptest/tests/shadow_link_role_sync_test.py
Labels: none

rpk shadow: simplify update command flow
  src/go/rpk/pkg/cli/shadow/BUILD
  src/go/rpk/pkg/cli/shadow/create.go
  src/go/rpk/pkg/cli/shadow/delete.go
  src/go/rpk/pkg/cli/shadow/describe.go
  src/go/rpk/pkg/cli/shadow/list.go
  src/go/rpk/pkg/cli/shadow/shadow.go
  src/go/rpk/pkg/cli/shadow/update.go
Labels: area/rpk

cloud_topics: add read-replica L0 GC reproducer
  audit/REPORT.md
  tests/rptest/tests/cloud_topics/l0_gc_test.py
Labels: none

tests: run libFuzzer's loop inside the seastar reactor
  .bazelrc
  bazel/BUILD
  bazel/test.bzl
  lsan_suppressions.txt
  src/v/security/tests/BUILD
  src/v/security/tests/acl_store_fuzz.cc
  src/v/test_utils/BUILD
  src/v/test_utils/seastar_fuzz.cc
  src/v/test_utils/seastar_fuzz.h
Labels: area/redpanda

rpk: simplify nodesInMaintenance slice initialization
  src/go/rpk/pkg/cli/cluster/health.go
Labels: area/rpk

build: give header templates inline linkage
  src/v/cluster/distributed_kv_stm_types.h
  src/v/container/tests/bench_utils.h
  src/v/raft/consensus_client_protocol.h
  src/v/raft/mux_state_machine.h
  src/v/ssx/async_algorithm.h
Labels: area/redpanda

build/deps: backport Abseil Clang 23 lifetime fix
  MODULE.bazel
  bazel/thirdparty/abseil-clang-23-lifetime-capture.patch
Labels: none

build: replace discarded std::exchange results
  src/v/cloud_topics/level_zero/gc/tests/level_zero_gc_mt_test.cc
  src/v/cloud_topics/object_utils.cc
  src/v/transform/api.cc
  src/v/transform/logging/log_manager.cc
Labels: area/redpanda

build/deps: add missing Avro libc++ includes
  MODULE.bazel.lock
  bazel/repositories.bzl
  bazel/thirdparty/avro-libcxx-includes.patch
Labels: none

build: remove dead code diagnosed by clang 23
  src/v/cloud_storage/remote.cc
  src/v/datalake/partition_key_path.cc
  src/v/iceberg/rest_client/tests/catalog_client_tests.cc
  src/v/iceberg/tests/rest_catalog_test.cc
  src/v/iceberg/values.cc
  src/v/kafka/client/test/test_config_utils.cc
  src/v/kafka/server/group_metadata.cc
  src/v/raft/buffered_protocol.cc
  src/v/raft/types.cc
  src/v/transform/rpc/client.cc
Labels: area/redpanda

clang-tidy: treat LLVM headers as system headers
  bazel/clang_tidy/plugins/BUILD
Labels: none

cluster: validate climbing strategy from friend context
  src/v/cluster/scheduling/leader_balancer_random.h
Labels: area/redpanda

utils: keep stable iterators copyable with libc++
  src/v/utils/stable_iterator_adaptor.h
Labels: area/redpanda

bazel: Suppress Wunused-template in external/
  .bazelrc
Labels: none

bazel: upgrade llvm toolchain to 23.1.0-rc2
  MODULE.bazel
Labels: none

clang-tidy: Remove removed check
  .clang-tidy
  .clang-tidy-strict
Labels: none

clang-tidy: use response files for compiler flags
  bazel/clang_tidy/clang_tidy.bzl
Labels: none

all: Reformat with clang-format 23
  src/v/base/vassert.h
  src/v/cloud_storage/tests/partition_manifest_test.cc
  src/v/cloud_topics/level_one/common/tests/object_test.cc
  src/v/cluster/controller_utils.cc
  src/v/cluster/distributed_kv_stm_types.h
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/scheduling/leader_balancer_random.h
  src/v/container/tests/map_bench.cc
  src/v/container/tests/priority_queue_bench.cc
  src/v/kafka/server/tests/consumer_groups_test.cc
  src/v/model/record_batch_types.h
  src/v/pandaproxy/parsing/test/httpd.cc
  src/v/pandaproxy/schema_registry/test/compatibility_3rdparty.cc
  src/v/raft/consensus_client_protocol.h
  src/v/random/generators.cc
  src/v/security/audit/schemas/tests/ocsf_schemas_test.cc
  src/v/serde/protobuf/tests/parser_test.cc
  src/v/utils/delta_for.h
  tests/java/iceberg-rest-catalog/src/main/java/org/apache/iceberg/rest/RESTCatalogServer.java
Labels: area/redpanda

raft: Fix lacking ss:: qualifier
  src/v/raft/buffered_protocol.cc
Labels: area/redpanda

clang-tidy: remove redundant void argument lists
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/security/role_store.h
  src/v/ssx/minimum_interval_timer.h
Labels: area/redpanda

bazel: finalize wasmtime before C++ linking
  MODULE.bazel.lock
  bazel/thirdparty/BUILD
  bazel/thirdparty/wasmtime.BUILD
  bazel/thirdparty/wasmtime_staticlib.rs
Labels: none

cloud_topics/l1: add a per-partition migrating flag to the metastore
  proto/redpanda/core/admin/internal/cloud_topics/v1/metastore.proto
  src/v/cloud_topics/level_one/domain/db_domain_manager.cc
  src/v/cloud_topics/level_one/domain/db_domain_manager.h
  src/v/cloud_topics/level_one/domain/domain_manager.h
  src/v/cloud_topics/level_one/domain/simple_domain_manager.cc
  src/v/cloud_topics/level_one/domain/simple_domain_manager.h
  src/v/cloud_topics/level_one/metastore/BUILD
  src/v/cloud_topics/level_one/metastore/leader_router.cc
  src/v/cloud_topics/level_one/metastore/leader_router.h
  src/v/cloud_topics/level_one/metastore/leader_router_probe.cc
  src/v/cloud_topics/level_one/metastore/leader_router_probe.h
  src/v/cloud_topics/level_one/metastore/lsm/debug_reader.cc
  src/v/cloud_topics/level_one/metastore/lsm/debug_serde.cc
  src/v/cloud_topics/level_one/metastore/lsm/state_update.cc
  src/v/cloud_topics/level_one/metastore/lsm/state_update.h
  src/v/cloud_topics/level_one/metastore/lsm/tests/debug_reader_test.cc
  src/v/cloud_topics/level_one/metastore/lsm/values.h
  src/v/cloud_topics/level_one/metastore/metastore.h
  src/v/cloud_topics/level_one/metastore/replicated_metastore.cc
  src/v/cloud_topics/level_one/metastore/replicated_metastore.h
  src/v/cloud_topics/level_one/metastore/rpc.json
  src/v/cloud_topics/level_one/metastore/rpc_types.h
  src/v/cloud_topics/level_one/metastore/service.cc
  src/v/cloud_topics/level_one/metastore/service.h
  src/v/cloud_topics/level_one/metastore/simple_metastore.cc
  src/v/cloud_topics/level_one/metastore/simple_metastore.h
  src/v/cloud_topics/level_one/metastore/simple_stm.cc
  src/v/cloud_topics/level_one/metastore/state.cc
  src/v/cloud_topics/level_one/metastore/state.h
  src/v/cloud_topics/level_one/metastore/state_update.cc
  src/v/cloud_topics/level_one/metastore/state_update.h
  src/v/cloud_topics/level_one/metastore/tests/state_update_test.cc
  src/v/cloud_topics/read_replica/snapshot_metastore.cc
  src/v/cloud_topics/read_replica/snapshot_metastore.h
  tests/rptest/clients/admin/proto/redpanda/core/admin/internal/cloud_topics/v1/metastore_pb2.py
  tests/rptest/clients/admin/proto/redpanda/core/admin/internal/cloud_topics/v1/metastore_pb2.pyi
Labels: area/redpanda
