Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']

Making suggested changes
  src/go/rpk/pkg/cli/cloud/cluster/select.go
  src/go/rpk/pkg/cli/profile/create.go
Labels: area/rpk

Update src/go/rpk/pkg/cli/profile/create.go
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cloud/login.go
  src/go/rpk/pkg/cli/profile/create.go
  src/go/rpk/pkg/cli/profile/create_test.go
Labels: area/rpk

Fixing linting
  src/go/rpk/pkg/publicapi/transform.go
Labels: area/rpk

Go mod tidy and lint fixing
  src/go/rpk/pkg/publicapi/transform.go
Labels: area/rpk

Fixing fetch for serverless cluster
  src/go/rpk/pkg/cli/profile/create.go
Labels: area/rpk

Adding v1 support for control plane serverless cluster
  src/go/rpk/pkg/cli/profile/create.go
  src/go/rpk/pkg/cli/profile/create_test.go
  src/go/rpk/pkg/publicapi/controlplane.go
Labels: area/rpk

Making suggested changes
  src/go/rpk/pkg/cli/cloud/cluster/select.go
  src/go/rpk/pkg/cli/profile/create.go
Labels: area/rpk

Update src/go/rpk/pkg/cli/profile/create.go
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cloud/login.go
  src/go/rpk/pkg/cli/profile/create.go
  src/go/rpk/pkg/cli/profile/create_test.go
Labels: area/rpk

Fixing linting
  src/go/rpk/pkg/publicapi/transform.go
Labels: area/rpk

Go mod tidy and lint fixing
  src/go/rpk/pkg/publicapi/transform.go
Labels: area/rpk

Fixing fetch for serverless cluster
  src/go/rpk/pkg/cli/profile/create.go
Labels: area/rpk

Making suggested changes
  src/go/rpk/pkg/cli/cloud/cluster/select.go
  src/go/rpk/pkg/cli/profile/create.go
Labels: area/rpk

Update src/go/rpk/pkg/cli/profile/create.go
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cloud/login.go
  src/go/rpk/pkg/cli/profile/create.go
  src/go/rpk/pkg/cli/profile/create_test.go
Labels: area/rpk

Go mod tidy and lint fixing
  src/go/rpk/pkg/publicapi/transform.go
Labels: area/rpk

Fixing linting
  src/go/rpk/pkg/publicapi/transform.go
Labels: area/rpk

Fixing fetch for serverless cluster
  src/go/rpk/pkg/cli/profile/create.go
Labels: area/rpk

Fixing tests
  src/go/rpk/pkg/cli/profile/create_test.go
Labels: area/rpk

archival: Enforce spillover invariant
  src/v/cluster/archival/ntp_archiver_service.cc
Labels: area/redpanda

ts: Fix ODR violation
  src/v/cloud_storage/recovery_errors.cc
  src/v/cloud_storage/recovery_errors.h
Labels: area/redpanda

archival: If throw in apply_retnetion
  src/v/cluster/archival/ntp_archiver_service.cc
Labels: area/redpanda

rptest: Allow spillover violation error message
  tests/rptest/tests/cloud_storage_scrubber_test.py
Labels: none

rptest: Allow spillover violation error message
  tests/rptest/tests/cloud_storage_scrubber_test.py
Labels: none

ts: Fix ODR violation
  src/v/cloud_storage/recovery_errors.cc
  src/v/cloud_storage/recovery_errors.h
Labels: area/redpanda

archival: If throw in apply_retnetion
  src/v/cluster/archival/ntp_archiver_service.cc
Labels: area/redpanda

archival: Enforce spillover invariant
  src/v/cluster/archival/ntp_archiver_service.cc
Labels: area/redpanda

Ran make bazel
  MODULE.bazel
  src/go/rpk/pkg/cli/profile/BUILD
Labels: area/rpk

cl/replicator: introduce initiate_shutdown
  src/v/cluster_link/replication/partition_replicator.cc
  src/v/cluster_link/replication/partition_replicator.h
Labels: area/redpanda

cl/replicator: make stop 2 step
  src/v/cluster_link/replication/link_replication_mgr.cc
Labels: area/redpanda

cl/link_mgr: relax replicator existence requirement in same term
  src/v/cluster_link/replication/link_replication_mgr.cc
Labels: area/redpanda

debug rnot
  src/v/kafka/server/write_at_offset_stm.cc
  tests/rptest/tests/cluster_linking_test_base.py
  tests/rptest/tests/shadow_linking_rnot_test.py
Labels: area/redpanda

ts: Fix formatting
  src/v/cloud_storage/partition_manifest.cc
  src/v/cluster/archival/tests/archival_metadata_stm_test.cc
Labels: area/redpanda

ts: Apply clang_format
  src/v/cloud_storage/partition_manifest.cc
  src/v/cluster/archival/tests/archival_metadata_stm_test.cc
Labels: area/redpanda

ts: Apply clang_format
  src/v/cloud_storage/partition_manifest.cc
  src/v/cluster/archival/tests/archival_metadata_stm_test.cc
Labels: area/redpanda

Run bazel run //tools:buildifier.fix
  MODULE.bazel
Labels: none

Adding missing line
  MODULE.bazel
Labels: none

Adding newline
  MODULE.bazel
Labels: none

Adding test config for bazel
  src/go/rpk/pkg/cli/profile/BUILD
Labels: area/rpk

Adding to test config
  src/go/rpk/pkg/cli/profile/BUILD
Labels: area/rpk

Removing non-existent test
  src/go/rpk/pkg/cli/profile/BUILD
Labels: area/rpk

Removing nonexistent test
  src/go/rpk/pkg/cli/profile/BUILD
Labels: area/rpk
