Repository redpanda-data/redpanda, changes with the labels that .github/labeler.yml gives for each.
All labels: area/k8s, k8s/tests, area/build, area/docs, area/rpk, area/redpanda, area/wasm

cloud_topics: attach migrating partitions, but skip them until cutover
  src/v/cloud_topics/app.cc
  src/v/cloud_topics/manager/manager.cc
  src/v/cloud_topics/reconciler/reconciler.cc
  src/v/cloud_topics/reconciler/reconciliation_source.cc
  src/v/cloud_topics/reconciler/reconciliation_source.h
  src/v/cloud_topics/reconciler/tests/reconciler_test.cc
  src/v/cloud_topics/reconciler/tests/test_utils.h
Labels: area/redpanda

tests: add compaction-across-migration e2e
  tests/rptest/tests/cloud_topics/ts_to_ct_migration_test.py
Labels: none

tests: harden the no-archived-segments migration e2e
  tests/rptest/tests/cloud_topics/ts_to_ct_migration_test.py
Labels: none

config: add enable_topic_mode_migration
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

tests: add read-replica and compacted-reupload migration e2e
  tests/rptest/tests/cloud_topics/ts_to_ct_migration_test.py
Labels: none

cluster: recover a migrated partition by migration phase
  src/v/cluster/cloud_metadata/cluster_recovery_backend.cc
  src/v/cluster/controller_backend.cc
  src/v/cluster/partition_manager.cc
  src/v/storage/ntp_config.h
Labels: area/redpanda

`config`: fix `default_topic_replications` config property
  src/v/cluster_link/service.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/handlers/configs/config_response_utils.cc
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/handlers/metadata.cc
  src/v/pandaproxy/schema_registry/configuration.cc
Labels: area/redpanda

`config`: assert on double registered property names
  src/v/config/base_property.cc
  src/v/config/tests/bounded_property_test.cc
  src/v/config/tests/enterprise_property_test.cc
  src/v/features/tests/enterprise_features_test.cc
Labels: area/redpanda

rpk: simplify nodesInMaintenance slice initialization
  src/go/rpk/pkg/cli/cluster/health.go
Labels: area/rpk

rpk: add maintenance node status to cluster health
  src/go/rpk/pkg/cli/cluster/health.go
Labels: area/rpk

rpk: simplify nodesInMaintenance slice initialization
  src/go/rpk/pkg/cli/cluster/health.go
Labels: area/rpk

rpk: add maintenance node status to cluster health
  src/go/rpk/pkg/cli/cluster/health.go
Labels: area/rpk

rpk: simplify nodesInMaintenance slice initialization
  src/go/rpk/pkg/cli/cluster/health.go
Labels: area/rpk

rpk: add maintenance node status to cluster health
  src/go/rpk/pkg/cli/cluster/health.go
Labels: area/rpk

DNM: force full recompile+relink to exercise CAS uploads (arm A, 60s)
  .bazelrc
Labels: none

DNM: force full recompile+relink to exercise CAS uploads (arm B, remote_timeout=600)
  .bazelrc
Labels: none

`ct`: preserve `last_offset_delta` in placeholder header
  src/v/cloud_topics/level_zero/stm/placeholder.cc
Labels: area/redpanda

bazel: link binaries dynamically outside release builds
  .bazelrc
Labels: none

bazel: raise --remote_timeout to 600s
  .bazelrc
Labels: none

`config`: fix `leader_balancer_node_mute_timeout` name
  src/v/config/configuration.cc
Labels: area/redpanda

`config`: fix `default_topic_replications` config property
  src/v/cluster_link/service.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/handlers/configs/config_response_utils.cc
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/handlers/metadata.cc
  src/v/pandaproxy/schema_registry/configuration.cc
Labels: area/redpanda

`config`: assert on double registered property names
  src/v/config/base_property.cc
  src/v/config/tests/bounded_property_test.cc
  src/v/config/tests/enterprise_property_test.cc
  src/v/features/tests/enterprise_features_test.cc
Labels: area/redpanda

`config`: fix `default_topic_replications` config property
  src/v/cluster_link/service.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/handlers/configs/config_response_utils.cc
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/handlers/metadata.cc
  src/v/pandaproxy/schema_registry/configuration.cc
Labels: area/redpanda

`config`: fix `leader_balancer_node_mute_timeout` name
  src/v/config/configuration.cc
Labels: area/redpanda

`config`: assert on double registered property names
  src/v/config/base_property.cc
  src/v/config/tests/bounded_property_test.cc
  src/v/config/tests/enterprise_property_test.cc
  src/v/features/tests/enterprise_features_test.cc
Labels: area/redpanda

storage: parse batch header without heap allocation
  src/v/reflection/adl.h
  src/v/storage/parser.cc
  src/v/storage/record_batch_utils.cc
  src/v/storage/record_batch_utils.h
  src/v/storage/tests/BUILD
  src/v/storage/tests/record_batch_utils_test.cc
Labels: area/redpanda

kafka: pass fetch configs by reference through the read path
  src/v/kafka/server/handlers/fetch.cc
Labels: area/redpanda

storage: filter on header before materializing batch
  src/v/storage/batch_cache.cc
  src/v/storage/batch_cache.h
Labels: area/redpanda

`kafka`: enforce `batch_max_bytes` after broker-side recompression
  src/v/kafka/server/handlers/produce.cc
  src/v/kafka/server/tests/produce_consume_test.cc
Labels: area/redpanda

`ct`: preserve `last_offset_delta` in placeholder header
  src/v/cloud_topics/level_zero/stm/placeholder.cc
Labels: area/redpanda

`ct`: preserve `last_offset_delta` in placeholder header
  src/v/cloud_topics/level_zero/stm/placeholder.cc
Labels: area/redpanda

rptest: add rpk cluster upgrade wrappers to RpkTool
  tests/rptest/clients/rpk.py
Labels: none

tests: drive unfinalized-upgrade flow through rpk cluster upgrade
  tests/rptest/tests/cluster_features_test.py
  tests/rptest/tests/cluster_linking_unfinalized_upgrade_test.py
  tests/rptest/tests/unfinalized_upgrade_mixin.py
Labels: none

cluster_link/model: add default-include topic scope filter
  src/v/cluster_link/model/filter_utils.cc
  src/v/cluster_link/model/filter_utils.h
  src/v/cluster_link/model/tests/test_filters.cc
Labels: area/redpanda

cluster_link: add failover promotion opt-in API
  proto/redpanda/core/admin/v2/shadow_link.proto
Labels: none

cluster_link: apply storage mode override per topic
  src/v/cluster_link/source_topic_syncer.cc
  src/v/cluster_link/source_topic_syncer.h
  src/v/cluster_link/tests/source_topic_syncer_test.cc
Labels: area/redpanda

cluster_link: persist and validate storage mode override
  src/v/cluster/cluster_link/frontend.cc
  src/v/cluster/cluster_link/frontend.h
  src/v/cluster/cluster_link/tests/BUILD
  src/v/cluster/cluster_link/tests/frontend_validation_test.cc
  src/v/cluster_link/model/types.cc
  src/v/cluster_link/model/types.h
  src/v/redpanda/admin/services/shadow_link/converter.cc
  src/v/redpanda/admin/services/shadow_link/tests/converter_test.cc
Labels: area/redpanda

cluster_link: persist and validate failover promotion toggle
  src/v/cluster/cluster_link/frontend.cc
  src/v/cluster_link/model/types.cc
  src/v/cluster_link/model/types.h
  src/v/redpanda/admin/services/shadow_link/converter.cc
Labels: area/redpanda

admin/cluster_link: add shadow topic storage mode override API
  proto/redpanda/core/admin/v2/shadow_link.proto
Labels: none

tests/clients: regen ducktape protos
  tests/rptest/clients/admin/proto/redpanda/core/admin/v2/shadow_link_pb2.py
  tests/rptest/clients/admin/proto/redpanda/core/admin/v2/shadow_link_pb2.pyi
Labels: none

.github/labeler.yml:

area/k8s:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

k8s/tests:
- changed-files:
  - any-glob-to-any-file: ['src/go/k8s/**/*']

area/build:
- changed-files:
  - any-glob-to-any-file: ['cmake/**/*', '.github/**/*']

area/docs:
- changed-files:
  - any-glob-to-any-file: ['docs/**/*']

area/rpk:
- changed-files:
  - any-glob-to-any-file: ['src/go/rpk/**/*']

area/redpanda:
- changed-files:
  - any-glob-to-any-file: ['src/v/**/*']

area/wasm:
- changed-files:
  - any-glob-to-any-file: ['src/transform-sdk/**/*']
