Repository redpanda-data/redpanda, pull requests merged in 2020-11, with the labels that each got.

#73 Copro read materialized v6
  build.sh
  src/v/coproc/CMakeLists.txt
  src/v/coproc/reference_window_consumer.hpp
  src/v/coproc/router.cc
  src/v/coproc/router.h
  src/v/coproc/service.cc
  src/v/coproc/tests/coproc_fixture_base.h
  src/v/coproc/tests/coproc_test_fixture.cc
  src/v/coproc/tests/coproc_test_fixture.h
  src/v/coproc/tests/coprocessor.h
  src/v/coproc/tests/read_materialized_topic_test.cc
  src/v/coproc/tests/router_test.cc
  src/v/coproc/tests/router_test_fixture.h
  src/v/coproc/tests/script_manager_service_test.cc
  src/v/coproc/tests/supervisor.cc
  src/v/coproc/tests/supervisor_test_fixture.h
  src/v/coproc/tests/two_way_split_copro.h
  src/v/coproc/tests/utils.h
  src/v/coproc/types.cc
  src/v/coproc/types.h
  src/v/kafka/requests/fetch_request.cc
  src/v/model/fundamental.h
  src/v/model/model.cc
  src/v/model/record.h
  src/v/model/tests/CMakeLists.txt
  src/v/model/tests/materialized_type_test.cc
  src/v/redpanda/application.cc
  src/v/redpanda/tests/fixture.h
  src/v/storage/tests/utils/disk_log_builder.cc
  src/v/storage/tests/utils/disk_log_builder.h
  tools/rpcgen.py
Labels: enhancement

#114 forcing colours in gcc/clang output by default even with ninja
  cmake/diagnostic_colors.cmake
  cmake/main.cmake
Labels: area/build

#140 add sasl-related kafka request handling with default behavior
  src/v/kafka/CMakeLists.txt
  src/v/kafka/requests/api_versions_request.cc
  src/v/kafka/requests/find_coordinator_request.h
  src/v/kafka/requests/requests.cc
  src/v/kafka/requests/sasl_authenticate_request.cc
  src/v/kafka/requests/sasl_authenticate_request.h
  src/v/kafka/requests/sasl_handshake_request.cc
  src/v/kafka/requests/sasl_handshake_request.h
  src/v/kafka/requests/schemata/CMakeLists.txt
  src/v/kafka/requests/schemata/generator.py
  src/v/kafka/requests/schemata/sasl_authenticate_request.json
  src/v/kafka/requests/schemata/sasl_authenticate_response.json
  src/v/kafka/requests/schemata/sasl_handshake_request.json
  src/v/kafka/requests/schemata/sasl_handshake_response.json
Labels: area/kafka

#91 Initial support for unity builds - speeds up compilation by up to 58%
  .github/workflows/redpanda-build.yml
  build.sh
  cmake/main.cmake
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/commands_serialization_test.cc
  src/v/kafka/CMakeLists.txt
  src/v/kafka/tests/group_test.cc
  src/v/raft/CMakeLists.txt
  src/v/raft/tests/bootstrap_configuration_test.cc
  src/v/storage/CMakeLists.txt
  src/v/storage/log_replayer.cc
Labels: area/build

#92 Feature ch1713 pandaproxy fetch
  src/v/kafka/errors.cc
  src/v/kafka/errors.h
  src/v/pandaproxy/CMakeLists.txt
  src/v/pandaproxy/api/api-doc/get_topics_records.json
  src/v/pandaproxy/client/CMakeLists.txt
  src/v/pandaproxy/client/client.cc
  src/v/pandaproxy/client/client.h
  src/v/pandaproxy/client/fetcher.cc
  src/v/pandaproxy/client/fetcher.h
  src/v/pandaproxy/client/test/CMakeLists.txt
  src/v/pandaproxy/client/test/fetch.cc
  src/v/pandaproxy/client/test/pandaproxy_client_fixture.h
  src/v/pandaproxy/client/test/produce.cc
  src/v/pandaproxy/handlers.cc
  src/v/pandaproxy/handlers.h
  src/v/pandaproxy/json/iobuf.h
  src/v/pandaproxy/json/requests/fetch.h
  src/v/pandaproxy/json/requests/produce.h
  src/v/pandaproxy/json/requests/test/CMakeLists.txt
  src/v/pandaproxy/json/requests/test/fetch.cc
  src/v/pandaproxy/json/requests/test/produce.cc
  src/v/pandaproxy/json/rjson_util.h
  src/v/pandaproxy/json/test/iobuf.cc
  src/v/pandaproxy/json/types.h
  src/v/pandaproxy/proxy.cc
  src/v/pandaproxy/test/CMakeLists.txt
  src/v/pandaproxy/test/fetch.cc
  src/v/pandaproxy/types.h
  src/v/utils/retry.h
Labels: enhancement
