Repository redpanda-data/redpanda, pull requests merged in 2021-02, with the labels that each got.

#567 operator/controller: Add REDPANDA_ENVIRONMENT variable
  src/go/k8s/controllers/redpanda/cluster_controller_test.go
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/tests/e2e/produce-consume/01-assert.yaml
Labels: area/k8s

#574 operator: Change the reported DNS names for redpanda
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/pkg/resources/service.go
Labels: area/k8s

#577 operator: label selector creation
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/pkg/labels/labels.go
  src/go/k8s/pkg/labels/labels_test.go
  src/go/k8s/pkg/resources/service.go
  src/go/k8s/pkg/resources/statefulset.go
Labels: area/k8s

#584 operator/controller: Add more logging to ease debugging
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/pkg/resources/service.go
  src/go/k8s/pkg/resources/statefulset.go
Labels: area/k8s

#586 operator/tests: test for scaling up redpanda
  src/go/k8s/kuttl-test.yaml
  src/go/k8s/tests/e2e/scale-up/00-assert.yaml
  src/go/k8s/tests/e2e/scale-up/01-assert.yaml
  src/go/k8s/tests/e2e/scale-up/01-one-replica.yaml
  src/go/k8s/tests/e2e/scale-up/02-assert.yaml
  src/go/k8s/tests/e2e/scale-up/02-two-replicas.yaml
Labels: area/k8s

#599 operator: change component label
  src/go/k8s/pkg/labels/labels.go
  src/go/k8s/pkg/labels/labels_test.go
  src/go/k8s/tests/e2e/scale-up/01-assert.yaml
Labels: area/k8s

#602 operator/resource: Change the seastar memory value
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/tests/e2e/produce-consume/01-assert.yaml
  src/go/k8s/tests/e2e/produce-consume/01-redpanda-cluster.yaml
Labels: area/k8s

#624 Remove unity builds from our build system
  .github/workflows/redpanda-build.yml
Labels: area/build, kind/bug

#598 operator: Support updating resources
  src/go/k8s/go.mod
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/pkg/resources/statefulset_test.go
  src/go/k8s/tests/e2e/update/00-assert.yaml
  src/go/k8s/tests/e2e/update/01-assert.yaml
  src/go/k8s/tests/e2e/update/01-one-replica.yaml
  src/go/k8s/tests/e2e/update/02-assert.yaml
  src/go/k8s/tests/e2e/update/02-two-replicas.yaml
  src/go/k8s/tests/e2e/update/03-assert.yaml
  src/go/k8s/tests/e2e/update/03-update-resources.yaml
Labels: area/k8s

#612 operator: Remove unnecessary advertised ports
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/config/samples/redpanda_v1alpha1_cluster.yaml
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/tests/e2e/produce-consume/01-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/update/01-one-replica.yaml
Labels: area/k8s

#647 operator: Set replicas to desired number
  src/go/k8s/pkg/resources/statefulset.go
Labels: area/k8s

#628 operator: disable wsl linter
  src/go/k8s/.golangci.yml
Labels: area/k8s

#596 operator/update: Handle cluster image changes for upgrade scenario
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/go.mod
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/pkg/resources/statefulset_test.go
  src/go/k8s/pkg/resources/statefulset_update.go
  src/go/k8s/tests/e2e/update-image/00-assert.yaml
  src/go/k8s/tests/e2e/update-image/01-assert.yaml
  src/go/k8s/tests/e2e/update-image/01-current-image.yaml
  src/go/k8s/tests/e2e/update-image/02-assert.yaml
  src/go/k8s/tests/e2e/update-image/02-new-image.yaml
Labels: area/k8s

#650 operator: Change kafka configuration to list of listeners
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/go.sum
  src/go/k8s/kuttl-test.yaml
  src/go/k8s/main.go
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/pkg/resources/service.go
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/pkg/resources/statefulset_test.go
  src/go/k8s/tests/e2e/produce-consume/01-assert.yaml
  src/go/k8s/tests/e2e/produce-consume/01-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/update-image/01-current-image.yaml
  src/go/k8s/tests/e2e/update/01-one-replica.yaml
Labels: area/k8s

#666 operator/tests: move artifacts to a different folder
  src/go/k8s/kuttl-test.yaml
Labels: area/k8s

#670 Fix loading credentials for http server
  src/v/cluster/controller.cc
  src/v/redpanda/application.cc
Labels: area/redpanda

#665 operator: enable webhooks and add first validation logic
  .gitignore
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook_test.go
  src/go/k8s/config/default/kustomization.yaml
  src/go/k8s/config/default/manager_auth_proxy_patch.yaml
  src/go/k8s/hack/install-cert-manager.sh
  src/go/k8s/hack/wait-for-webhook-ready.sh
  src/go/k8s/kuttl-test.yaml
Labels: area/k8s

#677 operator: Introduce docker hub container in deployment
  src/go/k8s/Makefile
  src/go/k8s/README.md
  src/go/k8s/config/default/manager_auth_proxy_patch.yaml
  src/go/k8s/config/manager/kustomization.yaml
  src/go/k8s/config/manager/manager.yaml
  src/go/k8s/kuttl-test.yaml
Labels: area/k8s

#699 Compaction io priority
  src/v/raft/tests/bootstrap_configuration_test.cc
  src/v/raft/tests/mux_state_machine_fixture.h
  src/v/redpanda/application.cc
  src/v/storage/log_manager.cc
  src/v/storage/log_manager.h
  src/v/storage/opfuzz/opfuzz_test.cc
  src/v/storage/tests/half_page_concurrent_dispatch.cc
  src/v/storage/tests/storage_test_fixture.h
Labels: area/redpanda

#645 coproc: New design for deploying/removing scripts
  src/v/cluster/tests/cluster_test_fixture.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/coproc/CMakeLists.txt
  src/v/coproc/errc.h
  src/v/coproc/event_listener.cc
  src/v/coproc/event_listener.h
  src/v/coproc/gen.json
  src/v/coproc/gen_engine.json
  src/v/coproc/pacemaker.cc
  src/v/coproc/pacemaker.h
  src/v/coproc/script_dispatcher.cc
  src/v/coproc/script_dispatcher.h
  src/v/coproc/service.cc
  src/v/coproc/tests/CMakeLists.txt
  src/v/coproc/tests/event_listener_tests.cc
  src/v/coproc/tests/read_materialized_topic_test.cc
  src/v/coproc/tests/router_test.cc
  src/v/coproc/tests/script_manager_service_test.cc
  src/v/coproc/tests/utils/coproc_test_fixture.cc
  src/v/coproc/tests/utils/coproc_test_fixture.h
  src/v/coproc/tests/utils/coprocessor.h
  src/v/coproc/tests/utils/event_publisher.cc
  src/v/coproc/tests/utils/event_publisher.h
  src/v/coproc/tests/utils/helpers.cc
  src/v/coproc/tests/utils/helpers.h
  src/v/coproc/tests/utils/router_test_fixture.cc
  src/v/coproc/tests/utils/router_test_fixture.h
  src/v/coproc/tests/utils/supervisor.cc
  src/v/coproc/tests/utils/supervisor.h
  src/v/coproc/tests/utils/supervisor_test_fixture.h
  src/v/coproc/tests/utils/wasm_event_generator.cc
  src/v/coproc/tests/utils/wasm_event_generator.h
  src/v/coproc/tests/wasm_event_listener_tests.cc
  src/v/coproc/tests/wasm_event_tests.cc
  src/v/coproc/types.cc
  src/v/coproc/types.h
  src/v/coproc/wasm_event.cc
  src/v/coproc/wasm_event.h
  src/v/coproc/wasm_event_listener.cc
  src/v/coproc/wasm_event_listener.h
  src/v/kafka/client/client.h
  src/v/kafka/client/produce_batcher.h
  src/v/kafka/client/transport.h
  src/v/model/namespace.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/redpanda/tests/fixture.h
  src/v/ssx/future-util.h
  src/v/ssx/tests/async_transforms.cc
  src/v/utils/functional.h
Labels: area/redpanda

#702 coproc: Within ifdef glibcxx macro an incorrect name was defined
  src/v/utils/functional.h
Labels: area/redpanda
