Repository redpanda-data/redpanda, pull requests merged in 2021-08, with the labels that each got.

#1900 Add admin port to docker containers
  docs/www/quick-start-docker-CN.md
  docs/www/quick-start-docker.md
Labels: area/docs

#1938 Reject join requests if RPC address is already in use by another node
  src/v/cluster/members_manager.cc
  src/v/raft/group_configuration.cc
  src/v/raft/group_configuration.h
Labels: area/raft, area/redpanda, kind/tech-debt

#1951 k8s: bring back parallelism to e2e tests
  src/go/k8s/kuttl-test.yaml
Labels: area/k8s

#1949 Fix decode of null std::optional configuration options
  src/v/config/config_store.h
  src/v/config/configuration.h
  src/v/config/tests/config_store_test.cc
  src/v/pandaproxy/schema_registry/configuration.cc
  src/v/pandaproxy/schema_registry/configuration.h
  src/v/pandaproxy/schema_registry/service.cc
  src/v/redpanda/tests/fixture.h
Labels: area/redpanda, area/schema_registry, kind/tech-debt

#1960 schema_registry: Various fixes
  src/v/pandaproxy/schema_registry/CMakeLists.txt
  src/v/pandaproxy/schema_registry/errors.h
  src/v/pandaproxy/schema_registry/schema_util.cc
  src/v/pandaproxy/schema_registry/schema_util.h
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda

#1787 tx coordinator: expire old transactions
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/tx_gateway_frontend.h
  src/v/reflection/adl.h
Labels: area/redpanda

#1947 docs: Update docker version and image location
  docs/www/kubernetes-additional-config.md
  docs/www/quick-start-docker-CN.md
  docs/www/quick-start-docker.md
  docs/www/quick-start-kubernetes-CN.md
  docs/www/quick-start-kubernetes.md
Labels: area/docs

#1952 Configurable TCP server connection backlog
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/application.cc
  src/v/rpc/server.cc
  src/v/rpc/types.h
Labels: area/redpanda, kind/enhance

#1930 rpk topic describe: Remove ISR column in output
  src/go/rpk/pkg/cli/cmd/topic/describe.go
  src/go/rpk/pkg/cli/cmd/topic_test.go
Labels: area/rpk

#1965 Merge #1960 to v21.8.x
  src/v/pandaproxy/schema_registry/CMakeLists.txt
  src/v/pandaproxy/schema_registry/errors.h
  src/v/pandaproxy/schema_registry/schema_util.cc
  src/v/pandaproxy/schema_registry/schema_util.h
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda

#1982 Backport 1952 to v21.8.x
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/application.cc
  src/v/rpc/server.cc
  src/v/rpc/types.h
Labels: area/redpanda

#1948 k8s: split containers so we have one process per container
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook_test.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/pkg/resources/statefulset_test.go
  src/go/k8s/tests/e2e/external-connectivity/00-assert.yaml
  src/go/k8s/tests/e2e/node-select-tolerations/02-assert.yaml
  src/go/k8s/tests/e2e/produce-consume/00-assert.yaml
  src/go/k8s/tests/e2e/update-conf-image/00-configurator.yaml
  src/go/k8s/tests/e2e/update-conf-image/01-assert.yaml
  src/go/k8s/tests/e2e/update-conf-image/03-assert.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/00-current-image.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/01-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/00-current-image.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/01-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls/00-current-image.yaml
  src/go/k8s/tests/e2e/update-image-tls/01-assert.yaml
  src/go/k8s/tests/e2e/update/02-assert.yaml
Labels: area/k8s

#1923 rpk: add commands to talk to the admin /v1/brokers handlers
  src/go/rpk/pkg/api/admin/admin.go
  src/go/rpk/pkg/api/admin/api_broker.go
  src/go/rpk/pkg/api/admin/api_user.go
  src/go/rpk/pkg/api/admin/mock.go
  src/go/rpk/pkg/cli/cmd/acl/user.go
  src/go/rpk/pkg/cli/cmd/acl/user_test.go
  src/go/rpk/pkg/cli/cmd/redpanda.go
  src/go/rpk/pkg/cli/cmd/redpanda/admin/admin.go
  src/go/rpk/pkg/cli/cmd/redpanda/admin/brokers/brokers.go
  src/go/rpk/pkg/net/hostport.go
  src/go/rpk/pkg/net/hostport_test.go
  src/go/rpk/pkg/out/out.go
Labels: area/rpk

#1986 V21.8.x - k8s: split containers
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook_test.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/pkg/resources/statefulset_test.go
  src/go/k8s/tests/e2e/external-connectivity/00-assert.yaml
  src/go/k8s/tests/e2e/node-select-tolerations/02-assert.yaml
  src/go/k8s/tests/e2e/produce-consume/00-assert.yaml
  src/go/k8s/tests/e2e/update-conf-image/00-configurator.yaml
  src/go/k8s/tests/e2e/update-conf-image/01-assert.yaml
  src/go/k8s/tests/e2e/update-conf-image/03-assert.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/00-current-image.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/01-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/00-current-image.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/01-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls/00-current-image.yaml
  src/go/k8s/tests/e2e/update-image-tls/01-assert.yaml
  src/go/k8s/tests/e2e/update/02-assert.yaml
Labels: area/redpanda, area/k8s

#1937 raft: Force TCP connections to disconnect if heartbeats aren't getting responses
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/consensus_client_protocol.h
  src/v/raft/heartbeat_manager.cc
  src/v/raft/rpc_client_protocol.cc
  src/v/raft/rpc_client_protocol.h
  src/v/raft/tests/raft_group_fixture.h
  src/v/raft/types.h
Labels: kind/bug, area/redpanda

#2009 storage: fix kvstore_test tripping over previous runs' files
  src/v/storage/tests/kvstore_test.cc
Labels: area/storage, area/redpanda, kind/tech-debt

#2016 r/rpc_client_protocol: checking result in ensure_disconnect
  src/v/raft/rpc_client_protocol.cc
Labels: area/redpanda

#1996 storage: use a fragmented vector for segment index
  src/v/storage/index_state.cc
  src/v/storage/index_state.h
  src/v/utils/fragmented_vector.h
  src/v/utils/tests/CMakeLists.txt
  src/v/utils/tests/fragmented_vector_test.cc
Labels: area/redpanda

#2014 kafka: fixes for two-stage produce
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/handlers/produce.cc
Labels: area/redpanda, kind/backport

#2017 admin brokers command: remove describe, remove stray fmt.Println
  src/go/rpk/pkg/api/admin/admin.go
  src/go/rpk/pkg/api/admin/api_broker.go
  src/go/rpk/pkg/cli/cmd/redpanda/admin/brokers/brokers.go
Labels: area/rpk

#1920 pandaproxy/rest: Introduce GET /brokers
  src/v/pandaproxy/api/api-doc/rest.json
  src/v/pandaproxy/json/requests/brokers.h
  src/v/pandaproxy/rest/handlers.cc
  src/v/pandaproxy/rest/handlers.h
  src/v/pandaproxy/rest/proxy.cc
  tests/rptest/tests/pandaproxy_test.py
Labels: area/proxy, area/redpanda

#2003 Backport: raft: Force TCP connections to disconnect if heartbeats aren't getting responses
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/consensus_client_protocol.h
  src/v/raft/heartbeat_manager.cc
  src/v/raft/rpc_client_protocol.cc
  src/v/raft/rpc_client_protocol.h
  src/v/raft/tests/raft_group_fixture.h
  src/v/raft/types.h
Labels: area/raft, area/redpanda, kind/backport

#1994 schema_registry: Various fixes (part2)
  src/v/pandaproxy/schema_registry/avro.cc
  src/v/pandaproxy/schema_registry/error.cc
  src/v/pandaproxy/schema_registry/errors.h
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/storage.h
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/compatibility_avro.cc
  src/v/pandaproxy/schema_registry/test/compatibility_avro.h
  src/v/pandaproxy/schema_registry/test/consume_to_store.cc
  src/v/pandaproxy/schema_registry/test/post_subjects_subject_version.cc
  src/v/pandaproxy/schema_registry/test/storage.cc
  src/v/pandaproxy/schema_registry/test/store.cc
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, kind/backport

#2021 Merge pr1994 to v21.8.x
  src/v/pandaproxy/schema_registry/avro.cc
  src/v/pandaproxy/schema_registry/error.cc
  src/v/pandaproxy/schema_registry/errors.h
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/storage.h
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/compatibility_avro.cc
  src/v/pandaproxy/schema_registry/test/compatibility_avro.h
  src/v/pandaproxy/schema_registry/test/consume_to_store.cc
  src/v/pandaproxy/schema_registry/test/post_subjects_subject_version.cc
  src/v/pandaproxy/schema_registry/test/storage.cc
  src/v/pandaproxy/schema_registry/test/store.cc
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda

#2018 rpk: introduce redpanda admin config command
  src/go/k8s/go.sum
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/api/admin/api_config.go
  src/go/rpk/pkg/cli/cmd/redpanda/admin/admin.go
  src/go/rpk/pkg/cli/cmd/redpanda/admin/config/config.go
  src/go/rpk/pkg/out/out.go
Labels: area/rpk, area/k8s

#2028 docs/config: Fix rpk field name & value
  docs/www/configuration.md
Labels: area/docs

#1954 Fixes several transaction availability issues
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/persisted_stm.cc
  src/v/cluster/rm_partition_frontend.cc
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/rm_stm_tests.cc
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/types.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/handlers/add_offsets_to_txn.cc
  src/v/kafka/server/handlers/add_partitions_to_txn.cc
  src/v/kafka/server/handlers/end_txn.cc
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/log_eviction_stm.cc
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda

#1990 Fixes persisted_stm not to read before start offset
  docs/www/configuration.md
  src/v/cluster/persisted_stm.cc
  src/v/cluster/persisted_stm.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

#1993 Introduce "plugin" command
  src/go/k8s/go.mod
  src/go/k8s/go.sum
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cmd/plugin/plugin.go
  src/go/rpk/pkg/cli/cmd/root.go
  src/go/rpk/pkg/cli/cmd/root_test.go
  src/go/rpk/pkg/cli/cmd/wasm/generate.go
  src/go/rpk/pkg/plugin/manifest.go
  src/go/rpk/pkg/plugin/manifest_test.go
  src/go/rpk/pkg/plugin/plugin.go
  src/go/rpk/pkg/plugin/plugin_test.go
  src/go/rpk/pkg/testfs/testfs.go
  src/go/rpk/pkg/tuners/executors/script_rendering.go
  src/go/rpk/pkg/utils/files.go
  taskfiles/dev.yml
  taskfiles/rpk.yml
Labels: area/rpk, area/k8s

#1989 Seastar update
  .vtools-sha
  cmake/oss.cmake.in
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/resource_mgmt/io_priority.h
  src/v/storage/backlog_controller.cc
  src/v/storage/tests/backlog_controller_test.cc
  src/v/v8_engine/executor.cc
  src/v/v8_engine/executor.h
  src/v/v8_engine/tests/executor_test.cc
  src/v/v8_engine/tests/script_test.cc
  tools/cmake_test.py
Labels: area/build, area/redpanda, kind/tech-debt

#2036 kafka: fix autocreated topics disabling cleanup deletion
  src/v/cluster/types.h
Labels: kind/bug, area/kafka, area/redpanda

#2034 backport #1787, #1990, #1954
  docs/www/configuration.md
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/persisted_stm.cc
  src/v/cluster/persisted_stm.h
  src/v/cluster/rm_partition_frontend.cc
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/rm_stm_tests.cc
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/tx_gateway_frontend.h
  src/v/cluster/types.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/handlers/add_offsets_to_txn.cc
  src/v/kafka/server/handlers/add_partitions_to_txn.cc
  src/v/kafka/server/handlers/end_txn.cc
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/log_eviction_stm.cc
  src/v/reflection/adl.h
  src/v/storage/disk_log_impl.cc
Labels: area/docs, area/redpanda, kind/backport

#2038 backport/21.8.x: #2014, #1996
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/handlers/produce.cc
  src/v/storage/index_state.cc
  src/v/storage/index_state.h
  src/v/utils/fragmented_vector.h
  src/v/utils/tests/CMakeLists.txt
  src/v/utils/tests/fragmented_vector_test.cc
Labels: area/redpanda

#2039 kafka/tx: init consumer group's term on creation
  src/v/kafka/server/group_manager.cc
Labels: area/redpanda

#2040 backport/21.8.x: #2039
  src/v/kafka/server/group_manager.cc
Labels: area/redpanda, kind/backport

#2044 k/produce: do not return unknown_server_error when leadership changed
  src/v/kafka/server/handlers/produce.cc
Labels: area/redpanda, kind/backport

#2030 tools: improved backtrace capture in cmake_test
  tools/cmake_test.py
Labels: kind/tech-debt

#1991 serde: more upward/downward compatibility
  src/v/bytes/iobuf_parser.h
  src/v/serde/envelope.h
  src/v/serde/envelope_for_each_field.h
  src/v/serde/serde.h
  src/v/serde/test/serde_test.cc
Labels: area/redpanda

#2047 Fix updating requests completed metric
  src/v/kafka/server/connection_context.cc
Labels: area/redpanda

#1979 Fix applying partition update operations
  src/v/cluster/cluster_utils.cc
  src/v/cluster/cluster_utils.h
  src/v/cluster/controller_backend.cc
  src/v/cluster/members_backend.cc
  src/v/cluster/members_manager.cc
  src/v/cluster/topic_table.cc
  src/v/raft/mux_state_machine.h
Labels: area/redpanda

#2043 Fixed handling of leader epoch in Kafka protocol
  src/v/kafka/client/consumer.cc
  src/v/kafka/client/fetch_session.cc
  src/v/kafka/client/fetcher.cc
  src/v/kafka/client/test/fetch_session.cc
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/server/handlers/metadata.cc
  src/v/kafka/types.h
Labels: area/redpanda

#2061 admin_server: fix double-free of the dashboard handler
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
Labels: area/redpanda

#2025 Implemented `CreatePartitionsAPI`
  src/v/cluster/commands.h
  src/v/cluster/controller.cc
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/create_partitions_test.cc
  src/v/cluster/tests/rebalancing_tests_fixture.h
  src/v/cluster/tests/topic_table_test.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/cluster/topic_updates_dispatcher.cc
  src/v/cluster/topic_updates_dispatcher.h
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/kafka/CMakeLists.txt
  src/v/kafka/protocol/create_partitions.h
  src/v/kafka/protocol/schemata/CMakeLists.txt
  src/v/kafka/protocol/schemata/create_partitions_request.json
  src/v/kafka/protocol/schemata/create_partitions_response.json
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/server/handlers/api_versions.cc
  src/v/kafka/server/handlers/create_partitions.cc
  src/v/kafka/server/handlers/create_partitions.h
  src/v/kafka/server/handlers/handlers.h
  src/v/kafka/server/requests.cc
  tests/rptest/clients/kafka_cli_tools.py
  tests/rptest/tests/create_partitions_test.py
Labels: kind/enhance, area/redpanda

#2049 schema_registry: Introduce POST /subjects/{subject}
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/api/api-doc/schema_registry_definitions.def.json
  src/v/pandaproxy/api/api-doc/schema_registry_header.json
  src/v/pandaproxy/error.cc
  src/v/pandaproxy/error.h
  src/v/pandaproxy/schema_registry/error.cc
  src/v/pandaproxy/schema_registry/error.h
  src/v/pandaproxy/schema_registry/errors.h
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/handlers.h
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda

#2033 raft: automatic leadership rebalancing
  src/v/cluster/CMakeLists.txt
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/partition.h
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/cluster/scheduling/leader_balancer.h
  src/v/cluster/scheduling/leader_balancer_greedy.h
  src/v/cluster/scheduling/leader_balancer_probe.cc
  src/v/cluster/scheduling/leader_balancer_probe.h
  src/v/cluster/scheduling/leader_balancer_strategy.h
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/leader_balancer_test.cc
  src/v/cluster/topic_table.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/model/metadata.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/consensus_client_protocol.h
  src/v/raft/errc.h
  src/v/raft/group_manager.h
  src/v/raft/raftgen.json
  src/v/raft/rpc_client_protocol.cc
  src/v/raft/rpc_client_protocol.h
  src/v/raft/service.h
  src/v/raft/types.h
  src/v/redpanda/admin_server.cc
  src/v/redpanda/application.cc
  src/v/rpc/types.h
  tests/rptest/tests/leadership_transfer_test.py
Labels: area/redpanda

#1987 storage: disable COW for log files when running on btrfs
  src/v/storage/segment.cc
  src/v/storage/segment_utils.cc
  src/v/storage/segment_utils.h
  src/v/storage/snapshot.cc
Labels: kind/enhance, area/storage, area/redpanda

#2065 schema_registry: Introduce GET /schemas/ids/{id}/versions
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/api/api-doc/schema_registry_header.json
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/handlers.h
  src/v/pandaproxy/schema_registry/requests/get_schemas_ids_id_versions.h
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/store.cc
  src/v/pandaproxy/schema_registry/types.h
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda

#2051 docs/mac: Update MacOS rpk quickstart guide
  docs/www/quick-start-macos.md
Labels: area/docs

#2067 backport/v21.8.x: leadership balancing #2033
  src/v/cluster/CMakeLists.txt
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/partition.h
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/cluster/scheduling/leader_balancer.h
  src/v/cluster/scheduling/leader_balancer_greedy.h
  src/v/cluster/scheduling/leader_balancer_probe.cc
  src/v/cluster/scheduling/leader_balancer_probe.h
  src/v/cluster/scheduling/leader_balancer_strategy.h
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/leader_balancer_test.cc
  src/v/cluster/topic_table.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/model/metadata.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/consensus_client_protocol.h
  src/v/raft/errc.h
  src/v/raft/group_manager.h
  src/v/raft/raftgen.json
  src/v/raft/rpc_client_protocol.cc
  src/v/raft/rpc_client_protocol.h
  src/v/raft/service.h
  src/v/raft/types.h
  src/v/redpanda/admin_server.cc
  src/v/redpanda/application.cc
  src/v/rpc/types.h
  tests/rptest/tests/leadership_transfer_test.py
Labels: area/redpanda, kind/backport

#1988 Node operations fixes
  src/v/cluster/controller.cc
  src/v/cluster/controller_backend.cc
  src/v/cluster/members_backend.cc
  src/v/cluster/members_backend.h
  src/v/cluster/members_manager.cc
  src/v/cluster/members_manager.h
  src/v/cluster/members_table.cc
  src/v/cluster/members_table.h
  src/v/cluster/scheduling/allocation_node.cc
  src/v/cluster/scheduling/allocation_node.h
  src/v/cluster/scheduling/allocation_state.cc
  src/v/cluster/scheduling/allocation_state.h
  src/v/cluster/scheduling/constraints.cc
  src/v/cluster/scheduling/constraints.h
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/cluster/scheduling/partition_allocator.h
  src/v/cluster/tests/cluster_tests.cc
  src/v/cluster/tests/partition_allocator_tests.cc
  src/v/cluster/tests/partition_moving_test.cc
  src/v/cluster/tests/replicas_rebalancing_tests.cc
  src/v/kafka/server/tests/metadata_test.cc
  src/v/redpanda/tests/fixture.h
  tests/rptest/clients/kafka_client.py
  tests/rptest/services/admin.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/node_operations_fuzzy_test.py
  tests/rptest/tests/nodes_decommissioning_test.py
  tests/rptest/tests/scaling_up_test.py
Labels: area/redpanda

#2066 schema_registry: Improve delete_subject
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/store.cc
  tests/rptest/tests/schema_registry_test.py
Labels: kind/bug, area/redpanda

#2072 r/consensus: fixed suppressing follower heartbeats
  src/v/raft/consensus.cc
  src/v/raft/types.h
Labels: area/redpanda

#2070 tools: wait for exit code in cmake_test.py
  tools/cmake_test.py
Labels: kind/bug

#2064 Propagating raft append entries request backpressure
  src/v/raft/replicate_entries_stm.cc
  src/v/raft/replicate_entries_stm.h
  src/v/rpc/transport.cc
  src/v/rpc/transport.h
  src/v/rpc/types.h
Labels: area/redpanda

#2056 Operator CI fixes
  src/go/k8s/Makefile
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook_test.go
  src/go/k8s/kind.yaml
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/tests/e2e/additional-configuration/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-sasl/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-tls-client/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-tls-client/01-assert.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-tls-client/01-create-topic.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-tls-client/02-assert.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-tls-client/02-produce-message.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-tls-client/03-assert.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-tls-client/03-consume-message.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume/02-assert.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume/02-produce-message.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume/03-assert.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume/03-consume-message.yaml
  src/go/k8s/tests/e2e/produce-consume/00-assert.yaml
  src/go/k8s/tests/e2e/produce-consume/00-redpanda-cluster.yaml
Labels: area/k8s

#2073 backport/v21.8.x pr2049 pr2065 pr2066
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/api/api-doc/schema_registry_definitions.def.json
  src/v/pandaproxy/api/api-doc/schema_registry_header.json
  src/v/pandaproxy/error.cc
  src/v/pandaproxy/error.h
  src/v/pandaproxy/schema_registry/error.cc
  src/v/pandaproxy/schema_registry/error.h
  src/v/pandaproxy/schema_registry/errors.h
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/handlers.h
  src/v/pandaproxy/schema_registry/requests/get_schemas_ids_id_versions.h
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/store.cc
  src/v/pandaproxy/schema_registry/types.h
  tests/rptest/tests/schema_registry_test.py
Labels: area/proxy, area/redpanda, kind/backport

#2074 backport/21.8.x: raft and node decommission fixes
  src/v/cluster/cluster_utils.cc
  src/v/cluster/cluster_utils.h
  src/v/cluster/controller.cc
  src/v/cluster/controller_backend.cc
  src/v/cluster/members_backend.cc
  src/v/cluster/members_backend.h
  src/v/cluster/members_manager.cc
  src/v/cluster/members_manager.h
  src/v/cluster/members_table.cc
  src/v/cluster/members_table.h
  src/v/cluster/scheduling/allocation_node.cc
  src/v/cluster/scheduling/allocation_node.h
  src/v/cluster/scheduling/allocation_state.cc
  src/v/cluster/scheduling/allocation_state.h
  src/v/cluster/scheduling/constraints.cc
  src/v/cluster/scheduling/constraints.h
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/cluster/scheduling/partition_allocator.h
  src/v/cluster/tests/cluster_tests.cc
  src/v/cluster/tests/partition_allocator_tests.cc
  src/v/cluster/tests/partition_moving_test.cc
  src/v/cluster/tests/replicas_rebalancing_tests.cc
  src/v/cluster/topic_table.cc
  src/v/kafka/client/consumer.cc
  src/v/kafka/client/fetch_session.cc
  src/v/kafka/client/fetcher.cc
  src/v/kafka/client/test/fetch_session.cc
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/handlers/metadata.cc
  src/v/kafka/server/handlers/produce.cc
  src/v/kafka/server/tests/metadata_test.cc
  src/v/kafka/types.h
  src/v/raft/consensus.cc
  src/v/raft/mux_state_machine.h
  src/v/raft/replicate_entries_stm.cc
  src/v/raft/replicate_entries_stm.h
  src/v/raft/types.h
  src/v/redpanda/tests/fixture.h
  src/v/rpc/transport.cc
  src/v/rpc/transport.h
  src/v/rpc/types.h
  tests/rptest/clients/kafka_client.py
  tests/rptest/services/admin.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/node_operations_fuzzy_test.py
  tests/rptest/tests/nodes_decommissioning_test.py
  tests/rptest/tests/scaling_up_test.py
Labels: area/redpanda

#2087 Fix 404 from custom configuration link
  docs/www/kubernetes-additional-config.md
Labels: area/docs

#2088 docs: Reassign link to body text
  docs/www/kubernetes-additional-config.md
Labels: area/docs

#2098 backport/v21.8.x - k8s operator ci fix
  src/go/k8s/Makefile
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook_test.go
  src/go/k8s/kind.yaml
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/tests/e2e/additional-configuration/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-sasl/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-tls-client/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-tls-client/01-assert.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-tls-client/01-create-topic.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-tls-client/02-assert.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-tls-client/02-produce-message.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-tls-client/03-assert.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-tls-client/03-consume-message.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume/02-assert.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume/02-produce-message.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume/03-assert.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume/03-consume-message.yaml
  src/go/k8s/tests/e2e/produce-consume/00-assert.yaml
  src/go/k8s/tests/e2e/produce-consume/00-redpanda-cluster.yaml
Labels: area/k8s

#2099 cluster: fix errc::invalid_node_operation typo
  src/v/cluster/errc.h
  src/v/cluster/members_table.cc
  src/v/cluster/scheduling/allocation_state.cc
  src/v/cluster/topic_table.cc
  src/v/redpanda/admin_server.cc
Labels: area/redpanda

#2100 leader_balancer: fix logging
  src/v/cluster/scheduling/leader_balancer.cc
Labels: area/redpanda

#2097 raft: fix passing leader id to leadership notification callbacks
  src/v/raft/group_manager.cc
Labels: area/redpanda

#2083 operator: add development instructions to README
  src/go/k8s/Makefile
  src/go/k8s/README.md
  src/go/k8s/hack/install-cert-manager.sh
Labels: area/k8s

#2102 storage: avoid file size moving backward
  src/v/storage/segment.cc
Labels: area/redpanda

#1946 Improve production mode language
  docs/www/production-deployment.md
Labels: area/docs

#2082 Clarify some log messages & metrics
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/raft/consensus.cc
  src/v/raft/heartbeat_manager.cc
  src/v/rpc/probes.cc
  src/v/storage/segment_utils.cc
Labels: area/redpanda, kind/tech-debt

#2095 archival: Handle ETIMEDOUT as retryable
  src/v/cloud_storage/remote.cc
Labels: area/redpanda

#2081 Node operations fuzzing test adjustments
  src/v/raft/replicate_batcher.cc
  src/v/raft/vote_stm.cc
  tests/rptest/tests/node_operations_fuzzy_test.py
Labels: area/redpanda

#2109 Backport of #2097 and #2100 to v21.8.x
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/raft/group_manager.cc
Labels: area/redpanda

#2104 Backport: storage: avoid file size moving backward
  src/v/storage/segment.cc
Labels: area/storage, area/redpanda, kind/backport

#2060 tests: add ducktape topic autocreation test
  tests/rptest/clients/rpk.py
  tests/rptest/clients/types.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/alter_topic_configuration_test.py
  tests/rptest/tests/redpanda_test.py
  tests/rptest/tests/topic_autocreate_test.py
Labels: area/kafka, kind/tech-debt

#1939 archival: Stability fixes
  src/v/archival/service.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/http/client.cc
  src/v/http/client.h
  src/v/http/tests/http_client_test.cc
  src/v/s3/client.cc
  src/v/s3/client.h
  src/v/s3/signature.cc
  src/v/s3/signature.h
Labels: area/redpanda

#2113 Backport node operation fixes
  src/v/raft/replicate_batcher.cc
  src/v/raft/vote_stm.cc
  tests/rptest/tests/node_operations_fuzzy_test.py
Labels: area/redpanda

#2116 serde: fix for float/double and optional
  src/v/serde/serde.h
  src/v/serde/test/serde_test.cc
Labels: area/redpanda

#2110 cluster: use muted nodes to improve leadership rebalancing
  src/v/cluster/controller.cc
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/cluster/scheduling/leader_balancer.h
  src/v/cluster/scheduling/leader_balancer_greedy.h
  src/v/cluster/tests/leader_balancer_test.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

#2117 backport/v21.8.x: #2110 leadership rebalancing fixes
  src/v/cluster/controller.cc
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/cluster/scheduling/leader_balancer.h
  src/v/cluster/scheduling/leader_balancer_greedy.h
  src/v/cluster/tests/leader_balancer_test.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda, kind/backport

#2124 rpc: track simple protocol method service latencies
  src/v/redpanda/application.cc
  src/v/rpc/netbuf.cc
  src/v/rpc/netbuf.h
  src/v/rpc/service.h
  src/v/rpc/simple_protocol.cc
  src/v/rpc/simple_protocol.h
  src/v/rpc/test/netbuf_tests.cc
  src/v/rpc/transport.cc
  src/v/rpc/transport.h
  src/v/rpc/types.h
  src/v/utils/hdr_hist.h
  tools/rpcgen.py
Labels: area/redpanda

#2114 Fixed shutting down raft
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/replicate_batcher.cc
  src/v/raft/replicate_batcher.h
  src/v/redpanda/application.cc
  tests/rptest/services/redpanda.py
Labels: area/redpanda

#2108 Support for moving internal topic replicas
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
  tests/rptest/tests/node_operations_fuzzy_test.py
Labels: area/redpanda

#2079 franz-go client switch: start
  src/go/k8s/Dockerfile.in
  src/go/k8s/go.sum
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cmd/acl/user.go
  src/go/rpk/pkg/cli/cmd/cluster.go
  src/go/rpk/pkg/cli/cmd/cluster/offsets.go
  src/go/rpk/pkg/cli/cmd/cluster/offsets_test.go
  src/go/rpk/pkg/cli/cmd/common/common.go
  src/go/rpk/pkg/cli/cmd/common/common_test.go
  src/go/rpk/pkg/cli/cmd/redpanda/admin/admin.go
  src/go/rpk/pkg/config/params.go
  src/go/rpk/pkg/config/schema.go
  src/go/rpk/pkg/kafka/client_franz.go
  src/go/rpk/pkg/out/out.go
Labels: area/rpk, area/k8s

#2052 rpk: Support using lowercase for the SASL mechanism
  src/go/rpk/pkg/kafka/client.go
  src/go/rpk/pkg/kafka/client_test.go
Labels: area/rpk

#2131 Backport PR2108 & PR2114
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/replicate_batcher.cc
  src/v/raft/replicate_batcher.h
  src/v/redpanda/application.cc
  tests/rptest/services/redpanda.py
  tests/rptest/tests/node_operations_fuzzy_test.py
Labels: area/redpanda

#2136 c/controller_backend: all the nodes must be a voters before finish move
  src/v/cluster/controller_backend.cc
Labels: area/redpanda, kind/backport

#2139 backport/v21.8.x: #2136
  src/v/cluster/controller_backend.cc
Labels: area/redpanda, kind/backport

#2134 Fixed raft error handling related with accessing stopped partition
  src/v/cluster/tests/rebalancing_tests_fixture.h
  src/v/cluster/tests/replicas_rebalancing_tests.cc
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/errc.h
  src/v/raft/replicate_batcher.cc
  src/v/raft/replicate_entries_stm.cc
Labels: area/redpanda, kind/backport

#2146 backport/v21.8.x: #2134
  src/v/cluster/tests/rebalancing_tests_fixture.h
  src/v/cluster/tests/replicas_rebalancing_tests.cc
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/errc.h
  src/v/raft/replicate_batcher.cc
  src/v/raft/replicate_entries_stm.cc
Labels: area/redpanda

#2178 Add new defaults for transactions
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook_test.go
Labels: area/k8s

#2127 Fix incorrect transactional error handling and flaky tests
  src/v/cluster/CMakeLists.txt
  src/v/cluster/id_allocator_frontend.cc
  src/v/cluster/rm_partition_frontend.cc
  src/v/cluster/rm_stm.cc
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/tx_helpers.cc
  src/v/cluster/tx_helpers.h
  src/v/kafka/server/handlers/add_partitions_to_txn.cc
  src/v/kafka/server/handlers/end_txn.cc
  src/v/kafka/server/handlers/init_producer_id.cc
  tests/java/tx-verifier/src/main/java/io/vectorized/kafka/Verifier.java
Labels: area/redpanda, kind/backport

#2186 docs: Fix seed server syntax
  docs/www/configuration.md
Labels: area/docs

#2191 k8s/tests: invoke `helm dep up`
  src/go/k8s/kuttl-helm-test.yaml
Labels: area/k8s

#2184 kafka/tx: add tx_seq to group's abort_tx
  src/v/cluster/rm_group_proxy.h
  src/v/cluster/tx_gateway_frontend.cc
  src/v/kafka/server/handlers/end_txn.cc
  src/v/kafka/server/handlers/init_producer_id.cc
  src/v/kafka/server/rm_group_frontend.cc
  src/v/kafka/server/rm_group_frontend.h
Labels: area/redpanda, kind/backport

#2189 tx/sync: fix transaction related pauses
  src/v/cluster/partition.cc
  src/v/cluster/persisted_stm.cc
  src/v/cluster/persisted_stm.h
  src/v/cluster/rm_stm.cc
  src/v/config/configuration.cc
Labels: area/redpanda
