Repository redpanda-data/redpanda, pull requests merged in 2021-03, with the labels that each got.

#710 Miscellaneous fixes and clean-up
  .clang-tidy
  .vim/coc-settings.json
  src/v/bytes/details/io_byte_iterator.h
  src/v/kafka/server/coordinator_ntp_mapper.h
  src/v/kafka/server/group.cc
  src/v/kafka/server/protocol.h
  src/v/rpc/response_handler.h
  src/v/storage/batch_cache.cc
  src/v/storage/batch_cache.h
  src/v/storage/compacted_index.h
  src/v/storage/fs_utils.h
  src/v/storage/kvstore.cc
  src/v/storage/snapshot.h
  src/v/utils/gate_guard.h
  src/v/utils/memory_data_source.h
Labels: area/redpanda

#713 operator: Do not inject whole service into other resources
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/pkg/resources/statefulset_test.go
  src/go/k8s/pkg/resources/statefulset_update.go
Labels: area/k8s

#717 operator: download cert-manager verifier to bin
  src/go/k8s/hack/install-cert-manager.sh
Labels: area/k8s

#601 Add hash64 id to deploy remove wasm command
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cmd/wasm/common.go
  src/go/rpk/pkg/cli/cmd/wasm/deploy.go
  src/go/rpk/pkg/cli/cmd/wasm/deploy_test.go
  src/go/rpk/pkg/cli/cmd/wasm/remove.go
  src/go/rpk/pkg/cli/cmd/wasm/remove_test.go
  src/go/rpk/pkg/kafka/mocks/producer.go
  src/go/rpk/pkg/kafka/utils.go
Labels: area/rpk

#679 Introduce consumer groups fetch and wire it up to Pandaproxy
  src/v/kafka/client/client.cc
  src/v/kafka/client/client.h
  src/v/kafka/client/consumer.cc
  src/v/kafka/client/consumer.h
  src/v/kafka/client/fetch_session.cc
  src/v/kafka/client/fetcher.cc
  src/v/kafka/client/test/consumer_group.cc
  src/v/kafka/protocol/types.h
  src/v/pandaproxy/CMakeLists.txt
  src/v/pandaproxy/api/api-doc/consumer_fetch.json
  src/v/pandaproxy/handlers.cc
  src/v/pandaproxy/handlers.h
  src/v/pandaproxy/proxy.cc
  src/v/pandaproxy/test/consumer_group.cc
Labels: area/redpanda

#726 Catch exceptions that may be thrown on reconnect by the kafka::client::client
  src/v/coproc/event_listener.cc
  src/v/coproc/event_listener.h
  src/v/kafka/client/brokers.cc
  src/v/kafka/client/brokers.h
  src/v/kafka/client/client.h
Labels: area/redpanda

#727 operator/lint: fix ST1016 error
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
Labels: area/k8s

#714 operator/tests: waiting for deployment in each step is not needed
  src/go/k8s/tests/e2e/produce-consume/00-assert.yaml
  src/go/k8s/tests/e2e/produce-consume/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/produce-consume/01-assert.yaml
  src/go/k8s/tests/e2e/produce-consume/01-create-topic.yaml
  src/go/k8s/tests/e2e/produce-consume/02-assert.yaml
  src/go/k8s/tests/e2e/produce-consume/02-produce-message.yaml
  src/go/k8s/tests/e2e/produce-consume/03-assert.yaml
  src/go/k8s/tests/e2e/produce-consume/03-consume-message.yaml
  src/go/k8s/tests/e2e/produce-consume/04-assert.yaml
  src/go/k8s/tests/e2e/produce-consume/04-delete-topic.yaml
  src/go/k8s/tests/e2e/produce-consume/05-assert.yaml
  src/go/k8s/tests/e2e/update-image/00-assert.yaml
  src/go/k8s/tests/e2e/update-image/00-current-image.yaml
  src/go/k8s/tests/e2e/update-image/01-assert.yaml
  src/go/k8s/tests/e2e/update-image/01-new-image.yaml
  src/go/k8s/tests/e2e/update-image/02-assert.yaml
  src/go/k8s/tests/e2e/update/00-assert.yaml
  src/go/k8s/tests/e2e/update/00-one-replica.yaml
  src/go/k8s/tests/e2e/update/01-assert.yaml
  src/go/k8s/tests/e2e/update/01-two-replicas.yaml
  src/go/k8s/tests/e2e/update/02-assert.yaml
  src/go/k8s/tests/e2e/update/02-update-resources.yaml
  src/go/k8s/tests/e2e/update/03-assert.yaml
Labels: area/k8s

#731 rpk/debug/info: log errors on debug level
  src/go/rpk/pkg/cli/cmd/debug/info.go
Labels: area/rpk

#698 rpc/transport: keep socket alive after connection timeout was triggered
  src/v/rpc/transport.cc
Labels: area/redpanda

#722 pp/consumer_groups: Introduce more consumer group endpoints
  src/v/kafka/client/consumer.cc
  src/v/kafka/client/fetch_session.cc
  src/v/kafka/client/fetch_session.h
  src/v/kafka/client/test/consumer_group.cc
  src/v/kafka/client/test/fetch_session.cc
  src/v/pandaproxy/CMakeLists.txt
  src/v/pandaproxy/api/api-doc/get_consumer_offsets.json
  src/v/pandaproxy/api/api-doc/post_consumer_offsets.json
  src/v/pandaproxy/api/api-doc/remove_consumer.json
  src/v/pandaproxy/handlers.cc
  src/v/pandaproxy/handlers.h
  src/v/pandaproxy/json/requests/offset_commit.h
  src/v/pandaproxy/json/requests/offset_fetch.h
  src/v/pandaproxy/json/requests/partition_offsets.h
  src/v/pandaproxy/json/requests/partitions.h
  src/v/pandaproxy/proxy.cc
  src/v/pandaproxy/reply.h
  src/v/pandaproxy/test/consumer_group.cc
Labels: area/redpanda

#695 Whitelist topic creation options
  src/v/kafka/server/handlers/create_topics.cc
Labels: area/redpanda

#711 kafka: support broker entity type in describe configs
  src/v/kafka/server/handlers/describe_configs.cc
  src/v/kafka/server/requests.cc
  src/v/kafka/types.h
  tests/docker/Dockerfile
  tests/rptest/clients/kafka_cli_tools.py
  tests/rptest/tests/kafka_client_compat_test.py
Labels: area/redpanda

#720 kc: Various improvements to kafka client
  src/v/kafka/client/client.cc
  src/v/kafka/client/consumer.cc
  src/v/kafka/client/logger.h
  src/v/kafka/client/test/consumer_group.cc
Labels: area/redpanda

#712 kafka: fix consumer group race when deleting groups
  src/v/kafka/server/group_manager.cc
Labels: area/redpanda

#728 operator/tests: support running single e2e test
  src/go/k8s/Makefile
  src/go/k8s/tests/README.md
Labels: area/k8s

#739 operator/tests: fix loading image for e2e tests
  src/go/k8s/Makefile
  src/go/k8s/config/manager/kustomization.yaml
Labels: area/k8s

#743 Exit early on invariants change
  src/v/cluster/controller.cc
  src/v/cluster/members_manager.cc
  src/v/cluster/members_manager.h
  src/v/cluster/partition_allocator.cc
Labels: area/redpanda

#747 kafka/client: Remove shard_local_cfg()
  src/v/config/base_property.h
  src/v/coproc/event_listener.cc
  src/v/coproc/tests/utils/event_publisher.cc
  src/v/coproc/tests/utils/event_publisher.h
  src/v/kafka/client/client.cc
  src/v/kafka/client/client.h
  src/v/kafka/client/configuration.cc
  src/v/kafka/client/configuration.h
  src/v/kafka/client/consumer.cc
  src/v/kafka/client/consumer.h
  src/v/kafka/client/produce_partition.h
  src/v/kafka/client/producer.cc
  src/v/kafka/client/producer.h
  src/v/kafka/client/test/consumer_group.cc
  src/v/kafka/client/test/fetch.cc
  src/v/kafka/client/test/fixture.h
  src/v/kafka/client/test/produce.cc
  src/v/kafka/client/test/produce_partition.cc
  src/v/kafka/client/test/reconnect.cc
  src/v/pandaproxy/application.cc
  src/v/pandaproxy/application.h
  src/v/pandaproxy/proxy.cc
  src/v/pandaproxy/proxy.h
  src/v/pandaproxy/test/consumer_group.cc
  src/v/pandaproxy/test/fetch.cc
  src/v/pandaproxy/test/pandaproxy_fixture.h
  src/v/pandaproxy/test/produce.cc
  src/v/redpanda/application.cc
Labels: area/redpanda

#750 Change internal links to relative
  docs/www/faq.md
  docs/www/quick-start-docker.md
  docs/www/quick-start-kubernetes.md
  docs/www/quick-start-linux.md
  docs/www/quick-start-macos.md
Labels: area/docs

#762 docs: Change relative links to permanent
  docs/www/faq.md
  docs/www/quick-start-docker.md
  docs/www/quick-start-kubernetes.md
  docs/www/quick-start-linux.md
  docs/www/quick-start-macos.md
Labels: area/docs

#659 Implement enable and disable coproc scripts on RPC Layer
  src/js/generate-entries.sh
  src/js/modules/domain/Handle.ts
  src/js/modules/domain/generatedRpc/entitiesDefinition.json
  src/js/modules/rpc/errors.ts
  src/js/modules/rpc/server.ts
  src/js/modules/rpc/service.ts
  src/js/modules/supervisors/FileManager.ts
  src/js/modules/supervisors/HandleError.ts
  src/js/modules/supervisors/Repository.ts
  src/js/test/rpc/errors.test.ts
  src/js/test/rpc/server.test.ts
  src/js/test/supervisors/FileManager.test.ts
  src/js/test/supervisors/HandleError.test.ts
  src/js/test/supervisors/Repository.test.ts
  src/js/test/testUtilities.ts
Labels: area/wasm

#752 operator: Add race flag to the integration tests
  src/go/k8s/Makefile
Labels: area/k8s

#746 rpk/start: Fix flags-configuration bindings
  src/go/rpk/pkg/cli/cmd/redpanda/start.go
  src/go/rpk/pkg/cli/cmd/redpanda/start_test.go
  src/go/rpk/pkg/config/manager.go
Labels: area/rpk

#723 Implementing auto-deregistration policy for coprocessor scripts
  src/v/coproc/ntp_context.h
  src/v/coproc/pacemaker.cc
  src/v/coproc/pacemaker.h
  src/v/coproc/script_context.cc
  src/v/coproc/script_context.h
  src/v/coproc/tests/router_test.cc
  src/v/coproc/tests/utils/coprocessor.h
  src/v/coproc/tests/utils/supervisor.cc
  src/v/coproc/types.cc
  src/v/coproc/types.h
  src/v/reflection/async_adl.h
Labels: area/redpanda

#766 kafka: add describe acl api scaffolding
  src/v/kafka/CMakeLists.txt
  src/v/kafka/protocol/describe_acls.h
  src/v/kafka/protocol/schemata/CMakeLists.txt
  src/v/kafka/protocol/schemata/describe_acls_request.json
  src/v/kafka/protocol/schemata/describe_acls_response.json
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/server/handlers/api_versions.cc
  src/v/kafka/server/handlers/describe_acls.cc
  src/v/kafka/server/handlers/describe_acls.h
  src/v/kafka/server/handlers/handlers.h
  src/v/kafka/server/requests.cc
Labels: area/redpanda

#758 operator: Change the service DNS to absolute domain name
  src/go/k8s/pkg/resources/service.go
Labels: area/k8s

#753 operator/linter: Change golint confidence in golangci-lint
  src/go/k8s/.golangci.yml
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/pkg/resources/service.go
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/pkg/resources/statefulset_update.go
Labels: area/k8s

#751 operator: Ignore artifacts from kuttl tests
  .gitignore
Labels: area/k8s

#760 operator/e2e: Remove non existent ports
  src/go/k8s/tests/e2e/update-image/00-current-image.yaml
Labels: area/k8s

#754 operator/webhook: Validate port collision in configuration
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook_test.go
Labels: area/k8s

#759 operator/test: Fix the path to publish e2e artifacts
  .github/workflows/k8s-build-and-test.yml
Labels: area/build

#668 operator: do not set seastar memory
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook_test.go
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/tests/e2e/produce-consume/00-assert.yaml
Labels: area/k8s

#707 operator/docs: Add cert manager prerequisite
  src/go/k8s/README.md
  src/go/k8s/config/without-webhook/kustomization.yaml
  src/go/k8s/config/without-webhook/manager_auth_proxy_patch.yaml
Labels: area/k8s

#756 operator: Create new node port service
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/controllers/redpanda/cluster_controller_test.go
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/pkg/resources/headless_service.go
  src/go/k8s/pkg/resources/node_port_service.go
  src/go/k8s/tests/e2e/produce-consume/00-assert.yaml
Labels: area/k8s

#721 Error policy on rpc layer
  src/js/modules/domain/generatedRpc/entitiesDefinition.json
  src/js/modules/rpc/server.ts
  src/js/modules/supervisors/Repository.ts
  src/js/test/rpc/server.test.ts
Labels: area/wasm

#755 operator: Change init container that prepare config
  src/go/k8s/Makefile
  src/go/k8s/cmd/configurator/Dockerfile
  src/go/k8s/cmd/configurator/main.go
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/go.mod
  src/go/k8s/go.sum
  src/go/k8s/kuttl-test.yaml
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/pkg/resources/statefulset_update.go
Labels: area/k8s

#780 operator: Remove duplicated package comment
  src/go/k8s/pkg/resources/node_port_service.go
Labels: area/k8s

#732 rpk/cli/common: Improve error msg when the RP client can't be init'd
  src/go/rpk/pkg/cli/cmd/common/common.go
Labels: area/rpk

#773 Docs: Change relative links to permanent
  docs/www/faq.md
  docs/www/quick-start-docker.md
  docs/www/quick-start-kubernetes.md
  docs/www/quick-start-linux.md
  docs/www/quick-start-macos.md
Labels: area/docs

#784 rpk: make it possible to enable client auth
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/schema.go
Labels: area/rpk

#778 rpk: add `cluster offsets` tool for consumer lag reporting
  src/go/rpk/pkg/cli/cmd/cluster.go
  src/go/rpk/pkg/cli/cmd/cluster/offsets.go
  src/go/rpk/pkg/cli/cmd/cluster/offsets_test.go
  src/go/rpk/pkg/kafka/mocks/client.go
Labels: area/rpk

#775 operator: Fix the multi Redpanda node setup
  src/go/k8s/cmd/configurator/main.go
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/pkg/resources/configmap.go
Labels: area/k8s

#757 docs: Move the content from adv config to config
  docs/www/configuration.md
Labels: area/docs

#781 Refactor init configurator
  src/go/k8s/cmd/configurator/main.go
Labels: area/k8s

#763 Fixes for topic offsets metadata
  src/v/cluster/partition.h
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/list_offsets.cc
  src/v/model/metadata.h
Labels: area/redpanda

#792 build: update seastar
  cmake/oss.cmake.in
Labels: area/build

#776 operator: Extract ensure duplicated lines to dedicated func
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/pkg/resources/headless_service.go
  src/go/k8s/pkg/resources/node_port_service.go
  src/go/k8s/pkg/resources/resource.go
Labels: area/k8s

#794 operator: fix missing fmt import
  src/go/k8s/pkg/resources/configmap.go
Labels: area/k8s

#785 docs: MacOS Quick Start Guide updates
  docs/www/guide-nodejs.md
  docs/www/quick-start-docker.md
  docs/www/quick-start-linux.md
  docs/www/quick-start-macos.md
Labels: area/docs

#738 templates: Add section to PR description that explains the feature
  .github/pull_request_template.md
Labels: area/build

#809 Change titles to match TOC
  docs/www/autotune.md
  docs/www/configuration.md
  docs/www/guide-nodejs.md
  docs/www/guide-rpk-container.md
  docs/www/production-deployment.md
  docs/www/rpk-commands.md
  docs/www/well-known-io.md
Labels: area/docs

#772 Implementing a failure recovery mechanism for coprocessors
  src/js/modules/domain/generatedRpc/entitiesDefinition.json
  src/js/modules/rpc/server.ts
  src/v/coproc/event_listener.cc
  src/v/coproc/event_listener.h
  src/v/coproc/gen.json
  src/v/coproc/pacemaker.cc
  src/v/coproc/pacemaker.h
  src/v/coproc/script_dispatcher.cc
  src/v/coproc/script_dispatcher.h
  src/v/coproc/tests/CMakeLists.txt
  src/v/coproc/tests/failure_recovery_tests.cc
  src/v/coproc/tests/script_dispatcher_tests.cc
  src/v/coproc/tests/utils/coproc_slim_fixture.cc
  src/v/coproc/tests/utils/coproc_slim_fixture.h
  src/v/coproc/tests/utils/supervisor.cc
  src/v/coproc/tests/utils/supervisor.h
  src/v/coproc/tests/utils/supervisor_test_fixture.h
  src/v/coproc/types.h
  tools/ts-generator/example/functions.ts
  tools/ts-generator/example/test.ts
  tools/ts-generator/readme.md
  tools/ts-generator/types/functions.ts
  tools/ts-generator/types/test.ts
Labels: area/redpanda, area/storage, area/wasm

#630 archival: Add archival scheduler service
  src/v/archival/CMakeLists.txt
  src/v/archival/archival_policy.cc
  src/v/archival/archival_policy.h
  src/v/archival/manifest.cc
  src/v/archival/manifest.h
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/archival/service.cc
  src/v/archival/service.h
  src/v/archival/tests/CMakeLists.txt
  src/v/archival/tests/manifest_test.cc
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/archival/tests/service_fixture.cc
  src/v/archival/tests/service_fixture.h
  src/v/archival/tests/service_test.cc
  src/v/archival/types.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/http/client.cc
  src/v/http/client.h
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/s3/client.cc
  src/v/s3/client.h
  src/v/s3/error.cc
  src/v/s3/error.h
  src/v/s3/signature.cc
  src/v/s3/tests/s3_client_test.cc
  src/v/storage/log_manager.cc
  src/v/storage/log_manager.h
Labels: area/redpanda

#824 archival: Fix Google Cloud Storage compatibility issue
  src/v/archival/service.cc
  src/v/http/client.cc
  src/v/s3/client.cc
Labels: area/redpanda

#827 rpk/wasm: fix rpk wasm --brokers flag
  src/go/rpk/pkg/cli/cmd/wasm.go
Labels: area/rpk, area/wasm

#814 operator: Create helm chart
  src/go/k8s/.pre-commit-config.yaml
  src/go/k8s/helm-chart/README.md
  src/go/k8s/helm-chart/charts/redpanda-operator/Chart.yaml
  src/go/k8s/helm-chart/charts/redpanda-operator/README.md
  src/go/k8s/helm-chart/charts/redpanda-operator/README.md.gotmpl
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/NOTES.txt
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/_helpers.tpl
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/certificate.yaml
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/clusterrole.yaml
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/clusterrole_binding.yaml
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/clusterrole_metrics.yaml
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/clusterrole_proxy.yaml
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/clusterrole_proxy_binding.yaml
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/configmap.yaml
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/deployment.yaml
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/issuer.yaml
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/mutating_webhook.yaml
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/role.yaml
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/role_binding.yaml
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/service_account.yaml
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/service_metrics.yaml
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/service_webhook.yaml
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/validating_webhook.yaml
  src/go/k8s/helm-chart/charts/redpanda-operator/values.yaml
Labels: area/k8s

#810 Raft linearizable barrier
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/tests/append_entries_test.cc
Labels: area/redpanda

#830 archival: Add archival doc
  docs/www/archival.md
Labels: area/docs

#834 docs: fix archival.md frontmatter and headings
  docs/www/archival.md
Labels: area/docs

#815 test: Fix pandaproxy tests after merging server binaries
  tests/rptest/services/pandaproxy.py
  tests/rptest/services/redpanda.py
  tests/rptest/services/templates/pandaproxy.yaml
  tests/rptest/services/templates/redpanda.yaml
  tests/rptest/test_suite_pandaproxy.yml
  tests/rptest/tests/pandaproxy_test.py
  tests/rptest/tests/redpanda_test.py
Labels: area/proxy

#774 Partition movement tests fix
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/partition_moving_test.cc
Labels: area/redpanda

#840 build/lint: Pin version of yapf to 0.30.0
  .github/workflows/lint.yml
Labels: area/build

#845 Merge Docs commits to Dev
  docs/www/advanced-configuration.md
  docs/www/ansible-terraform.md
  docs/www/archival.md
  docs/www/autotune.md
  docs/www/configuration.md
  docs/www/guide-nodejs.md
  docs/www/guide-rpk-container.md
  docs/www/production-deployment.md
  docs/www/quick-start-docker.md
  docs/www/quick-start-linux.md
  docs/www/quick-start-macos.md
  docs/www/rpk-commands.md
  docs/www/rpk-modes.md
  docs/www/setup-guide.md
  docs/www/well-known-io.md
Labels: area/docs

#828 Partition movement api
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/admin/api-doc/partition.json
  src/v/redpanda/application.cc
  tests/rptest/services/redpanda.py
  tests/rptest/tests/partition_movement_test.py
Labels: area/redpanda

#842 operator: use underscores for file names
  src/go/k8s/pkg/resources/cluster_role.go
  src/go/k8s/pkg/resources/cluster_role_binding.go
Labels: area/k8s

#822 Properly patch statefulset
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook_test.go
  src/go/k8s/go.mod
  src/go/k8s/go.sum
  src/go/k8s/pkg/resources/resource.go
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/pkg/resources/statefulset_update.go
  src/go/k8s/tests/e2e/update/03-assert.yaml
  src/go/k8s/tests/e2e/update/03-enable-tls.yaml
Labels: area/k8s

#848 rpk: Remove unneeded logs
  src/go/rpk/pkg/cli/cmd/redpanda/mode_test.go
  src/go/rpk/pkg/cli/cmd/redpanda/start.go
Labels: area/rpk

#820 operator: handle cases where crb does not exist
  src/go/k8s/controllers/redpanda/cluster_controller_test.go
  src/go/k8s/pkg/resources/cluster_role_binding.go
Labels: area/k8s

#547 coproc/docs: add example wasm + elastic search
  docs/www/guide-wasm-elastic.md
Labels: area/docs

#856 test/pandaproxy: Test Consumer Groups Part 1
  src/v/pandaproxy/handlers.cc
  src/v/pandaproxy/test/consumer_group.cc
  tests/rptest/services/templates/redpanda.yaml
  tests/rptest/tests/pandaproxy_test.py
Labels: area/proxy, area/redpanda

#859 Compression type producer
  src/v/compression/compression.cc
  src/v/model/compression.h
  src/v/model/model.cc
  src/v/model/record.h
Labels: area/redpanda

#843 operator: group resource to reduce yaml size
  src/go/k8s/config/rbac/role.yaml
  src/go/k8s/controllers/redpanda/cluster_controller.go
Labels: area/k8s

#851 ci: Feature/helm ci
  .github/workflows/k8s-build-and-test.yml
  .gitignore
  src/go/k8s/Makefile
  src/go/k8s/helm-chart/charts/ci/ct.yaml
  src/go/k8s/helm-chart/charts/redpanda-operator/README.md
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/certificate.yaml
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/clusterrole.yaml
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/test/create-topic-with-client-auth.yaml
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/test/three_node_cluster.yaml
  src/go/k8s/helm-chart/charts/redpanda-operator/values.yaml
  src/go/k8s/kuttl-helm-test.yaml
  src/go/k8s/tests/e2e-helm/helm-test/00-helm-test.yaml
Labels: area/build, area/k8s

#867 operator/test: reduce test parallelism from 8 (default) to 3
  src/go/k8s/kuttl-test.yaml
Labels: area/k8s

#869 operator: Align helm e2e kuttl parallelism
  src/go/k8s/kuttl-helm-test.yaml
Labels: area/k8s

#872 operator: Make helm e2e test serial
  src/go/k8s/kuttl-helm-test.yaml
Labels: area/k8s

#791 operator/storage: add storage class and capacity support
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/pkg/resources/statefulset_test.go
Labels: area/k8s

#697 Fixed concurrent timer callback handling
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
  src/v/cluster/metadata_dissemination_service.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

#860 operator: remove methods from Resource interface
  src/go/k8s/pkg/resources/certmanager/certificate.go
  src/go/k8s/pkg/resources/certmanager/issuer.go
  src/go/k8s/pkg/resources/cluster_role.go
  src/go/k8s/pkg/resources/cluster_role_binding.go
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/pkg/resources/headless_service.go
  src/go/k8s/pkg/resources/node_port_service.go
  src/go/k8s/pkg/resources/resource.go
  src/go/k8s/pkg/resources/service_account.go
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/pkg/resources/statefulset_update.go
Labels: area/k8s

#882 operator/tls: validation for webhook fields
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook_test.go
Labels: area/k8s

#881 rpk/config: Use mapstructure
  src/go/k8s/go.mod
  src/go/k8s/go.sum
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/config/config.go
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/manager.go
  src/go/rpk/pkg/config/schema.go
Labels: area/k8s, area/rpk

#879 operator: Add missing configurator container tag
  src/go/k8s/pkg/resources/statefulset.go
Labels: area/k8s

#849 Feature/remove coproc on apply
  src/js/modules/rpc/server.ts
  src/js/modules/supervisors/Repository.ts
  src/js/test/rpc/server.test.ts
Labels: area/wasm

#877 operator: reduce helm test suite to speed up CI
  src/go/k8s/kuttl-helm-test.yaml
Labels: area/k8s

#880 operator: Fix the configurator environment variable logging
  src/go/k8s/cmd/configurator/main.go
Labels: area/k8s

#836 Adds transaction coordinator state machine
  src/v/cluster/CMakeLists.txt
  src/v/cluster/id_allocator_frontend.cc
  src/v/cluster/id_allocator_frontend.h
  src/v/cluster/id_allocator_stm.cc
  src/v/cluster/partition.cc
  src/v/cluster/persisted_stm.cc
  src/v/cluster/persisted_stm.h
  src/v/cluster/seq_stm.cc
  src/v/cluster/seq_stm.h
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/seq_stm_tests.cc
  src/v/cluster/tests/tm_stm_tests.cc
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/cluster/types.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/model/metadata.h
  src/v/model/model.cc
  src/v/model/record.h
  src/v/model/record_batch_types.h
  src/v/utils/expiring_promise.h
Labels: area/redpanda

#878 operator: External connectivity with subdomain
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook_test.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/cmd/configurator/main.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/config/samples/external_connectivity.yaml
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/controllers/redpanda/cluster_controller_test.go
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/test/three_node_cluster.yaml
  src/go/k8s/pkg/resources/cluster_role.go
  src/go/k8s/pkg/resources/cluster_role_binding.go
  src/go/k8s/pkg/resources/headless_service.go
  src/go/k8s/pkg/resources/node_port_service.go
  src/go/k8s/pkg/resources/service_account.go
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/tests/e2e/external-connectivity/00-assert.yaml
  src/go/k8s/tests/e2e/external-connectivity/00-external-connectivity.yaml
  src/go/k8s/tests/e2e/produce-consume/00-redpanda-cluster.yaml
Labels: area/k8s

#863 operator/helm: Create release process for helm chart
  .github/workflows/helm-release.yaml
  src/go/k8s/helm-chart/charts/redpanda-operator/Chart.yaml
  src/go/k8s/helm-chart/charts/redpanda-operator/README.md
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/deployment.yaml
  src/go/k8s/helm-chart/charts/redpanda-operator/values.yaml
Labels: area/build, area/k8s

#889 kafka: take request context by value in server handlers
  src/v/kafka/server/handlers/alter_configs.cc
  src/v/kafka/server/handlers/api_versions.cc
  src/v/kafka/server/handlers/api_versions.h
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/handlers/delete_groups.cc
  src/v/kafka/server/handlers/delete_topics.cc
  src/v/kafka/server/handlers/describe_acls.cc
  src/v/kafka/server/handlers/describe_configs.cc
  src/v/kafka/server/handlers/describe_groups.cc
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/find_coordinator.cc
  src/v/kafka/server/handlers/handler.h
  src/v/kafka/server/handlers/heartbeat.cc
  src/v/kafka/server/handlers/incremental_alter_configs.cc
  src/v/kafka/server/handlers/init_producer_id.cc
  src/v/kafka/server/handlers/join_group.cc
  src/v/kafka/server/handlers/leave_group.cc
  src/v/kafka/server/handlers/list_groups.cc
  src/v/kafka/server/handlers/list_offsets.cc
  src/v/kafka/server/handlers/metadata.cc
  src/v/kafka/server/handlers/offset_commit.cc
  src/v/kafka/server/handlers/offset_fetch.cc
  src/v/kafka/server/handlers/produce.cc
  src/v/kafka/server/handlers/sasl_authenticate.cc
  src/v/kafka/server/handlers/sasl_handshake.cc
  src/v/kafka/server/handlers/sync_group.cc
  src/v/kafka/server/request_context.h
Labels: area/redpanda

#893 operator/tls: set dns name when using external connectivity
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/test/three_node_cluster.yaml
  src/go/k8s/pkg/resources/certmanager/pki.go
Labels: area/k8s

#897 operator: when subdomain is provided, don't query node
  src/go/k8s/controllers/redpanda/cluster_controller.go
Labels: area/k8s

#898 rpk/k8s: Fix consume - update sarama
  src/go/k8s/go.mod
  src/go/k8s/go.sum
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/kafka/mocks/admin.go
  src/go/rpk/pkg/kafka/mocks/client.go
Labels: area/k8s, area/rpk

#890 k/server: Support serialisation for fetch v11 (RackId)
  src/v/kafka/protocol/fetch.h
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/fetch.h
Labels: area/redpanda

#899 operator: temporarily disable update logging
  src/go/k8s/pkg/resources/resource.go
Labels: area/k8s

#896 Improved describing topic configuration properties
  src/v/archival/manifest.cc
  src/v/cluster/id_allocator_frontend.cc
  src/v/cluster/metadata_cache.cc
  src/v/cluster/metadata_cache.h
  src/v/cluster/tests/autocreate_test.cc
  src/v/cluster/tests/commands_serialization_test.cc
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/cluster/tests/topic_table_fixture.h
  src/v/cluster/tests/topic_table_test.cc
  src/v/cluster/tests/topic_updates_dispatcher_test.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/config/configuration.h
  src/v/kafka/server/handlers/describe_configs.cc
  src/v/kafka/server/handlers/find_coordinator.cc
  src/v/kafka/server/handlers/topics/topic_utils.cc
  src/v/kafka/server/handlers/topics/topic_utils.h
  src/v/kafka/server/handlers/topics/types.cc
  src/v/kafka/server/tests/topic_utils_test.cc
  src/v/kafka/server/tests/types_conversion_tests.cc
  src/v/model/compression.h
  src/v/model/model.cc
Labels: area/redpanda

#801 s/probe: introduced active and removed segments metrics
  src/v/storage/disk_log_impl.cc
  src/v/storage/probe.cc
  src/v/storage/probe.h
Labels: area/redpanda

#912 operator: run tests not in parallel
  src/go/k8s/kuttl-test.yaml
Labels: area/k8s

#901 Miscellaneous fixes and changes
  src/v/kafka/protocol/fetch.h
  src/v/kafka/server/handlers/find_coordinator.cc
  src/v/raft/heartbeat_manager.cc
  src/v/raft/log_eviction_stm.cc
  src/v/raft/vote_stm.h
  src/v/storage/snapshot.cc
  src/v/utils/file_sanitizer.h
  src/v/utils/unresolved_address.h
Labels: area/redpanda

#853 Ducktape integration for coprocessors
  src/js/build.sh
  tests/docker/Dockerfile
  tests/rptest/clients/rpk.py
  tests/rptest/resources/wasm-identity-transform.js
  tests/rptest/services/redpanda.py
  tests/rptest/tests/redpanda_test.py
  tests/rptest/tests/wasm_basic_test.py
Labels: area/wasm, kind/enhance

#917 release: upload RPK assets for beta tags
  .github/workflows/homebrew-publish.yml
  .github/workflows/rpk-build.yml
Labels: area/build

#735 ssx: Introduce sformat
  src/v/ssx/sformat.h
  src/v/ssx/tests/CMakeLists.txt
  src/v/ssx/tests/sformat.cc
  src/v/ssx/tests/sformat_bench.cc
Labels: area/redpanda

#918 redpanda: add explicit community links to main
  src/v/redpanda/main.cc
Labels: area/redpanda

#800 Batch cache optimizations
  src/v/bytes/iobuf.h
  src/v/bytes/tests/iobuf_tests.cc
  src/v/model/adl_serde.cc
  src/v/model/adl_serde.h
  src/v/model/record.h
  src/v/redpanda/application.cc
  src/v/reflection/adl.h
  src/v/resource_mgmt/cpu_scheduling.h
  src/v/storage/batch_cache.cc
  src/v/storage/batch_cache.h
  src/v/storage/log_manager.cc
  src/v/storage/tests/batch_cache_reclaim_test.cc
  src/v/storage/tests/batch_cache_test.cc
Labels: area/redpanda

#910 k/produce: fixed assigning log append timestamp
  src/v/kafka/server/handlers/produce.cc
Labels: area/redpanda

#921 ci: prevent duplicate runs of k8s build
  .github/workflows/k8s-build-and-test.yml
Labels: area/build

#783 operator: automate pushing operator images to dockerhub
  .github/workflows/k8s-build-and-test.yml
  src/go/k8s/Makefile
Labels: area/build, area/k8s

#894 operator: document admin client certificate
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/tests/e2e/create-topic-with-client-auth/00-assert.yaml
Labels: area/k8s

#908 operator: prevent neverending reconcile loop on sts
  src/go/k8s/pkg/resources/resource.go
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/pkg/resources/statefulset_test.go
Labels: area/k8s

#923 rpk: Deprecate --prometheus-url from generate grafana command in favor of --metrics-endpoint
  src/go/rpk/pkg/cli/cmd/generate/grafana.go
  src/go/rpk/pkg/cli/cmd/generate/grafana_test.go
Labels: area/rpk

#928 operator/ci: do not enable kind cache by default
  src/go/k8s/kuttl-helm-test.yaml
  src/go/k8s/kuttl-test.yaml
Labels: area/k8s

#925 Add cmd docker single node
  docs/www/quick-start-docker.md
Labels: area/docs

#927 Fix partition movement test
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
  src/v/cluster/raft0_utils.h
  src/v/cluster/shard_table.h
  src/v/cluster/topic_table.cc
Labels: area/redpanda

#864 Edit archival docs
  docs/www/archival.md
  docs/www/data-archiving.md
Labels: area/docs

#905 operator: retry status update to not hit conflicts
  src/go/k8s/controllers/redpanda/cluster_controller.go
Labels: area/k8s

#926 operator/ci: run go tests in verbose mode
  src/go/k8s/Makefile
Labels: area/k8s

#933 kafka: add support for describe log directories api
  src/v/cluster/partition.h
  src/v/cluster/partition_manager.h
  src/v/kafka/CMakeLists.txt
  src/v/kafka/protocol/describe_log_dirs.h
  src/v/kafka/protocol/schemata/CMakeLists.txt
  src/v/kafka/protocol/schemata/describe_log_dirs_request.json
  src/v/kafka/protocol/schemata/describe_log_dirs_response.json
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/server/handlers/api_versions.cc
  src/v/kafka/server/handlers/describe_log_dirs.cc
  src/v/kafka/server/handlers/describe_log_dirs.h
  src/v/kafka/server/handlers/handlers.h
  src/v/kafka/server/requests.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/log.h
  src/v/storage/mem_log_impl.cc
Labels: area/redpanda

#909 Alter topic properties
  src/v/cluster/commands.h
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/cluster/topic_updates_dispatcher.cc
  src/v/cluster/topic_updates_dispatcher.h
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/handlers/alter_configs.cc
  src/v/kafka/server/handlers/topics/types.cc
  src/v/kafka/server/handlers/topics/types.h
  src/v/kafka/server/tests/CMakeLists.txt
  src/v/kafka/server/tests/alter_config_test.cc
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/log.h
  src/v/storage/mem_log_impl.cc
  src/v/storage/ntp_config.h
  src/v/storage/segment.h
  src/v/utils/absl_sstring_hash.h
Labels: area/redpanda

#930 operator: add integration test for STS ensure method
  src/go/k8s/pkg/resources/resource_integration_test.go
  src/go/k8s/pkg/resources/statefulset_test.go
Labels: area/k8s

#934 operator/scheduling: expose nodeSelector and tolerations in Cluster CR
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/tests/e2e/node-select-tolerations/00-taint-node.yaml
  src/go/k8s/tests/e2e/node-select-tolerations/01-label-node.yaml
  src/go/k8s/tests/e2e/node-select-tolerations/02-assert.yaml
  src/go/k8s/tests/e2e/node-select-tolerations/02-cluster-with-tolerations.yaml
  src/go/k8s/tests/e2e/node-select-tolerations/03-remove-taint.yaml
  src/go/k8s/tests/e2e/node-select-tolerations/04-remove-label.yaml
Labels: area/k8s

#938 kafka: calculate partition recovery lag for describe log dirs api
  src/v/cluster/partition.h
  src/v/kafka/server/handlers/describe_log_dirs.cc
Labels: area/redpanda

#939 Implemented `INCREMENTAL_ALTER_CONFIGS` api
  src/v/kafka/server/handlers/alter_configs.cc
  src/v/kafka/server/handlers/configs/config_utils.h
  src/v/kafka/server/handlers/incremental_alter_configs.cc
  src/v/kafka/server/requests.cc
  src/v/kafka/server/tests/alter_config_test.cc
  src/v/kafka/types.h
Labels: area/redpanda

#941 rpk/archival: add archival configuration
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/schema.go
Labels: area/rpk

#947 Fixes and tests for altering topic properties
  src/v/cluster/controller.json
  src/v/cluster/service.cc
  src/v/cluster/service.h
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/kafka/server/handlers/configs/config_utils.h
  src/v/kafka/server/handlers/describe_configs.cc
  src/v/kafka/server/handlers/incremental_alter_configs.cc
  src/v/model/model.cc
  src/v/model/tests/CMakeLists.txt
  src/v/model/tests/lexical_cast_tests.cc
  src/v/raft/state_machine.cc
  src/v/raft/state_machine.h
  tests/rptest/clients/kafka_cli_tools.py
  tests/rptest/clients/types.py
  tests/rptest/tests/alter_topic_configuration_test.py
Labels: area/redpanda

#858 rpk/debug/info: Change error msg
  src/go/rpk/pkg/cli/cmd/debug/info.go
  src/go/rpk/pkg/cli/cmd/debug/info_test.go
  src/go/rpk/pkg/system/metrics.go
  src/go/rpk/pkg/system/metrics_test.go
Labels: area/rpk

#951 Fix operator helm release
  .github/workflows/k8s-build-and-test.yml
  .github/workflows/k8s-release.yml
Labels: area/build

#914 Adds resource manager (a partition side part of the transactional sub system)
  src/v/cluster/CMakeLists.txt
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/persisted_stm.cc
  src/v/cluster/persisted_stm.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/seq_stm.cc
  src/v/cluster/seq_stm.h
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/idempotency_tests.cc
  src/v/cluster/tests/rm_stm_tests.cc
  src/v/cluster/tm_stm.cc
  src/v/cluster/types.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/model/record.h
  src/v/storage/record_batch_builder.cc
  src/v/storage/record_batch_builder.h
  src/v/storage/tests/utils/random_batch.cc
  src/v/storage/tests/utils/random_batch.h
Labels: area/redpanda

#940 Adding higher level test support for coprocessors within our ducktape test framework
  src/js/modules/rpc/errors.ts
  src/js/test/rpc/errors.test.ts
  tests/docker/Dockerfile
  tests/rptest/clients/rpk.py
  tests/rptest/resources/wasm-identity-transform.js
  tests/rptest/tests/redpanda_test.py
  tests/rptest/tests/wasm_basic_test.py
  tests/rptest/tests/wasm_identity_test.py
  tests/rptest/wasm/background_task.py
  tests/rptest/wasm/native_kafka_consumer.py
  tests/rptest/wasm/native_kafka_producer.py
  tests/rptest/wasm/templates/identity_transform.j2
  tests/rptest/wasm/topic.py
  tests/rptest/wasm/topics_result_set.py
  tests/rptest/wasm/wasm_build_tool.py
  tests/rptest/wasm/wasm_test.py
Labels: area/wasm, kind/enhance

#857 Fix for crash observed when coprocessor must be immediately deregistered
  src/v/coproc/event_listener.cc
  src/v/coproc/script_dispatcher.cc
  src/v/coproc/types.cc
Labels: area/redpanda, area/storage

#949 operator: make it possible to inject node certificate
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook_test.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/pkg/resources/certmanager/pki.go
  src/go/k8s/tests/e2e/create-topic-given-cert-secret/00-assert.yaml
  src/go/k8s/tests/e2e/create-topic-given-cert-secret/00-create-cluster-issuer.yaml
  src/go/k8s/tests/e2e/create-topic-given-cert-secret/01-assert.yaml
  src/go/k8s/tests/e2e/create-topic-given-cert-secret/01-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/create-topic-given-cert-secret/02-create-config.yaml
  src/go/k8s/tests/e2e/create-topic-given-cert-secret/03-assert.yaml
  src/go/k8s/tests/e2e/create-topic-given-cert-secret/03-create-topic.yaml
Labels: area/k8s

#962 docs: Add intro to streaming article
  docs/www/intro-to-events.md
Labels: area/docs

#956 rpk/config: add admin api tls
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/schema.go
Labels: area/rpk

#953 rpk/archival: fix archival fields
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/schema.go
Labels: area/rpk

#959 operator: nicer structure for tls API
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook_test.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/config/samples/redpanda_v1alpha1_with_tls.yaml
  src/go/k8s/controllers/redpanda/cluster_controller_test.go
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/test/three_node_cluster.yaml
  src/go/k8s/pkg/resources/certmanager/certificate.go
  src/go/k8s/pkg/resources/certmanager/issuer.go
  src/go/k8s/pkg/resources/certmanager/pki.go
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/pkg/resources/statefulset_update.go
  src/go/k8s/tests/e2e/create-topic-given-cert-secret/01-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/create-topic-given-issuer-with-client-auth/01-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/create-topic-given-issuer/01-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/create-topic-with-client-auth/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/produce-tls/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/00-current-image.yaml
  src/go/k8s/tests/e2e/update-image-tls/00-current-image.yaml
  src/go/k8s/tests/e2e/update/03-enable-tls.yaml
Labels: area/k8s

#963 archival: Extend configuration
  src/v/archival/service.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/s3/client.cc
  src/v/s3/client.h
Labels: area/redpanda

#965 rpk/config: add extended archival configuration
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/schema.go
Labels: area/rpk

#943 operator/archive: add s3 archive fields to Cluster, pass to Redpanda
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/pkg/resources/configmap.go
Labels: area/k8s

#803 Compaction improvements
  src/v/storage/compacted_index_writer.h
  src/v/storage/compaction_reducers.cc
  src/v/storage/compaction_reducers.h
  src/v/storage/segment.cc
  src/v/storage/segment.h
  src/v/storage/segment_utils.cc
  src/v/storage/segment_utils.h
  src/v/storage/spill_key_index.cc
  src/v/storage/spill_key_index.h
Labels: area/redpanda

#971 kafka: excludes idempotent producers from api_version
  src/v/kafka/server/handlers/api_versions.cc
Labels: area/redpanda

#969 archival: Fix archival configuration arguments
  docs/www/archival.md
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/schema.go
  src/v/archival/service.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/application.cc
Labels: area/docs, area/redpanda, area/rpk

#974 operator/archival: rpk and cluster CR fields renaming
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/pkg/resources/configmap.go
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/schema.go
Labels: area/k8s, area/rpk

#979 operator: update configmap when CR changes
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/pkg/resources/resource.go
  src/go/k8s/pkg/resources/resource_integration_test.go
Labels: area/k8s

#980 operator: all errors should retry reconciliation
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/pkg/resources/statefulset_update.go
Labels: area/k8s

#983 operator: Fix condition for replicas number
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/tests/e2e/produce-consume/00-assert.yaml
Labels: area/k8s

#984 operator: do not set resource version before annotation
  src/go/k8s/pkg/resources/resource.go
Labels: area/k8s

#975 operator/tls: add TLS support for admin API
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/pkg/resources/certmanager/admin_api.go
  src/go/k8s/pkg/resources/certmanager/certificate.go
  src/go/k8s/pkg/resources/certmanager/issuer.go
  src/go/k8s/pkg/resources/certmanager/pki.go
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/pkg/resources/resource_integration_test.go
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/pkg/resources/statefulset_test.go
  src/go/k8s/tests/e2e/admin-api-tls-client-auth/00-assert.yaml
  src/go/k8s/tests/e2e/admin-api-tls-client-auth/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/admin-api-tls-client-auth/01-assert.yaml
  src/go/k8s/tests/e2e/admin-api-tls-client-auth/01-call-adminapi.yaml
  src/go/k8s/tests/e2e/admin-api-tls/00-assert.yaml
  src/go/k8s/tests/e2e/admin-api-tls/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/admin-api-tls/01-assert.yaml
  src/go/k8s/tests/e2e/admin-api-tls/01-call-adminapi.yaml
Labels: area/k8s

#942 rpk/config: Set the right value for config_file
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/manager.go
Labels: area/rpk

#994 archival: Fix graceful shuttdown problem
  src/v/archival/service.cc
  src/v/archival/tests/service_fixture.cc
Labels: area/redpanda

#993 helm: Add helm-docs paramter for app version
  src/go/k8s/helm-chart/charts/redpanda-operator/README.md.gotmpl
Labels: area/k8s

#990 Returning log start offset in fetch response
  src/v/kafka/protocol/fetch.h
  src/v/kafka/server/handlers/fetch.cc
Labels: area/redpanda
