Repository redpanda-data/redpanda, pull requests merged in 2021-12, with the labels that each got.

#3113 Backport #3110
  src/v/raft/consensus.cc
Labels: area/redpanda

#3114 r/consensus: prevent updating flushed offset if log was truncated
  src/v/raft/consensus.cc
Labels: area/redpanda

#3105 tests: work around issue in test_follower_isolation
  tests/rptest/clients/rpk.py
  tests/rptest/tests/raft_availability_test.py
Labels: kind/bug, area/raft

#3000 config: add schema API endpoint & extended property metadata
  docs/www/configuration.md
  src/v/config/base_property.cc
  src/v/config/base_property.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/property.h
  src/v/config/rjson_serialization.cc
  src/v/config/rjson_serialization.h
  src/v/config/tests/config_store_test.cc
  src/v/config/tests/custom_aggregate.h
  src/v/json/json.cc
  src/v/json/json.h
  src/v/model/metadata.h
  src/v/redpanda/admin/api-doc/cluster_config.json
  src/v/redpanda/admin_server.cc
  tests/rptest/services/admin.py
  tests/rptest/tests/cluster_config_test.py
Labels: kind/enhance, area/docs, area/redpanda

#3109 Fix wrong acl user create parameter
  docs/www/rpk-commands.md
Labels: area/docs

#3120 Backport #3114 #3117
  src/v/raft/consensus.cc
Labels: area/redpanda

#3075 config: Fix parameter name
  src/v/config/configuration.cc
Labels: area/redpanda

#3128 coproc: Fix for missing data on output topics post retry
  src/v/coproc/script_context_backend.cc
  src/v/coproc/script_context_frontend.cc
  src/v/coproc/script_context_router.h
  src/v/coproc/tests/fixtures/fiber_mock_fixture.cc
Labels: area/redpanda

#2975 Custom partition assignment
  src/v/cluster/cluster_utils.cc
  src/v/cluster/cluster_utils.h
  src/v/cluster/scheduling/constraints.cc
  src/v/cluster/scheduling/constraints.h
  src/v/cluster/service.cc
  src/v/cluster/tests/controller_api_tests.cc
  src/v/cluster/tests/controller_state_test.cc
  src/v/cluster/tests/metadata_dissemination_test.cc
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/kafka/server/errors.h
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/handlers/topics/types.cc
  src/v/kafka/server/handlers/topics/types.h
  src/v/kafka/server/handlers/topics/validators.h
  src/v/kafka/server/tests/types_conversion_tests.cc
  src/v/redpanda/tests/fixture.h
  tests/rptest/clients/kafka_cli_tools.py
  tests/rptest/clients/python_librdkafka.py
  tests/rptest/tests/custom_topic_assignment_test.py
Labels: area/redpanda

#3088 Add support for PodDisruptionBudget
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook_test.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/config/rbac/role.yaml
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/clusterrole.yaml
  src/go/k8s/pkg/resources/pdb.go
  src/go/k8s/pkg/resources/pdb_test.go
  src/go/k8s/tests/e2e/update/00-assert.yaml
Labels: area/k8s

#3076 serde: add serde_fields
  src/v/serde/envelope_for_each_field.h
  src/v/serde/serde.h
  src/v/serde/test/serde_test.cc
Labels: area/redpanda

#3077 Support 5-items wide deduplication window for the idempotent producers
  .gitignore
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/idempotency_tests.cc
  src/v/reflection/adl.h
  src/v/reflection/type_traits.h
Labels: kind/bug, area/redpanda

#3137 Backport #3125
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/raft/offset_translator.cc
  src/v/storage/offset_to_filepos_consumer.h
  src/v/storage/segment.cc
  src/v/storage/segment_index.cc
  src/v/storage/segment_set.cc
  src/v/storage/tests/log_truncate_test.cc
Labels: area/redpanda

#3138 V21.10.x backport pr3077: Support 5-items wide deduplication window for the idempotent producers
  .gitignore
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/idempotency_tests.cc
  src/v/reflection/adl.h
  src/v/reflection/type_traits.h
Labels: area/kafka, area/redpanda, kind/backport

#3123 Make it possible to provide fixed external port
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook_test.go
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/pkg/networking/ports.go
  src/go/k8s/pkg/networking/ports_test.go
  src/go/k8s/pkg/resources/node_port_service.go
  src/go/k8s/pkg/resources/resource.go
  src/go/k8s/pkg/resources/resource_integration_test.go
  src/go/k8s/tests/e2e/external-connectivity/00-assert.yaml
  src/go/k8s/tests/e2e/external-connectivity/00-external-connectivity.yaml
Labels: area/k8s

#3140 docs/quick-start-k8s: Improve helm install command
  docs/www/quick-start-kubernetes-CN.md
  docs/www/quick-start-kubernetes.md
Labels: area/docs

#3139 tests: reinstate NodesDecommissioningTest.test_working node
  tests/rptest/tests/nodes_decommissioning_test.py
Labels: area/raft, kind/tech-debt

#3143 Archival_meta_stm: handle absent manifest in handle_eviction
  src/v/cluster/archival_metadata_stm.cc
Labels: area/redpanda

#3092 schema_registry: Support protobuf compatibility checks
  src/v/pandaproxy/parsing/httpd.h
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/protobuf.h
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
  src/v/pandaproxy/schema_registry/test/get_schema_types.cc
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda

#3156 docs: Fix broken link to K8s quick start
  docs/www/kubernetes-additional-config.md
Labels: area/docs

#3151 serde: add precondition checks to envelope_to_tuple
  src/v/serde/envelope_for_each_field.h
Labels: area/redpanda

#3115 Get aborted transaction ids for remote segments
  src/v/archival/archival_policy.cc
  src/v/archival/archival_policy.h
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/tests/remote_partition_test.cc
  src/v/cloud_storage/tests/remote_segment_test.cc
  src/v/cluster/partition.h
  src/v/cluster/rm_partition_frontend.cc
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/materialized_partition.h
  src/v/kafka/server/partition_proxy.h
  src/v/kafka/server/replicated_partition.cc
  src/v/kafka/server/replicated_partition.h
  src/v/model/model.cc
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/fwd.h
  src/v/raft/offset_translator.cc
  src/v/raft/offset_translator.h
  src/v/raft/tests/offset_translator_tests.cc
  src/v/raft/tests/raft_group_fixture.h
  src/v/storage/CMakeLists.txt
  src/v/storage/fwd.h
  src/v/storage/offset_translator_state.cc
  src/v/storage/offset_translator_state.h
  src/v/storage/translating_reader.h
  tests/rptest/tests/shadow_indexing_tx_test.py
  tests/setup.py
  tools/metadata_viewer/kafka.py
  tools/metadata_viewer/storage.py
  tools/metadata_viewer/viewer.py
Labels: area/redpanda

#2973 tests: fixes to stabilize topic_recovery_test
  src/v/cloud_storage/offset_translation_layer.cc
  tests/rptest/services/redpanda.py
  tests/rptest/tests/topic_recovery_test.py
Labels: area/redpanda

#3159 Fixed assertion triggered when fetching from empty topics with transactions enabled
  src/v/kafka/server/handlers/fetch.cc
  tests/rptest/clients/rpk.py
  tests/rptest/tests/fetch_after_deletion_test.py
Labels: area/redpanda

#3171 backport/v21.11.x: #3159, #3161
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/list_offsets.cc
  src/v/kafka/server/materialized_partition.h
  src/v/kafka/server/partition_proxy.h
  src/v/kafka/server/replicated_partition.cc
  src/v/kafka/server/replicated_partition.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  tests/rptest/clients/kafka_cat.py
  tests/rptest/clients/rpk.py
  tests/rptest/tests/fetch_after_deletion_test.py
  tests/rptest/tests/retention_policy_test.py
Labels: area/redpanda, kind/backport

#3074 Add topic level configuration for archival/SI
  src/v/archival/service.cc
  src/v/archival/tests/service_fixture.cc
  src/v/archival/tests/service_fixture.h
  src/v/archival/tests/service_test.cc
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/tests/topic_configuration_compat_test.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/kafka/server/handlers/alter_configs.cc
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/handlers/incremental_alter_configs.cc
  src/v/kafka/server/handlers/topics/types.cc
  src/v/kafka/server/handlers/topics/types.h
  src/v/kafka/server/replicated_partition.cc
  src/v/kafka/server/replicated_partition.h
  src/v/model/fundamental.h
  src/v/model/model.cc
  src/v/storage/ntp_config.h
  tests/rptest/tests/archival_test.py
  tests/rptest/tests/e2e_shadow_indexing_test.py
  tests/rptest/tests/shadow_indexing_tx_test.py
  tests/rptest/tests/topic_recovery_test.py
Labels: area/redpanda

#3175 backport/v21.11.x#3074
  src/v/archival/service.cc
  src/v/archival/tests/service_fixture.cc
  src/v/archival/tests/service_fixture.h
  src/v/archival/tests/service_test.cc
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/tests/topic_configuration_compat_test.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/kafka/server/handlers/alter_configs.cc
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/handlers/incremental_alter_configs.cc
  src/v/kafka/server/handlers/topics/types.cc
  src/v/kafka/server/handlers/topics/types.h
  src/v/kafka/server/replicated_partition.cc
  src/v/kafka/server/replicated_partition.h
  src/v/model/fundamental.h
  src/v/model/model.cc
  src/v/storage/ntp_config.h
  tests/rptest/tests/archival_test.py
  tests/rptest/tests/e2e_shadow_indexing_test.py
  tests/rptest/tests/shadow_indexing_tx_test.py
  tests/rptest/tests/topic_recovery_test.py
Labels: area/redpanda

#2737 Fixes for node operations fuzzy tests
  src/v/raft/consensus.cc
  src/v/raft/group_configuration.cc
  src/v/raft/tests/membership_test.cc
  tests/rptest/clients/kcl.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/end_to_end.py
  tests/rptest/tests/node_operations_fuzzy_test.py
Labels: area/redpanda

#3173 r/consensus: using cfg manager when there is no delta in snapshot metadata
  src/v/raft/consensus.cc
Labels: area/redpanda

#3180 coproc: Handle cluster::non_replicable_topic_creation_exception
  src/v/coproc/script_context_backend.cc
Labels: area/redpanda

#3178 Backport: #3173
  src/v/raft/consensus.cc
Labels: area/redpanda

#3170 backport/v21.10.x: #3159, #3161
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/list_offsets.cc
  src/v/kafka/server/materialized_partition.h
  src/v/kafka/server/partition_proxy.h
  src/v/kafka/server/replicated_partition.cc
  src/v/kafka/server/replicated_partition.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  tests/rptest/clients/kafka_cat.py
  tests/rptest/clients/rpk.py
  tests/rptest/tests/fetch_after_deletion_test.py
  tests/rptest/tests/retention_policy_test.py
  tests/rptest/util.py
Labels: area/redpanda, kind/backport

#3121 config: add `property_binding` for live-settable properties
  src/v/cluster/controller.cc
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/cluster/scheduling/leader_balancer.h
  src/v/config/base_property.cc
  src/v/config/base_property.h
  src/v/config/configuration.cc
  src/v/config/property.h
  src/v/config/tests/config_store_test.cc
  src/v/raft/kvelldb/kvserver.cc
  src/v/raft/tests/bootstrap_configuration_test.cc
  src/v/raft/tests/configuration_manager_test.cc
  src/v/raft/tests/foreign_entry_test.cc
  src/v/raft/tests/mux_state_machine_fixture.h
  src/v/raft/tests/offset_translator_tests.cc
  src/v/raft/tests/raft_group_fixture.h
  src/v/raft/tron/server.cc
  src/v/redpanda/application.cc
  src/v/storage/api.h
  src/v/storage/kvstore.cc
  src/v/storage/kvstore.h
  src/v/storage/tests/kvstore_test.cc
  src/v/storage/tests/log_manager_test.cc
  src/v/storage/tests/storage_test_fixture.h
  src/v/storage/tests/utils/disk_log_builder.cc
  src/v/test_utils/logs.h
  tests/rptest/tests/scram_test.py
Labels: kind/enhance, area/redpanda

#2940 coproc: New abstraction for safe shutdown of materialized logs
  src/v/cluster/cluster_utils.h
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/cluster/topic_updates_dispatcher.cc
  src/v/cluster/topic_updates_dispatcher.h
  src/v/coproc/CMakeLists.txt
  src/v/coproc/api.cc
  src/v/coproc/api.h
  src/v/coproc/errc.h
  src/v/coproc/fwd.h
  src/v/coproc/pacemaker.h
  src/v/coproc/partition.cc
  src/v/coproc/partition.h
  src/v/coproc/partition_manager.cc
  src/v/coproc/partition_manager.h
  src/v/coproc/reconciliation_backend.cc
  src/v/coproc/reconciliation_backend.h
  src/v/coproc/script_context.cc
  src/v/coproc/script_context.h
  src/v/coproc/script_context_backend.cc
  src/v/coproc/script_context_backend.h
  src/v/coproc/shared_script_resources.h
  src/v/coproc/sys_refs.h
  src/v/coproc/tests/fixtures/fiber_mock_fixture.cc
  src/v/coproc/tests/kafka_api_materialized_tests.cc
  src/v/coproc/tests/pacemaker_tests.cc
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/fetch.h
  src/v/kafka/server/handlers/list_offsets.cc
  src/v/kafka/server/materialized_partition.h
  src/v/kafka/server/partition_proxy.cc
  src/v/kafka/server/partition_proxy.h
  src/v/kafka/server/protocol.cc
  src/v/kafka/server/protocol.h
  src/v/kafka/server/request_context.h
  src/v/kafka/server/tests/delete_topics_test.cc
  src/v/kafka/server/tests/fetch_test.cc
  src/v/kafka/server/tests/find_coordinator_test.cc
  src/v/kafka/server/tests/produce_consume_test.cc
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/redpanda/tests/fixture.h
Labels: area/redpanda

#3130 update PR template with instructions on adding release notes
  .github/pull_request_template.md
Labels: area/build

#3066 Implemented simple metrics reporter
  src/v/cluster/CMakeLists.txt
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/fwd.h
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/metrics_reporter.h
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/metrics_reporter_test.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/rpc/transport.cc
  tests/docker/Dockerfile
  tests/docker/Dockerfile.dockerignore
  tests/python/simple_http_server/simple_http_server.py
  tests/rptest/services/http_server.py
  tests/rptest/services/kaf_consumer.py
  tests/rptest/services/templates/redpanda.yaml
  tests/rptest/tests/metrics_reporter_test.py
Labels: area/redpanda

#3162 cmake: update seastar in community build
  cmake/oss.cmake.in
Labels: area/build, kind/tech-debt

#3157 Merge docs->dev
  docs/www/acls.md
  docs/www/configuration.md
  docs/www/data-migration.md
  docs/www/monitoring.md
  docs/www/quick-start-docker-CN.md
  docs/www/quick-start-docker.md
  docs/www/rpk-commands.md
  docs/www/well-known-io.md
Labels: area/docs

#3167 [v8_engine]: Add settings for max_old_gen_size
  src/v/v8_engine/script.cc
  src/v/v8_engine/script.h
Labels: area/redpanda

#3193 Fix broken coproc delete topic unit test
  src/v/coproc/pacemaker.cc
  src/v/coproc/pacemaker.h
  src/v/coproc/script_context.cc
  src/v/coproc/script_context.h
  src/v/coproc/tests/pacemaker_tests.cc
Labels: kind/bug, area/redpanda

#3198 docs: ACL rewrite
  docs/www/acls.md
Labels: area/docs

#3194 Backport of: #2737, #3173
  src/v/raft/consensus.cc
  src/v/raft/group_configuration.cc
  src/v/raft/tests/membership_test.cc
  tests/rptest/clients/kcl.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/end_to_end.py
  tests/rptest/tests/node_operations_fuzzy_test.py
Labels: area/redpanda

#3163 Bump the required k8s version to 1.19
  src/go/k8s/README.md
Labels: area/k8s

#3192 Kafka: return shadow indexing configs in a topic describe handler
  src/v/kafka/server/handlers/describe_configs.cc
  src/v/kafka/server/tests/alter_config_test.cc
  tests/rptest/clients/types.py
Labels: area/redpanda

#3132 Health monitor abortable refresh
  src/v/cluster/controller.cc
  src/v/cluster/errc.h
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
  src/v/cluster/health_monitor_types.cc
  src/v/kafka/server/errors.h
  tests/rptest/tests/raft_availability_test.py
Labels: area/redpanda

#3189 kafka: fix Sarama control record issue
  src/v/cluster/rm_stm.cc
Labels: area/kafka, area/redpanda, area/transactions

#3210 V21.11.x backport pr3189: fix Sarama control record compatibility issue
  src/v/cluster/rm_stm.cc
Labels: area/redpanda, kind/backport

#3203 storage: convert open_segment to be a coroutine
  src/v/storage/segment.cc
  src/v/storage/segment.h
Labels: area/redpanda

#3214 schema_registry: Prefer to pass coroutine params by value
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/protobuf.h
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
Labels: kind/bug, area/redpanda, area/schema_registry, need-backport

#3223 fix oss build (seastar requires new cryptopp)
  cmake/oss.cmake.in
Labels: area/build

#3222 v21.11.x backport pr3214
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/protobuf.h
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
Labels: kind/bug, area/redpanda, area/schema_registry, kind/backport

#3236 cmake: Use official download repositories.
  cmake/oss.cmake.in
  tools/docker/README.md
Labels: area/build

#3218 k8s: Set 30min default cloud storage upload interval
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/tests/e2e/additional-configuration/00-assert.yaml
  src/go/k8s/tests/e2e/additional-configuration/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/additional-configuration/verify-config.sh
  src/go/k8s/tests/e2e/create-topic-given-cert-secret/00-assert.yaml
  src/go/k8s/tests/e2e/create-topic-given-cert-secret/01-assert.yaml
  src/go/k8s/tests/e2e/create-topic-given-cm-secret-client-auth/00-assert.yaml
  src/go/k8s/tests/e2e/create-topic-given-cm-secret-client-auth/01-assert.yaml
  src/go/k8s/tests/e2e/create-topic-given-issuer-with-client-auth/00-assert.yaml
  src/go/k8s/tests/e2e/create-topic-given-issuer/00-assert.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/00-current-image.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/01-assert.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/01-new-image-and-pv.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/00-current-image.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/01-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/01-new-image-and-pv.yaml
  src/go/k8s/tests/e2e/update-image-tls/00-current-image.yaml
  src/go/k8s/tests/e2e/update-image-tls/01-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls/01-new-image-and-pv.yaml
Labels: area/k8s

#3240 .github: fix labels on new enhancement tickets
  .github/ISSUE_TEMPLATE/02_feature_request.md
Labels: area/build, kind/tech-debt

#3234 Kafka: improve logging for authorization errors
  src/v/kafka/server/connection_context.h
  src/v/kafka/server/handlers/metadata.cc
  src/v/kafka/server/handlers/offset_fetch.cc
  src/v/kafka/server/request_context.h
Labels: area/redpanda

#3232 Abort transactions with same pid but older epoch when detected
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
Labels: kind/bug, area/kafka, area/redpanda, area/transactions

#3247 V21.11.x backport pr3232: Abort transactions with same pid but older epoch when detected
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
Labels: kind/bug, area/redpanda, kind/backport, area/transactions

#3233 Add gobal shadow indexing flags
  src/v/archival/service.cc
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/metadata_cache.cc
  src/v/cluster/metadata_cache.h
  src/v/cluster/partition.h
  src/v/cluster/topic_table.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/handlers/describe_configs.cc
  src/v/kafka/server/handlers/incremental_alter_configs.cc
  src/v/kafka/server/handlers/topics/types.cc
  src/v/model/fundamental.h
  src/v/model/model.cc
  tests/rptest/clients/rpk.py
  tests/rptest/tests/alter_topic_configuration_test.py
  tests/rptest/tests/e2e_shadow_indexing_test.py
Labels: area/redpanda

#3248 Backport #3233
  src/v/archival/service.cc
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/metadata_cache.cc
  src/v/cluster/metadata_cache.h
  src/v/cluster/partition.h
  src/v/cluster/topic_table.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/handlers/describe_configs.cc
  src/v/kafka/server/handlers/incremental_alter_configs.cc
  src/v/kafka/server/handlers/topics/types.cc
  src/v/model/fundamental.h
  src/v/model/model.cc
  tests/rptest/clients/rpk.py
  tests/rptest/tests/alter_topic_configuration_test.py
  tests/rptest/tests/e2e_shadow_indexing_test.py
Labels: area/redpanda

#3250 edited ". typos
  docs/www/intro-to-events.md
Labels: area/docs

#3129 rpk: add commands for dealing with centrally stored cluster config
  src/go/rpk/pkg/api/admin/api_config.go
  src/go/rpk/pkg/cli/cmd/cluster.go
  src/go/rpk/pkg/cli/cmd/cluster/config/config.go
  src/go/rpk/pkg/cli/cmd/cluster/config/edit.go
  src/go/rpk/pkg/cli/cmd/cluster/config/export.go
  src/go/rpk/pkg/cli/cmd/cluster/config/import.go
  src/go/rpk/pkg/cli/cmd/cluster/config/status.go
  src/v/config/config_store.h
  tests/rptest/clients/rpk.py
  tests/rptest/tests/cluster_config_test.py
Labels: kind/enhance, area/rpk, area/redpanda

#3252 admin: allow reconfiguration of int. topics
  src/v/redpanda/admin_server.cc
Labels: area/redpanda

#3205 Fix mapping shutdown error
  src/v/kafka/server/group.cc
  src/v/kafka/server/handlers/produce.cc
  src/v/raft/replicate_entries_stm.cc
Labels: area/redpanda

#3255 raft: fix heartbeat_reply encoding test
  src/v/raft/tests/type_serialization_tests.cc
Labels: kind/bug, area/raft, area/redpanda, area/tests

#3256 pandaproxy: Improve logging
  src/v/kafka/client/broker.h
  src/v/kafka/client/client.cc
  src/v/kafka/client/consumer.cc
  src/v/pandaproxy/rest/handlers.cc
Labels: area/redpanda

#3220 config: improve exception handling from binding callbacks
  src/v/config/property.h
Labels: area/redpanda, kind/tech-debt

#3257 kafka/client: Only update seeds when metadata::brokers is not empty
  src/v/kafka/client/client.cc
Labels: area/redpanda

#3186 storage: use serde for segment index
  src/v/serde/serde.h
  src/v/serde/serde_exception.h
  src/v/serde/test/serde_test.cc
  src/v/storage/index_state.cc
  src/v/storage/index_state.h
  src/v/storage/index_state_serde_compat.h
  src/v/storage/segment_index.cc
  src/v/storage/tests/index_state_test.cc
  src/v/storage/tests/offset_index_utils_tests.cc
  src/v/utils/fragmented_vector.h
  src/v/utils/tests/fragmented_vector_test.cc
Labels: area/redpanda

#3266 storage: coroutinize segment_index
  src/v/storage/segment_index.cc
Labels: area/redpanda

#3268 k8s: fix bug reconciling clusters with fixed nodeport
  src/go/k8s/controllers/redpanda/cluster_controller_test.go
  src/go/k8s/pkg/resources/certmanager/certificate.go
  src/go/k8s/pkg/resources/certmanager/issuer.go
  src/go/k8s/pkg/resources/certmanager/keystore_password.go
  src/go/k8s/pkg/resources/certmanager/pki.go
  src/go/k8s/pkg/resources/pdb.go
  src/go/k8s/pkg/resources/resource.go
  src/go/k8s/pkg/resources/superusers.go
Labels: area/k8s

#3254 Creating a new multi node text fixture for coproc
  src/v/cluster/tests/cluster_test_fixture.h
  src/v/coproc/tests/CMakeLists.txt
  src/v/coproc/tests/fixtures/coproc_cluster_fixture.cc
  src/v/coproc/tests/fixtures/coproc_cluster_fixture.h
  src/v/coproc/tests/fixtures/coproc_test_fixture.cc
  src/v/coproc/tests/fixtures/coproc_test_fixture.h
  src/v/coproc/tests/fixtures/supervisor_test_fixture.h
  src/v/coproc/tests/utils/event_publisher_utils.cc
  src/v/coproc/tests/utils/event_publisher_utils.h
  src/v/rpc/test/rpc_integration_fixture.h
Labels: area/redpanda

#3271 redpanda/cluster: Improve logging for leader_balancer
  src/v/cluster/scheduling/leader_balancer.cc
Labels: kind/enhance, area/redpanda

#3284 Backport pr3271 to v21.11.x (redpanda/cluster: Improve logging for leader_balancer)
  src/v/cluster/scheduling/leader_balancer.cc
Labels: area/redpanda, kind/backport

#3281 21.11.X: k8s: fix bug reconciling clusters with fixed nodeport
  src/go/k8s/controllers/redpanda/cluster_controller_test.go
  src/go/k8s/pkg/resources/certmanager/certificate.go
  src/go/k8s/pkg/resources/certmanager/issuer.go
  src/go/k8s/pkg/resources/certmanager/keystore_password.go
  src/go/k8s/pkg/resources/certmanager/pki.go
  src/go/k8s/pkg/resources/pdb.go
  src/go/k8s/pkg/resources/resource.go
  src/go/k8s/pkg/resources/superusers.go
Labels: area/k8s

#3286 Backport #3205 #3245
  src/v/kafka/server/group.cc
  src/v/kafka/server/handlers/produce.cc
  src/v/raft/recovery_stm.cc
  src/v/raft/replicate_entries_stm.cc
Labels: area/redpanda

#3181 kafka: probe to send group offset to prometheus
  src/v/kafka/group_probe.h
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  tests/rptest/clients/rpk.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/group_membership_test.py
Labels: area/redpanda

#3299 schema_registry: Support GET /subjects/{subject}/versions/{version}/referencedBy
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/api/api-doc/schema_registry_header.json
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/handlers.h
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/CMakeLists.txt
  src/v/pandaproxy/schema_registry/test/sharded_store.cc
  tests/rptest/tests/schema_registry_test.py
Labels: kind/enhance, area/redpanda, area/schema_registry

#3242 Fixed deriving initial revision of x-core moved NTP
  src/v/cluster/controller_backend.cc
  src/v/cluster/metadata_dissemination_service.cc
  src/v/cluster/tests/partition_moving_test.cc
Labels: area/redpanda

#3303 Fix patching PDB resources
  src/go/k8s/go.mod
  src/go/k8s/go.sum
  src/go/k8s/pkg/resources/cluster_service.go
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/pkg/resources/headless_service.go
  src/go/k8s/pkg/resources/ingress.go
  src/go/k8s/pkg/resources/node_port_service.go
  src/go/k8s/pkg/resources/pdb.go
  src/go/k8s/pkg/resources/pdb_test.go
  src/go/k8s/pkg/resources/resource.go
  src/go/k8s/pkg/resources/statefulset_update.go
Labels: area/k8s

#3293 Fix archival upload data corruption
  src/v/archival/archival_policy.cc
  src/v/archival/archival_policy.h
  src/v/archival/ntp_archiver_service.cc
Labels: area/redpanda

#3314 docs: adding Shadow Indexing guide
  docs/www/images/shadow_indexing_arch.png
  docs/www/shadow-indexing.md
Labels: area/docs

#3259 Improved suppressing heartbeats
  src/v/raft/heartbeat_manager.cc
  src/v/raft/heartbeat_manager.h
  src/v/raft/recovery_stm.cc
Labels: area/redpanda

#3317 kafka: avoid reinterpret_cast for request/response headers
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/protocol_utils.cc
  src/v/kafka/server/protocol_utils.h
  src/v/kafka/server/request_context.h
  src/v/kafka/server/tests/request_parser_test.cc
Labels: area/redpanda

#3309 Backport "Fix archival upload data corruption" #3293
  src/v/archival/archival_policy.cc
  src/v/archival/archival_policy.h
  src/v/archival/ntp_archiver_service.cc
Labels: area/redpanda

#3315 raft: fix noisy warning on leadership transfer
  src/v/raft/consensus.cc
Labels: area/raft, area/redpanda, kind/tech-debt

#3331 utils/test: Avoid raw pointers with ss::foreign_ptr
  src/v/utils/tests/remote_test.cc
Labels: area/redpanda

#3326 docs: update k8s deps requirements
  docs/www/quick-start-kubernetes.md
Labels: area/docs

#3325 k8s: add pandaproxy to helm chart tests
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/test/three_node_cluster.yaml
Labels: area/k8s

#3264 cluster: autocreate non_replicable topics
  src/v/cluster/cluster_utils.cc
  src/v/cluster/cluster_utils.h
  src/v/cluster/controller.json
  src/v/cluster/non_replicable_topics_frontend.cc
  src/v/cluster/non_replicable_topics_frontend.h
  src/v/cluster/service.cc
  src/v/cluster/service.h
  src/v/cluster/tests/cluster_test_fixture.h
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/coproc/script_context_backend.cc
  src/v/coproc/tests/CMakeLists.txt
  src/v/coproc/tests/autocreate_topic_tests.cc
  src/v/coproc/tests/fixtures/coproc_test_fixture.cc
  src/v/coproc/tests/fixtures/coproc_test_fixture.h
  src/v/model/timeout_clock.h
  src/v/redpanda/tests/fixture.h
Labels: area/redpanda

#3339 kafka/client/broker: Fix response logging
  src/v/kafka/client/broker.h
Labels: area/redpanda

#3280 cloud_storage: throw exception instead of being stuck on truncated segment
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/tests/remote_partition_test.cc
  src/v/cloud_storage/tests/remote_segment_test.cc
  src/v/storage/parser.cc
Labels: area/redpanda

#3308 Stop partition_record_batch_reader_impl properly
  src/v/cloud_storage/remote_partition.cc
Labels: area/redpanda

#3343 V21.11.x backport pr3280
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/tests/remote_partition_test.cc
  src/v/cloud_storage/tests/remote_segment_test.cc
  src/v/storage/parser.cc
Labels: area/redpanda

#3342 redpanda: fix some clang-tidy warnings
  src/v/bytes/details/io_fragment.h
  src/v/bytes/details/io_iterator_consumer.h
  src/v/bytes/details/io_placeholder.h
  src/v/bytes/iobuf.h
  src/v/likely.h
  src/v/reflection/to_tuple.h
  src/v/rpc/simple_protocol.cc
  src/v/utils/hdr_hist.h
  src/v/utils/named_type.h
  src/v/vassert.h
Labels: area/redpanda

#3356 cloud_storage: fix logs about http client errors
  src/v/cloud_storage/remote.cc
  src/v/http/client.cc
Labels: area/redpanda

#3364 backport 3308: Stop partition_record_batch_reader_impl
  src/v/cloud_storage/remote_partition.cc
Labels: area/redpanda

#3357 cloud_storage: backport pr3356
  src/v/cloud_storage/remote.cc
  src/v/http/client.cc
Labels: area/redpanda

#3367 codeowners: add ztlpn to cloud_storage group
  .github/CODEOWNERS
Labels: area/build

#3348 Fix disk space issues
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/cache_service.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/tests/cache_test.cc
  src/v/cloud_storage/tests/remote_partition_test.cc
Labels: area/redpanda

#3373 Backport PR #3348
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/cache_service.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/tests/cache_test.cc
  src/v/cloud_storage/tests/remote_partition_test.cc
Labels: area/redpanda

#3371 archival: fine-tune WARN logs on errors
  src/v/archival/ntp_archiver_service.cc
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
Labels: area/redpanda

#3375 Backport pr3358 pr3361 to v21.11.x
  tests/docker/Dockerfile
  tests/rptest/services/kaf_consumer.py
  tests/rptest/tests/schema_registry_test.py
Labels: kind/backport
