Repository redpanda-data/redpanda, pull requests merged in 2021-05, with the labels that each got.

#1307 Pandaproxy support in operator
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook_test.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/cmd/configurator/main.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/pkg/resources/resource.go
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/tests/e2e/pandaproxy-produce-consume/00-assert.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume/01-assert.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume/01-create-topic.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume/03-assert.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume/03-produce-message.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume/04-assert.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume/04-consume-message.yaml
Labels: area/k8s

#1316 kafka: support sasl handshake v0
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/connection_context.h
  src/v/kafka/server/requests.cc
  src/v/security/sasl_authentication.h
  tests/rptest/services/redpanda.py
  tests/rptest/tests/scram_pythonlib_test.py
Labels: area/redpanda

#1279 rpk/cloud: introduce vcloud config file
  src/go/k8s/go.mod
  src/go/k8s/go.sum
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cmd/cloud/login.go
  src/go/rpk/pkg/vcloud/auth0.go
  src/go/rpk/pkg/vcloud/auth0_test.go
  src/go/rpk/pkg/vcloud/config/config.go
  src/go/rpk/pkg/vcloud/config/config_test.go
  src/go/rpk/pkg/vcloud/login_test.go
Labels: area/k8s, area/rpk

#1320 operator/docs: add steps for external cluster on Digital Ocean
  src/go/k8s/docs/external-connectivity-digital-ocean.md
Labels: area/k8s

#1318 Add sasl/scram to rpk's pandaproxy client schema
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/schema.go
Labels: area/rpk

#1311 Rpk auth env vars
  src/go/rpk/pkg/api/admin/admin.go
  src/go/rpk/pkg/cli/cmd/acl/user.go
  src/go/rpk/pkg/cli/cmd/common/common.go
  src/go/rpk/pkg/cli/cmd/common/common_test.go
Labels: area/rpk

#1326 rpk/cloud: add version to the cloud config
  src/go/rpk/pkg/vcloud/config/config.go
Labels: area/rpk

#1319 kubernetes: Enable Prometheus monitoring
  src/go/k8s/config/default/kustomization.yaml
  src/go/k8s/config/default/manager_auth_proxy_patch.yaml
  src/go/k8s/config/prometheus/monitor.yaml
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/clusterrole.yaml
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/deployment.yaml
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/servicemonitor.yaml
  src/go/k8s/kuttl-helm-test.yaml
  src/go/k8s/kuttl-test.yaml
Labels: area/k8s

#1306 pandaproxy: Sharded client
  src/v/pandaproxy/context.h
  src/v/pandaproxy/handlers.cc
  src/v/pandaproxy/proxy.cc
  src/v/pandaproxy/proxy.h
  src/v/pandaproxy/server.cc
  src/v/pandaproxy/server.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/resource_mgmt/smp_groups.h
  tests/rptest/test_suite_quick.yml
  tests/rptest/tests/pandaproxy_test.py
Labels: area/redpanda

#1293 k/describe_configs: returning auto.create.topics.enable property
  src/v/kafka/server/handlers/describe_configs.cc
Labels: area/redpanda

#1331 kafka/client always authenticate broker connection
  src/v/kafka/client/broker.cc
  src/v/kafka/client/broker.h
  src/v/kafka/client/brokers.cc
  src/v/kafka/client/brokers.h
  src/v/kafka/client/client.cc
  src/v/kafka/client/client.h
  src/v/kafka/client/sasl_client.cc
  src/v/kafka/client/sasl_client.h
  tests/rptest/tests/pandaproxy_test.py
Labels: area/redpanda

#1330 operator/docs: Fix url to point at CRD not whole deployment
  src/go/k8s/docs/external-connectivity-digital-ocean.md
Labels: area/k8s

#1310 rpk/container: Allow using an arbitrary image
  src/go/rpk/pkg/cli/cmd/container/common/common.go
  src/go/rpk/pkg/cli/cmd/container/start.go
  src/go/rpk/pkg/cli/cmd/container/start_test.go
Labels: area/rpk

#1296 Persistent http connections
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/archival/service.cc
  src/v/archival/service.h
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/archival/tests/service_fixture.cc
  src/v/http/client.cc
  src/v/http/client.h
  src/v/http/tests/http_client_test.cc
  src/v/s3/client.cc
  src/v/s3/client.h
  src/v/s3/tests/s3_client_test.cc
Labels: area/redpanda

#1297 External k8s access
  docs/www/kubernetes-external-connect.md
  docs/www/quick-start-kubernetes.md
Labels: area/docs

#1327 Move manual install to primary install method
  docs/www/production-deployment-automation.md
  docs/www/production-deployment.md
Labels: area/docs

#1332 c/controller_backend: logging failed reconciliation attempts
  src/v/cluster/controller_backend.cc
Labels: area/redpanda

#1333 kafka/client: Support TLS handshake
  src/v/kafka/client/broker.cc
  src/v/redpanda/application.cc
Labels: area/redpanda

#1267 kafka: use code generation for fetch request
  .github/workflows/lint.yml
  src/v/coproc/event_listener.cc
  src/v/coproc/tests/read_materialized_topic_test.cc
  src/v/kafka/client/consumer.cc
  src/v/kafka/client/fetch_session.cc
  src/v/kafka/client/fetcher.cc
  src/v/kafka/client/test/consumer_group.cc
  src/v/kafka/client/test/fetch.cc
  src/v/kafka/client/test/fetch_session.cc
  src/v/kafka/protocol/batch_reader.h
  src/v/kafka/protocol/fetch.h
  src/v/kafka/protocol/response_writer.h
  src/v/kafka/protocol/schemata/CMakeLists.txt
  src/v/kafka/protocol/schemata/fetch_request.json
  src/v/kafka/protocol/schemata/fetch_response.json
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/server/fetch_session.h
  src/v/kafka/server/fetch_session_cache.cc
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/tests/fetch_session_test.cc
  src/v/kafka/server/tests/fetch_test.cc
  src/v/kafka/server/tests/produce_consume_test.cc
  src/v/kafka/server/tests/request_parser_test.cc
  src/v/pandaproxy/json/requests/fetch.h
  src/v/pandaproxy/json/requests/test/fetch.cc
  src/v/redpanda/tests/fixture.h
  src/v/ssx/future-util.h
  src/v/utils/copy_range.h
Labels: area/build, area/redpanda

#1338 operator: introduce ingress for pandaproxy
  src/go/k8s/config/rbac/role.yaml
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/pkg/resources/certmanager/certificate.go
  src/go/k8s/pkg/resources/cluster_service.go
  src/go/k8s/pkg/resources/ingress.go
Labels: area/k8s

#1344 Fix typos k8s
  docs/www/kubernetes-external-connect.md
Labels: area/docs

#1339 operator: add TLS for pandaproxy
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook_test.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/pkg/resources/certmanager/admin_api.go
  src/go/k8s/pkg/resources/certmanager/pandaproxy_api.go
  src/go/k8s/pkg/resources/certmanager/pki.go
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/pkg/resources/resource_integration_test.go
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/pkg/resources/statefulset_test.go
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-tls-client/00-assert.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-tls-client/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-tls-client/02-assert.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-tls-client/02-create-topic.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-tls-client/03-assert.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-tls-client/03-produce-message.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-tls-client/04-assert.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-tls-client/04-consume-message.yaml
Labels: area/k8s

#1340 operator: pandaproxy with SASL
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/go.sum
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-sasl/00-assert.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-sasl/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-sasl/01-assert.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-sasl/01-create-topic.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-sasl/02-assert.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-sasl/02-produce-message.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-sasl/03-assert.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-sasl/03-consume-message.yaml
Labels: area/k8s

#1341 r/append_entries_buffer: fixed shutting down append_entries_buffer
  src/v/raft/append_entries_buffer.cc
Labels: area/redpanda

#1345 operator: add ingress host in cluster status
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/controllers/redpanda/cluster_controller.go
Labels: area/k8s

#1325 rpk cloud logout
  src/go/rpk/pkg/cli/cmd/cloud.go
  src/go/rpk/pkg/cli/cmd/cloud/login.go
  src/go/rpk/pkg/cli/cmd/cloud/logout.go
  src/go/rpk/pkg/cli/cmd/cloud/logout_test.go
Labels: area/rpk

#1349 operator: allow case where TLS is applied to internal instead of external listener
  src/go/k8s/pkg/resources/configmap.go
Labels: area/k8s

#1282 docs: Add docs on auth + rpk acl
  docs/www/acls.md
Labels: area/docs

#1343 Docs to Dev
  docs/www/configuration.md
  docs/www/kubernetes-external-connect.md
  docs/www/production-deployment-automation.md
  docs/www/production-deployment.md
  docs/www/quick-start-kubernetes.md
  docs/www/quick-start-macos.md
Labels: area/docs

#1359 build: allow embedded git version to be disabled
  src/v/CMakeLists.txt
  taskfiles/rp.yml
Labels: area/redpanda

#1361 Persistent HTTP connections
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/archival/service.cc
  src/v/archival/service.h
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/archival/tests/service_fixture.cc
  src/v/http/client.cc
  src/v/http/client.h
  src/v/http/tests/http_client_test.cc
  src/v/s3/client.cc
  src/v/s3/client.h
  src/v/s3/tests/s3_client_test.cc
Labels: area/redpanda

#1372 js: Fix prettier linter
  src/js/modules/public/Utils.ts
  src/js/modules/rpc/errors.ts
  src/js/modules/rpc/server.ts
  src/js/modules/utilities/IOBuf.ts
  src/js/test/rpc/server.test.ts
Labels: area/wasm

#1362 Make service monitor optional
  .github/workflows/k8s-build-and-test.yml
  .gitignore
  src/go/k8s/helm-chart/charts/redpanda-operator/Chart.lock
  src/go/k8s/helm-chart/charts/redpanda-operator/Chart.yaml
  src/go/k8s/helm-chart/charts/redpanda-operator/README.md
  src/go/k8s/helm-chart/charts/redpanda-operator/README.md.gotmpl
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/servicemonitor.yaml
  src/go/k8s/helm-chart/charts/redpanda-operator/values.yaml
Labels: area/build, area/k8s

#1380 rpk/config: Restrict search paths to /etc/redpanda, ~, and ./
  src/go/rpk/pkg/config/config.go
  src/go/rpk/pkg/config/find.go
  src/go/rpk/pkg/config/find_test.go
Labels: area/rpk

#1382 docs: Add 'version' to the list of rpk commands
  docs/www/rpk-commands.md
Labels: area/docs

#1292 Introduced compaction quota
  src/v/redpanda/application.cc
  src/v/resource_mgmt/cpu_scheduling.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/log_manager.cc
  src/v/storage/log_manager.h
  src/v/storage/segment.cc
  src/v/storage/segment_utils.cc
  src/v/storage/segment_utils.h
  src/v/storage/types.cc
  src/v/storage/types.h
Labels: area/redpanda

#1384 Introduce rm_stm transaction fencing
  src/v/cluster/rm_partition_frontend.cc
  src/v/cluster/rm_partition_frontend.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/rm_stm_tests.cc
  src/v/cluster/tx_gateway.cc
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/types.h
Labels: area/redpanda

#1387 Fix JS CI linter issues
  .github/workflows/lint.yml
  src/js/modules/supervisors/Repository.ts
  src/js/package-lock.json
  src/js/package.json
Labels: area/build, area/wasm

#1395 coproc/js: add logger as attribute on coprocessor apply fn
  src/js/modules/public/Coprocessor.ts
  src/js/modules/supervisors/Repository.ts
  src/js/test/supervisors/Repository.test.ts
Labels: area/wasm

#1368 operator: Prevent updating existing node port
  src/go/k8s/pkg/resources/node_port_service.go
  src/go/k8s/tests/e2e/update-image-and-node-port/00-assert.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/00-current-image.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/01-assert.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/01-new-image.yaml
  src/go/k8s/tests/e2e/update-image/00-assert.yaml
  src/go/k8s/tests/e2e/update-image/00-current-image.yaml
  src/go/k8s/tests/e2e/update-image/01-assert.yaml
Labels: area/k8s

#1383 pandaproxy/schema_registry: Initial commits
  src/v/cluster/tests/cluster_test_fixture.h
  src/v/pandaproxy/CMakeLists.txt
  src/v/pandaproxy/api/api-doc/rest.json
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/api/api-doc/schema_registry_header.json
  src/v/pandaproxy/context.h
  src/v/pandaproxy/json/requests/test/CMakeLists.txt
  src/v/pandaproxy/json/test/CMakeLists.txt
  src/v/pandaproxy/json/types.h
  src/v/pandaproxy/rest/CMakeLists.txt
  src/v/pandaproxy/rest/configuration.cc
  src/v/pandaproxy/rest/configuration.h
  src/v/pandaproxy/rest/fwd.h
  src/v/pandaproxy/rest/handlers.cc
  src/v/pandaproxy/rest/handlers.h
  src/v/pandaproxy/rest/proxy.cc
  src/v/pandaproxy/rest/proxy.h
  src/v/pandaproxy/rest/test/CMakeLists.txt
  src/v/pandaproxy/rest/test/consumer_group.cc
  src/v/pandaproxy/rest/test/fetch.cc
  src/v/pandaproxy/rest/test/list_topics.cc
  src/v/pandaproxy/rest/test/produce.cc
  src/v/pandaproxy/schema_registry/CMakeLists.txt
  src/v/pandaproxy/schema_registry/configuration.cc
  src/v/pandaproxy/schema_registry/configuration.h
  src/v/pandaproxy/schema_registry/fwd.h
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/handlers.h
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/service.h
  src/v/pandaproxy/server.cc
  src/v/pandaproxy/server.h
  src/v/pandaproxy/test/pandaproxy_fixture.h
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/redpanda/tests/fixture.h
  tests/rptest/services/redpanda.py
  tests/rptest/services/templates/redpanda.yaml
  tests/rptest/tests/redpanda_test.py
  tests/rptest/tests/schema_registry_test.py
Labels: area/proxy, area/redpanda

#1400 kafka: remove server bits from protocol layer
  src/v/kafka/client/assignment_plans.cc
  src/v/kafka/client/topic_cache.h
  src/v/kafka/protocol/add_offsets_to_txn.h
  src/v/kafka/protocol/add_partitions_to_txn.h
  src/v/kafka/protocol/alter_configs.h
  src/v/kafka/protocol/api_versions.h
  src/v/kafka/protocol/create_acls.h
  src/v/kafka/protocol/create_topics.h
  src/v/kafka/protocol/delete_acls.h
  src/v/kafka/protocol/delete_groups.h
  src/v/kafka/protocol/delete_topics.h
  src/v/kafka/protocol/describe_acls.h
  src/v/kafka/protocol/describe_configs.h
  src/v/kafka/protocol/describe_groups.h
  src/v/kafka/protocol/describe_log_dirs.h
  src/v/kafka/protocol/end_txn.h
  src/v/kafka/protocol/fetch.h
  src/v/kafka/protocol/find_coordinator.h
  src/v/kafka/protocol/heartbeat.h
  src/v/kafka/protocol/incremental_alter_configs.h
  src/v/kafka/protocol/init_producer_id.h
  src/v/kafka/protocol/join_group.h
  src/v/kafka/protocol/leave_group.h
  src/v/kafka/protocol/list_groups.h
  src/v/kafka/protocol/list_offsets.h
  src/v/kafka/protocol/metadata.h
  src/v/kafka/protocol/offset_commit.h
  src/v/kafka/protocol/offset_fetch.h
  src/v/kafka/protocol/produce.h
  src/v/kafka/protocol/sasl_authenticate.h
  src/v/kafka/protocol/sasl_handshake.h
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/protocol/sync_group.h
  src/v/kafka/protocol/txn_offset_commit.h
  src/v/kafka/server/group.cc
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/handlers/api_versions.cc
  src/v/kafka/server/handlers/api_versions.h
  src/v/kafka/server/handlers/delete_groups.cc
  src/v/kafka/server/handlers/describe_groups.cc
  src/v/kafka/server/handlers/heartbeat.cc
  src/v/kafka/server/handlers/join_group.cc
  src/v/kafka/server/handlers/leave_group.cc
  src/v/kafka/server/handlers/list_groups.cc
  src/v/kafka/server/handlers/list_offsets.cc
  src/v/kafka/server/handlers/offset_commit.cc
  src/v/kafka/server/handlers/offset_fetch.cc
  src/v/kafka/server/handlers/sync_group.cc
  src/v/kafka/server/request_context.h
  src/v/kafka/server/tests/request_parser_test.cc
  src/v/pandaproxy/json/requests/test/produce.cc
Labels: area/redpanda

#1401 Fix archival GCS connection failure
  src/v/rpc/dns.cc
  src/v/rpc/transport.cc
  src/v/s3/client.cc
  src/v/utils/unresolved_address.h
Labels: area/redpanda

#1285 Add archival storage metrics
  src/v/archival/CMakeLists.txt
  src/v/archival/archival_policy.cc
  src/v/archival/archival_policy.h
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/archival/probe.cc
  src/v/archival/probe.h
  src/v/archival/service.cc
  src/v/archival/service.h
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/archival/tests/service_fixture.cc
  src/v/archival/types.h
Labels: area/redpanda

#1388 rpk start: Accept arbitrary kv pairs to set config values at startup.
  src/go/rpk/pkg/cli/cmd/redpanda/config.go
  src/go/rpk/pkg/cli/cmd/redpanda/config_test.go
  src/go/rpk/pkg/cli/cmd/redpanda/start.go
  src/go/rpk/pkg/cli/cmd/redpanda/start_test.go
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/manager.go
Labels: area/rpk

#1399 test: adds testing for partition movement
  src/v/cluster/metadata_cache.h
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/admin/api-doc/broker.json
  src/v/redpanda/admin/api-doc/partition.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  src/v/redpanda/application.cc
  taskfiles/rp.yml
  tests/rptest/services/admin.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/alter_topic_configuration_test.py
  tests/rptest/tests/partition_movement_test.py
  tests/rptest/tests/redpanda_test.py
  tests/setup.py
Labels: area/redpanda

#1406 release: fix k8s operator gha workflow
  .github/workflows/k8s-release.yml
Labels: area/build

#1305 Wasm general fixes and stability
  src/js/modules/rpc/server.ts
  src/js/modules/supervisors/Repository.ts
  src/js/test/rpc/server.test.ts
  src/v/coproc/event_listener.cc
  src/v/coproc/event_listener.h
  src/v/coproc/pacemaker.cc
  src/v/coproc/script_context.cc
  src/v/coproc/script_dispatcher.cc
  tests/rptest/test_suite_quick.yml
  tests/rptest/tests/wasm_failure_recovery_test.py
  tests/rptest/tests/wasm_identity_test.py
  tests/rptest/wasm/background_task.py
  tests/rptest/wasm/native_kafka_consumer.py
  tests/rptest/wasm/native_kafka_producer.py
  tests/rptest/wasm/topics_result_set.py
  tests/rptest/wasm/wasm_test.py
Labels: area/redpanda, area/wasm

#1386 s3: Fix client_pool
  src/v/s3/client.cc
Labels: area/redpanda

#1409 pandaproxy/server: Refactoring and tidy up
  src/v/pandaproxy/context.h
  src/v/pandaproxy/rest/handlers.cc
  src/v/pandaproxy/rest/handlers.h
  src/v/pandaproxy/rest/proxy.cc
  src/v/pandaproxy/rest/proxy.h
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/handlers.h
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/service.h
  src/v/pandaproxy/server.cc
  src/v/pandaproxy/server.h
Labels: area/proxy

#1410 pandaproxy/json: Introduce base_handler
  src/v/pandaproxy/json/requests/create_consumer.h
  src/v/pandaproxy/json/requests/partition_offsets.h
  src/v/pandaproxy/json/requests/partitions.h
  src/v/pandaproxy/json/requests/subscribe_consumer.h
  src/v/pandaproxy/json/rjson_parse.h
Labels: area/proxy

#1420 docs: Fix heading in K8s GSG
  docs/www/quick-start-kubernetes.md
Labels: area/docs

#1418 rpk/start: Fix the flags' priority
  src/go/rpk/pkg/cli/cmd/redpanda/start.go
  src/go/rpk/pkg/cli/cmd/redpanda/start_test.go
Labels: area/rpk

#1421 operator/samples: Enable Pandaproxy
  src/go/k8s/config/samples/external_connectivity.yaml
  src/go/k8s/config/samples/one_node_cluster.yaml
  src/go/k8s/config/samples/tls.yaml
Labels: area/k8s

#1423 rpk/container: use the given image name to check locally
  src/go/rpk/pkg/cli/cmd/container/common/common.go
Labels: area/rpk

#1424 3rdparty: Update abseil to 20210324.1
  cmake/oss.cmake.in
Labels: area/build

#1413 s3: Pass S3 probe to the http client
  src/v/http/client.cc
  src/v/http/client.h
  src/v/s3/client.cc
  src/v/s3/client.h
  src/v/s3/client_probe.cc
  src/v/s3/tests/s3_client_test.cc
Labels: area/redpanda

#1398 Introduce group transaction fencing
  src/v/cluster/rm_group_proxy.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tx_gateway.cc
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/tx_utils.h
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
  src/v/kafka/server/group_stm.cc
  src/v/kafka/server/group_stm.h
  src/v/kafka/server/rm_group_frontend.cc
  src/v/kafka/server/rm_group_frontend.h
Labels: area/redpanda

#1351 tweaks for building/testing arm64 builds
  src/v/syschecks/syschecks.h
  taskfiles/dev.yml
  taskfiles/rpk.yml
Labels: area/redpanda

#1428 schema_registry: Introduce store
  src/v/pandaproxy/schema_registry/CMakeLists.txt
  src/v/pandaproxy/schema_registry/error.cc
  src/v/pandaproxy/schema_registry/error.h
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/CMakeLists.txt
  src/v/pandaproxy/schema_registry/test/store.cc
  src/v/pandaproxy/schema_registry/test/util.cc
  src/v/pandaproxy/schema_registry/types.h
  src/v/pandaproxy/schema_registry/util.h
Labels: area/redpanda

#1425 rpk container start: add --set to override config values
  src/go/rpk/pkg/cli/cmd/container/start.go
  src/go/rpk/pkg/cli/cmd/container/start_test.go
Labels: area/rpk

#1391 Compaction backlog controller
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/storage/CMakeLists.txt
  src/v/storage/backlog_controller.cc
  src/v/storage/backlog_controller.h
  src/v/storage/compaction_controller.cc
  src/v/storage/compaction_controller.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/fwd.h
  src/v/storage/log.h
  src/v/storage/log_manager.cc
  src/v/storage/log_manager.h
  src/v/storage/mem_log_impl.cc
  src/v/storage/probe.cc
  src/v/storage/probe.h
  src/v/storage/tests/CMakeLists.txt
  src/v/storage/tests/backlog_controller_test.cc
  src/v/storage/tests/storage_e2e_test.cc
  src/v/storage/types.h
  src/v/utils/moving_average.h
  src/v/utils/tests/CMakeLists.txt
  src/v/utils/tests/moving_average_test.cc
Labels: area/redpanda

#1313 Build with g++-11
  .github/workflows/redpanda-build.yml
  src/v/bytes/details/io_fragment.h
  src/v/bytes/iobuf.h
  src/v/ssx/sformat.h
Labels: area/build, area/redpanda

#1430 Make consumer group transactions support compaction
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_stm.cc
Labels: area/redpanda

#1435 redpanda: expose version information via metrics
  src/v/redpanda/application.cc
  src/v/version.h.in
Labels: area/redpanda

#1422 rpk: option to pass byte TLS configuration to api/admin
  src/go/rpk/pkg/api/admin/admin.go
  src/go/rpk/pkg/cli/cmd/acl/user.go
Labels: area/rpk

#1371 Fetch API performance optimizations
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/protocol/batch_consumer.h
  src/v/kafka/protocol/fetch.h
  src/v/kafka/server/fetch_metadata_cache.hh
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/fetch.h
  src/v/kafka/server/handlers/fetch/fetch_plan_executor.h
  src/v/kafka/server/handlers/fetch/fetch_planner.h
  src/v/kafka/server/protocol.h
  src/v/kafka/server/replicated_partition.h
  src/v/kafka/server/request_context.h
  src/v/kafka/server/tests/fetch_test.cc
  src/v/resource_mgmt/io_priority.h
  src/v/storage/segment_reader.cc
  src/v/storage/segment_reader.h
Labels: area/redpanda

#999 rpk/config: Create the dir path if it doesn't exist.
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/manager.go
Labels: area/rpk

#1447 storage/test: shutdown backlog controller after test
  src/v/storage/tests/backlog_controller_test.cc
Labels: area/redpanda

#1443 storage: fix offset overflow in index for large segments
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/index_state.cc
  src/v/storage/index_state.h
  src/v/storage/log_replayer.cc
  src/v/storage/segment_index.cc
  src/v/storage/tests/index_state_test.cc
Labels: area/redpanda

#1432 Fix removing invalid readers from cache
  src/v/storage/readers_cache.cc
  src/v/storage/readers_cache.h
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

#1441 docs: add missing line continuator
  docs/www/kubernetes-external-connect.md
Labels: area/docs

#1414 handling moving not initialized partition cross shards
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
  src/v/finjector/hbadger.h
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/admin/api-doc/hbadger.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  tests/rptest/services/honey_badger.py
  tests/rptest/tests/partition_movement_test.py
Labels: area/redpanda

#1453 rpk topic set-config: Don't parse negative nums. as flags
  src/go/rpk/pkg/cli/cmd/topic/config.go
  src/go/rpk/pkg/cli/cmd/topic_test.go
Labels: area/rpk

#1458 archival: Fix double registration
  src/v/archival/probe.cc
  src/v/archival/probe.h
Labels: area/redpanda

#1464 rpk: Override logrus's defaults to log to STDOUT
  src/go/rpk/pkg/cli/cmd/root.go
  src/go/rpk/pkg/cli/cmd/root_test.go
  src/go/rpk/pkg/cli/cmd/topic_test.go
Labels: area/rpk

#1451 kafka: put transactions behind feature flag
  src/v/kafka/server/handlers/api_versions.cc
Labels: area/redpanda

#1475 r/consensus: protected whole replicate call with gate
  src/v/raft/consensus.cc
Labels: area/redpanda

#1476 operator: Shrink kind cluster to only 1 worker and master
  src/go/k8s/kind.yaml
  src/go/k8s/kuttl-test.yaml
  src/go/k8s/tests/e2e/node-select-tolerations/00-taint-node.yaml
  src/go/k8s/tests/e2e/node-select-tolerations/01-label-node.yaml
  src/go/k8s/tests/e2e/node-select-tolerations/02-assert.yaml
  src/go/k8s/tests/e2e/node-select-tolerations/03-remove-taint.yaml
  src/go/k8s/tests/e2e/node-select-tolerations/04-remove-label.yaml
Labels: area/k8s

#1473 Rpk arm64 workflows
  .github/workflows/homebrew-publish.yml
  .github/workflows/rpk-build.yml
Labels: area/build

#1455 Add fetch records metric
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_probe.cc
  src/v/cluster/partition_probe.h
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/materialized_partition.h
  src/v/kafka/server/partition_proxy.h
  src/v/kafka/server/replicated_partition.h
Labels: area/redpanda

#1481 rpk container: Increase timeout & update client lib
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cmd/container/common/client.go
  src/go/rpk/pkg/cli/cmd/container/common/common.go
  src/go/rpk/pkg/cli/cmd/container/common/test.go
  src/go/rpk/pkg/cli/cmd/container/start_test.go
Labels: area/rpk

#1469 rpk/config: Set the abs path to where the config was generated
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/manager.go
Labels: area/rpk

#1459 rpk tune: Print warning when all tuners are disabled
  src/go/rpk/pkg/cli/cmd/redpanda/tune.go
Labels: area/rpk

#1490 js/dependencies: fix browserslist security alert
  src/js/package-lock.json
Labels: area/wasm

#1495 github/release: provide gon config files for arm64 and amd64
  .github/workflows/rpk-build.yml
  src/go/rpk/gon_amd64.json
  src/go/rpk/gon_arm64.json
Labels: area/build, area/rpk

#1501 rpk acls delete: Sort the acls list
  src/go/rpk/pkg/cli/cmd/acl/delete.go
  src/go/rpk/pkg/cli/cmd/acl/delete_test.go
Labels: area/rpk

#1506 Update docker address in quick start
  docs/www/quick-start-docker.md
Labels: area/docs

#1507 Rk/fix/ci linter
  src/go/k8s/.golangci.yml
  src/go/k8s/go.sum
Labels: area/k8s

#1508 r/replicate_batcher: fixed handling large batches in replicate batcher
  src/v/raft/replicate_batcher.cc
  src/v/raft/replicate_batcher.h
  src/v/raft/tests/append_entries_test.cc
Labels: area/redpanda
