Repository redpanda-data/redpanda, pull requests merged in 2021-11, with the labels that each got.

#2827 docs: Add unit for queue delay metric
  docs/www/monitoring.md
Labels: area/docs

#2680 Archival metadata STM
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/archival/tests/service_fixture.cc
  src/v/archival/tests/service_fixture.h
  src/v/cloud_storage/manifest.cc
  src/v/cloud_storage/manifest.h
  src/v/cluster/CMakeLists.txt
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/cluster/persisted_stm.cc
  src/v/cluster/persisted_stm.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/tm_stm.cc
  src/v/model/model.cc
  src/v/model/record_batch_types.h
  src/v/model/timestamp.h
  src/v/raft/consensus.cc
  src/v/raft/log_eviction_stm.cc
  src/v/raft/log_eviction_stm.h
  src/v/raft/state_machine.h
  src/v/redpanda/application.cc
  src/v/storage/types.h
Labels: area/redpanda

#2838 tests: tolerate `rpk debug bundle` NTP failures
  tests/rptest/tests/rpk_cluster_test.py
Labels: area/tests

#2814 Archival: avoid unwanted timebox uploads
  src/v/archival/archival_policy.cc
  src/v/archival/archival_policy.h
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/service.cc
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/raft/fwd.h
  src/v/storage/tests/utils/disk_log_builder.h
Labels: area/redpanda

#2846 Fix for tabs
  docs/www/kubernetes-external-connect.md
  docs/www/quick-start-kubernetes.md
Labels: area/docs

#2847 rpk acls: refine & document
  src/go/k8s/go.sum
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cmd/acl.go
  src/go/rpk/pkg/cli/cmd/acl/common.go
  src/go/rpk/pkg/cli/cmd/acl/common_test.go
  src/go/rpk/pkg/cli/cmd/acl/create.go
  src/go/rpk/pkg/cli/cmd/acl/delete.go
  src/go/rpk/pkg/cli/cmd/acl/list.go
  src/go/rpk/pkg/cli/cmd/acl/user.go
  src/go/rpk/pkg/kafka/client_franz.go
  src/go/rpk/pkg/out/out.go
Labels: area/rpk, area/k8s

#2841 rpk debug bundle: Include offset from NTP response, retry if query fails
  src/go/rpk/pkg/cli/cmd/debug/bundle.go
Labels: area/rpk

#2848 Revert "k8s: remove tests failing when running on hand-created kind cluster"
  src/go/k8s/tests/e2e/redpanda-schema-registry/00-assert.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/01-assert.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/01-create-schema.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/02-assert.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/02-retrieve-schema.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/03-assert.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/03-delete-schema.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/04-add-node-tls.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/04-assert.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/05-assert.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/05-create-schema-with-tls.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/06-assert.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/06-retrieve-schema-with-tls.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/07-assert.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/07-delete-schema-with-tls.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/08-add-client-tls.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/08-assert.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/09-assert.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/09-create-schema-with-client-tls.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/10-assert.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/10-retrieve-schema.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/11-assert.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/11-delete-schema.yaml
  src/go/k8s/tests/e2e/update-conf-image/00-assert.yaml
  src/go/k8s/tests/e2e/update-conf-image/00-configurator.yaml
  src/go/k8s/tests/e2e/update-conf-image/01-assert.yaml
  src/go/k8s/tests/e2e/update-conf-image/01-current-image.yaml
  src/go/k8s/tests/e2e/update-conf-image/02-assert.yaml
  src/go/k8s/tests/e2e/update-conf-image/02-new-configurator.yaml
  src/go/k8s/tests/e2e/update-conf-image/03-assert.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/00-assert.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/00-current-image.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/01-assert.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/01-new-image.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/00-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/00-current-image.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/01-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/01-new-image.yaml
  src/go/k8s/tests/e2e/update-image-tls/00-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls/00-current-image.yaml
  src/go/k8s/tests/e2e/update-image-tls/01-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls/01-new-image.yaml
  src/go/k8s/tests/e2e/update/00-assert.yaml
  src/go/k8s/tests/e2e/update/00-one-replica.yaml
  src/go/k8s/tests/e2e/update/01-assert.yaml
  src/go/k8s/tests/e2e/update/01-two-replicas.yaml
  src/go/k8s/tests/e2e/update/02-assert.yaml
  src/go/k8s/tests/e2e/update/02-update-resources.yaml
  src/go/k8s/tests/e2e/update/03-assert.yaml
  src/go/k8s/tests/e2e/update/03-enable-tls.yaml
  src/go/k8s/tests/e2e/update/04-assert.yaml
  src/go/k8s/tests/e2e/update/04-change-port.yaml
Labels: area/k8s

#2858 tests: Remove tolerance for ntp query errors
  tests/rptest/tests/rpk_cluster_test.py
Labels: area/tests

#2812 cloud_storage: Various fixes from shadow-indexing-merged
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/service.cc
  src/v/cloud_storage/remote.cc
  src/v/http/client.cc
  src/v/http/client.h
  src/v/http/tests/http_client_test.cc
  src/v/s3/client.cc
  src/v/utils/retry_chain_node.h
Labels: area/redpanda

#2860 raft: fix catching timed_out_error by value
  src/v/raft/consensus.cc
Labels: area/raft, area/redpanda, kind/tech-debt

#2857 storage/test: Fix filename to elimate cmake warning
  src/v/storage/tests/CMakeLists.txt
Labels: area/redpanda

#2861 3rdparty: Update abseil to 20210324.2
  cmake/oss.cmake.in
Labels: area/build

#2730 build: use clang for public build
  .github/workflows/redpanda-build.yml
  README.md
  build.sh
  cmake/oss.cmake.in
  install-dependencies.sh
  tools/docker/Dockerfile
  tools/docker/Dockerfile.ignore
  tools/docker/README.md
Labels: area/build

#2850 schema_registry/store: Use correct shard in get_subject_schema
  src/v/pandaproxy/schema_registry/sharded_store.cc
Labels: kind/bug, area/redpanda, area/schema_registry, need-backport

#2868 Backport #2850: schema_registry/store: Use correct shard in get_subject_schema
  src/v/pandaproxy/schema_registry/sharded_store.cc
Labels: kind/bug, area/redpanda, area/schema_registry, kind/backport

#2806 admin: redirect to leader on errc::not_leader & similar errors
  src/go/rpk/pkg/api/admin/admin.go
  src/go/rpk/pkg/api/admin/admin_test.go
  src/go/rpk/pkg/api/admin/api_broker.go
  src/go/rpk/pkg/api/admin/api_user.go
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  tests/rptest/services/admin.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/leadership_transfer_test.py
  tests/rptest/tests/partition_movement_test.py
  tests/rptest/tests/raft_availability_test.py
  tests/rptest/tests/scram_test.py
Labels: area/rpk, area/redpanda

#2788 compatibility: added kafka-streams tests
  tests/docker/Dockerfile
  tests/rptest/services/compatibility/compat_example.py
  tests/rptest/services/compatibility/compat_helpers.py
  tests/rptest/services/compatibility/example_base.py
  tests/rptest/services/compatibility/example_runner.py
  tests/rptest/services/compatibility/franzgo_examples.py
  tests/rptest/services/compatibility/kafka_streams_examples.py
  tests/rptest/services/compatibility/sarama_examples.py
  tests/rptest/services/kaf_producer.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/compatibility/franzgo_test.py
  tests/rptest/tests/compatibility/kafka_streams_test.py
  tests/rptest/tests/compatibility/sarama_scram_test.py
  tests/rptest/tests/compatibility/sarama_test.py
Labels: client-compat

#2872 docs: Fix `helm install` in README for redpanda operator
  src/go/k8s/helm-chart/charts/redpanda-operator/README.md
Labels: area/k8s

#2629 Fix "rpk wasm generate" error
  src/go/rpk/pkg/cli/cmd/wasm/generate.go
  src/go/rpk/pkg/cli/cmd/wasm/generate_test.go
Labels: area/rpk

#2875 Backport #2847
  src/go/k8s/go.sum
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cmd/acl.go
  src/go/rpk/pkg/cli/cmd/acl/common.go
  src/go/rpk/pkg/cli/cmd/acl/common_test.go
  src/go/rpk/pkg/cli/cmd/acl/create.go
  src/go/rpk/pkg/cli/cmd/acl/delete.go
  src/go/rpk/pkg/cli/cmd/acl/list.go
  src/go/rpk/pkg/cli/cmd/acl/user.go
  src/go/rpk/pkg/kafka/client_franz.go
  src/go/rpk/pkg/out/out.go
Labels: area/rpk, area/k8s

#2883 admin: fixed accessing empty optional for log entry
  src/v/redpanda/admin_server.cc
Labels: area/redpanda

#2882 cmake: Update OSS build seastar version
  cmake/oss.cmake.in
Labels: area/build

#2822 schema_registry: Initial support for protobuf
  cmake/oss.cmake.in
  src/v/pandaproxy/schema_registry/CMakeLists.txt
  src/v/pandaproxy/schema_registry/errors.h
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/protobuf.h
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/CMakeLists.txt
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.h
  src/v/pandaproxy/schema_registry/types.h
  tests/rptest/tests/schema_registry_test.py
Labels: area/build, area/redpanda

#2886 bump franz-go to v1.2.3
  src/go/k8s/go.sum
  src/go/rpk/go.mod
  src/go/rpk/go.sum
Labels: area/rpk, area/k8s

#2880 Quiet some frightening log messages
  src/v/cloud_storage/remote.cc
Labels: area/redpanda

#2776 Try to fix JS tests CI failure
  src/js/test/rpc/server.test.ts
  tools/ts-generator/rpc/rpc_gen_js.py
Labels: area/wasm, ci-failure

#2896 Backport 2886
  src/go/k8s/go.sum
  src/go/rpk/go.mod
  src/go/rpk/go.sum
Labels: area/rpk, area/redpanda, area/k8s

#2900 cloud_storage: Remove timeout on workitem queue
  src/v/cloud_storage/remote_segment.cc
Labels: area/redpanda

#2901 Logging truncation with info severity
  src/v/raft/consensus.cc
Labels: area/redpanda

#2856 Fixed unavailability during follower & leader isolation
  docs/rfcs/20200421_raft_recovery.md
  src/v/cluster/metadata_cache.cc
  src/v/cluster/metadata_cache.h
  src/v/cluster/partition_leaders_table.cc
  src/v/cluster/partition_leaders_table.h
  src/v/kafka/server/handlers/metadata.cc
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/heartbeat_manager.cc
  src/v/raft/replicate_entries_stm.cc
  src/v/raft/types.h
  tests/rptest/services/failure_injector.py
  tests/rptest/tests/raft_availability_test.py
Labels: area/docs, area/redpanda

#1576 Tracking flushed offset directly in Raft
  src/v/raft/append_entries_buffer.cc
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/replicate_entries_stm.cc
  src/v/raft/tests/type_serialization_tests.cc
  src/v/raft/types.cc
  src/v/raft/types.h
  src/v/raft/vote_stm.cc
Labels: area/redpanda

#2915 cloud_storage: Availability check
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cluster/partition.h
Labels: area/redpanda

#2910 kafka/client: Fix concurrency bug with retry mitigation function
  src/v/kafka/client/retry_with_mitigation.h
Labels: area/redpanda

#2914 Avoid deprecated seastar functions
  src/v/kafka/server/handlers/join_group.cc
  src/v/kafka/server/member.cc
  src/v/kafka/server/protocol_utils.cc
  src/v/model/model.cc
  src/v/utils/human.cc
  src/v/utils/to_string.h
Labels: area/redpanda, kind/tech-debt

#2919 Revert "kafka/client: Fix concurrency bug with retry fn"
  src/v/kafka/client/retry_with_mitigation.h
Labels: kind/bug, area/kafka, area/redpanda

#2923 cloud_storage: Fix code review issues
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/tests/common_def.h
  src/v/cluster/partition.h
Labels: area/redpanda

#2924 tools: catch memory leak backtraces in unit tests
  tools/cmake_test.py
Labels: kind/enhance, area/tests

#2907 rpk: add group subcommand
  src/go/k8s/go.sum
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cmd/check.go
  src/go/rpk/pkg/cli/cmd/cluster.go
  src/go/rpk/pkg/cli/cmd/config.go
  src/go/rpk/pkg/cli/cmd/group/describe.go
  src/go/rpk/pkg/cli/cmd/group/group.go
  src/go/rpk/pkg/cli/cmd/group/seek.go
  src/go/rpk/pkg/cli/cmd/group/seek_test.go
  src/go/rpk/pkg/cli/cmd/mode.go
  src/go/rpk/pkg/cli/cmd/redpanda.go
  src/go/rpk/pkg/cli/cmd/redpanda/check.go
  src/go/rpk/pkg/cli/cmd/redpanda/config.go
  src/go/rpk/pkg/cli/cmd/redpanda/config_test.go
  src/go/rpk/pkg/cli/cmd/redpanda/mode.go
  src/go/rpk/pkg/cli/cmd/redpanda/mode_test.go
  src/go/rpk/pkg/cli/cmd/redpanda/start.go
  src/go/rpk/pkg/cli/cmd/redpanda/start_test.go
  src/go/rpk/pkg/cli/cmd/redpanda/stop.go
  src/go/rpk/pkg/cli/cmd/redpanda/stop_test.go
  src/go/rpk/pkg/cli/cmd/redpanda/tune.go
  src/go/rpk/pkg/cli/cmd/redpanda/tune_test.go
  src/go/rpk/pkg/cli/cmd/root.go
  src/go/rpk/pkg/cli/cmd/start.go
  src/go/rpk/pkg/cli/cmd/stop.go
  src/go/rpk/pkg/cli/cmd/topic/consume.go
  src/go/rpk/pkg/cli/cmd/topic/produce.go
  src/go/rpk/pkg/cli/cmd/tune.go
  src/go/rpk/pkg/tools.go
  src/go/rpk/pkg/tuners/ballast/tuner.go
  src/go/rpk/pkg/tuners/executors/commands/write_sized_file.go
  src/go/rpk/pkg/tuners/executors/commands/write_sized_file_test.go
  src/go/rpk/pkg/tuners/factory/factory.go
  src/go/rpk/pkg/tuners/factory/factory_test.go
  src/go/rpk/pkg/tuners/redpanda_checkers_test.go
Labels: area/rpk, area/k8s

#2917 Fix rpc server exception handling
  src/v/rpc/simple_protocol.cc
  src/v/rpc/test/response_handler_tests.cc
  src/v/rpc/test/rpc_gen_types.h
  src/v/rpc/transport.cc
  src/v/rpc/transport.h
  src/v/rpc/types.h
Labels: area/redpanda

#2935 redpanda: Updates for c++20 / Clang-13
  cmake/GetGitRevisionDescription.cmake
  src/v/http/CMakeLists.txt
  src/v/storage/kvstore.cc
Labels: area/build, area/redpanda

#2934 IGNORE - Only for CI build: redpanda: Updates for c++20 / Clang-13 -
  cmake/GetGitRevisionDescription.cmake
  src/v/http/CMakeLists.txt
  src/v/storage/kvstore.cc
Labels: area/build, area/redpanda

#2722 serde: introduce `checksum_envelope`
  src/v/serde/envelope.h
  src/v/serde/serde.h
  src/v/serde/test/serde_test.cc
Labels: area/redpanda

#2937 Raft flush fixes
  src/v/raft/consensus.cc
Labels: area/redpanda

#2929 Backport of #2856, #1576, #2917, #2901, #2937
  docs/rfcs/20200421_raft_recovery.md
  src/v/cluster/metadata_cache.cc
  src/v/cluster/metadata_cache.h
  src/v/cluster/partition_leaders_table.cc
  src/v/cluster/partition_leaders_table.h
  src/v/kafka/server/handlers/metadata.cc
  src/v/raft/append_entries_buffer.cc
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/heartbeat_manager.cc
  src/v/raft/replicate_entries_stm.cc
  src/v/raft/tests/type_serialization_tests.cc
  src/v/raft/types.cc
  src/v/raft/types.h
  src/v/raft/vote_stm.cc
  src/v/rpc/simple_protocol.cc
  src/v/rpc/test/response_handler_tests.cc
  src/v/rpc/test/rpc_gen_types.h
  src/v/rpc/transport.cc
  src/v/rpc/transport.h
  src/v/rpc/types.h
  tests/rptest/services/failure_injector.py
  tests/rptest/tests/raft_availability_test.py
Labels: area/docs, area/redpanda

#2939 docs: Fix relative link in autotune
  docs/www/autotune.md
Labels: area/docs

#2888 Quiet some more log messages
  src/v/raft/consensus.cc
Labels: area/redpanda

#2925 kafka/server: fix double counting bytes sent metric
  src/v/kafka/server/connection_context.cc
  tests/rptest/tests/bytes_sent_test.py
Labels: kind/bug, area/kafka, area/redpanda

#2824 cloud_storage: Add remote_partition class
  src/v/cloud_storage/CMakeLists.txt
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/tests/CMakeLists.txt
  src/v/cloud_storage/tests/common_def.h
  src/v/cloud_storage/tests/remote_partition_test.cc
  src/v/cloud_storage/tests/remote_segment_test.cc
  src/v/utils/retry_chain_node.cc
  src/v/utils/retry_chain_node.h
Labels: area/redpanda

#2732 serde: add version check (version < compat_version)
  src/v/serde/serde.h
  src/v/serde/test/serde_test.cc
Labels: area/redpanda

#2949 Fetch session fairness
  src/v/kafka/server/fetch_session.h
  src/v/kafka/server/handlers/fetch.cc
  src/v/storage/log_reader.cc
  tests/rptest/clients/kcl.py
  tests/rptest/tests/fetch_fairness_test.py
Labels: area/redpanda

#2951 enable archival unit tests
  src/v/archival/tests/CMakeLists.txt
  src/v/archival/tests/service_fixture.cc
Labels: area/redpanda

#2968 docs: Auth review
  docs/www/acls.md
  docs/www/kubernetes-external-connect.md
  docs/www/quick-start-kubernetes.md
Labels: area/docs

#2954 Make list_offset linearizable
  src/v/cluster/partition.h
  src/v/kafka/server/handlers/list_offsets.cc
  src/v/kafka/server/materialized_partition.h
  src/v/kafka/server/partition_proxy.h
  src/v/kafka/server/replicated_partition.h
Labels: area/redpanda

#2960 Kstreams wikipedia fix
  tests/rptest/tests/compatibility/kafka_streams_test.py
Labels: kind/bug, area/kafka, client-compat

#2981 typo preffered -> preferred in rpk output
  src/go/rpk/pkg/tuners/clocksource.go
Labels: area/rpk

#2983 rpk: bump kadm to fix transactional-id bug, fix doc wording
  src/go/k8s/go.sum
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cmd/acl.go
  src/go/rpk/pkg/cli/cmd/acl/delete.go
  src/go/rpk/pkg/cli/cmd/cluster/offsets.go
Labels: area/rpk, area/k8s

#2977 raft: simplify node removal tests
  src/v/raft/consensus.cc
  src/v/raft/tests/membership_test.cc
Labels: kind/bug, area/raft, area/redpanda

#2986 tools: extend test backtrace catching for AddressSanitizer
  tools/cmake_test.py
Labels: kind/enhance, area/tests

#2926 kafka/client: Fixes for retries
  src/v/kafka/client/client.cc
  src/v/kafka/client/client.h
  src/v/kafka/client/fetcher.cc
  src/v/kafka/client/producer.cc
  src/v/kafka/client/retry_with_mitigation.h
  src/v/kafka/client/test/CMakeLists.txt
  src/v/kafka/client/test/retry.cc
  src/v/kafka/client/topic_cache.cc
  tests/rptest/tests/pandaproxy_test.py
Labels: kind/bug, area/kafka, area/redpanda, need-backport

#2982 rpk: bump kadm to fix transactional-id bug, fix doc wording
  src/go/k8s/go.sum
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cmd/acl.go
  src/go/rpk/pkg/cli/cmd/acl/delete.go
Labels: area/rpk, area/k8s

#2999 Opfuzz improvements
  src/v/storage/opfuzz/opfuzz.cc
Labels: area/redpanda

#2991 raft: improvements to partition_moving_test_rpunit
  src/v/cluster/tests/partition_moving_test.cc
Labels: kind/bug, area/redpanda, area/tests

#2736 cluster: add centralized config service
  src/v/cluster/CMakeLists.txt
  src/v/cluster/commands.h
  src/v/cluster/config_frontend.cc
  src/v/cluster/config_frontend.h
  src/v/cluster/config_manager.cc
  src/v/cluster/config_manager.h
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/controller.json
  src/v/cluster/controller_stm.h
  src/v/cluster/fwd.h
  src/v/cluster/service.cc
  src/v/cluster/service.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/config/base_property.cc
  src/v/config/base_property.h
  src/v/config/config_store.h
  src/v/config/configuration.cc
  src/v/config/endpoint_tls_config.h
  src/v/config/node_config.cc
  src/v/config/node_config.h
  src/v/config/property.h
  src/v/config/tests/config_store_test.cc
  src/v/config/tests/custom_aggregate.h
  src/v/config/tls_config.h
  src/v/model/model.cc
  src/v/model/record_batch_types.h
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/admin/api-doc/cluster_config.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  tests/rptest/services/admin.py
  tests/rptest/tests/cluster_config_test.py
Labels: kind/enhance, area/redpanda

#2972 Backport: #2949, #2954
  src/v/cluster/partition.h
  src/v/kafka/server/fetch_session.h
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/list_offsets.cc
  src/v/kafka/server/materialized_partition.h
  src/v/kafka/server/partition_proxy.h
  src/v/kafka/server/replicated_partition.h
  src/v/storage/log_reader.cc
  tests/rptest/clients/kcl.py
  tests/rptest/tests/fetch_fairness_test.py
Labels: area/redpanda

#2985 Remove unused files from top level of tree
  CPPLINT.cfg
  PendingReleaseNotes.md
Labels: kind/tech-debt

#2957 Implement upload throttling in archival
  src/v/archival/CMakeLists.txt
  src/v/archival/fwd.h
  src/v/archival/logger.h
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/archival/service.cc
  src/v/archival/service.h
  src/v/archival/types.cc
  src/v/archival/types.h
  src/v/archival/upload_controller.cc
  src/v/archival/upload_controller.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/resource_mgmt/cpu_scheduling.h
  src/v/resource_mgmt/io_priority.h
Labels: area/redpanda

#3005 raft/tests: increase election timeout to avoid leadership flaps
  src/v/raft/tests/raft_group_fixture.h
Labels: kind/bug, area/raft, area/redpanda

#3008 tests: Small fixes in test logs
  src/v/coproc/tests/fixtures/coproc_test_fixture.cc
  tests/rptest/clients/rpk.py
Labels: area/redpanda

#3002 rpk: add `topic add-partitions` command
  src/go/k8s/go.mod
  src/go/rpk/pkg/cli/cmd/acl.go
  src/go/rpk/pkg/cli/cmd/topic.go
  src/go/rpk/pkg/cli/cmd/topic/add_partitions.go
Labels: area/rpk, area/k8s

#2966 Update with docs changes
  docs/www/acls.md
  docs/www/autotune.md
  docs/www/faq.md
  docs/www/guide-rpk-container.md
  docs/www/guide-wasm-elastic.md
  docs/www/kubernetes-external-connect.md
  docs/www/monitoring.md
  docs/www/quick-start-docker.md
  docs/www/quick-start-kubernetes.md
  docs/www/quick-start-macos.md
  docs/www/quick-start-windows.md
  docs/www/rpk-commands.md
  docs/www/well-known-io.md
Labels: area/docs

#3003 r/consensus: fixed handling replicate result when term changed
  src/v/raft/replicate_entries_stm.cc
  src/v/raft/replicate_entries_stm.h
Labels: area/redpanda

#3012 ducktape: disable KStreams Wikipedia test
  tests/rptest/tests/compatibility/kafka_streams_test.py
Labels: kind/bug, area/kafka, ci-failure

#3013 Honey Badger / Failure Injection cleanup
  src/v/finjector/hbadger.cc
  src/v/finjector/hbadger.h
  src/v/redpanda/admin_server.cc
  src/v/storage/failure_probes.h
  tools/rpcgen.py
Labels: area/redpanda

#3010 Backport: #3003
  src/v/raft/replicate_entries_stm.cc
  src/v/raft/replicate_entries_stm.h
Labels: area/redpanda

#2859 k8s: bump rpk status sidecar limit to 30M
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
Labels: area/k8s

#2997 V21.10.x backport pr2926 v2
  src/v/kafka/client/client.cc
  src/v/kafka/client/client.h
  src/v/kafka/client/fetcher.cc
  src/v/kafka/client/producer.cc
  src/v/kafka/client/retry_with_mitigation.h
  src/v/kafka/client/test/CMakeLists.txt
  src/v/kafka/client/test/retry.cc
  src/v/kafka/client/topic_cache.cc
  tests/rptest/tests/pandaproxy_test.py
Labels: kind/bug, area/kafka, kind/backport

#2967 Enable fetches from cloud data
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/config/node_config.cc
  src/v/kafka/server/replicated_partition.cc
  src/v/kafka/server/replicated_partition.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  tests/rptest/tests/archival_test.py
  tests/rptest/tests/e2e_shadow_indexing_test.py
  tests/rptest/tests/retention_policy_test.py
  tests/rptest/util.py
Labels: area/redpanda

#2984 [data-policy] Delete usless data-policy property from topic_frontend log message
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/cluster/topics_frontend.cc
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/kafka/server/handlers/alter_configs.cc
  src/v/kafka/server/handlers/incremental_alter_configs.cc
Labels: area/redpanda

#3040 Mitigate idempotency violation
  src/v/cluster/rm_stm.cc
  src/v/cluster/tests/idempotency_tests.cc
Labels: need-backport

#3036 Fix transaction visibility problem
  src/v/kafka/server/handlers/fetch.cc
  tests/java/tx-verifier/pom.xml
  tests/java/tx-verifier/src/main/java/io/vectorized/kafka/TxReadsWritesTest.java
  tests/java/tx-verifier/src/main/java/io/vectorized/kafka/Verifier.java
  tests/rptest/tests/tx_reads_writes_test.py
Labels: area/redpanda, need-backport

#2787 Cluster health monitor
  src/v/cluster/CMakeLists.txt
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/controller.json
  src/v/cluster/errc.h
  src/v/cluster/fwd.h
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
  src/v/cluster/health_monitor_frontend.cc
  src/v/cluster/health_monitor_frontend.h
  src/v/cluster/health_monitor_types.cc
  src/v/cluster/health_monitor_types.h
  src/v/cluster/metadata_cache.cc
  src/v/cluster/metadata_cache.h
  src/v/cluster/partition.h
  src/v/cluster/service.cc
  src/v/cluster/service.h
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/health_monitor_test.cc
  src/v/cluster/tests/replicas_rebalancing_tests.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/errors.h
  src/v/kafka/server/handlers/metadata.cc
  src/v/model/metadata.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/redpanda/admin/api-doc/broker.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/application.cc
  tests/rptest/tests/configuration_update_test.py
Labels: area/redpanda

#3041 V21.10.x backport pr3036: Fix transaction visibility problem
  src/v/kafka/server/handlers/fetch.cc
  tests/java/tx-verifier/pom.xml
  tests/java/tx-verifier/src/main/java/io/vectorized/kafka/TxReadsWritesTest.java
  tests/java/tx-verifier/src/main/java/io/vectorized/kafka/Verifier.java
  tests/rptest/tests/tx_reads_writes_test.py
Labels: kind/bug, area/kafka, kind/backport

#3042 V21.10.x backport pr3040: Mitigate idempotency violation
  src/v/cluster/rm_stm.cc
  src/v/cluster/tests/idempotency_tests.cc
Labels: kind/bug, area/kafka, area/redpanda, kind/backport

#3026 docs: Update prometheus-url flag
  docs/www/monitoring.md
  docs/www/rpk-commands.md
Labels: area/docs

#3004 Parse longer device controller paths
  src/go/rpk/pkg/tuners/disk/block_devices.go
  src/go/rpk/pkg/tuners/disk/block_devices_test.go
Labels: area/rpk

#3035 Remove quick-start-docker self-loop
  docs/www/quick-start-docker.md
Labels: area/docs

#3037 Fix for wasm engine not recording exact recordCount in RecordBatches
  src/js/modules/public/Utils.ts
  src/js/modules/public/index.ts
  src/js/modules/supervisors/Repository.ts
  src/js/test/rpc/server.test.ts
  src/v/coproc/exception.h
  src/v/coproc/script_context_backend.cc
  tests/rptest/tests/wasm_filter_test.py
  tests/rptest/wasm/templates/filter_transform.j2
  tests/rptest/wasm/topic.py
  tests/rptest/wasm/wasm_build_tool.py
Labels: area/redpanda, area/wasm

#3045 docs: Fix superuser syntax in acl article
  docs/www/acls.md
Labels: area/docs

#3027 docs: Add data migration article (MirrorMaker 2)
  docs/www/data-migration.md
Labels: area/docs

#3050 utils: fix retry_chain_node logger
  src/v/utils/retry_chain_node.h
Labels: area/redpanda

#2866 coproc: Fix retry logic bug
  src/v/coproc/CMakeLists.txt
  src/v/coproc/event_handler.cc
  src/v/coproc/offset_storage_utils.cc
  src/v/coproc/offset_storage_utils.h
  src/v/coproc/pacemaker.cc
  src/v/coproc/pacemaker.h
  src/v/coproc/script_context.cc
  src/v/coproc/script_context.h
  src/v/coproc/script_context_backend.cc
  src/v/coproc/script_context_backend.h
  src/v/coproc/script_context_frontend.cc
  src/v/coproc/script_context_frontend.h
  src/v/coproc/script_context_router.cc
  src/v/coproc/script_context_router.h
  src/v/coproc/shared_script_resources.h
  src/v/coproc/tests/CMakeLists.txt
  src/v/coproc/tests/coproc_bench_tests.cc
  src/v/coproc/tests/failure_recovery_tests.cc
  src/v/coproc/tests/fixtures/coproc_bench_fixture.cc
  src/v/coproc/tests/fixtures/coproc_bench_fixture.h
  src/v/coproc/tests/fixtures/coproc_test_fixture.cc
  src/v/coproc/tests/fixtures/coproc_test_fixture.h
  src/v/coproc/tests/fixtures/fiber_mock_fixture.cc
  src/v/coproc/tests/fixtures/fiber_mock_fixture.h
  src/v/coproc/tests/kafka_api_materialized_tests.cc
  src/v/coproc/tests/offset_storage_utils_tests.cc
  src/v/coproc/tests/pacemaker_tests.cc
  src/v/coproc/tests/retry_logic_tests.cc
  src/v/coproc/tests/topic_ingestion_policy_tests.cc
  src/v/coproc/tests/utils/batch_utils.cc
  src/v/coproc/tests/utils/batch_utils.h
  src/v/coproc/tests/utils/coprocessor.h
  src/v/coproc/tests/utils/supervisor.cc
  src/v/storage/tests/utils/random_batch.cc
  src/v/storage/tests/utils/random_batch.h
Labels: area/redpanda

#3053 schema_registry: Prevent deleting referenced schema
  src/v/pandaproxy/error.cc
  src/v/pandaproxy/error.h
  src/v/pandaproxy/schema_registry/error.cc
  src/v/pandaproxy/schema_registry/error.h
  src/v/pandaproxy/schema_registry/errors.h
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/CMakeLists.txt
  src/v/pandaproxy/schema_registry/test/avro_payloads.h
  src/v/pandaproxy/schema_registry/test/client_utils.h
  src/v/pandaproxy/schema_registry/test/delete_subject_endpoints.cc
  src/v/pandaproxy/schema_registry/test/post_subjects_subject_version.cc
Labels: kind/enhance, area/redpanda, area/schema_registry

#3060 operator: fix README link
  src/go/k8s/README.md
Labels: area/k8s

#3055 Raft reconfiguration availability fix (demoting voter before removing it)
  src/v/raft/configuration_manager.cc
  src/v/raft/consensus.cc
  src/v/raft/group_configuration.cc
  src/v/raft/group_configuration.h
  src/v/raft/prevote_stm.cc
  src/v/raft/tests/group_configuration_tests.cc
  src/v/raft/vote_stm.cc
Labels: area/redpanda, need-backport

#3047 Added uptime to health monitor
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_types.cc
  src/v/cluster/health_monitor_types.h
Labels: area/redpanda

#3063 replaced `std::cbeging/cend` with collection methods
  src/v/raft/consensus.cc
  src/v/raft/group_configuration.cc
Labels: area/redpanda

#3065 docs: Change filesystem to file system
  docs/www/autotune.md
Labels: area/docs

#3057 Cert issuer for schema registry
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook_test.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/pkg/resources/certmanager/type_helpers.go
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/pkg/resources/resource_integration_test.go
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/pkg/resources/statefulset_test.go
  src/go/k8s/tests/e2e/admin-api-tls-client-auth/01-call-adminapi.yaml
  src/go/k8s/tests/e2e/create-topic-given-issuer-with-client-auth/00-create-cluster-issuer.yaml
  src/go/k8s/tests/e2e/create-topic-given-issuer-with-client-auth/01-assert.yaml
  src/go/k8s/tests/e2e/create-topic-given-issuer-with-client-auth/01-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/create-topic-given-issuer-with-client-auth/04-assert.yaml
  src/go/k8s/tests/e2e/create-topic-given-issuer-with-client-auth/04-create-schema-with-tls.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-tls-client/02-produce-message.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-tls-client/03-consume-message.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/09-create-schema-with-client-tls.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/10-retrieve-schema.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/11-delete-schema.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/01-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/03-assert.yaml
Labels: area/k8s

#3073 k8s: bump deps to newer controller-runtime and k8s 1.21
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/go.mod
  src/go/k8s/go.sum
  src/go/k8s/pkg/resources/configmap_test.go
  src/go/k8s/pkg/resources/resource_integration_test.go
Labels: area/k8s

#3071 Disable fstrim tuner by default in prod mode
  src/go/rpk/pkg/cli/cmd/redpanda/mode_test.go
  src/go/rpk/pkg/config/config.go
  src/go/rpk/pkg/config/config_test.go
Labels: area/rpk

#2988 kafka: Improve stability of parttition leadership in metadata for newly created topics
  src/v/cluster/controller.cc
  src/v/cluster/tests/topic_table_fixture.h
  src/v/cluster/tests/topic_updates_dispatcher_test.cc
  src/v/cluster/topic_updates_dispatcher.cc
  src/v/cluster/topic_updates_dispatcher.h
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
  tests/rptest/tests/raft_availability_test.py
Labels: kind/bug, area/redpanda

#3084 k/partition_proxy: do not return offset from linearizable barrier
  src/v/kafka/server/handlers/list_offsets.cc
  src/v/kafka/server/materialized_partition.h
  src/v/kafka/server/partition_proxy.h
  src/v/kafka/server/replicated_partition.h
Labels: area/redpanda

#3087 Fix waiting for replicate result
  src/v/raft/replicate_entries_stm.cc
Labels: area/redpanda

#3102 Backport: #3055 #3084 #3087
  src/v/kafka/server/handlers/list_offsets.cc
  src/v/kafka/server/materialized_partition.h
  src/v/kafka/server/partition_proxy.h
  src/v/kafka/server/replicated_partition.h
  src/v/raft/configuration_manager.cc
  src/v/raft/consensus.cc
  src/v/raft/group_configuration.cc
  src/v/raft/group_configuration.h
  src/v/raft/prevote_stm.cc
  src/v/raft/replicate_entries_stm.cc
  src/v/raft/tests/group_configuration_tests.cc
  src/v/raft/vote_stm.cc
Labels: area/redpanda

#3011 kafka: Support configuration_keys in describe_configs handler
  src/v/kafka/server/handlers/describe_configs.cc
  src/v/kafka/server/tests/alter_config_test.cc
Labels: area/redpanda

#3107 correct spurious em dashes in documentation
  docs/www/rpk-commands.md
Labels: area/docs

#3096 k8s: add delete permissions to helm chart
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/clusterrole.yaml
Labels: area/k8s

#3093 k8s: disable rpk-status sidecar by default
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/tests/e2e/update-conf-image/01-assert.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/01-assert.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/02-assert.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/03-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/01-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/02-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/03-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls/01-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls/02-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls/03-assert.yaml
  src/go/k8s/tests/e2e/update/02-assert.yaml
Labels: area/k8s

#3101 Add ingress management permissions to default ClusterRole config
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/clusterrole.yaml
Labels: area/k8s

#3104 tests/failure_injector: make kill idempotent
  tests/rptest/services/failure_injector.py
  tests/rptest/services/redpanda.py
Labels: kind/bug, area/tests

#3091 tests: fix node counts on sarama tests
  tests/rptest/tests/compatibility/sarama_test.py
Labels: client-compat, kind/tech-debt, area/tests

#3110 r/consensus: do not move flushed offset backward
  src/v/raft/consensus.cc
Labels: area/redpanda

#3116 tests: fix compacted verifier
  tests/rptest/clients/compacted_verifier.py
Labels: kind/bug, area/tests

#3117 r/consensus: use oplock when stepping down
  src/v/raft/consensus.cc
Labels: area/redpanda

#3094 tests/services/redpanda: fix registered()
  src/v/cluster/metadata_cache.cc
  tests/rptest/services/redpanda.py
Labels: kind/bug, area/redpanda, area/tests
