Repository redpanda-data/redpanda, pull requests merged in 2021-07, with the labels that each got.

#1716 docs: Rewrite performance tuning to indicate autotune
  docs/www/autotune.md
Labels: area/docs

#1635 schema_registry: Introduce avro compatibilty and delete subject and version
  cmake/oss.cmake.in
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/api/api-doc/schema_registry_definitions.def.json
  src/v/pandaproxy/api/api-doc/schema_registry_header.json
  src/v/pandaproxy/error.cc
  src/v/pandaproxy/error.h
  src/v/pandaproxy/json/types.h
  src/v/pandaproxy/parsing/from_chars.h
  src/v/pandaproxy/reply.h
  src/v/pandaproxy/schema_registry/CMakeLists.txt
  src/v/pandaproxy/schema_registry/avro.cc
  src/v/pandaproxy/schema_registry/avro.h
  src/v/pandaproxy/schema_registry/error.cc
  src/v/pandaproxy/schema_registry/error.h
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/handlers.h
  src/v/pandaproxy/schema_registry/requests/compatibility.h
  src/v/pandaproxy/schema_registry/requests/get_subject_versions_version.h
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/storage.h
  src/v/pandaproxy/schema_registry/store.cc
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/CMakeLists.txt
  src/v/pandaproxy/schema_registry/test/compatibility_avro.cc
  src/v/pandaproxy/schema_registry/test/consume_to_store.cc
  src/v/pandaproxy/schema_registry/test/storage.cc
  src/v/pandaproxy/schema_registry/test/store.cc
  src/v/pandaproxy/schema_registry/types.h
  tests/rptest/tests/schema_registry_test.py
Labels: area/build, area/proxy, area/redpanda, kind/enhance

#1654 Nodes decommissioning impl
  src/v/cluster/CMakeLists.txt
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/fwd.h
  src/v/cluster/members_backend.cc
  src/v/cluster/members_backend.h
  src/v/cluster/members_manager.cc
  src/v/cluster/members_manager.h
  src/v/cluster/members_table.cc
  src/v/cluster/members_table.h
  src/v/cluster/metadata_dissemination_service.cc
  src/v/cluster/partition_allocator.cc
  src/v/cluster/partition_allocator.h
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/cluster_test_fixture.h
  src/v/cluster/tests/decommissioning_tests.cc
  src/v/cluster/tests/partition_allocator_tests.cc
  src/v/cluster/topic_table.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/raft/append_entries_buffer.cc
  src/v/raft/consensus.cc
  src/v/redpanda/tests/fixture.h
  tests/rptest/services/admin.py
  tests/rptest/tests/nodes_decommissioning_test.py
Labels: area/redpanda

#1744 js/fix: bump glob-parent version in package-lock
  src/js/package-lock.json
Labels: area/wasm

#1695 Throttling recovery of Raft learners
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/group_manager.cc
  src/v/raft/group_manager.h
  src/v/raft/kvelldb/kvserver.cc
  src/v/raft/recovery_stm.cc
  src/v/raft/recovery_stm.h
  src/v/raft/tests/mux_state_machine_fixture.h
  src/v/raft/tests/raft_group_fixture.h
  src/v/raft/tron/server.cc
  src/v/raft/types.h
  src/v/redpanda/application.cc
  src/v/resource_mgmt/cpu_scheduling.h
  src/v/resource_mgmt/io_priority.h
Labels: area/redpanda

#1751 docs: fix typos in comments
  src/v/raft/configuration_manager.h
  src/v/raft/event_manager.cc
Labels: area/redpanda

#1189 security: make the scram regex non greedy
  src/v/security/scram_algorithm.cc
Labels: area/redpanda

#1756 Set unique kind cluster name for e2e tests
  src/go/k8s/Makefile
Labels: area/k8s

#1759 remove cloud code from redpanda repo
  src/go/rpk/pkg/cli/cmd/cloud.go
  src/go/rpk/pkg/cli/cmd/cloud/clusters.go
  src/go/rpk/pkg/cli/cmd/cloud/clusters_test.go
  src/go/rpk/pkg/cli/cmd/cloud/get.go
  src/go/rpk/pkg/cli/cmd/cloud/login.go
  src/go/rpk/pkg/cli/cmd/cloud/logout.go
  src/go/rpk/pkg/cli/cmd/cloud/logout_test.go
  src/go/rpk/pkg/cli/cmd/cloud/namespaces.go
  src/go/rpk/pkg/cli/cmd/cloud/namespaces_test.go
  src/go/rpk/pkg/cli/cmd/root.go
  src/go/rpk/pkg/vcloud/auth0.go
  src/go/rpk/pkg/vcloud/auth0_test.go
  src/go/rpk/pkg/vcloud/config/config.go
  src/go/rpk/pkg/vcloud/config/config_test.go
  src/go/rpk/pkg/vcloud/login.go
  src/go/rpk/pkg/vcloud/login_test.go
  src/go/rpk/pkg/vcloud/ui/tables.go
  src/go/rpk/pkg/vcloud/yak/api.go
  src/go/rpk/pkg/vcloud/yak/client.go
Labels: area/rpk

#1758 rpk plugin support: minor touchups
  src/go/rpk/pkg/cli/cmd/root.go
Labels: area/rpk

#1625 use main.js instead of wasm.js
  docs/www/guide-wasm-elastic.md
  src/go/rpk/pkg/cli/cmd/wasm/generate.go
  src/go/rpk/pkg/cli/cmd/wasm/generate_test.go
Labels: area/docs, area/rpk

#1710 archival: Throttling mitigation
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/archival/service.cc
  src/v/archival/service.h
  src/v/archival/tests/service_fixture.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

#1762 Fix updating committed index on leader
  src/v/raft/consensus.cc
Labels: area/redpanda

#1757 r/consensus: fixed updating follower `is_learner` flag
  src/v/raft/follower_stats.cc
  src/v/raft/types.h
Labels: area/redpanda

#1780 rpk start: Fix parsing of additional flags
  src/go/rpk/pkg/cli/cmd/redpanda/start.go
  src/go/rpk/pkg/cli/cmd/redpanda/start_test.go
Labels: area/rpk

#1774 raft: bandwidth based recovery throttling
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/group_manager.cc
  src/v/raft/group_manager.h
  src/v/raft/kvelldb/kvserver.cc
  src/v/raft/recovery_stm.cc
  src/v/raft/recovery_stm.h
  src/v/raft/recovery_throttle.h
  src/v/raft/tests/mux_state_machine_fixture.h
  src/v/raft/tests/raft_group_fixture.h
  src/v/raft/tests/state_removal_test.cc
  src/v/raft/tron/server.cc
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
Labels: area/redpanda

#1718 Docs to Dev
  docs/www/autotune.md
  docs/www/configuration.md
  docs/www/data-archiving.md
  docs/www/guide-nodejs.md
  docs/www/kubernetes-connectivity.md
  docs/www/kubernetes-external-connect.md
  docs/www/production-deployment.md
  docs/www/quick-start-docker-CN.md
  docs/www/quick-start-docker.md
  docs/www/quick-start-kubernetes.md
  docs/www/support.md
Labels: area/docs

#1775 Enable Schema Registry by default
  conf/redpanda.yaml
  docs/www/configuration.md
  docs/www/rpk-commands.md
  src/go/k8s/pkg/resources/configmap.go
  src/go/rpk/pkg/cli/cmd/container/common/common.go
  src/go/rpk/pkg/cli/cmd/container/start.go
  src/go/rpk/pkg/cli/cmd/redpanda/start.go
  src/go/rpk/pkg/config/config.go
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/schema.go
Labels: area/docs, area/k8s, area/rpk

#1785 k8s: configure kuttl test to generate junit report
  src/go/k8s/kuttl-helm-test.yaml
  src/go/k8s/kuttl-test.yaml
Labels: area/k8s

#1784 archival: Fix leadership trasfer upload bug
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/tests/ntp_archiver_test.cc
Labels: area/redpanda

#1792 wasm/js: fix test
  src/js/test/rpc/server.test.ts
  src/js/test/utilities/Logging.test.ts
Labels: area/wasm

#1790 operator: Make configurator image configurable
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/controllers/redpanda/cluster_controller_test.go
  src/go/k8s/controllers/redpanda/suite_test.go
  src/go/k8s/helm-chart/charts/redpanda-operator/README.md
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/deployment.yaml
  src/go/k8s/helm-chart/charts/redpanda-operator/values.yaml
  src/go/k8s/main.go
  src/go/k8s/pkg/resources/resource_integration_test.go
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/pkg/resources/statefulset_test.go
Labels: area/k8s

#1803 storage: fix zstd oom when memory is fragemented
  src/v/compression/stream_zstd.cc
  src/v/compression/stream_zstd.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/application.cc
Labels: area/redpanda

#1806 Fix auto-version for K8s CN
  docs/www/quick-start-kubernetes-CN.md
Labels: area/docs

#1767 Edit of arbitrary config article
  docs/www/arbitrary-configuration.md
  docs/www/cr-additional-config.md
Labels: area/docs

#1804 Allow configuring K8s cluster domain
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/helm-chart/charts/redpanda-operator/README.md
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/certificate.yaml
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/deployment.yaml
  src/go/k8s/helm-chart/charts/redpanda-operator/values.yaml
  src/go/k8s/main.go
  src/go/k8s/pkg/resources/headless_service.go
  src/go/k8s/pkg/resources/resource_integration_test.go
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/tests/e2e/external-connectivity/00-assert.yaml
  src/go/k8s/tests/e2e/produce-consume/00-assert.yaml
Labels: area/k8s

#1529 rpk config: Support different TLS configurations for the Kafka API & the Admin API
  docs/www/configuration.md
  src/go/rpk/pkg/cli/cmd/acl.go
  src/go/rpk/pkg/cli/cmd/acl/user.go
  src/go/rpk/pkg/cli/cmd/cluster.go
  src/go/rpk/pkg/cli/cmd/common/common.go
  src/go/rpk/pkg/cli/cmd/common/common_test.go
  src/go/rpk/pkg/cli/cmd/debug/info.go
  src/go/rpk/pkg/cli/cmd/topic.go
  src/go/rpk/pkg/cli/cmd/wasm.go
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/schema.go
  src/go/rpk/pkg/kafka/client.go
  src/go/rpk/pkg/kafka/client_test.go
  src/go/rpk/pkg/tls/tls.go
Labels: area/docs, area/rpk

#1788 Fix retention policy for relaxed consistency
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/log_eviction_stm.cc
  tests/rptest/services/storage.py
  tests/rptest/tests/retention_policy_test.py
Labels: area/redpanda

#1809 docs/rpk commands: Use icons to make the commands' availability clearer
  docs/www/rpk-commands.md
Labels: area/docs

#1749 Partition allocator rework - constraint solver
  src/v/cluster/CMakeLists.txt
  src/v/cluster/controller.cc
  src/v/cluster/errc.h
  src/v/cluster/members_backend.cc
  src/v/cluster/members_backend.h
  src/v/cluster/members_manager.cc
  src/v/cluster/partition_allocator.cc
  src/v/cluster/partition_allocator.h
  src/v/cluster/scheduling/allocation_node.cc
  src/v/cluster/scheduling/allocation_node.h
  src/v/cluster/scheduling/allocation_state.cc
  src/v/cluster/scheduling/allocation_state.h
  src/v/cluster/scheduling/allocation_strategy.cc
  src/v/cluster/scheduling/allocation_strategy.h
  src/v/cluster/scheduling/constraints.cc
  src/v/cluster/scheduling/constraints.h
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/cluster/scheduling/partition_allocator.h
  src/v/cluster/scheduling/types.cc
  src/v/cluster/scheduling/types.h
  src/v/cluster/security_frontend.cc
  src/v/cluster/tests/allocation_bench.cc
  src/v/cluster/tests/commands_serialization_test.cc
  src/v/cluster/tests/partition_allocator_fixture.h
  src/v/cluster/tests/partition_allocator_tester.h
  src/v/cluster/tests/partition_allocator_tests.cc
  src/v/cluster/tests/topic_table_fixture.h
  src/v/cluster/tests/topic_updates_dispatcher_test.cc
  src/v/cluster/topic_table.h
  src/v/cluster/topic_updates_dispatcher.cc
  src/v/cluster/topic_updates_dispatcher.h
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
  src/v/model/metadata.h
  src/v/utils/named_type.h
Labels: area/redpanda

#1816 Fix archival CI failure
  src/v/archival/tests/ntp_archiver_test.cc
Labels: area/redpanda

#1820 Fix icon alt in rpk
  docs/www/rpk-commands.md
Labels: area/docs

#1822 rpk/config: Don't clear config objects in rpk's configuration
  src/go/rpk/pkg/config/config.go
  src/go/rpk/pkg/config/config_test.go
Labels: area/rpk

#1823 Updated config parameters to the correct config name
  docs/www/data-archiving.md
Labels: area/docs

#1826 Fixed moving committed offset backward
  src/v/storage/segment.cc
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

#1801 archival: Use high watermark instead of committed offset of the segment
  src/v/archival/archival_policy.cc
  src/v/archival/archival_policy.h
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/archival/service.cc
  src/v/archival/service.h
  src/v/archival/tests/ntp_archiver_test.cc
Labels: area/redpanda

#1817 Automatic partition re-balancing
  src/v/cluster/cluster_utils.cc
  src/v/cluster/cluster_utils.h
  src/v/cluster/commands.h
  src/v/cluster/controller.cc
  src/v/cluster/controller.json
  src/v/cluster/members_backend.cc
  src/v/cluster/members_backend.h
  src/v/cluster/members_frontend.cc
  src/v/cluster/members_frontend.h
  src/v/cluster/members_manager.cc
  src/v/cluster/members_manager.h
  src/v/cluster/metadata_dissemination_service.cc
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/cluster/scheduling/partition_allocator.h
  src/v/cluster/service.cc
  src/v/cluster/service.h
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/decommissioning_tests.cc
  src/v/cluster/tests/rebalancing_tests_fixture.h
  src/v/cluster/tests/replicas_rebalancing_tests.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/cluster/types.h
Labels: area/redpanda

#1838 Updating config after join
  src/v/cluster/cluster_utils.cc
  src/v/cluster/members_manager.cc
  tests/rptest/tests/configuration_update_test.py
Labels: area/redpanda

#1841 rpk: Get redpanda.kafka_api if rpk.kafka_api.brokers is empty
  src/go/rpk/pkg/cli/cmd/common/common.go
  src/go/rpk/pkg/cli/cmd/common/common_test.go
Labels: area/rpk

#1842 kafka: ignore admin api when tracking request latency
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/connection_context.h
  src/v/kafka/server/request_context.h
  src/v/kafka/server/requests.cc
Labels: area/redpanda

#1850 rpk: Get the SASL settings from the config file
  src/go/rpk/pkg/cli/cmd/acl.go
  src/go/rpk/pkg/cli/cmd/cluster.go
  src/go/rpk/pkg/cli/cmd/common/common.go
  src/go/rpk/pkg/cli/cmd/common/common_test.go
  src/go/rpk/pkg/cli/cmd/topic.go
  src/go/rpk/pkg/cli/cmd/wasm.go
Labels: area/rpk

#1703 archival: Extend cloud storage and retry_chain_node api
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/service.cc
  src/v/archival/service.h
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/cloud_storage/tests/remote_test.cc
  src/v/s3/client.cc
  src/v/s3/client.h
  src/v/utils/retry_chain_node.cc
  src/v/utils/retry_chain_node.h
  src/v/utils/tests/retry_chain_node_test.cc
Labels: area/redpanda

#1856 kafka/client: Retry create_consumer on failure
  src/v/kafka/client/broker.cc
  src/v/kafka/client/client.cc
Labels: area/redpanda

#1871 raft: workaround for raft recovery bug
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/raft/configuration_bootstrap_state.h
  src/v/raft/configuration_manager.cc
  src/v/raft/consensus.cc
Labels: area/redpanda

#1843 rpk: Use net.JoinHostPort to support IPv6
  src/go/rpk/pkg/cli/cmd/common/common.go
  src/go/rpk/pkg/cli/cmd/container/common/common.go
  src/go/rpk/pkg/cli/cmd/container/start.go
  src/go/rpk/pkg/cli/cmd/debug/info.go
  src/go/rpk/pkg/cli/cmd/generate/prometheus.go
  src/go/rpk/pkg/config/manager.go
Labels: area/rpk

#1876 cluster: add config option to disable auto partition rebalance
  src/v/cluster/members_backend.cc
  src/v/cluster/members_backend.h
  src/v/cluster/tests/partition_allocator_fixture.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  tests/rptest/services/templates/redpanda.yaml
Labels: area/redpanda

#1845 Metadata only consume flag for rpk
  src/go/rpk/pkg/cli/cmd/topic/consume.go
  src/go/rpk/pkg/cli/cmd/topic/consume_test.go
Labels: area/rpk

#1890 Update go client to franz-go
  docs/www/faq.md
Labels: area/docs

#1844 Use lazy-loading of rm_stm's snapshot to avoid resource leak
  src/v/cluster/persisted_stm.cc
  src/v/cluster/persisted_stm.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/coproc/offset_storage_utils.cc
  src/v/coproc/offset_storage_utils.h
  src/v/coproc/pacemaker.h
  src/v/coproc/tests/offset_storage_utils_tests.cc
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/consensus_utils.cc
  src/v/raft/consensus_utils.h
  src/v/storage/fwd.h
  src/v/storage/kvstore.cc
  src/v/storage/kvstore.h
  src/v/storage/snapshot.cc
  src/v/storage/snapshot.h
  src/v/storage/tests/snapshot_test.cc
Labels: area/redpanda

#1898 cluster/tests:remove cyclical dep of kafka
  src/v/cluster/tests/partition_allocator_fixture.h
Labels: area/redpanda

#1905 rpk: Don't use seed_servers addresses to connect to the Kafka API
  src/go/rpk/pkg/cli/cmd/common/common.go
  src/go/rpk/pkg/cli/cmd/common/common_test.go
Labels: area/rpk

#1911 rpk generate grafana: Fix compat with Grafana 8.x
  src/go/rpk/pkg/cli/cmd/generate/grafana.go
  src/go/rpk/pkg/cli/cmd/generate/grafana_test.go
Labels: area/rpk

#1912 operator: Add default topic replication
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook_test.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
Labels: area/k8s

#1866 Schema registry high availability
  docs/www/configuration.md
  src/go/rpk/pkg/config/schema.go
  src/v/config/configuration.h
  src/v/pandaproxy/error.cc
  src/v/pandaproxy/error.h
  src/v/pandaproxy/schema_registry/CMakeLists.txt
  src/v/pandaproxy/schema_registry/README.md
  src/v/pandaproxy/schema_registry/configuration.cc
  src/v/pandaproxy/schema_registry/configuration.h
  src/v/pandaproxy/schema_registry/error.cc
  src/v/pandaproxy/schema_registry/error.h
  src/v/pandaproxy/schema_registry/errors.h
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/requests/get_subject_versions_version.h
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/seq_writer.h
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/service.h
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/storage.h
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/compatibility_store.cc
  src/v/pandaproxy/schema_registry/test/consume_to_store.cc
  src/v/pandaproxy/schema_registry/test/storage.cc
  src/v/pandaproxy/schema_registry/test/store.cc
  src/v/pandaproxy/schema_registry/types.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/redpanda/tests/fixture.h
  tests/rptest/tests/schema_registry_test.py
  tests/rptest/tests/schema_registry_test_helper.py
Labels: area/docs, area/redpanda, area/rpk, area/schema_registry

#1917 schema_registry: check compat on insert && other bug fixes
  cmake/oss.cmake.in
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/error.cc
  src/v/pandaproxy/error.h
  src/v/pandaproxy/schema_registry/avro.cc
  src/v/pandaproxy/schema_registry/error.cc
  src/v/pandaproxy/schema_registry/error.h
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/handlers.h
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/compatibility_avro.cc
  src/v/pandaproxy/schema_registry/test/compatibility_avro.h
  src/v/pandaproxy/schema_registry/test/consume_to_store.cc
  src/v/pandaproxy/schema_registry/test/store.cc
  src/v/pandaproxy/schema_registry/types.h
  tests/rptest/tests/schema_registry_test.py
Labels: area/build, area/redpanda

#1893 Enable Schema registry configuration in Redpanda operator
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook_test.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/controllers/redpanda/cluster_controller_test.go
  src/go/k8s/controllers/redpanda/suite_test.go
  src/go/k8s/pkg/resources/certmanager/admin_api.go
  src/go/k8s/pkg/resources/certmanager/certificate.go
  src/go/k8s/pkg/resources/certmanager/kafka_api.go
  src/go/k8s/pkg/resources/certmanager/pandaproxy_api.go
  src/go/k8s/pkg/resources/certmanager/pki.go
  src/go/k8s/pkg/resources/certmanager/schemaregistry_api.go
  src/go/k8s/pkg/resources/cluster_service.go
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/pkg/resources/resource.go
  src/go/k8s/pkg/resources/resource_integration_test.go
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/pkg/resources/statefulset_test.go
  src/go/k8s/pkg/resources/statefulset_update.go
  src/go/k8s/pkg/resources/superusers.go
  src/go/k8s/tests/e2e/redpanda-schema-registry/00-assert.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/01-assert.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/01-create-schema.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/02-assert.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/02-retrieve-schema.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/03-assert.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/03-delete-schema.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/04-add-node-tls.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/04-assert.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/05-assert.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/05-create-schema-with-tls.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/06-assert.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/06-retrieve-schema-with-tls.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/07-assert.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/07-delete-schema-with-tls.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/08-add-client-tls.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/08-assert.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/09-assert.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/09-create-schema-with-client-tls.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/10-assert.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/10-retrieve-schema.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/11-assert.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/11-delete-schema.yaml
Labels: area/k8s

#1824 Rpk: Use the Admin API addresses provided in the config file
  src/go/rpk/pkg/cli/cmd/acl.go
  src/go/rpk/pkg/cli/cmd/acl/user.go
  src/go/rpk/pkg/cli/cmd/common/common.go
  src/go/rpk/pkg/cli/cmd/common/common_test.go
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/schema.go
Labels: area/rpk

#1925 Controller backend logging
  src/v/cluster/controller_backend.cc
  src/v/cluster/errc.h
Labels: area/redpanda

#1927 c/members_manager: using table to check if broker is cluster member
  src/v/cluster/members_manager.cc
  src/v/cluster/members_manager.h
Labels: area/redpanda

#1891 Explicit metrics for produce and fetch request latency
  src/v/kafka/latency_probe.h
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/fetch.h
  src/v/kafka/server/handlers/produce.cc
  src/v/kafka/server/protocol.cc
  src/v/kafka/server/protocol.h
  src/v/kafka/server/request_context.h
  src/v/kafka/server/requests.cc
  src/v/utils/hdr_hist.h
Labels: area/redpanda

#1879 Add executor for v8
  src/v/v8_engine/CMakeLists.txt
  src/v/v8_engine/executor.cc
  src/v/v8_engine/executor.h
  src/v/v8_engine/script.cc
  src/v/v8_engine/script.h
  src/v/v8_engine/tests/CMakeLists.txt
  src/v/v8_engine/tests/executor_test.cc
  src/v/v8_engine/tests/script_test.cc
  src/v/v8_engine/tests/scripts/compile_timeout.js
  src/v/v8_engine/tests/scripts/run_timeout.js
Labels: area/redpanda

#1933 redpanda/admin: /v1/brokers should return membership_status
  src/v/redpanda/admin_server.cc
Labels: area/redpanda
