Repository redpanda-data/redpanda, pull requests merged in 2021-01, with the labels that each got.

#360 rpk/start: Fix default ports for rpc & kafka addrs
  src/go/rpk/pkg/cli/cmd/start.go
  src/go/rpk/pkg/cli/cmd/start_test.go
Labels: area/rpk

#355 rpk/start: Exit w/ error if there are conflicting flags
  src/go/rpk/pkg/cli/cmd/start.go
  src/go/rpk/pkg/cli/cmd/start_test.go
Labels: area/rpk

#422 coproc: New testing utilities, and additional unit tests
  src/v/config/configuration.cc
  src/v/coproc/CMakeLists.txt
  src/v/coproc/ntp_context.h
  src/v/coproc/tests/CMakeLists.txt
  src/v/coproc/tests/coproc_test_fixture.cc
  src/v/coproc/tests/read_materialized_topic_test.cc
  src/v/coproc/tests/router_test.cc
  src/v/coproc/tests/router_test_fixture.cc
  src/v/coproc/tests/router_test_fixture.h
  src/v/coproc/tests/script_manager_service_test.cc
  src/v/coproc/tests/two_way_split_copro.h
  src/v/coproc/tests/utils.cc
  src/v/coproc/tests/utils.h
  src/v/coproc/tests/utils/coproc_test_fixture.cc
  src/v/coproc/tests/utils/coproc_test_fixture.h
  src/v/coproc/tests/utils/coprocessor.h
  src/v/coproc/tests/utils/helpers.cc
  src/v/coproc/tests/utils/helpers.h
  src/v/coproc/tests/utils/router_test_fixture.cc
  src/v/coproc/tests/utils/router_test_fixture.h
  src/v/coproc/tests/utils/supervisor.cc
  src/v/coproc/tests/utils/supervisor.h
  src/v/coproc/tests/utils/supervisor_test_fixture.h
  src/v/model/record.h
  src/v/model/record_batch_reader.cc
  src/v/model/record_batch_reader.h
  src/v/model/tests/record_batch_reader_test.cc
  src/v/rpc/test/rpc_integration_fixture.h
  src/v/storage/directories.h
  src/v/storage/tests/utils/disk_log_builder.h
  src/v/storage/tests/utils/random_batch.cc
  src/v/storage/tests/utils/random_batch.h
Labels: area/storage

#539 coproc: Fix for crash when wasm engine sends two successive deregisters
  src/v/coproc/pacemaker.cc
  src/v/coproc/pacemaker.h
  src/v/coproc/tests/script_manager_service_test.cc
Labels: area/storage, kind/bug
