Repository redpanda-data/redpanda, pull requests merged in 2021-04, with the labels that each got.

#986 Pandaproxy ducktape tests part3
  src/v/pandaproxy/error.cc
  src/v/pandaproxy/error.h
  src/v/pandaproxy/handlers.cc
  src/v/pandaproxy/json/types.h
  src/v/pandaproxy/parsing/error.cc
  src/v/pandaproxy/parsing/error.h
  src/v/pandaproxy/parsing/exceptions.h
  src/v/pandaproxy/parsing/httpd.h
  src/v/pandaproxy/parsing/test/CMakeLists.txt
  src/v/pandaproxy/parsing/test/httpd.cc
  src/v/pandaproxy/reply.h
  src/v/pandaproxy/server.cc
  src/v/pandaproxy/server.h
  src/v/pandaproxy/test/consumer_group.cc
  src/v/pandaproxy/test/fetch.cc
  src/v/pandaproxy/test/list_topics.cc
  src/v/pandaproxy/test/produce.cc
  src/v/pandaproxy/test/utils.h
  tests/rptest/test_suite_quick.yml
  tests/rptest/tests/pandaproxy_test.py
Labels: area/redpanda

#1026 3rdparty: Update seastar to 58274b
  cmake/oss.cmake.in
Labels: area/build

#1020 rpk/topic/create: Rename --config to --cfg to fix conflict
  docs/www/rpk-commands.md
  src/go/rpk/pkg/cli/cmd/topic/create.go
  src/go/rpk/pkg/cli/cmd/topic_test.go
Labels: area/docs, area/rpk

#1028 operator/tls: add separate root cert for admin api
  src/go/k8s/config/samples/redpanda_v1alpha1_with_tls.yaml
  src/go/k8s/pkg/resources/certmanager/admin_api.go
  src/go/k8s/pkg/resources/certmanager/kafka_api.go
  src/go/k8s/pkg/resources/certmanager/pki.go
  src/go/k8s/tests/e2e/admin-api-tls-client-auth/00-assert.yaml
  src/go/k8s/tests/e2e/admin-api-tls/00-assert.yaml
  src/go/k8s/tests/e2e/create-topic-with-client-auth/00-assert.yaml
  src/go/k8s/tests/e2e/produce-tls/00-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/00-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls/00-assert.yaml
Labels: area/k8s

#1021 operator/admin: add external Admin API port
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/controllers/redpanda/cluster_controller_test.go
  src/go/k8s/pkg/resources/headless_service.go
  src/go/k8s/pkg/resources/node_port_service.go
  src/go/k8s/pkg/resources/resource.go
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/tests/e2e/external-connectivity/00-assert.yaml
  src/go/k8s/tests/e2e/external-connectivity/00-external-connectivity.yaml
  src/go/k8s/tests/e2e/produce-consume/00-assert.yaml
Labels: area/k8s

#1032 operator: add additional log collectors for flaky test
  src/go/k8s/tests/e2e/update-image/00-assert.yaml
Labels: area/k8s

#765 rpk/config/manager: Unexport ReadOrGenerate
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/manager.go
Labels: area/rpk

#1034 operator: set kind to have better logs
  src/go/k8s/pkg/resources/cluster_role.go
  src/go/k8s/pkg/resources/cluster_role_binding.go
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/pkg/resources/headless_service.go
  src/go/k8s/pkg/resources/node_port_service.go
  src/go/k8s/pkg/resources/resource.go
  src/go/k8s/pkg/resources/service_account.go
  src/go/k8s/pkg/resources/statefulset.go
Labels: area/k8s

#1010 Config apis ACLs
  src/v/kafka/server/handlers/alter_configs.cc
  src/v/kafka/server/handlers/configs/config_utils.h
  src/v/kafka/server/handlers/describe_configs.cc
  src/v/kafka/server/handlers/incremental_alter_configs.cc
Labels: area/redpanda

#1038 archival: Enable archival storage in production mode
  src/v/redpanda/application.cc
Labels: area/redpanda

#1036 kafka: implement kafka acl creation and description apis
  src/v/cluster/commands.h
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/controller.json
  src/v/cluster/security_frontend.cc
  src/v/cluster/security_frontend.h
  src/v/cluster/security_manager.cc
  src/v/cluster/security_manager.h
  src/v/cluster/service.cc
  src/v/cluster/service.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/kafka/protocol/tests/CMakeLists.txt
  src/v/kafka/protocol/tests/security_test.cc
  src/v/kafka/server/handlers/create_acls.cc
  src/v/kafka/server/handlers/describe_acls.cc
  src/v/kafka/server/handlers/details/security.h
  src/v/kafka/server/protocol.cc
  src/v/kafka/server/protocol.h
  src/v/kafka/server/request_context.h
  src/v/model/record_batch_types.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/redpanda/tests/fixture.h
  src/v/security/acl.h
  src/v/security/authorizer.h
Labels: area/redpanda

#1039 cmake/oss: updated seastar version
  cmake/oss.cmake.in
Labels: area/build

#1031 Metadata API authorization
  src/v/kafka/server/handlers/details/security.h
  src/v/kafka/server/handlers/metadata.cc
  tests/rptest/tests/scram_test.py
Labels: area/redpanda

#852 rpk: Remove deprecated api command
  src/go/rpk/pkg/cli/cmd/api.go
  src/go/rpk/pkg/cli/cmd/api/consume.go
  src/go/rpk/pkg/cli/cmd/api/produce.go
  src/go/rpk/pkg/cli/cmd/api/status.go
  src/go/rpk/pkg/cli/cmd/api/topic.go
  src/go/rpk/pkg/cli/cmd/api/utils.go
  src/go/rpk/pkg/cli/cmd/root.go
  src/go/rpk/pkg/cli/cmd/topic/produce_test.go
Labels: area/rpk

#1042 Enable Pandaproxy by default
  conf/redpanda.yaml
  src/v/redpanda/application.cc
Labels: area/redpanda

#1051 operator/readme: fix url to sample cluster spec
  src/go/k8s/README.md
Labels: area/k8s

#1048 operator/svc: fix order of ports
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/pkg/resources/headless_service.go
  src/go/k8s/pkg/resources/node_port_service.go
  src/go/k8s/pkg/resources/resource.go
  src/go/k8s/tests/e2e/external-connectivity/00-assert.yaml
  src/go/k8s/tests/e2e/produce-consume/00-assert.yaml
Labels: area/k8s

#1044 operator/tests: reduce parallelism
  src/go/k8s/kuttl-test.yaml
Labels: area/k8s

#957 Use ssx sformat
  src/v/archival/manifest.cc
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/cluster/tests/cluster_test_fixture.h
  src/v/cluster/tests/partition_allocator_tester.h
  src/v/cluster/types.h
  src/v/coproc/tests/offset_storage_utils_tests.cc
  src/v/coproc/tests/router_test.cc
  src/v/coproc/tests/utils/coprocessor.h
  src/v/kafka/client/test/fixture.h
  src/v/kafka/server/group.cc
  src/v/kafka/server/handlers/describe_configs.cc
  src/v/kafka/server/handlers/sasl_authenticate.cc
  src/v/model/fundamental.h
  src/v/model/model.cc
  src/v/model/tests/materialized_type_test.cc
  src/v/pandaproxy/handlers.cc
  src/v/raft/kvelldb/kvserver.cc
  src/v/raft/tests/append_entries_test.cc
  src/v/raft/tests/mutex_buffer_test.cc
  src/v/raft/tests/raft_group_fixture.h
  src/v/raft/tron/server.cc
  src/v/raft/tron/service.h
  src/v/redpanda/tests/fixture.h
  src/v/rpc/probes.cc
  src/v/rpc/server.cc
  src/v/rpc/service.h
  src/v/rpc/test/rpc_integration_fixture.h
  src/v/s3/client.cc
  src/v/s3/signature.cc
  src/v/security/scram_algorithm.cc
  src/v/security/scram_algorithm.h
  src/v/security/tests/scram_algorithm_test.cc
  src/v/ssx/sformat.h
  src/v/storage/ntp_config.h
  src/v/storage/opfuzz/opfuzz_test.cc
  src/v/storage/tests/disk_log_builder_test.cc
  src/v/storage/tests/kvstore_test.cc
  src/v/storage/tests/log_manager_test.cc
  src/v/storage/tests/storage_e2e_test.cc
  src/v/storage/tests/utils/disk_log_builder.h
  src/v/syschecks/syschecks.cc
  src/v/syschecks/syschecks.h
  src/v/utils/file_sanitizer.h
Labels: area/redpanda

#1053 redpanda: add configuration option to register superusers
  src/v/cluster/controller.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/security/authorizer.h
Labels: area/redpanda

#1037 security: add http admin api for listing users
  src/v/redpanda/admin/api-doc/security.json
  src/v/redpanda/application.cc
  src/v/security/credential_store.h
  tests/rptest/tests/scram_test.py
Labels: area/redpanda

#1059 hashing: add murmur2 needed for the kafka client
  src/v/hashing/murmur.cc
  src/v/hashing/murmur.h
Labels: area/redpanda

#1058 Probes
  src/v/finjector/hbadger.cc
  src/v/finjector/hbadger.h
  src/v/storage/failure_probes.h
  taskfiles/lint.yml
  tools/rpcgen.py
Labels: area/redpanda

#1062 operator: more memory as default for operator
  src/go/k8s/config/manager/manager.yaml
Labels: area/k8s

#1056 kafka/client: Improve gate handling
  src/v/kafka/client/broker.h
  src/v/kafka/client/client.cc
  src/v/kafka/client/client.h
  src/v/kafka/client/consumer.cc
  src/v/kafka/client/consumer.h
  src/v/pandaproxy/server.cc
Labels: area/redpanda

#960 Merge docs changes into dev
  docs/www/data-archiving.md
  docs/www/intro-to-events.md
  docs/www/quick-start-docker.md
Labels: area/docs

#1063 kafka: fix delete topics api regression
  src/v/kafka/server/handlers/delete_topics.cc
Labels: area/redpanda

#900 Test with fewer binaries
  src/v/archival/tests/CMakeLists.txt
  src/v/bytes/tests/CMakeLists.txt
  src/v/cluster/tests/CMakeLists.txt
  src/v/config/tests/CMakeLists.txt
  src/v/http/tests/CMakeLists.txt
  src/v/json/tests/CMakeLists.txt
  src/v/random/CMakeLists.txt
  src/v/reflection/test/CMakeLists.txt
  src/v/s3/tests/CMakeLists.txt
  src/v/storage/tests/CMakeLists.txt
  src/v/storage/tests/storage_test_fixture.h
  src/v/utils/tests/CMakeLists.txt
  src/v/utils/tests/base64_test.cc
  src/v/utils/tests/named_type_tests.cc
  src/v/utils/tests/string_switch_test.cc
  src/v/utils/tests/tristate_test.cc
Labels: area/redpanda

#1066 rpk: Enable pandaproxy by default
  docs/www/configuration.md
  src/go/rpk/pkg/config/config.go
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/schema.go
  src/v/pandaproxy/configuration.cc
Labels: area/docs, area/redpanda, area/rpk

#1069 kafka: implement acl deletion
  src/v/cluster/commands.h
  src/v/cluster/controller.cc
  src/v/cluster/controller.json
  src/v/cluster/security_frontend.cc
  src/v/cluster/security_frontend.h
  src/v/cluster/security_manager.cc
  src/v/cluster/security_manager.h
  src/v/cluster/service.cc
  src/v/cluster/service.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/kafka/server/handlers/delete_acls.cc
  src/v/kafka/server/handlers/details/security.h
  src/v/security/acl.h
  src/v/security/acl_store.cc
  src/v/security/acl_store.h
  src/v/security/authorizer.h
Labels: area/redpanda

#1070 docs: Update intro to events title
  docs/www/intro-to-events.md
Labels: area/docs

#1054 rpk/config: add superuser in config schema
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/schema.go
Labels: area/rpk

#1073 operator: pass superuser to redpanda
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/pkg/resources/configmap.go
  src/go/rpk/pkg/config/config_test.go
Labels: area/k8s, area/rpk

#1074 rpk/config: add enable_sasl
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/schema.go
Labels: area/rpk

#1075 operator: add SASL bool to cluster CR, pass to redpanda
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/pkg/resources/configmap.go
Labels: area/k8s

#1072 Rk/feature/change advertised kafka api dns scheme
  src/go/k8s/cmd/configurator/main.go
  src/go/k8s/controllers/redpanda/cluster_controller.go
Labels: area/k8s

#1065 rpk/start: Allow passing unknown flags
  src/go/rpk/pkg/cli/cmd/redpanda/start.go
  src/go/rpk/pkg/cli/cmd/redpanda/start_test.go
Labels: area/rpk

#1079 rpk/config: Support the new TLS config structure
  docs/www/configuration.md
  src/go/rpk/pkg/config/config.go
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/manager.go
  src/go/rpk/pkg/config/schema.go
  src/go/rpk/pkg/kafka/client.go
Labels: area/docs, area/rpk

#1086 Docs: Make seed IP generic in config
  docs/www/configuration.md
Labels: area/docs

#1087 redpanda: Fix kafka server and rpc server intiialization
  src/v/redpanda/application.cc
  src/v/rpc/server.cc
  src/v/rpc/server.h
Labels: area/redpanda

#1080 pandaproxy: Consumer group validation, fixes, and tests
  src/v/kafka/client/client.cc
  src/v/kafka/client/client.h
  src/v/pandaproxy/handlers.cc
  src/v/pandaproxy/test/consumer_group.cc
  tests/rptest/test_suite_quick.yml
  tests/rptest/tests/pandaproxy_test.py
Labels: area/redpanda

#1083 operator/tls: populate Kafka TLS list
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/pkg/resources/statefulset_update.go
  src/go/k8s/tests/e2e/external-connectivity/00-assert.yaml
  src/go/k8s/tests/e2e/produce-consume/00-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/00-current-image.yaml
  src/go/k8s/tests/e2e/update-image-tls/00-current-image.yaml
  src/go/k8s/tests/e2e/update-image/00-current-image.yaml
Labels: area/k8s

#1090 test: fixes for authentication in ducktape
  src/v/kafka/server/handlers/sasl_handshake.h
  tests/rptest/clients/python_librdkafka.py
  tests/rptest/services/admin.py
  tests/rptest/services/redpanda.py
  tests/rptest/services/templates/redpanda.yaml
  tests/rptest/tests/scram_test.py
  tests/setup.py
Labels: area/redpanda

#1096 operator: Add group_topic_partitions in configuration
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/pkg/resources/configmap.go
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/schema.go
Labels: area/k8s, area/rpk

#1019 Pandaproxy multi listeners
  src/v/config/rjson_serialization.cc
  src/v/json/json.cc
  src/v/pandaproxy/configuration.cc
  src/v/pandaproxy/configuration.h
  src/v/pandaproxy/handlers.cc
  src/v/pandaproxy/proxy.cc
  src/v/pandaproxy/proxy.h
  src/v/pandaproxy/server.cc
  src/v/pandaproxy/server.h
  src/v/pandaproxy/test/consumer_group.cc
  src/v/redpanda/tests/fixture.h
Labels: area/redpanda

#1097 Simplify configurator by removing KafkaAPI port
  src/go/k8s/cmd/configurator/main.go
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/pkg/resources/node_port_service.go
  src/go/k8s/pkg/resources/statefulset.go
Labels: area/k8s

#1104 docs: Add topic config to rpk commands
  docs/www/rpk-commands.md
Labels: area/docs

#1102 Cluster join sequence improvements
  src/v/cluster/members_manager.cc
Labels: area/redpanda

#1105 operator: Add redpanda operator cluster metrics
  src/go/k8s/controllers/redpanda/metric_controller.go
  src/go/k8s/go.mod
  src/go/k8s/go.sum
  src/go/k8s/main.go
Labels: area/k8s

#1110 tests: add ducktape scaffolding for acl tests
  src/v/security/acl.h
  tests/rptest/clients/kafka_cli_tools.py
  tests/rptest/services/admin.py
  tests/rptest/tests/acls_test.py
  tests/rptest/tests/scram_test.py
Labels: area/redpanda

#1111 kafka: add authorization to describe groups and create topics api
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/handlers/describe_groups.cc
Labels: area/redpanda

#1107 rpk/kafka: Add sasl scram mechanism for authentication
  src/go/k8s/go.sum
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/schema.go
  src/go/rpk/pkg/kafka/client.go
  src/go/rpk/pkg/kafka/client_test.go
  src/go/rpk/pkg/kafka/scram_client.go
Labels: area/k8s, area/rpk

#1113 operator/metrics: fix metric names
  src/go/k8s/controllers/redpanda/metric_controller.go
Labels: area/k8s

#1119 rpk: Use local variable of range
  src/go/rpk/pkg/cli/cmd/topic/consume.go
Labels: area/rpk

#1122 operator: Remove unnecessary labels from Cluster custom resource
  src/go/k8s/config/samples/redpanda_v1alpha1_with_tls.yaml
Labels: area/k8s

#1123 k/fetch: fixed incorrect handling of empty incremental fetch requests
  src/v/kafka/protocol/fetch.h
Labels: area/redpanda

#1125 Admin API - multiple listeners and health check
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/admin/api-doc/status.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
Labels: area/redpanda

#1120 rpk/config: make pandaproxy fields lists, fix brokers field
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/schema.go
Labels: area/rpk

#976 Multi-script ducktape tests for wasm
  src/v/coproc/tests/read_materialized_topic_test.cc
  src/v/kafka/protocol/metadata.h
  src/v/kafka/server/handlers/metadata.cc
  taskfiles/dev.yml
  taskfiles/wasm.yml
  tests/docker/Dockerfile
  tests/rptest/services/redpanda.py
  tests/rptest/test_suite_quick.yml
  tests/rptest/tests/wasm_identity_test.py
  tests/rptest/wasm/background_task.py
  tests/rptest/wasm/topics_result_set.py
  tests/rptest/wasm/wasm_build_tool.py
  tests/rptest/wasm/wasm_test.py
Labels: area/redpanda

#1127 operator/rpk: set default log_segment_size in operator
  src/go/k8s/pkg/resources/configmap.go
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/schema.go
Labels: area/k8s, area/rpk

#1121 operator: Add aditional comment to Redpanda operator sample
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/config/samples/external_connectivity.yaml
Labels: area/k8s

#1131 kafka: use code generation for produce request api
  src/v/kafka/client/produce_batcher.h
  src/v/kafka/client/producer.cc
  src/v/kafka/client/test/produce.cc
  src/v/kafka/client/test/produce_batcher.cc
  src/v/kafka/client/test/produce_partition.cc
  src/v/kafka/protocol/batch_consumer.h
  src/v/kafka/protocol/produce.h
  src/v/kafka/protocol/response_writer.h
  src/v/kafka/protocol/response_writer_utils.h
  src/v/kafka/protocol/schemata/CMakeLists.txt
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/protocol/schemata/produce_request.json
  src/v/kafka/protocol/schemata/produce_response.json
  src/v/kafka/server/handlers/produce.cc
  src/v/kafka/server/tests/produce_consume_test.cc
  src/v/kafka/server/tests/request_parser_test.cc
  src/v/kafka/types.h
  src/v/pandaproxy/handlers.cc
  src/v/pandaproxy/json/requests/produce.h
  src/v/pandaproxy/json/requests/test/fetch.cc
  src/v/pandaproxy/json/requests/test/produce.cc
Labels: area/redpanda

#1126 makefile for rpk
  src/go/rpk/Makefile
Labels: area/rpk

#1138 archival: Update configuration parameter names
  docs/www/data-archiving.md
Labels: area/docs

#1129 Wasm failure mode tests
  src/v/coproc/event_listener.cc
  src/v/coproc/pacemaker.cc
  src/v/coproc/pacemaker.h
  src/v/coproc/script_dispatcher.cc
  src/v/coproc/script_dispatcher.h
  tests/rptest/test_suite_wasm.yml
  tests/rptest/tests/wasm_failure_recovery_test.py
  tests/rptest/tests/wasm_identity_test.py
  tests/rptest/tests/wasm_redpanda_failure_recovery_test.py
  tests/rptest/wasm/background_task.py
  tests/rptest/wasm/native_kafka_producer.py
  tests/rptest/wasm/topics_result_set.py
  tests/rptest/wasm/wasm_test.py
Labels: area/redpanda

#1130 rpk: add multiple admin listeners
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/tests/e2e/update-image-tls-client-auth/00-current-image.yaml
  src/go/k8s/tests/e2e/update-image-tls/00-current-image.yaml
  src/go/k8s/tests/e2e/update-image/00-current-image.yaml
  src/go/rpk/pkg/cli/cmd/container/common/common.go
  src/go/rpk/pkg/cli/cmd/generate/prometheus.go
  src/go/rpk/pkg/cli/cmd/redpanda/config.go
  src/go/rpk/pkg/cli/cmd/redpanda/config_test.go
  src/go/rpk/pkg/config/config.go
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/manager.go
  src/go/rpk/pkg/config/schema.go
Labels: area/k8s, area/rpk

#1134 operator/admin: create internal and external admin listeners
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook_test.go
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/controllers/redpanda/cluster_controller_test.go
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/pkg/resources/node_port_service.go
  src/go/k8s/tests/e2e/admin-api/00-assert.yaml
  src/go/k8s/tests/e2e/admin-api/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/admin-api/01-assert.yaml
  src/go/k8s/tests/e2e/admin-api/01-call-adminapi.yaml
Labels: area/k8s

#1124 Missing metrics
  src/v/cluster/partition.h
  src/v/cluster/partition_probe.cc
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/types.h
Labels: area/redpanda

#1128 kafka/client Introduce partitioners and named consumers
  src/v/kafka/client/CMakeLists.txt
  src/v/kafka/client/brokers.cc
  src/v/kafka/client/brokers.h
  src/v/kafka/client/client.cc
  src/v/kafka/client/client.h
  src/v/kafka/client/consumer.cc
  src/v/kafka/client/consumer.h
  src/v/kafka/client/exceptions.h
  src/v/kafka/client/partitioners.cc
  src/v/kafka/client/partitioners.h
  src/v/kafka/client/producer.cc
  src/v/kafka/client/producer.h
  src/v/kafka/client/test/CMakeLists.txt
  src/v/kafka/client/test/partitioners.cc
  src/v/kafka/client/topic_cache.cc
  src/v/kafka/client/topic_cache.h
  src/v/kafka/client/types.h
  src/v/pandaproxy/handlers.cc
  src/v/pandaproxy/json/requests/create_consumer.h
  src/v/pandaproxy/json/requests/produce.h
  src/v/pandaproxy/json/requests/test/produce.cc
  src/v/pandaproxy/test/consumer_group.cc
  tests/rptest/tests/pandaproxy_test.py
Labels: area/redpanda

#1117 Update kubernetes docs for operator
  docs/www/quick-start-kubernetes.md
Labels: area/docs

#1143 Remove archival and update data-archiving with name changes and new parameters
  docs/www/archival.md
  docs/www/data-archiving.md
Labels: area/docs

#1150 Print available system resources
  src/v/redpanda/application.cc
Labels: area/redpanda

#1153 GitHub: update codeowners with team assignment
  .github/CODEOWNERS
Labels: area/build

#1154 pandaproxy: Consumer group validation, fixes, and tests
  docs/www/configuration.md
  src/v/kafka/client/client.cc
  src/v/kafka/client/client.h
  src/v/kafka/client/configuration.cc
  src/v/kafka/client/configuration.h
  src/v/kafka/client/consumer.cc
  src/v/kafka/client/consumer.h
  src/v/pandaproxy/handlers.cc
  src/v/pandaproxy/json/requests/create_consumer.h
  src/v/pandaproxy/parsing/httpd.h
  src/v/pandaproxy/test/consumer_group.cc
  tests/rptest/tests/pandaproxy_test.py
Labels: area/docs, area/redpanda

#1148 operator: Remove redpanda flags
  src/go/k8s/kuttl-test.yaml
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/tests/e2e/external-connectivity/00-assert.yaml
  src/go/k8s/tests/e2e/external-connectivity/00-external-connectivity.yaml
  src/go/k8s/tests/e2e/produce-consume/00-assert.yaml
Labels: area/k8s

#1157 operator: Change headless addresses publishing policy
  src/go/k8s/pkg/resources/headless_service.go
Labels: area/k8s

#1160 rpc/transport: moved dns name resolving into rpc::trasport::connect
  src/v/archival/tests/service_fixture.cc
  src/v/cluster/cluster_utils.cc
  src/v/cluster/cluster_utils.h
  src/v/coproc/pacemaker.cc
  src/v/coproc/pacemaker.h
  src/v/coproc/tests/utils/coproc_slim_fixture.cc
  src/v/http/demo/client.cc
  src/v/http/tests/http_client_test.cc
  src/v/kafka/client/broker.cc
  src/v/pandaproxy/test/pandaproxy_fixture.h
  src/v/raft/kvelldb/kvserver.cc
  src/v/raft/tests/raft_group_fixture.h
  src/v/raft/tron/client.cc
  src/v/raft/tron/server.cc
  src/v/redpanda/application.cc
  src/v/redpanda/tests/fixture.h
  src/v/rpc/client_probe.h
  src/v/rpc/demo/client.cc
  src/v/rpc/probes.cc
  src/v/rpc/reconnect_transport.h
  src/v/rpc/test/rpc_integration_fixture.h
  src/v/rpc/transport.cc
  src/v/rpc/transport.h
  src/v/rpc/types.h
  src/v/s3/client.cc
  src/v/s3/tests/s3_client_test.cc
Labels: area/redpanda

#1165 github: updated pr template to automate issues closing
  .github/pull_request_template.md
Labels: area/build

#1114 Operator API now support multiple Kafka listeners and multiple TLS configuration
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook_test.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/config/samples/external_connectivity.yaml
  src/go/k8s/config/samples/one_node_cluster.yaml
  src/go/k8s/config/samples/redpanda_v1alpha1_with_tls.yaml
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/controllers/redpanda/cluster_controller_test.go
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/test/three_node_cluster.yaml
  src/go/k8s/pkg/resources/certmanager/admin_api.go
  src/go/k8s/pkg/resources/certmanager/kafka_api.go
  src/go/k8s/pkg/resources/certmanager/pki.go
  src/go/k8s/pkg/resources/cluster_role.go
  src/go/k8s/pkg/resources/cluster_role_binding.go
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/pkg/resources/headless_service.go
  src/go/k8s/pkg/resources/node_port_service.go
  src/go/k8s/pkg/resources/resource.go
  src/go/k8s/pkg/resources/resource_integration_test.go
  src/go/k8s/pkg/resources/service_account.go
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/pkg/resources/statefulset_test.go
  src/go/k8s/pkg/resources/statefulset_update.go
  src/go/k8s/tests/e2e/admin-api-tls-client-auth/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/admin-api-tls/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/admin-api/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/create-topic-given-cert-secret/01-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/create-topic-given-cm-secret-client-auth/01-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/create-topic-given-issuer-with-client-auth/01-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/create-topic-given-issuer/01-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/create-topic-with-client-auth/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/external-connectivity/00-external-connectivity.yaml
  src/go/k8s/tests/e2e/node-select-tolerations/02-cluster-with-tolerations.yaml
  src/go/k8s/tests/e2e/produce-consume/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/produce-tls/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/00-current-image.yaml
  src/go/k8s/tests/e2e/update-image-tls/00-current-image.yaml
  src/go/k8s/tests/e2e/update-image/00-current-image.yaml
  src/go/k8s/tests/e2e/update/00-one-replica.yaml
  src/go/k8s/tests/e2e/update/03-enable-tls.yaml
Labels: area/k8s

#1171 r/tests: reduced number of nodes in replace group test
  src/v/raft/tests/membership_test.cc
Labels: area/redpanda

#1159 operator/upgrade: switch from kafka to admin API for redpanda readiness
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/go.mod
  src/go/k8s/pkg/resources/certmanager/admin_api.go
  src/go/k8s/pkg/resources/resource_integration_test.go
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/pkg/resources/statefulset_test.go
  src/go/k8s/pkg/resources/statefulset_update.go
  src/go/k8s/tests/e2e/update-image-tls-client-auth/00-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/00-current-image.yaml
  src/go/k8s/tests/e2e/update-image-tls/00-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls/00-current-image.yaml
  src/go/k8s/tests/e2e/update-image/00-current-image.yaml
Labels: area/k8s

#1098 Update docs in dev branch
  docs/www/archival.md
  docs/www/configuration.md
  docs/www/data-archiving.md
  docs/www/intro-to-events.md
  docs/www/quick-start-docker.md
  docs/www/quick-start-kubernetes.md
  docs/www/rpk-commands.md
Labels: area/docs

#1173 operator: update nodeport and headless service
  src/go/k8s/pkg/resources/headless_service.go
  src/go/k8s/pkg/resources/node_port_service.go
  src/go/k8s/pkg/resources/resource.go
  src/go/k8s/pkg/resources/resource_integration_test.go
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/tests/e2e/external-connectivity/00-assert.yaml
  src/go/k8s/tests/e2e/external-connectivity/00-external-connectivity.yaml
  src/go/k8s/tests/e2e/update/04-assert.yaml
  src/go/k8s/tests/e2e/update/04-change-port.yaml
Labels: area/k8s

#1163 operator: Support multiple listeners on admin API
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook_test.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/config/samples/external_connectivity.yaml
  src/go/k8s/config/samples/one_node_cluster.yaml
  src/go/k8s/config/samples/redpanda_v1alpha1_with_tls.yaml
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/controllers/redpanda/cluster_controller_test.go
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/test/three_node_cluster.yaml
  src/go/k8s/pkg/resources/certmanager/admin_api.go
  src/go/k8s/pkg/resources/certmanager/pki.go
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/pkg/resources/statefulset_test.go
  src/go/k8s/pkg/resources/statefulset_update.go
  src/go/k8s/tests/e2e/admin-api-tls-client-auth/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/admin-api-tls/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/admin-api/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/create-topic-given-cert-secret/01-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/create-topic-given-cm-secret-client-auth/01-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/create-topic-given-issuer-with-client-auth/01-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/create-topic-given-issuer/01-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/create-topic-with-client-auth/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/external-connectivity/00-assert.yaml
  src/go/k8s/tests/e2e/external-connectivity/00-external-connectivity.yaml
  src/go/k8s/tests/e2e/node-select-tolerations/02-cluster-with-tolerations.yaml
  src/go/k8s/tests/e2e/produce-consume/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/produce-tls/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/00-current-image.yaml
  src/go/k8s/tests/e2e/update-image-tls/00-current-image.yaml
  src/go/k8s/tests/e2e/update-image/00-current-image.yaml
  src/go/k8s/tests/e2e/update/00-one-replica.yaml
Labels: area/k8s

#1172 operator: remove name from kafka listener CRD
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook_test.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/cmd/configurator/main.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/config/samples/external_connectivity.yaml
  src/go/k8s/config/samples/one_node_cluster.yaml
  src/go/k8s/config/samples/redpanda_v1alpha1_with_tls.yaml
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/controllers/redpanda/cluster_controller_test.go
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/test/three_node_cluster.yaml
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/pkg/resources/resource.go
  src/go/k8s/pkg/resources/resource_integration_test.go
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/pkg/resources/statefulset_test.go
  src/go/k8s/tests/e2e/admin-api-tls-client-auth/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/admin-api-tls/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/admin-api/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/create-topic-given-cert-secret/01-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/create-topic-given-cm-secret-client-auth/01-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/create-topic-given-issuer-with-client-auth/01-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/create-topic-given-issuer/01-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/create-topic-with-client-auth/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/external-connectivity/00-assert.yaml
  src/go/k8s/tests/e2e/external-connectivity/00-external-connectivity.yaml
  src/go/k8s/tests/e2e/node-select-tolerations/02-cluster-with-tolerations.yaml
  src/go/k8s/tests/e2e/produce-consume/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/produce-tls/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/00-current-image.yaml
  src/go/k8s/tests/e2e/update-image-tls/00-current-image.yaml
  src/go/k8s/tests/e2e/update-image/00-current-image.yaml
  src/go/k8s/tests/e2e/update/00-one-replica.yaml
  src/go/k8s/tests/e2e/update/03-enable-tls.yaml
Labels: area/k8s

#1179 Fixed updating nodes configuration metadata
  src/v/cluster/members_manager.cc
  src/v/cluster/members_manager.h
  tests/rptest/services/redpanda.py
  tests/rptest/services/templates/redpanda.yaml
  tests/rptest/test_suite_quick.yml
  tests/rptest/tests/configuration_update_test.py
Labels: area/redpanda

#1167 Wasm/js/fix crash on invalid coproc
  src/js/modules/rpc/server.ts
Labels: area/wasm

#1174 rpk/start: Add support for Pandaproxy
  docs/www/production-deployment.md
  docs/www/quick-start-docker.md
  docs/www/rpk-commands.md
  src/go/rpk/pkg/cli/cmd/container/common/common.go
  src/go/rpk/pkg/cli/cmd/container/start.go
  src/go/rpk/pkg/cli/cmd/redpanda/start.go
  src/go/rpk/pkg/cli/cmd/redpanda/start_test.go
  src/go/rpk/pkg/config/config.go
Labels: area/docs, area/rpk

#1183 rpk: report client host and id in `cluster offsets` command
  src/go/rpk/pkg/cli/cmd/cluster/offsets.go
  src/go/rpk/pkg/cli/cmd/cluster/offsets_test.go
  src/v/kafka/client/consumer.cc
  src/v/kafka/protocol/join_group.h
  src/v/kafka/server/connection_context.h
  src/v/kafka/server/group.cc
  src/v/kafka/server/group_manager.h
  src/v/kafka/server/handlers/join_group.cc
  src/v/kafka/server/member.cc
  src/v/kafka/server/member.h
  src/v/kafka/server/tests/group_test.cc
  src/v/kafka/server/tests/member_test.cc
  src/v/kafka/types.h
Labels: area/redpanda, area/rpk

#1187 kafka: use code generation for metadata api request
  src/v/coproc/tests/read_materialized_topic_test.cc
  src/v/kafka/client/assignment_plans.cc
  src/v/kafka/client/client.cc
  src/v/kafka/client/consumer.cc
  src/v/kafka/client/test/produce.cc
  src/v/kafka/client/test/reconnect.cc
  src/v/kafka/client/topic_cache.cc
  src/v/kafka/protocol/metadata.h
  src/v/kafka/protocol/schemata/CMakeLists.txt
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/protocol/schemata/metadata_request.json
  src/v/kafka/protocol/schemata/metadata_response.json
  src/v/kafka/server/handlers/metadata.cc
  src/v/kafka/server/tests/create_topics_test.cc
  src/v/kafka/server/tests/delete_topics_test.cc
  src/v/kafka/server/tests/metadata_test.cc
  src/v/kafka/server/tests/request_parser_test.cc
  src/v/kafka/server/tests/topic_recreate_test.cc
  src/v/pandaproxy/handlers.cc
Labels: area/redpanda

#1185 rpk/start: Reduce startup time
  src/go/rpk/pkg/api/api.go
  src/go/rpk/pkg/cli/cmd/redpanda/start.go
Labels: area/rpk

#1132 docs: Add metrics definitions
  docs/www/monitoring.md
Labels: area/docs

#1198 s/tests: moved index state test to unit tests
  src/v/storage/tests/CMakeLists.txt
Labels: area/redpanda

#876 Partition movement cross shard
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
  src/v/cluster/partition.h
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/cluster/tests/partition_moving_test.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/raft/group_manager.cc
  src/v/raft/group_manager.h
  src/v/storage/log_manager.cc
  src/v/storage/log_manager.h
Labels: area/redpanda

#1145 Fix crash observed when multiple topics push to same materialized topic during term promotion
  src/v/coproc/ntp_context.h
  src/v/coproc/script_context.cc
  src/v/coproc/script_context.h
  tests/rptest/tests/wasm_redpanda_failure_recovery_test.py
  tests/rptest/wasm/wasm_test.py
Labels: area/redpanda

#1106 Archival storage integration tests
  src/v/archival/ntp_archiver_service.cc
  tests/docker/Dockerfile
  tests/docker/docker-compose.yml
  tests/rptest/archival/s3_client.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/archival_test.py
Labels: area/redpanda

#1176 Bundling the wasm engine with webpack
  src/js/modules/hashing/crc32.ts
  src/js/modules/rpc/require-native.ts
  src/js/modules/rpc/server.ts
  src/js/package-lock.json
  src/js/package.json
  src/js/webpack.js
  tools/ts-generator/example/functions.ts
  tools/ts-generator/rpc/example/generatedServer.ts
  tools/ts-generator/rpc/rpc_gen_js.py
  tools/ts-generator/types/functions.ts
Labels: area/wasm

#1155 pandaproxy: Skip config batches
  src/v/pandaproxy/json/requests/fetch.h
  src/v/pandaproxy/test/consumer_group.cc
  src/v/pandaproxy/test/fetch.cc
  tests/rptest/tests/pandaproxy_test.py
Labels: area/redpanda

#1191 Added annotations to generated Statefulset
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/pkg/resources/statefulset.go
Labels: area/k8s

#1210 docs: Add named configuration for Pandaproxy
  docs/www/configuration.md
Labels: area/docs

#1201 Remove advanced samples; Add link to samples in repo; Change k8s rpk commands to use one-node-cluster
  docs/www/quick-start-kubernetes.md
Labels: area/docs

#1206 operator/configurator: backwards compatibility for config schema
  src/go/k8s/cmd/configurator/main.go
  src/go/k8s/go.mod
  src/go/k8s/go.sum
Labels: area/k8s

#1188 operator: upgrade configurator and fixes
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/pkg/resources/statefulset_test.go
  src/go/k8s/pkg/resources/statefulset_update.go
  src/go/k8s/tests/e2e/update-conf-image/00-assert.yaml
  src/go/k8s/tests/e2e/update-conf-image/00-configurator.yaml
  src/go/k8s/tests/e2e/update-conf-image/01-assert.yaml
  src/go/k8s/tests/e2e/update-conf-image/01-current-image.yaml
  src/go/k8s/tests/e2e/update-conf-image/02-assert.yaml
  src/go/k8s/tests/e2e/update-conf-image/02-new-configurator.yaml
  src/go/k8s/tests/e2e/update-conf-image/03-assert.yaml
Labels: area/k8s

#1214 rpk: Fix Aggregate by for newer versions of Grafana
  src/go/rpk/pkg/cli/cmd/generate/grafana.go
  src/go/rpk/pkg/cli/cmd/generate/grafana_test.go
Labels: area/rpk

#1202 Pandaproxy: support json_v2 for produce and consume
  src/v/pandaproxy/handlers.cc
  src/v/pandaproxy/json/iobuf.h
  src/v/pandaproxy/json/requests/produce.h
  src/v/pandaproxy/json/requests/test/fetch.cc
  src/v/pandaproxy/json/requests/test/produce.cc
  src/v/pandaproxy/json/types.h
  src/v/pandaproxy/parsing/test/httpd.cc
  src/v/pandaproxy/test/consumer_group.cc
  src/v/pandaproxy/test/fetch.cc
  src/v/pandaproxy/test/list_topics.cc
  src/v/pandaproxy/test/produce.cc
  tests/rptest/test_suite_quick.yml
  tests/rptest/tests/pandaproxy_test.py
Labels: area/redpanda

#1203 Fix wasm failure recovery within heartbeat timeout interval
  src/js/modules/domain/generatedRpc/entitiesDefinition.json
  src/js/modules/rpc/server.ts
  src/v/coproc/event_listener.cc
  src/v/coproc/event_listener.h
  src/v/coproc/gen.json
  src/v/coproc/script_dispatcher.cc
  src/v/coproc/script_dispatcher.h
  src/v/coproc/tests/utils/supervisor.cc
  src/v/coproc/tests/utils/supervisor.h
  src/v/coproc/types.h
  tests/rptest/wasm/wasm_test.py
Labels: area/redpanda, area/wasm

#1225 docs/k8s: Add cert-manager to procedure; shorten commands
  docs/www/quick-start-kubernetes.md
Labels: area/docs

#1233 docs/k8s: Change bullets to ordered
  docs/www/quick-start-kubernetes.md
Labels: area/docs

#1234 docs: Remove code fence formatting from indented code
  docs/www/quick-start-kubernetes.md
Labels: area/docs

#1235 operator/tests: add availableReplicas check in update-conf-image assert
  src/go/k8s/tests/e2e/update-conf-image/00-assert.yaml
  src/go/k8s/tests/e2e/update-conf-image/00-configurator.yaml
  src/go/k8s/tests/e2e/update-conf-image/02-assert.yaml
  src/go/k8s/tests/e2e/update-conf-image/02-new-configurator.yaml
Labels: area/k8s

#1236 Fix for wasm reconciliation bugs
  src/v/coproc/event_listener.cc
  src/v/coproc/script_dispatcher.cc
  src/v/coproc/script_dispatcher.h
Labels: area/redpanda

#1243 Change cert-manager command to use helm; 1-node GKE cluster
  docs/www/quick-start-kubernetes.md
Labels: area/docs

#1242 operator: Properly wait for webhook to be ready
  src/go/k8s/tests/e2e/update-conf-image/00-assert.yaml
  src/go/k8s/tests/e2e/update-conf-image/02-assert.yaml
  src/go/k8s/tests/e2e/update-conf-image/02-new-configurator.yaml
Labels: area/k8s

#1241 operator: expose auto_create_topics_enabled
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/pkg/resources/resource_integration_test.go
Labels: area/k8s

#1239 operator/docs: add steps for external cluster on GKE
  src/go/k8s/docs/external-connectivity-gke.md
Labels: area/k8s

#1238 operator: update samples
  src/go/k8s/config/samples/external_connectivity.yaml
  src/go/k8s/config/samples/tls.yaml
Labels: area/k8s

#1228 Kafka offsets translation
  src/v/cluster/partition.h
  src/v/coproc/tests/utils/coproc_test_fixture.cc
  src/v/kafka/CMakeLists.txt
  src/v/kafka/client/test/consumer_group.cc
  src/v/kafka/client/test/fixture.h
  src/v/kafka/client/test/produce.cc
  src/v/kafka/protocol/fetch.h
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/list_offsets.cc
  src/v/kafka/server/handlers/produce.cc
  src/v/kafka/server/materialized_partition.h
  src/v/kafka/server/offset_translator.h
  src/v/kafka/server/partition_proxy.h
  src/v/kafka/server/replicated_partition.cc
  src/v/kafka/server/replicated_partition.h
  src/v/kafka/server/tests/CMakeLists.txt
  src/v/kafka/server/tests/produce_consume_test.cc
  src/v/kafka/server/tests/translation_test.cc
  src/v/pandaproxy/test/consumer_group.cc
  src/v/pandaproxy/test/fetch.cc
  src/v/pandaproxy/test/produce.cc
  src/v/raft/configuration_manager.cc
  src/v/raft/configuration_manager.h
  src/v/raft/consensus.h
  src/v/raft/tests/configuration_manager_test.cc
  src/v/raft/types.h
  tests/rptest/tests/pandaproxy_test.py
Labels: area/redpanda

#1222 kafka: introduce latency-based queue depth control
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/connection_context.h
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/produce.cc
  src/v/kafka/server/protocol.cc
  src/v/kafka/server/protocol.h
  src/v/kafka/server/queue_depth_monitor.h
  src/v/redpanda/application.cc
  src/v/redpanda/tests/fixture.h
  src/v/utils/ema.h
  src/v/utils/queue_depth_control.h
Labels: area/redpanda

#1237 operator: annotation to disable reconciliation of cluster
  src/go/k8s/controllers/redpanda/cluster_controller.go
Labels: area/k8s

#1249 operator/tests: ensure rollout of new operator instance is completed
  src/go/k8s/tests/e2e/update-conf-image/00-assert.yaml
  src/go/k8s/tests/e2e/update-conf-image/02-assert.yaml
Labels: area/k8s

#1252 kafka: add sasl authentication into kafka client
  docs/www/configuration.md
  src/v/kafka/client/CMakeLists.txt
  src/v/kafka/client/client.cc
  src/v/kafka/client/client.h
  src/v/kafka/client/configuration.cc
  src/v/kafka/client/configuration.h
  src/v/kafka/client/exceptions.h
  src/v/kafka/client/sasl_client.cc
  src/v/kafka/client/sasl_client.h
  src/v/kafka/client/transport.h
  src/v/kafka/protocol/sasl_authenticate.h
  src/v/kafka/protocol/sasl_handshake.h
  src/v/security/scram_algorithm.cc
  src/v/security/scram_algorithm.h
  tests/rptest/services/redpanda.py
  tests/rptest/services/templates/redpanda.yaml
  tests/rptest/tests/pandaproxy_test.py
Labels: area/docs, area/redpanda

#1144 Caching readers in storage layer
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/application.cc
  src/v/storage/CMakeLists.txt
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/fwd.h
  src/v/storage/kvstore.cc
  src/v/storage/kvstore.h
  src/v/storage/log_manager.h
  src/v/storage/log_reader.cc
  src/v/storage/log_reader.h
  src/v/storage/log_replayer.cc
  src/v/storage/parser.cc
  src/v/storage/parser.h
  src/v/storage/probe.cc
  src/v/storage/readers_cache.cc
  src/v/storage/readers_cache.h
  src/v/storage/readers_cache_probe.h
  src/v/storage/segment.cc
  src/v/storage/segment.h
  src/v/storage/segment_utils.cc
  src/v/storage/segment_utils.h
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

#968 Implemented controller API
  src/v/cluster/CMakeLists.txt
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/controller.json
  src/v/cluster/controller_api.cc
  src/v/cluster/controller_api.h
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
  src/v/cluster/errc.h
  src/v/cluster/fwd.h
  src/v/cluster/service.cc
  src/v/cluster/service.h
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/controller_api_tests.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/redpanda/application.cc
Labels: area/redpanda

#1250 Docs to Dev
  docs/www/docker-compose.md
  docs/www/guide-nodejs.md
  docs/www/monitoring.md
  docs/www/quick-start-docker.md
  docs/www/quick-start-kubernetes.md
Labels: area/docs

#1213 s3: Add probes for s3::client and http::client
  src/v/archival/service.cc
  src/v/http/client.cc
  src/v/http/client.h
  src/v/http/probe.h
  src/v/s3/CMakeLists.txt
  src/v/s3/client.cc
  src/v/s3/client.h
  src/v/s3/client_probe.cc
  src/v/s3/client_probe.h
  src/v/s3/tests/s3_client_test.cc
Labels: area/redpanda

#1268 Pandaproxy: Improve swagger
  src/v/pandaproxy/CMakeLists.txt
  src/v/pandaproxy/api/api-doc/consumer_fetch.json
  src/v/pandaproxy/api/api-doc/create_consumer.json
  src/v/pandaproxy/api/api-doc/definitions.def.json
  src/v/pandaproxy/api/api-doc/get_consumer_offsets.json
  src/v/pandaproxy/api/api-doc/get_topics_names.json
  src/v/pandaproxy/api/api-doc/get_topics_records.json
  src/v/pandaproxy/api/api-doc/header.json
  src/v/pandaproxy/api/api-doc/health.json
  src/v/pandaproxy/api/api-doc/post_consumer_offsets.json
  src/v/pandaproxy/api/api-doc/post_topics_name.json
  src/v/pandaproxy/api/api-doc/remove_consumer.json
  src/v/pandaproxy/api/api-doc/subscribe_consumer.json
  src/v/pandaproxy/api/api-doc/v1.json
  src/v/pandaproxy/handlers.cc
  src/v/pandaproxy/proxy.cc
  src/v/pandaproxy/server.cc
  src/v/pandaproxy/server.h
  src/v/pandaproxy/test/consumer_group.cc
  tests/rptest/tests/pandaproxy_test.py
Labels: area/redpanda

#1263 rpk/cloud: First iteration of login implementation
  src/go/rpk/build.sh
  src/go/rpk/pkg/cli/cmd/cloud.go
  src/go/rpk/pkg/cli/cmd/cloud/login.go
  src/go/rpk/pkg/cli/cmd/root.go
  src/go/rpk/pkg/vcloud/auth0.go
  src/go/rpk/pkg/vcloud/login.go
  src/go/rpk/pkg/vcloud/login_test.go
Labels: area/rpk

#1278 rpk/cloud: hide cloud command
  src/go/rpk/pkg/cli/cmd/cloud.go
Labels: area/rpk

#1264 rpk/ci: Add makefile target for crlfmt
  src/go/rpk/Makefile
Labels: area/rpk

#1281 update go to 1.16 for both operator and rpk
  .github/workflows/k8s-build-and-test.yml
  .github/workflows/rpk-build.yml
  src/go/k8s/Makefile
  src/go/k8s/go.mod
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cmd/generate/grafana_test.go
  src/go/rpk/pkg/cli/cmd/redpanda/start_test.go
Labels: area/build, area/k8s, area/rpk

#1182 Integration of the transaction processing with the consumer groups
  src/v/cluster/CMakeLists.txt
  src/v/cluster/id_allocator_frontend.cc
  src/v/cluster/id_allocator_frontend.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/cluster/tx_utils.cc
  src/v/cluster/tx_utils.h
  src/v/cluster/types.h
  src/v/kafka/CMakeLists.txt
  src/v/kafka/protocol/fwd.h
  src/v/kafka/protocol/schemata/CMakeLists.txt
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/protocol/schemata/txn_offset_commit_request.json
  src/v/kafka/protocol/schemata/txn_offset_commit_response.json
  src/v/kafka/protocol/txn_offset_commit.h
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
  src/v/kafka/server/group_router.h
  src/v/kafka/server/group_stm.cc
  src/v/kafka/server/group_stm.h
  src/v/kafka/server/handlers/handlers.h
  src/v/kafka/server/handlers/txn_offset_commit.cc
  src/v/kafka/server/handlers/txn_offset_commit.h
  src/v/kafka/server/requests.cc
  src/v/model/record.h
  src/v/model/record_batch_types.h
Labels: area/redpanda

#1287 operator: fix admin port name
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/pkg/resources/statefulset.go
Labels: area/k8s

#1290 operator: remove unnecessary nodeport check
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/pkg/resources/statefulset.go
Labels: area/k8s

#1300 docs: Fix pandaproxy_client.brokers
  docs/www/configuration.md
Labels: area/docs

#1301 rpk/cli/common: Fix nil check
  src/go/rpk/pkg/cli/cmd/common/common.go
Labels: area/rpk

#1255 Feature/group responses
  src/js/modules/rpc/server.ts
  src/js/modules/utilities/domain.ts
  src/js/test/rpc/server.test.ts
Labels: area/wasm

#1298 pandaproxy: Don't connect to brokers at startup
  src/v/kafka/client/client.cc
  src/v/pandaproxy/proxy.cc
Labels: area/redpanda

#1266 Waiting for all topic partitions to be created
  src/v/cluster/controller_api.cc
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/handlers/metadata.cc
  src/v/kafka/server/handlers/topics/topic_utils.cc
  src/v/kafka/server/handlers/topics/topic_utils.h
  src/v/kafka/server/protocol.cc
  src/v/kafka/server/protocol.h
  src/v/kafka/server/request_context.h
  src/v/redpanda/application.cc
  src/v/redpanda/tests/fixture.h
Labels: area/redpanda

#1303 rpk: Fix flaky admin tests
  src/go/rpk/pkg/api/admin/admin.go
  src/go/rpk/pkg/api/admin/admin_test.go
Labels: area/rpk

#1304 rpk/cli/common: Only return fatal errs when init'ing redpanda clients
  src/go/rpk/pkg/cli/cmd/common/common.go
  src/go/rpk/pkg/cli/cmd/common/common_test.go
Labels: area/rpk
