Repository redpanda-data/redpanda, pull requests merged in 2021-10, with the labels that each got.

#2486 Backport 2450
  src/v/cluster/tests/create_partitions_test.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/topics_frontend.cc
  src/v/cluster/types.cc
  src/v/cluster/types.h
  tests/rptest/clients/kafka_cli_tools.py
  tests/rptest/tests/create_partitions_test.py
Labels: area/redpanda, kind/backport

#2500 Backport #2498: Use corect timeout handling for tx tests
  tests/java/tx-verifier/src/main/java/io/vectorized/kafka/TxConsumer.java
  tests/java/tx-verifier/src/main/java/io/vectorized/kafka/Verifier.java
Labels: kind/backport

#2179 tools: fix seastar-addr2line path
  tools/cmake_test.py
Labels: kind/bug

#2494 k8s: add log collectors to debug produce-consume test
  src/go/k8s/tests/e2e/produce-consume/00-assert.yaml
  src/go/k8s/tests/e2e/produce-consume/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/produce-consume/01-assert.yaml
  src/go/k8s/tests/e2e/produce-consume/01-create-topic.yaml
  src/go/k8s/tests/e2e/produce-consume/02-assert.yaml
  src/go/k8s/tests/e2e/produce-consume/02-produce-message.yaml
  src/go/k8s/tests/e2e/produce-consume/03-assert.yaml
  src/go/k8s/tests/e2e/produce-consume/03-consume-message.yaml
  src/go/k8s/tests/e2e/produce-consume/04-assert.yaml
  src/go/k8s/tests/e2e/produce-consume/04-delete-topic.yaml
Labels: area/k8s

#2495 tests/raft_availability_test: relax success conditions
  tests/rptest/tests/raft_availability_test.py
Labels: kind/tech-debt, area/tests

#2502 test: improve consumer service shutdowns
  tests/rptest/services/kaf_consumer.py
  tests/rptest/services/rpk_consumer.py
Labels: kind/bug, area/tests

#2476 Disable more unstable tests
  src/v/archival/tests/CMakeLists.txt
  src/v/cluster/tests/CMakeLists.txt
  tests/rptest/tests/data_policy_test.py
  tests/rptest/tests/node_operations_fuzzy_test.py
  tests/rptest/tests/pandaproxy_test.py
  tests/rptest/tests/tx_verifier_test.py
Labels: area/redpanda, area/tests

#2471 Fix expiring promise to prevent double set
  src/v/utils/expiring_promise.h
  src/v/utils/tests/CMakeLists.txt
  src/v/utils/tests/expiring_promise_test.cc
Labels: area/redpanda

#2491 tests: fix RpkTool.produce to partition 0
  tests/rptest/clients/rpk.py
  tests/rptest/tests/rpk_topic_test.py
Labels: kind/bug, area/tests

#2492 k/fetch: fixed error returned when partition is moved from node
  src/v/kafka/server/handlers/fetch.cc
Labels: area/redpanda

#2510 Fix wasm crash bug when deploy unpackaged scripts.
  src/js/modules/rpc/server.ts
Labels: area/wasm

#2411 archival: cache eviction
  src/v/cloud_storage/CMakeLists.txt
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/cache_service.h
  src/v/cloud_storage/recursive_directory_walker.cc
  src/v/cloud_storage/recursive_directory_walker.h
  src/v/cloud_storage/tests/cache_test.cc
  src/v/cloud_storage/tests/cache_test_fixture.h
Labels: area/redpanda

#2503 Serde ADL + Auto Skip of Bytes for Custom Read Functions
  src/v/serde/serde.h
  src/v/serde/test/serde_test.cc
Labels: area/redpanda

#2525 Merge conflicting tests in src/js/tests
  src/js/test/rpc/server.test.ts
Labels: area/wasm

#2434 cluster: Add version to topic_configuration
  src/v/bytes/iobuf.cc
  src/v/bytes/iobuf.h
  src/v/bytes/iobuf_parser.h
  src/v/bytes/tests/iobuf_tests.cc
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/topic_configuration_compat_test.cc
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/model/fundamental.h
  src/v/model/model.cc
Labels: area/redpanda

#2536 ParamsFromConfig: return early on FlagConfig
  src/go/rpk/pkg/config/params.go
Labels: area/rpk

#2473 Fixed shutting down log
  src/v/storage/readers_cache.cc
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

#2529 Added group state cleanup when leadership is lost
  src/v/cluster/metadata_cache.cc
  src/v/cluster/metadata_cache.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
  src/v/redpanda/admin/api-doc/partition.json
  src/v/redpanda/admin_server.cc
  tests/rptest/services/admin.py
  tests/rptest/tests/group_membership_test.py
Labels: area/redpanda

#2454 Partition movement fixes
  src/v/cluster/controller_backend.cc
  src/v/cluster/tests/CMakeLists.txt
  tests/rptest/tests/partition_movement_test.py
Labels: area/redpanda

#2823 cloud_storage: Improve logging in remote_partition
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cloud_storage/remote_segment.h
  src/v/raft/log_eviction_stm.cc
Labels: area/redpanda

#2825 build: misc fixes for community build
  cmake/oss.cmake.in
  src/v/cloud_storage/recursive_directory_walker.cc
  src/v/pandaproxy/json/CMakeLists.txt
  src/v/utils/fragmented_vector.h
Labels: area/build, area/redpanda

#2813 .github: Add issue templates
  .github/ISSUE_TEMPLATE/01_bug_report.md
  .github/ISSUE_TEMPLATE/02_feature_request.md
  .github/ISSUE_TEMPLATE/config.yml
Labels: kind/enhance, area/build

#2769 [VD-19]Doc/windows guide
  docs/www/quick-start-docker.md
  docs/www/quick-start-windows.md
Labels: area/docs
