Repository redpanda-data/redpanda, pull requests merged in 2021-06, with the labels that each got.

#1518 coproc/js: fix test template
  src/go/rpk/pkg/cli/cmd/wasm/template/wasm_test_case.go
Labels: area/rpk, area/wasm

#1457 docs/cn: add quick-start-docker and quick-start-kubernates Simple Chinese translation
  docs/www/quick-start-docker-CN.md
  docs/www/quick-start-kubernetes-CN.md
Labels: area/docs

#1522 Docs merge to dev
  docs/www/acls.md
  docs/www/quick-start-docker.md
  docs/www/quick-start-kubernetes.md
Labels: area/docs

#1078 Serde v2 (versioning for serialization/deserialization)
  .gitignore
  src/v/CMakeLists.txt
  src/v/serde/CMakeLists.txt
  src/v/serde/envelope.h
  src/v/serde/envelope_for_each_field.h
  src/v/serde/logger.h
  src/v/serde/serde.h
  src/v/serde/serde_exception.h
  src/v/serde/test/CMakeLists.txt
  src/v/serde/test/bench.cc
  src/v/serde/test/serde_test.cc
  src/v/serde/type_str.h
Labels: area/redpanda

#1493 Make transaction data partitions support deletion clean up policy
  src/v/cluster/CMakeLists.txt
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tx_utils.cc
  src/v/cluster/tx_utils.h
Labels: area/redpanda

#1474 Make transaction coordinator support clean up policies
  src/v/cluster/tests/tm_stm_tests.cc
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/tx_gateway_frontend.h
Labels: area/redpanda

#1528 task/rpk: fix go mod cache rw
  src/go/rpk/go.mod
  taskfiles/rpk.yml
Labels: area/rpk

#1532 Retruning at least one message even if it exceeds max_bytes limit.
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/tests/fetch_test.cc
Labels: area/redpanda

#1491 operator/config: add field in Cluster CR for unexposed config values
  docs/www/arbitrary-configuration.md
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/tests/e2e/additional-configuration/00-assert.yaml
  src/go/k8s/tests/e2e/additional-configuration/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/additional-configuration/01-verify-config.yaml
  src/go/k8s/tests/e2e/additional-configuration/verify-config.sh
Labels: area/docs, area/k8s

#1533 operator: fix typo in tls sample
  src/go/k8s/config/samples/tls.yaml
Labels: area/k8s

#1519 Add plugin support
  src/go/k8s/go.sum
  src/go/rpk/cmd/rpk/main.go
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cmd/root.go
  src/go/rpk/pkg/cli/cmd/root_test.go
  src/go/rpk/pkg/cmd/groupcsaw/main.go
  src/go/rpk/pkg/cmd/kverify/main.go
  src/go/rpk/pkg/cmd/kverify/stats.go
  taskfiles/rpk.yml
Labels: area/k8s, area/rpk

#1544 k/replicated_partition: forwarding finally to underlying reader
  src/v/kafka/server/replicated_partition.cc
Labels: area/redpanda

#1485 Replicate stages
  src/v/cluster/errc.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/idempotency_tests.cc
  src/v/cluster/tests/rm_stm_tests.cc
  src/v/kafka/server/handlers/produce.cc
  src/v/kafka/server/replicated_partition.cc
  src/v/kafka/server/replicated_partition.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/errc.h
  src/v/raft/replicate_batcher.cc
  src/v/raft/replicate_batcher.h
  src/v/raft/tests/append_entries_test.cc
  src/v/raft/types.cc
  src/v/raft/types.h
Labels: area/redpanda

#1416 operator: set smp based on resource request
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook_test.go
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/tests/e2e/external-connectivity/00-assert.yaml
  src/go/k8s/tests/e2e/produce-consume/00-assert.yaml
Labels: area/k8s

#1546 Add scarf tracking image to docker articles
  docs/www/quick-start-docker-CN.md
  docs/www/quick-start-docker.md
Labels: area/docs

#1550 operator/tls: set default duration of new certificates to 5 years
  src/go/k8s/pkg/resources/certmanager/certificate.go
Labels: area/k8s

#1556 operator: Add init container resources
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/pkg/resources/statefulset_test.go
Labels: area/k8s

#1444 Add materialized topic support to list offsets API
  src/v/kafka/CMakeLists.txt
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/fetch.h
  src/v/kafka/server/handlers/list_offsets.cc
  src/v/kafka/server/materialized_partition.h
  src/v/kafka/server/partition_proxy.cc
  src/v/kafka/server/partition_proxy.h
  tests/rptest/test_suite_quick.yml
  tests/rptest/wasm/native_kafka_consumer.py
  tests/rptest/wasm/topics_result_set.py
Labels: area/redpanda

#1560 redpanda/configuration: Allow cluster_id to be configurable
  docs/www/configuration.md
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/handlers/metadata.cc
Labels: area/docs, area/redpanda

#1499 rpk/container: Listen on internal and external addresses
  src/go/rpk/pkg/cli/cmd/container/common/common.go
  src/go/rpk/pkg/cli/cmd/container/common/test.go
Labels: area/rpk

#1557 Fix partition LSO
  src/v/cluster/partition.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
Labels: area/redpanda

#1531 Adds pre-prepare auto abort for data partitions
  src/v/cluster/rm_partition_frontend.cc
  src/v/cluster/rm_partition_frontend.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/rm_stm_tests.cc
  src/v/cluster/tests/tm_stm_tests.cc
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/cluster/tx_gateway.cc
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/tx_gateway_frontend.h
  src/v/cluster/types.h
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/server/handlers/init_producer_id.cc
  src/v/model/record.h
  src/v/raft/state_machine.h
  src/v/utils/available_promise.h
Labels: area/redpanda

#1561 memory info: allow cgroup's memory.limit_in_bytes to be missing
  src/go/rpk/pkg/system/memory.go
  src/go/rpk/pkg/system/memory_linux.go
  src/go/rpk/pkg/tuners/redpanda_checkers_test.go
Labels: area/rpk

#1539 Support concurrent appends and flushes in storage
  src/v/storage/segment.cc
  src/v/storage/segment.h
  src/v/storage/segment_appender.cc
  src/v/storage/segment_appender.h
  src/v/storage/segment_utils.cc
  src/v/storage/tests/log_replayer_test.cc
Labels: area/redpanda

#1569 Docs to Dev
  docs/www/guide-wasm-elastic.md
  docs/www/quick-start-docker-CN.md
  docs/www/quick-start-docker.md
Labels: area/docs

#1581 rpk/admin: do not modify input urls slice
  src/go/rpk/pkg/api/admin/admin.go
Labels: area/rpk

#1582 kafka: use resource type to restrict acl prefix searches
  src/v/security/acl_store.cc
  src/v/security/acl_store.h
  src/v/security/tests/authorizer_test.cc
Labels: area/redpanda

#1583 docs/operator: add connectivity documentation to k8s quickstart
  docs/www/quick-start-kubernetes.md
Labels: area/docs

#1572 Adds post-prepare auto abort for data partitions
  src/v/cluster/id_allocator_frontend.cc
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/idempotency_tests.cc
  src/v/cluster/tests/rm_stm_tests.cc
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/cluster/tx_gateway.cc
  src/v/cluster/tx_gateway.h
  src/v/cluster/tx_gateway.json
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/tx_gateway_frontend.h
  src/v/cluster/types.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/application.cc
Labels: area/redpanda

#1584 docs/operator: fix br element in connectivity docs
  docs/www/quick-start-kubernetes.md
Labels: area/docs

#1565 k8s: remove operator tests from GHA workflows, add k8s taskfile
  .github/workflows/helm-chart-release.yml
  .github/workflows/helm-chart-test.yml
  .github/workflows/k8s-build-and-test.yml
  src/go/k8s/Dockerfile
  src/go/k8s/Dockerfile.in
  src/go/k8s/Makefile
  src/go/k8s/cmd/configurator/Dockerfile
  taskfiles/dev.yml
  taskfiles/k8s.yml
  taskfiles/main.yml
Labels: area/build, area/k8s

#1513 docs: Add consume & produce to list of rpk cmds
  docs/www/rpk-commands.md
  src/go/rpk/pkg/cli/cmd/topic/consume.go
  src/go/rpk/pkg/cli/cmd/topic/produce.go
Labels: area/docs, area/rpk

#1577 treewide: replaced record_batch_type with an enum
  src/v/cluster/commands.h
  src/v/cluster/id_allocator_stm.cc
  src/v/cluster/members_manager.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/security_manager.h
  src/v/cluster/tests/simple_batch_builder_test.cc
  src/v/cluster/tm_stm.cc
  src/v/cluster/topic_table.h
  src/v/cluster/topic_updates_dispatcher.h
  src/v/cluster/types.h
  src/v/coproc/script_context.cc
  src/v/coproc/tests/utils/coproc_test_fixture.cc
  src/v/coproc/tests/utils/wasm_event_generator.cc
  src/v/kafka/client/client.cc
  src/v/kafka/client/produce_batcher.h
  src/v/kafka/client/test/utils.h
  src/v/kafka/protocol/kafka_batch_adapter.cc
  src/v/kafka/server/group.cc
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/replicated_partition.cc
  src/v/kafka/server/tests/produce_consume_test.cc
  src/v/model/model.cc
  src/v/model/record.h
  src/v/model/record_batch_types.h
  src/v/model/record_utils.cc
  src/v/raft/configuration_bootstrap_state.cc
  src/v/raft/consensus_utils.cc
  src/v/raft/kvelldb/kvrsm.cc
  src/v/raft/kvelldb/kvrsm.h
  src/v/raft/mux_state_machine.h
  src/v/raft/state_machine.cc
  src/v/raft/state_machine.h
  src/v/raft/tests/append_entries_test.cc
  src/v/raft/tests/configuration_serialization_test.cc
  src/v/raft/tests/foreign_entry_test.cc
  src/v/raft/tests/raft_group_fixture.h
  src/v/raft/tests/simple_record_fixture.h
  src/v/raft/tron/client.cc
  src/v/raft/types.h
  src/v/storage/disk_log_appender.cc
  src/v/storage/kvstore.cc
  src/v/storage/kvstore.h
  src/v/storage/segment_appender_utils.cc
  src/v/storage/tests/batch_cache_reclaim_test.cc
  src/v/storage/tests/disk_log_builder_test.cc
  src/v/storage/tests/half_page_concurrent_dispatch.cc
  src/v/storage/tests/log_segment_reader_test.cc
  src/v/storage/tests/record_batch_builder_test.cc
  src/v/storage/tests/storage_e2e_test.cc
  src/v/storage/tests/utils/disk_log_builder.h
  src/v/storage/tests/utils/random_batch.cc
  src/v/storage/tests/utils/random_batch.h
  src/v/storage/types.h
Labels: area/redpanda

#1427 Generic adl implementations for map-like and vector-like types
  src/v/coproc/offset_storage_utils.cc
  src/v/coproc/pacemaker.cc
  src/v/coproc/pacemaker.h
  src/v/coproc/types.cc
  src/v/model/async_adl_serde.cc
  src/v/reflection/absl/btree_map.h
  src/v/reflection/absl/flat_hash_map.h
  src/v/reflection/absl/node_hash_map.h
  src/v/reflection/async_adl.h
  src/v/reflection/seastar/circular_buffer.h
  src/v/reflection/std/map.h
  src/v/reflection/std/unordered_map.h
  src/v/reflection/std/vector.h
  src/v/reflection/test/CMakeLists.txt
  src/v/reflection/test/async_adl_test.cc
Labels: area/redpanda

#1477 Expose previously hidden offset management modes for wasm scripts
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cmd/wasm/generate.go
  src/go/rpk/pkg/cli/cmd/wasm/template/package_json.go
  src/go/rpk/pkg/cli/cmd/wasm/template/wasm.go
  src/js/modules/public/Coprocessor.ts
  src/js/modules/public/SimpleTransform.ts
  src/js/modules/public/index.ts
  src/js/modules/rpc/errors.ts
  src/js/modules/rpc/server.ts
  src/js/publish-wasm-dependecy.js
  src/js/publish_artifacts/README.md
  src/js/publish_artifacts/package.json
  src/js/test/rpc/server.test.ts
  src/js/test/supervisors/Repository.test.ts
  src/js/test/testUtilities.ts
  src/js/test/utilities/Checksum.test.ts
  src/js/test/utilities/CoprocessorTest.ts
  src/v/coproc/errc.h
  src/v/coproc/pacemaker.cc
  src/v/coproc/script_dispatcher.cc
  src/v/coproc/tests/CMakeLists.txt
  src/v/coproc/tests/coproc_bench_tests.cc
  src/v/coproc/tests/event_listener_tests.cc
  src/v/coproc/tests/failure_recovery_tests.cc
  src/v/coproc/tests/fixtures/coproc_bench_fixture.cc
  src/v/coproc/tests/fixtures/coproc_bench_fixture.h
  src/v/coproc/tests/fixtures/coproc_fixture_iface.h
  src/v/coproc/tests/fixtures/coproc_slim_fixture.cc
  src/v/coproc/tests/fixtures/coproc_slim_fixture.h
  src/v/coproc/tests/fixtures/coproc_test_fixture.cc
  src/v/coproc/tests/fixtures/coproc_test_fixture.h
  src/v/coproc/tests/fixtures/fixture_utils.h
  src/v/coproc/tests/fixtures/supervisor_test_fixture.h
  src/v/coproc/tests/pacemaker_tests.cc
  src/v/coproc/tests/read_materialized_topic_test.cc
  src/v/coproc/tests/router_test.cc
  src/v/coproc/tests/script_dispatcher_tests.cc
  src/v/coproc/tests/topic_ingestion_policy_tests.cc
  src/v/coproc/tests/utils/coproc_slim_fixture.cc
  src/v/coproc/tests/utils/coproc_test_fixture.cc
  src/v/coproc/tests/utils/coproc_test_fixture.h
  src/v/coproc/tests/utils/event_publisher.cc
  src/v/coproc/tests/utils/event_publisher.h
  src/v/coproc/tests/utils/supervisor.cc
  src/v/coproc/tests/utils/supervisor.h
  src/v/coproc/tests/utils/wasm_event_generator.h
  src/v/coproc/tests/wasm_event_tests.cc
  src/v/coproc/types.cc
  src/v/coproc/types.h
  taskfiles/rp.yml
  taskfiles/wasm.yml
  tests/rptest/wasm/templates/identity_transform.j2
  tests/rptest/wasm/wasm_build_tool.py
Labels: area/redpanda, area/rpk, area/wasm

#1497 Schema registry storage
  src/v/kafka/client/client.cc
  src/v/kafka/client/client.h
  src/v/kafka/client/transport.h
  src/v/model/namespace.h
  src/v/pandaproxy/schema_registry/CMakeLists.txt
  src/v/pandaproxy/schema_registry/client_fetch_batch_reader.cc
  src/v/pandaproxy/schema_registry/client_fetch_batch_reader.h
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/service.h
  src/v/pandaproxy/schema_registry/storage.h
  src/v/pandaproxy/schema_registry/test/CMakeLists.txt
  src/v/pandaproxy/schema_registry/test/one_shot.cc
  src/v/pandaproxy/schema_registry/util.h
  tests/rptest/services/templates/redpanda.yaml
  tests/rptest/tests/schema_registry_test.py
Labels: area/proxy, area/redpanda

#1589 add `rpk generate shell-completion` command
  src/go/k8s/go.sum
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cmd/generate.go
  src/go/rpk/pkg/cli/cmd/generate/autocomplete.go
Labels: area/k8s, area/rpk

#1600 wasm: use correct lower bound on default wasm template
  src/go/rpk/pkg/cli/cmd/wasm/template/wasm.go
Labels: area/rpk

#1575 Pipelining flush and disk appends in raft
  src/v/raft/append_entries_buffer.cc
  src/v/raft/append_entries_buffer.h
  src/v/raft/consensus.cc
  src/v/raft/replicate_batcher.cc
  src/v/raft/replicate_batcher.h
  src/v/raft/replicate_entries_stm.cc
  src/v/raft/replicate_entries_stm.h
Labels: area/redpanda

#1574 Fixed partition moving mechanism
  src/v/cluster/controller.cc
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
  src/v/cluster/tests/partition_moving_test.cc
  src/v/kafka/server/handlers/fetch.cc
  src/v/raft/configuration_manager.cc
  src/v/raft/configuration_manager.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/consensus_utils.cc
  src/v/raft/consensus_utils.h
  tests/rptest/test_suite_quick.yml
  tests/rptest/tests/partition_movement_test.py
Labels: area/redpanda

#1496 Processing requests in order in Kafka layer
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
  src/v/kafka/server/group_router.h
  src/v/kafka/server/handlers/handler.h
  src/v/kafka/server/handlers/offset_commit.cc
  src/v/kafka/server/handlers/offset_commit.h
  src/v/kafka/server/handlers/produce.cc
  src/v/kafka/server/handlers/produce.h
  src/v/kafka/server/replicated_partition.cc
  src/v/kafka/server/replicated_partition.h
  src/v/kafka/server/request_context.h
  src/v/kafka/server/requests.cc
  src/v/kafka/server/response.h
Labels: area/redpanda

#1616 operator/config: enable idempotent producers and transactions by default
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/pkg/resources/resource_integration_test.go
  src/go/k8s/tests/e2e/additional-configuration/verify-config.sh
Labels: area/k8s

#1618 Wasm support compressed topics
  src/v/coproc/reference_window_consumer.hpp
  src/v/coproc/script_context.cc
  src/v/coproc/script_context.h
  src/v/coproc/tests/utils/event_publisher.cc
  src/v/coproc/tests/utils/wasm_event_generator.cc
  src/v/coproc/tests/wasm_event_tests.cc
  src/v/kafka/client/produce_batcher.h
  src/v/storage/parser_utils.cc
  src/v/storage/parser_utils.h
Labels: area/redpanda

#1627 kafka/client: Remove batch decompression on produce
  src/v/coproc/tests/utils/event_publisher.cc
  src/v/kafka/client/produce_batcher.h
Labels: area/redpanda

#1626 Fix/handle no wasm file
  src/js/modules/rpc/errors.ts
  src/js/modules/rpc/server.ts
  src/js/test/rpc/coprocString.ts
  src/js/test/rpc/server.test.ts
Labels: area/wasm

#1629 rpk topic consume: Use given offset also when using a group
  src/go/rpk/pkg/cli/cmd/topic/consume.go
Labels: area/rpk

#1630 rpk topic consume: Fix code formatting
  src/go/rpk/pkg/cli/cmd/topic/consume.go
Labels: area/rpk

#1636 redpanda: dynamic log level control
  src/v/redpanda/admin/api-doc/config.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  tests/rptest/services/admin.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/log_level_test.py
Labels: area/redpanda

#1607 Introduce a --name flag to rpk deploy
  src/go/rpk/pkg/cli/cmd/wasm/common.go
  src/go/rpk/pkg/cli/cmd/wasm/deploy.go
  src/go/rpk/pkg/cli/cmd/wasm/deploy_test.go
  src/go/rpk/pkg/cli/cmd/wasm/remove.go
  src/go/rpk/pkg/cli/cmd/wasm/remove_test.go
  src/go/rpk/pkg/cli/cmd/wasm/template/wasm.go
  src/v/coproc/script_dispatcher.cc
  src/v/coproc/tests/utils/wasm_event_generator.cc
  src/v/coproc/tests/utils/wasm_event_generator.h
  src/v/coproc/tests/wasm_event_tests.cc
  tests/rptest/clients/rpk.py
  tests/rptest/wasm/wasm_test.py
Labels: area/redpanda, area/rpk

#1644 utils/human: Fix missing KiB
  src/v/utils/human.cc
  src/v/utils/tests/CMakeLists.txt
  src/v/utils/tests/human_test.cc
Labels: area/redpanda

#1591 Nodes decommissioning API
  src/v/cluster/CMakeLists.txt
  src/v/cluster/commands.h
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/controller.json
  src/v/cluster/controller_stm.h
  src/v/cluster/errc.h
  src/v/cluster/fwd.h
  src/v/cluster/members_frontend.cc
  src/v/cluster/members_frontend.h
  src/v/cluster/members_manager.cc
  src/v/cluster/members_manager.h
  src/v/cluster/members_table.cc
  src/v/cluster/members_table.h
  src/v/cluster/service.cc
  src/v/cluster/service.h
  src/v/cluster/types.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/model/metadata.h
  src/v/model/model.cc
  src/v/model/record_batch_types.h
  src/v/redpanda/admin/api-doc/broker.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/application.cc
Labels: area/redpanda

#1527 v8 open-source build
  .gitignore
  build.sh
  cmake/oss.cmake.in
  install-dependencies.sh
  taskfiles/rp.yml
Labels: area/build

#1645 rpk topic: Allow setting the brokers through an env var
  src/go/rpk/pkg/cli/cmd/common/common.go
  src/go/rpk/pkg/cli/cmd/common/common_test.go
Labels: area/rpk

#1668 redpanda: improve consumer group logging
  src/v/bytes/bytes.cc
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/group_manager.cc
Labels: area/redpanda

#1671 Update deprecated commands - guide-nodejs
  docs/www/guide-nodejs.md
Labels: area/docs

#1659 coproc/js: validate next chunk size before start to reading
  src/js/test/rpc/server.test.ts
  tools/ts-generator/rpc/rpc_gen_js.py
Labels: area/wasm

#1682 Auto populate latest k8s version
  docs/www/kubernetes-external-connect.md
  docs/www/quick-start-kubernetes.md
Labels: area/docs

#1558 Add additional start flags to configuration
  docs/www/configuration.md
Labels: area/docs

#749 operator: Create RFC for external connectivity
  docs/rfcs/20210223_external_connectivity_in_k8s.md
Labels: area/docs, area/k8s

#1689 docs: Fix bad command formatting
  docs/www/support.md
Labels: area/docs

#1685 rpk topic set-config: fix args & options
  src/go/rpk/pkg/cli/cmd/topic/config.go
  src/go/rpk/pkg/cli/cmd/topic_test.go
Labels: area/rpk

#1697 rpk: override viper's default SupportedExts to avoid picking up non-yaml
  src/go/rpk/pkg/config/config.go
Labels: area/rpk

#1692 Add rpk config init and that sample config is not prod valid
  docs/www/configuration.md
Labels: area/docs

#1698 s/tests: added more detailed test for time based log cleanup
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

#1690 Remove entrypoint from Docker compose
  docs/www/quick-start-docker-CN.md
  docs/www/quick-start-docker.md
Labels: area/docs

#1702 s/index_state: use first timestamp as a last one when max is not set
  src/v/storage/index_state.cc
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

#1688 Give feature toggle that removes trailing dot from advertised kafka api
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/pkg/resources/certmanager/admin_api.go
  src/go/k8s/pkg/resources/certmanager/certificate.go
  src/go/k8s/pkg/resources/certmanager/kafka_api.go
  src/go/k8s/pkg/resources/certmanager/keystore_password.go
  src/go/k8s/pkg/resources/certmanager/pandaproxy_api.go
  src/go/k8s/pkg/resources/certmanager/pki.go
  src/go/k8s/pkg/resources/headless_service.go
  src/go/k8s/pkg/resources/resource_integration_test.go
  src/go/k8s/tests/e2e/confluent-schema-registry/00-assert.yaml
  src/go/k8s/tests/e2e/confluent-schema-registry/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/confluent-schema-registry/01-assert.yaml
  src/go/k8s/tests/e2e/confluent-schema-registry/01-create-schema-registry.yaml
  src/go/k8s/tests/e2e/confluent-schema-registry/02-assert.yaml
  src/go/k8s/tests/e2e/confluent-schema-registry/02-create-schema.yaml
  src/go/k8s/tests/e2e/confluent-schema-registry/03-assert.yaml
  src/go/k8s/tests/e2e/confluent-schema-registry/03-retrieve-schema.yaml
Labels: area/k8s

#1701 operator/helm: sync configurator image tag with operator tag
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/deployment.yaml
Labels: area/k8s

#1699 Plugin autocompletion
  src/go/rpk/pkg/cli/cmd/root.go
  src/go/rpk/pkg/cli/cmd/root_test.go
  src/go/rpk/pkg/testfs/testfs.go
Labels: area/rpk

#1713 Improved raft error handling
  src/v/cluster/errc.h
  src/v/cluster/members_manager.cc
  src/v/raft/consensus.h
  src/v/raft/errc.h
Labels: area/redpanda

#1632 Schema registry config
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/json/rjson_util.h
  src/v/pandaproxy/schema_registry/error.cc
  src/v/pandaproxy/schema_registry/error.h
  src/v/pandaproxy/schema_registry/exceptions.h
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/handlers.h
  src/v/pandaproxy/schema_registry/requests/config.h
  src/v/pandaproxy/schema_registry/requests/post_subject_versions.h
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/storage.h
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/CMakeLists.txt
  src/v/pandaproxy/schema_registry/test/consume_to_store.cc
  src/v/pandaproxy/schema_registry/test/storage.cc
  src/v/pandaproxy/schema_registry/test/store.cc
  src/v/pandaproxy/schema_registry/types.h
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda

#1722 Rpk acl list pattern
  src/go/rpk/pkg/cli/cmd/acl/create.go
  src/go/rpk/pkg/cli/cmd/acl/delete.go
  src/go/rpk/pkg/cli/cmd/acl/list.go
  src/go/rpk/pkg/cli/cmd/acl/list_test.go
Labels: area/rpk

#1433 Add first version for v8 instance and enviroment for v8
  src/v/CMakeLists.txt
  src/v/v8_engine/CMakeLists.txt
  src/v/v8_engine/environment.cc
  src/v/v8_engine/environment.h
  src/v/v8_engine/script.cc
  src/v/v8_engine/script.h
  src/v/v8_engine/tests/CMakeLists.txt
  src/v/v8_engine/tests/script_test.cc
  src/v/v8_engine/tests/scripts/sum.js
  src/v/v8_engine/tests/scripts/to_upper.js
Labels: area/redpanda

#1730 archival: Fix upload errors and busy error logging
  src/v/archival/service.cc
  src/v/s3/client.cc
  src/v/s3/signature.cc
  src/v/s3/signature.h
Labels: area/redpanda
