Repository redpanda-data/redpanda, pull requests merged in 2021-09, with the labels that each got.

#2200 rpk cluster info: Use default config if no config file exists
  src/go/rpk/pkg/config/params.go
Labels: area/rpk

#2201 rpk: Fix typo
  src/go/rpk/pkg/config/params.go
Labels: area/rpk

#2190 backport/v21.8.x: Add new defaults for transactions
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook_test.go
Labels: area/k8s

#2198 v21.8.x backport #2189: Fix transaction related sync pauses
  src/v/cluster/partition.cc
  src/v/cluster/persisted_stm.cc
  src/v/cluster/persisted_stm.h
  src/v/cluster/rm_stm.cc
  src/v/config/configuration.cc
Labels: area/redpanda, kind/backport

#2199 v21.8.x backport #2184: Add tx_seq to group's abort_tx RPC
  src/v/cluster/rm_group_proxy.h
  src/v/cluster/tx_gateway_frontend.cc
  src/v/kafka/server/handlers/end_txn.cc
  src/v/kafka/server/handlers/init_producer_id.cc
  src/v/kafka/server/rm_group_frontend.cc
  src/v/kafka/server/rm_group_frontend.h
Labels: area/redpanda, kind/backport

#2202 c/partition_allocator: fixed handling allocation constraints
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/cluster/tests/partition_allocator_tests.cc
Labels: area/redpanda

#2188 cluster: add health manager
  src/v/cluster/CMakeLists.txt
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/health_manager.cc
  src/v/cluster/health_manager.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/model/namespace.h
Labels: area/redpanda

#2208 Run k8s operator tests against local image
  src/go/k8s/Makefile
  src/go/k8s/tests/e2e/additional-configuration/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/admin-api-tls-client-auth/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/admin-api-tls/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/admin-api/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/confluent-schema-registry/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/confluent-schema-registry/02-create-schema.yaml
  src/go/k8s/tests/e2e/confluent-schema-registry/03-retrieve-schema.yaml
  src/go/k8s/tests/e2e/create-topic-given-cert-secret/01-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/create-topic-given-cert-secret/03-create-topic.yaml
  src/go/k8s/tests/e2e/create-topic-given-cm-secret-client-auth/01-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/create-topic-given-cm-secret-client-auth/03-create-topic.yaml
  src/go/k8s/tests/e2e/create-topic-given-issuer-with-client-auth/01-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/create-topic-given-issuer-with-client-auth/03-create-topic.yaml
  src/go/k8s/tests/e2e/create-topic-given-issuer/01-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/create-topic-given-issuer/03-create-topic.yaml
  src/go/k8s/tests/e2e/create-topic-with-client-auth/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/create-topic-with-client-auth/02-create-topic.yaml
  src/go/k8s/tests/e2e/external-connectivity/00-external-connectivity.yaml
  src/go/k8s/tests/e2e/node-select-tolerations/02-cluster-with-tolerations.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-sasl/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-sasl/01-create-topic.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-sasl/02-produce-message.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-sasl/03-consume-message.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-tls-client/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-tls-client/01-create-topic.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-tls-client/02-produce-message.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-tls-client/03-consume-message.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume/01-create-topic.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume/02-produce-message.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume/03-consume-message.yaml
  src/go/k8s/tests/e2e/produce-consume/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/produce-consume/01-create-topic.yaml
  src/go/k8s/tests/e2e/produce-consume/02-produce-message.yaml
  src/go/k8s/tests/e2e/produce-consume/04-delete-topic.yaml
  src/go/k8s/tests/e2e/produce-tls/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/produce-tls/02-create-topic.yaml
  src/go/k8s/tests/e2e/produce-tls/03-produce-message.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/01-create-schema.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/02-retrieve-schema.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/03-delete-schema.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/05-create-schema-with-tls.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/06-retrieve-schema-with-tls.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/07-delete-schema-with-tls.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/09-create-schema-with-client-tls.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/10-retrieve-schema.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/11-delete-schema.yaml
  src/go/k8s/tests/e2e/update-conf-image/01-assert.yaml
  src/go/k8s/tests/e2e/update-conf-image/01-current-image.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/01-assert.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/01-new-image.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/01-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/01-new-image.yaml
  src/go/k8s/tests/e2e/update-image-tls/01-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls/01-new-image.yaml
  src/go/k8s/tests/e2e/update/00-one-replica.yaml
Labels: area/k8s

#1818 Rpk ballast tuner
  docs/www/configuration.md
  src/go/rpk/pkg/cli/cmd/check.go
  src/go/rpk/pkg/cli/cmd/config.go
  src/go/rpk/pkg/cli/cmd/mode.go
  src/go/rpk/pkg/cli/cmd/redpanda.go
  src/go/rpk/pkg/cli/cmd/redpanda/check.go
  src/go/rpk/pkg/cli/cmd/redpanda/config.go
  src/go/rpk/pkg/cli/cmd/redpanda/config_test.go
  src/go/rpk/pkg/cli/cmd/redpanda/mode.go
  src/go/rpk/pkg/cli/cmd/redpanda/mode_test.go
  src/go/rpk/pkg/cli/cmd/redpanda/package.go
  src/go/rpk/pkg/cli/cmd/redpanda/start.go
  src/go/rpk/pkg/cli/cmd/redpanda/start_test.go
  src/go/rpk/pkg/cli/cmd/redpanda/stop.go
  src/go/rpk/pkg/cli/cmd/redpanda/stop_test.go
  src/go/rpk/pkg/cli/cmd/redpanda/tune.go
  src/go/rpk/pkg/cli/cmd/redpanda/tune_test.go
  src/go/rpk/pkg/cli/cmd/root.go
  src/go/rpk/pkg/cli/cmd/root_linux.go
  src/go/rpk/pkg/cli/cmd/start.go
  src/go/rpk/pkg/cli/cmd/stop.go
  src/go/rpk/pkg/cli/cmd/tune.go
  src/go/rpk/pkg/config/config.go
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/schema.go
  src/go/rpk/pkg/tuners/ballast/tuner.go
  src/go/rpk/pkg/tuners/executors/commands/write_sized_file.go
  src/go/rpk/pkg/tuners/executors/commands/write_sized_file_test.go
  src/go/rpk/pkg/tuners/factory/factory.go
  src/go/rpk/pkg/tuners/factory/factory_test.go
  src/go/rpk/pkg/tuners/redpanda_checkers.go
Labels: area/rpk, area/docs

#2185 Update topic replication default for release 21.8.1
  docs/www/configuration.md
Labels: area/docs

#2167 [data-policy] Controller layer for data-policy
  src/v/cluster/CMakeLists.txt
  src/v/cluster/cluster_utils.h
  src/v/cluster/commands.h
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/controller_stm.h
  src/v/cluster/data_policy_frontend.cc
  src/v/cluster/data_policy_frontend.h
  src/v/cluster/data_policy_manager.cc
  src/v/cluster/data_policy_manager.h
  src/v/cluster/errc.h
  src/v/cluster/fwd.h
  src/v/cluster/members_frontend.h
  src/v/cluster/security_frontend.cc
  src/v/cluster/security_frontend.h
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/data_policy_controller_test.cc
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/model/model.cc
  src/v/model/record_batch_types.h
  src/v/v8_engine/CMakeLists.txt
  src/v/v8_engine/data_policy.cc
  src/v/v8_engine/data_policy.h
Labels: area/redpanda

#2211 k8s/tests/e2e: Update config schema
  src/go/k8s/tests/e2e/additional-configuration/verify-config.sh
Labels: area/k8s, area/tests

#2210 Fixed marking group as being loaded
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
  tests/docker/Dockerfile
  tests/rptest/clients/kcl.py
  tests/rptest/tests/group_membership_test.py
Labels: area/redpanda

#2206 Controlling number of concurrent follower requests
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/raft/CMakeLists.txt
  src/v/raft/consensus.cc
  src/v/raft/follower_queue.cc
  src/v/raft/follower_queue.h
  src/v/raft/follower_stats.cc
  src/v/raft/follower_stats.h
  src/v/raft/replicate_entries_stm.cc
  src/v/redpanda/application.cc
  src/v/resource_mgmt/smp_groups.h
Labels: area/redpanda

#2219 v21.8.x backport 2157
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/application.cc
  src/v/rpc/server.cc
  src/v/rpc/types.h
Labels: area/redpanda, kind/backport

#2222 Backport #2210, #2202, #2206
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/cluster/tests/partition_allocator_tests.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
  src/v/raft/CMakeLists.txt
  src/v/raft/consensus.cc
  src/v/raft/follower_queue.cc
  src/v/raft/follower_queue.h
  src/v/raft/follower_stats.cc
  src/v/raft/follower_stats.h
  src/v/raft/replicate_entries_stm.cc
  src/v/redpanda/application.cc
  src/v/resource_mgmt/smp_groups.h
  tests/docker/Dockerfile
  tests/docker/Dockerfile.dockerignore
  tests/rptest/clients/kcl.py
  tests/rptest/tests/group_membership_test.py
Labels: area/redpanda, kind/backport

#2177 franz-go: convert rpk topic describe
  src/go/rpk/pkg/cli/cmd/cluster/metadata.go
  src/go/rpk/pkg/cli/cmd/cluster/offsets.go
  src/go/rpk/pkg/cli/cmd/topic.go
  src/go/rpk/pkg/cli/cmd/topic/describe.go
  src/go/rpk/pkg/cli/cmd/topic/describe_test.go
  src/go/rpk/pkg/cli/cmd/topic/info.go
  src/go/rpk/pkg/cli/cmd/topic_test.go
  src/go/rpk/pkg/kafka/client_franz.go
  src/go/rpk/pkg/out/out.go
Labels: area/rpk

#2227 rpk topic: franzify list, create, delete
  src/go/rpk/pkg/cli/cmd/topic.go
  src/go/rpk/pkg/cli/cmd/topic/create.go
  src/go/rpk/pkg/cli/cmd/topic/delete.go
  src/go/rpk/pkg/cli/cmd/topic/list.go
  src/go/rpk/pkg/cli/cmd/topic/produce.go
  src/go/rpk/pkg/cli/cmd/topic/produce_test.go
  src/go/rpk/pkg/cli/cmd/topic/utils.go
  src/go/rpk/pkg/cli/cmd/topic/utils_test.go
  src/go/rpk/pkg/cli/cmd/topic_test.go
Labels: area/rpk

#2224 Backport `Run k8s operator tests against local image`
  src/go/k8s/Makefile
  src/go/k8s/tests/e2e/additional-configuration/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/admin-api-tls-client-auth/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/admin-api-tls/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/admin-api/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/confluent-schema-registry/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/confluent-schema-registry/02-create-schema.yaml
  src/go/k8s/tests/e2e/confluent-schema-registry/03-retrieve-schema.yaml
  src/go/k8s/tests/e2e/create-topic-given-cert-secret/01-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/create-topic-given-cert-secret/03-create-topic.yaml
  src/go/k8s/tests/e2e/create-topic-given-cm-secret-client-auth/01-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/create-topic-given-cm-secret-client-auth/03-create-topic.yaml
  src/go/k8s/tests/e2e/create-topic-given-issuer-with-client-auth/01-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/create-topic-given-issuer-with-client-auth/03-create-topic.yaml
  src/go/k8s/tests/e2e/create-topic-given-issuer/01-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/create-topic-given-issuer/03-create-topic.yaml
  src/go/k8s/tests/e2e/create-topic-with-client-auth/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/create-topic-with-client-auth/02-create-topic.yaml
  src/go/k8s/tests/e2e/external-connectivity/00-external-connectivity.yaml
  src/go/k8s/tests/e2e/node-select-tolerations/02-cluster-with-tolerations.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-sasl/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-sasl/01-create-topic.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-sasl/02-produce-message.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-sasl/03-consume-message.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-tls-client/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-tls-client/01-create-topic.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-tls-client/02-produce-message.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume-tls-client/03-consume-message.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume/01-create-topic.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume/02-produce-message.yaml
  src/go/k8s/tests/e2e/pandaproxy-produce-consume/03-consume-message.yaml
  src/go/k8s/tests/e2e/produce-consume/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/produce-consume/01-create-topic.yaml
  src/go/k8s/tests/e2e/produce-consume/02-produce-message.yaml
  src/go/k8s/tests/e2e/produce-consume/04-delete-topic.yaml
  src/go/k8s/tests/e2e/produce-tls/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/produce-tls/02-create-topic.yaml
  src/go/k8s/tests/e2e/produce-tls/03-produce-message.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/01-create-schema.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/02-retrieve-schema.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/03-delete-schema.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/05-create-schema-with-tls.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/06-retrieve-schema-with-tls.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/07-delete-schema-with-tls.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/09-create-schema-with-client-tls.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/10-retrieve-schema.yaml
  src/go/k8s/tests/e2e/redpanda-schema-registry/11-delete-schema.yaml
  src/go/k8s/tests/e2e/update-conf-image/01-assert.yaml
  src/go/k8s/tests/e2e/update-conf-image/01-current-image.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/01-assert.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/01-new-image.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/01-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/01-new-image.yaml
  src/go/k8s/tests/e2e/update-image-tls/01-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls/01-new-image.yaml
  src/go/k8s/tests/e2e/update/00-one-replica.yaml
Labels: area/k8s

#2221 Fixed failing CI tests
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/redpanda/application.cc
  src/v/rpc/server.cc
  src/v/rpc/server.h
  tests/rptest/tests/node_operations_fuzzy_test.py
Labels: area/redpanda

#2216 Updates to use noglob with zsh.
  docs/www/kubernetes-external-connect.md
  docs/www/quick-start-kubernetes.md
Labels: area/docs

#2240 raft: fix occasional shutdown crash in heartbeat_manager
  src/v/raft/heartbeat_manager.cc
Labels: kind/bug, area/raft, area/redpanda

#1799 coproc: Ingest input topics up until the last_stable_offset()
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/coproc/CMakeLists.txt
  src/v/coproc/ntp_context.h
  src/v/coproc/offset_storage_utils.cc
  src/v/coproc/offset_storage_utils.h
  src/v/coproc/pacemaker.cc
  src/v/coproc/pacemaker.h
  src/v/coproc/script_context.cc
  src/v/coproc/script_context.h
  src/v/coproc/script_context_frontend.cc
  src/v/coproc/script_context_frontend.h
  src/v/coproc/tests/CMakeLists.txt
  src/v/coproc/tests/coproc_bench_tests.cc
  src/v/coproc/tests/fixtures/coproc_fixture_iface.h
  src/v/coproc/tests/fixtures/coproc_slim_fixture.cc
  src/v/coproc/tests/fixtures/coproc_slim_fixture.h
  src/v/coproc/tests/fixtures/coproc_test_fixture.cc
  src/v/coproc/tests/fixtures/coproc_test_fixture.h
  src/v/coproc/tests/offset_storage_utils_tests.cc
  src/v/coproc/tests/pacemaker_tests.cc
  src/v/coproc/tests/read_materialized_topic_test.cc
  src/v/coproc/tests/script_dispatcher_tests.cc
  src/v/coproc/tests/topic_ingestion_policy_tests.cc
  src/v/coproc/tests/utils/supervisor.cc
  src/v/redpanda/application.cc
  src/v/redpanda/tests/fixture.h
  src/v/storage/log_manager.cc
  src/v/storage/log_manager.h
Labels: area/redpanda

#2231 rpk topic list: fixup
  src/go/rpk/pkg/cli/cmd/cluster/metadata.go
  src/go/rpk/pkg/cli/cmd/topic/list.go
  tests/rptest/clients/rpk.py
  tests/rptest/tests/rpk_topic_test.py
Labels: area/rpk

#2233 Fixed metrics in RPC layer
  src/v/rpc/probes.cc
  src/v/rpc/simple_protocol.cc
Labels: area/redpanda

#2241 rpc: set minimum values on socket buffer sizes
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/property.h
Labels: kind/bug, area/redpanda

#2215 rpc: Fix transport shutdown/stop process to avoid UAF on ss::output_stream
  src/v/rpc/batched_output_stream.cc
  src/v/rpc/batched_output_stream.h
  src/v/rpc/transport.cc
Labels: kind/bug, area/redpanda

#2250 docs: use spaces instead of tabs for <tag>
  docs/www/kubernetes-external-connect.md
Labels: area/docs

#2076 k8s/tests: bump kuttl version to latest
  src/go/k8s/Makefile
  src/go/k8s/tests/e2e/update-conf-image/00-assert.yaml
  src/go/k8s/tests/e2e/update-conf-image/00-configurator.yaml
  src/go/k8s/tests/e2e/update-conf-image/02-assert.yaml
Labels: area/k8s

#2251 docs: fix more spacing for <tabs>
  docs/www/quick-start-kubernetes.md
Labels: area/docs

#2253 Added more context to logs in RPC server
  src/v/rpc/server.cc
Labels: area/redpanda

#2194 Grafana fixes
  src/go/rpk/pkg/cli/cmd/generate/grafana.go
  src/go/rpk/pkg/cli/cmd/generate/grafana_test.go
Labels: area/rpk

#2257 rpk: Upgrade containerd version
  src/go/k8s/go.sum
  src/go/rpk/go.mod
  src/go/rpk/go.sum
Labels: area/rpk, area/k8s

#2260 rpc: fix exception on transport stop during shutdown
  src/v/raft/tests/raft_group_fixture.h
  src/v/rpc/transport.cc
Labels: kind/bug, area/redpanda

#2226 operator/certificates: fix CommonName generation and domains added to cert
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/pkg/resources/certmanager/admin_api.go
  src/go/k8s/pkg/resources/certmanager/certificate.go
  src/go/k8s/pkg/resources/certmanager/common_name.go
  src/go/k8s/pkg/resources/certmanager/kafka_api.go
  src/go/k8s/pkg/resources/certmanager/pandaproxy_api.go
  src/go/k8s/pkg/resources/certmanager/pki.go
  src/go/k8s/pkg/resources/certmanager/schemaregistry_api.go
  src/go/k8s/pkg/resources/certmanager/type_helpers.go
  src/go/k8s/tests/e2e/external-connectivity/00-assert.yaml
  src/go/k8s/tests/e2e/external-connectivity/00-external-connectivity.yaml
Labels: area/k8s

#2263 Backport 2215, 2253, 2260
  src/v/raft/tests/raft_group_fixture.h
  src/v/rpc/batched_output_stream.cc
  src/v/rpc/batched_output_stream.h
  src/v/rpc/server.cc
  src/v/rpc/transport.cc
Labels: area/redpanda, kind/backport

#2259 v21.8.x backport #2226: operator/certificates: fix CommonName generation and domains added to cert
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/pkg/resources/certmanager/admin_api.go
  src/go/k8s/pkg/resources/certmanager/certificate.go
  src/go/k8s/pkg/resources/certmanager/common_name.go
  src/go/k8s/pkg/resources/certmanager/kafka_api.go
  src/go/k8s/pkg/resources/certmanager/pandaproxy_api.go
  src/go/k8s/pkg/resources/certmanager/pki.go
  src/go/k8s/pkg/resources/certmanager/schemaregistry_api.go
  src/go/k8s/pkg/resources/certmanager/type_helpers.go
  src/go/k8s/tests/e2e/external-connectivity/00-assert.yaml
  src/go/k8s/tests/e2e/external-connectivity/00-external-connectivity.yaml
Labels: area/k8s, kind/backport

#2267 Improved logging from the process of applying cleanup policy
  src/v/storage/disk_log_impl.cc
  src/v/storage/logger.cc
  src/v/storage/logger.h
  src/v/storage/probe.h
  src/v/storage/segment_utils.cc
Labels: area/redpanda

#2273 Fixed reading from topics after cleanup policy was updated from compaction to deletion
  src/v/storage/disk_log_impl.cc
  src/v/storage/log_reader.cc
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

#2248 Update CODEOWNERS file
  .github/CODEOWNERS
Labels: area/build

#2266 switch to unsigned size type
  src/v/serde/serde.h
Labels: area/redpanda

#2280 authorizer: allow idempotentwrite acl by default
  src/v/security/authorizer.h
Labels: area/redpanda

#2270 schema_registry: sanitize avro schema
  src/v/pandaproxy/schema_registry/avro.cc
  src/v/pandaproxy/schema_registry/avro.h
  src/v/pandaproxy/schema_registry/requests/post_subject_versions.h
  src/v/pandaproxy/schema_registry/schema_util.cc
  src/v/pandaproxy/schema_registry/schema_util.h
  src/v/pandaproxy/schema_registry/test/CMakeLists.txt
  src/v/pandaproxy/schema_registry/test/sanitize_avro.cc
Labels: area/redpanda

#2295 codeowners: add denis to raft group
  .github/CODEOWNERS
Labels: area/build

#2296 k8s/test: add KUTLL_TEST_FLAGS variable
  src/go/k8s/Makefile
Labels: area/k8s

#2297 rpk: fix vectorized/wasm-api version for wasm generate
  src/go/rpk/pkg/cli/cmd/wasm/generate.go
  src/go/rpk/pkg/cli/cmd/wasm/template/package_json.go
Labels: area/rpk

#2274 rpk topic: set-config redux; rename to alter-config
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cmd/cluster/metadata.go
  src/go/rpk/pkg/cli/cmd/topic.go
  src/go/rpk/pkg/cli/cmd/topic/config.go
  src/go/rpk/pkg/kafka/client_franz.go
Labels: area/rpk

#2299 rpk: fix two small breakages from #2274; fix docs
  docs/www/rpk-commands.md
  src/go/k8s/go.sum
  src/go/rpk/pkg/cli/cmd/cluster/metadata.go
Labels: area/rpk, area/docs, area/k8s

#2308 rpk topic describe: deref topic pointer
  src/go/rpk/pkg/cli/cmd/topic/describe.go
Labels: area/rpk

#2285 v21.8.x backport 2270
  src/v/pandaproxy/schema_registry/avro.cc
  src/v/pandaproxy/schema_registry/avro.h
  src/v/pandaproxy/schema_registry/requests/post_subject_versions.h
  src/v/pandaproxy/schema_registry/schema_util.cc
  src/v/pandaproxy/schema_registry/schema_util.h
  src/v/pandaproxy/schema_registry/test/CMakeLists.txt
  src/v/pandaproxy/schema_registry/test/sanitize_avro.cc
Labels: area/redpanda, area/schema_registry, kind/backport

#2209 [data-policy]: Integrating data-policy with kafka API
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/data_policy_manager.cc
  src/v/cluster/data_policy_manager.h
  src/v/cluster/tests/data_policy_controller_test.cc
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
  src/v/cluster/types.h
  src/v/kafka/server/handlers/alter_configs.cc
  src/v/kafka/server/handlers/describe_configs.cc
  src/v/kafka/server/handlers/details/data_policy.h
  src/v/kafka/server/handlers/incremental_alter_configs.cc
  src/v/kafka/server/handlers/topics/types.h
  src/v/kafka/server/protocol.cc
  src/v/kafka/server/protocol.h
  src/v/kafka/server/request_context.h
  src/v/kafka/server/tests/alter_config_test.cc
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/redpanda/tests/fixture.h
  src/v/v8_engine/CMakeLists.txt
  src/v/v8_engine/data_policy.cc
  src/v/v8_engine/data_policy.h
  src/v/v8_engine/data_policy_table.cc
  src/v/v8_engine/data_policy_table.h
  tests/rptest/clients/types.py
  tests/rptest/tests/data_policy_test.py
Labels: area/redpanda

#2290 Fixed partition not being writable during recovery when moving from one node to another
  src/v/raft/group_configuration.h
  src/v/raft/tests/membership_test.cc
Labels: area/redpanda

#2292 utils: Add stream utils
  src/v/utils/stream_utils.h
  src/v/utils/tests/CMakeLists.txt
  src/v/utils/tests/input_stream_fanout_test.cc
Labels: area/redpanda

#2306 rpc/server: wait_for_shutdown should initiate shutdown sequence
  src/v/rpc/server.cc
Labels: area/redpanda

#2254 storage: make chunk_size configurable at runtime
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/storage/chunk_cache.h
  src/v/storage/segment_appender.cc
  src/v/storage/segment_appender.h
  src/v/storage/segment_appender_chunk.h
  src/v/storage/segment_utils.cc
  src/v/storage/tests/appender_chunk_manipulations.cc
  src/v/storage/tests/half_page_concurrent_dispatch.cc
Labels: kind/enhance, area/redpanda

#2328 raft/cluster: shutdown fixes
  src/v/raft/mux_state_machine.h
  src/v/raft/recovery_throttle.h
  src/v/redpanda/application.cc
Labels: area/redpanda

#2302 tests: refinements to raft ducktape tests
  tests/rptest/clients/kafka_cli_tools.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/create_partitions_test.py
  tests/rptest/tests/end_to_end.py
  tests/rptest/tests/leadership_transfer_test.py
  tests/rptest/tests/node_operations_fuzzy_test.py
  tests/rptest/tests/partition_movement_test.py
Labels: area/raft, kind/tech-debt

#2316 Fixed recovery when there are gaps which are larger than max of `int32_t`
  src/v/raft/consensus_utils.cc
  src/v/raft/tests/consensus_utils_test.cc
Labels: area/redpanda

#2324 admin: ignore no-op partition movements with 200 response
  src/v/redpanda/admin_server.cc
Labels: area/redpanda, kind/tech-debt

#2330 storage: fix regressions from PR #2254
  src/v/storage/chunk_cache.h
  src/v/storage/tests/appender_chunk_manipulations.cc
Labels: kind/bug, area/storage, area/redpanda

#2333 wasm engine ignores value for custom port and always chooses default
  src/js/modules/rpc/server.ts
  src/js/modules/rpc/service.ts
Labels: area/wasm

#2331 schema_registry: Sanitize Avro union fields
  src/v/pandaproxy/schema_registry/avro.cc
  src/v/pandaproxy/schema_registry/test/sanitize_avro.cc
Labels: kind/bug, area/redpanda, area/schema_registry

#2265 rpk: Update `rpk mode prod` command suggestion
  src/go/rpk/pkg/cli/cmd/redpanda/tune.go
Labels: area/rpk, kind/tech-debt

#2255 tools: implement --repeat in cmake_test.py
  tools/cmake_test.py
Labels: kind/enhance

#2334 schema_registry: Sanitize Avro union fields
  src/v/pandaproxy/schema_registry/avro.cc
  src/v/pandaproxy/schema_registry/test/sanitize_avro.cc
Labels: kind/bug, area/redpanda, area/schema_registry, kind/backport

#2338 r/utils: fixed filling gaps with single batch missing
  src/v/raft/consensus_utils.cc
  src/v/raft/tests/consensus_utils_test.cc
  tests/rptest/services/redpanda.py
Labels: area/redpanda

#2336 Backport #2316, #2328, #2338
  src/v/raft/consensus_utils.cc
  src/v/raft/mux_state_machine.h
  src/v/raft/recovery_throttle.h
  src/v/raft/tests/consensus_utils_test.cc
  src/v/redpanda/application.cc
  tests/rptest/services/redpanda.py
Labels: area/redpanda

#2291 admin: fix crash & cluster unavailability from moving partition to nonexistent shard
  src/v/cluster/scheduling/allocation_state.cc
  src/v/cluster/scheduling/allocation_state.h
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
  src/v/redpanda/admin_server.cc
  tests/rptest/tests/partition_movement_test.py
Labels: kind/bug, area/redpanda

#2342 Reduce the number of includes brought into application.h by coproc
  src/v/coproc/CMakeLists.txt
  src/v/coproc/api.cc
  src/v/coproc/api.h
  src/v/coproc/fwd.h
  src/v/coproc/ntp_context.h
  src/v/coproc/offset_storage_utils.cc
  src/v/coproc/pacemaker.cc
  src/v/coproc/pacemaker.h
  src/v/coproc/script_context.cc
  src/v/coproc/script_context.h
  src/v/coproc/script_context_backend.cc
  src/v/coproc/script_context_backend.h
  src/v/coproc/script_dispatcher.cc
  src/v/coproc/sys_refs.h
  src/v/coproc/tests/pacemaker_tests.cc
  src/v/coproc/tests/topic_ingestion_policy_tests.cc
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
Labels: area/redpanda

#2235 Updates tx layer to support hot log truncations
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/cluster/tx_gateway_frontend.cc
  src/v/raft/state_machine.cc
  src/v/raft/state_machine.h
Labels: area/redpanda

#2341 Fix controller api race
  src/v/cluster/controller_api.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
Labels: area/redpanda

#1999 coproc: add logic for storing js scripts in internal coproc topic without deploying it to nodejs
  src/go/rpk/pkg/cli/cmd/wasm/common.go
  src/go/rpk/pkg/cli/cmd/wasm/deploy.go
  src/go/rpk/pkg/cli/cmd/wasm/deploy_test.go
  src/go/rpk/pkg/cli/cmd/wasm/remove.go
  src/go/rpk/pkg/cli/cmd/wasm/remove_test.go
  src/v/coproc/CMakeLists.txt
  src/v/coproc/api.cc
  src/v/coproc/api.h
  src/v/coproc/errc.h
  src/v/coproc/event_handler.cc
  src/v/coproc/event_handler.h
  src/v/coproc/event_listener.cc
  src/v/coproc/event_listener.h
  src/v/coproc/tests/CMakeLists.txt
  src/v/coproc/tests/event_handler_tests.cc
  src/v/coproc/tests/utils/event_publisher.cc
  src/v/coproc/tests/utils/wasm_event_generator.cc
  src/v/coproc/tests/utils/wasm_event_generator.h
  src/v/coproc/tests/wasm_event_tests.cc
  src/v/coproc/wasm_event.cc
  src/v/coproc/wasm_event.h
Labels: area/rpk, area/redpanda

#2325 Fix offset translation after log eviction
  src/v/kafka/server/offset_translator.h
  src/v/kafka/server/tests/translation_test.cc
  src/v/raft/configuration_bootstrap_state.cc
  src/v/raft/configuration_bootstrap_state.h
  src/v/raft/configuration_manager.cc
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/tests/bootstrap_configuration_test.cc
  src/v/raft/tests/configuration_manager_test.cc
  tests/rptest/tests/end_to_end.py
  tests/rptest/tests/simple_e2e_test.py
Labels: area/redpanda

#2347 docs: Add --set option to 'rpk redpanda start' documentation.
  docs/www/rpk-commands.md
Labels: kind/bug, area/docs

#2105 Docs to Dev
  docs/www/arbitrary-configuration.md
  docs/www/configuration.md
  docs/www/data-archiving.md
  docs/www/faq.md
  docs/www/kubernetes-additional-config.md
  docs/www/kubernetes-external-connect.md
  docs/www/production-deployment.md
  docs/www/quick-start-docker-CN.md
  docs/www/quick-start-docker.md
  docs/www/quick-start-kubernetes-CN.md
  docs/www/quick-start-kubernetes.md
  docs/www/quick-start-macos.md
  docs/www/rpk-commands.md
Labels: area/docs

#2349 v21.9.x/backport: #2235
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/cluster/tx_gateway_frontend.cc
  src/v/raft/state_machine.cc
  src/v/raft/state_machine.h
Labels: area/redpanda

#2182 archival: Limit segment upload idle time
  src/v/archival/archival_policy.cc
  src/v/archival/archival_policy.h
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/archival/service.cc
  src/v/archival/service.h
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/archival/tests/service_fixture.cc
  src/v/archival/tests/service_fixture.h
  src/v/archival/types.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/storage/parser.cc
  src/v/storage/parser.h
  src/v/storage/segment_appender_utils.cc
  src/v/storage/segment_appender_utils.h
  src/v/storage/segment_reader.cc
  src/v/storage/segment_reader.h
  tests/rptest/tests/archival_test.py
Labels: area/redpanda

#2359 Fix removing config when prefix truncating
  src/v/raft/configuration_manager.cc
  tests/rptest/tests/retention_policy_test.py
Labels: area/redpanda

#2354 ducky/simple_e2e_test: limit number of test producers
  tests/rptest/tests/simple_e2e_test.py
Labels: kind/bug, area/tests, need-backport

#2358 tests/partition_movement: refine verification in test_static
  tests/rptest/tests/partition_movement_test.py
Labels: kind/bug, area/raft, area/tests

#2301 admin: fix GET on partition details for controller topic
  src/v/redpanda/admin_server.cc
Labels: kind/enhance, area/redpanda

#2353 r/mux_stm: wait for gate closed before invalidating pending promises
  src/v/raft/mux_state_machine.h
  src/v/utils/expiring_promise.h
Labels: area/redpanda

#2356 docker: Select container count based on core count
  tests/docker/docker-compose.yml
  tests/docker/ducktape_cluster.json
  tests/docker/ducktape_cluster.json.j2
  tests/docker/ducktape_cluster.py
Labels: kind/enhance, area/tests

#2362 backport/v21.9.x: #2359
  src/v/raft/configuration_manager.cc
  tests/rptest/tests/retention_policy_test.py
Labels: area/redpanda

#2365 rpk topic alter-config: separate Short and Long
  src/go/rpk/pkg/cli/cmd/topic/config.go
Labels: area/rpk

#2366 s/disk_log_impl: added missing parameter to bogus timestamp log entry
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda

#2368 Backport #2366
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda

#2298 Make e2e tests more stable
  src/go/k8s/tests/e2e/produce-consume/01-create-topic.yaml
  src/go/k8s/tests/e2e/produce-consume/02-produce-message.yaml
Labels: area/k8s

#2071 raft: fix leadership instability on follower node restarts
  src/v/raft/consensus.cc
  src/v/raft/consensus_client_protocol.h
  src/v/raft/rpc_client_protocol.cc
  src/v/raft/rpc_client_protocol.h
  src/v/rpc/connection_cache.h
  src/v/rpc/reconnect_transport.h
  tests/rptest/clients/rpk.py
  tests/rptest/tests/raft_availability_test.py
Labels: area/raft, area/redpanda, kind/tech-debt

#2380 k8s: disable parallel test execution
  src/go/k8s/kuttl-test.yaml
Labels: kind/bug, area/k8s, area/tests

#2371 [rpk] Fix rpk wasm generate
  src/go/rpk/pkg/cli/cmd/wasm/generate.go
  src/go/rpk/pkg/cli/cmd/wasm/template/package_json.go
Labels: area/rpk

#2378 Fixed shutdown issues in replicate batcher
  src/v/raft/append_entries_buffer.cc
  src/v/raft/replicate_batcher.cc
  tests/rptest/tests/partition_movement_test.py
Labels: area/redpanda

#2389 Disable flaky tests
  src/v/cluster/tests/CMakeLists.txt
  tests/rptest/tests/nodes_decommissioning_test.py
  tests/rptest/tests/partition_movement_test.py
  tests/rptest/tests/retention_policy_test.py
Labels: area/redpanda, kind/tech-debt, area/tests

#2414 Correct allow-host param name in ACL creation docs
  docs/www/acls.md
Labels: area/docs

#2400 Logging remote client address in kafka trace logs
  src/v/kafka/server/connection_context.h
  src/v/kafka/server/request_context.h
  src/v/kafka/server/requests.cc
Labels: area/redpanda

#2405 tests/docker: use latest librdkafka release
  tests/docker/Dockerfile
  tests/rptest/chaos/redpanda_muservice.py
  tests/rptest/clients/kafka_cat.py
  tests/rptest/services/compatibility/compat_producer.py
Labels: kind/tech-debt, area/tests

#2410 cluster: add logging to decommissioning code path
  src/v/cluster/members_backend.cc
Labels: area/controller, area/redpanda, kind/tech-debt

#2420 application: log file handle limit on startup
  src/v/redpanda/application.cc
Labels: kind/enhance, area/redpanda

#2401 Convert the ACL command from sarama to franz-go
  src/go/k8s/go.sum
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cmd/acl.go
  src/go/rpk/pkg/cli/cmd/acl/common.go
  src/go/rpk/pkg/cli/cmd/acl/common_test.go
  src/go/rpk/pkg/cli/cmd/acl/create.go
  src/go/rpk/pkg/cli/cmd/acl/create_test.go
  src/go/rpk/pkg/cli/cmd/acl/delete.go
  src/go/rpk/pkg/cli/cmd/acl/delete_test.go
  src/go/rpk/pkg/cli/cmd/acl/list.go
  src/go/rpk/pkg/cli/cmd/acl/list_test.go
  src/go/rpk/pkg/cli/cmd/topic/config.go
  src/go/rpk/pkg/kafka/client_franz.go
  src/go/rpk/pkg/out/out.go
  src/go/rpk/pkg/out/out_test.go
Labels: area/rpk, area/k8s

#2223 Archival cache
  src/v/cloud_storage/CMakeLists.txt
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/cache_service.h
  src/v/cloud_storage/tests/CMakeLists.txt
  src/v/cloud_storage/tests/cache_test.cc
  src/v/cloud_storage/tests/cache_test_fixture.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

#2428 kafka/server: Improve kafka::map_topic_error_code v2
  src/v/kafka/server/errors.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_stm.cc
  src/v/kafka/server/handlers/create_acls.cc
  src/v/kafka/server/handlers/delete_acls.cc
  src/v/kafka/server/handlers/describe_acls.cc
  src/v/kafka/server/handlers/describe_configs.cc
  src/v/kafka/server/handlers/describe_groups.cc
  src/v/kafka/server/handlers/describe_log_dirs.cc
  src/v/kafka/server/handlers/incremental_alter_configs.cc
  src/v/kafka/server/handlers/list_groups.cc
  src/v/kafka/server/handlers/list_offsets.cc
  src/v/kafka/server/handlers/offset_commit.cc
  src/v/kafka/server/handlers/offset_fetch.cc
  src/v/kafka/server/handlers/txn_offset_commit.cc
  tests/rptest/tests/retention_policy_test.py
Labels: area/kafka, area/redpanda, ci-failure

#2364 kafka: print ip on auth fail
  src/v/kafka/server/connection_context.h
  src/v/kafka/server/protocol.cc
  src/v/security/sasl_authentication.h
Labels: area/redpanda

#2360 tests: reinstate tests that were silently not running
  tests/rptest/clients/rpk.py
  tests/rptest/tests/describe_topics_test.py
  tests/rptest/tests/kafka_client_compat_test.py
  tests/rptest/tests/log_level_test.py
  tests/rptest/tests/rpk_cluster_test.py
  tests/rptest/tests/rpk_config_test.py
Labels: kind/bug, area/tests

#2436 Adjusting incorrectly persisted configuration indices.
  src/v/kafka/server/offset_translator.h
  src/v/raft/configuration_manager.cc
  src/v/raft/configuration_manager.h
  src/v/raft/consensus.cc
Labels: area/redpanda

#2407 tests: raise on errors by default in admin, kafka clients
  tests/rptest/clients/kafka_cli_tools.py
  tests/rptest/clients/rpk.py
  tests/rptest/services/admin.py
  tests/rptest/tests/alter_topic_configuration_test.py
  tests/rptest/tests/data_policy_test.py
  tests/rptest/tests/node_operations_fuzzy_test.py
  tests/rptest/tests/partition_movement_test.py
Labels: kind/tech-debt, area/tests

#2413 cmake: update oss build to use same seastar as vectorized build
  cmake/oss.cmake.in
Labels: area/build, kind/tech-debt

#2319 cluster: fix update_properties overlapping with updates
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
  tests/rptest/clients/kafka_cat.py
  tests/rptest/clients/rpk.py
  tests/rptest/services/rpk_producer.py
  tests/rptest/tests/partition_movement_test.py
  tests/rptest/tests/raft_availability_test.py
Labels: kind/bug, area/raft, area/controller, area/redpanda

#2344 Disseminating materialized topics
  src/v/cluster/commands.h
  src/v/cluster/controller.cc
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
  src/v/cluster/errc.h
  src/v/cluster/members_backend.cc
  src/v/cluster/partition_leaders_table.cc
  src/v/cluster/partition_leaders_table.h
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/cluster/shard_table.h
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/cluster/topic_updates_dispatcher.cc
  src/v/cluster/topic_updates_dispatcher.h
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/kafka/server/errors.h
  src/v/kafka/server/tests/create_topics_test.cc
  src/v/kafka/server/tests/delete_topics_test.cc
  src/v/kafka/server/tests/find_coordinator_test.cc
  src/v/kafka/server/tests/produce_consume_test.cc
  src/v/redpanda/tests/fixture.h
Labels: area/redpanda

#2466 tests: tests/chaos out of tests/, add a README explaining
  tests/rptest/chaos_tests/README.md
  tests/rptest/chaos_tests/__init__.py
  tests/rptest/chaos_tests/baseline_test.py
  tests/rptest/chaos_tests/chaos_base_test.py
  tests/rptest/chaos_tests/isolate_follower_test.py
  tests/rptest/chaos_tests/isolate_leader_test.py
  tests/rptest/chaos_tests/ruinio_follower_test.py
  tests/rptest/chaos_tests/ruinio_leader_test.py
  tests/rptest/chaos_tests/slowio_follower_test.py
  tests/rptest/chaos_tests/slowio_leader_test.py
  tests/rptest/chaos_tests/suspend_follower_test.py
  tests/rptest/chaos_tests/suspend_leader_test.py
  tests/rptest/chaos_tests/terminate_follower_test.py
  tests/rptest/chaos_tests/terminate_leader_test.py
Labels: kind/tech-debt, area/tests

#2469 tests: remove produce_bench_test
  tests/rptest/tests/produce_bench_test.py
Labels: kind/tech-debt, area/tests

#2472 Add missing enumeration to switch statement
  src/v/kafka/server/errors.h
Labels: area/redpanda

#2468 tests: update PartitionMovementTest.test_overlapping_changes
  tests/rptest/tests/partition_movement_test.py
Labels: kind/bug, area/tests

#2464 Fix imports in prefix_truncate_recovery_test
  tests/rptest/tests/prefix_truncate_recovery_test.py
  tests/setup.py
Labels: kind/bug, area/tests

#2450 Changed semantics of `partition_count` in CreatePartitions API
  src/v/cluster/tests/create_partitions_test.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/topics_frontend.cc
  src/v/cluster/types.cc
  src/v/cluster/types.h
  tests/rptest/clients/kafka_cli_tools.py
  tests/rptest/tests/create_partitions_test.py
Labels: area/redpanda, need-backport

#2437 id_allocator_stm: changed base from state_machine to persisted_stm
  src/v/cluster/id_allocator_frontend.cc
  src/v/cluster/id_allocator_stm.cc
  src/v/cluster/id_allocator_stm.h
  src/v/cluster/partition.cc
  src/v/cluster/tests/id_allocator_stm_test.cc
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
Labels: area/redpanda

#2458 tests: correct num_nodes definitions
  tests/rptest/tests/group_membership_test.py
  tests/rptest/tests/prefix_truncate_recovery_test.py
Labels: kind/tech-debt, area/tests

#2480 Backport #2441: schema_registry: Sanitize type names and namespaces
  src/v/pandaproxy/schema_registry/avro.cc
  src/v/pandaproxy/schema_registry/test/sanitize_avro.cc
Labels: kind/bug, area/redpanda, area/schema_registry, kind/backport

#2415 Protecting log operations with gate
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
Labels: area/redpanda

#2481 Backport #2437: changed base from state_machine to persisted_stm
  src/v/cluster/id_allocator_frontend.cc
  src/v/cluster/id_allocator_stm.cc
  src/v/cluster/id_allocator_stm.h
  src/v/cluster/partition.cc
  src/v/cluster/tests/id_allocator_stm_test.cc
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
Labels: area/redpanda

#2449 r/mux_stm: fixed possible double set of promise
  src/v/raft/mux_state_machine.h
Labels: area/redpanda

#2432 rpk wasm: convert to franz-go, simplify
  src/go/rpk/pkg/cli/cmd/wasm.go
  src/go/rpk/pkg/cli/cmd/wasm/common.go
  src/go/rpk/pkg/cli/cmd/wasm/deploy.go
  src/go/rpk/pkg/cli/cmd/wasm/deploy_test.go
  src/go/rpk/pkg/cli/cmd/wasm/generate.go
  src/go/rpk/pkg/cli/cmd/wasm/generate_test.go
  src/go/rpk/pkg/cli/cmd/wasm/remove.go
  src/go/rpk/pkg/cli/cmd/wasm/remove_test.go
  src/go/rpk/pkg/cli/cmd/wasm/template/package_json.go
  src/go/rpk/pkg/cli/cmd/wasm/template/wasm.go
  src/go/rpk/pkg/cli/cmd/wasm/template/wasm_test_case.go
  src/go/rpk/pkg/cli/cmd/wasm/template/webpack.go
  src/go/rpk/pkg/testfs/testfs.go
Labels: area/rpk
