Repository redpanda-data/redpanda, pull requests merged in 2022-02, with the labels that each got.

#3660 Backport #3607 (Improve SI memory layout)
  src/v/archival/tests/service_fixture.cc
  src/v/cloud_storage/manifest.cc
  src/v/cloud_storage/manifest.h
  src/v/cloud_storage/offset_translation_layer.cc
  src/v/cloud_storage/offset_translation_layer.h
  src/v/cloud_storage/partition_recovery_manager.cc
  src/v/cloud_storage/partition_recovery_manager.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/tests/manifest_test.cc
  src/v/cloud_storage/tests/offset_translation_layer_test.cc
  src/v/cloud_storage/tests/remote_partition_test.cc
  src/v/cloud_storage/tests/remote_segment_test.cc
  src/v/cluster/archival_metadata_stm.cc
Labels: area/redpanda

#3658 tests: extend RESTART_LOG_ALLOW_LIST
  tests/rptest/services/redpanda.py
Labels: kind/bug, area/tests

#3642 V21.11.x backport3511
  src/v/cloud_storage/manifest.cc
  src/v/cloud_storage/manifest.h
  src/v/json/allocator.h
  src/v/json/document.h
  src/v/json/logger.h
Labels: area/redpanda

#3671 c/dissemination_service: arm dissemination timer unconditionally
  src/v/cluster/metadata_dissemination_service.cc
Labels: area/redpanda

#3675 cluster: fix metrics reporter on single node clusters
  src/v/cluster/metrics_reporter.cc
  tests/rptest/tests/metrics_reporter_test.py
Labels: kind/bug, area/controller, area/redpanda

#3637 config: wire up validation & add bounded_property
  src/v/cluster/config_manager.cc
  src/v/config/base_property.h
  src/v/config/bounded_property.h
  src/v/config/config_store.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/node_config.cc
  src/v/config/node_config.h
  src/v/config/property.h
  src/v/config/tests/CMakeLists.txt
  src/v/config/tests/advertised_kafka_api_test.cc
  src/v/config/tests/bounded_property_test.cc
  src/v/config/tests/config_store_test.cc
  src/v/kafka/server/quota_manager.cc
  src/v/kafka/server/quota_manager.h
  src/v/redpanda/admin_server.cc
  src/v/redpanda/application.cc
Labels: kind/enhance, area/controller, area/redpanda

#3678 fix ducktape test name typo
  tests/rptest/tests/node_operations_fuzzy_test.py
Labels: area/tests

#3657 c/members_backend: refresh not requested reallocations on leader change
  src/v/cluster/members_backend.cc
  src/v/cluster/members_backend.h
Labels: area/redpanda

#3709 Remove `docs/www` folder
  docs/www/acls.md
  docs/www/autotune.md
  docs/www/configuration.md
  docs/www/data-archiving.md
  docs/www/data-migration.md
  docs/www/faq.md
  docs/www/guide-nodejs.md
  docs/www/guide-rpk-container.md
  docs/www/images/shadow_indexing_arch.png
  docs/www/intro-to-events.md
  docs/www/kubernetes-additional-config.md
  docs/www/kubernetes-connectivity.md
  docs/www/kubernetes-external-connect.md
  docs/www/monitoring.md
  docs/www/production-deployment-automation.md
  docs/www/production-deployment.md
  docs/www/quick-start-docker-CN.md
  docs/www/quick-start-docker.md
  docs/www/quick-start-kubernetes-CN.md
  docs/www/quick-start-kubernetes.md
  docs/www/quick-start-linux.md
  docs/www/quick-start-macos.md
  docs/www/quick-start-windows.md
  docs/www/rpk-commands.md
  docs/www/shadow-indexing.md
  docs/www/support.md
  docs/www/tls-kubernetes.md
  docs/www/well-known-io.md
Labels: area/docs

#3664 pandaproxy: Improve header validation
  src/v/pandaproxy/api/api-doc/header.json
  src/v/pandaproxy/api/api-doc/rest.json
  src/v/pandaproxy/rest/handlers.cc
  tests/rptest/tests/pandaproxy_test.py
Labels: kind/bug, area/redpanda, area/pandaproxy

#3663 schema_registry/proto: Accept protobuf as an encoded file descriptor
  src/v/pandaproxy/schema_registry/protobuf.cc
  tests/rptest/clients/python_librdkafka_serde_client.py
  tests/rptest/tests/schema_registry_test.py
  tests/setup.py
Labels: kind/enhance, area/redpanda, area/schema_registry

#3596 pandaproxy: Fix a crash when publishing multiple protobof schema
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
  src/v/pandaproxy/schema_registry/test/post_subjects_subject_version.cc
  tests/rptest/tests/schema_registry_test.py
Labels: kind/bug, area/redpanda, area/schema_registry, need-backport

#3721 Fixed TLS setup in metrics reporter client
  src/v/cluster/metrics_reporter.cc
  src/v/net/CMakeLists.txt
  src/v/net/tls.cc
  src/v/net/tls.h
  src/v/s3/client.cc
Labels: area/redpanda

#3724 Backport fix for #3639
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook_test.go
Labels: area/k8s

#3718 schema_registry/store: Attempt to avoid miscompilation on clang 12.0.1
  src/v/pandaproxy/schema_registry/sharded_store.cc
Labels: area/redpanda

#3674 Backport of #3558 #3617 #3671
  src/v/cluster/controller_backend.cc
  src/v/cluster/metadata_dissemination_service.cc
  src/v/storage/compaction_reducers.cc
  tests/rptest/tests/partition_movement_test.py
Labels: area/redpanda

#3673 Backport v21.11.x pandaproxy schema registry
  docs/www/configuration.md
  src/v/cloud_storage/partition_recovery_manager.cc
  src/v/cloud_storage/recursive_directory_walker.cc
  src/v/coproc/script_context_backend.cc
  src/v/coproc/tests/fixtures/fiber_mock_fixture.cc
  src/v/coproc/tests/pacemaker_tests.cc
  src/v/kafka/client/broker.h
  src/v/kafka/client/client.cc
  src/v/kafka/client/client.h
  src/v/kafka/client/consumer.cc
  src/v/kafka/client/consumer.h
  src/v/pandaproxy/api/api-doc/header.json
  src/v/pandaproxy/api/api-doc/rest.json
  src/v/pandaproxy/error.cc
  src/v/pandaproxy/error.h
  src/v/pandaproxy/rest/configuration.cc
  src/v/pandaproxy/rest/configuration.h
  src/v/pandaproxy/rest/handlers.cc
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
  src/v/pandaproxy/schema_registry/test/post_subjects_subject_version.cc
  src/v/redpanda/application.cc
  src/v/s3/tests/s3_client_test.cc
  tests/rptest/clients/python_librdkafka_serde_client.py
  tests/rptest/tests/pandaproxy_test.py
  tests/rptest/tests/schema_registry_test.py
  tests/setup.py
Labels: area/docs, area/redpanda, area/pandaproxy, area/schema_registry, kind/backport, backport/21.11.x

#3463 cluster/health: factor out node-local state, make syscall async
  src/v/cluster/CMakeLists.txt
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
  src/v/cluster/health_monitor_types.cc
  src/v/cluster/health_monitor_types.h
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/node/local_monitor.cc
  src/v/cluster/node/local_monitor.h
  src/v/cluster/node/types.cc
  src/v/cluster/node/types.h
  src/v/cluster/tests/health_monitor_test.cc
  src/v/redpanda/admin_server.cc
  src/v/storage/log_manager.h
Labels: area/redpanda

#3722 Fix partial truncation
  src/v/raft/consensus.cc
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda

#3727 Metrics reporter backport
  src/v/cluster/CMakeLists.txt
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/fwd.h
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/metrics_reporter.h
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/metrics_reporter_test.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/rpc/CMakeLists.txt
  src/v/rpc/tls.cc
  src/v/rpc/tls.h
  src/v/rpc/transport.cc
  src/v/s3/client.cc
  tests/docker/Dockerfile
  tests/docker/Dockerfile.dockerignore
  tests/python/simple_http_server/simple_http_server.py
  tests/rptest/services/http_server.py
  tests/rptest/services/templates/redpanda.yaml
  tests/rptest/tests/metrics_reporter_test.py
Labels: area/redpanda

#3736 rename vectorizedio to redpanda-data for top-level md files
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  README_CN.md
  SECURITY.md
Labels: area/docs

#3676 c/metadata_dissemination: use health report to udpdate leaders
  src/v/cluster/metadata_dissemination_service.cc
Labels: area/redpanda

#3737 kafka/server: quiet high-frequency log message
  src/v/kafka/server/handlers/fetch.cc
Labels: area/redpanda

#3735 cloud_storage: refactor manifest
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/archival/tests/service_fixture.cc
  src/v/archival/tests/service_fixture.h
  src/v/archival/tests/service_test.cc
  src/v/cloud_storage/CMakeLists.txt
  src/v/cloud_storage/manifest.cc
  src/v/cloud_storage/manifest.h
  src/v/cloud_storage/offset_translation_layer.cc
  src/v/cloud_storage/offset_translation_layer.h
  src/v/cloud_storage/partition_recovery_manager.cc
  src/v/cloud_storage/partition_recovery_manager.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/tests/manifest_test.cc
  src/v/cloud_storage/tests/offset_translation_layer_test.cc
  src/v/cloud_storage/tests/remote_partition_test.cc
  src/v/cloud_storage/tests/remote_segment_test.cc
  src/v/cloud_storage/tests/remote_test.cc
  src/v/cloud_storage/topic_manifest.cc
  src/v/cloud_storage/topic_manifest.h
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
Labels: area/redpanda

#3748 tests: fix race in configuration_update_test
  tests/rptest/tests/configuration_update_test.py
Labels: kind/bug, area/tests

#3732 Fix consumer group recovery
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_stm.h
Labels: area/redpanda

#3743 Retention archival fix
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  tests/rptest/tests/retention_policy_test.py
Labels: area/redpanda

#3757 tests/create_partitions_test: disable leader balancer
  tests/rptest/tests/create_partitions_test.py
Labels: kind/bug, area/tests

#3758 Backport of #3743, #3732
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_stm.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  tests/rptest/tests/retention_policy_test.py
Labels: area/redpanda

#3759 backport/V21.11.x group patch
  src/go/k8s/go.sum
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cmd/group/seek.go
Labels: area/rpk, area/k8s

#3711 cloud_storage: add unit tests for directory walker
  src/v/cloud_storage/tests/CMakeLists.txt
  src/v/cloud_storage/tests/directory_walker_test.cc
Labels: area/redpanda

#3635 rpk: admin API client fixes for partially unavailable clusters & transient errors
  src/go/k8s/go.sum
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/api/admin/admin.go
  src/go/rpk/pkg/api/admin/admin_test.go
  src/go/rpk/pkg/api/admin/api_config.go
  src/go/rpk/pkg/api/admin/api_metrics.go
  src/go/rpk/pkg/api/admin/api_node_config.go
  src/v/redpanda/admin_server.cc
  src/v/security/credential_store.h
  src/v/security/scram_algorithm.h
  tests/rptest/clients/rpk.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/rpk_cluster_test.py
  tests/rptest/tests/scram_test.py
Labels: kind/enhance, area/rpk, area/redpanda, area/k8s

#3728 codeowners: tweak ivotron's ownership of /tests
  .github/CODEOWNERS
Labels: area/build

#3746 cloud_storage: move partition_manifest to a separate file
  src/v/archival/ntp_archiver_service.h
  src/v/archival/service.h
  src/v/archival/tests/service_fixture.cc
  src/v/archival/tests/service_fixture.h
  src/v/cloud_storage/CMakeLists.txt
  src/v/cloud_storage/base_manifest.h
  src/v/cloud_storage/offset_translation_layer.cc
  src/v/cloud_storage/offset_translation_layer.h
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/partition_recovery_manager.cc
  src/v/cloud_storage/remote.h
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/tests/CMakeLists.txt
  src/v/cloud_storage/tests/offset_translation_layer_test.cc
  src/v/cloud_storage/tests/partition_manifest_test.cc
  src/v/cloud_storage/tests/remote_partition_test.cc
  src/v/cloud_storage/tests/remote_segment_test.cc
  src/v/cloud_storage/tests/s3_imposter.h
  src/v/cloud_storage/topic_manifest.cc
  src/v/cloud_storage/topic_manifest.h
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
  src/v/cluster/partition.h
Labels: area/redpanda

#3654 idempotency: support compacted topics
  src/v/cluster/partition.cc
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  tests/rptest/tests/idempotency_test.py
Labels: area/redpanda, area/transactions

#3717 schema_registry/store: Don't depend on argument evaluation order
  src/v/pandaproxy/schema_registry/sharded_store.cc
Labels: area/redpanda, kind/tech-debt, area/schema_registry

#3781 Backport #3769 prevent deadlock on archival shutdown
  src/v/cluster/archival_metadata_stm.cc
  src/v/utils/retry_chain_node.cc
  src/v/utils/retry_chain_node.h
Labels: area/redpanda

#3716 kafka/cluster: fix ordering of listener startups vs. joining cluster
  src/v/cluster/members_manager.cc
  src/v/cluster/members_manager.h
  src/v/cluster/members_table.cc
  src/v/cluster/members_table.h
  src/v/kafka/client/test/fixture.h
  src/v/kafka/server/tests/topic_recreate_test.cc
  src/v/platform/stop_signal.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/redpanda/tests/fixture.h
Labels: kind/bug, area/redpanda

#3783 tests: fix port-waiting at end of FranzGoVerifiableTest
  tests/rptest/tests/franz_go_verifiable_test.py
Labels: kind/bug, area/tests

#3480 tests: add many_partitions_test
  tests/docker/Dockerfile
  tests/rptest/services/redpanda.py
  tests/rptest/services/rpk_consumer.py
  tests/rptest/services/rpk_producer.py
  tests/rptest/tests/many_partitions_test.py
  tests/rptest/tests/redpanda_test.py
  tests/setup.py
Labels: kind/enhance, area/tests

#3782 Backport v21.11.x pr3718: schema_registry/store: Attempt to avoid miscompilation
  src/v/pandaproxy/schema_registry/sharded_store.cc
Labels: kind/bug, area/redpanda, area/schema_registry, kind/backport, backport/21.11.x

#3761 kafka: expire pending group members
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/member.cc
  src/v/kafka/server/tests/group_test.cc
Labels: area/redpanda

#3499 Increase parallelism of the consumer groups parts of transacitons
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/utils/mutex.h
Labels: area/redpanda, area/transactions

#3773 operator: Allow Redpanda resources to be directly configured
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook_test.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/controllers/redpanda/cluster_controller_test.go
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/pkg/resources/statefulset_test.go
Labels: kind/enhance, area/k8s

#3793 v21.11.x Backport #3773: operator: Allow redpanda resources to be directly configured
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook_test.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/controllers/redpanda/cluster_controller_test.go
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/pkg/resources/statefulset_test.go
Labels: kind/enhance, area/k8s, backport/21.11.x

#3784 model: change `operator<<` compaction_strategy to match `operator>>`
  src/v/model/model.cc
Labels: area/redpanda

#3785 cloud_storage: topic manifest test
  src/v/cloud_storage/tests/CMakeLists.txt
  src/v/cloud_storage/tests/partition_manifest_test.cc
  src/v/cloud_storage/tests/topic_manifest_test.cc
  src/v/cloud_storage/topic_manifest.cc
  src/v/cloud_storage/topic_manifest.h
Labels: area/redpanda

#3542 Raft replication simplification RFC
  docs/rfcs/20220119_raft_replication_simplification.md
Labels: area/docs, area/rfc

#3803 [v8_engine] Disable executor stress test in CI
  src/v/v8_engine/tests/CMakeLists.txt
  src/v/v8_engine/tests/executor_stress_test.cc
  src/v/v8_engine/tests/executor_test.cc
Labels: area/redpanda

#3807 tests/many_partitions_test: bump raft_election_timeout_ms
  tests/rptest/tests/many_partitions_test.py
Labels: kind/bug, area/tests

#3795 rpc/tls: Fix lint error
  src/v/rpc/tls.h
Labels: area/redpanda

#3806 model: change << compaction_strategy to match >>
  src/v/model/model.cc
Labels: area/redpanda

#3808 tests: update log allow list for partition_movement_test
  tests/rptest/tests/partition_movement_test.py
Labels: kind/bug, area/tests

#3791 rpk: implement remaining cluster config commands: reset, lint, set, get
  src/go/rpk/pkg/cli/cmd/cluster/config/config.go
  src/go/rpk/pkg/cli/cmd/cluster/config/get.go
  src/go/rpk/pkg/cli/cmd/cluster/config/import.go
  src/go/rpk/pkg/cli/cmd/cluster/config/lint.go
  src/go/rpk/pkg/cli/cmd/cluster/config/reset.go
  src/go/rpk/pkg/cli/cmd/cluster/config/set.go
  src/go/rpk/pkg/config/params.go
  tests/rptest/clients/rpk.py
  tests/rptest/clients/rpk_remote.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/cluster_config_test.py
  tests/rptest/tests/redpanda_test.py
Labels: kind/enhance, area/rpk

#3810 Make id_allocator less likely to stuck
  src/v/cluster/id_allocator_stm.cc
  src/v/cluster/id_allocator_stm.h
  src/v/cluster/persisted_stm.cc
  src/v/raft/consensus.cc
  src/v/raft/event_manager.cc
  src/v/raft/event_manager.h
Labels: area/redpanda

#3811 persisted_stm: fix directory not empty error
  src/v/cluster/id_allocator_frontend.cc
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_manager.cc
  src/v/cluster/persisted_stm.cc
  src/v/cluster/persisted_stm.h
Labels: area/redpanda

#3800 Backport of #3676
  src/v/cluster/metadata_dissemination_service.cc
Labels: area/redpanda

#3822 Backports of #3811, #3810
  src/v/cluster/id_allocator_frontend.cc
  src/v/cluster/id_allocator_stm.cc
  src/v/cluster/id_allocator_stm.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_manager.cc
  src/v/cluster/persisted_stm.cc
  src/v/cluster/persisted_stm.h
  src/v/raft/consensus.cc
  src/v/raft/event_manager.cc
  src/v/raft/event_manager.h
Labels: area/redpanda

#3616 Fixes falsely aborted transacitons
  src/v/cluster/persisted_stm.cc
  src/v/cluster/rm_stm.cc
  src/v/cluster/tests/tm_stm_tests.cc
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/tx_gateway_frontend.h
Labels: kind/bug, area/redpanda, area/transactions

#3659 [transaction] Get all transaction request
  src/v/cluster/partition_manager.h
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/tx_gateway_frontend.h
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/admin/api-doc/transaction.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  tests/rptest/services/admin.py
  tests/rptest/tests/tx_admin_api_test.py
Labels: area/redpanda

#3715 Prepare for simplified low storage space metric
  src/v/cluster/controller.cc
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
  src/v/cluster/node/constants.h
  src/v/cluster/node/local_monitor.cc
  src/v/cluster/node/local_monitor.h
  src/v/cluster/node/types.cc
  src/v/cluster/node/types.h
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/local_monitor_fixture.h
  src/v/cluster/tests/local_monitor_test.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/units.h
Labels: area/redpanda

#3825 cluster: Use mem and log state of tm_stm for get_txs
  src/v/cluster/tm_stm.cc
Labels: area/redpanda

#3839 docs: adding more questions to doc template
  .github/ISSUE_TEMPLATE/03_doc_proposal.md
Labels: area/build

#3834 Using partition revision_id to clear out partition leadership metadata
  src/v/cluster/controller_backend.cc
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_types.cc
  src/v/cluster/health_monitor_types.h
  src/v/cluster/metadata_dissemination_service.cc
  src/v/cluster/partition_leaders_table.cc
  src/v/cluster/partition_leaders_table.h
  src/v/cluster/service.cc
  src/v/cluster/tests/serialization_rt_test.cc
  tests/rptest/tests/recreate_topic_metadata_test.py
Labels: area/redpanda

#3844 Backport of #3182 #3446 #3834
  src/v/cluster/controller_backend.cc
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_types.cc
  src/v/cluster/health_monitor_types.h
  src/v/cluster/metadata_dissemination_service.cc
  src/v/cluster/partition_leaders_table.cc
  src/v/cluster/partition_leaders_table.h
  src/v/cluster/service.cc
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/kafka/server/group.cc
  src/v/raft/consensus.cc
  src/v/raft/errc.h
  src/v/redpanda/admin_server.cc
  tests/rptest/clients/rpk.py
  tests/rptest/tests/leadership_transfer_test.py
  tests/rptest/tests/recreate_topic_metadata_test.py
Labels: area/redpanda

#3852 adding sasl.yaml example file
  src/go/k8s/config/samples/sasl.yaml
Labels: area/k8s

#3667 Unified replication path for all consistency levels
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/log_eviction_stm.cc
  src/v/raft/recovery_stm.cc
  src/v/raft/replicate_batcher.cc
  src/v/raft/replicate_batcher.h
  src/v/raft/replicate_entries_stm.cc
  src/v/raft/replicate_entries_stm.h
  src/v/raft/types.h
  tests/rptest/tests/full_node_recovery_test.py
Labels: area/redpanda

#3838 rpk: fix minor typo.
  src/go/rpk/pkg/cli/cmd/topic/produce.go
Labels: area/rpk

#3856 backport/v21.11.x: #3846
  src/v/cluster/topic_table.cc
  src/v/redpanda/admin_server.cc
  tests/rptest/tests/partition_movement_test.py
Labels: area/redpanda

#3845 Backport #3813: cloud_storage: fix race between remote_partition::stop and readers
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cloud_storage/tests/remote_partition_test.cc
Labels: area/redpanda

#3862 Disable tests that have been flaky in CI
  src/v/cluster/tests/CMakeLists.txt
  tests/rptest/tests/recreate_topic_metadata_test.py
  tests/rptest/tests/wasm_topics_test.py
Labels: area/redpanda

#3879 cluster: pass through revision IDs for local leadership updates
  src/v/cluster/metadata_dissemination_service.cc
  src/v/cluster/metadata_dissemination_service.h
  tests/rptest/tests/rpk_cluster_test.py
Labels: kind/bug, area/controller, area/redpanda

#3871 fix: use a unique secret name for webhook cert
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/_helpers.tpl
  src/go/k8s/helm-chart/charts/redpanda-operator/values.yaml
Labels: area/k8s

#3878 tests: update CHAOS_LOG_ALLOW_LIST
  tests/rptest/services/redpanda.py
Labels: kind/bug, area/tests

#3833 config: clean up old-style property constructor
  src/v/config/configuration.cc
  src/v/config/node_config.cc
  src/v/config/property.h
  src/v/config/tests/config_store_test.cc
  src/v/kafka/client/configuration.cc
  src/v/pandaproxy/rest/configuration.cc
  src/v/pandaproxy/schema_registry/configuration.cc
Labels: area/redpanda, kind/tech-debt

#3768 security: make `superusers` config live updatable
  src/v/cluster/controller.cc
  src/v/config/configuration.cc
  src/v/config/mock_property.h
  src/v/config/property.h
  src/v/security/authorizer.h
  src/v/security/tests/authorizer_test.cc
Labels: kind/enhance, area/redpanda, area/security

#3869 k8s: Add schema registry to samples
  src/go/k8s/config/samples/external_connectivity.yaml
  src/go/k8s/config/samples/one_node_cluster.yaml
  src/go/k8s/config/samples/one_node_external.yaml
Labels: area/k8s, area/schema_registry

#3777 rfcs: added leader epoch related rfc
  docs/rfcs/20220209_leader_epoch_support_rfc.md
Labels: area/docs

#3882 Added revision to metadata dissemination service
  src/v/cluster/metadata_dissemination_handler.cc
  src/v/cluster/metadata_dissemination_handler.h
  src/v/cluster/metadata_dissemination_rpc.json
  src/v/cluster/metadata_dissemination_service.cc
  src/v/cluster/metadata_dissemination_service.h
  src/v/cluster/metadata_dissemination_types.h
Labels: area/redpanda

#3893 k8s: Turn off idempotence and transactions by default
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/pkg/resources/configmap_test.go
  src/go/k8s/pkg/resources/resource_integration_test.go
  src/go/k8s/tests/e2e/additional-configuration/verify-config.sh
Labels: area/k8s

#3831 k8s/operator: Reserve 10% of memory for the OS.
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types_test.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/tests/e2e/resources-redpanda/00-assert.yaml
  src/go/k8s/tests/e2e/resources-redpanda/00-dev-cluster.yaml
  src/go/k8s/tests/e2e/resources-redpanda/01-assert.yaml
  src/go/k8s/tests/e2e/resources-redpanda/01-make-production.yaml
  src/go/k8s/tests/e2e/resources-redpanda/02-assert.yaml
  src/go/k8s/tests/e2e/resources-redpanda/02-scale-back-with-redpanda-cpu.yaml
  src/go/k8s/tests/e2e/resources-redpanda/03-assert.yaml
  src/go/k8s/tests/e2e/resources-redpanda/03-scale-up-with-redpanda-memory.yaml
Labels: kind/enhance, area/k8s, need-backport, backport-needed/21.11.x

#3895 Backport v21.11 pr3831: k8s/operator: Reserve 10% of memory for the OS
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types_test.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/tests/e2e/resources-redpanda/00-assert.yaml
  src/go/k8s/tests/e2e/resources-redpanda/00-dev-cluster.yaml
  src/go/k8s/tests/e2e/resources-redpanda/01-assert.yaml
  src/go/k8s/tests/e2e/resources-redpanda/01-make-production.yaml
  src/go/k8s/tests/e2e/resources-redpanda/02-assert.yaml
  src/go/k8s/tests/e2e/resources-redpanda/02-scale-back-with-redpanda-cpu.yaml
  src/go/k8s/tests/e2e/resources-redpanda/03-assert.yaml
  src/go/k8s/tests/e2e/resources-redpanda/03-scale-up-with-redpanda-memory.yaml
Labels: area/k8s, kind/backport, backport-done/v21.11.x

#3898 v21.11.x/backport: #3761
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/member.cc
  src/v/kafka/server/tests/group_test.cc
Labels: area/redpanda

#3903 adding schemaRegistry to example tls.yaml
  src/go/k8s/config/samples/tls.yaml
Labels: area/k8s
