Repository redpanda-data/redpanda, pull requests merged in 2022-09, with the labels that each got.

#6242 Install redpanda console through operator
  src/go/k8s/Dockerfile.dockerignore
  src/go/k8s/PROJECT
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/console_types.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_consoles.yaml
  src/go/k8s/config/crd/kustomization.yaml
  src/go/k8s/config/crd/patches/cainjection_in_redpanda_consoles.yaml
  src/go/k8s/config/crd/patches/webhook_in_redpanda_consoles.yaml
  src/go/k8s/config/rbac/redpanda_console_editor_role.yaml
  src/go/k8s/config/rbac/redpanda_console_viewer_role.yaml
  src/go/k8s/config/rbac/role.yaml
  src/go/k8s/config/samples/console.yaml
  src/go/k8s/config/webhook/manifests.yaml
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/controllers/redpanda/console_controller.go
  src/go/k8s/controllers/redpanda/console_controller_test.go
  src/go/k8s/controllers/redpanda/state.go
  src/go/k8s/controllers/redpanda/suite_test.go
  src/go/k8s/go.mod
  src/go/k8s/go.sum
  src/go/k8s/main.go
  src/go/k8s/pkg/admin/admin.go
  src/go/k8s/pkg/console/admin.go
  src/go/k8s/pkg/console/configmap.go
  src/go/k8s/pkg/console/console.go
  src/go/k8s/pkg/console/deployment.go
  src/go/k8s/pkg/console/external.go
  src/go/k8s/pkg/console/sasl.go
  src/go/k8s/pkg/console/store.go
  src/go/k8s/pkg/labels/labels.go
  src/go/k8s/pkg/resources/ingress.go
  src/go/k8s/pkg/resources/resource.go
  src/go/k8s/pkg/resources/statefulset_update.go
  src/go/k8s/pkg/resources/superusers.go
  src/go/k8s/tests/e2e/console/00-assert.yaml
  src/go/k8s/tests/e2e/console/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/console/01-assert.yaml
  src/go/k8s/tests/e2e/console/01-console.yaml
  src/go/k8s/tests/e2e/console/02-assert.yaml
  src/go/k8s/tests/e2e/console/02-call-console.yaml
  src/go/k8s/webhooks/redpanda/console_webhook.go
Labels: area/k8s

#6294 gha/lint: run lint check on push to any branch
  .github/workflows/lint.yml
Labels: kind/bug, area/build, team/devprod

#6292 archival: Fix lifetime issue
  src/v/archival/service.cc
Labels: area/redpanda

#6305 [v22.2.x] gha/lint: run lint check on push to any branch
  .github/workflows/lint.yml
Labels: area/build, kind/backport, team/devprod

#5749 Partition movements amount metrics
  src/v/cluster/cluster_utils.h
  src/v/cluster/members_backend.cc
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/cluster/topic_table_probe.cc
  src/v/cluster/topic_table_probe.h
  src/v/redpanda/admin_server.cc
  tests/rptest/tests/partition_balancer_test.py
  tests/rptest/tests/partition_move_interruption_test.py
Labels: kind/enhance, area/redpanda

#6307 tests: apply a timeout to arroyo test execution + fix output capture
  tests/rptest/tests/compatibility/arroyo_test.py
Labels: kind/tech-debt, area/tests

#6306 [v22.1.x] gha/lint: run lint check on push to any branch
  .github/workflows/lint.yml
  src/v/kafka/protocol/tests/security_test.cc
Labels: area/build, area/redpanda, kind/backport, team/devprod

#5318 Allow rm_stm to control max compaction offset
  src/v/cluster/partition.h
  src/v/cluster/persisted_stm.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/hashing/tests/CMakeLists.txt
  src/v/model/tests/random_batch.cc
  src/v/model/tests/random_batch.h
  src/v/raft/tests/append_entries_test.cc
  src/v/raft/tests/manual_log_deletion_test.cc
  src/v/random/CMakeLists.txt
  src/v/random/generators.cc
  src/v/random/generators.h
  src/v/random/random_test.cc
  src/v/reflection/test/CMakeLists.txt
  src/v/storage/compaction_reducers.cc
  src/v/storage/compaction_reducers.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/log.h
  src/v/storage/log_manager.cc
  src/v/storage/opfuzz/opfuzz.cc
  src/v/storage/segment.cc
  src/v/storage/segment.h
  src/v/storage/tests/CMakeLists.txt
  src/v/storage/tests/log_truncate_test.cc
  src/v/storage/tests/storage_e2e_test.cc
  src/v/storage/tests/storage_test_fixture.h
  src/v/storage/tests/utils/disk_log_builder.cc
  src/v/storage/tests/utils/disk_log_builder.h
  src/v/storage/tests/utils/log_gap_analysis.cc
  src/v/storage/tests/utils/log_gap_analysis.h
  src/v/storage/types.cc
  src/v/storage/types.h
Labels: kind/enhance, area/raft, area/redpanda, area/transactions

#6299 cluster, schema_registry: improve handling of internal topic replication factors
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/health_manager.cc
  src/v/cluster/id_allocator_frontend.cc
  src/v/cluster/tx_gateway_frontend.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/pandaproxy/schema_registry/api.cc
  src/v/pandaproxy/schema_registry/api.h
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/service.h
  src/v/redpanda/application.cc
Labels: area/redpanda

#6310 [v21.11.x] fix lint on v21.11.x branch
  .github/workflows/lint.yml
  src/go/rpk/pkg/api/api.go
  src/go/rpk/pkg/cli/cmd/redpanda/start.go
  tests/rptest/tests/cluster_view_test.py
Labels: kind/bug, area/rpk, area/build, kind/backport, team/devprod

#6323 Followup nit fixes
  src/v/model/tests/random_batch.cc
  src/v/model/tests/random_batch.h
  src/v/random/generators.cc
  src/v/random/generators.h
  src/v/storage/tests/storage_e2e_test.cc
Labels: kind/enhance, area/transactions

#6322 test: account for metadata dissemination delay
  tests/rptest/tests/leadership_transfer_test.py
Labels: kind/bug, area/redpanda, ci-failure, pr-blocker

#6312 Fix init_producer_id crash (unblocks chaos tests)
  src/v/cluster/tm_stm.cc
  src/v/cluster/tx_gateway_frontend.cc
Labels: kind/bug, area/redpanda, area/tests, area/transactions

#6124 Fix maintenance tests #6016
  src/v/redpanda/admin_server.cc
Labels: area/redpanda, area/tests, ci-failure, pr-blocker

#6309 [v22.2.x] archival: Fix lifetime issue
  src/v/archival/service.cc
Labels: area/redpanda, kind/backport

#6346 [v22.2.x] rptest: Set timeout in transactional producer
  tests/rptest/utils/si_utils.py
Labels: kind/backport

#6350 [v22.1.x] Heal network failures in the end of EndToEndFinjectorTest
  tests/rptest/tests/e2e_finjector.py
Labels: kind/backport

#6348 [v22.2.x] Heal network failures in the end of EndToEndFinjectorTest
  tests/rptest/tests/e2e_finjector.py
Labels: kind/backport

#6293 cloud_storage: Add DeleteObject S3 API support
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/cloud_storage/tests/remote_test.cc
Labels: kind/enhance, area/redpanda, area/shadow-indexing

#6331 tests: deflake back-to-back upgrade test
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/members_table.cc
  tests/rptest/services/admin.py
  tests/rptest/services/redpanda_installer.py
  tests/rptest/services/rolling_restarter.py
  tests/rptest/tests/upgrade_test.py
Labels: kind/bug, area/redpanda, area/tests, ci-failure

#6344 Fixes 6329: heap-use-after-free in TxFeatureFlagTest.test_disabling_transactions_after_they_being_used
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/tx_gateway_frontend.h
  src/v/raft/state_machine.cc
Labels: kind/bug, area/redpanda, area/tests, ci-failure, area/transactions, pr-blocker

#6353 Remove ok_to_fail from fixed tests
  tests/rptest/tests/availability_test.py
  tests/rptest/tests/pandaproxy_test.py
  tests/rptest/tests/partition_movement_upgrade_test.py
Labels: area/tests

#6339 operator: add a health, ready checker for the webhook server
  src/go/k8s/main.go
Labels: area/k8s

#6236 Improve dependency handling in cloud_storage
  src/v/archival/ntp_archiver_service.h
  src/v/archival/service.cc
  src/v/cloud_storage/CMakeLists.txt
  src/v/cloud_storage/base_manifest.h
  src/v/cloud_storage/fwd.h
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/partition_recovery_manager.cc
  src/v/cloud_storage/partition_recovery_manager.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/tests/remote_partition_test.cc
  src/v/cloud_storage/tests/topic_manifest_test.cc
  src/v/cloud_storage/tests/tx_range_manifest_test.cc
  src/v/cloud_storage/topic_manifest.cc
  src/v/cloud_storage/topic_manifest.h
  src/v/cloud_storage/tx_range_manifest.cc
  src/v/cloud_storage/tx_range_manifest.h
  src/v/cloud_storage/types.h
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/cluster/remote_topic_configuration_source.cc
  src/v/cluster/remote_topic_configuration_source.h
  src/v/cluster/rm_stm.h
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
  src/v/kafka/server/replicated_partition.cc
  src/v/model/record.h
  src/v/pandaproxy/server.cc
  src/v/redpanda/application.cc
Labels: kind/enhance, area/redpanda, kind/tech-debt, area/shadow-indexing

#6363 Unmute tests which were stable last week
  tests/rptest/tests/compatibility/kafka_streams_test.py
  tests/rptest/tests/e2e_shadow_indexing_test.py
  tests/rptest/tests/pandaproxy_test.py
  tests/rptest/tests/partition_balancer_test.py
  tests/rptest/tests/partition_movement_test.py
  tests/rptest/tests/prefix_truncate_recovery_test.py
Labels: kind/enhance, kind/tech-debt, area/tests

#6304 Add support for endpoint templates to customize external advertised addresses
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook_test.go
  src/go/k8s/cmd/configurator/main.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/go.mod
  src/go/k8s/go.sum
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/pkg/utils/template.go
  src/go/k8s/pkg/utils/template_test.go
  src/go/k8s/tests/e2e/endpoint-template/00-assert.yaml
  src/go/k8s/tests/e2e/endpoint-template/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/endpoint-template/01-assert.yaml
  src/go/k8s/tests/e2e/endpoint-template/01-cordon-node.yaml
  src/go/k8s/tests/e2e/endpoint-template/02-uncordon-node.yaml
Labels: area/k8s

#6359 Console RedpandaCloud SSO support in the operator
  src/go/k8s/apis/redpanda/v1alpha1/console_enterprise_types.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_consoles.yaml
  src/go/k8s/controllers/redpanda/console_controller_test.go
  src/go/k8s/pkg/console/configmap.go
  src/go/k8s/pkg/console/console.go
Labels: area/k8s

#5818 Scale test for recovery from S3
  src/v/archival/ntp_archiver_service.cc
  tests/rptest/scale_tests/extreme_recovery_test.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/topic_recovery_test.py
Labels: kind/enhance, area/redpanda, area/tests, area/shadow-indexing

#6273 rpk: add confirmation prompt to iotune to force execution
  src/go/rpk/pkg/cli/cmd/iotune/iotune.go
  src/go/rpk/pkg/tuners/iotune.go
Labels: area/rpk

#6165 rpk: grafana-generate - support public metrics
  src/go/rpk/pkg/cli/cmd/generate/graf/README.md
  src/go/rpk/pkg/cli/cmd/generate/graf/graph.go
  src/go/rpk/pkg/cli/cmd/generate/grafana.go
  src/go/rpk/pkg/cli/cmd/generate/grafana_test.go
Labels: area/rpk

#6341 rpk: bump golangci lint to 1.49.0
  .github/workflows/lint.yml
  src/go/k8s/.golangci.yml
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types_test.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook_test.go
  src/go/k8s/apis/redpanda/v1alpha1/common_types.go
  src/go/k8s/apis/redpanda/v1alpha1/groupversion_info.go
  src/go/k8s/apis/redpanda/v1alpha1/webhook_suite_test.go
  src/go/k8s/cmd/configurator/main.go
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/controllers/redpanda/cluster_controller_configuration.go
  src/go/k8s/controllers/redpanda/cluster_controller_configuration_drift.go
  src/go/k8s/controllers/redpanda/console_controller.go
  src/go/k8s/controllers/redpanda/console_controller_test.go
  src/go/k8s/controllers/redpanda/suite_test.go
  src/go/k8s/main.go
  src/go/k8s/pkg/admin/admin.go
  src/go/k8s/pkg/console/configmap.go
  src/go/k8s/pkg/console/console.go
  src/go/k8s/pkg/console/deployment.go
  src/go/k8s/pkg/console/store.go
  src/go/k8s/pkg/networking/ports_test.go
  src/go/k8s/pkg/resources/certmanager/type_helpers_test.go
  src/go/k8s/pkg/resources/cluster_service.go
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/pkg/resources/configuration/configuration.go
  src/go/k8s/pkg/resources/configuration/configuration_modes.go
  src/go/k8s/pkg/resources/configuration/patch.go
  src/go/k8s/pkg/resources/configuration/patch_test.go
  src/go/k8s/pkg/resources/ingress.go
  src/go/k8s/pkg/resources/lb_service.go
  src/go/k8s/pkg/resources/resource_integration_test.go
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/pkg/resources/statefulset_scale.go
  src/go/k8s/pkg/resources/statefulset_test.go
  src/go/k8s/pkg/resources/statefulset_update_test.go
  src/go/k8s/webhooks/redpanda/console_webhook.go
  src/go/rpk/.golangci.yml
  src/go/rpk/pkg/api/admin/admin.go
  src/go/rpk/pkg/cli/cmd/root.go
  src/go/rpk/pkg/cli/cmd/topic/consume.go
  src/go/rpk/pkg/cli/cmd/topic/describe.go
  src/go/rpk/pkg/config/params.go
  src/go/rpk/pkg/net/hostport.go
  src/go/rpk/pkg/tuners/irq/irq_tuner_mode.go
Labels: area/rpk, area/build, area/k8s

#6388 Fix BadLogLines appearing after we started logging exceptions in admin_server
  src/v/raft/mux_state_machine.h
  src/v/redpanda/admin_server.cc
Labels: area/redpanda

#6385 cloud_storage: tolerate error responses with empty bodies
  src/v/s3/client.cc
Labels: area/redpanda

#6297 k/types: do not ignore not supported alter properties
  src/v/kafka/server/handlers/topics/types.h
Labels: area/redpanda

#6266 Update 3rdparty v22.3.x
  build.sh
  cmake/FindBase64.cmake
  cmake/main.cmake
  cmake/oss.cmake.in
  install-dependencies.sh
  src/v/cloud_storage/remote_partition.cc
  src/v/kafka/client/client.cc
  src/v/pandaproxy/schema_registry/avro.cc
  src/v/reflection/adl.h
  src/v/storage/compacted_offset_list.h
  src/v/storage/compaction_reducers.cc
  src/v/storage/compaction_reducers.h
  src/v/storage/segment_utils.cc
  src/v/storage/segment_utils.h
  src/v/utils/CMakeLists.txt
  tools/docker/Dockerfile
Labels: kind/bug, area/build, area/redpanda, kind/tech-debt

#6400 Fixed handling of `offsets_for_leader_epoch` request
  src/v/kafka/server/handlers/offset_for_leader_epoch.cc
  tests/rptest/services/admin.py
  tests/rptest/tests/offset_for_leader_epoch_test.py
Labels: area/redpanda

#6321 redpanda: print timestamp along with version at startup
  src/v/redpanda/application.cc
Labels: area/redpanda

#6367 Fix PartitionBalancerTest.test_fuzz_admin_ops
  tests/rptest/clients/rpk.py
  tests/rptest/services/admin_ops_fuzzer.py
  tests/rptest/tests/partition_balancer_test.py
Labels: kind/bug, area/tests, ci-failure

#6364 tests: fix a rare failure during shutdown of kgo-verifier.
  tests/rptest/services/kgo_verifier_services.py
  tests/rptest/tests/services_self_test.py
Labels: kind/bug, area/tests

#6396 [v21.11.x] cloud_storage: re-set reader after exception
  src/v/cloud_storage/remote_partition.cc
Labels: kind/bug, ci-failure, area/shadow-indexing, kind/backport

#6394 [v22.2.x] cloud_storage: re-set reader after exception
  src/v/cloud_storage/remote_partition.cc
Labels: area/redpanda, kind/backport

#6398 [v22.1.x] cloud_storage: re-set reader after exception
  src/v/cloud_storage/remote_partition.cc
Labels: kind/bug, ci-failure, area/shadow-indexing, kind/backport

#6315 [ducktape] Fix connection rate test
  tests/rptest/services/rpk_consumer.py
  tests/rptest/tests/connection_rate_limit_test.py
Labels: kind/bug, area/tests, ci-failure

#6390 Update homebrew publish
  .github/workflows/homebrew-publish.yml
Labels: area/build, kind/tech-debt, team/devprod

#5362 [transaction] KIP-360: Improve reliability of idempotent/transactional producer
  src/v/cluster/feature_table.cc
  src/v/cluster/feature_table.h
  src/v/cluster/partition.cc
  src/v/cluster/partition_manager.h
  src/v/cluster/tests/tm_stm_tests.cc
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/cluster/tx_gateway.cc
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/tx_gateway_frontend.h
  src/v/cluster/types.h
  src/v/kafka/protocol/schemata/init_producer_id_request.json
  src/v/kafka/protocol/schemata/init_producer_id_response.json
  src/v/kafka/server/handlers/init_producer_id.cc
  src/v/kafka/server/handlers/init_producer_id.h
  src/v/model/record.h
  src/v/redpanda/application.cc
  tests/rptest/tests/cluster_features_test.py
  tests/rptest/tests/transactions_test.py
Labels: kind/enhance, area/kafka, area/redpanda, client-compat, area/transactions

#6424 [v22.2.x] Update homebrew publish
  .github/workflows/homebrew-publish.yml
Labels: area/build, kind/backport

#6425 [v22.1.x] Update homebrew publish
  .github/workflows/homebrew-publish.yml
Labels: area/build, kind/backport

#6417 tests: log output on openssl errors
  tests/rptest/services/tls.py
Labels: kind/tech-debt, area/tests

#6405 [v22.2.x] Fixed handling of `offsets_for_leader_epoch` request
  src/v/kafka/server/handlers/offset_for_leader_epoch.cc
  tests/rptest/services/admin.py
  tests/rptest/tests/offset_for_leader_epoch_test.py
Labels: area/redpanda, kind/backport

#6415 [v21.11.x] Fix flaky test_leader_transfers_recover
  tests/rptest/tests/raft_availability_test.py
Labels: kind/bug, area/raft, area/tests, ci-failure, kind/backport

#6426 raft: make heartbeat config properties live-editable
  src/v/config/configuration.cc
  src/v/raft/group_manager.cc
  src/v/raft/group_manager.h
  src/v/raft/heartbeat_manager.cc
  src/v/raft/heartbeat_manager.h
  src/v/raft/kvelldb/kvserver.cc
  src/v/raft/tests/mux_state_machine_fixture.h
  src/v/raft/tests/raft_group_fixture.h
  src/v/redpanda/application.cc
Labels: kind/enhance, area/raft, area/redpanda

#6419 raft: distinguish aborts & timeouts in offset_monitor exceptions
  src/v/cluster/persisted_stm.cc
  src/v/raft/offset_monitor.cc
  src/v/raft/offset_monitor.h
  src/v/raft/state_machine.cc
  src/v/raft/tests/offset_monitor_test.cc
  tests/rptest/services/redpanda.py
  tests/rptest/tests/partition_balancer_test.py
  tests/rptest/utils/si_utils.py
Labels: area/raft, area/redpanda, kind/tech-debt, ci-failure

#6421 cloud_storage: stop shared reader on exception
  src/v/cloud_storage/remote_partition.cc
Labels: kind/bug, area/redpanda, area/shadow-indexing

#6427 [v21.11.x] Update homebrew publish
  .github/workflows/homebrew-publish.yml
Labels: area/build, kind/tech-debt, kind/backport, team/devprod

#6436 [v22.1.x] cloud_storage: stop shared reader on exception
  src/v/cloud_storage/remote_partition.cc
Labels: area/redpanda, kind/backport

#6437 [v21.11.x] cloud_storage: stop shared reader on exception
  src/v/cloud_storage/remote_partition.cc
Labels: area/redpanda, kind/backport

#6422 Disable debug, admin Console URLs
  src/go/k8s/controllers/redpanda/console_controller.go
  src/go/k8s/pkg/resources/ingress.go
  src/go/k8s/pkg/resources/ingress_test.go
Labels: kind/enhance, area/k8s

#6457 k8s: retry when updating resources in console controller tests
  src/go/k8s/controllers/redpanda/cluster_controller_common_test.go
  src/go/k8s/controllers/redpanda/console_controller_test.go
Labels: area/k8s

#6461 fix slash backport cmd: adding `--paginate` flag
  .github/workflows/scripts/backport-command/get_backport_type.sh
Labels: area/build

#6218 controller_upgrade_test: add message to allowed list
  tests/rptest/tests/controller_upgrade_test.py
Labels: kind/bug, area/tests, ci-failure

#6459 [v22.2.x] revert #6405
  src/v/kafka/server/handlers/offset_for_leader_epoch.cc
  tests/rptest/services/admin.py
  tests/rptest/tests/offset_for_leader_epoch_test.py
Labels: kind/bug, area/redpanda

#6412 Fixed spurious log entry emitted on heartbeat timeout
  src/v/raft/heartbeat_manager.cc
Labels: area/raft, area/redpanda, kind/tech-debt

#6251 Even distribution of __consumer_offsets partitions
  src/v/cluster/cluster_utils.cc
  src/v/cluster/cluster_utils.h
  src/v/cluster/health_manager.cc
  src/v/cluster/members_backend.cc
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/scheduling/allocation_node.cc
  src/v/cluster/scheduling/allocation_node.h
  src/v/cluster/scheduling/allocation_state.cc
  src/v/cluster/scheduling/allocation_state.h
  src/v/cluster/scheduling/allocation_strategy.cc
  src/v/cluster/scheduling/allocation_strategy.h
  src/v/cluster/scheduling/constraints.cc
  src/v/cluster/scheduling/constraints.h
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/cluster/scheduling/partition_allocator.h
  src/v/cluster/scheduling/types.cc
  src/v/cluster/scheduling/types.h
  src/v/cluster/tests/allocation_bench.cc
  src/v/cluster/tests/partition_allocator_fixture.h
  src/v/cluster/tests/partition_allocator_tests.cc
  src/v/cluster/tests/partition_balancer_planner_fixture.h
  src/v/cluster/tests/topic_table_fixture.h
  src/v/cluster/topic_updates_dispatcher.cc
  src/v/cluster/topic_updates_dispatcher.h
  src/v/cluster/topics_frontend.cc
  src/v/cluster/types.h
  tests/rptest/tests/consumer_group_balancing_test.py
  tests/setup.py
Labels: kind/enhance, area/controller, area/redpanda

#6469 [v22.2.x] rpk tuning: allow clocksource to fail
  src/go/rpk/pkg/cli/cmd/redpanda/tune/tune.go
Labels: kind/bug, area/rpk, kind/backport

#6464 [v22.2.x] rpk: grafana-generate - support public metrics
  src/go/rpk/pkg/cli/cmd/generate/graf/README.md
  src/go/rpk/pkg/cli/cmd/generate/graf/graph.go
  src/go/rpk/pkg/cli/cmd/generate/grafana.go
  src/go/rpk/pkg/cli/cmd/generate/grafana_test.go
Labels: kind/bug, area/rpk, kind/backport

#6462 Fix Ingress overriding existing annotations
  src/go/k8s/pkg/resources/ingress.go
  src/go/k8s/pkg/resources/ingress_test.go
Labels: area/k8s

#6430 ducktape: Waiting last tx end before restart in upgrade_tx_test
  tests/rptest/tests/transactions_test.py
Labels: kind/bug, ci-failure, area/transactions

#6471 operator: add workaround to console cert issuing
  src/go/k8s/controllers/redpanda/console_controller.go
  src/go/k8s/pkg/resources/ingress.go
Labels: area/k8s

#6472 cleanup github workflow for linting
  .github/workflows/lint.yml
  src/v/v8_engine/internal/tests/scripts/compile_timeout.js
  src/v/v8_engine/internal/tests/scripts/run_timeout.js
  src/v/v8_engine/internal/tests/scripts/sum.js
  src/v/v8_engine/internal/tests/scripts/to_upper.js
  tools/redpanda-gdb.py
Labels: area/build, area/redpanda, kind/tech-debt, team/devprod

#6429 Fix consumer group test race condition
  tests/rptest/services/kafka_cli_consumer.py
  tests/rptest/tests/consumer_group_test.py
Labels: kind/bug, area/redpanda, area/tests, ci-failure

#6479 [v22.2.x] cleanup github workflow for linting
  .github/workflows/lint.yml
  src/v/v8_engine/internal/tests/scripts/compile_timeout.js
  src/v/v8_engine/internal/tests/scripts/run_timeout.js
  src/v/v8_engine/internal/tests/scripts/sum.js
  src/v/v8_engine/internal/tests/scripts/to_upper.js
  tools/redpanda-gdb.py
Labels: area/build, area/redpanda, kind/backport

#6283 Message max size
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/connection_context.h
  src/v/kafka/server/handlers/produce.cc
  src/v/kafka/server/protocol.cc
  src/v/net/connection.cc
  src/v/net/exceptions.h
  src/v/redpanda/tests/fixture.h
  tests/rptest/tests/limits_test.py
Labels: kind/enhance, area/kafka, area/redpanda

#6408 SI: Enable archival for compaction enabled partitions
  src/v/archival/archival_policy.cc
  src/v/archival/archival_policy.h
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/archival/tests/service_fixture.cc
  src/v/archival/tests/service_fixture.h
  tests/rptest/tests/e2e_shadow_indexing_test.py
  tests/rptest/utils/si_utils.py
Labels: kind/enhance, area/redpanda, area/shadow-indexing

#6470 [V22.2.x] Backport of 'Fixed handling of offsets_for_leader_epoch request'
  src/v/kafka/server/handlers/offset_for_leader_epoch.cc
  src/v/net/client_probe.h
  src/v/rpc/transport.cc
  tests/docker/Dockerfile
  tests/rptest/scale_tests/franz_go_verifiable_test.py
  tests/rptest/scale_tests/ht_partition_movement_test.py
  tests/rptest/scale_tests/many_partitions_test.py
  tests/rptest/scale_tests/partition_balancer_scale_test.py
  tests/rptest/services/admin.py
  tests/rptest/services/franz_go_verifiable_services.py
  tests/rptest/services/kgo_verifier_services.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/acls_test.py
  tests/rptest/tests/cluster_metrics_test.py
  tests/rptest/tests/connection_rate_limit_test.py
  tests/rptest/tests/controller_upgrade_test.py
  tests/rptest/tests/e2e_shadow_indexing_test.py
  tests/rptest/tests/e2e_topic_recovery_test.py
  tests/rptest/tests/mirror_maker_test.py
  tests/rptest/tests/offset_for_leader_epoch_test.py
  tests/rptest/tests/partition_balancer_test.py
  tests/rptest/tests/partition_movement_test.py
  tests/rptest/tests/partition_movement_upgrade_test.py
  tests/rptest/tests/prealloc_nodes.py
  tests/rptest/tests/test_si_cache_space_leak.py
  tests/rptest/utils/mode_checks.py
Labels: kind/bug, area/redpanda, ci-failure

#6482 [v22.2.x] tests: extend consumer timeout in test with kills
  tests/rptest/tests/e2e_shadow_indexing_test.py
Labels: kind/backport

#6483 [v22.1.x] tests: extend consumer timeout in test with kills
  tests/rptest/tests/e2e_shadow_indexing_test.py
Labels: kind/backport

#6497 tests: use timeout on status thread join
  tests/rptest/services/kgo_verifier_services.py
Labels: kind/bug, area/tests

#6487 compaction: Extend max_collectible_offset check to adjacent compaction
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/segment_utils.cc
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

#6488 tests: fixed setting si settings in read replica tests
  tests/rptest/tests/read_replica_e2e_test.py
Labels: kind/bug, area/tests, ci-failure, area/shadow-indexing, pr-blocker

#6496 [v22.1.x] cleanup github workflow for linting
  .github/workflows/lint.yml
  src/v/v8_engine/internal/tests/scripts/compile_timeout.js
  src/v/v8_engine/internal/tests/scripts/run_timeout.js
  src/v/v8_engine/internal/tests/scripts/sum.js
  src/v/v8_engine/internal/tests/scripts/to_upper.js
  tools/redpanda-gdb.py
Labels: area/build, area/redpanda, kind/backport, team/devprod

#6503 [V22.1.x] Backport of #6400
  src/v/kafka/server/handlers/offset_for_leader_epoch.cc
  tests/rptest/services/admin.py
Labels: area/redpanda

#6506 Demote an archival snapshot log line to debug
  src/v/cluster/archival_metadata_stm.cc
Labels: area/redpanda

#6510 [v21.11.x] cloud_storage: check that we have serialized the whole manifest
  src/v/cloud_storage/manifest.cc
Labels: area/redpanda, kind/backport

#6509 [v22.1.x] cloud_storage: check that we have serialized the whole manifest
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/topic_manifest.cc
Labels: area/redpanda, kind/backport

#6507 cloud_storage: check that we have serialized the whole manifest
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/topic_manifest.cc
  src/v/cloud_storage/tx_range_manifest.cc
Labels: area/redpanda

#6511 [v22.2.x] cloud_storage: check that we have serialized the whole manifest
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/topic_manifest.cc
  src/v/cloud_storage/tx_range_manifest.cc
Labels: area/redpanda, kind/backport

#6456 K8s: allow to configure ingress resources
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook_test.go
  src/go/k8s/apis/redpanda/v1alpha1/common_types.go
  src/go/k8s/apis/redpanda/v1alpha1/console_types.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_consoles.yaml
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/controllers/redpanda/cluster_controller_test.go
  src/go/k8s/controllers/redpanda/console_controller.go
  src/go/k8s/pkg/networking/ports_test.go
  src/go/k8s/pkg/resources/ingress.go
  src/go/k8s/pkg/resources/resource.go
  src/go/k8s/pkg/resources/resource_integration_test.go
  src/go/k8s/webhooks/redpanda/console_webhook.go
Labels: area/k8s

#6501 tests/services: two phase stop for kafka cli svc
  tests/rptest/services/kafka_cli_consumer.py
Labels: kind/bug, area/tests, ci-failure

#6473 operator: add flag to restrict management of cluster based on rp version
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/controllers/redpanda/cluster_controller_configuration_drift.go
  src/go/k8s/controllers/redpanda/cluster_controller_test.go
  src/go/k8s/main.go
Labels: area/k8s

#6520 rpk: reorder options passed to hwloc-calc
  src/go/rpk/pkg/tuners/hwloc/hwloc_cmd.go
Labels: kind/bug, area/rpk, team/devprod

#6441 [v22.2.x] Fix PartitionBalancerTest.test_fuzz_admin_ops
  tests/rptest/clients/rpk.py
  tests/rptest/services/admin_ops_fuzzer.py
  tests/rptest/tests/partition_balancer_test.py
Labels: area/tests, kind/backport

#6492 storage: apply limits to segment.bytes
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/log_manager.h
  src/v/storage/segment_utils.h
  src/v/storage/tests/segment_size_jitter_test.cc
  src/v/storage/tests/storage_e2e_test.cc
  src/v/storage/tests/storage_test_fixture.h
Labels: kind/enhance, area/storage, area/redpanda

#6519 Fix issue with changing metrics settings in centralized config
  src/go/k8s/pkg/resources/configuration/configuration.go
  src/go/k8s/tests/e2e-unstable/centralized-configuration/03-redpanda-cluster-change.yaml
  src/go/k8s/tests/e2e-unstable/centralized-configuration/05-assert.yaml
  src/go/k8s/tests/e2e-unstable/centralized-configuration/05-probe.yaml
  src/go/rpk/pkg/config/config.go
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/params_test.go
  src/go/rpk/pkg/config/schema.go
  src/go/rpk/pkg/config/weak.go
  src/go/rpk/pkg/config/weak_test.go
Labels: area/rpk, area/k8s

#6525 raft: use ss::timed_out_error in offset_monitor
  src/v/cluster/persisted_stm.cc
  src/v/raft/offset_monitor.cc
  src/v/raft/offset_monitor.h
  src/v/raft/state_machine.cc
  src/v/raft/tests/offset_monitor_test.cc
Labels: kind/bug, area/raft, area/redpanda

#6526 raft, cloud_storage: log hygiene improvements
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/cloud_storage/remote_segment.cc
  src/v/raft/offset_translator.cc
  src/v/s3/client.cc
  src/v/s3/client.h
  src/v/storage/disk_log_impl.cc
Labels: kind/bug, area/raft, area/redpanda, area/shadow-indexing

#6513 serde: pass header by value to serde_async_read
  src/v/raft/types.cc
  src/v/raft/types.h
  src/v/serde/serde.h
  src/v/serde/test/serde_test.cc
Labels: area/redpanda, kind/tech-debt

#6358 Remove ok_to_fail from fixed tests
  tests/rptest/tests/read_replica_e2e_test.py
Labels: kind/enhance, area/redpanda, area/tests

#6366 Fix test_restore_with_aborted_tx
  tests/rptest/utils/si_utils.py
Labels: kind/bug, ci-failure, area/transactions, pr-blocker

#6532 [v22.2.x] Fix issue with changing metrics settings in centralized config
  src/go/k8s/pkg/resources/configuration/configuration.go
  src/go/k8s/tests/e2e-unstable/centralized-configuration/03-redpanda-cluster-change.yaml
  src/go/k8s/tests/e2e-unstable/centralized-configuration/05-assert.yaml
  src/go/k8s/tests/e2e-unstable/centralized-configuration/05-probe.yaml
  src/go/rpk/pkg/config/config.go
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/params_test.go
  src/go/rpk/pkg/config/schema.go
  src/go/rpk/pkg/config/weak.go
  src/go/rpk/pkg/config/weak_test.go
Labels: area/rpk, area/k8s, kind/backport

#6536 utils: add UUID type
  src/v/serde/serde.h
  src/v/serde/test/serde_test.cc
  src/v/utils/uuid.h
Labels: area/redpanda

#6516 SI: enable concatenated segment upload
  src/v/archival/ntp_archiver_service.cc
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/cloud_storage/tests/remote_segment_test.cc
  src/v/cloud_storage/tests/remote_test.cc
  src/v/storage/segment_reader.cc
  src/v/storage/segment_reader.h
  src/v/storage/tests/CMakeLists.txt
  src/v/storage/tests/concat_segment_reader_test.cc
Labels: kind/enhance, area/redpanda, area/shadow-indexing

#6539 operator fix regression in console TLS for #6471
  src/go/k8s/controllers/redpanda/console_controller.go
  src/go/k8s/pkg/resources/ingress_test.go
Labels: area/k8s

#6548 [v22.2.x] s/disk_log_impl: advance segment generation after adjacent compaction
  src/v/storage/segment.cc
  src/v/storage/segment.h
  src/v/storage/segment_utils.cc
Labels: kind/bug, area/storage, ci-failure, kind/backport

#6534 cluster: hygiene improvements in members management
  src/v/cluster/drain_manager.h
  src/v/cluster/members_manager.cc
  src/v/cluster/members_manager.h
  src/v/cluster/members_table.cc
  src/v/cluster/members_table.h
  src/v/cluster/scheduling/partition_allocator.h
  src/v/kafka/client/test/fixture.h
  src/v/kafka/server/tests/topic_recreate_test.cc
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/redpanda/tests/fixture.h
Labels: area/redpanda

#6546 Use cached term value when updating voter state
  docs/rfcs/20200421_raft_recovery.md
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/heartbeat_manager.cc
  src/v/raft/types.h
  src/v/raft/vote_stm.cc
Labels: kind/bug, area/raft

#6553 [v22.2.x] Use cached term value when updating voter state
  docs/rfcs/20200421_raft_recovery.md
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/heartbeat_manager.cc
  src/v/raft/types.h
  src/v/raft/vote_stm.cc
Labels: kind/bug, area/raft, kind/backport

#6555 [v22.2.x] Fix 6132: retry topic creation on missing controller leader
  tests/rptest/clients/rpk.py
  tests/rptest/tests/end_to_end.py
  tests/rptest/tests/partition_movement_test.py
Labels: kind/backport

#6458 Separate Token bucket algorithm from recovery throttle
  src/v/raft/recovery_throttle.h
  src/v/utils/tests/CMakeLists.txt
  src/v/utils/tests/token_bucket_test.cc
  src/v/utils/token_bucket.h
Labels: kind/enhance, area/redpanda

#6298 Added handling for property limiting maximum size of a batch (`max.message.bytes`)
  src/v/cluster/metadata_cache.cc
  src/v/cluster/metadata_cache.h
  src/v/cluster/topic_table.cc
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/compat/cluster_compat.h
  src/v/compat/cluster_generator.h
  src/v/compat/cluster_json.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/handlers/alter_configs.cc
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/handlers/describe_configs.cc
  src/v/kafka/server/handlers/incremental_alter_configs.cc
  src/v/kafka/server/handlers/produce.cc
  src/v/kafka/server/handlers/topics/types.cc
  src/v/kafka/server/handlers/topics/types.h
  src/v/kafka/server/handlers/topics/validators.h
  src/v/kafka/server/tests/alter_config_test.cc
  tests/rptest/tests/limits_test.py
  tests/rptest/tests/recreate_topic_metadata_test.py
  tests/rptest/tests/topic_autocreate_test.py
  tests/rptest/tests/topic_creation_test.py
  tests/rptest/tests/topic_recreate_test.py
Labels: kind/enhance, area/kafka, area/redpanda

#6524 cloud_storage: improve error handling
  src/v/cloud_storage/remote.cc
Labels: kind/bug, area/redpanda, area/shadow-indexing

#6543 cluster: allow for serde-only controller commands
  src/v/cluster/cluster_utils.h
  src/v/cluster/commands.h
  src/v/cluster/tests/commands_serialization_test.cc
  src/v/cluster/types.cc
  src/v/cluster/types.h
Labels: area/redpanda

#6564 k8s: allow setting custom external ports for all listeners
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook_test.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/controllers/redpanda/cluster_controller_test.go
  src/go/k8s/pkg/networking/ports.go
  src/go/k8s/pkg/networking/ports_test.go
Labels: area/k8s

#6386 txn coordinator: gate tm_stm for long txn operations
  src/v/cluster/tm_stm.h
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/tx_gateway_frontend.h
Labels: kind/bug, area/redpanda, ci-failure, area/transactions, pr-blocker

#6556 tx/supportability: Add ntp information to tx logging
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tm_stm.cc
  tests/rptest/tests/tx_verifier_test.py
Labels: kind/enhance, area/redpanda, area/transactions

#6568 cloud_storage: fix stale materialized segment gc logic when force gc is requested
  src/v/cloud_storage/remote_partition.cc
Labels: area/redpanda

#6566 cloud_storage/storage tests: fixes segment upload test
  src/v/cloud_storage/tests/remote_test.cc
  src/v/storage/tests/concat_segment_reader_test.cc
Labels: area/redpanda

#6587 [v22.2.x] Partition balancer full_nodes test: wait until the balancer is stable
  tests/rptest/services/redpanda.py
  tests/rptest/tests/partition_balancer_test.py
Labels: kind/backport

#6505 [v22.2.x] ducktape: partition balancer status add retries
  tests/rptest/services/admin.py
  tests/rptest/tests/partition_balancer_test.py
Labels: kind/bug, area/tests, ci-failure, kind/backport

#6578 [v22.2.x] cloud_storage: fix stale materialized segment gc logic when force gc is requested
  src/v/cloud_storage/remote_partition.cc
Labels: area/redpanda, kind/backport

#6579 [v22.1.x] cloud_storage: fix stale materialized segment gc logic when force gc is requested
  src/v/cloud_storage/remote_partition.cc
Labels: area/redpanda, kind/backport

#6581 [v21.11.x] cloud_storage: fix stale materialized segment gc logic when force gc is requested
  src/v/cloud_storage/remote_partition.cc
Labels: area/redpanda, kind/backport

#6585 Fix bug for incorrect parsing of flex requests when client id is missing or null
  src/v/coproc/tests/kafka_api_materialized_tests.cc
  src/v/kafka/client/broker.cc
  src/v/kafka/client/configuration.cc
  src/v/kafka/client/configuration.h
  src/v/kafka/client/transport.h
  src/v/kafka/server/protocol_utils.cc
  src/v/kafka/server/tests/api_versions_test.cc
  src/v/redpanda/tests/fixture.h
Labels: area/redpanda
