Repository redpanda-data/redpanda, pull requests merged in 2022-04, with the labels that each got.

#4150 cluster: feature table tests & log cleanup
  src/v/cluster/feature_manager.cc
  src/v/cluster/feature_table.cc
  src/v/cluster/feature_table.h
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/feature_table_test.cc
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/kafka/server/group_metadata_migration.cc
  src/v/redpanda/admin_server.cc
Labels: area/controller, area/redpanda, kind/tech-debt

#4097 tests: add ManyClientsTest
  tests/docker/Dockerfile
  tests/docker/docker-compose.yml
  tests/rptest/services/producer_swarm.py
  tests/rptest/tests/many_clients_test.py
  tests/rptest/tests/many_partitions_test.py
  tests/rptest/tests/redpanda_test.py
Labels: kind/enhance, area/tests

#4152 tests: ignore WasmAllInputsToAllOutputsIdentityTest.verify_materializ…
  tests/rptest/tests/wasm_identity_test.py
Labels: area/tests, area/coproc

#4163 tests: increase memory size in ManyClientsTest
  tests/rptest/tests/many_clients_test.py
Labels: area/tests, ci-repeat-5

#4154 schema_registry: Support avro references
  src/v/pandaproxy/schema_registry/avro.cc
  src/v/pandaproxy/schema_registry/avro.h
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/test/CMakeLists.txt
  src/v/pandaproxy/schema_registry/test/compatibility_avro.cc
  src/v/pandaproxy/schema_registry/test/compatibility_avro.h
  src/v/pandaproxy/schema_registry/test/consume_to_store.cc
  src/v/pandaproxy/schema_registry/test/post_subjects_subject_version.cc
Labels: kind/enhance, area/redpanda, area/schema_registry

#4155 cloud_storage: cache::put checks that key is inside cache_dir
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/tests/cache_test.cc
Labels: area/redpanda

#4157 r/vote: do not wait for majority of responses from unique voters
  src/v/raft/prevote_stm.cc
  src/v/raft/vote_stm.cc
Labels: area/redpanda

#4180 rpc: Add timout for waiting on semaphore in reconnect
  src/v/rpc/reconnect_transport.cc
Labels: area/redpanda

#4184 [backport] rpc: Add timout for waiting on semaphore in reconnect
  src/v/rpc/reconnect_transport.cc
Labels: area/redpanda

#4121 tests: disable WasmPartitionMovementTest.test_dynamic_with_failure
  tests/rptest/tests/wasm_partition_movement_test.py
Labels: area/tests, area/coproc

#4164 tests: fix typo on compaction_recovery_test log_allow_list
  tests/rptest/tests/compaction_recovery_test.py
Labels: kind/bug, area/tests

#4195 cluster: fix assertion message on bad decode version
  src/v/cluster/health_monitor_types.cc
Labels: area/controller, area/redpanda, kind/tech-debt

#4193 [v21.11.x] cluster: node_health_report compat with 22.1.x
  src/v/cluster/health_monitor_types.cc
Labels: area/controller, area/redpanda, kind/tech-debt

#4151 raft: notify peers about startup to avoid vote/pre-vote
  src/v/cluster/controller.json
  src/v/cluster/members_manager.cc
  src/v/cluster/members_manager.h
  src/v/cluster/service.cc
  src/v/cluster/service.h
  src/v/cluster/types.h
  src/v/raft/consensus.cc
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
Labels: area/redpanda

#4206 r/consensus: added more context to stepdown log
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
Labels: area/redpanda, backport-needed/21.11.x

#4153 Fixed possible deadlock in `raft::mux_state_machine`
  src/v/cluster/partition_leaders_table.cc
  src/v/cluster/partition_leaders_table.h
  src/v/raft/kvelldb/kvrsm.cc
  src/v/raft/kvelldb/kvrsm.h
  src/v/raft/mux_state_machine.h
  src/v/raft/state_machine.h
  src/v/utils/expiring_promise.h
Labels: area/redpanda

#4215 [21.11.x]: backport #4153
  src/v/cluster/partition_leaders_table.cc
  src/v/cluster/partition_leaders_table.h
  src/v/raft/kvelldb/kvrsm.cc
  src/v/raft/kvelldb/kvrsm.h
  src/v/raft/mux_state_machine.h
  src/v/raft/state_machine.h
  src/v/utils/expiring_promise.h
Labels: area/redpanda

#4216 [21.11.x]: backport #4157
  src/v/raft/prevote_stm.cc
  src/v/raft/vote_stm.cc
Labels: area/redpanda

#4217 [21.11.x]: backport #4206
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
Labels: area/redpanda

#4131 config: add enum_property and use it for enum-ish properties
  src/go/rpk/pkg/api/admin/api_config.go
  src/go/rpk/pkg/cli/cmd/cluster/config/export.go
  src/v/config/base_property.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/property.h
  src/v/config/tests/CMakeLists.txt
  src/v/config/tests/enum_property_test.cc
  src/v/redpanda/admin/api-doc/cluster_config.json
  src/v/redpanda/admin_server.cc
Labels: kind/enhance, area/rpk, area/redpanda

#4205 Reset state base transport
  src/v/net/transport.cc
  src/v/net/transport.h
  src/v/rpc/transport.cc
  src/v/rpc/transport.h
Labels: area/redpanda

#3751 RFC: admin api basic auth
  docs/rfcs/20220208_admin_api_basic_auth.md
Labels: area/docs

#3744 docs/rfcs: create 20220207_connections_per_ip.md
  docs/rfcs/20220207_connections_per_ip.md
Labels: area/docs

#4239 CODEOWNERS: remove docs/ hook
  .github/CODEOWNERS
Labels: area/build

#4235 k/group_manager: do not use iterator across scheduling points
  src/v/kafka/server/group_manager.cc
Labels: area/redpanda

#4225 Do not update connections with old config
  src/v/cluster/members_manager.cc
  src/v/cluster/members_manager.h
Labels: area/redpanda

#4212 admin: emit warning on insecure admin API endpoint, log auth failures at WARN level
  src/v/redpanda/admin_server.cc
  src/v/redpanda/request_auth.cc
Labels: kind/enhance, area/redpanda

#4242 Backport of #3422
  src/v/cluster/metadata_cache.cc
  tests/rptest/clients/rpk.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/cluster_metadata_test.py
Labels: area/redpanda

#3982 cluster: enhanced unit test for feature barrier (using manual_clock)
  src/v/cluster/feature_barrier.cc
  src/v/cluster/feature_barrier.h
  src/v/cluster/feature_manager.h
  src/v/cluster/tests/feature_barrier_test.cc
Labels: area/redpanda

#4012 rpk: add is_alive info in 'redpanda admin broker ls'
  src/go/rpk/pkg/api/admin/api_broker.go
  src/go/rpk/pkg/cli/cmd/redpanda/admin/brokers/brokers.go
Labels: area/rpk

#4250 tests: run Redpanda with lower --memory by default
  tests/rptest/services/redpanda.py
Labels: area/tests

#4207 Add a version field in the operator's status
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/pkg/resources/statefulset_test.go
  src/go/k8s/tests/e2e/update-image-and-node-port/00-assert.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/01-assert.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/02-assert.yaml
Labels: area/k8s

#4248 tests: ok_to_fail TopicRecoveryTest unreliable cases
  tests/rptest/tests/topic_recovery_test.py
Labels: area/tests

#4237 Reset leaders table
  src/v/cluster/metadata_cache.cc
  src/v/cluster/metadata_cache.h
  src/v/cluster/partition_leaders_table.h
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/admin/api-doc/debug.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  tests/rptest/services/admin.py
  tests/rptest/tests/leaders_info_api_test.py
Labels: area/redpanda

#4142 cluster: Rack aware replica placement
  src/v/cluster/scheduling/constraints.cc
  tests/rptest/tests/rack_aware_replica_placement_test.py
Labels: area/redpanda

#4089 Fixes for node operations fuzzy test
  src/v/cluster/members_backend.cc
  src/v/cluster/members_backend.h
  src/v/raft/consensus.cc
  src/v/raft/types.cc
  src/v/rpc/transport.cc
  src/v/storage/disk_log_impl.cc
  tests/rptest/services/failure_injector.py
  tests/rptest/tests/node_operations_fuzzy_test.py
Labels: area/redpanda

#4160 cluster: log about ignored redpanda.yaml attributes after upgrade to central config
  src/v/cluster/config_manager.cc
  src/v/config/property.h
  tests/rptest/tests/cluster_config_test.py
Labels: kind/enhance, area/controller, area/redpanda

#4221 kafka: add `kafka_connections_max_overrides`
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/net/conn_quota.cc
  src/v/net/conn_quota.h
  src/v/net/tests/conn_quota_test.cc
  src/v/redpanda/application.cc
  tests/rptest/tests/connection_limits_test.py
Labels: kind/enhance, area/kafka, area/redpanda

#4241 CODEOWNERS: address syntax error checks
  .github/CODEOWNERS
Labels: kind/bug, area/build

#4246 storage: Filter timequery for raft_data
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/kafka/server/handlers/list_offsets.cc
  src/v/kafka/server/materialized_partition.h
  src/v/kafka/server/partition_proxy.h
  src/v/kafka/server/replicated_partition.cc
  src/v/kafka/server/replicated_partition.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/tests/timequery_test.cc
  src/v/storage/types.cc
  src/v/storage/types.h
Labels: kind/bug, area/kafka, area/storage, area/redpanda

#4273 tests: make mirror_maker_test more robust
  tests/rptest/services/kafka.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/mirror_maker_test.py
Labels: kind/bug, area/tests

#4218 fix quadratic behavior in leader balancer
  src/v/cluster/scheduling/leader_balancer_greedy.h
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/leader_balancer_bench.cc
  src/v/cluster/tests/leader_balancer_test.cc
  src/v/cluster/tests/leader_balancer_test_utils.h
Labels: area/redpanda

#4227 Infinite retention
  src/v/config/configuration.h
  src/v/config/property.h
  src/v/config/tests/CMakeLists.txt
  src/v/config/tests/retention_property_test.cc
  src/v/kafka/server/handlers/describe_configs.cc
  src/v/kafka/server/tests/alter_config_test.cc
  src/v/storage/log_manager.cc
  src/v/storage/log_manager.h
Labels: area/redpanda

#4277 Persisted_stm: fix sync timing out in case of acks=1
  src/v/cluster/persisted_stm.cc
  tests/rptest/tests/archival_test.py
Labels: area/redpanda

#4275 operator: fix conflict in controller test
  src/go/k8s/controllers/redpanda/cluster_controller_configuration_test.go
Labels: area/k8s

#4259 [admin] Get leaders info request
  src/v/cluster/metadata_cache.cc
  src/v/cluster/metadata_cache.h
  src/v/cluster/partition_leaders_table.cc
  src/v/cluster/partition_leaders_table.h
  src/v/redpanda/admin/api-doc/debug.json
  src/v/redpanda/admin_server.cc
  tests/rptest/services/admin.py
  tests/rptest/tests/leaders_info_api_test.py
Labels: area/redpanda

#4287 Removed `header_crc` assertiton
  src/v/storage/segment_appender_utils.cc
Labels: area/redpanda

#4290 Backport4227: Infinite retention
  src/v/config/configuration.h
  src/v/config/property.h
  src/v/config/tests/CMakeLists.txt
  src/v/config/tests/retention_property_test.cc
  src/v/kafka/server/handlers/describe_configs.cc
  src/v/kafka/server/tests/alter_config_test.cc
  src/v/storage/log_manager.cc
  src/v/storage/log_manager.h
Labels: area/redpanda

#4289 [v21.11.x] Backport "Persisted_stm: fix sync timing out in case of acks=1"
  src/v/cluster/persisted_stm.cc
  tests/rptest/tests/archival_test.py
Labels: area/redpanda

#4182 cloud_storage: Improve SI index compression
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/remote_segment_index.cc
  src/v/cloud_storage/remote_segment_index.h
  src/v/cloud_storage/tests/cache_test.cc
  src/v/cloud_storage/tests/cache_test_fixture.h
  src/v/cloud_storage/tests/remote_segment_index_test.cc
  src/v/utils/delta_for.h
  src/v/utils/tests/delta_for_test.cc
Labels: area/redpanda

#4194 [v21.11.x] Forward-compatibility with 22.1.x controller log entries
  src/v/cluster/commands.h
  src/v/cluster/compat_backend.h
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/controller_stm.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/model/model.cc
  src/v/model/record_batch_types.h
Labels: area/redpanda, kind/tech-debt

#4272 [v21.11.x] backport pr4223
  src/v/kafka/server/handlers/alter_configs.cc
  src/v/kafka/server/handlers/incremental_alter_configs.cc
  src/v/kafka/server/handlers/topics/types.h
  src/v/kafka/server/tests/alter_config_test.cc
  tests/rptest/tests/alter_topic_configuration_test.py
Labels: area/redpanda

#4276 kafka: Filter timequery for raft_data - test
  src/v/kafka/server/tests/list_offsets_test.cc
  src/v/storage/tests/utils/random_batch.cc
  src/v/storage/tests/utils/random_batch.h
Labels: area/kafka, area/redpanda

#4280 Backport v21.11.x pr4246 pr4276
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/kafka/server/handlers/list_offsets.cc
  src/v/kafka/server/materialized_partition.h
  src/v/kafka/server/partition_proxy.h
  src/v/kafka/server/replicated_partition.cc
  src/v/kafka/server/replicated_partition.h
  src/v/kafka/server/tests/list_offsets_test.cc
  src/v/storage/disk_log_impl.cc
  src/v/storage/tests/timequery_test.cc
  src/v/storage/tests/utils/random_batch.cc
  src/v/storage/tests/utils/random_batch.h
  src/v/storage/types.cc
  src/v/storage/types.h
Labels: area/redpanda

#4313 Add properties that are returned from topic describe config to noop list
  src/v/kafka/server/handlers/topics/types.h
  tests/rptest/clients/kafka_cli_tools.py
  tests/rptest/tests/alter_topic_configuration_test.py
Labels: area/redpanda

#4271 Fixed assertition when handling fetch requests
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/fetch.h
  src/v/kafka/server/tests/fetch_test.cc
  tests/rptest/services/kafka_cli_consumer.py
  tests/rptest/tests/fetch_long_poll_test.py
Labels: area/redpanda

#4311 CODEOWNERS: replace ivotron with redpanda-data/devprod
  .github/CODEOWNERS
Labels: area/build

#4304 cmake: update seastar to tip of redpanda-data/seastar/master
  cmake/oss.cmake.in
Labels: area/build

#4315 [v21.11.x] backport pr4313
  src/v/kafka/server/handlers/topics/types.h
  tests/rptest/clients/kafka_cli_tools.py
  tests/rptest/tests/alter_topic_configuration_test.py
Labels: area/redpanda

#4284 cluster: catch raft group that fall through the leadership blockade
  src/v/cluster/members_table.cc
  src/v/raft/prevote_stm.cc
  src/v/raft/vote_stm.cc
  src/v/redpanda/admin_server.cc
  tests/rptest/tests/maintenance_test.py
Labels: area/redpanda

#4320 tests: use --read-committed in RpkConsumer
  tests/rptest/services/rpk_consumer.py
Labels: kind/bug, area/tests

#4303 [backport] admin_api: Added reset/get leaders_table requests
  src/v/cluster/metadata_cache.cc
  src/v/cluster/metadata_cache.h
  src/v/cluster/partition_leaders_table.cc
  src/v/cluster/partition_leaders_table.h
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/admin/api-doc/debug.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  tests/rptest/services/admin.py
  tests/rptest/tests/leaders_info_api_test.py
Labels: area/redpanda

#4312 Fix topic recovery for partition with missing segments
  src/v/cloud_storage/partition_recovery_manager.cc
  src/v/cloud_storage/partition_recovery_manager.h
Labels: area/redpanda

#4148 Run each archiver in its own fiber
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/archival/service.cc
  src/v/archival/service.h
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/archival/tests/service_fixture.cc
  src/v/archival/tests/service_test.cc
  src/v/archival/types.cc
  src/v/archival/types.h
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
  src/v/cluster/partition_manager.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/model/fundamental.h
  src/v/redpanda/application.cc
  src/v/ssx/future-util.h
  src/v/ssx/tests/CMakeLists.txt
  src/v/ssx/tests/future_util.cc
  tests/rptest/tests/topic_recovery_test.py
Labels: area/redpanda

#4255 rpk: add first set of maintenance mode commands
  src/go/rpk/pkg/api/admin/admin.go
  src/go/rpk/pkg/api/admin/api_broker.go
  src/go/rpk/pkg/cli/cmd/cluster.go
  src/go/rpk/pkg/cli/cmd/cluster/maintenance/disable.go
  src/go/rpk/pkg/cli/cmd/cluster/maintenance/enable.go
  src/go/rpk/pkg/cli/cmd/cluster/maintenance/maintenance.go
  tests/rptest/clients/rpk.py
  tests/rptest/tests/maintenance_test.py
Labels: area/rpk

#4285 Revert "k8s: remove produce-consume test"
  src/go/k8s/tests/e2e/produce-consume/00-assert.yaml
  src/go/k8s/tests/e2e/produce-consume/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/produce-consume/01-assert.yaml
  src/go/k8s/tests/e2e/produce-consume/01-create-topic.yaml
  src/go/k8s/tests/e2e/produce-consume/02-assert.yaml
  src/go/k8s/tests/e2e/produce-consume/02-produce-message.yaml
  src/go/k8s/tests/e2e/produce-consume/03-assert.yaml
  src/go/k8s/tests/e2e/produce-consume/03-consume-message.yaml
  src/go/k8s/tests/e2e/produce-consume/04-assert.yaml
  src/go/k8s/tests/e2e/produce-consume/04-delete-topic.yaml
Labels: area/k8s

#4199 idempotency: enable by default
  src/v/cluster/id_allocator_frontend.cc
  src/v/cluster/rm_partition_frontend.cc
  src/v/config/configuration.cc
  src/v/kafka/server/handlers/init_producer_id.cc
  src/v/vformat.h
  tests/rptest/services/admin.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/many_partitions_test.py
  tests/rptest/tests/raft_availability_test.py
Labels: area/redpanda

#4325 Backport4322: kafka: ListOffsets returns -1 if no offset found
  src/v/kafka/server/handlers/list_offsets.cc
  src/v/kafka/server/tests/list_offsets_test.cc
Labels: area/redpanda

#4322 kafka: ListOffsets returns -1 if no offset found
  src/v/kafka/server/handlers/list_offsets.cc
  src/v/kafka/server/tests/list_offsets_test.cc
Labels: area/redpanda

#4329 [21.11.x]: backport #3654, #3824, #4199
  src/v/cluster/id_allocator_frontend.cc
  src/v/cluster/partition.cc
  src/v/cluster/rm_partition_frontend.cc
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/handlers/init_producer_id.cc
  src/v/model/record.h
  src/v/vformat.h
  tests/docker/Dockerfile
  tests/docker/Dockerfile.dockerignore
  tests/go/sarama/produce_test/go.mod
  tests/go/sarama/produce_test/main.go
  tests/rptest/tests/compatibility/sarama_produce_test.py
  tests/rptest/tests/idempotency_test.py
Labels: area/redpanda

#4296 slash commands: Fix milestone auto mode bugs
  .github/workflows/backport-command.yml
Labels: area/build

#4323 c/types: removed unused sort from get_metadata
  src/v/cluster/types.cc
Labels: area/redpanda

#4334 gha: clean up error handling for /backport
  .github/workflows/backport-command.yml
Labels: area/build

#4342 r/vote_stm: do not step down when replicating configuration failed
  src/v/raft/vote_stm.cc
Labels: area/redpanda

#4335 tests: mark ok_to_fail test_node_storage_metrics
  tests/rptest/tests/node_metrics_test.py
Labels: kind/bug, area/tests

#4351 tests: move test executables out of /tmp
  tests/docker/Dockerfile
  tests/rptest/services/verifiable_consumer.py
  tests/rptest/services/verifiable_producer.py
  tests/rptest/tests/compatibility/sarama_produce_test.py
Labels: area/tests

#4350 tests: update test_suite_ec2
  tests/rptest/test_suite_ec2.yml
Labels: area/tests

#4319 admin: report maintenance mode status for brokers
  src/v/cluster/controller.cc
  src/v/cluster/drain_manager.cc
  src/v/cluster/drain_manager.h
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
  src/v/cluster/health_monitor_frontend.cc
  src/v/cluster/health_monitor_frontend.h
  src/v/cluster/health_monitor_types.cc
  src/v/cluster/health_monitor_types.h
  src/v/redpanda/admin/api-doc/broker.json
  src/v/redpanda/admin_server.cc
  tests/rptest/services/admin.py
  tests/rptest/tests/maintenance_test.py
Labels: area/redpanda

#4340 operator: fix possible conflicts in controller tests
  src/go/k8s/controllers/redpanda/cluster_controller_configuration_test.go
Labels: area/k8s

#4354 update more copyright headers to use Redpanda Data
  src/go/rpk/pkg/cli/cmd/redpanda_darwin.go
  src/v/cluster/tests/leader_balancer_bench.cc
  src/v/cluster/tests/leader_balancer_test_utils.h
  src/v/json/_include_first.h
  src/v/json/encodings.h
  src/v/json/istreamwrapper.h
  src/v/json/ostreamwrapper.h
  src/v/json/prettywriter.h
  src/v/json/reader.h
  src/v/json/schema.h
  src/v/json/stream.h
  src/v/json/stringbuffer.h
  src/v/json/types.h
  src/v/pandaproxy/json/test/parse.cc
  tests/rptest/services/producer_swarm.py
  tests/rptest/tests/many_clients_test.py
  tests/rptest/tests/rack_aware_replica_placement_test.py
Labels: area/rpk, area/redpanda

#4349 [v21.11.14] backport: do not step down when replicating configuration failed
  src/v/raft/vote_stm.cc
Labels: area/redpanda

#4343 tests: quieten exceptions during redpanda startup, fix a bug in mirrormaker test teardown
  tests/rptest/services/redpanda.py
  tests/rptest/tests/mirror_maker_test.py
Labels: area/tests

#4368 Fixed isolation availability issue
  src/v/cluster/id_allocator_frontend.cc
  src/v/kafka/server/errors.h
  tests/rptest/tests/raft_availability_test.py
Labels: area/redpanda

#4363 [v21.11.x] rpk cli missing redpanda on MacOS
  src/go/rpk/pkg/cli/cmd/redpanda_darwin.go
  src/go/rpk/pkg/cli/cmd/root_darwin.go
Labels: kind/enhance, area/rpk

#4387 rpk: Add golangci-lint
  .github/workflows/lint.yml
  src/go/rpk/.golangci.yml
  src/go/rpk/pkg/cli/cmd/acl/common.go
  src/go/rpk/pkg/cli/cmd/common/common.go
  src/go/rpk/pkg/cli/cmd/generate/grafana.go
  src/go/rpk/pkg/cli/cmd/iotune.go
  src/go/rpk/pkg/cli/cmd/redpanda/start.go
  src/go/rpk/pkg/system/grub_test.go
  src/go/rpk/pkg/system/runtime_options.go
  src/go/rpk/pkg/tuners/disk/block_devices.go
  src/go/rpk/pkg/tuners/executors/commands/ethtool_change.go
  src/go/rpk/pkg/tuners/hwloc/cpuset.go
  src/go/rpk/pkg/tuners/irq/balance_service.go
  src/go/rpk/pkg/tuners/irq/balance_service_test.go
  src/go/rpk/pkg/tuners/irq/proc_file.go
  src/go/rpk/pkg/tuners/network/nic.go
  src/go/rpk/pkg/tuners/network/nic_test.go
  src/go/rpk/pkg/utils/os.go
Labels: area/rpk, area/build

#4388 CODEOWNERS: update rpk
  .github/CODEOWNERS
Labels: area/build

#4392 cloud_storage: retry gracefully on EPIPE errors
  src/v/cloud_storage/remote.cc
Labels: area/redpanda, kind/tech-debt, area/shadow-indexing

#4372 tests: reduce partition count in debug mode for MultiRestartTest
  tests/rptest/tests/multi_restarts_with_archival_test.py
Labels: area/tests, area/shadow-indexing

#4333 rpk: add broker version info in 'redpanda admin broker ls'
  src/go/rpk/pkg/api/admin/api_broker.go
  src/go/rpk/pkg/cli/cmd/redpanda/admin/brokers/brokers.go
Labels: area/rpk

#4400 build: simplify admin server json handling
  src/v/redpanda/CMakeLists.txt
Labels: area/redpanda

#4396 k8s: fix lint warnings and disabling gomnd
  src/go/k8s/.golangci.yml
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook_test.go
  src/go/k8s/cmd/configurator/main.go
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/pkg/resources/statefulset_update.go
Labels: area/k8s

#4405 tests: use RedpandaService.start in RackAwareReplicaPlacementTest
  tests/rptest/services/redpanda.py
  tests/rptest/tests/rack_aware_replica_placement_test.py
Labels: area/tests

#4395 tests: copy HttpServer script to node during test, add inject_remote_script helper
  tests/docker/Dockerfile
  tests/rptest/remote_scripts/README.md
  tests/rptest/remote_scripts/schema_registry_test_helper.py
  tests/rptest/remote_scripts/simple_http_server.py
  tests/rptest/services/http_server.py
  tests/rptest/tests/schema_registry_test.py
  tests/rptest/util.py
Labels: kind/tech-debt, area/tests

#4393 tests: improve LogLevelTest to not rely on initial level=trace
  tests/rptest/tests/log_level_test.py
Labels: kind/tech-debt, area/tests

#4406 tests: fix assertion in cluster_features_test
  tests/rptest/tests/cluster_features_test.py
Labels: kind/bug, area/tests

#4409 V22.1.x Backport for PR 4333
  src/go/rpk/pkg/api/admin/api_broker.go
  src/go/rpk/pkg/cli/cmd/redpanda/admin/brokers/brokers.go
Labels: area/rpk

#4408 cloud_storage: downgrade another log error to a warning
  src/v/archival/ntp_archiver_service.cc
  src/v/http/client.cc
Labels: area/redpanda, kind/tech-debt, area/shadow-indexing

#4389 c/dissemination: do not query topic metadata for ntp
  src/v/cluster/metadata_dissemination_service.cc
  src/v/cluster/metadata_dissemination_utils.cc
  src/v/cluster/metadata_dissemination_utils.h
  src/v/cluster/tests/metadata_dissemination_utils_test.cc
Labels: area/redpanda

#4381 Backport v21.11.x pr3370
  src/v/cluster/members_manager.cc
  src/v/cluster/members_manager.h
  src/v/cluster/members_table.cc
  src/v/cluster/members_table.h
  src/v/redpanda/admin/api-doc/broker.json
  src/v/redpanda/admin_server.cc
  tests/rptest/services/admin.py
  tests/rptest/tests/cluster_view_test.py
Labels: area/redpanda

#4444 [v22.1.x] Backport test changes for clustered ducktape
  src/v/cloud_storage/remote.cc
  src/v/http/client.cc
  tests/docker/Dockerfile
  tests/rptest/archival/s3_client.py
  tests/rptest/remote_scripts/README.md
  tests/rptest/remote_scripts/schema_registry_test_helper.py
  tests/rptest/remote_scripts/simple_http_server.py
  tests/rptest/services/http_server.py
  tests/rptest/services/producer_swarm.py
  tests/rptest/services/redpanda.py
  tests/rptest/services/verifiable_consumer.py
  tests/rptest/services/verifiable_producer.py
  tests/rptest/test_suite_ec2.yml
  tests/rptest/tests/archival_test.py
  tests/rptest/tests/compatibility/sarama_produce_test.py
  tests/rptest/tests/e2e_shadow_indexing_test.py
  tests/rptest/tests/end_to_end.py
  tests/rptest/tests/log_level_test.py
  tests/rptest/tests/many_clients_test.py
  tests/rptest/tests/many_partitions_test.py
  tests/rptest/tests/mirror_maker_test.py
  tests/rptest/tests/multi_restarts_with_archival_test.py
  tests/rptest/tests/rack_aware_replica_placement_test.py
  tests/rptest/tests/redpanda_test.py
  tests/rptest/tests/schema_registry_test.py
  tests/rptest/tests/shadow_indexing_tx_test.py
  tests/rptest/tests/topic_recovery_test.py
  tests/rptest/util.py
Labels: area/tests, kind/backport

#4448 [v22.1.x] tests: temporarily allow out_of_range errs in TopicDeleteStressTest
  tests/rptest/tests/topic_delete_test.py
Labels: area/tests, kind/backport

#4446 [v22.1.x] tests: fix assertion in cluster_features_test
  tests/rptest/tests/cluster_features_test.py
Labels: area/tests, kind/backport

#4440 [v22.1.1] Backport pr4340 to v22.1.x
  src/go/k8s/controllers/redpanda/cluster_controller_configuration_test.go
Labels: area/k8s

#4450 k8s: fix lint warnings and disabling gomnd
  src/go/k8s/.golangci.yml
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook_test.go
  src/go/k8s/cmd/configurator/main.go
  src/go/k8s/pkg/resources/statefulset_update.go
Labels: area/k8s

#4143 Added slash command to create pull requests
  .github/workflows/backport-command.yml
  .github/workflows/slash-commands.yml
Labels: kind/enhance, area/build

#4449 [v22.1.1] Collection of backports
  src/v/cluster/controller.cc
  src/v/cluster/drain_manager.cc
  src/v/cluster/drain_manager.h
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
  src/v/cluster/health_monitor_frontend.cc
  src/v/cluster/health_monitor_frontend.h
  src/v/cluster/health_monitor_types.cc
  src/v/cluster/health_monitor_types.h
  src/v/cluster/id_allocator_frontend.cc
  src/v/cluster/metadata_dissemination_service.cc
  src/v/cluster/metadata_dissemination_utils.cc
  src/v/cluster/metadata_dissemination_utils.h
  src/v/cluster/tests/metadata_dissemination_utils_test.cc
  src/v/kafka/server/errors.h
  src/v/raft/vote_stm.cc
  src/v/redpanda/admin/api-doc/broker.json
  src/v/redpanda/admin_server.cc
  src/v/rpc/transport.h
  tests/rptest/services/admin.py
  tests/rptest/tests/maintenance_test.py
  tests/rptest/tests/raft_availability_test.py
  tests/rptest/util.py
Labels: area/redpanda

#4379 Backport v21.11.x pr3616
  src/v/cluster/persisted_stm.cc
  src/v/cluster/rm_stm.cc
  src/v/cluster/tests/tm_stm_tests.cc
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/tx_gateway_frontend.h
Labels: area/redpanda

#4468 config: adjust visibility of enable_rack_awareness
  src/v/config/configuration.cc
Labels: area/controller, area/redpanda, kind/tech-debt

#4390 rpk: add cluster maintenance status and enable barrier
  src/go/rpk/pkg/api/admin/api_broker.go
  src/go/rpk/pkg/cli/cmd/cluster/maintenance/enable.go
  src/go/rpk/pkg/cli/cmd/cluster/maintenance/maintenance.go
  src/go/rpk/pkg/cli/cmd/cluster/maintenance/status.go
  tests/rptest/clients/rpk.py
  tests/rptest/tests/maintenance_test.py
Labels: area/rpk

#4480 [v22.1.x] backport #4390
  src/go/rpk/pkg/api/admin/api_broker.go
  src/go/rpk/pkg/cli/cmd/cluster/maintenance/enable.go
  src/go/rpk/pkg/cli/cmd/cluster/maintenance/maintenance.go
  src/go/rpk/pkg/cli/cmd/cluster/maintenance/status.go
  tests/rptest/clients/rpk.py
  tests/rptest/tests/maintenance_test.py
Labels: area/rpk

#4487 kafka: fix undefined behavior in consumer group topic migration
  src/v/kafka/server/group_metadata_migration.cc
Labels: area/redpanda

#4425 Partitions subcommand
  src/go/rpk/pkg/cli/cmd/redpanda/admin/admin.go
  src/go/rpk/pkg/cli/cmd/redpanda/admin/partitions/partitions.go
Labels: area/rpk

#4454 kafka: fix replication factor when creating __consumer_offsets
  src/v/kafka/server/handlers/find_coordinator.cc
  src/v/kafka/server/rm_group_frontend.cc
  src/v/kafka/server/rm_group_frontend.h
Labels: kind/bug, area/kafka, area/redpanda

#4493 Use correct fn to move offset translator state
  src/v/cluster/controller_backend.cc
Labels: area/redpanda

#4500 Post announcements to internal Slack channels on releases
  .github/workflows/slack-messages.yml
Labels: area/build

#4497 [v22.1.x] backport Use correct fn to move offset translator state
  src/v/cluster/controller_backend.cc
Labels: area/redpanda

#4503 Cmake: bump seastar version
  cmake/oss.cmake.in
Labels: area/build
