Repository redpanda-data/redpanda, pull requests merged in 2022-10, with the labels that each got.

#6574 Ensure background reclaimer is always notified
  src/v/storage/batch_cache.cc
Labels: area/redpanda

#6591 k8s: fix port where admin and pandaproxy API are exposed when using a…
  src/go/k8s/pkg/resources/configmap.go
Labels: area/k8s

#6603 Made upgrade test sequential consumer logs more verbose
  src/v/kafka/server/request_context.h
  tests/rptest/services/kgo_verifier_services.py
  tests/rptest/tests/upgrade_test.py
Labels: kind/bug, ci-failure, pr-blocker

#6611 Controller backend cleanup
  src/v/cluster/controller_backend.cc
Labels: area/redpanda

#6515 tests: disable segment size jitter in integration tests
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/application.cc
  src/v/storage/log_manager.h
  src/v/storage/segment_utils.h
  src/v/storage/tests/storage_e2e_test.cc
  src/v/storage/tests/storage_test_fixture.h
  src/v/storage/types.h
  tests/rptest/scale_tests/franz_go_verifiable_test.py
  tests/rptest/scale_tests/many_partitions_test.py
  tests/rptest/services/kgo_verifier_services.py
  tests/rptest/services/redpanda.py
  tests/rptest/services/redpanda_installer.py
  tests/rptest/tests/retention_policy_test.py
  tests/rptest/utils/si_utils.py
Labels: kind/enhance, area/storage, area/redpanda, area/tests

#6610 operator: allow to customize schema registry advertised address
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook_test.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/controllers/redpanda/cluster_controller.go
Labels: area/k8s

#6609 operator: change console to use wildcard certificate
  src/go/k8s/pkg/resources/ingress.go
  src/go/k8s/pkg/resources/ingress_test.go
Labels: area/k8s

#6533 cloud_storage: cleanup empty directories on startup
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/cache_service.h
  src/v/cloud_storage/recursive_directory_walker.cc
  src/v/cloud_storage/recursive_directory_walker.h
  src/v/cloud_storage/tests/cache_test.cc
  src/v/cloud_storage/tests/cache_test_fixture.h
  src/v/cloud_storage/tests/directory_walker_test.cc
Labels: kind/enhance, area/redpanda, area/shadow-indexing

#6575 tx/tests: unit test coverage for aborted tx
  src/v/cluster/tests/rm_stm_tests.cc
Labels: kind/enhance, area/transactions

#6541 compaction: Factor in max_collectible_offset for all cleanup types.
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/tests/storage_e2e_test.cc
Labels: kind/bug, area/redpanda, area/transactions

#6619 Fixed segfault that may happen when data stream is opened during compaction
  src/v/storage/segment_reader.cc
  src/v/storage/segment_reader.h
  src/v/storage/tests/storage_e2e_test.cc
  src/v/storage/tests/storage_test_fixture.h
Labels: area/redpanda

#6440 Collect node status information outside of the Raft sub-system
  src/v/cluster/CMakeLists.txt
  src/v/cluster/cluster_utils.h
  src/v/cluster/fwd.h
  src/v/cluster/members_table.cc
  src/v/cluster/members_table.h
  src/v/cluster/node_status_backend.cc
  src/v/cluster/node_status_backend.h
  src/v/cluster/node_status_rpc.json
  src/v/cluster/node_status_rpc_handler.cc
  src/v/cluster/node_status_rpc_handler.h
  src/v/cluster/node_status_rpc_types.h
  src/v/cluster/node_status_table.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/net/client_probe.h
  src/v/net/probes.cc
  src/v/redpanda/admin/api-doc/debug.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/resource_mgmt/cpu_scheduling.h
  src/v/rpc/connection_cache.cc
  src/v/rpc/connection_cache.h
  src/v/rpc/reconnect_transport.h
  src/v/rpc/transport.cc
  src/v/rpc/transport.h
  src/v/rpc/types.h
  tests/rptest/services/admin.py
  tests/rptest/tests/node_status_test.py
Labels: kind/enhance, area/redpanda

#6594 cloud_storage: Use strong offset types in SI
  src/v/archival/ntp_archiver_service.cc
  src/v/cloud_storage/offset_translation_layer.cc
  src/v/cloud_storage/offset_translation_layer.h
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/partition_recovery_manager.cc
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/remote_segment_index.cc
  src/v/cloud_storage/remote_segment_index.h
  src/v/cloud_storage/tests/partition_manifest_test.cc
  src/v/cloud_storage/tests/remote_partition_test.cc
  src/v/cloud_storage/tests/remote_segment_index_test.cc
  src/v/cloud_storage/tests/remote_segment_test.cc
  src/v/cloud_storage/types.h
  src/v/cluster/partition.cc
  src/v/kafka/server/replicated_partition.cc
  src/v/model/fundamental.h
Labels: kind/enhance, area/redpanda, area/shadow-indexing

#6606 storage/kafka: fix time queries
  src/v/kafka/server/replicated_partition.cc
  src/v/model/record.h
  src/v/storage/batch_cache.cc
  src/v/storage/compaction_reducers.cc
  src/v/storage/disk_log_impl.cc
  src/v/storage/index_state.cc
  src/v/storage/index_state.h
  src/v/storage/log_reader.cc
  src/v/storage/log_reader.h
  src/v/storage/segment_index.cc
  src/v/storage/tests/offset_index_utils_tests.cc
  src/v/storage/types.cc
  src/v/storage/types.h
  src/v/utils/fragmented_vector.h
  tests/docker/Dockerfile
  tests/rptest/clients/kafka_cat.py
  tests/rptest/clients/rpk_remote.py
  tests/rptest/services/kgo_verifier_services.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/timequery_test.py
Labels: kind/bug, area/kafka, area/storage, area/redpanda

#6632 [v22.2.x] Backport of #6619
  src/v/storage/segment_reader.cc
  src/v/storage/segment_reader.h
  src/v/storage/tests/storage_e2e_test.cc
Labels: kind/bug, area/storage, kind/backport

#6605 [v22.2.x] Fix bug for incorrect parsing of flex requests when client id is missing or null
  src/v/coproc/tests/kafka_api_materialized_tests.cc
  src/v/kafka/client/broker.cc
  src/v/kafka/client/configuration.cc
  src/v/kafka/client/configuration.h
  src/v/kafka/client/transport.h
  src/v/kafka/server/protocol_utils.cc
  src/v/kafka/server/tests/api_versions_test.cc
  src/v/redpanda/tests/fixture.h
Labels: area/redpanda, kind/backport

#6621 net: non-functional cleanup
  src/v/net/transport.h
  src/v/rpc/reconnect_transport.h
  src/v/rpc/transport.h
Labels: area/redpanda, kind/tech-debt

#6636 test: remove tiny falloc config in test_cpu_limited
  tests/rptest/tests/resource_limits_test.py
Labels: kind/tech-debt, area/tests

#6637 Allow using public TLS certificates for Pandaproxy API
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook_test.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/tests/e2e/explicit-ports-tls/00-assert.yaml
  src/go/k8s/tests/e2e/explicit-ports-tls/00-initial-resources.yaml
  src/go/k8s/tests/e2e/explicit-ports-tls/01-assert.yaml
  src/go/k8s/tests/e2e/explicit-ports-tls/01-probes.yaml
Labels: area/k8s

#6449 [Snyk] Upgrade prettier from 2.3.0 to 2.7.1
  src/js/package-lock.json
  src/js/package.json
Labels: kind/enhance, area/wasm, dependencies, area/security

#5730 rpc/transport: Release resource units right after dispatching send
  src/v/rpc/test/echo_service.json
  src/v/rpc/test/rpc_gen_cycling_test.cc
  src/v/rpc/test/rpc_gen_types.h
  src/v/rpc/transport.cc
  tests/rptest/tests/timely_shutdown_test.py
Labels: kind/bug, area/redpanda, area/tests, ci-failure

#6565 archival: adds segment reupload collection utility
  src/v/archival/CMakeLists.txt
  src/v/archival/segment_reupload.cc
  src/v/archival/segment_reupload.h
  src/v/archival/tests/CMakeLists.txt
  src/v/archival/tests/segment_reupload_test.cc
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/tests/partition_manifest_test.cc
Labels: kind/enhance, area/redpanda, area/shadow-indexing

#6654 tests: disable retention.ms in TimeQueryTest
  tests/rptest/tests/timequery_test.py
Labels: kind/bug, area/tests

#6658 storage: do not try to timequery into compressed batches
  src/v/storage/log_reader.cc
Labels: kind/bug, area/storage, area/redpanda

#6466 Serde: Split serde::write function
  src/v/serde/serde.h
Labels: kind/enhance, area/redpanda, community

#6662 kafka/tests: fix a broken assertion in `list_offsets`
  src/v/kafka/server/tests/create_topics_test.cc
  src/v/kafka/server/tests/list_offsets_test.cc
Labels: kind/bug, area/kafka, area/tests

#6529 rpc: add a feature for using transport v2 from start of connection
  src/v/cluster/cluster_utils.cc
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/redpanda/tests/fixture.h
  src/v/rpc/connection_cache.h
  src/v/rpc/transport.cc
  src/v/rpc/transport.h
  src/v/rpc/types.h
  src/v/utils/waiter_queue.h
  tests/rptest/tests/cluster_features_test.py
Labels: kind/enhance, area/redpanda

#6663 Fix shadow indexing mode selection
  src/v/kafka/server/handlers/topics/types.cc
  tests/rptest/tests/topic_creation_test.py
Labels: kind/bug, area/shadow-indexing

#6643 admin: return 503 on `replication_error`
  src/v/redpanda/admin_server.cc
Labels: kind/bug, area/redpanda, ci-failure

#6645 Increase limits for allowed latency in many partitions test
  tests/rptest/scale_tests/many_partitions_test.py
Labels: kind/bug, area/tests, ci-failure

#6618 pp: Add kafka client cache to /topics routes
  src/v/pandaproxy/rest/handlers.cc
  tests/rptest/tests/pandaproxy_test.py
Labels: kind/enhance, area/redpanda, area/pandaproxy, area/security

#6084 Added compacted topic to some tests using verifiable consumer/producer pair
  src/v/storage/log_manager.cc
  tests/rptest/scale_tests/node_operations_fuzzy_test.py
  tests/rptest/services/verifiable_producer.py
  tests/rptest/tests/compaction_end_to_end_test.py
  tests/rptest/tests/end_to_end.py
  tests/rptest/tests/partition_move_interruption_test.py
Labels: kind/enhance, area/redpanda, area/tests

#6665 save cluster config at end of tests
  tests/rptest/services/redpanda.py
Labels: area/tests, team/devprod

#6624 bootstrap: plug in initial abstractions
  src/v/cluster/CMakeLists.txt
  src/v/cluster/bootstrap.json
  src/v/cluster/bootstrap_service.cc
  src/v/cluster/bootstrap_service.h
  src/v/cluster/bootstrap_types.h
  src/v/cluster/cluster_discovery.cc
  src/v/cluster/cluster_discovery.h
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/model/fundamental.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/storage/api.h
Labels: kind/enhance, area/redpanda

#6671 tx coordinator: make logs less noisy
  src/v/cluster/tx_gateway_frontend.cc
Labels: area/redpanda

#6673 archival: Fix assertion in archival_policy
  src/v/archival/archival_policy.cc
Labels: kind/bug, area/shadow-indexing, remediation

#6687 kafka/client: Mitigate `std::errc::broken_pipe`
  src/v/kafka/client/client.cc
Labels: area/redpanda

#6690 [v22.2.x] archival: Fix assertion in archival_policy
  src/v/archival/archival_policy.cc
Labels: area/redpanda, kind/backport

#6691 [v22.1.x] archival: Fix assertion in archival_policy
  src/v/archival/archival_policy.cc
Labels: area/redpanda, kind/backport

#6696 [v21.11.x] kafka/client: Mitigate `std::errc::broken_pipe`
  src/v/kafka/client/client.cc
Labels: area/redpanda, kind/backport

#6695 [v22.1.x] kafka/client: Mitigate `std::errc::broken_pipe`
  src/v/kafka/client/client.cc
Labels: area/redpanda, kind/backport

#6694 [v22.2.x] kafka/client: Mitigate `std::errc::broken_pipe`
  src/v/kafka/client/client.cc
Labels: area/redpanda, kind/backport

#6689 uuid_t: follow-up changes
  src/v/serde/serde.h
  src/v/serde/test/serde_test.cc
  src/v/utils/tests/CMakeLists.txt
  src/v/utils/tests/uuid_test.cc
  src/v/utils/uuid.h
Labels: area/redpanda

#6219 Fix make docker-build
  src/go/k8s/Makefile
Labels: kind/bug, area/k8s

#6679 Set allowedOrigins in RedpandaCloud as list of strings
  src/go/k8s/apis/redpanda/v1alpha1/console_enterprise_types.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_consoles.yaml
  src/go/k8s/controllers/redpanda/console_controller_test.go
Labels: area/k8s

#6702 [v22.2.x] archival: Fix off by one error in get_file_range
  src/v/archival/archival_policy.cc
  tests/rptest/tests/archival_test.py
Labels: area/redpanda, kind/backport

#6688 admin: urldecode logger
  src/v/redpanda/admin_server.cc
Labels: area/redpanda

#6705 archival: Fix off by one error in get_file_range
  src/v/archival/archival_policy.cc
Labels: kind/bug, area/shadow-indexing, kind/backport

#6707 [v22.2.x] admin: urldecode logger
  src/v/redpanda/admin_server.cc
Labels: kind/bug, area/redpanda, kind/backport

#6708 admin: urldecode logger
  src/v/redpanda/admin_server.cc
Labels: kind/bug, area/redpanda, kind/backport

#6656 cloud_storage: implement time query
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/tests/partition_manifest_test.cc
  src/v/cluster/partition.cc
  src/v/kafka/server/replicated_partition.cc
  src/v/kafka/server/tests/list_offsets_test.cc
  src/v/model/tests/random_batch.cc
  src/v/model/tests/random_batch.h
  src/v/redpanda/tests/fixture.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/log.h
  src/v/storage/mem_log_impl.cc
  src/v/storage/tests/log_retention_tests.cc
  src/v/storage/tests/utils/disk_log_builder.cc
  src/v/storage/tests/utils/disk_log_builder.h
  tests/rptest/services/redpanda.py
  tests/rptest/tests/shadow_indexing_admin_api_test.py
  tests/rptest/tests/timequery_test.py
  tests/rptest/util.py
Labels: kind/enhance, area/kafka, area/redpanda

#6709 Bump log4j dependencies
  tests/java/compacted-log-verifier/pom.xml
  tests/java/e2e-verifiers/pom.xml
  tests/java/kafka-verifier/pom.xml
Labels: kind/enhance, dependencies, area/security, java

#6701 [v22.2.x] [ducktape] Fix connection rate test
  tests/rptest/services/rpk_consumer.py
  tests/rptest/tests/connection_rate_limit_test.py
Labels: kind/backport

#6714 tests: skip TimeQueryTest in debug mode
  tests/rptest/tests/timequery_test.py
Labels: kind/bug, area/tests

#6718 storage/tests: remove use of walltime from log appender tests
  src/v/storage/tests/log_truncate_test.cc
  src/v/storage/tests/storage_e2e_test.cc
  src/v/storage/tests/storage_test_fixture.h
Labels: kind/bug, area/storage, area/tests, ci-failure

#6550 tests: disable unreliable backtrace decodes
  tests/rptest/services/cluster.py
Labels: kind/bug, area/tests

#6684 storage: reinstate indexing on non-data batches, for internal topics
  src/v/storage/compaction_reducers.cc
  src/v/storage/compaction_reducers.h
  src/v/storage/kvstore.cc
  src/v/storage/log_manager.cc
  src/v/storage/ntp_config.h
  src/v/storage/segment.cc
  src/v/storage/segment.h
  src/v/storage/segment_index.cc
  src/v/storage/segment_index.h
  src/v/storage/segment_set.cc
  src/v/storage/segment_set.h
  src/v/storage/segment_utils.cc
Labels: kind/bug, area/storage, area/redpanda, performance

#6719 util: add named_type constructor from args
  src/v/utils/named_type.h
  src/v/utils/tests/uuid_test.cc
Labels: area/redpanda

#6206 model: More tests for adl<model::timeout_clock::duration>
  src/v/model/tests/timeout_adl.cc
Labels: kind/enhance, area/redpanda, area/tests

#6678 Fix latency on first election
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/prevote_stm.cc
  src/v/raft/replicate_entries_stm.cc
  src/v/raft/types.h
  src/v/raft/vote_stm.cc
Labels: area/redpanda

#6498 Produce timeout
  src/v/kafka/server/handlers/produce.cc
  src/v/raft/replicate_batcher.cc
  src/v/raft/replicate_batcher.h
  src/v/raft/types.h
Labels: kind/bug, area/kafka, area/redpanda

#6712 Remap `raft::errc::replicated_entry_truncated` error code to a retry-able kafka one
  src/v/kafka/server/group.cc
Labels: area/redpanda

#6733 r/cosnensus: fixed unconditionally accessing follower state in vote stms
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/prevote_stm.cc
  src/v/raft/vote_stm.cc
Labels: area/redpanda

#6731 Remove log4j dependency
  tests/java/e2e-verifiers/pom.xml
Labels: kind/enhance, dependencies, area/security, java

#6725 [v22.2.x] save cluster config at end of tests
  tests/rptest/services/redpanda.py
Labels: area/tests, kind/backport, team/devprod

#6727 [v22.1.x] save cluster config at end of tests
  tests/rptest/services/redpanda.py
Labels: area/tests, kind/backport, team/devprod

#6558 archival: Use archival_metadata_stm manifest
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/archival/service.cc
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/archival/tests/service_fixture.cc
  src/v/archival/tests/service_fixture.h
  src/v/archival/tests/service_test.cc
  src/v/redpanda/tests/fixture.h
Labels: kind/enhance, area/redpanda, area/shadow-indexing

#6732 pandaproxy: Improve log message for internal server error
  src/v/pandaproxy/reply.h
Labels: kind/enhance, area/pandaproxy

#6639 sr: add basic auth support to the schema registry
  src/v/config/rest_authn_endpoint.cc
  src/v/config/rest_authn_endpoint.h
  src/v/pandaproxy/auth_utils.h
  src/v/pandaproxy/rest/configuration.cc
  src/v/pandaproxy/rest/configuration.h
  src/v/pandaproxy/rest/proxy.cc
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/service.h
  tests/rptest/services/redpanda.py
  tests/rptest/services/templates/redpanda.yaml
  tests/rptest/tests/schema_registry_test.py
Labels: kind/enhance, area/redpanda, area/schema_registry, area/security

#6252 transactions: Support transaction coordinator leadership transfer
  src/v/cluster/partition.h
  src/v/cluster/tests/tm_stm_tests.cc
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/cluster/tx_gateway_frontend.cc
  tests/rptest/tests/transactions_test.py
Labels: kind/enhance, area/redpanda, area/transactions

#6527 [transaction] Do not write preparing state on disk
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/tx_gateway_frontend.h
  tests/rptest/tests/tx_admin_api_test.py
Labels: kind/enhance, area/redpanda, area/transactions

#6741 [v22.2.x] pandaproxy: Improve log message for internal server error
  src/v/pandaproxy/reply.h
Labels: area/redpanda, kind/backport

#6753 [v22.1.x] Remove log4j dependency
  tests/java/e2e-verifiers/pom.xml
Labels: kind/enhance, dependencies, area/security, kind/backport, java

#6754 [v22.2.x] Bump log4j dependencies
  tests/java/compacted-log-verifier/pom.xml
  tests/java/e2e-verifiers/pom.xml
  tests/java/kafka-verifier/pom.xml
Labels: kind/enhance, dependencies, area/security, kind/backport, java

#6693 pp: add kafka client cache to /consumers routes
  src/v/pandaproxy/rest/handlers.cc
  tests/rptest/tests/pandaproxy_test.py
Labels: area/redpanda, area/pandaproxy

#6613 Add local-target topic configuration options for SI topics
  src/v/cluster/errc.h
  src/v/cluster/metadata_cache.cc
  src/v/cluster/metadata_cache.h
  src/v/cluster/topic_table.cc
  src/v/cluster/topics_frontend.cc
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/compat/cluster_compat.h
  src/v/compat/cluster_generator.h
  src/v/compat/cluster_json.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/kafka/server/errors.h
  src/v/kafka/server/handlers/alter_configs.cc
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/handlers/describe_configs.cc
  src/v/kafka/server/handlers/incremental_alter_configs.cc
  src/v/kafka/server/handlers/topics/types.cc
  src/v/kafka/server/handlers/topics/types.h
  src/v/kafka/server/tests/alter_config_test.cc
  src/v/kafka/server/tests/topic_recreate_test.cc
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/ntp_config.h
  src/v/storage/tests/log_retention_tests.cc
  src/v/storage/tests/utils/disk_log_builder.h
  src/v/storage/types.cc
  tests/rptest/clients/types.py
  tests/rptest/tests/archival_test.py
  tests/rptest/tests/controller_upgrade_test.py
  tests/rptest/tests/e2e_iam_role_test.py
  tests/rptest/tests/e2e_shadow_indexing_test.py
  tests/rptest/tests/offset_for_leader_epoch_archival_test.py
  tests/rptest/tests/retention_policy_test.py
  tests/rptest/tests/shadow_indexing_admin_api_test.py
  tests/rptest/tests/shadow_indexing_firewall_test.py
  tests/rptest/tests/shadow_indexing_tx_test.py
  tests/rptest/tests/topic_creation_test.py
  tests/rptest/util.py
Labels: kind/enhance, area/redpanda, area/shadow-indexing

#6757 rptest: Remove TRACE & DEBUG logs after each successful run
  tests/rptest/services/cluster.py
  tests/rptest/services/redpanda.py
Labels: kind/enhance, area/build

#6737 [v22.1.x] Remap `raft::errc::replicated_entry_truncated` error code to a retry-able kafka one
  src/v/kafka/server/group.cc
Labels: area/redpanda, kind/backport

#6736 [v22.2.x] Remap `raft::errc::replicated_entry_truncated` error code to a retry-able kafka one
  src/v/kafka/server/group.cc
Labels: area/redpanda, kind/backport

#6623 [v22.2.x] cloud_storage: cleanup empty directories on startup
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/cache_service.h
  src/v/cloud_storage/recursive_directory_walker.cc
  src/v/cloud_storage/recursive_directory_walker.h
  src/v/cloud_storage/tests/cache_test.cc
  src/v/cloud_storage/tests/cache_test_fixture.h
  src/v/cloud_storage/tests/directory_walker_test.cc
Labels: kind/enhance, area/redpanda, area/shadow-indexing, kind/backport

#6659 cluster: support automatically assigning a node ID
  src/v/cluster/cluster_discovery.cc
  src/v/cluster/cluster_discovery.h
  src/v/cluster/cluster_utils.cc
  src/v/cluster/commands.h
  src/v/cluster/config_frontend.cc
  src/v/cluster/config_manager.cc
  src/v/cluster/controller.cc
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_stm.h
  src/v/cluster/feature_manager.cc
  src/v/cluster/members_frontend.cc
  src/v/cluster/members_manager.cc
  src/v/cluster/members_manager.h
  src/v/cluster/tests/cluster_test_fixture.h
  src/v/cluster/tests/cluster_tests.cc
  src/v/cluster/topic_table_probe.cc
  src/v/config/node_config.cc
  src/v/config/node_config.h
  src/v/coproc/reconciliation_backend.cc
  src/v/coproc/tests/partition_movement_tests.cc
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/kafka/server/handlers/describe_configs.cc
  src/v/kafka/server/handlers/metadata.cc
  src/v/net/client_probe.h
  src/v/net/probes.cc
  src/v/redpanda/admin_server.cc
  src/v/redpanda/application.cc
  src/v/redpanda/tests/fixture.h
  src/v/rpc/connection_cache.cc
  src/v/rpc/reconnect_transport.h
  src/v/rpc/test/rpc_gen_cycling_test.cc
  src/v/rpc/transport.cc
  src/v/rpc/transport.h
  tests/rptest/services/admin.py
  tests/rptest/services/redpanda.py
  tests/rptest/services/templates/redpanda.yaml
  tests/rptest/tests/node_id_assignment_test.py
Labels: kind/enhance, area/redpanda

#6770 transactions: enable by default
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/rm_stm_tests.cc
  src/v/config/configuration.cc
  src/v/kafka/server/tests/find_coordinator_test.cc
  tests/rptest/tests/cluster_config_test.py
  tests/rptest/tests/e2e_topic_recovery_test.py
  tests/rptest/tests/idempotency_test.py
  tests/rptest/tests/retention_policy_test.py
  tests/rptest/tests/scramful_eos_test.py
  tests/rptest/tests/scramless_eos_test.py
  tests/rptest/tests/shadow_indexing_tx_test.py
  tests/rptest/tests/transactions_test.py
  tests/rptest/tests/tx_abort_index_test.py
  tests/rptest/tests/tx_admin_api_test.py
  tests/rptest/tests/tx_feature_flag_test.py
  tests/rptest/tests/tx_reads_writes_test.py
  tests/rptest/tests/tx_verifier_test.py
Labels: kind/enhance, area/transactions

#6626 pp: address several improvements to basic auth and the client cache
  src/v/pandaproxy/error.cc
  src/v/pandaproxy/error.h
  src/v/pandaproxy/kafka_client_cache.cc
  src/v/pandaproxy/kafka_client_cache.h
  src/v/pandaproxy/sharded_client_cache.cc
  src/v/pandaproxy/test/kafka_client_cache.cc
  tests/rptest/tests/pandaproxy_test.py
Labels: kind/enhance, area/redpanda, area/pandaproxy, area/security

#6760 Bump log4j dependencies
  tests/java/compacted-log-verifier/pom.xml
  tests/java/kafka-verifier/pom.xml
Labels: kind/enhance, dependencies, area/security, kind/backport, java

#6779 rpk: make node_id optional
  src/go/k8s/cmd/configurator/main.go
  src/go/k8s/pkg/resources/configmap_test.go
  src/go/rpk/pkg/cli/cmd/redpanda/config.go
  src/go/rpk/pkg/cli/cmd/redpanda/config_test.go
  src/go/rpk/pkg/cli/cmd/redpanda/start.go
  src/go/rpk/pkg/cli/cmd/redpanda/start_test.go
  src/go/rpk/pkg/config/config.go
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/params_test.go
  src/go/rpk/pkg/config/schema.go
  src/go/rpk/pkg/config/weak.go
  src/go/rpk/pkg/config/weak_test.go
  tests/rptest/tests/rpk_config_test.py
  tests/rptest/tests/rpk_start_test.py
Labels: area/rpk, area/k8s

#6641 Controller log rate limiting
  src/v/cluster/CMakeLists.txt
  src/v/cluster/cluster_utils.h
  src/v/cluster/controller.cc
  src/v/cluster/controller_log_limiter.cc
  src/v/cluster/controller_log_limiter.h
  src/v/cluster/controller_stm.h
  src/v/cluster/errc.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/errors.h
  src/v/raft/mux_state_machine.h
  src/v/redpanda/admin_server.cc
  src/v/utils/tests/token_bucket_test.cc
  src/v/utils/token_bucket.h
  tests/rptest/tests/cluster_metrics_test.py
  tests/rptest/tests/controller_log_limiting_test.py
  tests/rptest/tests/mirror_maker_test.py
  tests/rptest/tests/partition_balancer_test.py
Labels: kind/enhance, area/raft, area/redpanda

#6664 [transactions]: Support transactions on compaction enabled topics
  src/v/cluster/persisted_stm.cc
  src/v/cluster/persisted_stm.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/tx_compaction_tests.cc
  src/v/cluster/tests/tx_compaction_utils.h
  src/v/model/record.h
  src/v/model/tests/random_batch.cc
  src/v/model/tests/random_batch.h
  src/v/raft/tests/mux_state_machine_fixture.h
  src/v/storage/compacted_index.h
  src/v/storage/compaction_reducers.cc
  src/v/storage/compaction_reducers.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/segment.cc
  src/v/storage/segment.h
  src/v/storage/segment_utils.cc
  src/v/storage/segment_utils.h
  src/v/storage/spill_key_index.cc
  src/v/storage/spill_key_index.h
  src/v/storage/tests/storage_e2e_test.cc
  src/v/storage/tests/storage_test_fixture.h
  src/v/storage/types.h
  tests/java/e2e-verifiers/src/main/java/org/apache/kafka/tools/VerifiableProducer.java
  tests/rptest/services/verifiable_producer.py
  tests/rptest/tests/compaction_end_to_end_test.py
  tests/rptest/tests/end_to_end.py
Labels: kind/enhance, area/redpanda, area/transactions

#6783 Bump sarama dependency
  tests/go/sarama/produce_test/go.mod
Labels: kind/enhance, dependencies, area/tests, area/security

#6784 build: split up test_cluster
  src/v/cluster/tests/CMakeLists.txt
Labels: area/redpanda

#6460 Change topic replication factor
  src/v/archival/service.cc
  src/v/cluster/commands.h
  src/v/cluster/controller.cc
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/tests/autocreate_test.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/cluster/topic_table_probe.cc
  src/v/cluster/topic_updates_dispatcher.cc
  src/v/cluster/topic_updates_dispatcher.h
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/kafka/server/handlers/alter_configs.cc
  src/v/kafka/server/handlers/incremental_alter_configs.cc
  src/v/kafka/server/handlers/metadata.cc
  src/v/kafka/server/handlers/topics/types.h
  src/v/kafka/server/tests/alter_config_test.cc
  tests/rptest/services/redpanda.py
  tests/rptest/tests/replication_factor_change_test.py
Labels: kind/enhance, area/kafka, area/redpanda

#6653 ducky: unmute fixed 5884 test
  tests/rptest/tests/partition_balancer_test.py
Labels: kind/enhance, area/tests, ci-failure

#6794 v/cloud_storage/cache_service.cc: fix a potential race condition
  src/v/cloud_storage/cache_service.cc
Labels: area/redpanda

#6738 rpc/transport: release caller units when timeout occurs
  src/v/rpc/transport.cc
  src/v/rpc/transport.h
Labels: area/redpanda

#6806 [v22.2.x] v/cloud_storage/cache_service.cc: fix a potential race condition
  src/v/cloud_storage/cache_service.cc
Labels: kind/bug, ci-failure, area/shadow-indexing, kind/backport

#6811 tests: mark PartitionBalancerTest.test_full_nodes ok_to_fail
  tests/rptest/tests/partition_balancer_test.py
Labels: kind/tech-debt

#6750 [v22.2.x] Fix shadow indexing mode selection
  src/v/kafka/server/handlers/topics/types.cc
  tests/rptest/tests/recreate_topic_metadata_test.py
  tests/rptest/tests/topic_autocreate_test.py
  tests/rptest/tests/topic_creation_test.py
  tests/rptest/tests/topic_recreate_test.py
Labels: kind/bug, area/redpanda, area/shadow-indexing, kind/backport

#6797 Topic recovery download with capped size. Download not more than retention.policy
  src/v/cloud_storage/partition_recovery_manager.cc
  tests/rptest/tests/topic_recovery_test.py
  tests/rptest/utils/si_utils.py
Labels: kind/bug, area/redpanda, area/tests, ci-failure, area/shadow-indexing

#6683 cloud_storage: delete objects from S3 on deletion of tiered storage topics
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cloud_storage/tests/remote_test.cc
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/compat/cluster_compat.h
  src/v/compat/cluster_generator.h
  src/v/compat/cluster_json.h
  src/v/kafka/server/handlers/alter_configs.cc
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/handlers/describe_configs.cc
  src/v/kafka/server/handlers/incremental_alter_configs.cc
  src/v/kafka/server/handlers/topics/types.cc
  src/v/kafka/server/handlers/topics/types.h
  src/v/kafka/server/tests/alter_config_test.cc
  src/v/storage/ntp_config.h
  tests/rptest/clients/types.py
  tests/rptest/tests/read_replica_e2e_test.py
  tests/rptest/tests/timequery_test.py
  tests/rptest/tests/topic_creation_test.py
  tests/rptest/tests/topic_delete_test.py
Labels: kind/enhance, area/redpanda, area/shadow-indexing

#6799 operator: allow to use alternative credentials sources and skip valid…
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook_test.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/pkg/resources/configmap.go
Labels: area/k8s

#6790 [Snyk] Security upgrade mocha from 7.1.1 to 9.2.2
  src/js/package.json
Labels: kind/enhance, area/wasm, dependencies, javascript, area/security

#6821 cmake: updated seastar to include dns resolving fixes
  cmake/oss.cmake.in
Labels: area/build

#6808 rptest: Fix error handling in arroyo test
  tests/rptest/tests/compatibility/arroyo_test.py
Labels: kind/bug, area/kafka, area/tests, ci-failure

#6387 cloud_storage: Extend archival_metadata_stm
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/partition_recovery_manager.cc
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/tests/partition_manifest_test.cc
  src/v/cloud_storage/types.cc
  src/v/cloud_storage/types.h
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/archival_metadata_stm_test.cc
  tests/rptest/tests/partition_movement_test.py
Labels: kind/enhance, area/redpanda, area/shadow-indexing

#6744 Seeds Driven Cluster Bootstrap
  src/v/cluster/CMakeLists.txt
  src/v/cluster/bootstrap_backend.cc
  src/v/cluster/bootstrap_backend.h
  src/v/cluster/bootstrap_service.cc
  src/v/cluster/bootstrap_service.h
  src/v/cluster/bootstrap_types.h
  src/v/cluster/cluster_discovery.cc
  src/v/cluster/cluster_discovery.h
  src/v/cluster/cluster_utils.cc
  src/v/cluster/cluster_utils.h
  src/v/cluster/cluster_uuid.h
  src/v/cluster/commands.h
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/controller_stm.h
  src/v/cluster/errc.h
  src/v/cluster/feature_manager.cc
  src/v/cluster/feature_manager.h
  src/v/cluster/members_manager.cc
  src/v/cluster/raft0_utils.h
  src/v/cluster/security_frontend.cc
  src/v/cluster/security_frontend.h
  src/v/cluster/security_manager.h
  src/v/cluster/tests/cluster_test_fixture.h
  src/v/cluster/tests/cluster_tests.cc
  src/v/cluster/types.h
  src/v/config/node_config.cc
  src/v/config/node_config.h
  src/v/config/seed_server.h
  src/v/kafka/server/errors.h
  src/v/model/fundamental.h
  src/v/model/metadata.h
  src/v/model/model.cc
  src/v/model/record_batch_types.h
  src/v/net/unresolved_address.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/redpanda/tests/fixture.h
  src/v/storage/api.h
  src/v/utils/mutex.h
  tests/rptest/services/redpanda.py
  tests/rptest/services/templates/redpanda.yaml
  tests/rptest/tests/cluster_bootstrap_test.py
  tools/offline_log_viewer/controller.py
  tools/offline_log_viewer/storage.py
  tools/offline_log_viewer/viewer.py
Labels: kind/enhance, area/redpanda

#6791 Bump go dependency
  .github/workflows/lint.yml
  .github/workflows/rpk-build.yml
  src/go/k8s/Dockerfile
  src/go/k8s/go.mod
  src/go/kreq-gen/go.mod
  src/go/rpk/.golangci.yml
  src/go/rpk/go.mod
  tests/docker/Dockerfile
  tests/go/sarama/produce_test/go.mod
Labels: kind/enhance, area/rpk, area/build, area/k8s, dependencies, area/tests, area/security

#6867 [v22.2.x] Fixed spurious log entry emitted on heartbeat timeout
  src/v/raft/heartbeat_manager.cc
Labels: area/redpanda, kind/backport

#6864 Fix cloud storage auth validation
  src/v/cloud_storage/remote.cc
  src/v/redpanda/admin_server.cc
  tests/rptest/services/redpanda.py
  tests/rptest/tests/cluster_config_test.py
Labels: kind/bug, area/redpanda, area/shadow-indexing, area/security

#6857 txns/compaction: short circuit tx_reducer for non tx topics
  src/v/storage/compaction_reducers.cc
  src/v/storage/compaction_reducers.h
  src/v/storage/types.h
Labels: area/transactions

#5852 rpk: try download plugin directly from cloudsmith
  src/go/rpk/pkg/cli/cmd/plugin/plugin.go
Labels: kind/enhance, area/rpk

#6777 Automatic Authentication for Schema Registry and HTTP Proxy - part1
  src/v/cluster/CMakeLists.txt
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/ephemeral_credential_frontend.cc
  src/v/cluster/ephemeral_credential_frontend.h
  src/v/cluster/ephemeral_credential_serde.h
  src/v/cluster/ephemeral_credential_service.cc
  src/v/cluster/ephemeral_credential_service.h
  src/v/cluster/ephemeral_credential_service_impl.json
  src/v/cluster/fwd.h
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/ephemeral_credential_test.cc
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/features/fwd.h
  src/v/kafka/server/connection_context.h
  src/v/kafka/server/handlers/details/security.h
  src/v/redpanda/application.cc
  src/v/security/CMakeLists.txt
  src/v/security/acl.h
  src/v/security/credential_store.h
  src/v/security/ephemeral_credential.cc
  src/v/security/ephemeral_credential.h
  src/v/security/ephemeral_credential_store.h
  src/v/security/fwd.h
  src/v/security/mtls.h
  src/v/security/sasl_authentication.h
  src/v/security/scram_algorithm.h
  src/v/security/scram_authenticator.cc
  src/v/security/scram_authenticator.h
  src/v/security/scram_credential.h
  src/v/security/tests/CMakeLists.txt
  src/v/security/tests/credential_store_test.cc
  src/v/security/tests/ephemeral_credential_store_test.cc
  src/v/security/types.h
Labels: area/redpanda

#6871 cloud_storage: refactor s3/client.h header #includes from other namespaces
  src/v/archival/ntp_archiver_service.h
  src/v/cloud_roles/aws_refresh_impl.cc
  src/v/cloud_roles/aws_sts_refresh_impl.cc
  src/v/cloud_roles/refresh_credentials.cc
  src/v/cloud_roles/refresh_credentials.h
  src/v/cloud_storage/tests/s3_imposter.cc
  src/v/cloud_storage/types.h
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/cluster/remote_topic_configuration_source.cc
  src/v/cluster/remote_topic_configuration_source.h
  src/v/cluster/topics_frontend.cc
  src/v/cluster/tx_gateway_frontend.cc
  src/v/redpanda/tests/fixture.h
  src/v/s3/client.h
  src/v/s3/configuration.h
Labels: area/redpanda

#6890 [v22.1.x] redpanda: Explicitly cast `YAML::Node` to `bool`
  src/v/redpanda/application.cc
Labels: kind/enhance, area/redpanda

#6891 [v21.11.x] redpanda: Explicitly cast YAML::Node to bool
  src/v/redpanda/application.cc
Labels: kind/enhance, area/redpanda

#6885 kafka/client: Mitigate std::errc::timed_out
  src/v/kafka/client/client.cc
Labels: area/redpanda

#6793 Controller log rate limiting - not throttle cluster_config_status_cmd
  src/v/cluster/controller_log_limiter.h
  tests/rptest/tests/controller_log_limiting_test.py
Labels: area/redpanda

#6775 ducktape: admin_ops_fuzzer use lowercase in topic names
  tests/rptest/services/admin_ops_fuzzer.py
Labels: kind/bug, area/tests, ci-failure

#6898 [v21.11.x] kafka/client: Mitigate std::errc::timed_out
  src/v/kafka/client/client.cc
Labels: kind/enhance, area/redpanda, area/schema_registry, kind/backport

#6896 [v22.1.x] kafka/client: Mitigate std::errc::timed_out
  src/v/kafka/client/client.cc
Labels: kind/enhance, area/redpanda, area/schema_registry, kind/backport

#6897 [v22.2.x] kafka/client: Mitigate std::errc::timed_out
  src/v/kafka/client/client.cc
Labels: kind/enhance, area/redpanda, area/schema_registry, kind/backport

#6887 [v22.2.x] tests/omb: Fix template rendering logic
  tests/rptest/services/openmessaging_benchmark.py
  tests/rptest/services/openmessaging_benchmark_configs.py
  tests/rptest/services/templates/omb_workload.yaml
  tests/rptest/tests/openmessaging_benchmark_test.py
Labels: kind/backport

#6888 [v22.2.x] perf/omb: redefine omb perf run workload
  tests/docker/Dockerfile
  tests/rptest/perf/openmessaging_perf_test.py
  tests/rptest/services/openmessaging_benchmark.py
  tests/rptest/services/openmessaging_benchmark_configs.py
Labels: kind/backport

#6800 tests/debug: Add debug logs to TxAbortSnapshotTest
  src/v/cluster/rm_stm.cc
  tests/rptest/tests/tx_abort_index_test.py
Labels: kind/enhance, area/tests, ci-failure, area/transactions

#6882 r/heartbeat_manager: spurious log entry when group unavailable
  src/v/raft/heartbeat_manager.cc
Labels: kind/enhance, area/raft, area/redpanda

#6908 [v22.2.x] rpc/transport: Release resource units right after dispatching send
  src/v/rpc/test/echo_service.json
  src/v/rpc/test/rpc_gen_cycling_test.cc
  src/v/rpc/test/rpc_gen_types.h
  src/v/rpc/transport.cc
  tests/rptest/tests/timely_shutdown_test.py
Labels: area/redpanda, kind/backport

#6911 features: update features bitmap in tests
  src/v/features/feature_table.cc
Labels: area/redpanda

#6600 [v22.2.x] Ensure background reclaimer is always notified
  src/v/storage/batch_cache.cc
Labels: kind/bug, area/redpanda, kind/backport

#6280 Console for Redpanda with Kafka mTLS
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/controllers/redpanda/console_controller.go
  src/go/k8s/controllers/redpanda/suite_test.go
  src/go/k8s/main.go
  src/go/k8s/pkg/console/admin.go
  src/go/k8s/pkg/console/configmap.go
  src/go/k8s/pkg/console/deployment.go
  src/go/k8s/pkg/console/sasl.go
  src/go/k8s/pkg/console/store.go
  src/go/k8s/tests/e2e/console-kafka-mtls/00-assert.yaml
  src/go/k8s/tests/e2e/console-kafka-mtls/00-create-ns.yaml
  src/go/k8s/tests/e2e/console-kafka-mtls/01-assert.yaml
  src/go/k8s/tests/e2e/console-kafka-mtls/01-create-certificate.yaml
  src/go/k8s/tests/e2e/console-kafka-mtls/02-assert.yaml
  src/go/k8s/tests/e2e/console-kafka-mtls/02-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/console-kafka-mtls/03-assert.yaml
  src/go/k8s/tests/e2e/console-kafka-mtls/03-console.yaml
  src/go/k8s/tests/e2e/console-kafka-mtls/04-assert.yaml
  src/go/k8s/tests/e2e/console-kafka-mtls/04-call-console.yaml
  src/go/k8s/tests/e2e/console-kafka-mtls/05-cleanup.yaml
Labels: kind/enhance, area/k8s

#6836 tests: cloud storage upgrade test
  src/v/bytes/iobuf.cc
  src/v/bytes/iobuf.h
  src/v/cloud_storage/partition_manifest.cc
  tests/rptest/services/cluster.py
  tests/rptest/services/redpanda.py
  tests/rptest/services/redpanda_installer.py
  tests/rptest/services/rpk_producer.py
  tests/rptest/tests/upgrade_test.py
  tests/rptest/util.py
Labels: kind/enhance, area/redpanda, area/tests, area/shadow-indexing

#6900 Fix rack id update after node config was edited
  src/v/cluster/scheduling/allocation_node.cc
  src/v/cluster/scheduling/allocation_node.h
  src/v/cluster/scheduling/allocation_state.cc
  src/v/cluster/tests/partition_allocator_fixture.h
  src/v/cluster/tests/partition_allocator_tests.cc
  src/v/cluster/tests/partition_balancer_planner_fixture.h
  src/v/cluster/tests/topic_table_fixture.h
  tests/rptest/tests/rack_aware_replica_placement_test.py
Labels: kind/bug, area/redpanda

#6910 rpk: introduce http api package
  src/go/rpk/pkg/httpapi/httpapi.go
  src/go/rpk/pkg/httpapi/httpapi_test.go
Labels: area/rpk

#6880 cluster_discovery: simplify fetching bootstrap info
  src/v/cluster/cluster_discovery.cc
  src/v/cluster/cluster_discovery.h
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/redpanda/application.cc
  tests/rptest/services/redpanda.py
  tests/rptest/tests/cluster_bootstrap_test.py
Labels: area/redpanda

#6918 Backports 6864 to v22.2.x
  src/v/cloud_storage/remote.cc
  src/v/redpanda/admin_server.cc
  tests/rptest/services/redpanda.py
  tests/rptest/tests/cluster_config_test.py
Labels: kind/bug, area/redpanda, area/shadow-indexing, area/security

#6894 rpk: small bug fixes and improvements for v22.3
  src/go/k8s/go.mod
  src/go/k8s/go.sum
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cmd/acl/user.go
  src/go/rpk/pkg/cli/cmd/cluster/config/export.go
  src/go/rpk/pkg/cli/cmd/cluster/config/get.go
  src/go/rpk/pkg/cli/cmd/topic/add_partitions.go
  src/go/rpk/pkg/cli/cmd/topic/consume.go
  src/go/rpk/pkg/cli/cmd/topic/produce.go
  src/go/rpk/pkg/kafka/client_franz.go
  src/go/rpk/pkg/net/hostport.go
  src/go/rpk/pkg/net/hostport_test.go
  tests/rptest/clients/rpk.py
  tests/rptest/services/admin_ops_fuzzer.py
  tests/rptest/tests/cluster_config_test.py
  tests/rptest/tests/rpk_group_test.py
  tests/rptest/tests/rpk_start_test.py
Labels: area/rpk, area/k8s

#6933 rpk/cfg: rename Default to DevDefault and add ProdDefault
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/pkg/resources/configmap_test.go
  src/go/rpk/pkg/cli/cmd/container/common/common.go
  src/go/rpk/pkg/cli/cmd/container/start.go
  src/go/rpk/pkg/cli/cmd/redpanda/config.go
  src/go/rpk/pkg/cli/cmd/redpanda/config_test.go
  src/go/rpk/pkg/cli/cmd/redpanda/mode_test.go
  src/go/rpk/pkg/cli/cmd/redpanda/start.go
  src/go/rpk/pkg/cli/cmd/redpanda/start_test.go
  src/go/rpk/pkg/cli/cmd/redpanda/stop_test.go
  src/go/rpk/pkg/config/config.go
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/params.go
  src/go/rpk/pkg/system/metrics_test.go
  src/go/rpk/pkg/tuners/coredump/tuner_test.go
  src/go/rpk/pkg/tuners/factory/factory_test.go
Labels: area/rpk, area/k8s

#6946 rpk httpapi: avoid 'any'
  src/go/rpk/pkg/httpapi/httpapi.go
  src/go/rpk/pkg/httpapi/httpapi_test.go
Labels: area/rpk

#6935 tests: fix log allow list on UpgradeFromPriorFeatureVersionCloudStora…
  tests/rptest/tests/upgrade_test.py
Labels: kind/bug, area/tests

#6893 HTTP imposter enhancements
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/archival/tests/segment_reupload_test.cc
  src/v/archival/tests/service_fixture.cc
  src/v/archival/tests/service_fixture.h
  src/v/archival/tests/service_test.cc
  src/v/test_utils/http_imposter.cc
  src/v/test_utils/http_imposter.h
Labels: area/redpanda

#6939 Fix RackAwarePlacementTest.test_node_config_update
  src/v/redpanda/admin/api-doc/broker.json
  src/v/redpanda/admin_server.cc
  tests/rptest/tests/rack_aware_replica_placement_test.py
Labels: kind/bug, area/controller, ci-failure

#6919 operator: bump golang.org/x/text and golang.org/x/net libraries
  src/go/k8s/go.mod
  src/go/k8s/go.sum
Labels: area/k8s

#6949 [v22.2.x] Fix rack id update after node config was edited
  src/v/cluster/scheduling/allocation_node.cc
  src/v/cluster/scheduling/allocation_node.h
  src/v/cluster/scheduling/allocation_state.cc
  src/v/cluster/tests/partition_allocator_fixture.h
  src/v/cluster/tests/partition_allocator_tests.cc
  src/v/cluster/tests/partition_balancer_planner_fixture.h
  src/v/cluster/tests/topic_table_fixture.h
  src/v/redpanda/admin/api-doc/broker.json
  src/v/redpanda/admin_server.cc
  tests/rptest/tests/rack_aware_replica_placement_test.py
Labels: kind/bug, area/redpanda

#6909 Save rpk plugins in default path under $HOME
  src/go/rpk/pkg/cli/cmd/plugin/install.go
  src/go/rpk/pkg/cli/cmd/plugin/list.go
  src/go/rpk/pkg/cli/cmd/plugin/plugin.go
  src/go/rpk/pkg/cli/cmd/plugin/uninstall.go
  src/go/rpk/pkg/cli/cmd/root.go
  src/go/rpk/pkg/plugin/plugin.go
Labels: area/rpk

#6905 Realocate partitions in steps
  src/v/cluster/members_backend.cc
  src/v/cluster/members_backend.h
  src/v/cluster/scheduling/allocation_node.h
  src/v/cluster/scheduling/allocation_strategy.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  tests/rptest/scale_tests/partition_balancer_scale_test.py
Labels: kind/enhance, area/redpanda

#6931 Automatic Authentication for Schema Registry and HTTP Proxy - part2
  src/v/cluster/ephemeral_credential_frontend.cc
  src/v/config/fwd.h
  src/v/kafka/client/client.cc
  src/v/kafka/client/client.h
  src/v/kafka/client/sasl_client.cc
  src/v/kafka/server/handlers/describe_acls.cc
  src/v/pandaproxy/CMakeLists.txt
  src/v/pandaproxy/config_utils.cc
  src/v/pandaproxy/config_utils.h
  src/v/pandaproxy/schema_registry/api.cc
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/service.h
  src/v/pandaproxy/test/CMakeLists.txt
  src/v/pandaproxy/test/test_config_utils.cc
  tests/rptest/services/redpanda.py
  tests/rptest/services/templates/redpanda.yaml
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda

#6937 V22.1.x rpk touchup
  src/go/k8s/go.mod
  src/go/k8s/go.sum
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cmd/acl/user.go
  src/go/rpk/pkg/cli/cmd/cluster/config/export.go
  src/go/rpk/pkg/cli/cmd/cluster/config/get.go
  src/go/rpk/pkg/cli/cmd/cluster/metadata.go
  src/go/rpk/pkg/cli/cmd/group/seek.go
  src/go/rpk/pkg/cli/cmd/topic/add_partitions.go
  src/go/rpk/pkg/cli/cmd/topic/consume.go
  src/go/rpk/pkg/cli/cmd/topic/list.go
  src/go/rpk/pkg/cli/cmd/topic/produce.go
  src/go/rpk/pkg/kafka/client_franz.go
  src/go/rpk/pkg/net/hostport.go
  src/go/rpk/pkg/net/hostport_test.go
Labels: area/rpk, area/k8s

#6936 V22.2.x rpk touchup
  src/go/k8s/go.mod
  src/go/k8s/go.sum
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cmd/acl/user.go
  src/go/rpk/pkg/cli/cmd/cluster/config/export.go
  src/go/rpk/pkg/cli/cmd/cluster/config/get.go
  src/go/rpk/pkg/cli/cmd/topic/add_partitions.go
  src/go/rpk/pkg/cli/cmd/topic/consume.go
  src/go/rpk/pkg/cli/cmd/topic/produce.go
  src/go/rpk/pkg/kafka/client_franz.go
  src/go/rpk/pkg/net/hostport.go
  src/go/rpk/pkg/net/hostport_test.go
  tests/rptest/clients/rpk.py
  tests/rptest/services/admin_ops_fuzzer.py
  tests/rptest/tests/cluster_config_test.py
Labels: area/rpk, area/k8s

#6667 Support Redpanda Admin in Console controller
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/console_types.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_consoles.yaml
  src/go/k8s/controllers/redpanda/console_controller.go
  src/go/k8s/pkg/console/configmap.go
  src/go/k8s/pkg/console/console.go
  src/go/k8s/pkg/console/deployment.go
  src/go/k8s/pkg/console/store.go
  src/go/k8s/tests/e2e/console-admin-api/00-assert.yaml
  src/go/k8s/tests/e2e/console-admin-api/00-create-ns.yaml
  src/go/k8s/tests/e2e/console-admin-api/01-assert.yaml
  src/go/k8s/tests/e2e/console-admin-api/01-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/console-admin-api/02-assert.yaml
  src/go/k8s/tests/e2e/console-admin-api/02-console.yaml
  src/go/k8s/tests/e2e/console-admin-api/03-assert.yaml
  src/go/k8s/tests/e2e/console-admin-api/03-call-console.yaml
  src/go/k8s/tests/e2e/console-admin-api/04-assert.yaml
  src/go/k8s/tests/e2e/console-admin-api/04-check-version.yaml
  src/go/k8s/tests/e2e/console-admin-api/05-cleanup.yaml
Labels: area/k8s

#6876 cloud_storage: migrate legacy topic configs on upgrade
  src/v/cluster/controller_backend.cc
  src/v/cluster/topics_frontend.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/features/CMakeLists.txt
  src/v/features/feature_migrator.cc
  src/v/features/feature_migrator.h
  src/v/features/feature_table.h
  src/v/features/fwd.h
  src/v/features/migrators.h
  src/v/features/migrators/README.md
  src/v/features/migrators/cloud_storage_config.cc
  src/v/features/migrators/cloud_storage_config.h
  src/v/features/migrators/group_metadata.cc
  src/v/features/migrators/group_metadata.h
  src/v/kafka/CMakeLists.txt
  src/v/kafka/protocol/CMakeLists.txt
  src/v/raft/group_manager.cc
  src/v/raft/group_manager.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  tests/rptest/services/redpanda.py
  tests/rptest/tests/topic_creation_test.py
Labels: kind/enhance, area/redpanda, area/shadow-indexing

#6941 storage/tests: Fix jitter_percents initialization
  src/v/storage/log_manager.h
  src/v/storage/segment_utils.cc
  src/v/storage/tests/segment_size_jitter_test.cc
  src/v/storage/tests/storage_test_fixture.h
Labels: area/redpanda

#6945 V22.2.x rpk prod defaults
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/pkg/resources/configmap_test.go
  src/go/rpk/pkg/api/api_test.go
  src/go/rpk/pkg/cli/cmd/container/common/common.go
  src/go/rpk/pkg/cli/cmd/container/start.go
  src/go/rpk/pkg/cli/cmd/redpanda/config.go
  src/go/rpk/pkg/cli/cmd/redpanda/config_test.go
  src/go/rpk/pkg/cli/cmd/redpanda/mode_test.go
  src/go/rpk/pkg/cli/cmd/redpanda/start.go
  src/go/rpk/pkg/cli/cmd/redpanda/start_test.go
  src/go/rpk/pkg/cli/cmd/redpanda/stop_test.go
  src/go/rpk/pkg/config/config.go
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/params.go
  src/go/rpk/pkg/system/metrics_test.go
  src/go/rpk/pkg/tuners/coredump/tuner_test.go
  src/go/rpk/pkg/tuners/factory/factory_test.go
Labels: kind/enhance, area/rpk, area/k8s

#6954 Backport of #6251 #6905
  src/v/cluster/cluster_utils.cc
  src/v/cluster/cluster_utils.h
  src/v/cluster/health_manager.cc
  src/v/cluster/members_backend.cc
  src/v/cluster/members_backend.h
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/scheduling/allocation_node.cc
  src/v/cluster/scheduling/allocation_node.h
  src/v/cluster/scheduling/allocation_state.cc
  src/v/cluster/scheduling/allocation_state.h
  src/v/cluster/scheduling/allocation_strategy.cc
  src/v/cluster/scheduling/allocation_strategy.h
  src/v/cluster/scheduling/constraints.cc
  src/v/cluster/scheduling/constraints.h
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/cluster/scheduling/partition_allocator.h
  src/v/cluster/scheduling/types.cc
  src/v/cluster/scheduling/types.h
  src/v/cluster/tests/allocation_bench.cc
  src/v/cluster/tests/partition_allocator_fixture.h
  src/v/cluster/tests/partition_allocator_tests.cc
  src/v/cluster/tests/partition_balancer_planner_fixture.h
  src/v/cluster/tests/topic_table_fixture.h
  src/v/cluster/topic_updates_dispatcher.cc
  src/v/cluster/topic_updates_dispatcher.h
  src/v/cluster/topics_frontend.cc
  src/v/cluster/types.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  tests/rptest/scale_tests/partition_balancer_scale_test.py
  tests/rptest/tests/consumer_group_balancing_test.py
  tests/setup.py
Labels: kind/enhance, area/redpanda, kind/backport
