Repository redpanda-data/redpanda, pull requests merged in 2022-06, with the labels that each got.

#4971 [v21.11.x] Pin Go dependency versions for test Dockerfile
  tests/docker/Dockerfile
Labels: kind/bug, team/devprod

#4949 [v21.11.x] cloud_storage: redacts fields from header
  src/v/http/client.cc
  src/v/http/client.h
  src/v/s3/client.cc
  src/v/s3/signature.cc
Labels: area/redpanda

#4742 [v22.1.x] tests: disable topic auto creation by default
  tests/rptest/services/redpanda.py
  tests/rptest/tests/compatibility/sarama_test.py
Labels: kind/backport

#4686 [v22.1.x] tests: fix nodes_decommissioning_test
  tests/rptest/tests/nodes_decommissioning_test.py
Labels: kind/backport

#4712 [v22.1.x] cloud_storage: treat S3 InternalError as a backoff
  src/v/cloud_storage/remote.cc
Labels: area/redpanda, kind/backport

#4926 [v22.1.x] cluster,kafka: auto-populate cluster_id and prefix it with "redpanda."
  src/v/cluster/controller.cc
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/metrics_reporter.h
  src/v/kafka/server/handlers/metadata.cc
  tests/rptest/clients/rpk.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/cluster_config_test.py
Labels: area/redpanda, kind/backport

#4988 Update external connectivity docs to get a valid VERSION environment variable
  src/go/k8s/docs/external-connectivity-localhost.md
Labels: area/k8s

#4986 [v22.1.x] admin: reject maintenance mode req on 1 node cluster
  src/v/cluster/members_table.cc
  src/v/redpanda/admin_server.cc
Labels: kind/bug, area/redpanda

#4979 rpk: add `debug logdirs describe`
  src/go/k8s/go.mod
  src/go/k8s/go.sum
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cmd/cluster/metadata.go
  src/go/rpk/pkg/cli/cmd/debug.go
  src/go/rpk/pkg/cli/cmd/debug/bundle.go
  src/go/rpk/pkg/cli/cmd/debug/bundle_all.go
  src/go/rpk/pkg/cli/cmd/debug/bundle_linux.go
  src/go/rpk/pkg/cli/cmd/debug/debug.go
  src/go/rpk/pkg/cli/cmd/debug/debug_darwin.go
  src/go/rpk/pkg/cli/cmd/debug/logdirs.go
  src/go/rpk/pkg/cli/cmd/group/seek.go
  src/go/rpk/pkg/cli/cmd/root.go
  src/go/rpk/pkg/cli/cmd/root_linux.go
  src/go/rpk/pkg/cli/cmd/topic/list.go
Labels: area/rpk, area/k8s

#4955 security: don't log potentially sensitive messages
  src/v/kafka/protocol/batch_reader.h
  src/v/kafka/protocol/kafka_batch_adapter.h
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/protocol/tests/security_test.cc
  src/v/kafka/server/handlers/sasl_authenticate.cc
  src/v/security/scram_algorithm.cc
  src/v/security/scram_authenticator.cc
  src/v/security/scram_credential.cc
Labels: area/redpanda

#4894 rpk: introduce basic weak types for custom unmarshaling
  src/go/k8s/cmd/configurator/main.go
  src/go/k8s/pkg/resources/configmap.go
  src/go/rpk/pkg/cli/cmd/redpanda/config.go
  src/go/rpk/pkg/cli/cmd/redpanda/start.go
  src/go/rpk/pkg/cli/cmd/redpanda/start_test.go
  src/go/rpk/pkg/config/config.go
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/params.go
  src/go/rpk/pkg/config/schema.go
  src/go/rpk/pkg/config/weak.go
  src/go/rpk/pkg/config/weak_test.go
Labels: area/rpk, area/k8s

#5007 [v21.11.x] security: don't log potentially sensitive messages
  src/v/kafka/protocol/batch_reader.h
  src/v/kafka/protocol/kafka_batch_adapter.h
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/protocol/tests/security_test.cc
  src/v/kafka/server/handlers/sasl_authenticate.cc
  src/v/security/scram_algorithm.cc
  src/v/security/scram_authenticator.cc
  src/v/security/scram_credential.cc
Labels: area/redpanda

#4699 [v21.11.x] Post announcements to community Slack channels on releases
  .github/workflows/slack-messages.yml
Labels: area/build, kind/backport

#4954 rpk: create params Write method.
  src/go/rpk/pkg/config/params.go
  src/go/rpk/pkg/config/params_test.go
  src/go/rpk/pkg/config/schema.go
Labels: area/rpk

#4513 Support for flexible requests
  src/v/bytes/iobuf_parser.h
  src/v/kafka/CMakeLists.txt
  src/v/kafka/client/transport.h
  src/v/kafka/protocol/request_reader.h
  src/v/kafka/protocol/response_writer.h
  src/v/kafka/protocol/schemata/api_versions_request.json
  src/v/kafka/protocol/schemata/api_versions_response.json
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/protocol/tests/CMakeLists.txt
  src/v/kafka/protocol/tests/field_parser_test.cc
  src/v/kafka/protocol/types.h
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/flex_versions.cc
  src/v/kafka/server/flex_versions.h
  src/v/kafka/server/handlers/api_versions.cc
  src/v/kafka/server/handlers/api_versions.h
  src/v/kafka/server/handlers/handlers.h
  src/v/kafka/server/protocol_utils.cc
  src/v/kafka/server/protocol_utils.h
  src/v/kafka/server/request_context.h
  src/v/kafka/server/requests.cc
  src/v/kafka/server/response.h
  src/v/kafka/server/tests/api_versions_test.cc
  src/v/kafka/server/tests/request_parser_test.cc
  src/v/utils/CMakeLists.txt
  src/v/utils/tests/vint_test.cc
  src/v/utils/vint.cc
  src/v/utils/vint.h
Labels: area/redpanda

#4959 [v22.1.x] cluster: drop redundant set_status config updates
  src/v/cluster/config_manager.cc
  src/v/cluster/config_manager.h
  src/v/cluster/fwd.h
  src/v/cluster/service.cc
  src/v/cluster/service.h
  src/v/redpanda/application.cc
Labels: area/redpanda, kind/backport

#5014 [v21.11.x] cluster: clean up config error logging
  src/v/cluster/config_manager.cc
Labels: area/redpanda

#4744 [v22.1.x] cluster: check abort source in reconcile_ntp loop
  src/v/cluster/controller_backend.cc
Labels: area/redpanda, kind/backport

#4957 cloud_storage: use SAX parsing for partition manifest
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/tests/partition_manifest_test.cc
  src/v/cloud_storage/topic_manifest.cc
Labels: area/redpanda

#5022 [v22.1.x] Temporarily disable coproc on ci
  src/v/coproc/tests/CMakeLists.txt
  src/v/coproc/tests/pacemaker_unstable_tests.cc
  tests/rptest/services/redpanda.py
  tests/rptest/test_suite_quick.yml
  tests/rptest/tests/wasm_topics_test.py
Labels: area/redpanda, kind/backport

#5012 [v22.1.x] cluster: clean up config error logging
  src/v/cluster/config_manager.cc
  src/v/redpanda/admin_server.cc
Labels: area/redpanda, kind/backport

#4901 Fixed serialization of group tombstones
  src/v/kafka/server/group.cc
  src/v/kafka/server/group_metadata.cc
  src/v/kafka/server/group_recovery_consumer.cc
  src/v/kafka/server/tests/group_metadata_serialization_test.cc
  tests/rptest/clients/rpk.py
  tests/rptest/tests/consumer_group_test.py
  tests/rptest/tests/consumer_offsets_migration_test.py
Labels: area/redpanda

#4891 Attempt to avoid repeated finds during housekeeping
  src/v/storage/log_housekeeping_meta.h
  src/v/storage/log_manager.cc
  src/v/storage/log_manager.h
Labels: area/redpanda

#4951 cluster: downgrade per-partition messages to DEBUG
  src/v/cluster/controller_backend.cc
  src/v/cluster/partition_manager.cc
  src/v/cluster/topics_frontend.cc
  src/v/raft/state_machine.cc
Labels: area/redpanda

#5003 treewide: Don't depend on ss::condition_variable being assignable
  src/v/cluster/feature_barrier.cc
  src/v/cluster/feature_barrier.h
  src/v/raft/follower_stats.h
  src/v/raft/types.h
Labels: area/redpanda

#5038 Clarify sasl mechanism flag usage and fix bracketing
  src/go/rpk/pkg/cli/cmd/acl/user.go
Labels: area/rpk

#5024 admin_server: redact configs in admin API
  src/go/rpk/pkg/cli/cmd/cluster/config/import.go
  src/v/cluster/config_manager.cc
  src/v/config/base_property.h
  src/v/config/config_store.h
  src/v/config/property.h
  src/v/config/tests/config_store_test.cc
  src/v/coproc/event_listener.cc
  src/v/coproc/tests/fixtures/coproc_test_fixture.cc
  src/v/pandaproxy/schema_registry/api.cc
  src/v/pandaproxy/schema_registry/test/compatibility_3rdparty.cc
  src/v/pandaproxy/schema_registry/test/consume_to_store.cc
  src/v/redpanda/admin_server.cc
  src/v/redpanda/application.cc
  src/v/redpanda/tests/fixture.h
  tests/rptest/tests/cluster_config_test.py
Labels: area/rpk, area/redpanda

#5029 Use explicit adl<> encoding for RPC types
  src/v/cluster/metadata_dissemination_handler.cc
  src/v/cluster/metadata_dissemination_service.cc
  src/v/cluster/metadata_dissemination_types.h
  src/v/cluster/types.h
Labels: area/redpanda

#5049 Added serde support for basic common types
  src/v/cluster/tests/CMakeLists.txt
  src/v/model/fundamental.h
  src/v/model/metadata.h
  src/v/reflection/type_traits.h
  src/v/serde/serde.h
  src/v/serde/test/serde_test.cc
  src/v/tristate.h
Labels: area/redpanda

#5050 [v22.1.x] admin_server: redact configs in admin API
  src/go/rpk/pkg/cli/cmd/cluster/config/import.go
  src/v/cluster/config_manager.cc
  src/v/config/base_property.h
  src/v/config/config_store.h
  src/v/config/property.h
  src/v/config/tests/config_store_test.cc
  src/v/coproc/event_listener.cc
  src/v/coproc/tests/fixtures/coproc_test_fixture.cc
  src/v/pandaproxy/schema_registry/api.cc
  src/v/pandaproxy/schema_registry/test/compatibility_3rdparty.cc
  src/v/pandaproxy/schema_registry/test/consume_to_store.cc
  src/v/redpanda/admin_server.cc
  src/v/redpanda/application.cc
  src/v/redpanda/tests/fixture.h
  tests/rptest/tests/cluster_config_test.py
Labels: area/rpk, area/redpanda, kind/backport

#5057 [v21.11.x] admin_server: redact configs in admin API
  src/v/cluster/config_manager.cc
  src/v/config/base_property.h
  src/v/config/config_store.h
  src/v/config/property.h
  src/v/config/tests/config_store_test.cc
  src/v/coproc/event_listener.cc
  src/v/coproc/tests/fixtures/coproc_test_fixture.cc
  src/v/pandaproxy/schema_registry/api.cc
  src/v/pandaproxy/schema_registry/test/compatibility_3rdparty.cc
  src/v/pandaproxy/schema_registry/test/consume_to_store.cc
  src/v/redpanda/admin_server.cc
  src/v/redpanda/application.cc
  src/v/redpanda/tests/fixture.h
  tests/rptest/tests/cluster_config_test.py
Labels: area/redpanda, kind/backport

#5053 cluster: add support for serde to metadata and id allocator service types
  src/v/cluster/metadata_dissemination_types.h
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/cluster/types.h
Labels: area/redpanda

#4803 Reject writes as needed to avoid full disks (v1)
  src/v/cluster/controller.cc
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
  src/v/cluster/health_monitor_frontend.cc
  src/v/cluster/health_monitor_frontend.h
  src/v/cluster/metadata_cache.cc
  src/v/cluster/metadata_cache.h
  src/v/cluster/node/constants.h
  src/v/cluster/node/local_monitor.cc
  src/v/cluster/node/local_monitor.h
  src/v/cluster/node/types.cc
  src/v/cluster/tests/health_monitor_test.cc
  src/v/cluster/tests/local_monitor_fixture.h
  src/v/cluster/tests/local_monitor_test.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/protocol/produce.h
  src/v/kafka/server/handlers/produce.cc
  src/v/kafka/server/handlers/produce.h
  src/v/storage/types.h
  tests/rptest/tests/full_disk_test.py
  tests/rptest/tests/node_metrics_test.py
  tests/rptest/tests/partition_metrics_test.py
  tests/rptest/utils/__init__.py
  tests/rptest/utils/full_disk.py
  tests/rptest/utils/node_metrics.py
  tests/rptest/utils/partition_metrics.py
Labels: area/redpanda

#5047 tests: reinstate node_metrics_test
  tests/rptest/tests/node_metrics_test.py
Labels: area/tests

#4860 Add function to clear a container asynchronously
  src/v/storage/log_manager.cc
  src/v/storage/log_manager.h
Labels: area/redpanda

#5025 Fix aborted reads consistency error
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/service.cc
  src/v/archival/tests/service_fixture.cc
  src/v/cluster/controller.h
  src/v/cluster/controller_backend.cc
  src/v/cluster/drain_manager.cc
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/members_backend.cc
  src/v/cluster/members_manager.cc
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_probe.cc
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/cluster/tests/id_allocator_stm_test.cc
  src/v/cluster/tests/idempotency_tests.cc
  src/v/cluster/tests/partition_moving_test.cc
  src/v/cluster/tests/rebalancing_tests_fixture.h
  src/v/cluster/tests/rm_stm_tests.cc
  src/v/cluster/tests/tm_stm_tests.cc
  src/v/coproc/partition.h
  src/v/coproc/script_context_backend.cc
  src/v/coproc/tests/fixtures/fiber_mock_fixture.cc
  src/v/kafka/server/group_metadata_migration.cc
  src/v/kafka/server/materialized_partition.h
  src/v/kafka/server/partition_proxy.h
  src/v/kafka/server/replicated_partition.h
  src/v/kafka/server/tests/metadata_test.cc
  src/v/kafka/server/tests/topic_recreate_test.cc
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/heartbeat_manager.cc
  src/v/raft/recovery_stm.cc
  src/v/raft/replicate_batcher.cc
  src/v/raft/tests/append_entries_test.cc
  src/v/raft/tests/membership_test.cc
  src/v/raft/tests/mux_state_machine_fixture.h
  src/v/raft/tests/mux_state_machine_test.cc
  src/v/raft/tests/raft_group_fixture.h
  src/v/raft/vote_stm.cc
Labels: area/redpanda

#5033 Added `serde` serialization support to cluster types
  src/v/cluster/commands.h
  src/v/cluster/config_manager.cc
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/cluster/scheduling/partition_allocator.h
  src/v/cluster/tests/commands_serialization_test.cc
  src/v/cluster/tests/controller_backend_test.cc
  src/v/cluster/tests/create_partitions_test.cc
  src/v/cluster/tests/metadata_dissemination_utils_test.cc
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/cluster/tests/simple_batch_builder_test.cc
  src/v/cluster/tests/topic_configuration_compat_test.cc
  src/v/cluster/tests/topic_table_test.cc
  src/v/cluster/tests/utils.h
  src/v/cluster/topic_table.cc
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/kafka/server/handlers/create_partitions.cc
  src/v/kafka/server/handlers/incremental_alter_configs.cc
  src/v/model/tests/randoms.h
  src/v/random/generators.h
  src/v/redpanda/admin_server.cc
  src/v/security/acl.h
  src/v/serde/serde.h
  src/v/serde/test/serde_test.cc
  src/v/test_utils/randoms.h
  src/v/v8_engine/data_policy.h
Labels: area/redpanda

#5067 rpk-operator refactor: allow cancelling admin API calls by propagating context
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/controllers/redpanda/cluster_controller_configuration.go
  src/go/k8s/controllers/redpanda/cluster_controller_configuration_drift.go
  src/go/k8s/controllers/redpanda/cluster_controller_configuration_test.go
  src/go/k8s/controllers/redpanda/suite_test.go
  src/go/k8s/pkg/admin/admin.go
  src/go/k8s/pkg/admin/utils.go
  src/go/rpk/pkg/api/admin/admin.go
  src/go/rpk/pkg/api/admin/admin_test.go
  src/go/rpk/pkg/api/admin/api_broker.go
  src/go/rpk/pkg/api/admin/api_cluster.go
  src/go/rpk/pkg/api/admin/api_config.go
  src/go/rpk/pkg/api/admin/api_features.go
  src/go/rpk/pkg/api/admin/api_metrics.go
  src/go/rpk/pkg/api/admin/api_node_config.go
  src/go/rpk/pkg/api/admin/api_partition.go
  src/go/rpk/pkg/api/admin/api_user.go
  src/go/rpk/pkg/cli/cmd/acl/user.go
  src/go/rpk/pkg/cli/cmd/cluster/config/edit.go
  src/go/rpk/pkg/cli/cmd/cluster/config/export.go
  src/go/rpk/pkg/cli/cmd/cluster/config/get.go
  src/go/rpk/pkg/cli/cmd/cluster/config/import.go
  src/go/rpk/pkg/cli/cmd/cluster/config/lint.go
  src/go/rpk/pkg/cli/cmd/cluster/config/set.go
  src/go/rpk/pkg/cli/cmd/cluster/config/status.go
  src/go/rpk/pkg/cli/cmd/cluster/health.go
  src/go/rpk/pkg/cli/cmd/cluster/maintenance/disable.go
  src/go/rpk/pkg/cli/cmd/cluster/maintenance/enable.go
  src/go/rpk/pkg/cli/cmd/cluster/maintenance/status.go
  src/go/rpk/pkg/cli/cmd/debug/bundle.go
  src/go/rpk/pkg/cli/cmd/debug/bundle_all.go
  src/go/rpk/pkg/cli/cmd/debug/bundle_linux.go
  src/go/rpk/pkg/cli/cmd/redpanda/admin/brokers/brokers.go
  src/go/rpk/pkg/cli/cmd/redpanda/admin/config/config.go
Labels: area/rpk, area/k8s

#5010 Add partition size to health monitor
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_types.cc
  src/v/cluster/health_monitor_types.h
  src/v/cluster/service.cc
  src/v/cluster/tests/health_monitor_test.cc
  src/v/cluster/tests/serialization_rt_test.cc
Labels: area/redpanda

#5071 cluster: add serde support for transaction gateway service rpc types
  src/v/cluster/rm_partition_frontend.cc
  src/v/cluster/rm_stm.cc
  src/v/cluster/tests/idempotency_tests.cc
  src/v/cluster/tests/rm_stm_tests.cc
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/cluster/tests/tm_stm_tests.cc
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/types.h
  src/v/kafka/server/group.cc
  src/v/kafka/server/rm_group_frontend.cc
  src/v/model/adl_serde.cc
  src/v/model/adl_serde.h
  src/v/model/record.h
  src/v/serde/envelope.h
Labels: area/redpanda

#5094 cluster: use consistent chrono::duration type
  src/v/cluster/types.h
Labels: area/redpanda

#5096 k8s,docs: bump cert-manager to v1.4.4
  src/go/k8s/docs/external-connectivity-digital-ocean.md
  src/go/k8s/docs/external-connectivity-localhost.md
  src/go/k8s/go.mod
  src/go/k8s/go.sum
  src/go/k8s/hack/install-cert-manager.sh
Labels: area/k8s

#5083 Update seastar v22.2.x
  cmake/FindValgrind.cmake
  cmake/main.cmake
  cmake/oss.cmake.in
  src/v/cluster/types.h
  src/v/net/connection.h
  src/v/net/server.cc
  src/v/redpanda/admin_server.cc
  src/v/redpanda/tests/cli_parser_tests.cc
  src/v/storage/opfuzz/opfuzz.cc
Labels: area/build, area/redpanda

#5104 treewide: Reduce include dependencies
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/archival/service.h
  src/v/cluster/cluster_utils.h
  src/v/cluster/config_frontend.cc
  src/v/cluster/config_manager.cc
  src/v/cluster/config_manager.h
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/controller_api.cc
  src/v/cluster/controller_api.h
  src/v/cluster/feature_manager.cc
  src/v/cluster/fwd.h
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
  src/v/cluster/health_monitor_frontend.h
  src/v/cluster/id_allocator_frontend.cc
  src/v/cluster/id_allocator_frontend.h
  src/v/cluster/members_backend.cc
  src/v/cluster/members_backend.h
  src/v/cluster/members_manager.cc
  src/v/cluster/members_manager.h
  src/v/cluster/metadata_cache.h
  src/v/cluster/metadata_dissemination_handler.cc
  src/v/cluster/metadata_dissemination_handler.h
  src/v/cluster/metadata_dissemination_service.h
  src/v/cluster/persisted_stm.cc
  src/v/cluster/persisted_stm.h
  src/v/cluster/rm_stm.h
  src/v/cluster/security_frontend.cc
  src/v/cluster/tests/cluster_test_fixture.h
  src/v/cluster/tests/health_monitor_test.cc
  src/v/cluster/topics_frontend.cc
  src/v/cluster/tx_gateway_frontend.cc
  src/v/coproc/reconciliation_backend.cc
  src/v/kafka/protocol/fetch.h
  src/v/kafka/protocol/kafka_batch_adapter.cc
  src/v/kafka/protocol/list_offsets.h
  src/v/kafka/protocol/tests/security_test.cc
  src/v/kafka/server/fetch_session_cache.cc
  src/v/kafka/server/handlers/fetch.h
  src/v/kafka/server/rm_group_frontend.cc
  src/v/pandaproxy/json/requests/test/fetch.cc
  src/v/pandaproxy/json/requests/test/produce.cc
  src/v/pandaproxy/rest/handlers.cc
  src/v/raft/consensus.h
  src/v/raft/heartbeat_manager.h
  src/v/raft/rpc_client_protocol.h
  src/v/redpanda/admin_server.cc
  src/v/redpanda/application.cc
Labels: area/redpanda

#5082 cluster: add configs for read_replica to topic properties
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/cluster/types.cc
  src/v/cluster/types.h
Labels: area/redpanda

#4022 storage: do not hold open FDs for all segments+indices
  src/v/archival/archival_policy.cc
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/archival/tests/service_fixture.cc
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/remote_segment_index.h
  src/v/cloud_storage/tests/remote_partition_test.cc
  src/v/cloud_storage/tests/remote_segment_test.cc
  src/v/cloud_storage/tests/remote_test.cc
  src/v/config/configuration.cc
  src/v/storage/compacted_index_writer.h
  src/v/storage/kvstore.cc
  src/v/storage/log_reader.cc
  src/v/storage/log_reader.h
  src/v/storage/log_replayer.cc
  src/v/storage/parser.cc
  src/v/storage/parser.h
  src/v/storage/probe.cc
  src/v/storage/segment.cc
  src/v/storage/segment.h
  src/v/storage/segment_appender.cc
  src/v/storage/segment_index.cc
  src/v/storage/segment_index.h
  src/v/storage/segment_reader.cc
  src/v/storage/segment_reader.h
  src/v/storage/segment_set.cc
  src/v/storage/segment_utils.cc
  src/v/storage/segment_utils.h
  src/v/storage/spill_key_index.cc
  src/v/storage/spill_key_index.h
  src/v/storage/tests/compaction_index_format_tests.cc
  src/v/storage/tests/log_replayer_test.cc
  src/v/storage/tests/offset_index_utils_tests.cc
  tests/rptest/clients/kafka_cli_tools.py
  tests/rptest/clients/types.py
  tests/rptest/services/redpanda.py
  tests/rptest/services/storage.py
  tests/rptest/tests/alter_topic_configuration_test.py
  tests/rptest/tests/cluster_config_test.py
  tests/rptest/tests/resource_limits_test.py
  tests/rptest/tests/storage_resources_test.py
Labels: area/storage, area/redpanda, kind/tech-debt

#5107 [v21.11.x] Fix aborted reads consistency error
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/service.cc
  src/v/archival/tests/service_fixture.cc
  src/v/cluster/controller_backend.cc
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/members_backend.cc
  src/v/cluster/members_manager.cc
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_probe.cc
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/cluster/tests/id_allocator_stm_test.cc
  src/v/cluster/tests/idempotency_tests.cc
  src/v/cluster/tests/partition_moving_test.cc
  src/v/cluster/tests/rebalancing_tests_fixture.h
  src/v/cluster/tests/rm_stm_tests.cc
  src/v/cluster/tests/tm_stm_tests.cc
  src/v/config/base_property.h
  src/v/config/config_store.h
  src/v/config/property.h
  src/v/config/tests/config_store_test.cc
  src/v/coproc/script_context_backend.cc
  src/v/coproc/tests/fixtures/fiber_mock_fixture.cc
  src/v/kafka/protocol/tests/security_test.cc
  src/v/kafka/server/materialized_partition.h
  src/v/kafka/server/partition_proxy.h
  src/v/kafka/server/replicated_partition.h
  src/v/kafka/server/tests/metadata_test.cc
  src/v/kafka/server/tests/topic_recreate_test.cc
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/heartbeat_manager.cc
  src/v/raft/recovery_stm.cc
  src/v/raft/replicate_batcher.cc
  src/v/raft/tests/append_entries_test.cc
  src/v/raft/tests/membership_test.cc
  src/v/raft/tests/mux_state_machine_fixture.h
  src/v/raft/tests/mux_state_machine_test.cc
  src/v/raft/tests/raft_group_fixture.h
  src/v/raft/vote_stm.cc
  src/v/redpanda/admin_server.cc
Labels: area/kafka, area/raft, area/redpanda, kind/backport

#5095 [v22.1.x] tests: Deflake test_migrating_consume_offsets
  tests/rptest/tests/consumer_offsets_migration_test.py
Labels: kind/backport

#5068 [V22.1.x] backport of #4901
  src/v/kafka/server/group.cc
  src/v/kafka/server/group_metadata.cc
  src/v/kafka/server/group_recovery_consumer.cc
  src/v/kafka/server/tests/group_metadata_serialization_test.cc
Labels: area/redpanda

#5111 operator: use relaxed kuttl assertions in e2e tests to reduce flakiness
  src/go/k8s/controllers/redpanda/cluster_controller_configuration.go
  src/go/k8s/tests/e2e-unstable/centralized-configuration/03-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-upgrade/01-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-upgrade/01-first-upgrade.yaml
  src/go/k8s/tests/e2e/update-conf-image/00-assert.yaml
  src/go/k8s/tests/e2e/update-conf-image/00-configurator.yaml
  src/go/k8s/tests/e2e/update-conf-image/01-assert.yaml
  src/go/k8s/tests/e2e/update-conf-image/01-current-image.yaml
  src/go/k8s/tests/e2e/update-conf-image/02-assert.yaml
  src/go/k8s/tests/e2e/update-conf-image/02-new-configurator.yaml
  src/go/k8s/tests/e2e/update-conf-image/03-assert.yaml
Labels: area/k8s

#5098 schema_registry: Support GET /mode
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/handlers.h
  src/v/pandaproxy/schema_registry/service.cc
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, area/schema_registry

#5017 Generate correct stubs for tags defined within kafka schemas
  src/v/kafka/protocol/api_versions.h
  src/v/kafka/protocol/request_reader.h
  src/v/kafka/protocol/response_writer.h
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/protocol/tests/field_parser_test.cc
  src/v/kafka/types.h
  src/v/random/generators.h
  tests/rptest/clients/kafka_cli_tools.py
  tests/rptest/tests/flexible_compat_test.py
Labels: area/redpanda

#5121 [v21.11.x] schema_registry: Support GET /mode
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/handlers.h
  src/v/pandaproxy/schema_registry/service.cc
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, kind/backport

#5120 [v22.1.x] schema_registry: Support GET /mode
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/handlers.h
  src/v/pandaproxy/schema_registry/service.cc
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, kind/backport

#5026 Fix lost update consistency error
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
Labels: area/redpanda

#5124 vassert: prevent assert condition from influencing formatting
  src/v/vassert.h
Labels: area/redpanda

#5045 admin/build: introduce cluster config schema util
  src/v/CMakeLists.txt
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/admin_server.cc
  src/v/redpanda/cluster_config_schema_util.cc
  src/v/redpanda/cluster_config_schema_util.h
  src/v/rp_util/CMakeLists.txt
  src/v/rp_util/main.cc
Labels: area/redpanda

#5093 [v22.1.x] Fix aborted reads consistency error
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/service.cc
  src/v/archival/tests/service_fixture.cc
  src/v/cluster/controller.h
  src/v/cluster/controller_backend.cc
  src/v/cluster/drain_manager.cc
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/members_backend.cc
  src/v/cluster/members_manager.cc
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_probe.cc
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/cluster/tests/id_allocator_stm_test.cc
  src/v/cluster/tests/idempotency_tests.cc
  src/v/cluster/tests/partition_moving_test.cc
  src/v/cluster/tests/rebalancing_tests_fixture.h
  src/v/cluster/tests/rm_stm_tests.cc
  src/v/cluster/tests/tm_stm_tests.cc
  src/v/coproc/partition.h
  src/v/coproc/script_context_backend.cc
  src/v/coproc/tests/fixtures/fiber_mock_fixture.cc
  src/v/kafka/server/group_metadata_migration.cc
  src/v/kafka/server/materialized_partition.h
  src/v/kafka/server/partition_proxy.h
  src/v/kafka/server/replicated_partition.h
  src/v/kafka/server/tests/metadata_test.cc
  src/v/kafka/server/tests/topic_recreate_test.cc
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/heartbeat_manager.cc
  src/v/raft/recovery_stm.cc
  src/v/raft/replicate_batcher.cc
  src/v/raft/tests/append_entries_test.cc
  src/v/raft/tests/membership_test.cc
  src/v/raft/tests/mux_state_machine_fixture.h
  src/v/raft/tests/mux_state_machine_test.cc
  src/v/raft/tests/raft_group_fixture.h
  src/v/raft/vote_stm.cc
Labels: area/kafka, area/raft, area/redpanda, kind/backport

#5119 Extend lifetime of group for background tasks
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
Labels: area/redpanda

#5021 [v22.1.x] archival_metadata_stm: return error code instead of throwing
  src/v/cluster/archival_metadata_stm.cc
Labels: area/redpanda

#5147 [v22.1.x] Backport fix for central config management in operator
  src/go/k8s/controllers/redpanda/cluster_controller_configuration.go
  src/go/k8s/controllers/redpanda/suite_test.go
  src/go/k8s/pkg/admin/admin.go
  src/go/k8s/tests/e2e/centralized-configuration-upgrade/01-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-upgrade/01-first-upgrade.yaml
  src/go/k8s/tests/e2e/centralized-configuration/03-assert.yaml
  src/go/k8s/tests/e2e/update-conf-image/00-configurator.yaml
  src/go/k8s/tests/e2e/update-conf-image/01-assert.yaml
  src/go/k8s/tests/e2e/update-conf-image/03-assert.yaml
  src/go/rpk/pkg/api/admin/api_config.go
  src/go/rpk/pkg/cli/cmd/cluster/config/status.go
Labels: area/rpk, area/k8s

#5097 net/kafka/rpc/cluster: Improved logging
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/id_allocator_frontend.cc
  src/v/cluster/members_manager.cc
  src/v/cluster/persisted_stm.cc
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/fetch_session_cache.cc
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_metadata.cc
  src/v/kafka/server/protocol.cc
  src/v/net/batched_output_stream.cc
  src/v/net/batched_output_stream.h
  src/v/net/connection.cc
  src/v/net/connection.h
  src/v/net/server.cc
  src/v/raft/consensus.cc
  src/v/raft/prevote_stm.cc
  src/v/rpc/simple_protocol.cc
  src/v/rpc/transport.cc
  src/v/storage/segment.cc
Labels: kind/enhance, area/redpanda

#5138 kafka/protocol: use default generated operator==()
  src/v/kafka/protocol/api_versions.h
  src/v/kafka/protocol/schemata/generator.py
Labels: area/redpanda

#5019 Operator: add support for downscaling
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types_test.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook_test.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/cmd/configurator/main.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/controllers/redpanda/cluster_controller_common_test.go
  src/go/k8s/controllers/redpanda/cluster_controller_configuration_test.go
  src/go/k8s/controllers/redpanda/cluster_controller_scale_test.go
  src/go/k8s/controllers/redpanda/cluster_controller_test.go
  src/go/k8s/controllers/redpanda/metric_controller.go
  src/go/k8s/controllers/redpanda/suite_test.go
  src/go/k8s/main.go
  src/go/k8s/pkg/admin/admin.go
  src/go/k8s/pkg/resources/certmanager/pki.go
  src/go/k8s/pkg/resources/certmanager/type_helpers.go
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/pkg/resources/resource_integration_test.go
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/pkg/resources/statefulset_scale.go
  src/go/k8s/pkg/resources/statefulset_test.go
  src/go/k8s/pkg/resources/types/tls_types.go
  src/go/k8s/tests/e2e/decommission/00-assert.yaml
  src/go/k8s/tests/e2e/decommission/00-enable-downscaling.yaml
  src/go/k8s/tests/e2e/decommission/01-assert.yaml
  src/go/k8s/tests/e2e/decommission/01-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/decommission/02-assert.yaml
  src/go/k8s/tests/e2e/decommission/02-probe.yaml
  src/go/k8s/tests/e2e/decommission/03-assert.yaml
  src/go/k8s/tests/e2e/decommission/03-redpanda-downscale.yaml
  src/go/k8s/tests/e2e/decommission/04-assert.yaml
  src/go/k8s/tests/e2e/decommission/04-probe.yaml
  src/go/k8s/tests/e2e/decommission/05-restore-downscaling.yaml
  src/go/k8s/tests/e2e/decommission/06-assert.yaml
  src/go/rpk/pkg/api/admin/api_broker.go
Labels: area/rpk, area/k8s

#4974 Break ties randomly in partition allocator
  src/v/cluster/scheduling/allocation_strategy.cc
  src/v/cluster/tests/partition_allocator_tests.cc
  src/v/model/metadata.h
Labels: area/redpanda

#5048 read_replica: Download manifest for read replica
  src/v/cluster/CMakeLists.txt
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/read_replica_manager.cc
  src/v/cluster/read_replica_manager.h
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
  src/v/kafka/server/tests/create_topics_test.cc
  src/v/redpanda/application.cc
Labels: area/redpanda

#5027 rm_stm: make recovery from memory reset faster
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
Labels: area/redpanda

#5211 Catch unhandeled exceptions within `net::server`
  src/v/net/connection.cc
  src/v/rpc/test/rpc_gen_cycling_test.cc
  src/v/rpc/test/rpc_integration_fixture.h
Labels: area/redpanda

#5044 cloud_storage: Improve SI cache
  src/v/cloud_storage/CMakeLists.txt
  src/v/cloud_storage/access_time_tracker.cc
  src/v/cloud_storage/access_time_tracker.h
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/cache_service.h
  src/v/cloud_storage/recursive_directory_walker.cc
  src/v/cloud_storage/recursive_directory_walker.h
  src/v/cloud_storage/tests/CMakeLists.txt
  src/v/cloud_storage/tests/cache_bench.cc
  src/v/cloud_storage/tests/cache_test.cc
  src/v/cloud_storage/tests/cache_test_fixture.h
  src/v/cloud_storage/tests/cloud_storage_fixture.h
  src/v/cloud_storage/tests/directory_walker_test.cc
  src/v/cloud_storage/tests/remote_partition_test.cc
  src/v/cloud_storage/tests/remote_segment_test.cc
  src/v/redpanda/application.cc
Labels: area/redpanda, area/shadow-indexing

#5157 Improve idempotency latency by introducing rm_stm pipelining
  src/v/cluster/errc.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/kafka/server/errors.h
  src/v/kafka/server/handlers/produce.cc
  src/v/raft/consensus.h
  src/v/redpanda/admin_server.cc
  src/v/utils/available_promise.h
  tests/rptest/services/admin.py
  tests/rptest/tests/group_membership_test.py
  tests/rptest/tests/prefix_truncate_recovery_test.py
  tests/rptest/tests/raft_availability_test.py
  tests/rptest/tests/tx_admin_api_test.py
  tests/rptest/util.py
Labels: area/redpanda

#5230 [v22.1.x] rpk: fix ipv6 parsing of ParseHostMaybeScheme function
  src/go/rpk/pkg/cli/cmd/redpanda/admin/config/config.go
  src/go/rpk/pkg/net/hostport.go
Labels: area/rpk, kind/backport

#5225 [v21.11.x] rpk: fix ipv6 parsing of ParseHostMaybeScheme function
  src/go/rpk/pkg/cli/cmd/redpanda/admin/config/config.go
  src/go/rpk/pkg/net/hostport.go
Labels: area/rpk, kind/backport

#5175 cluster: use remote revision id for read replicas
  src/v/cluster/controller_backend.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/types.cc
  src/v/cluster/types.h
Labels: area/redpanda

#5145 v/rpc: use std::constructible_from when appropriate
  src/v/rpc/transport.h
Labels: area/redpanda

#5028 k8s: Update
  src/go/k8s/pkg/resources/cluster_role.go
  src/go/k8s/pkg/resources/statefulset.go
Labels: area/k8s

#5232 kafka: no more special treatment for unknown_server_error code.
  src/v/kafka/protocol/errors.cc
Labels: area/redpanda

#5228 read replica: use remote partition count
  src/v/cluster/topics_frontend.cc
  src/v/kafka/server/tests/CMakeLists.txt
  src/v/kafka/server/tests/create_topics_test.cc
  src/v/kafka/server/tests/s3_imposter_fixture.cc
  src/v/kafka/server/tests/s3_imposter_fixture.h
Labels: area/redpanda

#5237 cluster: add serde support for cluster::configuration_update_request
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/model/adl_serde.cc
  src/v/model/metadata.h
  src/v/model/tests/randoms.h
  src/v/net/unresolved_address.h
  src/v/raft/tests/configuration_manager_test.cc
  src/v/raft/tests/configuration_serialization_test.cc
  src/v/raft/tests/foreign_entry_test.cc
  src/v/raft/tests/simple_record_fixture.h
  src/v/raft/tests/type_serialization_tests.cc
  src/v/serde/serde.h
  src/v/serde/test/serde_test.cc
  src/v/test_utils/randoms.h
Labels: area/redpanda

#5123 redpanda: add --version argument
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/redpanda/cli_parser.cc
  src/v/redpanda/cli_parser.h
  src/v/redpanda/main.cc
  src/v/redpanda/tests/cli_parser_tests.cc
  tests/rptest/services/cluster.py
  tests/rptest/tests/redpanda_binary_test.py
Labels: area/redpanda

#5144 storage: fix intermittent failure in `disposing_in_use_reader`
  src/v/storage/tests/storage_e2e_test.cc
Labels: kind/bug, area/storage, area/redpanda, area/tests

#4889 Using `serde` in `redpanda/controller/0` partition
  src/v/cluster/cluster_utils.h
  src/v/cluster/commands.h
  src/v/cluster/config_frontend.cc
  src/v/cluster/config_frontend.h
  src/v/cluster/controller.cc
  src/v/cluster/data_policy_frontend.cc
  src/v/cluster/data_policy_frontend.h
  src/v/cluster/feature_manager.cc
  src/v/cluster/feature_table.cc
  src/v/cluster/feature_table.h
  src/v/cluster/members_frontend.cc
  src/v/cluster/members_frontend.h
  src/v/cluster/security_frontend.cc
  src/v/cluster/security_frontend.h
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
  src/v/security/scram_credential.h
  tests/rptest/services/admin_ops_fuzzer.py
  tests/rptest/tests/cluster_features_test.py
  tests/rptest/tests/controller_upgrade_test.py
Labels: area/redpanda

#5213 Additional detail in config error message
  src/v/cluster/members_manager.cc
Labels: area/redpanda

#5236 build: drop unused set_option.cmake
  cmake/main.cmake
  cmake/set_option.cmake
Labels: area/build

#5250 controller: add serde support for rpc messages
  src/v/cluster/feature_barrier.cc
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/cluster/types.h
  src/v/serde/serde.h
Labels: area/redpanda

#5265 gha/rpk: split darwin/linux rpk artifact uploading
  .github/workflows/rpk-build.yml
Labels: area/build

#5066 k/replicated_partition: do not validate fetch offset when stopping
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/materialized_partition.h
  src/v/kafka/server/partition_proxy.h
  src/v/kafka/server/replicated_partition.cc
  src/v/kafka/server/replicated_partition.h
Labels: area/redpanda

#5135 Speed up leader balancer by removing unneeded waits
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/cluster/scheduling/leader_balancer.h
Labels: area/redpanda

#5139 k/protocol: move kafka_request_schemata into v::kafka_protocol
  src/v/kafka/protocol/CMakeLists.txt
  src/v/kafka/protocol/schemata/CMakeLists.txt
Labels: area/redpanda

#5220 Move feature_table outside from controller
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
Labels: area/redpanda

#5217 Pass node report by reference
  src/v/cluster/metadata_dissemination_service.cc
Labels: area/redpanda

#5108 Made recovery throttle runtime configurable
  src/v/config/configuration.cc
  src/v/raft/recovery_stm.cc
  src/v/raft/recovery_throttle.h
  src/v/raft/tests/mux_state_machine_fixture.h
  src/v/raft/tests/raft_group_fixture.h
  src/v/redpanda/application.cc
Labels: area/redpanda

#5254 tests: disable leader balancer in cluster_health_overview_test
  tests/rptest/tests/cluster_health_overview_test.py
Labels: kind/bug, area/tests

#5281 controller: add serde support for controller rpc messages
  src/v/cluster/members_manager.cc
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/cluster/types.h
Labels: area/redpanda

#5160 archival: Truncate archival metadata snapshot
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/archival/service.cc
  src/v/archival/service.h
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/admin/api-doc/shadow_indexing.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  src/v/redpanda/application.cc
  tests/rptest/services/admin.py
  tests/rptest/tests/shadow_indexing_admin_api_test.py
Labels: area/redpanda
