Repository redpanda-data/redpanda, pull requests merged in 2022-11, with the labels that each got.

#7026 Rpk bootstrap touchup
  src/go/rpk/pkg/cli/cmd/redpanda/config.go
  src/go/rpk/pkg/cli/cmd/redpanda/config_test.go
  src/go/rpk/pkg/config/config.go
Labels: area/rpk

#6989 Fix node selection for disruptive tests
  tests/rptest/services/action_injector.py
Labels: kind/bug, area/tests, ci-failure, area/shadow-indexing

#7036 [v22.1.x] Fix node selection for disruptive tests
  tests/rptest/services/action_injector.py
Labels: kind/backport

#6998 misc: fix inconvenient logger name
  src/v/redpanda/application.h
Labels: area/redpanda, kind/tech-debt

#7034 [v22.2.x] Fix node selection for disruptive tests
  tests/rptest/services/action_injector.py
Labels: kind/backport

#6988 Improved logging in rm_stm and enabled timequery tests for debug builds
  src/v/cluster/rm_stm.cc
  src/v/kafka/server/group.cc
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/recovery_stm.cc
  src/v/raft/tests/append_entries_test.cc
  tests/rptest/tests/compaction_end_to_end_test.py
  tests/rptest/tests/timequery_test.py
Labels: kind/bug, area/redpanda, area/tests, ci-failure, area/transactions

#7040 features: add some comments
  src/v/features/feature_table.cc
  src/v/redpanda/application.cc
Labels: area/controller, area/redpanda, kind/tech-debt

#6920 tests/KStreams: update commit SHA
  tests/docker/Dockerfile
  tests/rptest/tests/compatibility/kafka_streams_test.py
Labels: kind/bug, area/tests, ci-failure, ci-disabled-test

#7037 storage/storage resources: fix trace logs
  src/v/storage/storage_resources.cc
  src/v/storage/storage_resources.h
Labels: area/storage, area/redpanda, kind/tech-debt

#7038 tests: fix rare KeyError in storage get_sizes
  tests/rptest/services/storage.py
Labels: kind/bug, area/tests

#6455 cloud_storage: Compacted topic uploads
  src/v/archival/archival_policy.cc
  src/v/archival/archival_policy.h
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/archival/segment_reupload.cc
  src/v/archival/segment_reupload.h
  src/v/archival/tests/CMakeLists.txt
  src/v/archival/tests/ntp_archiver_reupload_test.cc
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/archival/tests/segment_reupload_test.cc
  src/v/archival/tests/service_fixture.cc
  src/v/archival/tests/service_fixture.h
  src/v/archival/tests/service_test.cc
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/partition_recovery_manager.cc
  src/v/cloud_storage/partition_recovery_manager.h
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/tests/archival_metadata_stm_test.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/storage/tests/utils/disk_log_builder.cc
  src/v/storage/tests/utils/disk_log_builder.h
  src/v/test_utils/http_imposter.cc
  tests/rptest/tests/archival_test.py
  tests/rptest/tests/e2e_shadow_indexing_test.py
  tests/rptest/tests/end_to_end.py
  tests/rptest/tests/retention_policy_test.py
  tests/rptest/tests/shadow_indexing_admin_api_test.py
  tests/rptest/tests/shadow_indexing_compacted_topic_test.py
  tests/rptest/tests/topic_recovery_test.py
  tests/rptest/util.py
  tests/rptest/utils/si_utils.py
Labels: kind/enhance, area/redpanda, area/shadow-indexing

#7023 kafka: reduce protocol library build size / time by up to 10x
  src/v/kafka/client/fetcher.cc
  src/v/kafka/client/types.h
  src/v/kafka/protocol/CMakeLists.txt
  src/v/kafka/protocol/flex_versions.cc
  src/v/kafka/protocol/flex_versions.h
  src/v/kafka/protocol/kafka_batch_adapter.h
  src/v/kafka/protocol/request_reader.h
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/protocol/types.cc
  src/v/kafka/protocol/types.h
  src/v/kafka/types.h
  src/v/model/record_batch_reader.h
  src/v/pandaproxy/parsing/from_chars.h
  src/v/utils/named_type.h
  src/v/utils/tests/vint_test.cc
  src/v/utils/vint.cc
  src/v/utils/vint.h
  src/v/utils/vint_iostream.h
Labels: area/redpanda

#6769 net: avoid `this` capture in lambda coroutine
  src/v/net/conn_quota.cc
  src/v/net/conn_quota.h
  src/v/net/server.cc
  src/v/net/server.h
Labels: kind/enhance, area/redpanda, ci-failure

#6947 [Snyk] Security upgrade ubuntu from jammy-20220531 to jammy
  tests/docker/Dockerfile
Labels: kind/enhance, dependencies, area/security

#6598 [v22.1.x] Ensure background reclaimer is always notified
  src/v/storage/batch_cache.cc
Labels: kind/bug, area/redpanda, kind/backport

#7050 cluster: tighten up test_feature_table_snapshots
  src/v/cluster/tests/cluster_tests.cc
Labels: kind/bug, area/redpanda, area/tests

#6968 tests: reinstate test_retention_upgrade_with_cluster_remote_write
  tests/rptest/tests/topic_creation_test.py
Labels: kind/bug, area/shadow-indexing

#6966 Add default protobuf config
  src/go/k8s/pkg/console/configmap.go
Labels: area/k8s

#6950 cloud_storage: make cluster default read/write properties "sticky"
  src/v/archival/service.cc
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
  src/v/cluster/partition.cc
  src/v/cluster/tests/archival_metadata_stm_test.cc
  src/v/config/configuration.cc
  src/v/features/migrators/cloud_storage_config.cc
  src/v/kafka/server/handlers/topics/types.cc
  src/v/storage/disk_log_impl.cc
  src/v/storage/tests/storage_e2e_test.cc
  tests/rptest/services/redpanda.py
  tests/rptest/tests/alter_topic_configuration_test.py
  tests/rptest/tests/retention_policy_test.py
  tests/rptest/tests/topic_creation_test.py
Labels: area/redpanda, kind/tech-debt, area/shadow-indexing

#7054 bootstrap: miscellaneous cleanup
  src/v/cluster/bootstrap_backend.cc
  src/v/cluster/bootstrap_backend.h
  src/v/cluster/bootstrap_types.h
  src/v/cluster/cluster_discovery.cc
  src/v/cluster/raft0_utils.h
Labels: area/redpanda

#7051 cluster_discovery: clarify and test setting seeds-driven bootstrap configs
  src/v/cluster/cluster_discovery.cc
  tests/rptest/services/redpanda.py
  tests/rptest/services/rolling_restarter.py
  tests/rptest/tests/cluster_bootstrap_test.py
Labels: kind/enhance, area/redpanda

#6883 operator: support for rack awareness
  src/go/k8s/Makefile
  src/go/k8s/cmd/configurator/main.go
  src/go/k8s/cmd/configurator/main_test.go
  src/go/k8s/controllers/redpanda/cluster_controller_test.go
  src/go/k8s/controllers/redpanda/suite_test.go
  src/go/k8s/pkg/resources/cluster_role.go
  src/go/k8s/pkg/resources/cluster_role_binding.go
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/pkg/resources/featuregates/featuregates.go
  src/go/k8s/pkg/resources/featuregates/featuregates_test.go
  src/go/k8s/pkg/resources/service_account.go
  src/go/k8s/pkg/resources/statefulset.go
Labels: area/k8s

#7046 tests/docker: Disable leader balancer in arroyo test suite
  tests/rptest/tests/compatibility/arroyo_test.py
Labels: kind/bug, area/redpanda, area/tests, ci-failure

#7061 transactions: fix check for ongoing tx
  src/v/cluster/rm_stm.h
Labels: area/redpanda

#7032 rpk/k8s: bump franz-go to unreleased commit
  src/go/k8s/go.mod
  src/go/k8s/go.sum
  src/go/rpk/go.mod
  src/go/rpk/go.sum
Labels: area/rpk, area/k8s

#7064 Coroutine fixes
  src/v/features/migrators/group_metadata.cc
  src/v/features/migrators/group_metadata.h
  src/v/storage/utils/transforming_reader.h
Labels: area/redpanda

#7030 Set host header when getting AWS creds in order to work with `kube2iam`
  src/v/cloud_roles/aws_refresh_impl.cc
Labels: area/redpanda, area/shadow-indexing

#7071 Fixed potentially incorrect coroutine lambdas capturing `this`
  src/v/cluster/config_manager.cc
  src/v/cluster/config_manager.h
  src/v/cluster/controller_api.cc
  src/v/cluster/feature_backend.cc
  src/v/cluster/feature_backend.h
  src/v/cluster/health_manager.cc
  src/v/cluster/health_manager.h
  src/v/cluster/topics_frontend.cc
  src/v/cluster/tx_gateway_frontend.cc
  src/v/kafka/client/client.cc
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
  src/v/kafka/server/handlers/create_partitions.cc
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/handlers/delete_topics.cc
  src/v/raft/consensus.cc
  src/v/raft/offset_translator.cc
  src/v/raft/replicate_batcher.cc
  src/v/raft/replicate_entries_stm.cc
  src/v/storage/segment_index.cc
  src/v/storage/segment_index.h
Labels: area/redpanda

#7053 Clean up reference uses after co await
  src/v/archival/archival_policy.cc
  src/v/archival/archival_policy.h
  src/v/archival/ntp_archiver_service.cc
Labels: kind/enhance, area/redpanda

#7014 Add `rpk cloud` command
  src/go/rpk/pkg/auth0/auth0.go
  src/go/rpk/pkg/cli/cmd/cloud/auth/auth.go
  src/go/rpk/pkg/cli/cmd/cloud/cloud.go
  src/go/rpk/pkg/cli/cmd/cloud/cloudcfg/config.go
  src/go/rpk/pkg/cli/cmd/cloud/cloudcfg/params.go
  src/go/rpk/pkg/cli/cmd/cloud/login.go
  src/go/rpk/pkg/cli/cmd/cloud/logout.go
  src/go/rpk/pkg/cli/cmd/plugin/install.go
  src/go/rpk/pkg/cli/cmd/root.go
  src/go/rpk/pkg/config/params.go
  src/go/rpk/pkg/httpapi/httpapi.go
  src/go/rpk/pkg/os/file.go
  src/go/rpk/pkg/os/file_all.go
  src/go/rpk/pkg/os/file_windows.go
  src/go/rpk/pkg/os/proc.go
  src/go/rpk/pkg/plugin/plugin.go
Labels: area/rpk

#7017 Adjust raft voter priority before the kafka API is ready
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/kafka/client/test/reconnect.cc
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/group_manager.cc
  src/v/raft/group_manager.h
  src/v/raft/tests/raft_group_fixture.h
  src/v/redpanda/application.cc
  tests/rptest/services/failure_injector.py
  tests/rptest/tests/timely_shutdown_test.py
Labels: kind/enhance, area/controller, area/redpanda

#6842 ducktape: TopicRecoveryTest _wait_for_data_in_s3 raise backoff
  tests/rptest/tests/topic_recovery_test.py
Labels: kind/bug, area/tests, ci-failure, area/shadow-indexing

#6881 cloud_storage: Remote partition compaction improvements
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/segment_reupload.cc
  src/v/archival/tests/ntp_archiver_reupload_test.cc
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/archival/tests/service_fixture.cc
  src/v/cloud_storage/offset_translation_layer.cc
  src/v/cloud_storage/offset_translation_layer.h
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/partition_probe.cc
  src/v/cloud_storage/partition_probe.h
  src/v/cloud_storage/partition_recovery_manager.cc
  src/v/cloud_storage/partition_recovery_manager.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/tests/offset_translation_layer_test.cc
  src/v/cloud_storage/tests/partition_manifest_test.cc
  src/v/cloud_storage/tests/remote_partition_test.cc
  src/v/cloud_storage/tests/remote_segment_test.cc
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
  src/v/cluster/tests/archival_metadata_stm_test.cc
  src/v/model/fundamental.h
  src/v/test_utils/archival.h
Labels: kind/enhance, area/redpanda, area/shadow-indexing

#6720 Increase the verbosity of curl commands
  src/go/k8s/hack/install-cert-manager.sh
Labels: area/k8s

#7077 Watch console ConfigMap deletes
  src/go/k8s/controllers/redpanda/console_controller.go
  src/go/k8s/controllers/redpanda/console_controller_test.go
  src/go/k8s/pkg/console/configmap.go
  src/go/k8s/pkg/utils/predicates.go
Labels: area/k8s

#7042 cloud_storage: limit reader concurrency to avoid bad_allocs under random read loads
  src/v/cloud_storage/CMakeLists.txt
  src/v/cloud_storage/materialized_segments.cc
  src/v/cloud_storage/materialized_segments.h
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/segment_state.cc
  src/v/cloud_storage/segment_state.h
  src/v/cloud_storage/tests/remote_partition_test.cc
  src/v/cloud_storage/tests/remote_segment_test.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/storage/fwd.h
  src/v/storage/storage_resources.cc
  src/v/storage/storage_resources.h
  src/v/utils/adjustable_semaphore.h
  tests/rptest/tests/e2e_shadow_indexing_test.py
Labels: kind/bug, area/redpanda, area/shadow-indexing

#7058 c/controller_backend: update leaders table on ntp deletion
  src/v/cluster/controller_backend.cc
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
  src/v/cluster/health_monitor_types.h
  src/v/cluster/metadata_dissemination_service.cc
  tests/rptest/tests/cluster_metrics_test.py
Labels: area/redpanda

#7083 tests: remove copy of wait_until
  tests/rptest/tests/limits_test.py
  tests/rptest/tests/partition_balancer_test.py
  tests/rptest/tests/partition_movement_upgrade_test.py
  tests/rptest/tests/prealloc_nodes.py
  tests/rptest/tests/raft_availability_test.py
  tests/rptest/tests/shadow_indexing_compacted_topic_test.py
  tests/rptest/util.py
Labels: kind/tech-debt, area/tests

#7093 rpk: avoid overwriting pandaproxy if no flags are passed to rpk start
  src/go/rpk/pkg/cli/cmd/redpanda/start.go
  src/go/rpk/pkg/cli/cmd/redpanda/start_test.go
Labels: area/rpk

#7081 tx/compaction: Adjust aborted tx ranges for compacted segments.
  src/v/kafka/protocol/batch_consumer.h
  src/v/kafka/server/handlers/fetch.cc
  tests/rptest/services/redpanda.py
  tests/rptest/tests/compaction_end_to_end_test.py
  tests/rptest/tests/end_to_end.py
Labels: area/redpanda

#7048 Schema Registry && REST Proxy: Auto-auth tests & fixes
  src/v/kafka/client/broker.h
  src/v/kafka/client/client.cc
  src/v/pandaproxy/rest/proxy.cc
  src/v/pandaproxy/rest/proxy.h
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/service.h
  src/v/pandaproxy/server.h
  tests/rptest/clients/kafka_cat.py
  tests/rptest/clients/python_librdkafka_serde_client.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/pandaproxy_test.py
  tests/rptest/tests/schema_registry_test.py
Labels: kind/enhance, area/redpanda, area/pandaproxy, area/schema_registry, area/tests

#7107 load bare config with no defaults
  src/go/k8s/cmd/configurator/main.go
  src/go/k8s/cmd/configurator/main_test.go
  src/go/k8s/go.mod
Labels: area/k8s

#7089 tests: reinstate test_replica_placement
  tests/rptest/tests/rack_aware_replica_placement_test.py
Labels: kind/tech-debt, area/tests

#7094 cloud_storage: fix is_data_available for truncated case
  src/v/cloud_storage/remote_partition.cc
Labels: kind/bug, area/redpanda, area/shadow-indexing

#7117 archival: make archiver no-op for unit tests
  src/v/archival/ntp_archiver_service.h
  src/v/archival/service.h
  src/v/archival/tests/ntp_archiver_test.cc
Labels: area/redpanda

#7110 Set license to be at the last part of reconciliation
  src/go/k8s/controllers/redpanda/cluster_controller.go
Labels: area/k8s

#7121 Fixed metadata dissemination race condition
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
  src/v/cluster/health_monitor_types.h
  src/v/cluster/metadata_dissemination_service.cc
  src/v/cluster/partition_leaders_table.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
Labels: area/redpanda

#7113 De-coroutinize capturing lambdas
  src/v/archival/ntp_archiver_service.cc
  src/v/cloud_storage/partition_recovery_manager.cc
  src/v/coproc/tests/fixtures/fiber_mock_fixture.cc
  src/v/raft/tests/offset_translator_tests.cc
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  src/v/rp_util/main.cc
Labels: area/redpanda

#7112 Set Kafka SASL password as envar
  src/go/k8s/pkg/console/configmap.go
  src/go/k8s/pkg/console/deployment.go
Labels: area/k8s

#7144 Support schema registry with basic auth for console
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/pkg/console/configmap.go
  src/go/k8s/pkg/console/deployment.go
  src/go/k8s/pkg/console/deployment_internal_test.go
Labels: area/k8s

#7131 Added some basic logging to rm_stm
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/kafka/server/handlers/add_offsets_to_txn.cc
  src/v/kafka/server/handlers/add_partitions_to_txn.cc
  src/v/kafka/server/handlers/end_txn.cc
  src/v/kafka/server/handlers/txn_offset_commit.cc
  tests/rptest/tests/tx_abort_index_test.py
Labels: area/redpanda

#7123 cloud_storage: remove capturing lambda coroutines
  src/v/cloud_storage/partition_recovery_manager.cc
  src/v/cloud_storage/partition_recovery_manager.h
  src/v/cloud_storage/recursive_directory_walker.cc
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
Labels: kind/bug, area/redpanda, area/shadow-indexing

#7159 kafka/client && pandaproxy: avoid-capturing-lambda-coroutines
  src/v/kafka/client/broker.cc
  src/v/kafka/client/client.cc
  src/v/kafka/client/client.h
  src/v/pandaproxy/rest/handlers.cc
  src/v/pandaproxy/rest/proxy.cc
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/seq_writer.h
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/server.h
Labels: area/redpanda

#7130 Small Improvements to RedpandaLicense feature
  src/go/rpk/pkg/api/admin/api_features.go
  src/go/rpk/pkg/cli/cmd/cluster/license/info.go
  src/v/redpanda/admin/api-doc/features.json
  src/v/redpanda/admin_server.cc
  src/v/security/license.cc
  src/v/security/license.h
  src/v/security/tests/license_test.cc
  tests/rptest/tests/cluster_features_test.py
  tests/rptest/tests/rpk_cluster_test.py
Labels: area/rpk, area/redpanda

#7167 convert coroutine lambdas to normal lambdas
  src/v/net/tests/conn_quota_test.cc
  src/v/redpanda/application.cc
  src/v/rp_util/main.cc
  src/v/rpc/test/rpc_gen_cycling_test.cc
Labels: area/redpanda

#6571 Available memory API
  src/v/CMakeLists.txt
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/resource_mgmt/CMakeLists.txt
  src/v/resource_mgmt/available_memory.cc
  src/v/resource_mgmt/available_memory.h
  src/v/resource_mgmt/tests/CMakeLists.txt
  src/v/resource_mgmt/tests/available_memory_test.cc
  src/v/ssx/metrics.h
  src/v/storage/CMakeLists.txt
  src/v/storage/batch_cache.cc
  src/v/storage/batch_cache.h
Labels: kind/enhance, area/redpanda

#7079 Init Cluster UUID in upgraded clusters
  src/v/cluster/bootstrap_backend.cc
  src/v/cluster/bootstrap_backend.h
  src/v/cluster/cluster_discovery.cc
  src/v/cluster/cluster_discovery.h
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/members_manager.cc
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/redpanda/admin/api-doc/cluster.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  tests/rptest/services/admin.py
  tests/rptest/tests/cluster_bootstrap_test.py
Labels: area/redpanda

#7105 Lower log error severity to WARN for errc::shutting_down in k/group
  src/v/kafka/server/group.cc
Labels: area/redpanda

#7075 tests: add RedpandaService.wait_until for failing faster on crashes
  tests/rptest/services/kafka.py
  tests/rptest/services/kgo_verifier_services.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/e2e_shadow_indexing_test.py
Labels: kind/enhance, area/tests

#7068 s3: ensures that stream is closed when uploading segment
  src/v/archival/ntp_archiver_service.cc
  src/v/s3/client.cc
  src/v/storage/segment_reader.cc
  src/v/storage/segment_reader.h
Labels: kind/bug, area/redpanda, area/shadow-indexing

#7177 archival: use no-op archiver in tests which use custom archiver
  src/v/archival/service.h
  src/v/archival/tests/ntp_archiver_test.cc
Labels: area/redpanda

#7155 storage: do not run adjacent compaction and truncation concurrently
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
Labels: kind/bug, area/storage, area/redpanda

#7154 Partition count metric enhancement
  src/v/cluster/controller_probe.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  tests/rptest/tests/cluster_metrics_test.py
Labels: area/redpanda

#7182 tests: remove data-dir-fetching logic temporarily
  tests/rptest/services/redpanda.py
  tests/rptest/tests/end_to_end.py
Labels: kind/bug, area/tests

#7122 cluster: removed capturing coroutine lambdas
  src/v/cluster/bootstrap_backend.cc
  src/v/cluster/bootstrap_backend.h
  src/v/cluster/cluster_discovery.cc
  src/v/cluster/cluster_discovery.h
  src/v/cluster/topics_frontend.cc
Labels: area/redpanda

#7097 tests: amend retention in test_create_or_delete_topics_while_busy
  tests/rptest/tests/e2e_shadow_indexing_test.py
Labels: kind/tech-debt, area/tests

#7133 cloud_storage: segment lifecycle metrics
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/archival/probe.cc
  src/v/archival/probe.h
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
Labels: area/redpanda

#7047 rpk: add tls support to generate prometheus-config
  src/go/rpk/pkg/cli/cmd/generate/prometheus.go
Labels: area/rpk

#7157 cloud_storage: fix partition recovery with data-less segments
  src/v/cloud_storage/offset_translation_layer.cc
  src/v/cloud_storage/offset_translation_layer.h
  src/v/cloud_storage/partition_recovery_manager.cc
  src/v/cloud_storage/partition_recovery_manager.h
  tests/rptest/tests/e2e_topic_recovery_test.py
Labels: area/redpanda

#7102 add rpk cloud byoc shim
  src/go/rpk/pkg/cli/cmd/cloud/auth/auth.go
  src/go/rpk/pkg/cli/cmd/cloud/byoc/byoc.go
  src/go/rpk/pkg/cli/cmd/cloud/byoc/install.go
  src/go/rpk/pkg/cli/cmd/cloud/byoc/uninstall.go
  src/go/rpk/pkg/cli/cmd/cloud/cloud.go
  src/go/rpk/pkg/cli/cmd/cloud/cloudcfg/config.go
  src/go/rpk/pkg/cli/cmd/cloud/cloudcfg/params.go
  src/go/rpk/pkg/cli/cmd/cloud/login.go
  src/go/rpk/pkg/cli/cmd/cloud/logout.go
  src/go/rpk/pkg/cli/cmd/plugin/install.go
  src/go/rpk/pkg/cli/cmd/plugin/list.go
  src/go/rpk/pkg/cli/cmd/plugin/uninstall.go
  src/go/rpk/pkg/cli/cmd/root.go
  src/go/rpk/pkg/cli/cmd/root_test.go
  src/go/rpk/pkg/cloudapi/api_cluster.go
  src/go/rpk/pkg/cloudapi/api_installpack.go
  src/go/rpk/pkg/cloudapi/cloudapi.go
  src/go/rpk/pkg/plugin/managed.go
  src/go/rpk/pkg/plugin/manifest.go
  src/go/rpk/pkg/plugin/manifest_test.go
  src/go/rpk/pkg/plugin/plugin.go
  src/go/rpk/pkg/plugin/plugin_test.go
Labels: area/rpk

#7174 convert batch of coro-lambda into normal lambda
  src/v/cloud_storage/tests/remote_partition_test.cc
  src/v/cloud_storage/tests/remote_segment_test.cc
  src/v/cloud_storage/tests/remote_test.cc
  src/v/coproc/script_context_backend.cc
  src/v/pandaproxy/test/one_shot.cc
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  src/v/rp_util/main.cc
  src/v/s3/tests/s3_client_test.cc
Labels: area/redpanda

#7188 tests/tls: add a retry loop
  tests/rptest/services/tls.py
Labels: area/tests, ci-failure

#7197 rpk: three small fixes
  src/go/rpk/pkg/cli/cmd/redpanda/admin/config/config.go
  src/go/rpk/pkg/cli/cmd/topic/produce.go
  src/go/rpk/pkg/kafka/client_franz.go
Labels: area/rpk

#7173 Initialize _abort_interval_ms in group::group ctor
  src/v/kafka/server/group.cc
Labels: area/redpanda

#6781 tests/scale: test basic auth with many users
  src/v/kafka/client/client.cc
  src/v/pandaproxy/CMakeLists.txt
  src/v/pandaproxy/fwd.h
  src/v/pandaproxy/kafka_client_cache.cc
  src/v/pandaproxy/kafka_client_cache.h
  src/v/pandaproxy/rest/api.cc
  src/v/pandaproxy/rest/api.h
  src/v/pandaproxy/rest/handlers.cc
  src/v/pandaproxy/rest/proxy.cc
  src/v/pandaproxy/rest/proxy.h
  src/v/pandaproxy/server.h
  src/v/pandaproxy/sharded_client_cache.cc
  src/v/pandaproxy/sharded_client_cache.h
  src/v/pandaproxy/test/CMakeLists.txt
  src/v/pandaproxy/test/kafka_client_cache.cc
  src/v/pandaproxy/test/sharded_client_cache.cc
  src/v/pandaproxy/types.h
  tests/rptest/tests/pandaproxy_test.py
Labels: area/redpanda, area/pandaproxy, area/tests

#7202 rpk/tuner: recursively find modalias in sys/device
  src/go/rpk/pkg/tuners/irq/device_info.go
  src/go/rpk/pkg/tuners/irq/device_info_test.go
Labels: area/rpk

#7181 cloud_storage: fix a hang in shutdown by closing S3 connection pool earlier
  src/v/cloud_storage/remote_segment.cc
  src/v/redpanda/application.cc
Labels: kind/bug, area/redpanda, area/shadow-indexing

#6839 topic_table: add metric for partition count
  src/v/cluster/topic_table_probe.cc
Labels: area/redpanda

#7220 cluster: Fix parsing replication factor ub
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/kafka/server/handlers/alter_configs.cc
  src/v/kafka/server/handlers/incremental_alter_configs.cc
Labels: area/redpanda

#6786 Add configuration option to check for magic file in data dir on startup
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/node_config.h
  src/v/redpanda/application.cc
  tests/rptest/tests/cluster_config_test.py
  tests/rptest/tests/strict_data_init_test.py
Labels: area/redpanda

#7191 cloud_storage: limit the size of the segment deletion backlog
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/archival/tests/service_fixture.h
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
  src/v/cluster/tests/archival_metadata_stm_test.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

#7193 cloud_storage: cache thrashing/pressure mitigations
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/cache_service.h
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
Labels: area/redpanda

#3578 Add an RFC discussing the problem of fragmentation
  docs/rfcs/20201208_fragmentation.md
Labels: kind/enhance, area/docs, area/redpanda, area/rfc

#7211 c/rm_stm: refactored take snapshot to use futures
  src/v/cluster/rm_stm.cc
Labels: area/redpanda

#7082 cloud_storage: limit on hydrated segments per shard
  src/v/cloud_storage/materialized_segments.cc
  src/v/cloud_storage/materialized_segments.h
  src/v/cloud_storage/probe.cc
  src/v/cloud_storage/probe.h
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/segment_state.cc
  src/v/cloud_storage/segment_state.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/utils/adjustable_semaphore.h
  tests/rptest/scale_tests/franz_go_verifiable_test.py
  tests/rptest/services/redpanda.py
Labels: kind/enhance, area/redpanda, area/shadow-indexing

#7210 kafka/client/consumer: Shutdown and fetch improvements
  src/v/kafka/client/client.cc
  src/v/kafka/client/consumer.cc
  tests/rptest/tests/pandaproxy_test.py
Labels: area/redpanda

#7196 archival: Fix read replicas sync loop
  src/v/archival/ntp_archiver_service.cc
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
  src/v/cluster/tests/archival_metadata_stm_test.cc
Labels: area/redpanda

#7226 pp/cache: remove debounce logic
  src/v/pandaproxy/kafka_client_cache.cc
Labels: area/redpanda, area/pandaproxy, area/tests

#7212 net: suppress WARN logs on TLS disconnects
  src/v/cloud_storage/remote.cc
  src/v/net/connection.cc
  src/v/net/connection.h
Labels: kind/bug, area/redpanda

#7204 Node UUID map initialized from cluster discovery
  src/v/cluster/bootstrap_backend.cc
  src/v/cluster/bootstrap_backend.h
  src/v/cluster/bootstrap_service.cc
  src/v/cluster/bootstrap_types.h
  src/v/cluster/cluster_discovery.cc
  src/v/cluster/cluster_discovery.h
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/members_manager.cc
  src/v/cluster/members_manager.h
  src/v/cluster/types.h
Labels: area/redpanda

#7229 rpk: improve handling of incomplete config import
  src/go/k8s/controllers/redpanda/cluster_controller_configuration.go
  src/go/k8s/controllers/redpanda/cluster_controller_configuration_drift.go
  src/go/k8s/controllers/redpanda/cluster_controller_configuration_test.go
  src/go/k8s/controllers/redpanda/suite_test.go
  src/go/k8s/pkg/admin/admin.go
  src/go/rpk/pkg/api/admin/api_config.go
  src/go/rpk/pkg/cli/cmd/cluster/config/edit.go
  src/go/rpk/pkg/cli/cmd/cluster/config/export.go
  src/go/rpk/pkg/cli/cmd/cluster/config/get.go
  src/go/rpk/pkg/cli/cmd/cluster/config/import.go
  src/go/rpk/pkg/cli/cmd/redpanda/admin/config/config.go
  tests/rptest/tests/cluster_config_test.py
Labels: area/rpk, area/k8s

#7141 tests/pp: account for partition movement
  src/v/kafka/client/client.cc
Labels: area/redpanda

#7015 cloud_roles: ensures http client is always closed
  src/v/cloud_roles/request_response_helpers.cc
  src/v/cloud_roles/request_response_helpers.h
  src/v/cloud_roles/tests/fetch_credentials_tests.cc
  src/v/cloud_roles/types.cc
  src/v/cloud_roles/types.h
  src/v/http/client.h
  src/v/test_utils/http_imposter.cc
Labels: kind/bug, area/redpanda, ci-failure, area/shadow-indexing

#7143 tx/compaction: fix LSO computation during bootstrap
  src/v/archival/tests/ntp_archiver_reupload_test.cc
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/archival/tests/service_fixture.cc
  src/v/archival/tests/service_fixture.h
  src/v/archival/tests/service_test.cc
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/rm_stm_tests.cc
  src/v/raft/state_machine.h
  src/v/storage/compaction_reducers.cc
  tests/rptest/clients/rpk.py
  tests/rptest/tests/topic_creation_test.py
Labels: area/redpanda

#7134 archival: Do not upload tx-manifests for compacted segments
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
Labels: area/redpanda

#7125 k8s: Fix console flaky test
  src/go/k8s/controllers/redpanda/console_controller_test.go
  src/go/k8s/controllers/redpanda/suite_test.go
Labels: area/k8s

#7249 cloud_storage: disable ntp archiver unit test on arm
  src/v/archival/tests/CMakeLists.txt
Labels: area/redpanda

#7235 [v22.1.x] tests/pp: account for partition movement
  src/v/kafka/client/client.cc
Labels: area/redpanda, kind/backport

#7237 [v22.2.x] tests/pp: account for partition movement
  src/v/kafka/client/client.cc
Labels: area/redpanda, kind/backport

#7239 [v21.11.x] tests/pp: account for partition movement
  src/v/kafka/client/client.cc
Labels: area/redpanda, kind/backport

#7207 [v22.2.x] prefix_truncate_recovery_test: retry leadership transfers
  tests/rptest/services/admin.py
  tests/rptest/tests/prefix_truncate_recovery_test.py
Labels: kind/backport

#7201 Add v::bytes as a dependency of rprandom
  src/v/random/CMakeLists.txt
Labels: area/redpanda

#7261 [v22.3.x] cloud_storage: disable ntp archiver unit test on arm
  src/v/archival/tests/CMakeLists.txt
Labels: area/redpanda, kind/backport

#7233 tests/services_self_test: enable debug logs for kgo-verifier
  tests/rptest/tests/services_self_test.py
Labels: kind/tech-debt, area/tests

#7264 archival: fix abandoned exceptional future
  src/v/archival/ntp_archiver_service.cc
Labels: area/redpanda

#7260 tests: update kgo-verifier
  tests/docker/Dockerfile
Labels: kind/tech-debt, area/tests

#7168 [v22.2.x] archival_policy: fix off-by-1 error for timeboxed uploads
  src/v/archival/archival_policy.cc
  src/v/archival/tests/ntp_archiver_test.cc
Labels: area/redpanda

#7169 [v22.1.x] archival_policy: fix off-by-1 error for timeboxed uploads
  src/v/archival/archival_policy.cc
  src/v/archival/tests/ntp_archiver_test.cc
Labels: area/redpanda

#7244 config: force an odd value for default_topic_replications
  src/v/config/base_property.h
  src/v/config/bounded_property.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/tests/bounded_property_test.cc
Labels: area/redpanda

#7242 archival: allow scheduler service to stop early in unit tests
  src/v/archival/service.cc
  src/v/archival/service.h
  src/v/archival/tests/ntp_archiver_reupload_test.cc
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/archival/tests/service_fixture.h
  src/v/archival/tests/service_test.cc
  src/v/cloud_roles/request_response_helpers.cc
Labels: area/redpanda

#7277 tests: use realistic segment sizes in ManyClientsTest
  tests/rptest/scale_tests/many_clients_test.py
Labels: kind/tech-debt, area/tests

#7284 s3: ensure lifetimes are extended when recovering from error
  src/v/s3/client.cc
Labels: area/redpanda

#6983 [v22.2.x] storage: upper bound on frequency of snapshots
  src/v/raft/configuration_manager.cc
  src/v/raft/offset_translator.cc
  src/v/storage/disk_log_impl.cc
  src/v/storage/storage_resources.cc
  src/v/storage/storage_resources.h
Labels: area/redpanda, kind/backport

#7267 r/recovery_throttle: fixed raft_recovery group name
  src/v/raft/recovery_throttle.h
Labels: area/redpanda

#7303 [v22.1.x] kafka/client/consumer: Shutdown and fetch improvements
  src/v/kafka/client/client.cc
  src/v/kafka/client/consumer.cc
  tests/rptest/tests/pandaproxy_test.py
Labels: area/redpanda

#7304 [v21.11.x] kafka/client/consumer: Shutdown and fetch improvements
  src/v/kafka/client/client.cc
  src/v/kafka/client/consumer.cc
  tests/rptest/tests/pandaproxy_test.py
Labels: area/redpanda

#7307 [v22.3.x] r/group_manager: Initialise `is_ready` to `false`;
  src/v/raft/group_manager.cc
Labels: area/redpanda, kind/backport

#7312 controller: fix Redpanda 22.3 failing to start when license was loaded with 22.2 Redpanda
  src/v/security/license.h
  tests/rptest/tests/license_upgrade_test.py
Labels: area/redpanda

#6980 [v22.2.x] storage: fix assertion on truncate single batch segment
  src/v/storage/index_state.h
Labels: area/redpanda, kind/backport

#6927 [v22.2.x] rpc/transport: release caller units when timeout occurs
  src/v/rpc/transport.cc
  src/v/rpc/transport.h
Labels: area/redpanda, kind/backport

#7318 [v22.3.x] compat decode fixes
  src/v/cluster/types.h
  src/v/security/license.h
Labels: kind/bug, area/controller, area/redpanda

#7311 operator/config: update kube-rbac-proxy to v0.13.1
  src/go/k8s/config/without-webhook/manager_auth_proxy_patch.yaml
Labels: area/k8s

#7322 [v22.3.x] conf: remove node ID
  conf/redpanda.yaml
  src/go/rpk/pkg/config/params_test.go
Labels: area/rpk

#7258 [v22.2.x] redpanda_installer: retry version check on failure
  tests/rptest/services/redpanda_installer.py
Labels: kind/backport

#7300 security: replace ctre and improve build speed
  cmake/oss.cmake.in
  install-dependencies.sh
  licenses/third_party.md
  src/v/cluster/partition_balancer_types.h
  src/v/security/CMakeLists.txt
  src/v/security/acl.cc
  src/v/security/acl.h
  src/v/security/acl_store.cc
  src/v/security/credential.cc
  src/v/security/license.cc
  src/v/security/logger.h
  src/v/security/scram_algorithm.cc
  src/v/security/scram_credential.cc
Labels: area/build, area/redpanda

#7176 [v22.2.x] Lower log error severity to WARN for errc::shutting_down in k/group
  src/v/kafka/server/group.cc
Labels: area/redpanda, kind/backport

#7241 [v22.2.x] Ducktape: Timeout many_clients_test producers at 5s
  tests/docker/Dockerfile
  tests/rptest/scale_tests/many_clients_test.py
  tests/rptest/services/producer_swarm.py
Labels: kind/backport

#7315 js: Bump ts-loader to 9.4.1
  src/js/package.json
Labels: area/wasm

#7325 [v22.1.x] rpc/transport: release caller units when timeout occurs
  src/v/rpc/transport.cc
  src/v/rpc/transport.h
Labels: area/redpanda, kind/backport

#7327 [v22.1.x] Lower log error severity to WARN for errc::shutting_down in k/group
  src/v/kafka/server/group.cc
Labels: area/redpanda, kind/backport

#7329 [v21.11.x] Lower log error severity to WARN for errc::shutting_down in k/group
  src/v/kafka/server/group.cc
Labels: area/redpanda, kind/backport

#7268 [v22.3.x] tests: update kgo-verifier
  tests/docker/Dockerfile
Labels: kind/backport

#7321 conf: remove node ID
  conf/redpanda.yaml
  src/go/rpk/pkg/config/params_test.go
Labels: area/rpk

#7336 [v22.1.x] tests: retry getting partition assignments
  tests/rptest/tests/partition_movement.py
Labels: kind/backport

#7341 [v22.1.x] rpk/tuner: recursively find modalias in sys/device
  src/go/rpk/pkg/tuners/irq/device_info.go
  src/go/rpk/pkg/tuners/irq/device_info_test.go
Labels: area/rpk, kind/backport

#7344 [v22.2.x] rptest: Remove TRACE & DEBUG logs after each successful run
  tests/rptest/services/cluster.py
  tests/rptest/services/redpanda.py
Labels: kind/backport

#7334 [v22.2.x] tests: retry getting partition assignments
  tests/rptest/tests/partition_movement.py
Labels: kind/backport

#7339 [v22.2.x] rpk/tuner: recursively find modalias in sys/device
  src/go/rpk/pkg/tuners/irq/device_info.go
  src/go/rpk/pkg/tuners/irq/device_info_test.go
Labels: area/rpk, kind/backport

#7332 [v22.3.x] s3: ensure lifetimes are extended when recovering from error
  src/v/s3/client.cc
Labels: area/redpanda, kind/backport

#7331 [v22.3.x] r/recovery_throttle: fixed raft_recovery group name
  src/v/raft/recovery_throttle.h
Labels: area/redpanda, kind/backport

#7306 [v22.3.x] dt/redpanda: Improve write_node_conf_file
  tests/rptest/services/redpanda.py
Labels: kind/backport

#7349 treewide: Small cleanups for llvm-15
  src/v/cloud_storage/tests/common_def.h
  src/v/cluster/tests/partition_allocator_tests.cc
  src/v/http/tests/framing_test.cc
Labels: area/redpanda

#7076 update PR template and CONTRIBUTING.md
  .github/pull_request_template.md
  .github/workflows/scripts/backport-command/create_pr.sh
  CONTRIBUTING.md
Labels: area/build

#7330 schema_registry/test: Support JSON custom attributes on fields
  cmake/oss.cmake.in
  src/v/pandaproxy/schema_registry/test/compatibility_avro.cc
Labels: area/build, area/redpanda

#7302 [v22.2.x] kafka/client/consumer: Shutdown and fetch improvements
  src/v/kafka/client/client.cc
  src/v/kafka/client/consumer.cc
  tests/rptest/tests/pandaproxy_test.py
Labels: area/redpanda

#7352 [v22.3.x] schema_registry/test: Support JSON custom attributes on fields
  cmake/oss.cmake.in
  src/v/pandaproxy/schema_registry/test/compatibility_avro.cc
Labels: area/build, area/redpanda, kind/backport

#7287 tree_wide: add metrics for ops dashboard
  src/v/net/probes.cc
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/probe.cc
  src/v/raft/probe.h
  src/v/redpanda/application.cc
Labels: area/redpanda

#7350 [v22.2.x] increase golangci-lint-action timeout to 5m
  .github/workflows/lint.yml
Labels: area/build, devprod/area/cicd

#7365 [v22.3.x] tree_wide: add metrics for ops dashboard
  src/v/net/probes.cc
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/probe.cc
  src/v/raft/probe.h
  src/v/redpanda/application.cc
Labels: area/redpanda, kind/backport

#7367 Fixed rebalancing when multiple nodes are added at once
  src/v/cluster/controller.h
  src/v/cluster/members_backend.cc
  src/v/cluster/members_backend.h
  src/v/redpanda/admin/api-doc/partition.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  tests/rptest/services/admin.py
  tests/rptest/tests/scaling_up_test.py
Labels: area/redpanda
