Repository redpanda-data/redpanda, pull requests merged in 2022-08, with the labels that each got.

#5744 cmake: install pex==2.1.100 not pex=2.1.00
  cmake/oss.cmake.in
Labels: kind/bug, area/build, community

#5767 [v21.11.x] cmake: install pex==2.1.100 not pex=2.1.00
  cmake/oss.cmake.in
Labels: area/build, kind/backport

#5756 cluster: fix shutdown hang in health_monitor_backend
  src/v/cluster/health_monitor_backend.cc
Labels: kind/bug, area/controller, area/redpanda

#5743 rpc: fix request/response codec mismatch
  src/v/coproc/script_dispatcher.cc
  src/v/coproc/tests/utils/supervisor.cc
  src/v/coproc/types.h
  src/v/rpc/service.h
  src/v/rpc/test/rpc_gen_cycling_test.cc
  src/v/rpc/test/rpc_gen_types.h
Labels: kind/bug, area/redpanda

#5715 rpk: disable tune checkers in rp start unit test
  src/go/rpk/pkg/cli/cmd/redpanda/start_test.go
Labels: kind/enhance, area/rpk, area/build, area/tests

#5759 Fix use-after-free during `consensus` shutdown
  src/v/raft/consensus.cc
Labels: area/redpanda

#5736 ducktape: Fix topic recovery e2e test
  tests/rptest/tests/e2e_topic_recovery_test.py
Labels: kind/bug, ci-failure, area/shadow-indexing

#5769 cloud_storage: use is_elected_leader for leadership query
  src/v/archival/ntp_archiver_service.cc
Labels: area/redpanda

#5719 r/heartbeat_manager: validate received heartbeat response group
  src/v/raft/heartbeat_manager.cc
Labels: kind/bug, area/raft, area/redpanda, area/tests, ci-failure

#5765 cluster: do not log errors on shutdown from persisted_stm
  src/v/cluster/persisted_stm.cc
Labels: kind/bug, area/redpanda

#5729 kafka/client: improve list_offsets response error handling
  src/v/kafka/client/client.cc
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/service.cc
Labels: kind/bug, area/redpanda, area/schema_registry, area/tests, ci-failure

#5738 Change license nag message and other small license related changes
  src/v/cluster/feature_manager.cc
  src/v/cluster/types.cc
  src/v/json/validator.h
  src/v/redpanda/admin/api-doc/features.json
  src/v/redpanda/admin_server.cc
  src/v/security/license.cc
  src/v/security/license.h
Labels: kind/enhance, area/redpanda

#5748 [v21.11.x] consensus: fix expected condition variable exception
  src/v/raft/consensus.cc
Labels: kind/bug, area/redpanda, area/tests, ci-failure, kind/backport

#5746 [v22.1.x] consensus: fix expected condition variable exception
  src/v/raft/consensus.cc
Labels: kind/bug, area/redpanda, area/tests, ci-failure, kind/backport

#5773 [v22.1.x] cluster: fix shutdown hang in health_monitor_backend
  src/v/cluster/health_monitor_backend.cc
Labels: area/redpanda, kind/backport

#5792 [v21.11.x] kafka/client: improve list_offsets response error handling
  src/v/kafka/client/client.cc
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/service.cc
Labels: area/redpanda, kind/backport

#5709 rpk: remove config_file from redpanda.yaml
  src/go/k8s/pkg/resources/configmap_test.go
  src/go/rpk/pkg/cli/cmd/iotune.go
  src/go/rpk/pkg/cli/cmd/redpanda/config_test.go
  src/go/rpk/pkg/cli/cmd/redpanda/mode.go
  src/go/rpk/pkg/cli/cmd/redpanda/start.go
  src/go/rpk/pkg/cli/cmd/redpanda/start_test.go
  src/go/rpk/pkg/cli/cmd/redpanda/stop_test.go
  src/go/rpk/pkg/config/config.go
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/params.go
  src/go/rpk/pkg/config/params_test.go
  src/go/rpk/pkg/config/schema.go
  src/go/rpk/pkg/config/weak.go
  src/go/rpk/pkg/config/weak_test.go
  src/go/rpk/pkg/tuners/check.go
  tests/rptest/tests/rpk_config_test.py
Labels: kind/enhance, area/rpk, area/k8s

#5790 [v22.1.x] kafka/client: improve list_offsets response error handling
  src/v/kafka/client/client.cc
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/service.cc
Labels: area/redpanda, kind/backport

#5704 cloud_storage: use stable iterator for absl::btree
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
Labels: area/redpanda, area/tests, ci-failure, area/shadow-indexing

#5708 tests: shut down redpanda node after decom
  tests/rptest/tests/nodes_decommissioning_test.py
Labels: kind/bug, area/redpanda, area/tests, ci-failure

#5692 Add data serialization compatibility framework
  src/v/CMakeLists.txt
  src/v/cluster/metadata_dissemination_types.h
  src/v/compat/CMakeLists.txt
  src/v/compat/check.h
  src/v/compat/generator.h
  src/v/compat/json.h
  src/v/compat/metadata_dissemination_compat.h
  src/v/compat/metadata_dissemination_generator.h
  src/v/compat/metadata_dissemination_json.h
  src/v/compat/raft_compat.h
  src/v/compat/raft_generator.h
  src/v/compat/raft_json.h
  src/v/compat/run.cc
  src/v/compat/run.h
  src/v/compat/tests/CMakeLists.txt
  src/v/compat/tests/compat_test.cc
  src/v/raft/types.h
  src/v/random/generators.h
  src/v/rp_util/CMakeLists.txt
  src/v/rp_util/main.cc
Labels: kind/enhance, area/redpanda, area/tests, kind/compat

#5783 archival: Handle archival metadata stm sync errors
  src/v/archival/ntp_archiver_service.cc
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

#5778 Partition balancer admin ops fuzz test + small improvements
  src/v/cluster/partition_balancer_backend.cc
  src/v/cluster/partition_balancer_types.h
  src/v/cluster/tests/partition_allocator_fixture.h
  src/v/cluster/tests/rebalancing_tests_fixture.h
  src/v/config/configuration.cc
  src/v/config/convert.h
  src/v/model/metadata.h
  tests/rptest/scale_tests/node_operations_fuzzy_test.py
  tests/rptest/services/admin_ops_fuzzer.py
  tests/rptest/tests/availability_test.py
  tests/rptest/tests/partition_balancer_test.py
  tests/rptest/tests/scaling_up_test.py
Labels: area/redpanda

#5796 Raft rpc compat updates
  src/v/compat/check.h
  src/v/compat/json.h
  src/v/compat/raft_compat.h
  src/v/compat/raft_generator.h
  src/v/compat/run.cc
Labels: area/redpanda

#5779 rpk: set cluster properties on start for sandbox mode
  src/go/rpk/pkg/cli/cmd/redpanda/start.go
  src/go/rpk/pkg/cli/cmd/redpanda/start_test.go
  src/go/rpk/pkg/config/params.go
  src/go/rpk/pkg/config/utils.go
  src/go/rpk/pkg/config/utils_windows.go
Labels: area/rpk

#5804 Log contents of node status cache update
  src/v/cluster/health_monitor_backend.cc
Labels: area/redpanda

#5760 tests: minor quality of life fixes
  tests/rptest/services/failure_injector.py
Labels: kind/tech-debt, area/tests

#5641 Partition movement additional tests
  tests/rptest/clients/default.py
  tests/rptest/clients/python_librdkafka.py
  tests/rptest/scale_tests/ht_partition_movement_test.py
  tests/rptest/scale_tests/node_operations_fuzzy_test.py
  tests/rptest/services/failure_injector.py
  tests/rptest/services/tc_netem.py
  tests/rptest/tests/partition_move_interruption_test.py
  tests/rptest/tests/partition_movement.py
  tests/rptest/tests/partition_movement_upgrade_test.py
Labels: kind/enhance, area/tests

#5808 test: more permissive timeout in PartitionBalancerTest
  tests/rptest/tests/partition_balancer_test.py
Labels: kind/bug, area/tests, ci-failure

#5809 c/controller_backend: do not require accessing topic metadata
  src/v/cluster/controller_backend.cc
Labels: area/redpanda

#5814 config: Support optional arrays
  src/v/config/property.h
  src/v/config/tests/config_store_test.cc
Labels: area/redpanda

#5815 gha/rpk: fix upload of darwin binaries
  .github/workflows/rpk-build.yml
Labels: kind/bug, area/build, team/devprod

#5825 Rob's share of adding serde types to compat framework
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/compat/CMakeLists.txt
  src/v/compat/cluster_compat.h
  src/v/compat/cluster_generator.h
  src/v/compat/cluster_json.h
  src/v/compat/json.h
  src/v/compat/run.cc
  src/v/test_utils/randoms.h
Labels: area/redpanda

#5826 compat: add support for raft data types
  src/v/compat/CMakeLists.txt
  src/v/compat/check.h
  src/v/compat/json.h
  src/v/compat/raft_compat.h
  src/v/compat/raft_generator.h
  src/v/compat/raft_json.h
  src/v/compat/run.cc
  src/v/json/json.h
  src/v/raft/types.cc
  src/v/raft/types.h
Labels: area/redpanda

#5797 Add TX types to compat
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/compat/begin_tx_compat.h
  src/v/compat/begin_tx_generator.h
  src/v/compat/cluster_json.h
  src/v/compat/init_tm_tx_compat.h
  src/v/compat/init_tm_tx_generator.h
  src/v/compat/json.h
  src/v/compat/model_json.h
  src/v/compat/prepare_tx_compat.h
  src/v/compat/prepare_tx_generator.h
  src/v/compat/run.cc
  src/v/compat/try_abort_compat.h
  src/v/compat/try_abort_generator.h
  src/v/model/tests/randoms.h
  src/v/test_utils/randoms.h
Labels: area/redpanda

#5819 cluster: Fix snapshot initialization for topic recovery
  src/v/cluster/partition_manager.cc
  src/v/raft/consensus_utils.cc
Labels: area/redpanda

#5823 rpk: move logdirs command from debug to cluster
  src/go/rpk/pkg/cli/cmd/cluster.go
  src/go/rpk/pkg/cli/cmd/cluster/logdirs.go
  src/go/rpk/pkg/cli/cmd/debug/debug.go
Labels: area/rpk

#5820 rpk: add tls to generated prometheus scrape_config
  src/go/rpk/pkg/cli/cmd/generate/prometheus.go
Labels: area/rpk

#5770 Make redpanda_kafka_replicas report configured replicas
  src/v/cluster/CMakeLists.txt
  src/v/cluster/partition_probe.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/cluster/topic_table_probe.cc
  src/v/cluster/topic_table_probe.h
Labels: area/redpanda

#5838 Return human readable error msg when stopping reconfigurations
  src/v/redpanda/admin_server.cc
Labels: area/redpanda

#5830 [v21.11.x] gha/rpk: fix upload of darwin binaries
  .github/workflows/rpk-build.yml
Labels: area/build, kind/backport

#5829 [v22.1.x] gha/rpk: fix upload of darwin binaries
  .github/workflows/rpk-build.yml
Labels: area/build, kind/backport

#5799 serde/compat: Add some more types to serde-compat testing
  src/v/cluster/metadata_dissemination_types.h
  src/v/cluster/types.h
  src/v/compat/check.h
  src/v/compat/generator.h
  src/v/compat/id_allocator_compat.h
  src/v/compat/id_allocator_generator.h
  src/v/compat/metadata_dissemination_compat.h
  src/v/compat/metadata_dissemination_generator.h
  src/v/compat/metadata_dissemination_json.h
  src/v/compat/run.cc
Labels: area/redpanda

#5832 compat: add support for some tx types
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/compat/abort_tx_compat.h
  src/v/compat/abort_tx_generator.h
  src/v/compat/begin_group_tx_compat.h
  src/v/compat/begin_group_tx_generator.h
  src/v/compat/commit_tx_compat.h
  src/v/compat/commit_tx_generator.h
  src/v/compat/generator.h
  src/v/compat/id_allocator_generator.h
  src/v/compat/prepare_group_tx_compat.h
  src/v/compat/prepare_group_tx_generator.h
  src/v/compat/run.cc
  src/v/compat/tx_gateway_generator.h
Labels: area/redpanda

#5716 Exhaustive Kafka protocol tests
  build.sh
  cmake/oss.cmake.in
  cmake/testing.cmake
  install-dependencies.sh
  src/CMakeLists.txt
  src/go/kreq-gen/CMakeLists.txt
  src/go/kreq-gen/README.md
  src/go/kreq-gen/go.mod
  src/go/kreq-gen/go.sum
  src/go/kreq-gen/kafka-request-generator.go
  src/v/kafka/client/transport.h
  src/v/kafka/protocol/api_versions.h
  src/v/kafka/protocol/legacy_message.h
  src/v/kafka/protocol/request_reader.h
  src/v/kafka/protocol/response_writer.h
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/protocol/tests/CMakeLists.txt
  src/v/kafka/protocol/tests/field_parser_test.cc
  src/v/kafka/protocol/tests/protocol_test.cc
  src/v/kafka/protocol/types.h
  src/v/kafka/server/protocol_utils.cc
  src/v/kafka/server/requests.cc
  src/v/kafka/server/response.h
  src/v/kafka/server/tests/CMakeLists.txt
  src/v/kafka/server/tests/request_parser_test.cc
  src/v/random/generators.h
  tools/kafka-python-api-serde.py
Labels: kind/enhance, area/kafka, area/build, area/redpanda, area/tests

#5856 compat: Add some more types to the framework
  src/v/cluster/partition_balancer_types.h
  src/v/cluster/types.h
  src/v/compat/acls_compat.h
  src/v/compat/acls_generator.h
  src/v/compat/check.h
  src/v/compat/cluster_compat.h
  src/v/compat/cluster_generator.h
  src/v/compat/partition_balancer_compat.h
  src/v/compat/partition_balancer_generator.h
  src/v/compat/run.cc
Labels: area/redpanda

#5839 Partition autobalancer full disk test
  src/v/cluster/controller.cc
  src/v/cluster/node/local_monitor.cc
  src/v/cluster/node/local_monitor.h
  src/v/cluster/partition_balancer_backend.cc
  src/v/cluster/partition_balancer_backend.h
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/partition_balancer_planner.h
  src/v/cluster/partition_balancer_types.h
  src/v/cluster/scheduling/constraints.cc
  src/v/cluster/scheduling/constraints.h
  src/v/cluster/tests/partition_balancer_planner_fixture.h
  src/v/cluster/tests/partition_balancer_planner_test.cc
  tests/rptest/services/franz_go_verifiable_services.py
  tests/rptest/tests/end_to_end.py
  tests/rptest/tests/partition_balancer_test.py
Labels: area/redpanda

#5742 heartbeat_manager: reduce log severity when missing partition
  src/v/raft/heartbeat_manager.cc
Labels: kind/bug, area/redpanda, area/tests, ci-failure

#5855 compat: add support for more types
  src/v/cluster/metadata_dissemination_types.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/compat/cluster_compat.h
  src/v/compat/cluster_generator.h
  src/v/compat/cluster_json.h
  src/v/compat/json.h
  src/v/compat/model_json.h
  src/v/compat/run.cc
  src/v/model/tests/randoms.h
Labels: area/redpanda

#5864 fixed log entry when adding ntp to shard table
  src/v/cluster/controller_backend.cc
Labels: area/redpanda

#5865 [v22.1.x] cmake: correct seastar SHA1 for public build
  cmake/oss.cmake.in
Labels: area/build, kind/tech-debt

#5849 security: Modify license timestamp to be unix epoch
  src/go/rpk/pkg/api/admin/api_features.go
  src/go/rpk/pkg/cli/cmd/cluster/license/info.go
  src/v/redpanda/admin/api-doc/features.json
  src/v/redpanda/admin_server.cc
  src/v/security/license.cc
  src/v/security/license.h
  src/v/security/tests/license_test.cc
  tests/rptest/tests/cluster_features_test.py
  tests/rptest/tests/rpk_cluster_test.py
Labels: area/rpk, area/redpanda

#5722 storage: per-shard limit on memory for spill_key_index
  src/v/bytes/bytes.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/storage/spill_key_index.cc
  src/v/storage/spill_key_index.h
  src/v/storage/storage_resources.cc
  src/v/storage/storage_resources.h
Labels: kind/enhance, area/storage, area/redpanda

#5841 rpk: add a method to deprecate child commands
  src/go/rpk/pkg/cli/cmd/common/common.go
Labels: area/rpk

#5872 rpk group: fix describe
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cmd/group/describe.go
Labels: area/rpk

#5845 metrics: expose seastar runtime metric
  src/v/redpanda/application.cc
Labels: area/redpanda

#5861 config: increase storage min free bytes to 5 GiB
  src/v/config/configuration.cc
Labels: area/redpanda

#5873 compat: Add support for some more types.
  src/v/cluster/partition_balancer_types.h
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/cluster/types.h
  src/v/compat/acls_compat.h
  src/v/compat/acls_generator.h
  src/v/compat/check.h
  src/v/compat/generator.h
  src/v/compat/json.h
  src/v/compat/partition_balancer_compat.h
  src/v/compat/partition_balancer_generator.h
  src/v/compat/run.cc
  src/v/test_utils/randoms.h
Labels: area/redpanda

#5881 compat: support cluster::delete_acls_request
  src/v/cluster/types.h
  src/v/compat/acls_compat.h
  src/v/compat/acls_generator.h
  src/v/compat/id_allocator_compat.h
  src/v/compat/json.h
  src/v/compat/partition_balancer_compat.h
  src/v/compat/raft_compat.h
  src/v/compat/raft_json.h
  src/v/compat/run.cc
  src/v/security/acl.h
  src/v/utils/to_string.h
Labels: area/redpanda

#5432 serde: support std::chrono::duration
  src/v/serde/serde.h
  src/v/serde/test/serde_test.cc
  src/v/test_utils/randoms.h
Labels: kind/enhance, area/redpanda

#5866 tests/services: fix false positive on 'SEGV' lines from aws IDs
  tests/rptest/services/redpanda.py
Labels: kind/tech-debt, area/tests

#5892 cloud_storage: cache minor fixes
  src/v/cloud_storage/access_time_tracker.h
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/cache_service.h
Labels: area/redpanda

#5882 cluster: use serde auto fields
  src/v/cluster/types.h
  src/v/security/license.cc
  src/v/security/license.h
Labels: area/redpanda

#5879 rpc: reset connections on protocol violations
  src/v/rpc/parse_utils.h
  src/v/rpc/transport.h
Labels: area/redpanda

#5869 Log unsupported version with warn level
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/connection_context.h
  src/v/kafka/server/requests.cc
Labels: area/redpanda

#5899 Cache minor fixes backport to v22.1.x
  src/v/cloud_storage/cache_service.h
Labels: area/redpanda

#5870 cloud_storage: Add topic recovery test for empty segments
  src/v/cloud_storage/partition_recovery_manager.cc
  src/v/cluster/partition_manager.cc
  tests/rptest/tests/topic_recovery_test.py
Labels: area/redpanda

#5908 compat: add support for cluster::reconciliation_state_reply
  src/v/cluster/types.h
  src/v/compat/cluster_compat.h
  src/v/compat/cluster_generator.h
  src/v/compat/cluster_json.h
  src/v/compat/run.cc
  src/v/compat/tests/compat_test.cc
Labels: area/redpanda

#5883 Add additional types to compat
  src/v/cluster/health_monitor_types.cc
  src/v/cluster/health_monitor_types.h
  src/v/cluster/tests/randoms.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/compat/abort_group_tx_compat.h
  src/v/compat/abort_group_tx_generator.h
  src/v/compat/cluster_json.h
  src/v/compat/commit_group_tx_compat.h
  src/v/compat/commit_group_tx_generator.h
  src/v/compat/get_cluster_health_compat.h
  src/v/compat/get_cluster_health_generator.h
  src/v/compat/get_node_health_compat.h
  src/v/compat/get_node_health_generator.h
  src/v/compat/json.h
  src/v/compat/run.cc
  src/v/compat/storage_json.h
  src/v/model/tests/randoms.h
  src/v/storage/tests/randoms.h
  src/v/test_utils/randoms.h
Labels: area/redpanda

#5900 cloud_storage: use writebehind of 10 in cache service
  src/v/cloud_storage/cache_service.h
Labels: area/redpanda

#5680 cluster: fix config status write pre-check
  src/v/cluster/config_manager.cc
  src/v/cluster/controller.cc
  src/v/cluster/service.cc
  tests/rptest/tests/cluster_config_test.py
Labels: kind/bug, area/controller

#5903 rpk: storage_min_free_bytes=0 and developer_mode=true in sandbox mode
  src/go/k8s/go.sum
  src/go/kreq-gen/go.mod
  src/go/kreq-gen/go.sum
  src/go/rpk/pkg/cli/cmd/redpanda/start.go
  src/go/rpk/pkg/cli/cmd/redpanda/start_test.go
Labels: kind/enhance, area/rpk

#5917 Removed most of core-related code owners
  .github/CODEOWNERS
Labels: kind/enhance

#5798 rpk: introduce cluster partitions balancer-status
  src/go/rpk/pkg/api/admin/api_cluster.go
  src/go/rpk/pkg/cli/cmd/cluster.go
  src/go/rpk/pkg/cli/cmd/cluster/partitions/partitions.go
  src/go/rpk/pkg/cli/cmd/cluster/partitions/status.go
  src/go/rpk/pkg/cli/cmd/common/common.go
Labels: kind/enhance, area/rpk

#5667 Read replica: validate no writes to s3
  tests/rptest/archival/s3_client.py
  tests/rptest/tests/end_to_end.py
  tests/rptest/tests/read_replica_e2e_test.py
Labels: kind/enhance, area/tests, area/shadow-indexing

#5906 auth: Improvements for endpoint authentication
  src/v/config/node_config.cc
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/connection_context.h
  src/v/kafka/server/handlers/sasl_authenticate.cc
  src/v/kafka/server/handlers/sasl_handshake.cc
  src/v/kafka/server/protocol.cc
  src/v/kafka/server/request_context.h
  src/v/kafka/server/requests.cc
  tests/rptest/services/redpanda.py
  tests/rptest/tests/acls_test.py
Labels: area/redpanda

#5894 Partition balancer: interaction with maintenance mode and node decommission
  src/v/cluster/controller.cc
  src/v/cluster/partition_balancer_backend.cc
  src/v/cluster/partition_balancer_backend.h
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/partition_balancer_planner.h
  src/v/cluster/tests/partition_balancer_planner_fixture.h
  src/v/cluster/tests/partition_balancer_planner_test.cc
  src/v/raft/consensus.h
  tests/rptest/tests/partition_balancer_test.py
Labels: kind/bug, area/redpanda

#5925 rpk cluster partitions movement-cancel
  src/go/rpk/pkg/api/admin/api_broker.go
  src/go/rpk/pkg/api/admin/api_cluster.go
  src/go/rpk/pkg/cli/cmd/cluster/partitions/cancel.go
  src/go/rpk/pkg/cli/cmd/cluster/partitions/partitions.go
  src/go/rpk/pkg/cli/cmd/cluster/partitions/status.go
Labels: area/rpk

#5919 compat: Last round of types for full compat support
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/compat/cluster_compat.h
  src/v/compat/cluster_generator.h
  src/v/compat/cluster_json.h
  src/v/compat/json.h
  src/v/compat/model_compat.h
  src/v/compat/model_generator.h
  src/v/compat/model_json.h
  src/v/compat/run.cc
  src/v/compat/tests/compat_test.cc
  src/v/v8_engine/data_policy.cc
  src/v/v8_engine/data_policy.h
Labels: area/redpanda

#5915 cloud_storage: use larger cache for scale test
  tests/rptest/scale_tests/franz_go_verifiable_test.py
Labels: kind/bug, ci-failure, area/shadow-indexing

#5051 model: Refactor adl<timeout_clock>
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/model/adl_serde.h
  src/v/model/tests/CMakeLists.txt
  src/v/model/tests/timeout_adl.cc
Labels: area/redpanda

#5937 Fixed passing parameters into end to end test
  tests/rptest/tests/end_to_end.py
Labels: kind/bug, area/tests, ci-failure

#5934 cloud_storage: adjust condition to remove archiver
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/archival/service.cc
Labels: kind/bug, area/redpanda, area/archival, area/shadow-indexing

#5684 Minor tweaks to k8s operator testing
  .gitignore
  src/go/k8s/Dockerfile
  src/go/k8s/Dockerfile.dockerignore
  src/go/k8s/Makefile
  src/go/k8s/hack/install-cert-manager.sh
  src/go/k8s/kuttl-helm-test.yaml
  src/go/k8s/kuttl-test.yaml
  src/go/k8s/kuttl-unstable-test.yaml
Labels: kind/enhance, area/k8s, area/tests

#5942 [v22.2.x] cloud_storage: adjust condition to remove archiver
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/archival/service.cc
Labels: area/redpanda, kind/backport

#5916 admin_server: added missing mapping from rpc errors to http status codes
  src/v/redpanda/admin_server.cc
Labels: area/redpanda

#5847 cloud_storage: interrupt downloading segment
  src/v/cloud_storage/offset_translation_layer.cc
  src/v/cloud_storage/offset_translation_layer.h
  src/v/cloud_storage/partition_recovery_manager.cc
  src/v/cloud_storage/partition_recovery_manager.h
  src/v/storage/parser.cc
  src/v/storage/parser.h
Labels: area/redpanda

#5948 Backport of #5922
  src/v/cluster/feature_manager.cc
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
  src/v/cluster/health_monitor_frontend.cc
  src/v/cluster/health_monitor_frontend.h
  src/v/cluster/partition_balancer_backend.cc
  src/v/config/configuration.cc
  tests/rptest/tests/full_disk_test.py
  tests/rptest/tests/metrics_reporter_test.py
  tests/rptest/tests/partition_balancer_test.py
Labels: kind/bug, area/redpanda

#5940 rpk: introduce `rpk redpanda start --mode container`
  src/go/k8s/pkg/resources/configmap_test.go
  src/go/rpk/pkg/cli/cmd/container/common/common.go
  src/go/rpk/pkg/cli/cmd/redpanda/config_test.go
  src/go/rpk/pkg/cli/cmd/redpanda/start.go
  src/go/rpk/pkg/cli/cmd/redpanda/start_test.go
  src/go/rpk/pkg/config/config.go
  src/go/rpk/pkg/config/config_test.go
  tests/rptest/tests/rpk_config_test.py
Labels: kind/enhance, area/rpk, area/k8s

#5840 archival: tweak description of connection limit
  src/v/config/configuration.cc
Labels: area/redpanda

#5971 [v22.2.x] archival: tweak description of connection limit
  src/v/config/configuration.cc
Labels: area/redpanda, kind/backport

#5962 [v22.2.x] storage: add metrics clear to reader cache probe
  src/v/storage/readers_cache.cc
  src/v/storage/readers_cache_probe.h
Labels: area/redpanda, kind/backport

#5955 [v21.11.x] cloud_storage: interrupt downloading segment
  src/v/cloud_storage/offset_translation_layer.cc
  src/v/cloud_storage/offset_translation_layer.h
  src/v/cloud_storage/partition_recovery_manager.cc
  src/v/cloud_storage/partition_recovery_manager.h
  src/v/storage/parser.cc
  src/v/storage/parser.h
Labels: area/redpanda

#5957 [v22.1.x] cloud_storage: interrupt downloading segment
  src/v/cloud_storage/offset_translation_layer.cc
  src/v/cloud_storage/offset_translation_layer.h
  src/v/cloud_storage/partition_recovery_manager.cc
  src/v/cloud_storage/partition_recovery_manager.h
  src/v/storage/parser.cc
  src/v/storage/parser.h
Labels: area/redpanda

#5947 [v22.2.x] Minor tweaks to k8s operator testing
  .gitignore
  src/go/k8s/Dockerfile
  src/go/k8s/Dockerfile.dockerignore
  src/go/k8s/Makefile
  src/go/k8s/hack/install-cert-manager.sh
  src/go/k8s/kuttl-helm-test.yaml
  src/go/k8s/kuttl-test.yaml
  src/go/k8s/kuttl-unstable-test.yaml
Labels: area/k8s, kind/backport

#5965 cmake: bump seastar tag
  cmake/oss.cmake.in
Labels: area/build

#5893 Publish runtime metric in seconds
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/resource_mgmt/cpu_scheduling.h
  src/v/resource_mgmt/scheduling_groups_probe.h
  src/v/ssx/metrics.h
Labels: area/redpanda

#5975 [v22.2.x] cmake: bump seastar tag
  cmake/oss.cmake.in
Labels: area/build, kind/backport

#5973 Fix for kafka request fuzzer never testing non-filled optional values
  src/go/kreq-gen/go.mod
  src/go/kreq-gen/go.sum
  src/go/kreq-gen/kafka-request-generator.go
  src/v/kafka/protocol/tests/protocol_test.cc
Labels: area/redpanda

#5921 archival: catch sem timeout in upload/sync loops
  src/v/archival/ntp_archiver_service.cc
Labels: area/redpanda

#5816 tests: update ManyPartitionsTest
  src/v/cluster/scheduling/leader_balancer.cc
  tests/docker/Dockerfile
  tests/rptest/clients/rpk.py
  tests/rptest/scale_tests/many_partitions_test.py
  tests/rptest/services/cluster.py
  tests/rptest/services/franz_go_verifiable_services.py
  tests/rptest/services/kgo_repeater_service.py
  tests/rptest/services/openmessaging_benchmark.py
  tests/rptest/services/redpanda.py
  tests/rptest/services/templates/omb_workload.yaml
  tests/rptest/services/utils.py
  tests/rptest/tests/prealloc_nodes.py
Labels: area/redpanda

#5978 [v22.2.x] archival: catch sem timeout in upload/sync loops
  src/v/archival/ntp_archiver_service.cc
Labels: area/redpanda, kind/backport

#5984 redpanda: fix whitespace
  src/v/redpanda/application.cc
  src/v/resource_mgmt/scheduling_groups_probe.h
Labels: area/redpanda

#5969 [v22.2.x] rpk: introduce `rpk redpanda start --mode container`
  src/go/k8s/pkg/resources/configmap_test.go
  src/go/rpk/pkg/cli/cmd/container/common/common.go
  src/go/rpk/pkg/cli/cmd/redpanda/config_test.go
  src/go/rpk/pkg/cli/cmd/redpanda/start.go
  src/go/rpk/pkg/cli/cmd/redpanda/start_test.go
  src/go/rpk/pkg/config/config.go
  src/go/rpk/pkg/config/config_test.go
  tests/rptest/tests/rpk_config_test.py
Labels: area/rpk, area/k8s, kind/backport

#5946 [v22.2.x] admin_server: added missing mapping from rpc errors to http status codes
  src/v/redpanda/admin_server.cc
Labels: kind/enhance, area/redpanda, kind/backport

#5944 gha: upgrade helm chart releaser to v1.4.0
  .github/workflows/helm-chart-release.yml
Labels: area/build, team/devprod

#5976 [v22.2.x] Publish runtime metric in seconds
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/resource_mgmt/cpu_scheduling.h
  src/v/resource_mgmt/scheduling_groups_probe.h
  src/v/ssx/metrics.h
Labels: area/redpanda, kind/backport

#5964 [v22.2.x] tests/rptest: disable iam role tests for ec2
  tests/rptest/test_suite_ec2.yml
Labels: kind/backport

#5995 cluster: Lower log level for health stats collection
  src/v/cluster/health_monitor_backend.cc
Labels: area/redpanda

#6000 [v22.2.x] cluster: Lower log level for health stats collection
  src/v/cluster/health_monitor_backend.cc
Labels: area/redpanda, kind/backport

#5997 rpk: use redpanda.yaml instead of bootstrap file
  src/go/rpk/pkg/cli/cmd/container/common/common.go
  src/go/rpk/pkg/cli/cmd/redpanda/start.go
  src/go/rpk/pkg/cli/cmd/redpanda/start_test.go
Labels: area/rpk

#6004 [v22.2.x] rpk: use redpanda.yaml instead of bootstrap file
  src/go/rpk/pkg/cli/cmd/container/common/common.go
  src/go/rpk/pkg/cli/cmd/redpanda/start.go
  src/go/rpk/pkg/cli/cmd/redpanda/start_test.go
Labels: area/rpk, kind/backport

#5983 cluster: fix spinning in feature manager
  src/v/cluster/feature_manager.cc
Labels: kind/bug, area/controller, area/redpanda

#5993 tests: improve AdminOperationsFuzzer.wait
  tests/rptest/services/admin_ops_fuzzer.py
Labels: kind/bug, area/redpanda, area/tests, ci-failure

#6007 More robust waiting for the quiescent state in partition balancer tests
  src/v/redpanda/admin_server.cc
  tests/rptest/tests/partition_balancer_test.py
Labels: kind/enhance, area/redpanda, area/tests

#6001 cloud_storage: Fix transactions e2e test
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/tx_range_manifest.cc
  tests/rptest/tests/e2e_topic_recovery_test.py
  tests/rptest/utils/si_utils.py
Labels: kind/bug, area/redpanda, ci-failure, area/shadow-indexing

#6021 rpc: retain correlation idx across transport resets
  src/v/rpc/transport.cc
Labels: kind/bug, area/redpanda

#5999 kafka/server: Log details on unexpected EOF fail
  src/v/kafka/server/protocol_utils.cc
Labels: area/redpanda

#6032 [v22.2.x] More robust waiting for the quiescent state in partition balancer tests
  src/v/redpanda/admin_server.cc
  tests/rptest/tests/partition_balancer_test.py
Labels: area/redpanda, kind/backport

#6006 cluster: Use bucket passed via `redpanda.remote.readreplica` in read-replica mode
  src/v/archival/ntp_archiver_service.cc
  src/v/cluster/controller_backend.cc
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/cluster/types.h
  src/v/compat/cluster_generator.h
  src/v/model/fundamental.h
  src/v/s3/client.h
  tests/rptest/tests/read_replica_e2e_test.py
Labels: kind/enhance, area/redpanda, area/shadow-indexing

#6035 [v22.2.x] rpc: retain correlation idx across transport resets
  src/v/rpc/transport.cc
Labels: kind/bug, area/redpanda, kind/backport

#6040 [v22.2.x] cluster: Use bucket passed via `redpanda.remote.readreplica` in read-replica mode
  src/v/archival/ntp_archiver_service.cc
  src/v/cluster/controller_backend.cc
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/cluster/types.h
  src/v/compat/cluster_generator.h
  src/v/model/fundamental.h
  src/v/s3/client.h
  tests/rptest/tests/read_replica_e2e_test.py
Labels: kind/enhance, area/redpanda, area/shadow-indexing, kind/backport

#6038 logging/observability: Additional log on shutdown.
  src/v/cluster/metadata_dissemination_service.cc
  src/v/redpanda/application.cc
Labels: area/redpanda

#6045 [v22.2.x] logging/observability: Additional log on shutdown.
  src/v/cluster/metadata_dissemination_service.cc
  src/v/redpanda/application.cc
Labels: area/redpanda, kind/backport

#5750 config: correct value of expected retention
  src/v/kafka/server/tests/alter_config_test.cc
Labels: area/redpanda

#5545 build: link against Boost::iostreams explicitly
  src/CMakeLists.txt
  src/v/pandaproxy/schema_registry/CMakeLists.txt
Labels: kind/enhance, area/redpanda, area/shadow-indexing, community

#5835 admin: read-after-write consistency for config status on leader node
  src/v/cluster/config_manager.cc
  src/v/cluster/config_manager.h
  src/v/redpanda/admin_server.cc
  tests/rptest/services/admin.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/cluster_config_test.py
Labels: kind/enhance, area/redpanda

#6048 tests: various bugfixes
  src/go/rpk/pkg/api/admin/admin.go
  tests/rptest/clients/rpk.py
  tests/rptest/services/admin.py
  tests/rptest/services/kafka_cli_consumer.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/cluster_config_test.py
Labels: area/rpk

#5774 tests: Fix rare failure in test_recreated_topic_metadata_are_valid
  tests/rptest/tests/recreate_topic_metadata_test.py
Labels: kind/bug, area/tests

#6042 cluster: Remove remote_partition_properties
  src/v/cluster/controller_backend.cc
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/cluster/types.h
  src/v/compat/cluster_generator.h
Labels: kind/enhance, area/redpanda

#5987 rpk command space organization
  src/go/rpk/pkg/cli/cmd/acl/acl.go
  src/go/rpk/pkg/cli/cmd/acl/create.go
  src/go/rpk/pkg/cli/cmd/acl/delete.go
  src/go/rpk/pkg/cli/cmd/acl/list.go
  src/go/rpk/pkg/cli/cmd/acl/user.go
  src/go/rpk/pkg/cli/cmd/cluster/cluster.go
  src/go/rpk/pkg/cli/cmd/cluster/health.go
  src/go/rpk/pkg/cli/cmd/cluster/logdirs.go
  src/go/rpk/pkg/cli/cmd/cluster/metadata.go
  src/go/rpk/pkg/cli/cmd/container/container.go
  src/go/rpk/pkg/cli/cmd/container/purge.go
  src/go/rpk/pkg/cli/cmd/container/start.go
  src/go/rpk/pkg/cli/cmd/container/stop.go
  src/go/rpk/pkg/cli/cmd/deprecated_check.go
  src/go/rpk/pkg/cli/cmd/deprecated_config.go
  src/go/rpk/pkg/cli/cmd/deprecated_mode.go
  src/go/rpk/pkg/cli/cmd/deprecated_start.go
  src/go/rpk/pkg/cli/cmd/deprecated_status.go
  src/go/rpk/pkg/cli/cmd/deprecated_stop.go
  src/go/rpk/pkg/cli/cmd/deprecated_tune.go
  src/go/rpk/pkg/cli/cmd/generate.go
  src/go/rpk/pkg/cli/cmd/generate/autocomplete.go
  src/go/rpk/pkg/cli/cmd/generate/generate.go
  src/go/rpk/pkg/cli/cmd/generate/grafana.go
  src/go/rpk/pkg/cli/cmd/generate/grafana_test.go
  src/go/rpk/pkg/cli/cmd/generate/prometheus.go
  src/go/rpk/pkg/cli/cmd/iotune/iotune.go
  src/go/rpk/pkg/cli/cmd/redpanda/redpanda.go
  src/go/rpk/pkg/cli/cmd/redpanda/redpanda_darwin.go
  src/go/rpk/pkg/cli/cmd/redpanda/start.go
  src/go/rpk/pkg/cli/cmd/root.go
  src/go/rpk/pkg/cli/cmd/root_darwin.go
  src/go/rpk/pkg/cli/cmd/root_linux.go
  src/go/rpk/pkg/cli/cmd/topic/add_partitions.go
  src/go/rpk/pkg/cli/cmd/topic/config.go
  src/go/rpk/pkg/cli/cmd/topic/consume.go
  src/go/rpk/pkg/cli/cmd/topic/create.go
  src/go/rpk/pkg/cli/cmd/topic/delete.go
  src/go/rpk/pkg/cli/cmd/topic/describe.go
  src/go/rpk/pkg/cli/cmd/topic/list.go
  src/go/rpk/pkg/cli/cmd/topic/produce.go
  src/go/rpk/pkg/cli/cmd/topic/topic.go
  src/go/rpk/pkg/cli/cmd/version/version.go
  src/go/rpk/pkg/cli/cmd/wasm/deploy.go
  src/go/rpk/pkg/cli/cmd/wasm/generate.go
  src/go/rpk/pkg/cli/cmd/wasm/remove.go
  src/go/rpk/pkg/cli/cmd/wasm/wasm.go
  src/go/rpk/pkg/cli/flags.go
  src/go/rpk/pkg/utils/collect.go
Labels: area/rpk

#5935 refactor: Global `recieve` -> `receive` replacements
  src/v/cluster/rm_stm.cc
  src/v/kafka/client/transport.h
  tests/rptest/tests/wasm_partition_movement_test.py
  tests/rptest/tests/wasm_redpanda_failure_recovery_test.py
  tests/rptest/wasm/wasm_test.py
Labels: area/redpanda

#6052 [v22.2.x] cluster: Remove remote_partition_properties
  src/v/cluster/controller_backend.cc
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/cluster/types.h
  src/v/compat/cluster_generator.h
Labels: area/redpanda, kind/backport

#6046 security: add missing dependency to fix linking.
  src/v/security/CMakeLists.txt
Labels: area/redpanda

#6055 [v22.2.x] gha: upgrade helm chart releaser to v1.4.0
  .github/workflows/helm-chart-release.yml
Labels: area/build, kind/backport

#6057 [v22.1.x] gha: upgrade helm chart releaser to v1.4.0
  .github/workflows/helm-chart-release.yml
Labels: area/build, kind/backport

#6056 [v21.11.x] gha: upgrade helm chart releaser to v1.4.0
  .github/workflows/helm-chart-release.yml
Labels: area/build, kind/backport

#5991 Fixed truncation for compacted topics
  src/v/raft/consensus.cc
  src/v/storage/disk_log_impl.cc
  src/v/storage/offset_to_filepos_consumer.h
  src/v/storage/segment.cc
  src/v/storage/segment.h
  src/v/storage/segment_utils.cc
  src/v/storage/segment_utils.h
  src/v/storage/tests/storage_e2e_test.cc
Labels: kind/enhance, area/raft, area/redpanda

#6015 [v22.1.x] cloud_storage/tests: wait for partition metadata during topic recovery tests
  tests/rptest/clients/rpk.py
  tests/rptest/tests/topic_recovery_test.py
Labels: kind/backport

#6013 [v22.2.x] cloud_storage/tests: wait for partition metadata during topic recovery tests
  tests/rptest/clients/rpk.py
  tests/rptest/tests/topic_recovery_test.py
Labels: kind/backport

#6062 [v22.2.x] rptest: Improve read replica test
  tests/rptest/services/redpanda.py
  tests/rptest/tests/read_replica_e2e_test.py
Labels: kind/backport

#6044 [v22.2.x] tests: update ManyPartitionsTest
  src/v/cluster/scheduling/leader_balancer.cc
  tests/docker/Dockerfile
  tests/rptest/clients/rpk.py
  tests/rptest/scale_tests/many_partitions_test.py
  tests/rptest/services/cluster.py
  tests/rptest/services/franz_go_verifiable_services.py
  tests/rptest/services/kgo_repeater_service.py
  tests/rptest/services/openmessaging_benchmark.py
  tests/rptest/services/redpanda.py
  tests/rptest/services/templates/omb_workload.yaml
  tests/rptest/services/utils.py
  tests/rptest/tests/prealloc_nodes.py
Labels: area/redpanda, kind/backport

#6049 [v22.2.x] admin: read-after-write consistency for config status on leader node
  src/v/cluster/config_manager.cc
  src/v/cluster/config_manager.h
  src/v/redpanda/admin_server.cc
  tests/rptest/services/admin.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/cluster_config_test.py
Labels: area/redpanda, kind/backport

#6029 [v22.2.x] tests: improve AdminOperationsFuzzer.wait
  tests/rptest/services/admin_ops_fuzzer.py
Labels: kind/backport

#6028 [v22.2.x] cluster: fix spinning in feature manager
  src/v/cluster/feature_manager.cc
Labels: area/redpanda, kind/backport

#6066 [v22.2.x] tests: various bugfixes
  src/go/rpk/pkg/api/admin/admin.go
  tests/rptest/clients/rpk.py
  tests/rptest/services/admin.py
  tests/rptest/services/kafka_cli_consumer.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/cluster_config_test.py
Labels: area/rpk, kind/backport

#6067 http/client: overrides fmt formatter for request to hide sensitive info
  src/v/cloud_roles/signature.cc
  src/v/http/client.cc
  src/v/http/client.h
  src/v/http/tests/http_client_test.cc
  src/v/s3/client.cc
Labels: area/redpanda

#5966 rpc: Add unit tests for rpc evolution
  src/v/rpc/test/CMakeLists.txt
  src/v/rpc/test/echo_v2_service.json
  src/v/rpc/test/rpc_gen_cycling_test.cc
  src/v/rpc/test/rpc_gen_types.h
Labels: area/redpanda

#6082 Fix circular dependencies
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/kafka/CMakeLists.txt
  src/v/kafka/client/transport.h
  src/v/kafka/protocol/CMakeLists.txt
  src/v/kafka/protocol/flex_versions.cc
  src/v/kafka/protocol/flex_versions.h
  src/v/kafka/protocol/logger.cc
  src/v/kafka/protocol/offset_fetch.h
  src/v/kafka/protocol/request_reader.h
  src/v/kafka/server/flex_versions.cc
  src/v/kafka/server/handlers/offset_fetch.cc
  src/v/kafka/server/protocol_utils.cc
  src/v/kafka/server/protocol_utils.h
  src/v/kafka/server/requests.cc
  src/v/kafka/types.h
  src/v/redpanda/admin_server.cc
  src/v/redpanda/cluster_config_schema_util.cc
  src/v/redpanda/cluster_config_schema_util.h
Labels: area/redpanda

#6051 operator: add a flag to disable clearing of seeds servers in configur…
  src/go/k8s/cmd/configurator/main.go
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/pkg/resources/statefulset_test.go
  src/go/k8s/tests/e2e/additional-configuration/02-update-config.yaml
Labels: area/k8s
