Repository redpanda-data/redpanda, pull requests merged in 2022-05, with the labels that each got.

#4510 [v22.1.x] Fetch long poll fix
  tests/rptest/services/kafka_cli_consumer.py
  tests/rptest/tests/fetch_long_poll_test.py
Labels: kind/backport

#4512 rpk: improve configuration update message
  src/go/rpk/pkg/cli/cmd/cluster/config/import.go
  src/go/rpk/pkg/cli/cmd/cluster/config/set.go
  tests/rptest/tests/cluster_config_test.py
Labels: area/rpk

#4507 Fix raft linearizable barrier
  src/v/raft/consensus.cc
  src/v/raft/tests/append_entries_test.cc
  src/v/raft/types.h
  tests/rptest/tests/many_partitions_test.py
Labels: area/redpanda

#4515 [v22.1.x] rpk: improve configuration update message
  src/go/rpk/pkg/cli/cmd/cluster/config/import.go
  src/go/rpk/pkg/cli/cmd/cluster/config/set.go
  tests/rptest/tests/cluster_config_test.py
Labels: area/rpk, kind/backport

#4295 Added `rpk cluster health` command
  src/go/rpk/pkg/api/admin/api_cluster.go
  src/go/rpk/pkg/cli/cmd/cluster.go
  src/go/rpk/pkg/cli/cmd/cluster/health.go
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
  src/v/cluster/health_monitor_frontend.cc
  src/v/cluster/health_monitor_frontend.h
  src/v/cluster/health_monitor_types.h
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/admin/api-doc/cluster.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  tests/rptest/services/admin.py
  tests/rptest/tests/cluster_health_overview_test.py
Labels: area/rpk, area/redpanda

#4383 operator: add debug info to kuttl tests and fix
  src/go/k8s/controllers/redpanda/cluster_controller_configuration.go
  src/go/k8s/controllers/redpanda/suite_test.go
  src/go/k8s/pkg/admin/admin.go
  src/go/k8s/pkg/admin/utils.go
  src/go/k8s/tests/e2e/additional-configuration/04-cleanup.yaml
  src/go/k8s/tests/e2e/centralized-configuration-bootstrap/00-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-bootstrap/01-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-bootstrap/02-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-drift/00-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-drift/01-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-drift/02-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-drift/03-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-tls/00-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-tls/01-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-tls/02-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-tls/03-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-tls/04-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-tls/05-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-upgrade/00-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-upgrade/01-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-upgrade/02-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-upgrade/03-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration/00-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration/01-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration/02-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration/03-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration/04-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration/05-assert.yaml
  src/go/k8s/tests/e2e/update-conf-image/00-assert.yaml
  src/go/k8s/tests/e2e/update-conf-image/01-assert.yaml
  src/go/k8s/tests/e2e/update-conf-image/02-assert.yaml
  src/go/k8s/tests/e2e/update-conf-image/03-assert.yaml
  src/go/rpk/pkg/api/admin/api_features.go
Labels: area/rpk, area/k8s

#4501 kafka: mTLS principal mapping
  src/v/cluster/feature_table.cc
  src/v/cluster/feature_table.h
  src/v/config/CMakeLists.txt
  src/v/config/rjson_serialization.cc
  src/v/config/tls_config.h
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/connection_context.h
  src/v/kafka/server/protocol.cc
  src/v/kafka/server/tests/request_parser_test.cc
  src/v/net/connection.cc
  src/v/net/connection.h
  src/v/net/server.cc
  src/v/net/server.h
  src/v/redpanda/application.cc
  src/v/redpanda/tests/fixture.h
  src/v/rpc/test/rpc_gen_cycling_test.cc
  src/v/security/CMakeLists.txt
  src/v/security/exceptions.h
  src/v/security/mtls.cc
  src/v/security/mtls.h
  src/v/security/tests/CMakeLists.txt
  src/v/security/tests/mtls_test.cc
  tests/rptest/services/redpanda.py
  tests/rptest/services/tls.py
  tests/rptest/tests/acls_test.py
Labels: area/redpanda

#4474 kafka/server: run activate_feature in background
  src/v/kafka/server/group_metadata_migration.cc
  src/v/kafka/server/group_metadata_migration.h
  src/v/platform/stop_signal.h
Labels: area/redpanda

#4528 [v22.1.x] backport #4295
  src/go/rpk/pkg/api/admin/api_cluster.go
  src/go/rpk/pkg/cli/cmd/cluster.go
  src/go/rpk/pkg/cli/cmd/cluster/health.go
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
  src/v/cluster/health_monitor_frontend.cc
  src/v/cluster/health_monitor_frontend.h
  src/v/cluster/health_monitor_types.h
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/admin/api-doc/cluster.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  tests/docker/docker-compose.yml
  tests/docker/ducktape_cluster.json.j2
  tests/rptest/services/admin.py
  tests/rptest/tests/cluster_health_overview_test.py
Labels: area/rpk, area/redpanda

#4555 Fix linearizable barrier
  src/v/raft/consensus.cc
  src/v/raft/tests/append_entries_test.cc
Labels: area/redpanda

#4517 [v22.1.x] Fix raft linearizable barrier
  src/v/raft/consensus.cc
  src/v/raft/types.h
  tests/rptest/tests/many_partitions_test.py
Labels: area/redpanda, kind/backport

#4561 r/recovery_stm: changed recovery stm append entries failure logging sev
  src/v/raft/recovery_stm.cc
Labels: area/redpanda

#4564 [v22.1.x] kafka/server: run activate_feature in background
  src/v/kafka/server/group_metadata_migration.cc
  src/v/kafka/server/group_metadata_migration.h
  src/v/platform/stop_signal.h
  tests/rptest/tests/consumer_offsets_migration_test.py
Labels: area/redpanda, kind/backport

#4567 [v22.1.x] backport #4201
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/persisted_stm.cc
  src/v/cluster/rm_stm.cc
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/materialized_partition.h
  src/v/kafka/server/partition_proxy.h
  src/v/kafka/server/replicated_partition.cc
  src/v/kafka/server/replicated_partition.h
  src/v/model/fundamental.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/consensus_utils.cc
  src/v/raft/consensus_utils.h
  src/v/raft/offset_translator.cc
  src/v/raft/recovery_stm.cc
  src/v/raft/tests/consensus_utils_test.cc
  src/v/raft/tests/offset_translator_tests.cc
  src/v/storage/offset_translator_state.cc
  tests/rptest/tests/multi_restarts_with_archival_test.py
  tests/rptest/tests/offset_for_leader_epoch_test.py
Labels: area/redpanda

#4572 [v22.1.x] test: create directory for certs before copying
  tests/rptest/services/redpanda.py
Labels: kind/backport

#4565 rpk: generate pool of available ports for container start command
  src/go/rpk/pkg/cli/cmd/container/start.go
  src/go/rpk/pkg/cli/cmd/container/start_test.go
  src/go/rpk/pkg/net/interfaces.go
Labels: area/rpk

#4475 [v22.1.x] config: adjust visibility of enable_rack_awareness
  src/v/config/configuration.cc
Labels: area/redpanda, kind/backport

#4570 rpk patches before v22.1.1
  src/go/k8s/go.mod
  src/go/k8s/go.sum
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cmd/acl.go
  src/go/rpk/pkg/cli/cmd/cluster/health.go
  src/go/rpk/pkg/cli/cmd/topic/consume.go
  src/go/rpk/pkg/cli/cmd/topic/describe.go
  src/go/rpk/pkg/cli/cmd/topic/produce.go
Labels: area/rpk, area/k8s

#4551 [v22.1.x] Post announcements to internal Slack channels on releases
  .github/workflows/slack-messages.yml
Labels: area/build, kind/backport

#4583 rpk topic consume patch
  src/go/k8s/go.mod
  src/go/k8s/go.sum
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cmd/topic/produce.go
Labels: area/rpk, area/k8s

#4580 rpk: fix wasm generate file search logic and improve err messages
  src/go/rpk/pkg/cli/cmd/wasm/generate.go
Labels: area/rpk

#4588 [v22.1.x] kafka: fix undefined behavior in consumer group topic migration
  src/v/kafka/server/group_metadata_migration.cc
Labels: area/redpanda, kind/backport

#4576 [v22.1.x] rpk patches before v22.1.1
  src/go/k8s/go.mod
  src/go/k8s/go.sum
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cmd/acl.go
  src/go/rpk/pkg/cli/cmd/cluster/health.go
  src/go/rpk/pkg/cli/cmd/topic/consume.go
  src/go/rpk/pkg/cli/cmd/topic/describe.go
  src/go/rpk/pkg/cli/cmd/topic/produce.go
Labels: area/rpk, area/k8s, kind/backport

#4498 [v21.11.x] backport Use correct fn to move offset translator state
  src/v/cluster/controller_backend.cc
Labels: area/redpanda

#4586 rpk: fix data race in container purge and stop
  src/go/rpk/pkg/cli/cmd/container/purge.go
  src/go/rpk/pkg/cli/cmd/container/stop.go
Labels: area/rpk

#4484 ducky/FranzGoTest: add a matrix of config options
  tests/rptest/tests/franz_go_verifiable_test.py
Labels: area/tests, area/shadow-indexing

#4603 rpk/config: Add ServerTLS:Other
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/schema.go
  src/v/config/tls_config.h
Labels: area/rpk, area/redpanda

#4562 tests: scale mm2 consumer groups tests for CDT
  tests/rptest/clients/rpk.py
  tests/rptest/tests/mirror_maker_test.py
Labels: area/tests

#4557 Temporarily disable coproc on ci
  src/v/coproc/tests/CMakeLists.txt
  src/v/coproc/tests/pacemaker_unstable_tests.cc
  tests/rptest/services/redpanda.py
  tests/rptest/test_suite_quick.yml
  tests/rptest/tests/wasm_topics_test.py
Labels: area/redpanda

#4584 Fix for kafka/protocol unit tests not running
  src/v/kafka/protocol/tests/CMakeLists.txt
Labels: area/redpanda

#4614 [v22.1.x] rpk/config: Add ServerTLS:Other
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/schema.go
  src/v/config/tls_config.h
Labels: area/rpk, area/redpanda, kind/backport

#4443 Optimized partition metadata lookup
  src/v/cluster/controller_api.cc
  src/v/cluster/health_manager.cc
  src/v/cluster/members_backend.cc
  src/v/cluster/metadata_cache.cc
  src/v/cluster/metadata_cache.h
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/cluster/service.cc
  src/v/cluster/tests/autocreate_test.cc
  src/v/cluster/tests/create_partitions_test.cc
  src/v/cluster/tests/metadata_dissemination_test.cc
  src/v/cluster/tests/partition_moving_test.cc
  src/v/cluster/tests/rebalancing_tests_fixture.h
  src/v/cluster/tests/replicas_rebalancing_tests.cc
  src/v/cluster/tests/topic_table_test.cc
  src/v/cluster/tests/topic_updates_dispatcher_test.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/cluster/topic_updates_dispatcher.cc
  src/v/cluster/topic_updates_dispatcher.h
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/coproc/reconciliation_backend.cc
  src/v/kafka/server/coordinator_ntp_mapper.h
  src/v/kafka/server/group_metadata_migration.cc
  src/v/kafka/server/handlers/create_partitions.cc
  src/v/kafka/server/handlers/metadata.cc
  src/v/kafka/server/handlers/offset_commit.cc
  src/v/kafka/server/handlers/topics/topic_utils.cc
  src/v/kafka/server/handlers/txn_offset_commit.cc
  src/v/redpanda/tests/fixture.h
Labels: area/redpanda

#4617 rpk: change host flag help text for admin config print
  src/go/rpk/pkg/cli/cmd/redpanda/admin/config/config.go
Labels: area/rpk

#4615 [v21.11.x] Post announcements to internal Slack channels on releases
  .github/workflows/slack-messages.yml
Labels: area/build, kind/backport

#4592 rpk: change exit status for topic command failures
  src/go/rpk/pkg/cli/cmd/topic/add_partitions.go
  src/go/rpk/pkg/cli/cmd/topic/create.go
Labels: area/rpk

#4640 [V21.11.x] Backport of #3261, #3219
  src/v/cluster/config_manager.cc
  src/v/config/base_property.h
  src/v/config/configuration.cc
  src/v/config/property.h
  src/v/kafka/client/configuration.cc
  src/v/redpanda/admin/api-doc/cluster_config.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/application.cc
  tests/rptest/tests/cluster_config_test.py
Labels: area/redpanda

#4625 tests: handle Request errors in Admin.cluster_maintenance status
  tests/rptest/clients/rpk.py
Labels: kind/bug, area/tests

#4540 Refactor TLS certificates handling in k8s operator
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/controllers/redpanda/cluster_controller_configuration.go
  src/go/k8s/controllers/redpanda/cluster_controller_configuration_drift.go
  src/go/k8s/controllers/redpanda/suite_test.go
  src/go/k8s/pkg/admin/admin.go
  src/go/k8s/pkg/admin/tls.go
  src/go/k8s/pkg/resources/certmanager/admin_api.go
  src/go/k8s/pkg/resources/certmanager/kafka_api.go
  src/go/k8s/pkg/resources/certmanager/pandaproxy_api.go
  src/go/k8s/pkg/resources/certmanager/pki.go
  src/go/k8s/pkg/resources/certmanager/pki_test.go
  src/go/k8s/pkg/resources/certmanager/schemaregistry_api.go
  src/go/k8s/pkg/resources/certmanager/type_helpers.go
  src/go/k8s/pkg/resources/certmanager/type_helpers_test.go
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/pkg/resources/resource_integration_test.go
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/pkg/resources/statefulset_test.go
  src/go/k8s/pkg/resources/statefulset_update.go
  src/go/k8s/pkg/resources/tls_types.go
Labels: area/k8s

#4652 k8s/configurator: remove unneeded log stmnt
  src/go/k8s/cmd/configurator/main.go
Labels: area/k8s

#4627 k8s: Remove defaults Redpanda configuration options
  src/go/k8s/controllers/redpanda/suite_test.go
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/pkg/resources/configmap_test.go
  src/go/k8s/pkg/resources/resource_integration_test.go
  src/go/k8s/tests/e2e/additional-configuration/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/additional-configuration/verify-config.sh
Labels: area/k8s

#4654 config: redact secrets on bootstrap logging
  src/v/cluster/config_manager.cc
Labels: area/redpanda

#4644 Fixed printing group instance id in `rpk group describe`
  src/go/rpk/pkg/cli/cmd/group/describe.go
Labels: area/rpk

#4662 rpk: change Invalid Partitions err message in topic creation
  src/go/rpk/pkg/cli/cmd/topic/add_partitions.go
  src/go/rpk/pkg/cli/cmd/topic/create.go
Labels: area/rpk

#4636 rpk: changes in cluster config:
  src/go/rpk/pkg/cli/cmd/cluster/config/edit.go
  src/go/rpk/pkg/cli/cmd/cluster/config/export.go
  src/go/rpk/pkg/cli/cmd/cluster/config/import.go
  src/go/rpk/pkg/cli/cmd/cluster/config/set.go
Labels: area/rpk

#4658 [v22.1.x] k8s: Remove defaults Redpanda configuration options
  src/go/k8s/controllers/redpanda/suite_test.go
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/pkg/resources/configmap_test.go
  src/go/k8s/pkg/resources/resource_integration_test.go
  src/go/k8s/tests/e2e/additional-configuration/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/additional-configuration/verify-config.sh
Labels: area/k8s, kind/backport

#4667 [V22.1.x] Backport of #4654
  src/v/cluster/config_manager.cc
Labels: area/redpanda

#4659 [v22.1.x] k8s/configurator: remove unneeded log stmnt
  src/go/k8s/cmd/configurator/main.go
Labels: area/k8s, kind/backport

#4545 cluster: fix disabling leader balancer at runtime
  src/v/cluster/scheduling/leader_balancer.cc
Labels: area/redpanda

#4660 [v22.1.x] operator: add debug info to kuttl tests and fix
  src/go/k8s/controllers/redpanda/cluster_controller_configuration.go
  src/go/k8s/controllers/redpanda/suite_test.go
  src/go/k8s/pkg/admin/admin.go
  src/go/k8s/pkg/admin/utils.go
  src/go/k8s/tests/e2e/additional-configuration/04-cleanup.yaml
  src/go/k8s/tests/e2e/centralized-configuration-bootstrap/00-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-bootstrap/01-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-bootstrap/02-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-drift/00-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-drift/01-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-drift/02-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-drift/03-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-tls/00-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-tls/01-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-tls/02-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-tls/03-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-tls/04-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-tls/05-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-upgrade/00-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-upgrade/01-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-upgrade/02-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-upgrade/03-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration/00-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration/01-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration/02-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration/03-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration/04-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration/05-assert.yaml
  src/go/k8s/tests/e2e/update-conf-image/00-assert.yaml
  src/go/k8s/tests/e2e/update-conf-image/01-assert.yaml
  src/go/k8s/tests/e2e/update-conf-image/02-assert.yaml
  src/go/k8s/tests/e2e/update-conf-image/03-assert.yaml
  src/go/rpk/pkg/api/admin/api_features.go
Labels: area/rpk, area/k8s, kind/backport

#4661 [v21.11.x] k8s/configurator: remove unneeded log stmnt
  src/go/k8s/cmd/configurator/main.go
Labels: area/k8s, kind/backport

#4641 tests: retry run_npm_cmd on network errors
  tests/rptest/wasm/wasm_build_tool.py
Labels: kind/tech-debt, area/tests

#4674 operator: avoid logging unnecessary information in centralized config…
  src/go/k8s/pkg/resources/configuration/patch.go
  src/go/k8s/pkg/resources/configuration/patch_test.go
Labels: area/k8s

#4680 [v22.1.x] operator: avoid logging unnecessary information in centralized config…
  src/go/k8s/pkg/resources/configuration/patch.go
  src/go/k8s/pkg/resources/configuration/patch_test.go
Labels: area/k8s, kind/backport

#4676 [v22.1.x] cluster: fix disabling leader balancer at runtime
  src/v/cluster/scheduling/leader_balancer.cc
Labels: area/redpanda, kind/backport

#4622 tests: adjusts assertion size for deleted segment
  tests/rptest/tests/topic_recovery_test.py
Labels: kind/bug, area/tests

#4677 [v22.1.x] tests: retry run_npm_cmd on network errors
  tests/rptest/wasm/wasm_build_tool.py
Labels: kind/backport

#4666 [V21.11.x] Backport of #4654
  src/v/cluster/config_manager.cc
Labels: area/redpanda

#4682 tests: extend log allow list for kgo-verifier tests
  tests/rptest/tests/franz_go_verifiable_test.py
Labels: kind/tech-debt, area/tests

#4643 operator: move centralized-config kuttl test to e2e-unstable
  src/go/k8s/tests/e2e-unstable/README.md
  src/go/k8s/tests/e2e-unstable/centralized-configuration/00-assert.yaml
  src/go/k8s/tests/e2e-unstable/centralized-configuration/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e-unstable/centralized-configuration/01-assert.yaml
  src/go/k8s/tests/e2e-unstable/centralized-configuration/01-redpanda-cluster-change.yaml
  src/go/k8s/tests/e2e-unstable/centralized-configuration/02-assert.yaml
  src/go/k8s/tests/e2e-unstable/centralized-configuration/02-probe.yaml
  src/go/k8s/tests/e2e-unstable/centralized-configuration/03-assert.yaml
  src/go/k8s/tests/e2e-unstable/centralized-configuration/03-redpanda-cluster-change.yaml
  src/go/k8s/tests/e2e-unstable/centralized-configuration/04-assert.yaml
  src/go/k8s/tests/e2e-unstable/centralized-configuration/05-assert.yaml
  src/go/k8s/tests/e2e-unstable/centralized-configuration/05-probe.yaml
  src/go/k8s/tests/e2e-unstable/update-conf-image/00-assert.yaml
  src/go/k8s/tests/e2e-unstable/update-conf-image/00-configurator.yaml
  src/go/k8s/tests/e2e-unstable/update-conf-image/01-assert.yaml
  src/go/k8s/tests/e2e-unstable/update-conf-image/01-current-image.yaml
  src/go/k8s/tests/e2e-unstable/update-conf-image/02-assert.yaml
  src/go/k8s/tests/e2e-unstable/update-conf-image/02-new-configurator.yaml
  src/go/k8s/tests/e2e-unstable/update-conf-image/03-assert.yaml
Labels: area/k8s

#4707 tests: refine OMB tests
  tests/rptest/services/openmessaging_benchmark.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/openmessaging_benchmark_test.py
Labels: area/tests

#4691 archival_metadata_stm: return error code instead of throwing
  src/v/cluster/archival_metadata_stm.cc
  tests/rptest/tests/franz_go_verifiable_test.py
Labels: area/redpanda

#4703 rpk: change error in cluster health flag description
  src/go/rpk/pkg/cli/cmd/cluster/health.go
Labels: area/rpk

#4690 [v22.1.x] tests: adjusts assertion size for deleted segment
  tests/rptest/tests/topic_recovery_test.py
Labels: kind/backport

#4710 tests: disable topic auto creation by default
  tests/rptest/services/redpanda.py
  tests/rptest/tests/compatibility/sarama_test.py
Labels: kind/tech-debt, area/tests

#4720 cluster: check abort source in reconcile_ntp loop
  src/v/cluster/controller_backend.cc
Labels: kind/bug, area/controller, area/redpanda

#4688 tests: extend CHAOS_LOG_ALLOW_LIST & RESTART_LOG_ALLOW_LIST
  tests/rptest/services/redpanda.py
Labels: kind/tech-debt, area/tests

#4579 Two stage processing in groups
  src/v/kafka/protocol/join_group.h
  src/v/kafka/protocol/sync_group.h
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
  src/v/kafka/server/group_router.h
  src/v/kafka/server/handlers/join_group.cc
  src/v/kafka/server/handlers/join_group.h
  src/v/kafka/server/handlers/offset_commit.cc
  src/v/kafka/server/handlers/sync_group.cc
  src/v/kafka/server/handlers/sync_group.h
  src/v/kafka/server/requests.cc
Labels: area/redpanda

#4749 s3: Improve error handling
  src/v/bytes/iobuf_istreambuf.h
  src/v/s3/client.cc
  src/v/s3/tests/s3_client_test.cc
Labels: area/redpanda

#4683 tests: segregate resource-intensive tests in scale_tests/
  tests/rptest/scale_tests/franz_go_verifiable_test.py
  tests/rptest/scale_tests/franzgo_bench.py
  tests/rptest/scale_tests/node_operations_fuzzy_test.py
  tests/rptest/scale_tests/openmessaging_benchmark_test.py
Labels: kind/tech-debt, area/tests

#4752 [v22.1.x] s3: Improve error handling
  src/v/bytes/iobuf_istreambuf.h
  src/v/s3/client.cc
  src/v/s3/tests/s3_client_test.cc
Labels: area/redpanda, kind/backport

#4694 operator: fix kuttl test definition on v22.1.x
  src/go/k8s/tests/e2e/centralized-configuration-upgrade/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/centralized-configuration-upgrade/01-first-upgrade.yaml
  src/go/k8s/tests/e2e/centralized-configuration-upgrade/02-update-to-central-config-with-prop.yaml
Labels: area/k8s

#4721 rpk: avoid duplicates in container port pool
  src/go/rpk/pkg/net/interfaces.go
Labels: area/rpk

#4727 rpk: add metadata request in client creation to control sasl errors
  src/go/rpk/pkg/kafka/client_franz.go
Labels: area/rpk

#4722 pandaproxy: Invert error_code dependencies
  src/v/kafka/protocol/errors.cc
  src/v/kafka/protocol/errors.h
  src/v/pandaproxy/CMakeLists.txt
  src/v/pandaproxy/error.cc
  src/v/pandaproxy/error.h
  src/v/pandaproxy/json/CMakeLists.txt
  src/v/pandaproxy/json/error.cc
  src/v/pandaproxy/parsing/error.cc
  src/v/pandaproxy/parsing/exceptions.h
  src/v/pandaproxy/reply.h
  src/v/pandaproxy/test/CMakeLists.txt
  src/v/pandaproxy/test/errors.cc
Labels: area/redpanda

#4759 Prepare for clang++-14
  cmake/v_library.cmake
  src/v/net/tls.cc
Labels: area/build, area/redpanda

#4748 operator: add make task for e2e-unstable tests
  .gitignore
  src/go/k8s/Makefile
  src/go/k8s/kuttl-unstable-test.yaml
Labels: area/k8s

#4718 Allow having multiple TLS kafka listeners
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook_test.go
  src/go/k8s/pkg/resources/certmanager/pki_test.go
  src/go/k8s/pkg/resources/certmanager/type_helpers.go
  src/go/k8s/pkg/resources/certmanager/type_helpers_test.go
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/pkg/resources/configmap_test.go
  src/go/k8s/tests/e2e/produce-tls/00-redpanda-cluster.yaml
Labels: area/k8s

#4715 c/md_dissemination: do not capture unused variable
  src/v/cluster/metadata_dissemination_handler.cc
Labels: area/redpanda

#4770 rpk: support hostnames in config bootstrapping
  src/go/rpk/pkg/cli/cmd/redpanda/config.go
  src/go/rpk/pkg/cli/cmd/redpanda/config_test.go
  src/go/rpk/pkg/net/hostport.go
  src/go/rpk/pkg/net/hostport_test.go
Labels: area/rpk

#4777 rpk: fix ipv6 parsing of ParseHostMaybeScheme function
  src/go/rpk/pkg/cli/cmd/redpanda/admin/config/config.go
  src/go/rpk/pkg/net/hostport.go
Labels: area/rpk

#4786 rpk: improve wording in topic create: replication factor must be odd
  src/go/rpk/pkg/cli/cmd/topic/create.go
Labels: area/rpk

#4457 cluster,kafka: auto-populate cluster_id and prefix it with "redpanda."
  src/v/cluster/controller.cc
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/metrics_reporter.h
  src/v/kafka/server/handlers/metadata.cc
  tests/rptest/clients/rpk.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/cluster_config_test.py
Labels: kind/enhance, area/kafka, area/controller, area/redpanda

#4669 Fix 4366: linearize fast idempotency retries
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/idempotency_tests.cc
  src/v/utils/mutex.h
Labels: area/redpanda

#4774 fix build failure with autoconf 2.70+
  cmake/oss.cmake.in
Labels: area/build

#4821 serde serialization for topic_namespace
  src/v/model/fundamental.h
  src/v/model/metadata.h
  src/v/serde/test/serde_test.cc
Labels: area/redpanda

#4684 Added handling members with `group.instance.id` set i.e. static members
  src/v/kafka/client/test/fixture.h
  src/v/kafka/protocol/leave_group.h
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/handlers/describe_groups.cc
  src/v/kafka/server/handlers/describe_groups.h
  src/v/kafka/server/handlers/join_group.cc
  src/v/kafka/server/handlers/join_group.h
  src/v/kafka/server/handlers/leave_group.cc
  src/v/kafka/server/handlers/leave_group.h
  src/v/kafka/server/handlers/offset_commit.cc
  src/v/kafka/server/member.h
  src/v/kafka/server/tests/CMakeLists.txt
  src/v/kafka/server/tests/consumer_groups_test.cc
  src/v/kafka/server/tests/group_test.cc
  src/v/kafka/server/tests/offset_commit_test.cc
  src/v/kafka/server/tests/topic_recreate_test.cc
  src/v/redpanda/tests/fixture.h
  tests/rptest/clients/kafka_cli_tools.py
  tests/rptest/clients/rpk.py
  tests/rptest/services/kafka_cli_consumer.py
  tests/rptest/tests/consumer_group_test.py
Labels: area/redpanda

#4801 rptest: Add topic recovery end to end test
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
  src/v/cluster/partition_manager.cc
  src/v/cluster/persisted_stm.cc
  src/v/cluster/persisted_stm.h
  tests/rptest/services/redpanda.py
  tests/rptest/tests/e2e_topic_recovery_test.py
Labels: area/redpanda

#4858 chore: fix warning backgrounding futures
  src/v/cloud_storage/cache_service.cc
  src/v/kafka/client/consumer.cc
Labels: area/redpanda

#4678 [v22.1.x] rpk: changes in cluster config
  src/go/rpk/pkg/cli/cmd/cluster/config/edit.go
  src/go/rpk/pkg/cli/cmd/cluster/config/export.go
  src/go/rpk/pkg/cli/cmd/cluster/config/import.go
  src/go/rpk/pkg/cli/cmd/cluster/config/set.go
Labels: area/rpk, kind/backport

#4859 chore: miscellaneous improvements and fixes
  src/v/bytes/utils.h
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/feature_barrier.h
  src/v/cluster/rm_group_proxy.h
  src/v/cluster/scheduling/leader_balancer_strategy.h
  src/v/hashing/crc32.h
  src/v/hashing/crc32c.h
  src/v/http/client.cc
  src/v/kafka/protocol/schemata/generator.py
  src/v/model/record_utils.cc
  src/v/random/fast_prng.h
  src/v/random/generators.h
  src/v/storage/index_state.cc
  src/v/storage/log_replayer.cc
  src/v/storage/segment_appender.h
  src/v/storage/snapshot.cc
  src/v/storage/types.h
  src/v/test_utils/fixture.h
Labels: area/redpanda

#4260 compile with {fmt} v8
  cmake/oss.cmake.in
  src/v/bytes/details/out_of_range.h
  src/v/cluster/feature_table.cc
  src/v/cluster/feature_table.h
  src/v/cluster/id_allocator_frontend.cc
  src/v/cluster/rm_partition_frontend.cc
  src/v/compression/internal/gzip_compressor.cc
  src/v/compression/internal/lz4_frame_compressor.cc
  src/v/model/metadata.h
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/raft/consensus.cc
  src/v/rpc/demo/demo_utils.h
  src/v/rpc/reconnect_transport.h
  src/v/security/mtls.cc
  src/v/security/mtls.h
  src/v/ssx/sformat.h
  src/v/ssx/tests/sformat_bench.cc
  src/v/storage/segment_utils.cc
  src/v/syschecks/syschecks.h
  src/v/utils/prefix_logger.h
  src/v/utils/retry_chain_node.cc
  src/v/utils/retry_chain_node.h
Labels: area/build, area/redpanda

#4741 Minor improvement, switch to to_array
  src/v/bytes/details/io_allocation_size.h
Labels: area/redpanda

#4853 rpc: graceful handling of unsupported methods and transport versions
  src/v/rpc/errc.h
  src/v/rpc/parse_utils.h
  src/v/rpc/simple_protocol.cc
  src/v/rpc/test/rpc_gen_cycling_test.cc
  src/v/rpc/transport.h
  src/v/rpc/types.cc
  src/v/rpc/types.h
Labels: area/redpanda

#4832 rpk: remove manager.FindOrGenerate from commands
  src/go/rpk/pkg/cli/cmd/check.go
  src/go/rpk/pkg/cli/cmd/generate.go
  src/go/rpk/pkg/cli/cmd/generate/prometheus.go
  src/go/rpk/pkg/cli/cmd/iotune.go
  src/go/rpk/pkg/cli/cmd/iotune_test.go
  src/go/rpk/pkg/cli/cmd/redpanda.go
  src/go/rpk/pkg/cli/cmd/redpanda/check.go
  src/go/rpk/pkg/cli/cmd/redpanda/tune.go
  src/go/rpk/pkg/cli/cmd/redpanda/tune_test.go
  src/go/rpk/pkg/cli/cmd/root.go
  src/go/rpk/pkg/cli/cmd/root_linux.go
  src/go/rpk/pkg/cli/cmd/tune.go
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/manager.go
Labels: area/rpk

#4893 rpc: add method_id accessors for generated code
  src/v/rpc/test/rpc_gen_cycling_test.cc
  tools/rpcgen.py
Labels: area/redpanda

#4908 build: Update seastar to avoid deprecated coroutine warning in clang-14
  cmake/oss.cmake.in
  cmake/v_library.cmake
Labels: area/build

#4909 rpk: remove readAsJson from config manager
  src/go/k8s/go.mod
  src/go/k8s/go.sum
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/api/api.go
  src/go/rpk/pkg/api/api_test.go
  src/go/rpk/pkg/cli/cmd/redpanda/start.go
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/manager.go
Labels: area/rpk, area/k8s

#4906 [v22.1.x] Fix logging in group_metadata_migration
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/group_metadata_migration.cc
Labels: area/redpanda, kind/backport

#4896 Nit fixes: unused imports, stale comments, py annotations, clang tidy polish.
  src/v/cluster/controller.cc
  src/v/cluster/metadata_cache.h
  src/v/model/namespace.h
  tests/rptest/services/admin.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/redpanda_test.py
Labels: area/redpanda

#4915 rpk: redact blindly decoded parameter
  src/go/rpk/pkg/cli/cmd/debug/bundle.go
Labels: area/rpk

#4912 rpk: rename httpError for httpResponseError
  src/go/k8s/controllers/redpanda/cluster_controller_configuration.go
  src/go/k8s/controllers/redpanda/suite_test.go
  src/go/rpk/pkg/api/admin/admin.go
  src/go/rpk/pkg/api/api.go
  src/go/rpk/pkg/cli/cmd/cluster/config/import.go
  src/go/rpk/pkg/cli/cmd/cluster/config/set.go
  src/go/rpk/pkg/cli/cmd/cluster/maintenance/disable.go
  src/go/rpk/pkg/cli/cmd/cluster/maintenance/enable.go
Labels: area/rpk, area/k8s

#4895 expiring_promise: fix loss of exception information
  src/v/utils/expiring_promise.h
Labels: area/redpanda

#4846 [v22.1.x] rptest: Add topic recovery end to end test
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
  src/v/cluster/partition_manager.cc
  src/v/cluster/persisted_stm.cc
  src/v/cluster/persisted_stm.h
  tests/rptest/services/redpanda.py
  tests/rptest/tests/e2e_topic_recovery_test.py
Labels: area/redpanda, kind/backport

#4916 fix various typos
  cmake/oss.cmake.in
  src/v/cluster/topics_frontend.cc
  src/v/coproc/reconciliation_backend.cc
  src/v/kafka/server/handlers/topics/topic_utils.h
  src/v/raft/configuration_manager.cc
  src/v/raft/replicate_entries_stm.cc
  src/v/raft/state_machine.cc
  src/v/raft/state_machine.h
  src/v/storage/readers_cache.cc
Labels: area/build, area/redpanda

#4775 Two phase group processing follow up
  src/v/config/configuration.cc
  src/v/kafka/server/group_manager.cc
  tests/rptest/tests/compacted_topic_verifier_test.py
  tests/rptest/tests/shadow_indexing_tx_test.py
Labels: area/redpanda

#4929 core: fix various warnings in tests
  src/v/archival/tests/service_fixture.cc
  src/v/cloud_storage/tests/remote_test.cc
  src/v/cluster/tests/configuration_change_test.cc
  src/v/cluster/tests/partition_moving_test.cc
  src/v/coproc/tests/utils/supervisor.cc
  src/v/http/tests/http_client_test.cc
  src/v/kafka/server/tests/produce_consume_test.cc
  src/v/model/tests/record_batch_reader_test.cc
  src/v/raft/tests/append_entries_test.cc
  src/v/raft/tests/configuration_manager_test.cc
  src/v/raft/tests/manual_log_deletion_test.cc
  src/v/raft/tests/raft_group_fixture.h
  src/v/storage/tests/batch_cache_test.cc
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

#4932 [v22.1.x] kafka/server: Fix operator<< for offset_metadata
  src/v/kafka/server/group.cc
Labels: area/redpanda, kind/backport

#4935 Remove shard_assignment dead code
  src/v/kafka/server/handlers/produce.cc
  src/v/storage/shard_assignment.h
Labels: area/redpanda

#4917 V22.1.x rpk config redact
  src/go/k8s/go.mod
  src/go/k8s/go.sum
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/api/api.go
  src/go/rpk/pkg/api/api_test.go
  src/go/rpk/pkg/cli/cmd/debug/bundle.go
  src/go/rpk/pkg/cli/cmd/redpanda/start.go
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/manager.go
Labels: area/rpk, area/k8s

#4938 non-functional changes spotted in review post-merge
  src/v/cluster/topics_frontend.cc
  src/v/raft/replicate_entries_stm.cc
  src/v/raft/state_machine.cc
  src/v/raft/state_machine.h
  src/v/utils/delta_for.h
  src/v/v8_engine/internal/script.h
  tools/rpcgen.py
Labels: area/redpanda

#4939 cloud_storage: redacts fields from header
  src/v/http/client.cc
  src/v/http/client.h
  src/v/s3/client.cc
  src/v/s3/signature.cc
Labels: area/redpanda

#4673 [v21.11.x] redpanda: shutdown quota manager after kafka server is stopped
  src/v/redpanda/application.cc
Labels: area/redpanda

#4942 cluster: clean up config error logging
  src/v/cluster/config_manager.cc
  src/v/redpanda/admin_server.cc
Labels: area/redpanda

#4924 cluster: drop redundant set_status config updates
  src/v/cluster/config_manager.cc
  src/v/cluster/config_manager.h
  src/v/cluster/fwd.h
  src/v/cluster/service.cc
  src/v/cluster/service.h
  src/v/redpanda/application.cc
Labels: kind/bug, area/controller, area/redpanda

#4919 Drop the `CONCEPT` macro
  .github/workflows/lint.yml
  src/v/bytes/bytes.h
  src/v/bytes/details/io_iterator_consumer.h
  src/v/bytes/iobuf_parser.h
  src/v/cluster/cluster_utils.h
  src/v/cluster/commands.h
  src/v/cluster/partition_leaders_table.h
  src/v/cluster/tests/cluster_test_fixture.h
  src/v/kafka/client/broker.h
  src/v/kafka/client/client.h
  src/v/kafka/client/retry_with_mitigation.h
  src/v/kafka/client/transport.h
  src/v/kafka/protocol/request_reader.h
  src/v/kafka/protocol/response_writer.h
  src/v/kafka/protocol/types.h
  src/v/kafka/server/coordinator_ntp_mapper.h
  src/v/kafka/server/handlers/api_versions.cc
  src/v/kafka/server/handlers/handler.h
  src/v/kafka/server/handlers/topics/topic_utils.h
  src/v/kafka/server/handlers/topics/validators.h
  src/v/kafka/server/member.h
  src/v/kafka/server/request_context.h
  src/v/kafka/server/requests.cc
  src/v/model/record_batch_reader.h
  src/v/pandaproxy/json/rjson_util.h
  src/v/raft/consensus_utils.h
  src/v/raft/group_configuration.h
  src/v/raft/mutex_buffer.h
  src/v/raft/mux_state_machine.h
  src/v/raft/service.h
  src/v/raft/tron/service.h
  src/v/rpc/connection_cache.h
  src/v/rpc/response_handler.h
  src/v/rpc/simple_protocol.h
  src/v/rpc/transport.h
  src/v/security/credential_store.h
  src/v/ssx/future-util.h
  src/v/storage/compacted_index_reader.h
  src/v/storage/offset_assignment.h
  src/v/storage/tests/storage_test_fixture.h
  src/v/storage/tests/utils/disk_log_builder.h
  src/v/test_utils/async.h
  src/v/utils/concepts-enabled.h
  src/v/utils/copy_range.h
  src/v/utils/functional.h
  src/v/utils/retry.h
  src/v/utils/utf8.h
  src/v/v8_engine/internal/executor.h
Labels: area/build, area/redpanda

#4928 tests: use rpk producer for even record distribution
  tests/rptest/tests/topic_recovery_test.py
Labels: kind/bug, area/tests

#4941 application: handle unwanted positional args
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/application.cc
  src/v/redpanda/cli_parser.cc
  src/v/redpanda/cli_parser.h
  src/v/redpanda/tests/CMakeLists.txt
  src/v/redpanda/tests/cli_parser_tests.cc
Labels: area/redpanda

#4948 [v22.1.x] cloud_storage: redacts fields from header
  src/v/http/client.cc
  src/v/http/client.h
  src/v/s3/client.cc
  src/v/s3/signature.cc
Labels: area/redpanda, kind/backport

#4841 serde: added bytes support
  src/v/serde/serde.h
  src/v/serde/test/serde_test.cc
Labels: area/redpanda

#4913 cluster: recheck raft0 leader existence under semaphore
  src/v/cluster/health_monitor_backend.cc
Labels: area/redpanda

#4977 cluster, kafka, raft: Logging refinement
  src/v/cluster/members_manager.cc
  src/v/cluster/persisted_stm.cc
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/kafka/server/rm_group_frontend.cc
  src/v/net/server.cc
  src/v/raft/consensus.h
  src/v/raft/state_machine.cc
  tests/rptest/services/redpanda.py
  tests/rptest/tests/topic_delete_test.py
Labels: area/redpanda

#4961 Backport Slash Command Refactor
  .github/workflows/backport-command.yml
  .github/workflows/scripts/backport-command/create_issue.sh
  .github/workflows/scripts/backport-command/create_milestone.sh
  .github/workflows/scripts/backport-command/create_pr.sh
  .github/workflows/scripts/backport-command/get_backport_type.sh
  .github/workflows/scripts/backport-command/gh_wrapper.sh
  .github/workflows/scripts/backport-command/post_error.sh
  .github/workflows/scripts/backport-command/pr_details.sh
Labels: area/build, team/devprod

#4953 kafka: validate user provided `create_topic` configuration literals
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/handlers/topics/validators.h
  tests/rptest/tests/rpk_topic_test.py
Labels: area/kafka, area/redpanda

#4921 admin: reject maintenance mode req on 1 node cluster
  src/v/cluster/members_table.cc
  src/v/redpanda/admin_server.cc
Labels: area/redpanda
