Repository redpanda-data/redpanda, pull requests merged in 2022-01, with the labels that each got.

#3385 k8s: use specified external port for kafka-api config
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/pkg/resources/configmap_test.go
Labels: area/k8s

#3368 init_producer_id: change IDEMPOTENT_WRITE on CLUSTER for CLUSTER_NAME to WRITE on ANY TOPIC (KIP-679)
  src/v/kafka/server/handlers/init_producer_id.cc
  src/v/kafka/server/handlers/produce.cc
  src/v/security/authorizer.h
  tests/rptest/clients/rpk.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/scramful_eos_test.py
  tests/rptest/tests/scramless_eos_test.py
Labels: area/redpanda, area/transactions

#3387 k8s: use specified external port for kafka-api config
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/pkg/resources/configmap_test.go
Labels: area/k8s

#3386 k8s/docs: add guide for local env with external connectivity
  src/go/k8s/config/samples/one_node_external.yaml
  src/go/k8s/docs/external-connectivity-localhost.md
  src/go/k8s/docs/kind-external.yaml
Labels: area/k8s

#3389 config: fix config_cache.yaml encoding of string values (centralized config)
  src/v/cluster/config_manager.cc
  tests/rptest/tests/cluster_config_test.py
Labels: kind/bug, area/redpanda

#3392 cloud_storage: fix file descriptor leak
  src/v/cloud_storage/remote_partition.cc
Labels: kind/bug, area/redpanda, area/shadow-indexing

#3399 [backport v21.11.x-si-testing] cloud_storage: fix file descriptor leak
  src/v/cloud_storage/remote_partition.cc
Labels: kind/backport, area/shadow-indexing

#3404 rpk: patch group seeking behavior
  src/go/k8s/go.sum
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cmd/group/seek.go
Labels: area/rpk, area/k8s

#3411 wasm: Fix bug for incorrect calculation of record batch size
  src/js/modules/supervisors/Repository.ts
  src/js/test/supervisors/Repository.test.ts
Labels: kind/bug, area/wasm

#3355 Fixed decommissioned node being removed to early
  src/v/cluster/members_backend.cc
  src/v/cluster/metadata_dissemination_service.cc
  src/v/cluster/metadata_dissemination_service.h
  src/v/cluster/topic_table.h
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/tests/error_mapping_test.cc
  src/v/raft/follower_stats.cc
  src/v/redpanda/application.cc
  tests/rptest/services/failure_injector.py
  tests/rptest/tests/node_operations_fuzzy_test.py
Labels: area/redpanda

#3410 Made `min_free_memory` parameter of background reclaimer configurable
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/application.cc
Labels: area/redpanda

#3379 21.11.x backport3371
  src/v/archival/ntp_archiver_service.cc
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
Labels: area/redpanda

#3413 kafka: map cluster::topic_not_found to kafka:unkonwn_topic
  src/v/kafka/server/errors.h
Labels: area/redpanda

#3423 [V21.11.x-si-testing] Early backport of fixes for large partitions counts
  src/v/archival/tests/service_fixture.cc
  src/v/cloud_storage/cache_service.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/handlers/fetch.cc
  src/v/storage/disk_log_impl.cc
  src/v/storage/kvstore.cc
  src/v/storage/log_manager.cc
  src/v/storage/log_manager.h
  src/v/storage/segment.cc
  src/v/storage/segment.h
  src/v/storage/segment_reader.cc
  src/v/storage/segment_reader.h
  src/v/storage/segment_set.cc
  src/v/storage/segment_set.h
  src/v/storage/segment_utils.cc
  src/v/storage/tests/log_manager_test.cc
  src/v/storage/tests/log_replayer_test.cc
Labels: area/redpanda, area/shadow-indexing

#3426 backport 3425 (archival: Make upload loop more resilent)
  src/v/archival/service.cc
Labels: area/redpanda

#3424 tools: updates to redpanda-gdb.py
  tools/redpanda-gdb.py
Labels: kind/tech-debt

#3427 [v21.11.x-si-testing] Early backport of iobuf/fetch bad_malloc fix
  src/v/bytes/iobuf.cc
  src/v/raft/vote_stm.cc
  tools/redpanda-gdb.py
Labels: area/redpanda, area/shadow-indexing

#3341 docs: adding new TLS guide for kubernetes
  docs/www/acls.md
  docs/www/quick-start-kubernetes.md
  docs/www/tls-kubernetes.md
Labels: area/docs

#3365 Cloud storage: unique archived segment names
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/archival/service.cc
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/archival/tests/service_fixture.cc
  src/v/archival/tests/service_fixture.h
  src/v/archival/tests/service_test.cc
  src/v/cloud_storage/manifest.cc
  src/v/cloud_storage/manifest.h
  src/v/cloud_storage/offset_translation_layer.cc
  src/v/cloud_storage/offset_translation_layer.h
  src/v/cloud_storage/partition_recovery_manager.cc
  src/v/cloud_storage/partition_recovery_manager.h
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/tests/common_def.h
  src/v/cloud_storage/tests/manifest_test.cc
  src/v/cloud_storage/tests/offset_translation_layer_test.cc
  src/v/cloud_storage/tests/remote_partition_test.cc
  src/v/cloud_storage/tests/remote_segment_test.cc
  src/v/cloud_storage/tests/remote_test.cc
  src/v/cloud_storage/tests/s3_imposter.cc
  src/v/cloud_storage/tests/s3_imposter.h
  src/v/cloud_storage/types.h
  src/v/cluster/archival_metadata_stm.cc
  tests/rptest/tests/archival_test.py
Labels: area/redpanda

#3421 storage/cloud_storage: make read buffer sizes configurable
  src/v/archival/tests/service_fixture.cc
  src/v/cloud_storage/cache_service.h
  src/v/cloud_storage/remote_segment.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/kvstore.cc
  src/v/storage/log_manager.cc
  src/v/storage/log_manager.h
  src/v/storage/segment.cc
  src/v/storage/segment.h
  src/v/storage/segment_reader.cc
  src/v/storage/segment_reader.h
  src/v/storage/segment_set.cc
  src/v/storage/segment_set.h
  src/v/storage/segment_utils.cc
  src/v/storage/tests/log_manager_test.cc
  src/v/storage/tests/log_replayer_test.cc
Labels: kind/enhance, area/storage, area/redpanda, area/shadow-indexing

#3374 Fix some `lowres_clock` use cases
  src/v/archival/types.cc
  src/v/cloud_storage/partition_recovery_manager.cc
  src/v/cloud_storage/remote.cc
  src/v/cluster/types.cc
  src/v/kafka/server/quota_manager.cc
  src/v/raft/heartbeat_manager.cc
  src/v/s3/client.cc
  src/v/storage/snapshot.cc
  src/v/utils/retry_chain_node.cc
  src/v/utils/retry_chain_node.h
  src/v/utils/to_string.h
Labels: area/redpanda, kind/tech-debt

#3420 kafka: limit bytes in many-partition fetch
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/handlers/fetch.cc
Labels: kind/bug, area/kafka, area/redpanda

#3401 cloud_storage: ensure readers only destroyed in remote_partition
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
Labels: kind/bug, area/redpanda, area/shadow-indexing

#3441 backport: 3425 (archival: Make upload loop more resilient)
  src/v/archival/service.cc
Labels: area/redpanda

#3434 Backport #3365 to 21.11.x
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/archival/service.cc
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/archival/tests/service_fixture.cc
  src/v/archival/tests/service_fixture.h
  src/v/archival/tests/service_test.cc
  src/v/cloud_storage/manifest.cc
  src/v/cloud_storage/manifest.h
  src/v/cloud_storage/offset_translation_layer.cc
  src/v/cloud_storage/offset_translation_layer.h
  src/v/cloud_storage/partition_recovery_manager.cc
  src/v/cloud_storage/partition_recovery_manager.h
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/tests/common_def.h
  src/v/cloud_storage/tests/manifest_test.cc
  src/v/cloud_storage/tests/offset_translation_layer_test.cc
  src/v/cloud_storage/tests/remote_partition_test.cc
  src/v/cloud_storage/tests/remote_segment_test.cc
  src/v/cloud_storage/tests/remote_test.cc
  src/v/cloud_storage/tests/s3_imposter.cc
  src/v/cloud_storage/tests/s3_imposter.h
  src/v/cloud_storage/types.h
  src/v/cluster/archival_metadata_stm.cc
  tests/rptest/tests/archival_test.py
Labels: area/redpanda

#3340 coproc: Fix for race condition in coproc_topic_delete test
  src/v/coproc/script_context.cc
Labels: area/redpanda

#3448 [v21.11.x] cloud_storage: ensure readers only destroyed in remote_partition
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
Labels: area/redpanda, kind/backport, area/shadow-indexing

#3436 [v21.11.x] storage/cloud_storage: make read buffer sizes configurable
  src/v/archival/tests/service_fixture.cc
  src/v/cloud_storage/cache_service.h
  src/v/cloud_storage/remote_segment.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/kvstore.cc
  src/v/storage/log_manager.cc
  src/v/storage/log_manager.h
  src/v/storage/segment.cc
  src/v/storage/segment.h
  src/v/storage/segment_reader.cc
  src/v/storage/segment_reader.h
  src/v/storage/segment_set.cc
  src/v/storage/segment_set.h
  src/v/storage/segment_utils.cc
  src/v/storage/tests/log_manager_test.cc
  src/v/storage/tests/log_replayer_test.cc
Labels: area/storage, area/redpanda, kind/backport, area/shadow-indexing

#3145 [transactions] Add get transaction request to admin_api
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/redpanda/admin/api-doc/partition.json
  src/v/redpanda/admin_server.cc
  tests/rptest/services/admin.py
  tests/rptest/tests/tx_admin_api_test.py
Labels: area/redpanda

#3446 [admin] Fix self leadership transfer
  src/v/kafka/server/group.cc
  src/v/raft/consensus.cc
  src/v/raft/errc.h
  src/v/redpanda/admin_server.cc
  tests/rptest/tests/leadership_transfer_test.py
Labels: area/redpanda

#3330 tests: added node recovery test
  src/v/raft/heartbeat_manager.cc
  src/v/raft/recovery_stm.cc
  tests/rptest/tests/full_node_recovery_test.py
Labels: area/redpanda

#3437 [v21.11.x] cloud_storage: fix file descriptor leak
  src/v/cloud_storage/remote_partition.cc
Labels: area/redpanda, kind/backport, area/shadow-indexing

#3422 Fix metadata brokers list
  src/v/cluster/metadata_cache.cc
  tests/rptest/clients/rpk.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/cluster_metadata_test.py
Labels: area/redpanda

#3438 [v21.11.x] kafka: limit bytes in many-partition fetch
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/handlers/fetch.cc
Labels: area/redpanda

#3435 bytes: impose max chunk size on ss_next_allocation_size
  src/v/bytes/details/io_allocation_size.h
Labels: kind/enhance, area/redpanda

#3472 [v21.11.x] bytes: impose max chunk size on ss_next_allocation_size
  src/v/bytes/details/io_allocation_size.h
Labels: area/redpanda, kind/backport

#3433 Move offset translator state
  src/v/cluster/controller_backend.cc
  src/v/raft/offset_translator.cc
  src/v/raft/offset_translator.h
  src/v/raft/tests/offset_translator_tests.cc
Labels: area/redpanda

#3445 cloud_storage: suppress warning on successfull topic creation
  src/v/archival/ntp_archiver_service.cc
  src/v/cloud_storage/remote.cc
Labels: area/redpanda

#3484 cloud_storage: suppress warning on successfull topic creation
  src/v/archival/ntp_archiver_service.cc
  src/v/cloud_storage/remote.cc
Labels: area/redpanda

#3489 kafka: clean up unused variable
  src/v/kafka/server/handlers/fetch.cc
Labels: area/kafka, area/redpanda, kind/tech-debt

#3431 chore: fix various clang-tidy warnings
  src/v/bytes/bytes.h
  src/v/kafka/protocol/batch_reader.cc
  src/v/kafka/protocol/kafka_batch_adapter.cc
  src/v/kafka/server/group_stm.cc
  src/v/kafka/server/group_stm.h
  src/v/kafka/server/handlers/add_offsets_to_txn.cc
  src/v/kafka/server/handlers/add_partitions_to_txn.cc
  src/v/kafka/server/handlers/end_txn.cc
  src/v/kafka/server/handlers/find_coordinator.cc
  src/v/kafka/server/handlers/init_producer_id.cc
Labels: area/redpanda

#3487 c/metadata_dissemination: fix applying updates from health
  src/v/cluster/metadata_dissemination_service.cc
  src/v/cluster/topic_table.h
Labels: kind/bug, area/controller, area/redpanda

#3479 cloud_storage: Limit remote partition concurrency
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cloud_storage/remote_segment.cc
Labels: area/redpanda

#3508 archival: fix bug in logging
  src/v/archival/ntp_archiver_service.cc
Labels: area/redpanda

#3510 Backport #3479 ( Limit remote partition concurrency)
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cloud_storage/remote_segment.cc
Labels: area/redpanda

#3440 [v21.11.x] kafka: probe to send group offset to prometheus
  src/v/kafka/group_probe.h
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  tests/rptest/clients/rpk.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/group_membership_test.py
Labels: area/redpanda, kind/backport

#2945 k8s: Change the feature gate for shadow indexing directory cache
  src/go/k8s/pkg/resources/featuregates/shadow_indexing.go
  src/go/k8s/pkg/resources/statefulset_test.go
Labels: area/k8s

#3512 archival: fix bug in logging
  src/v/archival/ntp_archiver_service.cc
Labels: area/redpanda

#3372 Delay prefix truncation of offset translator until segments are deleted
  src/v/cluster/id_allocator_stm.cc
  src/v/kafka/server/handlers/fetch.cc
  src/v/raft/consensus.cc
  src/v/raft/log_eviction_stm.cc
  src/v/raft/tests/append_entries_test.cc
  src/v/raft/types.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/log.h
  src/v/storage/mem_log_impl.cc
  src/v/storage/offset_translator_state.cc
Labels: area/redpanda

#3226 redpanda: clean up spurious errors in log, and add test infrastructure for detecting unexpected errors.
  src/v/cluster/controller_backend.cc
  src/v/raft/consensus.cc
  src/v/raft/errc.h
  src/v/rpc/simple_protocol.cc
  tests/rptest/services/cluster.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/acls_test.py
  tests/rptest/tests/alter_topic_configuration_test.py
  tests/rptest/tests/archival_test.py
  tests/rptest/tests/availability_test.py
  tests/rptest/tests/bytes_sent_test.py
  tests/rptest/tests/cluster_config_test.py
  tests/rptest/tests/compacted_term_rolled_recovery_test.py
  tests/rptest/tests/compacted_topic_verifier_test.py
  tests/rptest/tests/compaction_recovery_test.py
  tests/rptest/tests/compatibility/franzgo_test.py
  tests/rptest/tests/compatibility/kafka_streams_test.py
  tests/rptest/tests/compatibility/sarama_test.py
  tests/rptest/tests/configuration_update_test.py
  tests/rptest/tests/controller_recovery_test.py
  tests/rptest/tests/create_partitions_test.py
  tests/rptest/tests/custom_topic_assignment_test.py
  tests/rptest/tests/data_policy_test.py
  tests/rptest/tests/describe_topics_test.py
  tests/rptest/tests/e2e_shadow_indexing_test.py
  tests/rptest/tests/fetch_after_deletion_test.py
  tests/rptest/tests/fetch_fairness_test.py
  tests/rptest/tests/group_membership_test.py
  tests/rptest/tests/kafka_cli_client_compat_test.py
  tests/rptest/tests/leadership_transfer_test.py
  tests/rptest/tests/librdkafka_test.py
  tests/rptest/tests/log_level_test.py
  tests/rptest/tests/metrics_reporter_test.py
  tests/rptest/tests/node_operations_fuzzy_test.py
  tests/rptest/tests/nodes_decommissioning_test.py
  tests/rptest/tests/pandaproxy_test.py
  tests/rptest/tests/partition_movement_test.py
  tests/rptest/tests/prefix_truncate_recovery_test.py
  tests/rptest/tests/raft_availability_test.py
  tests/rptest/tests/retention_policy_test.py
  tests/rptest/tests/rpk_cluster_test.py
  tests/rptest/tests/rpk_config_test.py
  tests/rptest/tests/rpk_topic_test.py
  tests/rptest/tests/scaling_up_test.py
  tests/rptest/tests/schema_registry_test.py
  tests/rptest/tests/scram_pythonlib_test.py
  tests/rptest/tests/scram_test.py
  tests/rptest/tests/shadow_indexing_tx_test.py
  tests/rptest/tests/simple_e2e_test.py
  tests/rptest/tests/topic_autocreate_test.py
  tests/rptest/tests/topic_delete_test.py
  tests/rptest/tests/topic_recovery_test.py
  tests/rptest/tests/tx_feature_flag_test.py
  tests/rptest/tests/tx_reads_writes_test.py
  tests/rptest/tests/tx_verifier_test.py
  tests/rptest/tests/wait_for_local_consumer_test.py
  tests/rptest/tests/wasm_filter_test.py
  tests/rptest/tests/wasm_identity_test.py
  tests/rptest/tests/wasm_topics_test.py
Labels: area/redpanda

#3527 CONTRIBUTING: remove Signed-off-by
  CONTRIBUTING.md
Labels: kind/tech-debt

#3515 tests: make metrics_reporter_test more reliable
  tests/python/simple_http_server/simple_http_server.py
  tests/rptest/services/http_server.py
  tests/rptest/tests/metrics_reporter_test.py
Labels: kind/bug, area/controller

#3493 Fix for rarely failing test_copro_delete_topic unit test
  src/v/coproc/tests/pacemaker_tests.cc
Labels: area/redpanda, area/tests, area/coproc

#3488 cluster: Handle gate_closed_exception in handle_leadership_notification
  src/v/cluster/metadata_dissemination_service.cc
Labels: area/redpanda

#3535 codeowners: remove ivotron from some subcomponents
  .github/CODEOWNERS
Labels: area/build

#3208 admin: do up-front validation of configuration changes
  src/v/redpanda/admin/api-doc/cluster_config.json
  src/v/redpanda/admin_server.cc
  tests/rptest/services/admin.py
  tests/rptest/tests/cluster_config_test.py
Labels: kind/enhance, area/redpanda

#3541 Backport #3372 (Delay prefix truncation of offset translator until segments are deleted)
  src/v/cluster/id_allocator_stm.cc
  src/v/kafka/server/handlers/fetch.cc
  src/v/raft/consensus.cc
  src/v/raft/log_eviction_stm.cc
  src/v/raft/tests/append_entries_test.cc
  src/v/raft/types.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/log.h
  src/v/storage/mem_log_impl.cc
  src/v/storage/offset_translator_state.cc
Labels: area/redpanda

#3534 tests: update RESTART_LOG_ALLOW_LIST
  tests/rptest/services/redpanda.py
Labels: kind/tech-debt, area/tests

#3402 v21.11.x backport pr3299
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/api/api-doc/schema_registry_header.json
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/handlers.h
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/CMakeLists.txt
  src/v/pandaproxy/schema_registry/test/sharded_store.cc
  tests/rptest/tests/schema_registry_test.py
Labels: kind/enhance, area/redpanda, area/schema_registry, kind/backport

#3533 tests: use our @cluster for recently added tests
  tests/rptest/tests/cluster_metadata_test.py
  tests/rptest/tests/full_node_recovery_test.py
  tests/rptest/tests/interleave_acks_test.py
  tests/rptest/tests/scramful_eos_test.py
  tests/rptest/tests/scramless_eos_test.py
  tests/rptest/tests/tx_admin_api_test.py
Labels: kind/tech-debt, area/tests

#3288 storage: use segment fallocate size from config
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/storage/segment.cc
  src/v/storage/segment_appender.cc
  src/v/storage/segment_appender.h
  src/v/storage/segment_utils.cc
  src/v/storage/segment_utils.h
  src/v/storage/spill_key_index.cc
  src/v/storage/tests/log_replayer_test.cc
  src/v/storage/tests/log_segment_appender_test.cc
Labels: area/redpanda

#3536 kafka: use descriptive error type for auth fails
  src/v/kafka/server/requests.cc
Labels: area/kafka, area/redpanda

#3219 config: add metadata to mark secrets and redact them when logging
  src/v/cluster/config_manager.cc
  src/v/config/base_property.h
  src/v/config/configuration.cc
  src/v/config/property.h
  src/v/kafka/client/configuration.cc
  src/v/redpanda/admin/api-doc/cluster_config.json
  src/v/redpanda/admin_server.cc
  tests/rptest/tests/cluster_config_test.py
Labels: area/redpanda, kind/tech-debt

#3551 tests: remove duplicate of RaftAvailabilityTest
  tests/rptest/tests/interleave_acks_test.py
Labels: kind/tech-debt, area/tests

#3553 k/group_manager: extend attached partition lifecycle
  src/v/kafka/server/group_manager.cc
Labels: area/redpanda

#3267 kafka: support setting broker properties via kafka APIs
  src/v/cluster/config_frontend.cc
  src/v/cluster/config_frontend.h
  src/v/cluster/config_manager.cc
  src/v/cluster/controller.cc
  src/v/cluster/controller.json
  src/v/cluster/service.cc
  src/v/cluster/service.h
  src/v/cluster/types.h
  src/v/kafka/server/handlers/alter_configs.cc
  src/v/kafka/server/handlers/configs/config_utils.h
  src/v/kafka/server/handlers/incremental_alter_configs.cc
  src/v/kafka/server/protocol.cc
  src/v/kafka/server/protocol.h
  src/v/kafka/server/request_context.h
  src/v/redpanda/admin_server.cc
  src/v/redpanda/application.cc
  src/v/redpanda/tests/fixture.h
  tests/rptest/clients/kcl.py
  tests/rptest/tests/cluster_config_test.py
Labels: kind/enhance, area/kafka, area/redpanda

#3529 docs: Updating with all rpk commands
  docs/www/rpk-commands.md
Labels: area/docs

#3511 cloud_storage: rapid_json throws bad_alloc
  src/v/cloud_storage/manifest.cc
  src/v/cloud_storage/manifest.h
  src/v/json/allocator.h
  src/v/json/document.h
  src/v/json/logger.h
Labels: area/redpanda

#3558 Fix x core move bootstrap
  src/v/cluster/controller_backend.cc
  tests/rptest/tests/partition_movement_test.py
Labels: area/redpanda, backport/21.11.x

#3537 Fixed deadlock in persisted STM
  src/v/cluster/persisted_stm.cc
  src/v/cluster/persisted_stm.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/types.h
  tests/rptest/tests/multi_restarts_with_archival_test.py
Labels: area/redpanda, backport/21.11.x

#3496 k8s: fix how schema reg node cert is mounted
  src/go/k8s/pkg/resources/certmanager/pki.go
  src/go/k8s/pkg/resources/certmanager/pki_test.go
  src/go/k8s/pkg/resources/certmanager/schemaregistry_api.go
  src/go/k8s/tests/README.md
  src/go/k8s/tests/e2e/create-topic-given-cert-secret/00-create-cluster-issuer.yaml
  src/go/k8s/tests/e2e/create-topic-given-cert-secret/01-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/create-topic-given-cert-secret/04-assert.yaml
  src/go/k8s/tests/e2e/create-topic-given-cert-secret/04-create-schema.yaml
  src/go/k8s/tests/e2e/create-topic-given-cm-secret-client-auth/00-create-certificate.yaml
  src/go/k8s/tests/e2e/create-topic-given-cm-secret-client-auth/01-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/create-topic-given-cm-secret-client-auth/04-assert.yaml
  src/go/k8s/tests/e2e/create-topic-given-cm-secret-client-auth/04-create-schema.yaml
  src/go/k8s/tests/e2e/create-topic-given-issuer/00-create-cluster-issuer.yaml
  src/go/k8s/tests/e2e/create-topic-given-issuer/01-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/create-topic-given-issuer/04-assert.yaml
  src/go/k8s/tests/e2e/create-topic-given-issuer/04-create-schema.yaml
Labels: area/k8s

#3568 [v21.11.x] Backport operator schema reg fix certs
  src/go/k8s/pkg/resources/certmanager/pki.go
  src/go/k8s/pkg/resources/certmanager/pki_test.go
  src/go/k8s/pkg/resources/certmanager/schemaregistry_api.go
  src/go/k8s/tests/README.md
  src/go/k8s/tests/e2e/create-topic-given-cert-secret/00-create-cluster-issuer.yaml
  src/go/k8s/tests/e2e/create-topic-given-cert-secret/01-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/create-topic-given-cert-secret/04-assert.yaml
  src/go/k8s/tests/e2e/create-topic-given-cert-secret/04-create-schema.yaml
  src/go/k8s/tests/e2e/create-topic-given-cm-secret-client-auth/00-create-certificate.yaml
  src/go/k8s/tests/e2e/create-topic-given-cm-secret-client-auth/01-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/create-topic-given-cm-secret-client-auth/04-assert.yaml
  src/go/k8s/tests/e2e/create-topic-given-cm-secret-client-auth/04-create-schema.yaml
  src/go/k8s/tests/e2e/create-topic-given-issuer/00-create-cluster-issuer.yaml
  src/go/k8s/tests/e2e/create-topic-given-issuer/01-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/create-topic-given-issuer/04-assert.yaml
  src/go/k8s/tests/e2e/create-topic-given-issuer/04-create-schema.yaml
Labels: area/k8s, kind/backport, backport/21.11.x

#3566 Backport #3537
  src/v/cluster/persisted_stm.cc
  src/v/cluster/persisted_stm.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/types.h
  tests/rptest/tests/multi_restarts_with_archival_test.py
Labels: area/redpanda

#3212 coproc: Move materialized partitions
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/coproc/api.cc
  src/v/coproc/api.h
  src/v/coproc/errc.h
  src/v/coproc/event_handler.cc
  src/v/coproc/event_handler.h
  src/v/coproc/event_listener.cc
  src/v/coproc/event_listener.h
  src/v/coproc/exception.h
  src/v/coproc/fwd.h
  src/v/coproc/pacemaker.cc
  src/v/coproc/pacemaker.h
  src/v/coproc/partition_manager.cc
  src/v/coproc/partition_manager.h
  src/v/coproc/reconciliation_backend.cc
  src/v/coproc/reconciliation_backend.h
  src/v/coproc/script_context.cc
  src/v/coproc/script_context.h
  src/v/coproc/script_context_backend.cc
  src/v/coproc/script_context_frontend.cc
  src/v/coproc/script_database.h
  src/v/coproc/script_dispatcher.cc
  src/v/coproc/script_dispatcher.h
  src/v/coproc/tests/CMakeLists.txt
  src/v/coproc/tests/fixtures/coproc_test_fixture.cc
  src/v/coproc/tests/partition_movement_tests.cc
  src/v/redpanda/admin/api-doc/partition.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  src/v/redpanda/application.cc
  tests/rptest/tests/partition_movement.py
  tests/rptest/tests/partition_movement_test.py
  tests/rptest/tests/wasm_filter_test.py
  tests/rptest/tests/wasm_identity_test.py
  tests/rptest/tests/wasm_partition_movement_test.py
  tests/rptest/wasm/wasm_script.py
  tests/rptest/wasm/wasm_test.py
Labels: area/redpanda, backport/21.11.x

#3543 ssx: add spawn_with_gate, spawn_with_gate_then, background
  src/v/archival/service.cc
  src/v/cluster/config_manager.cc
  src/v/cluster/controller_backend.cc
  src/v/cluster/health_manager.cc
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/members_backend.cc
  src/v/cluster/members_manager.cc
  src/v/cluster/metadata_dissemination_service.cc
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/rm_stm.cc
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/cluster/tx_gateway_frontend.cc
  src/v/coproc/event_listener.cc
  src/v/coproc/pacemaker.cc
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/group_manager.cc
  src/v/raft/append_entries_buffer.cc
  src/v/raft/consensus.cc
  src/v/raft/event_manager.cc
  src/v/raft/log_eviction_stm.cc
  src/v/raft/mutex_buffer.h
  src/v/raft/mux_state_machine.h
  src/v/raft/state_machine.cc
  src/v/rpc/transport.cc
  src/v/ssx/future-util.h
  src/v/storage/backlog_controller.cc
  src/v/storage/batch_cache.cc
  src/v/storage/kvstore.cc
  src/v/storage/log_manager.cc
  src/v/storage/readers_cache.cc
  src/v/storage/segment.cc
Labels: area/redpanda, kind/tech-debt

#3460 [transaction] Add mark tx expired request to admin_api
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/types.h
  src/v/redpanda/admin/api-doc/partition.json
  src/v/redpanda/admin_server.cc
  tests/rptest/services/admin.py
  tests/rptest/tests/tx_admin_api_test.py
Labels: area/redpanda

#3557 tests: extend BadLogLines checks
  src/v/raft/heartbeat_manager.cc
  tests/rptest/services/redpanda.py
  tests/rptest/tests/nodes_decommissioning_test.py
Labels: area/redpanda, kind/tech-debt, area/tests

#3576 coproc: Yield if inputs haven't been hydrated
  src/v/coproc/script_context_frontend.cc
Labels: area/redpanda, backport/21.11.x

#3575 tests: retain redpanda binary on Sanitizer failures
  tests/rptest/services/redpanda.py
Labels: kind/enhance, area/tests

#3585 ducktape: Disable test_consumer_group_binary_v2
  tests/rptest/tests/pandaproxy_test.py
Labels: area/pandaproxy, ci-failure

#3586 schema_registry: Bump swagger version to 1.0.0
  src/v/pandaproxy/api/api-doc/schema_registry_header.json
Labels: area/redpanda

#3579 docs: fix rpk commands
  docs/www/rpk-commands.md
Labels: area/docs

#3567 rpc: Wrap ZSTD_error_memory_allocation to std::bad_alloc & catch exceptions from dispatch
  src/v/compression/stream_zstd.cc
  src/v/rpc/simple_protocol.cc
Labels: area/redpanda

#3465 Adjusting cobra help text
  src/go/rpk/pkg/cli/cmd/generate/prometheus.go
  src/go/rpk/pkg/cli/cmd/group/seek.go
  src/go/rpk/pkg/cli/cmd/topic/config.go
  src/go/rpk/pkg/cli/cmd/topic/consume.go
  src/go/rpk/pkg/cli/cmd/topic/create.go
  src/go/rpk/pkg/cli/cmd/topic/produce.go
Labels: area/rpk

#3587 k/fetch_handler: always close reader before destroying it
  src/v/kafka/server/handlers/fetch.cc
Labels: area/redpanda

#3597 Backport #3587
  src/v/kafka/server/handlers/fetch.cc
Labels: area/redpanda

#3574 updating documentation code owner in github
  .github/CODEOWNERS
Labels: area/build

#3591 Update remaining (void)with_gate calls to spawn_with_gate helper
  src/v/cluster/persisted_stm.cc
  src/v/coproc/reconciliation_backend.cc
  src/v/kafka/server/group_manager.cc
  src/v/net/server.cc
  src/v/raft/heartbeat_manager.cc
Labels: area/redpanda, kind/tech-debt

#3590 tests,rpc: update for BadLogLines test failures
  src/v/rpc/simple_protocol.cc
  tests/rptest/tests/cluster_metadata_test.py
  tests/rptest/tests/rpk_config_test.py
Labels: kind/bug, area/redpanda, area/tests

#3530 Partition bytes metrics
  src/v/cluster/partition_probe.cc
  src/v/cluster/partition_probe.h
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/produce.cc
  tests/rptest/tests/partition_metrics_test.py
Labels: area/redpanda

#3611 Fix incorrect assertion in wasm ducktape test that breaks CI
  tests/rptest/tests/wasm_partition_movement_test.py
Labels: kind/bug, ci-failure

#3569 raft: Earlier heartbeat manager shutdown
  src/v/raft/group_manager.cc
  src/v/raft/group_manager.h
  src/v/raft/heartbeat_manager.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
Labels: area/raft, area/redpanda, kind/tech-debt

#3492 archival: Use stable paths in S3 bucket
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/archival/service.cc
  src/v/archival/service.h
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/cloud_storage/manifest.cc
  src/v/cloud_storage/manifest.h
  src/v/cloud_storage/partition_recovery_manager.cc
  src/v/cloud_storage/tests/common_def.h
  src/v/cloud_storage/tests/manifest_test.cc
  src/v/cloud_storage/tests/remote_segment_test.cc
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
  src/v/cluster/controller_backend.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/coproc/reconciliation_backend.cc
  src/v/model/metadata.h
  src/v/storage/ntp_config.h
  src/v/storage/types.cc
Labels: area/redpanda

#3370 admin_server: add versioned cluster_view api
  src/v/cluster/members_manager.cc
  src/v/cluster/members_manager.h
  src/v/cluster/members_table.cc
  src/v/cluster/members_table.h
  src/v/redpanda/admin/api-doc/broker.json
  src/v/redpanda/admin_server.cc
  tests/rptest/services/admin.py
  tests/rptest/tests/cluster_view_test.py
Labels: area/redpanda

#3606 docs: data archive - removing old message about upcoming features
  docs/www/data-archiving.md
Labels: area/docs

#3563 docs: adding rpk tune info
  docs/www/quick-start-kubernetes.md
Labels: area/docs

#3565 rpk: try to send write requests to Leader but fallback to broadcast to all brokers
  src/go/rpk/pkg/api/admin/admin.go
  src/go/rpk/pkg/api/admin/admin_test.go
  src/go/rpk/pkg/api/admin/api_broker.go
  src/go/rpk/pkg/api/admin/api_node_config.go
  src/go/rpk/pkg/api/admin/api_partition.go
  src/go/rpk/pkg/api/admin/api_user.go
Labels: area/rpk

#3627 Fix NodeJs issue when running rpk wasm generate in CI enviornment
  src/go/rpk/pkg/cli/cmd/wasm/generate.go
  src/go/rpk/pkg/cli/cmd/wasm/generate_test.go
  tests/rptest/clients/rpk.py
Labels: kind/bug, area/rpk

#3621 docker: build Java packages before other steps
  tests/docker/Dockerfile
Labels: area/build, kind/tech-debt

#3584 Pandaproxy consumer improvements
  docs/www/configuration.md
  src/v/kafka/client/client.cc
  src/v/kafka/client/client.h
  src/v/kafka/client/consumer.cc
  src/v/kafka/client/consumer.h
  src/v/pandaproxy/error.cc
  src/v/pandaproxy/error.h
  src/v/pandaproxy/rest/configuration.cc
  src/v/pandaproxy/rest/configuration.h
  src/v/pandaproxy/rest/handlers.cc
  src/v/redpanda/application.cc
  tests/rptest/tests/pandaproxy_test.py
Labels: area/docs, area/redpanda, area/pandaproxy, need-backport

#3600 tree-wide: Copy lambda captures to coroutine frame.
  src/v/cloud_storage/partition_recovery_manager.cc
  src/v/cloud_storage/recursive_directory_walker.cc
  src/v/coproc/script_context_backend.cc
  src/v/coproc/tests/fixtures/fiber_mock_fixture.cc
  src/v/coproc/tests/pacemaker_tests.cc
  src/v/pandaproxy/rest/handlers.cc
  src/v/redpanda/admin_server.cc
  src/v/s3/tests/s3_client_test.cc
Labels: area/redpanda

#3617 s/compaction: only compact data batches during compaction
  src/v/storage/compaction_reducers.cc
Labels: area/redpanda

#3628 pandaproxy/handlers: Don't use moved from value
  src/v/pandaproxy/rest/handlers.cc
Labels: area/redpanda, area/pandaproxy, kind/tech-debt, need-backport

#3631 Backporting #3355 #3487
  src/v/cluster/members_backend.cc
  src/v/cluster/metadata_dissemination_service.cc
  src/v/cluster/metadata_dissemination_service.h
  src/v/cluster/topic_table.h
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/tests/error_mapping_test.cc
  src/v/raft/follower_stats.cc
  src/v/redpanda/application.cc
  tests/rptest/services/failure_injector.py
  tests/rptest/tests/node_operations_fuzzy_test.py
Labels: area/redpanda

#3636 Storage: remove temp files from previous compaction attempts
  src/v/storage/segment_utils.cc
Labels: area/redpanda

#3638 tests: remove precise metrics checks in RaftAvailabilityTest
  tests/rptest/tests/raft_availability_test.py
Labels: kind/tech-debt, area/tests

#3398 cluster: safety checks on partition counts when creating/expanding topics.
  src/v/cluster/cluster_utils.cc
  src/v/cluster/controller.cc
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/cluster/scheduling/partition_allocator.h
  src/v/cluster/tests/partition_allocator_fixture.h
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/cluster/tests/topic_table_fixture.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/model/adl_serde.cc
  src/v/model/metadata.h
  src/v/model/model.cc
  tests/rptest/clients/rpk.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/redpanda_test.py
  tests/rptest/tests/resource_limits_test.py
  tests/rptest/tests/schema_registry_test.py
Labels: kind/enhance, area/redpanda

#3640 operator: disallow reducing the number of cores
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook_test.go
Labels: area/k8s

#3645 cluster: fix core count invariant check
  src/v/cluster/members_manager.cc
  tests/rptest/tests/node_resize_test.py
Labels: kind/bug, area/controller, area/redpanda

#3632 Backporting #3492 (Use stable paths in s3)
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/archival/service.cc
  src/v/archival/service.h
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/cloud_storage/manifest.cc
  src/v/cloud_storage/manifest.h
  src/v/cloud_storage/partition_recovery_manager.cc
  src/v/cloud_storage/tests/common_def.h
  src/v/cloud_storage/tests/manifest_test.cc
  src/v/cloud_storage/tests/remote_segment_test.cc
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
  src/v/cluster/controller_backend.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/model/metadata.h
  src/v/storage/ntp_config.h
  src/v/storage/types.cc
Labels: area/redpanda

#3607 cloud_storage: Improve SI memory layout
  src/v/archival/tests/service_fixture.cc
  src/v/cloud_storage/manifest.cc
  src/v/cloud_storage/manifest.h
  src/v/cloud_storage/offset_translation_layer.cc
  src/v/cloud_storage/offset_translation_layer.h
  src/v/cloud_storage/partition_recovery_manager.cc
  src/v/cloud_storage/partition_recovery_manager.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/tests/manifest_test.cc
  src/v/cloud_storage/tests/offset_translation_layer_test.cc
  src/v/cloud_storage/tests/remote_partition_test.cc
  src/v/cloud_storage/tests/remote_segment_test.cc
  src/v/cluster/archival_metadata_stm.cc
Labels: area/redpanda
