Repository redpanda-data/redpanda, pull requests merged in 2022-03, with the labels that each got.

#3913 v21.11.x/backport: #3413
  src/v/kafka/server/errors.h
Labels: area/redpanda

#3819 admin: add HTTP basic authentication
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/rpk/pkg/api/admin/admin.go
  src/go/rpk/pkg/api/admin/admin_test.go
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  src/v/redpanda/application.cc
  src/v/redpanda/request_auth.cc
  src/v/redpanda/request_auth.h
  src/v/redpanda/tests/fixture.h
  src/v/security/tests/scram_algorithm_test.cc
  src/v/utils/base64.cc
  src/v/utils/base64.h
  tests/rptest/services/admin.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/admin_api_auth_test.py
  tests/rptest/tests/cluster_config_test.py
Labels: kind/enhance, area/rpk, area/redpanda, area/k8s

#3912 adding tls enabled to admin api
  src/go/k8s/config/samples/tls.yaml
Labels: area/k8s

#3794 k8s: preferred advertised addresses for external Kafka API listener
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook_test.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/cmd/configurator/main.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/controllers/redpanda/cluster_controller_test.go
  src/go/k8s/pkg/networking/address_types.go
  src/go/k8s/pkg/networking/address_types_test.go
  src/go/k8s/pkg/resources/statefulset.go
Labels: area/k8s

#3801 cluster: refactor shared waiter_queue into utils
  src/v/cluster/feature_table.cc
  src/v/cluster/feature_table.h
  src/v/cluster/members_table.h
  src/v/utils/waiter_queue.h
Labels: area/controller, area/redpanda, kind/tech-debt

#3908 admin: add `include_defaults` flag to /v1/cluster_config endpoint
  src/v/config/config_store.h
  src/v/redpanda/admin/api-doc/cluster_config.json
  src/v/redpanda/admin_server.cc
  tests/rptest/services/admin.py
  tests/rptest/tests/cluster_config_test.py
Labels: area/redpanda

#3762 storage: make segment/compaction properties live-adjustable
  src/v/config/configuration.cc
  src/v/config/property.h
  src/v/raft/kvelldb/kvserver.cc
  src/v/raft/tests/bootstrap_configuration_test.cc
  src/v/raft/tests/configuration_manager_test.cc
  src/v/raft/tests/foreign_entry_test.cc
  src/v/raft/tests/mux_state_machine_fixture.h
  src/v/raft/tests/offset_translator_tests.cc
  src/v/raft/tests/raft_group_fixture.h
  src/v/raft/tron/server.cc
  src/v/redpanda/application.cc
  src/v/storage/api.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/log_manager.cc
  src/v/storage/log_manager.h
  src/v/storage/tests/log_manager_test.cc
  src/v/storage/tests/storage_e2e_test.cc
  src/v/storage/tests/utils/disk_log_builder.cc
  src/v/test_utils/logs.h
Labels: kind/enhance, area/storage, area/redpanda

#3926 tools/coverage: calculate total coverage & speed up
  tools/coverage_dash.py
Labels: kind/enhance, area/tests, ci-codecov

#3881 Shadow indexing metrics
  src/v/archival/archival_policy.cc
  src/v/archival/archival_policy.h
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/archival/probe.cc
  src/v/archival/probe.h
  src/v/archival/service.cc
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/cloud_storage/CMakeLists.txt
  src/v/cloud_storage/cache_probe.cc
  src/v/cloud_storage/cache_probe.h
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/cache_service.h
  src/v/cloud_storage/partition_probe.cc
  src/v/cloud_storage/partition_probe.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/tests/remote_segment_test.cc
Labels: area/redpanda

#3937 Backport #3881 to v21.11.x
  src/v/archival/archival_policy.cc
  src/v/archival/archival_policy.h
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/archival/probe.cc
  src/v/archival/probe.h
  src/v/archival/service.cc
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/cloud_storage/CMakeLists.txt
  src/v/cloud_storage/cache_probe.cc
  src/v/cloud_storage/cache_probe.h
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/cache_service.h
  src/v/cloud_storage/partition_probe.cc
  src/v/cloud_storage/partition_probe.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/tests/remote_segment_test.cc
Labels: area/redpanda

#3824 Make idempotency compatible with sarama
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/model/record.h
  tests/docker/Dockerfile
  tests/docker/Dockerfile.dockerignore
  tests/go/sarama/produce_test/go.mod
  tests/go/sarama/produce_test/main.go
  tests/rptest/tests/compatibility/sarama_produce_test.py
Labels: kind/bug, area/redpanda, client-compat, area/transactions

#3938 tests: update log allow list
  tests/rptest/services/redpanda.py
  tests/rptest/tests/partition_movement_test.py
Labels: kind/bug, area/tests

#3945 tests: log file listing on failures to delete
  tests/rptest/tests/topic_delete_test.py
  tests/rptest/util.py
Labels: kind/tech-debt, area/tests

#3943 Backport of #3722 #3242 #3657 #3433
  src/v/cluster/controller_backend.cc
  src/v/cluster/members_backend.cc
  src/v/cluster/members_backend.h
  src/v/cluster/metadata_dissemination_service.cc
  src/v/cluster/tests/partition_moving_test.cc
  src/v/raft/consensus.cc
  src/v/raft/offset_translator.cc
  src/v/raft/offset_translator.h
  src/v/raft/tests/offset_translator_tests.cc
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda

#3944 Fix offset for leader epoch test
  tests/rptest/tests/offset_for_leader_epoch_test.py
Labels: kind/bug, area/tests

#2683 Dynamic memory usage control for `recovery_stm`
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/raft/CMakeLists.txt
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/group_manager.cc
  src/v/raft/group_manager.h
  src/v/raft/kvelldb/kvserver.cc
  src/v/raft/recovery_memory_quota.cc
  src/v/raft/recovery_memory_quota.h
  src/v/raft/recovery_stm.cc
  src/v/raft/recovery_stm.h
  src/v/raft/tests/mux_state_machine_fixture.h
  src/v/raft/tests/raft_group_fixture.h
  src/v/raft/tron/server.cc
  src/v/redpanda/application.cc
  src/v/resource_mgmt/memory_groups.h
Labels: area/redpanda

#3760 config: enable central config by default
  conf/redpanda.yaml
  src/v/cluster/config_frontend.cc
  src/v/cluster/config_frontend.h
  src/v/cluster/config_manager.cc
  src/v/cluster/config_manager.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/node_config.cc
  src/v/config/node_config.h
  src/v/kafka/server/handlers/incremental_alter_configs.cc
  src/v/redpanda/admin_server.cc
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/redpanda/tests/fixture.h
  src/v/utils/file_io.cc
  src/v/utils/file_io.h
  tests/rptest/services/redpanda.py
  tests/rptest/services/templates/redpanda.yaml
  tests/rptest/tests/acls_test.py
  tests/rptest/tests/admin_api_auth_test.py
  tests/rptest/tests/cluster_config_test.py
  tests/rptest/tests/cluster_features_test.py
  tests/rptest/tests/compaction_recovery_test.py
  tests/rptest/tests/end_to_end.py
  tests/rptest/tests/rpk_config_test.py
  tests/rptest/tests/scram_pythonlib_test.py
  tests/rptest/tests/scram_test.py
  tests/rptest/tests/topic_autocreate_test.py
  tests/rptest/tests/wasm_partition_movement_test.py
  tests/rptest/wasm/wasm_test.py
Labels: kind/enhance, area/controller, area/redpanda

#3953 tests: add script for trimming logs on successful tests
  tests/rptest/ducktape.sh
  tests/rptest/trim_results.py
Labels: kind/enhance, area/tests

#3954 tests: shrink client port range to protect 33145
  tests/docker/docker-compose.yml
  tests/rptest/tests/configuration_update_test.py
Labels: kind/bug, area/tests

#3941 tests: improve failure reporting to call out redpanda crashes
  tests/rptest/services/cluster.py
  tests/rptest/services/redpanda.py
Labels: kind/enhance, area/tests

#3961 tests: fix a log allow list entry
  tests/rptest/services/redpanda.py
Labels: kind/bug, area/tests

#3885 New storage disk metrics
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
  src/v/cluster/health_monitor_types.cc
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/node/local_monitor.cc
  src/v/cluster/node/local_monitor.h
  src/v/cluster/node/types.cc
  src/v/cluster/node/types.h
  src/v/cluster/tests/local_monitor_fixture.h
  src/v/cluster/tests/local_monitor_test.cc
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/storage/api.h
  src/v/storage/fwd.h
  src/v/storage/probe.cc
  src/v/storage/probe.h
  src/v/storage/types.cc
  src/v/storage/types.h
Labels: area/redpanda

#3966 tests: fix wasm_partition_movement_test log allow list
  tests/rptest/tests/wasm_partition_movement_test.py
Labels: kind/bug, area/tests

#3965 kafka: reduce oversized fetch log from info to debug
  src/v/kafka/server/handlers/fetch.cc
Labels: area/kafka, area/redpanda, kind/tech-debt

#3967 coproc: disable unit test in CI
  src/v/coproc/tests/CMakeLists.txt
Labels: area/redpanda, kind/tech-debt, area/coproc

#3970 v21.11.x/backport: #3964 (kafka: reduce oversized fetch log from info to debug)
  src/v/kafka/server/handlers/fetch.cc
Labels: area/kafka, area/redpanda, kind/backport

#3922 kafka: ability to Limit Connection Creation Rate on Brokers
  src/v/config/CMakeLists.txt
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/validators.cc
  src/v/config/validators.h
  src/v/net/CMakeLists.txt
  src/v/net/connection_rate.cc
  src/v/net/connection_rate.h
  src/v/net/inet_address_wrapper.h
  src/v/net/server.cc
  src/v/net/server.h
  src/v/net/server_probe.h
  src/v/net/tests/CMakeLists.txt
  src/v/net/tests/connection_rate_test.cc
  src/v/redpanda/application.cc
  tests/rptest/services/kaf_consumer.py
  tests/rptest/tests/cluster_config_test.py
  tests/rptest/tests/connection_rate_limit_test.py
Labels: area/redpanda

#3936 cluster: extend feature manager with 'preparing' state and API for explicit activation
  src/v/cluster/controller.h
  src/v/cluster/controller.json
  src/v/cluster/feature_backend.cc
  src/v/cluster/feature_manager.cc
  src/v/cluster/feature_manager.h
  src/v/cluster/feature_table.cc
  src/v/cluster/feature_table.h
  src/v/cluster/service.cc
  src/v/cluster/service.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/admin/api-doc/features.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/application.cc
  src/v/utils/waiter_queue.h
  tests/rptest/services/admin.py
  tests/rptest/tests/cluster_features_test.py
Labels: kind/enhance, area/controller, area/redpanda

#3976 tests: disable connection_rate_limit_test
  tests/rptest/tests/connection_rate_limit_test.py
Labels: kind/tech-debt, area/tests

#3952 Fix waiters queue abort
  src/v/utils/tests/CMakeLists.txt
  src/v/utils/tests/waiter_queue_test.cc
  src/v/utils/waiter_queue.h
Labels: area/redpanda

#3974 k8s: make deploy to use dev tag instead of latest
  src/go/k8s/Makefile
  src/go/k8s/kuttl-helm-test.yaml
  src/go/k8s/kuttl-test.yaml
Labels: area/k8s

#3902 Kafka compatible consumer offset topic metadata
  src/v/kafka/CMakeLists.txt
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
  src/v/kafka/server/group_metadata.cc
  src/v/kafka/server/group_metadata.h
  src/v/kafka/server/group_recovery_consumer.cc
  src/v/kafka/server/group_recovery_consumer.h
  src/v/kafka/server/group_stm.cc
  src/v/kafka/server/group_stm.h
  src/v/kafka/server/member.cc
  src/v/kafka/server/member.h
  src/v/kafka/server/tests/CMakeLists.txt
  src/v/kafka/server/tests/group_metadata_serialization_test.cc
  src/v/kafka/server/tests/group_test.cc
  src/v/kafka/server/tests/member_test.cc
Labels: area/redpanda

#3973 adding mtls exaple file
  src/go/k8s/config/samples/mtls.yaml
Labels: area/k8s

#3995 remove brew tap step in github workflow action
  .github/workflows/rpk-build.yml
Labels: kind/bug, area/build

#3950 rpk: add missing loggers
  src/go/rpk/pkg/cli/cmd/redpanda/admin/config/config.go
Labels: area/rpk

#3983 Disable flaky coproc unit test on CI and re-enable the rest of them
  src/v/coproc/tests/CMakeLists.txt
  src/v/coproc/tests/pacemaker_tests.cc
  src/v/coproc/tests/pacemaker_unstable_tests.cc
Labels: area/redpanda

#3933 raft: Interrupt configuration change
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/group_configuration.cc
  src/v/raft/group_configuration.h
  src/v/raft/tests/group_configuration_tests.cc
  src/v/raft/tests/membership_test.cc
Labels: area/redpanda

#3988 tests: save binaries on segfaults and assertions
  tests/rptest/services/redpanda.py
Labels: kind/tech-debt, area/tests

#3992 tests: save binaries on segfaults and assertions
  tests/rptest/services/redpanda.py
Labels: kind/tech-debt, area/tests

#3987 tools: add single_test_cov.sh script
  tools/single_test_cov.sh
Labels: kind/enhance, kind/tech-debt

#3979 cluster: add feature manager barriers
  src/v/cluster/CMakeLists.txt
  src/v/cluster/controller.cc
  src/v/cluster/controller.json
  src/v/cluster/feature_barrier.cc
  src/v/cluster/feature_barrier.h
  src/v/cluster/feature_manager.cc
  src/v/cluster/feature_manager.h
  src/v/cluster/service.cc
  src/v/cluster/service.h
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/feature_barrier_test.cc
  src/v/cluster/types.cc
  src/v/cluster/types.h
Labels: kind/enhance, area/controller, area/redpanda

#3901 net: add `conn_quota` for connection count limits
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/mock_property.h
  src/v/net/CMakeLists.txt
  src/v/net/conn_quota.cc
  src/v/net/conn_quota.h
  src/v/net/probes.cc
  src/v/net/server.cc
  src/v/net/server.h
  src/v/net/server_probe.h
  src/v/net/tests/CMakeLists.txt
  src/v/net/tests/conn_quota_test.cc
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/utils/mutex.h
  tests/rptest/services/metrics_check.py
  tests/rptest/tests/connection_limits_test.py
  tests/rptest/tests/raft_availability_test.py
Labels: area/redpanda

#3899 Address nits from code review
  src/v/cluster/node/local_monitor.cc
  src/v/cluster/node/local_monitor.h
  src/v/cluster/tests/local_monitor_test.cc
Labels: area/redpanda

#4014 Partition movement metrics
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
  src/v/cluster/members_backend.cc
  src/v/cluster/members_backend.h
  src/v/raft/consensus.cc
Labels: area/redpanda

#4015 config: make metrics_reporter_url visible
  src/v/config/configuration.cc
  src/v/config/property.h
  src/v/config/tests/config_store_test.cc
Labels: area/redpanda, kind/tech-debt

#4033 Fix Index State Random Data Generation in Test
  src/v/storage/tests/index_state_test.cc
Labels: area/redpanda

#4010 storage: fix integer overflow in max_timestamp
  src/v/storage/index_state.cc
Labels: kind/bug, area/storage, area/redpanda

#4030 k/response_writer: use term as a batch partition leader epoch
  src/v/kafka/protocol/kafka_batch_adapter.cc
  src/v/kafka/protocol/response_writer.h
  src/v/model/record.h
Labels: area/redpanda

#4028 rpk: do not require lib/libexec files
  src/go/rpk/pkg/redpanda/paths.go
Labels: area/rpk, kind/tech-debt

#3932 Support node maintenance mode
  src/v/cluster/CMakeLists.txt
  src/v/cluster/commands.h
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/controller.json
  src/v/cluster/drain_manager.cc
  src/v/cluster/drain_manager.h
  src/v/cluster/feature_table.cc
  src/v/cluster/feature_table.h
  src/v/cluster/fwd.h
  src/v/cluster/members_frontend.cc
  src/v/cluster/members_frontend.h
  src/v/cluster/members_manager.cc
  src/v/cluster/members_manager.h
  src/v/cluster/members_table.cc
  src/v/cluster/members_table.h
  src/v/cluster/partition.h
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/cluster/service.cc
  src/v/cluster/service.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/model/metadata.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/redpanda/admin/api-doc/broker.json
  src/v/redpanda/admin/api-doc/partition.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  tests/rptest/services/admin.py
  tests/rptest/tests/cluster_features_test.py
  tests/rptest/tests/maintenance_test.py
Labels: area/redpanda

#4042 test: disable leader balancer in RecreateTopicMetadataTest
  tests/rptest/tests/recreate_topic_metadata_test.py
Labels: kind/bug, area/tests

#4026 add requireClientAuth to kafka api
  src/go/k8s/config/samples/mtls.yaml
Labels: area/k8s

#3981 Support for `__consumer_offsets` topic
  src/v/cluster/controller.h
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
  src/v/cluster/errc.h
  src/v/cluster/health_manager.cc
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_manager.cc
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
  src/v/cluster/types.h
  src/v/kafka/CMakeLists.txt
  src/v/kafka/server/coordinator_ntp_mapper.h
  src/v/kafka/server/errors.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
  src/v/kafka/server/group_metadata.cc
  src/v/kafka/server/group_metadata.h
  src/v/kafka/server/group_metadata_migration.cc
  src/v/kafka/server/group_metadata_migration.h
  src/v/kafka/server/group_router.cc
  src/v/kafka/server/group_router.h
  src/v/kafka/server/group_stm.h
  src/v/kafka/server/handlers/metadata.cc
  src/v/kafka/server/protocol.cc
  src/v/kafka/server/protocol.h
  src/v/kafka/server/rm_group_frontend.cc
  src/v/kafka/server/rm_group_frontend.h
  src/v/kafka/server/tests/group_metadata_serialization_test.cc
  src/v/model/namespace.h
  src/v/pandaproxy/rest/handlers.cc
  src/v/platform/stop_signal.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/redpanda/tests/fixture.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/segment.cc
  src/v/storage/utils/transforming_reader.h
  tests/rptest/services/verifiable_consumer.py
  tests/rptest/tests/consumer_offsets_migration_test.py
  tests/rptest/tests/group_membership_test.py
  tests/rptest/tests/partition_movement.py
  tests/rptest/tests/partition_movement_test.py
  tests/rptest/tests/scaling_up_test.py
  tests/rptest/tests/wasm_partition_movement_test.py
Labels: area/redpanda

#3661 [transaction] Delete partition from transaction request
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/tx_gateway_frontend.h
  src/v/redpanda/admin/api-doc/transaction.json
  src/v/redpanda/admin_server.cc
  tests/rptest/services/admin.py
  tests/rptest/tests/tx_admin_api_test.py
Labels: area/redpanda

#3830 cloud_storage: Remote segment compressed index
  src/v/cloud_storage/CMakeLists.txt
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/remote_segment_index.cc
  src/v/cloud_storage/remote_segment_index.h
  src/v/cloud_storage/tests/CMakeLists.txt
  src/v/cloud_storage/tests/directory_walker_test.cc
  src/v/cloud_storage/tests/remote_partition_test.cc
  src/v/cloud_storage/tests/remote_segment_index_test.cc
  src/v/test_utils/tmp_dir.h
  src/v/utils/delta_for.h
  src/v/utils/stream_utils.h
  src/v/utils/tests/CMakeLists.txt
  src/v/utils/tests/delta_for_test.cc
Labels: area/redpanda

#4039 rpk: update short description with new company name
  src/go/rpk/pkg/cli/cmd/debug/bundle.go
  src/go/rpk/pkg/cli/cmd/debug/info.go
Labels: area/rpk

#4056 Remote segment index followup
  src/v/archival/fwd.h
  src/v/cloud_storage/fwd.h
  src/v/cloud_storage/partition_recovery_manager.cc
  src/v/cloud_storage/partition_recovery_manager.h
  src/v/cloud_storage/recursive_directory_walker.cc
  src/v/cloud_storage/recursive_directory_walker.h
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/remote_segment_index.h
  src/v/cloud_storage/tests/common_def.h
  src/v/cloud_storage/tests/remote_segment_index_test.cc
  src/v/cloud_storage/types.cc
  src/v/cloud_storage/types.h
  src/v/test_utils/tmp_dir.h
  src/v/utils/delta_for.h
Labels: area/redpanda

#4025 Rack-aware replica placement
  src/v/cluster/controller.cc
  src/v/cluster/scheduling/allocation_node.cc
  src/v/cluster/scheduling/allocation_node.h
  src/v/cluster/scheduling/allocation_state.cc
  src/v/cluster/scheduling/allocation_state.h
  src/v/cluster/scheduling/constraints.cc
  src/v/cluster/scheduling/constraints.h
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/cluster/scheduling/partition_allocator.h
  src/v/cluster/tests/partition_allocator_fixture.h
  src/v/cluster/tests/partition_allocator_tests.cc
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/cluster/tests/topic_table_fixture.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/node_config.h
  src/v/config/property.h
  src/v/json/json.h
  src/v/model/adl_serde.cc
  src/v/model/metadata.h
  src/v/raft/kvelldb/kvserver.cc
  src/v/raft/tests/type_serialization_tests.cc
  src/v/raft/tron/server.cc
  src/v/redpanda/tests/fixture.h
Labels: area/redpanda

#4058 update links and wording of `redpanda --help` output
  src/v/redpanda/main.cc
Labels: area/redpanda

#4066 gha/rpk: install gon without homebrew
  .github/workflows/rpk-build.yml
Labels: area/build

#4068 [v21.11.x] gha/rpk: install gon without homebrew
  .github/workflows/rpk-build.yml
Labels: area/build

#4048 Stopping consumer group pending operations
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/group_manager.cc
  tests/rptest/tests/full_node_recovery_test.py
Labels: area/redpanda

#3195 Fix topic recovery
  src/v/cloud_storage/offset_translation_layer.cc
  src/v/cloud_storage/offset_translation_layer.h
  src/v/cloud_storage/partition_recovery_manager.cc
  src/v/cloud_storage/partition_recovery_manager.h
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/raft/consensus_utils.cc
  src/v/raft/consensus_utils.h
  src/v/raft/offset_translator.cc
  src/v/raft/offset_translator.h
  tests/rptest/tests/topic_recovery_test.py
Labels: area/redpanda

#3141 Unit test and failpoint cleanup.
  src/v/storage/failure_probes.h
  src/v/storage/tests/log_segment_appender_test.cc
  src/v/storage/tests/log_segment_reader_test.cc
Labels: area/redpanda

#4059 dashboard: update footer with new company links
  src/v/dashboard/src/App.tsx
Labels: area/redpanda

#4087 test/segment_appender: assert no short reads on append test
  src/v/storage/tests/log_segment_appender_test.cc
Labels: area/redpanda

#4069 switch off v8 lib for redpanda
  src/v/v8_engine/CMakeLists.txt
  src/v/v8_engine/internal/CMakeLists.txt
  src/v/v8_engine/internal/environment.cc
  src/v/v8_engine/internal/environment.h
  src/v/v8_engine/internal/executor.cc
  src/v/v8_engine/internal/executor.h
  src/v/v8_engine/internal/script.cc
  src/v/v8_engine/internal/script.h
  src/v/v8_engine/internal/tests/CMakeLists.txt
  src/v/v8_engine/internal/tests/executor_stress_test.cc
  src/v/v8_engine/internal/tests/executor_test.cc
  src/v/v8_engine/internal/tests/script_test.cc
  src/v/v8_engine/internal/tests/scripts/compile_timeout.js
  src/v/v8_engine/internal/tests/scripts/run_timeout.js
  src/v/v8_engine/internal/tests/scripts/sum.js
  src/v/v8_engine/internal/tests/scripts/to_upper.js
Labels: area/redpanda

#4102 [v21.11.x] storage: fix integer overflow in max_timestamp
  src/v/storage/index_state.cc
Labels: area/storage, area/redpanda, kind/backport

#4092 gha/rpk: bump golang version to 1.17.8
  .github/workflows/rpk-build.yml
Labels: area/build

#4091 rpk topic consume: expand the offset flag
  src/go/rpk/pkg/cli/cmd/topic/consume.go
  src/go/rpk/pkg/cli/cmd/topic/consume_test.go
Labels: area/rpk

#3733 rpk/cli: show help for incorrect number or invalid arguments
  src/go/rpk/pkg/cli/cmd/acl.go
  src/go/rpk/pkg/cli/cmd/debug/bundle.go
  src/go/rpk/pkg/cli/cmd/redpanda/check.go
  src/go/rpk/pkg/cli/cmd/redpanda/stop.go
  src/go/rpk/pkg/cli/cmd/root.go
  src/go/rpk/pkg/cli/cmd/version.go
  src/go/rpk/pkg/cli/cmd/wasm/generate.go
Labels: area/rpk

#3792 cloud_manifest: use SAX parsing for topic_manifest
  src/v/cloud_storage/tests/topic_manifest_test.cc
  src/v/cloud_storage/topic_manifest.cc
  src/v/cloud_storage/topic_manifest.h
  src/v/cloud_storage/types.h
Labels: area/redpanda

#4075 Added slash command to create backport issues
  .github/workflows/backport-command.yml
  .github/workflows/slash-commands.yml
Labels: kind/enhance, area/build

#4107 config: put upper bound on append_chunk_size
  src/go/k8s/tests/e2e/centralized-configuration-bootstrap/00-assert.yaml
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/storage/chunk_cache.h
Labels: area/redpanda, area/k8s

#4099 s/parser: fixed reading batches with header_crc equal to 0
  src/v/bytes/tests/iobuf_tests.cc
  src/v/bytes/utils.h
  src/v/storage/parser.cc
Labels: area/redpanda, backport-needed/21.11.x

#4129 schema_registry: Support default null type in union for Avro
  src/v/pandaproxy/schema_registry/avro.cc
  src/v/pandaproxy/schema_registry/test/compatibility_avro.cc
  src/v/pandaproxy/schema_registry/test/compatibility_avro.h
Labels: area/redpanda, backport-needed/21.11.x

#4119 tests: rename si-verifier to kgo-verifier, and improve it.
  tests/docker/Dockerfile
  tests/rptest/services/franz_go_verifiable_services.py
  tests/rptest/tests/franz_go_verifiable_test.py
Labels: kind/enhance, area/tests

#4133 Backport #4129: schema_registry: Support default nil type in union for Avro
  src/v/pandaproxy/schema_registry/avro.cc
  src/v/pandaproxy/schema_registry/test/compatibility_avro.cc
  src/v/pandaproxy/schema_registry/test/compatibility_avro.h
Labels: kind/bug, area/redpanda, area/schema_registry, kind/backport

#4137 update github issue template links and wording
  .github/ISSUE_TEMPLATE/config.yml
Labels: area/build

#4134 [v21.11.x] reading batches with header_crc equal to 0
  src/v/bytes/tests/iobuf_tests.cc
  src/v/bytes/utils.h
  src/v/storage/parser.cc
Labels: area/redpanda

#4139 gha/lint: bump go to version 1.17.8
  .github/workflows/lint.yml
Labels: area/build

#4126 operator: fix flaky kuttl tests
  src/go/k8s/hack/verify-condition-message.sh
  src/go/k8s/tests/e2e/centralized-configuration-bootstrap/00-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-bootstrap/02-probes.yaml
  src/go/k8s/tests/e2e/centralized-configuration-tls/02-probe.yaml
  src/go/k8s/tests/e2e/centralized-configuration-tls/05-probe.yaml
  src/go/k8s/tests/e2e/centralized-configuration-upgrade/03-probe.yaml
  src/go/k8s/tests/e2e/centralized-configuration/02-probe.yaml
  src/go/k8s/tests/e2e/centralized-configuration/05-probe.yaml
Labels: area/k8s

#4130 cloud_storage: improve validation of config properties
  src/v/redpanda/admin_server.cc
  tests/rptest/tests/admin_api_auth_test.py
  tests/rptest/tests/cluster_config_test.py
  tests/rptest/util.py
Labels: kind/enhance, area/redpanda, area/shadow-indexing

#4128 rpk generate: fix long help text typo
  src/go/rpk/pkg/cli/cmd/generate/prometheus.go
Labels: area/rpk

#4070 r/consensus: changed target priority decay coefficient
  src/v/raft/consensus.cc
Labels: area/redpanda
