Repository redpanda-data/redpanda, pull requests merged in 2022-07, with the labels that each got.

#5295 rpk: change exit code when rpk tune fails
  src/go/rpk/pkg/cli/cmd/redpanda/tune.go
Labels: area/rpk

#5244 storage: fix test partition_size_while_cleanup
  src/v/storage/tests/storage_e2e_test.cc
Labels: kind/bug, area/storage, area/redpanda, area/tests

#5301 controller: add serde support to controller rpc message types
  src/v/cluster/health_monitor_types.h
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/cluster/types.h
  src/v/serde/serde.h
  src/v/serde/test/serde_test.cc
Labels: area/redpanda

#5099 kafka: introduce separate TCP buffer sizes for kafka vs. internal RPC
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/application.cc
Labels: area/redpanda

#5308 Fix for bug where some requests would not respect min/max version checks
  src/v/kafka/client/broker.h
  src/v/kafka/client/transport.h
  src/v/kafka/server/requests.cc
  src/v/kafka/server/tests/produce_consume_test.cc
Labels: area/redpanda

#5306 accept out_of_bounds exception for corrupt data
  src/v/storage/tests/index_state_test.cc
Labels: area/redpanda

#5320 kafka/server: add missing placeholder in format string.
  src/v/kafka/server/connection_context.cc
Labels: area/redpanda

#5327 V21.11.x backport pr3223 pr3236
  cmake/oss.cmake.in
  tools/docker/README.md
Labels: area/build

#5166 Aggregate metrics to reduce cardinality
  src/v/archival/probe.cc
  src/v/cluster/partition_probe.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/latency_probe.h
  src/v/net/probes.cc
  src/v/pandaproxy/probe.cc
  src/v/raft/consensus.cc
  src/v/raft/probe.cc
  src/v/storage/probe.cc
  tests/rptest/tests/compacted_term_rolled_recovery_test.py
  tools/rpcgen.py
Labels: area/redpanda

#5304 Cleanups inspired by gcc
  src/v/cloud_storage/cache_service.cc
  src/v/cluster/config_manager.cc
  src/v/cluster/feature_manager.cc
  src/v/coproc/reconciliation_backend.cc
  src/v/kafka/client/broker.h
  src/v/kafka/server/handlers/handler.h
  src/v/kafka/server/handlers/offset_for_leader_epoch.cc
  src/v/kafka/server/handlers/topics/types.cc
  src/v/serde/serde.h
  src/v/ssx/sformat.h
  src/v/storage/segment_utils.cc
  src/v/storage/utils/transforming_reader.h
  src/v/utils/fragmented_vector.h
Labels: area/redpanda

#5331 tests: fix test_changing_topic_retention_with_restart
  tests/rptest/tests/retention_policy_test.py
Labels: area/tests, ci-failure

#5151 cluster: fix reactor stalls during shutdown
  src/v/cluster/partition_manager.cc
  src/v/ssx/async-clear.h
  src/v/storage/log_manager.cc
Labels: area/redpanda

#5142 Partition autobalancer planner
  src/v/cluster/CMakeLists.txt
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/partition_balancer_planner.h
  src/v/cluster/partition_balancer_types.h
  src/v/cluster/scheduling/constraints.cc
  src/v/cluster/scheduling/constraints.h
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/partition_balancer_planner_fixture.h
  src/v/cluster/tests/partition_balancer_planner_test.cc
Labels: area/redpanda

#5317 config: reduce min allowed storage_min_free_bytes
  src/v/config/configuration.cc
Labels: area/redpanda

#5342 c/persisted_stm: suppress error when offset monitor wait was aborted
  src/v/cluster/persisted_stm.cc
Labels: area/raft, area/redpanda, ci-failure

#2275 rpc: enable setting a limit on the seastar/userspace receive buffer size
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/net/connection.cc
  src/v/net/connection.h
  src/v/net/server.cc
  src/v/net/server.h
  src/v/redpanda/application.cc
Labels: kind/enhance, area/redpanda

#5300 rpk: change default_topic_partitions to -1
  src/go/rpk/pkg/cli/cmd/topic/create.go
Labels: area/rpk

#5165 Minimal primary metrics endpoint
  src/v/cluster/CMakeLists.txt
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/controller_probe.cc
  src/v/cluster/controller_probe.h
  src/v/cluster/members_table.cc
  src/v/cluster/members_table.h
  src/v/cluster/partition_probe.cc
  src/v/cluster/partition_probe.h
  src/v/cluster/tests/cluster_test_fixture.h
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/latency_probe.h
  src/v/pandaproxy/probe.cc
  src/v/pandaproxy/probe.h
  src/v/pandaproxy/rest/proxy.cc
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/server.cc
  src/v/pandaproxy/server.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/redpanda/admin_server.cc
  src/v/redpanda/tests/fixture.h
  src/v/ssx/CMakeLists.txt
  src/v/ssx/metrics.h
  src/v/utils/hdr_hist.cc
  src/v/utils/hdr_hist.h
  tests/rptest/services/metrics_check.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/cluster_metrics_test.py
Labels: area/redpanda

#5287 tests: extend trim_results.py to reduce tarball size
  tests/rptest/services/redpanda.py
  tests/rptest/trim_results.py
Labels: kind/enhance, area/tests

#5127 storage: explicitly mark clean segments in kvstore on clean shutdown
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/kvstore.cc
  src/v/storage/log.h
  src/v/storage/log_manager.cc
  src/v/storage/log_manager.h
  src/v/storage/mem_log_impl.cc
  src/v/storage/segment.cc
  src/v/storage/segment_set.cc
  src/v/storage/segment_set.h
  src/v/storage/segment_utils.cc
  src/v/storage/segment_utils.h
Labels: area/redpanda

#5348 rpk: allow write_disk_cache to fail in rpk tune
  src/go/rpk/pkg/cli/cmd/redpanda/tune.go
Labels: area/rpk

#5352 rpc: remove demos
  src/v/raft/CMakeLists.txt
  src/v/raft/tron/CMakeLists.txt
  src/v/raft/tron/client.cc
  src/v/raft/tron/gen.json
  src/v/raft/tron/logger.cc
  src/v/raft/tron/logger.h
  src/v/raft/tron/server.cc
  src/v/raft/tron/service.h
  src/v/raft/tron/types.h
  src/v/rpc/CMakeLists.txt
  src/v/rpc/demo/CMakeLists.txt
  src/v/rpc/demo/client.cc
  src/v/rpc/demo/demo_utils.h
  src/v/rpc/demo/gen.json
  src/v/rpc/demo/server.cc
  src/v/rpc/demo/type_tests.cc
  src/v/rpc/demo/types.h
Labels: area/redpanda

#5335 config: fix name+handling of topic_partitions_reserve_shard0
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/config/configuration.cc
Labels: kind/bug, area/redpanda

#5353 raft: add serde support for raft message types
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/raft/group_configuration.h
  src/v/raft/types.h
Labels: area/redpanda

#5260 rpk: fix build for windows OS
  .github/workflows/rpk-build.yml
  src/go/rpk/pkg/cli/cmd/iotune.go
  src/go/rpk/pkg/cli/cmd/root_windows.go
  src/go/rpk/pkg/config/params.go
  src/go/rpk/pkg/config/utils.go
  src/go/rpk/pkg/config/utils_windows.go
  src/go/rpk/pkg/os/lock.go
  src/go/rpk/pkg/redpanda/launcher.go
  src/go/rpk/pkg/system/filesystem/fs.go
  src/go/rpk/pkg/system/memory_windows.go
  src/go/rpk/pkg/system/metrics.go
  src/go/rpk/pkg/system/metrics_windows.go
  src/go/rpk/pkg/system/utils_windows.go
  src/go/rpk/pkg/tuners/ethtool/ethtool.go
  src/go/rpk/pkg/tuners/executors/commands/ethtool_change.go
  src/go/rpk/pkg/tuners/net_checkers.go
  src/go/rpk/pkg/tuners/net_tuners.go
  src/go/rpk/pkg/tuners/network/nic.go
  src/go/rpk/pkg/tuners/redpanda_checkers.go
Labels: area/rpk, area/build

#5369 Fix `rpk topic add-partition` panic
  src/go/rpk/pkg/cli/cmd/topic/add_partitions.go
  tests/rptest/clients/rpk.py
  tests/rptest/tests/rpk_topic_test.py
Labels: area/rpk

#5359 Bump seastar version for OSS builds
  cmake/oss.cmake.in
Labels: kind/enhance, area/build

#5349 kafka/group: add new consumer group metrics
  src/v/kafka/group_probe.h
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
Labels: kind/enhance, area/kafka, area/redpanda

#5190 Introduce license checks for redpanda
  src/v/cluster/commands.h
  src/v/cluster/feature_backend.cc
  src/v/cluster/feature_backend.h
  src/v/cluster/feature_manager.cc
  src/v/cluster/feature_manager.h
  src/v/cluster/feature_table.cc
  src/v/cluster/feature_table.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/redpanda/admin/api-doc/features.json
  src/v/redpanda/admin_server.cc
  src/v/security/CMakeLists.txt
  src/v/security/license.cc
  src/v/security/license.h
  src/v/security/tests/CMakeLists.txt
  src/v/security/tests/license_test.cc
  tests/rptest/services/admin.py
  tests/rptest/tests/cluster_features_test.py
  tools/offline_log_viewer/controller.py
Labels: kind/enhance, area/redpanda

#5298 rpk: add rpk tune list command
  src/go/rpk/pkg/cli/cmd/redpanda.go
  src/go/rpk/pkg/cli/cmd/redpanda/tune/help.go
  src/go/rpk/pkg/cli/cmd/redpanda/tune/list.go
  src/go/rpk/pkg/cli/cmd/redpanda/tune/tune.go
  src/go/rpk/pkg/cli/cmd/tune.go
  src/go/rpk/pkg/tuners/disks_irq_tuner.go
Labels: area/rpk

#5159 Rate limit leadership transfers
  src/v/cluster/controller.cc
  src/v/cluster/ntp_callbacks.h
  src/v/cluster/partition_leaders_table.cc
  src/v/cluster/partition_leaders_table.h
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/cluster/scheduling/leader_balancer.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

#5398 cloud_roles/tests: return UTC time in test script
  src/v/cloud_roles/refresh_credentials.cc
  src/v/cloud_roles/refresh_credentials.h
  tests/rptest/remote_scripts/aws_iam_role_mock.py
Labels: kind/bug, area/redpanda, area/tests

#5392 archival: Use correct flag in archival service
  src/v/archival/service.cc
Labels: kind/bug, area/redpanda, area/shadow-indexing

#5404 [v22.1.x] archival: Use correct flag in archival service
  src/v/archival/service.cc
Labels: area/redpanda, kind/backport

#5406 backport: Use correct flag in archival service
  src/v/archival/service.cc
Labels: area/redpanda

#5401 Strip license key of whitespace and newlines
  src/v/cluster/feature_manager.cc
  src/v/redpanda/admin_server.cc
Labels: area/redpanda

#5150 storage: introduce `storage_resources` for controlling resource use at scale
  src/v/cluster/controller.cc
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
  src/v/cluster/node/local_monitor.cc
  src/v/cluster/node/local_monitor.h
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/cluster/scheduling/partition_allocator.h
  src/v/cluster/tests/local_monitor_fixture.h
  src/v/cluster/tests/local_monitor_test.cc
  src/v/cluster/tests/partition_allocator_fixture.h
  src/v/cluster/tests/partition_balancer_planner_fixture.h
  src/v/cluster/tests/topic_table_fixture.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/raft/configuration_manager.cc
  src/v/raft/configuration_manager.h
  src/v/raft/offset_translator.cc
  src/v/raft/offset_translator.h
  src/v/raft/tests/append_entries_test.cc
  src/v/raft/tests/mux_state_machine_fixture.h
  src/v/raft/tests/raft_group_fixture.h
  src/v/raft/tests/state_removal_test.cc
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/storage/CMakeLists.txt
  src/v/storage/api.h
  src/v/storage/compacted_index_writer.h
  src/v/storage/disk_log_appender.cc
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/kvstore.cc
  src/v/storage/kvstore.h
  src/v/storage/log_manager.cc
  src/v/storage/log_manager.h
  src/v/storage/probe.h
  src/v/storage/segment.cc
  src/v/storage/segment.h
  src/v/storage/segment_appender.cc
  src/v/storage/segment_appender.h
  src/v/storage/segment_set.cc
  src/v/storage/segment_set.h
  src/v/storage/segment_utils.cc
  src/v/storage/segment_utils.h
  src/v/storage/spill_key_index.cc
  src/v/storage/spill_key_index.h
  src/v/storage/storage_resources.cc
  src/v/storage/storage_resources.h
  src/v/storage/tests/compaction_index_format_tests.cc
  src/v/storage/tests/kvstore_test.cc
  src/v/storage/tests/log_replayer_test.cc
  src/v/storage/tests/log_segment_appender_test.cc
  src/v/storage/tests/storage_test_fixture.h
  tests/rptest/clients/rpk.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/storage_resources_test.py
Labels: area/redpanda

#5231 cluster: bootstrap user creation during cluster creation
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/security_frontend.cc
  src/v/cluster/security_frontend.h
  tests/rptest/services/admin.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/scram_test.py
Labels: kind/enhance, area/redpanda, area/security

#5421 rpk: fix panic on cluster config export
  src/go/rpk/pkg/cli/cmd/cluster/config/export.go
Labels: kind/bug, area/rpk

#5396 docs(/src/.md): Readability improvements
  src/go/k8s/README.md
  src/go/rpk/pkg/tuners/ReadMe.md
  src/v/README.md
  src/v/coding-style.md
Labels: kind/enhance, area/rpk, area/redpanda, area/k8s

#5370 Fixed: find tran coordinator was not ACL verified
  src/v/kafka/server/handlers/find_coordinator.cc
Labels: kind/bug, area/kafka, area/redpanda, area/transactions, area/security

#5356 Fix duplicates consistency error by caching already translated offsets
  src/v/cluster/feature_table.cc
  src/v/cluster/feature_table.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/cluster/partition_probe.cc
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/idempotency_tests.cc
  src/v/cluster/tests/partition_moving_test.cc
  src/v/cluster/tests/rebalancing_tests_fixture.h
  src/v/cluster/tests/rm_stm_tests.cc
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/coproc/tests/fixtures/fiber_mock_fixture.cc
  src/v/kafka/server/group.cc
  src/v/kafka/server/group_metadata_migration.cc
  src/v/kafka/server/handlers/produce.cc
  src/v/kafka/server/replicated_partition.cc
  src/v/kafka/server/tests/fetch_test.cc
  src/v/kafka/server/tests/topic_recreate_test.cc
  src/v/model/fundamental.h
  src/v/redpanda/application.cc
  tests/rptest/services/redpanda_installer.py
  tests/rptest/tests/cluster_features_test.py
  tests/rptest/tests/fix_5355_upgrade_test.py
  tests/rptest/tests/upgrade_test.py
Labels: kind/bug, area/kafka, area/redpanda, consistency

#5441 [v22.1.x] Fix lost update consistency error
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
Labels: area/kafka, area/redpanda, kind/backport

#5444 [v22.1.x] Make recovery from memory reset faster
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
Labels: area/redpanda, kind/backport

#5448 [v22.1.x] linearize fast idempotency retries
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/idempotency_tests.cc
  src/v/utils/mutex.h
Labels: area/redpanda

#5450 [v22.1.x] Improve idempotency latency by introducing rm_stm pipelining
  src/v/cluster/errc.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/kafka/server/errors.h
  src/v/kafka/server/handlers/produce.cc
  src/v/raft/consensus.h
  src/v/redpanda/admin_server.cc
  src/v/utils/available_promise.h
  tests/rptest/services/admin.py
  tests/rptest/tests/group_membership_test.py
  tests/rptest/tests/partition_movement_test.py
  tests/rptest/tests/prefix_truncate_recovery_test.py
  tests/rptest/tests/raft_availability_test.py
  tests/rptest/tests/tx_admin_api_test.py
  tests/rptest/util.py
Labels: area/redpanda

#5303 test: make clean_node safer against shutdown/kill race
  tests/rptest/services/redpanda.py
Labels: kind/bug, area/tests

#5434 metrics: replicate selected seastar metrics
  src/v/redpanda/application.cc
Labels: kind/enhance, area/redpanda

#5436 cmake: update seastar tag for OSS build
  cmake/oss.cmake.in
Labels: kind/enhance, area/build

#5411 net: add new rpc metrics
  src/v/net/probes.cc
  src/v/net/server.cc
  src/v/net/server.h
  src/v/net/server_probe.h
  src/v/raft/tests/raft_group_fixture.h
  src/v/redpanda/application.cc
  src/v/rpc/test/rpc_integration_fixture.h
Labels: kind/enhance, area/redpanda

#5407 rpk tune ducktape tests
  tests/rptest/clients/rpk_remote.py
  tests/rptest/test_suite_quick.yml
  tests/rptest/test_suite_rpk.yml
  tests/rptest/tests/rpk_config_test.py
  tests/rptest/tests/rpk_tuner_test.py
Labels: kind/enhance, area/rpk, area/tests

#5412 Default partitions count for `__consumer_offsets` topic increased
  src/v/config/configuration.cc
  tests/rptest/tests/group_membership_test.py
Labels: kind/enhance, area/redpanda

#5447 rpk: standardize command and flag output
  src/go/rpk/pkg/cli/cmd/acl.go
  src/go/rpk/pkg/cli/cmd/acl/create.go
  src/go/rpk/pkg/cli/cmd/acl/delete.go
  src/go/rpk/pkg/cli/cmd/acl/list.go
  src/go/rpk/pkg/cli/cmd/acl/user.go
  src/go/rpk/pkg/cli/cmd/cluster.go
  src/go/rpk/pkg/cli/cmd/cluster/config/config.go
  src/go/rpk/pkg/cli/cmd/cluster/config/edit.go
  src/go/rpk/pkg/cli/cmd/cluster/config/export.go
  src/go/rpk/pkg/cli/cmd/cluster/config/import.go
  src/go/rpk/pkg/cli/cmd/cluster/config/lint.go
  src/go/rpk/pkg/cli/cmd/cluster/config/reset.go
  src/go/rpk/pkg/cli/cmd/cluster/health.go
  src/go/rpk/pkg/cli/cmd/cluster/maintenance/disable.go
  src/go/rpk/pkg/cli/cmd/cluster/maintenance/enable.go
  src/go/rpk/pkg/cli/cmd/cluster/maintenance/maintenance.go
  src/go/rpk/pkg/cli/cmd/cluster/maintenance/status.go
  src/go/rpk/pkg/cli/cmd/cluster/metadata.go
  src/go/rpk/pkg/cli/cmd/common/common.go
  src/go/rpk/pkg/cli/cmd/container.go
  src/go/rpk/pkg/cli/cmd/container/purge.go
  src/go/rpk/pkg/cli/cmd/container/start.go
  src/go/rpk/pkg/cli/cmd/container/stop.go
  src/go/rpk/pkg/cli/cmd/debug/bundle.go
  src/go/rpk/pkg/cli/cmd/debug/debug.go
  src/go/rpk/pkg/cli/cmd/debug/info.go
  src/go/rpk/pkg/cli/cmd/generate.go
  src/go/rpk/pkg/cli/cmd/generate/autocomplete.go
  src/go/rpk/pkg/cli/cmd/generate/grafana.go
  src/go/rpk/pkg/cli/cmd/generate/prometheus.go
  src/go/rpk/pkg/cli/cmd/group/describe.go
  src/go/rpk/pkg/cli/cmd/group/group.go
  src/go/rpk/pkg/cli/cmd/group/seek.go
  src/go/rpk/pkg/cli/cmd/iotune.go
  src/go/rpk/pkg/cli/cmd/plugin/plugin.go
  src/go/rpk/pkg/cli/cmd/redpanda/admin/admin.go
  src/go/rpk/pkg/cli/cmd/redpanda/admin/brokers/brokers.go
  src/go/rpk/pkg/cli/cmd/redpanda/admin/config/config.go
  src/go/rpk/pkg/cli/cmd/redpanda/admin/partitions/partitions.go
  src/go/rpk/pkg/cli/cmd/redpanda/check.go
  src/go/rpk/pkg/cli/cmd/redpanda/config.go
  src/go/rpk/pkg/cli/cmd/redpanda/mode.go
  src/go/rpk/pkg/cli/cmd/redpanda/start.go
  src/go/rpk/pkg/cli/cmd/redpanda/stop.go
  src/go/rpk/pkg/cli/cmd/redpanda/tune/help.go
  src/go/rpk/pkg/cli/cmd/root.go
  src/go/rpk/pkg/cli/cmd/topic.go
  src/go/rpk/pkg/cli/cmd/topic/add_partitions.go
  src/go/rpk/pkg/cli/cmd/topic/config.go
  src/go/rpk/pkg/cli/cmd/topic/consume.go
  src/go/rpk/pkg/cli/cmd/topic/create.go
  src/go/rpk/pkg/cli/cmd/topic/delete.go
  src/go/rpk/pkg/cli/cmd/topic/describe.go
  src/go/rpk/pkg/cli/cmd/topic/list.go
  src/go/rpk/pkg/cli/cmd/topic/produce.go
  src/go/rpk/pkg/cli/cmd/version.go
  src/go/rpk/pkg/cli/cmd/wasm.go
  src/go/rpk/pkg/cli/cmd/wasm/deploy.go
  src/go/rpk/pkg/cli/cmd/wasm/generate.go
  src/go/rpk/pkg/cli/cmd/wasm/remove.go
Labels: kind/enhance, area/rpk

#5323 Implemented nodes recommissioning
  src/v/cluster/cluster_utils.h
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
  src/v/cluster/members_backend.cc
  src/v/cluster/members_backend.h
  src/v/cluster/members_manager.cc
  src/v/cluster/members_manager.h
  src/v/cluster/partition.h
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/cluster/topic_updates_dispatcher.cc
  src/v/cluster/topic_updates_dispatcher.h
  src/v/kafka/server/handlers/metadata.cc
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/group_configuration.cc
  src/v/raft/group_configuration.h
  src/v/redpanda/admin_server.cc
  tests/rptest/services/admin.py
  tests/rptest/tests/nodes_decommissioning_test.py
Labels: kind/enhance, area/redpanda

#5453 [v22.1.x] Fix duplicates consistency error by caching already translated offsets
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/feature_table.cc
  src/v/cluster/feature_table.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/cluster/partition_probe.cc
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/idempotency_tests.cc
  src/v/cluster/tests/partition_moving_test.cc
  src/v/cluster/tests/rebalancing_tests_fixture.h
  src/v/cluster/tests/rm_stm_tests.cc
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/coproc/tests/fixtures/fiber_mock_fixture.cc
  src/v/kafka/server/group.cc
  src/v/kafka/server/group_metadata_migration.cc
  src/v/kafka/server/handlers/produce.cc
  src/v/kafka/server/replicated_partition.cc
  src/v/kafka/server/tests/fetch_test.cc
  src/v/kafka/server/tests/topic_recreate_test.cc
  src/v/model/fundamental.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  tests/rptest/tests/cluster_features_test.py
Labels: kind/bug, area/kafka, area/redpanda, kind/backport, consistency

#5455 kafka: merge remote.readreplica and bucket
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/handlers/topics/types.cc
  src/v/kafka/server/handlers/topics/types.h
  src/v/kafka/server/handlers/topics/validators.h
  src/v/kafka/server/tests/create_topics_test.cc
  tests/rptest/tests/read_replica_e2e_test.py
Labels: kind/enhance, area/redpanda, area/shadow-indexing

#5457 pandaproxy: add metrics for error count to /public_metrics
  src/v/pandaproxy/probe.cc
  src/v/pandaproxy/probe.h
  src/v/pandaproxy/reply.h
  src/v/pandaproxy/rest/proxy.cc
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/server.cc
  src/v/pandaproxy/server.h
Labels: kind/enhance, area/redpanda, area/pandaproxy

#5462 Improve redpanda checkers log
  src/go/rpk/pkg/tuners/check.go
  src/go/rpk/pkg/tuners/redpanda_checkers.go
Labels: kind/bug, area/rpk, DW

#5470 controller/probe: Reduce lifecycle
  src/v/cluster/controller.cc
  src/v/cluster/controller_probe.cc
  src/v/cluster/controller_probe.h
Labels: kind/enhance, area/redpanda

#5469 Add namespace to labels for metrics on public endpoint
  src/v/cloud_storage/probe.cc
  src/v/cluster/partition_probe.cc
  src/v/kafka/group_probe.h
  src/v/kafka/latency_probe.h
  src/v/net/probes.cc
  src/v/net/server.cc
  src/v/pandaproxy/probe.cc
  src/v/pandaproxy/probe.h
  src/v/ssx/metrics.h
Labels: kind/enhance, area/redpanda

#5477 rpk: make redpanda_checkers run in order
  src/go/rpk/pkg/tuners/check.go
Labels: kind/enhance, area/rpk

#5449 rpk: backward compatibility corrections
  src/go/rpk/pkg/cli/cmd/redpanda/config.go
  src/go/rpk/pkg/cli/cmd/redpanda/config_test.go
  src/go/rpk/pkg/cli/cmd/redpanda/mode.go
  src/go/rpk/pkg/cli/cmd/redpanda/mode_test.go
  src/go/rpk/pkg/cli/cmd/redpanda/start.go
  src/go/rpk/pkg/cli/cmd/redpanda/start_test.go
  src/go/rpk/pkg/config/config.go
  src/go/rpk/pkg/config/params_test.go
  src/go/rpk/pkg/config/schema.go
  tests/rptest/tests/rpk_config_test.py
Labels: kind/bug, area/rpk

#5346 Per-handler memory estimation, more accurate estimate for metadata handler
  src/v/kafka/CMakeLists.txt
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/connection_context.h
  src/v/kafka/server/flex_versions.cc
  src/v/kafka/server/fwd.h
  src/v/kafka/server/handlers/add_offsets_to_txn.h
  src/v/kafka/server/handlers/add_partitions_to_txn.h
  src/v/kafka/server/handlers/alter_configs.h
  src/v/kafka/server/handlers/api_versions.h
  src/v/kafka/server/handlers/create_acls.h
  src/v/kafka/server/handlers/create_partitions.h
  src/v/kafka/server/handlers/create_topics.h
  src/v/kafka/server/handlers/delete_acls.h
  src/v/kafka/server/handlers/delete_groups.h
  src/v/kafka/server/handlers/delete_topics.h
  src/v/kafka/server/handlers/describe_acls.h
  src/v/kafka/server/handlers/describe_configs.h
  src/v/kafka/server/handlers/describe_groups.h
  src/v/kafka/server/handlers/describe_log_dirs.h
  src/v/kafka/server/handlers/end_txn.h
  src/v/kafka/server/handlers/fetch.h
  src/v/kafka/server/handlers/find_coordinator.h
  src/v/kafka/server/handlers/handler.h
  src/v/kafka/server/handlers/handler_interface.cc
  src/v/kafka/server/handlers/handler_interface.h
  src/v/kafka/server/handlers/handlers.h
  src/v/kafka/server/handlers/heartbeat.h
  src/v/kafka/server/handlers/incremental_alter_configs.h
  src/v/kafka/server/handlers/init_producer_id.h
  src/v/kafka/server/handlers/join_group.cc
  src/v/kafka/server/handlers/join_group.h
  src/v/kafka/server/handlers/leave_group.h
  src/v/kafka/server/handlers/list_groups.h
  src/v/kafka/server/handlers/list_offsets.h
  src/v/kafka/server/handlers/metadata.cc
  src/v/kafka/server/handlers/metadata.h
  src/v/kafka/server/handlers/offset_commit.cc
  src/v/kafka/server/handlers/offset_commit.h
  src/v/kafka/server/handlers/offset_fetch.h
  src/v/kafka/server/handlers/offset_for_leader_epoch.h
  src/v/kafka/server/handlers/produce.cc
  src/v/kafka/server/handlers/produce.h
  src/v/kafka/server/handlers/sasl_authenticate.h
  src/v/kafka/server/handlers/sasl_handshake.h
  src/v/kafka/server/handlers/sync_group.cc
  src/v/kafka/server/handlers/sync_group.h
  src/v/kafka/server/handlers/txn_offset_commit.h
  src/v/kafka/server/request_context.h
  src/v/kafka/server/requests.cc
  src/v/kafka/server/response.h
  src/v/kafka/server/tests/CMakeLists.txt
  src/v/kafka/server/tests/handler_interface_test.cc
Labels: kind/bug, area/controller, area/redpanda, DW

#5292 redpanda: per listener authentication for kafka
  src/v/config/CMakeLists.txt
  src/v/config/broker_authn_endpoint.cc
  src/v/config/broker_authn_endpoint.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/node_config.cc
  src/v/config/node_config.h
  src/v/config/rjson_serialization.cc
  src/v/config/tls_config.h
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/connection_context.h
  src/v/kafka/server/handlers/describe_configs.cc
  src/v/kafka/server/protocol.cc
  src/v/kafka/server/protocol.h
  src/v/kafka/server/tests/request_parser_test.cc
  src/v/redpanda/application.cc
  src/v/redpanda/tests/fixture.h
  src/v/rpc/test/rpc_gen_cycling_test.cc
  src/v/security/errc.h
  src/v/security/mtls.cc
  src/v/security/mtls.h
  src/v/security/tests/mtls_test.cc
  tests/rptest/services/redpanda.py
  tests/rptest/services/templates/redpanda.yaml
  tests/rptest/tests/acls_test.py
  tests/rptest/tests/cluster_config_test.py
Labels: kind/enhance, area/redpanda, area/security

#5459 tests: re-use installs in upgrade tests
  tests/docker/docker-compose.yml
  tests/rptest/services/redpanda.py
  tests/rptest/services/redpanda_installer.py
  tests/rptest/tests/fix_5355_upgrade_test.py
  tests/rptest/tests/redpanda_test.py
  tests/rptest/tests/upgrade_test.py
Labels: kind/bug, area/tests, ci-failure

#5381 Handle aborted transactions in shadow indexing
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/cloud_storage/CMakeLists.txt
  src/v/cloud_storage/base_manifest.h
  src/v/cloud_storage/probe.h
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/tests/CMakeLists.txt
  src/v/cloud_storage/tests/tx_range_manifest_test.cc
  src/v/cloud_storage/tx_range_manifest.cc
  src/v/cloud_storage/tx_range_manifest.h
  src/v/cloud_storage/types.h
  src/v/cluster/partition.h
  src/v/cluster/rm_stm.h
  src/v/kafka/server/replicated_partition.cc
  src/v/kafka/server/replicated_partition.h
Labels: kind/bug, area/redpanda, area/transactions, area/shadow-indexing

#5493 net: Remove security::tls::principal_mapper
  src/v/net/connection.cc
  src/v/net/connection.h
  src/v/net/server.cc
  src/v/net/server.h
Labels: area/redpanda

#5345 Compaction keyspaces
  src/v/storage/compacted_index.h
  src/v/storage/compacted_index_chunk_reader.cc
  src/v/storage/compacted_index_writer.h
  src/v/storage/compaction_reducers.cc
  src/v/storage/segment.cc
  src/v/storage/segment_utils.cc
  src/v/storage/segment_utils.h
  src/v/storage/spill_key_index.cc
  src/v/storage/spill_key_index.h
  src/v/storage/tests/compaction_idx_bench.cc
  src/v/storage/tests/compaction_index_format_tests.cc
  src/v/storage/tests/storage_e2e_test.cc
  src/v/storage/types.cc
Labels: kind/enhance, area/redpanda, area/transactions

#4963 rpc: adaptive rpc message encoding
  src/v/cluster/controller.h
  src/v/cluster/fwd.h
  src/v/cluster/partition_balancer_types.h
  src/v/coproc/types.h
  src/v/rpc/parse_utils.h
  src/v/rpc/service.h
  src/v/rpc/test/echo_service.json
  src/v/rpc/test/netbuf_tests.cc
  src/v/rpc/test/rpc_gen_cycling_test.cc
  src/v/rpc/test/rpc_gen_types.h
  src/v/rpc/test/test_types.h
  src/v/rpc/transport.h
  src/v/rpc/types.cc
  src/v/rpc/types.h
  tools/rpcgen.py
Labels: area/redpanda

#5288 serde: use concepts instead of type traits implemented using SFINAE
  src/v/serde/envelope.h
  src/v/serde/envelope_for_each_field.h
  src/v/serde/serde.h
  src/v/serde/test/fuzz.cc
  src/v/serde/test/serde_test.cc
Labels: area/redpanda, community

#5334 Partition movement interruption APIs
  src/v/cluster/cluster_utils.cc
  src/v/cluster/cluster_utils.h
  src/v/cluster/controller.json
  src/v/cluster/controller_backend.cc
  src/v/cluster/errc.h
  src/v/cluster/service.cc
  src/v/cluster/service.h
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/cluster/tests/topic_table_test.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
  src/v/cluster/types.h
  src/v/kafka/server/errors.h
  src/v/kafka/server/tests/consumer_groups_test.cc
  src/v/redpanda/admin/api-doc/broker.json
  src/v/redpanda/admin/api-doc/cluster.json
  src/v/redpanda/admin/api-doc/partition.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  tests/rptest/services/admin.py
  tests/rptest/tests/partition_move_interruption_test.py
Labels: kind/enhance, area/redpanda

#5508 cmake: bump seastar tag
  cmake/oss.cmake.in
Labels: kind/enhance, area/build

#5505 Accumulated miscellaneous changes
  cmake/rpcgen.cmake
  src/v/config/tests/config_store_test.cc
  src/v/kafka/protocol/CMakeLists.txt
  src/v/kafka/protocol/schemata/generator.py
  src/v/rpc/rpc_compiler.py
  src/v/test_utils/http_imposter.cc
Labels: kind/enhance, area/build, area/redpanda

#5365 Partition autobalancer planner cancel movement to unavailable nodes
  src/v/cluster/partition_balancer_backend.cc
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/partition_balancer_planner.h
  src/v/cluster/tests/partition_balancer_planner_fixture.h
  src/v/cluster/tests/partition_balancer_planner_test.cc
  tests/rptest/tests/partition_balancer_test.py
Labels: kind/enhance, area/redpanda

#5487 cluster_features_test: use RedpandaInstaller
  tests/rptest/tests/cluster_features_test.py
Labels: kind/enhance, area/tests

#5397 rpk: avoid transmuting CLI args without equal sign
  src/go/rpk/pkg/cli/cmd/redpanda/start.go
Labels: kind/bug, area/rpk

#5523 Fix json -> object mapping in cluster health
  src/go/rpk/pkg/api/admin/api_cluster.go
Labels: area/rpk

#5528 [v22.1.x] Fix json -> object mapping in cluster health
  src/go/rpk/pkg/api/admin/api_cluster.go
Labels: area/rpk, kind/backport

#5522 rpk redpanda config set: improve setting arrays
  src/go/rpk/pkg/cli/cmd/redpanda/config.go
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/params.go
  src/go/rpk/pkg/config/weak.go
Labels: area/rpk

#5482 rpk: Support listener authN
  src/go/k8s/pkg/resources/configmap.go
  src/go/rpk/pkg/cli/cmd/redpanda/config.go
  src/go/rpk/pkg/cli/cmd/redpanda/start.go
  src/go/rpk/pkg/cli/cmd/redpanda/start_test.go
  src/go/rpk/pkg/config/config.go
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/params.go
  src/go/rpk/pkg/config/params_test.go
  src/go/rpk/pkg/config/schema.go
  src/go/rpk/pkg/config/weak.go
  src/go/rpk/pkg/config/weak_test.go
Labels: area/rpk, area/k8s

#5454 http: tests and improvements for header logging
  src/v/http/client.cc
  src/v/http/tests/http_client_test.cc
Labels: kind/tech-debt, area/shadow-indexing

#5511 reflection/type_traits: use is_specialization_of<> template helper
  src/v/config/bounded_property.h
  src/v/config/property.h
  src/v/pandaproxy/parsing/from_chars.h
  src/v/pandaproxy/parsing/httpd.h
  src/v/reflection/adl.h
  src/v/reflection/type_traits.h
  src/v/serde/serde.h
  src/v/serde/test/fuzz.cc
Labels: kind/enhance, area/redpanda, community

#5520 rpc: reset transport version via reconnect_transport
  src/v/rpc/reconnect_transport.h
  src/v/rpc/simple_protocol.cc
  src/v/rpc/test/rpc_gen_cycling_test.cc
  src/v/rpc/transport.cc
  src/v/rpc/transport.h
Labels: kind/bug, area/redpanda

#5431 serde: Support absl::flat_hash_map and absl::btree_set
  src/v/serde/serde.h
  src/v/serde/test/serde_test.cc
Labels: kind/enhance, area/redpanda

#5497 cloud_roles: optionally enable tls in http client
  src/v/cloud_roles/aws_refresh_impl.cc
  src/v/cloud_roles/aws_sts_refresh_impl.cc
  src/v/cloud_roles/gcp_refresh_impl.cc
  src/v/cloud_roles/refresh_credentials.cc
  src/v/cloud_roles/refresh_credentials.h
  src/v/cloud_roles/request_response_helpers.cc
Labels: kind/bug, area/redpanda, area/shadow-indexing, area/security

#5481 Align feature manager's logical versions with v22.1.5
  src/v/cluster/feature_table.cc
  src/v/cluster/feature_table.h
Labels: kind/bug, area/redpanda

#5547 metrics: Move disk space metrics to /public_metrics
  src/v/storage/probe.cc
  src/v/storage/probe.h
  tests/rptest/utils/node_metrics.py
Labels: area/redpanda

#5486 Upgrade testing for license checks
  src/v/cluster/feature_manager.cc
  tests/rptest/services/redpanda.py
  tests/rptest/tests/cluster_config_test.py
  tests/rptest/tests/cluster_features_test.py
  tests/rptest/tests/license_upgrade_test.py
  tests/rptest/utils/rpenv.py
Labels: kind/enhance, area/redpanda, area/tests

#4594 rpk: patch group seek
  src/go/k8s/go.mod
  src/go/k8s/go.sum
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cmd/group/describe.go
  src/go/rpk/pkg/cli/cmd/group/seek.go
  src/go/rpk/pkg/cli/cmd/root.go
  src/go/rpk/pkg/cli/cmd/topic/list.go
  src/go/rpk/pkg/system/systemd/dbus.go
Labels: area/rpk, area/k8s

#5525 Show the list of all nodes in rpk health
  src/go/rpk/pkg/cli/cmd/cluster/health.go
Labels: kind/enhance, area/rpk, DW

#5555 rptest: Increase license_upgrade_test timeout
  tests/rptest/tests/license_upgrade_test.py
Labels: ci-failure

#5484 kafka: reject produce requests to read replica topics
  src/v/kafka/server/handlers/produce.cc
  tests/rptest/tests/read_replica_e2e_test.py
Labels: kind/enhance, area/redpanda, area/shadow-indexing

#5488 tests: add mixed-version test for sending Raft snapshot RPCs
  tests/rptest/tests/prefix_truncate_recovery_test.py
  tests/rptest/tests/upgrade_with_workload.py
Labels: kind/enhance, area/tests

#5554 rpk: remap group seek error on non-empty groups
  src/go/rpk/pkg/cli/cmd/group/seek.go
Labels: area/rpk

#5492 buildkite: add pre-exit script
  .buildkite/hooks/pre-exit
Labels: kind/bug, area/tests, team/devprod

#5491 rpk: print license expiration warning
  src/go/rpk/pkg/cli/cmd/cluster/license/info.go
Labels: kind/enhance, area/rpk

#5557 rpk: add seastar_memory and serde to log list
  src/go/rpk/pkg/cli/cmd/redpanda/admin/config/config.go
Labels: area/rpk

#5499 Run arroyo test suite in ducktape
  tests/docker/Dockerfile
  tests/rptest/tests/compatibility/arroyo_test.py
  tests/setup.py
Labels: kind/enhance, area/kafka, area/tests

#5573 schema_registry: Support recursive protobuf structures
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
Labels: kind/enhance, area/redpanda, area/schema_registry

#5496 k/tests: wait for coordinator of correct group id
  src/v/kafka/server/tests/consumer_groups_test.cc
Labels: kind/bug, area/kafka, area/redpanda, area/tests, ci-failure

#5590 Add ci-repeat and test-codecov slash commands
  .github/workflows/buildkite-slash-commands.yml
  .github/workflows/slash-commands.yml
Labels: area/build

#5569 test: improve pid regex for matching nodejs
  tests/rptest/services/redpanda.py
Labels: kind/bug, area/tests, ci-failure

#5584 [v22.1.x] schema_registry: Return schemaType for /schemas/ids/<id>
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/api/api-doc/schema_registry_header.json
  src/v/pandaproxy/schema_registry/requests/get_schemas_ids_id.h
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, kind/backport

#5586 [v21.11.x] schema_registry: Return schemaType for /schemas/ids/<id>
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/api/api-doc/schema_registry_header.json
  src/v/pandaproxy/schema_registry/requests/get_schemas_ids_id.h
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, kind/backport

#5587 [v22.1.x] schema_registry: Support recursive protobuf structures
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
Labels: area/redpanda, kind/backport

#5426 Handle maintenance nodes in the leader balancer
  src/v/cluster/controller.cc
  src/v/cluster/members_table.cc
  src/v/cluster/members_table.h
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/cluster/scheduling/leader_balancer.h
  tests/rptest/tests/maintenance_test.py
Labels: area/redpanda, area/tests, ci-failure

#5588 [v21.11.x] schema_registry: Support recursive protobuf structures
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
Labels: area/redpanda, kind/backport

#5561 omb/perf: Bump client request timeouts to 5mins
  tests/rptest/services/openmessaging_benchmark_configs.py
Labels: kind/bug, area/build, performance

#5599 pandaproxy: Initialize error metrics to 0
  src/v/pandaproxy/probe.h
Labels: area/redpanda

#5592 gh: fix if conditional for rpk packaging
  .github/workflows/rpk-build.yml
Labels: kind/bug, area/rpk, area/build

#5602 [v21.11.x] gha/rpk: split darwin/linux rpk artifact uploading
  .github/workflows/rpk-build.yml
Labels: area/build, kind/backport

#5603 [v22.1.x] gha/rpk: split darwin/linux rpk artifact uploading
  .github/workflows/rpk-build.yml
Labels: area/build, kind/backport

#5333 raft: require full leadership before leadership transfer
  src/v/raft/consensus.cc
Labels: kind/bug, area/raft, area/redpanda

#5515 serde/type_str: drop MSVC bits
  src/v/serde/test/serde_test.cc
  src/v/serde/type_str.h
Labels: kind/enhance, area/redpanda, community

#5177 k/group_router: pass func to sharded<>::invoke_on() directly
  src/v/kafka/server/group_router.cc
Labels: kind/enhance, area/redpanda, community

#5607 kafka: fix assertion failure in join_empty_group_static_member
  src/v/kafka/server/tests/consumer_groups_test.cc
Labels: kind/bug, area/kafka, ci-failure

#5361 tests: wait longer to stop verifiable consumer
  tests/rptest/services/verifiable_consumer.py
Labels: kind/bug, area/tests, ci-failure

#5375 ducktape: Fix constant in connection_rate test
  tests/rptest/tests/connection_rate_limit_test.py
Labels: kind/bug, area/tests, ci-failure

#5634 [v22.1.x] ducktape: Update container to jammy
  tests/docker/Dockerfile
  tests/setup.py
Labels: kind/bug, area/build, kind/backport

#5596 [v22.1.x] expiring_promise: fix loss of exception information
  src/v/utils/expiring_promise.h
Labels: kind/bug, area/redpanda, area/tests, ci-failure, kind/backport

#5636 [v21.11.x] ducktape: Update container to jammy
  tests/docker/Dockerfile
  tests/setup.py
Labels: kind/bug, area/build, kind/backport

#4582 [v22.1.x] ducky: add si test with blocked s3
  tests/rptest/tests/archival_test.py
  tests/rptest/tests/shadow_indexing_firewall_test.py
  tests/rptest/util.py
Labels: kind/enhance, area/tests, area/shadow-indexing, kind/backport

#4647 [v22.1.x] tests: scale mm2 consumer groups tests for CDT
  tests/rptest/clients/rpk.py
  tests/rptest/tests/mirror_maker_test.py
Labels: kind/enhance, area/kafka, area/tests, kind/backport

#5645 [v21.11.x] test: improve pid regex for matching nodejs
  tests/rptest/services/redpanda.py
Labels: kind/bug, area/tests, ci-failure, kind/backport

#5643 [v22.1.x] test: improve pid regex for matching nodejs
  tests/rptest/services/redpanda.py
Labels: kind/bug, area/tests, ci-failure, kind/backport

#5009 [v22.1.x] tests: make test_si_cache_space_leak work on symlinked data dir
  tests/rptest/tests/test_si_cache_space_leak.py
Labels: kind/bug, area/tests, area/shadow-indexing, kind/backport

#5149 [v22.1.x] tests: fix rare failure in test_old_node_join
  tests/rptest/tests/cluster_features_test.py
Labels: kind/bug, area/redpanda, area/tests, ci-failure, kind/backport

#5610 tests: fix RpkTool.group_describe failure
  tests/rptest/clients/rpk.py
Labels: kind/bug, area/tests, ci-failure

#5657 [v22.1.x] Revert "Revert "k8s: remove produce-consume test""
  src/go/k8s/tests/e2e/produce-consume/00-assert.yaml
  src/go/k8s/tests/e2e/produce-consume/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/produce-consume/01-assert.yaml
  src/go/k8s/tests/e2e/produce-consume/01-create-topic.yaml
  src/go/k8s/tests/e2e/produce-consume/02-assert.yaml
  src/go/k8s/tests/e2e/produce-consume/02-produce-message.yaml
  src/go/k8s/tests/e2e/produce-consume/03-assert.yaml
  src/go/k8s/tests/e2e/produce-consume/03-consume-message.yaml
  src/go/k8s/tests/e2e/produce-consume/04-assert.yaml
  src/go/k8s/tests/e2e/produce-consume/04-delete-topic.yaml
Labels: area/k8s, kind/backport

#5659 [v22.1.x] kafka: validate user provided `create_topic` configuration literals
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/handlers/topics/validators.h
  tests/rptest/tests/rpk_topic_test.py
Labels: area/redpanda, kind/backport

#5625 backport: Truncate archival metadata snapshot
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/archival/service.cc
  src/v/archival/service.h
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/admin/api-doc/shadow_indexing.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  src/v/redpanda/application.cc
  tests/rptest/services/admin.py
  tests/rptest/tests/shadow_indexing_admin_api_test.py
Labels: kind/enhance, area/redpanda, area/shadow-indexing, kind/backport

#5660 cmake: pin pex==2.1.100
  cmake/oss.cmake.in
Labels: kind/bug, area/build, team/devprod

#5598 [v21.11.x] expiring_promise: fix loss of exception information
  src/v/utils/expiring_promise.h
Labels: kind/bug, area/redpanda, ci-failure, kind/backport

#5639 [v22.1.x] rpk topic error remap
  src/go/rpk/pkg/cli/cmd/topic/add_partitions.go
  src/go/rpk/pkg/cli/cmd/topic/create.go
  tests/rptest/clients/rpk.py
  tests/rptest/tests/rpk_topic_test.py
Labels: kind/bug, area/rpk, ci-repeat-5, kind/backport

#5663 [v21.11.x] cmake: pin pex==2.1.100
  cmake/oss.cmake.in
Labels: area/build, kind/backport

#5662 [v22.1.x] cmake: pin pex==2.1.100
  cmake/oss.cmake.in
Labels: area/build, kind/backport

#5671 [v21.11.x] tests: Fix group_membership topic_recreation
  tests/rptest/tests/group_membership_test.py
Labels: kind/bug, ci-failure, kind/backport

#5542 Fixed availability loss during reconfiguration.
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
  src/v/cluster/feature_table.cc
  src/v/cluster/feature_table.h
  src/v/cluster/partition.h
  src/v/cluster/topic_table.cc
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/group_configuration.cc
  src/v/raft/group_configuration.h
  src/v/raft/group_manager.cc
  src/v/raft/group_manager.h
  src/v/raft/kvelldb/kvserver.cc
  src/v/raft/raft_feature_table.h
  src/v/raft/tests/configuration_serialization_test.cc
  src/v/raft/tests/group_configuration_tests.cc
  src/v/raft/tests/membership_test.cc
  src/v/raft/tests/raft_group_fixture.h
  src/v/raft/tests/type_serialization_tests.cc
  tests/rptest/tests/partition_movement_test.py
Labels: kind/bug, area/raft, area/redpanda

#5376 cluster: fix timeouts creating topics with many partitions
  src/v/cluster/controller_api.cc
  src/v/cluster/controller_api.h
Labels: kind/bug, area/controller, area/redpanda

#5604 tests: fix python type errors around SI tests
  tests/rptest/services/redpanda.py
  tests/rptest/tests/e2e_shadow_indexing_test.py
  tests/rptest/tests/end_to_end.py
  tests/rptest/tests/read_replica_e2e_test.py
Labels: kind/enhance, python, area/tests, area/shadow-indexing

#5582 rpk: omit empty/zero values in redpanda.yaml
  src/go/k8s/pkg/resources/configmap_test.go
  src/go/rpk/pkg/cli/cmd/redpanda/config_test.go
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/params_test.go
  src/go/rpk/pkg/config/schema.go
  tests/rptest/tests/rpk_config_test.py
Labels: kind/enhance, area/rpk, area/k8s

#5526 rpk: Add option to generate scrape_config for both metrics endpoints
  src/go/rpk/pkg/cli/cmd/generate/prometheus.go
Labels: area/rpk

#5628 rpk: introduce --sandbox flag in rpk redpanda start
  src/go/rpk/pkg/cli/cmd/redpanda/start.go
  src/go/rpk/pkg/cli/cmd/redpanda/start_test.go
Labels: kind/enhance, area/rpk

#5282 tests: start using RedpandaInstaller in more tests
  tests/rptest/services/admin_ops_fuzzer.py
  tests/rptest/services/redpanda.py
  tests/rptest/services/redpanda_installer.py
  tests/rptest/services/rolling_restarter.py
  tests/rptest/tests/controller_upgrade_test.py
  tests/rptest/tests/end_to_end.py
  tests/rptest/tests/partition_movement_test.py
  tests/rptest/tests/upgrade_test.py
Labels: kind/bug, area/tests, ci-failure

#5689 Bump macos version in rpk gha workflow
  .github/workflows/rpk-build.yml
Labels: area/build

#5693 [v22.1.x] Bump macos version in rpk gha workflow
  .github/workflows/rpk-build.yml
Labels: area/build, kind/backport

#5694 [v21.11.x] Bump macos version in rpk gha workflow
  .github/workflows/rpk-build.yml
Labels: area/build, kind/backport

#5541 Partition_balancer: fix leader_id if leader not stable
  src/v/cluster/partition_balancer_backend.h
Labels: kind/bug, area/redpanda, area/tests, ci-failure

#5627 auth: Redpanda enable_sasl upgrade test
  tests/rptest/tests/acls_test.py
Labels: kind/enhance, area/tests, area/security

#5696 Fixed incorrect assumptions in `replace_whole_group` test
  src/v/raft/tests/membership_test.cc
Labels: area/redpanda
