Repository redpanda-data/redpanda, pull requests merged in 2022-12, with the labels that each got.

#5126 redpanda: permit running with no Kafka listeners
  src/v/redpanda/admin_server.cc
  src/v/redpanda/application.cc
  tests/rptest/services/redpanda.py
  tests/rptest/tests/cluster_config_test.py
Labels: kind/enhance, area/redpanda

#7580 [v22.3.x] Fix alter topic configuration
  src/v/kafka/server/handlers/alter_configs.cc
  tests/rptest/clients/kcl.py
  tests/rptest/tests/alter_topic_configuration_test.py
Labels: area/redpanda, kind/backport

#7544 transactions: preserve monotonicity of LSO
  src/v/cluster/rm_stm.cc
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/list_offsets.cc
  src/v/kafka/server/materialized_partition.h
  src/v/kafka/server/partition_proxy.h
  src/v/kafka/server/replicated_partition.h
  src/v/kafka/server/tests/fetch_test.cc
  src/v/model/fundamental.h
Labels: area/redpanda

#7598 [v22.3.x] c/rm_stm: fixed returning non initialized offset as LSO
  src/v/cluster/rm_stm.cc
Labels: area/redpanda, kind/backport

#5565 Add an asychronous zstd stream compression class
  src/v/compression/CMakeLists.txt
  src/v/compression/async_stream_zstd.cc
  src/v/compression/async_stream_zstd.h
  src/v/compression/tests/zstd_stream_bench.cc
  src/v/compression/tests/zstd_tests.cc
  src/v/redpanda/application.cc
  src/v/rpc/netbuf.cc
  src/v/rpc/parse_utils.h
  src/v/rpc/simple_protocol.cc
  src/v/rpc/test/netbuf_tests.cc
  src/v/rpc/transport.cc
  src/v/rpc/transport.h
  src/v/rpc/types.h
  src/v/utils/object_pool.h
  src/v/utils/tests/CMakeLists.txt
  src/v/utils/tests/object_pool_test.cc
Labels: kind/enhance, area/redpanda, performance

#7600 [v22.3.x] transactions: preserve monotonicity of LSO
  src/v/cluster/rm_stm.cc
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/list_offsets.cc
  src/v/kafka/server/materialized_partition.h
  src/v/kafka/server/partition_proxy.h
  src/v/kafka/server/replicated_partition.h
  src/v/kafka/server/tests/fetch_test.cc
  src/v/model/fundamental.h
Labels: area/redpanda, kind/backport

#7511 Fixed incorrectly stopping rebalancing when batch size is small
  src/v/cluster/members_backend.cc
  src/v/cluster/members_backend.h
  tests/rptest/scale_tests/partition_balancer_scale_test.py
Labels: area/redpanda

#7596 rpk cloud patch
  src/go/rpk/pkg/cli/cmd/cloud/auth/auth.go
  src/go/rpk/pkg/cli/cmd/cloud/byoc/install.go
  src/go/rpk/pkg/cli/cmd/root.go
  src/go/rpk/pkg/plugin/plugin.go
Labels: area/rpk

#7578 [22.3.x] Backport #7493 (cloud_storage: fix topic recovery size/time limits to use local.target settings)
  src/v/cloud_storage/partition_recovery_manager.cc
  tests/rptest/tests/e2e_topic_recovery_test.py
  tests/rptest/tests/topic_recovery_test.py
Labels: area/redpanda, area/cloud-storage, kind/backport

#7057 [transaction] Clear old pids from rm_stm state in overflow
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/idempotency_tests.cc
  src/v/cluster/tests/rm_stm_tests.cc
  src/v/cluster/tests/tx_compaction_tests.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/application.cc
  tests/rptest/tests/transactions_test.py
Labels: kind/bug, area/raft, area/redpanda

#7590 gha: workflow to render pr body release notes
  .github/workflows/render-pr-body-release-notes.yml
Labels: area/build

#7605 [v22.3.x] rpk cloud patch
  src/go/rpk/pkg/cli/cmd/cloud/auth/auth.go
  src/go/rpk/pkg/cli/cmd/cloud/byoc/install.go
  src/go/rpk/pkg/cli/cmd/root.go
  src/go/rpk/pkg/plugin/plugin.go
Labels: area/rpk, kind/backport

#7616 Revert "gha: workflow to render pr body release notes"
  .github/workflows/render-pr-body-release-notes.yml
Labels: area/build

#7618 [v22.3.x] [transaction] Clear old pids from rm_stm state in overflow
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/idempotency_tests.cc
  src/v/cluster/tests/rm_stm_tests.cc
  src/v/cluster/tests/tx_compaction_tests.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/application.cc
  tests/rptest/tests/transactions_test.py
Labels: area/redpanda, kind/backport

#7115 Use goreleaser for rpk releases
  .github/workflows/homebrew-publish.yml
  .github/workflows/rpk-build.yml
  src/go/rpk/.goreleaser.yaml
  src/go/rpk/gon_amd64.json
  src/go/rpk/gon_arm64.json
Labels: area/rpk, area/build

#7632 [v22.3.x] cloud_storage: Remove assertion from delete_object
  src/v/cloud_storage/remote.cc
Labels: area/redpanda, kind/backport

#7528 Get cluster health before an update
  src/go/k8s/controllers/redpanda/suite_test.go
  src/go/k8s/pkg/admin/admin.go
  src/go/k8s/pkg/admin/mock_admin.go
  src/go/k8s/pkg/resources/featuregates/featuregates.go
  src/go/k8s/pkg/resources/statefulset_test.go
  src/go/k8s/pkg/resources/statefulset_update.go
  src/go/k8s/tests/e2e/centralized-configuration-tls/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/centralized-configuration-tls/01-redpanda-cluster-change.yaml
  src/go/k8s/tests/e2e/centralized-configuration-tls/02-probe.yaml
  src/go/k8s/tests/e2e/centralized-configuration-upgrade/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/centralized-configuration-upgrade/01-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-upgrade/01-first-upgrade.yaml
  src/go/k8s/tests/e2e/centralized-configuration-upgrade/02-update-to-central-config-with-prop.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/00-assert.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/00-current-image.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/01-assert.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/01-new-image-and-pv.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/02-assert.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/02-new-image.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/00-current-image.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/01-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/01-new-image-and-pv.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/02-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/02-new-image.yaml
  src/go/k8s/tests/e2e/update-image-tls/00-current-image.yaml
  src/go/k8s/tests/e2e/update-image-tls/01-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls/01-new-image-and-pv.yaml
  src/go/k8s/tests/e2e/update-image-tls/02-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls/02-new-image.yaml
Labels: area/k8s

#7620 Http/client headers: small cleanup
  src/v/http/client.h
  src/v/http/tests/http_client_test.cc
Labels: area/redpanda

#7634 cloud_storage: Fix remote_partition randomized test
  src/v/cloud_storage/tests/remote_partition_test.cc
Labels: area/redpanda

#7636 [v22.3.x] cloud_storage: Fix remote_partition randomized test
  src/v/cloud_storage/tests/remote_partition_test.cc
Labels: area/redpanda, kind/backport

#7576 [v22.3.x] Fixed finishing recommissioning update
  src/v/cluster/members_backend.cc
  src/v/cluster/members_manager.h
  tests/rptest/tests/nodes_decommissioning_test.py
Labels: area/redpanda, kind/backport

#7546 [v22.3.x] test: make test_recommissioning_one_of_decommissioned_nodes more robust
  tests/rptest/tests/nodes_decommissioning_test.py
Labels: kind/backport

#7623 [v22.3.x] Use goreleaser for rpk releases
  .github/workflows/homebrew-publish.yml
  .github/workflows/rpk-build.yml
  src/go/rpk/.goreleaser.yaml
  src/go/rpk/gon_amd64.json
  src/go/rpk/gon_arm64.json
Labels: area/rpk, area/build, kind/backport

#7639 [v22.2.x] cloud_storage: Fix remote_partition randomized test
  src/v/cloud_storage/tests/remote_partition_test.cc
Labels: area/redpanda

#7655 storage: protect optional access
  src/v/storage/offset_to_filepos.cc
Labels: area/redpanda

#7602 kafka: report default-matching SI topic properties as DEFAULT_CONFIG
  src/v/kafka/server/handlers/describe_configs.cc
  tests/rptest/tests/topic_creation_test.py
Labels: kind/bug, area/redpanda, area/cloud-storage

#7657 [v22.3.x] storage: protect optional access
  src/v/storage/offset_to_filepos.cc
Labels: area/redpanda, kind/backport

#7654 cloud_storage: Extend tags in AWS S3
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/service.cc
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
Labels: area/redpanda

#7250 cloud_storage: Don't attempt to download tx-manifest for compacted segments
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
Labels: area/redpanda

#7366 cloud_storage: Store only materialized segments ...
  src/v/cloud_storage/materialized_segments.cc
  src/v/cloud_storage/materialized_segments.h
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/segment_state.cc
  src/v/cloud_storage/segment_state.h
  src/v/cloud_storage/tests/remote_partition_test.cc
Labels: area/redpanda, area/cloud-storage

#7587 operator: do not perform rolling restart when replicas count changes
  src/go/k8s/controllers/redpanda/cluster_controller_test.go
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/pkg/resources/configmap_test.go
  src/go/k8s/pkg/resources/configuration/configuration.go
  src/go/k8s/pkg/resources/configuration/configuration_test.go
Labels: area/k8s

#7668 [v22.3.x] cloud_storage: Extend tags in AWS S3
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/service.cc
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
Labels: area/redpanda, kind/backport

#7670 [v22.3.x] cloud_storage: Store only materialized segments ...
  src/v/cloud_storage/materialized_segments.cc
  src/v/cloud_storage/materialized_segments.h
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/segment_state.cc
  src/v/cloud_storage/segment_state.h
  src/v/cloud_storage/tests/remote_partition_test.cc
Labels: area/redpanda, kind/backport

#7666 archival: Improve AWS S3 object tags
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/archival/service.cc
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/s3/client.cc
  src/v/s3/client.h
Labels: area/redpanda

#7646 rpk: add --max-message-bytes to rpk topic produce
  src/go/rpk/pkg/cli/cmd/topic/produce.go
Labels: area/rpk

#7690 [v22.3.x] omb/perf: increase warmup time for perf run
  tests/rptest/services/openmessaging_benchmark_configs.py
Labels: kind/backport

#7591 Fixes Unknown Server Errors (USE) in transactions
  src/v/cluster/CMakeLists.txt
  src/v/cluster/fwd.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/cluster/rm_partition_frontend.cc
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/tm_stm_tests.cc
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/cluster/tm_stm_cache.cc
  src/v/cluster/tm_stm_cache.h
  src/v/cluster/tx_gateway.cc
  src/v/cluster/tx_gateway.h
  src/v/cluster/tx_gateway.json
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/tx_gateway_frontend.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/convert.h
  src/v/config/property.h
  src/v/config/rjson_serialization.cc
  src/v/config/rjson_serialization.h
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/handlers/add_offsets_to_txn.cc
  src/v/kafka/server/handlers/add_partitions_to_txn.cc
  src/v/kafka/server/handlers/end_txn.cc
  src/v/kafka/server/handlers/produce.cc
  src/v/model/metadata.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  tests/rptest/tests/cluster_features_test.py
Labels: area/redpanda

#7633 storage: assert out on EIO in read
  src/v/storage/log_reader.cc
Labels: area/redpanda

#7695 [v22.3.x] Fixes Unknown Server Errors (USE) in transactions
  src/v/cluster/CMakeLists.txt
  src/v/cluster/fwd.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/cluster/rm_partition_frontend.cc
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/tm_stm_tests.cc
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/cluster/tm_stm_cache.cc
  src/v/cluster/tm_stm_cache.h
  src/v/cluster/tx_gateway.cc
  src/v/cluster/tx_gateway.h
  src/v/cluster/tx_gateway.json
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/tx_gateway_frontend.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/convert.h
  src/v/config/property.h
  src/v/config/rjson_serialization.cc
  src/v/config/rjson_serialization.h
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/handlers/add_offsets_to_txn.cc
  src/v/kafka/server/handlers/add_partitions_to_txn.cc
  src/v/kafka/server/handlers/end_txn.cc
  src/v/kafka/server/handlers/produce.cc
  src/v/model/metadata.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  tests/rptest/tests/cluster_features_test.py
Labels: area/redpanda, kind/backport

#7660 [v22.3.x] kafka: report default-matching SI topic properties as DEFAULT_CONFIG
  src/v/kafka/server/handlers/describe_configs.cc
  tests/rptest/tests/topic_creation_test.py
Labels: area/redpanda, kind/backport

#7673 [v22.3.x] archival: Improve AWS S3 object tags
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/archival/service.cc
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/s3/client.cc
  src/v/s3/client.h
Labels: area/redpanda, kind/backport

#7700 [v22.3.x] storage: assert out on EIO in read
  src/v/storage/log_reader.cc
Labels: area/redpanda, kind/backport

#7702 [v22.2.x] storage: assert out on EIO in read
  src/v/storage/log_reader.cc
Labels: area/redpanda, kind/backport

#7703 [v22.1.x] storage: assert out on EIO in read
  src/v/storage/log_reader.cc
Labels: area/storage, area/redpanda, kind/backport

#7713 cloud_storage: Remove flacky tests from test_cloud_storage_rpunit
  src/v/cloud_storage/tests/remote_partition_test.cc
Labels: area/redpanda

#7722 gha: workflow to render draft release notes
  .github/workflows/render-draft-release-notes.yml
Labels: area/build, devprod/area/release

#7718 gha: workflow to render pr body release notes
  .github/workflows/render-pr-body-release-notes.yml
Labels: area/build, devprod/area/release

#7738 [v22.3.x] gha: workflow to render pr body release notes
  .github/workflows/render-pr-body-release-notes.yml
Labels: area/build, kind/backport

#7739 [v22.2.x] gha: workflow to render pr body release notes
  .github/workflows/render-pr-body-release-notes.yml
Labels: area/build, kind/backport

#7740 [v22.1.x] gha: workflow to render pr body release notes
  .github/workflows/render-pr-body-release-notes.yml
Labels: area/build, kind/backport

#7741 [v22.3.x] gha: workflow to render draft release notes
  .github/workflows/render-draft-release-notes.yml
Labels: area/build, kind/backport

#7742 [v22.2.x] gha: workflow to render draft release notes
  .github/workflows/render-draft-release-notes.yml
Labels: area/build, kind/backport

#7743 [v22.1.x] gha: workflow to render draft release notes
  .github/workflows/render-draft-release-notes.yml
Labels: area/build, kind/backport

#7746 [v22.3.x] rpk/pkg: bring back linux build and tweak the archive name template
  src/go/rpk/.goreleaser.yaml
Labels: kind/backport

#7747 cloud_storage: handle infinite retention tristates
  src/v/cluster/errc.h
  src/v/cluster/topics_frontend.cc
  src/v/kafka/server/errors.h
  src/v/storage/ntp_config.h
  tests/rptest/clients/kafka_cli_tools.py
  tests/rptest/tests/e2e_shadow_indexing_test.py
Labels: area/redpanda

#7729 c/feature_table: fixed the tx_stm_cache feature flag
  src/v/features/feature_table.h
  src/v/features/tests/feature_table_test.cc
Labels: area/redpanda

#7745 rpk: support reading array of structs from files
  .github/workflows/lint.yml
  src/go/rpk/pkg/out/in.go
  src/go/rpk/pkg/out/in_test.go
Labels: area/rpk, area/build

#7759 tests: ClusterConfigUpgradeTest clean on start
  tests/rptest/tests/cluster_config_test.py
Labels: kind/bug, area/tests

#7744 schema_registry: Don't batch writes unless explictly configured to
  src/v/redpanda/application.cc
Labels: area/redpanda, area/schema-registry

#7735 kafka/client: Improve connection error handling
  src/v/kafka/client/broker.cc
  src/v/kafka/client/client.cc
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, area/pandaproxy, area/schema-registry

#7752 [v22.3.x] cloud_storage: handle infinite retention tristates
  src/v/cluster/errc.h
  src/v/cluster/topics_frontend.cc
  src/v/kafka/server/errors.h
  src/v/storage/ntp_config.h
  tests/rptest/clients/kafka_cli_tools.py
  tests/rptest/tests/e2e_shadow_indexing_test.py
  tests/rptest/tests/retention_policy_test.py
  tests/rptest/utils/si_utils.py
Labels: area/redpanda

#7771 operator: set redpanda uid and gid
  src/go/k8s/pkg/resources/statefulset.go
Labels: area/k8s

#7762 Fix incorrect txn log level
  src/v/cluster/tx_gateway_frontend.cc
Labels: area/redpanda

#7773 [v22.3.x] kafka/client: Improve connection error handling
  src/v/kafka/client/broker.cc
  src/v/kafka/client/client.cc
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, kind/backport

#7769 [v22.3.x] schema_registry: Don't batch writes unless explictly configured to
  src/v/redpanda/application.cc
Labels: area/redpanda, kind/backport

#7770 [v22.2.x] schema_registry: Don't batch writes unless explictly configured to
  src/v/redpanda/application.cc
Labels: area/redpanda, kind/backport

#7781 [v22.3.x] Fix incorrect txn log level
  src/v/cluster/tx_gateway_frontend.cc
Labels: area/redpanda, kind/backport

#7772 [v22.1.x] schema_registry: Don't batch writes unless explictly configured to
  src/v/redpanda/application.cc
Labels: area/redpanda, kind/backport

#7778 [v22.3.x] operator: set redpanda uid and gid
  src/go/k8s/pkg/resources/statefulset.go
Labels: area/k8s, kind/backport

#7784 rpk: set group_initial_rebalance_delay=0 in dev-container
  src/go/rpk/pkg/cli/cmd/redpanda/start.go
  src/go/rpk/pkg/cli/cmd/redpanda/start_test.go
  tests/rptest/tests/rpk_start_test.py
Labels: area/rpk

#7754 [v22.3.x] c/feature_table: fixed the tx_stm_cache feature flag
  src/v/features/feature_table.h
  src/v/features/tests/feature_table_test.cc
Labels: area/redpanda, kind/backport

#7788 tests: improve package search to ignore releases with no tarball
  tests/rptest/services/redpanda_installer.py
Labels: kind/enhance, area/tests

#7552 Fixed nodes operations fuzzy test
  src/v/cluster/controller_backend.cc
  src/v/cluster/members_table.cc
  src/v/cluster/members_table.h
  tests/rptest/scale_tests/node_operations_fuzzy_test.py
  tests/rptest/services/failure_injector.py
  tests/rptest/tests/end_to_end.py
  tests/rptest/tests/nodes_decommissioning_test.py
Labels: area/redpanda

#7786 [v22.3.x] rpk: set group_initial_rebalance_delay=0 in dev-container
  src/go/rpk/pkg/cli/cmd/redpanda/start.go
  src/go/rpk/pkg/cli/cmd/redpanda/start_test.go
  tests/rptest/tests/rpk_start_test.py
Labels: area/rpk, kind/backport

#7801 rpk: set group_initial_rebalance_delay=0 in dev-container
  src/go/rpk/pkg/cli/cmd/redpanda/start.go
  src/go/rpk/pkg/cli/cmd/redpanda/start_test.go
Labels: area/rpk

#7806 transactions: Lower tx transferring log severity
  src/v/cluster/tm_stm.cc
Labels: area/redpanda

#5315 tests: update offline_log_viewer and use in ducktape tests
  tests/docker/Dockerfile
  tests/docker/Dockerfile.dockerignore
  tests/rptest/clients/offline_log_viewer.py
  tests/rptest/tests/topic_delete_test.py
  tests/rptest/tests/upgrade_test.py
  tools/offline_log_viewer/controller.py
  tools/offline_log_viewer/kvstore.py
  tools/offline_log_viewer/model.py
  tools/offline_log_viewer/reader.py
  tools/offline_log_viewer/storage.py
  tools/offline_log_viewer/viewer.py
Labels: kind/enhance, area/storage, area/tests

#7794 [v22.3.x] ducktape: Change diff for connection_rate_test
  tests/rptest/tests/connection_rate_limit_test.py
Labels: kind/backport

#7796 [v22.2.x] ducktape: Change diff for connection_rate_test
  tests/rptest/tests/connection_rate_limit_test.py
Labels: kind/backport

#7798 [v22.3.x] ducktape: Add log_allow_list to test_fuzz_admin_ops
  tests/rptest/tests/partition_balancer_test.py
Labels: kind/backport

#7815 archival: set test reconciliation interval
  src/v/redpanda/tests/fixture.h
Labels: area/redpanda

#7800 cloud_storage: avoid double stop on remote_segment
  src/v/cloud_storage/materialized_segments.cc
  src/v/cloud_storage/materialized_segments.h
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
Labels: area/redpanda

#7540 s3::client: implement DeleteObjects request
  src/v/cloud_storage_clients/client.h
  src/v/cloud_storage_clients/s3_client.cc
  src/v/cloud_storage_clients/s3_client.h
  src/v/cloud_storage_clients/test_client/s3_test_client_main.cc
  src/v/cloud_storage_clients/tests/s3_client_test.cc
Labels: area/redpanda, area/cloud-storage

#7808 [v22.3.x] transactions: Lower tx transferring log severity
  src/v/cluster/tm_stm.cc
Labels: area/redpanda, kind/backport

#7687 Fix compaction index size overflow
  src/v/storage/compacted_index.h
  src/v/storage/compacted_index_chunk_reader.cc
  src/v/storage/segment_utils.cc
  src/v/storage/spill_key_index.cc
  src/v/storage/tests/compaction_index_format_tests.cc
Labels: area/redpanda

#7583 [v22.2.x] cluster: ignore removed nodes for maintenance commands
  src/v/cluster/members_table.cc
  tests/rptest/tests/nodes_decommissioning_test.py
Labels: area/redpanda

#7584 [v22.1.x] cluster: ignore removed nodes for maintenance commands
  src/v/cluster/members_table.cc
  tests/rptest/tests/nodes_decommissioning_test.py
Labels: area/redpanda

#7826 Prevent double remote segment stop
  src/v/cloud_storage/materialized_segments.cc
  src/v/cloud_storage/materialized_segments.h
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
Labels: area/redpanda

#7751 cloud_storage: async manifest serialization
  src/v/archival/tests/ntp_archiver_reupload_test.cc
  src/v/cloud_storage/base_manifest.h
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/partition_recovery_manager.cc
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/tests/partition_manifest_test.cc
  src/v/cloud_storage/tests/remote_partition_test.cc
  src/v/cloud_storage/tests/topic_manifest_test.cc
  src/v/cloud_storage/tests/tx_range_manifest_test.cc
  src/v/cloud_storage/topic_manifest.cc
  src/v/cloud_storage/topic_manifest.h
  src/v/cloud_storage/tx_range_manifest.cc
  src/v/cloud_storage/tx_range_manifest.h
  src/v/cluster/tests/archival_metadata_stm_test.cc
  src/v/redpanda/admin_server.cc
  src/v/storage/segment.cc
Labels: kind/enhance, area/redpanda, area/cloud-storage

#7828 k8s: Fix wrong WithValues invocation
  src/go/k8s/controllers/redpanda/cluster_controller.go
Labels: area/k8s

#7750 tools/dev_cluster.py improvements
  tools/dev_cluster.py
Labels: kind/enhance

#7674 cloud_storage: Folloup for #7366
  src/v/cloud_storage/materialized_segments.cc
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cloud_storage/types.h
Labels: area/redpanda, area/cloud-storage

#7789 Improved validation in topics frontend
  src/v/cluster/members_manager.cc
  src/v/cluster/topics_frontend.cc
  tests/rptest/tests/nodes_decommissioning_test.py
  tests/rptest/tests/random_node_operations_test.py
  tests/rptest/tests/scaling_up_test.py
Labels: area/redpanda

#7821 cluster: initialize node ID assignment counter
  src/v/cluster/members_manager.cc
  tests/rptest/tests/end_to_end.py
  tests/rptest/tests/node_id_assignment_test.py
  tests/rptest/tests/partition_balancer_test.py
Labels: area/redpanda

#7776 [v22.1.x] operator: set redpanda uid and gid
  src/go/k8s/pkg/resources/statefulset.go
Labels: area/k8s, kind/backport

#7777 [v22.2.x] operator: set redpanda uid and gid
  src/go/k8s/pkg/resources/statefulset.go
Labels: area/k8s, kind/backport

#7819 kafka: fix transactional reads on tiered storage recovered partitions
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/partition_recovery_manager.cc
  src/v/cloud_storage/remote_partition.h
  src/v/kafka/server/replicated_partition.cc
  src/v/kafka/server/replicated_partition.h
  tests/docker/Dockerfile
  tests/rptest/clients/rpk.py
  tests/rptest/services/kgo_verifier_services.py
  tests/rptest/tests/e2e_topic_recovery_test.py
  tests/rptest/tests/replication_factor_change_test.py
  tests/rptest/tests/shadow_indexing_tx_test.py
  tests/rptest/utils/si_utils.py
Labels: kind/bug, area/kafka, area/redpanda, area/cloud-storage

#7807 Fix InvalidTxnState on adding partition or group
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
Labels: area/redpanda

#7543 kafka: update describe configs version
  src/v/kafka/protocol/schemata/describe_configs_request.json
  src/v/kafka/protocol/schemata/describe_configs_response.json
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/protocol/types.cc
  src/v/kafka/protocol/types.h
  src/v/kafka/server/handlers/describe_configs.cc
  src/v/kafka/server/handlers/describe_configs.h
  tests/rptest/clients/kcl.py
  tests/rptest/tests/describe_topics_test.py
Labels: area/kafka, area/redpanda

#7767 [v22.3.x] tests: ClusterConfigUpgradeTest clean on start
  tests/rptest/tests/cluster_config_test.py
Labels: kind/backport

#7838 [v22.3.x] k8s: Fix wrong WithValues invocation
  src/go/k8s/controllers/redpanda/cluster_controller.go
Labels: area/k8s, kind/backport

#7696 rpk: --max-message-bytes defaults to 1,000,012. Otherwise, if non-negative, overwrite it
  src/go/rpk/pkg/cli/cmd/topic/produce.go
Labels: area/rpk

#7727 [v22.3.x] tests: adjusted check of rebalanced partitions to include range ends
  tests/rptest/tests/scaling_up_test.py
Labels: kind/backport

#7822 docs: fix k8s doc link
  src/go/k8s/README.md
Labels: area/k8s

#7839 [V22.3.x] Backport of #7789, #7821
  src/v/cluster/members_manager.cc
  src/v/cluster/members_table.cc
  src/v/cluster/members_table.h
  src/v/cluster/topics_frontend.cc
  tests/rptest/tests/end_to_end.py
  tests/rptest/tests/node_id_assignment_test.py
  tests/rptest/tests/nodes_decommissioning_test.py
  tests/rptest/tests/partition_balancer_test.py
  tests/rptest/tests/random_node_operations_test.py
  tests/rptest/tests/scaling_up_test.py
Labels: area/redpanda

#7833 [v22.3.x] archival: set test reconciliation interval
  src/v/redpanda/tests/fixture.h
Labels: area/redpanda, kind/backport

#7832 cloud_storage: filter stopped segments on trim
  src/v/cloud_storage/materialized_segments.cc
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
Labels: area/redpanda

#7844 Fix race condition in the eviction loop
  src/v/cloud_storage/materialized_segments.cc
  src/v/cloud_storage/materialized_segments.h
  src/v/utils/retry_chain_node.cc
Labels: area/redpanda, area/cloud-storage

#7731 cluster: wait for leadership with auto create
  src/v/cluster/tests/autocreate_test.cc
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/handlers/metadata.cc
  src/v/kafka/server/handlers/topics/topic_utils.cc
  src/v/kafka/server/handlers/topics/topic_utils.h
Labels: area/redpanda

#7734 operator: fix typo in e2e test
  src/go/k8s/tests/e2e/superusers-prefix/01-assert.yaml
Labels: area/k8s

#7860 net: eliminate net::server::protocol abstraction
  src/v/kafka/CMakeLists.txt
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/connection_context.h
  src/v/kafka/server/request_context.h
  src/v/kafka/server/server.cc
  src/v/kafka/server/server.h
  src/v/kafka/server/tests/group_metadata_serialization_test.cc
  src/v/net/server.cc
  src/v/net/server.h
  src/v/raft/CMakeLists.txt
  src/v/raft/kvelldb/CMakeLists.txt
  src/v/raft/kvelldb/README.md
  src/v/raft/kvelldb/errc.h
  src/v/raft/kvelldb/httpkvrsm.cc
  src/v/raft/kvelldb/httpkvrsm.h
  src/v/raft/kvelldb/kvrsm.cc
  src/v/raft/kvelldb/kvrsm.h
  src/v/raft/kvelldb/kvserver.cc
  src/v/raft/kvelldb/logger.cc
  src/v/raft/kvelldb/logger.h
  src/v/raft/tests/raft_group_fixture.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/redpanda/tests/fixture.h
  src/v/rpc/CMakeLists.txt
  src/v/rpc/rpc_server.cc
  src/v/rpc/rpc_server.h
  src/v/rpc/simple_protocol.h
  src/v/rpc/test/rpc_gen_cycling_test.cc
  src/v/rpc/test/rpc_integration_fixture.h
Labels: area/redpanda

#7872 [v22.3.x] cluster: wait for leadership with auto create
  src/v/cluster/tests/autocreate_test.cc
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/handlers/metadata.cc
  src/v/kafka/server/handlers/topics/topic_utils.cc
  src/v/kafka/server/handlers/topics/topic_utils.h
Labels: area/redpanda, kind/backport

#7852 gha/lint: bump version of shfmt
  .github/workflows/lint.yml
Labels: area/build

#6948 Redpanda Self Test / Test Orchestration and Management - Part one
  src/v/cluster/CMakeLists.txt
  src/v/cluster/fwd.h
  src/v/cluster/self_test_backend.cc
  src/v/cluster/self_test_backend.h
  src/v/cluster/self_test_benchmarks.h
  src/v/cluster/self_test_frontend.cc
  src/v/cluster/self_test_frontend.h
  src/v/cluster/self_test_rpc.json
  src/v/cluster/self_test_rpc_handler.cc
  src/v/cluster/self_test_rpc_handler.h
  src/v/cluster/self_test_rpc_types.h
  src/v/redpanda/admin/api-doc/debug.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/utils/mutex.h
  src/v/utils/uuid.cc
  src/v/utils/uuid.h
  tests/rptest/services/admin.py
  tests/rptest/tests/self_test_test.py
Labels: area/redpanda

#7873 cloud_storage: Set limits on segments and readers in tests
  src/v/cloud_storage/tests/remote_partition_test.cc
Labels: area/cloud-storage

#7845 [v22.3.x] cloud_storage: Folloup for #7366
  src/v/cloud_storage/materialized_segments.cc
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cloud_storage/types.h
Labels: area/redpanda, kind/backport

#7869 [v22.3.x] Fix race condition in the eviction loop
  src/v/cloud_storage/materialized_segments.cc
  src/v/cloud_storage/materialized_segments.h
  src/v/utils/retry_chain_node.cc
Labels: area/redpanda, kind/backport

#7820 Allow pandaproxy and schemaregistry to connect to kafka api over tls
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/controllers/redpanda/cluster_controller_configuration_drift.go
  src/go/k8s/controllers/redpanda/cluster_controller_test.go
  src/go/k8s/pkg/console/admin.go
  src/go/k8s/pkg/resources/certmanager/pki.go
  src/go/k8s/pkg/resources/certmanager/pki_test.go
  src/go/k8s/pkg/resources/certmanager/type_helpers.go
  src/go/k8s/pkg/resources/certmanager/type_helpers_test.go
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/pkg/resources/configmap_test.go
  src/go/k8s/pkg/resources/resource_integration_test.go
  src/go/k8s/pkg/resources/types/tls_types.go
  src/go/k8s/tests/e2e/kafkaapi-client-auth/00-assert.yaml
  src/go/k8s/tests/e2e/kafkaapi-client-auth/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/kafkaapi-client-auth/01-create-config.yaml
  src/go/k8s/tests/e2e/kafkaapi-client-auth/02-assert.yaml
  src/go/k8s/tests/e2e/kafkaapi-client-auth/02-create-topic.yaml
  src/go/k8s/tests/e2e/kafkaapi-client-auth/03-assert.yaml
  src/go/k8s/tests/e2e/kafkaapi-client-auth/03-pandaproxy-produce.yaml
  src/go/k8s/tests/e2e/kafkaapi-client-auth/04-assert.yaml
  src/go/k8s/tests/e2e/kafkaapi-client-auth/04-pandaproxy-consume.yaml
Labels: area/k8s

#7862 Improvements & cleanup in node operations tests, fix for finishing node operations
  src/v/cluster/members_backend.cc
  src/v/kafka/server/handlers/metadata.cc
  tests/rptest/scale_tests/node_operations_fuzzy_test.py
  tests/rptest/tests/nodes_decommissioning_test.py
  tests/rptest/tests/random_node_operations_test.py
  tests/rptest/utils/node_operations.py
Labels: area/redpanda

#7824 idempotency: Fix lifetime issues from intrusive container
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/raft/state_machine.cc
Labels: area/redpanda

#7890 archival: change start offset related warning in segment collector to debug
  src/v/archival/segment_reupload.cc
Labels: area/redpanda

#7834 [v22.2.x] archival: set test reconciliation interval
  src/v/redpanda/tests/fixture.h
Labels: area/redpanda, kind/backport

#7883 net: eliminate indirection through `net::server:resources` type
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/connection_context.h
  src/v/kafka/server/request_context.h
  src/v/kafka/server/server.cc
  src/v/kafka/server/server.h
  src/v/net/server.cc
  src/v/net/server.h
  src/v/redpanda/tests/fixture.h
  src/v/rpc/rpc_server.cc
  src/v/rpc/rpc_server.h
  src/v/rpc/test/rpc_gen_cycling_test.cc
Labels: area/redpanda

#7907 [v22.3.x] Fix InvalidTxnState on adding partition or group
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
Labels: area/redpanda, kind/backport

#7911 configurable net::server logger
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/server.cc
  src/v/net/connection.cc
  src/v/net/server.cc
  src/v/net/server.h
  src/v/rpc/rpc_server.h
  src/v/rpc/test/rpc_integration_fixture.h
Labels: area/redpanda

#7574 [v22.2.x] Fixed finishing recommissioning update
  src/v/cluster/members_backend.cc
  src/v/cluster/members_manager.h
  tests/rptest/tests/nodes_decommissioning_test.py
Labels: area/redpanda, kind/backport

#7926 tools: enable -- passing extra args into dev_cluster
  tools/dev_cluster.py
Labels: kind/enhance

#7893 [v22.3.x] idempotency: Fix lifetime issues from intrusive container
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/raft/state_machine.cc
Labels: area/redpanda, kind/backport

#7774 [v22.2.x] kafka/client: Improve connection error handling
  src/v/cloud_storage/remote.cc
  src/v/kafka/client/broker.cc
  src/v/kafka/client/client.cc
  src/v/net/connection.cc
  src/v/net/connection.h
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, kind/backport

#7775 [v22.1.x] kafka/client: Improve connection error handling
  src/v/cloud_storage/remote.cc
  src/v/kafka/client/broker.cc
  src/v/kafka/client/client.cc
  src/v/net/connection.cc
  src/v/net/connection.h
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, kind/backport

#7877 tests: fix describe topics w/ docs and types
  tests/rptest/tests/describe_topics_test.py
Labels: kind/bug, area/kafka, area/tests, ci-failure

#7547 cloud_storage: fix uploads after topic deletion (refactor archivers to be owned by cluster::partition)
  src/v/archival/CMakeLists.txt
  src/v/archival/fwd.h
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/archival/probe.cc
  src/v/archival/probe.h
  src/v/archival/service.cc
  src/v/archival/service.h
  src/v/archival/tests/CMakeLists.txt
  src/v/archival/tests/ntp_archiver_reupload_test.cc
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/archival/tests/service_fixture.cc
  src/v/archival/tests/service_fixture.h
  src/v/archival/tests/service_test.cc
  src/v/archival/types.cc
  src/v/archival/types.h
  src/v/archival/upload_controller.cc
  src/v/archival/upload_controller.h
  src/v/cluster/CMakeLists.txt
  src/v/cluster/controller_backend.cc
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/redpanda/tests/fixture.h
  tests/rptest/scale_tests/cloud_storage_compaction_test.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/archival_test.py
  tests/rptest/tests/e2e_shadow_indexing_test.py
  tests/rptest/tests/multi_restarts_with_archival_test.py
  tests/rptest/tests/partition_movement_test.py
  tests/rptest/tests/read_replica_e2e_test.py
  tests/rptest/tests/shadow_indexing_admin_api_test.py
  tests/rptest/tests/shadow_indexing_firewall_test.py
  tests/rptest/tests/shadow_indexing_tx_test.py
  tests/rptest/tests/topic_creation_test.py
  tests/rptest/tests/topic_recovery_test.py
Labels: kind/bug, area/redpanda, area/cloud-storage

#7950 r/recovery_stm: logging request size and available throttle units
  src/v/raft/recovery_stm.cc
  src/v/raft/recovery_throttle.h
Labels: area/redpanda

#7948 tools: fix dev_cluster without `--`
  tools/dev_cluster.py
Labels: kind/bug

#6217 [v22.2.x] tests: back-to-back upgrades test
  tests/rptest/services/redpanda.py
  tests/rptest/services/redpanda_installer.py
  tests/rptest/services/rolling_restarter.py
  tests/rptest/tests/end_to_end.py
  tests/rptest/tests/upgrade_test.py
Labels: kind/enhance, area/tests, kind/backport

#7922 kafka: fix handling redpanda.remote.delete in AlterConfigs
  src/v/kafka/server/handlers/alter_configs.cc
  tests/rptest/clients/kcl.py
  tests/rptest/tests/cluster_config_test.py
  tests/rptest/tests/controller_log_limiting_test.py
  tests/rptest/tests/topic_creation_test.py
Labels: kind/bug, area/redpanda, area/cloud-storage

#7943 Track consumer subscriptions
  src/v/kafka/protocol/request_reader.h
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/tests/consumer_groups_test.cc
Labels: area/redpanda

#7724 treewide: removed data policy support and v8 dependencies
  src/v/CMakeLists.txt
  src/v/cluster/CMakeLists.txt
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/controller_stm.h
  src/v/cluster/data_policy_frontend.cc
  src/v/cluster/data_policy_frontend.h
  src/v/cluster/data_policy_manager.cc
  src/v/cluster/data_policy_manager.h
  src/v/cluster/fwd.h
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/data_policy_controller_test.cc
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
  src/v/kafka/server/handlers/alter_configs.cc
  src/v/kafka/server/handlers/describe_configs.cc
  src/v/kafka/server/handlers/details/data_policy.h
  src/v/kafka/server/handlers/incremental_alter_configs.cc
  src/v/kafka/server/handlers/topics/types.h
  src/v/kafka/server/request_context.h
  src/v/kafka/server/server.cc
  src/v/kafka/server/server.h
  src/v/kafka/server/tests/alter_config_test.cc
  src/v/raft/mux_state_machine.h
  src/v/raft/tests/mux_state_machine_test.cc
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/redpanda/tests/fixture.h
  src/v/v8_engine/CMakeLists.txt
  src/v/v8_engine/data_policy.cc
  src/v/v8_engine/data_policy.h
  src/v/v8_engine/data_policy_table.cc
  src/v/v8_engine/data_policy_table.h
  src/v/v8_engine/fwd.h
  src/v/v8_engine/internal/CMakeLists.txt
  src/v/v8_engine/internal/environment.cc
  src/v/v8_engine/internal/environment.h
  src/v/v8_engine/internal/executor.cc
  src/v/v8_engine/internal/executor.h
  src/v/v8_engine/internal/script.cc
  src/v/v8_engine/internal/script.h
  src/v/v8_engine/internal/tests/CMakeLists.txt
  src/v/v8_engine/internal/tests/executor_stress_test.cc
  src/v/v8_engine/internal/tests/executor_test.cc
  src/v/v8_engine/internal/tests/script_test.cc
  src/v/v8_engine/internal/tests/scripts/compile_timeout.js
  src/v/v8_engine/internal/tests/scripts/run_timeout.js
  src/v/v8_engine/internal/tests/scripts/sum.js
  src/v/v8_engine/internal/tests/scripts/to_upper.js
  tests/rptest/tests/data_policy_test.py
  tests/rptest/tests/describe_topics_test.py
Labels: area/redpanda

#7900 Update schemas and bump Kafka APIs that are one version away from flex
  src/v/kafka/protocol/schemata/alter_configs_request.json
  src/v/kafka/protocol/schemata/alter_configs_response.json
  src/v/kafka/protocol/schemata/create_acls_request.json
  src/v/kafka/protocol/schemata/create_acls_response.json
  src/v/kafka/protocol/schemata/delete_acls_request.json
  src/v/kafka/protocol/schemata/delete_acls_response.json
  src/v/kafka/protocol/schemata/describe_acls_request.json
  src/v/kafka/protocol/schemata/describe_acls_response.json
  src/v/kafka/protocol/schemata/describe_log_dirs_request.json
  src/v/kafka/protocol/schemata/describe_log_dirs_response.json
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/protocol/schemata/sasl_authenticate_request.json
  src/v/kafka/protocol/schemata/sasl_authenticate_response.json
  src/v/kafka/protocol/tests/protocol_test.cc
  src/v/kafka/server/handlers/add_partitions_to_txn.h
  src/v/kafka/server/handlers/alter_configs.h
  src/v/kafka/server/handlers/create_acls.h
  src/v/kafka/server/handlers/delete_acls.h
  src/v/kafka/server/handlers/delete_groups.h
  src/v/kafka/server/handlers/describe_acls.h
  src/v/kafka/server/handlers/describe_groups.h
  src/v/kafka/server/handlers/describe_log_dirs.h
  src/v/kafka/server/handlers/end_txn.h
  src/v/kafka/server/handlers/find_coordinator.h
  src/v/kafka/server/handlers/heartbeat.h
  src/v/kafka/server/handlers/incremental_alter_configs.h
  src/v/kafka/server/handlers/join_group.h
  src/v/kafka/server/handlers/leave_group.h
  src/v/kafka/server/handlers/list_groups.h
  src/v/kafka/server/handlers/offset_commit.h
  src/v/kafka/server/handlers/offset_for_leader_epoch.h
  src/v/kafka/server/handlers/sasl_authenticate.h
  src/v/kafka/server/handlers/sync_group.h
Labels: area/redpanda

#7934 [v22.3.x] cloud_storage: Set limits on segments and readers in tests
  src/v/cloud_storage/tests/remote_partition_test.cc
Labels: area/cloud-storage

#7846 Avoid unnecessary move in topic_table::apply
  src/v/cluster/topic_table.cc
Labels: area/redpanda

#7399 Rate limiting per client groups
  src/v/config/CMakeLists.txt
  src/v/config/client_group_byte_rate_quota.cc
  src/v/config/client_group_byte_rate_quota.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/convert.h
  src/v/config/property.h
  src/v/config/tests/CMakeLists.txt
  src/v/config/tests/validator_tests.cc
  src/v/config/validators.cc
  src/v/config/validators.h
  src/v/json/json.h
  src/v/kafka/server/quota_manager.cc
  src/v/kafka/server/quota_manager.h
  tests/rptest/tests/cluster_quota_test.py
Labels: area/redpanda

#7923 k/group_metadata: added support for v1 offset metadata value
  src/v/kafka/server/group_metadata.cc
  src/v/kafka/server/group_metadata.h
  src/v/kafka/server/tests/group_metadata_serialization_test.cc
Labels: area/kafka, area/redpanda

#7957 Loading consumer groups asynchronously and in parallel
  src/v/kafka/server/group.cc
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
  tests/rptest/tests/consumer_group_test.py
Labels: area/redpanda

#7968 tm_stm: remove duplicated fmt placeholder
  src/v/cluster/tm_stm.cc
Labels: area/redpanda

#7966 [v22.3.x] Raise recovery rate in partition balancer test
  tests/rptest/tests/partition_balancer_test.py
Labels: kind/backport

#7080 Schema Registry and REST Proxy: health checks
  src/v/pandaproxy/api/api-doc/rest.json
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/rest/handlers.cc
  src/v/pandaproxy/rest/handlers.h
  src/v/pandaproxy/rest/proxy.cc
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/handlers.h
  src/v/pandaproxy/schema_registry/service.cc
Labels: area/redpanda, area/pandaproxy, area/schema-registry

#7289 Check if public_metrics are enabled
  src/v/resource_mgmt/available_memory.cc
  src/v/resource_mgmt/tests/CMakeLists.txt
Labels: area/redpanda

#7909 Increase timeout in graceful_leadership_transfer_test to fix 7827
  src/v/cluster/tx_gateway_frontend.cc
  tests/rptest/tests/transactions_test.py
Labels: area/redpanda
