Repository redpanda-data/redpanda, pull requests merged in 2023-02, with the labels that each got.

#8541 [v22.3.x] Update omb git ref
  tests/docker/ducktape-deps.sh
Labels: kind/backport

#8501 [v22.1.x] add llvm_profile_file env var before running redpanda
  tests/rptest/services/redpanda.py
Labels: kind/backport

#8500 [v22.2.x] add llvm_profile_file env var before running redpanda
  tests/rptest/services/redpanda.py
Labels: kind/backport

#8499 [v22.3.x] add llvm_profile_file env var before running redpanda
  tests/rptest/services/redpanda.py
Labels: kind/backport

#8544 Backport v22.2.x 8403 cloud roles handle conn timeout
  src/v/cloud_roles/refresh_credentials.cc
  src/v/cloud_roles/request_response_helpers.cc
  src/v/cloud_roles/request_response_helpers.h
  src/v/cloud_roles/tests/fetch_credentials_tests.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

#8521 Backport 8403 cloud roles handle conn timeout
  src/v/cloud_roles/refresh_credentials.cc
  src/v/cloud_roles/request_response_helpers.cc
  src/v/cloud_roles/request_response_helpers.h
  src/v/cloud_roles/tests/fetch_credentials_tests.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

#8391 [v22.3.x] rpk: redact secret values when importing from file
  src/go/rpk/pkg/api/admin/api_config.go
  src/go/rpk/pkg/cli/cmd/cluster/config/import.go
  tests/rptest/tests/cluster_config_test.py
Labels: area/rpk, kind/backport

#8473 [v22.3.x] [rpk] node version check in rpk decommission request
  src/go/rpk/pkg/cli/cmd/redpanda/admin/brokers/brokers.go
  src/go/rpk/pkg/cli/cmd/redpanda/admin/brokers/decommission.go
  src/go/rpk/pkg/cli/cmd/redpanda/admin/brokers/list.go
  src/go/rpk/pkg/cli/cmd/redpanda/admin/brokers/recommission.go
  src/go/rpk/pkg/redpanda/version.go
  src/go/rpk/pkg/redpanda/version_test.go
Labels: area/rpk, kind/backport

#8548 Explicitly deregister log metrics
  src/v/storage/disk_log_impl.cc
  src/v/storage/probe.h
Labels: area/redpanda

#8517 rpk: capture metrics at two points in time
  src/go/rpk/pkg/cli/cmd/debug/bundle/bundle.go
  src/go/rpk/pkg/cli/cmd/debug/bundle/bundle_k8s_linux.go
Labels: area/rpk

#8469 Use fragmented vector for metadata response
  src/v/kafka/client/consumer.cc
  src/v/kafka/protocol/response_writer.h
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/server/handlers/metadata.cc
  src/v/utils/fragmented_vector.h
  src/v/utils/tests/fragmented_vector_test.cc
Labels: area/redpanda

#8380 Add SAX parser for list-v2 results
  src/v/cloud_storage/recovery_utils.cc
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/cloud_storage/tests/remote_test.cc
  src/v/cloud_storage/tests/topic_recovery_service_test.cc
  src/v/cloud_storage/topic_recovery_service.cc
  src/v/cloud_storage/topic_recovery_service.h
  src/v/cloud_storage_clients/CMakeLists.txt
  src/v/cloud_storage_clients/abs_client.cc
  src/v/cloud_storage_clients/abs_client.h
  src/v/cloud_storage_clients/client.h
  src/v/cloud_storage_clients/s3_client.cc
  src/v/cloud_storage_clients/s3_client.h
  src/v/cloud_storage_clients/tests/CMakeLists.txt
  src/v/cloud_storage_clients/tests/s3_client_test.cc
  src/v/cloud_storage_clients/tests/xml_sax_parser_test.cc
  src/v/cloud_storage_clients/xml_sax_parser.cc
  src/v/cloud_storage_clients/xml_sax_parser.h
Labels: area/redpanda

#8552 redpanda: hexdump config on 'unknown escape character'
  src/v/redpanda/application.cc
Labels: area/redpanda, kind/tech-debt

#8547 Do not allow decommissioned node rejoining the cluster
  src/v/cluster/members_manager.cc
  src/v/raft/replicate_entries_stm.cc
  tests/rptest/services/redpanda.py
  tests/rptest/tests/nodes_decommissioning_test.py
  tests/rptest/utils/node_operations.py
Labels: area/redpanda

#8479 [v22.2.x] [rpk] node version check in rpk decommission request
  src/go/rpk/pkg/cli/cmd/redpanda/admin/brokers/brokers.go
  src/go/rpk/pkg/cli/cmd/redpanda/admin/brokers/decommission.go
  src/go/rpk/pkg/cli/cmd/redpanda/admin/brokers/list.go
  src/go/rpk/pkg/cli/cmd/redpanda/admin/brokers/recommission.go
  src/go/rpk/pkg/redpanda/version.go
  src/go/rpk/pkg/redpanda/version_test.go
Labels: area/rpk, kind/backport

#8494 admin: map replicated_entry_truncated error to 503 http error code
  src/v/redpanda/admin_server.cc
Labels: area/redpanda

#8516 security/gssapi: Ensure krb5 objects are freed on the thread_worker.
  src/v/security/gssapi_authenticator.cc
  src/v/ssx/thread_worker.h
Labels: area/redpanda, area/security

#8566 Fixes #8236 (stuck transactions) by aborting expired transactions
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/rm_group_frontend.cc
Labels: area/redpanda

#8561 [controller] Fix cross core partition movement coordination at bootstrap
  src/v/cluster/controller_backend.cc
  tests/rptest/tests/partition_movement_upgrade_test.py
Labels: area/controller, area/redpanda

#8543 k8s: Secret store configuration enabler
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook_test.go
  src/go/k8s/apis/redpanda/v1alpha1/console_enterprise_types.go
  src/go/k8s/apis/redpanda/v1alpha1/console_types.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_consoles.yaml
  src/go/k8s/controllers/redpanda/cluster_controller_configuration_test.go
  src/go/k8s/controllers/redpanda/cluster_controller_scale_test.go
  src/go/k8s/controllers/redpanda/cluster_controller_test.go
  src/go/k8s/controllers/redpanda/console_controller.go
  src/go/k8s/go.mod
  src/go/k8s/go.sum
  src/go/k8s/pkg/console/configmap.go
  src/go/k8s/pkg/console/console.go
  src/go/k8s/pkg/console/deployment.go
  src/go/k8s/pkg/console/deployment_internal_test.go
  src/go/k8s/pkg/resources/certmanager/pki_test.go
  src/go/k8s/pkg/resources/certmanager/type_helpers_test.go
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/pkg/resources/statefulset_test.go
  src/go/k8s/tests/e2e/console-admin-api/02-console.yaml
  src/go/k8s/tests/e2e/console-kafka-mtls/03-console.yaml
  src/go/k8s/tests/e2e/console/02-console.yaml
Labels: area/k8s, k8s/tests

#8572 archival: quieten a noisy INFO-level message
  src/v/archival/segment_reupload.cc
Labels: area/redpanda, kind/tech-debt, area/cloud-storage

#8515 Node TP limits: DT on configuration and metrics
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/snc_quota_manager.cc
  src/v/kafka/server/snc_quota_manager.h
  src/v/kafka/server/tests/produce_consume_test.cc
  src/v/tristate.h
  src/v/utils/bottomless_token_bucket.cc
  src/v/utils/bottomless_token_bucket.h
  tests/rptest/tests/throughput_limits_snc_test.py
Labels: area/redpanda

#8540 archival: clean up + fix over-optimistic timeout waiting for leadership
  src/v/archival/tests/CMakeLists.txt
  src/v/archival/tests/service_fixture.cc
  src/v/archival/tests/service_fixture.h
Labels: kind/bug, area/redpanda, area/cloud-storage

#8539 archival: remove double-compile of housekeeping unit tests
  src/v/archival/tests/CMakeLists.txt
Labels: area/redpanda

#8579 Add exception logging to some background fibers
  src/v/cluster/health_monitor_frontend.cc
  src/v/cluster/metadata_dissemination_service.cc
Labels: area/redpanda

#8586 [v22.3.x] Add exception logging to some background fibers
  src/v/cluster/health_monitor_frontend.cc
  src/v/cluster/metadata_dissemination_service.cc
Labels: area/redpanda, kind/backport

#8265 [v22.3.x] Backports of #7862 #8139 #8167 #8245 #8181
  src/v/cluster/config_manager.cc
  src/v/cluster/config_manager.h
  src/v/cluster/controller.cc
  src/v/cluster/controller_api.cc
  src/v/cluster/controller_api.h
  src/v/cluster/members_backend.cc
  src/v/cluster/members_backend.h
  src/v/cluster/members_manager.cc
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/kafka/server/handlers/metadata.cc
  src/v/redpanda/admin/api-doc/broker.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  tests/rptest/scale_tests/node_operations_fuzzy_test.py
  tests/rptest/services/admin.py
  tests/rptest/tests/nodes_decommissioning_test.py
  tests/rptest/tests/random_node_operations_test.py
  tests/rptest/utils/node_operations.py
Labels: area/redpanda

#8578 kafka/client: Better system_error handling
  src/v/kafka/client/broker.h
Labels: area/kafka, area/redpanda, area/schema-registry

#8593 tests/acls: ignore disconnect errror from GnuTls
  tests/rptest/tests/acls_test.py
Labels: area/tests, ci-failure

#8581 rpk: use survey type password for cloud login
  src/go/rpk/pkg/cli/cmd/cloud/auth/auth.go
  src/go/rpk/pkg/cli/cmd/cloud/login.go
Labels: area/rpk

#8599 Handling all exceptions in refresh credentials loop
  src/v/cloud_roles/refresh_credentials.cc
Labels: area/redpanda

#8118 [v22.3.x] Backport #8087 (net: improve logging of TLS & auth errors)
  src/v/kafka/server/requests.cc
  src/v/net/connection.cc
  src/v/net/connection.h
  src/v/net/server.cc
  src/v/net/types.h
  src/v/security/scram_algorithm.h
Labels: area/redpanda, kind/backport

#8295 [v22.3.x] c/controller: validate configuration invariants before starting raft0
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/members_manager.cc
  src/v/cluster/members_manager.h
Labels: area/redpanda, kind/backport

#8602 [v22.3.x] rpk: use survey type password for cloud login
  src/go/rpk/pkg/cli/cmd/cloud/auth/auth.go
  src/go/rpk/pkg/cli/cmd/cloud/login.go
Labels: area/rpk, kind/backport

#8549 [v22.3.x] coverage: fix inconsistent enabling option
  tests/rptest/services/redpanda.py
Labels: kind/backport

#8550 [v22.2.x] coverage: fix inconsistent enabling option
  tests/rptest/services/redpanda.py
Labels: kind/backport

#8551 [v22.1.x] coverage: fix inconsistent enabling option
  tests/rptest/services/redpanda.py
Labels: kind/backport

#8611 [v22.3.x] Handling all exceptions in refresh credentials loop
  src/v/cloud_roles/refresh_credentials.cc
Labels: area/redpanda, kind/backport

#8604 [v22.3.x] kafka/client: Better system_error handling
  src/v/kafka/client/broker.h
Labels: area/redpanda, kind/backport

#8607 [v22.1.x] kafka/client: Better system_error handling
  src/v/kafka/client/broker.h
Labels: area/redpanda, kind/backport

#8606 [v22.2.x] kafka/client: Better system_error handling
  src/v/kafka/client/broker.h
Labels: area/redpanda, kind/backport

#8594 [v22.3.x] admin: correct added_replicas calculation
  src/v/redpanda/admin_server.cc
Labels: area/redpanda, kind/backport

#8529 [v22.3.x] Upgrade raft configuration before entering transitional state
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
Labels: area/redpanda, kind/backport

#8376 rpk: show decommissioning progress
  src/go/rpk/pkg/api/admin/api_broker.go
  src/go/rpk/pkg/cli/cmd/redpanda/admin/brokers/brokers.go
  src/go/rpk/pkg/cli/cmd/redpanda/admin/brokers/decommission-status.go
Labels: area/rpk

#8612 [v22.3.x] Backport of #8497
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/cluster/raft0_utils.h
  src/v/raft/group_manager.cc
  src/v/raft/group_manager.h
  src/v/raft/tests/mux_state_machine_fixture.h
  src/v/raft/types.h
  tests/rptest/tests/nodes_decommissioning_test.py
Labels: area/redpanda

#8625 rpk: show decommissioning status
  src/go/rpk/pkg/api/admin/api_broker.go
  src/go/rpk/pkg/cli/cmd/redpanda/admin/brokers/brokers.go
  src/go/rpk/pkg/cli/cmd/redpanda/admin/brokers/decommission-status.go
Labels: area/rpk

#8554 utils: Fix hang in input_stream_fanout
  src/v/utils/stream_utils.h
  src/v/utils/tests/input_stream_fanout_test.cc
Labels: area/redpanda, area/cloud-storage

#8632 [v22.3.x] k/topic_utils: do not return an error when waiting for leaders failed
  src/v/kafka/server/handlers/topics/topic_utils.cc
Labels: area/redpanda, kind/backport

#8636 [v22.3.x] Fixes #8236 (stuck transactions) by aborting expired transactions
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/rm_group_frontend.cc
Labels: area/redpanda, kind/backport

#8622 rpk: small wording change and update deprecated commands
  src/go/rpk/pkg/cli/cmd/common/common.go
  src/go/rpk/pkg/cli/cmd/redpanda/tune/tune.go
Labels: area/rpk

#8600 Fix policy version
  src/go/k8s/pkg/resources/pdb.go
  src/go/k8s/tests/e2e/update/00-assert.yaml
Labels: area/k8s, k8s/tests

#8609 security/gssapi: Allow configurable location of `krb5.conf`
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/server.cc
  src/v/kafka/server/server.h
  src/v/security/CMakeLists.txt
  src/v/security/krb5_configurator.cc
  src/v/security/krb5_configurator.h
  tests/rptest/services/kerberos.py
  tests/rptest/tests/redpanda_kerberos_test.py
Labels: area/redpanda

#8482 Return retryable error when method not found during bootstrap
  src/v/cluster/cluster_utils.cc
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/features/tests/feature_table_test.cc
  src/v/redpanda/admin_server.cc
  src/v/redpanda/application.cc
  src/v/rpc/errc.h
  src/v/rpc/rpc_server.cc
  src/v/rpc/rpc_server.h
  src/v/rpc/test/rpc_gen_cycling_test.cc
  src/v/rpc/test/rpc_integration_fixture.h
  src/v/rpc/transport.h
  src/v/rpc/types.cc
  src/v/rpc/types.h
Labels: area/redpanda

#7619 Fail when changing partition count in __consumer_offsets by default
  src/go/rpk/pkg/cli/cmd/topic/add_partitions.go
Labels: area/rpk

#8509 storage: use index for timequeries and support negative time deltas
  src/v/cluster/tests/local_monitor_fixture.h
  src/v/cluster/tests/local_monitor_test.cc
  src/v/config/configuration.cc
  src/v/model/timestamp.h
  src/v/raft/tests/bootstrap_configuration_test.cc
  src/v/raft/tests/configuration_manager_test.cc
  src/v/raft/tests/foreign_entry_test.cc
  src/v/raft/tests/mux_state_machine_fixture.h
  src/v/raft/tests/offset_translator_tests.cc
  src/v/raft/tests/raft_group_fixture.h
  src/v/redpanda/application.cc
  src/v/storage/api.h
  src/v/storage/compaction_reducers.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/index_state.cc
  src/v/storage/index_state.h
  src/v/storage/kvstore.cc
  src/v/storage/kvstore.h
  src/v/storage/log.h
  src/v/storage/log_manager.cc
  src/v/storage/log_manager.h
  src/v/storage/log_replayer.cc
  src/v/storage/log_replayer.h
  src/v/storage/offset_to_filepos.cc
  src/v/storage/offset_to_filepos.h
  src/v/storage/segment.cc
  src/v/storage/segment.h
  src/v/storage/segment_index.cc
  src/v/storage/segment_index.h
  src/v/storage/segment_set.cc
  src/v/storage/segment_set.h
  src/v/storage/segment_utils.cc
  src/v/storage/segment_utils.h
  src/v/storage/tests/CMakeLists.txt
  src/v/storage/tests/index_state_test.cc
  src/v/storage/tests/kvstore_test.cc
  src/v/storage/tests/log_manager_test.cc
  src/v/storage/tests/log_replayer_test.cc
  src/v/storage/tests/log_truncate_test.cc
  src/v/storage/tests/offset_index_utils_tests.cc
  src/v/storage/tests/storage_test_fixture.h
  src/v/storage/tests/timequery_test.cc
  src/v/storage/tests/utils/disk_log_builder.cc
  src/v/storage/tests/utils/disk_log_builder.h
  src/v/test_utils/logs.h
  tests/rptest/tests/describe_topics_test.py
Labels: area/redpanda

#8648 k8s: Fix secret shared between e2e tests
  src/go/k8s/tests/e2e/update-image-and-node-port/02-new-image-and-pv.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/02-new-image-and-pv.yaml
  src/go/k8s/tests/e2e/update-image-tls/02-new-image-and-pv.yaml
Labels: area/k8s

#8649 k8s: Include pod name in the log statement context
  src/go/k8s/pkg/resources/statefulset_update.go
Labels: area/k8s, k8s/tests

#8642 security/gssapi: Enable kafka_gssapi feature by default
  src/v/features/feature_table.h
  tests/rptest/tests/redpanda_kerberos_test.py
Labels: area/redpanda

#8651 resource_mgmt: reduce IO priority of tiered storage reads
  src/v/resource_mgmt/io_priority.h
Labels: kind/enhance, area/redpanda, area/cloud-storage

#8634 Add `version_epoch` batch type and use it for offset retention feature
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
  src/v/kafka/server/group_metadata.cc
  src/v/kafka/server/group_metadata.h
  src/v/kafka/server/group_recovery_consumer.cc
  src/v/kafka/server/group_recovery_consumer.h
  src/v/kafka/server/handlers/handler.h
  src/v/kafka/server/tests/group_metadata_serialization_test.cc
  src/v/model/model.cc
  src/v/model/record_batch_types.h
  src/v/raft/consensus.cc
  src/v/storage/segment_utils.h
  tests/rptest/tests/offset_retention_test.py
Labels: area/redpanda

#8574 test: add debug for NoSuchBucket exceptions
  tests/rptest/archival/s3_client.py
Labels: kind/tech-debt, area/cloud-storage

#8660 Offset retention legacy timestamps
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/kafka/server/group_manager.cc
Labels: area/redpanda

#8623 Fix for "Expected quota value mismatch" failure in CDT and UTs
  src/v/config/configuration.cc
  src/v/kafka/server/snc_quota_manager.cc
  src/v/kafka/server/snc_quota_manager.h
  src/v/kafka/server/tests/CMakeLists.txt
  src/v/kafka/server/tests/quota_managers_test.cc
Labels: area/redpanda

#8638 Reset shard quotas when quota balancer is disabled
  src/v/kafka/server/snc_quota_manager.cc
  src/v/kafka/server/tests/produce_consume_test.cc
Labels: area/redpanda

#8664 test: ok_to_fail FeaturesMultiNodeUpgradeTest.test_upgrade
  tests/rptest/tests/cluster_features_test.py
Labels: kind/bug, area/tests

#8639 Cluster wide throughput limit cluster properties
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/snc_quota_manager.cc
  src/v/kafka/server/snc_quota_manager.h
Labels: area/redpanda

#8672 kafka: handle replicating into raft group shutting down
  src/v/kafka/server/group_manager.cc
Labels: area/redpanda

#8610 Automated recovery ABS support
  src/v/cloud_storage/recovery_utils.cc
  src/v/cloud_storage_clients/abs_client.cc
  src/v/cloud_storage_clients/abs_client.h
  tests/rptest/tests/topic_recovery_test.py
Labels: area/redpanda

#8555 Add parsing of v1 compaction index footers
  src/v/storage/compacted_index.h
  src/v/storage/compacted_index_chunk_reader.cc
  src/v/storage/compacted_index_chunk_reader.h
  src/v/storage/spill_key_index.cc
  src/v/storage/tests/compaction_index_format_tests.cc
  tests/rptest/tests/compaction_recovery_test.py
  tests/rptest/util.py
Labels: area/storage, area/redpanda

#8677 config: Improve wording for kerberos mapping rules
  src/v/config/configuration.cc
Labels: area/redpanda

#8620 cloud_storage: Futurize manifest serialization
  src/v/archival/ntp_archiver_service.cc
  src/v/cloud_storage/base_manifest.h
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/tests/partition_manifest_test.cc
  src/v/cloud_storage/tests/topic_manifest_test.cc
  src/v/cloud_storage/tests/tx_range_manifest_test.cc
  src/v/cloud_storage/topic_manifest.cc
  src/v/cloud_storage/topic_manifest.h
  src/v/cloud_storage/tx_range_manifest.cc
  src/v/cloud_storage/tx_range_manifest.h
Labels: area/redpanda, area/cloud-storage

#8676 features: set original version from bootstrap record on upgrade from 22.3.12
  src/v/cluster/bootstrap_backend.cc
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  tests/rptest/tests/cluster_features_test.py
Labels: kind/bug, area/controller, area/redpanda

#8583 storage: Followup and fixes for segment.ms
  src/v/cluster/topic_table.cc
  src/v/compat/cluster_json.h
  src/v/storage/disk_log_impl.cc
  tests/rptest/services/redpanda.py
  tests/rptest/tests/log_segment_ms_test.py
  tests/rptest/tests/topic_creation_test.py
Labels: area/storage, area/redpanda

#8689 Remove duplicate responses sent by offset_fetch request handler
  src/v/kafka/server/server.cc
Labels: area/redpanda

#8681 k8s: Fix the incorrect key name
  src/go/k8s/tests/e2e/update-image-and-node-port/02-new-image-and-pv.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/02-new-image-and-pv.yaml
  src/go/k8s/tests/e2e/update-image-tls/02-new-image-and-pv.yaml
Labels: area/k8s, k8s/tests

#8695 Assorted improvements to self-test
  src/go/rpk/pkg/cli/cmd/cluster/selftest/start.go
  src/go/rpk/pkg/cli/cmd/cluster/selftest/status.go
  src/v/cluster/self_test/diskcheck.cc
  src/v/cluster/self_test/netcheck.cc
  src/v/cluster/self_test/netcheck.h
  src/v/cluster/self_test/tests/self_test_config_test.cc
  src/v/cluster/self_test_backend.cc
  src/v/cluster/self_test_frontend.cc
  src/v/cluster/self_test_rpc_types.h
  tests/rptest/clients/rpk.py
Labels: area/rpk, area/redpanda

#8587 Cloud storage shutdown hang
  src/v/cloud_storage/materialized_segments.cc
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/tests/remote_partition_test.cc
  src/v/cluster/controller.cc
  src/v/cluster/partition.cc
  src/v/http/client.cc
  src/v/storage/log_manager.cc
Labels: area/redpanda

#8693 archival: Turn assertion into exception
  src/v/archival/archival_policy.cc
Labels: area/redpanda

#8401 support for definining cmd arguments
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/controllers/redpanda/cluster_controller_configuration_test.go
  src/go/k8s/pkg/resources/ingress.go
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/tests/e2e/additional-cmdline-arguments/00-assert.yaml
  src/go/k8s/tests/e2e/additional-cmdline-arguments/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/additional-cmdline-arguments/01-assert.yaml
Labels: area/k8s, k8s/tests

#8708 storage: clamp max_compacted_segment_size to 1.5 GiB
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda

#8663 rpk: always print epoch in `rpk topic describe`
  src/go/rpk/pkg/cli/cmd/topic/describe.go
  src/go/rpk/pkg/cli/cmd/topic/describe_test.go
Labels: area/rpk

#8645 rpc: guarantee that resource_units don't outlive the request
  src/v/rpc/test/rpc_gen_cycling_test.cc
  src/v/rpc/transport.cc
  src/v/rpc/transport.h
Labels: area/redpanda

#8691 .github/CODEOWNERS: update rpk
  .github/CODEOWNERS
Labels: area/build

#8678 Always allow canceled operation to be executed
  src/v/cluster/controller_backend.cc
  src/v/cluster/errc.h
  src/v/kafka/server/errors.h
  src/v/raft/group_configuration.cc
  tests/rptest/services/redpanda.py
  tests/rptest/tests/partition_move_interruption_test.py
Labels: area/redpanda

#8734 Synchronize quota reset on balancer disable
  src/v/kafka/server/snc_quota_manager.cc
Labels: area/redpanda

#8735 [v22.2.x] storage: clamp max_compacted_segment_size to 1.5 GiB
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda

#8718 [v22.3.x] Improvements for PartitionBalancerScaleTest.test_node_operations_at_scale
  tests/rptest/scale_tests/partition_balancer_scale_test.py
Labels: kind/backport

#8700 tx: Fix initialization of timeout_ms in fetch_tx_reply
  src/v/cluster/types.h
  tests/rptest/tests/compaction_e2e_test.py
Labels: area/redpanda

#8741 Use raft disk i/o timeout in recovery stm
  src/v/config/configuration.cc
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/group_manager.h
  src/v/raft/recovery_stm.cc
  src/v/raft/tests/mux_state_machine_fixture.h
  src/v/raft/tests/raft_group_fixture.h
  src/v/redpanda/application.cc
  tests/rptest/scale_tests/node_operations_fuzzy_test.py
  tests/rptest/tests/availability_test.py
  tests/rptest/tests/partition_balancer_test.py
  tests/rptest/tests/random_node_operations_test.py
Labels: area/redpanda

#8706 [rpk, k8s]: bump go deps
  src/go/k8s/go.mod
  src/go/k8s/go.sum
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cmd/container/common/client.go
  src/go/rpk/pkg/cli/cmd/container/common/test.go
  src/go/rpk/pkg/cli/cmd/container/purge_test.go
  src/go/rpk/pkg/cli/cmd/container/start_test.go
  src/go/rpk/pkg/cli/cmd/container/stop.go
  src/go/rpk/pkg/cli/cmd/container/stop_test.go
  src/go/rpk/pkg/cli/cmd/debug/bundle/bundle_all.go
  src/go/rpk/pkg/cli/cmd/redpanda/tune/help.go
  src/go/rpk/pkg/system/filesystem/fs_darwin.go
  src/go/rpk/pkg/system/utils.go
  src/go/rpk/pkg/system/utils_linux.go
  src/go/rpk/pkg/tuners/disk/block_device.go
  src/go/rpk/pkg/tuners/disk/block_device_linux.go
Labels: area/rpk, area/k8s, k8s/tests

#8710 [v22.2.x] archival: fix errc condition for logging
  src/v/cluster/archival_metadata_stm.cc
Labels: area/redpanda, kind/backport

#8768 [v22.3.x] gha: bump goreleaser action version for rpk workflow
  .github/workflows/rpk-build.yml
Labels: area/build, kind/backport

#8274 [v22.2.x] raft: fix handle_eviction in snapshots
  src/v/cluster/persisted_stm.cc
  src/v/raft/state_machine.cc
Labels: area/redpanda, kind/backport

#8712 [v22.2.x] utils: Fix hang in input_stream_fanout
  src/v/utils/stream_utils.h
  src/v/utils/tests/input_stream_fanout_test.cc
Labels: area/redpanda, kind/backport

#8669 Implement KIP-496 OffsetDelete
  src/v/kafka/protocol/errors.cc
  src/v/kafka/protocol/errors.h
  src/v/kafka/protocol/offset_delete.h
  src/v/kafka/protocol/schemata/CMakeLists.txt
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/protocol/schemata/offset_delete_request.json
  src/v/kafka/protocol/schemata/offset_delete_response.json
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
  src/v/kafka/server/group_router.cc
  src/v/kafka/server/group_router.h
  src/v/kafka/server/handlers/handlers.h
  src/v/kafka/server/handlers/offset_delete.h
  src/v/kafka/server/server.cc
  src/v/pandaproxy/error.cc
  tests/rptest/clients/kcl.py
  tests/rptest/tests/offset_retention_test.py
Labels: area/redpanda

#8773 Fix 8726 by making try_abort fail faster
  src/v/cluster/tx_gateway_frontend.cc
Labels: area/redpanda

#8761 [v22.2.x] k/group: bump error log messages to info
  src/v/kafka/server/group_manager.cc
Labels: area/redpanda, kind/backport

#8771 rpk: bugfix - stop requiring HOME in unrelated cmd
  src/go/rpk/pkg/cli/cmd/plugin/install.go
Labels: area/rpk

#8702 cloud_storage_clients: ABS topic recovery adjustments
  src/v/cloud_roles/signature.cc
  src/v/cloud_storage/recovery_utils.cc
  src/v/cloud_storage/topic_recovery_service.cc
  src/v/cloud_storage_clients/abs_client.cc
  src/v/cloud_storage_clients/tests/xml_sax_parser_test.cc
  src/v/cloud_storage_clients/xml_sax_parser.cc
Labels: area/redpanda

#8736 rpk: avoid overwriting redpanda.yaml if there are no changes
  src/go/rpk/pkg/cli/cmd/redpanda/mode_test.go
  src/go/rpk/pkg/cli/cmd/redpanda/start_test.go
  src/go/rpk/pkg/config/params.go
  src/go/rpk/pkg/config/params_test.go
  src/go/rpk/pkg/config/schema.go
Labels: area/rpk

#8567 Expose status of topic recovery via admin API
  src/v/cloud_storage/recovery_utils.cc
  src/v/cloud_storage/recovery_utils.h
  src/v/cloud_storage/tests/topic_recovery_service_test.cc
  src/v/cloud_storage/topic_recovery_service.cc
  src/v/cloud_storage/topic_recovery_service.h
  src/v/cluster/CMakeLists.txt
  src/v/cluster/topic_recovery_status_frontend.cc
  src/v/cluster/topic_recovery_status_frontend.h
  src/v/cluster/topic_recovery_status_rpc_handler.cc
  src/v/cluster/topic_recovery_status_types.cc
  src/v/cluster/topic_recovery_status_types.h
  src/v/redpanda/admin/api-doc/shadow_indexing.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  src/v/redpanda/application.cc
  tests/rptest/services/admin.py
  tests/rptest/tests/shadow_indexing_admin_api_test.py
  tests/rptest/tests/topic_recovery_test.py
Labels: area/redpanda

#8778 Edit self-test help and UX text
  src/go/rpk/pkg/cli/cmd/cluster/selftest/selftest.go
  src/go/rpk/pkg/cli/cmd/cluster/selftest/start.go
  src/go/rpk/pkg/cli/cmd/cluster/selftest/status.go
  src/go/rpk/pkg/cli/cmd/cluster/selftest/stop.go
Labels: area/rpk

#8796 tests/cluster_config_test: add item for log_segment_ms alternative name
  tests/rptest/tests/cluster_config_test.py
Labels: area/storage

#8787 [v22.3.x] rpk: bugfix - stop requiring HOME in unrelated cmd
  src/go/rpk/pkg/cli/cmd/plugin/install.go
Labels: area/rpk, kind/backport

#8737 rpk: Modify latency disk test request size to 4k
  src/go/rpk/pkg/cli/cmd/cluster/selftest/start.go
Labels: area/rpk

#8792 rpk,k8s: bump franz-go to v1.12.0 for bugfixes
  src/go/k8s/go.mod
  src/go/k8s/go.sum
  src/go/rpk/go.mod
  src/go/rpk/go.sum
Labels: area/rpk, area/k8s

#8794 [v22.3.x] Backport of #8689 Remove duplicate responses sent by offset_fetch request handler
  src/v/kafka/server/handlers/offset_fetch.cc
Labels: area/redpanda

#8799 fix self-test start prompt text
  src/go/rpk/pkg/cli/cmd/cluster/selftest/start.go
Labels: area/rpk

#8414 kafka: alter partitions followups & tests
  src/v/cluster/metadata_cache.cc
  src/v/cluster/metadata_cache.h
  src/v/kafka/server/errors.h
  src/v/kafka/server/handlers/alter_partition_reassignments.cc
  src/v/kafka/server/handlers/list_partition_reassignments.cc
  src/v/kafka/server/tests/CMakeLists.txt
  src/v/kafka/server/tests/partition_reassignments_test.cc
  tests/rptest/clients/kafka_cli_tools.py
  tests/rptest/clients/kcl.py
  tests/rptest/tests/partition_reassignments_test.py
Labels: area/redpanda

#8781 fixed serialization of mixed failed and successful heartbeat replies
  src/v/raft/tests/type_serialization_tests.cc
  src/v/raft/types.cc
Labels: area/redpanda

#8814 [v22.3.x] tests: add missing dependency to central script
  tests/docker/Dockerfile
  tests/docker/ducktape-deps.sh
Labels: kind/backport

#8789 schema_registry/protobuf: Early exit recursion if file exists
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.h
Labels: area/redpanda

#8790 s/segment_reader: gate in-flight operations
  src/v/storage/segment_reader.cc
  src/v/storage/segment_reader.h
Labels: area/redpanda

#8832 [v22.3.x] schema_registry/protobuf: Early exit recursion if file exists
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.h
Labels: area/redpanda, kind/backport

#8834 [v22.2.x] schema_registry/protobuf: Early exit recursion if file exists
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.h
Labels: area/redpanda, kind/backport

#8797 cluster/types.h: default init of some duration fields and others
  src/v/cluster/types.h
Labels: area/redpanda

#8833 [v22.1.x] schema_registry/protobuf: Early exit recursion if file exists
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.h
Labels: area/redpanda, kind/backport

#8841 [v22.3.x] Tests: set daemon=True for all background Threads
  tests/rptest/remote_scripts/schema_registry_test_helper.py
  tests/rptest/services/action_injector.py
  tests/rptest/services/admin_ops_fuzzer.py
  tests/rptest/services/kgo_verifier_services.py
  tests/rptest/tests/pandaproxy_test.py
  tests/rptest/tests/topic_recovery_test.py
Labels: kind/backport

#8396 Clear topics orphan files
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
  src/v/storage/fs_utils.h
  src/v/storage/log_manager.cc
  src/v/storage/log_manager.h
  tests/rptest/tests/topic_delete_test.py
Labels: area/redpanda

#8813 [v22.2.x] TS timequeries: bail on if segment not found
  src/v/cloud_storage/remote_partition.cc
Labels: area/redpanda

#8835 test: don't loop consumer in EndToEndTopicRecovery
  tests/rptest/tests/e2e_topic_recovery_test.py
Labels: area/tests

#8837 [v22.3.x] rpk: remove env from logs in redpanda launcher
  src/go/rpk/pkg/redpanda/launcher.go
Labels: area/rpk, kind/backport

#8844 [v22.3.x] Backport #8540
  src/v/archival/tests/service_fixture.cc
Labels: area/redpanda, kind/tech-debt, area/tests

#8703 tests: make test_retention_with_node_failures more robust
  tests/docker/ducktape-deps.sh
  tests/rptest/services/kgo_verifier_services.py
  tests/rptest/tests/cloud_retention_test.py
  tests/rptest/tests/e2e_shadow_indexing_test.py
Labels: kind/bug, area/tests

#8522 archival: fix log messages printing integer errors
  src/v/archival/ntp_archiver_service.cc
Labels: area/redpanda, kind/tech-debt, area/cloud-storage

#8744 Trigger leadership notification after current term is confirmed
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/vote_stm.cc
  tests/rptest/tests/partition_balancer_test.py
Labels: area/redpanda

#8859 [v22.3.x] cloud_storage: Remove flaky tests from test_cloud_storage_rpunit
  src/v/cloud_storage/tests/remote_partition_test.cc
Labels: area/redpanda, kind/backport

#8842 storage: enforce safe usage of `segment_reader_handle` in the cloud write path
  src/v/storage/offset_to_filepos.cc
  src/v/storage/segment_utils.h
Labels: area/redpanda

#8861 c/members_backend: start listening for updates immediately
  src/v/cluster/members_backend.cc
Labels: area/redpanda

#8869 [v22.3.x] Backport #8843 (kafka: handle empty partitions in validate_fetch_offset)
  src/v/kafka/server/replicated_partition.cc
Labels: kind/bug, area/kafka, area/redpanda, kind/backport

#8757 Add support for deletion of group offsets to rpk
  src/go/rpk/pkg/cli/cmd/group/group.go
  src/go/rpk/pkg/cli/cmd/group/offset_delete.go
  src/go/rpk/pkg/out/in.go
  tests/rptest/clients/kcl.py
  tests/rptest/clients/rpk.py
  tests/rptest/tests/offset_retention_test.py
Labels: area/rpk

#8870 [v22.3.x] c/members_backend: start listening for updates immediately
  src/v/cluster/members_backend.cc
Labels: area/redpanda, kind/backport

#8624 Fixes 8486 (stuck transactions)
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  tests/java/verifiers/src/main/java/io/vectorized/compaction/App.java
  tests/java/verifiers/src/main/java/io/vectorized/compaction/idempotency/IdempotentWorkload.java
  tests/java/verifiers/src/main/java/io/vectorized/compaction/tx/TxUniqueKeysWorkload.java
  tests/java/verifiers/src/main/java/io/vectorized/compaction/tx/TxWorkload.java
  tests/rptest/services/compacted_verifier.py
  tests/rptest/tests/compaction_e2e_test.py
Labels: area/redpanda

#8732 [v22.3.x] Cloud storage shutdown hang
  src/v/cloud_storage/materialized_segments.cc
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/tests/remote_partition_test.cc
  src/v/cluster/controller.cc
  src/v/cluster/partition.cc
  src/v/http/client.cc
  src/v/storage/log_manager.cc
Labels: area/redpanda

#8874 cloud_storage: revise public metrics for cache, housekeeping
  src/v/archival/probe.cc
  src/v/cloud_storage/cache_probe.cc
  src/v/cloud_storage/cache_probe.h
  src/v/cloud_storage/cache_service.cc
Labels: kind/enhance, area/redpanda, area/cloud-storage

#8272 cdt: enable '/cdt' slash command
  .github/workflows/buildkite-slash-commands.yml
  .github/workflows/slash-commands.yml
Labels: area/build

#8863 [v22.3.x] s/segment_reader: gate in-flight operations
  src/v/storage/segment_reader.cc
  src/v/storage/segment_reader.h
Labels: area/redpanda, kind/backport

#8839 [v22.1.x] rpk: remove env from logs in redpanda launcher
  src/go/rpk/pkg/redpanda/launcher.go
Labels: area/rpk, kind/backport

#8878 cluster: send metadata updates to all nodes
  src/v/cluster/CMakeLists.txt
  src/v/cluster/metadata_dissemination_service.cc
  src/v/cluster/metadata_dissemination_utils.cc
  src/v/cluster/metadata_dissemination_utils.h
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/metadata_dissemination_utils_test.cc
Labels: area/redpanda

#8916 rpk: force rewrite when parsing old seedServers
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/params.go
  src/go/rpk/pkg/config/params_test.go
  src/go/rpk/pkg/config/schema.go
  src/go/rpk/pkg/config/weak.go
  src/go/rpk/pkg/config/weak_test.go
Labels: area/rpk

#8903 tests: cache release list downloaded from github
  tests/rptest/services/redpanda_installer.py
Labels: kind/tech-debt, area/tests

#8872 tests: improve unit test runtime
  src/v/cloud_storage/tests/CMakeLists.txt
  src/v/compression/tests/CMakeLists.txt
  src/v/raft/consensus.cc
  src/v/raft/tests/CMakeLists.txt
  src/v/storage/tests/CMakeLists.txt
  src/v/storage/tests/storage_e2e_test.cc
  tools/cmake_test.py
Labels: area/storage, area/redpanda, kind/tech-debt, area/tests

#8906 cloud_storage: downgrade DeleteObject 404 message to debug
  src/v/cloud_storage/remote.cc
Labels: area/redpanda

#8661 tests: run with connection limits enabled
  tests/rptest/services/redpanda.py
Labels: kind/tech-debt, area/tests

#8860 cloud_storage: Extended status for automated recovery
  src/v/cloud_storage/topic_recovery_service.cc
  src/v/cloud_storage/topic_recovery_service.h
  src/v/cluster/topic_recovery_status_frontend.cc
  src/v/cluster/topic_recovery_status_frontend.h
  src/v/cluster/topic_recovery_status_rpc_handler.cc
  src/v/cluster/topic_recovery_status_rpc_handler.h
  src/v/cluster/topic_recovery_status_types.cc
  src/v/cluster/topic_recovery_status_types.h
  src/v/redpanda/admin_server.cc
  tests/rptest/services/admin.py
  tests/rptest/tests/topic_recovery_test.py
Labels: area/redpanda

#8560 cloud_storage: try to quiesce uploaders before leadership transfer
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

#8766 [v22.3.x] ducktape: partition_balancer full_nodes test stability
  tests/rptest/tests/partition_balancer_test.py
Labels: kind/backport

#8760 [v22.3.x] Skip moving partition on node addition if movement is already in progress
  src/v/cluster/members_backend.cc
Labels: area/redpanda, kind/backport

#8900 storage: fix race between timequery and local log GC
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/raft/consensus.cc
  src/v/storage/disk_log_impl.cc
  tests/rptest/tests/timequery_test.py
Labels: area/redpanda

#8932 Revert "Clear topics orphan files"
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
  src/v/storage/fs_utils.h
  src/v/storage/log_manager.cc
  src/v/storage/log_manager.h
  tests/rptest/tests/topic_delete_test.py
Labels: area/redpanda
