Repository redpanda-data/redpanda, pull requests merged in 2023-10, with the labels that each got.

#13833 chore: fix config description typos
  src/v/config/configuration.cc
Labels: area/redpanda

#13605 .github: fix the "Pull request body" link in the PR template
  .github/pull_request_template.md
Labels: area/build

#13815 cloud_storage: add default eq operator for cloud serde types
  src/v/cloud_storage/types.cc
  src/v/cloud_storage/types.h
Labels: area/redpanda

#13814 [v23.2.x] k8s: Update redpanda clusterspec api with missing fields
  src/go/k8s/apis/redpanda/v1alpha1/redpanda_clusterspec_types.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/cluster.redpanda.com_redpandas.yaml
Labels: area/k8s, kind/backport

#13826 [v23.2.x] k8s: improve testing reliability and fix broken tests
  src/go/k8s/kind.yaml
  src/go/k8s/kuttl-v2-test.yaml
  src/go/k8s/tests/e2e-v2/decommission/03-delete-redpandas.yaml
  src/go/k8s/tests/e2e-v2/node-deleted/00-assert-create-redpanda.yaml
  src/go/k8s/tests/e2e-v2/node-deleted/00-create-redpanda.yaml
  src/go/k8s/tests/e2e-v2/node-deleted/01-assert-delete-node.yaml
  src/go/k8s/tests/e2e-v2/node-deleted/02-assert-delete-node-again.yaml
  src/go/k8s/tests/e2e-v2/node-deleted/03-delete-redpandas.yaml
  src/go/k8s/tests/e2e-v2/resource-redpanda-crud/00-assert-create-redpanda.yaml
  src/go/k8s/tests/e2e-v2/resource-redpanda-crud/00-create-redpanda.yaml
  src/go/k8s/tests/e2e-v2/resource-redpanda-crud/01-assert-update-chart-version.yaml
  src/go/k8s/tests/e2e-v2/resource-redpanda-crud/01-update-chart-version.yaml
  src/go/k8s/tests/e2e-v2/resource-redpanda-crud/02-assert-update-clusterspec.yaml
  src/go/k8s/tests/e2e-v2/resource-redpanda-crud/02-update-clusterspec.yaml
  src/go/k8s/tests/e2e-v2/resource-redpanda-crud/03-delete-redpandas.yaml
  src/go/k8s/tests/e2e-v2/resource-topic-crud/05-delete-redpandas.yaml
  src/go/k8s/tests/e2e-v2/upgrade-rollback/01-assert-upgrade-bad-redpanda.yaml
  src/go/k8s/tests/e2e-v2/upgrade-rollback/02-assert-upgrade-good-redpanda.yaml
  src/go/k8s/tests/e2e-v2/upgrade-rollback/03-delete-redpandas.yaml
  src/go/k8s/tests/e2e-v2/upgrade-values-check/02-delete-redpandas.yaml
Labels: area/k8s, kind/backport

#13850 k8s: Allow ingress resource reconciliation in Redpanda controller
  src/go/k8s/config/rbac/bases/operator/role.yaml
  src/go/k8s/controllers/redpanda/redpanda_controller.go
Labels: area/k8s, k8s/tests

#13859 [v23.2.x] k8s: Extend Redpanda specification
  src/go/k8s/apis/redpanda/v1alpha1/redpanda_clusterspec_types.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/cluster.redpanda.com_redpandas.yaml
Labels: area/k8s, kind/backport

#13853 [v23.2.x] cluster/topics_frontend: Move some topic preprocessing into create_topics
  src/v/cloud_storage/tests/topic_recovery_service_test.cc
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
  src/v/kafka/server/handlers/create_topics.cc
  src/v/redpanda/application.cc
  tests/rptest/tests/topic_creation_test.py
Labels: area/redpanda, kind/backport

#13740 cloud_storage: serialize uint64 to topic manifest
  src/v/cloud_storage/tests/topic_manifest_test.cc
  src/v/cloud_storage/topic_manifest.cc
Labels: area/redpanda

#13759 [v23.2.x] Replace hdr_hist with log_hist
  src/v/archival/tests/service_fixture.cc
  src/v/cloud_storage/read_path_probes.cc
  src/v/cloud_storage/read_path_probes.h
  src/v/cloud_storage/remote_probe.cc
  src/v/cloud_storage/remote_probe.h
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage_clients/client_pool.cc
  src/v/cloud_storage_clients/client_pool.h
  src/v/cloud_storage_clients/client_probe.cc
  src/v/cloud_storage_clients/client_probe.h
  src/v/cloud_storage_clients/test_client/abs_test_client_main.cc
  src/v/cloud_storage_clients/test_client/s3_test_client_main.cc
  src/v/http/demo/client.cc
  src/v/kafka/latency_probe.h
  src/v/kafka/server/connection_context.h
  src/v/kafka/server/handlers/fetch.h
  src/v/kafka/server/handlers/handler_probe.cc
  src/v/kafka/server/handlers/produce.cc
  src/v/net/server.cc
  src/v/net/server.h
  src/v/pandaproxy/probe.cc
  src/v/pandaproxy/probe.h
  src/v/rpc/rpc_compiler.py
  src/v/rpc/rpc_server.cc
  src/v/rpc/rpc_server.h
  src/v/rpc/types.h
  src/v/utils/CMakeLists.txt
  src/v/utils/log_hist.cc
  src/v/utils/log_hist.h
  src/v/utils/tests/CMakeLists.txt
  src/v/utils/tests/seastar_histogram_bench.cc
  src/v/utils/tests/seastar_histogram_test.cc
Labels: area/redpanda

#13870 k8s: make proper v2 tests for roll-back upgrade
  src/go/k8s/tests/e2e-v2/upgrade-rollback/00-create-redpanda.yaml
  src/go/k8s/tests/e2e-v2/upgrade-rollback/02-upgrade-good-redpanda.yaml
Labels: area/k8s, k8s/tests

#13872 [v23.2.x] services/redpanda.py: make _get_object_storage_report dynamic
  tests/rptest/services/redpanda.py
Labels: kind/backport

#13854 k/protocol && utils/fragmented_vector improvements
  src/v/cloud_storage/tests/tx_range_manifest_test.cc
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/protocol/wire.h
  src/v/utils/fragmented_vector.h
  src/v/utils/tests/fragmented_vector_test.cc
Labels: area/redpanda

#13795 cloud_storage: Match requests using URL during topic recovery tests
  src/v/cloud_storage/tests/s3_imposter.cc
  src/v/cloud_storage/tests/s3_imposter.h
  src/v/cloud_storage/tests/topic_recovery_service_test.cc
Labels: area/redpanda

#13878 transform: Support wasm binary CRUD
  src/v/cluster/health_manager.cc
  src/v/model/ktp.h
  src/v/model/namespace.h
  src/v/transform/rpc/client.cc
  src/v/transform/rpc/client.h
  src/v/transform/rpc/deps.cc
  src/v/transform/rpc/deps.h
  src/v/transform/rpc/rpc.json
  src/v/transform/rpc/serde.h
  src/v/transform/rpc/service.cc
  src/v/transform/rpc/service.h
  src/v/transform/rpc/tests/transform_rpc_test.cc
Labels: area/redpanda

#13892 cloud_storage: Log trim failure based on file type
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/cache_service.h
Labels: area/redpanda

#13899 c/md_dissemination: fixed retrying leadership dissemination
  src/v/cluster/metadata_dissemination_service.cc
Labels: area/redpanda

#13894 admin_server: map `missing_node_rpc_client` to service unavailable
  src/v/redpanda/admin_server.cc
Labels: area/redpanda

#13720 archival: batch delete segments during gc in stm region
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/archival/tests/service_fixture.cc
  src/v/archival/types.cc
  src/v/archival/types.h
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/cloud_storage/tests/remote_test.cc
  src/v/cloud_storage/tests/s3_imposter.cc
  src/v/cloud_storage/tests/s3_imposter.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/tests/fixture.h
  tests/rptest/tests/tiered_storage_model.py
Labels: area/redpanda

#13252 cloud_storage: Aggregate read path metrics by partition
  src/v/cloud_storage/read_path_probes.cc
Labels: area/redpanda

#13902 k8s: Fix topic name overwrite
  src/go/k8s/apis/cluster.redpanda.com/v1alpha1/topic_types.go
  src/go/k8s/controllers/cluster.redpanda.com/topic_controller.go
  src/go/k8s/controllers/cluster.redpanda.com/topic_controller_test.go
  src/go/k8s/kuttl-test.yaml
  src/go/k8s/tests/e2e-v2/resource-topic-crud/05-assert-overwrite-topic-name.yaml
  src/go/k8s/tests/e2e-v2/resource-topic-crud/05-overwrite-topic-name.yaml
  src/go/k8s/tests/e2e-v2/resource-topic-crud/06-delete-redpandas.yaml
Labels: area/k8s, k8s/tests

#13797 security: Break dependency from `v::config` to `v::security`
  src/v/cluster/CMakeLists.txt
  src/v/config/CMakeLists.txt
  src/v/kafka/client/CMakeLists.txt
  src/v/security/CMakeLists.txt
  src/v/security/config_bsl.cc
  src/v/security/config_rcl.cc
  src/v/security/gssapi_principal_mapper.cc
  src/v/security/gssapi_principal_mapper.h
  src/v/security/mtls.cc
  src/v/security/tests/CMakeLists.txt
Labels: area/redpanda, area/security

#13881 [v23.2.x] k/protocol && utils/fragmented_vector improvements
  src/v/cloud_storage/tests/tx_range_manifest_test.cc
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/protocol/wire.h
  src/v/utils/fragmented_vector.h
  src/v/utils/tests/fragmented_vector_test.cc
Labels: area/redpanda, kind/backport

#13903 rpk/transform/delete: confirm deletion
  src/go/rpk/pkg/cli/transform/delete.go
Labels: area/rpk

#13910 [v23.2.x] c/md_dissemination: fixed retrying leadership dissemination
  src/v/cluster/metadata_dissemination_service.cc
Labels: area/redpanda, kind/backport

#13671 [v23.2.x] Change rpk disconnect message from INFO to DEBUG
  src/v/kafka/server/connection_context.h
Labels: area/redpanda, kind/backport

#13915 [v23.2.x] k8s: Fix topic name overwrite
  src/go/k8s/apis/cluster.redpanda.com/v1alpha1/topic_types.go
  src/go/k8s/controllers/cluster.redpanda.com/topic_controller.go
  src/go/k8s/controllers/cluster.redpanda.com/topic_controller_test.go
  src/go/k8s/kuttl-test.yaml
  src/go/k8s/tests/e2e-v2/resource-topic-crud/05-assert-overwrite-topic-name.yaml
  src/go/k8s/tests/e2e-v2/resource-topic-crud/05-overwrite-topic-name.yaml
  src/go/k8s/tests/e2e-v2/resource-topic-crud/06-delete-redpandas.yaml
Labels: area/k8s, kind/backport

#13905 raft: remove internal namespace from types.cc
  src/v/raft/types.cc
Labels: area/redpanda

#13586 Added size bytes background flush to Raft
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/raft/append_entries_buffer.cc
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/group_manager.cc
  src/v/raft/group_manager.h
  src/v/raft/replicate_entries_stm.cc
  src/v/raft/tests/basic_raft_fixture_test.cc
  src/v/raft/tests/raft_fixture.h
  src/v/raft/tests/simple_raft_fixture.h
  src/v/redpanda/application.cc
  tests/rptest/tests/raft_periodic_flush_test.py
  tests/rptest/tests/storage_resources_test.py
Labels: area/redpanda

#13817 [v23.1.x] rpk: run go tests in gh actions
  .github/workflows/rpk-build.yml
Labels: area/build, kind/backport

#13819 [v23.2.x] rpk: run go tests in gh actions
  .github/workflows/rpk-build.yml
Labels: area/build, kind/backport

#13818 [v22.3.x] rpk: run go tests in gh actions
  .github/workflows/rpk-build.yml
Labels: area/build, kind/backport

#13932 [v23.2.x] cluster/tx: Fix missing gate hold
  src/v/cluster/tx_gateway_frontend.cc
Labels: area/redpanda, kind/backport

#13934 cmake: Upgrade wasmtime
  cmake/dependencies.cmake
Labels: area/build

#13865 rpk/transform: introduce init command
  src/go/rpk/pkg/cli/transform/buildpack/buildpack.go
  src/go/rpk/pkg/cli/transform/init.go
  src/go/rpk/pkg/cli/transform/project/project.go
  src/go/rpk/pkg/cli/transform/template/golang/README.md
  src/go/rpk/pkg/cli/transform/template/golang/transform.gosrc
  src/go/rpk/pkg/cli/transform/template/golang_template.go
  src/go/rpk/pkg/cli/transform/transform.go
  src/go/rpk/pkg/out/out.go
Labels: area/rpk

#13893 [v23.2.x] log_manager::housekeeping_scan iteration with suspension point fix
  src/v/storage/log_housekeeping_meta.h
  src/v/storage/log_manager.cc
Labels: area/redpanda, kind/backport

#13867 [v23.2.x] cloud_storage: serialize uint64 to topic manifest
  src/v/cloud_storage/tests/topic_manifest_test.cc
  src/v/cloud_storage/topic_manifest.cc
Labels: area/redpanda, kind/backport

#13731 [v23.2.x] kafka: Expose per handler produce/fetch metrics on public_metrics
  src/v/kafka/server/handlers/handler_probe.cc
  src/v/kafka/server/handlers/handler_probe.h
Labels: area/redpanda

#13868 [v23.1.x] cloud_storage: serialize uint64 to topic manifest
  src/v/cloud_storage/tests/topic_manifest_test.cc
  src/v/cloud_storage/topic_manifest.cc
Labels: area/redpanda, kind/backport

#13933 treewide: unify dependent_false implementations
  src/v/config/property.h
  src/v/kafka/server/handlers/describe_configs.cc
  src/v/redpanda/admin_server.h
  src/v/security/acl.h
  src/v/serde/rw/chrono.h
  src/v/transform/tests/transform_manager_test.cc
  src/v/utils/type_traits.h
  src/v/wasm/ffi.h
  src/v/wasm/wasmtime.cc
Labels: area/redpanda

#13936 Remove unneeded unique_ptr from transport::entry
  src/v/rpc/transport.cc
  src/v/rpc/transport.h
Labels: area/redpanda

#13288 [v23.2.x] rptest: tweak cloud storage reader stress test
  tests/rptest/scale_tests/tiered_storage_reader_stress_test.py
  tests/rptest/services/redpanda.py
Labels: kind/backport

#13809 [v23.2.x] rptest: ignore missing ntp manifest in v22 upgrade test
  tests/rptest/tests/topic_creation_test.py
Labels: kind/backport

#13945 [v23.2.x] tests/redpanda: do not allow getting redpanda pid cmd to fail
  tests/rptest/services/redpanda.py
Labels: kind/backport

#13947 [v23.1.x] tests/redpanda: do not allow getting redpanda pid cmd to fail
  tests/rptest/services/redpanda.py
Labels: kind/backport

#13730 [v23.1.x] kafka: Expose per handler produce/fetch metrics on public_metrics
  src/v/kafka/server/handlers/handler_probe.cc
  src/v/kafka/server/handlers/handler_probe.h
Labels: area/redpanda

#13919 cloud_storage/remote_partition: remove redundant batch chunking
  src/v/cloud_storage/remote_partition.cc
Labels: area/redpanda

#13911 schema_registry/store: Don't return a subject with no versions
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/store.cc
Labels: area/redpanda, area/schema-registry

#13928 [v23.2.x] Added size bytes background flush to Raft
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/raft/append_entries_buffer.cc
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/group_manager.cc
  src/v/raft/group_manager.h
  src/v/raft/replicate_entries_stm.cc
  src/v/raft/tests/jitter_tests.cc
  src/v/raft/tests/mux_state_machine_fixture.h
  src/v/raft/tests/raft_group_fixture.h
  src/v/raft/timeout_jitter.h
  src/v/redpanda/application.cc
  tests/rptest/tests/raft_periodic_flush_test.py
  tests/rptest/tests/storage_resources_test.py
Labels: area/redpanda

#13917 schema_registry: Fix error message for compatibility
  src/v/pandaproxy/schema_registry/error.cc
Labels: area/redpanda, area/schema-registry

#13907 [v23.2.x] cloud_storage: Log trim failure based on file type
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/cache_service.h
Labels: area/redpanda, kind/backport

#13951 schema_registry: Improve logging
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/seq_writer.h
Labels: area/redpanda, area/schema-registry

#13966 [v23.2.x] schema_registry: Improve logging
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/seq_writer.h
Labels: area/redpanda, kind/backport

#13949 kafka/client: Log client identifier
  src/v/kafka/client/broker.cc
  src/v/kafka/client/broker.h
  src/v/kafka/client/client.cc
  src/v/kafka/client/client.h
  src/v/kafka/client/client_fetch_batch_reader.cc
  src/v/kafka/client/sasl_client.cc
  src/v/kafka/client/transport.h
Labels: area/kafka, area/redpanda, area/pandaproxy, area/schema-registry

#13961 [v23.2.x] schema_registry: Fix error message for compatibility
  src/v/pandaproxy/schema_registry/error.cc
Labels: area/redpanda, kind/backport

#13969 [v23.2.x] kafka/client: Log client identifier
  src/v/kafka/client/broker.cc
  src/v/kafka/client/broker.h
  src/v/kafka/client/client.cc
  src/v/kafka/client/client.h
  src/v/kafka/client/client_fetch_batch_reader.cc
  src/v/kafka/client/sasl_client.cc
  src/v/kafka/client/transport.h
Labels: area/redpanda, kind/backport

#13608 rpk: integrate profiles with `rpk container`
  src/go/rpk/pkg/cli/container/common/client.go
  src/go/rpk/pkg/cli/container/common/common.go
  src/go/rpk/pkg/cli/container/container.go
  src/go/rpk/pkg/cli/container/purge.go
  src/go/rpk/pkg/cli/container/start.go
  src/go/rpk/pkg/cli/container/status.go
  src/go/rpk/pkg/cli/container/stop.go
  src/go/rpk/pkg/cli/profile/create.go
  src/go/rpk/pkg/cli/profile/delete.go
  src/go/rpk/pkg/cli/root.go
Labels: area/rpk

#13931 codeowners: remove devprod for /tools folder
  .github/CODEOWNERS
Labels: area/build

#13806 cloud_storage: fix error logging on shutdown
  src/v/archival/ntp_archiver_service.cc
  src/v/cloud_storage/async_manifest_view.cc
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/types.h
Labels: area/redpanda

#13737 Make maintenance mode opaque to the partition balancer
  src/v/cluster/drain_manager.cc
  src/v/cluster/drain_manager.h
  src/v/cluster/members_manager.cc
  src/v/cluster/partition_balancer_backend.cc
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/partition_balancer_planner.h
  src/v/cluster/tests/partition_balancer_planner_test.cc
  src/v/redpanda/admin_server.cc
  tests/rptest/tests/partition_balancer_test.py
Labels: area/redpanda

#13965 rpk/transform/init: bail on empty name input
  src/go/rpk/pkg/cli/transform/init.go
Labels: area/rpk

#13948 cloud_storage/cache_service: handle exception in cache::stop
  src/v/cloud_storage/cache_service.cc
Labels: area/redpanda

#13929 wasm: Introduce Factory + Engine Caching
  src/v/transform/tests/test_fixture.cc
  src/v/transform/tests/test_fixture.h
  src/v/transform/transform_processor.cc
  src/v/utils/mutex.h
  src/v/wasm/CMakeLists.txt
  src/v/wasm/api.h
  src/v/wasm/cache.cc
  src/v/wasm/cache.h
  src/v/wasm/tests/CMakeLists.txt
  src/v/wasm/tests/wasm_cache_test.cc
  src/v/wasm/tests/wasm_fixture.cc
  src/v/wasm/tests/wasm_fixture.h
  src/v/wasm/tests/wasm_transform_test.cc
  src/v/wasm/wasmtime.cc
Labels: area/redpanda

#13967 [v23.1.x] schema_registry: Improve logging
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/seq_writer.h
Labels: area/redpanda, kind/backport

#13991 tests/fixture: wait for controller quiescent state
  src/v/redpanda/tests/fixture.h
Labels: area/redpanda

#13792 cluster: add deterministic state for cluster recovery
  src/v/cluster/CMakeLists.txt
  src/v/cluster/cloud_metadata/cluster_manifest.h
  src/v/cluster/cloud_metadata/tests/CMakeLists.txt
  src/v/cluster/cloud_metadata/tests/cluster_metadata_utils.h
  src/v/cluster/cloud_metadata/tests/controller_snapshot_reconciliation_test.cc
  src/v/cluster/cluster_recovery_reconciler.cc
  src/v/cluster/cluster_recovery_reconciler.h
  src/v/cluster/cluster_recovery_state.h
  src/v/cluster/cluster_recovery_table.cc
  src/v/cluster/cluster_recovery_table.h
  src/v/cluster/commands.h
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/fwd.h
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/cluster_recovery_table_test.cc
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/cluster/tests/topic_properties_generator.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/model/model.cc
  src/v/model/record_batch_types.h
  src/v/redpanda/tests/fixture.h
  src/v/security/authorizer.h
Labels: area/redpanda

#13852 [v23.1.x] cluster/topics_frontend: Move some topic preprocessing into create_topics
  src/v/cloud_storage/tests/topic_recovery_service_test.cc
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
  src/v/kafka/server/handlers/create_topics.cc
  src/v/redpanda/application.cc
  tests/rptest/tests/topic_creation_test.py
Labels: area/redpanda, kind/backport

#13913 cloud_storage: add nodiscard to download and upload result
  src/v/archival/ntp_archiver_service.cc
  src/v/cloud_storage/types.h
Labels: area/redpanda

#13963 [v23.1.x] log_manager::housekeeping_scan iteration with suspension point fix
  src/v/storage/log_housekeeping_meta.h
  src/v/storage/log_manager.cc
Labels: area/redpanda, kind/backport

#13930 add github workflow for triggering promotion steps in bk
  .github/workflows/promote.yml
Labels: area/build

#13975 rpk/transform: introduce deploy command
  src/go/rpk/pkg/adminapi/api_transform.go
  src/go/rpk/pkg/cli/transform/deploy.go
  src/go/rpk/pkg/cli/transform/transform.go
Labels: area/rpk

#14022 [v23.2.x] add github workflow for triggering promotion steps in bk
  .github/workflows/promote.yml
Labels: area/build, kind/backport

#14021 [v23.1.x] add github workflow for triggering promotion steps in bk
  .github/workflows/promote.yml
Labels: area/build, kind/backport

#14019 cluster: Fix archival stm insync offset update
  src/v/cluster/archival_metadata_stm.cc
Labels: area/redpanda

#14001 [v23.2.x] tests/fixture: wait for controller quiescent state
  src/v/redpanda/tests/fixture.h
Labels: area/redpanda, kind/backport

#13803 [v23.1.x] tests/admin_ops: check if topic is not listed when removed
  tests/rptest/services/admin_ops_fuzzer.py
Labels: kind/backport

#13747 [v23.1.x] Txn sessions thrashing: expire all old txs instead of one at a time
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/tx_gateway_frontend.h
Labels: area/redpanda, kind/backport

#13957 [v23.1.x] schema_registry/store: Don't return a subject with no versions
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/store.cc
Labels: area/redpanda, kind/backport

#13978 [v23.2.x] Make maintenance mode opaque to the partition balancer
  src/v/cluster/drain_manager.cc
  src/v/cluster/drain_manager.h
  src/v/cluster/members_manager.cc
  src/v/cluster/partition_balancer_backend.cc
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/partition_balancer_planner.h
  src/v/cluster/tests/partition_balancer_planner_test.cc
  src/v/redpanda/admin_server.cc
  tests/rptest/tests/partition_balancer_test.py
Labels: area/redpanda, kind/backport

#13895 serde: fix serde default comparison operator foot gun
  src/v/cluster/node/types.h
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/cluster/types.h
  src/v/compat/check.h
  src/v/features/feature_table_snapshot.h
  src/v/kafka/server/tests/usage_manager_test.cc
  src/v/kafka/server/usage_aggregator.h
  src/v/net/unresolved_address.h
  src/v/serde/envelope.h
  src/v/utils/delta_for.h
Labels: area/redpanda

#13916 archival: rely on the batch formation logic in remote
  src/v/archival/ntp_archiver_service.cc
  tests/rptest/tests/tiered_storage_model.py
Labels: area/redpanda

#13918 cloud_storage/recover_utils: remove redundant batch chunking
  src/v/cloud_storage/recovery_utils.cc
Labels: area/redpanda

#13987 [v23.2.x] cloud_storage: fix error logging on shutdown
  src/v/archival/ntp_archiver_service.cc
  src/v/cloud_storage/async_manifest_view.cc
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/types.h
Labels: area/redpanda

#13835 archival: Audit meta in adjacent merger uploads
  src/v/archival/ntp_archiver_service.cc
Labels: area/redpanda, area/cloud-storage

#13990 Use Helm default for persistentVolume.enabled
  src/go/k8s/apis/redpanda/v1alpha1/redpanda_clusterspec_types.go
Labels: area/k8s, k8s/tests

#14029 [v23.2.x] serde: fix serde default comparison operator foot gun
  src/v/cluster/node/types.h
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/cluster/types.h
  src/v/compat/check.h
  src/v/features/feature_table_snapshot.h
  src/v/kafka/server/tests/usage_manager_test.cc
  src/v/kafka/server/usage_aggregator.h
  src/v/net/unresolved_address.h
  src/v/serde/envelope.h
  src/v/utils/delta_for.h
Labels: area/redpanda, kind/backport

#14039 [v23.2.x] Use Helm default for persistentVolume.enabled
  src/go/k8s/apis/redpanda/v1alpha1/redpanda_clusterspec_types.go
Labels: area/k8s, kind/backport

#13988 c/members_backend: prioritize removing nodes when decomm isfinished
  src/v/cluster/members_backend.cc
  src/v/cluster/members_backend.h
Labels: area/redpanda

#14058 r/heartbeats: do not use iobuf::share in cursor
  src/v/raft/heartbeats.h
Labels: area/redpanda

#13974 ht-phase2: support blocking gcp object store
  tests/rptest/redpanda_cloud_tests/cloudv2_object_store_blocked.py
  tests/rptest/services/provider_clients/gcp_client.py
  tests/setup.py
Labels: merge-queue

#13959 [v23.1.x] schema_registry: Fix error message for compatibility
  src/v/pandaproxy/schema_registry/error.cc
Labels: area/redpanda, kind/backport

#13935 rptest: test compactible topics behavior under disk pressure
  src/v/storage/disk_log_impl.cc
  tests/rptest/tests/full_disk_test.py
Labels: area/redpanda, area/tests

#13970 rpk/transform: Introduce build command
  src/go/rpk/pkg/cli/root.go
  src/go/rpk/pkg/cli/transform/build.go
  src/go/rpk/pkg/cli/transform/buildpack/buildpack.go
  src/go/rpk/pkg/cli/transform/init.go
  src/go/rpk/pkg/cli/transform/transform.go
Labels: area/rpk

#14016 transform: hook up transform subsystem
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/node_config.cc
  src/v/config/node_config.h
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/resource_mgmt/io_priority.h
  src/v/transform/CMakeLists.txt
  src/v/transform/api.cc
  src/v/transform/api.h
  src/v/transform/fwd.h
  src/v/transform/rpc/service.cc
  src/v/transform/tests/transform_manager_test.cc
  src/v/transform/tests/transform_processor_test.cc
  src/v/transform/transform_manager.cc
  src/v/transform/transform_manager.h
  src/v/transform/transform_processor.cc
  src/v/transform/transform_processor.h
  src/v/wasm/cache.cc
  src/v/wasm/cache.h
  src/v/wasm/fwd.h
Labels: area/redpanda

#14045 [v23.2.x] ducktape: Exclude replaced segments when checking size
  tests/rptest/tests/topic_recovery_test.py
Labels: kind/backport

#14082 [v23.2.x] Issue/13861/reduce api.github.com calls to fetch releases
  tests/rptest/services/redpanda_installer.py
Labels: kind/backport

#14074 [v23.1.x] kafka/client: Log client identifier
  src/v/kafka/client/broker.cc
  src/v/kafka/client/broker.h
  src/v/kafka/client/client.cc
  src/v/kafka/client/client.h
  src/v/kafka/client/client_fetch_batch_reader.cc
  src/v/kafka/client/sasl_client.cc
  src/v/kafka/client/transport.h
Labels: area/redpanda, kind/backport

#14046 wasm: run wasmtime on the reactor threads
  cmake/dependencies.cmake
  src/v/wasm/tests/wasm_fixture.cc
  src/v/wasm/tests/wasm_fixture.h
  src/v/wasm/transform_module.cc
  src/v/wasm/transform_module.h
  src/v/wasm/wasmtime.cc
Labels: area/build, area/redpanda

#14027 serde: Don't share an EOL iobuf
  src/v/serde/rw/iobuf.h
Labels: area/redpanda

#13856 cluster: always create the log eviction stm
  src/v/cluster/log_eviction_stm.cc
  src/v/cluster/partition.cc
  src/v/kafka/server/handlers/delete_records.cc
  src/v/storage/disk_log_impl.cc
  tests/rptest/clients/types.py
  tests/rptest/tests/delete_records_test.py
  tests/rptest/tests/retention_policy_test.py
  tools/offline_log_viewer/kvstore.py
Labels: area/redpanda

#13940 Various `rpc::connection_cache` fixes
  src/v/rpc/connection_cache.cc
  src/v/rpc/connection_cache.h
  src/v/rpc/connection_set.cc
Labels: area/redpanda

#14067 wasm: validate wasi logs
  src/v/wasm/tests/wasi_logs_test.cc
  src/v/wasm/wasi.cc
Labels: area/redpanda

#14094 Use Helm default for `serviceAccount.name`
  src/go/k8s/apis/redpanda/v1alpha1/redpanda_clusterspec_types.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/cluster.redpanda.com_redpandas.yaml
Labels: area/k8s, k8s/tests

#14103 [v23.2.x] Use Helm default for `serviceAccount.name`
  src/go/k8s/apis/redpanda/v1alpha1/redpanda_clusterspec_types.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/cluster.redpanda.com_redpandas.yaml
Labels: area/k8s, kind/backport

#14055 [v23.2.x] Bump go version in k8s part of mono repo
  src/go/cluster-to-redpanda-migration/Makefile
  src/go/cluster-to-redpanda-migration/go.mod
  src/go/cluster-to-redpanda-migration/go.sum
  src/go/k8s/Dockerfile
  src/go/k8s/Makefile
  src/go/k8s/go.mod
  src/go/k8s/go.sum
Labels: area/k8s, kind/backport

#11181 k/p/gen: Use `fragmented_vector` for `fetchable_partition_response`
  src/v/kafka/client/fetcher.cc
  src/v/kafka/protocol/fetch.h
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/server/handlers/fetch.cc
  src/v/utils/fragmented_vector.h
Labels: area/kafka, area/redpanda, area/oversized-allocation

#14033 rptest: Add S3 internal server error to allowed log list
  src/v/cloud_storage_clients/s3_client.cc
  tests/rptest/services/redpanda.py
Labels: area/redpanda, ci-failure, area/cloud-storage

#14037 [v23.2.x] archival: Audit meta in adjacent merger uploads
  src/v/archival/ntp_archiver_service.cc
Labels: area/redpanda, kind/backport

#14110 [v23.2.x] rptest: Add S3 internal server error to allowed log list
  src/v/cloud_storage_clients/s3_client.cc
  tests/rptest/services/redpanda.py
Labels: area/redpanda, kind/backport

#14068 r/recovery_stm: check if node is a leader before sending request
  src/v/raft/recovery_stm.cc
Labels: area/redpanda

#14106 [v23.2.x] k/p/gen: Use `fragmented_vector` for `fetchable_partition_response`
  src/v/kafka/client/fetcher.cc
  src/v/kafka/protocol/fetch.h
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/server/handlers/fetch.cc
  src/v/utils/fragmented_vector.h
Labels: area/redpanda, kind/backport

#14102 admin: report cloud_log_segment_count
  src/v/redpanda/admin/api-doc/shadow_indexing.json
  src/v/redpanda/admin_server.cc
Labels: area/redpanda

#13552 cloud_storage: Add S3 download throughput limit
  src/v/cloud_storage/materialized_resources.cc
  src/v/cloud_storage/materialized_resources.h
  src/v/cloud_storage/read_path_probes.cc
  src/v/cloud_storage/read_path_probes.h
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/tests/remote_test.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  tests/rptest/services/redpanda.py
  tests/rptest/tests/e2e_shadow_indexing_test.py
Labels: area/redpanda

#13663 Modify authz return path
  src/v/kafka/server/connection_context.h
  src/v/kafka/server/request_context.h
  src/v/redpanda/tests/fixture.h
  src/v/security/acl.cc
  src/v/security/acl_store.h
  src/v/security/authorizer.h
  src/v/security/tests/authorizer_test.cc
Labels: kind/enhance, area/redpanda, area/security

#14117 s/log: exposed `retention_offset` in `storage::log` api
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/log.h
Labels: area/redpanda

#13900 kafka: Initial work for adding support for audit logging
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/tests/validator_tests.cc
  src/v/config/validators.cc
  src/v/config/validators.h
  src/v/kafka/CMakeLists.txt
  src/v/kafka/client/CMakeLists.txt
  src/v/kafka/client/config_utils.cc
  src/v/kafka/client/config_utils.h
  src/v/kafka/client/test/CMakeLists.txt
  src/v/kafka/client/test/test_config_utils.cc
  src/v/kafka/server/audit_log_manager.cc
  src/v/kafka/server/audit_log_manager.h
  src/v/kafka/server/fwd.h
  src/v/kafka/server/server.cc
  src/v/kafka/server/server.h
  src/v/kafka/server/tests/CMakeLists.txt
  src/v/kafka/server/tests/audit_log_test.cc
  src/v/kafka/types.h
  src/v/model/namespace.h
  src/v/pandaproxy/CMakeLists.txt
  src/v/pandaproxy/rest/proxy.cc
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/test/CMakeLists.txt
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/redpanda/tests/fixture.h
  src/v/security/audit/schemas/application_activity.h
  src/v/security/audit/schemas/iam.h
  src/v/security/audit/schemas/schemas.h
Labels: area/redpanda

#14124 [v23.2.x] admin: report cloud_log_segment_count
  src/v/redpanda/admin/api-doc/shadow_indexing.json
  src/v/redpanda/admin_server.cc
Labels: area/redpanda, kind/backport

#13897 [v23.1.x] k/protocol && utils/fragmented_vector improvements
  src/v/cloud_storage/tests/tx_range_manifest_test.cc
  src/v/kafka/protocol/request_reader.h
  src/v/kafka/protocol/schemata/generator.py
  src/v/utils/fragmented_vector.h
  src/v/utils/tests/fragmented_vector_test.cc
Labels: area/redpanda, kind/backport

#14131 future-utils: Add ss::sleep_aborted to list of shutdown exceptions
  src/v/ssx/future-util.h
Labels: area/redpanda

#14129 [v23.1.x] Remove GitHub Actions workflow for goreleaser release
  .github/workflows/rpk-build.yml
Labels: area/build

#13938 [v23.1.x] only run PR checks when needed
  .github/workflows/helm-chart-release.yml
Labels: area/build

#13937 [v23.2.x] only run PR checks when needed
  .github/workflows/helm-chart-release.yml
  .github/workflows/redpanda-migration-build.yml
Labels: area/build

#13939 [v22.3.x] only run PR checks when needed
  .github/workflows/helm-chart-release.yml
Labels: area/build

#14141 [v23.1.x] k/p/gen: Use `fragmented_vector` for `fetchable_partition_response`
  src/v/kafka/client/fetcher.cc
  src/v/kafka/protocol/fetch.h
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/server/handlers/fetch.cc
  src/v/utils/fragmented_vector.h
Labels: area/redpanda, kind/backport

#14142 config: add example for audit events
  src/v/config/configuration.cc
Labels: area/redpanda

#14072 ht phase2: observe tests that check for firing alarms
  tests/rptest/redpanda_cloud_tests/observe_test.py
  tests/rptest/services/redpanda_cloud.py
Labels: merge-queue

#14100 wasm: pool memory and limit VM max heap size
  src/go/transform-sdk/internal/testdata/CMakeLists.txt
  src/go/transform-sdk/internal/testdata/build_all.sh
  src/go/transform-sdk/internal/testdata/dynamic/transform.go
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/application.cc
  src/v/wasm/CMakeLists.txt
  src/v/wasm/allocator.cc
  src/v/wasm/allocator.h
  src/v/wasm/api.h
  src/v/wasm/cache.cc
  src/v/wasm/cache.h
  src/v/wasm/tests/CMakeLists.txt
  src/v/wasm/tests/wasm_allocator_test.cc
  src/v/wasm/tests/wasm_cache_test.cc
  src/v/wasm/tests/wasm_fixture.cc
  src/v/wasm/tests/wasm_fixture.h
  src/v/wasm/tests/wasm_transform_test.cc
  src/v/wasm/wasmtime.cc
  tests/rptest/tests/cluster_config_test.py
Labels: area/redpanda, area/wasm

#14138 rpk: bump rpk deps, update to new SR package API
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/registry/compatibility_level.go
  src/go/rpk/pkg/cli/registry/schema/check_compatibility.go
  src/go/rpk/pkg/cli/registry/schema/get.go
  src/go/rpk/pkg/cli/registry/schema/list.go
  src/go/rpk/pkg/cli/registry/schema/references.go
  src/go/rpk/pkg/cli/registry/subject.go
Labels: area/rpk

#14075 wasm: minimal poll_oneoff for golang
  src/v/wasm/ffi.h
  src/v/wasm/tests/ffi_helpers_test.cc
  src/v/wasm/wasi.cc
  src/v/wasm/wasi.h
  src/v/wasm/wasmtime.cc
Labels: area/redpanda

#14167 operator: fix race condition in test
  src/go/k8s/pkg/admin/mock_admin.go
Labels: area/k8s, k8s/tests

#14173 [v23.2.x] operator: fix race condition in test
  src/go/k8s/pkg/admin/mock_admin.go
Labels: area/k8s, kind/backport

#14175 [v23.1.x] cloud_storage: Handle nested benign exception
  src/v/cloud_storage_clients/tests/CMakeLists.txt
  src/v/cloud_storage_clients/tests/exception_test.cc
  src/v/cloud_storage_clients/util.cc
  src/v/cloud_storage_clients/util.h
Labels: area/redpanda, kind/backport

#14150 c/commands: introduced new update partition replicas command
  src/v/cluster/commands.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
Labels: area/redpanda

#14113 [v23.2.x] cloud_storage/ducktape: Wait for chunk observer to stop
  tests/rptest/tests/cloud_storage_chunk_read_path_test.py
Labels: kind/backport

#14152 archival: skip reuploads of identical size
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/segment_reupload.cc
  src/v/archival/tests/segment_reupload_test.cc
Labels: area/redpanda

#14180 s3_client: Check if response contains error
  src/v/cloud_storage_clients/s3_client.cc
Labels: area/redpanda

#14187 [v23.1.x] s3_client: Check if response contains error
  src/v/cloud_storage_clients/s3_client.cc
Labels: area/redpanda, kind/backport

#14193 [v23.2.x] ducktape/cloud_storage: Wait for at least two spillovers
  tests/rptest/tests/e2e_shadow_indexing_test.py
Labels: kind/backport

#14199 [v23.2.x] Operator-Redpanda: remove omitempty from users list for sasl
  src/go/k8s/apis/redpanda/v1alpha1/redpanda_clusterspec_types.go
Labels: area/k8s, k8s/tests

#14177 k8s: Enable prefix template in advertised addresses
  src/go/k8s/apis/redpanda/v1alpha1/redpanda_clusterspec_types.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/cluster.redpanda.com_redpandas.yaml
Labels: area/k8s, k8s/tests

#14204 [v23.2.x] k8s: Enable prefix template in advertised addresses
  src/go/k8s/apis/redpanda/v1alpha1/redpanda_clusterspec_types.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/cluster.redpanda.com_redpandas.yaml
Labels: area/k8s, kind/backport

#14202 transform: various fixes
  src/go/rpk/pkg/adminapi/api_transform.go
  src/go/rpk/pkg/cli/transform/deploy.go
  src/v/redpanda/admin_server.cc
Labels: area/rpk, area/redpanda

#14190 [v23.2.x] ducktape/cloud_storage: Wait for topic info
  tests/rptest/tests/e2e_shadow_indexing_test.py
Labels: kind/backport

#14185 [v23.2.x] s3_client: Check if response contains error
  src/v/cloud_storage_clients/s3_client.cc
Labels: area/redpanda, kind/backport

#14159 [v23.2.x] rpk: bump go dependencies.
  src/go/rpk/go.mod
  src/go/rpk/go.sum
Labels: area/rpk

#14213 transform/rpc: fix wasm binary fetches
  src/v/cluster/partition.h
  src/v/kafka/server/partition_proxy.h
  src/v/kafka/server/replicated_partition.cc
  src/v/transform/rpc/client.cc
  src/v/transform/rpc/service.cc
Labels: area/redpanda

#14238 [v23.2.x] build(deps): bump github.com/moby/moby from 24.0.5+incompatible to 24.0.6+incompatible in /src/go/k8s
  src/go/k8s/go.mod
  src/go/k8s/go.sum
Labels: area/k8s, kind/backport

#14215 redpanda/admin_server: set failure injection config on all shards
  src/v/redpanda/admin_server.cc
Labels: area/redpanda

#14214 archival: don't stop the upload loop on sync fails
  src/v/archival/ntp_archiver_service.cc
Labels: area/redpanda

#14241 [v23.2.x] build(deps): bump the kubernetes group in /src/go/k8s with 3 updates
  src/go/k8s/go.mod
  src/go/k8s/go.sum
Labels: area/k8s, kind/backport
