Repository redpanda-data/redpanda, pull requests merged in 2023-09, with the labels that each got.

#12299 [v22.3.x] s/segment_set: recover base_index of last_clean_segment
  src/v/storage/segment_set.cc
  tests/rptest/tests/index_recovery_test.py
Labels: area/redpanda, kind/backport

#13109 c/members_manager: validate if node exists in the cluster before update
  src/v/cluster/cluster_utils.cc
Labels: area/redpanda

#13204 [v23.2.x] cloud_storage: Extend fast trim cleanup to new segment name
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/tests/cache_test.cc
Labels: area/redpanda, kind/backport

#13146 test_utils: add scoped config resetter
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cloud_storage/tests/delete_records_e2e_test.cc
  src/v/cloud_storage/tests/manual_fixture.h
  src/v/cloud_storage/tests/read_replica_test.cc
  src/v/config/tests/CMakeLists.txt
  src/v/config/tests/scoped_config_test.cc
  src/v/storage/tests/storage_e2e_fixture_test.cc
  src/v/test_utils/scoped_config.h
Labels: area/redpanda

#13115 raft: suppress heartbeats with a guard
  src/v/cluster/cluster_utils.cc
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/heartbeat_manager.cc
  src/v/raft/heartbeat_manager.h
  src/v/raft/recovery_stm.cc
  src/v/raft/replicate_entries_stm.cc
  src/v/raft/replicate_entries_stm.h
  src/v/raft/types.cc
  src/v/raft/types.h
Labels: area/redpanda

#13230 [v23.2.x] rptest: Support gcpkeyfile parameter on rptest for GCP Nightly
  tests/rptest/services/redpanda_cloud.py
Labels: kind/backport

#13168 treewide: Reset configs in tests
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/cloud_roles/tests/fetch_credentials_tests.cc
  src/v/cloud_storage/tests/async_manifest_view_test.cc
  src/v/cloud_storage/tests/remote_segment_test.cc
  src/v/cluster/tests/manual_log_deletion_test.cc
  src/v/storage/tests/log_retention_tests.cc
  src/v/storage/tests/storage_e2e_test.cc
  src/v/storage/tests/storage_test_fixture.h
Labels: area/redpanda

#12990 r/consensus: fixed reusing follower sequence id
  src/v/raft/consensus.cc
  src/v/raft/heartbeat_manager.cc
  src/v/raft/tests/append_entries_test.cc
Labels: area/redpanda

#13134 serde: pass full header to serde_[async]_direct_read
  src/v/model/record.h
  src/v/raft/types.cc
  src/v/raft/types.h
  src/v/serde/serde.h
  src/v/serde/test/serde_test.cc
Labels: area/redpanda

#13211 cloud_storage: debug log on query below log start
  src/v/cloud_storage/remote_partition.cc
Labels: area/redpanda, area/cloud-storage

#13245 [v23.2.x] serde: pass full header to serde_[async]_direct_read
  src/v/model/record.h
  src/v/raft/types.cc
  src/v/raft/types.h
  src/v/serde/serde.h
  src/v/serde/test/serde_test.cc
Labels: area/redpanda, kind/backport

#13248 [v23.2.x] cloud_storage: debug log on query below log start
  src/v/cloud_storage/remote_partition.cc
Labels: area/redpanda, kind/backport

#13244 [v23.2.x] ducktape: Wait for spillover to stabilize before collection
  tests/rptest/tests/e2e_shadow_indexing_test.py
Labels: kind/backport

#13256 [v23.2.x] rptest: allow ntr_no_topic_manifest in test_manifest_dump
  tests/rptest/tests/shadow_indexing_admin_api_test.py
Labels: kind/backport

#13259 r/tests: always use current leader offsets in linearizable barrier test
  src/v/raft/tests/append_entries_test.cc
Labels: area/redpanda

#12685 Implemented `raft::state_machine_manager`
  src/v/archival/tests/archival_metadata_stm_test.cc
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
  src/v/cluster/id_allocator_stm.cc
  src/v/cluster/id_allocator_stm.h
  src/v/cluster/log_eviction_stm.cc
  src/v/cluster/log_eviction_stm.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/persisted_stm.cc
  src/v/cluster/persisted_stm.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/cluster_utils_tests.cc
  src/v/cluster/tests/eviction_stm_test.cc
  src/v/cluster/tests/id_allocator_stm_test.cc
  src/v/cluster/tests/idempotency_tests.cc
  src/v/cluster/tests/manual_log_deletion_test.cc
  src/v/cluster/tests/rm_stm_test_fixture.h
  src/v/cluster/tests/rm_stm_tests.cc
  src/v/cluster/tests/tm_stm_tests.cc
  src/v/cluster/tests/tx_compaction_tests.cc
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/raft/CMakeLists.txt
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/fwd.h
  src/v/raft/state_machine_base.cc
  src/v/raft/state_machine_base.h
  src/v/raft/state_machine_manager.cc
  src/v/raft/state_machine_manager.h
  src/v/raft/tests/CMakeLists.txt
  src/v/raft/tests/basic_raft_fixture_test.cc
  src/v/raft/tests/mux_state_machine_test.cc
  src/v/raft/tests/raft_fixture.cc
  src/v/raft/tests/raft_fixture.h
  src/v/raft/tests/raft_group_fixture.h
  src/v/raft/tests/simple_raft_fixture.h
  src/v/raft/tests/stm_manager_test.cc
  src/v/storage/types.h
  tests/rptest/tests/cloud_storage_timing_stress_test.py
Labels: area/redpanda

#13210 gha: run go test on PRs to release branches
  .github/workflows/redpanda-migration-build.yml
  .github/workflows/rpk-build.yml
  .github/workflows/transform-sdk-build.yml
  src/go/cluster-to-redpanda-migration/go.mod
  src/go/cluster-to-redpanda-migration/go.sum
Labels: area/build

#13264 [v23.2.x] build(deps): bump github.com/twmb/franz-go/pkg/kadm from 1.7.0 to 1.9.0 in /src/go/k8s
  src/go/k8s/go.mod
  src/go/k8s/go.sum
Labels: area/k8s, kind/backport

#13268 [v23.2.x] ducktape: ManyPartitionTest - Explicitly set background traffic bandwidth
  tests/rptest/scale_tests/many_partitions_test.py
Labels: kind/backport

#13269 [v23.1.x] ducktape: ManyPartitionTest - Explicitly set background traffic bandwidth
  tests/rptest/scale_tests/many_partitions_test.py
Labels: kind/backport

#13234 [v23.2.x] rptest: Implement gcp_client and VCP support methods
  tests/rptest/services/provider_clients/__init__.py
  tests/rptest/services/provider_clients/client_utils.py
  tests/rptest/services/provider_clients/ec2_client.py
  tests/rptest/services/provider_clients/gcp_client.py
  tests/rptest/services/redpanda_cloud.py
  tests/setup.py
Labels: kind/backport

#13262 Fixed incrementing `last_sent_follower_seq`
  src/v/raft/consensus.cc
  src/v/raft/heartbeat_manager.cc
  src/v/raft/types.h
  tests/rptest/tests/lw_heartbeats_test.py
Labels: area/redpanda

#13267 build: move version.h.in to version.cc.in
  src/v/CMakeLists.txt
  src/v/cluster/CMakeLists.txt
  src/v/features/CMakeLists.txt
  src/v/redpanda/CMakeLists.txt
  src/v/rp_util/CMakeLists.txt
  src/v/syschecks/CMakeLists.txt
  src/v/utils/tests/CMakeLists.txt
  src/v/version.cc.in
  src/v/version.h
  src/v/version.h.in
Labels: area/redpanda

#13241 [v23.2.x] treewide: Reset configs in tests
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/cloud_roles/tests/fetch_credentials_tests.cc
  src/v/cloud_storage/tests/async_manifest_view_test.cc
  src/v/cloud_storage/tests/remote_segment_test.cc
  src/v/cluster/tests/manual_log_deletion_test.cc
  src/v/storage/tests/log_retention_tests.cc
  src/v/storage/tests/storage_e2e_test.cc
  src/v/storage/tests/storage_test_fixture.h
Labels: area/redpanda, kind/backport

#13203 cloud_storage: Handle exceptions during chunk trim
  src/v/cloud_storage/segment_chunk_api.cc
Labels: area/redpanda

#13286 [v23.2.x] cloud_storage: Handle exceptions during chunk trim
  src/v/cloud_storage/segment_chunk_api.cc
Labels: area/redpanda, kind/backport

#13280 Add comments about which stm_snapshot backend to use
  src/v/cluster/persisted_stm.h
Labels: area/redpanda

#13291 Add initial boilerplate for `rpk transform`
  src/go/rpk/pkg/cli/root.go
  src/go/rpk/pkg/cli/transform/transform.go
Labels: area/rpk

#9132 Serde tag invoke dispatch
  src/v/rpc/test/rpc_gen_types.h
  src/v/serde/async.h
  src/v/serde/checksum_t.h
  src/v/serde/envelope.h
  src/v/serde/peek.h
  src/v/serde/read_header.h
  src/v/serde/rw/array.h
  src/v/serde/rw/bool_class.h
  src/v/serde/rw/chrono.h
  src/v/serde/rw/enum.h
  src/v/serde/rw/envelope.h
  src/v/serde/rw/inet_address.h
  src/v/serde/rw/iobuf.h
  src/v/serde/rw/map.h
  src/v/serde/rw/named_type.h
  src/v/serde/rw/optional.h
  src/v/serde/rw/reservable.h
  src/v/serde/rw/rw.h
  src/v/serde/rw/scalar.h
  src/v/serde/rw/set.h
  src/v/serde/rw/sstring.h
  src/v/serde/rw/tags.h
  src/v/serde/rw/tristate_rw.h
  src/v/serde/rw/uuid.h
  src/v/serde/rw/vector.h
  src/v/serde/serde.h
  src/v/serde/serde_is_enum.h
  src/v/serde/serde_size_t.h
  src/v/serde/test/serde_test.cc
Labels: area/redpanda

#13128 [v23.1.x] Add thrashing of old txn sessions to prevent OOM
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/cluster/tm_stm_cache.cc
  src/v/cluster/tm_stm_cache.h
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/tx_gateway_frontend.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/application.cc
  src/v/utils/rwlock.h
  src/v/utils/tests/rwlock_test.cc
  tests/rptest/tests/tx_overflow_test.py
Labels: area/redpanda, kind/backport

#13232 Coordinated recovery: add message fields
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/compat/raft_compat.h
  src/v/compat/raft_generator.h
  src/v/compat/raft_json.h
  src/v/raft/consensus.cc
  src/v/raft/heartbeat_manager.cc
  src/v/raft/heartbeats.h
  src/v/raft/recovery_stm.cc
  src/v/raft/service.h
  src/v/raft/tests/heartbeat_bench.cc
  src/v/raft/tests/heartbeats_test.cc
  src/v/raft/tests/type_serialization_tests.cc
  src/v/raft/types.cc
  src/v/raft/types.h
  tests/rptest/services/redpanda.py
  tests/rptest/tests/raft_recovery_test.py
Labels: area/redpanda

#12770 [v22.3.x] co_await mutex hold in conn_quota
  src/v/net/conn_quota.cc
Labels: area/redpanda, kind/backport

#13315 [v22.3.x] Handle gate closing exceptions in replicate_entries_stm
  src/v/raft/replicate_entries_stm.cc
Labels: area/redpanda, kind/backport

#13311 [v23.1.x] Handle gate closing exceptions in replicate_entries_stm
  src/v/raft/replicate_entries_stm.cc
Labels: area/redpanda, kind/backport

#13313 [v23.2.x] Handle gate closing exceptions in replicate_entries_stm
  src/v/raft/replicate_entries_stm.cc
Labels: area/redpanda, kind/backport

#13302 tests/py: apply format with yapf 0.40.1
  .github/workflows/lint.yml
  tests/rptest/scale_tests/cloud_storage_compaction_test.py
  tests/rptest/services/kaf_consumer.py
  tests/rptest/services/kcat_consumer.py
  tests/rptest/services/redpanda.py
  tests/rptest/services/redpanda_installer.py
  tests/rptest/tests/cluster_features_test.py
Labels: area/build

#13292 cloud_storage: set default upload interval
  src/v/config/configuration.cc
Labels: area/redpanda, doc-needed

#12919 cluster: Add transform metadata to controller
  src/v/cluster/CMakeLists.txt
  src/v/cluster/commands.h
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/controller.json
  src/v/cluster/controller_snapshot.cc
  src/v/cluster/controller_snapshot.h
  src/v/cluster/controller_stm.cc
  src/v/cluster/controller_stm.h
  src/v/cluster/errc.h
  src/v/cluster/fwd.h
  src/v/cluster/plugin_backend.cc
  src/v/cluster/plugin_backend.h
  src/v/cluster/plugin_frontend.cc
  src/v/cluster/plugin_frontend.h
  src/v/cluster/plugin_table.cc
  src/v/cluster/plugin_table.h
  src/v/cluster/service.cc
  src/v/cluster/service.h
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/plugin_frontend_validation_test.cc
  src/v/cluster/tests/plugin_table_test.cc
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
  src/v/cluster/types.h
  src/v/kafka/server/errors.h
  src/v/model/metadata.h
  src/v/model/model.cc
  src/v/model/record_batch_types.h
  src/v/redpanda/application.cc
  src/v/utils/utf8.cc
  src/v/utils/utf8.h
Labels: area/redpanda

#13316 [v23.2.x] k8s: Bump Go version to v1.21.0
  src/go/k8s/.golangci.yml
  src/go/k8s/Dockerfile
Labels: area/k8s, kind/backport

#13319 [v23.2.x] build(deps): bump github.com/stretchr/testify from 1.8.2 to 1.8.4 in /src/go/k8s
  src/go/k8s/go.mod
  src/go/k8s/go.sum
Labels: area/k8s, kind/backport

#13324 [storage]: remove recursion from segment_appender::do_append
  src/v/storage/segment_appender.cc
  src/v/storage/segment_appender.h
Labels: area/redpanda

#13298 operator: Add the option to immediately decommission ghosts
  src/go/k8s/config/e2e-tests/kustomization.yaml
  src/go/k8s/config/e2e-tests/manager.yaml
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/controllers/redpanda/cluster_controller_attached_resources.go
  src/go/k8s/main.go
Labels: area/k8s, k8s/tests

#13351 wasm: prevent goversion from changing tests
  src/v/wasm/tests/wasi_test.cc
Labels: area/redpanda

#13350 [v23.2.x] operator: Add the option to immediately decommission ghosts
  src/go/k8s/config/e2e-tests/kustomization.yaml
  src/go/k8s/config/e2e-tests/manager.yaml
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/controllers/redpanda/cluster_controller_attached_resources.go
  src/go/k8s/main.go
Labels: area/k8s, kind/backport

#13120 allow user-specified ServiceAccount name for Console deployment
  src/go/k8s/apis/vectorized/v1alpha1/console_types.go
  src/go/k8s/pkg/console/deployment.go
  src/go/k8s/pkg/console/deployment_internal_test.go
Labels: area/k8s, k8s/tests

#13357 [v23.2.x] allow user-specified ServiceAccount name for Console deployment
  src/go/k8s/apis/vectorized/v1alpha1/console_types.go
  src/go/k8s/pkg/console/deployment.go
  src/go/k8s/pkg/console/deployment_internal_test.go
Labels: area/k8s, kind/backport

#13354 address snyk finding
  src/go/cluster-to-redpanda-migration/go.mod
  src/go/cluster-to-redpanda-migration/go.sum
  src/go/k8s/.golangci.yml
  src/go/k8s/apis/vectorized/v1alpha1/cluster_webhook.go
  src/go/k8s/go.mod
  src/go/k8s/go.sum
  src/go/k8s/pkg/resources/certmanager/pki_test.go
  src/go/k8s/pkg/resources/configmap_test.go
  src/go/k8s/pkg/resources/statefulset_test.go
  src/go/k8s/webhooks/redpanda/validate_enterprise_test.go
Labels: area/k8s, k8s/tests

#13359 [v23.2.x] address snyk finding
  src/go/cluster-to-redpanda-migration/go.mod
  src/go/cluster-to-redpanda-migration/go.sum
  src/go/k8s/.golangci.yml
  src/go/k8s/apis/vectorized/v1alpha1/cluster_webhook.go
  src/go/k8s/go.mod
  src/go/k8s/go.sum
  src/go/k8s/pkg/resources/certmanager/pki_test.go
  src/go/k8s/pkg/resources/configmap_test.go
  src/go/k8s/pkg/resources/statefulset_test.go
  src/go/k8s/webhooks/redpanda/validate_enterprise_test.go
Labels: area/k8s, kind/backport

#13173 [v23.2.x] Reshedule tick immediately when topic table was modified
  src/v/cluster/partition_balancer_backend.cc
Labels: area/redpanda, kind/backport

#13197 [v23.2.x] Made `consumer_offsets_consistency_test.py` more robust
  tests/rptest/tests/consumer_offsets_consistency_test.py
Labels: kind/backport

#13202 [v23.2.x] c/members_manager: validate if node exists in the cluster before update
  src/v/cluster/cluster_utils.cc
Labels: area/redpanda, kind/backport

#13213 [v23.2.x] ducktape: extend timeout in timequery_test
  tests/rptest/tests/timequery_test.py
Labels: kind/backport

#13327 [v23.2.x] cloud_storage: set default upload interval
  src/v/config/configuration.cc
Labels: area/redpanda, kind/backport

#13325 rpk: Enable key=value notation for every `set` command
  src/go/rpk/pkg/cli/cluster/config/set.go
  src/go/rpk/pkg/cli/redpanda/config.go
  src/go/rpk/pkg/cli/redpanda/config_test.go
Labels: area/rpk

#13330 rpk: fail when an unknown topic is passed in consume
  src/go/rpk/pkg/cli/topic/consume.go
Labels: area/rpk

#13049 transform-sdk: Introduce sr package
  src/go/transform-sdk/internal/cache/cache.go
  src/go/transform-sdk/internal/cache/cache_test.go
  src/go/transform-sdk/internal/testdata/CMakeLists.txt
  src/go/transform-sdk/internal/testdata/go.mod
  src/go/transform-sdk/internal/testdata/go.sum
  src/go/transform-sdk/internal/testdata/schema-registry/avro/example.go
  src/go/transform-sdk/internal/testdata/schema-registry/avro/generate.go
  src/go/transform-sdk/internal/testdata/schema-registry/avro/schema.avsc
  src/go/transform-sdk/internal/testdata/schema-registry/transform.go
  src/go/transform-sdk/sr/abi.go
  src/go/transform-sdk/sr/client.go
  src/go/transform-sdk/sr/doc.go
  src/go/transform-sdk/sr/encoding.go
  src/go/transform-sdk/sr/encoding_test.go
  src/go/transform-sdk/sr/serde.go
  src/go/transform-sdk/sr/serde_test.go
  src/go/transform-sdk/sr/stub_abi.go
  src/v/wasm/tests/CMakeLists.txt
  src/v/wasm/tests/wasm_fixture.cc
  src/v/wasm/tests/wasm_fixture.h
  src/v/wasm/tests/wasm_transform_test.cc
Labels: area/redpanda, area/wasm

#12716 Allow followers to catchup with leader to return freshest describeACL responses
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/controller.json
  src/v/cluster/security_frontend.cc
  src/v/cluster/security_frontend.h
  src/v/cluster/service.cc
  src/v/cluster/service.h
  src/v/cluster/types.h
  src/v/kafka/server/handlers/describe_acls.cc
  src/v/redpanda/application.cc
  tests/rptest/clients/rpk.py
  tests/rptest/tests/rpk_acl_test.py
Labels: area/redpanda

#13360 k8s: Genreate deepcopy and console custom resource definition
  src/go/k8s/apis/vectorized/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_consoles.yaml
Labels: area/k8s, k8s/tests

#13366 [v23.2.x] k8s: Genreate deepcopy and console custom resource definition
  src/go/k8s/apis/vectorized/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_consoles.yaml
Labels: area/k8s, kind/backport

#13030 [v23.1.x] ducktape: avoid writing empty release cache file
  tests/rptest/services/redpanda_installer.py
Labels: kind/backport

#13201 [v23.1.x] c/members_manager: validate if node exists in the cluster before update
  src/v/cluster/cluster_utils.cc
Labels: area/redpanda, kind/backport

#13216 [v23.1.x] ducktape: extend timeout in timequery_test
  tests/rptest/tests/timequery_test.py
Labels: kind/backport

#13361 rpk profile create: use StringArray rather than StringSlice
  src/go/rpk/pkg/cli/profile/create.go
Labels: area/rpk

#13343 rpk/bugfix: enable back setting TLS struct values in set commands
  src/go/rpk/pkg/cli/redpanda/config.go
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/params.go
Labels: area/rpk

#13258 rpk: add move-status to show ongoing partition movements
  src/go/rpk/pkg/adminapi/api_partition.go
  src/go/rpk/pkg/cli/cluster/partitions/cancel.go
  src/go/rpk/pkg/cli/cluster/partitions/cancel_hidden.go
  src/go/rpk/pkg/cli/cluster/partitions/list.go
  src/go/rpk/pkg/cli/cluster/partitions/partitions.go
  src/go/rpk/pkg/cli/topic/describe.go
  src/go/rpk/pkg/cli/topic/describe_storage.go
  src/go/rpk/pkg/out/out.go
Labels: area/rpk

#13344 Backport per-handler metrics to v23.1
  src/v/cloud_storage/partition_probe.h
  src/v/cloud_storage/probe.h
  src/v/cloud_storage_clients/client_pool.h
  src/v/cloud_storage_clients/client_probe.h
  src/v/cloud_storage_clients/test_client/abs_test_client_main.cc
  src/v/cloud_storage_clients/test_client/s3_test_client_main.cc
  src/v/http/demo/client.cc
  src/v/kafka/CMakeLists.txt
  src/v/kafka/latency_probe.h
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/connection_context.h
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/fetch.h
  src/v/kafka/server/handlers/handler_probe.cc
  src/v/kafka/server/handlers/handler_probe.h
  src/v/kafka/server/handlers/produce.cc
  src/v/kafka/server/server.h
  src/v/net/server.cc
  src/v/net/server.h
  src/v/pandaproxy/probe.cc
  src/v/pandaproxy/probe.h
  src/v/rpc/rpc_compiler.py
  src/v/rpc/rpc_server.cc
  src/v/rpc/rpc_server.h
  src/v/rpc/types.h
  src/v/utils/CMakeLists.txt
  src/v/utils/log_hist.cc
  src/v/utils/log_hist.h
  src/v/utils/tests/seastar_histogram_test.cc
Labels: area/redpanda

#13388 [v23.1.x] tests/docker: Change base image base to jammy
  tests/docker/Dockerfile
Labels: kind/backport

#13338 Backport/v23.2.x/yapf upgrade
  .github/workflows/lint.yml
  tests/rptest/scale_tests/cloud_storage_compaction_test.py
  tests/rptest/services/kaf_consumer.py
  tests/rptest/services/kcat_consumer.py
  tests/rptest/services/redpanda.py
  tests/rptest/services/redpanda_installer.py
  tests/rptest/tests/cluster_features_test.py
Labels: area/build

#12906 Make max client connections configurable and refactor `rpc::connection_cache`
  src/v/cluster/cluster_utils.cc
  src/v/cluster/cluster_utils.h
  src/v/cluster/node_status_backend.cc
  src/v/cluster/node_status_backend.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/client/broker.cc
  src/v/pandaproxy/server.cc
  src/v/raft/tests/raft_group_fixture.h
  src/v/redpanda/admin_server.cc
  src/v/redpanda/application.cc
  src/v/rpc/CMakeLists.txt
  src/v/rpc/backoff_policy.h
  src/v/rpc/connection_cache.cc
  src/v/rpc/connection_cache.h
  src/v/rpc/connection_set.cc
  src/v/rpc/connection_set.h
  src/v/rpc/rpc_utils.cc
  src/v/rpc/rpc_utils.h
  src/v/rpc/test/CMakeLists.txt
  src/v/rpc/test/connection_cache_test.cc
  src/v/rpc/test/rpc_gen_cycling_test.cc
Labels: area/redpanda

#13353 slash backport command: better error message on failure to backport
  .github/workflows/backport-command.yml
  .github/workflows/scripts/backport-command/create_milestone.sh
  .github/workflows/scripts/backport-command/get_backport_type.sh
  .github/workflows/scripts/backport-command/pr_details.sh
Labels: area/build

#13334 k8s: Bump golangci-lint version
  src/go/k8s/Makefile
Labels: area/k8s, k8s/tests

#13296 Show true partition count in cluster health API
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
  src/v/cluster/health_monitor_types.h
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/health_bench.cc
  src/v/cluster/tests/health_monitor_test.cc
  src/v/cluster/tests/health_monitor_test_utils.h
  src/v/redpanda/admin/api-doc/cluster.json
  src/v/redpanda/admin_server.cc
  tests/rptest/tests/cluster_health_overview_test.py
Labels: area/redpanda

#13375 [v23.2.x] rpk profile create: use StringArray rather than StringSlice
  src/go/rpk/pkg/cli/profile/create.go
Labels: area/rpk, kind/backport

#13379 Add rpk transform delete command
  src/go/rpk/pkg/adminapi/api_transform.go
  src/go/rpk/pkg/cli/transform/delete.go
  src/go/rpk/pkg/cli/transform/transform.go
Labels: area/rpk

#13381 [v23.2.x] rpk: add move-status to show ongoing partition movements
  src/go/rpk/pkg/adminapi/api_partition.go
  src/go/rpk/pkg/cli/cluster/partitions/cancel.go
  src/go/rpk/pkg/cli/cluster/partitions/cancel_hidden.go
  src/go/rpk/pkg/cli/cluster/partitions/list.go
  src/go/rpk/pkg/cli/cluster/partitions/partitions.go
  src/go/rpk/pkg/cli/topic/describe.go
  src/go/rpk/pkg/cli/topic/describe_storage.go
  src/go/rpk/pkg/out/out.go
Labels: area/rpk, kind/backport

#13384 cloud_storage: Fix exception handling in async_manifest_view
  src/v/cloud_storage/async_manifest_view.cc
Labels: area/redpanda

#13382 [v23.2.x] rpk/bugfix: enable back setting tls struct values in set commands
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/params.go
Labels: area/rpk

#13416 Remove WasmEdge
  cmake/dependencies.cmake
  licenses/third_party.md
  src/v/wasm/CMakeLists.txt
  src/v/wasm/wasmedge.cc
  src/v/wasm/wasmedge.h
Labels: area/build, area/redpanda

#13408 [v22.3.x] gha: run go test on PRs to release branches
  .github/workflows/rpk-build.yml
Labels: area/build

#13410 cmake/oss: upgrade wasmtime
  cmake/dependencies.cmake
Labels: area/build

#13270 Introduce transform::manager
  src/v/ssx/CMakeLists.txt
  src/v/ssx/tests/CMakeLists.txt
  src/v/ssx/tests/work_queue_test.cc
  src/v/ssx/work_queue.cc
  src/v/ssx/work_queue.h
  src/v/transform/CMakeLists.txt
  src/v/transform/tests/CMakeLists.txt
  src/v/transform/tests/transform_manager_test.cc
  src/v/transform/transform_manager.cc
  src/v/transform/transform_manager.h
  src/v/transform/transform_processor.cc
  src/v/transform/transform_processor.h
  src/v/utils/human.cc
  src/v/utils/human.h
Labels: area/redpanda

#13397 Better error message when topic creation fails
  src/v/cluster/scheduling/partition_allocator.cc
Labels: area/redpanda, performance

#13418 [v23.2.x] cloud_storage: Fix exception handling in async_manifest_view
  src/v/cloud_storage/async_manifest_view.cc
Labels: area/redpanda, kind/backport

#12860 kafka: log errored responses at DEBUG instead of TRACE
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/server/request_context.h
Labels: area/redpanda

#13437 transform/processor: fix use-after-move
  src/v/transform/transform_processor.cc
Labels: area/redpanda

#13434 [v23.2.x] kafka: log errored responses at DEBUG instead of TRACE
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/server/request_context.h
Labels: area/redpanda, kind/backport

#13436 [v23.1.x] kafka: log errored responses at DEBUG instead of TRACE
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/server/request_context.h
Labels: area/redpanda, kind/backport

#13444 rpk/transform: Fix delete endpoint
  src/go/rpk/pkg/adminapi/api_transform.go
Labels: area/rpk

#13293 Data Transform Admin APIs
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/admin/api-doc/transform.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
Labels: area/redpanda, doc-needed

#13318 Coordinated recovery: scheduler
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/raft/CMakeLists.txt
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/group_manager.cc
  src/v/raft/group_manager.h
  src/v/raft/recovery_scheduler.cc
  src/v/raft/recovery_scheduler.h
  src/v/raft/replicate_entries_stm.cc
  src/v/raft/tests/raft_fixture.cc
  src/v/raft/tests/raft_fixture.h
  src/v/raft/tests/raft_group_fixture.h
  src/v/raft/tests/simple_raft_fixture.h
  src/v/raft/tests/state_removal_test.cc
  src/v/raft/types.h
  src/v/raft/vote_stm.cc
  src/v/redpanda/admin/api-doc/raft.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  src/v/redpanda/application.cc
  tests/rptest/services/admin.py
  tests/rptest/tests/raft_recovery_test.py
Labels: area/redpanda

#13257 rename delete_retention_ms -> log_retention_ms
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/cluster/metadata_cache.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/handlers/describe_configs.cc
  src/v/kafka/server/tests/alter_config_test.cc
  src/v/redpanda/application.cc
  src/v/resource_mgmt/storage.cc
  src/v/storage/log_manager.cc
  src/v/storage/log_manager.h
  src/v/storage/ntp_config.h
  tests/rptest/clients/rpk.py
  tests/rptest/tests/cluster_config_test.py
  tests/rptest/tests/tx_abort_index_test.py
Labels: area/redpanda, area/cloud-storage, doc-needed

#13464 tests/upgrade_test: test_rolling_upgrade ok_to_fail issue/13181
  tests/rptest/tests/upgrade_test.py
Labels: ci-disabled-test

#11021 Dynamic tx coordinator partitioning: add tx_registry_stm
  src/v/cluster/CMakeLists.txt
  src/v/cluster/fwd.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/tm_coordinator_mapper_tests.cc
  src/v/cluster/tests/tm_tx_hash_ranges_tests.cc
  src/v/cluster/tests/tx_hash_ranges_tests.cc
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/cluster/tm_tx_hash_ranges.h
  src/v/cluster/tx_coordinator_mapper.h
  src/v/cluster/tx_gateway.cc
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/tx_gateway_frontend.h
  src/v/cluster/tx_hash_ranges.h
  src/v/cluster/tx_registry_frontend.cc
  src/v/cluster/tx_registry_frontend.h
  src/v/cluster/tx_registry_stm.cc
  src/v/cluster/tx_registry_stm.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/config/base_property.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/group.cc
  src/v/model/model.cc
  src/v/model/record_batch_types.h
  src/v/redpanda/admin/api-doc/transaction.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  src/v/redpanda/application.cc
  tests/rptest/services/admin.py
  tests/rptest/tests/tx_registry_test.py
Labels: area/redpanda

#13472 [v23.2.x] rptest: increase purge grace period in racy test
  tests/rptest/tests/topic_delete_test.py
Labels: kind/backport

#13445 rpk/transform: Introduce buildpacks
  licenses/third_party.md
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/transform/buildpack/buildpack.go
  src/go/rpk/pkg/cli/transform/buildpack/download_test.go
Labels: area/rpk

#13484 Change default value for `rpc_client_connections_per_peer`
  src/v/config/configuration.cc
Labels: area/redpanda

#13481 wasm: remove work queue
  src/v/wasm/CMakeLists.txt
  src/v/wasm/tests/CMakeLists.txt
  src/v/wasm/tests/work_queue_test.cc
  src/v/wasm/work_queue.cc
  src/v/wasm/work_queue.h
Labels: area/redpanda

#13407 [v23.1.x] gha: run go test on PRs to release branches
  .github/workflows/rpk-build.yml
Labels: area/build

#13486 Fix operator e2e flaky test
  src/go/k8s/tests/e2e/create-topic-given-issuer-with-client-auth/00-assert.yaml
  src/go/k8s/tests/e2e/create-topic-given-issuer-with-client-auth/00-create-cluster-issuer.yaml
  src/go/k8s/tests/e2e/create-topic-given-issuer-with-client-auth/01-assert.yaml
  src/go/k8s/tests/e2e/create-topic-given-issuer-with-client-auth/01-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/create-topic-given-issuer-with-client-auth/05-clean.yaml
  src/go/k8s/tests/e2e/create-topic-given-issuer/05-clean.yaml
Labels: area/k8s, k8s/tests

#13490 [v23.2.x] Fix operator e2e flaky test
  src/go/k8s/tests/e2e/create-topic-given-issuer-with-client-auth/00-assert.yaml
  src/go/k8s/tests/e2e/create-topic-given-issuer-with-client-auth/00-create-cluster-issuer.yaml
  src/go/k8s/tests/e2e/create-topic-given-issuer-with-client-auth/01-assert.yaml
  src/go/k8s/tests/e2e/create-topic-given-issuer-with-client-auth/01-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/create-topic-given-issuer-with-client-auth/05-clean.yaml
  src/go/k8s/tests/e2e/create-topic-given-issuer/05-clean.yaml
Labels: area/k8s, kind/backport

#13462 rpk/transform: introduce list command
  src/go/rpk/pkg/adminapi/api_transform.go
  src/go/rpk/pkg/cli/transform/list.go
  src/go/rpk/pkg/cli/transform/list_test.go
  src/go/rpk/pkg/cli/transform/transform.go
Labels: area/rpk

#13177 [v23.2.x] Workflow to trigger cloud CI on releases
  .github/workflows/cloud-installpack-bk-trigger.yml
Labels: area/build, kind/backport

#13253 cloud_storage: add cloud storage scrubbing capabilities
  src/v/archival/fwd.h
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/archival/purger.cc
  src/v/archival/purger.h
  src/v/archival/scrubber.cc
  src/v/archival/scrubber.h
  src/v/archival/scrubber_scheduler.h
  src/v/archival/tests/CMakeLists.txt
  src/v/archival/tests/scrubber_scheduler_test.cc
  src/v/cloud_roles/tests/fetch_credentials_tests.cc
  src/v/cloud_storage/CMakeLists.txt
  src/v/cloud_storage/anomalies_detector.cc
  src/v/cloud_storage/anomalies_detector.h
  src/v/cloud_storage/lifecycle_marker.h
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/spillover_manifest.h
  src/v/cloud_storage/tests/CMakeLists.txt
  src/v/cloud_storage/tests/anomalies_detector_test.cc
  src/v/cloud_storage/tests/partition_manifest_test.cc
  src/v/cloud_storage/types.cc
  src/v/cloud_storage/types.h
  src/v/cluster/CMakeLists.txt
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/http/tests/http_imposter.cc
  src/v/http/tests/registered_urls.cc
  src/v/http/tests/registered_urls.h
  src/v/model/timestamp.h
  src/v/redpanda/admin/api-doc/shadow_indexing.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  tests/rptest/services/admin.py
  tests/rptest/tests/cloud_storage_scrubber_test.py
  tests/rptest/tests/topic_delete_test.py
Labels: area/redpanda, area/cloud-storage

#13527 k8s: fix users list for redpanda sals users
  src/go/k8s/apis/redpanda/v1alpha1/redpanda_clusterspec_types.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/cluster.redpanda.com_redpandas.yaml
Labels: area/k8s, k8s/tests

#13530 [v23.2.x] k8s: fix users list for redpanda sals users
  src/go/k8s/apis/redpanda/v1alpha1/redpanda_clusterspec_types.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/cluster.redpanda.com_redpandas.yaml
Labels: area/k8s, kind/backport

#13398 [v23.2.x] Show true partition count in cluster health API
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
  src/v/cluster/health_monitor_types.h
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/health_bench.cc
  src/v/cluster/tests/health_monitor_test.cc
  src/v/cluster/tests/health_monitor_test_utils.h
  src/v/redpanda/admin/api-doc/cluster.json
  src/v/redpanda/admin_server.cc
  tests/rptest/tests/cluster_health_overview_test.py
Labels: area/redpanda, kind/backport

#13461 Increase topic_memory_per_partition to 4 MiB
  src/v/config/configuration.cc
  src/v/kafka/server/tests/CMakeLists.txt
Labels: area/redpanda

#13431 config: enable crash_loop_limit by default
  src/v/config/node_config.cc
  src/v/redpanda/application.cc
  tests/rptest/tests/crash_loop_checks_test.py
Labels: area/redpanda

#13473 rpk: improved err msg in rpk tune --output-script
  src/go/rpk/pkg/cli/redpanda/tune/tune.go
Labels: area/rpk

#13533 [v23.2.x] config: enable crash_loop_limit by default
  src/v/config/node_config.cc
  src/v/redpanda/application.cc
  tests/rptest/tests/crash_loop_checks_test.py
Labels: area/redpanda, kind/backport

#13184 [v23.2.x] build(deps): bump github.com/Masterminds/semver/v3 from 3.2.0 to 3.2.1 in /src/go/k8s
  src/go/k8s/go.mod
  src/go/k8s/go.sum
Labels: area/k8s, kind/backport

#13539 [v23.2.x] rpk: improved err msg in rpk tune --output-script
  src/go/rpk/pkg/cli/redpanda/tune/tune.go
Labels: area/rpk, kind/backport

#11212 cloud_metadata: plug upload loop into application
  src/v/cluster/cloud_metadata/manifest_downloads.cc
  src/v/cluster/cloud_metadata/manifest_downloads.h
  src/v/cluster/cloud_metadata/tests/manifest_downloads_test.cc
  src/v/cluster/cloud_metadata/tests/uploader_test.cc
  src/v/cluster/cloud_metadata/uploader.cc
  src/v/cluster/cloud_metadata/uploader.h
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/application.cc
  src/v/storage/api.h
  tests/rptest/services/redpanda.py
  tests/rptest/tests/cluster_metadata_upload_test.py
  tests/rptest/utils/si_utils.py
  tools/rp_storage_tool/src/bucket_reader.rs
Labels: area/redpanda

#13546 [v23.1.x] rpk: improved err msg in rpk tune --output-script
  src/go/rpk/pkg/cli/cmd/redpanda/tune/tune.go
Labels: area/rpk

#13548 [v22.3.x] rpk: improved err msg in rpk tune --output-script
  src/go/rpk/pkg/cli/cmd/redpanda/tune/tune.go
Labels: area/rpk

#10586 cluster: pull out to-ntp-leader dispatch from id_allocator_frontend
  src/v/cluster/id_allocator.cc
  src/v/cluster/id_allocator_frontend.cc
  src/v/cluster/id_allocator_frontend.h
  src/v/cluster/id_allocator_stm.h
  src/v/cluster/leader_router.h
  src/v/redpanda/application.cc
Labels: area/redpanda

#13495 fixed tracking expected last offset of a follower
  src/v/cluster/cluster_utils.cc
  src/v/cluster/types.h
  src/v/raft/consensus.cc
  src/v/raft/recovery_stm.cc
  src/v/raft/recovery_stm.h
  src/v/raft/replicate_entries_stm.cc
  src/v/raft/types.cc
  src/v/raft/types.h
  src/v/redpanda/admin/api-doc/debug.json
  src/v/redpanda/admin_server.cc
Labels: area/redpanda

#13544 r/consensus: made raft election timeout runtime configurable
  src/v/cluster/tests/id_allocator_stm_test.cc
  src/v/config/configuration.cc
  src/v/raft/group_manager.cc
  src/v/raft/group_manager.h
  src/v/raft/tests/jitter_tests.cc
  src/v/raft/tests/raft_fixture.cc
  src/v/raft/tests/raft_fixture.h
  src/v/raft/tests/raft_group_fixture.h
  src/v/raft/tests/simple_raft_fixture.h
  src/v/raft/timeout_jitter.h
  src/v/redpanda/application.cc
Labels: area/redpanda

#13561 [v23.2.x] Backport of #13495
  src/v/cluster/cluster_utils.cc
  src/v/cluster/types.h
  src/v/raft/consensus.cc
  src/v/raft/recovery_stm.cc
  src/v/raft/recovery_stm.h
  src/v/raft/replicate_entries_stm.cc
  src/v/raft/types.cc
  src/v/raft/types.h
  src/v/redpanda/admin/api-doc/debug.json
  src/v/redpanda/admin_server.cc
Labels: area/redpanda

#13576 [v23.2.x] k8s: [migrations-cli] update cli with current changes to api
  src/go/cluster-to-redpanda-migration/Makefile
  src/go/cluster-to-redpanda-migration/go.sum
  src/go/cluster-to-redpanda-migration/pkg/migration/cluster_spec.go
  src/go/cluster-to-redpanda-migration/tests/data/complex_cluster_001_output.yaml
Labels: kind/backport

#13577 [v23.2.x] cluster-to-redpanda-migration: decouple from operator
  src/go/cluster-to-redpanda-migration/go.mod
  src/go/cluster-to-redpanda-migration/go.sum
Labels: kind/backport

#12952 unit tests: make property::set_value accept values convertible to the property T
  src/v/config/bounded_property.h
  src/v/config/property.h
  src/v/config/tests/bounded_property_test.cc
Labels: area/redpanda

#13542 Support returning controller partition status
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/redpanda/admin_server.cc
  tests/rptest/tests/partition_state_api_test.py
Labels: area/redpanda

#13568 cluster/partition: removed duplicated block
  src/v/cluster/partition.cc
Labels: area/redpanda

#13463 storage/log_manager: cleanup "delete_retention_ms"->"log_retention_ms"
  src/go/rpk/pkg/cli/cluster/config/set.go
  src/v/storage/log_manager.cc
Labels: area/rpk, area/redpanda

#13570 Trigger the `cluster-to-redpanda-migration-tool` workflow when `go/src/k8s/` is changed
  .github/workflows/redpanda-migration-build.yml
  src/go/cluster-to-redpanda-migration/go.mod
  src/go/cluster-to-redpanda-migration/go.sum
Labels: area/build

#13581 [v23.2.x] cluster/partition: removed duplicated block
  src/v/cluster/partition.cc
Labels: area/redpanda, kind/backport

#13590 k8s: remove field as required for service monitoring
  src/go/k8s/apis/redpanda/v1alpha1/redpanda_clusterspec_types.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/cluster.redpanda.com_redpandas.yaml
Labels: area/k8s, k8s/tests

#13595 [v23.2.x] k8s: remove field as required for service monitoring
  src/go/k8s/apis/redpanda/v1alpha1/redpanda_clusterspec_types.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/cluster.redpanda.com_redpandas.yaml
Labels: area/k8s, kind/backport

#13556 raft: skip unsuppressing heartbeats if we lose leadership
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/recovery_stm.cc
  src/v/raft/types.cc
Labels: area/redpanda

#13603 Allow console configuration inside Redpanda custom resource.
  src/go/k8s/apis/redpanda/v1alpha1/redpanda_clusterspec_types.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/cluster.redpanda.com_redpandas.yaml
  src/go/k8s/config/rbac/role.yaml
Labels: area/k8s, k8s/tests

#13482 TS Read Guardrails: Constrain tiered-storage resource consumption with memory limits
  src/v/cloud_storage/materialized_resources.cc
  src/v/cloud_storage/materialized_resources.h
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cloud_storage/remote_probe.cc
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/remote_segment_index.cc
  src/v/cloud_storage/remote_segment_index.h
  src/v/cloud_storage/segment_state.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/resource_mgmt/memory_groups.h
Labels: area/redpanda, core

#13606 [v23.2.x] Allow console configuration inside Redpanda custom resource.
  src/go/k8s/apis/redpanda/v1alpha1/redpanda_clusterspec_types.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/cluster.redpanda.com_redpandas.yaml
  src/go/k8s/config/rbac/role.yaml
Labels: area/k8s, kind/backport

#13607 admin: add raft follower_recovery_state to debug partition json
  src/v/cluster/cluster_utils.cc
  src/v/cluster/types.h
  src/v/raft/consensus.h
  src/v/redpanda/admin/api-doc/debug.json
  src/v/redpanda/admin_server.cc
Labels: area/redpanda

#13610 k8s: update go.mod and go.sum
  .github/workflows/lint.yml
  src/go/k8s/go.mod
  src/go/k8s/go.sum
Labels: area/build, area/k8s, k8s/tests

#13620 [v23.2.x] k8s: update go.mod and go.sum
  .github/workflows/lint.yml
  src/go/k8s/go.mod
  src/go/k8s/go.sum
Labels: area/build, area/k8s, kind/backport

#13585 cloud_storage_clients/s3: handle HEAD slow downs
  src/v/cloud_storage_clients/s3_client.cc
Labels: area/redpanda, area/cloud-storage

#13553 rpk: Add URP and leaderless counts to `rpk cluster health`
  src/go/rpk/pkg/adminapi/api_cluster.go
  src/go/rpk/pkg/cli/cluster/health.go
  src/go/rpk/pkg/out/out.go
Labels: area/rpk

#13593 [v23.2.x] Trigger the `cluster-to-redpanda-migration-tool` workflow when `go/src/k8s/` is changed
  .github/workflows/redpanda-migration-build.yml
  src/go/cluster-to-redpanda-migration/go.mod
  src/go/cluster-to-redpanda-migration/go.sum
Labels: area/build, kind/backport

#13601 [v23.2.x] tests: increase rpk timeout in partition balancer maintenance test
  tests/rptest/clients/rpk.py
  tests/rptest/tests/partition_balancer_test.py
Labels: kind/backport

#13622 [v23.2.x] cloud_storage_clients/s3: handle HEAD slow downs
  src/v/cloud_storage_clients/s3_client.cc
Labels: area/redpanda, kind/backport

#13609 tx/compaction: ensure last batch in a segment is not compacted way.
  src/v/storage/compacted_index.h
  src/v/storage/compacted_index_writer.h
  src/v/storage/compaction_reducers.cc
  src/v/storage/compaction_reducers.h
  src/v/storage/segment.cc
  src/v/storage/spill_key_index.cc
  src/v/storage/spill_key_index.h
  src/v/storage/tests/compaction_index_format_tests.cc
  src/v/storage/tests/storage_e2e_test.cc
  tests/java/verifiers/src/main/java/io/vectorized/compaction/idempotency/IdempotentWorkload.java
  tests/java/verifiers/src/main/java/io/vectorized/compaction/tx/TxUniqueKeysWorkload.java
  tests/java/verifiers/src/main/java/io/vectorized/compaction/tx/TxWorkload.java
  tests/rptest/tests/compaction_e2e_test.py
Labels: area/redpanda

#12314 archival: promote log for noop GC to error
  src/v/archival/ntp_archiver_service.cc
Labels: area/redpanda

#13616 c/pb_backend: schedule tick immediately if health report is available
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
  src/v/cluster/partition_balancer_backend.cc
Labels: area/redpanda

#13618 [v23.1.x] tests: increase rpk timeout in partition balancer maintenance test
  tests/rptest/clients/rpk.py
  tests/rptest/tests/partition_balancer_test.py
Labels: kind/backport

#13643 [v23.2.x] c/pb_backend: schedule tick immediately if health report is available
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
  src/v/cluster/partition_balancer_backend.cc
Labels: area/redpanda, kind/backport

#13645 c/topics_frontend: create partition constraints on allocator shard
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
Labels: area/redpanda

#13659 Change rpk disconnect message from INFO to DEBUG
  src/v/kafka/server/connection_context.h
Labels: area/redpanda

#13666 [v23.2.x] c/topics_frontend: create partition constraints on allocator shard
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
Labels: area/redpanda, kind/backport

#13562 Do not select replica in maintenance mode in replica selector
  src/v/kafka/server/handlers/fetch.cc
  tests/rptest/tests/follower_fetching_test.py
Labels: area/redpanda
