Repository redpanda-data/redpanda, pull requests merged in 2023-12, with the labels that each got.

#15268 rpk/serde: use fullName for proto decoding.
  src/go/rpk/pkg/serde/serde.go
Labels: area/rpk

#15252 build: enable strict clang-tidy for sub-directory
  .clang-tidy-strict
  .clang-tidy-strict-tests
  .github/workflows/build-redpanda.yml
  CMakeLists.txt
  CMakePresets.json
  install-dependencies.sh
  src/v/CMakeLists.txt
  src/v/io/.clang-tidy
  src/v/io/CMakeLists.txt
  src/v/io/clang-tidy-helper.cc
  src/v/io/tests/.clang-tidy
Labels: area/build, area/redpanda

#15249 build: upgrade abseil and fix serde breakage
  cmake/dependencies.cmake
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/cloud_metadata/cluster_recovery_backend.cc
  src/v/cluster/cloud_metadata/tests/uploader_test.cc
  src/v/cluster/controller_snapshot.cc
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/utils/tests/uuid_test.cc
Labels: area/build, area/redpanda

#14270 Check inprogress reasignments create partitions api
  src/v/kafka/server/handlers/create_partitions.cc
  tests/rptest/tests/partition_reassignments_test.py
Labels: area/redpanda

#15148 [v23.2.x] bytes/io_iterator_consumer: add backtrace to std::out_of_range error
  src/v/bytes/details/io_iterator_consumer.h
Labels: area/redpanda, kind/backport

#15276 [v23.1.x] Check inprogress reasignments create partitions api
  src/v/kafka/server/handlers/create_partitions.cc
  tests/rptest/tests/partition_reassignments_test.py
Labels: area/redpanda, kind/backport

#15286 [v23.1.x] raft/state_machine: sleep after apply error
  src/v/raft/state_machine.cc
Labels: area/redpanda

#15257 Fixed describe producers to include all data
  src/v/cluster/producer_state.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/kafka/server/handlers/describe_producers.cc
  src/v/model/fundamental.h
  src/v/model/model.cc
  src/v/model/record.h
  tests/rptest/tests/describe_producers_test.py
Labels: area/redpanda

#15231 storage: track intermediary files and clear them if compaction fails
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/scoped_file_tracker.h
  src/v/storage/segment_deduplication_utils.cc
  src/v/storage/segment_utils.cc
  src/v/storage/tests/CMakeLists.txt
  src/v/storage/tests/scoped_file_tracker_test.cc
  src/v/storage/tests/storage_e2e_test.cc
  src/v/storage/types.h
Labels: area/redpanda

#15236 [v23.2.x] rpk: add 'partitions move' command
  src/go/rpk/pkg/adminapi/api_partition.go
  src/go/rpk/pkg/cli/cluster/partitions/move.go
  src/go/rpk/pkg/cli/cluster/partitions/move_test.go
  src/go/rpk/pkg/cli/cluster/partitions/partitions.go
Labels: area/rpk, kind/backport

#15274 [v23.2.x] Check inprogress reasignments create partitions api
  src/v/kafka/server/handlers/create_partitions.cc
  tests/rptest/tests/partition_reassignments_test.py
Labels: area/redpanda, kind/backport

#14836 net: Expose total sent/recv bytes on public_metrics
  src/v/cluster/partition_probe.cc
  src/v/net/probes.cc
Labels: area/redpanda

#15282 [v23.2.x] Validation and url_decode for SCRAM usernames
  src/v/redpanda/admin_server.cc
  src/v/security/scram_algorithm.cc
  src/v/security/scram_algorithm.h
  tests/rptest/tests/scram_test.py
Labels: area/redpanda, kind/backport

#15186 Use a 1.5 multiplier for latencies in max partitions test
  tests/rptest/redpanda_cloud_tests/omb_validation_test.py
Labels: performance

#15168 Remove local_monitor::_min_free_bytes
  src/v/cluster/node/local_monitor.cc
  src/v/cluster/node/local_monitor.h
  src/v/cluster/tests/local_monitor_test.cc
  src/v/redpanda/application.cc
Labels: area/redpanda

#15292 [v23.2.x] c/partition_balancer: prioritize full-disk constraint over rack repair
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/tests/partition_balancer_simulator_test.cc
Labels: area/redpanda, kind/backport

#15283 [v23.1.x] Validation and url_decode for SCRAM usernames
  src/v/redpanda/admin_server.cc
  src/v/security/scram_algorithm.cc
  src/v/security/scram_algorithm.h
Labels: area/redpanda, kind/backport

#15278 pp/oneshot: release consumed value
  src/v/pandaproxy/util.h
Labels: area/redpanda

#15285 c/cluster_discovery: log an error when join request failed
  src/v/cluster/cluster_discovery.cc
Labels: area/redpanda

#15325 k/client: Move gate in producer::send
  src/v/kafka/client/producer.cc
  src/v/kafka/client/producer.h
Labels: area/redpanda

#15299 cloud_metadata: recover remote topic properties from controller snapshot
  src/v/cluster/cloud_metadata/cluster_recovery_backend.cc
  src/v/cluster/cloud_metadata/tests/cluster_metadata_utils.h
  src/v/cluster/cloud_metadata/tests/cluster_recovery_backend_test.cc
  src/v/cluster/cluster_recovery_reconciler.cc
  src/v/cluster/topics_frontend.cc
Labels: area/redpanda

#15323 Fixes and improvements in `tx_manager_migrator`
  src/v/cluster/migrations/tx_manager_migrator.cc
  src/v/cluster/migrations/tx_manager_migrator.h
  src/v/redpanda/admin/api-doc/recovery.json
  src/v/redpanda/admin/recovery.cc
  src/v/redpanda/application.cc
  tests/rptest/services/admin.py
  tests/rptest/tests/tx_coordinator_migration_test.py
Labels: area/redpanda

#7557 rpk: add `cluster txn` commands
  src/go/rpk/pkg/cli/cluster/cluster.go
  src/go/rpk/pkg/cli/cluster/txn/describe.go
  src/go/rpk/pkg/cli/cluster/txn/describe_producers.go
  src/go/rpk/pkg/cli/cluster/txn/list.go
  src/go/rpk/pkg/cli/cluster/txn/txn.go
  src/go/rpk/pkg/out/out.go
  tests/rptest/clients/rpk.py
  tests/rptest/tests/rpk_transaction_test.py
Labels: area/rpk

#15026 storage: sort reclaimable partitions by size
  src/v/resource_mgmt/storage.cc
  src/v/resource_mgmt/storage.h
Labels: area/redpanda

#15345 [v23.2.x] Simplified mapping transaction id to coordinator partition
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cloud_storage/tests/delete_records_e2e_test.cc
  src/v/cloud_storage/tests/manual_fixture.h
  src/v/cloud_storage/tests/read_replica_test.cc
  src/v/cluster/CMakeLists.txt
  src/v/cluster/controller_api.cc
  src/v/cluster/fwd.h
  src/v/cluster/health_manager.cc
  src/v/cluster/partition.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/id_allocator_stm_test.cc
  src/v/cluster/tests/tm_coordinator_mapper_tests.cc
  src/v/cluster/tests/tm_stm_tests.cc
  src/v/cluster/tests/tm_tx_hash_ranges_tests.cc
  src/v/cluster/tests/tx_hash_ranges_tests.cc
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/cluster/tm_tx_hash_ranges.h
  src/v/cluster/tx_coordinator_mapper.h
  src/v/cluster/tx_gateway.cc
  src/v/cluster/tx_gateway.h
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/tx_gateway_frontend.h
  src/v/cluster/tx_hash_ranges.h
  src/v/cluster/tx_registry_frontend.cc
  src/v/cluster/tx_registry_frontend.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/config/base_property.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/tests/CMakeLists.txt
  src/v/config/tests/scoped_config_test.cc
  src/v/kafka/server/group.cc
  src/v/kafka/server/handlers/find_coordinator.cc
  src/v/kafka/server/request_context.h
  src/v/kafka/server/server.cc
  src/v/kafka/server/server.h
  src/v/model/namespace.h
  src/v/redpanda/admin/api-doc/transaction.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/redpanda/tests/fixture.h
  src/v/storage/tests/storage_e2e_fixture_test.cc
  src/v/test_utils/scoped_config.h
  tests/rptest/services/admin.py
  tests/rptest/tests/transactions_test.py
Labels: area/redpanda

#15364 [v23.2.x] rpk: manually update golangci-lint version
  .github/workflows/lint.yml
  src/go/rpk/pkg/cli/container/common/common.go
Labels: area/rpk, area/build

#15357 r/consensus: update _last_leader_visible_offset on leader as well
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/partition_proxy.h
  src/v/kafka/server/replicated_partition.cc
  src/v/kafka/server/replicated_partition.h
  src/v/raft/consensus.cc
  src/v/transform/rpc/tests/transform_rpc_test.cc
  tests/rptest/services/kafka_cli_consumer.py
  tests/rptest/tests/follower_fetching_test.py
Labels: area/redpanda

#15369 [v23.2.x] r/consensus: update _last_leader_visible_offset on leader as well
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/partition_proxy.h
  src/v/kafka/server/replicated_partition.cc
  src/v/kafka/server/replicated_partition.h
  src/v/raft/consensus.cc
  tests/rptest/services/kafka_cli_consumer.py
  tests/rptest/tests/follower_fetching_test.py
Labels: area/redpanda

#15330 [v23.1.x] Fix for `leader_ack` consistency level (do not advance last visible offset beyond majority replicated)
  src/v/raft/consensus.cc
  src/v/ssx/future-util.h
Labels: area/redpanda

#15114 Add byte-granular memory size to broker properties
  src/v/cluster/cluster_utils.cc
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/cluster/tests/partition_balancer_simulator_test.cc
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/compat/json.h
  src/v/model/metadata.h
  src/v/model/model.cc
  src/v/model/tests/randoms.h
  src/v/raft/tests/type_serialization_tests.cc
  tests/rptest/scale_tests/many_partitions_test.py
  tests/rptest/services/kgo_repeater_service.py
  tests/rptest/services/kgo_verifier_services.py
Labels: area/redpanda

#15348 Miscellaneous improvements to cluster recovery
  src/v/cluster/cloud_metadata/cluster_recovery_backend.cc
  src/v/cluster/cloud_metadata/cluster_recovery_backend.h
  src/v/cluster/cloud_metadata/tests/cluster_metadata_utils.h
  src/v/cluster/cloud_metadata/tests/cluster_recovery_backend_test.cc
  src/v/cluster/cloud_metadata/tests/offsets_recovery_test.cc
  src/v/cluster/cluster_recovery_manager.cc
  src/v/cluster/cluster_recovery_reconciler.cc
Labels: area/redpanda

#15384 Revert "[v23.2.x] redpanda: Make `redpanda_cpu_busy_seconds_total` a counter"
  src/v/redpanda/application.cc
Labels: area/redpanda

#15386 Revert "[v22.3.x] redpanda: Make `redpanda_cpu_busy_seconds_total` a counter"
  src/v/redpanda/application.cc
Labels: area/redpanda

#15387 Revert "[v23.1.x] redpanda: Make `redpanda_cpu_busy_seconds_total` a counter"
  src/v/redpanda/application.cc
Labels: area/redpanda

#15389 [v23.2.x] rptest: Ignore transient log error message
  tests/rptest/scale_tests/cloud_storage_compaction_test.py
Labels: kind/backport

#15381 admin: split out handlers for usage, transactions
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/admin/server.cc
  src/v/redpanda/admin/server.h
  src/v/redpanda/admin/transaction.cc
  src/v/redpanda/admin/usage.cc
Labels: area/redpanda

#15395 admin/transform: fix rpk command hint
  src/v/redpanda/admin/transform.cc
Labels: area/redpanda

#14857 transform-sdk: introduce Rust SDK
  .github/workflows/transform-sdk-build.yml
  src/transform-sdk/rust/.gitignore
  src/transform-sdk/rust/Cargo.lock
  src/transform-sdk/rust/Cargo.toml
  src/transform-sdk/rust/README.md
  src/transform-sdk/rust/core-sys/Cargo.toml
  src/transform-sdk/rust/core-sys/README.md
  src/transform-sdk/rust/core-sys/src/abi.rs
  src/transform-sdk/rust/core-sys/src/lib.rs
  src/transform-sdk/rust/core-sys/src/serde.rs
  src/transform-sdk/rust/core-sys/src/stub_abi.rs
  src/transform-sdk/rust/core-sys/src/varint.rs
  src/transform-sdk/rust/core-types/Cargo.toml
  src/transform-sdk/rust/core-types/README.md
  src/transform-sdk/rust/core-types/src/lib.rs
  src/transform-sdk/rust/examples/identity.rs
  src/transform-sdk/rust/examples/jaq/Cargo.toml
  src/transform-sdk/rust/examples/jaq/README.md
  src/transform-sdk/rust/examples/jaq/src/main.rs
  src/transform-sdk/rust/examples/json2avro/Cargo.toml
  src/transform-sdk/rust/examples/json2avro/src/main.rs
  src/transform-sdk/rust/scripts/publish.py
  src/transform-sdk/rust/src/lib.rs
Labels: area/build, area/wasm

#15350 storage: don't recompact segments with no compactible data
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/index_state.cc
  src/v/storage/index_state.h
  src/v/storage/segment_deduplication_utils.cc
  src/v/storage/segment_index.h
  src/v/storage/tests/compaction_e2e_test.cc
Labels: area/redpanda

#15385 Revert "redpanda: Make `redpanda_cpu_busy_seconds_total` a counter"
  src/v/redpanda/application.cc
Labels: area/redpanda

#15393 c/partition: do not try to translate log end offset if log is empty
  src/v/cluster/partition.cc
Labels: area/redpanda

#15399 config: rename recovery bootstrap property to restore
  src/v/cluster/controller.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  tests/rptest/tests/cluster_recovery_test.py
Labels: area/redpanda

#15404 storage: further improvements to windowed compaction short circuit
  src/v/model/record.h
  src/v/storage/compaction_reducers.cc
  src/v/storage/compaction_reducers.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/index_state.cc
  src/v/storage/index_state.h
  src/v/storage/offset_to_filepos.cc
  src/v/storage/offset_to_filepos.h
  src/v/storage/segment.cc
  src/v/storage/segment.h
  src/v/storage/segment_index.cc
  src/v/storage/segment_index.h
  src/v/storage/segment_utils.h
  src/v/storage/tests/offset_index_utils_tests.cc
  src/v/storage/tests/segment_deduplication_test.cc
  src/v/storage/types.h
Labels: area/redpanda

#15398 cluster: ignore _last_replicate value in destructor
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
Labels: area/redpanda

#15382 rpk: add /proc/kallsyms to debug bundle and extend help texts
  src/go/rpk/pkg/cli/debug/bundle/bundle_k8s_linux.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_linux.go
  src/go/rpk/pkg/cli/redpanda/mode.go
  src/go/rpk/pkg/cli/registry/compatibility_level.go
  src/go/rpk/pkg/tuners/factory/factory.go
Labels: area/rpk

#15405 rpk/transform: Rust SDK support
  src/go/rpk/pkg/cli/transform/build.go
  src/go/rpk/pkg/cli/transform/init.go
  src/go/rpk/pkg/cli/transform/project/project.go
  src/go/rpk/pkg/cli/transform/template/rust/README.md
  src/go/rpk/pkg/cli/transform/template/rust/main.rustsrc
  src/go/rpk/pkg/cli/transform/template/rust_template.go
Labels: area/rpk

#15413 c/partition_balancer: handle members_table update during planning
  src/v/cluster/partition_balancer_backend.cc
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/partition_balancer_types.h
Labels: area/redpanda

#15394 node wise recovery improvements
  src/v/cluster/commands.h
  src/v/cluster/controller_snapshot.cc
  src/v/cluster/controller_snapshot.h
  src/v/cluster/errc.h
  src/v/cluster/members_manager.cc
  src/v/cluster/members_manager.h
  src/v/cluster/members_table.cc
  src/v/cluster/members_table.h
  src/v/cluster/partition_balancer_backend.cc
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/partition_balancer_state.cc
  src/v/cluster/partition_balancer_state.h
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/cluster/topic_updates_dispatcher.cc
  src/v/cluster/topic_updates_dispatcher.h
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/kafka/server/errors.h
  src/v/model/metadata.h
  src/v/model/model.cc
  src/v/redpanda/admin/api-doc/broker.json
  src/v/redpanda/admin/api-doc/partition.json
  src/v/redpanda/admin/server.cc
  tests/rptest/services/admin.py
  tests/rptest/tests/partition_force_reconfiguration_test.py
Labels: area/redpanda

#15414 kafka/client: Stop the broker if `do_authenticate` failed
  src/v/kafka/client/broker.cc
Labels: area/redpanda

#15421 [v23.2.x] tests: fix FollowerFetchingTest.test_with_leadership_transfers
  tests/rptest/services/kafka_cli_consumer.py
  tests/rptest/tests/follower_fetching_test.py
Labels: kind/backport

#15411 audit: Add escape hatch for audit authn
  src/v/redpanda/admin/server.cc
Labels: area/redpanda, area/auditing

#15248 gha: add release workflow for transform-sdks
  .github/workflows/transform-sdk-build.yml
  .github/workflows/transform-sdk-release.yml
Labels: area/build

#15419 [v23.2.x] c/partition_balancer: handle members_table update during planning
  src/v/cluster/partition_balancer_backend.cc
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/partition_balancer_types.h
Labels: area/redpanda, kind/backport

#15432 [v22.3.x] kafka/client: Stop the broker if `do_authenticate` failed
  src/v/kafka/client/broker.cc
Labels: area/redpanda, kind/backport

#15434 [v23.1.x] kafka/client: Stop the broker if `do_authenticate` failed
  src/v/kafka/client/broker.cc
Labels: area/redpanda, kind/backport

#15436 [v23.2.x] kafka/client: Stop the broker if `do_authenticate` failed
  src/v/kafka/client/broker.cc
Labels: area/redpanda, kind/backport

#15439 s/audit: Fix bug with incorrect calculation in audit probe buffer usage ratio
  src/v/security/audit/audit_log_manager.cc
Labels: area/redpanda

#15437 Backport of #12716 avoid returning stale describeACL responses
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/controller.json
  src/v/cluster/security_frontend.cc
  src/v/cluster/security_frontend.h
  src/v/cluster/service.cc
  src/v/cluster/service.h
  src/v/cluster/types.h
  src/v/kafka/server/handlers/describe_acls.cc
  src/v/redpanda/application.cc
  tests/rptest/clients/rpk.py
  tests/rptest/tests/rpk_acl_test.py
Labels: area/redpanda

#15438 kafka/client: Configuration for consume min and max bytes
  src/v/kafka/client/client.cc
  src/v/kafka/client/client_fetch_batch_reader.cc
  src/v/kafka/client/configuration.cc
  src/v/kafka/client/configuration.h
  src/v/kafka/client/consumer.cc
  src/v/kafka/client/fetcher.cc
  src/v/kafka/client/fetcher.h
Labels: area/redpanda, area/schema-registry

#15246 [v23.2.x] remote_partition_fuzz_test: measure shutdown time directly
  src/v/cloud_storage/tests/remote_partition_fuzz_test.cc
Labels: area/redpanda, kind/backport

#15333 [v23.2.x] Made leader_id and term changes atomic
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
Labels: area/redpanda, kind/backport

#15380 [v23.2.x] rpk produce: Adjust timeout and maxBytes options
  src/go/rpk/pkg/cli/topic/produce.go
Labels: area/rpk, kind/backport

#15359 [v23.2.x] storage: sort reclaimable partitions by size
  src/v/resource_mgmt/storage.cc
  src/v/resource_mgmt/storage.h
Labels: area/redpanda, kind/backport

#15590 [v23.1.x] kafka/client: Configuration for consume min and max bytes
  src/v/kafka/client/client.cc
  src/v/kafka/client/client_fetch_batch_reader.cc
  src/v/kafka/client/configuration.cc
  src/v/kafka/client/configuration.h
  src/v/kafka/client/consumer.cc
  src/v/kafka/client/fetcher.cc
  src/v/kafka/client/fetcher.h
Labels: area/redpanda, kind/backport

#15589 [v23.2.x] kafka/client: Configuration for consume min and max bytes
  src/v/kafka/client/client.cc
  src/v/kafka/client/client_fetch_batch_reader.cc
  src/v/kafka/client/configuration.cc
  src/v/kafka/client/configuration.h
  src/v/kafka/client/consumer.cc
  src/v/kafka/client/fetcher.cc
  src/v/kafka/client/fetcher.h
Labels: area/redpanda, kind/backport

#15423 cloud_storage: Fix stuck reader problem
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/tests/remote_partition_test.cc
  src/v/cloud_storage/tests/s3_imposter.cc
  src/v/cloud_storage/tests/s3_imposter.h
  src/v/cloud_storage/tests/util.cc
  src/v/cloud_storage/tests/util.h
Labels: area/redpanda

#15426 r/state_machine: ignore broken semaphore and condition var exceptions
  src/v/raft/state_machine.cc
Labels: area/redpanda

#15442 archival: Disable cross term merging of adjacent segments
  src/v/archival/adjacent_segment_merger.cc
  src/v/archival/tests/segment_reupload_test.cc
  src/v/archival/types.cc
  src/v/archival/types.h
Labels: area/redpanda

#15440 storage/disk_log_impl: defensive reverse iteration of _segs
  src/v/storage/disk_log_impl.cc
  src/v/storage/tests/disk_log_builder_test.cc
Labels: area/redpanda

#15443 Replace deprecated re2::StringPiece::as_string method
  src/v/security/config_rcl.cc
Labels: area/redpanda

#15441 r/persisted_stm: remove persistent state from previous incarnations
  src/v/raft/persisted_stm.cc
Labels: area/redpanda

#15608 compaction: miscellaneous logging improvements
  src/v/cluster/producer_state.cc
  src/v/cluster/rm_stm.cc
  src/v/model/record.cc
  src/v/model/record.h
  src/v/storage/compaction_reducers.cc
Labels: area/redpanda

#15327 Add truncating_logger and formatter specializations for `metadata_*` API types
  src/v/kafka/client/broker.h
  src/v/kafka/client/logger.h
  src/v/kafka/protocol/logger.cc
  src/v/kafka/protocol/metadata.h
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/server/logger.h
  src/v/kafka/server/request_context.h
  src/v/kafka/server/requests.cc
  src/v/utils/truncating_logger.h
Labels: area/redpanda

#15575 wasm: enforce memory limits on number of deployed functions
  src/v/cluster/errc.h
  src/v/cluster/plugin_frontend.cc
  src/v/cluster/plugin_frontend.h
  src/v/cluster/tests/plugin_frontend_validation_test.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/errors.h
  src/v/redpanda/admin/server.cc
  src/v/redpanda/application.cc
  src/v/resource_mgmt/memory_groups.cc
Labels: area/redpanda

#15621 [v23.2.x] Add truncating_logger and formatter specializations for `metadata_*` API types
  src/v/kafka/client/broker.h
  src/v/kafka/client/logger.h
  src/v/kafka/protocol/logger.cc
  src/v/kafka/protocol/metadata.h
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/server/logger.h
  src/v/kafka/server/request_context.h
  src/v/kafka/server/requests.cc
  src/v/utils/truncating_logger.h
Labels: area/redpanda, kind/backport

#15415 storage: fix compaction short circuit check, redux
  src/v/kafka/server/tests/produce_consume_utils.h
  src/v/storage/compaction_reducers.cc
  src/v/storage/disk_log_impl.cc
  src/v/storage/index_state.cc
  src/v/storage/index_state.h
  src/v/storage/segment.cc
  src/v/storage/segment.h
  src/v/storage/segment_index.cc
  src/v/storage/segment_index.h
  src/v/storage/tests/compaction_e2e_test.cc
  src/v/storage/tests/offset_index_utils_tests.cc
  src/v/storage/tests/segment_deduplication_test.cc
Labels: area/redpanda

#15668 r/persisted_stm: do initial cleanup only for kvstore-backed snapshots
  src/v/raft/persisted_stm.cc
  src/v/raft/persisted_stm.h
Labels: area/redpanda

#15155 [v22.3.x] archival: always move reupload start forward
  src/v/archival/segment_reupload.cc
  src/v/archival/tests/segment_reupload_test.cc
Labels: area/redpanda

#15152 [v23.2.x] archival: always move reupload start forward
  src/v/archival/segment_reupload.cc
  src/v/archival/tests/segment_reupload_test.cc
Labels: area/redpanda

#15416 storage: fix comparison against last record in segment
  src/v/cluster/tests/cluster_test_fixture.h
  src/v/storage/compaction_reducers.cc
  src/v/storage/tests/CMakeLists.txt
  src/v/storage/tests/compaction_e2e_multinode_test.cc
  src/v/storage/tests/compaction_e2e_test.cc
  src/v/storage/tests/manual_mixin.h
Labels: area/redpanda

#15154 [v23.1.x] archival: always move reupload start forward
  src/v/archival/segment_reupload.cc
  src/v/archival/tests/segment_reupload_test.cc
Labels: area/redpanda

#15349 cluster_recovery: tweaks consumer offsets recovery to ignore groups
  src/v/cluster/cloud_metadata/tests/offsets_recovery_test.cc
  src/v/kafka/server/group_manager.cc
Labels: area/redpanda

#15390 compaction: do not adjacent compact non self compacted segements
  src/v/cluster/partition.cc
  src/v/cluster/rm_stm.cc
  src/v/cluster/tests/tx_compaction_tests.cc
  src/v/cluster/tests/tx_compaction_utils.h
  src/v/model/record.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/segment.cc
Labels: area/redpanda

#15620 [v23.1.x] Add truncating_logger and formatter specializations for `metadata_*` API types
  src/v/kafka/client/broker.h
  src/v/kafka/client/logger.h
  src/v/kafka/protocol/logger.cc
  src/v/kafka/protocol/metadata.h
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/server/logger.h
  src/v/kafka/server/request_context.h
  src/v/kafka/server/requests.cc
  src/v/utils/truncating_logger.h
Labels: area/redpanda, kind/backport

#15370 New scale test for audit logging
  src/v/security/audit/audit_log_manager.cc
  src/v/security/audit/schemas/application_activity.h
  src/v/security/audit/schemas/iam.h
  src/v/security/audit/schemas/schemas.h
  src/v/security/audit/schemas/utils.cc
  tests/rptest/scale_tests/audit_log_test.py
  tests/rptest/scale_tests/many_partitions_test.py
  tests/rptest/services/kgo_repeater_service.py
  tests/rptest/tests/cpu_profiler_admin_api_test.py
  tests/rptest/tests/services_self_test.py
  tests/rptest/utils/functional.py
  tests/rptest/utils/scale_parameters.py
Labels: area/redpanda

#15675 cluster: fix order of cluster recovery shutdown
  src/v/cluster/cloud_metadata/cluster_recovery_backend.cc
  src/v/cluster/cluster_recovery_table.h
  src/v/cluster/controller.cc
Labels: area/redpanda

#15670 rpk: deprecate topic-name-pattern in cluster restore
  src/go/rpk/pkg/adminapi/api_cloud_storage.go
  src/go/rpk/pkg/adminapi/api_cloud_storage_test.go
  src/go/rpk/pkg/cli/cluster/storage/recovery/start.go
Labels: area/rpk

#15397 admin: split out more routes
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/admin/kafka.cc
  src/v/redpanda/admin/partition.cc
  src/v/redpanda/admin/server.cc
  src/v/redpanda/admin/util.cc
  src/v/redpanda/admin/util.h
Labels: area/redpanda

#15412 rpk: gather k8s bundle logs of redpanda container
  src/go/rpk/pkg/cli/debug/bundle/bundle_k8s_linux.go
Labels: area/rpk

#15680 c/partition: fix acquiring _archiver_reset_mutex
  src/v/cluster/partition.cc
Labels: area/redpanda

#14355 fix topic_manifest.json deserialization for disabled tristate
  src/v/cloud_storage/tests/topic_manifest_test.cc
  src/v/cloud_storage/topic_manifest.cc
  src/v/cluster/types.h
  src/v/tristate.h
  tests/rptest/tests/retention_policy_test.py
Labels: area/redpanda

#15687 Modify github template backport versions
  .github/pull_request_template.md
Labels: area/build

#15351 cloud_storage: Make wait for hydration abortable
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/tests/remote_segment_test.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  tests/rptest/tests/e2e_shadow_indexing_test.py
Labels: area/redpanda

#15673 ducktape: deflake node wise recovery test
  src/v/cluster/partition_balancer_backend.cc
  tests/rptest/tests/partition_force_reconfiguration_test.py
Labels: area/redpanda

#15686 [v23.2.x] c/partition: fix acquiring _archiver_reset_mutex
  src/v/cluster/partition.cc
Labels: area/redpanda, kind/backport

#15698 codeowners: update consistency tests codeowner
  .github/CODEOWNERS
Labels: area/build

#15700 [v23.1.x] codeowners: update consistency tests codeowner
  .github/CODEOWNERS
Labels: area/build, kind/backport

#15699 [v23.2.x] codeowners: update consistency tests codeowner
  .github/CODEOWNERS
Labels: area/build, kind/backport

#15697 cloud_storage: hold gate in hydration
  src/v/cloud_storage/remote_segment.cc
Labels: area/redpanda

#15718 kafka: fix holding of attached_partition
  src/v/kafka/server/group_manager.cc
Labels: area/redpanda

#15710 [v23.3.x] cloud_storage: hold gate in hydration
  src/v/cloud_storage/remote_segment.cc
Labels: area/redpanda, kind/backport

#15271 Fix CI failure in test_concurrent_append_flush
  src/v/storage/segment_appender.cc
  src/v/storage/tests/log_segment_appender_test.cc
Labels: area/redpanda

#15430 [v23.1.x] format exception fixes
  src/v/raft/consensus.cc
  src/v/storage/offset_translator_state.cc
  src/v/storage/segment_appender.cc
Labels: area/redpanda, kind/backport

#15682 [v23.2.x] r/persisted_stm: remove persistent state from previous incarnations
  src/v/cluster/persisted_stm.cc
  src/v/cluster/persisted_stm.h
Labels: area/redpanda, kind/backport

#15736 transform-sdk/go: fix releases
  .github/workflows/transform-sdk-release.yml
  src/v/CMakeLists.txt
Labels: area/build, area/redpanda

#15740 cluster_recovery: direct requests to controller leader
  src/go/rpk/pkg/adminapi/api_cloud_storage.go
  src/v/redpanda/admin/server.cc
Labels: area/rpk, area/redpanda

#15729 [v23.3.x] Fix CI failure in test_concurrent_append_flush
  src/v/storage/segment_appender.cc
  src/v/storage/tests/log_segment_appender_test.cc
Labels: area/redpanda, kind/backport

#15732 [v23.2.x] cloud_storage: Make wait for hydration abortable
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/tests/remote_segment_test.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  tests/rptest/tests/e2e_shadow_indexing_test.py
Labels: area/redpanda

#15605 allow property aliases in redpanda.yaml, fix aliases not being applied
  src/v/cluster/config_manager.cc
  src/v/config/config_store.h
  src/v/config/configuration.cc
  src/v/config/node_config.cc
  src/v/config/tests/config_store_test.cc
Labels: area/redpanda

#15748 cloud_metadata: upload consumer groups in batches
  src/v/cluster/cloud_metadata/key_utils.cc
  src/v/cluster/cloud_metadata/key_utils.h
  src/v/cluster/cloud_metadata/offsets_snapshot.h
  src/v/cluster/cloud_metadata/offsets_uploader.cc
  src/v/cluster/cloud_metadata/tests/offsets_recovery_test.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
Labels: area/redpanda

#15753 [v23.3.x] cluster_recovery: direct requests to controller leader
  src/go/rpk/pkg/adminapi/api_cloud_storage.go
  src/v/redpanda/admin/server.cc
Labels: area/rpk, area/redpanda, kind/backport

#15734 [v23.3.x] cluster/config_manager: use property's main name in store_delta
  src/v/cluster/config_manager.cc
Labels: area/redpanda, kind/backport

#15760 [v23.3.x] allow property aliases in redpanda.yaml, fix aliases not being applied
  src/v/cluster/config_manager.cc
  src/v/config/config_store.h
  src/v/config/configuration.cc
  src/v/config/node_config.cc
  src/v/config/tests/config_store_test.cc
Labels: area/redpanda, kind/backport

#15763 [v23.3.x] cloud_metadata: upload consumer groups in batches
  src/v/cluster/cloud_metadata/key_utils.cc
  src/v/cluster/cloud_metadata/key_utils.h
  src/v/cluster/cloud_metadata/offsets_snapshot.h
  src/v/cluster/cloud_metadata/offsets_uploader.cc
  src/v/cluster/cloud_metadata/tests/offsets_recovery_test.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
Labels: area/redpanda, kind/backport

#15731 c/log_eviction_stm: do not take the snapshot if start offset progressed
  src/v/cluster/log_eviction_stm.cc
Labels: area/redpanda

#15726 transform-sdk/rust: fix publishing
  src/transform-sdk/rust/scripts/publish.py
Labels: area/wasm

#15738 c/members_member: don't ignore update_broker_client future
  src/v/cluster/controller_backend.cc
  src/v/cluster/members_manager.cc
  src/v/raft/consensus.cc
Labels: area/redpanda

#15770 [v23.3.x] transform-sdk/rust: fix publishing
  src/transform-sdk/rust/scripts/publish.py
Labels: area/wasm, kind/backport

#15743 cloud_storage_clients: use appropriate beast error for end of stream
  src/v/cloud_storage_clients/util.cc
  src/v/http/client.cc
Labels: area/redpanda

#15751 k/h/metadata: use fragmented vec for topic metadata
  src/v/kafka/client/topic_cache.cc
  src/v/kafka/client/topic_cache.h
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/server/handlers/metadata.cc
  src/v/kafka/server/tests/delete_topics_test.cc
Labels: area/redpanda

#15774 [v23.3.x] k/h/metadata: use fragmented vec for topic metadata
  src/v/kafka/client/topic_cache.cc
  src/v/kafka/client/topic_cache.h
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/server/handlers/metadata.cc
  src/v/kafka/server/tests/delete_topics_test.cc
Labels: area/redpanda, kind/backport

#15767 [v23.3.x] transform-sdk/go: fix releases
  .github/workflows/transform-sdk-release.yml
  src/v/CMakeLists.txt
Labels: area/build, area/redpanda, kind/backport

#15776 [v23.2.x] k/h/metadata: use fragmented vec for topic metadata
  src/v/kafka/client/topic_cache.cc
  src/v/kafka/client/topic_cache.h
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/server/handlers/metadata.cc
  src/v/kafka/server/tests/delete_topics_test.cc
Labels: area/redpanda, kind/backport

#15778 Fix 128K iobuf zero-copy
  src/v/bytes/iobuf.h
  src/v/bytes/tests/iobuf_tests.cc
Labels: area/redpanda

#15677 c/archival_stm: do not reset _last_replicate on timeout
  src/v/archival/tests/archival_metadata_stm_gtest.cc
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
Labels: area/redpanda

#15681 cloud_storage_clients: stricter but simpler invariants for the pool
  src/v/cloud_storage_clients/client_pool.cc
  src/v/cloud_storage_clients/client_pool.h
  src/v/cloud_storage_clients/tests/CMakeLists.txt
  src/v/cloud_storage_clients/tests/client_pool_mt_test.cc
  src/v/cloud_storage_clients/tests/client_pool_test.cc
  src/v/cloud_storage_clients/tests/s3_client_test.cc
Labels: area/redpanda

#15761 Overrides for space_management_enable and retention_local_strict
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/application.cc
  src/v/resource_mgmt/storage.cc
  src/v/resource_mgmt/storage.h
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda, doc-needed

#15771 [v23.3.x] c/members_member: don't ignore update_broker_client future
  src/v/cluster/controller_backend.cc
  src/v/cluster/members_manager.cc
  src/v/raft/consensus.cc
Labels: area/redpanda, kind/backport

#15758 [v23.3.x] rptest: clean up cluster metadata in CDT
  tests/rptest/archival/s3_client.py
Labels: kind/backport

#15780 [v23.2.x] Fix 128K iobuf zero-copy
  src/v/bytes/iobuf.h
  src/v/bytes/tests/iobuf_tests.cc
Labels: area/redpanda, kind/backport

#15784 [v23.3.x] cloud_storage_clients: stricter but simpler invariants for the pool
  src/v/cloud_storage_clients/client_pool.cc
  src/v/cloud_storage_clients/client_pool.h
  src/v/cloud_storage_clients/tests/CMakeLists.txt
  src/v/cloud_storage_clients/tests/client_pool_mt_test.cc
  src/v/cloud_storage_clients/tests/client_pool_test.cc
  src/v/cloud_storage_clients/tests/s3_client_test.cc
Labels: area/redpanda, kind/backport

#15789 [v23.3.x] Overrides for space_management_enable and retention_local_strict
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/application.cc
  src/v/resource_mgmt/storage.cc
  src/v/resource_mgmt/storage.h
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda, kind/backport

#15781 [v23.3.x] Fix 128K iobuf zero-copy
  src/v/bytes/iobuf.h
  src/v/bytes/tests/iobuf_tests.cc
Labels: area/redpanda, kind/backport

#15787 [v23.2.x] Overrides for space_management_enable and retention_local_strict
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/application.cc
  src/v/resource_mgmt/storage.cc
  src/v/resource_mgmt/storage.h
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda, kind/backport

#15672 tests: repro for zombie txs after compaction
  src/v/cluster/cloud_metadata/tests/cluster_recovery_backend_test.cc
  src/v/cluster/cloud_metadata/tests/producer_id_recovery_test.cc
  src/v/cluster/tests/tx_compaction_tests.cc
  src/v/cluster/tests/tx_compaction_utils.h
  src/v/storage/tests/CMakeLists.txt
  src/v/storage/tests/compaction_e2e_multinode_test.cc
  src/v/test_utils/test_macros.h
Labels: area/redpanda

#15407 c/topic_table: do not log duplicated lifecycle marker command
  src/v/cluster/topic_table.cc
Labels: area/redpanda

#15796 c/rm_stm: cleanup tx_locks
  src/v/cluster/rm_stm.cc
Labels: area/redpanda

#15797 c/rm_stm: cleanup tx_locks
  src/v/cluster/rm_stm.cc
Labels: area/redpanda

#15772 [v23.2.x] c/members_member: don't ignore update_broker_client future
  src/v/cluster/controller_backend.cc
  src/v/cluster/members_manager.cc
  src/v/raft/consensus.cc
Labels: area/redpanda, kind/backport

#15597 [v23.2.x] r/state_machine: ignore broken semaphore and condition var exceptions
  src/v/raft/state_machine.cc
Labels: area/redpanda, kind/backport

#15782 [v23.3.x] c/archival_stm: do not reset _last_replicate on timeout
  src/v/archival/tests/archival_metadata_stm_gtest.cc
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
Labels: area/redpanda, kind/backport

#15599 [v23.2.x] tests/e2e_shadow_indexing_test: wait until segments has one entry
  tests/rptest/tests/e2e_shadow_indexing_test.py
Labels: kind/backport

#15602 [v23.2.x] storage/disk_log_impl: defensive reverse iteration of _segs
  src/v/storage/disk_log_impl.cc
  src/v/storage/tests/disk_log_builder_test.cc
Labels: area/redpanda, kind/backport

#15684 [v23.2.x] rpk: gather k8s bundle logs of redpanda container
  src/go/rpk/pkg/cli/debug/bundle/bundle_k8s_linux.go
Labels: area/rpk, kind/backport

#15800 [v23.2.x] c/topic_table: do not log duplicated lifecycle marker command
  src/v/cluster/topic_table.cc
Labels: area/redpanda, kind/backport

#15600 [v23.2.x] archival: Disable cross term merging of adjacent segments
  src/v/archival/adjacent_segment_merger.cc
  src/v/archival/tests/segment_reupload_test.cc
  src/v/archival/types.cc
  src/v/archival/types.h
Labels: area/redpanda, kind/backport

#13496 Ext4 detection
  src/v/syschecks/syschecks.cc
Labels: area/redpanda

#15689 [v23.2.x] fix topic_manifest.json deserialization for disabled tristate
  src/v/cloud_storage/tests/topic_manifest_test.cc
  src/v/cloud_storage/topic_manifest.cc
  src/v/cluster/types.h
  src/v/tristate.h
  tests/rptest/tests/retention_policy_test.py
Labels: area/redpanda, kind/backport

#15803 [v23.3.x] rptest: fix an always true assertion
  tests/rptest/tests/controller_availability_test.py
Labels: kind/backport

#15815 cluster/config_manager: ensure cleanup of old aliases
  src/v/cluster/config_manager.cc
  tests/rptest/tests/cluster_config_test.py
Labels: area/redpanda
