Repository redpanda-data/redpanda, pull requests merged in 2023-04, with the labels that each got.

#9758 [v23.1.x] cloud_storage: move eviction under remote_partition
  src/v/cloud_storage/materialized_segments.cc
  src/v/cloud_storage/materialized_segments.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cloud_storage/segment_state.cc
Labels: area/redpanda, kind/backport

#9717 Validation of mounted data dir
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/cmd/configurator/main.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/go.mod
  src/go/k8s/go.sum
  src/go/k8s/pkg/resources/statefulset.go
Labels: area/k8s

#9786 utils: preserve fanout invariant in case of one slow reader among other fast readers
  src/v/utils/stream_utils.h
  src/v/utils/tests/input_stream_fanout_test.cc
Labels: area/redpanda

#9237 storage: expose cloud storage status for partitions on the admin API
  src/v/archival/archival_policy.cc
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/tests/partition_manifest_test.cc
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/redpanda/admin/api-doc/shadow_indexing.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/log.h
  tests/rptest/services/admin.py
  tests/rptest/tests/cloud_storage_timing_stress_test.py
  tests/rptest/tests/cloud_storage_usage_test.py
  tests/rptest/tests/e2e_shadow_indexing_test.py
  tests/rptest/tests/shadow_indexing_compacted_topic_test.py
  tests/rptest/utils/si_utils.py
Labels: area/redpanda, area/cloud-storage

#9612 [v22.3.x] storage: do not compact below log start offset
  src/v/raft/consensus.cc
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/log_manager.cc
  src/v/storage/tests/log_retention_tests.cc
  src/v/storage/tests/log_truncate_test.cc
  src/v/storage/tests/storage_e2e_test.cc
  src/v/storage/tests/utils/disk_log_builder.cc
  src/v/storage/tests/utils/disk_log_builder.h
Labels: area/redpanda

#9770 [v23.1.x] cloud_storage: fix HWM on read replicas
  src/v/archival/ntp_archiver_service.cc
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cloud_storage/tests/partition_manifest_test.cc
  src/v/cloud_storage/types.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/kafka/server/replicated_partition.h
  src/v/storage/offset_translator_state.cc
  src/v/storage/offset_translator_state.h
  tests/rptest/tests/read_replica_e2e_test.py
Labels: area/redpanda

#9727 [v22.3.x] cloud_storage: fix HWM on read replicas
  src/v/archival/ntp_archiver_service.cc
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cloud_storage/tests/partition_manifest_test.cc
  src/v/cloud_storage/types.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/kafka/server/replicated_partition.h
  src/v/storage/offset_translator_state.cc
  src/v/storage/offset_translator_state.h
  tests/rptest/tests/read_replica_e2e_test.py
Labels: area/redpanda

#9750 k8s: Improve ghost nodes removal
  src/go/k8s/controllers/redpanda/cluster_controller.go
Labels: area/k8s, k8s/tests

#9798 k8s: Add context to the operations done during decommissioning
  src/go/k8s/controllers/redpanda/cluster_controller.go
Labels: area/k8s

#9795 rpk: fix command name in cluster storage recovery
  src/go/rpk/pkg/cli/cmd/cluster/storage/recovery/status.go
Labels: area/rpk

#9601 controller snapshots: bootstrap + members + features +config
  src/v/cluster/CMakeLists.txt
  src/v/cluster/bootstrap_backend.cc
  src/v/cluster/bootstrap_backend.h
  src/v/cluster/config_manager.cc
  src/v/cluster/config_manager.h
  src/v/cluster/controller.cc
  src/v/cluster/controller_snapshot.cc
  src/v/cluster/controller_snapshot.h
  src/v/cluster/controller_stm.cc
  src/v/cluster/controller_stm.h
  src/v/cluster/feature_backend.cc
  src/v/cluster/feature_backend.h
  src/v/cluster/fwd.h
  src/v/cluster/members_backend.cc
  src/v/cluster/members_manager.cc
  src/v/cluster/members_manager.h
  src/v/cluster/members_table.cc
  src/v/cluster/members_table.h
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/metrics_reporter.h
  src/v/cluster/security_manager.cc
  src/v/cluster/security_manager.h
  src/v/cluster/topic_updates_dispatcher.cc
  src/v/cluster/topic_updates_dispatcher.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/features/feature_table_snapshot.cc
  src/v/features/tests/feature_table_test.cc
  src/v/serde/serde.h
  tests/rptest/services/redpanda.py
  tests/rptest/tests/controller_snapshot_test.py
Labels: area/redpanda

#9773 Remove deadcode and improve logging in rm_stm
  src/v/cluster/rm_stm.cc
Labels: area/redpanda

#9801 [v23.1.x] rpk: fix command name in cluster storage recovery
  src/go/rpk/pkg/cli/cmd/cluster/storage/recovery/status.go
Labels: area/rpk, kind/backport

#9803 [v22.3.x] k8s: operator as of dev:f7869db
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_types_test.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook_test.go
  src/go/k8s/apis/redpanda/v1alpha1/webhook_suite_test.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/cmd/configurator/main.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/controllers/redpanda/suite_test.go
  src/go/k8s/go.mod
  src/go/k8s/go.sum
  src/go/k8s/main.go
  src/go/k8s/pkg/resources/certmanager/certificate.go
  src/go/k8s/pkg/resources/certmanager/issuer.go
  src/go/k8s/pkg/resources/certmanager/pki.go
  src/go/k8s/pkg/resources/certmanager/pki_test.go
  src/go/k8s/pkg/resources/certmanager/type_helpers.go
  src/go/k8s/pkg/resources/certmanager/type_helpers_test.go
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/pkg/resources/statefulset.go
Labels: area/k8s, k8s/tests

#9747 consensus: Add some missing metrics to the probe
  src/v/raft/probe.cc
Labels: area/redpanda

#9573 Fixes #9571: violation of atomic consume transform produce loop
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/tm_stm_tests.cc
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/cluster/tm_stm_cache.cc
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/tx_gateway_frontend.h
  src/v/redpanda/admin_server.cc
  tests/rptest/tests/tx_admin_api_test.py
Labels: area/redpanda

#9797 admin: include internal RPC endpoint in /v1/brokers
  src/v/redpanda/admin/api-doc/broker.json
  src/v/redpanda/admin_server.cc
Labels: kind/enhance, area/redpanda, area/admin-api

#9420 cloud_storage/segment_meta_cstore: support for insert in the middle via a write_buffer
  src/v/cloud_storage/segment_meta_cstore.cc
  src/v/cloud_storage/segment_meta_cstore.h
  src/v/cloud_storage/tests/segment_meta_cstore_test.cc
Labels: area/redpanda, area/cloud-storage

#9648 Improved logging in `persisted_stm`
  src/v/cluster/persisted_stm.cc
  src/v/cluster/persisted_stm.h
Labels: area/redpanda

#9789 log errors when reallocating partitions
  src/v/cluster/members_backend.cc
  src/v/cluster/partition_balancer_planner.cc
Labels: area/redpanda

#9776 feat: create update user function in admin api obj
  src/go/rpk/pkg/api/admin/api_user.go
Labels: area/rpk, k8s/tests

#9814 k8s: Fix first pod annotation
  src/go/k8s/controllers/redpanda/cluster_controller.go
Labels: area/k8s, k8s/tests

#9817 [v23.1.x] k8s: Fix first pod annotation
  src/go/k8s/controllers/redpanda/cluster_controller.go
Labels: area/k8s, kind/backport

#9691 schema_registry: Allow a schema id and version to be supplied
  src/v/pandaproxy/error.cc
  src/v/pandaproxy/error.h
  src/v/pandaproxy/schema_registry/error.cc
  src/v/pandaproxy/schema_registry/error.h
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/requests/post_subject_versions.h
  src/v/pandaproxy/schema_registry/requests/test/post_subject_versions.cc
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/seq_writer.h
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/test/CMakeLists.txt
  src/v/pandaproxy/schema_registry/test/client_utils.h
  src/v/pandaproxy/schema_registry/test/post_subjects_subject_version.cc
Labels: area/redpanda, area/schema-registry

#9469 [v22.3.x] tests/storage: Relaxed deleted segments count
  tests/rptest/tests/retention_policy_test.py
Labels: kind/backport

#9757 [v23.1.x] archival: don't instantiate merger on read replicas
  src/v/archival/adjacent_segment_merger.cc
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/cluster/partition.cc
Labels: area/redpanda, kind/backport

#9657 cloud_storage: Prevent segment reuploads from adjacent segment merger
  src/v/archival/adjacent_segment_merger.cc
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/segment_reupload.cc
  src/v/archival/segment_reupload.h
  src/v/cluster/archival_metadata_stm.cc
Labels: area/redpanda

#9392 cloud_storage: Avoid `NoSuchKey` errors during tx-manifest downloads
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/segment_meta_cstore.cc
  src/v/cloud_storage/tests/partition_manifest_test.cc
  src/v/cloud_storage/tests/segment_meta_cstore_test.cc
  src/v/cloud_storage/types.cc
  src/v/cloud_storage/types.h
  tests/rptest/tests/archival_test.py
  tests/rptest/utils/si_utils.py
Labels: area/redpanda

#9845 [v23.1.x] cloud_storage: Prevent segment reuploads from adjacent segment merger
  src/v/archival/adjacent_segment_merger.cc
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/segment_reupload.cc
  src/v/archival/segment_reupload.h
  src/v/cluster/archival_metadata_stm.cc
Labels: area/redpanda

#9842 admin: drop no-op user requests before writing to controller log
  src/v/redpanda/admin_server.cc
Labels: area/redpanda, kind/tech-debt, area/admin-api

#9851 Fix 9850: return committed_leader_epoch on offset_fetch
  src/v/kafka/server/group.cc
Labels: area/redpanda

#9844 [v23.1.x] read_replica_e2e_test: remove bad assertion
  tests/rptest/tests/read_replica_e2e_test.py
Labels: kind/backport

#7997 Topic-aware leadership balancing
  src/v/cluster/CMakeLists.txt
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/cluster/scheduling/leader_balancer.h
  src/v/cluster/scheduling/leader_balancer_constraints.cc
  src/v/cluster/scheduling/leader_balancer_constraints.h
  src/v/cluster/scheduling/leader_balancer_greedy.h
  src/v/cluster/scheduling/leader_balancer_random.h
  src/v/cluster/scheduling/leader_balancer_strategy.h
  src/v/cluster/scheduling/leader_balancer_types.h
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/leader_balancer_bench.cc
  src/v/cluster/tests/leader_balancer_constraints_test.cc
  src/v/cluster/tests/leader_balancer_constraints_utils.h
  src/v/cluster/tests/leader_balancer_test_utils.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/convert.h
  src/v/config/property.h
  src/v/config/rjson_serialization.cc
  src/v/config/rjson_serialization.h
  src/v/model/metadata.h
  src/v/model/model.cc
  src/v/random/generators.h
  tests/rptest/tests/leadership_transfer_test.py
Labels: area/redpanda

#9852 Fix calculating bootstrap deltas
  src/v/cluster/controller_backend.cc
Labels: area/redpanda

#9865 cloud_storage: Read path hardening
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/tests/remote_partition_test.cc
  src/v/cloud_storage/tests/util.h
  src/v/storage/offset_translator_state.cc
  src/v/storage/offset_translator_state.h
Labels: area/redpanda

#9871 [v23.1.x] cloud_storage: Read path hardening
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_segment.h
  src/v/storage/offset_translator_state.cc
  src/v/storage/offset_translator_state.h
Labels: area/redpanda

#9847 operator: do not fail if certificate secret is not yet created
  src/go/k8s/pkg/resources/certmanager/type_helpers.go
Labels: area/k8s

#9870 c/members_backend: check domain while decr removed replicas
  src/v/cluster/members_backend.cc
Labels: area/redpanda

#9808 [v22.3.x] consensus: Add some missing metrics to the probe
  src/v/raft/probe.cc
Labels: area/redpanda, kind/backport

#9826 [v23.1.x] schema_registry: Allow a schema id and version to be supplied
  src/v/pandaproxy/error.cc
  src/v/pandaproxy/error.h
  src/v/pandaproxy/schema_registry/error.cc
  src/v/pandaproxy/schema_registry/error.h
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/requests/post_subject_versions.h
  src/v/pandaproxy/schema_registry/requests/test/post_subject_versions.cc
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/seq_writer.h
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/test/CMakeLists.txt
  src/v/pandaproxy/schema_registry/test/client_utils.h
  src/v/pandaproxy/schema_registry/test/post_subjects_subject_version.cc
Labels: area/redpanda, kind/backport

#9828 [v22.3.x] schema_registry: Allow a schema id and version to be supplied
  src/v/pandaproxy/error.cc
  src/v/pandaproxy/error.h
  src/v/pandaproxy/schema_registry/error.cc
  src/v/pandaproxy/schema_registry/error.h
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/requests/post_subject_versions.h
  src/v/pandaproxy/schema_registry/requests/test/post_subject_versions.cc
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/seq_writer.h
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/test/CMakeLists.txt
  src/v/pandaproxy/schema_registry/test/client_utils.h
  src/v/pandaproxy/schema_registry/test/post_subjects_subject_version.cc
Labels: area/redpanda

#9829 [v22.2.x] schema_registry: Allow a schema id and version to be supplied
  src/v/pandaproxy/error.cc
  src/v/pandaproxy/error.h
  src/v/pandaproxy/schema_registry/error.cc
  src/v/pandaproxy/schema_registry/error.h
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/requests/post_subject_versions.h
  src/v/pandaproxy/schema_registry/requests/test/post_subject_versions.cc
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/seq_writer.h
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/test/CMakeLists.txt
  src/v/pandaproxy/schema_registry/test/client_utils.h
  src/v/pandaproxy/schema_registry/test/post_subjects_subject_version.cc
Labels: area/redpanda

#9827 r/configuration_manager: add highest_known_offset checkpoint mutex
  src/v/raft/configuration_manager.cc
  src/v/raft/configuration_manager.h
  src/v/raft/consensus.cc
  src/v/raft/offset_translator.cc
  src/v/raft/tests/configuration_manager_test.cc
Labels: area/redpanda

#9804 Controller snapshots: topics
  src/v/cluster/cluster_utils.h
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
  src/v/cluster/controller_snapshot.cc
  src/v/cluster/controller_snapshot.h
  src/v/cluster/partition_balancer_state.cc
  src/v/cluster/partition_balancer_state.h
  src/v/cluster/partition_leaders_table.cc
  src/v/cluster/partition_leaders_table.h
  src/v/cluster/scheduling/allocation_state.cc
  src/v/cluster/scheduling/allocation_state.h
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/cluster/scheduling/partition_allocator.h
  src/v/cluster/scheduling/types.cc
  src/v/cluster/scheduling/types.h
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/cluster/topic_updates_dispatcher.cc
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/coproc/reconciliation_backend.cc
  tests/rptest/tests/controller_snapshot_test.py
  tests/rptest/tests/partition_movement_test.py
  tests/rptest/tests/random_node_operations_test.py
Labels: area/redpanda

#8596 Enable large allocation warnings in DT tests
  src/v/config/node_config.cc
  src/v/config/node_config.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  tests/rptest/services/redpanda.py
  tests/rptest/services/templates/redpanda.yaml
Labels: area/redpanda

#9833 Operator: feat - add new tests to verify reconcile loop does not grow uncontrollably
  src/go/k8s/tests/e2e/regressions/00-assert.yaml
  src/go/k8s/tests/e2e/regressions/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/regressions/01-assert.yaml
  src/go/k8s/tests/e2e/regressions/01-call-controller-status.yaml
Labels: area/k8s, k8s/tests

#9681 [v22.3.x] Added missing set for _in_sync offset in stms
  src/v/cluster/id_allocator_stm.cc
  src/v/cluster/rm_stm.cc
  src/v/cluster/tm_stm.cc
Labels: area/redpanda, kind/backport

#9860 [v23.1.x] Fix 9850: return committed_leader_epoch on offset_fetch
  src/v/kafka/server/group.cc
Labels: area/redpanda, kind/backport

#9830 k/client: check for quota in `kafka::client::create_topic`
  src/v/kafka/client/client.cc
  src/v/kafka/client/test/fixture.h
  src/v/kafka/client/test/retry.cc
  src/v/kafka/client/transport.h
  src/v/redpanda/tests/fixture.h
Labels: area/kafka, area/redpanda, area/pandaproxy, area/schema-registry

#9188 [v22.3.x] Backport #8703 (tests: make test_retention_with_node_failures more robust )
  tests/docker/ducktape-deps.sh
  tests/rptest/services/kgo_verifier_services.py
  tests/rptest/tests/cloud_retention_test.py
  tests/rptest/tests/e2e_shadow_indexing_test.py
  tests/rptest/utils/si_utils.py
Labels: area/tests, kind/backport

#8788 [v22.3.x] Backport #8527 (cloud storage test fix)
  src/v/cloud_storage/tests/remote_partition_test.cc
Labels: area/redpanda

#9903 http: Close output stream in exceptional cases
  src/v/http/client.cc
Labels: area/redpanda

#9771 [v23.1.x] Cluster-wide rate limits: avoid log pollution by quota balancer
  src/v/kafka/server/snc_quota_manager.cc
Labels: area/redpanda, kind/backport

#9811 [v23.1.x] admin: include internal RPC endpoint in /v1/brokers
  src/v/redpanda/admin/api-doc/broker.json
  src/v/redpanda/admin_server.cc
Labels: area/redpanda, kind/backport

#9858 [v23.1.x] tests: do not use a seed server in folder deletion test
  tests/rptest/tests/node_folder_deletion_test.py
Labels: kind/backport

#9805 [v23.1.x] config: validate that strings are non-empty
  src/v/config/configuration.cc
  src/v/config/tests/validator_tests.cc
  src/v/config/validators.cc
  src/v/config/validators.h
Labels: area/redpanda, kind/backport

#9862 [v22.3.x] Fix 9850: return committed_leader_epoch on offset_fetch
  src/v/kafka/server/group.cc
Labels: area/redpanda, kind/backport

#9721 [v23.1.x] compression: fix bad_allocs in lz4 compression, gzip compression+decompression
  src/v/compression/internal/gzip_compressor.cc
  src/v/compression/internal/lz4_frame_compressor.cc
  src/v/compression/tests/zstd_stream_bench.cc
  src/v/compression/tests/zstd_tests.cc
Labels: area/redpanda, kind/backport

#9683 [v22.2.x] Added missing set for _in_sync offset in stms
  src/v/cluster/id_allocator_stm.cc
  src/v/cluster/rm_stm.cc
  src/v/cluster/tm_stm.cc
Labels: area/redpanda, kind/backport

#9925 [v22.2.x] http: Close output stream in exceptional cases
  src/v/http/client.cc
Labels: area/redpanda, kind/backport

#9924 [v22.3.x] http: Close output stream in exceptional cases
  src/v/http/client.cc
Labels: area/redpanda, kind/backport

#9904 storage: shrink index vectors on flush
  src/v/storage/index_state.h
  src/v/storage/segment_index.cc
Labels: area/redpanda

#9453 Remove cloud-specific topics from topic protection defaults
  src/v/config/configuration.cc
Labels: area/redpanda

#9934 [v22.3.x] NodesDecommissioningTest.test_decommissioning_rebalancing_node cleanup after rouge RP instances (manual backport)
  tests/rptest/tests/nodes_decommissioning_test.py
Labels: kind/backport

#9938 [v23.1.x] Remove cloud-specific topics from topic protection defaults
  src/v/config/configuration.cc
Labels: area/redpanda, kind/backport

#9940 [v23.1.x] Expand serde coverage
  .clang-format
  tests/docker/Dockerfile
  tests/docker/ducktape-deps.sh
  tests/go/go-kafka-serde/Makefile
  tests/go/go-kafka-serde/README.md
  tests/go/go-kafka-serde/avro-serializer.go
  tests/go/go-kafka-serde/client.go
  tests/go/go-kafka-serde/go.mod
  tests/go/go-kafka-serde/go.sum
  tests/go/go-kafka-serde/payload.proto
  tests/go/go-kafka-serde/protobuf-serializer.go
  tests/java/kafka-serde/README.md
  tests/java/kafka-serde/pom.xml
  tests/java/kafka-serde/src/main/java/com/redpanda/AvroMessaging.java
  tests/java/kafka-serde/src/main/java/com/redpanda/JavaKafkaSerdeClient.java
  tests/java/kafka-serde/src/main/java/com/redpanda/JavaKafkaSerdeClientMain.java
  tests/java/kafka-serde/src/main/java/com/redpanda/KafkaMessagingInterface.java
  tests/java/kafka-serde/src/main/java/com/redpanda/ProtobufMessaging.java
  tests/java/kafka-serde/src/main/java/com/redpanda/SecuritySettings.java
  tests/java/kafka-serde/src/main/resources/log4j.properties
  tests/rptest/clients/serde_client_utils.py
  tests/rptest/remote_scripts/python_librdkafka_serde_client.py
  tests/rptest/services/serde_client.py
  tests/rptest/tests/schema_registry_test.py
Labels: kind/backport

#9901 [v23.1.x] Topic-aware leadership balancing
  src/v/cluster/CMakeLists.txt
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/cluster/scheduling/leader_balancer.h
  src/v/cluster/scheduling/leader_balancer_constraints.cc
  src/v/cluster/scheduling/leader_balancer_constraints.h
  src/v/cluster/scheduling/leader_balancer_greedy.h
  src/v/cluster/scheduling/leader_balancer_random.h
  src/v/cluster/scheduling/leader_balancer_strategy.h
  src/v/cluster/scheduling/leader_balancer_types.h
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/leader_balancer_bench.cc
  src/v/cluster/tests/leader_balancer_constraints_test.cc
  src/v/cluster/tests/leader_balancer_constraints_utils.h
  src/v/cluster/tests/leader_balancer_test_utils.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/convert.h
  src/v/config/property.h
  src/v/config/rjson_serialization.cc
  src/v/config/rjson_serialization.h
  src/v/model/metadata.h
  src/v/model/model.cc
  src/v/random/generators.h
  tests/rptest/tests/leadership_transfer_test.py
Labels: area/redpanda, kind/backport

#9936 admin: Exclude ephemeral users from list_users
  src/v/redpanda/admin/api-doc/security.json
  src/v/redpanda/admin_server.cc
  src/v/security/scram_credential.h
  tests/rptest/services/admin.py
  tests/rptest/tests/admin_api_auth_test.py
Labels: kind/enhance, area/redpanda, area/admin-api

#9898 [v23.1.x] operator: do not fail if certificate secret is not yet created
  src/go/k8s/pkg/resources/certmanager/type_helpers.go
Labels: area/k8s, kind/backport

#9713 Remove defunct properties
  conf/redpanda.yaml
  src/go/rpk/pkg/cli/cmd/redpanda/config.go
  src/go/rpk/pkg/cli/cmd/redpanda/config_test.go
  src/go/rpk/pkg/config/schema.go
  src/go/rpk/pkg/config/weak.go
  src/go/rpk/pkg/config/weak_test.go
  tests/rptest/services/templates/redpanda.yaml
  tests/rptest/tests/rpk_config_test.py
Labels: area/rpk

#9957 [v22.3.x] admin: Exclude ephemeral users from list_users
  src/v/redpanda/admin/api-doc/security.json
  src/v/redpanda/admin_server.cc
  src/v/security/scram_credential.h
  tests/rptest/services/admin.py
  tests/rptest/tests/admin_api_auth_test.py
Labels: area/redpanda, kind/backport

#9952 [v23.1.x] admin: Exclude ephemeral users from list_users
  src/v/redpanda/admin/api-doc/security.json
  src/v/redpanda/admin_server.cc
  src/v/security/scram_credential.h
  tests/rptest/services/admin.py
  tests/rptest/tests/admin_api_auth_test.py
Labels: area/redpanda, kind/backport

#9855 [v23.1.x] admin: drop no-op user requests before writing to controller log
  src/v/redpanda/admin_server.cc
Labels: area/redpanda, kind/backport

#9958 storage: quieten "errc::end_of_stream" log messages
  src/v/storage/log_reader.cc
  src/v/storage/parser.cc
Labels: area/storage, area/redpanda, kind/tech-debt

#9965 [v23.1.x] kafka: Usage manager bugfixes
  src/v/cluster/health_monitor_backend.cc
  src/v/kafka/server/usage_manager.cc
  tests/rptest/tests/usage_test.py
Labels: area/redpanda, kind/backport

#9840 tests: use low manifest upload interval in UpgradeFromPriorFeatureVersionCloudStorageTest
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  tests/rptest/tests/upgrade_test.py
Labels: area/redpanda

#9977 test: replace rpk tune list output if its running in GCP
  tests/rptest/tests/rpk_tuner_test.py
Labels: ci-failure

#9935 Reduce the default for `max_kafka_throttle_delay_ms`
  src/v/config/configuration.cc
  src/v/kafka/server/tests/produce_consume_test.cc
Labels: area/redpanda

#9610 tests: use a new tool for validating object storage state at end of tests
  src/v/cloud_storage/partition_manifest.cc
  src/v/cluster/partition.cc
  src/v/cluster/types.h
  src/v/redpanda/admin/api-doc/shadow_indexing.json
  src/v/redpanda/admin_server.cc
  tests/docker/Dockerfile
  tests/docker/ducktape-deps.sh
  tests/rptest/archival/abs_client.py
  tests/rptest/services/admin.py
  tests/rptest/services/cluster.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/partition_movement_test.py
  tests/rptest/tests/read_replica_e2e_test.py
  tests/rptest/tests/services_self_test.py
  tests/rptest/tests/shadow_indexing_admin_api_test.py
  tests/rptest/tests/topic_recovery_test.py
Labels: kind/enhance, area/redpanda, area/tests, area/cloud-storage

#9802 Controller snapshots: security manager
  src/v/cluster/controller_snapshot.cc
  src/v/cluster/controller_snapshot.h
  src/v/cluster/security_manager.cc
  src/v/security/acl.cc
  src/v/security/acl_store.h
  src/v/security/authorizer.h
  src/v/security/credential_store.h
  tests/rptest/tests/controller_snapshot_test.py
Labels: area/redpanda

#9960 [v23.1.x] r/configuration_manager: add highest_known_offset checkpoint mutex
  src/v/raft/configuration_manager.cc
  src/v/raft/configuration_manager.h
  src/v/raft/consensus.cc
  src/v/raft/offset_translator.cc
  src/v/raft/tests/configuration_manager_test.cc
Labels: area/redpanda

#9908 c/controller_stm: do not assert on shutdown related exceptions
  src/v/cluster/controller.cc
  src/v/cluster/controller_stm.cc
  src/v/cluster/controller_stm.h
Labels: area/redpanda

#9878 removes KICS scannign from /src/go/k8s/config dir
  .github/workflows/kics-iac.yml
Labels: area/build

#9984 [v23.1.x] Fix CI failure in `ConsumerGroupTest.test_basic_group_join`
  tests/rptest/tests/consumer_group_test.py
Labels: kind/backport

#9979 [v23.1.x] operator: ignore redpanda.com/last-applied annotation when detecting …
  src/go/k8s/pkg/resources/resource.go
  src/go/k8s/pkg/resources/statefulset_update.go
Labels: area/k8s, kind/backport

#9964 [v22.2.x] r/configuration_manager: add highest_known_offset checkpoint mutex
  src/v/raft/configuration_manager.cc
  src/v/raft/configuration_manager.h
  src/v/raft/consensus.cc
  src/v/raft/offset_translator.cc
  src/v/raft/tests/configuration_manager_test.cc
Labels: area/redpanda

#9775 fix: use update interface to update users
  src/go/k8s/.tool-versions
  src/go/k8s/controllers/redpanda/.tool-versions
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/go.mod
  src/go/k8s/go.sum
  src/go/k8s/pkg/admin/admin.go
  src/go/k8s/pkg/admin/mock_admin.go
  src/go/k8s/redpanda.yaml
Labels: area/k8s, k8s/tests

#9633 archival: remove timeouts from archival_metadata_stm
  src/v/archival/ntp_archiver_service.cc
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
  src/v/cluster/id_allocator_stm.cc
  src/v/cluster/persisted_stm.cc
  src/v/cluster/persisted_stm.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/tests/rm_stm_tests.cc
  src/v/cluster/tm_stm.cc
  tests/rptest/tests/cloud_storage_timing_stress_test.py
Labels: area/redpanda, area/cloud-storage

#9856 [v22.3.x] admin: drop no-op user requests before writing to controller log
  src/v/redpanda/admin_server.cc
Labels: area/redpanda, kind/backport

#10002 rpk: support go duration in bundle
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cmd/debug/bundle/bundle_k8s_linux.go
  src/go/rpk/pkg/cli/cmd/debug/bundle/bundle_test.go
Labels: area/rpk

#10006 [v22.3.x] test: replace rpk tune list output if its running in GCP
  tests/rptest/tests/rpk_tuner_test.py
Labels: kind/backport

#10004 [v23.1.x] test: replace rpk tune list output if its running in GCP
  tests/rptest/tests/rpk_tuner_test.py
Labels: kind/backport

#10008 [v22.2.x] test: replace rpk tune list output if its running in GCP
  tests/rptest/tests/rpk_tuner_test.py
Labels: kind/backport

#10017 k8s: remove resource file and add to gitignore
  .gitignore
  src/go/k8s/.tool-versions
  src/go/k8s/controllers/redpanda/.tool-versions
  src/go/k8s/redpanda.yaml
Labels: area/k8s

#10010 [v23.1.x] fix: use update interface to update users
  src/go/k8s/.tool-versions
  src/go/k8s/controllers/redpanda/.tool-versions
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/go.mod
  src/go/k8s/go.sum
  src/go/k8s/pkg/admin/admin.go
  src/go/k8s/pkg/admin/mock_admin.go
Labels: area/k8s, kind/backport

#9985 [v23.1.x] Reduce the default for `max_kafka_throttle_delay_ms`
  src/v/config/configuration.cc
  src/v/kafka/server/tests/produce_consume_test.cc
Labels: area/redpanda, kind/backport

#9969 [v23.1.x] Support for allocation domains in scaling_up_tests
  tests/rptest/tests/scaling_up_test.py
Labels: kind/backport

#9913 operator: add test for certificate sharing between listeners
  src/go/k8s/pkg/resources/certmanager/type_helpers.go
  src/go/k8s/tests/e2e/shared-tls-cert/00-assert.yaml
  src/go/k8s/tests/e2e/shared-tls-cert/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/shared-tls-cert/01-assert.yaml
  src/go/k8s/tests/e2e/shared-tls-cert/01-call-endpoints.yaml
Labels: area/k8s, k8s/tests

#10029 [v23.1.x] k8s: remove resource file and add to gitignore
  .gitignore
  src/go/k8s/.tool-versions
  src/go/k8s/controllers/redpanda/.tool-versions
Labels: kind/backport

#9745 cloud_storage: provide in-memory manifest dumps via the Admin API
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/redpanda/admin/api-doc/shadow_indexing.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  tests/rptest/services/admin.py
  tests/rptest/tests/shadow_indexing_admin_api_test.py
Labels: area/redpanda, area/cloud-storage, area/admin-api

#9991 cloud_storage: handle 'partial message' errors
  src/v/cloud_storage_clients/util.cc
Labels: kind/bug, area/redpanda, area/cloud-storage

#10012 [v22.3.x] Support for allocation domains in scaling_up_tests
  tests/rptest/tests/scaling_up_test.py
Labels: kind/backport

#10034 Wrap install snapshot request with gate
  src/v/raft/consensus.cc
Labels: area/redpanda

#10032 Use `chunk_cache` as source of truth for chunk size
  src/v/storage/chunk_cache.h
  src/v/storage/segment_appender.cc
  src/v/storage/segment_utils.cc
  src/v/storage/storage_resources.cc
Labels: area/redpanda

#10035 c/tm_stm: Convert tm_snapshot to fragmented_vector
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/cluster/tm_stm_cache.h
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/tx_gateway_frontend.h
Labels: area/redpanda, area/transactions

#9966 Restrict replicate batcher to 1 flush in flight
  src/v/raft/replicate_batcher.cc
  src/v/raft/replicate_batcher.h
Labels: sev/high, area/replication

#9928 Flush at set intervals in `recovery_stm`
  src/v/raft/recovery_stm.cc
  src/v/raft/recovery_stm.h
Labels: area/redpanda

#10018 Add available memory to internal metrics
  src/v/resource_mgmt/available_memory.cc
  src/v/resource_mgmt/available_memory.h
  src/v/ssx/metrics.h
Labels: area/redpanda

#10038 [v23.1.x] Error checking pp json serialization
  src/v/pandaproxy/error.cc
  src/v/pandaproxy/error.h
  src/v/pandaproxy/json/error.cc
  src/v/pandaproxy/json/error.h
  src/v/pandaproxy/json/requests/fetch.h
  src/v/pandaproxy/json/rjson_util.h
  src/v/pandaproxy/rest/test/consumer_group.cc
  src/v/pandaproxy/rest/test/fetch.cc
Labels: area/redpanda, kind/backport

#10069 [v23.1.x] Add available memory to internal metrics
  src/v/resource_mgmt/available_memory.cc
  src/v/resource_mgmt/available_memory.h
  src/v/ssx/metrics.h
Labels: area/redpanda, kind/backport

#9971 [v22.2.x] sr: expand serde coverage
  .clang-format
  tests/docker/ducktape-deps.sh
  tests/go/go-kafka-serde/Makefile
  tests/go/go-kafka-serde/README.md
  tests/go/go-kafka-serde/avro-serializer.go
  tests/go/go-kafka-serde/client.go
  tests/go/go-kafka-serde/go.mod
  tests/go/go-kafka-serde/go.sum
  tests/go/go-kafka-serde/payload.proto
  tests/go/go-kafka-serde/protobuf-serializer.go
  tests/java/kafka-serde/README.md
  tests/java/kafka-serde/pom.xml
  tests/java/kafka-serde/src/main/java/com/redpanda/AvroMessaging.java
  tests/java/kafka-serde/src/main/java/com/redpanda/JavaKafkaSerdeClient.java
  tests/java/kafka-serde/src/main/java/com/redpanda/JavaKafkaSerdeClientMain.java
  tests/java/kafka-serde/src/main/java/com/redpanda/KafkaMessagingInterface.java
  tests/java/kafka-serde/src/main/java/com/redpanda/ProtobufMessaging.java
  tests/java/kafka-serde/src/main/java/com/redpanda/SecuritySettings.java
  tests/java/kafka-serde/src/main/resources/log4j.properties
  tests/rptest/clients/serde_client_utils.py
  tests/rptest/remote_scripts/python_librdkafka_serde_client.py
  tests/rptest/services/serde_client.py
  tests/rptest/tests/schema_registry_test.py
Labels: kind/backport

#10026 Add a `timeout` parameter to transfer_leadership_request
  src/v/cluster/drain_manager.cc
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/cluster/scheduling/leader_balancer.h
  src/v/cluster/service.cc
  src/v/compat/raft_compat.h
  src/v/compat/raft_generator.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/types.h
  src/v/redpanda/admin_server.cc
Labels: area/redpanda

#10063 [v23.1.x] Flush at set intervals in `recovery_stm`
  src/v/raft/recovery_stm.cc
  src/v/raft/recovery_stm.h
Labels: area/redpanda, kind/backport

#10039 [v22.3.x] Error checking pp json serialization
  src/v/pandaproxy/error.cc
  src/v/pandaproxy/error.h
  src/v/pandaproxy/json/error.cc
  src/v/pandaproxy/json/error.h
  src/v/pandaproxy/json/requests/fetch.h
  src/v/pandaproxy/json/rjson_util.h
  src/v/pandaproxy/rest/test/consumer_group.cc
  src/v/pandaproxy/rest/test/fetch.cc
Labels: area/redpanda, kind/backport

#10041 [v22.2.x] Error checking pp json serialization
  src/v/pandaproxy/error.cc
  src/v/pandaproxy/error.h
  src/v/pandaproxy/json/error.cc
  src/v/pandaproxy/json/error.h
  src/v/pandaproxy/json/requests/fetch.h
  src/v/pandaproxy/json/rjson_util.h
  src/v/pandaproxy/rest/test/consumer_group.cc
  src/v/pandaproxy/rest/test/fetch.cc
Labels: area/redpanda, kind/backport

#9876 [v22.3.x] cloud_storage: fix timequery edge cases
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cloud_storage/tests/partition_manifest_test.cc
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_manager.cc
  src/v/storage/disk_log_impl.cc
  tests/rptest/tests/timequery_test.py
Labels: area/redpanda, kind/backport

#10054 k8s: fix bug where secret not initialized
  src/go/k8s/controllers/redpanda/cluster_controller.go
Labels: area/k8s, k8s/tests

#10073 [v23.1.x] Add a `timeout` parameter to transfer_leadership_request
  src/v/cluster/drain_manager.cc
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/cluster/scheduling/leader_balancer.h
  src/v/cluster/service.cc
  src/v/compat/raft_compat.h
  src/v/compat/raft_generator.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/types.h
  src/v/redpanda/admin_server.cc
Labels: area/redpanda, kind/backport

#10081 [v23.1.x] k8s: fix bug where secret not initialized
  src/go/k8s/controllers/redpanda/cluster_controller.go
Labels: area/k8s, kind/backport, k8s/tests

#10043 [v23.1.x] storage: shrink index vectors on flush
  src/v/storage/index_state.h
  src/v/storage/segment_index.cc
Labels: area/storage, area/redpanda, kind/backport

#9992 Do not wait for the reallocation batch to finish
  src/v/cluster/members_backend.cc
  src/v/cluster/members_backend.h
  src/v/cluster/tests/backend_reallocation_strategy_test.cc
Labels: area/redpanda

#10091 net: tolerate EAGAIN errors in is_reconnect_error
  src/v/net/connection.cc
Labels: kind/bug, area/redpanda, area/net

#9932 metrics: correct description of requests_pending
  src/v/net/probes.cc
Labels: area/redpanda

#9767 Made soft allocation constraints fully hierarchical
  src/v/cluster/scheduling/allocation_strategy.cc
  src/v/cluster/scheduling/constraints.cc
  src/v/cluster/scheduling/constraints.h
  src/v/cluster/scheduling/types.cc
  src/v/cluster/scheduling/types.h
Labels: area/redpanda

#10082 security: break config<->security circular depdendency
  src/v/kafka/server/server.cc
  src/v/security/gssapi_authenticator.cc
  src/v/security/gssapi_authenticator.h
Labels: area/redpanda

#10083 features: split migrations into separate library
  src/v/CMakeLists.txt
  src/v/features/CMakeLists.txt
  src/v/migrations/CMakeLists.txt
  src/v/migrations/README.md
  src/v/migrations/cloud_storage_config.cc
  src/v/migrations/cloud_storage_config.h
  src/v/migrations/feature_migrator.cc
  src/v/migrations/feature_migrator.h
  src/v/migrations/migrators.h
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/application.cc
Labels: area/redpanda

#10107 cloud_storage_clients/s3: fix shutdown error handling
  src/v/cloud_storage_clients/s3_client.cc
Labels: kind/bug, area/redpanda, area/cloud-storage

#10099 archival: sync manifest before GC'ing segments
  src/v/archival/ntp_archiver_service.cc
Labels: kind/bug, area/redpanda, area/cloud-storage

#9809 k/client: auto-retry on consumer offsets commit and fetch
  src/v/kafka/client/client.cc
Labels: area/redpanda

#10020 [v22.3.x] k8s: misc missing backports
  .gitignore
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/go.mod
  src/go/k8s/go.sum
  src/go/k8s/pkg/admin/admin.go
  src/go/k8s/pkg/admin/mock_admin.go
  src/go/k8s/pkg/resources/certmanager/type_helpers.go
  src/go/k8s/pkg/resources/resource.go
  src/go/k8s/pkg/resources/statefulset_update.go
  src/go/k8s/tests/e2e/regressions/00-assert.yaml
  src/go/k8s/tests/e2e/regressions/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/regressions/01-assert.yaml
  src/go/k8s/tests/e2e/regressions/01-call-controller-status.yaml
  src/go/k8s/tests/e2e/shared-tls-cert/00-assert.yaml
  src/go/k8s/tests/e2e/shared-tls-cert/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/shared-tls-cert/01-assert.yaml
  src/go/k8s/tests/e2e/shared-tls-cert/01-call-endpoints.yaml
Labels: area/k8s, kind/backport, k8s/tests

#10019 [v23.1.x] k8s: misc missing backports
  src/go/k8s/tests/e2e-unstable/centralized-configuration/00-assert.yaml
  src/go/k8s/tests/e2e-unstable/centralized-configuration/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e-unstable/centralized-configuration/01-assert.yaml
  src/go/k8s/tests/e2e-unstable/centralized-configuration/02-assert.yaml
  src/go/k8s/tests/e2e-unstable/centralized-configuration/02-probe.yaml
  src/go/k8s/tests/e2e-unstable/centralized-configuration/03-assert.yaml
  src/go/k8s/tests/e2e-unstable/centralized-configuration/03-redpanda-cluster-change.yaml
  src/go/k8s/tests/e2e-unstable/centralized-configuration/04-assert.yaml
  src/go/k8s/tests/e2e-unstable/centralized-configuration/05-assert.yaml
  src/go/k8s/tests/e2e-unstable/centralized-configuration/05-probe.yaml
  src/go/k8s/tests/e2e/regressions/00-assert.yaml
  src/go/k8s/tests/e2e/regressions/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/regressions/01-assert.yaml
  src/go/k8s/tests/e2e/regressions/01-call-controller-status.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/00-current-image.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/02-new-image-and-pv.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/03-new-image.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/04-new-image.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/05-disable-cloud-storage.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/00-current-image.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/02-new-image-and-pv.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/03-new-image.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/04-new-image.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/05-disable-cloud-storage.yaml
  src/go/k8s/tests/e2e/update-image-tls/00-current-image.yaml
  src/go/k8s/tests/e2e/update-image-tls/02-new-image-and-pv.yaml
  src/go/k8s/tests/e2e/update-image-tls/03-new-image.yaml
  src/go/k8s/tests/e2e/update-image-tls/05-disable-cloud-storage.yaml
Labels: area/k8s, kind/backport, k8s/tests

#10098 [v23.1.x] Backport of #9992
  src/v/cluster/members_backend.cc
  src/v/cluster/members_backend.h
Labels: area/redpanda

#10116 [v23.1.x] cloud_storage_clients/s3: fix shutdown error handling
  src/v/cloud_storage_clients/s3_client.cc
Labels: area/redpanda, kind/backport

#10114 [v22.3.x] cloud_storage_clients/s3: fix shutdown error handling
  src/v/s3/client.cc
Labels: area/redpanda, kind/backport

#10122 k8s: Remove operator logs
  src/go/k8s/tests/e2e/centralized-configuration-bootstrap/00-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-bootstrap/01-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-bootstrap/02-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-drift/00-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-drift/01-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-drift/02-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-drift/03-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-tls/00-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-tls/01-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-tls/02-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-tls/03-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-tls/04-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-tls/05-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-upgrade/00-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-upgrade/01-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-upgrade/02-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-upgrade/03-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration/00-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration/01-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration/02-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration/03-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration/04-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration/05-assert.yaml
  src/go/k8s/tests/e2e/console-admin-api/01-assert.yaml
  src/go/k8s/tests/e2e/console-admin-api/02-assert.yaml
  src/go/k8s/tests/e2e/console-kafka-mtls/02-assert.yaml
  src/go/k8s/tests/e2e/console-kafka-mtls/03-assert.yaml
  src/go/k8s/tests/e2e/console/01-assert.yaml
  src/go/k8s/tests/e2e/endpoint-template/00-assert.yaml
  src/go/k8s/tests/e2e/endpoint-template/01-assert.yaml
  src/go/k8s/tests/e2e/explicit-ports-tls/00-assert.yaml
  src/go/k8s/tests/e2e/explicit-ports-tls/01-assert.yaml
  src/go/k8s/tests/e2e/kafkaapi-client-auth/04-assert.yaml
  src/go/k8s/tests/e2e/superusers-prefix/01-assert.yaml
Labels: area/k8s, k8s/tests

#9914 operator: propagate change events to console to let it react on clust…
  src/go/k8s/controllers/redpanda/console_controller.go
Labels: area/k8s, k8s/tests

#10121 [v23.1.x] tests: permit OMB log error
  tests/rptest/services/openmessaging_benchmark.py
Labels: kind/backport

#10127 [v23.1.x] operator: propagate change events to console to let it react on clust…
  src/go/k8s/controllers/redpanda/console_controller.go
Labels: area/k8s, kind/backport, k8s/tests

#10143 rpk -X work: fixup missing import on darwin
  src/go/rpk/pkg/cli/redpanda/redpanda_darwin.go
Labels: area/rpk

#9362 Static txn coordinator partitioning
  src/v/cluster/fwd.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/cluster/rm_group_proxy.h
  src/v/cluster/rm_partition_frontend.cc
  src/v/cluster/rm_partition_frontend.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/rm_stm_compatibility_test.cc
  src/v/cluster/tests/rm_stm_tests.cc
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/cluster/tests/tm_stm_tests.cc
  src/v/cluster/tests/tx_compaction_utils.h
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/cluster/tm_stm_cache_manager.h
  src/v/cluster/tx_gateway.cc
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/tx_gateway_frontend.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/compat/begin_group_tx_compat.h
  src/v/compat/begin_group_tx_generator.h
  src/v/compat/begin_tx_compat.h
  src/v/compat/begin_tx_generator.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_recovery_consumer.cc
  src/v/kafka/server/group_stm.cc
  src/v/kafka/server/group_stm.h
  src/v/kafka/server/rm_group_frontend.cc
  src/v/kafka/server/rm_group_frontend.h
  src/v/model/namespace.h
  src/v/redpanda/admin_server.cc
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  tests/rptest/services/admin.py
  tests/rptest/tests/transactions_test.py
Labels: kind/enhance, area/redpanda

#9495 Upload segment index
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/archival/tests/ntp_archiver_reupload_test.cc
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/archival/tests/service_fixture.cc
  src/v/archival/tests/service_fixture.h
  src/v/cloud_storage/probe.cc
  src/v/cloud_storage/probe.h
  src/v/cloud_storage/recovery_utils.cc
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/tests/remote_segment_test.cc
  src/v/cloud_storage/tests/remote_test.cc
  src/v/cloud_storage_clients/client_pool.cc
  src/v/http/tests/registered_urls.h
  src/v/utils/stream_utils.h
  tests/rptest/archival/shared_client_utils.py
  tests/rptest/tests/archival_test.py
  tests/rptest/tests/e2e_shadow_indexing_test.py
  tests/rptest/tests/retention_policy_test.py
  tests/rptest/tests/test_si_cache_space_leak.py
  tests/rptest/util.py
  tests/rptest/utils/si_utils.py
Labels: area/redpanda

#10149 [v23.1.x] k8s: Remove operator logs
  src/go/k8s/tests/e2e/centralized-configuration-bootstrap/00-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-bootstrap/01-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-bootstrap/02-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-drift/00-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-drift/01-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-drift/02-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-drift/03-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-tls/00-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-tls/01-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-tls/02-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-tls/03-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-tls/04-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-tls/05-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-upgrade/00-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-upgrade/01-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-upgrade/02-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-upgrade/03-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration/00-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration/01-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration/02-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration/03-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration/04-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration/05-assert.yaml
  src/go/k8s/tests/e2e/console-admin-api/01-assert.yaml
  src/go/k8s/tests/e2e/console-admin-api/02-assert.yaml
  src/go/k8s/tests/e2e/console-kafka-mtls/02-assert.yaml
  src/go/k8s/tests/e2e/console-kafka-mtls/03-assert.yaml
  src/go/k8s/tests/e2e/console/01-assert.yaml
  src/go/k8s/tests/e2e/endpoint-template/00-assert.yaml
  src/go/k8s/tests/e2e/endpoint-template/01-assert.yaml
  src/go/k8s/tests/e2e/explicit-ports-tls/00-assert.yaml
  src/go/k8s/tests/e2e/explicit-ports-tls/01-assert.yaml
  src/go/k8s/tests/e2e/kafkaapi-client-auth/04-assert.yaml
  src/go/k8s/tests/e2e/superusers-prefix/01-assert.yaml
Labels: area/k8s, kind/backport

#10150 [v22.3.x] k8s: Remove operator logs
  src/go/k8s/tests/e2e/centralized-configuration-bootstrap/00-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-bootstrap/01-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-bootstrap/02-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-drift/00-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-drift/01-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-drift/02-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-drift/03-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-tls/00-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-tls/01-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-tls/02-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-tls/03-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-tls/04-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-tls/05-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-upgrade/00-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-upgrade/01-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-upgrade/02-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-upgrade/03-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration/00-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration/01-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration/02-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration/03-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration/04-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration/05-assert.yaml
  src/go/k8s/tests/e2e/console-admin-api/01-assert.yaml
  src/go/k8s/tests/e2e/console-admin-api/02-assert.yaml
  src/go/k8s/tests/e2e/console-kafka-mtls/02-assert.yaml
  src/go/k8s/tests/e2e/console-kafka-mtls/03-assert.yaml
  src/go/k8s/tests/e2e/console/01-assert.yaml
  src/go/k8s/tests/e2e/endpoint-template/00-assert.yaml
  src/go/k8s/tests/e2e/endpoint-template/01-assert.yaml
  src/go/k8s/tests/e2e/explicit-ports-tls/00-assert.yaml
  src/go/k8s/tests/e2e/explicit-ports-tls/01-assert.yaml
  src/go/k8s/tests/e2e/kafkaapi-client-auth/04-assert.yaml
  src/go/k8s/tests/e2e/superusers-prefix/01-assert.yaml
Labels: area/k8s, kind/backport

#10146 Make credentials endpoint configurable
  src/v/cloud_roles/refresh_credentials.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

#10051 [v22.3.x] Wrap install snapshot request with gate
  src/v/raft/consensus.cc
Labels: area/redpanda, kind/backport

#10153 [v23.1.x] Make credentials endpoint configurable
  src/v/cloud_roles/refresh_credentials.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda, kind/backport

#10144 A few fixes for shared library support
  cmake/FindAvro.cmake
  cmake/FindHdrhistogram.cmake
  src/v/kafka/CMakeLists.txt
  src/v/kafka/protocol/CMakeLists.txt
  src/v/pandaproxy/schema_registry/CMakeLists.txt
Labels: area/build, area/redpanda

#10124 Do not store redundant `rack_id` information in allocator state
  src/v/cluster/members_table.cc
  src/v/cluster/members_table.h
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/partition_balancer_state.cc
  src/v/cluster/scheduling/allocation_node.cc
  src/v/cluster/scheduling/allocation_node.h
  src/v/cluster/scheduling/allocation_state.cc
  src/v/cluster/scheduling/allocation_state.h
  src/v/cluster/scheduling/constraints.cc
  src/v/cluster/scheduling/constraints.h
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/cluster/tests/partition_allocator_fixture.h
  src/v/cluster/tests/partition_allocator_tests.cc
  src/v/cluster/tests/partition_balancer_planner_fixture.h
  src/v/cluster/tests/partition_balancer_planner_test.cc
  src/v/cluster/tests/topic_table_fixture.h
Labels: area/redpanda

#9998 cloud_storage: fix abs client shutdown leak
  src/v/cloud_storage_clients/abs_client.cc
  src/v/cloud_storage_clients/client_pool.cc
  src/v/http/client.h
  src/v/net/transport.cc
  src/v/net/transport.h
Labels: area/redpanda, area/cloud-storage

#10162 cloud_roles: Initialize hostname with sstring
  src/v/cloud_roles/refresh_credentials.h
  src/v/cloud_roles/tests/fetch_credentials_tests.cc
Labels: area/redpanda
