Repository redpanda-data/redpanda, pull requests merged in 2023-05, with the labels that each got.

#10467 Backport on merge
  .github/workflows/backport-on-merge.yml
  .github/workflows/scripts/backport-command/backport_on_merge.sh
Labels: area/build

#10468 Small kafka server clean-ups
  src/v/coproc/tests/utils/event_publisher_utils.h
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/fetch.h
  src/v/kafka/server/handlers/list_offsets.cc
  src/v/kafka/server/handlers/offset_for_leader_epoch.cc
  src/v/kafka/server/partition_proxy.cc
  src/v/kafka/server/partition_proxy.h
  src/v/kafka/server/request_context.h
  src/v/kafka/server/server.cc
  src/v/kafka/server/server.h
  src/v/kafka/server/tests/fetch_test.cc
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/redpanda/tests/fixture.h
Labels: area/redpanda

#10476 Updating permissions to 755 (same as other scripts in this dir).
  .github/workflows/scripts/backport-command/backport_on_merge.sh
Labels: area/build

#10478 Check out the repo, and pass the pr number differently.
  .github/workflows/backport-on-merge.yml
Labels: area/build

#10482 [v23.1.x] [recovery_stm] Buffer record_batches using fragmented vector
  src/v/model/record_batch_reader.cc
  src/v/model/record_batch_reader.h
  src/v/raft/consensus_utils.cc
  src/v/raft/consensus_utils.h
  src/v/raft/recovery_stm.cc
  src/v/raft/types.cc
Labels: area/redpanda, kind/backport

#8847 rpc/conn_cache: eager cleanup of connection cache on shutdown
  src/v/cluster/cluster_utils.h
  src/v/cluster/node_status_backend.cc
  src/v/cluster/node_status_backend.h
  src/v/coproc/script_context.cc
  src/v/coproc/script_context.h
  src/v/coproc/script_dispatcher.cc
  src/v/raft/rpc_client_protocol.cc
  src/v/raft/tests/mux_state_machine_fixture.h
  src/v/raft/tests/raft_group_fixture.h
  src/v/raft/tests/state_removal_test.cc
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/rpc/connection_cache.cc
  src/v/rpc/connection_cache.h
  src/v/rpc/reconnect_transport.cc
  src/v/rpc/reconnect_transport.h
  src/v/rpc/rpc_compiler.py
  src/v/rpc/test/rpc_gen_cycling_test.cc
  src/v/rpc/transport.h
Labels: area/redpanda

#10420 storage: update segment metrics descriptions
  src/v/storage/probe.cc
Labels: area/redpanda

#10487 compression: avoid optimizing away logger registration
  src/v/compression/CMakeLists.txt
  src/v/compression/async_stream_zstd.cc
  src/v/compression/compression.cc
  src/v/compression/internal/snappy_java_compressor.cc
  src/v/compression/logger.cc
  src/v/compression/logger.h
  src/v/compression/stream_zstd.cc
Labels: area/redpanda

#10416 Removed large contiguous allocations from the topic creation path
  src/v/cluster/health_manager.cc
  src/v/cluster/scheduling/allocation_state.cc
  src/v/cluster/scheduling/allocation_state.h
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/cluster/scheduling/partition_allocator.h
  src/v/cluster/scheduling/types.cc
  src/v/cluster/scheduling/types.h
  src/v/cluster/tests/backend_reallocation_strategy_test.cc
  src/v/cluster/tests/commands_serialization_test.cc
  src/v/cluster/tests/partition_allocator_fixture.h
  src/v/cluster/tests/partition_allocator_tests.cc
  src/v/cluster/tests/partition_balancer_planner_fixture.h
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/cluster/tests/topic_configuration_compat_test.cc
  src/v/cluster/tests/topic_table_fixture.h
  src/v/cluster/tests/topic_table_test.cc
  src/v/cluster/topic_updates_dispatcher.cc
  src/v/cluster/topic_updates_dispatcher.h
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/reflection/adl.h
Labels: area/redpanda

#10433 [v22.3.x]tests/setup: updated confluent_kafka version
  tests/setup.py
Labels: kind/backport

#10339 raft: dynamic learner recovery rate
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/raft/CMakeLists.txt
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/coordinated_recovery_throttle.cc
  src/v/raft/coordinated_recovery_throttle.h
  src/v/raft/group_manager.cc
  src/v/raft/group_manager.h
  src/v/raft/recovery_throttle.h
  src/v/raft/tests/CMakeLists.txt
  src/v/raft/tests/coordinated_recovery_throttle_test.cc
  src/v/raft/tests/mux_state_machine_fixture.h
  src/v/raft/tests/raft_group_fixture.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  tests/rptest/tests/nodes_decommissioning_test.py
  tests/rptest/tests/partition_move_interruption_test.py
  tests/rptest/util.py
Labels: area/redpanda

#10448 tests: fix CloudRetentionTest
  tests/rptest/tests/cloud_retention_test.py
Labels: kind/bug, area/tests

#10471 [v23.1.x] Remove duplicate initialization of chunk_cache
  src/v/redpanda/application.cc
Labels: area/redpanda, kind/backport

#10441 [v23.1.x] cluster: Switch partition_leaders_table to use absl::node_hash_map
  src/v/cluster/partition_leaders_table.h
Labels: area/redpanda, kind/backport

#10479 Add a widget that finds the PR on github push action.
  .github/workflows/backport-on-merge.yml
Labels: area/build

#10499 Removing an unused character.
  .github/workflows/backport-on-merge.yml
Labels: area/build

#10501 Set the variable vs evaluate the variable.
  .github/workflows/backport-on-merge.yml
Labels: area/build

#10491 tests: further action injector fixes
  tests/rptest/services/action_injector.py
  tests/rptest/services/redpanda.py
Labels: kind/bug, area/tests

#10451 [v22.3.x] config: validate that strings are non-empty
  src/v/config/configuration.cc
  src/v/config/validators.cc
  src/v/config/validators.h
Labels: area/redpanda

#10493 c/partition_allocator: introduce `allocated_partition`
  src/v/cluster/health_manager.cc
  src/v/cluster/members_backend.cc
  src/v/cluster/members_backend.h
  src/v/cluster/partition_balancer_backend.cc
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/partition_balancer_planner.h
  src/v/cluster/scheduling/allocation_state.cc
  src/v/cluster/scheduling/allocation_state.h
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/cluster/scheduling/partition_allocator.h
  src/v/cluster/scheduling/types.cc
  src/v/cluster/scheduling/types.h
  src/v/cluster/tests/partition_allocator_tests.cc
  src/v/cluster/tests/partition_balancer_planner_fixture.h
  src/v/cluster/tests/partition_balancer_planner_test.cc
  src/v/cluster/topics_frontend.cc
Labels: area/redpanda

#10503 Update the environment variable correctly.
  .github/workflows/backport-on-merge.yml
Labels: area/build

#10518 Make the github action case-insensitive
  .github/workflows/scripts/backport-command/backport_on_merge.sh
Labels: area/build

#10517 [v23.1.x] Fix ps filtering in ducktape
  tests/rptest/services/redpanda.py
Labels: kind/backport

#10520 [v22.3.x] Fix ps filtering in ducktape
  tests/rptest/services/redpanda.py
Labels: kind/backport

#10515 [v22.2.x] Fix ps filtering in ducktape
  tests/rptest/services/redpanda.py
Labels: kind/backport

#10506 storage: Fix race condition in force_roll
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda

#10533 [v23.1.x] storage: Fix race condition in force_roll
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda, kind/backport

#10538 archival: Disable adjacent segment merging when not a leader
  src/v/archival/ntp_archiver_service.cc
Labels: area/redpanda

#10401 Disk space usage reporting accuracy
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/redpanda/admin/api-doc/debug.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  src/v/storage/CMakeLists.txt
  src/v/storage/api.cc
  src/v/storage/api.h
  src/v/storage/disk_log_impl.h
  src/v/storage/kvstore.cc
  src/v/storage/kvstore.h
  src/v/storage/log_manager.cc
  src/v/storage/log_manager.h
  src/v/storage/segment.cc
  src/v/storage/segment_utils.cc
  src/v/storage/snapshot.cc
  src/v/storage/snapshot.h
  src/v/storage/types.h
  tests/rptest/services/admin.py
  tests/rptest/services/cluster.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/full_disk_test.py
Labels: area/redpanda

#10529 [v23.1.x] c/topic_table: switch _pending_deltas to fragmented_vector
  src/v/cluster/controller_backend.cc
  src/v/cluster/tests/topic_table_fixture.h
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/cluster/types.h
  src/v/coproc/reconciliation_backend.cc
  src/v/coproc/reconciliation_backend.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
  src/v/utils/fragmented_vector.h
Labels: area/redpanda, kind/backport

#10540 [v23.1.x] archival: Disable adjacent segment merging when not a leader
  src/v/archival/ntp_archiver_service.cc
Labels: area/redpanda, kind/backport

#10543 schema_registry: Return the latest schema_version
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/store.cc
Labels: area/redpanda, area/schema-registry

#10557 [v22.2.x] schema_registry: Return the latest schema_version
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/store.cc
Labels: area/redpanda, kind/backport

#10558 rptest: skip debug mode for timing stress test
  tests/rptest/tests/cloud_storage_timing_stress_test.py
Labels: area/tests

#9780 Follower fetching implementation
  src/v/cluster/metadata_cache.cc
  src/v/cluster/metadata_cache.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_probe.cc
  src/v/cluster/partition_probe.h
  src/v/kafka/protocol/fetch.h
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/fetch.h
  src/v/kafka/server/handlers/fetch/replica_selector.h
  src/v/kafka/server/handlers/list_offsets.cc
  src/v/kafka/server/materialized_partition.h
  src/v/kafka/server/partition_proxy.cc
  src/v/kafka/server/partition_proxy.h
  src/v/kafka/server/replicated_partition.cc
  src/v/kafka/server/replicated_partition.h
  src/v/kafka/server/request_context.h
  src/v/kafka/server/server.cc
  src/v/kafka/server/server.h
  src/v/kafka/server/tests/fetch_test.cc
  src/v/kafka/types.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  tests/rptest/clients/kcl.py
  tests/rptest/tests/follower_fetching_test.py
  tools/dev_cluster.py
Labels: area/redpanda

#10522 pandaproxy: Add a client id to SR and PP
  src/v/redpanda/application.cc
Labels: area/redpanda, area/pandaproxy, area/schema-registry

#10567 c/backend: s/parallel_for_each/max_concurrent_for_each
  src/v/cluster/controller_backend.cc
Labels: area/redpanda

#10570 [v22.3.x] c/backend: s/parallel_for_each/max_concurrent_for_each
  src/v/cluster/controller_backend.cc
Labels: area/redpanda, kind/backport

#10572 [v23.1.x] c/backend: s/parallel_for_each/max_concurrent_for_each
  src/v/cluster/controller_backend.cc
Labels: area/redpanda, kind/backport

#10563 [v23.1.x] pandaproxy: Add a client id to SR and PP
  src/v/redpanda/application.cc
Labels: area/redpanda, kind/backport

#10565 [v22.3.x] pandaproxy: Add a client id to SR and PP
  src/v/redpanda/application.cc
Labels: area/redpanda, kind/backport

#10315 cloud_storage: use "lifecycle markers" in topic table to remember to delete remote content
  src/v/archival/fwd.h
  src/v/archival/scrubber.cc
  src/v/archival/scrubber.h
  src/v/archival/upload_housekeeping_service.cc
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cluster/CMakeLists.txt
  src/v/cluster/commands.h
  src/v/cluster/controller.json
  src/v/cluster/controller_snapshot.h
  src/v/cluster/partition.cc
  src/v/cluster/service.cc
  src/v/cluster/service.h
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/cluster/topic_updates_dispatcher.cc
  src/v/cluster/topic_updates_dispatcher.h
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  tests/rptest/tests/topic_delete_test.py
Labels: kind/enhance, area/redpanda, area/cloud-storage

#10566 cloud_storage: fix write blocking on low disk
  src/v/cloud_storage/cache_service.cc
Labels: kind/bug, area/redpanda, area/cloud-storage

#10577 [v23.1.x] k/quotas: double the minimum TP limit
  tests/rptest/tests/throughput_limits_snc_test.py
Labels: kind/backport

#10415 [v23.1.x] archival: avoid lock inversion in segment merger
  src/v/archival/adjacent_segment_merger.cc
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
Labels: area/redpanda

#10412 [v23.1.x] storage: switch to node_hash_map for kvstore
  src/v/storage/kvstore.h
Labels: area/redpanda, kind/backport

#10580 offline_log_viewer: update for topic_lifecycle_transition
  tools/offline_log_viewer/controller.py
Labels: kind/enhance

#10505 [backport] [v23.1.x] raft: dynamic learner recovery rate
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/raft/CMakeLists.txt
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/coordinated_recovery_throttle.cc
  src/v/raft/coordinated_recovery_throttle.h
  src/v/raft/group_manager.cc
  src/v/raft/group_manager.h
  src/v/raft/recovery_throttle.h
  src/v/raft/tests/CMakeLists.txt
  src/v/raft/tests/coordinated_recovery_throttle_test.cc
  src/v/raft/tests/mux_state_machine_fixture.h
  src/v/raft/tests/raft_group_fixture.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  tests/rptest/tests/nodes_decommissioning_test.py
  tests/rptest/tests/partition_move_interruption_test.py
  tests/rptest/util.py
Labels: area/redpanda

#10378 [v23.1.x] cloud_storage: handle transport errors during manifest download
  src/v/archival/ntp_archiver_service.cc
  src/v/cloud_storage/remote.cc
Labels: area/redpanda, kind/backport

#10387 cluster: faster initialization of metrics reporter + `cluster_id`
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/metrics_reporter.h
  src/v/redpanda/application.cc
Labels: kind/enhance, area/controller, area/redpanda

#10414 [v22.3.x] storage: switch to node_hash_map for kvstore
  src/v/storage/kvstore.h
Labels: area/redpanda, kind/backport

#10296 [v22.3.x] tests: permit OMB log error
  tests/rptest/services/openmessaging_benchmark.py
Labels: kind/backport

#10486 [v22.2.x] [recovery_stm] Buffer record_batches using fragmented vector
  src/v/model/record_batch_reader.cc
  src/v/model/record_batch_reader.h
  src/v/raft/consensus_utils.cc
  src/v/raft/consensus_utils.h
  src/v/raft/recovery_stm.cc
  src/v/raft/types.cc
Labels: area/redpanda

#10485 [v22.3.x] Buffer record_batches using fragmented vector
  src/v/model/record_batch_reader.cc
  src/v/model/record_batch_reader.h
  src/v/raft/consensus_utils.cc
  src/v/raft/consensus_utils.h
  src/v/raft/recovery_stm.cc
  src/v/raft/types.cc
Labels: area/redpanda

#10552 topic_manifest: added operator==
  src/v/cloud_storage/topic_manifest.h
  src/v/cloud_storage/types.h
Labels: area/redpanda, area/cloud-storage

#10568 Force NIC tuner to use mq exclusively
  src/go/rpk/pkg/tuners/irq/device_info.go
  src/go/rpk/pkg/tuners/network/nics.go
  src/go/rpk/pkg/utils/files.go
Labels: area/rpk

#10592 storage: adapt to non-copyable iterator
  src/v/archival/retention_calculator.cc
  src/v/archival/segment_reupload.cc
  src/v/cloud_storage/partition_manifest.cc
Labels: area/redpanda

#10591 Fixes for gcc/libstdc++/clang16
  src/v/archival/ntp_archiver_service.cc
  src/v/cloud_roles/tests/env_override_tests.cc
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/topic_manifest.cc
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/security/gssapi_principal_mapper.cc
  src/v/security/license.cc
  src/v/security/mtls.cc
  src/v/serde/envelope.h
  src/v/storage/segment_set.cc
  src/v/utils/to_string.h
Labels: area/redpanda

#10496 Operator: add timeout option for console finalizers
  src/go/k8s/apis/redpanda/v1alpha1/common_types.go
  src/go/k8s/apis/redpanda/v1alpha1/common_types_test.go
  src/go/k8s/pkg/console/sasl.go
  src/go/k8s/tests/e2e/console-finalizers/00-assert.yaml
  src/go/k8s/tests/e2e/console-finalizers/00-create-ns.yaml
  src/go/k8s/tests/e2e/console-finalizers/01-assert.yaml
  src/go/k8s/tests/e2e/console-finalizers/01-cluster.yaml
  src/go/k8s/tests/e2e/console-finalizers/02-assert.yaml
  src/go/k8s/tests/e2e/console-finalizers/02-console.yaml
  src/go/k8s/tests/e2e/console-finalizers/03-unmanage-cluster.yaml
  src/go/k8s/tests/e2e/console-finalizers/04-assert.yaml
  src/go/k8s/tests/e2e/console-finalizers/04-shutdown-cluster.yaml
  src/go/k8s/tests/e2e/console-finalizers/05-assert.yaml
  src/go/k8s/tests/e2e/console-finalizers/05-delete-console.yaml
  src/go/k8s/tests/e2e/console-finalizers/06-cleanup.yaml
Labels: area/k8s, k8s/tests

#10597 golang: bump to 1.20.4
  .github/workflows/rpk-build.yml
  src/go/k8s/Dockerfile
  src/go/rpk/.golangci.yml
Labels: area/build, area/k8s

#10595 Minor fixes for public cmake build
  cmake/oss.cmake.in
  src/v/cluster/tests/partition_allocator_tests.cc
  src/v/pandaproxy/schema_registry/CMakeLists.txt
  src/v/pandaproxy/schema_registry/protobuf/CMakeLists.txt
  tools/docker/Dockerfile
Labels: area/build, area/redpanda

#10599 [v23.1.x] Operator: add timeout option for console finalizers
  src/go/k8s/apis/redpanda/v1alpha1/common_types.go
  src/go/k8s/apis/redpanda/v1alpha1/common_types_test.go
  src/go/k8s/pkg/console/sasl.go
  src/go/k8s/tests/e2e/console-finalizers/00-assert.yaml
  src/go/k8s/tests/e2e/console-finalizers/00-create-ns.yaml
  src/go/k8s/tests/e2e/console-finalizers/01-assert.yaml
  src/go/k8s/tests/e2e/console-finalizers/01-cluster.yaml
  src/go/k8s/tests/e2e/console-finalizers/02-assert.yaml
  src/go/k8s/tests/e2e/console-finalizers/02-console.yaml
  src/go/k8s/tests/e2e/console-finalizers/03-unmanage-cluster.yaml
  src/go/k8s/tests/e2e/console-finalizers/04-assert.yaml
  src/go/k8s/tests/e2e/console-finalizers/04-shutdown-cluster.yaml
  src/go/k8s/tests/e2e/console-finalizers/05-assert.yaml
  src/go/k8s/tests/e2e/console-finalizers/05-delete-console.yaml
  src/go/k8s/tests/e2e/console-finalizers/06-cleanup.yaml
Labels: area/k8s, kind/backport

#10546 k8s: mTLS: fix the issue that the ca.crt is keyed in the ca certficate secret
  src/go/k8s/pkg/resources/certmanager/type_helpers.go
  src/go/k8s/pkg/resources/certmanager/type_helpers_test.go
Labels: area/k8s, k8s/tests

#10600 [v23.1.x] k8s: mTLS: fix the issue that the ca.crt is keyed in the ca certficate secret
  src/go/k8s/pkg/resources/certmanager/type_helpers.go
  src/go/k8s/pkg/resources/certmanager/type_helpers_test.go
Labels: area/k8s, kind/backport

#10585 Fix overallocation in `cluster::get_leadership_reply`
  src/v/cluster/metadata_dissemination_handler.cc
  src/v/cluster/metadata_dissemination_service.cc
  src/v/cluster/metadata_dissemination_types.h
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/compat/check.h
  src/v/compat/json.h
  src/v/compat/metadata_dissemination_compat.h
  src/v/compat/metadata_dissemination_generator.h
  src/v/json/json.h
Labels: area/redpanda

#10598 Add missing fields to operators<<
  src/v/kafka/server/handlers/fetch.h
  src/v/storage/types.cc
Labels: area/redpanda

#10427 [v23.1.x] Validate resulting configuration only in terms of changed field
  src/v/cluster/cluster_utils.cc
  src/v/cluster/cluster_utils.h
  src/v/cluster/members_manager.cc
  src/v/cluster/tests/cluster_utils_tests.cc
Labels: area/redpanda, kind/backport

#10492 storage: drop clean_segment record on truncate
  src/v/storage/disk_log_impl.cc
Labels: kind/bug, area/storage, area/redpanda

#10629 [v23.1.x] storage: drop clean_segment record on truncate
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda, kind/backport

#10627 [v22.3.x] storage: drop clean_segment record on truncate
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda, kind/backport

#10619 [v23.1.x] Fix overallocation in `cluster::get_leadership_reply`
  src/v/cluster/metadata_dissemination_handler.cc
  src/v/cluster/metadata_dissemination_service.cc
  src/v/cluster/metadata_dissemination_types.h
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/compat/check.h
  src/v/compat/json.h
  src/v/compat/metadata_dissemination_compat.h
  src/v/compat/metadata_dissemination_generator.h
  src/v/json/json.h
Labels: area/redpanda, kind/backport

#10539 topic_recovery: avoid listing with no prefix
  src/go/rpk/pkg/api/admin/api_cloud_storage.go
  src/go/rpk/pkg/cli/cluster/storage/recovery/start.go
  src/v/cloud_storage/recovery_request.cc
  src/v/cloud_storage/tests/s3_imposter.h
  src/v/cloud_storage/tests/topic_recovery_service_test.cc
  src/v/cluster/topic_recovery_service.cc
  tests/rptest/clients/rpk.py
  tests/rptest/tests/e2e_shadow_indexing_test.py
  tests/rptest/tests/shadow_indexing_admin_api_test.py
Labels: area/rpk, area/redpanda

#10461 [v22.3.x] Set promise on exceptions in `dispatch_method_once`
  src/v/rpc/service.h
  src/v/rpc/simple_protocol.cc
Labels: area/redpanda, kind/backport

#10621 [v22.2.x] Fix overallocation in `cluster::get_leadership_reply`
  src/v/cluster/metadata_dissemination_handler.cc
  src/v/cluster/metadata_dissemination_service.cc
  src/v/cluster/metadata_dissemination_types.h
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/compat/check.h
  src/v/compat/json.h
  src/v/compat/metadata_dissemination_compat.h
  src/v/compat/metadata_dissemination_generator.h
  src/v/json/json.h
Labels: area/redpanda, kind/backport

#10620 [v22.3.x] Fix overallocation in `cluster::get_leadership_reply`
  src/v/cluster/metadata_dissemination_handler.cc
  src/v/cluster/metadata_dissemination_service.cc
  src/v/cluster/metadata_dissemination_types.h
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/compat/check.h
  src/v/compat/json.h
  src/v/compat/metadata_dissemination_compat.h
  src/v/compat/metadata_dissemination_generator.h
  src/v/json/json.h
Labels: area/redpanda, kind/backport

#10606 [v23.1.x] Force NIC tuner to use mq exclusively
  src/go/rpk/pkg/tuners/irq/device_info.go
  src/go/rpk/pkg/tuners/network/nics.go
  src/go/rpk/pkg/utils/files.go
Labels: area/rpk, kind/backport

#9190 Remove a catch of std::bad_alloc from chunk cache
  src/v/storage/chunk_cache.h
Labels: area/redpanda

#10618 [v22.3.x] c/topic_table: switch _pending_deltas to fragmented_vector
  src/v/cluster/controller_backend.cc
  src/v/cluster/tests/topic_table_fixture.h
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/cluster/types.h
  src/v/coproc/reconciliation_backend.cc
  src/v/coproc/reconciliation_backend.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
  src/v/utils/fragmented_vector.h
Labels: area/redpanda, kind/backport

#10371 Limit memory used while fetching many partitions
  src/v/config/bounded_property.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/tests/bounded_property_test.cc
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/fetch.h
  src/v/kafka/server/request_context.h
  src/v/kafka/server/server.cc
  src/v/kafka/server/server.h
  src/v/kafka/server/tests/fetch_test.cc
  src/v/net/server.h
  src/v/redpanda/tests/fixture.h
  tests/rptest/tests/memory_stress_test.py
Labels: area/redpanda

#10341 Do not drop connections on logical Raft heartbeat errors
  src/v/raft/heartbeat_manager.cc
Labels: area/redpanda

#10640 [v22.3.x] ducktape: NodeOpsExecutor ensure node not empty before DE_RECOMMISSION
  tests/rptest/utils/node_operations.py
Labels: kind/backport

#10644 [v23.1.x] tests: bump Dockerfile to latest kinetic-20230412
  tests/docker/Dockerfile
Labels: kind/backport

#10490 [v23.1.x] compression: avoid optimizing away logger registration
  src/v/compression/CMakeLists.txt
  src/v/compression/async_stream_zstd.cc
  src/v/compression/compression.cc
  src/v/compression/internal/snappy_java_compressor.cc
  src/v/compression/logger.cc
  src/v/compression/logger.h
  src/v/compression/stream_zstd.cc
Labels: area/redpanda, kind/backport

#10652 [v23.1.x] Reproduce the OOM on fetching from many partitions
  tests/rptest/clients/kafka_cli_tools.py
  tests/rptest/clients/types.py
  tests/rptest/services/kaf_consumer.py
  tests/rptest/services/rpk_producer.py
  tests/rptest/tests/memory_stress_test.py
Labels: kind/backport

#10224 cloud_metadata: add cluster metadata manifest
  src/v/cloud_storage/base_manifest.h
  src/v/cloud_storage/probe.cc
  src/v/cloud_storage/probe.h
  src/v/cloud_storage/remote.cc
  src/v/cluster/CMakeLists.txt
  src/v/cluster/cloud_metadata/cluster_manifest.cc
  src/v/cluster/cloud_metadata/cluster_manifest.h
  src/v/cluster/cloud_metadata/key_utils.cc
  src/v/cluster/cloud_metadata/key_utils.h
  src/v/cluster/cloud_metadata/tests/CMakeLists.txt
  src/v/cluster/cloud_metadata/tests/cluster_manifest_test.cc
  src/v/cluster/cloud_metadata/types.h
Labels: area/redpanda

#10656 [v23.1.x] Backport 178a7050f5
  src/v/cloud_storage/recursive_directory_walker.cc
  src/v/cloud_storage/recursive_directory_walker.h
Labels: area/redpanda, kind/backport

#10660 cloud_storage: fix deletion of `replaced`, disable adjacent segment merging in test
  src/v/cloud_storage/remote_partition.cc
  tests/rptest/tests/topic_delete_test.py
Labels: kind/bug, area/redpanda, area/cloud-storage

#10561 add alias for version in rpk
  src/go/rpk/pkg/cli/root.go
Labels: area/rpk

#10630 [backport] [v23.1.x] More detailed partition reconfiguration tracking #10201
  src/v/cluster/cluster_utils.h
  src/v/cluster/controller_api.cc
  src/v/cluster/controller_api.h
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
  src/v/cluster/errc.h
  src/v/cluster/types.h
  src/v/kafka/server/errors.h
  src/v/redpanda/admin/api-doc/partition.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  tests/rptest/tests/partition_movement_test.py
Labels: area/redpanda

#10245 rpk: send maintenance disable reqs to the controller leader
  src/go/k8s/pkg/admin/admin.go
  src/go/k8s/pkg/admin/mock_admin.go
  src/go/k8s/pkg/resources/statefulset_scale.go
  src/go/k8s/pkg/resources/statefulset_update.go
  src/go/rpk/pkg/api/admin/api_broker.go
  src/go/rpk/pkg/cli/cluster/maintenance/disable.go
Labels: area/rpk, area/k8s

#10181 Tm stm static partitioning new hash ranges
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/tm_coordinator_mapper_tests.cc
  src/v/cluster/tests/tm_stm_tests.cc
  src/v/cluster/tests/tm_tx_hash_ranges_tests.cc
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/cluster/tm_tx_hash_ranges.h
  src/v/cluster/tx_coordinator_mapper.h
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/tx_gateway_frontend.h
  src/v/kafka/server/coordinator_ntp_mapper.h
  src/v/model/model.cc
  src/v/model/record_batch_types.h
  src/v/redpanda/admin_server.cc
  src/v/redpanda/application.h
  src/v/reflection/adl.h
  src/v/reflection/type_traits.h
  tests/rptest/tests/transactions_test.py
Labels: area/redpanda

#10662 [v22.3.x] Backport 178a7050f5
  src/v/cloud_storage/recursive_directory_walker.cc
  src/v/cloud_storage/recursive_directory_walker.h
Labels: area/redpanda, kind/backport

#10646 [v23.1.x] Do not drop connections on logical Raft heartbeat errors
  src/v/raft/heartbeat_manager.cc
Labels: area/redpanda, kind/backport

#9737 tests: check controller log length during teardown
  src/v/redpanda/admin/api-doc/debug.json
  src/v/redpanda/admin_server.cc
  tests/rptest/scale_tests/large_controller_snapshot_test.py
  tests/rptest/services/cluster.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/controller_snapshot_test.py
  tests/rptest/tests/nodes_decommissioning_test.py
  tests/rptest/tests/pandaproxy_test.py
  tests/rptest/tests/random_node_operations_test.py
Labels: kind/enhance, area/redpanda, area/tests

#10638 [v22.3.x] Validate raft response node
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/prevote_stm.cc
  src/v/raft/recovery_stm.cc
  src/v/raft/replicate_entries_stm.cc
  src/v/raft/types.h
  src/v/raft/vote_stm.cc
Labels: area/redpanda

#10683 cloud_storage: Handle overlapping segments
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/tests/remote_partition_test.cc
Labels: area/redpanda

#10688 cloud_storage: Handle overlapping segments
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/tests/remote_partition_test.cc
Labels: area/redpanda

#10477 Incremental partition replica allocation API
  src/v/cluster/members_backend.cc
  src/v/cluster/scheduling/allocation_state.cc
  src/v/cluster/scheduling/allocation_state.h
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/cluster/scheduling/partition_allocator.h
  src/v/cluster/scheduling/types.cc
  src/v/cluster/scheduling/types.h
  src/v/cluster/tests/allocation_bench.cc
  src/v/cluster/tests/backend_reallocation_strategy_test.cc
  src/v/cluster/tests/partition_allocator_fixture.h
  src/v/cluster/tests/partition_allocator_tests.cc
  src/v/cluster/topic_updates_dispatcher.cc
  src/v/cluster/topic_updates_dispatcher.h
Labels: area/redpanda

#10693 [v22.3.x] cloud_storage: Handle overlapping segments
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/tests/remote_partition_test.cc
  src/v/storage/parser.cc
Labels: area/redpanda

#10695 [v22.3.x] admin: map replicated_entry_truncated error to 503 http error code
  src/v/redpanda/admin_server.cc
Labels: area/redpanda, kind/backport

#10677 Soft assert on different sizes of `shard_fetch` collections
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/fetch.h
Labels: area/redpanda

#10658 Prioritized retention / garbage-collection triggered by low-disk alert
  src/v/cluster/node/local_monitor.cc
  src/v/redpanda/application.cc
  src/v/storage/api.cc
  src/v/storage/api.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/log_manager.cc
  src/v/storage/log_manager.h
  tests/rptest/tests/full_disk_test.py
  tests/rptest/utils/full_disk.py
Labels: area/redpanda

#10700 [v23.1.x] Soft assert on different sizes of `shard_fetch` collections
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/fetch.h
Labels: area/redpanda, kind/backport

#10701 [v22.3.x] Soft assert on different sizes of `shard_fetch` collections
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/fetch.h
Labels: area/redpanda, kind/backport

#10709 cloud_storage: Adjust conditions to reset stuck reader
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/tests/remote_partition_test.cc
Labels: area/redpanda

#10715 [backport v22.3.x] cloud_storage: Adjust conditions to reset stuck reader
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/tests/remote_partition_test.cc
Labels: area/redpanda

#10703 async-clear: avoid repeated calls to begin() in the loop.
  src/v/ssx/async-clear.h
Labels: area/redpanda

#10685 Fix Redpanda operator build
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/rbac/role.yaml
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/controllers/redpanda/console_controller.go
  src/go/k8s/controllers/redpanda/redpanda_controller.go
  src/go/k8s/go.mod
  src/go/k8s/go.sum
  src/go/k8s/hack/get-redpanda-info.sh
  src/go/k8s/main.go
  src/go/k8s/pkg/resources/configuration/configuration_test.go
  src/go/k8s/pkg/resources/configuration/serialization_test.go
  src/go/k8s/tests/e2e/update-image-and-node-port/04-assert.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/04-v23-1-1.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth-external-ca/00-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth-external-ca/00-v23-1-1.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth-no-external-ca/04-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth-no-external-ca/04-v23-1-1.yaml
  src/go/k8s/tests/e2e/update-image-tls-no-client-auth/04-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-no-client-auth/04-new-image.yaml
Labels: area/k8s, k8s/tests

#10735 [v23.1.x] async-clear: avoid repeated calls to begin() in the loop.
  src/v/ssx/async-clear.h
Labels: area/redpanda, kind/backport

#10737 [v22.3.x] async-clear: avoid repeated calls to begin() in the loop.
  src/v/ssx/async-clear.h
Labels: area/redpanda, kind/backport

#5129 storage: use async serialization for large kvstore snapshot batches
  src/v/model/async_adl_serde.cc
  src/v/model/async_adl_serde.h
  src/v/model/record.h
  src/v/reflection/async_adl.h
  src/v/storage/kvstore.cc
  src/v/storage/kvstore.h
Labels: kind/enhance, area/storage, area/redpanda

#10741 k8s: Fix equal condition in bash
  src/go/k8s/hack/get-redpanda-info.sh
Labels: area/k8s, k8s/tests

#10761 k8s: Rename e2e test K8S namespace
  src/go/k8s/tests/e2e/console-finalizers/00-assert.yaml
  src/go/k8s/tests/e2e/console-finalizers/00-create-ns.yaml
  src/go/k8s/tests/e2e/console-finalizers/01-assert.yaml
  src/go/k8s/tests/e2e/console-finalizers/01-cluster.yaml
  src/go/k8s/tests/e2e/console-finalizers/02-assert.yaml
  src/go/k8s/tests/e2e/console-finalizers/02-console.yaml
  src/go/k8s/tests/e2e/console-finalizers/03-unmanage-cluster.yaml
  src/go/k8s/tests/e2e/console-finalizers/04-assert.yaml
  src/go/k8s/tests/e2e/console-finalizers/04-shutdown-cluster.yaml
  src/go/k8s/tests/e2e/console-finalizers/05-assert.yaml
  src/go/k8s/tests/e2e/console-finalizers/05-delete-console.yaml
  src/go/k8s/tests/e2e/console-finalizers/06-cleanup.yaml
Labels: area/k8s, k8s/tests

#10762 tests: use pagination on releases API
  tests/rptest/services/redpanda_installer.py
Labels: kind/bug, area/tests

#10672 rpk: small fix for utility build script
  src/go/rpk/build.sh
Labels: area/rpk

#10705 rpk: add FileHeader to files in debug bundle zip
  src/go/rpk/pkg/cli/debug/bundle/bundle_linux.go
Labels: area/rpk

#10757 kafka: revert #10371
  src/v/config/bounded_property.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/tests/bounded_property_test.cc
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/fetch.h
  src/v/kafka/server/request_context.h
  src/v/kafka/server/server.cc
  src/v/kafka/server/server.h
  src/v/kafka/server/tests/fetch_test.cc
  src/v/net/server.h
  src/v/redpanda/tests/fixture.h
  tests/rptest/tests/memory_stress_test.py
Labels: area/redpanda

#10797 tests: bump upload timeouts in cloud_retention_test
  tests/rptest/tests/cloud_retention_test.py
Labels: kind/bug, area/tests, area/cloud-storage

#10692 txn: add draining transactions to tm_tx_hash_ranges
  src/v/cluster/tm_tx_hash_ranges.h
Labels: area/redpanda

#10750 Add initial version of the tx registry service (dynamic txn partitioning)
  src/v/cluster/CMakeLists.txt
  src/v/cluster/fwd.h
  src/v/cluster/health_manager.cc
  src/v/cluster/tx_gateway.cc
  src/v/cluster/tx_gateway.h
  src/v/cluster/tx_gateway.json
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/tx_gateway_frontend.h
  src/v/cluster/tx_registry_frontend.cc
  src/v/cluster/tx_registry_frontend.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/handlers/find_coordinator.cc
  src/v/kafka/server/request_context.h
  src/v/kafka/server/server.cc
  src/v/kafka/server/server.h
  src/v/model/namespace.h
  src/v/redpanda/admin/api-doc/transaction.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/redpanda/tests/fixture.h
  tests/rptest/services/admin.py
  tests/rptest/tests/transactions_test.py
Labels: area/redpanda

#10625 [v23.1.x] tests: wait for recovery rate only on active brokers
  tests/rptest/util.py
Labels: kind/backport

#10806 cloud_storage: escape hatch to reset metadata partition manifest
  src/v/archival/tests/archival_metadata_stm_test.cc
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/tests/partition_manifest_test.cc
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/redpanda/admin/api-doc/debug.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  tests/rptest/services/admin.py
  tests/rptest/tests/e2e_shadow_indexing_test.py
Labels: area/redpanda, area/cloud-storage

#10678 [v23.1.x] net: Improve IPv6 support
  src/v/net/tests/CMakeLists.txt
  src/v/net/tests/dns.cc
  src/v/net/unresolved_address.h
Labels: area/redpanda, kind/backport

#10815 [v22.3.x] cloud_storage: escape hatch to reset metadata partition manifest
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/tests/partition_manifest_test.cc
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/tests/archival_metadata_stm_test.cc
  src/v/redpanda/admin/api-doc/debug.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  tests/rptest/services/admin.py
  tests/rptest/tests/e2e_shadow_indexing_test.py
Labels: area/redpanda

#10720 Hide rpk wasm commands
  src/go/rpk/pkg/cli/wasm/wasm.go
Labels: area/rpk

#10671 Fix aborted txs being visible
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
Labels: area/redpanda, area/transactions, area/replication

#10817 [v23.1.x] tests: use pagination on releases API
  tests/rptest/services/redpanda_installer.py
Labels: kind/backport

#10784 tests: use timeouts on http requests to avoid potential runner hangs
  tests/rptest/services/kgo_verifier_services.py
  tests/rptest/services/redpanda.py
Labels: kind/bug, area/tests, area/cloud-storage

#10774 raft: Use async_adl for serde_async_write
  src/v/raft/types.cc
Labels: area/redpanda

#10553 Support chunk based readers in tiered storage read path
  src/v/cloud_storage/CMakeLists.txt
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/remote_segment_index.cc
  src/v/cloud_storage/segment_chunk.cc
  src/v/cloud_storage/segment_chunk.h
  src/v/cloud_storage/segment_chunk_api.cc
  src/v/cloud_storage/segment_chunk_api.h
  src/v/cloud_storage/segment_chunk_data_source.cc
  src/v/cloud_storage/segment_chunk_data_source.h
  src/v/cloud_storage/tests/CMakeLists.txt
  src/v/cloud_storage/tests/remote_segment_test.cc
  src/v/cloud_storage/tests/remote_test.cc
  src/v/cloud_storage/tests/s3_imposter.cc
  src/v/cloud_storage/tests/s3_imposter.h
  src/v/cloud_storage/tests/segment_chunk_test.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/convert.h
  src/v/config/property.h
  src/v/config/rjson_serialization.cc
  src/v/config/rjson_serialization.h
  src/v/model/metadata.h
  tests/rptest/tests/cloud_retention_test.py
  tests/rptest/tests/cloud_storage_chunk_read_path_test.py
  tests/rptest/tests/cloud_storage_timing_stress_test.py
  tests/rptest/tests/e2e_shadow_indexing_test.py
  tests/rptest/tests/test_si_cache_space_leak.py
Labels: area/redpanda, area/cloud-storage

#10827 [v22.2.x] tests: use pagination on releases API
  tests/rptest/services/redpanda_installer.py
Labels: kind/backport

#10559 Feat/cstore/partition manifest serde
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/scrubber.cc
  src/v/archival/tests/archival_metadata_stm_test.cc
  src/v/archival/tests/ntp_archiver_reupload_test.cc
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/archival/tests/segment_reupload_test.cc
  src/v/archival/tests/service_fixture.cc
  src/v/cloud_storage/CMakeLists.txt
  src/v/cloud_storage/base_manifest.cc
  src/v/cloud_storage/base_manifest.h
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cloud_storage/segment_meta_cstore.cc
  src/v/cloud_storage/segment_meta_cstore.h
  src/v/cloud_storage/tests/CMakeLists.txt
  src/v/cloud_storage/tests/common_def.h
  src/v/cloud_storage/tests/partition_manifest_test.cc
  src/v/cloud_storage/tests/remote_partition_test.cc
  src/v/cloud_storage/tests/remote_test.cc
  src/v/cloud_storage/tests/segment_meta_cstore_fuzz.cc
  src/v/cloud_storage/tests/segment_meta_cstore_test.cc
  src/v/cloud_storage/tests/util.h
  src/v/cloud_storage/topic_manifest.cc
  src/v/cloud_storage/topic_manifest.h
  src/v/cloud_storage/tx_range_manifest.cc
  src/v/cloud_storage/tx_range_manifest.h
  src/v/cloud_storage/types.h
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/cloud_metadata/cluster_manifest.cc
  src/v/cluster/cloud_metadata/cluster_manifest.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_recovery_manager.cc
  src/v/redpanda/admin_server.cc
  tests/docker/ducktape-deps.sh
  tests/rptest/clients/rp_storage_tool.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/adjacent_segment_merging_test.py
  tests/rptest/tests/archival_test.py
  tests/rptest/tests/cloud_retention_test.py
  tests/rptest/tests/e2e_topic_recovery_test.py
  tests/rptest/tests/services_self_test.py
  tests/rptest/tests/topic_recovery_test.py
  tests/rptest/utils/si_utils.py
Labels: area/redpanda, area/cloud-storage

#10841 Create issue on error (gh action) improvement
  .github/workflows/backport-command.yml
  .github/workflows/scripts/backport-command/create_issue.sh
Labels: area/build

#10846 Create issue on error (gh actions) improvement
  .github/workflows/scripts/backport-command/create_issue.sh
Labels: area/build

#10843 tests: skip test_basic_compaction in debug mode
  tests/rptest/tests/compaction_e2e_test.py
Labels: kind/bug, area/tests

#10818 [v22.3.x] tests: use pagination on releases API
  tests/rptest/services/redpanda_installer.py
Labels: kind/backport

#10824 cloud storage make partition_manifest::update_with_json sync
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/tests/partition_manifest_test.cc
  src/v/cluster/partition.cc
Labels: area/redpanda, area/cloud-storage

#10852 tests: extend log allow list for CloudStorageTimingStressTest
  tests/rptest/tests/cloud_storage_timing_stress_test.py
Labels: kind/bug, area/tests, area/cloud-storage

#10732 [v22.2.x] cloud_storage_clients/s3: fix shutdown error handling
  src/v/s3/client.cc
Labels: area/redpanda, area/cloud-storage, kind/backport

#10833 cloud_storage: improved debug on partition manifest parse error
  src/v/cloud_storage/partition_manifest.cc
Labels: kind/enhance, area/redpanda, area/cloud-storage

#10778 rpk: keep consistent order for outputs
  src/go/rpk/pkg/cli/cluster/health.go
Labels: area/rpk

#10670 Fix txn atomicity issue
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/group_manager.cc
Labels: area/redpanda

#10764 [v23.1.x] Backport of #8895 #9251 #9413 #9414 #9804 #10408 #10416
  src/v/cluster/health_manager.cc
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/scheduling/allocation_state.cc
  src/v/cluster/scheduling/allocation_state.h
  src/v/cluster/scheduling/allocation_strategy.cc
  src/v/cluster/scheduling/allocation_strategy.h
  src/v/cluster/scheduling/constraints.cc
  src/v/cluster/scheduling/constraints.h
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/cluster/scheduling/partition_allocator.h
  src/v/cluster/scheduling/types.cc
  src/v/cluster/scheduling/types.h
  src/v/cluster/tests/allocation_bench.cc
  src/v/cluster/tests/commands_serialization_test.cc
  src/v/cluster/tests/partition_allocator_fixture.h
  src/v/cluster/tests/partition_allocator_tests.cc
  src/v/cluster/tests/partition_balancer_planner_fixture.h
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/cluster/tests/topic_configuration_compat_test.cc
  src/v/cluster/tests/topic_table_fixture.h
  src/v/cluster/tests/topic_table_test.cc
  src/v/cluster/topic_updates_dispatcher.cc
  src/v/cluster/topic_updates_dispatcher.h
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/reflection/adl.h
  src/v/reflection/test/CMakeLists.txt
  src/v/reflection/test/collections_interop.cc
  src/v/reflection/type_traits.h
  src/v/serde/serde.h
  src/v/serde/test/serde_test.cc
  src/v/utils/to_string.h
  tests/rptest/tests/nodes_decommissioning_test.py
  tests/rptest/utils/node_operations.py
Labels: area/redpanda

#10869 [v22.3.x] cloud_storage: fix empty segment check in reader
  src/v/cloud_storage/remote_partition.cc
Labels: area/redpanda, kind/backport

#10866 [v23.1.x] cloud_storage: fix empty segment check in reader
  src/v/cloud_storage/remote_partition.cc
Labels: area/redpanda, kind/backport

#10385 Optimizations to fetch planning
  src/v/cluster/partition_manager.h
  src/v/cluster/shard_table.h
  src/v/coproc/partition_manager.cc
  src/v/coproc/partition_manager.h
  src/v/hashing/tests/CMakeLists.txt
  src/v/hashing/tests/hash_bench.cc
  src/v/kafka/latency_probe.h
  src/v/kafka/server/fetch_metadata_cache.hh
  src/v/kafka/server/fetch_session.h
  src/v/kafka/server/fetch_session_cache.cc
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/fetch.h
  src/v/kafka/server/handlers/list_offsets.cc
  src/v/kafka/server/handlers/offset_for_leader_epoch.cc
  src/v/kafka/server/partition_proxy.cc
  src/v/kafka/server/partition_proxy.h
  src/v/kafka/server/tests/CMakeLists.txt
  src/v/kafka/server/tests/fetch_plan_bench.cc
  src/v/kafka/server/tests/fetch_session_test.cc
  src/v/kafka/server/tests/fetch_test.cc
  src/v/kafka/server/tests/list_offsets_test.cc
  src/v/model/fundamental.h
  src/v/model/ktp.h
  src/v/model/tests/CMakeLists.txt
  src/v/model/tests/ktp_test.cc
  src/v/redpanda/tests/fixture.h
  src/v/ssx/async-clear.h
  src/v/utils/move_canary.h
  src/v/utils/tests/CMakeLists.txt
  src/v/utils/tests/move_canary_test.cc
Labels: area/kafka, area/redpanda

#10856 cluster: include ntp in timequery logs
  src/v/cluster/partition.cc
Labels: area/kafka, area/redpanda, kind/tech-debt

#10864 rpk disk_irq tuner: warn on msi_irq list empty
  src/go/rpk/pkg/cli/redpanda/tune/tune.go
  src/go/rpk/pkg/tuners/irq/device_info.go
  src/go/rpk/pkg/tuners/irq/device_info_test.go
Labels: area/rpk

#10871 Backport-on-merge (continued)
  .github/workflows/scripts/backport-command/create_issue.sh
  .github/workflows/scripts/backport-command/pr_details.sh
Labels: area/build

#10893 GH Actions (backport on merge): add missing variable.
  .github/workflows/backport-command.yml
Labels: area/build
