Repository redpanda-data/redpanda, pull requests merged in 2023-01, with the labels that each got.

#7891 [v22.3.x] Backport 5994 66
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/controllers/redpanda/cluster_controller_configuration_drift.go
  src/go/k8s/controllers/redpanda/cluster_controller_test.go
  src/go/k8s/pkg/console/admin.go
  src/go/k8s/pkg/resources/certmanager/pki.go
  src/go/k8s/pkg/resources/certmanager/pki_test.go
  src/go/k8s/pkg/resources/certmanager/type_helpers.go
  src/go/k8s/pkg/resources/certmanager/type_helpers_test.go
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/pkg/resources/configmap_test.go
  src/go/k8s/pkg/resources/resource_integration_test.go
  src/go/k8s/pkg/resources/types/tls_types.go
  src/go/k8s/tests/e2e/kafkaapi-client-auth/00-assert.yaml
  src/go/k8s/tests/e2e/kafkaapi-client-auth/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/kafkaapi-client-auth/01-create-config.yaml
  src/go/k8s/tests/e2e/kafkaapi-client-auth/02-assert.yaml
  src/go/k8s/tests/e2e/kafkaapi-client-auth/02-create-topic.yaml
  src/go/k8s/tests/e2e/kafkaapi-client-auth/03-assert.yaml
  src/go/k8s/tests/e2e/kafkaapi-client-auth/03-pandaproxy-produce.yaml
  src/go/k8s/tests/e2e/kafkaapi-client-auth/04-assert.yaml
  src/go/k8s/tests/e2e/kafkaapi-client-auth/04-pandaproxy-consume.yaml
Labels: area/k8s, kind/backport

#7938 coud_storage: Fix timequery in read-replica
  src/v/cluster/partition.cc
  tests/rptest/tests/timequery_test.py
Labels: area/redpanda, area/cloud-storage

#7993 Fixed treating aborted startup as an error
  src/v/redpanda/application.cc
  tests/rptest/utils/node_operations.py
Labels: area/redpanda

#7782 Fix quadratic behavior in notify_waiters
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/coproc/reconciliation_backend.cc
  src/v/coproc/reconciliation_backend.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
Labels: area/redpanda

#7585 tx/observability: utilities and metrics for memory usage
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/utils/CMakeLists.txt
  src/v/utils/prefix_logger.h
  src/v/utils/tests/CMakeLists.txt
  src/v/utils/tests/tracking_allocator_tests.cc
  src/v/utils/tracking_allocator.cc
  src/v/utils/tracking_allocator.h
Labels: area/redpanda

#8010 [v22.2.x] Fix quadratic behavior in notify_waiters
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/coproc/reconciliation_backend.cc
  src/v/coproc/reconciliation_backend.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
Labels: area/redpanda, kind/backport

#8008 [v22.3.x] Fix quadratic behavior in notify_waiters
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/coproc/reconciliation_backend.cc
  src/v/coproc/reconciliation_backend.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
Labels: area/redpanda, kind/backport

#8017 tests: remove some spurious debug code
  tests/rptest/tests/admin_api_auth_test.py
Labels: kind/tech-debt, area/tests

#7460 tests: add topic_delete_unavailable_test, tweak tiered storage topic deletion order
  src/v/cluster/partition_manager.cc
  tests/rptest/archival/s3_client.py
  tests/rptest/tests/topic_delete_test.py
Labels: kind/enhance, area/redpanda, area/tests, area/cloud-storage

#7960 [v22.3.x] kafka: fix handling redpanda.remote.delete in AlterConfigs
  src/v/kafka/server/handlers/alter_configs.cc
  tests/rptest/clients/kcl.py
  tests/rptest/tests/cluster_config_test.py
  tests/rptest/tests/controller_log_limiting_test.py
  tests/rptest/tests/topic_creation_test.py
Labels: area/redpanda, kind/backport

#8018 net: treat ENOTCONN as reconnect error
  src/v/net/connection.cc
Labels: kind/bug, area/redpanda, area/cloud-storage

#8003 [v22.1.x] Schema Registry and REST Proxy: health checks
  src/v/pandaproxy/api/api-doc/rest.json
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/rest/handlers.cc
  src/v/pandaproxy/rest/handlers.h
  src/v/pandaproxy/rest/proxy.cc
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/handlers.h
  src/v/pandaproxy/schema_registry/service.cc
Labels: area/redpanda, kind/backport

#8002 [v22.2.x] Schema Registry and REST Proxy: health checks
  src/v/pandaproxy/api/api-doc/rest.json
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/rest/handlers.cc
  src/v/pandaproxy/rest/handlers.h
  src/v/pandaproxy/rest/proxy.cc
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/handlers.h
  src/v/pandaproxy/schema_registry/service.cc
Labels: area/redpanda, kind/backport

#8030 tx/logging: minor addendum to observability patch
  src/v/cluster/rm_stm.cc
Labels: area/redpanda

#8035 [v22.3.x] tests: deflake partition_balancer_test.test_decommission
  tests/rptest/tests/partition_balancer_test.py
Labels: kind/backport

#7935 cloud_storage: Azure Blob Storage support prerequisites
  src/v/archival/tests/service_fixture.cc
  src/v/archival/types.h
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/cloud_storage/tests/remote_partition_test.cc
  src/v/cloud_storage/tests/remote_segment_test.cc
  src/v/cloud_storage/tests/remote_test.cc
  src/v/cloud_storage/tests/s3_imposter.cc
  src/v/cloud_storage/tests/s3_imposter.h
  src/v/cloud_storage/types.cc
  src/v/cloud_storage/types.h
  src/v/cloud_storage_clients/CMakeLists.txt
  src/v/cloud_storage_clients/client_pool.cc
  src/v/cloud_storage_clients/configuration.cc
  src/v/cloud_storage_clients/configuration.h
  src/v/cloud_storage_clients/s3_client.cc
  src/v/cloud_storage_clients/s3_client.h
  src/v/cloud_storage_clients/s3_error.cc
  src/v/cloud_storage_clients/s3_error.h
  src/v/cloud_storage_clients/test_client/s3_test_client_main.cc
  src/v/cloud_storage_clients/tests/s3_client_test.cc
  src/v/cloud_storage_clients/util.cc
  src/v/cloud_storage_clients/util.h
  src/v/cluster/tests/archival_metadata_stm_test.cc
  src/v/redpanda/application.cc
  src/v/redpanda/tests/fixture.h
Labels: area/redpanda

#7530 k8s: Put brokers in maintenance mode before deleting orphan's pod
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/pkg/admin/admin.go
  src/go/k8s/pkg/admin/mock_admin.go
  src/go/k8s/pkg/resources/statefulset_update.go
  src/go/k8s/pkg/resources/statefulset_update_test.go
  src/go/k8s/pkg/utils/kubernetes.go
  src/go/k8s/pkg/utils/kubernetes_test.go
Labels: area/k8s

#8006 Added validation of `segment.bytes` property when altering topic configuration
  src/go/rpk/pkg/cli/cmd/redpanda/start.go
  src/go/rpk/pkg/cli/cmd/redpanda/start_test.go
  src/v/config/configuration.cc
  src/v/kafka/server/handlers/alter_configs.cc
  src/v/kafka/server/handlers/configs/config_utils.h
  src/v/kafka/server/handlers/incremental_alter_configs.cc
  src/v/raft/tests/manual_log_deletion_test.cc
  src/v/storage/tests/storage_test_fixture.h
  tests/rptest/services/admin_ops_fuzzer.py
  tests/rptest/tests/alter_topic_configuration_test.py
  tests/rptest/tests/partition_move_interruption_test.py
Labels: area/rpk, area/redpanda

#8043 tests: allow CRC mismatch errors in compaction test
  tests/rptest/scale_tests/cloud_storage_compaction_test.py
Labels: kind/tech-debt, area/tests, area/cloud-storage

#8025 [v22.3.x] net: treat ENOTCONN as reconnect error
  src/v/net/connection.cc
Labels: area/redpanda, kind/backport

#7897 [v22.3.x] archival: change start offset related warning in segment collector to debug
  src/v/archival/segment_reupload.cc
Labels: area/redpanda, kind/backport

#7998 [v22.3.x] cloud_storage: Fix timequery in read-replica
  src/v/cluster/partition.cc
  tests/rptest/tests/timequery_test.py
Labels: area/redpanda, kind/backport

#7764 [v22.3.x] tests: fix NoSuchBucket failures in ShadowIndexingWhileBusyTest
  tests/rptest/services/redpanda.py
  tests/rptest/tests/e2e_shadow_indexing_test.py
  tests/rptest/tests/read_replica_e2e_test.py
Labels: kind/backport

#7947 cloud_storage: log headers as single line messages
  src/v/cloud_storage_clients/s3_client.cc
  src/v/http/client.h
Labels: area/redpanda, area/cloud-storage

#8050 [v22.3.x] tx/observability: utilities and metrics for memory usage
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/utils/CMakeLists.txt
  src/v/utils/prefix_logger.h
  src/v/utils/tests/CMakeLists.txt
  src/v/utils/tests/tracking_allocator_tests.cc
  src/v/utils/tracking_allocator.cc
  src/v/utils/tracking_allocator.h
Labels: area/redpanda, kind/backport

#7850 [v22.3.x] Add an asychronous zstd stream compression class
  src/v/compression/CMakeLists.txt
  src/v/compression/async_stream_zstd.cc
  src/v/compression/async_stream_zstd.h
  src/v/compression/tests/zstd_stream_bench.cc
  src/v/compression/tests/zstd_tests.cc
  src/v/redpanda/application.cc
  src/v/rpc/netbuf.cc
  src/v/rpc/parse_utils.h
  src/v/rpc/simple_protocol.cc
  src/v/rpc/test/netbuf_tests.cc
  src/v/rpc/transport.cc
  src/v/rpc/transport.h
  src/v/rpc/types.h
  src/v/utils/object_pool.h
  src/v/utils/tests/CMakeLists.txt
  src/v/utils/tests/object_pool_test.cc
Labels: area/redpanda, kind/backport

#8061 rpk/os: remove unnecessary yaml extension
  src/go/rpk/pkg/os/file.go
Labels: area/rpk

#7309 rpk: wrap usage message for flags
  src/go/rpk/go.mod
  src/go/rpk/pkg/cli/cmd/root.go
Labels: area/rpk

#8067 Revert "[v22.3.x] tx/observability: utilities and metrics for memory usage"
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/utils/CMakeLists.txt
  src/v/utils/prefix_logger.h
  src/v/utils/tests/CMakeLists.txt
  src/v/utils/tests/tracking_allocator_tests.cc
  src/v/utils/tracking_allocator.cc
  src/v/utils/tracking_allocator.h
Labels: area/redpanda

#7970 [v22.3.x] Loading consumer groups asynchronously and in parallel
  src/v/kafka/server/group.cc
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
  tests/rptest/tests/consumer_group_test.py
Labels: area/redpanda, kind/backport

#7765 sr: add /restart endpoint
  src/v/pandaproxy/schema_registry/api.cc
  src/v/pandaproxy/schema_registry/api.h
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/admin/api-doc/redpanda_services_restart.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  src/v/redpanda/application.cc
  src/v/redpanda/rp_services.h
  tests/rptest/services/admin.py
  tests/rptest/tests/restart_services_test.py
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, area/schema-registry

#8068 tx/observability: Reduce mem_tracker log level to debug
  src/v/cluster/rm_stm.cc
Labels: area/redpanda

#8057 k8s: broker_tls is enabled only if internal listener has tls
  src/go/k8s/pkg/resources/certmanager/type_helpers.go
  src/go/k8s/pkg/resources/statefulset.go
Labels: area/k8s

#8063 [v22.3.x] cloud_storage: log headers as single line messages
  src/v/http/client.h
  src/v/s3/client.cc
Labels: area/redpanda, area/cloud-storage

#8082 [v22.3.x] backport unlink segment states on remote part stop
  src/v/cloud_storage/materialized_segments.cc
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/segment_state.h
Labels: area/redpanda

#8088 [v22.3.x] k8s: broker_tls is enabled only if internal listener has tls
  src/go/k8s/pkg/resources/certmanager/type_helpers.go
  src/go/k8s/pkg/resources/statefulset.go
Labels: area/k8s, kind/backport

#7882 rpk: set destination directory in rpk debug bundle
  src/go/rpk/pkg/cli/cmd/debug/bundle.go
  src/go/rpk/pkg/cli/cmd/debug/bundle_all.go
  src/go/rpk/pkg/cli/cmd/debug/bundle_linux.go
  src/go/rpk/pkg/cli/cmd/debug/bundle_test.go
  tests/rptest/clients/rpk_remote.py
  tests/rptest/tests/rpk_cluster_test.py
Labels: area/rpk

#8089 tests: mark unstable topic deletion tests ok_to_fail
  tests/rptest/tests/topic_delete_test.py
Labels: kind/tech-debt, area/tests

#8087 net: improve logging of TLS & auth errors
  src/v/kafka/server/requests.cc
  src/v/net/connection.cc
  src/v/net/connection.h
  src/v/net/server.cc
  src/v/net/types.h
  src/v/security/scram_algorithm.h
Labels: kind/enhance, area/redpanda

#8073 kafka: improve size and compilation time associated with handlers
  src/v/kafka/CMakeLists.txt
  src/v/kafka/server/handlers/add_offsets_to_txn.cc
  src/v/kafka/server/handlers/add_partitions_to_txn.cc
  src/v/kafka/server/handlers/create_acls.cc
  src/v/kafka/server/handlers/delete_groups.cc
  src/v/kafka/server/handlers/delete_topics.cc
  src/v/kafka/server/handlers/end_txn.cc
  src/v/kafka/server/handlers/heartbeat.cc
  src/v/kafka/server/handlers/init_producer_id.cc
  src/v/kafka/server/handlers/join_group.cc
  src/v/kafka/server/handlers/leave_group.cc
  src/v/kafka/server/handlers/list_groups.cc
  src/v/kafka/server/handlers/offset_commit.cc
  src/v/kafka/server/handlers/offset_fetch.cc
  src/v/kafka/server/handlers/sasl_authenticate.cc
  src/v/kafka/server/handlers/sasl_handshake.cc
  src/v/kafka/server/handlers/sync_group.cc
  src/v/kafka/server/server.cc
  src/v/kafka/types.h
Labels: area/redpanda

#7963 Make `rpk debug bundle` environment-aware
  src/go/rpk/pkg/cli/cmd/debug/bundle.go
  src/go/rpk/pkg/cli/cmd/debug/bundle_k8s_linux.go
  src/go/rpk/pkg/cli/cmd/debug/bundle_linux.go
Labels: area/rpk

#8081 [v22.3.x] Backport 7656 v22.3.x 670
  src/v/pandaproxy/schema_registry/api.cc
  src/v/pandaproxy/schema_registry/api.h
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/admin/api-doc/redpanda_services_restart.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  src/v/redpanda/application.cc
  src/v/redpanda/rp_services.h
  tests/rptest/services/admin.py
  tests/rptest/tests/restart_services_test.py
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda

#8094 mergify: add initial config file for merge queue
  .github/mergify.yml
  .github/workflows/render-pr-body-release-notes.yml
Labels: area/build, team/devprod

#8104 doc: fix typos in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: area/docs, merge-queue

#8103 github: fix typo in pr template
  .github/pull_request_template.md
Labels: area/build, merge-queue

#7992 tests: deflake health_monitor_test::test_ntp_filter
  src/v/cluster/tests/health_monitor_test.cc
Labels: area/redpanda

#8116 p_balancer_state: don't move ntp before logging
  src/v/cluster/partition_balancer_state.cc
Labels: area/redpanda

#8114 cloud_storage: Add list and delete apis to remote
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/cloud_storage/tests/remote_test.cc
  src/v/cloud_storage/tests/s3_imposter.cc
  src/v/cloud_storage_clients/client.h
  src/v/cloud_storage_clients/s3_client.cc
  src/v/cloud_storage_clients/s3_client.h
  src/v/cloud_storage_clients/tests/s3_client_test.cc
Labels: area/redpanda

#8108 kafka: offset retention helpers
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/storage/record_batch_builder.h
  src/v/storage/tests/record_batch_builder_test.cc
Labels: area/redpanda

#8109 kafka: convert process_one_request to use coroutines
  src/v/kafka/server/connection_context.cc
Labels: area/redpanda

#8065 [v22.3.x] tx: graceful commit/abort of 'ready' state txs
  src/v/cluster/tx_gateway_frontend.cc
Labels: area/redpanda, kind/backport

#7971 rpk: handle duration in offset range properly
  src/go/rpk/pkg/cli/cmd/topic/consume.go
  src/go/rpk/pkg/cli/cmd/topic/consume_test.go
Labels: area/rpk

#8119 c/controller_backend: log partition operation exception as warning
  src/v/cluster/controller_backend.cc
Labels: area/redpanda

#8022 tests: add test of pandaproxy mTLS with urllib
  tests/rptest/tests/pandaproxy_test.py
Labels: area/tests

#8124 [v22.3.x] tests: do not query decommissioned node
  tests/rptest/tests/nodes_decommissioning_test.py
Labels: kind/backport

#8120 c/members_backend: do not wait before proceeding to next update
  src/v/cluster/members_backend.cc
  src/v/cluster/members_backend.h
Labels: area/redpanda

#8130 tests: extend log allow list in test_read_from_replica
  tests/rptest/scale_tests/cloud_storage_compaction_test.py
Labels: kind/bug, area/tests

#7912 storage: clean up staging files on deletion
  src/v/storage/disk_log_impl.cc
  src/v/storage/log_manager.cc
  src/v/storage/segment_utils.cc
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

#8134 [v22.2.x] rpk: handle duration in offset range properly
  src/go/rpk/pkg/cli/cmd/topic/consume.go
  src/go/rpk/pkg/cli/cmd/topic/consume_test.go
Labels: area/rpk, kind/backport

#8135 kafka: move processing loop into connect context
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/connection_context.h
  src/v/kafka/server/server.cc
Labels: area/redpanda

#8146 cluster/feature_backend removed unused key_bytes
  src/v/cluster/feature_backend.cc
Labels: area/redpanda, kind/tech-debt

#8150 features: fix populating original_version on upgrades
  src/v/cluster/feature_backend.cc
  src/v/features/feature_table_snapshot.h
Labels: kind/bug, area/controller, area/redpanda

#8111 Miscellaneous fixes for Meson build
  src/v/archival/tests/CMakeLists.txt
  src/v/archival/tests/service_fixture.h
  src/v/cloud_roles/tests/CMakeLists.txt
  src/v/cloud_roles/tests/fetch_credentials_tests.cc
  src/v/cloud_roles/tests/role_client_tests.cc
  src/v/cluster/CMakeLists.txt
  src/v/cluster/cluster_bootstrap.json
  src/v/cluster/ephemeral_credential_frontend.cc
  src/v/cluster/ephemeral_credential_rpc.json
  src/v/cluster/ephemeral_credential_service.h
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/archival_metadata_stm_test.cc
  src/v/http/tests/CMakeLists.txt
  src/v/http/tests/http_imposter.cc
  src/v/http/tests/http_imposter.h
  src/v/http/tests/http_imposter_test.cc
  src/v/http/tests/registered_urls.cc
  src/v/http/tests/registered_urls.h
  src/v/security/scram_algorithm.cc
  src/v/serde/test/serde_test.cc
  src/v/storage/log_manager.h
  src/v/test_utils/CMakeLists.txt
  src/v/test_utils/tests/CMakeLists.txt
  src/v/utils/delta_for.h
  src/v/utils/tests/CMakeLists.txt
  src/v/utils/tests/uuid_test.cc
Labels: area/redpanda

#7962 tests: split out unit tests from "fixture" integration tests
  cmake/testing.cmake
  src/v/archival/tests/CMakeLists.txt
  src/v/archival/tests/archival_metadata_stm_test.cc
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/archival/tests/service_fixture.cc
  src/v/archival/tests/service_fixture.h
  src/v/cloud_roles/tests/fetch_credentials_tests.cc
  src/v/cloud_roles/tests/role_client_tests.cc
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/tests/CMakeLists.txt
  src/v/cloud_storage/tests/s3_imposter.cc
  src/v/cloud_storage/tests/s3_imposter.h
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/partition_allocator_fixture.h
  src/v/cluster/tests/partition_allocator_tests.cc
  src/v/coproc/tests/CMakeLists.txt
  src/v/http/tests/http_imposter.cc
  src/v/http/tests/http_imposter.h
  src/v/http/tests/http_imposter_test.cc
  src/v/kafka/client/test/CMakeLists.txt
  src/v/kafka/server/replicated_partition.cc
  src/v/kafka/server/tests/CMakeLists.txt
  src/v/pandaproxy/rest/test/CMakeLists.txt
  src/v/pandaproxy/schema_registry/test/CMakeLists.txt
  src/v/pandaproxy/test/CMakeLists.txt
  src/v/raft/tests/mux_state_machine_fixture.h
  src/v/storage/tests/CMakeLists.txt
  tools/cmake_test.py
Labels: kind/enhance, area/build, area/redpanda, area/tests

#8129 Enhancements to self-test infra
  src/v/cluster/self_test_backend.cc
  src/v/cluster/self_test_backend.h
  src/v/cluster/self_test_benchmarks.h
  src/v/cluster/self_test_frontend.cc
  src/v/cluster/self_test_frontend.h
  src/v/cluster/self_test_rpc_types.h
  src/v/redpanda/admin/api-doc/debug.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/application.cc
  src/v/resource_mgmt/cpu_scheduling.h
  tests/rptest/tests/self_test_test.py
Labels: area/redpanda

#8159 .github: Add ci-failure ducktape template
  .github/ISSUE_TEMPLATE/04_ci_ducktape.md
Labels: area/build

#8163 storage_e2e_test: silence botched remove() in test
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

#8161 utils: relocate request_auth to utils
  src/v/pandaproxy/auth_utils.h
  src/v/pandaproxy/rest/proxy.h
  src/v/pandaproxy/schema_registry/service.h
  src/v/pandaproxy/server.h
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  src/v/utils/CMakeLists.txt
  src/v/utils/request_auth.cc
  src/v/utils/request_auth.h
Labels: area/redpanda

#8148 features/feature_table_snapshot increased serde version
  src/v/features/feature_table_snapshot.h
Labels: area/redpanda

#8132 [v22.3.x] rpk: handle duration in offset range properly
  src/go/rpk/pkg/cli/cmd/topic/consume.go
  src/go/rpk/pkg/cli/cmd/topic/consume_test.go
Labels: area/rpk, kind/backport

#7836 pin redpanda version for upgrade tests involving the introduction of a feature
  src/v/features/feature_table.cc
  tests/rptest/services/redpanda_installer.py
  tests/rptest/tests/acls_test.py
  tests/rptest/tests/cluster_bootstrap_test.py
  tests/rptest/tests/cluster_features_test.py
  tests/rptest/tests/fix_5355_upgrade_test.py
  tests/rptest/tests/license_upgrade_test.py
  tests/rptest/tests/node_id_assignment_test.py
  tests/rptest/tests/partition_movement_upgrade_test.py
  tests/rptest/tests/topic_creation_test.py
  tests/rptest/tests/transactions_test.py
  tests/rptest/tests/upgrade_test.py
  tests/rptest/tests/upgrade_with_workload.py
Labels: area/redpanda, area/tests

#8036 rpk: save controller logs in debug bundle
  src/go/rpk/pkg/cli/cmd/debug/bundle/bundle.go
  src/go/rpk/pkg/cli/cmd/debug/bundle/bundle_all.go
  src/go/rpk/pkg/cli/cmd/debug/bundle/bundle_k8s_linux.go
  src/go/rpk/pkg/cli/cmd/debug/bundle/bundle_linux.go
  src/go/rpk/pkg/cli/cmd/debug/bundle/bundle_test.go
  src/go/rpk/pkg/cli/cmd/debug/debug.go
  src/go/rpk/pkg/os/file_all.go
Labels: area/rpk

#8164 dockerfile: use base images from ECR registries
  src/go/k8s/Dockerfile
  tests/docker/Dockerfile
Labels: area/k8s

#8162 docs: remove stray newline
  README.md
Labels: area/docs, merge-queue

#8181 Remove node from config_manager status when it is removed from the cluster
  src/v/cluster/config_manager.cc
  src/v/cluster/config_manager.h
  src/v/cluster/controller.cc
  tests/rptest/tests/nodes_decommissioning_test.py
Labels: area/redpanda

#8140 [v22.3.x] storage: clean up staging files on deletion
  src/v/storage/disk_log_impl.cc
  src/v/storage/log_manager.cc
  src/v/storage/segment_utils.cc
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda, kind/backport

#8166 [v22.2.x] storage: clean up staging files on deletion
  src/v/storage/disk_log_impl.cc
  src/v/storage/log_manager.cc
  src/v/storage/segment_utils.cc
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda, kind/backport

#8201 [v22.2.x] storage_e2e_test: silence botched remove() in test
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

#8199 [v22.2.x] tests: add "leftover file" error to allowed logs
  tests/rptest/services/redpanda.py
Labels: kind/backport

#8160 docs: remove github_tags.md
  docs/github_tags.md
Labels: area/docs, merge-queue

#8213 tests: stabilize controller leader after config restart
  tests/rptest/services/redpanda.py
Labels: kind/bug, area/tests

#8167 Basic node decommission progress API
  src/v/cluster/controller.cc
  src/v/cluster/controller_api.cc
  src/v/cluster/controller_api.h
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/redpanda/admin/api-doc/broker.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  tests/rptest/services/admin.py
  tests/rptest/tests/nodes_decommissioning_test.py
  tests/rptest/utils/node_operations.py
Labels: area/redpanda

#8157 more tests for fetching from partitions with truncated manifests
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/tests/remote_partition_test.cc
  tests/rptest/tests/cloud_retention_test.py
Labels: area/redpanda

#8210 Fix clang-tidy use-after-move warnings
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/kafka/protocol/tests/batch_reader_test.cc
  src/v/pandaproxy/schema_registry/avro.cc
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/requests/test/post_subject_versions.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/rpc/test/netbuf_tests.cc
  src/v/serde/test/serde_test.cc
Labels: area/redpanda

#8206 rm_stm: fix use-after-move
  src/v/cluster/rm_stm.cc
Labels: area/redpanda

#8175 K8s bundle admin calls
  src/go/k8s/go.mod
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/api/admin/api_cluster.go
  src/go/rpk/pkg/api/admin/api_metrics.go
  src/go/rpk/pkg/api/admin/api_node_config.go
  src/go/rpk/pkg/api/admin/api_partition.go
  src/go/rpk/pkg/cli/cmd/debug/bundle/bundle_k8s_linux.go
  src/go/rpk/pkg/cli/cmd/debug/bundle/bundle_linux.go
Labels: area/rpk, area/k8s

#8126 [v22.3.x] cloud_storage: fix kafka::offset lookup in partition_manifest
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/tests/partition_manifest_test.cc
  src/v/cloud_storage/types.cc
  src/v/cloud_storage/types.h
Labels: area/redpanda, kind/backport

#8197 [v22.3.x] tests: add "leftover file" error to allowed logs
  tests/rptest/services/redpanda.py
Labels: kind/backport

#8214 tests: fix cloud storage deletion issues #8046, #8084
  tests/rptest/tests/topic_delete_test.py
Labels: kind/bug, area/tests

#8200 [v22.3.x] storage_e2e_test: silence botched remove() in test
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda, kind/backport

#8195 Implement operator== for license struct
  src/v/redpanda/admin_server.cc
  src/v/security/license.h
  tests/rptest/tests/rpk_cluster_test.py
  tests/rptest/util.py
Labels: area/redpanda

#8227 [v22.3.x] more tests for fetching from partitions with truncated manifests
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/tests/remote_partition_test.cc
  tests/rptest/tests/cloud_retention_test.py
Labels: area/redpanda

#8231 [v22.3.x] Implement operator== for license struct
  src/v/redpanda/admin_server.cc
  src/v/security/license.h
  tests/rptest/tests/rpk_cluster_test.py
  tests/rptest/util.py
Labels: area/redpanda, kind/backport

#8230 operator: ensure each cluster is deleted before starting the next test
  src/go/k8s/controllers/redpanda/cluster_controller_configuration_test.go
Labels: area/k8s

#8092 security: Initial gssapi support
  install-dependencies.sh
  licenses/third_party.md
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/validators.cc
  src/v/config/validators.h
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/kafka/server/server.cc
  src/v/kafka/server/server.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/redpanda/tests/fixture.h
  src/v/security/CMakeLists.txt
  src/v/security/errc.h
  src/v/security/gssapi.h
  src/v/security/gssapi_authenticator.cc
  src/v/security/gssapi_authenticator.h
  src/v/security/sasl_authentication.h
  src/v/security/scram_authenticator.cc
  src/v/security/scram_authenticator.h
  src/v/ssx/fwd.h
  src/v/ssx/tests/CMakeLists.txt
  src/v/ssx/tests/thread_worker.cc
  src/v/ssx/tests/thread_worker_bench.cc
  src/v/ssx/thread_worker.h
  tests/docker/ducktape-deps.sh
  tests/rptest/clients/kafka_cat.py
  tests/rptest/services/kerberos.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/cluster_config_test.py
  tests/rptest/tests/redpanda_kerberos_test.py
Labels: area/redpanda

#8023 Static node wide throughput limits
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/connection_context.h
  src/v/kafka/server/quota_manager.cc
  src/v/kafka/server/quota_manager.h
  src/v/kafka/server/tests/produce_consume_test.cc
  src/v/utils/CMakeLists.txt
  src/v/utils/bottomless_token_bucket.cc
  src/v/utils/bottomless_token_bucket.h
  src/v/utils/tests/CMakeLists.txt
  src/v/utils/tests/bottomless_token_bucket_test.cc
Labels: area/redpanda

#8177 kafka: track group offset commit and expire timestamps
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_stm.cc
Labels: area/redpanda

#8228 Bundle k8s resources
  src/go/rpk/pkg/cli/cmd/debug/bundle/bundle.go
  src/go/rpk/pkg/cli/cmd/debug/bundle/bundle_k8s_linux.go
Labels: area/rpk

#8243 kafka: fix bugprone-branch-clone clang-tidy warning
  src/v/kafka/server/handlers/describe_configs.cc
Labels: area/redpanda

#8271 raft: fix handle_eviction in snapshots
  src/v/raft/state_machine.cc
Labels: area/redpanda

#8270 features: Make kafka_gssapi cluster_version{9}
  src/v/features/feature_table.h
Labels: area/redpanda

#8224 k/topic_utils: do not return an error when waiting for leaders failed
  src/v/kafka/server/handlers/topics/topic_utils.cc
Labels: area/redpanda

#8090 cloud_storage: topic deletion fixes
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/cloud_storage/partition_recovery_manager.cc
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cloud_storage/tests/offset_translation_layer_test.cc
  src/v/cloud_storage/tests/remote_partition_test.cc
  src/v/cloud_storage/tests/remote_segment_test.cc
  src/v/cloud_storage/tests/remote_test.cc
  src/v/cloud_storage_clients/client_pool.cc
  src/v/cloud_storage_clients/client_pool.h
  src/v/cloud_storage_clients/tests/s3_client_test.cc
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/utils/retry_chain_node.cc
  src/v/utils/retry_chain_node.h
  src/v/utils/tests/retry_chain_node_test.cc
  tests/rptest/tests/topic_delete_test.py
  tests/rptest/util.py
Labels: kind/bug, area/redpanda, area/cloud-storage

#8269 ssx/thread_worker: Avoid future on alien thread.
  src/v/ssx/tests/thread_worker.cc
  src/v/ssx/thread_worker.h
Labels: area/redpanda

#8158 kafka: implement offset retention policy
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/client/consumer.cc
  src/v/kafka/protocol/types.h
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
  src/v/redpanda/application.cc
  tests/rptest/tests/cluster_config_test.py
  tests/rptest/tests/offset_retention_test.py
Labels: area/redpanda

#8258 rpk: add k8s logs to debug bundle
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cmd/debug/bundle/bundle_k8s_linux.go
  src/go/rpk/pkg/cli/cmd/debug/bundle/bundle_test.go
Labels: area/rpk

#8122 bootstrap: Enforce crash-loop-retry limit
  src/v/config/node_config.cc
  src/v/config/node_config.h
  src/v/model/timestamp.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  tests/rptest/tests/crash_loop_checks_test.py
Labels: area/redpanda

#8303 security/kerberos: Add license checks
  src/v/cluster/feature_manager.cc
  tests/rptest/tests/redpanda_kerberos_test.py
Labels: area/redpanda

#8257 features: gssapi principal mapping rules
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/security/CMakeLists.txt
  src/v/security/gssapi_principal_mapper.cc
  src/v/security/gssapi_principal_mapper.h
  src/v/security/tests/CMakeLists.txt
  src/v/security/tests/gssapi_principal_mapper_test.cc
  tests/rptest/tests/cluster_config_test.py
Labels: area/redpanda

#8062 RPC timeout diagnosis improvements
  src/v/cluster/node_status_backend.cc
  src/v/http/client.cc
  src/v/kafka/client/transport.h
  src/v/net/batched_output_stream.cc
  src/v/net/batched_output_stream.h
  src/v/net/connection.cc
  src/v/raft/consensus.cc
  src/v/raft/heartbeat_manager.cc
  src/v/raft/prevote_stm.cc
  src/v/raft/prevote_stm.h
  src/v/raft/vote_stm.cc
  src/v/rpc/connection_cache.h
  src/v/rpc/response_handler.h
  src/v/rpc/rpc_compiler.py
  src/v/rpc/service.h
  src/v/rpc/test/netbuf_tests.cc
  src/v/rpc/test/response_handler_tests.cc
  src/v/rpc/test/rpc_gen_cycling_test.cc
  src/v/rpc/transport.cc
  src/v/rpc/transport.h
  src/v/rpc/types.h
Labels: area/redpanda

#8225 cluster: set feature_table version during bootstrap
  src/v/cluster/bootstrap_backend.cc
  src/v/cluster/bootstrap_backend.h
  src/v/cluster/controller.cc
  src/v/cluster/feature_backend.cc
  src/v/cluster/feature_backend.h
  src/v/cluster/fwd.h
  src/v/cluster/types.h
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/features/tests/feature_table_test.cc
Labels: area/redpanda

#8281 c/metrics_reporter: Report status of kafka_gssapi
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/metrics_reporter.h
  tests/rptest/tests/metrics_reporter_test.py
Labels: area/redpanda

#8311 k8s: Bump kuttle version to latest 0.15.0
  src/go/k8s/Makefile
Labels: area/k8s

#8305 rpk: check in default path for ballast file
  src/go/rpk/pkg/tuners/redpanda_checkers.go
Labels: area/rpk

#7685 kafka: support partition reassignments
  src/v/cluster/errc.h
  src/v/cluster/metadata_cache.cc
  src/v/cluster/metadata_cache.h
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
  src/v/kafka/CMakeLists.txt
  src/v/kafka/protocol/alter_partition_reassignments.h
  src/v/kafka/protocol/errors.cc
  src/v/kafka/protocol/errors.h
  src/v/kafka/protocol/list_partition_reassignments.h
  src/v/kafka/protocol/schemata/CMakeLists.txt
  src/v/kafka/protocol/schemata/alter_partition_reassignments_request.json
  src/v/kafka/protocol/schemata/alter_partition_reassignments_response.json
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/protocol/schemata/list_partition_reassignments_request.json
  src/v/kafka/protocol/schemata/list_partition_reassignments_response.json
  src/v/kafka/server/errors.h
  src/v/kafka/server/handlers/alter_partition_reassignments.cc
  src/v/kafka/server/handlers/alter_partition_reassignments.h
  src/v/kafka/server/handlers/handlers.h
  src/v/kafka/server/handlers/list_partition_reassignments.cc
  src/v/kafka/server/handlers/list_partition_reassignments.h
  src/v/pandaproxy/error.cc
  tests/rptest/clients/kafka_cli_tools.py
  tests/rptest/tests/partition_reassignments_test.py
Labels: kind/enhance, area/kafka, area/redpanda

#7614 Add Internal Topic Protection
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/handlers/configs/config_utils.h
  src/v/kafka/server/handlers/produce.cc
  src/v/kafka/server/server.cc
  tests/rptest/clients/rpk.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/consumer_group_recovery_tool_test.py
  tests/rptest/tests/internal_topic_protection_test.py
Labels: area/redpanda

#8172 Adding disk and network benchmarks to redpanda self tests
  src/v/cluster/CMakeLists.txt
  src/v/cluster/node/local_monitor.h
  src/v/cluster/self_test/diskcheck.cc
  src/v/cluster/self_test/diskcheck.h
  src/v/cluster/self_test/metrics.h
  src/v/cluster/self_test/netcheck.cc
  src/v/cluster/self_test/netcheck.h
  src/v/cluster/self_test/tests/CMakeLists.txt
  src/v/cluster/self_test/tests/self_test_config_test.cc
  src/v/cluster/self_test/tests/self_test_request_test.cc
  src/v/cluster/self_test_backend.cc
  src/v/cluster/self_test_backend.h
  src/v/cluster/self_test_benchmarks.h
  src/v/cluster/self_test_frontend.cc
  src/v/cluster/self_test_rpc.json
  src/v/cluster/self_test_rpc_handler.cc
  src/v/cluster/self_test_rpc_handler.h
  src/v/cluster/self_test_rpc_types.cc
  src/v/cluster/self_test_rpc_types.h
  src/v/config/node_config.h
  src/v/random/generators.cc
  src/v/random/generators.h
  src/v/redpanda/admin/api-doc/debug.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/application.cc
  tests/rptest/tests/self_test_test.py
Labels: area/redpanda

#8304 cloud_storage: metric for memory consumed by manifest segments metadata
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/tests/partition_manifest_test.cc
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_probe.cc
Labels: area/redpanda

#8185 Delete orphan files for topics.
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
  src/v/storage/fs_utils.h
  src/v/storage/log_manager.cc
  src/v/storage/log_manager.h
  tests/rptest/tests/topic_delete_test.py
Labels: area/redpanda

#8302 RPK: Upload debug bundle to a given URL
  src/go/rpk/pkg/cli/cmd/debug/bundle/bundle.go
  src/go/rpk/pkg/httpapi/httpapi.go
Labels: area/rpk

#8314 Fix finishing move when all added nodes are down
  src/v/cluster/controller_api.cc
  src/v/cluster/controller_api.h
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
  src/v/cluster/errc.h
  src/v/cluster/tests/controller_backend_test.cc
  src/v/kafka/server/errors.h
  tests/rptest/tests/nodes_decommissioning_test.py
  tests/rptest/tests/partition_move_interruption_test.py
Labels: area/redpanda

#8047 add segments.ms support
  src/v/cluster/metadata_cache.cc
  src/v/cluster/metadata_cache.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/compat/cluster_compat.h
  src/v/compat/cluster_generator.h
  src/v/compat/cluster_json.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/handlers/alter_configs.cc
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/handlers/describe_configs.cc
  src/v/kafka/server/handlers/incremental_alter_configs.cc
  src/v/kafka/server/handlers/topics/types.cc
  src/v/kafka/server/handlers/topics/types.h
  src/v/kafka/server/tests/alter_config_test.cc
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/log.h
  src/v/storage/log_manager.cc
  src/v/storage/log_manager.h
  src/v/storage/mem_log_impl.cc
  src/v/storage/ntp_config.h
  src/v/storage/segment.cc
  src/v/storage/segment.h
  src/v/storage/segment_appender.h
  src/v/storage/types.cc
  tests/rptest/clients/types.py
  tests/rptest/tests/describe_topics_test.py
  tests/rptest/tests/topic_creation_test.py
  tools/offline_log_viewer/controller.py
Labels: area/redpanda, area/cloud-storage

#7870 Partition balancer: better partition size calculation
  src/v/archival/tests/archival_metadata_stm_test.cc
  src/v/cluster/controller.cc
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_balancer_backend.cc
  src/v/cluster/partition_balancer_backend.h
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/partition_balancer_planner.h
  src/v/cluster/persisted_stm.cc
  src/v/cluster/persisted_stm.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/partition_balancer_planner_fixture.h
  src/v/cluster/tests/rm_stm_tests.cc
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/tests/append_entries_test.cc
  src/v/raft/tests/raft_group_fixture.h
  src/v/raft/tests/state_removal_test.cc
  src/v/storage/snapshot.cc
  src/v/storage/snapshot.h
  src/v/storage/tests/snapshot_test.cc
Labels: area/redpanda

#8340 [v22.3.x] Backport #8225 (cluster: set feature_table version during bootstrap)
  src/v/cluster/bootstrap_backend.cc
  src/v/cluster/bootstrap_backend.h
  src/v/cluster/controller.cc
  src/v/cluster/feature_backend.cc
  src/v/cluster/feature_backend.h
  src/v/cluster/fwd.h
  src/v/cluster/types.h
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/features/tests/feature_table_test.cc
Labels: area/redpanda

#8298 RPK io-properties quoting and format
  src/go/rpk/pkg/cli/cmd/redpanda/start.go
  src/go/rpk/pkg/tuners/iotune/data.go
Labels: area/rpk

#8327 security/kerberos: gssapi apply mapping rules
  src/v/kafka/server/server.cc
  src/v/security/gssapi_authenticator.cc
  src/v/security/gssapi_authenticator.h
  src/v/security/gssapi_principal_mapper.cc
  src/v/security/gssapi_principal_mapper.h
  src/v/security/krb5.h
  src/v/security/tests/gssapi_principal_mapper_test.cc
  tests/rptest/services/kerberos.py
  tests/rptest/tests/redpanda_kerberos_test.py
Labels: area/kafka, area/redpanda, area/security

#7705 Automated topic recovery
  .gitignore
  src/v/cloud_storage/CMakeLists.txt
  src/v/cloud_storage/fwd.h
  src/v/cloud_storage/partition_recovery_manager.cc
  src/v/cloud_storage/partition_recovery_manager.h
  src/v/cloud_storage/recovery_errors.cc
  src/v/cloud_storage/recovery_errors.h
  src/v/cloud_storage/recovery_request.cc
  src/v/cloud_storage/recovery_request.h
  src/v/cloud_storage/recovery_utils.cc
  src/v/cloud_storage/recovery_utils.h
  src/v/cloud_storage/tests/CMakeLists.txt
  src/v/cloud_storage/tests/recovery_request_test.cc
  src/v/cloud_storage/tests/s3_imposter.cc
  src/v/cloud_storage/tests/s3_imposter.h
  src/v/cloud_storage/tests/topic_recovery_service_test.cc
  src/v/cloud_storage/topic_recovery_service.cc
  src/v/cloud_storage/topic_recovery_service.h
  src/v/cluster/CMakeLists.txt
  src/v/cluster/fwd.h
  src/v/cluster/topic_recovery_status_frontend.cc
  src/v/cluster/topic_recovery_status_frontend.h
  src/v/cluster/topic_recovery_status_rpc.json
  src/v/cluster/topic_recovery_status_rpc_handler.cc
  src/v/cluster/topic_recovery_status_rpc_handler.h
  src/v/cluster/topic_recovery_status_types.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/admin/api-doc/shadow_indexing.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/redpanda/tests/fixture.h
  tests/rptest/services/admin.py
  tests/rptest/tests/shadow_indexing_admin_api_test.py
  tests/rptest/tests/topic_recovery_test.py
Labels: area/redpanda, area/cloud-storage

#8312 rpk: Add crash_loop_limit to NodeConfiguration struct
  src/go/k8s/tests/e2e/additional-configuration/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/additional-configuration/01-verify-config.yaml
  src/go/k8s/tests/e2e/additional-configuration/02-update-config.yaml
  src/go/k8s/tests/e2e/additional-configuration/03-verify-config-changed.yaml
  src/go/k8s/tests/e2e/additional-configuration/verify-config.sh
  src/go/rpk/pkg/config/schema.go
  src/go/rpk/pkg/config/weak.go
Labels: area/rpk, area/k8s

#8300 [v22.3.x] Backport 8066 v22.3.x 868
  src/v/pandaproxy/schema_registry/api.cc
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  src/v/redpanda/rp_services.h
  tests/rptest/tests/restart_services_test.py
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda

#8238 archival: Adjacent segment merging
  src/v/archival/CMakeLists.txt
  src/v/archival/adjacent_segment_merger.cc
  src/v/archival/adjacent_segment_merger.h
  src/v/archival/archival_policy.cc
  src/v/archival/archival_policy.h
  src/v/archival/fwd.h
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/archival/segment_reupload.cc
  src/v/archival/segment_reupload.h
  src/v/archival/tests/CMakeLists.txt
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/archival/tests/upload_housekeeping_service_test.cc
  src/v/archival/types.cc
  src/v/archival/types.h
  src/v/archival/upload_housekeeping_service.cc
  src/v/archival/upload_housekeeping_service.h
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/cloud_storage/tests/remote_test.cc
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/ssx/future-util.h
  src/v/ssx/sleep_abortable.h
  src/v/ssx/tests/CMakeLists.txt
  src/v/ssx/tests/sleep_abortable_test.cc
  src/v/utils/retry_chain_node.cc
  src/v/utils/retry_chain_node.h
  src/v/utils/tests/retry_chain_node_test.cc
  tests/rptest/tests/adjacent_segment_merging_test.py
Labels: area/redpanda

#8322 Made partition move cancellations more robust
  src/v/cluster/commands.h
  src/v/cluster/controller.cc
  src/v/cluster/controller.json
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
  src/v/cluster/service.cc
  src/v/cluster/service.h
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/cluster/topic_updates_dispatcher.cc
  src/v/cluster/topic_updates_dispatcher.h
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
  src/v/cluster/types.h
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  tests/rptest/tests/nodes_decommissioning_test.py
Labels: area/redpanda

#8171 [transactions] Fix get_ongoing_tx
  src/v/cluster/tx_gateway_frontend.cc
Labels: area/redpanda

#7829 Prevent isolated/decommissioned nodes handle kafka API requests
  src/v/cluster/CMakeLists.txt
  src/v/cluster/fwd.h
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
  src/v/cluster/health_monitor_frontend.cc
  src/v/cluster/health_monitor_frontend.h
  src/v/cluster/metadata_cache.cc
  src/v/cluster/metadata_cache.h
  src/v/cluster/node_isolation_watcher.cc
  src/v/cluster/node_isolation_watcher.h
  src/v/cluster/node_status_table.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/kafka/server/handlers/details/isolated_node_utils.h
  src/v/kafka/server/handlers/metadata.cc
  src/v/redpanda/admin/api-doc/debug.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  tests/rptest/services/admin.py
  tests/rptest/tests/isolated_decommissioned_node_test.py
  tests/rptest/util.py
Labels: area/redpanda

#8358 cluster: fix `has_overrides` ignoring disabled local target retention
  src/v/cloud_storage/partition_recovery_manager.cc
  src/v/cloud_storage/tests/topic_manifest_test.cc
  src/v/cloud_storage/tests/topic_recovery_service_test.cc
  src/v/cloud_storage/topic_manifest.cc
  src/v/cluster/remote_topic_configuration_source.cc
  src/v/cluster/types.cc
  src/v/compat/json.h
  src/v/compat/model_json.h
  src/v/features/migrators/cloud_storage_config.cc
  src/v/kafka/server/handlers/describe_configs.cc
  src/v/kafka/server/handlers/topics/types.cc
  src/v/model/adl_serde.h
  src/v/model/tests/model_serialization_test.cc
  src/v/pandaproxy/json/requests/produce.h
  src/v/serde/serde.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/ntp_config.h
  src/v/storage/tests/storage_e2e_test.cc
  src/v/tristate.h
  src/v/utils/tests/tristate_test.cc
Labels: area/redpanda

#8273 Small cleanup/improvements in partition replicas scheduling
  src/v/cluster/scheduling/allocation_node.h
  src/v/cluster/scheduling/allocation_strategy.cc
  src/v/cluster/scheduling/constraints.cc
  src/v/cluster/scheduling/constraints.h
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/cluster/scheduling/types.h
Labels: area/redpanda

#8374 [v22.3.x] [transactions] Fix get_ongoing_tx
  src/v/cluster/tx_gateway_frontend.cc
Labels: area/redpanda, kind/backport

#8343 Serde: fix checksum_envelope reading
  src/v/serde/serde.h
  src/v/serde/test/serde_test.cc
Labels: area/redpanda

#8385 cloud_storage_client: zero init probe counter
  src/v/cloud_storage_clients/client_probe.cc
  src/v/cloud_storage_clients/client_probe.h
Labels: kind/bug, area/redpanda, area/cloud-storage, sev/low

#8339 rpk: redact secret values when importing from file
  src/go/rpk/pkg/api/admin/api_config.go
  src/go/rpk/pkg/cli/cmd/cluster/config/import.go
  tests/rptest/tests/cluster_config_test.py
Labels: area/rpk

#8323 rpk: fix not passing the IO parameters when a well-known host type is detected
  src/go/rpk/pkg/cli/cmd/redpanda/start.go
  src/go/rpk/pkg/cli/cmd/redpanda/start_test.go
Labels: area/rpk

#8004 treewide: Fix ostream error handling
  src/v/cloud_storage_clients/s3_client.cc
  src/v/compat/json.h
  src/v/config/convert.h
  src/v/json/json.cc
Labels: area/redpanda

#8375 ducktape/kerberos: Add tests for Java CLI tools
  tests/rptest/services/kerberos.py
  tests/rptest/tests/redpanda_kerberos_test.py
Labels: area/security

#8387 Return not leader for partition when shard is not found
  src/v/kafka/server/handlers/produce.cc
Labels: area/redpanda

#8346 Redpanda operator cluster api test
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/controllers/redpanda/cluster_controller_configuration_drift.go
  src/go/k8s/controllers/redpanda/cluster_controller_configuration_test.go
  src/go/k8s/controllers/redpanda/cluster_controller_test.go
  src/go/k8s/controllers/redpanda/console_controller.go
  src/go/k8s/controllers/redpanda/console_controller_test.go
  src/go/k8s/controllers/redpanda/suite_test.go
  src/go/k8s/go.mod
  src/go/k8s/go.sum
  src/go/k8s/internal/testutils/delete_all_in_namespace.go
  src/go/k8s/pkg/admin/mock_admin.go
Labels: area/k8s, k8s/tests

#8373 security/kerberos: Refactored the krb5 wrappers
  src/v/security/CMakeLists.txt
  src/v/security/gssapi_authenticator.cc
  src/v/security/krb5.cc
  src/v/security/krb5.h
Labels: area/redpanda

#8370 ducktape/kerberos: Expand kerberos tests
  src/v/security/gssapi_principal_mapper.cc
  src/v/security/tests/gssapi_principal_mapper_test.cc
  tests/rptest/tests/redpanda_kerberos_test.py
Labels: area/redpanda

#8394 [v22.2.x] rpk: redact secret values when importing from file (Backport 8339 and 7229)
  src/go/k8s/controllers/redpanda/cluster_controller_configuration.go
  src/go/k8s/controllers/redpanda/cluster_controller_configuration_drift.go
  src/go/k8s/controllers/redpanda/cluster_controller_configuration_test.go
  src/go/k8s/controllers/redpanda/suite_test.go
  src/go/k8s/pkg/admin/admin.go
  src/go/rpk/pkg/api/admin/api_config.go
  src/go/rpk/pkg/cli/cmd/cluster/config/edit.go
  src/go/rpk/pkg/cli/cmd/cluster/config/export.go
  src/go/rpk/pkg/cli/cmd/cluster/config/get.go
  src/go/rpk/pkg/cli/cmd/cluster/config/import.go
  src/go/rpk/pkg/cli/cmd/redpanda/admin/config/config.go
  tests/rptest/tests/cluster_config_test.py
Labels: area/rpk, area/k8s

#8395 [v22.1.x] rpk: redact secret values when importing from file (Backport 8339 and 7229)
  src/go/k8s/controllers/redpanda/cluster_controller_configuration.go
  src/go/k8s/controllers/redpanda/cluster_controller_configuration_drift.go
  src/go/k8s/controllers/redpanda/cluster_controller_configuration_test.go
  src/go/k8s/controllers/redpanda/suite_test.go
  src/go/k8s/pkg/admin/admin.go
  src/go/rpk/pkg/api/admin/api_config.go
  src/go/rpk/pkg/cli/cmd/cluster/config/edit.go
  src/go/rpk/pkg/cli/cmd/cluster/config/export.go
  src/go/rpk/pkg/cli/cmd/cluster/config/get.go
  src/go/rpk/pkg/cli/cmd/cluster/config/import.go
  src/go/rpk/pkg/cli/cmd/redpanda/admin/config/config.go
  tests/rptest/tests/cluster_config_test.py
Labels: area/rpk, area/k8s

#8296 cluster/persisted_stm: fix initialization of insync_offset
  src/v/cluster/persisted_stm.cc
  src/v/cluster/persisted_stm.h
  src/v/storage/snapshot.h
  src/v/storage/types.cc
  src/v/storage/types.h
Labels: area/redpanda

#8335 Balanced node-wide throughput limits
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/validators.cc
  src/v/config/validators.h
  src/v/kafka/CMakeLists.txt
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/fwd.h
  src/v/kafka/server/quota_manager.cc
  src/v/kafka/server/quota_manager.h
  src/v/kafka/server/server.cc
  src/v/kafka/server/server.h
  src/v/kafka/server/snc_quota_manager.cc
  src/v/kafka/server/snc_quota_manager.h
  src/v/kafka/server/tests/produce_consume_test.cc
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/redpanda/tests/fixture.h
  src/v/utils/bottomless_token_bucket.cc
  src/v/utils/bottomless_token_bucket.h
Labels: area/redpanda
