Repository redpanda-data/redpanda, pull requests merged in 2023-03, with the labels that each got.

#9183 Fix and improve e2e tests
  src/go/k8s/tests/e2e/centralized-configuration-upgrade/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/centralized-configuration-upgrade/01-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-upgrade/01-first-upgrade.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/00-assert.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/00-current-image.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/01-assert.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/02-assert.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/03-assert.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/04-assert.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/05-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/00-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/00-current-image.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/01-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/02-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/03-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/04-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/05-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls/00-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls/01-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls/02-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls/03-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls/04-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls/05-assert.yaml
Labels: area/k8s, k8s/tests

#8762 [v22.3.x] k/group: bump error log messages to info
  src/v/kafka/server/group_manager.cc
Labels: area/redpanda, kind/backport

#9167 [v22.3.x] lsan: ignore memory leak
  lsan_suppressions.txt
  tools/cmake_test.py
Labels: kind/backport

#8709 [v22.3.x] archival: Turn assertion into exception
  src/v/archival/archival_policy.cc
Labels: area/redpanda, kind/backport

#8085 k8s: add test for broker tls regression
  src/go/k8s/pkg/resources/certmanager/type_helpers_test.go
Labels: area/k8s

#8720 [v22.3.x] Fix policy version
  src/go/k8s/pkg/resources/pdb.go
  src/go/k8s/tests/e2e/update/00-assert.yaml
Labels: area/k8s, kind/backport

#7843 [v22.3.x] kafka: fix transactional reads on tiered storage recovered partitions
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/partition_recovery_manager.cc
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cloud_storage/remote_segment.cc
  src/v/kafka/server/replicated_partition.cc
  src/v/kafka/server/replicated_partition.h
  tests/docker/ducktape-deps.sh
  tests/rptest/clients/rpk.py
  tests/rptest/services/kgo_verifier_services.py
  tests/rptest/tests/e2e_topic_recovery_test.py
  tests/rptest/tests/replication_factor_change_test.py
  tests/rptest/tests/shadow_indexing_tx_test.py
  tests/rptest/utils/si_utils.py
Labels: area/redpanda, kind/backport

#8721 [v22.3.x] archival: quieten a noisy INFO-level message
  src/v/archival/segment_reupload.cc
Labels: area/redpanda, kind/backport

#8827 [v22.3.x] Filter out version queries when asking for Redpanda pid
  tests/rptest/services/redpanda.py
Labels: kind/backport

#8895 More flexible constraints solver interface
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/scheduling/allocation_strategy.cc
  src/v/cluster/scheduling/allocation_strategy.h
  src/v/cluster/scheduling/constraints.cc
  src/v/cluster/scheduling/constraints.h
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/cluster/scheduling/partition_allocator.h
  src/v/cluster/scheduling/types.h
  src/v/cluster/tests/partition_allocator_tests.cc
  src/v/cluster/topics_frontend.cc
Labels: area/redpanda

#9186 [v22.3.x] k8s: add test for broker tls regression
  src/go/k8s/pkg/resources/certmanager/type_helpers_test.go
Labels: area/k8s, kind/backport, k8s/tests

#9165 .github: update PR template (add 23.1.x backport option, streamline template)
  .github/pull_request_template.md
Labels: area/build, kind/tech-debt

#9125 cloud_roles: Log error response from IAM roles API
  src/v/cloud_roles/request_response_helpers.cc
  src/v/cloud_roles/tests/fetch_credentials_tests.cc
  src/v/test_utils/tee_log.h
  tests/rptest/services/redpanda.py
Labels: area/redpanda

#8793 rpk,k8s: bump franz-go to v1.12.0 for bugfixes
  src/go/k8s/go.sum
  src/go/rpk/go.mod
  src/go/rpk/go.sum
Labels: area/rpk, area/k8s

#8725 [v22.3.x] k8s: Fix secret shared between e2e tests
  src/go/k8s/tests/e2e/update-image-and-node-port/02-new-image-and-pv.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/02-new-image-and-pv.yaml
  src/go/k8s/tests/e2e/update-image-tls/02-new-image-and-pv.yaml
Labels: area/k8s, kind/backport

#9187 tests: skip all cloud storage deletion in debug mode
  tests/rptest/tests/topic_delete_test.py
Labels: kind/bug, area/tests

#9200 chore: remove comment blocks and clean code
  src/go/k8s/apis/redpanda/v1alpha1/redpanda_clusterspec_types.go
  src/go/k8s/apis/redpanda/v1alpha1/redpanda_types.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/main.go
Labels: area/k8s

#9185 k8s: Fix test assertion for image tag
  src/go/k8s/hack/install-cert-manager.sh
  src/go/k8s/kuttl-helm-test.yaml
  src/go/k8s/kuttl-test.yaml
  src/go/k8s/kuttl-unstable-test.yaml
  src/go/k8s/pkg/admin/mock_admin.go
  src/go/k8s/tests/e2e/update-image-and-node-port/00-assert.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/00-current-image.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/02-assert.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/03-assert.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/04-assert.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/05-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/00-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/00-current-image.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/01-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/02-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/03-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/04-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/05-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls/00-current-image.yaml
  src/go/k8s/tests/e2e/update-image-tls/02-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls/03-assert.yaml
Labels: area/k8s, k8s/tests

#8911 [v22.3.x] test: don't loop consumer in EndToEndTopicRecovery
  tests/rptest/tests/e2e_topic_recovery_test.py
Labels: kind/backport

#9193 cluster/types.h: default init of some duration fields and others
  src/v/cluster/types.h
Labels: area/redpanda

#9176 k8s: Use new env-test script
  src/go/k8s/Makefile
Labels: area/k8s, k8s/tests

#9208 cloud_storage_clients: fix typo in metric name
  src/v/cloud_storage_clients/client_probe.cc
Labels: area/redpanda

#8984 rpk: Better UX in switching maintenance mode
  src/go/rpk/pkg/cli/cmd/cluster/maintenance/disable.go
  src/go/rpk/pkg/cli/cmd/cluster/maintenance/enable.go
Labels: area/rpk

#9192 metrics: ensure consistent histogram upper bounds
  src/v/utils/hdr_hist.cc
  src/v/utils/hdr_hist.h
  src/v/utils/tests/CMakeLists.txt
  src/v/utils/tests/seastar_histogram_test.cc
Labels: area/redpanda

#9207 cloud_storage: parallelize remote_segment stop
  src/v/cloud_storage/materialized_segments.cc
  src/v/cloud_storage/materialized_segments.h
  src/v/cloud_storage/remote_partition.cc
  tests/rptest/scale_tests/many_partitions_test.py
  tests/rptest/tests/e2e_shadow_indexing_test.py
  tests/rptest/utils/si_utils.py
Labels: area/redpanda

#8865 [v22.2.x] s/segment_reader: gate in-flight operations
  src/v/storage/segment_reader.cc
  src/v/storage/segment_reader.h
Labels: area/redpanda, kind/backport

#9224 [v23.1.x] cloud_storage: parallelize remote_segment stop
  src/v/cloud_storage/materialized_segments.cc
  src/v/cloud_storage/materialized_segments.h
  src/v/cloud_storage/remote_partition.cc
  tests/rptest/scale_tests/many_partitions_test.py
  tests/rptest/tests/e2e_shadow_indexing_test.py
  tests/rptest/utils/si_utils.py
Labels: area/redpanda, kind/backport

#9164 Fix console deletion validation
  src/go/k8s/tests/e2e/update-image-and-node-port/00-assert.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/02-assert.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/03-assert.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/04-assert.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/05-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/00-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/02-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/03-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/04-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/05-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls/00-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls/02-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls/03-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls/04-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls/05-assert.yaml
  src/go/k8s/webhooks/redpanda/console_webhook.go
  src/go/k8s/webhooks/redpanda/validate_enterprise.go
  src/go/k8s/webhooks/redpanda/validate_enterprise_test.go
Labels: area/k8s, k8s/tests

#9201 operator: fix memory leak related to the patch library
  src/go/k8s/Dockerfile
  src/go/k8s/Makefile
  src/go/k8s/go.mod
  src/go/k8s/go.sum
  src/go/k8s/hack/install-cert-manager.sh
  src/go/k8s/hack/wait-for-webhook-ready.sh
  src/go/k8s/main.go
  src/go/k8s/pkg/resources/configuration/configuration_test.go
  src/go/k8s/pkg/resources/resource.go
  src/go/k8s/pkg/resources/statefulset_update.go
  src/go/k8s/pkg/utils/patch.go
Labels: area/k8s, k8s/tests

#9204 tests: improvements to SI utils
  tests/rptest/services/admin.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/archival_test.py
  tests/rptest/tests/cloud_retention_test.py
  tests/rptest/tests/cluster_config_test.py
  tests/rptest/tests/e2e_shadow_indexing_test.py
  tests/rptest/tests/retention_policy_test.py
  tests/rptest/tests/shadow_indexing_compacted_topic_test.py
  tests/rptest/tests/topic_recovery_test.py
  tests/rptest/tests/upgrade_test.py
  tests/rptest/utils/si_utils.py
Labels: kind/enhance, area/tests, area/cloud-storage

#9197 config: add "legacy defaults" capability and decrease partitions per shard default
  src/v/config/base_property.h
  src/v/config/bounded_property.h
  src/v/config/config_store.h
  src/v/config/configuration.cc
  src/v/config/property.h
  src/v/features/CMakeLists.txt
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  tests/rptest/tests/resource_limits_test.py
Labels: kind/enhance, area/redpanda

#8464 tests: add a task queue flush helper + use in unit tests
  src/v/cluster/tests/feature_barrier_test.cc
  src/v/net/tests/conn_quota_test.cc
  src/v/test_utils/async.h
Labels: area/redpanda

#9195 cluster: report logical versions in metrics_reporter
  src/v/cluster/controller.cc
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/metrics_reporter.h
  tests/rptest/tests/metrics_reporter_test.py
Labels: kind/enhance, area/controller, area/redpanda

#9126 cloud_roles: use net::unresolved_address instead of host+port
  src/v/cloud_roles/aws_refresh_impl.cc
  src/v/cloud_roles/aws_refresh_impl.h
  src/v/cloud_roles/aws_sts_refresh_impl.cc
  src/v/cloud_roles/aws_sts_refresh_impl.h
  src/v/cloud_roles/gcp_refresh_impl.cc
  src/v/cloud_roles/gcp_refresh_impl.h
  src/v/cloud_roles/refresh_credentials.cc
  src/v/cloud_roles/refresh_credentials.h
  src/v/cloud_roles/tests/CMakeLists.txt
  src/v/cloud_roles/tests/categorization_tests.cc
  src/v/cloud_roles/tests/env_override_tests.cc
  src/v/cloud_roles/tests/fetch_credentials_tests.cc
  src/v/cloud_roles/tests/role_client_tests.cc
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/http/tests/http_imposter.cc
  src/v/http/tests/http_imposter.h
  tests/rptest/services/mock_iam_roles_server.py
  tests/rptest/tests/e2e_iam_role_test.py
Labels: area/redpanda

#9245 storage: remove dubious-looking dead code
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda

#8275 [v22.3.x] raft: fix handle_eviction in snapshots
  src/v/cluster/persisted_stm.cc
  src/v/raft/state_machine.cc
Labels: area/redpanda, kind/backport

#9024 tests: fail on abandoned failed futures
  tests/rptest/services/redpanda.py
Labels: kind/enhance, area/tests

#9209 cloud_storage: Add storage backend inference
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/cloud_storage_clients/configuration.cc
  src/v/cloud_storage_clients/configuration.h
  src/v/cloud_storage_clients/tests/CMakeLists.txt
  src/v/cloud_storage_clients/tests/backend_detection_test.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/convert.h
  src/v/config/property.h
  src/v/config/rjson_serialization.cc
  src/v/config/rjson_serialization.h
  src/v/model/metadata.h
Labels: area/redpanda

#9033 Changing endpoint for google storage and adding a separate suite for GCP & Azure.
  tests/rptest/archival/s3_client.py
  tests/rptest/services/redpanda.py
  tests/rptest/test_suite_gcp_temporary.yml
Labels: team/devprod

#9220 [v22.3.x] metrics: ensure consistent histogram upper bounds
  src/v/utils/hdr_hist.cc
  src/v/utils/hdr_hist.h
  src/v/utils/tests/CMakeLists.txt
  src/v/utils/tests/seastar_histogram_test.cc
Labels: area/redpanda

#9262 [v23.1.x] redpanda_installer: update tgz url
  tests/rptest/services/redpanda_installer.py
Labels: kind/backport

#9263 [v22.3.x] redpanda_installer: update tgz url
  tests/rptest/services/redpanda_installer.py
Labels: kind/backport

#9265 [v22.2.x] Update package download URL
  README.md
  tests/rptest/services/redpanda_installer.py
Labels: kind/backport

#9247 [v23.1.x] operator: backport oom leak fix and test improvements
  src/go/k8s/Dockerfile
  src/go/k8s/Makefile
  src/go/k8s/go.mod
  src/go/k8s/go.sum
  src/go/k8s/hack/install-cert-manager.sh
  src/go/k8s/hack/wait-for-webhook-ready.sh
  src/go/k8s/kuttl-helm-test.yaml
  src/go/k8s/kuttl-test.yaml
  src/go/k8s/kuttl-unstable-test.yaml
  src/go/k8s/main.go
  src/go/k8s/pkg/admin/mock_admin.go
  src/go/k8s/pkg/resources/certmanager/type_helpers_test.go
  src/go/k8s/pkg/resources/configuration/configuration_test.go
  src/go/k8s/pkg/resources/resource.go
  src/go/k8s/pkg/resources/statefulset_update.go
  src/go/k8s/pkg/utils/patch.go
  src/go/k8s/tests/e2e/centralized-configuration-upgrade/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/centralized-configuration-upgrade/01-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration-upgrade/01-first-upgrade.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/00-assert.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/00-current-image.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/01-assert.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/02-assert.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/03-assert.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/04-assert.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/05-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/00-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/00-current-image.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/01-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/02-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/03-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/04-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth/05-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls/00-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls/00-current-image.yaml
  src/go/k8s/tests/e2e/update-image-tls/01-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls/02-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls/03-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls/04-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls/05-assert.yaml
  src/go/k8s/webhooks/redpanda/console_webhook.go
  src/go/k8s/webhooks/redpanda/validate_enterprise.go
  src/go/k8s/webhooks/redpanda/validate_enterprise_test.go
Labels: area/k8s, kind/backport, k8s/tests

#9269 [v22.2.x] redpanda_installer: update tgz url
  tests/rptest/services/redpanda_installer.py
Labels: kind/backport

#9218 [v23.1.x] metrics: ensure consistent histogram upper bounds
  src/v/utils/hdr_hist.cc
  src/v/utils/hdr_hist.h
  src/v/utils/tests/CMakeLists.txt
  src/v/utils/tests/seastar_histogram_test.cc
Labels: area/redpanda, kind/backport

#9260 [v23.1.x] Support CG rebalancing while verifiable consumer with many nodes is shutting down
  tests/rptest/services/verifiable_consumer.py
  tests/rptest/tests/end_to_end.py
Labels: kind/backport

#9270 [v23.1.x] cloud_storage: Add storage backend inference
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/cloud_storage_clients/configuration.cc
  src/v/cloud_storage_clients/configuration.h
  src/v/cloud_storage_clients/tests/CMakeLists.txt
  src/v/cloud_storage_clients/tests/backend_detection_test.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/convert.h
  src/v/config/property.h
  src/v/config/rjson_serialization.cc
  src/v/config/rjson_serialization.h
  src/v/model/metadata.h
Labels: area/redpanda, kind/backport

#9254 Validate raft response node
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/prevote_stm.cc
  src/v/raft/recovery_stm.cc
  src/v/raft/replicate_entries_stm.cc
  src/v/raft/types.h
  src/v/raft/vote_stm.cc
Labels: area/redpanda

#9257 tests: update partition limits
  tests/rptest/scale_tests/many_partitions_test.py
  tests/rptest/scale_tests/partition_balancer_scale_test.py
Labels: kind/bug, area/tests

#8846 Add config properties to metrics report
  src/v/cluster/metrics_reporter.cc
  src/v/config/config_store.h
  tests/rptest/tests/metrics_reporter_test.py
Labels: area/redpanda

#9268 k8s: Remove maintenance mode during rolling upgrade
  src/go/k8s/pkg/resources/statefulset_update.go
Labels: area/k8s, k8s/tests

#9246 rpk: small bug fixes (Typo, help text and unused property)
  conf/redpanda.yaml
  src/go/rpk/pkg/cli/cmd/common/common.go
  src/go/rpk/pkg/cli/cmd/debug/info.go
  src/go/rpk/pkg/cli/cmd/iotune/iotune.go
  src/go/rpk/pkg/cli/cmd/redpanda/admin/admin.go
  src/go/rpk/pkg/cli/cmd/redpanda/check.go
  src/go/rpk/pkg/cli/cmd/redpanda/config_test.go
  src/go/rpk/pkg/cli/cmd/redpanda/mode.go
  src/go/rpk/pkg/cli/cmd/redpanda/mode_test.go
  src/go/rpk/pkg/cli/cmd/redpanda/start.go
  src/go/rpk/pkg/cli/cmd/redpanda/start_test.go
  src/go/rpk/pkg/cli/cmd/redpanda/stop.go
  src/go/rpk/pkg/cli/cmd/redpanda/tune/list.go
  src/go/rpk/pkg/cli/cmd/redpanda/tune/tune.go
  src/go/rpk/pkg/cli/cmd/topic/produce.go
  src/go/rpk/pkg/config/config.go
  src/go/rpk/pkg/config/config_test.go
  src/go/rpk/pkg/config/params_test.go
  src/go/rpk/pkg/config/schema.go
  src/go/rpk/pkg/config/weak.go
  tests/rptest/services/templates/redpanda.yaml
Labels: area/rpk

#9217 feat: Redpanda reconciler can record events - part 1
  src/go/k8s/apis/redpanda/v1alpha1/events_redpanda.go
  src/go/k8s/apis/redpanda/v1alpha1/redpanda_clusterspec_types.go
  src/go/k8s/apis/redpanda/v1alpha1/redpanda_types.go
  src/go/k8s/config/crd/bases/redpanda.vectorized.io_redpandas.yaml
  src/go/k8s/controllers/redpanda/redpanda_controller.go
  src/go/k8s/main.go
Labels: area/k8s

#9264 kafka: return lowest offset if requested epoch is lower than local log
  src/v/kafka/server/replicated_partition.cc
  src/v/kafka/server/tests/produce_consume_test.cc
  tests/rptest/tests/offset_for_leader_epoch_archival_test.py
Labels: area/redpanda

#7572 Do not rely on `raft::group_configuration` to drive cluster membership changes
  src/v/cluster/bootstrap_backend.cc
  src/v/cluster/cluster_discovery.cc
  src/v/cluster/commands.h
  src/v/cluster/controller.cc
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
  src/v/cluster/members_backend.cc
  src/v/cluster/members_backend.h
  src/v/cluster/members_frontend.cc
  src/v/cluster/members_frontend.h
  src/v/cluster/members_manager.cc
  src/v/cluster/members_manager.h
  src/v/cluster/members_table.cc
  src/v/cluster/members_table.h
  src/v/cluster/partition.h
  src/v/cluster/partition_leaders_table.cc
  src/v/cluster/scheduling/allocation_state.cc
  src/v/cluster/scheduling/allocation_state.h
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/cluster/scheduling/partition_allocator.h
  src/v/cluster/tests/feature_barrier_test.cc
  src/v/cluster/tests/partition_balancer_planner_fixture.h
  src/v/cluster/types.h
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/group_configuration.cc
  src/v/raft/group_configuration.h
  src/v/raft/group_manager.cc
  src/v/raft/group_manager.h
  src/v/raft/tests/configuration_manager_test.cc
  src/v/raft/tests/configuration_serialization_test.cc
  src/v/raft/tests/group_configuration_tests.cc
  src/v/raft/tests/membership_test.cc
  src/v/raft/tests/raft_group_fixture.h
  src/v/raft/tests/type_serialization_tests.cc
  tests/rptest/tests/nodes_decommissioning_test.py
  tools/offline_log_viewer/model.py
Labels: area/redpanda

#9274 tests: fix partition count in partition_balancer_scale_test.py
  tests/rptest/scale_tests/partition_balancer_scale_test.py
Labels: kind/bug, area/tests

#9278 [v23.1.x] Add config properties to metrics report
  src/v/cluster/metrics_reporter.cc
  src/v/config/config_store.h
  tests/rptest/tests/metrics_reporter_test.py
Labels: area/redpanda, kind/backport

#9292 app: avoid masking failure on sharded service startup
  src/v/redpanda/application.cc
Labels: area/redpanda

#9219 [v22.2.x] metrics: ensure consistent histogram upper bounds
  src/v/utils/hdr_hist.cc
  src/v/utils/hdr_hist.h
  src/v/utils/tests/CMakeLists.txt
  src/v/utils/tests/seastar_histogram_test.cc
Labels: area/redpanda

#9304 test_offset_for_leader_epoch: make wait for leader more robust
  src/v/kafka/server/tests/produce_consume_test.cc
Labels: area/redpanda, ci-repeat-10

#9296 [v23.1.x] kafka: return lowest offset if requested epoch is lower than local log
  src/v/kafka/server/replicated_partition.cc
  src/v/kafka/server/tests/produce_consume_test.cc
  tests/rptest/tests/offset_for_leader_epoch_archival_test.py
Labels: area/redpanda, kind/backport

#9318 [v23.1.x] test_offset_for_leader_epoch: make wait for leader more robust
  src/v/kafka/server/tests/produce_consume_test.cc
Labels: area/redpanda, kind/backport

#9297 [v22.3.x] kafka: return lowest offset if requested epoch is lower than local log
  src/v/cluster/partition.h
  src/v/kafka/server/replicated_partition.cc
  src/v/kafka/server/tests/produce_consume_test.cc
  tests/rptest/tests/offset_for_leader_epoch_archival_test.py
Labels: area/redpanda

#9298 [v22.2.x] kafka: return lowest offset if requested epoch is lower than local log
  src/v/cluster/partition.h
  src/v/kafka/server/replicated_partition.cc
  src/v/kafka/server/tests/produce_consume_test.cc
  src/v/raft/consensus.h
  tests/rptest/tests/offset_for_leader_epoch_archival_test.py
Labels: area/redpanda

#9273 Added test verifying behavior when data folder is lost
  src/v/raft/consensus.cc
  src/v/raft/follower_stats.h
  src/v/raft/types.cc
  src/v/raft/types.h
  tests/rptest/tests/node_folder_deletion_test.py
Labels: area/redpanda

#9048 cluster: strict upgrade version compatibility check on upgrade
  src/v/cluster/service.cc
  src/v/config/node_config.cc
  src/v/config/node_config.h
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/redpanda/application.cc
  tests/rptest/services/kgo_verifier_services.py
  tests/rptest/tests/cluster_features_test.py
  tests/rptest/tests/upgrade_test.py
Labels: kind/enhance, area/redpanda, doc-needed

#9252 cloud_storage: conditional multi object delete
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/cloud_storage/tests/remote_test.cc
  src/v/cloud_storage/tests/s3_imposter.cc
  src/v/cloud_storage/topic_recovery_service.cc
  src/v/cloud_storage_clients/configuration.cc
  src/v/cloud_storage_clients/logger.h
  src/v/cloud_storage_clients/s3_client.cc
  src/v/utils/string_switch.h
Labels: area/redpanda

#9323 cloud_storage: bump timeouts in remote_partiton_test
  src/v/cloud_storage/tests/remote_partition_test.cc
Labels: area/redpanda, kind/tech-debt, area/tests, area/cloud-storage

#9256 cloud_storage: Improve column-store
  src/v/cloud_storage/segment_meta_cstore.cc
  src/v/cloud_storage/tests/segment_meta_cstore_test.cc
Labels: area/redpanda

#9325 cloud_storage: refinements to topic deletion
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cluster/partition.cc
Labels: kind/enhance, area/redpanda, area/cloud-storage

#9322 c/members_mgr: fix buggy conn cache updates on node additions
  src/v/cluster/members_manager.cc
Labels: area/redpanda

#9328 [v22.3.x] cloud_storage: bump timeouts in remote_partiton_test
  src/v/cloud_storage/tests/remote_partition_test.cc
Labels: area/redpanda, area/tests, kind/backport

#9312 Consolidate kafka handlers
  src/v/kafka/CMakeLists.txt
  src/v/kafka/server/handlers/describe_groups.cc
  src/v/kafka/server/handlers/list_transactions.cc
  src/v/kafka/server/server.cc
Labels: area/redpanda

#9333 fixed: redpanda_cloud_storage_cache_op_miss metric
  src/v/cloud_storage/cache_probe.cc
Labels: area/redpanda

#9154 archival: store dirty status of archival_metadata_stm & revise upload logic
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/archival/tests/archival_metadata_stm_test.cc
  src/v/archival/tests/ntp_archiver_reupload_test.cc
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/archival/tests/segment_reupload_test.cc
  src/v/archival/tests/service_fixture.cc
  src/v/archival/tests/service_fixture.h
  src/v/cloud_storage/partition_recovery_manager.cc
  src/v/cloud_storage/probe.cc
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/http/tests/http_imposter.cc
  src/v/http/tests/http_imposter.h
  src/v/redpanda/tests/fixture.h
  tests/rptest/clients/rpk.py
  tests/rptest/scale_tests/tiered_storage_single_partition_test.py
  tests/rptest/services/redpanda.py
  tests/rptest/services/verifiable_consumer.py
  tests/rptest/tests/archival_test.py
  tests/rptest/tests/cluster_config_test.py
  tests/rptest/tests/e2e_shadow_indexing_test.py
  tests/rptest/tests/read_replica_e2e_test.py
  tests/rptest/tests/shadow_indexing_compacted_topic_test.py
  tests/rptest/tests/storage_resources_test.py
  tests/rptest/tests/topic_delete_test.py
  tests/rptest/tests/topic_recovery_test.py
Labels: area/redpanda

#9331 admin: Add blocked_reactor_notify_ms command
  src/v/redpanda/admin/api-doc/config.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
Labels: area/redpanda

#9351 [v23.1.x] admin: Add blocked_reactor_notify_ms command
  src/v/redpanda/admin/api-doc/config.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
Labels: area/redpanda, kind/backport

#9355 [v22.3.x] admin: Add blocked_reactor_notify_ms command
  src/v/redpanda/admin/api-doc/config.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
Labels: area/redpanda

#9361 k8s: fix shfmt linter errors
  src/go/k8s/tests/e2e/additional-configuration/verify-config-dev.sh
  src/go/k8s/tests/e2e/additional-configuration/verify-config-v22.1.sh
  src/go/k8s/tests/e2e/additional-configuration/verify-config-v22.2.sh
  src/go/k8s/tests/e2e/additional-configuration/verify-config-v22.3.sh
  src/go/k8s/tests/e2e/additional-configuration/verify-config-v23.1.sh
  src/go/k8s/tests/e2e/additional-configuration/verify-config.sh
Labels: area/k8s

#7719 rpk: do not modify redpanda.rpc_server_tls field
  src/go/rpk/pkg/cli/cmd/debug/bundle/bundle_linux.go
  src/go/rpk/pkg/config/schema.go
  src/go/rpk/pkg/config/weak.go
  src/go/rpk/pkg/config/weak_test.go
  tests/rptest/services/redpanda.py
  tests/rptest/tests/rpk_start_test.py
Labels: area/rpk

#8931 [v22.2.x] scaling_up_test: clean node before starting
  tests/rptest/tests/scaling_up_test.py
Labels: kind/backport

#9356 [v22.2.x] admin: Add blocked_reactor_notify_ms command
  src/v/redpanda/admin/api-doc/config.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
Labels: area/redpanda

#8990 [v22.2.x] cluster: fix a case where version updates weren't generated
  src/v/cluster/feature_manager.cc
  src/v/cluster/feature_manager.h
Labels: area/redpanda, kind/backport

#9369 [v23.1.x] rpk: do not modify redpanda.rpc_server_tls field
  src/go/rpk/pkg/cli/cmd/debug/bundle/bundle_linux.go
  src/go/rpk/pkg/config/schema.go
  src/go/rpk/pkg/config/weak.go
  src/go/rpk/pkg/config/weak_test.go
  tests/rptest/services/redpanda.py
  tests/rptest/tests/rpk_start_test.py
Labels: area/rpk, kind/backport

#9359 [v22.2.x] Support CG rebalancing while verifiable consumer with many nodes is shutting down
  tests/rptest/services/verifiable_consumer.py
  tests/rptest/tests/end_to_end.py
Labels: kind/backport

#8829 [v22.2.x] Filter out version queries when asking for Redpanda pid
  tests/rptest/services/redpanda.py
Labels: kind/backport

#8913 [v22.2.x] fixed serialization of mixed failed and successful heartbeat replies
  src/v/raft/tests/type_serialization_tests.cc
  src/v/raft/types.cc
Labels: area/redpanda, kind/backport

#9305 cluster: expose cloud storage usage accross the entire cluster
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cluster/CMakeLists.txt
  src/v/cluster/cloud_storage_size_reducer.cc
  src/v/cluster/cloud_storage_size_reducer.h
  src/v/cluster/controller.json
  src/v/cluster/controller_api.cc
  src/v/cluster/controller_api.h
  src/v/cluster/fwd.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/service.cc
  src/v/cluster/service.h
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/topic_table_partition_generator_test.cc
  src/v/cluster/topic_table.h
  src/v/cluster/topic_table_partition_generator.cc
  src/v/cluster/topic_table_partition_generator.h
  src/v/cluster/types.h
  src/v/redpanda/admin/api-doc/debug.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  tests/rptest/services/admin.py
  tests/rptest/tests/cloud_storage_usage_test.py
  tests/rptest/utils/si_utils.py
Labels: area/redpanda, area/cloud-storage

#9352 test_utils: sleep in debug mode in flush_tasks
  src/v/test_utils/async.h
Labels: area/redpanda, kind/tech-debt, area/tests

#9138 [v22.3.x] archival: always use last_offset if available to schedule uploads
  src/v/archival/ntp_archiver_service.cc
  tests/rptest/tests/cloud_retention_test.py
Labels: area/redpanda

#9102 cloud_storage: serde for segment_meta_cstore
  src/v/cloud_storage/segment_meta_cstore.cc
  src/v/cloud_storage/segment_meta_cstore.h
  src/v/cloud_storage/tests/segment_meta_cstore_bench.cc
  src/v/cloud_storage/tests/segment_meta_cstore_test.cc
  src/v/reflection/type_traits.h
  src/v/serde/serde.h
  src/v/utils/delta_for.h
Labels: area/redpanda, area/cloud-storage

#8285 Controller snapshots part 1
  src/v/cluster/CMakeLists.txt
  src/v/cluster/controller.cc
  src/v/cluster/controller_snapshot.h
  src/v/cluster/controller_stm.cc
  src/v/cluster/controller_stm.h
  src/v/cluster/fwd.h
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/cluster/partition_probe.cc
  src/v/cluster/raft0_utils.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/group_manager.cc
  src/v/raft/group_manager.h
  src/v/raft/mux_state_machine.h
  src/v/raft/recovery_stm.cc
  src/v/raft/state_machine.cc
  src/v/raft/state_machine.h
  src/v/raft/tests/mux_state_machine_test.cc
  src/v/raft/types.h
  tests/rptest/services/storage.py
  tests/rptest/tests/compaction_recovery_test.py
  tests/rptest/tests/controller_snapshot_test.py
Labels: area/redpanda

#9365 [v22.3.x] rpk: do not modify redpanda.rpc_server_tls field
  src/go/rpk/pkg/cli/cmd/debug/bundle_linux.go
  src/go/rpk/pkg/config/schema.go
  src/go/rpk/pkg/config/weak.go
  src/go/rpk/pkg/config/weak_test.go
  tests/rptest/services/redpanda.py
  tests/rptest/tests/rpk_start_test.py
Labels: area/rpk, kind/backport

#9121 rpc/raft/cluster: start removing ADL encoding for RPCs
  src/v/cluster/health_monitor_types.cc
  src/v/cluster/health_monitor_types.h
  src/v/cluster/metadata_dissemination_service.cc
  src/v/cluster/metadata_dissemination_types.h
  src/v/cluster/tests/feature_barrier_test.cc
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/compat/check.h
  src/v/compat/cluster_compat.h
  src/v/compat/get_cluster_health_compat.h
  src/v/compat/get_node_health_compat.h
  src/v/compat/metadata_dissemination_compat.h
  src/v/compat/raft_compat.h
  src/v/coproc/script_context_router.h
  src/v/raft/tests/type_serialization_tests.cc
  src/v/raft/types.cc
  src/v/raft/types.h
  src/v/redpanda/application.cc
  src/v/rpc/connection_cache.h
  src/v/rpc/parse_utils.h
  src/v/rpc/test/echo_service.json
  src/v/rpc/test/echo_v2_service.json
  src/v/rpc/test/rpc_gen_cycling_test.cc
  src/v/rpc/test/rpc_gen_types.h
  src/v/rpc/transport.h
  src/v/rpc/types.h
  src/v/test_utils/rpc.h
  tests/rptest/tests/compaction_recovery_test.py
  tests/rptest/tests/partition_movement_test.py
  tests/rptest/tests/redpanda_test.py
  tests/rptest/tests/upgrade_test.py
Labels: area/redpanda, kind/tech-debt, area/replication

#9384 Do not update follower received sequence if not leader
  src/v/raft/consensus.cc
Labels: area/redpanda

#9354 Controller snapshots: topic_table preparations
  src/v/cluster/controller_api.cc
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
  src/v/cluster/members_backend.cc
  src/v/cluster/tests/topic_table_test.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
Labels: area/redpanda

#9391 [v22.3.x] Do not update follower received sequence if not leader
  src/v/raft/consensus.cc
Labels: area/redpanda, kind/backport

#9393 cluster: increment redpanda_cluster_partitions per partition on topic creation
  src/v/cluster/topic_table.cc
  tests/rptest/tests/cluster_metrics_test.py
Labels: area/redpanda

#6549 cloud_storage: cache improvements (strict space management)
  src/v/bytes/iobuf.cc
  src/v/cloud_storage/access_time_tracker.cc
  src/v/cloud_storage/access_time_tracker.h
  src/v/cloud_storage/cache_probe.cc
  src/v/cloud_storage/cache_probe.h
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/cache_service.h
  src/v/cloud_storage/recursive_directory_walker.cc
  src/v/cloud_storage/recursive_directory_walker.h
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/tests/cache_test.cc
  src/v/cloud_storage/tests/cache_test_fixture.h
  src/v/cloud_storage/tests/cloud_storage_fixture.h
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_types.cc
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/node/local_monitor.cc
  src/v/cluster/node/local_monitor.h
  src/v/cluster/node/types.cc
  src/v/cluster/node/types.h
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/self_test/diskcheck.cc
  src/v/cluster/tests/health_monitor_test.cc
  src/v/cluster/tests/local_monitor_test.cc
  src/v/cluster/tests/partition_balancer_planner_fixture.h
  src/v/cluster/tests/partition_balancer_planner_test.cc
  src/v/cluster/tests/randoms.h
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/cluster/topics_frontend.cc
  src/v/compat/cluster_json.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/node_config.h
  src/v/redpanda/admin_server.cc
  src/v/redpanda/application.cc
  src/v/resource_mgmt/CMakeLists.txt
  src/v/resource_mgmt/storage.cc
  src/v/resource_mgmt/storage.h
  src/v/serde/envelope.h
  src/v/serde/serde.h
  src/v/storage/api.h
  src/v/storage/segment_index.h
  src/v/storage/types.cc
  src/v/storage/types.h
  tests/rptest/tests/test_si_cache_space_leak.py
Labels: kind/enhance, area/redpanda, area/cloud-storage

#9251 Another piece of improvement in constraints solver interface
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/cluster/scheduling/partition_allocator.h
  src/v/cluster/scheduling/types.cc
  src/v/cluster/scheduling/types.h
  src/v/cluster/tests/allocation_bench.cc
  src/v/cluster/tests/partition_allocator_fixture.h
  src/v/cluster/tests/partition_allocator_tests.cc
  src/v/cluster/tests/partition_balancer_planner_fixture.h
  src/v/cluster/tests/topic_table_fixture.h
  src/v/cluster/topics_frontend.cc
Labels: area/redpanda

#9348 [v22.2.x] Added test verifying behavior when data folder is lost + Do not update follower received sequence if not leader
  src/v/raft/consensus.cc
  src/v/raft/follower_stats.h
  src/v/raft/types.cc
  src/v/raft/types.h
Labels: area/redpanda, kind/backport

#9360 c/members_manager: closing connections to removed nodes fixes
  src/v/cluster/members_manager.cc
  src/v/cluster/members_manager.h
Labels: area/redpanda

#9378 cloud_storage/tests: segregate remote_partition fuzzer tests
  src/v/cloud_storage/tests/CMakeLists.txt
  src/v/cloud_storage/tests/cloud_storage_fixture.h
  src/v/cloud_storage/tests/remote_partition_fuzz_test.cc
  src/v/cloud_storage/tests/remote_partition_test.cc
  src/v/cloud_storage/tests/remote_segment_test.cc
  src/v/cloud_storage/tests/util.h
Labels: kind/tech-debt, area/cloud-storage

#5609 operator: move centralized-configuration Kuttl tests to main bucket.
  src/go/k8s/tests/e2e/centralized-configuration/00-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/centralized-configuration/01-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration/01-redpanda-cluster-change.yaml
  src/go/k8s/tests/e2e/centralized-configuration/02-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration/02-probe.yaml
  src/go/k8s/tests/e2e/centralized-configuration/03-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration/03-redpanda-cluster-change.yaml
  src/go/k8s/tests/e2e/centralized-configuration/04-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration/05-assert.yaml
  src/go/k8s/tests/e2e/centralized-configuration/05-probe.yaml
Labels: kind/enhance, area/k8s, area/tests, k8s/tests, needs rebase

#9413 c/partition_allocator: remove unused method
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/cluster/scheduling/partition_allocator.h
  src/v/cluster/tests/partition_allocator_tests.cc
Labels: area/redpanda

#9405 cloud_storage: fix "Leaving S3 objects behind" message
  src/v/cluster/partition.cc
Labels: area/redpanda, kind/tech-debt, area/cloud-storage

#9345 Do not set revision when using raft0 base cluster configuration
  src/v/cluster/members_backend.cc
  src/v/cluster/members_backend.h
  src/v/cluster/members_manager.cc
  src/v/cluster/members_manager.h
  src/v/cluster/scheduling/allocation_node.cc
  tests/rptest/services/admin_ops_fuzzer.py
Labels: area/redpanda

#9398 tests: explicitly stop asserted node in FeaturesUpgradeAssertionTest
  tests/rptest/tests/cluster_features_test.py
Labels: kind/bug, area/tests

#9407 [v23.1.x] cloud_storage: fix "Leaving S3 objects behind" message
  src/v/cluster/partition.cc
Labels: area/redpanda, kind/tech-debt, area/cloud-storage

#9406 [v22.3.x] cloud_storage: fix "Leaving S3 objects behind" message
  src/v/cluster/partition.cc
Labels: area/redpanda, kind/tech-debt, area/cloud-storage

#9320 rpk/debug bundle: use FQDN in admin API addresses
  src/go/rpk/pkg/cli/cmd/debug/bundle/bundle_k8s_linux.go
Labels: area/rpk

#9379 [v22.2.x] Trigger leadership notification after current term is confirmed + fix over-optimistic timeout waiting for leadership
  src/v/archival/tests/service_fixture.cc
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/vote_stm.cc
  tests/rptest/tests/partition_balancer_test.py
Labels: area/redpanda

#9404 archival: fix re-upload of nop compacted segments
  src/v/archival/archival_policy.cc
  src/v/archival/segment_reupload.cc
  src/v/archival/segment_reupload.h
  src/v/archival/tests/ntp_archiver_reupload_test.cc
  src/v/archival/tests/segment_reupload_test.cc
  src/v/archival/tests/service_fixture.cc
  src/v/archival/tests/service_fixture.h
  src/v/model/tests/random_batch.cc
Labels: area/redpanda

#9342 [v23.1.x] fixed: redpanda_cloud_storage_cache_op_miss metric
  src/v/cloud_storage/cache_probe.cc
Labels: area/redpanda, kind/backport

#9409 archival: Avoid reuploading if log is truncated
  src/v/archival/ntp_archiver_service.cc
Labels: area/redpanda

#9443 [v23.1.x] archival: Avoid reuploading if log is truncated
  src/v/archival/ntp_archiver_service.cc
Labels: area/redpanda, kind/backport

#9344 Evenly distributing topic partitions when adding node to cluster
  src/v/cluster/members_backend.cc
  tests/rptest/tests/scaling_up_test.py
Labels: area/redpanda

#9436 [v23.1.x] rpk/debug bundle: use FQDN in admin API addresses
  src/go/rpk/pkg/cli/cmd/debug/bundle/bundle_k8s_linux.go
Labels: area/rpk, kind/backport

#9431 tests: add wait_until for cluster start
  tests/rptest/tests/rpk_start_test.py
Labels: ci-failure

#9445 [v23.1.x] tests: add wait_until for cluster start
  tests/rptest/tests/rpk_start_test.py
Labels: kind/backport

#9276 [V22.3.x] Backport of #7949, #8547
  src/v/cluster/members_manager.cc
  src/v/raft/replicate_entries_stm.cc
  tests/rptest/services/redpanda.py
  tests/rptest/tests/nodes_decommissioning_test.py
  tests/rptest/utils/node_operations.py
Labels: area/redpanda

#9439 [v22.3.x] archival: fix re-upload of nop compacted segments
  src/v/archival/archival_policy.cc
  src/v/archival/segment_reupload.cc
  src/v/archival/segment_reupload.h
  src/v/archival/tests/ntp_archiver_reupload_test.cc
  src/v/archival/tests/segment_reupload_test.cc
  src/v/archival/tests/service_fixture.cc
  src/v/archival/tests/service_fixture.h
  src/v/model/tests/random_batch.cc
Labels: area/redpanda

#9438 [v23.1.x] archival: fix re-upload of nop compacted segments
  src/v/archival/archival_policy.cc
  src/v/archival/segment_reupload.cc
  src/v/archival/segment_reupload.h
  src/v/archival/tests/ntp_archiver_reupload_test.cc
  src/v/archival/tests/segment_reupload_test.cc
  src/v/archival/tests/service_fixture.cc
  src/v/archival/tests/service_fixture.h
  src/v/model/tests/random_batch.cc
Labels: area/redpanda

#9367 [v22.2.x] rpk: do not modify redpanda.rpc_server_tls field (manual backport)
  src/go/rpk/pkg/cli/cmd/debug/bundle_linux.go
  src/go/rpk/pkg/config/schema.go
  src/go/rpk/pkg/config/weak.go
  src/go/rpk/pkg/config/weak_test.go
Labels: area/rpk, kind/backport

#9448 rpk: redact SCRAM credentials in debug bundle
  src/go/rpk/pkg/cli/cmd/debug/bundle/bundle_linux.go
Labels: area/rpk

#9418 [v23.1.x] cluster: increment redpanda_cluster_partitions per partition on topic creation
  src/v/cluster/topic_table.cc
  tests/rptest/tests/cluster_metrics_test.py
Labels: area/redpanda

#9105 admin: add the http proxy to the restart endpoint
  src/v/kafka/client/consumer.cc
  src/v/pandaproxy/rest/api.cc
  src/v/pandaproxy/rest/api.h
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  src/v/redpanda/application.cc
  tests/rptest/services/admin.py
  tests/rptest/tests/pandaproxy_test.py
  tests/rptest/tests/restart_services_test.py
Labels: area/redpanda

#9447 rpk: add clearer message to cluster cfg reset
  src/go/rpk/pkg/cli/cmd/cluster/config/reset.go
Labels: area/rpk

#9451 [v23.1.x] rpk: redact SCRAM credentials in debug bundle
  src/go/rpk/pkg/cli/cmd/debug/bundle/bundle_linux.go
Labels: area/rpk, kind/backport

#9450 [v22.3.x] rpk: redact SCRAM credentials in debug bundle
  src/go/rpk/pkg/cli/cmd/debug/bundle_linux.go
Labels: area/rpk, kind/backport

#9449 [v22.2.x] rpk: redact SCRAM credentials in debug bundle
  src/go/rpk/pkg/cli/cmd/debug/bundle_linux.go
Labels: area/rpk, kind/backport

#9477 [v23.1.x] rpk: add clearer message to cluster cfg reset
  src/go/rpk/pkg/cli/cmd/cluster/config/reset.go
Labels: area/rpk, kind/backport

#9446 cluster: remove partition_moving_test.cc
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/partition_moving_test.cc
Labels: area/controller, area/redpanda, kind/tech-debt

#9475 [v22.2.x] Backport #9105 bugfix
  src/v/kafka/client/consumer.cc
Labels: area/pandaproxy

#9474 [v23.1.x] Backport #9105 bugfix
  src/v/kafka/client/consumer.cc
Labels: area/pandaproxy

#9473 [v22.3.x] Backport #9105 bugfix
  src/v/kafka/client/consumer.cc
Labels: area/pandaproxy

#9462 [v22.3.x] cluster: increment redpanda_cluster_partitions per partition on topic creation
  src/v/cluster/topic_table.cc
  tests/rptest/tests/cluster_metrics_test.py
Labels: area/redpanda

#9479 [v22.2.x] rpk: add clearer message to cluster cfg reset
  src/go/rpk/pkg/cli/cmd/cluster/config/reset.go
Labels: area/rpk, kind/backport

#9139 cloud_storage: track cloud log size in partition manifest
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/tests/partition_manifest_test.cc
  src/v/cluster/partition.h
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
Labels: area/redpanda

#9456 [v22.2x] Backport #6175 #6285 #8963 #6246 #6501 #6091 #6419 #6157 #6124
  src/v/cluster/persisted_stm.cc
  src/v/raft/offset_monitor.cc
  src/v/raft/offset_monitor.h
  src/v/raft/state_machine.cc
  src/v/raft/tests/offset_monitor_test.cc
  src/v/redpanda/admin_server.cc
  tests/rptest/clients/rpk.py
  tests/rptest/scale_tests/ht_partition_movement_test.py
  tests/rptest/scale_tests/many_partitions_test.py
  tests/rptest/scale_tests/partition_balancer_scale_test.py
  tests/rptest/services/admin.py
  tests/rptest/services/kafka_cli_consumer.py
  tests/rptest/services/kgo_repeater_service.py
  tests/rptest/services/kgo_verifier_services.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/cluster_features_test.py
  tests/rptest/tests/cluster_metrics_test.py
  tests/rptest/tests/consumer_group_test.py
  tests/rptest/tests/partition_balancer_test.py
  tests/rptest/utils/si_utils.py
Labels: area/redpanda

#9414 c/topic_table: Fix topic de-allocations with canceled updates
  src/v/cluster/cluster_utils.h
  src/v/cluster/topic_updates_dispatcher.cc
  src/v/cluster/topic_updates_dispatcher.h
  tests/rptest/tests/nodes_decommissioning_test.py
  tests/rptest/utils/node_operations.py
Labels: area/redpanda

#9302 [v22.3.x] Fix for CI issue in ManyPartitionsTest where DescribeGroups request fails
  tests/rptest/clients/rpk.py
Labels: kind/backport

#9488 set default_topic_replications if not set
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
Labels: area/k8s, k8s/tests

#9497 [v22.3.x] tests: reinstate exact consumer count checks in KgoRepeaterService
  tests/rptest/clients/rpk.py
  tests/rptest/scale_tests/many_partitions_test.py
  tests/rptest/services/kgo_repeater_service.py
Labels: kind/backport

#9499 [v23.1.x] set default_topic_replications if not set
  src/go/k8s/apis/redpanda/v1alpha1/cluster_webhook.go
Labels: area/k8s, kind/backport, k8s/tests

#9416 c/members_manager: track in-progress node ops
  src/v/cluster/members_backend.cc
  src/v/cluster/members_backend.h
  src/v/cluster/members_manager.cc
  src/v/cluster/members_manager.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
Labels: area/redpanda

#9487 Apply both size and time retention
  src/v/storage/disk_log_impl.cc
  src/v/storage/log_manager.cc
  src/v/storage/tests/log_retention_tests.cc
Labels: area/redpanda

#9471 [v22.3.x] tests: made decommission waiter not vulnerable to errors
  tests/rptest/utils/node_operations.py
Labels: kind/backport

#9503 r/consensus: do not report learners as under replicated followers
  src/v/raft/consensus.cc
Labels: area/redpanda
