Repository redpanda-data/redpanda, pull requests merged in 2023-08, with the labels that each got.

#12522 delete records: handle raft shutting down errors
  src/v/kafka/server/replicated_partition.cc
Labels: area/redpanda

#12526 [v23.2.x] delete records: handle raft shutting down errors
  src/v/kafka/server/replicated_partition.cc
Labels: area/redpanda, kind/backport

#12487 rpk: fix flag name in help text of `rpk generate app`
  src/go/rpk/pkg/adminapi/admin.go
  src/go/rpk/pkg/adminapi/api_config.go
  src/go/rpk/pkg/cli/generate/app.go
  src/go/rpk/pkg/cli/group/offset_delete.go
  src/go/rpk/pkg/cloudapi/api_installpack.go
  src/go/rpk/pkg/httpapi/httpapi.go
  src/go/rpk/pkg/net/hostport.go
  src/go/rpk/pkg/system/grub_test.go
  src/go/rpk/pkg/tuners/aggregated_tunable_test.go
  src/go/rpk/pkg/tuners/disk_tuner.go
  src/go/rpk/pkg/tuners/executors/commands/write_sized_file.go
  src/go/rpk/pkg/tuners/float_checker_test.go
  src/go/rpk/pkg/tuners/network/nic_test.go
Labels: area/rpk

#12490 rpk: add new linker flags for the enhanced rpk version
  src/go/rpk/.goreleaser.yaml
  src/go/rpk/pkg/cli/version/version.go
Labels: area/rpk

#12454 admin/observability/debugging: add stm information to partition debug endpoint
  src/v/cluster/cluster_utils.cc
  src/v/cluster/cluster_utils.h
  src/v/cluster/persisted_stm.h
  src/v/cluster/types.h
  src/v/redpanda/admin/api-doc/debug.json
  src/v/redpanda/admin_server.cc
  src/v/storage/types.h
  tests/rptest/tests/partition_state_api_test.py
Labels: area/redpanda

#12524 Report Redpanda Node ID as label
  src/go/k8s/controllers/redpanda/cluster_controller.go
Labels: area/k8s, k8s/tests

#12534 [v23.2.x] Report Redpanda Node ID as label
  src/go/k8s/controllers/redpanda/cluster_controller.go
Labels: area/k8s, kind/backport

#12519 storage: don't ostream all segments
  src/v/storage/segment_set.cc
Labels: area/redpanda

#12529 [v23.2.x] c/create_topics: improvements to create_topic workflow
  src/v/cluster/controller_stm.cc
  src/v/cluster/topics_frontend.cc
  src/v/kafka/server/tests/fetch_test.cc
  src/v/kafka/server/tests/list_offsets_test.cc
  src/v/redpanda/tests/fixture.h
  tests/rptest/tests/topic_creation_test.py
Labels: area/redpanda, kind/backport

#12532 Redpanda-Operator: migration-cli goreleaser and workflow
  .github/workflows/redpanda-migration-build.yml
  src/go/cluster-to-redpanda-migration/.goreleaser.yaml
Labels: area/build, k8s/tests

#12502 security/credential_store: Make iteration more explicit
  src/v/cluster/security_manager.cc
  src/v/redpanda/admin_server.cc
  src/v/security/credential_store.h
Labels: area/redpanda, area/security

#12523 [v23.1.x] transactions: fix ListTransactions to return open transactions
  src/v/cluster/tx_gateway_frontend.cc
  tests/rptest/tests/transaction_kafka_api_test.py
Labels: area/redpanda, kind/backport

#12499 rpk group: total describe lag
  src/go/rpk/pkg/cli/group/describe.go
  tests/rptest/clients/rpk.py
Labels: area/rpk

#12544 [storage]: remove storage::log pimpl wrapper
  src/v/archival/archival_policy.cc
  src/v/archival/archival_policy.h
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/archival/tests/ntp_archiver_reupload_test.cc
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/archival/tests/service_fixture.cc
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cloud_storage/tests/delete_records_e2e_test.cc
  src/v/cloud_storage/tests/produce_utils.h
  src/v/cluster/cluster_utils.cc
  src/v/cluster/controller.cc
  src/v/cluster/log_eviction_stm.cc
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_manager.cc
  src/v/cluster/persisted_stm.cc
  src/v/cluster/tests/eviction_stm_test.cc
  src/v/cluster/tests/rm_stm_tests.cc
  src/v/cluster/tests/tx_compaction_tests.cc
  src/v/kafka/server/tests/produce_consume_test.cc
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/consensus_utils.cc
  src/v/raft/consensus_utils.h
  src/v/raft/group_manager.cc
  src/v/raft/group_manager.h
  src/v/raft/offset_translator.cc
  src/v/raft/offset_translator.h
  src/v/raft/prevote_stm.cc
  src/v/raft/recovery_stm.cc
  src/v/raft/replicate_entries_stm.cc
  src/v/raft/tests/append_entries_test.cc
  src/v/raft/tests/bootstrap_configuration_test.cc
  src/v/raft/tests/foreign_entry_test.cc
  src/v/raft/tests/mux_state_machine_fixture.h
  src/v/raft/tests/offset_translator_tests.cc
  src/v/raft/tests/raft_group_fixture.h
  src/v/raft/tests/state_removal_test.cc
  src/v/raft/vote_stm.cc
  src/v/resource_mgmt/storage.cc
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/log.h
  src/v/storage/log_housekeeping_meta.h
  src/v/storage/log_manager.cc
  src/v/storage/log_manager.h
  src/v/storage/opfuzz/opfuzz.cc
  src/v/storage/opfuzz/opfuzz.h
  src/v/storage/opfuzz/opfuzz_test.cc
  src/v/storage/tests/disk_log_builder_fixture.h
  src/v/storage/tests/log_retention_tests.cc
  src/v/storage/tests/log_truncate_test.cc
  src/v/storage/tests/produce_consume_test.cc
  src/v/storage/tests/storage_e2e_test.cc
  src/v/storage/tests/storage_test_fixture.h
  src/v/storage/tests/timequery_test.cc
  src/v/storage/tests/utils/disk_log_builder.cc
  src/v/storage/tests/utils/disk_log_builder.h
  src/v/test_utils/logs.h
Labels: area/redpanda

#12460 Replace `hdr_hist` with `log_hist`
  src/v/cloud_storage/async_manifest_view.h
  src/v/cloud_storage/partition_probe.cc
  src/v/cloud_storage/partition_probe.h
  src/v/cloud_storage/probe.cc
  src/v/cloud_storage/probe.h
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage_clients/client_pool.cc
  src/v/cloud_storage_clients/client_pool.h
  src/v/cloud_storage_clients/client_probe.cc
  src/v/cloud_storage_clients/client_probe.h
  src/v/cloud_storage_clients/test_client/abs_test_client_main.cc
  src/v/cloud_storage_clients/test_client/s3_test_client_main.cc
  src/v/http/demo/client.cc
  src/v/kafka/latency_probe.h
  src/v/kafka/server/connection_context.h
  src/v/kafka/server/handlers/fetch.h
  src/v/kafka/server/handlers/handler_probe.cc
  src/v/kafka/server/handlers/produce.cc
  src/v/net/server.cc
  src/v/net/server.h
  src/v/pandaproxy/probe.cc
  src/v/pandaproxy/probe.h
  src/v/rpc/rpc_compiler.py
  src/v/rpc/rpc_server.cc
  src/v/rpc/types.h
  src/v/utils/CMakeLists.txt
  src/v/utils/log_hist.cc
  src/v/utils/log_hist.h
  src/v/utils/tests/CMakeLists.txt
  src/v/utils/tests/seastar_histogram_bench.cc
  src/v/utils/tests/seastar_histogram_test.cc
Labels: area/redpanda

#12167 Planned decommission
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/rbac/bases/operator/role.yaml
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/controllers/redpanda/cluster_controller_configuration.go
  src/go/k8s/controllers/redpanda/cluster_controller_scale_test.go
  src/go/k8s/controllers/redpanda/suite_test.go
  src/go/k8s/main.go
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/pkg/resources/statefulset_scale.go
  src/go/k8s/pkg/resources/statefulset_test.go
  src/go/k8s/pkg/resources/statefulset_update.go
  src/go/k8s/pkg/resources/statefulset_update_test.go
  src/go/k8s/pkg/utils/kubernetes.go
  src/go/k8s/pkg/utils/kubernetes_test.go
  src/go/k8s/pkg/utils/podutils.go
  src/go/k8s/tests/e2e/managed-decommission/00-assert.yaml
  src/go/k8s/tests/e2e/managed-decommission/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/managed-decommission/01-assert.yaml
  src/go/k8s/tests/e2e/managed-decommission/01-schedule-decommission.yaml
  src/go/k8s/tests/e2e/managed-decommission/02-assert.yaml
  src/go/k8s/tests/e2e/managed-decommission/02-probe.yaml
  src/go/k8s/tests/e2e/managed-decommission/03-clean.yaml
  src/go/k8s/tests/e2e/managed-decommission/README.txt
Labels: area/k8s, k8s/tests

#12567 [v23.2.x] Planned decommission
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/rbac/bases/operator/role.yaml
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/controllers/redpanda/cluster_controller_configuration.go
  src/go/k8s/controllers/redpanda/cluster_controller_scale_test.go
  src/go/k8s/controllers/redpanda/suite_test.go
  src/go/k8s/main.go
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/pkg/resources/statefulset_scale.go
  src/go/k8s/pkg/resources/statefulset_test.go
  src/go/k8s/pkg/resources/statefulset_update.go
  src/go/k8s/pkg/resources/statefulset_update_test.go
  src/go/k8s/pkg/utils/kubernetes.go
  src/go/k8s/pkg/utils/kubernetes_test.go
  src/go/k8s/pkg/utils/podutils.go
  src/go/k8s/tests/e2e/managed-decommission/00-assert.yaml
  src/go/k8s/tests/e2e/managed-decommission/00-redpanda-cluster.yaml
  src/go/k8s/tests/e2e/managed-decommission/01-assert.yaml
  src/go/k8s/tests/e2e/managed-decommission/01-schedule-decommission.yaml
  src/go/k8s/tests/e2e/managed-decommission/02-assert.yaml
  src/go/k8s/tests/e2e/managed-decommission/02-probe.yaml
  src/go/k8s/tests/e2e/managed-decommission/03-clean.yaml
  src/go/k8s/tests/e2e/managed-decommission/README.txt
Labels: area/k8s, kind/backport

#12562 [v23.2.x] rpk group: total describe lag
  src/go/rpk/pkg/cli/group/describe.go
  tests/rptest/clients/rpk.py
Labels: area/rpk, kind/backport

#12116 txns: fix list txns failure when it's used before find_coordinator
  src/v/cluster/tx_registry_frontend.cc
  src/v/cluster/tx_registry_frontend.h
  src/v/kafka/server/server.cc
  tests/rptest/tests/transaction_kafka_api_test.py
Labels: area/redpanda

#12546 test utilities for artificially injecting CPU stress
  src/v/finjector/CMakeLists.txt
  src/v/finjector/stress_fiber.cc
  src/v/finjector/stress_fiber.h
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/admin/api-doc/debug.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  tests/rptest/services/admin.py
  tests/rptest/tests/cpu_stress_injection_test.py
Labels: area/redpanda

#12495 tests: bump timeout for waiting on truncation
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cloud_storage/tests/delete_records_e2e_test.cc
Labels: area/redpanda

#12067 Align usage metrics to the configured interval
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
  src/v/cluster/health_monitor_frontend.cc
  src/v/cluster/health_monitor_frontend.h
  src/v/kafka/CMakeLists.txt
  src/v/kafka/server/tests/CMakeLists.txt
  src/v/kafka/server/tests/usage_manager_test.cc
  src/v/kafka/server/usage_aggregator.cc
  src/v/kafka/server/usage_aggregator.h
  src/v/kafka/server/usage_manager.cc
  src/v/kafka/server/usage_manager.h
  src/v/redpanda/application.cc
  tests/rptest/tests/usage_test.py
Labels: area/redpanda

#12559 kafka: Revert "kafka: Disable use of separate fetch scheduling group"
  src/v/config/configuration.cc
Labels: area/redpanda

#12298 [v23.1.x] s/segment_set: recover base_index of last_clean_segment
  src/v/storage/segment_set.cc
  tests/rptest/tests/index_recovery_test.py
Labels: area/redpanda, kind/backport

#12591 [v23.1.x] kafka: Revert "kafka: Disable use of separate fetch scheduling group"
  src/v/config/configuration.cc
Labels: area/redpanda, kind/backport

#12592 [v23.2.x] kafka: Revert "kafka: Disable use of separate fetch scheduling group"
  src/v/config/configuration.cc
Labels: area/redpanda, kind/backport

#12582 [v23.2.x] tests: bump timeout for waiting on truncation
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cloud_storage/tests/delete_records_e2e_test.cc
Labels: area/redpanda, kind/backport

#12589 [v23.2.x] Align usage metrics to the configured interval
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
  src/v/cluster/health_monitor_frontend.cc
  src/v/cluster/health_monitor_frontend.h
  src/v/kafka/CMakeLists.txt
  src/v/kafka/server/tests/CMakeLists.txt
  src/v/kafka/server/tests/usage_manager_test.cc
  src/v/kafka/server/usage_aggregator.cc
  src/v/kafka/server/usage_aggregator.h
  src/v/kafka/server/usage_manager.cc
  src/v/kafka/server/usage_manager.h
  src/v/redpanda/application.cc
  tests/rptest/tests/usage_test.py
Labels: area/redpanda, kind/backport

#12539 [v22.3.x] storage: don't ostream all segments
  src/v/storage/segment_set.cc
Labels: area/redpanda, kind/backport

#12538 [v23.1.x] storage: don't ostream all segments
  src/v/storage/segment_set.cc
Labels: area/redpanda, kind/backport

#12586 test_utils: macro for waiting on condition
  src/v/cloud_storage/tests/delete_records_e2e_test.cc
  src/v/redpanda/tests/fixture.h
  src/v/test_utils/async.h
Labels: area/redpanda

#12593 [v23.1.x] Align usage metrics to the configured interval
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
  src/v/cluster/health_monitor_frontend.cc
  src/v/cluster/health_monitor_frontend.h
  src/v/kafka/CMakeLists.txt
  src/v/kafka/server/tests/CMakeLists.txt
  src/v/kafka/server/tests/usage_manager_test.cc
  src/v/kafka/server/usage_aggregator.cc
  src/v/kafka/server/usage_aggregator.h
  src/v/kafka/server/usage_manager.cc
  src/v/kafka/server/usage_manager.h
  src/v/redpanda/application.cc
  src/v/storage/tests/kvstore_fixture.h
  src/v/storage/tests/kvstore_test.cc
  tests/rptest/tests/usage_test.py
Labels: area/redpanda

#12597 [backport] [v23.1.x] c/create_topics: improvements to create_topic workflow #12506
  src/v/cluster/topics_frontend.cc
  src/v/kafka/server/tests/fetch_test.cc
  src/v/kafka/server/tests/list_offsets_test.cc
  src/v/redpanda/tests/fixture.h
  tests/rptest/tests/topic_creation_test.py
Labels: area/redpanda

#12541 [v23.2.x] Redpanda-Operator: migration-cli goreleaser and workflow
  .github/workflows/redpanda-migration-build.yml
  src/go/cluster-to-redpanda-migration/.goreleaser.yaml
Labels: area/build, kind/backport

#11877 k8s: Remove duplicated property HelmRepositoryName
  src/go/k8s/apis/redpanda/v1alpha1/redpanda_types.go
  src/go/k8s/config/crd/bases/cluster.redpanda.com_redpandas.yaml
  src/go/k8s/controllers/redpanda/redpanda_controller_test.go
Labels: area/k8s, k8s/tests

#12601 K8S: Fix decommission E2E tests
  src/go/k8s/tests/e2e/decommission/07-clean.yaml
  src/go/k8s/tests/e2e/managed-decommission/02-assert.yaml
  src/go/k8s/tests/e2e/managed-decommission/02-probe.yaml
  src/go/k8s/tests/e2e/managed-decommission/03-clean.yaml
Labels: area/k8s, k8s/tests

#12606 [v23.2.x] K8S: Fix decommission E2E tests
  src/go/k8s/tests/e2e/decommission/07-clean.yaml
  src/go/k8s/tests/e2e/managed-decommission/02-assert.yaml
  src/go/k8s/tests/e2e/managed-decommission/02-probe.yaml
  src/go/k8s/tests/e2e/managed-decommission/03-clean.yaml
Labels: area/k8s, kind/backport

#12557 k8s: Remove redundant check
  src/go/k8s/pkg/resources/statefulset_scale.go
Labels: area/k8s, k8s/tests

#12609 Redpanda-Operator: code clean up eventrecorder
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/main.go
Labels: area/k8s, k8s/tests

#12613 Aggregate cloud_storage histograms by partition
  src/v/cloud_storage/partition_probe.cc
Labels: area/redpanda

#12621 cloud_storage: retry cursor sync when racing with spillover
  src/v/cloud_storage/remote_partition.cc
Labels: area/redpanda

#12622 [v23.2.x] cloud_storage: retry cursor sync when racing with spillover
  src/v/cloud_storage/remote_partition.cc
Labels: area/redpanda

#12620 [v23.2.x] Aggregate cloud_storage histograms by partition
  src/v/cloud_storage/partition_probe.cc
Labels: area/redpanda, kind/backport

#12617 [v23.2.x] Redpanda-Operator: code clean up eventrecorder
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/main.go
Labels: area/k8s, kind/backport

#12543 [v23.2.x] security/credential_store: Make iteration more explicit
  src/v/cluster/security_manager.cc
  src/v/redpanda/admin_server.cc
  src/v/security/credential_store.h
Labels: area/redpanda, kind/backport

#12570 cloud_storage: Add compacted segment read-path tests
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/tests/common_def.h
  src/v/cloud_storage/tests/remote_partition_test.cc
  src/v/cloud_storage/tests/remote_segment_index_test.cc
Labels: area/redpanda

#12449 cloud_storage: remove remote object tagging
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/archival/scrubber.cc
  src/v/cloud_roles/signature.h
  src/v/cloud_roles/tests/signature_test.cc
  src/v/cloud_storage/recovery_utils.cc
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/tests/remote_segment_test.cc
  src/v/cloud_storage/tests/remote_test.cc
  src/v/cloud_storage_clients/abs_client.cc
  src/v/cloud_storage_clients/abs_client.h
  src/v/cloud_storage_clients/client.h
  src/v/cloud_storage_clients/s3_client.cc
  src/v/cloud_storage_clients/s3_client.h
  src/v/cloud_storage_clients/test_client/abs_test_client_main.cc
  src/v/cloud_storage_clients/test_client/s3_test_client_main.cc
  src/v/cloud_storage_clients/tests/s3_client_test.cc
  tests/docker/docker-compose.yml
Labels: area/redpanda, area/cloud-storage

#12347 Add area/wasm label to transform SDK
  .github/labeler.yml
Labels: area/build

#12551 Fix segmentation fault in `tx_gateway_frontend::expire_old_txs`
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/tx_gateway_frontend.h
Labels: area/redpanda

#12584 [v23.2.x] txns: fix list txns failure when it's used before find_coordinator
  src/v/cluster/tx_registry_frontend.cc
  src/v/cluster/tx_registry_frontend.h
  src/v/kafka/server/server.cc
  tests/rptest/tests/transaction_kafka_api_test.py
Labels: area/redpanda, kind/backport

#12565 storage: fix race between segment.ms and appends
  src/v/storage/disk_log_appender.cc
  src/v/storage/disk_log_appender.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/tests/CMakeLists.txt
  src/v/storage/tests/storage_e2e_fixture_test.cc
Labels: area/redpanda

#12596 [storage]: storage::log interface self-honesty
  src/v/archival/archival_policy.cc
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/segment_reupload.cc
  src/v/archival/segment_reupload.h
  src/v/archival/tests/ntp_archiver_reupload_test.cc
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/archival/tests/service_fixture.cc
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cloud_storage/tests/delete_records_e2e_test.cc
  src/v/cloud_storage/tests/produce_utils.h
  src/v/cluster/tests/eviction_stm_test.cc
  src/v/cluster/tests/rm_stm_tests.cc
  src/v/cluster/tests/tx_compaction_tests.cc
  src/v/cluster/tests/tx_compaction_utils.h
  src/v/kafka/server/tests/produce_consume_test.cc
  src/v/resource_mgmt/storage.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/log.h
  src/v/storage/log_manager.cc
  src/v/storage/tests/log_truncate_test.cc
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

#12021 kafka: Abort fetch and list_offsets when client disconnects
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_segment.cc
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/connection_context.h
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/fetch.h
  src/v/kafka/server/handlers/list_offsets.cc
  src/v/kafka/server/request_context.h
  src/v/kafka/server/server.cc
  src/v/net/connection.h
  src/v/ssx/abort_source.h
  src/v/ssx/tests/CMakeLists.txt
  src/v/ssx/tests/abort_source_test.cc
  src/v/storage/types.cc
Labels: area/redpanda

#12630 Do not compare fsid when checking if reports are equal
  src/v/cluster/tests/health_monitor_test.cc
  src/v/storage/types.cc
Labels: area/redpanda

#12641 [v23.1.x] tests/cg-recovery: retry list groups
  tests/rptest/tests/consumer_group_recovery_tool_test.py
Labels: kind/backport

#12633 Changed api of `shard_table` not to be forced to do two lookups
  src/v/cluster/controller_api.cc
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/cluster/shard_table.h
  src/v/raft/service.h
  src/v/raft/tests/raft_group_fixture.h
  src/v/redpanda/admin_server.cc
Labels: area/redpanda

#12627 Use `_flushed_offset` instead of `log::committed_offset`
  src/v/raft/consensus.cc
Labels: area/redpanda

#12652 [v23.2.x] Do not compare fsid when checking if reports are equal
  src/v/cluster/tests/health_monitor_test.cc
  src/v/storage/types.cc
Labels: area/redpanda, kind/backport

#12635 [v23.2.x] Fix segmentation fault in `tx_gateway_frontend::expire_old_txs`
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/tx_gateway_frontend.h
Labels: area/redpanda, kind/backport

#12552 Fixed incorrectly reported maintenance mode status
  src/v/redpanda/admin_server.cc
  tests/rptest/clients/rpk.py
  tests/rptest/tests/maintenance_test.py
Labels: area/redpanda

#12625 [test]: add support for google test framework
  cmake/oss.cmake.in
  cmake/testing.cmake
  src/v/test_utils/CMakeLists.txt
  src/v/test_utils/gtest_main.cc
  src/v/test_utils/test.h
  src/v/test_utils/tests/CMakeLists.txt
  src/v/test_utils/tests/gtest_test.cc
  tools/cmake_test.py
Labels: area/build, area/redpanda

#12642 [v22.3.x] tests/cg-recovery: retry list groups
  tests/rptest/tests/consumer_group_recovery_tool_test.py
Labels: kind/backport

#12672 cloud_storage: Log exception when saving tracker
  src/v/cloud_storage/cache_service.cc
Labels: area/redpanda

#12330 [v22.3.x] Backports
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
  src/v/cluster/cluster_utils.cc
  src/v/cluster/cluster_utils.h
  src/v/cluster/config_manager.cc
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
  src/v/cluster/id_allocator_stm.cc
  src/v/cluster/id_allocator_stm.h
  src/v/cluster/members_manager.cc
  src/v/cluster/members_table.h
  src/v/cluster/partition_balancer_state.cc
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/cluster_utils_tests.cc
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/state_machine.cc
  src/v/raft/state_machine.h
  src/v/random/CMakeLists.txt
  src/v/redpanda/admin/api-doc/partition.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  tests/rptest/services/admin.py
  tests/rptest/services/admin_ops_fuzzer.py
  tests/rptest/tests/controller_availability_test.py
  tests/rptest/tests/nodes_decommissioning_test.py
  tests/rptest/utils/node_operations.py
Labels: area/redpanda

#12578 [v23.1.x] txns: fix list txns failure when it's used before find_coordinator
  src/v/cluster/tx_gateway_frontend.cc
  tests/rptest/tests/transaction_kafka_api_test.py
Labels: area/redpanda, kind/backport

#12671 cluster: include a hash in the metrics reporter
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/metrics_reporter.h
  tests/rptest/tests/metrics_reporter_test.py
Labels: area/redpanda

#12656 schema_registry: Add error compatibility_not_found
  src/v/pandaproxy/error.cc
  src/v/pandaproxy/error.h
  src/v/pandaproxy/schema_registry/error.cc
  src/v/pandaproxy/schema_registry/error.h
  src/v/pandaproxy/schema_registry/errors.h
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/store.cc
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, area/schema-registry

#12665 cloud_storage: Fix race in async_manifest_view_cursor
  src/v/cloud_storage/async_manifest_view.cc
  tests/rptest/tests/adjacent_segment_merging_test.py
Labels: area/redpanda

#12322 Initial Wasm Golang Transform SDK
  src/go/transform-sdk/LICENSE
  src/go/transform-sdk/abi.go
  src/go/transform-sdk/doc.go
  src/go/transform-sdk/example_mirror_test.go
  src/go/transform-sdk/example_regexp_filter_test.go
  src/go/transform-sdk/example_transcoding_test.go
  src/go/transform-sdk/go.mod
  src/go/transform-sdk/go.sum
  src/go/transform-sdk/guest_callbacks.go
  src/go/transform-sdk/internal/rwbuf/rwbuf.go
  src/go/transform-sdk/internal/rwbuf/rwbuf_test.go
  src/go/transform-sdk/internal/rwbuf/unsafe.go
  src/go/transform-sdk/sdk.go
  src/go/transform-sdk/serialize.go
  src/go/transform-sdk/serialize_test.go
  src/go/transform-sdk/stub_abi.go
Labels: area/wasm

#12692 [v22.3.x] c/create_topics: improvements to create_topic workflow #12531
  src/v/cluster/topics_frontend.cc
  src/v/kafka/server/tests/fetch_test.cc
  src/v/kafka/server/tests/list_offsets_test.cc
  src/v/redpanda/tests/fixture.h
  tests/rptest/tests/topic_creation_test.py
Labels: area/redpanda

#12694 [v23.1.x] schema_registry: Add error compatibility_not_found
  src/v/pandaproxy/error.cc
  src/v/pandaproxy/error.h
  src/v/pandaproxy/schema_registry/error.cc
  src/v/pandaproxy/schema_registry/error.h
  src/v/pandaproxy/schema_registry/errors.h
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/store.cc
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, kind/backport

#12697 [v23.2.x] schema_registry: Add error compatibility_not_found
  src/v/pandaproxy/error.cc
  src/v/pandaproxy/error.h
  src/v/pandaproxy/schema_registry/error.cc
  src/v/pandaproxy/schema_registry/error.h
  src/v/pandaproxy/schema_registry/errors.h
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/store.cc
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, kind/backport

#12698 [v22.3.x] schema_registry: Add error compatibility_not_found
  src/v/pandaproxy/error.cc
  src/v/pandaproxy/error.h
  src/v/pandaproxy/schema_registry/error.cc
  src/v/pandaproxy/schema_registry/error.h
  src/v/pandaproxy/schema_registry/errors.h
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/store.cc
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, kind/backport

#12438 [v23.1.x] archival: remove timeouts from archival_metadata_stm
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
  src/v/cluster/id_allocator_stm.cc
  src/v/cluster/persisted_stm.cc
  src/v/cluster/persisted_stm.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/tests/rm_stm_tests.cc
  src/v/cluster/tm_stm.cc
Labels: area/redpanda

#12690 [v22.3.x] archival: remove timeouts from archival_metadata_stm
  src/v/archival/ntp_archiver_service.cc
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
  src/v/cluster/id_allocator_stm.cc
  src/v/cluster/persisted_stm.cc
  src/v/cluster/persisted_stm.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/tests/rm_stm_tests.cc
  src/v/cluster/tm_stm.cc
  src/v/raft/state_machine.cc
  src/v/raft/state_machine.h
Labels: area/redpanda

#12670 k8s: fix api requirements fix upgrade due to values comparison
  src/go/cluster-to-redpanda-migration/Dockerfile
  src/go/cluster-to-redpanda-migration/Makefile
  src/go/cluster-to-redpanda-migration/cluster-to-redpanda-migration.sh
  src/go/cluster-to-redpanda-migration/pkg/migration/cluster_spec.go
  src/go/cluster-to-redpanda-migration/pkg/migration/redpanda_config.go
  src/go/cluster-to-redpanda-migration/pkg/migration/redpanda_config_helper.go
  src/go/cluster-to-redpanda-migration/tests/data/00-console-rp_output.yaml
  src/go/cluster-to-redpanda-migration/tests/data/01-console-admin-api-rp_output.yaml
  src/go/cluster-to-redpanda-migration/tests/data/02-console-kafka-mtls-rp_output.yaml
  src/go/cluster-to-redpanda-migration/tests/data/complex_cluster_001_output.yaml
  src/go/cluster-to-redpanda-migration/tests/data/simple_resources_listeners_output.yaml
  src/go/k8s/apis/redpanda/v1alpha1/redpanda_clusterspec_types.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/cluster.redpanda.com_redpandas.yaml
  src/go/k8s/controllers/redpanda/redpanda_controller.go
  src/go/k8s/kuttl-v2-test.yaml
  src/go/k8s/tests/e2e-v2/upgrade-values-check/00-assert-create-redpanda.yaml
  src/go/k8s/tests/e2e-v2/upgrade-values-check/00-create-redpanda.yaml
  src/go/k8s/tests/e2e-v2/upgrade-values-check/01-assert-upgrade-redpanda.yaml
  src/go/k8s/tests/e2e-v2/upgrade-values-check/01-upgrade-redpanda.yaml
  src/go/k8s/tests/e2e-v2/upgrade-values-check/02-assert.yaml
  src/go/k8s/tests/e2e-v2/upgrade-values-check/02-delete-redpandas.yaml
Labels: area/k8s, k8s/tests

#12710 [v23.2.x] k8s: fix api requirements fix upgrade due to values comparison
  src/go/cluster-to-redpanda-migration/Dockerfile
  src/go/cluster-to-redpanda-migration/Makefile
  src/go/cluster-to-redpanda-migration/cluster-to-redpanda-migration.sh
  src/go/cluster-to-redpanda-migration/pkg/migration/cluster_spec.go
  src/go/cluster-to-redpanda-migration/pkg/migration/redpanda_config.go
  src/go/cluster-to-redpanda-migration/pkg/migration/redpanda_config_helper.go
  src/go/cluster-to-redpanda-migration/tests/data/00-console-rp_output.yaml
  src/go/cluster-to-redpanda-migration/tests/data/01-console-admin-api-rp_output.yaml
  src/go/cluster-to-redpanda-migration/tests/data/02-console-kafka-mtls-rp_output.yaml
  src/go/cluster-to-redpanda-migration/tests/data/complex_cluster_001_output.yaml
  src/go/cluster-to-redpanda-migration/tests/data/simple_resources_listeners_output.yaml
  src/go/k8s/apis/redpanda/v1alpha1/redpanda_clusterspec_types.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/cluster.redpanda.com_redpandas.yaml
  src/go/k8s/controllers/redpanda/redpanda_controller.go
  src/go/k8s/kuttl-v2-test.yaml
  src/go/k8s/tests/e2e-v2/upgrade-values-check/00-assert-create-redpanda.yaml
  src/go/k8s/tests/e2e-v2/upgrade-values-check/00-create-redpanda.yaml
  src/go/k8s/tests/e2e-v2/upgrade-values-check/01-assert-upgrade-redpanda.yaml
  src/go/k8s/tests/e2e-v2/upgrade-values-check/01-upgrade-redpanda.yaml
  src/go/k8s/tests/e2e-v2/upgrade-values-check/02-assert.yaml
  src/go/k8s/tests/e2e-v2/upgrade-values-check/02-delete-redpandas.yaml
Labels: area/k8s, kind/backport

#12713 Run all of gtest within a seastar context
  src/v/test_utils/gtest_main.cc
  src/v/test_utils/test.h
  src/v/test_utils/tests/gtest_test.cc
Labels: area/redpanda

#12498 archival: promote some guardrail warnings to error
  src/v/cluster/archival_metadata_stm.cc
Labels: area/redpanda

#12703 [v23.2.x] cloud_storage: Fix race in async_manifest_view_cursor
  src/v/cloud_storage/async_manifest_view.cc
  tests/rptest/tests/adjacent_segment_merging_test.py
Labels: area/redpanda, kind/backport

#12350 Add a github workflow to test the golang transform SDK
  .github/workflows/transform-sdk-build.yml
Labels: area/build

#12623 [v23.2.x] storage: fix race between segment.ms and appends
  src/v/finjector/CMakeLists.txt
  src/v/finjector/stress_fiber.cc
  src/v/finjector/stress_fiber.h
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/admin/api-doc/debug.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/storage/disk_log_appender.cc
  src/v/storage/disk_log_appender.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/tests/CMakeLists.txt
  src/v/storage/tests/storage_e2e_fixture_test.cc
Labels: area/redpanda

#12691 rpk: support `--format help` to print the shape(ish) of json/yaml output
  src/go/rpk/pkg/cli/acl/user/create.go
  src/go/rpk/pkg/cli/acl/user/delete.go
  src/go/rpk/pkg/cli/acl/user/list.go
  src/go/rpk/pkg/config/format.go
  src/go/rpk/pkg/config/redpanda_yaml.go
  src/go/rpk/pkg/config/rpk_yaml.go
  src/go/rpk/pkg/config/rpk_yaml_test.go
Labels: area/rpk

#12714 Redpanda-Operator: use local crds when testing
  src/go/k8s/kuttl-v2-test.yaml
Labels: area/k8s, k8s/tests

#12644 tests: miscellaneous improvements for tiered storage C++ tests
  src/v/cloud_storage/tests/manual_fixture.h
  src/v/cloud_storage/tests/read_replica_test.cc
  src/v/cluster/archival_metadata_stm.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/tests/produce_consume_utils.cc
  src/v/redpanda/tests/fixture.h
  src/v/storage/log_manager.cc
Labels: area/redpanda

#12735 fix pod label causing decommission
  src/go/k8s/controllers/redpanda/cluster_controller.go
Labels: kind/bug, area/k8s, k8s/tests

#12709 Hotfix/cstore escape hatch
  src/v/cloud_storage/CMakeLists.txt
  src/v/cloud_storage/segment_meta_cstore.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

#12736 k8s: use local crds when testing
  src/go/k8s/kuttl-v2-test.yaml
Labels: area/k8s

#12739 [v23.2.x] fix pod label causing decommission
  src/go/k8s/controllers/redpanda/cluster_controller.go
Labels: area/k8s, kind/backport

#12740 [v23.2.x] Hotfix/cstore escape hatch
  src/v/cloud_storage/CMakeLists.txt
  src/v/cloud_storage/segment_meta_cstore.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda, kind/backport

#12556 [v23.2.x] tests: sort nodes before stopping them
  tests/rptest/tests/controller_availability_test.py
Labels: kind/backport

#12172 [v23.2.x] Print output from Rpk commands that timeout in ducktape
  tests/rptest/clients/rpk.py
Labels: kind/backport

#12512 [v23.2.x] dockerize lint clang-format
  .github/workflows/lint.yml
Labels: area/build, kind/backport

#12388 [v23.2.x] tests: disable retention.ms in reader stress test
  tests/rptest/scale_tests/tiered_storage_reader_stress_test.py
Labels: kind/backport

#12742 [v23.2.x] test: check stderr for coordinator error messages
  tests/rptest/clients/rpk.py
Labels: kind/backport

#12528 [v23.2.x] admin/observability/debugging: add stm information to partition debug endpoint
  src/v/cluster/cluster_utils.cc
  src/v/cluster/cluster_utils.h
  src/v/cluster/persisted_stm.h
  src/v/cluster/types.h
  src/v/redpanda/admin/api-doc/debug.json
  src/v/redpanda/admin_server.cc
  src/v/storage/types.h
  tests/rptest/tests/partition_state_api_test.py
Labels: area/redpanda, kind/backport

#12527 [v23.2.x] rpk: fix flag name in help text of `rpk generate app`
  src/go/rpk/pkg/adminapi/admin.go
  src/go/rpk/pkg/adminapi/api_config.go
  src/go/rpk/pkg/cli/generate/app.go
  src/go/rpk/pkg/cli/group/offset_delete.go
  src/go/rpk/pkg/cloudapi/api_installpack.go
  src/go/rpk/pkg/httpapi/httpapi.go
  src/go/rpk/pkg/net/hostport.go
  src/go/rpk/pkg/system/grub_test.go
  src/go/rpk/pkg/tuners/aggregated_tunable_test.go
  src/go/rpk/pkg/tuners/disk_tuner.go
  src/go/rpk/pkg/tuners/executors/commands/write_sized_file.go
  src/go/rpk/pkg/tuners/float_checker_test.go
  src/go/rpk/pkg/tuners/network/nic_test.go
Labels: area/rpk, kind/backport

#12727 Skip metrics test on no license
  src/v/redpanda/admin_server.cc
  tests/rptest/tests/metrics_reporter_test.py
Labels: area/redpanda

#12750 [v23.2.x] rptests: Refactor RedpandaServiceCloud class to support globals.json related changes
  tests/rptest/clients/rpk.py
  tests/rptest/k8s_tests/simple_k8s_test.py
  tests/rptest/services/failure_injector.py
  tests/rptest/services/redpanda.py
  tests/rptest/services/redpanda_cloud.py
  tests/rptest/services/rp_config_profiles/redpanda.cloud-tiers-config.yml
  tests/rptest/services/rpk_consumer.py
  tests/rptest/services/storage_tiers.py
Labels: kind/backport

#12755 Fix misappropriate use of mutex::get_units in usage based billing
  src/v/kafka/server/usage_aggregator.cc
Labels: area/redpanda

#12760 Context per reconciler
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/controllers/redpanda/cluster_controller_configuration_drift.go
  src/go/k8s/controllers/redpanda/console_controller.go
  src/go/k8s/controllers/redpanda/metric_controller.go
  src/go/k8s/controllers/redpanda/redpanda_controller.go
Labels: area/k8s, k8s/tests

#12554 [v23.1.x] tests: sort nodes before stopping them
  tests/rptest/tests/controller_availability_test.py
Labels: kind/backport

#12756 co_await mutex hold in conn_quota
  src/v/net/conn_quota.cc
Labels: area/redpanda

#12771 [v23.1.x] co_await mutex hold in conn_quota
  src/v/net/conn_quota.cc
Labels: area/redpanda, kind/backport

#12757 Await acquiring the manifest lock
  src/v/cluster/partition.cc
Labels: area/redpanda

#12768 [v23.2.x] Context per reconciler
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/controllers/redpanda/cluster_controller_configuration_drift.go
  src/go/k8s/controllers/redpanda/console_controller.go
  src/go/k8s/controllers/redpanda/metric_controller.go
  src/go/k8s/controllers/redpanda/redpanda_controller.go
Labels: area/k8s, kind/backport

#12632 cloud_storage: become compatible with storage account where Hierarchical Namespaces are enabled
  src/v/archival/ntp_archiver_service.cc
  src/v/cloud_roles/signature.cc
  src/v/cloud_storage_clients/abs_client.cc
  src/v/cloud_storage_clients/abs_client.h
  src/v/cloud_storage_clients/abs_error.cc
  src/v/cloud_storage_clients/abs_error.h
  src/v/cloud_storage_clients/client.h
  src/v/cloud_storage_clients/client_pool.cc
  src/v/cloud_storage_clients/client_pool.h
  src/v/cloud_storage_clients/configuration.cc
  src/v/cloud_storage_clients/configuration.h
  src/v/cloud_storage_clients/s3_client.cc
  src/v/cloud_storage_clients/s3_client.h
  src/v/cloud_storage_clients/test_client/abs_test_client_main.cc
  src/v/cloud_storage_clients/tests/CMakeLists.txt
  src/v/cloud_storage_clients/tests/s3_client_test.cc
  src/v/cloud_storage_clients/tests/util_test.cc
  src/v/cloud_storage_clients/util.cc
  src/v/cloud_storage_clients/util.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/utils/stop_signal.h
Labels: area/redpanda, area/cloud-storage

#12537 [v23.2.x] storage: don't ostream all segments
  src/v/storage/segment_set.cc
Labels: area/redpanda, kind/backport

#12737 [storage]: add local retention reclaimable to partition health report
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_types.cc
  src/v/cluster/health_monitor_types.h
  src/v/cluster/partition.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/log.h
  src/v/storage/log_manager.cc
  src/v/storage/log_manager.h
Labels: area/redpanda

#12728 Avoid kreq gen build all
  cmake/testing.cmake
  src/go/kreq-gen/CMakeLists.txt
  src/v/kafka/protocol/tests/CMakeLists.txt
Labels: area/build, area/redpanda

#12784 [build]: various updates for open-source update preparation
  cmake/main.cmake
  src/v/hashing/tests/xx_tests.cc
  src/v/pandaproxy/rest/CMakeLists.txt
  src/v/pandaproxy/rest/proxy.cc
  src/v/pandaproxy/schema_registry/CMakeLists.txt
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/subject_name_strategy.h
  src/v/pandaproxy/schema_registry/types.h
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/admin_server.cc
  src/v/redpanda/cluster_config_schema_util.cc
  src/v/resource_mgmt/CMakeLists.txt
  src/v/utils/log_hist.h
Labels: area/build, area/redpanda

#12472 Optimize send path error handling
  src/v/rpc/transport.cc
  src/v/ssx/future-util.h
Labels: area/redpanda

#12336 cloud_storage: avoid attempting to GET and cache empty transaction manifests
  src/v/cloud_storage/async_manifest_view.h
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  tests/rptest/tests/shadow_indexing_tx_test.py
Labels: kind/enhance, area/redpanda, area/cloud-storage

#12773 cloud_storage: Remove manifest lock
  src/v/archival/ntp_archiver_service.cc
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
  src/v/cluster/partition.cc
Labels: area/redpanda

#12796 [v23.2.x] Hotfix after backport of 12750
  tests/rptest/services/redpanda.py
Labels: ci-failure

#12767 [v23.1.x] Fix misappropriate use of mutex::get_units in usage based billing
  src/v/kafka/server/usage_aggregator.cc
Labels: area/redpanda, kind/backport

#12766 [v23.2.x] Fix misappropriate use of mutex::get_units in usage based billing
  src/v/kafka/server/usage_aggregator.cc
Labels: area/redpanda, kind/backport

#12759 rm_stm: return sequence_out_of_order only when a client misbehaves
  src/v/cluster/rm_stm.cc
Labels: area/redpanda

#12811 [build]: open-source build dependency updates
  cmake/main.cmake
  src/CMakeLists.txt
  src/v/hashing/CMakeLists.txt
  src/v/json/CMakeLists.txt
  src/v/reflection/test/CMakeLists.txt
Labels: area/build, area/redpanda

#12780 Fix observed window drift in usage based billing
  src/v/kafka/server/usage_aggregator.cc
  src/v/kafka/server/usage_aggregator.h
  tests/rptest/tests/usage_test.py
  tests/rptest/utils/functional.py
Labels: area/redpanda

#12769 [v23.2.x] co_await mutex hold in conn_quota
  src/v/net/conn_quota.cc
Labels: area/redpanda, kind/backport

#12836 [v23.1.x] Fix observed window drift in usage based billing
  src/v/kafka/server/usage_aggregator.cc
  src/v/kafka/server/usage_aggregator.h
  tests/rptest/tests/usage_test.py
  tests/rptest/utils/functional.py
Labels: area/redpanda, kind/backport

#12835 [v23.2.x] Fix observed window drift in usage based billing
  src/v/kafka/server/usage_aggregator.cc
  src/v/kafka/server/usage_aggregator.h
  tests/rptest/tests/usage_test.py
  tests/rptest/utils/functional.py
Labels: area/redpanda, kind/backport

#12790 [v23.2.x] Optimize send path error handling
  src/v/rpc/transport.cc
  src/v/ssx/future-util.h
Labels: area/redpanda, kind/backport

#12774 [v23.2.x] Await acquiring the manifest lock
  src/v/cluster/partition.cc
Labels: area/redpanda, kind/backport

#12844 schema_registry: Alias referencedby by referencedBy
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/api/api-doc/schema_registry_header.json
  src/v/pandaproxy/schema_registry/service.cc
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, area/schema-registry, doc-needed

#12658 Upgrade seastar v23.3.x
  cmake/oss.cmake.in
  src/v/cluster/rm_stm.cc
  src/v/cluster/self_test/diskcheck.cc
  src/v/net/connection.cc
  src/v/pandaproxy/schema_registry/avro.cc
  src/v/redpanda/admin_server.cc
  src/v/resource_mgmt/io_priority.h
  src/v/storage/segment_appender.cc
  src/v/storage/tests/backlog_controller_test.cc
Labels: area/build, area/redpanda

#12856 [v22.3.x] schema_registry: Alias referencedby by referencedBy
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/api/api-doc/schema_registry_header.json
  src/v/pandaproxy/schema_registry/service.cc
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, kind/backport

#12852 [v23.1.x] schema_registry: Alias referencedby by referencedBy
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/api/api-doc/schema_registry_header.json
  src/v/pandaproxy/schema_registry/service.cc
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, kind/backport

#12854 [v23.2.x] schema_registry: Alias referencedby by referencedBy
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/api/api-doc/schema_registry_header.json
  src/v/pandaproxy/schema_registry/service.cc
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, kind/backport

#12715 [v23.1.x] storage: fix race between segment.ms and appends
  src/v/cloud_storage/tests/produce_utils.h
  src/v/finjector/CMakeLists.txt
  src/v/finjector/stress_fiber.cc
  src/v/finjector/stress_fiber.h
  src/v/kafka/server/tests/CMakeLists.txt
  src/v/kafka/server/tests/produce_consume_utils.cc
  src/v/kafka/server/tests/produce_consume_utils.h
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/admin/api-doc/debug.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/redpanda/tests/fixture.h
  src/v/storage/disk_log_appender.cc
  src/v/storage/disk_log_appender.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/log.h
  src/v/storage/log_manager.cc
  src/v/storage/mem_log_impl.cc
  src/v/storage/tests/CMakeLists.txt
  src/v/storage/tests/storage_e2e_fixture_test.cc
Labels: area/redpanda

#10651 [v23.1.x] topic_recovery: avoid listing with no prefix
  src/go/rpk/pkg/api/admin/api_cloud_storage.go
  src/go/rpk/pkg/cli/cmd/cluster/storage/recovery/start.go
  src/go/rpk/pkg/cli/cmd/cluster/storage/storage.go
  src/v/cloud_storage/recovery_request.cc
  src/v/cloud_storage/tests/remote_test.cc
  src/v/cloud_storage/tests/s3_imposter.cc
  src/v/cloud_storage/tests/s3_imposter.h
  src/v/cloud_storage/tests/topic_recovery_service_test.cc
  src/v/cloud_storage/topic_recovery_service.cc
  tests/rptest/clients/rpk.py
  tests/rptest/tests/e2e_shadow_indexing_test.py
  tests/rptest/tests/shadow_indexing_admin_api_test.py
Labels: area/rpk, area/redpanda, kind/backport

#12666 Initial WebAssembly subsystem
  .gitignore
  cmake/oss.cmake.in
  licenses/third_party.md
  src/CMakeLists.txt
  src/go/transform-sdk/abi.go
  src/go/transform-sdk/internal/testdata/CMakeLists.txt
  src/go/transform-sdk/internal/testdata/README.md
  src/go/transform-sdk/internal/testdata/build_all.sh
  src/go/transform-sdk/internal/testdata/go.mod
  src/go/transform-sdk/internal/testdata/go.sum
  src/go/transform-sdk/internal/testdata/identity/transform.go
  src/go/transform-sdk/internal/testdata/poison-pill/transform.go
  src/go/transform-sdk/internal/testdata/setup-panic/transform.go
  src/go/transform-sdk/internal/testdata/transform-error/transform.go
  src/go/transform-sdk/internal/testdata/transform-panic/transform.go
  src/go/transform-sdk/internal/testdata/wasi/transform.go
  src/go/transform-sdk/stub_abi.go
  src/v/CMakeLists.txt
  src/v/config/rjson_serialization.cc
  src/v/config/rjson_serialization.h
  src/v/json/CMakeLists.txt
  src/v/json/json.cc
  src/v/json/json.h
  src/v/model/CMakeLists.txt
  src/v/model/transform.cc
  src/v/model/transform.h
  src/v/pandaproxy/schema_registry/api.h
  src/v/wasm/CMakeLists.txt
  src/v/wasm/api.cc
  src/v/wasm/api.h
  src/v/wasm/errc.h
  src/v/wasm/ffi.cc
  src/v/wasm/ffi.h
  src/v/wasm/fwd.h
  src/v/wasm/logger.cc
  src/v/wasm/logger.h
  src/v/wasm/probe.cc
  src/v/wasm/probe.h
  src/v/wasm/schema_registry.cc
  src/v/wasm/schema_registry.h
  src/v/wasm/schema_registry_module.cc
  src/v/wasm/schema_registry_module.h
  src/v/wasm/tests/CMakeLists.txt
  src/v/wasm/tests/ffi_helpers_test.cc
  src/v/wasm/tests/wasi_logs_test.cc
  src/v/wasm/tests/wasi_test.cc
  src/v/wasm/tests/wasm_fixture.cc
  src/v/wasm/tests/wasm_fixture.h
  src/v/wasm/tests/wasm_transform_test.cc
  src/v/wasm/tests/work_queue_test.cc
  src/v/wasm/transform_module.cc
  src/v/wasm/transform_module.h
  src/v/wasm/wasi.cc
  src/v/wasm/wasi.h
  src/v/wasm/wasmedge.cc
  src/v/wasm/wasmedge.h
  src/v/wasm/work_queue.cc
  src/v/wasm/work_queue.h
Labels: area/build, area/redpanda, area/wasm

#12786 [v23.2.x] test-infra: add byoc-mock to cdt dependencies.
  tests/docker/cdt_ducktape_deps.sh
Labels: kind/backport

#12797 [v23.2.x] cluster: include a hash in the metrics reporter
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/metrics_reporter.h
  src/v/redpanda/admin_server.cc
  tests/rptest/tests/metrics_reporter_test.py
Labels: area/redpanda, kind/backport

#12462 [v23.2.x] storage: fix housekeeping shutdown on uncaught exception
  src/v/ssx/future-util.h
  src/v/storage/log_manager.cc
  src/v/storage/log_manager.h
Labels: area/redpanda, kind/backport

#12778 transactions: cleanup dead code
  src/v/cluster/rm_group_proxy.h
  src/v/cluster/rm_partition_frontend.cc
  src/v/cluster/rm_partition_frontend.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/idempotency_tests.cc
  src/v/cluster/tests/randoms.h
  src/v/cluster/tests/rm_stm_compatibility_test.cc
  src/v/cluster/tests/rm_stm_tests.cc
  src/v/cluster/tests/tm_stm_tests.cc
  src/v/cluster/tests/tx_compaction_tests.cc
  src/v/cluster/tests/tx_compaction_utils.h
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/cluster/tx_gateway.cc
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/tx_snapshot_adl_utils.h
  src/v/compat/prepare_group_tx_compat.h
  src/v/compat/prepare_group_tx_generator.h
  src/v/compat/prepare_tx_compat.h
  src/v/compat/prepare_tx_generator.h
  src/v/compat/run.cc
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
  src/v/kafka/server/group_router.cc
  src/v/kafka/server/group_router.h
  src/v/kafka/server/rm_group_frontend.cc
  src/v/kafka/server/rm_group_frontend.h
  tests/rptest/tests/offset_retention_test.py
  tests/rptest/tests/transactions_test.py
Labels: area/redpanda

#12089 rpk: show allocation failures in decommission-status
  src/go/rpk/pkg/adminapi/api_broker.go
  src/go/rpk/pkg/cli/redpanda/admin/brokers/decommission-status.go
Labels: area/rpk

#12882 rpk: decommission-status supports human-friendly outputs
  src/go/rpk/pkg/cli/redpanda/admin/brokers/decommission-status.go
Labels: area/rpk

#12878 Updates for build dependencies
  build.sh
  src/CMakeLists.txt
  src/go/kreq-gen/CMakeLists.txt
  src/go/transform-sdk/internal/testdata/CMakeLists.txt
  src/v/json/CMakeLists.txt
  src/v/test_utils/CMakeLists.txt
  src/v/wasm/tests/CMakeLists.txt
  src/v/wasm/tests/ffi_helpers_test.cc
Labels: area/redpanda, area/wasm

#12866 subset of high throughput tests (pre-tiered)
  src/v/archival/ntp_archiver_service.cc
  tests/rptest/scale_tests/high_throughput_test.py
  tests/rptest/services/metrics_check.py
  tests/rptest/services/redpanda.py
Labels: area/redpanda

#12580 storage: Make segment_appender::_flush_ops a fragmented_vector
  src/v/storage/segment_appender.cc
  src/v/storage/segment_appender.h
  src/v/utils/fragmented_vector.h
  src/v/utils/tests/fragmented_vector_test.cc
Labels: area/redpanda

#12911 add missing includes
  src/v/cluster/partition_balancer_state.h
  src/v/cluster/partition_balancer_types.h
  src/v/model/transform.h
Labels: area/redpanda

#12895 [build]: remove cmake superbuild for open-source build
  .gitignore
  CMakeLists.txt
  CMakePresets.json
  README.md
  build.sh
  cmake/dependencies.cmake
  cmake/main.cmake
  cmake/oss.cmake.in
  install-dependencies.sh
  src/v/CMakeLists.txt
  src/v/kafka/protocol/CMakeLists.txt
  src/v/kafka/protocol/schemata/CMakeLists.txt
  src/v/serde/test/CMakeLists.txt
Labels: area/build, area/redpanda

#12688 Alert for messages with timestamp too far from broker time
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/handlers/produce.cc
  src/v/kafka/server/request_context.h
  src/v/kafka/server/tests/produce_consume_test.cc
  src/v/net/probes.cc
  src/v/net/server_probe.h
  src/v/redpanda/application.h
Labels: area/redpanda, doc-needed

#12902 cloud_storage: Fix timequery
  src/v/cloud_storage/async_manifest_view.cc
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/tests/async_manifest_view_test.cc
Labels: area/redpanda

#12929 [v23.1.x] client/fetch_session: fix formatting string
  src/v/kafka/client/fetch_session.cc
Labels: area/redpanda, kind/backport

#12777 cloud_storage: enforce cloud read path limits strictly
  src/v/cloud_storage/materialized_resources.cc
  src/v/cloud_storage/materialized_resources.h
  src/v/cloud_storage/probe.cc
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cloud_storage/segment_state.cc
  src/v/cloud_storage/segment_state.h
  src/v/cloud_storage/tests/cloud_storage_fixture.h
  src/v/cloud_storage/types.h
  tests/rptest/scale_tests/tiered_storage_reader_stress_test.py
Labels: area/redpanda, area/cloud-storage

#12873 [v23.2.x] 3rdparty: Update seastar for semaphore_units fix
  cmake/oss.cmake.in
Labels: area/build, kind/backport

#12874 [v23.1.x] 3rdparty: Update seastar for semaphore_units fix
  cmake/oss.cmake.in
Labels: area/build, kind/backport
