Repository redpanda-data/redpanda, pull requests merged in 2023-07, with the labels that each got.

#11249 partition_allocator: exclude internal topics from per node partition limit checks
  src/v/cluster/controller.cc
  src/v/cluster/health_manager.cc
  src/v/cluster/members_backend.cc
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/scheduling/allocation_node.cc
  src/v/cluster/scheduling/allocation_node.h
  src/v/cluster/scheduling/allocation_state.cc
  src/v/cluster/scheduling/allocation_state.h
  src/v/cluster/scheduling/allocation_strategy.cc
  src/v/cluster/scheduling/allocation_strategy.h
  src/v/cluster/scheduling/constraints.cc
  src/v/cluster/scheduling/constraints.h
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/cluster/scheduling/partition_allocator.h
  src/v/cluster/scheduling/types.cc
  src/v/cluster/scheduling/types.h
  src/v/cluster/tests/partition_allocator_fixture.h
  src/v/cluster/tests/partition_allocator_tests.cc
  src/v/cluster/tests/partition_balancer_planner_fixture.h
  src/v/cluster/tests/partition_balancer_simulator_test.cc
  src/v/cluster/tests/topic_table_fixture.h
  src/v/cluster/topics_frontend.cc
Labels: area/redpanda

#11800 Fix rebalance in presence of unavailable nodes
  src/v/cluster/partition_balancer_planner.cc
  tests/rptest/tests/scaling_up_test.py
Labels: area/redpanda

#11796 tests: use spillover in `TieredStorageSinglePartitionTest`
  src/v/archival/ntp_archiver_service.cc
  tests/rptest/scale_tests/tiered_storage_cache_stress_test.py
  tests/rptest/scale_tests/tiered_storage_single_partition_test.py
  tests/rptest/services/redpanda.py
Labels: area/redpanda, area/tests, area/cloud-storage

#11833 tests: avoid unnecessary `du` calls on cache dir
  tests/rptest/services/redpanda.py
  tests/rptest/util.py
Labels: kind/bug, area/tests

#11830 Add scale test for log storage target size
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/resource_mgmt/storage.cc
  src/v/storage/disk_log_impl.cc
  tests/rptest/remote_scripts/disk_usage.py
  tests/rptest/scale_tests/log_storage_target_size_test.py
  tests/rptest/services/redpanda.py
Labels: area/storage, area/redpanda

#11822 cloud_storage: follow-up changes for delete records
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cluster/log_eviction_stm.cc
  src/v/cluster/log_eviction_stm.h
  src/v/cluster/partition.cc
Labels: area/redpanda

#11849 Ae/issues/11260
  src/go/k8s/Makefile
  src/go/k8s/apis/redpanda/v1alpha1/redpanda_clusterspec_types.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/cluster.redpanda.com_redpandas.yaml
  src/go/k8s/controllers/redpanda/cluster_migration_controller.go
  src/go/k8s/controllers/redpanda/cluster_migration_controller_helper.go
  src/go/k8s/controllers/redpanda/redpanda_controller.go
  src/go/k8s/main.go
Labels: area/k8s

#11836 tests: refactor franz_go_verifiable_test & fix its use of tiny cache size
  src/v/cloud_storage/recursive_directory_walker.cc
  tests/rptest/scale_tests/franz_go_verifiable_test.py
  tests/rptest/scale_tests/tiered_storage_io_stress_test.py
Labels: kind/bug, area/redpanda, area/tests, area/cloud-storage

#11843 cloud_storage: fix a trim bug on small caches
  src/v/cloud_storage/cache_service.cc
Labels: area/redpanda, kind/tech-debt, area/tests, area/cloud-storage

#11837 storage/record_batch_builder: Avoid intermediate `std::vector`
  src/v/storage/record_batch_builder.cc
  src/v/storage/record_batch_builder.h
Labels: area/storage, area/redpanda, area/oversized-allocation

#11831 k8s: Bump Redpanda versions
  src/go/k8s/kuttl-test.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/02-assert.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/02-v22-2-13-with-si-pv-addition.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/03-assert.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/03-v22-3-22.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/04-assert.yaml
  src/go/k8s/tests/e2e/update-image-and-node-port/04-v23-1-13.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth-external-ca/01-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth-external-ca/01-v23-1-13.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth-no-external-ca/02-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth-no-external-ca/02-v22-2-13-with-si-pv-addition.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth-no-external-ca/03-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth-no-external-ca/03-v22-3-22.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth-no-external-ca/04-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-client-auth-no-external-ca/04-v23-1-13.yaml
  src/go/k8s/tests/e2e/update-image-tls-no-client-auth/02-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-no-client-auth/02-v22-2-13-with-si-pv-addition.yaml
  src/go/k8s/tests/e2e/update-image-tls-no-client-auth/03-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-no-client-auth/03-v22-3-22.yaml
  src/go/k8s/tests/e2e/update-image-tls-no-client-auth/04-assert.yaml
  src/go/k8s/tests/e2e/update-image-tls-no-client-auth/04-v23-1-13.yaml
Labels: area/k8s, k8s/tests

#11854 [v23.1.x] storage/record_batch_builder: Avoid intermediate `std::vector`
  src/v/storage/record_batch_builder.cc
  src/v/storage/record_batch_builder.h
Labels: area/redpanda, kind/backport

#11862 tests: fix AttributeError in delete_records_test
  tests/rptest/tests/delete_records_test.py
Labels: kind/bug, area/kafka, area/tests

#11861 tests: skip debug mode on test_get_cpu_profile
  tests/rptest/tests/cpu_profiler_admin_api_test.py
Labels: kind/bug, area/tests, area/admin-api

#11852 cluster: Fix for incorrect end_offset reported
  src/v/cluster/rm_stm.cc
  src/v/raft/state_machine.cc
  src/v/raft/state_machine.h
Labels: area/redpanda

#11846 cloud_storage: fix OffsetForLeaderEpoch when it lands in the cloud log
  src/v/cloud_storage/async_manifest_view.cc
  src/v/cloud_storage/async_manifest_view.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/tests/async_manifest_view_test.cc
  src/v/kafka/server/replicated_partition.cc
Labels: area/redpanda, area/cloud-storage

#11872 tests: fix test_delete_records_segment_deletion
  tests/rptest/tests/delete_records_test.py
Labels: kind/bug, area/kafka, area/tests

#11597 Improved `rm_stm` resource management.
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/model/record.h
  tests/rptest/tests/transactions_test.py
Labels: area/redpanda

#11738 c/topics: reduce task parallelism when creating topics with lots of partitions
  src/v/cluster/controller_api.cc
  src/v/cluster/controller_api.h
  src/v/kafka/server/handlers/topics/topic_utils.cc
Labels: area/redpanda

#11895 Logging at server creation
  src/v/net/server.cc
Labels: area/redpanda, DW

#11844 tests: revise default cache size for testing
  tests/rptest/services/redpanda.py
Labels: kind/bug, area/tests, area/cloud-storage

#11902 rpk: bump deps, build version
  src/go/rpk/go.mod
  src/go/rpk/go.sum
Labels: area/rpk

#11824 admin_server/get_partition: Avoid oversized allocation
  src/v/redpanda/admin_server.cc
Labels: area/redpanda, area/admin-api, area/oversized-allocation

#11900 rpk: fix a few minor bugs
  src/go/rpk/pkg/cli/cluster/logdirs.go
  src/go/rpk/pkg/cli/group/offset_delete.go
  src/go/rpk/pkg/cli/topic/consume.go
Labels: area/rpk

#11927 [v23.1.x] storage: `maybe_yield` when building a batch in `kvstore::save_snapshot`
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment_index.cc
  src/v/cloud_storage/remote_segment_index.h
  src/v/cloud_storage/tests/common_def.h
  src/v/model/record.h
  src/v/storage/kvstore.cc
  src/v/storage/kvstore.h
  src/v/storage/log_reader.cc
  src/v/storage/log_reader.h
  src/v/storage/log_replayer.cc
  src/v/storage/parser.cc
  src/v/storage/parser.h
Labels: area/redpanda, kind/backport, reactor-stall

#11850 Add support for delete-records to the admin ops fuzzer
  src/v/cluster/log_eviction_stm.cc
  tests/rptest/clients/kcl.py
  tests/rptest/services/admin_ops_fuzzer.py
  tests/rptest/tests/delete_records_test.py
Labels: area/redpanda

#11869 Create test pipeline for operator V2
  src/go/k8s/Makefile
  src/go/k8s/config/rbac/bases/operator/role.yaml
  src/go/k8s/controllers/redpanda/redpanda_controller.go
  src/go/k8s/hack/get-redpanda-info.sh
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/deployment.yaml
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/role.yaml
  src/go/k8s/kuttl-v2-test.yaml
  src/go/k8s/tests/e2e-v2/resource-redpanda-crud/00-assert-create-redpanda.yaml
  src/go/k8s/tests/e2e-v2/resource-redpanda-crud/00-create-redpanda.yaml
  src/go/k8s/tests/e2e-v2/resource-redpanda-crud/01-assert-update-chart-version.yaml
  src/go/k8s/tests/e2e-v2/resource-redpanda-crud/01-update-chart-version.yaml
  src/go/k8s/tests/e2e-v2/resource-redpanda-crud/02-assert-update-clusterspec.yaml
  src/go/k8s/tests/e2e-v2/resource-redpanda-crud/02-update-clusterspec.yaml
  src/go/k8s/tests/e2e-v2/resource-redpanda-crud/03-assert.yaml
  src/go/k8s/tests/e2e-v2/resource-redpanda-crud/03-delete-redpandas.yaml
Labels: area/k8s, k8s/tests

#11928 [v23.1.x] admin_server/get_partition: Avoid oversized allocation
  src/v/redpanda/admin_server.cc
Labels: area/redpanda, kind/backport, area/admin-api, area/oversized-allocation

#11901 rpk profile: finish TODO list
  src/go/rpk/pkg/adminapi/admin.go
  src/go/rpk/pkg/adminapi/admin_test.go
  src/go/rpk/pkg/adminapi/api_broker.go
  src/go/rpk/pkg/adminapi/api_cloud_storage.go
  src/go/rpk/pkg/adminapi/api_cloud_storage_test.go
  src/go/rpk/pkg/adminapi/api_cluster.go
  src/go/rpk/pkg/adminapi/api_config.go
  src/go/rpk/pkg/adminapi/api_debug.go
  src/go/rpk/pkg/adminapi/api_features.go
  src/go/rpk/pkg/adminapi/api_metrics.go
  src/go/rpk/pkg/adminapi/api_node_config.go
  src/go/rpk/pkg/adminapi/api_partition.go
  src/go/rpk/pkg/adminapi/api_user.go
  src/go/rpk/pkg/cli/acl/user/create.go
  src/go/rpk/pkg/cli/acl/user/delete.go
  src/go/rpk/pkg/cli/acl/user/list.go
  src/go/rpk/pkg/cli/acl/user/update.go
  src/go/rpk/pkg/cli/cloud/login.go
  src/go/rpk/pkg/cli/cluster/config/edit.go
  src/go/rpk/pkg/cli/cluster/config/export.go
  src/go/rpk/pkg/cli/cluster/config/get.go
  src/go/rpk/pkg/cli/cluster/config/import.go
  src/go/rpk/pkg/cli/cluster/config/lint.go
  src/go/rpk/pkg/cli/cluster/config/set.go
  src/go/rpk/pkg/cli/cluster/config/status.go
  src/go/rpk/pkg/cli/cluster/health.go
  src/go/rpk/pkg/cli/cluster/license/info.go
  src/go/rpk/pkg/cli/cluster/license/set.go
  src/go/rpk/pkg/cli/cluster/maintenance/disable.go
  src/go/rpk/pkg/cli/cluster/maintenance/enable.go
  src/go/rpk/pkg/cli/cluster/maintenance/status.go
  src/go/rpk/pkg/cli/cluster/partitions/cancel.go
  src/go/rpk/pkg/cli/cluster/partitions/status.go
  src/go/rpk/pkg/cli/cluster/selftest/selftest_test.go
  src/go/rpk/pkg/cli/cluster/selftest/start.go
  src/go/rpk/pkg/cli/cluster/selftest/status.go
  src/go/rpk/pkg/cli/cluster/selftest/stop.go
  src/go/rpk/pkg/cli/cluster/storage/recovery/start.go
  src/go/rpk/pkg/cli/cluster/storage/recovery/status.go
  src/go/rpk/pkg/cli/debug/bundle/bundle.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_k8s_linux.go
  src/go/rpk/pkg/cli/profile/create.go
  src/go/rpk/pkg/cli/profile/edit.go
  src/go/rpk/pkg/cli/profile/print.go
  src/go/rpk/pkg/cli/redpanda/admin/brokers/decommission-status.go
  src/go/rpk/pkg/cli/redpanda/admin/brokers/decommission.go
  src/go/rpk/pkg/cli/redpanda/admin/brokers/list.go
  src/go/rpk/pkg/cli/redpanda/admin/brokers/recommission.go
  src/go/rpk/pkg/cli/redpanda/admin/config/config.go
  src/go/rpk/pkg/cli/topic/describe_storage.go
  src/go/rpk/pkg/cloudapi/api_organization.go
  src/go/rpk/pkg/config/config.go
  src/go/rpk/pkg/config/params.go
  src/go/rpk/pkg/config/rpk_yaml.go
  src/go/rpk/pkg/kafka/client_franz.go
  src/go/rpk/pkg/oauth/errors.go
  src/go/rpk/pkg/oauth/oauth.go
  src/go/rpk/pkg/out/out.go
Labels: area/rpk

#11926 v23.1.x: rpk minor bugs
  src/go/rpk/pkg/cli/cmd/cluster/logdirs.go
  src/go/rpk/pkg/cli/cmd/group/offset_delete.go
  src/go/rpk/pkg/cli/cmd/topic/consume.go
Labels: area/rpk

#11860 cloud_storage: more exhaustive cache trim when fast trim doesn't free enough space
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/cache_service.h
  src/v/cloud_storage_clients/util.cc
  tests/docker/docker-compose.yml
  tests/rptest/scale_tests/tiered_storage_cache_stress_test.py
  tests/rptest/services/redpanda.py
Labels: kind/bug, area/redpanda, area/cloud-storage

#11774 [v23.1.x] net: Explicitly set and reduce TCP keepalive on the kafka API
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/net/server.cc
  src/v/net/server.h
  src/v/redpanda/application.cc
  tests/rptest/tests/tcp_keepalive_test.py
Labels: area/redpanda, kind/backport

#11775 [v22.3.x] net: Explicitly set and reduce TCP keepalive on the kafka API
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/net/server.cc
  src/v/net/server.h
  src/v/redpanda/application.cc
  tests/rptest/tests/tcp_keepalive_test.py
Labels: area/redpanda, kind/backport

#11873 cloud_storage: run partition finalize in background
  src/v/cloud_storage/remote.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cluster/partition.cc
Labels: kind/bug, area/redpanda, area/cloud-storage

#11870 cloud_storage: logging improvements
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage_clients/s3_client.cc
Labels: area/redpanda, kind/tech-debt, area/cloud-storage

#11718 [v23.1.x] storage: make `compaction_backlog` more efficient for large segment counts
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda, kind/backport

#11825 rpk: add `rpk topic trim-prefix` (support for DeleteRecords)
  src/go/rpk/pkg/cli/topic/consume.go
  src/go/rpk/pkg/cli/topic/consume_test.go
  src/go/rpk/pkg/cli/topic/topic.go
  src/go/rpk/pkg/cli/topic/trim.go
  src/go/rpk/pkg/cli/topic/trim_test.go
  tests/rptest/clients/rpk.py
  tests/rptest/tests/delete_records_test.py
Labels: area/rpk

#11563 sr: retry create ACLs for the ephemeral principal
  src/v/cluster/security_manager.cc
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/service.h
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, area/schema-registry

#11896 Sort nodes in health report
  src/v/cluster/health_monitor_backend.cc
Labels: area/redpanda, DW

#11954 archival/idle_timer: avoid arming an armed timer
  src/v/archival/upload_housekeeping_service.cc
Labels: area/redpanda

#11955 archival: wire probe into housekeeping service
  src/v/archival/upload_housekeeping_service.cc
Labels: area/redpanda

#11894 [v23.1.x] c/topics: reduce task parallelism when creating topics with lots of partitions
  src/v/cluster/controller_api.cc
  src/v/cluster/controller_api.h
  src/v/kafka/server/handlers/topics/topic_utils.cc
Labels: area/redpanda, kind/backport

#11957 rpk: small improvements for rpk-trim
  src/go/rpk/pkg/cli/redpanda/admin/brokers/decommission.go
  src/go/rpk/pkg/cli/topic/trim.go
Labels: area/rpk

#11965 archival: handle gate closed exception
  src/v/cloud_storage/async_manifest_view.cc
Labels: area/redpanda

#11838 Fixed returning `log_end_offset` for empty local logs
  src/v/kafka/server/replicated_partition.cc
  src/v/kafka/server/replicated_partition.h
  tests/rptest/tests/log_segment_ms_test.py
Labels: area/redpanda

#11466 operator: sort pods by ordinal
  src/go/k8s/pkg/resources/statefulset_update.go
  src/go/k8s/pkg/resources/statefulset_update_test.go
Labels: area/k8s, k8s/tests

#11956 storage: fix coroutine iteration over _segs
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda

#11960 cloud_storage: Append data to the column_store without transactions
  src/v/cloud_storage/segment_meta_cstore.cc
Labels: area/redpanda

#11914 cloud_storage: add TieredStorageReaderStressTest & strictly limit reader concurrency
  src/v/cloud_storage/materialized_resources.cc
  src/v/cloud_storage/materialized_resources.h
  src/v/cloud_storage/probe.cc
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cloud_storage/segment_state.cc
  src/v/utils/adjustable_semaphore.h
  tests/rptest/scale_tests/many_partitions_test.py
  tests/rptest/scale_tests/tiered_storage_reader_stress_test.py
  tests/rptest/services/kgo_verifier_services.py
Labels: kind/bug, area/redpanda, area/cloud-storage

#11964 Cache values computed in `partition_manifest::full_log_start_kafka_offset`
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
Labels: area/redpanda

#11840 Fixed applying messages to stm when using `acks=0` or `acks=1`
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
  src/v/cluster/id_allocator_stm.cc
  src/v/cluster/id_allocator_stm.h
  src/v/cluster/log_eviction_stm.cc
  src/v/cluster/log_eviction_stm.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/raft/consensus.cc
  src/v/raft/mux_state_machine.h
  src/v/raft/state_machine.cc
  src/v/raft/state_machine.h
Labels: area/redpanda

#11929 [v23.1.x] archival: Guarantee that the ntp_archiver uses...
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
Labels: area/redpanda

#11941 Do not return timeout error in fetch response
  src/v/kafka/server/replicated_partition.h
Labels: area/redpanda

#11865 cloud_storage: check exact segment counts in `CloudArchiveRetentionTest`
  src/v/archival/ntp_archiver_service.cc
  tests/rptest/services/kgo_verifier_services.py
  tests/rptest/tests/archive_retention_test.py
Labels: area/redpanda, area/tests, area/cloud-storage

#11933 pb_planner: simplify iterator check
  src/v/cluster/partition_balancer_planner.cc
  src/v/utils/stable_iterator_adaptor.h
Labels: area/redpanda

#11573 tests/pp: move fetch compression tests to ducktape
  src/v/pandaproxy/rest/test/consumer_group.cc
  src/v/pandaproxy/rest/test/fetch.cc
  tests/rptest/clients/rpk.py
  tests/rptest/tests/pandaproxy_test.py
Labels: area/redpanda

#11887 Add metric to monitor seq table size
  src/v/cluster/rm_stm.cc
Labels: area/redpanda

#11621 Update `abort_old_txes` of the consumer group to use locks
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
  src/v/kafka/server/tests/group_test.cc
  src/v/utils/rwlock.h
  src/v/utils/tests/CMakeLists.txt
  src/v/utils/tests/rwlock_test.cc
Labels: area/redpanda

#11826 tests: fixture test for offset-based retention
  src/v/cloud_storage/tests/delete_records_e2e_test.cc
  src/v/kafka/server/tests/produce_consume_utils.h
Labels: area/redpanda

#11868 archival: Validate archival_metadata_stm updates
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/archival/tests/archival_metadata_stm_test.cc
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/remote_segment_index.cc
  src/v/cloud_storage/remote_segment_index.h
  src/v/cloud_storage/tests/remote_segment_index_test.cc
  src/v/cluster/archival_metadata_stm.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

#11308 [v22.3.x] Fix aborted txs being visible
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
Labels: area/redpanda

#11178 improve Cluster reconciler readability
  src/go/k8s/controllers/redpanda/cluster_controller.go
  src/go/k8s/pkg/resources/certmanager/ca_certificate_bundle.go
  src/go/k8s/pkg/resources/certmanager/pki.go
  src/go/k8s/pkg/resources/cluster_role_binding.go
  src/go/k8s/pkg/resources/configmap.go
  src/go/k8s/pkg/resources/secret.go
  src/go/k8s/pkg/resources/statefulset.go
  src/go/k8s/pkg/resources/superusers.go
Labels: area/k8s, k8s/tests

#11890 Fix fetch latency calculation
  src/v/kafka/server/handlers/fetch.cc
Labels: area/redpanda

#11867 Adjust metadata memory estimate for allocation
  src/v/kafka/server/handlers/metadata.cc
Labels: area/redpanda, DW

#11607 Expand '~' in --redpanda-cfg
  src/v/redpanda/application.cc
Labels: area/redpanda

#12003 Redpanda-Operator: a few api changes/fixes
  src/go/k8s/apis/redpanda/v1alpha1/redpanda_clusterspec_types.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/cluster.redpanda.com_redpandas.yaml
Labels: area/k8s, k8s/tests

#12002 [v22.3.x] Add metric to monitor seq table size
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
Labels: area/redpanda, kind/backport

#12001 cloud_storage: Unknown STM command handling
  src/v/cluster/archival_metadata_stm.cc
Labels: area/redpanda

#11971 cloud_storage/tests: Ignore impostor timeout in tests
  src/v/cloud_storage/tests/remote_partition_fuzz_test.cc
Labels: area/redpanda

#11783 Support for spillover manifests in `/v1/debug/unsafe_reset_metadata`
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/tests/partition_manifest_test.cc
  src/v/cluster/partition.cc
  tests/rptest/tests/e2e_shadow_indexing_test.py
Labels: area/redpanda

#12015 cloud_storage: add `cloud_storage_max_partition_readers_per_shard`
  src/v/cloud_storage/materialized_resources.cc
  src/v/cloud_storage/materialized_resources.h
  src/v/cloud_storage/tests/remote_partition_fuzz_test.cc
  src/v/cloud_storage/tests/util.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  tests/rptest/scale_tests/tiered_storage_io_stress_test.py
  tests/rptest/scale_tests/tiered_storage_reader_stress_test.py
  tests/rptest/tests/cloud_storage_chunk_read_path_test.py
  tests/rptest/tests/e2e_shadow_indexing_test.py
Labels: kind/enhance, area/redpanda, area/cloud-storage

#11802 cloud_storage: add timestamps to remote segment index
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/archival/tests/service_fixture.cc
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/remote_segment_index.cc
  src/v/cloud_storage/remote_segment_index.h
  src/v/cloud_storage/tests/remote_segment_index_test.cc
  src/v/cloud_storage/tests/remote_segment_test.cc
Labels: kind/enhance, area/redpanda, area/cloud-storage

#12019 cloud_storage: optimise data availability check
  src/v/cloud_storage/remote_partition.cc
Labels: area/redpanda

#11980 More detailed logging around snapshot operations
  src/v/cluster/persisted_stm.cc
  src/v/cluster/rm_stm.cc
Labels: area/redpanda

#11858 [v23.1.x] Limit memory used while fetching many partitions
  src/v/config/bounded_property.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/tests/bounded_property_test.cc
  src/v/kafka/server/connection_context.h
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/fetch.h
  src/v/kafka/server/request_context.h
  src/v/kafka/server/server.cc
  src/v/kafka/server/server.h
  src/v/kafka/server/tests/CMakeLists.txt
  src/v/kafka/server/tests/fetch_test.cc
  src/v/kafka/server/tests/fetch_unit_test.cc
  src/v/net/server.h
  src/v/redpanda/tests/fixture.h
  tests/rptest/tests/memory_stress_test.py
Labels: area/redpanda, kind/backport

#11930 Enhance trace logging in members reconciliation path
  src/v/cluster/members_backend.cc
Labels: area/redpanda, DW

#11919 kafka: Disable use of separate fetch scheduling group
  src/v/config/configuration.cc
Labels: area/redpanda

#12018 Made printing topic partitions and namespaces consistent
  src/v/model/model.cc
Labels: area/redpanda

#12035 [v23.1.x] kafka: Disable use of separate fetch scheduling group
  src/v/config/configuration.cc
Labels: area/redpanda, kind/backport

#11972 t/segment_meta_cstore_test: fix oob access in test vector
  src/v/cloud_storage/tests/segment_meta_cstore_test.cc
Labels: area/redpanda

#11907 [v23.1.x] Fixed querying for the node in decommission test
  tests/rptest/tests/nodes_decommissioning_test.py
Labels: kind/backport

#12052 [v23.1.x] k/server: Better handling of SCRAM parsing errors
  src/v/kafka/server/server.cc
Labels: area/redpanda, kind/backport

#12055 [v23.1.x] cloud_storage: Unknown STM command handling
  src/v/cluster/archival_metadata_stm.cc
Labels: area/redpanda

#12027 cloud_storage/segment_meta_cstore: empty() shortcircuit
  src/v/cloud_storage/segment_meta_cstore.cc
  src/v/cloud_storage/segment_meta_cstore.h
Labels: area/redpanda

#12024 Test existing DeleteRecords ducktape tests against topics with cloud storage enabled
  src/v/cluster/log_eviction_stm.cc
  src/v/redpanda/admin/api-doc/debug.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  tests/rptest/services/admin.py
  tests/rptest/tests/delete_records_test.py
Labels: area/redpanda

#12037 rpk: add rpk generate app command
  src/go/rpk/pkg/cli/cloud/login.go
  src/go/rpk/pkg/cli/generate/app-templates/go-produce-consume.tar.gz
  src/go/rpk/pkg/cli/generate/app.go
  src/go/rpk/pkg/cli/generate/app_test.go
  src/go/rpk/pkg/cli/generate/generate.go
  src/go/rpk/pkg/cli/generate/grafana.go
  src/go/rpk/pkg/config/config.go
  src/go/rpk/pkg/config/rpk_yaml.go
  src/go/rpk/pkg/os/directory.go
  src/go/rpk/pkg/out/out.go
Labels: area/rpk

#11939 Linearizable barrier improvements
  src/v/raft/consensus.cc
  src/v/raft/state_machine.cc
  src/v/raft/state_machine.h
Labels: area/redpanda

#11731 [v23.1.x] c/leader_balancer: use btree_map as a group to revision index
  src/v/cluster/scheduling/leader_balancer_types.h
Labels: area/redpanda, kind/backport

#12043 cloud_storage: handle cases where reads race with spillover
  src/v/cloud_storage/async_manifest_view.cc
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cloud_storage/tests/delete_records_e2e_test.cc
Labels: area/redpanda

#12074 r/append_entries_buffer: use chunked fifo to store requests
  src/v/raft/append_entries_buffer.cc
  src/v/raft/append_entries_buffer.h
Labels: area/redpanda

#12060 [v22.3.x] k/server: Better handling of SCRAM parsing errors
  src/v/kafka/server/handlers/sasl_authenticate.cc
Labels: area/redpanda, kind/backport

#12063 Fix for incorrect handling of OffsetForLeaderEpoch request
  src/v/kafka/server/handlers/offset_for_leader_epoch.cc
  src/v/kafka/server/replicated_partition.cc
  tests/rptest/tests/offset_for_leader_epoch_test.py
Labels: area/redpanda

#12078 [v23.1.x] r/append_entries_buffer: use chunked fifo to store requests
  src/v/raft/append_entries_buffer.cc
  src/v/raft/append_entries_buffer.h
Labels: area/redpanda, kind/backport

#12057 archival: block upload loop mid-upgrade
  src/v/archival/ntp_archiver_service.cc
  tests/rptest/tests/upgrade_test.py
Labels: area/redpanda

#12061 [v22.2.x] k/server: Better handling of SCRAM parsing errors
  src/v/kafka/server/handlers/sasl_authenticate.cc
Labels: area/redpanda, kind/backport

#12022 [v23.1.x] tests/pp: move fetch compression tests to ducktape
  src/v/pandaproxy/rest/test/consumer_group.cc
  src/v/pandaproxy/rest/test/fetch.cc
  tests/rptest/clients/rpk.py
  tests/rptest/tests/pandaproxy_test.py
  tests/rptest/tests/storage_resources_test.py
Labels: area/redpanda, kind/backport

#12080 Redpanda-Operator: api changes/fixes
  src/go/k8s/Makefile
  src/go/k8s/apis/redpanda/v1alpha1/redpanda_clusterspec_types.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/cluster.redpanda.com_redpandas.yaml
  src/go/k8s/config/rbac/bases/operator/role.yaml
  src/go/k8s/controllers/redpanda/redpanda_controller.go
Labels: area/k8s, k8s/tests

#11937 storage: balanced eviction and advisory policy
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/application.cc
  src/v/resource_mgmt/CMakeLists.txt
  src/v/resource_mgmt/storage.cc
  src/v/resource_mgmt/storage.h
  src/v/resource_mgmt/tests/CMakeLists.txt
  src/v/resource_mgmt/tests/storage_test.cc
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/types.h
  tests/rptest/scale_tests/log_storage_target_size_test.py
  tests/rptest/tests/full_disk_test.py
Labels: area/redpanda

#12079 acl: Avoid allocations when checking implied ops
  src/v/security/acl.cc
  src/v/security/acl.h
  src/v/security/authorizer.h
Labels: area/redpanda

#12029 docker: Added lsan_suppressions.txt file to docker
  tests/docker/Dockerfile
  tests/docker/Dockerfile.dockerignore
  tests/rptest/services/redpanda.py
Labels: kind/enhance

#12039 Add "unhealthy reasons" to cluster_health_overview endpoint
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_types.h
  src/v/redpanda/admin/api-doc/cluster.json
  src/v/redpanda/admin_server.cc
  tests/rptest/tests/cluster_health_overview_test.py
Labels: area/redpanda

#12090 rpk: make num flag required in add-partitions
  src/go/rpk/pkg/cli/topic/add_partitions.go
Labels: area/rpk

#12041 rm_stm: use system time for producer expiration tracking
  src/v/cluster/rm_stm.cc
Labels: area/redpanda

#11779 cloud_storage: Add metrics for chunk hydration
  src/v/cloud_storage/partition_probe.cc
  src/v/cloud_storage/partition_probe.h
  src/v/cloud_storage/probe.cc
  src/v/cloud_storage/probe.h
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/segment_state.cc
  src/v/cloud_storage/tests/remote_segment_test.cc
  tests/rptest/tests/cloud_storage_chunk_read_path_test.py
  tests/rptest/util.py
Labels: area/redpanda

#12032 cloud_storage: Partition manifest fixes
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/segment_meta_cstore.cc
  src/v/cloud_storage/segment_meta_cstore.h
Labels: area/redpanda

#12087 rptest: Unconditionally enable verbose logging for all rpk commands in ducktape
  src/go/rpk/pkg/cli/group/offset_delete.go
  tests/rptest/clients/rpk.py
  tests/rptest/tests/offset_retention_test.py
Labels: area/rpk

#12088 rpk: profile globals rename
  src/go/rpk/pkg/cli/profile/edit_gobals.go
  src/go/rpk/pkg/cli/profile/print_globals.go
  src/go/rpk/pkg/cli/profile/profile.go
  src/go/rpk/pkg/cli/profile/prompt.go
  src/go/rpk/pkg/cli/profile/prompt_test.go
  src/go/rpk/pkg/cli/profile/set.go
  src/go/rpk/pkg/cli/profile/set_globals.go
  src/go/rpk/pkg/cli/topic/trim.go
  src/go/rpk/pkg/config/params.go
  src/go/rpk/pkg/config/params_test.go
  src/go/rpk/pkg/config/rpk_yaml.go
  src/go/rpk/pkg/config/rpk_yaml_test.go
  src/go/rpk/pkg/kafka/client_franz.go
Labels: area/rpk

#12113 rpk patches
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/group/describe.go
  src/go/rpk/pkg/cli/redpanda/admin/config/config.go
  src/go/rpk/pkg/cli/topic/consume.go
  src/go/rpk/pkg/cli/topic/trim.go
Labels: area/rpk

#12092 Aggregate `memory_units_t` in `fetch` to reduce cross-shard calls
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/fetch.h
Labels: area/redpanda

#12040 Add unhealthy reasons to RPK
  src/go/rpk/pkg/adminapi/api_cluster.go
  src/go/rpk/pkg/cli/cluster/health.go
Labels: area/rpk

#12084 Improved heartbeats handling
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/heartbeat_manager.cc
  src/v/raft/heartbeat_manager.h
  src/v/raft/service.h
Labels: area/redpanda

#12045 Force refresh health report if partition size is missing
  src/v/cluster/partition_balancer_backend.cc
  src/v/cluster/partition_balancer_backend.h
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/partition_balancer_planner.h
Labels: area/redpanda

#12036 Add per kafka handler histograms to metrics
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/connection_context.h
  src/v/kafka/server/handlers/handler_probe.cc
  src/v/kafka/server/handlers/handler_probe.h
  src/v/utils/log_hist.h
  src/v/utils/tests/seastar_histogram_test.cc
Labels: area/redpanda

#12114 acl: Avoid allocations when checking implied ops
  src/v/security/acl.h
  src/v/security/authorizer.h
Labels: area/redpanda

#12096 [v23.1.x] acl: Avoid allocations when checking implied ops
  src/v/security/acl.cc
  src/v/security/acl.h
  src/v/security/authorizer.h
Labels: area/redpanda, kind/backport

#12107 [v23.1.x] storage/parse_utils: Use async_stream_zstd compression
  src/v/compression/compression.cc
  src/v/compression/compression.h
  src/v/storage/parser_utils.cc
  src/v/storage/parser_utils.h
Labels: area/redpanda, kind/backport

#12132 config: fix legacy_default feature and add tests
  src/v/config/property.h
  tests/rptest/tests/cluster_config_test.py
Labels: area/redpanda

#12086 Backport of #12063 v23.1.x
  src/v/kafka/server/handlers/offset_for_leader_epoch.cc
  src/v/kafka/server/replicated_partition.cc
  tests/rptest/tests/offset_for_leader_epoch_test.py
Labels: area/redpanda

#12154 .github: add 23.2.x and remove 22.2.x to PR template
  .github/pull_request_template.md
Labels: area/build

#12008 Fix indentation issue for redpanda-operator helm chart
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/deployment.yaml
Labels: area/k8s

#12122 Backport of pr 12063 to v22.3.x
  src/v/kafka/server/handlers/offset_for_leader_epoch.cc
  src/v/kafka/server/replicated_partition.cc
  tests/rptest/tests/offset_for_leader_epoch_test.py
Labels: area/redpanda

#12157 Revert "r/state_machine: share linearizable barrier result"
  src/v/raft/state_machine.cc
  src/v/raft/state_machine.h
Labels: area/redpanda

#12171 [v23.2.x] Fix indentation issue for redpanda-operator helm chart
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/deployment.yaml
Labels: area/k8s, kind/backport

#12161 rpk: strip quotes from additional start args
  src/go/rpk/pkg/cli/redpanda/start.go
  src/go/rpk/pkg/cli/redpanda/start_test.go
Labels: area/rpk

#12153 rpk: bump franz-go to v1.14.2 to fix consumer logic race
  src/go/rpk/go.mod
  src/go/rpk/go.sum
Labels: area/rpk

#12176 c/rm_stm: fixed returning incorrect `max_collectible_offset`
  src/v/cluster/rm_stm.h
Labels: area/redpanda

#12101 Redpanda-Operator: V2 API changes for console
  src/go/k8s/apis/redpanda/v1alpha1/redpanda_clusterspec_types.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/cluster.redpanda.com_redpandas.yaml
  src/go/k8s/config/rbac/bases/operator/role.yaml
  src/go/k8s/controllers/redpanda/redpanda_controller.go
Labels: area/k8s, k8s/tests

#12100 [v23.1.x] docker: Added lsan_suppressions.txt file to docker
  tests/docker/Dockerfile
  tests/docker/Dockerfile.dockerignore
  tests/rptest/services/redpanda.py
Labels: kind/backport

#12189 [v23.2.x] c/rm_stm: fixed returning incorrect `max_collectible_offset`
  src/v/cluster/rm_stm.h
Labels: area/redpanda, kind/backport

#9334 kafka: expose hwm for max offset in public metrics
  src/v/cluster/partition_probe.cc
  tests/rptest/tests/cluster_metrics_test.py
Labels: area/redpanda, doc-needed

#12028 upgrade to ginkgo v2
  src/go/k8s/apis/vectorized/v1alpha1/webhook_suite_test.go
  src/go/k8s/controllers/redpanda/cluster_controller_configuration_test.go
  src/go/k8s/controllers/redpanda/cluster_controller_scale_test.go
  src/go/k8s/controllers/redpanda/cluster_controller_test.go
  src/go/k8s/controllers/redpanda/console_controller_test.go
  src/go/k8s/controllers/redpanda/redpanda_controller_test.go
  src/go/k8s/controllers/redpanda/suite_test.go
  src/go/k8s/go.mod
  src/go/k8s/go.sum
Labels: area/k8s, k8s/tests

#12287 Redpanda-Operator: storage and console field fixes
  src/go/k8s/apis/redpanda/v1alpha1/redpanda_clusterspec_types.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/cluster.redpanda.com_redpandas.yaml
Labels: area/k8s, k8s/tests

#11278 [v23.1.x] ducktape-deps: fix installing confluent-kafka on arm64
  tests/docker/Dockerfile
Labels: kind/backport

#12006 [v23.1.x] Fix txn consume group issues leading to undefined behavior
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
  src/v/kafka/server/tests/group_test.cc
  src/v/utils/rwlock.h
  src/v/utils/tests/CMakeLists.txt
  src/v/utils/tests/rwlock_test.cc
Labels: area/redpanda, kind/backport

#11987 [v23.1.x] Add metric to monitor seq table size
  src/v/cluster/rm_stm.cc
Labels: area/redpanda, kind/backport

#12190 [v23.1.x] c/rm_stm: fixed returning incorrect `max_collectible_offset`
  src/v/cluster/rm_stm.h
Labels: area/redpanda, kind/backport

#12294 [v23.2.x] backport https://github.com/redpanda-data/redpanda/pull/12091
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/cache_service.h
  src/v/cloud_storage/tests/cache_test_fixture.h
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cloud_storage/tests/cloud_storage_fixture.h
  src/v/cloud_storage/tests/delete_records_e2e_test.cc
  src/v/cluster/node/local_monitor.cc
  src/v/cluster/node/local_monitor.h
  src/v/cluster/node/types.cc
  src/v/cluster/node/types.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/application.cc
  src/v/resource_mgmt/storage.cc
  src/v/resource_mgmt/storage.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/tests/log_retention_tests.cc
  src/v/storage/types.h
  tests/rptest/scale_tests/log_storage_target_size_test.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/full_disk_test.py
Labels: area/redpanda

#12290 [v23.2.x] kafka: expose hwm for max offset in public metrics
  src/v/cluster/partition_probe.cc
  tests/rptest/tests/cluster_metrics_test.py
Labels: area/redpanda, kind/backport

#12297 Redpanda-Operator: API removing unstructured for configs of console
  src/go/k8s/apis/redpanda/v1alpha1/redpanda_clusterspec_types.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
Labels: area/k8s, k8s/tests

#12292 sync operator with dev so we can get it into docker hub
  src/go/k8s/apis/redpanda/v1alpha1/redpanda_clusterspec_types.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/apis/vectorized/v1alpha1/webhook_suite_test.go
  src/go/k8s/config/crd/bases/cluster.redpanda.com_redpandas.yaml
  src/go/k8s/config/rbac/bases/operator/role.yaml
  src/go/k8s/controllers/redpanda/cluster_controller_configuration_test.go
  src/go/k8s/controllers/redpanda/cluster_controller_scale_test.go
  src/go/k8s/controllers/redpanda/cluster_controller_test.go
  src/go/k8s/controllers/redpanda/console_controller_test.go
  src/go/k8s/controllers/redpanda/redpanda_controller.go
  src/go/k8s/controllers/redpanda/redpanda_controller_test.go
  src/go/k8s/controllers/redpanda/suite_test.go
  src/go/k8s/go.mod
  src/go/k8s/go.sum
Labels: area/k8s, k8s/tests

#12295 Various fixes for per handler metrics
  src/v/kafka/server/handlers/handler_probe.cc
  src/v/kafka/server/handlers/handler_probe.h
  src/v/utils/log_hist.h
Labels: area/redpanda

#12302 [v23.2.x] Various fixes for per handler metrics
  src/v/kafka/server/handlers/handler_probe.cc
  src/v/kafka/server/handlers/handler_probe.h
  src/v/utils/log_hist.h
Labels: area/redpanda, kind/backport

#12112 partition_balancer with new space management
  src/v/cluster/health_monitor_types.cc
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/partition_balancer_planner.h
  src/v/cluster/tests/partition_balancer_planner_fixture.h
  src/v/cluster/tests/partition_balancer_planner_test.cc
  src/v/cluster/tests/partition_balancer_simulator_test.cc
  tests/rptest/tests/custom_topic_assignment_test.py
  tests/rptest/tests/isolated_decommissioned_node_test.py
  tests/rptest/tests/partition_balancer_test.py
  tests/rptest/tests/partition_force_reconfiguration_test.py
  tests/rptest/tests/partition_move_interruption_test.py
  tests/rptest/tests/partition_movement_test.py
  tests/rptest/tests/self_test_test.py
  tests/rptest/tests/topic_delete_test.py
Labels: area/redpanda

#12303 [backport] [v23.2.x] partition_balancer with new space management #12112
  src/v/cluster/health_monitor_types.cc
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/partition_balancer_planner.h
  src/v/cluster/tests/partition_balancer_planner_fixture.h
  src/v/cluster/tests/partition_balancer_planner_test.cc
  src/v/cluster/tests/partition_balancer_simulator_test.cc
  tests/rptest/tests/custom_topic_assignment_test.py
  tests/rptest/tests/isolated_decommissioned_node_test.py
  tests/rptest/tests/partition_balancer_test.py
  tests/rptest/tests/partition_force_reconfiguration_test.py
  tests/rptest/tests/partition_move_interruption_test.py
  tests/rptest/tests/partition_movement_test.py
  tests/rptest/tests/self_test_test.py
  tests/rptest/tests/topic_delete_test.py
Labels: area/redpanda

#11099 [v23.1.x] tests: skip service self-tests in debug mode
  tests/rptest/tests/services_self_test.py
Labels: kind/backport

#11479 [v23.1.x] Update start timeout for `leadership_transfer_test` on debug builds
  tests/rptest/tests/leadership_transfer_test.py
Labels: kind/backport

#11969 [v23.1.x] storage: fix coroutine iteration over _segs
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda, kind/backport

#12007 [v22.3.x] Fix txn consume group issues leading to undefined behavior
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
  src/v/kafka/server/tests/group_test.cc
  src/v/utils/rwlock.h
  src/v/utils/tests/CMakeLists.txt
  src/v/utils/tests/rwlock_test.cc
Labels: area/redpanda

#12150 [v23.1.x] tests/node_ops: ignore errors from fault injected nodes
  tests/rptest/utils/node_operations.py
Labels: kind/backport

#11785 Remove old wasm RPK commands
  src/go/rpk/pkg/cli/root.go
  src/go/rpk/pkg/cli/wasm/common.go
  src/go/rpk/pkg/cli/wasm/deploy.go
  src/go/rpk/pkg/cli/wasm/generate.go
  src/go/rpk/pkg/cli/wasm/generate_test.go
  src/go/rpk/pkg/cli/wasm/remove.go
  src/go/rpk/pkg/cli/wasm/template/package_json.go
  src/go/rpk/pkg/cli/wasm/template/wasm.go
  src/go/rpk/pkg/cli/wasm/template/wasm_test_case.go
  src/go/rpk/pkg/cli/wasm/template/webpack.go
  src/go/rpk/pkg/cli/wasm/wasm.go
Labels: area/rpk
