Repository redpanda-data/redpanda, pull requests merged in 2023-11, with the labels that each got.

#14498 rpk: support decoding schema registry encoded messages in `rpk topic consume`
  src/go/rpk/pkg/cli/topic/consume.go
  src/go/rpk/pkg/serde/avro.go
  src/go/rpk/pkg/serde/avro_test.go
  src/go/rpk/pkg/serde/proto.go
  src/go/rpk/pkg/serde/proto_test.go
  src/go/rpk/pkg/serde/serde.go
  tests/rptest/clients/rpk.py
  tests/rptest/tests/rpk_registry_test.py
Labels: area/rpk

#14589 rpk: add schema registry port to rpk container table
  src/go/rpk/pkg/cli/container/start.go
Labels: area/rpk

#14569 transform: track processor progress
  src/v/model/fundamental.h
  src/v/transform/api.cc
  src/v/transform/io.h
  src/v/transform/tests/test_fixture.cc
  src/v/transform/tests/test_fixture.h
  src/v/transform/tests/transform_manager_test.cc
  src/v/transform/tests/transform_processor_test.cc
  src/v/transform/transform_processor.cc
  src/v/transform/transform_processor.h
Labels: area/redpanda

#14603 wasm: fix cache assertion
  src/v/wasm/cache.cc
  src/v/wasm/tests/wasm_cache_test.cc
Labels: area/redpanda

#14611 cmake: exclude operator tags when determining version
  src/v/CMakeLists.txt
Labels: area/redpanda

#14522 cloud_storage: Add validation metadata to the STM
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/tests/archival_metadata_stm_gtest.cc
  src/v/archival/tests/archival_metadata_stm_test.cc
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
Labels: area/redpanda

#14613 [v23.1.x] cmake: exclude operator tags when determining version
  src/v/CMakeLists.txt
Labels: area/redpanda, kind/backport

#14614 [v23.2.x] cmake: exclude operator tags when determining version
  src/v/CMakeLists.txt
Labels: area/redpanda, kind/backport

#14586 Audit kafka api part 2
  src/v/kafka/protocol/create_partitions.h
  src/v/kafka/protocol/find_coordinator.h
  src/v/kafka/protocol/offset_for_leader_epoch.h
  src/v/kafka/server/handlers/alter_configs.cc
  src/v/kafka/server/handlers/alter_partition_reassignments.cc
  src/v/kafka/server/handlers/configs/config_utils.h
  src/v/kafka/server/handlers/create_partitions.cc
  src/v/kafka/server/handlers/delete_records.cc
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/fetch.h
  src/v/kafka/server/handlers/find_coordinator.cc
  src/v/kafka/server/handlers/incremental_alter_configs.cc
  src/v/kafka/server/handlers/metadata.cc
  src/v/kafka/server/handlers/offset_for_leader_epoch.cc
  src/v/kafka/server/handlers/produce.cc
  src/v/kafka/server/server.cc
  src/v/security/audit/audit_log_manager.cc
  src/v/security/audit/audit_log_manager.h
  src/v/security/audit/client_probe.h
  src/v/security/audit/logger.cc
  src/v/security/audit/logger.h
  src/v/security/audit/probe.h
  src/v/security/audit/probes.cc
  src/v/security/audit/schemas/application_activity.h
  src/v/security/audit/schemas/iam.h
  src/v/security/audit/schemas/schemas.h
  src/v/security/audit/schemas/tests/ocsf_schemas_test.cc
  src/v/security/audit/schemas/types.h
  src/v/security/audit/schemas/utils.cc
  src/v/security/audit/schemas/utils.h
  src/v/security/audit/tests/audit_log_test.cc
  src/v/security/audit/types.h
  tests/docker/Dockerfile
  tests/docker/ducktape-deps/ocsf-server
  tests/rptest/services/ocsf_server.py
  tests/rptest/tests/audit_log_test.py
  tests/rptest/utils/audit_schemas.py
Labels: area/redpanda

#14600 conf: update Redpanda configuration file
  conf/redpanda.yaml
  src/go/rpk/pkg/config/params_test.go
Labels: area/rpk

#14051 schema_registry: Split project_ids
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
Labels: area/redpanda, area/schema-registry

#14601 transform/rpc/client: better error handling
  src/v/transform/rpc/client.cc
Labels: area/redpanda

#14604 wasm: introduce engine probe
  src/v/transform/probe.h
  src/v/transform/tests/test_fixture.cc
  src/v/transform/tests/test_fixture.h
  src/v/wasm/CMakeLists.txt
  src/v/wasm/api.h
  src/v/wasm/cache.cc
  src/v/wasm/engine_probe.cc
  src/v/wasm/engine_probe.h
  src/v/wasm/tests/CMakeLists.txt
  src/v/wasm/tests/wasm_cache_test.cc
  src/v/wasm/tests/wasm_fixture.cc
  src/v/wasm/tests/wasm_fixture.h
  src/v/wasm/tests/wasm_probe_test.cc
  src/v/wasm/tests/wasm_transform_bench.cc
  src/v/wasm/tests/wasm_transform_test.cc
  src/v/wasm/transform_probe.cc
  src/v/wasm/transform_probe.h
  src/v/wasm/wasmtime.cc
Labels: area/redpanda

#14615 [v22.3.x] cmake: exclude operator tags when determining version
  src/v/CMakeLists.txt
Labels: area/redpanda, kind/backport

#14580 [v23.2.x] Control consistency checks in the upload loop and STM independently
  src/v/archival/ntp_archiver_service.cc
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cluster/archival_metadata_stm.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

#14632 operator(console): initialize null map before adding entries
  src/go/k8s/pkg/resources/ingress.go
Labels: area/k8s, k8s/tests

#14597 cloud_storage: reset in-memory partition manifest to uploaded manifest
  src/v/archival/ntp_archiver_service.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/redpanda/admin/api-doc/shadow_indexing.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  tests/rptest/services/admin.py
  tests/rptest/tests/e2e_shadow_indexing_test.py
Labels: area/redpanda, area/cloud-storage

#14672 wasm: add metrics for wasm CPU time
  src/v/wasm/engine_probe.cc
  src/v/wasm/engine_probe.h
  src/v/wasm/tests/wasm_probe_test.cc
  src/v/wasm/wasmtime.cc
Labels: area/redpanda

#14742 rpk acl --help-operations: update for new requests
  src/go/rpk/pkg/cli/acl/acl.go
Labels: area/rpk

#13822 Kip 368 (SASL reauthentication)
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/sasl_probe.h
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/connection_context.h
  src/v/kafka/server/request_context.h
  src/v/kafka/server/requests.cc
  src/v/kafka/server/server.cc
  src/v/kafka/server/server.h
  src/v/security/gssapi_authenticator.cc
  src/v/security/gssapi_authenticator.h
  src/v/security/oidc_authenticator.cc
  src/v/security/oidc_authenticator.h
  src/v/security/request_auth.cc
  src/v/security/sasl_authentication.h
  tests/docker/Dockerfile
  tests/docker/ducktape-deps/librdkafka
  tests/rptest/clients/python_librdkafka.py
  tests/rptest/services/kerberos.py
  tests/rptest/services/keycloak.py
  tests/rptest/tests/redpanda_kerberos_test.py
  tests/rptest/tests/redpanda_oauth_test.py
  tests/rptest/tests/sasl_reauth_test.py
  tests/rptest/tests/scram_test.py
  tests/setup.py
Labels: area/redpanda

#14738 [v23.2.x] ducktape/cloud_storage: Ignore accessdenied errors
  tests/rptest/tests/topic_recovery_test.py
Labels: kind/backport

#14650 [v23.2.x] tests/topic_recovery_tests: archiver_term added to replaced segment key
  tests/rptest/tests/topic_recovery_test.py
Labels: kind/backport

#14617 [v23.2.x] Fix for CI failure (failure to assert_usage_consistency) in UsageTest.test_usage_collection_restart
  tests/rptest/tests/usage_test.py
Labels: kind/backport

#14293 [v23.1.x] Fix for CI Failure (invalid timer interval) in `UsageTest.test_usage_metrics_collection`
  tests/rptest/tests/usage_test.py
Labels: kind/backport

#13217 [v22.3.x] ducktape: extend timeout in timequery_test
  tests/rptest/tests/timequery_test.py
Labels: kind/backport

#12497 dt/memory_stress_test: Mark `test_fetch_with_many_partitions` `@ok_to_fail`
  tests/rptest/tests/memory_stress_test.py
Labels: area/tests

#14753 [v23.1.x] dt/memory_stress_test: Mark `test_fetch_with_many_partitions` `@ok_to_fail`
  tests/rptest/tests/memory_stress_test.py
Labels: kind/backport

#14755 [v23.2.x] dt/memory_stress_test: Mark `test_fetch_with_many_partitions` `@ok_to_fail`
  tests/rptest/tests/memory_stress_test.py
Labels: kind/backport

#14637 cloud_storage: Use abort source when waiting for semaphore units
  src/v/cloud_storage/materialized_resources.cc
  src/v/cloud_storage/materialized_resources.h
  src/v/cloud_storage/remote_partition.cc
  src/v/utils/adjustable_semaphore.h
Labels: area/redpanda

#14598 [v23.2.x] archival: reset in-memory partition manifest to uploaded manifest
  src/v/archival/ntp_archiver_service.h
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/persisted_stm.cc
  src/v/cluster/persisted_stm.h
  src/v/redpanda/admin/api-doc/shadow_indexing.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  tests/rptest/services/admin.py
  tests/rptest/tests/e2e_shadow_indexing_test.py
Labels: area/redpanda

#14771 [v23.2.x] cloud_storage: Use abort source when waiting for semaphore units
  src/v/cloud_storage/materialized_resources.cc
  src/v/cloud_storage/materialized_resources.h
  src/v/cloud_storage/remote_partition.cc
  src/v/utils/adjustable_semaphore.h
Labels: area/redpanda

#14349 cloud_storage: perform a full internal scrub at the end of TS tests
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/archival/scrubber.cc
  src/v/archival/scrubber.h
  src/v/archival/scrubber_scheduler.h
  src/v/archival/tests/scrubber_scheduler_test.cc
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/tests/anomalies_detector_test.cc
  src/v/cloud_storage/types.cc
  src/v/cloud_storage/types.h
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/admin/api-doc/shadow_indexing.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  tests/rptest/services/admin.py
  tests/rptest/services/cluster.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/cloud_storage_scrubber_test.py
Labels: area/redpanda

#14305 Implemented handling of fast partition movements in cluster controller
  src/v/cluster/commands.h
  src/v/cluster/controller.cc
  src/v/cluster/controller_api.cc
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
  src/v/cluster/controller_log_limiter.h
  src/v/cluster/controller_snapshot.h
  src/v/cluster/fwd.h
  src/v/cluster/health_manager.cc
  src/v/cluster/members_backend.cc
  src/v/cluster/metadata_cache.cc
  src/v/cluster/metadata_cache.h
  src/v/cluster/partition.h
  src/v/cluster/partition_balancer_backend.cc
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/partition_balancer_planner.h
  src/v/cluster/tests/controller_backend_test.cc
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/cluster/tests/topic_table_fixture.h
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/cluster/topic_updates_dispatcher.cc
  src/v/cluster/topic_updates_dispatcher.h
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/compat/cluster_generator.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/handlers/alter_partition_reassignments.cc
  src/v/kafka/server/handlers/describe_configs.cc
  src/v/redpanda/admin/api-doc/broker.json
  src/v/redpanda/admin/api-doc/partition.json
  src/v/redpanda/admin_server.cc
  tests/rptest/tests/describe_topics_test.py
  tests/rptest/tests/scaling_up_test.py
Labels: area/redpanda

#14770 s3: Log xml body in case of ill-formed reply
  src/v/cloud_storage_clients/s3_client.cc
Labels: area/redpanda

#14461 APIs for disabling topics/partitions and listing them
  src/v/cluster/commands.h
  src/v/cluster/controller_log_limiter.h
  src/v/cluster/controller_snapshot.cc
  src/v/cluster/controller_snapshot.h
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/cluster/topic_updates_dispatcher.cc
  src/v/cluster/topic_updates_dispatcher.h
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/redpanda/admin/api-doc/cluster.json
  src/v/redpanda/admin/api-doc/partition.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  tests/rptest/services/admin.py
  tests/rptest/tests/recovery_mode_test.py
Labels: area/redpanda

#14783 rpk: select FQN of msg in SR schema when producing
  src/go/rpk/pkg/serde/proto_test.go
  src/go/rpk/pkg/serde/serde.go
Labels: area/rpk

#14788 build: install abseil for the open-source build
  cmake/dependencies.cmake
Labels: area/build

#14786 raft/state_machine: log error for unknown exception
  src/v/raft/state_machine.cc
Labels: area/redpanda

#14636 transform: batch offset commits per core
  src/v/cluster/distributed_kv_stm.h
  src/v/cluster/distributed_kv_stm_types.h
  src/v/cluster/tests/distributed_kv_stm_tests.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/ssx/sleep_abortable.h
  src/v/test_utils/async.h
  src/v/transform/CMakeLists.txt
  src/v/transform/api.cc
  src/v/transform/api.h
  src/v/transform/commit_batcher.cc
  src/v/transform/commit_batcher.h
  src/v/transform/fwd.h
  src/v/transform/io.h
  src/v/transform/rpc/client.cc
  src/v/transform/rpc/client.h
  src/v/transform/rpc/serde.h
  src/v/transform/rpc/tests/transform_rpc_test.cc
  src/v/transform/tests/CMakeLists.txt
  src/v/transform/tests/commit_batcher_test.cc
  src/v/transform/tests/test_fixture.cc
  src/v/transform/tests/test_fixture.h
  src/v/transform/tests/transform_manager_test.cc
  src/v/transform/transform_processor.cc
Labels: area/redpanda

#14775 dt/audit: Wait for OCSF server to really come up
  tests/docker/ducktape-deps/ocsf-server
  tests/rptest/services/ocsf_server.py
Labels: kind/bug, area/tests

#14743 wasm: cleanup batching
  src/v/model/tests/transform_test.cc
  src/v/model/transform.cc
  src/v/model/transform.h
  src/v/transform/rpc/client.cc
  src/v/transform/tests/test_fixture.cc
  src/v/transform/tests/test_fixture.h
  src/v/transform/tests/transform_processor_test.cc
  src/v/transform/transform_processor.cc
  src/v/wasm/wasmtime.cc
Labels: area/redpanda

#14447 cmake: enable warnings for testing code
  cmake/testing.cmake
Labels: area/build

#14423 transform: remove copartitioning requirement
  src/v/cluster/plugin_frontend.cc
  src/v/cluster/tests/plugin_frontend_validation_test.cc
  src/v/cluster/topics_frontend.cc
  src/v/redpanda/application.cc
  src/v/transform/api.cc
  src/v/transform/api.h
Labels: area/redpanda

#14812 doc: update style guide from discussion
  src/v/coding-style.md
Labels: area/redpanda

#14805 cluster/topics_frontend: fix log statement
  src/v/cluster/topics_frontend.cc
Labels: area/redpanda

#14803 rm_stm: clear metrics when stopping rm_stm
  src/v/cluster/rm_stm.cc
Labels: area/redpanda

#13477 TLS Certificate Metrics
  src/v/cloud_roles/aws_refresh_impl.cc
  src/v/cloud_roles/aws_sts_refresh_impl.cc
  src/v/cloud_roles/gcp_refresh_impl.cc
  src/v/cloud_roles/refresh_credentials.cc
  src/v/cloud_roles/refresh_credentials.h
  src/v/cloud_storage_clients/configuration.cc
  src/v/cluster/metrics_reporter.cc
  src/v/net/probes.cc
  src/v/net/tls_certificate_probe.h
  src/v/pandaproxy/server.cc
  src/v/redpanda/admin_server.cc
  src/v/redpanda/application.cc
  tests/docker/ducktape-deps/tool-pkgs
  tests/rptest/services/tls.py
  tests/rptest/tests/tls_metrics_test.py
Labels: area/redpanda

#14802 [v23.1.x] tm_stm: add tx to cache on create
  src/v/cluster/tm_stm.cc
  tests/rptest/tests/transactions_test.py
Labels: area/redpanda, kind/backport

#14801 [v23.2.x] tm_stm: add tx to cache on create
  src/v/cluster/tm_stm.cc
  tests/rptest/tests/transactions_test.py
Labels: area/redpanda, kind/backport

#14740 transform: reader improvements
  src/v/ssx/future-util.h
  src/v/ssx/tests/future_util.cc
  src/v/transform/api.cc
  src/v/transform/io.h
  src/v/transform/tests/test_fixture.cc
  src/v/transform/tests/test_fixture.h
  src/v/transform/transform_processor.cc
Labels: area/redpanda

#13485 kafka: Add fetch plan and execute latency metric
  src/v/kafka/latency_probe.h
  src/v/kafka/server/handlers/fetch.cc
Labels: area/redpanda

#14739 Improved logging around tx processing
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm_cache.cc
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/types.cc
  src/v/cluster/types.h
Labels: area/redpanda

#14500 storage: evict data from compactible topics under disk pressure
  src/v/cluster/log_eviction_stm.cc
  src/v/storage/disk_log_impl.cc
  tests/rptest/tests/full_disk_test.py
Labels: area/redpanda

#14821 cloud_storage: Add client address to fetch and log reader config
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_segment.cc
  src/v/kafka/server/connection_context.h
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/fetch.h
  src/v/model/fundamental.h
  src/v/net/server.cc
  src/v/storage/types.cc
  src/v/storage/types.h
Labels: area/redpanda

#14809 transform/processor: lag metrics
  src/go/rpk/pkg/adminapi/api_transform.go
  src/go/rpk/pkg/cli/transform/list.go
  src/go/rpk/pkg/cli/transform/list_test.go
  src/v/model/transform.cc
  src/v/model/transform.h
  src/v/redpanda/admin/api-doc/transform.json
  src/v/redpanda/admin_server.cc
  src/v/transform/probe.cc
  src/v/transform/probe.h
  src/v/transform/transform_manager.cc
  src/v/transform/transform_processor.cc
  src/v/transform/transform_processor.h
  tests/rptest/clients/rpk.py
Labels: area/rpk, area/redpanda

#14772 security/oidc: Allow mapping of principals
  src/v/cluster/controller.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/json/pointer.h
  src/v/security/CMakeLists.txt
  src/v/security/config_rcl.cc
  src/v/security/fwd.h
  src/v/security/jwt.h
  src/v/security/oidc_authenticator.cc
  src/v/security/oidc_authenticator.h
  src/v/security/oidc_error.h
  src/v/security/oidc_principal_mapping.cc
  src/v/security/oidc_principal_mapping.h
  src/v/security/oidc_service.cc
  src/v/security/oidc_service.h
  src/v/security/tests/CMakeLists.txt
  src/v/security/tests/jwt_test.cc
  src/v/security/tests/oidc_principal_mapping_test.cc
  tests/rptest/tests/cluster_config_test.py
Labels: area/kafka, area/redpanda, area/security, doc-needed

#14823 net: GNUTLS_E_DECRYPTION_FAILED is_reconnect_error
  src/v/net/connection.cc
  tests/rptest/tests/rpk_registry_test.py
Labels: area/redpanda

#14816 archival: start reupload range after log start
  src/v/archival/segment_reupload.cc
  src/v/archival/tests/segment_reupload_test.cc
Labels: area/redpanda

#14759 s3-fifo cache eviction algorithm
  src/v/CMakeLists.txt
  src/v/io/CMakeLists.txt
  src/v/io/cache.h
  src/v/io/tests/CMakeLists.txt
  src/v/io/tests/cache_test.cc
  tools/gcovr
Labels: area/redpanda

#14848 cloud_storage_clients: Fix xml parsing when searching for error code in response
  src/v/cloud_storage_clients/s3_client.cc
  src/v/cloud_storage_clients/s3_client.h
  src/v/cloud_storage_clients/tests/s3_client_test.cc
Labels: area/redpanda

#14827 rptest: retry anomaly fetches on 404 responses
  tests/rptest/tests/cloud_storage_scrubber_test.py
Labels: area/cloud-storage

#14831 transform/probe: cleanup metrics
  src/v/transform/probe.cc
Labels: area/redpanda

#14852 Renamed abseil to absl
  cmake/dependencies.cmake
  install-dependencies.sh
  src/v/bytes/CMakeLists.txt
  src/v/hashing/CMakeLists.txt
  src/v/pandaproxy/parsing/CMakeLists.txt
  src/v/reflection/CMakeLists.txt
Labels: area/build, area/redpanda

#14849 Filter GHA workflows to avoid running them unnecessarily
  .github/workflows/build-redpanda.yml
  .github/workflows/buildkite-slash-commands.yml
  .github/workflows/lint-cpp.yml
  .github/workflows/lint-golang.yml
  .github/workflows/lint-python.yml
  .github/workflows/lint-sh.yml
  .github/workflows/lint.yml
  .github/workflows/rp-storage-tool-checks.yml
  .github/workflows/rpk-build.yml
Labels: area/build

#14854 rpc: log method_id on service handler errors
  src/v/rpc/rpc_server.cc
Labels: area/redpanda

#14756 jwt_test: Add tokens from various ID providers
  src/v/security/jwt.h
  src/v/security/tests/jwt_test.cc
Labels: area/redpanda

#14866 schema_registry: Support the compatible format for CONFIG value
  src/v/pandaproxy/schema_registry/storage.h
  src/v/pandaproxy/schema_registry/test/storage.cc
Labels: area/redpanda, area/schema-registry

#14797 archival/upload_housekeeping_service: log error for unknown exception
  src/v/archival/upload_housekeeping_service.cc
Labels: area/redpanda

#14869 [v23.1.x] net: GNUTLS_E_DECRYPTION_FAILED is_reconnect_error
  src/v/net/connection.cc
Labels: area/redpanda, kind/backport

#14870 [v22.3.x] net: GNUTLS_E_DECRYPTION_FAILED is_reconnect_error
  src/v/net/connection.cc
Labels: area/redpanda, kind/backport

#14781 kafka: Remove container holding authz results
  src/v/kafka/server/handlers/alter_partition_reassignments.cc
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/handlers/delete_acls.cc
  src/v/kafka/server/request_context.h
  src/v/kafka/server/server.cc
  src/v/redpanda/tests/fixture.h
Labels: kind/bug, area/redpanda

#14875 [v23.2.x] schema_registry: Support the compatible format for CONFIG value
  src/v/pandaproxy/schema_registry/storage.h
  src/v/pandaproxy/schema_registry/test/storage.cc
Labels: area/redpanda, kind/backport

#14876 [v23.1.x] schema_registry: Support the compatible format for CONFIG value
  src/v/pandaproxy/schema_registry/storage.h
  src/v/pandaproxy/schema_registry/test/storage.cc
Labels: area/redpanda, kind/backport

#14877 [v22.3.x] schema_registry: Support the compatible format for CONFIG value
  src/v/pandaproxy/schema_registry/storage.h
  src/v/pandaproxy/schema_registry/test/storage.cc
Labels: area/redpanda, kind/backport

#14822 fixed rendering transaction status
  src/v/kafka/server/server.cc
  tests/rptest/tests/transaction_kafka_api_test.py
Labels: area/redpanda

#14884 ci: put a time limit on redpanda build job
  .github/workflows/build-redpanda.yml
Labels: area/build

#14883 transform: guard against double stops
  src/v/transform/tests/test_fixture.cc
  src/v/transform/tests/test_fixture.h
  src/v/transform/tests/transform_processor_test.cc
  src/v/transform/transform_processor.cc
  src/v/wasm/cache.cc
Labels: area/redpanda

#14874 io: add interval map container
  src/v/io/interval_map.h
  src/v/io/tests/CMakeLists.txt
  src/v/io/tests/interval_map_test.cc
Labels: area/redpanda

#14916 io: use structured interface for interval map
  src/v/io/interval_map.h
  src/v/io/tests/interval_map_test.cc
Labels: area/redpanda

#14794 Fix for `leader_ack` consistency level (do not advance last visible offset beyond majority replicated)
  src/v/raft/consensus.cc
  tests/rptest/tests/simple_e2e_test.py
Labels: area/redpanda

#14910 io: make io::cache formattable
  src/v/io/cache.h
  src/v/io/tests/cache_test.cc
Labels: area/redpanda

#14843 transform-sdk: move transform-sdk
  .github/labeler.yml
  .github/workflows/transform-sdk-build.yml
  src/CMakeLists.txt
  src/transform-sdk/go/LICENSE
  src/transform-sdk/go/abi.go
  src/transform-sdk/go/doc.go
  src/transform-sdk/go/example_mirror_test.go
  src/transform-sdk/go/example_regexp_filter_test.go
  src/transform-sdk/go/example_transcoding_test.go
  src/transform-sdk/go/go.mod
  src/transform-sdk/go/go.sum
  src/transform-sdk/go/internal/cache/cache.go
  src/transform-sdk/go/internal/cache/cache_test.go
  src/transform-sdk/go/internal/rwbuf/rwbuf.go
  src/transform-sdk/go/internal/rwbuf/rwbuf_test.go
  src/transform-sdk/go/internal/rwbuf/unsafe.go
  src/transform-sdk/go/internal/testdata/CMakeLists.txt
  src/transform-sdk/go/internal/testdata/README.md
  src/transform-sdk/go/internal/testdata/build_all.sh
  src/transform-sdk/go/internal/testdata/dynamic/transform.go
  src/transform-sdk/go/internal/testdata/go.mod
  src/transform-sdk/go/internal/testdata/go.sum
  src/transform-sdk/go/internal/testdata/identity/transform.go
  src/transform-sdk/go/internal/testdata/retry.py
  src/transform-sdk/go/internal/testdata/schema-registry/avro/example.go
  src/transform-sdk/go/internal/testdata/schema-registry/avro/generate.go
  src/transform-sdk/go/internal/testdata/schema-registry/avro/schema.avsc
  src/transform-sdk/go/internal/testdata/schema-registry/transform.go
  src/transform-sdk/go/internal/testdata/setup-panic/transform.go
  src/transform-sdk/go/internal/testdata/transform-error/transform.go
  src/transform-sdk/go/internal/testdata/transform-panic/transform.go
  src/transform-sdk/go/internal/testdata/wasi/transform.go
  src/transform-sdk/go/processor.go
  src/transform-sdk/go/sdk.go
  src/transform-sdk/go/serialize.go
  src/transform-sdk/go/serialize_test.go
  src/transform-sdk/go/sr/abi.go
  src/transform-sdk/go/sr/client.go
  src/transform-sdk/go/sr/doc.go
  src/transform-sdk/go/sr/encoding.go
  src/transform-sdk/go/sr/encoding_test.go
  src/transform-sdk/go/sr/serde.go
  src/transform-sdk/go/sr/serde_test.go
  src/transform-sdk/go/sr/stub_abi.go
  src/transform-sdk/go/stub_abi.go
  src/v/wasm/tests/CMakeLists.txt
  tests/docker/Dockerfile
  tests/docker/Dockerfile.dockerignore
  tests/docker/ducktape-deps/tinygo-wasi-transforms
Labels: area/build, area/redpanda

#14830 features: retire serde controller commands feature
  src/v/cluster/cluster_utils.h
  src/v/cluster/commands.h
  src/v/cluster/config_frontend.cc
  src/v/cluster/controller.cc
  src/v/cluster/feature_manager.cc
  src/v/cluster/members_frontend.cc
  src/v/cluster/members_frontend.h
  src/v/cluster/members_manager.cc
  src/v/cluster/security_frontend.cc
  src/v/cluster/tests/commands_serialization_test.cc
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/cluster/tests/topic_updates_dispatcher_test.cc
  src/v/cluster/topics_frontend.cc
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/features/tests/feature_table_test.cc
Labels: area/redpanda

#14905 redpanda: Make `redpanda_cpu_busy_seconds_total` a counter
  src/v/redpanda/application.cc
Labels: area/redpanda, area/metrics

#14618 3rdparty: Disable tests and tools for ada
  cmake/dependencies.cmake
  licenses/third_party.md
Labels: area/build

#14583 Additional enhancements to the audit framework
  src/v/kafka/client/client.cc
  src/v/kafka/client/client.h
  src/v/kafka/client/config_utils.cc
  src/v/kafka/client/config_utils.h
  src/v/kafka/client/configuration.cc
  src/v/kafka/client/configuration.h
  src/v/kafka/client/produce_batcher.h
  src/v/kafka/client/produce_partition.h
  src/v/kafka/client/producer.cc
  src/v/kafka/client/producer.h
  src/v/kafka/client/test/produce.cc
  src/v/kafka/client/test/retry_with_mitigation.cc
  src/v/kafka/client/utils.h
  src/v/kafka/server/connection_context.h
  src/v/kafka/server/handlers/produce.cc
  src/v/kafka/server/request_context.h
  src/v/kafka/server/server.cc
  src/v/redpanda/admin_server.h
  src/v/redpanda/application.cc
  src/v/security/acl.h
  src/v/security/audit/audit_log_manager.cc
  src/v/security/audit/audit_log_manager.h
  src/v/security/audit/tests/audit_log_test.cc
  src/v/utils/retry.h
  src/v/utils/tests/retry_test.cc
  tests/rptest/clients/kcl.py
  tests/rptest/clients/rpk.py
  tests/rptest/services/admin.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/audit_log_test.py
  tests/rptest/tests/cluster_config_test.py
  tests/rptest/tests/partition_reassignments_test.py
Labels: area/redpanda

#14932 [v23.1.x] tests: disable minio console
  tests/docker/docker-compose.yml
Labels: ci-failure, area/cloud-storage, kind/backport

#14900 Add OIDC sub claim to OCSF authn message
  src/v/security/audit/schemas/application_activity.h
  src/v/security/audit/schemas/iam.h
  src/v/security/audit/schemas/tests/ocsf_schemas_test.cc
  src/v/security/audit/schemas/types.h
  src/v/security/audit/schemas/utils.cc
  src/v/security/gssapi_authenticator.cc
  src/v/security/oidc_authenticator.cc
  src/v/security/oidc_authenticator.h
  tests/rptest/tests/audit_log_test.py
Labels: area/redpanda

#14931 security: Moved utils.cc to correct library
  src/v/security/CMakeLists.txt
  src/v/security/audit/CMakeLists.txt
Labels: area/redpanda

#14934 [v23.2.x] tests: retry on timeout in partition balancer test
  tests/rptest/tests/partition_balancer_test.py
Labels: kind/backport

#14927 [v22.3.x] redpanda: Make `redpanda_cpu_busy_seconds_total` a counter
  src/v/redpanda/application.cc
Labels: area/redpanda, kind/backport

#14926 [v23.2.x] redpanda: Make `redpanda_cpu_busy_seconds_total` a counter
  src/v/redpanda/application.cc
Labels: area/redpanda, kind/backport

#14626 Audit app lifecycle
  src/v/redpanda/application.cc
  src/v/security/audit/audit_log_manager.cc
  src/v/security/audit/audit_log_manager.h
  src/v/security/audit/schemas/tests/ocsf_schemas_test.cc
  src/v/security/audit/schemas/types.h
  src/v/security/audit/schemas/utils.cc
  src/v/security/audit/schemas/utils.h
  src/v/security/audit/tests/audit_log_test.cc
  tests/rptest/tests/audit_log_test.py
Labels: area/redpanda

#14878 chore: fixed building with clang-17
  src/v/archival/ntp_archiver_service.cc
  src/v/cloud_roles/request_response_helpers.cc
  src/v/cluster/log_eviction_stm.cc
  src/v/cluster/metrics_reporter.cc
  src/v/http/demo/client.cc
  src/v/http/tests/http_client_test.cc
  src/v/pandaproxy/test/utils.h
  src/v/ssx/future-util.h
Labels: area/redpanda

#14939 rpk: add no-browser to `cloud login`
  src/go/rpk/pkg/cli/cloud/byoc/install.go
  src/go/rpk/pkg/cli/cloud/login.go
  src/go/rpk/pkg/oauth/load.go
  src/go/rpk/pkg/oauth/load_test.go
  src/go/rpk/pkg/oauth/oauth.go
  src/go/rpk/pkg/oauth/oauth_test.go
Labels: area/rpk

#14911 archival: always move reupload start forward
  src/v/archival/segment_reupload.cc
  src/v/archival/tests/segment_reupload_test.cc
Labels: area/redpanda

#14906 build: enable ccache for open-source build
  .github/workflows/build-redpanda.yml
  install-dependencies.sh
Labels: area/build

#14935 rpk/transform/deploy: shorter env-var flag
  src/go/rpk/pkg/cli/transform/deploy.go
Labels: area/rpk

#14330 storage: enable sliding window compaction by default
  src/v/archival/archival_policy.cc
  src/v/archival/archival_policy.h
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/segment_reupload.cc
  src/v/archival/tests/ntp_archiver_reupload_test.cc
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/archival/tests/segment_reupload_test.cc
  src/v/archival/tests/service_fixture.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/segment.cc
  src/v/storage/segment_deduplication_utils.cc
  src/v/storage/tests/storage_e2e_test.cc
  tests/rptest/tests/cloud_storage_timing_stress_test.py
Labels: area/redpanda

#14901 Don't audit audit user authz checks
  src/v/kafka/server/handlers/produce.cc
  src/v/kafka/server/request_context.h
  tests/rptest/tests/audit_log_test.py
  tests/rptest/tests/cluster_config_test.py
Labels: area/redpanda

#14944 [v23.2.x] rpk: add no-browser to cloud login
  src/go/rpk/pkg/cli/cloud/byoc/install.go
  src/go/rpk/pkg/cli/cloud/login.go
  src/go/rpk/pkg/oauth/load.go
  src/go/rpk/pkg/oauth/load_test.go
  src/go/rpk/pkg/oauth/oauth.go
  src/go/rpk/pkg/oauth/oauth_test.go
Labels: area/rpk

#14856 segment_meta_cstore: handle gaps and overlaps
  src/v/cloud_storage/segment_meta_cstore.cc
  src/v/cloud_storage/segment_meta_cstore.h
  src/v/cloud_storage/tests/segment_meta_cstore_test.cc
Labels: area/redpanda

#14954 [v23.2.x] segment_meta_cstore: handle gaps and overlaps
  src/v/cloud_storage/segment_meta_cstore.cc
  src/v/cloud_storage/segment_meta_cstore.h
  src/v/cloud_storage/tests/segment_meta_cstore_test.cc
Labels: area/redpanda, kind/backport

#14952 [v23.2.x] cloud_storage: Add client address to fetch and log reader config
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_segment.cc
  src/v/kafka/server/connection_context.h
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/fetch.h
  src/v/model/fundamental.h
  src/v/net/server.cc
  src/v/storage/types.cc
  src/v/storage/types.h
Labels: area/redpanda, kind/backport

#14957 cloud_storage: Log client address in batch parser
  src/v/cloud_storage/remote_segment.cc
Labels: area/redpanda

#14958 [v23.2.x] cloud_storage: Log client address in batch parser
  src/v/cloud_storage/remote_segment.cc
Labels: area/redpanda, kind/backport

#14956 redpanda: rename admin server logger
  src/v/redpanda/admin_server.cc
Labels: area/redpanda

#14946 archival: handle shutdown in housekeeping more gracefully
  src/v/archival/upload_housekeeping_service.cc
Labels: area/redpanda

#14940 wasm: lower fuel interval
  src/v/wasm/wasmtime.cc
Labels: area/redpanda

#14937 wasm/sr: initialize internal topic
  src/v/pandaproxy/schema_registry/service.h
  src/v/wasm/schema_registry.cc
Labels: area/redpanda

#14941 admin: handle transform errors with 400s
  src/v/redpanda/admin_server.cc
Labels: area/redpanda

#14938 config: make wasm memory user configurable
  src/v/config/configuration.cc
Labels: area/redpanda

#13785 cluster: add cluster recovery controller stm management
  src/v/cloud_storage/tests/s3_imposter.cc
  src/v/cluster/CMakeLists.txt
  src/v/cluster/cloud_metadata/cluster_recovery_backend.cc
  src/v/cluster/cloud_metadata/cluster_recovery_backend.h
  src/v/cluster/cloud_metadata/manifest_downloads.cc
  src/v/cluster/cloud_metadata/manifest_downloads.h
  src/v/cluster/cloud_metadata/tests/CMakeLists.txt
  src/v/cluster/cloud_metadata/tests/cluster_recovery_backend_test.cc
  src/v/cluster/cluster_recovery_manager.cc
  src/v/cluster/cluster_recovery_manager.h
  src/v/cluster/cluster_recovery_table.h
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/controller_snapshot.cc
  src/v/cluster/controller_snapshot.h
  src/v/cluster/controller_stm.cc
  src/v/cluster/controller_stm.h
  src/v/cluster/fwd.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/redpanda/admin/api-doc/shadow_indexing.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  src/v/redpanda/application.cc
  src/v/test_utils/test_macros.h
  tests/rptest/services/admin.py
  tests/rptest/tests/cluster_recovery_test.py
Labels: area/redpanda

#14918 [v23.2.x] Fix for `leader_ack` consistency level (do not advance last visible offset beyond majority replicated)
  src/v/raft/consensus.cc
  tests/rptest/tests/simple_e2e_test.py
Labels: area/redpanda, kind/backport

#14886 [v23.2.x] fixed rendering transaction status
  src/v/kafka/server/server.cc
  tests/rptest/tests/transaction_kafka_api_test.py
Labels: area/redpanda, kind/backport

#14881 [v23.2.x] Add proper exception handler to around eviction_stm's call to replicate
  src/v/cluster/log_eviction_stm.cc
Labels: area/redpanda, kind/backport

#14917 transform: read committed isolation
  src/v/kafka/server/fwd.h
  src/v/model/record_batch_reader.cc
  src/v/model/record_batch_reader.h
  src/v/random/generators.h
  src/v/transform/CMakeLists.txt
  src/v/transform/api.cc
  src/v/transform/io.h
  src/v/transform/tests/CMakeLists.txt
  src/v/transform/tests/txn_reader_test.cc
  src/v/transform/txn_reader.cc
  src/v/transform/txn_reader.h
Labels: area/redpanda

#14965 cluster/service: fix plugin RPCs
  src/v/cluster/service.cc
Labels: area/redpanda

#14966 model/transform: fix last_offset_delta for transformed batches
  src/v/model/tests/transform_test.cc
  src/v/model/transform.cc
Labels: area/redpanda

#14967 redpanda: move some debug endpoints into separate file
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/admin/debug.cc
  src/v/redpanda/admin/server.cc
  src/v/redpanda/admin/server.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
Labels: area/redpanda

#14960 c/service: fixed accessing result when it contains an error
  src/v/cluster/service.cc
Labels: area/redpanda

#14984 storage: clean up logging in compaction code
  src/v/storage/disk_log_impl.cc
  src/v/storage/segment_deduplication_utils.cc
Labels: area/redpanda

#14921 io: add storage provider
  cmake/testing.cmake
  src/v/io/CMakeLists.txt
  src/v/io/persistence.cc
  src/v/io/persistence.h
  src/v/io/tests/CMakeLists.txt
  src/v/io/tests/common.cc
  src/v/io/tests/common.h
  src/v/io/tests/persistence_test.cc
  tools/cmake_test.py
Labels: area/build, area/redpanda

#14986 treewide: log debug messages on shutdown error
  src/v/archival/upload_housekeeping_service.cc
  src/v/kafka/server/connection_context.cc
  src/v/storage/log_manager.cc
Labels: area/redpanda

#14989 build: improve ccache by updating the cache
  .github/workflows/build-redpanda.yml
Labels: area/build

#14992 redpanda: split out more debug handlers
  src/v/redpanda/admin/debug.cc
  src/v/redpanda/admin/server.cc
Labels: area/redpanda

#14978 c/archival_stm: translate sync error to not_leader error code
  src/v/cluster/archival_metadata_stm.cc
Labels: area/redpanda

#14993 admin: split transform routes
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/admin/server.cc
  src/v/redpanda/admin/transform.cc
Labels: area/redpanda

#14862 rpk: add `rpk cluster partitions list`
  src/go/rpk/pkg/adminapi/admin.go
  src/go/rpk/pkg/adminapi/api_partition.go
  src/go/rpk/pkg/cli/cluster/partitions/cancel.go
  src/go/rpk/pkg/cli/cluster/partitions/cancel_hidden.go
  src/go/rpk/pkg/cli/cluster/partitions/list.go
  src/go/rpk/pkg/cli/cluster/partitions/move_status.go
  src/go/rpk/pkg/cli/cluster/partitions/partitions.go
  src/go/rpk/pkg/cli/cluster/partitions/status.go
  src/go/rpk/pkg/cli/generate/app.go
  src/go/rpk/pkg/cli/registry/schema/get.go
Labels: area/rpk

#14991 k/server: Audit successful fetch authz only onces
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/request_context.h
  tests/rptest/tests/audit_log_test.py
Labels: area/redpanda

#14994 storage: consider segments with only non-data batches as compacted
  src/v/storage/disk_log_impl.cc
  src/v/storage/tests/compaction_e2e_test.cc
Labels: area/redpanda

#14995 r/recovery_stm: fixed offset translator state in on demand snapshot
  src/v/raft/recovery_stm.cc
  src/v/raft/tests/raft_fixture.cc
  src/v/raft/tests/raft_fixture.h
  src/v/raft/tests/raft_reconfiguration_test.cc
Labels: area/redpanda

#14925 cloud_storage: improve description of cache_op_miss
  src/v/cloud_storage/cache_probe.cc
Labels: area/redpanda

#15008 [v23.2.x] Better error message when topic creation fails
  src/v/cluster/scheduling/partition_allocator.cc
Labels: area/redpanda, kind/backport

#14970 transform: fix translation errors
  src/v/model/transform.h
  src/v/transform/api.cc
  src/v/transform/rpc/service.cc
  src/v/transform/transform_processor.cc
Labels: area/redpanda

#14936 security/jwt_test: Add AD-FS test data
  src/v/security/tests/jwt_test.cc
Labels: area/redpanda

#15011 storage: fix some compaction races with suffix truncation
  src/v/storage/disk_log_impl.cc
  src/v/storage/segment_deduplication_utils.cc
  src/v/storage/segment_deduplication_utils.h
  src/v/storage/segment_utils.cc
  src/v/storage/segment_utils.h
  src/v/storage/tests/log_truncate_test.cc
  src/v/storage/tests/segment_deduplication_test.cc
Labels: area/redpanda

#14981 [v23.2.x] Fixed handling Raft snapshot
  src/v/raft/consensus.cc
  src/v/raft/state_machine.cc
  src/v/raft/state_machine.h
Labels: area/redpanda, kind/backport

#14839 [v23.2.x] archival: start reupload range after log start
  src/v/archival/segment_reupload.cc
  src/v/archival/tests/segment_reupload_test.cc
Labels: area/redpanda, kind/backport

#14997 [v23.2.x] c/archival_stm: translate sync error to not_leader error code
  src/v/cluster/archival_metadata_stm.cc
Labels: area/redpanda, kind/backport

#14971 rm_stm: interface for highest producer_id
  src/v/cluster/partition.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/rm_stm_tests.cc
  src/v/cluster/tx_snapshot_utils.cc
  src/v/cluster/tx_snapshot_utils.h
Labels: area/redpanda

#14907 Allow for `rpc_client_connections_per_peer` to be configured in v23.2.x
  src/v/cluster/cluster_utils.cc
  src/v/cluster/node_status_backend.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/raft/tests/raft_group_fixture.h
  src/v/redpanda/application.cc
  src/v/rpc/connection_cache.cc
  src/v/rpc/connection_cache.h
Labels: area/redpanda

#14969 Transactions API Authorization
  src/v/kafka/protocol/add_partitions_to_txn.h
  src/v/kafka/server/handlers/txn_offset_commit.cc
  src/v/kafka/server/server.cc
  tests/rptest/clients/rpk.py
  tests/rptest/tests/transactions_test.py
Labels: area/redpanda

#15031 c/topic_table: fix force_update replicas_revisions update
  src/v/cluster/partition_balancer_state.cc
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/cluster/topic_updates_dispatcher.cc
  src/v/cluster/types.h
Labels: area/redpanda

#14478 tests: added tiered storage to node pool migration test
  src/v/kafka/protocol/kafka_batch_adapter.h
  tests/rptest/services/admin.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/node_pool_migration_test.py
Labels: area/redpanda

#13662 cloud_metadata: utilities for uploading consumer offsets
  src/v/cluster/CMakeLists.txt
  src/v/cluster/cloud_metadata/error_outcome.h
  src/v/cluster/cloud_metadata/key_utils.cc
  src/v/cluster/cloud_metadata/key_utils.h
  src/v/cluster/cloud_metadata/offsets_recovery_service.h
  src/v/cluster/cloud_metadata/offsets_snapshot.h
  src/v/cluster/cloud_metadata/offsets_upload_router.h
  src/v/cluster/cloud_metadata/offsets_upload_rpc_types.h
  src/v/cluster/cloud_metadata/offsets_uploader.cc
  src/v/cluster/cloud_metadata/offsets_uploader.h
  src/v/cluster/cloud_metadata/tests/CMakeLists.txt
  src/v/cluster/cloud_metadata/tests/offsets_recovery_test.cc
  src/v/cluster/offsets_recovery_rpc.json
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/group.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
Labels: area/redpanda

#14990 security/oidc: Add metrics, JWKS refresh and Some admin endpoints
  src/v/cluster/controller.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/admin/api-doc/security.def.json
  src/v/redpanda/admin/api-doc/security.json
  src/v/redpanda/admin/server.cc
  src/v/redpanda/admin/server.h
  src/v/security/exceptions.h
  src/v/security/oidc_service.cc
  src/v/security/oidc_service.h
  src/v/security/request_auth.cc
  src/v/security/request_auth.h
  tests/rptest/tests/redpanda_oauth_test.py
Labels: area/redpanda, area/security, area/admin-api, doc-needed

#15025 storage: fix variable name typo in gc logging statement
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda

#15030 Add support for excluding topics and principals in auditing
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/validators.cc
  src/v/config/validators.h
  src/v/kafka/server/request_context.h
  src/v/kafka/server/server.cc
  src/v/redpanda/admin/server.cc
  src/v/redpanda/admin/server.h
  src/v/security/audit/audit_log_manager.cc
  src/v/security/audit/audit_log_manager.h
  src/v/security/audit/schemas/tests/ocsf_schemas_test.cc
  src/v/security/audit/schemas/utils.cc
  src/v/security/audit/schemas/utils.h
  tests/rptest/tests/audit_log_test.py
Labels: area/redpanda

#15058 transform-sdk/go: correct module path
  src/go/rpk/pkg/cli/transform/init.go
  src/go/rpk/pkg/cli/transform/template/golang/transform.gosrc
  src/transform-sdk/go/example_mirror_test.go
  src/transform-sdk/go/example_regexp_filter_test.go
  src/transform-sdk/go/example_transcoding_test.go
  src/transform-sdk/go/go.mod
  src/transform-sdk/go/internal/cache/cache_test.go
  src/transform-sdk/go/internal/testdata/dynamic/transform.go
  src/transform-sdk/go/internal/testdata/go.mod
  src/transform-sdk/go/internal/testdata/identity/transform.go
  src/transform-sdk/go/internal/testdata/schema-registry/transform.go
  src/transform-sdk/go/internal/testdata/transform-error/transform.go
  src/transform-sdk/go/internal/testdata/transform-panic/transform.go
  src/transform-sdk/go/internal/testdata/wasi/transform.go
  src/transform-sdk/go/processor.go
  src/transform-sdk/go/serialize.go
  src/transform-sdk/go/serialize_test.go
  src/transform-sdk/go/sr/client.go
  src/transform-sdk/go/sr/encoding.go
  src/transform-sdk/go/sr/encoding_test.go
Labels: area/rpk, area/wasm
