Repository redpanda-data/redpanda, pull requests merged in 2023-06, with the labels that each got.

#10825 Use opaque records in Raft append entries message
  src/v/cloud_storage/remote_segment.cc
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/compat/model_compat.h
  src/v/compat/model_generator.h
  src/v/compat/raft_compat.h
  src/v/compat/raft_generator.h
  src/v/compat/raft_json.h
  src/v/compat/run.cc
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/model/record.h
  src/v/raft/append_entries_buffer.cc
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/consensus_client_protocol.h
  src/v/raft/raftgen.json
  src/v/raft/recovery_stm.cc
  src/v/raft/recovery_stm.h
  src/v/raft/replicate_batcher.cc
  src/v/raft/replicate_entries_stm.cc
  src/v/raft/replicate_entries_stm.h
  src/v/raft/rpc_client_protocol.cc
  src/v/raft/rpc_client_protocol.h
  src/v/raft/service.h
  src/v/raft/tests/type_serialization_tests.cc
  src/v/raft/types.cc
  src/v/raft/types.h
  src/v/storage/tests/compaction_index_format_tests.cc
  src/v/test_utils/randoms.h
Labels: area/redpanda

#10826 add slash command for triggering release+publish workflow
  .github/workflows/buildkite-slash-commands.yml
  .github/workflows/slash-commands.yml
Labels: area/build

#10786 schema_registry/avro: Canonicalize AVRO schema
  src/v/pandaproxy/schema_registry/avro.cc
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/storage.h
  src/v/pandaproxy/schema_registry/test/consume_to_store.cc
  src/v/pandaproxy/schema_registry/test/sanitize_avro.cc
  src/v/pandaproxy/schema_registry/test/sharded_store.cc
  src/v/pandaproxy/schema_registry/test/storage.cc
  src/v/pandaproxy/schema_registry/types.h
  tests/rptest/remote_scripts/schema_registry_test_helper.py
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, area/schema-registry

#11143 [v23.1.x] schema_registry/avro: Canonicalize AVRO schema
  src/v/pandaproxy/schema_registry/avro.cc
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/storage.h
  src/v/pandaproxy/schema_registry/test/consume_to_store.cc
  src/v/pandaproxy/schema_registry/test/sanitize_avro.cc
  src/v/pandaproxy/schema_registry/test/sharded_store.cc
  src/v/pandaproxy/schema_registry/test/storage.cc
  src/v/pandaproxy/schema_registry/types.h
  tests/rptest/remote_scripts/schema_registry_test_helper.py
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, kind/backport

#11106 rpk: fix `profile create --from-simple`
  src/go/rpk/pkg/cli/debug/bundle/bundle_linux.go
  src/go/rpk/pkg/config/config.go
  src/go/rpk/pkg/config/params.go
  src/go/rpk/pkg/config/params_test.go
  src/go/rpk/pkg/config/redpanda_yaml.go
  src/go/rpk/pkg/config/weak.go
  src/go/rpk/pkg/config/weak_test.go
Labels: area/rpk

#10909 cloud_storage: Handle nested benign exception
  src/v/cloud_storage_clients/tests/CMakeLists.txt
  src/v/cloud_storage_clients/tests/exception_test.cc
  src/v/cloud_storage_clients/util.cc
  src/v/cloud_storage_clients/util.h
Labels: area/redpanda

#11138 storage/compacted_index_chunk_reader: fix memory calculation
  src/v/storage/compacted_index_chunk_reader.cc
Labels: area/storage, area/oversized-allocation

#10681 Require conn_quota::units stay on a single shard
  src/v/bytes/oncore.cc
  src/v/bytes/oncore.h
  src/v/net/conn_quota.cc
  src/v/net/conn_quota.h
  src/v/utils/source_location.h
  src/v/vlog.h
Labels: area/redpanda

#11154 c/partition_allocator: maintain and use final partition counts
  src/v/cluster/members_backend.cc
  src/v/cluster/scheduling/allocation_node.cc
  src/v/cluster/scheduling/allocation_node.h
  src/v/cluster/scheduling/allocation_state.cc
  src/v/cluster/scheduling/allocation_state.h
  src/v/cluster/scheduling/constraints.cc
  src/v/cluster/scheduling/constraints.h
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/cluster/scheduling/partition_allocator.h
  src/v/cluster/scheduling/types.cc
  src/v/cluster/tests/backend_reallocation_strategy_test.cc
  src/v/cluster/tests/partition_allocator_tests.cc
  src/v/cluster/tests/topic_updates_dispatcher_test.cc
  src/v/cluster/topic_updates_dispatcher.cc
  src/v/cluster/topic_updates_dispatcher.h
Labels: area/redpanda

#11093 cloud_storage: Handle expected hydrate errors
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/segment_chunk_data_source.cc
  src/v/cloud_storage/segment_chunk_data_source.h
Labels: area/redpanda

#11163 [v23.1.x] storage/compacted_index_chunk_reader: fix memory calculation
  src/v/storage/compacted_index_chunk_reader.cc
Labels: area/redpanda, kind/backport

#11057 miscellaneous improvements to s3_imposter
  src/v/cloud_storage/tests/CMakeLists.txt
  src/v/cloud_storage/tests/remote_test.cc
  src/v/cloud_storage/tests/s3_imposter.cc
Labels: area/redpanda

#11165 cloud_storage: Use chunked storage in tests
  src/v/cloud_storage/tests/util.h
Labels: area/redpanda

#11023 rpc/transport: fix temporary dispatch loop stalls
  src/v/rpc/transport.cc
  src/v/rpc/transport.h
Labels: area/redpanda

#10755 Node-wide throughput exemptions for clients
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage_clients/configuration.h
  src/v/config/CMakeLists.txt
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/tests/CMakeLists.txt
  src/v/config/tests/throughput_control_group_test.cc
  src/v/config/throughput_control_group.cc
  src/v/config/throughput_control_group.h
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/connection_context.h
  src/v/kafka/server/fwd.h
  src/v/kafka/server/snc_quota_manager.cc
  src/v/kafka/server/snc_quota_manager.h
  src/v/utils/functional.h
  tests/rptest/tests/cluster_config_test.py
  tests/rptest/tests/throughput_limits_snc_test.py
Labels: area/redpanda, doc-needed

#11185 bytes: a few misc libbytes clean-ups
  src/v/bytes/CMakeLists.txt
  src/v/bytes/bytes.cc
  src/v/bytes/iobuf.cc
  src/v/bytes/iobuf.h
  src/v/bytes/iobuf_ostreambuf.h
  src/v/bytes/oncore.cc
  src/v/bytes/streambuf.h
  src/v/bytes/tests/iobuf_tests.cc
  src/v/cloud_roles/aws_sts_refresh_impl.cc
  src/v/cloud_roles/gcp_refresh_impl.cc
  src/v/cloud_roles/request_response_helpers.cc
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/tests/util.h
  src/v/cloud_storage/topic_manifest.cc
  src/v/cloud_storage/tx_range_manifest.cc
  src/v/cloud_storage_clients/util.cc
  src/v/cluster/cloud_metadata/cluster_manifest.cc
  src/v/cluster/partition_recovery_manager.cc
  src/v/cluster/scheduling/allocation_state.cc
  src/v/cluster/scheduling/allocation_state.h
  src/v/cluster/scheduling/types.h
  src/v/config/property.h
  src/v/kafka/server/usage_manager.h
  src/v/net/conn_quota.h
  src/v/oncore.h
  src/v/vassert.h
Labels: area/redpanda

#11190 [nit] Fix a comment spelling typo.
  src/v/bytes/iobuf.h
Labels: area/redpanda

#11173 c/self-test/diskcheck: Avoid large allocations
  src/v/cluster/self_test/diskcheck.cc
Labels: area/redpanda, area/oversized-allocation

#11119 [cloud_storage] segment_meta_cstore::prefix_truncate fix range of _hints to remove
  src/v/cloud_storage/segment_meta_cstore.cc
Labels: area/redpanda

#11146 Using `node_status_table` to determine node unavailability in partition balancer
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/partition_balancer_backend.cc
  src/v/cluster/partition_balancer_backend.h
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/partition_balancer_planner.h
  src/v/cluster/partition_balancer_state.cc
  src/v/cluster/partition_balancer_state.h
  src/v/cluster/tests/partition_balancer_bench.cc
  src/v/cluster/tests/partition_balancer_planner_fixture.h
  src/v/cluster/tests/partition_balancer_planner_test.cc
  src/v/cluster/tests/topic_table_fixture.h
  src/v/redpanda/application.cc
Labels: area/redpanda

#11164 Improved handling of notification in `cluster::node_status_backend`
  src/v/cluster/node_status_backend.cc
  src/v/cluster/node_status_backend.h
  src/v/cluster/node_status_table.h
Labels: area/redpanda

#11191 [feature_table] Replace set with unordered_set.
  src/v/features/feature_table.h
Labels: area/redpanda

#11202 fix typo oprhan -> orphan
  src/v/cluster/controller_backend.cc
  src/v/storage/log_manager.cc
Labels: area/redpanda

#11167 tls: Prefer faster ciphers and use server preference
  src/v/config/tls_config.h
Labels: area/redpanda

#11196 [v23.1.x] c/self-test/diskcheck: Avoid large allocations
  src/v/cluster/self_test/diskcheck.cc
Labels: area/redpanda, kind/backport

#10929 cloud_storage: write remote lifecycle markers after purge
  src/v/archival/scrubber.cc
  src/v/archival/scrubber.h
  src/v/cloud_storage/lifecycle_marker.h
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/redpanda/admin/api-doc/shadow_indexing.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  tests/docker/ducktape-deps/client-swarm
  tests/rptest/archival/abs_client.py
  tests/rptest/clients/rp_storage_tool.py
  tests/rptest/services/admin.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/topic_delete_test.py
  tests/rptest/utils/si_utils.py
Labels: kind/enhance, area/redpanda, area/cloud-storage

#11218 [v23.1.x] tls: Prefer faster ciphers and use server preference
  src/v/config/tls_config.h
Labels: area/redpanda, kind/backport

#11217 [v22.3.x] tls: Prefer faster ciphers and use server preference
  src/v/config/tls_config.h
Labels: area/redpanda, kind/backport

#11010 [v23.1.x] Backport 10797 v23.1.x
  tests/rptest/tests/cloud_retention_test.py
Labels: area/tests, kind/backport

#10768 [v23.1.x] tests: fix timeout in test_cloud_size_based_retention
  tests/rptest/tests/retention_policy_test.py
Labels: kind/backport

#11128 [v22.3.x] Check for perfect replicas distribution in `ScalingUpTest.test_adding_nodes_to_cluster`
  tests/rptest/tests/scaling_up_test.py
Labels: kind/backport

#11225 cloud_storage_clients/abs: fix arg count for log
  src/v/cloud_storage_clients/abs_client.cc
Labels: area/redpanda, area/cloud-storage

#11214 [v23.1.x] c/consensus_utils: adjust recovery offset ranges
  src/v/raft/consensus_utils.cc
Labels: area/redpanda, kind/backport

#10729 [v22.3.x] Use chunk_cache as source of truth for chunk size
  src/v/storage/chunk_cache.h
  src/v/storage/segment_appender.cc
  src/v/storage/segment_utils.cc
  src/v/storage/storage_resources.cc
Labels: area/redpanda

#11216 Schema Registry: `GET /schemas/ids/<id>` should return references
  src/v/pandaproxy/schema_registry/avro.cc
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/requests/get_schemas_ids_id.h
  src/v/pandaproxy/schema_registry/requests/get_subject_versions_version.h
  src/v/pandaproxy/schema_registry/requests/post_subject_versions.h
  src/v/pandaproxy/schema_registry/requests/test/get_subject_versions_version.cc
  src/v/pandaproxy/schema_registry/requests/test/post_subject_versions.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/storage.h
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.h
  src/v/pandaproxy/schema_registry/test/consume_to_store.cc
  src/v/pandaproxy/schema_registry/test/delete_subject_endpoints.cc
  src/v/pandaproxy/schema_registry/test/post_subjects_subject_version.cc
  src/v/pandaproxy/schema_registry/test/sharded_store.cc
  src/v/pandaproxy/schema_registry/test/storage.cc
  src/v/pandaproxy/schema_registry/test/store.cc
  src/v/pandaproxy/schema_registry/types.cc
  src/v/pandaproxy/schema_registry/types.h
Labels: area/redpanda, area/schema-registry

#11048 tests: ducktape test of rpk -X and rpk profile
  src/go/rpk/pkg/cli/cloud/auth/list.go
  src/go/rpk/pkg/cli/profile/list.go
  tests/rptest/clients/rpk.py
  tests/rptest/clients/rpk_remote.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/rpk_cloud_test.py
  tests/rptest/tests/rpk_config_test.py
  tests/rptest/tests/rpk_profile_test.py
  tests/rptest/utils/rpk_config.py
Labels: area/rpk

#10545 cloud_metadata: initial structure for metadata upload loop
  src/v/cloud_storage/tests/remote_test.cc
  src/v/cloud_storage/tests/s3_imposter.cc
  src/v/cluster/CMakeLists.txt
  src/v/cluster/cloud_metadata/cluster_manifest.cc
  src/v/cluster/cloud_metadata/cluster_manifest.h
  src/v/cluster/cloud_metadata/error_outcome.h
  src/v/cluster/cloud_metadata/manifest_downloads.cc
  src/v/cluster/cloud_metadata/manifest_downloads.h
  src/v/cluster/cloud_metadata/tests/CMakeLists.txt
  src/v/cluster/cloud_metadata/tests/cluster_manifest_test.cc
  src/v/cluster/cloud_metadata/tests/manifest_downloads_test.cc
  src/v/cluster/cloud_metadata/tests/uploader_test.cc
  src/v/cluster/cloud_metadata/uploader.cc
  src/v/cluster/cloud_metadata/uploader.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

#11153 k8s: revert remove --platform flag from operator images' dockerfile
  src/go/k8s/Dockerfile
Labels: area/k8s, k8s/tests

#11223 tools: import `rp-storage-tool`
  tests/docker/Dockerfile
  tests/docker/Dockerfile.dockerignore
  tests/docker/ducktape-deps/client-swarm
  tests/docker/ducktape-deps/rp-storage-tool
  tests/docker/ducktape-deps/rust
  tools/rp_storage_tool/Cargo.lock
  tools/rp_storage_tool/Cargo.toml
  tools/rp_storage_tool/README.md
  tools/rp_storage_tool/deltafor/Cargo.toml
  tools/rp_storage_tool/deltafor/src/bitpack.rs
  tools/rp_storage_tool/deltafor/src/envelope.rs
  tools/rp_storage_tool/deltafor/src/lib.rs
  tools/rp_storage_tool/redpanda-records/Cargo.toml
  tools/rp_storage_tool/redpanda-records/src/batch.rs
  tools/rp_storage_tool/redpanda-records/src/lib.rs
  tools/rp_storage_tool/resources/test/3676-7429-77-1-v1.log.1
  tools/rp_storage_tool/resources/test/lifecycle_marker.bin
  tools/rp_storage_tool/resources/test/manifest.json
  tools/rp_storage_tool/resources/test/manifest_23_2_binary.bin
  tools/rp_storage_tool/resources/test/manifest_23_2_binary_2.bin
  tools/rp_storage_tool/resources/test/manifest_empty.json
  tools/rp_storage_tool/resources/test/manifest_no_max_timestamp.json
  tools/rp_storage_tool/resources/test/manifest_nocompact.json
  tools/rp_storage_tool/resources/test/manifest_short.json
  tools/rp_storage_tool/resources/test/manifest_with_replaced_segments.bin
  tools/rp_storage_tool/resources/test/test_segment.bin
  tools/rp_storage_tool/resources/test/topic_manifest.json
  tools/rp_storage_tool/src/batch_crc.rs
  tools/rp_storage_tool/src/batch_reader.rs
  tools/rp_storage_tool/src/batch_writer.rs
  tools/rp_storage_tool/src/bucket_reader.rs
  tools/rp_storage_tool/src/error.rs
  tools/rp_storage_tool/src/fundamental.rs
  tools/rp_storage_tool/src/main.rs
  tools/rp_storage_tool/src/main_unstable.rs
  tools/rp_storage_tool/src/ntp_mask.rs
  tools/rp_storage_tool/src/remote_types.rs
  tools/rp_storage_tool/src/repair.rs
  tools/rp_storage_tool/src/segment_writer.rs
  tools/rp_storage_tool/src/util.rs
  tools/rp_storage_tool/src/varint.rs
Labels: kind/enhance, area/cloud-storage

#11219 build: add an option to run clang-tidy along side compilation
  src/v/CMakeLists.txt
  src/v/cloud_storage_clients/client_probe.cc
  src/v/cluster/node_status_table.h
  src/v/config/property.h
  src/v/kafka/client/test/consumer_group.cc
  src/v/kafka/client/test/fetch.cc
  src/v/kafka/client/test/produce.cc
  src/v/kafka/client/test/retry.cc
  src/v/kafka/server/tests/produce_consume_utils.h
  src/v/model/adl_serde.cc
  src/v/model/tests/model_serialization_test.cc
  src/v/net/connection.cc
  src/v/pandaproxy/rest/test/consumer_group.cc
  src/v/pandaproxy/rest/test/list_topics.cc
  src/v/pandaproxy/schema_registry/store.h
  src/v/raft/tests/raft_group_fixture.h
  src/v/raft/vote_stm.h
  src/v/rpc/netbuf.cc
  src/v/rpc/test/serialization_test.cc
  src/v/rpc/transport.cc
  src/v/rpc/transport.h
  src/v/security/acl.h
  src/v/storage/file_sanitizer.h
  src/v/storage/fs_utils.h
  src/v/storage/spill_key_index.cc
  src/v/storage/tests/storage_test_fixture.h
Labels: area/redpanda

#11224 tools: add a github action for rp-storage-tool tests
  .github/workflows/rp-storage-tool-checks.yml
Labels: kind/enhance, area/build, area/cloud-storage

#10905 Limit memory used while fetching many partitions
  src/v/config/bounded_property.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/tests/bounded_property_test.cc
  src/v/kafka/server/connection_context.h
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/fetch.h
  src/v/kafka/server/request_context.h
  src/v/kafka/server/server.cc
  src/v/kafka/server/server.h
  src/v/kafka/server/tests/CMakeLists.txt
  src/v/kafka/server/tests/fetch_test.cc
  src/v/kafka/server/tests/fetch_unit_test.cc
  src/v/net/server.h
  src/v/redpanda/tests/fixture.h
  tests/rptest/tests/memory_stress_test.py
Labels: area/redpanda, doc-needed

#11240 [v23.1.x] Schema Registry: GET /schemas/ids/<id> should return references
  src/v/pandaproxy/schema_registry/avro.cc
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/requests/get_schemas_ids_id.h
  src/v/pandaproxy/schema_registry/requests/get_subject_versions_version.h
  src/v/pandaproxy/schema_registry/requests/post_subject_versions.h
  src/v/pandaproxy/schema_registry/requests/test/get_subject_versions_version.cc
  src/v/pandaproxy/schema_registry/requests/test/post_subject_versions.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/storage.h
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.h
  src/v/pandaproxy/schema_registry/test/consume_to_store.cc
  src/v/pandaproxy/schema_registry/test/delete_subject_endpoints.cc
  src/v/pandaproxy/schema_registry/test/post_subjects_subject_version.cc
  src/v/pandaproxy/schema_registry/test/sharded_store.cc
  src/v/pandaproxy/schema_registry/test/storage.cc
  src/v/pandaproxy/schema_registry/test/store.cc
  src/v/pandaproxy/schema_registry/types.cc
  src/v/pandaproxy/schema_registry/types.h
Labels: area/schema-registry, kind/backport

#11241 [v22.3.x] Schema Registry: GET /schemas/ids/<id> should return references
  src/v/pandaproxy/schema_registry/avro.cc
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/requests/get_schemas_ids_id.h
  src/v/pandaproxy/schema_registry/requests/get_subject_versions_version.h
  src/v/pandaproxy/schema_registry/requests/post_subject_versions.h
  src/v/pandaproxy/schema_registry/requests/test/get_subject_versions_version.cc
  src/v/pandaproxy/schema_registry/requests/test/post_subject_versions.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/storage.h
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.h
  src/v/pandaproxy/schema_registry/test/consume_to_store.cc
  src/v/pandaproxy/schema_registry/test/delete_subject_endpoints.cc
  src/v/pandaproxy/schema_registry/test/post_subjects_subject_version.cc
  src/v/pandaproxy/schema_registry/test/sharded_store.cc
  src/v/pandaproxy/schema_registry/test/storage.cc
  src/v/pandaproxy/schema_registry/test/store.cc
  src/v/pandaproxy/schema_registry/types.cc
  src/v/pandaproxy/schema_registry/types.h
Labels: area/redpanda, area/schema-registry, kind/backport

#11236 [v23.1.x] cloud_storage_clients/abs: fix arg count for log
  src/v/cloud_storage_clients/abs_client.cc
Labels: area/redpanda, kind/backport

#11129 cluster: Allow persisted_stm to use the kvstore for snapshots if selected
  src/v/archival/tests/archival_metadata_stm_test.cc
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
  src/v/cluster/cluster_utils.cc
  src/v/cluster/cluster_utils.h
  src/v/cluster/controller_backend.cc
  src/v/cluster/id_allocator_stm.cc
  src/v/cluster/id_allocator_stm.h
  src/v/cluster/persisted_stm.cc
  src/v/cluster/persisted_stm.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/cluster_utils_tests.cc
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/cluster/types.h
  src/v/storage/kvstore.h
  src/v/storage/tests/kvstore_fixture.h
  src/v/storage/tests/kvstore_test.cc
Labels: area/redpanda

#11025 [v23.1.x] Using `chunked_fifo` in `heartbeat_manager`
  src/v/raft/heartbeat_manager.cc
  src/v/raft/heartbeat_manager.h
Labels: area/redpanda, kind/backport

#10042 Avoid caching batches when only one node is recovering
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/recovery_stm.cc
Labels: area/redpanda

#11133 storage: add cache target estimates and space management control loop skeleton
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/tests/remote_partition_test.cc
  src/v/cloud_storage/tests/remote_segment_test.cc
  src/v/cloud_storage/tests/util.h
  src/v/cloud_storage/types.h
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/resource_mgmt/CMakeLists.txt
  src/v/resource_mgmt/storage.cc
  src/v/resource_mgmt/storage.h
Labels: area/redpanda

#11213 [v23.1.x] Node-wide throughput exemptions for clients
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage_clients/configuration.h
  src/v/config/CMakeLists.txt
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/tests/CMakeLists.txt
  src/v/config/tests/throughput_control_group_test.cc
  src/v/config/throughput_control_group.cc
  src/v/config/throughput_control_group.h
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/connection_context.h
  src/v/kafka/server/fwd.h
  src/v/kafka/server/snc_quota_manager.cc
  src/v/kafka/server/snc_quota_manager.h
  src/v/utils/functional.h
  tests/rptest/tests/cluster_config_test.py
  tests/rptest/tests/throughput_limits_snc_test.py
Labels: area/redpanda

#11177 replace hashicorp multierr with standard library
  src/go/k8s/cmd/configurator/main.go
  src/go/k8s/go.mod
Labels: area/k8s, k8s/tests

#11287 cloud storage: Check cache status before hydrating remote segments
  src/v/cloud_storage/cache_service.h
  src/v/cloud_storage/remote_segment.cc
Labels: area/redpanda

#10830 [v23.1.x] cloud_storage: escape hatch to reset metadata partition manifest
  src/v/archival/tests/archival_metadata_stm_test.cc
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/tests/partition_manifest_test.cc
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/redpanda/admin/api-doc/debug.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  tests/rptest/services/admin.py
  tests/rptest/tests/e2e_shadow_indexing_test.py
Labels: area/redpanda

#11288 cloud_storage: Destroy client_pool probe in stop()
  src/v/cloud_storage_clients/client_pool.cc
Labels: area/redpanda

#10861 [v22.3.x] cloud_storage: improved debug on partition manifest parse error
  src/v/cloud_storage/partition_manifest.cc
Labels: area/redpanda, kind/backport

#11301 [v23.1.x] k8s: revert remove --platform flag from operator images' dockerfile
  src/go/k8s/Dockerfile
Labels: area/k8s

#11311 Revert "[v22.3.x] k8s: parse configuration arrays correctly"
  src/go/k8s/controllers/redpanda/cluster_controller_configuration_test.go
  src/go/k8s/pkg/resources/configuration/patch.go
  src/go/k8s/tests/e2e/additional-configuration/04-update-version_and_config.yaml
Labels: area/k8s, k8s/tests

#11110 Fix txn consume group issues leading to undefined behavior
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
  src/v/kafka/server/tests/group_test.cc
Labels: area/redpanda

#11289 rpk: add `rpk acl user update` and tests
  src/go/rpk/pkg/cli/acl/acl.go
  src/go/rpk/pkg/cli/acl/user/create.go
  src/go/rpk/pkg/cli/acl/user/delete.go
  src/go/rpk/pkg/cli/acl/user/list.go
  src/go/rpk/pkg/cli/acl/user/update.go
  src/go/rpk/pkg/cli/acl/user/user.go
  tests/rptest/clients/rpk.py
  tests/rptest/tests/rpk_acl_test.py
Labels: area/rpk

#11150 cloud_storage: Spillover read-path and retention
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/archival/retention_calculator.cc
  src/v/archival/tests/archival_metadata_stm_test.cc
  src/v/archival/tests/ntp_archiver_reupload_test.cc
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/cloud_storage/async_manifest_view.cc
  src/v/cloud_storage/async_manifest_view.h
  src/v/cloud_storage/fwd.h
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/partition_probe.cc
  src/v/cloud_storage/partition_probe.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/segment_state.cc
  src/v/cloud_storage/segment_state.h
  src/v/cloud_storage/spillover_manifest.h
  src/v/cloud_storage/tests/CMakeLists.txt
  src/v/cloud_storage/tests/async_manifest_view_test.cc
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cloud_storage/tests/remote_partition_fuzz_test.cc
  src/v/cloud_storage/tests/remote_partition_test.cc
  src/v/cloud_storage/tests/remote_segment_test.cc
  src/v/cloud_storage/tests/s3_imposter.cc
  src/v/cloud_storage/tests/util.cc
  src/v/cloud_storage/tests/util.h
  src/v/cloud_storage/types.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/handlers/offset_for_leader_epoch.cc
  src/v/kafka/server/partition_proxy.h
  src/v/kafka/server/replicated_partition.cc
  src/v/kafka/server/replicated_partition.h
  src/v/kafka/server/tests/produce_consume_utils.cc
Labels: area/redpanda, area/cloud-storage

#11297 schema_registry: Schema ID Validation low-level tests
  src/v/cluster/tests/topic_table_test.cc
  src/v/kafka/server/tests/CMakeLists.txt
  src/v/kafka/server/tests/config_utils_test.cc
Labels: area/redpanda, area/schema-registry

#11247 k8s: update redpanda api to current state
  src/go/k8s/apis/redpanda/v1alpha1/redpanda_clusterspec_types.go
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/crd/bases/cluster.redpanda.com_redpandas.yaml
Labels: area/k8s, k8s/tests

#11328 dt/scram: Ensure control characters are present
  tests/rptest/tests/scram_test.py
Labels: kind/bug, area/tests

#11333 [v23.1.x] k/proto: use log-level warn for missmatch crc
  src/v/kafka/protocol/kafka_batch_adapter.cc
  tests/rptest/scale_tests/cloud_storage_compaction_test.py
Labels: area/kafka, area/redpanda, kind/backport

#11336 bytes: move is_zero utility into storage parser
  src/v/bytes/tests/iobuf_tests.cc
  src/v/bytes/utils.h
  src/v/storage/parser.cc
  src/v/storage/parser_utils.h
  src/v/storage/tests/log_segment_reader_test.cc
Labels: area/redpanda

#11352 k8s: add a timeout to prevent restarts due to liveness probe issues
  src/go/k8s/config/manager/manager.yaml
Labels: area/k8s, k8s/tests

#11335 [v22.2.x] k/proto: use log-level warn for missmatch crc
  src/v/kafka/protocol/kafka_batch_adapter.cc
Labels: area/kafka, area/redpanda, kind/backport

#11334 [v22.3.x] k/proto: use log-level warn for missmatch crc
  src/v/kafka/protocol/kafka_batch_adapter.cc
Labels: area/kafka, area/redpanda, kind/backport

#11363 rp_storage_tool: handle start_kafka_offset field
  .github/workflows/rp-storage-tool-checks.yml
  tools/rp_storage_tool/resources/test/manifest_23_2_start_kafka_offset.bin
  tools/rp_storage_tool/src/remote_types.rs
Labels: area/build

#11341 ducky: retry mark_transaction_expired request
  src/v/cluster/rm_stm.cc
  tests/rptest/tests/tx_admin_api_test.py
Labels: area/redpanda

#11380 k8s: update roles so delete of helmrelease can occur
  src/go/k8s/config/rbac/bases/operator/role.yaml
  src/go/k8s/controllers/redpanda/redpanda_controller.go
Labels: area/k8s, k8s/tests

#11379 Move storage aspects of node from local monitor into storage::node
  src/v/cluster/node/local_monitor.cc
  src/v/cluster/node/local_monitor.h
  src/v/cluster/tests/local_monitor_fixture.h
  src/v/cluster/tests/local_monitor_test.cc
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/storage/CMakeLists.txt
  src/v/storage/api.h
  src/v/storage/node.cc
  src/v/storage/node.h
Labels: area/redpanda

#11284 schema_registry: Switch Schema ID Validation enablement to cluster config
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/convert.h
  src/v/config/property.h
  src/v/config/rjson_serialization.cc
  src/v/config/rjson_serialization.h
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/kafka/server/handlers/alter_configs.cc
  src/v/kafka/server/handlers/configs/config_utils.h
  src/v/kafka/server/handlers/describe_configs.cc
  src/v/kafka/server/handlers/incremental_alter_configs.cc
  src/v/kafka/server/tests/alter_config_test.cc
  src/v/pandaproxy/schema_registry/schema_id_validation.h
  src/v/pandaproxy/schema_registry/validation.cc
  src/v/pandaproxy/schema_registry/validation.h
  tests/rptest/tests/cluster_config_test.py
  tests/rptest/tests/schema_registry_test.py
  tests/rptest/tests/topic_creation_test.py
Labels: area/redpanda, area/schema-registry

#11183 partition_balancer: futurize ticks to avoid reactor stalls with large number of topics
  src/v/cluster/partition_balancer_backend.cc
  src/v/cluster/partition_balancer_backend.h
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/partition_balancer_planner.h
  src/v/cluster/partition_balancer_state.cc
  src/v/cluster/partition_balancer_state.h
  src/v/cluster/tests/partition_balancer_bench.cc
  src/v/cluster/tests/partition_balancer_planner_fixture.h
  src/v/cluster/tests/partition_balancer_planner_test.cc
  src/v/cluster/tests/topic_table_fixture.h
  src/v/cluster/tests/topic_table_test.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/utils/stable_iterator_adaptor.h
  src/v/utils/tests/CMakeLists.txt
  src/v/utils/tests/stable_iterator_test.cc
Labels: area/redpanda

#11383 cloud_storage: adjust chunk hydration error handling
  src/v/cloud_storage/segment_chunk_data_source.cc
Labels: area/redpanda

#11339 Avoid duplicate group names in the test in snc trhoughput config test
  tests/rptest/tests/throughput_limits_snc_test.py
Labels: ci-failure

#11384 k/proto: use log-level warn for invalid crc
  src/v/kafka/protocol/kafka_batch_adapter.cc
Labels: area/kafka, area/redpanda

#11160 treewide: Mark all probes as immovable
  src/v/archival/probe.h
  src/v/cloud_roles/probe.h
  src/v/cloud_roles/refresh_credentials.cc
  src/v/cloud_roles/refresh_credentials.h
  src/v/cloud_storage/probe.h
  src/v/kafka/group_probe.h
  src/v/kafka/latency_probe.h
  src/v/kafka/server/handlers/handler_probe.h
  src/v/kafka/server/server.cc
  src/v/kafka/server/server.h
  src/v/net/client_probe.h
  src/v/net/server.cc
  src/v/net/server.h
  src/v/net/server_probe.h
  src/v/net/transport.cc
  src/v/net/transport.h
  src/v/pandaproxy/probe.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/probe.h
  src/v/raft/recovery_stm.cc
  src/v/raft/replicate_batcher.cc
  src/v/raft/vote_stm.cc
  src/v/rpc/transport.cc
  src/v/rpc/transport.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/probe.h
Labels: area/redpanda

#11350 Wait for the victim node to apply the dirty offset
  src/v/cluster/controller.h
  src/v/redpanda/admin/api-doc/debug.json
  src/v/redpanda/admin_server.cc
  tests/rptest/tests/controller_erase_test.py
Labels: area/redpanda

#11393 [v23.1.x] Avoid duplicate group names in the test in snc trhoughput config test
  tests/rptest/tests/throughput_limits_snc_test.py
Labels: kind/backport

#11309 [v23.1.x] Fix aborted txs being visible
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
Labels: area/redpanda

#11377 Redpanda-Operator: users array fixes and namespace flag behavior
  src/go/k8s/apis/redpanda/v1alpha1/redpanda_clusterspec_types.go
  src/go/k8s/apis/redpanda/v1alpha1/redpanda_types.go
  src/go/k8s/config/crd/bases/cluster.redpanda.com_redpandas.yaml
  src/go/k8s/config/e2e-tests/manager.yaml
  src/go/k8s/config/rbac/bases/operator/role.yaml
  src/go/k8s/controllers/redpanda/console_controller.go
  src/go/k8s/controllers/redpanda/redpanda_controller.go
  src/go/k8s/main.go
  src/go/k8s/tests/e2e/resource-redpanda-crud/00-assert-create-redpanda.yaml
  src/go/k8s/tests/e2e/resource-redpanda-crud/00-create-redpanda.yaml
  src/go/k8s/tests/e2e/resource-redpanda-crud/01-assert-update-chart-version.yaml
  src/go/k8s/tests/e2e/resource-redpanda-crud/01-update-chart-version.yaml
  src/go/k8s/tests/e2e/resource-redpanda-crud/02-assert-update-clusterspec.yaml
  src/go/k8s/tests/e2e/resource-redpanda-crud/02-update-clusterspec.yaml
  src/go/k8s/tests/e2e/resource-redpanda-crud/03-assert.yaml
  src/go/k8s/tests/e2e/resource-redpanda-crud/03-delete-redpandas.yaml
Labels: area/k8s, k8s/tests

#11254 Default to reading from the beginning of partition in `ThroughputLimitsSnc.test_consumers`
  tests/rptest/services/kcat_consumer.py
  tests/rptest/tests/throughput_limits_snc_test.py
Labels: ci-failure

#11390 tests/rpk: auto-retry on SASL auth fail
  tests/rptest/clients/rpk.py
Labels: area/tests

#11416 [v22.2.x] ducktape: use pgrep to find the redpanda process
  tests/rptest/services/redpanda.py
Labels: kind/backport

#11419 [v22.3.x] ducktape: use pgrep to find the redpanda process
  tests/rptest/services/redpanda.py
Labels: kind/backport

#11396 [v22.2.x] k/proto: use log-level warn for invalid crc
  src/v/kafka/protocol/kafka_batch_adapter.cc
Labels: area/redpanda, kind/backport

#11400 [v23.1.x] k/proto: use log-level warn for invalid crc
  src/v/kafka/protocol/kafka_batch_adapter.cc
Labels: area/redpanda, kind/backport

#11385 dt/many_clients: Split out test_many_clients
  tests/rptest/scale_tests/many_clients_test.py
Labels: ci-failure

#11401 [storage]: add interface for lying about disk space stats
  src/v/cluster/tests/local_monitor_test.cc
  src/v/redpanda/admin/api-doc/debug.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  src/v/redpanda/application.cc
  src/v/storage/node.cc
  src/v/storage/node.h
  tests/rptest/services/admin.py
  tests/rptest/tests/full_disk_test.py
Labels: area/redpanda

#11429 [v23.1.x] pandaproxy: Support SCRAM-SHA-512 for basic_auth
  src/v/pandaproxy/auth_utils.h
  src/v/pandaproxy/kafka_client_cache.cc
  src/v/pandaproxy/server.h
  src/v/pandaproxy/test/kafka_client_cache.cc
  src/v/pandaproxy/types.h
  src/v/utils/request_auth.cc
  src/v/utils/request_auth.h
Labels: area/redpanda, area/pandaproxy, area/security, kind/backport

#11430 [v22.3.x] pandaproxy: Support SCRAM-SHA-512 for basic_auth
  src/v/pandaproxy/auth_utils.h
  src/v/pandaproxy/kafka_client_cache.cc
  src/v/pandaproxy/server.h
  src/v/pandaproxy/test/kafka_client_cache.cc
  src/v/pandaproxy/types.h
  src/v/redpanda/request_auth.cc
  src/v/redpanda/request_auth.h
Labels: area/redpanda, area/pandaproxy, area/security, kind/backport

#11381 A few v::bytes clean-ups
  src/v/bytes/details/io_fragment.h
  src/v/bytes/iobuf.cc
  src/v/bytes/iobuf.h
  src/v/http/tests/framing_test.cc
  src/v/storage/batch_cache.cc
Labels: area/redpanda

#11353 rpk: avoid mentioning old flags in help text, fix -X defaults.no_default_cluster
  src/go/rpk/pkg/cli/acl/user/create.go
  src/go/rpk/pkg/cli/acl/user/update.go
  src/go/rpk/pkg/cli/container/start.go
  src/go/rpk/pkg/config/params.go
Labels: area/rpk

#11342 node_status_backend: reset backoff on peer checkin
  src/v/cluster/cluster_utils.cc
  src/v/cluster/cluster_utils.h
  src/v/cluster/node_status_backend.cc
  src/v/cluster/node_status_backend.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/application.cc
  src/v/rpc/connection_cache.cc
  src/v/rpc/connection_cache.h
  tests/rptest/tests/node_status_test.py
Labels: area/redpanda

#11434 schema_registry: Schema id validation - config checking
  src/v/pandaproxy/schema_registry/validation.cc
  src/v/redpanda/admin_server.cc
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, area/schema-registry, doc-needed

#10562 Integrate seastar memory profiling into RP
  cmake/oss.cmake.in
  src/v/cluster/tests/local_monitor_fixture.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/raft/tests/bootstrap_configuration_test.cc
  src/v/raft/tests/configuration_manager_test.cc
  src/v/raft/tests/foreign_entry_test.cc
  src/v/raft/tests/mux_state_machine_fixture.h
  src/v/raft/tests/offset_translator_tests.cc
  src/v/raft/tests/raft_group_fixture.h
  src/v/redpanda/admin/api-doc/debug.json
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/resource_mgmt/CMakeLists.txt
  src/v/resource_mgmt/memory_sampling.cc
  src/v/resource_mgmt/memory_sampling.h
  src/v/resource_mgmt/tests/CMakeLists.txt
  src/v/resource_mgmt/tests/memory_sampling_reclaimer_test.cc
  src/v/resource_mgmt/tests/memory_sampling_tests.cc
  src/v/storage/api.h
  src/v/storage/batch_cache.cc
  src/v/storage/batch_cache.h
  src/v/storage/log_manager.cc
  src/v/storage/log_manager.h
  src/v/storage/tests/batch_cache_reclaim_test.cc
  src/v/storage/tests/batch_cache_test.cc
  src/v/storage/tests/log_manager_test.cc
  src/v/storage/tests/storage_test_fixture.h
  src/v/storage/tests/utils/disk_log_builder.cc
  src/v/storage/tests/utils/disk_log_builder.h
  src/v/test_utils/logs.h
  tests/rptest/services/admin.py
  tests/rptest/tests/memory_sampling_test.py
Labels: area/build, area/redpanda

#11444 rpk: list virtual cluster on cloud login
  src/go/rpk/pkg/api/admin/api_user.go
  src/go/rpk/pkg/cli/cloud/login.go
  src/go/rpk/pkg/cli/profile/create.go
  src/go/rpk/pkg/cloudapi/api_virtual_cluster.go
  src/go/rpk/pkg/cloudapi/cloudapi.go
  src/go/rpk/pkg/config/rpk_yaml.go
  src/go/rpk/pkg/kafka/client_franz.go
Labels: area/rpk

#11340 throughput control groups: fixed zero byte dumped to the log by noname group
  src/v/config/throughput_control_group.cc
Labels: area/redpanda

#11441 [storage] log_manager::remove_orphan_files: error -> trace for ENOENT
  src/v/storage/log_manager.cc
Labels: area/redpanda

#11453 [v23.1.x] throughput control groups: fixed zero byte dumped to the log by noname group
  src/v/config/throughput_control_group.cc
Labels: area/redpanda, kind/backport

#11474 Revert "txn: update abort_old_txes to use locks"
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
Labels: area/redpanda

#11446 [v23.1.x] ducktape: Change condition for upload check to pass when all segments are uploaded
  tests/rptest/tests/retention_policy_test.py
Labels: kind/backport

#11492 [v22.2.x] c/partition_balancer: reduce log level in scale tests
  tests/rptest/scale_tests/partition_balancer_scale_test.py
Labels: kind/backport

#11491 [v23.1.x] c/partition_balancer: reduce log level in scale tests
  tests/rptest/scale_tests/partition_balancer_scale_test.py
Labels: kind/backport

#11490 [v22.3.x] c/partition_balancer: reduce log level in scale tests
  tests/rptest/scale_tests/partition_balancer_scale_test.py
Labels: kind/backport

#11294 cloud_storage: Use columnar projection to store spillover manifests
  src/v/archival/ntp_archiver_service.cc
  src/v/cloud_storage/CMakeLists.txt
  src/v/cloud_storage/async_manifest_view.cc
  src/v/cloud_storage/async_manifest_view.h
  src/v/cloud_storage/base_manifest.cc
  src/v/cloud_storage/base_manifest.h
  src/v/cloud_storage/fwd.h
  src/v/cloud_storage/materialized_manifest_cache.cc
  src/v/cloud_storage/materialized_manifest_cache.h
  src/v/cloud_storage/materialized_resources.cc
  src/v/cloud_storage/materialized_resources.h
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/probe.cc
  src/v/cloud_storage/probe.h
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cloud_storage/segment_meta_cstore.cc
  src/v/cloud_storage/segment_meta_cstore.h
  src/v/cloud_storage/segment_state.cc
  src/v/cloud_storage/spillover_manifest.h
  src/v/cloud_storage/tests/CMakeLists.txt
  src/v/cloud_storage/tests/async_manifest_view_test.cc
  src/v/cloud_storage/tests/materialized_manifest_cache_test.cc
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  tests/rptest/tests/e2e_shadow_indexing_test.py
Labels: area/redpanda

#11489 [v22.3.x] node_decommissioning_test: fix order of throttle and decommission
  tests/rptest/tests/nodes_decommissioning_test.py
Labels: kind/backport

#11488 [v23.1.x] node_decommissioning_test: fix order of throttle and decommission
  tests/rptest/tests/nodes_decommissioning_test.py
Labels: kind/backport

#11366 Schedule counts balancing-related partition movements in partition balancer
  src/v/cluster/controller.cc
  src/v/cluster/members_backend.cc
  src/v/cluster/members_backend.h
  src/v/cluster/members_frontend.cc
  src/v/cluster/members_frontend.h
  src/v/cluster/members_manager.cc
  src/v/cluster/members_manager.h
  src/v/cluster/partition_balancer_backend.cc
  src/v/cluster/partition_balancer_backend.h
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/partition_balancer_planner.h
  src/v/cluster/partition_balancer_state.h
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/cluster/scheduling/partition_allocator.h
  src/v/cluster/scheduling/types.cc
  src/v/cluster/scheduling/types.h
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/backend_reallocation_strategy_test.cc
  src/v/cluster/tests/partition_allocator_tests.cc
  src/v/cluster/tests/partition_balancer_bench.cc
  src/v/cluster/tests/partition_balancer_simulator_test.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/redpanda/admin_server.cc
Labels: area/redpanda

#11468 c/node_status_backend: fix handling members notification
  src/v/cluster/members_table.cc
  src/v/cluster/members_table.h
  src/v/cluster/node_status_backend.cc
Labels: area/redpanda

#11502 rpk: change required kernel version in `rpk redpanda check` + change log levels to rpk checker message.
  src/go/rpk/pkg/cli/redpanda/start.go
  src/go/rpk/pkg/config/params.go
  src/go/rpk/pkg/tuners/kernel_version.go
  src/go/rpk/pkg/tuners/kernel_version_test.go
Labels: area/rpk

#11436 storage: wrap segment_reader in a unique_ptr
  src/v/storage/segment.cc
  src/v/storage/segment.h
  src/v/storage/segment_reader.cc
  src/v/storage/segment_reader.h
  src/v/storage/segment_utils.cc
  src/v/storage/tests/log_replayer_test.cc
Labels: area/redpanda

#11518 memory-sampling: Reduce reactor count for mem sampling tests
  src/v/resource_mgmt/tests/CMakeLists.txt
  src/v/resource_mgmt/tests/memory_sampling_reclaimer_test.cc
  src/v/resource_mgmt/tests/memory_sampling_tests.cc
Labels: area/redpanda

#11494 Fixed printing configuration manager
  src/v/raft/configuration_manager.cc
Labels: area/redpanda

#11450 s/segment: fixed tracking offsets of empty segments
  src/v/storage/segment.cc
  src/v/storage/segment.h
  src/v/storage/tests/storage_e2e_test.cc
  tests/rptest/tests/log_segment_ms_test.py
Labels: area/redpanda

#11531 memory-sampling: Disable top-n alloc sites logging on low memory
  src/v/resource_mgmt/tests/CMakeLists.txt
  src/v/storage/batch_cache.cc
Labels: area/redpanda

#10800 Fixed Raft voter priority override with single replica topics
  src/v/raft/consensus.cc
  src/v/raft/prevote_stm.cc
  src/v/raft/vote_stm.cc
  tests/rptest/tests/cluster_features_test.py
  tests/rptest/tests/maintenance_test.py
Labels: area/redpanda

#11003 archival: handle deletion of topics with spilled over manifests
  src/v/archival/adjacent_segment_merger.cc
  src/v/archival/adjacent_segment_merger.h
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/scrubber.cc
  src/v/archival/scrubber.h
  src/v/archival/tests/upload_housekeeping_service_test.cc
  src/v/archival/types.h
  src/v/archival/upload_housekeeping_service.cc
  src/v/archival/upload_housekeeping_service.h
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_manager.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/utils/retry_chain_node.cc
  src/v/utils/retry_chain_node.h
  src/v/utils/tests/retry_chain_node_test.cc
  tests/rptest/archival/abs_client.py
  tests/rptest/archival/s3_client.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/topic_delete_test.py
  tests/rptest/utils/si_utils.py
Labels: area/redpanda, area/cloud-storage

#11464 Send out a list of backports that are older than 15 days [skip-ci]
  .github/workflows/old-backports
Labels: area/build

#11499 memory-sampling: Fix missing newline between stacks in OOM output
  src/v/resource_mgmt/memory_sampling.cc
  src/v/resource_mgmt/tests/memory_sampling_tests.cc
Labels: area/redpanda

#11440 rpk: add labels to rpk generate prometheus-config
  src/go/rpk/pkg/cli/generate/prometheus.go
  src/go/rpk/pkg/cli/generate/prometheus_test.go
Labels: area/rpk

#11525 Remove unnecessary file and regenerate go Redpanda CR definitions
  src/go/k8s/apis/redpanda/v1alpha1/zz_generated.deepcopy.go
  src/go/k8s/config/rbac/role.yaml
  src/go/k8s/controllers/redpanda/cluster_controller_common_test.go
  src/go/k8s/controllers/redpanda/cluster_controller_scale_test.go
  src/go/k8s/controllers/redpanda/suite_test.go
  src/go/k8s/controllers/redpanda/testdata/metrics.golden.txt
  src/go/k8s/pkg/admin/mock_admin.go
  src/go/k8s/pkg/resources/statefulset_update.go
  src/go/k8s/tests/e2e/decommission/03-assert.yaml
  src/go/k8s/tests/e2e/decommission/03-remove-pvc.yaml
  src/go/k8s/tests/e2e/decommission/04-assert.yaml
  src/go/k8s/tests/e2e/decommission/04-redpanda-upscale.yaml
  src/go/k8s/tests/e2e/decommission/05-assert.yaml
  src/go/k8s/tests/e2e/decommission/05-redpanda-downscale.yaml
  src/go/k8s/tests/e2e/decommission/06-assert.yaml
  src/go/k8s/tests/e2e/decommission/06-probe.yaml
  src/go/k8s/tests/e2e/decommission/07-clean.yaml
Labels: area/k8s, k8s/tests

#11550 Name the action file properly [skip-ci]
  .github/workflows/old-backports.yml
Labels: area/build

#11568 Run the old-backports command every day (not just thursday) while we are testing things out. [skip-ci]
  .github/workflows/old-backports.yml
Labels: area/build

#11570 Point the old-backports action to a public channel. [skip-ci]
  .github/workflows/old-backports.yml
Labels: area/build

#11540 [v22.3.x] tests: fixed incorrectly used ^ operator in scale tests
  tests/rptest/scale_tests/ht_partition_movement_test.py
  tests/rptest/scale_tests/node_operations_fuzzy_test.py
  tests/rptest/scale_tests/partition_balancer_scale_test.py
Labels: kind/backport

#11548 memory-sampling: Move low watermark logging to be timer based
  src/v/cluster/tests/local_monitor_fixture.h
  src/v/raft/tests/bootstrap_configuration_test.cc
  src/v/raft/tests/configuration_manager_test.cc
  src/v/raft/tests/foreign_entry_test.cc
  src/v/raft/tests/mux_state_machine_fixture.h
  src/v/raft/tests/offset_translator_tests.cc
  src/v/raft/tests/raft_group_fixture.h
  src/v/redpanda/application.cc
  src/v/resource_mgmt/memory_sampling.cc
  src/v/resource_mgmt/memory_sampling.h
  src/v/resource_mgmt/tests/CMakeLists.txt
  src/v/resource_mgmt/tests/memory_sampling_reclaimer_test.cc
  src/v/resource_mgmt/tests/memory_sampling_tests.cc
  src/v/storage/api.h
  src/v/storage/batch_cache.cc
  src/v/storage/batch_cache.h
  src/v/storage/log_manager.cc
  src/v/storage/log_manager.h
  src/v/storage/tests/batch_cache_reclaim_test.cc
  src/v/storage/tests/batch_cache_test.cc
  src/v/storage/tests/log_manager_test.cc
  src/v/storage/tests/storage_test_fixture.h
  src/v/storage/tests/utils/disk_log_builder.cc
  src/v/storage/tests/utils/disk_log_builder.h
  src/v/test_utils/logs.h
Labels: area/redpanda

#11585 old-backport action: change where the command is run [skip-ci]
  .github/workflows/old-backports.yml
Labels: area/build

#11556 [v22.2.x] ducktape: improve pid dectection v2
  tests/rptest/services/redpanda.py
Labels: kind/backport

#11584 rpc/conn_cache: return errc::shutting_down after shutdown
  src/v/cluster/cluster_utils.cc
  src/v/redpanda/admin_server.cc
  src/v/rpc/connection_cache.cc
  src/v/rpc/connection_cache.h
  src/v/rpc/errc.h
Labels: area/redpanda

#11586 net/batched_output_stream: call `close()` in a finally block
  src/v/net/batched_output_stream.cc
Labels: area/redpanda

#11544 [v23.1.x] Fixed Raft voter priority override with single replica topics
  src/v/raft/consensus.cc
  src/v/raft/prevote_stm.cc
  src/v/raft/vote_stm.cc
  tests/rptest/tests/cluster_features_test.py
  tests/rptest/tests/maintenance_test.py
Labels: area/redpanda, kind/backport

#11588 cloud_storage: archival retention and garbage collection fixes
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/cloud_storage/async_manifest_view.cc
  src/v/cloud_storage/tests/async_manifest_view_test.cc
  src/v/http/tests/http_imposter.cc
Labels: area/redpanda

#11498 admin: Stream request bodies
  src/v/cloud_storage/recovery_request.cc
  src/v/cloud_storage/recovery_request.h
  src/v/cloud_storage/tests/recovery_request_test.cc
  src/v/cloud_storage/tests/topic_recovery_service_test.cc
  src/v/cluster/topic_recovery_service.cc
  src/v/cluster/topic_recovery_service.h
  src/v/redpanda/admin_server.cc
  src/v/redpanda/admin_server.h
Labels: area/redpanda, area/admin-api

#10061 Kafka: Add support for the delete-records API
  src/v/cluster/CMakeLists.txt
  src/v/cluster/fwd.h
  src/v/cluster/log_eviction_stm.cc
  src/v/cluster/log_eviction_stm.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_manager.cc
  src/v/cluster/persisted_stm.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/manual_log_deletion_test.cc
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/kafka/CMakeLists.txt
  src/v/kafka/protocol/delete_records.h
  src/v/kafka/protocol/schemata/CMakeLists.txt
  src/v/kafka/protocol/schemata/delete_records_request.json
  src/v/kafka/protocol/schemata/delete_records_response.json
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/server/handlers/delete_records.cc
  src/v/kafka/server/handlers/delete_records.h
  src/v/kafka/server/handlers/handlers.h
  src/v/kafka/server/handlers/list_offsets.cc
  src/v/kafka/server/partition_proxy.h
  src/v/kafka/server/replicated_partition.cc
  src/v/kafka/server/replicated_partition.h
  src/v/model/model.cc
  src/v/model/record_batch_types.h
  src/v/raft/CMakeLists.txt
  src/v/raft/consensus.cc
  src/v/raft/log_eviction_stm.cc
  src/v/raft/log_eviction_stm.h
  src/v/raft/tests/CMakeLists.txt
  src/v/raft/tests/raft_group_fixture.h
  src/v/raft/tests/state_removal_test.cc
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/log.h
  tests/rptest/clients/kcl.py
  tests/rptest/tests/delete_records_test.py
Labels: area/redpanda, core

#11465 rpc/transport: fix logging
  src/v/rpc/reconnect_transport.cc
Labels: area/redpanda

#11629 archival: wait for gc future completion in unit test
  src/v/archival/tests/ntp_archiver_test.cc
Labels: area/redpanda

#11622 Fix counts rebalancing simulation test problems
  src/v/cluster/tests/partition_balancer_simulator_test.cc
Labels: area/redpanda

#11616 miscellaneous non-functional changes for delete records
  src/v/archival/ntp_archiver_service.cc
  src/v/cluster/cluster_utils.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_probe.cc
  src/v/kafka/client/transport.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/replicated_partition.cc
  src/v/kafka/server/replicated_partition.h
  src/v/kafka/server/tests/CMakeLists.txt
  src/v/kafka/server/tests/delete_records_utils.cc
  src/v/kafka/server/tests/delete_records_utils.h
  src/v/kafka/server/tests/produce_consume_test.cc
  src/v/kafka/server/tests/produce_consume_utils.cc
Labels: area/redpanda

#11630 tests/topic_delete_test: wait for all uploads before deleting topics
  tests/rptest/tests/topic_delete_test.py
Labels: kind/bug, area/tests, area/cloud-storage

#11599 c/types: Add tests for Schema ID Validation properties
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/cluster/tests/topic_configuration_compat_test.cc
  src/v/cluster/types.cc
  src/v/model/tests/randoms.h
Labels: area/redpanda, area/schema-registry

#11559 Server side schema id validation metrics v2
  src/v/cluster/partition_probe.cc
  src/v/cluster/partition_probe.h
  src/v/kafka/server/handlers/produce.cc
  src/v/pandaproxy/schema_registry/validation.cc
  src/v/pandaproxy/schema_registry/validation.h
Labels: area/redpanda, area/schema-registry, doc-needed

#11619 net: `ss::nested_exception` might be a `disconnect_exception`
  src/v/net/connection.cc
  src/v/net/tests/CMakeLists.txt
  src/v/net/tests/connection.cc
Labels: area/redpanda, area/net

#11443 k/protocol: Checking for tag value to be 0
  src/v/kafka/protocol/errors.cc
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/protocol/tests/protocol_test.cc
Labels: area/kafka, area/redpanda, ci-failure

#11651 Redpanda-Operator: chart changes to support new operator
  src/go/k8s/helm-chart/charts/redpanda-operator/Chart.yaml
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/clusterrole.yaml
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/clusterrole_binding.yaml
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/crds/cluster.redpanda.com_redpandas.yaml
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/crds/fluxcd.resources.yaml
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/crds/redpanda.vectorized.io_clusters.yaml
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/crds/redpanda.vectorized.io_consoles.yaml
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/deployment.yaml
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/role.yaml
  src/go/k8s/helm-chart/charts/redpanda-operator/templates/role_binding.yaml
  src/go/k8s/helm-chart/charts/redpanda-operator/values.yaml
Labels: area/k8s, k8s/tests

#10802 [v23.1.x] Backport of bd73f10597aacf6b237834b5bfabd248e6b78864
  src/v/kafka/server/replicated_partition.cc
Labels: area/redpanda

#11641 [v23.1.x] net: `ss::nested_exception` might be a `disconnect_exception`
  src/v/net/connection.cc
  src/v/net/tests/CMakeLists.txt
  src/v/net/tests/connection.cc
Labels: area/redpanda, kind/backport

#11605 [v23.1.x] net/batched_output_stream: call `close()` in a finally block
  src/v/net/batched_output_stream.cc
Labels: area/redpanda, kind/backport

#11627 clang-format: Insert a newline at end of file if missing.
  .clang-format
  src/v/archival/adjacent_segment_merger.h
  src/v/cloud_roles/tests/credential_tests.cc
  src/v/cloud_storage/async_manifest_view.h
  src/v/cloud_storage/lifecycle_marker.h
  src/v/cloud_storage/spillover_manifest.h
  src/v/cloud_storage/tests/remote_partition_test.cc
  src/v/cloud_storage/tests/segment_chunk_test.cc
  src/v/cloud_storage/tests/segment_meta_cstore_test.cc
  src/v/cluster/feature_manager.h
  src/v/cluster/node/types.cc
  src/v/cluster/node_isolation_watcher.h
  src/v/cluster/notification_latch.cc
  src/v/cluster/notification_latch.h
  src/v/cluster/tests/notification_latch_test.cc
  src/v/cluster/tests/tx_compaction_tests.cc
  src/v/cluster/topic_recovery_status_types.cc
  src/v/compat/acls_compat.h
  src/v/compat/acls_generator.h
  src/v/compat/id_allocator_compat.h
  src/v/compat/partition_balancer_generator.h
  src/v/config/data_directory_path.h
  src/v/config/endpoint_tls_config.h
  src/v/config/mock_property.h
  src/v/config/tests/enum_property_test.cc
  src/v/features/feature_state.h
  src/v/http/client.h
  src/v/http/logger.cc
  src/v/http/probe.h
  src/v/http/tests/framing_test.cc
  src/v/kafka/server/handlers/details/isolated_node_utils.h
  src/v/migrations/feature_migrator.cc
  src/v/migrations/feature_migrator.h
  src/v/net/connection_rate_counter.h
  src/v/raft/coordinated_recovery_throttle.cc
  src/v/raft/coordinated_recovery_throttle.h
  src/v/raft/tests/leadership_test.cc
  src/v/rpc/backoff_policy.h
  src/v/rpc/test/exponential_backoff.cc
  src/v/ssx/sleep_abortable.h
  src/v/storage/fs_utils.cc
  src/v/storage/tests/utils/log_gap_analysis.cc
  src/v/storage/tests/utils/log_gap_analysis.h
  src/v/utils/notification_list.h
  src/v/utils/stable_iterator_adaptor.h
  src/v/utils/tests/delta_for_test.cc
  src/v/utils/tests/moving_average_test.cc
  src/v/utils/tests/outcome_utils_test.cc
  src/v/utils/tests/stable_iterator_test.cc
  src/v/utils/tracking_allocator.cc
  src/v/utils/tracking_allocator.h
  src/v/vformat.h
Labels: area/redpanda
