Repository redpanda-data/redpanda, pull requests merged in 2024-05, with the labels that each got.

#18159 [v24.1.x] CORE-1412: cluster: remote read check in partition timequery
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cluster/partition.cc
Labels: area/redpanda, kind/backport

#18186 [v23.3.x] rpk: bump go deps
  src/go/rpk/go.mod
  src/go/rpk/go.sum
Labels: area/rpk

#18176 [v24.1.x] Stephan/revert polling removal
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/convert.h
  src/v/config/property.h
  src/v/config/rjson_serialization.cc
  src/v/config/rjson_serialization.h
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/fetch.h
  src/v/model/metadata.h
  src/v/model/model.cc
Labels: area/redpanda, kind/backport

#18088 [v23.3.x] storage: coroutinize/de-recursify log_reader::do_load_slice
  src/v/storage/log_reader.cc
Labels: area/redpanda

#18191 [backport][23.3.x] configuration to enable delete retention for consumer offsets #18140
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/tests/consumer_groups_test.cc
  src/v/storage/disk_log_impl.cc
  tests/rptest/tests/transactions_test.py
Labels: area/redpanda

#18074 PESDLC-1275 Use last modified date to clean bucket
  tests/rp_cloud_cleanup.py
  tests/rptest/services/provider_clients/ec2_client.py
Labels: area/htt

#18189 [v23.2.x] rpk: bump go deps
  src/go/rpk/go.mod
  src/go/rpk/go.sum
Labels: area/rpk

#18078 rpk/transform: support javascript and typescript
  .github/workflows/transform-sdk-release.yml
  src/go/rpk/pkg/cli/transform/build.go
  src/go/rpk/pkg/cli/transform/buildpack/buildpack.go
  src/go/rpk/pkg/cli/transform/init.go
  src/go/rpk/pkg/cli/transform/project/project.go
  src/go/rpk/pkg/cli/transform/template/js/README.md
  src/go/rpk/pkg/cli/transform/template/js/esbuild.js
  src/go/rpk/pkg/cli/transform/template/js/transform.jssrc
  src/go/rpk/pkg/cli/transform/template/js/transform.tssrc
  src/go/rpk/pkg/cli/transform/template/js/tsconfig.json
  src/go/rpk/pkg/cli/transform/template/js_template.go
  src/transform-sdk/js/CMakeLists.txt
  src/transform-sdk/js/module/index.d.ts
  src/transform-sdk/js/module/index.js
  src/transform-sdk/js/module/package-lock.json
  src/transform-sdk/js/module/package.json
  src/transform-sdk/js/package_toolchain.py
Labels: area/rpk, area/build, area/wasm

#18139 cloud_storage: Improve logging and error handling
  src/v/cloud_storage/remote_partition.cc
Labels: area/redpanda

#18212 gha: fix js sdk release
  .github/workflows/transform-sdk-release.yml
Labels: area/build

#18211 transform-sdk/js: reverting "disable thinLTO"
  src/transform-sdk/js/CMakeLists.txt
Labels: area/wasm

#18157 controller_backend: prevent busy-looping when removing partitions
  src/v/cluster/controller_backend.cc
  src/v/cluster/shard_placement_table.cc
  src/v/cluster/tests/shard_placement_table_test.cc
Labels: area/redpanda

#18167 transform: add documentation to the transform subsystem
  src/transform-sdk/README.md
  src/transform-sdk/go/transform/README.md
  src/transform-sdk/rust/scripts/publish.py
  src/v/transform/README.md
  src/v/transform/logging/README.md
  src/v/transform/rpc/README.md
  src/v/transform/rpc/include/transform/rpc/client.h
  src/v/transform/stm/README.md
  src/v/wasm/README.md
Labels: area/redpanda, area/wasm

#18198 tx/tm_stm: fix unboundedness of _pid_tx_id
  src/v/cluster/tests/tm_stm_tests.cc
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/tx_gateway_frontend.h
  src/v/config/configuration.cc
  tests/rptest/tests/transactions_test.py
Labels: area/redpanda

#18187 tx/rm_stm: deal with duplicate begin_tx requests
  src/v/cluster/rm_stm.cc
Labels: area/redpanda

#18225 wasm: fix host function arg translation
  src/v/wasm/wasmtime.cc
Labels: area/redpanda, area/wasm

#18102 [v24.1.x] admin: fixed mapping of service unavailable error code
  src/v/redpanda/admin/server.cc
Labels: area/redpanda, kind/backport

#18216 [v24.1.x] controller_backend: prevent busy-looping when removing partitions
  src/v/cluster/controller_backend.cc
  src/v/cluster/shard_placement_table.cc
  src/v/cluster/tests/shard_placement_table_test.cc
Labels: area/redpanda, kind/backport

#18228 [v24.1.x] CORE-1752: cst: Downgrade error logs to debug
  src/v/cloud_storage/segment_chunk_api.cc
  src/v/cloud_storage/segment_chunk_data_source.cc
Labels: area/redpanda, kind/backport

#18125 [v24.1.x] cluster_recovery_backend_test: fix unsafe iteration
  src/v/cluster/cloud_metadata/tests/cluster_recovery_backend_test.cc
Labels: area/redpanda, kind/backport

#18128 [v24.1.x] c/balancer_backend: first initialize planner and then call plan
  src/v/cluster/partition_balancer_backend.cc
Labels: area/redpanda, kind/backport

#18229 cloud_storage: avoid possible double stop in segment reader
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/tests/remote_partition_test.cc
Labels: area/redpanda

#18234 [v24.1.x] wasm: fix host function arg translation
  src/v/wasm/wasmtime.cc
Labels: area/redpanda, area/wasm, kind/backport

#18235 [v23.3.x] wasm: fix host function arg translation
  src/v/wasm/wasmtime.cc
Labels: area/redpanda, kind/backport

#17461 [CORE-2161] cloud_storage/topic_manifest: force negative retention to mean infinite retention
  src/v/cloud_storage/tests/topic_manifest_test.cc
  src/v/cloud_storage/topic_manifest.cc
Labels: area/redpanda

#18194 [v24.1.x] configuration to enable delete retention for consumer offsets
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/tests/consumer_groups_test.cc
  src/v/storage/disk_log_impl.cc
  tests/rptest/tests/transactions_test.py
Labels: area/redpanda, kind/backport

#18141 [v24.1.x] Fixes for wait_ms cpu profiler mode
  src/v/resource_mgmt/cpu_profiler.cc
  src/v/resource_mgmt/cpu_profiler.h
  src/v/resource_mgmt/tests/cpu_profiler_test.cc
Labels: area/redpanda, kind/backport

#18134 [v24.1.x] cloud_storage: Implement "carryover" cache trimming mechanism
  src/v/cloud_storage/cache_probe.cc
  src/v/cloud_storage/cache_probe.h
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/cache_service.h
  src/v/cloud_storage/materialized_resources.cc
  src/v/cloud_storage/materialized_resources.h
  src/v/cloud_storage/recursive_directory_walker.cc
  src/v/cloud_storage/tests/cache_test.cc
  src/v/cloud_storage/tests/cache_test_fixture.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda, kind/backport

#18238 [v23.3.x] cloud_storage: avoid possible double stop in segment reader
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/tests/remote_partition_test.cc
Labels: area/redpanda, kind/backport

#18241 [v24.1.x] cloud_storage: avoid possible double stop in segment reader
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/tests/remote_partition_test.cc
Labels: area/redpanda, kind/backport

#18196 [v23.2.x] gh: fix lint-cpp for ubuntu noble (manual backport)
  .github/workflows/lint.yml
Labels: area/build

#18223 [v23.3.x] tx/tm_stm: fix unboundedness of _pid_tx_id
  src/v/cluster/tests/tm_stm_tests.cc
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/tx_gateway_frontend.h
  src/v/config/configuration.cc
  tests/rptest/tests/transactions_test.py
Labels: area/redpanda, kind/backport

#18222 [v24.1.x] tx/tm_stm: fix unboundedness of _pid_tx_id
  src/v/cluster/tests/tm_stm_tests.cc
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/tx_gateway_frontend.h
  src/v/config/configuration.cc
  tests/rptest/tests/transactions_test.py
Labels: area/redpanda, kind/backport

#18243 [v24.1.x] [CORE-2161] cloud_storage/topic_manifest: force negative retention to mean infinite retention
  src/v/cloud_storage/tests/topic_manifest_test.cc
  src/v/cloud_storage/topic_manifest.cc
Labels: area/redpanda, kind/backport

#18242 [v23.3.x] [CORE-2161] cloud_storage/topic_manifest: force negative retention to mean infinite retention
  src/v/cloud_storage/tests/topic_manifest_test.cc
  src/v/cloud_storage/topic_manifest.cc
Labels: area/redpanda, kind/backport

#18250 [v24.1.x] PESDLC-1317 Fix cluster creation with private network
  tests/rptest/services/redpanda_cloud.py
Labels: kind/backport

#18093 [CORE-2581] cst: move chunk downloads to remote segment bg loop
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/segment_chunk_api.cc
  src/v/cloud_storage/segment_chunk_api.h
  tests/rptest/tests/cloud_storage_chunk_read_path_test.py
Labels: area/redpanda

#18269 [v24.1.x] [CORE-2581] cst: move chunk downloads to remote segment bg loop
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/segment_chunk_api.cc
  src/v/cloud_storage/segment_chunk_api.h
  tests/rptest/tests/cloud_storage_chunk_read_path_test.py
Labels: area/redpanda, kind/backport

#18268 [v23.3.x] [CORE-2581] cst: move chunk downloads to remote segment bg loop
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/segment_chunk_api.cc
  src/v/cloud_storage/segment_chunk_api.h
  tests/rptest/tests/cloud_storage_chunk_read_path_test.py
Labels: area/redpanda, kind/backport

#18172 CORE-2418: cluster/self_test: extend cloud storage self test
  src/v/cluster/self_test/cloudcheck.cc
  src/v/cluster/self_test/cloudcheck.h
  tests/rptest/tests/self_test_test.py
Labels: area/redpanda

#18149 rpk: migrate namespace to resource group
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cloud/cloud.go
  src/go/rpk/pkg/cli/cloud/resourcegroup/create.go
  src/go/rpk/pkg/cli/cloud/resourcegroup/delete.go
  src/go/rpk/pkg/cli/cloud/resourcegroup/list.go
  src/go/rpk/pkg/cli/cloud/resourcegroup/resourcegroup.go
  src/go/rpk/pkg/cli/profile/create.go
  src/go/rpk/pkg/cloudapi/cloudapi.go
  src/go/rpk/pkg/config/params.go
  src/go/rpk/pkg/config/params_test.go
  src/go/rpk/pkg/config/rpk_yaml.go
  src/go/rpk/pkg/config/rpk_yaml_test.go
  src/go/rpk/pkg/oauth/load_test.go
  src/go/rpk/pkg/oauth/oauth.go
  src/go/rpk/pkg/publicapi/controlplane.go
  src/go/rpk/pkg/publicapi/transform.go
Labels: area/rpk

#18195 CORE-548 base64 url decode
  src/v/security/CMakeLists.txt
  src/v/security/jwt.cc
  src/v/security/jwt.h
  src/v/utils/base64.cc
  src/v/utils/base64.h
  src/v/utils/tests/CMakeLists.txt
  src/v/utils/tests/base64_test.cc
Labels: area/redpanda

#18112 Fix timequery returning wrong offset after trim-prefix which could lead to stuck consumers
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/kafka/server/handlers/list_offsets.cc
  src/v/kafka/server/replicated_partition.cc
  src/v/model/offset_interval.h
  src/v/model/tests/random_batch.cc
  src/v/model/tests/random_batch.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/lock_manager.cc
  src/v/storage/log_reader.cc
  src/v/storage/log_reader.h
  src/v/storage/tests/storage_e2e_test.cc
  src/v/storage/tests/timequery_test.cc
  src/v/storage/types.cc
  src/v/storage/types.h
  src/v/transform/api.cc
  tests/rptest/tests/timequery_test.py
Labels: area/redpanda, area/wasm

#18197 CORE-2742 post review updates
  src/v/config/node_config.cc
  src/v/redpanda/application.cc
Labels: area/redpanda

#18217 c/shard_balancer: assign shards concurrently
  src/v/cluster/shard_balancer.cc
  src/v/cluster/shard_balancer.h
  src/v/cluster/shard_placement_table.cc
  src/v/cluster/shard_placement_table.h
  src/v/cluster/tests/shard_placement_table_test.cc
  src/v/container/include/container/chunked_hash_map.h
Labels: area/redpanda

#18247 rm_stm/tests: add test for producer expiration without data batches
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/rm_stm_test_fixture.h
  src/v/cluster/tests/rm_stm_tests.cc
Labels: area/redpanda

#18274 rpk: stop using args[0] in cloud cluster select
  src/go/rpk/pkg/cli/cloud/cluster/select.go
Labels: area/rpk

#17350 Change information stored in ` _topic_node_index` to avoid oversized alloc
  src/v/cluster/scheduling/leader_balancer_constraints.cc
  src/v/cluster/scheduling/leader_balancer_constraints.h
  src/v/cluster/tests/leader_balancer_constraints_test.cc
Labels: area/redpanda

#18328 [v24.1.x] Change information stored in ` _topic_node_index` to avoid oversized alloc
  src/v/cluster/scheduling/leader_balancer_constraints.cc
  src/v/cluster/scheduling/leader_balancer_constraints.h
  src/v/cluster/tests/leader_balancer_constraints_test.cc
Labels: area/redpanda, kind/backport

#18321 [v24.1.x] rpk: stop using args[0] in cloud cluster select
  src/go/rpk/pkg/cli/cloud/cluster/select.go
Labels: area/rpk, kind/backport

#18289 rpk: document --set flag in rpk container start
  src/go/rpk/pkg/cli/container/start.go
Labels: area/rpk

#18318 [v24.1.x] offline_log_viewer: fix get_control_record_type
  tests/rptest/clients/offline_log_viewer.py
  tests/rptest/tests/transactions_test.py
  tools/offline_log_viewer/kafka.py
  tools/offline_log_viewer/viewer.py
Labels: kind/backport

#18281 [v24.1.x] Fix timequery returning wrong offset after trim-prefix which could lead to stuck consumers
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/kafka/server/handlers/list_offsets.cc
  src/v/kafka/server/replicated_partition.cc
  src/v/model/offset_interval.h
  src/v/model/tests/random_batch.cc
  src/v/model/tests/random_batch.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/lock_manager.cc
  src/v/storage/log_reader.cc
  src/v/storage/log_reader.h
  src/v/storage/tests/storage_e2e_test.cc
  src/v/storage/tests/timequery_test.cc
  src/v/storage/types.cc
  src/v/storage/types.h
  src/v/transform/api.cc
  tests/rptest/tests/timequery_test.py
Labels: area/redpanda, area/wasm, kind/backport

#18324 [backport] [v24.1.x] rm_stm: consider transactions without data batches for expiration
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/rm_stm_test_fixture.h
  src/v/cluster/tests/rm_stm_tests.cc
Labels: area/redpanda

#18285 archival: clamp uploads to committed offset
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
Labels: area/redpanda, area/cloud-storage

#18305 Fix some concurrent memory access problems in partition balancer
  src/v/cluster/scheduling/types.cc
  src/v/cluster/tests/partition_balancer_planner_fixture.h
  src/v/cluster/tests/partition_balancer_planner_test.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/cluster/topics_frontend.cc
  src/v/utils/exceptions.h
  src/v/utils/stable_iterator_adaptor.h
Labels: area/redpanda

#18245 [CORE-1912] mvlog: add basic segment reader
  src/v/storage/mvlog/CMakeLists.txt
  src/v/storage/mvlog/batch_collecting_stream_utils.cc
  src/v/storage/mvlog/batch_collecting_stream_utils.h
  src/v/storage/mvlog/entry_stream.cc
  src/v/storage/mvlog/entry_stream.h
  src/v/storage/mvlog/errc.h
  src/v/storage/mvlog/readable_segment.cc
  src/v/storage/mvlog/readable_segment.h
  src/v/storage/mvlog/segment_reader.cc
  src/v/storage/mvlog/segment_reader.h
  src/v/storage/mvlog/tests/CMakeLists.txt
  src/v/storage/mvlog/tests/batch_collecting_stream_utils_test.cc
  src/v/storage/mvlog/tests/entry_stream_utils_test.cc
  src/v/storage/mvlog/tests/segment_io_test.cc
  src/v/storage/mvlog/tests/segment_reader_test.cc
Labels: area/redpanda

#18314 storage: various space management non-functional changes
  src/v/resource_mgmt/storage.cc
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/log_manager.cc
  src/v/storage/log_manager.h
Labels: area/redpanda

#18193 cloud_storage: correct `list_object()` request headers and parameters
  src/v/cloud_storage/inventory/tests/common.h
  src/v/cloud_storage/inventory/tests/fetch_report_tests.cc
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/cloud_storage/tests/remote_test.cc
  src/v/cloud_storage/tests/s3_imposter.cc
  src/v/cloud_storage/tests/s3_imposter.h
  src/v/cloud_storage_clients/abs_client.cc
  src/v/cloud_storage_clients/abs_client.h
  src/v/cloud_storage_clients/client.h
  src/v/cloud_storage_clients/s3_client.cc
  src/v/cloud_storage_clients/tests/s3_client_test.cc
  src/v/http/include/http/tests/registered_urls.h
Labels: area/redpanda

#17947 CORE-1882: admin: add backoff to redirect_to_leader requests
  src/v/redpanda/admin/server.cc
  tests/rptest/services/admin.py
  tests/rptest/tests/leaders_redirect_test.py
Labels: area/redpanda

#18401 [v24.1.x] [dt] add retries to remote curl call
  tests/rptest/services/redpanda_installer.py
Labels: kind/backport

#18392 [v24.1.x] archival: clamp uploads to committed offset
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
Labels: area/redpanda, kind/backport

#18308 model: make next_offset saturate rather than overflow
  src/v/model/fundamental.h
Labels: area/redpanda

#18393 [v23.3.x] archival: clamp uploads to committed offset
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
Labels: area/redpanda, kind/backport

#18280 tests: base id_allocator_stm_test on raft_fixture
  src/v/base/include/base/outcome.h
  src/v/cluster/id_allocator_frontend.cc
  src/v/cluster/id_allocator_stm.cc
  src/v/cluster/id_allocator_stm.h
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/id_allocator_stm_test.cc
  src/v/raft/tests/raft_fixture.h
  src/v/test_utils/test.h
Labels: area/redpanda

#18411 archival/tests: yield more often to the scheduler
  src/v/archival/tests/ntp_archiver_test.cc
Labels: area/redpanda

#18420 storage/tests: Adjust step size deviation used in test
  src/v/storage/segment_index.h
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

#18304 http: Fix double call to stop() in http::client
  src/v/http/client.cc
  src/v/http/include/http/client.h
Labels: area/redpanda

#18397 [CORE-96]: admin/server fix set_log_level handling of overlapping expirations
  src/v/redpanda/admin/server.cc
  src/v/redpanda/admin/server.h
  tests/rptest/tests/log_level_test.py
Labels: area/redpanda

#18303 [CORE-2814]: utils/file_io: fix double closing of ss::file in write_fully
  src/v/utils/file_io.cc
Labels: area/redpanda

#18433 [v24.1.x] [CORE-2831] schema_registry: Allow deleted=true for post_subject
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, kind/backport

#18423 ssx: Update task local ptr
  src/v/ssx/include/ssx/task_local_ptr.h
Labels: area/redpanda

#18390 CORE-2708 - chore: fix open source CI build
  cmake/dependencies.cmake
  src/go/kreq-gen/go.mod
  src/v/net/probes.cc
Labels: area/build, area/redpanda

#18448 [v24.1.x] cloud_storage: correct `list_object()` request headers and parameters (manual backport)
  src/v/cloud_storage/inventory/tests/common.h
  src/v/cloud_storage/inventory/tests/fetch_report_tests.cc
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/cloud_storage/tests/remote_test.cc
  src/v/cloud_storage/tests/s3_imposter.cc
  src/v/cloud_storage/tests/s3_imposter.h
  src/v/cloud_storage_clients/abs_client.cc
  src/v/cloud_storage_clients/abs_client.h
  src/v/cloud_storage_clients/client.h
  src/v/cloud_storage_clients/s3_client.cc
  src/v/cloud_storage_clients/tests/s3_client_test.cc
  src/v/http/include/http/tests/registered_urls.h
Labels: area/redpanda

#18447 [v23.3.x] cloud_storage: correct `list_object()` request headers and parameters (manual backport)
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/cloud_storage/tests/remote_test.cc
  src/v/cloud_storage/tests/s3_imposter.cc
  src/v/cloud_storage/tests/s3_imposter.h
  src/v/cloud_storage_clients/abs_client.cc
  src/v/cloud_storage_clients/abs_client.h
  src/v/cloud_storage_clients/client.h
  src/v/cloud_storage_clients/s3_client.cc
  src/v/cloud_storage_clients/tests/s3_client_test.cc
  src/v/http/tests/registered_urls.h
Labels: area/redpanda

#18026 rpk: add transfer-leadership command
  src/go/rpk/pkg/adminapi/api_partition.go
  src/go/rpk/pkg/cli/cluster/partitions/partitions.go
  src/go/rpk/pkg/cli/cluster/partitions/transfer_leadership.go
Labels: area/rpk

#18044 [v23.2.x] c/controller_backend: try to force-abort reconfiguration only on leaders
  src/v/cluster/controller_backend.cc
Labels: area/redpanda, kind/backport

#18394 Do not request votes if term changed in prevote phase
  src/v/raft/consensus.cc
  src/v/raft/vote_stm.cc
  src/v/raft/vote_stm.h
Labels: area/redpanda

#18287 net/probes: Expect vector<byte> from cert_info
  src/v/net/probes.cc
Labels: area/redpanda

#18388 tests/random: futurize make_random_batches
  src/v/archival/tests/archival_service_fixture.h
  src/v/archival/tests/service_fixture.cc
  src/v/cloud_storage/tests/common_def.h
  src/v/cluster/tests/idempotency_tests.cc
  src/v/cluster/tests/rebalancing_tests_fixture.h
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/compat/raft_generator.h
  src/v/kafka/protocol/tests/batch_reader_test.cc
  src/v/kafka/server/tests/fetch_test.cc
  src/v/kafka/server/tests/topic_recreate_test.cc
  src/v/model/tests/random_batch.cc
  src/v/model/tests/random_batch.h
  src/v/raft/tests/append_entries_test.cc
  src/v/raft/tests/configuration_serialization_test.cc
  src/v/raft/tests/foreign_entry_test.cc
  src/v/raft/tests/raft_group_fixture.h
  src/v/raft/tests/term_assigning_reader_test.cc
  src/v/raft/tests/type_serialization_tests.cc
  src/v/storage/mvlog/tests/batch_collecting_stream_utils_test.cc
  src/v/storage/mvlog/tests/segment_appender_test.cc
  src/v/storage/mvlog/tests/segment_io_test.cc
  src/v/storage/opfuzz/opfuzz.cc
  src/v/storage/tests/log_manager_test.cc
  src/v/storage/tests/log_replayer_test.cc
  src/v/storage/tests/log_segment_reader_test.cc
  src/v/storage/tests/offset_assignment_test.cc
  src/v/storage/tests/produce_consume_test.cc
  src/v/storage/tests/storage_e2e_test.cc
  src/v/storage/tests/storage_test_fixture.h
  src/v/storage/tests/utils/disk_log_builder.cc
Labels: area/redpanda

#17952 [CORE-60] Schema Registry: Support `/mode`
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/api/api-doc/schema_registry_definitions.def.json
  src/v/pandaproxy/api/api-doc/schema_registry_header.json
  src/v/pandaproxy/auth_utils.h
  src/v/pandaproxy/error.cc
  src/v/pandaproxy/error.h
  src/v/pandaproxy/schema_registry/api.cc
  src/v/pandaproxy/schema_registry/configuration.cc
  src/v/pandaproxy/schema_registry/configuration.h
  src/v/pandaproxy/schema_registry/error.cc
  src/v/pandaproxy/schema_registry/error.h
  src/v/pandaproxy/schema_registry/errors.h
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/handlers.h
  src/v/pandaproxy/schema_registry/requests/mode.h
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/seq_writer.h
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/storage.h
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/compatibility_3rdparty.cc
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
  src/v/pandaproxy/schema_registry/test/compatibility_store.cc
  src/v/pandaproxy/schema_registry/test/consume_to_store.cc
  src/v/pandaproxy/schema_registry/test/sharded_store.cc
  src/v/pandaproxy/schema_registry/types.h
  tests/rptest/services/redpanda.py
  tests/rptest/services/templates/redpanda.yaml
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, area/schema-registry, doc-needed

#18323 Add missing paths to GHA shell linter workflow
  .github/workflows/lint-sh.yml
Labels: area/build

#18456 test_utils: utility for getting a test directory
  src/v/test_utils/CMakeLists.txt
  src/v/test_utils/gtest_main.cc
  src/v/test_utils/gtest_utils.cc
  src/v/test_utils/gtest_utils.h
  src/v/test_utils/tests/gtest_test.cc
Labels: area/redpanda

#18473 [CORE-2952] Add docs as CODEOWNERS for Swagger
  .github/CODEOWNERS
Labels: area/build

#18307 Wrap certain `wasm32-wasi` ABI unsafe calls in `unsafe` to fix the build.
  src/transform-sdk/rust/sr-sys/src/lib.rs
  src/transform-sdk/rust/sr-sys/src/stub_abi.rs
Labels: area/wasm

#18468 t/fetch_test: wait longer for leadership after stepping down
  src/v/kafka/server/tests/fetch_test.cc
Labels: area/redpanda

#18457 mvlog: wrap pager with file abstraction
  src/v/storage/mvlog/CMakeLists.txt
  src/v/storage/mvlog/file.cc
  src/v/storage/mvlog/file.h
  src/v/storage/mvlog/tests/CMakeLists.txt
  src/v/storage/mvlog/tests/file_test.cc
Labels: area/redpanda

#18451 cloud_storage: Increase disk tput limit a bit
  src/v/cloud_storage/materialized_resources.cc
Labels: area/redpanda

#18470 CORE-2949 Fixup RPC unit test certs
  cmake/testing.cmake
  src/v/rpc/test/CMakeLists.txt
  src/v/rpc/test/redpanda.crt
  src/v/rpc/test/redpanda.key
  src/v/rpc/test/redpanda.other.crt
  src/v/rpc/test/redpanda.other.key
  src/v/rpc/test/root_certificate_authority.chain_cert
  src/v/rpc/test/root_certificate_authority.other.chain_cert
  src/v/rpc/test/rpc_gen_cycling_test.cc
Labels: area/build, area/redpanda

#18490 rpk: rename cluster metadata to info
  src/go/rpk/pkg/cli/cluster/info.go
Labels: area/rpk

#18476 [v24.1.x] rptest: be more permissive with errors in stress fibers test
  tests/rptest/tests/cpu_stress_injection_test.py
Labels: kind/backport

#18236 PUT /v1/transform/{name}/meta
  src/go/rpk/pkg/adminapi/api_transform.go
  src/go/rpk/pkg/cli/transform/meta.go
  src/go/rpk/pkg/cli/transform/transform.go
  src/v/cluster/plugin_frontend.cc
  src/v/cluster/plugin_frontend.h
  src/v/model/transform.cc
  src/v/model/transform.h
  src/v/redpanda/admin/api-doc/transform.json
  src/v/redpanda/admin/server.h
  src/v/redpanda/admin/transform.cc
  src/v/transform/api.cc
  src/v/transform/include/transform/api.h
  src/v/transform/tests/transform_manager_test.cc
  src/v/transform/transform_manager.cc
  tests/rptest/clients/rpk.py
  tests/rptest/services/admin.py
  tests/rptest/tests/data_transforms_test.py
Labels: area/rpk, area/redpanda, area/wasm, doc-needed

#18499 storage: change map type for `_db` in `kvstore`
  src/v/storage/kvstore.h
Labels: area/redpanda

#18450 [v23.3.x] Fix some concurrent memory access problems in partition balancer
  src/v/cluster/scheduling/types.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/cluster/topics_frontend.cc
  src/v/utils/exceptions.h
  src/v/utils/stable_iterator_adaptor.h
Labels: area/redpanda, kind/backport

#18107 CORE-2417: cloud_storage_clients: self configure `s3_url_style`
  src/v/cloud_storage/types.cc
  src/v/cloud_storage_clients/client_pool.cc
  src/v/cloud_storage_clients/configuration.cc
  src/v/cloud_storage_clients/configuration.h
  src/v/cloud_storage_clients/s3_client.cc
  src/v/cloud_storage_clients/s3_client.h
  src/v/cloud_storage_clients/test_client/s3_test_client_main.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/tests/fixture.h
  tests/rptest/tests/cluster_self_config_test.py
Labels: area/redpanda

#18425 Base distributed_kv_stm_tests on raft fixture
  src/v/cluster/distributed_kv_stm.h
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/distributed_kv_stm_tests.cc
  src/v/cluster/tests/id_allocator_stm_test.cc
  src/v/raft/tests/raft_fixture.h
Labels: area/redpanda

#18489 CORE-1972 don't mark rebalance complete if some partitions are not moveable
  src/v/cluster/partition_balancer_planner.cc
  tests/rptest/tests/end_to_end.py
  tests/rptest/tests/partition_balancer_test.py
Labels: area/redpanda

#18464 Made client id parsing vcluster aware
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/connection_context.h
  src/v/kafka/server/request_context.h
  src/v/utils/xid.cc
  src/v/utils/xid.h
  tests/rptest/tests/connection_virtualizing_test.py
  tests/rptest/tests/vcluster_topic_property_test.py
  tests/rptest/utils/xid_utils.py
Labels: area/redpanda

#18493 [v24.1.x] Do not request votes if term changed in prevote phase
  src/v/raft/consensus.cc
  src/v/raft/vote_stm.cc
  src/v/raft/vote_stm.h
Labels: area/redpanda, kind/backport

#18518 [v24.1.x] CORE-1972 don't mark rebalance complete if some partitions are not moveable
  src/v/cluster/partition_balancer_planner.cc
  tests/rptest/tests/end_to_end.py
  tests/rptest/tests/partition_balancer_test.py
Labels: area/redpanda, kind/backport

#18492 gh: Now using pandoc to format issues
  .github/workflows/comment_added.yml
  .github/workflows/jira_issue_manage.yml
  .github/workflows/scripts/jira_helper.py
Labels: area/build

#18503 [v24.1.x] storage: change map type for `_db` in `kvstore`
  src/v/storage/kvstore.h
Labels: area/redpanda, kind/backport

#18506 cmake: FIxup for OpenSSL command on Fedora
  cmake/testing.cmake
  install-dependencies.sh
Labels: area/build

#18525 [v23.2.x] tests: disable snapshots when testing partial controller deletion
  tests/rptest/tests/controller_erase_test.py
Labels: kind/backport

#18527 gha: Remove `build-redpanda` workflow
  .github/workflows/build-redpanda.yml
Labels: area/build

#18526 archival: Disable housekeeping jobs on startup
  src/v/archival/ntp_archiver_service.cc
Labels: area/redpanda

#18519 mvlog: miscellaneous non-functional changes
  src/v/container/include/container/interval_set.h
  src/v/container/tests/interval_set_test.cc
  src/v/storage/mvlog/readable_segment.h
  src/v/storage/mvlog/segment_appender.cc
  src/v/storage/mvlog/segment_appender.h
  src/v/storage/mvlog/segment_reader.cc
  src/v/storage/mvlog/skipping_data_source.cc
  src/v/storage/mvlog/skipping_data_source.h
  src/v/storage/mvlog/tests/segment_appender_test.cc
  src/v/storage/mvlog/tests/segment_io_test.cc
  src/v/storage/mvlog/tests/segment_reader_test.cc
  src/v/storage/mvlog/tests/skipping_data_source_test.cc
Labels: area/redpanda

#18523 [v23.3.x] raft: in append_entries skip batches that we already have
  src/v/model/record_batch_reader.h
  src/v/raft/consensus.cc
  src/v/raft/consensus_utils.cc
  src/v/raft/consensus_utils.h
  src/v/raft/tests/foreign_entry_test.cc
  src/v/raft/types.h
Labels: area/redpanda, kind/backport

#18495 c/tests: added an edge case test for partition balancer
  src/v/cluster/tests/partition_balancer_simulator_test.cc
Labels: area/redpanda

#18560 [v24.1.x] cst/ducktape: Accept errors due to gap in manifest
  tests/rptest/tests/cloud_storage_scrubber_test.py
Labels: kind/backport

#18522 [v23.3.x] CORE-1972 don't mark rebalance complete if some partitions are not moveable
  src/v/cluster/partition_balancer_planner.cc
  tests/rptest/tests/end_to_end.py
  tests/rptest/tests/partition_balancer_test.py
Labels: area/redpanda, kind/backport

#18494 CORE-2950 schema_registry: improve authn/authz audit logging
  src/v/pandaproxy/auth_utils.h
  src/v/pandaproxy/schema_registry/service.cc
  tests/rptest/tests/audit_log_test.py
  tests/rptest/utils/schema_registry_utils.py
Labels: area/redpanda

#18553 cluster_recovery_backend_test: only reset relevant config
  src/v/cluster/cloud_metadata/tests/cluster_recovery_backend_test.cc
Labels: area/redpanda

#18097 Fix timequery not returning results when racing with archival retention and gc
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/tests/archival_service_fixture.h
  src/v/archival/tests/service_fixture.cc
  src/v/archival/types.cc
  src/v/archival/types.h
  src/v/cloud_storage/async_manifest_view.cc
  src/v/cloud_storage/async_manifest_view.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/tests/async_manifest_view_test.cc
  src/v/cloud_storage/tests/remote_partition_test.cc
  src/v/cloud_storage/tests/util.cc
  src/v/cloud_storage/tests/util.h
  src/v/kafka/server/replicated_partition.cc
  src/v/redpanda/tests/fixture.h
  tests/rptest/tests/timequery_test.py
  tests/rptest/util.py
Labels: area/redpanda

#18218 CORE-2752 - Fix Kafka quota throttling delay enforcement
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/connection_context.h
  src/v/kafka/server/quota_manager.cc
  src/v/kafka/server/quota_manager.h
  src/v/kafka/server/snc_quota_manager.cc
  src/v/kafka/server/snc_quota_manager.h
  tests/rptest/tests/cluster_quota_test.py
Labels: area/redpanda

#18505 register `/rp-unit-test` github slash command
  .github/workflows/buildkite-slash-commands.yml
  .github/workflows/slash-commands.yml
Labels: area/build

#18444 [v23.3.x] [CORE-2814]: utils/file_io: fix double closing of ss::file in write_fully
  src/v/utils/file_io.cc
Labels: area/redpanda, kind/backport

#18461 [v23.3.x] rpk: add transfer-leadership command
  src/go/rpk/pkg/adminapi/api_partition.go
  src/go/rpk/pkg/cli/cluster/partitions/partitions.go
  src/go/rpk/pkg/cli/cluster/partitions/transfer_leadership.go
Labels: area/rpk, kind/backport

#17898 [v23.3.x] id_allocator: do not forward requests beyond first hop
  src/v/cluster/id_allocator.cc
Labels: area/redpanda, kind/backport

#18486 [v23.3.x] tests: wait for messages before adding a node to cluster
  tests/rptest/tests/nodes_decommissioning_test.py
Labels: kind/backport

#18432 [v23.3.x] [CORE-2831] schema_registry: Allow deleted=true for post_subject
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, kind/backport

#18438 [v23.3.x] [CORE-96]: admin/server fix set_log_level handling of overlapping expirations
  src/v/redpanda/admin/server.cc
  src/v/redpanda/admin/server.h
  tests/rptest/tests/log_level_test.py
Labels: area/redpanda, kind/backport

#18568 [v24.1.x] CORE-2752 - Fix Kafka quota throttling delay enforcement
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/connection_context.h
  src/v/kafka/server/quota_manager.cc
  src/v/kafka/server/quota_manager.h
  src/v/kafka/server/snc_quota_manager.cc
  src/v/kafka/server/snc_quota_manager.h
  tests/rptest/tests/cluster_quota_test.py
Labels: area/redpanda, kind/backport

#18564 CORE-2425 add additional tls error codes
  src/v/net/CMakeLists.txt
  src/v/net/connection.cc
  src/v/net/probes.cc
Labels: area/redpanda

#18520 [v24.1.x] Made client id parsing vcluster aware
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/connection_context.h
  src/v/kafka/server/request_context.h
  src/v/utils/xid.cc
  src/v/utils/xid.h
  tests/rptest/tests/connection_virtualizing_test.py
  tests/rptest/tests/vcluster_topic_property_test.py
  tests/rptest/utils/xid_utils.py
Labels: area/redpanda, kind/backport

#18554 mvlog/tests: clean up files in test body
  src/v/storage/mvlog/tests/file_test.cc
Labels: area/redpanda

#18516 rm_stm: prepping for log_state port
  src/v/cluster/producer_state.cc
  src/v/cluster/producer_state.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/rm_stm_types.cc
  src/v/cluster/rm_stm_types.h
  src/v/cluster/tests/producer_state_tests.cc
  src/v/cluster/tests/randoms.h
  src/v/cluster/tests/rm_stm_test_fixture.h
  src/v/cluster/tests/rm_stm_tests.cc
  src/v/kafka/server/handlers/describe_producers.cc
Labels: area/redpanda

#18575 [v23.3.x] CORE-2752 - Fix Kafka quota throttling delay enforcement
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/connection_context.h
  src/v/kafka/server/quota_manager.cc
  src/v/kafka/server/quota_manager.h
  src/v/kafka/server/snc_quota_manager.cc
  src/v/kafka/server/snc_quota_manager.h
  tests/rptest/tests/cluster_quota_test.py
Labels: area/redpanda, kind/backport

#18596 [v23.3.x] archival: Disable housekeeping jobs on startup
  src/v/archival/ntp_archiver_service.cc
Labels: area/redpanda, kind/backport

#18588 [v24.1.x] archival: Disable housekeeping jobs on startup
  src/v/archival/ntp_archiver_service.cc
Labels: area/redpanda, kind/backport

#17728 [v23.3.x] k/fetch: handle initial_leader_epoch correctly
  src/v/kafka/server/fetch_session.h
  src/v/kafka/server/fetch_session_cache.cc
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/tests/fetch_plan_bench.cc
  src/v/kafka/server/tests/fetch_session_test.cc
  src/v/kafka/server/tests/fetch_test.cc
Labels: area/redpanda, kind/backport

#18619 [v23.3.x] tests: fix replaced segments accounting in TopicRecoveryTest
  tests/rptest/tests/topic_recovery_test.py
Labels: kind/backport

#18623 [v24.1.x] [CORE-60] Schema Registry: Support `/mode`
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/api/api-doc/schema_registry_definitions.def.json
  src/v/pandaproxy/api/api-doc/schema_registry_header.json
  src/v/pandaproxy/auth_utils.h
  src/v/pandaproxy/error.cc
  src/v/pandaproxy/error.h
  src/v/pandaproxy/schema_registry/api.cc
  src/v/pandaproxy/schema_registry/configuration.cc
  src/v/pandaproxy/schema_registry/configuration.h
  src/v/pandaproxy/schema_registry/error.cc
  src/v/pandaproxy/schema_registry/error.h
  src/v/pandaproxy/schema_registry/errors.h
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/handlers.h
  src/v/pandaproxy/schema_registry/requests/mode.h
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/seq_writer.h
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/storage.h
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/compatibility_3rdparty.cc
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
  src/v/pandaproxy/schema_registry/test/compatibility_store.cc
  src/v/pandaproxy/schema_registry/test/consume_to_store.cc
  src/v/pandaproxy/schema_registry/test/sharded_store.cc
  src/v/pandaproxy/schema_registry/types.h
  tests/rptest/services/redpanda.py
  tests/rptest/services/templates/redpanda.yaml
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, kind/backport

#18601 [backport][v23.3.x] log_manager: gate orphan file cleanup #17910
  src/v/storage/log_manager.cc
  src/v/storage/log_manager.h
Labels: area/redpanda

#18498 [v23.2.x] Fix some concurrent memory access problems in partition balancer
  src/v/cluster/scheduling/types.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/utils/exceptions.h
  src/v/utils/stable_iterator_adaptor.h
Labels: area/redpanda, kind/backport

#18620 [v24.1.x] tests: fix replaced segments accounting in TopicRecoveryTest
  tests/rptest/tests/topic_recovery_test.py
Labels: kind/backport

#18531 base tests on raft_fixture
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/distributed_kv_stm_tests.cc
  src/v/cluster/tests/id_allocator_stm_test.cc
  src/v/cluster/tests/tm_stm_tests.cc
  src/v/raft/tests/CMakeLists.txt
  src/v/raft/tests/mux_state_machine_test.cc
  src/v/raft/tests/raft_fixture.h
Labels: area/redpanda

#18628 rpk: small fixes.
  src/go/rpk/pkg/cli/cloud/login.go
  src/go/rpk/pkg/cli/profile/create.go
  src/go/rpk/pkg/cli/topic/consume.go
  src/go/rpk/pkg/cli/transform/deploy.go
Labels: area/rpk

#18626 Fixed `state_machine_manager` stall
  src/v/raft/state_machine_manager.cc
  src/v/raft/state_machine_manager.h
  src/v/raft/tests/stm_manager_test.cc
  src/v/raft/tests/stm_test_fixture.h
Labels: area/redpanda

#18625 [v23.3.x] Do not request votes if term changed in prevote phase
  src/v/raft/consensus.cc
  src/v/raft/prevote_stm.cc
  src/v/raft/prevote_stm.h
Labels: area/redpanda, kind/backport

#18637 [v23.3.x] Fixed `state_machine_manager` stall
  src/v/raft/state_machine_manager.cc
  src/v/raft/state_machine_manager.h
  src/v/raft/tests/stm_manager_test.cc
  src/v/raft/tests/stm_test_fixture.h
Labels: area/redpanda, kind/backport

#18638 [v24.1.x] Fixed `state_machine_manager` stall
  src/v/raft/state_machine_manager.cc
  src/v/raft/state_machine_manager.h
  src/v/raft/tests/stm_manager_test.cc
  src/v/raft/tests/stm_test_fixture.h
Labels: area/redpanda, kind/backport

#18459 [v24.1.x] rpk: add transfer-leadership command
  src/go/rpk/pkg/adminapi/api_partition.go
  src/go/rpk/pkg/cli/cluster/partitions/partitions.go
  src/go/rpk/pkg/cli/cluster/partitions/transfer_leadership.go
Labels: area/rpk, kind/backport

#18440 [v24.1.x] [CORE-2814]: utils/file_io: fix double closing of ss::file in write_fully
  src/v/utils/file_io.cc
Labels: area/redpanda, kind/backport

#18428 [v24.1.x] http: Fix double call to stop() in http::client
  src/v/http/client.cc
  src/v/http/include/http/client.h
Labels: area/redpanda, kind/backport

#18632 [v24.1.x] rpk: small fixes.
  src/go/rpk/pkg/cli/cloud/login.go
  src/go/rpk/pkg/cli/profile/create.go
  src/go/rpk/pkg/cli/topic/consume.go
  src/go/rpk/pkg/cli/transform/deploy.go
Labels: area/rpk, kind/backport

#18573 rm_stm: couple of stability fixes noticed when down scaling max_concurrent_producer_ids
  src/v/cluster/producer_state.cc
  src/v/cluster/producer_state.h
  src/v/cluster/producer_state_manager.cc
  src/v/cluster/producer_state_manager.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/tests/producer_state_tests.cc
  src/v/cluster/tests/rm_stm_test_fixture.h
  src/v/cluster/tests/rm_stm_tests.cc
  src/v/raft/tests/simple_raft_fixture.h
Labels: area/redpanda

#18635 schema_registry: Make mode_mutability: true by default
  src/v/pandaproxy/schema_registry/configuration.cc
Labels: area/redpanda, area/schema-registry

#18639 [v24.1.x] schema_registry: Make mode_mutability: true by default
  src/v/pandaproxy/schema_registry/configuration.cc
Labels: area/redpanda, kind/backport

#18106 CORE-2154: cloud_storage: path-style verification tests
  src/v/cloud_storage/tests/CMakeLists.txt
  src/v/cloud_storage/tests/anomalies_detector_test.cc
  src/v/cloud_storage/tests/cloud_storage_fixture.h
  src/v/cloud_storage/tests/remote_file_test.cc
  src/v/cloud_storage/tests/remote_partition_fuzz_test.cc
  src/v/cloud_storage/tests/remote_partition_test.cc
  src/v/cloud_storage/tests/remote_segment_test.cc
  src/v/cloud_storage/tests/remote_test.cc
  src/v/cloud_storage/tests/s3_imposter.cc
  src/v/cloud_storage/tests/s3_imposter.h
  src/v/cloud_storage/tests/topic_recovery_service_test.cc
  src/v/cloud_storage/tests/util.cc
  src/v/redpanda/tests/fixture.h
  src/v/test_utils/test_macros.h
  tests/rptest/services/redpanda.py
  tests/rptest/tests/archival_test.py
  tests/rptest/tests/read_replica_e2e_test.py
  tests/rptest/tests/tiered_storage_model_test.py
Labels: area/redpanda
