Repository redpanda-data/redpanda, pull requests merged in 2024-11, with the labels that each got.

#23924 List mountable
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cluster/storage/BUILD
  src/go/rpk/pkg/cli/cluster/storage/list-mount.go
  src/go/rpk/pkg/cli/cluster/storage/list-mountable.go
  src/go/rpk/pkg/cli/cluster/storage/mount.go
  src/go/rpk/pkg/cli/cluster/storage/storage.go
  src/go/rpk/pkg/cli/cluster/storage/unmount.go
Labels: area/rpk, area/build

#23975 cluster: fix log message formatting
  src/v/cluster/feature_manager.cc
  src/v/features/enterprise_features.h
Labels: area/redpanda

#23981 Minor fixups for `config::enterprise` and associated Admin API logging
  src/v/config/property.h
  src/v/redpanda/admin/server.cc
Labels: area/redpanda

#23969 rpk/transform/buildpack: upgrade tinygo
  src/go/rpk/pkg/cli/transform/buildpack/BUILD
  src/go/rpk/pkg/cli/transform/buildpack/buildpack.go
  src/go/rpk/pkg/cli/transform/buildpack/url_test.go
Labels: area/rpk, area/build

#23987 rpk: fix printing new lines
  src/go/rpk/pkg/adminapi/admin.go
Labels: area/rpk

#23989 [v24.2.x] rpk: fix printing new lines
  src/go/rpk/pkg/adminapi/admin.go
Labels: area/rpk, kind/backport

#23988 [v24.1.x] rpk: fix printing new lines
  src/go/rpk/pkg/adminapi/admin.go
Labels: area/rpk, kind/backport

#23971 datalake: write multiple files from record_multiplexer
  src/v/datalake/BUILD
  src/v/datalake/CMakeLists.txt
  src/v/datalake/catalog_schema_manager.cc
  src/v/datalake/catalog_schema_manager.h
  src/v/datalake/fwd.h
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
  src/v/datalake/record_schema_resolver.cc
  src/v/datalake/record_schema_resolver.h
  src/v/datalake/record_translator.cc
  src/v/datalake/record_translator.h
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/CMakeLists.txt
  src/v/datalake/tests/catalog_and_registry_fixture.h
  src/v/datalake/tests/catalog_schema_manager_test.cc
  src/v/datalake/tests/gtest_record_multiplexer_test.cc
  src/v/datalake/tests/record_generator.cc
  src/v/datalake/tests/record_generator.h
  src/v/datalake/tests/record_multiplexer_test.cc
  src/v/datalake/tests/record_schema_resolver_test.cc
  src/v/datalake/tests/translation_task_test.cc
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation_task.cc
  src/v/datalake/translation_task.h
Labels: area/build, area/redpanda

#23453 features: activate node_local_core_assignment automatically
  src/v/features/feature_table.h
  tests/rptest/scale_tests/shard_placement_scale_test.py
  tests/rptest/tests/partition_move_interruption_test.py
  tests/rptest/tests/partition_movement.py
  tests/rptest/tests/partition_movement_test.py
  tests/rptest/tests/shard_placement_test.py
  tests/rptest/tests/topic_delete_test.py
Labels: area/redpanda

#23931 ct: dl_stm basic mvcc overlays
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/CMakeLists.txt
  src/v/cloud_topics/dl_overlay.cc
  src/v/cloud_topics/dl_overlay.h
  src/v/cloud_topics/dl_stm/BUILD
  src/v/cloud_topics/dl_stm/CMakeLists.txt
  src/v/cloud_topics/dl_stm/dl_stm.cc
  src/v/cloud_topics/dl_stm/dl_stm.h
  src/v/cloud_topics/dl_stm/dl_stm_api.cc
  src/v/cloud_topics/dl_stm/dl_stm_api.h
  src/v/cloud_topics/dl_stm/dl_stm_commands.h
  src/v/cloud_topics/dl_stm/dl_stm_state.cc
  src/v/cloud_topics/dl_stm/dl_stm_state.h
  src/v/cloud_topics/dl_stm/tests/BUILD
  src/v/cloud_topics/dl_stm/tests/dl_stm_state_test.cc
  src/v/cloud_topics/dl_stm/tests/dl_stm_test.cc
  src/v/cloud_topics/dl_version.h
  src/v/cloud_topics/tests/types_test.cc
  src/v/cloud_topics/types.cc
  src/v/cloud_topics/types.h
  src/v/cluster/BUILD
  src/v/cluster/CMakeLists.txt
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
Labels: area/build, area/redpanda

#23983 cluster: Fix leadership pinning minor reporting bug
  src/v/cluster/feature_manager.cc
  tests/rptest/tests/leadership_transfer_test.py
Labels: area/redpanda

#23946 samplers: Fix off by one shard id check
  src/v/redpanda/admin/debug.cc
  tests/rptest/tests/memory_sampling_test.py
Labels: area/redpanda

#23998 Migrations distinct error codes
  src/v/cluster/data_migration_frontend.cc
  src/v/cluster/data_migration_table.cc
  src/v/cluster/data_migration_table.h
  src/v/cluster/errc.h
  src/v/cluster/errors.cc
  src/v/cluster/tests/data_migration_table_test.cc
  src/v/kafka/server/errors.h
  src/v/redpanda/admin/server.cc
  tests/rptest/tests/data_migrations_api_test.py
Labels: area/redpanda

#23905 net: Fix setting of TCP send/recv bufs
  MODULE.bazel.lock
  bazel/repositories.bzl
  src/v/net/server.cc
Labels: area/build, area/redpanda

#23662 `cluster`: add `tombstone_retention_ms`/`delete.retention.ms`
  src/v/cloud_storage/tests/topic_manifest_test.cc
  src/v/cluster/metadata_cache.cc
  src/v/cluster/metadata_cache.h
  src/v/cluster/topic_configuration.cc
  src/v/cluster/topic_properties.cc
  src/v/cluster/topic_properties.h
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/cluster/types.h
  src/v/compat/cluster_generator.h
  src/v/compat/cluster_json.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/validators.cc
  src/v/config/validators.h
  src/v/kafka/server/handlers/alter_configs.cc
  src/v/kafka/server/handlers/configs/config_response_utils.cc
  src/v/kafka/server/handlers/configs/config_utils.h
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/handlers/incremental_alter_configs.cc
  src/v/kafka/server/handlers/topics/types.cc
  src/v/kafka/server/handlers/topics/types.h
  src/v/kafka/server/handlers/topics/validators.h
  src/v/kafka/server/tests/alter_config_test.cc
  src/v/redpanda/admin/server.cc
  src/v/storage/log_manager.cc
  src/v/storage/ntp_config.h
  src/v/storage/types.h
  tests/rptest/clients/kafka_cli_tools.py
  tests/rptest/clients/types.py
  tests/rptest/tests/alter_topic_configuration_test.py
  tests/rptest/tests/cluster_config_test.py
  tests/rptest/tests/delete_retention_ms_test.py
  tests/rptest/tests/describe_topics_test.py
  tools/offline_log_viewer/controller.py
Labels: area/redpanda

#24002 r/consensus_utils: use chunked vector when extracting configurations
  src/v/raft/configuration_bootstrap_state.h
  src/v/raft/configuration_manager.cc
  src/v/raft/configuration_manager.h
  src/v/raft/consensus.cc
  src/v/raft/consensus_utils.h
Labels: area/redpanda

#24004 metrics: Add list of enterprise features to call-home POST
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/metrics_reporter.h
  tests/rptest/tests/metrics_reporter_test.py
Labels: area/redpanda

#24001 clang-tidy: make WarningsAsErrors match cmake clang tidy config
  .clang-tidy
  BUILD
  src/v/CMakeLists.txt
  src/v/base/seastarx.h
  src/v/cloud_topics/batcher/tests/aggregator_test.cc
Labels: area/build, area/redpanda

#23996 CORE-8032 Audit log sanctioning
  src/v/base/vlog.h
  src/v/kafka/server/handlers/fetch.cc
  tests/rptest/tests/audit_log_test.py
Labels: area/redpanda

#23914 Integrating rest Iceberg catalog implementation in Redpanda
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/convert.h
  src/v/config/property.h
  src/v/config/rjson_serialization.cc
  src/v/config/rjson_serialization.h
  src/v/config/types.h
  src/v/config/validators.cc
  src/v/config/validators.h
  src/v/datalake/coordinator/BUILD
  src/v/datalake/coordinator/CMakeLists.txt
  src/v/datalake/coordinator/catalog_factory.cc
  src/v/datalake/coordinator/catalog_factory.h
  src/v/datalake/coordinator/coordinator_manager.cc
  src/v/datalake/coordinator/coordinator_manager.h
  src/v/iceberg/BUILD
  src/v/iceberg/manifest_entry.h
  src/v/iceberg/merge_append_action.cc
  src/v/iceberg/rest_client/BUILD
  src/v/iceberg/rest_client/json.cc
  src/v/redpanda/BUILD
  src/v/redpanda/application.cc
  tests/rptest/tests/cluster_config_test.py
  tests/rptest/tests/datalake/rest_catalog_connection_test.py
  tests/setup.py
Labels: area/build, area/redpanda

#24010 [v24.2.x] r/consensus_utils: use chunked vector when extracting configurations
  src/v/raft/configuration_bootstrap_state.h
  src/v/raft/configuration_manager.cc
  src/v/raft/configuration_manager.h
  src/v/raft/consensus.cc
  src/v/raft/consensus_utils.h
Labels: area/redpanda, kind/backport

#24009 [v24.1.x] r/consensus_utils: use chunked vector when extracting configurations
  src/v/raft/configuration_bootstrap_state.h
  src/v/raft/configuration_manager.cc
  src/v/raft/configuration_manager.h
  src/v/raft/consensus.cc
  src/v/raft/consensus_utils.h
Labels: area/redpanda, kind/backport

#24016 datalake: write bad data as binary records
  src/v/datalake/BUILD
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
  src/v/datalake/tests/record_multiplexer_test.cc
Labels: area/build, area/redpanda

#24020 parquet: introduce column writer
  src/v/serde/parquet/BUILD
  src/v/serde/parquet/CMakeLists.txt
  src/v/serde/parquet/column_writer.cc
  src/v/serde/parquet/column_writer.h
  src/v/serde/parquet/encoding.cc
  src/v/serde/parquet/encoding.h
  src/v/serde/parquet/metadata.cc
  src/v/serde/parquet/metadata.h
  src/v/serde/parquet/schema.cc
  src/v/serde/parquet/schema.h
  src/v/serde/parquet/shredder.cc
  src/v/serde/parquet/shredder.h
  src/v/serde/parquet/tests/encoding_test.cc
  src/v/serde/parquet/tests/generate_metadata.cc
  src/v/serde/parquet/tests/schema_test.cc
  src/v/serde/parquet/tests/shredder_test.cc
  src/v/serde/parquet/value.cc
  src/v/serde/parquet/value.h
Labels: area/build, area/redpanda

#24027 [v24.2.x] transform-sdk/go/tests: remove -quiet flag
  src/transform-sdk/go/transform/internal/testdata/CMakeLists.txt
Labels: area/wasm, kind/backport

#24025 [v24.1.x] transform-sdk/go/tests: remove -quiet flag
  src/transform-sdk/go/transform/internal/testdata/CMakeLists.txt
Labels: area/wasm, kind/backport

#23997 bazel: fix aarch64 linux builds
  MODULE.bazel
  MODULE.bazel.lock
  bazel/thirdparty/libpciaccess.BUILD
  bazel/thirdparty/requirements.txt
Labels: area/build

#24007 storage: housekeeping metrics
  src/v/storage/BUILD
  src/v/storage/CMakeLists.txt
  src/v/storage/log_manager.cc
  src/v/storage/log_manager.h
  src/v/storage/log_manager_probe.cc
  src/v/storage/log_manager_probe.h
  tests/rptest/tests/full_disk_test.py
Labels: area/build, area/redpanda

#23992 datalake: plumb schema management into datalake worker
  src/v/datalake/CMakeLists.txt
  src/v/datalake/datalake_manager.cc
  src/v/datalake/datalake_manager.h
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  tests/rptest/services/spark_service.py
  tests/rptest/tests/datalake/datalake_e2e_test.py
  tests/rptest/tests/datalake/datalake_services.py
  tests/rptest/tests/datalake/query_engine_base.py
Labels: area/build, area/redpanda

#23991 rpk/chore: update required Go version and bump deps
  src/go/rpk/go.mod
  src/go/rpk/go.sum
Labels: area/rpk

#24037 iceberg: fix manifest partition_spec serialization
  src/v/iceberg/BUILD
  src/v/iceberg/manifest_avro.cc
  src/v/iceberg/partition_json.cc
  src/v/iceberg/partition_json.h
  src/v/iceberg/tests/gen_test_iceberg_manifest.py
  src/v/iceberg/tests/testdata/nested_manifest.avro
Labels: area/build, area/redpanda

#24024 Preventing tests using s3_impostor from running in parallel
  bazel/test.bzl
  src/v/datalake/coordinator/tests/BUILD
  src/v/datalake/coordinator/tests/CMakeLists.txt
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/CMakeLists.txt
  src/v/iceberg/tests/BUILD
  src/v/iceberg/tests/CMakeLists.txt
Labels: area/build, area/redpanda

#24012 [v24.2.x] metrics: Add list of enterprise features to call-home POST
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/metrics_reporter.h
  tests/rptest/tests/metrics_reporter_test.py
Labels: area/redpanda, kind/backport

#24015 [v24.1.x] metrics: Add list of enterprise features to call-home POST
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/metrics_reporter.h
  tests/rptest/tests/metrics_reporter_test.py
Labels: area/redpanda, kind/backport

#24038 datalake/translation: fix data partition to coordinator mapping
  src/v/datalake/coordinator/frontend.cc
  src/v/datalake/coordinator/frontend.h
  src/v/datalake/tests/fixture.h
  tests/rptest/tests/datalake/datalake_e2e_test.py
Labels: area/redpanda

#24040 datalake/coordinator/api: rename fetch_latest_data_file types
  src/v/datalake/coordinator/frontend.cc
  src/v/datalake/coordinator/frontend.h
  src/v/datalake/coordinator/rpc.json
  src/v/datalake/coordinator/service.cc
  src/v/datalake/coordinator/service.h
  src/v/datalake/coordinator/types.cc
  src/v/datalake/coordinator/types.h
  src/v/datalake/tests/fixture.h
  src/v/datalake/translation/partition_translator.cc
Labels: area/redpanda

#24017 Allow setting schema registry configuration parameters via the RPK node config block
  src/go/rpk/pkg/cli/profile/create.go
  src/go/rpk/pkg/config/config.go
  src/go/rpk/pkg/config/params.go
  src/go/rpk/pkg/config/params_test.go
  src/go/rpk/pkg/config/redpanda_yaml.go
  src/go/rpk/pkg/config/weak.go
  src/go/rpk/pkg/config/weak_test.go
Labels: area/rpk

#24034 `storage`: add calls to `segment_index::flush()` in compaction
  src/v/storage/disk_log_impl.cc
  src/v/storage/segment_index.h
  src/v/storage/segment_utils.cc
  src/v/storage/segment_utils.h
Labels: area/redpanda

#24023 [CORE-8141] Add host information to metrics report
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/metrics_reporter.h
  tests/rptest/tests/metrics_reporter_test.py
Labels: area/redpanda

#24045 [v24.2.x] [CORE-8141] Add host information to metrics report
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/metrics_reporter.h
  tests/rptest/tests/metrics_reporter_test.py
Labels: area/redpanda, kind/backport

#23627 [v24.2.x] Remove shard aggregation on consumer group metrics
  src/v/kafka/group_probe.h
Labels: area/redpanda, kind/backport

#24033 app/log: bump log line's level to info
  src/v/redpanda/application.cc
Labels: area/redpanda

#24048 [v24.2.x] storage: housekeeping metrics
  src/v/storage/BUILD
  src/v/storage/CMakeLists.txt
  src/v/storage/log_manager.cc
  src/v/storage/log_manager.h
  src/v/storage/log_manager_probe.cc
  src/v/storage/log_manager_probe.h
  tests/rptest/tests/full_disk_test.py
Labels: area/redpanda, kind/backport

#24014 Replaced avro translation in datalake
  src/v/datalake/BUILD
  src/v/datalake/record_schema_resolver.cc
  src/v/datalake/record_translator.cc
  src/v/datalake/schema_avro.cc
  src/v/datalake/tests/datalake_avro_tests.cc
  src/v/datalake/tests/record_generator.cc
Labels: area/build, area/redpanda

#24000 cleanup tiered storage temporary cache file if exceptions are thrown during download
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/tests/BUILD
  src/v/cloud_storage/tests/cache_test.cc
  src/v/test_utils/BUILD
  src/v/test_utils/iostream.h
  src/v/utils/tests/BUILD
  src/v/utils/tests/input_stream_fanout_test.cc
Labels: area/build, area/redpanda

#23967 [CORE-8029] - RBAC Sanctions
  src/v/cluster/security_frontend.cc
  src/v/kafka/server/server.cc
  src/v/redpanda/admin/security.cc
  src/v/redpanda/admin/server.cc
  src/v/redpanda/admin/server.h
  tests/rptest/tests/enterprise_features_license_test.py
  tests/rptest/tests/rbac_test.py
Labels: area/redpanda

#24044 [v24.1.x] [CORE-8141] Add host information to metrics report
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/metrics_reporter.h
  tests/rptest/tests/metrics_reporter_test.py
Labels: area/redpanda, kind/backport

#24046 `storage`: modify sleep timers in `compaction_e2e_test`
  src/v/storage/tests/compaction_e2e_test.cc
Labels: area/redpanda

#24013 bazel: fix building krb5 with sanitizers
  .bazelrc
  bazel/thirdparty/krb5.BUILD
Labels: area/build

#24053 [CORE-7999] Tiered storage sanctioning for topic creation
  src/v/cluster/topics_frontend.cc
  src/v/kafka/server/tests/create_topics_test.cc
  src/v/kafka/server/tests/topic_properties_helpers.h
Labels: area/redpanda

#24063 [v24.2.x] cleanup tiered storage temporary cache file if exceptions are thrown during download
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/tests/cache_test.cc
  src/v/test_utils/BUILD
  src/v/test_utils/iostream.h
  src/v/utils/tests/BUILD
  src/v/utils/tests/input_stream_fanout_test.cc
Labels: area/redpanda, kind/backport

#24049 [v24.2.x] app/log: bump log line's level to info
  src/v/redpanda/application.cc
Labels: area/redpanda, kind/backport

#24064 [v24.1.x] cleanup tiered storage temporary cache file if exceptions are thrown during download
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/tests/cache_test.cc
  src/v/test_utils/iostream.h
  src/v/utils/tests/input_stream_fanout_test.cc
Labels: area/redpanda, kind/backport

#24043 datalake: remove schemaless_translator
  src/v/datalake/BUILD
  src/v/datalake/CMakeLists.txt
  src/v/datalake/schemaless_translator.cc
  src/v/datalake/schemaless_translator.h
Labels: area/build, area/redpanda

#24070 [v24.1.x] rptest: reduce cache eviction throttling for space leak test
  tests/rptest/tests/test_si_cache_space_leak.py
Labels: kind/backport

#24051 [v24.1.x] storage: housekeeping metrics
  src/v/storage/CMakeLists.txt
  src/v/storage/log_manager.cc
  src/v/storage/log_manager.h
  src/v/storage/log_manager_probe.cc
  src/v/storage/log_manager_probe.h
  tests/rptest/tests/full_disk_test.py
Labels: area/redpanda, kind/backport

#24059 CORE-8082 cloud_io: add missing error handling to `remote::download_object`
  src/v/cloud_io/remote.cc
  src/v/cloud_storage_clients/BUILD
  src/v/cloud_storage_clients/util.cc
  src/v/cloud_storage_clients/util.h
Labels: area/build, area/redpanda

#24065 c/topics: Implement schema ID validation sanctions (topic create)
  src/v/cluster/topic_configuration.h
  src/v/cluster/topics_frontend.cc
  src/v/cluster/types.h
  src/v/kafka/server/tests/create_topics_test.cc
Labels: area/redpanda

#24071 CORE-8172 Changed force recovery logic to select whichever state is more up to date from local and cloud data
  src/v/cluster/controller_backend.cc
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/raft/consensus.cc
  tests/rptest/tests/partition_force_reconfiguration_test.py
Labels: area/redpanda

#24078 `net`: use `vlog()` macro in `transport.cc` logging
  src/v/net/transport.cc
Labels: area/redpanda

#23915 cluster: Implement sanctions on autobalancer features on invalid license
  src/v/cluster/controller.cc
  src/v/cluster/partition_balancer_backend.cc
  src/v/cluster/partition_balancer_backend.h
  src/v/cluster/shard_balancer.cc
  src/v/cluster/shard_balancer.h
  src/v/config/property.h
  src/v/config/tests/enterprise_property_test.cc
  src/v/features/BUILD
  src/v/features/enterprise_features.h
  src/v/features/tests/BUILD
  src/v/features/tests/CMakeLists.txt
  src/v/features/tests/enterprise_features_test.cc
  tests/rptest/tests/partition_balancer_test.py
  tests/rptest/tests/shard_placement_test.py
Labels: area/build, area/redpanda

#24062 [v24.1.x] [CORE-1478] rptest: fix retention value in `archive_retention_test`
  tests/rptest/tests/archive_retention_test.py
Labels: kind/backport

#24039 parquet: introduce file writer
  src/v/container/contiguous_range_map.h
  src/v/hashing/crc32.h
  src/v/serde/parquet/BUILD
  src/v/serde/parquet/column_writer.cc
  src/v/serde/parquet/column_writer.h
  src/v/serde/parquet/flattened_schema.cc
  src/v/serde/parquet/metadata.cc
  src/v/serde/parquet/metadata.h
  src/v/serde/parquet/schema.cc
  src/v/serde/parquet/schema.h
  src/v/serde/parquet/shredder.cc
  src/v/serde/parquet/tests/BUILD
  src/v/serde/parquet/tests/generate_file.cc
  src/v/serde/parquet/tests/generate_metadata.cc
  src/v/serde/parquet/tests/schema_test.cc
  src/v/serde/parquet/tests/shredder_test.cc
  src/v/serde/parquet/value.cc
  src/v/serde/parquet/value.h
  src/v/serde/parquet/writer.cc
  src/v/serde/parquet/writer.h
  src/v/serde/thrift/BUILD
  src/v/serde/thrift/compact.cc
  src/v/serde/thrift/compact.h
  src/v/serde/thrift/tests/compact_test.cc
  src/v/test_utils/go/parquet_metadata_verifier/main.go
  src/v/test_utils/go/parquet_verifier/BUILD
  src/v/test_utils/go/parquet_verifier/main.go
  tests/docker/ducktape-deps/iceberg-rest-catalog
  tests/docker/ducktape-deps/java-dev-tools
  tests/docker/ducktape-deps/spark
  tests/java/iceberg-rest-catalog/gradlew
  tools/format_cc.sh
Labels: area/build, area/redpanda

#24079 [v24.1.x] CORE-8082 cloud_io: add missing error handling to
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage_clients/util.cc
  src/v/cloud_storage_clients/util.h
Labels: area/redpanda, kind/backport

#24081 iceberg/table_io: support azure protocol scheme
  src/v/iceberg/table_io.cc
  src/v/iceberg/uri.h
Labels: area/redpanda

#24080 [v24.2.x] CORE-8082 cloud_io: add missing error handling to
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage_clients/BUILD
  src/v/cloud_storage_clients/util.cc
  src/v/cloud_storage_clients/util.h
Labels: area/redpanda, kind/backport

#24058 [CORE-8000] tiered storage sanctioning for alter topics
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/cluster/topics_frontend.cc
  src/v/kafka/server/tests/alter_config_test.cc
  src/v/kafka/server/tests/topic_properties_helpers.h
Labels: area/redpanda

#23936 storage: remove assertion on `is_cloud_retention_active`
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda

#24086 bazel: Updated seastar ref
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: area/build

#24085 cluster: improve role-acl create sanction message
  src/v/cluster/security_frontend.cc
  src/v/kafka/server/server.cc
Labels: area/redpanda

#24092 kafka/txn_reader: proper cleanup in finally
  src/v/kafka/utils/tests/txn_reader_test.cc
  src/v/kafka/utils/txn_reader.cc
  src/v/kafka/utils/txn_reader.h
Labels: area/redpanda

#24093 datalake/translator: add begin offset prefix to the parquet files
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
Labels: area/redpanda

#24098 datalake/mux: fix segfault when no batches are processed
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/translation_task.cc
Labels: area/redpanda

#23994 Migrations bugfixes: topic recovery race, invalid stack use
  src/v/cluster/archival/archival_metadata_stm.cc
  src/v/cluster/archival/archival_metadata_stm.h
  src/v/cluster/archival/archival_policy.cc
  src/v/cluster/data_migration_backend.cc
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/cluster/partition_recovery_manager.cc
  src/v/raft/persisted_stm.h
  src/v/storage/snapshot.cc
  src/v/storage/snapshot.h
  tests/rptest/tests/data_migrations_api_test.py
  tests/rptest/tests/topic_recovery_test.py
Labels: area/redpanda

#24095 parquet: test all iceberg schema metadata serialization
  MODULE.bazel
  src/v/serde/parquet/metadata.cc
  src/v/serde/parquet/tests/BUILD
  src/v/serde/parquet/tests/generate_metadata.cc
  src/v/test_utils/go/go.mod
  src/v/test_utils/go/go.sum
  src/v/test_utils/go/parquet_metadata_verifier/BUILD
  src/v/test_utils/go/parquet_metadata_verifier/main.go
Labels: area/build, area/redpanda

#23935 [v23.3.x] Fix ghost node handling in raft heartbeats
  src/v/raft/consensus.cc
  src/v/raft/heartbeat_manager.cc
Labels: area/redpanda, kind/backport

#24068 rpk connect: show rpk help text with --help/-h
  src/go/rpk/pkg/cli/connect/connect.go
Labels: area/rpk

#24073 Fixes for migrations tests
  src/v/raft/consensus.cc
  tests/rptest/tests/data_migrations_api_test.py
Labels: area/redpanda

#23746 [v24.1.x] Keep producer inflight requests queue bounded
  src/v/cluster/producer_state.cc
  tests/rptest/tests/idempotency_test.py
  tests/rptest/utils/node_operations.py
Labels: area/redpanda, kind/backport

#23626 [v24.1.x] Remove shard aggregation on consumer group metrics
  src/v/kafka/group_probe.h
Labels: area/redpanda, kind/backport

#24047 Remove need to copy `iobuf`s across shards
  src/v/bytes/iobuf.cc
  src/v/bytes/iobuf.h
  src/v/bytes/tests/BUILD
  src/v/bytes/tests/CMakeLists.txt
  src/v/bytes/tests/iobuf_tests_mt.cc
  src/v/kafka/server/handlers/fetch.h
  src/v/model/record_batch_reader.cc
  src/v/model/transform.cc
  src/v/pandaproxy/schema_registry/store.h
  src/v/raft/replicate_batcher.cc
Labels: area/build, area/redpanda

#24083 [CORE-8102] c/topics: Sanctions for schema ID validation (alter config)
  src/v/cluster/topics_frontend.cc
  src/v/kafka/server/tests/alter_config_test.cc
Labels: area/redpanda

#24088 bazel: add rest of transform tests
  src/v/redpanda/BUILD
  src/v/redpanda/admin/BUILD
  src/v/transform/BUILD
  src/v/transform/tests/BUILD
  src/v/transform/tests/transform_manager_test.cc
  src/v/transform/transform_manager.h
  src/v/transform/transform_processor.h
Labels: area/build, area/redpanda, area/wasm

#23985 cluster: Implement sanctions on pin leadership features on invalid license
  src/v/cluster/controller.cc
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/cluster/scheduling/leader_balancer.h
  tests/rptest/tests/leadership_transfer_test.py
Labels: area/redpanda

#24074 cluster: Sanction redpanda.leaders.preference on invalid license - create topic
  src/v/cluster/topics_frontend.cc
  src/v/kafka/server/tests/create_topics_test.cc
Labels: area/redpanda

#24084 [CORE-8042] cluster: Sanction redpanda.leaders.preference on invalid license - alter config
  src/v/cluster/topics_frontend.cc
  src/v/kafka/server/tests/alter_config_test.cc
Labels: area/redpanda

#24105 [v24.1.x] `archival`: bump offset if seeking undershoots (manual backport)
  src/v/archival/archival_policy.cc
  src/v/archival/archival_policy.h
  src/v/archival/tests/CMakeLists.txt
  src/v/archival/tests/archival_policy_test.cc
  src/v/storage/offset_to_filepos.h
Labels: area/redpanda

#24075 Iceberg to parquet schema conversion
  src/v/datalake/BUILD
  src/v/datalake/CMakeLists.txt
  src/v/datalake/schema_parquet.cc
  src/v/datalake/schema_parquet.h
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/CMakeLists.txt
  src/v/datalake/tests/datalake_parquet_tests.cc
  src/v/serde/CMakeLists.txt
  src/v/serde/parquet/CMakeLists.txt
Labels: area/build, area/redpanda

#24106 [v24.2.x] `archival`: bump offset if seeking undershoots (manual backport)
  src/v/archival/archival_policy.cc
  src/v/archival/archival_policy.h
  src/v/archival/tests/CMakeLists.txt
  src/v/archival/tests/archival_policy_test.cc
  src/v/storage/offset_to_filepos.h
Labels: area/redpanda

#24104 [v24.2.x] rpk connect: show rpk help text with --help/-h
  src/go/rpk/pkg/cli/connect/connect.go
Labels: area/rpk, kind/backport

#24111 datalake/coordinator: deduplicate offset ranges already in Iceberg
  src/v/datalake/coordinator/BUILD
  src/v/datalake/coordinator/CMakeLists.txt
  src/v/datalake/coordinator/commit_offset_metadata.cc
  src/v/datalake/coordinator/commit_offset_metadata.h
  src/v/datalake/coordinator/coordinator.cc
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/datalake/coordinator/iceberg_file_committer.h
  src/v/datalake/coordinator/state.h
  src/v/datalake/coordinator/state_machine.cc
  src/v/datalake/coordinator/state_update.cc
  src/v/datalake/coordinator/state_update.h
  src/v/datalake/coordinator/tests/BUILD
  src/v/datalake/coordinator/tests/coordinator_test.cc
  src/v/datalake/coordinator/tests/iceberg_file_committer_test.cc
  src/v/datalake/coordinator/tests/state_test_utils.cc
  src/v/datalake/coordinator/tests/state_test_utils.h
  src/v/datalake/coordinator/tests/state_update_test.cc
  src/v/datalake/tests/fixture.h
  src/v/iceberg/merge_append_action.cc
  src/v/iceberg/merge_append_action.h
  src/v/iceberg/transaction.cc
  src/v/iceberg/transaction.h
Labels: area/build, area/redpanda

#24114 CORE-8221 features: do not show built in trial after expiry
  src/v/features/feature_table.cc
  tests/rptest/tests/rpk_cluster_test.py
Labels: area/redpanda

#24108 auditing: construct metrics probe during service construction
  src/v/security/audit/audit_log_manager.cc
  src/v/security/audit/audit_log_manager.h
Labels: area/redpanda

#24113 datalake/avro: fixed encoding decimal values
  src/v/iceberg/avro_decimal.h
  src/v/iceberg/tests/values_avro_test.cc
Labels: area/redpanda

#24123 Refactored error handling when expiring transactions
  src/v/cluster/rm_partition_frontend.cc
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
Labels: area/redpanda

#24107 [CORE-8102] Separate key and value schema ID validation sanctions
  src/v/cluster/topics_frontend.cc
  src/v/kafka/server/tests/alter_config_test.cc
Labels: area/redpanda

#24131 [v24.2.x] Refactored error handling when expiring transactions
  src/v/cluster/rm_partition_frontend.cc
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
Labels: area/redpanda, kind/backport

#24087 [CORE-8001] Implement sanctions for create partition
  src/v/cluster/topics_frontend.cc
  src/v/kafka/server/tests/CMakeLists.txt
  src/v/kafka/server/tests/alter_config_test.cc
  src/v/kafka/server/tests/create_partition_test.cc
  src/v/kafka/server/tests/topic_properties_helpers.h
Labels: area/redpanda

#24117 Added conversion from `iceberg::value` to `serde::parquet::value`
  src/v/datalake/BUILD
  src/v/datalake/CMakeLists.txt
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/datalake_parquet_tests.cc
  src/v/datalake/values_parquet.cc
  src/v/datalake/values_parquet.h
  src/v/iceberg/values.cc
  src/v/iceberg/values.h
Labels: area/build, area/redpanda

#24072 config: renamed iceberg rest catalog properties
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/convert.h
  src/v/config/types.h
  src/v/datalake/coordinator/catalog_factory.cc
  tests/rptest/tests/cluster_config_test.py
  tests/rptest/tests/datalake/rest_catalog_connection_test.py
Labels: area/redpanda

#24137 audit: clamp audit client max parallelism
  src/v/security/audit/audit_log_manager.cc
  tests/rptest/tests/audit_log_test.py
Labels: area/redpanda

#24133 c/tests: avoid ubsan signed integer overflow
  src/v/cluster/tests/rm_stm_test_fixture.h
Labels: area/redpanda

#24067 [CORE-8187] Propagate an error message into `topic_result`
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
  src/v/cluster/types.h
  src/v/kafka/server/handlers/configs/config_utils.h
  src/v/kafka/server/handlers/create_partitions.cc
  src/v/kafka/server/handlers/topics/types.h
  src/v/kafka/server/tests/alter_config_test.cc
  src/v/kafka/server/tests/create_partition_test.cc
  src/v/kafka/server/tests/create_topics_test.cc
Labels: area/redpanda

#24127 [v24.2.x] auditing: construct metrics probe during service construction
  src/v/security/audit/audit_log_manager.cc
  src/v/security/audit/audit_log_manager.h
Labels: area/redpanda, kind/backport

#24128 [v24.1.x] auditing: construct metrics probe during service construction
  src/v/security/audit/audit_log_manager.cc
  src/v/security/audit/audit_log_manager.h
Labels: area/redpanda, kind/backport

#24147 parquet: add zstd compression
  src/v/serde/parquet/BUILD
  src/v/serde/parquet/CMakeLists.txt
  src/v/serde/parquet/column_writer.cc
  src/v/serde/parquet/column_writer.h
  src/v/serde/parquet/tests/generate_file.cc
  src/v/serde/parquet/writer.cc
  src/v/serde/parquet/writer.h
Labels: area/build, area/redpanda

#24148 [v24.2.x] audit: clamp audit client max parallelism
  src/v/security/audit/audit_log_manager.cc
  tests/rptest/tests/audit_log_test.py
Labels: area/redpanda, kind/backport

#24151 kafka: add server bazel tests
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/list_offsets_test.cc
  src/v/kafka/server/tests/metadata_test.cc
  src/v/kafka/server/tests/produce_consume_test.cc
  src/v/kafka/server/tests/quota_manager_test.cc
  src/v/kafka/server/tests/topic_properties_helpers.h
Labels: area/build, area/redpanda

#24157 gh: Updated PR template for v24.3.x backports
  .github/pull_request_template.md
Labels: area/build

#24134 rpk: add Redpanda Cloud support to `rpk cluster storage` mount/unmount commands
  src/go/rpk/Makefile
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cluster/storage/BUILD
  src/go/rpk/pkg/cli/cluster/storage/cancel-mount.go
  src/go/rpk/pkg/cli/cluster/storage/list-mount.go
  src/go/rpk/pkg/cli/cluster/storage/list-mountable.go
  src/go/rpk/pkg/cli/cluster/storage/mount.go
  src/go/rpk/pkg/cli/cluster/storage/status-mount.go
  src/go/rpk/pkg/cli/cluster/storage/storage.go
  src/go/rpk/pkg/cli/cluster/storage/unmount.go
  src/go/rpk/pkg/cli/transform/BUILD
  src/go/rpk/pkg/cli/transform/delete.go
  src/go/rpk/pkg/cli/transform/deploy.go
  src/go/rpk/pkg/cli/transform/list.go
  src/go/rpk/pkg/publicapi/BUILD
  src/go/rpk/pkg/publicapi/dataplane.go
  src/go/rpk/pkg/publicapi/transform.go
Labels: area/rpk, area/build

#24156 license: Reduced evaluation period to 30 days
  src/v/features/feature_table.cc
  tests/rptest/tests/rpk_cluster_test.py
Labels: area/redpanda

#24129 Datalake `data_writer` interface refactoring
  src/v/datalake/BUILD
  src/v/datalake/CMakeLists.txt
  src/v/datalake/arrow_writer.cc
  src/v/datalake/arrow_writer.h
  src/v/datalake/batching_parquet_writer.cc
  src/v/datalake/batching_parquet_writer.h
  src/v/datalake/data_writer_interface.cc
  src/v/datalake/data_writer_interface.h
  src/v/datalake/local_parquet_file_writer.cc
  src/v/datalake/local_parquet_file_writer.h
  src/v/datalake/partitioning_writer.cc
  src/v/datalake/partitioning_writer.h
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/CMakeLists.txt
  src/v/datalake/tests/batching_parquet_writer_test.cc
  src/v/datalake/tests/gtest_record_multiplexer_test.cc
  src/v/datalake/tests/local_parquet_file_writer_test.cc
  src/v/datalake/tests/parquet_writer_test.cc
  src/v/datalake/tests/partitioning_writer_test.cc
  src/v/datalake/tests/test_data_writer.h
  src/v/datalake/tests/translation_task_test.cc
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation_task.cc
  src/v/datalake/translation_task.h
Labels: area/build, area/redpanda

#24160 Iceberg: `drop_table` implementation for REST catalog
  src/v/iceberg/catalog.h
  src/v/iceberg/filesystem_catalog.cc
  src/v/iceberg/filesystem_catalog.h
  src/v/iceberg/rest_catalog.cc
  src/v/iceberg/rest_catalog.h
  src/v/iceberg/rest_client/catalog_client.cc
  src/v/iceberg/rest_client/catalog_client.h
Labels: area/redpanda

#24166 [v24.3.x] Iceberg: `drop_table` implementation for REST catalog
  src/v/iceberg/catalog.h
  src/v/iceberg/filesystem_catalog.cc
  src/v/iceberg/filesystem_catalog.h
  src/v/iceberg/rest_catalog.cc
  src/v/iceberg/rest_catalog.h
  src/v/iceberg/rest_client/catalog_client.cc
  src/v/iceberg/rest_client/catalog_client.h
Labels: area/redpanda, kind/backport

#24110 fix "Unexpected EOF" log errors
  src/v/kafka/server/protocol_utils.cc
  src/v/kafka/server/protocol_utils.h
  src/v/net/connection.cc
  src/v/net/types.h
Labels: area/redpanda

#24173 [v24.1.x] fix "Unexpected EOF" log errors
  src/v/kafka/server/protocol_utils.cc
  src/v/kafka/server/protocol_utils.h
  src/v/net/connection.cc
  src/v/net/types.h
Labels: area/redpanda, kind/backport

#24172 [v24.2.x] fix "Unexpected EOF" log errors
  src/v/kafka/server/protocol_utils.cc
  src/v/kafka/server/protocol_utils.h
  src/v/net/connection.cc
  src/v/net/include/net/types.h
Labels: area/redpanda, kind/backport

#24171 [v24.3.x] fix "Unexpected EOF" log errors
  src/v/kafka/server/protocol_utils.cc
  src/v/kafka/server/protocol_utils.h
  src/v/net/connection.cc
  src/v/net/types.h
Labels: area/redpanda, kind/backport

#24164 [v24.3.x] Datalake `data_writer` interface refactoring
  src/v/datalake/BUILD
  src/v/datalake/CMakeLists.txt
  src/v/datalake/arrow_writer.cc
  src/v/datalake/arrow_writer.h
  src/v/datalake/batching_parquet_writer.cc
  src/v/datalake/batching_parquet_writer.h
  src/v/datalake/data_writer_interface.cc
  src/v/datalake/data_writer_interface.h
  src/v/datalake/local_parquet_file_writer.cc
  src/v/datalake/local_parquet_file_writer.h
  src/v/datalake/partitioning_writer.cc
  src/v/datalake/partitioning_writer.h
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/CMakeLists.txt
  src/v/datalake/tests/batching_parquet_writer_test.cc
  src/v/datalake/tests/gtest_record_multiplexer_test.cc
  src/v/datalake/tests/local_parquet_file_writer_test.cc
  src/v/datalake/tests/parquet_writer_test.cc
  src/v/datalake/tests/partitioning_writer_test.cc
  src/v/datalake/tests/test_data_writer.h
  src/v/datalake/tests/translation_task_test.cc
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation_task.cc
  src/v/datalake/translation_task.h
Labels: area/build, area/redpanda, kind/backport

#24163 bazel: add crypto unit test key_tests
  src/v/crypto/tests/BUILD
Labels: area/build, area/redpanda

#24153 Bazelize some enterprise tests
  src/v/kafka/client/test/BUILD
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/alter_config_test.cc
  src/v/kafka/server/tests/produce_consume_test.cc
  src/v/redpanda/tests/BUILD
  src/v/security/audit/tests/BUILD
  src/v/security/audit/tests/audit_log_test.cc
  src/v/test_utils/BUILD
Labels: area/build, area/redpanda

#24145 `storage`: add `tombstones_removed` metric to `probe`
  src/v/storage/probe.cc
  src/v/storage/probe.h
  src/v/storage/segment_deduplication_utils.cc
  src/v/storage/segment_utils.cc
Labels: area/redpanda

#24138 storage: track cache disk metrics separately
  src/v/cluster/node/local_monitor.cc
  src/v/storage/disk_log_impl.cc
  src/v/storage/node.cc
  src/v/storage/probe.cc
  src/v/storage/probe.h
  tests/rptest/tests/node_metrics_test.py
  tests/rptest/utils/node_metrics.py
Labels: area/redpanda

#24136 Added ability to use datalake with `serde::parquet`
  src/v/datalake/BUILD
  src/v/datalake/CMakeLists.txt
  src/v/datalake/schema_parquet.cc
  src/v/datalake/serde_parquet_writer.cc
  src/v/datalake/serde_parquet_writer.h
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/serde_parquet_writer_test.cc
  src/v/datalake/translation/partition_translator.cc
  src/v/serde/parquet/CMakeLists.txt
  tests/rptest/services/redpanda.py
  tests/rptest/tests/datalake/datalake_e2e_test.py
  tests/rptest/tests/datalake/rest_catalog_connection_test.py
Labels: area/build, area/redpanda

#24175 datalake: cleanup schema registry error handling
  src/v/datalake/BUILD
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_schema_resolver.cc
  src/v/datalake/schema_registry.cc
  src/v/datalake/schema_registry.h
  src/v/datalake/tests/record_generator.cc
  src/v/datalake/tests/record_schema_resolver_test.cc
  src/v/pandaproxy/schema_registry/schema_getter.h
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/schema/registry.cc
  src/v/schema/registry.h
  src/v/schema/tests/fake_registry.cc
  src/v/schema/tests/fake_registry.h
Labels: area/build, area/redpanda

#24181 [v24.3.x] tm_stm: fixed use after move in tm_stm
  src/v/cluster/tm_stm.cc
Labels: area/redpanda, kind/backport

#16823 kafka/server: Remove throughput throttling v1
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/BUILD
  src/v/kafka/server/snc_quota_manager.cc
  src/v/kafka/server/snc_quota_manager.h
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/CMakeLists.txt
  src/v/kafka/server/tests/produce_consume_test.cc
  src/v/kafka/server/tests/snc_quota_manager_test.cc
  src/v/utils/BUILD
  src/v/utils/CMakeLists.txt
  src/v/utils/bottomless_token_bucket.cc
  src/v/utils/bottomless_token_bucket.h
  src/v/utils/tests/BUILD
  src/v/utils/tests/CMakeLists.txt
  src/v/utils/tests/bottomless_token_bucket_test.cc
  src/v/utils/tests/moving_average_test.cc
  tests/rptest/tests/throughput_limits_snc_test.py
Labels: area/build, area/redpanda

#24185 [v24.3.x] Added ability to use datalake with `serde::parquet`
  src/v/datalake/BUILD
  src/v/datalake/CMakeLists.txt
  src/v/datalake/schema_parquet.cc
  src/v/datalake/serde_parquet_writer.cc
  src/v/datalake/serde_parquet_writer.h
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/serde_parquet_writer_test.cc
  src/v/datalake/translation/partition_translator.cc
  src/v/serde/parquet/CMakeLists.txt
  tests/rptest/services/redpanda.py
  tests/rptest/tests/datalake/datalake_e2e_test.py
  tests/rptest/tests/datalake/rest_catalog_connection_test.py
Labels: area/build, area/redpanda, kind/backport

#24189 cst/cache: fix use-after-move caused by calling get_exception twice
  src/v/cloud_storage/cache_service.cc
Labels: area/redpanda

#24190 iceberg: create namespace on demand
  src/v/iceberg/rest_catalog.cc
  src/v/iceberg/rest_client/catalog_client.cc
  src/v/iceberg/rest_client/catalog_client.h
  src/v/iceberg/rest_client/entities.cc
  src/v/iceberg/rest_client/entities.h
  src/v/iceberg/table_requests.h
  src/v/iceberg/table_requests_json.cc
  src/v/iceberg/table_requests_json.h
  tests/rptest/tests/datalake/rest_catalog_connection_test.py
Labels: area/redpanda

#24191 [CORE-7851] Adjust cipher strings to include ECDSA ciphers
  src/v/config/tls_config.h
  tests/rptest/services/tls.py
  tests/rptest/tests/tls_version_test.py
Labels: area/redpanda

#24196 [v24.2.x] Guard from concurrent elections
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/vote_stm.cc
  src/v/raft/vote_stm.h
Labels: area/redpanda, kind/backport

#24199 [v24.1.x] cst/cache: fix use-after-move caused by calling get_exception twice
  src/v/cloud_storage/cache_service.cc
Labels: area/redpanda, kind/backport

#24203 [v24.1.x] dt/config_test: Add OIDC_ALLOW_LIST
  tests/rptest/services/redpanda.py
  tests/rptest/tests/cluster_config_test.py
Labels: kind/backport

#24205 [v24.3.x] iceberg: create namespace on demand
  src/v/iceberg/rest_catalog.cc
  src/v/iceberg/rest_client/catalog_client.cc
  src/v/iceberg/rest_client/catalog_client.h
  src/v/iceberg/rest_client/entities.cc
  src/v/iceberg/rest_client/entities.h
  src/v/iceberg/table_requests.h
  src/v/iceberg/table_requests_json.cc
  src/v/iceberg/table_requests_json.h
  tests/rptest/tests/datalake/rest_catalog_connection_test.py
Labels: area/redpanda, kind/backport

#24202 [v24.3.x] dt/config_test: Add OIDC_ALLOW_LIST
  tests/rptest/services/redpanda.py
  tests/rptest/tests/cluster_config_test.py
Labels: kind/backport

#24204 [v24.2.x] dt/config_test: Add OIDC_ALLOW_LIST
  tests/rptest/services/redpanda.py
  tests/rptest/tests/cluster_config_test.py
Labels: kind/backport

#24208 [v24.3.x] [CORE-7851] Adjust cipher strings to include ECDSA ciphers
  src/v/config/tls_config.h
  tests/rptest/services/tls.py
  tests/rptest/tests/tls_version_test.py
Labels: area/redpanda, kind/backport

#24210 [CORE-8010] cluster: Fix race condition in the `archival_metadata_stm`
  src/v/cluster/archival/archival_metadata_stm.cc
  src/v/cluster/archival/tests/archival_metadata_stm_test.cc
Labels: area/redpanda

#24201 [v24.3.x] rpk: add Redpanda Cloud support to `rpk cluster storage` mount/unmount commands
  src/go/rpk/Makefile
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cluster/storage/BUILD
  src/go/rpk/pkg/cli/cluster/storage/cancel-mount.go
  src/go/rpk/pkg/cli/cluster/storage/list-mount.go
  src/go/rpk/pkg/cli/cluster/storage/list-mountable.go
  src/go/rpk/pkg/cli/cluster/storage/mount.go
  src/go/rpk/pkg/cli/cluster/storage/status-mount.go
  src/go/rpk/pkg/cli/cluster/storage/storage.go
  src/go/rpk/pkg/cli/cluster/storage/unmount.go
  src/go/rpk/pkg/cli/transform/BUILD
  src/go/rpk/pkg/cli/transform/delete.go
  src/go/rpk/pkg/cli/transform/deploy.go
  src/go/rpk/pkg/cli/transform/list.go
  src/go/rpk/pkg/publicapi/BUILD
  src/go/rpk/pkg/publicapi/dataplane.go
  src/go/rpk/pkg/publicapi/transform.go
Labels: area/rpk, area/build, kind/backport

#24115 datalake: update system fields
  src/v/datalake/coordinator/tests/iceberg_file_committer_test.cc
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
  src/v/datalake/record_translator.cc
  src/v/datalake/record_translator.h
  src/v/datalake/schema_parquet.cc
  src/v/datalake/table_definition.cc
  src/v/datalake/table_definition.h
  src/v/datalake/tests/gtest_record_multiplexer_test.cc
  src/v/datalake/tests/record_multiplexer_test.cc
  src/v/model/record.h
  src/v/serde/parquet/schema.h
  tests/rptest/tests/datalake/datalake_e2e_test.py
  tests/rptest/tests/datalake/rest_catalog_connection_test.py
Labels: area/redpanda

#24161 cloud_storage: add bazel tests
  src/v/cloud_storage/inventory/tests/BUILD
  src/v/cloud_storage/inventory/tests/inv_svc_tests.cc
  src/v/cloud_storage/tests/BUILD
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cloud_storage/tests/delete_records_e2e_test.cc
  src/v/cloud_storage/tests/produce_utils.h
  src/v/cloud_storage/tests/read_replica_e2e_fixture.h
  src/v/cloud_storage/tests/read_replica_test.cc
  src/v/cloud_storage/tests/remote_partition_test.cc
  src/v/cloud_storage/tests/remote_test.cc
  src/v/cloud_storage/tests/topic_manifest_downloader_test.cc
  src/v/cloud_storage/tests/topic_namespace_override_recovery_test.cc
  src/v/cloud_storage/tests/util.cc
  src/v/cluster/cloud_metadata/tests/BUILD
  src/v/cluster/tests/BUILD
  src/v/kafka/server/tests/BUILD
  src/v/test_utils/BUILD
Labels: area/build, area/redpanda

#24220 datalake: split record translator into distinct modes
  src/v/datalake/fwd.h
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
  src/v/datalake/record_translator.cc
  src/v/datalake/record_translator.h
  src/v/datalake/table_definition.cc
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/gtest_record_multiplexer_test.cc
  src/v/datalake/tests/record_multiplexer_test.cc
  src/v/datalake/tests/translation_task_test.cc
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
  src/v/datalake/translation_task.cc
  src/v/datalake/translation_task.h
  tests/rptest/tests/datalake/datalake_e2e_test.py
Labels: area/build, area/redpanda

#24216 [v24.2.x] [CORE-8010] cluster: Fix race condition in the `archival_metadata_stm`
  src/v/archival/archival_metadata_stm.cc
  src/v/archival/tests/archival_metadata_stm_test.cc
Labels: area/redpanda, kind/backport

#24217 [v24.3.x] [CORE-8010] cluster: Fix race condition in the `archival_metadata_stm`
  src/v/cluster/archival/archival_metadata_stm.cc
  src/v/cluster/archival/tests/archival_metadata_stm_test.cc
Labels: area/redpanda, kind/backport

#24224 [v24.3.x] datalake: split record translator into distinct modes
  src/v/datalake/fwd.h
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
  src/v/datalake/record_translator.cc
  src/v/datalake/record_translator.h
  src/v/datalake/table_definition.cc
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/gtest_record_multiplexer_test.cc
  src/v/datalake/tests/record_multiplexer_test.cc
  src/v/datalake/tests/translation_task_test.cc
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
  src/v/datalake/translation_task.cc
  src/v/datalake/translation_task.h
  tests/rptest/tests/datalake/datalake_e2e_test.py
Labels: area/build, area/redpanda, kind/backport

#24177 Bazelize ssx tests
  src/v/ssx/tests/BUILD
  src/v/ssx/tests/async_algorithm_test.cc
  src/v/ssx/tests/sformat_bench.cc
Labels: area/build, area/redpanda

#24135 [CORE-7750] Creating topic with huge number of partitions leads to segfault
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/cluster/scheduling/partition_allocator.h
  src/v/cluster/scheduling/types.cc
  src/v/cluster/scheduling/types.h
  src/v/cluster/tests/partition_allocator_fixture.h
  src/v/cluster/tests/partition_allocator_tests.cc
  src/v/cluster/topics_frontend.cc
Labels: area/redpanda

#24221 [v24.3.x] datalake/coordinator: snapshots
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/datalake/coordinator/BUILD
  src/v/datalake/coordinator/state.cc
  src/v/datalake/coordinator/state.h
  src/v/datalake/coordinator/state_machine.cc
  src/v/datalake/coordinator/state_machine.h
  src/v/datalake/coordinator/tests/BUILD
  src/v/datalake/coordinator/tests/CMakeLists.txt
  src/v/datalake/coordinator/tests/coordinator_test.cc
  src/v/datalake/coordinator/tests/state_machine_test.cc
  src/v/datalake/coordinator/tests/state_test_utils.h
  src/v/datalake/coordinator/types.h
  src/v/raft/persisted_stm.h
  tests/rptest/tests/datalake/coordinator_retention_test.py
Labels: area/build, area/redpanda, kind/backport

#24184 rpc: Change max internal rpc connection count limit
  src/v/config/configuration.cc
Labels: area/redpanda
