Repository redpanda-data/redpanda, pull requests merged in 2024-07, with the labels that each got.

#20801 [backport] [v24.1.x] lw heartbeats during inflight appends
  src/v/cluster/cluster_utils.cc
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/heartbeat_manager.cc
  src/v/raft/heartbeat_manager.h
  src/v/raft/recovery_stm.cc
  src/v/raft/replicate_entries_stm.cc
  src/v/raft/replicate_entries_stm.h
  src/v/raft/tests/basic_raft_fixture_test.cc
  src/v/raft/tests/replication_monitor_tests.cc
  src/v/raft/types.cc
  src/v/raft/types.h
Labels: area/redpanda

#20810 chore: fix -Wsign-compare warnings
  src/v/compression/tests/zstd_tests.cc
  src/v/container/tests/fragmented_vector_async_test.cc
  src/v/container/tests/fragmented_vector_test.cc
  src/v/container/tests/interval_set_test.cc
  src/v/container/tests/map_bench.cc
  src/v/random/tests/random_test.cc
  src/v/utils/tests/uuid_test.cc
  src/v/utils/tests/vint_bench.cc
Labels: area/redpanda

#20747 [v23.3.x] Do not set transaction timeout in tests that do not need it
  tests/rptest/tests/transactions_test.py
  tests/rptest/tests/tx_coordinator_migration_test.py
Labels: kind/backport

#20802 Quotas: address post merge code review comments
  src/v/cluster/client_quota_serde.h
  src/v/cluster/tests/client_quota_store_test.cc
  src/v/kafka/server/quota_manager.h
Labels: area/redpanda

#20812 Using `contiguous_range_map` to store partitions assignments
  src/v/cluster/controller_api.cc
  src/v/cluster/controller_backend.cc
  src/v/cluster/metadata_cache.cc
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/cluster/shard_balancer.cc
  src/v/cluster/shard_placement_table.cc
  src/v/cluster/tests/cluster_test_fixture.h
  src/v/cluster/tests/metadata_dissemination_test.cc
  src/v/cluster/tests/partition_balancer_simulator_test.cc
  src/v/cluster/tests/rebalancing_tests_fixture.h
  src/v/cluster/tests/replicas_rebalancing_tests.cc
  src/v/cluster/tests/topic_table_test.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table_partition_generator.cc
  src/v/cluster/topic_updates_dispatcher.cc
  src/v/cluster/topics_frontend.cc
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/container/include/container/contiguous_range_map.h
  src/v/kafka/server/handlers/metadata.cc
  src/v/kafka/server/handlers/topics/topic_utils.cc
  src/v/redpanda/admin/partition.cc
  src/v/redpanda/admin/server.cc
  src/v/redpanda/tests/fixture.h
Labels: area/redpanda

#20757 rpk: allow names to be URIs in the reference flag when creating a schema.
  src/go/rpk/pkg/cli/registry/schema/schema.go
  src/go/rpk/pkg/cli/registry/schema/schema_test.go
Labels: area/rpk

#20804 CORE-2074 Quotas: redirect alter quotas command to leader
  src/v/cluster/client_quota_frontend.cc
  src/v/cluster/client_quota_frontend.h
  src/v/cluster/client_quota_serde.h
  src/v/cluster/controller.cc
  src/v/cluster/controller.json
  src/v/cluster/service.cc
  src/v/cluster/service.h
  src/v/kafka/server/handlers/client_quotas.cc
  src/v/redpanda/application.cc
  tests/rptest/clients/rpk.py
  tests/rptest/tests/quota_management_test.py
Labels: area/redpanda

#19930 Improve handling of progress conditions in non-polling fetch
  src/v/kafka/server/handlers/fetch.cc
Labels: area/redpanda

#19975 [CORE-2841] Transforms: Start consuming from an arbitrary offset (numeric from start/end or timestamp)
  src/go/rpk/pkg/adminapi/api_transform.go
  src/go/rpk/pkg/cli/transform/deploy.go
  src/go/rpk/pkg/cli/transform/project/project.go
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/model/fundamental.h
  src/v/model/transform.cc
  src/v/model/transform.h
  src/v/redpanda/admin/api-doc/transform.json
  src/v/redpanda/admin/transform.cc
  src/v/transform/api.cc
  src/v/transform/io.h
  src/v/transform/tests/test_fixture.cc
  src/v/transform/tests/test_fixture.h
  src/v/transform/transform_processor.cc
  tests/rptest/clients/rpk.py
  tests/rptest/tests/data_transforms_test.py
Labels: area/rpk, area/redpanda, area/wasm, doc-needed

#20821 security: fix security-config circular dependency
  src/v/config/configuration.cc
  src/v/config/property.h
  src/v/config/tls_config.cc
  src/v/security/CMakeLists.txt
  src/v/security/acl.cc
  src/v/security/config.h
  src/v/security/config_bsl.cc
  src/v/security/config_rcl.cc
  src/v/security/gssapi_principal_mapper.cc
  src/v/security/gssapi_principal_mapper.h
  src/v/security/gssapi_rule.cc
  src/v/security/gssapi_rule.h
  src/v/security/logger.cc
  src/v/security/mtls.cc
  src/v/security/mtls.h
  src/v/security/mtls_rule.cc
  src/v/security/mtls_rule.h
  src/v/security/oidc_authenticator.cc
  src/v/security/oidc_principal_mapping.h
  src/v/security/oidc_principal_mapping_applicator.cc
  src/v/security/oidc_principal_mapping_applicator.h
  src/v/security/tests/oidc_principal_mapping_test.cc
Labels: area/redpanda

#20818 replication_monitor/test: add diagnostic on assertion failure
  src/v/raft/tests/replication_monitor_tests.cc
Labels: area/redpanda

#20820 rpk: add support to produce/consume with jsonschema
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/serde/avro.go
  src/go/rpk/pkg/serde/avro_test.go
  src/go/rpk/pkg/serde/jsonschema.go
  src/go/rpk/pkg/serde/jsonschema_test.go
  src/go/rpk/pkg/serde/serde.go
Labels: area/rpk

#20582 [v23.3.x] tests: fixed querying new leader node in leadership transfer test
  tests/rptest/tests/raft_availability_test.py
Labels: kind/backport

#20816 tests: added retries to raft force reconfiguration test
  src/v/raft/tests/raft_fixture.cc
  src/v/raft/tests/raft_fixture.h
  src/v/raft/tests/raft_reconfiguration_test.cc
Labels: area/redpanda

#18576 stm_manager: tighten interaction between bg application and snapshots
  src/v/raft/state_machine_manager.cc
  src/v/raft/state_machine_manager.h
  src/v/raft/tests/stm_manager_test.cc
Labels: area/redpanda

#20830 group/tx/tests: deflake group_tx_compaction_test
  src/v/kafka/server/tests/group_tx_compaction_test.cc
Labels: area/redpanda

#20583 Coroutine bench updates
  src/v/utils/tests/CMakeLists.txt
  src/v/utils/tests/coro_bench.cc
  src/v/utils/tests/vint_bench.cc
Labels: area/redpanda

#20838 Use `async_for_each` when collecting heartbeat requests
  src/v/raft/follower_stats.h
  src/v/raft/heartbeat_manager.cc
  src/v/raft/heartbeat_manager.h
Labels: area/redpanda

#21254 [v24.1.x] stm_manager: tighten interaction between bg application and snapshots
  src/v/raft/state_machine_manager.cc
  src/v/raft/state_machine_manager.h
  src/v/raft/tests/stm_manager_test.cc
Labels: area/redpanda, kind/backport

#21255 [v23.3.x] stm_manager: tighten interaction between bg application and snapshots
  src/v/raft/state_machine_manager.cc
  src/v/raft/state_machine_manager.h
  src/v/raft/tests/stm_manager_test.cc
Labels: area/redpanda, kind/backport

#20828 model/x: Fix typo in legacy offset_options envelope template
  src/v/model/tests/transform_test.cc
  src/v/model/transform.cc
Labels: area/redpanda

#20847 CORE-5083 schema_registry: last subject deletes schema
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/store.h
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda

#21257 [CORE-3182] Schema registry/json: Reject a schema if a reference doesn't exist
  src/v/pandaproxy/schema_registry/error.cc
  src/v/pandaproxy/schema_registry/errors.h
  src/v/pandaproxy/schema_registry/json.cc
  src/v/pandaproxy/schema_registry/test/test_json_schema.cc
  src/v/pandaproxy/schema_registry/types.cc
  src/v/pandaproxy/schema_registry/types.h
Labels: area/redpanda, area/schema-registry

#20817 [CORE-4181] schema registry json support validating drafts 5 6 and 7
  src/v/pandaproxy/schema_registry/json.cc
  src/v/pandaproxy/schema_registry/test/test_json_schema.cc
Labels: area/redpanda

#20846 rpk cloud byoc: register azure as valid option
  src/go/rpk/pkg/cli/cloud/byoc/byoc.go
Labels: area/rpk

#20829 cluster: remove unused code
  src/v/cluster/types.h
Labels: area/redpanda

#21277 io: fix -Wsign-compare errors
  src/v/io/tests/interval_map_test.cc
Labels: area/redpanda

#21287 chore: fix headers
  src/v/base/include/base/outcome_future_utils.h
  src/v/cluster/data_migration_types.h
  src/v/cluster/ephemeral_credential_serde.h
  src/v/cluster/node_status_rpc_types.h
  src/v/cluster/self_test_rpc_types.h
  src/v/raft/heartbeat_manager.cc
  src/v/raft/recovery_stm.cc
  src/v/raft/replicate_entries_stm.cc
  src/v/raft/rpc_client_protocol.cc
  src/v/raft/transfer_leadership.h
  src/v/rpc/include/rpc/connection_cache.h
  src/v/rpc/include/rpc/connection_set.h
  src/v/rpc/include/rpc/parse_utils.h
  src/v/rpc/reconnect_transport.cc
  src/v/serde/peek.h
  src/v/serde/serde.h
  src/v/utils/tests/outcome_utils_test.cc
Labels: area/redpanda

#21288 net: fix unused parameter warnings
  src/v/net/tests/conn_quota_test.cc
Labels: area/redpanda

#21259 [v24.1.x] CORE-5083 schema_registry: last subject deletes schema
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/store.h
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, kind/backport

#21258 [v23.3.x] CORE-5083 schema_registry: last subject deletes schema
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/store.h
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, kind/backport

#21256 pandaproxy: fix spelling of `operation`
  src/v/pandaproxy/error.cc
  src/v/pandaproxy/error.h
  src/v/pandaproxy/schema_registry/error.cc
  src/v/pandaproxy/schema_registry/error.h
  src/v/pandaproxy/schema_registry/errors.h
  src/v/pandaproxy/schema_registry/store.h
Labels: area/redpanda

#20827 [CORE-4443] Pandaproxy: Avoid large allocations whilst serializing JSON
  src/v/compat/json.h
  src/v/container/include/container/json.h
  src/v/json/chunked_buffer.h
  src/v/json/chunked_input_stream.h
  src/v/json/json.cc
  src/v/json/json.h
  src/v/json/tests/json_serialization_test.cc
  src/v/pandaproxy/json/iobuf.h
  src/v/pandaproxy/json/requests/brokers.h
  src/v/pandaproxy/json/requests/create_consumer.h
  src/v/pandaproxy/json/requests/error_reply.h
  src/v/pandaproxy/json/requests/fetch.h
  src/v/pandaproxy/json/requests/offset_fetch.h
  src/v/pandaproxy/json/requests/produce.h
  src/v/pandaproxy/json/requests/test/fetch.cc
  src/v/pandaproxy/json/requests/test/produce.cc
  src/v/pandaproxy/json/rjson_util.h
  src/v/pandaproxy/json/test/parse.cc
  src/v/pandaproxy/json/types.h
  src/v/pandaproxy/reply.h
  src/v/pandaproxy/rest/handlers.cc
  src/v/pandaproxy/rest/test/consumer_group.cc
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/requests/compatibility.h
  src/v/pandaproxy/schema_registry/requests/config.h
  src/v/pandaproxy/schema_registry/requests/get_schemas_ids_id.h
  src/v/pandaproxy/schema_registry/requests/get_schemas_ids_id_versions.h
  src/v/pandaproxy/schema_registry/requests/get_subject_versions_version.h
  src/v/pandaproxy/schema_registry/requests/mode.h
  src/v/pandaproxy/schema_registry/requests/post_subject_versions.h
  src/v/pandaproxy/schema_registry/requests/test/get_subject_versions_version.cc
  src/v/pandaproxy/schema_registry/requests/test/post_subject_versions.cc
  src/v/pandaproxy/schema_registry/storage.h
  src/v/pandaproxy/schema_registry/test/post_subjects_subject_version.cc
  src/v/pandaproxy/schema_registry/test/storage.cc
  src/v/pandaproxy/server.cc
Labels: area/redpanda, area/pandaproxy, area/schema-registry

#19887 cst/inv: Add tooling for parsing, writing and reading inventory reports
  src/v/cloud_storage/CMakeLists.txt
  src/v/cloud_storage/inventory/inv_consumer.cc
  src/v/cloud_storage/inventory/inv_consumer.h
  src/v/cloud_storage/inventory/ntp_hashes.cc
  src/v/cloud_storage/inventory/ntp_hashes.h
  src/v/cloud_storage/inventory/report_parser.cc
  src/v/cloud_storage/inventory/report_parser.h
  src/v/cloud_storage/inventory/tests/CMakeLists.txt
  src/v/cloud_storage/inventory/tests/common.cc
  src/v/cloud_storage/inventory/tests/common.h
  src/v/cloud_storage/inventory/tests/inv_consumer_tests.cc
  src/v/cloud_storage/inventory/tests/report_parser_tests.cc
  src/v/compression/CMakeLists.txt
  src/v/compression/gzip_stream_decompression.cc
  src/v/compression/include/compression/gzip_stream_decompression.h
  src/v/compression/tests/CMakeLists.txt
  src/v/compression/tests/gzip_stream_decompression_tests.cc
Labels: area/redpanda

#21310 stm_manager: do not explicitly clear units
  src/v/raft/state_machine_manager.cc
Labels: area/redpanda

#21303 cloud_storage: miscellaneous non-functional changes
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_path_provider.cc
  src/v/cloud_storage/remote_path_provider.h
  src/v/cloud_storage/topic_manifest_downloader.cc
  src/v/cloud_storage/topic_manifest_downloader.h
  src/v/cluster/partition_manager.cc
  src/v/cluster/topics_frontend.cc
  tools/offline_log_viewer/controller.py
Labels: area/redpanda

#20843 [v24.1.x] tests: added retries to raft force reconfiguration test
  src/v/raft/tests/raft_fixture.cc
  src/v/raft/tests/raft_fixture.h
  src/v/raft/tests/raft_reconfiguration_test.cc
Labels: area/redpanda, kind/backport

#21312 kafka: fix timequery when local log is empty
  src/v/cluster/partition.cc
  tests/rptest/tests/timequery_test.py
Labels: area/redpanda

#20826 [v23.3.x] cpu_profiler: prealloc result buffers
  src/v/redpanda/admin/debug.cc
  src/v/resource_mgmt/cpu_profiler.cc
Labels: area/redpanda

#21320 [v24.1.x] kafka: fix timequery when local log is empty
  src/v/cluster/partition.cc
  tests/rptest/tests/timequery_test.py
Labels: area/redpanda, kind/backport

#20139 [v24.1.x] Transforms: Fix deploy-time timequery bug
  src/v/transform/api.cc
  src/v/transform/io.h
  src/v/transform/tests/test_fixture.cc
  src/v/transform/tests/test_fixture.h
  src/v/transform/transform_processor.cc
  tests/rptest/tests/data_transforms_test.py
Labels: area/redpanda, area/wasm, kind/backport

#21340 tx/rm_stm: fix handling of replay commit requests
  src/v/cluster/rm_stm.cc
Labels: area/redpanda

#21352 bazel: disable github workflow for pull requests
  .github/workflows/build-bazel.yml
Labels: area/build

#21286 tx/tests: deflake test_mark_transaction_expire
  src/v/cluster/rm_stm.cc
  src/v/redpanda/admin/partition.cc
  src/v/redpanda/admin/server.cc
  tests/rptest/transactions/tx_admin_api_test.py
Labels: area/redpanda

#21326 crypto/bench: Only load context once per run
  src/v/crypto/tests/crypto_bench.cc
Labels: area/redpanda

#21309 archival: Update ntp_archiver (pt.1)
  src/v/archival/archiver_operations_api.cc
  src/v/archival/archiver_operations_api.h
  src/v/archival/archiver_operations_impl.cc
  src/v/archival/archiver_operations_impl.h
  src/v/archival/tests/CMakeLists.txt
  src/v/archival/tests/archiver_operations_impl_gtest.cc
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/tx_range_manifest.cc
  src/v/cloud_storage/tx_range_manifest.h
  src/v/cluster/CMakeLists.txt
Labels: area/redpanda

#19889 Transaction manager refactoring
  src/v/cluster/CMakeLists.txt
  src/v/cluster/fwd.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/tests/tm_stm_tests.cc
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/cluster/tm_stm_cache.cc
  src/v/cluster/tm_stm_cache.h
  src/v/cluster/tm_stm_cache_manager.h
  src/v/cluster/tm_stm_types.cc
  src/v/cluster/tm_stm_types.h
  src/v/cluster/topic_configuration.cc
  src/v/cluster/tx_errc.cc
  src/v/cluster/tx_errc.h
  src/v/cluster/tx_gateway.cc
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/tx_gateway_frontend.h
  src/v/cluster/tx_protocol_types.cc
  src/v/cluster/tx_protocol_types.h
  src/v/kafka/server/errors.h
  src/v/kafka/server/group.cc
  src/v/kafka/server/server.cc
  src/v/model/record.h
  src/v/redpanda/admin/transaction.cc
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  tests/rptest/transactions/transactions_test.py
  tests/rptest/transactions/tx_admin_api_test.py
Labels: area/redpanda

#21353 cluster: fix cloud storage `self-test` start/end time output
  src/v/cluster/self_test/cloudcheck.cc
  src/v/cluster/self_test/cloudcheck.h
  src/v/cluster/self_test/metrics.h
Labels: area/redpanda

#18284 CORE-526 k/configs: dont override topic-level cleanup policy
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_recovery_manager.cc
  src/v/cluster/topics_frontend.cc
  src/v/config/convert.h
  src/v/kafka/server/handlers/alter_configs.cc
  src/v/kafka/server/handlers/configs/config_response_utils.cc
  src/v/kafka/server/handlers/delete_records.cc
  src/v/kafka/server/tests/consumer_groups_test.cc
  src/v/model/fundamental.h
  src/v/model/model.cc
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/log.h
  src/v/storage/ntp_config.h
  src/v/storage/tests/storage_e2e_test.cc
  src/v/storage/tests/utils/disk_log_builder.h
  tests/rptest/clients/types.py
  tests/rptest/tests/archival_test.py
  tests/rptest/tests/controller_snapshot_test.py
  tests/rptest/tests/describe_topics_test.py
  tests/rptest/tests/topic_creation_test.py
Labels: area/redpanda

#21368 Delete .github/workflows/build-bazel.yml
  .github/workflows/build-bazel.yml
Labels: area/build

#21311 rpk: add `rpk cluster quotas import`
  src/go/rpk/pkg/cli/cluster/quotas/describe.go
  src/go/rpk/pkg/cli/cluster/quotas/import.go
  src/go/rpk/pkg/cli/cluster/quotas/quotas.go
  src/go/rpk/pkg/out/in.go
  tests/rptest/clients/rpk.py
  tests/rptest/tests/quota_management_test.py
  tests/rptest/tests/rpk_cluster_quota_test.py
Labels: area/rpk

#21371 bazel: add additional utils libraries
  src/v/utils/BUILD
  src/v/utils/tests/BUILD
  src/v/utils/tests/directory_walker_test.cc
  tools/docker/bazel.dockerfile
Labels: area/redpanda

#21381 bazel: add build for various v::utils libraries
  MODULE.bazel
  MODULE.bazel.lock
  src/v/utils/BUILD
  src/v/utils/moving_average.h
  src/v/utils/tests/BUILD
  src/v/utils/tests/coro_bench.cc
Labels: area/redpanda

#19161 Optimize `replicated_partition::validate_fetch_offset`
  src/v/cluster/log_eviction_stm.cc
  src/v/cluster/log_eviction_stm.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/kafka/server/replicated_partition.cc
  src/v/raft/persisted_stm.cc
Labels: area/redpanda

#20313 Transforms JS SDK: plumb `environ` down into `process.env`
  src/transform-sdk/js/README.md
  src/transform-sdk/js/js_vm.cc
Labels: area/wasm

#21366 storage: plumb abort source to compaction copy reducer
  src/v/storage/compaction_reducers.cc
  src/v/storage/compaction_reducers.h
  src/v/storage/segment_deduplication_utils.cc
  src/v/storage/segment_utils.cc
Labels: area/redpanda

#21414 test: misc cleanups
  src/v/utils/tests/delta_for_test.cc
  src/v/utils/tests/input_stream_fanout_test.cc
  src/v/utils/tests/token_bucket_test.cc
  src/v/utils/timed_mutex.h
Labels: area/redpanda

#21319 iceberg: generate Avro C++ code for metadata
  cmake/FindAvro.cmake
  cmake/v_library.cmake
  src/v/CMakeLists.txt
  src/v/iceberg/CMakeLists.txt
  src/v/iceberg/avroschemas/manifest_entry.schema.json
  src/v/iceberg/avroschemas/manifest_file.schema.json
  src/v/iceberg/tests/CMakeLists.txt
  src/v/iceberg/tests/manifest_serialization_test.cc
Labels: area/build, area/redpanda

#21423 tests: delta_for_test improvements
  src/v/utils/delta_for.h
  src/v/utils/tests/delta_for_bench.cc
  src/v/utils/tests/delta_for_test.cc
Labels: area/redpanda

#21413 Leadership transfer delay test fix
  src/v/raft/tests/basic_raft_fixture_test.cc
  src/v/utils/to_string.h
Labels: area/redpanda

#21430 bazel: complete v::utils coverage, adds v::http, v::cloud_roles
  bazel/thirdparty/seastar.BUILD
  src/v/base/tests/BUILD
  src/v/base/tests/CMakeLists.txt
  src/v/base/tests/outcome_utils_test.cc
  src/v/cloud_roles/BUILD
  src/v/http/BUILD
  src/v/http/iobuf_body.cc
  src/v/http/tests/BUILD
  src/v/http/tests/http_imposter.h
  src/v/http/tests/registered_urls.h
  src/v/utils/BUILD
  src/v/utils/tests/BUILD
  src/v/utils/tests/CMakeLists.txt
  tools/lint-includes
Labels: area/redpanda

#21435 Maintenance mode test fixes
  src/v/cluster/scheduling/leader_balancer.cc
  tests/rptest/tests/maintenance_test.py
Labels: area/redpanda

#21410 k/group: do not log ignoring raft configuration batches
  src/v/kafka/server/group_data_parser.h
Labels: area/redpanda

#21365 [v24.1.x] tests: increase tolerance in local retention movement test
  tests/rptest/tests/scaling_up_test.py
Labels: kind/backport

#21323 [CORE-4440] Pandaproxy: Avoid large allocations
  src/v/bytes/include/bytes/streambuf.h
  src/v/json/BUILD
  src/v/json/chunked_buffer.h
  src/v/json/iobuf_writer.h
  src/v/json/json.cc
  src/v/json/json.h
  src/v/json/tests/BUILD
  src/v/json/tests/json_serialization_test.cc
  src/v/pandaproxy/json/iobuf.h
  src/v/pandaproxy/json/requests/fetch.h
  src/v/pandaproxy/json/requests/test/fetch.cc
  src/v/pandaproxy/json/rjson_util.h
  src/v/pandaproxy/json/test/iobuf.cc
  src/v/pandaproxy/rest/handlers.cc
  src/v/pandaproxy/schema_registry/avro.cc
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/json.cc
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/requests/get_schemas_ids_id.h
  src/v/pandaproxy/schema_registry/requests/get_subject_versions_version.h
  src/v/pandaproxy/schema_registry/requests/post_subject_versions.h
  src/v/pandaproxy/schema_registry/requests/test/get_subject_versions_version.cc
  src/v/pandaproxy/schema_registry/requests/test/post_subject_versions.cc
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/storage.h
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/compatibility_avro.cc
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
  src/v/pandaproxy/schema_registry/test/compatibility_store.cc
  src/v/pandaproxy/schema_registry/test/consume_to_store.cc
  src/v/pandaproxy/schema_registry/test/post_subjects_subject_version.cc
  src/v/pandaproxy/schema_registry/test/sanitize_avro.cc
  src/v/pandaproxy/schema_registry/test/sharded_store.cc
  src/v/pandaproxy/schema_registry/test/store.cc
  src/v/pandaproxy/schema_registry/test/test_json_schema.cc
  src/v/pandaproxy/schema_registry/test/util.cc
  src/v/pandaproxy/schema_registry/types.cc
  src/v/pandaproxy/schema_registry/types.h
  src/v/pandaproxy/schema_registry/util.h
  src/v/pandaproxy/schema_registry/validation.cc
  src/v/utils/base64.cc
  src/v/utils/base64.h
  src/v/utils/tests/BUILD
  src/v/utils/tests/base64_test.cc
  src/v/wasm/schema_registry.cc
  src/v/wasm/schema_registry_module.cc
  src/v/wasm/tests/wasm_fixture.cc
  src/v/wasm/tests/wasm_fixture.h
  src/v/wasm/tests/wasm_transform_test.cc
Labels: area/redpanda, area/wasm, area/schema-registry

#21379 rptest: actual e2e throttling test
  src/v/cloud_storage/materialized_resources.cc
  tests/rptest/tests/e2e_shadow_indexing_test.py
Labels: area/redpanda

#21461 [v24.1.x] Maintenance mode test fixes
  src/v/cluster/scheduling/leader_balancer.cc
  tests/rptest/tests/maintenance_test.py
Labels: area/redpanda, kind/backport

#21468 [v24.1.x] [CORE-5670] Pandaproxy: Avoid large allocations
  src/v/bytes/include/bytes/iobuf.h
  src/v/bytes/include/bytes/streambuf.h
  src/v/json/chunked_buffer.h
  src/v/json/iobuf_writer.h
  src/v/json/json.cc
  src/v/json/json.h
  src/v/json/tests/json_serialization_test.cc
  src/v/pandaproxy/json/iobuf.h
  src/v/pandaproxy/json/requests/fetch.h
  src/v/pandaproxy/json/requests/test/fetch.cc
  src/v/pandaproxy/json/rjson_util.h
  src/v/pandaproxy/json/test/iobuf.cc
  src/v/pandaproxy/rest/handlers.cc
  src/v/pandaproxy/schema_registry/avro.cc
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/requests/get_schemas_ids_id.h
  src/v/pandaproxy/schema_registry/requests/get_subject_versions_version.h
  src/v/pandaproxy/schema_registry/requests/post_subject_versions.h
  src/v/pandaproxy/schema_registry/requests/test/get_subject_versions_version.cc
  src/v/pandaproxy/schema_registry/requests/test/post_subject_versions.cc
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/storage.h
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/compatibility_avro.cc
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
  src/v/pandaproxy/schema_registry/test/compatibility_store.cc
  src/v/pandaproxy/schema_registry/test/consume_to_store.cc
  src/v/pandaproxy/schema_registry/test/post_subjects_subject_version.cc
  src/v/pandaproxy/schema_registry/test/sanitize_avro.cc
  src/v/pandaproxy/schema_registry/test/sharded_store.cc
  src/v/pandaproxy/schema_registry/test/store.cc
  src/v/pandaproxy/schema_registry/test/util.cc
  src/v/pandaproxy/schema_registry/types.cc
  src/v/pandaproxy/schema_registry/types.h
  src/v/pandaproxy/schema_registry/util.h
  src/v/pandaproxy/schema_registry/validation.cc
  src/v/utils/base64.cc
  src/v/utils/base64.h
  src/v/utils/tests/base64_test.cc
  src/v/wasm/schema_registry.cc
  src/v/wasm/schema_registry_module.cc
  src/v/wasm/tests/wasm_fixture.cc
  src/v/wasm/tests/wasm_fixture.h
  src/v/wasm/tests/wasm_transform_test.cc
Labels: area/redpanda, area/wasm, area/schema-registry, kind/backport

#21464 [v23.3.x] Maintenance mode test fixes
  src/v/cluster/scheduling/leader_balancer.cc
  tests/rptest/tests/maintenance_test.py
Labels: area/redpanda, kind/backport

#20148 [v24.1.x] Always use the latest configuration for followers metadata
  src/v/base/include/base/outcome.h
  src/v/cluster/id_allocator_frontend.cc
  src/v/cluster/id_allocator_stm.cc
  src/v/cluster/id_allocator_stm.h
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/id_allocator_stm_test.cc
  src/v/raft/consensus.cc
  src/v/raft/tests/basic_raft_fixture_test.cc
  src/v/raft/tests/raft_fixture.h
  src/v/test_utils/test.h
Labels: area/redpanda, kind/backport

#21471 [v24.1.x] [CORE-5672] crypto/bench: Only load context once per run
  src/v/crypto/tests/crypto_bench.cc
Labels: area/redpanda, kind/backport

#21478 schema_registry: Remove extraneous log
  src/v/pandaproxy/schema_registry/validation.cc
Labels: area/redpanda, area/schema-registry

#21480 [v24.1.x] schema_registry: Remove extraneous log
  src/v/pandaproxy/schema_registry/validation.cc
Labels: area/redpanda, kind/backport

#21292 [CORE-5092] Transform SDK: Schema Registry client in C++
  src/transform-sdk/cpp/examples/CMakeLists.txt
  src/transform-sdk/cpp/examples/schema_registry.cc
  src/transform-sdk/cpp/include/redpanda/transform_sdk.h
  src/transform-sdk/cpp/src/transform_sdk.cc
Labels: area/wasm

#21419 rpk: migrate adminapi package to common-go
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/adminapi/admin.go
  src/go/rpk/pkg/adminapi/admin_test.go
  src/go/rpk/pkg/adminapi/api_broker.go
  src/go/rpk/pkg/adminapi/api_cloud_storage.go
  src/go/rpk/pkg/adminapi/api_cloud_storage_test.go
  src/go/rpk/pkg/adminapi/api_cluster.go
  src/go/rpk/pkg/adminapi/api_config.go
  src/go/rpk/pkg/adminapi/api_debug.go
  src/go/rpk/pkg/adminapi/api_features.go
  src/go/rpk/pkg/adminapi/api_metrics.go
  src/go/rpk/pkg/adminapi/api_node_config.go
  src/go/rpk/pkg/adminapi/api_partition.go
  src/go/rpk/pkg/adminapi/api_raft.go
  src/go/rpk/pkg/adminapi/api_security.go
  src/go/rpk/pkg/adminapi/api_storage.go
  src/go/rpk/pkg/adminapi/api_transform.go
  src/go/rpk/pkg/adminapi/api_user.go
  src/go/rpk/pkg/cli/cluster/config/edit.go
  src/go/rpk/pkg/cli/cluster/config/export.go
  src/go/rpk/pkg/cli/cluster/config/import.go
  src/go/rpk/pkg/cli/cluster/config/set.go
  src/go/rpk/pkg/cli/cluster/health.go
  src/go/rpk/pkg/cli/cluster/license/info.go
  src/go/rpk/pkg/cli/cluster/maintenance/disable.go
  src/go/rpk/pkg/cli/cluster/maintenance/enable.go
  src/go/rpk/pkg/cli/cluster/maintenance/status.go
  src/go/rpk/pkg/cli/cluster/partitions/cancel.go
  src/go/rpk/pkg/cli/cluster/partitions/list.go
  src/go/rpk/pkg/cli/cluster/partitions/move.go
  src/go/rpk/pkg/cli/cluster/partitions/move_status.go
  src/go/rpk/pkg/cli/cluster/partitions/status.go
  src/go/rpk/pkg/cli/cluster/partitions/toggle.go
  src/go/rpk/pkg/cli/cluster/partitions/transfer_leadership.go
  src/go/rpk/pkg/cli/cluster/partitions/unsafe_recover.go
  src/go/rpk/pkg/cli/cluster/selftest/selftest_test.go
  src/go/rpk/pkg/cli/cluster/selftest/start.go
  src/go/rpk/pkg/cli/cluster/selftest/status.go
  src/go/rpk/pkg/cli/cluster/storage/recovery/start.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_k8s_linux.go
  src/go/rpk/pkg/cli/redpanda/admin/brokers/decommission-status.go
  src/go/rpk/pkg/cli/redpanda/admin/brokers/decommission.go
  src/go/rpk/pkg/cli/redpanda/admin/brokers/list.go
  src/go/rpk/pkg/cli/security/role/describe.go
  src/go/rpk/pkg/cli/security/role/role.go
  src/go/rpk/pkg/cli/topic/describe_storage.go
  src/go/rpk/pkg/cli/transform/deploy.go
  src/go/rpk/pkg/cli/transform/list.go
  src/go/rpk/pkg/cli/transform/list_test.go
  src/go/rpk/pkg/cli/version/version.go
Labels: area/rpk

#21477 [v24.1.x] tests/controller_snapshot: fix no-op controller leadership transfers
  tests/rptest/services/admin.py
  tests/rptest/tests/controller_snapshot_test.py
Labels: kind/backport

#21479 rpk: fix --default example in alter quotas command
  src/go/rpk/pkg/cli/cluster/quotas/alter.go
Labels: area/rpk

#21481 iceberg: add missing field to manifest_entry avro
  src/v/iceberg/avroschemas/manifest_entry.schema.json
Labels: area/redpanda

#21490 rpk/transform/build: fix js sdk tooling
  src/go/rpk/pkg/cli/transform/build.go
  src/go/rpk/pkg/cli/transform/buildpack/buildpack.go
  src/transform-sdk/js/package_toolchain.py
Labels: area/rpk, area/wasm

#21494 build: add support for cloud_storage_clients
  src/v/cloud_roles/BUILD
  src/v/cloud_roles/tests/BUILD
  src/v/cloud_storage_clients/BUILD
  src/v/cloud_storage_clients/tests/BUILD
  src/v/utils/BUILD
Labels: area/redpanda

#21493 iceberg: utils for operating on avro
  src/v/iceberg/avro_utils.h
  src/v/iceberg/tests/CMakeLists.txt
  src/v/iceberg/tests/manifest_serialization_test.cc
Labels: area/redpanda

#21434 [v24.1.x] cst/ducktape: Change assertion for deleted chunks
  tests/rptest/tests/cloud_storage_chunk_read_path_test.py
Labels: kind/backport

#21422 [v24.1.x] storage: plumb abort source to compaction copy reducer
  src/v/storage/compaction_reducers.cc
  src/v/storage/compaction_reducers.h
  src/v/storage/segment_deduplication_utils.cc
  src/v/storage/segment_utils.cc
Labels: area/redpanda, kind/backport

#20840 Migrations infra, part 3: shard-local worker logic
  src/v/cluster/controller.cc
  src/v/cluster/data_migration_backend.cc
  src/v/cluster/data_migration_backend.h
  src/v/cluster/data_migration_types.h
  src/v/cluster/data_migration_worker.cc
  src/v/cluster/data_migration_worker.h
Labels: area/redpanda

#21495 iceberg: add bazel support
  MODULE.bazel.lock
  bazel/repositories.bzl
  bazel/thirdparty/avro.BUILD
  bazel/thirdparty/avro.bzl
  src/v/iceberg/BUILD
  src/v/iceberg/tests/BUILD
Labels: area/redpanda

#21378 [v24.1.x] rptest: tolerate leadership changes in chunk read tests
  tests/rptest/tests/cloud_storage_chunk_read_path_test.py
Labels: kind/backport

#21372 CORE-5589 Add config to select minimum TLS version
  src/v/cloud_roles/refresh_credentials.cc
  src/v/cloud_storage_clients/configuration.cc
  src/v/cluster/metrics_reporter.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/convert.h
  src/v/config/property.h
  src/v/config/rjson_serialization.cc
  src/v/config/rjson_serialization.h
  src/v/config/tls_config.cc
  src/v/config/tls_config.h
  src/v/config/types.h
  src/v/security/oidc_service.cc
  tests/rptest/tests/cluster_config_test.py
  tests/rptest/tests/tls_version_test.py
Labels: area/redpanda

#21347 CORE-781 k/groups: list groups v4 (group state filtering)
  src/go/rpk/pkg/cli/group/group.go
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/protocol/schemata/list_groups_request.json
  src/v/kafka/protocol/schemata/list_groups_response.json
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
  src/v/kafka/server/group_router.cc
  src/v/kafka/server/group_router.h
  src/v/kafka/server/handlers/list_groups.h
  src/v/kafka/server/server.cc
  tests/rptest/clients/rpk.py
  tests/rptest/tests/consumer_group_recovery_test.py
  tests/rptest/tests/consumer_group_recovery_tool_test.py
  tests/rptest/tests/consumer_group_test.py
  tests/rptest/tests/consumer_offsets_consistency_test.py
  tests/rptest/tests/mirror_maker_test.py
  tests/rptest/tests/recovery_mode_test.py
  tests/rptest/tests/rpk_group_test.py
Labels: area/rpk, area/redpanda

#21505 rpk/cluster: update `rpk self-test` docs
  src/go/rpk/pkg/cli/cluster/selftest/start.go
  src/go/rpk/pkg/cli/cluster/selftest/status.go
Labels: area/rpk

#20832 cloud_storage: use `topic_namespace_override` in `remote_path_provider`
  src/v/archival/archival_metadata_stm.cc
  src/v/archival/archival_metadata_stm.h
  src/v/archival/purger.cc
  src/v/archival/tests/archival_metadata_stm_gtest.cc
  src/v/archival/tests/archival_metadata_stm_test.cc
  src/v/archival/tests/archiver_operations_impl_gtest.cc
  src/v/archival/tests/ntp_archiver_reupload_test.cc
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/archival/tests/segment_reupload_test.cc
  src/v/archival/tests/service_fixture.cc
  src/v/cloud_storage/remote_path_provider.cc
  src/v/cloud_storage/remote_path_provider.h
  src/v/cloud_storage/tests/CMakeLists.txt
  src/v/cloud_storage/tests/anomalies_detector_test.cc
  src/v/cloud_storage/tests/async_manifest_view_test.cc
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cloud_storage/tests/partition_manifest_downloader_test.cc
  src/v/cloud_storage/tests/partition_manifest_test.cc
  src/v/cloud_storage/tests/remote_partition_fuzz_test.cc
  src/v/cloud_storage/tests/remote_partition_test.cc
  src/v/cloud_storage/tests/remote_path_provider_test.cc
  src/v/cloud_storage/tests/remote_segment_test.cc
  src/v/cloud_storage/tests/remote_test.cc
  src/v/cloud_storage/tests/segment_chunk_hydration_test.cc
  src/v/cloud_storage/tests/topic_manifest_test.cc
  src/v/cloud_storage/tests/topic_namespace_override_recovery_test.cc
  src/v/cloud_storage/tests/util.cc
  src/v/cluster/controller_backend.cc
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/cluster/remote_topic_configuration_source.cc
  src/v/cluster/topic_configuration.h
  src/v/cluster/topic_properties.cc
  src/v/cluster/topic_properties.h
  src/v/cluster/topic_recovery_validator.cc
  src/v/compat/cluster_compat.h
  src/v/compat/cluster_generator.h
  src/v/compat/cluster_json.h
  src/v/redpanda/admin/server.cc
  tools/offline_log_viewer/controller.py
Labels: area/redpanda

#21452 rpk: make mechanism flag required in user update
  src/go/rpk/pkg/cli/security/user/update.go
  tests/rptest/clients/rpk.py
  tests/rptest/tests/rpk_acl_test.py
Labels: area/rpk

#21502 [v24.1.x] cst/cache: tracker based trim
  src/v/cloud_storage/access_time_tracker.cc
  src/v/cloud_storage/access_time_tracker.h
  src/v/cloud_storage/cache_probe.cc
  src/v/cloud_storage/cache_probe.h
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/cache_service.h
  src/v/cloud_storage/recursive_directory_walker.cc
  src/v/cloud_storage/recursive_directory_walker.h
  src/v/cloud_storage/tests/cache_bench.cc
  src/v/cloud_storage/tests/cache_test.cc
  src/v/cloud_storage/tests/cache_test_fixture.h
  tests/rptest/scale_tests/tiered_storage_cache_stress_test.py
  tests/rptest/tests/cloud_storage_chunk_read_path_test.py
Labels: area/redpanda, kind/backport

#21383 [v24.1.x] Optimize `replicated_partition::validate_fetch_offset`
  src/v/cluster/log_eviction_stm.cc
  src/v/cluster/log_eviction_stm.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/kafka/server/replicated_partition.cc
  src/v/raft/persisted_stm.cc
Labels: area/redpanda, kind/backport

#21374 [v24.1.x] test/random_node_operations: tolerate lost produces
  tests/rptest/services/kgo_verifier_services.py
  tests/rptest/tests/random_node_operations_test.py
Labels: kind/backport

#20837 [v24.1.x] tests: wait for the leadership change metric to be updated
  tests/rptest/services/metrics_check.py
  tests/rptest/tests/raft_availability_test.py
Labels: kind/backport

#21289 [v24.1.x] pandaproxy: fix spelling of `operation`
  src/v/pandaproxy/error.cc
  src/v/pandaproxy/error.h
  src/v/pandaproxy/schema_registry/error.cc
  src/v/pandaproxy/schema_registry/error.h
  src/v/pandaproxy/schema_registry/errors.h
  src/v/pandaproxy/schema_registry/store.h
Labels: area/redpanda, kind/backport

#20748 [v24.1.x] Do not set transaction timeout in tests that do not need it
  tests/rptest/tests/transactions_test.py
  tests/rptest/tests/tx_coordinator_migration_test.py
Labels: kind/backport

#21497 cst/inv: report parser follow ups
  src/v/cloud_storage/inventory/inv_consumer.cc
  src/v/cloud_storage/inventory/inv_consumer.h
  src/v/cloud_storage/inventory/ntp_hashes.cc
  src/v/cloud_storage/inventory/tests/inv_consumer_tests.cc
  src/v/cloud_storage/inventory/tests/report_parser_tests.cc
  src/v/compression/tests/gzip_stream_decompression_tests.cc
Labels: area/redpanda

#21348 archival: keep locks until outcome is known
  src/v/archival/archival_metadata_stm.cc
  src/v/archival/tests/archival_metadata_stm_gtest.cc
Labels: area/redpanda

#21408 Node-local core assignment: fast leader re-election
  src/v/archival/tests/service_fixture.cc
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/cluster/raft0_utils.h
  src/v/cluster/shard_placement_table.cc
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/group_manager.cc
  src/v/raft/group_manager.h
  src/v/raft/tests/raft_group_fixture.h
  src/v/raft/types.h
  tests/rptest/scale_tests/shard_placement_scale_test.py
  tests/rptest/services/templates/omb_workload.yaml
Labels: area/redpanda

#20590 self-test disk test enhancements
  src/go/rpk/pkg/cli/cluster/selftest/start.go
  src/v/cluster/self_test/diskcheck.cc
  src/v/cluster/self_test_rpc_types.h
  tests/rptest/tests/self_test_test.py
Labels: area/rpk, area/redpanda

#21431 c/st: self_test_result rpc: move {start,end}_time to end of layout
  src/v/cluster/self_test_rpc_types.h
Labels: area/redpanda

#21451 utils/log_hist: decouple latency measturements from histogram impl
  src/v/utils/log_hist.cc
  src/v/utils/log_hist.h
Labels: area/redpanda

#21506 raft/tests: deflake test_force_reconfiguration
  src/v/raft/tests/raft_reconfiguration_test.cc
Labels: area/redpanda

#21514 [v24.1.x] rpk: make mechanism flag required in user update
  src/go/rpk/pkg/cli/security/user/update.go
  tests/rptest/clients/rpk.py
  tests/rptest/tests/rpk_acl_test.py
Labels: area/rpk, kind/backport

#21516 [v23.2.x] rpk: make mechanism flag required in user update
  src/go/rpk/pkg/cli/acl/user/update.go
  tests/rptest/clients/rpk.py
  tests/rptest/tests/rpk_acl_test.py
Labels: area/rpk, kind/backport

#21510 bazel: add build for storage library
  bazel/thirdparty/seastar.BUILD
  src/v/CMakeLists.txt
  src/v/cluster/BUILD
  src/v/cluster/feature_update_action.h
  src/v/cluster/node/local_monitor.cc
  src/v/cluster/types.h
  src/v/features/BUILD
  src/v/features/feature_table.cc
  src/v/features/feature_table_snapshot.h
  src/v/features/tests/feature_table_test.cc
  src/v/finjector/BUILD
  src/v/raft/BUILD
  src/v/raft/consensus_utils.cc
  src/v/raft/group_configuration.cc
  src/v/raft/group_configuration.h
  src/v/raft/state_machine_manager.cc
  src/v/raft/state_machine_manager.h
  src/v/raft/types.h
  src/v/redpanda/application.cc
  src/v/resource_mgmt/BUILD
  src/v/rp_util/main.cc
  src/v/security/BUILD
  src/v/security/audit/schemas/types.h
  src/v/security/license.h
  src/v/serde/BUILD
  src/v/ssx/BUILD
  src/v/storage/BUILD
  src/v/storage/index_state.cc
  src/v/storage/offset_translator_state.cc
  src/v/storage/offset_translator_state.h
  src/v/storage/parser_utils.h
  src/v/storage/segment_index.cc
  src/v/storage/tests/BUILD
  src/v/syschecks/syschecks.cc
  src/v/utils/BUILD
  src/v/version/BUILD
  src/v/version/version.cc.in
  src/v/version/version.h
Labels: area/redpanda

#21515 [v23.3.x] rpk: make mechanism flag required in user update
  src/go/rpk/pkg/cli/acl/user/update.go
  tests/rptest/clients/rpk.py
  tests/rptest/tests/rpk_acl_test.py
Labels: area/rpk, kind/backport

#21522 [v24.1.x] raft/tests: deflake test_force_reconfiguration
  src/v/raft/tests/raft_reconfiguration_test.cc
Labels: area/redpanda, kind/backport

#21539 Add v24.2.x and remove v23.2.x from PR template for backports
  .github/pull_request_template.md
Labels: area/build

#21540 raft: add bazel build for raft library
  bazel/test.bzl
  src/v/cluster/BUILD
  src/v/cluster/snapshot.h
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/cluster/types.h
  src/v/container/tests/BUILD
  src/v/crypto/tests/BUILD
  src/v/http/tests/BUILD
  src/v/io/tests/BUILD
  src/v/model/BUILD
  src/v/model/tests/BUILD
  src/v/model/tests/randoms.h
  src/v/pandaproxy/schema_registry/test/random.h
  src/v/raft/BUILD
  src/v/raft/heartbeats.cc
  src/v/raft/persisted_stm.cc
  src/v/raft/tests/BUILD
  src/v/raft/tests/bootstrap_configuration_test.cc
  src/v/raft/tests/consensus_utils_test.cc
  src/v/raft/tests/heartbeats_test.cc
  src/v/rpc/compiler.bzl
  src/v/test_utils/BUILD
  src/v/utils/BUILD
  src/v/utils/tests/BUILD
Labels: area/redpanda

#21521 [v24.1.x] archival: keep locks until outcome is known
  src/v/archival/archival_metadata_stm.cc
  src/v/archival/tests/archival_metadata_stm_gtest.cc
Labels: area/redpanda, kind/backport

#21469 [v23.3.x] [CORE-5539] Pandaproxy: Avoid large allocations whilst serializing JSON
  src/v/compat/json.h
  src/v/json/chunked_buffer.h
  src/v/json/chunked_input_stream.h
  src/v/json/json.cc
  src/v/json/json.h
  src/v/json/tests/json_serialization_test.cc
  src/v/pandaproxy/json/iobuf.h
  src/v/pandaproxy/json/requests/brokers.h
  src/v/pandaproxy/json/requests/create_consumer.h
  src/v/pandaproxy/json/requests/error_reply.h
  src/v/pandaproxy/json/requests/fetch.h
  src/v/pandaproxy/json/requests/offset_fetch.h
  src/v/pandaproxy/json/requests/produce.h
  src/v/pandaproxy/json/requests/test/fetch.cc
  src/v/pandaproxy/json/requests/test/produce.cc
  src/v/pandaproxy/json/rjson_util.h
  src/v/pandaproxy/json/test/parse.cc
  src/v/pandaproxy/json/types.h
  src/v/pandaproxy/reply.h
  src/v/pandaproxy/rest/handlers.cc
  src/v/pandaproxy/rest/test/consumer_group.cc
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/requests/compatibility.h
  src/v/pandaproxy/schema_registry/requests/config.h
  src/v/pandaproxy/schema_registry/requests/get_schemas_ids_id.h
  src/v/pandaproxy/schema_registry/requests/get_schemas_ids_id_versions.h
  src/v/pandaproxy/schema_registry/requests/get_subject_versions_version.h
  src/v/pandaproxy/schema_registry/requests/mode.h
  src/v/pandaproxy/schema_registry/requests/post_subject_versions.h
  src/v/pandaproxy/schema_registry/requests/test/get_subject_versions_version.cc
  src/v/pandaproxy/schema_registry/requests/test/post_subject_versions.cc
  src/v/pandaproxy/schema_registry/storage.h
  src/v/pandaproxy/schema_registry/test/post_subjects_subject_version.cc
  src/v/pandaproxy/schema_registry/test/storage.cc
  src/v/pandaproxy/server.cc
  src/v/utils/json.h
Labels: area/redpanda, area/schema-registry, kind/backport

#21363 [v23.3.x] tests: increase tolerance in local retention movement test
  tests/rptest/tests/scaling_up_test.py
Labels: kind/backport

#21377 [v23.3.x] rptest: tolerate leadership changes in chunk read tests
  tests/rptest/tests/cloud_storage_chunk_read_path_test.py
Labels: kind/backport

#21321 [v23.3.x] kafka: fix timequery when local log is empty
  src/v/cluster/partition.cc
  tests/rptest/tests/timequery_test.py
Labels: area/redpanda, kind/backport

#21290 [v23.3.x] pandaproxy: fix spelling of `operation`
  src/v/pandaproxy/error.cc
  src/v/pandaproxy/error.h
  src/v/pandaproxy/schema_registry/error.cc
  src/v/pandaproxy/schema_registry/error.h
  src/v/pandaproxy/schema_registry/errors.h
  src/v/pandaproxy/schema_registry/store.h
Labels: area/redpanda, kind/backport

#18656 [v23.3.x] PESDLC-876 Add Filehandlers to boto3 loggers
  tests/rptest/archival/s3_client.py
Labels: kind/backport

#18231 [v23.3.x] PESDLC-1295 Remove unstable launchpad repo after install
  tests/docker/ducktape-deps/ocsf-server
Labels: kind/backport

#18306 [v23.3.x] ducktape: deflake test_adding_nodes_to_cluster
  tests/rptest/tests/scaling_up_test.py
Labels: kind/backport

#18319 [v23.3.x] offline_log_viewer: fix get_control_record_type
  tests/rptest/clients/offline_log_viewer.py
  tests/rptest/tests/transactions_test.py
  tools/offline_log_viewer/kafka.py
  tools/offline_log_viewer/viewer.py
Labels: kind/backport

#21503 [CORE-5698] Fixed issue with error mapping in `add_partitions_to_txn`
  src/v/cluster/tx_gateway_frontend.cc
Labels: area/redpanda

#21517 CORE-5686 Decouple different raft group shutdown sequences
  src/v/cluster/partition_manager.cc
  src/v/raft/group_manager.cc
  src/v/raft/group_manager.h
Labels: area/redpanda

#21557 [v23.3.x] [CORE-5671] Pandaproxy: Avoid large allocations
  src/v/bytes/iobuf.h
  src/v/bytes/streambuf.h
  src/v/json/chunked_buffer.h
  src/v/json/iobuf_writer.h
  src/v/json/json.cc
  src/v/json/json.h
  src/v/json/tests/json_serialization_test.cc
  src/v/pandaproxy/json/iobuf.h
  src/v/pandaproxy/json/requests/fetch.h
  src/v/pandaproxy/json/requests/test/fetch.cc
  src/v/pandaproxy/json/rjson_util.h
  src/v/pandaproxy/json/test/iobuf.cc
  src/v/pandaproxy/rest/handlers.cc
  src/v/pandaproxy/schema_registry/avro.cc
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/requests/get_schemas_ids_id.h
  src/v/pandaproxy/schema_registry/requests/get_subject_versions_version.h
  src/v/pandaproxy/schema_registry/requests/post_subject_versions.h
  src/v/pandaproxy/schema_registry/requests/test/get_subject_versions_version.cc
  src/v/pandaproxy/schema_registry/requests/test/post_subject_versions.cc
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/storage.h
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/compatibility_avro.cc
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
  src/v/pandaproxy/schema_registry/test/compatibility_store.cc
  src/v/pandaproxy/schema_registry/test/consume_to_store.cc
  src/v/pandaproxy/schema_registry/test/post_subjects_subject_version.cc
  src/v/pandaproxy/schema_registry/test/sanitize_avro.cc
  src/v/pandaproxy/schema_registry/test/sharded_store.cc
  src/v/pandaproxy/schema_registry/test/store.cc
  src/v/pandaproxy/schema_registry/test/util.cc
  src/v/pandaproxy/schema_registry/types.cc
  src/v/pandaproxy/schema_registry/types.h
  src/v/pandaproxy/schema_registry/util.h
  src/v/pandaproxy/schema_registry/validation.cc
  src/v/utils/base64.cc
  src/v/utils/base64.h
  src/v/utils/tests/base64_test.cc
  src/v/wasm/schema_registry.cc
  src/v/wasm/schema_registry_module.cc
  src/v/wasm/tests/wasm_fixture.cc
  src/v/wasm/tests/wasm_fixture.h
  src/v/wasm/tests/wasm_transform_test.cc
Labels: area/redpanda, area/schema-registry, kind/backport

#21504 tx: enforce limit on client set transaction timeout
  src/v/cluster/tx_errc.cc
  src/v/cluster/tx_errc.h
  src/v/cluster/tx_gateway_frontend.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/errors.h
  tests/java/verifiers/src/main/java/io/vectorized/tx_verifier/Verifier.java
  tests/rptest/transactions/transactions_test.py
  tests/rptest/transactions/tx_admin_api_test.py
Labels: area/redpanda

#21526 [v23.3.x] producer_state: add request::set_error and make it idempotent
  src/v/cluster/producer_state.cc
  src/v/cluster/producer_state.h
  src/v/cluster/rm_stm.cc
Labels: area/redpanda

#21524 [v24.1.x] producer_state: add request::set_error and make it idempotent
  src/v/cluster/producer_state.cc
  src/v/cluster/producer_state.h
  src/v/cluster/rm_stm.cc
Labels: area/redpanda

#21361 Guard from concurrent elections
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/vote_stm.cc
  src/v/raft/vote_stm.h
Labels: area/redpanda

#21386 cst/inv: inventory download service
  src/v/cloud_storage/inventory/aws_ops.cc
  src/v/cloud_storage/inventory/aws_ops.h
  src/v/cloud_storage/inventory/inv_ops.cc
  src/v/cloud_storage/inventory/inv_ops.h
  src/v/cloud_storage/inventory/tests/CMakeLists.txt
  src/v/cloud_storage/inventory/tests/common.cc
  src/v/cloud_storage/inventory/tests/common.h
  src/v/cloud_storage/inventory/tests/inv_consumer_tests.cc
  src/v/cloud_storage/inventory/tests/inv_svc_tests.cc
  src/v/cloud_storage/inventory/types.h
  src/v/cloud_storage/remote.h
  src/v/cluster/CMakeLists.txt
  src/v/cluster/inventory_service.cc
  src/v/cluster/inventory_service.h
Labels: area/redpanda

#21556 cst/config: Disable trim carryover
  src/v/cloud_storage/tests/cache_test.cc
  src/v/config/configuration.cc
Labels: area/redpanda

#21570 [v24.1.x] cst/config: Disable trim carryover
  src/v/cloud_storage/tests/cache_test.cc
  src/v/config/configuration.cc
Labels: area/redpanda, kind/backport

#21551 iceberg: add initial schema struct
  src/v/iceberg/BUILD
  src/v/iceberg/CMakeLists.txt
  src/v/iceberg/schema.h
  src/v/iceberg/schema_json.cc
  src/v/iceberg/schema_json.h
  src/v/iceberg/tests/BUILD
  src/v/iceberg/tests/CMakeLists.txt
  src/v/iceberg/tests/datatypes_json_test.cc
  src/v/iceberg/tests/schema_json_test.cc
  src/v/iceberg/tests/test_schemas.cc
  src/v/iceberg/tests/test_schemas.h
Labels: area/redpanda

#21571 [v24.2.x] cst/config: Disable trim carryover
  src/v/cloud_storage/tests/cache_test.cc
  src/v/config/configuration.cc
Labels: area/redpanda, kind/backport

#21559 tx/gateway: set outcome result when sync in end_txn failed
  src/v/cluster/tx_gateway_frontend.cc
Labels: area/redpanda

#21565 [v24.1.x] Guard from concurrent elections
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/vote_stm.cc
  src/v/raft/vote_stm.h
Labels: area/redpanda, kind/backport

#21577 bazel: add cloud storage library
  src/v/archival/BUILD
  src/v/archival/run_quota.h
  src/v/archival/types.h
  src/v/cloud_storage/BUILD
  src/v/cloud_storage/access_time_tracker.cc
  src/v/cloud_storage/anomalies_detector.h
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/cache_service.h
  src/v/cloud_storage/inventory/inv_consumer.cc
  src/v/cloud_storage/inventory/ntp_hashes.cc
  src/v/cloud_storage/lifecycle_marker.h
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/remote_label.h
  src/v/cloud_storage/remote_segment_index.cc
  src/v/cloud_storage/segment_meta_cstore.cc
  src/v/cloud_storage/tests/BUILD
  src/v/cloud_storage/tests/common_def.h
  src/v/cloud_storage/tests/partition_manifest_test.cc
  src/v/cloud_storage/tests/segment_chunk_test.cc
  src/v/cloud_storage/topic_manifest.cc
  src/v/cloud_storage/topic_manifest.h
  src/v/cluster/BUILD
  src/v/cluster/health_monitor_types.h
  src/v/cluster/nt_revision.h
  src/v/cluster/topic_configuration.h
  src/v/cluster/topic_properties.h
  src/v/cluster/types.h
  src/v/compression/BUILD
  src/v/http/tests/BUILD
  src/v/model/BUILD
  src/v/model/transform.h
  src/v/pandaproxy/schema_registry/BUILD
  src/v/serde/BUILD
  src/v/ssx/BUILD
  src/v/storage/tests/BUILD
  src/v/test_utils/BUILD
Labels: area/redpanda

#21578 [v24.2.x] dt: Updated RPC test log allow list
  tests/rptest/tests/crl_test.py
Labels: kind/backport

#21569 cloud storage: Fix deleted_count in clean_up_at_start
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/tests/cache_test.cc
Labels: area/redpanda

#21491 [CORE-5093] Data Transforms SDK: Schema Registry Support for JavaScript
  src/transform-sdk/js/CMakeLists.txt
  src/transform-sdk/js/js_vm.cc
  src/transform-sdk/js/js_vm.h
  src/transform-sdk/js/main.cc
  src/transform-sdk/js/sr-module/index.d.ts
  src/transform-sdk/js/sr-module/index.js
  src/transform-sdk/js/sr-module/package.json
Labels: area/build, area/wasm

#21586 [v24.2.x] tx/gateway: set outcome result when sync in end_txn failed
  src/v/cluster/tx_gateway_frontend.cc
Labels: area/redpanda, kind/backport

#21585 [v24.2.x] [CORE-5698] Fixed issue with error mapping in `add_partitions_to_txn`
  src/v/cluster/tx_gateway_frontend.cc
Labels: area/redpanda, kind/backport

#21579 Fix http client segfault in `metrics_reporter`
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/metrics_reporter.h
  src/v/http/client.cc
  src/v/http/include/http/client.h
Labels: area/redpanda

#21606 cst/cache: fix in mem trim termination condition
  src/v/cloud_storage/cache_service.cc
Labels: area/redpanda

#21581 [CORE-5632] cluster: Reset cloud storage metric in the `cluster::partition::remove_persistent_state`
  src/v/cloud_storage/read_path_probes.h
  src/v/cluster/partition.cc
Labels: area/redpanda

#21612 [v24.1.x] Fix http client segfault in `metrics_reporter`
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/metrics_reporter.h
  src/v/http/client.cc
  src/v/http/include/http/client.h
Labels: area/redpanda, kind/backport

#21613 [v24.1.x] cst/cache: fix in mem trim termination condition
  src/v/cloud_storage/cache_service.cc
Labels: area/redpanda, kind/backport

#21610 [v24.2.x] Fix http client segfault in `metrics_reporter`
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/metrics_reporter.h
  src/v/http/client.cc
  src/v/http/include/http/client.h
Labels: area/redpanda, kind/backport

#21609 [v24.1.x] tests/ducktape: check redpanda can stop
  tests/rptest/services/cluster.py
  tests/rptest/services/failure_injector.py
  tests/rptest/tests/e2e_finjector.py
Labels: kind/backport

#21574 iceberg: implement manifest serialization
  src/v/iceberg/BUILD
  src/v/iceberg/CMakeLists.txt
  src/v/iceberg/avro_utils.h
  src/v/iceberg/manifest.h
  src/v/iceberg/manifest_avro.cc
  src/v/iceberg/manifest_avro.h
  src/v/iceberg/partition.cc
  src/v/iceberg/partition.h
  src/v/iceberg/tests/BUILD
  src/v/iceberg/tests/CMakeLists.txt
  src/v/iceberg/tests/gen_test_iceberg_manifest.py
  src/v/iceberg/tests/manifest_serialization_test.cc
  src/v/iceberg/tests/partition_test.cc
  src/v/iceberg/tests/testdata/README.md
  src/v/iceberg/tests/testdata/nested_manifest.avro
Labels: area/redpanda

#21614 [v24.2.x] cst/cache: fix in mem trim termination condition
  src/v/cloud_storage/cache_service.cc
Labels: area/redpanda, kind/backport
