Repository redpanda-data/redpanda, pull requests merged in 2024-09, with the labels that each got.

#23002 Revert "iotune: Add ioprops for m7gd"
  src/go/rpk/pkg/tuners/iotune/data.go
Labels: area/rpk

#23166 [v24.2.x] tests/shard_placement_test: check total counts in rebalance_finished predicate
  tests/rptest/tests/shard_placement_test.py
Labels: kind/backport

#23140 Migrations infra part 6: cancelations, retries, blocking reads
  src/v/cluster/data_migrated_resources.cc
  src/v/cluster/data_migration_backend.cc
  src/v/cluster/data_migration_backend.h
  src/v/cluster/data_migration_types.h
  src/v/cluster/data_migration_worker.cc
  src/v/cluster/data_migration_worker.h
  src/v/cluster/metadata_cache.cc
  src/v/cluster/metadata_cache.h
  src/v/kafka/server/handlers/fetch.cc
Labels: area/redpanda

#23139 [CORE-6665] schema registry - json schema get_record_name
  src/v/pandaproxy/schema_registry/json.cc
  src/v/pandaproxy/schema_registry/types.h
  src/v/pandaproxy/schema_registry/validation.cc
  tests/rptest/remote_scripts/python_librdkafka_serde_client.py
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda

#23101 [CORE-7037] schema registry json schema: fixes for some compatiblity bugs
  src/v/pandaproxy/schema_registry/json.cc
  src/v/pandaproxy/schema_registry/test/test_json_schema.cc
Labels: area/redpanda

#23171 [v24.2.x] [CORE-6665] schema registry - json schema get_record_name
  src/v/pandaproxy/schema_registry/json.cc
  src/v/pandaproxy/schema_registry/types.h
  src/v/pandaproxy/schema_registry/validation.cc
  tests/rptest/remote_scripts/python_librdkafka_serde_client.py
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, kind/backport

#23168 [v24.2.x] Migrations infra part 6: cancelations, retries, blocking reads
  src/v/cluster/data_migrated_resources.cc
  src/v/cluster/data_migration_backend.cc
  src/v/cluster/data_migration_backend.h
  src/v/cluster/data_migration_types.h
  src/v/cluster/data_migration_worker.cc
  src/v/cluster/data_migration_worker.h
  src/v/cluster/metadata_cache.cc
  src/v/cluster/metadata_cache.h
  src/v/kafka/server/handlers/fetch.cc
Labels: area/redpanda, kind/backport

#23110 [v24.2.x] CORE-6860 Schema Registry: add detailed verbose compatibility checks
  src/v/pandaproxy/schema_registry/avro.cc
  src/v/pandaproxy/schema_registry/compatibility.cc
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/test/compatibility_avro.cc
  src/v/pandaproxy/schema_registry/test/compatibility_common.h
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, kind/backport

#23170 [v23.3.x] CORE-6860 Schema Registry: add detailed verbose compatibility checks
  src/v/pandaproxy/schema_registry/avro.cc
  src/v/pandaproxy/schema_registry/compatibility.cc
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/test/compatibility_avro.cc
  src/v/pandaproxy/schema_registry/test/compatibility_common.h
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, kind/backport

#23172 [v24.2.x] [CORE-7037] schema registry json schema: fixes for some compatiblity bugs
  src/v/pandaproxy/schema_registry/json.cc
  src/v/pandaproxy/schema_registry/test/test_json_schema.cc
Labels: area/redpanda, kind/backport

#23169 [v24.1.x] CORE-6860 Schema Registry: add detailed verbose compatibility checks
  src/v/pandaproxy/schema_registry/avro.cc
  src/v/pandaproxy/schema_registry/compatibility.cc
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/test/compatibility_avro.cc
  src/v/pandaproxy/schema_registry/test/compatibility_common.h
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, kind/backport

#23137 [v23.3.x] [CORE-7061] sr/store: Deep copy schema_def iobufs at the interface
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/CMakeLists.txt
  src/v/pandaproxy/schema_registry/test/mt_sharded_store.cc
Labels: area/redpanda, kind/backport

#23173 c/tm_stm: fix log format strings
  src/v/cluster/tm_stm.cc
Labels: area/redpanda

#23043 datalake: iceberg to arrow schema translation
  src/v/datalake/CMakeLists.txt
  src/v/datalake/arrow_schema_translator.cc
  src/v/datalake/arrow_schema_translator.h
  src/v/datalake/tests/CMakeLists.txt
  src/v/datalake/tests/arrow_writer_test.cc
  src/v/datalake/tests/test_data_writer.h
Labels: area/redpanda

#23165 kafka: move transforms/txn_reader to kafka/utils
  src/v/kafka/CMakeLists.txt
  src/v/kafka/utils/BUILD
  src/v/kafka/utils/CMakeLists.txt
  src/v/kafka/utils/tests/BUILD
  src/v/kafka/utils/tests/CMakeLists.txt
  src/v/kafka/utils/tests/txn_reader_test.cc
  src/v/kafka/utils/txn_reader.cc
  src/v/kafka/utils/txn_reader.h
  src/v/transform/BUILD
  src/v/transform/CMakeLists.txt
  src/v/transform/api.cc
  src/v/transform/tests/CMakeLists.txt
Labels: area/redpanda, area/wasm

#23177 crypto: specify Bazel implementation deps
  src/v/crypto/BUILD
Labels: area/redpanda

#23175 [v24.2.x] c/tm_stm: fix log format strings
  src/v/cluster/tm_stm.cc
Labels: area/redpanda, kind/backport

#23148 iceberg: introduce snapshot type
  src/v/iceberg/BUILD
  src/v/iceberg/CMakeLists.txt
  src/v/iceberg/snapshot.h
  src/v/iceberg/snapshot_json.cc
  src/v/iceberg/snapshot_json.h
  src/v/iceberg/tests/BUILD
  src/v/iceberg/tests/CMakeLists.txt
  src/v/iceberg/tests/snapshot_json_test.cc
Labels: area/redpanda

#23186 iceberg: fix bazel test
  bazel/test.bzl
  src/v/iceberg/tests/BUILD
  src/v/iceberg/tests/manifest_serialization_test.cc
  src/v/test_utils/BUILD
  src/v/test_utils/CMakeLists.txt
  src/v/test_utils/runfiles.cc
  src/v/test_utils/runfiles.h
Labels: area/redpanda

#21409 archival: Update ntp_archiver (pt.2)
  src/v/cluster/archival/archiver_operations_impl.cc
  src/v/cluster/archival/tests/archiver_operations_impl_gtest.cc
Labels: area/redpanda

#23179 [v24.1.x] rptest: reduce cache eviction throttling for tiny cache stress test
  tests/rptest/scale_tests/tiered_storage_cache_stress_test.py
Labels: kind/backport

#23176 k/group_manager: return not_coordinator quickly in tx operations
  src/v/kafka/server/group_manager.cc
Labels: area/redpanda

#23196 kafka: clean up txn_reader dependencies
  src/v/kafka/utils/BUILD
  src/v/kafka/utils/tests/txn_reader_test.cc
  src/v/kafka/utils/txn_reader.cc
  src/v/kafka/utils/txn_reader.h
Labels: area/redpanda

#23197 cloud_storage: miscellaneous non-functional changes
  src/v/cloud_storage/BUILD
  src/v/cloud_storage/base_manifest.cc
  src/v/cloud_storage/base_manifest.h
  src/v/cloud_storage/configuration.h
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/cloud_storage/remote_segment_index.cc
  src/v/cloud_storage/remote_segment_index.h
  src/v/cloud_storage/tests/remote_file_test.cc
  src/v/cloud_storage/tests/remote_segment_test.cc
  src/v/cloud_storage/tests/remote_test.cc
  src/v/cloud_storage/tests/segment_chunk_hydration_test.cc
  src/v/cloud_storage/tests/util.cc
  src/v/cloud_storage/tests/util.h
  src/v/cloud_storage/topic_manifest.cc
  src/v/cloud_storage/topic_manifest.h
  src/v/cloud_storage/topic_mount_manifest.cc
  src/v/cloud_storage/topic_mount_manifest.h
  src/v/cloud_storage/tx_range_manifest.cc
  src/v/cloud_storage/tx_range_manifest.h
  src/v/cloud_storage/types.cc
  src/v/cloud_storage/types.h
  src/v/cluster/BUILD
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/tests/archival_metadata_stm_test.cc
  src/v/cluster/archival/tests/archival_service_fixture.h
  src/v/cluster/archival/tests/archiver_operations_impl_gtest.cc
  src/v/cluster/archival/tests/service_fixture.cc
  src/v/cluster/cloud_metadata/cluster_manifest.cc
  src/v/cluster/cloud_metadata/cluster_manifest.h
  src/v/cluster/cloud_metadata/uploader.cc
  src/v/cluster/cloud_metadata/uploader.h
  src/v/redpanda/tests/fixture.h
  src/v/storage/BUILD
  src/v/storage/segment_reader.h
  src/v/utils/BUILD
  src/v/utils/lazy_abort_source.h
  src/v/utils/stream_provider.h
Labels: area/redpanda

#23190 [v24.2.x] tests/shard_placement_test: increase node rebalance timeout
  tests/rptest/services/redpanda.py
  tests/rptest/tests/shard_placement_test.py
Labels: kind/backport

#23147 iceberg: preparatory serialization code for table metadata
  src/v/iceberg/BUILD
  src/v/iceberg/CMakeLists.txt
  src/v/iceberg/manifest_avro.cc
  src/v/iceberg/partition_json.cc
  src/v/iceberg/partition_json.h
  src/v/iceberg/tests/BUILD
  src/v/iceberg/tests/CMakeLists.txt
  src/v/iceberg/tests/manifest_serialization_test.cc
  src/v/iceberg/tests/partition_json_test.cc
  src/v/iceberg/tests/transform_json_test.cc
  src/v/iceberg/transform_json.cc
  src/v/iceberg/transform_json.h
Labels: area/redpanda

#23189 [v24.2.x] k/group_manager: return not_coordinator quickly in tx operations
  src/v/kafka/server/group_manager.cc
Labels: area/redpanda, kind/backport

#23123 serde/test: serde_fields for various structs
  src/v/serde/test/bench.cc
  src/v/serde/test/serde_test.cc
  src/v/serde/test/struct_gen.py
Labels: area/redpanda

#23145 iceberg: add table metadata
  src/v/iceberg/BUILD
  src/v/iceberg/CMakeLists.txt
  src/v/iceberg/table_metadata.h
  src/v/iceberg/table_metadata_json.cc
  src/v/iceberg/table_metadata_json.h
  src/v/iceberg/tests/BUILD
  src/v/iceberg/tests/CMakeLists.txt
  src/v/iceberg/tests/table_metadata_json_test.cc
Labels: area/redpanda

#23093 iceberg: translate values to Avro
  src/v/iceberg/BUILD
  src/v/iceberg/CMakeLists.txt
  src/v/iceberg/schema_avro.cc
  src/v/iceberg/schema_avro.h
  src/v/iceberg/tests/BUILD
  src/v/iceberg/tests/CMakeLists.txt
  src/v/iceberg/tests/schema_avro_test.cc
  src/v/iceberg/tests/values_avro_test.cc
  src/v/iceberg/values_avro.cc
  src/v/iceberg/values_avro.h
Labels: area/redpanda

#23181 utils: Added external_process library
  bazel/test.bzl
  src/v/test_utils/BUILD
  src/v/test_utils/test.h
  src/v/test_utils/tests/BUILD
  src/v/utils/BUILD
  src/v/utils/CMakeLists.txt
  src/v/utils/external_process.cc
  src/v/utils/external_process.h
  src/v/utils/tests/BUILD
  src/v/utils/tests/CMakeLists.txt
  src/v/utils/tests/external_process_test.cc
  src/v/utils/tests/handle-sigterm.sh
Labels: area/redpanda

#23188 [v24.1.x] k/group_manager: return not_coordinator quickly in tx operations
  src/v/kafka/server/group_manager.cc
Labels: area/redpanda, kind/backport

#23187 [v23.3.x] k/group_manager: return not_coordinator quickly in tx operations
  src/v/kafka/server/group_manager.cc
Labels: area/redpanda, kind/backport

#23211 model: reduce usage of serde.h
  src/v/model/BUILD
  src/v/model/metadata.h
  src/v/model/tests/model_serialization_test.cc
Labels: area/redpanda

#23212 kafka: add proxy factory for partition in hand
  src/v/kafka/server/partition_proxy.cc
  src/v/kafka/server/partition_proxy.h
Labels: area/redpanda

#23113 `storage`: compaction utils cleanup
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/segment_deduplication_utils.cc
  src/v/storage/segment_utils.cc
  src/v/storage/segment_utils.h
Labels: area/redpanda

#23201 [v24.2.x] [CORE-7010] ducktape: adapt segment parsing for partial batch headers
  tests/rptest/remote_scripts/compute_storage.py
Labels: kind/backport

#23191 `cluster`: don't apply invalid property change in `topic_table`
  src/v/cluster/tests/topic_table_test.cc
  src/v/cluster/topic_table.cc
Labels: area/redpanda

#23126 serde: Require T::serde_fields for all serde structs
  src/v/serde/envelope_for_each_field.h
Labels: area/redpanda

#23194 cloud_io: move out generic cloud_storage::remote code
  src/v/CMakeLists.txt
  src/v/cloud_io/BUILD
  src/v/cloud_io/CMakeLists.txt
  src/v/cloud_io/README.md
  src/v/cloud_io/auth_refresh_bg_op.cc
  src/v/cloud_io/auth_refresh_bg_op.h
  src/v/cloud_io/io_resources.cc
  src/v/cloud_io/io_resources.h
  src/v/cloud_io/io_result.cc
  src/v/cloud_io/io_result.h
  src/v/cloud_io/logger.h
  src/v/cloud_io/remote.cc
  src/v/cloud_io/remote.h
  src/v/cloud_io/transfer_details.cc
  src/v/cloud_io/transfer_details.h
  src/v/cloud_storage/BUILD
  src/v/cloud_storage/CMakeLists.txt
  src/v/cloud_storage/materialized_resources.cc
  src/v/cloud_storage/materialized_resources.h
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/cloud_storage/remote_probe.cc
  src/v/cloud_storage/remote_probe.h
  src/v/cloud_storage/tests/anomalies_detector_test.cc
  src/v/cloud_storage/tests/cloud_storage_fixture.h
  src/v/cloud_storage/tests/partition_manifest_downloader_test.cc
  src/v/cloud_storage/tests/remote_file_test.cc
  src/v/cloud_storage/tests/remote_test.cc
  src/v/cloud_storage/tests/topic_manifest_downloader_test.cc
  src/v/cloud_storage/tests/topic_mount_handler_test.cc
  src/v/cloud_storage/types.cc
  src/v/cloud_storage/types.h
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/tests/archival_metadata_stm_gtest.cc
  src/v/cluster/archival/tests/archival_metadata_stm_test.cc
  src/v/cluster/archival/tests/service_fixture.cc
  src/v/cluster/archival/tests/service_fixture.h
  src/v/cluster/self_test/cloudcheck.cc
  src/v/redpanda/BUILD
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
Labels: area/redpanda

#23213 iceberg: copy method for partition key
  src/v/iceberg/partition_key.cc
  src/v/iceberg/partition_key.h
  src/v/iceberg/tests/partition_key_test.cc
  src/v/iceberg/tests/values_test.cc
  src/v/iceberg/values.cc
  src/v/iceberg/values.h
Labels: area/redpanda

#23229 gha: add build labels for bazel
  .github/labeler.yml
Labels: area/build

#23224 `config`: mark `cloud_storage_enabled()` as `needs_restart::yes`
  src/v/config/configuration.cc
Labels: area/redpanda

#23223 [v24.2.x] `cluster`: don't apply invalid property change in `topic_table`
  src/v/cluster/tests/topic_table_test.cc
  src/v/cluster/topic_table.cc
Labels: area/redpanda, kind/backport

#23234 [v24.2.x] CORE-7049 dt/rbac: wait for healthy cluster after restart
  tests/rptest/tests/rbac_test.py
Labels: kind/backport

#23127 [v24.2.x] c/members_table: include members table version in the snapshot
  src/v/cluster/controller_snapshot.h
  src/v/cluster/members_table.cc
Labels: area/redpanda, kind/backport

#23206 [v24.2.x] rptest: reduce cache eviction throttling for space leak test
  tests/rptest/tests/test_si_cache_space_leak.py
Labels: kind/backport

#23236 [v24.2.x] `config`: mark `cloud_storage_enabled()` as `needs_restart::yes`
  src/v/config/configuration.cc
Labels: area/redpanda, kind/backport

#23021 [v24.2.x] rpk: fix long text for rpk-topic-trim-prefix
  src/go/rpk/pkg/cli/topic/trim.go
Labels: area/rpk, kind/backport

#23225 `kafka`: misc non-functional changes
  src/v/kafka/server/handlers/alter_configs.cc
  src/v/kafka/server/handlers/configs/config_response_utils.cc
  src/v/kafka/server/handlers/topics/types.cc
  src/v/utils/tristate.h
Labels: area/redpanda

#23235 [v24.1.x] CORE-7049 dt/rbac: wait for healthy cluster after restart
  tests/rptest/tests/rbac_test.py
Labels: kind/backport

#23237 [v24.1.x] `config`: mark `cloud_storage_enabled()` as `needs_restart::yes`
  src/v/config/configuration.cc
Labels: area/redpanda, kind/backport

#23087 [v24.1.x] tests: wait for topic to be present before starting producer
  tests/rptest/tests/mirror_maker_test.py
Labels: kind/backport

#23128 [v24.1.x] c/members_table: include members table version in the snapshot
  src/v/cluster/controller_snapshot.h
  src/v/cluster/members_table.cc
Labels: area/redpanda, kind/backport

#23228 cloud_io: put io_result in cloud_io namespace
  src/v/cloud_io/io_result.cc
  src/v/cloud_io/io_result.h
  src/v/cloud_io/remote.cc
  src/v/cloud_io/remote.h
  src/v/cloud_storage/inventory/types.h
  src/v/cloud_storage/types.h
Labels: area/redpanda

#23226 [v24.1.x] `cluster`: don't apply invalid property change in `topic_table` (Manual backport)
  src/v/cluster/tests/topic_table_test.cc
  src/v/cluster/topic_table.cc
Labels: area/redpanda

#23227 [v23.3.x] `cluster`: don't apply invalid property change in `topic_table` (Manual backport)
  src/v/cluster/tests/topic_table_test.cc
  src/v/cluster/topic_table.cc
Labels: area/redpanda

#21313 CORE-3168 support p12
  src/v/config/rjson_serialization.cc
  src/v/config/tests/tls_config_convert_test.cc
  src/v/config/tls_config.cc
  src/v/config/tls_config.h
  tests/rptest/services/redpanda.py
  tests/rptest/services/tls.py
  tests/rptest/tests/pkcs12_test.py
Labels: area/redpanda

#23203 Migrations storage improvements
  src/v/cluster/archival/ntp_archiver_service.cc
Labels: area/redpanda

#23240 cst/inv: Minor fixes for issues found during scrubber integration
  src/v/cloud_storage/inventory/inv_consumer.cc
  src/v/cloud_storage/inventory/tests/inv_consumer_tests.cc
Labels: area/redpanda

#23244 rpk: bump go dependencies.
  src/go/rpk/go.mod
  src/go/rpk/go.sum
Labels: area/rpk

#23248 cloud_io: add scoped_remote test util
  src/v/cloud_io/CMakeLists.txt
  src/v/cloud_io/tests/BUILD
  src/v/cloud_io/tests/CMakeLists.txt
  src/v/cloud_io/tests/scoped_remote.cc
  src/v/cloud_io/tests/scoped_remote.h
  src/v/cloud_storage/tests/BUILD
  src/v/cloud_storage/tests/s3_imposter.cc
  src/v/cloud_storage/tests/s3_imposter.h
Labels: area/build, area/redpanda

#23242 [v24.2.x] cst/inv: Minor fixes for issues found during scrubber integration
  src/v/cloud_storage/inventory/inv_consumer.cc
  src/v/cloud_storage/inventory/tests/inv_consumer_tests.cc
Labels: area/redpanda, kind/backport

#23241 [v24.2.x] Migrations storage improvements
  src/v/archival/ntp_archiver_service.cc
Labels: area/redpanda, kind/backport

#23238 [v23.3.x] `config`: mark `cloud_storage_enabled()` as `needs_restart::yes`
  src/v/config/configuration.cc
Labels: area/redpanda, kind/backport

#23210 bazel: introduce gazelle
  BUILD
  MODULE.bazel
  MODULE.bazel.lock
  bazel/gazelle_pr_1909.patch
  bazel/thirdparty/go.work
  src/go/kreq-gen/BUILD
  src/transform-sdk/go/transform/BUILD
  src/transform-sdk/go/transform/internal/cache/BUILD
  src/transform-sdk/go/transform/internal/rwbuf/BUILD
  src/transform-sdk/go/transform/internal/testdata/BUILD
  src/transform-sdk/go/transform/internal/testdata/dynamic/BUILD
  src/transform-sdk/go/transform/internal/testdata/go.mod
  src/transform-sdk/go/transform/internal/testdata/go.sum
  src/transform-sdk/go/transform/internal/testdata/identity/BUILD
  src/transform-sdk/go/transform/internal/testdata/identity_logging/BUILD
  src/transform-sdk/go/transform/internal/testdata/schema-registry/BUILD
  src/transform-sdk/go/transform/internal/testdata/schema-registry/avro/BUILD
  src/transform-sdk/go/transform/internal/testdata/schema-registry/transform.go
  src/transform-sdk/go/transform/internal/testdata/setup-panic/BUILD
  src/transform-sdk/go/transform/internal/testdata/tee/BUILD
  src/transform-sdk/go/transform/internal/testdata/transform-error/BUILD
  src/transform-sdk/go/transform/internal/testdata/transform-panic/BUILD
  src/transform-sdk/go/transform/internal/testdata/wasi/BUILD
  src/transform-sdk/go/transform/sr/BUILD
  src/transform-sdk/tests/BUILD
  src/transform-sdk/tests/go.mod
  src/transform-sdk/tests/go.sum
  src/v/serde/protobuf/tests/BUILD
Labels: area/build, area/redpanda, area/wasm

#23254 iceberg: add initial catalog metadata structs
  src/v/iceberg/BUILD
  src/v/iceberg/table_requests.h
  src/v/iceberg/table_requirement.h
  src/v/iceberg/table_update.h
Labels: area/build, area/redpanda

#23258 bazel: Updated seastar ref
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: area/build

#23266 tools: add note about using dev cluster data dir
  tools/BUILD
Labels: area/build

#23265 model: add empty batch reader factory
  src/v/model/record_batch_reader.cc
  src/v/model/record_batch_reader.h
  src/v/model/tests/BUILD
  src/v/model/tests/record_batch_reader_test.cc
Labels: area/build, area/redpanda

#23233 cloud_io: Improve remote for tests
  src/v/cloud_io/remote.h
  src/v/cloud_io/transfer_details.cc
  src/v/cloud_io/transfer_details.h
  src/v/cloud_storage/inventory/types.h
  src/v/cloud_storage/recovery_utils.h
  src/v/cloud_storage/segment_state.h
  src/v/cluster/cloud_metadata/manifest_downloads.h
  src/v/utils/retry_chain_node.cc
  src/v/utils/retry_chain_node.h
Labels: area/redpanda

#23268 archival_policy: skip if no data at desired start_offset
  src/v/cluster/archival/archival_policy.cc
Labels: area/redpanda

#23270 bazel: use patch instead of fork of toolchains_llvm
  .bazelrc
  MODULE.bazel
  MODULE.bazel.lock
  bazel/toolchains_llvm_pr_346.patch
Labels: area/build

#23117 [ENG-121] rpk: add `rpk connect` as a managed plugin
  src/go/rpk/pkg/cli/cloud/byoc/uninstall.go
  src/go/rpk/pkg/cli/connect/client.go
  src/go/rpk/pkg/cli/connect/connect.go
  src/go/rpk/pkg/cli/connect/install.go
  src/go/rpk/pkg/cli/connect/uninstall.go
  src/go/rpk/pkg/cli/connect/upgrade.go
  src/go/rpk/pkg/cli/root.go
  src/go/rpk/pkg/cobraext/cobraext.go
  src/go/rpk/pkg/cobraext/cobraext_test.go
  src/go/rpk/pkg/httpapi/httpapi.go
  src/go/rpk/pkg/plugin/plugin.go
  tests/rptest/clients/rpk.py
  tests/rptest/tests/rpk_connect_test.py
Labels: area/rpk

#23247 iceberg: wrappers for manifest IO
  src/v/cloud_io/CMakeLists.txt
  src/v/iceberg/BUILD
  src/v/iceberg/CMakeLists.txt
  src/v/iceberg/manifest_io.cc
  src/v/iceberg/manifest_io.h
  src/v/iceberg/tests/BUILD
  src/v/iceberg/tests/CMakeLists.txt
  src/v/iceberg/tests/manifest_io_test.cc
Labels: area/build, area/redpanda

#23285 bazel: do not use fortify source in seastar thread.cc
  MODULE.bazel.lock
  bazel/repositories.bzl
  bazel/thirdparty/seastar-fortify-source.patch
Labels: area/build

#23275 [v24.2.x] archival_policy: skip if no data at desired start_offset
  src/v/archival/archival_policy.cc
Labels: area/redpanda, kind/backport

#23283 bazel: fix unit tests
  bazel/test.bzl
  src/v/compression/tests/BUILD
  src/v/http/tests/BUILD
  src/v/io/tests/BUILD
  src/v/io/tests/scheduler_test.cc
  src/v/utils/tests/external_process_test.cc
  src/v/utils/tests/retry_test.cc
  src/v/utils/tests/tracking_allocator_tests.cc
Labels: area/build, area/redpanda

#23286 iceberg: use test cpu parameter
  src/v/iceberg/tests/BUILD
Labels: area/build, area/redpanda

#23287 bazel: exclude vtools
  .bazelignore
  BUILD
Labels: area/build

#23245 kafka: Fixed segfault issue with auditing and mTLS
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/server.cc
  src/v/security/audit/audit_log_manager.cc
  tests/rptest/tests/audit_log_test.py
Labels: area/redpanda

#23279 kafka: Fixed oversized alloc in describe_log_dirs
  src/v/kafka/server/handlers/describe_log_dirs.cc
Labels: area/redpanda

#23209 Backport pr #23167 to v24.2.x
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/admin/api-doc/migration.def.json
  src/v/redpanda/admin/api-doc/migration.json
  src/v/redpanda/admin/data_migration_utils.cc
  src/v/redpanda/admin/data_migration_utils.h
  src/v/redpanda/admin/migrations.cc
  src/v/redpanda/admin/server.cc
  src/v/redpanda/admin/server.h
  src/v/redpanda/admin/topics.cc
Labels: area/rpk, area/build, area/redpanda

#23208 CORE-6861 Schema Registry: verbose compat checks for JSON
  src/v/pandaproxy/schema_registry/compatibility.cc
  src/v/pandaproxy/schema_registry/compatibility.h
  src/v/pandaproxy/schema_registry/json.cc
  src/v/pandaproxy/schema_registry/test/test_json_schema.cc
  src/v/pandaproxy/schema_registry/types.cc
  src/v/pandaproxy/schema_registry/types.h
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda

#23293 [v24.1.x] kafka: Fixed oversized alloc in describe_log_dirs
  src/v/kafka/server/handlers/describe_log_dirs.cc
Labels: area/redpanda, kind/backport

#23290 [v24.1.x] kafka: Fixed segfault issue with auditing and mTLS
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/server.cc
  src/v/security/audit/audit_log_manager.cc
  tests/rptest/tests/audit_log_test.py
Labels: area/redpanda, kind/backport

#23299 [v24.2.x] CORE-6861 Schema Registry: verbose compat checks for JSON
  src/v/pandaproxy/schema_registry/compatibility.cc
  src/v/pandaproxy/schema_registry/compatibility.h
  src/v/pandaproxy/schema_registry/json.cc
  src/v/pandaproxy/schema_registry/test/test_json_schema.cc
  src/v/pandaproxy/schema_registry/types.cc
  src/v/pandaproxy/schema_registry/types.h
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, kind/backport

#23282 [v24.2.x] CORE-6896 dt/audit: enable oauth after keycloak is up
  tests/rptest/tests/audit_log_test.py
Labels: kind/backport

#23281 [v24.1.x] CORE-6896 dt/audit: enable oauth after keycloak is up
  tests/rptest/tests/audit_log_test.py
Labels: kind/backport

#23280 [v23.3.x] CORE-6896 dt/audit: enable oauth after keycloak is up
  tests/rptest/tests/audit_log_test.py
Labels: kind/backport

#23303 bazel: inject git version information into version.cc
  .bazelrc
  bazel/stamp_vars.sh
  bazel/workspace_status.sh
  src/v/version/BUILD
  src/v/version/expand_with_stamp_vars.bzl
  src/v/version/stamper.py
Labels: area/build, area/redpanda

#23307 gha: reduce execution frequency (on cheap runner)
  .github/workflows/release-rp-storage-tool.yml
Labels: area/build

#23304 [v24.2.x] [CORE-6970] `rptest`: mark `test_s3_oracle_self_config` as `ok_to_fail_fips`
  tests/rptest/tests/cluster_self_config_test.py
Labels: kind/backport

#23305 test: increase rpk connect timeout
  src/go/rpk/pkg/plugin/plugin.go
  tests/rptest/clients/rpk.py
Labels: area/rpk

#23269 bazel: add clang-format command
  tools/BUILD
  tools/clang_format.sh
Labels: area/build

#23301 kafka: fix fetching from partitions with negative indexes
  src/v/container/contiguous_range_map.h
  src/v/kafka/server/tests/fetch_test.cc
Labels: area/redpanda

#23288 [v24.2.x] kafka: Fixed segfault issue with auditing and mTLS
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/server.cc
  src/v/security/audit/audit_log_manager.cc
  tests/rptest/tests/audit_log_test.py
Labels: area/redpanda, kind/backport

#23246 datalake: Create Arrow tables from iceberg::value
  src/v/datalake/CMakeLists.txt
  src/v/datalake/arrow_schema_translator.cc
  src/v/datalake/arrow_translator.cc
  src/v/datalake/arrow_translator.h
  src/v/datalake/tests/CMakeLists.txt
  src/v/datalake/tests/arrow_writer_test.cc
  src/v/iceberg/tests/CMakeLists.txt
  src/v/iceberg/tests/value_generator.cc
  src/v/iceberg/tests/value_generator.h
Labels: area/build, area/redpanda

#23292 [v23.3.x] kafka: Fixed oversized alloc in describe_log_dirs
  src/v/kafka/server/handlers/describe_log_dirs.cc
Labels: area/redpanda, kind/backport

#23215 CORE-7092 initial debug bundle service
  src/v/CMakeLists.txt
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/debug_bundle/BUILD
  src/v/debug_bundle/CMakeLists.txt
  src/v/debug_bundle/debug_bundle_service.cc
  src/v/debug_bundle/debug_bundle_service.h
  src/v/debug_bundle/error.cc
  src/v/debug_bundle/error.h
  src/v/debug_bundle/fwd.h
  src/v/debug_bundle/tests/BUILD
  src/v/debug_bundle/tests/CMakeLists.txt
  src/v/debug_bundle/tests/debug_bundle_service_test.cc
  src/v/debug_bundle/tests/rpk-shim.sh
  src/v/debug_bundle/tests/types_test.cc
  src/v/debug_bundle/types.cc
  src/v/debug_bundle/types.h
  src/v/redpanda/BUILD
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  tests/rptest/services/redpanda.py
Labels: area/build, area/redpanda

#23317 [v24.2.x] kafka: fix fetching from partitions with negative indexes
  src/v/container/include/container/contiguous_range_map.h
  src/v/kafka/server/tests/fetch_test.cc
Labels: area/redpanda, kind/backport

#23310 [v23.3.x] gha: reduce execution frequency (on cheap runner)
  .github/workflows/release-rp-storage-tool.yml
Labels: area/build, kind/backport

#23311 [v24.1.x] gha: reduce execution frequency (on cheap runner)
  .github/workflows/release-rp-storage-tool.yml
Labels: area/build, kind/backport

#23289 [v23.3.x] kafka: Fixed segfault issue with auditing and mTLS
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/server.cc
  src/v/security/audit/audit_log_manager.cc
  tests/rptest/tests/audit_log_test.py
Labels: area/redpanda, kind/backport

#23239 serde: Require (serde_fields) XOR (explicit read and/or write)
  src/v/cluster/topic_configuration.cc
  src/v/cluster/topic_configuration.h
  src/v/model/transform.cc
  src/v/model/transform.h
  src/v/serde/rw/envelope.h
Labels: area/redpanda

#23204 Migrations: cancellation tests and bugfixes
  src/v/cluster/data_migration_backend.cc
  src/v/cluster/data_migration_backend.h
  src/v/cluster/data_migration_frontend.cc
  src/v/cluster/data_migration_types.h
  src/v/cluster/data_migration_worker.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/topics_frontend.cc
  tests/rptest/tests/data_migrations_api_test.py
Labels: area/build, area/redpanda

#23320 iceberg: minor follow-ups to #23092
  src/v/iceberg/manifest_entry.h
  src/v/iceberg/manifest_entry_type.cc
  src/v/iceberg/manifest_entry_values.cc
  src/v/iceberg/manifest_entry_values.h
Labels: area/redpanda

#23325 [v24.2.x] CORE-7268 fix migrated resources raft snapshot application
  src/v/cluster/data_migrated_resources.cc
  src/v/cluster/data_migrated_resources.h
  src/v/cluster/data_migration_table.cc
Labels: area/redpanda, kind/backport

#23333 bazel: run tests with --overprovisioned
  bazel/test.bzl
Labels: area/build

#23323 iceberg: miscellaneous minor changes
  src/v/iceberg/manifest_io.cc
  src/v/iceberg/manifest_io.h
  src/v/iceberg/tests/manifest_io_test.cc
  src/v/iceberg/tests/manifest_serialization_test.cc
Labels: area/redpanda

#23329 rpk: s/vendor/provider
  src/go/rpk/pkg/cli/redpanda/start.go
  src/go/rpk/pkg/cloud/aws/aws.go
  src/go/rpk/pkg/cloud/gcp/gcp.go
  src/go/rpk/pkg/cloud/provider/provider.go
  src/go/rpk/pkg/cloud/providers.go
  src/go/rpk/pkg/cloud/providers_test.go
  src/go/rpk/pkg/cloud/vendors.go
  src/go/rpk/pkg/cloud/vendors_test.go
  src/go/rpk/pkg/tuners/factory/factory.go
  src/go/rpk/pkg/tuners/gcp_disk_write_cache_tuner.go
  src/go/rpk/pkg/tuners/gcp_disk_write_cache_tuner_test.go
  src/go/rpk/pkg/tuners/iotune/data.go
  src/go/rpk/pkg/tuners/iotune/data_test.go
  src/go/rpk/pkg/tuners/redpanda_checkers.go
Labels: area/rpk

#23341 features: bumped cluster version for next major release
  src/v/features/feature_table.cc
Labels: area/redpanda

#23349 cmake: add serde/protobuf to cmake
  src/v/serde/CMakeLists.txt
  src/v/serde/protobuf/CMakeLists.txt
Labels: area/redpanda

#23346 chore: remove extra semi-colons
  src/v/cluster/data_migration_backend.h
  src/v/cluster/distributed_kv_stm.h
  src/v/storage/tests/backlog_controller_test.cc
  src/v/utils/stable_iterator_adaptor.h
  src/v/utils/tristate.h
Labels: area/redpanda

#23355 bazel: add missing connect dep
  src/go/rpk/pkg/cli/connect/BUILD
Labels: area/rpk, area/build

#23337 `admin`: add `cloud_storage_cache_size` check to `config_multi_property_validation()`
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/cache_service.h
  src/v/redpanda/admin/server.cc
  tests/rptest/tests/cluster_config_test.py
Labels: area/redpanda

#23231 [CORE-7229] `storage`: add tombstone deletion implementation to local storage compaction
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cloud_storage/tests/read_replica_test.cc
  src/v/cluster/archival/tests/async_data_uploader_test.cc
  src/v/cluster/archival/tests/ntp_archiver_reupload_test.cc
  src/v/cluster/archival/tests/ntp_archiver_test.cc
  src/v/cluster/tests/manual_log_deletion_test.cc
  src/v/cluster/tests/tx_compaction_utils.h
  src/v/kafka/server/tests/group_tx_compaction_test.cc
  src/v/kafka/server/tests/produce_consume_utils.cc
  src/v/kafka/server/tests/produce_consume_utils.h
  src/v/model/record.h
  src/v/raft/tests/append_entries_test.cc
  src/v/storage/disk_log_impl.cc
  src/v/storage/index_state.cc
  src/v/storage/index_state.h
  src/v/storage/log_manager.cc
  src/v/storage/opfuzz/opfuzz.cc
  src/v/storage/segment.cc
  src/v/storage/segment_deduplication_utils.cc
  src/v/storage/segment_index.cc
  src/v/storage/segment_index.h
  src/v/storage/segment_utils.cc
  src/v/storage/segment_utils.h
  src/v/storage/tests/compaction_e2e_multinode_test.cc
  src/v/storage/tests/compaction_e2e_test.cc
  src/v/storage/tests/log_truncate_test.cc
  src/v/storage/tests/segment_deduplication_test.cc
  src/v/storage/tests/storage_e2e_fixture_test.cc
  src/v/storage/tests/storage_e2e_test.cc
  src/v/storage/tests/utils/disk_log_builder.cc
  src/v/storage/tests/utils/disk_log_builder.h
  src/v/storage/types.cc
  src/v/storage/types.h
Labels: area/redpanda

#23342 bazel: mark clang-format as a manual target
  tools/BUILD
Labels: area/build

#23319 CORE-7093: debug bundle proc
  src/v/debug_bundle/BUILD
  src/v/debug_bundle/debug_bundle_service.cc
  src/v/debug_bundle/debug_bundle_service.h
  src/v/debug_bundle/error.cc
  src/v/debug_bundle/error.h
  src/v/debug_bundle/tests/debug_bundle_service_test.cc
  src/v/debug_bundle/tests/rpk-shim.sh
  src/v/debug_bundle/types.cc
  src/v/debug_bundle/types.h
Labels: area/build, area/redpanda

#23255 [v24.2.x] tests/shard_placement: fix waiting for shard map consistency
  tests/rptest/tests/shard_placement_test.py
Labels: kind/backport

#23314 [CORE-7152] Admin: Introduce `GET /v1/features/enterprise` endpoint
  src/v/cluster/BUILD
  src/v/cluster/CMakeLists.txt
  src/v/cluster/feature_manager.cc
  src/v/cluster/feature_manager.h
  src/v/features/BUILD
  src/v/features/CMakeLists.txt
  src/v/features/enterprise_features.cc
  src/v/features/enterprise_features.h
  src/v/redpanda/admin/BUILD
  src/v/redpanda/admin/api-doc/features.json
  src/v/redpanda/admin/server.cc
  src/v/redpanda/admin/server.h
  tests/rptest/services/admin.py
  tests/rptest/tests/enterprise_features_license_test.py
Labels: area/build, area/redpanda

#23352 [v24.1.x] rpk connect as a managed plugin
  src/go/rpk/pkg/cli/cloud/byoc/uninstall.go
  src/go/rpk/pkg/cli/connect/client.go
  src/go/rpk/pkg/cli/connect/connect.go
  src/go/rpk/pkg/cli/connect/install.go
  src/go/rpk/pkg/cli/connect/uninstall.go
  src/go/rpk/pkg/cli/connect/upgrade.go
  src/go/rpk/pkg/cli/redpanda/admin/brokers/decommission.go
  src/go/rpk/pkg/cli/root.go
  src/go/rpk/pkg/cobraext/cobraext.go
  src/go/rpk/pkg/cobraext/cobraext_test.go
  src/go/rpk/pkg/httpapi/httpapi.go
  src/go/rpk/pkg/plugin/plugin.go
  src/go/rpk/pkg/redpanda/version.go
  src/go/rpk/pkg/redpanda/version_test.go
  tests/rptest/clients/rpk.py
  tests/rptest/tests/rpk_connect_test.py
Labels: area/rpk

#23351 [v24.2.x] rpk connect as a managed plugin
  src/go/rpk/pkg/cli/cloud/byoc/uninstall.go
  src/go/rpk/pkg/cli/connect/client.go
  src/go/rpk/pkg/cli/connect/connect.go
  src/go/rpk/pkg/cli/connect/install.go
  src/go/rpk/pkg/cli/connect/uninstall.go
  src/go/rpk/pkg/cli/connect/upgrade.go
  src/go/rpk/pkg/cli/redpanda/admin/brokers/decommission.go
  src/go/rpk/pkg/cli/root.go
  src/go/rpk/pkg/cobraext/cobraext.go
  src/go/rpk/pkg/cobraext/cobraext_test.go
  src/go/rpk/pkg/httpapi/httpapi.go
  src/go/rpk/pkg/plugin/plugin.go
  src/go/rpk/pkg/redpanda/version.go
  src/go/rpk/pkg/redpanda/version_test.go
  tests/rptest/clients/rpk.py
  tests/rptest/tests/rpk_connect_test.py
Labels: area/rpk

#23357 [v24.2.x] `admin`: add `cloud_storage_cache_size` check to `config_multi_property_validation()`
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/cache_service.h
  src/v/redpanda/admin/server.cc
  tests/rptest/tests/cluster_config_test.py
Labels: area/redpanda, kind/backport

#23362 [v24.1.x] `admin`: add `cloud_storage_cache_size` check to `config_multi_property_validation()` (manual backport)
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/cache_service.h
  src/v/redpanda/admin/server.cc
  tests/rptest/tests/cluster_config_test.py
Labels: area/redpanda

#23326 Handling linearizable barrier timeout directly in Raft
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/state_machine.cc
Labels: area/redpanda

#23358 archival: skip spillover retention if not collectable
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cluster/archival/ntp_archiver_service.cc
Labels: area/redpanda

#23359 [v24.2.x] archival: skip spillover retention if not collectable
  src/v/archival/ntp_archiver_service.cc
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
Labels: area/redpanda

#23360 [v24.1.x] archival: skip spillover retention if not collectable
  src/v/archival/ntp_archiver_service.cc
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
Labels: area/redpanda

#23361 [v23.3.x] archival: skip spillover retention if not collectable
  src/v/archival/ntp_archiver_service.cc
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
Labels: area/redpanda

#23370 [v24.2.x] `rptest`: add `@skip_fips_mode` decorator
  tests/rptest/services/redpanda.py
  tests/rptest/tests/cluster_self_config_test.py
  tests/rptest/tests/redpanda_startup_test.py
  tests/rptest/utils/mode_checks.py
Labels: kind/backport

#23374 redpanda: rename unsafe log monitor to be more general
  src/v/redpanda/BUILD
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/redpanda/monitor_unsafe.cc
  src/v/redpanda/monitor_unsafe.h
Labels: area/build, area/redpanda

#23376 bazel: add some transform tests
  src/v/transform/BUILD
  src/v/transform/logging/tests/BUILD
  src/v/transform/rpc/tests/BUILD
  src/v/transform/rpc/tests/transform_rpc_test.cc
  src/v/transform/tests/BUILD
  src/v/transform/tests/cluster_fixture.h
  src/v/transform/transfer_queue.h
  src/v/wasm/parser/tests/BUILD
Labels: area/build, area/redpanda, area/wasm

#23368 [v24.2.x] [CORE-7152] Admin: Introduce endpoint
  src/v/cluster/CMakeLists.txt
  src/v/cluster/feature_manager.cc
  src/v/cluster/feature_manager.h
  src/v/features/BUILD
  src/v/features/CMakeLists.txt
  src/v/features/enterprise_features.cc
  src/v/features/enterprise_features.h
  src/v/redpanda/admin/api-doc/features.json
  src/v/redpanda/admin/server.cc
  src/v/redpanda/admin/server.h
  tests/rptest/services/admin.py
  tests/rptest/tests/enterprise_features_license_test.py
Labels: area/redpanda, kind/backport

#23382 storage: rethrow eptr
  src/v/storage/kvstore.cc
Labels: area/redpanda

#23384 `misc`: `std::rethrow_exception()` cleanup
  src/v/config/property.h
  src/v/net/connection.cc
  src/v/net/server.cc
  src/v/raft/consensus.cc
  src/v/storage/segment.cc
Labels: area/redpanda

#23385 cluster: remove allocation domains from the codebase
  src/v/cluster/cluster_utils.cc
  src/v/cluster/cluster_utils.h
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/scheduling/allocation_node.cc
  src/v/cluster/scheduling/allocation_node.h
  src/v/cluster/scheduling/allocation_state.cc
  src/v/cluster/scheduling/allocation_state.h
  src/v/cluster/scheduling/constraints.cc
  src/v/cluster/scheduling/constraints.h
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/cluster/scheduling/partition_allocator.h
  src/v/cluster/scheduling/types.cc
  src/v/cluster/scheduling/types.h
  src/v/cluster/tests/allocation_bench.cc
  src/v/cluster/tests/partition_allocator_fixture.h
  src/v/cluster/tests/partition_allocator_tests.cc
  src/v/cluster/tests/partition_balancer_planner_fixture.h
  src/v/cluster/tests/topic_table_fixture.h
  src/v/cluster/topic_updates_dispatcher.cc
  src/v/cluster/topic_updates_dispatcher.h
  src/v/cluster/topics_frontend.cc
  src/v/cluster/types.h
Labels: area/redpanda

#23216 [v24.2.x] rpk: supports triggering on-demand balancer
  src/go/rpk/pkg/cli/cluster/partitions/balancer_run.go
  src/go/rpk/pkg/cli/cluster/partitions/partitions.go
Labels: area/rpk, kind/backport

#23377 [v24.1.x] Remove some warnings and ignored errors from ducktape log
  tests/rptest/clients/rpk.py
  tests/rptest/services/rpk_producer.py
Labels: kind/backport

#23378 [v24.2.x] Remove some warnings and ignored errors from ducktape log
  tests/rptest/clients/rpk.py
  tests/rptest/services/rpk_producer.py
Labels: kind/backport

#23379 [v23.3.x] Remove some warnings and ignored errors from ducktape log
  tests/rptest/clients/rpk.py
  tests/rptest/services/rpk_producer.py
Labels: kind/backport

#23207 Migrations (topic un-/mount) high level api implementation
  src/v/cluster/data_migrated_resources.cc
  src/v/cluster/data_migration_backend.cc
  src/v/cluster/data_migration_backend.h
  src/v/cluster/data_migration_table.cc
  src/v/cluster/data_migration_types.cc
  src/v/cluster/data_migration_types.h
  src/v/redpanda/admin/api-doc/migration.def.json
  src/v/redpanda/admin/migrations.cc
  src/v/redpanda/admin/topics.cc
  tests/rptest/services/admin.py
  tests/rptest/tests/data_migrations_api_test.py
Labels: area/build, area/redpanda

#23395 [v24.1.x] rpk: supports triggering on-demand balancer
  src/go/rpk/pkg/adminapi/api_partition.go
  src/go/rpk/pkg/cli/cluster/partitions/balancer_run.go
  src/go/rpk/pkg/cli/cluster/partitions/partitions.go
Labels: area/rpk, kind/backport

#23394 iceberg: miscellaneous changes, copy methods
  src/v/iceberg/BUILD
  src/v/iceberg/datatypes.cc
  src/v/iceberg/datatypes.h
  src/v/iceberg/manifest_list.h
  src/v/iceberg/partition.h
  src/v/iceberg/schema.h
  src/v/iceberg/schema_json.cc
  src/v/iceberg/snapshot.h
  src/v/iceberg/snapshot_json.cc
  src/v/iceberg/table_requirement.h
  src/v/iceberg/tests/datatypes_test.cc
  src/v/iceberg/tests/partition_test.cc
  src/v/iceberg/tests/schema_test.cc
  src/v/iceberg/tests/snapshot_json_test.cc
Labels: area/build, area/redpanda

#22972 CORE-7000: Node ID/UUID Override
  src/v/config/BUILD
  src/v/config/CMakeLists.txt
  src/v/config/convert.h
  src/v/config/node_config.cc
  src/v/config/node_config.h
  src/v/config/node_overrides.cc
  src/v/config/node_overrides.h
  src/v/config/property.h
  src/v/config/rjson_serialization.cc
  src/v/config/rjson_serialization.h
  src/v/config/tests/CMakeLists.txt
  src/v/config/tests/node_override_test.cc
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/utils/uuid.cc
  src/v/utils/uuid.h
  tests/rptest/services/redpanda.py
  tests/rptest/tests/admin_uuid_operations_test.py
Labels: area/build, area/redpanda

#23406 config: Make clang-format happy
  src/v/config/node_overrides.cc
Labels: area/redpanda

#23389 kafka/protocol: use uint32_t for crc decoding in the header
  src/v/kafka/protocol/kafka_batch_adapter.cc
  src/v/kafka/protocol/kafka_batch_adapter.h
  src/v/model/adl_serde.h
  src/v/model/record.h
  src/v/model/record_utils.cc
  src/v/model/record_utils.h
  src/v/storage/record_batch_utils.cc
Labels: area/redpanda

#23407 `archival`: use `log_level_for_error()` for failed reupload candidates
  src/v/cluster/archival/ntp_archiver_service.cc
Labels: area/redpanda

#23411 bazel: test backfill for storage
  src/v/storage/tests/BUILD
  src/v/storage/tests/record_batch_builder_test.cc
  src/v/storage/tests/snapshot_test.cc
Labels: area/build, area/redpanda

#23419 transform: fix narrowing integer conversion warning
  src/v/transform/rpc/tests/transform_rpc_test.cc
Labels: area/redpanda, area/wasm
