Repository redpanda-data/redpanda, pull requests merged in 2024-12, with the labels that each got.

#24348 [v24.3.x] c/balancer_planner: check if topic exists in node count map
  src/v/cluster/partition_balancer_planner.cc
Labels: area/redpanda, kind/backport

#23919 ct: Add `write_pipeline` and `throttler` components
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/batcher/BUILD
  src/v/cloud_topics/batcher/aggregator.cc
  src/v/cloud_topics/batcher/aggregator.h
  src/v/cloud_topics/batcher/batcher.cc
  src/v/cloud_topics/batcher/batcher.h
  src/v/cloud_topics/batcher/tests/BUILD
  src/v/cloud_topics/batcher/tests/aggregator_test.cc
  src/v/cloud_topics/batcher/tests/batcher_test.cc
  src/v/cloud_topics/core/BUILD
  src/v/cloud_topics/core/README.md
  src/v/cloud_topics/core/event_filter.h
  src/v/cloud_topics/core/pipeline_stage.cc
  src/v/cloud_topics/core/pipeline_stage.h
  src/v/cloud_topics/core/serializer.cc
  src/v/cloud_topics/core/serializer.h
  src/v/cloud_topics/core/tests/BUILD
  src/v/cloud_topics/core/tests/event_filter_test.cc
  src/v/cloud_topics/core/tests/serializer_test.cc
  src/v/cloud_topics/core/tests/write_pipeline_test.cc
  src/v/cloud_topics/core/tests/write_request_test.cc
  src/v/cloud_topics/core/write_pipeline.cc
  src/v/cloud_topics/core/write_pipeline.h
  src/v/cloud_topics/core/write_request.cc
  src/v/cloud_topics/core/write_request.h
  src/v/cloud_topics/throttler/BUILD
  src/v/cloud_topics/throttler/tests/BUILD
  src/v/cloud_topics/throttler/tests/throttler_test.cc
  src/v/cloud_topics/throttler/throttler.cc
  src/v/cloud_topics/throttler/throttler.h
Labels: area/build, area/redpanda

#24365 [v24.2.x] archival: consistent log size probes across replicas (pull)
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/archival/probe.cc
  src/v/archival/probe.h
  tests/rptest/tests/usage_test.py
Labels: area/redpanda, kind/backport

#24366 model: bazelize some tests
  src/v/model/tests/BUILD
Labels: area/build, area/redpanda

#24384 rpc: bazelize some tests
  src/v/rpc/test/BUILD
Labels: area/build, area/redpanda

#24355 parquet: introduce stats collection
  src/v/bytes/iobuf.cc
  src/v/bytes/iobuf.h
  src/v/bytes/tests/iobuf_tests.cc
  src/v/serde/parquet/BUILD
  src/v/serde/parquet/CMakeLists.txt
  src/v/serde/parquet/column_stats_collector.cc
  src/v/serde/parquet/column_stats_collector.h
  src/v/serde/parquet/column_writer.cc
  src/v/serde/parquet/encoding.cc
  src/v/serde/parquet/encoding.h
  src/v/serde/parquet/metadata.cc
  src/v/serde/parquet/metadata.h
  src/v/serde/parquet/tests/BUILD
  src/v/serde/parquet/tests/column_stats_collector_test.cc
  src/v/serde/parquet/tests/generate_file.cc
  src/v/serde/parquet/tests/generate_metadata.cc
  src/v/serde/parquet/value.h
  src/v/serde/parquet/writer.cc
  src/v/serde/parquet/writer.h
  src/v/serde/thrift/compact.cc
  src/v/serde/thrift/compact.h
  src/v/serde/thrift/tests/compact_test.cc
  src/v/test_utils/go/parquet_metadata_verifier/main.go
Labels: area/build, area/redpanda

#23524 [v24.1.x] utils: fix container-overflow in tracking allocator
  src/v/utils/tracking_allocator.cc
Labels: area/redpanda, kind/backport

#24369 rpk: fix --help in `byoc` and `user update`
  src/go/rpk/pkg/cli/cloud/byoc/byoc.go
  src/go/rpk/pkg/cli/security/user/update.go
Labels: area/rpk

#24388 serde: remove serde.h
  src/v/compat/check.h
  src/v/model/tests/transform_test.cc
  src/v/raft/tests/heartbeat_bench.cc
  src/v/rpc/test/rpc_gen_cycling_test.cc
  src/v/rpc/test/rpc_gen_types.h
  src/v/serde/serde.h
  src/v/serde/test/struct_gen.py
Labels: area/redpanda

#24395 [v24.3.x] parquet: introduce stats collection
  src/v/bytes/iobuf.cc
  src/v/bytes/iobuf.h
  src/v/bytes/tests/iobuf_tests.cc
  src/v/serde/parquet/BUILD
  src/v/serde/parquet/CMakeLists.txt
  src/v/serde/parquet/column_stats_collector.cc
  src/v/serde/parquet/column_stats_collector.h
  src/v/serde/parquet/column_writer.cc
  src/v/serde/parquet/encoding.cc
  src/v/serde/parquet/encoding.h
  src/v/serde/parquet/metadata.cc
  src/v/serde/parquet/metadata.h
  src/v/serde/parquet/tests/BUILD
  src/v/serde/parquet/tests/column_stats_collector_test.cc
  src/v/serde/parquet/tests/generate_file.cc
  src/v/serde/parquet/tests/generate_metadata.cc
  src/v/serde/parquet/value.h
  src/v/serde/parquet/writer.cc
  src/v/serde/parquet/writer.h
  src/v/serde/thrift/compact.cc
  src/v/serde/thrift/compact.h
  src/v/serde/thrift/tests/compact_test.cc
  src/v/test_utils/go/parquet_metadata_verifier/main.go
Labels: area/build, area/redpanda, kind/backport

#24394 [v24.3.x] [CORE-8338] `rptest`: add `timeout` to `_polaris_ready()` check
  tests/rptest/services/polaris_catalog.py
  tests/rptest/tests/polaris_catalog_smoke_test.py
Labels: kind/backport

#24397 [v24.2.x] rpk: fix --help in `byoc` and `user update`
  src/go/rpk/pkg/cli/cloud/byoc/byoc.go
  src/go/rpk/pkg/cli/security/user/update.go
Labels: area/rpk, kind/backport

#24376 feature_table: Add v25.1 version
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/features/tests/feature_table_test.cc
Labels: area/redpanda

#24408 [v24.3.x] rptest/s: continue waiting for manifest uploads after MaxRetryError
  tests/rptest/services/redpanda.py
  tests/rptest/tests/random_node_operations_test.py
Labels: kind/backport

#24413 gha: use full major.minor.patch version ID
  .github/workflows/promote.yml
Labels: area/build

#24411 [v24.3.x] rptest: await all replicas to recover before validation
  tests/rptest/tests/topic_recovery_test.py
  tests/rptest/utils/si_utils.py
Labels: kind/backport

#24405 [v24.3.x] datalake/tests: deflake max_translated_offset utility
  tests/rptest/tests/datalake/datalake_services.py
  tests/rptest/tests/datalake/query_engine_base.py
Labels: kind/backport

#24323 `storage`: reset compaction window start offset when offset map isn't built
  src/v/storage/disk_log_impl.cc
  src/v/storage/tests/compaction_e2e_test.cc
Labels: area/redpanda

#24398 [v24.1.x] rpk: fix --help in `byoc` and `user update`
  src/go/rpk/pkg/adminapi/api_broker.go
  src/go/rpk/pkg/cli/cloud/byoc/byoc.go
  src/go/rpk/pkg/cli/security/user/update.go
Labels: area/rpk, kind/backport

#24424 [v24.3.x] `storage`: reset compaction window start offset when offset map isn't built
  src/v/storage/disk_log_impl.cc
  src/v/storage/tests/compaction_e2e_test.cc
Labels: area/redpanda, kind/backport

#24425 add coverage configuration
  .bazelrc
Labels: area/redpanda

#24429 [v24.1.x] sr/avro: fix missing default compat check for null (v2)
  src/v/pandaproxy/schema_registry/avro.cc
  src/v/pandaproxy/schema_registry/test/compatibility_avro.cc
Labels: area/redpanda, kind/backport

#24430 [v24.3.x] sr/avro: fix missing default compat check for null (v2)
  src/v/pandaproxy/schema_registry/avro.cc
  src/v/pandaproxy/schema_registry/test/compatibility_avro.cc
Labels: area/redpanda, kind/backport

#24387 rpk: add --format flag to `rpk topic describe`
  src/go/rpk/pkg/cli/topic/BUILD
  src/go/rpk/pkg/cli/topic/describe.go
  src/go/rpk/pkg/cli/topic/describe_test.go
  src/go/rpk/pkg/config/format.go
Labels: area/rpk, area/build

#24434 archival: calculate time based retention from first addressable segment
  src/v/cluster/archival/retention_calculator.cc
Labels: area/redpanda

#24403 leader_balancer: implement and use even_node_load_constraint
  src/v/cluster/scheduling/leader_balancer_constraints.cc
  src/v/cluster/scheduling/leader_balancer_constraints.h
  src/v/cluster/scheduling/leader_balancer_random.h
  src/v/cluster/tests/leader_balancer_constraints_test.cc
  src/v/cluster/tests/leader_balancer_test_utils.h
  tests/rptest/tests/leadership_transfer_test.py
Labels: area/redpanda

#24438 [v24.3.x] rpk: add --format flag to `rpk topic describe`
  src/go/rpk/pkg/cli/topic/BUILD
  src/go/rpk/pkg/cli/topic/describe.go
  src/go/rpk/pkg/cli/topic/describe_test.go
  src/go/rpk/pkg/config/format.go
Labels: area/rpk, area/build, kind/backport

#24440 [v24.3.x] leader_balancer: implement and use even_node_load_constraint
  src/v/cluster/scheduling/leader_balancer_constraints.cc
  src/v/cluster/scheduling/leader_balancer_constraints.h
  src/v/cluster/scheduling/leader_balancer_random.h
  src/v/cluster/tests/leader_balancer_constraints_test.cc
  src/v/cluster/tests/leader_balancer_test_utils.h
  tests/rptest/tests/leadership_transfer_test.py
Labels: area/redpanda, kind/backport

#24409 cluster: exclude internal topics from check_cluster_limits
  src/v/cluster/scheduling/allocation_node.cc
  src/v/cluster/scheduling/allocation_node.h
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/cluster/scheduling/partition_allocator.h
  src/v/cluster/tests/partition_allocator_fixture.h
  src/v/cluster/tests/partition_allocator_tests.cc
Labels: area/redpanda

#24421 config: iceberg_enabled should not be enterprise
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

#24443 [v24.3.x] config: iceberg_enabled should not be enterprise
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda, kind/backport

#24439 [CORE-6992] cloud_storage_clients/abs_client: use item filter in list_objects
  src/v/cloud_storage_clients/abs_client.cc
  tests/rptest/tests/remote_label_test.py
Labels: area/redpanda

#24179 Datalake in Random Node Operations test
  src/v/datalake/datalake_manager.cc
  tests/rptest/tests/random_node_operations_test.py
  tests/rptest/utils/node_operations.py
Labels: area/build, area/redpanda

#24404 raft/c: fix an indefinite hang in transfer leadership
  src/v/raft/recovery_stm.cc
  src/v/raft/types.cc
Labels: area/redpanda

#24378 CORE-8394 cluster: consider shard0 reserve in check_cluster_limits
  src/v/cluster/scheduling/partition_allocator.cc
Labels: area/redpanda

#24454 [v24.2.x] [CORE-6992] cloud_storage_clients/abs_client: use item filter in list_objects
  src/v/cloud_storage_clients/abs_client.cc
  tests/rptest/tests/remote_label_test.py
Labels: area/redpanda, kind/backport

#24455 [v24.3.x] [CORE-6992] cloud_storage_clients/abs_client: use item filter in list_objects
  src/v/cloud_storage_clients/abs_client.cc
  tests/rptest/tests/remote_label_test.py
Labels: area/redpanda, kind/backport

#24453 [v24.3.x] [CORE-8081] rptest: fix config_profile_verify_test null handling
  tests/rptest/redpanda_cloud_tests/config_profile_verify_test.py
Labels: kind/backport

#24452 [v24.1.x] [CORE-8081] rptest: fix config_profile_verify_test null handling
  tests/rptest/redpanda_cloud_tests/config_profile_verify_test.py
Labels: kind/backport

#24458 [v24.3.x] raft/c: fix an indefinite hang in transfer leadership
  src/v/raft/recovery_stm.cc
  src/v/raft/types.cc
Labels: area/redpanda, kind/backport

#24456 [v24.3.x] Datalake in Random Node Operations test
  src/v/datalake/datalake_manager.cc
  tests/rptest/tests/random_node_operations_test.py
  tests/rptest/utils/node_operations.py
Labels: area/redpanda, kind/backport

#24463 iceberg: fix decimal type json writer
  src/v/iceberg/datatypes_json.cc
Labels: area/redpanda

#24459 [v24.2.x] raft/c: fix an indefinite hang in transfer leadership
  src/v/raft/recovery_stm.cc
  src/v/raft/types.cc
Labels: area/redpanda, kind/backport

#24457 [v24.1.x] raft/c: fix an indefinite hang in transfer leadership
  src/v/raft/recovery_stm.cc
  src/v/raft/types.cc
Labels: area/redpanda, kind/backport

#24467 [v24.3.x] iceberg: fix decimal type json writer
  src/v/iceberg/datatypes_json.cc
Labels: area/redpanda, kind/backport

#24380 [v24.3.x] tests: added missing timeout setting in partition reconfiguration test
  tests/rptest/tests/partition_force_reconfiguration_test.py
Labels: kind/backport

#24383 [v24.3.x] tests: wrapped querying high watermark with exception handler
  tests/rptest/transactions/tx_atomic_produce_consume_test.py
Labels: kind/backport

#24392 [v24.3.x] tests: made fast partition movement test a bit more tolerant
  tests/rptest/tests/scaling_up_test.py
Labels: kind/backport

#24373 bazel: Enable LTO for redpanda
  .bazelrc
  bazel/build.bzl
  bazel/thirdparty/krb5.BUILD
  src/v/redpanda/BUILD
Labels: area/build, area/redpanda

#24292 [v24.3.x] [CORE-7257] cloud_storage: Remove assertion in `remote_segment`
  src/v/cloud_storage/cache_service.h
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/tests/cloud_storage_fixture.h
  src/v/cloud_storage/tests/remote_segment_test.cc
Labels: area/redpanda, kind/backport

#24471 [v24.3.x] Migrations check license
  src/v/cluster/data_migration_frontend.cc
  src/v/cluster/data_migration_frontend.h
  tests/rptest/tests/data_migrations_api_test.py
Labels: area/redpanda, kind/backport

#24470 Removed Arrow and Parquet libraries dependency
  install-dependencies.sh
  licenses/third_party.md
  src/v/datalake/BUILD
  src/v/datalake/CMakeLists.txt
  src/v/datalake/arrow_translator.cc
  src/v/datalake/arrow_translator.h
  src/v/datalake/arrow_writer.cc
  src/v/datalake/arrow_writer.h
  src/v/datalake/batching_parquet_writer.cc
  src/v/datalake/batching_parquet_writer.h
  src/v/datalake/errors.h
  src/v/datalake/tests/CMakeLists.txt
  src/v/datalake/tests/arrow_writer_test.cc
  src/v/datalake/tests/batching_parquet_writer_test.cc
  src/v/datalake/tests/gtest_record_multiplexer_test.cc
  src/v/datalake/tests/parquet_writer_test.cc
  src/v/datalake/tests/translation_task_test.cc
  src/v/redpanda/BUILD
  src/v/redpanda/application.cc
  tests/docker/ducktape-deps/ocsf-server
  ubsan_suppressions.txt
Labels: area/build, area/redpanda

#24450 Handling missing features in snapshot
  src/v/cluster/feature_backend.h
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/features/feature_table_snapshot.cc
  src/v/features/tests/feature_table_test.cc
Labels: area/redpanda

#23960 ct: dl_stm mvcc snapshot
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/CMakeLists.txt
  src/v/cloud_topics/dl_snapshot.cc
  src/v/cloud_topics/dl_snapshot.h
  src/v/cloud_topics/dl_stm/BUILD
  src/v/cloud_topics/dl_stm/dl_stm.cc
  src/v/cloud_topics/dl_stm/dl_stm_api.cc
  src/v/cloud_topics/dl_stm/dl_stm_api.h
  src/v/cloud_topics/dl_stm/dl_stm_commands.h
  src/v/cloud_topics/dl_stm/dl_stm_state.cc
  src/v/cloud_topics/dl_stm/dl_stm_state.h
  src/v/cloud_topics/dl_stm/tests/BUILD
  src/v/cloud_topics/dl_stm/tests/dl_stm_state_test.cc
  src/v/cloud_topics/dl_stm/tests/dl_stm_test.cc
  src/v/cloud_topics/types.cc
  src/v/cloud_topics/types.h
  src/v/cluster/partition.cc
Labels: area/build, area/redpanda

#24473 bazel: Updated seastar ref
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: area/build

#24442 bazel: Update protobuf to v29.0
  MODULE.bazel
  MODULE.bazel.lock
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/redpanda/application.cc
Labels: area/build, area/redpanda

#24482 gha: use setup-python v5
  .github/workflows/render-pr-body-release-notes.yml
Labels: area/build

#24436 cluster: reject writes only when data disk is degraded
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
  src/v/cluster/health_monitor_frontend.cc
  src/v/cluster/health_monitor_frontend.h
  src/v/cluster/metadata_cache.cc
  tests/rptest/tests/full_disk_test.py
Labels: area/redpanda

#24484 [v24.2.x] cluster: reject writes only when data disk is degraded
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
  src/v/cluster/health_monitor_frontend.cc
  src/v/cluster/health_monitor_frontend.h
  src/v/cluster/metadata_cache.cc
  tests/rptest/tests/full_disk_test.py
Labels: area/redpanda, kind/backport

#24486 [v24.3.x] cluster: reject writes only when data disk is degraded
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
  src/v/cluster/health_monitor_frontend.cc
  src/v/cluster/health_monitor_frontend.h
  src/v/cluster/metadata_cache.cc
  tests/rptest/tests/full_disk_test.py
Labels: area/redpanda, kind/backport

#24485 [v24.1.x] cluster: reject writes only when data disk is degraded
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
  src/v/cluster/health_monitor_frontend.cc
  src/v/cluster/health_monitor_frontend.h
  src/v/cluster/metadata_cache.cc
  tests/rptest/tests/full_disk_test.py
Labels: area/redpanda, kind/backport

#24448 [v24.3.x] `rptest`: deflake `max_translated_offset()`
  tests/rptest/tests/datalake/datalake_services.py
Labels: kind/backport

#24400 rpc: bazelize rpc_gen_cycling_test
  bazel/cert.bzl
  bazel/thirdparty/openssl.BUILD
  src/v/rpc/compiler.bzl
  src/v/rpc/test/BUILD
  src/v/rpc/test/cycling_service.json
  src/v/rpc/test/echo_service.json
  src/v/rpc/test/echo_v2_service.json
  src/v/rpc/test/rpc_gen_cycling_test.cc
Labels: area/build, area/redpanda

#24487 bazel: patch protobuf warning
  MODULE.bazel
  bazel/thirdparty/protobuf_capture_warning.patch
Labels: area/build

#24489 test: redirect boost test output under bazel
  bazel/test.bzl
  src/v/test_utils/BUILD
  src/v/test_utils/boost_result_redirect.cc
Labels: area/build, area/redpanda

#24444 bazel: upgrade to c++23
  .bazelrc
  .bazelversion
  CMakeLists.txt
  MODULE.bazel
  MODULE.bazel.lock
  src/v/cloud_topics/core/pipeline_stage.h
  src/v/cluster/tm_stm_types.cc
  src/v/cluster/tm_stm_types.h
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/tx_protocol_types.cc
  src/v/cluster/tx_protocol_types.h
  src/v/crypto/ossl_context_service.cc
  src/v/serde/serde_is_enum.h
  src/v/utils/tests/tracking_allocator_tests.cc
  src/v/utils/tracking_allocator.h
Labels: area/build, area/redpanda, area/wasm

#24475 iobuf: update the allocator schedule
  src/v/bytes/details/io_allocation_size.h
  src/v/bytes/tests/iobuf_tests.cc
Labels: area/redpanda

#24476 c/partition_recovery_manager: avoid oversized allocations when logging
  src/v/cluster/partition_recovery_manager.cc
Labels: area/redpanda

#24461 [v24.3.x] CORE-8394 cluster: consider shard0 reserve in check_cluster_limits
  src/v/cluster/scheduling/allocation_node.cc
  src/v/cluster/scheduling/allocation_node.h
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/cluster/scheduling/partition_allocator.h
  src/v/cluster/tests/partition_allocator_fixture.h
  src/v/cluster/tests/partition_allocator_tests.cc
Labels: area/redpanda, kind/backport

#24187 `rptest`: add `log_compaction_test.py`
  src/v/storage/disk_log_impl.cc
  src/v/storage/probe.cc
  src/v/storage/probe.h
  src/v/storage/segment_deduplication_utils.cc
  src/v/storage/segment_utils.cc
  src/v/storage/segment_utils.h
  tests/docker/ducktape-deps/kgo-verifier
  tests/rptest/clients/kafka_cli_tools.py
  tests/rptest/services/kgo_verifier_services.py
  tests/rptest/tests/log_compaction_test.py
Labels: area/redpanda

#23878 Add storage_e2e_single_threaded test in bazel
  src/v/storage/tests/BUILD
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/build, area/redpanda

#24500 [v24.3.x] `storage`: check for `may_have_tombstones` in `self_compact_segment` (manual backport)
  src/v/storage/segment_utils.cc
Labels: area/redpanda

#24498 bazel: update target for openssl executable
  bazel/cert.bzl
  bazel/thirdparty/openssl.BUILD
Labels: area/build

#24462 [v24.2.x] CORE-8394 cluster: consider shard0 reserve in check_cluster_limits
  src/v/cluster/scheduling/allocation_node.cc
  src/v/cluster/scheduling/allocation_node.h
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/cluster/scheduling/partition_allocator.h
  src/v/cluster/tests/partition_allocator_fixture.h
  src/v/cluster/tests/partition_allocator_tests.cc
Labels: area/redpanda, kind/backport

#24509 base: Rename assert-unreachable logger to assert
  src/v/base/unreachable.h
Labels: area/redpanda

#24497 rpk: update help description to match docs
  src/go/rpk/pkg/cli/cluster/partitions/move.go
Labels: area/rpk

#24518 gha: add permissions for jira_issue_manage to write issue
  .github/workflows/jira_issue_manage.yml
Labels: area/build

#24516 [v24.3.x] `rptest`: make check for `None` explicit
  tests/rptest/tests/datalake/datalake_services.py
Labels: kind/backport

#24515 [v24.3.x] Updated minio
  tests/docker/docker-compose.yml
Labels: kind/backport

#24530 [v24.3.x] tests/setup: update ducktape to 0.12
  tests/setup.py
Labels: kind/backport

#24534 cloud_io: Treat 'unknown' backend as a valid case
  src/v/cloud_io/remote.cc
Labels: area/redpanda

#24446 Test datalake with recovery mode and disabled partitions
  src/v/redpanda/application.cc
  tests/rptest/tests/datalake/recovery_mode_test.py
Labels: area/redpanda

#24538 [v24.3.x] cloud_io: Treat 'unknown' backend as a valid case
  src/v/cloud_io/remote.cc
Labels: area/redpanda, kind/backport

#24512 `storage`: log on clamped `segment.ms` value
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda

#24535 http: Handle nested exception correctly
  src/v/cloud_storage_clients/util.cc
Labels: area/redpanda

#24494 Half chunk cache memory reservations
  src/v/redpanda/application.cc
  src/v/resource_mgmt/memory_groups.cc
  src/v/resource_mgmt/tests/memory_groups_test.cc
  src/v/storage/BUILD
  src/v/storage/chunk_cache.cc
  src/v/storage/chunk_cache.h
  src/v/storage/tests/log_segment_appender_test.cc
Labels: area/build, area/redpanda

#24410 Made reconfiguration cancel in Raft symmetric
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/group_configuration.cc
  src/v/raft/group_configuration.h
  src/v/raft/tests/BUILD
  src/v/raft/tests/CMakeLists.txt
  src/v/raft/tests/configuration_serialization_test.cc
  src/v/raft/tests/group_configuration_tests.cc
Labels: area/build, area/redpanda

#24540 [v24.2.x] rm_stm/tests: add a stress test for concurrent eviction / replication / snapshot
  src/v/cluster/producer_state_manager.cc
  src/v/cluster/producer_state_manager.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/rm_stm_test_fixture.h
  src/v/cluster/tests/rm_stm_tests.cc
  src/v/cluster/tests/tx_compaction_tests.cc
Labels: kind/backport

#24547 [v24.3.x] http: Handle nested exception correctly
  src/v/cloud_storage_clients/util.cc
Labels: area/redpanda, kind/backport

#24521 raft/tests/reconfiguration: allow more memory
  src/v/raft/tests/BUILD
  src/v/raft/tests/CMakeLists.txt
Labels: area/build, area/redpanda

#24526 [v24.3.x] rm_stm/tests: add a stress test for concurrent eviction / replication / snapshots
  src/v/cluster/producer_state_manager.cc
  src/v/cluster/producer_state_manager.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/rm_stm_test_fixture.h
  src/v/cluster/tests/rm_stm_tests.cc
  src/v/cluster/tests/tx_compaction_tests.cc
Labels: area/redpanda, kind/backport

#24507 Re-add partition manifest logging
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cluster/partition_recovery_manager.cc
Labels: area/redpanda

#24483 [CORE-7058]: `storage`: fix race condition in `segment::release_appender_in_background()`
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/segment.cc
  src/v/storage/tests/storage_e2e_fixture.h
  src/v/storage/tests/storage_e2e_fixture_test.cc
Labels: area/redpanda

#24549 [v24.3.x] Test datalake with recovery mode and disabled partitions
  src/v/redpanda/application.cc
  tests/rptest/tests/datalake/recovery_mode_test.py
Labels: area/redpanda, kind/backport

#24556 datalake: fix potential skipped leadership notification
  src/v/datalake/datalake_manager.cc
  src/v/datalake/datalake_manager.h
Labels: area/redpanda

#24559 [v24.2.x] [CORE-7058]: `storage`: fix race condition in `segment::release_appender_in_background()`
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/segment.cc
  src/v/storage/tests/storage_e2e_fixture.h
  src/v/storage/tests/storage_e2e_fixture_test.cc
Labels: area/redpanda, kind/backport

#24544 `config`: disable bounded property checks with environment variable
  src/v/config/bounded_property.h
  tests/rptest/tests/cluster_config_test.py
Labels: area/redpanda

#24542 [v24.1.x] rm_stm/tests: add a stress test for concurrent eviction / replication / snapshots
  src/v/cluster/producer_state_manager.cc
  src/v/cluster/producer_state_manager.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/rm_stm_test_fixture.h
  src/v/cluster/tests/rm_stm_tests.cc
  src/v/cluster/tests/tx_compaction_tests.cc
  src/v/ssx/include/ssx/future-util.h
Labels: kind/backport

#24563 [v24.3.x] dl/coordinator: add debug logging in coordinator
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/datalake/coordinator/state_machine.cc
  src/v/datalake/coordinator/state_update.cc
  src/v/datalake/coordinator/state_update.h
Labels: area/redpanda, kind/backport

#24480 [UX-53] rpk: add well-known protobuf types to rpk
  .github/workflows/rpk-build.yml
  src/go/rpk/pkg/serde/BUILD
  src/go/rpk/pkg/serde/embed/BUILD
  src/go/rpk/pkg/serde/embed/embed.go
  src/go/rpk/pkg/serde/embed/embed_test.go
  src/go/rpk/pkg/serde/embed/protobuf/.clang-format
  src/go/rpk/pkg/serde/embed/protobuf/confluent/meta.proto
  src/go/rpk/pkg/serde/embed/protobuf/confluent/types/decimal.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/README.md
  src/go/rpk/pkg/serde/embed/protobuf/google/type/calendar_period.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/color.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/date.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/datetime.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/dayofweek.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/decimal.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/expr.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/fraction.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/interval.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/latlng.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/localized_text.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/money.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/month.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/phone_number.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/postal_address.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/quaternion.proto
  src/go/rpk/pkg/serde/embed/protobuf/google/type/timeofday.proto
  src/go/rpk/pkg/serde/proto.go
  src/go/rpk/pkg/serde/proto_test.go
  src/v/pandaproxy/BUILD
  tests/rptest/clients/rpk.py
  tests/rptest/tests/rpk_registry_test.py
Labels: area/rpk, area/build, area/redpanda

#24572 datalake/translator: ensure cleanup of log reader in all cases
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
Labels: area/redpanda

#24568 datalake/metrics: miscellaneous improvements to lag metrics
  src/v/cluster/partition_probe.cc
  src/v/cluster/partition_probe.h
  src/v/datalake/coordinator/types.h
  tests/rptest/tests/datalake/datalake_e2e_test.py
Labels: area/redpanda

#24575 [v24.3.x] datalake/metrics: miscellaneous improvements to lag metrics
  src/v/cluster/partition_probe.cc
  src/v/cluster/partition_probe.h
  src/v/datalake/coordinator/types.h
  tests/rptest/tests/datalake/datalake_e2e_test.py
Labels: area/redpanda, kind/backport

#24576 [v24.3.x] datalake/translator: ensure cleanup of log reader in all cases
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
Labels: area/redpanda

#24570 [CORE-8533] relax topic configs
  src/v/cluster/topics_frontend.cc
  src/v/config/property.h
  src/v/config/tests/enterprise_property_test.cc
  src/v/kafka/server/tests/alter_config_test.cc
  src/v/kafka/server/tests/create_partition_test.cc
  src/v/kafka/server/tests/create_topics_test.cc
  tests/rptest/tests/license_enforcement_test.py
Labels: area/redpanda

#24584 [v24.2.x] admin: show leader id in /v1/cluster/partitions response
  src/v/redpanda/admin/server.cc
Labels: area/redpanda, kind/backport

#24585 [v24.3.x] admin: show leader id in /v1/cluster/partitions response
  src/v/redpanda/admin/server.cc
Labels: area/redpanda, kind/backport

#24577 [v24.3.x] Redpanda Connect in ducktape
  tests/rptest/services/redpanda_connect.py
  tests/rptest/tests/redpanda_connect_test.py
Labels: kind/backport

#24588 [v24.3.x] [CORE-8533] relax topic configs
  src/v/cluster/topics_frontend.cc
  src/v/config/property.h
  src/v/config/tests/enterprise_property_test.cc
  src/v/kafka/server/tests/alter_config_test.cc
  src/v/kafka/server/tests/create_partition_test.cc
  src/v/kafka/server/tests/create_topics_test.cc
  tests/rptest/tests/license_enforcement_test.py
Labels: area/redpanda, kind/backport

#24553 r/buffered_protocol: added a missing call to setup metrics
  src/v/raft/buffered_protocol.cc
Labels: area/redpanda

#24564 pandaproxy: add missing internal metrics
  src/v/pandaproxy/probe.cc
  src/v/pandaproxy/probe.h
Labels: area/redpanda

#24589 [v24.3.x] tests/polaris: use curl to query polaris catalog health check
  tests/rptest/services/polaris_catalog.py
Labels: kind/backport

#24537 pandaproxy: add max memory check for incoming requests
  src/v/pandaproxy/probe.cc
  src/v/pandaproxy/probe.h
  src/v/pandaproxy/reply.h
  src/v/pandaproxy/rest/proxy.cc
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/server.cc
  src/v/pandaproxy/server.h
  tests/rptest/tests/pandaproxy_test.py
Labels: area/redpanda

#24581 fmt: remove formatter workaround for old fmt
  src/v/ssx/sformat.h
Labels: area/redpanda

#24597 pandaproxy: bazelize tests
  src/v/kafka/client/test/BUILD
  src/v/pandaproxy/json/requests/test/BUILD
  src/v/pandaproxy/json/test/BUILD
  src/v/pandaproxy/parsing/test/BUILD
  src/v/pandaproxy/rest/test/BUILD
  src/v/pandaproxy/rest/test/produce.cc
  src/v/pandaproxy/schema_registry/requests/test/BUILD
  src/v/pandaproxy/schema_registry/test/BUILD
  src/v/pandaproxy/schema_registry/test/avro_payloads.h
  src/v/pandaproxy/test/BUILD
  src/v/pandaproxy/test/pandaproxy_fixture.h
Labels: area/build, area/redpanda

#24506 storage: Reduce default read-ahead count
  src/v/cloud_storage/tests/remote_partition_fuzz_test.cc
  src/v/config/configuration.cc
Labels: area/redpanda

#24591 [v24.3.x] pandaproxy: add missing internal metrics
  src/v/pandaproxy/probe.cc
  src/v/pandaproxy/probe.h
Labels: area/redpanda, kind/backport

#24599 [v24.2.x] pandaproxy: add missing internal metrics
  src/v/pandaproxy/probe.cc
  src/v/pandaproxy/probe.h
Labels: area/redpanda

#24586 config: bazelize unit tests
  src/v/config/tests/BUILD
  src/v/config/tests/enterprise_property_test.cc
  src/v/config/tests/throughput_control_group_test.cc
Labels: area/build, area/redpanda

#24603 [v24.3.x] pandaproxy: add max memory check for incoming requests
  src/v/pandaproxy/probe.cc
  src/v/pandaproxy/probe.h
  src/v/pandaproxy/reply.h
  src/v/pandaproxy/rest/proxy.cc
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/server.cc
  src/v/pandaproxy/server.h
  tests/rptest/tests/pandaproxy_test.py
Labels: area/redpanda, kind/backport

#24604 [v24.2.x] pandaproxy: add max memory check for incoming requests
  src/v/pandaproxy/probe.cc
  src/v/pandaproxy/probe.h
  src/v/pandaproxy/reply.h
  src/v/pandaproxy/rest/proxy.cc
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/server.cc
  src/v/pandaproxy/server.h
  tests/rptest/tests/pandaproxy_test.py
Labels: area/redpanda, kind/backport

#24605 [v24.1.x] pandaproxy: add max memory check for incoming requests
  src/v/pandaproxy/probe.cc
  src/v/pandaproxy/probe.h
  src/v/pandaproxy/reply.h
  src/v/pandaproxy/rest/proxy.cc
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/server.cc
  src/v/pandaproxy/server.h
  tests/rptest/tests/pandaproxy_test.py
Labels: area/redpanda, kind/backport

#24514 Add a general key-value cache to utils
  src/v/io/BUILD
  src/v/io/page.cc
  src/v/io/page.h
  src/v/io/page_cache.h
  src/v/io/pager.cc
  src/v/io/pager.h
  src/v/io/tests/BUILD
  src/v/io/tests/CMakeLists.txt
  src/v/utils/BUILD
  src/v/utils/chunked_kv_cache.h
  src/v/utils/s3_fifo.h
  src/v/utils/tests/BUILD
  src/v/utils/tests/CMakeLists.txt
  src/v/utils/tests/chunked_kv_cache_test.cc
  src/v/utils/tests/s3_fifo_test.cc
Labels: area/build, area/redpanda

#24608 [v24.3.x] `storage`: add `tombstones_removed` metric to `probe`
  src/v/storage/probe.cc
  src/v/storage/probe.h
  src/v/storage/segment_deduplication_utils.cc
  src/v/storage/segment_utils.cc
Labels: area/redpanda, kind/backport

#24155 Add `record_multiplexer` microbenchmarks
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/CMakeLists.txt
  src/v/datalake/tests/datalake_avro_tests.cc
  src/v/datalake/tests/record_generator.cc
  src/v/datalake/tests/record_generator.h
  src/v/datalake/tests/record_multiplexer_bench.cc
  src/v/datalake/tests/test_data_writer.h
  src/v/serde/avro/tests/data_generator.cc
  src/v/serde/avro/tests/data_generator.h
  src/v/serde/avro/tests/parser_test.cc
  src/v/serde/protobuf/CMakeLists.txt
  src/v/serde/protobuf/tests/BUILD
  src/v/serde/protobuf/tests/CMakeLists.txt
  src/v/serde/protobuf/tests/data_generator.cc
  src/v/serde/protobuf/tests/data_generator.h
  src/v/storage/BUILD
  src/v/storage/offset_to_filepos.cc
  src/v/utils/BUILD
  src/v/utils/null_output_stream.h
Labels: area/build, area/redpanda, area/wasm

#24320 bytes: bazelize iobuf_fuzz
  .bazelrc
  bazel/BUILD
  bazel/test.bzl
  src/v/bytes/tests/BUILD
  src/v/bytes/tests/iobuf_fuzz.cc
Labels: area/build, area/redpanda

#24525 [CORE-8436]: Add support for SASL/PLAIN
  src/v/cluster/feature_manager.cc
  src/v/cluster/feature_manager.h
  src/v/config/configuration.cc
  src/v/config/validators.cc
  src/v/kafka/server/server.cc
  src/v/security/BUILD
  src/v/security/CMakeLists.txt
  src/v/security/plain_authenticator.cc
  src/v/security/plain_authenticator.h
  src/v/security/request_auth.cc
  src/v/security/scram_algorithm.h
  src/v/security/scram_authenticator.cc
  src/v/security/scram_authenticator.h
  src/v/security/tests/BUILD
  src/v/security/tests/CMakeLists.txt
  src/v/security/tests/plain_authenticator_test.cc
  tests/rptest/clients/kafka_cli_tools.py
  tests/rptest/services/redpanda_types.py
  tests/rptest/tests/rbac_test.py
  tests/rptest/tests/rbac_upgrade_test.py
  tests/rptest/tests/redpanda_kerberos_test.py
  tests/rptest/tests/redpanda_oauth_test.py
  tests/rptest/tests/redpanda_startup_test.py
  tests/rptest/tests/schema_registry_test.py
  tests/rptest/tests/scram_test.py
  tests/rptest/tests/workload_license.py
  tests/rptest/utils/log_utils.py
Labels: area/build, area/redpanda

#24561 [CORE-8532]Datalake/Iceberg: Add support for primitive type promotion
  src/v/datalake/BUILD
  src/v/datalake/catalog_schema_manager.cc
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/catalog_schema_manager_test.cc
  src/v/iceberg/BUILD
  src/v/iceberg/CMakeLists.txt
  src/v/iceberg/compatibility.cc
  src/v/iceberg/compatibility.h
  src/v/iceberg/tests/BUILD
  src/v/iceberg/tests/CMakeLists.txt
  src/v/iceberg/tests/compatibility_test.cc
  tests/rptest/tests/datalake/schema_evolution_test.py
Labels: area/build, area/redpanda

#24618 r/utils: fixed setting log start delta in snapshot
  src/v/raft/consensus_utils.cc
Labels: area/redpanda

#24569 rpk remote debug bundle: job-id help text change
  src/go/rpk/pkg/cli/debug/remotebundle/start.go
Labels: area/rpk

#24617 Validate offset delta in append entries handler
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/probe.cc
  src/v/raft/probe.h
  src/v/raft/recovery_stm.cc
  src/v/raft/types.cc
  src/v/raft/types.h
Labels: area/redpanda

#24619 [v24.3.x] Offset translator consistency validation
  tests/rptest/tests/ot_consistency_test.py
  tests/rptest/tests/random_node_operations_test.py
  tests/rptest/utils/node_operations.py
Labels: kind/backport

#24613 rpk: update topic describe help text
  src/go/rpk/pkg/cli/topic/describe.go
Labels: area/rpk

#24639 [v24.1.x] rptest: disable leader balancer in cache stress test
  tests/rptest/scale_tests/tiered_storage_cache_stress_test.py
Labels: kind/backport

#24418 [CORE-8392] http: Shutdown connection if shutdown_now was called
  src/v/cloud_storage_clients/client_pool.cc
  src/v/http/client.cc
Labels: area/redpanda

#24629 [v24.2.x] r/utils: fixed setting log start delta in snapshot
  src/v/raft/consensus_utils.cc
Labels: area/rpk, area/build, area/redpanda, area/wasm, kind/backport

#24578 Some oversized alloc high partition count improvements
  src/v/cluster/ntp_callbacks.h
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/fetch.h
Labels: area/redpanda

#24638 [v24.3.x] rptest: disable leader balancer in cache stress test
  tests/rptest/scale_tests/tiered_storage_cache_stress_test.py
Labels: kind/backport

#24596 bazel: add compile commands generator
  .gitignore
  BUILD
  MODULE.bazel
  MODULE.bazel.lock
  bazel/compilation_database_generator/BUILD
  bazel/compilation_database_generator/main.go
Labels: area/build

#24580 [CORE-627] archival: Convert assertion to exception
  src/v/cluster/archival/archival_policy.cc
Labels: area/redpanda

#24641 Abort translation using translation task abort source
  src/v/datalake/BUILD
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
  src/v/datalake/tests/gtest_record_multiplexer_test.cc
  src/v/datalake/tests/record_multiplexer_bench.cc
  src/v/datalake/tests/record_multiplexer_test.cc
  src/v/datalake/translation_task.cc
Labels: area/build, area/redpanda

#24602 iceberg: fix spec inconsistency in manifest list files_count
  src/v/iceberg/avroschemas/manifest_file.schema.json
  src/v/iceberg/manifest_list_avro.cc
  src/v/iceberg/tests/manifest_serialization_test.cc
  tests/rptest/tests/datalake/datalake_e2e_test.py
  tests/rptest/tests/datalake/datalake_upgrade_test.py
Labels: area/redpanda

#24627 [v24.3.x] rpk remote debug bundle: job-id help text change
  src/go/rpk/pkg/cli/debug/remotebundle/start.go
Labels: area/rpk, kind/backport

#24545 [v24.3.x] tests: reduce logging in random_node_operations_test
  tests/rptest/tests/random_node_operations_test.py
Labels: kind/backport

#24654 [v24.2.x] [CORE-627] archival: Convert assertion to exception
  src/v/archival/archival_policy.cc
Labels: area/redpanda, kind/backport
