Repository redpanda-data/redpanda, pull requests merged in 2024-08, with the labels that each got.

#22677 Logging improvements in cluster `members` subsystem
  src/v/cluster/members_manager.cc
  src/v/cluster/members_table.cc
  tests/rptest/services/redpanda.py
  tests/rptest/tests/nodes_decommissioning_test.py
Labels: area/redpanda

#22682 [v24.2.x] `cloud_storage`: add `topic_mount_manifest` (manual backport)
  src/v/cloud_storage/CMakeLists.txt
  src/v/cloud_storage/base_manifest.cc
  src/v/cloud_storage/base_manifest.h
  src/v/cloud_storage/fwd.h
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote_path_provider.cc
  src/v/cloud_storage/remote_path_provider.h
  src/v/cloud_storage/remote_probe.h
  src/v/cloud_storage/tests/CMakeLists.txt
  src/v/cloud_storage/tests/remote_path_provider_test.cc
  src/v/cloud_storage/tests/topic_mount_handler_test.cc
  src/v/cloud_storage/tests/topic_mount_manifest_test.cc
  src/v/cloud_storage/topic_mount_handler.cc
  src/v/cloud_storage/topic_mount_handler.h
  src/v/cloud_storage/topic_mount_manifest.cc
  src/v/cloud_storage/topic_mount_manifest.h
  src/v/model/fundamental.h
  src/v/model/metadata.h
  src/v/model/model.cc
  src/v/utils/tests/uuid_test.cc
Labels: area/redpanda

#22676 `cloud_storage`: minor fixes in `topic_mount_handler`
  src/v/cloud_storage/tests/topic_mount_handler_test.cc
  src/v/cloud_storage/topic_mount_handler.cc
  src/v/cloud_storage/topic_mount_handler.h
Labels: area/redpanda

#22675 rpk: add `rpk registry mode` command
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/registry/mode/get.go
  src/go/rpk/pkg/cli/registry/mode/mode.go
  src/go/rpk/pkg/cli/registry/mode/reset.go
  src/go/rpk/pkg/cli/registry/mode/set.go
  src/go/rpk/pkg/cli/registry/registry.go
  tests/rptest/clients/rpk.py
  tests/rptest/tests/rpk_registry_test.py
Labels: area/rpk

#22674 `admin`: add `key` param to `get_cluster_config` endpoint
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cluster/config/get.go
  src/v/config/config_store.h
  src/v/redpanda/admin/api-doc/cluster_config.json
  src/v/redpanda/admin/server.cc
  tests/rptest/services/admin.py
  tests/rptest/tests/cluster_config_test.py
Labels: area/rpk, area/redpanda

#21370 admin: remove `throw` on unknown self test type in `admin_server`
  src/v/cluster/self_test/cloudcheck.cc
  src/v/cluster/self_test_backend.cc
  src/v/cluster/self_test_backend.h
  src/v/cluster/self_test_frontend.cc
  src/v/cluster/self_test_rpc_types.h
  src/v/redpanda/admin/server.cc
  tests/rptest/tests/self_test_test.py
Labels: area/redpanda

#22691 bazel: remove layering check exclusion
  bazel/build.bzl
  src/v/cloud_roles/BUILD
  src/v/cloud_roles/azure_aks_refresh_impl.cc
  src/v/cloud_storage_clients/BUILD
  src/v/cloud_storage_clients/xml_sax_parser.h
  src/v/compression/BUILD
  src/v/compression/include/compression/gzip_stream_decompression.h
  src/v/compression/include/compression/internal/lz4_frame_compressor.h
  src/v/compression/include/compression/lz4_decompression_buffers.h
  src/v/compression/internal/gzip_compressor.cc
  src/v/compression/internal/lz4_frame_compressor.cc
  src/v/compression/internal/snappy_java_compressor.cc
  src/v/compression/snappy_standard_compressor.cc
  src/v/compression/tests/BUILD
  src/v/compression/tests/lz4_buf_tests.cc
  src/v/crypto/BUILD
  src/v/crypto/crypto.cc
  src/v/crypto/digest.cc
  src/v/crypto/hmac.cc
  src/v/crypto/key.cc
  src/v/crypto/ossl_context_service.cc
  src/v/crypto/random.cc
  src/v/crypto/signature.cc
  src/v/crypto/ssl_utils.cc
  src/v/crypto/ssl_utils.h
  src/v/security/BUILD
  src/v/security/config_rcl.cc
  src/v/thirdparty/ada/BUILD
  src/v/thirdparty/ada/ada.h
  src/v/thirdparty/base64/BUILD
  src/v/thirdparty/base64/libbase64.h
  src/v/thirdparty/hdrhistogram/BUILD
  src/v/thirdparty/hdrhistogram/hdr_histogram.h
  src/v/thirdparty/libxml2/BUILD
  src/v/thirdparty/libxml2/parser.h
  src/v/thirdparty/lz4/BUILD
  src/v/thirdparty/lz4/lz4.h
  src/v/thirdparty/lz4/lz4frame.h
  src/v/thirdparty/openssl/BUILD
  src/v/thirdparty/openssl/bio.h
  src/v/thirdparty/openssl/bn.h
  src/v/thirdparty/openssl/core_names.h
  src/v/thirdparty/openssl/crypto.h
  src/v/thirdparty/openssl/err.h
  src/v/thirdparty/openssl/evp.h
  src/v/thirdparty/openssl/param_build.h
  src/v/thirdparty/openssl/params.h
  src/v/thirdparty/openssl/pem.h
  src/v/thirdparty/openssl/provider.h
  src/v/thirdparty/openssl/rand.h
  src/v/thirdparty/openssl/ssl.h
  src/v/thirdparty/snappy/BUILD
  src/v/thirdparty/snappy/snappy-sinksource.h
  src/v/thirdparty/snappy/snappy.h
  src/v/thirdparty/zlib/BUILD
  src/v/thirdparty/zlib/zlib.h
  src/v/utils/BUILD
  src/v/utils/base64.cc
  src/v/utils/hdr_hist.h
Labels: area/redpanda

#21587 [v23.3.x] cloud storage: Fix deleted_count in clean_up_at_start
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/tests/cache_test.cc
Labels: area/redpanda, kind/backport

#21608 [v23.3.x] tests/ducktape: check redpanda can stop
  tests/rptest/services/cluster.py
  tests/rptest/services/failure_injector.py
  tests/rptest/tests/e2e_finjector.py
Labels: kind/backport

#22685 [v24.2.x] `cloud_storage`: minor fixes in `topic_mount_handler`
  src/v/cloud_storage/tests/topic_mount_handler_test.cc
  src/v/cloud_storage/topic_mount_handler.cc
  src/v/cloud_storage/topic_mount_handler.h
Labels: area/redpanda, kind/backport

#22698 [v24.2.x] admin: remove `throw` on unknown self test type in `admin_server`
  src/v/cluster/self_test/cloudcheck.cc
  src/v/cluster/self_test_backend.cc
  src/v/cluster/self_test_backend.h
  src/v/cluster/self_test_frontend.cc
  src/v/cluster/self_test_rpc_types.h
  src/v/redpanda/admin/server.cc
  tests/rptest/tests/self_test_test.py
Labels: area/redpanda, kind/backport

#22665 schema_registry: Sync Swagger with docs
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/api/api-doc/schema_registry_definitions.def.json
Labels: area/redpanda, area/schema-registry

#22642 cst/clients: accept responses from inv api
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/types.h
  src/v/cloud_storage_clients/abs_client.cc
  src/v/cloud_storage_clients/abs_client.h
  src/v/cloud_storage_clients/client.h
  src/v/cloud_storage_clients/s3_client.cc
  src/v/cloud_storage_clients/s3_client.h
  src/v/cloud_storage_clients/tests/s3_client_test.cc
Labels: area/redpanda

#22692 [v24.2.x] tests/availability: fix resuming of suspended nodes
  tests/rptest/services/failure_injector.py
  tests/rptest/tests/availability_test.py
  tests/rptest/tests/e2e_finjector.py
Labels: kind/backport

#22694 [v24.1.x] tests/availability: fix resuming of suspended nodes
  tests/rptest/services/failure_injector.py
  tests/rptest/tests/availability_test.py
  tests/rptest/tests/e2e_finjector.py
Labels: kind/backport

#22700 [v24.1.x] `admin`: remove throw on unknown self test type in `admin_server` (manual backport)
  src/v/cluster/self_test_backend.cc
  src/v/cluster/self_test_backend.h
  src/v/cluster/self_test_frontend.cc
  src/v/cluster/self_test_rpc_types.h
  src/v/redpanda/admin/server.cc
  tests/rptest/tests/self_test_test.py
Labels: area/redpanda, kind/backport

#22710 bazel: build security library
  MODULE.bazel.lock
  bazel/repositories.bzl
  bazel/thirdparty/krb5.BUILD
  src/v/config/BUILD
  src/v/kafka/client/broker.cc
  src/v/kafka/client/producer.cc
  src/v/security/BUILD
  src/v/security/gssapi.h
  src/v/security/gssapi_authenticator.cc
  src/v/security/gssapi_authenticator.h
  src/v/security/krb5.h
  src/v/security/tests/BUILD
  src/v/serde/BUILD
  src/v/ssx/BUILD
  src/v/thirdparty/c-ares/BUILD
  src/v/thirdparty/c-ares/ares.h
  src/v/thirdparty/krb5/BUILD
  src/v/thirdparty/krb5/gssapi.h
  src/v/thirdparty/krb5/gssapi_ext.h
  src/v/thirdparty/krb5/krb5.h
  src/v/v8_engine/BUILD
Labels: area/redpanda

#22716 bazel: add cluster and kafka/client libraries
  src/v/base/BUILD
  src/v/base/include/base/vformat.h
  src/v/cloud_storage/BUILD
  src/v/cluster/BUILD
  src/v/cluster/archival/BUILD
  src/v/cluster/archival/archival_metadata_stm.cc
  src/v/cluster/archival/archiver_manager.cc
  src/v/cluster/archival/archiver_operations_impl.cc
  src/v/cluster/ephemeral_credential_frontend.cc
  src/v/cluster/id_allocator_frontend.cc
  src/v/cluster/leader_router.h
  src/v/cluster/log_eviction_stm.cc
  src/v/cluster/node/local_monitor.h
  src/v/cluster/self_test/cloudcheck.cc
  src/v/kafka/client/BUILD
  src/v/kafka/client/broker.cc
  src/v/kafka/client/broker.h
  src/v/kafka/client/test/BUILD
  src/v/kafka/client/transport.h
  src/v/kafka/server/tests/produce_consume_utils.cc
  src/v/model/BUILD
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/redpanda/application.h
  src/v/security/BUILD
  src/v/ssx/BUILD
  src/v/utils/BUILD
Labels: area/redpanda

#18449 Protobuf to Arrow converter
  install-dependencies.sh
  licenses/third_party.md
  src/v/CMakeLists.txt
  src/v/README.md
  src/v/datalake/CMakeLists.txt
  src/v/datalake/errors.h
  src/v/datalake/logger.h
  src/v/datalake/proto_to_arrow_interface.h
  src/v/datalake/proto_to_arrow_scalar.cc
  src/v/datalake/proto_to_arrow_scalar.h
  src/v/datalake/proto_to_arrow_struct.cc
  src/v/datalake/proto_to_arrow_struct.h
  src/v/datalake/protobuf_to_arrow_converter.cc
  src/v/datalake/protobuf_to_arrow_converter.h
  src/v/datalake/tests/CMakeLists.txt
  src/v/datalake/tests/proto_to_arrow_gtest.cc
  src/v/datalake/tests/proto_to_arrow_test_utils.h
Labels: area/build, area/redpanda

#22706 iceberg: clarify classes that are generated
  bazel/thirdparty/avro.bzl
  src/v/iceberg/BUILD
  src/v/iceberg/CMakeLists.txt
  src/v/iceberg/manifest.h
  src/v/iceberg/manifest_avro.cc
  src/v/iceberg/tests/manifest_serialization_test.cc
Labels: area/redpanda

#21589 [v24.1.x] cloud storage: Fix deleted_count in clean_up_at_start
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/tests/cache_test.cc
Labels: area/redpanda, kind/backport

#22721 bazel: add build for security/audit library
  MODULE.bazel
  MODULE.bazel.lock
  bazel/repositories.bzl
  bazel/thirdparty/jsoncons.BUILD
  src/v/cluster/tests/BUILD
  src/v/container/BUILD
  src/v/hashing/BUILD
  src/v/kafka/client/test/BUILD
  src/v/kafka/protocol/BUILD
  src/v/kafka/protocol/topic_properties.h
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/group_probe.h
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/topics/types.h
  src/v/kafka/server/latency_probe.h
  src/v/kafka/server/read_distribution_probe.h
  src/v/kafka/server/sasl_probe.h
  src/v/kafka/server/server.h
  src/v/pandaproxy/schema_registry/service.cc
  src/v/security/BUILD
  src/v/security/audit/BUILD
  src/v/security/audit/audit_log_manager.cc
  src/v/ssx/BUILD
  src/v/utils/BUILD
Labels: area/redpanda

#22725 c/members_table: fixed typo in applying remove node command
  src/v/cluster/members_table.cc
Labels: area/redpanda

#22728 transform-sdk/rust: upgrade crates
  src/transform-sdk/rust/Cargo.lock
  src/transform-sdk/rust/Cargo.toml
  src/transform-sdk/rust/examples/jaq/Cargo.toml
  src/transform-sdk/rust/examples/json2avro/Cargo.toml
  src/transform-sdk/rust/examples/schema_registry/Cargo.toml
  src/transform-sdk/rust/examples/schema_registry/main.rs
Labels: area/wasm

#22730 [v24.1.x] gha: pin rustc for transform SDK builds
  .github/workflows/transform-sdk-build.yml
Labels: area/build

#22733 tests: fix some unused parameter warnings in clang-18
  src/v/cloud_storage/tests/segment_chunk_test.cc
  src/v/cloud_storage_clients/tests/s3_client_test.cc
Labels: area/redpanda

#22738 [backport][24.1.x] producer/request_state: make set_value() idempotent
  src/v/cluster/producer_state.cc
Labels: area/redpanda

#22705 [v23.3.x] schema_registry: Sync Swagger with docs
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/api/api-doc/schema_registry_definitions.def.json
Labels: area/redpanda, kind/backport

#22704 [v24.2.x] schema_registry: Sync Swagger with docs
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/api/api-doc/schema_registry_definitions.def.json
Labels: area/redpanda, kind/backport

#22703 [v24.1.x] schema_registry: Sync Swagger with docs
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/api/api-doc/schema_registry_definitions.def.json
Labels: area/redpanda, kind/backport

#22707 [v23.3.x] tests/availability: fix resuming of suspended nodes
  tests/rptest/services/failure_injector.py
  tests/rptest/tests/availability_test.py
  tests/rptest/tests/e2e_finjector.py
Labels: kind/backport

#22697 [v24.2.x] rpk: add `rpk registry mode` command
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/registry/mode/get.go
  src/go/rpk/pkg/cli/registry/mode/mode.go
  src/go/rpk/pkg/cli/registry/mode/reset.go
  src/go/rpk/pkg/cli/registry/mode/set.go
  src/go/rpk/pkg/cli/registry/registry.go
  tests/rptest/clients/rpk.py
  tests/rptest/tests/rpk_registry_test.py
Labels: area/rpk, kind/backport

#22731 gha/transform-sdk: pin and centralize language versions
  .github/workflows/transform-sdk-build.yml
Labels: area/build

#22751 [v24.2.x] gha/transform-sdk: pin and centralize language versions
  .github/workflows/transform-sdk-build.yml
Labels: area/build, kind/backport

#22640 Add fetch path micro-benchmark
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/fetch.h
  src/v/kafka/server/tests/CMakeLists.txt
  src/v/kafka/server/tests/fetch_bench.cc
Labels: area/redpanda

#22687 miscellaneous idempotency fixes
  src/v/cluster/BUILD
  src/v/cluster/CMakeLists.txt
  src/v/cluster/errc.h
  src/v/cluster/errors.cc
  src/v/cluster/producer_state.cc
  src/v/cluster/producer_state.h
  src/v/cluster/producer_state_manager.cc
  src/v/cluster/producer_state_manager.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/idempotency_tests.cc
  src/v/cluster/tests/producer_state_tests.cc
  src/v/cluster/tests/rm_stm_test_fixture.h
  src/v/cluster/tx_gateway_frontend.cc
  src/v/redpanda/application.cc
  tests/java/verifiers/pom.xml
  tests/java/verifiers/src/main/java/idempotency/App.java
  tests/rptest/transactions/idempotency_test.py
  tests/rptest/transactions/transactions_test.py
  tests/rptest/transactions/verifiers/idempotency_load_generator.py
Labels: area/redpanda

#22747 Disable log cleanup policy for controller log
  src/v/cluster/raft0_utils.h
  src/v/security/audit/audit_log_manager.cc
  tests/rptest/tests/controller_partition_invariants_test.py
Labels: area/redpanda, area/wasm

#22743 bazel: build panda proxy and schema registry
  src/v/cluster/BUILD
  src/v/config/BUILD
  src/v/pandaproxy/BUILD
  src/v/pandaproxy/error.cc
  src/v/pandaproxy/schema_registry/BUILD
  src/v/pandaproxy/schema_registry/CMakeLists.txt
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/test/BUILD
  src/v/thirdparty/protobuf/BUILD
  src/v/thirdparty/protobuf/descriptor.h
  src/v/thirdparty/protobuf/descriptor.pb.h
Labels: area/redpanda

#22757 [backport] [v24.2.x] miscellaneous idempotency fixes #22687
  src/v/cluster/CMakeLists.txt
  src/v/cluster/errc.h
  src/v/cluster/errors.cc
  src/v/cluster/producer_state.cc
  src/v/cluster/producer_state.h
  src/v/cluster/producer_state_manager.cc
  src/v/cluster/producer_state_manager.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/idempotency_tests.cc
  src/v/cluster/tests/producer_state_tests.cc
  src/v/cluster/tests/rm_stm_test_fixture.h
  src/v/cluster/tx_gateway_frontend.cc
  src/v/redpanda/application.cc
  tests/java/verifiers/pom.xml
  tests/java/verifiers/src/main/java/idempotency/App.java
  tests/rptest/transactions/idempotency_test.py
  tests/rptest/transactions/transactions_test.py
  tests/rptest/transactions/verifiers/idempotency_load_generator.py
Labels: area/redpanda

#22760 [v24.2.x] Disable log cleanup policy for controller log
  src/v/cluster/raft0_utils.h
  src/v/security/audit/audit_log_manager.cc
  tests/rptest/tests/controller_partition_invariants_test.py
Labels: area/redpanda, kind/backport

#22761 bazel: build kafka server
  src/v/kafka/protocol/BUILD
  src/v/kafka/server/BUILD
  src/v/kafka/server/group_metadata.h
  src/v/kafka/server/group_tx_tracker_stm.h
  src/v/kafka/server/server.h
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/usage_aggregator.cc
  src/v/kafka/server/usage_aggregator.h
Labels: area/redpanda

#22766 Increase number of cores used in fetch micro-benchmark
  src/v/kafka/server/tests/CMakeLists.txt
Labels: area/redpanda

#22723 [CORE-5099] [v23.3.x] tests: wait for the leadership change metric to be updated
  tests/rptest/services/metrics_check.py
  tests/rptest/tests/raft_availability_test.py
Labels: kind/backport

#22759 [v24.1.x] Disable log cleanup policy for controller log
  src/v/cluster/raft0_utils.h
  src/v/security/audit/audit_log_manager.cc
  tests/rptest/tests/controller_partition_invariants_test.py
Labels: area/redpanda, kind/backport

#22752 r/stm_manager: do not warn when some of the stms did not make progress
  src/v/raft/state_machine_manager.cc
Labels: area/redpanda

#22701 Retire old membership updates based on Raft configuration
  src/v/cluster/archival/tests/service_fixture.cc
  src/v/cluster/bootstrap_backend.cc
  src/v/cluster/controller.cc
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
  src/v/cluster/members_backend.cc
  src/v/cluster/members_manager.cc
  src/v/cluster/members_manager.h
  src/v/cluster/members_table.cc
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/cluster/raft0_utils.h
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/raft/consensus_utils.cc
  src/v/raft/consensus_utils.h
  src/v/raft/fundamental.h
  src/v/raft/group_configuration.h
  src/v/raft/group_manager.cc
  src/v/raft/group_manager.h
  src/v/raft/tests/simple_raft_fixture.h
  tests/rptest/utils/si_utils.py
Labels: area/redpanda

#22695 Use shards from health report in Admin API cluster partition results
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cluster/controller_api.cc
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
  src/v/cluster/health_monitor_frontend.cc
  src/v/cluster/health_monitor_frontend.h
  src/v/cluster/health_monitor_types.cc
  src/v/cluster/health_monitor_types.h
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/partition_leaders_table.cc
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/cluster/service.cc
  src/v/cluster/tests/health_bench.cc
  src/v/cluster/tests/health_monitor_bench.cc
  src/v/cluster/tests/health_monitor_test.cc
  src/v/cluster/tests/partition_balancer_planner_fixture.h
  src/v/cluster/tests/partition_balancer_planner_test.cc
  src/v/cluster/tests/partition_balancer_simulator_test.cc
  src/v/cluster/tests/randoms.h
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/cluster/topics_frontend.cc
  src/v/compat/cluster_json.h
  src/v/compat/get_node_health_compat.h
  src/v/compat/get_node_health_generator.h
  src/v/redpanda/admin/server.cc
  tests/rptest/services/admin.py
  tests/rptest/tests/shard_placement_test.py
Labels: area/redpanda

#22769 [v24.1.x] Transfer leadership before stepping down after reconfiguration
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/tests/basic_raft_fixture_test.cc
  src/v/raft/tests/raft_fixture.cc
  src/v/raft/tests/raft_fixture.h
Labels: area/redpanda, kind/backport

#22771 [v24.2.x] r/stm_manager: do not warn when some of the stms did not make progress
  src/v/raft/state_machine_manager.cc
Labels: area/redpanda, kind/backport

#22773 [v24.2.x] Use shards from health report in Admin API cluster partition results
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cluster/controller_api.cc
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
  src/v/cluster/health_monitor_frontend.cc
  src/v/cluster/health_monitor_frontend.h
  src/v/cluster/health_monitor_types.cc
  src/v/cluster/health_monitor_types.h
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/partition_leaders_table.cc
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/cluster/service.cc
  src/v/cluster/tests/health_bench.cc
  src/v/cluster/tests/health_monitor_bench.cc
  src/v/cluster/tests/health_monitor_test.cc
  src/v/cluster/tests/partition_balancer_planner_fixture.h
  src/v/cluster/tests/partition_balancer_planner_test.cc
  src/v/cluster/tests/partition_balancer_simulator_test.cc
  src/v/cluster/tests/randoms.h
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/cluster/topics_frontend.cc
  src/v/compat/cluster_json.h
  src/v/compat/get_node_health_compat.h
  src/v/compat/get_node_health_generator.h
  src/v/redpanda/admin/server.cc
  tests/rptest/services/admin.py
  tests/rptest/tests/shard_placement_test.py
Labels: area/redpanda, kind/backport

#22784 gh: Fixed wrong transition name when reopening issues
  .github/workflows/scripts/jira_helper.py
Labels: area/build

#22777 bazel: support latest protobuf version
  MODULE.bazel
  MODULE.bazel.lock
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/redpanda/application.cc
Labels: area/redpanda

#22765 bazel: add wasm library
  src/v/thirdparty/wasmtime/BUILD
  src/v/thirdparty/wasmtime/wasm.h
  src/v/thirdparty/wasmtime/wasmtime.h
  src/v/wasm/BUILD
  src/v/wasm/parser/BUILD
  src/v/wasm/tests/BUILD
  src/v/wasm/wasmtime.cc
Labels: area/redpanda, area/wasm

#22668 [v24.2.x] Migrations infra, part 4: topic-scoped work
  src/v/cluster/data_migrated_resources.cc
  src/v/cluster/data_migration_backend.cc
  src/v/cluster/data_migration_backend.h
  src/v/cluster/data_migration_table.cc
  src/v/cluster/data_migration_types.cc
  src/v/cluster/data_migration_types.h
  src/v/cluster/data_migration_worker.cc
  src/v/cluster/tests/data_migration_table_test.cc
  src/v/redpanda/admin/migrations.cc
  src/v/ssx/include/ssx/async_algorithm.h
  tests/rptest/tests/data_migrations_api_test.py
Labels: area/redpanda, kind/backport

#22786 bazel: build transforms library
  src/v/cluster/BUILD
  src/v/cluster/distributed_kv_stm_types.h
  src/v/ssx/BUILD
  src/v/test_utils/BUILD
  src/v/transform/BUILD
  src/v/transform/logging/BUILD
  src/v/transform/rpc/BUILD
  src/v/transform/stm/BUILD
  src/v/transform/tests/BUILD
  src/v/utils/BUILD
Labels: area/redpanda, area/wasm

#22768 [v24.1.x] CORE-5686 Decouple different raft group shutdown sequences
  src/v/cluster/partition_manager.cc
  src/v/raft/group_manager.cc
  src/v/raft/group_manager.h
Labels: area/redpanda, kind/backport

#22664 config: update docs for cloud_storage_azure_hierarchical_namespace_enabled
  src/v/config/configuration.cc
Labels: area/redpanda

#22788 [v24.2.x] tools/olv: fixed a bug in reading ntp
  tools/offline_log_viewer/controller.py
Labels: kind/backport

#22776 CORE-6479 dt/random_node_ops: suppress method_not_found log
  src/v/rpc/include/rpc/errc.h
  tests/rptest/services/redpanda.py
Labels: area/redpanda

#22794 [v24.2.x] CORE-6479 dt/random_node_ops: suppress method_not_found log
  src/v/rpc/include/rpc/errc.h
  tests/rptest/services/redpanda.py
Labels: area/redpanda, kind/backport

#22783 CORE-6814: increase io_sink size to 10000 at startup
  src/v/redpanda/application.cc
Labels: area/redpanda

#22775 test_utils: add CORO variant for ASSERT_NO_FATAL_FAILURE
  src/v/test_utils/test.h
Labels: area/redpanda

#22799 pp/sr/proto: disable unused alias warning
  src/v/pandaproxy/schema_registry/protobuf/CMakeLists.txt
Labels: area/redpanda

#22802 bazel: build redpanda
  bazel/build.bzl
  src/v/cluster/BUILD
  src/v/cluster/cloud_metadata/offsets_uploader.cc
  src/v/container/BUILD
  src/v/migrations/BUILD
  src/v/redpanda/BUILD
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/admin/BUILD
  src/v/redpanda/admin/cluster_config_schema_util.cc
  src/v/redpanda/admin/cluster_config_schema_util.h
  src/v/redpanda/admin/migrations.cc
  src/v/redpanda/admin/server.cc
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/resource_mgmt/BUILD
  src/v/rp_util/main.cc
  src/v/syschecks/BUILD
Labels: area/redpanda

#22800 datalake: support newer protobuf versions
  src/v/datalake/protobuf_to_arrow_converter.cc
  src/v/datalake/protobuf_to_arrow_converter.h
Labels: area/redpanda

#21620 [v24.1.x] [CORE-5632] cluster: Reset cloud storage metric in the `cluster::partition::remove_persistent_state`
  src/v/cloud_storage/read_path_probes.h
  src/v/cluster/partition.cc
Labels: area/redpanda, kind/backport

#22770 [v24.1.x] r/stm_manager: do not warn when some of the stms did not make progress
  src/v/raft/state_machine_manager.cc
Labels: area/redpanda, kind/backport

#22795 [v24.1.x] CORE-6479 dt/random_node_ops: suppress method_not_found log
  src/v/rpc/errc.h
  tests/rptest/services/redpanda.py
Labels: area/redpanda, kind/backport

#22793 [v23.3.x] CORE-6479 dt/random_node_ops: suppress method_not_found log
  src/v/rpc/errc.h
  tests/rptest/services/redpanda.py
Labels: area/redpanda, kind/backport

#22772 [v24.2.x] Retire old membership updates based on Raft configuration
  src/v/archival/tests/service_fixture.cc
  src/v/cluster/bootstrap_backend.cc
  src/v/cluster/controller.cc
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
  src/v/cluster/members_backend.cc
  src/v/cluster/members_manager.cc
  src/v/cluster/members_manager.h
  src/v/cluster/members_table.cc
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/cluster/raft0_utils.h
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/raft/consensus_utils.cc
  src/v/raft/consensus_utils.h
  src/v/raft/fundamental.h
  src/v/raft/group_configuration.h
  src/v/raft/group_manager.cc
  src/v/raft/group_manager.h
  src/v/raft/tests/simple_raft_fixture.h
  tests/rptest/utils/si_utils.py
Labels: area/redpanda, kind/backport

#22809 datalake: remove override annotation
  src/v/datalake/protobuf_to_arrow_converter.cc
Labels: area/redpanda

#22803 Add rate-rejected connection metric
  src/v/net/include/net/server_probe.h
  src/v/net/probes.cc
  src/v/net/server.cc
Labels: area/redpanda

#22797 k/group: do not replicate empty offsets commit batch
  src/v/kafka/server/group.cc
Labels: area/redpanda

#22822 storage: convert some vasserts to exceptions
  src/v/raft/tests/basic_raft_fixture_test.cc
  src/v/storage/segment.cc
Labels: area/redpanda

#22823 bazel: move some headers back from oblivion
  src/v/bytes/BUILD
  src/v/bytes/bytes.h
  src/v/bytes/details/io_allocation_size.h
  src/v/bytes/details/io_byte_iterator.h
  src/v/bytes/details/io_fragment.h
  src/v/bytes/details/io_iterator_consumer.h
  src/v/bytes/details/io_placeholder.h
  src/v/bytes/details/out_of_range.h
  src/v/bytes/hash.h
  src/v/bytes/iobuf.h
  src/v/bytes/iobuf_parser.h
  src/v/bytes/iostream.h
  src/v/bytes/random.h
  src/v/bytes/scattered_message.h
  src/v/bytes/streambuf.h
  src/v/cloud_roles/BUILD
  src/v/cloud_roles/apply_credentials.h
  src/v/cloud_roles/logger.h
  src/v/cloud_roles/probe.h
  src/v/cloud_roles/refresh_credentials.h
  src/v/cloud_roles/types.h
  src/v/container/BUILD
  src/v/container/chunked_hash_map.h
  src/v/container/contiguous_range_map.h
  src/v/container/fragmented_vector.h
  src/v/container/interval_set.h
  src/v/container/intrusive_list_helpers.h
  src/v/container/json.h
  src/v/container/lw_shared_container.h
  src/v/container/zip.h
Labels: area/redpanda

#22818 [v24.2.x] k/group: do not replicate empty offsets commit batch
  src/v/kafka/server/group.cc
Labels: area/redpanda, kind/backport

#22829 [v24.1.x] storage: convert some vasserts to exceptions
  src/v/raft/tests/basic_raft_fixture_test.cc
  src/v/storage/segment.cc
Labels: area/redpanda, kind/backport

#22811 CORE-5766 Validate target node id when collecting health report
  src/v/cluster/errc.h
  src/v/cluster/errors.cc
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_types.cc
  src/v/cluster/health_monitor_types.h
  src/v/cluster/node_status_backend.cc
  src/v/cluster/node_status_backend.h
  src/v/cluster/service.cc
  src/v/kafka/server/errors.h
  tests/rptest/tests/node_folder_deletion_test.py
Labels: area/redpanda

#22816 [v24.2.x] Add rate-rejected connection metric
  src/v/net/include/net/server_probe.h
  src/v/net/probes.cc
  src/v/net/server.cc
Labels: area/redpanda, kind/backport

#22835 [v24.2.x] CORE-5766 Validate target node id when collecting health report
  src/v/cluster/errc.h
  src/v/cluster/errors.cc
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_types.cc
  src/v/cluster/health_monitor_types.h
  src/v/cluster/node_status_backend.cc
  src/v/cluster/node_status_backend.h
  src/v/cluster/service.cc
  src/v/kafka/server/errors.h
  tests/rptest/tests/node_folder_deletion_test.py
Labels: area/redpanda, kind/backport

#22830 [v24.2.x] storage: convert some vasserts to exceptions
  src/v/raft/tests/basic_raft_fixture_test.cc
  src/v/storage/segment.cc
Labels: area/redpanda, kind/backport

#22683 [v24.2.x] Logging improvements in cluster `members` subsystem
  src/v/cluster/members_manager.cc
  src/v/cluster/members_table.cc
  tests/rptest/services/redpanda.py
  tests/rptest/tests/nodes_decommissioning_test.py
Labels: area/redpanda, kind/backport

#22774 [v24.2.x] Allow beginning transaction in completing rebalance
  src/v/kafka/server/group.cc
Labels: area/redpanda, kind/backport

#22798 CORE-6824 Schema Registry/Proto: add 5 missing checks
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
Labels: area/redpanda

#22821 Topic mount manifest 2fc mount
  src/v/cloud_storage/tests/topic_mount_handler_test.cc
  src/v/cloud_storage/topic_mount_handler.cc
  src/v/cloud_storage/topic_mount_handler.h
Labels: area/redpanda

#22841 partition-allocator: default shard 0 reserved partitions to 0
  src/v/config/configuration.cc
Labels: area/redpanda

#22861 [v24.2.x] Topic mount manifest 2fc mount
  src/v/cloud_storage/tests/topic_mount_handler_test.cc
  src/v/cloud_storage/topic_mount_handler.cc
  src/v/cloud_storage/topic_mount_handler.h
Labels: area/redpanda, kind/backport

#22865 bazel: untangle wasm build
  src/v/cloud_storage/BUILD
  src/v/kafka/server/BUILD
  src/v/model/tests/BUILD
  src/v/pandaproxy/BUILD
  src/v/redpanda/BUILD
  src/v/redpanda/admin/BUILD
  src/v/redpanda/application.cc
  src/v/reflection/BUILD
  src/v/security/audit/BUILD
  src/v/transform/BUILD
  src/v/transform/api.cc
  src/v/transform/tests/test_fixture.cc
  src/v/transform/tests/test_fixture.h
  src/v/transform/transform_logger.h
  src/v/transform/transform_processor.cc
  src/v/utils/BUILD
  src/v/wasm/BUILD
  src/v/wasm/CMakeLists.txt
  src/v/wasm/cache.cc
  src/v/wasm/cache.h
  src/v/wasm/engine.h
  src/v/wasm/errc.h
  src/v/wasm/ffi.cc
  src/v/wasm/fwd.h
  src/v/wasm/impl.cc
  src/v/wasm/impl.h
  src/v/wasm/tests/BUILD
  src/v/wasm/tests/wasi_test.cc
  src/v/wasm/tests/wasm_allocator_test.cc
  src/v/wasm/tests/wasm_cache_test.cc
  src/v/wasm/tests/wasm_fixture.cc
  src/v/wasm/tests/wasm_fixture.h
  src/v/wasm/tests/wasm_logger.h
  src/v/wasm/tests/wasm_transform_bench.cc
  src/v/wasm/transform_module.cc
  src/v/wasm/transform_module.h
  src/v/wasm/transform_probe.cc
  src/v/wasm/transform_probe.h
  src/v/wasm/wasi.cc
  src/v/wasm/wasi.h
  src/v/wasm/wasi_logger.h
  src/v/wasm/wasmtime.cc
Labels: area/redpanda, area/wasm

#22858 [v24.2.x] CORE-6824 Schema Registry/Proto: add 5 missing checks
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
Labels: area/redpanda, kind/backport

#22859 [v24.1.x] CORE-6824 Schema Registry/Proto: add 5 missing checks
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
Labels: area/redpanda, kind/backport

#22850 c/shard_placement_table: fix rare race condition during x-shard transfer
  src/v/cluster/shard_placement_table.cc
Labels: area/redpanda

#22860 [v23.3.x] CORE-6824 Schema Registry/Proto: add 5 missing checks
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
Labels: area/redpanda, kind/backport

#22848 CORE-6845 cmake: update avro rebased to 1.12
  MODULE.bazel.lock
  bazel/repositories.bzl
  bazel/thirdparty/avro.BUILD
  cmake/dependencies.cmake
Labels: area/build

#22862 tests: Add missing override labels where needed
  src/v/cloud_storage/inventory/tests/common.h
  src/v/cluster/archival/tests/archiver_operations_impl_gtest.cc
Labels: area/redpanda

#22826 application: print command line
  src/v/redpanda/BUILD
  src/v/redpanda/application.cc
Labels: area/redpanda

#22868 [CORE-6898] `cluster`: fix `partition::may_read_from_cloud()` for remote read replicas
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cluster/partition.cc
Labels: area/redpanda

#22824 kafka/group: don't replicate empty batch on offset commit
  src/v/kafka/server/group.cc
  src/v/kafka/server/tests/consumer_groups_test.cc
Labels: area/redpanda

#22885 [v24.2.x] [CORE-6898] `cluster`: fix `partition::may_read_from_cloud()` for remote read replicas
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cluster/partition.cc
Labels: area/redpanda, kind/backport

#22887 [v24.1.x] `cluster`: fix `partition::may_read_from_cloud()` for remote read replicas (manual backport)
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cloud_storage/tests/read_replica_fixture.h
  src/v/cloud_storage/tests/read_replica_test.cc
  src/v/cluster/partition.cc
Labels: area/redpanda, kind/backport

#22888 [v23.3.x] `cluster`: fix `partition::may_read_from_cloud()` for remote read replicas (manual backport)
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cloud_storage/tests/read_replica_fixture.h
  src/v/cloud_storage/tests/read_replica_test.cc
  src/v/cluster/partition.cc
Labels: area/redpanda, kind/backport

#22892 [CORE-5569] revert new-style includes
  .github/workflows/lint-includes.yml
  src/v/base/BUILD
  src/v/base/likely.h
  src/v/base/oncore.h
  src/v/base/outcome.h
  src/v/base/outcome_future_utils.h
  src/v/base/seastarx.h
  src/v/base/source_location.h
  src/v/base/type_traits.h
  src/v/base/units.h
  src/v/base/vassert.h
  src/v/base/vformat.h
  src/v/base/vlog.h
  src/v/crypto/BUILD
  src/v/crypto/crypto.h
  src/v/crypto/exceptions.h
  src/v/crypto/ossl_context_service.h
  src/v/crypto/types.h
  src/v/ssx/BUILD
  src/v/ssx/abort_source.h
  src/v/ssx/aligned.h
  src/v/ssx/async-clear.h
  src/v/ssx/async_algorithm.h
  src/v/ssx/event.h
  src/v/ssx/future-util.h
  src/v/ssx/fwd.h
  src/v/ssx/semaphore.h
  src/v/ssx/sformat.h
  src/v/ssx/sharded_ptr.h
  src/v/ssx/sharded_value.h
  src/v/ssx/single_sharded.h
  src/v/ssx/sleep_abortable.h
  src/v/ssx/task_local_ptr.h
  src/v/ssx/thread_worker.h
  src/v/ssx/watchdog.h
  src/v/ssx/work_queue.h
  src/v/strings/BUILD
  src/v/strings/string_switch.h
  src/v/strings/utf8.h
  src/v/syschecks/BUILD
  src/v/syschecks/syschecks.h
  src/v/transform/BUILD
  src/v/transform/api.h
  src/v/transform/fwd.h
  src/v/transform/logging/BUILD
  src/v/transform/logging/errc.h
  src/v/transform/logging/fwd.h
  src/v/transform/logging/io.h
  src/v/transform/logging/log_manager.h
  src/v/transform/logging/rpc_client.h
  src/v/transform/rpc/BUILD
  src/v/transform/rpc/client.h
  src/v/transform/rpc/deps.h
  src/v/transform/rpc/serde.h
  src/v/transform/rpc/service.h
  src/v/transform/stm/BUILD
  src/v/transform/stm/transform_offsets_stm.h
  src/v/wasm/parser/BUILD
  src/v/wasm/parser/parser.h
  tools/lint-includes
Labels: area/build, area/redpanda, area/wasm

#22889 bazel: build wasmtime with native bazel rules
  Cargo.toml
  MODULE.bazel
  MODULE.bazel.lock
  bazel/install-deps.sh
  bazel/thirdparty/Cargo.lock
  bazel/thirdparty/Cargo.toml
  bazel/thirdparty/wasmtime.BUILD
  src/v/thirdparty/wasmtime/BUILD
  src/v/thirdparty/wasmtime/wasm.h
  src/v/thirdparty/wasmtime/wasmtime.h
  src/v/wasm/BUILD
  src/v/wasm/wasmtime.cc
Labels: area/redpanda, area/wasm

#22897 [CORE-5696] bazel: use execpath
  src/v/kafka/protocol/schemata/generator.bzl
  src/v/rpc/compiler.bzl
Labels: area/redpanda

#22882 various small fixes: typos, formatting, logging etc
  src/v/cloud_storage/topic_manifest_downloader.h
  src/v/cluster/controller.h
  src/v/cluster/topic_properties.cc
  src/v/cluster/types.h
  src/v/utils/retry_chain_node.h
  tests/rptest/tests/scaling_up_test.py
Labels: area/redpanda

#22899 bazel: introduce implementation deps
  bazel/build.bzl
  src/v/wasm/BUILD
  src/v/wasm/tests/BUILD
Labels: area/redpanda, area/wasm

#22781 [backport] [v24.1.x] miscellaneous idempotency fixes #22687
  src/v/cluster/CMakeLists.txt
  src/v/cluster/errc.h
  src/v/cluster/errors.cc
  src/v/cluster/producer_state.cc
  src/v/cluster/producer_state.h
  src/v/cluster/producer_state_manager.cc
  src/v/cluster/producer_state_manager.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/idempotency_tests.cc
  src/v/cluster/tests/producer_state_tests.cc
  src/v/cluster/tests/rm_stm_test_fixture.h
  src/v/cluster/tx_gateway_frontend.cc
  src/v/redpanda/application.cc
  tests/java/verifiers/pom.xml
  tests/java/verifiers/src/main/java/idempotency/App.java
  tests/rptest/services/idempotency_load_generator.py
  tests/rptest/tests/idempotency_recovery_test.py
  tests/rptest/tests/transactions_test.py
Labels: area/redpanda

#22834 [v24.2.x] [CORE-4599] dt/x: Clean up log manager metrics values test
  tests/rptest/tests/data_transforms_test.py
Labels: kind/backport

#22895 [v24.2.x] kafka/group: don't replicate empty batch on offset commit
  src/v/kafka/server/group.cc
  src/v/kafka/server/tests/consumer_groups_test.cc
Labels: area/redpanda, kind/backport

#22864 [v24.2.x] [CORE-6656] schema registry json schema: unions extended case
  src/v/pandaproxy/schema_registry/json.cc
  src/v/pandaproxy/schema_registry/test/test_json_schema.cc
Labels: area/redpanda, kind/backport

#22854 Added capturing details on top 3 memory-consuming processes
  src/v/cloud_storage/cache_service.cc
  tests/rptest/services/redpanda.py
Labels: area/redpanda

#22789 [v24.1.x] config: update docs for cloud_storage_azure_hierarchical_namespace_enabled
  src/v/config/configuration.cc
Labels: area/redpanda, kind/backport

#22896 [v24.1.x] kafka/group: don't replicate empty batch on offset commit
  src/v/kafka/server/group.cc
  src/v/kafka/server/tests/consumer_groups_test.cc
Labels: area/redpanda, kind/backport

#22790 [v24.2.x] config: update docs for cloud_storage_azure_hierarchical_namespace_enabled
  src/v/config/configuration.cc
Labels: area/redpanda, kind/backport

#21576 cst/inv: wire in inventory download service
  src/v/cloud_storage/inventory/aws_ops.cc
  src/v/cloud_storage/inventory/inv_consumer.cc
  src/v/cloud_storage/inventory/inv_ops.cc
  src/v/cloud_storage/inventory/tests/create_inventory_config_test.cc
  src/v/cloud_storage/inventory/types.cc
  src/v/cloud_storage/inventory/types.h
  src/v/cluster/inventory_service.cc
  src/v/cluster/inventory_service.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/node_config.cc
  src/v/config/node_config.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  tests/rptest/archival/s3_client.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/cloud_storage_inventory_test.py
Labels: area/redpanda

#22893 configs: miscellaneous fixes
  src/v/cluster/snapshot.h
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/tx_hash_ranges_tests.cc
  src/v/cluster/tm_stm.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  tests/rptest/services/admin.py
Labels: area/redpanda

#22791 Tests logging improments
  src/v/storage/logger.cc
  src/v/storage/logger.h
  src/v/storage/storage_resources.cc
  tests/rptest/services/redpanda.py
Labels: area/redpanda

#22900 bazel: add tests for wasm/parser
  Cargo.toml
  src/v/wasm/parser/BUILD
  src/v/wasm/parser/parser.cc
  src/v/wasm/parser/tests/BUILD
Labels: area/redpanda, area/wasm

#22886 [v23.3.x] CORE-5766 Validate target node id when collecting health report
  src/v/cluster/errc.h
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_types.cc
  src/v/cluster/health_monitor_types.h
  src/v/cluster/node_status_backend.cc
  src/v/cluster/node_status_backend.h
  src/v/cluster/service.cc
  src/v/kafka/server/errors.h
  tests/rptest/tests/node_folder_deletion_test.py
Labels: area/redpanda, kind/backport

#22878 [CORE-5770] schema registry: support for `dependencies` in `type: object`
  src/v/pandaproxy/schema_registry/json.cc
  src/v/pandaproxy/schema_registry/test/test_json_schema.cc
Labels: area/redpanda

#22714 Seastar friendly protobuf parser
  MODULE.bazel
  MODULE.bazel.lock
  bazel/repositories.bzl
  bazel/thirdparty/libprotobuf-mutator.BUILD
  src/v/bytes/iobuf_parser.h
  src/v/container/fragmented_vector.h
  src/v/serde/protobuf/BUILD
  src/v/serde/protobuf/README.md
  src/v/serde/protobuf/parser.cc
  src/v/serde/protobuf/parser.h
  src/v/serde/protobuf/tests/BUILD
  src/v/serde/protobuf/tests/parser_test.cc
  src/v/serde/protobuf/tests/test_messages_edition2023.proto
  src/v/serde/protobuf/tests/three.proto
  src/v/serde/protobuf/tests/two.proto
  src/v/utils/vint.h
Labels: area/redpanda, area/cloud-storage

#22902 `cloud_storage_clients`: add `cloud_storage_backend::oracle` and fix `s3_client::self_configure()`
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage_clients/configuration.cc
  src/v/cloud_storage_clients/configuration.h
  src/v/cloud_storage_clients/s3_client.cc
  src/v/config/configuration.cc
  src/v/config/convert.h
  src/v/model/metadata.h
  tests/rptest/services/redpanda.py
  tests/rptest/tests/cluster_self_config_test.py
Labels: area/redpanda

#22679 cloud_storage: add param names to cache ctor
  src/v/cloud_storage/cache_service.h
Labels: area/redpanda

#22911 bazel: breakup transform/logging and add tests
  bazel/test.bzl
  src/v/transform/logging/BUILD
  src/v/transform/logging/tests/BUILD
  src/v/transform/logging/tests/log_manager_test.cc
  src/v/transform/logging/tests/model_test.cc
  src/v/transform/tests/BUILD
Labels: area/redpanda, area/wasm

#22912 tx: do not throw USE on expired transaction_ids
  src/v/cluster/tx_gateway_frontend.cc
  tests/rptest/transactions/transactions_test.py
Labels: area/redpanda

#22831 `cluster`: Parse unknown self-test checks
  src/v/cluster/self_test_backend.cc
  src/v/cluster/self_test_backend.h
  src/v/cluster/self_test_frontend.cc
  src/v/cluster/self_test_rpc_types.cc
  src/v/cluster/self_test_rpc_types.h
  src/v/redpanda/admin/server.cc
  tests/rptest/tests/self_test_test.py
Labels: area/redpanda

#22778 [v24.1.x] `cluster`: add `serde_fields()` to `start_test_request`
  src/v/cluster/self_test_rpc_types.h
Labels: area/redpanda

#22914 storage: make logger a Bazel private library
  src/v/resource_mgmt/storage.cc
  src/v/storage/BUILD
  src/v/storage/api.cc
  src/v/storage/api.h
  src/v/storage/chunk_cache.h
  src/v/storage/directories.h
  src/v/storage/node.cc
  src/v/storage/offset_to_filepos.cc
  src/v/storage/offset_to_filepos.h
  src/v/storage/probe.cc
  src/v/storage/probe.h
  src/v/storage/readers_cache.cc
  src/v/storage/snapshot.cc
Labels: area/redpanda

#22922 [v24.2.x] `cluster`: Parse unknown self-test checks
  src/v/cluster/self_test_backend.cc
  src/v/cluster/self_test_backend.h
  src/v/cluster/self_test_frontend.cc
  src/v/cluster/self_test_rpc_types.cc
  src/v/cluster/self_test_rpc_types.h
  src/v/redpanda/admin/server.cc
  tests/rptest/tests/self_test_test.py
Labels: area/redpanda, kind/backport

#22916 [v24.2.x] `cloud_storage_clients`: add `cloud_storage_backend::oracle` and fix `s3_client::self_configure()` (manual backport)
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage_clients/configuration.cc
  src/v/cloud_storage_clients/configuration.h
  src/v/cloud_storage_clients/s3_client.cc
  src/v/config/configuration.cc
  src/v/config/convert.h
  src/v/model/metadata.h
  tests/rptest/services/redpanda.py
  tests/rptest/tests/cluster_self_config_test.py
Labels: area/redpanda

#22812 CORE-6835 Fix first time compacted segment upload
  src/v/cluster/archival/archival_policy.cc
  src/v/cluster/archival/tests/ntp_archiver_test.cc
  tests/rptest/tests/shadow_indexing_compacted_topic_test.py
Labels: area/redpanda

#22913 [v24.2.x] [CORE-5770] schema registry: support for `dependencies` in `type: object`
  src/v/pandaproxy/schema_registry/json.cc
  src/v/pandaproxy/schema_registry/test/test_json_schema.cc
Labels: area/redpanda, kind/backport

#22923 `cloud_storage_clients`: remove remote perm checks from `s3_client::self_configure()`
  src/v/cloud_storage_clients/s3_client.cc
  src/v/cloud_storage_clients/s3_client.h
  tests/rptest/tests/cluster_config_test.py
  tests/rptest/tests/cluster_self_config_test.py
  tests/rptest/tests/self_test_test.py
Labels: area/redpanda

#22927 [v24.2.x] `cloud_storage_clients`: remove remote perm checks from `s3_client::self_configure()`
  src/v/cloud_storage_clients/s3_client.cc
  src/v/cloud_storage_clients/s3_client.h
  tests/rptest/tests/cluster_config_test.py
  tests/rptest/tests/cluster_self_config_test.py
  tests/rptest/tests/self_test_test.py
Labels: area/redpanda, kind/backport

#22909 [v24.2.x] Tests logging improments
  src/v/storage/logger.cc
  src/v/storage/logger.h
  src/v/storage/storage_resources.cc
  tests/rptest/services/redpanda.py
Labels: area/redpanda, kind/backport

#22686 `storage`: fix condition in `disk_log_impl::have_segments_to_evict()`
  src/v/storage/disk_log_impl.cc
  src/v/storage/tests/log_retention_tests.cc
  src/v/storage/tests/storage_e2e_fixture_test.cc
  tests/rptest/tests/retention_policy_test.py
Labels: area/redpanda

#22906 iotune: Add ioprops for m7gd
  src/go/rpk/pkg/tuners/iotune/data.go
Labels: area/rpk

#22910 [v24.1.x] CORE-5766 Validate target node id when collecting health report
  src/v/cluster/errc.h
  src/v/cluster/errors.cc
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_types.cc
  src/v/cluster/health_monitor_types.h
  src/v/cluster/node_status_backend.cc
  src/v/cluster/node_status_backend.h
  src/v/cluster/service.cc
  src/v/kafka/server/errors.h
  tests/rptest/tests/node_folder_deletion_test.py
Labels: area/redpanda, kind/backport

#22924 [v24.2.x] CORE-6835 Fix first time compacted segment upload
  src/v/archival/archival_policy.cc
  src/v/archival/tests/ntp_archiver_test.cc
  tests/rptest/tests/shadow_indexing_compacted_topic_test.py
Labels: area/redpanda, kind/backport

#22917 [v24.2.x] tx: do not throw USE on expired transaction_ids
  src/v/cluster/tx_gateway_frontend.cc
  tests/rptest/transactions/transactions_test.py
Labels: area/redpanda, kind/backport

#22939 [v24.2.x] CORE-6859 bazel: update seastar with prometheus fix
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: kind/backport

#22937 c/tx_gateway: made `end_txn` fully idempotent when committing transaction
  src/v/cluster/tx_gateway_frontend.cc
Labels: area/redpanda

#22905 [CORE-6807] `kafka`: change `offset_out_of_range` condition in `replicated_partition::prefix_truncate()`
  src/v/kafka/server/replicated_partition.cc
  tests/rptest/clients/kafka_cli_tools.py
  tests/rptest/tests/delete_records_test.py
Labels: area/redpanda

#22938 [CORE-5542] s/segment_utils: pass abort source into compacted index reader
  src/v/storage/compacted_index_chunk_reader.cc
  src/v/storage/compacted_index_chunk_reader.h
  src/v/storage/compacted_index_reader.h
  src/v/storage/segment_deduplication_utils.cc
  src/v/storage/segment_utils.cc
  src/v/storage/tests/compaction_index_format_tests.cc
Labels: area/redpanda

#22921 tx: relax some asserts to error logs for forward progress.
  src/v/cluster/producer_state.cc
  src/v/cluster/rm_stm.cc
Labels: area/redpanda

#22943 [backport] [24.1.x] tx: do not throw USE on expired transaction_ids
  src/v/cluster/tx_gateway_frontend.cc
  tests/rptest/tests/transactions_test.py
Labels: area/redpanda

#22940 bazel: fix local toolchain selection
  .bazelrc
  src/v/wasm/schema_registry_module.h
  src/v/wasm/transform_module.h
  src/v/wasm/wasi.h
Labels: area/redpanda, area/wasm

#22944 [v24.1.x] [CORE-6807] `kafka`: change `offset_out_of_range` condition in `replicated_partition::prefix_truncate()`
  src/v/kafka/server/replicated_partition.cc
  tests/rptest/clients/kafka_cli_tools.py
  tests/rptest/tests/delete_records_test.py
Labels: area/redpanda, kind/backport

#22920 iceberg: add value representation
  src/v/iceberg/BUILD
  src/v/iceberg/CMakeLists.txt
  src/v/iceberg/logger.cc
  src/v/iceberg/logger.h
  src/v/iceberg/tests/BUILD
  src/v/iceberg/tests/CMakeLists.txt
  src/v/iceberg/tests/values_test.cc
  src/v/iceberg/values.cc
  src/v/iceberg/values.h
Labels: area/redpanda

#22945 [v24.2.x] [CORE-6807] `kafka`: change `offset_out_of_range` condition in `replicated_partition::prefix_truncate()`
  src/v/kafka/server/replicated_partition.cc
  tests/rptest/clients/kafka_cli_tools.py
  tests/rptest/tests/delete_records_test.py
Labels: area/redpanda, kind/backport

#22949 [v24.2.x] tx: relax some asserts to error logs for forward progress.
  src/v/cluster/producer_state.cc
  src/v/cluster/rm_stm.cc
Labels: area/redpanda, kind/backport
