Repository redpanda-data/redpanda, pull requests merged in 2024-03, with the labels that each got.

#16658 Virtual connections in Kafka server
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/connection_context.h
  src/v/kafka/server/server.h
  tests/rptest/tests/connection_virtualizing_test.py
Labels: area/redpanda

#16693 rpk: update help text of decommission-status
  src/go/rpk/pkg/cli/redpanda/admin/brokers/decommission-status.go
Labels: area/rpk

#16183 admin/server: fix get_cluster_id response formatting
  src/v/redpanda/admin/server.cc
  tests/rptest/tests/admin_operations_test.py
  tests/rptest/tests/cluster_metadata_upload_test.py
Labels: area/redpanda

#16780 Cloud Storage: Ignore abort_requested_exception on shutdown
  src/v/cloud_storage/remote.cc
Labels: area/redpanda

#16829 [v23.3.x] rpk: update help text of decommission-status
  src/go/rpk/pkg/cli/redpanda/admin/brokers/decommission-status.go
Labels: area/rpk, kind/backport

#16826 rpk: add debug logs to BYOC
  src/go/rpk/pkg/cli/cloud/byoc/byoc.go
  src/go/rpk/pkg/cli/cloud/byoc/install.go
  src/go/rpk/pkg/config/params.go
  src/go/rpk/pkg/oauth/load.go
  src/go/rpk/pkg/oauth/oauth.go
Labels: area/rpk

#16724 producer_state_manager: add a metric for eviction
  src/v/cluster/producer_state_manager.cc
  src/v/cluster/producer_state_manager.h
  tests/rptest/tests/transactions_test.py
Labels: area/redpanda

#16778 [v23.3.x] slash-cmd: fix /backport command
  .github/workflows/scripts/backport-command/pr_details.sh
  tests/docker/ducktape-deps/flink
Labels: area/build, kind/backport

#16828 Enable large alloc warnings above 128KiB by default
  src/v/config/node_config.cc
  tests/rptest/services/redpanda.py
  tests/rptest/services/templates/redpanda.yaml
Labels: area/redpanda

#16839 [v23.3.x] producer_state_manager: add a metric for eviction
  src/v/cluster/producer_state_manager.cc
  src/v/cluster/producer_state_manager.h
  tests/rptest/tests/transactions_test.py
Labels: area/redpanda, kind/backport

#16837 [v23.3.x] rpk: add debug logs to BYOC
  src/go/rpk/pkg/cli/cloud/byoc/byoc.go
  src/go/rpk/pkg/cli/cloud/byoc/install.go
  src/go/rpk/pkg/config/params.go
  src/go/rpk/pkg/oauth/load.go
  src/go/rpk/pkg/oauth/oauth.go
Labels: area/rpk, kind/backport

#16844 [v23.3.x] Enable large alloc warnings above 128KiB by default
  src/v/config/node_config.cc
  tests/rptest/services/redpanda.py
  tests/rptest/services/templates/redpanda.yaml
Labels: area/redpanda, kind/backport

#16811 [v23.3.x] admin: fix path param parsing in admin api
  src/v/redpanda/admin/security.cc
  src/v/redpanda/admin/server.cc
  src/v/redpanda/admin/util.cc
  src/v/redpanda/admin/util.h
  src/v/redpanda/tests/CMakeLists.txt
  src/v/redpanda/tests/util_tests.cc
  tests/rptest/clients/rpk.py
  tests/rptest/tests/rpk_acl_test.py
Labels: area/redpanda, kind/backport

#16749 [v23.3.x] rm_stm/idempotency: fix the producer lock scope
  src/v/cluster/rm_stm.cc
Labels: area/redpanda, kind/backport

#16845 Remove v23.1 from the PR template.
  .github/pull_request_template.md
Labels: area/build

#16801 [v23.3.x] c/topic_table_probe: use btree_map in topic table probe
  src/v/cluster/topic_table_probe.h
Labels: area/redpanda, kind/backport

#16836 rpk: remove timeout for profile create
  src/go/rpk/pkg/cli/profile/create.go
Labels: area/rpk

#16835 rpk: replace web UI url for cloud clusters
  src/go/rpk/pkg/cli/profile/create.go
Labels: area/rpk

#16832 [v23.3.x] admin/server: fix get_cluster_id response formatting
  src/v/redpanda/admin/server.cc
  tests/rptest/tests/admin_operations_test.py
  tests/rptest/tests/cluster_metadata_upload_test.py
Labels: area/redpanda, kind/backport

#16781 RBAC Admin API Swagger and handler stubs
  src/v/redpanda/admin/api-doc/security.def.json
  src/v/redpanda/admin/api-doc/security.json
  src/v/redpanda/admin/security.cc
  tests/rptest/services/admin.py
  tests/rptest/tests/rbac_test.py
Labels: area/redpanda

#16777 [v23.3.x] rpk cloud namespace: create, list, delete
  .github/workflows/lint-golang.yml
  src/go/rpk/buf.gen.yaml
  src/go/rpk/buf.yaml
  src/go/rpk/generate.sh
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cloud/cloud.go
  src/go/rpk/pkg/cli/cloud/namespace/create.go
  src/go/rpk/pkg/cli/cloud/namespace/delete.go
  src/go/rpk/pkg/cli/cloud/namespace/list.go
  src/go/rpk/pkg/cli/cloud/namespace/namespace.go
  src/go/rpk/pkg/config/config.go
  src/go/rpk/pkg/publicapi/publicapi.go
  src/go/rpk/proto/gen/go/redpanda/api/common/v1alpha1/common.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/cluster.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/cluster_grpc.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/common.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/dummy.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/dummy_grpc.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/error.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/namespace.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/namespace_grpc.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/network.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/network_grpc.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/operation.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/operation_grpc.pb.go
Labels: area/rpk, area/build, kind/backport

#16852 [v23.3.x] rpk: remove timeout for profile create
  src/go/rpk/pkg/cli/profile/create.go
Labels: area/rpk, kind/backport

#16526 transform: gc committed offsets
  src/v/cluster/distributed_kv_stm.h
  src/v/cluster/distributed_kv_stm_types.h
  src/v/cluster/tests/distributed_kv_stm_tests.cc
  src/v/redpanda/admin/api-doc/transform.json
  src/v/redpanda/admin/server.h
  src/v/redpanda/admin/transform.cc
  src/v/transform/api.cc
  src/v/transform/api.h
  src/v/transform/rpc/client.cc
  src/v/transform/rpc/client.h
  src/v/transform/rpc/deps.cc
  src/v/transform/rpc/deps.h
  src/v/transform/rpc/rpc.json
  src/v/transform/rpc/serde.cc
  src/v/transform/rpc/serde.h
  src/v/transform/rpc/service.cc
  src/v/transform/rpc/service.h
  src/v/transform/rpc/tests/transform_rpc_test.cc
  tests/rptest/services/admin.py
  tests/rptest/tests/data_transforms_test.py
Labels: area/redpanda, area/wasm

#16854 [v23.3.x] rpk: replace web UI url for cloud clusters
  src/go/rpk/pkg/cli/profile/create.go
Labels: area/rpk, kind/backport

#16858 admin/transform/delete: path decode names
  src/go/rpk/pkg/adminapi/api_transform.go
  src/v/redpanda/admin/transform.cc
Labels: area/rpk, area/redpanda

#16856 rpk/transform/buildpack: upgrade tinygo
  src/go/rpk/pkg/cli/transform/buildpack/buildpack.go
Labels: area/rpk

#16855 [v23.2.x] rpk: replace web UI url for cloud clusters
  src/go/rpk/pkg/cli/profile/create.go
Labels: area/rpk, kind/backport

#16857 cmake: upgrade tinygo compiler
  cmake/dependencies.cmake
Labels: area/build

#16853 cloud_storage: Improve stale_reader test
  src/v/cloud_storage/tests/remote_partition_test.cc
  src/v/cloud_storage/tests/util.cc
Labels: area/redpanda

#16768 Introduce `principal_type::role`
  src/go/rpk/pkg/cli/acl/common.go
  src/v/kafka/server/handlers/details/security.h
  src/v/security/acl.cc
  src/v/security/acl.h
  tests/rptest/clients/kafka_cli_tools.py
  tests/rptest/tests/kafka_cli_client_compat_test.py
  tests/rptest/tests/librdkafka_test.py
  tests/rptest/tests/rpk_acl_test.py
Labels: area/rpk, area/redpanda

#16566 Metrics for transform logging
  src/v/transform/logging/CMakeLists.txt
  src/v/transform/logging/fwd.h
  src/v/transform/logging/log_manager.cc
  src/v/transform/logging/log_manager.h
  src/v/transform/logging/probes.cc
  src/v/transform/logging/probes.h
  tests/rptest/tests/data_transforms_test.py
Labels: area/redpanda, area/wasm

#16891 [v23.3.x] cmake: upgrade tinygo compiler
  cmake/dependencies.cmake
Labels: area/build, kind/backport

#16889 [v23.3.x] rpk/transform/buildpack: upgrade tinygo
  src/go/rpk/pkg/cli/transform/buildpack/buildpack.go
Labels: area/rpk, kind/backport

#16885 [v23.3.x] admin/transform/delete: path decode names
  src/go/rpk/pkg/adminapi/api_transform.go
  src/v/redpanda/admin/transform.cc
Labels: area/rpk, area/redpanda, kind/backport

#16850 Fixed background apply fiber race condition in `raft::state_machine_manager`
  src/v/raft/state_machine_manager.cc
  src/v/raft/state_machine_manager.h
  src/v/raft/tests/stm_manager_test.cc
  src/v/raft/tests/stm_test_fixture.h
Labels: area/redpanda

#16797 Added support for changing tx topic properties
  src/v/cluster/CMakeLists.txt
  src/v/cluster/fwd.h
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/tx_topic_test.cc
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/tx_gateway_frontend.h
  src/v/cluster/tx_topic_manager.cc
  src/v/cluster/tx_topic_manager.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
Labels: area/redpanda

#16767 [v23.3.x] wasm/parser: bump limits
  src/v/wasm/parser/parser.cc
  src/v/wasm/parser/parser.h
  src/v/wasm/parser/tests/parser_test.cc
Labels: area/redpanda, kind/backport

#16890 raft: remove full_raft_configuration_recovery_pattern config property
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/raft/consensus.cc
Labels: area/redpanda

#16886 cloud_storage: various non-functional changes
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_segment.cc
Labels: area/redpanda

#16825 Crypto lib
  .github/CODEOWNERS
  src/v/CMakeLists.txt
  src/v/base/CMakeLists.txt
  src/v/bytes/include/bytes/bytes.h
  src/v/crypto/CMakeLists.txt
  src/v/crypto/README.md
  src/v/crypto/crypto.cc
  src/v/crypto/digest.cc
  src/v/crypto/hmac.cc
  src/v/crypto/include/crypto/crypto.h
  src/v/crypto/include/crypto/exceptions.h
  src/v/crypto/include/crypto/types.h
  src/v/crypto/internal.h
  src/v/crypto/key.cc
  src/v/crypto/key.h
  src/v/crypto/random.cc
  src/v/crypto/signature.cc
  src/v/crypto/ssl_utils.cc
  src/v/crypto/ssl_utils.h
  src/v/crypto/test/CMakeLists.txt
  src/v/crypto/test/crypto_test_utils.h
  src/v/crypto/test/digest_tests.cc
  src/v/crypto/test/hmac_tests.cc
  src/v/crypto/test/key_tests.cc
  src/v/crypto/test/random_tests.cc
  src/v/crypto/test/signature_tests.cc
Labels: area/build, area/redpanda, area/security

#16907 Revert "rm_stm/idempotency: fix the producer lock scope"
  src/v/cluster/rm_stm.cc
Labels: area/redpanda

#16911 tests: add test for GTEST_SKIP_CORO
  src/v/test_utils/tests/gtest_test.cc
Labels: area/redpanda

#16813 [v23.2.x] admin: fix path param parsing in admin api
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/admin/util.cc
  src/v/redpanda/admin/util.h
  src/v/redpanda/admin_server.cc
  src/v/redpanda/tests/CMakeLists.txt
  src/v/redpanda/tests/util_tests.cc
  tests/rptest/clients/rpk.py
  tests/rptest/tests/rpk_acl_test.py
Labels: area/redpanda, kind/backport

#16905 crypto: Updated jwt to use crypto lib
  src/v/security/CMakeLists.txt
  src/v/security/jwt.h
  src/v/security/tests/jwt_test.cc
Labels: area/redpanda

#16909 Add support for cryptolib RNG
  src/v/bytes/include/bytes/random.h
  src/v/bytes/random.cc
  src/v/crypto/include/crypto/crypto.h
  src/v/crypto/random.cc
  src/v/random/CMakeLists.txt
  src/v/random/generators.cc
  src/v/random/include/random/generators.h
  src/v/security/scram_algorithm.h
  src/v/security/scram_authenticator.cc
Labels: area/redpanda

#16913 [v23.3.x] Metrics for transform logging
  src/v/transform/logging/CMakeLists.txt
  src/v/transform/logging/fwd.h
  src/v/transform/logging/log_manager.cc
  src/v/transform/logging/log_manager.h
  src/v/transform/logging/probes.cc
  src/v/transform/logging/probes.h
  tests/rptest/tests/data_transforms_test.py
Labels: area/redpanda, kind/backport

#16763 Introduce RBAC data model
  src/v/security/CMakeLists.txt
  src/v/security/fwd.h
  src/v/security/role.cc
  src/v/security/role.h
  src/v/security/role_store.h
  src/v/security/tests/CMakeLists.txt
  src/v/security/tests/role_store_bench.cc
  src/v/security/tests/role_store_test.cc
  src/v/security/types.h
Labels: area/redpanda

#16900 r/tests: added context to visible offset validating test assertion
  src/v/raft/tests/basic_raft_fixture_test.cc
Labels: area/redpanda

#16910 Use cryptolib instead of gnutls for HMAC and secure digests
  src/v/hashing/CMakeLists.txt
  src/v/hashing/include/hashing/secure.h
  src/v/net/CMakeLists.txt
Labels: area/redpanda

#16908 Revert "[v23.3.x] rm_stm/idempotency: fix the producer lock scope"
  src/v/cluster/rm_stm.cc
Labels: area/redpanda

#16894 [v23.3.x] cloud_storage: Improve stale_reader test
  src/v/cloud_storage/tests/remote_partition_test.cc
  src/v/cloud_storage/tests/util.cc
Labels: area/redpanda, kind/backport

#16903 [v23.3.x] cloud_storage: various non-functional changes
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_segment.cc
Labels: area/redpanda, kind/backport

#16897 [v23.3.x] Fixed background apply fiber race condition in `raft::state_machine_manager`
  src/v/raft/state_machine_manager.cc
  src/v/raft/state_machine_manager.h
  src/v/raft/tests/stm_manager_test.cc
  src/v/raft/tests/stm_test_fixture.h
Labels: area/redpanda, kind/backport

#16920 k/group_manager: used chunked_vector when cleaning groups
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
Labels: area/redpanda

#16917 c/leader_balancer: replaced muted group index with roaring bitmap
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/cluster/scheduling/leader_balancer.h
  src/v/cluster/scheduling/leader_balancer_constraints.cc
  src/v/cluster/scheduling/leader_balancer_constraints.h
  src/v/cluster/scheduling/leader_balancer_greedy.h
  src/v/cluster/scheduling/leader_balancer_random.h
  src/v/cluster/scheduling/leader_balancer_strategy.h
  src/v/cluster/scheduling/leader_balancer_types.h
  src/v/cluster/tests/leader_balancer_constraints_test.cc
  src/v/cluster/tests/leader_balancer_constraints_utils.h
  src/v/cluster/tests/leader_balancer_test.cc
Labels: area/redpanda

#16714 Added `redpanda.virtual.cluster.id` topic property
  src/v/archival/ntp_archiver_service.cc
  src/v/cloud_storage/topic_manifest.cc
  src/v/cloud_storage/types.h
  src/v/cluster/topic_recovery_service.cc
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/compat/cluster_compat.h
  src/v/compat/cluster_generator.h
  src/v/compat/cluster_json.h
  src/v/compat/json.h
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/handlers/describe_configs.cc
  src/v/kafka/server/handlers/topics/types.cc
  src/v/kafka/server/handlers/topics/types.h
  src/v/kafka/server/handlers/topics/validators.h
  src/v/model/metadata.h
  tests/rptest/clients/types.py
  tests/rptest/tests/topic_recovery_test.py
  tests/rptest/tests/vcluster_topic_property_test.py
  tools/offline_log_viewer/controller.py
Labels: area/redpanda

#16440 transform: data path for multiple output topics
  src/v/model/transform.cc
  src/v/model/transform.h
  src/v/ssx/future-util.h
  src/v/transform/api.cc
  src/v/transform/io.h
  src/v/transform/probe.cc
  src/v/transform/probe.h
  src/v/transform/rpc/tests/transform_rpc_test.cc
  src/v/transform/tests/commit_batcher_test.cc
  src/v/transform/tests/test_fixture.cc
  src/v/transform/tests/test_fixture.h
  src/v/transform/tests/transform_processor_test.cc
  src/v/transform/transfer_queue.h
  src/v/transform/transform_manager.cc
  src/v/transform/transform_processor.cc
  src/v/transform/transform_processor.h
  src/v/wasm/api.h
  src/v/wasm/ffi.cc
  src/v/wasm/ffi.h
  src/v/wasm/tests/wasm_cache_test.cc
  src/v/wasm/tests/wasm_fixture.cc
  src/v/wasm/tests/wasm_transform_bench.cc
  src/v/wasm/transform_module.cc
  src/v/wasm/transform_module.h
  src/v/wasm/wasmtime.cc
Labels: area/redpanda, area/wasm

#16846 Made `storage::readers_cache` size limitted
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/readers_cache.cc
  src/v/storage/readers_cache.h
  src/v/storage/tests/CMakeLists.txt
  src/v/storage/tests/readers_cache_test.cc
Labels: area/redpanda

#16936 crypto/cmake: Fixed exact versioning
  src/v/crypto/CMakeLists.txt
Labels: area/redpanda

#16939 [v23.3.x] c/leader_balancer: replaced muted group index with roaring bitmap
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/cluster/scheduling/leader_balancer.h
  src/v/cluster/scheduling/leader_balancer_constraints.cc
  src/v/cluster/scheduling/leader_balancer_constraints.h
  src/v/cluster/scheduling/leader_balancer_greedy.h
  src/v/cluster/scheduling/leader_balancer_random.h
  src/v/cluster/scheduling/leader_balancer_strategy.h
  src/v/cluster/scheduling/leader_balancer_types.h
  src/v/cluster/tests/leader_balancer_constraints_test.cc
  src/v/cluster/tests/leader_balancer_constraints_utils.h
  src/v/cluster/tests/leader_balancer_test.cc
Labels: area/redpanda, kind/backport

#16940 [v23.3.x] storage: fix windowed compaction error handling
  src/v/storage/compaction_reducers.cc
  src/v/storage/compaction_reducers.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/fs_utils.cc
  src/v/storage/segment_deduplication_utils.cc
  src/v/storage/segment_deduplication_utils.h
  src/v/storage/segment_utils.cc
  src/v/storage/segment_utils.h
  src/v/storage/tests/segment_deduplication_test.cc
  src/v/storage/tests/utils/disk_log_builder.h
Labels: area/redpanda

#16958 Ensure `fragment_vector` fragments are always <= 128KiB
  src/v/container/include/container/fragmented_vector.h
Labels: area/redpanda

#16933 gha: allow manually dispatching the open source build
  .github/workflows/build-redpanda.yml
Labels: area/build

#16935 [v23.3.x] fix for cluster_config_test.py::test_aliasing
  tests/rptest/tests/cluster_config_test.py
Labels: kind/backport

#16963 [v23.3.x] Made `storage::readers_cache` size limited
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/readers_cache.cc
  src/v/storage/readers_cache.h
  src/v/storage/tests/CMakeLists.txt
  src/v/storage/tests/readers_cache_test.cc
Labels: area/redpanda

#16965 [v23.3.x] Ensure `fragment_vector` fragments are always <= 128KiB
  src/v/utils/fragmented_vector.h
Labels: area/redpanda, kind/backport

#16968 [v23.3.x] Added support for changing tx topic properties
  src/v/cluster/CMakeLists.txt
  src/v/cluster/fwd.h
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/tx_topic_test.cc
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/tx_gateway_frontend.h
  src/v/cluster/tx_topic_manager.cc
  src/v/cluster/tx_topic_manager.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
Labels: area/redpanda

#16946 transform: multiple output topics control plane
  src/v/cluster/plugin_frontend.cc
  src/v/cluster/tests/plugin_frontend_validation_test.cc
  src/v/transform/api.cc
  src/v/wasm/tests/wasi_test.cc
  src/v/wasm/wasmtime.cc
Labels: area/redpanda, area/wasm

#16972 config: Increase transform logs buffer cap
  src/v/config/configuration.cc
Labels: area/redpanda

#16973 rptest: improve data transform tests
  src/v/transform/transform_processor.cc
  tests/rptest/services/transform_verifier_service.py
  tests/rptest/tests/data_transforms_test.py
Labels: area/redpanda, area/wasm

#16924 write caching - configurations
  src/v/cluster/cluster_utils.cc
  src/v/cluster/metadata_cache.cc
  src/v/cluster/metadata_cache.h
  src/v/cluster/partition.cc
  src/v/cluster/tests/topic_properties_generator.h
  src/v/cluster/topic_table.cc
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/compat/cluster_compat.h
  src/v/compat/cluster_generator.h
  src/v/compat/cluster_json.h
  src/v/compat/model_json.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/convert.h
  src/v/config/property.h
  src/v/config/rjson_serialization.cc
  src/v/config/rjson_serialization.h
  src/v/kafka/protocol/CMakeLists.txt
  src/v/kafka/server/handlers/alter_configs.cc
  src/v/kafka/server/handlers/configs/config_utils.h
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/handlers/describe_configs.cc
  src/v/kafka/server/handlers/incremental_alter_configs.cc
  src/v/kafka/server/handlers/topics/types.h
  src/v/kafka/server/handlers/topics/validators.h
  src/v/kafka/server/tests/alter_config_test.cc
  src/v/model/metadata.h
  src/v/model/model.cc
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/group_manager.cc
  src/v/raft/group_manager.h
  src/v/raft/tests/simple_raft_fixture.h
  src/v/redpanda/admin/api-doc/debug.json
  src/v/redpanda/admin/debug.cc
  src/v/redpanda/application.cc
  src/v/storage/ntp_config.h
  src/v/storage/types.cc
  tests/rptest/tests/describe_topics_test.py
  tests/rptest/tests/write_caching_test.py
  tools/offline_log_viewer/controller.py
Labels: area/redpanda

#16977 [v23.3.x] config: Increase transform logs buffer cap
  src/v/config/configuration.cc
Labels: area/redpanda, kind/backport

#16987 crypto: Move special members after impl definition
  src/v/crypto/digest.cc
  src/v/crypto/hmac.cc
  src/v/crypto/signature.cc
Labels: area/redpanda

#16985 [v23.3.x] rptest: Fix cloud_retention_test
  tests/rptest/tests/cloud_retention_test.py
Labels: kind/backport

#16990 treewide: Address some warnings
  src/v/io/tests/common.cc
  src/v/kafka/client/test/partitioners.cc
  src/v/kafka/server/handlers/handler_probe.cc
  src/v/kafka/server/tests/offset_for_leader_epoch_utils.cc
  src/v/kafka/server/tests/produce_consume_test.cc
  src/v/pandaproxy/schema_registry/validation.cc
  src/v/raft/configuration_manager.cc
  src/v/raft/consensus_utils.cc
  src/v/redpanda/admin/security.cc
  src/v/redpanda/admin/server.cc
  src/v/rpc/connection_cache.cc
  src/v/utils/tests/retry_test.cc
Labels: area/redpanda

#16982 cluster: Avoid oversize allocs for topic creation and configuration
  src/v/cloud_storage/tests/topic_recovery_service_test.cc
  src/v/cluster/cloud_metadata/cluster_recovery_backend.cc
  src/v/cluster/cluster_utils.cc
  src/v/cluster/cluster_utils.h
  src/v/cluster/service.cc
  src/v/cluster/service.h
  src/v/cluster/tests/autocreate_test.cc
  src/v/cluster/tests/cluster_test_fixture.h
  src/v/cluster/tests/controller_api_tests.cc
  src/v/cluster/tests/health_monitor_test.cc
  src/v/cluster/tests/metadata_dissemination_test.cc
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/cluster/topic_recovery_service.cc
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/compat/check.h
  src/v/compat/cluster_compat.h
  src/v/compat/cluster_generator.h
  src/v/kafka/server/handlers/configs/config_utils.h
  src/v/kafka/server/handlers/topics/topic_utils.h
  src/v/redpanda/tests/fixture.h
  src/v/test_utils/randoms.h
Labels: area/redpanda, area/oversized-allocation

#16950 rpk/transform/deploy: support deploying to multiple output topics
  src/go/rpk/pkg/cli/transform/deploy.go
  src/go/rpk/pkg/cli/transform/project/project.go
Labels: area/rpk

#16902 net: Added EHOSTUNREACH to retry list
  src/v/net/connection.cc
Labels: area/redpanda

#16994 transform-sdks: introduce integration tests
  .github/workflows/transform-sdk-build.yml
  .github/workflows/transform-sdk-release.yml
  src/transform-sdk/tests/admin_client.go
  src/transform-sdk/tests/go.mod
  src/transform-sdk/tests/go.sum
  src/transform-sdk/tests/integration_test.go
  src/transform-sdk/tests/test_util.go
Labels: area/build, area/wasm

#16991 dt: Fix flaky TLS metrics test
  tests/rptest/tests/tls_metrics_test.py
Labels: area/tests

#16970 Prepare leader_balancer for node-local core assignment
  src/v/cluster/controller.cc
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_types.cc
  src/v/cluster/health_monitor_types.h
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/cluster/scheduling/leader_balancer.h
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  tests/rptest/tests/leadership_transfer_test.py
Labels: area/redpanda

#16996 [v23.2.x] net: Added EHOSTUNREACH to retry list
  src/v/net/connection.cc
Labels: area/redpanda, kind/backport

#16998 [v23.3.x] net: Added EHOSTUNREACH to retry list
  src/v/net/connection.cc
Labels: area/redpanda, kind/backport

#17006 [v23.3.x] rptest: improve data transform tests
  tests/rptest/services/transform_verifier_service.py
  tests/rptest/tests/data_transforms_test.py
Labels: kind/backport

#17012 [v23.3.x] cluster: Avoid oversize allocs for topic creation and configuration
  src/v/cloud_storage/tests/topic_recovery_service_test.cc
  src/v/cluster/cloud_metadata/cluster_recovery_backend.cc
  src/v/cluster/cluster_utils.cc
  src/v/cluster/cluster_utils.h
  src/v/cluster/service.cc
  src/v/cluster/service.h
  src/v/cluster/tests/autocreate_test.cc
  src/v/cluster/tests/cluster_test_fixture.h
  src/v/cluster/tests/controller_api_tests.cc
  src/v/cluster/tests/health_monitor_test.cc
  src/v/cluster/tests/metadata_dissemination_test.cc
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/cluster/topic_recovery_service.cc
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/compat/check.h
  src/v/compat/cluster_compat.h
  src/v/compat/cluster_generator.h
  src/v/kafka/server/handlers/configs/config_utils.h
  src/v/kafka/server/handlers/topics/topic_utils.h
  src/v/redpanda/tests/fixture.h
  src/v/test_utils/randoms.h
Labels: area/redpanda, kind/backport, area/oversized-allocation

#17011 admin/transform: 400 for missing topics
  src/v/redpanda/admin/server.cc
Labels: area/redpanda, area/wasm

#16926 Cluster integration for `role_store` and related structures.
  src/v/cluster/commands.h
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/controller_log_limiter.h
  src/v/cluster/errc.h
  src/v/cluster/security_frontend.cc
  src/v/cluster/security_frontend.h
  src/v/cluster/security_manager.cc
  src/v/cluster/security_manager.h
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/security_frontend_test.cc
  src/v/cluster/types.h
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/kafka/server/errors.h
  src/v/model/model.cc
  src/v/model/record_batch_types.h
Labels: area/redpanda

#17013 Fix a segfault when recovery mode is partially enabled
  src/v/cluster/cloud_metadata/offsets_recovery_service.h
  tests/rptest/tests/recovery_mode_test.py
Labels: area/redpanda

#16942 [v23.3.x] rpk: support advertised addresses in `rpk redpanda config bootstrap`
  src/go/rpk/pkg/cli/redpanda/config.go
  src/go/rpk/pkg/cli/redpanda/config_test.go
  src/go/rpk/pkg/config/config.go
  tests/rptest/tests/rpk_start_test.py
Labels: area/rpk, kind/backport

#17018 [v23.3.x] admin/transform: 400 for missing topics
  src/v/redpanda/admin/server.cc
Labels: area/redpanda, kind/backport

#17029 Add /microbench slash command for running microbenchmarks
  .github/workflows/buildkite-slash-commands.yml
  .github/workflows/slash-commands.yml
Labels: area/build

#16847 Raft vote process unification
  src/v/raft/CMakeLists.txt
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/prevote_stm.cc
  src/v/raft/prevote_stm.h
  src/v/raft/types.cc
  src/v/raft/types.h
  src/v/raft/vote_stm.cc
  src/v/raft/vote_stm.h
Labels: area/redpanda

#16919 c/topic_table: replaced partition metadata map with chunked_vector
  src/v/cluster/tests/rebalancing_tests_fixture.h
  src/v/cluster/tests/topic_table_test.cc
  src/v/cluster/tests/topic_updates_dispatcher_test.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/container/CMakeLists.txt
  src/v/container/include/container/contiguous_range_map.h
  src/v/container/tests/CMakeLists.txt
  src/v/container/tests/bench_utils.h
  src/v/container/tests/contiguous_range_map_test.cc
  src/v/container/tests/map_bench.cc
  src/v/container/tests/vector_bench.cc
Labels: area/redpanda

#16978 transform-sdk/go: add support for multiple output topics
  src/transform-sdk/go/transform/abi.go
  src/transform-sdk/go/transform/doc.go
  src/transform-sdk/go/transform/example_validation_test.go
  src/transform-sdk/go/transform/processor.go
  src/transform-sdk/go/transform/sdk.go
  src/transform-sdk/go/transform/serialize.go
  src/transform-sdk/go/transform/serialize_test.go
  src/transform-sdk/go/transform/stub_abi.go
Labels: area/wasm

#17028 crypto: Cleanup includes
  src/v/crypto/include/crypto/exceptions.h
  src/v/crypto/ssl_utils.h
Labels: area/redpanda

#17031 [v23.3.x] ducktape: lint ocsf-server
  tests/docker/ducktape-deps/ocsf-server
Labels: kind/backport

#16962 cst/inv: locate latest report
  src/v/cloud_storage/inventory/aws_ops.cc
  src/v/cloud_storage/inventory/aws_ops.h
  src/v/cloud_storage/inventory/inv_ops.cc
  src/v/cloud_storage/inventory/inv_ops.h
  src/v/cloud_storage/inventory/tests/CMakeLists.txt
  src/v/cloud_storage/inventory/tests/common.h
  src/v/cloud_storage/inventory/tests/create_inventory_config_test.cc
  src/v/cloud_storage/inventory/tests/fetch_report_tests.cc
  src/v/cloud_storage/inventory/types.cc
  src/v/cloud_storage/inventory/types.h
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/cloud_storage/types.cc
  src/v/cloud_storage/types.h
Labels: area/redpanda

#17022 [v23.3.x] Fix a segfault when recovery mode is partially enabled
  src/v/cluster/cloud_metadata/offsets_recovery_service.h
  tests/rptest/tests/recovery_mode_test.py
Labels: area/redpanda, kind/backport

#16848 [v23.3.x] Improve throughput throttling
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/snc_quota_manager.cc
  src/v/kafka/server/snc_quota_manager.h
  src/v/kafka/server/tests/produce_consume_test.cc
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/ssx/sharded_ptr.h
  src/v/ssx/tests/CMakeLists.txt
  src/v/ssx/tests/sharded_ptr_test.cc
Labels: area/redpanda, kind/backport

#16989 raft|cluster: Address some warnings
  src/v/cluster/cloud_metadata/offsets_recovery_manager.cc
  src/v/cluster/cloud_metadata/offsets_recovery_service.h
  src/v/cluster/controller_backend.cc
  src/v/cluster/distributed_kv_stm.h
  src/v/cluster/leader_router.h
  src/v/cluster/partition_recovery_manager.cc
  src/v/cluster/rm_stm.cc
  src/v/cluster/self_test/netcheck.cc
  src/v/cluster/service.cc
  src/v/cluster/tests/partition_balancer_planner_fixture.h
  src/v/cluster/tests/partition_balancer_planner_test.cc
  src/v/cluster/tests/partition_balancer_simulator_test.cc
  src/v/cluster/tests/topic_updates_dispatcher_test.cc
  src/v/cluster/topic_recovery_service.cc
  src/v/cluster/tx_gateway_frontend.cc
  src/v/raft/tests/offset_translator_tests.cc
Labels: area/redpanda

#17039 storage: ensure monotonic stable offset updates
  src/v/storage/segment.cc
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

#17095 [v23.2.x] schema_registry: Override soft-delete checks for consume_to_store
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/storage.h
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/consume_to_store.cc
  src/v/pandaproxy/schema_registry/types.h
Labels: area/redpanda, kind/backport

#17094 [v23.3.x] schema_registry: Override soft-delete checks for consume_to_store
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/storage.h
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/consume_to_store.cc
  src/v/pandaproxy/schema_registry/types.h
Labels: area/redpanda, kind/backport

#16975 Name all util/mutexes
  src/v/cluster/archival_metadata_stm.h
  src/v/cluster/config_frontend.h
  src/v/cluster/distributed_kv_stm.h
  src/v/cluster/health_monitor_backend.h
  src/v/cluster/id_allocator_stm.h
  src/v/cluster/members_backend.h
  src/v/cluster/metadata_dissemination_service.h
  src/v/cluster/migrations/tx_manager_migrator.h
  src/v/cluster/partition_balancer_backend.h
  src/v/cluster/plugin_frontend.h
  src/v/cluster/producer_state.h
  src/v/cluster/rm_stm.h
  src/v/cluster/self_test_backend.h
  src/v/cluster/shard_placement_table.h
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/cluster/tx_topic_manager.h
  src/v/kafka/client/broker.h
  src/v/kafka/server/connection_context.h
  src/v/kafka/server/group.h
  src/v/kafka/server/snc_quota_manager.h
  src/v/kafka/server/usage_aggregator.h
  src/v/kafka/server/usage_manager.h
  src/v/net/conn_quota.h
  src/v/net/dns.cc
  src/v/pandaproxy/kafka_client_cache.cc
  src/v/pandaproxy/kafka_client_cache.h
  src/v/raft/configuration_manager.h
  src/v/raft/consensus.h
  src/v/raft/group_manager.h
  src/v/raft/heartbeat_manager.h
  src/v/raft/mux_state_machine.h
  src/v/raft/offset_translator.h
  src/v/raft/persisted_stm.h
  src/v/raft/replicate_batcher.h
  src/v/raft/replicate_entries_stm.h
  src/v/raft/state_machine_manager.h
  src/v/raft/tests/mutex_buffer_test.cc
  src/v/rpc/connection_cache.cc
  src/v/rpc/test/rpc_gen_cycling_test.cc
  src/v/security/audit/audit_log_manager.cc
  src/v/ssx/sharded_ptr.h
  src/v/storage/disk_log_impl.h
  src/v/storage/kvstore.h
  src/v/storage/log_manager.cc
  src/v/storage/segment_reader.h
  src/v/storage/tests/storage_e2e_test.cc
  src/v/transform/api.cc
  src/v/transform/rpc/client.h
  src/v/utils/mutex.h
  src/v/wasm/cache.cc
Labels: area/redpanda, area/wasm

#17032 storage: assert no inflight writes when closing segment
  src/v/storage/segment.cc
Labels: area/redpanda

#17099 [v23.3.x] storage: ensure monotonic stable offset updates
  src/v/storage/segment.cc
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda, kind/backport

#17093 [v23.3.x] c/topic_table: replaced partition metadata map with chunked_vector
  src/v/cluster/tests/rebalancing_tests_fixture.h
  src/v/cluster/tests/topic_table_test.cc
  src/v/cluster/tests/topic_updates_dispatcher_test.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/utils/contiguous_range_map.h
  src/v/utils/tests/CMakeLists.txt
  src/v/utils/tests/bench_utils.h
  src/v/utils/tests/contiguous_range_map_test.cc
  src/v/utils/tests/map_bench.cc
  src/v/utils/zip.h
Labels: area/redpanda

#17092 Using `contiguous_range_map` in `partition_leaders_table`
  src/v/cluster/partition_leaders_table.cc
  src/v/cluster/partition_leaders_table.h
  src/v/container/include/container/contiguous_range_map.h
Labels: area/redpanda

#17101 cloud_storage_clients: classify request_timeout as retriable
  src/v/cloud_storage_clients/s3_client.cc
Labels: area/redpanda

#17003 CORE-6: Pre-fetching algorithms
  src/v/crypto/crypto.cc
  src/v/crypto/hmac.cc
  src/v/crypto/internal.h
  src/v/crypto/ssl_utils.h
  src/v/crypto/test/CMakeLists.txt
  src/v/crypto/test/crypto_bench.cc
Labels: area/redpanda

#17117 rpk profile: a few more fixes
  src/go/rpk/pkg/cli/cloud/login.go
  src/go/rpk/pkg/cli/profile/create.go
  src/go/rpk/pkg/cli/profile/profile.go
  src/go/rpk/pkg/config/params.go
  src/go/rpk/pkg/oauth/load.go
  src/go/rpk/pkg/oauth/load_test.go
Labels: area/rpk

#17100 [backport][v23.3.x] tx/compaction: don't deduplicate control batches
  src/v/cluster/tests/tx_compaction_utils.h
  src/v/storage/compaction_reducers.cc
  src/v/storage/segment_utils.h
Labels: area/redpanda

#17120 [v23.3.x] rpk profile: a few more fixes
  src/go/rpk/pkg/cli/cloud/login.go
  src/go/rpk/pkg/cli/profile/create.go
  src/go/rpk/pkg/cli/profile/profile.go
  src/go/rpk/pkg/config/params.go
  src/go/rpk/pkg/oauth/load.go
  src/go/rpk/pkg/oauth/load_test.go
Labels: area/rpk, kind/backport

#17115 [v23.3.x] Using `contiguous_range_map` in `partition_leaders_table`
  src/v/cluster/partition_leaders_table.cc
  src/v/cluster/partition_leaders_table.h
  src/v/utils/contiguous_range_map.h
Labels: area/redpanda

#16229 transform-sdk: experimental C++ support
  .github/workflows/transform-sdk-build.yml
  src/transform-sdk/cpp/.clang-tidy
  src/transform-sdk/cpp/.gitignore
  src/transform-sdk/cpp/CMakeLists.txt
  src/transform-sdk/cpp/README.md
  src/transform-sdk/cpp/examples/CMakeLists.txt
  src/transform-sdk/cpp/examples/identity.cc
  src/transform-sdk/cpp/include/redpanda/transform_sdk.h
  src/transform-sdk/cpp/src/transform_sdk.cc
Labels: area/build, area/wasm

#17111 [v23.3.x] cloud_storage_clients: classify request_timeout as retriable
  src/v/cloud_storage_clients/s3_client.cc
Labels: area/redpanda, kind/backport

#17087 container: add interval_set
  src/v/container/include/container/interval_set.h
  src/v/container/tests/CMakeLists.txt
  src/v/container/tests/interval_set_test.cc
Labels: area/redpanda

#16923 rpk/transform: introduce logs command
  src/go/rpk/pkg/cli/transform/list_test.go
  src/go/rpk/pkg/cli/transform/logs.go
  src/go/rpk/pkg/cli/transform/logs_test.go
  src/go/rpk/pkg/cli/transform/transform.go
  src/v/transform/logging/event.cc
  src/v/transform/logging/log_manager.cc
  src/v/transform/logging/rpc_client.cc
  src/v/transform/logging/tests/log_manager_test.cc
  src/v/transform/logging/tests/model_test.cc
  src/v/transform/logging/tests/utils.cc
  src/v/wasm/tests/CMakeLists.txt
  src/v/wasm/tests/wasi_logs_test.cc
  src/v/wasm/wasi.cc
  src/v/wasm/wasi.h
  tests/go/transform-verifier/produce/producer.go
  tests/rptest/tests/data_transforms_test.py
  tests/rptest/util.py
Labels: area/rpk, area/redpanda, area/wasm

#17148 [v23.3.x] rpk/transform: introduce logs command
  src/go/rpk/pkg/cli/transform/list_test.go
  src/go/rpk/pkg/cli/transform/logs.go
  src/go/rpk/pkg/cli/transform/logs_test.go
  src/go/rpk/pkg/cli/transform/transform.go
  src/v/transform/logging/event.cc
  src/v/transform/logging/log_manager.cc
  src/v/transform/logging/rpc_client.cc
  src/v/transform/logging/tests/log_manager_test.cc
  src/v/transform/logging/tests/model_test.cc
  src/v/transform/logging/tests/utils.cc
  src/v/wasm/tests/CMakeLists.txt
  src/v/wasm/tests/wasi_logs_test.cc
  src/v/wasm/wasi.cc
  src/v/wasm/wasi.h
  tests/go/transform-verifier/produce/producer.go
  tests/rptest/tests/data_transforms_test.py
  tests/rptest/util.py
Labels: area/rpk, area/redpanda, kind/backport

#17156 compression: Allocate memory for LZ4_compressEnd
  src/v/compression/internal/lz4_frame_compressor.cc
Labels: area/redpanda

#16464 Data Transforms Schema Registry Rust SDK
  .github/workflows/transform-sdk-release.yml
  src/transform-sdk/go/transform/sr/client.go
  src/transform-sdk/rust/Cargo.lock
  src/transform-sdk/rust/Cargo.toml
  src/transform-sdk/rust/core-sys/Cargo.toml
  src/transform-sdk/rust/core-sys/src/lib.rs
  src/transform-sdk/rust/core-sys/src/serde.rs
  src/transform-sdk/rust/core-types/src/lib.rs
  src/transform-sdk/rust/scripts/publish.py
  src/transform-sdk/rust/sr-sys/Cargo.toml
  src/transform-sdk/rust/sr-sys/README.md
  src/transform-sdk/rust/sr-sys/src/abi.rs
  src/transform-sdk/rust/sr-sys/src/lib.rs
  src/transform-sdk/rust/sr-sys/src/serde.rs
  src/transform-sdk/rust/sr-sys/src/stub_abi.rs
  src/transform-sdk/rust/sr-types/Cargo.toml
  src/transform-sdk/rust/sr-types/README.md
  src/transform-sdk/rust/sr-types/src/lib.rs
  src/transform-sdk/rust/sr/Cargo.toml
  src/transform-sdk/rust/sr/README.md
  src/transform-sdk/rust/sr/src/lib.rs
  src/transform-sdk/rust/varint/Cargo.toml
  src/transform-sdk/rust/varint/src/lib.rs
Labels: area/build, area/wasm

#17159 [v23.3.x] compression: Allocate memory for LZ4_compressEnd
  src/v/compression/internal/lz4_frame_compressor.cc
Labels: area/redpanda, kind/backport

#17160 [v23.2.x] compression: Allocate memory for LZ4_compressEnd
  src/v/compression/internal/lz4_frame_compressor.cc
Labels: area/redpanda, kind/backport

#17009 write caching - raft implementation
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/log_eviction_stm.cc
  src/v/cluster/rm_stm.cc
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/config/configuration.cc
  src/v/kafka/protocol/schemata/produce_request.json
  src/v/kafka/server/handlers/produce.cc
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/group_manager.cc
  src/v/raft/group_manager.h
  src/v/raft/recovery_stm.cc
  src/v/raft/replicate.h
  src/v/raft/replicate_batcher.cc
  src/v/raft/replicate_batcher.h
  src/v/raft/replicate_entries_stm.cc
  src/v/raft/replicate_entries_stm.h
  src/v/raft/tests/CMakeLists.txt
  src/v/raft/tests/basic_raft_fixture_test.cc
  src/v/raft/tests/raft_fixture.cc
  src/v/raft/tests/raft_fixture.h
  src/v/raft/tests/simple_raft_fixture.h
  src/v/raft/vote_stm.cc
  src/v/redpanda/application.cc
  tests/rptest/tests/raft_periodic_flush_test.py
  tests/rptest/tests/simple_e2e_test.py
  tests/rptest/tests/write_caching_test.py
Labels: area/redpanda

#17161 c/types: fix typo in operator<< for topic_properties
  src/v/cluster/types.cc
Labels: area/redpanda

#17089 admin: implement create role API
  src/v/redpanda/admin/security.cc
  src/v/redpanda/admin/server.h
  tests/rptest/tests/rbac_test.py
Labels: area/redpanda

#17170 rpk profile double pointer fixes
  src/go/rpk/pkg/cli/cloud/auth/use.go
  src/go/rpk/pkg/cli/profile/create.go
  src/go/rpk/pkg/cli/profile/rename.go
  src/go/rpk/pkg/cli/profile/use.go
  src/go/rpk/pkg/config/params.go
  src/go/rpk/pkg/config/rpk_yaml.go
  src/go/rpk/pkg/oauth/load.go
Labels: area/rpk

#17171 [v23.3.x] rpk profile double pointer fixes
  src/go/rpk/pkg/cli/cloud/auth/use.go
  src/go/rpk/pkg/cli/profile/create.go
  src/go/rpk/pkg/cli/profile/rename.go
  src/go/rpk/pkg/cli/profile/use.go
  src/go/rpk/pkg/config/params.go
  src/go/rpk/pkg/config/rpk_yaml.go
  src/go/rpk/pkg/oauth/load.go
Labels: area/rpk, kind/backport

#17169 Fixed typo in comment in ntp_archiver
  src/v/archival/ntp_archiver_service.h
Labels: area/redpanda

#16954 storage: support dirty entries in batch cache
  src/v/storage/batch_cache.cc
  src/v/storage/batch_cache.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/log_manager.h
  src/v/storage/log_reader.cc
  src/v/storage/segment.cc
  src/v/storage/segment.h
  src/v/storage/tests/batch_cache_reclaim_test.cc
  src/v/storage/tests/batch_cache_test.cc
  src/v/storage/tests/common.h
  src/v/storage/tests/storage_e2e_test.cc
  src/v/storage/tests/storage_test_fixture.h
Labels: area/redpanda

#17163 rbac: Add Telemetry and Licence nag
  src/v/cluster/controller.cc
  src/v/cluster/feature_manager.cc
  src/v/cluster/feature_manager.h
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/metrics_reporter.h
  tests/rptest/tests/metrics_reporter_test.py
  tests/rptest/tests/rbac_test.py
Labels: area/redpanda

#17158 Distribute health report collection
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/health_monitor_bench.cc
  src/v/cluster/tests/health_monitor_test.cc
  src/v/serde/test/CMakeLists.txt
  src/v/serde/test/bench.cc
Labels: area/redpanda

#17088 cluster: invoke config_frontend methods on controller shard
  src/v/cluster/cloud_metadata/tests/uploader_test.cc
  src/v/cluster/config_frontend.cc
  src/v/cluster/config_frontend.h
  src/v/cluster/config_manager.cc
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/service.cc
  src/v/kafka/server/handlers/incremental_alter_configs.cc
  src/v/kafka/server/tests/alter_config_test.cc
  src/v/redpanda/admin/server.cc
Labels: area/redpanda

#17186 wasm/wasi: properly return number of written bytes
  src/v/wasm/wasi.cc
Labels: area/redpanda, area/wasm

#17192 [v23.3.x] wasm/wasi: properly return number of written bytes
  src/v/wasm/wasi.cc
Labels: area/redpanda, kind/backport

#17026 Fix UBSAN diagnostics
  src/v/cloud_roles/refresh_credentials.cc
  src/v/compat/tests/compat_test.cc
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

#17090 archival/archival_policy: change operator<< for candidate_creation_error
  src/v/archival/archival_policy.cc
Labels: area/redpanda

#17196 io/tests: fix bugprone-empty-catch
  src/v/io/tests/io_queue_test.cc
  src/v/io/tests/scheduler_test.cc
Labels: area/redpanda

#17181 CORE-7 Add MD5 Support in FIPS mode
  src/v/crypto/CMakeLists.txt
  src/v/crypto/crypto.cc
  src/v/crypto/include/crypto/exceptions.h
  src/v/crypto/internal.h
  src/v/crypto/ossl_context_service.cc
  src/v/crypto/test/crypto_bench.cc
  src/v/crypto/test/ossl_context_service_test.cc
Labels: area/redpanda

#17184 [v23.3.x] cluster: invoke config_frontend methods on controller shard
  src/v/cluster/cloud_metadata/tests/uploader_test.cc
  src/v/cluster/config_frontend.cc
  src/v/cluster/config_frontend.h
  src/v/cluster/config_manager.cc
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/service.cc
  src/v/kafka/server/handlers/incremental_alter_configs.cc
  src/v/kafka/server/tests/alter_config_test.cc
  src/v/redpanda/admin/server.cc
Labels: area/redpanda, kind/backport

#17211 [v23.2.x] cluster: invoke config_frontend methods on controller shard
  src/v/cluster/config_frontend.cc
  src/v/cluster/config_frontend.h
  src/v/cluster/config_manager.cc
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/service.cc
  src/v/kafka/server/handlers/incremental_alter_configs.cc
  src/v/kafka/server/tests/alter_config_test.cc
  src/v/redpanda/admin_server.cc
Labels: area/redpanda, kind/backport

#17109 rpk: bump deps and toolchain to 1.22.1
  src/go/rpk/go.mod
  src/go/rpk/go.sum
Labels: area/rpk

#16684 archival: Add archiver_service
  src/v/archival/archival_metadata_stm.cc
  src/v/archival/archival_metadata_stm.h
  src/v/archival/archiver_manager.cc
  src/v/archival/archiver_manager.h
  src/v/archival/fwd.h
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/tests/CMakeLists.txt
  src/v/archival/tests/archival_metadata_stm_gtest.cc
  src/v/archival/tests/archival_metadata_stm_test.cc
  src/v/archival/tests/archival_service_fixture.h
  src/v/archival/tests/archiver_manager_test.cc
  src/v/archival/tests/service_fixture.cc
  src/v/cluster/CMakeLists.txt
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_manager.cc
  src/v/cluster/tests/cluster_test_fixture.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/raft/consensus_utils.cc
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/redpanda/tests/fixture.h
  src/v/utils/auto_fmt.h
  src/v/utils/tests/CMakeLists.txt
  src/v/utils/tests/auto_fmt_test.cc
Labels: area/redpanda

#16842 raft/recovery: better metric for recovery bandwidth consumption
  src/v/raft/coordinated_recovery_throttle.cc
Labels: area/redpanda

#17174 [v23.3.x] Data Transforms Schema Registry Rust SDK
  src/transform-sdk/go/transform/sr/client.go
  src/transform-sdk/rust/Cargo.lock
  src/transform-sdk/rust/Cargo.toml
  src/transform-sdk/rust/core-sys/Cargo.toml
  src/transform-sdk/rust/core-sys/src/lib.rs
  src/transform-sdk/rust/core-sys/src/serde.rs
  src/transform-sdk/rust/core-types/src/lib.rs
  src/transform-sdk/rust/scripts/publish.py
  src/transform-sdk/rust/sr-sys/Cargo.toml
  src/transform-sdk/rust/sr-sys/README.md
  src/transform-sdk/rust/sr-sys/src/abi.rs
  src/transform-sdk/rust/sr-sys/src/lib.rs
  src/transform-sdk/rust/sr-sys/src/serde.rs
  src/transform-sdk/rust/sr-sys/src/stub_abi.rs
  src/transform-sdk/rust/sr-types/Cargo.toml
  src/transform-sdk/rust/sr-types/README.md
  src/transform-sdk/rust/sr-types/src/lib.rs
  src/transform-sdk/rust/sr/Cargo.toml
  src/transform-sdk/rust/sr/README.md
  src/transform-sdk/rust/sr/src/lib.rs
  src/transform-sdk/rust/varint/Cargo.toml
  src/transform-sdk/rust/varint/src/lib.rs
Labels: area/wasm, kind/backport

#17153 RBAC: /v1/security/roles/{role}/members
  src/v/redpanda/admin/api-doc/security.def.json
  src/v/redpanda/admin/api-doc/security.json
  src/v/redpanda/admin/security.cc
  src/v/redpanda/admin/server.h
  src/v/security/role.cc
  src/v/security/tests/role_store_test.cc
  tests/rptest/services/admin.py
  tests/rptest/tests/rbac_test.py
Labels: area/redpanda

#17193 Lint includes
  .github/workflows/lint-includes.yml
  src/v/crypto/CMakeLists.txt
  src/v/crypto/key.cc
  src/v/crypto/random.cc
  src/v/crypto/tests/CMakeLists.txt
  src/v/crypto/tests/crypto_bench.cc
  src/v/crypto/tests/crypto_test_utils.h
  src/v/crypto/tests/digest_tests.cc
  src/v/crypto/tests/hmac_tests.cc
  src/v/crypto/tests/key_tests.cc
  src/v/crypto/tests/ossl_context_service_failure_tests.cc
  src/v/crypto/tests/ossl_context_service_test.cc
  src/v/crypto/tests/ossl_context_service_test_base.h
  src/v/crypto/tests/random_tests.cc
  src/v/crypto/tests/signature_tests.cc
  src/v/crypto/tests/test_openssl_conf.cnf.in
  src/v/crypto/tests/test_values.h
  src/v/hashing/include/hashing/combine.h
  src/v/security/audit/schemas/application_activity.h
  src/v/security/audit/schemas/hashing_utils.cc
  src/v/wasm/parser/parser.cc
  tools/lint-includes
Labels: area/build, area/redpanda, area/wasm

#17023 rpk: enable using public API in rpk transform
  .github/workflows/lint-golang.yml
  src/go/rpk/buf.gen.yaml
  src/go/rpk/generate.sh
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/adminapi/api_transform.go
  src/go/rpk/pkg/cli/cloud/namespace/create.go
  src/go/rpk/pkg/cli/cloud/namespace/delete.go
  src/go/rpk/pkg/cli/cloud/namespace/list.go
  src/go/rpk/pkg/cli/cloud/namespace/namespace.go
  src/go/rpk/pkg/cli/profile/create.go
  src/go/rpk/pkg/cli/transform/delete.go
  src/go/rpk/pkg/cli/transform/deploy.go
  src/go/rpk/pkg/cli/transform/list.go
  src/go/rpk/pkg/config/config.go
  src/go/rpk/pkg/config/format.go
  src/go/rpk/pkg/config/params.go
  src/go/rpk/pkg/config/params_test.go
  src/go/rpk/pkg/config/rpk_yaml.go
  src/go/rpk/pkg/config/rpk_yaml_test.go
  src/go/rpk/pkg/oauth/load_test.go
  src/go/rpk/pkg/publicapi/controlplane.go
  src/go/rpk/pkg/publicapi/dataplane.go
  src/go/rpk/pkg/publicapi/publicapi.go
  src/go/rpk/pkg/publicapi/transform.go
  src/go/rpk/proto/gen/go/redpanda/api/common/v1alpha1/common.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/cluster.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/cluster_grpc.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/common.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/controlplanev1beta1connect/cluster.connect.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/controlplanev1beta1connect/dummy.connect.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/controlplanev1beta1connect/namespace.connect.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/controlplanev1beta1connect/network.connect.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/controlplanev1beta1connect/operation.connect.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/dummy.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/dummy_grpc.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/error.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/namespace.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/namespace_grpc.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/network.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/network_grpc.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/operation.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/operation_grpc.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/dataplane/v1alpha1/acl.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/dataplane/v1alpha1/common.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/dataplane/v1alpha1/dataplanev1alpha1connect/acl.connect.go
  src/go/rpk/proto/gen/go/redpanda/api/dataplane/v1alpha1/dataplanev1alpha1connect/dummy.connect.go
  src/go/rpk/proto/gen/go/redpanda/api/dataplane/v1alpha1/dataplanev1alpha1connect/kafka_connect.connect.go
  src/go/rpk/proto/gen/go/redpanda/api/dataplane/v1alpha1/dataplanev1alpha1connect/secret.connect.go
  src/go/rpk/proto/gen/go/redpanda/api/dataplane/v1alpha1/dataplanev1alpha1connect/topic.connect.go
  src/go/rpk/proto/gen/go/redpanda/api/dataplane/v1alpha1/dataplanev1alpha1connect/transform.connect.go
  src/go/rpk/proto/gen/go/redpanda/api/dataplane/v1alpha1/dataplanev1alpha1connect/user.connect.go
  src/go/rpk/proto/gen/go/redpanda/api/dataplane/v1alpha1/dummy.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/dataplane/v1alpha1/error.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/dataplane/v1alpha1/kafka_connect.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/dataplane/v1alpha1/secret.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/dataplane/v1alpha1/swagger.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/dataplane/v1alpha1/topic.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/dataplane/v1alpha1/transform.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/dataplane/v1alpha1/user.pb.go
Labels: area/rpk, area/build

#16922 Fix configs returned in CreateTopicsResponse
  src/v/kafka/CMakeLists.txt
  src/v/kafka/server/handlers/configs/config_response_utils.cc
  src/v/kafka/server/handlers/configs/config_response_utils.h
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/handlers/describe_configs.cc
  src/v/kafka/server/handlers/topics/types.cc
  src/v/kafka/server/handlers/topics/types.h
  src/v/kafka/server/tests/CMakeLists.txt
  src/v/kafka/server/tests/config_response_utils_test.cc
  src/v/kafka/server/tests/config_response_utils_test_help.h
  src/v/kafka/server/tests/create_topics_test.cc
  tests/rptest/tests/topic_creation_test.py
Labels: area/redpanda

#17231 cluster: Documentation for security_frontend.h
  src/v/cluster/security_frontend.h
Labels: area/redpanda
