Repository redpanda-data/redpanda, pull requests merged in 2024-10, with the labels that each got.

#23563 archival: Fix torture test
  src/v/cluster/archival/archiver_operations_impl.cc
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/tests/archival_service_fixture.h
  src/v/cluster/archival/tests/archiver_manager_test.cc
Labels: area/redpanda

#23565 debug_bundle: Added file size to status
  src/v/debug_bundle/debug_bundle_service.cc
  src/v/debug_bundle/tests/debug_bundle_service_test.cc
  src/v/debug_bundle/types.h
  src/v/redpanda/admin/api-doc/debug_bundle.def.json
  src/v/redpanda/admin/debug_bundle.cc
Labels: area/redpanda

#23577 [v24.2.x] rptest: attempt data loss scenario a few times
  tests/rptest/tests/write_caching_fi_test.py
Labels: kind/backport

#23566 [v24.2.x] rptest: increase threshold for test_full_disk_triggers_gc
  tests/rptest/tests/full_disk_test.py
Labels: kind/backport

#23552 cluster: bazel test backfill
  src/v/cluster/tests/BUILD
  src/v/cluster/tests/leader_balancer_test_utils.h
  src/v/cluster/tests/partition_leaders_table_test.cc
  src/v/cluster/tests/plugin_frontend_validation_test.cc
  src/v/storage/BUILD
Labels: area/build, area/redpanda

#23582 iceberg: add comment about struct field ordering
  src/v/iceberg/values.h
Labels: area/redpanda

#23554 [v24.2.x] ssx: exit early from sleep_abortable if already aborted
  src/v/ssx/include/ssx/sleep_abortable.h
  src/v/ssx/tests/sleep_abortable_test.cc
Labels: area/redpanda, kind/backport

#23557 [CORE-7096] Hook admin API to debug bundle service
  src/v/debug_bundle/json.h
  src/v/debug_bundle/tests/json_test.cc
  src/v/redpanda/admin/BUILD
  src/v/redpanda/admin/debug_bundle.cc
  src/v/redpanda/admin/debug_bundle.h
  src/v/redpanda/admin/server.cc
  src/v/redpanda/admin/server.h
  tests/rptest/services/admin.py
  tests/rptest/tests/debug_bundle_test.py
Labels: area/build, area/redpanda

#23471 iceberg/coordinator: barebones stm and class structure
  src/v/datalake/BUILD
  src/v/datalake/CMakeLists.txt
  src/v/datalake/coordinator/BUILD
  src/v/datalake/coordinator/CMakeLists.txt
  src/v/datalake/coordinator/frontend.cc
  src/v/datalake/coordinator/frontend.h
  src/v/datalake/coordinator/rpc.json
  src/v/datalake/coordinator/service.cc
  src/v/datalake/coordinator/service.h
  src/v/datalake/coordinator/state_machine.cc
  src/v/datalake/coordinator/state_machine.h
  src/v/datalake/coordinator/types.h
  src/v/datalake/data_writer_interface.h
  src/v/datalake/datalake_manager.cc
  src/v/datalake/datalake_manager.h
  src/v/datalake/errors.h
  src/v/datalake/fwd.h
  src/v/model/namespace.h
  src/v/redpanda/BUILD
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/resource_mgmt/cpu_scheduling.h
  src/v/resource_mgmt/memory_groups.cc
  src/v/resource_mgmt/memory_groups.h
  src/v/resource_mgmt/smp_groups.cc
  src/v/resource_mgmt/smp_groups.h
  src/v/resource_mgmt/tests/memory_groups_test.cc
Labels: area/build, area/redpanda

#23559 Migrations: fix shutdown busyloop
  src/v/cluster/data_migration_backend.cc
  src/v/ssx/future-util.h
Labels: area/redpanda

#23584 [v24.2.x] rptest: request feature state from each node in await_feature
  tests/rptest/services/redpanda.py
Labels: kind/backport

#23479 Improve migrations API
  TODO
  src/v/cluster/controller.cc
  src/v/cluster/data_migration_frontend.cc
  src/v/cluster/data_migration_frontend.h
  src/v/cluster/data_migration_table.cc
  src/v/cluster/data_migration_table.h
  src/v/cluster/errc.h
  src/v/cluster/partition.cc
  src/v/cluster/tests/data_migration_table_test.cc
  src/v/config/property.h
  src/v/redpanda/admin/migrations.cc
  src/v/redpanda/admin/server.cc
  src/v/redpanda/admin/server.h
  tests/rptest/services/admin.py
  tests/rptest/tests/data_migrations_api_test.py
Labels: area/redpanda

#23556 Migrations memory bugfixes
  src/v/cluster/data_migration_backend.cc
  src/v/cluster/data_migration_backend.h
Labels: area/redpanda

#23460 Translating google protobuf values to iceberg
  src/v/datalake/BUILD
  src/v/datalake/CMakeLists.txt
  src/v/datalake/conversion_outcome.h
  src/v/datalake/protobuf_utils.cc
  src/v/datalake/protobuf_utils.h
  src/v/datalake/schema_protobuf.cc
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/CMakeLists.txt
  src/v/datalake/tests/datalake_protobuf_tests.cc
  src/v/datalake/tests/proto_definitions.h
  src/v/datalake/tests/schema_protobuf_test.cc
  src/v/datalake/tests/testdata/complex.proto
  src/v/datalake/tests/testdata/not_supported.proto
  src/v/datalake/tests/testdata/person.proto
  src/v/datalake/tests/testdata/proto2.proto
  src/v/datalake/values_protobuf.cc
  src/v/datalake/values_protobuf.h
Labels: area/build, area/redpanda

#23576 config: updates iceberg property description
  src/v/config/configuration.cc
Labels: area/redpanda

#23271 bazel/wasm: get tests working
  bazel/thirdparty/Cargo.lock
  bazel/thirdparty/Cargo.toml
  src/transform-sdk/go/transform/internal/testdata/dynamic/BUILD
  src/transform-sdk/go/transform/internal/testdata/identity/BUILD
  src/transform-sdk/go/transform/internal/testdata/identity_logging/BUILD
  src/transform-sdk/go/transform/internal/testdata/schema-registry/BUILD
  src/transform-sdk/go/transform/internal/testdata/setup-panic/BUILD
  src/transform-sdk/go/transform/internal/testdata/tee/BUILD
  src/transform-sdk/go/transform/internal/testdata/transform-error/BUILD
  src/transform-sdk/go/transform/internal/testdata/transform-panic/BUILD
  src/transform-sdk/go/transform/internal/testdata/wasi/BUILD
  src/v/wasm/tests/BUILD
  src/v/wasm/tests/CMakeLists.txt
  src/v/wasm/tests/wasi_test.cc
  src/v/wasm/tests/wasm_fixture.cc
  src/v/wasm/tests/wasm_fixture.h
  src/v/wasm/tests/wasm_lifecycle_test.cc
  src/v/wasm/tests/wasm_resources_test.cc
  src/v/wasm/tests/wasm_sr_test.cc
  src/v/wasm/tests/wasm_transform_bench.cc
  src/v/wasm/tests/wasm_transform_test.cc
Labels: area/build, area/redpanda, area/wasm

#23588 bazel: add initial support for clang-tidy
  .bazelrc
  BUILD
  MODULE.bazel
Labels: area/build

#23450 [v24.1.x] `storage`: catch `ss::gate_closed_exception` in `log_manager` (manual backport)
  src/v/storage/log_manager.cc
Labels: area/redpanda

#23602 gha: fix /backport command
  .github/workflows/backport-command.yml
Labels: area/build

#23590 Add `smp.hh` header to async test_utils
  src/v/test_utils/async.h
Labels: area/redpanda

#23585 ct: Refactor batcher for improved testability and implement timeouts
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/batcher/batcher.cc
  src/v/cloud_topics/batcher/batcher.h
  src/v/cloud_topics/batcher/tests/BUILD
  src/v/cloud_topics/batcher/tests/batcher_test.cc
  src/v/cloud_topics/batcher/tests/remote_mock.h
Labels: area/build, area/redpanda

#23599 Fixed a busy loop that was happening when expiring producer state from consumer groups
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
Labels: area/redpanda

#23587 CORE-7725 debug bundle metrics
  src/v/debug_bundle/BUILD
  src/v/debug_bundle/CMakeLists.txt
  src/v/debug_bundle/debug_bundle_service.cc
  src/v/debug_bundle/debug_bundle_service.h
  src/v/debug_bundle/metadata.h
  src/v/debug_bundle/probe.cc
  src/v/debug_bundle/probe.h
  src/v/debug_bundle/tests/debug_bundle_service_test.cc
  src/v/debug_bundle/tests/metadata_test.cc
  src/v/debug_bundle/types.h
  tests/rptest/tests/debug_bundle_test.py
Labels: area/build, area/redpanda

#23609 [v23.3.x] tests: fix rpk generate test
  tests/rptest/tests/rpk_generate_test.py
Labels: kind/backport

#23608 [v24.1.x] tests: fix rpk generate test
  tests/rptest/tests/rpk_generate_test.py
Labels: kind/backport

#23610 [v24.2.x] tests: fix rpk generate test
  tests/rptest/tests/rpk_generate_test.py
Labels: kind/backport

#23593 iceberg: add catalog interface
  src/v/iceberg/BUILD
  src/v/iceberg/catalog.h
Labels: area/build, area/redpanda

#23600 Added missing Avro values and schema conversion
  src/v/iceberg/schema_avro.cc
  src/v/iceberg/tests/test_schemas.cc
  src/v/iceberg/tests/test_schemas.h
  src/v/iceberg/tests/value_generator.cc
  src/v/iceberg/tests/values_avro_test.cc
  src/v/iceberg/values_avro.cc
Labels: area/redpanda

#23503 CORE-7691 License: enterprise license verification on major version upgrade
  src/v/cluster/feature_manager.cc
  src/v/cluster/feature_manager.h
  src/v/features/enterprise_features.h
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/features/tests/feature_table_test.cc
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_recovery_consumer.cc
  src/v/redpanda/application.cc
  src/v/redpanda/monitor_unsafe.h
  tests/rptest/services/redpanda.py
  tests/rptest/tests/cluster_bootstrap_test.py
  tests/rptest/tests/end_to_end.py
  tests/rptest/tests/license_enforcement_test.py
  tests/rptest/tests/partition_movement_test.py
  tests/rptest/tests/random_node_operations_test.py
  tests/rptest/tests/rbac_test.py
  tests/rptest/tests/rbac_upgrade_test.py
  tests/rptest/tests/read_replica_e2e_test.py
  tests/rptest/tests/redpanda_kerberos_test.py
  tests/rptest/tests/redpanda_oauth_test.py
  tests/rptest/tests/redpanda_startup_test.py
  tests/rptest/tests/redpanda_test.py
  tests/rptest/tests/schema_registry_test.py
  tests/rptest/tests/self_test_test.py
  tests/rptest/tests/upgrade_test.py
  tests/rptest/tests/workload_license.py
  tests/rptest/tests/workload_upgrade_runner_test.py
Labels: area/redpanda

#23583 CORE-7343 License: add fallback license env var
  src/v/cluster/feature_manager.cc
  src/v/security/license.cc
  src/v/security/license.h
  tests/rptest/services/redpanda.py
  tests/rptest/tests/license_enforcement_test.py
  tests/rptest/utils/rpenv.py
Labels: area/redpanda

#23534 CORE-7744: http: Add request builder and rest-entity
  src/v/cloud_roles/BUILD
  src/v/cloud_roles/azure_aks_refresh_impl.cc
  src/v/cloud_roles/request_response_helpers.cc
  src/v/cloud_roles/request_response_helpers.h
  src/v/cloud_roles/signature.cc
  src/v/http/BUILD
  src/v/http/CMakeLists.txt
  src/v/http/request_builder.cc
  src/v/http/request_builder.h
  src/v/http/rest_client/rest_entity.cc
  src/v/http/rest_client/rest_entity.h
  src/v/http/tests/BUILD
  src/v/http/tests/CMakeLists.txt
  src/v/http/tests/request_builder_test.cc
  src/v/http/tests/rest_entity_test.cc
  src/v/http/tests/uri_encoding_test.cc
  src/v/http/utils.cc
  src/v/http/utils.h
Labels: area/build, area/redpanda

#23592 iceberg: add filesystem catalog
  src/v/iceberg/BUILD
  src/v/iceberg/CMakeLists.txt
  src/v/iceberg/catalog.h
  src/v/iceberg/filesystem_catalog.cc
  src/v/iceberg/filesystem_catalog.h
  src/v/iceberg/tests/BUILD
  src/v/iceberg/tests/CMakeLists.txt
  src/v/iceberg/tests/filesystem_catalog_test.cc
Labels: area/build, area/redpanda

#23164 JavaScript Transforms SDK: Export SchemaFormat
  src/transform-sdk/js/js_vm.cc
  src/transform-sdk/js/js_vm.h
  src/transform-sdk/js/main.cc
  src/transform-sdk/js/schema_registry_example/src/index.ts
Labels: area/wasm

#23630 base: Add unreachable macro
  src/v/base/BUILD
  src/v/base/unreachable.h
  src/v/cloud_topics/batcher/batcher.cc
Labels: area/build, area/redpanda

#23640 CORE-7691 License: minor ux improvements
  src/v/cluster/feature_manager.cc
Labels: area/redpanda

#23408 `cluster`: add `try/catch` blocks to `members_backend`
  src/v/cluster/members_backend.cc
Labels: area/redpanda

#23639 clang-tidy: updates
  .bazelrc
  MODULE.bazel
  src/v/cloud_io/BUILD
  src/v/cluster/BUILD
  src/v/cluster/notification.h
  src/v/cluster/tests/BUILD
  src/v/cluster/version.h
  src/v/container/BUILD
  src/v/hashing/jump_consistent_hash.h
  src/v/kafka/client/test/BUILD
  src/v/pandaproxy/BUILD
  src/v/pandaproxy/schema_registry/subject_name_strategy.h
  src/v/security/audit/BUILD
  src/v/security/tests/BUILD
  src/v/storage/tests/BUILD
  src/v/test_utils/BUILD
  src/v/utils/BUILD
  src/v/wasm/BUILD
Labels: area/build, area/redpanda, area/wasm

#23472 rpk: introduce license warnings messages
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/adminapi/BUILD
  src/go/rpk/pkg/adminapi/admin.go
  src/go/rpk/pkg/adminapi/admin_test.go
  src/go/rpk/pkg/cli/cluster/config/edit.go
  src/go/rpk/pkg/cli/cluster/config/export.go
  src/go/rpk/pkg/cli/cluster/config/get.go
  src/go/rpk/pkg/cli/cluster/config/import.go
  src/go/rpk/pkg/cli/cluster/config/lint.go
  src/go/rpk/pkg/cli/cluster/config/set.go
  src/go/rpk/pkg/cli/cluster/config/status.go
  src/go/rpk/pkg/cli/cluster/health.go
  src/go/rpk/pkg/cli/cluster/license/info.go
  src/go/rpk/pkg/cli/cluster/license/set.go
  src/go/rpk/pkg/cli/cluster/maintenance/disable.go
  src/go/rpk/pkg/cli/cluster/maintenance/enable.go
  src/go/rpk/pkg/cli/cluster/maintenance/status.go
  src/go/rpk/pkg/cli/cluster/partitions/balancer_run.go
  src/go/rpk/pkg/cli/cluster/partitions/cancel.go
  src/go/rpk/pkg/cli/cluster/partitions/list.go
  src/go/rpk/pkg/cli/cluster/partitions/move.go
  src/go/rpk/pkg/cli/cluster/partitions/move_status.go
  src/go/rpk/pkg/cli/cluster/partitions/status.go
  src/go/rpk/pkg/cli/cluster/partitions/toggle.go
  src/go/rpk/pkg/cli/cluster/partitions/transfer_leadership.go
  src/go/rpk/pkg/cli/cluster/partitions/unsafe_recover.go
  src/go/rpk/pkg/cli/cluster/selftest/start.go
  src/go/rpk/pkg/cli/cluster/selftest/status.go
  src/go/rpk/pkg/cli/cluster/selftest/stop.go
  src/go/rpk/pkg/cli/cluster/storage/recovery/start.go
  src/go/rpk/pkg/cli/cluster/storage/recovery/status.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_k8s_linux.go
  src/go/rpk/pkg/cli/generate/app.go
  src/go/rpk/pkg/cli/profile/print.go
  src/go/rpk/pkg/cli/redpanda/admin/brokers/decommission-status.go
  src/go/rpk/pkg/cli/redpanda/admin/brokers/decommission.go
  src/go/rpk/pkg/cli/redpanda/admin/brokers/list.go
  src/go/rpk/pkg/cli/redpanda/admin/brokers/recommission.go
  src/go/rpk/pkg/cli/security/role/assign.go
  src/go/rpk/pkg/cli/security/role/create.go
  src/go/rpk/pkg/cli/security/role/delete.go
  src/go/rpk/pkg/cli/security/role/describe.go
  src/go/rpk/pkg/cli/security/role/list.go
  src/go/rpk/pkg/cli/security/role/unassign.go
  src/go/rpk/pkg/cli/security/user/create.go
  src/go/rpk/pkg/cli/security/user/delete.go
  src/go/rpk/pkg/cli/security/user/list.go
  src/go/rpk/pkg/cli/security/user/update.go
  src/go/rpk/pkg/cli/topic/describe_storage.go
  src/go/rpk/pkg/cli/transform/delete.go
  src/go/rpk/pkg/cli/transform/deploy.go
  src/go/rpk/pkg/cli/transform/list.go
  src/go/rpk/pkg/cli/transform/meta.go
  src/go/rpk/pkg/cli/version/version.go
  src/go/rpk/pkg/config/params.go
  src/go/rpk/pkg/config/params_test.go
  src/go/rpk/pkg/config/rpk_yaml.go
  src/go/rpk/pkg/config/rpk_yaml_test.go
  src/go/rpk/pkg/oauth/load_test.go
Labels: area/rpk, area/build

#23605 [v24.1.x] rpk: bring back Makefile and add support for internal topics in `describe`
  src/go/rpk/Makefile
  src/go/rpk/pkg/cli/topic/utils.go
Labels: area/rpk, kind/backport

#23604 [v24.2.x] rpk: bring back Makefile and add support for internal topics in `describe`
  src/go/rpk/Makefile
  src/go/rpk/pkg/cli/topic/utils.go
Labels: area/rpk, kind/backport

#23642 bazel: upgrade to clang-18
  .bazelrc
  MODULE.bazel
  MODULE.bazel.lock
  bazel/toolchain/Dockerfile.llvm
  src/v/cluster/tests/shard_placement_table_test.cc
Labels: area/build, area/redpanda

#23622 c/metrics: Fix snapshot::has_valid_license inverted condition
  src/v/cluster/metrics_reporter.cc
  tests/rptest/tests/metrics_reporter_test.py
Labels: area/redpanda

#23347 config: update config descriptions to match docs
  src/v/config/configuration.cc
  src/v/config/node_config.cc
  src/v/kafka/client/configuration.cc
  src/v/pandaproxy/rest/configuration.cc
  src/v/pandaproxy/schema_registry/configuration.cc
  tests/rptest/tests/describe_topics_test.py
Labels: area/redpanda

#23647 clang-tidy: various fixes
  src/v/base/vassert.h
  src/v/cloud_io/auth_refresh_bg_op.h
  src/v/cloud_roles/types.h
  src/v/cloud_storage/tests/BUILD
  src/v/cluster/BUILD
  src/v/cluster/tests/BUILD
  src/v/config/broker_endpoint.h
  src/v/crypto/tests/test_values.h
  src/v/datalake/coordinator/BUILD
  src/v/datalake/protobuf_utils.h
  src/v/debug_bundle/utils.cc
  src/v/features/feature_table.h
  src/v/iceberg/BUILD
  src/v/json/validator.h
  src/v/kafka/client/test/BUILD
  src/v/kafka/protocol/BUILD
  src/v/kafka/protocol/tests/BUILD
  src/v/pandaproxy/schema_registry/subject_name_strategy.h
  src/v/raft/BUILD
  src/v/raft/fundamental.h
  src/v/random/generators.h
  src/v/security/audit/BUILD
  src/v/security/tests/BUILD
  src/v/serde/BUILD
  src/v/serde/envelope.h
  src/v/serde/rw/chrono.h
  src/v/syschecks/syschecks.h
  src/v/utils/BUILD
  src/v/utils/adjustable_semaphore.h
Labels: area/build, area/redpanda

#23589 Revert "increase io_sink size to 10000 at startup"
  src/v/redpanda/application.cc
Labels: area/redpanda

#23598 ssx/async_algorithm: avoid std::for_each to honor [[nodiscard]]
  src/v/ssx/async_algorithm.h
Labels: area/redpanda

#23641 `cluster::topic_table`: topic-level notifications
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
  src/v/cluster/data_migration_backend.cc
  src/v/cluster/data_migration_backend.h
  src/v/cluster/partition_balancer_backend.cc
  src/v/cluster/shard_balancer.cc
  src/v/cluster/shard_balancer.h
  src/v/cluster/tests/topic_table_fixture.h
  src/v/cluster/tests/topic_table_test.cc
  src/v/cluster/tests/topic_updates_dispatcher_test.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
Labels: area/redpanda

#23623 CORE-7724 Add debug bundle expiration option
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/debug_bundle/BUILD
  src/v/debug_bundle/debug_bundle_service.cc
  src/v/debug_bundle/debug_bundle_service.h
  src/v/debug_bundle/error.cc
  src/v/debug_bundle/error.h
  src/v/debug_bundle/tests/debug_bundle_service_test.cc
  src/v/debug_bundle/types.cc
  src/v/debug_bundle/types.h
  src/v/redpanda/admin/debug_bundle.cc
Labels: area/build, area/redpanda

#23643 parquet: plain encoding
  src/v/serde/parquet/BUILD
  src/v/serde/parquet/CMakeLists.txt
  src/v/serde/parquet/encoding.cc
  src/v/serde/parquet/encoding.h
  src/v/serde/parquet/tests/BUILD
  src/v/serde/parquet/tests/encoding_test.cc
  src/v/serde/parquet/tests/value_test.cc
  src/v/serde/parquet/value.h
Labels: area/build, area/redpanda

#23646 [24.1.x] tests: bump ducktape to latest of 0.11.x
  tests/setup.py
Labels: area/rpk, area/build, area/redpanda

#23624 [v24.2.x] tests: bump ducktape to latest of 0.11.x
  tests/setup.py
Labels: kind/backport

#23655 chore: fix error message type
  src/v/cluster/errc.h
Labels: area/redpanda

#23545 [CORE-7743] `cluster`: tiered storage topic property update fixes
  src/go/rpk/pkg/cli/topic/config.go
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/compat/cluster_compat.h
  src/v/compat/cluster_generator.h
  src/v/compat/cluster_json.h
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/kafka/server/handlers/alter_configs.cc
  src/v/kafka/server/handlers/configs/config_utils.h
  src/v/kafka/server/handlers/incremental_alter_configs.cc
  src/v/kafka/server/tests/alter_config_test.cc
  src/v/migrations/cloud_storage_config.cc
  tests/rptest/clients/kcl.py
  tests/rptest/tests/alter_topic_configuration_test.py
  tests/rptest/tests/offset_for_leader_epoch_archival_test.py
  tests/rptest/tests/timequery_test.py
Labels: area/rpk, area/redpanda

#23636 [DEVEX-25] rpk: add license_expired to rpk cluster license info
  src/go/rpk/pkg/cli/cluster/license/info.go
  tests/rptest/tests/rpk_cluster_test.py
Labels: area/rpk

#23666 [v24.2.x] rpk: remove unused goreleaser config file
  src/go/.goreleaser_rp_connect.yaml
Labels: kind/backport

#23657 serde/parquet: add level encoding
  src/v/serde/parquet/BUILD
  src/v/serde/parquet/encoding.cc
  src/v/serde/parquet/encoding.h
  src/v/serde/parquet/tests/encoding_test.cc
Labels: area/build, area/redpanda

#22961 Giving state machine implementers a way to opt out from being forced to support snapshotting at arbitrary offset.
  src/v/cluster/distributed_kv_stm.h
  src/v/cluster/id_allocator_stm.cc
  src/v/cluster/log_eviction_stm.cc
  src/v/cluster/log_eviction_stm.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/tests/partition_properties_stm_test.cc
  src/v/cluster/tm_stm.cc
  src/v/raft/persisted_stm.cc
  src/v/raft/persisted_stm.h
  src/v/raft/recovery_stm.cc
  src/v/raft/recovery_stm.h
  src/v/raft/state_machine_base.h
  src/v/raft/state_machine_manager.cc
  src/v/raft/state_machine_manager.h
  src/v/raft/tests/persisted_stm_test.cc
  src/v/raft/tests/stm_manager_test.cc
  src/v/raft/tests/stm_test_fixture.h
Labels: area/redpanda

#23669 [v23.3.x] [DEVEX-25] rpk: add license_expired to rpk cluster license info
  src/go/rpk/pkg/cli/cluster/license/info.go
  tests/rptest/tests/rpk_cluster_test.py
Labels: area/rpk

#23391 Jcipar/batching parquet writer
  src/v/datalake/CMakeLists.txt
  src/v/datalake/arrow_translator.cc
  src/v/datalake/arrow_translator.h
  src/v/datalake/batching_parquet_writer.cc
  src/v/datalake/batching_parquet_writer.h
  src/v/datalake/data_writer_interface.h
  src/v/datalake/parquet_writer.cc
  src/v/datalake/parquet_writer.h
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
  src/v/datalake/tests/CMakeLists.txt
  src/v/datalake/tests/arrow_writer_test.cc
  src/v/datalake/tests/batching_parquet_writer_test.cc
  src/v/datalake/tests/gtest_record_multiplexer_test.cc
  src/v/datalake/tests/parquet_writer_test.cc
  src/v/datalake/tests/test_data_writer.h
  src/v/iceberg/tests/value_generator.cc
  src/v/iceberg/tests/value_generator.h
Labels: area/redpanda

#23302 rpk: allow configurable metric scrape count
  src/go/rpk/pkg/cli/debug/bundle/bundle.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_k8s_linux.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_linux.go
Labels: area/rpk

#23670 datalake/coordinator: add deterministic state
  src/v/datalake/coordinator/BUILD
  src/v/datalake/coordinator/CMakeLists.txt
  src/v/datalake/coordinator/data_file.h
  src/v/datalake/coordinator/state.cc
  src/v/datalake/coordinator/state.h
  src/v/datalake/coordinator/state_update.cc
  src/v/datalake/coordinator/state_update.h
  src/v/datalake/coordinator/tests/BUILD
  src/v/datalake/coordinator/tests/CMakeLists.txt
  src/v/datalake/coordinator/tests/state_update_test.cc
  src/v/datalake/coordinator/translated_offset_range.h
Labels: area/build, area/redpanda

#23671 http: Make rest entity methods const
  src/v/http/rest_client/rest_entity.cc
  src/v/http/rest_client/rest_entity.h
Labels: area/redpanda

#23446 [v24.2.x] `storage`: catch `ss::gate_closed_exception` in `log_manager`
  src/v/storage/log_manager.cc
Labels: area/redpanda, kind/backport

#23665 [v24.2.x] [DEVEX-25] rpk: add license_expired to rpk cluster license info
  src/go/rpk/pkg/cli/cluster/license/info.go
  tests/rptest/tests/rpk_cluster_test.py
Labels: area/rpk, kind/backport

#23668 [v24.1.x] [DEVEX-25] rpk: add license_expired to rpk cluster license info
  src/go/rpk/pkg/cli/cluster/license/info.go
  tests/rptest/tests/rpk_cluster_test.py
Labels: area/rpk

#23674 [v24.1.x] tests: test legacy dashboard in rpk generate
  tests/rptest/clients/rpk.py
  tests/rptest/tests/rpk_generate_test.py
Labels: kind/backport

#23425 [v24.2.x] Use `ss::socket_address` instead of `ss::sstring` for `client_address_t`
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/fetch.h
  src/v/model/fundamental.h
Labels: area/redpanda, kind/backport

#23650 datalake/config: miscellaneous changes
  src/v/cluster/feature_manager.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/features/enterprise_features.cc
  src/v/features/enterprise_features.h
  src/v/kafka/server/handlers/configs/config_utils.h
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/handlers/topics/types.h
  src/v/kafka/server/handlers/topics/validators.h
  src/v/kafka/server/tests/alter_config_test.cc
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/resource_mgmt/memory_groups.cc
  src/v/resource_mgmt/memory_groups.h
  src/v/resource_mgmt/tests/memory_groups_test.cc
  tests/rptest/tests/describe_topics_test.py
  tests/rptest/tests/enterprise_features_license_test.py
Labels: area/redpanda

#23675 [v23.3.x] tests: test legacy dashboard in rpk generate
  tests/rptest/clients/rpk.py
  tests/rptest/tests/rpk_generate_test.py
Labels: kind/backport

#23313 Dynamically adjust fetch debounce with PID controller
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/convert.h
  src/v/kafka/CMakeLists.txt
  src/v/kafka/server/BUILD
  src/v/kafka/server/fetch_pid_controller.cc
  src/v/kafka/server/fetch_pid_controller.h
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/server.cc
  src/v/kafka/server/server.h
  src/v/model/metadata.h
  src/v/model/model.cc
Labels: area/build, area/redpanda

#23603 [v24.2.x] [CORE-7719] Add has_valid_license & has_enterprise_features to phone-home metrics
  src/v/cluster/controller.cc
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/metrics_reporter.h
  src/v/features/enterprise_features.cc
  src/v/features/enterprise_features.h
  tests/rptest/tests/metrics_reporter_test.py
Labels: area/redpanda, kind/backport

#23676 [v24.2.x] tests: test legacy dashboard in rpk generate
  tests/rptest/clients/rpk.py
  tests/rptest/tests/rpk_generate_test.py
Labels: kind/backport

#23597 [v24.2.x] Migrations: fix shutdown busyloop
  src/v/cluster/data_migration_backend.cc
  src/v/ssx/include/ssx/future-util.h
Labels: area/redpanda, kind/backport

#23686 [v24.2.x] rpk: brokers list exposing Host/Port/Rack/UUID
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/redpanda/admin/brokers/list.go
Labels: area/rpk, kind/backport

#23298 [v24.2.x] rptest: Enable scrubber only if not explicitly disabled
  tests/rptest/services/redpanda.py
Labels: kind/backport

#23698 cloud_storage: avoid copying topic mount handler
  src/v/cloud_storage/remote_path_provider.cc
  src/v/cloud_storage/topic_mount_handler.h
Labels: area/redpanda

#23695 bazel: add cloud storage remote path provider test
  src/v/cloud_storage/tests/BUILD
Labels: area/build, area/redpanda

#23649 gha: rm use of rp_storage_tool_uploader
  .github/workflows/release-rp-storage-tool.yml
Labels: area/build

#23709 [v24.2.x] gha: rm use of rp_storage_tool_uploader
  .github/workflows/release-rp-storage-tool.yml
Labels: area/build, kind/backport

#23708 [v24.1.x] gha: rm use of rp_storage_tool_uploader
  .github/workflows/release-rp-storage-tool.yml
Labels: area/build, kind/backport

#23710 [v23.3.x] gha: rm use of rp_storage_tool_uploader
  .github/workflows/release-rp-storage-tool.yml
Labels: area/build, kind/backport

#23707 datalake/coordinator: iron out RPC types
  src/v/datalake/coordinator/BUILD
  src/v/datalake/coordinator/CMakeLists.txt
  src/v/datalake/coordinator/data_file.cc
  src/v/datalake/coordinator/data_file.h
  src/v/datalake/coordinator/translated_offset_range.cc
  src/v/datalake/coordinator/translated_offset_range.h
  src/v/datalake/coordinator/types.h
Labels: area/build, area/redpanda

#23688 [v24.1.x] rpk: brokers list exposing Host/Port/Rack/UUID
  src/go/rpk/pkg/adminapi/api_broker.go
  src/go/rpk/pkg/cli/redpanda/admin/brokers/list.go
Labels: area/rpk, kind/backport

#23696 CORE-7382 bazel: add cloud_storage/topic_mount_handler_test
  src/v/cloud_storage/tests/BUILD
  src/v/cloud_storage/tests/topic_mount_handler_test.cc
Labels: area/build, area/redpanda

#23715 gha: fix pip install on python actions
  .github/workflows/jira_issue_manage.yml
  .github/workflows/lint-python.yml
  .github/workflows/transform-sdk-release.yml
Labels: area/build

#22908 Use remote recovery when topic is configured to use remote data
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
  src/v/cluster/partition_manager.cc
  src/v/cluster/topic_table.h
  tests/rptest/services/redpanda.py
  tests/rptest/tests/partition_force_reconfiguration_test.py
Labels: area/redpanda

#23694 fix crash when canceling an inbound migration stuck because there is no data for the topic
  src/v/cluster/data_migration_backend.cc
  src/v/cluster/data_migration_backend.h
  tests/rptest/tests/data_migrations_api_test.py
Labels: area/redpanda

#23693 kafka: Consumer group stale static member properties on rejoin
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/member.h
  src/v/kafka/server/tests/group_test.cc
  tests/rptest/tests/consumer_group_test.py
Labels: area/redpanda

#23672 Migrations to block partition writes and abort uncommited transactions
  src/v/cluster/data_migration_backend.cc
  src/v/cluster/data_migration_worker.cc
  src/v/cluster/data_migration_worker.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tm_stm.cc
  src/v/kafka/server/tests/replicated_partition_test.cc
  src/v/raft/replicate.h
  src/v/redpanda/admin/partition.cc
  tests/rptest/tests/data_migrations_api_test.py
Labels: area/redpanda

#23734 c/tx_gateway: fixed missing set outcome value after tx is committed
  src/v/cluster/tx_gateway_frontend.cc
Labels: area/redpanda

#23732 bazel: update to PGO build clang-18 for x86_64
  MODULE.bazel
  MODULE.bazel.lock
Labels: area/build

#23682 `kafka`: improve `CreateTopics` error and boolean handling
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/handlers/topics/topic_utils.h
  src/v/kafka/server/handlers/topics/types.cc
  src/v/kafka/server/tests/create_topics_test.cc
  tests/rptest/tests/retention_policy_test.py
  tests/rptest/tests/topic_creation_test.py
Labels: area/redpanda

#23711 c/migrations: retry advance requests
  src/v/cluster/data_migration_backend.cc
Labels: area/redpanda

#23673 Introducing an Iceberg metadata query
  src/v/iceberg/BUILD
  src/v/iceberg/CMakeLists.txt
  src/v/iceberg/manifest.cc
  src/v/iceberg/manifest.h
  src/v/iceberg/manifest_entry.cc
  src/v/iceberg/manifest_entry.h
  src/v/iceberg/manifest_list.h
  src/v/iceberg/metadata_query.cc
  src/v/iceberg/metadata_query.h
  src/v/iceberg/tests/BUILD
  src/v/iceberg/tests/CMakeLists.txt
  src/v/iceberg/tests/metadata_query_test.cc
Labels: area/build, area/redpanda

#23736 [v24.2.x] c/tx_gateway: fixed missing set outcome value after tx is committed
  src/v/cluster/tx_gateway_frontend.cc
Labels: area/redpanda, kind/backport

#23712 datalake/coordinator: initial coordinator base
  src/v/datalake/coordinator/BUILD
  src/v/datalake/coordinator/CMakeLists.txt
  src/v/datalake/coordinator/coordinator.cc
  src/v/datalake/coordinator/coordinator.h
  src/v/datalake/coordinator/state_machine.cc
  src/v/datalake/coordinator/state_machine.h
  src/v/datalake/coordinator/state_update.cc
  src/v/datalake/coordinator/state_update.h
  src/v/datalake/coordinator/tests/BUILD
  src/v/datalake/coordinator/tests/CMakeLists.txt
  src/v/datalake/coordinator/tests/coordinator_test.cc
  src/v/datalake/coordinator/tests/state_test_utils.cc
  src/v/datalake/coordinator/tests/state_test_utils.h
  src/v/datalake/coordinator/tests/state_update_test.cc
  src/v/model/model.cc
  src/v/model/record_batch_types.h
Labels: area/build, area/redpanda

#23716 cloud_topics: add cloud topics topic property
  src/v/cloud_storage/tests/topic_manifest_test.cc
  src/v/cloud_topics/reconciler/reconciler.cc
  src/v/cluster/topic_configuration.cc
  src/v/cluster/topic_properties.cc
  src/v/cluster/topic_properties.h
  src/v/cluster/topics_frontend.cc
  src/v/compat/cluster_generator.h
  src/v/kafka/server/handlers/alter_configs.cc
  src/v/kafka/server/handlers/configs/config_response_utils.cc
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/handlers/incremental_alter_configs.cc
  src/v/kafka/server/handlers/topics/types.cc
  src/v/kafka/server/handlers/topics/types.h
  src/v/kafka/server/handlers/topics/validators.h
  src/v/storage/ntp_config.h
  src/v/storage/types.cc
  tests/rptest/tests/cloud_topics_test.py
  tools/offline_log_viewer/controller.py
Labels: area/redpanda

#23651 CORE-7747: iceberg: catalog client with oauth flow
  src/v/http/BUILD
  src/v/http/CMakeLists.txt
  src/v/http/client.cc
  src/v/http/client.h
  src/v/http/tests/BUILD
  src/v/http/tests/uri_encoding_test.cc
  src/v/http/utils.cc
  src/v/http/utils.h
  src/v/iceberg/CMakeLists.txt
  src/v/iceberg/rest_client/BUILD
  src/v/iceberg/rest_client/catalog_client.cc
  src/v/iceberg/rest_client/catalog_client.h
  src/v/iceberg/rest_client/parsers.cc
  src/v/iceberg/rest_client/parsers.h
  src/v/iceberg/rest_client/retry_policy.cc
  src/v/iceberg/rest_client/retry_policy.h
  src/v/iceberg/rest_client/tests/BUILD
  src/v/iceberg/rest_client/tests/CMakeLists.txt
  src/v/iceberg/rest_client/tests/catalog_client_tests.cc
  src/v/iceberg/rest_client/tests/parser_tests.cc
  src/v/iceberg/rest_client/tests/retry_policy_tests.cc
  src/v/iceberg/rest_client/types.h
Labels: area/build, area/redpanda

#23393 [CORE-7292] Fix `rpk connect` ducktape test in GCP
  tests/rptest/clients/rpk.py
  tests/rptest/clients/rpk_remote.py
  tests/rptest/tests/rpk_connect_test.py
Labels: area/rpk

#23729 [v24.2.x] kafka: Consumer group stale static member properties on rejoin
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/member.h
  src/v/kafka/server/tests/group_test.cc
  tests/rptest/tests/consumer_group_test.py
Labels: area/redpanda, kind/backport

#23733 [v24.1.x] kafka: Consumer group stale static member properties on rejoin
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/member.h
  src/v/kafka/server/tests/group_test.cc
  tests/rptest/tests/consumer_group_test.py
Labels: area/redpanda, kind/backport

#23743 Leadership pinning: add to enterprise features
  src/v/cluster/controller.cc
  src/v/cluster/feature_manager.cc
  src/v/cluster/feature_manager.h
  src/v/features/enterprise_features.cc
  src/v/features/enterprise_features.h
  tests/rptest/tests/enterprise_features_license_test.py
Labels: area/redpanda

#23564 [WIP] Leadership pinning
  src/v/cluster/controller.cc
  src/v/cluster/feature_manager.cc
  src/v/cluster/feature_manager.h
  src/v/features/enterprise_features.cc
  src/v/features/enterprise_features.h
  tests/rptest/tests/enterprise_features_license_test.py
Labels: area/build, area/redpanda

#23687 tx/group: ignore replay requests if producer/tx is not found
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
Labels: area/redpanda

#23749 [v24.2.x] [CORE-7292] Fix `rpk connect` ducktape test in GCP
  tests/rptest/clients/rpk.py
  tests/rptest/clients/rpk_remote.py
  tests/rptest/tests/rpk_connect_test.py
Labels: kind/backport

#23703 debug_bundle: Added label_select option
  src/v/debug_bundle/BUILD
  src/v/debug_bundle/debug_bundle_service.cc
  src/v/debug_bundle/json.h
  src/v/debug_bundle/tests/debug_bundle_service_test.cc
  src/v/debug_bundle/tests/json_test.cc
  src/v/debug_bundle/types.cc
  src/v/debug_bundle/types.h
  src/v/redpanda/admin/api-doc/debug_bundle.json
  tests/rptest/services/admin.py
Labels: area/build, area/redpanda

#23683 iceberg: add batching parquet writer factory
  src/v/datalake/batching_parquet_writer.cc
  src/v/datalake/batching_parquet_writer.h
  src/v/datalake/data_writer_interface.h
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
  src/v/datalake/tests/batching_parquet_writer_test.cc
  src/v/datalake/tests/gtest_record_multiplexer_test.cc
  src/v/datalake/tests/test_data_writer.h
  ubsan_suppressions.txt
Labels: area/redpanda

#23713 Switch to the v24.3.x seastar branch
  bazel/repositories.bzl
  cmake/dependencies.cmake
Labels: area/build

#23690 bazel: Use upstream unordered_dense
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: area/build

#23748 cloud_storage: Extract cache interface
  src/v/cloud_io/BUILD
  src/v/cloud_io/CMakeLists.txt
  src/v/cloud_io/basic_cache_service_api.cc
  src/v/cloud_io/basic_cache_service_api.h
  src/v/cloud_storage/BUILD
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/cache_service.h
Labels: area/build, area/redpanda

#23737 `cluster`: alter log line in `maybe_download_log()`
  src/v/cluster/partition_recovery_manager.cc
Labels: area/redpanda

#23720 datalake/coordinator: add coordinator manager
  src/v/datalake/coordinator/BUILD
  src/v/datalake/coordinator/CMakeLists.txt
  src/v/datalake/coordinator/coordinator.cc
  src/v/datalake/coordinator/coordinator.h
  src/v/datalake/coordinator/coordinator_manager.cc
  src/v/datalake/coordinator/coordinator_manager.h
  src/v/datalake/coordinator/frontend.cc
  src/v/datalake/coordinator/frontend.h
  src/v/datalake/coordinator/state_machine.cc
  src/v/datalake/coordinator/state_machine.h
  src/v/datalake/coordinator/tests/coordinator_test.cc
  src/v/datalake/coordinator/types.h
  src/v/datalake/fwd.h
  src/v/redpanda/BUILD
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
Labels: area/build, area/redpanda

#23764 [24.2.x] gha: fix pip install on python actions
  .github/workflows/jira_issue_manage.yml
  .github/workflows/lint-python.yml
  .github/workflows/transform-sdk-release.yml
Labels: area/build

#23763 bazel: support clang tidy
  .clang-tidy
  MODULE.bazel.lock
  bazel/build.bzl
  src/v/cluster/BUILD
  src/v/cluster/cluster_uuid.h
  src/v/cluster/commands.h
  src/v/cluster/controller_stm.h
  src/v/cluster/health_monitor_types.h
  src/v/cluster/metadata_dissemination_types.h
  src/v/cluster/partition_balancer_types.h
  src/v/cluster/prefix_truncate_record.h
  src/v/cluster/raft0_utils.h
  src/v/cluster/rm_stm_types.h
  src/v/cluster/scheduling/constraints.h
  src/v/cluster/tx_protocol_types.h
  src/v/datalake/BUILD
  src/v/datalake/coordinator/BUILD
  src/v/iceberg/rest_client/BUILD
  src/v/kafka/server/read_distribution_probe.h
  src/v/redpanda/BUILD
Labels: area/build, area/redpanda

#23745 datalake/coordinator: add file committer
  src/v/datalake/BUILD
  src/v/datalake/CMakeLists.txt
  src/v/datalake/coordinator/BUILD
  src/v/datalake/coordinator/CMakeLists.txt
  src/v/datalake/coordinator/file_committer.h
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/datalake/coordinator/iceberg_file_committer.h
  src/v/datalake/coordinator/tests/BUILD
  src/v/datalake/coordinator/tests/CMakeLists.txt
  src/v/datalake/coordinator/tests/iceberg_file_committer_test.cc
  src/v/datalake/schemaless_translator.cc
  src/v/datalake/table_definition.cc
  src/v/datalake/table_definition.h
  src/v/iceberg/BUILD
  src/v/iceberg/CMakeLists.txt
  src/v/iceberg/catalog.cc
  src/v/iceberg/catalog.h
Labels: area/build, area/redpanda

#23730 `cloud_storage`: add `initial_revision_id` to `topic_mount_manifest` path
  src/v/cloud_storage/remote_path_provider.cc
  src/v/cloud_storage/tests/remote_path_provider_test.cc
  src/v/cloud_storage/tests/topic_mount_handler_test.cc
  src/v/cloud_storage/tests/topic_mount_manifest_test.cc
  src/v/cloud_storage/topic_mount_handler.cc
  src/v/cloud_storage/topic_mount_handler.h
  src/v/cloud_storage/topic_mount_manifest.cc
  src/v/cloud_storage/topic_mount_manifest.h
  src/v/cluster/data_migration_backend.cc
Labels: area/redpanda

#23769 clang-tidy: misc fixes
  MODULE.bazel
  MODULE.bazel.lock
  src/v/container/BUILD
  src/v/thirdparty/protobuf/BUILD
Labels: area/build, area/redpanda

#23747 [v24.2.x] Keep producer inflight requests queue bounded
  src/v/cluster/producer_state.cc
  tests/rptest/tests/idempotency_test.py
Labels: area/redpanda, kind/backport

#23767 datalake/coordinator: followups to #23720
  src/v/cluster/partition_manager.cc
  src/v/redpanda/application.cc
Labels: area/redpanda

#23754 [v24.2.x] tx/group: ignore replay requests if producer/tx is not found
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
Labels: area/redpanda, kind/backport

#23766 [v24.1.x] gha: fix pip install on python actions
  .github/workflows/jira_issue_manage.yml
  .github/workflows/lint-python.yml
  .github/workflows/render-pr-body-release-notes.yml
  .github/workflows/transform-sdk-release.yml
Labels: area/build

#23778 [v23.3.x] gha: fix pip install on python actions
  .github/workflows/lint-python.yml
  .github/workflows/render-pr-body-release-notes.yml
Labels: area/build

#23765 iceberg: serialize path style URIs in metadata
  src/v/iceberg/manifest_io.cc
  src/v/iceberg/manifest_io.h
  src/v/iceberg/merge_append_action.cc
  src/v/iceberg/metadata_io.h
  src/v/iceberg/metadata_query.cc
  src/v/iceberg/tests/manifest_io_test.cc
  src/v/iceberg/tests/merge_append_action_test.cc
  src/v/iceberg/tests/metadata_query_test.cc
Labels: area/redpanda

#23785 bazel: miscellaneous improvements
  bazel/test.bzl
  src/v/test_utils/BUILD
Labels: area/build, area/redpanda

#23780 Deprecate leader balancer mode
  src/v/cluster/BUILD
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/cluster/scheduling/leader_balancer_constraints.cc
  src/v/cluster/scheduling/leader_balancer_constraints.h
  src/v/cluster/scheduling/leader_balancer_greedy.h
  src/v/cluster/scheduling/leader_balancer_types.h
  src/v/cluster/tests/BUILD
  src/v/cluster/tests/leader_balancer_bench.cc
  src/v/cluster/tests/leader_balancer_constraints_test.cc
  src/v/cluster/tests/leader_balancer_constraints_utils.h
  src/v/cluster/tests/leader_balancer_test.cc
  src/v/cluster/tests/leader_balancer_test_utils.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/convert.h
  src/v/config/property.h
  src/v/config/rjson_serialization.cc
  src/v/config/rjson_serialization.h
  src/v/model/metadata.h
  src/v/model/model.cc
Labels: area/build, area/redpanda

#23782 CORE-7820 test: fix cloud assumption failure in cdt
  src/v/cloud_topics/reconciler/BUILD
  src/v/cloud_topics/reconciler/reconciler.cc
  src/v/cloud_topics/reconciler/reconciler.h
  src/v/redpanda/application.cc
  tests/rptest/tests/cloud_topics_test.py
Labels: area/build, area/redpanda

#23629 ct: Add L0 read path
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/README.md
  src/v/cloud_topics/batcher/aggregator.cc
  src/v/cloud_topics/errc.h
  src/v/cloud_topics/reader/BUILD
  src/v/cloud_topics/reader/placeholder_extent.cc
  src/v/cloud_topics/reader/placeholder_extent.h
  src/v/cloud_topics/reader/placeholder_extent_reader.cc
  src/v/cloud_topics/reader/placeholder_extent_reader.h
  src/v/cloud_topics/reader/tests/BUILD
  src/v/cloud_topics/reader/tests/mocks.h
  src/v/cloud_topics/reader/tests/placeholder_extent_fixture.cc
  src/v/cloud_topics/reader/tests/placeholder_extent_fixture.h
  src/v/cloud_topics/reader/tests/placeholder_extent_reader_test.cc
  src/v/cloud_topics/reader/tests/placeholder_extent_test.cc
  src/v/model/model.cc
  src/v/model/record_batch_types.h
Labels: area/build, area/redpanda

#23575 rpk: Add Support for Topic Mounting and Unmounting
  src/go/rpk/Makefile
  src/go/rpk/pkg/cli/cluster/storage/BUILD
  src/go/rpk/pkg/cli/cluster/storage/cancel-mount.go
  src/go/rpk/pkg/cli/cluster/storage/list-mount.go
  src/go/rpk/pkg/cli/cluster/storage/mount.go
  src/go/rpk/pkg/cli/cluster/storage/status-mount.go
  src/go/rpk/pkg/cli/cluster/storage/storage.go
  src/go/rpk/pkg/cli/cluster/storage/unmount.go
Labels: area/rpk, area/build

#23799 CORE-7935: admin: Removed status check in get_debug_bundle_job_id
  src/v/redpanda/admin/debug_bundle.cc
  tests/rptest/tests/debug_bundle_test.py
Labels: area/redpanda

#23808 cloud_topics: use existing random batch generator
  src/v/cloud_topics/batcher/tests/serializer_test.cc
Labels: area/redpanda

#23810 cloud_storage: follow ups to https://github.com/redpanda-data/redpanda/pull/23748
  src/v/cloud_io/basic_cache_service_api.h
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/cache_service.h
  src/v/cloud_storage/tests/BUILD
  src/v/cloud_storage/tests/cache_test.cc
  src/v/cloud_topics/reader/tests/mocks.h
  src/v/cloud_topics/reader/tests/placeholder_extent_fixture.cc
Labels: area/build, area/redpanda

#23809 [v24.2.x] [CORE-7812] dt/metrics: Assert on presence of 'has_enterprise_features'
  tests/rptest/tests/metrics_reporter_test.py
Labels: kind/backport

#23815 model: move boundary type into storage layer
  src/v/model/fundamental.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
Labels: area/redpanda

#23800 Iceberg data writer cleanup
  src/v/datalake/CMakeLists.txt
  src/v/datalake/batching_parquet_writer.cc
  src/v/datalake/batching_parquet_writer.h
  src/v/datalake/data_writer_interface.cc
  src/v/datalake/data_writer_interface.h
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/tests/batching_parquet_writer_test.cc
  src/v/datalake/tests/gtest_record_multiplexer_test.cc
  src/v/datalake/tests/test_data_writer.h
Labels: area/redpanda

#23635 c/migrations: convert migrations table to an ssx::single_sharded
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/data_migration_frontend.cc
  src/v/cluster/data_migration_frontend.h
  src/v/cluster/data_migration_table.cc
  src/v/cluster/data_migration_table.h
Labels: area/redpanda

#23821 [v24.2.x] CORE-6977 dt: relax noncogent crl test log whitelist
  tests/rptest/tests/crl_test.py
Labels: kind/backport

#23798 CORE-7792: Expand debug bundle tests
  src/v/debug_bundle/debug_bundle_service.cc
  tests/rptest/services/admin.py
  tests/rptest/services/redpanda.py
  tests/rptest/services/templates/redpanda.yaml
  tests/rptest/tests/debug_bundle_test.py
Labels: area/redpanda

#23811 raft/state_machine: revisit synchronization around state_machine_base::apply
  src/v/raft/persisted_stm.cc
  src/v/raft/persisted_stm.h
  src/v/raft/state_machine_base.cc
  src/v/raft/state_machine_base.h
  src/v/raft/state_machine_manager.cc
  src/v/raft/tests/persisted_stm_test.cc
  src/v/raft/tests/stm_manager_test.cc
  src/v/raft/tests/stm_test_fixture.h
Labels: area/redpanda

#23819 schema: pull wasm::schema_registry into its own library
  src/v/CMakeLists.txt
  src/v/README.md
  src/v/pandaproxy/schema_registry/api.h
  src/v/schema/BUILD
  src/v/schema/CMakeLists.txt
  src/v/schema/README.md
  src/v/schema/registry.cc
  src/v/schema/registry.h
  src/v/schema/tests/BUILD
  src/v/schema/tests/CMakeLists.txt
  src/v/schema/tests/fake_registry.cc
  src/v/schema/tests/fake_registry.h
  src/v/wasm/BUILD
  src/v/wasm/CMakeLists.txt
  src/v/wasm/fwd.h
  src/v/wasm/impl.cc
  src/v/wasm/schema_registry_module.cc
  src/v/wasm/schema_registry_module.h
  src/v/wasm/tests/BUILD
  src/v/wasm/tests/CMakeLists.txt
  src/v/wasm/tests/wasm_fixture.cc
  src/v/wasm/tests/wasm_fixture.h
  src/v/wasm/tests/wasm_transform_bench.cc
  src/v/wasm/wasmtime.cc
  src/v/wasm/wasmtime.h
Labels: area/build, area/redpanda, area/wasm

#23822 Loosen coupling of `datalake::record_multiplexer`
  src/v/datalake/BUILD
  src/v/datalake/CMakeLists.txt
  src/v/datalake/base_types.cc
  src/v/datalake/base_types.h
  src/v/datalake/batching_parquet_writer.cc
  src/v/datalake/batching_parquet_writer.h
  src/v/datalake/data_writer_interface.cc
  src/v/datalake/data_writer_interface.h
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
  src/v/datalake/tests/gtest_record_multiplexer_test.cc
  src/v/datalake/tests/test_data_writer.h
Labels: area/build, area/redpanda

#23744 rpk: Add License violations to `rpk cluster info`
  src/go/rpk/pkg/adminapi/admin.go
  src/go/rpk/pkg/adminapi/admin_test.go
  src/go/rpk/pkg/cli/cluster/license/BUILD
  src/go/rpk/pkg/cli/cluster/license/info.go
  tests/rptest/tests/rpk_cluster_test.py
Labels: area/rpk, area/build

#23812 ct: Read path followup
  src/v/cloud_topics/reader/placeholder_extent.cc
  src/v/cloud_topics/reader/placeholder_extent.h
  src/v/cloud_topics/reader/placeholder_extent_reader.cc
  src/v/cloud_topics/reader/placeholder_extent_reader.h
  src/v/cloud_topics/reader/tests/placeholder_extent_test.cc
Labels: area/redpanda

#23820 datalake/protobuf: fallback to strings for uint64_t
  src/v/datalake/schema_protobuf.cc
  src/v/datalake/tests/datalake_protobuf_tests.cc
  src/v/datalake/tests/testdata/complex.proto
  src/v/datalake/tests/testdata/not_supported.proto
  src/v/datalake/values_protobuf.cc
Labels: area/redpanda

#23824 test_utils: throw on gtest assert
  src/v/test_utils/CMakeLists.txt
  src/v/test_utils/gtest_utils.cc
  src/v/test_utils/gtest_utils.h
  src/v/test_utils/tests/CMakeLists.txt
  src/v/test_utils/tests/gtest_listener_test.cc
Labels: area/redpanda

#23770 Kafka: Split `partition_proxy` lib off from kafka/server
  src/v/cloud_topics/reconciler/BUILD
  src/v/cloud_topics/reconciler/reconciler.cc
  src/v/cluster/BUILD
  src/v/cluster/cloud_metadata/offsets_lookup.cc
  src/v/kafka/CMakeLists.txt
  src/v/kafka/data/BUILD
  src/v/kafka/data/CMakeLists.txt
  src/v/kafka/data/logger.cc
  src/v/kafka/data/logger.h
  src/v/kafka/data/partition_proxy.cc
  src/v/kafka/data/partition_proxy.h
  src/v/kafka/data/replicated_partition.cc
  src/v/kafka/data/replicated_partition.h
  src/v/kafka/server/BUILD
  src/v/kafka/server/handlers/delete_records.cc
  src/v/kafka/server/handlers/details/leader_epoch.h
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/fetch/replica_selector.h
  src/v/kafka/server/handlers/list_offsets.cc
  src/v/kafka/server/handlers/offset_for_leader_epoch.cc
  src/v/kafka/server/handlers/produce.cc
  src/v/kafka/server/tests/replicated_partition_test.cc
  src/v/kafka/utils/BUILD
  src/v/kafka/utils/txn_reader.cc
  src/v/transform/BUILD
  src/v/transform/api.cc
  src/v/transform/rpc/BUILD
  src/v/transform/rpc/CMakeLists.txt
  src/v/transform/rpc/deps.cc
  src/v/transform/rpc/deps.h
  src/v/transform/rpc/service.cc
  src/v/transform/rpc/tests/BUILD
  src/v/transform/rpc/tests/transform_rpc_test.cc
Labels: area/build, area/redpanda, area/wasm

#23761 [v24.1.x] [CORE-7152] Admin: Introduce endpoint
  src/v/cluster/CMakeLists.txt
  src/v/cluster/feature_manager.cc
  src/v/cluster/feature_manager.h
  src/v/features/CMakeLists.txt
  src/v/features/enterprise_features.cc
  src/v/features/enterprise_features.h
  src/v/redpanda/admin/api-doc/features.json
  src/v/redpanda/admin/server.cc
  src/v/redpanda/admin/server.h
  tests/rptest/services/admin.py
  tests/rptest/tests/enterprise_features_license_test.py
Labels: area/redpanda, kind/backport

#23837 bazel: add sudo dependency
  bazel/install-deps.sh
Labels: area/build

#23823 [v24.2.x] dt/audit: Added missing skip_fips_mode
  tests/rptest/tests/audit_log_test.py
Labels: kind/backport

#23786 [CORE-7241] Introduced seastar friendly binary avro parser
  src/v/serde/CMakeLists.txt
  src/v/serde/avro/BUILD
  src/v/serde/avro/CMakeLists.txt
  src/v/serde/avro/parser.cc
  src/v/serde/avro/parser.h
  src/v/serde/avro/tests/BUILD
  src/v/serde/avro/tests/CMakeLists.txt
  src/v/serde/avro/tests/parser_test.cc
  src/v/serde/avro/tests/testdata/array
  src/v/serde/avro/tests/testdata/big_union
  src/v/serde/avro/tests/testdata/bigrecord
  src/v/serde/avro/tests/testdata/bigrecord2
  src/v/serde/avro/tests/testdata/bigrecord_r
  src/v/serde/avro/tests/testdata/circulardep
  src/v/serde/avro/tests/testdata/cpp_reserved_words
  src/v/serde/avro/tests/testdata/cpp_reserved_words_union_typedef
  src/v/serde/avro/tests/testdata/crossref
  src/v/serde/avro/tests/testdata/empty_record
  src/v/serde/avro/tests/testdata/enum
  src/v/serde/avro/tests/testdata/fixed
  src/v/serde/avro/tests/testdata/int
  src/v/serde/avro/tests/testdata/large_schema.avsc
  src/v/serde/avro/tests/testdata/map
  src/v/serde/avro/tests/testdata/padded_record
  src/v/serde/avro/tests/testdata/primitivetypes
  src/v/serde/avro/tests/testdata/recinrec
  src/v/serde/avro/tests/testdata/record
  src/v/serde/avro/tests/testdata/record2
  src/v/serde/avro/tests/testdata/reuse
  src/v/serde/avro/tests/testdata/tree1
  src/v/serde/avro/tests/testdata/tree2
  src/v/serde/avro/tests/testdata/tweet
  src/v/serde/avro/tests/testdata/union
  src/v/serde/avro/tests/testdata/union_array_union
  src/v/serde/avro/tests/testdata/union_conflict
  src/v/serde/avro/tests/testdata/union_empty_record
  src/v/serde/avro/tests/testdata/union_map_union
  src/v/serde/avro/tests/testdata/union_redundant_types
  src/v/serde/avro/tests/testdata/unionwithmap
Labels: area/build, area/redpanda

#23758 datalake/coordinator: add file committer background loop
  src/v/datalake/coordinator/BUILD
  src/v/datalake/coordinator/coordinator.cc
  src/v/datalake/coordinator/coordinator.h
  src/v/datalake/coordinator/coordinator_manager.cc
  src/v/datalake/coordinator/coordinator_manager.h
  src/v/datalake/coordinator/state_machine.cc
  src/v/datalake/coordinator/tests/BUILD
  src/v/datalake/coordinator/tests/coordinator_test.cc
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  tests/rptest/tests/enterprise_features_license_test.py
Labels: area/build, area/redpanda
