Repository redpanda-data/redpanda, pull requests merged in 2024-06, with the labels that each got.

#18719 [v24.1.x] [CORE-2503] Fix for CI failure: `ControlCharacterPermittedAfterUpgrade.test_upgrade_from_pre_v23_2`
  tests/rptest/tests/control_character_flag_test.py
Labels: kind/backport

#18716 CORE-2698 `quota_store` controller frontend/backend
  src/v/cluster/CMakeLists.txt
  src/v/cluster/client_quota_backend.cc
  src/v/cluster/client_quota_backend.h
  src/v/cluster/client_quota_frontend.cc
  src/v/cluster/client_quota_frontend.h
  src/v/cluster/client_quota_serde.h
  src/v/cluster/client_quota_store.cc
  src/v/cluster/client_quota_store.h
  src/v/cluster/commands.h
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/controller_snapshot.cc
  src/v/cluster/controller_snapshot.h
  src/v/cluster/controller_stm.cc
  src/v/cluster/controller_stm.h
  src/v/cluster/fwd.h
  src/v/cluster/tests/client_quota_store_test.cc
  src/v/kafka/server/handlers/alter_client_quotas.cc
  src/v/kafka/server/handlers/describe_client_quotas.cc
  src/v/kafka/server/request_context.h
  src/v/kafka/server/server.cc
  src/v/kafka/server/server.h
  src/v/model/model.cc
  src/v/model/record_batch_types.h
  src/v/redpanda/application.cc
  src/v/redpanda/tests/fixture.h
Labels: area/redpanda

#18731 CORE-2441 - Introduce `cloud_storage_crl_file` config
  src/v/cloud_storage_clients/configuration.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

#18659 [CORE-2069]: Changes to support using S3 FIPS Endpoints
  src/v/archival/tests/archival_metadata_stm_gtest.cc
  src/v/archival/tests/service_fixture.cc
  src/v/cloud_storage/tests/anomalies_detector_test.cc
  src/v/cloud_storage/tests/s3_imposter.cc
  src/v/cloud_storage/tests/s3_imposter.h
  src/v/cloud_storage/types.cc
  src/v/cloud_storage_clients/configuration.cc
  src/v/cloud_storage_clients/configuration.h
  src/v/cloud_storage_clients/s3_client.cc
  src/v/cloud_storage_clients/test_client/s3_test_client_main.cc
  src/v/cloud_storage_clients/tests/client_pool_mt_test.cc
  src/v/cloud_storage_clients/tests/client_pool_test.cc
  src/v/cloud_storage_clients/tests/s3_client_test.cc
  src/v/http/include/http/tests/http_imposter.h
  src/v/http/tests/http_imposter.cc
  src/v/redpanda/tests/fixture.h
  tests/docker/dns/Dockerfile
  tests/docker/dns/dnsmasq.conf
  tests/docker/docker-compose.yml
  tests/rptest/archival/s3_client.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/archival_test.py
  tests/rptest/tests/control_character_flag_test.py
  tests/rptest/tests/partition_movement_test.py
  tests/rptest/tests/random_node_operations_test.py
  tests/rptest/tests/read_replica_e2e_test.py
  tests/rptest/tests/tiered_storage_model_test.py
  tests/rptest/tests/upgrade_test.py
  tests/rptest/tests/workload_upgrade_runner_test.py
Labels: area/redpanda

#18653 archival: Data upload path groundwork
  src/v/archival/fwd.h
  src/v/archival/types.h
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/cloud_storage/remote_segment_index.h
  src/v/config/configuration.cc
  src/v/container/include/container/fragmented_vector.h
  src/v/model/fundamental.h
  src/v/model/ktp.h
  src/v/storage/batch_consumer_utils.h
  src/v/storage/tests/CMakeLists.txt
  src/v/storage/tests/batch_consumer_utils_test.cc
Labels: area/redpanda

#18701 [CORE-2845]: Ensure create_acls requests return an error when resources as topics are non valid kafka topic names
  src/v/kafka/server/handlers/details/security.h
  tests/rptest/clients/rpk.py
  tests/rptest/tests/acls_test.py
Labels: area/redpanda

#18743 CORE-2699 kafka/quota_mgr: extract keys and limit logic into `client_quota_translator`
  src/v/kafka/CMakeLists.txt
  src/v/kafka/server/client_quota_translator.cc
  src/v/kafka/server/client_quota_translator.h
  src/v/kafka/server/quota_manager.cc
  src/v/kafka/server/quota_manager.h
  src/v/kafka/server/tests/CMakeLists.txt
  src/v/kafka/server/tests/client_quota_translator_test.cc
  src/v/kafka/server/tests/quota_manager_test.cc
Labels: area/redpanda

#18727 [CORE-1867] config: add `validate_cloud_storage_api_endpoint`
  src/v/config/configuration.cc
  src/v/config/validators.cc
  src/v/config/validators.h
  tests/rptest/tests/cluster_config_test.py
Labels: area/redpanda

#18755 [release process] automate rpk connect plugin bundling
  .github/CODEOWNERS
  src/go/.goreleaser_rp_connect.yaml
Labels: area/build

#18763 [v24.1.x] admin: fix cache trim parameter order
  src/v/cloud_storage/cache_service.cc
  src/v/redpanda/admin/server.cc
Labels: area/redpanda

#18764 [v23.3.x] admin: fix cache trim parameter order
  src/v/cloud_storage/cache_service.cc
  src/v/redpanda/admin/server.cc
Labels: area/redpanda

#18765 [v23.2.x] admin: fix cache trim parameter order
  src/v/cloud_storage/cache_service.cc
  src/v/redpanda/admin_server.cc
Labels: area/redpanda

#18762 cloud_storage: Rehash segment name prefixes
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/cache_service.h
  src/v/cloud_storage/tests/cache_test.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

#18776 raft: fix node_id mismatch log message
  src/v/raft/consensus.cc
Labels: area/redpanda

#18772 [CORE-3177] automatic s3 endpoint for fips
  src/v/cloud_storage_clients/configuration.cc
  tests/rptest/services/redpanda.py
Labels: area/redpanda

#18769 [v24.1.x] [CORE-2845]: Ensure create_acls requests return an error when resources as topics are non valid kafka topic names
  src/v/kafka/server/handlers/details/security.h
  tests/rptest/clients/rpk.py
  tests/rptest/tests/acls_test.py
Labels: area/redpanda, kind/backport

#18784 [v23.3.x] raft: fix node_id mismatch log message
  src/v/raft/consensus.cc
Labels: area/redpanda, kind/backport

#18766 CORE-3167 relax fips enabled behavior
  src/v/cloud_storage/types.cc
  src/v/cloud_storage_clients/s3_client.cc
  src/v/cluster/cluster_utils.cc
  src/v/config/convert.h
  src/v/config/node_config.cc
  src/v/config/node_config.h
  src/v/config/property.h
  src/v/config/rjson_serialization.cc
  src/v/config/rjson_serialization.h
  src/v/config/types.h
  src/v/redpanda/application.cc
  tests/rptest/services/redpanda.py
  tests/rptest/services/templates/openssl.cnf
  tests/rptest/tests/redpanda_startup_test.py
Labels: area/redpanda

#18785 [v23.2.x] raft: fix node_id mismatch log message
  src/v/raft/consensus.cc
Labels: area/redpanda, kind/backport

#18726 [CORE-1562] config: update `archive::configuration` types to `config::binding<>`
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/tests/archival_service_fixture.h
  src/v/archival/tests/service_fixture.cc
  src/v/archival/types.cc
  src/v/archival/types.h
  src/v/config/configuration.cc
  src/v/redpanda/tests/fixture.h
Labels: area/redpanda

#18777 CORE-2699 Quotas: prepare for using the quota store in `client_quota_translator`
  src/v/kafka/server/client_quota_translator.cc
  src/v/kafka/server/client_quota_translator.h
  src/v/kafka/server/quota_manager.cc
  src/v/kafka/server/quota_manager.h
  src/v/kafka/server/tests/CMakeLists.txt
  src/v/kafka/server/tests/client_quota_translator_test.cc
  src/v/kafka/server/tests/quota_manager_bench.cc
  src/v/kafka/server/tests/quota_manager_test.cc
  src/v/redpanda/application.cc
Labels: area/redpanda

#18760 Added basic test validating consume group recovery
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_metadata.cc
  src/v/kafka/server/group_metadata.h
  src/v/kafka/server/group_recovery_consumer.cc
  src/v/kafka/server/group_stm.cc
  src/v/kafka/server/group_stm.h
  src/v/kafka/server/tests/CMakeLists.txt
  src/v/kafka/server/tests/consumer_group_recovery_test.cc
Labels: area/redpanda

#18744 Change even topic constraint indexes to per shard
  src/v/cluster/scheduling/leader_balancer_constraints.cc
  src/v/cluster/scheduling/leader_balancer_constraints.h
  src/v/cluster/scheduling/leader_balancer_greedy.h
  src/v/cluster/scheduling/leader_balancer_random.h
  src/v/cluster/scheduling/leader_balancer_types.h
  src/v/cluster/tests/leader_balancer_bench.cc
  src/v/cluster/tests/leader_balancer_constraints_test.cc
  src/v/cluster/tests/leader_balancer_test.cc
  src/v/cluster/tests/leader_balancer_test_utils.h
Labels: area/redpanda

#18153 Fixed possible log discrepancy when using forced reconfiguration
  src/v/cluster/controller_backend.cc
  src/v/raft/configuration_manager.cc
  src/v/raft/configuration_manager.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/tests/CMakeLists.txt
  src/v/raft/tests/raft_reconfiguration_test.cc
Labels: area/redpanda

#18787 cluster: Reduce cloud storage self-test output
  src/go/rpk/pkg/cli/cluster/selftest/status.go
  src/v/cluster/self_test/cloudcheck.cc
  tests/rptest/tests/self_test_test.py
Labels: area/rpk, area/redpanda

#18835 [v24.1.x] Fixed possible log discrepancy when using forced reconfiguration
  src/v/cluster/controller_backend.cc
  src/v/raft/configuration_manager.cc
  src/v/raft/configuration_manager.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/tests/CMakeLists.txt
  src/v/raft/tests/raft_reconfiguration_test.cc
Labels: area/redpanda, kind/backport

#18711 rpk: add client quotas support to rpk
  src/go/rpk/pkg/cli/cluster/cluster.go
  src/go/rpk/pkg/cli/cluster/quotas/alter.go
  src/go/rpk/pkg/cli/cluster/quotas/describe.go
  src/go/rpk/pkg/cli/cluster/quotas/quotas.go
  tests/rptest/clients/rpk.py
Labels: area/rpk

#18841 rpk: display float values as float in cluster config get
  src/go/rpk/pkg/cli/cluster/config/get.go
  tests/rptest/tests/cluster_config_test.py
Labels: area/rpk

#18843 rpk: add log-start-offset to group describe; update franz deps
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/group/describe.go
  tests/rptest/clients/rpk.py
  tests/rptest/tests/rpk_group_test.py
Labels: area/rpk

#18789 Improve logging around topic creation and update topic properties events
  src/v/kafka/server/handlers/configs/config_utils.h
  src/v/kafka/server/handlers/create_topics.cc
Labels: area/redpanda

#18837 Add start/end times to self test results
  src/go/rpk/pkg/adminapi/api_debug.go
  src/go/rpk/pkg/cli/cluster/selftest/selftest_test.go
  src/go/rpk/pkg/cli/cluster/selftest/status.go
  src/v/cluster/self_test/diskcheck.cc
  src/v/cluster/self_test/metrics.h
  src/v/cluster/self_test/netcheck.cc
  src/v/cluster/self_test_rpc_types.h
  src/v/redpanda/admin/api-doc/debug.json
  src/v/redpanda/admin/server.cc
Labels: area/rpk, area/redpanda

#18850 [v24.1.x] rpk: display float values as float in cluster config get
  src/go/rpk/pkg/cli/cluster/config/get.go
  tests/rptest/tests/cluster_config_test.py
Labels: area/rpk, kind/backport

#18598 segment_appender: truncate in addition to allocate
  src/go/rpk/pkg/cli/debug/bundle/bundle.go
  src/v/storage/segment_appender.cc
  src/v/storage/tests/log_retention_tests.cc
  src/v/storage/tests/log_segment_appender_test.cc
  tests/rptest/remote_scripts/compute_storage.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/full_disk_test.py
  tests/rptest/utils/si_utils.py
Labels: area/rpk, area/redpanda

#18851 [v23.2.x] rpk: display float values as float in cluster config get
  src/go/rpk/pkg/cli/cluster/config/get.go
  tests/rptest/tests/cluster_config_test.py
Labels: area/rpk, kind/backport

#18849 [v23.3.x] rpk: display float values as float in cluster config get
  src/go/rpk/pkg/cli/cluster/config/get.go
  tests/rptest/tests/cluster_config_test.py
Labels: area/rpk, kind/backport

#18854 [v24.1.x] cst: manual backport of chunk download changes PR 18278
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/segment_chunk_api.cc
  src/v/cloud_storage/segment_chunk_api.h
  src/v/cloud_storage/tests/CMakeLists.txt
  src/v/cloud_storage/tests/remote_segment_test.cc
  src/v/cloud_storage/tests/s3_imposter.cc
  src/v/cloud_storage/tests/s3_imposter.h
  src/v/cloud_storage/tests/segment_chunk_hydration_test.cc
  src/v/cloud_storage/tests/segment_chunk_test.cc
  tests/rptest/tests/cloud_storage_chunk_read_path_test.py
Labels: area/redpanda

#18788 CORE-2699 Quotas: act on quotas from `quota_store`
  src/v/cluster/client_quota_store.h
  src/v/cluster/tests/client_quota_store_test.cc
  src/v/kafka/server/client_quota_translator.cc
  src/v/kafka/server/client_quota_translator.h
  src/v/kafka/server/tests/client_quota_translator_test.cc
Labels: area/redpanda

#18736 cpu_profiler: prealloc result buffers
  src/v/redpanda/admin/debug.cc
  src/v/resource_mgmt/cpu_profiler.cc
Labels: area/redpanda

#18581 Node-local shard assignments for created/moved partitions
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/controller.json
  src/v/cluster/errc.h
  src/v/cluster/scheduling/allocation_node.cc
  src/v/cluster/scheduling/allocation_node.h
  src/v/cluster/scheduling/allocation_state.cc
  src/v/cluster/scheduling/allocation_state.h
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/cluster/scheduling/partition_allocator.h
  src/v/cluster/service.cc
  src/v/cluster/service.h
  src/v/cluster/shard_balancer.cc
  src/v/cluster/shard_balancer.h
  src/v/cluster/tests/allocation_bench.cc
  src/v/cluster/tests/partition_allocator_fixture.h
  src/v/cluster/tests/partition_allocator_tests.cc
  src/v/cluster/tests/partition_balancer_planner_fixture.h
  src/v/cluster/tests/shard_placement_table_test.cc
  src/v/cluster/tests/topic_table_fixture.h
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
  src/v/cluster/types.h
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/kafka/server/errors.h
  src/v/migrations/CMakeLists.txt
  src/v/migrations/feature_migrator.cc
  src/v/migrations/feature_migrator.h
  src/v/migrations/migrators.h
  src/v/migrations/shard_placement_migrator.cc
  src/v/migrations/shard_placement_migrator.h
  src/v/redpanda/admin/api-doc/partition.json
  src/v/redpanda/admin/partition.cc
  src/v/redpanda/admin/server.h
  src/v/redpanda/application.cc
  tests/rptest/services/admin.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/controller_log_limiting_test.py
  tests/rptest/tests/partition_move_interruption_test.py
  tests/rptest/tests/partition_movement.py
  tests/rptest/tests/partition_movement_test.py
  tests/rptest/tests/shard_placement_test.py
  tests/rptest/tests/topic_delete_test.py
Labels: area/redpanda

#18840 [v24.1.x] Added `vectorized_raft_learners_gap_bytes` metric
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/group_manager.cc
  src/v/raft/group_manager.h
  tests/rptest/tests/nodes_decommissioning_test.py
Labels: area/redpanda, kind/backport

#18756 cloud: Add config options to trigger cache trim
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/cache_service.h
  src/v/cloud_storage/tests/cache_test.cc
  src/v/cloud_storage/tests/cache_test_fixture.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

#18836 cluster: enable controller log eviction
  src/v/cluster/raft0_utils.h
Labels: area/redpanda

#18742 [v23.3.x] [CORE-60] Schema Registry: Support `/mode`
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/api/api-doc/schema_registry_definitions.def.json
  src/v/pandaproxy/api/api-doc/schema_registry_header.json
  src/v/pandaproxy/auth_utils.h
  src/v/pandaproxy/error.cc
  src/v/pandaproxy/error.h
  src/v/pandaproxy/schema_registry/api.cc
  src/v/pandaproxy/schema_registry/configuration.cc
  src/v/pandaproxy/schema_registry/configuration.h
  src/v/pandaproxy/schema_registry/error.cc
  src/v/pandaproxy/schema_registry/error.h
  src/v/pandaproxy/schema_registry/errors.h
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/handlers.h
  src/v/pandaproxy/schema_registry/requests/mode.h
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/seq_writer.h
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/storage.h
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/compatibility_3rdparty.cc
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
  src/v/pandaproxy/schema_registry/test/compatibility_store.cc
  src/v/pandaproxy/schema_registry/test/consume_to_store.cc
  src/v/pandaproxy/schema_registry/test/sharded_store.cc
  src/v/pandaproxy/schema_registry/types.h
  tests/rptest/services/redpanda.py
  tests/rptest/services/templates/redpanda.yaml
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, area/schema-registry, kind/backport

#19314 kafka/quotas: Improve API for entity_key
  src/v/cluster/client_quota_serde.h
  src/v/cluster/tests/client_quota_store_test.cc
  src/v/kafka/server/client_quota_translator.cc
  src/v/kafka/server/tests/client_quota_translator_test.cc
Labels: area/redpanda

#18684 transactions: port log state into producer state struct
  src/v/cloud_storage/tests/tx_range_manifest_test.cc
  src/v/cluster/fwd.h
  src/v/cluster/producer_state.cc
  src/v/cluster/producer_state.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/rm_stm_types.cc
  src/v/cluster/rm_stm_types.h
  src/v/cluster/tests/producer_state_tests.cc
  src/v/cluster/tests/randoms.h
  src/v/cluster/tests/rm_stm_tests.cc
  src/v/config/configuration.cc
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/kafka/server/handlers/describe_producers.cc
  src/v/kafka/server/replicated_partition.cc
  src/v/model/record.h
  tests/rptest/transactions/transactions_test.py
Labels: area/redpanda

#18857 gha: update to use aws sm
  .github/workflows/backport-command.yml
  .github/workflows/backport-on-merge.yml
  .github/workflows/buildkite-slash-commands.yml
  .github/workflows/cloud-installpack-bk-trigger.yml
  .github/workflows/comment_added.yml
  .github/workflows/jira_issue_manage.yml
  .github/workflows/lint-cpp.yml
  .github/workflows/lint-includes.yml
  .github/workflows/lint-python.yml
  .github/workflows/lint-sh.yml
  .github/workflows/old-backports.yml
  .github/workflows/packages-created.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/promote.yml
  .github/workflows/render-draft-release-notes.yml
  .github/workflows/rp-storage-tool-checks.yml
  .github/workflows/slack-messages.yml
  .github/workflows/slash-commands.yml
  .github/workflows/transform-sdk-release.yml
Labels: area/build

#18852 k/fetch: do not return aborted txs for read uncommitted requests
  src/v/kafka/server/handlers/fetch.cc
  tests/rptest/services/kgo_verifier_services.py
  tests/rptest/tests/e2e_topic_recovery_test.py
  tests/rptest/tests/shadow_indexing_tx_test.py
Labels: area/redpanda

#18832 CORE-3078 Quotas: scale up cluster configs by core count
  src/v/kafka/server/client_quota_translator.cc
  src/v/kafka/server/tests/client_quota_test_helpers.h
  src/v/kafka/server/tests/client_quota_translator_test.cc
  src/v/kafka/server/tests/quota_manager_test.cc
  tests/rptest/tests/cluster_quota_test.py
Labels: area/redpanda

#18758 cloud_storage: concurrent directory walking
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/cache_service.h
  src/v/cloud_storage/recursive_directory_walker.cc
  src/v/cloud_storage/recursive_directory_walker.h
  src/v/cloud_storage/tests/cache_test_fixture.h
  src/v/cloud_storage/tests/cloud_storage_fixture.h
  src/v/cloud_storage/tests/directory_walker_test.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/application.cc
Labels: area/redpanda

#19470 [v24.1.x] gha: update to use aws sm
  .github/workflows/backport-command.yml
  .github/workflows/backport-on-merge.yml
  .github/workflows/buildkite-slash-commands.yml
  .github/workflows/cloud-installpack-bk-trigger.yml
  .github/workflows/comment_added.yml
  .github/workflows/jira_issue_manage.yml
  .github/workflows/lint-cpp.yml
  .github/workflows/lint-includes.yml
  .github/workflows/lint-python.yml
  .github/workflows/lint-sh.yml
  .github/workflows/old-backports.yml
  .github/workflows/packages-created.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/promote.yml
  .github/workflows/render-draft-release-notes.yml
  .github/workflows/rp-storage-tool-checks.yml
  .github/workflows/slack-messages.yml
  .github/workflows/slash-commands.yml
  .github/workflows/transform-sdk-release.yml
Labels: area/build

#19472 [v23.2.x] gha: update to use aws sm
  .github/workflows/backport-command.yml
  .github/workflows/backport-on-merge.yml
  .github/workflows/buildkite-slash-commands.yml
  .github/workflows/cloud-installpack-bk-trigger.yml
  .github/workflows/kics-iac.yml
  .github/workflows/old-backports.yml
  .github/workflows/packages-created.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/promote.yml
  .github/workflows/render-draft-release-notes.yml
  .github/workflows/rp-storage-tool-checks.yml
  .github/workflows/slack-messages.yml
  .github/workflows/slash-commands.yml
Labels: area/build

#19625 gha/labeler: fix format of yml file for v5
  .github/labeler.yml
Labels: area/build

#19471 [v23.3.x] gha: update to use aws sm
  .github/workflows/backport-command.yml
  .github/workflows/backport-on-merge.yml
  .github/workflows/buildkite-slash-commands.yml
  .github/workflows/cloud-installpack-bk-trigger.yml
  .github/workflows/kics-iac.yml
  .github/workflows/lint-cpp.yml
  .github/workflows/lint-python.yml
  .github/workflows/lint-sh.yml
  .github/workflows/old-backports.yml
  .github/workflows/packages-created.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/promote.yml
  .github/workflows/render-draft-release-notes.yml
  .github/workflows/rp-storage-tool-checks.yml
  .github/workflows/slack-messages.yml
  .github/workflows/slash-commands.yml
Labels: area/build

#19790 s/disk_log_impl: don't prefix-truncate empty segments
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda

#19784 chore: minor updates for build system improvements
  src/v/bytes/CMakeLists.txt
  src/v/bytes/bytes.cc
  src/v/bytes/iobuf.cc
  src/v/bytes/iostream.cc
  src/v/bytes/scattered_message.cc
  src/v/cluster/tests/randoms.h
  src/v/container/include/container/chunked_hash_map.h
  src/v/container/include/container/interval_set.h
  src/v/container/tests/bench_utils.h
  src/v/container/tests/interval_set_test.cc
  src/v/container/tests/vector_bench.cc
  src/v/serde/test/serde_test.cc
  src/v/ssx/include/ssx/thread_worker.h
  src/v/storage/mvlog/segment_reader.cc
  src/v/storage/mvlog/tests/active_segment_test.cc
  src/v/test_utils/gtest_utils.cc
  src/v/test_utils/randoms.h
Labels: area/redpanda

#19794 c/p_balancer: fixed possible overflow of final used ration
  src/v/cluster/partition_balancer_types.h
Labels: area/redpanda

#19793 gha: fix backport-command type-branch job to retrieve aws sm token
  .github/workflows/backport-command.yml
Labels: area/build

#18855 [v23.3.x] Fixed possible log discrepancy when using forced reconfiguration
  src/v/cluster/controller_backend.cc
  src/v/raft/configuration_manager.cc
  src/v/raft/configuration_manager.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
Labels: area/redpanda, kind/backport

#19805 [v23.3.x] c/p_balancer: fixed possible overflow of final used ration
  src/v/cluster/partition_balancer_types.h
Labels: kind/backport

#19801 [v24.1.x] s/disk_log_impl: don't prefix-truncate empty segments
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda, kind/backport

#19799 [v24.1.x] gha: fix backport-command type-branch job to retrieve aws sm token
  .github/workflows/backport-command.yml
Labels: area/build, kind/backport

#19808 [v24.1.x] t/fetch_test: wait longer for leadership after stepping down
  src/v/kafka/server/tests/fetch_test.cc
Labels: area/redpanda, kind/backport

#19795 CORE-2074 kafka/quotas: prepare for handler implementations
  src/v/cluster/client_quota_serde.cc
  src/v/cluster/client_quota_serde.h
  src/v/cluster/client_quota_store.cc
  src/v/cluster/tests/client_quota_store_test.cc
  src/v/kafka/CMakeLists.txt
  src/v/kafka/protocol/types.h
  src/v/kafka/server/handlers/client_quotas.cc
  src/v/kafka/server/handlers/describe_client_quotas.cc
  tests/rptest/clients/rpk.py
Labels: area/redpanda

#19818 [CORE-4180] schema_registry/json: Initial commits for JSON Schema
  src/v/pandaproxy/schema_registry/CMakeLists.txt
  src/v/pandaproxy/schema_registry/json.cc
  src/v/pandaproxy/schema_registry/json.h
  src/v/pandaproxy/schema_registry/test/CMakeLists.txt
  src/v/pandaproxy/schema_registry/test/test_json_schema.cc
  src/v/pandaproxy/schema_registry/types.h
Labels: area/redpanda, area/schema-registry

#19666 cloud_storage: re-adopt topic_manifest
  src/v/cloud_storage/CMakeLists.txt
  src/v/cluster/CMakeLists.txt
  src/v/cluster/remote_topic_properties.cc
  src/v/cluster/remote_topic_properties.h
  src/v/cluster/topic_configuration.cc
  src/v/cluster/topic_configuration.h
  src/v/cluster/topic_properties.cc
  src/v/cluster/topic_properties.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
Labels: area/redpanda

#19792 CORE-2426 support ossl cipher strings
  src/v/cloud_storage_clients/configuration.cc
  src/v/config/CMakeLists.txt
  src/v/config/tls_config.cc
  src/v/config/tls_config.h
  src/v/rpc/rpc_utils.cc
  tests/rptest/services/tls.py
  tests/rptest/tests/crl_test.py
Labels: area/build, area/redpanda

#19814 [v23.3.x] t/fetch_test: wait longer for leadership after stepping down
  src/v/kafka/server/tests/fetch_test.cc
Labels: area/redpanda, kind/backport

#19791 [v23.3.x] [CORE-2845]: Ensure create_acls requests return an error when resources as topics are non valid kafka topic names
  src/v/kafka/server/handlers/details/security.h
  tests/rptest/clients/rpk.py
  tests/rptest/tests/acls_test.py
Labels: kind/backport

#19812 [v23.2.x] t/fetch_test: wait longer for leadership after stepping down
  src/v/kafka/server/tests/fetch_test.cc
Labels: area/redpanda, kind/backport

#19473 rpk: Improve k8s bundle errors + better admin API fallback
  src/go/rpk/pkg/cli/debug/bundle/bundle_k8s_linux.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_linux.go
Labels: kind/enhance, area/rpk

#18497 Mute just restarted nodes in leader_balancer
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/cluster/scheduling/leader_balancer.h
  tests/rptest/tests/topic_recovery_test.py
Labels: area/redpanda

#19624 [v23.3.x] cloud: Add config options to trigger cache trim
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/cache_service.h
  src/v/cloud_storage/tests/cache_test.cc
  src/v/cloud_storage/tests/cache_test_fixture.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/property.h
Labels: area/redpanda

#19803 [v24.1.x] c/p_balancer: fixed possible overflow of final used ration
  src/v/cluster/partition_balancer_types.h
Labels: area/redpanda, kind/backport

#19820 Respect target local retention settings when moving cloud enabled partition replicas
  src/v/cluster/controller.cc
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
  tests/rptest/tests/scaling_up_test.py
Labels: area/redpanda

#19834 [v24.1.x] Respect target local retention settings when moving cloud enabled partition replicas
  src/v/cluster/controller.cc
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
  tests/rptest/tests/scaling_up_test.py
Labels: area/redpanda, kind/backport

#19835 [v23.3.x] Respect target local retention settings when moving cloud enabled partition replicas
  src/v/cluster/controller.cc
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
  tests/rptest/tests/scaling_up_test.py
Labels: area/redpanda, kind/backport

#19817 storage/tests: fix `max_step_size()` in `test_offset_range_size_incremental`
  src/v/storage/disk_log_impl.cc
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

#19832 [v24.1.x] Mute just restarted nodes in leader_balancer
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/cluster/scheduling/leader_balancer.h
  tests/rptest/tests/topic_recovery_test.py
Labels: area/redpanda, kind/backport

#19796 [CORE-3180] json schema registry validate input schema
  src/v/json/schema.h
  src/v/pandaproxy/schema_registry/json.cc
  src/v/pandaproxy/schema_registry/test/test_json_schema.cc
Labels: area/redpanda

#19838 [v23.3.x] s/disk_log_impl: don't prefix-truncate empty segments
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda, kind/backport

#19783 producer_state: add request::set_error and make it idempotent
  src/v/cluster/producer_state.cc
  src/v/cluster/producer_state.h
  src/v/cluster/rm_stm.cc
Labels: area/redpanda

#19815 [v24.1.x] cloud_storage: concurrent directory walking
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/cache_service.h
  src/v/cloud_storage/recursive_directory_walker.cc
  src/v/cloud_storage/recursive_directory_walker.h
  src/v/cloud_storage/tests/cache_test_fixture.h
  src/v/cloud_storage/tests/cloud_storage_fixture.h
  src/v/cloud_storage/tests/directory_walker_test.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/application.cc
Labels: area/redpanda, kind/backport

#19313 [v24.1.x] cpu_profiler: prealloc result buffers
  src/v/redpanda/admin/debug.cc
  src/v/resource_mgmt/cpu_profiler.cc
Labels: area/redpanda, kind/backport

#19846 storage: use uint64_t for batch type map
  src/v/storage/file_sanitizer.h
  src/v/storage/segment_appender.cc
  src/v/storage/segment_appender.h
Labels: area/redpanda

#19848 [v23.3.x] tests: use partition size metrics in test verifying local retention move
  tests/rptest/tests/scaling_up_test.py
Labels: kind/backport

#19847 [v24.1.x] tests: use partition size metrics in test verifying local retention move
  tests/rptest/tests/scaling_up_test.py
Labels: kind/backport

#19816 [v23.3.x] cloud_storage: concurrent directory walking
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/cache_service.h
  src/v/cloud_storage/recursive_directory_walker.cc
  src/v/cloud_storage/recursive_directory_walker.h
  src/v/cloud_storage/tests/cache_test_fixture.h
  src/v/cloud_storage/tests/cloud_storage_fixture.h
  src/v/cloud_storage/tests/directory_walker_test.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/application.cc
Labels: kind/backport

#19852 CORE-2715 Quotas: add trace-level logger
  src/v/kafka/protocol/logger.cc
  src/v/kafka/server/client_quota_translator.cc
  src/v/kafka/server/client_quota_translator.h
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/logger.h
  src/v/kafka/server/quota_manager.cc
  src/v/kafka/server/tests/client_quota_translator_test.cc
Labels: area/redpanda

#19823 golang SDK: Introduce serde opts for subject auto(ish)-creation
  src/transform-sdk/go/transform/internal/testdata/schema-registry/transform.go
  src/transform-sdk/go/transform/sr/serde.go
  src/transform-sdk/go/transform/sr/serde_test.go
  src/transform-sdk/rust/examples/schema_registry/main.rs
  src/transform-sdk/tests/integration_test.go
Labels: area/wasm

#19822 CORE-2073 quotas: implement alter/describe quotas
  src/v/cluster/client_quota_serde.h
  src/v/kafka/server/handlers/client_quotas.cc
  tests/rptest/clients/kcl.py
  tests/rptest/tests/quota_management_test.py
Labels: area/redpanda

#19867 wasm/tests: Fix SR unit test
  src/transform-sdk/go/transform/internal/testdata/schema-registry/transform.go
Labels: area/redpanda, area/wasm

#19837 Minor refactoring of transactional coordinator code
  src/v/cluster/CMakeLists.txt
  src/v/cluster/tests/tm_stm_tests.cc
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/cluster/tm_stm_cache.cc
  src/v/cluster/tm_stm_cache.h
  src/v/cluster/tm_stm_types.cc
  src/v/cluster/tm_stm_types.h
  src/v/cluster/tx_gateway.cc
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/tx_gateway_frontend.h
  src/v/kafka/server/server.cc
  src/v/model/record.h
  src/v/redpanda/admin/partition.cc
  src/v/redpanda/admin/transaction.cc
Labels: area/redpanda

#19872 CORE-2700 quotas: validate with non-rpk clients
  src/v/kafka/server/handlers/client_quotas.cc
  tests/rptest/tests/quota_management_test.py
Labels: area/redpanda

#19843 rpk: more debug bundle improvements
  src/go/rpk/pkg/cli/debug/bundle/bundle.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_all.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_linux.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_test.go
  tests/rptest/tests/rpk_cluster_test.py
Labels: area/rpk

#19866 [CORE-4204] schema_registry: Improve handling of Accept and Content-Type
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/api/api-doc/schema_registry_header.json
  src/v/pandaproxy/schema_registry/handlers.cc
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda

#19851 [CORE-3183] schema registry json compatibility checks for primitive types
  src/v/pandaproxy/schema_registry/errors.h
  src/v/pandaproxy/schema_registry/json.cc
  src/v/pandaproxy/schema_registry/json.h
  src/v/pandaproxy/schema_registry/test/test_json_schema.cc
Labels: area/redpanda

#19875 CORE-4200 quotas: watch quota store changes
  src/v/cluster/client_quota_store.cc
  src/v/cluster/client_quota_store.h
  src/v/kafka/server/client_quota_translator.cc
  src/v/kafka/server/quota_manager.cc
  src/v/kafka/server/tests/quota_manager_test.cc
Labels: area/redpanda

#19878 [v24.1.x] rpk: Improve k8s bundle errors + better admin API fallback
  src/go/rpk/pkg/cli/debug/bundle/bundle_k8s_linux.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_linux.go
Labels: area/rpk, kind/backport

#19874 [v23.3.x] Added `vectorized_raft_learners_gap_bytes` metric
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/group_manager.cc
  src/v/raft/group_manager.h
  tests/rptest/tests/nodes_decommissioning_test.py
Labels: area/redpanda, kind/backport

#19873 Refined leadership changed metrics
  src/v/raft/consensus.cc
  src/v/raft/probe.cc
  tests/rptest/tests/raft_availability_test.py
Labels: area/redpanda

#19879 [v23.3.x] [CORE-4204] schema_registry: Improve handling of Accept and Content-Type
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/api/api-doc/schema_registry_header.json
  src/v/pandaproxy/schema_registry/handlers.cc
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, kind/backport

#19890 [CORE-3185] schema registry - json compatibility checks for "enum"
  src/v/pandaproxy/schema_registry/json.cc
  src/v/pandaproxy/schema_registry/test/test_json_schema.cc
Labels: area/redpanda

#19885 [v24.1.x] rpk: more debug bundle improvements
  src/go/rpk/pkg/cli/debug/bundle/bundle.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_all.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_linux.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_test.go
  tests/rptest/tests/rpk_cluster_test.py
Labels: area/rpk, kind/backport

#19839 rpk: group describe supporting regex
  src/go/rpk/pkg/cli/group/describe.go
  src/go/rpk/pkg/cli/topic/utils.go
  src/go/rpk/pkg/cli/topic/utils_test.go
  src/go/rpk/pkg/utils/regex_filter.go
  src/go/rpk/pkg/utils/regex_filter_test.go
Labels: area/rpk

#19892 [v23.3.x] Refined leadership changed metrics
  src/v/raft/consensus.cc
  src/v/raft/probe.cc
  tests/rptest/tests/raft_availability_test.py
Labels: area/redpanda, kind/backport

#19861 CORE-2715 Quotas: add metrics on client throttling
  src/v/kafka/server/client_quota_translator.h
  src/v/kafka/server/quota_manager.cc
  src/v/kafka/server/quota_manager.h
  src/v/utils/log_hist.cc
  src/v/utils/log_hist.h
  tests/rptest/tests/cluster_quota_test.py
Labels: area/redpanda

#19898 [v23.3.x] rpk: group describe supporting regex
  src/go/rpk/pkg/cli/group/describe.go
  src/go/rpk/pkg/cli/topic/utils.go
  src/go/rpk/pkg/cli/topic/utils_test.go
  src/go/rpk/pkg/utils/regex_filter.go
  src/go/rpk/pkg/utils/regex_filter_test.go
Labels: area/rpk, kind/backport

#19821 CORE-2443 FIPS metrics
  src/v/cluster/cluster_utils.cc
  src/v/cluster/controller_probe.cc
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/config/types.h
  src/v/model/fundamental.h
  src/v/model/metadata.h
  src/v/model/model.cc
  src/v/redpanda/admin/api-doc/broker.json
  src/v/redpanda/admin/server.cc
  src/v/redpanda/application.cc
  tests/rptest/services/redpanda.py
  tests/rptest/tests/redpanda_startup_test.py
Labels: area/redpanda

#19891 [v24.1.x] Refined leadership changed metrics
  src/v/raft/consensus.cc
  src/v/raft/probe.cc
  tests/rptest/tests/raft_availability_test.py
Labels: area/redpanda, kind/backport

#19937 kafka: fix timequery failing for empty topics
  src/v/kafka/server/handlers/list_offsets.cc
  tests/rptest/tests/timequery_test.py
Labels: area/redpanda

#19942 CORE-4264: cmake: Change LD_LIBRARY_PATH for OpenSSL
  cmake/testing.cmake
  src/v/crypto/tests/CMakeLists.txt
Labels: area/build, area/redpanda

#19950 [v24.1.x] kafka: fix timequery failing for empty topics
  src/v/kafka/server/handlers/list_offsets.cc
  tests/rptest/tests/timequery_test.py
Labels: area/redpanda, kind/backport

#19947 rpk registry: accept JSON files when creating schemas
  src/go/rpk/pkg/cli/registry/schema/check_compatibility.go
  src/go/rpk/pkg/cli/registry/schema/create.go
  src/go/rpk/pkg/cli/registry/schema/get.go
  src/go/rpk/pkg/cli/registry/schema/schema.go
Labels: area/rpk

#19896 [v24.1.x] rpk: group describe supporting regex
  src/go/rpk/pkg/cli/group/describe.go
  src/go/rpk/pkg/cli/topic/utils.go
  src/go/rpk/pkg/cli/topic/utils_test.go
  src/go/rpk/pkg/utils/regex_filter.go
  src/go/rpk/pkg/utils/regex_filter_test.go
Labels: area/rpk, kind/backport

#19956 metrics: move prometheus sanitizer into metrics
  src/v/archival/probe.cc
  src/v/cloud_roles/probe.cc
  src/v/cloud_storage/cache_probe.cc
  src/v/cloud_storage/read_path_probes.cc
  src/v/cloud_storage/remote_probe.cc
  src/v/cloud_storage_clients/client_probe.cc
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_probe.cc
  src/v/cluster/members_backend.cc
  src/v/cluster/partition_balancer_state.cc
  src/v/cluster/partition_probe.cc
  src/v/cluster/producer_state_manager.cc
  src/v/cluster/rm_stm.cc
  src/v/cluster/scheduling/leader_balancer_probe.cc
  src/v/cluster/topic_table_probe.cc
  src/v/kafka/group_probe.h
  src/v/kafka/latency_probe.h
  src/v/kafka/sasl_probe.h
  src/v/kafka/server/fetch_session_cache.cc
  src/v/kafka/server/handlers/handler_probe.cc
  src/v/kafka/server/quota_manager.cc
  src/v/kafka/server/snc_quota_manager.cc
  src/v/metrics/prometheus_sanitize.h
  src/v/net/probes.cc
  src/v/net/server.cc
  src/v/pandaproxy/probe.cc
  src/v/raft/consensus.cc
  src/v/raft/coordinated_recovery_throttle.cc
  src/v/raft/group_manager.cc
  src/v/raft/probe.cc
  src/v/raft/recovery_scheduler.cc
  src/v/redpanda/application.cc
  src/v/resource_mgmt/available_memory.cc
  src/v/resource_mgmt/scheduling_groups_probe.h
  src/v/resource_mgmt/storage.cc
  src/v/rpc/rpc_compiler.py
  src/v/security/audit/probes.cc
  src/v/security/authorizer.cc
  src/v/security/oidc_service.cc
  src/v/storage/backlog_controller.cc
  src/v/storage/kvstore.cc
  src/v/storage/probe.cc
  src/v/transform/logging/probes.cc
  src/v/transform/probe.cc
  src/v/wasm/engine_probe.cc
  src/v/wasm/transform_probe.cc
  src/v/wasm/wasmtime.cc
Labels: area/redpanda, area/wasm

#19951 [v23.3.x] kafka: fix timequery failing for empty topics
  src/v/kafka/server/handlers/list_offsets.cc
  tests/rptest/tests/timequery_test.py
Labels: area/redpanda, kind/backport

#19961 [v23.3.x] tests: fixed test validating disk size when moving with local retention
  tests/rptest/tests/scaling_up_test.py
Labels: kind/backport

#19963 [v24.1.x] tests: fixed test validating disk size when moving with local retention
  tests/rptest/tests/scaling_up_test.py
Labels: kind/backport

#19940 CORE-4269 Quotas: add latency benchmarks
  src/v/kafka/server/tests/CMakeLists.txt
  src/v/kafka/server/tests/quota_manager_bench.cc
Labels: area/redpanda

#19965 [CORE-4729] schema_registry: Wire up JSON Schema support
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/test/get_schema_types.cc
  src/v/pandaproxy/schema_registry/types.h
  tests/rptest/tests/rpk_registry_test.py
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, area/schema-registry

#19899 raft: fix changing raft_election_timeout_ms without restart
  src/v/raft/tests/jitter_tests.cc
  src/v/raft/timeout_jitter.h
Labels: area/redpanda

#19944 [CORE-3008] schema_registry: Improve handling of deleted schema
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/store.h
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, area/schema-registry

#19849 Transaction related types cleanup
  src/v/cluster/CMakeLists.txt
  src/v/cluster/producer_state.cc
  src/v/cluster/rm_group_proxy.h
  src/v/cluster/rm_partition_frontend.cc
  src/v/cluster/rm_partition_frontend.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/rm_stm_tests.cc
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/cluster/tests/tx_compaction_utils.h
  src/v/cluster/tx_errc.cc
  src/v/cluster/tx_errc.h
  src/v/cluster/tx_gateway.json
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/tx_gateway_frontend.h
  src/v/cluster/tx_protocol_types.cc
  src/v/cluster/tx_protocol_types.h
  src/v/cluster/tx_topic_manager.cc
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/compat/abort_group_tx_compat.h
  src/v/compat/abort_group_tx_generator.h
  src/v/compat/abort_tx_generator.h
  src/v/compat/begin_group_tx_generator.h
  src/v/compat/begin_tx_generator.h
  src/v/compat/cluster_json.h
  src/v/compat/commit_group_tx_generator.h
  src/v/compat/commit_tx_generator.h
  src/v/compat/init_tm_tx_generator.h
  src/v/compat/try_abort_generator.h
  src/v/compat/tx_gateway_generator.h
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_metadata.h
  src/v/kafka/server/group_router.cc
  src/v/kafka/server/handlers/describe_transactions.cc
  src/v/kafka/server/rm_group_frontend.cc
  src/v/kafka/server/rm_group_frontend.h
  src/v/kafka/server/server.cc
  src/v/redpanda/admin/server.cc
  tests/rptest/transactions/tx_admin_api_test.py
Labels: area/redpanda

#19972 [v23.3.x] [CORE-3008] schema_registry: Improve handling of deleted schema
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/store.h
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, kind/backport

#19973 [v24.1.x] [CORE-3008] schema_registry: Improve handling of deleted schema
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/store.h
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, kind/backport

#19970 storage/tests: fix `min_size` value in `test_offset_range_size_incremental`
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

#19939 ssx: create single_sharded<Service> template
  src/v/ssx/include/ssx/single_sharded.h
  src/v/ssx/tests/CMakeLists.txt
  src/v/ssx/tests/single_sharded.cc
Labels: area/redpanda

#19941 CORE-4269 Quotas: avoid map copies when adding new quota trackers
  src/v/kafka/server/quota_manager.cc
  src/v/kafka/server/quota_manager.h
  src/v/kafka/server/tests/quota_manager_bench.cc
  src/v/kafka/server/tests/quota_manager_test.cc
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
Labels: area/redpanda

#20127 Transforms: Fix deploy-time timequery bug
  src/v/transform/api.cc
  src/v/transform/io.h
  src/v/transform/tests/test_fixture.cc
  src/v/transform/tests/test_fixture.h
  src/v/transform/transform_processor.cc
  tests/rptest/tests/data_transforms_test.py
Labels: area/redpanda, area/wasm

#19948 rpk: improve help text and minor bug fix
  src/go/rpk/pkg/cli/container/start.go
Labels: area/rpk

#19943 CORE-4199 split ossl build
  src/v/crypto/CMakeLists.txt
Labels: area/build, area/redpanda

#20138 [v24.1.x] rpk: improve help text and minor bug fix
  src/go/rpk/pkg/cli/container/start.go
Labels: area/rpk, kind/backport

#20129 CORE-4263 Removed any use of GnuTLS
  cmake/dependencies.cmake
  install-dependencies.sh
  licenses/third_party.md
  src/CMakeLists.txt
  src/v/cloud_roles/refresh_credentials.cc
  src/v/cloud_roles/tests/signature_test.cc
  src/v/cloud_storage_clients/configuration.cc
  src/v/cloud_storage_clients/s3_client.cc
  src/v/cloud_storage_clients/test_client/abs_test_client_main.cc
  src/v/cloud_storage_clients/test_client/s3_test_client_main.cc
  src/v/config/tls_config.cc
  src/v/crypto/tests/CMakeLists.txt
  src/v/crypto/tests/crypto_bench.cc
  src/v/net/include/net/tls.h
  src/v/storage/key_offset_map.h
Labels: area/build, area/redpanda

#20140 [v24.1.x] CORE-4199 split ossl build
  src/v/crypto/CMakeLists.txt
Labels: area/redpanda, kind/backport

#20144 cloud_storage: path-related non-functional changes
  src/v/archival/adjacent_segment_run.cc
  src/v/archival/adjacent_segment_run.h
  src/v/archival/types.cc
  src/v/archival/types.h
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/cluster/CMakeLists.txt
Labels: area/redpanda

#19964 Always use the latest configuration for followers metadata
  src/v/raft/consensus.cc
  src/v/raft/tests/basic_raft_fixture_test.cc
  src/v/raft/tests/raft_fixture.h
Labels: area/redpanda

#18790 Refactored handling of consumer group transactions in Redpanda
  src/v/kafka/group_probe.h
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_metadata.cc
  src/v/kafka/server/group_metadata.h
  src/v/kafka/server/group_recovery_consumer.cc
  src/v/kafka/server/group_stm.cc
  src/v/kafka/server/group_stm.h
  src/v/kafka/server/tests/consumer_group_recovery_test.cc
  tests/rptest/transactions/tx_atomic_produce_consume_test.py
  tests/rptest/transactions/tx_verifier_test.py
Labels: area/redpanda

#20146 [CORE-3245] schema_registry: Support -1 as latest for get_subject_version
  src/v/pandaproxy/schema_registry/handlers.cc
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, area/schema-registry

#20150 [v23.3.x] [CORE-3245] schema_registry: Support -1 as latest for get_subject_version
  src/v/pandaproxy/schema_registry/handlers.cc
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, kind/backport

#19971 CORE-3046 Quotas: implement deprecated notice for quota configs
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/client_quota_translator.cc
  src/v/kafka/server/client_quota_translator.h
  src/v/kafka/server/tests/client_quota_translator_test.cc
  tests/rptest/tests/client_quota_deprecated_configs_test.py
Labels: area/redpanda

#19864 Node-local core assignment: rebalancing
  src/v/cluster/controller.cc
  src/v/cluster/feature_manager.cc
  src/v/cluster/shard_balancer.cc
  src/v/cluster/shard_balancer.h
  src/v/cluster/shard_placement_table.cc
  src/v/cluster/shard_placement_table.h
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/admin/api-doc/partition.json
  src/v/redpanda/admin/partition.cc
  src/v/redpanda/admin/server.h
  tests/rptest/services/admin.py
  tests/rptest/tests/shard_placement_test.py
  tests/rptest/tests/topic_delete_test.py
  tools/offline_log_viewer/kvstore.py
Labels: area/redpanda

#20145 [CORE-4442] schema_registry: Support subjectPrefix for get_subjects
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/store.h
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, area/schema-registry

#19854 cloud_storage: remove some dead code
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/cloud_storage/tests/partition_manifest_test.cc
Labels: area/redpanda

#18434 [v23.2.x] [CORE-2831] schema_registry: Allow deleted=true for post_subject
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, kind/backport

#20156 [v23.3.x] [CORE-4442] schema_registry: Support subjectPrefix for get_subjects
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/store.h
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, kind/backport

#20149 cloud_storage: add remote path provider
  src/v/cloud_storage/CMakeLists.txt
  src/v/cloud_storage/fwd.h
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/partition_path_utils.cc
  src/v/cloud_storage/partition_path_utils.h
  src/v/cloud_storage/remote_label.h
  src/v/cloud_storage/remote_path_provider.cc
  src/v/cloud_storage/remote_path_provider.h
  src/v/cloud_storage/segment_path_utils.cc
  src/v/cloud_storage/segment_path_utils.h
  src/v/cloud_storage/spillover_manifest.h
  src/v/cloud_storage/tests/CMakeLists.txt
  src/v/cloud_storage/tests/remote_path_provider_test.cc
  src/v/cloud_storage/topic_path_utils.cc
  src/v/cloud_storage/topic_path_utils.h
Labels: area/redpanda

#20136 [CORE-4279] Wire up schema_registry/json
  src/v/pandaproxy/schema_registry/sharded_store.cc
  tests/rptest/clients/serde_client_utils.py
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda

#18514 [CORE-2736] Adds output batch compression for Data Transforms
  src/go/rpk/pkg/adminapi/api_transform.go
  src/go/rpk/pkg/cli/transform/deploy.go
  src/go/rpk/pkg/cli/transform/list.go
  src/go/rpk/pkg/cli/transform/list_test.go
  src/go/rpk/pkg/cli/transform/project/project.go
  src/v/cloud_storage/topic_manifest.cc
  src/v/model/model.cc
  src/v/model/tests/lexical_cast_tests.cc
  src/v/model/transform.cc
  src/v/model/transform.h
  src/v/redpanda/admin/api-doc/transform.json
  src/v/redpanda/admin/transform.cc
  src/v/transform/api.cc
  src/v/transform/transform_processor.cc
  tests/rptest/clients/rpk.py
  tests/rptest/tests/data_transforms_test.py
Labels: area/rpk, area/redpanda, area/wasm, doc-needed

#19876 archival: add `ntp_archiver::flush()`
  src/v/archival/archival_policy.cc
  src/v/archival/archival_policy.h
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/archival/tests/CMakeLists.txt
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/archival/tests/service_fixture.cc
  src/v/archival/tests/service_fixture.h
  src/v/cloud_storage/tests/s3_imposter.cc
  src/v/http/include/http/tests/http_imposter.h
  src/v/http/tests/http_imposter.cc
Labels: area/redpanda

#20157 http: change `stop()` to `shutdown()` on TLS errors in `client`
  src/v/http/client.cc
Labels: area/redpanda
