Repository redpanda-data/redpanda, pull requests merged in 2024-02, with the labels that each got.

#16403 [v23.3.x] rpk/transform/build: enable SIMD
  src/go/rpk/pkg/cli/transform/build.go
Labels: area/rpk, kind/backport

#16354 cluster: publish total available reclaim size to balancer
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_types.h
  src/v/cluster/partition.h
  src/v/resource_mgmt/storage.cc
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/log.h
Labels: area/redpanda

#16287 Fixed large allocation in `kafka::wait_for_leaders`
  src/v/kafka/server/handlers/topics/topic_utils.cc
  src/v/kafka/server/handlers/topics/topic_utils.h
  tests/rptest/tests/topic_creation_test.py
Labels: area/redpanda

#16421 c/distributed_kv_stm: prevent invalidated iterators during list
  src/v/cluster/distributed_kv_stm.h
  src/v/cluster/tests/distributed_kv_stm_tests.cc
Labels: area/redpanda

#16392 [v23.3.x] kafka/client: Fix for stall during client shutdown
  src/v/kafka/client/produce_partition.h
  src/v/kafka/client/producer.cc
Labels: area/redpanda, kind/backport

#16412 [v23.3.x] rpk registry schema get: add flag to print schemas
  src/go/rpk/pkg/cli/registry/schema/get.go
Labels: area/rpk, kind/backport

#16427 slash-cmd: fix /backport command
  .github/workflows/scripts/backport-command/pr_details.sh
  tests/docker/ducktape-deps/flink
Labels: area/build

#16285 rm_stm: remove mem_state::last_end_tx
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
Labels: area/redpanda

#16407 [v23.2.x] kafka: Wrap call to lexical_cast in try block
  src/v/kafka/server/handlers/configs/config_utils.h
Labels: area/redpanda, kind/backport

#16437 io: misc updates and test helpers
  src/v/io/CMakeLists.txt
  src/v/io/logger.cc
  src/v/io/logger.h
  src/v/io/page.cc
  src/v/io/page.h
  src/v/io/tests/CMakeLists.txt
  src/v/io/tests/common.cc
  src/v/io/tests/common.h
  src/v/io/tests/common_test.cc
  src/v/io/tests/page_test.cc
Labels: area/redpanda

#13927 archival: Add offset_range_size method to the storage::log
  src/v/model/fundamental.h
  src/v/model/timeout_clock.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/log.h
  src/v/storage/readers_cache.cc
  src/v/storage/segment_index.cc
  src/v/storage/segment_index.h
  src/v/storage/tests/storage_e2e_test.cc
  src/v/storage/types.h
Labels: area/redpanda, area/cloud-storage

#16406 [v23.3.x] kafka: Wrap call to lexical_cast in try block
  src/v/kafka/server/handlers/configs/config_utils.h
Labels: area/redpanda, kind/backport

#16410 Return accurate partition count and replication factor in CreateTopics response
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/handlers/topics/types.cc
  tests/rptest/clients/kcl.py
  tests/rptest/tests/topic_creation_test.py
Labels: area/redpanda

#16414 rpk: add `cpu_profile` to `rpk debug bundle`
  src/go/rpk/pkg/adminapi/admin.go
  src/go/rpk/pkg/adminapi/api_debug.go
  src/go/rpk/pkg/cli/debug/bundle/bundle.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_k8s_linux.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_linux.go
  tests/rptest/clients/rpk_remote.py
  tests/rptest/tests/rpk_cluster_test.py
Labels: area/rpk

#16452 [v23.3.x] Return accurate partition count and replication factor in CreateTopics response
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/handlers/topics/types.cc
  tests/rptest/clients/kcl.py
  tests/rptest/tests/topic_creation_test.py
Labels: area/redpanda, kind/backport

#16449 [v23.2.x] Return accurate partition count and replication factor in CreateTopics response
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/handlers/topics/types.cc
  tests/rptest/clients/kcl.py
  tests/rptest/tests/topic_creation_test.py
Labels: area/redpanda, kind/backport

#16432 [v23.3.x] Fixed large allocation in `kafka::wait_for_leaders`
  src/v/kafka/server/handlers/topics/topic_utils.cc
  src/v/kafka/server/handlers/topics/topic_utils.h
  tests/rptest/tests/topic_creation_test.py
Labels: area/redpanda, kind/backport

#16439 [v23.3.x] rptest: Fix s3.copy_object when running on GCP
  tests/rptest/archival/s3_client.py
Labels: kind/backport

#16401 [v23.3.x] cloud_storage_clients/client_pool: handle broken _self_config_barrier
  src/v/archival/ntp_archiver_service.cc
  src/v/cloud_storage_clients/client_pool.cc
Labels: area/redpanda, kind/backport

#16422 [v23.3.x] cluster: publish total available reclaim size to balancer
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_types.h
  src/v/cluster/partition.h
  src/v/resource_mgmt/storage.cc
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/log.h
Labels: area/redpanda, kind/backport

#16442 [v23.2.x] cluster: publish total available reclaim size to balancer
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_types.h
  src/v/cluster/partition.h
  src/v/resource_mgmt/storage.cc
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/log.h
Labels: area/redpanda, kind/backport

#16312 [v23.2.x] demote ERROR message to DEBUG for timequerys at the edge of spillover retention
  src/v/cloud_storage/async_manifest_view.cc
  src/v/cloud_storage/remote_partition.cc
Labels: area/redpanda, kind/backport

#16394 [v23.3.x] archival: Graceful shutdown in the spillover retention
  src/v/archival/ntp_archiver_service.cc
Labels: area/redpanda, kind/backport

#16257 container: introduce chunked vector
  src/v/cluster/cloud_metadata/cluster_recovery_backend.cc
  src/v/cluster/cloud_metadata/cluster_recovery_backend.h
  src/v/cluster/cloud_metadata/tests/controller_snapshot_reconciliation_test.cc
  src/v/cluster/cluster_recovery_reconciler.h
  src/v/cluster/controller.cc
  src/v/container/include/container/fragmented_vector.h
  src/v/container/tests/CMakeLists.txt
  src/v/container/tests/fragmented_vector_test.cc
  src/v/container/tests/vector_bench.cc
Labels: area/redpanda

#16466 cloud_storage: Add watchdog utility and use it to detect stuck eviction loop
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cloud_storage/remote_segment.cc
  src/v/ssx/tests/CMakeLists.txt
  src/v/ssx/tests/watchdog_test.cc
  src/v/ssx/watchdog.h
Labels: area/redpanda

#16477 [v23.2.x] cloud_storage: Add watchdog utility and use it to detect stuck eviction loop
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cloud_storage/remote_segment.cc
  src/v/ssx/tests/CMakeLists.txt
  src/v/ssx/tests/watchdog_test.cc
  src/v/ssx/watchdog.h
Labels: area/redpanda, kind/backport

#16476 [v23.3.x] cloud_storage: Add watchdog utility and use it to detect stuck eviction loop
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cloud_storage/remote_segment.cc
  src/v/ssx/tests/CMakeLists.txt
  src/v/ssx/tests/watchdog_test.cc
  src/v/ssx/watchdog.h
Labels: area/redpanda, kind/backport

#16478 transform/logging/test: deflake TransformLogManagerTest.LargeBuffer
  src/v/transform/logging/tests/log_manager_test.cc
Labels: area/redpanda, area/wasm

#15328 Non-polling fetch implementation
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/convert.h
  src/v/config/property.h
  src/v/config/rjson_serialization.cc
  src/v/config/rjson_serialization.h
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/fetch.h
  src/v/kafka/server/tests/fetch_test.cc
  src/v/model/metadata.h
  src/v/model/model.cc
  src/v/raft/tests/basic_raft_fixture_test.cc
  src/v/ssx/abort_source.h
Labels: area/redpanda

#16484 [v23.3.x] Non-polling fetch implementation
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/convert.h
  src/v/config/property.h
  src/v/config/rjson_serialization.cc
  src/v/config/rjson_serialization.h
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/fetch.h
  src/v/kafka/server/tests/fetch_test.cc
  src/v/model/metadata.h
  src/v/model/model.cc
  src/v/raft/tests/basic_raft_fixture_test.cc
  src/v/ssx/abort_source.h
Labels: area/redpanda, kind/backport

#16290 transform: validate wasm binaries at deploy time
  cmake/dependencies.cmake
  licenses/third_party.md
  src/v/redpanda/admin/server.cc
  src/v/redpanda/admin/transform.cc
  src/v/transform/api.cc
  src/v/transform/api.h
  src/v/wasm/CMakeLists.txt
  src/v/wasm/api.h
  src/v/wasm/cache.cc
  src/v/wasm/cache.h
  src/v/wasm/errc.h
  src/v/wasm/parser/CMakeLists.txt
  src/v/wasm/parser/README.md
  src/v/wasm/parser/include/wasm/parser/parser.h
  src/v/wasm/parser/leb128.h
  src/v/wasm/parser/parser.cc
  src/v/wasm/parser/tests/CMakeLists.txt
  src/v/wasm/parser/tests/leb128_test.cc
  src/v/wasm/parser/tests/parser_test.cc
  src/v/wasm/tests/wasm_cache_test.cc
  src/v/wasm/tests/wasm_fixture.cc
  src/v/wasm/wasmtime.cc
  tests/docker/ducktape-deps/tinygo-wasi-transforms
  tests/rptest/clients/rpk.py
  tests/rptest/tests/data_transforms_test.py
Labels: area/build, area/redpanda, area/wasm

#16480 [v23.3.x] transform/logging/test: deflake TransformLogManagerTest.LargeBuffer
  src/v/transform/logging/tests/log_manager_test.cc
Labels: area/redpanda, kind/backport

#16105 Fix/inconsistent flushed offset
  src/v/raft/consensus.cc
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/log.h
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

#16501 [v23.3.x] Fix/inconsistent flushed offset
  src/v/raft/consensus.cc
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/log.h
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda, kind/backport

#16502 container: chunked_vector improvements
  src/v/container/include/container/fragmented_vector.h
  src/v/container/tests/fragmented_vector_test.cc
Labels: area/redpanda

#16492 [v23.3.x] k/metadata: guesstimate leader when information is not yet present
  src/v/kafka/server/handlers/metadata.cc
Labels: area/redpanda, kind/backport

#16503 cloud_storage: Fix timequery bug that triggers full scan
  src/v/cloud_storage/read_path_probes.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/tests/common_def.h
  src/v/cloud_storage/tests/remote_partition_test.cc
  src/v/cloud_storage/tests/util.cc
  src/v/cloud_storage/tests/util.h
Labels: area/redpanda

#16475 Improved handling of truncation with ACKS=1
  src/v/raft/consensus.cc
  src/v/raft/tests/basic_raft_fixture_test.cc
Labels: area/redpanda

#16400 coding-style: propose documentation recommendations
  src/v/README.md
  src/v/coding-style.md
Labels: area/redpanda

#16518 [v23.3.x] cloud_storage: Fix timequery bug that triggers full scan
  src/v/cloud_storage/read_path_probes.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/tests/common_def.h
  src/v/cloud_storage/tests/remote_partition_test.cc
  src/v/cloud_storage/tests/util.cc
  src/v/cloud_storage/tests/util.h
Labels: area/redpanda, kind/backport

#16522 [v23.3.x] Improved handling of truncation with ACKS=1
  src/v/raft/consensus.cc
  src/v/raft/tests/basic_raft_fixture_test.cc
Labels: area/redpanda, kind/backport

#16530 [v23.2.x] Improved handling of truncation with ACKS=1
  src/v/raft/consensus.cc
Labels: area/redpanda

#16527 Increase default value of `rpc_client_connections_per_peer` to 32
  src/v/config/configuration.cc
Labels: area/redpanda

#16531 [v23.3.x] Increase default value of `rpc_client_connections_per_peer` to 32
  src/v/config/configuration.cc
Labels: area/redpanda, kind/backport

#16435 [v23.2.x] Fixed large allocation in `kafka::wait_for_leaders`
  src/v/kafka/server/handlers/topics/topic_utils.cc
  src/v/kafka/server/handlers/topics/topic_utils.h
  tests/rptest/tests/topic_creation_test.py
Labels: area/redpanda, kind/backport

#16520 [v23.2.x] cloud_storage: Fix timequery bug that triggers full scan
  src/v/cloud_storage/remote_partition.cc
Labels: area/redpanda

#16454 io: add io queue manager
  src/v/io/CMakeLists.txt
  src/v/io/io_queue.cc
  src/v/io/io_queue.h
  src/v/io/page.cc
  src/v/io/page.h
  src/v/io/tests/CMakeLists.txt
  src/v/io/tests/common.cc
  src/v/io/tests/common.h
  src/v/io/tests/io_queue_test.cc
  src/v/io/tests/page_test.cc
Labels: area/redpanda

#16525 rpc: Add config flag to enable/disable compression for replies
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/rpc/rpc_server.cc
Labels: area/redpanda

#16498 [v23.3.x] transform: validate wasm binaries at deploy time
  cmake/dependencies.cmake
  licenses/third_party.md
  src/v/redpanda/admin/server.cc
  src/v/redpanda/admin/transform.cc
  src/v/transform/api.cc
  src/v/transform/api.h
  src/v/wasm/CMakeLists.txt
  src/v/wasm/api.h
  src/v/wasm/cache.cc
  src/v/wasm/cache.h
  src/v/wasm/errc.h
  src/v/wasm/parser/CMakeLists.txt
  src/v/wasm/parser/README.md
  src/v/wasm/parser/leb128.h
  src/v/wasm/parser/parser.cc
  src/v/wasm/parser/parser.h
  src/v/wasm/parser/tests/CMakeLists.txt
  src/v/wasm/parser/tests/leb128_test.cc
  src/v/wasm/parser/tests/parser_test.cc
  src/v/wasm/tests/wasm_cache_test.cc
  src/v/wasm/tests/wasm_fixture.cc
  src/v/wasm/wasmtime.cc
  tests/docker/ducktape-deps/tinygo-wasi-transforms
  tests/rptest/clients/rpk.py
  tests/rptest/tests/data_transforms_test.py
Labels: area/build, area/redpanda, kind/backport

#16546 [v23.3.x] rpc: Add config flag to enable/disable compression for replies
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/rpc/rpc_server.cc
Labels: area/redpanda, kind/backport

#16529 schemata: use chunked_vector for createable_topic
  src/v/container/include/container/fragmented_vector.h
  src/v/container/tests/fragmented_vector_test.cc
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/tests/create_topics_test.cc
  src/v/kafka/server/tests/delete_topics_test.cc
  src/v/kafka/server/tests/topic_recreate_test.cc
Labels: area/redpanda

#16556 [v23.3.x] tests: disable snapshots when testing partial controller deletion
  tests/rptest/tests/controller_erase_test.py
Labels: kind/backport

#16550 [v23.2.x] rpc: Add config flag to enable/disable compression for replies
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/rpc/rpc_server.cc
Labels: area/redpanda

#16548 rpc: Disable compression for internal rpc replies
  src/v/config/configuration.cc
Labels: area/redpanda

#16499 rptest: Fix instance type getter for GCP
  tests/rptest/services/provider_clients/instance_utils.py
Labels: team/devprod

#16485 Wire `transform::logging::manager` into transform API, rpc client
  src/transform-sdk/go/transform/internal/testdata/identity_logging/transform.go
  src/v/cluster/health_manager.cc
  src/v/kafka/server/handlers/produce.cc
  src/v/kafka/server/server.cc
  src/v/model/namespace.h
  src/v/model/record.h
  src/v/redpanda/application.cc
  src/v/transform/CMakeLists.txt
  src/v/transform/api.cc
  src/v/transform/api.h
  src/v/transform/logging/CMakeLists.txt
  src/v/transform/logging/errc.h
  src/v/transform/logging/fwd.h
  src/v/transform/logging/io.h
  src/v/transform/logging/log_manager.cc
  src/v/transform/logging/record_batcher.cc
  src/v/transform/logging/record_batcher.h
  src/v/transform/logging/rpc_client.cc
  src/v/transform/logging/rpc_client.h
  src/v/transform/logging/tests/CMakeLists.txt
  src/v/transform/logging/tests/log_manager_test.cc
  src/v/transform/logging/tests/record_batcher_test.cc
  src/v/transform/logging/tests/utils.cc
  src/v/transform/logging/tests/utils.h
  src/v/transform/rpc/client.cc
  src/v/transform/rpc/client.h
  src/v/transform/transform_logger.h
  tests/docker/ducktape-deps/tinygo-wasi-transforms
  tests/rptest/tests/data_transforms_test.py
  tests/rptest/tests/scram_test.py
  tests/rptest/utils/utf8.py
Labels: area/redpanda, area/wasm

#16571 xform/service: Remove exception handling from _log_manager->start
  src/v/transform/api.cc
Labels: area/redpanda, area/wasm

#16515 [v23.3.x] rptest: tolerate missing topic metrics after start
  tests/rptest/tests/prefix_truncate_recovery_test.py
Labels: kind/backport

#16560 Use confirmed term as a source of leader epoch
  src/v/kafka/server/replicated_partition.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
Labels: area/redpanda

#16565 [v23.3.x] introduce chunked_vector
  src/v/cluster/cloud_metadata/cluster_recovery_backend.cc
  src/v/cluster/cloud_metadata/cluster_recovery_backend.h
  src/v/cluster/cloud_metadata/tests/controller_snapshot_reconciliation_test.cc
  src/v/cluster/cluster_recovery_reconciler.h
  src/v/cluster/controller.cc
  src/v/utils/fragmented_vector.h
  src/v/utils/tests/CMakeLists.txt
  src/v/utils/tests/fragmented_vector_test.cc
Labels: area/redpanda

#16580 cloud_storage: update upload_object api
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/purger.cc
  src/v/cloud_storage/recovery_utils.cc
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/tests/remote_segment_test.cc
  src/v/cloud_storage/tests/remote_test.cc
  src/v/cloud_storage/types.cc
  src/v/cloud_storage/types.h
  src/v/cluster/cloud_metadata/offsets_uploader.cc
Labels: area/redpanda

#16576 rpk: Improve tuner output script
  src/go/rpk/.golangci.yml
  src/go/rpk/pkg/cli/redpanda/tune/tune.go
  src/go/rpk/pkg/tuners/executors/commands/write_sized_file.go
  src/go/rpk/pkg/tuners/executors/commands/write_sized_file_test.go
Labels: area/rpk

#16626 [v23.2.x] rpk: Improve tuner output script
  src/go/rpk/.golangci.yml
  src/go/rpk/pkg/cli/redpanda/tune/tune.go
  src/go/rpk/pkg/tuners/executors/commands/write_sized_file.go
  src/go/rpk/pkg/tuners/executors/commands/write_sized_file_test.go
Labels: area/rpk, kind/backport

#16622 [v23.3.x] schemata: use chunked_vector for createable_topic
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/tests/create_topics_test.cc
  src/v/kafka/server/tests/delete_topics_test.cc
  src/v/kafka/server/tests/topic_recreate_test.cc
  src/v/utils/fragmented_vector.h
  src/v/utils/tests/fragmented_vector_test.cc
Labels: area/redpanda, kind/backport

#16611 cloud_storage/inventory: Add inventory create-config API for AWS
  src/v/cloud_storage/CMakeLists.txt
  src/v/cloud_storage/inventory/aws_ops.cc
  src/v/cloud_storage/inventory/aws_ops.h
  src/v/cloud_storage/inventory/inv_ops.cc
  src/v/cloud_storage/inventory/inv_ops.h
  src/v/cloud_storage/inventory/tests/CMakeLists.txt
  src/v/cloud_storage/inventory/tests/create_inventory_config_test.cc
  src/v/cloud_storage/inventory/types.cc
  src/v/cloud_storage/inventory/types.h
  src/v/cloud_storage/remote.h
  src/v/cloud_storage/types.cc
  src/v/cloud_storage/types.h
Labels: area/redpanda

#16243 Node UUID admin
  src/v/cluster/members_manager.h
  src/v/redpanda/admin/api-doc/broker.json
  src/v/redpanda/admin/api-doc/debug.json
  src/v/redpanda/admin/debug.cc
  src/v/redpanda/admin/server.cc
  src/v/redpanda/admin/server.h
  src/v/utils/uuid.cc
  src/v/utils/uuid.h
  tests/rptest/services/admin.py
  tests/rptest/tests/admin_uuid_operations_test.py
Labels: area/redpanda

#16629 [v23.3.x] rpk: Improve tuner output script
  src/go/rpk/.golangci.yml
  src/go/rpk/pkg/cli/redpanda/tune/tune.go
  src/go/rpk/pkg/tuners/executors/commands/write_sized_file.go
  src/go/rpk/pkg/tuners/executors/commands/write_sized_file_test.go
Labels: area/rpk, kind/backport

#16504 config: update bindings when properties are reset
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/cloud_storage/tests/remote_partition_fuzz_test.cc
  src/v/cloud_storage/tests/remote_partition_test.cc
  src/v/cloud_storage/tests/util.cc
  src/v/cluster/config_manager.cc
  src/v/config/property.h
  src/v/config/tests/config_store_test.cc
  src/v/net/conn_quota.cc
Labels: area/redpanda

#16569 [v23.3.x] rpc: Disable compression for internal rpc replies
  src/v/config/configuration.cc
Labels: area/redpanda, kind/backport

#16638 [v23.3.x] config: update bindings when properties are reset
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/cloud_storage/tests/remote_partition_fuzz_test.cc
  src/v/cloud_storage/tests/remote_partition_test.cc
  src/v/cloud_storage/tests/util.cc
  src/v/cluster/config_manager.cc
  src/v/config/property.h
  src/v/config/tests/config_store_test.cc
  src/v/net/conn_quota.cc
Labels: area/redpanda, kind/backport

#16573 [v23.3.x] Use confirmed term as a source of leader epoch
  src/v/kafka/server/replicated_partition.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
Labels: area/redpanda, kind/backport

#16641 [v23.2.x] config: update bindings when properties are reset
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/cloud_storage/tests/remote_partition_fuzz_test.cc
  src/v/cloud_storage/tests/util.cc
  src/v/cluster/config_manager.cc
  src/v/config/bounded_property.h
  src/v/config/property.h
  src/v/config/tests/bounded_property_test.cc
  src/v/config/tests/config_store_test.cc
  src/v/net/conn_quota.cc
Labels: area/redpanda

#16637 Added timeout to `gtest_raft_rpunit`
  src/v/raft/tests/CMakeLists.txt
  src/v/test_utils/test.h
Labels: area/redpanda

#16645 cloud_storage: skip over segments below archive start
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cloud_storage/tests/s3_imposter.cc
Labels: area/redpanda

#16614 cloud_storage: Add `download_object` method for downloading small objects
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/purger.cc
  src/v/archival/upload_housekeeping_service.cc
  src/v/cloud_storage/inventory/aws_ops.cc
  src/v/cloud_storage/inventory/tests/create_inventory_config_test.cc
  src/v/cloud_storage/recovery_utils.cc
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/tests/remote_segment_test.cc
  src/v/cloud_storage/tests/remote_test.cc
  src/v/cloud_storage/types.cc
  src/v/cloud_storage/types.h
  src/v/cluster/cloud_metadata/offsets_uploader.cc
Labels: area/redpanda

#16660 [v23.3.x] cloud_storage: skip over segments below archive start
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cloud_storage/tests/s3_imposter.cc
Labels: area/redpanda, kind/backport

#16662 Implement async_for_each
  src/v/ssx/async_algorithm.h
  src/v/ssx/tests/CMakeLists.txt
  src/v/ssx/tests/async_algorithm_test.cc
Labels: area/redpanda

#16386 tests: Add produce microbenchmark
  src/v/kafka/server/handlers/produce.cc
  src/v/kafka/server/handlers/produce.h
  src/v/kafka/server/tests/CMakeLists.txt
  src/v/kafka/server/tests/produce_partition_bench.cc
  src/v/redpanda/tests/fixture.h
Labels: area/redpanda

#16295 tx/compaction: don't deduplicate control batches
  src/v/cluster/tests/tx_compaction_utils.h
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/kafka/protocol/batch_consumer.h
  src/v/model/model.cc
  src/v/model/record.h
  src/v/model/record_batch_types.h
  src/v/storage/compaction_reducers.cc
  src/v/storage/compaction_reducers.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/segment_deduplication_utils.cc
  src/v/storage/segment_deduplication_utils.h
  src/v/storage/segment_utils.cc
  src/v/storage/segment_utils.h
  src/v/storage/tests/segment_deduplication_test.cc
  tests/java/verifiers/src/main/java/io/vectorized/compaction/tx/TxUniqueKeysWorkload.java
  tests/java/verifiers/src/main/java/io/vectorized/compaction/tx/TxWorkload.java
  tests/rptest/services/compacted_verifier.py
  tests/rptest/tests/compaction_e2e_test.py
Labels: area/redpanda

#16636 cst/inv: Create helpers to conditionally create inventory config
  src/v/cloud_storage/inventory/aws_ops.cc
  src/v/cloud_storage/inventory/aws_ops.h
  src/v/cloud_storage/inventory/inv_ops.cc
  src/v/cloud_storage/inventory/inv_ops.h
  src/v/cloud_storage/inventory/tests/create_inventory_config_test.cc
  src/v/cloud_storage/inventory/types.cc
  src/v/cloud_storage/inventory/types.h
  src/v/cloud_storage/remote.h
Labels: area/redpanda

#16676 Add forward iterator to async_for_each
  src/v/ssx/async_algorithm.h
  src/v/ssx/tests/async_algorithm_test.cc
Labels: area/redpanda

#16683 [v23.2.x] Implement async_for_each
  src/v/ssx/async_algorithm.h
Labels: area/redpanda

#16682 [v23.3.x] Implement async_for_each
  src/v/ssx/async_algorithm.h
  src/v/ssx/tests/CMakeLists.txt
  src/v/ssx/tests/async_algorithm_test.cc
Labels: area/redpanda

#16664 vint_bench
  src/v/utils/tests/CMakeLists.txt
  src/v/utils/tests/vint_bench.cc
Labels: area/redpanda

#16554 Rethrow on unknown exceptions in fetch handler
  src/v/kafka/server/handlers/fetch.cc
Labels: area/redpanda

#16538 Introduced `cluster::vcluster_id` type underlied by XID
  src/v/cluster/types.h
  src/v/utils/CMakeLists.txt
  src/v/utils/named_type.h
  src/v/utils/tests/CMakeLists.txt
  src/v/utils/tests/named_type_tests.cc
  src/v/utils/tests/xid_test.cc
  src/v/utils/xid.cc
  src/v/utils/xid.h
Labels: area/redpanda

#16675 r/tests: removed infinite loop from raft test
  src/v/raft/tests/raft_fixture.cc
  src/v/raft/tests/raft_reconfiguration_test.cc
Labels: area/redpanda

#16633 io: add scheduler
  src/v/io/CMakeLists.txt
  src/v/io/README.md
  src/v/io/cache.h
  src/v/io/scheduler.cc
  src/v/io/scheduler.h
  src/v/io/tests/CMakeLists.txt
  src/v/io/tests/cache_test.cc
  src/v/io/tests/io_queue_test.cc
  src/v/io/tests/scheduler_test.cc
Labels: area/redpanda

#16689 [v23.2.x] Add forward iterator to async_for_each
  src/v/ssx/async_algorithm.h
Labels: area/redpanda, kind/backport

#16688 [v23.3.x] Add forward iterator to async_for_each
  src/v/ssx/async_algorithm.h
  src/v/ssx/tests/async_algorithm_test.cc
Labels: area/redpanda, kind/backport

#16692 [v23.3.x] r/tests: removed infinite loop from raft test
  src/v/raft/tests/raft_fixture.cc
  src/v/raft/tests/raft_reconfiguration_test.cc
Labels: area/redpanda, kind/backport

#16663 [v23.3.x] Wire transform::logging::manager into transform API, rpc client
  src/transform-sdk/go/transform/internal/testdata/identity_logging/transform.go
  src/v/cluster/health_manager.cc
  src/v/kafka/server/handlers/produce.cc
  src/v/kafka/server/server.cc
  src/v/model/namespace.h
  src/v/model/record.h
  src/v/redpanda/application.cc
  src/v/transform/CMakeLists.txt
  src/v/transform/api.cc
  src/v/transform/api.h
  src/v/transform/logging/CMakeLists.txt
  src/v/transform/logging/errc.h
  src/v/transform/logging/fwd.h
  src/v/transform/logging/io.h
  src/v/transform/logging/log_manager.cc
  src/v/transform/logging/record_batcher.cc
  src/v/transform/logging/record_batcher.h
  src/v/transform/logging/rpc_client.cc
  src/v/transform/logging/rpc_client.h
  src/v/transform/logging/tests/CMakeLists.txt
  src/v/transform/logging/tests/log_manager_test.cc
  src/v/transform/logging/tests/record_batcher_test.cc
  src/v/transform/logging/tests/utils.cc
  src/v/transform/logging/tests/utils.h
  src/v/transform/rpc/client.cc
  src/v/transform/rpc/client.h
  src/v/transform/transform_logger.h
  tests/docker/ducktape-deps/tinygo-wasi-transforms
  tests/rptest/tests/data_transforms_test.py
  tests/rptest/tests/scram_test.py
  tests/rptest/utils/utf8.py
Labels: area/redpanda, area/wasm, kind/backport

#16513 config/configuration: bounded_property log_segment_ms_min/max
  src/v/config/configuration.cc
  src/v/config/configuration.h
Labels: area/redpanda

#16512 Refactored `cluster::partition_leaders_table` to use hierarchical structure of metadata
  src/v/cluster/controller_probe.cc
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
  src/v/cluster/health_monitor_types.cc
  src/v/cluster/health_monitor_types.h
  src/v/cluster/metadata_dissemination_handler.cc
  src/v/cluster/metadata_dissemination_handler.h
  src/v/cluster/metadata_dissemination_service.cc
  src/v/cluster/metadata_dissemination_types.h
  src/v/cluster/ntp_callbacks.h
  src/v/cluster/partition_leaders_table.cc
  src/v/cluster/partition_leaders_table.h
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/health_monitor_test.cc
  src/v/cluster/tests/partition_balancer_planner_fixture.h
  src/v/cluster/tests/partition_leaders_table_test.cc
  src/v/cluster/tests/randoms.h
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/compat/cluster_json.h
  src/v/compat/json.h
  src/v/compat/metadata_dissemination_compat.h
  src/v/compat/metadata_dissemination_generator.h
  src/v/container/include/container/fragmented_vector.h
  src/v/model/namespace.h
  src/v/test_utils/randoms.h
  src/v/test_utils/test.h
Labels: area/redpanda

#16656 serde: Add node_health_report ser/de benchmark
  src/v/serde/test/CMakeLists.txt
  src/v/serde/test/bench.cc
Labels: area/redpanda

#16705 http/client: add request interface that takes an iobuf
  src/v/http/client.cc
  src/v/http/client.h
  src/v/http/demo/client.cc
  src/v/http/tests/http_client_test.cc
  src/v/pandaproxy/test/utils.h
Labels: area/redpanda

#16652 rpk: support advertised addresses in `rpk redpanda config bootstrap`
  src/go/rpk/pkg/cli/redpanda/config.go
  src/go/rpk/pkg/cli/redpanda/config_test.go
  src/go/rpk/pkg/config/config.go
  tests/rptest/tests/rpk_start_test.py
Labels: area/rpk

#16539 c/namespaced_cache: added implementation of namespaced cache
  src/v/cluster/namespaced_cache.h
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/namespaced_cache_test.cc
Labels: area/redpanda

#16685 rpk cloud namespace: create, list, delete
  .github/workflows/lint-golang.yml
  src/go/rpk/buf.gen.yaml
  src/go/rpk/buf.yaml
  src/go/rpk/generate.sh
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cloud/cloud.go
  src/go/rpk/pkg/cli/cloud/namespace/create.go
  src/go/rpk/pkg/cli/cloud/namespace/delete.go
  src/go/rpk/pkg/cli/cloud/namespace/list.go
  src/go/rpk/pkg/cli/cloud/namespace/namespace.go
  src/go/rpk/pkg/config/config.go
  src/go/rpk/pkg/publicapi/publicapi.go
  src/go/rpk/proto/gen/go/redpanda/api/common/v1alpha1/common.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/cluster.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/cluster_grpc.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/common.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/dummy.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/dummy_grpc.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/error.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/namespace.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/namespace_grpc.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/network.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/network_grpc.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/operation.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/operation_grpc.pb.go
Labels: area/rpk, area/build

#16720 io: add input stream equality test helper
  src/v/io/tests/common.cc
  src/v/io/tests/common.h
  src/v/io/tests/common_test.cc
Labels: area/redpanda

#16711 c/p_leaders: check if leaders table was modified after async iteration
  src/v/cluster/partition_leaders_table.cc
  src/v/cluster/partition_leaders_table.h
Labels: area/redpanda

#16709 [v23.3.x] Refactored `cluster::partition_leaders_table` to use hierarchical structure of metadata
  src/v/cluster/controller_probe.cc
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
  src/v/cluster/health_monitor_types.cc
  src/v/cluster/health_monitor_types.h
  src/v/cluster/metadata_dissemination_handler.cc
  src/v/cluster/metadata_dissemination_handler.h
  src/v/cluster/metadata_dissemination_service.cc
  src/v/cluster/metadata_dissemination_types.h
  src/v/cluster/ntp_callbacks.h
  src/v/cluster/partition_leaders_table.cc
  src/v/cluster/partition_leaders_table.h
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/health_monitor_test.cc
  src/v/cluster/tests/partition_balancer_planner_fixture.h
  src/v/cluster/tests/partition_leaders_table_test.cc
  src/v/cluster/tests/randoms.h
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/compat/cluster_json.h
  src/v/compat/json.h
  src/v/compat/metadata_dissemination_compat.h
  src/v/compat/metadata_dissemination_generator.h
  src/v/model/namespace.h
  src/v/test_utils/randoms.h
  src/v/test_utils/test.h
  src/v/utils/fragmented_vector.h
Labels: area/redpanda

#16718 http/client: add `post()` method helper
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/metrics_reporter.h
  src/v/http/client.cc
  src/v/http/client.h
  src/v/http/tests/http_client_test.cc
Labels: area/redpanda

#16722 wasm/parser: bump limits
  src/v/wasm/parser/CMakeLists.txt
  src/v/wasm/parser/include/wasm/parser/parser.h
  src/v/wasm/parser/parser.cc
  src/v/wasm/parser/tests/parser_test.cc
Labels: area/redpanda, area/wasm

#16719 [v23.3.x] admin: stream more json results
  src/v/redpanda/admin/debug.cc
  src/v/redpanda/admin/partition.cc
  src/v/redpanda/admin/transaction.cc
Labels: area/redpanda, kind/backport

#16747 [v23.2.x] admin: stream more json results
  src/v/redpanda/admin_server.cc
Labels: area/redpanda, kind/backport

#16721 storage: move ghost batch generation into log reader
  src/v/raft/consensus_utils.cc
  src/v/raft/recovery_stm.cc
  src/v/raft/tests/consensus_utils_test.cc
  src/v/random/include/random/generators.h
  src/v/storage/log_reader.cc
  src/v/storage/log_reader.h
  src/v/storage/tests/compaction_e2e_test.cc
  src/v/storage/types.h
Labels: area/redpanda

#16776 c/leaders: trigger leadership notification when term changes
  src/v/cluster/config_manager.cc
  src/v/cluster/partition_leaders_table.cc
  src/v/cluster/partition_leaders_table.h
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/cluster/scheduling/leader_balancer.h
  src/v/cluster/tests/partition_leaders_table_test.cc
Labels: area/redpanda

#16784 [v23.3.x] c/leaders: trigger leadership notification when term changes
  src/v/cluster/config_manager.cc
  src/v/cluster/partition_leaders_table.cc
  src/v/cluster/partition_leaders_table.h
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/cluster/scheduling/leader_balancer.h
  src/v/cluster/tests/partition_leaders_table_test.cc
Labels: area/redpanda, kind/backport

#16745 u/named_type: use fmt to format named type
  src/v/cloud_storage/tests/partition_manifest_test.cc
  src/v/cloud_storage/tests/topic_manifest_test.cc
  src/v/cluster/cloud_metadata/tests/cluster_manifest_test.cc
  src/v/kafka/server/tests/group_test.cc
  src/v/kafka/server/tests/member_test.cc
  src/v/utils/named_type.h
Labels: area/redpanda

#16694 admin: fix path param parsing in admin api
  src/v/redpanda/admin/security.cc
  src/v/redpanda/admin/server.cc
  src/v/redpanda/admin/util.cc
  src/v/redpanda/admin/util.h
  src/v/redpanda/tests/CMakeLists.txt
  src/v/redpanda/tests/util_tests.cc
  tests/rptest/clients/rpk.py
  tests/rptest/tests/rpk_acl_test.py
Labels: area/redpanda
