Repository redpanda-data/redpanda, pull requests merged in 2024-04, with the labels that each got.

#17427 authorizer: add parens
  src/v/security/authorizer.cc
Labels: area/redpanda

#17519 cloud_roles: convert to new-style module
  src/v/CMakeLists.txt
  src/v/cloud_roles/apply_abs_credentials.cc
  src/v/cloud_roles/apply_abs_credentials.h
  src/v/cloud_roles/apply_aws_credentials.cc
  src/v/cloud_roles/apply_aws_credentials.h
  src/v/cloud_roles/apply_credentials.cc
  src/v/cloud_roles/aws_refresh_impl.cc
  src/v/cloud_roles/aws_sts_refresh_impl.cc
  src/v/cloud_roles/azure_vm_refresh_impl.cc
  src/v/cloud_roles/gcp_refresh_impl.cc
  src/v/cloud_roles/include/cloud_roles/apply_credentials.h
  src/v/cloud_roles/include/cloud_roles/logger.h
  src/v/cloud_roles/include/cloud_roles/probe.h
  src/v/cloud_roles/include/cloud_roles/refresh_credentials.h
  src/v/cloud_roles/include/cloud_roles/types.h
  src/v/cloud_roles/refresh_credentials.cc
  src/v/cloud_roles/request_response_helpers.cc
  src/v/cloud_roles/signature.cc
  src/v/cloud_roles/tests/fetch_credentials_tests.cc
  src/v/cloud_roles/tests/role_client_tests.cc
  src/v/cloud_roles/tests/schema_parsing_tests.cc
  src/v/cloud_storage/async_manifest_view.cc
  src/v/cloud_storage/tests/CMakeLists.txt
  src/v/cloud_storage_clients/configuration.h
  src/v/cloud_storage_clients/test_client/s3_test_client_main.cc
  src/v/cloud_storage_clients/tests/s3_client_test.cc
  src/v/cluster/cloud_metadata/tests/cluster_metadata_utils.h
  src/v/cluster/partition.h
  src/v/redpanda/admin/server.cc
Labels: area/redpanda

#17455 cloud_storage: Fix download throttling ducktape test
  src/v/cloud_storage/materialized_resources.cc
  src/v/cloud_storage/read_path_probes.cc
  src/v/utils/token_bucket.h
Labels: area/redpanda

#17522 [v23.3.x] deps: Add lz4-static for fedora
  install-dependencies.sh
Labels: kind/backport

#17534 io: fix clang-tidy warning
  src/v/io/tests/pager_test.cc
Labels: area/redpanda

#17470 [v23.3.x] tests: do not run offsets for leader epoch test in debug mode
  tests/rptest/tests/offset_for_leader_epoch_test.py
Labels: kind/backport

#16915 remote partition_manifest validation for topic recovery
  src/v/cloud_storage/anomalies_detector.cc
  src/v/cloud_storage/anomalies_detector.h
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/cloud_storage/tests/anomalies_detector_test.cc
  src/v/cloud_storage/types.cc
  src/v/cloud_storage/types.h
  src/v/cluster/CMakeLists.txt
  src/v/cluster/errc.h
  src/v/cluster/partition_manager.cc
  src/v/cluster/topic_recovery_validator.cc
  src/v/cluster/topic_recovery_validator.h
  src/v/cluster/topics_frontend.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/convert.h
  src/v/config/property.h
  src/v/config/rjson_serialization.cc
  src/v/config/rjson_serialization.h
  src/v/kafka/server/errors.h
  src/v/model/metadata.h
  src/v/model/model.cc
  src/v/model/tests/lexical_cast_tests.cc
  tests/rptest/tests/cluster_config_test.py
  tests/rptest/tests/topic_recovery_test.py
Labels: area/redpanda

#17456 kafka: fix config source for default cleanup.policy config
  src/v/kafka/server/handlers/configs/config_response_utils.cc
  tests/rptest/services/redpanda_installer.py
  tests/rptest/tests/controller_snapshot_test.py
  tests/rptest/tests/describe_topics_test.py
  tests/rptest/tests/topic_creation_test.py
Labels: area/redpanda

#17498 Improved validation of Fetch requests when reading from follower
  src/v/kafka/server/replicated_partition.cc
  src/v/raft/consensus.cc
  src/v/raft/tests/basic_raft_fixture_test.cc
  src/v/raft/tests/raft_fixture.cc
Labels: area/redpanda

#17501 Update metrics_reporter to show the number of rbac roles
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/metrics_reporter.h
  src/v/security/authorizer.cc
  src/v/security/authorizer.h
  tests/rptest/tests/rbac_test.py
Labels: area/redpanda, area/security

#17512 gha: update lint-golang
  .github/workflows/lint-golang.yml
  src/go/.goreleaser.yaml
Labels: area/build

#17515 k/topics: make write caching configs settable at creation
  src/v/cluster/types.cc
  src/v/config/configuration.cc
  src/v/kafka/server/handlers/alter_configs.cc
  src/v/kafka/server/handlers/configs/config_utils.h
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/handlers/topics/types.cc
  src/v/kafka/server/handlers/topics/validators.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/serde/rw/chrono.h
  tests/rptest/clients/types.py
  tests/rptest/tests/write_caching_test.py
Labels: area/redpanda

#17500 gh: Added workflows to sync GitHub with Jira
  .github/workflows/close_jira_issue.yml
  .github/workflows/comment_added.yml
  .github/workflows/create_jira_issue.yml
  .github/workflows/reopen_jira_issue.yml
  .github/workflows/scripts/jira_helper.py
  .github/workflows/scripts/requirements.txt
Labels: area/build

#17473 admin/debug/leader_info: prevent reactor stalls
  src/v/cluster/metadata_cache.cc
  src/v/cluster/metadata_cache.h
  src/v/cluster/partition_leaders_table.cc
  src/v/cluster/partition_leaders_table.h
  src/v/redpanda/admin/debug.cc
Labels: area/redpanda

#17541 storage: Use fragmented_vector in OT-state
  src/v/storage/offset_translator_state.cc
Labels: area/redpanda

#17549 Convert modules to new-style: `ssx`, `io`, `syschecks`
  src/v/CMakeLists.txt
  src/v/cloud_storage_clients/test_client/CMakeLists.txt
  src/v/crypto/CMakeLists.txt
  src/v/io/CMakeLists.txt
  src/v/io/clang-tidy-helper.cc
  src/v/io/include/io/.gitkeep
  src/v/io/io_queue.cc
  src/v/io/io_queue.h
  src/v/io/logger.cc
  src/v/io/page.cc
  src/v/io/page.h
  src/v/io/page_cache.cc
  src/v/io/page_cache.h
  src/v/io/page_set.cc
  src/v/io/page_set.h
  src/v/io/pager.cc
  src/v/io/pager.h
  src/v/io/paging_data_source.cc
  src/v/io/persistence.cc
  src/v/io/scheduler.cc
  src/v/io/scheduler.h
  src/v/ssx/CMakeLists.txt
  src/v/ssx/include/ssx/abort_source.h
  src/v/ssx/include/ssx/async-clear.h
  src/v/ssx/include/ssx/async_algorithm.h
  src/v/ssx/include/ssx/event.h
  src/v/ssx/include/ssx/future-util.h
  src/v/ssx/include/ssx/fwd.h
  src/v/ssx/include/ssx/semaphore.h
  src/v/ssx/include/ssx/sformat.h
  src/v/ssx/include/ssx/sharded_ptr.h
  src/v/ssx/include/ssx/sleep_abortable.h
  src/v/ssx/include/ssx/task_local_ptr.h
  src/v/ssx/include/ssx/thread_worker.h
  src/v/ssx/include/ssx/watchdog.h
  src/v/ssx/include/ssx/work_queue.h
  src/v/syschecks/include/syschecks/syschecks.h
Labels: area/redpanda

#17401 treewide: address newer clang-tidy warnings
  src/v/CMakeLists.txt
  src/v/cloud_roles/tests/credential_tests.cc
  src/v/cloud_roles/tests/signature_test.cc
  src/v/cluster/bootstrap_backend.cc
  src/v/cluster/tests/feature_barrier_test.cc
  src/v/cluster/tests/partition_allocator_fixture.h
  src/v/cluster/tests/partition_balancer_planner_fixture.h
  src/v/cluster/tests/partition_balancer_simulator_test.cc
  src/v/cluster/tests/topic_table_test.cc
  src/v/cluster/tests/topic_updates_dispatcher_test.cc
  src/v/config/property.h
  src/v/storage/log_manager.cc
Labels: area/redpanda

#17552 rptest: Improve RRR end to end test
  tests/rptest/tests/read_replica_e2e_test.py
Labels: area/cloud-storage

#17557 iwyu: add pragma to always keep
  src/v/base/include/base/seastarx.h
Labels: area/redpanda

#17563 cluster: avoid throwing on duplicate recovery
  src/v/cluster/bootstrap_backend.cc
Labels: area/redpanda

#17405 Feat/topic manifest serde
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/purger.cc
  src/v/cloud_storage/CMakeLists.txt
  src/v/cloud_storage/base_manifest.cc
  src/v/cloud_storage/base_manifest.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/tests/CMakeLists.txt
  src/v/cloud_storage/tests/topic_manifest_test.cc
  src/v/cloud_storage/topic_manifest.cc
  src/v/cloud_storage/topic_manifest.h
  src/v/cloud_storage/types.h
  src/v/cluster/CMakeLists.txt
  src/v/cluster/remote_topic_configuration_source.cc
  src/v/cluster/topic_recovery_service.cc
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  tests/rptest/archival/shared_client_utils.py
  tests/rptest/clients/offline_log_viewer.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/topic_recovery_test.py
  tests/rptest/utils/si_utils.py
  tools/offline_log_viewer/controller.py
  tools/offline_log_viewer/topic_manifest.py
  tools/offline_log_viewer/viewer.py
Labels: area/redpanda

#17544 c/topics_frontend: break the loop when dispatching to current leader
  src/v/cluster/service.cc
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
Labels: area/redpanda

#17472 rm_stm: do not hold producer lock for the duration of the barrier
  src/v/cluster/rm_stm.cc
Labels: area/redpanda

#17551 Removed `adl` support for cluster rpc types
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/topic_configuration_compat_test.cc
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/compat/abort_group_tx_compat.h
  src/v/compat/abort_tx_compat.h
  src/v/compat/acls_compat.h
  src/v/compat/begin_group_tx_compat.h
  src/v/compat/begin_tx_compat.h
  src/v/compat/check.h
  src/v/compat/cluster_compat.h
  src/v/compat/commit_group_tx_compat.h
  src/v/compat/commit_tx_compat.h
  src/v/compat/id_allocator_compat.h
  src/v/compat/init_tm_tx_compat.h
  src/v/compat/try_abort_compat.h
Labels: area/redpanda

#17553 rpk: prevent segfault by checking ready-clusters
  src/go/rpk/pkg/cli/profile/create.go
Labels: area/rpk

#17573 [v23.3.x] use chunked vector as batches cache in `raft::replicate_batcher`
  src/v/model/record_batch_reader.cc
  src/v/model/record_batch_reader.h
  src/v/raft/replicate_batcher.cc
  src/v/raft/replicate_batcher.h
Labels: area/redpanda

#17574 [v23.3.x] Improved validation of Fetch requests when reading from follower
  src/v/kafka/server/replicated_partition.cc
  src/v/raft/consensus.cc
  src/v/raft/tests/basic_raft_fixture_test.cc
  src/v/raft/tests/raft_fixture.cc
Labels: area/redpanda

#17576 [v23.3.x] c/topics_frontend: break the loop when dispatching to current leader
  src/v/cluster/service.cc
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
Labels: area/redpanda, kind/backport

#17539 net/tls_probe: Introduce "trust_file_crc32c" metric
  src/v/net/probes.cc
  src/v/net/tls_certificate_probe.h
  tests/rptest/tests/tls_metrics_test.py
Labels: area/redpanda, doc-needed

#17592 gh: Updates to Jira issue sync
  .github/workflows/close_jira_issue.yml
  .github/workflows/jira_issue_manage.yml
  .github/workflows/reopen_jira_issue.yml
  .github/workflows/scripts/jira_helper.py
  .github/workflows/scripts/requirements.txt
Labels: area/build

#17584 [v23.3.x] k/group_manager: used chunked_vector when cleaning groups
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
Labels: area/redpanda, kind/backport

#17562 RBAC: Enable the role store to survive a controller snapshot
  src/v/cluster/controller_snapshot.cc
  src/v/cluster/controller_snapshot.h
  src/v/cluster/security_manager.cc
  tests/rptest/tests/rbac_test.py
Labels: area/redpanda

#17585 [v23.3.x] rpk: prevent segfault by checking ready-clusters
  src/go/rpk/pkg/cli/profile/create.go
Labels: area/rpk, kind/backport

#17596 CORE-2055: net: allow transport logger to be customized
  src/v/http/client.cc
  src/v/kafka/client/transport.h
  src/v/net/client_probe.h
  src/v/net/conn_quota.cc
  src/v/net/conn_quota.h
  src/v/net/transport.cc
  src/v/net/transport.h
  src/v/rpc/transport.cc
  src/v/storage/mvlog/CMakeLists.txt
Labels: area/redpanda

#17589 rpk: add `UpdateRoleMembership` to admin API client
  src/go/rpk/pkg/adminapi/api_security.go
Labels: area/rpk

#17621 c/controller_snapshot: Add serde envelope for named_role
  src/v/cluster/controller_snapshot.cc
  src/v/cluster/controller_snapshot.h
Labels: area/redpanda

#17416 RBAC/rpk: Introduce `--{allow,deny}-role` flags for ACL create/describe/delete
  src/go/rpk/pkg/cli/acl/acl.go
  src/go/rpk/pkg/cli/acl/common.go
  src/go/rpk/pkg/cli/acl/create.go
  src/go/rpk/pkg/cli/acl/delete.go
  src/go/rpk/pkg/cli/acl/list.go
  tests/rptest/clients/rpk.py
  tests/rptest/tests/rpk_acl_test.py
Labels: area/rpk, area/security

#17628 rpk: use registry version of common protos
  src/go/rpk/buf.gen.yaml
  src/go/rpk/buf.yaml
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cloud/namespace/create.go
  src/go/rpk/pkg/cli/cloud/namespace/delete.go
  src/go/rpk/pkg/cli/cloud/namespace/list.go
  src/go/rpk/pkg/cli/profile/create.go
  src/go/rpk/pkg/cli/transform/delete.go
  src/go/rpk/pkg/cli/transform/deploy.go
  src/go/rpk/pkg/cli/transform/list.go
  src/go/rpk/pkg/publicapi/controlplane.go
  src/go/rpk/pkg/publicapi/transform.go
  src/go/rpk/proto/gen/go/redpanda/api/common/v1alpha1/common.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/cluster.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/common.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/controlplanev1beta1connect/cluster.connect.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/controlplanev1beta1connect/dummy.connect.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/controlplanev1beta1connect/namespace.connect.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/controlplanev1beta1connect/network.connect.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/controlplanev1beta1connect/operation.connect.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/dummy.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/error.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/namespace.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/network.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/controlplane/v1beta1/operation.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/dataplane/v1alpha1/acl.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/dataplane/v1alpha1/common.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/dataplane/v1alpha1/dataplanev1alpha1connect/acl.connect.go
  src/go/rpk/proto/gen/go/redpanda/api/dataplane/v1alpha1/dataplanev1alpha1connect/dummy.connect.go
  src/go/rpk/proto/gen/go/redpanda/api/dataplane/v1alpha1/dataplanev1alpha1connect/kafka_connect.connect.go
  src/go/rpk/proto/gen/go/redpanda/api/dataplane/v1alpha1/dataplanev1alpha1connect/secret.connect.go
  src/go/rpk/proto/gen/go/redpanda/api/dataplane/v1alpha1/dataplanev1alpha1connect/topic.connect.go
  src/go/rpk/proto/gen/go/redpanda/api/dataplane/v1alpha1/dataplanev1alpha1connect/transform.connect.go
  src/go/rpk/proto/gen/go/redpanda/api/dataplane/v1alpha1/dataplanev1alpha1connect/user.connect.go
  src/go/rpk/proto/gen/go/redpanda/api/dataplane/v1alpha1/dummy.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/dataplane/v1alpha1/error.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/dataplane/v1alpha1/kafka_connect.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/dataplane/v1alpha1/secret.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/dataplane/v1alpha1/swagger.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/dataplane/v1alpha1/topic.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/dataplane/v1alpha1/transform.pb.go
  src/go/rpk/proto/gen/go/redpanda/api/dataplane/v1alpha1/user.pb.go
Labels: area/rpk

#17559 remote: fix exception checking in delete_objects_sequentially
  src/v/cloud_storage/remote.cc
Labels: area/redpanda

#17617 Add ducktape tests for rpk security role
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/adminapi/api_security.go
  src/go/rpk/pkg/cli/cloud/auth/create.go
  src/go/rpk/pkg/cli/cloud/auth/delete.go
  src/go/rpk/pkg/cli/cloud/auth/list.go
  src/go/rpk/pkg/cli/cloud/auth/rename.go
  src/go/rpk/pkg/cli/cloud/auth/use.go
  src/go/rpk/pkg/cli/security/role/delete.go
  src/go/rpk/pkg/cli/security/role/describe.go
  src/go/rpk/pkg/cli/security/role/role.go
  tests/rptest/clients/rpk.py
  tests/rptest/tests/rpk_role_test.py
Labels: area/rpk

#17587 [v23.3.x] net/tls_probe: Introduce "trust_file_crc32c" metric
  src/v/net/probes.cc
  src/v/net/tls_certificate_probe.h
  tests/rptest/tests/tls_metrics_test.py
Labels: area/redpanda, kind/backport

#17593 transform-sdk/sr: add ABI check
  src/transform-sdk/go/transform/sr/abi.go
  src/transform-sdk/go/transform/sr/client.go
  src/transform-sdk/go/transform/sr/stub_abi.go
  src/transform-sdk/rust/sr-sys/src/abi.rs
  src/transform-sdk/rust/sr-sys/src/lib.rs
  src/transform-sdk/rust/sr-sys/src/stub_abi.rs
Labels: area/wasm

#17664 rpk: move acl / acl user to /security
  src/go/rpk/pkg/cli/acl/acl.go
  src/go/rpk/pkg/cli/security/acl/acl.go
  src/go/rpk/pkg/cli/security/acl/common.go
  src/go/rpk/pkg/cli/security/acl/common_test.go
  src/go/rpk/pkg/cli/security/acl/create.go
  src/go/rpk/pkg/cli/security/acl/delete.go
  src/go/rpk/pkg/cli/security/acl/list.go
  src/go/rpk/pkg/cli/security/security.go
  src/go/rpk/pkg/cli/security/user/create.go
  src/go/rpk/pkg/cli/security/user/delete.go
  src/go/rpk/pkg/cli/security/user/list.go
  src/go/rpk/pkg/cli/security/user/update.go
  src/go/rpk/pkg/cli/security/user/user.go
  tests/rptest/clients/rpk.py
Labels: area/rpk

#17591 wasm: check schema registry ABI
  src/v/redpanda/admin/server.cc
  src/v/wasm/include/wasm/errc.h
  src/v/wasm/schema_registry_module.cc
  src/v/wasm/schema_registry_module.h
  src/v/wasm/wasmtime.cc
  tests/rptest/tests/data_transforms_test.py
Labels: area/redpanda, area/wasm

#17624 cluster: create default "Users" role when RBAC is activated
  src/v/cluster/feature_manager.cc
  src/v/cluster/security_frontend.cc
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/migrations/CMakeLists.txt
  src/v/migrations/rbac_migrator.cc
  src/v/migrations/rbac_migrator.h
  src/v/redpanda/application.cc
  src/v/security/types.h
  tests/rptest/services/admin.py
  tests/rptest/tests/rbac_upgrade_test.py
Labels: area/redpanda

#17672 gh: Improve workflow script
  .github/workflows/scripts/jira_helper.py
Labels: area/build

#17678 CORE-2056: net: allow conn_quota logger to be configured
  src/v/net/conn_quota.cc
  src/v/net/conn_quota.h
  src/v/net/tests/conn_quota_test.cc
  src/v/redpanda/application.cc
Labels: area/redpanda

#17681 transform-sdk/cpp: add string conversion operators
  src/transform-sdk/cpp/include/redpanda/transform_sdk.h
  src/transform-sdk/cpp/src/transform_sdk.cc
Labels: area/wasm

#17684 rpk/security/acl/list: support --format=json
  src/go/rpk/pkg/cli/security/acl/common.go
  src/go/rpk/pkg/cli/security/acl/delete.go
  src/go/rpk/pkg/cli/security/acl/list.go
Labels: area/rpk

#17595 rpk: generate script with sha256sum instead of md5sum
  .github/workflows/rpk-build.yml
  src/go/rpk/pkg/tuners/executors/commands/backup_file.go
Labels: area/rpk, area/build

#14745 storage: assert when appending empty batch
  src/v/raft/tests/basic_raft_fixture_test.cc
  src/v/storage/segment.cc
Labels: area/redpanda

#17677 rpk/defaults: enable write caching in dev container by default
  src/go/rpk/pkg/cli/redpanda/start.go
  src/go/rpk/pkg/cli/redpanda/start_test.go
Labels: area/rpk

#17691 [v23.2.x] rptest: handle errors and retry them in list offsets request
  tests/rptest/tests/consumer_group_test.py
Labels: kind/backport

#17687 rpk: use fork of avro
  src/go/rpk/go.mod
  src/go/rpk/go.sum
Labels: area/rpk

#17695 wasm: reset call context on failure
  src/v/wasm/tests/wasm_transform_test.cc
  src/v/wasm/transform_module.cc
Labels: area/redpanda, area/wasm

#17696 [v23.3.x] wasm: reset call context on error
  src/v/wasm/tests/wasm_transform_test.cc
  src/v/wasm/transform_module.cc
Labels: area/redpanda

#17703 CORE-2061: net: remove rpc logger from server connection
  src/v/net/connection.cc
  src/v/net/connection.h
  src/v/net/server.cc
Labels: area/redpanda

#17698 [v23.3.x] Use `node_status_table` as a single source of truth about node liveness
  src/v/cluster/cluster_utils.cc
  src/v/cluster/controller.cc
  src/v/cluster/feature_manager.cc
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_frontend.cc
  src/v/cluster/health_monitor_frontend.h
  src/v/cluster/health_monitor_types.cc
  src/v/cluster/health_monitor_types.h
  src/v/cluster/metadata_cache.cc
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/node_isolation_watcher.cc
  src/v/cluster/node_status_backend.cc
  src/v/cluster/node_status_backend.h
  src/v/cluster/service.cc
  src/v/cluster/service.h
  src/v/cluster/tests/health_monitor_test.cc
  src/v/cluster/tests/randoms.h
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/compat/cluster_json.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/admin/server.cc
  src/v/redpanda/application.cc
  src/v/rpc/errc.h
  src/v/rpc/test/rpc_gen_cycling_test.cc
  src/v/rpc/transport.h
Labels: area/redpanda

#17673 Abort recovery when the recovery read is incomplete
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_recovery_consumer.cc
  src/v/kafka/server/group_recovery_consumer.h
Labels: area/redpanda

#17537 serde: support variant
  src/v/serde/rw/variant.h
  src/v/serde/test/serde_test.cc
Labels: area/redpanda

#17693 [v23.3.x] rptest: handle errors and retry them in list offsets request
  tests/rptest/tests/consumer_group_test.py
Labels: kind/backport

#17707 [v23.3.x] CORE-1705 rptest: filter abort strings from GCP headers
  tests/rptest/services/redpanda.py
Labels: kind/backport

#17686 transform-sdk/tests: add schema registry test
  .github/workflows/transform-sdk-build.yml
  src/transform-sdk/tests/admin_client.go
  src/transform-sdk/tests/go.mod
  src/transform-sdk/tests/go.sum
  src/transform-sdk/tests/integration_test.go
Labels: area/build, area/wasm

#17709 gtest: set death_test_style=threadsafe
  src/v/raft/tests/basic_raft_fixture_test.cc
  src/v/test_utils/gtest_main.cc
Labels: area/redpanda

#17704 Topic-aware replica placement in `partition_allocator::reallocate_partition`
  src/v/cluster/controller.cc
  src/v/cluster/health_manager.cc
  src/v/cluster/health_manager.h
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/cluster/scheduling/partition_allocator.h
  src/v/cluster/tests/partition_allocator_tests.cc
  src/v/cluster/topics_frontend.cc
Labels: area/redpanda

#17627 CORE-2070: cloud storage probe for compacted away bytes `vectorized_ntp_archiver_compacted_replaced_bytes`
  src/v/archival/archival_metadata_stm.cc
  src/v/archival/archival_metadata_stm.h
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/probe.cc
  src/v/archival/probe.h
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/tests/partition_manifest_test.cc
  tests/rptest/tests/shadow_indexing_compacted_topic_test.py
Labels: area/redpanda

#17723 Followup/feat/cloud storage compaction metric
  src/v/archival/archival_metadata_stm.cc
  src/v/archival/archival_metadata_stm.h
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/probe.cc
  src/v/archival/probe.h
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/tests/partition_manifest_test.cc
  tests/rptest/tests/shadow_indexing_compacted_topic_test.py
Labels: area/redpanda

#17579 CORE-2024: local storage probe for compacted away bytes `vectorized_storage_log_compaction_removed_bytes`
  src/v/storage/disk_log_impl.cc
  src/v/storage/probe.cc
  src/v/storage/probe.h
  src/v/storage/segment_utils.cc
  tests/rptest/tests/compaction_e2e_test.py
Labels: area/redpanda

#17702 transform/rpc: prevent cross shard memory writes
  src/v/transform/rpc/deps.cc
  src/v/transform/rpc/include/transform/rpc/deps.h
  src/v/transform/rpc/include/transform/rpc/service.h
  src/v/transform/rpc/service.cc
  src/v/transform/rpc/tests/transform_rpc_test.cc
Labels: area/redpanda, area/wasm

#17717 CORE-2059: net: separate rpc metrics from generic transport
  src/v/archival/upload_housekeeping_service.cc
  src/v/archival/upload_housekeeping_service.h
  src/v/cloud_storage/segment_chunk_api.cc
  src/v/cloud_storage/tests/anomalies_detector_test.cc
  src/v/cloud_storage_clients/client_pool.cc
  src/v/cloud_storage_clients/test_client/abs_test_client_main.cc
  src/v/cloud_storage_clients/tests/exception_test.cc
  src/v/cluster/cloud_metadata/offsets_uploader.cc
  src/v/cluster/topic_recovery_validator.cc
  src/v/net/client_probe.h
  src/v/net/probes.cc
  src/v/net/transport.cc
  src/v/net/transport.h
  src/v/rpc/transport.cc
  src/v/rpc/transport.h
  src/v/security/oidc_service.cc
Labels: area/redpanda

#17674 k/fetch: handle initial_leader_epoch correctly
  src/v/kafka/server/fetch_session.h
  src/v/kafka/server/fetch_session_cache.cc
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/tests/fetch_plan_bench.cc
  src/v/kafka/server/tests/fetch_session_test.cc
  src/v/kafka/server/tests/fetch_test.cc
Labels: area/redpanda

#17666 s3_client: add keys to log messages
  src/v/cloud_storage_clients/s3_client.cc
Labels: area/redpanda

#17726 kafka: fix write caching validation during topic creation
  src/v/kafka/server/handlers/topics/types.cc
  src/v/kafka/server/handlers/topics/validators.h
  tests/rptest/tests/write_caching_test.py
Labels: area/redpanda

#17590 transforms: fix offset at deploy time
  src/v/model/transform.cc
  src/v/model/transform.h
  src/v/redpanda/admin/transform.cc
  src/v/transform/api.cc
  src/v/transform/io.h
  src/v/transform/tests/test_fixture.cc
  src/v/transform/tests/test_fixture.h
  src/v/transform/tests/transform_processor_test.cc
  src/v/transform/transform_processor.cc
  tests/rptest/tests/data_transforms_test.py
Labels: area/redpanda, area/wasm

#17730 CORE-2212: test: do not start seastar for --gtest_list_tests
  src/v/test_utils/gtest_main.cc
Labels: area/redpanda

#17716 CORE-1614 storage: Initialize timestamps in the compaction_placeholder
  src/v/storage/compaction_reducers.cc
Labels: area/redpanda

#17729 storage: document semantics of the read interface
  src/v/storage/segment.h
Labels: area/redpanda

#17721 gha: rpk improvements
  .github/workflows/rpk-build.yml
Labels: area/build

#17675 raft: don't promote to voter if previous config is not committed
  src/v/archival/tests/archival_metadata_stm_gtest.cc
  src/v/raft/consensus.cc
  src/v/raft/tests/basic_raft_fixture_test.cc
  src/v/raft/tests/raft_fixture.cc
  src/v/raft/tests/raft_fixture.h
  src/v/raft/tests/raft_reconfiguration_test.cc
  src/v/raft/tests/replication_monitor_tests.cc
Labels: area/redpanda

#17756 [v23.3.x] kafka: chunked_vector for config responses
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/protocol/tests/protocol_test.cc
  src/v/kafka/protocol/wire.h
  src/v/kafka/server/handlers/configs/config_response_utils.h
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/handlers/topics/topic_utils.cc
  src/v/kafka/server/handlers/topics/topic_utils.h
  src/v/kafka/server/handlers/topics/types.cc
  src/v/kafka/server/handlers/topics/types.h
  src/v/kafka/server/tests/alter_config_test.cc
Labels: area/redpanda, kind/backport

#17789 k/replicated_partition: fixed querying end offset of an empty log
  src/v/kafka/server/replicated_partition.cc
  src/v/kafka/server/tests/CMakeLists.txt
  src/v/kafka/server/tests/replicated_partition_test.cc
Labels: area/redpanda

#17802 c/partition_allocator: fix bench test
  src/v/cluster/tests/allocation_bench.cc
Labels: area/redpanda

#17385 CORE-1722: compression: Use preallocated decompression buffers for lz4
  src/v/compression/CMakeLists.txt
  src/v/compression/include/compression/internal/lz4_frame_compressor.h
  src/v/compression/include/compression/lz4_decompression_buffers.h
  src/v/compression/internal/lz4_frame_compressor.cc
  src/v/compression/lz4_decompression_buffers.cc
  src/v/compression/tests/CMakeLists.txt
  src/v/compression/tests/lz4_buf_tests.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/application.cc
  src/v/storage/parser_utils.cc
Labels: area/redpanda

#17805 CORE-2321: cloud_storage: Fix remote_partition stuck reader
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/tests/remote_partition_fuzz_test.cc
  src/v/cloud_storage/tests/util.cc
  src/v/cloud_storage/tests/util.h
Labels: area/redpanda

#17811 cluster: add number of transform to metrics reporter
  src/v/cluster/controller.cc
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/metrics_reporter.h
  src/v/cluster/plugin_table.cc
  src/v/cluster/plugin_table.h
  tests/rptest/tests/metrics_reporter_test.py
Labels: area/redpanda

#17800 rbac_migrator: suppress error on role_exists
  src/v/migrations/feature_migrator.h
  src/v/migrations/rbac_migrator.cc
Labels: area/redpanda

#17792 [v23.3.x] CORE-1752: cst: improved logging
  src/v/cloud_storage/segment_chunk.cc
  src/v/cloud_storage/segment_chunk.h
  src/v/cloud_storage/segment_chunk_api.cc
  src/v/cloud_storage/segment_chunk_data_source.cc
Labels: area/redpanda, kind/backport

#17801 slash-cmds: add `/publish-to-install-pack` command
  .github/workflows/buildkite-slash-commands.yml
  .github/workflows/slash-commands.yml
Labels: area/build

#17796 [v23.3.x] raft: don't promote to voter if previous config is not committed
  src/v/archival/tests/archival_metadata_stm_gtest.cc
  src/v/raft/consensus.cc
  src/v/raft/tests/basic_raft_fixture_test.cc
  src/v/raft/tests/raft_fixture.cc
  src/v/raft/tests/raft_fixture.h
  src/v/raft/tests/raft_reconfiguration_test.cc
Labels: area/redpanda, kind/backport

#17797 [v23.2.x] raft: don't promote to voter if previous config is not committed
  src/v/raft/consensus.cc
Labels: area/redpanda, kind/backport

#17719 [v23.3.x] kafka: fix config source for default cleanup.policy config
  src/v/kafka/server/handlers/configs/config_response_utils.cc
  tests/rptest/services/redpanda_installer.py
  tests/rptest/tests/controller_snapshot_test.py
  tests/rptest/tests/describe_topics_test.py
  tests/rptest/tests/topic_creation_test.py
Labels: area/redpanda, kind/backport

#17830 rpk/transform/logs: handle missing logs topic
  src/go/rpk/pkg/cli/transform/logs.go
Labels: area/rpk

#17832 rpk/transform/logs: don't hang if the topic is empty
  src/go/rpk/pkg/cli/transform/logs.go
Labels: area/rpk

#17841 CORE-2347: net: remove dependence on rpc parsing exception type
  cmake/FindLZ4.cmake
  src/v/net/connection.cc
  src/v/net/types.h
  src/v/rpc/service.h
Labels: area/build, area/redpanda

#17837 [v23.3.x] rpk/transform/logs: don't hang if the topic is empty
  src/go/rpk/pkg/cli/transform/logs.go
Labels: area/rpk, kind/backport

#17835 [v23.3.x] rpk/transform/logs: handle missing logs topic
  src/go/rpk/pkg/cli/transform/logs.go
Labels: area/rpk, kind/backport

#17794 [v23.2.x] CORE-1752: cst: improved logging (manual backport)
  src/v/cloud_storage/segment_chunk.cc
  src/v/cloud_storage/segment_chunk.h
  src/v/cloud_storage/segment_chunk_api.cc
  src/v/cloud_storage/segment_chunk_data_source.cc
Labels: area/redpanda

#17818 [v23.3.x] CORE-2321: cloud_storage: Fix remote_partition stuck reader
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_segment.h
  src/v/cloud_storage/tests/remote_partition_fuzz_test.cc
  src/v/cloud_storage/tests/util.cc
  src/v/cloud_storage/tests/util.h
Labels: area/redpanda, kind/backport

#17733 [v23.3.x] tests: wait for partition leaders before querying hwm
  tests/rptest/tests/recovery_mode_test.py
Labels: kind/backport

#17825 [v23.3.x] CORE-1722: compression: Use preallocated decompression buffers for lz4
  src/v/compression/CMakeLists.txt
  src/v/compression/internal/lz4_frame_compressor.cc
  src/v/compression/internal/lz4_frame_compressor.h
  src/v/compression/lz4_decompression_buffers.cc
  src/v/compression/lz4_decompression_buffers.h
  src/v/compression/tests/CMakeLists.txt
  src/v/compression/tests/lz4_buf_tests.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/application.cc
Labels: area/redpanda

#17831 rpk/transform/init: fix --install-deps flag
  src/go/rpk/pkg/cli/transform/init.go
Labels: area/rpk

#17867 [v23.3.x] rpk/transform/init: fix --install-deps flag
  src/go/rpk/pkg/cli/transform/init.go
Labels: area/rpk, kind/backport

#17868 s3_client: fix typo in log statement format specifier
  src/v/cloud_storage_clients/s3_client.cc
Labels: area/redpanda

#17826 [v23.2.x] CORE-1722: compression: Use preallocated decompression buffers for lz4
  src/v/compression/CMakeLists.txt
  src/v/compression/internal/lz4_frame_compressor.cc
  src/v/compression/internal/lz4_frame_compressor.h
  src/v/compression/lz4_decompression_buffers.cc
  src/v/compression/lz4_decompression_buffers.h
  src/v/compression/tests/CMakeLists.txt
  src/v/compression/tests/lz4_buf_tests.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/application.cc
Labels: area/redpanda

#17838 rpk: bump docker version
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/container/common/client.go
  src/go/rpk/pkg/cli/container/common/common.go
  src/go/rpk/pkg/cli/container/common/test.go
  src/go/rpk/pkg/cli/container/purge.go
  src/go/rpk/pkg/cli/container/start.go
Labels: area/rpk

#17706 [v23.2.x] CORE-1705 rptest: filter abort strings from GCP headers
  tests/rptest/services/redpanda.py
Labels: kind/backport

#17448 [v23.2.x] tx: fix param ordering in log statement
  src/v/cluster/tx_gateway_frontend.cc
Labels: area/redpanda, kind/backport

#17258 [v23.2.x] tools/cmake_test: remove accidental env override
  src/v/cloud_storage_clients/client_pool.cc
  tools/cmake_test.py
Labels: area/redpanda, kind/backport

#17864 [v23.3.x] Health report collection improvements
  src/v/cluster/controller.cc
  src/v/cluster/feature_manager.cc
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
  src/v/cluster/health_monitor_frontend.cc
  src/v/cluster/health_monitor_frontend.h
  src/v/cluster/health_monitor_types.cc
  src/v/cluster/health_monitor_types.h
  src/v/cluster/partition_balancer_backend.cc
  src/v/cluster/service.cc
  src/v/cluster/tests/health_monitor_test.cc
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/compat/get_node_health_compat.h
  src/v/compat/get_node_health_generator.h
  tests/rptest/utils/node_operations.py
Labels: area/redpanda

#17879 CORE-2365: storage: increase size of offset key map fragment size
  src/v/storage/key_offset_map.h
Labels: area/redpanda

#17880 rm_stm: fix fence_pid_epoch cleanup
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  tests/rptest/tests/transactions_test.py
Labels: area/redpanda

#17689 rpk: doc updates and small QOL improvements
  src/go/rpk/pkg/adminapi/admin.go
  src/go/rpk/pkg/cli/debug/bundle/bundle.go
  src/go/rpk/pkg/cli/root.go
  src/go/rpk/pkg/cli/security/acl/acl.go
  src/go/rpk/pkg/cli/security/acl/create.go
  src/go/rpk/pkg/cli/security/acl/delete.go
  src/go/rpk/pkg/cli/security/acl/list.go
  src/go/rpk/pkg/cli/security/role/assign.go
  src/go/rpk/pkg/cli/security/role/describe.go
  src/go/rpk/pkg/cli/security/role/list.go
  src/go/rpk/pkg/cli/security/role/unassign.go
  src/go/rpk/pkg/cli/security/user/create.go
  src/go/rpk/pkg/cli/security/user/user.go
  src/go/rpk/pkg/cli/version/version.go
  src/go/rpk/pkg/httpapi/httpapi.go
Labels: area/rpk

#17892 id_allocator: do not forward requests beyond first hop
  src/v/cluster/id_allocator.cc
Labels: area/redpanda

#17823 write caching follow ups
  src/go/rpk/pkg/cli/cluster/config/import.go
  src/go/rpk/pkg/cli/redpanda/start.go
  src/go/rpk/pkg/cli/redpanda/start_test.go
  src/v/cluster/cluster_utils.cc
  src/v/cluster/metadata_cache.cc
  src/v/cluster/tests/topic_properties_generator.h
  src/v/cluster/types.h
  src/v/compat/cluster_generator.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/handlers/configs/config_response_utils.cc
  src/v/kafka/server/handlers/configs/config_utils.h
  src/v/kafka/server/handlers/topics/validators.h
  src/v/kafka/server/tests/alter_config_test.cc
  src/v/model/metadata.h
  src/v/model/model.cc
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/replicate_entries_stm.cc
  src/v/raft/replicate_entries_stm.h
  src/v/raft/replication_monitor.cc
  src/v/raft/replication_monitor.h
  src/v/raft/tests/append_entries_test.cc
  src/v/raft/tests/basic_raft_fixture_test.cc
  src/v/raft/tests/raft_fixture.cc
  src/v/raft/tests/simple_raft_fixture.h
  src/v/redpanda/admin/api-doc/debug.json
  src/v/redpanda/admin/debug.cc
  src/v/redpanda/application.cc
  src/v/storage/ntp_config.h
  tests/rptest/tests/describe_topics_test.py
  tests/rptest/tests/simple_e2e_test.py
  tests/rptest/tests/write_caching_fi_e2e_test.py
  tests/rptest/tests/write_caching_fi_test.py
  tests/rptest/tests/write_caching_test.py
Labels: area/rpk, area/redpanda

#17877 wasm: fix CPU profiler deadlock
  cmake/dependencies.cmake
  src/v/wasm/tests/wasm_transform_test.cc
  src/v/wasm/wasmtime.cc
Labels: area/build, area/redpanda, area/wasm

#17881 [v23.2.x] k/replicated_partition: fixed querying end offset of an empty log
  src/v/cloud_roles/refresh_credentials.cc
  src/v/compat/tests/compat_test.cc
  src/v/kafka/server/replicated_partition.h
  src/v/kafka/server/tests/CMakeLists.txt
  src/v/kafka/server/tests/replicated_partition_test.cc
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

#17900 [backport] [v23.3.x] rm_stm: fix fence_pid_epoch cleanup #17880
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  tests/rptest/tests/transactions_test.py
Labels: area/redpanda

#17863 c/health: reduced number of health_node_report copies
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cluster/controller_api.cc
  src/v/cluster/feature_manager.cc
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
  src/v/cluster/health_monitor_types.cc
  src/v/cluster/health_monitor_types.h
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/partition_balancer_backend.cc
  src/v/cluster/partition_balancer_backend.h
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/partition_leaders_table.cc
  src/v/cluster/partition_leaders_table.h
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/cluster/service.cc
  src/v/cluster/tests/health_bench.cc
  src/v/cluster/tests/health_monitor_test.cc
  src/v/cluster/tests/partition_balancer_planner_fixture.h
  src/v/cluster/tests/partition_balancer_planner_test.cc
  src/v/cluster/tests/partition_balancer_simulator_test.cc
  src/v/cluster/tests/randoms.h
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/cluster/topics_frontend.cc
  src/v/compat/cluster_json.h
  src/v/redpanda/admin/server.cc
Labels: area/redpanda

#17882 Backport of #17673 #17498 #16560
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_recovery_consumer.cc
  src/v/kafka/server/group_recovery_consumer.h
  src/v/kafka/server/replicated_partition.cc
  src/v/kafka/server/replicated_partition.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
Labels: area/redpanda

#17888 [v23.3.x] CORE-2365: storage: increase size of offset key map fragment size
  src/v/storage/key_offset_map.h
Labels: area/redpanda, kind/backport

#17839 archival: Start housekeeping jobs only on a leader
  src/v/archival/ntp_archiver_service.cc
  src/v/cloud_storage_clients/s3_client.cc
  tests/rptest/tests/cloud_storage_scrubber_test.py
Labels: area/redpanda

#17918 Backport of PR 17894 - tests: Marking test_drain_audit_disabled as ok_to_fail
  tests/rptest/tests/audit_log_test.py
Labels: area/rpk, area/build

#17901 gh: add rpunit issue template
  .github/ISSUE_TEMPLATE/04_ducktape_failure.md
  .github/ISSUE_TEMPLATE/05_rpunit_failure.md
Labels: area/build

#17919 gh: Add docs team as CODEOWNERS for configs
  .github/CODEOWNERS
Labels: area/build

#17922 kafka: Reduced maximum log line size to 128KiB
  src/v/kafka/protocol/logger.cc
Labels: area/redpanda

#17924 [v23.2.x] kafka: Reduced maximum log line size to 128KiB
  src/v/kafka/protocol/logger.cc
Labels: area/redpanda, kind/backport

#17923 [v23.3.x] kafka: Reduced maximum log line size to 128KiB
  src/v/kafka/protocol/logger.cc
Labels: area/redpanda, kind/backport

#17912 c/hm_backend: cache the collected report
  src/v/cluster/health_monitor_backend.cc
Labels: area/redpanda

#17910 log_manager: gate orphan file cleanup
  src/v/storage/log_manager.cc
  src/v/storage/log_manager.h
Labels: area/redpanda

#17931 kafka: Fix utils.h include path
  src/v/kafka/protocol/logger.cc
Labels: area/redpanda

#17933 Fix rpc client [in, out]_bytes metrics
  src/v/rpc/transport.cc
Labels: area/redpanda

#17840 CORE-2369: Fix/azure managed identities hns detection
  src/v/cloud_roles/apply_abs_credentials.h
  src/v/cloud_roles/apply_abs_oauth_credentials.h
  src/v/cloud_roles/apply_aws_credentials.h
  src/v/cloud_roles/apply_gcp_credentials.h
  src/v/cloud_roles/include/cloud_roles/apply_credentials.h
  src/v/cloud_storage_clients/abs_client.cc
  src/v/cloud_storage_clients/abs_client.h
  src/v/cloud_storage_clients/configuration.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/admin/server.cc
  tests/rptest/tests/cluster_config_test.py
Labels: area/redpanda

#17941 [v23.2.x] kafka: Fix utils.h include path
  src/v/kafka/protocol/logger.cc
Labels: area/redpanda, kind/backport

#17926 c/controller_backend: don't require cur_operation after reconciliation step
  src/v/cluster/controller_backend.cc
  src/v/cluster/tests/shard_placement_table_test.cc
Labels: area/redpanda

#17949 cleanup: clang 18 fixes
  .clang-tidy
  .clang-tidy-strict
  .clang-tidy-strict-tests
  CMakeLists.txt
  src/v/archival/async_data_uploader.cc
  src/v/cluster/service.cc
  src/v/cluster/tests/partition_balancer_simulator_test.cc
  src/v/cluster/topic_recovery_validator.cc
Labels: area/redpanda

#17895 raft: in append_entries skip batches that we already have
  src/v/model/record_batch_reader.h
  src/v/raft/consensus.cc
  src/v/raft/consensus_utils.cc
  src/v/raft/consensus_utils.h
  src/v/raft/tests/foreign_entry_test.cc
  src/v/raft/types.h
Labels: area/redpanda

#17953 CORE-2452 followup for azure managed identities #17840
  src/v/cloud_roles/apply_abs_oauth_credentials.cc
  src/v/cloud_roles/apply_abs_oauth_credentials.h
  src/v/cloud_storage_clients/abs_client.cc
  src/v/cloud_storage_clients/abs_client.h
  src/v/redpanda/admin/server.cc
  tests/rptest/tests/cluster_config_test.py
Labels: area/redpanda

#17968 cloud_roles: fix includes
  src/v/cloud_roles/apply_abs_oauth_credentials.h
Labels: area/redpanda

#17965 transform: start loading VMs after logs are started
  src/v/transform/api.cc
Labels: area/redpanda, area/wasm

#17969 CORE-2451 cloud_storage_clients/abs_clients: fix iterator check
  src/v/cloud_storage_clients/abs_client.cc
Labels: area/redpanda

#17970 wasm: add a README explaining the architecture of the Wasm subsystem
  src/v/wasm/README.md
Labels: area/redpanda, area/wasm

#17967 fetch: Avoid formatting client ip and port for each partition
  src/v/kafka/server/handlers/fetch.cc
Labels: area/redpanda

#17962 Allocate and rebalance replicas for different partitions in random order
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/scheduling/allocation_state.cc
  src/v/cluster/scheduling/allocation_state.h
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/cluster/scheduling/partition_allocator.h
  src/v/cluster/scheduling/types.cc
  src/v/cluster/scheduling/types.h
  src/v/cluster/tests/partition_allocator_tests.cc
  src/v/cluster/tests/partition_balancer_bench.cc
  src/v/cluster/tests/partition_balancer_planner_fixture.h
  src/v/cluster/tests/partition_balancer_simulator_test.cc
  src/v/cluster/tests/topic_updates_dispatcher_test.cc
  src/v/cluster/topics_frontend.cc
  tests/rptest/tests/topic_creation_test.py
Labels: area/redpanda

#17720 Change the` kafka_latency_fetch_latency` metric
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/fetch.h
Labels: area/redpanda

#17915 Added detection of the node with longest log during leader election process
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/group_manager.cc
  src/v/raft/group_manager.h
  src/v/raft/tests/basic_raft_fixture_test.cc
  src/v/raft/tests/raft_fixture.cc
  src/v/raft/tests/raft_fixture.h
  src/v/raft/tests/raft_group_fixture.h
  src/v/raft/tests/replication_monitor_tests.cc
  src/v/raft/tests/simple_raft_fixture.h
  src/v/raft/vote_stm.cc
  src/v/raft/vote_stm.h
  src/v/redpanda/application.cc
Labels: area/redpanda

#17906 [CORE-2400] kafka/server: Disable quota balancer
  src/v/config/configuration.cc
Labels: area/kafka, area/redpanda

#17975 [CORE-2461] c/topics: use topic table revision to detect changes in generator
  src/v/cluster/topic_table_partition_generator.cc
Labels: area/redpanda

#17859 transform-sdk: Introduce QuickJS based JS SDK
  .github/workflows/transform-sdk-build.yml
  src/transform-sdk/js/.clang-tidy
  src/transform-sdk/js/.gitignore
  src/transform-sdk/js/CMakeLists.txt
  src/transform-sdk/js/CMakePresets.json
  src/transform-sdk/js/README.md
  src/transform-sdk/js/generate_js_provider.py
  src/transform-sdk/js/identity.js
  src/transform-sdk/js/identity_logging.js
  src/transform-sdk/js/js_vm.cc
  src/transform-sdk/js/js_vm.h
  src/transform-sdk/js/js_vm_test.cc
  src/transform-sdk/js/main.cc
Labels: area/build, area/wasm

#17978 treewide: fix oss build with clang-18
  src/v/cloud_storage_clients/abs_client.cc
  src/v/cluster/tests/partition_balancer_simulator_test.cc
Labels: area/redpanda

#17981 [v23.2.x] [CORE-2461] c/topics: use topic table revision to detect changes in generator
  src/v/cluster/topic_table_partition_generator.cc
Labels: area/redpanda, kind/backport
