Repository redpanda-data/redpanda, pull requests merged in 2024-01, with the labels that each got.

#15850 [v23.1.x] node_config: Disallow empty rack
  src/v/redpanda/application.cc
Labels: area/redpanda, kind/backport

#15910 cmake: Fix minor typos in doc string
  cmake/testing.cmake
Labels: area/build

#15883 kafka: Disable FF if rack awareness is disabled
  src/v/kafka/server/handlers/fetch.cc
Labels: area/redpanda

#15890 gha: improve backport reviewers
  .github/workflows/backport-command.yml
  .github/workflows/scripts/backport-command/create_issue.sh
  .github/workflows/scripts/backport-command/create_pr.sh
Labels: area/build

#15678 c/topics_dispatcher: do not guesstimate leader ids
  src/v/cluster/partition_leaders_table.cc
  src/v/cluster/partition_leaders_table.h
  src/v/cluster/tests/metadata_dissemination_test.cc
  src/v/cluster/topic_updates_dispatcher.cc
  src/v/cluster/topic_updates_dispatcher.h
  src/v/kafka/server/handlers/metadata.cc
  tests/rptest/tests/consumer_group_recovery_tool_test.py
  tests/rptest/tests/partition_force_reconfiguration_test.py
  tests/rptest/tests/upgrade_test.py
Labels: area/redpanda

#15914 [v23.2.x] kafka: Disable FF if rack awareness is disabled
  src/v/kafka/server/handlers/fetch.cc
Labels: area/redpanda, kind/backport

#15915 [v23.3.x] kafka: Disable FF if rack awareness is disabled
  src/v/kafka/server/handlers/fetch.cc
Labels: area/redpanda, kind/backport

#15816 [v23.2.x] c/archival_stm: do not reset _last_replicate on timeout
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
  tests/rptest/services/redpanda.py
Labels: area/redpanda

#15918 kafka/protocol: use frag vec for offset fetch
  src/v/kafka/protocol/offset_fetch.h
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/server/group.cc
  src/v/kafka/server/server.cc
Labels: area/redpanda

#15843 [v23.3.x] Increase audit buffer sizes for audit scale test
  tests/rptest/scale_tests/audit_log_test.py
Labels: kind/backport

#15929 [v23.3.x] kafka/protocol: use frag vec for offset fetch
  src/v/kafka/protocol/offset_fetch.h
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/server/group.cc
  src/v/kafka/server/server.cc
Labels: area/redpanda, kind/backport

#15424 Manage STM creation outside of `cluster::partition`
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
  src/v/cluster/controller_backend.cc
  src/v/cluster/distributed_kv_stm.h
  src/v/cluster/fwd.h
  src/v/cluster/id_allocator_stm.cc
  src/v/cluster/id_allocator_stm.h
  src/v/cluster/log_eviction_stm.cc
  src/v/cluster/log_eviction_stm.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/cluster/raft0_utils.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/state_machine_registry.h
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/raft/fwd.h
  src/v/raft/persisted_stm.h
  src/v/raft/state_machine_base.h
  src/v/raft/state_machine_manager.cc
  src/v/raft/state_machine_manager.h
  src/v/raft/tests/persisted_stm_test.cc
  src/v/raft/tests/stm_manager_test.cc
  src/v/raft/tests/stm_test_fixture.h
  src/v/redpanda/admin/server.cc
  src/v/redpanda/admin/server.h
  src/v/redpanda/admin/transaction.cc
  src/v/redpanda/application.cc
  src/v/transform/CMakeLists.txt
  src/v/transform/rpc/deps.cc
  src/v/transform/transform_offsets_stm.cc
  src/v/transform/transform_offsets_stm.h
  src/v/utils/fixed_string.h
Labels: area/redpanda

#15922 transform-sdk/go: introduce RecordWriter
  src/go/rpk/pkg/cli/transform/template/golang/transform.gosrc
  src/transform-sdk/go/transform/example_mirror_test.go
  src/transform-sdk/go/transform/example_regexp_filter_test.go
  src/transform-sdk/go/transform/example_transcoding_test.go
  src/transform-sdk/go/transform/internal/testdata/dynamic/transform.go
  src/transform-sdk/go/transform/internal/testdata/identity/transform.go
  src/transform-sdk/go/transform/internal/testdata/schema-registry/transform.go
  src/transform-sdk/go/transform/internal/testdata/transform-error/transform.go
  src/transform-sdk/go/transform/internal/testdata/transform-panic/transform.go
  src/transform-sdk/go/transform/internal/testdata/wasi/transform.go
  src/transform-sdk/go/transform/processor.go
  src/transform-sdk/go/transform/sdk.go
Labels: area/rpk, area/wasm

#15923 transform-sdk/rust: introduce RecordWriter
  src/go/rpk/pkg/cli/transform/template/rust/main.rustsrc
  src/transform-sdk/rust/core-sys/src/lib.rs
  src/transform-sdk/rust/core-types/src/lib.rs
  src/transform-sdk/rust/examples/identity.rs
  src/transform-sdk/rust/examples/jaq/src/main.rs
  src/transform-sdk/rust/examples/json2avro/src/main.rs
  src/transform-sdk/rust/src/lib.rs
Labels: area/rpk, area/wasm

#15933 transform: prevent double processor starts
  src/v/transform/tests/transform_processor_test.cc
  src/v/transform/transform_processor.cc
Labels: area/redpanda

#15926 [v23.2.x] kafka/protocol: use frag vec for offset fetch
  src/v/kafka/protocol/offset_fetch.h
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/server/group.cc
  src/v/kafka/server/server.cc
Labels: area/redpanda, kind/backport

#15935 gha: create stale issue workflow
  .github/workflows/stale.yml
Labels: area/build

#15942 gha: mark ci-failures as stale
  .github/workflows/stale.yml
Labels: area/build

#15838 [v23.3.x] cluster/config_manager: protect cfg.get() behind cfg.contains()
  src/v/cluster/config_manager.cc
  tests/rptest/services/admin.py
  tests/rptest/tests/cluster_config_test.py
Labels: area/redpanda

#15939 ssx/work_queue: support recursive tasks
  src/v/ssx/tests/work_queue_test.cc
  src/v/ssx/work_queue.cc
  src/v/ssx/work_queue.h
Labels: area/redpanda

#15936 [v23.3.x] transform-sdk/go: introduce RecordWriter
  src/go/rpk/pkg/cli/transform/template/golang/transform.gosrc
  src/transform-sdk/go/transform/example_mirror_test.go
  src/transform-sdk/go/transform/example_regexp_filter_test.go
  src/transform-sdk/go/transform/example_transcoding_test.go
  src/transform-sdk/go/transform/internal/testdata/dynamic/transform.go
  src/transform-sdk/go/transform/internal/testdata/identity/transform.go
  src/transform-sdk/go/transform/internal/testdata/schema-registry/transform.go
  src/transform-sdk/go/transform/internal/testdata/transform-error/transform.go
  src/transform-sdk/go/transform/internal/testdata/transform-panic/transform.go
  src/transform-sdk/go/transform/internal/testdata/wasi/transform.go
  src/transform-sdk/go/transform/processor.go
  src/transform-sdk/go/transform/sdk.go
Labels: area/rpk, area/wasm, kind/backport

#15765 follow-up: config/config_store_test: ignored_keys test
  src/v/config/tests/config_store_test.cc
Labels: area/redpanda

#15943 [v23.3.x] ssx/work_queue: support recursive tasks
  src/v/ssx/tests/work_queue_test.cc
  src/v/ssx/work_queue.cc
  src/v/ssx/work_queue.h
Labels: area/redpanda, kind/backport

#15594 removes kics
  .github/workflows/kics-iac.yml
Labels: area/build

#15937 [v23.3.x] transform-sdk/rust: introduce RecordWriter
  src/go/rpk/pkg/cli/transform/template/rust/main.rustsrc
  src/transform-sdk/rust/core-sys/src/lib.rs
  src/transform-sdk/rust/core-types/src/lib.rs
  src/transform-sdk/rust/examples/identity.rs
  src/transform-sdk/rust/examples/jaq/src/main.rs
  src/transform-sdk/rust/examples/json2avro/src/main.rs
  src/transform-sdk/rust/src/lib.rs
Labels: area/rpk, area/wasm, kind/backport

#15889 utils: Move cstore column and frame implementation to utils
  src/v/cloud_storage/segment_meta_cstore.cc
  src/v/cloud_storage/segment_meta_cstore.h
  src/v/cloud_storage/tests/segment_meta_cstore_bench.cc
  src/v/cloud_storage/tests/segment_meta_cstore_test.cc
  src/v/utils/delta_for.h
  src/v/utils/tests/CMakeLists.txt
  src/v/utils/tests/delta_for_bench.cc
  src/v/utils/tests/delta_for_test.cc
Labels: area/redpanda

#15934 rpk/transform/init: fix cargo.toml template
  src/go/rpk/pkg/cli/transform/template/rust_template.go
Labels: area/wasm

#15947 [v23.3.x] rpk/transform/init: fix cargo.toml template
  src/go/rpk/pkg/cli/transform/template/rust_template.go
Labels: area/rpk, kind/backport

#15932 rpk/transform/deploy: introduce --file flag
  src/go/rpk/pkg/cli/transform/deploy.go
  tests/rptest/clients/rpk.py
Labels: area/rpk

#15924 rm_stm: remove dead code
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
Labels: area/redpanda

#15930 [v23.3.x] Skip assertion in audit log tests if results beat the baseline
  tests/rptest/scale_tests/audit_log_test.py
Labels: kind/backport

#15931 net: Cache value of local address
  src/v/net/connection.cc
  src/v/net/connection.h
Labels: area/redpanda

#15855 [v23.3.x] Ext4 detection
  src/v/syschecks/syschecks.cc
Labels: area/redpanda, kind/backport

#15874 [v23.2.x] Fix/v23.2.x/cfg unchecked test
  src/v/cluster/config_manager.cc
  tests/rptest/services/admin.py
  tests/rptest/tests/cluster_config_test.py
Labels: area/redpanda

#15954 [v23.3.x] rpk/transform/deploy: introduce --file flag
  src/go/rpk/pkg/cli/transform/deploy.go
  tests/rptest/clients/rpk.py
Labels: area/rpk, kind/backport

#15866 [v23.3.x] rptest: log error on failure to delete bucket
  tests/rptest/archival/s3_client.py
Labels: kind/backport

#15958 [v23.3.x] net: Cache value of local address
  src/v/net/connection.cc
  src/v/net/connection.h
Labels: area/redpanda, kind/backport

#15920 Use async compression in kafka client
  src/v/kafka/client/produce_batcher.h
  src/v/kafka/client/produce_partition.h
  src/v/kafka/client/test/produce_batcher.cc
  src/v/kafka/client/test/produce_partition.cc
  src/v/storage/record_batch_builder.cc
  src/v/storage/record_batch_builder.h
Labels: area/redpanda

#15970 [v23.3.x] dt: Fixed flaky schemas test
  tests/rptest/tests/internal_topic_protection_test.py
Labels: kind/backport

#15953 tx_migration: avoid ping pong of requests between brokers
  src/v/cluster/leader_router.h
  src/v/cluster/migrations/tx_manager_migrator_handler.h
Labels: area/redpanda

#15971 rpc: pass requests by value
  src/v/cluster/bootstrap_service.cc
  src/v/cluster/bootstrap_service.h
  src/v/cluster/cloud_metadata/offsets_recovery_service.h
  src/v/cluster/ephemeral_credential_service.cc
  src/v/cluster/ephemeral_credential_service.h
  src/v/cluster/id_allocator.cc
  src/v/cluster/id_allocator.h
  src/v/cluster/metadata_dissemination_handler.cc
  src/v/cluster/metadata_dissemination_handler.h
  src/v/cluster/migrations/tx_manager_migrator_handler.h
  src/v/cluster/node_status_rpc_handler.cc
  src/v/cluster/node_status_rpc_handler.h
  src/v/cluster/partition_balancer_rpc_handler.cc
  src/v/cluster/partition_balancer_rpc_handler.h
  src/v/cluster/self_test_rpc_handler.cc
  src/v/cluster/self_test_rpc_handler.h
  src/v/cluster/service.cc
  src/v/cluster/service.h
  src/v/cluster/topic_recovery_status_rpc_handler.cc
  src/v/cluster/topic_recovery_status_rpc_handler.h
  src/v/cluster/tx_gateway.cc
  src/v/cluster/tx_gateway.h
  src/v/raft/service.h
  src/v/rpc/rpc_compiler.py
  src/v/rpc/test/rpc_gen_cycling_test.cc
  src/v/transform/rpc/service.cc
  src/v/transform/rpc/service.h
Labels: area/redpanda

#15983 utils: allow memory data source to take tmpbuf
  src/v/utils/memory_data_source.h
Labels: area/redpanda

#15976 [v23.3.x] Use async compression in kafka client
  src/v/kafka/client/produce_batcher.h
  src/v/kafka/client/produce_partition.h
  src/v/kafka/client/test/produce_batcher.cc
  src/v/kafka/client/test/produce_partition.cc
  src/v/storage/record_batch_builder.cc
  src/v/storage/record_batch_builder.h
Labels: area/redpanda, kind/backport

#15967 wasm: add runtime and max binary configs
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/application.cc
  src/v/transform/rpc/client.cc
  src/v/transform/rpc/client.h
  src/v/transform/rpc/deps.cc
  src/v/transform/rpc/deps.h
  src/v/transform/rpc/tests/transform_rpc_test.cc
  src/v/wasm/api.h
  src/v/wasm/tests/wasm_fixture.cc
  src/v/wasm/tests/wasm_transform_bench.cc
  src/v/wasm/wasmtime.cc
Labels: area/redpanda

#15945 c/log_eviction_stm: do not request snapshot if already progressed
  src/v/cluster/log_eviction_stm.cc
Labels: area/redpanda

#15919 r/offset_translator: remove unsafe bootstrap code
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/raft/consensus.cc
  src/v/raft/offset_translator.cc
  src/v/raft/offset_translator.h
  src/v/raft/tests/offset_translator_tests.cc
Labels: area/redpanda

#15984 [v23.3.x] wasm: add runtime and max binary configs
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/application.cc
  src/v/transform/rpc/client.cc
  src/v/transform/rpc/client.h
  src/v/transform/rpc/deps.cc
  src/v/transform/rpc/deps.h
  src/v/transform/rpc/tests/transform_rpc_test.cc
  src/v/wasm/api.h
  src/v/wasm/tests/wasm_fixture.cc
  src/v/wasm/tests/wasm_transform_bench.cc
  src/v/wasm/wasmtime.cc
Labels: area/redpanda, kind/backport

#15981 k/metadata: guesstimate leader when information is not yet present
  src/v/kafka/server/handlers/metadata.cc
Labels: area/redpanda

#15980 [v23.3.x] tx_migration: avoid ping pong of requests between brokers
  src/v/cluster/leader_router.h
  src/v/cluster/migrations/tx_manager_migrator_handler.h
Labels: area/redpanda, kind/backport

#15868 [v23.2.x] rptest: allow the new version of xfs/ext4 fs error msg
  tests/rptest/services/redpanda.py
Labels: kind/backport

#15982 c/partition_balancer: use full partition move when disk is full
  src/v/cluster/partition_balancer_planner.cc
Labels: area/redpanda

#15986 securit/:OIDC: Enable licence check and telemetry
  src/v/cluster/feature_manager.cc
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/metrics_reporter.h
  src/v/config/validators.cc
  src/v/config/validators.h
  tests/rptest/tests/metrics_reporter_test.py
  tests/rptest/tests/redpanda_oauth_test.py
Labels: area/redpanda, area/security

#15987 [v23.1.x] r/offset_translator: remove unsafe bootstrap code
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/raft/consensus.cc
  src/v/raft/offset_translator.cc
  src/v/raft/offset_translator.h
  src/v/raft/tests/offset_translator_tests.cc
Labels: area/redpanda, kind/backport

#15989 [v23.2.x] r/offset_translator: remove unsafe bootstrap code
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/raft/consensus.cc
  src/v/raft/offset_translator.cc
  src/v/raft/offset_translator.h
  src/v/raft/tests/offset_translator_tests.cc
Labels: area/redpanda, kind/backport

#15997 build: expose submodule public headers
  src/v/compression/CMakeLists.txt
  src/v/compression/include/compression/async_stream_zstd.h
  src/v/compression/include/compression/compression.h
  src/v/compression/include/compression/internal/gzip_compressor.h
  src/v/compression/include/compression/internal/lz4_frame_compressor.h
  src/v/compression/include/compression/internal/snappy_java_compressor.h
  src/v/compression/include/compression/internal/zstd_compressor.h
  src/v/compression/include/compression/snappy_standard_compressor.h
  src/v/compression/include/compression/stream_zstd.h
  src/v/finjector/CMakeLists.txt
  src/v/hashing/include/hashing/crc32.h
  src/v/hashing/include/hashing/crc32c.h
  src/v/hashing/include/hashing/jump_consistent_hash.h
  src/v/hashing/include/hashing/murmur.h
  src/v/hashing/include/hashing/secure.h
  src/v/hashing/include/hashing/xx.h
  src/v/migrations/CMakeLists.txt
  src/v/net/CMakeLists.txt
  src/v/random/generators.cc
  src/v/random/include/random/fast_prng.h
  src/v/random/include/random/generators.h
  src/v/random/include/random/simple_time_jitter.h
  src/v/utils/CMakeLists.txt
  src/v/utils/tests/CMakeLists.txt
Labels: area/redpanda

#15988 [v23.3.x] r/offset_translator: remove unsafe bootstrap code
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/raft/consensus.cc
  src/v/raft/offset_translator.cc
  src/v/raft/offset_translator.h
  src/v/raft/tests/offset_translator_tests.cc
Labels: area/redpanda, kind/backport

#15998 [v23.3.x] c/partition_balancer: use full partition move when disk is full
  src/v/cluster/partition_balancer_planner.cc
Labels: area/redpanda, kind/backport

#15999 [v23.3.x] securit/:OIDC: Enable licence check and telemetry
  src/v/cluster/feature_manager.cc
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/metrics_reporter.h
  src/v/config/validators.cc
  src/v/config/validators.h
  tests/rptest/tests/metrics_reporter_test.py
  tests/rptest/tests/redpanda_oauth_test.py
Labels: area/redpanda, kind/backport

#15735 security: update supported version
  SECURITY.md
Labels: area/security

#15996 storage: enable space management by default
  src/v/config/configuration.cc
  src/v/resource_mgmt/storage.cc
  src/v/storage/disk_log_impl.cc
  tests/rptest/tests/cluster_config_test.py
Labels: area/redpanda

#16052 [v23.3.x] storage: enable space management by default
  src/v/config/configuration.cc
  src/v/resource_mgmt/storage.cc
  src/v/storage/disk_log_impl.cc
  tests/rptest/tests/cluster_config_test.py
Labels: area/redpanda, kind/backport

#16029 features: Update to version 12
  src/v/features/feature_table.cc
Labels: area/redpanda

#16050 rpk/transform/deploy: support http deploys
  src/go/rpk/pkg/cli/transform/deploy.go
Labels: area/rpk

#16053 build: make random a foundational library
  src/v/bytes/CMakeLists.txt
  src/v/bytes/random.cc
  src/v/bytes/random.h
  src/v/bytes/tests/CMakeLists.txt
  src/v/bytes/tests/iobuf_tests.cc
  src/v/bytes/tests/iobuf_utils_tests.cc
  src/v/compression/tests/CMakeLists.txt
  src/v/finjector/CMakeLists.txt
  src/v/hashing/tests/CMakeLists.txt
  src/v/kafka/protocol/tests/field_parser_test.cc
  src/v/kafka/server/tests/group_metadata_serialization_test.cc
  src/v/model/tests/CMakeLists.txt
  src/v/model/tests/random_batch.cc
  src/v/model/tests/randoms.h
  src/v/pandaproxy/test/CMakeLists.txt
  src/v/raft/tests/append_entries_test.cc
  src/v/raft/tests/offset_translator_tests.cc
  src/v/raft/tests/raft_fixture.h
  src/v/random/CMakeLists.txt
  src/v/random/README.md
  src/v/random/generators.cc
  src/v/random/include/random/generators.h
  src/v/random/tests/CMakeLists.txt
  src/v/random/tests/random_test.cc
  src/v/reflection/test/CMakeLists.txt
  src/v/rpc/test/rpc_gen_cycling_test.cc
  src/v/security/CMakeLists.txt
  src/v/security/scram_algorithm.h
  src/v/security/scram_authenticator.cc
  src/v/storage/CMakeLists.txt
  src/v/storage/tests/CMakeLists.txt
  src/v/storage/tests/batch_cache_test.cc
  src/v/storage/tests/compaction_idx_bench.cc
  src/v/storage/tests/compaction_index_format_tests.cc
  src/v/storage/tests/compaction_reducer_test.cc
  src/v/storage/tests/kvstore_test.cc
  src/v/storage/tests/log_manager_test.cc
  src/v/storage/tests/log_segment_appender_test.cc
  src/v/storage/tests/snapshot_test.cc
  src/v/storage/tests/storage_e2e_test.cc
  src/v/test_utils/CMakeLists.txt
  src/v/test_utils/randoms.h
  src/v/utils/CMakeLists.txt
  src/v/utils/tests/CMakeLists.txt
  src/v/utils/tests/base64_test.cc
  src/v/utils/tests/input_stream_fanout_test.cc
  src/v/wasm/tests/ffi_helpers_test.cc
Labels: area/redpanda

#15948 cloud_storage: Improve scrubber
  src/v/cloud_storage/tests/anomalies_detector_test.cc
  src/v/cloud_storage/types.cc
  src/v/cloud_storage/types.h
  src/v/config/configuration.cc
  src/v/redpanda/admin/api-doc/shadow_indexing.json
  src/v/redpanda/admin/server.cc
Labels: area/redpanda

#16071 archival: avoid division by 0 when computing slow down rate
  src/v/archival/upload_housekeeping_service.cc
Labels: area/redpanda

#16070 metrics: fix controller snapshot upload metrics
  src/v/cloud_storage/remote_probe.h
Labels: area/redpanda

#16073 [v23.3.x] archival: avoid division by 0 when computing slow down rate
  src/v/archival/upload_housekeeping_service.cc
Labels: area/redpanda, kind/backport

#16074 [v23.3.x] metrics: fix controller snapshot upload metrics
  src/v/cloud_storage/remote_probe.h
Labels: area/redpanda, kind/backport

#16068 r/group_manager: protect against race with set_ready()
  src/v/raft/group_manager.cc
Labels: area/redpanda

#16077 storage: don't enable non-strict retention by default
  src/v/config/configuration.cc
  src/v/storage/disk_log_impl.cc
  tests/rptest/tests/cluster_config_test.py
Labels: area/redpanda

#16082 [v23.2.x] r/group_manager: protect against race with set_ready()
  src/v/raft/group_manager.cc
Labels: area/redpanda, kind/backport

#16067 Introduced partition shutdown watchdog timer
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/application.cc
Labels: area/redpanda

#16080 [v23.3.x] r/group_manager: protect against race with set_ready()
  src/v/raft/group_manager.cc
Labels: area/redpanda, kind/backport

#16085 [v23.1.x] r/group_manager: protect against race with set_ready()
  src/v/raft/group_manager.cc
Labels: area/redpanda, kind/backport

#15966 Add partition aggregation to some metrics
  src/v/cluster/partition_probe.cc
  src/v/cluster/rm_stm.cc
  src/v/raft/consensus.cc
  src/v/storage/probe.cc
Labels: area/redpanda

#16095 transform-sdk: decouple releases from broker
  .github/workflows/transform-sdk-release.yml
  src/transform-sdk/rust/scripts/publish.py
Labels: area/build, area/wasm

#16099 [v23.2.x] archival: Use explicit types to encode upload candidate creation result
  src/v/archival/archival_policy.cc
  src/v/archival/archival_policy.h
  src/v/archival/ntp_archiver_service.cc
  src/v/archival/ntp_archiver_service.h
  src/v/archival/segment_reupload.cc
  src/v/archival/segment_reupload.h
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/archival/tests/segment_reupload_test.cc
  src/v/test_utils/archival.h
Labels: area/redpanda, kind/backport

#16055 Controller backend: reconcile each ntp in individual fibers
  src/v/cluster/controller.cc
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
  src/v/config/configuration.cc
  src/v/ssx/event.h
  src/v/ssx/tests/CMakeLists.txt
  src/v/ssx/tests/event_test.cc
Labels: area/redpanda

#16100 [v23.3.x] Add partition aggregation to some metrics
  src/v/cluster/partition_probe.cc
  src/v/cluster/rm_stm.cc
  src/v/raft/consensus.cc
  src/v/storage/probe.cc
Labels: area/redpanda, kind/backport

#15821 Check that the data dir exists
  src/v/redpanda/application.cc
  src/v/syschecks/syschecks.cc
  src/v/syschecks/syschecks.h
Labels: area/redpanda

#15616 Add at: in Top-N alloc site output
  src/v/resource_mgmt/memory_sampling.cc
  src/v/resource_mgmt/memory_sampling.h
Labels: area/redpanda

#14599 archival: Start housekeeping jobs after STM sync
  src/v/archival/ntp_archiver_service.cc
Labels: area/redpanda

#16076 gha: use latest action for stale
  .github/workflows/stale.yml
Labels: area/build

#15977 Reject PP/SR HTTP requests if cross shard semaphore has been exhausted
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/pandaproxy/reply.h
  src/v/pandaproxy/rest/proxy.cc
  src/v/pandaproxy/rest/proxy.h
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/service.h
  src/v/pandaproxy/server.cc
  src/v/pandaproxy/server.h
  src/v/redpanda/application.cc
  src/v/utils/adjustable_semaphore.h
Labels: area/redpanda

#16063 [v23.3.x] rpk/transform/deploy: support http deploys
  src/go/rpk/pkg/cli/transform/deploy.go
Labels: area/rpk, kind/backport

#16112 [v23.2.x] Fix for CI Failure (Failed to make list_offsets request, unknown broker) in DeleteRecordsTest.test_delete_records_segment_deletion
  tests/rptest/tests/delete_records_test.py
Labels: kind/backport

#16113 [v23.3.x] Fix for CI Failure (Failed to make list_offsets request, unknown broker) in DeleteRecordsTest.test_delete_records_segment_deletion
  tests/rptest/tests/delete_records_test.py
Labels: kind/backport

#16121 hashing: remove unused hashing code
  src/v/hashing/fnv.h
  src/v/hashing/jenkins.h
  src/v/hashing/tests/hash_bench.cc
  src/v/hashing/twang.h
Labels: area/redpanda

#16114 transform: create smp and scheduling groups
  src/v/redpanda/application.cc
  src/v/resource_mgmt/CMakeLists.txt
  src/v/resource_mgmt/cpu_scheduling.h
  src/v/resource_mgmt/smp_groups.cc
  src/v/resource_mgmt/smp_groups.h
  src/v/ssx/work_queue.cc
  src/v/ssx/work_queue.h
  src/v/transform/api.cc
  src/v/transform/api.h
  src/v/transform/rpc/deps.cc
  src/v/transform/rpc/deps.h
  src/v/transform/rpc/service.cc
  src/v/transform/tests/transform_manager_test.cc
  src/v/transform/transform_manager.cc
  src/v/transform/transform_manager.h
Labels: area/redpanda

#16140 gha: run build-redpanda workflow once per day
  .github/workflows/build-redpanda.yml
Labels: area/build

#16141 [v23.3.x] gha: don't need to run this workflow on v23.3.x
  .github/workflows/build-redpanda.yml
Labels: area/build

#15831 [v23.2.x] Added metric representing bytes read from follower
  src/v/cluster/partition_probe.cc
  src/v/cluster/partition_probe.h
  src/v/kafka/server/handlers/fetch.cc
  tests/rptest/services/redpanda.py
  tests/rptest/tests/follower_fetching_test.py
  tests/rptest/tests/raft_recovery_test.py
Labels: area/redpanda, kind/backport

#16056 audit: Reduce the number of memory allocations in the hotpath
  src/v/hashing/utils.h
  src/v/security/acl.h
  src/v/security/audit/CMakeLists.txt
  src/v/security/audit/audit_log_manager.cc
  src/v/security/audit/audit_log_manager.h
  src/v/security/audit/schemas/application_activity.h
  src/v/security/audit/schemas/hashing_utils.cc
  src/v/security/audit/schemas/hashing_utils.h
  src/v/security/audit/schemas/iam.h
  src/v/security/audit/schemas/schemas.h
  src/v/security/audit/schemas/tests/ocsf_schemas_test.cc
  src/v/security/audit/schemas/types.h
  src/v/security/audit/schemas/utils.cc
  src/v/security/audit/schemas/utils.h
  src/v/security/audit/tests/audit_log_test.cc
Labels: area/redpanda

#16152 build: move frag_vec to container library
  src/v/archival/ntp_archiver_service.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/recursive_directory_walker.h
  src/v/cloud_storage/tx_range_manifest.cc
  src/v/cloud_storage/tx_range_manifest.h
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/cloud_metadata/offsets_lookup_rpc_types.h
  src/v/cluster/cloud_metadata/offsets_snapshot.h
  src/v/cluster/cloud_metadata/offsets_upload_rpc_types.h
  src/v/cluster/cloud_metadata/uploader.cc
  src/v/cluster/controller_snapshot.h
  src/v/cluster/migrations/tx_manager_migrator.cc
  src/v/cluster/migrations/tx_manager_migrator.h
  src/v/cluster/migrations/tx_manager_migrator_types.h
  src/v/cluster/partition.h
  src/v/cluster/rm_stm.h
  src/v/cluster/scheduling/leader_balancer_random.h
  src/v/cluster/tm_stm.h
  src/v/container/CMakeLists.txt
  src/v/container/include/container/fragmented_vector.h
  src/v/container/tests/CMakeLists.txt
  src/v/container/tests/fragmented_vector_async_test.cc
  src/v/container/tests/fragmented_vector_test.cc
  src/v/json/json.h
  src/v/kafka/client/topic_cache.cc
  src/v/kafka/client/topic_cache.h
  src/v/kafka/protocol/offset_fetch.h
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/server/group.cc
  src/v/kafka/server/usage_aggregator.h
  src/v/kafka/server/usage_manager.h
  src/v/model/record_batch_reader.cc
  src/v/model/record_batch_reader.h
  src/v/pandaproxy/parsing/CMakeLists.txt
  src/v/raft/consensus_utils.cc
  src/v/raft/persisted_stm.h
  src/v/redpanda/admin/server.cc
  src/v/reflection/type_traits.h
  src/v/serde/test/serde_test.cc
  src/v/storage/compaction_reducers.h
  src/v/storage/index_state.h
  src/v/storage/key_offset_map.h
  src/v/storage/segment_appender.h
  src/v/storage/types.h
  src/v/transform/rpc/serde.h
  src/v/utils/tests/CMakeLists.txt
Labels: area/redpanda

#16139 [v23.3.x] transform: create smp and scheduling groups
  src/v/cluster/bootstrap_service.cc
  src/v/cluster/bootstrap_service.h
  src/v/cluster/cloud_metadata/offsets_recovery_service.h
  src/v/cluster/ephemeral_credential_service.cc
  src/v/cluster/ephemeral_credential_service.h
  src/v/cluster/id_allocator.cc
  src/v/cluster/id_allocator.h
  src/v/cluster/metadata_dissemination_handler.cc
  src/v/cluster/metadata_dissemination_handler.h
  src/v/cluster/migrations/tx_manager_migrator_handler.h
  src/v/cluster/node_status_rpc_handler.cc
  src/v/cluster/node_status_rpc_handler.h
  src/v/cluster/partition_balancer_rpc_handler.cc
  src/v/cluster/partition_balancer_rpc_handler.h
  src/v/cluster/self_test_rpc_handler.cc
  src/v/cluster/self_test_rpc_handler.h
  src/v/cluster/service.cc
  src/v/cluster/service.h
  src/v/cluster/topic_recovery_status_rpc_handler.cc
  src/v/cluster/topic_recovery_status_rpc_handler.h
  src/v/cluster/tx_gateway.cc
  src/v/cluster/tx_gateway.h
  src/v/raft/service.h
  src/v/redpanda/application.cc
  src/v/resource_mgmt/CMakeLists.txt
  src/v/resource_mgmt/cpu_scheduling.h
  src/v/resource_mgmt/smp_groups.cc
  src/v/resource_mgmt/smp_groups.h
  src/v/rpc/rpc_compiler.py
  src/v/rpc/test/rpc_gen_cycling_test.cc
  src/v/ssx/work_queue.cc
  src/v/ssx/work_queue.h
  src/v/transform/api.cc
  src/v/transform/api.h
  src/v/transform/rpc/deps.cc
  src/v/transform/rpc/deps.h
  src/v/transform/rpc/service.cc
  src/v/transform/rpc/service.h
  src/v/transform/tests/transform_manager_test.cc
  src/v/transform/transform_manager.cc
  src/v/transform/transform_manager.h
Labels: area/redpanda, kind/backport

#16146 k/replicated_partition: fixed fetch offset validation for follower fetching
  src/v/kafka/server/replicated_partition.cc
Labels: area/redpanda

#16163 archival: Delete replaced segments during spillover GC
  src/v/archival/ntp_archiver_service.cc
Labels: area/redpanda, area/cloud-storage, sev/high

#16156 rpc: fix correlation_id overflow
  src/v/rpc/netbuf.cc
  src/v/rpc/transport.cc
Labels: area/redpanda

#16111 [v23.3.x] archival: Start housekeeping jobs after STM sync
  src/v/archival/ntp_archiver_service.cc
Labels: area/redpanda, kind/backport

#16120 [v23.3.x] rptest: Additional logging audit_log_test infra
  tests/rptest/tests/audit_log_test.py
Labels: kind/backport

#16151 [v23.3.x] ci: Fix flink install on ARM64
  tests/docker/ducktape-deps/flink
Labels: kind/backport

#16131 [v23.3.x] rptest/scale_test: Remove p50 check in audit test
  tests/rptest/scale_tests/audit_log_test.py
Labels: kind/backport

#16091 [v23.3.x] rptest: use 10 nodes in OMB validation tests
  tests/rptest/redpanda_cloud_tests/omb_validation_test.py
Labels: kind/backport

#16170 [v23.3.x] archival: Delete replaced segments during spillover GC
  src/v/archival/ntp_archiver_service.cc
Labels: area/redpanda, kind/backport

#15812 [v23.2.x] Ext4 detection
  src/v/syschecks/syschecks.cc
Labels: area/redpanda, kind/backport

#16166 [v23.2.x] archival: Delete replaced segments during spillover GC
  src/v/archival/ntp_archiver_service.cc
Labels: area/redpanda

#16153 Introduce `wasm::logger`
  src/v/transform/api.cc
  src/v/transform/transform_logger.h
  src/v/wasm/api.h
  src/v/wasm/cache.cc
  src/v/wasm/cache.h
  src/v/wasm/fwd.h
  src/v/wasm/tests/wasi_logs_test.cc
  src/v/wasm/tests/wasm_cache_test.cc
  src/v/wasm/tests/wasm_fixture.cc
  src/v/wasm/tests/wasm_logger.h
  src/v/wasm/tests/wasm_transform_bench.cc
  src/v/wasm/wasi.cc
  src/v/wasm/wasi.h
  src/v/wasm/wasmtime.cc
Labels: area/redpanda

#16175 [v23.2.x] rpc: fix correlation_id overflow
  src/v/rpc/netbuf.cc
  src/v/rpc/transport.cc
Labels: area/redpanda, kind/backport

#16160 cloud_storage: use fragvec to hold replaced segments
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
Labels: area/redpanda

#16176 [v23.3.x] rpc: fix correlation_id overflow
  src/v/rpc/netbuf.cc
  src/v/rpc/transport.cc
Labels: area/redpanda, kind/backport

#16169 [v23.3.x] k/replicated_partition: fixed fetch offset validation for follower fetching
  src/v/kafka/server/replicated_partition.cc
Labels: area/redpanda, kind/backport

#16178 [v23.3.x] c/log_eviction_stm: do not request snapshot if already progressed
  src/v/cluster/log_eviction_stm.cc
Labels: area/redpanda

#16147 [v23.3.x] audit: Reduce the number of memory allocations in the hotpath
  src/v/hashing/utils.h
  src/v/security/acl.h
  src/v/security/audit/CMakeLists.txt
  src/v/security/audit/audit_log_manager.cc
  src/v/security/audit/audit_log_manager.h
  src/v/security/audit/schemas/application_activity.h
  src/v/security/audit/schemas/hashing_utils.cc
  src/v/security/audit/schemas/hashing_utils.h
  src/v/security/audit/schemas/iam.h
  src/v/security/audit/schemas/schemas.h
  src/v/security/audit/schemas/tests/ocsf_schemas_test.cc
  src/v/security/audit/schemas/types.h
  src/v/security/audit/schemas/utils.cc
  src/v/security/audit/schemas/utils.h
  src/v/security/audit/tests/audit_log_test.cc
Labels: area/redpanda, kind/backport

#16188 [v23.3.x] cloud_storage: use fragvec to hold replaced segments
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
Labels: area/redpanda, kind/backport

#16103 [v23.3.x] Add at: in Top-N alloc site output
  src/v/resource_mgmt/memory_sampling.cc
  src/v/resource_mgmt/memory_sampling.h
Labels: area/redpanda, kind/backport

#16104 [v23.2.x] Add at: in Top-N alloc site output
  src/v/resource_mgmt/memory_sampling.cc
  src/v/resource_mgmt/memory_sampling.h
Labels: area/redpanda, kind/backport

#16180 rpk/transform/init: fix rust template
  src/go/rpk/pkg/cli/transform/template/rust/main.rustsrc
Labels: area/rpk

#16168 [v23.2.x] k/replicated_partition: fixed fetch offset validation for follower fetching
  src/v/kafka/server/replicated_partition.cc
Labels: area/redpanda, kind/backport

#16154 scheduling_groups: report cpu usage for all cores
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/resource_mgmt/scheduling_groups_probe.h
Labels: area/redpanda

#16191 [v23.2.x] cloud_storage: use fragvec to hold replaced segments
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cluster/archival_metadata_stm.cc
  src/v/cluster/archival_metadata_stm.h
Labels: area/redpanda, kind/backport

#16172 config/configuration: set cloud_storage_spillover_manifest_size
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/config/configuration.cc
  tests/rptest/perf/ts_read_openmessaging_test.py
  tests/rptest/perf/ts_write_openmessaging_test.py
  tests/rptest/scale_tests/tiered_storage_single_partition_test.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/archive_retention_test.py
  tests/rptest/tests/cloud_retention_test.py
  tests/rptest/tests/cloud_storage_scrubber_test.py
  tests/rptest/tests/cloud_storage_timing_stress_test.py
  tests/rptest/tests/e2e_shadow_indexing_test.py
  tests/rptest/tests/offset_for_leader_epoch_archival_test.py
  tests/rptest/tests/read_replica_e2e_test.py
  tests/rptest/tests/tiered_storage_model.py
  tests/rptest/tests/tiered_storage_model_test.py
  tests/rptest/tests/timequery_test.py
  tests/rptest/tests/topic_delete_test.py
Labels: area/redpanda

#16174 [v23.3.x] config/configuration: set cloud_storage_spillover_manifest_size
  src/v/archival/tests/ntp_archiver_test.cc
  src/v/config/configuration.cc
  tests/rptest/perf/ts_read_openmessaging_test.py
  tests/rptest/perf/ts_write_openmessaging_test.py
  tests/rptest/scale_tests/tiered_storage_single_partition_test.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/archive_retention_test.py
  tests/rptest/tests/cloud_retention_test.py
  tests/rptest/tests/cloud_storage_scrubber_test.py
  tests/rptest/tests/cloud_storage_timing_stress_test.py
  tests/rptest/tests/e2e_shadow_indexing_test.py
  tests/rptest/tests/offset_for_leader_epoch_archival_test.py
  tests/rptest/tests/read_replica_e2e_test.py
  tests/rptest/tests/tiered_storage_model.py
  tests/rptest/tests/tiered_storage_model_test.py
  tests/rptest/tests/timequery_test.py
  tests/rptest/tests/topic_delete_test.py
Labels: area/redpanda, kind/backport

#16203 [v23.3.x] scheduling_groups: report cpu usage for all cores
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/resource_mgmt/scheduling_groups_probe.h
Labels: area/redpanda, kind/backport

#16194 [v23.3.x] rpk/transform/init: fix rust template
  src/go/rpk/pkg/cli/transform/template/rust/main.rustsrc
Labels: area/rpk, kind/backport

#16195 [v23.3.x] Introduce wasm::logger
  src/v/transform/api.cc
  src/v/transform/transform_logger.h
  src/v/wasm/api.h
  src/v/wasm/cache.cc
  src/v/wasm/cache.h
  src/v/wasm/fwd.h
  src/v/wasm/tests/wasi_logs_test.cc
  src/v/wasm/tests/wasm_cache_test.cc
  src/v/wasm/tests/wasm_fixture.cc
  src/v/wasm/tests/wasm_logger.h
  src/v/wasm/tests/wasm_transform_bench.cc
  src/v/wasm/wasi.cc
  src/v/wasm/wasi.h
  src/v/wasm/wasmtime.cc
Labels: area/redpanda, kind/backport

#16182 [v23.3.x] Rename max_client_count to max_connection_count
  tests/rptest/redpanda_cloud_tests/high_throughput_test.py
  tests/rptest/redpanda_cloud_tests/omb_validation_test.py
  tests/rptest/services/redpanda_cloud.py
Labels: kind/backport

#15886 [v23.2.x] gh/workflow: add build message in promote trigger
  .github/workflows/promote.yml
Labels: area/build, kind/backport

#14983 [v23.1.x] Fixed handling Raft snapshot
  src/v/raft/consensus.cc
  src/v/raft/state_machine.cc
  src/v/raft/state_machine.h
Labels: area/redpanda, kind/backport

#16215 io: add fault injection helpers to persistence layer
  src/v/io/page_set.h
  src/v/io/persistence.cc
  src/v/io/persistence.h
  src/v/io/tests/persistence_test.cc
Labels: area/redpanda

#16221 [v23.2.x] Fixed skipping application of raft snapshot
  src/v/cluster/persisted_stm.cc
Labels: area/redpanda

#16189 archival: apply PR feedback
  src/v/cluster/archival_metadata_stm.cc
Labels: area/redpanda

#16185 transform: list committed offsets
  src/v/cluster/distributed_kv_stm.h
  src/v/model/transform.h
  src/v/redpanda/admin/api-doc/transform.json
  src/v/redpanda/admin/server.cc
  src/v/redpanda/admin/server.h
  src/v/redpanda/admin/transform.cc
  src/v/redpanda/admin/util.cc
  src/v/redpanda/admin/util.h
  src/v/transform/api.cc
  src/v/transform/api.h
  src/v/transform/rpc/client.cc
  src/v/transform/rpc/client.h
  src/v/transform/rpc/deps.cc
  src/v/transform/rpc/deps.h
  src/v/transform/rpc/rpc.json
  src/v/transform/rpc/serde.cc
  src/v/transform/rpc/serde.h
  src/v/transform/rpc/service.cc
  src/v/transform/rpc/service.h
  src/v/transform/rpc/tests/transform_rpc_test.cc
  tests/rptest/services/admin.py
  tests/rptest/tests/data_transforms_test.py
Labels: area/redpanda

#16246 [v23.3.x] tests/rptest/tests/tiered_storage_model_test: ignore
  tests/rptest/tests/tiered_storage_model_test.py
Labels: kind/backport

#16233 admin api: skip partition info in /brokers end point
  src/v/redpanda/admin/server.cc
Labels: area/redpanda

#16258 gha: don't mark backports as drafts
  .github/workflows/scripts/backport-command/create_pr.sh
Labels: area/build

#16254 [v23.2.x] admin api: skip partition info in /brokers end point
  src/v/redpanda/admin_server.cc
Labels: area/redpanda, kind/backport

#16247 Changed the `partition_status` `chunked_fifo` chunk size to `8`
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_types.cc
  src/v/cluster/health_monitor_types.h
  src/v/cluster/tests/health_monitor_test.cc
  src/v/cluster/tests/partition_balancer_simulator_test.cc
  src/v/cluster/tests/randoms.h
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/compat/cluster_json.h
  src/v/compat/json.h
  src/v/json/json.h
  src/v/utils/to_string.h
Labels: area/redpanda

#16239 [v23.2.x] c/topics_dispatcher: do not guesstimate leader ids
  src/v/cluster/partition_leaders_table.cc
  src/v/cluster/partition_leaders_table.h
  src/v/cluster/tests/metadata_dissemination_test.cc
  src/v/cluster/topic_updates_dispatcher.cc
  src/v/cluster/topic_updates_dispatcher.h
  src/v/kafka/server/handlers/metadata.cc
  tests/rptest/tests/consumer_group_recovery_tool_test.py
  tests/rptest/tests/partition_force_reconfiguration_test.py
  tests/rptest/tests/upgrade_test.py
Labels: area/redpanda

#16269 [v23.3.x] tests: updated flink to 1.18.1
  tests/docker/ducktape-deps/flink
Labels: kind/backport

#16255 [v23.3.x] admin api: skip partition info in /brokers end point
  src/v/redpanda/admin/server.cc
Labels: area/redpanda, kind/backport

#16266 [v23.3.x] Changed the `partition_status` `chunked_fifo` chunk size to `8`
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_types.cc
  src/v/cluster/health_monitor_types.h
  src/v/cluster/tests/health_monitor_test.cc
  src/v/cluster/tests/partition_balancer_simulator_test.cc
  src/v/cluster/tests/randoms.h
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/compat/cluster_json.h
  src/v/compat/json.h
  src/v/json/json.h
  src/v/utils/to_string.h
Labels: area/redpanda, kind/backport

#16236 [v23.3.x] c/topics_dispatcher: do not guesstimate leader ids
  src/v/cluster/partition_leaders_table.cc
  src/v/cluster/partition_leaders_table.h
  src/v/cluster/tests/metadata_dissemination_test.cc
  src/v/cluster/topic_updates_dispatcher.cc
  src/v/cluster/topic_updates_dispatcher.h
  src/v/kafka/server/handlers/metadata.cc
  tests/rptest/tests/consumer_group_recovery_tool_test.py
  tests/rptest/tests/partition_force_reconfiguration_test.py
  tests/rptest/tests/upgrade_test.py
Labels: area/redpanda, kind/backport

#16216 [v23.3.x] Introduced partition shutdown watchdog timer
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/application.cc
Labels: area/redpanda

#16272 [v23.3.x] metrics: fix kafka_max_offset on read replicas
  src/v/cluster/partition_probe.cc
  tests/rptest/services/redpanda.py
  tests/rptest/tests/read_replica_e2e_test.py
Labels: area/redpanda, kind/backport

#16279 [v23.3.x] rptest: Wait for the group to be in a stable state before starting tests
  tests/rptest/tests/consumer_group_test.py
Labels: kind/backport

#16275 [v23.2.x] metrics: fix kafka_max_offset on read replicas
  src/v/cluster/partition_probe.cc
  tests/rptest/services/redpanda.py
  tests/rptest/tests/read_replica_e2e_test.py
Labels: area/redpanda

#16282 [v23.2.x] cloud_storage: hold gate in hydration
  src/v/cloud_storage/remote_segment.cc
Labels: area/redpanda

#14468 Add enable override to the CPU profiler API
  src/v/config/property.h
  src/v/redpanda/admin/api-doc/debug.json
  src/v/redpanda/admin/debug.cc
  src/v/resource_mgmt/cpu_profiler.cc
  src/v/resource_mgmt/cpu_profiler.h
  src/v/resource_mgmt/tests/cpu_profiler_test.cc
  tests/rptest/services/admin.py
  tests/rptest/tests/cpu_profiler_admin_api_test.py
Labels: area/redpanda

#16293 labeler: apply wasm label for Redpanda subsystems
  .github/labeler.yml
Labels: area/build, area/wasm
