Repository redpanda-data/redpanda, pull requests merged in 2025-08, with the labels that each got.

#27081 protobuf/rpc: prevent direct usage of base_exception
  src/v/kafka/client/direct_consumer/verifier/BUILD
  src/v/kafka/client/direct_consumer/verifier/application.cc
  src/v/serde/protobuf/rpc.h
Labels: area/build, area/redpanda

#26851 [v24.3.x] raft/voter_priority_tracker: fix first leader nepo
  src/v/raft/voter_priority_tracker.h
  tests/rptest/tests/raft_availability_test.py
Labels: area/redpanda, kind/backport

#27014 Data migrations worker rework
  src/v/cluster/data_migration_worker.cc
  src/v/cluster/data_migration_worker.h
  tests/rptest/tests/data_migrations_api_test.py
Labels: area/redpanda

#26947 cloud topics: introduce cluster::epoch_generator
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/batch_cache/batch_cache.cc
  src/v/cloud_topics/cluster_services.h
  src/v/cloud_topics/data_plane_impl.cc
  src/v/cloud_topics/data_plane_impl.h
  src/v/cloud_topics/ephemeral_cluster_services.h
  src/v/cloud_topics/errc.h
  src/v/cloud_topics/level_zero/batcher/batcher.cc
  src/v/cloud_topics/level_zero/batcher/tests/batcher_test.cc
  src/v/cloud_topics/level_zero/pipeline/read_pipeline.cc
  src/v/cloud_topics/level_zero/reconciler/BUILD
  src/v/cloud_topics/level_zero/reconciler/reconciler.cc
  src/v/cloud_topics/level_zero/reconciler/reconciler.h
  src/v/cluster/BUILD
  src/v/cluster/cluster_epoch_service.cc
  src/v/cluster/cluster_epoch_service.h
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/controller.json
  src/v/cluster/service.cc
  src/v/cluster/service.h
  src/v/cluster/tests/BUILD
  src/v/cluster/tests/epoch_service_test.cc
  src/v/cluster/types.h
  src/v/raft/state_machine.h
  src/v/redpanda/BUILD
  src/v/redpanda/application.cc
  tests/rptest/tests/cloud_topics_test.py
Labels: area/build, area/redpanda

#27100 rpc: remove requirement for `rpc_adl_exempt` tag
  src/v/cloud_topics/level_one/metastore/rpc_types.h
  src/v/cluster/bootstrap_types.h
  src/v/cluster/client_quota_serde.h
  src/v/cluster/cloud_metadata/offsets_lookup_rpc_types.h
  src/v/cluster/cloud_metadata/offsets_recovery_rpc_types.h
  src/v/cluster/cloud_metadata/offsets_snapshot.h
  src/v/cluster/cloud_metadata/offsets_upload_rpc_types.h
  src/v/cluster/data_migration_types.h
  src/v/cluster/ephemeral_credential_serde.h
  src/v/cluster/health_monitor_types.h
  src/v/cluster/metadata_dissemination_types.h
  src/v/cluster/migrations/tx_manager_migrator_types.h
  src/v/cluster/node_status_rpc_types.h
  src/v/cluster/partition_balancer_types.h
  src/v/cluster/self_test_rpc_types.h
  src/v/cluster/tests/commands_serialization_test.cc
  src/v/cluster/topic_recovery_status_types.h
  src/v/cluster/tx_protocol_types.h
  src/v/cluster/types.h
  src/v/datalake/coordinator/types.h
  src/v/datalake/schema_identifier.h
  src/v/kafka/data/rpc/serde.h
  src/v/kafka/server/consumer_group_lag_metrics_rpc_types.h
  src/v/model/transform.h
  src/v/raft/heartbeats.h
  src/v/raft/transfer_leadership.h
  src/v/raft/types.h
  src/v/rpc/parse_utils.h
  src/v/rpc/service.h
  src/v/rpc/test/BUILD
  src/v/rpc/test/netbuf_tests.cc
  src/v/rpc/test/rpc_gen_types.h
  src/v/rpc/test/test_types.h
  src/v/transform/rpc/serde.h
Labels: area/build, area/redpanda, area/wasm

#27109 Remove backport option to v24.2.x
  .github/pull_request_template.md
Labels: area/build

#27114 `storage`: `const`-ify some functions with `mutable` `_bytes`
  src/v/raft/tests/failure_injectable_log.cc
  src/v/raft/tests/failure_injectable_log.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/log.h
Labels: area/redpanda

#27108 cloud_storage: split some bazel libs
  src/v/cloud_storage/BUILD
  src/v/cloud_storage/access_time_tracker.cc
  src/v/cloud_storage/access_time_tracker.h
  src/v/cloud_storage/cache_probe.h
  src/v/cloud_storage/cache_service.cc
  src/v/cloud_storage/cache_service.h
  src/v/cloud_storage/configuration.cc
  src/v/cloud_storage/configuration.h
  src/v/cloud_storage/inventory/tests/BUILD
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/segment_meta_cstore.cc
  src/v/cloud_storage/segment_meta_cstore.h
  src/v/cloud_storage/tests/BUILD
  src/v/cloud_storage/tests/cache_test_fixture.h
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cloud_storage/tests/cloud_storage_fixture.h
  src/v/cloud_storage/tests/partition_manifest_test.cc
  src/v/cloud_storage/tests/segment_meta_cstore_bench.cc
  src/v/cloud_storage/tx_range_manifest.cc
  src/v/cloud_storage/types.cc
  src/v/cloud_storage/types.h
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/frontend/BUILD
  src/v/cluster/BUILD
  src/v/cluster/archival/tests/BUILD
  src/v/cluster/archival/types.h
  src/v/cluster/cloud_metadata/cluster_manifest.cc
  src/v/cluster/cloud_metadata/cluster_manifest.h
  src/v/cluster/cloud_metadata/tests/BUILD
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
  src/v/cluster/health_monitor_frontend.h
  src/v/cluster/metadata_cache.cc
  src/v/cluster/node/local_monitor.cc
  src/v/cluster/node/types.h
  src/v/cluster/tests/BUILD
  src/v/cluster/tests/local_monitor_fixture.h
  src/v/cluster/tests/local_monitor_test.cc
  src/v/compat/storage_json.h
  src/v/kafka/data/BUILD
  src/v/kafka/data/cloud_topic_partition.cc
  src/v/redpanda/BUILD
  src/v/redpanda/admin/BUILD
  src/v/resource_mgmt/BUILD
  src/v/resource_mgmt/storage.h
  src/v/storage/BUILD
  src/v/storage/api.h
  src/v/storage/disk.cc
  src/v/storage/disk.h
  src/v/storage/log_manager.h
  src/v/storage/node.h
  src/v/storage/probe.h
  src/v/storage/tests/randoms.h
  src/v/storage/types.cc
  src/v/storage/types.h
Labels: area/build, area/redpanda

#27088 cloud_metadata/tests: skip tests locally if no license
  src/v/cluster/cloud_metadata/tests/BUILD
  src/v/cluster/cloud_metadata/tests/cluster_metadata_utils.h
  src/v/cluster/cloud_metadata/tests/cluster_recovery_backend_test.cc
  src/v/cluster/cloud_metadata/tests/controller_snapshot_reconciliation_test.cc
  src/v/features/tests/BUILD
  src/v/features/tests/feature_table_test.cc
  src/v/security/tests/BUILD
  src/v/security/tests/license_test.cc
  src/v/security/tests/license_utils.h
Labels: area/build, area/redpanda

#27003 cluster_link/replication: introduce partition_replicator & link_replication_mgr
  src/v/cluster_link/replication/BUILD
  src/v/cluster_link/replication/deps.h
  src/v/cluster_link/replication/link_replication_mgr.cc
  src/v/cluster_link/replication/link_replication_mgr.h
  src/v/cluster_link/replication/partition_replicator.cc
  src/v/cluster_link/replication/partition_replicator.h
  src/v/cluster_link/replication/tests/BUILD
  src/v/cluster_link/replication/tests/link_replication_mgr_tests.cc
  src/v/cluster_link/replication/tests/partition_replicator_tests.cc
  src/v/kafka/server/write_at_offset_stm.cc
  src/v/kafka/server/write_at_offset_stm.h
Labels: area/build, area/redpanda

#26996 raft/heartbeat_manager: race condition on _fstats
  src/v/raft/heartbeat_manager.cc
  src/v/raft/heartbeat_manager.h
Labels: area/redpanda

#27117 bazel: update seastar
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: area/build

#27128 raft/heartbeat_manager remove missing header
  src/v/raft/heartbeat_manager.cc
Labels: area/redpanda

#27122 ct/l1: support reading partial objects cleanly
  src/v/cloud_topics/level_one/common/object.cc
  src/v/cloud_topics/level_one/common/object.h
  src/v/cloud_topics/level_one/common/tests/object_test.cc
Labels: area/redpanda

#27131 tools: enable cloud topics in dev cluster
  tools/BUILD
  tools/dev_cluster.py
Labels: area/build

#27127 raft/tests/raft_reconfiguration_test deflake leak
  src/v/raft/tests/raft_reconfiguration_test.cc
Labels: area/redpanda

#27130 [v25.1.x] dl/tests: deflake iceberg usage test
  tests/rptest/tests/datalake/datalake_usage_test.py
Labels: kind/backport

#27132 raft: rename take_snapshot to take_raft_snapshot
  src/v/datalake/coordinator/state_machine.cc
  src/v/datalake/coordinator/state_machine.h
  src/v/raft/state_machine_base.h
  src/v/raft/tests/stm_manager_test.cc
Labels: area/redpanda

#26865 rpk: group describe shows coordinator partition
  MODULE.bazel
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/group/BUILD
  src/go/rpk/pkg/cli/group/describe.go
  tests/rptest/clients/rpk.py
  tests/rptest/tests/consumer_group_test.py
  tests/rptest/tests/rpk_group_test.py
Labels: area/rpk, area/build

#27137 cl/model: moved configuration out of the topic state
  src/v/cluster/cluster_link/frontend.cc
  src/v/cluster/cluster_link/tests/frontend_validation_test.cc
  src/v/cluster_link/model/tests/test_model.cc
  src/v/cluster_link/model/types.cc
  src/v/cluster_link/model/types.h
  src/v/cluster_link/source_topic_syncer.cc
  src/v/cluster_link/tests/source_topic_syncer_test.cc
Labels: area/redpanda

#27089 [v24.3.x] r/stm_manager: added watchdog logging an error when stm did not stop
  src/v/raft/BUILD
  src/v/raft/state_machine_manager.cc
  src/v/raft/state_machine_manager.h
Labels: area/build, area/redpanda, kind/backport

#27140 config, cluster: rename historical artifact latest_protobuf_value to value_schema_lates
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/metrics_reporter.h
  src/v/config/configuration.cc
  src/v/model/metadata.h
Labels: area/redpanda

#27139 Data migration worker bugfix
  src/v/cluster/data_migration_worker.cc
  src/v/cluster/data_migration_worker.h
Labels: area/redpanda

#27082 base: introduce format_to helper
  src/v/base/BUILD
  src/v/base/format_to.h
  src/v/base/tests/BUILD
  src/v/base/tests/format_to_test.cc
Labels: area/build, area/redpanda

#27145 [v25.2.x] config, cluster: rename historical artifact latest_protobuf_value to value_schema_lates
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/metrics_reporter.h
  src/v/config/configuration.cc
  src/v/model/metadata.h
Labels: area/redpanda, kind/backport

#27043 [v25.2.x] dt/si: Dial timeouts way down in fast uploads mode
  tests/rptest/services/redpanda.py
  tests/rptest/tests/archive_retention_test.py
  tests/rptest/util.py
Labels: kind/backport

#27064 [v25.2.x] tiered_storage_model_test: try to fix timeout
  tests/rptest/tests/tiered_storage_model_test.py
Labels: kind/backport

#27087 [v25.1.x] `storage`: bump sliding window compaction log lines to `INFO` (MANUAL BACKPORT)
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda

#27152 [v25.1.x] raft/basic_raft_fixture_test: deflake
  src/v/raft/tests/basic_raft_fixture_test.cc
Labels: area/redpanda, kind/backport

#27157 [v25.2.x] raft/basic_raft_fixture_test: deflake
  src/v/raft/tests/basic_raft_fixture_test.cc
Labels: area/redpanda, kind/backport

#27134 [v25.2.x] rpk: group describe shows coordinator partition
  MODULE.bazel
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/group/BUILD
  src/go/rpk/pkg/cli/group/describe.go
  tests/rptest/clients/rpk.py
  tests/rptest/tests/consumer_group_test.py
  tests/rptest/tests/rpk_group_test.py
Labels: area/rpk, area/build, kind/backport

#27126 [v25.2.x] raft/heartbeat_manager: race condition on _fstats
  src/v/raft/heartbeat_manager.cc
  src/v/raft/heartbeat_manager.h
Labels: area/redpanda, kind/backport

#27164 ct: reorganize cloud_topics::app
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/app.cc
  src/v/cloud_topics/app.h
  src/v/cloud_topics/data_plane_impl.cc
  src/v/cloud_topics/data_plane_impl.h
  src/v/cloud_topics/frontend/BUILD
  src/v/cloud_topics/frontend/errc.cc
  src/v/cloud_topics/frontend/errc.h
  src/v/cloud_topics/frontend/frontend.cc
  src/v/cloud_topics/frontend/frontend.h
  src/v/cloud_topics/level_one/metastore/frontend.cc
  src/v/cloud_topics/level_one/metastore/frontend.h
  src/v/cloud_topics/level_zero/reader/BUILD
  src/v/cloud_topics/level_zero/reconciler/BUILD
  src/v/cloud_topics/level_zero/reconciler/reconciler.cc
  src/v/cloud_topics/level_zero/reconciler/reconciler.h
  src/v/cloud_topics/state_accessors.h
  src/v/cluster/BUILD
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/kafka/data/BUILD
  src/v/kafka/data/cloud_topic_partition.cc
  src/v/kafka/data/partition_proxy.cc
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
Labels: area/build, area/redpanda

#27141 iceberg, datalake: prepare for compatibility with biglake metastore
  src/v/datalake/catalog_schema_manager.cc
  src/v/datalake/tests/catalog_schema_manager_test.cc
  src/v/iceberg/catalog.cc
  src/v/iceberg/schema.h
  src/v/iceberg/table_requirement_json.cc
  src/v/iceberg/table_update.h
  src/v/iceberg/table_update_applier.cc
  src/v/iceberg/tests/merge_append_action_test.cc
  src/v/iceberg/update_schema_action.cc
Labels: area/redpanda

#27162 [v25.2.x] dt/tests: deflake test_recovery_after_snapshot_is_delivered
  tests/rptest/tests/idempotency_test.py
Labels: kind/backport

#27160 [v25.2.x] raft/tests/raft_reconfiguration_test deflake leak
  src/v/raft/tests/raft_reconfiguration_test.cc
Labels: area/redpanda, kind/backport

#27159 [v25.1.x] raft/tests/raft_reconfiguration_test deflake leak
  src/v/raft/tests/raft_reconfiguration_test.cc
Labels: area/redpanda, kind/backport

#27158 [v24.3.x] raft/tests/raft_reconfiguration_test deflake leak
  src/v/raft/tests/raft_reconfiguration_test.cc
Labels: area/redpanda, kind/backport

#27124 [v25.1.x] raft/heartbeat_manager: race condition on _fstats
  src/v/raft/heartbeat_manager.cc
  src/v/raft/heartbeat_manager.h
Labels: area/redpanda, kind/backport

#27171 pbgen: support google.protobuf.Timestamp
  bazel/pbgen/main.go
  src/v/serde/protobuf/json.cc
  src/v/serde/protobuf/json.h
  src/v/serde/protobuf/support.h
  src/v/serde/protobuf/tests/BUILD
  src/v/serde/protobuf/tests/codegen_test.proto
  src/v/serde/protobuf/tests/goldens/codegen_test.proto.cc
  src/v/serde/protobuf/tests/goldens/codegen_test.proto.h
  src/v/serde/protobuf/tests/round_trip_test.cc
Labels: area/build, area/redpanda

#27172 ct: various review follow-ups
  src/v/cloud_topics/level_one/domain/BUILD
  src/v/cloud_topics/level_one/domain/domain_supervisor.cc
  src/v/cluster/partition.h
  src/v/redpanda/BUILD
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
Labels: area/build, area/redpanda

#27119 [v25.2.x] cloud_metadata/tests: skip tests locally if no license
  src/v/cluster/cloud_metadata/tests/BUILD
  src/v/cluster/cloud_metadata/tests/cluster_metadata_utils.h
  src/v/cluster/cloud_metadata/tests/cluster_recovery_backend_test.cc
  src/v/cluster/cloud_metadata/tests/controller_snapshot_reconciliation_test.cc
  src/v/features/tests/BUILD
  src/v/features/tests/feature_table_test.cc
  src/v/security/tests/BUILD
  src/v/security/tests/license_test.cc
  src/v/security/tests/license_utils.h
Labels: area/build, area/redpanda, kind/backport

#27039 cluster_link: admin api definition
  MODULE.bazel
  MODULE.bazel.lock
  bazel/pbgen/main.go
  proto/redpanda/core/admin/BUILD
  proto/redpanda/core/admin/shadow_link.proto
  proto/redpanda/core/common/BUILD
  proto/redpanda/core/common/acl.proto
  src/v/redpanda/BUILD
  src/v/redpanda/admin/services/shadow_link/BUILD
  src/v/redpanda/admin/services/shadow_link/shadow_link.cc
  src/v/redpanda/admin/services/shadow_link/shadow_link.h
  src/v/redpanda/application.cc
  src/v/serde/protobuf/tests/goldens/test_messages_edition2023.proto.h
Labels: area/build, area/redpanda

#27167 CORE-13040 schema_registry: return max id on post schema endpoints
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/types.h
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda

#27197 Revert "ducktape: upgrade to python 3.11"
  .github/workflows/publish-apache-polaris-python-client.yml
  tests/docker/Dockerfile
  tests/docker/ducktape-deps/flink
  tests/docker/ducktape-deps/python-deps
  tests/rptest/archival/s3_client.py
  tests/rptest/clients/rpk.py
  tests/rptest/clients/types.py
  tests/rptest/e2e_tests/workloads/flink_consume_basic.py
  tests/rptest/e2e_tests/workloads/flink_produce_basic.py
  tests/rptest/e2e_tests/workloads/flink_table_transactions_basic.py
  tests/rptest/e2e_tests/workloads/flink_transactions_scale.py
  tests/rptest/e2e_tests/workloads/flink_transactions_topic_swarm.py
  tests/rptest/scale_tests/large_messages_test.py
  tests/rptest/scale_tests/tiered_storage_cache_stress_test.py
  tests/rptest/services/admin.py
  tests/rptest/services/catalog_service.py
  tests/rptest/services/chaos/workloads/service_base.py
  tests/rptest/services/flink.py
  tests/rptest/services/machinetype.py
  tests/rptest/services/serde_client.py
  tests/rptest/services/storage_failure_injection.py
  tests/rptest/tests/audit_log_test.py
  tests/rptest/tests/datalake/datalake_dlq_test.py
  tests/rptest/tests/datalake/query_engine_base.py
  tests/rptest/tests/datalake/schema_evolution_test.py
  tests/rptest/tests/datalake/schemas/data_types.py
  tests/rptest/tests/node_pool_migration_test.py
  tests/rptest/tests/polaris_catalog_smoke_test.py
  tests/rptest/tests/polaris_catalog_test.py
  tests/rptest/tests/random_node_operations_test.py
  tests/rptest/tests/schema_registry_test.py
  tests/rptest/tests/write_caching_test.py
  tests/rptest/transactions/verifiers/compacted_verifier.py
  tests/rptest/utils/schema_registry_utils.py
  tests/setup.py
Labels: area/build

#27115 Update seastar v25.3.x
  MODULE.bazel.lock
  bazel/repositories.bzl
  bazel/thirdparty/seastar.BUILD
  src/v/pandaproxy/error.cc
  src/v/pandaproxy/error.h
Labels: area/build, area/redpanda

#27188 iceberg: a couple fixes found working with Glue + Redshift
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/iceberg/manifest_list_avro.cc
Labels: area/redpanda

#27200 cloud_topics: pass unique container name to service container
  src/v/cloud_topics/app.cc
  src/v/cloud_topics/app.h
  src/v/redpanda/application.cc
Labels: area/redpanda

#27210 [v25.2.x] fix(UX-376): rpk debug bundle time parser
  src/go/rpk/pkg/cli/debug/bundle/bundle_k8s_linux.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_test.go
Labels: area/rpk, kind/backport

#27209 [v25.1.x] fix(UX-376): rpk debug bundle time parser
  src/go/rpk/pkg/cli/debug/bundle/bundle_k8s_linux.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_test.go
Labels: area/rpk, kind/backport

#27206 [v25.2.x] iceberg: a couple fixes found working with Glue + Redshift
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/iceberg/manifest_list_avro.cc
Labels: area/redpanda, kind/backport

#27211 [v24.3.x] fix(UX-376): rpk debug bundle time parser
  src/go/rpk/pkg/cli/debug/bundle/bundle_k8s_linux.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_test.go
Labels: area/rpk, kind/backport

#27198 Update libxml2 2.14.5
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: area/build, area/redpanda

#27194 k/client: do not emit error on abort requested exception
  src/v/kafka/client/client.cc
Labels: area/redpanda

#27214 [v25.2.x] Update libxml2 2.14.5
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: area/build, kind/backport

#27121 CORE-13007 - Implement topic properties sync
  src/v/cluster/cluster_link/frontend.cc
  src/v/cluster/cluster_link/frontend.h
  src/v/cluster/cluster_link/table.cc
  src/v/cluster/cluster_link/table.h
  src/v/cluster/cluster_link/tests/frontend_validation_test.cc
  src/v/cluster/cluster_link/tests/table_test.cc
  src/v/cluster/cluster_link/tests/utils.cc
  src/v/cluster/cluster_link/tests/utils.h
  src/v/cluster/commands.h
  src/v/cluster/controller.json
  src/v/cluster/service.cc
  src/v/cluster/service.h
  src/v/cluster/types.h
  src/v/cluster_link/deps.h
  src/v/cluster_link/link.cc
  src/v/cluster_link/link.h
  src/v/cluster_link/manager.cc
  src/v/cluster_link/manager.h
  src/v/cluster_link/model/types.cc
  src/v/cluster_link/model/types.h
  src/v/cluster_link/service.cc
  src/v/cluster_link/source_topic_syncer.cc
  src/v/cluster_link/source_topic_syncer.h
  src/v/cluster_link/task.cc
  src/v/cluster_link/tests/BUILD
  src/v/cluster_link/tests/deps.h
  src/v/cluster_link/tests/link_test.cc
  src/v/cluster_link/tests/source_topic_syncer_test.cc
  src/v/cluster_link/tests/topic_properties_syncer_test.cc
  src/v/kafka/client/test/cluster_mock.cc
  src/v/kafka/client/test/cluster_mock.h
  src/v/kafka/client/topic_cache.cc
  src/v/kafka/client/topic_cache.h
  src/v/test_utils/async.h
Labels: area/build, area/redpanda

#27165 initial copilot-instructions.md
  .github/copilot-instructions.md
Labels: area/build

#27215 [v25.2.x] rpk: operation parsing fix for SR ACLs
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  tests/rptest/tests/rpk_acl_test.py
Labels: area/rpk, kind/backport

#27205 [v25.1.x] iceberg: a couple fixes found working with Glue + Redshift
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/iceberg/manifest_list_avro.cc
Labels: area/redpanda, kind/backport

#27225 bazel: add clangd wrapper script
  .vim/coc-settings.json
  src/v/.vim/coc-settings.json
  tools/clangd
Labels: area/redpanda

#27222 `compaction`: remove unused variable in `compaction_config` & test
  src/v/compaction/types.h
  src/v/storage/tests/compaction_fuzz_test.cc
Labels: area/redpanda

#27223 bazel: fork bazel-clang-tidy into redpanda
  .bazelrc
  MODULE.bazel
  bazel/clang_tidy/BUILD
  bazel/clang_tidy/clang_tidy.bzl
  bazel/clang_tidy/clang_tidy.py
Labels: area/build

#27233 [v25.1.x] tests: account for target reply bytes in delayed datalake enablement test
  tests/rptest/tests/datalake/datalake_e2e_test.py
Labels: kind/backport

#27187 pbgen: make protos formattable
  bazel/pbgen/main.go
  bazel/pbgen/pbgen.bzl
  proto/redpanda/README.md
  src/v/container/BUILD
  src/v/container/chunked_hash_map.h
  src/v/container/chunked_vector.h
  src/v/serde/protobuf/BUILD
  src/v/serde/protobuf/field_mask.cc
  src/v/serde/protobuf/field_mask.h
  src/v/serde/protobuf/tests/codegen_test.proto
  src/v/serde/protobuf/tests/goldens/codegen_test.proto.cc
  src/v/serde/protobuf/tests/goldens/codegen_test.proto.h
  src/v/serde/protobuf/tests/goldens/test_messages_edition2023.proto.cc
  src/v/serde/protobuf/tests/goldens/test_messages_edition2023.proto.h
  src/v/serde/protobuf/tests/round_trip_test.cc
  src/v/utils/BUILD
  src/v/utils/to_string.cc
  src/v/utils/to_string.h
Labels: area/build, area/redpanda

#27219 [v25.2.x] initial copilot-instructions.md
  .github/copilot-instructions.md
Labels: area/build, kind/backport

#27220 [v25.1.x] initial copilot-instructions.md
  .github/copilot-instructions.md
Labels: area/build, kind/backport

#27229 [v25.2.x] archival: Make 'get_stream' reentrant
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/segment_reupload.cc
Labels: area/redpanda, kind/backport

#27235 `tree-wide`: remove dependency on `storage/parser_utils`
  src/v/cluster/BUILD
  src/v/compaction/BUILD
  src/v/compaction/utils.cc
  src/v/compaction/utils.h
  src/v/datalake/BUILD
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/record_multiplexer_bench.cc
  src/v/kafka/protocol/BUILD
  src/v/kafka/protocol/kafka_batch_adapter.cc
  src/v/kafka/server/BUILD
  src/v/model/BUILD
  src/v/model/batch_compression.cc
  src/v/model/batch_compression.h
  src/v/model/record.cc
  src/v/model/record.h
  src/v/pandaproxy/BUILD
  src/v/pandaproxy/json/requests/fetch.h
  src/v/pandaproxy/schema_registry/BUILD
  src/v/pandaproxy/schema_registry/storage.h
  src/v/pandaproxy/schema_registry/validation.cc
  src/v/security/audit/BUILD
  src/v/security/audit/audit_log_manager.cc
  src/v/storage/BUILD
  src/v/storage/compaction_reducers.cc
  src/v/storage/log_reader.cc
  src/v/storage/parser_utils.h
  src/v/storage/record_batch_builder.cc
  src/v/storage/segment.cc
  src/v/storage/segment_utils.cc
  src/v/storage/tests/BUILD
  src/v/storage/tests/utils/log_gap_analysis.cc
  src/v/transform/BUILD
  src/v/transform/transform_processor.cc
  src/v/wasm/BUILD
  src/v/wasm/wasmtime.cc
Labels: area/build, area/redpanda, area/wasm

#27241 bazel: fix include_prefix merge skew
  src/v/model/BUILD
Labels: area/build, area/redpanda

#27238 ct/l1: return corrected next offsets from bad add_objects()
  src/v/cloud_topics/level_one/domain/domain_manager.cc
  src/v/cloud_topics/level_one/metastore/metastore.h
  src/v/cloud_topics/level_one/metastore/replicated_metastore.cc
  src/v/cloud_topics/level_one/metastore/replicated_metastore.h
  src/v/cloud_topics/level_one/metastore/rpc_types.h
  src/v/cloud_topics/level_one/metastore/simple_metastore.cc
  src/v/cloud_topics/level_one/metastore/simple_metastore.h
  src/v/cloud_topics/level_one/metastore/state_update.cc
  src/v/cloud_topics/level_one/metastore/state_update.h
  src/v/cloud_topics/level_one/metastore/tests/simple_metastore_test.cc
  src/v/cloud_topics/level_one/metastore/tests/state_update_test.cc
Labels: area/redpanda

#27150 ct: Update `ctp_stm`
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/frontend/BUILD
  src/v/cloud_topics/frontend/frontend.cc
  src/v/cloud_topics/frontend/frontend.h
  src/v/cloud_topics/frontend/tests/BUILD
  src/v/cloud_topics/frontend/tests/frontend_test.cc
  src/v/cloud_topics/level_zero/common/BUILD
  src/v/cloud_topics/level_zero/stm/BUILD
  src/v/cloud_topics/level_zero/stm/ctp_stm.cc
  src/v/cloud_topics/level_zero/stm/ctp_stm.h
  src/v/cloud_topics/level_zero/stm/ctp_stm_api.cc
  src/v/cloud_topics/level_zero/stm/ctp_stm_api.h
  src/v/cloud_topics/level_zero/stm/ctp_stm_commands.h
  src/v/cloud_topics/level_zero/stm/ctp_stm_offsets.h
  src/v/cloud_topics/level_zero/stm/ctp_stm_state.cc
  src/v/cloud_topics/level_zero/stm/ctp_stm_state.h
  src/v/cloud_topics/level_zero/stm/tests/BUILD
  src/v/cloud_topics/level_zero/stm/tests/ctp_stm_state_test.cc
  src/v/cloud_topics/level_zero/stm/tests/ctp_stm_test.cc
  src/v/cloud_topics/level_zero/stm/types.cc
  src/v/cloud_topics/level_zero/stm/types.h
  src/v/cloud_topics/tests/BUILD
  src/v/cloud_topics/tests/end_to_end_test.cc
  src/v/cloud_topics/tests/types_test.cc
  src/v/cloud_topics/types.cc
  src/v/cloud_topics/types.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
Labels: area/build, area/redpanda

#27231 k/groups: do not return ntp from the coordinator mapper
  src/v/cluster/data_migration_backend.cc
  src/v/cluster/data_migration_group_proxy.h
  src/v/kafka/server/coordinator_ntp_mapper.h
  src/v/kafka/server/data_migration_group_proxy_impl.cc
  src/v/kafka/server/data_migration_group_proxy_impl.h
  src/v/kafka/server/group_router.h
  src/v/kafka/server/handlers/find_coordinator.cc
  src/v/kafka/server/rm_group_frontend.cc
  src/v/kafka/server/tests/consumer_groups_test.cc
  src/v/redpanda/admin/transaction.cc
Labels: area/redpanda

#27106 `config`: make all `backlog_controller` properties `needs_restart::no`
  src/v/cluster/archival/upload_controller.cc
  src/v/config/configuration.cc
  src/v/redpanda/application.cc
  src/v/storage/backlog_controller.cc
  src/v/storage/backlog_controller.h
  src/v/storage/compaction_controller.cc
  src/v/storage/tests/BUILD
  src/v/storage/tests/backlog_controller_test.cc
Labels: area/build, area/redpanda

#27244 compression: remove model dependency
  src/v/compression/BUILD
  src/v/compression/compression.cc
  src/v/compression/compression.h
  src/v/kafka/protocol/kafka_batch_adapter.cc
  src/v/model/batch_compression.cc
  src/v/model/batch_compression.h
  src/v/model/tests/BUILD
  src/v/model/tests/random_batch.cc
  src/v/model/transform.cc
  src/v/storage/BUILD
  src/v/storage/compaction_reducers.cc
  src/v/storage/record_batch_builder.cc
  src/v/storage/tests/batch_generators.h
Labels: area/build, area/redpanda

#27249 [CORE-9880]: Preperation for Topic Identifiers
  src/v/cluster/metadata_cache.cc
  src/v/cluster/metadata_cache.h
  src/v/cluster/tests/cluster_test_fixture.h
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/cluster/types.h
  src/v/kafka/client/BUILD
  src/v/kafka/client/assignment_plans.cc
  src/v/kafka/client/errors.h
  src/v/kafka/client/partitioners.cc
  src/v/kafka/client/test/BUILD
  src/v/kafka/client/test/produce.cc
  src/v/kafka/client/test/reconnect.cc
  src/v/kafka/client/topic_cache.cc
  src/v/kafka/client/utils.h
  src/v/kafka/protocol/errors.cc
  src/v/kafka/protocol/errors.h
  src/v/kafka/protocol/metadata.h
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/protocol/schemata/metadata_request.json
  src/v/kafka/protocol/schemata/metadata_response.json
  src/v/kafka/protocol/tests/field_parser_test.cc
  src/v/kafka/protocol/types.cc
  src/v/kafka/protocol/types.h
  src/v/kafka/protocol/wire.h
  src/v/kafka/server/handlers/metadata.cc
  src/v/kafka/server/tests/metadata_test.cc
  src/v/model/BUILD
  src/v/model/fundamental.h
  src/v/model/kitp.h
  src/v/model/ktp.h
  src/v/model/tests/BUILD
  src/v/model/tests/kitp_test.cc
  src/v/pandaproxy/error.cc
  src/v/pandaproxy/rest/BUILD
  src/v/pandaproxy/rest/handlers.cc
Labels: area/build, area/redpanda

#27264 [v25.1.x] Cloud I/O: Independently configurable client lease timeout
  src/v/cloud_io/remote.cc
  src/v/cloud_io/remote.h
  src/v/cloud_storage_clients/client_pool.cc
  src/v/cloud_storage_clients/client_pool.h
  src/v/cloud_storage_clients/tests/client_pool_test.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  tests/rptest/tests/e2e_shadow_indexing_test.py
Labels: area/redpanda, kind/backport

#27263 [v25.2.x] Cloud I/O: Independently configurable client lease timeout
  src/v/cloud_io/remote.cc
  src/v/cloud_io/remote.h
  src/v/cloud_storage_clients/client_pool.cc
  src/v/cloud_storage_clients/client_pool.h
  src/v/cloud_storage_clients/tests/client_pool_test.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  tests/rptest/tests/e2e_shadow_indexing_test.py
Labels: area/redpanda, kind/backport

#27270 [v25.2.x] rpk: fix typos and Go bump, fix of broken GHA
  .github/workflows/rpk-build.yml
  BUILD
  MODULE.bazel
  MODULE.bazel.lock
  bazel/thirdparty/go.work
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cluster/config/config.go
  src/go/rpk/pkg/cli/cluster/config/edit.go
  src/go/rpk/pkg/cli/cluster/config/export.go
  src/go/rpk/pkg/cli/cluster/config/import.go
  src/go/rpk/pkg/cli/cluster/quotas/alter.go
  src/go/rpk/pkg/cli/container/common/BUILD
  src/go/rpk/pkg/cli/container/common/client.go
  src/go/rpk/pkg/cli/container/common/common.go
  src/go/rpk/pkg/cli/container/common/test.go
  src/go/rpk/pkg/cli/security/acl/list.go
  src/transform-sdk/tests/BUILD
  src/transform-sdk/tests/go.mod
  src/transform-sdk/tests/go.sum
Labels: area/rpk, area/build, area/wasm

#27284 [v25.2.x] `storage`: check for abort in `make_concatenated_segment()`
  src/v/storage/segment_utils.cc
Labels: area/redpanda, kind/backport

#27275 [v25.2.x] [CORE-200] admin: Adjust redirect logic to allow subdomain matching
  src/v/redpanda/admin/server.cc
  tests/rptest/tests/leaders_redirect_test.py
Labels: area/redpanda, kind/backport

#27287 [CORE-13104] storage/parser: log parser_errc at debug level on recovery
  src/v/storage/parser.cc
Labels: area/redpanda

#27280 dt: upgrade dependencies
  .github/workflows/publish-apache-polaris-python-client.yml
  tests/rptest/services/admin.py
  tests/rptest/tests/polaris_catalog_smoke_test.py
  tests/rptest/tests/polaris_catalog_test.py
  tests/setup.py
Labels: area/build

#27281 ct/reconciler: Move the reconciler to top-level CT
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/app.h
  src/v/cloud_topics/level_one/common/BUILD
  src/v/cloud_topics/reconciler/BUILD
  src/v/cloud_topics/reconciler/range_batch_consumer.cc
  src/v/cloud_topics/reconciler/range_batch_consumer.h
  src/v/cloud_topics/reconciler/reconciler.cc
  src/v/cloud_topics/reconciler/reconciler.h
  src/v/cloud_topics/reconciler/tests/BUILD
  src/v/cloud_topics/reconciler/tests/range_batch_consumer_test.cc
Labels: area/build, area/redpanda

#27216 CORE-13070 schema_registry/api-doc: update schema docs
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/api/api-doc/schema_registry_definitions.def.json
  src/v/pandaproxy/api/api-doc/schema_registry_header.json
Labels: area/redpanda

#27305 [v25.2.x] schema_registry/api-doc: update schema docs
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/api/api-doc/schema_registry_definitions.def.json
Labels: area/redpanda

#27307 [v24.3.x] schema_registry/api-doc: update schema docs
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/api/api-doc/schema_registry_definitions.def.json
Labels: area/redpanda

#27306 [v25.1.x] schema_registry/api-doc: update schema docs
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/api/api-doc/schema_registry_definitions.def.json
Labels: area/redpanda

#27304 [v25.2.x] CORE-13076 admin: require controller leadership before license idempotence check
  src/v/redpanda/admin/server.cc
  tests/rptest/tests/cluster_features_test.py
Labels: area/redpanda, kind/backport

#27313 `cloud_io`: return proper `upload_result` iff `result.has_value()`
  src/v/cloud_io/remote.cc
Labels: area/redpanda

#27296 [v25.2.x] raft/voter_priority_tracker: fix first leader nepo
  src/v/raft/voter_priority_tracker.h
  tests/rptest/tests/raft_availability_test.py
Labels: area/redpanda, kind/backport

#27315 `storage`: advance target `segment`'s `generation_id()` during transfer
  src/v/storage/segment_utils.cc
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

#27309 CORE-13051 - Shadow Link API updates
  proto/redpanda/core/admin/shadow_link.proto
  proto/redpanda/core/common/acl.proto
  src/v/cluster_link/model/BUILD
  src/v/cluster_link/model/tests/test_model.cc
  src/v/cluster_link/model/types.cc
  src/v/cluster_link/model/types.h
  src/v/cluster_link/source_topic_syncer.cc
  src/v/redpanda/admin/services/shadow_link/shadow_link.cc
  src/v/redpanda/admin/services/shadow_link/shadow_link.h
Labels: area/build, area/redpanda

#27316 app: do not add cloud topics app to deferred shutdown
  src/v/redpanda/application.cc
Labels: area/redpanda

#27322 [v25.2.x] `storage`: advance target `segment`'s `generation_id()` during transfer (MANUAL BACKPORT)
  src/v/storage/segment_utils.cc
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

#27324 raft/c: avoid exceptional futures in linearizable barrier
  src/v/raft/consensus.cc
Labels: area/redpanda

#27331 tools/dev_cluster: support debug builds
  tools/BUILD
  tools/dev_cluster.py
Labels: area/build

#27339 [v25.1.x] raft/c: avoid exceptional futures in linearizable barrier
  src/v/raft/consensus.cc
Labels: area/redpanda, kind/backport

#27251 iceberg: blms support
  src/v/cloud_io/auth_refresh_bg_op.cc
  src/v/cloud_io/auth_refresh_bg_op.h
  src/v/cloud_roles/probe.cc
  src/v/cloud_roles/probe.h
  src/v/cloud_roles/refresh_credentials.cc
  src/v/cloud_roles/refresh_credentials.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/convert.h
  src/v/config/types.h
  src/v/config/validators.cc
  src/v/datalake/BUILD
  src/v/datalake/coordinator/catalog_factory.cc
  src/v/datalake/credential_manager.cc
  src/v/datalake/tests/credential_manager_test.cc
  src/v/iceberg/rest_client/catalog_client.cc
  tests/rptest/services/datalake/catalog/biglake.py
  tests/rptest/tests/datalake/biglake_test.py
  tests/rptest/tests/datalake/datalake_services.py
Labels: area/build, area/redpanda

#27343 cloud_storage/tests/remote_partition_test: increase timeout
  src/v/cloud_storage/tests/BUILD
Labels: area/build, area/redpanda

#27341 k/client/tests: split direct_consumer_fixture into a lib
  src/v/kafka/client/direct_consumer/tests/BUILD
  src/v/kafka/client/direct_consumer/tests/direct_consumer_fixture.cc
  src/v/kafka/client/direct_consumer/tests/direct_consumer_fixture.h
  src/v/kafka/client/direct_consumer/tests/direct_consumer_fixture_test.cc
Labels: area/build, area/redpanda

#27348 rpk: fix cluster config status in dedicated cluster
  src/go/rpk/pkg/cli/cluster/config/set.go
  src/go/rpk/pkg/cli/cluster/config/status.go
Labels: area/rpk

#27334 ct/l1: add set_start_offset to metastore
  src/v/cloud_topics/level_one/domain/domain_manager.cc
  src/v/cloud_topics/level_one/domain/domain_manager.h
  src/v/cloud_topics/level_one/metastore/frontend.cc
  src/v/cloud_topics/level_one/metastore/frontend.h
  src/v/cloud_topics/level_one/metastore/metastore.h
  src/v/cloud_topics/level_one/metastore/offset_interval_set.cc
  src/v/cloud_topics/level_one/metastore/offset_interval_set.h
  src/v/cloud_topics/level_one/metastore/replicated_metastore.cc
  src/v/cloud_topics/level_one/metastore/replicated_metastore.h
  src/v/cloud_topics/level_one/metastore/rpc.json
  src/v/cloud_topics/level_one/metastore/rpc_types.h
  src/v/cloud_topics/level_one/metastore/service.cc
  src/v/cloud_topics/level_one/metastore/service.h
  src/v/cloud_topics/level_one/metastore/simple_metastore.cc
  src/v/cloud_topics/level_one/metastore/simple_metastore.h
  src/v/cloud_topics/level_one/metastore/simple_stm.cc
  src/v/cloud_topics/level_one/metastore/state.cc
  src/v/cloud_topics/level_one/metastore/state.h
  src/v/cloud_topics/level_one/metastore/state_update.cc
  src/v/cloud_topics/level_one/metastore/state_update.h
  src/v/cloud_topics/level_one/metastore/tests/offset_interval_set_test.cc
  src/v/cloud_topics/level_one/metastore/tests/replicated_metastore_test.cc
  src/v/cloud_topics/level_one/metastore/tests/simple_metastore_test.cc
  src/v/cloud_topics/level_one/metastore/tests/state_test.cc
  src/v/cloud_topics/level_one/metastore/tests/state_update_test.cc
Labels: area/redpanda

#27107 [v25.2.x] Data migrations worker rework
  src/v/cluster/data_migration_worker.cc
  src/v/cluster/data_migration_worker.h
Labels: area/redpanda, kind/backport

#27345 [CORE-12892] [v24.3.x] `storage`: raise failed to build offset map log level to `ERROR`
  src/v/storage/disk_log_impl.cc
  tests/rptest/services/redpanda.py
Labels: area/redpanda

#27354 Fix ASAN and UBSAN backtrace decoding in ducktape
  src/v/redpanda/admin/api-doc/debug.json
  src/v/redpanda/admin/debug.cc
  tests/docker/ducktape-deps/tool-pkgs
  tests/rptest/services/admin.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/services_self_test.py
  tests/rptest/utils/mode_checks.py
Labels: area/redpanda

#27363 ct/reconciler: fix use after free
  src/v/cloud_topics/reconciler/reconciler.cc
  src/v/cloud_topics/reconciler/reconciler.h
Labels: area/redpanda

#27364 `storage`: move location of `mark_segment_as_finished_self_compaction()`
  src/v/storage/segment_utils.cc
Labels: area/redpanda

#27368 [v25.2.x] `storage`: move location of `mark_segment_as_finished_self_compaction()`
  src/v/storage/segment_utils.cc
Labels: area/redpanda, kind/backport

#27151 rptest/direct_consumer_tests leadership transfer test & fixes
  src/v/kafka/client/direct_consumer/direct_consumer.cc
  src/v/kafka/client/direct_consumer/direct_consumer.h
  src/v/kafka/client/direct_consumer/fetcher.cc
  src/v/kafka/client/direct_consumer/fetcher.h
  src/v/kafka/client/direct_consumer/tests/BUILD
  src/v/kafka/client/direct_consumer/tests/direct_consumer_fixture.cc
  src/v/kafka/client/direct_consumer/tests/direct_consumer_fixture.h
  src/v/kafka/client/direct_consumer/tests/direct_consumer_fixture_test.cc
  src/v/kafka/client/direct_consumer/verifier/application.cc
  tests/rptest/direct_consumer_tests/direct_consumer_test.py
Labels: area/build, area/redpanda

#27350 [v25.1.x] rpk debug bundle: avoid storing large files on memory
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/debug/bundle/bundle.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_k8s_linux.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_linux.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_test.go
Labels: area/rpk

#27371 cloud_topics: fix L0 reader when reading transactions
  src/v/cloud_topics/data_plane_impl.cc
  src/v/cloud_topics/level_zero/frontend_reader/reader.cc
  src/v/cloud_topics/level_zero/frontend_reader/reader.h
  tests/rptest/tests/cloud_topics/e2e_test.py
Labels: area/redpanda

#27378 packaging: use a fixed install_path
  bazel/packaging/BUILD
  bazel/packaging/packaging.bzl
Labels: area/build

#27386 [v25.2.x] Deflake multi migration test
  tests/rptest/tests/data_migrations_api_test.py
Labels: kind/backport

#27365 [v24.3.x] GHA Fix and Go bump
  .github/workflows/rpk-build.yml
  MODULE.bazel
  bazel/thirdparty/go.work
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cluster/config/config.go
  src/go/rpk/pkg/cli/cluster/config/edit.go
  src/go/rpk/pkg/cli/cluster/config/export.go
  src/go/rpk/pkg/cli/cluster/config/import.go
  src/go/rpk/pkg/cli/container/common/BUILD
  src/go/rpk/pkg/cli/container/common/client.go
  src/go/rpk/pkg/cli/container/common/common.go
  src/go/rpk/pkg/cli/container/common/test.go
  src/go/rpk/pkg/schemaregistry/BUILD
  src/go/rpk/pkg/schemaregistry/client.go
  tests/rptest/tests/audit_log_test.py
  tests/rptest/tests/offset_retention_test.py
  tests/rptest/tests/rpk_acl_test.py
Labels: area/rpk, area/build

#27385 Remove //bazel/packaging:install_path
  bazel/packaging/BUILD
  tests/rptest/tests/services_self_test.py
Labels: area/build

#27390 rpk: update console version to v3.2.1
  src/go/rpk/pkg/cli/container/common/common.go
Labels: area/rpk

#27392 ct/l0/reader: cleanup from code review
  src/v/cloud_topics/level_zero/frontend_reader/reader.cc
  src/v/cloud_topics/level_zero/frontend_reader/reader.h
Labels: area/redpanda

#27321 [25.1.x] datalake: Allow replacing dots in table names (MANUAL BACKPORT)
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/validators.cc
  src/v/config/validators.h
  src/v/datalake/BUILD
  src/v/datalake/CMakeLists.txt
  src/v/datalake/table_id_provider.cc
  src/v/datalake/table_id_provider.h
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/CMakeLists.txt
  tests/rptest/tests/datalake/datalake_services.py
  tests/rptest/tests/datalake/datalake_table_name_test.py
Labels: area/build, area/redpanda

#27393 datalake: bump translation start to log start
  src/v/datalake/translation/deps.cc
  tests/rptest/tests/datalake/blocked_catalog_test.py
Labels: area/build, area/redpanda

#27414 [v25.1.x] iceberg: add some snapshot summary metrics
  src/v/iceberg/merge_append_action.cc
  src/v/iceberg/snapshot.h
  src/v/iceberg/snapshot_json.cc
  src/v/iceberg/tests/merge_append_action_test.cc
  src/v/iceberg/tests/snapshot_json_test.cc
Labels: area/redpanda, kind/backport

#27413 [v25.2.x] iceberg: add some snapshot summary metrics
  src/v/iceberg/merge_append_action.cc
  src/v/iceberg/snapshot.h
  src/v/iceberg/snapshot_json.cc
  src/v/iceberg/tests/merge_append_action_test.cc
  src/v/iceberg/tests/snapshot_json_test.cc
Labels: area/redpanda, kind/backport

#27417 [v25.2.x] datalake: bump translation start to log start
  src/v/datalake/translation/deps.cc
  tests/rptest/tests/datalake/blocked_catalog_test.py
Labels: area/redpanda

#27418 [v25.1.x] datalake: bump translation start to log start
  src/v/datalake/translation/deps.cc
  tests/rptest/tests/datalake/blocked_catalog_test.py
Labels: area/redpanda

#27423 cl/topic_sync: do not mirror `__consumer_offsets` topic
  src/v/cluster_link/source_topic_syncer.cc
Labels: area/redpanda

#27422 Made `kafka::client::cluster` non movable
  src/v/cluster_link/deps.cc
  src/v/cluster_link/deps.h
  src/v/cluster_link/link.cc
  src/v/cluster_link/link.h
  src/v/cluster_link/service.cc
  src/v/cluster_link/tests/deps.h
  src/v/cluster_link/tests/link_test.cc
  src/v/kafka/client/client.cc
  src/v/kafka/client/client.h
  src/v/kafka/client/cluster.h
Labels: area/redpanda

#27427 gha: update buf workflow
  .github/workflows/buf.yml
Labels: area/build

#27421 cl/task: do not wait for task when starting runner
  src/v/cluster_link/task.cc
Labels: area/redpanda

#27405 [CORE-13247] cloud_topics: add initial L0 GC framework
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/app.cc
  src/v/cloud_topics/app.h
  src/v/cloud_topics/level_zero/gc/BUILD
  src/v/cloud_topics/level_zero/gc/level_zero_gc.cc
  src/v/cloud_topics/level_zero/gc/level_zero_gc.h
  src/v/cloud_topics/level_zero/gc/tests/BUILD
  src/v/cloud_topics/level_zero/gc/tests/level_zero_gc_tests.cc
  src/v/cloud_topics/manager/BUILD
  src/v/cloud_topics/manager/manager.cc
  src/v/cloud_topics/manager/manager.h
Labels: area/build, area/redpanda

#27389 ct/l1/metastore: Add object size
  src/v/cloud_topics/level_one/domain/domain_manager.cc
  src/v/cloud_topics/level_one/metastore/metastore.h
  src/v/cloud_topics/level_one/metastore/replicated_metastore.cc
  src/v/cloud_topics/level_one/metastore/rpc_types.h
  src/v/cloud_topics/level_one/metastore/simple_metastore.cc
  src/v/cloud_topics/level_one/metastore/simple_metastore.h
  src/v/cloud_topics/level_one/metastore/state.h
  src/v/cloud_topics/level_one/metastore/state_update.cc
  src/v/cloud_topics/level_one/metastore/state_update.h
  src/v/cloud_topics/level_one/metastore/tests/replicated_metastore_test.cc
  src/v/cloud_topics/level_one/metastore/tests/simple_metastore_test.cc
  src/v/cloud_topics/level_one/metastore/tests/state_update_test.cc
Labels: area/redpanda

#27433 gha: fix buf push to not complain about uncomitted files
  .github/workflows/buf.yml
Labels: area/build

#27438 bazel: update rules_boost, zlib, gtest, rules_cc
  MODULE.bazel
  MODULE.bazel.lock
  src/v/datalake/tests/translation_task_test.cc
  src/v/kafka/client/direct_consumer/tests/direct_consumer_test.cc
  src/v/raft/tests/leadership_test.cc
Labels: area/build, area/redpanda
