Repository redpanda-data/redpanda, pull requests merged in 2025-06, with the labels that each got.

#26299 Fix oversized allocations in `kafka::fetch_session_cache`
  src/v/container/chunked_hash_map.h
  src/v/kafka/server/fetch_session.h
  src/v/kafka/server/fetch_session_cache.cc
  src/v/kafka/server/fetch_session_cache.h
Labels: area/build, area/redpanda

#26305 [v24.2.x] Partition balancer incident followups
  src/v/cluster/partition_balancer_backend.cc
  src/v/cluster/partition_balancer_planner.cc
  tests/rptest/tests/scaling_up_test.py
Labels: area/redpanda, kind/backport

#26149 Tests: KCL to retry reassignment request when clashing with partition balancer
  src/v/cluster/types.cc
  src/v/kafka/server/errors.h
  tests/rptest/clients/kcl.py
Labels: area/redpanda

#26321 k/tests: retry creating topic in topic recreate test
  src/v/kafka/server/tests/topic_recreate_test.cc
Labels: area/redpanda

#26320 datalake: hold gate when interacting with catalog in schema manager
  src/v/datalake/catalog_schema_manager.cc
  src/v/datalake/catalog_schema_manager.h
  src/v/datalake/datalake_manager.cc
Labels: area/redpanda

#26280 k/generator: do not use standard vectors for offset commit protocol
  src/v/kafka/client/client.cc
  src/v/kafka/client/client.h
  src/v/kafka/client/consumer.cc
  src/v/kafka/client/consumer.h
  src/v/kafka/client/test/BUILD
  src/v/kafka/client/test/consumer_group.cc
  src/v/kafka/client/test/utils_test.cc
  src/v/kafka/client/utils.h
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/server/handlers/txn_offset_commit.cc
  src/v/kafka/server/server.cc
  src/v/kafka/server/tests/consumer_groups_test.cc
  src/v/kafka/server/tests/group_tx_compaction_test.cc
  src/v/pandaproxy/json/requests/offset_commit.h
  src/v/pandaproxy/rest/handlers.cc
Labels: area/build, area/redpanda

#26327 [v25.1.x] datalake: hold gate when interacting with catalog in schema manager
  src/v/datalake/catalog_schema_manager.cc
  src/v/datalake/catalog_schema_manager.h
  src/v/datalake/datalake_manager.cc
Labels: area/redpanda, kind/backport

#26307 [v24.3.x] Fix archival STM shutdown race
  src/v/cluster/partition.cc
  src/v/raft/offset_monitor.cc
  src/v/raft/offset_monitor.h
  src/v/raft/tests/offset_monitor_test.cc
Labels: area/redpanda, kind/backport

#26310 [v25.1.x] storage: log more info when requesting eviction
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda, kind/backport

#26229 [v25.1.x] `storage`: output full `segment` in `WARN` log in `offset_to_filepos.cc`
  src/v/storage/offset_to_filepos.cc
Labels: area/redpanda, kind/backport

#26211 [v25.1.x] Improve safe pause resume
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/probe.h
  src/v/cluster/archival/tests/ntp_archiver_test.cc
  src/v/cluster/archival/tests/service_fixture.h
Labels: area/redpanda, kind/backport

#26334 [v24.2.x] raft/log_eviction_stm: avoid unnecessary wait on visible offset
  src/v/cluster/log_eviction_stm.cc
Labels: area/redpanda, kind/backport

#26343 [v25.1.x] raft/test/leadership_transfer_delay: increase tolerance
  src/v/raft/tests/basic_raft_fixture_test.cc
Labels: area/redpanda, kind/backport

#26345 [v24.2.x] make ntp_callbacks actually support multiple callbacks
  src/v/archival/archiver_manager.cc
  src/v/cluster/config_manager.cc
  src/v/cluster/data_migration_backend.cc
  src/v/cluster/ntp_callbacks.h
  src/v/cluster/partition_leaders_table.cc
  src/v/cluster/partition_leaders_table.h
  src/v/cluster/partition_manager.h
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/cluster/scheduling/leader_balancer.h
Labels: area/redpanda, kind/backport

#26354 Revert "[v24.2.x] raft/log_eviction_stm: avoid unnecessary wait on visible offset"
  src/v/cluster/log_eviction_stm.cc
Labels: area/redpanda

#26357 gha: expand list of shfmt-linted scripts
  .github/workflows/lint-sh.yml
Labels: area/build

#26356 Revert "raft/log_eviction_stm: avoid unnecessary wait on visible offset"
  src/v/cluster/log_eviction_stm.cc
Labels: area/redpanda

#26243 serde/json: add json writer
  src/v/bytes/details/io_byte_iterator.h
  src/v/bytes/iobuf.h
  src/v/compat/run.cc
  src/v/datalake/partition_key_path.cc
  src/v/pandaproxy/json/iobuf.h
  src/v/serde/json/BUILD
  src/v/serde/json/tests/BUILD
  src/v/serde/json/tests/writer_test.cc
  src/v/serde/json/writer.cc
  src/v/serde/json/writer.h
  src/v/serde/parquet/tests/generate_file.cc
  src/v/utils/base64.cc
  src/v/utils/base64.h
  src/v/utils/tests/BUILD
  src/v/utils/tests/base64_test.cc
Labels: area/build, area/redpanda

#26236 `config`: reduce `max_compacted_log_segment_size` default
  src/v/config/configuration.cc
Labels: area/redpanda

#26360 bazel: upgrade clang 20
  MODULE.bazel
  MODULE.bazel.lock
  bazel/build.bzl
  bazel/test.bzl
  bazel/thirdparty/ada.BUILD
  bazel/thirdparty/avro.BUILD
  bazel/thirdparty/hdrhistogram.BUILD
  bazel/thirdparty/jsoncons.BUILD
  bazel/thirdparty/libpciaccess.BUILD
  bazel/thirdparty/libprotobuf-mutator.BUILD
  bazel/thirdparty/lksctp.BUILD
  bazel/thirdparty/rapidjson.BUILD
  bazel/thirdparty/roaring.BUILD
  bazel/thirdparty/seastar.BUILD
  bazel/thirdparty/unordered_dense.BUILD
  bazel/thirdparty/wasmtime.BUILD
  bazel/thirdparty/xxhash.BUILD
  bazel/toolchain/Dockerfile.llvm
  src/transform-sdk/tests/go.mod
  src/transform-sdk/tests/go.sum
  src/v/iceberg/conversion/tests/BUILD
  src/v/schema/protobuf/BUILD
  src/v/serde/parquet/tests/BUILD
  src/v/serde/protobuf/tests/BUILD
  src/v/test_utils/go/go.mod
  src/v/test_utils/go/go.sum
  src/v/thirdparty/base64/BUILD
  src/v/thirdparty/c-ares/BUILD
  src/v/thirdparty/krb5/BUILD
  src/v/thirdparty/libxml2/BUILD
  src/v/thirdparty/openssl/BUILD
  src/v/thirdparty/protobuf/BUILD
  tools/BUILD
Labels: area/build, area/redpanda, area/wasm

#23954 `config`: add `log_compaction_pause_use_sliding_window`
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/storage/disk_log_impl.cc
  tests/rptest/tests/log_compaction_test.py
Labels: area/redpanda

#26172 storage/compaction: Implement min.compaction.lag.ms
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cluster/archival/tests/async_data_uploader_test.cc
  src/v/cluster/archival/tests/ntp_archiver_reupload_test.cc
  src/v/cluster/tests/manual_log_deletion_test.cc
  src/v/cluster/tests/tx_compaction_utils.h
  src/v/kafka/server/tests/group_tx_compaction_test.cc
  src/v/storage/disk_log_impl.cc
  src/v/storage/log_manager.cc
  src/v/storage/opfuzz/opfuzz.cc
  src/v/storage/segment.h
  src/v/storage/segment_index.h
  src/v/storage/segment_utils.cc
  src/v/storage/tests/compaction_e2e_multinode_test.cc
  src/v/storage/tests/compaction_e2e_test.cc
  src/v/storage/tests/disk_log_builder_test.cc
  src/v/storage/tests/log_truncate_test.cc
  src/v/storage/tests/storage_e2e_fixture_test.cc
  src/v/storage/tests/storage_e2e_test.cc
  src/v/storage/tests/utils/disk_log_builder.cc
  src/v/storage/types.h
Labels: area/redpanda

#26244 storage/tests: further storage boost to gtest migrations
  src/v/storage/tests/BUILD
  src/v/storage/tests/batch_consumer_utils_test.cc
  src/v/storage/tests/compaction_fuzz_test.cc
  src/v/storage/tests/compaction_index_format_test.cc
Labels: area/build, area/redpanda

#26367 iceberg: Set SNI hostname for REST catalog TLS connections
  src/v/datalake/coordinator/catalog_factory.cc
Labels: area/redpanda

#26338 [CORE-11981] pandaproxy/build: split dependencies
  src/v/cluster/BUILD
  src/v/config/BUILD
  src/v/datalake/BUILD
  src/v/datalake/coordinator/BUILD
  src/v/datalake/tests/BUILD
  src/v/kafka/server/BUILD
  src/v/kafka/server/tests/BUILD
  src/v/pandaproxy/BUILD
  src/v/pandaproxy/json/exceptions.h
  src/v/pandaproxy/json/requests/test/BUILD
  src/v/pandaproxy/json/rjson_util.h
  src/v/pandaproxy/json/test/BUILD
  src/v/pandaproxy/json/util.h
  src/v/pandaproxy/parsing/httpd.h
  src/v/pandaproxy/parsing/test/BUILD
  src/v/pandaproxy/rest/BUILD
  src/v/pandaproxy/rest/test/BUILD
  src/v/pandaproxy/schema_registry/BUILD
  src/v/pandaproxy/schema_registry/requests/test/BUILD
  src/v/pandaproxy/schema_registry/schema_getter.h
  src/v/pandaproxy/schema_registry/test/BUILD
  src/v/pandaproxy/schema_registry/validation.h
  src/v/pandaproxy/test/BUILD
  src/v/pandaproxy/util.h
  src/v/redpanda/BUILD
  src/v/redpanda/admin/BUILD
  src/v/redpanda/application.h
  src/v/schema/BUILD
  src/v/schema/tests/BUILD
  src/v/wasm/BUILD
  src/v/wasm/tests/BUILD
Labels: area/build, area/redpanda, area/wasm

#26387 [v25.1.x] tests/rno: fixed upload manifest error pattern
  tests/rptest/tests/random_node_operations_test.py
Labels: kind/backport

#26383 [UX-246] rpk cloud override: set environment variables
  src/go/rpk/pkg/config/params.go
Labels: area/rpk

#26393 [v25.1.x] [UX-246] rpk cloud override: set environment variables
  src/go/rpk/pkg/config/params.go
Labels: area/rpk, kind/backport

#26306 [v24.3.x] Partition balancer incident followups
  src/v/cluster/partition_balancer_backend.cc
  src/v/cluster/partition_balancer_planner.cc
  tests/rptest/tests/scaling_up_test.py
Labels: area/redpanda, kind/backport

#26397 `storage`: minor tweaks
  src/v/base/type_traits.h
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/self_test/netcheck.cc
  src/v/kafka/server/handlers/alter_partition_reassignments.cc
  src/v/reflection/test/BUILD
  src/v/reflection/test/async_adl_test.cc
  src/v/ssx/future-util.h
  src/v/ssx/tests/async_transforms.cc
  src/v/storage/disk_log_impl.cc
  src/v/storage/exceptions.h
  src/v/storage/segment.cc
  src/v/storage/segment_utils.cc
  src/v/storage/segment_utils.h
  src/v/storage/tests/BUILD
  src/v/storage/tests/segment_concatenation_test.cc
  src/v/utils/file_io.cc
  src/v/utils/file_io.h
  src/v/utils/mutex.h
  src/v/utils/tests/BUILD
  src/v/utils/tests/file_io_test.cc
Labels: area/build, area/redpanda

#26218 [v25.1.x] config: mark that Iceberg REST props need restart
  src/v/config/configuration.cc
Labels: area/redpanda, kind/backport

#26341 [v25.1.x] c/partition_manager: added log entries when partition is being shutdown
  src/v/cluster/partition_manager.cc
Labels: area/redpanda, kind/backport

#26225 [v25.1.x] kafka/debug: add a debug end point for offset_for_leader_epoch
  src/v/redpanda/admin/BUILD
  src/v/redpanda/admin/api-doc/partition.json
  src/v/redpanda/admin/partition.cc
  src/v/redpanda/admin/server.h
  tests/rptest/services/admin.py
  tests/rptest/tests/partition_state_api_test.py
Labels: area/build, area/redpanda, kind/backport

#26147 [v25.1.x] Decommission status improvements
  src/v/cluster/BUILD
  src/v/cluster/CMakeLists.txt
  src/v/cluster/controller_api.cc
  src/v/cluster/controller_api.h
  src/v/cluster/partition_balancer_backend.cc
  src/v/cluster/partition_balancer_backend.h
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/partition_balancer_planner.h
  src/v/cluster/partition_balancer_rpc_handler.h
  src/v/cluster/partition_balancer_types.cc
  src/v/cluster/partition_balancer_types.h
  src/v/cluster/types.h
  src/v/compat/cluster_json.h
  src/v/compat/json.h
  src/v/compat/partition_balancer_compat.h
  src/v/compat/partition_balancer_generator.h
  src/v/redpanda/admin/api-doc/broker.json
  src/v/redpanda/admin/server.cc
  src/v/test_utils/BUILD
  src/v/test_utils/randoms.h
  tests/rptest/tests/nodes_decommissioning_test.py
Labels: area/build, area/redpanda, kind/backport

#26082 [v24.3.x] archival: Fix archival_stm_snapshot installation
  src/v/cluster/archival/archival_metadata_stm.cc
  src/v/cluster/archival/tests/archival_metadata_stm_test.cc
  src/v/cluster/partition_manager.cc
  tests/rptest/tests/scaling_up_test.py
Labels: area/redpanda, kind/backport

#26377 http: Set TCP keepalive
  src/v/http/client.cc
  src/v/net/transport.cc
  src/v/net/transport.h
Labels: area/redpanda

#26386 [v25.1.x] iceberg/rest_client: configure client once
  src/v/iceberg/rest_client/catalog_client.cc
Labels: area/redpanda, kind/backport

#26401 raft/c: warn on struck truncation.
  src/v/raft/consensus.cc
Labels: area/redpanda

#26408 [v25.1.x] Fixed upgrade test to actually restart consumer in older Redpanda versions
  tests/rptest/services/kgo_verifier_services.py
  tests/rptest/tests/upgrade_test.py
Labels: kind/backport

#26369 k/client: Added support to fetch metadata
  src/v/kafka/client/client.cc
  src/v/kafka/client/client.h
  src/v/kafka/client/test/BUILD
  src/v/kafka/client/test/metadata.cc
  src/v/kafka/client/transport.h
  src/v/kafka/protocol/metadata.h
Labels: area/build, area/redpanda

#26380 Reliably end txes on migrations
  src/v/cluster/partition.h
  src/v/cluster/rm_partition_frontend.cc
  src/v/cluster/rm_partition_frontend.h
  src/v/cluster/tx_errc.cc
  src/v/cluster/tx_errc.h
  src/v/cluster/tx_gateway_frontend.cc
  src/v/kafka/server/errors.h
  src/v/redpanda/admin/debug.cc
  tests/rptest/tests/data_migrations_api_test.py
  tests/rptest/util.py
Labels: area/redpanda

#26415 [v25.1.x] partition_balancer: removed typo in reallocation_failure_details init
  src/v/cluster/partition_balancer_planner.cc
Labels: area/redpanda, kind/backport

#26178 [v24.3.x] Offline partitions in health overview
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
  tests/rptest/tests/cluster_health_overview_test.py
Labels: area/redpanda, kind/backport

#26413 [v25.1.x] r/stm_manager: added watchdog logging an error when stm did not stop
  src/v/raft/BUILD
  src/v/raft/state_machine_manager.cc
  src/v/raft/state_machine_manager.h
Labels: area/build, area/redpanda, kind/backport

#26438 Backport #26426 to v25.1.x
  src/v/datalake/catalog_schema_manager.cc
  src/v/datalake/catalog_schema_manager.h
  src/v/datalake/datalake_manager.cc
  src/v/datalake/partitioning_writer.cc
  src/v/datalake/partitioning_writer.h
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/tests/translation_task_test.cc
  src/v/datalake/translation/deps.cc
  src/v/datalake/translation/deps.h
  src/v/datalake/translation_task.cc
  src/v/datalake/translation_task.h
  src/v/iceberg/BUILD
  src/v/iceberg/merge_append_action.cc
  src/v/iceberg/table_metadata.h
  src/v/iceberg/table_metadata_json.cc
  src/v/iceberg/tests/merge_append_action_test.cc
  src/v/iceberg/tests/rest_catalog_test.cc
Labels: area/build, area/redpanda

#26435 [v25.1.x] Reliably end txes on migrations
  src/v/cluster/partition.h
  src/v/cluster/rm_partition_frontend.cc
  src/v/cluster/rm_partition_frontend.h
  src/v/cluster/tx_errc.cc
  src/v/cluster/tx_errc.h
  src/v/cluster/tx_gateway_frontend.cc
  src/v/kafka/server/errors.h
  src/v/redpanda/admin/debug.cc
  tests/rptest/tests/data_migrations_api_test.py
  tests/rptest/util.py
Labels: area/redpanda, kind/backport

#26443 [v25.1.x] `storage`: call `reserve()` in `storage::range()`
  src/v/storage/lock_manager.cc
Labels: area/redpanda, kind/backport

#26420 [v24.2.x] Fix archival STM shutdown race
  src/v/cluster/partition.cc
  src/v/raft/offset_monitor.cc
  src/v/raft/offset_monitor.h
  src/v/raft/tests/offset_monitor_test.cc
Labels: area/redpanda, kind/backport

#26460 [v25.1.x] dl/tests: deflake batching test
  tests/rptest/tests/datalake/batching_test.py
Labels: kind/backport

#26467 [CORE-8321] bazel/openssl-fips: remove activate flag for fips
  bazel/thirdparty/openssl-fips.BUILD
Labels: area/build

#26471 Revert "bazel/openssl-fips: remove activate flag for fips"
  bazel/thirdparty/openssl-fips.BUILD
Labels: area/build

#26461 [v25.1.x] datalake: fix iceberg primitive value translation
  src/v/datalake/record_schema_resolver.cc
  src/v/datalake/record_schema_resolver.h
  tests/rptest/tests/datalake/datalake_e2e_test.py
Labels: area/redpanda, kind/backport

#26302 Implement a cluster-wide max user topic count limit
  src/v/cluster/controller.cc
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/model/namespace.h
  tests/rptest/tests/topic_limits_test.py
Labels: area/redpanda

#26428 [backport] [v24.2.x] raft/c: warn on struck truncation.
  src/v/raft/consensus.cc
Labels: area/redpanda

#26427 [backport] [v25.1.x] raft/c: warn on struck truncation.
  src/v/raft/consensus.cc
Labels: area/redpanda

#26409 [v24.3.x] http: Set TCP keepalive
  src/v/http/client.cc
  src/v/net/transport.cc
  src/v/net/transport.h
Labels: area/redpanda, kind/backport

#26472 c/rm_frontend: more nuanced mapping of error when locking writes
  src/v/cluster/rm_partition_frontend.cc
Labels: area/redpanda

#26317 [v24.3.x] stm/shutdown: moar logging
  src/v/raft/persisted_stm.cc
Labels: area/redpanda, kind/backport

#26349 [v24.3.x] Tests: KCL to retry reassignment request when clashing with partition balancer
  src/v/cluster/types.cc
  src/v/kafka/server/errors.h
  tests/rptest/clients/kcl.py
Labels: area/redpanda, kind/backport

#26342 [v24.3.x] raft/test/leadership_transfer_delay: increase tolerance
  src/v/raft/tests/basic_raft_fixture_test.cc
Labels: area/redpanda, kind/backport

#26432 [v24.3.x] storage: fix index state truncate overflow
  src/v/storage/index_state.cc
  src/v/storage/tests/index_state_test.cc
Labels: area/redpanda

#26278 [v24.3.x] tests: make stuck shutdown detection timeout longer
  tests/rptest/tests/partition_balancer_test.py
Labels: kind/backport

#26464 [v24.3.x] Deflake cluster overview test
  tests/rptest/tests/cluster_health_overview_test.py
  tests/rptest/util.py
Labels: kind/backport

#26126 [v24.2.x] tests/balancer: ignore reconciliation stuck log line
  tests/rptest/tests/partition_balancer_test.py
Labels: kind/backport

#26466 CORE-10604 Schema Registry AuthZ: Extend existing ACLs
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/compat/acls_generator.h
  src/v/kafka/server/handlers/details/security.h
  src/v/pandaproxy/schema_registry/types.h
  src/v/security/BUILD
  src/v/security/acl.cc
  src/v/security/acl.h
  src/v/security/authorizer.cc
  src/v/security/tests/BUILD
  src/v/security/tests/acl_serde_test.cc
  src/v/security/tests/authorizer_test.cc
  src/v/security/tests/randoms.h
  src/v/serde/rw/variant.h
  tests/rptest/tests/acl_upgrade_test.py
Labels: area/build, area/redpanda

#25951 [CORE-1620] Migrate `ntp_archiver` uploads to `segment_collector_stream` interface
  src/v/cluster/archival/adjacent_segment_merger.cc
  src/v/cluster/archival/archival_policy.cc
  src/v/cluster/archival/archival_policy.h
  src/v/cluster/archival/async_data_uploader.cc
  src/v/cluster/archival/async_data_uploader.h
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/ntp_archiver_service.h
  src/v/cluster/archival/segment_reupload.cc
  src/v/cluster/archival/segment_reupload.h
  src/v/cluster/archival/tests/async_data_uploader_test.cc
  src/v/cluster/archival/tests/segment_reupload_test.cc
  tests/rptest/utils/si_utils.py
Labels: area/build, area/redpanda

#26496 [v25.1.x] rptest: disable TS in delayed iceberg enabling
  tests/rptest/tests/datalake/datalake_e2e_test.py
Labels: kind/backport

#26497 [v25.1.x] dl/catalog_client: pass an abort source
  src/v/datalake/coordinator/catalog_factory.cc
  src/v/datalake/coordinator/catalog_factory.h
  src/v/datalake/coordinator/coordinator_manager.cc
  src/v/datalake/coordinator/coordinator_manager.h
  src/v/datalake/datalake_manager.cc
Labels: area/redpanda, kind/backport

#26492 [v25.1.x] m/record: added very basic defensive check to prevent crashes
  src/v/model/record_utils.cc
  src/v/model/tests/record_batch_test.cc
Labels: area/redpanda, kind/backport

#26502 cloud_topics: E2e test and refactor pt1
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/CMakeLists.txt
  src/v/cloud_topics/L0_read_path/L0_fetch_handler.cc
  src/v/cloud_topics/L0_read_path/placeholder_extent_reader.cc
  src/v/cloud_topics/L0_read_path/tests/L0_fetch_handler_test.cc
  src/v/cloud_topics/api.h
  src/v/cloud_topics/app.cc
  src/v/cloud_topics/app.h
  src/v/cloud_topics/app_impl.cc
  src/v/cloud_topics/app_impl.h
  src/v/cloud_topics/batcher/batcher.cc
  src/v/cloud_topics/batcher/tests/batcher_test.cc
  src/v/cloud_topics/core/BUILD
  src/v/cloud_topics/core/base_pipeline.h
  src/v/cloud_topics/core/read_pipeline.cc
  src/v/cloud_topics/core/read_pipeline.h
  src/v/cloud_topics/core/read_request.cc
  src/v/cloud_topics/core/read_request.h
  src/v/cloud_topics/core/tests/pipeline_bench.cc
  src/v/cloud_topics/core/write_pipeline.cc
  src/v/cloud_topics/core/write_pipeline.h
  src/v/cloud_topics/interfaces/BUILD
  src/v/cloud_topics/interfaces/README.md
  src/v/cloud_topics/interfaces/cluster_partition_manager.cc
  src/v/cloud_topics/interfaces/cluster_partition_manager.h
  src/v/cloud_topics/interfaces/tests/BUILD
  src/v/cloud_topics/interfaces/tests/cluster_partition_manager_test.cc
  src/v/cloud_topics/interfaces/tests/mocks.h
  src/v/cloud_topics/interfaces/tests/partition_data_generator.h
  src/v/cloud_topics/read_path/BUILD
  src/v/cloud_topics/read_path/README.md
  src/v/cloud_topics/read_path/fetch_request_handler.cc
  src/v/cloud_topics/read_path/fetch_request_handler.h
  src/v/cloud_topics/read_path/placeholder_extent.cc
  src/v/cloud_topics/read_path/placeholder_extent.h
  src/v/cloud_topics/read_path/placeholder_extent_reader.cc
  src/v/cloud_topics/read_path/placeholder_extent_reader.h
  src/v/cloud_topics/read_path/tests/BUILD
  src/v/cloud_topics/read_path/tests/fetch_handler_test.cc
  src/v/cloud_topics/read_path/tests/mocks.h
  src/v/cloud_topics/read_path/tests/placeholder_extent_fixture.cc
  src/v/cloud_topics/read_path/tests/placeholder_extent_fixture.h
  src/v/cloud_topics/read_path/tests/placeholder_extent_reader_test.cc
  src/v/cloud_topics/read_path/tests/placeholder_extent_test.cc
  src/v/redpanda/BUILD
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
Labels: area/build, area/redpanda

#26490 `raft`: don't rethrow in `state_machine_manager::background_apply_fiber()`
  src/v/raft/state_machine_manager.cc
Labels: area/redpanda

#26509 cloud_topics: write using chunked_vector
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/api.h
  src/v/cloud_topics/app_impl.cc
  src/v/cloud_topics/app_impl.h
  src/v/cloud_topics/batcher/tests/aggregator_test.cc
  src/v/cloud_topics/batcher/tests/batcher_test.cc
  src/v/cloud_topics/core/serializer.cc
  src/v/cloud_topics/core/serializer.h
  src/v/cloud_topics/core/tests/event_filter_test.cc
  src/v/cloud_topics/core/tests/pipeline_bench.cc
  src/v/cloud_topics/core/tests/serializer_test.cc
  src/v/cloud_topics/core/tests/write_pipeline_test.cc
  src/v/cloud_topics/core/write_pipeline.cc
  src/v/cloud_topics/core/write_pipeline.h
  src/v/cloud_topics/throttler/tests/throttler_test.cc
Labels: area/build, area/redpanda

#26399 rpk: Remote bundle upload
  src/go/rpk/pkg/cli/debug/bundle/BUILD
  src/go/rpk/pkg/cli/debug/bundle/bundle.go
  src/go/rpk/pkg/cli/debug/common/BUILD
  src/go/rpk/pkg/cli/debug/common/common.go
  src/go/rpk/pkg/cli/debug/remotebundle/download.go
Labels: area/rpk, area/build

#26512 raft: rename take_snapshot to take_raft_snapshot
  src/v/cloud_topics/dl_stm/dl_stm.cc
  src/v/cloud_topics/dl_stm/dl_stm.h
  src/v/cluster/archival/archival_metadata_stm.h
  src/v/cluster/distributed_kv_stm.h
  src/v/cluster/id_allocator_stm.h
  src/v/cluster/log_eviction_stm.h
  src/v/cluster/partition_properties_stm.cc
  src/v/cluster/partition_properties_stm.h
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/partition_properties_stm_test.cc
  src/v/cluster/tm_stm.h
  src/v/datalake/translation/state_machine.cc
  src/v/datalake/translation/state_machine.h
  src/v/kafka/server/group_tx_tracker_stm.cc
  src/v/kafka/server/group_tx_tracker_stm.h
  src/v/kafka/server/write_at_offset_stm.cc
  src/v/kafka/server/write_at_offset_stm.h
  src/v/raft/state_machine_base.h
  src/v/raft/state_machine_manager.cc
  src/v/raft/tests/persisted_stm_test.cc
  src/v/raft/tests/stm_test_fixture.h
Labels: area/redpanda

#26475 [CORE-8321] bazel/openssl-fips: remove activate flag for fips
  bazel/thirdparty/openssl-fips.BUILD
  src/v/crypto/crypto.cc
  src/v/crypto/internal.h
  src/v/crypto/ossl_context_service.cc
Labels: area/build, area/redpanda

#26484 pandaproxy/sr: add inner iterations to stabilize sr api benchmarks
  src/v/pandaproxy/schema_registry/test/api_bench.cc
Labels: area/redpanda

#26515 [v25.1.x] rpk: Remote bundle upload
  src/go/rpk/pkg/cli/debug/bundle/BUILD
  src/go/rpk/pkg/cli/debug/bundle/bundle.go
  src/go/rpk/pkg/cli/debug/common/BUILD
  src/go/rpk/pkg/cli/debug/common/common.go
  src/go/rpk/pkg/cli/debug/remotebundle/download.go
Labels: area/rpk, area/build, kind/backport

#26417 CORE-10223: Add panda link component
  src/v/cluster/panda_link/frontend.cc
  src/v/cluster/panda_link/frontend.h
  src/v/cluster/panda_link/table.cc
  src/v/cluster/panda_link/table.h
  src/v/cluster/panda_link/tests/BUILD
  src/v/cluster/panda_link/tests/panda_link_table_test.cc
  src/v/panda_link/BUILD
  src/v/panda_link/fwd.h
  src/v/panda_link/link.cc
  src/v/panda_link/link.h
  src/v/panda_link/logger.cc
  src/v/panda_link/logger.h
  src/v/panda_link/manager.cc
  src/v/panda_link/manager.h
  src/v/panda_link/service.cc
  src/v/panda_link/service.h
  src/v/panda_link/tests/BUILD
  src/v/panda_link/tests/link_test.cc
  src/v/ssx/work_queue.cc
  src/v/ssx/work_queue.h
Labels: area/build, area/redpanda

#26527 CORE-12245: Renamed panda_link -> cluster_link
  src/v/cluster/BUILD
  src/v/cluster/cluster_link/frontend.cc
  src/v/cluster/cluster_link/frontend.h
  src/v/cluster/cluster_link/fwd.h
  src/v/cluster/cluster_link/table.cc
  src/v/cluster/cluster_link/table.h
  src/v/cluster/cluster_link/tests/BUILD
  src/v/cluster/cluster_link/tests/frontend_validation_test.cc
  src/v/cluster/cluster_link/tests/table_test.cc
  src/v/cluster/cluster_link/tests/utils.cc
  src/v/cluster/cluster_link/tests/utils.h
  src/v/cluster/commands.h
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/controller.json
  src/v/cluster/controller_snapshot.h
  src/v/cluster/controller_stm.cc
  src/v/cluster/controller_stm.h
  src/v/cluster/errc.h
  src/v/cluster/errors.cc
  src/v/cluster/service.cc
  src/v/cluster/service.h
  src/v/cluster/types.h
  src/v/cluster_link/BUILD
  src/v/cluster_link/fwd.h
  src/v/cluster_link/link.cc
  src/v/cluster_link/link.h
  src/v/cluster_link/logger.cc
  src/v/cluster_link/logger.h
  src/v/cluster_link/manager.cc
  src/v/cluster_link/manager.h
  src/v/cluster_link/model/BUILD
  src/v/cluster_link/model/types.cc
  src/v/cluster_link/model/types.h
  src/v/cluster_link/service.cc
  src/v/cluster_link/service.h
  src/v/cluster_link/tests/BUILD
  src/v/cluster_link/tests/link_test.cc
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/kafka/server/errors.h
  src/v/model/model.cc
  src/v/model/record_batch_types.h
  src/v/redpanda/application.cc
Labels: area/build, area/redpanda

#26518 `raft`: `state_machine_manager` followups
  src/v/raft/state_machine_manager.cc
  src/v/raft/state_machine_manager.h
Labels: area/redpanda

#26531 [v24.3.x] `kafka`: use `chunked_vector` in `describe_groups_handler::handle`
  src/v/kafka/server/server.cc
Labels: area/redpanda, kind/backport

#26534 tests: bumped timeouts for some test that are flaky in debug
  src/v/cluster/cloud_metadata/tests/BUILD
  src/v/storage/opfuzz/BUILD
  src/v/wasm/tests/BUILD
Labels: area/build, area/redpanda, area/wasm

#26433 [v24.2.x] storage: fix index state truncate overflow
  src/v/storage/segment_index.cc
Labels: area/redpanda

#26385 Allow for the topic label in metrics to be dynamically aggregated
  src/v/cloud_storage/read_path_probes.cc
  src/v/cluster/BUILD
  src/v/cluster/archival/probe.cc
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/partition_probe.cc
  src/v/cluster/rm_stm.cc
  src/v/cluster/topic_metrics_watcher.cc
  src/v/cluster/topic_metrics_watcher.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/group_probe.h
  src/v/metrics/metrics.cc
  src/v/metrics/metrics.h
  src/v/metrics/metrics_registry.cc
  src/v/metrics/metrics_registry.h
  src/v/raft/probe.cc
  src/v/storage/probe.cc
  tests/rptest/tests/topic_label_aggregation_test.py
Labels: area/build, area/redpanda

#26552 tests: make merge_append_action_test timeout longer
  src/v/iceberg/tests/BUILD
Labels: area/build, area/redpanda

#26526 [v24.3.x] ducktape: Respect rpk timeout in rpk
  tests/rptest/clients/rpk.py
  tests/rptest/tests/rpk_acl_test.py
Labels: kind/backport

#26493 [v24.2.x] m/record: added very basic defensive check to prevent crashes
  src/v/model/record_utils.cc
  src/v/model/tests/record_batch_test.cc
Labels: area/redpanda, kind/backport

#26499 [UX-34] rpk: remove CloudAPI usage from rpk
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cloud/byoc/BUILD
  src/go/rpk/pkg/cli/cloud/byoc/install.go
  src/go/rpk/pkg/cli/cloud/byoc/install_test.go
  src/go/rpk/pkg/cloudapi/BUILD
  src/go/rpk/pkg/cloudapi/api_cluster.go
  src/go/rpk/pkg/cloudapi/api_installpack.go
  src/go/rpk/pkg/cloudapi/cloudapi.go
  src/go/rpk/pkg/oauth/providers/auth0/BUILD
  src/go/rpk/pkg/oauth/providers/auth0/auth0.go
  src/go/rpk/pkg/publicapi/BUILD
  src/go/rpk/pkg/publicapi/controlplane.go
Labels: area/rpk, area/build

#26522 Added property to control enablement of `__consumer_offsets` cache
  src/v/cluster/controller_backend.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  tests/rptest/tests/consumer_offsets_batch_cache_test.py
Labels: area/redpanda

#26535 [v25.1.x] iceberg: encode partition field names to comply with Avro spec
  src/v/iceberg/schema_avro.cc
  src/v/iceberg/tests/schema_avro_test.cc
Labels: area/redpanda, kind/backport

#26564 raft/tests: deflake force_reconfiguration test
  src/v/raft/tests/BUILD
  src/v/raft/tests/raft_reconfiguration_test.cc
Labels: area/build, area/redpanda

#26513 `storage`: set cached disk usage after compaction rounds
  src/v/storage/compacted_index_writer.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/segment.cc
  src/v/storage/segment.h
  src/v/storage/segment_index.cc
  src/v/storage/segment_reader.cc
  src/v/storage/segment_reader.h
  src/v/storage/segment_set.cc
  src/v/storage/segment_utils.cc
  src/v/storage/segment_utils.h
  src/v/storage/spill_key_index.cc
  src/v/storage/spill_key_index.h
  src/v/storage/tests/common.h
  src/v/storage/tests/storage_e2e_test.cc
  src/v/storage/types.h
Labels: area/redpanda

#26575 wasm/tests: increase wasm test timeouts
  src/v/wasm/tests/BUILD
Labels: area/build, area/redpanda, area/wasm

#26566 csc/client_pool: Add null checks in lease watchdog handler
  src/v/cloud_storage_clients/client_pool.cc
Labels: area/redpanda

#26571 [v25.1.x] dt: limit total produced size in partition balancer scale tests
  tests/rptest/scale_tests/partition_balancer_scale_test.py
Labels: kind/backport

#26572 [v24.3.x] dt: limit total produced size in partition balancer scale tests
  tests/rptest/scale_tests/partition_balancer_scale_test.py
Labels: kind/backport

#26574 cs/remote_partition: do not try to enter gate in noexcept constructor
  src/v/cloud_storage/remote_partition.cc
Labels: area/redpanda

#26577 [v25.1.x] csc/client_pool: Add null checks in lease watchdog handler
  src/v/cloud_storage_clients/client_pool.cc
Labels: area/redpanda, kind/backport

#26520 ct: Data plane refactoring pt2
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/app.cc
  src/v/cloud_topics/app.h
  src/v/cloud_topics/batcher/BUILD
  src/v/cloud_topics/batcher/aggregator.cc
  src/v/cloud_topics/batcher/aggregator.h
  src/v/cloud_topics/batcher/tests/BUILD
  src/v/cloud_topics/batcher/tests/batcher_test.cc
  src/v/cloud_topics/core/BUILD
  src/v/cloud_topics/core/read_request.h
  src/v/cloud_topics/core/serializer.cc
  src/v/cloud_topics/core/serializer.h
  src/v/cloud_topics/core/tests/BUILD
  src/v/cloud_topics/core/tests/event_filter_test.cc
  src/v/cloud_topics/core/tests/serializer_test.cc
  src/v/cloud_topics/core/tests/write_pipeline_test.cc
  src/v/cloud_topics/core/write_pipeline.cc
  src/v/cloud_topics/core/write_pipeline.h
  src/v/cloud_topics/core/write_request.cc
  src/v/cloud_topics/core/write_request.h
  src/v/cloud_topics/data_plane_api.h
  src/v/cloud_topics/data_plane_impl.cc
  src/v/cloud_topics/data_plane_impl.h
  src/v/cloud_topics/extent_meta.h
  src/v/cloud_topics/read_path/BUILD
  src/v/cloud_topics/read_path/fetch_request_handler.cc
  src/v/cloud_topics/read_path/materialized_extent.cc
  src/v/cloud_topics/read_path/materialized_extent.h
  src/v/cloud_topics/read_path/materialized_extent_reader.cc
  src/v/cloud_topics/read_path/materialized_extent_reader.h
  src/v/cloud_topics/read_path/placeholder_extent_reader.cc
  src/v/cloud_topics/read_path/tests/BUILD
  src/v/cloud_topics/read_path/tests/fetch_handler_test.cc
  src/v/cloud_topics/read_path/tests/materialized_extent_fixture.cc
  src/v/cloud_topics/read_path/tests/materialized_extent_fixture.h
  src/v/cloud_topics/read_path/tests/materialized_extent_reader_test.cc
  src/v/cloud_topics/read_path/tests/materialized_extent_test.cc
  src/v/cloud_topics/throttler/tests/BUILD
  src/v/cloud_topics/throttler/tests/throttler_test.cc
  src/v/cloud_topics/throttler/throttler.cc
  src/v/redpanda/BUILD
  src/v/redpanda/application.cc
Labels: area/build, area/redpanda

#26585 CORE-12506 schema_registry: rename resource global -> registry
  src/v/kafka/server/handlers/details/security.h
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/api/api-doc/schema_registry_definitions.def.json
  src/v/pandaproxy/schema_registry/requests/acls.cc
  src/v/pandaproxy/schema_registry/types.h
  src/v/security/acl.cc
  src/v/security/acl.h
  src/v/security/authorizer.cc
  src/v/security/tests/authorizer_test.cc
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda

#25397 [v24.3.x] [CORE-8946] cloud_storage: Update process_anomalies method
  src/v/cloud_storage/partition_manifest.cc
Labels: area/redpanda, kind/backport

#26558 [v25.1.x] Added property to control enablement of `__consumer_offsets` cache
  src/v/cluster/controller_backend.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  tests/rptest/tests/consumer_offsets_batch_cache_test.py
Labels: area/redpanda, kind/backport

#26498 feature_table: bump min compatible version
  bazel/stamp_vars.sh
  src/v/features/feature_table.cc
  tests/rptest/services/redpanda_installer.py
  tests/rptest/tests/compatibility/java_compression_test.py
  tests/rptest/tests/shard_placement_test.py
Labels: area/build, area/redpanda

#26567 kc/consumer: fixed resource leak when coordinator changes
  src/v/kafka/client/consumer.cc
Labels: area/redpanda

#26590 Refactor __consumer_offsets topic creation
  src/v/cluster/cloud_metadata/offsets_recovery_manager.cc
  src/v/cluster/cloud_metadata/offsets_recovery_manager.h
  src/v/kafka/server/BUILD
  src/v/kafka/server/group_initializer.cc
  src/v/kafka/server/group_initializer.h
  src/v/kafka/server/group_router.h
  src/v/kafka/server/handlers/find_coordinator.cc
  src/v/kafka/server/handlers/metadata.cc
  src/v/kafka/server/request_context.h
  src/v/kafka/server/rm_group_frontend.cc
  src/v/kafka/server/rm_group_frontend.h
  src/v/kafka/server/tests/alter_config_test.cc
  src/v/kafka/server/tests/group_tx_compaction_test.cc
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
Labels: area/build, area/redpanda

#26601 bazel: remove old cmake runfiles hack
  src/v/crypto/tests/crypto_bench.cc
  src/v/crypto/tests/ossl_context_service_failure_tests.cc
  src/v/crypto/tests/ossl_context_service_test.cc
  src/v/crypto/tests/ossl_context_service_test_base.h
  src/v/iceberg/conversion/tests/BUILD
  src/v/iceberg/conversion/tests/proto_definitions.h
  src/v/iceberg/tests/manifest_serialization_test.cc
  src/v/pandaproxy/schema_registry/test/protobuf_rendering.cc
  src/v/serde/avro/tests/parser_test.cc
  src/v/serde/json/tests/data.cc
  src/v/serde/json/tests/dom_rapidjson_test.cc
  src/v/serde/json/tests/dom_serde_test.cc
  src/v/serde/json/tests/json_checker_test.cc
  src/v/test_utils/BUILD
  src/v/test_utils/runfiles.cc
  src/v/test_utils/runfiles.h
  src/v/wasm/tests/wasm_fixture.cc
  src/v/wasm/tests/wasm_transform_bench.cc
Labels: area/build, area/redpanda, area/wasm

#26598 [v25.1.x] kc/consumer: fixed resource leak when coordinator changes
  src/v/kafka/client/consumer.cc
Labels: area/redpanda, kind/backport

#26586 [v25.1.x] cs/remote_partition: do not try to enter gate in noexcept constructor
  src/v/cloud_storage/remote_partition.cc
Labels: area/redpanda, kind/backport

#26607 bazel: add elfutils to install-deps.sh
  bazel/install-deps.sh
Labels: area/build

#26599 [v24.3.x] kc/consumer: fixed resource leak when coordinator changes
  src/v/kafka/client/consumer.cc
Labels: area/redpanda, kind/backport

#26609 [v25.1.x] dt/shard_placement_scale_test: wait for node rebalance instead of asserting it
  tests/rptest/scale_tests/shard_placement_scale_test.py
Labels: kind/backport

#26565 datalake/translator: add trace logging for flaky debugging
  src/v/datalake/partitioning_writer.cc
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/translation/deps.cc
Labels: area/redpanda

#26613 bazel: Enable SEASTAR_HAS_MEMBARRIER
  bazel/thirdparty/seastar.BUILD
Labels: area/build

#26470 archival: Ensure that skip_offset_range only appears in reupload mode
  src/v/cluster/archival/archival_policy.cc
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/segment_reupload.cc
  src/v/cluster/archival/segment_reupload.h
  src/v/cluster/archival/tests/segment_reupload_test.cc
Labels: area/redpanda

#26615 [v25.1.x] rptest: test that data is readable after upgrades
  tests/rptest/tests/datalake/datalake_upgrade_test.py
  tests/rptest/tests/redpanda_test.py
Labels: kind/backport

#26237 iceberg: json schema
  src/v/iceberg/conversion/BUILD
  src/v/iceberg/conversion/ir_json.cc
  src/v/iceberg/conversion/ir_json.h
  src/v/iceberg/conversion/json_schema/BUILD
  src/v/iceberg/conversion/json_schema/details/BUILD
  src/v/iceberg/conversion/json_schema/details/string_switch_table.h
  src/v/iceberg/conversion/json_schema/frontend.cc
  src/v/iceberg/conversion/json_schema/frontend.h
  src/v/iceberg/conversion/json_schema/ir.cc
  src/v/iceberg/conversion/json_schema/ir.h
  src/v/iceberg/conversion/json_schema/tests/BUILD
  src/v/iceberg/conversion/json_schema/tests/frontend_test.cc
  src/v/iceberg/conversion/schema_json.cc
  src/v/iceberg/conversion/schema_json.h
  src/v/iceberg/conversion/tests/BUILD
  src/v/iceberg/conversion/tests/iceberg_json_tests.cc
Labels: area/build, area/redpanda

#26621 [v25.1.x] rptest: adjust cluster metadata upload frequency
  tests/rptest/tests/cluster_metadata_upload_test.py
Labels: kind/backport

#26603 ct: Add first end to end ducktape test
  src/v/cluster/partition_manager.h
  tests/rptest/tests/cloud_topics/__init__.py
  tests/rptest/tests/cloud_topics/e2e_test.py
Labels: area/build, area/redpanda

#26593 ct/l1: introduce simple metastore
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/level_one/BUILD
  src/v/cloud_topics/level_one/metastore.h
  src/v/cloud_topics/level_one/simple_metastore.cc
  src/v/cloud_topics/level_one/simple_metastore.h
  src/v/cloud_topics/level_one/state.cc
  src/v/cloud_topics/level_one/state.h
  src/v/cloud_topics/level_one/state_update.cc
  src/v/cloud_topics/level_one/state_update.h
  src/v/cloud_topics/level_one/tests/BUILD
  src/v/cloud_topics/level_one/tests/simple_metastore_test.cc
  src/v/cloud_topics/level_one/tests/state_test.cc
  src/v/cloud_topics/level_one/tests/state_update_test.cc
  src/v/model/fundamental.h
  src/v/model/model.cc
  src/v/model/tests/BUILD
  src/v/model/tests/topic_id_partition_test.cc
Labels: area/build, area/redpanda

#26630 bzl: Update seastar pointer
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: area/build

#26623 ct: Support transactions
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm_types.cc
  src/v/kafka/data/cloud_topic_partition.cc
  src/v/model/record_batch_types.h
  tests/rptest/tests/cloud_topics/e2e_test.py
Labels: area/redpanda

#26632 kafka/produce: create partition proxy further up
  src/v/kafka/server/handlers/produce.cc
Labels: area/redpanda

#26633 cluster/partition: remove optional around cloud topics app
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/kafka/data/partition_proxy.cc
Labels: area/redpanda

#26631 ct/l1: move objects into level one package
  src/v/cloud_topics/level_one/BUILD
  src/v/cloud_topics/level_one/object.cc
  src/v/cloud_topics/level_one/object.h
  src/v/cloud_topics/level_one/tests/BUILD
  src/v/cloud_topics/level_one/tests/object_test.cc
  src/v/cloud_topics/objects/BUILD
  src/v/cloud_topics/objects/tests/BUILD
Labels: area/build, area/redpanda
