Repository redpanda-data/redpanda, pull requests merged in 2025-01, with the labels that each got.

#24472 Make partitions memory group aware
  src/v/cluster/BUILD
  src/v/cluster/controller.cc
  src/v/cluster/scheduling/partition_allocator.cc
  src/v/cluster/scheduling/partition_allocator.h
  src/v/cluster/scheduling/topic_memory_per_partition_default.h
  src/v/cluster/tests/BUILD
  src/v/cluster/tests/partition_allocator_fixture.h
  src/v/cluster/tests/partition_allocator_tests.cc
  src/v/cluster/tests/partition_balancer_planner_fixture.h
  src/v/cluster/tests/topic_table_fixture.h
  src/v/config/BUILD
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/redpanda/application.cc
  src/v/resource_mgmt/BUILD
  src/v/resource_mgmt/memory_groups.cc
  src/v/resource_mgmt/memory_groups.h
  src/v/resource_mgmt/tests/memory_groups_test.cc
  tests/rptest/tests/resource_limits_test.py
Labels: area/build, area/redpanda

#24590 Fix stepping down on timeout
  src/v/compat/raft_generator.h
  src/v/compat/raft_json.h
  src/v/raft/consensus.cc
  src/v/raft/fundamental.h
  src/v/raft/heartbeat_manager.cc
  src/v/raft/service.h
  src/v/raft/tests/BUILD
  src/v/raft/tests/CMakeLists.txt
  src/v/raft/tests/basic_raft_fixture_test.cc
  src/v/raft/tests/failure_injectable_log.cc
  src/v/raft/tests/failure_injectable_log.h
  src/v/raft/tests/heartbeat_bench.cc
  src/v/raft/tests/heartbeats_test.cc
  src/v/raft/tests/raft_fixture.cc
  src/v/raft/tests/raft_fixture.h
  src/v/raft/tests/type_serialization_tests.cc
  src/v/raft/types.cc
  src/v/storage/ntp_config.h
Labels: area/build, area/redpanda

#24664 Do not download the partition manifest when creating learner
  src/v/cluster/controller_backend.cc
  tests/rptest/tests/scaling_up_test.py
Labels: area/redpanda

#24673 [v24.2.x] raft: Make load_snapshot exception safe
  src/v/raft/persisted_stm.cc
Labels: area/redpanda, kind/backport

#24680 [v24.2.x] Do not download the partition manifest when creating learner
  src/v/cluster/controller_backend.cc
  tests/rptest/tests/scaling_up_test.py
Labels: area/redpanda, kind/backport

#24632 admin: document query params for /v1/cloud_storage/cache/trim
  src/v/redpanda/admin/api-doc/shadow_indexing.json
Labels: area/redpanda

#24687 c/rm_stm: correct error codes
  src/v/cluster/rm_stm.cc
Labels: area/redpanda

#24691 [v24.3.x] rptest/s: support logger level overrides when running mixed version
  tests/rptest/services/redpanda.py
Labels: kind/backport

#24689 [v24.2.x] tx/group compaction fixes
  src/v/archival/archival_metadata_stm.cc
  src/v/archival/archival_metadata_stm.h
  src/v/cluster/distributed_kv_stm.h
  src/v/cluster/id_allocator_stm.cc
  src/v/cluster/id_allocator_stm.h
  src/v/cluster/log_eviction_stm.cc
  src/v/cluster/log_eviction_stm.h
  src/v/cluster/producer_state.h
  src/v/cluster/rm_group_proxy.h
  src/v/cluster/rm_partition_frontend.cc
  src/v/cluster/rm_partition_frontend.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/cluster/tx_gateway.cc
  src/v/cluster/tx_gateway.h
  src/v/cluster/tx_gateway.json
  src/v/cluster/tx_gateway_frontend.cc
  src/v/cluster/tx_gateway_frontend.h
  src/v/cluster/tx_protocol_types.cc
  src/v/cluster/tx_protocol_types.h
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/group_data_parser.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
  src/v/kafka/server/group_recovery_consumer.cc
  src/v/kafka/server/group_stm.cc
  src/v/kafka/server/group_stm.h
  src/v/kafka/server/group_tx_tracker_stm.cc
  src/v/kafka/server/group_tx_tracker_stm.h
  src/v/kafka/server/handlers/describe_producers.cc
  src/v/kafka/server/rm_group_frontend.cc
  src/v/kafka/server/rm_group_frontend.h
  src/v/kafka/server/tests/consumer_group_recovery_test.cc
  src/v/kafka/server/tests/group_tx_compaction_test.cc
  src/v/model/timestamp.h
  src/v/raft/persisted_stm.cc
  src/v/raft/persisted_stm.h
  src/v/raft/tests/persisted_stm_test.cc
  src/v/redpanda/admin/api-doc/debug.json
  src/v/redpanda/admin/api-doc/transaction.json
  src/v/redpanda/admin/debug.cc
  src/v/redpanda/admin/server.h
  src/v/redpanda/admin/transaction.cc
  src/v/redpanda/application.cc
  tests/rptest/clients/kafka_cli_tools.py
  tests/rptest/clients/rpk.py
  tests/rptest/services/admin.py
  tests/rptest/tests/describe_producers_test.py
  tests/rptest/transactions/consumer_offsets_test.py
  tests/rptest/transactions/producers_api_test.py
  tests/rptest/transactions/transactions_test.py
  tests/rptest/transactions/verifiers/consumer_offsets_verifier.py
Labels: area/redpanda

#24582 kafka/client: replace std::vector with chunked vector
  src/v/kafka/client/client.cc
  src/v/kafka/client/client.h
  src/v/pandaproxy/json/requests/produce.h
Labels: area/redpanda

#24477 change the `consensus::replicate` method to accept `chunked_vector`
  src/v/cloud_topics/dl_stm/dl_stm_api.cc
  src/v/cluster/archival/archival_metadata_stm.cc
  src/v/cluster/archival/tests/archival_service_fixture.h
  src/v/cluster/distributed_kv_stm.h
  src/v/cluster/id_allocator_stm.cc
  src/v/cluster/log_eviction_stm.cc
  src/v/cluster/migrations/tx_manager_migrator.cc
  src/v/cluster/migrations/tx_manager_migrator.h
  src/v/cluster/migrations/tx_manager_migrator_types.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_properties_stm.cc
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/idempotency_tests.cc
  src/v/cluster/tests/partition_properties_stm_test.cc
  src/v/cluster/tests/rebalancing_tests_fixture.h
  src/v/cluster/tests/rm_stm_tests.cc
  src/v/cluster/tests/tx_compaction_utils.h
  src/v/cluster/tm_stm.cc
  src/v/container/fragmented_vector.h
  src/v/container/tests/fragmented_vector_test.cc
  src/v/datalake/coordinator/state_machine.cc
  src/v/datalake/translation/state_machine.cc
  src/v/kafka/data/partition_proxy.h
  src/v/kafka/data/replicated_partition.cc
  src/v/kafka/data/replicated_partition.h
  src/v/kafka/server/group.cc
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/handlers/produce.cc
  src/v/kafka/server/tests/fetch_test.cc
  src/v/kafka/server/tests/replicated_partition_test.cc
  src/v/kafka/server/tests/topic_recreate_test.cc
  src/v/pandaproxy/schema_registry/validation.cc
  src/v/pandaproxy/schema_registry/validation.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/mux_state_machine.h
  src/v/raft/replicate_batcher.cc
  src/v/raft/replicate_batcher.h
  src/v/raft/state_machine.cc
  src/v/raft/tests/append_entries_test.cc
  src/v/raft/tests/basic_raft_fixture_test.cc
  src/v/raft/tests/persisted_stm_test.cc
  src/v/raft/tests/raft_fixture.h
  src/v/raft/tests/raft_group_fixture.h
  src/v/raft/tests/stm_test_fixture.h
  src/v/transform/rpc/service.cc
  src/v/transform/rpc/tests/transform_rpc_test.cc
Labels: area/redpanda, area/wasm

#24712 kafka: add dedicated logger for authz failures
  src/v/kafka/protocol/logger.cc
  src/v/kafka/protocol/logger.h
  src/v/kafka/server/connection_context.h
Labels: area/redpanda

#24702 [v24.2.x] Offset translator consistency validation
  tests/rptest/tests/ot_consistency_test.py
  tests/rptest/tests/random_node_operations_test.py
  tests/rptest/utils/node_operations.py
Labels: kind/backport

#24676 [CORE-8525] - Iceberg schema evolution
  src/v/iceberg/BUILD
  src/v/iceberg/CMakeLists.txt
  src/v/iceberg/compatibility.cc
  src/v/iceberg/compatibility.h
  src/v/iceberg/compatibility_types.cc
  src/v/iceberg/compatibility_types.h
  src/v/iceberg/compatibility_utils.h
  src/v/iceberg/datatypes.cc
  src/v/iceberg/datatypes.h
  src/v/iceberg/field_collecting_visitor.h
  src/v/iceberg/tests/BUILD
  src/v/iceberg/tests/CMakeLists.txt
  src/v/iceberg/tests/compatibility_bench.cc
  src/v/iceberg/tests/compatibility_test.cc
  src/v/iceberg/tests/compatibility_utils_test.cc
Labels: area/build, area/redpanda

#24716 Replace `get0` with `get`
  src/v/cluster/tests/rm_stm_tests.cc
  src/v/datalake/tests/gtest_record_multiplexer_test.cc
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

#24718 [v24.3.x] kafka: add dedicated logger for authz failures
  src/v/kafka/protocol/logger.cc
  src/v/kafka/protocol/logger.h
  src/v/kafka/server/connection_context.h
Labels: area/redpanda, kind/backport

#24720 tools/dev_cluster: default data directory to repo root
  tools/BUILD
  tools/dev_cluster.py
Labels: area/build

#24714 [v24.2.x] bazel: support latest protobuf version
  MODULE.bazel
  MODULE.bazel.lock
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/redpanda/application.cc
Labels: area/redpanda, kind/backport

#24651 [v24.2.x] rpk: bump dataplane to v1alpha2
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/transform/delete.go
  src/go/rpk/pkg/cli/transform/deploy.go
  src/go/rpk/pkg/cli/transform/list.go
  src/go/rpk/pkg/publicapi/transform.go
Labels: area/rpk

#24652 [v24.1.x] rpk: bump dataplane to v1alpha2
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/transform/delete.go
  src/go/rpk/pkg/cli/transform/deploy.go
  src/go/rpk/pkg/cli/transform/list.go
  src/go/rpk/pkg/publicapi/transform.go
Labels: area/rpk

#24675 rpk bundle: Fix race condition in SASL credential redaction
  src/go/rpk/pkg/cli/debug/bundle/bundle_linux.go
Labels: area/rpk

#24686 rpk: add the output of 'uptime' to debug bundle
  src/go/rpk/pkg/cli/debug/bundle/bundle.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_linux.go
Labels: area/rpk

#24705 [v24.3.x] kafka/client: replace std::vector with chunked vector
  src/v/kafka/client/client.cc
  src/v/kafka/client/client.h
  src/v/pandaproxy/json/requests/produce.h
Labels: area/redpanda, kind/backport

#24707 [v24.1.x] kafka/client: replace std::vector with chunked vector
  src/v/kafka/client/client.cc
  src/v/kafka/client/client.h
  src/v/pandaproxy/json/requests/produce.h
Labels: area/redpanda, kind/backport

#24659 storage: add log lines about removed data
  src/v/storage/compaction_reducers.cc
  src/v/storage/compaction_reducers.h
  src/v/storage/segment_deduplication_utils.cc
  src/v/storage/segment_utils.cc
Labels: area/redpanda

#24650 [v24.3.x] iceberg: fix spec inconsistency in manifest list files_count
  src/v/iceberg/avroschemas/manifest_file.schema.json
  src/v/iceberg/manifest_list_avro.cc
  src/v/iceberg/tests/manifest_serialization_test.cc
  tests/rptest/services/spark_service.py
  tests/rptest/services/trino_service.py
  tests/rptest/tests/datalake/datalake_e2e_test.py
  tests/rptest/tests/datalake/datalake_services.py
  tests/rptest/tests/datalake/query_engine_base.py
Labels: area/redpanda, kind/backport

#24735 pp/sr/proto: disable unused alias warning
  src/v/pandaproxy/schema_registry/protobuf/CMakeLists.txt
Labels: area/redpanda

#24731 [v24.1.x] rpk bundle: Fix race condition in SASL credential redaction
  src/go/rpk/pkg/cli/debug/bundle/bundle_linux.go
Labels: area/rpk, kind/backport

#24729 [v24.3.x] rpk bundle: Fix race condition in SASL credential redaction
  src/go/rpk/pkg/cli/debug/bundle/bundle_linux.go
Labels: area/rpk, kind/backport

#24678 [v24.3.x] Do not download the partition manifest when creating learner
  src/v/cluster/controller_backend.cc
  tests/rptest/tests/scaling_up_test.py
Labels: area/redpanda, kind/backport

#24715 storage: build tests with bazel
  src/v/storage/mvlog/BUILD
  src/v/storage/mvlog/tests/BUILD
  src/v/storage/mvlog/tests/entry_stream_utils_test.cc
  src/v/storage/mvlog/tests/segment_reader_test.cc
  src/v/storage/tests/BUILD
  src/v/storage/tests/compaction_e2e_test.cc
  src/v/storage/tests/log_segment_reader_test.cc
  src/v/storage/tests/storage_e2e_fixture.h
Labels: area/build, area/redpanda

#24730 [v24.2.x] rpk bundle: Fix race condition in SASL credential redaction
  src/go/rpk/pkg/cli/debug/bundle/bundle_linux.go
Labels: area/rpk, kind/backport

#24736 [v24.3.x] storage: add log lines about removed data
  src/v/storage/compaction_reducers.cc
  src/v/storage/compaction_reducers.h
  src/v/storage/segment_deduplication_utils.cc
  src/v/storage/segment_utils.cc
Labels: area/redpanda, kind/backport

#24727 CORE-8721 security: check `std::uncaught_exceptions()` in `~request_auth_result()`
  src/v/security/request_auth.cc
Labels: area/redpanda

#24696 CORE-2701 Quotas: use kafka quotas in tests
  src/v/cluster/tests/cluster_test_fixture.h
  src/v/kafka/client/test/BUILD
  src/v/kafka/client/test/fixture.h
  src/v/kafka/client/test/retry.cc
  src/v/kafka/server/tests/client_quota_translator_test.cc
  src/v/kafka/server/tests/quota_manager_test.cc
  src/v/redpanda/tests/fixture.h
  tests/rptest/clients/rpk.py
  tests/rptest/tests/cluster_quota_test.py
Labels: area/build, area/redpanda

#24700 [v24.2.x] c/members_table: fixed typo in applying remove node command
  src/v/cluster/members_table.cc
Labels: area/redpanda, kind/backport

#24703 [v24.2.x] Validate offset delta in append entries handler
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/probe.cc
  src/v/raft/probe.h
  src/v/raft/recovery_stm.cc
  src/v/raft/types.cc
  src/v/raft/types.h
Labels: area/redpanda, kind/backport

#24732 bazel: add rp_util and compat
  bazel/build.bzl
  src/v/cluster/tests/BUILD
  src/v/compat/BUILD
  src/v/compat/abort_group_tx_compat.h
  src/v/compat/abort_tx_compat.h
  src/v/compat/abort_tx_generator.h
  src/v/compat/acls_compat.h
  src/v/compat/acls_json.h
  src/v/compat/begin_group_tx_compat.h
  src/v/compat/begin_group_tx_generator.h
  src/v/compat/begin_tx_compat.h
  src/v/compat/begin_tx_generator.h
  src/v/compat/cluster_json.h
  src/v/compat/commit_group_tx_compat.h
  src/v/compat/commit_group_tx_generator.h
  src/v/compat/commit_tx_compat.h
  src/v/compat/commit_tx_generator.h
  src/v/compat/get_cluster_health_compat.h
  src/v/compat/get_node_health_compat.h
  src/v/compat/init_tm_tx_generator.h
  src/v/compat/json.h
  src/v/compat/model_compat.h
  src/v/compat/model_json.h
  src/v/compat/partition_balancer_compat.h
  src/v/compat/partition_balancer_generator.h
  src/v/compat/raft_compat.h
  src/v/compat/raft_generator.h
  src/v/compat/raft_json.h
  src/v/compat/tests/BUILD
  src/v/compat/try_abort_compat.h
  src/v/compat/try_abort_generator.h
  src/v/rp_util/BUILD
  src/v/rp_util/CMakeLists.txt
  src/v/rp_util/main.cc
  src/v/security/tests/BUILD
Labels: area/build, area/redpanda

#24725 CORE-8720 kafka/server: `chunked_hash_map` for response ordering
  src/v/kafka/server/connection_context.h
Labels: area/redpanda

#24706 [v24.2.x] kafka/client: replace std::vector with chunked vector
  src/v/kafka/client/client.cc
  src/v/kafka/client/client.h
  src/v/pandaproxy/json/requests/produce.h
Labels: area/redpanda, kind/backport

#24745 bazel: extend ca certificate duration
  bazel/cert.bzl
Labels: area/build

#24744 [24.2.x] redpanda: ensure correct version for protobuf includes
  src/v/redpanda/application.cc
Labels: area/redpanda

#24738 [v24.3.x] CORE-8721 security: check `std::uncaught_exceptions()` in `~request_auth_result()`
  src/v/security/request_auth.cc
Labels: area/redpanda, kind/backport

#24739 [v24.2.x] CORE-8721 security: check `std::uncaught_exceptions()` in `~request_auth_result()`
  src/v/security/request_auth.cc
Labels: area/redpanda, kind/backport

#24741 [v24.1.x] CORE-8720 kafka/server: `chunked_hash_map` for response ordering
  src/v/kafka/server/connection_context.h
Labels: area/redpanda, kind/backport

#24743 [v24.3.x] CORE-8720 kafka/server: `chunked_hash_map` for response ordering
  src/v/kafka/server/connection_context.h
Labels: area/redpanda, kind/backport

#24740 [v24.1.x] CORE-8721 security: check `std::uncaught_exceptions()` in `~request_auth_result()`
  src/v/security/request_auth.cc
Labels: area/redpanda, kind/backport

#24742 [v24.2.x] CORE-8720 kafka/server: `chunked_hash_map` for response ordering
  src/v/kafka/server/connection_context.h
Labels: area/redpanda, kind/backport

#24698 Iceberg custom partitioning: translation path
  src/v/datalake/BUILD
  src/v/datalake/base_types.cc
  src/v/datalake/base_types.h
  src/v/datalake/catalog_schema_manager.cc
  src/v/datalake/catalog_schema_manager.h
  src/v/datalake/coordinator/BUILD
  src/v/datalake/coordinator/data_file.cc
  src/v/datalake/coordinator/data_file.h
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/datalake/coordinator/tests/iceberg_file_committer_test.cc
  src/v/datalake/coordinator/translated_offset_range.h
  src/v/datalake/partitioning_writer.cc
  src/v/datalake/partitioning_writer.h
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/catalog_schema_manager_test.cc
  src/v/datalake/tests/gtest_record_multiplexer_test.cc
  src/v/datalake/tests/partitioning_writer_test.cc
  src/v/datalake/tests/record_multiplexer_test.cc
  src/v/datalake/tests/translation_task_test.cc
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation_task.cc
  src/v/datalake/translation_task.h
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/iceberg/metadata_io.h
  src/v/iceberg/partition_key.cc
  src/v/iceberg/partition_key.h
  src/v/iceberg/table_metadata.h
  src/v/iceberg/transform_utils.cc
Labels: area/build, area/redpanda

#24755 bazel: bump buildifier
  MODULE.bazel
Labels: area/build

#24747 [v24.3.x] [CORE-8485] Reset translation state on snapshot
  src/v/datalake/translation/state_machine.cc
  src/v/datalake/translation/tests/state_machine_test.cc
  src/v/raft/tests/raft_fixture.cc
  src/v/raft/tests/raft_fixture.h
Labels: area/redpanda, kind/backport

#24697 CORE-2701 Quotas: remove client quota cluster configs
  src/v/config/BUILD
  src/v/config/CMakeLists.txt
  src/v/config/client_group_byte_rate_quota.cc
  src/v/config/client_group_byte_rate_quota.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/tests/validator_tests.cc
  src/v/config/validators.cc
  src/v/config/validators.h
  src/v/kafka/server/client_quota_translator.cc
  src/v/kafka/server/client_quota_translator.h
  src/v/kafka/server/quota_manager.h
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/client_quota_test_helpers.h
  src/v/kafka/server/tests/client_quota_translator_test.cc
  src/v/kafka/server/tests/quota_manager_test.cc
  tests/rptest/tests/client_quota_deprecated_configs_test.py
Labels: area/build, area/redpanda

#24752 [v24.2.x] bazel: Update protobuf to v29.0
  MODULE.bazel
  MODULE.bazel.lock
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/redpanda/application.cc
Labels: area/redpanda, kind/backport

#24749 [CORE-8754] Handle new TLS error codes
  MODULE.bazel.lock
  bazel/repositories.bzl
  src/v/net/connection.cc
Labels: area/build, area/redpanda

#24764 [v24.3.x] [CORE-8450] Schema Registry: Support normalize=true for protobuf
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/pandaproxy/BUILD
  src/v/pandaproxy/schema_registry/api.cc
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/protobuf.h
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
  src/v/pandaproxy/schema_registry/types.h
Labels: area/build, area/redpanda, area/schema-registry, kind/backport

#24763 [v24.2.x] [CORE-8450] Schema Registry: Support normalize=true for protobuf
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/pandaproxy/schema_registry/api.cc
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/protobuf.h
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
  src/v/pandaproxy/schema_registry/types.h
Labels: area/redpanda, area/schema-registry, kind/backport

#24723 Fix some oversized allocs during topic operations
  src/v/cluster/topic_updates_dispatcher.h
  src/v/container/chunked_hash_map.h
  src/v/storage/kvstore.h
Labels: area/redpanda

#24765 [v24.3.x] [CORE-8754] Handle new TLS error code
  MODULE.bazel.lock
  bazel/repositories.bzl
  src/v/net/connection.cc
Labels: area/build, area/redpanda

#24737 rm_stm_tests: fix broken test
  src/v/cluster/producer_state.cc
  src/v/cluster/tests/rm_stm_tests.cc
Labels: area/redpanda

#24636 `storage`: compaction alignment test
  src/v/storage/tests/BUILD
  src/v/storage/tests/CMakeLists.txt
  src/v/storage/tests/compaction_fuzz_test.cc
  src/v/storage/tests/storage_e2e_test.cc
  src/v/storage/tests/utils/disk_log_builder.cc
  src/v/storage/tests/utils/disk_log_builder.h
Labels: area/build, area/redpanda

#24773 [v24.3.x] Fix stepping down on timeout
  src/v/compat/raft_generator.h
  src/v/compat/raft_json.h
  src/v/raft/consensus.cc
  src/v/raft/fundamental.h
  src/v/raft/heartbeat_manager.cc
  src/v/raft/service.h
  src/v/raft/tests/BUILD
  src/v/raft/tests/CMakeLists.txt
  src/v/raft/tests/basic_raft_fixture_test.cc
  src/v/raft/tests/failure_injectable_log.cc
  src/v/raft/tests/failure_injectable_log.h
  src/v/raft/tests/heartbeat_bench.cc
  src/v/raft/tests/heartbeats_test.cc
  src/v/raft/tests/raft_fixture.cc
  src/v/raft/tests/raft_fixture.h
  src/v/raft/tests/replication_monitor_tests.cc
  src/v/raft/tests/type_serialization_tests.cc
  src/v/raft/types.cc
  src/v/storage/ntp_config.h
Labels: area/build, area/redpanda, kind/backport

#24657 pandaproxy/sr: bazelize compatibility_protobuf test
  src/go/rpk/pkg/serde/embed/BUILD
  src/go/rpk/pkg/serde/embed/embed_test.go
  src/v/pandaproxy/BUILD
  src/v/pandaproxy/schema_registry/CMakeLists.txt
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/protobuf/BUILD
  src/v/pandaproxy/schema_registry/test/BUILD
Labels: area/rpk, area/build, area/redpanda

#24776 [CORE-8450] schema_registry: Normalization improvements
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
Labels: area/redpanda, area/schema-registry

#24784 [CORE-8787] [v24.2.x] schema_registry: Normalization improvements
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
Labels: area/redpanda, area/schema-registry, kind/backport

#24610 `datalake`: relax `translation_stm::max_collectible_offset()` value (and add `compaction_test.py`)
  src/v/datalake/translation/BUILD
  src/v/datalake/translation/CMakeLists.txt
  src/v/datalake/translation/state_machine.cc
  src/v/datalake/translation/tests/BUILD
  src/v/datalake/translation/tests/CMakeLists.txt
  src/v/datalake/translation/tests/state_machine_test.cc
  src/v/datalake/translation/tests/translated_log_offset_test.cc
  src/v/datalake/translation/utils.cc
  src/v/datalake/translation/utils.h
  tests/rptest/tests/datalake/compaction_test.py
  tests/rptest/tests/datalake/datalake_verifier.py
Labels: area/build, area/redpanda

#24783 [CORE-8787] [v24.3.x] schema_registry: Normalization improvements
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
Labels: area/redpanda, area/schema-registry

#24779 Measure entire produce path in microbenchmark
  src/v/kafka/server/tests/produce_partition_bench.cc
Labels: area/redpanda

#24503 Cache parsed schemas in datalake
  src/v/datalake/BUILD
  src/v/datalake/datalake_manager.cc
  src/v/datalake/datalake_manager.h
  src/v/datalake/record_schema_resolver.cc
  src/v/datalake/record_schema_resolver.h
  src/v/datalake/record_translator.cc
  src/v/datalake/tests/record_multiplexer_bench.cc
  src/v/datalake/tests/record_schema_resolver_test.cc
  src/v/utils/chunked_kv_cache.h
  src/v/utils/tests/chunked_kv_cache_test.cc
Labels: area/build, area/redpanda, area/wasm

#24786 [v24.3.x] bazel: add rp_util and compat
  bazel/build.bzl
  src/v/cluster/tests/BUILD
  src/v/compat/BUILD
  src/v/compat/abort_group_tx_compat.h
  src/v/compat/abort_tx_compat.h
  src/v/compat/abort_tx_generator.h
  src/v/compat/acls_compat.h
  src/v/compat/acls_json.h
  src/v/compat/begin_group_tx_compat.h
  src/v/compat/begin_group_tx_generator.h
  src/v/compat/begin_tx_compat.h
  src/v/compat/begin_tx_generator.h
  src/v/compat/cluster_json.h
  src/v/compat/commit_group_tx_compat.h
  src/v/compat/commit_group_tx_generator.h
  src/v/compat/commit_tx_compat.h
  src/v/compat/commit_tx_generator.h
  src/v/compat/get_cluster_health_compat.h
  src/v/compat/get_node_health_compat.h
  src/v/compat/init_tm_tx_generator.h
  src/v/compat/json.h
  src/v/compat/model_compat.h
  src/v/compat/model_json.h
  src/v/compat/partition_balancer_compat.h
  src/v/compat/partition_balancer_generator.h
  src/v/compat/raft_compat.h
  src/v/compat/raft_generator.h
  src/v/compat/raft_json.h
  src/v/compat/tests/BUILD
  src/v/compat/try_abort_compat.h
  src/v/compat/try_abort_generator.h
  src/v/rp_util/BUILD
  src/v/rp_util/CMakeLists.txt
  src/v/rp_util/main.cc
  src/v/security/tests/BUILD
Labels: area/build, area/redpanda, kind/backport

#24761 c/topic_table: notify ntp delta waiters in batches
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
Labels: area/redpanda

#24788 rpk/connect: print download message to stderr
  src/go/rpk/pkg/cli/connect/connect.go
Labels: area/rpk

#24669 bazel: use a sysroot for compilation
  .bazelrc
  BUILD
  MODULE.bazel
  MODULE.bazel.lock
  bazel/install-deps.sh
  bazel/packaging/BUILD
  bazel/packaging/bin_wrapper/BUILD
  bazel/packaging/bin_wrapper/main.go
  bazel/packaging/exec.tmpl.sh
  bazel/packaging/packaging.bzl
  bazel/packaging/tool.go
  bazel/repositories.bzl
  bazel/thirdparty/seastar.bzl
  bazel/toolchain/.gitignore
  bazel/toolchain/Dockerfile.llvm
  bazel/toolchain/Dockerfile.sysroot
  bazel/toolchain/README.md
  src/v/kafka/protocol/schemata/generator.bzl
  src/v/rpc/compiler.bzl
  src/v/rpc/rpc_compiler.py
  src/v/version/expand_with_stamp_vars.bzl
  tests/docker/ducktape-deps/kafka-tools
Labels: area/rpk, area/build, area/redpanda, area/wasm

#24794 [CORE-8450] schema_registry/protobuf: Optimize construction of iobuf
  src/v/pandaproxy/schema_registry/protobuf.cc
Labels: area/redpanda, area/schema-registry

#24796 bazel: change benchmarks to binaries
  bazel/test.bzl
  src/v/compression/tests/BUILD
  src/v/container/tests/BUILD
  src/v/crypto/tests/BUILD
  src/v/iceberg/tests/BUILD
  src/v/rpc/test/BUILD
  src/v/security/tests/BUILD
  src/v/serde/test/BUILD
  src/v/ssx/tests/BUILD
  src/v/utils/tests/BUILD
  src/v/wasm/tests/BUILD
Labels: area/build, area/redpanda, area/wasm

#24775 protobuf: move proto files to schema/protobuf
  src/go/rpk/pkg/serde/embed/BUILD
  src/go/rpk/pkg/serde/embed/embed_test.go
  src/v/pandaproxy/BUILD
  src/v/pandaproxy/schema_registry/CMakeLists.txt
  src/v/schema/CMakeLists.txt
  src/v/schema/protobuf/.clang-format
  src/v/schema/protobuf/BUILD
  src/v/schema/protobuf/CMakeLists.txt
  src/v/schema/protobuf/confluent/meta.proto
  src/v/schema/protobuf/confluent/types/decimal.proto
  src/v/schema/protobuf/google/type/README.md
  src/v/schema/protobuf/google/type/calendar_period.proto
  src/v/schema/protobuf/google/type/color.proto
  src/v/schema/protobuf/google/type/date.proto
  src/v/schema/protobuf/google/type/datetime.proto
  src/v/schema/protobuf/google/type/dayofweek.proto
  src/v/schema/protobuf/google/type/decimal.proto
  src/v/schema/protobuf/google/type/expr.proto
  src/v/schema/protobuf/google/type/fraction.proto
  src/v/schema/protobuf/google/type/interval.proto
  src/v/schema/protobuf/google/type/latlng.proto
  src/v/schema/protobuf/google/type/localized_text.proto
  src/v/schema/protobuf/google/type/money.proto
  src/v/schema/protobuf/google/type/month.proto
  src/v/schema/protobuf/google/type/phone_number.proto
  src/v/schema/protobuf/google/type/postal_address.proto
  src/v/schema/protobuf/google/type/quaternion.proto
  src/v/schema/protobuf/google/type/timeofday.proto
  src/v/schema/protobuf/well_known.bzl
Labels: area/rpk, area/build, area/redpanda

#24799 [v24.3.x] [CORE-8450] schema_registry/protobuf: Optimize construction of iobuf
  src/v/pandaproxy/schema_registry/protobuf.cc
Labels: area/redpanda, kind/backport

#24674 [v24.1.x] raft: Make load_snapshot exception safe
  src/v/raft/persisted_stm.cc
Labels: area/redpanda, kind/backport

#24792 bazel: simplify btest/gtest split targets
  src/v/cloud_storage/tests/BUILD
  src/v/cluster/tests/BUILD
  src/v/datalake/coordinator/tests/BUILD
  src/v/datalake/tests/BUILD
  src/v/iceberg/tests/BUILD
  src/v/kafka/client/test/BUILD
  src/v/kafka/server/tests/BUILD
  src/v/pandaproxy/test/BUILD
  src/v/raft/tests/BUILD
  src/v/redpanda/tests/BUILD
  src/v/security/audit/tests/BUILD
  src/v/storage/tests/BUILD
Labels: area/build, area/redpanda

#24798 rm_stm: improved logging related to producer eviction
  src/v/cluster/rm_stm.cc
Labels: area/redpanda

#24803 [v24.2.x] c/topic_table: notify ntp delta waiters in batches
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
Labels: area/redpanda, kind/backport

#24806 [v24.2.x] rm_stm: improved logging related to producer eviction
  src/v/cluster/rm_stm.cc
Labels: area/redpanda, kind/backport

#24772 [CORE-8654] Add flag to re-enable TLS client renegotiation
  MODULE.bazel.lock
  bazel/repositories.bzl
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/tls_config.cc
  tests/rptest/tests/tls_version_test.py
Labels: area/build, area/redpanda

#24807 rpk: modify CODEOWNER
  .github/CODEOWNERS
Labels: area/build

#24804 bazel: rename benchmarks to match CMake
  src/v/cloud_storage/tests/BUILD
  src/v/cluster/tests/BUILD
  src/v/cluster/tests/health_monitor_bench.cc
  src/v/compression/tests/BUILD
  src/v/container/tests/BUILD
  src/v/crypto/tests/BUILD
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/record_generator.h
  src/v/datalake/tests/record_multiplexer_bench.cc
  src/v/iceberg/tests/BUILD
  src/v/raft/tests/BUILD
  src/v/raft/tests/heartbeat_bench.cc
  src/v/rpc/test/BUILD
  src/v/security/tests/BUILD
  src/v/serde/test/BUILD
  src/v/ssx/tests/BUILD
  src/v/storage/tests/BUILD
  src/v/utils/tests/BUILD
  src/v/wasm/tests/BUILD
Labels: area/build, area/redpanda, area/wasm

#24805 [v24.3.x] rm_stm: improved logging related to producer eviction
  src/v/cluster/rm_stm.cc
Labels: area/redpanda, kind/backport

#24811 Fix `finish` method in `test_serde_parquet_data_writer`
  src/v/datalake/tests/test_data_writer.h
Labels: area/redpanda

#24777 Update seastar bazel repository to v25.1.x
  MODULE.bazel.lock
  bazel/repositories.bzl
  bazel/thirdparty/seastar.BUILD
Labels: area/build

#24781 kafka: return log offests for ooor error
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/fetch.h
  src/v/kafka/server/tests/fetch_test.cc
Labels: area/redpanda

#24790 [v24.3.x] c/topic_table: notify ntp delta waiters in batches
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
Labels: area/redpanda, kind/backport

#24822 gha/clang-format: don't update lockfile
  .github/workflows/lint-cpp.yml
Labels: area/build

#24672 [v24.3.x] raft: Make load_snapshot exception safe
  src/v/raft/persisted_stm.cc
Labels: area/redpanda, kind/backport

#24787 CORE-8616 redpanda: configurable sleep on crash loop
  src/v/config/node_config.cc
  src/v/config/node_config.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  tests/rptest/services/redpanda.py
  tests/rptest/tests/crash_loop_checks_test.py
Labels: area/redpanda

#24809 Manual backport 24772 v24.3.x 935
  MODULE.bazel.lock
  bazel/repositories.bzl
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/tls_config.cc
  tests/rptest/tests/tls_version_test.py
Labels: area/build, area/redpanda

#24817 bazel/bench: add tests to benchmarks
  bazel/test.bzl
  src/v/datalake/tests/BUILD
  src/v/wasm/tests/BUILD
Labels: area/build, area/redpanda, area/wasm

#24671 [UX-61] Support Public API in `rpk security user`
  src/go/rpk/pkg/cli/cluster/storage/BUILD
  src/go/rpk/pkg/cli/cluster/storage/cancel-mount.go
  src/go/rpk/pkg/cli/cluster/storage/list-mount.go
  src/go/rpk/pkg/cli/cluster/storage/list-mountable.go
  src/go/rpk/pkg/cli/cluster/storage/mount.go
  src/go/rpk/pkg/cli/cluster/storage/status-mount.go
  src/go/rpk/pkg/cli/cluster/storage/storage.go
  src/go/rpk/pkg/cli/cluster/storage/unmount.go
  src/go/rpk/pkg/cli/security/user/BUILD
  src/go/rpk/pkg/cli/security/user/create.go
  src/go/rpk/pkg/cli/security/user/delete.go
  src/go/rpk/pkg/cli/security/user/list.go
  src/go/rpk/pkg/cli/security/user/update.go
  src/go/rpk/pkg/cli/security/user/user.go
  src/go/rpk/pkg/config/BUILD
  src/go/rpk/pkg/config/rpk_yaml.go
  src/go/rpk/pkg/publicapi/dataplane.go
Labels: area/rpk, area/build

#24709 c/migration/table: when applying a snapshot update completed timestamp
  src/v/cluster/data_migration_table.cc
Labels: area/redpanda

#24818 iceberg: correctly set purge requested param
  src/v/iceberg/rest_client/catalog_client.cc
Labels: area/redpanda

#24836 [v24.3.x] ducktape: bump spark version
  tests/docker/ducktape-deps/spark
Labels: kind/backport

#24833 r/stm_manager: stop state machines before waiting for gate
  src/v/raft/state_machine_manager.cc
Labels: area/redpanda

#24815 kvstore: remove partial snapshots at startup
  src/v/storage/kvstore.cc
Labels: area/redpanda

#24802 kafka/server|hashing: bazelize benchmarks
  bazel/BUILD
  bazel/test.bzl
  src/v/hashing/tests/BUILD
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/fetch_bench.cc
  src/v/kafka/server/tests/fetch_plan_bench.cc
  src/v/kafka/server/tests/produce_partition_bench.cc
  src/v/kafka/server/tests/quota_manager_bench.cc
Labels: area/build, area/redpanda

#24844 [v24.1.x] kvstore: remove partial snapshots at startup
  src/v/storage/kvstore.cc
Labels: area/redpanda, kind/backport

#24843 [v24.2.x] kvstore: remove partial snapshots at startup
  src/v/storage/kvstore.cc
Labels: area/redpanda, kind/backport

#24842 iceberg: add dialhome metrics
  src/v/cluster/metrics_reporter.cc
  src/v/cluster/metrics_reporter.h
Labels: area/redpanda

#24767 iceberg: action for removing snapshots from table metadata
  src/v/iceberg/BUILD
  src/v/iceberg/CMakeLists.txt
  src/v/iceberg/filesystem_catalog.cc
  src/v/iceberg/remove_snapshots_action.cc
  src/v/iceberg/remove_snapshots_action.h
  src/v/iceberg/rest_catalog.cc
  src/v/iceberg/table_metadata.h
  src/v/iceberg/table_update.h
  src/v/iceberg/table_update_applier.cc
  src/v/iceberg/table_update_json.cc
  src/v/iceberg/tests/BUILD
  src/v/iceberg/tests/CMakeLists.txt
  src/v/iceberg/tests/filesystem_catalog_test.cc
  src/v/iceberg/tests/remove_snapshots_action_test.cc
  src/v/iceberg/tests/rest_catalog_test.cc
  src/v/iceberg/tests/table_update_applier_test.cc
  src/v/iceberg/transaction.cc
  src/v/iceberg/transaction.h
Labels: area/build, area/redpanda

#24845 [v24.3.x] kvstore: remove partial snapshots at startup
  src/v/storage/kvstore.cc
Labels: area/redpanda, kind/backport

#24771 Partition `replicate` API changes, follow up
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/idempotency_tests.cc
  src/v/cluster/tests/rm_stm_tests.cc
  src/v/cluster/tests/tx_compaction_utils.h
  src/v/kafka/data/replicated_partition.cc
  src/v/kafka/server/handlers/produce.cc
  src/v/pandaproxy/schema_registry/validation.cc
  src/v/pandaproxy/schema_registry/validation.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/replicate_batcher.cc
Labels: area/redpanda

#24841 [v24.3.x] r/stm_manager: stop state machines before waiting for gate
  src/v/raft/state_machine_manager.cc
Labels: area/redpanda, kind/backport

#24846 [v24.2.x] CORE-8616 redpanda: configurable sleep on crash loop
  src/v/config/node_config.cc
  src/v/config/node_config.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  tests/rptest/services/redpanda.py
  tests/rptest/tests/crash_loop_checks_test.py
Labels: area/redpanda, kind/backport

#24797 rpk: improve error message when mount/unmount ID is not found
  src/go/rpk/pkg/cli/cluster/storage/status-mount.go
Labels: area/rpk

#24853 serde: fix c++23 enum handling
  src/v/cluster/types.h
  src/v/serde/rw/enum.h
  src/v/serde/serde_is_enum.h
  src/v/transform/rpc/tests/transform_rpc_test.cc
Labels: area/redpanda, area/wasm

#24812 iceberg: Single-value JSON serde
  src/v/iceberg/BUILD
  src/v/iceberg/CMakeLists.txt
  src/v/iceberg/tests/BUILD
  src/v/iceberg/tests/CMakeLists.txt
  src/v/iceberg/tests/values_json_test.cc
  src/v/iceberg/values_json.cc
  src/v/iceberg/values_json.h
Labels: area/build, area/redpanda

#24824 datalake: on demand dlq table creation
  src/v/datalake/coordinator/BUILD
  src/v/datalake/coordinator/coordinator.cc
  src/v/datalake/coordinator/coordinator.h
  src/v/datalake/coordinator/file_committer.h
  src/v/datalake/coordinator/frontend.cc
  src/v/datalake/coordinator/frontend.h
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/datalake/coordinator/iceberg_file_committer.h
  src/v/datalake/coordinator/rpc.json
  src/v/datalake/coordinator/tests/BUILD
  src/v/datalake/coordinator/tests/coordinator_test.cc
  src/v/datalake/coordinator/tests/state_test_utils.h
  src/v/datalake/coordinator/types.h
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
  src/v/datalake/table_creator.h
  src/v/datalake/table_id_provider.h
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/record_multiplexer_test.cc
  src/v/datalake/tests/test_utils.cc
  src/v/datalake/tests/test_utils.h
  src/v/datalake/translation/partition_translator.cc
  tests/rptest/tests/datalake/datalake_dlq_test.py
  tests/rptest/tests/datalake/datalake_services.py
Labels: area/build, area/redpanda

#24861 [v24.3.x] rpk: modify CODEOWNER
  .github/CODEOWNERS
Labels: area/build, kind/backport

#24574 [CORE-NNNN] archival: Use read-write fence in the ntp_archiver
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cloud_storage/tests/delete_records_e2e_test.cc
  src/v/cloud_storage/tests/produce_utils.h
  src/v/cloud_storage/tests/topic_namespace_override_recovery_test.cc
  src/v/cluster/archival/adjacent_segment_merger.cc
  src/v/cluster/archival/archival_metadata_stm.cc
  src/v/cluster/archival/archival_metadata_stm.h
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/ntp_archiver_service.h
  src/v/cluster/archival/tests/archival_metadata_stm_gtest.cc
  src/v/cluster/archival/tests/ntp_archiver_test.cc
  src/v/cluster/archival/tests/service_fixture.cc
  src/v/cluster/cloud_metadata/tests/cluster_recovery_backend_test.cc
  src/v/cluster/errc.h
  src/v/cluster/errors.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/kafka/server/errors.h
Labels: area/redpanda

#24825 [v24.3.x] CORE-8616 redpanda: configurable sleep on crash loop
  src/v/config/node_config.cc
  src/v/config/node_config.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  tests/rptest/services/redpanda.py
  tests/rptest/tests/crash_loop_checks_test.py
Labels: area/redpanda, kind/backport

#24708 [v24.2.x] Fix stepping down on timeout
  src/v/compat/raft_generator.h
  src/v/compat/raft_json.h
  src/v/raft/consensus.cc
  src/v/raft/fundamental.h
  src/v/raft/heartbeat_manager.cc
  src/v/raft/service.h
  src/v/raft/tests/CMakeLists.txt
  src/v/raft/tests/basic_raft_fixture_test.cc
  src/v/raft/tests/failure_injectable_log.cc
  src/v/raft/tests/failure_injectable_log.h
  src/v/raft/tests/heartbeat_bench.cc
  src/v/raft/tests/heartbeats_test.cc
  src/v/raft/tests/raft_fixture.cc
  src/v/raft/tests/raft_fixture.h
  src/v/raft/tests/replication_monitor_tests.cc
  src/v/raft/tests/type_serialization_tests.cc
  src/v/raft/types.cc
  src/v/storage/ntp_config.h
Labels: area/redpanda, kind/backport

#24865 kafka: Add batch size histogram
  src/v/kafka/server/BUILD
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/produce.cc
  src/v/kafka/server/kafka_probe.h
  src/v/kafka/server/request_context.h
  src/v/kafka/server/server.cc
  src/v/kafka/server/server.h
  src/v/utils/log_hist.cc
  src/v/utils/log_hist.h
Labels: area/build, area/redpanda

#24864 Small improvements in Raft
  src/v/raft/append_entries_buffer.cc
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/probe.cc
  src/v/raft/probe.h
  src/v/raft/service.h
  src/v/raft/tests/BUILD
Labels: area/build, area/redpanda

#24828 CORE-8617 crash_tracker: prepare a new module for development
  src/v/CMakeLists.txt
  src/v/crash_tracker/BUILD
  src/v/crash_tracker/CMakeLists.txt
  src/v/crash_tracker/limiter.cc
  src/v/crash_tracker/limiter.h
  src/v/crash_tracker/logger.cc
  src/v/crash_tracker/logger.h
  src/v/crash_tracker/recorder.cc
  src/v/crash_tracker/recorder.h
  src/v/crash_tracker/service.cc
  src/v/crash_tracker/service.h
  src/v/crash_tracker/types.h
  src/v/redpanda/BUILD
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
Labels: area/build, area/redpanda

#24856 pandaproxy/sr: Fix normalized rendering for custom options
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
Labels: area/redpanda

#24852 tx/producer eviction: fix a bug with incorrect eviction using stale pids
  src/v/cluster/producer_state.cc
  src/v/cluster/producer_state.h
  src/v/cluster/producer_state_manager.cc
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/producer_state_tests.cc
  src/v/cluster/tests/randoms.h
  src/v/cluster/tests/rm_stm_tests.cc
  src/v/cluster/tx_errc.cc
  src/v/cluster/tx_errc.h
  src/v/cluster/tx_gateway_frontend.cc
  src/v/kafka/server/errors.h
  tests/rptest/transactions/transactions_test.py
Labels: area/redpanda

#24867 bazel: add bench tag to benchmarks
  bazel/test.bzl
Labels: area/build

#24855 datalake/coordinator: introduce table_commit_builder
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/datalake/translation_task.cc
  src/v/datalake/translation_task.h
Labels: area/redpanda

#24774 Use `chunked_vector` in `append_entries_request`
  src/v/compat/raft_compat.h
  src/v/compat/raft_generator.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/consensus_utils.cc
  src/v/raft/consensus_utils.h
  src/v/raft/recovery_stm.cc
  src/v/raft/recovery_stm.h
  src/v/raft/replicate_batcher.cc
  src/v/raft/replicate_entries_stm.cc
  src/v/raft/replicate_entries_stm.h
  src/v/raft/service.h
  src/v/raft/tests/configuration_serialization_test.cc
  src/v/raft/tests/raft_fixture.cc
  src/v/raft/tests/simple_record_fixture.h
  src/v/raft/tests/type_serialization_tests.cc
  src/v/raft/types.cc
  src/v/raft/types.h
Labels: area/redpanda

#24423 [CORE-8160] `storage`: add chunked compaction routine
  src/v/model/record.h
  src/v/storage/compaction_reducers.cc
  src/v/storage/compaction_reducers.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/exceptions.h
  src/v/storage/key_offset_map.cc
  src/v/storage/key_offset_map.h
  src/v/storage/probe.cc
  src/v/storage/probe.h
  src/v/storage/segment_deduplication_utils.cc
  src/v/storage/segment_deduplication_utils.h
  src/v/storage/segment_utils.cc
  src/v/storage/segment_utils.h
  src/v/storage/tests/CMakeLists.txt
  src/v/storage/tests/compaction_e2e_test.cc
  src/v/storage/tests/compaction_reducer_fixture_test.cc
  src/v/storage/tests/key_offset_map_test.cc
  src/v/storage/tests/segment_deduplication_test.cc
  src/v/storage/tests/storage_test_fixture.h
  src/v/test_utils/test_macros.h
  tests/rptest/tests/log_compaction_test.py
  tests/rptest/tests/random_node_operations_test.py
Labels: area/redpanda

#24880 storage: fix bounds check in offset range size method
  src/v/model/offset_interval.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

#24635 [CORE-8637]: `storage`: fix race between `disk_log_impl::new_segment()` and `disk_log_impl::close()`
  src/v/storage/disk_log_impl.cc
  src/v/storage/tests/storage_e2e_fixture_test.cc
Labels: area/redpanda

#24872 [v24.3.x] pandaproxy/sr: Fix normalized rendering for custom options
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
Labels: area/redpanda, kind/backport

#24873 [v24.2.x] pandaproxy/sr: Fix normalized rendering for custom options
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
Labels: area/redpanda, kind/backport

#24813 dl/coordinator: periodically remove snapshots
  src/v/datalake/coordinator/BUILD
  src/v/datalake/coordinator/CMakeLists.txt
  src/v/datalake/coordinator/coordinator.cc
  src/v/datalake/coordinator/coordinator.h
  src/v/datalake/coordinator/coordinator_manager.cc
  src/v/datalake/coordinator/coordinator_manager.h
  src/v/datalake/coordinator/iceberg_snapshot_remover.cc
  src/v/datalake/coordinator/iceberg_snapshot_remover.h
  src/v/datalake/coordinator/snapshot_remover.h
  src/v/datalake/coordinator/tests/BUILD
  src/v/datalake/coordinator/tests/CMakeLists.txt
  src/v/datalake/coordinator/tests/coordinator_test.cc
  src/v/datalake/coordinator/tests/iceberg_snapshot_remover_test.cc
  src/v/datalake/coordinator/tests/state_machine_test.cc
  src/v/iceberg/metadata_io.h
  tests/rptest/tests/datalake/datalake_e2e_test.py
Labels: area/build, area/redpanda

#24888 r/apppend_entries_buf: run flush in raft scheduling group
  src/v/raft/append_entries_buffer.cc
Labels: area/redpanda

#24891 CORE-8804 Make brokers field no longer required
  src/v/kafka/client/configuration.cc
Labels: area/redpanda

#24837 Fix partitions local summary
  src/v/redpanda/admin/partition.cc
  tests/rptest/services/admin.py
  tests/rptest/tests/partition_state_api_test.py
Labels: area/redpanda

#24884 Introduced separate scheduling group for produce
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/app.cc
  src/v/kafka/server/app.h
  src/v/kafka/server/handlers/produce.cc
  src/v/kafka/server/server.cc
  src/v/kafka/server/server.h
  src/v/redpanda/application.cc
  src/v/redpanda/tests/fixture.h
  src/v/resource_mgmt/cpu_scheduling.h
Labels: area/redpanda

#24903 [v24.3.x] CORE-8804 Make brokers field no longer required
  src/v/kafka/client/configuration.cc
Labels: area/redpanda, kind/backport

#24881 rpk: add an option to print group member's instance ID
  src/go/rpk/pkg/cli/group/describe.go
Labels: area/rpk

#24839 Buffered protocol changes
  src/v/config/configuration.cc
  src/v/raft/buffered_protocol.cc
Labels: area/redpanda

#24893 datalake: write invalid records to the dlq table
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/datalake/coordinator/iceberg_file_committer.h
  src/v/datalake/coordinator/translated_offset_range.cc
  src/v/datalake/coordinator/translated_offset_range.h
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
  src/v/datalake/tests/record_multiplexer_test.cc
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation_task.cc
  tests/rptest/tests/datalake/datalake_dlq_test.py
  tests/rptest/tests/datalake/datalake_services.py
  tests/rptest/tests/datalake/datalake_verifier.py
Labels: area/redpanda

#24860 [CORE-8797] Improve parsing of POST /subject/{subject}/version object
  src/v/pandaproxy/schema_registry/error.cc
  src/v/pandaproxy/schema_registry/error.h
  src/v/pandaproxy/schema_registry/errors.h
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/requests/post_subject_versions.h
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/post_subjects_subject_version.cc
Labels: area/redpanda

#24904 [v24.2.x] CORE-8804 Make brokers field no longer require
  src/v/kafka/client/configuration.cc
Labels: area/redpanda, kind/backport

#24913 iceberg: remove extraneous empty block in Avro files
  src/v/iceberg/manifest_avro.cc
  src/v/iceberg/manifest_list_avro.cc
Labels: area/redpanda

#24910 [v24.3.x] pandaproxy/sr: Add rendering support for extension range options
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
Labels: area/redpanda, kind/backport

#24920 [v24.3.x] iceberg: remove extraneous empty block in Avro files
  src/v/iceberg/manifest_avro.cc
  src/v/iceberg/manifest_list_avro.cc
Labels: area/redpanda, kind/backport

#24878 [24.2.x][backport] tx/producer eviction: fix a bug with incorrect eviction using stale pids #24852
  src/v/cluster/producer_state.cc
  src/v/cluster/producer_state.h
  src/v/cluster/producer_state_manager.cc
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/producer_state_tests.cc
  src/v/cluster/tests/randoms.h
  src/v/cluster/tests/rm_stm_tests.cc
  src/v/cluster/tx_errc.cc
  src/v/cluster/tx_errc.h
  src/v/cluster/tx_gateway_frontend.cc
  src/v/kafka/server/errors.h
  tests/rptest/transactions/transactions_test.py
Labels: area/redpanda

#24909 [v24.2.x] pandaproxy/sr: Add rendering support for extension range options
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
Labels: area/redpanda, kind/backport

#24890 cluster: Make partition creation refusal more clear
  src/v/cluster/scheduling/partition_allocator.cc
Labels: area/redpanda

#24896 config: Enabling SASL PLAIN requires SCRAM
  src/v/config/configuration.cc
  src/v/config/validators.cc
  tests/rptest/tests/scram_test.py
Labels: area/redpanda

#24916 [v24.3.x] [CORE-8797] Improve parsing of POST /subject/{subject}/version object
  src/v/pandaproxy/schema_registry/error.cc
  src/v/pandaproxy/schema_registry/error.h
  src/v/pandaproxy/schema_registry/errors.h
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/requests/post_subject_versions.h
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/post_subjects_subject_version.cc
Labels: area/redpanda, kind/backport

#24925 r/buffered_protocol: disable buffering in raft buffered protocol
  src/v/config/configuration.cc
Labels: area/redpanda
