Repository redpanda-data/redpanda, pull requests merged in 2025-10, with the labels that each got.

#27815 [v25.2.x] kafka/server: use truncating logger for `log_request`
  src/v/kafka/server/handlers/handler.h
Labels: area/redpanda, kind/backport

#27611 cluster: use cloud storage cluster name for recovery if configured
  src/v/cluster/cloud_metadata/error_outcome.h
  src/v/cluster/cloud_metadata/key_utils.cc
  src/v/cluster/cloud_metadata/key_utils.h
  src/v/cluster/cloud_metadata/manifest_downloads.cc
  src/v/cluster/cloud_metadata/manifest_downloads.h
  src/v/cluster/cloud_metadata/tests/BUILD
  src/v/cluster/cloud_metadata/tests/controller_snapshot_reconciliation_test.cc
  src/v/cluster/cloud_metadata/tests/key_utils_test.cc
  src/v/cluster/cloud_metadata/tests/manifest_downloads_test.cc
  src/v/cluster/cloud_metadata/tests/uploader_test.cc
  src/v/cluster/cloud_metadata/uploader.cc
  src/v/cluster/cloud_metadata/uploader.h
  src/v/cluster/cluster_recovery_manager.cc
  src/v/cluster/controller.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/tests/validator_tests.cc
  src/v/config/validators.cc
  src/v/config/validators.h
  tests/rptest/tests/cluster_recovery_test.py
Labels: area/build, area/redpanda

#27827 vector_bench: remove randomness
  src/v/container/tests/BUILD
  src/v/container/tests/bench_utils.h
  src/v/container/tests/vector_bench.cc
Labels: area/build, area/redpanda

#27763 [v25.2.x] rm_stm: async loop over intrusive list fix
  src/v/cluster/rm_stm.cc
Labels: area/redpanda, kind/backport

#27704 CORE-13360 admin: implement generic AIP-160 filter parsing
  MODULE.bazel
  MODULE.bazel.lock
  bazel/pbgen/main.go
  licenses/third_party.md
  src/v/redpanda/admin/BUILD
  src/v/redpanda/admin/aip_filter.cc
  src/v/redpanda/admin/aip_filter.h
  src/v/redpanda/admin/tests/BUILD
  src/v/redpanda/admin/tests/aip_filter_test.cc
  src/v/redpanda/admin/tests/aip_filter_test_messages.proto
  src/v/serde/protobuf/base.h
  src/v/serde/protobuf/tests/goldens/codegen_test.proto.cc
  src/v/serde/protobuf/tests/goldens/codegen_test.proto.h
  src/v/serde/protobuf/tests/goldens/test_messages_edition2023.proto.cc
  src/v/serde/protobuf/tests/goldens/test_messages_edition2023.proto.h
Labels: area/build, area/redpanda

#27838 config: fix typo in description
  src/v/config/configuration.cc
Labels: area/redpanda

#27843 [v25.2.x] CORE-13113 dt/quotas: make tests more robust to slow produce calls
  tests/rptest/tests/cluster_quota_test.py
Labels: kind/backport

#27849 ct: factor out placeholder construction from l0 reader
  .github/copilot-instructions.md
  src/v/cloud_topics/README.md
  src/v/cloud_topics/frontend/frontend.cc
  src/v/cloud_topics/frontend/frontend.h
  src/v/cloud_topics/level_zero/batcher/aggregator.cc
  src/v/cloud_topics/level_zero/common/BUILD
  src/v/cloud_topics/level_zero/frontend_reader/reader.cc
  src/v/cloud_topics/level_zero/pipeline/read_request.h
  src/v/cloud_topics/level_zero/reader/fetch_request_handler.h
  src/v/cloud_topics/level_zero/reader/materialized_extent.h
  src/v/cloud_topics/level_zero/reader/tests/materialized_extent_fixture.cc
  src/v/cloud_topics/level_zero/reader/tests/materialized_extent_fixture.h
  src/v/cloud_topics/level_zero/stm/BUILD
  src/v/cloud_topics/level_zero/stm/ctp_stm.cc
  src/v/cloud_topics/level_zero/stm/placeholder.cc
  src/v/cloud_topics/level_zero/stm/placeholder.h
  src/v/cloud_topics/level_zero/stm/tests/ctp_stm_test.cc
  src/v/cloud_topics/level_zero/write_request_scheduler/write_request_scheduler.cc
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm_types.cc
  src/v/model/model.cc
  src/v/model/record_batch_types.h
  tools/offline_log_viewer/storage.py
Labels: area/build, area/redpanda

#27837 [v25.1.x] k/group: replaced use of std::vector with chunked_vector
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
Labels: area/redpanda, kind/backport

#27852 [v24.3.x] Cloud I/O: Independently configurable client lease timeout
  src/v/cloud_io/remote.cc
  src/v/cloud_io/remote.h
  src/v/cloud_storage_clients/client_pool.cc
  src/v/cloud_storage_clients/client_pool.h
  src/v/cloud_storage_clients/tests/client_pool_test.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  tests/rptest/tests/e2e_shadow_indexing_test.py
Labels: area/redpanda, kind/backport

#27568 [v24.3.x] admin: handle log level requests on shard 0
  src/v/redpanda/admin/server.cc
  src/v/redpanda/admin/server.h
Labels: area/redpanda, kind/backport

#27832 c/producer_seq: accept batches with last seq < than first seq
  src/v/cluster/producer_state.cc
  src/v/cluster/tests/producer_state_tests.cc
Labels: area/redpanda

#27792 admin: wcr support for uuid override
  src/v/cluster/cloud_metadata/manifest_downloads.cc
  src/v/cluster/cloud_metadata/manifest_downloads.h
  src/v/cluster/cloud_metadata/tests/BUILD
  src/v/cluster/cloud_metadata/tests/cluster_recovery_backend_test.cc
  src/v/cluster/cluster_recovery_manager.cc
  src/v/cluster/cluster_recovery_manager.h
  src/v/redpanda/admin/BUILD
  src/v/redpanda/admin/cluster_recovery.cc
  src/v/redpanda/admin/server.cc
  src/v/redpanda/admin/server.h
  tests/rptest/services/admin.py
  tests/rptest/tests/cluster_recovery_test.py
Labels: area/build, area/redpanda

#27870 bazel/sesatar: update seastar
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: area/build

#27862 [v25.2.x] partition_balancer: unify disk usage limits into a single threshold
  src/v/cluster/controller.cc
  src/v/cluster/partition_balancer_backend.cc
  src/v/cluster/partition_balancer_backend.h
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/partition_balancer_planner.h
  src/v/cluster/tests/partition_balancer_planner_fixture.h
  src/v/cluster/tests/partition_balancer_planner_test.cc
  src/v/cluster/tests/partition_balancer_simulator_test.cc
  tests/rptest/tests/partition_balancer_test.py
Labels: area/redpanda, kind/backport

#27856 [v24.3.x] c/producer_seq: accept batches with last seq < than first seq
  src/v/cluster/producer_state.cc
  src/v/cluster/tests/producer_state_tests.cc
Labels: area/redpanda, kind/backport

#27105 cloud_storage: extract materializer from async manifest view
  src/v/cloud_storage/BUILD
  src/v/cloud_storage/async_manifest_materializer.cc
  src/v/cloud_storage/async_manifest_materializer.h
  src/v/cloud_storage/async_manifest_view.cc
  src/v/cloud_storage/async_manifest_view.h
Labels: area/build, area/redpanda

#27887 [v25.1.x] Schema Registry: Improve shutdown
  src/v/kafka/client/client.cc
  src/v/kafka/client/client.h
  src/v/pandaproxy/schema_registry/api.cc
Labels: area/redpanda, kind/backport

#27886 [v25.2.x] Schema Registry: Improve shutdown
  src/v/kafka/client/client.cc
  src/v/kafka/client/client.h
  src/v/pandaproxy/schema_registry/api.cc
Labels: area/redpanda, kind/backport

#27879 cs/archiver_service: relax metadata consistency check when gaps allowed
  src/v/cluster/archival/ntp_archiver_service.cc
Labels: area/redpanda

#27866 introduce iobuf::linearize_to_string
  src/v/bytes/iobuf.cc
  src/v/bytes/iobuf.h
  src/v/bytes/tests/BUILD
  src/v/bytes/tests/iobuf_tests.cc
  src/v/cloud_roles/BUILD
  src/v/cloud_roles/aws_refresh_impl.cc
  src/v/cloud_storage/tests/anomalies_detector_test.cc
  src/v/http/tests/http_client_test.cc
  src/v/iceberg/BUILD
  src/v/iceberg/conversion/values_json.cc
  src/v/iceberg/table_io.cc
  src/v/iceberg/tests/rest_catalog_test.cc
  src/v/serde/json/detail/tests/string_test.cc
  src/v/serde/json/tests/dom.cc
  src/v/serde/json/tests/writer_test.cc
  src/v/serde/protobuf/json.cc
  src/v/serde/protobuf/tests/round_trip_test.cc
  src/v/wasm/tests/wasi_test.cc
Labels: area/build, area/redpanda, area/wasm

#27875 Use deterministic seeds in benchmarks
  bazel/test.bzl
  src/v/random/generators.cc
  src/v/random/tests/random_seeding_test.cc
  src/v/test_utils/BUILD
  src/v/test_utils/rpbench_hooks.cc
Labels: area/build, area/redpanda

#27892 [v25.2.x] iceberg: streaming parsing for table metadata
  src/v/iceberg/BUILD
  src/v/iceberg/table_io.cc
Labels: area/rpk, area/build, area/redpanda, area/wasm

#27897 CORE-13759 Add TLS enable flag
  proto/redpanda/core/admin/v2/shadow_link.proto
  src/v/cluster_link/model/tests/test_model.cc
  src/v/cluster_link/model/types.cc
  src/v/cluster_link/model/types.h
  src/v/cluster_link/tests/utils_test.cc
  src/v/cluster_link/utils.cc
  src/v/redpanda/admin/services/shadow_link/converter.cc
  src/v/redpanda/admin/services/shadow_link/tests/converter_test.cc
  tests/rptest/clients/admin/proto/redpanda/core/admin/v2/shadow_link_pb2.py
  tests/rptest/clients/admin/proto/redpanda/core/admin/v2/shadow_link_pb2.pyi
  tests/rptest/tests/cluster_linking_topic_syncing_test.py
Labels: area/redpanda

#27871 ct: truncate L0 data below LRO
  src/v/cloud_topics/level_zero/stm/BUILD
  src/v/cloud_topics/level_zero/stm/ctp_stm.cc
  src/v/cloud_topics/level_zero/stm/ctp_stm.h
  src/v/cloud_topics/level_zero/stm/tests/ctp_stm_test.cc
  src/v/test_utils/async.h
Labels: area/build, area/redpanda

#27904 partition_balancer_simulator_test: skip for now
  src/v/cluster/tests/partition_balancer_simulator_test.cc
Labels: area/redpanda

#27889 [v25.2.x] [CORE-13370] archival: Fence spillover command
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/ntp_archiver_service.h
Labels: area/redpanda, kind/backport

#27902 cluster/tests: depend on application
  src/v/cluster/tests/BUILD
Labels: area/build, area/redpanda

#27906 [v25.2.x] cluster/tests: depend on application
  src/v/cluster/tests/BUILD
Labels: area/build, area/redpanda, kind/backport

#27876 [CORE-13754] Make `disk_log_impl::adjacent_merge_compact()` pass by value
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/segment_set.h
  src/v/storage/tests/compaction_e2e_test.cc
  src/v/storage/tests/log_truncate_test.cc
  src/v/storage/tests/storage_e2e_test.cc
  src/v/storage/tests/utils/disk_log_builder.cc
Labels: area/redpanda

#27908 [v25.2.x] [CORE-13754] Make `disk_log_impl::adjacent_merge_compact()` pass by value (MANUAL BACKPORT)
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/segment_set.h
  src/v/storage/tests/compaction_e2e_test.cc
  src/v/storage/tests/log_truncate_test.cc
  src/v/storage/tests/storage_e2e_test.cc
  src/v/storage/tests/utils/disk_log_builder.cc
Labels: area/redpanda

#27835 [CORE-13720] net/tls: Revert change in ciphers
  src/v/net/tls.cc
  tests/rptest/tests/tls_version_test.py
Labels: area/redpanda, area/security

#27903 compaction_idx_bench: make it deterministic
  src/v/storage/tests/compaction_idx_bench.cc
  src/v/test_utils/BUILD
  src/v/test_utils/random_bytes.cc
  src/v/test_utils/random_bytes.h
Labels: area/build, area/redpanda

#27881 [v25.1.x] c/tx: fix begin of transactions without a fence batch
  src/v/cluster/producer_state.cc
  src/v/cluster/tests/producer_state_tests.cc
Labels: area/redpanda, kind/backport

#27880 [v25.2.x] c/tx: fix begin of transactions without a fence batch
  src/v/cluster/producer_state.cc
  src/v/cluster/tests/producer_state_tests.cc
Labels: area/redpanda, kind/backport

#27716 [CORE-13298] Reimplement consumer_lag from health_report
  src/v/config/configuration.cc
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
  src/v/redpanda/application.cc
  tests/rptest/tests/consumer_group_test.py
Labels: area/build, area/redpanda

#27826 ct/reconciler: Metrics
  src/v/cloud_topics/reconciler/BUILD
  src/v/cloud_topics/reconciler/reconciler.cc
  src/v/cloud_topics/reconciler/reconciler.h
  src/v/cloud_topics/reconciler/reconciler_probe.cc
  src/v/cloud_topics/reconciler/reconciler_probe.h
  src/v/cloud_topics/reconciler/reconciliation_consumer.cc
  src/v/cloud_topics/reconciler/reconciliation_consumer.h
  src/v/cloud_topics/reconciler/reconciliation_source.h
  src/v/cloud_topics/reconciler/tests/BUILD
  src/v/cloud_topics/reconciler/tests/reconciler_metrics_test.cc
  src/v/cloud_topics/reconciler/tests/reconciler_test.cc
  src/v/cloud_topics/reconciler/tests/test_utils.h
  src/v/test_utils/BUILD
  src/v/test_utils/metrics.h
  src/v/wasm/tests/BUILD
  src/v/wasm/tests/wasm_probe_test.cc
Labels: area/build, area/redpanda, area/wasm

#27817 datalake: move lag metrics to public metrics
  src/v/cluster/partition_probe.cc
  src/v/cluster/partition_probe.h
  src/v/datalake/translation/deps.cc
  src/v/datalake/translation/deps.h
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/tests/partition_translator_tests.cc
  src/v/datalake/translation/translation_probe.cc
  src/v/datalake/translation/translation_probe.h
  tests/rptest/tests/datalake/datalake_e2e_test.py
  tests/rptest/tests/datalake/disk_usage_test.py
Labels: area/redpanda

#27636 `ct/l1`: add `compaction_worker` and `worker_manager` [CT - Compaction #4]
  src/v/cloud_topics/level_one/compaction/BUILD
  src/v/cloud_topics/level_one/compaction/meta.h
  src/v/cloud_topics/level_one/compaction/source.cc
  src/v/cloud_topics/level_one/compaction/source.h
  src/v/cloud_topics/level_one/compaction/tests/BUILD
  src/v/cloud_topics/level_one/compaction/tests/worker_manager_test.cc
  src/v/cloud_topics/level_one/compaction/worker.cc
  src/v/cloud_topics/level_one/compaction/worker.h
  src/v/cloud_topics/level_one/compaction/worker_manager.cc
  src/v/cloud_topics/level_one/compaction/worker_manager.h
Labels: area/build, area/redpanda

#27921 c/producer_state: fix missing placeholder in log line
  src/v/cluster/producer_state.cc
Labels: area/redpanda

#27794 [CORE-13383] Implement KIP-709: offset fetch v8
  src/v/cluster_link/group_mirroring_task.cc
  src/v/cluster_link/tests/group_mirroring_task_test.cc
  src/v/kafka/client/client.cc
  src/v/kafka/client/client.h
  src/v/kafka/client/consumer.cc
  src/v/kafka/client/consumer.h
  src/v/kafka/client/test/consumer_group.cc
  src/v/kafka/protocol/offset_fetch.h
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/protocol/schemata/offset_fetch_request.json
  src/v/kafka/protocol/schemata/offset_fetch_response.json
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
  src/v/kafka/server/group_router.cc
  src/v/kafka/server/group_router.h
  src/v/kafka/server/handlers/offset_fetch.h
  src/v/kafka/server/server.cc
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/consumer_groups_test.cc
  src/v/kafka/server/tests/offset_fetch_test.cc
  src/v/pandaproxy/json/requests/offset_fetch.h
Labels: area/build, area/redpanda

#27839 CORE-13362 admin: implement AIP-132 ordering parser
  src/v/redpanda/admin/BUILD
  src/v/redpanda/admin/aip_common_config.h
  src/v/redpanda/admin/aip_filter.cc
  src/v/redpanda/admin/aip_filter.h
  src/v/redpanda/admin/aip_ordering.cc
  src/v/redpanda/admin/aip_ordering.h
  src/v/redpanda/admin/tests/BUILD
  src/v/redpanda/admin/tests/aip_filter_test.cc
  src/v/redpanda/admin/tests/aip_ordering_test.cc
  src/v/redpanda/admin/tests/aip_test_message.proto
  src/v/redpanda/admin/tests/aip_test_message_helpers.h
  src/v/serde/protobuf/base.h
Labels: area/build, area/redpanda

#27931 cluster: re-enable partition balacer sim test
  src/v/cluster/tests/partition_balancer_simulator_test.cc
Labels: area/redpanda

#27926 RNG visibility improvements
  .bazelrc
  bazel/bench_wrapper.py
  src/v/container/tests/absl_map_bench.cc
  src/v/random/BUILD
  src/v/random/generators.cc
  src/v/random/generators.h
  src/v/random/tests/random_seeding_test.cc
  src/v/test_utils/BUILD
  src/v/test_utils/boost_test_hooks.cc
  src/v/test_utils/global_test_hooks.cc
  src/v/test_utils/test_env.cc
  src/v/test_utils/test_env.h
  src/v/test_utils/tests/BUILD
  src/v/test_utils/tests/test_env_test.cc
Labels: area/build, area/redpanda

#27915 [CORE-13829] ct/reconciler: Add mucho metrics
  src/v/cloud_topics/reconciler/BUILD
  src/v/cloud_topics/reconciler/reconciler.cc
  src/v/cloud_topics/reconciler/reconciler.h
  src/v/cloud_topics/reconciler/reconciler_probe.cc
  src/v/cloud_topics/reconciler/reconciler_probe.h
  src/v/cloud_topics/reconciler/tests/reconciler_metrics_test.cc
Labels: area/build, area/redpanda

#27916 ct: implement timequeries
  src/v/cloud_topics/frontend/BUILD
  src/v/cloud_topics/frontend/frontend.cc
  src/v/cloud_topics/frontend/frontend.h
  src/v/cloud_topics/housekeeper/housekeeper.cc
  src/v/cloud_topics/level_one/domain/domain_manager.cc
  src/v/cloud_topics/level_one/metastore/metastore.h
  src/v/cloud_topics/level_one/metastore/replicated_metastore.cc
  src/v/cloud_topics/level_one/metastore/replicated_metastore.h
  src/v/cloud_topics/level_one/metastore/rpc_types.h
  src/v/cloud_topics/level_one/metastore/simple_metastore.cc
  src/v/cloud_topics/level_one/metastore/simple_metastore.h
  src/v/cloud_topics/level_one/metastore/tests/replicated_metastore_test.cc
  src/v/cloud_topics/level_one/metastore/tests/simple_metastore_test.cc
  src/v/cloud_topics/level_zero/frontend_reader/reader.cc
  src/v/cloud_topics/level_zero/stm/placeholder.cc
  src/v/cloud_topics/level_zero/stm/placeholder.h
  src/v/cloud_topics/reconciler/tests/reconciler_test.cc
  src/v/cloud_topics/tests/BUILD
  src/v/cloud_topics/tests/end_to_end_test.cc
  src/v/kafka/server/handlers/list_offsets.h
  src/v/kafka/server/tests/produce_consume_utils.cc
  src/v/kafka/server/tests/produce_consume_utils.h
  src/v/model/batch_builder.h
  src/v/model/tests/batch_builder_test.cc
  src/v/storage/log_reader.cc
  src/v/storage/mvlog/batch_collector.cc
  src/v/storage/types.cc
  src/v/storage/types.h
Labels: area/build, area/redpanda

#27927 tuner: Add support for RX/TX queue lowering on GCP
  src/go/rpk/pkg/config/redpanda_yaml.go
  src/go/rpk/pkg/config/weak.go
  src/go/rpk/pkg/tuners/net_checkers.go
  src/go/rpk/pkg/tuners/net_tuners.go
  src/go/rpk/pkg/tuners/network/nic.go
  src/go/rpk/pkg/tuners/network/nic_test.go
  src/go/rpk/pkg/tuners/network/nics.go
  src/go/rpk/pkg/tuners/redpanda_checkers.go
Labels: area/rpk

#27947 Add GitHub Action workflow to support Admin API v2
  .github/workflows/dispatch-api-docs.yml
Labels: area/build
