Repository redpanda-data/redpanda, pull requests merged in 2025-05, with the labels that each got.

#25948 [v24.3.x] storage: make_ghost_batches off by one
  src/v/storage/log_reader.cc
  src/v/storage/log_reader.h
  src/v/storage/tests/log_segment_reader_test.cc
Labels: area/redpanda, kind/backport

#25950 [v24.2.x] storage: make_ghost_batches off by one
  src/v/storage/log_reader.cc
  src/v/storage/log_reader.h
  src/v/storage/tests/log_segment_reader_test.cc
Labels: area/redpanda, kind/backport

#25932 `storage`: decompress batch during `batch_timequery()`
  src/v/cloud_storage/remote_partition.cc
  src/v/kafka/server/tests/list_offsets_test.cc
  src/v/storage/disk_log_impl.cc
  src/v/storage/log_reader.cc
  src/v/storage/log_reader.h
Labels: area/redpanda

#26008 Remove v24.1.x backport option as v24.1.x is end of support.
  .github/pull_request_template.md
Labels: area/build

#25934 [v25.1.x] r/tests/persisted_stm_test: break STM on non-leader only and block lship
  src/v/raft/tests/persisted_stm_test.cc
Labels: area/redpanda, kind/backport

#25936 [v25.1.x] create STMs based on original topic cfg
  src/v/cloud_topics/dl_stm/dl_stm_factory.cc
  src/v/cloud_topics/dl_stm/dl_stm_factory.h
  src/v/cloud_topics/dl_stm/tests/BUILD
  src/v/cloud_topics/dl_stm/tests/dl_stm_test.cc
  src/v/cluster/archival/archival_metadata_stm.cc
  src/v/cluster/archival/archival_metadata_stm.h
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
  src/v/cluster/id_allocator_stm.cc
  src/v/cluster/id_allocator_stm.h
  src/v/cluster/log_eviction_stm.cc
  src/v/cluster/log_eviction_stm.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/cluster/partition_properties_stm.cc
  src/v/cluster/partition_properties_stm.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/state_machine_registry.h
  src/v/cluster/tests/BUILD
  src/v/cluster/tests/manual_log_deletion_test.cc
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/datalake/coordinator/state_machine.cc
  src/v/datalake/coordinator/state_machine.h
  src/v/datalake/translation/state_machine.cc
  src/v/datalake/translation/state_machine.h
  src/v/kafka/server/group_tx_tracker_stm.cc
  src/v/kafka/server/group_tx_tracker_stm.h
  src/v/raft/state_machine_manager.h
  src/v/redpanda/application.cc
  src/v/transform/stm/transform_offsets_stm.cc
  src/v/transform/stm/transform_offsets_stm.h
Labels: area/build, area/redpanda, area/wasm, kind/backport

#25967 [v24.3.x] create STMs based on original topic cfg
  src/v/cloud_topics/dl_stm/dl_stm_factory.cc
  src/v/cloud_topics/dl_stm/dl_stm_factory.h
  src/v/cloud_topics/dl_stm/tests/BUILD
  src/v/cloud_topics/dl_stm/tests/dl_stm_test.cc
  src/v/cluster/archival/archival_metadata_stm.cc
  src/v/cluster/archival/archival_metadata_stm.h
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
  src/v/cluster/id_allocator_stm.cc
  src/v/cluster/id_allocator_stm.h
  src/v/cluster/log_eviction_stm.cc
  src/v/cluster/log_eviction_stm.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/partition_manager.cc
  src/v/cluster/partition_manager.h
  src/v/cluster/partition_properties_stm.cc
  src/v/cluster/partition_properties_stm.h
  src/v/cluster/rm_stm.cc
  src/v/cluster/rm_stm.h
  src/v/cluster/state_machine_registry.h
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/datalake/coordinator/state_machine.cc
  src/v/datalake/coordinator/state_machine.h
  src/v/datalake/translation/state_machine.cc
  src/v/datalake/translation/state_machine.h
  src/v/kafka/server/group_tx_tracker_stm.cc
  src/v/kafka/server/group_tx_tracker_stm.h
  src/v/raft/state_machine_manager.h
  src/v/redpanda/application.cc
  src/v/transform/stm/transform_offsets_stm.cc
  src/v/transform/stm/transform_offsets_stm.h
Labels: area/build, area/redpanda, area/wasm, kind/backport

#25923 `storage`: replace a `segment`'s `batch_cache_index` after compaction
  src/v/storage/batch_cache.cc
  src/v/storage/batch_cache.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/segment.h
  src/v/storage/segment_utils.cc
Labels: area/build, area/redpanda

#26000 [v24.2.x] rpk: prevent security role in cloud
  src/go/rpk/pkg/cli/security/role/assign.go
  src/go/rpk/pkg/cli/security/role/create.go
  src/go/rpk/pkg/cli/security/role/delete.go
  src/go/rpk/pkg/cli/security/role/describe.go
  src/go/rpk/pkg/cli/security/role/list.go
  src/go/rpk/pkg/cli/security/role/unassign.go
Labels: area/rpk, kind/backport

#26007 `storage`: add checks for closed `segment`s in sliding window compaction
  src/v/storage/disk_log_impl.cc
  src/v/storage/segment_deduplication_utils.cc
Labels: area/redpanda

#25974 `storage`: set `base_offset` for `index_state` during compaction
  src/v/storage/compaction_reducers.cc
  src/v/storage/compaction_reducers.h
  src/v/storage/index_state.cc
  src/v/storage/index_state.h
  src/v/storage/segment_deduplication_utils.cc
  src/v/storage/segment_index.cc
  src/v/storage/segment_index.h
  src/v/storage/segment_utils.cc
  src/v/storage/tests/BUILD
  src/v/storage/tests/compaction_e2e_test.cc
  src/v/storage/tests/index_state_test.cc
Labels: area/build, area/redpanda

#26002 [v25.1.x] rpk: prevent security role in cloud
  src/go/rpk/pkg/cli/security/role/assign.go
  src/go/rpk/pkg/cli/security/role/create.go
  src/go/rpk/pkg/cli/security/role/delete.go
  src/go/rpk/pkg/cli/security/role/describe.go
  src/go/rpk/pkg/cli/security/role/list.go
  src/go/rpk/pkg/cli/security/role/unassign.go
Labels: area/rpk, kind/backport

#26009 archival/test: Extend async_data_uploader_test timeout
  src/v/cluster/archival/tests/BUILD
Labels: area/build, area/redpanda

#26001 [v24.3.x] rpk: prevent security role in cloud
  src/go/rpk/pkg/cli/security/role/assign.go
  src/go/rpk/pkg/cli/security/role/create.go
  src/go/rpk/pkg/cli/security/role/delete.go
  src/go/rpk/pkg/cli/security/role/describe.go
  src/go/rpk/pkg/cli/security/role/list.go
  src/go/rpk/pkg/cli/security/role/unassign.go
Labels: area/rpk, kind/backport

#25963 [INC-774] Add the ability to "force" a node ID override in situations where the node already has an ID assigned.
  src/v/config/node_overrides.cc
  src/v/config/node_overrides.h
  src/v/config/tests/node_override_test.cc
  src/v/redpanda/application.cc
  tests/rptest/tests/admin_uuid_operations_test.py
Labels: area/redpanda

#26013 [v25.1.x] `storage`: add checks for closed `segment`s in sliding window compaction
  src/v/storage/disk_log_impl.cc
  src/v/storage/segment_deduplication_utils.cc
Labels: area/redpanda, kind/backport

#26012 bazel: port some tests
  src/v/model/tests/BUILD
  src/v/model/tests/transform_test.cc
  src/v/ssx/tests/BUILD
Labels: area/build, area/redpanda

#26020 [v25.1.x] storage: work around segment index overflows
  src/v/model/tests/random_batch.cc
  src/v/model/tests/random_batch.h
  src/v/storage/index_state.cc
  src/v/storage/segment_index.h
  src/v/storage/tests/index_state_test.cc
  src/v/storage/tests/log_segment_reader_test.cc
Labels: area/redpanda, kind/backport

#25959 [CORE-9870] kafka: Support Metadata v11
  src/v/kafka/protocol/schemata/metadata_request.json
  src/v/kafka/protocol/schemata/metadata_response.json
  src/v/kafka/server/handlers/metadata.cc
  src/v/kafka/server/handlers/metadata.h
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/create_topics_test.cc
  src/v/kafka/server/tests/delete_topics_test.cc
  src/v/kafka/server/tests/metadata_test.cc
  src/v/kafka/server/tests/topic_recreate_test.cc
Labels: area/build, area/redpanda

#23753 DEVEX-16 rpk: Get df output in debug bundle
  src/go/rpk/pkg/cli/debug/bundle/bundle_k8s_linux.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_linux.go
Labels: area/rpk

#25997 [v25.1.x] `storage`: consider `uint32_t` offset space in adjacent segment compaction (Manual backport)
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

#25999 [v24.2.x] `storage`: consider `uint32_t` offset space in adjacent segment compaction (Manual backport)
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

#26024 [v24.2.x] storage: work around segment index overflows
  src/v/model/tests/random_batch.cc
  src/v/model/tests/random_batch.h
  src/v/storage/index_state.cc
  src/v/storage/segment_index.cc
  src/v/storage/segment_index.h
  src/v/storage/tests/log_segment_reader_test.cc
Labels: area/redpanda

#26016 [v25.1.x] `storage`: set `base_offset` for `index_state` during compaction
  src/v/storage/compaction_reducers.cc
  src/v/storage/compaction_reducers.h
  src/v/storage/index_state.cc
  src/v/storage/index_state.h
  src/v/storage/segment_deduplication_utils.cc
  src/v/storage/segment_index.cc
  src/v/storage/segment_index.h
  src/v/storage/segment_utils.cc
  src/v/storage/tests/BUILD
  src/v/storage/tests/compaction_e2e_test.cc
  src/v/storage/tests/index_state_test.cc
Labels: area/build, area/redpanda, kind/backport

#25883 test_macros: add fallback macros for non-g/btest
  bazel/test.bzl
  src/v/test_utils/test_macros.h
  src/v/test_utils/tests/BUILD
  src/v/test_utils/tests/test_utils_test.cc
Labels: area/build, area/redpanda

#26033 bazel: Fix OpenSSL build to get correct openssldir
  bazel/thirdparty/openssl-fips.BUILD
  bazel/thirdparty/openssl.BUILD
Labels: area/build

#26028 [CORE-9229] kafka/server: Revert Metadata to v8
  src/v/kafka/server/handlers/metadata.h
  src/v/kafka/server/tests/metadata_test.cc
  tests/rptest/tests/compatibility/sarama_produce_test.py
  tests/rptest/tests/compatibility/sarama_test.py
  tests/rptest/tests/simple_e2e_test.py
Labels: area/redpanda

#26018 [v24.3.x] `storage`: set `base_offset` for `index_state` during compaction (Manual backport)
  src/v/storage/compaction_reducers.cc
  src/v/storage/compaction_reducers.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/index_state.cc
  src/v/storage/index_state.h
  src/v/storage/segment_deduplication_utils.cc
  src/v/storage/segment_index.cc
  src/v/storage/segment_index.h
  src/v/storage/segment_utils.cc
  src/v/storage/tests/compaction_e2e_test.cc
  src/v/storage/tests/index_state_test.cc
Labels: area/redpanda

#25956 compaction: compact stale tx_fence from consumer_offsets topic
  src/v/model/namespace.h
  src/v/storage/compaction_reducers.cc
  src/v/storage/compaction_reducers.h
  src/v/storage/segment.cc
  src/v/storage/segment_deduplication_utils.cc
  src/v/storage/segment_index.cc
  src/v/storage/segment_utils.cc
  src/v/storage/segment_utils.h
Labels: area/redpanda

#26036 [v24.2.x] `storage`: set `base_offset` for `index_state` during compaction (Manual backport)
  src/v/storage/compaction_reducers.cc
  src/v/storage/compaction_reducers.h
  src/v/storage/index_state.cc
  src/v/storage/index_state.h
  src/v/storage/segment_deduplication_utils.cc
  src/v/storage/segment_index.cc
  src/v/storage/segment_utils.cc
  src/v/storage/tests/compaction_e2e_test.cc
  src/v/storage/tests/index_state_test.cc
Labels: area/redpanda

#25931 `storage`: check if segments need rewrite in sliding window compaction
  src/v/storage/disk_log_impl.cc
  src/v/storage/segment_deduplication_utils.cc
  src/v/storage/segment_deduplication_utils.h
  src/v/storage/tests/BUILD
  src/v/storage/tests/compaction_e2e_test.cc
  src/v/storage/tests/segment_deduplication_test.cc
Labels: area/build, area/redpanda

#26042 [backport][v24.2.x] compaction: compact stale tx_fence from consumer_offsets topic #25956
  src/v/model/namespace.h
  src/v/storage/compaction_reducers.cc
  src/v/storage/compaction_reducers.h
  src/v/storage/segment.cc
  src/v/storage/segment_deduplication_utils.cc
  src/v/storage/segment_index.cc
  src/v/storage/segment_utils.cc
  src/v/storage/segment_utils.h
Labels: area/redpanda

#26041 [backport][v24.3.x] compaction: compact stale tx_fence from consumer_offsets topic #25956
  src/v/model/namespace.h
  src/v/storage/compaction_reducers.cc
  src/v/storage/compaction_reducers.h
  src/v/storage/segment.cc
  src/v/storage/segment_deduplication_utils.cc
  src/v/storage/segment_index.cc
  src/v/storage/segment_utils.cc
  src/v/storage/segment_utils.h
Labels: area/redpanda

#26056 storage/tests: migrate log_segment_reader_test to gtest
  src/v/storage/tests/BUILD
  src/v/storage/tests/log_segment_reader_test.cc
Labels: area/build, area/redpanda

#26040 [v25.1.x] compaction: compact stale tx_fence from consumer_offsets topic
  src/v/model/namespace.h
  src/v/storage/compaction_reducers.cc
  src/v/storage/compaction_reducers.h
  src/v/storage/segment.cc
  src/v/storage/segment_deduplication_utils.cc
  src/v/storage/segment_index.cc
  src/v/storage/segment_utils.cc
  src/v/storage/segment_utils.h
Labels: area/redpanda, kind/backport

#25902 [v24.3.x] Fixed URL encoding in Azure Blob Store client
  src/v/cloud_storage_clients/abs_client.cc
  src/v/cloud_storage_clients/s3_client.cc
  src/v/cloud_storage_clients/util.cc
  src/v/cloud_storage_clients/util.h
  tests/rptest/tests/datalake/datalake_e2e_test.py
Labels: area/redpanda, kind/backport

#25188 [v24.3.x] http/utils: changed url encoding to use upper case hex representation
  src/v/http/tests/request_builder_test.cc
  src/v/http/tests/uri_encoding_test.cc
  src/v/http/utils.cc
  src/v/iceberg/rest_client/tests/catalog_client_tests.cc
  src/v/iceberg/tests/rest_catalog_test.cc
Labels: area/redpanda, kind/backport

#26047 [v24.3.x] tx/chaos: deflake TxSubscribeTest
  tests/rptest/chaos_tests/single_fault_test.py
Labels: kind/backport

#25981 CORE-9874 Topic ID: introduce feature and migrator
  src/v/cluster/BUILD
  src/v/cluster/data_migration_backend.cc
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/cluster/topic_configuration.cc
  src/v/cluster/topic_configuration.h
  src/v/cluster/topic_recovery_service.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/topics_frontend.cc
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/compat/cluster_compat.h
  src/v/compat/cluster_generator.h
  src/v/compat/cluster_json.h
  src/v/compat/json.h
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/kafka/server/handlers/alter_configs.cc
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/create_topics_test.cc
  src/v/migrations/BUILD
  src/v/migrations/CMakeLists.txt
  src/v/migrations/topic_id_migrator.cc
  src/v/migrations/topic_id_migrator.h
  src/v/model/fundamental.h
  src/v/redpanda/application.cc
  tests/rptest/services/redpanda_installer.py
  tests/rptest/tests/alter_topic_configuration_test.py
  tests/rptest/tests/end_to_end.py
  tests/rptest/tests/self_test_test.py
  tests/rptest/tests/shard_placement_test.py
  tests/rptest/tests/topic_id_migrator.py
  tools/offline_log_viewer/controller.py
Labels: area/build, area/redpanda, area/wasm

#26006 [v24.3.x] `storage`: decompress batch during `batch_timequery()` (Manual backport)
  src/v/cloud_storage/remote_partition.cc
  src/v/kafka/server/tests/list_offsets_test.cc
  src/v/model/record.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/log_reader.cc
  src/v/storage/log_reader.h
Labels: area/redpanda

#25299 [v24.2.x] k/topic_utils: do not iterate over the assignments set
  src/v/kafka/server/handlers/topics/topic_utils.cc
Labels: area/redpanda, kind/backport

#25992 [v24.2.x] Wait for a legitimate log data size report in partition balancer
  src/v/cluster/partition_balancer_backend.cc
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/partition_balancer_planner.h
  src/v/resource_mgmt/storage.cc
  src/v/resource_mgmt/storage.h
  src/v/storage/tests/compaction_e2e_multinode_test.cc
  tests/rptest/services/redpanda.py
  tests/rptest/tests/nodes_decommissioning_test.py
Labels: area/redpanda, kind/backport

#26046 [v24.1.x] storage: work around segment index overflows
  src/v/model/tests/random_batch.cc
  src/v/model/tests/random_batch.h
  src/v/storage/index_state.cc
  src/v/storage/segment_index.cc
  src/v/storage/segment_index.h
  src/v/storage/tests/log_segment_reader_test.cc
Labels: area/redpanda

#25894 bazel: require cgroup sandboxing in CI
  .github/workflows/lint-cpp.yml
  MODULE.bazel.lock
  bazel/thirdparty/Cargo.lock
  bazel/thirdparty/Cargo.toml
  bazel/thirdparty/wasmtime.BUILD
  src/v/cloud_storage/tests/BUILD
  src/v/cloud_storage/tests/manual_fixture.h
  src/v/cloud_storage/tests/read_replica_e2e_fixture.h
  src/v/cloud_topics/tests/BUILD
  src/v/cluster/tests/BUILD
  src/v/cluster/tests/local_monitor_test.cc
  src/v/cluster/tests/simple_batch_builder_test.cc
  src/v/cluster/tests/tx_compaction_tests.cc
  src/v/datalake/coordinator/tests/BUILD
  src/v/datalake/tests/BUILD
  src/v/debug_bundle/debug_bundle_service.cc
  src/v/debug_bundle/tests/debug_bundle_service_test.cc
  src/v/iceberg/tests/BUILD
  src/v/kafka/client/test/BUILD
  src/v/kafka/server/tests/BUILD
  src/v/pandaproxy/rest/test/BUILD
  src/v/pandaproxy/schema_registry/test/BUILD
  src/v/raft/tests/BUILD
  src/v/raft/tests/bootstrap_configuration_test.cc
  src/v/raft/tests/foreign_entry_test.cc
  src/v/raft/tests/simple_raft_fixture.h
  src/v/redpanda/tests/fixture.h
  src/v/rpc/test/BUILD
  src/v/storage/tests/log_manager_test.cc
  src/v/storage/tests/utils/disk_log_builder.h
  src/v/utils/tests/directory_walker_test.cc
  src/v/wasm/wasmtime.cc
  tools/bazel
Labels: area/build, area/redpanda, area/wasm

#26058 [v24.3.x] `rptest`: fix `cloud_storage_type` parameterization in `random_node_operations_test.py`
  tests/rptest/tests/random_node_operations_test.py
Labels: kind/backport

#25790 update ada-url to v3.2.2
  MODULE.bazel.lock
  bazel/repositories.bzl
  bazel/thirdparty/ada.BUILD
  cmake/dependencies.cmake
  src/v/http/request_builder.h
  src/v/thirdparty/ada/BUILD
Labels: area/build, area/redpanda

#26052 cluster/archival: upload data from above log start offset
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/tests/ntp_archiver_test.cc
Labels: area/redpanda

#26026 [CORE-9871] kafka/protocol: Update fetch schemata to v13
  src/v/kafka/client/client.cc
  src/v/kafka/client/consumer.cc
  src/v/kafka/client/fetch_session.cc
  src/v/kafka/client/fetcher.cc
  src/v/kafka/client/test/consumer_group.cc
  src/v/kafka/client/test/fetch.cc
  src/v/kafka/client/test/fetch_session.cc
  src/v/kafka/protocol/fetch.h
  src/v/kafka/protocol/schemata/fetch_request.json
  src/v/kafka/protocol/schemata/fetch_response.json
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/protocol/tests/protocol_test.cc
  src/v/kafka/server/fetch_session.h
  src/v/kafka/server/fetch_session_cache.cc
  src/v/kafka/server/handlers/describe_log_dirs.cc
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/fetch.h
  src/v/kafka/server/tests/fetch_bench.cc
  src/v/kafka/server/tests/fetch_plan_bench.cc
  src/v/kafka/server/tests/fetch_session_test.cc
  src/v/kafka/server/tests/fetch_test.cc
  src/v/kafka/server/tests/produce_consume_test.cc
  src/v/kafka/server/tests/produce_consume_utils.cc
  src/v/pandaproxy/json/requests/fetch.h
  src/v/pandaproxy/json/requests/test/fetch.cc
  src/v/test_utils/go/go.mod
  src/v/test_utils/go/go.sum
Labels: area/redpanda

#25767 Added write at offset state machine
  src/v/cluster/cluster_utils.cc
  src/v/cluster/snapshot.h
  src/v/kafka/server/BUILD
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/write_at_offset_stm_test.cc
  src/v/kafka/server/write_at_offset_stm.cc
  src/v/kafka/server/write_at_offset_stm.h
  src/v/model/BUILD
  src/v/model/CMakeLists.txt
  src/v/model/batch_utils.cc
  src/v/model/batch_utils.h
  src/v/raft/tests/raft_fixture.h
  src/v/storage/BUILD
  src/v/storage/log_reader.cc
Labels: area/build, area/redpanda

#24935 Add support for KIP-554 (Describe/Alter SCRAM Credentials)
  src/v/kafka/CMakeLists.txt
  src/v/kafka/protocol/alter_user_scram_credentials.h
  src/v/kafka/protocol/describe_user_scram_credentials.h
  src/v/kafka/protocol/errors.cc
  src/v/kafka/protocol/errors.h
  src/v/kafka/protocol/messages.h
  src/v/kafka/protocol/schemata/CMakeLists.txt
  src/v/kafka/protocol/schemata/alter_user_scram_credentials_request.json
  src/v/kafka/protocol/schemata/alter_user_scram_credentials_response.json
  src/v/kafka/protocol/schemata/describe_user_scram_credentials_request.json
  src/v/kafka/protocol/schemata/describe_user_scram_credentials_response.json
  src/v/kafka/protocol/schemata/generator.bzl
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/protocol/tests/protocol_test.cc
  src/v/kafka/protocol/types.cc
  src/v/kafka/protocol/types.h
  src/v/kafka/server/BUILD
  src/v/kafka/server/handlers/alter_user_scram_credentials.cc
  src/v/kafka/server/handlers/alter_user_scram_credentials.h
  src/v/kafka/server/handlers/client_quotas.cc
  src/v/kafka/server/handlers/describe_user_scram_credentials.cc
  src/v/kafka/server/handlers/describe_user_scram_credentials.h
  src/v/kafka/server/handlers/details/security.cc
  src/v/kafka/server/handlers/details/security.h
  src/v/kafka/server/handlers/handlers.h
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/CMakeLists.txt
  src/v/kafka/server/tests/alter_user_scram_credentials_test.cc
  src/v/kafka/server/tests/describe_user_scram_credentials_test.cc
  src/v/kafka/server/tests/metadata_test.cc
  src/v/pandaproxy/error.cc
  src/v/redpanda/tests/fixture.h
  src/v/security/audit/BUILD
  src/v/security/audit/schemas/utils.cc
  src/v/security/credential_store.h
  src/v/security/scram_algorithm.h
  src/v/security/scram_credential.h
  tests/rptest/clients/kafka_cli_tools.py
  tests/rptest/tests/quota_management_test.py
  tests/rptest/tests/scram_test.py
Labels: area/build, area/redpanda

#26057 [CORE-9876] kafka: Support ApiVersions v4
  src/v/kafka/protocol/schemata/api_versions_request.json
  src/v/kafka/protocol/schemata/api_versions_response.json
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/server/handlers/api_versions.cc
  src/v/kafka/server/handlers/api_versions.h
Labels: area/redpanda

#26060 debug_bundle: fix order of operations
  src/v/debug_bundle/debug_bundle_service.cc
Labels: area/redpanda

#26080 `storage`: fix `non_data_timestamps` with overflow
  src/v/storage/index_state.cc
  src/v/storage/tests/index_state_test.cc
Labels: area/redpanda

#26049 Add {min,max}.compaction.lag.ms configuration
  src/v/cloud_storage/tests/topic_manifest_test.cc
  src/v/cluster/metadata_cache.cc
  src/v/cluster/metadata_cache.h
  src/v/cluster/topic_configuration.cc
  src/v/cluster/topic_properties.cc
  src/v/cluster/topic_properties.h
  src/v/cluster/topic_table.cc
  src/v/cluster/types.h
  src/v/compat/cluster_compat.h
  src/v/compat/cluster_generator.h
  src/v/compat/cluster_json.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/handlers/alter_configs.cc
  src/v/kafka/server/handlers/configs/config_response_utils.cc
  src/v/kafka/server/handlers/configs/config_utils.h
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/handlers/incremental_alter_configs.cc
  src/v/kafka/server/handlers/topics/types.cc
  src/v/kafka/server/handlers/topics/types.h
  src/v/kafka/server/handlers/topics/validators.h
  src/v/kafka/server/tests/alter_config_test.cc
  src/v/storage/ntp_config.h
  tests/rptest/clients/types.py
  tests/rptest/tests/alter_topic_configuration_test.py
  tests/rptest/tests/cluster_config_test.py
  tests/rptest/tests/describe_topics_test.py
Labels: area/redpanda

#26075 bazel: remove some thirdparty wrappers
  src/v/cloud_roles/BUILD
  src/v/cloud_roles/azure_aks_refresh_impl.cc
  src/v/compression/BUILD
  src/v/compression/gzip_stream_decompression.h
  src/v/compression/internal/gzip_compressor.cc
  src/v/compression/internal/lz4_frame_compressor.cc
  src/v/compression/internal/lz4_frame_compressor.h
  src/v/compression/lz4_decompression_buffers.h
  src/v/compression/tests/BUILD
  src/v/compression/tests/lz4_buf_tests.cc
  src/v/datalake/coordinator/BUILD
  src/v/datalake/coordinator/catalog_factory.cc
  src/v/http/BUILD
  src/v/http/request_builder.h
  src/v/iceberg/BUILD
  src/v/iceberg/rest_client/BUILD
  src/v/iceberg/rest_client/error.h
  src/v/iceberg/uri.cc
  src/v/security/BUILD
  src/v/security/config_rcl.cc
  src/v/thirdparty/ada/BUILD
  src/v/thirdparty/ada/ada.h
  src/v/thirdparty/hdrhistogram/BUILD
  src/v/thirdparty/hdrhistogram/hdr_histogram.h
  src/v/thirdparty/lz4/BUILD
  src/v/thirdparty/lz4/lz4.h
  src/v/thirdparty/lz4/lz4frame.h
  src/v/thirdparty/zlib/BUILD
  src/v/thirdparty/zlib/zlib.h
  src/v/utils/BUILD
  src/v/utils/hdr_hist.h
Labels: area/build, area/redpanda

#26089 [v24.2.x] `storage`: fix `non_data_timestamps` with overflow (Manual backport)
  src/v/storage/index_state.cc
  src/v/storage/tests/index_state_test.cc
Labels: area/redpanda

#26086 [v24.3.x] `storage`: fix `non_data_timestamps` with overflow
  src/v/storage/index_state.cc
  src/v/storage/tests/index_state_test.cc
Labels: area/redpanda, kind/backport

#26090 [v24.1.x] `storage`: fix `non_data_timestamps` with overflow (Manual backport)
  src/v/storage/index_state.cc
  src/v/storage/tests/index_state_test.cc
Labels: area/redpanda

#26085 [v25.1.x] `storage`: fix `non_data_timestamps` with overflow
  src/v/storage/index_state.cc
  src/v/storage/tests/index_state_test.cc
Labels: area/redpanda, kind/backport

#26097 bazel: Update libxml2 to v2.13.8
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: area/build

#26068 Offline partitions in health overview
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
  tests/rptest/tests/cluster_health_overview_test.py
Labels: area/redpanda

#26066 [v25.1.x] cluster/archival: upload data from above log start offset
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/tests/ntp_archiver_test.cc
Labels: area/redpanda, kind/backport

#26078 [v25.1.x] make ntp_callbacks actually support multiple callbacks
  src/v/cluster/archival/archiver_manager.cc
  src/v/cluster/config_manager.cc
  src/v/cluster/data_migration_backend.cc
  src/v/cluster/ntp_callbacks.h
  src/v/cluster/partition_leaders_table.cc
  src/v/cluster/partition_leaders_table.h
  src/v/cluster/partition_manager.h
  src/v/cluster/scheduling/leader_balancer.cc
  src/v/cluster/scheduling/leader_balancer.h
  src/v/datalake/coordinator/coordinator_manager.cc
  src/v/datalake/datalake_manager.cc
Labels: area/redpanda, kind/backport

#26070 kafka/write_at_offset_stm: expose expected last offset from the stm
  src/v/kafka/server/write_at_offset_stm.cc
  src/v/kafka/server/write_at_offset_stm.h
Labels: area/redpanda

#26114 cluster: bazelify tests
  src/v/cluster/tests/BUILD
  src/v/cluster/tests/rebalancing_tests_fixture.h
  src/v/cluster/tests/replicas_rebalancing_tests.cc
Labels: area/build, area/redpanda

#26055 `storage`: fix `get_file_offset()` for truncated segments
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

#25971 [Core-9938] pandaproxy/sr: Add support for format query parameter
  src/v/pandaproxy/schema_registry/error.cc
  src/v/pandaproxy/schema_registry/error.h
  src/v/pandaproxy/schema_registry/errors.h
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/types.cc
  src/v/pandaproxy/schema_registry/types.h
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda

#26106 Migrated cluster tests to bazel
  src/v/cluster/tests/BUILD
  src/v/cluster/tests/autocreate_test.cc
  src/v/cluster/tests/cluster_tests.cc
  src/v/cluster/tests/controller_api_tests.cc
  src/v/cluster/tests/idempotency_tests.cc
  src/v/cluster/tests/metadata_dissemination_test.cc
  src/v/cluster/tests/tm_stm_tests.cc
Labels: area/build, area/redpanda

#26113 `storage`: use `std::deque` as `segment_set::underlying_t`
  src/v/storage/disk_log_impl.cc
  src/v/storage/log_reader.cc
  src/v/storage/segment_set.cc
  src/v/storage/segment_set.h
  src/v/storage/segment_utils.cc
  src/v/storage/tests/readers_cache_test.cc
Labels: area/redpanda

#26107 `storage`: remove dead code in `compacted_index`
  src/v/storage/compacted_index.h
  src/v/storage/compacted_index_writer.h
  src/v/storage/spill_key_index.cc
  src/v/storage/spill_key_index.h
Labels: area/redpanda

#26134 [v25.1.x] `storage`: use `std::deque` as `segment_set::underlying_t`
  src/v/storage/disk_log_impl.cc
  src/v/storage/log_reader.cc
  src/v/storage/segment_set.cc
  src/v/storage/segment_set.h
  src/v/storage/segment_utils.cc
  src/v/storage/tests/readers_cache_test.cc
Labels: area/redpanda, kind/backport

#26139 [v25.1.x] `rptest`: remove `pynessie` import
  tests/rptest/tests/datalake/nessie_catalog_smoke_test.py
  tests/setup.py
Labels: kind/backport

#26104 cloud_metadata: bazel+gtest backfill
  src/v/cluster/cloud_metadata/tests/BUILD
  src/v/cluster/cloud_metadata/tests/cluster_manifest_test.cc
  src/v/cluster/cloud_metadata/tests/cluster_recovery_backend_test.cc
  src/v/cluster/cloud_metadata/tests/controller_snapshot_reconciliation_test.cc
  src/v/cluster/cloud_metadata/tests/manifest_downloads_test.cc
  src/v/cluster/cloud_metadata/tests/offsets_lookup_batcher_test.cc
  src/v/cluster/cloud_metadata/tests/offsets_lookup_test.cc
  src/v/cluster/cloud_metadata/tests/producer_id_recovery_test.cc
  src/v/cluster/cloud_metadata/tests/uploader_test.cc
  src/v/cluster/tests/BUILD
  src/v/cluster/tests/tx_compaction_utils.h
  src/v/storage/tests/BUILD
Labels: area/build, area/redpanda

#26125 [v25.1.x] tests/balancer: ignore reconciliation stuck log line
  tests/rptest/tests/partition_balancer_test.py
Labels: kind/backport

#26121 bazelize additional test targets
  src/v/pandaproxy/json/test/BUILD
  src/v/pandaproxy/json/test/parse.cc
  src/v/pandaproxy/schema_registry/test/validation.cc
  src/v/redpanda/BUILD
  src/v/redpanda/tests/BUILD
Labels: area/build, area/redpanda

#26054 Decommission status improvements
  src/v/cluster/BUILD
  src/v/cluster/CMakeLists.txt
  src/v/cluster/controller_api.cc
  src/v/cluster/controller_api.h
  src/v/cluster/partition_balancer_backend.cc
  src/v/cluster/partition_balancer_backend.h
  src/v/cluster/partition_balancer_planner.cc
  src/v/cluster/partition_balancer_planner.h
  src/v/cluster/partition_balancer_rpc_handler.h
  src/v/cluster/partition_balancer_types.cc
  src/v/cluster/partition_balancer_types.h
  src/v/cluster/types.h
  src/v/compat/cluster_json.h
  src/v/compat/json.h
  src/v/compat/partition_balancer_compat.h
  src/v/compat/partition_balancer_generator.h
  src/v/redpanda/admin/api-doc/broker.json
  src/v/redpanda/admin/server.cc
  src/v/test_utils/BUILD
  src/v/test_utils/randoms.h
  tests/rptest/tests/nodes_decommissioning_test.py
Labels: area/build, area/redpanda

#26137 [v24.3.x] `storage`: use `std::deque` as `segment_set::underlying_t` (Manual backport)
  src/v/storage/disk_log_impl.cc
  src/v/storage/log_reader.cc
  src/v/storage/segment_set.cc
  src/v/storage/segment_set.h
  src/v/storage/segment_utils.cc
  src/v/storage/tests/readers_cache_test.cc
Labels: area/redpanda

#23974 r/consensus: do not block leadership completely in maintenance mode
  src/v/raft/BUILD
  src/v/raft/CMakeLists.txt
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/follower_stats.cc
  src/v/raft/group_configuration.cc
  src/v/raft/group_configuration.h
  src/v/raft/group_manager.cc
  src/v/raft/replicate_entries_stm.cc
  src/v/raft/tests/basic_raft_fixture_test.cc
  src/v/raft/types.h
  src/v/raft/vote_stm.cc
  src/v/raft/vote_stm.h
  src/v/raft/voter_priority_tracker.cc
  src/v/raft/voter_priority_tracker.h
Labels: area/build, area/redpanda

#26122 Bazelize cluster tests
  src/v/cluster/tests/BUILD
  src/v/cluster/tests/data_migration_table_test.cc
  src/v/cluster/tests/ephemeral_credential_test.cc
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/pandaproxy/schema_registry/test/BUILD
Labels: area/build, area/redpanda

#26096 Cloud Storage: Bazelize some tests
  src/v/cloud_storage/tests/BUILD
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cloud_storage/tests/read_replica_e2e_fixture.h
  src/v/cloud_storage_clients/tests/BUILD
Labels: area/build, area/redpanda

#26143 Add uint32_t::max+1 index_state.cc memory tradeoff comment
  src/v/storage/index_state.cc
Labels: area/redpanda

#26150 storage: fix formatting
  src/v/storage/index_state.cc
Labels: area/redpanda

#26065 [v24.3.x] cluster/archival: upload data from above log start offset
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/tests/ntp_archiver_test.cc
  tests/rptest/tests/datalake/datalake_e2e_test.py
Labels: area/redpanda, kind/backport

#26153 [v24.3.x] `rptest`: fix race in `compaction_recovery_test.py`
  tests/rptest/tests/compaction_recovery_test.py
Labels: kind/backport

#26155 [v24.2.x] `rptest`: fix race in `compaction_recovery_test.py`
  tests/rptest/tests/compaction_recovery_test.py
Labels: kind/backport

#26138 [v24.2.x] `storage`: use `std::deque` as `segment_set::underlying_t` (Manual backport)
  src/v/storage/disk_log_impl.cc
  src/v/storage/log_reader.cc
  src/v/storage/segment_set.cc
  src/v/storage/segment_set.h
  src/v/storage/segment_utils.cc
  src/v/storage/tests/readers_cache_test.cc
Labels: area/redpanda

#26152 partition_balancer: removed typo in reallocation_failure_details init
  src/v/cluster/partition_balancer_planner.cc
Labels: area/redpanda

#26130 admin: Change permissions on endpoints
  src/v/redpanda/admin/debug.cc
  src/v/redpanda/admin/partition.cc
  src/v/redpanda/admin/server.cc
  src/v/redpanda/admin/transaction.cc
Labels: area/redpanda

#26112 storage/compaction: Implement max.compaction.lag.ms
  src/v/raft/tests/failure_injectable_log.cc
  src/v/raft/tests/failure_injectable_log.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/log.h
  src/v/storage/log_manager.cc
  src/v/storage/tests/storage_e2e_test.cc
  tests/rptest/tests/tiered_storage_model.py
Labels: area/redpanda

#26111 storage: CORE-10056: Remove contiguous allocations in lock_manager
  src/v/storage/BUILD
  src/v/storage/lock_manager.cc
  src/v/storage/lock_manager.h
Labels: area/build, area/redpanda

#26133 rpk: enable get config command for cloud env
  src/go/rpk/pkg/cli/cluster/config/BUILD
  src/go/rpk/pkg/cli/cluster/config/get.go
  src/go/rpk/pkg/cli/cluster/config/get_test.go
Labels: area/rpk, area/build

#26083 tests/bzl: port tests to bzl
  src/v/cluster/archival/tests/BUILD
  src/v/cluster/tests/BUILD
  src/v/cluster/tests/distributed_kv_stm_tests.cc
  src/v/cluster/tests/rm_stm_tests.cc
  src/v/cluster/tests/tx_compaction_tests.cc
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/fixture.h
  src/v/datalake/tests/translation_task_test.cc
  src/v/datalake/tests/translator_test.cc
  src/v/datalake/translation/tests/BUILD
  src/v/datalake/translation/tests/translated_log_offset_test.cc
Labels: area/build, area/redpanda

#26091 rpk: improve rpk debug bundle assumptions in k8s environments
  src/go/rpk/Makefile
  src/go/rpk/pkg/cli/debug/bundle/BUILD
  src/go/rpk/pkg/cli/debug/bundle/bundle.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_all.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_k8s_linux.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_linux.go
  src/go/rpk/pkg/cli/debug/common/common.go
Labels: area/rpk, area/build

#26144 dl/iceberg: allow dynamic iceberg mode change
  src/v/datalake/data_writer_interface.cc
  src/v/datalake/data_writer_interface.h
  src/v/datalake/datalake_manager.cc
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/serde_parquet_writer.cc
  src/v/datalake/translation/deps.cc
  src/v/datalake/translation/deps.h
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
  src/v/datalake/translation/scheduling.h
  src/v/datalake/translation/tests/partition_translator_tests.cc
  src/v/datalake/translation/tests/scheduler_fixture.h
  src/v/datalake/translation_task.cc
  src/v/datalake/translation_task.h
  tests/rptest/tests/datalake/iceberg_toggling_test.py
Labels: area/redpanda

#26128 storage/tests: part 1: Migrate 5 tests from Boost to GTest
  src/v/storage/tests/BUILD
  src/v/storage/tests/index_state_test.cc
  src/v/storage/tests/offset_assignment_test.cc
  src/v/storage/tests/offset_to_filepos_test.cc
  src/v/storage/tests/offset_translator_state_test.cc
  src/v/storage/tests/snapshot_test.cc
  src/v/test_utils/BUILD
  src/v/test_utils/gtest_exception.h
Labels: area/build, area/redpanda

#26129 [v25.1.x] [Core-9938] pandaproxy/sr: Add support for format query parameter
  src/v/pandaproxy/schema_registry/error.cc
  src/v/pandaproxy/schema_registry/error.h
  src/v/pandaproxy/schema_registry/errors.h
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/types.cc
  src/v/pandaproxy/schema_registry/types.h
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, kind/backport

#26169 [v24.2.x] storage: CORE-10056: Remove contiguous allocations in lock_manager
  src/v/storage/BUILD
  src/v/storage/lock_manager.cc
  src/v/storage/lock_manager.h
Labels: area/redpanda, kind/backport

#26168 [v25.1.x] storage: CORE-10056: Remove contiguous allocations in lock_manager
  src/v/storage/BUILD
  src/v/storage/lock_manager.cc
  src/v/storage/lock_manager.h
Labels: area/build, area/redpanda, kind/backport

#26105 `misc`: bazel-ify tests
  src/v/cluster/tests/tx_compaction_tests.cc
  src/v/compression/tests/BUILD
  src/v/storage/opfuzz/BUILD
  src/v/storage/tests/BUILD
  src/v/test_utils/tests/BUILD
  src/v/test_utils/tests/gtest_listener_test.cc
Labels: area/build, area/redpanda

#26175 [v25.1.x] [CORE-8760] `rptest`: fix race-y checks in `test_index_recovery_after_upgrade`
  tests/rptest/remote_scripts/compute_storage.py
  tests/rptest/services/redpanda.py
  tests/rptest/services/storage.py
  tests/rptest/tests/compaction_recovery_test.py
Labels: kind/backport

#26069 CORE-9875: Topic ids: add `topic_table::get_name_by_id(...)`
  src/v/cluster/errc.h
  src/v/cluster/errors.cc
  src/v/cluster/tests/topic_table_fixture.h
  src/v/cluster/tests/topic_table_test.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/kafka/server/errors.h
  src/v/kafka/server/handlers/metadata.cc
  src/v/migrations/cloud_storage_config.cc
Labels: area/redpanda

#26179 c/archival: wakeup upload loop after flush
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/ntp_archiver_service.h
Labels: area/redpanda

#26166 [v24.3.x] storage: CORE-10056: Remove contiguous allocations in lock_manager
  src/v/storage/BUILD
  src/v/storage/lock_manager.cc
  src/v/storage/lock_manager.h
Labels: area/build, area/redpanda, kind/backport

#26186 `test_utils`: set `--gtest_output` for `gtest_listener_test`
  src/v/test_utils/tests/BUILD
Labels: area/build, area/redpanda

#26183 [v25.1.x] c/archival: wakeup upload loop after flush
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/ntp_archiver_service.h
Labels: area/redpanda, kind/backport

#26051 storage: fix index state truncate overflow
  src/v/storage/index_state.cc
  src/v/storage/tests/index_state_test.cc
Labels: area/redpanda

#25962 delete cdt_ducktape_deps.sh
  tests/docker/cdt_ducktape_deps.sh
  tests/docker/ducktape-deps/seed-maven-cache
Labels: area/build

#26198 `storage`: migrate `IndexOverflowTruncate` to `gtest`
  src/v/storage/tests/index_state_test.cc
Labels: area/redpanda

#26189 storage/tests: extract batch generators
  src/v/cluster/tests/BUILD
  src/v/cluster/tests/tx_compaction_tests.cc
  src/v/cluster/tests/tx_compaction_utils.h
  src/v/storage/tests/BUILD
  src/v/storage/tests/batch_generators.h
  src/v/storage/tests/compaction_reducer_fixture_test.cc
  src/v/storage/tests/storage_e2e_test.cc
  src/v/storage/tests/storage_test_fixture.h
Labels: area/build, area/redpanda

#26197 [v25.1.x] `storage`: check for hash key map of capacity 0 in `do_compact()` (Manual backport)
  src/v/resource_mgmt/memory_groups.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/tests/BUILD
  src/v/storage/tests/storage_e2e_test.cc
  tests/rptest/tests/log_compaction_test.py
Labels: area/build, area/redpanda

#26196 [v24.3.x] `storage`: check for hash key map of capacity 0 in `do_compact()` (Manual backport)
  src/v/resource_mgmt/memory_groups.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/tests/CMakeLists.txt
  src/v/storage/tests/common.h
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

#26180 `storage`: add `_num_adjacent_segments_compacted` to `probe`
  src/v/storage/disk_log_impl.cc
  src/v/storage/probe.cc
  src/v/storage/probe.h
Labels: area/redpanda

#26164 [v25.1.x] rpk: improve rpk debug bundle assumptions in k8s environments
  src/go/rpk/Makefile
  src/go/rpk/pkg/cli/debug/bundle/BUILD
  src/go/rpk/pkg/cli/debug/bundle/bundle.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_all.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_k8s_linux.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_linux.go
  src/go/rpk/pkg/cli/debug/common/common.go
Labels: area/rpk, area/build, kind/backport

#26163 [v24.3.x] rpk: improve rpk debug bundle assumptions in k8s environments
  src/go/rpk/Makefile
  src/go/rpk/pkg/cli/debug/bundle/BUILD
  src/go/rpk/pkg/cli/debug/bundle/bundle.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_all.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_k8s_linux.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_linux.go
  src/go/rpk/pkg/cli/debug/common/common.go
Labels: area/rpk, area/build, kind/backport

#26073 storage/tests: migrate storage_test_fixture tests to gtest
  src/v/cluster/tests/BUILD
  src/v/storage/opfuzz/BUILD
  src/v/storage/opfuzz/opfuzz_test.cc
  src/v/storage/tests/BUILD
  src/v/storage/tests/compaction_reducer_fixture_test.cc
  src/v/storage/tests/disk_log_builder_test.cc
  src/v/storage/tests/log_truncate_test.cc
  src/v/storage/tests/storage_e2e_test.cc
  src/v/storage/tests/storage_test_fixture.h
  src/v/test_utils/test_macros.h
Labels: area/build, area/redpanda

#26141 k/connection_ctx: wait for response future in foreground when stopping
  src/v/kafka/server/connection_context.cc
Labels: area/redpanda

#25440 Improve safe pause resume
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/probe.h
  src/v/cluster/archival/tests/ntp_archiver_test.cc
  src/v/cluster/archival/tests/service_fixture.h
Labels: area/redpanda

#26207 config: mark that Iceberg REST props need restart
  src/v/config/configuration.cc
Labels: area/redpanda

#26204 [v24.3.x] `storage`: add `_num_adjacent_segments_compacted` to `probe` (Manual backport)
  src/v/storage/disk_log_impl.cc
  src/v/storage/probe.cc
  src/v/storage/probe.h
Labels: area/redpanda

#26203 [v25.1.x] `storage`: add `_num_adjacent_segments_compacted` to `probe`
  src/v/storage/disk_log_impl.cc
  src/v/storage/probe.cc
  src/v/storage/probe.h
Labels: area/redpanda, kind/backport

#26208 Updated Redpanda source code to build with new seastar version
  src/v/cloud_storage/tests/BUILD
  src/v/cloud_storage/tests/remote_test.cc
  src/v/cloud_storage/tx_range_manifest.cc
  src/v/cluster/self_test/diskcheck.cc
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/translation_task_test.cc
  src/v/debug_bundle/json.h
  src/v/iceberg/tests/BUILD
  src/v/iceberg/tests/rest_catalog_test.cc
  src/v/kafka/server/BUILD
  src/v/kafka/server/datalake_throttle_manager.cc
  src/v/raft/coordinated_recovery_throttle.cc
  src/v/raft/tests/BUILD
  src/v/raft/tests/coordinated_recovery_throttle_test.cc
  src/v/ssx/tests/sharded_ptr_test.cc
  src/v/storage/tests/BUILD
  src/v/storage/tests/batch_cache_test.cc
  src/v/storage/tests/offset_translator_tests.cc
  src/v/storage/tests/produce_consume_test.cc
  src/v/test_utils/async.h
  src/v/transform/BUILD
  src/v/transform/transform_processor.cc
Labels: area/build, area/redpanda, area/wasm

#25887 [CORE-1620] archival: Unify segment upload and reupload code paths
  src/v/cluster/archival/archival_policy.cc
  src/v/cluster/archival/archival_policy.h
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/segment_reupload.cc
  src/v/cluster/archival/segment_reupload.h
  src/v/cluster/archival/tests/BUILD
  src/v/cluster/archival/tests/CMakeLists.txt
  src/v/cluster/archival/tests/archival_policy_test.cc
  src/v/cluster/archival/tests/ntp_archiver_test.cc
  src/v/cluster/archival/tests/segment_reupload_test.cc
Labels: area/build, area/redpanda

#26220 storage/tests: Migrate 5 more Boost tests to Google Test
  bazel/test.bzl
  src/v/storage/tests/BUILD
  src/v/storage/tests/batch_cache_reclaim_test.cc
  src/v/storage/tests/log_manager_test.cc
  src/v/storage/tests/offset_index_utils_tests.cc
  src/v/storage/tests/record_batch_builder_test.cc
  src/v/storage/tests/segment_size_jitter_test.cc
Labels: area/build, area/redpanda

#26173 [v24.3.x] `storage`: add `_segment_cleanly_compacted` to `probe` (Manual backport)
  src/v/storage/disk_log_impl.cc
  src/v/storage/probe.cc
  src/v/storage/probe.h
  src/v/storage/segment_utils.cc
  src/v/storage/segment_utils.h
Labels: area/redpanda

#26224 `storage`: output full `segment` in `WARN` log in `offset_to_filepos.cc`
  src/v/storage/offset_to_filepos.cc
Labels: area/redpanda

#26227 storage/tests: migrate even more tests to GTest
  src/v/cluster/tests/BUILD
  src/v/cluster/tests/crash_reporter_test.cc
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/usage_manager_test.cc
  src/v/storage/tests/BUILD
  src/v/storage/tests/backlog_controller_test.cc
  src/v/storage/tests/concat_segment_reader_test.cc
  src/v/storage/tests/disk_log_builder_fixture.h
  src/v/storage/tests/disk_log_builder_test.cc
  src/v/storage/tests/file_sanitizer_test.cc
  src/v/storage/tests/kvstore_fixture.h
  src/v/storage/tests/kvstore_test.cc
  src/v/storage/tests/timequery_test.cc
Labels: area/build, area/redpanda

#26230 [v24.3.x] `storage`: output full `segment` in `WARN` log in `offset_to_filepos.cc`
  src/v/storage/offset_to_filepos.cc
Labels: area/redpanda, kind/backport

#26124 [Core-9143] pandaproxy/sr: Add support for serialized format option in protobuf
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/api/api-doc/schema_registry_header.json
  src/v/pandaproxy/schema_registry/avro.cc
  src/v/pandaproxy/schema_registry/avro.h
  src/v/pandaproxy/schema_registry/error.cc
  src/v/pandaproxy/schema_registry/error.h
  src/v/pandaproxy/schema_registry/errors.h
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/protobuf.h
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/test/protobuf_rendering.cc
  src/v/pandaproxy/schema_registry/types.h
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda

#26214 [v24.2.x] rpk: improve rpk debug bundle assumptions in k8s environments
  src/go/rpk/Makefile
  src/go/rpk/pkg/cli/debug/bundle/bundle.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_all.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_k8s_linux.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_linux.go
Labels: area/rpk

#26222 storage/tests: migrate more tests to Google Test
  src/v/storage/tests/BUILD
  src/v/storage/tests/appender_chunk_manipulations_test.cc
  src/v/storage/tests/compaction_reducer_fixture_test.cc
  src/v/storage/tests/compaction_reducer_test.cc
  src/v/storage/tests/half_page_concurrent_dispatch_test.cc
  src/v/storage/tests/produce_consume_test.cc
Labels: area/build, area/redpanda, area/wasm

#26241 storage/tests: yet more Boost to Google Test migrations
  src/v/storage/tests/BUILD
  src/v/storage/tests/batch_cache_test.cc
  src/v/storage/tests/log_replayer_test.cc
  src/v/storage/tests/log_retention_test.cc
  src/v/storage/tests/log_segment_appender_test.cc
  src/v/storage/tests/offset_translator_tests.cc
Labels: area/build, area/redpanda

#26217 [v24.2.x] rpk/transform/buildpack: upgrade tinygo
  src/go/rpk/pkg/cli/transform/buildpack/buildpack.go
  src/go/rpk/pkg/cli/transform/buildpack/url_test.go
Labels: area/rpk

#26215 CORE-10195 k/client: Added support for `describe_topics`
  src/v/kafka/client/BUILD
  src/v/kafka/client/client.cc
  src/v/kafka/client/client.h
  src/v/kafka/client/test/BUILD
  src/v/kafka/client/test/describe_topics.cc
  src/v/kafka/client/transport.h
  src/v/kafka/client/utils.h
Labels: area/build, area/redpanda

#26201 [UX-24] rpk: add logger to SR client
  MODULE.bazel
  bazel/thirdparty/go.work
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/schemaregistry/BUILD
  src/go/rpk/pkg/schemaregistry/client.go
  tests/rptest/tests/audit_log_test.py
  tests/rptest/tests/offset_retention_test.py
  tests/rptest/tests/rpk_acl_test.py
Labels: area/rpk, area/build

#26254 util: fix tracker test for abseil soo
  src/v/utils/tests/tracking_allocator_tests.cc
Labels: area/redpanda

#26251 [v25.1.x] [UX-24] rpk: add logger to SR client
  MODULE.bazel
  bazel/thirdparty/go.work
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/schemaregistry/BUILD
  src/go/rpk/pkg/schemaregistry/client.go
  tests/rptest/tests/audit_log_test.py
  tests/rptest/tests/offset_retention_test.py
  tests/rptest/tests/rpk_acl_test.py
Labels: area/rpk, area/build, kind/backport

#26161 [v25.1.x] rpk: enable get config command for cloud env
  src/go/rpk/pkg/cli/cluster/config/BUILD
  src/go/rpk/pkg/cli/cluster/config/get.go
  src/go/rpk/pkg/cli/cluster/config/get_test.go
Labels: area/rpk, area/build, kind/backport

#26253 [v25.1.x] rpk: decommission-status reports reallocation failure details
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/redpanda/admin/brokers/decommission-status.go
Labels: area/rpk, kind/backport

#26255 `storage`: remove unused variable in `write_concatenated_compacted_index()`
  src/v/storage/segment_utils.cc
Labels: area/redpanda

#26260 r/consensus: stop consumable offset monitor
  src/v/raft/consensus.cc
Labels: area/redpanda

#26275 [v25.1.x] r/consensus: stop consumable offset monitor
  src/v/raft/consensus.cc
Labels: area/redpanda, kind/backport

#26276 [v24.2.x] r/consensus: stop consumable offset monitor
  src/v/raft/consensus.cc
Labels: area/redpanda, kind/backport

#26249 utils: crash if close has not been called on fanout ds
  src/v/utils/stream_utils.h
Labels: area/redpanda

#26259 r/stm_manager: added watchdog logging an error when stm did not stop
  src/v/raft/BUILD
  src/v/raft/state_machine_manager.cc
  src/v/raft/state_machine_manager.h
Labels: area/build, area/redpanda

#26223 [v24.3.x] c/archival: wakeup upload loop after flush
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/ntp_archiver_service.h
Labels: area/redpanda, kind/backport
