Repository redpanda-data/redpanda, pull requests merged in 2025-02, with the labels that each got.

#24988 bazel: more sanitizer fixes
  .bazelrc
  BUILD
  bazel/test.bzl
  src/v/test_utils/BUILD
  src/v/test_utils/boost_result_redirect.cc
  src/v/thirdparty/libxml2/BUILD
  src/v/thirdparty/libxml2/xmlwriter.h
Labels: area/build, area/redpanda

#24992 pandaproxy/sr: protobuf rendering: refactor string rendering
  src/v/pandaproxy/schema_registry/protobuf.cc
Labels: area/redpanda

#24993 [v24.2.x] pandaproxy/sr: Fix issues discovered in the protobuf renderer followup
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
Labels: area/redpanda

#24994 [v24.3.x] pandaproxy/sr: protobuf rendering: refactor string rendering
  src/v/pandaproxy/schema_registry/protobuf.cc
Labels: area/redpanda

#25003 [CORE-8999] [v24.2.x] Revert "Schema Registry/protobuf: Remove support for editions."
  src/v/pandaproxy/schema_registry/protobuf.cc
Labels: area/redpanda, area/schema-registry

#25002 [CORE-8999] [v24.3.x] Revert "Schema Registry/protobuf: Remove support for editions."
  src/v/pandaproxy/schema_registry/protobuf.cc
Labels: area/redpanda, area/schema-registry

#25001 [CORE-8999] schema_registry/protobuf: Add test for legacy_map
  MODULE.bazel
  bazel/thirdparty/0001-protobuf-handle-map-entry.patch
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
Labels: area/build, area/redpanda, area/schema-registry

#24995 [v24.3.x] [UX-33] rpk: migrate login + profile creation flow to the Public API.
  src/go/rpk/pkg/cli/cloud/byoc/install.go
  src/go/rpk/pkg/cli/cloud/login.go
  src/go/rpk/pkg/cli/cloud/resourcegroup/create.go
  src/go/rpk/pkg/cli/cloud/resourcegroup/delete.go
  src/go/rpk/pkg/cli/cloud/resourcegroup/list.go
  src/go/rpk/pkg/cli/profile/BUILD
  src/go/rpk/pkg/cli/profile/create.go
  src/go/rpk/pkg/cli/profile/create_test.go
  src/go/rpk/pkg/cloudapi/BUILD
  src/go/rpk/pkg/cloudapi/api_cluster.go
  src/go/rpk/pkg/cloudapi/api_namespace.go
  src/go/rpk/pkg/cloudapi/api_organization.go
  src/go/rpk/pkg/cloudapi/api_virtual_cluster.go
  src/go/rpk/pkg/cloudapi/cloudapi.go
  src/go/rpk/pkg/oauth/BUILD
  src/go/rpk/pkg/oauth/load.go
  src/go/rpk/pkg/oauth/load_test.go
  src/go/rpk/pkg/publicapi/BUILD
  src/go/rpk/pkg/publicapi/controlplane.go
  src/go/rpk/pkg/publicapi/controlplane_test.go
Labels: area/rpk, area/build, kind/backport

#25005 k/fetch: fix selecting replica with highest high watermark
  src/v/kafka/server/handlers/fetch.cc
Labels: area/redpanda

#24955 [CORE-8530] Handle out-of-sync producers by writing records to past-schema parquet
  src/v/datalake/catalog_schema_manager.cc
  src/v/datalake/catalog_schema_manager.h
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/tests/catalog_schema_manager_test.cc
  src/v/iceberg/BUILD
  src/v/iceberg/CMakeLists.txt
  src/v/iceberg/compatibility_utils.cc
  src/v/iceberg/compatibility_utils.h
  src/v/iceberg/table_metadata.cc
  src/v/iceberg/table_metadata.h
  src/v/iceberg/tests/BUILD
  src/v/iceberg/tests/compatibility_test.cc
  src/v/iceberg/tests/table_metadata_json_test.cc
  tests/rptest/tests/datalake/schema_evolution_test.py
Labels: area/build, area/redpanda

#25010 [v24.2.x] schema_registry/protobuf: Add test for legacy_map
  bazel/thirdparty/0001-protobuf-handle-map-entry.patch
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
Labels: area/redpanda, area/schema-registry, kind/backport

#24972 CORE-8686 crash_tracker: remove old crash files
  src/v/crash_tracker/limiter.cc
  src/v/crash_tracker/recorder.cc
  src/v/crash_tracker/recorder.h
  src/v/crash_tracker/tests/BUILD
  src/v/crash_tracker/tests/CMakeLists.txt
  src/v/crash_tracker/tests/limiter_test.cc
  src/v/crash_tracker/tests/recorder_test.cc
Labels: area/build, area/redpanda

#25009 [v24.3.x] schema_registry/protobuf: Add test for legacy_map
  bazel/thirdparty/0001-protobuf-handle-map-entry.patch
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
Labels: area/build, area/redpanda, area/schema-registry, kind/backport

#24921 dl/translation/scheduling: API for scheduling translations
  src/v/datalake/translation/BUILD
  src/v/datalake/translation/CMakeLists.txt
  src/v/datalake/translation/scheduling.cc
  src/v/datalake/translation/scheduling.h
  src/v/datalake/translation/scheduling_policies.cc
  src/v/datalake/translation/scheduling_policies.h
  src/v/datalake/translation/tests/BUILD
  src/v/datalake/translation/tests/CMakeLists.txt
  src/v/datalake/translation/tests/scheduler_fixture.cc
  src/v/datalake/translation/tests/scheduler_fixture.h
  src/v/datalake/translation/tests/scheduler_tests.cc
Labels: area/build, area/redpanda

#24947 `rptest`: add `nessie` catalog and smoke testing
  tests/docker/Dockerfile
  tests/docker/ducktape-deps/nessie
  tests/java/spark-iceberg-dependencies/pom.xml
  tests/rptest/services/apache_iceberg_catalog.py
  tests/rptest/services/catalog_service.py
  tests/rptest/services/nessie_catalog.py
  tests/rptest/services/spark_service.py
  tests/rptest/services/trino_service.py
  tests/rptest/tests/datalake/catalog_service_factory.py
  tests/rptest/tests/datalake/compaction_test.py
  tests/rptest/tests/datalake/coordinator_retention_test.py
  tests/rptest/tests/datalake/custom_partitioning_test.py
  tests/rptest/tests/datalake/datalake_dlq_test.py
  tests/rptest/tests/datalake/datalake_e2e_test.py
  tests/rptest/tests/datalake/datalake_services.py
  tests/rptest/tests/datalake/datalake_upgrade_test.py
  tests/rptest/tests/datalake/datalake_verifier_test.py
  tests/rptest/tests/datalake/iceberg_rest_catalog_smoke_test.py
  tests/rptest/tests/datalake/nessie_catalog_smoke_test.py
  tests/rptest/tests/datalake/partition_movement_test.py
  tests/rptest/tests/datalake/recovery_mode_test.py
  tests/rptest/tests/datalake/schema_evolution_test.py
  tests/rptest/tests/datalake/simple_connect_test.py
  tests/rptest/tests/datalake/spark_sql_server_smoke_test.py
  tests/rptest/tests/datalake/transactions_test.py
  tests/rptest/tests/datalake/trino_smoke_test.py
  tests/setup.py
Labels: area/redpanda

#25011 [v24.3.x] k/fetch: fix selecting replica with highest high watermark
  src/v/kafka/server/handlers/fetch.cc
Labels: area/redpanda, kind/backport

#25012 [v24.1.x] k/fetch: fix selecting replica with highest high watermark
  src/v/kafka/server/handlers/fetch.cc
Labels: area/redpanda, kind/backport

#25013 [v24.2.x] k/fetch: fix selecting replica with highest high watermark
  src/v/kafka/server/handlers/fetch.cc
Labels: area/redpanda, kind/backport

#24990 Iceberg backlog controller
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/datalake/BUILD
  src/v/datalake/CMakeLists.txt
  src/v/datalake/backlog_controller.cc
  src/v/datalake/backlog_controller.h
  src/v/datalake/datalake_manager.cc
  src/v/datalake/datalake_manager.h
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/tests/disk_log_builder_test.cc
Labels: area/build, area/redpanda

#25022 bazel: build seastar iotune
  bazel/packaging/BUILD
  bazel/packaging/bin_wrapper/BUILD
  bazel/thirdparty/seastar.BUILD
Labels: area/build

#24997 parquet: support multiple pages in a column per row group
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/transform-sdk/tests/go.mod
  src/transform-sdk/tests/go.sum
  src/v/serde/parquet/BUILD
  src/v/serde/parquet/column_stats_collector.h
  src/v/serde/parquet/column_writer.cc
  src/v/serde/parquet/column_writer.h
  src/v/serde/parquet/metadata.h
  src/v/serde/parquet/tests/generate_file.cc
  src/v/serde/parquet/writer.cc
  src/v/serde/parquet/writer.h
  src/v/test_utils/go/go.mod
  src/v/test_utils/go/go.sum
  src/v/test_utils/go/parquet_verifier/main.go
Labels: area/rpk, area/build, area/redpanda, area/wasm

#25021 crash_tracker: reduce size of crash_description
  src/v/crash_tracker/prepared_writer.cc
  src/v/crash_tracker/tests/BUILD
  src/v/crash_tracker/tests/limiter_test.cc
  src/v/crash_tracker/types.h
Labels: area/build, area/redpanda

#24982 [UX-78] rpk: fix incorrect parsing of ipv6 addresses
  src/go/rpk/pkg/config/params.go
  src/go/rpk/pkg/config/params_test.go
Labels: area/rpk

#24998 CORE-8964 Add protobuf support to existing ducktape suite for schema evolution.
  tests/rptest/tests/datalake/schema_evolution_test.py
Labels: area/build, area/redpanda

#25031 io: update interval tests and add bazel coverage helper
  .gitignore
  src/v/io/tests/interval_map_test.cc
  tools/single_test_cov.sh
Labels: area/redpanda

#25023 k/server/test: reduce quota manager bench reqs
  src/v/kafka/server/tests/quota_manager_bench.cc
Labels: area/redpanda

#25027 [v24.3.x] [UX-78] rpk: fix incorrect parsing of ipv6 addresses
  src/go/rpk/pkg/config/params.go
  src/go/rpk/pkg/config/params_test.go
Labels: area/rpk, kind/backport

#13409 Update config doc for partition limits
  src/v/config/configuration.cc
Labels: area/redpanda

#25006 Produce request cleanup
  src/v/kafka/server/handlers/produce.cc
Labels: area/redpanda

#25035 raft/tests: deflake truncation_detection_test
  src/v/raft/tests/raft_fixture.cc
  src/v/raft/tests/raft_fixture.h
  src/v/raft/tests/replication_monitor_tests.cc
Labels: area/redpanda

#25030 ct: Fix unit-tests in cloud topics
  src/v/cloud_topics/core/tests/event_filter_test.cc
  src/v/cloud_topics/throttler/tests/throttler_test.cc
Labels: area/redpanda

#25032 parquet: simplify stats tracking
  src/v/serde/parquet/column_writer.cc
  src/v/serde/parquet/column_writer.h
  src/v/serde/parquet/writer.cc
  src/v/serde/parquet/writer.h
Labels: area/redpanda

#24973 Process kafka requests in a separate scheduling group
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/app.cc
  src/v/kafka/server/app.h
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/connection_context.h
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/fetch.h
  src/v/kafka/server/handlers/handler.h
  src/v/kafka/server/handlers/handler_interface.cc
  src/v/kafka/server/handlers/handler_interface.h
  src/v/kafka/server/handlers/produce.cc
  src/v/kafka/server/handlers/produce.h
  src/v/kafka/server/server.cc
  src/v/kafka/server/server.h
  src/v/redpanda/application.cc
  src/v/redpanda/tests/fixture.h
  src/v/resource_mgmt/cpu_scheduling.h
Labels: area/redpanda

#25037 io: remove scheduler
  src/v/io/BUILD
  src/v/io/CMakeLists.txt
  src/v/io/pager.cc
  src/v/io/pager.h
  src/v/io/scheduler.cc
  src/v/io/scheduler.h
  src/v/io/tests/BUILD
  src/v/io/tests/CMakeLists.txt
  src/v/io/tests/pager_test.cc
  src/v/io/tests/scheduler_test.cc
  src/v/storage/mvlog/file.cc
  src/v/storage/mvlog/file.h
Labels: area/build, area/redpanda

#25034 io: minor updates to io subsystem
  src/v/io/README.md
  src/v/io/interval_map.h
  src/v/io/page_set.cc
  src/v/io/page_set.h
  src/v/io/tests/page_set_test.cc
Labels: area/redpanda

#25042 bazel: specify -march compile flags
  .bazelversion
  MODULE.bazel
  MODULE.bazel.lock
Labels: area/build

#24989 bazel/test: use RP_FIXTURE_ENV=1 for all unit tests
  bazel/test.bzl
  src/v/crypto/ossl_context_service.cc
  src/v/crypto/tests/BUILD
Labels: area/build, area/redpanda

#25040 CORE-9028 crash_tracker: test no allocs in `record_crash_sighandler`
  src/v/crash_tracker/tests/BUILD
  src/v/crash_tracker/tests/CMakeLists.txt
  src/v/crash_tracker/tests/recorder_test.cc
Labels: area/build, area/redpanda

#25043 [v24.1.x] ci: add redpanda version in promote trigger
  .github/workflows/promote.yml
Labels: area/build, kind/backport

#25044 [v24.3.x] ci: add redpanda version in promote trigger
  .github/workflows/promote.yml
Labels: area/build, kind/backport

#25049 parquet: improve performance
  src/v/datalake/tests/datalake_parquet_tests.cc
  src/v/datalake/values_parquet.cc
  src/v/serde/parquet/column_stats_collector.cc
  src/v/serde/parquet/column_stats_collector.h
  src/v/serde/parquet/column_writer.cc
  src/v/serde/parquet/column_writer.h
  src/v/serde/parquet/encoding.cc
  src/v/serde/parquet/tests/column_stats_collector_test.cc
  src/v/serde/parquet/tests/encoding_test.cc
  src/v/serde/parquet/tests/generate_file.cc
  src/v/serde/parquet/tests/shredder_test.cc
  src/v/serde/parquet/value.cc
  src/v/serde/parquet/value.h
  src/v/serde/parquet/writer.cc
Labels: area/redpanda

#25054 crash_tracker: add shared object name to stacktrace
  src/v/crash_tracker/recorder.cc
  src/v/crash_tracker/tests/BUILD
  src/v/crash_tracker/tests/CMakeLists.txt
  src/v/crash_tracker/tests/types_test.cc
  src/v/crash_tracker/types.h
  tests/rptest/tests/crash_loop_checks_test.py
Labels: area/build, area/redpanda

#25038 dl/coordinator: add tag to redpanda commits
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/datalake/translation/partition_translator.cc
  src/v/iceberg/merge_append_action.cc
  src/v/iceberg/merge_append_action.h
  src/v/iceberg/tests/merge_append_action_test.cc
  src/v/iceberg/transaction.cc
  src/v/iceberg/transaction.h
  tests/rptest/tests/datalake/datalake_e2e_test.py
Labels: area/redpanda

#25052 [CORE-8949] Incorporate datalake into space management accounting
  src/v/config/node_config.h
  src/v/datalake/BUILD
  src/v/datalake/datalake_manager.cc
  src/v/datalake/datalake_manager.h
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
  src/v/resource_mgmt/BUILD
  src/v/resource_mgmt/CMakeLists.txt
  src/v/resource_mgmt/storage.cc
  src/v/resource_mgmt/storage.h
Labels: area/build, area/redpanda

#25020 pandaproxy/sr: Relax restrictions for bundled json schemas
  src/v/pandaproxy/schema_registry/json.cc
  src/v/pandaproxy/schema_registry/test/test_json_schema.cc
Labels: area/redpanda

#25060 [v24.3.x] pandaproxy/sr: Relax restrictions for bundled json schemas
  src/v/pandaproxy/schema_registry/json.cc
  src/v/pandaproxy/schema_registry/test/test_json_schema.cc
Labels: area/redpanda, kind/backport

#24946 Update and enable large_messages_test (LMT)
  src/v/cluster/scheduling/topic_memory_per_partition_default.h
  src/v/config/configuration.cc
  tests/rptest/scale_tests/audit_log_test.py
  tests/rptest/scale_tests/large_messages_test.py
  tests/rptest/scale_tests/many_partitions_test.py
  tests/rptest/services/client_swarm_base.py
  tests/rptest/services/consumer_swarm.py
  tests/rptest/services/producer_swarm.py
  tests/rptest/services/redpanda.py
  tests/rptest/services/utils.py
  tests/rptest/utils/scale_parameters.py
Labels: area/redpanda

#25065 bazel: bump remote_partition_fuzz_test timeout
  src/v/cloud_storage/tests/BUILD
Labels: area/build, area/redpanda

#24649 `storage`: book keep `dirty_ratio` in `disk_log_impl`
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/probe.cc
  src/v/storage/probe.h
  src/v/storage/segment_utils.cc
  src/v/storage/segment_utils.h
  src/v/storage/tests/storage_e2e_test.cc
  tests/rptest/tests/log_compaction_test.py
Labels: area/redpanda

#24859 [v24.3.x] rpk: improve error message when mount/unmount ID is not found
  src/go/rpk/pkg/cli/cluster/storage/status-mount.go
Labels: area/rpk, kind/backport

#25066 rpk/chore: Bump Go dependencies.
  src/go/rpk/go.mod
  src/go/rpk/go.sum
Labels: area/rpk

#25067 [v24.2.x] [UX-78] rpk: fix incorrect parsing of ipv6 addresses #25029
  src/go/rpk/pkg/config/params.go
  src/go/rpk/pkg/config/params_test.go
Labels: area/rpk

#25070 [v24.3.x] rpk/chore: Bump Go dependencies.
  src/go/rpk/go.mod
  src/go/rpk/go.sum
Labels: area/rpk

#25071 iceberg: serialize snapshot removals individually
  src/v/iceberg/remove_snapshots_action.cc
  src/v/iceberg/tests/remove_snapshots_action_test.cc
  tests/rptest/tests/datalake/datalake_e2e_test.py
Labels: area/redpanda

#25064 cloud_storage_clients: skip lexical_cast on empty strings
  src/v/cloud_storage_clients/s3_error.cc
Labels: area/redpanda

#25072 kafka-probe: remove latency label on batch_size
  src/v/kafka/server/kafka_probe.h
Labels: area/redpanda

#24728 cst: streaming parsing for tx range manifests
  src/v/cloud_storage/tests/BUILD
  src/v/cloud_storage/tests/tx_range_manifest_bench.cc
  src/v/cloud_storage/tests/tx_range_manifest_test.cc
  src/v/cloud_storage/tx_range_manifest.cc
  src/v/cloud_storage/tx_range_manifest.h
Labels: area/build, area/redpanda

#25087 [v24.3.x] pandaproxy/sr: Improve schema lookup
  src/v/pandaproxy/schema_registry/sharded_store.cc
Labels: area/redpanda, kind/backport

#25086 [v24.2.x] pandaproxy/sr: Improve schema lookup
  src/v/pandaproxy/schema_registry/sharded_store.cc
Labels: area/redpanda, kind/backport

#25083 [v24.2.x] cst: streaming parsing for tx range manifests
  src/v/cloud_storage/tests/tx_range_manifest_test.cc
  src/v/cloud_storage/tx_range_manifest.cc
  src/v/cloud_storage/tx_range_manifest.h
Labels: area/redpanda, kind/backport

#25084 [v24.3.x] cst: streaming parsing for tx range manifests
  src/v/cloud_storage/tests/tx_range_manifest_test.cc
  src/v/cloud_storage/tx_range_manifest.cc
  src/v/cloud_storage/tx_range_manifest.h
Labels: area/redpanda, kind/backport

#24924 [v24.2.x] tests/gtest_raft_rpunit: monitor_test_fixture to honour leadership changes
  src/v/raft/tests/raft_fixture.h
  src/v/raft/tests/replication_monitor_tests.cc
Labels: area/redpanda, kind/backport

#25053 iobuf: replace boost::intrusive_list with hand rolled implementation
  src/v/base/vassert.h
  src/v/bytes/BUILD
  src/v/bytes/details/io_byte_iterator.h
  src/v/bytes/details/io_fragment.h
  src/v/bytes/details/io_iterator_consumer.h
  src/v/bytes/details/io_placeholder.h
  src/v/bytes/iobuf.cc
  src/v/bytes/iobuf.h
  src/v/bytes/iostream.cc
  src/v/bytes/tests/BUILD
  src/v/bytes/tests/iobuf_bench.cc
  src/v/bytes/tests/iobuf_fragment_list_test.cc
  src/v/bytes/tests/iobuf_tests_mt.cc
  src/v/cloud_topics/core/BUILD
  src/v/cloud_topics/core/write_request.h
  src/v/cluster/self_test/tests/BUILD
  src/v/cluster/self_test/tests/self_test_request_test.cc
  src/v/container/tests/map_bench.cc
  src/v/crash_tracker/signals.cc
  src/v/datalake/schema_registry.cc
  src/v/datalake/tests/datalake_parquet_tests.cc
  src/v/datalake/translation/BUILD
  src/v/datalake/translation/scheduling.h
  src/v/datalake/values_parquet.cc
  src/v/iceberg/avro_utils.h
  src/v/iceberg/tests/BUILD
  src/v/iceberg/tests/compatibility_test.cc
  src/v/json/iobuf_writer.h
  src/v/json/tests/json_serialization_test.cc
  src/v/kafka/server/fetch_session.h
  src/v/serde/async.h
  src/v/serde/avro/BUILD
  src/v/serde/avro/parser.cc
  src/v/serde/avro/tests/BUILD
  src/v/serde/avro/tests/parser_test.cc
  src/v/serde/parquet/column_stats_collector.cc
  src/v/serde/parquet/column_writer.cc
  src/v/serde/parquet/encoding.cc
  src/v/serde/parquet/tests/column_stats_collector_test.cc
  src/v/serde/parquet/tests/encoding_test.cc
  src/v/serde/parquet/tests/generate_file.cc
  src/v/serde/parquet/tests/shredder_test.cc
  src/v/serde/parquet/value.cc
  src/v/serde/parquet/value.h
  src/v/utils/tests/delta_for_bench.cc
Labels: area/build, area/redpanda

#24940 [v24.3.x] archival: Handle nested shutdown errors
  src/v/cluster/archival/ntp_archiver_service.cc
Labels: area/redpanda, kind/backport

#24655 [v24.3.x] [CORE-627] archival: Convert assertion to exception
  src/v/cluster/archival/archival_policy.cc
Labels: area/redpanda, kind/backport

#25059 Overriding executable `rpath` with patchelf
  MODULE.bazel
  MODULE.bazel.lock
  bazel/packaging/BUILD
  bazel/packaging/bin_wrapper/BUILD
  bazel/packaging/bin_wrapper/main.go
  bazel/packaging/packaging.bzl
  bazel/packaging/tool.go
Labels: area/build

#25093 Added directory mode package for ducktape
  bazel/packaging/BUILD
  bazel/packaging/packaging.bzl
  bazel/packaging/tool.go
Labels: area/build

#25098 [v24.1.x] json: fix empty string case in iobuf_writer
  src/v/json/iobuf_writer.h
  src/v/json/tests/json_serialization_test.cc
Labels: area/redpanda

#25018 Fixed checking if `append_entries_request` batches are already present in follower log
  src/v/raft/consensus.cc
  src/v/raft/tests/basic_raft_fixture_test.cc
  src/v/raft/tests/raft_fixture.cc
  src/v/raft/tests/raft_fixture.h
Labels: area/redpanda

#25062 datalake: metric for invalid records
  src/v/datalake/BUILD
  src/v/datalake/CMakeLists.txt
  src/v/datalake/datalake_manager.cc
  src/v/datalake/datalake_manager.h
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/CMakeLists.txt
  src/v/datalake/tests/gtest_record_multiplexer_test.cc
  src/v/datalake/tests/record_generator.cc
  src/v/datalake/tests/record_generator.h
  src/v/datalake/tests/record_multiplexer_bench.cc
  src/v/datalake/tests/record_multiplexer_test.cc
  src/v/datalake/tests/translation_task_test.cc
  src/v/datalake/translation/BUILD
  src/v/datalake/translation/CMakeLists.txt
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
  src/v/datalake/translation/translation_probe.cc
  src/v/datalake/translation/translation_probe.h
  src/v/datalake/translation_task.cc
  src/v/datalake/translation_task.h
  tests/rptest/services/redpanda.py
  tests/rptest/tests/datalake/datalake_dlq_test.py
Labels: area/build, area/redpanda

#25097 [v24.2.x] json: fix empty string case in iobuf_writer
  src/v/json/iobuf_writer.h
  src/v/json/tests/json_serialization_test.cc
Labels: area/redpanda

#25099 bazel: upgrade golang deps
  src/transform-sdk/go/transform/sr/serde.go
  src/transform-sdk/tests/go.mod
  src/transform-sdk/tests/go.sum
  src/v/test_utils/go/go.mod
  src/v/test_utils/go/go.sum
Labels: area/redpanda, area/wasm

#25090 [CORE-8990] `storage`: use `segment_closed_exception` in compaction utils
  src/v/storage/disk_log_impl.cc
  src/v/storage/segment_utils.cc
Labels: area/redpanda

#25092 [CORE-9126] `compression`: correct endianness in `snappy_java_compressor`
  src/v/compression/internal/snappy_java_compressor.cc
  src/v/compression/internal/snappy_java_compressor.h
  src/v/compression/tests/BUILD
  src/v/compression/tests/CMakeLists.txt
  src/v/compression/tests/snappy_payload/BUILD
  src/v/compression/tests/snappy_payload/little_endian_compressed_data.snappy
  src/v/compression/tests/snappy_payload/uncompressed_data
  src/v/compression/tests/snappy_tests.cc
  tests/rptest/tests/compatibility/java_compression_test.py
  tests/setup.py
Labels: area/build, area/redpanda

#25113 bazel: upgrade openssl to 3.0.16
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: area/build

#25105 config: add gets_restored tag to properties
  src/v/cluster/cloud_metadata/tests/CMakeLists.txt
  src/v/cluster/cloud_metadata/tests/controller_snapshot_reconciliation_test.cc
  src/v/cluster/cluster_recovery_reconciler.cc
  src/v/cluster/cluster_recovery_reconciler.h
  src/v/config/base_property.h
  src/v/config/configuration.cc
Labels: area/redpanda

#25101 [CORE-9130] Made Iceberg an enterprise feature
  src/v/cluster/topics_frontend.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/features/enterprise_features.h
  tests/rptest/tests/license_enforcement_test.py
Labels: area/redpanda

#25110 [v24.3.x] `compression`: correct endianness in `snappy_java_compressor` (Manual backport)
  src/v/compression/internal/snappy_java_compressor.cc
  src/v/compression/internal/snappy_java_compressor.h
  src/v/compression/tests/BUILD
  src/v/compression/tests/CMakeLists.txt
  src/v/compression/tests/snappy_payload/BUILD
  src/v/compression/tests/snappy_payload/little_endian_compressed_data.snappy
  src/v/compression/tests/snappy_payload/uncompressed_data
  src/v/compression/tests/snappy_tests.cc
  tests/rptest/tests/compatibility/java_compression_test.py
  tests/setup.py
Labels: area/build, area/redpanda

#25116 datalake: invalid record action metrics followup
  src/v/datalake/translation/translation_probe.h
Labels: area/redpanda

#25041 bazel: remove numactl
  MODULE.bazel
  MODULE.bazel.lock
  bazel/gazelle_pr_1909.patch
  bazel/repositories.bzl
  bazel/thirdparty/Cargo.toml
  bazel/thirdparty/numactl.BUILD
  bazel/thirdparty/seastar-remove-libnuma.patch
  bazel/thirdparty/seastar.BUILD
  bazel/thirdparty/wasmtime.BUILD
  bazel/toolchains_llvm_pr_346.patch
  src/go/rpk/pkg/cli/iotune/BUILD
  src/go/rpk/pkg/cli/redpanda/start.go
  src/go/rpk/pkg/config/params.go
  src/go/rpk/pkg/redpanda/BUILD
  src/go/rpk/pkg/system/BUILD
  src/go/rpk/pkg/system/filesystem/BUILD
  src/go/rpk/pkg/tuners/BUILD
  src/go/rpk/pkg/tuners/ethtool/BUILD
  src/go/rpk/pkg/tuners/executors/commands/BUILD
  src/go/rpk/pkg/tuners/network/BUILD
  src/v/bytes/iobuf.cc
  src/v/bytes/iobuf_parser.h
  src/v/strings/utf8.h
Labels: area/rpk, area/build, area/redpanda

#25056 CORE-8928: Introduce redpanda.iceberg.target.lag.ms topic propery
  src/v/cloud_storage/tests/topic_manifest_test.cc
  src/v/cluster/metadata_cache.cc
  src/v/cluster/metadata_cache.h
  src/v/cluster/topic_properties.cc
  src/v/cluster/topic_properties.h
  src/v/cluster/topic_table.cc
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/compat/cluster_compat.h
  src/v/compat/cluster_generator.h
  src/v/compat/cluster_json.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/handlers/alter_configs.cc
  src/v/kafka/server/handlers/configs/config_response_utils.cc
  src/v/kafka/server/handlers/configs/config_utils.h
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/handlers/incremental_alter_configs.cc
  src/v/kafka/server/handlers/topics/types.cc
  src/v/kafka/server/handlers/topics/types.h
  src/v/kafka/server/handlers/topics/validators.h
  src/v/kafka/server/tests/alter_config_test.cc
  tests/rptest/clients/types.py
  tools/offline_log_viewer/controller.py
Labels: area/redpanda

#25118 iceberg: make snapshot expiration an explicit 64-bit
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/iceberg/merge_append_action.h
  src/v/iceberg/transaction.cc
  src/v/iceberg/transaction.h
Labels: area/redpanda

#25112 [v24.2.x] `compression`: correct endianness in `snappy_java_compressor` (Manual backport)
  src/v/compression/include/compression/internal/snappy_java_compressor.h
  src/v/compression/internal/snappy_java_compressor.cc
  src/v/compression/tests/BUILD
  src/v/compression/tests/CMakeLists.txt
  src/v/compression/tests/snappy_payload/BUILD
  src/v/compression/tests/snappy_payload/little_endian_compressed_data.snappy
  src/v/compression/tests/snappy_payload/uncompressed_data
  src/v/compression/tests/snappy_tests.cc
  tests/rptest/tests/compatibility/java_compression_test.py
  tests/setup.py
Labels: area/redpanda

#25121 debug bundle: use common file io utility
  src/v/debug_bundle/BUILD
  src/v/debug_bundle/debug_bundle_service.cc
  src/v/debug_bundle/tests/BUILD
  src/v/debug_bundle/tests/debug_bundle_service_test.cc
  src/v/utils/file_io.cc
  src/v/utils/file_io.h
  src/v/utils/tests/BUILD
  src/v/utils/tests/file_io_test.cc
Labels: area/build, area/redpanda

#25076 `storage`: fixes for book keeping of `dirty` and `closed` bytes
  src/v/cluster/archival/tests/ntp_archiver_reupload_test.cc
  src/v/cluster/archival/tests/segment_reupload_test.cc
  src/v/raft/tests/failure_injectable_log.cc
  src/v/raft/tests/failure_injectable_log.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/log.h
  src/v/storage/probe.h
  src/v/storage/segment.h
  src/v/storage/segment_deduplication_utils.cc
  src/v/storage/segment_utils.cc
  src/v/storage/tests/BUILD
  src/v/storage/tests/compaction_e2e_test.cc
  src/v/storage/tests/segment_deduplication_test.cc
  src/v/storage/tests/storage_e2e_test.cc
  src/v/storage/tests/storage_test_fixture.h
  src/v/storage/tests/utils/disk_log_builder.cc
  src/v/storage/tests/utils/disk_log_builder.h
Labels: area/build, area/redpanda

#25122 storage: use inheritence for compacted index writer
  src/v/storage/compacted_index_writer.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/segment.cc
  src/v/storage/segment.h
  src/v/storage/segment_utils.cc
  src/v/storage/segment_utils.h
  src/v/storage/spill_key_index.cc
  src/v/storage/spill_key_index.h
  src/v/storage/tests/compaction_index_format_tests.cc
  src/v/storage/tests/segment_deduplication_test.cc
Labels: area/redpanda

#25132 bazel: Update zstd to 1.5.7
  MODULE.bazel
  MODULE.bazel.lock
Labels: area/build

#25133 `ssx`: move `watchdog` into `ssx` namespace
  src/v/cloud_storage/recursive_directory_walker.cc
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_segment.cc
  src/v/ssx/tests/watchdog_test.cc
  src/v/ssx/watchdog.h
Labels: area/redpanda

#24986 `config`: add `iceberg_rest_catalog_authentication_mode`
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/convert.h
  src/v/config/property.h
  src/v/config/rjson_serialization.cc
  src/v/config/rjson_serialization.h
  src/v/config/types.h
  src/v/config/validators.cc
  src/v/config/validators.h
  src/v/datalake/coordinator/BUILD
  src/v/datalake/coordinator/catalog_factory.cc
  src/v/datalake/coordinator/catalog_factory.h
  src/v/iceberg/rest_client/BUILD
  src/v/iceberg/rest_client/catalog_client.cc
  src/v/iceberg/rest_client/catalog_client.h
  src/v/iceberg/rest_client/credentials.h
  src/v/iceberg/tests/BUILD
  src/v/iceberg/tests/rest_catalog_test.cc
  src/v/redpanda/admin/server.cc
  tests/rptest/tests/cluster_config_test.py
  tests/rptest/tests/polaris_catalog_smoke_test.py
Labels: area/build, area/redpanda

#25137 [v24.1.x] `compression`: correct endianness in `snappy_java_compressor` (Manual backport)
  src/v/compression/include/compression/internal/snappy_java_compressor.h
  src/v/compression/internal/snappy_java_compressor.cc
  src/v/compression/tests/CMakeLists.txt
  src/v/compression/tests/snappy_payload/little_endian_compressed_data.snappy
  src/v/compression/tests/snappy_payload/uncompressed_data
  src/v/compression/tests/snappy_tests.cc
  tests/rptest/tests/compatibility/java_compression_test.py
  tests/setup.py
Labels: area/redpanda

#24987 `config`: remove `shard_local_cfg` checks for `tombstone_retention_ms` validator
  src/v/config/validators.cc
Labels: area/redpanda

#25114 [CORE-8532] Disallow certain schema evolution actions if a field appears in the partition spec
  src/v/datalake/catalog_schema_manager.cc
  src/v/iceberg/BUILD
  src/v/iceberg/compatibility.cc
  src/v/iceberg/compatibility.h
  src/v/iceberg/compatibility_types.cc
  src/v/iceberg/compatibility_types.h
  src/v/iceberg/partition.cc
  src/v/iceberg/partition.h
  src/v/iceberg/schema_avro.cc
  src/v/iceberg/tests/BUILD
  src/v/iceberg/tests/compatibility_bench.cc
  src/v/iceberg/tests/compatibility_test.cc
  src/v/iceberg/tests/schema_avro_test.cc
  tests/rptest/tests/datalake/schema_evolution_test.py
Labels: area/build, area/redpanda

#25126 [CORE-8933] Setup for translation scheduling port
  src/v/datalake/data_writer_interface.cc
  src/v/datalake/data_writer_interface.h
  src/v/datalake/local_parquet_file_writer.cc
  src/v/datalake/local_parquet_file_writer.h
  src/v/datalake/partitioning_writer.cc
  src/v/datalake/partitioning_writer.h
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
  src/v/datalake/serde_parquet_writer.cc
  src/v/datalake/serde_parquet_writer.h
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/gtest_record_multiplexer_test.cc
  src/v/datalake/tests/local_parquet_file_writer_test.cc
  src/v/datalake/tests/partitioning_writer_test.cc
  src/v/datalake/tests/record_multiplexer_bench.cc
  src/v/datalake/tests/record_multiplexer_test.cc
  src/v/datalake/tests/serde_parquet_writer_test.cc
  src/v/datalake/tests/test_data_writer.h
  src/v/datalake/tests/translation_task_test.cc
  src/v/datalake/translation/BUILD
  src/v/datalake/translation/CMakeLists.txt
  src/v/datalake/translation/deps.cc
  src/v/datalake/translation/deps.h
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation_task.cc
  src/v/datalake/translation_task.h
  src/v/serde/parquet/writer.cc
  src/v/serde/parquet/writer.h
  src/v/utils/BUILD
  src/v/utils/CMakeLists.txt
  src/v/utils/null_output_stream.cc
  src/v/utils/null_output_stream.h
Labels: area/build, area/redpanda

#25051 CORE-8687 Track vassert messages for crash log
  src/v/base/tests/BUILD
  src/v/base/tests/CMakeLists.txt
  src/v/base/tests/assert_log_holder_test.cc
  src/v/base/unreachable.h
  src/v/base/vassert.h
  src/v/crash_tracker/recorder.cc
  src/v/crash_tracker/recorder.h
  src/v/crash_tracker/types.h
  src/v/redpanda/admin/api-doc/debug.json
  src/v/redpanda/admin/debug.cc
  src/v/redpanda/admin/server.h
  tests/rptest/services/admin.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/crash_loop_checks_test.py
Labels: area/build, area/redpanda

#25148 kafka/server: fix case of use after move
  src/v/kafka/server/group.h
Labels: area/redpanda

#25149 bazel: Update seastar ref
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: area/build

#25151 rpk: use `runtime.GO*` information instead of injecting it
  src/go/.goreleaser.yaml
  src/go/rpk/pkg/cli/version/version.go
Labels: area/rpk

#25155 [v24.1.x] kafka/server: fix case of use after move
  src/v/kafka/server/group.h
Labels: area/redpanda, kind/backport

#24834 [v24.3.x] c/migration/table: when applying a snapshot update completed timestamp
  src/v/cluster/data_migration_table.cc
Labels: area/redpanda, kind/backport

#24508 Decommission status improvement
  src/v/cluster/controller.cc
  src/v/cluster/controller_api.cc
  src/v/cluster/controller_api.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/service.cc
  src/v/cluster/tests/serialization_rt_test.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/cluster/topics_frontend.cc
  src/v/cluster/topics_frontend.h
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/compat/cluster_generator.h
  src/v/redpanda/admin/partition.cc
  src/v/redpanda/admin/server.cc
Labels: area/redpanda

#25156 [v24.3.x] kafka/server: fix case of use after move
  src/v/kafka/server/group.h
Labels: area/redpanda, kind/backport

#25145 datalake: introduced function converting partition key to path
  src/v/datalake/BUILD
  src/v/datalake/partition_key_path.cc
  src/v/datalake/partition_key_path.h
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/partition_key_path_test.cc
  src/v/utils/base64.cc
  src/v/utils/base64.h
  src/v/utils/tests/base64_test.cc
Labels: area/build, area/redpanda

#25130 CORE-8695 crash_tracker: implement crash report upload markers
  src/v/crash_tracker/BUILD
  src/v/crash_tracker/recorder.cc
  src/v/crash_tracker/recorder.h
  src/v/crash_tracker/tests/limiter_test.cc
  src/v/crash_tracker/tests/recorder_test.cc
Labels: area/build, area/redpanda

#25167 gha/rpk-build: test and build multi os and arch
  .github/workflows/rpk-build.yml
Labels: area/build

#25153 `storage`: add `disk_log_impl::reset_dirty_and_closed_bytes()`
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

#25176 [v24.3.x] gha/rpk-build: test and build multi os and arch
  .github/workflows/rpk-build.yml
Labels: area/build, kind/backport

#25162 [v24.1.x] [CORE-9154] `rptest`: adjust timeouts in `java_compression_test.py`
  tests/rptest/tests/compatibility/java_compression_test.py
Labels: kind/backport

#25161 [v24.3.x] [CORE-9154] `rptest`: adjust timeouts in `java_compression_test.py`
  tests/rptest/tests/compatibility/java_compression_test.py
Labels: kind/backport

#25179 [v24.2.x] gha/rpk-build: test and build multi os and arch
  .github/workflows/rpk-build.yml
Labels: area/build, kind/backport

#25180 [v24.1.x] gha/rpk-build: test and build multi os and arch
  .github/workflows/rpk-build.yml
Labels: area/build, kind/backport

#25119 `storage`: add self compaction counter tunable for use in `adjacent_merge_compact()`
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
Labels: area/redpanda

#24694 [v24.3.x] c/rm_stm: correct error codes
  src/v/cluster/rm_stm.cc
Labels: area/redpanda, kind/backport

#25168 http/utils: changed url encoding to use upper case hex representation
  src/v/http/tests/request_builder_test.cc
  src/v/http/tests/uri_encoding_test.cc
  src/v/http/utils.cc
  src/v/iceberg/rest_client/tests/catalog_client_tests.cc
  src/v/iceberg/tests/rest_catalog_test.cc
Labels: area/redpanda

#25187 bazel: update markupsafe to 2.1.5
  MODULE.bazel.lock
  bazel/thirdparty/requirements.txt
Labels: area/build

#25189 bazel: add utility binaries to packaging
  bazel/packaging/BUILD
  bazel/packaging/packaging.bzl
  bazel/packaging/tool.go
  bazel/thirdparty/hwloc.BUILD
  bazel/thirdparty/openssl-fips.BUILD
  bazel/thirdparty/openssl.BUILD
  bazel/thirdparty/seastar.BUILD
  src/v/crypto/tests/BUILD
Labels: area/build, area/redpanda

#25120 bazel: rebuild clang and fix sanitizers
  .bazelrc
  MODULE.bazel
  MODULE.bazel.lock
  bazel/repositories.bzl
  bazel/test.bzl
  bazel/toolchain/.gitignore
  bazel/toolchain/Dockerfile.llvm
  bazel/toolchain/README.md
  lsan_suppressions.txt
  src/v/bytes/tests/iobuf_fuzz.cc
  src/v/cloud_topics/core/pipeline_stage.cc
  src/v/cloud_topics/core/pipeline_stage.h
  src/v/datalake/tests/record_multiplexer_bench.cc
  src/v/datalake/translation/scheduling_policies.cc
  src/v/model/record_batch_types.h
  src/v/rpc/rpc_compiler.py
  src/v/storage/tests/BUILD
Labels: area/build, area/redpanda, area/wasm

#25199 dl/coordinator: implement service method for creating DLQ table
  src/v/datalake/coordinator/frontend.cc
  src/v/datalake/coordinator/service.cc
  src/v/datalake/coordinator/service.h
  src/v/datalake/record_multiplexer.cc
  tests/rptest/tests/datalake/datalake_dlq_test.py
Labels: area/redpanda

#24991 [CORE-8161] `storage`: add `min.cleanable.dirty.ratio`, schedule compaction by `dirty_ratio`
  src/v/cloud_storage/tests/topic_manifest_test.cc
  src/v/cluster/metadata_cache.cc
  src/v/cluster/metadata_cache.h
  src/v/cluster/topic_configuration.cc
  src/v/cluster/topic_properties.cc
  src/v/cluster/topic_properties.h
  src/v/cluster/topic_table.cc
  src/v/cluster/types.h
  src/v/compat/cluster_compat.h
  src/v/compat/cluster_generator.h
  src/v/compat/cluster_json.h
  src/v/compat/json.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/handlers/alter_configs.cc
  src/v/kafka/server/handlers/configs/config_response_utils.cc
  src/v/kafka/server/handlers/configs/config_utils.h
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/handlers/incremental_alter_configs.cc
  src/v/kafka/server/handlers/topics/types.cc
  src/v/kafka/server/handlers/topics/types.h
  src/v/kafka/server/tests/alter_config_test.cc
  src/v/raft/tests/failure_injectable_log.cc
  src/v/raft/tests/failure_injectable_log.h
  src/v/storage/disk_log_impl.h
  src/v/storage/log.h
  src/v/storage/log_housekeeping_meta.h
  src/v/storage/log_manager.cc
  src/v/storage/ntp_config.h
  src/v/storage/tests/BUILD
  src/v/storage/tests/common.h
  src/v/storage/tests/storage_e2e_test.cc
  tests/rptest/clients/kafka_cli_tools.py
  tests/rptest/clients/types.py
  tests/rptest/tests/alter_topic_configuration_test.py
  tests/rptest/tests/datalake/compaction_test.py
  tests/rptest/tests/describe_topics_test.py
  tests/rptest/tests/e2e_shadow_indexing_test.py
  tests/rptest/tests/log_compaction_test.py
  tests/rptest/tests/shadow_indexing_compacted_topic_test.py
  tests/rptest/transactions/compaction_e2e_test.py
  tools/offline_log_viewer/controller.py
  tools/offline_log_viewer/reader.py
Labels: area/build, area/redpanda

#25190 [v24.3.x] rptest: unique cloud diagnostics archive per run with deflake
  tests/rptest/services/redpanda.py
Labels: kind/backport

#25207 gha/promote: fix trigger promote action
  .github/workflows/promote.yml
Labels: area/build

#25208 [v24.3.x] gha/promote: fix trigger promote action
  .github/workflows/promote.yml
Labels: area/build, kind/backport

#25204 bazel: remove seastar fortify patch
  MODULE.bazel.lock
  bazel/repositories.bzl
  bazel/thirdparty/seastar-fortify-source.patch
Labels: area/build

#24977 kafka/server: add metrics and config for consumer lag reporting
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/validators.cc
  src/v/config/validators.h
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
  src/v/kafka/server/group_probe.h
  src/v/kafka/server/tests/group_test.cc
  src/v/redpanda/application.cc
  tests/rptest/tests/cluster_config_test.py
  tests/rptest/tests/consumer_group_test.py
Labels: area/redpanda

#25206 [bazel] arm64 build fixes
  MODULE.bazel.lock
  bazel/repositories.bzl
  bazel/thirdparty/requirements.txt
  bazel/toolchain/Dockerfile.sysroot
Labels: area/build

#25211 [v24.2.x] gha/promote: fix trigger promote action
  .github/workflows/promote.yml
Labels: area/build, kind/backport

#25212 [v24.1.x] gha/promote: fix trigger promote action
  .github/workflows/promote.yml
Labels: area/build, kind/backport

#25218 CORE-7595 security/tests: bazel build for ocsf_schemas_test.cc
  src/v/security/audit/schemas/tests/BUILD
  src/v/security/audit/schemas/tests/CMakeLists.txt
  src/v/security/audit/schemas/tests/ocsf_schemas_test.cc
Labels: area/build, area/redpanda

#25213 rpk cluster health improvements
  src/go/rpk/pkg/cli/cluster/BUILD
  src/go/rpk/pkg/cli/cluster/health.go
Labels: area/rpk, area/build
