Repository redpanda-data/redpanda, pull requests merged in 2025-07, with the labels that each got.

#26542 Introduced `cluster` abstraction in kafka client
  src/v/cluster/cluster_utils.cc
  src/v/cluster/node_status_backend.h
  src/v/kafka/client/BUILD
  src/v/kafka/client/broker.cc
  src/v/kafka/client/broker.h
  src/v/kafka/client/brokers.cc
  src/v/kafka/client/brokers.h
  src/v/kafka/client/client.cc
  src/v/kafka/client/client.h
  src/v/kafka/client/cluster.cc
  src/v/kafka/client/cluster.h
  src/v/kafka/client/config_utils.h
  src/v/kafka/client/configuration.h
  src/v/kafka/client/consumer.cc
  src/v/kafka/client/consumer.h
  src/v/kafka/client/test/BUILD
  src/v/kafka/client/test/cluster_test.cc
  src/v/kafka/client/transport.h
  src/v/kafka/data/rpc/BUILD
  src/v/kafka/data/rpc/client.cc
  src/v/kafka/data/rpc/test/kafka_data_rpc_test.cc
  src/v/kafka/protocol/BUILD
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/consumer_groups_test.cc
  src/v/kafka/server/tests/delete_records_utils.cc
  src/v/kafka/server/tests/delete_topics_test.cc
  src/v/kafka/server/tests/list_offsets_utils.cc
  src/v/kafka/server/tests/offset_for_leader_epoch_utils.cc
  src/v/kafka/server/tests/produce_consume_test.cc
  src/v/kafka/server/tests/produce_consume_utils.cc
  src/v/kafka/server/tests/topic_recreate_test.cc
  src/v/redpanda/tests/fixture.h
  src/v/rpc/BUILD
  src/v/rpc/connection_cache.cc
  src/v/rpc/connection_cache.h
  src/v/rpc/connection_set.cc
  src/v/rpc/connection_set.h
  src/v/rpc/reconnect_transport.h
  src/v/rpc/test/BUILD
  src/v/rpc/test/rpc_gen_cycling_test.cc
  src/v/transform/BUILD
  src/v/transform/commit_batcher.cc
  src/v/transform/rpc/BUILD
  src/v/transform/rpc/client.cc
  src/v/transform/rpc/tests/BUILD
  src/v/transform/rpc/tests/transform_rpc_test.cc
  src/v/transform/tests/BUILD
  src/v/transform/transform_manager.cc
  src/v/utils/BUILD
  src/v/utils/backoff_policy.h
  src/v/utils/tests/BUILD
  src/v/utils/tests/exponential_backoff.cc
  tests/rptest/tests/crl_test.py
Labels: area/build, area/redpanda, area/wasm

#26638 [v24.3.x] raft: Handle exceptions in backgroun_apply_fiber
  src/v/raft/state_machine_manager.cc
Labels: area/redpanda, kind/backport

#26645 serde/json: do not throw on empty docs
  src/v/serde/json/parser.cc
  src/v/serde/json/tests/parser_test.cc
Labels: area/redpanda

#26646 Upgrade skylib and zlib to fix warnings
  .bazelversion
  MODULE.bazel
  MODULE.bazel.lock
Labels: area/build

#26635 [CORE-12593] rp/admin/server: Fix an issue with the audit log escape hatch
  src/v/redpanda/admin/server.cc
  tests/rptest/tests/audit_log_test.py
Labels: area/redpanda

#26639 [v25.1.x] raft: Handle exceptions in backgroun_apply_fiber
  src/v/raft/state_machine_manager.cc
Labels: area/redpanda, kind/backport

#26647 bazel: upgrade openssl
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: area/build

#26652 [v25.1.x] [CORE-12593] rp/admin/server: Fix an issue with the audit log escape hatch
  src/v/redpanda/admin/server.cc
  tests/rptest/tests/audit_log_test.py
Labels: area/redpanda, kind/backport

#26651 [v24.3.x] [CORE-12593] rp/admin/server: Fix an issue with the audit log escape hatch
  src/v/redpanda/admin/server.cc
  tests/rptest/tests/audit_log_test.py
Labels: area/redpanda, kind/backport

#26640 [v24.3.x] [CORE-8392] http: Add shutdown connection error code
  src/v/cloud_io/remote.cc
Labels: area/redpanda, kind/backport

#26657 ct: remove dl_overlay
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/core/read_request.h
  src/v/cloud_topics/dl_overlay.cc
  src/v/cloud_topics/dl_overlay.h
  src/v/cloud_topics/dl_snapshot.h
  src/v/cloud_topics/dl_stm/BUILD
  src/v/cloud_topics/dl_stm/dl_stm.cc
  src/v/cloud_topics/dl_stm/dl_stm.h
  src/v/cloud_topics/dl_stm/dl_stm_api.cc
  src/v/cloud_topics/dl_stm/dl_stm_api.h
  src/v/cloud_topics/dl_stm/dl_stm_commands.h
  src/v/cloud_topics/dl_stm/dl_stm_factory.h
  src/v/cloud_topics/dl_stm/dl_stm_state.cc
  src/v/cloud_topics/dl_stm/dl_stm_state.h
  src/v/cloud_topics/dl_stm/tests/BUILD
  src/v/cloud_topics/dl_stm/tests/dl_stm_state_test.cc
  src/v/cloud_topics/dl_stm/tests/dl_stm_test.cc
  src/v/cloud_topics/read_path/fetch_request_handler.h
  src/v/cloud_topics/reconciler/BUILD
  src/v/cloud_topics/reconciler/reconciler.cc
  src/v/cloud_topics/tests/types_test.cc
  src/v/cloud_topics/types.cc
  src/v/cloud_topics/types.h
  src/v/cluster/fwd.h
  src/v/cluster/state_machine_registry.h
  src/v/model/model.cc
Labels: area/build, area/redpanda

#26618 `storage`: add `self_compact_timestamp` related details to `segment` [SC&R #2]
  src/v/cluster/archival/segment_reupload.cc
  src/v/cluster/archival/tests/ntp_archiver_reupload_test.cc
  src/v/cluster/archival/tests/segment_reupload_test.cc
  src/v/cluster/archival/tests/service_fixture.cc
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/index_state.cc
  src/v/storage/index_state.h
  src/v/storage/segment.cc
  src/v/storage/segment.h
  src/v/storage/segment_deduplication_utils.cc
  src/v/storage/segment_index.cc
  src/v/storage/segment_index.h
  src/v/storage/segment_utils.cc
  src/v/storage/segment_utils.h
  src/v/storage/tests/compaction_e2e_test.cc
  src/v/storage/tests/disk_log_builder_test.cc
  src/v/storage/tests/index_state_test.cc
  src/v/storage/tests/log_truncate_test.cc
  src/v/storage/tests/segment_deduplication_test.cc
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

#26562 `cluster`: add `remake_partition()` functionality to `controller_backend`/`shard_placement_table` [SC&R #1]
  src/v/cluster/BUILD
  src/v/cluster/controller.h
  src/v/cluster/controller_api.cc
  src/v/cluster/controller_api.h
  src/v/cluster/controller_backend.cc
  src/v/cluster/controller_backend.h
  src/v/cluster/shard_placement_table.cc
  src/v/cluster/shard_placement_table.h
  src/v/cluster/shard_placement_table_probe.cc
  src/v/cluster/shard_placement_table_probe.h
  src/v/cluster/tests/BUILD
  src/v/cluster/tests/remake_partition_tests.cc
  src/v/cluster/tests/shard_placement_table_test.cc
Labels: area/build, area/redpanda

#26659 Added defensive checks when materializing batch records
  src/v/model/record_utils.cc
Labels: area/redpanda

#26650 datalake: add default partition spec kludge for AWS Glue
  src/v/config/configuration.cc
  src/v/datalake/coordinator/coordinator.cc
  src/v/datalake/coordinator/coordinator.h
Labels: area/redpanda

#26670 cloud_topics: rename dl_stm to ctp_stm
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/level_zero/BUILD
  src/v/cloud_topics/level_zero/ctp_stm.cc
  src/v/cloud_topics/level_zero/ctp_stm.h
  src/v/cloud_topics/level_zero/ctp_stm_api.cc
  src/v/cloud_topics/level_zero/ctp_stm_api.h
  src/v/cloud_topics/level_zero/ctp_stm_commands.h
  src/v/cloud_topics/level_zero/ctp_stm_factory.cc
  src/v/cloud_topics/level_zero/ctp_stm_factory.h
  src/v/cloud_topics/level_zero/ctp_stm_offsets.h
  src/v/cloud_topics/level_zero/ctp_stm_state.cc
  src/v/cloud_topics/level_zero/ctp_stm_state.h
  src/v/cloud_topics/level_zero/tests/BUILD
  src/v/cloud_topics/level_zero/tests/ctp_stm_state_test.cc
  src/v/cloud_topics/level_zero/tests/ctp_stm_test.cc
  src/v/cloud_topics/reconciler/BUILD
  src/v/cloud_topics/reconciler/reconciler.cc
  src/v/cloud_topics/tests/end_to_end_test.cc
  src/v/cloud_topics/tests/types_test.cc
  src/v/cloud_topics/types.cc
  src/v/cloud_topics/types.h
  src/v/cluster/BUILD
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/kafka/data/cloud_topic_partition.h
  src/v/model/model.cc
  src/v/model/record_batch_types.h
  src/v/redpanda/BUILD
  src/v/redpanda/application.cc
  tools/offline_log_viewer/storage.py
Labels: area/build, area/redpanda

#26672 tx/tm_stm: fix clean up of old pids
  src/v/cluster/tests/tm_stm_tests.cc
  src/v/cluster/tm_stm.cc
  src/v/cluster/tm_stm.h
  src/v/cluster/tx_gateway_frontend.cc
Labels: area/redpanda

#26665 [v24.3.x] Added defensive checks when materializing batch records
  src/v/model/record_utils.cc
Labels: area/redpanda, kind/backport

#26664 [CORE-12338] k/s/group: address inconsistency in group subscription
  src/v/kafka/server/group.cc
  tests/rptest/tests/consumer_group_test.py
Labels: area/redpanda

#26679 [CORE-12276, CORE-12277] SR AuthZ: implement deferred handlers
  src/v/pandaproxy/schema_registry/auth.h
  src/v/pandaproxy/schema_registry/authorization.cc
  src/v/pandaproxy/schema_registry/authorization.h
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/handlers.h
  src/v/pandaproxy/schema_registry/service.cc
  src/v/redpanda/admin/security.cc
  src/v/redpanda/admin/server.h
  src/v/security/request_auth.cc
  src/v/security/request_auth.h
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda

#26686 storage: quiet logging when no tiered storage topics
  src/v/resource_mgmt/storage.cc
Labels: area/redpanda

#26701 [backport v25.1.x] datalake: add default partition spec kludge for AWS Glue
  src/v/config/configuration.cc
  src/v/datalake/coordinator/coordinator.cc
  src/v/datalake/coordinator/coordinator.h
Labels: area/redpanda

#26663 Refactored Kafka client `topic_cache`
  src/v/kafka/client/BUILD
  src/v/kafka/client/brokers.cc
  src/v/kafka/client/brokers.h
  src/v/kafka/client/client.cc
  src/v/kafka/client/client.h
  src/v/kafka/client/cluster.cc
  src/v/kafka/client/cluster.h
  src/v/kafka/client/consumer.cc
  src/v/kafka/client/partitioners.cc
  src/v/kafka/client/partitioners.h
  src/v/kafka/client/producer.cc
  src/v/kafka/client/test/cluster_test_with_mock.cc
  src/v/kafka/client/topic_cache.cc
  src/v/kafka/client/topic_cache.h
Labels: area/build, area/redpanda

#26707 CORE-7664 c/self_check: fix list pagination handling
  src/v/cloud_io/remote.h
  src/v/cluster/self_test/cloudcheck.cc
  src/v/cluster/self_test/cloudcheck.h
  tests/rptest/tests/self_test_test.py
Labels: area/redpanda

#26662 [CORE-12159] archival: Prevent adjacent segment merger from running with compacted topics
  src/v/cluster/archival/adjacent_segment_merger.cc
  src/v/cluster/archival/ntp_archiver_service.cc
Labels: area/redpanda

#26705 [v24.3.x] [CORE-12338] k/s/group: address inconsistency in group subscription
  src/v/kafka/server/group.cc
  tests/rptest/clients/offline_log_viewer.py
  tests/rptest/tests/consumer_group_test.py
Labels: area/redpanda, kind/backport

#26699 [backport v25.1.x] iceberg/config: mark iceberg auth options as restored (default)
  src/v/cluster/cloud_metadata/tests/controller_snapshot_reconciliation_test.cc
  src/v/config/configuration.cc
Labels: area/redpanda

#26694 [UX-287] rpk: use common-go rpsr package
  MODULE.bazel
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/topic/BUILD
  src/go/rpk/pkg/cli/topic/consume.go
  src/go/rpk/pkg/cli/topic/produce.go
  src/go/rpk/pkg/schemaregistry/BUILD
  src/go/rpk/pkg/schemaregistry/client.go
  src/go/rpk/pkg/serde/avro_test.go
  src/go/rpk/pkg/serde/jsonschema_test.go
  src/go/rpk/pkg/serde/proto_test.go
Labels: area/rpk, area/build

#26713 [v25.1.x] CORE-7664 c/self_check: fix list pagination handling
  src/v/cloud_io/remote.h
  src/v/cluster/self_test/cloudcheck.cc
  src/v/cluster/self_test/cloudcheck.h
  tests/rptest/tests/self_test_test.py
Labels: area/redpanda, kind/backport

#26661 `storage`: add transactional batch utilities to storage layer & slightly rework compaction logic [SC&R #4]
  src/v/storage/compaction_reducers.cc
  src/v/storage/index_state.cc
  src/v/storage/index_state.h
  src/v/storage/segment.cc
  src/v/storage/segment_deduplication_utils.cc
  src/v/storage/segment_index.cc
  src/v/storage/segment_index.h
  src/v/storage/segment_utils.cc
  src/v/storage/segment_utils.h
Labels: area/redpanda

#26721 datalake: make iceberg_rest_catalog_aws_service_name non-optional
  src/v/config/configuration.h
  src/v/datalake/coordinator/coordinator.cc
  src/v/datalake/credential_manager.cc
Labels: area/redpanda

#26728 [v24.3.x] CORE-12753 c/self_check: fix list pagination handling
  src/v/cloud_io/remote.h
  src/v/cluster/self_test/cloudcheck.cc
  src/v/cluster/self_test/cloudcheck.h
  tests/rptest/tests/self_test_test.py
Labels: area/redpanda, kind/backport

#26732 [CORE-12756] `storage`: reset batch cache during adjacent merge compaction
  src/v/storage/segment_utils.cc
  src/v/storage/tests/compaction_e2e_test.cc
Labels: area/redpanda

#26740 [v25.1.x] `storage`: reset batch cache during adjacent merge compaction (MANUAL BACKPORT)
  src/v/storage/segment_utils.cc
Labels: area/redpanda

#26741 [v24.3.x] `storage`: reset batch cache during adjacent merge compaction (MANUAL BACKPORT)
  src/v/storage/segment_utils.cc
Labels: area/redpanda

#26641 [v25.1.x] [CORE-8392] http: Add shutdown connection error code
  src/v/cloud_io/remote.cc
Labels: area/redpanda, kind/backport

#26735 serde/json: top-level parsing follow-up
  src/v/serde/json/parser.cc
  src/v/serde/json/tests/BUILD
  src/v/serde/json/tests/json_checker_test.cc
  src/v/serde/json/tests/parser_test.cc
  src/v/serde/json/tests/testdata/samples/README.md
  src/v/serde/json/tests/testdata/samples/pass1.json
  src/v/serde/json/tests/testdata/samples/pass2.json
  src/v/serde/json/tests/testdata/samples/pass3.json
  src/v/serde/json/tests/testdata/samples/pass4.json
  src/v/serde/json/tests/testdata/samples/pass5.json
  src/v/serde/json/tests/testdata/samples/pass6.json
Labels: area/build, area/redpanda

#26726 Support API versions in Kafka client
  src/v/kafka/client/BUILD
  src/v/kafka/client/broker.cc
  src/v/kafka/client/broker.h
  src/v/kafka/client/brokers.cc
  src/v/kafka/client/brokers.h
  src/v/kafka/client/client.cc
  src/v/kafka/client/client.h
  src/v/kafka/client/cluster.cc
  src/v/kafka/client/cluster.h
  src/v/kafka/client/consumer.cc
  src/v/kafka/client/consumer.h
  src/v/kafka/client/producer.cc
  src/v/kafka/client/test/cluster_mock.cc
  src/v/kafka/client/test/cluster_mock.h
  src/v/kafka/client/test/cluster_test.cc
  src/v/kafka/client/test/cluster_test_with_mock.cc
  src/v/kafka/client/topic_cache.cc
  src/v/kafka/client/topic_cache.h
  src/v/kafka/client/utils.h
  src/v/model/fundamental.h
  src/v/model/model.cc
Labels: area/build, area/redpanda

#26756 Fixed oversized allocation in CPU profiler admin API endpoint
  src/v/redpanda/admin/api-doc/debug.json
  src/v/redpanda/admin/debug.cc
Labels: area/redpanda

#26730 rptest: additional iceberg json e2e tests
  src/v/datalake/record_schema_resolver.cc
  src/v/datalake/record_translator.cc
  src/v/iceberg/conversion/tests/iceberg_json_tests.cc
  src/v/iceberg/conversion/values_json.cc
  src/v/test_utils/test.h
  tests/rptest/tests/datalake/datalake_e2e_test.py
Labels: area/redpanda

#26697 bytes/iobuf_parser: Safe read truncated utf8
  src/v/bytes/iobuf_parser.h
  src/v/bytes/tests/BUILD
  src/v/bytes/tests/iobuf_parser_tests.cc
  src/v/cloud_storage/tests/BUILD
  src/v/cloud_storage/tests/anomalies_detector_test.cc
  src/v/strings/tests/BUILD
  src/v/strings/tests/utf8_substring.cc
  src/v/strings/utf8.h
Labels: area/build, area/redpanda

#26754 `rptest`: set `storage-gc` log level to `debug` in `random_node_operations_test`
  src/v/storage/disk_log_impl.cc
  tests/rptest/tests/random_node_operations_test.py
Labels: area/redpanda

#26748 test_utils: continue running tests after exceptions
  src/v/test_utils/gtest_main.cc
  src/v/test_utils/gtest_utils.cc
  src/v/test_utils/tests/gtest_listener_test.cc
Labels: area/redpanda

#26763 ct: add version to l1 objects
  src/v/cloud_topics/object_utils.cc
  src/v/cloud_topics/tests/object_utils_test.cc
Labels: area/redpanda

#26767 schema_registry: change acl op for `GET /subjects`
  src/v/pandaproxy/schema_registry/authorization.cc
  tests/rptest/tests/audit_log_test.py
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda

#26765 CORE-7664 c/cloudchecks: increase default timeout to 10s
  src/go/rpk/pkg/cli/cluster/selftest/start.go
  src/v/cluster/self_test_rpc_types.h
  tests/rptest/tests/self_test_test.py
Labels: area/rpk, area/redpanda

#26757 cs: Use configurable timeouts for downloads in remote seg/part
  src/v/cloud_storage/cache_service.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage_clients/client_pool.cc
  src/v/config/configuration.cc
Labels: area/redpanda

#26746 [v25.1.x] .gitignore: ignore bazel_cc_flags.json file
  .gitignore
Labels: kind/backport

#26780 [v25.1.x] cs: Use configurable timeouts for downloads in remote seg/part
  src/v/cloud_storage/cache_service.h
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage_clients/client_pool.cc
  src/v/config/configuration.cc
Labels: area/redpanda, kind/backport

#26776 [v25.1.x] CORE-7664 c/cloudchecks: increase default timeout to 10s
  src/go/rpk/pkg/cli/cluster/selftest/start.go
  src/v/cluster/self_test_rpc_types.h
  tests/rptest/tests/self_test_test.py
Labels: area/rpk, area/redpanda, kind/backport

#26764 wcr: skip creation of all internal topics
  src/v/cluster/cloud_metadata/cluster_recovery_backend.cc
  src/v/cluster/cluster_recovery_reconciler.cc
Labels: area/redpanda

#26773 iceberg: handle null json values
  src/v/iceberg/conversion/tests/iceberg_json_tests.cc
  src/v/iceberg/conversion/values_json.cc
Labels: area/redpanda

#26778 cluster/security_frontend: Minor bug fix
  src/v/cluster/security_frontend.cc
Labels: area/redpanda, area/security

#26787 cluster: do not enable tiered storage for consumer offsets
  src/v/cloud_storage/tests/BUILD
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cluster/archival/archival_metadata_stm.cc
  src/v/cluster/partition.cc
Labels: area/build, area/redpanda

#26783 [v25.1.x] cluster/security_frontend: Minor bug fix
  src/v/cluster/security_frontend.cc
Labels: area/redpanda, kind/backport

#26768 serde/json: zap leftover comment
  src/v/serde/json/parser.cc
Labels: area/redpanda

#26761 test_utils: refactor macro to avoid clang-tidy warns
  src/v/test_utils/test.h
Labels: area/redpanda

#26727 SR AuthZ: reduce set of valid acl ops
  src/v/kafka/server/handlers/details/security.h
  src/v/kafka/server/tests/metadata_test.cc
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/api/api-doc/schema_registry_definitions.def.json
  src/v/pandaproxy/schema_registry/requests/acls.cc
  src/v/security/acl.cc
  src/v/security/acl.h
  tests/rptest/tests/schema_registry_test.py
Labels: area/build, area/redpanda

#26785 [v24.3.x] cluster/security_frontend: Minor bug fix
  src/v/cluster/security_frontend.cc
Labels: area/redpanda, kind/backport

#26786 config: allow implicitly null for optional enum config
  src/v/config/property.h
  src/v/config/tests/enum_property_test.cc
Labels: area/redpanda

#26788 CORE-9669 cloud_metadata: add group offsets upload fallback
  src/v/cluster/cloud_metadata/uploader.cc
  tests/rptest/tests/consumer_group_recovery_test.py
Labels: area/redpanda

#26797 `storage`: fix constructor in `compaction_e2e_test.cc`
  src/v/storage/tests/compaction_e2e_test.cc
Labels: area/redpanda

#26789 cloud_storage: Use scheduling group in the read path
  src/v/cloud_io/io_resources.cc
  src/v/cloud_io/io_resources.h
  src/v/cloud_storage/async_manifest_view.cc
  src/v/cloud_storage/materialized_manifest_cache.cc
  src/v/cloud_storage/remote.h
  src/v/cloud_storage/remote_segment.cc
  src/v/redpanda/application.cc
Labels: area/redpanda

#26793 [v25.1.x] CORE-9669 cloud_metadata: add group offsets upload fallback
  src/v/cluster/cloud_metadata/uploader.cc
  tests/rptest/tests/consumer_group_recovery_test.py
Labels: area/redpanda, kind/backport

#26772 cluster/node_status_backend: transport memory leak
  src/v/cluster/node_status_backend.cc
  src/v/cluster/node_status_backend.h
Labels: area/redpanda

#26769 [v24.3.x] raft/heartbeat_manager: timeout memory leak fix
  src/v/raft/heartbeat_manager.cc
  src/v/raft/heartbeat_manager.h
Labels: area/redpanda, kind/backport

#26770 [v24.2.x] raft/heartbeat_manager: timeout memory leak fix
  src/v/raft/heartbeat_manager.cc
  src/v/raft/heartbeat_manager.h
Labels: area/redpanda, kind/backport

#26801 [v24.2.x] cluster/node_status_backend: transport memory leak
  src/v/cluster/node_status_backend.cc
  src/v/cluster/node_status_backend.h
Labels: area/redpanda, kind/backport

#26771 [v25.1.x] raft/heartbeat_manager: timeout memory leak fix
  src/v/raft/heartbeat_manager.cc
  src/v/raft/heartbeat_manager.h
Labels: area/redpanda, kind/backport

#26782 raft/buffered_protocol: fix race between GC and buffering appends
  src/v/raft/buffered_protocol.cc
  src/v/raft/buffered_protocol.h
  src/v/raft/tests/BUILD
  src/v/raft/tests/buffered_protocol_test.cc
Labels: area/build, area/redpanda

#26589 cloud_storage_clients/s3_client: Logging Upgrade
  src/v/cloud_storage_clients/BUILD
  src/v/cloud_storage_clients/s3_client.cc
  src/v/cloud_storage_clients/s3_error.cc
  src/v/cloud_storage_clients/s3_error.h
  src/v/cloud_storage_clients/tests/s3_client_test.cc
Labels: area/build, area/redpanda

#26755 `storage`: do not recover `segment`s with unordered offsets
  src/v/cluster/archival/tests/ntp_archiver_test.cc
  src/v/storage/log_manager.cc
  src/v/storage/segment_set.cc
  src/v/storage/segment_set.h
  src/v/storage/tests/BUILD
  src/v/storage/tests/compaction_e2e_test.cc
  src/v/storage/tests/segment_set_test.cc
Labels: area/build, area/redpanda

#26803 controller: Skip FPM truncation if TS is not enabled
  src/v/cluster/archival/archival_metadata_stm.cc
  src/v/cluster/archival/archival_metadata_stm.h
  src/v/cluster/controller_backend.cc
  tests/rptest/tests/node_pool_migration_test.py
Labels: area/redpanda

#26798 bazel: Update to libxml2 2.13 patch
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: area/build

#26817 [v24.2.x] [CORE-8805] dt/archival: Decrease manifest upload interval to avoid race
  tests/rptest/tests/archival_test.py
Labels: kind/backport

#26815 [v24.3.x] [CORE-8805] dt/archival: Decrease manifest upload interval to avoid race
  tests/rptest/tests/archival_test.py
Labels: kind/backport

#26818 [v25.1.x] controller: Skip FPM truncation if TS is not enabled
  src/v/cluster/archival/archival_metadata_stm.cc
  src/v/cluster/archival/archival_metadata_stm.h
  src/v/cluster/controller_backend.cc
  tests/rptest/tests/node_pool_migration_test.py
Labels: area/redpanda, kind/backport

#26805 [v25.1.x] raft/buffered_protocol: fix race between GC and buffering appends
  src/v/raft/buffered_protocol.cc
  src/v/raft/buffered_protocol.h
  src/v/raft/tests/BUILD
  src/v/raft/tests/buffered_protocol_test.cc
Labels: area/build, area/redpanda, kind/backport

#26709 Introduce RPK config list
  .gitignore
  src/go/rpk/pkg/cli/cluster/config/BUILD
  src/go/rpk/pkg/cli/cluster/config/config.go
  src/go/rpk/pkg/cli/cluster/config/list.go
  src/go/rpk/pkg/cli/cluster/config/list_test.go
  tests/rptest/clients/rpk.py
  tests/rptest/tests/cluster_config_test.py
Labels: area/rpk, area/build

#26692 [v25.1.x] storage: quiet logging when no tiered storage topics
  src/v/resource_mgmt/storage.cc
Labels: area/redpanda, kind/backport

#26811 cloud_storage: hold gate in remote
  src/v/cloud_io/tests/s3_imposter.h
  src/v/cloud_storage/remote.cc
  src/v/cloud_storage/remote.h
  src/v/cloud_storage/tests/remote_test.cc
Labels: area/redpanda

#26822 [v24.2.x] controller: Skip FPM truncation if TS is not enabled
  src/v/archival/archival_metadata_stm.cc
  src/v/archival/archival_metadata_stm.h
  src/v/cluster/controller_backend.cc
  tests/rptest/tests/node_pool_migration_test.py
Labels: area/redpanda, kind/backport

#26802 [v24.3.x] cluster/node_status_backend: transport memory leak
  src/v/cluster/node_status_backend.cc
  src/v/cluster/node_status_backend.h
Labels: area/redpanda, kind/backport

#26832 cloud_topics: downgrade error logs
  src/v/cloud_topics/batcher/batcher.cc
  src/v/cloud_topics/read_path/materialized_extent_reader.cc
Labels: area/redpanda

#26839 [v25.2.x] `storage`: use linear search in `lock_manager::range_lock(const timequery_config& cfg)`
  src/v/storage/lock_manager.cc
  src/v/storage/segment_set.cc
  src/v/storage/segment_set.h
  src/v/storage/tests/timequery_test.cc
Labels: area/redpanda, kind/backport

#26841 [v25.2.x] cloud_topics: downgrade error logs
  src/v/cloud_topics/batcher/batcher.cc
  src/v/cloud_topics/read_path/materialized_extent_reader.cc
Labels: area/redpanda, kind/backport

#26836 c/p_probe: Reconfigure metrics when scrubbing enabled/disabled
  src/v/cluster/partition_probe.cc
  src/v/cluster/partition_probe.h
  tests/rptest/tests/cloud_storage_scrubber_test.py
Labels: area/redpanda

#26834 iceberg/config: rename `iceberg_rest_catalog_aws_credentials_source`
  src/v/config/configuration.cc
Labels: area/redpanda

#26795 `storage`: add removed state tracking functions to `log` [SC&R #6]
  src/v/raft/tests/failure_injectable_log.cc
  src/v/raft/tests/failure_injectable_log.h
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/log.h
  src/v/storage/log_manager.cc
  src/v/storage/segment_deduplication_utils.cc
  src/v/storage/segment_deduplication_utils.h
  src/v/storage/segment_utils.cc
  src/v/storage/segment_utils.h
  src/v/storage/tests/compaction_e2e_test.cc
  src/v/storage/tests/segment_concatenation_test.cc
  src/v/storage/tests/segment_deduplication_test.cc
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

#26848 [v25.1.x] iceberg/config: rename `iceberg_rest_catalog_aws_credentials_source`
  src/v/config/configuration.cc
Labels: area/redpanda, kind/backport

#26847 [v25.2.x] iceberg/config: rename `iceberg_rest_catalog_aws_credentials_source`
  src/v/config/configuration.cc
Labels: area/redpanda, kind/backport

#26854 [v25.2.x] iceberg/config: validate REST endpoint configuration
  src/v/config/validators.cc
  src/v/config/validators.h
  src/v/redpanda/admin/server.cc
  tests/rptest/tests/cluster_config_test.py
Labels: area/redpanda, kind/backport

#26856 [v25.1.x] iceberg/config: validate REST endpoint configuration (MANUAL BACKPORT)
  src/v/config/validators.cc
  src/v/config/validators.h
  src/v/redpanda/admin/server.cc
  tests/rptest/tests/cluster_config_test.py
Labels: area/redpanda, kind/backport

#26749 ct: Reader and batch cache
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/batch_cache/BUILD
  src/v/cloud_topics/batch_cache/batch_cache.cc
  src/v/cloud_topics/batch_cache/batch_cache.h
  src/v/cloud_topics/batch_cache/tests/BUILD
  src/v/cloud_topics/batch_cache/tests/batch_cache_test.cc
  src/v/cloud_topics/batcher/tests/aggregator_test.cc
  src/v/cloud_topics/batcher/tests/batcher_test.cc
  src/v/cloud_topics/core/read_pipeline.cc
  src/v/cloud_topics/core/read_pipeline.h
  src/v/cloud_topics/core/read_request.cc
  src/v/cloud_topics/core/read_request.h
  src/v/cloud_topics/core/tests/event_filter_test.cc
  src/v/cloud_topics/core/tests/pipeline_bench.cc
  src/v/cloud_topics/core/tests/write_pipeline_test.cc
  src/v/cloud_topics/core/tests/write_request_test.cc
  src/v/cloud_topics/core/write_pipeline.cc
  src/v/cloud_topics/core/write_pipeline.h
  src/v/cloud_topics/core/write_request.cc
  src/v/cloud_topics/core/write_request.h
  src/v/cloud_topics/data_plane_api.h
  src/v/cloud_topics/data_plane_impl.cc
  src/v/cloud_topics/data_plane_impl.h
  src/v/cloud_topics/read_path/fetch_request_handler.cc
  src/v/cloud_topics/read_path/tests/fetch_handler_test.cc
  src/v/cloud_topics/throttler/tests/throttler_test.cc
  src/v/cluster/partition.cc
  src/v/cluster/rm_stm.cc
  src/v/cluster/types.h
  src/v/kafka/data/BUILD
  src/v/kafka/data/cloud_topic_partition.cc
  src/v/kafka/data/cloud_topic_partition.h
  src/v/kafka/data/cloud_topic_partition_reader.cc
  src/v/kafka/data/cloud_topic_partition_reader.h
  src/v/raft/replicate.h
  src/v/raft/replicate_batcher.cc
  src/v/raft/replicate_entries_stm.cc
  src/v/redpanda/application.cc
  src/v/storage/BUILD
  src/v/storage/log_manager.h
Labels: area/build, area/redpanda

#26850 [v25.1.x] [UX-312] rpk: bump franz-go to v1.19.5
  src/go/rpk/go.mod
  src/go/rpk/go.sum
Labels: area/rpk, kind/backport

#26864 ct/l1: couple small tweaks
  src/v/cloud_topics/level_one/BUILD
  src/v/cloud_topics/level_one/metastore.h
  src/v/cloud_topics/level_one/simple_metastore.cc
Labels: area/build, area/redpanda

#26868 Minor fixes in `pbgen`
  bazel/pbgen/main.go
Labels: area/build

#26833 `storage`: reduce `segment` count in lease for timequeries
  src/v/storage/lock_manager.cc
Labels: area/redpanda

#26869 pbgen: close output stream
  bazel/pbgen/main.go
Labels: area/build

#26876 [v25.2.x] `storage`: reduce `segment` count in lease for timequeries
  src/v/storage/lock_manager.cc
Labels: area/redpanda, kind/backport

#26881 [v25.2.x] [CORE-6875] `cloud_storage`: fall back to main manifest search in `async_manifest_view::get_term_last_offset()`
  src/v/cloud_storage/async_manifest_view.cc
  src/v/cloud_storage/tests/async_manifest_view_test.cc
Labels: area/redpanda, kind/backport

#26855 [UX-254] rpk container: bump console version to 3.0
  src/go/rpk/pkg/cli/container/common/common.go
  src/go/rpk/pkg/cli/container/start.go
Labels: area/rpk

#26887 [v25.2.x] [UX-254] rpk container: bump console version to 3.0
  src/go/rpk/pkg/cli/container/common/common.go
  src/go/rpk/pkg/cli/container/start.go
Labels: area/rpk, kind/backport

#26889 archival: treat purge key_not_found error as success
  src/v/cluster/archival/purger.cc
Labels: area/redpanda

#26893 [v25.2.x] [CORE-12697] Implement support for license format v1
  src/v/features/feature_table.cc
  src/v/redpanda/admin/api-doc/features.json
  src/v/redpanda/admin/server.cc
  src/v/security/license.cc
  src/v/security/license.h
  src/v/security/tests/license_test.cc
  tests/rptest/services/admin.py
  tests/rptest/tests/cluster_features_test.py
  tests/rptest/tests/license_upgrade_test.py
  tests/rptest/utils/rpenv.py
Labels: area/redpanda, kind/backport

#26886 [v24.3.x] [UX-254] rpk container: bump console version to 3.0
  src/go/rpk/pkg/cli/container/common/common.go
  src/go/rpk/pkg/cli/container/start.go
Labels: area/rpk, kind/backport

#26894 archival: abort mutex wait if adjacent segment merger is being stopped
  src/v/cluster/archival/adjacent_segment_merger.cc
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/ntp_archiver_service.h
Labels: area/redpanda

#26898 `storage`: deflake `compaction_e2e_test`
  src/v/storage/tests/compaction_e2e_test.cc
Labels: area/redpanda

#26900 [v25.2.x] dt: Enable Topic Id Migration Tests
  tests/rptest/scale_tests/topic_id_migration_test.py
  tests/rptest/tests/topic_id_migrator_test.py
Labels: kind/backport

#26901 c/a/test: Check that term doesn't change across sync call
  src/v/cluster/archival/tests/archival_metadata_stm_gtest.cc
Labels: area/redpanda

#26794 [v24.3.x] CORE-9669 cloud_metadata: add group offsets upload fallback
  src/v/cluster/cloud_metadata/uploader.cc
  tests/rptest/tests/consumer_group_recovery_test.py
Labels: area/redpanda, kind/backport

#26911 kafka/server: Enable fetch_test
  src/v/kafka/server/tests/BUILD
Labels: area/build, area/redpanda

#26845 [v25.2.x] c/p_probe: Reconfigure metrics when scrubbing enabled/disabled
  src/v/cluster/partition_probe.cc
  src/v/cluster/partition_probe.h
  tests/rptest/tests/cloud_storage_scrubber_test.py
Labels: area/redpanda, kind/backport

#26913 [v25.2.x] kafka/server: Enable fetch_test
  src/v/kafka/server/tests/BUILD
Labels: area/build, area/redpanda, kind/backport

#26909 pp/reply: handle sleep_aborted exception
  src/v/pandaproxy/reply.h
Labels: area/redpanda

#26825 [v25.1.x] Introduce RPK config list
  .gitignore
  src/go/rpk/pkg/cli/cluster/config/BUILD
  src/go/rpk/pkg/cli/cluster/config/config.go
  src/go/rpk/pkg/cli/cluster/config/list.go
  src/go/rpk/pkg/cli/cluster/config/list_test.go
  tests/rptest/clients/rpk.py
  tests/rptest/tests/cluster_config_test.py
Labels: area/rpk, area/build, kind/backport

#26927 [v25.2.x] ts: Use scheduling group to do disk I/O
  src/v/cloud_storage/remote_segment.cc
  src/v/cloud_storage/remote_segment.h
Labels: area/redpanda, kind/backport

#26905 [v25.2.x] thirdparty: update seastar to 0aed36eee620e
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: area/build, kind/backport

#26922 [v25.2.x] Fixes RandomNodeOpeartions decommission stopped making progress test
  tests/rptest/tests/random_node_operations_test.py
Labels: kind/backport

#26931 [v25.2.x] Introduce RPK config list
  .gitignore
  src/go/rpk/pkg/cli/cluster/config/BUILD
  src/go/rpk/pkg/cli/cluster/config/config.go
  src/go/rpk/pkg/cli/cluster/config/list.go
  src/go/rpk/pkg/cli/cluster/config/list_test.go
  tests/rptest/clients/rpk.py
  tests/rptest/tests/cluster_config_test.py
Labels: area/rpk, area/build, kind/backport

#26936 [v25.2.x] tests/docker: update addr2line SHA
  tests/docker/ducktape-deps/addr2line
Labels: kind/backport

#26937 [25.2.x] bazel: Update seastar
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: area/build

#26381 utils: Tracing using the retry-chain-node
  src/v/cluster/BUILD
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/ntp_archiver_service.h
  src/v/utils/BUILD
  src/v/utils/execution_monitor.h
  src/v/utils/retry_chain_node.cc
  src/v/utils/retry_chain_node.h
  src/v/utils/tests/BUILD
  src/v/utils/tests/execution_monitor_test.cc
  src/v/utils/tests/retry_chain_node_test.cc
Labels: area/build, area/redpanda

#26939 k/s: Fix race condition in auto-create topic metadata handling
  src/v/kafka/server/handlers/metadata.cc
Labels: area/redpanda

#26935 [v25.1.x] rptest: remove test_create_or_delete_topics_while_busy
  tests/rptest/tests/e2e_shadow_indexing_test.py
Labels: kind/backport

#26940 base: remove vformat.h
  src/v/base/BUILD
  src/v/base/vformat.h
  src/v/cluster/leader_router.h
Labels: area/build, area/redpanda

#26942 [v24.3.x] k/s: Fix race condition in auto-create topic metadata handling
  src/v/kafka/server/handlers/metadata.cc
Labels: area/redpanda, kind/backport

#26747 Fix typo
  src/v/cluster/errc.h
Labels: area/redpanda

#26934 [v24.2.x] rptest: remove test_create_or_delete_topics_while_busy
  tests/rptest/tests/e2e_shadow_indexing_test.py
Labels: kind/backport

#26957 [v25.2.x] dt: Handle a timeout in TopicIDUpgradeTest.test_topic_id_migration
  tests/rptest/tests/topic_id_migrator_test.py
Labels: kind/backport

#26958 kc/cluster: skip listing topics when initializing cluster metadata
  src/v/kafka/client/cluster.cc
Labels: area/redpanda

#26949 bazel: upgrade to clang-20
  .bazelrc
  .clang-tidy
  MODULE.bazel
  MODULE.bazel.lock
  bazel/toolchain/Dockerfile.llvm
  src/v/cloud_storage/tests/remote_test.cc
  src/v/cluster/cloud_metadata/offsets_recovery_manager.h
  src/v/cluster/cloud_metadata/tests/uploader_test.cc
  src/v/cluster/cluster_link/frontend.h
  src/v/cluster/controller.cc
  src/v/cluster/shard_placement_table.cc
  src/v/datalake/coordinator/catalog_factory.cc
  src/v/datalake/coordinator/coordinator_manager.cc
  src/v/datalake/coordinator/coordinator_manager.h
  src/v/iceberg/rest_catalog.cc
  src/v/iceberg/rest_catalog.h
  src/v/iceberg/tests/rest_catalog_test.cc
  src/v/kafka/client/test/describe_topics.cc
  src/v/pandaproxy/rest/proxy.cc
  src/v/pandaproxy/rest/proxy.h
  src/v/raft/tests/basic_raft_fixture_test.cc
  src/v/redpanda/application.cc
  src/v/resource_mgmt/tests/cpu_profiler_test.cc
  tools/BUILD
Labels: area/build, area/redpanda, area/wasm

#26863 ct/l1: add compaction metadata
  src/v/cloud_topics/level_one/BUILD
  src/v/cloud_topics/level_one/metastore/BUILD
  src/v/cloud_topics/level_one/metastore/metastore.h
  src/v/cloud_topics/level_one/metastore/simple_metastore.cc
  src/v/cloud_topics/level_one/metastore/simple_metastore.h
  src/v/cloud_topics/level_one/metastore/state.cc
  src/v/cloud_topics/level_one/metastore/state.h
  src/v/cloud_topics/level_one/metastore/state_update.cc
  src/v/cloud_topics/level_one/metastore/state_update.h
  src/v/cloud_topics/level_one/metastore/tests/simple_metastore_test.cc
  src/v/cloud_topics/level_one/metastore/tests/state_test.cc
  src/v/cloud_topics/level_one/metastore/tests/state_update_test.cc
Labels: area/build, area/redpanda

#26966 csc/client_pool: Log client lease expiration at WARN
  src/v/cloud_storage_clients/client_pool.cc
Labels: area/redpanda

#26969 Allow retries in ntp_archiver::upload_segment and upload_index
  src/v/cluster/archival/ntp_archiver_service.cc
Labels: area/redpanda

#26973 [v25.2.x] csc/client_pool: Log client lease expiration at WARN
  src/v/cloud_storage_clients/client_pool.cc
Labels: area/redpanda, kind/backport

#26977 [v25.2.x] Allow retries in ntp_archiver::upload_segment and upload_index
  src/v/cluster/archival/ntp_archiver_service.cc
Labels: area/redpanda, kind/backport

#26959 Fix logging in case if compacted reupload has to reupload last segment with a single batch
  src/v/cluster/archival/segment_reupload.cc
Labels: area/redpanda

#26978 [v25.2.x] Fix logging in case if compacted reupload has to reupload last segment with a single batch
  src/v/cluster/archival/segment_reupload.cc
Labels: area/redpanda, kind/backport

#26897 [CORE-12853] update java kafka client for e2e verifier
  tests/java/e2e-verifiers/pom.xml
Labels: area/redpanda

#26982 cloud_topics: level zero restructure
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/core/BUILD
  src/v/cloud_topics/data_plane_impl.cc
  src/v/cloud_topics/level_one/common/BUILD
  src/v/cloud_topics/level_zero/BUILD
  src/v/cloud_topics/level_zero/batcher/BUILD
  src/v/cloud_topics/level_zero/batcher/aggregator.cc
  src/v/cloud_topics/level_zero/batcher/aggregator.h
  src/v/cloud_topics/level_zero/batcher/batcher.cc
  src/v/cloud_topics/level_zero/batcher/batcher.h
  src/v/cloud_topics/level_zero/batcher/tests/BUILD
  src/v/cloud_topics/level_zero/batcher/tests/aggregator_test.cc
  src/v/cloud_topics/level_zero/batcher/tests/batcher_test.cc
  src/v/cloud_topics/level_zero/batcher/tests/remote_mock.h
  src/v/cloud_topics/level_zero/reconciler/BUILD
  src/v/cloud_topics/level_zero/reconciler/range_batch_consumer.cc
  src/v/cloud_topics/level_zero/reconciler/range_batch_consumer.h
  src/v/cloud_topics/level_zero/reconciler/reconciler.cc
  src/v/cloud_topics/level_zero/reconciler/reconciler.h
  src/v/cloud_topics/level_zero/reconciler/tests/BUILD
  src/v/cloud_topics/level_zero/reconciler/tests/range_batch_consumer_test.cc
  src/v/cloud_topics/level_zero/stm/BUILD
  src/v/cloud_topics/level_zero/stm/ctp_stm.cc
  src/v/cloud_topics/level_zero/stm/ctp_stm.h
  src/v/cloud_topics/level_zero/stm/ctp_stm_api.cc
  src/v/cloud_topics/level_zero/stm/ctp_stm_api.h
  src/v/cloud_topics/level_zero/stm/ctp_stm_commands.h
  src/v/cloud_topics/level_zero/stm/ctp_stm_factory.cc
  src/v/cloud_topics/level_zero/stm/ctp_stm_factory.h
  src/v/cloud_topics/level_zero/stm/ctp_stm_offsets.h
  src/v/cloud_topics/level_zero/stm/ctp_stm_state.cc
  src/v/cloud_topics/level_zero/stm/ctp_stm_state.h
  src/v/cloud_topics/level_zero/stm/tests/BUILD
  src/v/cloud_topics/level_zero/stm/tests/ctp_stm_state_test.cc
  src/v/cloud_topics/level_zero/stm/tests/ctp_stm_test.cc
  src/v/cluster/BUILD
  src/v/cluster/partition.cc
  src/v/redpanda/BUILD
  src/v/redpanda/application.cc
Labels: area/build, area/redpanda

#26983 [v25.2.x] rpk: miscelaneous improvements for 25.2
  src/go/rpk/.golangci.yml
  src/go/rpk/Makefile
  src/go/rpk/pkg/cli/cloud/mcp/mcp.go
  src/go/rpk/pkg/cli/cluster/config/reset.go
  src/go/rpk/pkg/cli/group/offset_delete.go
  src/go/rpk/pkg/cli/profile/BUILD
  src/go/rpk/pkg/cli/profile/create.go
  src/go/rpk/pkg/cli/profile/create_test.go
  src/go/rpk/pkg/cli/redpanda/start.go
  src/go/rpk/pkg/cli/redpanda/start_test.go
  src/go/rpk/pkg/cli/security/acl/list.go
  src/go/rpk/pkg/cli/transform/init.go
  src/go/rpk/pkg/cloud/providers.go
  src/go/rpk/pkg/cloud/providers_test.go
  src/go/rpk/pkg/redpanda/launcher.go
  src/go/rpk/pkg/redpanda/paths.go
  src/go/rpk/pkg/system/filesystem/fs_darwin.go
  src/go/rpk/pkg/system/grub.go
  src/go/rpk/pkg/system/memory_darwin.go
  src/go/rpk/pkg/system/runtime_options.go
  src/go/rpk/pkg/tuners/cpu/tuner.go
  src/go/rpk/pkg/tuners/disk/block_device.go
  src/go/rpk/pkg/tuners/disk/block_devices.go
  src/go/rpk/pkg/tuners/disk_scheduler_tuner.go
  src/go/rpk/pkg/tuners/iotune/data.go
  src/go/rpk/pkg/tuners/iotune/io_tune.go
  src/go/rpk/pkg/tuners/irq/balance_service.go
  src/go/rpk/pkg/tuners/irq/cpu_masks.go
  src/go/rpk/pkg/tuners/network/nics.go
  src/go/rpk/pkg/tuners/thp.go
  src/go/rpk/pkg/tuners/thp_test.go
  tests/rptest/tests/rpk_acl_test.py
Labels: area/rpk, area/build, kind/backport

#26985 cloud_metadata: fix upload_in_term test
  src/v/cluster/cloud_metadata/tests/uploader_test.cc
Labels: area/redpanda

#26997 c/a: Re-foreground segment uploads
  src/v/cluster/archival/ntp_archiver_service.cc
Labels: area/redpanda

#26998 [v25.2.x] c/a: Re-foreground segment uploads
  src/v/cluster/archival/ntp_archiver_service.cc
Labels: area/redpanda, kind/backport

#26999 bazel: upgrade clang tidy
  .bazelrc
  MODULE.bazel
Labels: area/build

#26952 redpanda: added missing logging for redpanda application shutdown
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
Labels: area/redpanda

#26790 `raft`: add `remake_learner_state` to `consensus` protocol [SC&R #5]
  src/v/cluster/cluster_utils.cc
  src/v/cluster/controller.cc
  src/v/cluster/controller.h
  src/v/cluster/controller_api.cc
  src/v/cluster/controller_api.h
  src/v/cluster/tests/remake_partition_tests.cc
  src/v/kafka/server/group.cc
  src/v/raft/buffered_protocol.cc
  src/v/raft/buffered_protocol.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/consensus_client_protocol.h
  src/v/raft/errc.h
  src/v/raft/group_manager.cc
  src/v/raft/group_manager.h
  src/v/raft/probe.cc
  src/v/raft/probe.h
  src/v/raft/raftgen.json
  src/v/raft/rpc_client_protocol.cc
  src/v/raft/rpc_client_protocol.h
  src/v/raft/service.h
  src/v/raft/tests/buffered_protocol_test.cc
  src/v/raft/tests/raft_fixture.cc
  src/v/raft/tests/raft_fixture.h
  src/v/raft/tests/state_removal_test.cc
  src/v/raft/types.h
Labels: area/build, area/redpanda

#26992 task_manager_integration_test: mark as flaky
  src/v/cluster_link/tests/BUILD
Labels: area/build, area/redpanda

#26971 [CORE-12861] rpc: use a fragmented container for correlation tracking
  src/v/rpc/BUILD
  src/v/rpc/transport.h
Labels: area/build, area/redpanda
