Repository redpanda-data/redpanda, pull requests merged in 2025-04, with the labels that each got.

#25643 [v25.1.x] http/client: 3-args ctor to use default max_idle_time=1s
  src/v/http/client.cc
  src/v/http/client.h
Labels: area/redpanda, kind/backport

#25666 [v25.1.x] CORE-9185 k/server/conn_ctx: prevent out of order responses
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/connection_context.h
Labels: area/redpanda, kind/backport

#25660 [v25.1.x] r/consensus: adjust learner initial offset to batch boundary
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/tests/failure_injectable_log.cc
  src/v/raft/tests/failure_injectable_log.h
  src/v/raft/tests/raft_reconfiguration_test.cc
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/log.h
Labels: area/redpanda, kind/backport

#25658 [v25.1.x] Pre-restart probe tests
  src/v/cluster/tests/health_bench.cc
  src/v/cluster/tests/health_monitor_bench.cc
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/redpanda/admin/api-doc/debug.json
  src/v/redpanda/admin/partition.cc
  src/v/redpanda/admin/server.h
  tests/rptest/services/admin.py
  tests/rptest/tests/node_restart_probe_test.py
Labels: area/redpanda, kind/backport

#25668 `iceberg`: fix compatibility for schemas with `map` type
  src/v/datalake/BUILD
  src/v/datalake/record_translator.cc
  tests/rptest/tests/datalake/datalake_e2e_test.py
Labels: area/build, area/redpanda

#25664 [v24.3.x] CORE-9185 k/server/conn_ctx: prevent out of order responses
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/connection_context.h
Labels: area/redpanda, kind/backport

#25665 [v24.2.x] CORE-9185 k/server/conn_ctx: prevent out of order responses
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/connection_context.h
Labels: area/redpanda, kind/backport

#25634 Backlog calculation improvements
  src/v/datalake/translation/deps.cc
  src/v/datalake/translation/deps.h
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/state_machine.h
  src/v/datalake/translation/tests/partition_translator_tests.cc
  tests/rptest/tests/datalake/throttling_test.py
Labels: area/redpanda

#25669 [v25.1.x] `iceberg`: fix compatibility for schemas with `map` type
  src/v/datalake/BUILD
  src/v/datalake/record_translator.cc
  tests/rptest/tests/datalake/datalake_e2e_test.py
Labels: area/build, area/redpanda, kind/backport

#25560 [v25.1.x] Conservative validation in `kafka::group`
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_recovery_consumer.cc
  src/v/kafka/server/group_stm.cc
  src/v/kafka/server/group_stm.h
  src/v/kafka/server/tests/consumer_group_recovery_test.cc
Labels: area/redpanda, kind/backport

#25671 dev_cluster: add missing bazel deps
  MODULE.bazel.lock
  bazel/thirdparty/requirements.txt
  tools/BUILD
Labels: area/build

#25633 CORE-9679 [v24.2.x] CORE-8555 k/quota_mgr: take now parameter explicitly
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/handlers/create_partitions.cc
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/quota_manager.cc
  src/v/kafka/server/quota_manager.h
  src/v/kafka/server/server.cc
  src/v/kafka/server/tests/quota_manager_bench.cc
  src/v/kafka/server/tests/quota_manager_test.cc
Labels: area/redpanda, kind/backport

#25645 rpk container: tag and error improvements
  src/go/rpk/pkg/cli/container/common/common.go
  src/go/rpk/pkg/cli/container/start.go
Labels: area/rpk

#25667 rpk: move `cloud secrets` -> `secret`
  src/go/rpk/pkg/cli/cloud/BUILD
  src/go/rpk/pkg/cli/cloud/cloud.go
  src/go/rpk/pkg/cli/cloud/security/BUILD
  src/go/rpk/pkg/cli/cloud/security/security.go
  src/go/rpk/pkg/cli/security/BUILD
  src/go/rpk/pkg/cli/security/secret/BUILD
  src/go/rpk/pkg/cli/security/secret/create.go
  src/go/rpk/pkg/cli/security/secret/delete.go
  src/go/rpk/pkg/cli/security/secret/list.go
  src/go/rpk/pkg/cli/security/secret/secret.go
  src/go/rpk/pkg/cli/security/secret/secret_test.go
  src/go/rpk/pkg/cli/security/secret/update.go
  src/go/rpk/pkg/cli/security/security.go
Labels: area/rpk, area/build

#25616 Improve control character messaging
  src/v/kafka/server/protocol_utils.cc
  src/v/net/BUILD
  src/v/net/connection.cc
  src/v/net/connection.h
  src/v/net/server.cc
  src/v/pandaproxy/parsing/exceptions.h
  src/v/pandaproxy/rest/handlers.cc
  src/v/redpanda/admin/security.cc
  src/v/redpanda/admin/server.cc
  src/v/redpanda/admin/server.h
  src/v/strings/utf8.h
  tests/rptest/tests/log_level_test.py
  tests/rptest/tests/pandaproxy_test.py
  tests/rptest/tests/scram_test.py
Labels: area/build, area/redpanda

#25677 [v25.1.x] rpk container: tag and error improvements
  src/go/rpk/pkg/cli/container/common/common.go
  src/go/rpk/pkg/cli/container/start.go
Labels: area/rpk, kind/backport

#25675 [v24.3.x] rpk container: tag and error improvements
  src/go/rpk/pkg/cli/container/common/common.go
  src/go/rpk/pkg/cli/container/start.go
Labels: area/rpk, kind/backport

#25676 [v24.2.x] rpk container: tag and error improvements
  src/go/rpk/pkg/cli/container/common/common.go
  src/go/rpk/pkg/cli/container/start.go
Labels: area/rpk, kind/backport

#25679 [v24.3.x] Improve control character messaging
  src/v/kafka/server/protocol_utils.cc
  src/v/net/BUILD
  src/v/net/connection.cc
  src/v/net/connection.h
  src/v/net/server.cc
  src/v/pandaproxy/parsing/exceptions.h
  src/v/pandaproxy/rest/handlers.cc
  src/v/redpanda/admin/security.cc
  src/v/redpanda/admin/server.cc
  src/v/redpanda/admin/server.h
  src/v/strings/utf8.h
  tests/rptest/tests/log_level_test.py
  tests/rptest/tests/pandaproxy_test.py
  tests/rptest/tests/scram_test.py
Labels: area/build, area/redpanda, kind/backport

#25678 [v25.1.x] Improve control character messaging
  src/v/kafka/server/protocol_utils.cc
  src/v/net/BUILD
  src/v/net/connection.cc
  src/v/net/connection.h
  src/v/net/server.cc
  src/v/pandaproxy/parsing/exceptions.h
  src/v/pandaproxy/rest/handlers.cc
  src/v/redpanda/admin/security.cc
  src/v/redpanda/admin/server.cc
  src/v/redpanda/admin/server.h
  src/v/strings/utf8.h
  tests/rptest/tests/log_level_test.py
  tests/rptest/tests/pandaproxy_test.py
  tests/rptest/tests/scram_test.py
Labels: area/build, area/redpanda, kind/backport

#25687 iceberg: fix protobuf timestamps
  src/v/datalake/BUILD
  src/v/datalake/schema_protobuf.cc
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/datalake_protobuf_tests.cc
  src/v/datalake/tests/testdata/complex.proto
  src/v/datalake/values_protobuf.cc
Labels: area/build, area/redpanda

#25685 `config`: reduce `min_cleanable_dirty_ratio` default
  src/v/config/configuration.cc
  tests/rptest/tests/describe_topics_test.py
Labels: area/redpanda

#25618 datalake: add scratch space usage limit
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/datalake/datalake_manager.cc
  src/v/datalake/datalake_manager.h
  src/v/datalake/translation/BUILD
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
  src/v/datalake/translation/scheduling.cc
  src/v/datalake/translation/scheduling.h
  src/v/datalake/translation/scheduling_policies.cc
  src/v/datalake/translation/scheduling_policies.h
  src/v/resource_mgmt/storage.cc
  src/v/resource_mgmt/storage.h
  tests/rptest/services/redpanda.py
  tests/rptest/tests/datalake/disk_budget_test.py
Labels: area/build, area/redpanda

#25689 [v25.1.x] `rptest`: add more basic `avro` schema test cases to `datalake`
  tests/rptest/tests/datalake/datalake_e2e_test.py
Labels: kind/backport

#25688 [v25.1.x] iceberg: fix protobuf timestamps
  src/v/datalake/BUILD
  src/v/datalake/schema_protobuf.cc
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/datalake_protobuf_tests.cc
  src/v/datalake/tests/testdata/complex.proto
  src/v/datalake/values_protobuf.cc
Labels: area/build, area/redpanda, kind/backport

#25690 [v25.1.x] `config`: reduce `min_cleanable_dirty_ratio` default
  src/v/config/configuration.cc
  tests/rptest/tests/describe_topics_test.py
Labels: area/redpanda, kind/backport

#25691 datalake: s/value_subject_latest/value_schema_latest
  src/v/cluster/metrics_reporter.cc
  src/v/compat/model_json.h
  src/v/datalake/datalake_manager.cc
  src/v/kafka/server/tests/alter_config_test.cc
  src/v/model/metadata.h
  src/v/model/model.cc
  tests/rptest/tests/datalake/datalake_e2e_test.py
Labels: area/redpanda

#25672 Datalake Controller/Throttling improvements
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/datalake/backlog_controller.cc
  src/v/datalake/backlog_controller.h
  src/v/datalake/datalake_manager.cc
  src/v/datalake/datalake_manager.h
  src/v/kafka/server/BUILD
  src/v/kafka/server/datalake_throttle_manager.cc
  src/v/kafka/server/datalake_throttle_manager.h
  src/v/kafka/server/tests/datalake_throttle_manager_test.cc
  src/v/redpanda/application.cc
  tests/rptest/tests/datalake/throttling_test.py
Labels: area/build, area/redpanda

#25694 [v25.1.x] datalake: s/value_subject_latest/value_schema_latest
  src/v/cluster/metrics_reporter.cc
  src/v/compat/model_json.h
  src/v/datalake/datalake_manager.cc
  src/v/kafka/server/tests/alter_config_test.cc
  src/v/model/metadata.h
  src/v/model/model.cc
  tests/rptest/tests/datalake/datalake_e2e_test.py
Labels: area/redpanda, kind/backport

#25692 [v25.1.x] datalake: add scratch space usage limit
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/datalake/datalake_manager.cc
  src/v/datalake/datalake_manager.h
  src/v/datalake/translation/BUILD
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
  src/v/datalake/translation/scheduling.cc
  src/v/datalake/translation/scheduling.h
  src/v/datalake/translation/scheduling_policies.cc
  src/v/datalake/translation/scheduling_policies.h
  src/v/resource_mgmt/storage.cc
  src/v/resource_mgmt/storage.h
  tests/rptest/services/redpanda.py
  tests/rptest/tests/datalake/disk_budget_test.py
Labels: area/build, area/redpanda, kind/backport

#25695 [v25.1.x] Datalake Controller/Throttling improvements
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/datalake/backlog_controller.cc
  src/v/datalake/backlog_controller.h
  src/v/datalake/datalake_manager.cc
  src/v/datalake/datalake_manager.h
  src/v/kafka/server/BUILD
  src/v/kafka/server/datalake_throttle_manager.cc
  src/v/kafka/server/datalake_throttle_manager.h
  src/v/kafka/server/tests/datalake_throttle_manager_test.cc
  src/v/redpanda/application.cc
  tests/rptest/tests/datalake/throttling_test.py
Labels: area/build, area/redpanda, kind/backport

#25251 [v24.2.x] rptest: fix rpk error Bearer token is invalid
  tests/rp_cloud_cleanup.py
  tests/rptest/services/cloud_cluster_utils.py
  tests/rptest/services/redpanda_cloud.py
Labels: kind/backport

#25696 datalake: do not log each file name to avoid large allocs
  src/v/datalake/translation_task.cc
Labels: area/redpanda

#25699 [v25.1.x] Manual backport of `rpk security secrets`
  src/go/rpk/pkg/cli/security/BUILD
  src/go/rpk/pkg/cli/security/secret/BUILD
  src/go/rpk/pkg/cli/security/secret/create.go
  src/go/rpk/pkg/cli/security/secret/delete.go
  src/go/rpk/pkg/cli/security/secret/list.go
  src/go/rpk/pkg/cli/security/secret/secret.go
  src/go/rpk/pkg/cli/security/secret/secret_test.go
  src/go/rpk/pkg/cli/security/secret/update.go
  src/go/rpk/pkg/cli/security/security.go
  src/go/rpk/pkg/publicapi/dataplane.go
Labels: area/rpk, area/build

#25540 `iobuf::append` improvements part 2
  src/v/bytes/iobuf.h
  src/v/bytes/tests/iobuf_tests.cc
Labels: area/redpanda

#25701 [v25.1.x] datalake: do not log each file name to avoid large allocs
  src/v/datalake/translation_task.cc
Labels: area/redpanda, kind/backport

#25703 [v25.1.x] `iobuf::append` improvements part 2
  src/v/bytes/iobuf.h
  src/v/bytes/tests/iobuf_tests.cc
Labels: area/redpanda, kind/backport

#25705 [v25.1.x] rptest: fix property name typo
  tests/rptest/services/catalog_service.py
Labels: kind/backport

#25706 [v25.1.x] `rptest`: basic `avro` schema generation and `iceberg` testing
  tests/rptest/tests/datalake/schema_scale_test.py
  tests/rptest/tests/datalake/schemas/data_type_generator.py
  tests/rptest/tests/datalake/schemas/data_types.py
  tests/rptest/tests/datalake/schemas/schema_generator.py
Labels: kind/backport

#25470 rpk: Add guardrails for Tiered Storage properties
  src/go/rpk/pkg/cli/cluster/config/set.go
  src/go/rpk/pkg/cli/topic/config.go
  tests/rptest/clients/rpk.py
Labels: area/rpk

#25197 rpk: print how leaders and replicas are distributed across brokers
  src/go/rpk/pkg/cli/cluster/partitions/BUILD
  src/go/rpk/pkg/cli/cluster/partitions/list.go
  src/go/rpk/pkg/cli/cluster/partitions/status.go
  src/go/rpk/pkg/cli/cluster/partitions/util.go
Labels: area/rpk, area/build

#25707 [v25.1.x] rpk: Add guardrails for Tiered Storage properties
  src/go/rpk/pkg/cli/cluster/config/set.go
  src/go/rpk/pkg/cli/topic/config.go
  tests/rptest/clients/rpk.py
Labels: area/rpk, kind/backport

#25708 [v25.1.x] rpk: print how leaders and replicas are distributed across brokers
  src/go/rpk/pkg/cli/cluster/partitions/BUILD
  src/go/rpk/pkg/cli/cluster/partitions/list.go
  src/go/rpk/pkg/cli/cluster/partitions/status.go
  src/go/rpk/pkg/cli/cluster/partitions/util.go
Labels: area/rpk, area/build, kind/backport

#25709 pandaproxy/sr: Fix logging where id was printed instead of version
  src/v/pandaproxy/schema_registry/sharded_store.cc
Labels: area/redpanda

#25715 [v25.1.x] rptest: ensure there are query engines available
  tests/rptest/perf/openmessaging_perf_test.py
  tests/rptest/perf/small_batches_test.py
  tests/rptest/perf/ts_read_openmessaging_test.py
  tests/rptest/perf/ts_write_openmessaging_test.py
  tests/rptest/redpanda_cloud_tests/high_throughput_test.py
  tests/rptest/redpanda_cloud_tests/omb_validation_test.py
  tests/rptest/scale_tests/many_partitions_test.py
  tests/rptest/scale_tests/shard_placement_scale_test.py
  tests/rptest/services/openmessaging_benchmark.py
  tests/rptest/tests/datalake/datalake_omb_test.py
  tests/rptest/tests/datalake/datalake_services.py
  tests/rptest/tests/services_self_test.py
Labels: kind/backport

#25698 CORE-8496 k/server: improve full disk produce error response
  src/v/kafka/protocol/produce.h
  src/v/kafka/server/handlers/produce.cc
  tests/rptest/tests/compatibility/java_compression_test.py
  tests/rptest/tests/full_disk_test.py
  tests/setup.py
Labels: area/redpanda

#25712 [v24.2.x] pandaproxy/sr: Fix logging where id was printed instead of version
  src/v/pandaproxy/schema_registry/sharded_store.cc
Labels: area/redpanda, kind/backport

#25711 [v25.1.x] pandaproxy/sr: Fix logging where id was printed instead of version
  src/v/pandaproxy/schema_registry/sharded_store.cc
Labels: area/redpanda, kind/backport

#25713 [v24.3.x] pandaproxy/sr: Fix logging where id was printed instead of version
  src/v/pandaproxy/schema_registry/sharded_store.cc
Labels: area/redpanda, kind/backport

#25716 CORE-9735 [v25.1.x] CORE-8496 k/server: improve full disk produce error response
  src/v/kafka/protocol/produce.h
  src/v/kafka/server/handlers/produce.cc
  tests/rptest/tests/compatibility/java_compression_test.py
  tests/rptest/tests/full_disk_test.py
  tests/setup.py
Labels: area/redpanda, kind/backport

#25720 CORE-9733 [v24.3.x] CORE-8496 k/server: improve full disk produce error response
  src/v/kafka/protocol/produce.h
  src/v/kafka/server/handlers/produce.cc
  tests/rptest/tests/full_disk_test.py
  tests/setup.py
Labels: area/redpanda, kind/backport

#25721 CORE-9734 [v24.2.x] CORE-8496 k/server: improve full disk produce error response
  src/v/kafka/protocol/produce.h
  src/v/kafka/server/handlers/produce.cc
  tests/rptest/tests/full_disk_test.py
  tests/setup.py
Labels: area/redpanda, kind/backport

#25135 fix odr violation for std::format with single argument std::chrono::duration
  src/v/config/base_property.h
  src/v/config/bounded_property.h
  src/v/config/tests/bounded_property_test.cc
  src/v/kafka/server/handlers/configs/config_response_utils.cc
  src/v/kafka/server/tests/alter_config_test.cc
  src/v/utils/to_string.h
Labels: area/redpanda

#25722 Core 9736/sr allow sd refs
  src/v/pandaproxy/schema_registry/avro.cc
  src/v/pandaproxy/schema_registry/json.cc
  src/v/pandaproxy/schema_registry/protobuf.cc
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda

#25737 [v24.3.x] Core 9736/sr allow sd refs
  src/v/pandaproxy/schema_registry/avro.cc
  src/v/pandaproxy/schema_registry/json.cc
  src/v/pandaproxy/schema_registry/protobuf.cc
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, kind/backport

#25736 [v25.1.x] Core 9736/sr allow sd refs
  src/v/pandaproxy/schema_registry/avro.cc
  src/v/pandaproxy/schema_registry/json.cc
  src/v/pandaproxy/schema_registry/protobuf.cc
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, kind/backport

#25674 datalake: fine tune timeouts
  src/v/datalake/datalake_manager.cc
  src/v/datalake/translation/BUILD
  src/v/datalake/translation/deps.h
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
  src/v/datalake/translation/tests/partition_translator_tests.cc
  src/v/datalake/translation_task.cc
  tests/rptest/tests/datalake/custom_partitioning_test.py
Labels: area/build, area/redpanda

#25741 Update bazel dependencies
  MODULE.bazel
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: area/build

#25748 [v25.1.x] datalake: fine tune timeouts
  src/v/datalake/datalake_manager.cc
  src/v/datalake/translation/BUILD
  src/v/datalake/translation/deps.h
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
  src/v/datalake/translation/tests/partition_translator_tests.cc
  src/v/datalake/translation_task.cc
  tests/rptest/tests/datalake/custom_partitioning_test.py
Labels: area/build, area/redpanda, kind/backport

#25752 [v24.3.x] cluster: enable shard_placement_table persistence if the feature is active
  src/v/cluster/shard_balancer.cc
  tests/rptest/tests/admin_uuid_operations_test.py
Labels: area/redpanda, kind/backport

#25750 [v25.1.x] cluster: enable shard_placement_table persistence if the feature is active
  src/v/cluster/shard_balancer.cc
  tests/rptest/tests/admin_uuid_operations_test.py
Labels: area/redpanda, kind/backport

#25751 [v24.2.x] cluster: enable shard_placement_table persistence if the feature is active
  src/v/cluster/shard_balancer.cc
  tests/rptest/tests/admin_uuid_operations_test.py
Labels: area/redpanda, kind/backport

#25753 [v25.1.x] cluster/tests: rename log_eviction_stm_test
  src/v/cluster/tests/BUILD
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/log_eviction_stm_test.cc
Labels: area/build, area/redpanda, kind/backport

#25761 bazel: update minio download url
  MODULE.bazel
  MODULE.bazel.lock
Labels: area/build

#25740 [v25.1.x] rptest: add UpdateRequirement\$Assert to allowed list
  tests/rptest/services/redpanda.py
  tests/rptest/tests/datalake/custom_partitioning_test.py
  tests/rptest/tests/datalake/many_topics_test.py
Labels: kind/backport

#25757 bazel: enforce _rpbench naming scheme
  bazel/test.bzl
  src/v/cloud_storage/tests/BUILD
  src/v/cloud_topics/core/tests/BUILD
Labels: area/build, area/redpanda

#25763 benchmarks: run benchmarks in shared memory
  bazel/test.bzl
  src/v/kafka/server/tests/BUILD
  tools/BUILD
  tools/bench-wrapper.sh
Labels: area/build, area/redpanda

#25764 [CORE-9764] pandaproxy/sr: Revert to an eager evaluation model on sr startup
  src/v/datalake/record_schema_resolver.cc
  src/v/datalake/tests/record_generator.cc
  src/v/datalake/tests/record_schema_resolver_test.cc
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/api/api-doc/schema_registry_definitions.def.json
  src/v/pandaproxy/schema_registry/avro.cc
  src/v/pandaproxy/schema_registry/avro.h
  src/v/pandaproxy/schema_registry/error.cc
  src/v/pandaproxy/schema_registry/errors.h
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/json.cc
  src/v/pandaproxy/schema_registry/json.h
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/protobuf.h
  src/v/pandaproxy/schema_registry/requests/get_schemas_ids_id.h
  src/v/pandaproxy/schema_registry/requests/get_subject_versions_version.h
  src/v/pandaproxy/schema_registry/requests/post_subject_versions.h
  src/v/pandaproxy/schema_registry/requests/test/get_subject_versions_version.cc
  src/v/pandaproxy/schema_registry/requests/test/post_subject_versions.cc
  src/v/pandaproxy/schema_registry/schema_getter.h
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/seq_writer.h
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/storage.h
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/compatibility_avro.cc
  src/v/pandaproxy/schema_registry/test/compatibility_common.h
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.h
  src/v/pandaproxy/schema_registry/test/compatibility_store.cc
  src/v/pandaproxy/schema_registry/test/consume_to_store.cc
  src/v/pandaproxy/schema_registry/test/mt_sharded_store.cc
  src/v/pandaproxy/schema_registry/test/post_subjects_subject_version.cc
  src/v/pandaproxy/schema_registry/test/protobuf_rendering.cc
  src/v/pandaproxy/schema_registry/test/sanitize_avro.cc
  src/v/pandaproxy/schema_registry/test/sharded_store.cc
  src/v/pandaproxy/schema_registry/test/storage.cc
  src/v/pandaproxy/schema_registry/test/store.cc
  src/v/pandaproxy/schema_registry/test/test_json_schema.cc
  src/v/pandaproxy/schema_registry/types.cc
  src/v/pandaproxy/schema_registry/types.h
  src/v/pandaproxy/schema_registry/util.h
  src/v/pandaproxy/schema_registry/validation.cc
  src/v/schema/registry.cc
  src/v/schema/registry.h
  src/v/schema/tests/fake_registry.cc
  src/v/schema/tests/fake_registry.h
  src/v/wasm/schema_registry_module.cc
  src/v/wasm/tests/wasm_fixture.cc
  src/v/wasm/tests/wasm_fixture.h
  src/v/wasm/tests/wasm_sr_test.cc
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, area/wasm

#25776 [v25.1.x] [CORE-9764] pandaproxy/sr: Revert to an eager evaluation model on sr startup
  src/v/datalake/record_schema_resolver.cc
  src/v/datalake/tests/record_generator.cc
  src/v/datalake/tests/record_schema_resolver_test.cc
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/api/api-doc/schema_registry_definitions.def.json
  src/v/pandaproxy/schema_registry/avro.cc
  src/v/pandaproxy/schema_registry/avro.h
  src/v/pandaproxy/schema_registry/error.cc
  src/v/pandaproxy/schema_registry/errors.h
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/json.cc
  src/v/pandaproxy/schema_registry/json.h
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/protobuf.h
  src/v/pandaproxy/schema_registry/requests/get_schemas_ids_id.h
  src/v/pandaproxy/schema_registry/requests/get_subject_versions_version.h
  src/v/pandaproxy/schema_registry/requests/post_subject_versions.h
  src/v/pandaproxy/schema_registry/requests/test/get_subject_versions_version.cc
  src/v/pandaproxy/schema_registry/requests/test/post_subject_versions.cc
  src/v/pandaproxy/schema_registry/schema_getter.h
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/seq_writer.h
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/storage.h
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/compatibility_avro.cc
  src/v/pandaproxy/schema_registry/test/compatibility_common.h
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.h
  src/v/pandaproxy/schema_registry/test/compatibility_store.cc
  src/v/pandaproxy/schema_registry/test/consume_to_store.cc
  src/v/pandaproxy/schema_registry/test/mt_sharded_store.cc
  src/v/pandaproxy/schema_registry/test/post_subjects_subject_version.cc
  src/v/pandaproxy/schema_registry/test/protobuf_rendering.cc
  src/v/pandaproxy/schema_registry/test/sanitize_avro.cc
  src/v/pandaproxy/schema_registry/test/sharded_store.cc
  src/v/pandaproxy/schema_registry/test/storage.cc
  src/v/pandaproxy/schema_registry/test/store.cc
  src/v/pandaproxy/schema_registry/test/test_json_schema.cc
  src/v/pandaproxy/schema_registry/types.cc
  src/v/pandaproxy/schema_registry/types.h
  src/v/pandaproxy/schema_registry/util.h
  src/v/pandaproxy/schema_registry/validation.cc
  src/v/schema/registry.cc
  src/v/schema/registry.h
  src/v/schema/tests/fake_registry.cc
  src/v/schema/tests/fake_registry.h
  src/v/wasm/schema_registry_module.cc
  src/v/wasm/tests/wasm_fixture.cc
  src/v/wasm/tests/wasm_fixture.h
  src/v/wasm/tests/wasm_sr_test.cc
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, area/wasm, kind/backport

#25771 Allow rpbenches to opt out of running in shm, opt out wasm
  bazel/test.bzl
  src/v/wasm/tests/BUILD
  tools/bench-wrapper.sh
Labels: area/build, area/redpanda, area/wasm

#25782 bazel: Patch krb5-1.21.3 to address CVEs
  MODULE.bazel.lock
  bazel/repositories.bzl
  bazel/thirdparty/0001-Fix-two-unlikely-memory-leaks.patch
Labels: area/build

#25779 [v24.3.x] [CORE-9764] pandaproxy/sr: Revert to an eager evaluation model on sr startup
  src/v/datalake/tests/record_generator.cc
  src/v/datalake/tests/record_schema_resolver_test.cc
  src/v/pandaproxy/api/api-doc/schema_registry.json
  src/v/pandaproxy/api/api-doc/schema_registry_definitions.def.json
  src/v/pandaproxy/schema_registry/avro.cc
  src/v/pandaproxy/schema_registry/avro.h
  src/v/pandaproxy/schema_registry/error.cc
  src/v/pandaproxy/schema_registry/errors.h
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/json.cc
  src/v/pandaproxy/schema_registry/json.h
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/protobuf.h
  src/v/pandaproxy/schema_registry/requests/get_schemas_ids_id.h
  src/v/pandaproxy/schema_registry/requests/get_subject_versions_version.h
  src/v/pandaproxy/schema_registry/requests/post_subject_versions.h
  src/v/pandaproxy/schema_registry/requests/test/get_subject_versions_version.cc
  src/v/pandaproxy/schema_registry/requests/test/post_subject_versions.cc
  src/v/pandaproxy/schema_registry/schema_getter.h
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/seq_writer.h
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/storage.h
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/compatibility_avro.cc
  src/v/pandaproxy/schema_registry/test/compatibility_common.h
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.h
  src/v/pandaproxy/schema_registry/test/compatibility_store.cc
  src/v/pandaproxy/schema_registry/test/consume_to_store.cc
  src/v/pandaproxy/schema_registry/test/mt_sharded_store.cc
  src/v/pandaproxy/schema_registry/test/post_subjects_subject_version.cc
  src/v/pandaproxy/schema_registry/test/protobuf_rendering.cc
  src/v/pandaproxy/schema_registry/test/sanitize_avro.cc
  src/v/pandaproxy/schema_registry/test/sharded_store.cc
  src/v/pandaproxy/schema_registry/test/storage.cc
  src/v/pandaproxy/schema_registry/test/store.cc
  src/v/pandaproxy/schema_registry/test/test_json_schema.cc
  src/v/pandaproxy/schema_registry/types.cc
  src/v/pandaproxy/schema_registry/types.h
  src/v/pandaproxy/schema_registry/util.h
  src/v/pandaproxy/schema_registry/validation.cc
  src/v/schema/registry.cc
  src/v/schema/registry.h
  src/v/schema/tests/fake_registry.cc
  src/v/schema/tests/fake_registry.h
  src/v/wasm/schema_registry_module.cc
  src/v/wasm/tests/wasm_fixture.cc
  src/v/wasm/tests/wasm_fixture.h
  src/v/wasm/tests/wasm_sr_test.cc
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, area/wasm

#25786 [v24.2.x] [Core 9769] pandaproxy/sr: implement a 2 pass topic load
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/store.cc
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, kind/backport

#25732 Encode added values directly to an `iobuf` in `column_writer`
  src/v/serde/parquet/column_writer.cc
  src/v/serde/parquet/encoding.cc
  src/v/serde/parquet/encoding.h
  src/v/serde/parquet/tests/BUILD
  src/v/serde/parquet/tests/column_writer_bench.cc
  src/v/serde/parquet/tests/encoding_test.cc
Labels: area/build, area/redpanda

#25787 [v24.3.x] [Core 9769] pandaproxy/sr: implement a 2 pass topic load
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/store.cc
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, kind/backport

#25788 [v25.1.x] [Core 9769] pandaproxy/sr: implement a 2 pass topic load
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/store.cc
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, kind/backport

#24919 Fix enum_values in config schema for optional property
  src/v/config/property.h
  src/v/config/tests/enum_property_test.cc
  tests/rptest/tests/cluster_config_test.py
Labels: area/redpanda

#25773 rpk: expand debug bundle commands
  src/go/rpk/pkg/cli/debug/bundle/bundle_k8s_linux.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_linux.go
  src/go/rpk/pkg/cli/generate/license.go
Labels: area/rpk

#25789 bazel: fix microbenchmarks
  .bazelrc
  bazel/BUILD
  bazel/bench_wrapper.py
  bazel/test.bzl
  bazel/thirdparty/seastar.bzl
  src/transform-sdk/go/transform/internal/testdata/dynamic/BUILD
  src/transform-sdk/go/transform/internal/testdata/identity/BUILD
  src/transform-sdk/go/transform/internal/testdata/schema-registry/BUILD
  src/transform-sdk/go/transform/internal/testdata/setup-panic/BUILD
  src/transform-sdk/go/transform/internal/testdata/tee/BUILD
  src/transform-sdk/go/transform/internal/testdata/transform-error/BUILD
  src/transform-sdk/go/transform/internal/testdata/transform-panic/BUILD
  src/transform-sdk/go/transform/internal/testdata/wasi/BUILD
  src/v/crypto/tests/BUILD
  src/v/crypto/tests/CMakeLists.txt
  src/v/crypto/tests/crypto_bench.cc
  src/v/crypto/tests/ossl_context_service_failure_tests.cc
  src/v/crypto/tests/ossl_context_service_test.cc
  src/v/crypto/tests/ossl_context_service_test_base.h
  src/v/kafka/protocol/schemata/generator.bzl
  src/v/rpc/compiler.bzl
  src/v/serde/test/BUILD
  src/v/test_utils/CMakeLists.txt
  src/v/test_utils/runfiles.cc
  src/v/version/BUILD
  src/v/version/expand_with_stamp_vars.bzl
  src/v/wasm/tests/BUILD
  src/v/wasm/tests/CMakeLists.txt
  src/v/wasm/tests/wasi_test.cc
  src/v/wasm/tests/wasm_fixture.cc
  src/v/wasm/tests/wasm_fixture.h
  src/v/wasm/tests/wasm_lifecycle_test.cc
  src/v/wasm/tests/wasm_resources_test.cc
  src/v/wasm/tests/wasm_sr_test.cc
  src/v/wasm/tests/wasm_transform_bench.cc
  src/v/wasm/tests/wasm_transform_test.cc
  tools/BUILD
  tools/bench-wrapper.sh
Labels: area/build, area/redpanda, area/wasm

#25795 [v24.3.x] tests: add ducktape retry configuration
  tests/ducktape-common-retry.yml
  tests/ducktape-merge-retry.yml
  tests/ducktape-pr-retry.yml
Labels: kind/backport

#25797 [v25.1.x] tests: add ducktape retry configuration
  tests/ducktape-common-retry.yml
  tests/ducktape-merge-retry.yml
  tests/ducktape-pr-retry.yml
Labels: kind/backport

#25798 [v24.2.x] tests: add ducktape retry configuration
  tests/ducktape-common-retry.yml
  tests/ducktape-merge-retry.yml
  tests/ducktape-pr-retry.yml
Labels: kind/backport

#25792 inventory: Fix ODR violation
  src/v/cloud_storage/inventory/types.h
Labels: area/redpanda

#25784 Restore libpciaccess as dep of hwloc
  MODULE.bazel
  MODULE.bazel.lock
  bazel/repositories.bzl
  bazel/thirdparty/hwloc.BUILD
Labels: area/build

#25800 [v25.1.x] rpk: expand debug bundle commands
  src/go/rpk/pkg/cli/debug/bundle/bundle_k8s_linux.go
  src/go/rpk/pkg/cli/debug/bundle/bundle_linux.go
  src/go/rpk/pkg/cli/generate/license.go
Labels: area/rpk, kind/backport

#25801 archival: Rate-limit `segments_pending_deletion` metric recomputation
  src/v/cluster/BUILD
  src/v/cluster/archival/probe.cc
  src/v/ssx/BUILD
  src/v/ssx/rate_limited_function.h
  src/v/ssx/tests/BUILD
  src/v/ssx/tests/CMakeLists.txt
  src/v/ssx/tests/rate_limited_function_test.cc
Labels: area/build, area/redpanda

#25809 [v25.1.x] archival: Rate-limit `segments_pending_deletion` metric recomputation
  src/v/cluster/BUILD
  src/v/cluster/archival/probe.cc
  src/v/ssx/BUILD
  src/v/ssx/rate_limited_function.h
  src/v/ssx/tests/BUILD
  src/v/ssx/tests/CMakeLists.txt
  src/v/ssx/tests/rate_limited_function_test.cc
Labels: area/build, area/redpanda, kind/backport

#25791 PP/SR: access-log-like trace logs
  src/v/pandaproxy/logger.cc
  src/v/pandaproxy/logger.h
  src/v/pandaproxy/reply.h
  src/v/pandaproxy/rest/proxy.cc
  src/v/pandaproxy/schema_registry/api.cc
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/seq_writer.h
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/storage.h
  src/v/pandaproxy/schema_registry/validation.cc
  src/v/pandaproxy/server.cc
  src/v/pandaproxy/server.h
  tests/rptest/tests/audit_log_test.py
  tests/rptest/tests/redpanda_oauth_test.py
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda

#25738 `cloud_storage_clients`: check `Content-Type` header before parsing REST error responses in `s3_client`
  src/v/cloud_io/tests/s3_imposter.cc
  src/v/cloud_storage/tests/anomalies_detector_test.cc
  src/v/cloud_storage_clients/abs_client.cc
  src/v/cloud_storage_clients/s3_client.cc
  src/v/cloud_storage_clients/tests/BUILD
  src/v/cloud_storage_clients/tests/CMakeLists.txt
  src/v/cloud_storage_clients/tests/s3_client_test.cc
  src/v/cloud_storage_clients/types.h
  src/v/cloud_storage_clients/util.cc
  src/v/cloud_storage_clients/util.h
  src/v/http/tests/BUILD
  src/v/http/tests/CMakeLists.txt
  src/v/http/tests/http_imposter.cc
  src/v/http/tests/registered_urls.cc
  src/v/http/tests/registered_urls.h
  src/v/http/tests/utils.cc
  src/v/http/tests/utils.h
Labels: area/build, area/redpanda

#25807 k/server: Log when batch is oversized
  src/v/kafka/server/handlers/produce.cc
Labels: area/redpanda

#25817 [v25.1.x] `cloud_storage_clients`: check `Content-Type` header before parsing REST error responses in `s3_client`
  src/v/cloud_io/tests/s3_imposter.cc
  src/v/cloud_storage/tests/anomalies_detector_test.cc
  src/v/cloud_storage_clients/abs_client.cc
  src/v/cloud_storage_clients/s3_client.cc
  src/v/cloud_storage_clients/tests/BUILD
  src/v/cloud_storage_clients/tests/CMakeLists.txt
  src/v/cloud_storage_clients/tests/s3_client_test.cc
  src/v/cloud_storage_clients/types.h
  src/v/cloud_storage_clients/util.cc
  src/v/cloud_storage_clients/util.h
  src/v/http/tests/BUILD
  src/v/http/tests/CMakeLists.txt
  src/v/http/tests/http_imposter.cc
  src/v/http/tests/registered_urls.cc
  src/v/http/tests/registered_urls.h
  src/v/http/tests/utils.cc
  src/v/http/tests/utils.h
Labels: area/build, area/redpanda, kind/backport

#25815 bazel: fix runfiles for benchmarks
  src/v/crypto/tests/crypto_bench.cc
  src/v/test_utils/runfiles.cc
Labels: area/redpanda

#25821 [v24.3.x] k/server: Log when batch is oversized
  src/v/kafka/server/handlers/produce.cc
Labels: area/redpanda, kind/backport

#25818 [v25.1.x] tests/node_restart_probe: improve post-restart test stability
  tests/rptest/tests/node_restart_probe_test.py
Labels: kind/backport

#25823 bazel: support running benchmarks directly with runfiles
  src/v/test_utils/runfiles.cc
Labels: area/redpanda

#25796 [v24.1.x] tests: add ducktape retry configuration
  tests/ducktape-common-retry.yml
  tests/ducktape-merge-retry.yml
  tests/ducktape-pr-retry.yml
Labels: kind/backport

#25619 `storage`: evict readers in `do_compact_adjacent_segments()`
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda

#25820 [v25.1.x] k/server: Log when batch is oversized
  src/v/kafka/server/handlers/produce.cc
Labels: area/redpanda, kind/backport

#25747 Rpk/secret/add scope
  MODULE.bazel
  MODULE.bazel.lock
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/security/secret/BUILD
  src/go/rpk/pkg/cli/security/secret/create.go
  src/go/rpk/pkg/cli/security/secret/list.go
  src/go/rpk/pkg/cli/security/secret/update.go
Labels: area/rpk, area/build

#25831 wasm_transform_test: don't rely on operator<<
  src/v/wasm/tests/wasm_transform_test.cc
Labels: area/redpanda, area/wasm

#25368 bazel: upgrade to bazel 8
  .bazelversion
  MODULE.bazel
  MODULE.bazel.lock
  bazel/internal.bzl
  bazel/repositories.bzl
  bazel/thirdparty/openssl-fips.BUILD
  bazel/thirdparty/openssl.BUILD
  bazel/thirdparty/seastar.BUILD
  bazel/toolchain/Dockerfile.llvm
  src/v/cloud_topics/core/pipeline_stage.h
  src/v/iceberg/tests/transform_utils_test.cc
  src/v/iceberg/unresolved_partition_spec.cc
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/fetch_bench.cc
Labels: area/build, area/redpanda, area/wasm

#25812 [v25.1.x] PP/SR: access-log-like trace logs
  src/v/pandaproxy/logger.cc
  src/v/pandaproxy/logger.h
  src/v/pandaproxy/reply.h
  src/v/pandaproxy/rest/proxy.cc
  src/v/pandaproxy/schema_registry/api.cc
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/seq_writer.h
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/storage.h
  src/v/pandaproxy/schema_registry/validation.cc
  src/v/pandaproxy/server.cc
  src/v/pandaproxy/server.h
  tests/rptest/tests/audit_log_test.py
  tests/rptest/tests/redpanda_oauth_test.py
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, kind/backport

#25635 Rpk/cloud configurations
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cluster/config/BUILD
  src/go/rpk/pkg/cli/cluster/config/set.go
  src/go/rpk/pkg/cli/cluster/config/set_test.go
  src/go/rpk/pkg/cli/cluster/config/status.go
  src/go/rpk/pkg/config/BUILD
  src/go/rpk/pkg/config/rpk_yaml.go
  src/go/rpk/pkg/publicapi/controlplane.go
Labels: area/rpk, area/build

#25826 [v25.1.x] `storage`: evict readers in `do_compact_adjacent_segments()`
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda, kind/backport

#25834 [v25.1.x] Rpk/secret/add scope
  MODULE.bazel
  MODULE.bazel.lock
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/security/secret/BUILD
  src/go/rpk/pkg/cli/security/secret/create.go
  src/go/rpk/pkg/cli/security/secret/list.go
  src/go/rpk/pkg/cli/security/secret/update.go
Labels: area/rpk, area/build, kind/backport

#25851 bazel: add arm64 hashes for python deps
  MODULE.bazel.lock
  bazel/thirdparty/requirements.txt
Labels: area/build

#25845 [v24.2.x] storage: add log lines about removed data
  src/v/storage/compaction_reducers.cc
  src/v/storage/compaction_reducers.h
  src/v/storage/segment_deduplication_utils.cc
  src/v/storage/segment_utils.cc
Labels: area/redpanda

#25850 c/archival: Bazelize many tests
  src/v/cloud_storage/tests/BUILD
  src/v/cluster/archival/tests/BUILD
  src/v/cluster/archival/tests/archival_service_fixture.h
  src/v/cluster/archival/tests/ntp_archiver_reupload_test.cc
  src/v/cluster/archival/tests/segment_reupload_test.cc
  src/v/cluster/archival/tests/service_fixture.cc
  src/v/cluster/tests/BUILD
  src/v/storage/BUILD
Labels: area/build, area/redpanda

#25847 [v25.1.x] tests: Add more allowed log line for crash handler test
  tests/rptest/tests/crash_loop_checks_test.py
Labels: kind/backport

#25799 apply snapshot in background apply fiber if required
  src/v/raft/state_machine_manager.cc
  src/v/raft/state_machine_manager.h
  src/v/raft/tests/BUILD
  src/v/raft/tests/persisted_stm_test.cc
Labels: area/build, area/redpanda

#25839 [v24.3.x] PP/SR: access-log-like trace logs
  src/v/pandaproxy/logger.cc
  src/v/pandaproxy/logger.h
  src/v/pandaproxy/reply.h
  src/v/pandaproxy/rest/proxy.cc
  src/v/pandaproxy/schema_registry/api.cc
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/seq_writer.h
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/schema_registry/service.h
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/storage.h
  src/v/pandaproxy/schema_registry/validation.cc
  src/v/pandaproxy/server.cc
  tests/rptest/tests/audit_log_test.py
  tests/rptest/tests/redpanda_oauth_test.py
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, kind/backport

#25854 [v24.3.x] apply snapshot in background apply fiber if required
  src/v/raft/state_machine_manager.cc
  src/v/raft/state_machine_manager.h
  src/v/raft/tests/BUILD
  src/v/raft/tests/persisted_stm_test.cc
Labels: area/build, area/redpanda, kind/backport

#25830 pandaproxy/sr: add simple benchmarks for sr api
  src/v/pandaproxy/schema_registry/test/BUILD
  src/v/pandaproxy/schema_registry/test/CMakeLists.txt
  src/v/pandaproxy/schema_registry/test/api_bench.cc
  src/v/pandaproxy/schema_registry/test/client_utils.h
Labels: area/build, area/redpanda

#25849 [v25.1.x] Rpk/cloud configurations
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cluster/config/BUILD
  src/go/rpk/pkg/cli/cluster/config/set.go
  src/go/rpk/pkg/cli/cluster/config/set_test.go
  src/go/rpk/pkg/cli/cluster/config/status.go
  src/go/rpk/pkg/config/BUILD
  src/go/rpk/pkg/config/rpk_yaml.go
  src/go/rpk/pkg/publicapi/controlplane.go
Labels: area/rpk, area/build, kind/backport

#25856 k/server: Adjust log levels in delete_records
  src/v/kafka/server/handlers/delete_records.cc
Labels: area/redpanda

#25862 [v24.2.x] k/server: Adjust log levels in delete_records
  src/v/kafka/server/handlers/delete_records.cc
Labels: area/redpanda, kind/backport

#25860 [v25.1.x] tests: Fixup for crash loop checker test
  tests/rptest/tests/crash_loop_checks_test.py
Labels: kind/backport

#25865 datalake: miscellaneous fixes
  src/v/datalake/data_writer_interface.cc
  src/v/datalake/data_writer_interface.h
  src/v/datalake/datalake_manager.cc
  src/v/datalake/local_parquet_file_writer.cc
  src/v/datalake/partitioning_writer.cc
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/serde_parquet_writer.cc
  src/v/datalake/translation/deps.cc
  src/v/serde/parquet/writer.cc
  tests/rptest/tests/datalake/disk_budget_test.py
Labels: area/redpanda

#25864 [v24.3.x] k/server: Adjust log levels in delete_records
  src/v/kafka/server/handlers/delete_records.cc
Labels: area/redpanda, kind/backport

#25863 [v25.1.x] k/server: Adjust log levels in delete_records
  src/v/kafka/server/handlers/delete_records.cc
Labels: area/redpanda, kind/backport

#25833 `storage`: check for exceptions in `log_manager::disk_usage()`
  src/v/storage/disk_log_impl.cc
  src/v/storage/log_manager.cc
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

#25866 dl/coordinator: don't crash on missing table
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/datalake/coordinator/tests/iceberg_file_committer_test.cc
Labels: area/redpanda

#25766 datalake: strict enforcement of scratch space usage
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/datalake/data_writer_interface.cc
  src/v/datalake/data_writer_interface.h
  src/v/datalake/datalake_manager.cc
  src/v/datalake/datalake_manager.h
  src/v/datalake/serde_parquet_writer.cc
  src/v/datalake/tests/test_data_writer.h
  src/v/datalake/translation/BUILD
  src/v/datalake/translation/deps.cc
  src/v/datalake/translation/deps.h
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
  src/v/datalake/translation/scheduling.cc
  src/v/datalake/translation/scheduling.h
  src/v/datalake/translation/scheduling_policies.cc
  src/v/datalake/translation/scheduling_policies.h
  src/v/datalake/translation/tests/fair_scheduling_policy_tests.cc
  src/v/datalake/translation/tests/scheduler_fixture.cc
  src/v/datalake/translation/tests/scheduler_fixture.h
  src/v/datalake/translation_task.cc
  src/v/datalake/translation_task.h
  tests/rptest/tests/datalake/disk_budget_test.py
Labels: area/build, area/redpanda

#25770 datalake: allow for translation from tiered storage
  src/v/cloud_storage/async_manifest_view.cc
  src/v/cloud_storage/async_manifest_view.h
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/tests/async_manifest_view_test.cc
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cloud_storage/tests/partition_manifest_test.cc
  src/v/cluster/archival/archival_metadata_stm.cc
  src/v/cluster/archival/archival_metadata_stm.h
  src/v/cluster/archival/archiver_manager.cc
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/retention_calculator.cc
  src/v/cluster/archival/retention_calculator.h
  src/v/cluster/archival/tests/ntp_archiver_reupload_test.cc
  src/v/cluster/archival/tests/retention_strategy_test.cc
  src/v/cluster/cluster_utils.cc
  src/v/cluster/controller_backend.cc
  src/v/cluster/log_eviction_stm.cc
  src/v/cluster/log_eviction_stm.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/tx_compaction_utils.h
  src/v/cluster/types.h
  src/v/datalake/coordinator/state_machine.cc
  src/v/datalake/coordinator/state_machine.h
  src/v/datalake/translation/deps.cc
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/state_machine.cc
  src/v/datalake/translation/state_machine.h
  src/v/datalake/translation/tests/state_machine_test.cc
  src/v/kafka/data/partition_proxy.h
  src/v/kafka/data/replicated_partition.cc
  src/v/kafka/data/replicated_partition.h
  src/v/kafka/server/group_tx_tracker_stm.cc
  src/v/kafka/server/group_tx_tracker_stm.h
  src/v/kafka/server/tests/group_tx_compaction_test.cc
  src/v/raft/persisted_stm.cc
  src/v/raft/persisted_stm.h
  src/v/redpanda/admin/api-doc/debug.json
  src/v/redpanda/admin/debug.cc
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/log_manager.cc
  src/v/storage/segment.h
  src/v/storage/tests/compaction_e2e_multinode_test.cc
  src/v/storage/tests/storage_e2e_test.cc
  src/v/storage/types.cc
  src/v/storage/types.h
  src/v/transform/rpc/tests/transform_rpc_test.cc
  tests/rptest/services/apache_iceberg_catalog.py
  tests/rptest/services/catalog_service.py
  tests/rptest/services/nessie_catalog.py
  tests/rptest/tests/datalake/blocked_catalog_test.py
  tests/rptest/tests/delete_records_test.py
  tests/rptest/transactions/consumer_offsets_test.py
Labels: area/build, area/redpanda, area/wasm

#25879 [v24.3.x] CORE-9798 PP/SR: request-response trace logging
  src/v/pandaproxy/BUILD
  src/v/pandaproxy/json/rjson_util.h
  src/v/pandaproxy/logger.cc
  src/v/pandaproxy/logger.h
  src/v/pandaproxy/reply.h
  src/v/pandaproxy/rest/handlers.cc
  src/v/pandaproxy/rest/proxy.cc
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/server.cc
  src/v/pandaproxy/server.h
  src/v/pandaproxy/util.h
  src/v/utils/truncating_logger.h
Labels: area/build, area/redpanda, kind/backport

#25872 Fix and enable fetch bench in nonrelease
  bazel/test.bzl
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/fetch_bench.cc
Labels: area/build, area/redpanda

#25880 [v25.1.x] CORE-9798 PP/SR: request-response trace logging
  src/v/pandaproxy/BUILD
  src/v/pandaproxy/json/rjson_util.h
  src/v/pandaproxy/logger.cc
  src/v/pandaproxy/logger.h
  src/v/pandaproxy/reply.h
  src/v/pandaproxy/rest/handlers.cc
  src/v/pandaproxy/rest/proxy.cc
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/service.cc
  src/v/pandaproxy/server.cc
  src/v/pandaproxy/server.h
  src/v/pandaproxy/util.h
  src/v/utils/truncating_logger.h
Labels: area/build, area/redpanda, kind/backport

#25811 [CORE-9797] schema_registry: Improve diagnostics when references are missing
  src/v/pandaproxy/reply.h
  src/v/pandaproxy/schema_registry/avro.cc
  src/v/pandaproxy/schema_registry/avro.h
  src/v/pandaproxy/schema_registry/error.cc
  src/v/pandaproxy/schema_registry/error.h
  src/v/pandaproxy/schema_registry/errors.h
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/json.cc
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/storage.h
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
  src/v/pandaproxy/schema_registry/test/test_json_schema.cc
  src/v/pandaproxy/server.cc
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda

#25825 [v24.3.x] `storage`: evict readers in `do_compact_adjacent_segments()`
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda, kind/backport

#25806 [UX-106] rpk: Support listener inference for Schema Registry
  src/go/rpk/pkg/config/params.go
  src/go/rpk/pkg/config/params_test.go
Labels: area/rpk

#25886 bazel: Updated to use C-Ares 1.34.5
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: area/build

#25802 Add MCP support for Redpanda Cloud
  MODULE.bazel
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cloud/BUILD
  src/go/rpk/pkg/cli/cloud/cloud.go
  src/go/rpk/pkg/cli/cloud/mcp/BUILD
  src/go/rpk/pkg/cli/cloud/mcp/mcp.go
  src/go/rpk/pkg/publicapi/controlplane.go
  src/go/rpk/pkg/publicapi/publicapi.go
Labels: area/rpk, area/build

#25881 datalake: fix schemas with references
  src/v/datalake/tests/record_schema_resolver_test.cc
  src/v/schema/registry.cc
  tests/rptest/clients/rpk.py
  tests/rptest/tests/datalake/datalake_e2e_test.py
Labels: area/redpanda

#25885 [v25.1.x] [CORE-9797] schema_registry: Improve diagnostics when references are missing
  src/v/pandaproxy/reply.h
  src/v/pandaproxy/schema_registry/avro.cc
  src/v/pandaproxy/schema_registry/avro.h
  src/v/pandaproxy/schema_registry/error.cc
  src/v/pandaproxy/schema_registry/error.h
  src/v/pandaproxy/schema_registry/errors.h
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/json.cc
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/storage.h
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
  src/v/pandaproxy/schema_registry/test/test_json_schema.cc
  src/v/pandaproxy/server.cc
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, kind/backport

#25892 [v25.1.x] Add MCP support for Redpanda Cloud
  MODULE.bazel
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/cloud/BUILD
  src/go/rpk/pkg/cli/cloud/cloud.go
  src/go/rpk/pkg/cli/cloud/mcp/BUILD
  src/go/rpk/pkg/cli/cloud/mcp/mcp.go
  src/go/rpk/pkg/publicapi/controlplane.go
  src/go/rpk/pkg/publicapi/publicapi.go
Labels: area/rpk, area/build, kind/backport

#25876 [v25.1.x] datalake: allow for translation from tiered storage
  src/v/cloud_storage/async_manifest_view.cc
  src/v/cloud_storage/async_manifest_view.h
  src/v/cloud_storage/partition_manifest.cc
  src/v/cloud_storage/partition_manifest.h
  src/v/cloud_storage/tests/async_manifest_view_test.cc
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cloud_storage/tests/partition_manifest_test.cc
  src/v/cluster/archival/archival_metadata_stm.cc
  src/v/cluster/archival/archival_metadata_stm.h
  src/v/cluster/archival/archiver_manager.cc
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/retention_calculator.cc
  src/v/cluster/archival/retention_calculator.h
  src/v/cluster/archival/tests/ntp_archiver_reupload_test.cc
  src/v/cluster/archival/tests/retention_strategy_test.cc
  src/v/cluster/cluster_utils.cc
  src/v/cluster/controller_backend.cc
  src/v/cluster/log_eviction_stm.cc
  src/v/cluster/log_eviction_stm.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/rm_stm.h
  src/v/cluster/tests/tx_compaction_utils.h
  src/v/cluster/types.h
  src/v/datalake/coordinator/state_machine.cc
  src/v/datalake/coordinator/state_machine.h
  src/v/datalake/translation/deps.cc
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/state_machine.cc
  src/v/datalake/translation/state_machine.h
  src/v/datalake/translation/tests/state_machine_test.cc
  src/v/kafka/data/partition_proxy.h
  src/v/kafka/data/replicated_partition.cc
  src/v/kafka/data/replicated_partition.h
  src/v/kafka/server/group_tx_tracker_stm.cc
  src/v/kafka/server/group_tx_tracker_stm.h
  src/v/kafka/server/tests/group_tx_compaction_test.cc
  src/v/raft/persisted_stm.cc
  src/v/raft/persisted_stm.h
  src/v/redpanda/admin/api-doc/debug.json
  src/v/redpanda/admin/debug.cc
  src/v/storage/disk_log_impl.cc
  src/v/storage/disk_log_impl.h
  src/v/storage/log_manager.cc
  src/v/storage/segment.h
  src/v/storage/tests/compaction_e2e_multinode_test.cc
  src/v/storage/tests/storage_e2e_test.cc
  src/v/storage/types.cc
  src/v/storage/types.h
  src/v/transform/rpc/tests/transform_rpc_test.cc
  tests/rptest/services/apache_iceberg_catalog.py
  tests/rptest/services/catalog_service.py
  tests/rptest/services/nessie_catalog.py
  tests/rptest/tests/datalake/blocked_catalog_test.py
  tests/rptest/tests/delete_records_test.py
  tests/rptest/transactions/consumer_offsets_test.py
Labels: area/redpanda, area/wasm, kind/backport

#25874 [v25.1.x] dl/coordinator: don't crash on missing table
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/datalake/coordinator/tests/iceberg_file_committer_test.cc
Labels: area/redpanda, kind/backport

#25895 iceberg/protobuf: fix uint32 conversion
  src/v/iceberg/conversion/tests/iceberg_protobuf_tests.cc
  src/v/iceberg/conversion/tests/testdata/proto2.proto
  src/v/iceberg/conversion/values_protobuf.cc
Labels: area/redpanda

#25877 [v25.1.x] tests/write_caching: limit number of messages sent in write caching test
  tests/rptest/tests/write_caching_fi_e2e_test.py
Labels: kind/backport

#25804 [v24.3.x] inventory: Fix ODR violation
  src/v/cloud_storage/inventory/types.h
Labels: area/redpanda, kind/backport

#25855 [v25.1.x] apply snapshot in background apply fiber if required
  src/v/raft/state_machine_manager.cc
  src/v/raft/state_machine_manager.h
  src/v/raft/tests/BUILD
  src/v/raft/tests/persisted_stm_test.cc
Labels: area/build, area/redpanda, kind/backport

#25805 [v25.1.x] inventory: Fix ODR violation
  src/v/cloud_storage/inventory/types.h
Labels: area/redpanda, kind/backport

#25867 [v25.1.x] datalake: miscellaneous fixes
  src/v/datalake/data_writer_interface.cc
  src/v/datalake/data_writer_interface.h
  src/v/datalake/datalake_manager.cc
  src/v/datalake/local_parquet_file_writer.cc
  src/v/datalake/partitioning_writer.cc
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/serde_parquet_writer.cc
  src/v/datalake/translation/deps.cc
  src/v/serde/parquet/writer.cc
  tests/rptest/tests/datalake/disk_budget_test.py
Labels: area/redpanda, kind/backport

#25884 [v24.3.x] [CORE-9797] schema_registry: Improve diagnostics when references are missing
  src/v/pandaproxy/reply.h
  src/v/pandaproxy/schema_registry/avro.cc
  src/v/pandaproxy/schema_registry/avro.h
  src/v/pandaproxy/schema_registry/error.cc
  src/v/pandaproxy/schema_registry/error.h
  src/v/pandaproxy/schema_registry/errors.h
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/json.cc
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/storage.h
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
  src/v/pandaproxy/schema_registry/test/test_json_schema.cc
  src/v/pandaproxy/server.cc
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, kind/backport

#24850 [v24.2.x] cloud_storage: Improve logging in the partition_manifest
  src/v/cloud_storage/partition_manifest.cc
Labels: area/redpanda, kind/backport

#25415 [v24.2.x] r/stm_manager: do not populate batch cache when background apply happens
  src/v/raft/state_machine_manager.cc
Labels: area/redpanda, kind/backport

#24849 [v24.3.x] cloud_storage: Improve logging in the partition_manifest
  src/v/cloud_storage/partition_manifest.cc
Labels: area/redpanda, kind/backport

#25897 [v25.1.x] iceberg/protobuf: fix uint32 conversion
  src/v/datalake/tests/datalake_protobuf_tests.cc
  src/v/datalake/tests/testdata/proto2.proto
  src/v/datalake/values_protobuf.cc
Labels: area/redpanda, kind/backport

#25442 [v24.3.x] archival: Disable cross-term compaction
  src/v/cluster/archival/segment_reupload.cc
  src/v/cluster/archival/tests/ntp_archiver_reupload_test.cc
Labels: area/redpanda, kind/backport

#25840 Introduced `raft::state_machine` initial recovery policy
  src/v/cloud_topics/dl_stm/dl_stm.h
  src/v/cluster/archival/archival_metadata_stm.h
  src/v/cluster/distributed_kv_stm.h
  src/v/cluster/id_allocator_stm.h
  src/v/cluster/log_eviction_stm.h
  src/v/cluster/partition_properties_stm.h
  src/v/cluster/rm_stm.h
  src/v/cluster/tm_stm.h
  src/v/datalake/coordinator/state_machine.h
  src/v/datalake/translation/state_machine.h
  src/v/kafka/server/group_tx_tracker_stm.h
  src/v/raft/state_machine_base.cc
  src/v/raft/state_machine_base.h
  src/v/raft/state_machine_manager.cc
  src/v/raft/state_machine_manager.h
  src/v/raft/tests/persisted_stm_test.cc
  src/v/raft/tests/stm_manager_test.cc
  src/v/raft/tests/stm_test_fixture.h
  tests/rptest/services/redpanda.py
  tests/rptest/tests/datalake/datalake_e2e_test.py
  tests/rptest/tests/upgrade_test.py
Labels: area/build, area/redpanda
