Repository redpanda-data/redpanda, pull requests merged in 2025-03, with the labels that each got.

#24626 [CORE-8742] archival: Add replica validator
  src/v/cluster/BUILD
  src/v/cluster/CMakeLists.txt
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/replica_state_validator.cc
  src/v/cluster/archival/replica_state_validator.h
  src/v/cluster/archival/tests/BUILD
  src/v/cluster/archival/tests/CMakeLists.txt
  src/v/cluster/archival/tests/replica_state_validator_test.cc
  tests/rptest/tests/topic_recovery_test.py
Labels: area/build, area/redpanda

#25223 rpk: add --format support to rpk cluster info
  src/go/rpk/pkg/cli/cluster/info.go
Labels: area/rpk

#25228 kafka: validator for Iceberg topics and read replicas
  src/v/kafka/server/handlers/topics/validators.h
  tests/rptest/tests/datalake/topic_properties_test.py
Labels: area/redpanda

#25222 iceberg/rest_client: don't throw shutdown exceptions
  src/v/iceberg/BUILD
  src/v/iceberg/rest_catalog.cc
  src/v/iceberg/rest_client/catalog_client.cc
  src/v/iceberg/rest_client/error.h
  src/v/iceberg/rest_client/retry_policy.cc
  src/v/iceberg/rest_client/retry_policy.h
  src/v/iceberg/rest_client/tests/retry_policy_tests.cc
Labels: area/build, area/redpanda

#24871 [CORE-9000] Tiered-Storage pause/resume
  src/v/cloud_storage/tests/topic_manifest_test.cc
  src/v/cluster/archival/archival_metadata_stm.cc
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/probe.cc
  src/v/cluster/archival/probe.h
  src/v/cluster/topic_configuration.cc
  src/v/cluster/topic_properties.cc
  src/v/cluster/topic_properties.h
  src/v/cluster/topic_table.cc
  src/v/cluster/types.cc
  src/v/cluster/types.h
  src/v/compat/cluster_generator.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/server/handlers/alter_configs.cc
  src/v/kafka/server/handlers/configs/config_response_utils.cc
  src/v/kafka/server/handlers/create_topics.cc
  src/v/kafka/server/handlers/incremental_alter_configs.cc
  src/v/kafka/server/handlers/topics/types.cc
  src/v/kafka/server/handlers/topics/types.h
  src/v/kafka/server/tests/alter_config_test.cc
  src/v/storage/ntp_config.h
  src/v/storage/types.cc
  tests/rptest/tests/describe_topics_test.py
  tests/rptest/tests/tiered_storage_pause_test.py
  tools/offline_log_viewer/controller.py
Labels: area/redpanda

#25231 [CORE-9218] `storage`: reduce `dirty_and_closed_bytes_bookkeeping::num_operations`
  src/v/storage/tests/storage_e2e_test.cc
Labels: area/redpanda

#25163 [v24.2.x] [CORE-9154] `rptest`: adjust timeouts in `java_compression_test.py`
  tests/rptest/tests/compatibility/java_compression_test.py
Labels: kind/backport

#24928 Pre restart probe
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
  src/v/cluster/health_monitor_frontend.cc
  src/v/cluster/health_monitor_frontend.h
  src/v/cluster/health_monitor_types.cc
  src/v/cluster/health_monitor_types.h
  src/v/cluster/tests/BUILD
  src/v/cluster/tests/cluster_test_fixture.h
  src/v/cluster/tests/health_monitor_test.cc
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/fwd.h
  src/v/raft/types.cc
  src/v/raft/types.h
  src/v/redpanda/admin/api-doc/broker.json
  src/v/redpanda/admin/partition.cc
  src/v/redpanda/admin/server.cc
  src/v/redpanda/admin/server.h
  src/v/ssx/async_algorithm.h
  tests/rptest/services/admin.py
  tests/rptest/tests/maintenance.py
  tests/rptest/tests/maintenance_test.py
Labels: area/build, area/redpanda

#25166 [CORE-9167] Refactored Raft protocol scheduling groups
  src/v/raft/append_entries_buffer.cc
  src/v/raft/buffered_protocol.cc
  src/v/raft/buffered_protocol.h
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/group_manager.cc
  src/v/raft/group_manager.h
  src/v/raft/recovery_stm.cc
  src/v/raft/tests/raft_fixture.cc
  src/v/raft/tests/raft_group_fixture.h
  src/v/raft/tests/simple_raft_fixture.h
  src/v/raft/types.h
  src/v/redpanda/application.cc
  src/v/resource_mgmt/cpu_scheduling.h
  src/v/resource_mgmt/io_priority.h
Labels: area/redpanda

#25230 dl/coordinator: property to disable snapshot tags
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/datalake/coordinator/BUILD
  src/v/datalake/coordinator/coordinator_manager.cc
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/datalake/coordinator/iceberg_file_committer.h
  src/v/datalake/coordinator/tests/BUILD
  src/v/datalake/coordinator/tests/iceberg_file_committer_test.cc
Labels: area/build, area/redpanda

#25237 bazel: add consumer_groups_test, segment_meta_cstore_fuzz_rpfixture, security_test
  src/v/cloud_storage/tests/BUILD
  src/v/cloud_storage/tests/segment_meta_cstore_fuzz.cc
  src/v/kafka/protocol/tests/BUILD
  src/v/kafka/protocol/tests/security_test.cc
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/consumer_groups_test.cc
Labels: area/build, area/redpanda

#25229 dl/coordinator: property to disable snapshot expiry
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/datalake/coordinator/coordinator.cc
  src/v/datalake/coordinator/coordinator.h
  src/v/datalake/coordinator/coordinator_manager.cc
  src/v/datalake/coordinator/tests/coordinator_test.cc
  src/v/datalake/coordinator/tests/state_machine_test.cc
Labels: area/redpanda

#25139 datalake/coordinator: consider cluster UUID to deduplicate files
  src/v/datalake/coordinator/BUILD
  src/v/datalake/coordinator/commit_offset_metadata.cc
  src/v/datalake/coordinator/commit_offset_metadata.h
  src/v/datalake/coordinator/coordinator_manager.cc
  src/v/datalake/coordinator/coordinator_manager.h
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/datalake/coordinator/iceberg_file_committer.h
  src/v/datalake/coordinator/tests/BUILD
  src/v/datalake/coordinator/tests/iceberg_file_committer_test.cc
  src/v/iceberg/filesystem_catalog.cc
  src/v/iceberg/filesystem_catalog.h
  src/v/redpanda/application.cc
  tests/rptest/tests/datalake/cluster_restore_test.py
Labels: area/build, area/redpanda

#25152 [CORE-8933] - Port partition_translator into scheduler interface
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/datalake/BUILD
  src/v/datalake/coordinator/BUILD
  src/v/datalake/datalake_manager.cc
  src/v/datalake/datalake_manager.h
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
  src/v/datalake/translation/BUILD
  src/v/datalake/translation/deps.cc
  src/v/datalake/translation/deps.h
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
  src/v/datalake/translation/scheduling.h
  src/v/datalake/translation/state_machine.cc
  src/v/datalake/translation/state_machine.h
  src/v/datalake/translation/tests/scheduler_fixture.h
  src/v/datalake/translation/tests/state_machine_test.cc
  src/v/datalake/translation/types.h
  tests/rptest/tests/cluster_config_test.py
  tests/rptest/tests/datalake/datalake_e2e_test.py
Labels: area/build, area/redpanda

#25224 [CORE-9204] admin: Make v1/features/license public
  src/v/redpanda/admin/server.cc
  tests/rptest/tests/admin_api_auth_test.py
Labels: area/redpanda

#25241 `storage`: check if `seg->is_closed()` in self compaction locations before removing bytes
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda

#25242 ct: Update write_pipeline and batcher
  src/v/cloud_topics/batcher/batcher.cc
  src/v/cloud_topics/batcher/batcher.h
  src/v/cloud_topics/batcher/tests/batcher_test.cc
  src/v/cloud_topics/core/BUILD
  src/v/cloud_topics/core/base_pipeline.h
  src/v/cloud_topics/core/pipeline_stage.cc
  src/v/cloud_topics/core/pipeline_stage.h
  src/v/cloud_topics/core/tests/event_filter_test.cc
  src/v/cloud_topics/core/tests/write_pipeline_test.cc
  src/v/cloud_topics/core/write_pipeline.cc
  src/v/cloud_topics/core/write_pipeline.h
  src/v/cloud_topics/throttler/tests/throttler_test.cc
  src/v/cloud_topics/throttler/throttler.cc
  src/v/cloud_topics/throttler/throttler.h
Labels: area/build, area/redpanda

#25250 [v24.1.x] rptest: fix rpk error Bearer token is invalid
  tests/rp_cloud_cleanup.py
  tests/rptest/services/cloud_cluster_utils.py
  tests/rptest/services/redpanda_cloud.py
Labels: kind/backport

#25240 CORE-7598 serde/test: bazel for serde_fuzz_test
  src/v/serde/test/BUILD
  src/v/serde/test/fuzz.cc
Labels: area/build, area/redpanda

#25203 CORE-9231 Add `redpanda_version()` into crash reports and telemetry
  src/v/cluster/crash_reporter.cc
  src/v/cluster/crash_reporter.h
  src/v/crash_tracker/BUILD
  src/v/crash_tracker/CMakeLists.txt
  src/v/crash_tracker/prepared_writer.cc
  src/v/crash_tracker/tests/BUILD
  src/v/crash_tracker/tests/CMakeLists.txt
  src/v/crash_tracker/tests/limiter_test.cc
  src/v/crash_tracker/types.cc
  src/v/crash_tracker/types.h
  tests/rptest/tests/crash_loop_checks_test.py
  tests/rptest/tests/crash_reporter_test.py
  tools/offline_log_viewer/crash_report.py
Labels: area/build, area/redpanda

#25252 [v24.3.x] rptest: fix rpk error Bearer token is invalid
  tests/rp_cloud_cleanup.py
  tests/rptest/services/cloud_cluster_utils.py
  tests/rptest/services/redpanda_cloud.py
Labels: kind/backport

#25248 dl/coordinator: only load tables with pending state
  src/v/datalake/BUILD
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/datalake/coordinator/state.cc
  src/v/datalake/coordinator/state.h
  src/v/datalake/coordinator/tests/BUILD
  src/v/datalake/coordinator/tests/iceberg_file_committer_test.cc
  src/v/datalake/coordinator/tests/state_test_utils.cc
  src/v/datalake/coordinator/tests/state_test_utils.h
Labels: area/build, area/redpanda

#25192 [v24.2.x] [UX-33] rpk: migrate login + profile creation flow to the Public API.
  src/go/rpk/pkg/cli/cloud/byoc/install.go
  src/go/rpk/pkg/cli/cloud/login.go
  src/go/rpk/pkg/cli/cloud/resourcegroup/create.go
  src/go/rpk/pkg/cli/cloud/resourcegroup/delete.go
  src/go/rpk/pkg/cli/cloud/resourcegroup/list.go
  src/go/rpk/pkg/cli/profile/create.go
  src/go/rpk/pkg/cli/profile/create_test.go
  src/go/rpk/pkg/cloudapi/api_cluster.go
  src/go/rpk/pkg/cloudapi/api_namespace.go
  src/go/rpk/pkg/cloudapi/api_organization.go
  src/go/rpk/pkg/cloudapi/api_virtual_cluster.go
  src/go/rpk/pkg/cloudapi/cloudapi.go
  src/go/rpk/pkg/oauth/load.go
  src/go/rpk/pkg/oauth/load_test.go
  src/go/rpk/pkg/publicapi/controlplane.go
  src/go/rpk/pkg/publicapi/controlplane_test.go
Labels: area/rpk

#25253 dl/translation: add jitter to partition_translator
  src/v/datalake/data_writer_interface.cc
  src/v/datalake/data_writer_interface.h
  src/v/datalake/translation/BUILD
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
  tests/rptest/tests/datalake/cluster_restore_test.py
Labels: area/build, area/redpanda

#25144 Partition field source columns should be primitive typed
  src/v/iceberg/partition.cc
  src/v/iceberg/tests/compatibility_test.cc
  src/v/iceberg/tests/partition_test.cc
Labels: area/build, area/redpanda

#25249 dl/coordinator: remove expired snapshots from DLQ table
  src/v/datalake/coordinator/BUILD
  src/v/datalake/coordinator/iceberg_snapshot_remover.cc
  src/v/datalake/coordinator/iceberg_snapshot_remover.h
  src/v/datalake/coordinator/tests/iceberg_snapshot_remover_test.cc
Labels: area/build, area/redpanda

#25258 schema: make get API used by Iceberg more robust
  src/v/datalake/tests/record_schema_resolver_test.cc
  src/v/schema/registry.cc
  src/v/schema/registry.h
  src/v/schema/tests/fake_registry.h
Labels: area/redpanda

#25262 bazel: support microsoft fips compiler
  .bazelrc
  MODULE.bazel
  MODULE.bazel.lock
  src/go/rpk/cmd/rpk/BUILD
Labels: area/rpk, area/build

#25254 ct: Add read path
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/L0_read_path/BUILD
  src/v/cloud_topics/L0_read_path/L0_fetch_handler.cc
  src/v/cloud_topics/L0_read_path/L0_fetch_handler.h
  src/v/cloud_topics/L0_read_path/README.md
  src/v/cloud_topics/L0_read_path/placeholder_extent.cc
  src/v/cloud_topics/L0_read_path/placeholder_extent.h
  src/v/cloud_topics/L0_read_path/placeholder_extent_reader.cc
  src/v/cloud_topics/L0_read_path/placeholder_extent_reader.h
  src/v/cloud_topics/L0_read_path/tests/BUILD
  src/v/cloud_topics/L0_read_path/tests/L0_fetch_handler_test.cc
  src/v/cloud_topics/L0_read_path/tests/mocks.h
  src/v/cloud_topics/L0_read_path/tests/placeholder_extent_fixture.cc
  src/v/cloud_topics/L0_read_path/tests/placeholder_extent_fixture.h
  src/v/cloud_topics/L0_read_path/tests/placeholder_extent_reader_test.cc
  src/v/cloud_topics/L0_read_path/tests/placeholder_extent_test.cc
  src/v/cloud_topics/core/BUILD
  src/v/cloud_topics/core/circuit_breaker.h
  src/v/cloud_topics/core/read_pipeline.cc
  src/v/cloud_topics/core/read_pipeline.h
  src/v/cloud_topics/core/read_request.cc
  src/v/cloud_topics/core/read_request.h
  src/v/cloud_topics/core/tests/BUILD
  src/v/cloud_topics/core/tests/circuit_breaker_test.cc
  src/v/cloud_topics/core/tests/pipeline_bench.cc
  src/v/cloud_topics/interfaces/BUILD
  src/v/cloud_topics/interfaces/README.md
  src/v/cloud_topics/interfaces/cluster_partition_manager.cc
  src/v/cloud_topics/interfaces/cluster_partition_manager.h
  src/v/cloud_topics/interfaces/tests/BUILD
  src/v/cloud_topics/interfaces/tests/cluster_partition_manager_test.cc
  src/v/cloud_topics/interfaces/tests/mocks.h
  src/v/cloud_topics/interfaces/tests/partition_data_generator.h
Labels: area/build, area/redpanda

#25261 ssx/async_algorithm: trust caller to keep the container alive themselves
  src/v/ssx/async_algorithm.h
Labels: area/redpanda

#25095 Iceberg: adapt `merge_append_action` to schema evolution and multiple partition specs
  src/v/datalake/coordinator/iceberg_file_committer.cc
  src/v/datalake/coordinator/tests/iceberg_file_committer_test.cc
  src/v/datalake/coordinator/tests/iceberg_snapshot_remover_test.cc
  src/v/datalake/coordinator/tests/state_test_utils.cc
  src/v/iceberg/BUILD
  src/v/iceberg/compatibility.cc
  src/v/iceberg/compatibility.h
  src/v/iceberg/manifest_avro.cc
  src/v/iceberg/manifest_avro.h
  src/v/iceberg/manifest_io.cc
  src/v/iceberg/manifest_io.h
  src/v/iceberg/merge_append_action.cc
  src/v/iceberg/merge_append_action.h
  src/v/iceberg/metadata_query.cc
  src/v/iceberg/tests/BUILD
  src/v/iceberg/tests/compatibility_test.cc
  src/v/iceberg/tests/manifest_io_test.cc
  src/v/iceberg/tests/manifest_serialization_test.cc
  src/v/iceberg/tests/merge_append_action_test.cc
  src/v/iceberg/tests/metadata_query_test.cc
  src/v/iceberg/tests/rest_catalog_test.cc
  src/v/iceberg/transaction.cc
  src/v/iceberg/transaction.h
  src/v/iceberg/values.h
Labels: area/build, area/redpanda

#25244 Minor translator cleanups
  src/v/datalake/translation/deps.cc
  src/v/datalake/translation/deps.h
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/state_machine.cc
Labels: area/redpanda

#25221 CORE-8688: Tracking OOM's in crash tracker
  src/v/crash_tracker/prepared_writer.cc
  src/v/crash_tracker/prepared_writer.h
  src/v/crash_tracker/recorder.cc
  src/v/crash_tracker/recorder.h
  src/v/crash_tracker/tests/BUILD
  src/v/crash_tracker/tests/CMakeLists.txt
  src/v/crash_tracker/tests/crash_reporter_oom_test.cc
  src/v/crash_tracker/tests/recorder_test.cc
  src/v/crash_tracker/tests/utils.h
  src/v/crash_tracker/types.cc
  src/v/crash_tracker/types.h
  src/v/redpanda/application.cc
  src/v/resource_mgmt/BUILD
  src/v/resource_mgmt/CMakeLists.txt
  src/v/resource_mgmt/memory_sampling.cc
  src/v/resource_mgmt/tests/memory_sampling_tests.cc
Labels: area/build, area/redpanda

#25265 crash_tracker: fix helper for clang-20
  src/v/crash_tracker/recorder.cc
  src/v/crash_tracker/tests/recorder_test.cc
Labels: area/redpanda

#25264 ice/compat: Remove support for date -> timestamp promotion
  src/v/iceberg/compatibility.cc
  src/v/iceberg/tests/compatibility_test.cc
  tests/rptest/tests/datalake/schema_evolution_test.py
Labels: area/redpanda

#25257 `storage`: use `absl::btree_multimap<>` for `ntp_by_gc_size`
  src/v/storage/log_manager.cc
Labels: area/redpanda

#25268 ct: Improve data layout state machine
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/CMakeLists.txt
  src/v/cloud_topics/app.cc
  src/v/cloud_topics/app.h
  src/v/cloud_topics/batcher/BUILD
  src/v/cloud_topics/core/BUILD
  src/v/cloud_topics/dl_stm/BUILD
  src/v/cloud_topics/dl_stm/dl_stm.cc
  src/v/cloud_topics/dl_stm/dl_stm_api.cc
  src/v/cloud_topics/dl_stm/dl_stm_api.h
  src/v/cloud_topics/dl_stm/dl_stm_offsets.h
  src/v/cloud_topics/dl_stm/dl_stm_state.cc
  src/v/cloud_topics/dl_stm/dl_stm_state.h
  src/v/cloud_topics/dl_stm/tests/dl_stm_state_test.cc
  src/v/cloud_topics/interfaces/BUILD
  src/v/cloud_topics/reconciler/BUILD
  src/v/cloud_topics/reconciler/range_batch_consumer.cc
  src/v/cloud_topics/reconciler/range_batch_consumer.h
  src/v/cloud_topics/reconciler/reconciler.cc
  src/v/cloud_topics/reconciler/reconciler.h
  src/v/cloud_topics/tests/BUILD
  src/v/cloud_topics/tests/end_to_end_test.cc
  src/v/cloud_topics/throttler/BUILD
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/redpanda/tests/fixture.h
Labels: area/build, area/redpanda

#25273 iceberg/rest_client: catch exception in retry() attempt
  src/v/iceberg/rest_client/BUILD
  src/v/iceberg/rest_client/catalog_client.cc
Labels: area/build, area/redpanda

#25272 bazel/packaging: rename binaries
  .github/workflows/lint-bazel-pkg-tool.yml
  bazel/packaging/tool.go
Labels: area/build

#25270 CORE-9252 k/groups: do not throw from `group::rebalance_timeout()`
  src/v/kafka/server/group.cc
  src/v/kafka/server/tests/group_test.cc
  tests/rptest/clients/kcl.py
  tests/rptest/tests/consumer_group_test.py
Labels: area/redpanda

#25276 iceberg: REST client metrics
  src/v/datalake/coordinator/BUILD
  src/v/datalake/coordinator/catalog_factory.cc
  src/v/datalake/coordinator/catalog_factory.h
  src/v/iceberg/CMakeLists.txt
  src/v/iceberg/rest_client/BUILD
  src/v/iceberg/rest_client/catalog_client.cc
  src/v/iceberg/rest_client/catalog_client.h
  src/v/iceberg/rest_client/client_probe.cc
  src/v/iceberg/rest_client/client_probe.h
  src/v/redpanda/application.cc
  tests/rptest/tests/datalake/datalake_e2e_test.py
Labels: area/build, area/redpanda

#25282 bazel/sesatar: remove the libnuma patch
  MODULE.bazel.lock
  bazel/repositories.bzl
  bazel/thirdparty/seastar-remove-libnuma.patch
Labels: area/build

#25255 datalake/translator: followups to #5152
  .bazelrc
  src/v/datalake/datalake_manager.cc
  src/v/datalake/translation/deps.cc
  src/v/datalake/translation/deps.h
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
  src/v/datalake/translation/scheduling.cc
  src/v/datalake/translation/scheduling.h
  src/v/datalake/translation/tests/BUILD
  src/v/datalake/translation/tests/CMakeLists.txt
  src/v/datalake/translation/tests/partition_translator_tests.cc
  src/v/datalake/translation_task.cc
  src/v/datalake/translation_task.h
Labels: area/build, area/redpanda

#25288 iceberg/filesystem_catalog: create table with initialized snapshots
  src/v/datalake/coordinator/tests/iceberg_file_committer_test.cc
  src/v/iceberg/filesystem_catalog.cc
Labels: area/redpanda

#25271 `storage`: perform `gc()` every `log_compaction_interval_ms`
  src/v/storage/log_manager.cc
Labels: area/redpanda

#25274 [v24.3.x] `storage`: use `absl::btree_multimap<>` for `ntp_by_gc_size`
  src/v/storage/log_manager.cc
Labels: area/redpanda, kind/backport

#25245 base/vassert: type-erase assert handling
  src/v/base/BUILD
  src/v/base/CMakeLists.txt
  src/v/base/oncore.h
  src/v/base/tests/assert_log_holder_test.cc
  src/v/base/unreachable.h
  src/v/base/vassert-register.h
  src/v/base/vassert.cc
  src/v/base/vassert.h
  src/v/cloud_storage/access_time_tracker.cc
  src/v/compression/compression.cc
  src/v/crash_tracker/recorder.cc
  src/v/datalake/schema_avro.cc
  src/v/datalake/values_avro.cc
  src/v/datalake/values_protobuf.cc
  src/v/debug_bundle/tests/BUILD
  src/v/debug_bundle/tests/types_test.cc
  src/v/iceberg/BUILD
  src/v/iceberg/compatibility_types.cc
  src/v/iceberg/unresolved_partition_spec.h
  src/v/raft/tests/BUILD
  src/v/raft/tests/group_configuration_tests.cc
  src/v/redpanda/admin/debug.cc
  src/v/ssx/future-util.h
  src/v/test_utils/tmpbuf_file.h
  src/v/utils/chunked_kv_cache.h
  src/v/utils/tests/BUILD
  src/v/utils/tests/xid_test.cc
Labels: area/build, area/redpanda

#25278 k/topic_utils: do not iterate over the assignments set
  src/v/kafka/server/handlers/topics/topic_utils.cc
Labels: area/redpanda

#25169 Include partition key in the Iceberg data file location
  src/v/cloud_storage_clients/BUILD
  src/v/cloud_storage_clients/abs_client.cc
  src/v/cloud_storage_clients/s3_client.cc
  src/v/cloud_storage_clients/s3_client.h
  src/v/datalake/BUILD
  src/v/datalake/CMakeLists.txt
  src/v/datalake/datalake_manager.cc
  src/v/datalake/partition_key_path.cc
  src/v/datalake/partitioning_writer.cc
  src/v/datalake/partitioning_writer.h
  src/v/datalake/translation_task.cc
  tests/rptest/tests/datalake/datalake_e2e_test.py
Labels: area/build, area/redpanda

#25301 CORE-9332 [v24.3.x] CORE-9252 k/groups: do not throw from `group::rebalance_timeout()`
  src/v/kafka/server/group.cc
  src/v/kafka/server/tests/group_test.cc
  tests/rptest/clients/kcl.py
  tests/rptest/tests/consumer_group_test.py
Labels: area/redpanda, kind/backport

#25216 [CORE 8915] kafka: Implement Consumer Group Lag Metrics
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/CMakeLists.txt
  src/v/kafka/server/BUILD
  src/v/kafka/server/consumer_group_lag_metrics_frontend.cc
  src/v/kafka/server/consumer_group_lag_metrics_frontend.h
  src/v/kafka/server/consumer_group_lag_metrics_rpc.json
  src/v/kafka/server/consumer_group_lag_metrics_rpc_types.h
  src/v/kafka/server/consumer_group_lag_metrics_service.cc
  src/v/kafka/server/consumer_group_lag_metrics_service.h
  src/v/kafka/server/fwd.h
  src/v/kafka/server/group.cc
  src/v/kafka/server/group.h
  src/v/kafka/server/group_manager.cc
  src/v/kafka/server/group_manager.h
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  tests/rptest/tests/consumer_group_test.py
Labels: area/build, area/redpanda

#25202 CORE-8694 Implement rate limiting crash report telemetry
  src/v/cluster/controller.cc
  src/v/cluster/crash_reporter.cc
  src/v/cluster/crash_reporter.h
  src/v/cluster/tests/BUILD
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/crash_reporter_test.cc
  src/v/cluster/types.h
  src/v/storage/kvstore.h
Labels: area/build, area/redpanda

#25256 rpk: set User Agent in public API requests.
  src/go/rpk/pkg/cli/BUILD
  src/go/rpk/pkg/cli/cluster/storage/BUILD
  src/go/rpk/pkg/cli/cluster/storage/cancel-mount.go
  src/go/rpk/pkg/cli/cluster/storage/list-mount.go
  src/go/rpk/pkg/cli/cluster/storage/list-mountable.go
  src/go/rpk/pkg/cli/cluster/storage/mount.go
  src/go/rpk/pkg/cli/cluster/storage/status-mount.go
  src/go/rpk/pkg/cli/cluster/storage/unmount.go
  src/go/rpk/pkg/cli/profile/create.go
  src/go/rpk/pkg/cli/root.go
  src/go/rpk/pkg/cli/security/user/BUILD
  src/go/rpk/pkg/cli/security/user/create.go
  src/go/rpk/pkg/cli/security/user/delete.go
  src/go/rpk/pkg/cli/security/user/list.go
  src/go/rpk/pkg/cli/security/user/update.go
  src/go/rpk/pkg/cli/version/BUILD
  src/go/rpk/pkg/cli/version/version.go
  src/go/rpk/pkg/cli/version/versioncmd/BUILD
  src/go/rpk/pkg/cli/version/versioncmd/versioncmd.go
  src/go/rpk/pkg/config/BUILD
  src/go/rpk/pkg/config/rpk_yaml.go
  src/go/rpk/pkg/publicapi/BUILD
  src/go/rpk/pkg/publicapi/controlplane.go
  src/go/rpk/pkg/publicapi/dataplane.go
  src/go/rpk/pkg/publicapi/enterprise.go
  src/go/rpk/pkg/publicapi/publicapi.go
Labels: area/rpk, area/build

#25309 [CORE-9036] `archival`: fix invalid iterator dereference in `retention_calculator`
  src/v/cluster/archival/retention_calculator.cc
  src/v/cluster/archival/tests/retention_strategy_test.cc
Labels: area/redpanda

#25302 CORE-9333 [v24.2.x] CORE-9252 k/groups: do not throw from `group::rebalance_timeout()`
  src/v/kafka/server/group.cc
  src/v/kafka/server/tests/group_test.cc
  tests/rptest/clients/kcl.py
  tests/rptest/tests/consumer_group_test.py
Labels: area/redpanda, kind/backport

#25323 rpk: disable fetch sessions
  src/go/rpk/pkg/cli/topic/consume.go
Labels: area/rpk

#25318 Pass in an abort source into replicate options
  src/v/datalake/coordinator/state_machine.cc
  src/v/datalake/translation/state_machine.cc
  src/v/raft/replicate.h
  src/v/raft/replicate_batcher.cc
  src/v/raft/replicate_batcher.h
  src/v/raft/tests/basic_raft_fixture_test.cc
Labels: area/redpanda

#25325 fair_scheduler: make shares maps a class member
  src/v/datalake/translation/scheduling_policies.cc
  src/v/datalake/translation/scheduling_policies.h
Labels: area/redpanda

#25324 [CORE-9074] `cluster`: remove `node_health_report` logging
  src/v/cluster/health_monitor_backend.cc
Labels: area/redpanda

#25243 Pre restart probe fixup
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_backend.h
Labels: area/redpanda

#25314 rpk: make CLI and cluster versions explicit
  src/go/rpk/pkg/cli/version/version.go
  src/go/rpk/pkg/cli/version/versioncmd/versioncmd.go
Labels: area/rpk

#25226 Partition spec parser improvements
  src/v/datalake/BUILD
  src/v/datalake/CMakeLists.txt
  src/v/datalake/partition_spec_parser.cc
  src/v/datalake/tests/partition_spec_parser_test.cc
  src/v/iceberg/BUILD
  src/v/iceberg/transform.h
  src/v/iceberg/unresolved_partition_spec.cc
  src/v/iceberg/unresolved_partition_spec.h
  src/v/utils/BUILD
  src/v/utils/fixed_string.h
  src/v/utils/variant.h
Labels: area/build, area/redpanda

#25332 pandaproxy/probe: Eliminate unnecessary members
  src/v/pandaproxy/probe.cc
  src/v/pandaproxy/probe.h
Labels: area/redpanda, area/pandaproxy, area/schema-registry, area/metrics

#25330 application: stop coordinator before translators
  src/v/redpanda/application.cc
Labels: area/redpanda

#25310 dl/translator: add batching to translator
  src/v/datalake/datalake_manager.cc
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
  src/v/datalake/tests/translator_test.cc
  src/v/datalake/translation/BUILD
  src/v/datalake/translation/deps.cc
  src/v/datalake/translation/deps.h
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
  src/v/datalake/translation/tests/partition_translator_tests.cc
  src/v/datalake/translation_task.cc
  src/v/datalake/translation_task.h
  tests/rptest/tests/datalake/batching_test.py
  tests/rptest/tests/datalake/datalake_e2e_test.py
  tests/rptest/tests/datalake/datalake_services.py
  tests/rptest/tests/datalake/recovery_mode_test.py
Labels: area/build, area/redpanda

#25311 rpc_compiler slimming
  src/v/finjector/hbadger.h
  src/v/rpc/rpc_compiler.py
  src/v/rpc/test/cycling_service.json
  src/v/rpc/test/echo_service.json
  src/v/rpc/test/rpc_gen_cycling_test.cc
  src/v/rpc/transport.h
  src/v/storage/failure_probes.h
Labels: area/redpanda

#25338 [v24.3.x] Fixed checking if batches are already present in follower log
  src/v/raft/consensus.cc
  src/v/raft/tests/basic_raft_fixture_test.cc
  src/v/raft/tests/raft_fixture.cc
  src/v/raft/tests/raft_fixture.h
  src/v/raft/tests/replication_monitor_tests.cc
Labels: area/redpanda, kind/backport

#25327 rpk: bump dependencies to include security fixes
  MODULE.bazel
  MODULE.bazel.lock
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/oauth/BUILD
  src/go/rpk/pkg/oauth/oauth.go
  src/go/rpk/pkg/oauth/oauth_test.go
Labels: area/rpk, area/build

#25341 Move the bad timestamp metric
  src/v/kafka/server/handlers/produce.cc
  src/v/kafka/server/kafka_probe.h
  src/v/kafka/server/request_context.h
  src/v/kafka/server/tests/produce_consume_test.cc
  src/v/net/probes.cc
  src/v/net/server_probe.h
Labels: area/redpanda

#25331 [CORE-8946] Improve logging in the retention_calc
  src/v/cluster/archival/retention_calculator.cc
Labels: area/redpanda

#25320 cloud_storage: improve remote partition finalizer
  src/v/cloud_storage/remote_partition.cc
  src/v/cloud_storage/remote_partition.h
  src/v/cluster/partition.cc
  tests/rptest/tests/data_migrations_api_test.py
  tests/rptest/tests/node_pool_migration_test.py
  tests/rptest/tests/topic_delete_test.py
  tools/offline_log_viewer/controller.py
Labels: area/redpanda

#25342 Fixed URL encoding in Azure Blob Store client
  src/v/cloud_storage_clients/abs_client.cc
  src/v/cloud_storage_clients/s3_client.cc
  src/v/cloud_storage_clients/s3_client.h
  src/v/cloud_storage_clients/util.cc
  src/v/cloud_storage_clients/util.h
  tests/rptest/tests/datalake/datalake_e2e_test.py
Labels: area/redpanda

#25300 [v24.3.x] k/topic_utils: do not iterate over the assignments set
  src/v/kafka/server/handlers/topics/topic_utils.cc
Labels: area/redpanda, kind/backport

#25343 dl/translation/tests: misc changes to tests
  src/v/datalake/translation/tests/partition_translator_tests.cc
  tests/rptest/tests/datalake/datalake_e2e_test.py
  tests/rptest/tests/datalake/datalake_services.py
  tests/rptest/tests/datalake/datalake_upgrade_test.py
Labels: area/redpanda

#25347 config: make minimum Iceberg commit interval 10s
  src/v/config/configuration.cc
  tests/rptest/tests/datalake/datalake_services.py
Labels: area/redpanda

#25246 bazel/toolchain: fix llvm 18 toolcahin
  .bazelrc
  MODULE.bazel
  MODULE.bazel.lock
  bazel/toolchain/Dockerfile.llvm
  src/v/base/units.h
  src/v/compression/tests/snappy_tests.cc
  src/v/config/broker_authn_endpoint.cc
  src/v/config/rest_authn_endpoint.cc
  src/v/iceberg/tests/schema_avro_test.cc
  src/v/iceberg/values_json.cc
  src/v/pandaproxy/server.cc
  src/v/security/config_bsl.cc
  src/v/security/config_rcl.cc
  src/v/security/gssapi_rule.cc
  src/v/security/mtls_rule.cc
  src/v/utils/delta_for.h
Labels: area/build, area/redpanda

#25348 `datalake`: call `finally()` on reader in early return path
  src/v/datalake/translation/deps.cc
Labels: area/redpanda

#25312 CORE-9267: Add support for RFC2253
  MODULE.bazel.lock
  bazel/repositories.bzl
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/convert.h
  src/v/config/property.h
  src/v/config/rjson_serialization.cc
  src/v/config/rjson_serialization.h
  src/v/config/types.h
  src/v/kafka/server/server.cc
  src/v/net/connection.h
  tests/rptest/clients/rpk.py
  tests/rptest/services/tls.py
  tests/rptest/tests/acls_test.py
  tests/rptest/tests/cluster_config_test.py
Labels: area/build, area/redpanda

#25315 Iceberg custom partitioning: spec evolution
  src/v/cluster/topic_table.cc
  src/v/datalake/catalog_schema_manager.cc
  src/v/iceberg/BUILD
  src/v/iceberg/CMakeLists.txt
  src/v/iceberg/merge_append_action.cc
  src/v/iceberg/partition.h
  src/v/iceberg/table_requirement.h
  src/v/iceberg/table_requirement_json.cc
  src/v/iceberg/table_update.h
  src/v/iceberg/table_update_applier.cc
  src/v/iceberg/table_update_json.cc
  src/v/iceberg/tests/BUILD
  src/v/iceberg/tests/CMakeLists.txt
  src/v/iceberg/tests/merge_append_action_test.cc
  src/v/iceberg/tests/table_requests_json_test.cc
  src/v/iceberg/tests/table_update_applier_test.cc
  src/v/iceberg/tests/update_partition_spec_action_test.cc
  src/v/iceberg/transaction.cc
  src/v/iceberg/transaction.h
  src/v/iceberg/unresolved_partition_spec.h
  src/v/iceberg/update_partition_spec_action.cc
  src/v/iceberg/update_partition_spec_action.h
  src/v/kafka/server/handlers/alter_configs.cc
  src/v/kafka/server/handlers/configs/config_response_utils.cc
  src/v/kafka/server/handlers/incremental_alter_configs.cc
  tests/rptest/tests/datalake/custom_partitioning_test.py
Labels: area/build, area/redpanda

#25290 rpk: add cloud_environment to profile
  src/go/rpk/pkg/adminapi/admin_test.go
  src/go/rpk/pkg/config/params.go
  src/go/rpk/pkg/config/params_test.go
  src/go/rpk/pkg/config/rpk_yaml.go
  src/go/rpk/pkg/config/rpk_yaml_test.go
  src/go/rpk/pkg/oauth/load_test.go
Labels: area/rpk

#25362 [v24.3.x] rpk: bump dependencies to include security fixes
  MODULE.bazel
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/oauth/BUILD
  src/go/rpk/pkg/oauth/oauth.go
  src/go/rpk/pkg/oauth/oauth_test.go
Labels: area/rpk, area/build

#25355 [v24.3.x] rpk: make CLI and cluster versions explicit
  src/go/rpk/pkg/cli/version/version.go
Labels: area/rpk, kind/backport

#25164 Add new `analyze` command to `rpk topic`
  src/go/rpk/pkg/cli/topic/BUILD
  src/go/rpk/pkg/cli/topic/analyze.go
  src/go/rpk/pkg/cli/topic/analyze_test.go
  src/go/rpk/pkg/cli/topic/topic.go
  tests/rptest/clients/rpk.py
  tests/rptest/tests/rpk_topic_test.py
Labels: area/rpk, area/build, area/redpanda

#25375 [CORE-8917] Consumer Lag Improvements
  tests/rptest/tests/consumer_group_test.py
Labels: area/kafka

#25377 [v24.2.x] Fixed checking if batches are already present in follower log
  src/v/raft/consensus.cc
  src/v/raft/tests/basic_raft_fixture_test.cc
  src/v/raft/tests/raft_fixture.cc
  src/v/raft/tests/raft_fixture.h
  src/v/raft/tests/replication_monitor_tests.cc
Labels: area/redpanda, kind/backport

#25373 dl/parquet_writer: ensure stream closure in all cases
  src/v/datalake/local_parquet_file_writer.cc
  src/v/datalake/local_parquet_file_writer.h
  src/v/datalake/tests/local_parquet_file_writer_test.cc
Labels: area/redpanda

#25376 [CORE-9520] schema_registry/protobuf: Add test for map field
  tests/protobuf/payload.proto
Labels: area/schema-registry

#25363 dl/translation: simplify writer mem tracking
  src/v/datalake/data_writer_interface.h
  src/v/datalake/serde_parquet_writer.cc
  src/v/datalake/tests/test_data_writer.h
  src/v/datalake/translation/deps.cc
  src/v/datalake/translation/deps.h
  src/v/datalake/translation/tests/partition_translator_tests.cc
Labels: area/redpanda

#25371 rpk: enable serverless back for `rpk security user`
  src/go/rpk/pkg/cli/security/user/create.go
  src/go/rpk/pkg/cli/security/user/delete.go
  src/go/rpk/pkg/cli/security/user/list.go
  src/go/rpk/pkg/cli/security/user/update.go
Labels: area/rpk

#25386 [v24.3.x] rpk: enable serverless back for `rpk security user`
  src/go/rpk/pkg/cli/security/user/create.go
  src/go/rpk/pkg/cli/security/user/delete.go
  src/go/rpk/pkg/cli/security/user/list.go
  src/go/rpk/pkg/cli/security/user/update.go
Labels: area/rpk

#25374 [CORE-9519] utils/arch: Fix compilation failure
  src/v/utils/arch.h
Labels: area/redpanda

#25359 cpu_profiler test fixes
  src/v/resource_mgmt/BUILD
  src/v/resource_mgmt/cpu_profiler.cc
  src/v/resource_mgmt/tests/cpu_profiler_test.cc
Labels: area/build, area/redpanda

#25305 Exposing translation status from partition translator
  src/v/datalake/datalake_manager.cc
  src/v/datalake/translation/BUILD
  src/v/datalake/translation/deps.cc
  src/v/datalake/translation/deps.h
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
  src/v/datalake/translation/scheduling.h
  src/v/datalake/translation/state_machine.h
  src/v/datalake/translation/tests/partition_translator_tests.cc
  src/v/datalake/translation/tests/scheduler_fixture.h
  src/v/datalake/translation_task.cc
  src/v/datalake/translation_task.h
Labels: area/build, area/redpanda

#25387 `rpk`: add `datalake` and `iceberg` loggers to `possibleLoggers`
  src/go/rpk/pkg/cli/redpanda/admin/config/config.go
Labels: area/rpk

#25365 [v24.2.x] rpk: bump dependencies to include security fixes
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/oauth/oauth.go
  src/go/rpk/pkg/oauth/oauth_test.go
Labels: area/rpk

#25388 kafka/bench: make the fetch plan bench runnable in debug
  bazel/thirdparty/seastar.BUILD
  src/v/kafka/server/tests/fetch_plan_bench.cc
Labels: area/build, area/redpanda

#25392 [CORE-8946] cloud_storage: Update process_anomalies method
  src/v/cloud_storage/partition_manifest.cc
Labels: area/redpanda

#25389 iceberg: add file-less catalog TLS configs
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/datalake/coordinator/catalog_factory.cc
  src/v/datalake/coordinator/coordinator_manager.cc
  src/v/datalake/datalake_manager.cc
  tests/rptest/tests/cluster_config_test.py
  tests/rptest/tests/polaris_catalog_smoke_test.py
Labels: area/redpanda

#25372 datalake: benchmark zstd compressed batch translation
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/record_multiplexer_bench.cc
Labels: area/build, area/redpanda

#25275 [v24.2.x] `storage`: use `absl::btree_multimap<>` for `ntp_by_gc_size`
  src/v/storage/log_manager.cc
Labels: area/redpanda, kind/backport

#25382 [CORE-9524] Schema Registry/Protobuf: Remove protobuf_renderer config
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/pandaproxy/schema_registry/api.cc
  src/v/pandaproxy/schema_registry/protobuf.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
  src/v/pandaproxy/schema_registry/test/protobuf_rendering.cc
  src/v/pandaproxy/schema_registry/types.h
Labels: area/redpanda, area/schema-registry

#25402 CORE-9546: disable libpci dep for hwloc
  MODULE.bazel
  MODULE.bazel.lock
  bazel/thirdparty/hwloc.BUILD
Labels: area/build

#25403 sr: Perform initial read on only one shard
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/seq_writer.h
  src/v/pandaproxy/schema_registry/service.cc
Labels: area/redpanda

#25260 pandaproxy/sr: Fix normalization not being applied on stored schemas
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/store.h
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda

#25391 [v24.3.x] Add compression type metric
  src/v/kafka/server/handlers/produce.cc
  src/v/kafka/server/latency_probe.h
  src/v/kafka/server/tests/produce_consume_test.cc
  src/v/kafka/server/tests/produce_consume_utils.cc
  src/v/kafka/server/tests/produce_consume_utils.h
  src/v/model/compression.h
  src/v/model/tests/lexical_cast_tests.cc
Labels: area/redpanda, kind/backport

#25406 [v24.2.x] sr: Perform initial read on only one shard
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/seq_writer.h
  src/v/pandaproxy/schema_registry/service.cc
Labels: area/redpanda, kind/backport

#25408 [v24.3.x] sr: Perform initial read on only one shard
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/seq_writer.h
  src/v/pandaproxy/schema_registry/service.cc
Labels: area/redpanda, kind/backport

#25398 dl/translation: some minor qol fixes
  src/v/datalake/translation/deps.cc
  src/v/datalake/translation/deps.h
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
  src/v/datalake/translation/tests/partition_translator_tests.cc
  src/v/datalake/translation_task.cc
  src/v/datalake/translation_task.h
  tests/rptest/tests/datalake/datalake_upgrade_test.py
Labels: area/redpanda

#25405 r/stm_manager: do not populate batch cache when background apply happens
  src/v/raft/state_machine_manager.cc
Labels: area/redpanda

#25364 Bazilify resource_mgmt tests
  src/v/resource_mgmt/tests/BUILD
  src/v/storage/BUILD
Labels: area/build, area/redpanda

#25414 [v24.3.x] r/stm_manager: do not populate batch cache when background apply happens
  src/v/raft/state_machine_manager.cc
Labels: area/redpanda, kind/backport

#25401 r/buffered_protocol: fixed potential uaf error in append_entries_queue
  src/v/raft/buffered_protocol.cc
Labels: area/redpanda

#25404 Do not enable translation stm when datalake is disabled
  src/v/datalake/translation/state_machine.cc
  src/v/datalake/translation/state_machine.h
  src/v/redpanda/application.cc
Labels: area/redpanda

#25407 [v24.1.x] sr: Perform initial read on only one shard
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/seq_writer.h
  src/v/pandaproxy/schema_registry/service.cc
Labels: area/redpanda, kind/backport

#25039 Throttle requests if the translation backlog hits the limit
  src/v/config/configuration.cc
  src/v/datalake/datalake_manager.cc
  src/v/datalake/datalake_manager.h
  src/v/datalake/translation/BUILD
  src/v/datalake/translation/scheduling.cc
  src/v/datalake/translation/scheduling.h
  src/v/datalake/translation/scheduling_policies.cc
  src/v/datalake/translation/scheduling_policies.h
  src/v/datalake/translation/tests/fair_scheduling_policy_tests.cc
  src/v/datalake/translation/tests/partition_translator_tests.cc
  src/v/datalake/translation/tests/scheduler_fixture.h
  src/v/datalake/translation/tests/scheduler_tests.cc
  src/v/kafka/CMakeLists.txt
  src/v/kafka/protocol/BUILD
  src/v/kafka/server/BUILD
  src/v/kafka/server/app.cc
  src/v/kafka/server/app.h
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/datalake_throttle_manager.cc
  src/v/kafka/server/datalake_throttle_manager.h
  src/v/kafka/server/fwd.h
  src/v/kafka/server/handlers/produce.cc
  src/v/kafka/server/quota_manager.cc
  src/v/kafka/server/quota_manager.h
  src/v/kafka/server/server.cc
  src/v/kafka/server/server.h
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/datalake_throttle_manager_test.cc
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  src/v/redpanda/tests/fixture.h
  tests/rptest/tests/datalake/throttling_test.py
Labels: area/build, area/redpanda

#25361 Murmur3 iobuf
  .bazelrc
  src/v/bytes/random.cc
  src/v/bytes/random.h
  src/v/coding-style.md
  src/v/hashing/BUILD
  src/v/hashing/murmur.cc
  src/v/hashing/murmur.h
  src/v/hashing/tests/BUILD
  src/v/hashing/tests/CMakeLists.txt
  src/v/hashing/tests/hash_bench.cc
  src/v/hashing/tests/murmur_tests.cc
Labels: area/build, area/redpanda

#25417 [v24.2.x] pandaproxy/sr: Fix normalization not being applied on stored schemas
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/store.h
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda

#25416 [v24.3.x] pandaproxy/sr: Fix normalization not being applied on stored schemas
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/store.h
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda

#25418 metrics: Export host metrics from Redpanda
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/metrics/BUILD
  src/v/metrics/CMakeLists.txt
  src/v/metrics/host_metrics_watcher.cc
  src/v/metrics/host_metrics_watcher.h
  src/v/metrics/tests/BUILD
  src/v/metrics/tests/host_metrics_watcher_test.cc
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
  tests/rptest/tests/host_metrics_test.py
Labels: area/build, area/redpanda

#25412 Iceberg partition transforms: bucket and truncate
  src/v/iceberg/BUILD
  src/v/iceberg/CMakeLists.txt
  src/v/iceberg/bucket_transform_hashing_visitor.cc
  src/v/iceberg/bucket_transform_hashing_visitor.h
  src/v/iceberg/partition_key.cc
  src/v/iceberg/tests/BUILD
  src/v/iceberg/tests/transform_utils_bucket.py
  src/v/iceberg/tests/transform_utils_test.cc
  src/v/iceberg/transform_utils.cc
  src/v/iceberg/transform_utils.h
  src/v/iceberg/truncate_transform_visitor.cc
  src/v/iceberg/truncate_transform_visitor.h
Labels: area/build, area/redpanda

#25134 [CORE-9329] `storage`: concurrent housekeeping
  src/v/storage/BUILD
  src/v/storage/log_housekeeping_meta.h
  src/v/storage/log_manager.cc
  src/v/storage/log_manager.h
  src/v/storage/tests/storage_e2e_test.cc
  tests/rptest/tests/full_disk_test.py
Labels: area/build, area/redpanda

#25421 [v24.3.x] Do not enable translation stm when datalake is disabled
  src/v/datalake/translation/state_machine.cc
  src/v/datalake/translation/state_machine.h
  src/v/redpanda/application.cc
Labels: area/redpanda, kind/backport

#25425 GitHub Workflow: Add v25.1.x as backport
  .github/pull_request_template.md
Labels: area/build

#25428 dl/translator: prefix files with topic partition id
  src/v/datalake/translation/deps.cc
Labels: area/redpanda

#24566 archival: Disable cross-term compaction
  src/v/cluster/archival/segment_reupload.cc
  src/v/cluster/archival/tests/ntp_archiver_reupload_test.cc
Labels: area/redpanda

#25400 Added missing state machine tests to Bazel build
  src/v/cluster/archival/tests/BUILD
  src/v/cluster/tests/BUILD
Labels: area/build, area/redpanda

#25394 cpu_profiler: add scheduler group
  src/v/redpanda/admin/api-doc/debug.json
  src/v/redpanda/admin/debug.cc
  src/v/resource_mgmt/cpu_profiler.cc
  src/v/resource_mgmt/cpu_profiler.h
  src/v/resource_mgmt/tests/BUILD
  src/v/resource_mgmt/tests/cpu_profiler_test.cc
Labels: area/build, area/redpanda

#25422 Add memory_sampler_test to bazel
  MODULE.bazel.lock
  bazel/repositories.bzl
  src/v/resource_mgmt/memory_sampling.cc
  src/v/resource_mgmt/tests/BUILD
  src/v/wasm/tests/wasm_transform_test.cc
Labels: area/build, area/redpanda, area/wasm

#25437 [v25.1.x] dl/translator: prefix files with topic partition id
  src/v/datalake/translation/deps.cc
Labels: area/redpanda, kind/backport

#25446 [v25.1.x] CORE-9245 dt: deflake crash tracker signal tests
  tests/rptest/remote_scripts/tgkill.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/crash_loop_checks_test.py
Labels: kind/backport

#25450 [v25.1.x] [CORE-9530] kafka/lag_metrics/test: Increase produce count
  tests/rptest/tests/consumer_group_test.py
Labels: kind/backport

#25451 `config`: edit `iceberg` authentication cluster property descriptions
  src/v/config/configuration.cc
Labels: area/redpanda

#25457 [v25.1.x] `config`: edit `iceberg` authentication cluster property descriptions
  src/v/config/configuration.cc
Labels: area/redpanda, kind/backport

#25459 [v25.1.x] `datalake`: fix missing parameter in log line
  src/v/datalake/translation/deps.cc
Labels: area/redpanda, kind/backport

#25448 [v24.3.x] CORE-9267: Add support for RFC2253
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/convert.h
  src/v/config/property.h
  src/v/config/rjson_serialization.cc
  src/v/config/rjson_serialization.h
  src/v/config/types.h
  src/v/kafka/server/server.cc
  src/v/net/connection.h
  tests/rptest/clients/rpk.py
  tests/rptest/services/tls.py
  tests/rptest/tests/acls_test.py
  tests/rptest/tests/cluster_config_test.py
Labels: area/redpanda, kind/backport

#25217 pandaproxy/sr: Relax schema registry startup validity requirements
  src/v/pandaproxy/schema_registry/handlers.cc
  src/v/pandaproxy/schema_registry/seq_writer.cc
  src/v/pandaproxy/schema_registry/sharded_store.cc
  src/v/pandaproxy/schema_registry/sharded_store.h
  src/v/pandaproxy/schema_registry/store.h
  src/v/pandaproxy/schema_registry/test/compatibility_protobuf.cc
  src/v/pandaproxy/schema_registry/test/compatibility_store.cc
  src/v/pandaproxy/schema_registry/test/mt_sharded_store.cc
  src/v/pandaproxy/schema_registry/test/protobuf_rendering.cc
  src/v/pandaproxy/schema_registry/test/sharded_store.cc
  src/v/pandaproxy/schema_registry/test/store.cc
  src/v/pandaproxy/schema_registry/test/test_json_schema.cc
  src/v/pandaproxy/schema_registry/types.cc
  src/v/pandaproxy/schema_registry/types.h
  tests/rptest/tests/schema_registry_test.py
Labels: area/redpanda, area/schema-registry

#25452 [v25.1.x] dt/scram_test: Prefer `redpanda.set_cluster_config`
  tests/rptest/tests/scram_test.py
Labels: kind/backport

#25426 [v24.3.x] `archival`: use `log_level_for_error()` in `find_reupload_candidate()` (manual backport)
  src/v/cluster/archival/ntp_archiver_service.cc
Labels: area/redpanda

#25445 [v24.2.x] c/rm_stm: correct error codes
  src/v/cluster/rm_stm.cc
Labels: area/redpanda, kind/backport

#25458 [v25.1.x] `misc`: PR followup multiplexing
  src/v/storage/log_manager.cc
  tests/rptest/remote_scripts/stream_verifier_txn.py
  tests/rptest/tests/datalake/compaction_test.py
Labels: area/redpanda, kind/backport

#25460 c/backend: fix copy pasta error in learner offset calculation
  src/v/cluster/controller_backend.cc
Labels: area/redpanda

#25441 Iceberg filesystem catalog: check table requirements
  src/v/iceberg/BUILD
  src/v/iceberg/CMakeLists.txt
  src/v/iceberg/filesystem_catalog.cc
  src/v/iceberg/table_requirement.cc
  src/v/iceberg/table_requirement.h
  src/v/iceberg/tests/BUILD
  src/v/iceberg/tests/CMakeLists.txt
  src/v/iceberg/tests/table_requirements_test.cc
Labels: area/build, area/redpanda

#25481 [CORE-9571] `storage`: add bytes before calling `release_appender()`
  src/v/storage/disk_log_impl.cc
Labels: area/redpanda

#25423 dl/translation: fixes for OOM handling
  src/v/datalake/data_writer_interface.cc
  src/v/datalake/data_writer_interface.h
  src/v/datalake/local_parquet_file_writer.cc
  src/v/datalake/local_parquet_file_writer.h
  src/v/datalake/partitioning_writer.cc
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
  src/v/datalake/serde_parquet_writer.cc
  src/v/datalake/serde_parquet_writer.h
  src/v/datalake/tests/BUILD
  src/v/datalake/tests/CMakeLists.txt
  src/v/datalake/tests/gtest_record_multiplexer_test.cc
  src/v/datalake/tests/record_multiplexer_bench.cc
  src/v/datalake/tests/record_multiplexer_test.cc
  src/v/datalake/tests/test_data_writer.h
  src/v/datalake/tests/translation_task_test.cc
  src/v/datalake/translation/deps.cc
  src/v/datalake/translation/deps.h
  src/v/datalake/translation/partition_translator.cc
  src/v/datalake/translation/partition_translator.h
  src/v/datalake/translation/scheduling.cc
  src/v/datalake/translation/tests/partition_translator_tests.cc
  src/v/datalake/translation_task.cc
  src/v/datalake/translation_task.h
  tests/rptest/tests/datalake/custom_partitioning_test.py
  tests/rptest/tests/datalake/translation_interruption_test.py
Labels: area/build, area/redpanda

#25476 [v24.3.x] c/backend: fix copy pasta error in learner offset calculation
  src/v/cluster/controller_backend.cc
Labels: area/redpanda, kind/backport

#25477 [v24.2.x] c/backend: fix copy pasta error in learner offset calculation
  src/v/cluster/controller_backend.cc
Labels: area/redpanda, kind/backport

#25465 CORE-9559 crash_tracker: handle exception while initializing
  src/v/crash_tracker/prepared_writer.h
  src/v/crash_tracker/recorder.cc
  src/v/crash_tracker/tests/recorder_test.cc
Labels: area/redpanda

#25383 [CORE-9523] Consumer Group Lag: Set empty shard label
  src/v/kafka/server/group.cc
  src/v/kafka/server/group_probe.h
Labels: area/redpanda

#25471 [CORE-9572] `storage`: prevent use after free for concurrent housekeeping in `log_manager`
  src/v/storage/log_housekeeping_meta.h
  src/v/storage/log_manager.cc
Labels: area/redpanda

#25484 [v25.1.x] Improvments to `iobuf::append`
  src/v/bytes/details/io_fragment.h
  src/v/bytes/iobuf.h
  src/v/bytes/tests/BUILD
  src/v/bytes/tests/iobuf_bench.cc
Labels: area/build, area/redpanda, kind/backport
