Repository redpanda-data/redpanda, pull requests merged in 2025-09, with the labels that each got.

#27245 cluster_link: Add topic reconciler
  src/v/cluster_link/BUILD
  src/v/cluster_link/link.cc
  src/v/cluster_link/link.h
  src/v/cluster_link/manager.cc
  src/v/cluster_link/manager.h
  src/v/cluster_link/service.cc
  src/v/cluster_link/service.h
  src/v/cluster_link/tests/BUILD
  src/v/cluster_link/tests/deps.cc
  src/v/cluster_link/tests/deps.h
  src/v/cluster_link/tests/link_test.cc
  src/v/cluster_link/tests/topic_reconciler_test.cc
  src/v/cluster_link/topic_reconciler.cc
  src/v/cluster_link/topic_reconciler.h
  src/v/cluster_link/utils/BUILD
  src/v/cluster_link/utils/topic_properties_utils.cc
  src/v/cluster_link/utils/topic_properties_utils.h
  src/v/config/leaders_preference.cc
  src/v/config/leaders_preference.h
  src/v/kafka/data/rpc/deps.cc
  src/v/kafka/data/rpc/deps.h
  src/v/kafka/data/rpc/test/deps.cc
  src/v/kafka/data/rpc/test/deps.h
  src/v/kafka/server/handlers/configs/config_utils.h
  src/v/kafka/server/handlers/topics/types.cc
  src/v/kafka/server/handlers/topics/types.h
  src/v/redpanda/application.cc
Labels: area/build, area/redpanda

#27295 [CORE-13170] - Support SR ACLs in DescribeACLs
  src/v/kafka/protocol/schemata/describe_acls_request.json
  src/v/kafka/protocol/schemata/describe_acls_response.json
  src/v/kafka/server/handlers/describe_acls.cc
  src/v/kafka/server/handlers/details/security.h
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/describe_acls_test.cc
Labels: area/build, area/redpanda

#27443 fixture.h: split into .h and .cc
  src/v/cloud_storage/tests/BUILD
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/kafka/client/test/describe_topics.cc
  src/v/kafka/client/test/metadata.cc
  src/v/kafka/client/test/retry.cc
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/alter_config_test.cc
  src/v/kafka/server/tests/alter_user_scram_credentials_test.cc
  src/v/kafka/server/tests/api_versions_test.cc
  src/v/kafka/server/tests/consumer_groups_test.cc
  src/v/kafka/server/tests/create_partition_test.cc
  src/v/kafka/server/tests/create_topics_test.cc
  src/v/kafka/server/tests/delete_topics_test.cc
  src/v/kafka/server/tests/describe_user_scram_credentials_test.cc
  src/v/kafka/server/tests/fetch_bench.cc
  src/v/kafka/server/tests/fetch_test.cc
  src/v/kafka/server/tests/find_coordinator_test.cc
  src/v/kafka/server/tests/group_tx_compaction_test.cc
  src/v/kafka/server/tests/list_offsets_test.cc
  src/v/kafka/server/tests/metadata_test.cc
  src/v/kafka/server/tests/offset_fetch_test.cc
  src/v/kafka/server/tests/partition_reassignments_test.cc
  src/v/kafka/server/tests/produce_partition_bench.cc
  src/v/kafka/server/tests/replicated_partition_test.cc
  src/v/kafka/server/tests/topic_properties_helpers.h
  src/v/kafka/server/tests/topic_recreate_test.cc
  src/v/pandaproxy/rest/test/consumer_group.cc
  src/v/pandaproxy/rest/test/fetch.cc
  src/v/pandaproxy/rest/test/list_topics.cc
  src/v/pandaproxy/rest/test/produce.cc
  src/v/pandaproxy/schema_registry/test/get_schema_types.cc
  src/v/pandaproxy/schema_registry/test/post_subjects_subject_version.cc
  src/v/redpanda/tests/BUILD
  src/v/redpanda/tests/fixture.cc
  src/v/redpanda/tests/fixture.h
Labels: area/build, area/redpanda

#27452 ct: force quorum writes
  src/v/cloud_topics/frontend/frontend.cc
Labels: area/redpanda

#27436 pbgen: add basic generic field lookup
  bazel/pbgen/main.go
  bazel/pbgen/pbgen.bzl
  src/v/bytes/iobuf.cc
  src/v/bytes/iobuf.h
  src/v/serde/protobuf/BUILD
  src/v/serde/protobuf/base.cc
  src/v/serde/protobuf/base.h
  src/v/serde/protobuf/tests/BUILD
  src/v/serde/protobuf/tests/goldens/codegen_test.proto.cc
  src/v/serde/protobuf/tests/goldens/codegen_test.proto.h
  src/v/serde/protobuf/tests/goldens/test_messages_edition2023.proto.cc
  src/v/serde/protobuf/tests/goldens/test_messages_edition2023.proto.h
  src/v/serde/protobuf/tests/reflection_test.cc
Labels: area/build, area/redpanda

#27373 cluster_link/replication: add remote data source and partition sink
  src/v/cluster/tests/cluster_test_fixture.h
  src/v/cluster_link/BUILD
  src/v/cluster_link/link.cc
  src/v/cluster_link/link.h
  src/v/cluster_link/manager.cc
  src/v/cluster_link/manager.h
  src/v/cluster_link/replication/BUILD
  src/v/cluster_link/replication/deps.h
  src/v/cluster_link/replication/deps_impl.cc
  src/v/cluster_link/replication/deps_impl.h
  src/v/cluster_link/replication/link_replication_mgr.cc
  src/v/cluster_link/replication/link_replication_mgr.h
  src/v/cluster_link/replication/mux_remote_consumer.cc
  src/v/cluster_link/replication/mux_remote_consumer.h
  src/v/cluster_link/replication/partition_data_queue.cc
  src/v/cluster_link/replication/partition_data_queue.h
  src/v/cluster_link/replication/partition_replicator.cc
  src/v/cluster_link/replication/partition_replicator.h
  src/v/cluster_link/replication/tests/BUILD
  src/v/cluster_link/replication/tests/deps_test_impl.cc
  src/v/cluster_link/replication/tests/deps_test_impl.h
  src/v/cluster_link/replication/tests/link_replication_mgr_tests.cc
  src/v/cluster_link/replication/tests/mux_consumer_fixture_tests.cc
  src/v/cluster_link/replication/tests/partition_data_queue_tests.cc
  src/v/cluster_link/replication/tests/partition_replicator_fixture_tests.cc
  src/v/cluster_link/service.cc
  src/v/cluster_link/task.cc
  src/v/cluster_link/task.h
  src/v/cluster_link/tests/BUILD
  src/v/cluster_link/tests/deps.cc
  src/v/cluster_link/tests/deps.h
  src/v/cluster_link/tests/link_test.cc
  src/v/cluster_link/tests/task_manager_integration_test.cc
  src/v/kafka/client/direct_consumer/direct_consumer.h
  src/v/kafka/client/direct_consumer/tests/direct_consumer_fixture.cc
  src/v/kafka/client/direct_consumer/tests/direct_consumer_fixture.h
  src/v/kafka/client/direct_consumer/tests/direct_consumer_fixture_test.cc
  src/v/kafka/server/tests/produce_consume_utils.cc
  src/v/kafka/server/tests/produce_consume_utils.h
  src/v/redpanda/BUILD
  src/v/redpanda/application.cc
  src/v/redpanda/tests/fixture.cc
  src/v/redpanda/tests/fixture.h
  tests/rptest/tests/cluster_linking_test_base.py
Labels: area/build, area/redpanda

#27329 Added consumer groups mirroring task
  src/v/cluster_link/BUILD
  src/v/cluster_link/deps.h
  src/v/cluster_link/group_mirroring_task.cc
  src/v/cluster_link/group_mirroring_task.h
  src/v/cluster_link/link.cc
  src/v/cluster_link/link.h
  src/v/cluster_link/manager.cc
  src/v/cluster_link/manager.h
  src/v/cluster_link/model/BUILD
  src/v/cluster_link/model/filter_utils.cc
  src/v/cluster_link/model/filter_utils.h
  src/v/cluster_link/model/types.cc
  src/v/cluster_link/model/types.h
  src/v/cluster_link/service.cc
  src/v/cluster_link/service.h
  src/v/cluster_link/tests/BUILD
  src/v/cluster_link/tests/deps.cc
  src/v/cluster_link/tests/deps.h
  src/v/cluster_link/tests/group_mirroring_task_test.cc
  src/v/cluster_link/tests/link_test.cc
  src/v/kafka/client/brokers.h
  src/v/kafka/client/cluster.h
  src/v/redpanda/application.cc
Labels: area/build, area/redpanda

#27449 kafka fetch: make planning hierarchical
  src/v/kafka/server/fetch_metadata_cache.h
  src/v/kafka/server/handlers/fetch.cc
  src/v/kafka/server/handlers/fetch.h
  src/v/kafka/server/tests/fetch_plan_bench.cc
Labels: area/redpanda

#26676 [CORE-12748] Archival: Miscellaneous improvements to async_data_uploader, tests
  src/v/cluster/archival/async_data_uploader.cc
  src/v/cluster/archival/async_data_uploader.h
  src/v/cluster/archival/tests/BUILD
  src/v/cluster/archival/tests/async_data_uploader_fixture.cc
  src/v/cluster/archival/tests/async_data_uploader_fixture.h
  src/v/cluster/archival/tests/async_data_uploader_test.cc
  src/v/cluster/archival/tests/segment_reupload_test.cc
  src/v/cluster/archival/tests/service_fixture.cc
  src/v/cluster/archival/tests/service_fixture.h
  src/v/storage/lock_manager.cc
  src/v/storage/tests/utils/disk_log_builder.cc
  src/v/storage/tests/utils/disk_log_builder.h
  src/v/storage/types.h
Labels: area/build, area/redpanda

#27426 tuner: Fix NIC auto addr detection
  src/go/rpk/pkg/net/interfaces.go
  src/go/rpk/pkg/tuners/factory/factory.go
  src/go/rpk/pkg/tuners/redpanda_checkers.go
Labels: area/rpk

#27142 [v25.2.x] c/leaders_table: wire in controller abort source
  src/v/cluster/controller.cc
  src/v/cluster/partition_leaders_table.cc
  src/v/cluster/partition_leaders_table.h
  src/v/cluster/tests/partition_leaders_table_test.cc
Labels: area/redpanda, kind/backport

#27401 Added e2e tests for DR
  src/v/cluster_link/deps.h
  src/v/cluster_link/manager.cc
  src/v/cluster_link/service.cc
  src/v/cluster_link/tests/deps.h
  src/v/redpanda/admin/services/shadow_link/converter.cc
  tests/rptest/tests/cluster_linking_e2e_test.py
  tests/rptest/tests/cluster_linking_test_base.py
Labels: area/build, area/redpanda

#26533 Reduce read concurrency in fetch handler
  src/v/kafka/server/handlers/fetch.cc
Labels: area/build, area/redpanda

#27508 [v25.1.x] Update ducktape-deps spark
  tests/docker/ducktape-deps/spark
Labels: kind/backport

#27516 [v25.2.x] CORE-13288 dt/simple_http_server: respond after valid request
  tests/rptest/remote_scripts/simple_http_server.py
  tests/rptest/tests/crash_reporter_test.py
Labels: kind/backport

#27485 iceberg: remove manifest entry distinct_counts
  src/v/iceberg/manifest_entry.cc
  src/v/iceberg/manifest_entry.h
  src/v/iceberg/manifest_entry_values.cc
  src/v/iceberg/tests/gen_test_iceberg_manifest.py
  src/v/iceberg/tests/manifest_serialization_test.cc
  src/v/iceberg/tests/testdata/nested_manifest.avro
  src/v/iceberg/values.h
Labels: area/redpanda

#27515 [v25.1.x] CORE-13288 dt/simple_http_server: respond after valid request
  tests/rptest/remote_scripts/simple_http_server.py
  tests/rptest/tests/crash_reporter_test.py
Labels: kind/backport

#27554 ct/l1: add length of partition data to seek results
  src/v/cloud_topics/level_one/common/object.cc
  src/v/cloud_topics/level_one/common/object.h
  src/v/cloud_topics/level_one/common/tests/object_test.cc
Labels: area/redpanda

#26634 Audit logging over internal RPC
  src/v/cluster/tests/cluster_test_fixture.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/kafka/data/rpc/client.cc
  src/v/kafka/data/rpc/client.h
  src/v/redpanda/application.cc
  src/v/redpanda/tests/fixture.cc
  src/v/security/audit/BUILD
  src/v/security/audit/audit_log_manager.cc
  src/v/security/audit/audit_log_manager.h
  src/v/security/audit/client.cc
  src/v/security/audit/client.h
  src/v/security/audit/fwd.h
  src/v/security/audit/tests/BUILD
  src/v/security/audit/tests/audit_log_test.cc
  src/v/security/audit/tests/audit_test_utils.cc
  src/v/security/audit/tests/audit_test_utils.h
  tests/rptest/scale_tests/audit_log_test.py
  tests/rptest/tests/audit_log_test.py
  tests/rptest/tests/enterprise_features_license_test.py
Labels: area/build, area/redpanda, area/wasm

#27431 [CORE-13215] ct/l1: Add a level one reader
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/level_one/common/fake_io.cc
  src/v/cloud_topics/level_one/frontend_reader/BUILD
  src/v/cloud_topics/level_one/frontend_reader/reader.cc
  src/v/cloud_topics/level_one/frontend_reader/reader.h
  src/v/cloud_topics/level_one/frontend_reader/tests/BUILD
  src/v/cloud_topics/level_one/frontend_reader/tests/reader_test.cc
Labels: area/build, area/redpanda

#27576 ct/l1: reader followups
  src/v/cloud_topics/level_one/domain/domain_manager.cc
  src/v/cloud_topics/level_one/frontend_reader/reader.cc
  src/v/cloud_topics/level_one/frontend_reader/reader.h
  src/v/cloud_topics/level_one/metastore/metastore.h
  src/v/cloud_topics/level_one/metastore/replicated_metastore.cc
  src/v/cloud_topics/level_one/metastore/rpc_types.h
  src/v/cloud_topics/level_one/metastore/simple_metastore.cc
  src/v/cloud_topics/level_one/metastore/tests/simple_metastore_test.cc
Labels: area/redpanda

#27570 [v25.2.x] CORE-12871: Avoid softlocking adjacent segment merger by skipping across compacted segments
  src/v/cluster/archival/adjacent_segment_merger.cc
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/ntp_archiver_service.h
  tests/rptest/tests/adjacent_segment_merging_test.py
  tests/rptest/util.py
Labels: area/redpanda, kind/backport

#27565 Fixed handling of offset out of range error
  src/v/cluster_link/replication/deps.h
  src/v/cluster_link/replication/deps_impl.cc
  src/v/cluster_link/replication/deps_impl.h
  src/v/cluster_link/replication/mux_remote_consumer.cc
  src/v/cluster_link/replication/mux_remote_consumer.h
  src/v/cluster_link/replication/partition_replicator.cc
  src/v/cluster_link/replication/tests/deps_test_impl.cc
  src/v/cluster_link/replication/tests/deps_test_impl.h
  src/v/cluster_link/replication/tests/link_replication_mgr_tests.cc
  src/v/cluster_link/replication/tests/mux_consumer_fixture_tests.cc
  src/v/cluster_link/replication/tests/partition_replicator_tests.cc
  src/v/kafka/client/direct_consumer/fetcher.cc
  src/v/kafka/client/direct_consumer/fetcher.h
  src/v/kafka/client/direct_consumer/tests/direct_consumer_test.cc
Labels: area/redpanda

#27509 Added basic raft replication benchmark
  src/v/raft/tests/BUILD
  src/v/raft/tests/basic_raft_fixture_test.cc
  src/v/raft/tests/raft_fixture.cc
  src/v/raft/tests/raft_fixture.h
  src/v/raft/tests/raft_fixture_base.cc
  src/v/raft/tests/raft_fixture_base.h
  src/v/raft/tests/raft_reconfiguration_test.cc
  src/v/raft/tests/raft_replicate_benchmark.cc
  src/v/raft/tests/state_removal_test.cc
Labels: area/build, area/redpanda

#27464 [v25.2.x] rpk: add `--wait` to `remote-bundle start`
  src/go/rpk/pkg/cli/debug/remotebundle/download.go
  src/go/rpk/pkg/cli/debug/remotebundle/start.go
Labels: area/rpk, kind/backport

#27566 [v25.2.x] admin: handle log level requests on shard 0
  src/v/redpanda/admin/server.cc
  src/v/redpanda/admin/server.h
Labels: area/redpanda, kind/backport

#27428 Split read recovery memory equally between partitions
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/raft/group_manager.cc
  src/v/raft/group_manager.h
  src/v/raft/recovery_memory_quota.cc
  src/v/raft/recovery_memory_quota.h
  src/v/raft/tests/raft_fixture_base.cc
  src/v/raft/tests/raft_fixture_base.h
  src/v/raft/tests/simple_raft_fixture.h
  src/v/redpanda/application.cc
  tests/rptest/transactions/compaction_e2e_test.py
Labels: area/redpanda

#27523 CORE-10236 Add support for UpdateShadowLink API
  src/v/cluster/cluster_link/frontend.cc
  src/v/cluster/cluster_link/frontend.h
  src/v/cluster/cluster_link/table.cc
  src/v/cluster/cluster_link/table.h
  src/v/cluster/cluster_link/tests/frontend_validation_test.cc
  src/v/cluster/cluster_link/tests/table_test.cc
  src/v/cluster/cluster_link/tests/utils.cc
  src/v/cluster/cluster_link/tests/utils.h
  src/v/cluster/commands.h
  src/v/cluster/controller.json
  src/v/cluster/service.cc
  src/v/cluster/service.h
  src/v/cluster/types.h
  src/v/cluster_link/deps.h
  src/v/cluster_link/link.cc
  src/v/cluster_link/link.h
  src/v/cluster_link/manager.cc
  src/v/cluster_link/manager.h
  src/v/cluster_link/model/types.cc
  src/v/cluster_link/model/types.h
  src/v/cluster_link/service.cc
  src/v/cluster_link/service.h
  src/v/cluster_link/tests/deps.h
  src/v/redpanda/admin/services/shadow_link/BUILD
  src/v/redpanda/admin/services/shadow_link/converter.cc
  src/v/redpanda/admin/services/shadow_link/converter.h
  src/v/redpanda/admin/services/shadow_link/shadow_link.cc
  src/v/redpanda/admin/services/shadow_link/shadow_link.h
  src/v/redpanda/admin/services/shadow_link/tests/converter_test.cc
  src/v/redpanda/application.cc
  tests/rptest/tests/cluster_linking_e2e_test.py
  tests/rptest/tests/cluster_linking_test_base.py
Labels: area/build, area/redpanda

#27581 CORE-13319: type check rptest
  .github/workflows/type-check-python.yaml
  tests/.dockerignore
  tests/local_venv.sh
  tests/pyrightconfig.json
  tests/rptest/clients/default.py
  tests/rptest/clients/kafka_cat.py
  tests/rptest/clients/kafka_cli_tools.py
  tests/rptest/clients/types.py
  tests/rptest/redpanda_cloud_tests/omb_validation_test.py
  tests/rptest/redpanda_cloud_tests/serverless_validation_test.py
  tests/rptest/services/redpanda_types.py
  tests/rptest/tests/audit_log_test.py
  tests/rptest/tests/cluster_linking_topic_syncing_test.py
  tests/rptest/tests/controller_erase_test.py
  tests/rptest/tests/isolated_decommissioned_node_test.py
  tests/rptest/tests/log_compaction_test.py
  tests/rptest/tests/partition_reassignments_test.py
  tests/rptest/tests/raft_recovery_test.py
  tests/rptest/tests/redpanda_kerberos_test.py
  tests/setup.py
  tests/type-checking/Dockerfile
  tests/type-checking/README.md
  tests/type-checking/requirements.txt
  tests/type-checking/type-check-strictness.json
  tests/type-checking/type-check.py
  tests/type-checking/type-check.sh
Labels: area/build

#27391 kafka/server: find_coordinator v4 support
  src/v/kafka/protocol/find_coordinator.h
  src/v/kafka/protocol/schemata/find_coordinator_request.json
  src/v/kafka/protocol/schemata/find_coordinator_response.json
  src/v/kafka/protocol/schemata/generator.py
  src/v/kafka/server/handlers/find_coordinator.cc
  src/v/kafka/server/handlers/find_coordinator.h
  src/v/kafka/server/request_context.h
  src/v/kafka/server/tests/find_coordinator_test.cc
Labels: area/redpanda

#27593 `ct/l1`: add `meta` and `logger` [CT - Compaction #1]
  src/v/cloud_topics/level_one/compaction/BUILD
  src/v/cloud_topics/level_one/compaction/filter.cc
  src/v/cloud_topics/level_one/compaction/filter.h
  src/v/cloud_topics/level_one/compaction/logger.h
  src/v/cloud_topics/level_one/compaction/meta.h
  src/v/cloud_topics/level_one/metastore/BUILD
  src/v/cloud_topics/level_one/metastore/metastore.h
  src/v/cloud_topics/level_one/metastore/replicated_metastore.cc
  src/v/cloud_topics/level_one/metastore/replicated_metastore.h
  src/v/cloud_topics/level_one/metastore/simple_metastore.cc
  src/v/cloud_topics/level_one/metastore/simple_metastore.h
  src/v/cloud_topics/level_one/metastore/tests/simple_metastore_test.cc
  src/v/compaction/reducer.h
Labels: area/build, area/redpanda

#27577 [CORE-13253] cloud_topics: collect ctp inactive epoch into health report for L0 GC
  src/v/cloud_topics/app.cc
  src/v/cloud_topics/level_zero/gc/BUILD
  src/v/cloud_topics/level_zero/gc/level_zero_gc.cc
  src/v/cloud_topics/level_zero/gc/level_zero_gc.h
  src/v/cloud_topics/level_zero/stm/ctp_stm_factory.cc
  src/v/cloud_topics/level_zero/stm/ctp_stm_factory.h
  src/v/cloud_topics/level_zero/stm/tests/ctp_stm_test.cc
  src/v/cloud_topics/manager/manager.cc
  src/v/cloud_topics/manager/manager.h
  src/v/cluster/health_monitor_backend.cc
  src/v/cluster/health_monitor_types.cc
  src/v/cluster/health_monitor_types.h
  src/v/cluster/partition.cc
  src/v/cluster/partition.h
  src/v/cluster/tests/health_monitor_bench.cc
  src/v/redpanda/application.cc
Labels: area/build, area/redpanda

#27588 datalake: properly determine client timestamp
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/tests/record_multiplexer_test.cc
Labels: area/redpanda

#27599 [v25.2.x] `kafka`: add `kafka_produce_batch_validation` and rework timestamp validation (MANUAL BACKPORT)
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/config/convert.h
  src/v/config/property.h
  src/v/config/rjson_serialization.cc
  src/v/config/rjson_serialization.h
  src/v/kafka/protocol/kafka_batch_adapter.cc
  src/v/kafka/server/BUILD
  src/v/kafka/server/handlers/produce.cc
  src/v/kafka/server/handlers/produce_validation.cc
  src/v/kafka/server/handlers/produce_validation.h
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/produce_consume_test.cc
  src/v/kafka/server/tests/produce_consume_utils.cc
  src/v/kafka/server/tests/produce_consume_utils.h
  src/v/model/metadata.h
  src/v/model/model.cc
  tests/docker/ducktape-deps/golang-test-clients
  tests/go/sarama/produce_legacy_version_test/go.mod
  tests/go/sarama/produce_legacy_version_test/main.go
  tests/rptest/services/redpanda.py
  tests/rptest/tests/basic_kafka_compat_test.py
  tests/rptest/tests/compatibility/sarama_produce_test.py
Labels: area/build, area/redpanda

#27607 [CORE-13296] security/oidc_service: Set TLS from cluster_config
  src/v/security/oidc_service.cc
Labels: area/redpanda

#27511 kafka/server: only disable strict max bytes for obligatory batch reads
  src/v/kafka/server/handlers/fetch.cc
Labels: area/redpanda

#27589 Run some Shadow Linking test against Kafka cluster
  src/v/kafka/client/broker.cc
  src/v/kafka/client/transport.h
  tests/rptest/services/kafka.py
  tests/rptest/services/multi_cluster_services.py
  tests/rptest/tests/cluster_linking_e2e_test.py
  tests/rptest/tests/cluster_linking_test_base.py
Labels: area/redpanda

#27610 rptest: type fixes round 2
  .github/copilot-instructions.md
  tests/rptest/clients/kcl.py
  tests/rptest/perf/openmessaging_perf_test.py
  tests/rptest/perf/small_batches_test.py
  tests/rptest/services/catalog_service.py
  tests/rptest/services/chaos/faults/all.py
  tests/rptest/services/chaos/faults/fault.py
  tests/rptest/services/chaos/types.py
  tests/rptest/services/chaos/workloads/all.py
  tests/rptest/services/client_swarm_base.py
  tests/rptest/services/datalake/catalog/biglake.py
  tests/rptest/services/keycloak.py
  tests/rptest/services/producer_swarm.py
  tests/rptest/services/redpanda.py
  tests/rptest/tests/datalake/datalake_dlq_test.py
  tests/rptest/tests/node_metrics_test.py
  tests/rptest/tests/scaling_up_test.py
  tests/rptest/tests/workload_dummy.py
  tests/rptest/util.py
  tests/rptest/utils/node_metrics.py
  tests/type-checking/type-check-strictness.json
Labels: area/build

#27618 sec/audit: Add missing APIs to OCSF event map
  src/v/kafka/protocol/BUILD
  src/v/security/audit/BUILD
  src/v/security/audit/schemas/tests/BUILD
  src/v/security/audit/schemas/tests/utils_test.cc
  src/v/security/audit/schemas/utils.cc
Labels: area/build, area/redpanda

#27616 container: add benchmark for absl map variability
  src/v/container/tests/BUILD
  src/v/container/tests/absl_map_bench.cc
Labels: area/build, area/redpanda

#27605 `ct`: log shutdown errors in `reconciler` at `DEBUG`
  src/v/cloud_topics/reconciler/BUILD
  src/v/cloud_topics/reconciler/reconciler.cc
Labels: area/build, area/redpanda

#27623 [v25.2.x] sec/audit: Add missing APIs to OCSF event map
  src/v/kafka/protocol/BUILD
  src/v/security/audit/BUILD
  src/v/security/audit/schemas/tests/BUILD
  src/v/security/audit/schemas/tests/utils_test.cc
  src/v/security/audit/schemas/utils.cc
Labels: area/build, area/redpanda

#27587 ct: Downgrade the assertion in ct/frontend
  src/v/cloud_topics/frontend/frontend.cc
  src/v/cluster/producer_state.cc
  src/v/cluster/rm_stm_types.h
Labels: area/redpanda

#27571 cloud topics: prep for retention work
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/retention_calculator.cc
  src/v/cluster/log_eviction_stm.cc
  src/v/cluster/partition.cc
  src/v/cluster/partition_recovery_manager.cc
  src/v/kafka/server/handlers/delete_records.cc
  src/v/storage/disk_log_impl.cc
  src/v/storage/ntp_config.h
  src/v/storage/tests/log_retention_test.cc
Labels: area/redpanda

#27620 cloud_topics: don't log shutdown errors at error level
  src/v/cloud_topics/level_zero/throttler/throttler.cc
Labels: area/redpanda

#27622 ct/l1: support combining L1 objects
  src/v/cloud_topics/level_one/common/object.cc
  src/v/cloud_topics/level_one/common/object.h
  src/v/cloud_topics/level_one/common/tests/object_test.cc
  src/v/model/tests/random_batch.cc
  src/v/model/tests/random_batch.h
Labels: area/redpanda

#27619 rm_stm: cleanup variable/parameter naming
  src/v/cluster/producer_state.cc
  src/v/cluster/rm_stm_types.cc
  src/v/cluster/rm_stm_types.h
Labels: area/redpanda

#27617 pbgen: fixes to protoc plugin
  bazel/build.bzl
  bazel/pbgen/main.go
  bazel/pbgen/pbgen.bzl
  src/v/serde/protobuf/tests/goldens/test_messages_edition2023.proto.h
Labels: area/build, area/redpanda

#27596 `ct/l1`: forward progress on compaction `sink` and `source` [CT - Compaction #3]
  src/v/cloud_topics/level_one/compaction/BUILD
  src/v/cloud_topics/level_one/compaction/committer.h
  src/v/cloud_topics/level_one/compaction/sink.cc
  src/v/cloud_topics/level_one/compaction/sink.h
  src/v/cloud_topics/level_one/compaction/source.cc
  src/v/cloud_topics/level_one/compaction/source.h
  src/v/cloud_topics/level_one/compaction/tests/BUILD
  src/v/cloud_topics/level_one/compaction/tests/in_memory_sink.cc
  src/v/cloud_topics/level_one/compaction/tests/in_memory_sink.h
  src/v/cloud_topics/level_one/compaction/tests/reducer_test.cc
  src/v/cloud_topics/level_one/frontend_reader/tests/BUILD
  src/v/cloud_topics/level_one/frontend_reader/tests/l1_reader_fixture.h
  src/v/cloud_topics/level_one/frontend_reader/tests/reader_test.cc
Labels: area/build, area/redpanda

#27627 cl/tests: deflake ShadowLinkingReplicationTests.test_replication_with_failures
  src/v/cluster_link/replication/deps_impl.cc
  src/v/cluster_link/replication/partition_replicator.cc
Labels: area/redpanda

#27634 ct: add first offset to get_first_ge
  src/v/cloud_topics/level_one/domain/domain_manager.cc
  src/v/cloud_topics/level_one/metastore/metastore.h
  src/v/cloud_topics/level_one/metastore/replicated_metastore.cc
  src/v/cloud_topics/level_one/metastore/rpc_types.h
  src/v/cloud_topics/level_one/metastore/simple_metastore.cc
  src/v/cloud_topics/level_one/metastore/tests/simple_metastore_test.cc
Labels: area/redpanda

#27637 [CORE-13410] cloud_storage: fix large allocation when listing objects
  src/v/cloud_io/remote.cc
  src/v/cloud_storage/inventory/tests/fetch_report_tests.cc
  src/v/cloud_storage/tests/remote_test.cc
  src/v/cloud_storage/topic_manifest_downloader.cc
  src/v/cloud_storage_clients/abs_client.cc
  src/v/cloud_storage_clients/client.h
  src/v/cloud_storage_clients/s3_client.cc
  src/v/cloud_storage_clients/tests/xml_sax_parser_test.cc
  src/v/cloud_storage_clients/xml_sax_parser.cc
  src/v/cloud_storage_clients/xml_sax_parser.h
  src/v/cloud_topics/level_zero/gc/level_zero_gc.cc
  src/v/cloud_topics/level_zero/gc/tests/level_zero_gc_tests.cc
  src/v/cluster/self_test/cloudcheck.cc
Labels: area/redpanda

#27639 cloud_storage: fix open file descriptor leak
  src/v/cloud_storage_clients/xml_sax_parser.cc
Labels: area/redpanda

#27640 k/metadata: update stale comment in metadata handler
  src/v/kafka/server/handlers/metadata.cc
Labels: area/redpanda

#27632 ct/l1: implement metastore APIs for bytes based retention.
  src/v/cloud_topics/level_one/domain/domain_manager.cc
  src/v/cloud_topics/level_one/domain/domain_manager.h
  src/v/cloud_topics/level_one/metastore/frontend.cc
  src/v/cloud_topics/level_one/metastore/frontend.h
  src/v/cloud_topics/level_one/metastore/metastore.h
  src/v/cloud_topics/level_one/metastore/replicated_metastore.cc
  src/v/cloud_topics/level_one/metastore/replicated_metastore.h
  src/v/cloud_topics/level_one/metastore/rpc.json
  src/v/cloud_topics/level_one/metastore/rpc_types.h
  src/v/cloud_topics/level_one/metastore/service.cc
  src/v/cloud_topics/level_one/metastore/service.h
  src/v/cloud_topics/level_one/metastore/simple_metastore.cc
  src/v/cloud_topics/level_one/metastore/simple_metastore.h
  src/v/cloud_topics/level_one/metastore/tests/simple_metastore_test.cc
Labels: area/redpanda

#27635 [CORE-13403] ct: Add follower fetching
  src/v/cloud_topics/frontend/frontend.cc
  tests/rptest/tests/follower_fetching_test.py
Labels: area/redpanda

#27650 [CORE-13429] ct: cancel pending requests on write_pipeline shutdown
  src/v/cloud_topics/level_zero/pipeline/base_pipeline.h
Labels: area/redpanda

#27445 [CORE-13246] kafka/handlers: modify delete_topic to return authZ failure when protected
  src/v/kafka/server/handlers/delete_records.cc
  src/v/kafka/server/handlers/details/alter_config_utils.h
  src/v/kafka/server/server.cc
  tests/rptest/tests/data_transforms_test.py
Labels: area/redpanda

#27646 cloud_topics: add housekeeper for retention
  src/v/cloud_topics/housekeeper/BUILD
  src/v/cloud_topics/housekeeper/housekeeper.cc
  src/v/cloud_topics/housekeeper/housekeeper.h
  src/v/cloud_topics/housekeeper/tests/BUILD
  src/v/cloud_topics/housekeeper/tests/housekeeper_test.cc
  src/v/cloud_topics/level_one/common/BUILD
  src/v/cloud_topics/level_one/metastore/metastore.h
Labels: area/build, area/redpanda

#27661 [v25.1.x] r/buffered_proto: removed status log line
  src/v/raft/buffered_protocol.cc
  src/v/raft/buffered_protocol.h
Labels: area/redpanda, kind/backport

#27691 ct: repurpose manager for leadership notifications
  src/v/cloud_topics/BUILD
  src/v/cloud_topics/app.cc
  src/v/cloud_topics/app.h
  src/v/cloud_topics/housekeeper/BUILD
  src/v/cloud_topics/housekeeper/housekeeper.h
  src/v/cloud_topics/housekeeper/manager.cc
  src/v/cloud_topics/housekeeper/manager.h
  src/v/cloud_topics/level_zero/gc/level_zero_gc.cc
  src/v/cloud_topics/level_zero/gc/level_zero_gc.h
  src/v/cloud_topics/level_zero/gc/tests/level_zero_gc_tests.cc
  src/v/cloud_topics/manager/BUILD
  src/v/cloud_topics/manager/manager.cc
  src/v/cloud_topics/manager/manager.h
  src/v/cloud_topics/reconciler/BUILD
  src/v/cloud_topics/reconciler/reconciler.cc
  src/v/cloud_topics/reconciler/reconciler.h
  src/v/redpanda/application.cc
Labels: area/build, area/redpanda

#27689 cluster: Serialize cluster_link in snapshot
  src/v/cluster/controller_snapshot.cc
  src/v/cluster/controller_snapshot.h
Labels: area/redpanda

#27697 ct/l1: squash unchecked optional access in replicated metastore
  src/v/cloud_topics/level_one/frontend_reader/tests/l1_reader_fixture.h
  src/v/cloud_topics/level_one/frontend_reader/tests/reader_test.cc
  src/v/cloud_topics/level_one/metastore/frontend.h
  src/v/cloud_topics/level_one/metastore/metastore.h
  src/v/cloud_topics/level_one/metastore/replicated_metastore.cc
  src/v/cloud_topics/level_one/metastore/replicated_metastore.h
  src/v/cloud_topics/level_one/metastore/simple_metastore.cc
  src/v/cloud_topics/level_one/metastore/simple_metastore.h
  src/v/cloud_topics/level_one/metastore/tests/replicated_metastore_test.cc
  src/v/cloud_topics/level_one/metastore/tests/simple_metastore_test.cc
  src/v/cloud_topics/reconciler/reconciler.cc
Labels: area/redpanda

#27645 Add Shadow Link cluster config
  src/v/cluster/cluster_link/frontend.cc
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/features/feature_table.cc
  src/v/features/feature_table.h
  src/v/redpanda/tests/fixture.cc
  tests/rptest/tests/cluster_linking_test_base.py
  tools/dev_cluster.py
Labels: area/redpanda

#27681 data-migrate: improve __consumer_offsets topic absense handling
  src/v/cluster/data_migration_backend.cc
  src/v/cluster/data_migration_frontend.cc
Labels: area/redpanda

#27666 model: introduce batch_builder
  src/v/kafka/data/record_batcher.cc
  src/v/model/BUILD
  src/v/model/batch_builder.cc
  src/v/model/batch_builder.h
  src/v/model/record.h
  src/v/model/tests/BUILD
  src/v/model/tests/batch_builder_test.cc
Labels: area/build, area/redpanda

#27700 Added cluster linking scheduling group
  bazel/thirdparty/seastar.BUILD
  src/v/cluster_link/link.cc
  src/v/cluster_link/manager.cc
  src/v/cluster_link/manager.h
  src/v/cluster_link/service.cc
  src/v/cluster_link/service.h
  src/v/cluster_link/tests/deps.cc
  src/v/cluster_link/tests/link_test.cc
  src/v/redpanda/application.cc
  src/v/resource_mgmt/cpu_scheduling.h
Labels: area/build, area/redpanda

#27709 ct: notification manager followups
  src/v/cloud_topics/app.cc
  src/v/cloud_topics/housekeeper/manager.cc
  src/v/cloud_topics/level_one/domain/BUILD
  src/v/cloud_topics/level_one/domain/domain_supervisor.cc
  src/v/cloud_topics/level_one/domain/domain_supervisor.h
  src/v/cloud_topics/manager/manager.cc
  src/v/cloud_topics/manager/manager.h
  src/v/cloud_topics/reconciler/reconciler.cc
Labels: area/build, area/redpanda

#27692 ct/l1: change metastore *_objects signatures to take const refs
  src/v/cloud_topics/level_one/frontend_reader/tests/l1_reader_fixture.h
  src/v/cloud_topics/level_one/frontend_reader/tests/reader_test.cc
  src/v/cloud_topics/level_one/metastore/metastore.h
  src/v/cloud_topics/level_one/metastore/replicated_metastore.cc
  src/v/cloud_topics/level_one/metastore/replicated_metastore.h
  src/v/cloud_topics/level_one/metastore/simple_metastore.cc
  src/v/cloud_topics/level_one/metastore/simple_metastore.h
  src/v/cloud_topics/level_one/metastore/tests/replicated_metastore_test.cc
  src/v/cloud_topics/level_one/metastore/tests/simple_metastore_test.cc
  src/v/cloud_topics/reconciler/reconciler.cc
Labels: area/build, area/redpanda

#27686 treewide: untangle boost test gtest
  src/v/cloud_storage/tests/cloud_storage_e2e_test.cc
  src/v/cloud_storage/tests/util.cc
  src/v/cluster/archival/tests/archival_service_fixture.h
  src/v/cluster/archival/tests/service_fixture.h
  src/v/cluster/cloud_metadata/tests/cluster_recovery_backend_test.cc
  src/v/cluster/cloud_metadata/tests/manifest_downloads_test.cc
  src/v/cluster/tests/cluster_test_fixture.h
  src/v/cluster/tests/partition_balancer_planner_fixture.h
  src/v/cluster/tests/topic_table_fixture.h
  src/v/redpanda/tests/BUILD
  src/v/redpanda/tests/fixture.cc
  src/v/redpanda/tests/fixture.h
  src/v/storage/tests/BUILD
  src/v/storage/tests/batch_cache_reclaim_test.cc
  src/v/storage/tests/compaction_index_format_test.cc
  src/v/test_utils/BUILD
  src/v/test_utils/archival.h
  src/v/test_utils/async.h
  src/v/test_utils/fixture.h
Labels: area/build, area/redpanda

#27710 rpk shadow: introduce first shadow commands
  MODULE.bazel
  src/go/rpk/go.mod
  src/go/rpk/go.sum
  src/go/rpk/pkg/cli/BUILD
  src/go/rpk/pkg/cli/root.go
  src/go/rpk/pkg/cli/shadow/BUILD
  src/go/rpk/pkg/cli/shadow/config.go
  src/go/rpk/pkg/cli/shadow/create.go
  src/go/rpk/pkg/cli/shadow/delete.go
  src/go/rpk/pkg/cli/shadow/list.go
  src/go/rpk/pkg/cli/shadow/mapper.go
  src/go/rpk/pkg/cli/shadow/shadow.go
  src/go/rpk/pkg/cli/shadow/status.go
  src/go/rpk/pkg/cli/shadow/types.go
  src/go/rpk/pkg/cli/shadow/types_test.go
Labels: area/rpk, area/build

#27715 iceberg: couple logging improvements
  src/v/datalake/coordinator/coordinator.cc
  src/v/iceberg/rest_client/BUILD
  src/v/iceberg/rest_client/catalog_client.cc
Labels: area/build, area/redpanda

#27713 ct: fix shutdown hang
  src/v/cloud_topics/housekeeper/manager.cc
  src/v/cloud_topics/level_zero/batcher/batcher.cc
  src/v/cloud_topics/level_zero/pipeline/write_pipeline.cc
  src/v/cloud_topics/level_zero/stm/ctp_stm_api.cc
Labels: area/redpanda

#27699 [CORE-13316] redpanda/admin: log cluster config update details with version
  src/v/redpanda/admin/server.cc
Labels: area/redpanda

#27726 gtest_listener_test: bail if fail-fast is set
  src/v/test_utils/tests/gtest_listener_test.cc
Labels: area/redpanda

#27724 cloud_topics/reconciler: add retry mechanism for transport errors
  src/v/cloud_topics/reconciler/BUILD
  src/v/cloud_topics/reconciler/reconciler.cc
  src/v/cloud_topics/reconciler/reconciler.h
Labels: area/build, area/redpanda

#27735 [v25.2.x] iceberg: json schema: accept integers as numbers (doubles)
  src/v/iceberg/conversion/tests/iceberg_json_tests.cc
  src/v/iceberg/conversion/values_json.cc
Labels: area/redpanda, kind/backport

#27737 datalake: clean up files after translation error
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
  src/v/datalake/record_schema_resolver.cc
  src/v/datalake/record_schema_resolver.h
  src/v/datalake/tests/gtest_record_multiplexer_test.cc
  src/v/datalake/tests/record_multiplexer_bench.cc
  src/v/datalake/tests/record_multiplexer_test.cc
  src/v/datalake/tests/translation_task_test.cc
  src/v/datalake/translation_task.cc
Labels: area/redpanda

#27457 [CORE-13279] - Support ACL sync for DR
  src/v/cluster_link/BUILD
  src/v/cluster_link/deps.cc
  src/v/cluster_link/deps.h
  src/v/cluster_link/link.cc
  src/v/cluster_link/link.h
  src/v/cluster_link/manager.cc
  src/v/cluster_link/manager.h
  src/v/cluster_link/model/types.cc
  src/v/cluster_link/model/types.h
  src/v/cluster_link/security_migrator.cc
  src/v/cluster_link/security_migrator.h
  src/v/cluster_link/service.cc
  src/v/cluster_link/service.h
  src/v/cluster_link/tests/BUILD
  src/v/cluster_link/tests/deps.cc
  src/v/cluster_link/tests/deps.h
  src/v/cluster_link/tests/link_test.cc
  src/v/cluster_link/tests/security_migrator_test.cc
  src/v/kafka/client/test/BUILD
  src/v/kafka/client/test/cluster_mock.cc
  src/v/kafka/client/test/cluster_mock.h
  src/v/kafka/protocol/tests/BUILD
  src/v/kafka/server/BUILD
  src/v/kafka/server/connection_context.h
  src/v/kafka/server/handlers/describe_acls.cc
  src/v/kafka/server/handlers/details/security.cc
  src/v/kafka/server/handlers/details/security.h
  src/v/kafka/server/handlers/metadata.cc
  src/v/kafka/server/server.cc
  src/v/kafka/server/tests/BUILD
  src/v/redpanda/admin/services/shadow_link/converter.cc
  src/v/redpanda/admin/services/shadow_link/tests/converter_test.cc
  src/v/redpanda/application.cc
  tests/rptest/tests/cluster_linking_e2e_test.py
  tests/rptest/tests/cluster_linking_test_base.py
Labels: area/build, area/redpanda

#27702 [v25.2.x] [CORE-13368] k/server: change alter user scram credentials api logic
  src/v/kafka/server/connection_context.cc
  src/v/kafka/server/connection_context.h
  src/v/kafka/server/handlers/alter_user_scram_credentials.cc
  src/v/kafka/server/tests/alter_user_scram_credentials_test.cc
Labels: area/redpanda

#27752 bazel: add github action to lint bazel dependency graph
  .github/workflows/lint-bazel-dependency-graph.yml
Labels: area/build

#27707 kafka/server: fix issue in delete topic
  src/v/kafka/server/server.cc
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/delete_topics_test.cc
Labels: area/build, area/redpanda

#27754 `cluster`: replace `std::vector` with `chunked_vector` in `data_plan`
  src/v/cluster/partition_balancer_planner.h
Labels: area/redpanda

#27768 [v25.2.x] [CORE-13523]: Make sure ntp_archiver probes are torn down immediately during partition::stop
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/partition.cc
Labels: area/redpanda, kind/backport

#27761 [v25.1.x] `cluster`: replace `std::vector` with `chunked_vector` in `data_plan`
  src/v/cluster/partition_balancer_planner.h
Labels: area/redpanda, kind/backport

#27760 [v25.2.x] `cluster`: replace `std::vector` with `chunked_vector` in `data_plan`
  src/v/cluster/partition_balancer_planner.h
Labels: area/redpanda, kind/backport

#27767 [v24.3.x] [CORE-13523]: Make sure ntp_archiver probes are torn down immediately during partition::stop
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/partition.cc
Labels: area/redpanda, kind/backport

#27714 [CORE-13370] archival: Fence spillover command
  src/v/cluster/archival/ntp_archiver_service.cc
  src/v/cluster/archival/ntp_archiver_service.h
Labels: area/redpanda

#27739 serde/test: remove dep on cluster
  src/v/serde/rw/envelope.h
  src/v/serde/rw/iobuf.h
  src/v/serde/rw/scalar.h
  src/v/serde/test/BUILD
  src/v/serde/test/bench.cc
Labels: area/build, area/redpanda

#27777 [v25.1.x] `raft`: replace `std::vector<>` with `chunked_vector<>` in `service.h`
  src/v/raft/service.h
Labels: area/redpanda, kind/backport

#27766 [v25.1.x] datalake: clean up files after translation error
  src/v/datalake/record_multiplexer.cc
  src/v/datalake/record_multiplexer.h
  src/v/datalake/record_schema_resolver.cc
  src/v/datalake/record_schema_resolver.h
  src/v/datalake/tests/gtest_record_multiplexer_test.cc
  src/v/datalake/tests/record_multiplexer_bench.cc
  src/v/datalake/tests/record_multiplexer_test.cc
  src/v/datalake/tests/translation_task_test.cc
  src/v/datalake/translation_task.cc
Labels: area/redpanda

#27269 ct: Add write_balancer component
  src/v/cloud_topics/level_zero/common/BUILD
  src/v/cloud_topics/level_zero/pipeline/BUILD
  src/v/cloud_topics/level_zero/pipeline/read_pipeline.cc
  src/v/cloud_topics/level_zero/pipeline/write_pipeline.cc
  src/v/cloud_topics/level_zero/pipeline/write_pipeline.h
  src/v/cloud_topics/level_zero/pipeline/write_request.h
  src/v/cloud_topics/level_zero/write_request_scheduler/BUILD
  src/v/cloud_topics/level_zero/write_request_scheduler/tests/BUILD
  src/v/cloud_topics/level_zero/write_request_scheduler/tests/write_request_scheduler_bench.cc
  src/v/cloud_topics/level_zero/write_request_scheduler/tests/write_request_scheduler_test.cc
  src/v/cloud_topics/level_zero/write_request_scheduler/write_request_scheduler.cc
  src/v/cloud_topics/level_zero/write_request_scheduler/write_request_scheduler.h
  src/v/config/configuration.cc
  src/v/config/configuration.h
  src/v/resource_mgmt/memory_groups.cc
  src/v/resource_mgmt/memory_groups.h
  src/v/resource_mgmt/tests/memory_groups_test.cc
Labels: area/build, area/redpanda

#27791 ct: Make write_request_scheduler_test more robust
  src/v/cloud_topics/level_zero/write_request_scheduler/tests/write_request_scheduler_test.cc
Labels: area/redpanda

#27756 Support partial records in kafka fetch responses
  src/v/kafka/protocol/batch_reader.cc
  src/v/kafka/protocol/batch_reader.h
  src/v/kafka/protocol/kafka_batch_adapter.cc
  src/v/kafka/protocol/kafka_batch_adapter.h
  src/v/kafka/protocol/tests/BUILD
  src/v/kafka/protocol/tests/batch_reader_test.cc
  src/v/kafka/protocol/wire.h
  src/v/kafka/server/tests/BUILD
  src/v/kafka/server/tests/produce_invalid_batch_test.cc
  src/v/model/record.h
  src/v/model/tests/BUILD
  src/v/model/tests/raw_record_batch_factory.h
Labels: area/build, area/redpanda

#27738 [CORE-13424] ct/reconciler: store LRO in CTP STM
  src/v/cloud_topics/app.cc
  src/v/cloud_topics/level_one/common/abstract_io.cc
  src/v/cloud_topics/level_one/common/abstract_io.h
  src/v/cloud_topics/level_zero/stm/ctp_stm_api.cc
  src/v/cloud_topics/reconciler/BUILD
  src/v/cloud_topics/reconciler/reconciler.cc
  src/v/cloud_topics/reconciler/reconciler.h
  src/v/cloud_topics/reconciler/reconciliation_consumer.cc
  src/v/cloud_topics/reconciler/reconciliation_consumer.h
  src/v/cloud_topics/reconciler/reconciliation_source.cc
  src/v/cloud_topics/reconciler/reconciliation_source.h
  src/v/cloud_topics/reconciler/tests/BUILD
  src/v/cloud_topics/reconciler/tests/reconciler_test.cc
  tests/rptest/tests/cloud_topics/e2e_test.py
Labels: area/build, area/redpanda

#27799 cl/replicator: fix duration overflow
  src/v/cluster_link/replication/partition_replicator.cc
  src/v/cluster_link/replication/tests/partition_replicator_tests.cc
Labels: area/redpanda

#27748 [v25.1.x] tests/rpk: tolerate `-1` in epoch field
  tests/rptest/clients/rpk.py
Labels: kind/backport

#27800 storage: miscellaneous clean up
  src/v/cloud_topics/level_zero/frontend_reader/BUILD
  src/v/cloud_topics/level_zero/frontend_reader/reader.cc
  src/v/cloud_topics/level_zero/frontend_reader/reader.h
  src/v/cloud_topics/level_zero/stm/ctp_stm.cc
  src/v/cluster/cloud_metadata/tests/cluster_metadata_utils.h
  src/v/kafka/data/replicated_partition.cc
  src/v/kafka/server/group_manager.cc
  src/v/raft/recovery_stm.cc
  src/v/storage/disk_log_impl.cc
  src/v/storage/log_reader.h
  src/v/storage/tests/disk_log_builder_test.cc
  src/v/storage/tests/log_segment_reader_test.cc
  src/v/storage/tests/storage_e2e_test.cc
  src/v/storage/types.cc
  src/v/storage/types.h
Labels: area/build, area/redpanda

#27721 [CORE-13481] model: Log topic_id as base64
  src/v/model/BUILD
  src/v/model/fundamental.h
  src/v/model/model.cc
Labels: area/build, area/redpanda

#27803 k/write_at_offset_stm: create the stm for `kafka/_schemas` topic
  src/v/kafka/server/write_at_offset_stm.cc
Labels: area/redpanda

#27806 kafka/server: use truncating logger for `log_request`
  src/v/kafka/server/handlers/handler.h
Labels: area/redpanda

#27811 [v25.2.x] bzl: Update OpenSSL to 3.0.18
  MODULE.bazel.lock
  bazel/repositories.bzl
Labels: area/build

#27814 gh/workflows: fix name of installpack trigger
  .github/workflows/cloud-installpack-bk-trigger.yml
Labels: area/build

#27720 ct/frontend: Add simple combined reader
  src/v/cloud_topics/app.cc
  src/v/cloud_topics/frontend/BUILD
  src/v/cloud_topics/frontend/frontend.cc
  src/v/cloud_topics/frontend/frontend.h
  src/v/cloud_topics/state_accessors.h
Labels: area/build, area/redpanda

#27816 [v25.1.x] kafka/server: use truncating logger for `log_request`
  src/v/kafka/server/handlers/handler.h
Labels: area/redpanda, kind/backport

#27818 model: add record batch reader coroutine generator
  src/v/model/record_batch_reader.h
  src/v/model/tests/BUILD
  src/v/model/tests/record_batch_reader_gtest.cc
Labels: area/build, area/redpanda

#27819 ct/reconciler: Add lots more unit tests
  src/v/cloud_topics/reconciler/tests/reconciler_test.cc
Labels: area/redpanda
