Repository redpanda-data/redpanda, changes with the owners that CODEOWNERS names for each.
All owners: alex@vectorized.io, noah@vectorized.io, ivo@vectorized.io, david@vectorized.io, michal@vectorized.io, denis@vectorized.io

CODEOWNERS:

*                          alex@vectorized.io noah@vectorized.io
cmake/*                    ivo@vectorized.io
infra/*                    david@vectorized.io ivo@vectorized.io
packaging/*                david@vectorized.io michal@vectorized.io
tools/*                    ivo@vectorized.io michal@vectorized.io david@vectorized.io
conf/*                     david@vectorized.io
src/go/*                   michal@vectorized.io david@vectorized.io
src/v/prometheus           michal@vectorized.io
src/consistency-testing/*  denis@vectorized.io

Increase llvm-inline to 2500
  CMakeLists.txt
Owners: alex@vectorized.io, noah@vectorized.io

java/compacted-topic-verifier: added compression option
  src/java/compacted-log-verifier/src/main/java/io/vectorized/kafka/Producer.java
  src/java/compacted-log-verifier/src/main/java/io/vectorized/kafka/configuration/Configuration.java
  src/java/compacted-log-verifier/src/main/java/io/vectorized/kafka/configuration/ProducerConfig.java
  tools/compacted_topic_verifier.sh
Owners: alex@vectorized.io, noah@vectorized.io, ivo@vectorized.io, michal@vectorized.io, david@vectorized.io

3rdparty: update seastar to latest upstream
  3rdparty.cmake.in
Owners: alex@vectorized.io, noah@vectorized.io

raft: remove control sequences from format string
  src/v/raft/logger.h
Owners: alex@vectorized.io, noah@vectorized.io

raft: remove control sequences from format string
  src/v/raft/logger.h
Owners: alex@vectorized.io, noah@vectorized.io

storage: close segments on recovery failure
  src/v/storage/segment_set.cc
Owners: alex@vectorized.io, noah@vectorized.io

storage: close segments on recovery failure
  src/v/storage/segment_set.cc
Owners: alex@vectorized.io, noah@vectorized.io

3rdparty: Update to Seastar API_LEVEL 4
  3rdparty.cmake.in
  src/v/cluster/commands.h
Owners: alex@vectorized.io, noah@vectorized.io

3rdparty: Update to Seastar API_LEVEL 4
  src/v/cluster/commands.h
Owners: alex@vectorized.io, noah@vectorized.io

3rdparty: Update to Seastar API_LEVEL 5
  3rdparty.cmake.in
  src/v/kafka/groups/group_router.h
  src/v/rpc/server.cc
Owners: alex@vectorized.io, noah@vectorized.io

3rdparty: Update to Seastar API_LEVEL 5
  src/v/kafka/groups/group_router.h
  src/v/rpc/server.cc
Owners: alex@vectorized.io, noah@vectorized.io

3rdparty: Update to Seastar API_LEVEL 6
  3rdparty.cmake.in
Owners: alex@vectorized.io, noah@vectorized.io

c++20: Prefer invoke_result over result_of
  src/v/cluster/members_manager.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/raft/consensus_utils.h
  src/v/rpc/connection_cache.h
  src/v/test_utils/async.h
  src/v/utils/expiring_promise.h
  src/v/utils/retry.h
Owners: alex@vectorized.io, noah@vectorized.io

c++20: Prefer invoke_result over result_of
  src/v/cluster/members_manager.cc
  src/v/cluster/topic_table.cc
  src/v/cluster/topic_table.h
  src/v/raft/consensus_utils.h
  src/v/rpc/connection_cache.h
  src/v/test_utils/async.h
  src/v/utils/expiring_promise.h
  src/v/utils/retry.h
Owners: alex@vectorized.io, noah@vectorized.io

fmt: move js extension from clang_fmt to js_fmt
  tools/vtools/fmt/commands.py
Owners: alex@vectorized.io, noah@vectorized.io

fmt: format js files with js_fmt
  tools/ci/gcb_hooks/slack/index.js
Owners: alex@vectorized.io, noah@vectorized.io

tests: Check for null partition when waiting
  src/v/cluster/tests/partition_reassignment_test.cc
  src/v/kafka/tests/fetch_test.cc
  src/v/kafka/tests/list_offsets_test.cc
  src/v/kafka/tests/topic_recreate_test.cc
Owners: alex@vectorized.io, noah@vectorized.io

tests: Check for null partition when waiting
  src/v/cluster/tests/partition_reassignment_test.cc
  src/v/kafka/tests/fetch_test.cc
  src/v/kafka/tests/list_offsets_test.cc
  src/v/kafka/tests/topic_recreate_test.cc
Owners: alex@vectorized.io, noah@vectorized.io

s/tests: added test validating if all term are accessible
  src/v/storage/tests/storage_e2e_test.cc
Owners: alex@vectorized.io, noah@vectorized.io

r/recovery_stm: store committed_offset before reading batches
  src/v/raft/recovery_stm.cc
  src/v/raft/recovery_stm.h
Owners: alex@vectorized.io, noah@vectorized.io

t/cmake_test: disabled seastar io logger in tests output
  tools/cmake_test.py
Owners: ivo@vectorized.io, michal@vectorized.io, david@vectorized.io

s/tests: added test validating if all term are accessible
  src/v/storage/tests/storage_e2e_test.cc
Owners: alex@vectorized.io, noah@vectorized.io

s/segment: remove compacted_index after truncation
  src/v/storage/segment.cc
Owners: alex@vectorized.io, noah@vectorized.io

t/cmake_test: disabled seastar io logger in tests output
  tools/cmake_test.py
Owners: ivo@vectorized.io, michal@vectorized.io, david@vectorized.io

s/tests: added compacted log truncation tests
  src/v/storage/tests/storage_e2e_test.cc
Owners: alex@vectorized.io, noah@vectorized.io

s/tests: added compacted log truncation tests
  src/v/storage/tests/storage_e2e_test.cc
Owners: alex@vectorized.io, noah@vectorized.io

s/segment_index: always persist segment after updating max_offset
  src/v/storage/segment_index.cc
Owners: alex@vectorized.io, noah@vectorized.io

s/segment_index: always persist segment after updating max_offset
  src/v/storage/segment_index.cc
Owners: alex@vectorized.io, noah@vectorized.io

r/recovery_stm: store committed_offset before reading batches
  src/v/raft/recovery_stm.cc
  src/v/raft/recovery_stm.h
Owners: alex@vectorized.io, noah@vectorized.io

s/segment: remove compacted_index after truncation
  src/v/storage/segment.cc
Owners: alex@vectorized.io, noah@vectorized.io

Fixes fmt issue
  src/consistency-testing/chaostest/control/kafkakv.py
Owners: alex@vectorized.io, noah@vectorized.io

Fixes fmt issue
  src/consistency-testing/chaostest/control/kafkakv.py
Owners: alex@vectorized.io, noah@vectorized.io

3rdparty: fixed detecting linker executable
  3rdparty.cmake.in
Owners: alex@vectorized.io, noah@vectorized.io

3rdparty: passing correct compiler flags to dpdk
  3rdparty.cmake.in
  dpdk_config
Owners: alex@vectorized.io, noah@vectorized.io

rpk/grafana: using more accurate queries for summary
  src/go/rpk/pkg/cli/cmd/generate/grafana.go
  src/go/rpk/pkg/cli/cmd/generate/grafana_test.go
Owners: alex@vectorized.io, noah@vectorized.io

rpk/grafana: using more accurate queries for summary
  src/go/rpk/pkg/cli/cmd/generate/grafana.go
  src/go/rpk/pkg/cli/cmd/generate/grafana_test.go
Owners: alex@vectorized.io, noah@vectorized.io

Add http package
  src/v/http/CMakeLists.txt
  src/v/http/logger.cc
  src/v/http/logger.h
Owners: alex@vectorized.io, noah@vectorized.io

Add http package
  src/v/http/CMakeLists.txt
  src/v/http/logger.cc
  src/v/http/logger.h
Owners: alex@vectorized.io, noah@vectorized.io

Ipmlement chunked transfer encoing serialization
  src/v/http/CMakeLists.txt
  src/v/http/chunk_encoding.cc
  src/v/http/chunk_encoding.h
Owners: alex@vectorized.io, noah@vectorized.io

Ipmlement chunked transfer encoing serialization
  src/v/http/CMakeLists.txt
  src/v/http/chunk_encoding.cc
  src/v/http/chunk_encoding.h
Owners: alex@vectorized.io, noah@vectorized.io
