Repository redpanda-data/redpanda, changes with the owners that CODEOWNERS names for each.
All owners: alex@vectorized.io, noah@vectorized.io, ivo@vectorized.io, david@vectorized.io, michal@vectorized.io, denis@vectorized.io

CODEOWNERS:

*                          alex@vectorized.io noah@vectorized.io
cmake/*                    ivo@vectorized.io
infra/*                    david@vectorized.io ivo@vectorized.io
packaging/*                david@vectorized.io michal@vectorized.io
tools/*                    ivo@vectorized.io michal@vectorized.io david@vectorized.io
conf/*                     david@vectorized.io
src/go/*                   michal@vectorized.io david@vectorized.io
src/v/prometheus           michal@vectorized.io
src/consistency-testing/*  denis@vectorized.io

raft: remove dependency on message from recovery dispatch
  src/v/raft/consensus.cc
Owners: alex@vectorized.io, noah@vectorized.io

raft: make dispatch recovery logic reusable
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
Owners: alex@vectorized.io, noah@vectorized.io

raft: support signaling of recovery completion
  src/v/raft/consensus.cc
  src/v/raft/follower_stats.h
  src/v/raft/recovery_stm.cc
  src/v/raft/types.h
Owners: alex@vectorized.io, noah@vectorized.io

redpanda: add config options for raft leadership transfer
  src/v/config/configuration.cc
  src/v/config/configuration.h
Owners: alex@vectorized.io, noah@vectorized.io

redpanda: add config options for raft leadership transfer
  src/v/config/configuration.cc
  src/v/config/configuration.h
Owners: alex@vectorized.io, noah@vectorized.io

raft: support signaling of recovery completion
  src/v/raft/consensus.cc
  src/v/raft/follower_stats.h
  src/v/raft/recovery_stm.cc
  src/v/raft/types.h
Owners: alex@vectorized.io, noah@vectorized.io

raft: implement leadership transfer feature
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/errc.h
Owners: alex@vectorized.io, noah@vectorized.io

raft: implement leadership transfer feature
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/errc.h
Owners: alex@vectorized.io, noah@vectorized.io

redpanda: add rest interface to trigger raft leader transfer
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/admin/api-doc/raft.json
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
Owners: alex@vectorized.io, noah@vectorized.io

redpanda: add rest interface to trigger raft leader transfer
  src/v/redpanda/CMakeLists.txt
  src/v/redpanda/admin/api-doc/raft.json
  src/v/redpanda/application.cc
  src/v/redpanda/application.h
Owners: alex@vectorized.io, noah@vectorized.io

raft: make gcc happy about switch on enum
  src/v/raft/consensus.cc
Owners: alex@vectorized.io, noah@vectorized.io

raft: make gcc happy about switch on enum
  src/v/raft/consensus.cc
Owners: alex@vectorized.io, noah@vectorized.io

coproc: move rpcgen from ts-generator to ts-generator/types
  tools/ts-generator/types/functions.ts
  tools/ts-generator/types/test.ts
  tools/ts-generator/types/types_gen_js.py
Owners: alex@vectorized.io, noah@vectorized.io

coproc: move rpcgen from ts-generator to ts-generator/types
  tools/ts-generator/types/functions.ts
  tools/ts-generator/types/test.ts
  tools/ts-generator/types/types_gen_js.py
Owners: alex@vectorized.io, noah@vectorized.io

rpk/config/bootstrap: Refine IP deduction
  src/go/rpk/pkg/cli/cmd/config.go
  src/go/rpk/pkg/cli/cmd/config_test.go
Owners: alex@vectorized.io, noah@vectorized.io

rpk/config/bootstrap: Refine IP deduction
  src/go/rpk/pkg/cli/cmd/config.go
  src/go/rpk/pkg/cli/cmd/config_test.go
Owners: alex@vectorized.io, noah@vectorized.io

rpk: Update go module
  src/go/rpk/go.mod
  src/go/rpk/go.sum
Owners: alex@vectorized.io, noah@vectorized.io

conf: Add license_key field
  conf/redpanda.yaml
Owners: david@vectorized.io

rpk: Check the license key in every command
  src/go/rpk/pkg/cli/cmd/api.go
  src/go/rpk/pkg/cli/cmd/check.go
  src/go/rpk/pkg/cli/cmd/config.go
  src/go/rpk/pkg/cli/cmd/generate/prometheus.go
  src/go/rpk/pkg/cli/cmd/iotune.go
  src/go/rpk/pkg/cli/cmd/mode.go
  src/go/rpk/pkg/cli/cmd/start.go
  src/go/rpk/pkg/cli/cmd/status.go
  src/go/rpk/pkg/cli/cmd/stop.go
  src/go/rpk/pkg/cli/cmd/tune.go
Owners: alex@vectorized.io, noah@vectorized.io

conf: Add license_key field
  conf/redpanda.yaml
Owners: david@vectorized.io

rpk: Check the license key in every command
  src/go/rpk/pkg/cli/cmd/api.go
  src/go/rpk/pkg/cli/cmd/check.go
  src/go/rpk/pkg/cli/cmd/config.go
  src/go/rpk/pkg/cli/cmd/generate/prometheus.go
  src/go/rpk/pkg/cli/cmd/iotune.go
  src/go/rpk/pkg/cli/cmd/mode.go
  src/go/rpk/pkg/cli/cmd/start.go
  src/go/rpk/pkg/cli/cmd/status.go
  src/go/rpk/pkg/cli/cmd/stop.go
  src/go/rpk/pkg/cli/cmd/tune.go
Owners: alex@vectorized.io, noah@vectorized.io

rpk/config: Add func to check the license key
  src/go/rpk/pkg/config/license.go
  src/go/rpk/pkg/config/license_test.go
Owners: alex@vectorized.io, noah@vectorized.io

rpk: Update go module
  src/go/rpk/go.mod
  src/go/rpk/go.sum
Owners: alex@vectorized.io, noah@vectorized.io

rpk/config: Add license key field
  src/go/rpk/pkg/config/config.go
Owners: alex@vectorized.io, noah@vectorized.io

rpk/config: Add license key field
  src/go/rpk/pkg/config/config.go
Owners: alex@vectorized.io, noah@vectorized.io

rpk/config: Add func to check the license key
  src/go/rpk/pkg/config/license.go
  src/go/rpk/pkg/config/license_test.go
Owners: alex@vectorized.io, noah@vectorized.io

storage: remove compaction index on sealed segments
  src/v/storage/segment.cc
  src/v/storage/segment_utils.cc
  src/v/storage/segment_utils.h
Owners: alex@vectorized.io, noah@vectorized.io

storage: remove compaction index on sealed segments
  src/v/storage/segment.cc
  src/v/storage/segment_utils.cc
  src/v/storage/segment_utils.h
Owners: alex@vectorized.io, noah@vectorized.io

tools: add delete topic helper
  tools/kafka_simple_bench.sh
Owners: ivo@vectorized.io, michal@vectorized.io, david@vectorized.io

storage: fix spelling
  src/v/storage/segment.cc
  src/v/storage/segment.h
Owners: alex@vectorized.io, noah@vectorized.io

storage: fix spelling
  src/v/storage/segment.cc
  src/v/storage/segment.h
Owners: alex@vectorized.io, noah@vectorized.io

rpk/config: Fix missing license key msg
  src/go/rpk/pkg/config/license.go
Owners: alex@vectorized.io, noah@vectorized.io

rpk/config: Fix missing license key msg
  src/go/rpk/pkg/config/license.go
Owners: alex@vectorized.io, noah@vectorized.io

rpk/status: Lower error log level to debug
  src/go/rpk/pkg/cli/cmd/status.go
  src/go/rpk/pkg/system/utils.go
Owners: alex@vectorized.io, noah@vectorized.io

rpk/status: Lower error log level to debug
  src/go/rpk/pkg/cli/cmd/status.go
  src/go/rpk/pkg/system/utils.go
Owners: alex@vectorized.io, noah@vectorized.io

rpk/status: Fix debug statement & tests
  src/go/rpk/pkg/cli/cmd/status.go
  src/go/rpk/pkg/cli/cmd/status_test.go
Owners: alex@vectorized.io, noah@vectorized.io

rpk/status: Fix debug statement & tests
  src/go/rpk/pkg/cli/cmd/status.go
  src/go/rpk/pkg/cli/cmd/status_test.go
Owners: alex@vectorized.io, noah@vectorized.io

r/configuration: added support for joint configurations
  src/v/cluster/members_manager.cc
  src/v/raft/configuration.cc
  src/v/raft/configuration.h
  src/v/raft/configuration_bootstrap_state.cc
  src/v/raft/configuration_bootstrap_state.h
  src/v/raft/consensus.cc
  src/v/raft/consensus_utils.cc
  src/v/raft/group_manager.cc
  src/v/raft/heartbeat_manager.cc
  src/v/raft/kvelldb/kvserver.cc
  src/v/raft/replicate_entries_stm.cc
  src/v/raft/tests/bootstrap_configuration_test.cc
  src/v/raft/tests/configuration_manager_test.cc
  src/v/raft/tests/configuration_serialization_test.cc
  src/v/raft/tests/foreign_entry_test.cc
  src/v/raft/tests/group_configuration_tests.cc
  src/v/raft/tests/membership_test.cc
  src/v/raft/tests/raft_group_fixture.h
  src/v/raft/tests/simple_record_fixture.h
  src/v/raft/tests/type_serialization_tests.cc
  src/v/raft/tron/server.cc
  src/v/raft/vote_stm.cc
Owners: alex@vectorized.io, noah@vectorized.io

r/configuration: added support for joint configurations
  src/v/cluster/members_manager.cc
  src/v/raft/configuration.cc
  src/v/raft/configuration.h
  src/v/raft/configuration_bootstrap_state.cc
  src/v/raft/configuration_bootstrap_state.h
  src/v/raft/consensus.cc
  src/v/raft/consensus_utils.cc
  src/v/raft/group_manager.cc
  src/v/raft/heartbeat_manager.cc
  src/v/raft/kvelldb/kvserver.cc
  src/v/raft/replicate_entries_stm.cc
  src/v/raft/tests/bootstrap_configuration_test.cc
  src/v/raft/tests/configuration_manager_test.cc
  src/v/raft/tests/configuration_serialization_test.cc
  src/v/raft/tests/foreign_entry_test.cc
  src/v/raft/tests/group_configuration_tests.cc
  src/v/raft/tests/membership_test.cc
  src/v/raft/tests/raft_group_fixture.h
  src/v/raft/tests/simple_record_fixture.h
  src/v/raft/tests/type_serialization_tests.cc
  src/v/raft/tron/server.cc
  src/v/raft/vote_stm.cc
Owners: alex@vectorized.io, noah@vectorized.io

r/consensus: joint consensus handling
  src/v/raft/consensus.cc
  src/v/raft/consensus.h
  src/v/raft/replicate_entries_stm.cc
Owners: alex@vectorized.io, noah@vectorized.io
