Repository redpanda-data/redpanda, changes with the owners that CODEOWNERS names for each.
All owners: alex@vectorized.io, noah@vectorized.io, ivo@vectorized.io, david@vectorized.io, michal@vectorized.io, denis@vectorized.io

r/tests: merged raft tests to single-binary
  src/v/raft/tests/CMakeLists.txt
  src/v/raft/tests/raft_group_fixture.h
Owners: alex@vectorized.io, noah@vectorized.io

r/tests: merged raft tests to single-binary
  src/v/raft/tests/CMakeLists.txt
  src/v/raft/tests/raft_group_fixture.h
Owners: alex@vectorized.io, noah@vectorized.io

c/tests: merged cluster tests into one binary
  src/v/cluster/tests/CMakeLists.txt
  src/v/cluster/tests/autocreate_test.cc
  src/v/cluster/tests/commands_serialization_test.cc
  src/v/cluster/tests/topic_table_fixture.h
  src/v/cluster/tests/topic_updates_dispatcher_test.cc
  src/v/cluster/tests/utils.h
Owners: alex@vectorized.io, noah@vectorized.io

change coprocessor id number -> bigint
  src/js/modules/domain/generatedRpc/enableDisableCoproc.json
  src/js/modules/public/Coprocessor.ts
  src/js/modules/public/SimpleTransform.ts
  src/js/modules/supervisors/HandleTable.ts
  src/js/test/supervisors/Repository.test.ts
  src/js/test/testUtilities.ts
  src/js/test/utilities/CoprocessorTest.ts
Owners: alex@vectorized.io, noah@vectorized.io

change coprocessor id number -> bigint
  src/js/modules/domain/generatedRpc/enableDisableCoproc.json
  src/js/modules/public/Coprocessor.ts
  src/js/modules/public/SimpleTransform.ts
  src/js/modules/supervisors/HandleTable.ts
  src/js/test/supervisors/Repository.test.ts
  src/js/test/testUtilities.ts
  src/js/test/utilities/CoprocessorTest.ts
Owners: alex@vectorized.io, noah@vectorized.io

s/compaction: replaced flat_hash_map with node_hash_map
  src/v/storage/compaction_reducers.h
  src/v/storage/spill_key_index.h
Owners: alex@vectorized.io, noah@vectorized.io

s/compaction: replaced flat_hash_map with node_hash_map
  src/v/storage/compaction_reducers.h
  src/v/storage/spill_key_index.h
Owners: alex@vectorized.io, noah@vectorized.io

s/e2e_tests: disable cache in partition size test
  src/v/storage/tests/storage_e2e_test.cc
Owners: alex@vectorized.io, noah@vectorized.io

s/e2e_tests: disable cache in partition size test
  src/v/storage/tests/storage_e2e_test.cc
Owners: alex@vectorized.io, noah@vectorized.io

rpk/config: Make SMP optional
  src/go/rpk/pkg/cli/cmd/config_test.go
  src/go/rpk/pkg/cli/cmd/mode_test.go
  src/go/rpk/pkg/cli/cmd/start.go
  src/go/rpk/pkg/config/config.go
  src/go/rpk/pkg/config/config_test.go
Owners: alex@vectorized.io, noah@vectorized.io

rpk/config: Make SMP optional
  src/go/rpk/pkg/cli/cmd/config_test.go
  src/go/rpk/pkg/cli/cmd/mode_test.go
  src/go/rpk/pkg/cli/cmd/start.go
  src/go/rpk/pkg/config/config.go
  src/go/rpk/pkg/config/config_test.go
Owners: alex@vectorized.io, noah@vectorized.io

rpk/launcher: Only pass single flags if they're set to true
  src/go/rpk/pkg/redpanda/launcher.go
Owners: alex@vectorized.io, noah@vectorized.io

rpk/launcher: Only pass single flags if they're set to true
  src/go/rpk/pkg/redpanda/launcher.go
Owners: alex@vectorized.io, noah@vectorized.io

coproc: add array optional size and fix payload checksum
  src/js/modules/rpc/server.ts
  tools/ts-generator/rpc/rpc_gen_js.py
  tools/ts-generator/types/functions.ts
  tools/ts-generator/types/types_gen_js.py
Owners: alex@vectorized.io, noah@vectorized.io

coproc: add array optional size and fix payload checksum
  src/js/modules/rpc/server.ts
  tools/ts-generator/rpc/rpc_gen_js.py
  tools/ts-generator/types/functions.ts
  tools/ts-generator/types/types_gen_js.py
Owners: alex@vectorized.io, noah@vectorized.io

ssx: parallel_transform also supports move-only types
  src/v/ssx/future-util.h
Owners: alex@vectorized.io, noah@vectorized.io

ssx: parallel_transform also supports move-only types
  src/v/ssx/future-util.h
Owners: alex@vectorized.io, noah@vectorized.io

pp/server: Refactor: Extract context
  src/v/pandaproxy/context.h
  src/v/pandaproxy/server.h
Owners: alex@vectorized.io, noah@vectorized.io

pp/test: Label the tests with pandaproxy
  src/v/pandaproxy/json/requests/test/CMakeLists.txt
  src/v/pandaproxy/json/test/CMakeLists.txt
Owners: alex@vectorized.io, noah@vectorized.io

s/record_batch_builder: Make move assignable
  src/v/storage/record_batch_builder.h
Owners: alex@vectorized.io, noah@vectorized.io

pp/test: Label the tests with pandaproxy
  src/v/pandaproxy/json/requests/test/CMakeLists.txt
  src/v/pandaproxy/json/test/CMakeLists.txt
Owners: alex@vectorized.io, noah@vectorized.io

pp/server: Refactor: Extract context
  src/v/pandaproxy/context.h
  src/v/pandaproxy/server.h
Owners: alex@vectorized.io, noah@vectorized.io

s/record_batch_builder: Make move assignable
  src/v/storage/record_batch_builder.h
Owners: alex@vectorized.io, noah@vectorized.io

pp/client: Refactor: Wrap kafka::client
  src/v/pandaproxy/CMakeLists.txt
  src/v/pandaproxy/client/CMakeLists.txt
  src/v/pandaproxy/client/client.cc
  src/v/pandaproxy/client/client.h
  src/v/pandaproxy/context.h
  src/v/pandaproxy/proxy.cc
  src/v/pandaproxy/proxy.h
Owners: alex@vectorized.io, noah@vectorized.io

pp/client: Refactor: Wrap kafka::client
  src/v/pandaproxy/CMakeLists.txt
  src/v/pandaproxy/client/CMakeLists.txt
  src/v/pandaproxy/client/client.cc
  src/v/pandaproxy/client/client.h
  src/v/pandaproxy/context.h
  src/v/pandaproxy/proxy.cc
  src/v/pandaproxy/proxy.h
Owners: alex@vectorized.io, noah@vectorized.io

model: add interface for clearing record data
  src/v/model/record.h
Owners: alex@vectorized.io, noah@vectorized.io

model: add interface for clearing record data
  src/v/model/record.h
Owners: alex@vectorized.io, noah@vectorized.io

storage: incrementally clean-up batch cache index
  src/v/storage/batch_cache.cc
  src/v/storage/batch_cache.h
  src/v/storage/tests/batch_cache_reclaim_test.cc
  src/v/storage/tests/batch_cache_test.cc
Owners: alex@vectorized.io, noah@vectorized.io

storage: incrementally clean-up batch cache index
  src/v/storage/batch_cache.cc
  src/v/storage/batch_cache.h
  src/v/storage/tests/batch_cache_reclaim_test.cc
  src/v/storage/tests/batch_cache_test.cc
Owners: alex@vectorized.io, noah@vectorized.io

storage: fix use-after-free shutdown race in seg appender
  src/v/storage/segment_appender.cc
Owners: alex@vectorized.io, noah@vectorized.io

storage: fix use-after-free shutdown race in seg appender
  src/v/storage/segment_appender.cc
Owners: alex@vectorized.io, noah@vectorized.io

pp/client: Add configuration and logging
  conf/pandaproxy.yaml
  src/v/pandaproxy/application.cc
  src/v/pandaproxy/client/CMakeLists.txt
  src/v/pandaproxy/client/configuration.cc
  src/v/pandaproxy/client/configuration.h
  src/v/pandaproxy/client/logger.cc
  src/v/pandaproxy/client/logger.h
  src/v/pandaproxy/configuration.cc
  tests/rptest/services/templates/pandaproxy.yaml
Owners: david@vectorized.io, alex@vectorized.io, noah@vectorized.io

pp/client: Add configuration and logging
  conf/pandaproxy.yaml
  src/v/pandaproxy/application.cc
  src/v/pandaproxy/client/CMakeLists.txt
  src/v/pandaproxy/client/configuration.cc
  src/v/pandaproxy/client/configuration.h
  src/v/pandaproxy/client/logger.cc
  src/v/pandaproxy/client/logger.h
  src/v/pandaproxy/configuration.cc
  tests/rptest/services/templates/pandaproxy.yaml
Owners: david@vectorized.io, alex@vectorized.io, noah@vectorized.io

pp/conf: Add retry configuration
  src/v/pandaproxy/client/configuration.cc
  src/v/pandaproxy/client/configuration.h
Owners: alex@vectorized.io, noah@vectorized.io

pp/conf: Add retry configuration
  src/v/pandaproxy/client/configuration.cc
  src/v/pandaproxy/client/configuration.h
Owners: alex@vectorized.io, noah@vectorized.io

pp/client: Add broker_error
  src/v/pandaproxy/client/error.h
Owners: alex@vectorized.io, noah@vectorized.io

pp/client: Add broker_error
  src/v/pandaproxy/client/error.h
Owners: alex@vectorized.io, noah@vectorized.io

vtools/publish: Tag & push redpanda docker images on release
  tools/vtools/publish/commands.py
Owners: alex@vectorized.io, noah@vectorized.io

infra: Add redpanda dockerfile
  infra/Dockerfile
Owners: david@vectorized.io, ivo@vectorized.io

tools/ci: Add docker environment vars to release builds
  tools/ci/gcbuild.yml
Owners: alex@vectorized.io, noah@vectorized.io

CODEOWNERS:

*                          alex@vectorized.io noah@vectorized.io
cmake/*                    ivo@vectorized.io
infra/*                    david@vectorized.io ivo@vectorized.io
packaging/*                david@vectorized.io michal@vectorized.io
tools/*                    ivo@vectorized.io michal@vectorized.io david@vectorized.io
conf/*                     david@vectorized.io
src/go/*                   michal@vectorized.io david@vectorized.io
src/v/prometheus           michal@vectorized.io
src/consistency-testing/*  denis@vectorized.io
